[2018-05-30 11:30] garagatyi opened #9870 "Load Theia in Workspace.Next workspaces"
### Description
PR https://github.com/eclipse/che/pull/9774 brings an ability to try Workspace.Next in action. But workspaces with Theia feature don't load Theia IDE on start. We need to figure out how to change workspace loader component to allow it open Theia IDE if there is a runtime server corresponding to it.
FYI, for now, workspace loader seeks for Theia server in workspace configuration onl

[2018-05-30 11:35] garagatyi opened #9871 "Make Workspace.Next work with Dockerimage recipe type"
### Description
PR https://github.com/eclipse/che/pull/9774 provides an ability to try Workspace.Next on kubernetes recipe type workspaces.
We need the same fr Dockerimage recipe type.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-05-30 11:35] tsmaeder commented on #9856
We are using a protocol extension to fetch source for file in jars. We want to route this request to jdt.ls, in our case.

[2018-05-30 11:40] garagatyi commented on #9406
We might want to include next issues to this epic:
https://github.com/eclipse/che/issues/9870
https://github.com/eclipse/che/issues/9871

@slemeur WDYT?

[2018-05-30 11:46] sleshchenko opened #9872 "Dashboard shows two the same notifications when a workspace start is interrupted"
### Description
Dashboard shows two the same notifications when a workspace start is interrupted.

### Reproduction Steps
1. Create a workspace.
2. Start the workspace.
3. Interrupt a workspace start.
4. Pay attention to shown notifications.
Expected: There is a notification that a workspace start is interrupted.
Actual: There are two the same notifications that a workspace start is interrupted.

[2018-05-30 11:52] #8434 closed

[2018-05-30 12:05] dkuleshov commented on #9856
Well, my logic is simple, your statement is "regex is [only](https://dictionary.cambridge.org/dictionary/english/only) applied to the filename", however I see that it's also applied to workspace paths, I provide arguments and conclude that the statement is false which means that either description is not full or I misunderstand it.

If you could take a deeper look into class you could see that the

[2018-05-30 12:12] skabashnyuk commented on #9870
@garagatyi

Any ideas why?

[2018-05-30 12:30] carloreggiani commented on #9853
Sure!

---
[code]

[2018-05-30 12:35] eivantsov commented on #9853
@carloreggiani it's working for me on MiniKube 0.25. I will upgrade and check

[2018-05-30 12:41] gorkem commented on #9867
looks like a duppo https://github.com/eclipse/che/issues/9863

[2018-05-30 13:04] #9628 closed

[2018-05-30 13:06] AndrienkoAleksandr commented on #9716
Done.

[2018-05-30 13:06] #9716 closed

[2018-05-30 13:14] carloreggiani commented on #9853
Let me know @eivantsov

Another question: any experience to deploy Eclipse Che on Azure AKS or Docker EE 2.0?

[2018-05-30 13:37] benoitf commented on #9863
it seems now the addon server include as well the UI (this is why fireplace is read-only)

[2018-05-30 14:16] SkorikSergey opened #9876 "Sometimes workspace that starts with the Clangd language server on is failing"
### Reproduction Steps
1. Create workspace from **C++** stack.
2. Enable **Clangd** installer in the **Installers** tab and start the workspace.

**Actual result:**
Sometimes  workspace starting fails with **"Could not start workspace . Reason: Timeout reached before installation of 'org.eclipse.che.ls.clangd' completed"** error. There is not enough time to download and unpack resources.

**OS and

[2018-05-30 14:28] Ohrimenko1988 commented on #9860
Done https://github.com/eclipse/che/pull/9873

[2018-05-30 14:28] #9860 closed

[2018-05-30 14:35] tsmaeder opened #9877 "Debugging WSMaster seems to keep workspace container alive"
I've noticed that some containers stay behind when I do a "docker run -v /home/thomas/development/git/chedev/che:/repo -v /home/thomas/che:/data -v /var/run/docker.sock:/var/run/docker.sock eclipse/che:6.5.0 stop --fast". The output says "stopping containers" and "removing containers" without announcing any problems, but when I do a "docker ps" afterwards, the workspace containers is still running

[2018-05-30 14:53] garagatyi commented on #9870
Because workspace loader app scans workspace config for Theia server. And we don't have it in workspace next. Instead, we will have that server in runtime field but not on the very start of a workspace.

[2018-05-30 15:12] dmytro-ndp opened #9878 "Create test user in Eclipse Che on OCP which is run remotely"
### Description
E2E selenium tests of _Eclipse Che Multiuser on OCP_ are using keycloak admin CLI client inbuilt into local keycloak container as part of Eclipse Che multiuser to create test users. But we disallow creation of test user in case of we are testing product which is run remotely.

**_Solution_**: we can run docker container with keycloak admin CLI client locally and then use _--server_

[2018-05-30 15:24] bmicklea opened #9879 "Add factory support for pulling from k8s YAML in repo"
### Description
Today we allow factories to optionally [read runtime configuration from a dockerfile located in the repo](https://www.eclipse.org/che/docs/creating-factories.html#customizing-url-factories). However, this only works with dockerfiles today.

We should offer a similar ability to have factories read the runtime configuration from a Kubernetes YAML in a repo when using Che on Kube or O

[2018-05-30 15:34] mrmStack opened #9880 "timeout expired waiting for volumes to attach/mount for pod "eclipse-che"/"postgres-1-56ffs". list of unattached/unmounted volumes=[postgres-data]"
I try to deploy elipse che multiuser in openshift origin 3.9.0, and I follow the steps of the documents of eclipse che in openshift, but doesnt't work.

https://www.eclipse.org/che/docs/openshift-multi-user.html

after time out 10 min the pod fail and "oc get events" shows this:

Warning   FailedMount  kubelet, che-nodo.app.es    Unable to mount volumes for pod "postgres-1-56ffs_eclipse-che(8e8c10

[2018-05-30 15:41] mrmStack commented on #9880
LAST SEEN   FIRST SEEN   COUNT     NAME                                 KIND                    SUBOBJECT                     TYPE      REASON                        SOURCE                        MESSAGE
11m         11m          1         postgres-1-56ffs.153373ec11199ee3    Pod                                                   Normal    Scheduled                     default-scheduler

[2018-05-30 16:59] bmicklea commented on #9879
@benoitf your input here would be appreciated.

[2018-05-30 17:18] slemeur commented on #9879
This is aligned with the requirements from workspace.next https://github.com/eclipse/che/issues/8265

[2018-05-30 17:44] eivantsov commented on #9877
@tsmaeder maybe dropping `--fast` will force wsmaster to correctly stop all workspaces.

[2018-05-30 17:46] eivantsov commented on #9880
@mrmStack it looks like you do not have available PVs that can satisfy PVC that Postgres requires:

[code]

Can you log in as admin and run:

[code]

[2018-05-30 18:15] eivantsov commented on #9878
@dmytro-ndp there's a simpler way. Since you already have a container with Keycloak CLI running remotely, you can use `oc exec` to execute such commands. Btw, it can well be the default method of creating a user and doing any Keycloak config/admin work.

[2018-05-30 18:23] mrmStack commented on #9880
hi @eivantsov

[root@che-astro multi]# oc get pv
NAME      CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS    CLAIM                                   STORAGECLASS   REASON    AGE
pv0001    5Gi        RWO            Recycle          Bound     openshift-ansible-service-broker/etcd                            26m

[2018-05-30 18:26] mrmStack commented on #9880
I created the pv whith a yaml template like this:

apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv0001
spec:
  capacity:
    storage: 5Gi
  accessModes:
  - ReadWriteOnce
  nfs:
    path: /tmp
    server: 172.17.0.2
  persistentVolumeReclaimPolicy: Recycle

[2018-05-30 18:28] mrmStack commented on #9880
thanks so much!

[2018-05-30 19:05] eivantsov commented on #9880
@mrmStack you will need more pvs - https://www.eclipse.org/che/docs/openshift-admin-guide.html#storage-overview

[2018-05-30 19:26] mrmStack commented on #9880
Ok, but how I bind the pv whith the pvc in the template? because I will create in eclipse-che project the pvc, but I dont know how I can binding both.

thanks regards

[2018-05-30 19:27] mrmStack commented on #9880
would you mind some example for a deploy like this?

[2018-05-30 19:52] dmytro-ndp commented on #9878
Thank you for advice, Eugene. It would simplify creation of test user beside we will need to download "oc" client somewhere locally and call it anyway.

[2018-05-30 20:26] m1L31s commented on #9855
Some more details:

- Docker IP on my host is 172.17.0.1/16
- Che and Keycloak have 172.18.0.1 and 172.19.0.1
- Workspaces get IPs 172.20.0.1 until 172.30.0.1

The next workspace that is started gets somehow assigned to 192.168.16.1 and this will make network on the host machine unavailable. It is reproducable on my host. I tried to find out, how Che binds IPs to workspaces but I guess this should

[2018-05-30 20:57] tsmaeder commented on #9877
That may be,  but it worked with fast before.

[2018-05-30 21:01] gorkem opened #9881 "Missing image on factory docs"
There seems to be a typo or missing image on the pull request flow sub-heading which refers to a `pull-request-flow.png` https://www.eclipse.org/che/docs/creating-factories.html#pull-request-workflow

[2018-05-30 21:16] tsmaeder commented on #9877
That may be,  but it worked with fast before. Anyway, I don't think containers should be left running quietly in any case.

[2018-05-30 21:54] slemeur commented on #9406
Yes you are right @garagatyi, the issues you created should be considered in this epic.

[2018-05-31 01:44] #9469 closed

[2018-05-31 03:23] gdjinjiahao opened #9882 "Fail to execute "mvn clean install" in che"
### Description

I clone the source code of che in [https://github.com/eclipse/che](url) to my local host(windows 7), then I run the cmmand "mvn clean install". But there are some exceptions in go-agents. The exception information is following:

I run the maven as administrator and my golang is 1.10

[2018-05-31 03:37] eivantsov commented on #9882
@gdjinjiahao there should be the actual reason in logs just above the `[ERROR].` Have you got `GOROOT` and `GOPATH` in your env?

[2018-05-31 03:57] eivantsov commented on #9877
[code]
It's not related to `--fast` flag. Graceful stop is actually broken even though CLI log says everything is OK.

@skabashnyuk @mshaposhnik can this be cause by recent changes related to rolling and recreate update?

[2018-05-31 04:11] eivantsov commented on #9881
Fixed by https://github.com/eclipse/che-docs/pull/413

[2018-05-31 04:11] #9881 closed

[2018-05-31 04:13] eivantsov commented on #9878
@dmytro-ndp yes, that's my point - to deploy Che on OpenShift `oc` is must have anyway, so I think it's worth looking into doing remote execs rather than starting the same env locally.

[2018-05-31 04:14] eivantsov commented on #9880
@mrmStack you just need more PVs and that's it. Once a PVC is created, OpenShift will automatically bind it to a free PV that can satisfy the claim.

[2018-05-31 05:32] benoitf commented on #9868
hello, quick question @skabashnyuk
[code]

[code]

how do we download these .tar.gz file ?

[2018-05-31 05:34] benoitf commented on #9868
also, how do I upload pure theia plugins ? (no che feature archive) as marketplace should be able to handle both

[2018-05-31 06:36] gdjinjiahao commented on #9882
@eivantsov yes,I check the environment variables, then the `GOROOT` and `GOPATH` is set correctly

[2018-05-31 06:42] tsmaeder opened #9883 "LanguageServerConfigInitializer is called every time and too late"
LanguageServerConfigInitializer#initialize() is called every time someone calls org.eclipse.che.api.languageserver.LanguageServerService.initialize(String). However, since the config is only read once at startup, it would be sufficient to do the initialization of the language server configs once.
Also, in the jdt.ls plugin, we need to start a language server without opening a java file, in order t

[2018-05-31 06:45] eivantsov commented on #9882
@gdjinjiahao I think go agents cannot be compiled on Windows - that's why I asked for an error message preceding the final [ERROR].

[2018-05-31 06:51] mrmStack commented on #9880
ok!, then...I have to create one pvc for each pv?, or I can create one pv in ReadWriteMany and bind all pvc's in one pv?...because the pvc should create inside the project....I'm wrong??

Che server claims 1GB to store logs and initial workspace stacks. PVC mode is RWO.
Keycloak needs 2 PVCs, 1Gb each to store logs and Keycloak data.
Postgres needs one 1GB PVC to store db.

thanks so much @eivants

[2018-05-31 06:54] eivantsov commented on #9880
@mrmStack you don't need to create any PVCs. IJust make sure you have at least 5 PVs.

Once Che is deployed, a unique PVC strategy is used by default, which means start of a new workspace will require a new PV.

However, you can reconfigure it - https://www.eclipse.org/che/docs/openshift-admin-guide.html#common-pvc-strategy

[2018-05-31 07:14] gdjinjiahao commented on #9882
I find the error message preceding the final [ERROR]
[code]
So, the absence of `syscall.Kill` leads to this exception?

[2018-05-31 07:20] eivantsov commented on #9882
@gdjinjiahao yes, go agents can be compiled on Linux only. You can use `eclipse/che-dev` image to do that

[2018-05-31 07:27] slemeur commented on #9868
@skabashnyuk : If you can manage to provide the URL to download the plugins that would allow other team to move forward.

[2018-05-31 08:07] mshaposhnik opened #9885 "Docker infrastructure must report that it doesn't supports workspaces recovery"
### Description
As it was supposed to support workspaces recovery on Docker ifrastucture, in fact it doesn't at the moment due to networking problems. That causes problems on graceful shutdown like [this](https://github.com/eclipse/che/issues/9877#issuecomment-393394021) because infra reports that it is supports recovery and workspaces didn't stop at shutdown.
Need to fix infra to make it correctl

[2018-05-31 08:10] mshaposhnik commented on #9877
Iverstigateg, cause is clear, issue to fix: https://github.com/eclipse/che/issues/9885

[2018-05-31 08:19] benoitf commented on #9868
@skabashnyuk
I can describe the usecases if it may help

1. : Deploy "on the fly" a Che plugin from the registry from a running che instance.
 note: this che plugin has no workspace configuration (like a LSP to declare, etc) so there is no requirement to "stop/update workspace-config/start" a workspace
details:
      -  allow to list plugins from the IDE itself (or UD) and be able to install/unins

[2018-05-31 08:36] riuvshin commented on #9815
@vkuznyetsov ping

[2018-05-31 08:42] Blendman974 opened #9886 "Postgres : no such image while starting che"
### Description
Che refuses to start because postgres image doesn't exist !

### Reproduction Steps
Start / Download che after a removing images (rmi)
**OS and version:**
Docker version 18.03.1-ce, build 9ee9f40
Debian 9
Version 6.6.0
**Diagnostics:**
[code]

[2018-05-31 08:50] eivantsov commented on #9886
@Blendman974

`docker rm -f $(docker ps -aq)`

And re-run the CLI

[2018-05-31 08:56] Blendman974 commented on #9886
Fixed thanks !

[2018-05-31 08:56] #9886 closed

[2018-05-31 09:38] mmorhun commented on #9644
So @olexii4 gives an idea to improve IDE behaviour in case popups is blocked. So we can add dialog with link to click to open a new tab with hosted instance.

[2018-05-31 10:04] artaleks9 opened #9889 "Delete the 'try/catch' block from the 'PullRequestPluginTest' according to close the issue #9484"
### Description
* Need to delete the _try/catch_ block from the selenium test
* Related selenium test: _PullRequestPluginTest_
* Related closing issue: #9484

[2018-05-31 10:20] artaleks9 opened #9890 "Delete the 'try/catch' block from the 'TestWorkspaceImpl' according to close the issue #9556"
### Description
* Need to delete the _try/catch_ block from the _TestWorkspaceImpl_
* Related closing issue: #9556

[2018-05-31 10:29] l0rd opened #9891 "Release a new 6.5 patch (v6.5.2)"
We need 6.5.1 + the following commits:

https://github.com/eclipse/che/commit/d95255ca1c36a8cf5e678e960cdb64f4d1654399
https://github.com/eclipse/che/commit/0a5264603f727d7a82ec4ec279300dc080d9fb86
https://github.com/eclipse/che/commit/72e350bc51a9934861a3f8b79d4f0280b21ea783

[2018-05-31 10:31] m1L31s commented on #9855
It is a docker related issue (see also https://github.com/moby/moby/pull/36396). I can't change docker0 IP range, all solutions I found aren't working on my Ubuntu 16.04 host. However, I am able to bind Che to a custom docker bridge network with
_docker run -it -e CHE_MULTIUSER=true -e CHE_HOST=<myCheHostIP> -v /var/run/docker.sock:/var/run/docker.sock -v /opt/che/.che-multiuser:/data --network=my

[2018-05-31 11:34] mmorhun opened #9894 "Automatic opening of a new tab with hosted instance on ocp ends up in service unavailable"
### Description
When user wants to test a plugin under development the main IDE starts hosted instance and only then opens a new tab, but user sees 503 error page. Hosted instance is actually started but ocp route hasn't ready yet. So refresh of that 503 error page in a few seconds resolves the problem, but it is very uncomfortable for development.

### Reproduction Steps
Run Theia hosted instance

[2018-05-31 11:34] riuvshin commented on #9846
I do not see that issue anymore on latest builds 308-314
https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/

So I consider it is fixed. Feel free to reopen if that will appear again.

[2018-05-31 11:34] #9846 closed

[2018-05-31 11:45] mshaposhnik commented on #9885
Fixed in https://github.com/eclipse/che/pull/9887

[2018-05-31 11:45] #9885 closed

[2018-05-31 11:46] mshaposhnik commented on #9877
Fixed in https://github.com/eclipse/che/pull/9887

[2018-05-31 11:52] skabashnyuk opened #9895 "Adapt ws.next model to new requirements"
### Description
1. We need to have an ability to install Theia plugins in workspace runtime from Theia IDE
2. We need to have an ability to define language syntax.

[2018-05-31 11:53] skabashnyuk commented on #9895
Until now I've considered Theia container as a thing that has nothing to do with workspace lifecycle.
But with requirement [1] it is quite hard to do. I guess we need to do the opposite.

1. Theia container on start gets a list of ChePlugins from workspace configuration.
2. From Plugins registry it gets all ChePlugins configurations with links to Theia plugins archives.
3. Download archives and st

[2018-05-31 11:55] skabashnyuk commented on #9868
@benoitf here https://github.com/eclipse/che/issues/9895#issuecomment-393506109 I've tried to adjust my vision to your thoughts.

[2018-05-31 12:01] mmorhun commented on #9676
Done

[2018-05-31 12:01] #9676 closed

[2018-05-31 12:20] mmorhun commented on #9642
Done: https://github.com/theia-demo-plugins/wiptheia-docker-image

[2018-05-31 12:20] #9642 closed

[2018-05-31 12:51] SkorikSergey commented on #9876
Fixed.

[2018-05-31 12:51] #9876 closed

[2018-05-31 13:17] slemeur commented on #9895
Is "4." force a restart of the workspace ?

[2018-05-31 14:12] rhopp opened #9898 "Provide better error message, when git push fails"
### Description
Right now, when git push fails, only general message is displayed:
![image](https://user-images.githubusercontent.com/1215011/40784433-f1910cf0-64e5-11e8-8a5e-f81ab01805a2.png)
This is completely misleading message in some cases (for example the case from `Reproduction Steps` section)
It would be great, if the message would tell what the actual error is (`rejected - non-fast-forwar

[2018-05-31 14:22] slemeur commented on #8974
I was more thinking about the ability to define more than one target for a particular task.

1/ Sorry but it's not clear for me what do you mean by "task panel"? Quick open widget or terminal widget?

The task panel is the panel where you are displaying the outputs of the task.

Ok, thanks. Do you feel it is correct? I personaly feel it disturbing in term of UX.

I was more meaning about displayin

[2018-05-31 14:28] ghost opened #9899 "Remove unused stacks and add docs instructions on how to create workspaces from docs not in the default list"
### Description

Since quite a few stacks are actually not tested and were updated last time a long time ago, it makes sense  to update them and move out of the default stacks.json list.

Some stacks are to be removed at all since they were either added for test purposes or they made sense for a particular version of Che only. Other stacks will be removed from the list, however, there will be a do

[2018-05-31 14:39] rhopp commented on #9898
@dmytro-ndp I can see nothing suspicious in `/workspace_logs/ws-agent/logs/catalina.log` (nor in archives)

[2018-05-31 14:45] mrmStack commented on #9880
hi @eivantsov ,

first stuff, thanks for alll
I get to run postgres & and keycloak, but che server, doesn't work.  It's the same method that I used to deploy postgres and keyckIoak??, beacuse in the documents of eclipse che I read this... I try but none.

oc apply -f pvc/che-server-pvc.yaml
oc new-app -f che-server-template.yaml -p ROUTING_SUFFIX=${ROUTING_SUFFIX} -p CHE_MULTIUSER=true
oc set volu

[2018-05-31 14:50] eivantsov commented on #9880
@mrmStack yes, this is how you deploy Che server. You may check pod logs

[2018-05-31 15:16] mrmStack commented on #9880
che server is the only doesn't works, is necesary that I must put the flag https if my master have address https:che-astrto.app.es:8443 ??

![image](https://user-images.githubusercontent.com/36670698/40790547-8a5fbe0e-64f5-11e8-9b78-03dbd27135f3.png)

thanks for all!!

[2018-05-31 15:16] agajdosi opened #9900 ""Workspace is not running" pop-up window blocks workspace from being used"
### Description
When user starts workspace from left menu bar, instead from pop-up window, the pop-up window gets stuck forever and in order to proceed, the page must be reloaded.

### Reproduction Steps
1. create a workspace
2. start workspace from left menu bar instead of pop-up window
![screenshot from 2018-05-31 17-10-10](https://user-images.githubusercontent.com/22000268/40790572-9cb48eea-64f

[2018-05-31 15:22] eivantsov commented on #9880
[code]
Or you can go to eclipse che project in https://che-astrto.app.es:8443/, click on Che pod icon, logs tab

[2018-05-31 15:28] eivantsov commented on #9900
@agajdosi I just tried it on a local cluster, and starting a workspace the way you showed actually makes the popup disappear.  Can you consistently reproduce it?

[2018-05-31 15:31] mrmStack commented on #9880
i write a bash script for a request to server and the server response 200 ok to me...but I dont know if I should use the https flag for install eclipse che if my address master server openshift is this:

https://che-astrto.app.es:8443/

bash script:

[code]

[2018-05-31 15:34] eivantsov commented on #9898
Hm... I have the following message in UI

[code]

[2018-05-31 15:37] eivantsov commented on #9880
@mrmStack just get Che pod logs:

![image](https://user-images.githubusercontent.com/5337267/40792079-b20da158-6501-11e8-9713-cd75c9f7a185.png)

[2018-05-31 15:37] mrmStack commented on #9880
I follow this steps:

create che pv:
[code]
oc apply -f pvc/che-server-pvc.yaml

che-server-pvc.yaml:
[code]

oc new-app -f che-server-template.yaml  -p CHE_MULTIUSER=true

oc set volume dc/che --add -m /data --name=che-data-volume --claim-name=che-data-volume

[2018-05-31 15:41] mrmStack commented on #9880
I don't acces with graphical ui, because I am working outside the local network cluster...but the logs of the pod are this:
[code]
the steps that I followed are right?

[2018-05-31 15:44] mrmStack commented on #9880
Should I modify some fields of che-server template?
---
[code]

[2018-05-31 17:20] mrmStack commented on #9880
it's posible that I have a problem with ip-tables rules?

`Readiness probe failed: Get http://10.129.0.254:8080/api/system/state: dial tcp 10.129.0.254:8080: getsockopt: connection refused`

thanks @eivantsov

[2018-05-31 18:36] mrmStack commented on #9880
It's posible that the template use the deployer user and service doesn't allow create the conection with the route http://10.129.0.254:8080/api/system/state ??
[code]

[2018-05-31 23:13] gorkem commented on #9895
I am OK with having just one `ChePlugin`. How will this work if a workspace does not include the Theia service? I am trying to understand how we would handle dependencies and common services between different `ChePlugin`s.

[2018-05-31 23:43] gorkem commented on #9856
@dkuleshov jdt.ls returns a special [scheme](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L432) `jdt://` for .class files on dependency jars. IDE needs to invoke some logic on the language server to retrieve the contents of the .class file when it encounters the `jdt://` scheme. That is why @tsmaeder needs a way to

[2018-05-31 23:57] gorkem commented on #9863
Please keep in mind that we want to able to run the marketplace optionally on-prem therefore day 1 and day 2 operations is my main concern with this.

[2018-06-01 00:02] gorkem commented on #9894
I see similar behavior with Spring boot preview URLs as well. @l0rd is there a route configuration we can try that would eliminate this delay on route recognizing the server?

[2018-06-01 00:09] gorkem commented on #9859
copying @davidfestal

[2018-06-01 02:13] xinjie188 opened #9901 "Error: UPGRADE FAILED: error validating "": error validating data: found invalid field test for v1beta1.DeploymentSpec"
### Description
Deploying with Helm
Multi User

### Reproduction Steps
Execute the command
helm upgrade --install <che-release-name> --namespace <che-namespace> -f ./values/multi-user.yaml --set global.ingressDomain=<domain> ./

Error message reported

Error: UPGRADE FAILED: apiVersion "rbac.authorization.k8s.io/v1" in che/charts/che-keycloak/templates/endpoints-monitor-role.yaml is not available

[2018-06-01 03:32] eivantsov commented on #9880
@mrmStack that's a deployer pod. You need logs from Che pod.

[2018-06-01 03:37] eivantsov commented on #9901
@xinjie188 quite possible, since I cannot reproduce it on 1.9.0 cluster.

[2018-06-01 05:43] ShagunBhatt commented on #9789
Thank you @eivantsov for providing the response. Hence, closing the issue.

[2018-06-01 05:43] #9789 closed

[2018-06-01 05:45] ShagunBhatt commented on #9788
@eivantsov Can any guide be provided for this PR ?

[2018-06-01 05:56] eivantsov commented on #9788
https://github.com/eclipse/che-docs/pull/393

[2018-06-01 06:10] xinjie188 commented on #9901
@eivantsov Thank you. I'll try a 1.9 cluster redeployment

[2018-06-01 06:16] mrmStack commented on #9880
Ok thanks!!, I show you my pod logs now

[2018-06-01 06:45] tsmaeder opened #9902 "Language Servers Providing providing Workspace Symbols should always be started"
Currently, language servers are only started when a relevant file is opened. However, when looking for workspace symbols, we should start the all activated language servers that could provide workspace symbols. Currently, no symbols will be found from LSs that are not started.
Note that starting language servers might be a performance hit. We should make sure work is not blocked while the language

[2018-06-01 06:51] eivantsov commented on #9788
@ShagunBhatt you may build Che from the branch in the PR and give it a try

[2018-06-01 06:53] #9094 closed

[2018-06-01 07:02] paraseleneelf opened #9903 "delete git project failed"
Description
When I tried to delete a git project in che ,it failed. And then I found a strange file called ".nfs00000000032e015600000009e" in path ".git/object/pack".This file can not be deleted ,because device or resource busy.

Reproduction Steps
    1.import a project from git
    2.delete the project
    3.delete project failed and that strange file appeared

OS and version:
    all image of c

[2018-06-01 07:07] eivantsov commented on #9903
@paraseleneelf what is your OS?

[2018-06-01 07:26] ShagunBhatt commented on #9788
@eivantsov I have referenced the Che source from below :
https://github.com/eclipse/che.git

There is no branch for #9097 . Please suggest a way to take the source code of this PR or i have to add changes manually to my eclipse che source version i.e. 6.0.0.

[2018-06-01 07:28] #9631 closed

[2018-06-01 07:29] mrmStack commented on #9880
This is the only get me the logs....

--> Scaled older deployment che-1 down
--> Scaling che-2 to 1
error: update acceptor rejected che-2: pods for rc 'eclipse-che/che-2' took longer than 600 seconds to become available.

![image](https://user-images.githubusercontent.com/36670698/40827548-2f3bbf44-657e-11e8-87b2-5df34ec53a30.png)

[2018-06-01 07:30] Ohrimenko1988 commented on #8122
The bug is actual again
**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/233/Selenium_tests_report/

[2018-06-01 07:35] eivantsov commented on #9788
This PR is made from a fork. Take a look at PR description - github says it all

[2018-06-01 07:36] eivantsov commented on #9880
You need to trigger deployment again and grab logs.

[2018-06-01 07:41] mrmStack commented on #9880
![image](https://user-images.githubusercontent.com/36670698/40828016-bb152e82-657f-11e8-88ab-d0944bd6a865.png)

and how make some thing like this? where I have to look?

[2018-06-01 07:44] eivantsov commented on #9877
Yes. The issue is fixed.

[2018-06-01 07:44] #9877 closed

[2018-06-01 07:47] eivantsov commented on #9880
Go to Deployments > Che. Click deploy button. After that go to Pods > Che pod > Logs

[2018-06-01 07:50] gazarenkov commented on #9902
I would not say it can be qualified as a bug, LSP specs stated:

The current protocol specification defines that the lifetime of a server is managed by the client (e.g. a tool like VS Code or Emacs). It is up to the client to decide when to start (process-wise) and when to shutdown a server.

and I doubt we have something else specified.

Ideally, a client, caring of resources consuming, should st

[2018-06-01 07:51] agajdosi commented on #9900
Hi @eivantsov, thanks for trying. It is consistent for me, tried today 5 times with different workspaces and every time I face the issue.

[2018-06-01 08:12] mrmStack commented on #9880
![image](https://user-images.githubusercontent.com/36670698/40829612-443d8ba6-6584-11e8-8d3c-73d0b9947678.png)

don't show me anything.....

[2018-06-01 08:14] mrmStack commented on #9880
I don't understand what happening....

[2018-06-01 08:17] eivantsov commented on #9880
@mrmStack you took a deployer pod again.

[2018-06-01 08:17] yinpeng0007 opened #9904 "Add Command with che API success , But dashboard does not show it ???"
### Description
I want to add a command to any project in my workspace , so I use the workspace API for add command which named "api/workspace/{workspaceId}/command" and use POST request.

My POST body  is :
{
    "name":"yp3:run1",
    "type":"mvn",
    "attributes":{
        "previewUrl":"",
        "goal":"Run1"
    },
    "commandLine":"mvn -f ${current.project.path} clean install
java -jar ${

[2018-06-01 08:28] mrmStack commented on #9880
yes I deploy again...and say me the same....

it's better that I will start deploy che since start ?

[2018-06-01 08:30] paraseleneelf commented on #9903
@eivantsov Ubuntu 16.04.4 LTS

[2018-06-01 08:31] mrmStack commented on #9880
And the services that I deployed yesterday, the route that assigned in the Keycloak service don't bring me to any web site....

[2018-06-01 08:34] l0rd commented on #9894
No we cannot control the delay. And in some installations (with multiple sync'ed haproxy) it may last more than others. The correct approach should be to wait for the route to be available before opening the new tab.

[2018-06-01 08:36] eivantsov commented on #9904
@yinpeng0007

Cannot reproduce. Maybe you need to refresh the IDE?

![image](https://user-images.githubusercontent.com/5337267/40830806-018e6c2e-6590-11e8-99d5-919fe7757fab.png)

![image](https://user-images.githubusercontent.com/5337267/40830745-e4b9556e-658f-11e8-929f-051d3ca3dd44.png)

[2018-06-01 08:38] eivantsov commented on #9903
@paraseleneelf is the local dir that you mount into `/data` an nfs volume?

[2018-06-01 08:39] eivantsov commented on #9880
@mrmStack all I need is Che logs. Are you familiar with OpenShift?

![image](https://user-images.githubusercontent.com/5337267/40830956-6dad2e9a-6590-11e8-9064-62c4ccb96843.png)

[2018-06-01 08:42] skabashnyuk commented on #9844
github.com/gin-gonic/gin  replaced with already approved https://github.com/julienschmidt/httprouter
New CQ
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16568   gopkg.in/yaml.v2 v2.2.1
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=16569  ghodss/yaml v1.0.0

[2018-06-01 08:42] #9844 closed

[2018-06-01 08:54] paraseleneelf commented on #9903
@eivantsov this dir is not a n nfs volume,but the dir in environment variable called "CHE_PROJECTS_ROOT" is mount from an nfs volume

[2018-06-01 08:54] mrmStack commented on #9880
sorry @eivantsov, I'm newer with openshift deploys...and I don't understand some concepts...but in the logs of the worker node whose run the containers keycloak and postgres show me this:

[code]

thanks for your help...

[2018-06-01 08:57] azatsarynnyy commented on #8974
As I understood "multiple targets" means that a user can define the several targets and he/she should be asked to pick a one later. If it's correct then yes, it can be implemented as further improvements.

I agree with you. Theia's Terminal widget is very simple and having Che's own output widget with additional functionality, which is Che specific, may be better solution.

As for me, I like the a

[2018-06-01 08:57] mrmStack commented on #9880
![image](https://user-images.githubusercontent.com/36670698/40831957-9feef9f2-658a-11e8-8844-c52a3a0fa2e6.png)

[2018-06-01 09:00] Ohrimenko1988 opened #9905 "Workspace can not be deleted after using not accessible image"
### Reproduction Steps
 - Go to dashboard and create the workspace by default "Java" stack
 - Go to workspaces list and click on created workspace
 - In the opened "workspace details" page go to a "Machine" section
 - Change machine image to "eclipse/ubuntu_jd"
 - Save changes and run workspace
 - After error message showing try to delete workspace
 - Pay attention to the error message

**Expected

[2018-06-01 09:01] yinpeng0007 commented on #9904
@eivantsov I know that if I refresh the tab ,is can works. But I do not want to refresh it ! Is there any resolutions?

[2018-06-01 09:02] eivantsov commented on #9903
I think this is what causes the problem since workspace agent cannot delete this file. Not sure I understand what that file is.

[2018-06-01 09:04] eivantsov commented on #9880
@mrmStack this is not enough. A the beginning of a log and start of exception thread is what helps.

I have already provided instruction on where to find Che pod logs.

[2018-06-01 09:05] ashumilova opened #9906 "Add Close the document to Editor API"
The new Editor API should contain methods for closing the document. The task includes following items to be done:
- [x] document the API
- [x] develop the defined API
- [x] test it on the sample plugin

[2018-06-01 09:07] ashumilova opened #9907 "Add Save the document to Editor API"
The new Editor API should contain methods for saving the underlying file. The task includes following items to be done:
- [x] document the API
- [x] develop the defined API
- [x] test it on the sample plugin

[2018-06-01 09:08] tsmaeder commented on #9895
About 4. above: I think we should think the other way around: che server should update the workspace config and tell Theia to add some extensions.

[2018-06-01 09:12] eivantsov commented on #9904
@yinpeng0007 no, the IDE must be reinitialized to grab the list of commands in a workspace config. Right cligh > Commands does not send get requests to workspace API each time.

[2018-06-01 09:13] garagatyi commented on #9406
I believe that we don't have to put this server under Eclipse foundation for the time, so this might not be mandatory for this phase.

[2018-06-01 09:14] mrmStack commented on #9880
Yes, I have followed your instructions, but openshift says me that the logs are not avaiable...I dont understand what happening now.

[2018-06-01 09:16] mrmStack commented on #9880
I believe that the problem is the permisions of the user admin openshift...or some thing like this...

[2018-06-01 09:20] ashumilova opened #9908 "Add new items to namespace for current environment in Plugins API"
The new plugin model should contain API for accessing the information about current environment, where Theia IDE was run. The task includes following items to be done:
- [ ] define the API for retrieving the following information:
     - [ ] appName (The application name of the editor, like 'VS Code', that runs the plugin
     - [ ] language (Represents the preferred user-language, like de-CH, fr,

[2018-06-01 09:24] AndrienkoAleksandr opened #9909 "Fix selenium test after update xterm.js from 2.4.0 to 3.3.0 version."
### Description
Fix selenium test after update xterm.js from 2.4.0 to 3.3.0 version.
Related issue: https://github.com/eclipse/che-lib/issues/57

[2018-06-01 09:29] yinpeng0007 commented on #9904
ok, /server1urlmucm-dev-machine/server-4401/api/project/tree/commands?depth=1&includeFiles=true
you know this API ??  why it always 404??  and response "{message: "Can't find item /commands"}"？

[2018-06-01 09:56] mrmStack commented on #9880
I am following the same steps, but the logs are unavaiable....I'm so sorry @eivantsov  but I think to deploy eclipse che in docker swarm...because in openshift doesn't work...

[2018-06-01 11:02] rhopp commented on #9898
@eivantsov You have that message in Che in OSIO? This might be related to the way, how authorization against github works on OSIO (github token is injected by che-stareter using this endpoint: https://github.com/eclipse/che/blob/master/multiuser/keycloak/che-multiuser-keycloak-token-provider/src/main/java/org/eclipse/che/multiuser/keycloak/token/provider/contoller/TokenController.java#L51)

[2018-06-01 11:33] eivantsov commented on #9898
@rhopp this is upstream repo :) So, I used upstream Che to try to reproduce the issue you have run into.

[2018-06-01 11:35] eivantsov commented on #9880
@mrmStack sorry about that. Logs are there, you just need to figure out how to use my suggestions to get them

[2018-06-01 11:39] tsmaeder commented on #9895
About the configuration of the language and typescrip-tokenprovider.ts: why do we need to do that? I don't understand the use case.

[2018-06-01 11:54] skabashnyuk commented on #9895
@tsmaeder
basic idea is to add language syntax support without codding
https://github.com/eclipse/che/blob/master/ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/editor/filetype/ExtensionFileTypeIdentifier.java#L55-L167
https://github.com/theia-ide/theia/blob/44c36d90f91615b5eed6591640c5e0fdf589feb8/packages/typescript/src/browser/typescript-language-config.ts#L86-L87
second is a theia

[2018-06-01 11:58] mrmStack commented on #9880
Only show me this logs..
[code]

[2018-06-01 12:00] Ohrimenko1988 commented on #9542
This issue may be closed because the main problem was resolved. But bug with deleting of the workspace is still actual. It is described in the next issue:
https://github.com/eclipse/che/issues/9905

[2018-06-01 12:00] #9542 closed

[2018-06-01 12:00] dkuleshov commented on #9856
@gorkem I might be wrong, but here what I think:
- Che IDE **initially** operates with `FileType` instances, there is `FileType` <-> `LanguageServerEditorProvider` or `FileType` <-> `LanguageServer` associations for example. So when we want to know which language server to call we first identify `FileType` and then eventually we know the server. But `FileType` has no path regular expressions or sc

[2018-06-01 12:08] tsmaeder commented on #9895
I think there is no use case anymore for allowing contribution of language server processes in workspace configuration (and no associated code).
We introduced that because it was not possible for third parties to add plugins in Che classic without creating their own assembly.

So the idea would be to have a Theia plugin that reads the workspace config at startup and registers Languages? Where woul

[2018-06-01 12:10] sleshchenko commented on #9905
I think the reason for this issue is that Kubernetes/OpenShift runtime doesn't support start termination correctly. It should be fixed by https://github.com/eclipse/che/pull/9816

[2018-06-01 12:12] eivantsov commented on #9880
@mrmStack I have run out of ideas on how to help you give me Che pod logs just after it started. I recorded an animated gif to make it obvious but you still doing things they way you do.

Without Che server logs I won't be able to say why Che server crashed (nobody can)

[2018-06-01 12:14] skabashnyuk commented on #9895
What I understand from your comment that we should do all syntax configuration from code (Theia plugin) and I should not worry about language support.

[2018-06-01 12:21] vparfonov commented on #9856
@dkuleshov  Good explanation nothing to add form my side

[2018-06-01 12:44] rhopp commented on #9898
@eivantsov I'm aware this is upstream repo. The code is living hre (che-multiuser-keycloak-token-provider), so I reported it here.
I would try that directly on upstream che, but not sure how to run upstream che with this (the token injection) mechanism in place.

[2018-06-01 13:14] garagatyi opened #9913 "Service discovery of APIs running in tooling containers of Workspace.Next"
### Description
In Workspace.Next we have an ability to launch a server (API) in a sidecar container and then access it from another container. For example Theia. This is the case we have with Language servers in Workspace.Next. Even though we can start a LS as a sidecar it is not obvious how Theia LSP client would connect to this LS.
So we should find a way how to address that in Workspace Next.

[2018-06-01 13:15] garagatyi commented on #9913
cc @l0rd @skabashnyuk @tsmaeder @gorkem @slemeur @benoitf @ashumilova

[2018-06-01 13:19] garagatyi commented on #9913
@tsmaeder @gorkem @slemeur @l0rd WDYT about option 1 where we don't have any particular service discovery mechanism, but have to have Che specific code that can find needed URLs from Che Workspace API suggested by Sergii? This is much simpler and we can start from that right now. On the other hand it require Che specific code in each component(plugin) that wants having a sidecar agent which might

[2018-06-01 13:30] #9890 closed

[2018-06-01 13:38] gorkem commented on #9856
Of the two tasks you have mentioned do we need to do one or the other? Also I am under the impression that replacing `wsPath/fsPath` approach is a smaller effort. Is that true?

[2018-06-01 13:41] bsukramlitt opened #9914 "Cannot start workspaces on K8S azure loadbalancer can't bind to cluster ip"
### Description
Hi all

AKS V1.9.2

I got a strange issue with che 6.3 deployed in k8s.  if I try to open a workspace the page starts to load but the workspace is never created

[code]

![image pasted at 2018-6-1 16-38](https://user-images.githubusercontent.com/5337267/40846968-b3fed942-65c3-11e8-9125-0d919fd8cd5f.png)

[2018-06-01 13:44] dmytro-ndp commented on #9815
@ScrewTSW: you can run selenium tests now by using maven if you set all required environment variables and maven parameters explicitly.
Or you meant another use case?

[2018-06-01 14:13] ScrewTSW commented on #9815
Well, it is possible to run them by setting appropriate values, but that's heavily IDE dependent.
Having those pre-set in maven profiles so that all we would have to do is call `mvn clean install <goal>` would be really beneficial for test execution (especially on ci.centos.org).
I would like to avoid scripts as much as possible, though I didn't say we have to drop the support for current scripts

[2018-06-01 14:33] musienko-maxim opened #9916 "Unexpected exceptions in dev console after enabling/disabling maven modules"
### Reproduction Steps
*  Clone test project: [simple-maven-multimodule](https://github.com/maxura/CHE-maven-multimodule-sample.git)
* Configure as maven project and open parent `pom.xml`
* Exclude my-lib module

**OS and version:** 7885bc5f9b40926f

**Expected result:** the module should be excluded without errors.
**Actual result:** after excluding we have unexpected  errors on dev-machine conso

[2018-06-01 14:36] bsukramlitt commented on #9914
I Also notices `Failed to start Kubernetes runtime of workspace workspacenee7lz0ophft9npc. Cause: Waiting for ingress` in the logs

[2018-06-01 14:37] musienko-maxim commented on #8465
I suspect that problem may be reproduced under specific loading (processor, IO, filesystem). For start a try to load network by load - instrument (Jmeter) and reproduce it again.

[2018-06-01 14:42] musienko-maxim opened #9917 "Investigate unexpected fails the NavigateToFile feature on CI"
### Description
We have unstable selenium test NavigateToFileTest. The problem is reproduced only CI infrastructure. We have suppose that problem depend on loading a system. For first checking we should generate loading on network and REST by Jmeter and check the behavior the feature under loading.

[2018-06-01 14:44] dkuleshov commented on #9856
@gorkem I'm still not sure that I completely understand the problem but I think that

should be enough to register servers by their schemas and path regex, while the second task is more of a general improvement and in some way ideological change.

I apologize, it seems I was not clear enough, in fact I don't think that replacement for current `wsPath`/`fsPath` approach is a smaller effort. Technic

[2018-06-01 14:45] musienko-maxim opened #9918 "Create selenium test for covering TypeScript language server"
We should create test for quick checking TypeScript LS. The scenario was described in he test plan for LS. More details here: https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers
OS and version: Should be implemented on Openshift origin/docker versions of the CHE.

[2018-06-01 16:49] eivantsov commented on #9913
@garagatyi btw, some Che Theia plugins already rely on a workspace API extension and env variables in Theia, so that they can grab ws-id, call workspace API and get links from runtime. So, this isn't new.

But it's a good question - whether or not we need to have Che specific code in those plugins. In other words, do we need to make those plugins run in a standalone Theia?

On the other hand, we w

[2018-06-01 18:03] slemeur commented on #8974
Thanks for your answer @azatsarynnyy !

[2018-06-01 21:21] abargnesi opened #9919 "Failed to connect to AWS ECR due to missing auth credentials (Workspace Build)"
### Description

I am running Eclipse Che in Single User mode on Docker:

[code]

I have edited `/home/vagrant/che-root/che.env` to include AWS ECR config:

[code]

Then I configure a simple docker-compose recipe with:

[code]

When I create workspace using this stack I receive:

[code]

**OS and version:**

Ubuntu 18.04 LTS

Eclipse Che 6.5.2: Single User mode on Docker

[2018-06-02 01:36] gorkem commented on #9913
I think we can get best of both worlds. We already had a conversation about modifying the LS client on Theia to read connection parameters from environment variables. Theia client would read the environment variable and connect with those parameters otherwise fallback to local connection. This mechanism will be invisible to the LS and not specific to Che.

So far we have assumed that those paramet

[2018-06-02 01:58] gorkem commented on #9902
It should be possible for LS to opt-in to be started. For instance jdt.ls is started on vscode if it encounters a pom.xml or gradle file on the workspace. OTOH yaml LS is not started until a yaml file is opened on the editor and it does not make sense for it to be started.

[2018-06-02 08:43] tsmaeder opened #9920 "RegistryContainer is not a Singleton"
The class org.eclipse.che.api.languageserver.RegistryContainer is marked with the annotation @Singleton, but when debugging, you can see multiple instances of this class.
The class must be bound "asEagerSingleton()" in LanguageServerModule to be a really a singleton.

[2018-06-02 08:45] tsmaeder commented on #9920
Note that the behaviour is timing dependent. When, by accident, a single instance is created when no other injection site requests an instance, a single instance is reused, but when things go on in parallel, you can see two instances.

[2018-06-02 08:48] mrmStack commented on #9880
Hi @eivantsov,

Exists anyway to look the logs via terminal (client oc)? because i don't understand why, but in my interface doesn't appear the logs, and I followed the same steps of you in the animation.

thanks regards

[2018-06-02 09:45] #9920 closed

[2018-06-02 09:56] tsmaeder commented on #9883
Actually, a @PostConstruct will not work, since commands are called from the client, but moving the call to LanguageServerInitializer#initialize() would take care of the initialization for all users of the API.

[2018-06-02 11:17] mrmStack commented on #9880
It seems that's working now, I create 4 pv volumes and I run the deploy_che.sh that's inside the repository of che with the corresponents enviorment variables. The buils shows me the same error, and I have deleted the claim volume and I have build only the template again, and it's working now....

Do you have any idea why?

[code]

[2018-06-02 20:49] gazarenkov commented on #9902
Yes, start of some LSes (such as Java) can be triggered by the opening project of particular type.
For example we can expect Java (maven, gradle) project containing quite many .java files, so we can expect that *most probably* client will open java file (sooner or later) and so start java LS on opening such a project.

[2018-06-02 23:49] abargnesi commented on #9919
Are there additional credentials needed besides the AWS access and secret keys?

[2018-06-03 11:01] gdjinjiahao opened #9921 "How to solve the ant BuildException?"
### Description

there is a exception when I execute "mvn clean install" in the root of che. Maven fails to build `Che Dashboard :: Web App`. The error message is following:
[code]
The version of my node is 10.2.0 and npm is 6.1.0.
I check the error message preceding final `Error`, as follow:
[code]
I think `[exec] npm ERR! network connect ETIMEDOUT 104.18.97.96:443` is the cause of this exception

[2018-06-03 17:04] #9819 closed

[2018-06-03 21:40] dmytro-ndp commented on #9878
@eivantsov: could you, please, explain where we can obtain name of pod with keycloak (like **keycloak-1-ww7gk** from your example above) if Che is deployed remotely?

[2018-06-04 04:29] eivantsov commented on #9921
@gdjinjiahao by default UserDashboard is built in a Docker container. You need to usea native profile. Just add  `-Pnative` to your build command.

[2018-06-04 04:30] eivantsov commented on #9919
@abargnesi can you try the same with a single container workspace? So, create a custom stack from dockerimage recipe type.

[2018-06-04 04:41] eivantsov commented on #9878
@dmytro-ndp you can grep it in the output of `oc get pods` (worst case) or you can use selector when getting pods. Just an example (you may find own ways of obtaining Keycloak pod name):

[code]

[2018-06-04 05:08] eivantsov commented on #9902
Just a side note: in case of an LS in a sidecar, it's started in the entrypoint/cmd of a container and since this is the main container process, failed LS == failed container, which means a failed workspace.

[2018-06-04 05:13] eivantsov commented on #9913
@gorkem good point. So, ideally, if **smth** grabs `$ls_service_name:$ls_port` from LS service description and throws it into the IDE pod with Theia as an environment variable, Theia LS client can then make decisions accordingly?

Question: do we need internal endpoints (service:port) or external ones (routes) in this particular case? Will these two containers be part of one pod? Or two different

[2018-06-04 06:16] gazarenkov commented on #9902
@eivantsov
Well, thats how it works but I would say it is not necessary to fail workspace for all the cases.
Like yaml LS's container failing may not be that important for starting workspace.

[2018-06-04 07:01] liubin10 opened #9922 "Some widget can not display normally"
Hi all

In Preferences and Create New Project dialog，some widgets can not display entirely.

![40902642-4519e134-6807-11e8-9bf3-b7c514a1bfd7](https://user-images.githubusercontent.com/32632875/41011099-c42792fc-696d-11e8-8bce-d23745006470.png)
![40902635-3fc134d0-6807-11e8-84ee-916e03493dbf](https://user-images.githubusercontent.com/32632875/41011100-c5737dd8-696d-11e8-8ed5-5c765eb7710c.jpg)

[2018-06-04 07:13] philcolol opened #9923 "Che 6.3.0 does not show diagnostics after page refresh"
### Description
After refresh page diagnostics do not compute

![validations_test](https://user-images.githubusercontent.com/11789456/40903100-5324d79a-67e7-11e8-9d56-ab37557f83e1.gif)

### Reproduction Steps
1. Create any simple java project
2. Write some gibberish to produce validation errors
3. Refresh page
4. Diagnostics do not reappear, there is error message in dev-machine console related to

[2018-06-04 07:33] #7371 closed

[2018-06-04 08:18] tsmaeder opened #9924 "Consistent Lifecycle Events for Projects"
I have been analysing selenium failures in the jdt.ls branch, and one of the reasons stuff fails is that we rely on Project created events. The idea is to make jdt.ls become aware of all projects that che is aware of.
Looking at the Events in org.eclipse.che.api.project.server.notification, I have noticed that they are not sent from all code paths creating projects.
For example, ProjectCreatedEven

[2018-06-04 08:31] musienko-maxim opened #9925 "Adapt C# language server test according new configuration"
### Description
The workspace configuration that uses `CSharpFileEditingTest` looks like outdated. We should apply new conf. for CHE on docker/openshift
See also:  https://github.com/eclipse/che/issues/9351

[2018-06-04 08:53] garagatyi commented on #9913
I think that the case is a bit different. Since we can't use a plugin to set env vars in a pod. In my mind the use case is:
We add a Che-specific plugin that reads server links from Workspace API and updates nodejs env accordingly. So we don't need any service discovery mechanism.
In this case we always depend on reading env vars by Theia, but we can have several ways to set those env vars.

For t

[2018-06-04 08:58] dmytro-ndp commented on #9878
Thank you for answer, @eivantsov
Another moment: I have receive an error when try to execute the command against locally installed OCP origin:
[code]

AFAIK it's because I didn't define https cerificate to request to https://172.19.20.137:8443, is it?

[2018-06-04 08:59] qianlei90 commented on #7986
@eivantsov tks, I found the problem.
just a reminder for someone who has the same problem as mine, to resolve your domain, add your dns to kube-dns:

[code]

for details, see [official doc](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#configure-stub-domain-and-upstream-dns-servers).

[2018-06-04 09:38] gdjinjiahao commented on #9921
@eivantsov Thanks for your answer. `ETIMEOUT` is solved. But then, there is a new exception when building `Che Dashboard :: Web App 6.7.0-SNAPSHOT`. The error message is following:
     [exec] Phantom installation failed { [Error: EACCES: permission denied, mkdir '/home1/laojin/programs/che-master/dashboard/node_modules/phantomjs/lib/phantom']
[code]
I try to run `chmod 777  /home1/laojin/programs

[2018-06-04 09:38] #9889 closed

[2018-06-04 10:30] vparfonov commented on #9477
@artaleks9 Please check this again

[2018-06-04 10:42] eivantsov commented on #9913
@garagatyi there's a Theia plugin that can talk to workspace API. I think the point that Gorkem and Thomas are trying to make is that in this case, LS client in Theia won't be universal, and will work only when Theia is a part of a Che workspace.

Otherwise, the approach is clear enough.

[2018-06-04 10:43] slemeur commented on #9549
@eivantsov : I think you have a way to handle this. As this been added to the documentation?

[2018-06-04 10:46] davidwindell commented on #9813
This is very helpful, thank you!

[2018-06-04 10:46] #9813 closed

[2018-06-04 10:58] tsmaeder commented on #9924
Maybe it makes sense to make the interface IProjectConfigRegistry package private since it's not really supposed to be implemented by someone else.

[2018-06-04 11:04] #9191 closed

[2018-06-04 11:30] ashumilova opened #9927 "Create sample plugin for demoing feature of workspace.next"
The particular plugin is just an example of  the Theia plugin, that will be defined as part of workspace.next feature. It contains the registered action for Quick Open named "Launch Jenkins service" and the handler, that will call the service. _[TODO] - the details about service to be added_

[2018-06-04 11:43] dkuleshov commented on #9924
I think it's a reasonable suggestion by @tsmaeder to make project related events consistent. I agree with @gazarenkov that we should keep project registry as simple as possible, it has it's own humble responsibilities.

I'm also concerned that `ProjectManager` and current project lifecycle are not quite ready to support **consistent** project related events, I mean if we're talking about real cons

[2018-06-04 11:46] gazarenkov commented on #9924
Well, ProjectConfigRegistry is already an interface with 2 implementations (second one - experimental)... do not mind to make it package private, indeed, it is not something to be implemented externally.

[2018-06-04 12:00] tsmaeder commented on #9924
@dkuleshov I don't see the problem quite as difficult as you do. "Existence" as far as Che is concerned means that there is a ProjectConfig for the project. When Che first becomes aware of a workspace folder (be it via project API or via FS events, it should send out a "created" event, when it receives a notification for something that already exists, it should send a "update" event. We could be s

[2018-06-04 12:20] dkuleshov commented on #9924
@tsmaeder I'm always seeing it all more difficult :D I'll try to explain my concerns more. If you take a look here `org.eclipse.che.api.project.server.impl.ProjectServiceApi#createProject` and go deeper you will see that currently we rise a `ProjectCreatedEvent` not on the creation of a directory but right after a project and all its content is created (source files, resources, etc.), if I remembe

[2018-06-04 12:20] gazarenkov commented on #9924
I'd say it is 2 independent events: like folderCreated(path) and projectCreated(project metainfo). generally speaking they can be emitted by different machines (project service can be remote from project fs)
and, they can be transmitted to other remote workspace machines, I think?

[2018-06-04 12:27] kostiamol opened #9929 "Multi-user deploy: the need of PostgreSQL"
In my cluster, I already have Keycloak and MariaDB. How can I use them instead of deploying another Keycloak and PostgreSQL in the multi-user context?

[2018-06-04 12:35] gazarenkov commented on #9924
@tsmaeder I believe folder creation is not that important for jdt.ls.
I think, if you want to launch it in advance (not on java file opening), it can rely on project created/updated event when ProjectType.isTypeOf(Java)  (which including maven etc)?

[2018-06-04 12:38] lhein opened #9930 "Download URL of the Camel LSP server binary will soon be broken"
### Description
We are cleaning up our tags and pre-releases for Camel LSP Server and therefore its very likely that the LSP will no longer be downloadable from the URL currently used in Che. I provided a PR with a 1.0.0 pre-release download url which is persistent and will not be deleted anytime soon. Please switch to that URL to ensure Camel LSP is still working in future.

### Reproduction Step

[2018-06-04 12:38] lhein commented on #9930
see PR at #9928

[2018-06-04 12:43] eivantsov commented on #9549
@slemeur no, not in docs yet. It felt somewhat wrong to document it, so I hoped some automation on server side is possible.

[2018-06-04 12:51] eivantsov commented on #9878
@dmytro-ndp why are you using WebConsole endpoint instead of a local Keycloak? Take a look at the example above - I am using localhost:8080 which is where Keycloak is running in the container.

[2018-06-04 12:55] dmytro-ndp commented on #9878
The point is to create test user in Eclipse Che on OCP which is run **remotely** compare to selenium tests

[2018-06-04 12:58] skabashnyuk commented on #9895
@gorkem  I'm sorry. I guess I've added some confusion on terminology. I'll try to make things more clear below.

This is an IDE loader concern. It's trying to find a link to a server with ```ide``` attribute inside. In case if other ISV wants to use Che with another ide they have to use service with a server with ide attribute inside as a part of a workspace.

I think that we can take versioning m

[2018-06-04 13:02] musienko-maxim commented on #9786
I may suppose that the problem may be around producing too long output in the dev-machine console:
![screencast-che-eclipse-che 172 19 20 240 nip io-2018 06 04-15-54-41](https://user-images.githubusercontent.com/1640058/40918963-aea35a00-6810-11e8-93c2-27b314894b7f.gif)

[2018-06-04 13:19] dkuleshov commented on #9796
False assumption.

[2018-06-04 13:21] #9781 closed

[2018-06-04 13:31] eivantsov commented on #9878
@dmytro-ndp why do you need this `https://172.19.20.137:8443/`?

Can you share command you execute?

[2018-06-04 13:31] benoitf commented on #9895
question
what part is responsible to compute
[code]
metadata

About

it should be renamed to org.eclipse.theia as theia is moving to Eclipse.

about the `Feature` example
is it possible to include external files ? and how they'll be listed

For example can I just link an external plugin from a feature.
Let say a theia plugin is stored on the registry/marketplace.
Could I link this theia plugin fro

[2018-06-04 13:45] claam commented on #9786
Yes, that's the problem

[2018-06-04 13:46] dmytro-ndp commented on #9878
My fault - you are right that we should use http://localhost:8080 when requesting keycloak pod.
I confused it with OCP console address which we should connect to firstly to obtain the keycloak pod name.

[2018-06-04 13:56] eivantsov commented on #9929
@kostiamol yes for Keycloak, no for PostgreSQL

[2018-06-04 14:00] kostiamol commented on #9929
@eivantsov For what serves PostgreSQL?

[2018-06-04 14:02] eivantsov commented on #9929
@kostiamol I don't think I understood your question.

What postgres is doing in Che multi user deployment? Persists Che and keycloak data.

[2018-06-04 14:05] rhopp opened #9934 "Unable to delete remote branch from che UI."
# Feature request
### Description
If I'm not blind, there is no way how to delete remote git branch using Che. The `Branches` dialog is able to delete reference to the remote branch, but not the branch itself.
I would like to be able to delete remote branches (what `git push -d <remote> <branch>` does)

**OS and version:**
Eclipse Che 6.6.0

[2018-06-04 14:09] tsmaeder commented on #9924
@dkuleshov First, I think that the addition of content can be done before or after creating the project. We may have to use some kind of mutual exclusion ("lock workspace") to ensure we don't get an early creation event via the file system events. Eclipse has locking mechanisms for resource scopes exactly for this purpose, I think the same approach applies.
@gazarenkov I really think it would be b

[2018-06-04 14:12] kostiamol commented on #9929
@eivantsov So I'm forced to use autodeployed by che PostgreSQL but I can use my local Keycloak. What changes should I make to chart for linking che with Keycloak?

[2018-06-04 14:20] tsmaeder commented on #9924
@dkuleshov what I mean is, that instead of doing this:
[code]
We could do
[code]

[2018-06-04 14:22] eivantsov commented on #9929
https://www.eclipse.org/che/docs/openshift-config.html#multi-user-using-own-keycloak-and-psql

You need to point Che to your Keycloak instanse and provide things like realm, client etc

[2018-06-04 14:27] gdjinjiahao commented on #9921
@eivantsov Thanks for your answer. `ETIMEOUT` is solved. But when I run `mvn clean install -rf :che-dashboard-war -Pnative`, che will triggers a new exception. The error message is following:
[code]
I check the directory `/home1/laojin/programs/che-master/dashboard/target/`, there is no `dist`.
There is no message preceding the final error but some warnings. As follow:
[code]
By reading the last l

[2018-06-04 15:04] eivantsov commented on #9786
@claam @musienko-maxim i'll try to play with clangd start command to make it less verbose to see if it fixes the issue.

[2018-06-04 15:23] gazarenkov commented on #9924
@tsmaeder ok, good to know it is just general thoughts, not related to jdt.ls

So, as discussed, I think, we can consider making eventing more consistent generating projectCreated event on ProjectManager's import() operations.

[2018-06-04 17:36] eivantsov commented on #9930
Thanks @lhein merged

[2018-06-04 17:36] #9930 closed

[2018-06-04 21:05] abargnesi commented on #9919
I tried a dockerimage stack, but had the same error.

Steps taken:

1. Create a stack from dockerimage:

[code]

2. Go to `Add Workspace` → `Single Machine`.
3. Select stack from (1).
4. Select `Create` then `Run`.

Received the error:

[code]

The che logs from `/logs/archive/2018/06/04/catalina.log` shows:

[code]

I'll dig into the stacktrace and see what I can find. I couldn't find any referen

[2018-06-05 03:11] abargnesi commented on #9919
The registry and credentials are specified in `ParallelDockerImagesBuilder` according to [this code](https://github.com/eclipse/che/blob/master/infrastructures/docker/infrastructure/src/main/java/org/eclipse/che/workspace/infrastructure/docker/ParallelDockerImagesBuilder.java#L268-L272).

Tracing that further you can see the use of `UserSpecificDockerRegistryCredentialsProvider` to find credential

[2018-06-05 06:54] rahul545 opened #9935 "adding project templates to che"
I tried adding a template by changing the samples.json file in core-ide-templates and building che. However, it does not work. Am I missing something?

First I cloned the eclipse che source code from github and made changes in that before building it.

[2018-06-05 07:05] bsukramlitt commented on #9914
Turns out its a combination of a zero impact rated bug of aks 1.9.x < 1.9.6 which is caused by the way you check ingress to be ready
`  // wait for LB ip
    List<Ingress> readyIngresses = new ArrayList<>();
    for (Ingress ingress : createdIngresses) {
      Ingress actualIngress =
          namespace
              .ingresses()
              .wait(
                  ingress.getMetadata().getName

[2018-06-05 07:41] ShagunBhatt commented on #9788
@eivantsov For the Pull Request of #9097, could you please let us know a plan etc., if available, as by when it will be incorporated in the Release Version of Che?
We are waiting for its support.

[2018-06-05 08:16] eivantsov commented on #9788
@ShagunBhatt some changes were requested from PR author. So, waiting for the PR to be finalized.

[2018-06-05 08:49] eivantsov commented on #9935
@rahul545 you need to create a json file with your custom samples and put it to `${local-dir/}/instance/data/templates/`

[2018-06-05 09:46] eivantsov commented on #9935
@rahul545 yes, the default samples.json is always there. I have just tried to add a custom samples1.json file. It does not go anywhere after Che restart:

![image](https://user-images.githubusercontent.com/5337267/40968541-76d2d624-68be-11e8-88f5-30e55c70e935.png)

[code]

[2018-06-05 09:51] rahul545 commented on #9935
thanks!

[2018-06-05 09:51] #9935 closed

[2018-06-05 10:47] ShagunBhatt commented on #9788
@eivantsov Thanks for the information. is there any specific timeline ?

[2018-06-05 10:52] eivantsov commented on #9788
@ShagunBhatt I'd answer if I were the author of this PR. @hkolvenbach may know

[2018-06-05 11:22] bsukramlitt opened #9936 "Che workspace does not start in kubernetes (nginx ingress not used as loadbalancer entry)"
### Description

Hello,
I run into an issue with che. If I deploy che the master just boots normal.

**The Setup**

Che 6.6.0
Azure AKS 1.9.6

The master can be accessed at https://webide.ourdomain.com which works.
I extracted the relvant endpoints from our config

[code]

**The Problem**

The workspaces cant be started correctly.
* The ws container is created
* The ws ingress and service is creat

[2018-06-05 11:26] eivantsov opened #9937 "Zend stack: Errors when creating composer project type, command failures"
## Usecase 1

1. Create a workspace from Zend stack. Choose any sample from the list.

Workspace agent fails to start with the trace below:

[code]

## Use case 2

1. Create a workspace form Zend stack. Do not select any projects in User Dashboard
2. When in the IDE, go to Workspace > Create a project > astro-splash

![image](https://user-images.githubusercontent.com/5337267/40973157-e04bd72e-68cb

[2018-06-05 11:40] slemeur commented on #9937
@kaloyan-raev @bartlomiej-laczkowski Is that something you could give a look at?

[2018-06-05 11:49] tsmaeder commented on #9924
As far as jdt.ls is concerned, I'm interested in getting a notification whenever a new project config appears. But generally, I think handling the lifecycle of RegisteredProject instances in a single and sendint events from there class will make the code more robust: no need to think about it when adding new code.

[2018-06-05 11:59] kostiamol opened #9938 "Multi-user deploy: Failed to pull image "alpine:3.5": rpc error"
Using the command
 `sudo helm upgrade --install eclipse-che --namespace che-ns -f ./values/multi-user.yaml --set global.ingressDomain=che ./`
 I tried to deploy che in multi-user mode. But there were some errors. Particularly,
 `Failed to pull image "alpine:3.5": rpc error: code = Unknown desc = Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.T

[2018-06-05 13:41] #8939 closed

[2018-06-05 14:27] #9255 closed

[2018-06-05 14:47] JPinkney commented on #8941
I believe we can use https://github.com/theia-ide/theia/blob/master/packages/java/src/browser/java-commands.ts#L68 to address the jdt.ls specifically

[2018-06-05 14:49] bsukramlitt commented on #9936
What really would help is to know where in the code i have to point my debugger to see how ws master establishes its connection to the workspace

[2018-06-05 14:50] eivantsov commented on #9936
@sleshchenko can you take a look please?

[2018-06-05 14:52] bs-matil opened #9941 "Request: Add storageClass as config option for workspaces"
### Description
Right now one cant set the following in a PersistentVolumeClaim of a che workspace
[code]

This forces the user to e.g. set a global default which has to fit che and anything else (which is unlikely)
Or to disable the persistence

Can you please add an option to configure the storage class?

**OS and version:**

Che 6.6.x

[2018-06-05 14:53] davidfestal opened #9942 "Release a 6.5.3 bugfix version on branch `6.5.x`"
Could you create a `6.5.3` bug-fix version on the `6.5.x` branch with the following commit: 6227792fc464a2fb0146c227ffbcf685479e5654

This will be used by OSIO

[2018-06-05 15:14] cenkce commented on #9810
Is there any idea what problem is? I create new file extension plugin using it but I can't. Or You have any recommendations?

[2018-06-05 16:05] liyanliang1994 opened #9943 "Terminal disconnect when another workspace is starting or stopping on kubernetes"
### Description
I try to start several workspaces and the terminal doesn't work sometimes.
### Reproduction Steps
After a workspace started, I try to start another one, and when it's starting, the terminal in the previous workspace doesn't work and can't reconnect again unless I start a new terminal. This also happens when another workspace is stopping.
**OS and version:**
che 6.6.0
kubernetes 1.9

[2018-06-05 16:11] liyanliang1994 commented on #9943
I guess the problem is caused by the nginx-ingress. When a workspace starting, new ingresses is generated and the nginx will reload, which breaks the websoket.

[2018-06-05 16:44] liyanliang1994 opened #9944 "Import project name has a backslash"
### Description
Import a project from github, and the project name has a backslash at the page of workspace.
### Reproduction Steps
![test](https://user-images.githubusercontent.com/39881038/40989559-c1fb32d8-6920-11e8-86e1-c73df66db0e1.gif)
**OS and version:**
che 6.6.0
**Diagnostics:**

[2018-06-05 16:54] liyanliang1994 commented on #9944
[326th line in ProjectImportManager.java](https://github.com/eclipse/che/blob/483f0492f856f43ebe4738e8b465e6a51a770a3c/wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/impl/ProjectImportManager.java#L326)
shoud be
`String name = wsPath.substring(wsPath.lastIndexOf(separator) + 1);`

[2018-06-05 17:58] eivantsov commented on #9944
@liyanliang1994 and it does not happen if you correctly finish import process, ie set a project type. So not sure this is a bug, unless @vparfonov claim it is.

[2018-06-05 18:01] eivantsov commented on #9943
@liyanliang1994 you are most probably right. However, the IDE should reconnect

@sleshchenko can this be caused by nginx reload?

[2018-06-05 18:17] RickJWagner opened #9945 "Dead links in documentation"
https://www.eclipse.org/che/docs/openshift-multi-user.html contains these:
"Instructions to deploy Che to OSD are identical to those for OpenShift Container Platform."
"Instructions to deploy Che to OSO PRO are identical to those for OpenShift Container Platform."
In each case, the link to 'OpenShift Container Platform' is https://www.eclipse.org/che/docs/openshift-container-platform
The link abov

[2018-06-05 18:19] RickJWagner commented on #9945
I see that the side of the page has a bullet list with a link "OpenShift Container Platform", this one is a link to https://www.eclipse.org/che/docs/openshift-multi-user.html#openshift-container-platform and it works.

[2018-06-05 18:33] RomanNikitenko commented on #9923
Can not reproduce it for current 6.7.0 version. If I'm not mistaken it was fixed [here](https://github.com/eclipse/che/pull/9689)

[2018-06-05 18:42] eivantsov commented on #9945
@RickJWagner thanks - will be fixed asap

[2018-06-05 19:07] #9861 closed

[2018-06-05 21:39] dneary opened #9946 "Better failure model when PVC fails during workspace creation"
When starting a new workspace, if the PVC fails on the underlying infrastructure (OpenShift), for whatever reason, there is no immediate feedback to the user. The workspace loader spins, the mount is retried and re-fails, until the operation times out (60s), and returns a generic error message ("Workspace failed to start". There are "Failed to mount PV" errors reports in the OpenShift pod events f

[2018-06-05 22:58] tsmaeder commented on #9424
https://github.com/theia-ide/theia/pull/1971

[2018-06-06 00:03] vrubezhny commented on #8721
Depends on https://github.com/eclipse/che-ls-jdt/pull/44

[2018-06-06 02:30] liubin10 commented on #9922
@eivantsov No,it's in the common screen resolution,1920*1080.In the styles configurations  from Chrome debug, I didn't see any of word-wrap or width configuration. But if the host name is long enough, it'll be wrap. In some cases, it doesn't wrap.

[2018-06-06 04:52] eivantsov commented on #9946
@dneary are you certain you use the latest Che? According to https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L358 Failed Mount should be considered an an unrecoverable event and it should be displayed in the IDE and server logs (not sure about server logs though)

[2018-06-06 06:32] sleshchenko commented on #9936
4401 - is port of `wsagent` server. And logs contain information about `exec-agent/http`. Please make sure that it is accessible. The URL should be like the following `https://webide.ourdomain.com/servero00uno55-dev-machine/server-4412/process`

[2018-06-06 06:38] eivantsov commented on #9936
@sleshchenko in this case ws-agent ingress is just an example. Exec agent is just the first one to check I think. I think if ws agent is accessible, there shouldn't be any issues with exec agent for example.

[2018-06-06 06:47] sleshchenko commented on #9936
@eivantsov Then it can be a networking issue like firewall needs to be configured.
@bsukramlitt To debug it you can set a breakpoint at https://github.com/eclipse/che/blob/8f041d8db6d799e683c5c2f0c22190954b487773/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/ServersChecker.java#L202 and check servers checks URLs. If they are correct and the same are availabl

[2018-06-06 06:49] sleshchenko commented on #9943
@eivantsov I think that the reason is nginx reload. I've described it here https://github.com/eclipse/che/issues/8675#issue-295470083

[2018-06-06 06:58] garagatyi commented on #9936
BTW are HTTPS certificates self-signed? Is a provider of certificates a widespread one?
I'm asking because when certificates are self-signed or provider is not well known Java might not be able to establish a connection without adding certificates to JRE.

[2018-06-06 07:03] bsukramlitt commented on #9936
@garagatyi  no we use a common public cert issuer. Its accepted by jvm and default linux distros.

[2018-06-06 07:03] bsukramlitt commented on #9936
@sleshchenko I'll check the breakpoints sson

[2018-06-06 07:06] bsukramlitt commented on #9936
okay this one is interesting

http://null/server3hlzxj14-dev-machine/server-4401/api/?token=machinexk27tofz3qbw5w4tm9f0nbbrqaoctc0j04ssin02134spav4gc3z4rk6yd5vdvisnwx0om9uoe0dyyoa6yfrpi4ggo0lnzycczzavm38935hwsg34r30tm438ncbw6ec

anyone sees the issue :D?
just kidding I'll look into it to see whats not initialized there

[2018-06-06 07:11] sleshchenko commented on #9936
Server host should be initialized here https://github.com/eclipse/che/blob/a48d4b42c88e79c23bb148ef3719a2c1e8be219c/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/server/KubernetesServerResolver.java#L100-L104

[2018-06-06 07:16] kostiamol commented on #9938
@eivantsov Thanks. Indeed, that was a private cluster with a proxy, so I changed the line with the image name in the deployment.yaml.

[2018-06-06 07:16] #9938 closed

[2018-06-06 07:17] bsukramlitt commented on #9936
final String host =
        ingressRule.getHost() != null
            ? ingressRule.getHost()
            : ingress.getStatus().getLoadBalancer().getIngress().get(0).getIp()

[2018-06-06 07:36] bsukramlitt commented on #9936
actually all ingress which got created by che have no host configured. Can i set the Host somehow manually. Which it doesn't look like if I look at the code.

[2018-06-06 07:37] Ohrimenko1988 opened #9948 "Create selenium test for covering issue #9026 "Files created in terminal don't appear in the project explorer""
### Description
We have a bug which described in the issue #9026 . So we should cover this usecase by selenium test for tracking  this bug regression.

[2018-06-06 07:42] garagatyi commented on #9936
Oh. have you enabled ingress controller? It is part of kubernetes cluster, not Che. And without it Che can create ingresses but they don't work as expected.

[2018-06-06 07:46] bsukramlitt commented on #9936
@garagatyi
The ingress works as expected.
Che does create ingress entries for all workspaces. This entries are picket up by ngin and I get a route for all  workspaces servcies.

The issue is caused by the way che creates the route internally. If che would just use the CHE_API host name or something like that it would just work.

[2018-06-06 07:49] sleshchenko commented on #9936
I think you should configure che_hos by configuring server_strategy https://github.com/eclipse/che/blob/ac3b4016492fcfb9361243bc708f1191d06c1adf/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L338-L342
More info about them are in `MultiHostIngressExternalServerExposer`, `SingleHostIngressExternalServerExposer`, `DefaultHostIngressExternalServerExposer` classes.

[2018-06-06 07:49] bsukramlitt commented on #9936
This is just a guess correct me if I'm wrong :)
The Problem looks to me like that you made assumptions about the deployment. Which would mean that the nginx always is attached directly to the LB service and therefore gets an external ip. Which is not always the case for example not in our environment.

[2018-06-06 07:50] Ohrimenko1988 opened #9949 "Create selenium test for covering issue #7302 "Project explorer should not show hidden folders from `/projects`""
### Description
We have a bug which described in the issue #7302 . So we should cover this usecase by selenium test for tracking this bug regression.

[2018-06-06 07:51] sleshchenko commented on #9936
@bsukramlitt

It's just default configuration, see my comment [above](https://github.com/eclipse/che/issues/9936#issuecomment-394974760).

[2018-06-06 07:58] Ohrimenko1988 opened #9950 "Create selenium test for covering issue #9620 "In case ws-agent stopped unexpectedly all editors should become in readonly mode or close them""
### Description
We have a usecase which described in issue #9620 . So we should cover this usecase by selenium test for tracking regression.

[2018-06-06 08:14] vzhukovskii commented on #9026
Fixed

[2018-06-06 08:14] #9026 closed

[2018-06-06 08:31] es13b1018 commented on #9833
@eivantsov thanks for the reply.
I want to use the whole repo and extend ide and server. I tried to create my plugin using python's plugin (6.6.0), modified their project.
After following the similar steps, I added my plugin's dependency in the the pom.xml of che-ide-full. Build this module successfully, but while building the che-ide-gwt-app module, I'm still getting the following error:

[INFO]

[2018-06-06 08:46] bsukramlitt commented on #9936
https://github.com/eclipse/che/blob/602a77d4585e063b928dd154b14b763a706678be/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/HttpConnectionServerChecker.java#L66
ServiceAccountsun.net.www.protocol.http.HttpURLConnection:http://serverbvnesgzs-dev-machine-server-4412.webide.ourdomain.com/process?token=abcd

[2018-06-06 08:52] sleshchenko commented on #9936
@bsukramlitt Take a look https://github.com/eclipse/che/blob/ac3b4016492fcfb9361243bc708f1191d06c1adf/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L461-L467 and https://github.com/eclipse/che/blob/a48d4b42c88e79c23bb148ef3719a2c1e8be219c/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/IngressTlsProvisioner.

[2018-06-06 08:52] #9851 closed

[2018-06-06 08:52] #9831 closed

[2018-06-06 08:54] bsukramlitt commented on #9936
@sleshchenko  but i dont wont to enable tls internally in the cluster. I have loadbalancer in front of the nginx ingress of che. Will this still work?

[2018-06-06 08:56] skabashnyuk commented on #9895
The idea was to combine values from Feature
Example:
[code]

This part was originally designed to send a list of Theia plugins to Theia DevTool (Service) container. Recently we discussed that this functionality is no longer needed. So we may omit it when we are discussing Theia plugins.

ok.

Initially, I didn't plan that.
We should consider both pros and cons.  For example
- What happens if the e

[2018-06-06 08:57] sleshchenko commented on #9936
@bsukramlitt Sorry, I afraid I don't know =)

[2018-06-06 09:05] vparfonov commented on #9924
@tsmaeder  So for my vision you need to get Event when a new folder created in ROOT of workspace and not related when source will be imported. I am right?

[2018-06-06 09:09] mkuznyetsov commented on #9810
yes, there's some assembly packaging problems right now, I will make a fix soon

[2018-06-06 09:10] cenkce commented on #9810
Can I fix it locally? It's important to me.

[2018-06-06 09:21] gazarenkov commented on #9924
@vparfonov I believe the interesting event is Project Created or Updated, it should be called in all cases we create a project with explicitly assigned configuration (its including project import), even if it is Default (Blank) project type.
In case of just creating folder in the projects root - configuration is not assigned explicitly => Project even is not fired.
I do believe it is a right assum

[2018-06-06 09:52] eivantsov commented on #9936
@bsukramlitt I think this might be the case where Che server ingress is ok for ws agents but not vice versa. And Ingresses for agents are not OK for Che sever, and thus when trying to reach them, cert authority cannot be validated. Just an idea...I have seen a few cases like this on OpenShift infra.

[2018-06-06 09:53] dkuleshov commented on #9924
@tsmaeder

According to current specification workspace file system can be accessed both with our API and without it (e.g. SSH). There is no efficient way how we can lock workspace for outside (non-API) operations. Turns out that we can't do what you assumed we could.

So we either have a challenging task to consider project events in context of both in- and outside API operations to make project

[2018-06-06 09:58] benoitf commented on #9895
@skabashnyuk correct me if I'm wrong, but workspace.next is a client of the market place like theia could be (or other clients), correct ?
so I'm not sure to follow why the registry/market place is not decouple ?
It seems for me that you're trying to map everything to some che internal stuff while the two are linked but it's not the same. (linking + decoupling )

Why would theia would grab che fea

[2018-06-06 10:03] slemeur commented on #9895
@skabashnyuk:

1- What do you mean by "get from marketplace list of all features that are compatible with features already selected". How is that suppose to work. Is that something that plugin developer will have to care about?

2- I don't get why the plugin registry needs to know about "how" the plugins are getting packaged/added to a workspace configuration. Why the marketplace would need to kno

[2018-06-06 10:08] gazarenkov commented on #9924
@dkuleshov as I understand we do not fire projectCreated event on project import (in particular) which does not look consistent (maybe there are other cases like this, not sure)
So, my understanding is that we need to fix it?

[2018-06-06 10:17] dkuleshov commented on #9924
@gazarenkov seems that it's a bug, if that would be enough then okay.

[2018-06-06 10:27] vitaliy-guliy opened #9951 "Unable to stop instance of hosted plugin on Ubuntu"
### Description

Hosted plugin instance on Ubuntu/Linux mint doesn't want to be stopped.

### Reproduction Steps

To reproduce:
- start  instance of Theia with hosted plugin; new tab must be opened and Theia with hosted plugin is loaded;
- switch to the main Theia and stop instance of hosted plugin; the process of hosted Theia still stay running and corresponding browser tab can be refreshed

**OS

[2018-06-06 10:35] skabashnyuk commented on #9895
To @benoitf

Not sure that do you mean by "workspace.next is a client". In case if you mean our che server(workspace master) then it will just reference features in workspace definition.

Me too. It's a same thing.

I never said that. I was talking only about Theia feature that is running as a part of Che workspace.

Looks like by "workspace.next is a consumer" you have something different than in

[2018-06-06 10:57] bsukramlitt commented on #9936
The problem is that the ingress for the ws now get configured for e.g. serviceabcs.webide.mydomain.com
but the endpoint enforces https so che would have to use https://serviceabcs.webide.mydomain.com/some/api/endpoint. But it uses http and one can't change it

[2018-06-06 11:13] eivantsov commented on #9936
And che.infra.kubernetes.tls_enabled=true for you?

[2018-06-06 11:15] tsmaeder commented on #9924
As far as jdt.ls is concerned, I'm interested in getting a notification whenever a new project config appears. But generally, I think handling the lifecycle of RegisteredProject instances in a single and sendint events from there class will make the code more robust: no need to think about it when adding new code.

[2018-06-06 11:23] kostiamol opened #9952 "Deploying in multi-user mode using helm chart: che & keycloak not initialized"
I used the ommand:
`sudo helm upgrade --install eclipse-che --namespace che-ns -f ./values/multi-user.yaml --set global.ingressDomain=che ./`
I can't find any errors.

![image](https://user-images.githubusercontent.com/5477699/41035196-2fd32372-698c-11e8-8067-01726d07b222.png)

![image](https://user-images.githubusercontent.com/5477699/41035221-444edd28-698c-11e8-8c1f-b019bc10c52b.png)

![image](h

[2018-06-06 11:35] mshaposhnik commented on #9843
After some research in authentication proxy, the following scheme is may be considered as an inital plan:
![proxy-diagram2 2](https://user-images.githubusercontent.com/1651062/41035246-bd8ceeb6-6994-11e8-9576-ccbee3e754c5.jpg)

In brief, Theia client-side code will request the JWT token from Che master, and use it to communicate with the serverside. Verification of tokens signatures wll be done by

[2018-06-06 11:39] mmorhun commented on #9951
Must admit, that on Fedora stop command works as expected (tested on 27 and 28).

[2018-06-06 11:52] mmorhun commented on #9927
[Here](https://github.com/mmorhun/workspace-next-demo-plugin) is the sample plugin.

[2018-06-06 11:52] #9927 closed

[2018-06-06 11:57] tsmaeder commented on #9924
I was blocked on my other task yesterday and did some hacking...I could probably propose a patch in the next 1-2 days.

[2018-06-06 12:12] benoitf commented on #9895
yes, workspace master is a client of marketplace.

It's not. Marketplace is kind of hosting services with statistics, metadata, nice UI, etc.
But you can imagine you can store a long list of different files/type on it.
A che plugin, a theia plugin, a Docker image (it's just an example. We can store almost anything, just need to add the support of a new type)

I was referencing this line:

I mean t

[2018-06-06 12:13] vparfonov commented on #9924
We will propose PR today and launch CI test

[2018-06-06 12:17] gazarenkov commented on #9924
Well, I would not qualify it as a bug, but OK, if you, guys, prefer so.
I'd just like to rename the issue making the title more clear about the problem we solve, like "Fire ProjectCreated event everywhere we create it explicitly (including Project import)".
It will make Changeslog more understandable.

[2018-06-06 12:52] mmorhun commented on #9644
Done

[2018-06-06 12:52] #9644 closed

[2018-06-06 13:02] eivantsov commented on #9952
`global.ingressDomain=che` why che?

You should get logs from keycloak container. Che cannot start because keycloak is not up.

[2018-06-06 13:08] svor commented on #6748
PRs:
- https://github.com/eclipse/che/pull/9953
- https://github.com/eclipse/che-ls-jdt/pull/51
- https://github.com/eclipse/eclipse.jdt.ls/pull/683

[2018-06-06 14:02] mkuznyetsov commented on #9810
Yes, you can make it launchable, by opening assembly/assembly-ide-war/pom.xml
and removing the following line#169:
`<packagingExcludes>%regex[WEB-INF\\lib\\(?!.*j2ee).*.jar]</packagingExcludes>`
then rebuild assemblies and you can start the IDE
Ther are still some things that are broken, like DashboardRedirectionFilter, because of which you will need to use URL `http://<che.ip>:8080/dashboard/` to

[2018-06-06 14:07] #9424 closed

[2018-06-06 14:11] kostiamol commented on #9952
@eivantsov What's the problem with `global.ingressDomain=che`? I thought that I can use whatever I want as a domain name.

![image](https://user-images.githubusercontent.com/5477699/41043402-2718d9c6-69a4-11e8-8090-34cba4367319.png)

[2018-06-06 14:33] acdhound commented on #9637
@JPinkney changed "text/yaml" to "text/x-yaml " in language server, and it fixed the issue. thanks.

[2018-06-06 15:04] eivantsov commented on #9952
@kostiamol no, it has to be a valid DNS

As to Keycloak, you need to dig info on why Keycloak pod never gets to start. If I saw logs and Keycloak server fails, I could have helped. In this particular case, there's zero info on wht k8s fails to even start the pod.

[2018-06-06 15:16] dneary commented on #9946
It's a recent deployment. It says "Che 6.7.0-SNAPSHOT".

An easy way to reproduce this using NFS is to define a PV without a valid NFS share - the NFS mount fails, resulting in the PVC claim failing, and it takes ~60s for this to propagate to the user.

[2018-06-06 15:19] eivantsov commented on #9946
What exact error do you see in the IDE?

[2018-06-06 15:26] #9637 closed

[2018-06-06 15:41] dneary commented on #9946
Well, I fixed it... will need to re-break it to see.

[2018-06-06 15:56] dneary commented on #9946
In the OpenShift workspace pod events, I see:

In Che, I see the attached when I open the workspace (still not timed out, 2' later):
![screenshot from 2018-06-06 11-54-14](https://user-images.githubusercontent.com/467525/41050121-7b9c218e-6980-11e8-9ed6-9af4e99e3501.png)

The Che dashboard shows the pulsing icon beside the workspace, no error message.

[2018-06-06 16:03] dneary commented on #9946
When if failed, there was an ephemeral message, I didn't get the exact wording before it disappeared, but it was along the lines of "Failed: The workspace  reached timeout".

I see the following messages in the Che deployment log on OpenShift:

 
--

[2018-06-06 16:34] phinaliumz commented on #8040
I agree with ctron, this makes Git unusable for me aswell. I can use git when I manually copy the keys from `/etc/ssh`, but thats hardly cloud-IDE way to do this.

[2018-06-06 21:19] l0rd commented on #9728
I have opened a PR to update/fix Che template: https://github.com/ansibleplaybookbundle/eclipse-che-apb/pull/10

Now the APB works. At least the integration test works fine (Che deployment and start of a workspace). To run the test locally:

[code]

Things that still need to be fixed:
- Write documentation on how to use it
- Currently `$OPENSHIFT_TOKEN` (OpenShift OAuth Token) is prompted to deplo

[2018-06-06 21:55] #9821 closed

[2018-06-07 00:50] gorkem commented on #9728
Do we need to select only one Che flavor?  Can we do multi-user with user choosing one of the strategies?

[2018-06-07 01:42] gorkem commented on #9902
I agree, we can still keep the container running despite of a LS start failure.

[2018-06-07 01:51] gorkem commented on #9913
LS Client will be universal because it expects the connection properties on the environment variables. I am suggesting a Theia extension that reads those values and feeds them into [process.env](https://nodejs.org/api/process.html#process_process_env)

[2018-06-07 02:41] paraseleneelf commented on #9903
I found a link “https://serverfault.com/questions/201294/nfsxxxx-files-appearing-what-are-those” explained where the file “.nfsxxxxxxx” from，but i don't know why the che process occupied the file ".git/object/pack/xxxxxx.pack". I'm sure no git command is running in the background.

[2018-06-07 04:19] rahul545 opened #9955 "adding sample plugin to che"
I tried adding che-plugin-menu to che. For this I made a change in the pom.xml inside the plugin folder present in the che source code. Then I copied che-plugin-menu in the plugin folder and built it. I cant see any changes. Do I need to makes changes somewhere else?

[2018-06-07 04:46] eivantsov commented on #9955
@rahul545 perhaps you need to start with https://www.eclipse.org/che/docs/framework-overview.html

[2018-06-07 05:38] eivantsov commented on #9728
@l0rd @gorkem my thoughts:

* having APB for a single user Che is an overkill I think - do we really need it?
* by default we should use che SA and thus create ws objects in the same namespace with Che server. This is the best way to get started with Che without having any auth problems. An admin can deploy and try Che and then reconfigure it to use token/credentials.
* as to having OpenShift oAut

[2018-06-07 06:02] bsukramlitt commented on #9936
@eivantsov
I configured now
[code]
Which results in the following url to reach the service.
 `sun.net.www.protocol.https.DelegateHttpsURLConnection:https://serverirr1k0zv-dev-machine-server-4412.ourdomain.com/process?token=eyJ....`

 Which can't work in our environment cause the url does not route to che as it would need the subdomain webide to router to che.

Yes I can change this to ' CHE_INFRA_

[2018-06-07 07:09] bsukramlitt commented on #9936
@eivantsov  please close

[2018-06-07 07:16] #9936 closed

[2018-06-07 07:33] mshaposhnik commented on #9843
@gorkem Yep. Explicit (non-transparent) proxy means that client (browser or cURL or wget etc) must define proxy explicitly, i.e. asking `192.168.100.99:8080/api/user` using proxy `127.0.0.1:3128` for example. While transparent proxy does need that, you're simply requesting directly `127.0.0.1:3128/api/user` and it will be rerouted to the original host just by predefined rules inside of the proxy (

[2018-06-07 08:09] carloreggiani commented on #3936
I'm trying to deploy Eclipse Che (6.5.0) on Docker EE 2.0 and I'm in trouble to assign a /data folder to a "local" volume (I'm executing only docker client on my pc configured by Docker EE client env.cmd).

This issue is close, but it seems nothing change... it means Eclipse Che doesn't support volume containers?

[code]

[2018-06-07 08:20] #9620 closed

[2018-06-07 08:31] riuvshin commented on #9942
Done.

[2018-06-07 08:31] #9942 closed

[2018-06-07 08:49] mmorhun opened #9956 "Add options to generate different plugin samples in Theia plugin generator"
### Description
For now when creating new Theia plugin user has choice between server and client plugin only.
Last time it generated many lines of code which I just had to delete.
The goal of this issue is to add choice between sample plugins:
- empty plugin (just config with empty implementation)
- hello world plugin (implementation contains only hello world command)
- full API plugin (implementa

[2018-06-07 08:56] benoitf commented on #9956
yes thx for this issue.

I would say that we could enable toggle on what we want to use in generated plugins
like
- commands
- information message
- quickopen
- statusbar

etc.

Or we may need to group some of them.

Also frontend and backend should use the same templates (no duplicating the code)

to conclude, the palette command should contain or needs to be organized in a way so it's easy to fi

[2018-06-07 09:13] slemeur commented on #9728
Agree with @gorkem : We should definitely be looking at having a single APB which support the different flavors and options.

@l0rd : The options that you listed are the right ones.
- We need to make sure that it's possible to install Che with secure mode or not.

As for the different options:
1. workspaces and wsmaster in the same namespace
2. create a new namespace for every workspace using Che

[2018-06-07 10:29] bsukramlitt commented on #9914
@eivantsov please close

[2018-06-07 10:32] mrmStack commented on #8147
I have an issue with start workspace in single-user with eclipse che in openshift platform origin 3.9.

2018-06-07 10:12:41,815[aceSharedPool-3]  [INFO ] [o.e.c.a.w.s.WorkspaceRuntimes 390]   - Workspace 'che:wksp-3owh' with id 'workspace20gbat6mem0360jt' start failed
2018-06-07 10:12:44,098[ ConnectionPool]  [WARN ] [okhttp3.OkHttpClient 130]            - A connection to https://che-astro.pic.es:

[2018-06-07 10:35] eivantsov commented on #8147
@mrmStack can you open a new issue with details of your problem and some screenshots of what you see in the IDE when a workspace fails to start?

[2018-06-07 10:35] #9914 closed

[2018-06-07 10:44] artaleks9 opened #9957 "Rewrite the methods in the 'PullRequestPanel' using the 'SeleniumWebDriverHelper'"
### Description
* Rewrite the methods in the page object '_PullRequestPanel_' using the '_SeleniumWebDriverHelper_'
* It allows to avoid creation of enormous _WebDriverWait_ instances and to make the code more readable

[2018-06-07 11:04] #9481 closed

[2018-06-07 11:43] mrmStack commented on #8147
OK!!

[2018-06-07 11:57] mshaposhnik commented on #9843
IMO as the first step we can start without the signer proxy at all, since there is no known cases at this moment when Theia server-side must request master by his own initiative (i.e. without underlying user request which can be used as authoeship source). Does anyone has doubts on that ?

[2018-06-07 12:03] #9905 closed

[2018-06-07 12:03] #5918 closed

[2018-06-07 12:04] sleshchenko commented on #9905
Should be fixed by https://github.com/eclipse/che/commit/0b30ca1d9bf3a35b4997e1fac8004ac5a8fa5eea

[2018-06-07 12:41] eivantsov commented on #9946
@ibuziuk @sleshchenko do you guys think it's because it is not an error but a warning in OpenShift events? I cannot reproduce. I tried deleting all PVs and starting a workspace, and I get an en event from OpenShift in the IDE and server logs

[2018-06-07 13:03] #9951 closed

[2018-06-07 13:05] mshaposhnik commented on #9843
So i see the following tasks list for the initial implementation:
1) Create REST endpoint for publishing JWT keys and signatures public key parts;
2) Create & configure & execute proxy verifier pod\container;
3) Write Theia client-side plugin  to fetch key and sign outbound http requests;
4) Write Theia server-side module to tranparently forward keys from incoming client requests to outgoing maste

[2018-06-07 13:21] cenkce commented on #9810
Yeah it worked, big thanks :)

[2018-06-07 13:27] sleshchenko commented on #9946
We don't have filtering by event type, I suppose the reason can be in `fieldPath`. [Here](https://github.com/eclipse/che/blob/59393928bc33c1fff9602a6cd31d2f32475d21ca/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesPods.java#L321
) we filter all events that are not related to containers. And in this case, it may be Pod related but no

[2018-06-07 13:30] dkuleshov commented on #9829
That is a subjective opinion, because I don't find it very hard, for example. So if you don't mind I will consider this statement as an unreasonable assumption until you provide more objective reasoning or examples.

This is true for normal java classes with state and behavior. `RegistryContainer` is a container for other instances, technically it is a class but functionally it is a container, it

[2018-06-07 13:53] AndrienkoAleksandr opened #9958 "Font of the workspace loader is very bad visible on the white theme."
### Description
Font of the workspace loader is very bad visible on the white theme

### Reproduction Steps
1. Set up white theme for IDE.
2. Start workspace.
Actual behavior:
![badfontcolor](https://user-images.githubusercontent.com/6873095/41103999-1fceaf2c-6a73-11e8-8b92-ca6ddd4bcac5.png)

**OS and version:**
Fedora 28.
CHE: 6.7.0-SNAPSHOT

[2018-06-07 14:46] artaleks9 opened #9959 "Wrong behavior the 'Save' button in the 'Preferences'"
**Reproduction Steps:**
* Open the IDE and click _Profile_ -> _Preferences_ -> _Contribute_ (as example)
* The _Save_ button is disabled
* Change the state of the checkbox (the _Save_ button becomes enabled)
* Click on the 'Refresh button

**Expected behavior:**
* the _Save_ button should be disabled after click on the _Refresh_ button

**Observed behavior:**
* the state of the _Save_ button is no

[2018-06-07 14:55] hbhargav commented on #9853
@eivantsov
I'm facing the same issue as well.
Minikube v0.27

[2018-06-07 15:54] ibuziuk commented on #9946
@dneary could you please provide steps to reproduce ?

[2018-06-07 16:01] eivantsov commented on #9946
@ibuziuk I haven't tried it today but tried before. Deploy Che, then remove all PVs in your minishift and attempt to start a workspace.

[2018-06-07 16:06] ibuziuk commented on #9946
@eivantsov but you wrote that you cannot reproduce, or I'm missing smth ?

[2018-06-07 16:14] eivantsov commented on #9946
I used to test unrecoverable events like this before. Maybe smth has changed

[2018-06-07 18:52] eivantsov opened #9961 "OpenShift: Cannot start workspaces if username/password is provided in Che deployment env"
### Reproduction Steps

1. Deploy Che (single user is OK)
2. Configure `CHE_INFRA_KUBERNETES_USERNAME` and `CHE_INFRA_KUBERNETES_PASSWORD`
3. Create and start a workspace.

If `CHE_INFRA_OPENSHIFT_PROJECT` is empty, the error is:

[code]

If `CHE_INFRA_OPENSHIFT_PROJECT` is the same namespace where Che is deployed, the error is different:

[code]

So, it looks like fabric8 client logic has changed

[2018-06-07 19:04] habeascorpse commented on #9734
Hi,
i found the error. It's was a network issue.

thank you for the help me.

[2018-06-07 20:45] RickJWagner opened #9963 "typo in Che docs"
Admin Guide contains the text "pods are are created".  Please remove one 'are'.

[2018-06-07 21:08] l0rd opened #9964 "Workspace.next - CheService model adjustment"
We knew that the phase 1 w.next model was not perfect and that some incremental updates would be needed. With that in mind we have identified [a flaw in current CheService implementation](https://github.com/eclipse/che/pull/9774#discussion_r192922360) and should be refactored.

### Refactoring proposal

- Rename `CheService` as `DevTool`
- Rename `Container` as `CheContainer`
- Move `Servers` list

[2018-06-07 22:54] l0rd commented on #5908
@carloreggiani you can use the Helm Chart https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/readme.md

[2018-06-08 03:00] liyanliang1994 commented on #9943
@sleshchenko #8675 solved the bug of websocket in dashboard. But the terminal is a websocket in ide.
![20180608105157](https://user-images.githubusercontent.com/39881038/41136896-fa1713bc-6b0a-11e8-99ad-3ac5367211b7.png)

[2018-06-08 03:33] paraseleneelf commented on #9903
@eivantsov I have tried many times and I found that If I called the API "/tree/{parent:.*}" with parameter "includeFiles=true" in ws-agent,the file ".git/object/pack/xxxxxx.pack" will be occupied.Can help me analyze what causes it?

[2018-06-08 05:57] rahul545 commented on #9955
I built the che-plugin-menu using che-ide-server extension from samples. However when I use the che-ide-extension , I get an error even though the plugin only modifies the ide. What could be the reason?

[2018-06-08 06:18] sleshchenko commented on #9943
@liyanliang1994 Well, when I shared this issue I just wanted to point to a description of WebSocket and nginx issue.
So, as far as I see IDE reconnects to terminal WebSocket endpoint when a connection is lost. It tries to reconnect 2 times each 2 seconds.
@vparfonov Am I right? Could you take a look at this issue maybe terminal in IDE can be improved and reconnection can be fixed in such cases?

@

[2018-06-08 06:32] tsmaeder opened #9965 "Delete Button on Workspace Overview Should Always be Visible"
When you go to the "Workspaces" tab in the Che dashboard, there is initially no delete button. Only when you select a workspace does the delete button appear.
I think this is bad UI because the user does not know that he might delete a workspace. I remember that I navigated aways from this page the first time I wanted to delete a workspace because I thought "nothing here".
I propose that the delet

[2018-06-08 06:46] #9945 closed

[2018-06-08 06:46] #9963 closed

[2018-06-08 06:50] #9734 closed

[2018-06-08 07:32] tolusha opened #9966 "Theia DAP: support browser-implementation debugger"
The general idea is to extend the current functionality to cover more cases, less code refactoring.

Front-end part:
1. Introduce debug session factory interface, right now it is a class:
[code]

2. Introduce debug session contribution:
[code]

It brings us opportunity to instantiate a specific debug session (extend the current implementation for instance) on the client side even if there is a run

[2018-06-08 07:53] artaleks9 opened #9967 "Rewrite the methods in the 'Preferences' using the 'SeleniumWebDriverHelper"
### Description
* Rewrite the methods in the page object _Preferences_ using the _SeleniumWebDriverHelper_
* It allows to avoid creation of enormous _WebDriverWait_ instances and to make the code more readable

[2018-06-08 07:57] olexii4 opened #9968 "Add 'clear', 'setVisibility' and 'deleteChannel' methods for theia Output."
### Description

Add 'clear', 'setVisibility' and 'deleteChannel' methods for theia Output. it is needed for https://github.com/eclipse/che/issues/9836.

[2018-06-08 08:01] liubin10 commented on #9943
@sleshchenko I found that if socket is closed or some error occurred, terminal send method can still be triggered. I think some check should be added before sending data through Websocket.

[2018-06-08 08:44] #9923 closed

[2018-06-08 09:13] l0rd commented on #9961
@eivantsov this new behavior makes more sense to me: if the admin provides a username and password to access the openshift API Che should use it and fail if the credentials do not have enough privileges. If the admin explicitly provides username and password we should never fall back to service account because Che was explicitly configured not to do so. And we should adapt the case of auth token t

[2018-06-08 09:15] RomanNikitenko commented on #9959
I can reproduce the same behavior for check boxes of Profile -> Preferences -> IDE -> General  and Profile -> Preferences -> IDE -> Welcome pages, but can not reproduce for check boxes of Profile -> Preferences -> IDE -> Editor page for example.
So I think we should test all pages of Preferences and identify trouble spots

[2018-06-08 09:15] tsmaeder opened #9970 "Support jdt.ls Status Reports"
jdt.ls extens LSP with messages of type "language/status". Add support to Theia for showing those in the Theia UI. Writing to some console output is sufficient.

[2018-06-08 09:18] tsmaeder opened #9971 "Theia: Show Progress Reports from jdt.ls"
jdt.ls extends LSP with messages of type language/progressReport. We need to show those in the Theia UI. Part of the task is to coordinate with other teams on support for showing progress in general.

[2018-06-08 09:22] AndrienkoAleksandr commented on #9943
About reconnection: we need improve this stuff. Because on reconnection terminal-agent server side create new one  terminal process instead of connection to the previous one. So seems it's issue about improve terminal agent server side api and adaptation client side to the impoved api.

[2018-06-08 09:51] tsmaeder opened #9972 "Open Editor on Library Class Files in Theia"
Currently, when we do a "go to definition" on a library file (let's say java.lang.Object), nothing happens. We would like to open the source for java.lang.Object in an editor. Java support (hover, etc.) should then be enabled in the class file.
There are a couple of things we need to do here:
1. Enable returning jdt:// urls from jdt.ls in the init options passed to the LS
2. Create a handler in Th

[2018-06-08 10:03] mmorhun opened #9973 "Add limit for size of dialog window for Theia plugin API"
### Description
Our plugin API for Theia exposes methods for dialog windows. But they do not have any limits for sizes and when a user tries to show big amount of text the dialog overlaps whole tab:
![theia-modal-window](https://user-images.githubusercontent.com/15607393/41152328-f9ffc5f2-6b1b-11e8-8543-592374bffd47.png)
The only way to close it, press `Esc` key.
We have to limit maximum size of p

[2018-06-08 10:47] kostiamol commented on #9952
@eivantsov The problem was that images used apk to download packages but I was behind the proxy so I added proxy as an env var. Keycloak, PostgreSQL work, but now Che is experiencing troubles. Che pod tried to pass the readiness and livenss probes but every time it failed. I commented that lines from deployment.yaml in order to view its logs. It's the exception:
[code]

[2018-06-08 11:04] eivantsov commented on #9961
@l0rd yes, I agree that if credentials are set we should fails with a clear error message in case of unauthorized.

But the issue has to be fixed anyway.

[2018-06-08 11:05] eivantsov commented on #9952
@kostiamol che is not a valid DNS, is it? When Che server tries to connect to keycloak it fails. Redeploy with either a valid DNS or `$IP.nip.io` as domain.

[2018-06-08 11:34] l0rd commented on #9961
@eivantsov yes I agree with you that we need to fix that. And what are the scenarios where the use of username/password/token is preferred to the use of a service account? I am wondering if the fix would not be to remove the support of username/password/token and only support using a service account.

[2018-06-08 11:37] #9810 closed

[2018-06-08 11:48] kostiamol commented on #9952
@eivantsov There are too many "che" words in config. Is there any particular place where I can put "nip.io" instead of "che"? Maybe it's `CHE_INFRA_KUBERNETES_INGRESS_DOMAIN` ?

[2018-06-08 12:02] eivantsov commented on #9961
With username and password fabric8 client can create resources outside Che namespace, ie namespace per workplace scenario, while Che SA has admin priviliges only in Che namespace. You can give Che SA admin privileges at a cluster scope of source.

[2018-06-08 12:17] eivantsov commented on #9952
[code]

[2018-06-08 12:51] artaleks9 commented on #9959
Thanks a lot @RomanNikitenko

[2018-06-08 13:24] sleshchenko opened #9977 "A machine is considered as running if container failed in multi-containers workspace on K8s/OS infras"
### Description
A machine is considered as running if container failed in multi-containers workspace on K8s/OS infras.
So, it is needed to check container status instead of Pod status while waiting machines https://github.com/eclipse/che/blob/344daee3cd61ef2986e1c63a5471ca5ef877ac2c/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/KubernetesInternalRunti

[2018-06-08 14:00] garagatyi opened #9978 "Make theia Docker image be able to use yarn cache on Openshift"
### Description
Current Theia image when is started on Openshift can't use yarn cache folder from docker image build `/usr/local/share/.cache/yarn/v1`. Because of that usage of `THEIA_PLUGINS` env var in Theia container makes it fetch all the dependencies from scratch and workspace start fails because of timeout.
On Docker cache is used and start is fast enough.
So, we need to fix it somehow.
`yar

[2018-06-08 14:01] garagatyi commented on #9978
@eivantsov It prevents us from being able to use Theia extensions on Openshift, so I will be very grateful if you know how to fix that sooner than later.

[2018-06-08 14:04] garagatyi opened #9979 "Should Che on Openshift support Kubernetes recipes?"
### Description
Currently, Che doesn't support k8s recipes on Openshift infra. And I thought it does. So, should we add support or not?

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-06-08 14:05] garagatyi commented on #9979
@slemeur @gorkem @l0rd WDYT?

[2018-06-08 14:11] vinokurig opened #9980 "Implement showInputBox method for Theia plugin system"
### Description

To have an ability to input data from UI in a plugin for Theia, need to implement `showInputBox` method from vscode interface:
https://github.com/Microsoft/vscode/blob/0cdbe60ffa64639857a44a6717de23d202910bbb/src/vs/vscode.d.ts#L5899
It should look like this:
![screenshot from 2018-06-08 17-10-29](https://user-images.githubusercontent.com/7668752/41162545-e38f9130-6b3e-11e8-959d-b

[2018-06-08 14:45] carloreggiani commented on #5908
It was my firts try, @l0rd, but I'm trying to understand how to configure on Docker EE kubernetes the RBCA prerequisite steps (I'm connected ad admin user to the cluster):

[code]

[2018-06-08 16:50] gorkem commented on #9979
It should support it.
Do you know the reason? k8s recipes should be a subset of OS,  is it some limitation that we are adding?

[2018-06-08 19:27] svor commented on #8302
PRs:
-  https://github.com/eclipse/che-ls-jdt/pull/52
-  https://github.com/eclipse/che/pull/9983

[2018-06-09 07:59] RomanNikitenko opened #9984 "Can not open editor from Libraries"
### Reproduction Steps
1. Open file from External Libraries
2. Refresh page
3. Try to open the same editor from Libraries

### Expected behavior
Editor from Libraries is opened

### Observed behavior
The editor is not opened

**Che version:** 6.7.0

[2018-06-09 18:20] thenets commented on #9824
@eivantsov Thanks a lot!! 😄
This feature is very obscure to me. Maybe can be a good idea highlight this information in the documentation.

This is the command that I used:
[code]

Thanks once again! ^^

[2018-06-09 18:20] #9824 closed

[2018-06-10 15:17] jiri-kulik commented on #176
Hi,
I know this is old but found it when researching the same issue on google cloud. Is it possible that:
1. the issue still exists
2. applies also for google?
The start takes > 15 minutes for me, during which cpu is used just for a few seconds.
Haven't tried to install haveged yet, still searching for possible cause.

[2018-06-11 02:28] gorkem commented on #9843
@mshaposhnik We are [discussing](https://github.com/eclipse/che/issues/9913) retrieving the connection parameters for Language servers from che-server during workspace startup , I guess we are going to need the no-user authentication scenario.

[2018-06-11 06:01] vinokurig opened #9986 "Implement showOpenDialog method for Theia plugin system"
### Description

To have an ability to select a file in a plugin for Theia, need to implement `showOpenDialog` method from vscode interface: https://github.com/Microsoft/vscode/blob/0cdbe60ffa64639857a44a6717de23d202910bbb/src/vs/vscode.d.ts#L5877

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-06-11 06:02] vinokurig commented on #9720
Depends on: #9980, #9986

[2018-06-11 07:12] skabashnyuk opened #9987 "Fail to create pull request"
### Description
Not able to create pull request.

### Reproduction Steps
1. Clone your github repository. Example: https://github.com/skabashnyuk/petclinic
2. Checkout to some branch. Example ```fix```
3. Commit some changes.
4. Try to create PR.
![pr_bug](https://user-images.githubusercontent.com/1614429/41217209-e0051508-6d5f-11e8-8dd7-0b7e915d77ad.png)

[2018-06-11 07:14] slemeur commented on #9979
Yes it is something that we should be supporting. The docs are also claiming that we support the k8s recipes (https://www.eclipse.org/che/docs/recipes.html#supported-recipe-formats)

I assume we support it for K8S infra support and will be able to use it for OS infra.

[2018-06-11 07:15] eivantsov commented on #9979
@garagatyi what is k8s recipe?

If I take Kind: List with Kind: pod and Kind: service, it works on both infras for me

[2018-06-11 07:16] skabashnyuk commented on #9987
Couse of the issue is a fact that during panel initialization fired 4 PartStackStateChangedEvent simultaneously. Those 4 events generate 4 ```org.eclipse.che.plugin.pullrequest.client.workflow.Context``` with the wrong state inside because of this code from WorkflowExecutor class

[code]
are not expected to be running simultaneously.

[2018-06-11 07:22] garagatyi commented on #9979
@eivantsov but only if you put correct type  - for OS infra type is openshift, for k8s infra type is kubernetes.

[2018-06-11 07:29] mshaposhnik commented on #9843
@gerkan Not sure i'm fully understand those "not-user-driven" requests scenario.  We expect that conversations between Theia and LS will ocur inside the same network and will not pass throuth the auth proxy. Did i miss something?

[2018-06-11 07:30] eivantsov commented on #9979
@garagatyi thanks. Yes, it feels weird to me now that if I have kubernetes recipe type we refuse to create a workspace even though the recipe itself is identical to OpenShift one.

[2018-06-11 07:33] eivantsov commented on #9979
To clarify a bit... the below recipe should be ok for OpenShift infra. Now, it's ok only if `"type": "openshift"`.

[code]

[2018-06-11 07:59] kostiamol commented on #9952
@eivantsov I'm using private infrastructure in order to deploy che. Admin told me that I shouldn't use nip.io. So my deploy command is:
`sudo helm upgrade --install che --namespace che-ns -f ./values/multi-user.yaml --set global.ingressDomain=$IP --set isHostBased=false ./`

Che still can't see neither keycloak nor postgres. So I'd like to check them by myself. I've tried to find keycloak using th

[2018-06-11 08:31] RomanNikitenko commented on #9987
I reproduced the bug.
In my case I watch that SelectionChangedEvent is fired 4 times simultaneously.
![pullreq_bug](https://user-images.githubusercontent.com/5676062/41220721-f3d6f1a4-6d6a-11e8-89d4-041b0662376f.png)

[2018-06-11 08:39] akurinnoy opened #9989 "[WIPTheia] Validate preference values provided by a plugin"
### Description

A plugin could set values for preferences and we have to validate them according to the provided scheme.

[2018-06-11 08:59] akurinnoy opened #9990 "[WIPTheia] Add support for preferences schema from contribution point of a manifest file"
### Description

A plugin should be able to provide its own preferences schema. We should implement a mechanism which parses and respects the scheme provided by a plugin.

1. Describe the schema in json file
2. Point the file location in package.json [TODO define the configuration in package.json]
3. Plugin meta data handles the value in package json, proceses and passes along with other plugin me

[2018-06-11 09:09] akurinnoy opened #9991 "[WIPTheia] Validate preferences section which plugin could edit"
### Description

We should restrict a plugin from updating the preferences which belong to other plugins.

[2018-06-11 09:12] musienko-maxim opened #9992 "Implement usecase which covers opening a file from libraries after refreshing"
### Description
*  We need cover next user story:
1) Open a file from libraries
2) Refresh a browser
3) Open the file again
More details in the issue: https://github.com/eclipse/che/issues/9984

[2018-06-11 09:21] vparfonov commented on #9944
Any way strange behavior i will take a look

[2018-06-11 09:36] benoitf commented on #9978
this docker image https://hub.docker.com/r/wiptheia/wip/ includes all the stuff to handle openshift (and openshift.io)

[2018-06-11 09:44] eivantsov commented on #9784
Closing as cannot reproduce. Most certainly the two files had identical names which created confusion.

[2018-06-11 09:44] #9784 closed

[2018-06-11 10:03] eivantsov commented on #9978
@benoitf but you do not run theia build as you use this one for the new plugin model, correct?

[2018-06-11 10:06] benoitf commented on #9978
@eivantsov I used yarn inside, in order to create from scratch a plugin with a yeoman generator so I would say we're able download npm dependencies, etc. Before it was not possible due to "invalid permission" or 'directory not writeable' errors, etc.

[2018-06-11 10:11] eivantsov commented on #9978
@benoitf I only see these dirs writable for root group https://github.com/theia-demo-plugins/wiptheia-docker-image/blob/master/Dockerfile#L50

What is the secret then?

With wiptheia you are not running yarn build against theia itself, right? Just building the plugin? Maybe I am missing smth, but looking at the Dockerfile does not give me a clear answer.

[2018-06-11 10:13] benoitf commented on #9978
https://github.com/theia-demo-plugins/wiptheia-docker-image/blob/master/Dockerfile#L23 ?

[2018-06-11 10:21] eivantsov commented on #9978
Well, that's user with id 1001 - it won't be writable unless you do what you do on line 50. Probably you do that to make jsons and js files have user permissions as they are probably ADDed with root ones.

Can you please clarify, if this image is used for Theia using the new plugin model, ie when Theia isn't rebuilt to include a new plugin?

[2018-06-11 10:27] l0rd commented on #9979
K8s and Openshift resources `Pod` and `Service` are identical so that's a no brain. We already support them.

@garagatyi I thought your question was about the k8s resources that do exist or do not match OpenShift resources (i.e. ingresses or deployments). In this rare cases I think we should not bother: if ever we will support Kubernetes Ingress we should not support it in OpenShift. But as of tod

[2018-06-11 10:35] benoitf commented on #9978
this image is used when using new plugin model but I don't see as well why it's not useable when using extensions as well.

Do you have a specific error with this image when using theia extensions ?

[2018-06-11 10:37] garagatyi commented on #9978
Since new plugin system is not yet in place I'm seeking for a way how to use the old extension one which recompiles Theia.
In this particular case if yarn cache is not writeable then recompilation will take to much time and workspace won't start.

[2018-06-11 10:41] benoitf commented on #9978
@garagatyi AFAIK the new plugin system is in place. The API is limited (so you can not write so many nice plugin but system is there) but it can be tested, there are already published examples

[2018-06-11 10:52] garagatyi commented on #9978
OK, sorry, I wasn't aware that it is in place.
But does that image fix described permissions issues?

[2018-06-11 10:54] eivantsov commented on #9979
@l0rd you're not the only one who through about objects themselves rather than type :)

I'd say that if now openshift and k8s recipes are identical it makes no sense not to support k8s type on openshift infra.

However, in future, if both infras support unique objects like ingresses or dpeloymentConfigs, it becomes quite tricky.

[2018-06-11 10:55] eivantsov commented on #9978
@benoitf as @garagatyi said, in your case you do not build Theia, and thus never hit this case of building Theia from scratch.

[2018-06-11 11:24] garagatyi commented on #9979
@eivantsov I agree that support of k8s Ingresses and Deployments in OS is tricky. Because of that if we add support of k8s recipe type now and remove it when we start supporting Ingresses on k8s infra then UX would be quite bad - user can create a workspace with his recipe on one Che instance which is running on kubernetes but can't move it to another Che instance which is running on OS.
I think t

[2018-06-11 11:40] #9434 closed

[2018-06-11 11:59] #9918 closed

[2018-06-11 12:21] vkuznyetsov opened #9995 "QE-2018-07-10 (Sprint: 151)"
### Sprint goals
- Create new Selenium tests according to test plan.

### Issues tied to objectives
- [x] Cover workspace creation from Blank stack by selenium test https://github.com/eclipse/che/issues/10144 1sp
- [x] Create test plan for testing workspace creation from predefined Eclipse CHE stacks https://github.com/eclipse/che/issues/10169 3sp
- [x] Set the GitHub username to lowercase when co

[2018-06-11 12:28] skabashnyuk commented on #9964
@l0rd about ```Add an id field for DevTool to be referenced in CheFeature``` AFAIK we talk about using id in routes and service discovering techniques. For the referencing purposes, we are going to use name and version.

[2018-06-11 13:13] gorkem commented on #9843
@mshaposhnik This is from Theia backend to wsmaster APIs, @skabashnyuk  correct?

[2018-06-11 13:22] garagatyi commented on #9978
Just to clarify this long discussion for others - I still think that this issue needs to be addressed and that image created by Floran with cool hosted plugin stuff doesn't solve this issue.

[2018-06-11 14:16] kostiamol commented on #9952
The problem was in ingress controller.

[2018-06-11 14:16] #9952 closed

[2018-06-11 14:33] mmorhun commented on #9845
I think we shouldn't implementation of this issue with security issues about environment variables. So for now I just reuse what we have.

[2018-06-11 14:35] benoitf commented on #9978
@garagatyi issue is not because ssh extension is already installed in the image
https://github.com/theia-demo-plugins/wiptheia-docker-image/blob/master/Dockerfile#L36
?

[2018-06-11 14:40] garagatyi commented on #9978
I don't know. Maybe. But current nightly seems not containing this extension and fails because it builds Theia for too long.
Do you think that removing that extension will help?

[2018-06-11 14:43] benoitf commented on #9978
I don't think so, if extension is already there, build is quite fast, dependencies being there

[2018-06-11 15:03] eivantsov commented on #9978
@benoitf do you use yarn cache to build Theia? Not a plugin but Theia itself? AFAIK, you do not. While in Alex's case Theia is rebuilt (existing extension model)

[2018-06-11 15:05] mathus13 opened #9998 "Auto whitelist GIT SSH URLs"
It seems that less-standard git hosts, such as self hosted servers, need to be white listed.

I wish that this was a more automated process such that if a user adds a VCS url to a domain that is not recognized they could get a notice that it will be queued for validation. The user could then be notified when their VCS host is ready to be used by their codenvy workspaces.

[2018-06-11 15:09] benoitf commented on #9978
@eivantsov yes I fully understand what @garagatyi is doing.

[2018-06-11 16:36] artaleks9 opened #10000 "Add a selenium test case to create the Pull Request from non-default branch"
### Description
* Need to add test method in the existing selenium test or create new selenium test covered creating the PR from non-default branch
* Test scenario:
   - clone a git repository, which has a several branches
   - checkout to some branch
   - do some changes and commit them
   - try to create PR
* Related issue: #9987

[2018-06-11 17:05] eivantsov commented on #9998
@mathus13 this restriction is applied to codenvy.io only. It's not relevant for Che. You can open the similar issue in codenvy repo https;//github.com/codenvy/issues

[2018-06-11 17:05] #9998 closed

[2018-06-11 18:48] CharlyRipp opened #10001 "Git Credentials git.sh mangles private key"
### Description
Installing Git Credentials provides the git.sh and matching $GIT_SSH env variable. Upon cloning via the terminal, you are prompted for a passphrase for the key `git.sh` had `curl`'d.

`Enter passphrase for key '/tmp/tmp.9PcDetwG57'`

Into further research the key had been mangled, adding `\r\n` seemingly randomly and dropping characters around each placement (see below).

### Repro

[2018-06-11 18:49] JPinkney commented on #9970
PR opened https://github.com/theia-ide/theia/pull/2092

[2018-06-12 04:27] shahar-h opened #10002 "Adding a new Language Server as a side car"
I'm trying to add a new Language Server as a side car using the following guide:
https://www.eclipse.org/che/docs/language-servers.html#ls-sidecars

The last part there explains how to add a server to the workspace config.
You mention there that I can register my own language id or use any ID from the default list:
https://github.com/eclipse/che/blob/master/wsagent/che-core-api-languageserver/src/

[2018-06-12 06:52] #9852 closed

[2018-06-12 07:00] #9957 closed

[2018-06-12 07:01] mshaposhnik commented on #9843
Yes, we expect to sign requests from Theia frontent to backend, and Theia backend to wsmaster.  But inside the workspace we're not expect to sign anything (i.e. theia back to LS for example)

[2018-06-12 07:27] #9036 closed

[2018-06-12 08:01] mshaposhnik commented on #9843
Example of memory consumption (10 req/sec load):
![screenshot_20180611_183105](https://user-images.githubusercontent.com/1651062/41277421-e9338ea4-6e2f-11e8-8680-8a529c895045.png)

[2018-06-12 08:03] #9984 closed

[2018-06-12 09:02] tsmaeder commented on #10002
That code has been refactored, but the documentation is not yet updated.

[2018-06-12 09:22] tolusha commented on #9820
![set-variable](https://user-images.githubusercontent.com/1640675/41281878-356e11b2-6e3b-11e8-995a-780fee0ac238.gif)

[2018-06-12 09:37] l0rd commented on #9961
We had a short discussion this morning with @eivantsov and @sleshchenko about how to simplify Che configuration in an OpenShift deployment. What we have concluded is that we only need to support the following 2 scenarios:

#### 1. Workspaces and Che master are deployed in the same namespace

- Che SA is used to create workspaces
- Simplest configuration, good for try and play
- Has limitatiosn: us

[2018-06-12 09:42] davidfestal commented on #9961
@l0rd @eivantsov Just a point: the creation of workspace in user namespaces is an **Openshift-only** feature. This is not available for the kubernetes infrastructure, at least for now.

Is it expected that the Kubernetes infrastructure would therefore not support multi-user scenarios ?

[2018-06-12 09:49] #9878 closed

[2018-06-12 09:56] RomanNikitenko opened #10007 "Provide ability to chose base branch on Pull Request Panel"
### Description
User do not have ability to chose base branch  on Pull Request Panel at the moment.
![pr_panel](https://user-images.githubusercontent.com/5676062/41282527-f66a79c2-6e3c-11e8-9d01-0697d4199cd0.png)
I think we can implement it like list box for contribution banches:
![pr_p](https://user-images.githubusercontent.com/5676062/41282733-7cf2c9e0-6e3d-11e8-812f-be63abfaa65c.png)

### Repro

[2018-06-12 10:06] l0rd commented on #9961
@davidfestal that's a good point but we can still use scenario n.1 (everything in one namespace) for multi-user k8s right? And open an issue to support scenario n.2 in k8s. What do you think?

cc @guydaichs

[2018-06-12 10:23] eivantsov commented on #9961
@l0rd I never set any credentials when deploy multi user Che to MiniKube and Che creates a namespace per workspace.

[2018-06-12 10:50] davidfestal commented on #9961
@eivantsov @l0rd I was just meaning that, in the case of Kubernetes, scenario 2 would probably be:

- Users tokens are used to create workspaces
- A distinct namespace is created for every workspace
- Multi tenant ready
- Che SA should have cluster wide privileges to be able to create workspaces in other namespaces
- This config cannot be applied to a Che single user

This mainly means that `che.i

[2018-06-12 11:14] SkorikSergey opened #10008 "Selenium: add option not to start test workspaces after creation"
### Description
When we create test workspaces in selenium tests, it always automatically starts after creation. It works fine for **IDE** tests, but unnecessary in tests when we just need to create some workspaces to work with them on the **Dashboard**(change workspace details, deleting, sharing).

[2018-06-12 11:36] sleshchenko commented on #9961
Also, we missed and didn't discuss that n.2 scenario with configured `che.infra.openshift.project` may be useful too. It may be useful when a user doesn't have permissions to create new projects but has predefined one (like OSIO use case). This scenario may be used to limit user's resources but setting quotas for user's namespace/project by cluster admin.
@l0rd @eivantsov Do you think it could be

[2018-06-12 11:48] musienko-maxim opened #10009 "Implement E2E test for checking commit id workflow from the git history dialog"
### Description
In the issue https://github.com/eclipse/che/pull/9988 was implemented new feature. We need to cover this one by E2E test.

[2018-06-12 12:00] #7408 closed

[2018-06-12 12:00] SkorikSergey opened #10011 "Unexpected fail of selenium tests from 'dashboard' package"
### Description
We have unexpected fail of selenium tests from 'dashboard' package. The tests sometimes fail when creating a new workspace on **New Workspaces** page. We should clarify reason and fix it.

**Log:**
[code]

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-docker/235/Selenium_tests_report/

[2018-06-12 12:29] artaleks9 opened #10012 "There are two parent folders with a same name when import recursively maven project"
### Description

**Reproduction Steps:**
* Open the IDE and import recursively a project (e.g. https://github.com/artaleks9/multimodule-submodule-project.git)
* Perform the project configuration
* Expand the project

**Expected behavior:**
* should not be present parent folders with a same name

**Observed behavior:**
* there are two parent folders with a same name in the project explorer

**Che v

[2018-06-12 12:31] l0rd commented on #9961
@eivantsov so yes it already works on kubernetes. But anyway to be consistent on all infra, if Che SA is used, we should not create a namespace for workspace. As per [the definition of namespace](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#when-to-use-multiple-namespaces] using a distinct one for eache workspace is overkill when using a unique service account.

@s

[2018-06-12 12:36] artaleks9 opened #10013 "Add the 'try/catch' block to the 'ImportWizardFormTest' according to the known issue (#10012)"
### Description
* Need to add the _try/catch_ block to the selenium test _ImportWizardFormTest_
* Related selenium test: _ImportWizardFormTest_
* Related known issue: #10012

[2018-06-12 12:39] #9811 closed

[2018-06-12 12:40] #9770 closed

[2018-06-12 12:54] davidfestal opened #10014 "Release a 6.6.1 bugfix version on branch `6.6.x`"
Please could you create a `6.6.1` bug-fix version on the `6.6.x` branch with the following commit:

7c3d432918c012e02b5fb64931ba7209fa53c707

This will be used by OSIO

cc @l0rd

[2018-06-12 13:10] #9901 closed

[2018-06-12 14:06] sleshchenko opened #10018 "Che Server has wrong value for ROUTING_SUFFIX when non-default DNS provider is used"
### Description
Che Server has wrong value for ROUTING_SUFFIX when non-default DNS provider is used.

<details>
<summary>Konsole output </summary>

[code]
</details>

As we can see
[code]
nip.codenvy-stg.com is configured as DNS provider but Che Server is configured to use `nip.io`

![screenshot_20180612_170308](https://user-images.githubusercontent.com/5887312/41295201-a3df5a1c-6e62-11e8-9c07-d09

[2018-06-12 14:07] sleshchenko commented on #10018
@eivantsov Can you take a look please

[2018-06-12 14:44] artaleks9 opened #10019 "Unexpected displaying the ask dialog when close the 'Preferences' form"
### Description
**Reproduction Steps:**
* Open the IDE and click _Profile_ -> _Preferences_ -> _Contribute_ (as example)
* The _Save_ button is disabled
* Change the state of the checkbox (the _Save_ button becomes enabled)
* Click on the _Refresh_ button, the _Save_ button changes to disabled
* Close the _Preferences_ form

**Expected behavior:**
* the _Preferences_  form should be closed

**Obse

[2018-06-12 14:59] artaleks9 opened #10020 "Add the 'try/catch' block to the 'ContributeTabTest' according to the known issue(#10019)"
### Description
* Need to add the _Assert.fail()_ to the selenium test _ContributeTabTest_ according to the known issue
* Using the _try/catch_ block
* Related known issue: #10019

[2018-06-12 15:06] #9987 closed

[2018-06-12 15:23] conrallendale commented on #8203
@eivantsov with driver cloudstor:aws this works out of the box. I was expecting to see the same behavior with local volumes. Is there any plan to implement this? thanks.

[2018-06-12 15:24] liyanliang1994 commented on #9943
Thanks for your reply.
@sleshchenko I try to replace nginx with traefik. Che create ingresses and service for workspace successsfully, but pod is not created. Is there anything I forget to configure?

traefik deployment
[code]

configmap
`CHE_INFRA_KUBERNETES_INGRESS_ANNOTATIONS__JSON: '{"kubernetes.io/ingress.class": "traefik", "traefik.ingress.kubernetes.io/rewrite-target": "/","traefik.ingress.

[2018-06-12 15:37] liyanliang1994 commented on #9943
@AndrienkoAleksandr It's true. Sometimes terminal reconnect successfully, but the working directory reset to '/projects' so that the previous work can't continue.

[2018-06-13 07:01] sleshchenko commented on #9943
@liyanliang1994 If Che creates ingresses and service for workspace successfully, but a pod is not created I guess workspace start hung up on `WaitReady` phase https://github.com/eclipse/che/blob/0b30ca1d9bf3a35b4997e1fac8004ac5a8fa5eea/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/KubernetesInternalRuntime.java#L569
Need to debug to make sure and inve

[2018-06-13 07:09] tsmaeder commented on #8941
Marking as fixed, as per @JPinkney's comment.

[2018-06-13 08:28] #10008 closed

[2018-06-13 08:37] #10013 closed

[2018-06-13 09:04] riuvshin commented on #10014
done

[2018-06-13 09:04] #10014 closed

[2018-06-13 10:18] artaleks9 opened #10027 "Check the working of all workspaces with samples according to optimize the list of stacks"
### Description
* We need to check by hand all list of stacks:
  - in UD click tab and create a workspace
  - build, run and test commands
  - build, run the samples
  - working Language Servers associated with the stacks
* Related issue: #9960
* Related document: https://docs.google.com/spreadsheets/d/1y74uc41OwVE20A8VYOVxH0eg5rOPwVYuITN7fmGNiNg/edit#gid=0

[2018-06-13 11:16] eivantsov commented on #9632
@kostiamol so what you say is that there's no PVC `che-data-claim`?

[2018-06-13 11:27] #10020 closed

[2018-06-13 11:37] kostiamol commented on #9632
@eivantsov It seems to be so, because `kubectl get pvc -n che-ns` doesn't show it. Maybe because of this?
[code]
[Commit message: Disable che-data pvc creation for musltiuser che deployment](https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/templates/pvc.yaml)

[2018-06-13 11:40] eivantsov commented on #9632
Probably yes

[2018-06-13 11:42] kostiamol commented on #9632
@eivantsov So, how could add my samples?

[2018-06-13 11:45] #9563 closed

[2018-06-13 11:54] #9845 closed

[2018-06-13 12:04] #9820 closed

[2018-06-13 12:07] eivantsov commented on #9632
@kostiamol I'd remove `{{- if not .Values.global.multiuser }}` and redeploy

[2018-06-13 13:28] mmorhun commented on #9845
Sample plugin is added as part of https://github.com/theia-demo-plugins/theia-frontend-plugin/pull/8

[2018-06-13 13:42] #9649 closed

[2018-06-13 14:47] gcoutable opened #10030 "Complete freeze of Che after cancelling to Build a stack from recipe"
### Description
Complete freeze of Che UI after cancelling to Build a stack from recipe. As the browser is frozen it ask me to refresh (on Chrome) or stop the script (on firefox).

### Reproduction Steps
Step to reproduce:
- From Stacks Page, click on _Build Stack From Recipe_ => A modal dialog opens
- Put the focus on the text area
- Make a undo (Ctrl+z) => the string `xxxxxxxxxx1` appears
- remo

[2018-06-13 14:53] kostiamol commented on #9632
I commented the line but nothing changed. @akorneta Could you help with that?

[2018-06-13 15:08] artaleks9 commented on #10027
Checked on the docker-single platform. Need to check on the openshift platform.

[2018-06-13 19:35] gazarenkov opened #10032 "Not possible to configure projects sources for LS launched on standalone machine"
LS always expects source code on the same path as it configured for "ws-agent" machine (machine where Project API located).
Inability to configure this path limit using it on in case when LS launched in standalone machine (a k a sidecar) especially for the cases when there are no permissions to use the same dir or LS image is provided by third party.

[2018-06-13 20:35] CharlyRipp commented on #10001
My current workaround at the moment:
[code]
Note the `sed` and `echo -e`. I changed it quite a bit for working locally utilizing environment variables.
I'm hopefully going to have time to test it on an Ubuntu image soon and if it's good, I'll submit a pull request,.

[2018-06-14 00:54] sr229 commented on #7445
Seems to be present in 6.5.3 as well.

[2018-06-14 05:30] #10018 closed

[2018-06-14 05:31] eivantsov commented on #9632
@kostiamol did you comment this one too? https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/templates/pvc.yaml#L21

It is weird that a Helm never applied the template.

[2018-06-14 05:31] tsmaeder opened #10034 "Fix Rename Selanium Failures"
Currently, Selenium tests fail on the jdt.ls branch because they seem to wait for a confirmation dialog of some sort:
org.openqa.selenium.TimeoutException:
Expected condition failed: waiting for visibility of Proxy element for: DefaultElementLocator 'By.xpath: //button[@id='ask-dialog-ok']/ancestor::table' (tried for 10 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.0.1', revisi

[2018-06-14 06:29] eivantsov commented on #5280
Closed due to inactivity

[2018-06-14 06:29] #5280 closed

[2018-06-14 06:50] #6840 closed

[2018-06-14 06:53] #8122 closed

[2018-06-14 07:14] eivantsov opened #10035 "Ws-agent prints errors when applying Go to definition (outside project) in a Go project"
### Description

Errors in ws-agent logs when opening a file from a dir that is not in project registry.

### Reproduction Steps

1. Start a workspace from GO stack
2. Import https://github.com/eivantsov/che-cli
3. In the terminal run `go get github.com/eivantsov/che-cli` - it will take some time
4. Open command/command.go file
5. Place cursor 29:27, hit F4
6. A file is opened however, ws-agent sp

[2018-06-14 07:19] ashumilova opened #10036 "Document how to write Theia plugin from scratch"
There is need to provide detailed documentation on how to write Theia plugin with the help of new API. It should be part of the wiptheia repository and contain the real use cases for the end user.

[2018-06-14 07:32] RomanNikitenko commented on #9244
the plugin with Emacs key bindings is temporarily placed [here](https://github.com/RomanNikitenko/che-theia-emacs-plugin/pull/1)

[2018-06-14 07:36] RomanNikitenko commented on #9244
Corresponding to [this comment](https://github.com/theia-ide/theia/blob/da4e14af3a1b8ac24d7ec3368161d70b225c8dd4/packages/monaco/src/browser/monaco-keybinding.ts#L44) Theia does not support chord keybindings properly at the moment, so keybindings for actions like 'Delete blank lines around'(Ctrl+X Ctrl+O) or 'Select All'(Ctrl+X H) are not implemented.

[2018-06-14 07:54] garagatyi commented on #9961
@sleshchenko @l0rd isn't this use case already implemented? if so, should we consider to change the code to remove this ability and then fix it later?

[2018-06-14 07:58] dmytro-ndp opened #10038 "Regular user can't start workspace on Eclipse Che with openshift-v3 identity provider"
### Description
After we have registered _OpenShift identity provider_ as described [here](https://www.eclipse.org/che/docs/openshift-admin-guide.html#create-workspace-objects-in-personal-namespaces), regular user is still able to register as usual from login page omitting OpenShift Web Console. But then he/she can't start workspace because of error:

![screenshot from 2018-06-14 10-40-15](https:/

[2018-06-14 08:04] chetray opened #10039 "Che / Keycloak - Enable Fine Grained Authorization in Keycloak"
### Description
Is it possible to enable Fine Grained Authorization in Keycloak for Eclipse Che?  When turning it on, it changes the OpenID Connect type from Public to Confidential.  For Che to communicate with Keycloak with these settings, the Secret must be given to Che, but I have found no way of setting this.

Does anyone have any ideas?

### Reproduction Steps
Deploy Che and Keycloak together

[2018-06-14 08:06] kostiamol commented on #9632
@eivantsov It still doesn't work. Ok, there isn't any pvc for che, but where then the sample.json is stored?

[2018-06-14 08:19] ashumilova commented on #9679
Almost all work is done on Editor API already.

[2018-06-14 08:19] #9680 closed

[2018-06-14 08:30] ashumilova commented on #9973
TODO create issue in updtream

[2018-06-14 08:33] AndrienkoAleksandr commented on #9909
Related to the pull requests:
https://github.com/eclipse/che-lib/pull/87 and https://github.com/eclipse/che/pull/10037

[2018-06-14 08:33] AndrienkoAleksandr commented on #9909
@musienko-maxim Could somebody from QA team give this issue?

[2018-06-14 08:41] AndrienkoAleksandr opened #10040 "CHE build fail on Java 10 (build doesn't pass running tests)"
### Description
CHE build fail on Java 10 (build doesn't pass some tests).

### Reproduction Steps
1. Build che by `mvn clean install`. Java version: 10.0.1. With skip tests build is succesfull.

**OS and version:**
Fedora 28.
**Diagnostics:**
<pre> It is recommended that the compiler be upgraded.
100 warnings
[INFO]
[INFO] --- maven-surefire-plugin:2.20.1:test (default-test) @ che-core-commons-la

[2018-06-14 08:47] eivantsov commented on #9632
@kostiamol if there's no pvc, unfortunately, there's no way to provide own samples

[2018-06-14 08:51] #9214 closed

[2018-06-14 08:55] eivantsov commented on #10039
@chetray currently the client has to be a public one. Labeling as enhancement.

[2018-06-14 08:58] sleshchenko opened #10041 "Unable to build Che images if default shell doesn't support `<<<` operator"
### Description
Unable to build Che images if default shell doesn't support `<<<` operator.

### Reproduction Steps
1. Try to build Che Server image where default shell is configured to `dash`.
Expected: Image is built.
Actual: The following error appears:
[code]
**OS and version:**
[code]

**Diagnostics:**

[2018-06-14 09:03] eivantsov commented on #9632
@kostiamol what you need to do is to remove (not comment) those ifs in pvc.yaml and deployment.yaml (multiple occurrences). Just search for `che-data-volume` in helm directory.

[2018-06-14 09:04] Ohrimenko1988 opened #10043 "Unexpected fail of "ContributeTabTest" selenium test"
### Description
We have unexpected fail of "ContributeTabTest" selenium test. It looks like something went wrong with a method which checks a disappearance of notifications in IDE. We should investigate and resolve this problem.

**Log:**
[code]

**Report with a reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-docker/304/Selenium_tests_report/

**OS and ver

[2018-06-14 09:19] davidfestal opened #10044 "Release a 6.6.2 bugfix version on branch `6.6.x`"
Could you create a 6.6.2 bug-fix version on the 6.6.x branch with the following commit: 6227792

It was included in the 6.5.3 bug-fix release, but was missed in the last 6.6.1 bug-fix release.

cc @l0rd

This will be used by OSIO

[2018-06-14 09:38] svor opened #10045 "Create a general model of JavaElement in che-ls-jdt"
In che-ls-jdt project we have a set of DTOs which are describe java elements (for example PackageFragment, PackageFragmentRoot, JavaProjectElement and others). So the main idea to create some general object to describe all these elements.
@tsmaeder proposed to create something like:
[code]

[2018-06-14 09:39] mstavares opened #10046 "sdk-embed-htmljs broken"
Hi,

I'm developing a native JS component for che. I already read some stuff here and I guess that the info that I need has a broken link for it.
https://www.eclipse.org/che/docs/assemblies/sdk-embed-htmljs/index.html

Are you able to fix it?

Thanks,

[2018-06-14 09:41] sleshchenko commented on #10041
Looks like it was introduced in https://github.com/eclipse/che/pull/9850. @riuvshin Can you take a look?

[2018-06-14 09:56] eivantsov opened #10047 "Restore dependencies on creating a C# project"
### Description

The problem is that when a new C# project is created and a C# LS is initialized (open a file), the LS does not have dependencies available. Dependencies have to be there before LS is initialized.

It makes sense to run `dotnet restore` once a project is created.

[2018-06-14 10:53] eivantsov commented on #10046
@mstavares the approach to write gwt extensions that inject own js has been deprecated.

At this moment, there's an ongoing effort to integrate Theia into Che workspaces, so plugins will be authored in JS.

[2018-06-14 10:54] #8941 closed

[2018-06-14 11:00] mstavares commented on #10046
@eivantsov thanks for your reply.
I'm developing a kind of visual code generator for JS. I just connect some visual components and then the code is automatically generated.
This implementation is coded in html and JS and I really need to integrate it with che. I was expecting that the broken link could help me to integrate it.

[2018-06-14 11:05] chetray commented on #10039
thanks @eivantsov, I am using this in MiniShift/OpenShift, I can't imagine it would be too difficult to pass in a secret through the environment variables

[2018-06-14 11:08] tolusha opened #10048 "Theia DAP: Show Source for Suspended Threads"
We have to open the source when thread is suspended.
Browsing call stack should also open the corresponding source.

PR# https://github.com/theia-ide/theia/pull/2121

[2018-06-14 11:12] eivantsov commented on #10046
Perhaps this can help https://github.com/che-samples/che-plugin-embedjs

[2018-06-14 11:14] mstavares commented on #10046
@eivantsov I will check it. Thanks a lot :)

[2018-06-14 11:55] svor opened #10049 "Javadoc is duplicated"
When the workspace is restarted, javadoc is duplicated.
See steps to reproduce:
1. Start the workspace with java project and wait when jdt.ls is started;
2. Go to Workspace menu and click Stop;
3. Wait when the workspace is stopped and start it again
4. When jd.ls will be ready, hover the mouse on some java element and than you'll see that the documentation is duplicated:
![screenshot from 2018-06

[2018-06-14 12:13] kostiamol commented on #9632
@eivantsov Yeeeah, it works. But why it didn't work when I only commented the lines without deleting them? And second question: I've copied using `kubectl cp` my `custom-samples.json` to both `/data/templates` and `/home/user/eclipse-che/templates `but che doesn't show it. Should I move the copy operation to the configs or what?

[2018-06-14 12:17] dmytro-ndp opened #10050 "Create E2E selenium tests to cover stacks in Che Dashboard"
### Description
Eclipse Che Dashboard provides ability to create workspace from predefined or self-created stacks
https://www.eclipse.org/che/docs/stacks.html :
![screenshot from 2018-06-14 15-09-50](https://user-images.githubusercontent.com/1197777/41411439-8da65df2-6fe5-11e8-9db8-25f11d952aa7.png)

We need to cover this functionality by E2E selenium tests for next stacks:

- [x]  .NET https://gi

[2018-06-14 13:03] popey opened #10051 "Consider delivering a snap of eclipse che"
[snaps](https://snapcraft.io/) are "_containerised software packages that are simple to create and install._"

It would be awesome if che was available in the snap store. Snaps are easy to install and remove, both from the command line and within GNOME Software on the desktop. They contain the necessary dependencies to run, meaning they don't have to worry about host system library installation co

[2018-06-14 13:05] eivantsov commented on #9632
Can you confirm this file is there when you restart Che?

[2018-06-14 13:08] tsmaeder opened #10052 "Selenium: Source Folder Paths have wrong base"
ConfigureClasspathBaseTest fails because of the value the source folder paths we show in the dialog:
expected is '/ConfigureClasspathBase_5fah/my-lib/src/main/java', but we show '/my-lib/src/main/java'. I suspect that we are using the eclipse project path instead of the locationURI.

org.openqa.selenium.TimeoutException:  Expected condition failed: waiting for org.eclipse.che.selenium.pageobject.C

[2018-06-14 13:21] davidfestal commented on #10038
1. Are you sure you created the `openshift-v3` identity provider in Keycloak with the same options as defined in the documentation, especially the following options:

![image](https://user-images.githubusercontent.com/686586/41414466-6a7c32a6-6fe6-11e8-9ce9-2a74314a0648.png)

Seems strange that the alternate Openshift login method is proposed in the Che login page.

 2. Are you sure you added a de

[2018-06-14 13:31] dmytro-ndp commented on #10038
Actually, identity provider was created with the next options:
![screenshot from 2018-06-14 13-51-47](https://user-images.githubusercontent.com/1197777/41414926-fc08dfae-6fef-11e8-9813-d9a2ff30173c.png)

Documentation doesn't mention enabling of options `Account Linking Only` and `Hide on Login Page` https://www.keycloak.org/docs/3.3/server_admin/topics/identity-broker/social/openshift.html

Also,

[2018-06-14 13:37] musienko-maxim commented on #9854
**Also we have tested formatting with other language server and got next reults:**
The LS with disabled formatter feature:
* PHP language server
* JSON language server
* Yaml language server
* Camel language server
* Go language server
----
The LS where formatter works:
* Clang language server
* Type script language server

[2018-06-14 15:19] dmytro-ndp commented on #10038
@davidfestal: enabling `Account Linking Only` and `Hide on Login Page` options of OpenShift v3 identity provider hides section `Login with OAuth: openshift-v3` at _Login Page_.

Also, adding _read-token_ role is fixes error message in case of starting workspace:
![screenshot from 2018-06-14 18-13-43](https://user-images.githubusercontent.com/1197777/41421182-d7ae5a08-6ffe-11e8-914a-bd10fd8ec8b8.pn

[2018-06-14 15:59] dmytro-ndp commented on #10038
@davidfestal, @eivantsov:  another moment is - should Eclipse Che on OCP support several identity providers at a time, for example: **OpenShift** and **GitHub**?
![screenshot from 2018-06-14 18-54-48](https://user-images.githubusercontent.com/1197777/41423623-75ccd836-7004-11e8-96a3-daaf5e891ab1.png)

Now user which is logged in with _GitHub_ account is still requested to link account with _OpenSh

[2018-06-15 07:10] AndrienkoAleksandr commented on #9265
Under CQ.

[2018-06-15 07:21] xuzhiop opened #10055 "csharp language server init failed when open demo.csproj file"
### Description
csharp language server init failed when open web.csproj

### Reproduction Steps
1, create .net workspace
2, import project from https://github.com/che-samples/dotnet-web-simple.git
3, open web.csproj, then get init failed error

**OS and version:**
che 6.6.0
Kubernetes 1.9.2

[2018-06-15 08:20] SkorikSergey opened #10056 "Cover workspace creation from Python stack by selenium test"
### Description
We need to cover workspace creation from the **Python** stack by selenium test.

### Related issue
https://github.com/eclipse/che/issues/10050

[2018-06-15 08:51] #6748 closed

[2018-06-15 09:11] SkorikSergey commented on #10011
Fixed.

[2018-06-15 09:11] #10011 closed

[2018-06-15 09:28] kostiamol commented on #9632
@eivantsov Now it works. I copied my file to` /data/templates `and deleted the che pod (according to the deployment it was recreated automatically).

[2018-06-15 09:56] Ohrimenko1988 opened #10058 "Remove "Known issue" which catches #8122 bug"
### Description
The #8122 bug has been fixed. So we should find all places in selenium tests where this bug is catching by "Known issue" and remove them.

[2018-06-15 10:11] kostiamol commented on #4110
I'm deploying che as a helm chart at private infrastructure with proxy. I use my custom stack with http_proxy and https_proxy var defined. But when I'm starting workspace che can't clone the projects:

![screenshot from 2018-06-15 11-24-11](https://user-images.githubusercontent.com/5477699/41462915-cac4d59c-7094-11e8-9241-b98d5304aa91.png)

At the same time I'm able to clone the project in the ter

[2018-06-15 10:58] eivantsov commented on #4110
You will need to add proxy settings as JAVA_OPTS.

[2018-06-15 11:22] kostiamol commented on #4110
@eivantsov You mean in `configmap.yaml` like that?
` JAVA_OPTS: "-XX:MaxRAMFraction=2 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 ... http_proxy=$IP https_proxy=$IP "`

[2018-06-15 11:46] eivantsov commented on #4110
@kostiamol no, those will be applied for Che pod not workspace pods.

It should be

`CHE_WORKSPACE_WSAGENT_JAVA__OPTIONS`

Once you add this one and redeploy, pay attention to ws-agent start logs to make sure it uses your proxy settings as JVM args

[2018-06-15 11:50] ashumilova opened #10059 "IDE2-2018-07-10 (Sprint: 151)"
### Sprint Goals:
1. Plugin model implementation
2. Factories support in Theia IDE
3. Sample plugins in Theia IDE

## 1. Extensibility model implementation
- [x] Implement showInputBox method for Theia plugin system https://github.com/eclipse/che/issues/9980 20sp
- [ ] Implement 'showOpenDialog' method of plugin API  https://github.com/theia-ide/theia/issues/2153 25sp
- [ ] Implement 'showSaveDial

[2018-06-15 12:32] svor commented on #10049
@tsmaeder I've updated the description

[2018-06-15 13:06] es13b1018 commented on #9833
Got it working, it wasn't able to find my extension class file. I had to include the version of my plugins in the dependencies.

[2018-06-15 13:06] #9833 closed

[2018-06-15 13:09] #10056 closed

[2018-06-15 13:11] sunix opened #10061 "Theia: Filtering env variables"
https://github.com/theia-ide/theia/pull/1650 is exposing all the environment variables by default.
The goal of this issue is too add the ability for theia extensions to filter and select only the env variables needed by a plugin.

1. EnvVariablesServer from "@theia/core/lib/common/env-variables" won't change from the user perspective: only the content returned would change
2. A injectable service

[2018-06-15 13:19] sunix opened #10062 "Factory in Theia: optimizing che-theia-factory loading"
### Description
Part of import projects which is a subtask of #9074

With https://github.com/eclipse/che-theia-factory-extension/pull/1 it is possible to have Theia cloning projects that are defined in the factory definition when coming from a factory URL. However it is taking time compiling Theia each time a factory is launched. The goal of this issue is to include che-theia-factory-extension to

[2018-06-15 13:38] SkorikSergey opened #10063 "[Language server] Content of Python language server hover feature is doubled."
### Description
Content of  **Python** language server hover feature is doubled.

**Additional information:**
- **Python** language server:
![untitled2](https://user-images.githubusercontent.com/7760565/41470300-e288e438-70b8-11e8-9790-dfc81b053f1c.png)

[2018-06-15 13:47] #8164 closed

[2018-06-15 14:25] FusionFabric opened #10064 "space character in path of REST call"
### Description

### Reproduction Steps
Create a file called  a b
In your devTools, a REST call  to  a%20b is issued and fails

**OS and version:**
Che 6.4

**Diagnostics:**
The space character is displayed as %20 in the REST call but badly parsed

[2018-06-15 14:36] SkorikSergey opened #10065 "[Language server] Content of PHP language server hover feature is doubled."
### Description
Content of  **PHP** language server hover feature is doubled.

### Reproduction Steps

1. Create a workspace based on **PHP** stack.
2. Create **web-php-gae-simple** project from wizard.
3. Open **helloworld.php** file.
4. Hover mouse on **"**htmlspecialchars**"** text in line 9.

**Actual result:** content of  hover feature is doubled.

**OS and version:**  Che 6.8.0-SNAPSHOT; Chr

[2018-06-15 14:47] SkorikSergey opened #10066 "Go language server doesn't format selected code fragment properly"
### Reproduction Steps
1. Create and start workspace from **Go** stack with **desktop-go-simple** project.
2. Open **main.go** file and change code to:
[code]
3. Select part of code from **3** to **7** line and  start **Format** feature from context menu.

**Expected result:**
Code changed to:
[code]

**Actual result:**
Nothing changed.

**Addition information:**
![screencast-172 19 20 234-8080-20

[2018-06-15 14:56] artaleks9 opened #10067 "Correct the 'AfterMethod' in the 'ContibuteTabTest'"
### Description
* Need to correct the processing closing the ask dialog and the _Preferences_ forms when test fails by two known issues
* Related selenium test: _ContibuteTabTest_
* Related known issues: #10019, #9959

[2018-06-15 15:00] SkorikSergey opened #10068 "TypeScript language server doesn't format selected code fragment properly"
### Reproduction Steps
1. Create workspace from **Node** stack with **nodejs-hello-world** project.
2.  Enable **TypeScript** language server by slider on workspace details page and start the workspace.
3. Create **Greeter.ts** file and add content:
[code]
4. Select part of code from **6** to **8** line and  start **Format** feature from context menu.

**Expected result:**
Code changed to:
[code]

[2018-06-16 15:10] Dave199011 opened #10070 "oAuth sign in problem!"
Google sign-in oAuth button doesn't work and the server gives out an error! (screenshot submitted)

Also I'm not able to sign in with username and password!

Login page error with username and password: "Authentication failed. Please check username and password."

Ps: I have changed my password successfully but still can't login with new password!

Sorry if I don't know the right format for submit

[2018-06-16 19:03] skabashnyuk commented on #10070
What version of Codenvy are you using?

[2018-06-16 19:09] skabashnyuk commented on #10064
Can you give example from chrome console?

[2018-06-16 19:10] eivantsov commented on #10070
Closing as not relevant to Che. Openan issue with Codenvy repo https://github.com/codenvy/issues

[2018-06-16 19:10] #10070 closed

[2018-06-16 22:30] Dave199011 commented on #10070
@eivantsov Thank you. Would you please consider to take a look at the issue in Codenvy repo.

[2018-06-17 17:09] nickmansrob opened #10071 "Multi-user setup: dashboard won't load"
Hello everyone

I've installed Eclipse Che in Docker, Proxmox as guest OS. In single user modus works everything fine. But when I enable multi user mode, the Eclipse logo keeps blinking and nothing happens.
This is the run command I've used: docker run -it -e CHE_MULTIUSER=true -v /var/run/docker.sock:/var/run/docker.sock -v ~/.che-multiuser:/data eclipse/che start

In the attachments: the Keycloa

[2018-06-18 03:59] Mikerr1111 opened #10072 "Are all Linux based distros compatible with Che"
Looking at the documentation under 'Getting Started' I see Ubuntu and then Linux. I'm just wondering if all Linux distros are compatible for example RedHat, Debian, Arch, and OpenSUSE? If you could elaborate on the Linux distros tested and supported it would be helpful.

![che](https://user-images.githubusercontent.com/18353476/41517470-0d285e68-7270-11e8-94b3-9194620fdf43.PNG)

[2018-06-18 04:09] svenefftinge commented on #9968
Why don't you file this under Theia?

[2018-06-18 04:10] svenefftinge commented on #9836
This issue should be tracked in Theia, no?

[2018-06-18 05:32] eivantsov commented on #10072
@Mikerr1111 yes, all Linux distros should be ok as long as you can run Docker 1.13+ there.

[2018-06-18 05:33] eivantsov commented on #10071
@nickmansrob can you open browser dev console and share a screenshot taken when Che logo is blinking?

Also, you seem to have modified redirectURIs, since it should have `/*` in the end.

[2018-06-18 05:58] sleshchenko commented on #9943
@liyanliang1994 Great to hear that it finally works.
@eivantsov Should we create bugs for issues that @liyanliang1994 described?

[2018-06-18 06:03] eivantsov commented on #10051
@popey that's quite interesting. I have actually had a conversation about it with folks from Canonical at EclipseCon Europe last year.

Is there a how to guide for snap dummies like myself to take a look at?

[2018-06-18 06:30] Mikerr1111 commented on #10072
Okay, Thank You!

[2018-06-18 06:30] #10072 closed

[2018-06-18 07:12] mshaposhnik opened #10074 "Make public/private signing keys pair per-workspace and synch with workspace runtime (renew pair on each workspace restart)"
### Description
To make client  - server conversations using JWT signatures inside workspace more protected, we need to
1) generate private/public key pairs separately for each workspace.
2) re-generate pair each time on workspace restart

[2018-06-18 07:26] tsmaeder opened #10075 "Languages Sprint 151"
# Availability
@tsmaeder: 7d
@tolusha 14d
@svor 13d
@vrubezhny 14d
@JPinkney 14d
@fbricon 8d
@snjeza 14d

84 * 0.6= 50 d
(24d)

- [ ] #8666 Cleanup unused Java support Part 2 1d (@JPinkney )
- [x] #8940 (Theia) Create Che Java Contribution 1d @tsmaeder
- [ ] #8965 Theia: Implement Java "libraries" feature (4d) (@JPinkney)
- [ ] #9591 Address Selenium Test Merge Blockers (timeboxed: 15d)
  - [x] #1

[2018-06-18 07:48] tsmaeder opened #10076 "DAP: Step in, out, over"
Add actions to step in, step out and step over on selected threads. As always, think about multi-selection cases where it makes sense.

[2018-06-18 07:51] tsmaeder opened #10077 "DAP Create Line Breakpoint"
Add an interaction (double click on editor sidebar?) to create/remove a line breakpoint. Make sure that the new breakpoint becomes active in debug targets where it applies.

[2018-06-18 08:12] FusionFabric commented on #10064
dev machine shows:
![image](https://user-images.githubusercontent.com/40062501/41525000-cd18e926-72df-11e8-8256-b5ebbeb5f9d7.png)

chrome console:
![image](https://user-images.githubusercontent.com/40062501/41525080-1dfddbd0-72e0-11e8-9882-aabd5642ac1c.png)

[2018-06-18 08:14] mshaposhnik opened #10078 "Create CQ for jwtproxy"
### Description
Since we will probably need to build/use own fork of jwtproxy,  the appropriate CQ need to be created.

[2018-06-18 08:33] tsmaeder opened #10079 "Investigat Java Debug Adapter"
A team from Microsoft has created an extension to jdt.ls that works as a debug adapter. We need to investigate how to best integrate that into Theia. The options I see are:
1. We consume the MS extension as a build dependency and build che-ls-jdt with the relevant bundles includes.
2. We replicate a mechanism like in the VSCode Java exension that allows other plugins to add bundles to the jdt.ls i

[2018-06-18 09:05] #9968 closed

[2018-06-18 09:19] svor commented on #10034
PRs:
-  https://github.com/eclipse/che/pull/10080
- https://github.com/eclipse/che-ls-jdt/pull/53

[2018-06-18 09:37] vparfonov commented on #9797
I think it's just nice to have, not critical. Firstly we need to upgrade lsp4j (#9864), and fix several technical impediments. Which mainly comes from our feature for supporting multi language server for on opened file.

[2018-06-18 10:26] sleshchenko opened #10081 "Cover ws-agent/exec-agent/terminal with JWT proxy on K8s/OpenShift infrastuctures"
### Description
Cover ws-agent/exec-agent/terminal with JWT proxy on K8s/OpenShift infrastuctures.

It includes the following operations:
- add `jwtproxy` container for one workspace;
- configure `jwtproxy` in the added container, the corresponding public key and config file should be injected into the container. The injection can be implemented with using secrets.
- rewrite public accessible serv

[2018-06-18 10:35] popey commented on #10051
Hi @eivantsov thanks for the prompt response! :)

We have some [docs](https://docs.snapcraft.io/) for [getting started](https://docs.snapcraft.io/build-snaps/) and specific docs per [language](https://docs.snapcraft.io/build-snaps/languages).

In a nutshell, snapcraft is typically the tool we use to assemble the snap. The resulting snap is built to run against a very minimal 16.04-based base image

[2018-06-18 11:35] kostiamol commented on #4110
@eivantsov I tried a lot of format variants according to the  [post](https://stackoverflow.com/questions/120797/how-do-i-set-the-proxy-to-be-used-by-the-jvm) but the workspace doesn't see my variables. I even used another [variable name](https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L69).
[code]

![image](https://user-i

[2018-06-18 11:35] Mohdzaved2434 opened #10082 "Information regarding workspace logs"
### Please let us know the concrete procedure for storing workspace logs including the followings.
1: Container name to be logged in  (eclipse/che-server etc.)
2: Output destination directory of logs
3: Log file name
4: How to output debug logs, how to switch output modes, output destination

Following code is being used by us to display workspace logs on console

 public void executeCommand(final

[2018-06-18 11:46] skabashnyuk commented on #10082
@Mohdzaved2434  can you give some context about what are you doing and what are you trying to achieve. From issues description, it was not very clear.

[2018-06-18 11:55] #10048 closed

[2018-06-18 12:07] eivantsov commented on #4110
@kostiamol it should be

`CHE_WORKSPACE_WSAGENT__JAVA__OPTIONS`

Double underscore.

[2018-06-18 12:11] vrubezhny opened #10083 "NPEs on workspace start-up"
### Description
Several NPEs might happen on workspace startup when an JsonRpcError instance is created from an Exception with no message provided (for example, TimeoutException).

### Reproduction Steps
- Create Java Workspace
- I have created a Plain Java project and open in editor its Main.java class
- Stop and restart workspace.
- Watch dev-machine log during the workspace start up

![lsnpe](h

[2018-06-18 12:17] SkorikSergey opened #10084 "Cover Golang language server functionality by selenium test"
### Description
We need to cover **Golang** LS by selenium test using use cases from this test plan - https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers.

[2018-06-18 12:29] fbricon commented on #10045
it should also have an `attributes?:Map` field

[2018-06-18 12:37] skabashnyuk opened #10085 "Platform-2018-07-10 (Sprint: 151)"
### Features related to Authentication and security in Theia IDE
 - [ ] Cover ws-agent/exec-agent/terminal with JWT proxy https://github.com/eclipse/che/issues/10081 13sp
- [x] Create CQ for jwtproxy https://github.com/eclipse/che/issues/10078  5sp
- [x] Make a unique nonce as optional check in jwtproxy https://github.com/eclipse/che/issues/10090 5sp
- [ ] Make public/private signing keys pair per

[2018-06-18 12:38] SkorikSergey opened #10086 "Python language server doesn't format selected code fragment properly"
### Reproduction Steps
1. Create a workspace based on Default Python Stack stack.
2. Enable **Python** language server installer if it need.
3. Create  `web-python2.7-simple` project from wizard.
4. Open `main.py` file.
5.  Change content from file something like that:.
[code]
6. Select next fragment of code from line 8:
[code]
7. Apply **Edit** -> **Format**.

**Expected result:**  The content sh

[2018-06-18 12:40] Ohrimenko1988 opened #10087 "Update "TestWebElementRenderChecker" class for working with popups"
### Description
We have "TestWebElementRenderChecker" class for waiting for web element animation end. But it does not work correctly with popups. So we should investigate this problem and add an ability to check popups animation ending.

[2018-06-18 12:43] vparfonov commented on #9548
fixed in https://github.com/eclipse/che/issues/9987

[2018-06-18 12:43] #9548 closed

[2018-06-18 12:51] fbricon commented on #10075
jdt.ls

- [ ] [#688](https://github.com/eclipse/eclipse.jdt.ls/issues/688) Insert best guessed parameters
- [ ] [#696](https://github.com/eclipse/eclipse.jdt.ls/issues/696) Convert from  `var` to type code action
- [ ] [#697](https://github.com/eclipse/eclipse.jdt.ls/issues/697) Convert from type to `var` code action

[2018-06-18 12:51] eivantsov commented on #9549
So, this is both a docs and eng task.

As the moment, the following envs work for Docker infra only:

[code]
We need env provisioners for them. Once done, I can summarize in docs all the proxy envs that a user might need.

[2018-06-18 13:11] #550 closed

[2018-06-18 13:12] sunix commented on #9679
here it is

- get opened editors
- get opened editor
- put/remove markers (cursor) - position row/column
- on cursor/selection activity
    - selection start.row
    - selection start.col
    - selection end.row
    - selection end.col

- on document ready
- on document opened
- on document active
- on document changing (about to change)
    - startPosition.getrow
    - startPosition.getColumn

[2018-06-18 13:14] sunix commented on #9679
Also would be nice to have the ability to open an editor that is not in the file system. have a virtual file system but maybe this is out of scope.

[2018-06-18 13:16] #3741 closed

[2018-06-18 13:18] #5382 closed

[2018-06-18 13:19] #6250 closed

[2018-06-18 13:41] vparfonov opened #10089 "IDE-2018-07-10 (Sprint: 151)"
### Issues

#### Artem
- [ ] Restore dependencies on creating a C# project #10047
- [x] Make a command's target optional for Che tasks #10135
- [ ] Che task in Theia may have the multiple targets defined #10136
- [x] Show info about the running Che task in Theia's terminal widget #10137

#### Dmytro
- [x] Not possible to configure projects sources for LS launched on standalone machine #10032
- [ ]

[2018-06-18 13:41] sleshchenko opened #10090 "Make a unique nonce as optional check in jwtproxy"
### Description
There is a plan to secure tooling servers with authentication that are done by coreos/jwtproxy. But there is a thing that prevents us to use it: a requirement to use a unique nonce for each request.
While the main client of tooling servers is IDE in a browser, where is no a way to generate a token, because it is not secure to provide a client with a private key. So, we are not able

[2018-06-18 13:59] #9907 closed

[2018-06-18 13:59] #9906 closed

[2018-06-18 13:59] #9435 closed

[2018-06-18 14:16] ashumilova commented on #10036
Closing as far as @benoitf has started it already here - https://github.com/benoitf/cdoc/blob/master/README.adoc

[2018-06-18 14:16] #10036 closed

[2018-06-18 14:39] kostiamol commented on #4110
It still doesn't work.

[code]

[2018-06-18 14:41] artaleks9 commented on #8459
This bug was reproduced on the multiuser-ocp platform, version 6.7.0

[2018-06-18 14:49] eivantsov commented on #4110
@kostiamol the only thing I did not check is to use both (in fact, you do not need both `CHE_WORKSPACE_HTTP__PROXY__JAVA__OPTIONS` and `CHE_WORKSPACE_WSAGENT__JAVA__OPTIONS` ). Otherwise, I manually added the latter in Che deployment and was able to see http proxy as ws agent jvm arg in a workspace pod.

[2018-06-18 15:07] svor opened #10094 "Fix selenium tests from org.eclipse.che.selenium.refactor.fields"
### Description
For tests from `org.eclipse.che.selenium.refactor.fields` packages need to check projects which are used for testing, looks like they are not valid (not Maven, not Plain java).

 The link to CI: https://ci.codenvycorp.com/view/qa/job/che-integration-tests-jdt-ls-docker/

[2018-06-18 15:12] svor opened #10095 "Fix selenium tests from org.eclipse.che.selenium.refactor.preview"
### Description
The view of compare widget for Refactoring wizards was modified, so need to adapt existed tests from `org.eclipse.che.selenium.refactor.preview`.

The link to CI: https://ci.codenvycorp.com/view/qa/job/che-integration-tests-jdt-ls-docker/

[2018-06-19 05:10] Mohdzaved2434 commented on #10082
We are printing some logs on Eclipse che console using a tool.
We want to know that is there any log file in which these logs are being stored?

please find the attached image for the same

![image](https://user-images.githubusercontent.com/29610208/41577556-295ee08e-73ab-11e8-9feb-f50fe9f4264a.png)

[2018-06-19 06:16] eivantsov opened #10097 "User Dashboard installers: page scrolls down when enabling/disabling workspace api installer"
### Description

![dashboard](https://user-images.githubusercontent.com/5337267/41579857-4c478eb6-73a1-11e8-8ad2-440802b1ff09.gif)

[2018-06-19 06:21] eivantsov opened #10098 "Multiple installers in UD"
### Description

It is very confusing to see duplicate installers:

![image](https://user-images.githubusercontent.com/5337267/41580050-189ad572-73a2-11e8-9ed9-4a9c45e4ba6d.png)

[2018-06-19 06:56] gorootde opened #10099 "Websocket timeout when starting workspace"
### Description
I've deployed Che 6.6.2 to an azure AKS Kubernetes cluster by using the helm charts in the deploy-subfolder. Everything seems to be running fine, but as soon as I start a workspace I get  `[WARN ] [.i.k.KubernetesInternalRuntime 193]  - Failed to start Kubernetes runtime of workspace workspacetadlc06rh29anoze. Cause: Failed to start websocket` in the log files and the same message

[2018-06-19 07:27] skabashnyuk opened #10100 "Consider using the final version of Keycloak image"
### Description
Now we using jboss/keycloak-openshift:3.3.0.CR2-3 version of keycloak https://github.com/eclipse/che/blob/master/dockerfiles/cli/version/nightly/images#L6
Consider using one of this versions
- 3.3.0.Final
- 3.4.3.Final
- 4.0.0.Final

[2018-06-19 07:36] sleshchenko commented on #10099
Unfortunately stack trace doesn't have information which exactly websocket connection failed. But there is several places where Che Server establishes WebSocket connection to Kubernetes/OpenShift:
- waiting until Pod becomes RUNNING https://github.com/eclipse/che/blob/6.6.2/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesPods.java#L2

[2018-06-19 07:38] musienko-maxim commented on #9796
After fixing the go LS worked properly. But currently the LS with configuration that is described above the LS is not initialized. Also we have problem with Ls  that is launched under installer. In this case, exceptions in the dev-machine console still actual.

[2018-06-19 07:43] SkorikSergey commented on #10027
Done.

[2018-06-19 07:43] #10027 closed

[2018-06-19 07:44] #9863 closed

[2018-06-19 07:45] carloreggiani commented on #10099
I'm exactly in the same situation, Eclipse Che 6.6.2 single user:

`helm upgrade --install 6.6.2 --namespace che --set global.ingressDomain=28350216-546d-47f5-9f13-6e5b22008f9e.westeurope.aksapp.io ./ `

The deploy in AKS seems fine, maybe the problem is in the ingress configuration?

![immagine](https://user-images.githubusercontent.com/1014429/41582942-473e3706-73a3-11e8-935c-09b7c1453055.png)

[2018-06-19 08:13] mshaposhnik opened #10101 "Make it possible for Go agents to accept authentication tokens from header"
### Description
Since jwtproxy can only validate tokens from Authorization headers, and go agents only accept tokens from  URL query, need to line up them with proxy.

[2018-06-19 08:22] sleshchenko commented on #10099
@guydaichs @perspectivus1 Guys, maybe you have seen such issue?

[2018-06-19 08:29] gorootde commented on #10099
Meanwhile I've done a little curl-ing:
[code]
These commands work as expected, and a valid JSON is return from the API. So the che `ServiceAccount` seems to have all permissions required.

[2018-06-19 09:37] eivantsov commented on #10099
I think @sleshchenko means to curl Che URL from within a pod.

[2018-06-19 09:40] gorootde commented on #10099
Meanwhile I've done a little curl-ing:
[code]
These commands work as expected, and a valid JSON is return from the API. So the che `ServiceAccount` seems to have all permissions required.

Within a remote debug session to my cluster I found out that che want's to create a watch on an ingress. The websocket created to watch it is the root cause for the timeout exception in the logfiles.
Unfortunate

[2018-06-19 10:00] sleshchenko commented on #10099
@eivantsov I didn't, but it makes sense =)

[2018-06-19 10:08] sleshchenko opened #10103 "JWTProxy should respect environment variables with overridden ports for installers ports"
### Description
JWTProxy should respect environment variables with overridden ports for installers ports.

Overriding servers configuration on infrastructure level with constant port value is not good enough while there can be the same installers within one `Pod`. So, it's needed to somehow make JWTProxy respecting environment variables with new ports for installers ports, it may be solved with a

[2018-06-19 10:47] eivantsov commented on #9946
@ibuziuk somehow, Che does not catch such events.

I deleted all PVs in my local cluster and attempted to run a workspace.

1. After a few mins I see this in pod events:
![image](https://user-images.githubusercontent.com/5337267/41592793-7a38e246-73c6-11e8-9d7d-03c57d46ef84.png)
2. Che server keep waiting and eventually spits out:

[code]

[2018-06-19 10:53] gorootde commented on #10099
Che is curl'able from a pod running in the same cluster.

The root cause seems really to be that the kubernetes API is not responding to the API calls within the timeout (See second part of my last comment here)

[2018-06-19 11:38] Ohrimenko1988 opened #10105 "Create "SeleniumWebDriverHelper#waitCondition(ExpectedCondition<Boolean> expectedCondition)" method for selenium tests"
### Description
We have a lot of boilerplate code like this:
[code]
We should create `waitCondition(ExpectedCondition<Boolean> expectedCondition)` method in `SeleniumWebDriverHelper` pageobject, and implement it for existing methods.

[2018-06-19 11:57] eivantsov commented on #10082
@Mohdzaved2434 workspace logs are in `/workspace_logs` in workspace containers. Container names are generated.

[2018-06-19 12:09] dmytro-ndp opened #10106 "Create CI job to test Recreate Workspace Update Strategy"
### Description
We have a test **RecreateUpdateStrategyTest** which should be executed against _Eclipse Che Multiuser_ deployed on _OpenShift_ with _Recreate Update Strategy_.

To deploy _Eclipse Che on OCP_ with _Recreate Update Strategy_ we should pre-set system environment `export UPDATE_STRATEGY=Recreate`.

Command to execute the test:
`selenium-tests.sh --test=RecreateUpdateStrategyTest  ....

[2018-06-19 12:54] artaleks9 opened #10107 "Create selenium test to cover import the 'Eclipse Che' project"
### Description
* Need to cover import the 'Eclipse Che' project to the IDE
* Test scenario:
  * Select the _Eclipse Che_ stack
  * Import the  _Eclipse Che project_ from GitHub (https://github.com/eclipse/che.git)
  * Check the _Import Project_ form is closed
  * Configure the project from the _Wizard_ form
  * Open two/three files of *java*, *xml*, *ts* types and check code highlighting
  * Veri

[2018-06-19 13:16] gorootde commented on #10099
Update:
I've tried to do a similar request then che does (just on another ingress object in the same namespace) via

[code]
which works perfectly fine. The websocket is open and I can receive events.

So the only difference seems to be that che is not using curl, which leads me to the conclusion that this might be a bug in the che implementation.

@sleshchenko @eivantsov How to proceed with this i

[2018-06-19 13:29] artaleks9 commented on #10067
Unfortunately the previous correction was not enough, it does not cover one fail test case. So I need to add yet one condition checking close form.

[2018-06-19 13:46] svor commented on #8628
If the window does not have any proposals it is not possible to close it by Esc otherwise it's ok

[2018-06-19 14:09] riuvshin opened #10109 "Release CHE 6.7.0"
Release CHE 6.7.0

[2018-06-19 14:19] #10067 closed

[2018-06-19 15:03] #7926 closed

[2018-06-19 15:07] Ohrimenko1988 commented on #9652
Done https://github.com/eclipse/che/pull/9997

[2018-06-19 19:41] riuvshin commented on #10106
done: https://ci.codenvycorp.com/view/qa/job/che-multiuser-master-ocp-recreate-strategy-test/

[2018-06-19 19:41] #10106 closed

[2018-06-19 21:20] dneary commented on #8267
Just to clarify: "Self-hosting Che" means developing Che in Che? Or does it mean something more?

I have had some issues with workspaces failing to open with no obvious error, and no real indication of how to fix it, for both Che and Che + Theia. Would ennumerating issues related to this be in-scope for this issue?

[2018-06-20 06:35] skabashnyuk commented on #10059
@ashumilova  can you start investing some time in https://github.com/theia-ide/theia/issues/2126?

[2018-06-20 06:37] #9842 closed

[2018-06-20 07:31] dmytro-ndp commented on #9646
CI job to check _Recreate Update Strategy_: https://ci.codenvycorp.com/view/qa/job/che-multiuser-master-ocp-recreate-strategy-test/

[2018-06-20 07:50] Ohrimenko1988 opened #10111 "Unexpected fail of "AddOrImportProjectFormTest" selenium test"
### Description
The "che-in-che" sample has been removed from "Java" stack on "Dashboard". The "AddOrImportProjectFormTest" selenium test related to "Java" stack samples. So we should update test according to new changes.

**OS and version:**
6.8.0 ; Chrome 66.0 ; Fedora 28

[2018-06-20 07:55] tsmaeder commented on #10065
This might be a duplicate of https://github.com/eclipse/che/issues/10049. @SkorikSergey could you comment on that hypothesis?

[2018-06-20 07:57] azatsarynnyy commented on #9847
The issue has been solved by making the Theia's terminal widget more extendable (actually by changing the visibility of several internal fields) and using an extended version of that widget with an overridden mechanism of connecting to the terminal server.

[2018-06-20 08:04] vinokurig commented on #9730
@slemeur According to last PR remarks from Theia team: https://github.com/theia-ide/theia/pull/1983#pullrequestreview-129922124 This issue is going to be reworked one more time. As for now the preferences action opens two different widgets (preferences tree and editor with preferences file) in spited mode. As was mentioned in the PR it is needed to be rework the widget to use one common widget.

[2018-06-20 08:14] svor opened #10112 "Different Quickfix Behaviour Java vs. LSP"
### Description
The difference is that in CHE-master we don't need to set the cursor into the position with a problem it is enough to set it into the line with a problem.

**Master**
![qfmaster](https://user-images.githubusercontent.com/1271546/41645759-3571b460-7472-11e8-8f5a-3f231b9530d1.gif)

**LSP**
![qf_lsp](https://user-images.githubusercontent.com/1271546/41645791-48c128b6-7472-11e8-82f2-56

[2018-06-20 08:16] #9822 closed

[2018-06-20 08:20] azatsarynnyy commented on #9273
A preview URL can be defined by adding the optional filed `previewURL` in a task definition:
[code]
Variable substitution is supported.

[2018-06-20 09:01] tsmaeder commented on #10112
The thing here is that the specialized Java editor in master seems to behave differently from LSP editors. I think we should have consisten behaviour for all editors.

[2018-06-20 09:32] SkorikSergey commented on #10065
Its problem is almost the same, except that the hover content is doubled after the first launch of the workspace.
After each restart of the workspace, the content of the hover will be doubled.
![screenshot from 2018-06-20 12-21-39](https://user-images.githubusercontent.com/7760565/41649716-e65390ca-7484-11e8-86fb-c17ccf7ce147.jpg)

[2018-06-20 09:42] vparfonov commented on #10064
can't reproduce this issue

[2018-06-20 09:42] #10064 closed

[2018-06-20 11:13] #10044 closed

[2018-06-20 13:33] svor opened #10115 "New folders do not register in the jdt.ls workspace"
### Description
New created folder from java project won't be registered in jdt.ls.
Looks like file watcher doesn't send an event to jdt.ls e about creation of the folder.
### Steps to reproduce:
1. Create Plain java project;
2. Create new folder in the projects and mark it as source folder
3. Try to move some class to this folder by using Move Refactoring wizard
4. In the Move wizard we don't see

[2018-06-20 13:56] musienko-maxim commented on #10086
The same problem: https://github.com/eclipse/che/issues/10065

[2018-06-20 13:58] musienko-maxim commented on #10065
Looks similar: https://github.com/eclipse/che/issues/10086

[2018-06-20 14:06] #9854 closed

[2018-06-20 14:20] vitaliy-guliy commented on #9839
Pull request to upstream
https://github.com/theia-ide/theia/pull/2141

[2018-06-20 14:22] SkorikSergey opened #10117 "[Language server] Content of language server hover feature is duplicated"
### Description
Content of hover feature is duplicated **after workspace restarting** in next LS:
- **PHP** language server.
- **Python** language server
- **Camel** language server
- **Yaml** language server.
- **Golang** language server.

For **PHP** and **Python** language servers hover content is duplicated on the first start of workspace( **PHP** - https://github.com/eclipse/che/issues/10065

[2018-06-20 14:22] vrubezhny commented on #10049
`org.eclipse.che.ide.editor.orion.client.OrionHoverRegistrant.registerHover(final JsArrayString contentTypes, final OrionHoverHandler handler)` is called on re-used editor instance every time after workspace is restarted and this method adds a new instance of hover calculation service. So, the hovers are calculated two, three times and so one depending on the number of workspace restarts.
I believ

[2018-06-20 14:47] l0rd commented on #9870
@ashumilova are you going to work on that issue during current sprint?

[2018-06-20 15:04] dmytro-ndp opened #10119 "Create E2E selenium test to verify development of Eclipse Che inside Eclipse Che"
### Description
We need to check if it's possible and convenience to develop Eclipse Che inside Eclipse Che on regular base:
- to create workspace from java-stack of 8GiB size;
- to open import Eclipse Che project from GitHub into Eclipse Che;
- to build the project;
- to do search/refactoring operations;
- to debug the project;
- to export changes to GitHub.

[2018-06-20 15:06] SkorikSergey opened #10120 "Improve language servers test plan"
### Description
We need to add to the language server test plan(https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) all supported and not covered LS features.

[2018-06-20 15:10] dmytro-ndp commented on #10119
Is duplicates #10107

[2018-06-20 15:10] #10119 closed

[2018-06-20 15:59] artaleks9 opened #10121 "Wrong behavior when create a factory with an existing name on the dashboard"
### Description
* Open the dashboard and create a factory
* Try to create a factory with a same name

**Expected behavior:**
* the 'Create' button should be disabled in this case

**Observed behavior:**
* there is the error message below the name field: 'This factory name is already used.'
* but the 'Create' button' is enabled and the factory will be created with a random generate name

**Che vers

[2018-06-20 17:39] nickmansrob commented on #10071
@eivantsov I've updated the Keycloak "Valid Redirect URLs" but it still doesn't work. In the attachments, the screenshot of the dev console, and it doesn't look that good...
![image 1](https://user-images.githubusercontent.com/17934406/41674975-aad17eb2-74c1-11e8-8cc3-ac1552194d09.png)

[2018-06-20 19:42] slemeur commented on #9730
Thanks @vinokurig . Please create subtasks for that and also list the different improvements you are looking after (based on the demo feedbacks).

[2018-06-20 20:23] Jimmyscene opened #10122 "Workspace Can't Start in Multi-User Mode(Cant Connect to Websocket)"
### Workspace Can't Start in Multi-User Mode

Environ: Multi User Che deployed on Minikube

Problem: Can't connect to terminal server after workspace has started, getting the following error in the console:

_Firefox can’t establish a connection to the server at
ws://$INTERNAL_IP/serveracwwqc5n-dev-machine/server-4412/connect?token=$token_

This seems to be caused by the following endpoint returni

[2018-06-21 02:00] l0rd opened #10123 "ws.next walking skeleton"
## Walking Skeleton Details

**Goal**: Integrate ws.next and theia plugin + introduce the plugin registry

**User Story 1**: As a Che developer I want to start a ws.next based workspace that is configured to load theia as the editor and an “hello world” frontend theia plugin (using an existing che stack from the dashboard and with the editor and plugins definition available in a remote plugin regi

[2018-06-21 05:51] eivantsov commented on #10071
@nickmansrob hm.. 500 is not good indeed.

Can you run:
[code]

Do the same for a Keycloak container.It does not look like Che server has started correctly.

[2018-06-21 05:54] eivantsov commented on #10123
@l0rd what is Che backend plugin? Is this a scenario where a backend plugin is a sidecar? If not, don't we want to target such a scenario?

[2018-06-21 05:57] eivantsov commented on #10122
@Jimmyscene can the workspace start otherwise?

Also, can you share your run syntax and a few words on the networking environment, ie where Che runs and where your browser is located.

[2018-06-21 06:41] mmorhun commented on #9978
Fixed

[2018-06-21 06:41] #9978 closed

[2018-06-21 06:46] skabashnyuk commented on #9895
Closing since I think we will go in this direction https://github.com/eclipse/che/issues/10123

[2018-06-21 06:46] #9895 closed

[2018-06-21 06:56] mmorhun opened #10124 "Merge wiptheia dockerfile with Che Theia IDE dockerfile"
### Description
After merginig wiptheia into upstream we need to move all stuff from wiptheia organization.
There we have a dockerfile for wiptheia nightly image and it should be merged into Che's one.

[2018-06-21 07:04] l0rd commented on #10123
@eivantsov yes the scenario is about that. A che plugin that runs in a sidecar container and communicates with a theia plugin to provide the UI functionality (like a language server and its theia client).

What I wanted to stress is that the user need to specify one plugin only (`che-hello-world:1.0.0`) and this will be composed by a backend component (the che plugin) and a frontend (theia plugin)

[2018-06-21 07:04] tsmaeder commented on #10117
In the constructor of org.eclipse.che.plugin.languageserver.ide.LanguageServerExtension, a listener is hooked up which calls defaultHoverProviderInitializer.initialize() on each workpace startup. That in turn registers our hover provider each time.

[2018-06-21 07:06] tsmaeder commented on #10049
Duplicate of https://github.com/eclipse/che/issues/10117

[2018-06-21 07:06] #10049 closed

[2018-06-21 07:08] eivantsov commented on #10123
@l0rd thanks. got it. SO, a feature, speaking in old fashioned ws.next terms :)

For such a scenario, there's one important dependency - Theia LSP client being able to connect to LS over host:port.

[2018-06-21 07:27] l0rd commented on #10123
Theia clients should contact a Che service using the Plugin [endpoint name](https://gist.github.com/l0rd/390bb13b2b8cc7697981dfc9da52f2ed#file-che-plugin-yml-L10). No port (port 80).

For this first scenario it's ok to hardcode the endpoint name in the theia client. We should make it a parameter to pass to the theia client in future iterations.

[2018-06-21 07:33] eivantsov commented on #10123
@l0rd not Che API (its clear that we have a plugin that provides such endpoints), but LS running in tcp mode. That would be the most interesting scenario - Che plugin bringing over Theia plugin + a sidecar.

[2018-06-21 07:33] #9406 closed

[2018-06-21 07:46] skabashnyuk commented on #10121
@ashumilova wdyt is it a bug or new feature?

[2018-06-21 07:53] donenocode opened #10127 "Eclipse Che restrict access to certain functions"
Hi all,

Firstly I have to say, Eclipse Che is an excellent piece of software and thank you to all for producing this.

I have a question and hope this is the correct place to raise this.

I am attempting to introduce Eclipse Che in an education environment and as such need to impose certain restrictions on it which I cant seem to get quite right.
Hopefully you can point me in the right direction.

[2018-06-21 08:27] benoitf commented on #9767
https://github.com/electron/electron/issues/2984 (settimeout)

[2018-06-21 08:34] benoitf commented on #9908
https://code.visualstudio.com/docs/extensionAPI/vscode-api#_env

[2018-06-21 08:44] AndrienkoAleksandr commented on #9990
https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesconfiguration

[2018-06-21 09:07] skabashnyuk commented on #10123
A couple of remarks and changes.

## Marketplace content ##
[code]

Where
<details/>
  <summary>che-plugin.yml</summary>

[code]

</details>

<details/>
  <summary>che-editor.yml</summary>

[code]
</details>

## Notes ##
 - In a marketplace, our first level citizens are che-plugin and theia-plugin. That's why I would like to remove ```Che editor``` from the root into to che-plugins section
 - In c