[2018-11-12 14:54] apupier commented on #11881
yes it is. First time that I heard about this shortcut to copy-paste.
Updating title then

[2018-11-12 14:58] #11659 closed

[2018-11-13 02:24] SharkJ commented on #4399
@chetanladdha Thank you so much! Please post if there's anything you could find.

[2018-11-13 04:47] SharkJ commented on #11842
Okay. Thanks!

[2018-11-13 04:57] SharkJ opened #11916 "Extending the Che Editor to add Syntax Highlighting"
Hi,

I've tried to Implement a DSL (created using Xtext) to Eclipse Che and succeeded. Now I want to implement syntax highlighting to my DSL when I'm using it in Che.
I did some research and found several helpful issues that are related to what I'm trying to do. However, I still have a hard time finding what exactly should be done. For instance, I found [this issue](https://github.com/eclipse/che/

[2018-11-13 05:19] #11842 closed

[2018-11-13 06:27] LahiruT94 opened #11917 "Installing language server as a installer into eclipse che"
### Description
I created a language server installer.

![installers](https://user-images.githubusercontent.com/34393074/48394524-eb33e900-e739-11e8-9036-aa4a3eb8d099.png)

Folder structure

![folderstructure](https://user-images.githubusercontent.com/34393074/48394556-fa1a9b80-e739-11e8-815b-18dd005a6574.PNG)

When the workspace is starting it gives this error

![error](https://user-images.github

[2018-11-13 07:47] metlos commented on #11720
Outstanding issues for workspace tracing:
- [x] trace pod creation
- [ ] trace workspace deletion
- [ ] trace volume claim attachment
- [ ] define meaningful set of tags to apply to the traces

[2018-11-13 08:02] #11879 closed

[2018-11-13 09:41] metlos commented on #11720
Status for sprint 157 (#11679):
as of now, only the support for tracing REST API calls without any drill-down into the details of the operations or support for tracking the asynchronous jobs (like starting of a workspace) initiated by the REST API calls (in PRs https://github.com/eclipse/che-parent/pull/90 and https://github.com/eclipse/che/pull/11844).

The following has already been done, but no

[2018-11-13 09:46] #11759 closed

[2018-11-13 10:38] tsmaeder commented on #11912
The project is malformed as far as jdt.ls is concerned: jdt.ls does not support having the same maven project (by artifact id) in the workspace. The projects projects/location-gateway, projects/location-service and /support/location-service all have the same artifact id.
The underlying problem is that the eclipse resource name is encoded in the .project file, so just mounting the projects at an ar

[2018-11-13 10:42] apupier commented on #11912
effectively, just by changing the id is fixing the issue.
I will change in the repository.
Would it be possible to have a warning or an error reported in Che UI when it happens?

[2018-11-13 12:31] tsmaeder commented on #11912
Currently, we have no back channel for this case. That code should be refactored, long-term, but not sure when that will happen.

[2018-11-13 14:15] #11838 closed

[2018-11-13 14:27] skabashnyuk opened #11922 "Tracing workspace related operation"
### Description
 - [x] workspace creation
 - [x] workspace start
 - [x] trace workspace deletion
 - [x]   trace volume claim attachment
 - [x]  trace creation of che plugins -> moved to  https://github.com/eclipse/che/issues/12003
 - [x]  define meaningful set of tags to apply to the traces. (Postponed)
 - [x]  review https://github.com/eclipse/che/pull/11920 maybe we need some traces here

[2018-11-13 14:30] skabashnyuk opened #11923 "Tracing operation made over JSON-RPC"
### Description
Quite a lot of operation are made over JSON-RPC. We would like to track them too.

[2018-11-13 14:32] skabashnyuk commented on #11720
POC merged https://github.com/eclipse/che/pull/11844

Added  to the epic https://github.com/eclipse/che/issues/10288
- Tracing workspace related operation  https://github.com/eclipse/che/issues/11922
-  Tracing operation made over JSON-RPC  https://github.com/eclipse/che/issues/11923
-  Tracing JDBC https://github.com/eclipse/che/pull/11905

[2018-11-13 14:32] #11720 closed

[2018-11-13 14:55] metlos commented on #11922
I've opened https://github.com/eclipse/che/pull/11924 to start the review of and discussion about the implementation details.

[2018-11-13 15:14] skabashnyuk commented on #11893
Is this reproducible?

[2018-11-13 15:21] OonjuoO commented on #11876
@skabashnyuk

I may find the problem.

In openid configuration, all endpoints are staring with **https**. like this: https://keycloak-default.bcmtdeb.dyn.nesc.nokia.net/auth/realms/che/protocol/openid-connect/token"

But when the che is starting up, it do this POST action for token in endpoint which is **http**, see here:
XHR finished loading: POST "http://keycloak-default.bcmtdeb.dyn.nesc.nokia.n

[2018-11-13 15:44] eivantsov commented on #11876
@OonjuoO it is not quite clear how exactly you have deployed Che. Can you share you helm syntax?

Also, you are talking about tls. Have you enabled it in helm as run param? Do you have tls secret in please for ingresses?

[2018-11-13 15:45] Ohrimenko1988 commented on #11217
Done https://github.com/eclipse/che/pull/11889

[2018-11-13 15:45] #11217 closed

[2018-11-13 15:46] skabashnyuk commented on #11876
@OonjuoO I a bit confused with your configuration.
[code]
This part of the logs shows that che to use ``` http://keycloak-default.bcmtdeb.dyn.nesc.net/```
but keycloak thinks it uses https ```token_endpoint=https://keycloak-default.bcmtdeb.dyn.nesc.net/auth/realms/che/protocol/openid-connect/token,```
So how do you want to use it over http or https?

[2018-11-13 16:09] tsmaeder opened #11926 "Remove JDT projects"
In order to simplify the pull request introducing jdt.ls, we have not removed forked code from Eclipse jdt, even though it was not used anymore. We should do this now.

[2018-11-13 18:53] ldimaggi commented on #8963
Closing as no longer reproducible.

[2018-11-13 18:53] #8963 closed

[2018-11-13 21:06] OonjuoO commented on #11876
@skabashnyuk  @eivantsov

Thank you for your response. So I am trying to install **ecplise che multiuser mode on kubernetes**, but using our own **keycloak**. Inside our own keycloak, I created the **che** realm, **che-public** client, and **admin/admin** user.
What I should change in the configmap of eclipse che, should be the CHE_KEYCLOAK_AUTH__SERVER__URL=https://139.54.130.30/auth (139.54.130.

[2018-11-13 21:59] Mbd06b commented on #8839
@Minvinn  Did you ever figure out the Apache config?  I'm trying to use the built-in user management of the the multi user install, but can't seem to configure Che to use a FQDN instead of an unreliable External Dynamic IP address.

I can access some resources externally, but there are resources my external client(browser) is trying to load private IP resources 172.17.0.1  (not found) <- I think t

[2018-11-14 02:36] monaka commented on #11893
Yes in my environment, Azure AKS. Possibly environment depend. I'm not sure but I suspect it is caused by Ingress. Since it requires a few minutes to respond Ingress. I'm writing patches now.

[2018-11-14 07:34] garagatyi commented on #11923
I found [this](https://about.sourcegraph.com/go/gophercon-2018-from-prototype-to-production-lessons-from-building-and) article about Reddit's experience with Go interesting and it has a part that is interesting for this particular case. It describes their case with tracing/logging/metrics of RPC.

[2018-11-14 07:40] artaleks9 commented on #8075
It is already not actual.

[2018-11-14 07:40] #8075 closed

[2018-11-14 08:11] SkorikSergey opened #11927 "[Regression] File Structure feature doesn't work"
**Reproduction Steps:**
1. Create and start workspace through **Dashboard** based on **Java** stack.
2. Open any java class in the **Editor**.
3. Start 'File Structure' feature from menu - **Assistant** -> **Navigate File Structure**.

**Expected result:**
**File Structure** widget is visible.

**Actual result:**
Nothing happened.

This issues started to reproduce from 052f719c64556e3b1f63b0570d79

[2018-11-14 08:30] OonjuoO commented on #11876
@skabashnyuk

This should be self-signed certificates on https://139.54.130.30.  need exception added when browse this site.
In this case, what can I do to solve the : java.security.cert.CertificateException problem?

Thank you

[2018-11-14 09:21] RomanNikitenko commented on #11927
As I can see we have NPE [here](https://github.com/eclipse/che/blob/052f719c64556e3b1f63b0570d79aa9aeadecc76/plugins/plugin-java/che-plugin-java-ext-lang-client/src/main/java/org/eclipse/che/ide/ext/java/client/util/SymbolIcons.java#L89)
![file_structure](https://user-images.githubusercontent.com/5676062/48472675-6f03d900-e7ff-11e8-8b2f-9154b153bf2d.gif)

[2018-11-14 09:28] mstavares opened #11928 "wsagent-debug unavailable on 6.14.0?"
### Description
Hi,

I'm developing some modules on wsagent on my eclipse che fork. Yesterday I have updated my fork to 6.14.0 snapshot and I realized that the service which allows me to debug wsagent is not there anymore.

Here on 6.10.0:
https://ibb.co/dRzYfL

Then on 6.14.0 is missing:
https://ibb.co/d24MZf

Are you able to help me please?

[2018-11-14 09:30] #11135 closed

[2018-11-14 09:39] benoitf commented on #11928
Hello, FYI https://github.com/eclipse/che-docs/blob/97a662cfff47401db40176ba220a4394f18c9be5/src/main/pages/developer-guide/workspace-agent.adoc

[2018-11-14 09:40] sleshchenko commented on #11928
Debugging of workspace agent debug is not the thing that should be enabled by default since there is no any authentication, it's why we disabled it in 6.14.0.
@benoitf Shared Doc with instruction how to enable it. This doc will be available on https://www.eclipse.org/che/docs/ after next updating of the site, I hope soon.

[2018-11-14 09:46] mstavares commented on #11928
Hi @benoitf

Should I enable it here?
wsagent/agent/target/classes/installers/1.0.1/org.eclipse.che.ws-agent.script.sh:279:DEFAULT_WSAGENT_DEBUG=false

[2018-11-14 09:51] sleshchenko commented on #11928
@mstavares https://github.com/eclipse/che-docs/blob/master/src/main/images/wsagent/wsagent-debug-env.png

[2018-11-14 09:59] mstavares commented on #11928
@sleshchenko thanks a lot!

[2018-11-14 10:04] riuvshin opened #11929 "RELEASE CHE 6.14.0"
RELEASE CHE 6.14.0

[2018-11-14 10:08] mstavares commented on #11928
Is it possible to add this by default temporarily on my custom stack?

[2018-11-14 10:13] #11093 closed

[2018-11-14 10:14] sleshchenko commented on #11928
@mstavares Yes, it is to configure stack to enable wsagent debug by default. Just add needed env vars to a machine configuration.
Not sure that I understand what you do mean by `temporarily` here. You can configure your stack with Debug enabled by default, and then you can disable it. There is no functionality out of the box to `temporarily` configure your stack.

[2018-11-14 10:38] mstavares commented on #11928
@sleshchenko Maybe I'm doing something wrong, but after create those environment variables my workspace stucks at starting state.

https://ibb.co/mbS8VL

[2018-11-14 10:41] sleshchenko commented on #11928
@mstavares Try to remove `WSAGENT_DEBUG_SUSPEND` or set it to `n`. Docs shows just an example how to set env vars. Workspace stucks at starting state because wsagent waits until someone connects to debug port.

[2018-11-14 11:13] mstavares commented on #11928
It's already working, thanks a lot!

[2018-11-14 11:19] mjshashank opened #11932 "wsagent abruptly stops requiring workspace restart"
### Description

I have Che running on kubernetes with 100+ workspaces. Lately I have been noticing that for a few workspaces the _ws-agent_ becomes unreachable leading to a notification prompting the user to restart his/her workspace.

This is a significant number of workspaces (10% of running workspaces daily) and restarts are cumbersome for our use-case.

We have ruled out the resource constrai

[2018-11-14 11:22] SharkJ commented on #4696
Hi,
Does this still apply @slemeur? If not, is there a new way to implement this?
Thank You!

[2018-11-14 11:52] sleshchenko commented on #11928
Feel free to reopen it or create a new issue if you still have any issues/questions.

[2018-11-14 11:52] #11928 closed

[2018-11-14 12:47] slemeur commented on #4696
It depends what you are trying to build. But that probably could still be applied in Che 6.

Would you be able to describe a bit what you are looking to achieve?

[2018-11-14 12:48] harryk8sgit opened #11934 "Pod won't create and fails with Pod creation timeout exceeded"
### Description
I have deployed Eclipse Che on Kubernetes using Helm
Che server has started successfuly. And when i am trying create a workspace, the pod creation fails with error "Pod creation timeout exceeded. -id: workspace6p5cmqqx4ba1x5f1.dockerimage -message: null"
I have also tried running self diagnostics, which also fail during pod creation

### Reproduction Steps
Case 1:
Deployed Eclipse

[2018-11-14 13:01] vkuznyetsov opened #11935 "QE-2018-12-04 (Sprint: 158)"
### Sprint goals

### Issues tied to objectives
- [x] Get rid of redundant methods in the "SeleniumWebDriverHelper" class #11911 2sp

### Unplanned
- [x] Unexpected fail of "CheckOnValidAndInvalidClassNameTest" and "RenamedAlreadyCreatedNotJavaFileTest" selenium tests #11978 1sp
- [x] Unexpected fail of "CheckErrorsWarningsTabTest" selenium test #11992 1sp
- [x] Cover workspace sharing feature by

[2018-11-14 13:02] #11677 closed

[2018-11-14 13:03] sleshchenko commented on #11934
@harryk8sgit Are you using helm chart from `6.13.1` tag or master branch?

[2018-11-14 13:07] garagatyi opened #11936 "How to cache results of a workspace provisioning"
### Description
Originated [here](https://github.com/redhat-developer/rh-che/issues/1011#issuecomment-437778750) by @benoitf.
We do some archive downloading and unpacking on each workspace start. Even when a workspace is restarted again and again. Instead, we could find a solution to reuse brokering results if workspace wasn't changed.
Unfortunately, plugin archive can change without any change in

[2018-11-14 13:07] garagatyi commented on #11936
@benoitf @l0rd FYI

[2018-11-14 13:18] vitaliy-guliy commented on #10041
Still have the same problem on Linux Mint 18.3

[2018-11-14 13:31] sleshchenko opened #11937 "It is not possible to start workspace with a remote plugin enabled"
### Description
It is not possible to start workspace with a remote plugin enabled.

### Reproduction Steps
1. Create workspace from Che 7 Stack.
2. Enable Che-Samples-Fortune remote plugin.
Expected: Workspace is started and a fortune teller plugin is available.
Actual: Workspace failed to start with the following error:
[code]

**OS and version:**

**Diagnostics:**

[2018-11-14 13:31] sleshchenko commented on #11937
@garagatyi @benoitf FYI

[2018-11-14 13:51] garagatyi commented on #11554
@amisevsk can we close this issue?

[2018-11-14 14:05] vzhukovskii commented on #11927
This regression blocks investigation of https://github.com/eclipse/che/issues/8300

[2018-11-14 14:08] sunix opened #11938 "Image for dev che-theia in che-theia should be the che-theia builder"
Part of the goal  Che-Theia in Che-Theia
maybe without theia sources

[2018-11-14 15:04] #11554 closed

[2018-11-14 18:57] davidfestal opened #11943 "Add a property in the `meta.yaml` of editor plugins to support resource pre-loading from CDNs"
In the context of issue https://github.com/redhat-developer/rh-che/issues/1071, it seems that it could be necessary to introduce an additional information associated to editor plugins in the Che Plugin Registry.

This information would finally point to a list of URLs that could be pre-loaded by the workspace loader while the workspace containers are still starting, in order to make the overall sta

[2018-11-14 18:57] davidfestal commented on #11943
@l0rd @skabashnyuk your input is welcomed here :-)

[2018-11-15 02:41] SharkJ commented on #4696
@slemeur I have created a DSL using Xtext and implemented it as a language server sidecar in Eclipse Che. Everything was successful except syntax highlighting. I want to implement syntax highlighting for my new language in Eclipse Che, and AFAIK I should add an extension to Orion Editor and add the necessary commands there.
Could you please tell me if there is a possibility to do that using the ab

[2018-11-15 07:18] metlos opened #11945 "Investigate tracing of DB migration"
### Description

DB migration was identified as one of the areas that would potentially benefit from tracing to help us understand what is the time being spent on.

Before blindly adding tracing though, we should first discuss whether this area is really something that is worth investing into. We should only add traces to areas that are really needed to not overload the tracing server with unneede

[2018-11-15 07:19] metlos opened #11946 "Investigate tracing of wsmaster tomcat server shutdown"
### Description

Tomcat shutdown was identified as one of the areas that would potentially benefit from tracing to help us understand what is the time being spent on and why it sometimes seemingly hangs.

Before blindly adding tracing though, we should first discuss whether this area is really something that is worth investing into. We should only add traces to areas that are really needed to not

[2018-11-15 07:29] artaleks9 opened #11947 "Cannot initialize JDT.LS server"
### Description
**Reproduction Steps:**
* Create the workspace with default project (e.g. _web-java-spring_)
* Open the IDE and wait the output in the console of the dev-machine

**Expected behavior:**
* jdt.ls should be initialized

**Observed behavior:**
* there is error message in the console:
_' - Can't initialize language server for 'org.eclipse.che.plugin.java.languageserver'_
* there are er

[2018-11-15 07:33] #11679 closed

[2018-11-15 07:58] azatsarynnyy commented on #11458
Useful links that might be helpful:

- User's guide https://code.visualstudio.com/docs/editor/tasks
- Task API guide https://code.visualstudio.com/docs/extensions/example-tasks
- Task API reference https://code.visualstudio.com/docs/extensionAPI/vscode-api#_tasks
- `taskDefinitions` contribution point https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributestaskdefinitions

[2018-11-15 08:28] slemeur opened #11948 "Cannot create a factory for a workspace configured with wksp.next and ide.next"
### Description
Impossible to create a factory from a workspace using wksp.next and ide.next from the dashboard.

### Reproduction Steps
1. Create a new workspace from the dashboard
2. Select "Che 7" stack and add in the project sample "web-java-spring"
3. Go onto the Factory on dashboard
4. Try to create a factory from the workspace you've just created.

![capture d ecran 2018-11-15 a 09 25 07](h

[2018-11-15 08:38] slemeur opened #11949 "[Che7] Output panel does not resize properly"
### Description
With the new IDE provided with Che 7, it is very easy to adapt the layout of the IDE to make it convenient for a particular scenario.
All panels are properly resizing their content except the one for commands/tasks outputs.

### Reproduction Steps
1. Open the new IDE.
2. Start a new Command/Task
3. try to resize the output panel

You can see that here, the panel for the terminal (w

[2018-11-15 08:39] garagatyi commented on #11943
@davidfestal could you add an example of a meta.yaml that you are suggesting?

[2018-11-15 08:53] tsmaeder commented on #11947
Yes, they updated the target platform, working on it.

[2018-11-15 09:36] Katka92 opened #11952 "Auto-scrolling when adding project in Chrome"
### Description
When clicking on "Add or Import Project" button when creating workspace the page scrolls automatically and new rendered project selector (or its part) is out of the screen. The exact behaviour is shown in attached video.
This behaviour appears in Chrome while creating project. I've tried it in Firefox and works fine here.

### Reproduction Steps
Go to che dashboard. Click "Workspac

[2018-11-15 09:56] azatsarynnyy opened #11953 "[Theia][Plugin] Add VariableProvider API"
Add `che.registerVariableProvider` Theia Plugin API to allow adding the Che specific [substitution variables](https://github.com/theia-ide/theia/blob/master/packages/variable-resolver/src/browser/variable.ts), e.g.: [`${server.tomcat8}`](https://github.com/eclipse/che-theia-task-plugin/blob/master/che-theia-task-extension/src/browser/variable/server-variables-contribution.ts#L20) etc.

Depends on

[2018-11-15 10:01] azatsarynnyy opened #11954 "[Theia][Plugin] Add TaskRunner API"
Add `che.registerTaskRunner` Theia Plugin API to allow adding a [Che tasks runner](https://github.com/eclipse/che-theia-task-plugin/blob/master/che-theia-task-extension/src/node/che-task-runner.ts#L21).
The related Theia extension API is [here](https://github.com/theia-ide/theia/blob/master/packages/task/src/node/task-runner.ts#L32)
Depends on https://github.com/eclipse/che/issues/11306

[2018-11-15 10:04] slemeur opened #11955 "Improper workspace status observed in dashboard sidebar"
### Description
The status of the workspace in the dashboard sidebar is not reflected properly. I was using a Che7 stack.

![capture d ecran 2018-11-15 a 11 03 36](https://user-images.githubusercontent.com/1636769/48545443-3975f300-e8c6-11e8-8947-c8c6caf8011f.png)

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-15 10:29] azatsarynnyy opened #11956 "Che7 stacks don't have a declared Tomcat server"
### Description
[`Che7`](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L443) and [`Che7 Dev`](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L516) stacks don't have a Tomcat server declared for `ws/dev` machine.
It brokes Preview URL feature for a running task.

### Reproduction Steps
- create a

[2018-11-15 10:32] azatsarynnyy commented on #11458
I've updated the description with the subtasks.

[2018-11-15 10:39] KOSSOKO commented on #11714
@skabashnyuk thanks a lot.

[2018-11-15 11:07] skabashnyuk commented on #11714
Closing. Feel free to reopen if you think it's needed.

[2018-11-15 11:07] #11714 closed

[2018-11-15 11:42] harryk8sgit commented on #11934
I have used helm chart of both 6.13.1 and master branches. And have observed the issue as reported.

Could you please provide me instructions if any additional debug options can be used to troubleshoot the issue?

[2018-11-15 11:43] skabashnyuk commented on #11956
I would not say that this is a bug. Since we need tomcat tool to be able to run web-java-spring application

[2018-11-15 12:14] azatsarynnyy commented on #11956
@slemeur do we still need this as a temporary solution while there's no Che Tomcat plugin?

[2018-11-15 12:15] skabashnyuk commented on #11943
We need to make sure that this would not make a good instrument to make Che as a good source of DDOS attack. I would say that this feature should be available only for authorized/checked/trusted plugins/editors.

[2018-11-15 12:17] skabashnyuk commented on #11956
@azatsarynnyy perheps you are right. this is a server in user application

[2018-11-15 12:39] slemeur commented on #11907
ok for me

[2018-11-15 12:46] tsmaeder commented on #11468
I think this task consists of the following tasks:
1. Create a way to dynamically add LanguageClientContribution instances (based on BaseLanguageClientContribution) in addition to doing it via dependency injection. We'd have to change the mechanism of dependency injection to only be _one_ method of adding a languag client contribution
2. When someone calls "registerLanguageServerContribution" on t

[2018-11-15 12:53] slemeur commented on #11956
Yes the servers should be configured indeed.

[2018-11-15 13:10] garagatyi commented on #11943
Could you elaborate on how it can extent DDOS attack capabilities? We were talking about that with David and it seems that it doesn't differ much from what we are offering with custom editors in Che 7.

[2018-11-15 13:57] #11848 closed

[2018-11-15 14:01] vinokurig opened #11960 "Java language server listens to a wrong ProjectCreatedEvent"
### Description

`WorkspaceSynchronizer` listens to `ProjectCreatedEvent` to add the project to java language server, witch is  fired when the project **clone is finished**:
https://github.com/eclipse/che/blob/58dc906339f7d502f0d298d967761329b1cddf2c/wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/impl/ProjectServiceApi.java#L194-L195
then
https://github.com/eclipse/c

[2018-11-15 14:08] vinokurig commented on #11960
Proposal:
switch `WorkspaceSynchronizer` to `ProjectImportedEvent` witch will be fired from `ProjectImportManager.doImport()`
@tsmaeder WDYT?

[2018-11-15 14:13] sleshchenko opened #11961 "Che Server rejects JSON RPC messages which may lead to losing events"
### Description
Che Server rejects JSON RPC messages which may lead to losing events.
There is a `ci-test` job that failed because of slow tests execution.
https://github.com/eclipse/che/pull/11920#issuecomment-439021314

Che Server Logs contain a lot of logged `wsagent` log events like the following:
[code]
After that there are errors that JSON RPC messages are dropped:
[code]
It happes because J

[2018-11-15 14:32] l0rd commented on #11943
Yes and also @davidfestal can you explain how the URL will be used? Weill the URL be used by the broker? By che-server? And offline startup of a container should be possible.

[2018-11-15 14:41] garagatyi commented on #11943
@skabashnyuk you are right, but it would be also possible with any custom editor. So there is no real difference as far as I understand.

[2018-11-15 14:46] 781227k opened #11963 "Command to trigger rest api services"
Hello,

I was wondering if it is possible to trigger a rest api service with a custom command.

As an example; Creating a custom command called "che generate maven" and it will trigger the rest api for maven project type and a project will be created in the workspace.

-- Or at least to trigger che actions
Thanks in advance!

[2018-11-15 15:32] sleshchenko opened #11964 "Workspace Agent produces an abnormal number of error logs during selenium testing"
### Description
It is needed to investigate why Workspace Agent produces an abnormal number of error logs during selenium testing.

Examples of such `ci-test` executions:
https://github.com/eclipse/che/pull/11920#issuecomment-439021314
https://github.com/eclipse/che/pull/11941#issuecomment-438825764
They are different PRs that are not related but have the same `ci-test` failure cause.

### Reprodu

[2018-11-15 15:49] davidfestal commented on #11943
Let me give a bit more details:

#### An example of the additional data

Let's take the example of the Theia editor, in the following [`meta.yaml` file](https://github.com/eclipse/che-plugin-registry/blob/master/plugins/org.eclipse.che.editor.theia/1.0.0/meta.yaml), we could add the following line:

[code]

And `chunks.json` (pushed or updated as an asset of the release, besides the `.tgz` file, a

[2018-11-15 17:15] mstavares opened #11965 "Create own AbstractNewResourceAction"
Hi,

I would like to create my own event in order to create new resources such as create a new .java file.
In order to do, I guess that I need to create a piece of code similar like this one.

`  public NewClikeResourceAction(
      String title,
      String description,
      SVGResource svgIcon,
      DialogFactory dialogFactory,
      CoreLocalizationConstant coreLocalizationConstant,
      Ev

[2018-11-16 00:54] l0rd opened #11967 "Che 7 workspace creation fails on a new OpenShift cluster"
### Description

The first time I create a Che 7 workspace on a new minishift / minikube cluster, che-plugin-broker Pod creation fails with the following error: `Pod has unbound PersistentVolume`

![image](https://user-images.githubusercontent.com/606959/48581669-ba62d800-e922-11e8-9cfa-507c4808ec9f.png)

### Reproduction Steps

1. `minishift delete`
2. `minishift start --memory=4GB`
3. `minishift

[2018-11-16 05:41] sleshchenko commented on #11967
Should be fixed by https://github.com/eclipse/che/pull/11920

[2018-11-16 05:46] eivantsov commented on #11917
[code]
Aren't you missing `/` in paths? In other parts of the script as well.

[2018-11-16 05:47] eivantsov commented on #11965
@vparfonov @vzhukovskii @azatsarynnyy are most knowledgeable in this area

[2018-11-16 07:53] garagatyi commented on #11943
We discussed usage of CDN with Florent and Mario yesterday and realized that it would be cool to be able to prefetch resources even before workspace is created and editor is chosen. In that case, we would have the most rapid approach. This is especially helpful for a slow connection, such as mobile network or ADSL because starting prefetching of resources on the workspace loading with such a slow

[2018-11-16 08:37] eivantsov opened #11968 "Release 6.14.1"
The following PRs/commits are required:

https://github.com/eclipse/che/pull/11958
https://github.com/eclipse/che/pull/11920
https://github.com/eclipse/che/pull/11966
https://github.com/eclipse/che/pull/11933

[2018-11-16 09:02] riuvshin commented on #11968
https://github.com/eclipse/che/commit/e0fe1762439a996b82f9b3d4d0368d32eb418f75

[2018-11-16 09:07] mjshashank commented on #11932
@eivantsov Thank you for your reply. I looked into this further and realised workspace pod are being rescheduled as part of kubernetes autoscaling and the new pod that comes up does not have the bootstrapper binary or the command from the che server to execute the same. Hence the agents are all unreachable and the workspace is unusable.

[2018-11-16 09:31] mstavares commented on #11965
Coudl this RevealResourceEvent help me?
`              @Override
              public void apply(File newFile) throws OperationException {
                editorAgentProvider.get().openEditor(newFile);
                eventBus.fireEvent(new RevealResourceEvent(newFile));
              }`

[2018-11-16 09:35] garagatyi commented on #11943
In OSIO case we know the IDE and should prefetch it way earlier - on the OSIO UI side. This would provide the best experience.

Regarding the need to add it to the meta.yaml model. If we would create broker service to evaluate and cache workspace sidecars configuration we would be able to move cache instructions to the editor definition and not extend meta.yaml that was supposed to be super simple

[2018-11-16 09:38] mshaposhnik commented on #11904
Json validation library research:
1) Officially recommended, supports latest draft, but requires external repo set-up: https://github.com/everit-org/json-schema
2) Popular one, a continuation of popular fge library https://github.com/java-json-tools/json-schema-validator
3) Good one, but only draft v.4 support now (planned to update soon) https://github.com/networknt/json-schema-validator

Unfortu

[2018-11-16 09:46] vzhukovskii commented on #11965
Hi @mstavares! Thanks for your question. Can you elaborate the details, what kind of log record do you want to write and where exactly? On the server side or on the client?

[2018-11-16 09:49] mstavares commented on #11965
Hi @vzhukovskii, sure!
I would like to invoke a web service in order to store it server side.
That log file will contains the workspace (I guess that I can fetch it from AppContext) and the path + file name of the created file.

[2018-11-16 10:40] #11947 closed

[2018-11-16 10:42] garagatyi commented on #11943
We would need to update something on each change of the image in any case. Either che-plugin.yaml or meta.yaml

[2018-11-16 10:57] davidfestal commented on #11943
well, not necessarily. If the broker service would extract the list of URLs from the editor image (see [my  comment above](https://github.com/eclipse/che/issues/11943#issuecomment-439350243)), then nothing more than the docker image would need to be updated (the docker image can be updated, and overwritten, to an existing image tag).
But in this case the broker service should regularly check wheth

[2018-11-16 11:15] SharkJ opened #11969 "[Error when Building Che] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile (default-compile) on project che-core-orion-editor: Compilation failure"
Hi,
I am trying to extend the Orion editor in order to enable syntax colouring for my new language. I used the code snippet given [here](https://github.com/eclipse/che/pull/1392) and added it to `D:\che\che\ide\che-core-orion-editor\src\main\java\org\eclipse\che\ide\editor\orion\client\OrionEditorExtension.java`.
However, when I tried to build che with the new addition using `mvn clean fmt:format

[2018-11-16 11:16] SharkJ commented on #11969
This is the content of my OrionEditorExtension.java file: -

[code]

[2018-11-16 11:28] SharkJ opened #11970 "DSL for Theia in Eclipse Che with Syntax Colouring Support"
Hi,
Is there a way that I could implement a DSL to Theia in Eclipse Che and then define syntax colouring for it?
Thanks!

[2018-11-16 11:38] riuvshin commented on #11968
done

[2018-11-16 11:38] #11968 closed

[2018-11-16 12:31] mshaposhnik commented on #11904
The best way to generate POJO from schema is seems to be https://github.com/joelittlejohn/jsonschema2pojo library. We shall review it and start a CQ process if we found it acceptable for us.

[2018-11-16 13:44] #11638 closed

[2018-11-16 14:03] l0rd opened #11972 "Cloud Native Workshop"
### Description

There are a couple of events were we will do demos in December and we have the opportunity to show the latest coolest Che 7 Features: KubeCon and Paris JUG.

**Goal**: Show Che 7 extensible workspace model, VS Code extension compatibility, workflow with inner and outer loop. Given the che.openshift.io performance we may be forced to demo it in a local minikube.

**Demo Script**
-

[2018-11-16 14:04] l0rd commented on #11972
cc @garagatyi @azatsarynnyy

[2018-11-16 15:52] 781227k commented on #11963
@eivantsov  Thanks for the response!

As a last option i think i can go for that but what I really want is that extending the existing terminal so that it can response my custom CLI commands.

It is similar to what described here.  #4949

[2018-11-17 05:46] monaka commented on #10041
Same here and fixed it. My build environment is Ubuntu. Ubuntu uses `ash` as `/bin/sh` even though many Linux distros use `bash`. I'm not sure but probably same as Mint is based on Ubuntu.
I make some patches. I'm going to send PR.

[2018-11-17 16:49] #11929 closed

[2018-11-17 17:59] skabashnyuk commented on #11932
can you try fresh Che version?

[2018-11-18 11:49] KitioFofack opened #11976 "Eclipse Che multi users install fails ont minishift 1.27 with: [ERROR] Keycloack deployment failed. Aborting."
### Description

I 'm trying eclipse che install on MInishift 1.27 .
The scripts fails with message [ERROR] Keycloack deployment failed. Aborting
oc rollout status keycloak says: ERROR : the server don't have a resource type "keycloak"

### Reproduction Steps

Install Minishift cluster
run ./deploy_che.sh --multiuser

**OS and version:**

Centos 7 on KVM nested on Xen

**Diagnostics:**

Logs are e

[2018-11-19 03:14] LahiruT94 commented on #11917
I'm sorry I didn't catch that, / in paths means? If you can illustrate one, it is a great help.

[2018-11-19 05:07] mjshashank commented on #11932
@skabashnyuk Will do and get back to you. This issue has been addressed is it?

[2018-11-19 05:35] eivantsov commented on #11932
@skabashnyuk I do not think it has been addressed, as least with Che 6.

If you try Che 6 without ws-agent and other agents, the issue is gone since provisioning happens in the entrypoint, thus, pod restart will not cause anything disrupting for a workspace.

[2018-11-19 05:39] mjshashank commented on #11932
@eivantsov Got it. But ws-agent is necessary for a usable workspace right?Is it just the bootstrapping process that needs to be performed on res

[2018-11-19 05:44] mjshashank commented on #11932
@eivantsov Got it. But ws-agent is necessary for a usable IDE right?

Is it just the bootstrapping process that needs to be performed on the restarted pod? If that is the case, would a hacky hotfix to detect the same and perform it through something like a `kubectl exec` help us keep the workspace usable?

[2018-11-19 05:50] eivantsov commented on #11932
@mjshashank yes, it's a must for Che 6. In Che 7, all tooling is launched as sidecars (containers in one pod), and there are no execs and interfering with runtime. Everything happens in containers entrypoints.

[2018-11-19 08:18] Ohrimenko1988 opened #11978 "Unexpected fail of "CheckOnValidAndInvalidClassNameTest" and "RenamedAlreadyCreatedNotJavaFileTest" selenium tests"
### Description
We have unexpected fails of "CheckOnValidAndInvalidClassNameTest" and "RenamedAlreadyCreatedNotJavaFileTest" selenium tests. It looks like that something went wrong with a method which checks existing of the created java class.

**Log:**
[code]
**Screenshot:**
![eee](https://user-images.githubusercontent.com/22724619/48694180-4ce5ce80-ebe4-11e8-8183-9d10ff5e442d.png)

**Report with

[2018-11-19 08:57] #11822 closed

[2018-11-19 09:53] l0rd opened #11980 "Plugin Brokers Improvements"
### Description

We have introduced the plugin brokers to support [workspace.next walking skelethon](https://github.com/eclipse/che/issues/10123). The skeleton has been implemented and we received the first feedbacks at EclipseCon Europe. This epic is to organize the work to implement production-ready brokers that will be GA on next Che next major release (Che 7).

### Tasks

- [x] Add Unit Tests

[2018-11-19 09:56] tsmaeder commented on #11960
1. Eventually, jdt.ls is going to handle this themselves: https://github.com/eclipse/eclipse.jdt.ls/issues/144
2. What about all the other ways projects can come into existence? What about "samples"? What about project detection via the file system? We need an approach that works for all cases.

[2018-11-19 10:02] l0rd commented on #11980
cc @garagatyi @sleshchenko @benoitf @skabashnyuk @ibuziuk @azatsarynnyy

[2018-11-19 10:04] SharkJ commented on #11970
Thanks! I'm trying out their theia-xtext extension, but it seems outdated.

[2018-11-19 11:01] azatsarynnyy commented on #11980
Currently, Theia already supports loading the remote plugins which are:
- hosted on Visual Studio Marketplace
- published as a GitHub release
- accessible by any http(s) link

@benoitf correct me if I'm wrong, please

[2018-11-19 11:18] hsgwd commented on #11196
@azatsarynnyy
Thank you for your reply.
We could successfully change plugins order!

[2018-11-19 11:18] #11196 closed

[2018-11-19 12:22] ibuziuk opened #11981 "Need to update kubernetes-client to 4.9.0 version"
### Description
Need to update `kubernetes-client to 4.1.1` which would contain the fix for the issue [1] [2] - `Not setting optional `Impersonate-Group` results in NPE in ImpersonatorInterceptor`. This bug affect downstream project. More details can be found in https://github.com/redhat-developer/rh-che/issues/1075#issuecomment-439360584

No CQ should be created since it is going to be service [3

[2018-11-19 12:30] hsgwd opened #11982 "Can't upload files with Microsoft Edge."
### Description
We failed to upload files to workspace  using Microsoft Edge.
When we upload file with Edge, the names of uploaded files were full path name in my local PC and eclipse che cannot operate these files.
![failedtouploadfile](https://user-images.githubusercontent.com/43225784/48705105-ac22fd80-ec3b-11e8-8d6b-f8103e378355.png)

We could successflly uploaded files with Google Chrome.
![s

[2018-11-19 13:30] benoitf commented on #11980
@azatsarynnyy the idea is that the .theia file should only be inside the remote container or only in volume only accessible by this theia endpoint container. Today we need to provide .theia file to the main theia container

About `hosted on Visual Studio Marketplace` for now it works in plain theia (with the command palette/deploy command) but we want to see as well these plug-ins from Dashboard w

[2018-11-19 14:46] Ohrimenko1988 commented on #11911
Done https://github.com/eclipse/che/pull/11913

[2018-11-19 14:46] #11911 closed

[2018-11-19 15:39] vzhukovskii commented on #8300
Investigation has shown that the issue can't be reproduced.

[2018-11-19 15:39] #8300 closed

[2018-11-19 15:41] vzhukovskii commented on #11927
This issue will be resolved after https://github.com/eclipse/che/pull/11941 merge.

[2018-11-19 20:03] nbon12 opened #11985 "Workspace is going to be STOPPED. Reason: Container of machine 'dev-machine' unexpectedly stopped. Please check that container is designed to run in non-interactive terminal."
### Description
![workspace_stopped](https://user-images.githubusercontent.com/17408265/48728767-e83a6c00-ec03-11e8-9cf1-9dedd83c4f36.png)
The workspace suddenly stops with no warning. This happens frequently, about once or twice per hour. This happens while I am coding in a workspace, or if I'm browsing on another tab in Chrome and come back.
This happens on both single-user and multi-user Che.
S

[2018-11-19 23:02] l0rd commented on #11479
The more I think about this issue the more I think that the generation of `meta.yaml` files should be completely automated. Plugins developers should only care and maintain `che-plugin.yaml` files in their own repo and `che-plugin.yaml` should contain all the plugin details. The plugin's author should register it once on the git repo of the registry. But updates should semi-automated (via a bot or

[2018-11-20 05:54] hsgwd opened #11986 "Feature Request : Open Call Hierarchy"
For Java development, there are "Open call Hierarchy" in context menu on eclipse for desktop usage (such as eclipse photon, oxygen, neon... ), but not on eclipse che.
It's important for java development to show call hierarchy of modules .

Is there any comparable features on eclipse che?
Is there any schedule for add feature  "Open call Hierarchy" ?

[2018-11-20 05:57] hsgwd opened #11987 "Feature Request : Quick Type Hierarchy"
For Java development, there are "Quick Type Hierarchy" in context menu on eclipse for desktop usage (such as eclipse photon, oxygen, neon... ), but not on eclipse che.
It's important for java development to show type hierarchy of classes.

Is there any comparable features on eclipse che?
Is there any schedule for add feature "Quick Type Hierarchy" ?

[2018-11-20 06:16] hsgwd opened #11988 "Feature Request : Show Java documantation as mouse-over"
For now, Eclipse Che use ctrl+Q to trigger to show documentation in eclipse che.
It's just uncomfortable to use key binding for showing documentation.

I expect it to pop automatically as I mouse over on it.

[2018-11-20 07:21] skabashnyuk commented on #11976
is there anything else in the logs?

[2018-11-20 07:34] #11777 closed

[2018-11-20 07:39] skabashnyuk commented on #11985
@nbon12 is there any guide on how to reproduce this?

[2018-11-20 07:53] hsgwd opened #11991 "Feature Request : Hot deploy for Spring Boot Application"
We are developing Spring Boot application.
When we modify application source code for debugging, we need re-build application and restart Web Server.
I hope tool support for hot swap or hot code replace without restarting the Server for debugging Spring Boot appclication.

Thank you.

[2018-11-20 08:28] Ohrimenko1988 opened #11992 "Unexpected fail of "CheckErrorsWarningsTabTest" selenium test"
### Description
We have unexpected fail of "CheckErrorsWarningsTabTest" selenium test. It looks like something went wrong with a method which checks count of the error markers. We should investigate and resolve this problem.

**Log:**
[code]

**Screenshot:**
![rrrr](https://user-images.githubusercontent.com/22724619/48760523-e679b280-ecae-11e8-81d4-fff6b10d5db4.png)

**Report with reproduced probl

[2018-11-20 08:33] benoitf commented on #11938
@sunix not on short term.
For now image is multi-staged build image and then, only production image is pushed

[2018-11-20 08:42] SkorikSergey opened #11993 "Cover workspace sharing feature by selenium test"
### Description
We need to cover workspace sharing feature by selenium test. Existed **ShareWorkspaceTest** selenium test cover only adding/removing developers in the **Share** workspace tab.

### Reproduction Steps
Next use cases will be covered:

- Login as admin
- Create an organization and add a developer to it
- Create and start workspace from **Java** stack with  project
- Create a file in t

[2018-11-20 09:20] SkorikSergey commented on #11927
Fixed.

[2018-11-20 09:20] #11927 closed

[2018-11-20 09:37] SkorikSergey opened #11994 "[Organizations] Organization members list style is broken"
**Reproduction Steps:**
1. Create an organization
2. Open the **Share** tab on organization details page.

**Che version**: 6.15.0-SNAPSHOT
**OS and version:** Fedora 28

**Additional information:**
* Problem can be reliably reproduced, doesn't happen randomly: [Yes]
* See the attachment:

**Screenshot:**
![selection_156](https://user-images.githubusercontent.com/7760565/48763803-b9310280-ecb6-11e

[2018-11-20 09:56] AndrienkoAleksandr opened #11996 "Unable to build Theia image with CHE 7 dev stack, because yarn "unable to find lerna binary"."
### Description
For Theia image was changed node_modules location to the "/node_modules",  but to build Theia uses script https://github.com/theia-ide/theia/blob/master/scripts/lerna.js:

And this script unable to find lerna binary in the external node_modules:
https://github.com/theia-ide/theia/blob/master/scripts/lerna.js#L19

[2018-11-20 10:43] Ohrimenko1988 opened #11997 "Unexpected fail of "TheiaBuildPluginTest" and "RenameProjectTest" selenium tests"
### Description
We have unexpected fail of "TheiaBuildPluginTest" and "RenameProjectTest" selenium tests. It looks like something went wrong with a method which switches into the frame. We should investigate and resolve this problem.

**Log:**
[code]

**Screenshot:**
![wwew](https://user-images.githubusercontent.com/22724619/48768482-d4553f80-ecc1-11e8-8c91-4ccdafacb3a3.png)

**Report with reprodu

[2018-11-20 13:26] Ohrimenko1988 opened #12000 "Projects with preview and after names displayed after rename project by context menu in IDE"
### Reproduction Steps
 - Go to the dashboard and run default java stack with default  spring project
![stack](https://user-images.githubusercontent.com/22724619/48776075-86e3cd00-ecd7-11e8-8e85-41ff5d35a2b5.png)

 - Wait until workspace is run
 - Wait until language server is initialized
 - Open context menu on the project folder in project explorer
 - Click on "Rename" item in context menu
 - In

[2018-11-20 13:30] l0rd commented on #11469
@eivantsov yes I think we are ready for that :-) (e.g. `eclipse/che-operator`)

@jasonmadigan yes @eivantsov has a working che-operator and we are considering to make it the default way to deploy Che on kube and OpenShift. We need to address a couple of things to make deployment UX easier and then we will do a proposal to the Che community.

[2018-11-20 13:55] eivantsov commented on #11469
@l0rd ok, I will request a new repo, write a good README, setup automated build for a Docker image, polish some parts of code, add missing configmap envs, set reasonable defaults etc.

[2018-11-20 14:08] Ohrimenko1988 commented on #11992
Done https://github.com/eclipse/che/pull/11995

[2018-11-20 14:08] #11992 closed

[2018-11-20 14:10] sunix commented on #11948
as a quick workaround while fixing it, replace
[code]
with
[code]

[2018-11-20 14:28] metlos opened #12002 "Trace workspace stopping in more detail"
### Description
As of https://github.com/eclipse/che/pull/11924 the workspace stopping is traced in a rudimentary manner. We should add more details similar to what we're doing during workspace creation.

[2018-11-20 14:31] tsmaeder commented on #12000
Why is this a P1?

[2018-11-20 14:39] Ohrimenko1988 commented on #12000
Because this behavior looks very ugly and leads to mistakes and misunderstanding especially in case with multiple projects. Any suggestions?

[2018-11-20 14:44] Ohrimenko1988 commented on #11997
Done https://github.com/eclipse/che/pull/12001

[2018-11-20 14:44] #11997 closed

[2018-11-20 14:49] sunix commented on #11996
we are not supposed to build theia inside theia-ide container but 'dev' container. at the moment it is not working but working on it

[2018-11-20 15:21] metlos opened #12003 "Trace ChePlugins and how they are applied to workspaces"
### Description
Because ChePlugins create new sidecar containers they, too, can be bottleneck or at least a source of slowdowns during workspace creation.

We should make sure the application of ChePlugins is traced so that we can uncover problematic plugins.

[2018-11-21 05:39] SharkJ commented on #11970
Hi @eivantsov, can you please explain the procedure to implement a Theia DSL extension in Che?

[2018-11-21 08:10] peterducai opened #12005 "Do not suggest turning of selinux"
### Description

at https://www.eclipse.org/che/docs/docker-single-user.html you suggest turning of Selinux which is completely wrong

**Solution**

instead of turning off selinux, turn it off only for che (make it unconfined)

[2018-11-21 08:51] sunix opened #12006 "Che-theia: projects cloned in Theia are not synchronized back to Che workspace definition"
### Description
- Clone a project in Theia
- go back to the workspace definition

The project should added to the workpace definition

[2018-11-21 09:56] vitaliy-guliy opened #12009 "Change the name of temporary generated dockerfile"
.Dockerfile is created when building a docker image. After breaking the build process this file is still exist. Git informs that this is a change and proposes to commit the file.

We have to change the name of generated file and add it to the .gitignore.

[2018-11-21 10:30] garagatyi commented on #12009
I think that .Dockerfile is generated by docker itself. Not sure whether we can change it. But +1 to add it to ignore rules

[2018-11-21 10:32] sleshchenko commented on #12009
@garagatyi [build.include](https://github.com/eclipse/che/blob/master/dockerfiles/build.include#L131) is a script that produces `.Dockerfile`

[2018-11-21 10:34] SharkJ opened #12011 "Adding a DSL to Theia (Extending Theia on Eclipse Che) and a Question Regarding the Reason for Che to add Theia"
Hi,

I'm trying to build a language extension for Theia on Eclipse Che (since Che does not allow syntax colouring). I have, so far, been able to add a language extension (DSL built using Xtext) with editor support in to the Theia IDE. I'm currently having several issues running it locally, so I'm using Gitpod for development.
Could you please tell me how I should implement a new language extension

[2018-11-21 10:37] #10041 closed

[2018-11-21 10:40] SharkJ commented on #11970
Closing the issue, since it's being continued [here.](https://github.com/theia-ide/theia/issues/3564)

[2018-11-21 10:40] #11970 closed

[2018-11-21 11:21] benoitf opened #12012 "[factory plug-in] typo on cloning"
### Description
When using factory plug-in it's displaying `clonning` while it should be `cloning`

### Reproduction Steps
Clone some projects.

[2018-11-21 12:38] skabashnyuk opened #12013 "Jaeger deployment for Kubernetes"
### Description
With this pr https://github.com/eclipse/che/pull/11844 we have jaeger deployment for openshift.
We need to update our Helm chart to be able to play with jaeger and traces on Kubernetes.

[2018-11-21 14:14] mstavares commented on #11965
Hi,

I already have solved this issue through RevealResourceEvent.
Thanks.

[2018-11-21 14:18] mstavares opened #12015 "Make branding depends of stack"
Hi,

I would like to know if is possible to change the branding icons depending the stack.
For instance, I would like to show a Java icon instead of this Eclipse Che (https://ibb.co/j5zr0V) when my workspace is running a Java stack.

Thanks,

[2018-11-21 14:28] #11965 closed, assigned to nobody

[2018-11-21 15:06] ibuziuk commented on #11991
@hsgwd Could you please clarify your use-case ? AFAIK hot-deploy of spring boot could be enabled on the project level by adding dev tools dependency:

in order to make hot deployment work in general there should be a possibility of updating project's classpath [1] (In eclipse it is done automatically (`Project -> Build Automatically`) and in InteliJ one needs to either change a few build propertie

[2018-11-21 15:12] ibuziuk commented on #5831
I believe we could close it. It was verified in downstream - https://github.com/redhat-developer/rh-che/issues/230

[2018-11-21 15:12] #5831 closed

[2018-11-21 15:21] ibuziuk commented on #11391
@eivantsov @garagatyi sorry missed your messages. Angel is right, this issue is about the edge case when user:
- first create & start non-ephemeral workspaсe
- than stops it
- makes it ephemeral via attribute
- once this workspace is deleted PVC cleanup is not performed
This issue is not fixed in master, but for me it does not look super urgent, since it could be treated as an edge case

[2018-11-21 16:05] SkorikSergey opened #12017 "[Typescript] Unexpected exception in dev-machine console"
### Reproduction Steps
* Create a workspace based on **Node** stack with enabled **TypeScript** language server
* Create typescript file and add content:
[code]
* Type ```greeter(```, wait for signatures proposal and type any symbol.

**Actual result:** There is ```Exception occurred in op
java.util.concurrent.ExecutionException: org.eclipse.lsp4j.jsonrpc.ResponseErrorException: Request textDocume

[2018-11-21 16:19] fErten opened #12018 "Add new database support in wsagent"
Hello, I would like to add a database support for a server plugin that I am currently writing. I am following your documentation [Persistence, DAO](https://www.eclipse.org/che/docs/dao.html)

I have created the necessary code structure, however, I am not sure how to inject database connection for a wsagent plugin with `persistence.xml`

Any chance you can enlight me about how to use `che-core-db*`

[2018-11-21 19:08] nbon12 commented on #11985
Using Eclipse Che within Docker: Start any workspace, wait for it to suddenly stop about 30-60 minutes later, while you're still working inside it.

[2018-11-21 22:57] tristochief opened #12020 "CHE_WORKSPACE_VOLUME doesn't mount"
after mounting using the CHE_WORKSPACE_VOLUME, and then creating a blank workspace, the host's directory specified in the CHE_WORKSPACE_VOLUME doesn't exist.

my che bash run command:
`docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock -v /home/tris:/data -e CHE-WORKSPACE-VOLUME=/home/tris:/home/user/stuff eclipse/che start`

My che.env CHE_WORKSPACE_VOLUME:
CHE_WORKSPACE_VOLUME=/hom

[2018-11-22 00:19] tristochief opened #12021 "wsagent server doesn't exist - when using eclipse che recipe"
When I create a custom stack, and add the [dockerfile](https://github.com/eclipse/che-dockerfiles/blob/master/recipes/ubuntu_python/Dockerfile) located in the eclipse che recipe, then try and run this custom stack inside the eclipse che workspace, I get a 'wsagent doesn't exist' error

Please help us by providing all of the details listed below. A complete and thoughtful issue request with researc

[2018-11-22 00:53] #12021 closed

[2018-11-22 00:53] tristochief commented on #12021
I was unaware of the 'installers' requirement.

[2018-11-22 07:49] skabashnyuk commented on #11985
Do you use IDE at that time?

[2018-11-22 07:59] skabashnyuk commented on #12015
that is not possible at this moment.

[2018-11-22 08:21] monaka opened #12024 "[Feature request] "Per-Workspace" persistent volume claim support."
### Description

#### background

Currently, Che has two PVC strategy, `common` and `unique`.
They are not fit to auto-provisioned PV that is provided cloud providers like AWS, Azure, GCP.

In these environment, PV is a 'managed disk' that is mounted as a block device by nodes.
Disks can't be shared by any pods. So we can't use `common` strategy.

The other hand, `unique` generates unique PVs per

[2018-11-22 08:22] monaka commented on #12024
I'm writing "PerWorkspacePVCStrategy.java". Is this acceptable for the master branch?

[2018-11-22 09:01] sleshchenko commented on #12024
@monaka Looks meaningful for me. I have no objections against having such strategy in master. Welcome to prepare PR. Will discuss implementations details there.
Feel free to write here/email me/write to Eclipse MM if you have any issues/questions.

@ibuziuk @garagatyi WDYT?

[2018-11-22 09:01] mshaposhnik commented on #12018
Not sure if i'm completely understood the question. Can you describe a little your environment? (single or multi Che, Docker or OS or K8S based) and how's you plugin looks like?
But in general, you cant connect from your plugin to the same DB which Che server uses, because it is wasn't supposed to allow such a connections (and we're not exposing DB service on OS/K8S to outside, so only same namesp

[2018-11-22 09:01] garagatyi commented on #12018
@fErten could you explain what is the reason to have a plugin on the ws-agent side that connects to Che DB?
Is this connected with the inability to implement Che-master plugins?

[2018-11-22 09:14] didier1969 commented on #11985
I am getting same error message here too, on a fresh install with multi-user/keycloak. The difference for me is that the workspaces simply don't start (or stop immediately). No way to access the CHE code editor.

When I ran the diagnostic, I got following messages:

[2018-11-22 09:22] mstavares commented on #12015
Ok, thanks a lot!

[2018-11-22 09:29] #12015 closed

[2018-11-22 09:31] skabashnyuk commented on #12018
@fErten what kind of data you want to store in DB. can you store it in a user preference?

[2018-11-22 09:32] garagatyi commented on #12024
I'm OK too

[2018-11-22 09:38] fErten commented on #12018
@skabashnyuk Basically, the idea is to list files in the tree structure with an FTP connection, and multiple connections will be possible with update/delete features. What I wanted to store in DB is that FTP object that stores login credentials and file list.

[2018-11-22 10:34] SkorikSergey commented on #12017
This issue started to reproduce from CHE 6.14.0.

[2018-11-22 12:11] dkuleshov commented on #12017
Okay, I [see](https://github.com/eclipse/che/compare/6.13.0...master) that #10699 was merged in 6.13.0 so it is not related, this is strange.

[2018-11-22 12:32] garagatyi opened #12025 "Add support of Golang projects to Che Theia"
### Description
I'm writing Golang code for Che plugin brokers and some other Che maintainers also write Golang code for different agents and stuff like that.
Unfortunately, we don't have code intellisense for Golang in Che Theia.
This doesn't allow us to dogfood Theia efficiently.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-22 12:34] garagatyi commented on #12025
@AndrienkoAleksandr @sleshchenko @eivantsov @evidolob @ashumilova FYI

[2018-11-22 12:42] AndrienkoAleksandr commented on #12025
+1 000 000

[2018-11-22 12:43] eivantsov commented on #12025
Quick solution would be to include Go extension to Theia by default. However, that's a hack and, besides, we will need Goland (with around ~15 deps) and Nodejs for the language server to start.

I think once language plugin API is ready, it can be a VS Code plugin in the image with all the deps and language server as well.

We won't have debugger unfortunately, but code navigation + code completio

[2018-11-22 12:50] garagatyi commented on #12025
If we want to dogfood then even Theia extension with all the runtime dependencies it brings would be valuable

[2018-11-22 13:25] garagatyi opened #12026 "Create VSCode extension broker for Theia"
### Description
We need Che 7 plugin broker that would start compatible VSCode extension as Theia plugin in a sidecar container. This would allow us to leverage existing VSCode extensions in Che Theia.
The flow:
1. meta.yaml of a plugin specifies VSCode extension URL
1. Identifier of the Che plugin for that would be `VSCode extension`
1. meta.yaml of a plugin specifies docker image of a sidecar ne

[2018-11-22 16:32] benoitf commented on #11972
hello, what is the difference between `modified petclinic`and https://github.com/che-samples/web-java-spring-petclinic (mysql branch) https://github.com/che-samples/web-java-spring-petclinic/tree/mysql ?
should it merged to che-samples ?

[2018-11-22 17:32] l0rd commented on #11972
@benoitf the difference are the Dockerfile, Dockerfile4che, App.yaml and App4Che.yaml that do not exist in the upstream project. Not sure if `che-samples` would be a good place to merge that code. @sleshchenko what do you think?

[2018-11-22 18:21] Katka92 commented on #11856
Today I've seen this issue too. I saw this ```failed to scan /projects``` error. When I restarted workspace all worked fine.

[2018-11-22 21:30] garagatyi commented on #12026
@l0rd sorry, my bad. I was thinking about one particular example of k8s extension but copied PR extension URL. I fixed the URL

[2018-11-23 00:05] metlos commented on #12002
Implemented as part of #11924

[2018-11-23 00:05] #12002 closed

[2018-11-23 04:09] nbon12 commented on #11985
Yes, I was using the IDE at the time it stops.

[2018-11-23 04:23] SharkJ opened #12030 "Error in Building Theia [The command '/bin/sh -c /tmp/builder/scripts/build-and-publish-theia.sh' returned a non-zero code: 1]"
Hi,
I was trying to build dockerfile/theia locally (using `docker build -t eclipse/che-theia:0.3.10-nightly --build-arg GITHUB_TOKEN=${GITHUB_TOKEN} --build-arg THEIA_VERSION=0.3.10 .` and got this output: -

[code]

Can anybody please tell me what must've gone wrong and how I should correct it? I want to add an extension to Theia in Che (But I haven't made any changes to the Theia directory that

[2018-11-23 04:45] LahiruT94 opened #12031 "Error extending the Editor to support custom file type"
### Description
I was building a plugin for a language with reference to the sample json plugin provided in the che samples.

Error Log:
[Error.txt](https://github.com/eclipse/che/files/2609720/Error.txt)
[code]

**OS and version:** Windows 10

Can I extend the Editor to support my own file type?

[2018-11-23 06:53] benoitf commented on #12030
@SharkJ you passed an invalid github token (see log : Downloading ripgrep failed: Error: Bad credentials)
But you can avoid providing it if you're not sharing your ip ith many people.
Also you specify 0.3.10 version as in the example but it is an example. On master just let use the default

run
[code]

[2018-11-23 07:39] metlos commented on #11922
Done through PR #11924

[2018-11-23 07:39] #11922 closed

[2018-11-23 07:46] Caplost opened #12033 "Deploy che server Pod failed on openshfit OKD 3.11 with mulit user deployment"
useing  ./deploy_che.sh --multiuser command to auto deploy success

but eclipse/che-server:nightly image deploy fail.

it shows
[code]
<details>
<summary>Full Che Server Logs</summary>

[code]
</details>

The content of http://keycloak-eclipse-che.openshift.qycloud.com.cn/auth/realms/che/.well-known/openid-configuration
<details>
<summary>Keycloak Openid Configuration</summary>

[code]
</details>

[2018-11-23 08:09] SharkJ commented on #12030
Thank you for the reply! I'll try `./build.sh` and update here on how it worked.

[2018-11-23 08:37] eivantsov commented on #12033
@Caplost are you behind a proxy? Che server cannot reach this url.

[2018-11-23 08:46] SharkJ commented on #12030
Hi,
`./build.sh` failed and so I tried out `` as well. However, what I get is this output: -

[code]

P.s.: I don't have permission to re-open this issue.

[2018-11-23 08:51] sleshchenko commented on #11972
@benoitf Actually `modified petclinic` is based on [spring-petclinic](https://github.com/spring-projects/spring-petclinic) repository but not `web-java-spring-petclinic`.
@l0rd I think our `web-java-spring-petclinic` may be updated and Dockerfile, Dockerfile4che, App.yaml, App4Che.yaml could be placed there as well. It would show how a sample web application can be run in che with different approa

[2018-11-23 09:10] ibuziuk opened #12035 "Release 6.14.2"
### Description
Changes required for 6.14.2 version:

Add property `che.workspace.server.ping_interval_milliseconds` to
control ping interval when checking that servers are running during
workspace start.

- https://github.com/eclipse/che/commit/f96c81f21745ed465e7fd3cea5db089f362c3265

Adding 'ImpersonatorInterceptor' during creation of KubernetesClient

- https://github.com/eclipse/che/commit/35

[2018-11-23 10:06] benoitf commented on #11972
@sleshchenko AFAIK it is based on the same repository (maybe fork link has been gone) but it's based on it (and surely it's an outdated one) but many ppl are using it in demos. so maybe it's worth to update/make it sync with latest petclinic UI
@slemeur ?

[2018-11-23 10:10] peterducai commented on #12005
moved to https://github.com/eclipse/che-docs/issues/607

[2018-11-23 10:10] #12005 closed

[2018-11-23 10:37] SharkJ opened #12036 "Error in Building Theia [Related to #12030]"
Hi,
This issue is related to #12030 , and is opened because I do not have permission to re-open the said issue.

I tried `./build.sh` command to build the dockerfiles/theia project, but it failed and so I tried out `docker build -t eclipse/che-theia:nightly .` as well. However, what I get is this output: -

[code]

[2018-11-23 10:52] SharkJ opened #12038 "Regarding the Procedure used to Implement Syntax Highlighting Support to Eclipse Che for Existing Programming Languages (Java, Python, Ceylon etc.)"
This issue is related to #11865, and is opened since I do not have permission to re-open the said issue.

I have learnt (from the above mentioned repo, as stated by @eivantsov ) that it is not possible to implement syntax highlighting through plugins or LS Sidecars in Che, as of yet. However, I was wondering whether there is _**any other way**_ (except Theia, since I still did not get a clear idea

[2018-11-23 10:53] SharkJ commented on #12036
Closing this issue since #12030 is re-opened by a Contributor.

[2018-11-23 10:53] #12036 closed

[2018-11-23 11:14] mstavares opened #12039 "Change About Eclipse Che"
Hi,

Is it possible to change eclipse che logo which is on about menu?

`/** @author Vitaly Parfonov */
public interface Resources extends com.google.gwt.resources.client.ClientBundle {

  @Source("logo/che-logo.svg") // This logo
  SVGResource logo();

  @Source("logo/water-mark-logo.svg")
  SVGResource waterMarkLogo();

  @Source({"Styles.css", "org/eclipse/che/ide/api/ui/style.css"})
  Styles s

[2018-11-23 12:07] riuvshin commented on #12035
done

[2018-11-23 12:07] #12035 closed

[2018-11-23 13:17] mmorhun commented on #11867
Currently we are missing at least
 - `globalState` from plugin context implementation

[2018-11-23 13:45] tsmaeder opened #12040 "Widespread use of bogus equals() Implementation"
In many places, we override ```equals()``` in a way that is simply wrong. Here's a snippet from ResourceNode.java:
[code]
This code is not a correct because it does not correctly implement the contract for equals(), in particular it is not symmetric. For example, ```ContainerNode``` extends ```ResourceNode```, so you can have cases where resNode.equals(folderNode), but not folderNode.equals(resNod

[2018-11-23 14:50] metlos commented on #12040
Are you sure that is the problem? The `instanceof` check will pass for any instance of any class inheriting from `ResourceNode`.

If the check wasn't there, you could not do basically any kind of comparison, because you could not be sure of the type of the object being compared to.

[2018-11-23 14:51] dkuleshov commented on #12040
I don't see the problem as well. Can you please provide a unit test? [This](http://thefinestartist.com/effective-java/08) also might be helpfull.

[2018-11-23 14:57] tsmaeder commented on #12040
The check needs to be if (getClass() == other.getClass()), not instanceof.

[2018-11-23 14:59] tsmaeder commented on #12040
Thanks for the reference, it proves my point.

[2018-11-23 15:06] dkuleshov commented on #12040
I assume you mean this case?
[code]

[2018-11-23 15:18] tsmaeder commented on #12040
yes

[2018-11-24 01:27] monaka opened #12042 "`failed: HTTP Authentication failed; no valid credentials available` logs on my web browser."
### Description

Sometimes my Chrome shows a lot of `failed: HTTP Authentication failed; no valid credentials available` message.
Even though I'm using patched Che-server, I suspect it will be reproduced on the vanilla Che.

It looks the similar issue was [reported on the another project](https://github.com/keymetrics/pm2-io-js-api/issues/53) and [fixed there](https://github.com/keymetrics/pm2-io-

[2018-11-24 05:59] Caplost commented on #12033
@eivantsov Thank you for your reply ！

I have not use proxy ，keycloak access just use  OKD router .

another thing I found is when it creating Che server container , access it use okd terminal run command curl  http://keycloak-eclipse-che.openshift.qycloud.com.cn/auth/realms/che/.well-known/openid-configuration. it  shows cannot resolve the url. But useing Debug in Terminal of okd pod curl command

[2018-11-25 09:42] l0rd commented on #12040
@tsmaeder it would be interesting if you could provide a failing unit test. It would be particularly useful to identify other classes affected by the same problem.

[2018-11-25 13:35] sr229 opened #12044 "Node Stacks uses outdated way of procuring Yarn"
### Description

Prior to Che moving to a Theia stack, the Node.js stack seems to have been overlooked - the `yarn` version in the stack is no longer supported, thus, I made a PR to the dockerfiles repo to reflect this.

[2018-11-26 02:17] SharkJ commented on #12030
@benoitf Do you have any idea why this happens?

[2018-11-26 03:32] Caplost commented on #12033
anyone deploy Eclipse Che  on OKD 3.11 ?

[2018-11-26 03:36] Caplost commented on #12033
@eivantsov single-user  eclipse/che-server  image deploy success  on OKD 3.11

[2018-11-26 04:12] eivantsov commented on #12033
Yes, Che is ok with OKD 3.11

I'd try just deploy some image like nginx, expose a service and curl its route from within the pod.

There's a networking issue that you need to solve.

[2018-11-26 07:02] ghost opened #12045 "Support for Swift Language via Sourcekit-LSP"
### Description
[SourceKit-LSP](https://github.com/apple/sourcekit-lsp)

Implementaton of Swift Support using Sourcekit-LSP

# SourceKit-LSP

SourceKit-LSP is an implementation of the [Language Server Protocol](https://microsoft.github.io/language-server-protocol/) (LSP) for Swift and C-based languages. It provides features like code-completion and jump-to-definition to editors that support LSP. S

[2018-11-26 07:29] skabashnyuk commented on #12033
@Caplost are you using minishift? OS of the host?

[2018-11-26 07:30] skabashnyuk commented on #12044
@ashumilova @evidolob can you take a look?

[2018-11-26 07:31] skabashnyuk commented on #12045
@tsmaeder @tolusha can you take a look?

[2018-11-26 07:32] skabashnyuk commented on #12042
@monaka is this ```wss://che-{censored}``` . url to agent or master?

[2018-11-26 07:33] skabashnyuk commented on #12038
@tsmaeder @tolusha can you take a look?

[2018-11-26 07:34] skabashnyuk commented on #12031
@vparfonov can you take a look?

[2018-11-26 07:34] eivantsov commented on #12033
@skabashnyuk it's a public instance with a real DNS http://keycloak-eclipse-che.openshift.qycloud.com.cn/auth/realms/che/.well-known/openid-configuration

@Caplost i highly recommend running the test I have suggested. Let's take Che out of equation for a moment. Just deploy nginx, expose service and try to curl its route from within the pod.

[2018-11-26 07:36] skabashnyuk commented on #12011
@tsmaeder can you take a look?

[2018-11-26 07:38] skabashnyuk commented on #11988
@tsmaeder can you take a look?

[2018-11-26 07:38] skabashnyuk commented on #11982
@vparfonov can you take a look

[2018-11-26 07:39] skabashnyuk commented on #11987
@tsmaeder wdyt?

[2018-11-26 07:39] skabashnyuk commented on #11986
@tsmaeder wdyt?

[2018-11-26 07:39] skabashnyuk commented on #11916
@tsmaeder can you take a look?

[2018-11-26 08:52] cq-z commented on #10231
@kostiamol I also encountered the same problem. Do you have a solution?

[2018-11-26 09:06] kostiamol commented on #10231
@cq-z Nope ;(

[2018-11-26 09:07] olexii4 opened #12047 "Fix 'add a new machine' flow for che7-workspace"
### Description

Fix 'add a new machine' flow for che7-workspace.

### Reproduction Steps

1. Create the workspace with che-kube:
[code]
2. Try to add a new machine.

**Expected behavior:**
Add a new machine into the workspace.

**Observed behavior:**
An error "Che plugin configuration can be applied to a workspace with one pod only"
![screenshot from 2018-11-23 00-55-28](https://user-images.githu

[2018-11-26 09:13] eivantsov commented on #10231
@kostiamol do you see ingresses created? Anything suspicious in k8s events?

[2018-11-26 10:49] tgrall opened #12048 "Rename "Bayesian Language Server " to something more user friendly"
### Description

The **Bayesian Language Server** does not describe what this plugin/installer is about. We must provide a better name and description that helps the user to know what this plugin does, and why he should use it. (not "how it is done")

Proposal:
* Dependency Analytics Server
* Dependency Analytics LSP Server

### Reproduction Steps
Not a bug, just renaming

[2018-11-26 10:55] cq-z commented on #10231
Default host or Multi host Neither！

[2018-11-26 10:56] eivantsov commented on #10231
@cq-z do you see created ingresses?

[2018-11-26 11:02] slemeur commented on #12048
Moved to https://github.com/redhat-developer/rh-che/issues/1098

[2018-11-26 11:04] cq-z commented on #10231
Have！
![image](https://user-images.githubusercontent.com/3038490/49010391-0da01a80-f1ae-11e8-90ac-ae16fb7ec7c8.png)

[2018-11-26 11:06] cq-z commented on #10231
[code]

[2018-11-26 11:08] eivantsov commented on #10231
@cq-z i cannot read Chinese but it looks like ingresses did not receive their endpoints.

[2018-11-26 11:09] SharkJ commented on #11916
Thanks @skabashnyuk ! To make it more clear, I'm asking about a client-side extension for Che in order to implement syntax highlighting to a DSL. [It is possible in VS-Code ](https://code.visualstudio.com/docs/extensionAPI/language-support#_syntax-highlighting). I was wondering whether a similar method could be applied to Che.

[2018-11-26 11:10] cq-z commented on #10231
[code]

[2018-11-26 11:12] cq-z commented on #10231
Ingressnf1ac8jz has been created but is invalid

[2018-11-26 12:15] tsmaeder commented on #12045
This sounds like an opportunity for a Che 7 plugin. I don't see Swift as a high-priority target.

[2018-11-26 12:19] ios3 commented on #12045
It would be better if we can develop Server-side Swift (Vaopor/Kitura) on Che 7

[2018-11-26 12:29] tsmaeder commented on #11988
Current builds (6.14.1) uses hover for this. If that does not work, please reopen.

[2018-11-26 12:29] #11988 closed

[2018-11-26 12:31] tsmaeder commented on #11986
Call hierarchy is implemented in Theia (Che 7). There are no plans to implement this in Che 6

[2018-11-26 12:31] #11986 closed

[2018-11-26 12:52] slemeur commented on #12045
Sounds good ! Would love that indeed. Thanks @ios3

[2018-11-26 14:33] tsmaeder commented on #12040
Actually, symmetry is given with the implementation in question, so I am wrong on that one :man_facepalming:
, but the case that remains is that folder.equals(package), which IMO only makes sense in very particular cases.

[2018-11-26 14:34] tsmaeder commented on #12040
@metlos you're right. It's still bogus, though.

[2018-11-27 03:49] Mbd06b commented on #8825
I've been puzzling this problem for about three weeks now.
Has anyone found a working Apache or Nginx config with cleqn ssl termination at the proxy?  Or got a https working on a multi user install some other way?

Sidenote, I've git one public IP address to work with, so proxy is required.

[2018-11-27 06:37] AndrienkoAleksandr commented on #11866
Blocked https://github.com/kubernetes/kubernetes/issues/71350#issuecomment-441804368

[2018-11-27 08:08] SharkJ commented on #12030
Can someone kindly help me with this error?

[2018-11-27 08:09] azatsarynnyy commented on #11953
Documentation how to add new plugin namespace https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/doc/how-to-add-new-plugin-namespace.md

[2018-11-27 08:09] azatsarynnyy commented on #11954
Documentation how to add new plugin namespace https://github.com/theia-ide/theia/blob/master/packages/plugin-ext/doc/how-to-add-new-plugin-namespace.md

[2018-11-27 08:13] cq-z commented on #10231
hello  @eivantsov  Is there any solution?

[2018-11-27 08:20] benoitf commented on #12030
@SharkJ I'm not able to reproduce the error
Could you try by removing existing docker layers ?
[code]

[2018-11-27 08:37] eivantsov opened #12052 "Make links to docs and support Configurable in Dashboard"
Currently, it is possible to override things like svg images, loaders, links to support, wish button, links to stacks and workspace docs.

However, some docs links are still hardcoded:

1. Links to Factory docs
2. Links to Stacks docs
3. Links to Organization docs
4. Docs button in footer

[2018-11-27 08:42] sleshchenko commented on #9546
Now `Workspace#Runtime#getCommands` returns commands list which contains: commands from workspace config, commands from plugins. Also, command in workspace config may be configured to be executed in plugin's container, the `plugin` attribute should be specified and the format of the value is `{pluginId}:{pluginVersion}`, like "che-machine-exec-plugin:0.0.1". The Che Server will resolve `machineNam

[2018-11-27 08:50] sleshchenko opened #12053 "IDE should respect commands from Runtime"
### Description
Che Plugins in Che 7 may provide commands which are not specified in `WorkspaceConfig` because of that `Workspace#Runtime` now returns a list of actual commands https://github.com/eclipse/che/issues/9546
One more reason why commands from Runtime should be used - a command may be configured to be executed in plugin's container while `machineName` is expected by `Exec sidecar`, so Ch

[2018-11-27 08:52] sleshchenko commented on #9546
A separate issue is created for IDEs adaptation https://github.com/eclipse/che/issues/12053

[2018-11-27 08:52] #9546 closed

[2018-11-27 09:02] sleshchenko opened #12054 "K8s/OS bootstrapper does not publish error if it occurs during commands executing"
### Description
K8s/OS bootstrapper does not publish error if it occurs during commands executing.

It is caused by https://github.com/fabric8io/kubernetes-client/issues/1173.

After merging https://github.com/fabric8io/kubernetes-client/pull/1268 and releasing a new version of fabric8-kubernetes client we should upgrade it to fix this issue.

### Reproduction Steps
1. Deploy Che.
2. Remove bootst

[2018-11-27 09:05] eivantsov commented on #12039
Can you share more logs?

[2018-11-27 09:17] SharkJ commented on #12030
@benoitf Thanks for the reply!
I'm still getting the same error. What could be the reason for this? It must be something wrong in my end, isn't it?

[2018-11-27 09:25] eivantsov opened #12055 "Make it possible to turn on verbose mode for fabric8 client"
When trying to debug a problem with workspace creation behind a proxy, it has become obvious that there are almost no chances to find out what is going on when fabric8 clients connects to k8s API.

For example, in my particular case, workspace start fails with `Caused by: java.net.SocketException: Socket closed` which means k8s API isn't available, perhaps due to proxy issues. However, this piece

[2018-11-27 10:41] SharkJ commented on #12030
@benoitf Can this error be related to Windows?

[2018-11-27 11:01] mmorhun commented on #11867
Also there is a problem with the plugin code. In some environments it fails with:
[code]

[2018-11-27 11:11] azatsarynnyy commented on #11488
Since the OpenShift Connector plugin depends on the K8s plugin we need https://github.com/theia-ide/theia/issues/3645

[2018-11-27 11:31] slemeur commented on #11972
Updating the repo with latest version would be indeed nice.
It is used for a lot of demos indeed.

On Friday, November 23, 2018, Florent BENOIT <notifications@github.com>
wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2018-11-27 11:38] azatsarynnyy commented on #10574
For context menus we need https://github.com/theia-ide/theia/issues/3646

[2018-11-27 11:49] mstavares commented on #12039
Hi @eivantsov,

Maybe the issue is related with my SVG file

[INFO]             Creating assignment for waterMarkLogo()
[INFO]                [ERROR] Invalid SVG input @jar:file:/home/mtavares/Projetos/PE/VF-OS/studio/ide/che-core-ide-ui/target/che-core-ide-ui-6.14.0-SNAPSHOT.jar!/org/eclipse/che/ide/ui/logo/water-mark-logo.svg L:21,C:23
[INFO] org.xml.sax.SAXParseException; systemId: jar:file:/ho

[2018-11-27 12:33] eivantsov commented on #12039
Yeah, GWT may have own rules regarding svg format.

[2018-11-27 13:07] ashumilova opened #12057 "IDE2-2018-12-25 (Sprint: 159)"
### Sprint Goals:
1. Extend Plugin API with Che API
2. Pull request plugin for Che's Theia
3. Finalize APIs: Languages
4. Testing framework for Plugin API
5. Che Theia in Che Theia

## 1. Extend Plugin API with Che API
- [ ] Add new "che" namespace to Plugin API to have dedicated APIs https://github.com/eclipse/che/issues/11306 (POC):
- [ ] for factories [TODO issue] 50sp

## 2. Pull request plugi

[2018-11-27 13:35] mkuznyetsov opened #12058 "Allow configuration of CORS credential settings for WS Master"
As an intermediate step to upgrading Tomcat 8.5.35, add ability to turn on/off CORS credentials support configuraion through environment variable

[2018-11-27 13:38] metlos opened #12059 "Deploy Prometheus in Che Helm Chart"
### Description

With #11384 we're exposing metrics of the Che server to Prometheus. Our k8s deployment should therefore include a Prometheus server to consume them.

[2018-11-27 14:15] ibuziuk opened #12061 "On the go workspace config: detect if a service that is listening to a port and propose to expose it"
### Description

- [ ] Detect process that is listening to some port
- [ ] Once process is detected and port is identified there should be an proposal from IDE to expose service + route for this process automatically.

[2018-11-27 14:15] ibuziuk commented on #12061
@slemeur @l0rd could you please provide more details

[2018-11-27 14:36] #12039 closed

[2018-11-27 15:38] skabashnyuk opened #12062 "Allow to configure metrics port in K8s chart or OpenShift template"
### Description
In this pr we introduced variable https://github.com/eclipse/che/pull/11990 ```che.metrics.port``` that allow overriding metrics HTTP port. It would be nice if we add this as a configuration parameter for K8s chart or OpenShift template.

[2018-11-27 20:39] garagatyi commented on #12061
I discussed this topic with Florent and did some investigations.
To get a list of listened ports we can call: `cat /proc/net/tcp | grep " 0A " | awk '{print $2}' | cut -d: -f2  | xargs -I %% printf "%d\n" 0x%%`. We can also do this with a simple binary to avoid depending on used linux commands.
While this works fine for a single container option it doesn't for a multi-container and multi-pod appro

[2018-11-28 02:18] SharkJ commented on #11916
Can anyone kindly help me with this problem?

[2018-11-28 05:43] Caplost commented on #12033
@eivantsov che-server cannot access any public url ,
but I change  the link [http://keycloak-eclipse-che.openshift.qycloud.com.cn/auth/realms/che/.well-known/openid-configuration](url)   to [http://keycloak-eclipse-che.keycloak:5050/auth/realms/che/.well-known/openid-configuration](url) which use service name  the Che-server successfully started!
 it  seems like a networking issue which che-serve

[2018-11-28 05:53] eivantsov commented on #12033
It's just a mere k8s deployment. You need to find out what the issue is.

By the way, having a url with a service name won't work, since this url should be accessible to clients, ie browsers that users will open to access Che.

[2018-11-28 05:54] Caplost commented on #12033
I recommend replacing  the auth link which CHE_KEYCLOAK_AUTH__SERVER__URL set， use serviceName by default ? Don't use the subdomain of the cluster.

I cannot find there any differ from other pod on network setting 。

[2018-11-28 05:58] Caplost commented on #12033
@eivantsov Thank you for your patience.

[2018-11-28 06:35] Caplost commented on #12033
@eivantsov Should it use the url with a service name just at che-server get auth from keycloak server ?
the keycloak pod works fine, browsers auth use public url of keycloak ruote ?

[2018-11-28 06:37] eivantsov commented on #12033
Yes, I was thinking about it too. But you have got connectivity issues in your cluster anyway, it does not solve the initial problem

[2018-11-28 07:07] skabashnyuk commented on #11916
@SharkJ are we talking about GWT based IDE or Theia?

[2018-11-28 07:10] Caplost commented on #12033
I don't know why it works for other pods which can curl public network , just che-server not :weary:

[2018-11-28 07:10] #12033 closed

[2018-11-28 07:53] garagatyi commented on #12055
I think that @skabashnyuk added a way to enable debug for any java package with an env var some time ago. Can we reuse that?

[2018-11-28 07:57] garagatyi commented on #9546
@sleshchenko thanks for the JSON!

[2018-11-28 07:58] sleshchenko commented on #12055
@garagatyi It doesn't work for okhttp client, I guess the cause may be that they use different logging backend, also I'm not sure that their debug logs contains enough detailed messages. As a possible solution - we can add interceptor and log everything needed.

[2018-11-28 07:58] garagatyi commented on #12052
@eivantsov do you mean rewriting by repacking sources or injecting that in some other way?

[2018-11-28 08:18] LahiruT94 commented on #11917
I corrected `/` that and ran it again with the above command. It gives this error `ERROR: (che start): Timeout waiting for server. Run "docker logs che" to inspect.`

This is the log
[log.txt](https://github.com/eclipse/che/files/2623517/log.txt)

[2018-11-28 08:19] SharkJ commented on #11916
@skabashnyuk the GWT based IDE.

[2018-11-28 08:35] eivantsov commented on #11917
@LahiruT94 I recommend to start Che with a clean local storage.

[2018-11-28 08:48] sleshchenko opened #12063 "Browser tab with opened WorkspaceLoader hangs when Che Server is unreachable"
### Description
Browser tab with opened WorkspaceLoader hangs when Che Server is unreachable.

To reproduce it do the following actions:
1. Start a workspace.
2. Scale Che Deployment down to 0 replicas while workspace is starting.
3. Check Browser Tab: requests number grows very fast because of tries to establish WebSocket connection.
![wsloader-websocket](https://user-images.githubusercontent.com

[2018-11-28 08:57] #11837 closed

[2018-11-28 08:58] #11249 closed

[2018-11-28 09:01] benoitf commented on #11948
fixed by https://github.com/eclipse/che/pull/12051

[2018-11-28 09:01] #11948 closed

[2018-11-28 09:49] garagatyi commented on #12063
I also suffered from that a lot!

[2018-11-28 09:56] sleshchenko commented on #11572
I'm working on updating installers scripts and usually, without installers logs, it is impossible to understand the cause of failure. I've added printing these logs and will create PR soon.

[2018-11-28 11:18] ibuziuk commented on #11690
@garagatyi could we close this issue now ?

[2018-11-28 11:19] maleck13 opened #12065 "Allow setting the CHE_KEYCLOAK_REALM and CHE_KEYCLOAK_CLIENT__ID in the openshift template"
### Description
When doing an install from the OpenShift template it would be useful to be able to override this env vars via parameters passed to the template.
I am happy to contribute this change if it is something you guys are happy with having in the template.

[2018-11-28 11:35] #11690 closed

[2018-11-28 12:21] felahgs opened #12066 "Eclipse che noVNC password"
I have created an android project in eclipse che but can't see the preview of the project. When I click in the link I am redirected to a page for the emulator but it asks for a password.

![image](https://user-images.githubusercontent.com/13948935/49151535-5c0d0080-f2f7-11e8-8ae4-929a64174cbd.png)

[2018-11-28 12:36] #10032 closed

[2018-11-28 12:41] vparfonov opened #12067 "IDE-2018-12-25 (Sprint: 159)"
### Issues

#### Theia goals
**Add Theia Plugin APIs to support VS Code Kubernetes Tooling #10574**
- [ ] [plug-in] Add API to apply workspace edit theia-ide/theia#2784
- [x] Add support for the context menus in the contributed views theia-ide/theia#3646
- [x] Add support for 'when' expressions theia-ide/theia#3658

**Rework Theia Task extension to Task plugin #11458**
- [x] [plug-in][tasks] Regis

[2018-11-28 12:42] #11993 closed

[2018-11-28 12:59] garagatyi opened #13712 "Operator deployment fails when namespace for che is present"
[code]

[2018-11-28 13:05] #11384 closed

[2018-11-28 15:15] #11572 closed

[2018-11-28 19:47] eivantsov commented on #12065
@maleck13 yes, good point. However, currently, realm and client are created from jsons that are ADDed to an image, and some replacements are done there.

Hopefully, we'll replace that with an Operator where provisioning happens as part of a k8s job and container's entrypoint grabs vars with params like realm, client id, user, password etc.

[2018-11-29 01:00] l0rd commented on #11967
I've been able to test again and it's fixed indeed. Thank you @sleshchenko!

[2018-11-29 01:00] #11967 closed

[2018-11-29 05:53] SharkJ commented on #12030
The error did not occur when I executed program in a Ubuntu Virtual Box. So I believe the error depends on the Windows OS. I think it would be great if the source can be improved so that it could run in Windows.
Closing the issue since it is resolved.

[2018-11-29 05:53] #12030 closed

[2018-11-29 06:00] gnoejuan commented on #11932
I'll update this comment around 8 a.m Central Time tomorrow morning with more information. My local time is currently midnight, but I'm at work.

I experienced an unreachable ws-agent as well. Che then prompted for a restart and proceeded as expected.

Ubuntu LTS
Pretty sure Che 6. Will update.

It's my own server at home, nothing special.

[2018-11-29 08:38] AndrienkoAleksandr opened #12069 "Theia loses settings after restart workspace."
### Description
Theia loses settings after restart workspace. For our image Theia stores settings in the folder /home/theia/.theia we have not volume to store this settings, so we lose data after restart workspace.

### Reproduction Steps
1. Create new Theia-dev workspace.
2. Launch workspace.
3. Change some Theia preferences: for example activate multi-root workspace support: File -> Settings ->

[2018-11-29 09:08] LahiruT94 commented on #11917
I did and it builds, then when i start the workspace it gives this error.

![insidelog](https://user-images.githubusercontent.com/34393074/49210853-27c33e00-f3e4-11e8-93cd-a325b0fc00b5.PNG)

Complete log
[log2.txt](https://github.com/eclipse/che/files/2628339/log2.txt)

Script file
[script.txt](https://github.com/eclipse/che/files/2628345/script.txt)

[2018-11-29 10:13] eivantsov commented on #11917
Just try to start a workspace without this installer, and then manually execute a script in the workspace. It looks like your script is broken

[2018-11-29 10:17] #10571 closed

[2018-11-29 10:17] #10870 closed

[2018-11-29 10:17] #11111 closed

[2018-11-29 10:17] #11438 closed

[2018-11-29 10:18] #11733 closed

[2018-11-29 10:26] tsmaeder opened #12071 "Languages Team L-Train Targets"
A place to keep track of issues describing L-Train related items

**Beta (Feb 5.)**

* LS and Debuggers as remote Theia plugins
Since all Theia plugins are remote plugins, this item comes down to making language servers and debug adapters run as Theia plugins. Packaging language servers and their native dependencies as a Che plugin is up to the individual plugin.
One of the issues here is that deb

[2018-11-29 11:20] azatsarynnyy commented on #10574
I've updated the description with a couple of tasks related to Menu API

[2018-11-29 13:23] mmorhun opened #12074 "Start Che Theia on another than 3000 port by default"
### Description
Currently we start Theia on 3000 port by default, but that port is often used by some applications. For example nodejs http server uses 3000 port by default.

The proposal is to start Theia on some less popular port.

[2018-11-29 13:40] benoitf commented on #12074
+1000

[2018-11-29 13:57] slemeur commented on #12074
Nice!

[2018-11-29 14:22] #11640 closed

[2018-11-29 14:38] eivantsov commented on #12066
@felahgs it should be `vncpassword`

[2018-11-29 14:50] mstavares opened #12075 "Debug GWT using Intellij"
Hi,

I would like to debug an IDE extension. In order to do that, I have researched and found this tutorial.
https://github.com/eclipse/che/wiki/Development-Workflow#debugging-che-ide-extensions

When I open Dev Mode On from my bookmarks in the workspace context such as http://172.17.0.1:8080/che/wksp-hokl

I have this error:

[code]

Could you help me please?

[2018-11-29 17:42] ibuziuk opened #12076 "Update support email from wish@codenvy.com to che-dev@eclipse.org"
### Description
Currently, support email still points to wish@codenvy.com [1]. Probably it would be better to update it and point to che-dev@eclipse.org

This email is currently used for `Make a wish` functionality.

![image](https://user-images.githubusercontent.com/1461122/49240838-7bdf1a00-f406-11e8-8e93-65267197b5eb.png)

[1] https://github.com/eclipse/che/blob/master/dashboard/src/assets/bran

[2018-11-29 17:43] ibuziuk commented on #12076
@slemeur @l0rd @dneary wdyt ?

[2018-11-30 02:32] SharkJ commented on #12011
Can someone please tell me how I can add a new DSL to Theia in Che? I would really appreciate it if I could get some help.

[2018-11-30 06:31] monaka opened #12077 "event-stream-3.3.6.tgz not found in Yarnpkg."
### Description

See `Diagnostics:` below for more details.
Possibly related on [the recent security incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident)

### Reproduction Steps

Build master branch.

**OS and version:**

Independent

**Diagnostics:**

[code]

[code]

[2018-11-30 07:26] mshaposhnik opened #12079 "Implement logical integrity validation on Devfile API"
Besides the syntax and completeness validation of incoming Devfiles (done by validation against the JSON scheme), we need also perform some logical integrity checks, to make sure that, for instance, but not limited to:
- All commands refers to the existing tools;
- Tools themself are correct (for example, there is not more than one editor etc)
- Project source is valid (e.g. not github type regers

[2018-11-30 07:31] mshaposhnik opened #12080 "Check devfile format matches Kubernetes naming format"
### Description
To add checks that values of incoming devfile are conform with K8S namings convention
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

[2018-11-30 08:29] sunix commented on #12074
ok but we are not supposed to run other apps in the theia container

[2018-11-30 08:33] benoitf commented on #12074
@sunix network is shared across containers
so if you spawn a nodejs app in for example `foo` container with port 3000 as well, it will collide with the process running inside `theia` container

[2018-11-30 09:33] tsmaeder commented on #12011
@skabashnyuk I don't know. @benoitf ? @evidolob ?

[2018-11-30 10:26] SharkJ opened #12083 ""Error: Failed to run the workspace" When opening Che workspaces in Ubuntu VirtualBox"
Hi,
I set up docker in an Ubuntu Virtual Box and tried to open a workspace in it. But I got the below output in the terminal: -

[code]

I'm working in an Ubuntu virtual box since it is hard for me to build che in Windows. Since I must turn off Hyper-V when using VirtualBox, I cannot run che in Windows since Docker is not working.

I would be grateful if you would help me overcome this error.

Tha

[2018-11-30 10:36] SharkJ commented on #12038
Can someone kindly explain this to me?

[2018-11-30 12:18] vkuznyetsov opened #12084 "QE-2018-12-25 (Sprint: 159)"
### Sprint goals

### Issues tied to objectives

### Unplanned
- [x] Fix build of selenium tests to be comply with new version of guava #12184 3sp
- [x] [Selenium] Change selenium tests from 'projectexplorer' package to wait that jdtls is fully initialized before working with project #12205 1sp
- [x] Delete the 'try-catch' expression from the 'refactor.parameters' tests #12209 1sp
- [x] Delete the

[2018-11-30 13:07] #10894 closed

[2018-11-30 13:12] garagatyi commented on #11814
After discussion inside of OSIO-Che team we decided to close this issue since brokering process should be redesigned as part of [this](https://github.com/eclipse/che/issues/11980) epic.

[2018-11-30 13:12] #11814 closed

[2018-11-30 13:34] rickyduck commented on #12077
I'm having the same issue as well

[2018-11-30 13:36] wassafr commented on #12077
Got it as well

[2018-11-30 13:46] iuliust commented on #12077
this is due to : [https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident)

to solve the issue, add the following to your package.json file :
[code]

[2018-11-30 13:50] benoitf commented on #12077
should be fixed in master now with PR of @monaka https://github.com/eclipse/che/pull/12078

[2018-11-30 13:50] #12077 closed

[2018-11-30 13:54] wassafr commented on #12077
Solved after deleting yarn.lock

[2018-11-30 14:40] SkorikSergey commented on #11779
Fixed by https://github.com/eclipse/che/pull/12086.

[2018-11-30 14:40] #11779 closed

[2018-11-30 16:54] benoitf commented on #12074
https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers

what are proposals so for the new 2 ports  number ?

[2018-11-30 17:45] j2Bud commented on #5702
I assume there is not movement or workaround for this yet?

[2018-12-01 13:32] skabashnyuk commented on #12083
@SharkJ currently Che7 features like "Che machine-exec Service", are not adapted to work on docker.
Can you try Che6 only workspace or try to run Che on k8s/OpenShift infrastructure.

[2018-12-01 13:36] skabashnyuk commented on #12018
@fErten
1. I would not recommend storing login credentials in the database - it's not safe.
2. If still want to do that I cant suggest several places: workspace attributes, user preferences or local filesystem.

[2018-12-01 13:37] skabashnyuk commented on #12075
@vparfonov can you take a look?

[2018-12-01 13:40] skabashnyuk commented on #6756
@tareqhs do you have any updates on this? Is it still on your roadmap?

[2018-12-01 13:41] #9587 closed

[2018-12-01 13:42] skabashnyuk commented on #9632
@kostiamol can we close this issue or redefine again its scope?

[2018-12-01 13:48] skabashnyuk commented on #9787
Closing. @mjshashank feel free to reopen this issue if you think it's still relevant.

[2018-12-01 13:48] #9787 closed

[2018-12-01 13:48] skabashnyuk commented on #9798
Closing. @prateekkohli2112 feel free to reopen this issue if you think it's still relevant.

[2018-12-01 13:48] #9798 closed

[2018-12-01 13:58] skabashnyuk commented on #9921
Closing. Feel free to reopen it if you think its still relevant for you.

[2018-12-01 13:58] #9921 closed

[2018-12-01 13:59] skabashnyuk commented on #9943
Closing. Feel free to reopen it if you think its still relevant for you.

[2018-12-01 13:59] #9943 closed

[2018-12-01 14:00] skabashnyuk commented on #10051
Closing. I don't think snaps are something that we are going to support in future.

[2018-12-01 14:00] #10051 closed

[2018-12-01 14:01] #10141 closed

[2018-12-01 14:06] skabashnyuk commented on #10185
sorry, guys, you are asking too broad questions. Each of them has a very specific cause and can't be fixed in general. Can you identify use cases and create individual issues.

[2018-12-01 14:06] #10185 closed

[2018-12-01 14:07] skabashnyuk commented on #10190
@qianlei90 is this issue still relevant for you?

[2018-12-01 14:07] #10190 closed

[2018-12-01 14:09] skabashnyuk commented on #10213
@kastork for my understanding. Che is not working on your mac or you just want to get rid of the warning?

[2018-12-01 14:18] skabashnyuk commented on #10641
closing. feel free to reopen this issue if you think it is still relevant for you

[2018-12-01 14:18] #10641 closed

[2018-12-01 14:18] skabashnyuk commented on #10660
closing. feel free to reopen this issue if you think it is still relevant for you

[2018-12-01 14:18] #10660 closed

[2018-12-01 14:19] skabashnyuk commented on #10682
Scope limited https://github.com/eclipse/che/issues/10710

[2018-12-01 14:19] #10682 closed

[2018-12-01 14:29] skabashnyuk commented on #11028
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:29] #11028 closed

[2018-12-01 14:30] skabashnyuk commented on #11040
Because we have no secure/user-friendly way to store user password.
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:30] #11040 closed

[2018-12-01 14:37] skabashnyuk commented on #11129
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:37] #11129 closed

[2018-12-01 14:38] skabashnyuk commented on #11154
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:38] #11154 closed

[2018-12-01 14:39] skabashnyuk commented on #11208
By this, you mean you have an error during execution or something else?

[2018-12-01 14:39] skabashnyuk commented on #11260
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:39] #11260 closed

[2018-12-01 14:42] skabashnyuk commented on #11269
Yes. you can use such ways.
- over user attributes. UserService
- User Preferences.
- workspace attributes
- workspace local filesystem.

[2018-12-01 14:43] skabashnyuk commented on #11614
@mstavares  can you share your code so we can try?

[2018-12-01 14:48] skabashnyuk commented on #11290
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:48] #11290 closed

[2018-12-01 14:49] skabashnyuk commented on #11308
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:49] #11308 closed

[2018-12-01 14:50] skabashnyuk commented on #11335
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:50] #11335 closed

[2018-12-01 14:51] skabashnyuk commented on #11338
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:51] #11338 closed

[2018-12-01 14:53] skabashnyuk commented on #11339
This is warning not errors. In case of error, your build will fail. I doubt that we are going to fix this issue in general.

[2018-12-01 14:53] #11339 closed

[2018-12-01 14:56] skabashnyuk commented on #11429
yes. Try to run with ```--fast```
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 14:56] #11429 closed

[2018-12-01 14:59] skabashnyuk commented on #11471
I think something wrong with your assembly of workspace master. Can you share your code? or can you compare a number of libraries in original and yours assembly-wsmaster-war.

[2018-12-01 15:01] skabashnyuk commented on #11544
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:01] #11544 closed

[2018-12-01 15:03] skabashnyuk commented on #11616
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:03] #11616 closed

[2018-12-01 15:06] skabashnyuk commented on #11635
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:06] #11635 closed

[2018-12-01 15:09] skabashnyuk commented on #10940
[code]
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:09] #10940 closed

[2018-12-01 15:12] skabashnyuk commented on #11692
@benoitf any comments about this issue?

[2018-12-01 15:13] skabashnyuk commented on #11699
@evidolob @ashumilova @benoitf can you help here?

[2018-12-01 15:20] skabashnyuk commented on #11760
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:20] #11760 closed

[2018-12-01 15:38] skabashnyuk commented on #11863
I guess this task is almost impossible with Che6-like workspaces. Looking forward for Che7-like workspace where all tools running in individual containers.
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:38] #11863 closed

[2018-12-01 15:40] skabashnyuk commented on #11876
@OonjuoO sorry. I'm lost where we are. Can you reformulate the issue that you have for now?

[2018-12-01 15:41] skabashnyuk commented on #11881
@AndrienkoAleksandr can you comment? @ashumilova @evidolob  wdyt?

[2018-12-01 15:42] skabashnyuk commented on #11893
@vitaliy-guliy @evidolob @ashumilova wdyt? Looks like this comes from workspace-loader app.

[2018-12-01 15:43] skabashnyuk commented on #11916
Same comment https://github.com/eclipse/che/issues/12011#issuecomment-443426129

[2018-12-01 15:46] skabashnyuk commented on #11932
@mjshashank @gnoejuan I can suggest to set up centralized logs collection for workspaces. In this way, we will have some data about what has happened.

[2018-12-01 15:48] skabashnyuk commented on #11963
Closing. Feel free to reopen this issue if you think it's still relevant for you.

[2018-12-01 15:48] #11963 closed

[2018-12-01 15:49] skabashnyuk commented on #11969
@vparfonov can you confirm windows issue?

[2018-12-01 15:50] skabashnyuk commented on #11976
@KitioFofack I need more information to reproduce. otherwise, I'm going to close this issues as incomplete.

[2018-12-01 17:41] AndrienkoAleksandr commented on #11881
@apupier Do you mean Ctrl +C does not work for Che 7 workspace with Theia?

[2018-12-01 21:34] kastork commented on #10213
Last time I checked (back in August) It works if you follow the workarounds in the gist.

 https://gist.github.com/kastork/3d060691e9661064e894c2aa1893e0f4

But those workarounds would not be necessary if Docker for Mac set (or allowed setting) a value for `NO_PROXY`.  Then, as @eivantsov said, Che would pick up the setting and be happy.

[2018-12-02 05:49] ecwpz91 commented on #11692
[code]

[2018-12-02 07:19] eivantsov commented on #9632
I doubt stacks and samples will have the same meaning in Che 7.

[2018-12-02 07:57] benoitf commented on #11692
@skabashnyuk yes it's being addressed as part of che-theia in che-theia workflow

[2018-12-02 10:56] sr229 commented on #8286
I think we can further extend this by adding User Roles within a workspace, which grants them specific actions in the workspace. This is proven effective with Cloud9's Live Collab

[2018-12-02 11:00] sr229 commented on #12059
I think we should observe if the namespace its deploying has Prometheus deployed already?

[2018-12-02 12:08] #11208 closed

[2018-12-02 12:09] #9632 closed

[2018-12-02 12:15] eivantsov commented on #11876
@OonjuoO if your Keycloak ingress uses self signed cert, you need to add it to Java trust store for workspace master. You can do that by creating a secret called `openshift-identity-provider`

[2018-12-02 18:10] skabashnyuk opened #12090 "Platform-2018-12-25 (Sprint: 159)"
### Features related to Devfile
- [x] Create a JSON-schema for the Devfile | https://github.com/eclipse/che/issues/11904 | 1
- [x] Check devfile format matches Kubernetes naming format | https://github.com/eclipse/che/issues/12080 | 5
- [x] Implement logical integrity validation on Devfile AP | https://github.com/eclipse/che/issues/12079 | 8

### Features related to  Monitoring
- [x] Create REST m

[2018-12-02 18:22] skabashnyuk opened #12091 "Create REST method to get all workspaces with filter"
### Description
For some  diagnostics and admins task, it would be nice to have a method to get all workspaces with filter
- Filter by workspace status.
- Filter for how long workspace is running.
- etc?

[2018-12-02 18:24] skabashnyuk opened #12092 "[Metric] Number of workspaces by state"
### Description
Add Prometheus metrics that will show us a number of workspaces grouped by their state.

[2018-12-02 18:26] skabashnyuk opened #12093 "[Metric] Number of users"
### Description
Add Prometheus metric that will show us a number of users registered in Che database

[2018-12-02 18:28] skabashnyuk opened #12094 "[Metric] JsonRPC message rate"
### Description
Add Prometheus metric that will show us a message/second rate send accepted/processed over JSON-RPC pipeline

[2018-12-02 18:39] skabashnyuk opened #12095 "[Plugin-registry] Convert icons to svg format"
### Description
To have better UX in plugin-registry viewer we need to have icons in meta.yaml in svg format.
- try to convert existed plugins/editors icons to svg.
- add validation that all next icons links would be in svg format.

[2018-12-02 18:42] skabashnyuk commented on #11242
@ibuziuk @aditya-konarde  FYI

- Create REST method to get all workspaces with filter | https://github.com/eclipse/che/issues/12091
- [Metric] Number of workspaces by state | https://github.com/eclipse/che/issues/12092
- [Metric] Number of users | https://github.com/eclipse/che/issues/12093

[2018-12-02 19:03] skabashnyuk opened #12096 "[Metric] Workspace related metrics"
### Description
Add Prometheus metric that will show us:
- total workspace number
- average number of workspaces per user
- number of workspaces create in the given period: last day, week, month

[2018-12-03 02:41] SharkJ commented on #12011
@skabashnyuk Thanks for the reply!
I have already followed the links you have provided and have understood the method of implementing a xtext DSL to Che. My question here is how I should implement the DSL to **### Theia** in ### **Eclipse Che**. i.e, the proper way to make changes to `che/dockerfiles/theia`. There is no clear guide on this currently.

The difference between #12038 and this issue i

[2018-12-03 03:37] SharkJ commented on #12083
I figured out this was due to a problem relate to user permission in the directory I used to store the che repo. When I moved it and the 'test' folder (for `:/data`) to `home` directory, it worked as expected. For anyone who encounters the same problem, I will include the command I used:
**`docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v ~/che/:/projects -v ~/test/:/data eclips

[2018-12-03 03:37] #12083 closed, assigned to nobody

[2018-12-03 06:57] vparfonov commented on #11969
@SharkJ
Looks like you missed imports
[code]

[2018-12-03 07:01] vparfonov commented on #11054
@clacetera Hi, can you look at `OrionHighlightingConfigurationOverlay`, maybe it help you

[2018-12-03 07:04] vparfonov commented on #10712
@781227k HI can you provide your source code, I will try help you

[2018-12-03 07:08] vparfonov commented on #9900
@agajdosi Is this still actual for you? Looks like we can't reproduce it, maybe you have some additional information

[2018-12-03 07:17] vparfonov commented on #12075
@mstavares Try to start GWT SDM with following command:
`mvn gwt:codeserver -pl :che-ide-gwt-app -am -Dmaven.main.skip -Dmaven.resources.skip
-Dche.dto.skip -Dskip-enforce -Dskip-validate-sources`
But before you need to fix this error from your trace:
` [ERROR] Line 54: No source code is available for type org.eclipse.che.ide.ext.vfos.client.VfosServiceClient; did you forget to inherit a required

[2018-12-03 07:36] AndrienkoAleksandr commented on #11881
@apupier For CHE 6 'Ctrl + C' should work. For Theia such ability was applied too, but since version 0.3.17.

[2018-12-03 07:36] svenefftinge commented on #12011
If the language support targets Theia, you need to provide a Textmate grammar to have syntax coloring.
@benoitf can probably guide you about how to add it through a Theia plug-in so it can be used within Che 7.

[2018-12-03 07:56] skabashnyuk commented on #11985
@didier1969 your issues is a bit different than this one (this issue is about an unexpected stop of workspace, you are about problem with start). Please create a new issue.

@nbon12 can we get more logs of the workspace master?

[2018-12-03 08:07] SharkJ commented on #12011
Thank You @svenefftinge ! @benoitf Could you please guide me how to do this?

[2018-12-03 08:15] mmorhun commented on #12074
What about 3100 and 3130 ?

[2018-12-03 08:33] eivantsov opened #12097 "Che on OpenShift/K8S: https proxy and no proxy issues"
### Description

When Che is deployed to OpenShift/K8S behind a proxy and https proxy settings are passed to workspace master as JAVA_OPTS, Che cannot connect to k8s api at https://kubernetes.default.svc:443.

The following error occurs when trying to start a workspace:

[code]

The error happens even though k8s api uri is added to non proxy hosts:

[code]

It does not look like no_proxy is respec

[2018-12-03 08:58] l0rd commented on #11300
@LahiruT94 have you been able to develop a plugin with `LanguageServerLauncherTemplate`?

[2018-12-03 09:16] vinokurig opened #12098 "Java language server doesn't update blank java project if another maven project is present"
### Description

Java language server doesn't update blank java project after restart workspace if another maven project is present

### Reproduction Steps

1. Start a workspace with java language server.
2. Create blank java project.
3. Create maven java project e.g. web-java-spring.
4. Stop and start the workspace.
5. Wait until the java language server has been started.
6. Expand `External libr

[2018-12-03 09:19] mstavares commented on #11269
@skabashnyuk ok, thanks you can close it.

[2018-12-03 09:19] #11269 closed

[2018-12-03 09:36] sunix commented on #12074
i suggest 74314
- 7 for t
- 4 for h (see the h upsidedown)
- 3 for E
- 1 for I
- 4 for A

[2018-12-03 09:45] sleshchenko commented on #12074
FYI Che uses the following ports for its services in workspaces:
- `4403` - Ws Agent
- `4411` - Terminal
- `4412` - Exec Agent

[2018-12-03 09:55] l0rd commented on #12038
@SharkJ you are raising few distincts problems here:

1. How can I extend Theia in Che?
2. How can I add syntax highlighting for a new language in a Che 6 (Orion GWT based) workspace?
3. How can I have more advanced language support in a Che 6 workspace? How complicated is that?

For 1. have a look at https://github.com/eclipse/che/wiki/Technical-FAQ#theia-ide--che-questions and https://github.com

[2018-12-03 10:04] mmorhun commented on #12074
@sunix the maximum port number is 65535, but note, that ports above 32768 (at least for linux) are ephemeral and it is not so good idea to use them.

[2018-12-03 10:11] mmorhun opened #12099 "Logged out while working in IDE"
### Description
After some time of active using of a workspace with Theia IDE current user is logged out from Keycloak, however the user is still able to work inside Theia. It is not comfortable to re-login when a user need to do something in the dashboard.

### Reproduction Steps
1. Create a workspace with Theia IDE and use it more then an hour
2. Try to use dashboard from IDE (for example stop t

[2018-12-03 10:37] SkorikSergey commented on #8931
This issue still reproduces in CHE 6.15.0 SNAPSHOT.

[2018-12-03 11:06] praneethgayam opened #12100 "'Organize Imports' shortcut corrupts the file contents"
### Description
Pressing the key ctrl+alt+o (short key for organize imports) multiple times corrupts the file and leaves the [editor](url) in unusable state.

### Reproduction Steps
1. Create java(maven) project
2. Open a java file and add an unused import (ex: import java.util.ArrayList)
3. Key in: ctrl+alt+o multiple times
    - The first key press actually removes the unused import BUT
    - Th

[2018-12-03 11:21] SharkJ commented on #11969
Thanks @vparfonov ! I added the imports and now I'm getting the error. @eivantsov, I'm building this now in an Ubuntu VirtualBox.

[2018-12-03 11:39] AndrienkoAleksandr opened #12102 "User dashboard add new machine on the separated pod. It's fail workpace start on the Minikube."
### Description
I wanted apply new machine to the Minikube workspace with help "Add machine" button on the user dashboard. On the Minikube workspace doesn't start with this new machine. Dashboard applies new machine on the separated pod, but server side doesn't support it on the Minikube yet.

[2018-12-03 12:22] agajdosi commented on #9900
@vparfonov No longer reproducible for me on Che 6.14.2.

[2018-12-03 12:22] #9900 closed

[2018-12-03 13:01] fErten commented on #12018
@skabashnyuk Thanks for the help, appreciate it!

[2018-12-03 13:01] #12018 closed

[2018-12-03 13:04] vitaliy-guliy opened #12103 "[Theia] Open in Terminal"
Properly handle `Open in Terminal` Theia command in Eclipse CHE.

The feature is already implemented in Theia.
https://github.com/theia-ide/theia/issues/3710

![open in terminal](https://user-images.githubusercontent.com/1655894/49375257-7cc8c200-f70c-11e8-9d39-7e2dc126a375.png)

[2018-12-03 13:10] #11926 closed

[2018-12-03 13:13] #11490 closed

[2018-12-03 13:14] mstavares commented on #12075
Hi @vparfonov

This error only occurs when I enable the Dev Mode.

https://ibb.co/1M0J6TK

I can start the GWT without issues with that command.
I don't know why I have that error, che compiles without issues, that error only occurs when I set the GWT Dev Mode ON.

[2018-12-03 13:14] #10823 closed

[2018-12-03 13:15] #10772 closed

[2018-12-03 13:16] #8880 closed

[2018-12-03 13:19] #10299 closed

[2018-12-03 13:34] AndrienkoAleksandr opened #13770 "[theia/terminal extension] Skip jwt-proxy container from container list"
jwt-proxy container should not be available in the list containers for terminal creation.

[2018-12-03 13:48] david-martin commented on #12024
@eivantsov I was about to create such an issue for a problem we'll have soon in integreatly clusters.
A strategy for a single claim per workspace would help solve mutli-AZ issues.
Currently with the 'unique' claim, the 2 claims (logs & projects) could end up in different AZ's, resulting in no satisfiable node for scheduling the workspace.
Sharing the same claim would avoid this issue.

+1 on this

[2018-12-03 13:51] eivantsov commented on #12024
@david-martin yes, that's a very good PR.

[2018-12-03 15:22] SkorikSergey commented on #11568
Fox example predefined ```buid``` command from **Java** stack - "```mvn clean install -f ${current.project.path}/pom.xml```".

[2018-12-03 15:33] felahgs commented on #12066
@eivantsov It worked!! Thank you very much

[2018-12-03 15:39] #12066 closed

[2018-12-03 15:47] todo[bot] opened #12105 "(vzhukovskyi): has to be removed when https://github.com/eclipse/che/issues/1190..."
https://github.com/eclipse/che/blob/caa19dab1100b62a5439fec3ec609b7cf0273ede/plugins/plugin-golang/che-plugin-golang-lang-ide/src/main/java/org/eclipse/che/plugin/golang/ide/GolangExtension.java#L39-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in caa19dab1100b62a5439fec3ec609b7cf0273ede when #12087 was merged. cc @eclipse.

[2018-12-03 15:47] todo[bot] opened #12106 "(vzhukovskyi): has to be removed when https://github.com/eclipse/che/issues/1190..."
https://github.com/eclipse/che/blob/f6f0d697554d0f2a1a170f7704ad65eeedbaf304/plugins/plugin-golang/che-plugin-golang-lang-ide/src/main/java/org/eclipse/che/plugin/golang/ide/GolangExtension.java#L39-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f6f0d697554d0f2a1a170f7704ad65eeedbaf304. It&#x27;s been assigned to @vzhukovskii because they

[2018-12-03 15:55] benoitf commented on #12026
I've updated the link of vscode extension to be `vscode:extension/ms-kubernetes-tools.vscode-kubernetes-tools` which is a link instead of `ext install ms-kubernetes-tools.vscode-kubernetes-tools` which was more an instruction

[2018-12-03 16:06] vzhukovskii commented on #12105
Duplicates: https://github.com/eclipse/che/issues/12106

[2018-12-03 16:06] #12105 closed

[2018-12-03 16:06] vzhukovskii commented on #11907
@dmytro-ndp https://github.com/eclipse/che/issues/12106

[2018-12-03 19:21] garagatyi commented on #12026
@benoitf Could you describe what has to allow Theia use VSCode extension?
- env vars
- ports
- what and where to copy/download
- what is the difference with the brokering of Theia remote plugins

[2018-12-03 19:22] garagatyi commented on #12026
I mean remote ones

[2018-12-04 03:49] monaka commented on #12063
Same here. And I'm trying to fix for a couple of weeks. There have some unhandled promises and unsuitable recovery code. I think it should be almost re-written.

[2018-12-04 07:54] SkorikSergey commented on #12000
There are some more problems after project renaming:
- project with old name still exists with ```bin``` folder in it(see screenshot);
- code validation feature doesn't work(see screencast) after renaming. It will start working after workspace restart.

**Screencast:**
![screencast-172 19 20 234-8080-2018 12 04-09-44-40](https://user-images.githubusercontent.com/7760565/49426824-5f4a3580-f7aa-11e8

[2018-12-04 08:40] mshaposhnik commented on #11904
Will be closed together with merge of https://github.com/eclipse/che/pull/11998

[2018-12-04 09:34] slemeur commented on #12076
Yes I think it's a good idea ! Will share the feedbacks to a broader audience!

[2018-12-04 10:11] ShubhasisMathur opened #12108 "Pushing Eclipse Che Workspace as docker image"
### Description

### Reproduction Steps
Unable to find the steps or from documentations if its possible to create a docker image out of workspace

[2018-12-04 10:15] benoitf commented on #12026
@garagatyi I would say it's the same than for Theia plug-ins
- same env vars (extracting plugin's name data from package.json) (same logic than theia)
- ports : same approach
- copy/download : .vsix file to be copied (instead of .theia)
- no difference

[2018-12-04 10:28] LahiruT94 opened #12109 "Creating a custom stack."
### Description
I wanted to add a custom stack to Eclipse che and i add the custom stack to the /ide/che-core-ide-stacks/src/main/resources/stacks.json. But when i build and run Che the stack is not visible.

### Reproduction Steps
Add the stack to the stacks.json
[code]
**OS and version:**
Windows 10

[2018-12-04 10:31] benoitf commented on #12026
@garagatyi I forgot one thing.
Like for theia files, broker needs to unpack the vsix file (else the mapping of files will be different between the main theia process and the remote processes)

[2018-12-04 10:52] SharkJ commented on #11916
@skabashnyuk Could you kindly tell me how I could use the code snippet given in #1392 to implement syntax highlighting in the che source code? I tried adding it to the che source and built it, but the keywords were not highlighted as expected. I have mentioned about everything that I've used in #11969 . Thank You!

[2018-12-04 10:55] eivantsov commented on #12108
@ShubhasisMathur you cannot do that in Che, however, you may use docker commit from command line on the host where you run Che.

[2018-12-04 10:57] eivantsov commented on #12109
@LahiruT94 what Che modules did you rebuild? And are you certain you run your custom binaries?

[2018-12-04 11:18] OonjuoO commented on #11876
@skabashnyuk  @eivantsov
Thank you for all your help. Eclipse Che is working fine now. This can be closed now.

Thanks

[2018-12-04 11:18] #11876 closed

[2018-12-04 13:54] #12058 closed

[2018-12-04 17:09] siddu244 commented on #12103
Hey, iam intrested to work on JAVA tasks or bugs in this IDE project, Can you please assign me appropriate ones if found.

[2018-12-04 20:15] aditya-konarde commented on #12092
What are the 'states' of the workspace here? Is this per-tenant or an aggregate number across all workspaces managed by the Che Server?

[2018-12-04 20:26] riuvshin opened #12114 "release che 6.15.0"
release che 6.15.0

[2018-12-04 21:58] bmicklea opened #12116 "Add image layer explorer to Che"
Because Che uses containers under everything it does it would be great to have a container layer explorer like [Dive](https://github.com/wagoodman/dive) to allow developers to explore the container. For bonus points we could embed it in the User Dashboard so that when you were creating new stacks you had the option of analyzing the image that you used as your FROM

[2018-12-05 00:17] eddzmaciel commented on #12077
if you want to keep the yarn.lock file, just change the name yarn.lockBKP and run yarn install again!

[2018-12-05 04:40] LahiruT94 commented on #12109
I rebuilt the following modules, [clean install]
 1. che-core-ide-stacks
 2. assembly-wsmaster-war
 3. assembly-main

Are there any other modules that should be rebuilt?

[2018-12-05 04:48] ShubhasisMathur commented on #12108
So you mean if I have Che on my Local desktop, I can commit the workspace in Docker Repo?
I am working on the Che cloud. BTW, Could you please help me understand the difference between Factory and saving a stack in Che.

Thanks in advance!

[2018-12-05 07:08] AndrienkoAleksandr commented on #12103
@siddu244 You can join to the mattermost channel https://mattermost.eclipse.org/eclipse/channels/eclipse-che and ask about tasks.

[2018-12-05 08:20] garagatyi opened #12117 "DB error when Che 7 plugins list in a workspace is too long"
### Description
When creating WS with attribute plugins with value `che-machine-exec-plugin:0.0.1,https://raw.githubusercontent.com/garagatyi/brokertest/master/plugins/theia-plugin-test:0.0.1,https://raw.githubusercontent.com/garagatyi/brokertest/master/plugins/theia-remote-plugin:0.0.1,https://raw.githubusercontent.com/garagatyi/brokertest/master/plugins/vscode-test:0.0.1` DB doesn’t allow it cau

[2018-12-05 08:21] garagatyi commented on #12117
@sleshchenko @skabashnyuk FYI

[2018-12-05 09:12] vzhukovskii opened #12118 "Add ability to provide own maven archetype in create project wizard"
### Description
Lately, the question about generating project from custom maven archetype becomes actual and there is a need for this functionality.

Related issue: https://github.com/eclipse/che/issues/6724

[2018-12-05 09:18] metlos commented on #12013
This has been merged already by #12049. IMHO we can close this issue.

[2018-12-05 09:19] LahiruT94 commented on #12109
It works. Thanks.

[2018-12-05 09:19] #12109 closed

[2018-12-05 09:22] metlos commented on #12059
@sr229 that is a nice suggestion, but IMHO our helm chart is meant for "illustration" purposes, it's not production ready. Therefore, I would not like to complicate the matters with such autodetection.

That said, if you happen to need it, please don't hesitate with a PR.

[2018-12-05 09:31] #12013 closed

[2018-12-05 09:33] mmorhun opened #12119 "Make easily available nightly Theia in Che"
### Description
We need to have the newest version of Theia in Che with newest fixes and features to test and use.
We may do it via plugin (just another Theia editor with nightly label).

[2018-12-05 09:37] benoitf commented on #12119
hello,

current editor is giving current nightly of che-theia image

you're talking about using `next` version of theia instead of being based on the latest tag ?

[2018-12-05 09:40] sunix commented on #12119
yes next version of theia

[2018-12-05 09:41] mmorhun commented on #12119
The main idea is to have tomorrow today's changes from master.

[2018-12-05 09:42] benoitf commented on #12119
@mmorhun master of which project ? `theia`or `che-theia`

[2018-12-05 10:24] SharkJ opened #12120 "Error in Building Che-Theia after adding an Extension"
Hi,
I tried extending che-theia by adding a new language extension to `src/extensions.json` and I got an error while building `che/dockerfiles/theia` using the command `sudo docker build -t eclipse/che-theia:0.3.16-nightly --build-arg THEIA_VERSIO=0.3.16 .` in Ubuntu 18.04.
I added the theia-xtext extension to extensions.json and it appears as below: -
[code]

When I run the above said command in

[2018-12-05 10:39] sunix opened #12121 "[che-theia plugin api] POC Jest Mocks for plugin api"
### Description
POC Jest Mocks for plugin api

[2018-12-05 10:40] SharkJ opened #12122 "Syntax Highlighting Support for Sidecars built for DSLs"
Hi,
I have built my own DSL using Xtext and can successfully implement it to che as a sidecar. However, since lsp4j does not support syntax highlighting, the result is incomplete. Could you kindly suggest a method to implement syntax highlighting to a sidecar without making changes to the source? Is such a method available?
Thanks in advance!

[2018-12-05 11:39] #11887 closed

[2018-12-05 11:44] gazarenkov commented on #12118
+1 for this improvement.
I'd say w/o ability to put archetype of your choice this feature is nearly useless.

[2018-12-05 12:17] tsmaeder commented on #12000
The left-over bin folder is very likely simply due to the fact that jdt.ls was building the project at the time of the rename. I see this as a mostly cosmetic problem
The fact that the new project is not picked up is a real problem. We'll have a look.

[2018-12-05 12:43] ashishmenghani opened #12123 "Unable to build che-ide-gwt-app"
### Description
I am unable to build che-ide-gwt-app locally. I am trying to test a small change in the webapp and am trying to create a new build of my changes. To achieve this I intend to do the 3 builds sequentially
1. che-core-ide-app
2. che-ide-gwt-app
3. assembly
I have been able to build 1 and 3 successfully but the build for che-ide-gwt-app fails
### Reproduction Steps
Reproduce this by ru

[2018-12-05 13:25] SkorikSergey opened #12124 "Adapt selenium tests from 'dashboard' package according to workspace creation changes"
### Description
We need adapt selenium tests from ```dashboard``` package according to workspace creation changes https://github.com/eclipse/che/pull/12107).

[2018-12-05 14:46] diogosaad commented on #9941
+1

[2018-12-05 15:00] diogosaad commented on #10961
It actually works but one can not add the volume manually to the dev-machine (this is done automatically).
For other machines one can:
[code]

[2018-12-05 15:03] garagatyi commented on #11424
On OSIO this leads to a situation when workspace shows only 1024MB of RAM on UD, but doesn't start because sidecars brought by plugins adds a lot of RAM on top of that.

[2018-12-05 17:36] l0rd opened #12125 "Theia Tasks Run fails on Che 7 Kubernetes workspaces"
### Description

On minikube, in a Che 7 workspace, `Task Run` fails. No error/success message is shown to the user. The following error log appears multiple times in the theia-ide container logs:

[code]

It works on minishift/ocp instead.

### Reproduction Steps

- Deploy Single user Che on local minikube as [described in the doc](https://www.eclipse.org/che/docs/che-6/kubernetes-single-user.htm

[2018-12-05 17:50] l0rd commented on #12011
@SharkJ that's all we have now http://bit.ly/che-eclipsecon

[2018-12-05 18:36] garagatyi commented on #12026
@benoitf is there a local case where we don't need to unpack the extension?

[2018-12-05 18:41] garagatyi commented on #12026
@l0rd should we use existing filed `url` for vscode extension or use `extension` inside of `attributes`?
VS Code extension example is: `vscode:extension/ms-kubernetes-tools.vscode-kubernetes-tools`

[2018-12-05 19:33] riuvshin commented on #12114
Done

[2018-12-05 19:33] #12114 closed

[2018-12-05 21:58] l0rd commented on #12026
I would rather use `extension` inside of `attributes`. And I am thinking that publishing/consuming plugins as container images rather than tar.gz hosted at some `url` may be a better idea too. It would make it easier to release new versions and trigger an update to the plugin-registry automatically.

[2018-12-06 02:13] SharkJ commented on #12011
Thank you very much @l0rd ! I will go through the document.

[2018-12-06 06:01] eivantsov commented on #12123
@ashishmenghani perhaps sharing some code will help

[2018-12-06 06:05] ashishmenghani commented on #12123
The only code change difference I have made is in the file /ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/command/toolbar/selector/PanelSelectorPresenter.java:
   @Override
   public void onSelectorLeftBottomClicked() {
-    showPanels(true, true, false);
+    showPanels(true, false, false);
   }

   @Override
   public void onSelectorFullEditorClicked() {
-    showPanels(false, false, fa

[2018-12-06 06:06] ashishmenghani commented on #12123
My apologies for the bullets in the code above. The first one is line removed and the second one is line added

[2018-12-06 07:17] skabashnyuk commented on #12123
@ashishmenghani can you push this code to github?

[2018-12-06 08:06] ashishmenghani commented on #12123
I pushed it to https://github.com/ashishmenghani/che_temp_repo.git. My changes are on branch DisableResize which is essentially the edit shown above in PanelSelectorPresentor.java

[2018-12-06 08:07] garagatyi commented on #12026
In the case of VS Code extension, we were thinking that users might want to point to an existing extension in the marketplace without owning it and having the right to redistribute it.
Am I missing something?

[2018-12-06 08:25] skabashnyuk opened #12127 "Upgrade to latest Tomcat 8"
### Description
Upgrade Apache Tomcat to the latest 8.5.35 with latest security fixes.

Since it requires changes in our CORS, we would like to change our defaults.
On che-master, auth will be disabled for cors, on ws-agent allowed origin will be set to che master host.

See more
- https://tomcat.apache.org/tomcat-8.5-doc/config/filter.html#CORS_Filter
- https://bz.apache.org/bugzilla/show_bug.cgi

[2018-12-06 08:55] dmytro-ndp opened #12128 "Get rid of OSIO related code in E2E selenium tests"
### Description
We have OSIO-related legacy code in E2E selenium tests, like the follow [OsioKeycloakTestAuthServiceClient](https://github.com/eclipse/che/blob/6.15.0/selenium/che-selenium-test/src/main/java/org/eclipse/che/selenium/core/client/keycloak/OsioKeycloakTestAuthServiceClient.java).

We need to move it to downstream project.

[2018-12-06 09:00] dmytro-ndp opened #12129 "Add an ability to exclude flaky selenium tests from execution"
### Description
We have E2E selenium tests which fail semi-randomly on our [CI](https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/).

We need to have an ability to exclude such flaky tests from test execution to simplify analysis of E2E regression tests results.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-12-06 09:25] ShubhasisMathur opened #12130 "Container not starting after doing changes in the workspace"
### Description
I have created a workspace  on openshift. The workspace is using the sample projects available there. But after the changes, the workspace never comes up... but keep displaying message "Starting" . I have tried adding the volume, Plugins, environment variables, and projects seperately but each time it is not coming up after the change. Please suggest.
-->

### Reproduction Steps
Cr

[2018-12-06 09:37] AndrienkoAleksandr commented on #12125
It would be nice to write ete tests for tasks extension to track that this extension(plugin in the future) was not broken after update Theia version in the image. @benoitf What do You think?

[2018-12-06 10:16] mmorhun opened #12131 "Che Theia loses configuration after workspace stop"
### Description
Che Theia doesn't persists config between workspace restarts.
It loses:
 - changes in Theia preferences. (`File` -> `Settings` -> `Open Preferences`)
 - state of Theia UI: panels layout, sizes, etc.

### Reproduction Steps
1. Start a workspace with Che Theia as an IDE.
2. Move, for example, `Files` panel from left to right, disable autosave from `File` -> `Auto Save`.
3. Restart wo

[2018-12-06 10:23] ashishmenghani commented on #12123
Update: I just reproduced this exactly on an Amazon hosted Ubuntu 18 machine.

[2018-12-06 10:23] benoitf commented on #12131
@mmorhun https://github.com/eclipse/che/issues/12069 ?

[2018-12-06 10:44] #12124 closed

[2018-12-06 10:53] evidolob opened #12132 "Create DTO generator for TypeScript"
### Description
During work on https://github.com/eclipse/che/issues/11306 we discovered that we need to have some Che DTO object description. Currently we have some TypeScript file generated by https://github.com/eclipse/che/blob/master/dockerfiles/lib/build.sh#L35 , but it's not wryly fit our needs. For TypeScript it's mach better to have:
[code]
instead of:
[code]

[2018-12-06 11:55] l0rd commented on #12026
Yes I am not talking about VS Code extensions. Developers of VS Code Extensions already have a great platform to publish their plugins.

No I was thinking about how developers of theia (`.theia` file) and che plugins (`tar.gz` with a `che-plugin.yaml`) publish and distribute their plugins. Using GitHub releases works but it's not straightforward, you cannot setup triggers associated with it and no

[2018-12-06 11:56] afonsolage opened #12134 "Unable to create a Server with UDP protocol"
### Description
Adding a server with UDP port exposes a TCP port on docker.

### Reproduction Steps
Add a server on workspace with UDP protocol and check what ports were exposed on docker.

**OS and version:**
Ubuntu 18.04
Che 6.14.2

**Diagnostics:**
![image](https://user-images.githubusercontent.com/1176452/49582671-8896cd00-f934-11e8-86a0-ffb5b17bf157.png)

![image](https://user-images.githubus

[2018-12-06 11:59] l0rd commented on #12125
@AndrienkoAleksandr yes adding a test would be important cc @rhopp @vkuznyetsov @dmytro-ndp

[2018-12-06 12:20] skabashnyuk commented on #12123
1. Can you describe the change and the goal you want to do?
2. If you would like to contribute to Che can you rebase the code to the head of master?

[2018-12-06 12:20] garagatyi commented on #12134
UDP support is not implemented yet, unfortunately.

[2018-12-06 12:21] garagatyi commented on #12026
You are talking about delivery containers, not runtime, right?

[2018-12-06 12:30] benoitf commented on #12026
@l0rd for just plain javascript plug-in (majority of plug-ins) I think they should just go to a marketplace, not be packaged inside containers

[2018-12-06 13:00] tsmaeder opened #12135 "Languages Sprint 159 (L-1)"
Previous Sprint: https://github.com/eclipse/che/issues/11903

[2018-12-06 13:08] skabashnyuk commented on #12117
You reached the limit
[code]
Extending it quite a trivial task.

[2018-12-06 13:26] ashumilova opened #12136 "Workspace configuration should be saved automatically (remove SAVE button)"
To improve the UX of editing the workspace configuration - there is a proposal to enable autosave and remove Save button.

[2018-12-06 14:33] #11904 closed

[2018-12-06 14:33] #11832 closed

[2018-12-06 14:38] metlos opened #12137 "Document prometheus and grafana in release notes and documentation"
### Description

In addition to release notes mentioning that we've added prometheus and grafana to our helm chart, we should also document the fact that it is now required to do `helm dependency update` before the chart can be installed.

The good places for that should be equivalents of:
https://www.eclipse.org/che/docs/che-6/kubernetes-multi-user.html
https://www.eclipse.org/che/docs/che-6/kube

[2018-12-06 17:59] garagatyi commented on #12134
I don't think so

[2018-12-06 19:38] garagatyi opened #12140 "Reconfigure CI jobs to release plugin brokers"
### Description
We have a job that releases https://github.com/eclipse/che-plugin-broker.
I a recent PR I changed the code structure, so CI job is outdated now.
To build the same image that we were building previously in this job:
[code]
We also need to build Theia broker from the same repo using:
[code]
Note that tags are different because these are different implementations of che plugin broker.

[2018-12-06 19:39] garagatyi commented on #12140
@riuvshin @eivantsov Please, address this issue.

[2018-12-06 19:42] garagatyi commented on #12117
Yes, I see that the DB scheme doesn't allow big strings.  If this is simple fix may we hope that your team could fix it soon?

[2018-12-06 20:51] TheSpaceNomad commented on #2481
Using an iPad Pro (2016 9.7”, iOS 12.1, w/ apple smart keyboard) :
I managed to open a file by using “navigate to”. It wasn’t easy anyway, and had a lot of hit-and-misses.
Another problem is that the “spacebar” doesn’t register as the character “space”. You need to us “SHIFT + SPACEBAR” in order to get the “space” char.
Same happens with other shortcuts as well.

[2018-12-07 07:08] skabashnyuk commented on #12123
- In a long-term, have you considered to do that for Theia based Che aka Che7?
- Can you rebase your branch on latest master?

[2018-12-07 08:08] ashishmenghani commented on #12123
1) I would love to look into it. Will we have support for the same factory that we have now?

2) I merged my branch into the master at https://github.com/ashishmenghani/che_temp_repo.git

[2018-12-07 08:10] skabashnyuk commented on #12123
What do you mean by this?

Will take a look.

[2018-12-07 08:13] skabashnyuk commented on #12130
this is a very broad description. can you describe exactly what you did?
Like ```rm -r rf /``` ?

[2018-12-07 08:14] ashishmenghani commented on #12123
What do you mean by this?

I use the eclipse che factories - https://www.eclipse.org/che/docs/che-6/factories-getting-started.html -, to share workspace configurations with other users.

[2018-12-07 08:43] tsmaeder opened #12142 "Run Yaml VSCode plugin as Che7 plugin"
Package vscode-yaml extension as a Che 7 plugin and publish it to the plugin registry.

Write down the necessary steps as part of Che 7 documentation. I believe @l0rd would know where to put the doc.
Once we have the last vscode languages API's implemented, running vscode-yaml in Theia "should just work" :-)

[2018-12-07 08:44] skabashnyuk commented on #12123
@ashishmenghani Yes factory is working in Theia based IDE as well. @sunix is our expert in this area.

[2018-12-07 08:47] tsmaeder commented on #12142
Infos from @NikolasKomonen:

Steps for Theia/lsp4xml:
[code]

If it doesn't work:
[code]
and Command Palette is the F1 key

[2018-12-07 09:02] skabashnyuk commented on #12117
BTW you have big key or big value?

[2018-12-07 09:04] ibuziuk commented on #12117
I believe it would be a great issue to take for `osio` team to better understand internals of plugin brokers

[2018-12-07 09:19] skabashnyuk commented on #12117
Bug confirmed on che.openshift.io.
However field ```attributes```
https://github.com/eclipse/che/blob/master/wsmaster/che-core-sql-schema/src/main/resources/che-schema/6.0.0/11__increase_workspace_attributes_values_length.sql#L12

[2018-12-07 09:32] mshaposhnik commented on #12117
That is for `workspace_attributes`. Need to do same for `che_workspace_cfg_attributes`

[2018-12-07 09:47] mmorhun commented on #12131
Closing as duplicate of https://github.com/eclipse/che/issues/12069

[2018-12-07 09:47] #12131 closed

[2018-12-07 09:50] mmorhun commented on #12069
Also it loses state of UI: panels layout, sizes, etc.

[2018-12-07 10:12] mshaposhnik commented on #12117
FYI https://github.com/eclipse/che/pull/12143 on ci-test

[2018-12-07 12:42] riuvshin commented on #12140
done
https://hub.docker.com/r/eclipse/che-theia-plugin-broker/tags/
https://hub.docker.com/r/eclipse/che-plugin-broker/tags/

please note that CI pushes only tags based on commit ID

[2018-12-07 12:42] #12140 closed

[2018-12-07 13:17] tsmaeder commented on #12100
Looks like the buffer contents are out of sync between back end and front end.

[2018-12-07 13:21] mshaposhnik commented on #12095
Ok if we can use this Che logo
 then we have only 1 problem with Theia svg logo. The rest are found:

Che https://www.eclipse.org/che/images/logo-eclipseche.svg
Ditigible https://www.dirigible.io/img/dirigible.svg
Eclipse https://cdn.freebiesupply.com/logos/large/2x/eclipse-11-logo-svg-vector.svg or https://www.advancedinstaller.com/svg/features/iconImportEclipse.svg
Jupyter https://jupyter.org/as

[2018-12-07 13:32] tsmaeder opened #12145 "Golang Plugin"
We'd like to have Golang support in Che 7. There is a Golang plugin for VSCode. We should investigate whether we can run the Golang plugin in Theia as it exists now.
As we currently don't have a plugin broker for vscode plugins (@garagatyi is currently working on it), we should start by evaluating the vscode golang plugin.
1. Test language server functions
2. Test debugger functionality
3. Evaluat

[2018-12-07 13:42] tsmaeder opened #12146 "Yaml xml plugin"
We'd like to have Yaml support in Che 7. There is a Yaml plugin for VSCode. We should investigate whether we can run the Yaml plugin in Theia as it exists now.
As we currently don't have a plugin broker for vscode plugins (@garagatyi is currently working on it), we should start by evaluating the vscode yaml plugin.

    Test language server functions

If at this point, we have a working plugin bro

[2018-12-07 13:42] #12146 closed

[2018-12-07 13:46] levjason opened #12147 "Stack creation fails when docker image has a port number"
### Description
Trying to create a stack from a docker image. If the image name contains a port the dashboard reports an error.
### Reproduction Steps
1. Select add stack.
2. In the dockerimage tab enter something like daerepository03.eur.ad:4443/design/test:101
3. Notice the error
4. Remove the port number and the error is gone.
**OS and version:**
CentOS 7, Che 6.14
**Diagnostics:**
In the conso

[2018-12-07 13:59] mshaposhnik commented on #12117
Merged

[2018-12-07 13:59] #12117 closed

[2018-12-07 14:17] NikolasKomonen commented on #12142
Would like to add on, that each VSCode extension has a 'Unique Identifier' which can be found on the marketplace eg: the XML Language server is "vscode:extension/redhat.vscode-xml" and can be found [here](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml) under 'Unique Identifier'

And for YAML it is: "redhat.vscode-yaml"

This identifier is the thing you paste into the 'deploy

[2018-12-07 14:37] #12125 closed

[2018-12-07 14:40] benoitf commented on #12125
Hello @AndrienkoAleksandr , yes tests are important, but I think i'm the only one to add/write tests for now :-)

[2018-12-08 12:12] JavaJoeS opened #12150 "Dashboard Web app fails to build"
### Description

...snip
The ' characters around the executable and arguments are
not part of the command.
     [exec] yarn install v1.12.3
     [exec] [1/5] Validating package.json...
     [exec] [2/5] Resolving packages...
     [exec] [3/5] Fetching packages...
     [exec] error https://registry.yarnpkg.com/event-stream/-/event-stream-3.3.6.tgz: Extracting tar content of undefined failed, the fi

[2018-12-08 19:07] skabashnyuk commented on #12150
Can't reproduce
[code]

[2018-12-08 23:22] saleemepoch opened #12151 "Unable to start workspace on codenvy"
### Description

I have no objects in my account. It's completely empty. I am trying to create a workspace and it keeps giving me the following error:

Unable to start workspace: [object Object]
 --- ERROR
Workspace

I am using chromebook/chrome browser.

[2018-12-09 10:14] JavaJoeS commented on #12150
Could it be the wrong NodeJS version?
 node -v
v4.9.1

[2018-12-09 13:33] skabashnyuk commented on #12151
Are you talking about codenvy.com? Is there anything I can help you to move to che.openshift.io?

[2018-12-09 14:01] JavaJoeS commented on #12150
Do I need Node 6 or better?

 layout: default
snapshots: [enabled => true, update => always]
 releases: [enabled => true, update => always]
Setting project property: settings.localRepository -> /home/joe/.m2/repository
Setting project property: org.eclipse.che.core:che-core-commons-j2ee:jar -> /home/joe/Software/che/core/commons/che-core-commons-j2ee/target/che-core-commons-j2ee-6.15.0.jar
Setting

[2018-12-09 14:32] skabashnyuk commented on #12150
@JavaJoeS Dashboard uses node:8.10.0 docker image for a build. I'm suggesting to do the same locally.

[2018-12-10 06:36] sr229 commented on #12151
Heya @saleemepoch, Codenvy is no longer maintained as of 2018, please move to [Che OpenShift.io](https://che.openshift.io).

[2018-12-10 08:14] skabashnyuk commented on #12055
Verbose mode can be enabled with environment variable ```CHE_LOGGER_CONFIG``` with value ```okhttp3.logging=TRACE``
Example :
[code]

[2018-12-10 08:16] #12055 closed

[2018-12-10 08:21] sleshchenko commented on #12136
My strong +1 to do it. Because now save button leads to issues with missing unsaved workspace configuration. It caused by two reasons:
1. Dashboard needs like 1-2 seconds to detect workspace config changes before he shows `Save button`. So, need to make sure that the new approach won't work in the same way.
2. Dashboard doesn't show alert window when there are any unsaved changes.

[2018-12-10 09:26] LahiruT94 opened #12153 "Integrating the che-sample with the che-master"
### Description
I have created a custom plugin wizard using the given sample and I want to add it to the che-master. This is because I have created a custom stack and i want to integrate it to the che-core-ide-stacks and run with the sample che-plugin-wizard.

Is there a way that i can achieve this?

**OS and version:**    Windows 10

[2018-12-10 09:49] skabashnyuk commented on #12153
So you want to enable custom plugin or custom stack. Or both?

[2018-12-10 10:32] LahiruT94 commented on #12153
I want to enable both.

[2018-12-10 12:04] sr229 commented on #12134
I think this merits a closure until someone can come up with a Pull Request for UDP support.

[2018-12-10 12:09] sr229 commented on #12044
Seems CentOS version had no Yarn installed, do I also add Yarn on the CentOS version?

[2018-12-10 12:50] #12095 closed

[2018-12-10 13:04] vzhukovskii commented on #10700
Issue can't be reproduced

[2018-12-10 13:04] #10700 closed

[2018-12-10 13:08] dmytro-ndp opened #12155 "Publish Che Server logs if Eclipse Che deployment is failed on PR QA job"
### Description
There is https://ci.codenvycorp.com/job/che-pullrequests-test-ocp job which serves _Eclipse Che E2E tests_ against changes in pull requests on CI.

The build stores Che server logs in archive linked to E2E tests report. It doesn't work if E2E tests hasn't run:
[code]

So, we need to find another way to publish Eclipse Che server logs in addition to storing them into the E2E test re

[2018-12-10 13:31] #12076 closed

[2018-12-10 13:41] sr229 commented on #12151
@skabashnyuk I think ths is a Issue closed now, feel free to close it.

[2018-12-10 13:41] #12151 closed

[2018-12-10 14:14] mkuznyetsov commented on #12153
@LahiruT94 if you want to add custom stacks to your assembly, you will need to create two modules:
- a module for your stacks, with identical to structure of `che-core-ide-stacks` (https://github.com/eclipse/che/tree/master/ide/che-core-ide-stacks), where you will place your stacks in a similar fashion.
- a module of repackaging of WS-Master (similarly to how repackaging of WS-Agent happens in Wiz

[2018-12-10 17:35] garagatyi opened #12159 "Make pushing settings in che-plugin-broker safer"
### Description
Ask Eclipse webmaster to forbid direct pushes to master branch and force pushing to it.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-12-11 00:30] garagatyi opened #12160 "Add selenium tests to check that Theia remote/local plugins works"
### Description
We have Theia remote plugins that are provisioned by a plugin broker. The same broker provisions local Theia plugins added to a workspace.
We need to test both types of plugins.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-12-11 00:30] garagatyi commented on #12160
@rhopp @l0rd FYI

[2018-12-11 00:32] garagatyi opened #12161 "Add functional test to check that vscode remote extension works"
### Description
PR https://github.com/eclipse/che/pull/12149 brings the support of remote vs code extensions to Che Theia. When it is merged we will need to set up tests for this functionality.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-12-11 00:32] garagatyi commented on #12161
@rhopp @l0rd FYI

[2018-12-11 00:46] garagatyi opened #12162 "Move remote theia dockerfile from wsskeleton to che org"
### Description
We have a repo that contains code to build Theia slave that runs remote plugins. It also contains Dockerfile for creating an image that can be inherited to build plugins images.
It is hosted in ws-skeleton org https://github.com/ws-skeleton/che-theia-remote-extension
We need to move it to che-theia repo or incubator. I think it should be part of che-theia.

### Reproduction Steps

[2018-12-11 00:47] garagatyi commented on #12162
@benoitf FYI

[2018-12-11 05:04] LahiruT94 commented on #12153
@mkuznyetsov what do you mean by repackaging? Is it the creation of the module (ws-master) in the same way as in the master? If it is different can you please explain how to do it too. Will be a great help.

[2018-12-11 07:05] benoitf commented on #12162
it's already part of moving stuff to che-theia repository. It was the goal of creating che-theia repo.

[2018-12-11 07:05] #12162 closed

[2018-12-11 08:44] sr229 commented on #7087
Do we need to listen for `/healthz` like K8s, or theyhave a different liveness probe API?

[2018-12-11 09:10] tsmaeder opened #12164 "Remove che-plugin-maven-server"
According to @skabashnyuk che-plugin-maven-server is still hooked into wsmaster. However, this code is thought to be unused, so we should remove it, since it consumes resources at runtime.

[2018-12-11 10:19] skabashnyuk opened #12165 "Implement suggestions made in PR Support PerWorkspacePVCStrategy"
### Description
The goal if this issue is to implement suggestions made in https://github.com/eclipse/che/pull/12032 and merge it in master

[2018-12-11 11:05] slemeur commented on #11775
@evidolob + @tsmaeder : Could you check the status of this issue regarding the progress on https://github.com/theia-ide/theia/issues/2341  ?

[2018-12-11 11:30] SkorikSergey opened #12167 "[Dashboard] A machine image path disappears if it has two characters ":""
**Reproduction Steps:**
1. Create any workspace through **Dashboard** and open its workspace details page.
2. Open **Machines** tab.
3. Change image path to path with two ':' symbols in it(for example ```myregistryhost:5000/che-server:nightly```).
4. Click on the **Save** button.

**Expected result:**
The ```dev-machine``` image path changed and exists in workspace config.

**Actual result:**
The

[2018-12-11 12:08] mkuznyetsov commented on #12153
like the same way in Wizard sample, there is a packaging of WS Agent: https://github.com/che-samples/che-plugin-wizard/blob/master/assembly/assembly-wsagent-war/pom.xml
So in it, as dependency there is an original `assembly-wsagent-war` from Che, as well as wizard plugin. And this is what I call by _repackaging_ of WS Agent, which is later used in your `assembly-wsagent-server` instead of original

[2018-12-11 13:18] garagatyi opened #12168 "Add support of upgrade policies for Che 7 plugins.editors in workspace"
### Description
Now we update the same version of Che plugins/editors when we want to do a change.
This is not the best approach and we were planning to cache brokering results which would require forbidding updates of existing versions of a plugin/editor.
Instead of that, we could implement versions modifiers with semiver like we do in Theia project since it JS world.
Example of workspace config:

[2018-12-11 13:19] garagatyi commented on #12168
@l0rd @benoitf @slemeur @skabashnyuk WDYT?

[2018-12-11 13:32] #11852 closed

[2018-12-11 13:57] #10910 closed

[2018-12-11 14:04] garagatyi commented on #12162
yes

[2018-12-11 14:05] garagatyi commented on #12168
As far as I understand usually version has its own field and it looks prettier

[2018-12-11 15:48] slemeur opened #12170 "Che 7 Beta"
## Che 7 Beta Details
**Goal:** The implementation of the new capabilities for Che 7 has been targeting the self-hosting mode from its start. The goal of the Che 7 Beta, is to finalize the new Che version with the ability for everyone to use Eclipse Che to extend/customize it. That version will also include the first part of a new CLI which simplify the installation and management of Che.

**User

[2018-12-11 18:14] slemeur commented on #12168
Nice proposal.

This sounds nice to me: https://michaelsoolee.com/npm-package-tilde-caret/

[2018-12-11 18:56] slemeur commented on #12168
It would be important for Beta but critical for GA. That seems also related to the work on the devfile.

[2018-12-12 06:35] garagatyi commented on #12170
@slemeur what if we also create Che GA epic and put there everything we want for the GA to keep track of the stuff?

[2018-12-12 06:59] skabashnyuk opened #12172 "Package GWT IDE as Che Editor"
### Description
We need to package an release GWT IDE as a sidecar and contribute it as a CheEditor in https://github.com/eclipse/che-plugin-registry

[2018-12-12 07:01] garagatyi commented on #12172
We already have a POC for that. Is it supposed to be moved to another repo with adopting the CI settings for the releases?

[2018-12-12 07:03] skabashnyuk commented on #12172
It's suppose to moved to eclipse/che repo

[2018-12-12 07:14] garagatyi commented on #12172
Didn't get what is supposed to be moved. Can you elaborate?

[2018-12-12 07:15] skabashnyuk commented on #12172
Docker files from https://github.com/skabashnyuk/che-editor-gwt-ide  will go to eclipse/che
Mata.yaml to https://github.com/eclipse/che-plugin-registry

[2018-12-12 07:35] #11902 closed

[2018-12-12 07:39] ktdjun commented on #11884
I upgraded Che to 6.14.1.
I checked #11090  and tried setting che.keycloak.use_fixed_redirect_urls, but I need to prepare my own OIDC Provider.

If possible I am looking for ways to make use of the keycloak configuration standardized by Eclipse Che as it is.
However, the following problems can not be solved.

*  Every time the workspace is restarted, I need to add the setting to Keycloak's Web Ori

[2018-12-12 09:04] skabashnyuk commented on #11884
@ktdjun can you clearly define what issue do you have?

I'm not sure I follow you. Why you need that?

[2018-12-12 10:11] sleshchenko opened #12174 "Che Server is not able to clean up workspace resources if operation is not initialized by user"
### Description
Che Server is not able to clean up workspace resources if an operation is not initialized by a user (like stopping workspace by activity-manager, or getting rid resources of hanging workspaces after recoverting).
It leads to several issues:
1. A workspace is marked as stopped if inactivity timeout is reached but in fact workspaces resources (Pods, Services, Routes) still, exist and

[2018-12-12 10:19] ktdjun commented on #11884
@skabashnyuk  Thank you for your reply.

First of all, what I want to realize is as follows.
* I want to restrict access to an application running on Workspace only to the person who logged into Workspace.

This is because I do not want other users to see the product being developed.
Because of the configuration of the network that I use, I can not control access by IP address and it will be visib

[2018-12-12 10:39] dmytro-ndp commented on #12174
@sleshchenko: nice catch!
The questions:
- what is the default oAuth token expiration timeout?
- how can Che Server renew oAuth token?

[2018-12-12 10:52] LahiruT94 commented on #12153
Thanks for the help :D
I created the repackaging according to the instructions and also created the stack and linked to the created wsmater-war. When I run the ws-master module it gives me this error.

[code]

- I have build the `che-core-ide-stacks` module as well

And in the pom.xml file of `assembly-wsmaster-war` , build-helper-maven-plugin doesnt take the generated source directiry correctly.

[2018-12-12 11:13] sleshchenko commented on #12174
I don't know for both of questions =)

[2018-12-12 11:17] #11953 closed

[2018-12-12 11:37] mstavares opened #12175 "Eclipse CHE helps to build docker images"
Hi,

I would like to know if Eclipse CHE supports build mechanisms in order to deploy docker images. For instance, if I create a Java application using Eclipse CHE, there is already a way to export my code in order to run as a docker container?

If this is not possible, am I able to add this feature adding a new build command in a stack?

Thanks

[2018-12-12 13:25] metlos commented on #12091
Note to self:
* [ ] authz in multiuser

[2018-12-12 14:19] #11903 closed

[2018-12-12 16:33] sr229 commented on #12175
By default, Che does not mount `/var/run/docker.sock` on the containers, so no, you can't deploy images in Eclipse Che.

[2018-12-12 16:39] mstavares commented on #12175
@sr229 ok, thanks.

Still about docker's, since I have an eclipse che fork and I'm adding new stuff that makes sense for me.
How do I build a docker image of my eclipse che in order to deploy it in own server?

Right now I'm running it like this:

sudo docker run -it -v /var/run/docker.sock:/var/run/docker.sock -v "my_repo_path":/repo -v ~/che:/data eclipse/che-cli:nightly start

Thanks,

[2018-12-12 16:41] sr229 commented on #12175
Read the contribution guide: it should give something useful :wink:

[2018-12-12 16:43] mstavares commented on #12175
@sr229 Ok, thanks :)

[2018-12-12 16:46] sr229 commented on #12130
I am at loss for words for that.

[2018-12-12 21:48] tarioch opened #12180 "Creating workspace fails with waiting for ingress timeout"
### Description
I used the helm chart to install che from master. The dashboard starts fine. If I try to create/start a workspace I see the ingress created but che does not seem to see it and the times out after some time.
I'm running in single user mode and have my own domain.

This is running on a kubernetes cluster setup with kubeadm and uses the nginx ingress. It's kubernetes 1.13 running on a

[2018-12-13 01:00] ShubhasisMathur commented on #12130
Sorry for the late response. So when I tried doing the changes on the
workspace , the workspace wasn't starting. The changes were very minimal
like adding the environment variables, or updating some files in project
workspace. This happened when I was doing on the cloud account.
However when I have the eclipse che on my local host, i am not facing this
issue. Looks like only in the cloud ee are ha

[2018-12-13 03:20] sr229 commented on #12130
@ShubasisMathur are you sure this only happens in OSO? I tried reproducing but the stacks work fine for me. No problems too in OSIO. Can you try doing the same in OSIO?

[2018-12-13 03:50] ashishmenghani commented on #12123
Hi Sergil, are you still looking at this?

[2018-12-13 04:58] ShubhasisMathur commented on #12130
@sr229 Thanks for trying out. Let me try it and get back here. Thanks for looking at it!

[2018-12-13 07:35] sleshchenko commented on #12180
It may be related to https://github.com/eclipse/che/issues/10767

@tarioch Please check where loadBalancer IP is set for Ingresses by nginx ingress backend.

[2018-12-13 07:43] #12079 closed

[2018-12-13 08:33] kellyhyomin opened #12182 "Deploy Che on GKE"
Hi.
I am trying to deploy che on GKE(Google Kubernetes Engine).
I want to use node pool autoscaling when che's workspace is faced with a out of memory.
I was setting up node pool autoscaling in the GKE and setting a running out of memory on nodes.
but when I was creating a new workspace, the workspace pod was throwing the following error. and nothing happens to the node pool in th GKE

![image](ht

[2018-12-13 09:30] l0rd commented on #12182
@kellyhyomin thanks for your feedback. You can set your workspace memory requirements in Che user dashbord. Based on those settings the workspace containers are set with predefined memory limits and will fail to start it if you exceed the namespace memory limits.

Can you share your workspaces config (Workspaces->Configure Workspace->Config)?

[2018-12-13 09:56] ShubhasisMathur commented on #7268
As soon as I click on the Git Hub icon, it opens up a page and throws error, Error starts with :
422 Unprocessable Entity

[2018-12-13 10:21] dmytro-ndp opened #12184 "Fix build of selenium tests to be comply with new version of guava"
### Description
There is [PR](https://github.com/eclipse/che-parent/pull/93) which renewed dependencies and caused [dependence conflict in selenium tests project](https://gist.github.com/skabashnyuk/b0590d7061929a4bdc051bfa58ddca56), which in turn, still depend on older  version of guava:
[code]

The problem is reproduced when build with `-Dskip-validate-sources` parameter only.

[2018-12-13 11:55] mstavares commented on #12175
HI @sr229 I have already read the contribution guide, I'm sorry but I didn't found a way to build my own docker image in order to store it on my docker registry.

Could you help me please?

Thanks

[2018-12-13 12:19] l0rd opened #12185 "Che 7 dev stack should support building a plugin container image"
### Description

We currently have 2 Che 7 stacks: Che 7 and Che 7 dev. The latter uses image [wsskelethon/che-plugin-dev-tooling](https://hub.docker.com/r/wsskeleton/che-plugin-dev-tooling/) as runtime (based on https://github.com/ws-skeleton/che-plugin-dev-tooling).

This image allow to devlop and debug a Theia/Che plugin but currently is not able to package them in a container (as sidecars). Th

[2018-12-13 12:59] sr229 commented on #12175
@mstavares I'm pretty sure there's no Docker registry enabled by default on Docker, use DockerHub and push over there, then use the composefile layout to define your image.

[2018-12-13 13:01] sr229 commented on #12180
Triaged it, and it is indeed related to #10767

the current ingress provider seems need to be fixed for this

[2018-12-13 13:02] skabashnyuk opened #12186 "Devfile support in factory"
### Description
We need to support factories like ```http://localhost:8080/f?url=https://github.com/benoitf/simple-project``` that can point to github repo that contains Devfile in the root. Also, we need to support a use case then link points to Devfile itself.

[2018-12-13 13:05] sr229 commented on #12150
@JavaJoeS if it still persists while in Node v8, set your DNSes to a proper resolver.

Triaged a similar issue like this in `ppy/osu-wiki`, and switching the DNS nameservers to `1.1.1.1`/`1.0.0.1` seemed to help.

[2018-12-13 13:21] slemeur commented on #12186
can you link it to the epic for devfile?

[2018-12-13 13:36] skabashnyuk opened #12187 "Potential memory leak in ProbeScheduler"
### Description
On one of the Che master instances, I've noticed potentially high memory consumption.
![15 29 58](https://user-images.githubusercontent.com/1614429/49941721-04bc8200-feec-11e8-82f7-5f481f25497c.png)
Heap dump shows one object with ~ 1.2G.
![15 21 16](https://user-images.githubusercontent.com/1614429/49941774-2453aa80-feec-11e8-9c63-72df73ad302a.png)
Deep dive show that this is  151

[2018-12-13 14:21] l0rd opened #12188 "Automate Che 7 Plugins/Editor release flow"
### Description

Think about a local Theia plugin with its `che_plugin.yaml` in the github repo where the plugin code is.

When a new version of a plugin is released a PR to che-plugin-registry is needed to update the meta.yaml. And usually the plugin maintainer has 2 options:
 a. updates the url to point to the new release but doesn't change the version
 b. creates a new version (i.e. a new folde

[2018-12-13 14:30] benoitf commented on #12188
linking as well https://github.com/eclipse/che/issues/12168

[2018-12-13 14:37] benoitf commented on #12188
I think b is the option to use but I didn't know how it looked like in dashboard for editors (multiple versions for a editor plug-in)

also it's becoming mandatory for caching/CDN to not change underlying image, but for sure, some bots should do the work.

Also I like the caret ranges in stack definition (or in DevFile, etc) so you can benefits automatically as well from the latest stuff

[2018-12-13 14:52] mmorhun commented on #12074
Done

[2018-12-13 14:52] #12074 closed

[2018-12-13 14:53] ibuziuk commented on #12187
@garagatyi could you please take a look ?

[2018-12-13 15:11] ibuziuk commented on #12187
according to metrics there have never been more than 30 running workspaces simultaneously for the last couple of days.

[2018-12-13 15:33] garagatyi commented on #12187
Problem might be [here](https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/probe/ProbeScheduler.java#L213)
It is supposed that cancel task is not needed when we reached this line https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/probe/ProbeSch

[2018-12-13 15:46] garagatyi commented on #12187
I edited my previous comment to fix confusion in tasks namign

[2018-12-13 17:02] nkolban commented on #6028
+1 for this problem running build 6.15.0.

[2018-12-13 17:23] slemeur commented on #6028
@vparfonov could you please check this.
cc @rhopp

[2018-12-13 18:13] tarioch commented on #12180
I'm actually using nginx ingress without a loadbalancer in kubernetes (using the host network functionality) and this is working fine for everything else, also for the che dashboard. So this sounds like #10767 then, if that functionality is tied to loadbalancer object. I can close this issue and maybe add some comments on #10767

[2018-12-13 18:13] #12180 closed

[2018-12-13 18:15] tarioch commented on #10767
This also happens in bare metal installations that don't use loadbalancer (e.g. with nginx ingress running on host network).

[2018-12-13 18:17] tarioch opened #12191 "Prometheus and Grafana ingress is created even if metrics are not enabled"
### Description
The helm chart always creates the ingress for prometheus and grafana even in the cases where the metrics are not enabled.

[2018-12-13 23:32] SalimCastellanos commented on #11760
The some problem, i migrate from old version, and the worspace fail... i active java server and problem fixed.

[2018-12-14 06:49] sr229 commented on #12130
@ShubhasisMathur while you're at it, have you used Monitoring in the OpenShift Online console to see if your pods are creating? It should return an error when a pod exec reaches timeout.

[2018-12-14 06:55] ShubhasisMathur commented on #12130
@sr229 no I havent tried that... so is that the same console in which we view the workspaces etc, or its some other url ?

[2018-12-14 07:55] sleshchenko commented on #12191
cc @metlos

[2018-12-14 08:08] sleshchenko commented on #12187
@garagatyi I assume that there is one more problem.
`Task` may be run several times until server won't be available.
Each time when `Task` is run it creates new `TimeoutProbeTask` with new `Probe` inside.
And then `TimeoutProbeTask` cancels `Probe` but not `Task`.
I assume that as result running of `TimeoutProbeTask` has no effect since it will cancel already used probe.
So, `TimeoutProbeTask` sho

[2018-12-14 08:59] AndrienkoAleksandr opened #12193 "Autogenerate debugger configuration for CHE Theia with help Theia generator."
### Description
It would be nice to have ability  auto-generate valid debugger configuration for Theia inside CHE. This configuration should be stored to the .theia folder and it should contains in the arguments --port=3130, --hostname=0.0.0.0.
CHE Theia generator - https://github.com/ws-skeleton/che-theia-generator

[2018-12-14 09:01] AndrienkoAleksandr commented on #11938
@benoitf I think You have already done this issue. So Could You closed it?

[2018-12-14 09:02] benoitf commented on #11938
@AndrienkoAleksandr you're correct, thx

[2018-12-14 09:04] benoitf commented on #11938
Fixed by https://github.com/eclipse/che/pull/12171

[2018-12-14 09:04] #11938 closed

[2018-12-14 09:30] mstavares commented on #12175
Hi,

I issue is not how should I push the image, but how to create it. As I said above, I'm running CHE passing the repo folder argument where my code is stored.
If I run a dockerfile like this:

FROM eclipse/che-cli:nightly

WORKDIR /repo
COPY source_code_path /repo/.
CMD ["start"]

My image will not gonna work, and I don't know why. For sure this is not the way to create it.

[2018-12-14 09:45] dmytro-ndp commented on #12184
Fixup 1: setting `<org.seleniumhq.selenium.version>3.0.1</org.seleniumhq.selenium.version>` version produced next type of warnings in time of execution the tests:
[code]

[2018-12-14 10:40] #12165 closed

[2018-12-14 10:42] sleshchenko commented on #12024
Merged into master and will be available in next 6.16.0 release.

[2018-12-14 10:42] #12024 closed

[2018-12-14 11:22] SkorikSergey opened #12194 "Application preview url isn't correct for project samples in 'Nodejs and Postgres Stack' stack"
**Reproduction Steps:**
1. Create a workspace through **Dashboard** from ```Nodejs and Postgres Stack``` with "web-nodejs-simple" project sample.
2. Start the workspace and check that the IDE is fully initialized.
3. Start ```web-nodejs-simple:install dependencies``` command and wait it finished.
4. Start ```web-nodejs-simple:run``` command, click on **previewUrl** and check that application worke

[2018-12-14 11:47] sr229 commented on #12130
@ShubhasisMathur I believe you have signed up to OSIO, check it on the [OSIO Dashbord](https://console.starter-us-east-2.openshift.com) and go to your che project, it should be named as `<username>-che`, go to monitoring once in the project, and make a project on the Che Dashboard, notice it makes a terminating pod per ws.

Now if your OKD local install or, your OpenShift cluster project is not sh

[2018-12-14 12:18] sr229 commented on #12175
@mstavares while I think your idea is nice, however, you have two fallacies in that:

- your code is stored in Docker volumes of your workspace so its completely uncessary to have a `/repo` folder.
   - Let alone creating it on the che-cli image where it won't be seen by the rest of the server.
- You're invoking the CLI incorrectly, check the CLI source on how it is invoked.

[2018-12-14 12:45] sr229 opened #12195 "Vendor-friendly White-labeling Che"
Related issues:
- redhat-developer/rh-che#1145
- #8421

While in Che <5 its possible to whitelabel, Che 6 and above has overlooked the whitelabeling.

I believe we should allow whitelabeling either through a custom assembly,  just like OpenShift.io Che's style, or through an admin console.

[2018-12-14 12:55] dmytro-ndp commented on #12184
E2E tests doesn't build this selenium framework version 3.2.0:
[code]

[2018-12-14 12:57] ibuziuk commented on #12187
@l0rd we talked with @skabashnyuk and decided that fixing is crucial for 6.16.0 release, so I'm going to drag it into our sprint backlog

[2018-12-14 13:08] ibuziuk commented on #12194
@jarifibrahim could you please take a look at this issue and provide relevant samples for the new stack as was discussed in https://github.com/eclipse/che/pull/12104#issuecomment-444020997 ?

[2018-12-14 13:58] jarifibrahim commented on #12194
I've raised https://github.com/eclipse/che/pull/12198 to address this

[2018-12-14 15:10] skabashnyuk opened #12199 "Release of 6.15.1"
### Description
We would like to have a 6.15.1 release with
- Devfile local features implementation with schema validation and automated model build https://github.com/eclipse/che/pull/11998
- Add integrity validations for devfile service https://github.com/eclipse/che/pull/12173

[2018-12-14 15:16] l0rd commented on #12187
@ibuziuk that makes sense to me cc @slemeur

[2018-12-14 16:42] sbose78 commented on #12199
If this is something you were doing for the toolchain app creation team, we could defer this.

We'll use the nightly build to start consuming devfile features.

Will let you know if we hit a wall. So for now, you could abort mission :)

[2018-12-14 17:20] riuvshin commented on #12199
thanks @sbose78 !

[2018-12-14 17:20] #12199 closed

[2018-12-14 17:52] #12184 closed

[2018-12-14 21:19] fzalila commented on #11817
Also not working in Safari on MacOS 10.14.2

[2018-12-15 13:07] skabashnyuk commented on #12195
@slemeur @ashumilova can you comment?

[2018-12-15 13:07] skabashnyuk commented on #8421
@slemeur @ashumilova can you comment?

[2018-12-15 17:02] skabashnyuk commented on #12188
What if we consider https://github.com/eclipse/che-plugin-registry as registry
with crawler configuration like this

ksmster/gwt-ide/meta.yaml
[code]
That means that che-plugin-registry should scan https://github.com/skabashnyuk/che-editor-gwt-ide.git every 5 minutes for a file che-plugin.yaml located at etc/che-plugin.yaml. Versions should be iterated from git tags.

dirigible/dirigible-che-edito

[2018-12-15 17:12] benoitf commented on #12188
IMHO cron jobs are something to avoid. That doesn't scale and it's always lagging. This is why webhooks are used now.

[2018-12-15 18:08] skabashnyuk commented on #12188
@benoitf. Not sure I understand what do you  propose instead. Can you explain?

[2018-12-16 08:44] HiDevine opened #12200 "Is there a way to change dev-machine network ?"
I want to change the dev-machine network from default bridge to host, so i change the stacks.json file and rebuild the source code.
i add this to the compose string
1. `network_mode:host`
2. networks: host

both of the can not take any effect, how can i change the dev-machine network, from the docs. it not support `network_mode` command and `networks`

[2018-12-17 04:27] LahiruT94 opened #12202 "Custom stack not working when combined with the custom plugin"
### Description

I have followed the instructions mentioned in the [#12153](https://github.com/eclipse/che/issues/12153) and created a custom stack and custom plugin using the given sample "che-plugin-wizard". The build was successful without any errors yet the stack is not appearing when in the IDE.

### Reproduction Steps
Mentioned in the issue [#12153](https://github.com/eclipse/che/issues/1215

[2018-12-17 07:43] eivantsov commented on #11469
Waiting for the remaining CQs and proposing a PR https://github.com/eclipse/che-operator/tree/initial_pr

[2018-12-17 08:34] musienko-maxim opened #12204 "Investigate e2e technologies for Thea"
### Description
* After quick reviewing the Thea code base - we have 2 technologies around e2e testing.
- First one - based on Webdriverio http://webdriver.io/
- Second one - based on Cypress
Also we have issues about considering of using Cypress like preferable UI test framework. We should investigate possibilities of the tools and make decision about this

[2018-12-17 08:43] benoitf commented on #12204
Please note that they might want to get rid of webdriver.io as well.
https://github.com/theia-ide/theia/issues/1118

[2018-12-17 08:45] musienko-maxim commented on #12204
@benoitf Tnx!

[2018-12-17 09:19] l0rd commented on #12204
I am sure they are already aware of this investigation but anyway cc @evidolob @ashumilova

[2018-12-17 10:10] slemeur commented on #8421
That is something that is not possible at this moment. But we would need to keep this in mind when we will start bigger effort on Che Dashboard.

With the new version of Eclipse Che 7, there will be some adaptation which will be needed to the dashboard - and it will be important to make it extensible to a certain degree. I agree that being able to replace the logo, the font and the color theme wou

[2018-12-17 10:17] l0rd commented on #12202
Hi @LahiruT94!

For your custom stack: adding it to https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json and rebuild che is an option?

For the puglin: for your information we are switching to a new plugin model. We will continue supporting the old GWT based plugins but I suggest you to have a look at the new typescript based plugins. We are working to

[2018-12-17 10:36] l0rd commented on #12195
@sr229 I have commented on https://github.com/redhat-developer/rh-che/issues/1145 as well (do we need 2 issues by the way?). We are considering reworking the dashboard right after Che 7 release (first part of 2019). I am afraid we won't be able to support dashboard white labeling before that date but this issue is something we need to consider when we will start designing the new dashboard.

[2018-12-17 10:43] l0rd commented on #12175
@sr229 @mstavares you can build docker containers from a Che workspace using [buildah](https://github.com/containers/buildah).

@mstavares the CLI has an option to specify a custom che-server image

[2018-12-17 11:11] LahiruT94 commented on #12202
I already add the custom stack into https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json and successfully created the stack.

My requirement is to create an ide extention with a inegrated stack. Even though i followed the steps i cannot get the stack into the stacks in the IDE.

Thank you very much for the resources. I will look into alternative approac

[2018-12-17 11:21] SkorikSergey commented on #10748
Not reproduced in CHE 6.16.0-SNAPSHOT.

[2018-12-17 11:21] #10748 closed

[2018-12-17 12:23] SkorikSergey opened #12205 "[Selenium] Change selenium tests from 'projectexplorer' package to wait that jdtls is fully initialized before working with project"
### Description
We need to change selenium tests from ```projectexplorer``` package to wait that **jdtls** is fully initialized before working with project.

[2018-12-17 12:46] skabashnyuk opened #12207 "Track workspace pod existence"
### Description
Sometimes it may happen that workspace Pod goes down when workspace master thinks that workspace should be alive.
For example, the user stopped it from OpenShift/K8s console, admin can terminate (miner detection) pod or infrastructure node goes down.
Periodically (or once on startup) we should check the existence of the workspace pod and terminate workspace

[2018-12-17 12:55] SkorikSergey commented on #11697
This issue is still reproduced in CHE 6.16.0-SNAPSHOT.

Selenium tests report - https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/462/Selenium_20tests_20report/

Browser and Eclipse CHE network logs - https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/462/Selenium_20tests_20report/webdriver-logs/org.eclipse.che.selenium

[2018-12-17 13:03] #11935 closed

[2018-12-17 13:54] artaleks9 commented on #11185
The reports from _qa-nightly_ CI  show, that the tests does not fail by this issue about on the last 1,5-2 month. I think, the issue is not actual.

[2018-12-17 13:54] #11185 closed

[2018-12-17 13:58] sleshchenko opened #12208 "Store statuses in KubernetesRuntimeState as string value instead of ordinal number"
### Description
Now, Kubernetes Infrastructure stores statuses in KubernetesRuntimeState as ordinal number but not string value since `@Enumerated` annotation is missing:
https://github.com/eclipse/che/blob/4edd9190bfae77a40eabea1baf24d25289025177/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/model/KubernetesRuntimeState.java#L52-L53
https://github.co

[2018-12-17 14:08] artaleks9 opened #12209 "Delete the 'try-catch' expression from the 'refactor.parameters' tests"
### Description
* Need to delete the _try-catch_ expression for the selenium tests  in the package _refactor.parameters_ related to close issue
* Related selenium tests: _RenameParametersTest_, _FailParametersTest_
* Related known issue: #11185

[2018-12-17 14:10] vzhukovskii commented on #9272
Issue can't be reproduced

[2018-12-17 14:10] #9272 closed

[2018-12-17 14:12] sleshchenko commented on #12174
I've added some debug logs to `IdentityProviderConfigFactory` and discovered that issue is caused by `Anonymous` subject BUT NOT expired token
![screenshot_20181217_160743](https://user-images.githubusercontent.com/5887312/50092223-27b1a380-0216-11e9-991b-c6a1a3179d79.png)
So, `activity-checker` and getting rid of hanging workspace functionalities are completely broken on OpenShift infrastructure

[2018-12-17 14:36] artaleks9 commented on #11701
The reports from qa-nightly CI show, that the test does not fail by this issue about on the last 1,5 month. I think, the issue is not actual.

[2018-12-17 14:36] #11701 closed

[2018-12-17 14:47] artaleks9 opened #12211 "Delete the 'try-catch' expression from the 'CodeAssistAfterMoveItemTest' test"
### Description
* Need to delete the _try-catch_ expression for the selenium tests  in the package _CodeAssistAfterMoveItemTest_ related to close issue
* Related known issue: #11701

[2018-12-17 15:04] AndrienkoAleksandr opened #12212 "Dashboard tear down server attributes after change port or protocol on the server page"
### Description
1. Create new workspace with help 'java' stack.
2. Open workspace config on the user dashboard.
3. In the workspace config add server attributes to the server `codeserver`:
FROM
[code]
TO:
[code]

4. Save workspace config by 'Save Button'.
5. Open 'Servers' page on the user dashboard.
6. Edit server `codeserver` for dev-machine: change port to 9877 and save changes.
7. Go to the wo

[2018-12-17 16:02] AndrienkoAleksandr opened #12215 "Workspace api became broken for user after saving server attributes with empty key."
### Description
Workspace api became broken for user after saving server attributes with empty key - 500 ERROR.

I wanted set up server attributes in the workspace config for some server  with help user dashboard. But I got lag with autosave and dashboard saved server attribute with empty key. After that workspace api become broken for my current user: workspace api method get fails with 500 ERROR

[2018-12-17 16:55] artaleks9 opened #12216 "Correct the tests from 'git ' package to increase reliability when run on CI"
### Description
* Need to add corrections to selenium tests from _git_ package to increase relability when they ru on CI
* Related selenium tests: _BranchTest_, _AddFilesToIndexTest_

[2018-12-17 17:12] l0rd commented on #12160
@garagatyi @rhopp a couple of comments here:

1. I am not sure that selenium/graphical tests are needed here: this is something that can and should be tested using REST APIs rather than graphical UI
2. If we really need it to be a graphical test, the test framework may be cypress.io: it depends on https://github.com/eclipse/che/issues/12204 outcome

[2018-12-18 07:37] skabashnyuk commented on #12215
Can't create a workspace from config
<img width="1082" alt="09 36 45" src="https://user-images.githubusercontent.com/1614429/50138814-7740af80-02a8-11e9-8815-f0e43da0c819.png">

[2018-12-18 07:47] AndrienkoAleksandr commented on #12215
Maybe I used not latest CHE. And on the latest CHE dashboard validator was improved. I will take a look.

[2018-12-18 08:06] #12209 closed

[2018-12-18 09:14] #12205 closed

[2018-12-18 09:44] #12194 closed

[2018-12-18 10:25] sunix opened #12217 "Dashboard factory: Remove mandatory aspect from workspace.projects[x].type property when creating a factory from a workspace"
### Description
In Che dashboard, when creating a workspace, in some case we can end up with a project without any 'type' defined (create a workspace, and import project later).
When creating a factory from this kind of workspace, Dashboard is preventing user to create it because the fields `workspace.projects[x].type` are mandatory.

![capture d ecran 2018-12-17 a 15 55 09](https://user-images.gi

[2018-12-18 11:08] metlos commented on #12059
Since the Helm chart now has a way of deploying prometheus and activating metrics collection, I am closing this issue. If you want to change the way how it is done, please raise a new issue or provide a PR.

[2018-12-18 11:08] #12059 closed

[2018-12-18 12:51] sleshchenko commented on #12217
@sunix Dashboard is not a guy who throws this exception
It is shown by Che Server because the type field is marked as `mandatory`
https://github.com/eclipse/che/blob/57c43ac8cdd7111649414545a6ee9d156392d249/wsmaster/che-core-api-workspace-shared/src/main/java/org/eclipse/che/api/workspace/shared/dto/ProjectConfigDto.java#L53
Or I missed something.

[2018-12-18 13:22] SkorikSergey opened #12218 "Cannot start workspace from 'Java Theia' stack on Docker and Openshift"
**Reproduction Steps:**
1. Create and start a workspace through **Dashboard** from ```Theia IDE on docker
``` or ```Java Theia on OpenShift``` stack.

**Actual result:**
Cannot start the workspace. There are error messages in console(see screenshots)

**Che version**: 6.16.0-SNAPSHOT
**OS and version:** Fedora 28
**Failed selenium tests:** CreateWorkspaceFromJavaTheiaOpenshiftStackTest, CreateWork

[2018-12-18 14:55] sr229 commented on #12195
@l0rd this is initially opened for RH Che since based on my heavily outdated Che docs knowledge, Whitelabeling is possible. This isn't the case for Che 6+ AFAIK. @ibuziuk recommended me to open the issue here since this might need upstream attention.

[2018-12-18 15:13] mstavares commented on #12175
Hi @l0rd

I already have the image created, but when I start a workspace the terminal doesn't work neither the option that allows me to create projects.

https://ibb.co/GFJR8jM
https://ibb.co/yVF5VZm

`studio_1  | 2018-12-18 14:52:23,592[main]             [INFO ] [o.a.c.http11.Http11NioProtocol 632]  - Starting ProtocolHandler ["http-nio-8080"]
studio_1  | 2018-12-18 14:52:23,633[main]

[2018-12-18 15:36] SkorikSergey opened #12220 "Selenium: after creation command isn't exists in CommandsPallete"
### Description
Sometimes after command creation by ```TestCommandServiceClient```(https://github.com/eclipse/che/blob/029643104cb3b8555a068bc12082b583ebdbd565/selenium/che-selenium-test/src/test/java/org/eclipse/che/selenium/testrunner/JavaTestPluginJunit4Test.java#L83)  the created command is not visible in Command Pallete(see screenshot). We should clarify reason and fix it.

**Failed selenium

[2018-12-18 16:33] slemeur commented on #12195
@sr229 : I have commented on issue: https://github.com/eclipse/che/issues/8421

Would it be something you would be interested into contributing?

[2018-12-18 17:18] sr229 commented on #12195
@slemeur would be interesting to see how RH Che overrides some things (from what I see, is via a assembly), which I might look into

[2018-12-18 18:37] svor commented on #11468
Related PR https://github.com/theia-ide/theia/pull/3805

[2018-12-19 01:39] HiDevine commented on #12200
@l0rd i want to publish some services in the containers, so the other outside machine can visit that.
if network breaks containers isolation should be avoided, can i fix the port mapping between the host and the container, i want to fix the host port to 4041 the same as the container port?

i do not want to the random port of the host.

![image](https://user-images.githubusercontent.com/11625846/5

[2018-12-19 07:54] artaleks9 opened #12223 "Correct the 'ConfigureSomeSourceFoldersTest' to increase reliability when run on CI"
### Description
* Need to add corrections to selenium test from _plainjava_ package to increase relability when they run on CI
* Related selenium test: _ConfigureSomeSourceFoldersTest_

[2018-12-19 08:33] skabashnyuk opened #12224 "Platform-2019-01-15 (Sprint: 159)"
### Features related to Devfile
- [ ] Devfile Spec documentation generator | https://github.com/eclipse/che/issues/12272 | 8
- [x] Factory flow should support k8s/OS tool in Devfile as relative file path in repository | https://github.com/eclipse/che/issues/12266 | 13
- [x] An ability to specify Kubernetes/OpenShift List as tool in Devfile | https://github.com/eclipse/che/issues/11906 | 5
- [ ] Su

[2018-12-19 08:50] skabashnyuk opened #12225 "Refresh workspace activity during runtime restore on workspace master startup"
### Description
I've noticed the situation when we have a lot of restored workspaces on startup
of workspace master after OOM crash, however number of them are not reduced after default activity timeout.
I suspect that during previous crashes we lost the fact that workspace is active.
The goal of this task is to tick workspace activity on restore so if no activity happened
from the workspace, duri

[2018-12-19 09:53] mshaposhnik opened #12227 "Factories belongs to unexisted users may present in DB"
### Description
Due to bug in cascade removal listeners, ([1], [2]) there can be orphaned factories present in DB.
Need to write DB  mirgation script to cleanup them.

[1]https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-factory/src/main/java/org/eclipse/che/api/factory/server/jpa/JpaFactoryDao.java#L201

[2]https://github.com/eclipse/che/blob/master/multiuser/integration-tests/che-

[2018-12-19 10:01] sunix opened #12228 "Factory for dashboard dev environment"
### Description
create a factory that clone che projects, with commands to build and run the dashboard

maybe contribute to https://github.com/sunix/devfiles/

[2018-12-19 10:03] sleshchenko commented on #12227
Also, it makes sense rework Factory object to store `creatorId` in a separate field with a foreign key configured instead of storing it as an attribute.

[2018-12-19 10:34] evidolob opened #12229 "IDE2-2019-01-15 (Sprint: 160)"
### Sprint Goals:
1. Theia Plugin APIs for Language - Beta
2. Che specific Plug-in APIs - Beta
3. Define and Document how to develop Che Theia with Che - Beta
4. Projects sync (cloned from Theia) to workspace definition - Beta
5. Minimal set of dashboard improvements for Che 7 - Beta
6. Minimal set of Theia terminal improvements for Che 7 - Beta

Che 7 Beta Epic - https://github.com/eclipse/che/is

[2018-12-19 10:38] sunix opened #12230 "[che-theia] Ability to kill processes that have been started with a Che command (theia task)"
### Description
User should be able to kill process started by a che command (theia task)
Could be
- giving the interactive mode to tasks. BTW this could be usefull when running commands with user interaction ( for instance, `git commit -s` would prompt the user to fill a comment ... etc ... ). To kill a task, user would type Ctrl-c.
- find a way to kill the process with its PID from the user inte

[2018-12-19 12:51] skabashnyuk opened #12233 "Adapt factory gitlab integration from codenvy repository"
### Description
Follow up question https://github.com/eclipse/che/pull/12232#issuecomment-448580507

Gitlab integration was forgotten during the move to eclipse che.
https://github.com/codenvy/codenvy/tree/master/plugins/plugin-gitlab/codenvy-plugin-gitlab-factory-resolver

[2018-12-19 13:26] OonjuoO opened #12234 "Eclipse che multiuser mode not working with Keycloak's ep as auth url"
### Description
I am installing eclipse che multiuser mode on kubernetes. To avoid certificate problm, I am testing with keycloakAuthUrl as http. I am using my own keycloak which is already installed.

But I got this error when I try to access **che dashboard**:
<img width="325" alt="1" src="https://user-images.githubusercontent.com/16017096/50222564-f9100600-0398-11e9-991c-bf90b1a2c6c4.PNG">

Thi

[2018-12-19 17:16] l0rd opened #12237 "Package Analytics LS as a Theia remote plugin"
### Description

The goal is to be able to run the analytics/bayesian LS as a Che 7 sidecar. This LS is enabled by default on all the che.openshift.io stacks but it's also available as a [VS Code Extension](https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics). It's the VS Code Extension that we should package as a remote Theia extension and enable on openshit.io Che 7 stac

[2018-12-19 17:38] l0rd commented on #11801
The `memory-limit` attribute of an editor/plugin is currently defined in the [che_pluing.yaml](https://github.com/ws-skeleton/che-editor-theia/blob/master/etc/che-plugin.yaml#L41). Currently the dashboard doesn't have access to that attribute.

The possible solution that comes to mind is to add the memory-limit field in the plugin registry meta.yaml files. If not set the dashboard will override it

[2018-12-19 17:47] l0rd opened #12238 "It is not possible to run more than one Che 7 workspace at a time"
### Description

If a Che 7 workspace is running and I try to start a new one I get the following error:

[code]

![image](https://user-images.githubusercontent.com/606959/50237863-38048280-03be-11e9-8bc7-ebad6bff238d.png)

One possible solution to address this problem would be to suffix the name of services with the workspace id:

  - suffixing services with workspaceid would not be a problem for

[2018-12-19 18:20] l0rd opened #12239 "Workspace commands should be in Theia command palette"
### Description

Currently executing a command form Theia needs 3 steps:

1. Open the command palette
2. Select Run Task
![image](https://user-images.githubusercontent.com/606959/50239104-86675080-03c1-11e9-92f0-9b17c4ab781c.png)
3. Select the command

Instead we should be able to:

1. Open the command palette
2. Select the command

[2018-12-20 03:41] sleshchenko commented on #12238
It is caused by the issue: service discovery of APIs running in tooling containers of Workspace.Next https://github.com/eclipse/che/issues/9913

[2018-12-20 07:05] #12216 closed

[2018-12-20 07:20] artaleks9 opened #12241 "Correct the 'InitializeAndDeleteLocalRepositoryTest' to increase reliability when run on CI"
### Description
* Need to add corrections to selenium test from _git_ package to increase relability when they run on CI
* Related selenium test: _InitializeAndDeleteLocalRepositoryTest_

[2018-12-20 08:30] vinokurig commented on #11697
@SkorikSergey Can it be reproduced manually?

[2018-12-20 08:42] garagatyi commented on #12188
I think that variant a and other variants that rely on not changing the version is not what we wanted.
The issue with these variants is that:
- it prevents workspaces from being reproducible
- it prevents brokering results caching

Automation that would create new versions is way better here, but at the same time I agree with Florent that is doesn't scale and it is not flexible enough. What if we

[2018-12-20 08:54] garagatyi commented on #11801
It is also possible that che-plugin.yaml doesn't contain memory limit field. Then Che master would use its default value.
Another case is when Che master adds some additional sidecars, e.g. jwt-proxy sidecar. It is not shown anywhere in the workspace config that this sidecar will be added.

[2018-12-20 09:44] benoitf commented on #11801
I agree that today it's very difficult to users to know how to override the memory as it's based on the container name, so even if you do know the plug-in which is installed you don't know why attribute to use.
So to provide this nice UX in UD, somehow UD need to ask wsmaster

[2018-12-20 09:46] #12172 closed

[2018-12-20 10:08] ibuziuk opened #12242 "[Metric] Number of failed workspace startup"
**Description**
Add Prometheus metrics that will show us a number of failed workspace startup

[2018-12-20 10:10] skabashnyuk opened #12243 "Eclipse Che plan regarding Docker infrastructure and GWT IDE"
### Description
On the last Eclipse Che community meeting, we announced some plans
regarding Docker infrastructure and GWT IDE. I

#### Phase 1
- [x] Discussion on Che community meeting.
- [x] Сomunity notes about deprecation plans.
- [x] Start releasing GWT IDE as sidecar package with each Che release https://github.com/eclipse/che/issues/12172
#### Phase 2
- [ ] Adapt GWT IDE to run natively in

[2018-12-20 10:10] ibuziuk opened #12244 "[Metric] API error rate (number of 500 responses from che server)"
**Description**
Add Prometheus metrics that will show us API error rate (number of 500 responses from che server)