[2021-11-17 01:00] #20739 closed

[2021-11-17 01:06] max-cx commented on #20607
@benoitf, a Yes/No question to you:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-17 01:21] amisevsk commented on #20749
@vinokurig Great! PR https://github.com/devfile/devworkspace-operator/pull/675 should add the required permissions; it will be included in the v0.11.0 release of DWO.

[2021-11-17 01:49] max-cx commented on #20607
@benoitf, I updated the Release Notes Text for this issue:

----

= Support for concurrent inclusion of v1 and v2 devfiles

With this update, you can have both a devfile v1 and a devfile v2 in the same repository for loading your projects in a {prod-short} instance when using the DevWorkspace engine. You can also specify the path to your devfile v2 if your devfile v2 is not at the root of the repo

[2021-11-17 05:25] RomanNikitenko commented on #20772
@bodarajeshkumar
thank you very much, for your sample - I tested the use case for vanilla `theia` and can confirm that the problem is on `theia` side.

Moreover, I found the upstream issue https://github.com/eclipse-theia/theia/issues/10369
It should be fixed by https://github.com/eclipse-theia/theia/pull/10375

[2021-11-17 06:43] RomanNikitenko commented on #20771
@bodarajeshkumar
thank you very much for your sample!

I modified a little your sample and tested the use case for vanilla `theia`:
[code]

At the moment `che-theia` [depends](https://github.com/eclipse-che/che-theia/blob/e121bd27198ace43ae43237bdf6ed50108eaccfe/build.include#L17) on [the commit](https://github.com/eclipse-theia/theia/commit/a73a746bfdefc115edb506f2351b5f4e3f267077) of `theia`.

I

[2021-11-17 06:49] RomanNikitenko commented on #20773
@vinokurig
Could you take a look?

[2021-11-17 07:06] tolusha commented on #20779
@sparkoo
To be honest chectl doesn't know users' password in general.
Is it enough to print predefined credentials for admin user?

[2021-11-17 07:09] RomanNikitenko commented on #20781
@nils-mosbach
thank you very much for sharing your experience about the problem!

@disaster37
could you check if the suggestion above resolves problem on your side.

[2021-11-17 07:20] benoitf opened #20786 "Error while downloading plugins in DevWorkspace mode"
### Describe the bug

Try to open https://github.com/svor/scala-sbt/tree/devfile2

It's failing to download vsix files (jq errors)

### Che version

next (development version)

### Steps to reproduce

Open factory url with https://github.com/svor/scala-sbt/tree/devfile2

### Expected behavior

it works

### Runtime

OpenShift

### Screenshots

_No response_

### Installation method

chectl/next

#

[2021-11-17 07:20] vinokurig commented on #20773
@bodarajeshkumar To hide the view you can right click on the panel name and chose `Hide`:
![screenshot-che-eclipse-che 192 168 64 81 nip io-2021 11 17-09_04_12](https://user-images.githubusercontent.com/7668752/142150639-d7301a0a-517c-4aed-b613-3210adccf187.png)
This is an upstream [Theia module](https://github.com/eclipse-theia/theia/blob/master/packages/timeline/src/browser/timeline-frontend-mod

[2021-11-17 07:56] bodarajeshkumar commented on #20771
Thank you very much for working on this @RomanNikitenko.
when can we expect this fix to be merged to che-theia? is it possible to give some tentative date?

[2021-11-17 08:09] azatsarynnyy commented on #20777
Hello @SuyashGupte
Thank you for an interesting question.
I'd suggest you investigate iframe restrictions related to accessing such resources as the user's devices.
E.g. iframe's `allow` attribute, Feature Policy, etc.
This article may be a good start https://developers.google.com/web/updates/2018/06/feature-policy

[2021-11-17 08:15] #20786 closed

[2021-11-17 08:28] sparkoo commented on #20778
I'm setting it as a blocker because it's currently blocking progress on PRs https://github.com/eclipse-che/che-dashboard/pull/401 and https://github.com/eclipse-che/che-server/pull/171 and work on issue https://github.com/eclipse/che/issues/20635

[2021-11-17 08:35] disaster37 commented on #20781
Hi, I have tested the workaround and it's work like a charm. Thx @nils-mosbach
But I prefer to use annotation to custom only che ingress instead all nginx setting, aka `nginx.ingress.kubernetes.io/proxy-buffer-size: 16k`.

Maybee it make sense to add this annotation on default ingress annotation instead to overwrite and maintain `CHE_INFRA_KUBERNETES_INGRESS_ANNOTATIONS__JSON` ?

[2021-11-17 08:37] sparkoo commented on #20779
@tolusha chectl deploys dex configmap with predefined users https://github.com/che-incubator/chectl/blob/main/resources/dex/configmap.yaml#L28 so it kind-off knows the users credentials. `admin` user here is same as any other user, it does not have any special privileges. These static users are really meant only for testing. In real world, you would connect dex to github/google/... I will prepare

[2021-11-17 08:44] RomanNikitenko commented on #20771
Breaking changes were merged to upstream (`theia`), it's related to build system.
We are working on adaptation `che-theia` assembly to those changes.

You can track related issue https://github.com/eclipse/che/issues/20538

[2021-11-17 08:51] #20674 closed

[2021-11-17 08:53] l0rd commented on #20469
@ibuziuk this has milestone 7.39 but it hasn't been completed (because of unplanned work dashboard side I guess). I am removing the milestone since I don't think you have plans to work on it for 7.40 (not a DW milestone 3 priority).

[2021-11-17 08:54] l0rd commented on #20677
Moving to milestone 7.40 so that we can close milestone 7.39

[2021-11-17 08:55] l0rd commented on #18771
Moving to milestone 7.40 so that we can close milestone 7.39

[2021-11-17 09:34] bodarajeshkumar commented on #20773
@vinokurig Thank you for the information. I want to completely remove the timeline instead of just hiding it. Is it possible to write a custom theia extension that does this task?

[2021-11-17 10:18] SuyashGupte commented on #20777
I tried to check for microphone access on the default workspace page using `document.featurePolicy.allowsFeature('microphone')` and it returned `false`.
I added `allow="microphone"` attribute in browser preview `iframe` but it didn’t work.
When I open the preview URL in new tab `document.featurePolicy.allowsFeature('microphone')` returns `true`.

[2021-11-17 12:25] RomanNikitenko commented on #20773
I didn't test it, but it should be possible to rebind `TimelineContribution`.
Like:
[code]
and within a module of a `che-theia` extesion
[code]

[2021-11-17 12:41] azatsarynnyy commented on #20783
Che-Server Workspace API returns the correct URL:
https://serverek0aq93r-jwtproxy-server-4400.192.168.39.82.nip.io/?backgroundColor=434343&wss/

But the URL from the workspace loader error has the query parameters cut:
https://serverek0aq93r-jwtproxy-server-4400.192.168.39.82.nip.io/?backgroundColor

[2021-11-17 12:45] azatsarynnyy commented on #20783
Everything works well in Che 7.36.2.
The problem is reproduced with the latest Che - 7.40

[2021-11-17 13:47] bodarajeshkumar commented on #20773
Thank you @RomanNikitenko. I will test it.

[2021-11-17 14:13] #20778 closed

[2021-11-17 14:21] vitaliy-guliy opened #20787 "[devworkspace] java-spring-petclinic sample cannot connect to mysql database, running in the separate container"
### Describe the bug

Java-Mysql sample does not work in devworkspace.
The sample tries to connect to mysql by uri `jdbc:mysql://localhost/petclinic`, but seems the host with mysql is not recognized as localhost.
The same sample works fine on local minikube deployment (and on other dev clusters).

### Che version

7.39@latest

### Steps to reproduce

On devworkspace:
1. create workspace using http

[2021-11-17 14:26] benoitf commented on #20787
is that https://github.com/che-samples/java-spring-petclinic/blob/devfilev2/devfile.yaml#L34 changed to internal is changing something ?

[2021-11-17 14:29] #20697 closed

[2021-11-17 14:31] tolusha commented on #20765
@Proger666
Did it help?

[2021-11-17 14:38] azatsarynnyy commented on #20785
I think it's rather an epic that touches several areas than a bug.
As I see there're problems related to the dashboard, che-theia, plugins, plugin-registry areas.

[2021-11-17 15:17] mmorhun commented on #20504
Done

[2021-11-17 15:17] #20504 closed

[2021-11-17 15:34] #20770 closed

[2021-11-17 15:45] vitaliy-guliy commented on #20638
@max-cx I think we don't need to change any documentation

[2021-11-17 16:07] nickboldt commented on #20740
Release has started https://github.com/eclipse-che/che-release/actions/runs/1472548582

[2021-11-17 16:32] olexii4 commented on #20783
@azatsarynnyy I reproduce this issue. It wasn't on the dashboard side.

Just try to open that [URL](https://serverek0aq93r-jwtproxy-server-4400.192.168.39.82.nip.io/?backgroundColor=434343&wss/) from a different tab and you will see the same error.

It is a loader issue
https://github.com/eclipse-che/che-server/blob/7.39.x/assembly/assembly-root-war/src/main/webapp/_app/loader.js#L145

[2021-11-17 16:55] azatsarynnyy commented on #20783
I set `area/dashboard` as there's no `area/workspace-loader`.

[2021-11-17 17:14] svor opened #20788 "Adapt che-theia plugins to avoid requesting che-server API"
### Is your task related to a problem? Please describe

Che-theia plugins which require che-server API don't work when devWorkspace is enabled.
The list of plugins which need to be adapted:
- [x] [openshift-auth](https://github.com/che-incubator/che-theia-openshift-auth) #20857
- [ ] [ssh-plugin](https://github.com/eclipse-che/che-theia/tree/main/plugins/ssh-plugin) #20859
- [x] [github-auth-plugi

[2021-11-17 18:05] amisevsk commented on #20785
Regarding problem 7, I wasn't able to reproduce it in pure DWO, but I also don't know how any other component could have an impact here.

[2021-11-17 19:00] svor commented on #20787
@benoitf the same result:
![screenshot-che-eclipse-che apps cluster-ttxw6 ttxw6 sandbox46 opentlc com-2021 11 17-20_55_47](https://user-images.githubusercontent.com/1271546/142264773-ec1f9c0b-eaf9-4038-aac2-63b3e6c8a287.png)

[2021-11-17 19:48] nickboldt commented on #20740
![image](https://user-images.githubusercontent.com/227597/142272014-8708ad8e-ba30-4352-ae60-98004584eaef.png)

[2021-11-17 21:04] Flugtiger opened #20789 "java.lang.IllegalStateException: getAttribute: Session already invalidated"
I repeatedly get an HTTP status 500, when calling REST APIs (e.g. GET /api/user). The first request seems to always go through but subsequent requests with the same user (but maybe a different access token) always result in this error:

[code]

This might be a regression of this problem: #15798

[2021-11-17 22:18] azatsarynnyy commented on #20777
There're several iframes in Che:
- the Dashboard's container for embedding an ide
https://github.com/eclipse-che/che-dashboard/blob/4d4ca1f3a67d86cdc1c1b9f8ab1496a69b64fd46/packages/dashboard-frontend/src/pages/IdeLoader/index.tsx#L291

- Theia's preview iframe
https://github.com/eclipse-theia/theia/blob/29ebe4c1cc1f8608d23ad92220c6a615c775a27c/packages/mini-browser/src/browser/mini-browser-conten

[2021-11-18 00:20] dkwon17 commented on #20574
Hello @kollachaitanyakrishna could you elaborate on what steps you took when packaging the backend application into a container image?

ie. the steps you took for the "Packaging the Quarkus application" section: https://www.eclipse.org/che/docs/che-7/extensions/creating-a-telemetry-plugin/#_packaging_the_quarkus_application

[2021-11-18 06:32] skabashnyuk commented on #20789
@Flugtiger thank you for this report. Could you please follow the bug template and provide additional details?

[2021-11-18 09:46] nils-mosbach opened #20790 "Gitlab/OAuth2 cloning private projects fails with autopopulated tokens - Access denied"
### Describe the bug

We're currently have issues setting up a proper OAuth flow for cloning private GitLab projects. My intention was to allow cloning private projects for all of our developers using GitLab OAuth without the need of defining SSH-Tokens or Kubernetes secrets on user side. So basically add a button to all GitLab Project-Pages (like "Open in Che") which will does the trick (Login, c

[2021-11-18 10:32] #20677 closed

[2021-11-18 10:35] ibuziuk commented on #20783
@benoitf could you please clarify what is the path parameter `/?backgroundColor=434343&wss` stands for from https://github.com/eclipse-che/che-plugin-registry/pull/1064

[2021-11-18 10:41] benoitf commented on #20783
it's the starting parameter used for all of our jetbrains IDE as defined there:
https://github.com/che-incubator/jetbrains-editor-images/tree/meta/che-idea

[2021-11-18 10:47] ibuziuk commented on #20783
@benoitf thanks, it looks like there is some subtle bug in the loader, but it was not reproducible before with the previous meta.yaml
@vzhukovs could you clarify why do we need this starting parameter in general - https://github.com/che-incubator/jetbrains-editor-images/blob/meta/che-idea/2020.3.3.meta.yaml#L23

[2021-11-18 11:07] kollachaitanyakrishna commented on #20574
@dkwon17 : I have create with the command "Step 3: Build with "mvn quarkus:dev --DskipTests", The same is mentioned in the beginning repro steps.

[2021-11-18 11:14] benoitf commented on #20783
to clarify, before it was using the VNC approach of intellij and now it switched over to Projector based solution

[2021-11-18 11:36] amoldeshpande05 commented on #20767
@azatsarynnyy our system on iks does not support DevWorkspace mode. Facing this problem in devfile v1 itself.

[2021-11-18 13:38] apupier opened #20791 "Use mvn commands to run and debug for java-maven-based devfiles"
### Is your enhancement related to a problem? Please describe

Currently, most devfiles are using `java -jar target/*.jar`.

the inconvenient of using java -jar is that it requires users to have launch the build task beforehand, and every time there si a modification done.
https://github.com/eclipse-che/che-devfile-registry/blob/884b521459fcc1b6657b2241044ccf222fd149c2/devfiles/java-web-spring/dev

[2021-11-18 13:49] mmorhun commented on #20758
@tolusha great work!

I'd move into `CheDashboardEndpointTLSSecret` as `Route` is Openshift specific.

The name is not clear. From a first shight it might be percepted as ingress name to use for Che server. What about `server.EndpointTLSSecret`? (than we might have it for both Kubernetes and Openshift)

Not clear. I'd like to keep `domain` word, and even old name, but moved to server section maybe

[2021-11-18 13:50] nickboldt commented on #20254
Yes, end user experience is impacted by this change and should be updated accordingly.

[2021-11-18 13:53] AndrienkoAleksandr commented on #20758
Do we have the same feature for Dex?

[2021-11-18 13:55] mmorhun commented on #20758
Also, it's time to get rid of `self-signed-certificate` secret, isn't it?

[2021-11-18 14:03] AndrienkoAleksandr commented on #20758
Looks not clear for me

[2021-11-18 14:16] tolusha commented on #20758
@AndrienkoAleksandr

[code]

Basically this field as well as `spec.server.ExternalPluginRegistry` indicates if dedicated devfile/plugin registry is started.
It is logical to turn this field into `spec.pluginregistry.enable`  with converting algorithm `spec.pluginregistry.enable = !spec.server.ExternalPluginRegistry`

[2021-11-18 14:19] tolusha commented on #20758
@mmorhun

see explanation above.

Sorry, out of scope.

[2021-11-18 15:04] nickboldt opened #20792 "Remove specific stack/tool versions from devfiles meta.yaml files for easier maintenance"
### Is your task related to a problem? Please describe

As seen in https://issues.redhat.com/browse/CRW-2476 it's easy for sidecars to be updated and forget to update meta.yaml at the same time, resulting in situations where the "go 1.14" devfile actually includes go 1.17.

### Describe the solution you'd like

So, across all the devfiles, we ought to remove the versions so it's easier to keep thi

[2021-11-18 16:14] nickboldt commented on #20121
PR https://github.com/eclipse-che/che-release/pull/53

[2021-11-18 17:05] nickboldt commented on #20386
closed for Che 7.37

[2021-11-18 17:25] l0rd commented on #20790
cc @skabashnyuk @xbaran4

[2021-11-18 21:06] apupier opened #20793 "Provide JDK 8 in universal developer image"
### Is your enhancement related to a problem? Please describe

Java 8 still have support for some time (see https://access.redhat.com/solutions/4934371 or https://access.redhat.com/articles/1299013#OpenJDK_Life_Cycle )

At least one current che-samples requires Java 8: Camel on SpringBoot example: https://github.com/che-samples/fuse-rest-http-booster

### Describe the solution you'd like

it would

[2021-11-18 21:12] apupier opened #20794 "Provide kamel binary in universal developer image"
### Is your enhancement related to a problem? Please describe

The VS Code Camel K is currently using a sidecar with [kamel binary in it](https://github.com/eclipse-che/che-plugin-registry/blob/a95fbe7e14dd6b50cc361bbbe2d1fedf90e8e018/sidecars/camelk/Dockerfile#L14). it allows to have a faster deployment, otherwise the binary needs to be downloaded on each workspace start (creation?).

### Describ

[2021-11-19 05:50] SuyashGupte commented on #20777
Thank you @azatsarynnyy

[2021-11-19 07:11] azatsarynnyy commented on #20777
Probably, there're just minimally required permissions.
So far, there were no specific reasons to add more permissions.
@SuyashGupte you can try to provide corresponding PRs.

[2021-11-19 07:23] azatsarynnyy commented on #20767
Che-Server mode is going to be deprecated very soon and removed. So, we stopped working on everything Che-Server-related.
@amoldeshpande05 if it's critical for you, you can try to fix it there
https://github.com/eclipse-che/che-theia/blob/40fabc7f63ddcc7e5ad85df7320d69a851182264/extensions/eclipse-che-theia-remote-impl-che-server/src/node/che-server-workspace-service-impl.ts#L87

[2021-11-19 07:37] tolusha commented on #20758
[code]
Hostname, secret and domain basically is part of of route(ingress). So, it is logically to move them into that structure.

Only works for Keycloak

`ExternalDevfileRegistry` controls whether or not deploy dedicated registry despite the fact that it contains `external` in its name. Beside this there is `ExternalDevfileRegistries` fields which is responsible for configuring external devfile r

[2021-11-19 09:50] vinokurig commented on #19718
@max-cx

I don't think so, It's just a technical debt.

[2021-11-19 10:56] benoitf opened #20795 "Switch plug-in registry to nodejs 16 as it's the new nodejs LTS"
### Is your task related to a problem? Please describe

Based on https://nodejs.org/en/about/releases/ NodeJS 16 is the new LTS

### Describe the solution you'd like

switch over to this new LTS version

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-19 11:53] ibuziuk commented on #17187
Closing as outdated

[2021-11-19 11:53] #17187 closed

[2021-11-19 12:07] apupier opened #20796 "Abandonned tab pointing to offline workspace are eating a lot of memory and CPU"
### Describe the bug

I played with a workspace and let the tab opened for a night.
The day after the CPU is still used a lot and a lo tof memory is used

### Che version

next (development version)

### Steps to reproduce

1. open a workspace
2. let the tab open a long time

### Expected behavior

CPU shoudl be a low level and memory shouldn't take more than 2G

### Runtime

CodeReady Container

[2021-11-19 12:12] apupier commented on #20796
there are a lot of errors that are generated every seconds:
[che-eclipse-che.apps-crc.testing-1637323858037.log](https://github.com/eclipse/che/files/7570121/che-eclipse-che.apps-crc.testing-1637323858037.log)

[2021-11-19 12:57] #20795 closed

[2021-11-19 13:12] sparkoo opened #20797 "chectl fails to deploy with Dex on minikube 1.24"
### Describe the bug

[code]

chectl error log:
[code]

Issue is that minikube does not have folder `/etc/ca-certificates`. If I manually create it with `minikube ssh sudo mkdir /etc/ca-certificates`, it deploys ok.

### Che version

next (development version)

### Steps to reproduce

1. start minikube 1.24
2. create patch:
[code]
3. deploy with `chectl server:deploy --installer=operator --platfor

[2021-11-19 13:12] ibuziuk commented on #20574
looks like we need to provide more detailed packaging instructions in the docs. In the meantime, please take a look at  https://github.com/che-incubator/che-workspace-telemetry-woopra-plugin (it contains concrete working implementation of the  AnalyticsManager)

[2021-11-19 13:45] kollachaitanyakrishna commented on #20574
@ibuziuk : we would like to build our custom solution, so we did not implement the WOOPRA. Please help us in providing the right instructions.

[2021-11-19 14:09] ibuziuk commented on #20574
@kollachaitanyakrishna could you point to the repository that is used for development? in any case you can see the way https://github.com/che-incubator/che-workspace-telemetry-woopra-plugin is packaged and use a similar approach for your solution

[2021-11-19 14:25] kollachaitanyakrishna commented on #20574
@ibuziuk : please check, My sample Code: https://github.com/kollachaitanyakrishna/che-telemetry-pluginsample

[2021-11-19 14:25] l0rd commented on #20251
Issue on the devfile org side to make those devfiles compatible with Che https://github.com/devfile/api/issues/681 (the list of problems is in [this comment](https://github.com/devfile/api/issues/681)).

This is related to [odo and che different interpreations of the Devfile 2.x](https://github.com/devfile/api/issues/679).

[2021-11-19 14:51] #20783 closed

[2021-11-19 16:04] tsmaeder commented on #20538
Sorry if I sound like a broken record, but switching to linkless build everywhere for che-theia would make us independent of how theia is built. There is already a next PR in Theia that will turn on strict checking on the typescript compiler. If we built theia and che-theia separately, most of the recent changes would have been non-issues :shrug: We just need to bite the bullet and finally switch.

[2021-11-19 16:29] dkwon17 commented on #20574
@kollachaitanyakrishna I was able to package your sample code and complete the steps in the docs with this docker file: https://gist.github.com/dkwon17/d575574526af669def21ae5111a5058b (make sure to place correct values on lines 7 and 28).

This dockerfile builds a native executable image for your plugin and I think this should solve your original issue. Please also see https://quarkus.io/version/

[2021-11-19 16:59] l0rd opened #20798 "Fix developer images gh action image publish"
### Describe the bug

[Base](https://github.com/devfile/developer-images/tree/main/base/ubi8) and [universal](https://github.com/devfile/developer-images/tree/main/universal/ubi8) developer images are identical:

<img width="1244" alt="image" src="https://user-images.githubusercontent.com/606959/142661475-fffaa5a0-3a90-46c1-8954-a39c9a6a44ab.png">
<img width="1248" alt="image" src="https://user-im

[2021-11-19 17:07] l0rd opened #20799 "Universal Developer Image enhancements"
### Is your enhancement related to a problem? Please describe

Issues related to [Developers images](https://github.com/devfile/developer-images)
- gh action publishes the wrong "universal base image"
- there is not automated check for new versions the tools
- they are not compatible with  Red Hat internal image build tool
- they are not multi-arch
- there is no PR check against Che samples
- manu

[2021-11-19 17:29] tolusha commented on #20647
Don't close issue until doc is ready

[2021-11-19 22:37] dkwon17 commented on #20574
The steps above are for building the telemetry backend in native mode, but alternatively, you can try to build the image in JVM mode.

This line https://github.com/kollachaitanyakrishna/che-telemetry-pluginsample/blob/40b508a441dba6605b491c89448c0a49f8c3ab33/src/main/docker/Dockerfile.jvm#L39

should be changed to to:
[code]

then, the image can be built with:
[code]

[2021-11-21 13:44] svor opened #20800 "Resources Monitor Plugin doesn't work when devWorkspace engine is enabled"
### Describe the bug

Resources Monitor plugin doesn't display information about the pod's resources when the workspace is running.

### Che version

7.39@latest

### Steps to reproduce

1. Deploy che with dev-workspace engine
2. Start any workspace
3. Look at status bar where should be displayed an information from the Resources Monitor plugin

### Expected behavior

Information about resources s

[2021-11-21 13:47] svor commented on #20788
I've updated the description by removing Resource Monitor plugin form the list since the problem is'not related to requesting che-server API. Here is another issue for it: https://github.com/eclipse/che/issues/20800

[2021-11-21 13:49] svor commented on #20785
Issue about the problem 8 (Resources Monitor plugin): https://github.com/eclipse/che/issues/20800

[2021-11-22 06:40] bodarajeshkumar commented on #20773
@RomanNikitenko When I tried the above code, I am getting below error for rebinding. Can you please suggest
![image](https://user-images.githubusercontent.com/82795269/142815594-0905f60b-a7af-4032-9fac-4dcfa5ec9248.png)

[2021-11-22 07:07] skabashnyuk commented on #20790
@nils-mosbach Thank you for this report. Could you please share the way you've installed che and the devfile you've used?

[2021-11-22 07:45] mshaposhnik commented on #20790
For me it looks like git is unable to create `.git-credentials.lock` in the home folder

[2021-11-22 07:50] #18415 closed

[2021-11-22 07:50] #18535 closed

[2021-11-22 07:50] #18610 closed

[2021-11-22 07:50] #19025 closed

[2021-11-22 07:50] #19129 closed

[2021-11-22 07:50] #19227 closed

[2021-11-22 07:50] #19239 closed

[2021-11-22 07:50] #19270 closed

[2021-11-22 07:50] #19386 closed

[2021-11-22 07:50] #19525 closed

[2021-11-22 07:50] #19578 closed

[2021-11-22 07:50] #19609 closed

[2021-11-22 07:50] #19612 closed

[2021-11-22 07:50] #19630 closed

[2021-11-22 07:50] #19640 closed

[2021-11-22 07:50] #19644 closed

[2021-11-22 07:50] #19656 closed

[2021-11-22 07:50] #19665 closed

[2021-11-22 07:50] #19678 closed

[2021-11-22 07:50] #19728 closed

[2021-11-22 07:50] #19735 closed

[2021-11-22 08:56] svor opened #20801 "Not possible to start a workspace if DevWorkspace is enabled"
### Describe the bug

It's not possible to start any workspace in DevWorkspace.

DevWorkspace was deployed by `chectl server:deploy --installer=operator  --platform=openshift --workspace-engine=dev-workspace`

[code]
### Che version

next (development version)

### Steps to reproduce

1. Deploy DevWorkspace
2. Try to create a workspace from the dashboard or by using factory

### Expected behavior

[2021-11-22 08:58] benoitf commented on #20801
I've the same issue

[2021-11-22 09:07] artaleks9 commented on #19793
It seems, this is still actual
/remove-lifecycle stale

[2021-11-22 09:51] benoitf commented on #20801
As a workaround I reverted some commits of che-operator on a custom image (using https://github.com/eclipse-che/che-operator/commit/3d6568af51eb0a7b2281788d89a9128342deed7b )

[code]

and it's working again doing that

[2021-11-22 09:54] artaleks9 opened #20802 "Deploy Che is failed due to problem with che-operator"
### Describe the bug

Che deploy is fail :
[code]

### Che version

next (development version)

### Steps to reproduce

* Use `chectl` --> `chectl/0.0.20211119-next.53696c6 linux-x64 node-v12.22.7`
* Perform the commanf to deploy Che:
`chectl server:deploy --k8spodreadytimeout=600000 --k8spodwaittimeout=600000 --k8spoddownloadimagetimeout=600000 --listr-renderer=verbose --platform=minikube --che-o

[2021-11-22 09:59] sunix opened #20803 "Found '2' matching labeled namespaces"
### Describe the bug

when switching to per user namespaces some times ago, all my new workspaces were created in a new dedicated namespace. It was working well for a while.
However, after an upgrade, I cannot start any workspaces
[code]
I guess it is starting using the wrong one ... `che` instead of `che-ws-sunix`
and obviously I have some permission issue:

[code]

### Che version

7.39@latest

[2021-11-22 09:59] gazarenkov commented on #20528
Should it be fixed by https://github.com/devfile/devworkspace-operator/issues/613 ?

[2021-11-22 10:07] sunix commented on #20803
[code]

[code]

[2021-11-22 10:07] svor commented on #20801
cc @tolusha @mmorhun

[2021-11-22 10:16] sunix commented on #20803
trying
[code]

[2021-11-22 10:19] skabashnyuk commented on #20803
@sunix can you remove labels and annotations from `che` namespace?

[2021-11-22 10:29] tolusha commented on #20802
Fixed by https://github.com/che-incubator/chectl/pull/1850

[2021-11-22 10:29] #20802 closed

[2021-11-22 10:38] azatsarynnyy commented on #19823
Fixed by https://github.com/eclipse-che/che-theia/pull/1111

[2021-11-22 10:38] #19823 closed

[2021-11-22 10:48] svor commented on #19709
Need to re-visit the issue

[2021-11-22 11:18] metlos commented on #20528
To use `CheCluster` CR for configuring DevWorkspaces, we first need support for this feature in DWO. Once DWO can use the certificates in gitconfig, we can then update our `usernamespace` controller that transforms the configuration in `CheCluster` CR into configuration within the user's namespace where it can be picked up by DWO.

Updating the `usernamespace` controller should not be hard, but we

[2021-11-22 11:37] #20765 closed

[2021-11-22 12:49] tolusha opened #20804 "Improve a way how operator handle CheCluster CR"
### Is your enhancement related to a problem? Please describe

There several areas where we can improve how operator handles CheCluster CR.
Some changes aren't possible until we support OCP 3.11 and use corresponding `apiextensions.k8s.io/v1beta1` API.

### Describe the solution you'd like

- [x] Operator must not update CR spec from the code. It is only allowed to update status fields.
- [x] Use

[2021-11-22 13:03] benoitf opened #20805 "Che-Theia plugins that include a volume don’t work out of the box with DevWorkspaces"
### Describe the bug

This is a follow-up issue of https://github.com/eclipse/che/issues/20785 for Problem 6.

When a CheTheia plug-in declares some volumeMounts, there is no automated volumes added if there is no volumes on the DevWorkspace

### Che version

next (development version)

### Steps to reproduce

Start from <che-host>#https://github.com/l0rd/spring-petclinic?devfilePath=.devfilev2.ya

[2021-11-22 13:24] svor commented on #19827
It should be fixed now since che-theia supports 1.53.2 API https://github.com/eclipse-theia/theia/pull/9959

[2021-11-22 13:24] #19827 closed

[2021-11-22 13:28] svor commented on #19735
/remove-lifecycle stale

[2021-11-22 13:33] svor commented on #11877
/remove-lifecycle stale

[2021-11-22 13:34] svor commented on #18134
/remove-lifecycle stale

[2021-11-22 13:34] nickboldt commented on #20799
Note: downstream in https://issues.redhat.com/browse/CRW-2463 and https://issues.redhat.com/browse/CRW-2464 we are required to have 3 images:
* udi for tech preview support
* udi for GA support w/ openjdk
* udi for GA support w/ openj9

Or, we need a way to differentiate which devfile tiles in the dashboard are GA-supported / tech-preview. Perhaps a red outline or a ribbon on the tiles?

[2021-11-22 13:35] RomanNikitenko commented on #20773
It looks strange, we have few places with rebinding on the `che-theia side` - it works well

<img width="474" alt="Screenshot 2021-11-22 at 15 29 41" src="https://user-images.githubusercontent.com/5676062/142870625-5fa678d6-17a4-4c3b-abe1-7d2d930b35e4.png">

You could find such cases as examples within `che-theia`.

Also I don't see the problem on my side

<img width="784" alt="Screenshot 2021-11-

[2021-11-22 13:36] apupier opened #20806 "Resizing terminal tab is messing up the content of quarkus:dev"
### Describe the bug

- start a quarkus ap pin dev mode `mvn quarkus:dev` in a terminal
- try resizing the terminal tab
- the content is messed up

### Che version

7.36

### Steps to reproduce

- start a quarkus ap pin dev mode `mvn quarkus:dev` in a terminal
- try resizing the terminal tab
- the content is messed up

### Expected behavior

the terminal contetn displays the correct infomration at

[2021-11-22 13:37] svor commented on #17980
/remove-lifecycle stale

[2021-11-22 13:38] svor commented on #19774
/remove-lifecycle stale

[2021-11-22 13:44] benoitf commented on #19774
it's discussed at devfile org API level: https://github.com/devfile/api/issues/346

[2021-11-22 14:02] nickboldt commented on #19953
Required for implementing UDI image (if we want to have ALL the tech preview and GA supported stuff in the same container).

See:
* https://github.com/devfile/api/issues/616
* https://issues.redhat.com/browse/CRW-2463
* https://issues.redhat.com/browse/CRW-2464

[2021-11-22 14:05] nickboldt commented on #19633
This is required for implementing UDI image (if we want to have ALL the tech preview and GA supported stuff in the same container). (Or else we need to do https://github.com/eclipse/che/issues/19953.)

As long as there's a visual indicator of quality/support/source (eg., community/tech preview/RH supported) then I'm happy.

See:
* https://github.com/devfile/api/issues/616
* https://issues.redhat.c

[2021-11-22 14:26] mmorhun commented on #20758
So, my suggestion is the following:

To which registries will the value of, for example, `DevfileRegistryCpuLimit` be applied? It is not clear.

Maybe name it `devfileregistry.InternalRegistryEnabled` ?

[2021-11-22 14:30] makambalaji opened #20807 "v2 devfiles are not working on Eclipse Che version : 7.39.1-SNAPSHOT"
### Describe the bug

Unable to start the eclipse che workspace with devfile v2 sample : https://raw.githubusercontent.com/che-samples/java-spring-petclinic/devfilev2/devfile.yaml,

### Che version

7.39@latest

### Steps to reproduce

1. Login to eclipse che dashboard
2. Navigate to Create Workspace page
3. Click on Custom workspace tab
4. Enter the devfile url as "https://raw.githubusercontent.c

[2021-11-22 15:06] mmorhun commented on #20801
Fixed

[2021-11-22 15:06] #20801 closed

[2021-11-22 15:06] benoitf opened #20808 "Missing link to Che dashboard in Che-Theia in DevWorkspace mode"
### Is your enhancement related to a problem? Please describe

This is a follow-up issue of https://github.com/eclipse/che/issues/20785 for Problem 5.

As workspaces are now opened in new window/tab, there is no longer a link to Che dashboard in Che-Theia

### Describe the solution you'd like

We should:

1. Add a command inside the command palette to open the Dashboard
2. When closing the workspa

[2021-11-22 17:21] ibuziuk commented on #20806
@azatsarynnyy could you please take a look?

[2021-11-22 17:41] bodarajeshkumar commented on #20773
@RomanNikitenko No, I don't see this error in che-theia project. I created a theia-hello-world-extension and copied your code  there for testing and there I am seeing this error. I will try to find I am missing anything. Please let me know if you have any thoughts.

[2021-11-22 20:10] nickboldt commented on #20774
Merged (because no controls over main branch, apparently. I'm shocked, I tell ya! I expected more PRs, less "sure just merge that".

- [x] che-operator: https://github.com/eclipse-che/che-operator/blob/main/Dockerfile#L13
- [x] backup: https://github.com/che-dockerfiles/che-backup-server-rest/commit/4f241f3854238f8e4d6f56fed18ffe8154fb9135
- [x] imagepuller operator: https://github.com/che-incubat

[2021-11-23 04:44] bodarajeshkumar commented on #20773
@RomanNikitenko I found the issue. It is because of not specifying the type of rebind object in the parameters. Following code fixed the issue. Thank you very much for your guidance.
[code]

[2021-11-23 05:37] #20751 closed

[2021-11-23 05:39] amisevsk commented on #20749
Closing as https://github.com/devfile/devworkspace-operator/pull/675 is merged

[2021-11-23 05:39] #20749 closed

[2021-11-23 06:59] l0rd opened #20809 "Resource monitoring plugin enhancements"
### Is your enhancement related to a problem? Please describe

The resource monitoring plugin is valuable shows to developers CPU and memory usage in their cloud-based developer environment. That has a lot of value because CPU and memory requirements are hard to specify when developing an application but there is still room for improvements here.

### Describe the solution you'd like

Here are a f

[2021-11-23 07:37] makambalaji commented on #20807
@ibuziuk didn't catch, that it DevWorkspace shouldn't be enabled. this is part of the use case related to pr: https://github.com/eclipse/che/issues/20616

[2021-11-23 08:29] sparkoo opened #20810 "Che host should be on subdomain on minikube with devworkspaces"
### Describe the bug

Deploying on minikube with devworkspaces enabled, che is exposed on minikube IP directly, like `https://192.168.64.13.nip.io/`. However, when deploying without devworkspaces, it is deployed on subdomain, like `https://che-eclipse-che.192.168.64.13.nip.io/`.

### Che version

next (development version)

### Steps to reproduce

1. deploy on minikube with `chectl server:deploy -

[2021-11-23 08:43] apupier opened #20811 "Deprecate VS Code wsdl2rest"
### Is your task related to a problem? Please describe

VS Code wsdl2rest is now deprecated

### Describe the solution you'd like

mark VS Code wsdl2rest as deprecated so that it can be remove din later release

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-23 09:18] tolusha opened #20812 "It is not possible to restore operator to a different PostgreSQL version"
### Describe the bug

It is not possible to restore operator to a different PostgreSQL version

### Che version

next (development version)

### Steps to reproduce

1. `chectl server:deploy --platform minikube --version 7.36.2`
2. `chectl server:update --version 7.38.2`
3. `chectl server:restore --rollback`

PostgreSQL pod failed to start
[code]

### Expected behavior

Eclipse Che is successfully

[2021-11-23 09:29] l0rd commented on #20383
We are using internal (unsecured) URL. Closing.

[2021-11-23 09:29] #20383 closed

[2021-11-23 10:00] apupier commented on #20811
asked here how to do that https://mattermost.eclipse.org/eclipse/pl/qxdgwoeoeprgxrpy54akwxbnny

[2021-11-23 10:02] apupier opened #20813 "Upgrade VS Code Language Support for Apache Camel to 0.1.1"
### Is your enhancement related to a problem? Please describe

New release of VS Code  Language Support for Apache Camel available

### Describe the solution you'd like

use newer version 0.1.1

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-23 10:02] benoitf commented on #20787
Hello,

so I reproduced the problem but the caused by is
[code]

It's about a deprecation on TLS
https://www.oracle.com/java/technologies/javase/11-0-11-relnotes.html#JDK-8202343
https://aws.amazon.com/blogs/opensource/tls-1-0-1-1-changes-in-openjdk-and-amazon-corretto/

In main branch, devfile is using a che-java image using Java 11.0.10 while in Universal Developer Image java version is 11.0.12

[2021-11-23 11:25] kollachaitanyakrishna commented on #20574
@dkwon17 , @ibuziuk

I followed your instructions, but I am getting below error while running on local image.
exec java -Dquarkus.http.host=0.0.0.0 -Dquarkus.http.port=4167 -Djava.util.logging.manager=org.jboss.logmanager.LogManager -XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40 -XX:+ExitOnOutOfMemoryError -cp . -jar /deployment

[2021-11-23 11:26] kollachaitanyakrishna commented on #20574
![Screenshot 2021-11-21 at 10 48 11 AM](https://user-images.githubusercontent.com/64516009/143016230-803767e6-9cb9-44ad-9cba-9cbccebfc3f1.png)
)

[2021-11-23 11:27] kollachaitanyakrishna commented on #20574
![Screenshot 2021-11-23 at 4 57 10 PM](https://user-images.githubusercontent.com/64516009/143016319-b7e341f7-82d1-43b6-a9dd-b1f4f0d907dd.png)

[2021-11-23 11:28] kollachaitanyakrishna commented on #20574
[logs.txt](https://github.com/eclipse/che/files/7587585/logs.txt)
log while launching the a workspace.

[2021-11-23 13:06] RomanNikitenko opened #20814 "linkless build is broken"
### Describe the bug

I followed the steps of [the corresponding documentation](https://github.com/eclipse-che/che-theia/blob/main/linkless-build.md#building-against-theia-source-code) and detected that the `linkless` build is broken.  Please see the errors in the screenshots section

### Che version

7.39@latest

### Steps to reproduce

Please follow the steps of [the corresponding documentation]

[2021-11-23 13:11] benoitf commented on #20785
Problem 7:

I started a workspace using `https://<che-host>#https://github.com/che-samples/java-spring-petclinic/tree/devfilev2`
stopped and deleted the workspace and then started again using the same factory link
but the project has been cloned as expected

@l0rd if you can reproduce the problem or share the factory link you used ?

[2021-11-23 13:14] #20596 closed

[2021-11-23 13:14] #20805 closed

[2021-11-23 13:14] RomanNikitenko commented on #20538
@tsmaeder

Thank you, Thomas, for the idea. I think we could avoid problems which I described above using `linkless` build.
Unfortunately, the `linkless` build is broken even for the `latest` of the `che-theia`, so it's NOT related to our current problems with build system.
I created a separate issue for that problem https://github.com/eclipse/che/issues/20814

[2021-11-23 13:17] ibuziuk commented on #20090
@max-cx yes, plus we will need to document the new telemetry mechanism in https://www.eclipse.org/che/docs/che-7/extensions/telemetry/

Discussed the implementation details with @olexii4 and @akurinnoy
The proposal is the following:

1. introduce a new property in CRD 'defaultPlugins' which could contain plugin id references from the registry or raw links to the plugin yaml e.g.
[code]
in this cas

[2021-11-23 13:44] benoitf commented on #20090
AFAIK all meta.yaml will. be removed from plugin registry once we switch to DevWorkspace.
so you should not rely on meta.yaml

[2021-11-23 13:51] ibuziuk commented on #20090
yeah, good point - we need to reference URL with the device 2.0 formatted version, instead of meta.yaml
plugins ids e.g. `github/vscode-pull-request-github/latest` should be still ok to use as references, right?

[2021-11-23 14:00] sparkoo opened #20815 "Chectl does not print CAcert file when deploying with devworkspaces on minikube"
### Describe the bug

When I'm deploying on minikube with devworkspaces enabled, chectl does not print CAcert that is needed to import into the browser. It is hard to find on filesystem without any hint.

### Che version

next (development version)

### Steps to reproduce

1. start minikube
2. deploy with `chectl server:deploy --installer=operator --plaftorm=minikube --workspace-engine=dev-workspa

[2021-11-23 14:03] l0rd commented on #20090
@ibuziuk I am ok with this approach but consider a couple of things:

1. `devWorkspace` section in the CRD should disappear because everything will be devWorkspace
2. The default plugins will depend on the editor, so maybe it would be better

So maybe something like

[code]

[2021-11-23 14:18] RomanNikitenko opened #20816 "che-in-che development is broken"
### Describe the bug

It's impossible to use `che-in-che` development, there are errors at building the assembly. Please see the errors in the `screenshots` section.

### Che version

7.39@latest

### Steps to reproduce

1. Start a workspace
2. Clone `theia` repo
3. It makes sense to do `git reset --hard a73a746bfdefc115edb506f2351b5f4e3f267077` as the current version of `che-theia` [depends on th

[2021-11-23 14:55] tolusha commented on #20815
We don't print message to import certificate in single-host mode.
see details https://github.com/eclipse/che/issues/18082

[2021-11-23 15:17] RomanNikitenko opened #20817 "linkless build generates incorrect tsconfig for assembly"
### Describe the bug

I followed the steps of [the corresponding documentation](https://github.com/eclipse-che/che-theia/blob/main/linkless-build.md#developing-against-theianext) and detected that:
- on the step 2 `Generate the che-theia assembly folder` the `compile.tsconfig.mst.json` is created. I believe the name of the file is incorrect - it should be `compile.tsconfig.json` instead, otherwise

[2021-11-23 15:34] RomanNikitenko opened #20818 ""che-theia clean" command fails for linkless build"
### Describe the bug

I tried to use `che-theia clean` command for `linkless` build.
It failed, please see the error in the `screenshots` section.

### Che version

7.39@latest

### Steps to reproduce

Try to use `che-theia clean` command for the `linkless` build.
[The relative documentation](https://github.com/eclipse-che/che-theia/blob/main/linkless-build.md#developing-against-theianext) to run

[2021-11-23 15:44] sparkoo commented on #20815
I see, thanks. closing

[2021-11-23 15:44] #20815 closed

[2021-11-23 16:16] ibuziuk commented on #20574
@kollachaitanyakrishna  could you clarify how are you running the image?

it is expected that the image is part of the meta.yaml - https://www.eclipse.org/che/docs/che-7/extensions/creating-a-telemetry-plugin/#_creating_a_meta_yaml_for_your_plug_in

and the reference to the plugin is added to the CR via `CHE_WORKSPACE_DEVFILE_DEFAULT__EDITOR_PLUGINS`

[code]

telemetry plugin is expected to be dev

[2021-11-23 16:45] sparkoo opened #20819 "Dashboard error after first login "forbidden. User cannot list devworkspaces""
### Describe the bug

After first login into Che with devworkspaces, dashboard shows an error that it can't list devworkspaces, because user does not have permissions to do so.

Issue is caused by dashboard asking for devworkspaces before the namespace is fully provisioned by che-server. As seen in the screenshot, Dashbaord asks che-server to provision the namespace (selected top request in networ

[2021-11-23 18:00] ibuziuk commented on #20807
raw support of the devfiles v2 has been merged today - https://github.com/eclipse-che/che-dashboard/pull/408
@akurinnoy can provide more details, but this flow is expected to be working on nighlies now

[2021-11-23 18:45] nickboldt commented on #20178
Ah, so no change then. This is the current state of affairs for CRW:

[2021-11-23 19:14] dkwon17 commented on #20574
Could you please also check the logs from the `kollatelemetrypluginhwj` container from the workspace pod?

[2021-11-23 19:21] nickboldt commented on #20774
Done, as long as I didn't break anything :)

- [x] operator: https://github.com/eclipse-che/che-operator/actions/workflows/next-build.yaml
- [?] backup: https://quay.io/repository/crw/backup-rhel8?tab=tags (no next build workflow, only PR checks!)
  - [ ] add next build workflow?
- [x]  imagepuller operator: https://github.com/che-incubator/kubernetes-image-puller-operator/actions/workflows/next-b

[2021-11-23 20:12] nils-mosbach commented on #20790
**Permission denied - Get credential storage lock**

I double checked that by copying the files (credential-store and git-config) as deployed by che to a fresh ubuntu container locally with git installed. Cloning still fails (Authentication failed), lock file error is gone. So, I'm not sure if the error message that belongs to the lock file will cause the authentication issue.

**Installation of C

[2021-11-23 20:17] nickboldt commented on #20774
Couple more tweaks in these workflows:

* https://github.com/eclipse/che-jwtproxy/actions/runs/1496502045 (fix wrong quay publishing credentials)
* https://github.com/che-dockerfiles/che-backup-server-rest/runs/4304269860?check_suite_focus=true (push :next tag as well as the short sha)

[2021-11-23 20:59] #20774 closed

[2021-11-24 00:01] dkwon17 opened #20820 "Provide documentation for enabling DevWorkspace telemetry and update existing docs"
### Is your task related to a problem? Please describe

There is documentation for enabling telemetry and developing a telemetry plugin for workspaces created from the Che-server engine, but none for DevWorkspaces.

### Describe the solution you'd like

After https://github.com/eclipse/che/issues/20090 is complete, it would be great if the [creating a telemetry plugin](https://www.eclipse.org/che/

[2021-11-24 07:27] metlos commented on #20811
Can this be closed now?

[2021-11-24 08:12] akurinnoy commented on #20807
@makambalaji devfiles v2 in che-server mode are supported for factory flow only. The workaround here is to create workspaces using a factory link like `che-host/dashboard#https://raw.githubusercontent.com/che-samples/java-spring-petclinic/devfilev2/devfile.yaml`.

@ibuziuk do you think if it makes sense to support this use case as well?

[2021-11-24 08:21] akurinnoy commented on #18092
/remove-lifecycle stale

[2021-11-24 08:21] apupier commented on #20811
No, the PR has not been merged.

[2021-11-24 08:58] benoitf opened #20821 "Dashboard is not reporting error when requirements are not satisfied"
### Describe the bug

Try to load a DevWorkspace from the repository https://github.com/benoitf/spring-petclinic/tree/error-cpu

Expect to see workspace booting or reporting an error

Here is what we got: (workspace never reach error or failure state and is not displaying the k8s events)

https://user-images.githubusercontent.com/436777/143206018-d3bd4c61-3b7b-4cee-a90a-5ea2bd515294.mp4

while loo

[2021-11-24 10:33] #20705 closed

[2021-11-24 11:16] kollachaitanyakrishna commented on #20574
@ibuziuk : I create the YAML file to the public cloud storage and update the config withe below command as
`kubectl patch configmap che --type merge -p '{"data":{"CHE_WORKSPACE_DEVFILE_DEFAULT__EDITOR_PLUGINS":"<URL>/b/kollabucket/o/metafilemeta.yaml"}}' -n eclipse-che`

[2021-11-24 11:26] skabashnyuk commented on #20790
might be related to https://github.com/eclipse/che/issues/20642

[2021-11-24 12:00] nils-mosbach commented on #20790
I'm not sure, from what I can see that belongs to git lfs and doesn't affect authentication. A closer look at the merged request https://github.com/eclipse-che/che-theia/pull/1236#issue-1027497916 doesn't show changes in code that's used by the authentication or credential storage.

Before enabling the GitLab login flow, we also hadn't had any issues working with private projects by entering a use

[2021-11-24 12:03] skabashnyuk commented on #20790
@mshaposhnik  is investigating if the https://github.com/eclipse-che/che-theia/pull/1236#issue-1027497916 overrides the necessary changes in `.gitconfig` that enable credential store.

[2021-11-24 12:12] musienko-maxim opened #20822 "Figure out reasons and fix failing of the HappyPath tests for the CHE dashboard and DWO projects"
### Is your task related to a problem? Please describe

After resolving problems with cloud providers for PROW CI:
We get a strange error when we run HappyPath test. For instance: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_release/23945/rehearse-23945-pull-ci-eclipse-che-che-dashboard-main-v8-dashboard-happy-path/1463444053726072832.
We have 2 problems:
* Sometimes

[2021-11-24 12:14] kollachaitanyakrishna commented on #20574
@dkwon17
We are unable to launch the workspace \, may I know the steps to be followed to get the logs for the mentioned container that are getting created under a workspace.

[2021-11-24 12:33] nils-mosbach commented on #20790
While digging a little depper, I think I actually found the issue, or at least a possible solution to the problem.

Credential storage file contains the repository url and token by scheme `https://{{username}}:{{oauth-token}}@{{git-url}}` which doesn't work in my case. I found a stack-overflow topic ([Using GitLab token to clone without authentication](https://stackoverflow.com/questions/25409700/

[2021-11-24 12:55] mshaposhnik commented on #20790
Great catch. That's because we process both personal access token and oauth tokens same way.
Sso, for PAT-s correct pattern is `user:pass` while for OAuth it must be `oauth2:pass`. And, for GitHub, `user:pass` works just well with OAuth tokens too. Now we need some time to try to find a correct solution :)

[2021-11-24 14:19] disaster37 commented on #20381
It's fix by PR [#183](https://github.com/eclipse-che/che-server/pull/183)

[2021-11-24 14:19] #20381 closed

[2021-11-24 14:53] nils-mosbach commented on #20790
Nice, thanks a lot.

[2021-11-24 17:31] brianking opened #20823 "Remove Artik page on website"
### Is your task related to a problem? Please describe

It looks like the Artik project is dead, so we should remove the page https://www.eclipse.org/che/extend/artik/.

### Describe the solution you'd like

https://www.eclipse.org/che/extend/artik/ is no more.

### Describe alternatives you've considered

Some way of archiving the page or having a redirect (to where?), if such mechanisms exist.

[2021-11-24 18:03] svor opened #20824 "[che-devfile-registry]Release DevWorkspaceTemplates in devfile registry"
### Is your task related to a problem? Please describe

After solving the issue to pre-build DevWorkspace templates for devfiles v2 in devfile registry #19718, each devfile folder will contain  two generated files which describe DevWorkspace: `devworkspace-che-theia-latest.yaml` and `devworkspace-che-theia-next.yaml`.

We need to improve release process to update `devworkspace-che-theia-latest.yam

[2021-11-24 19:42] svor commented on #19718
Links of DevWorkspaceTemplates should be added into `meta.yaml` at build time
and put generated files into devfile folder.
For example final `meta.yaml` file for Go devfile should be like:

[code]

[2021-11-24 20:01] npw3202 commented on #20726
sorry, somehow this didn't show up on my GitHub issues :-/ I'll have a PR sent by EOD hopefully

[2021-11-24 21:42] azatsarynnyy commented on #20806
Probably, it's because the last line (`Press [r] ...`) is pinned (not scrolled).
It looks like another Xterm issue. There are several ones already registered in upstream Theia, e.g. https://github.com/eclipse-theia/theia/issues/10093
Upgrading the Xterm version may help. But it's not planned for the nearest future.

[2021-11-24 22:15] #19718 closed

[2021-11-25 07:23] tolusha commented on #20726
@npw3202
Cool! Thank you

[2021-11-25 07:41] AndrienkoAleksandr commented on #20758
I think this feature can be still usefull for plugin and devfile registry links and maybe for dashboard deployment.

[2021-11-25 08:32] tolusha commented on #20758
It is deprecated in favor of `DisableInternalClusterSVCNames`

[2021-11-25 08:34] benoitf opened #20827 "Dashboard fails with 'updatedLink.startsWith is not a function'"
### Describe the bug

Try to load a DevWorkspace and we get this message

### Che version

next (development version)

### Steps to reproduce

Try to load a DevWorkspace and we get this message

### Expected behavior

No exception

### Runtime

OpenShift

### Screenshots

_No response_

### Installation method

chectl/next

### Environment

other (please specify in additional context)

### Eclipse

[2021-11-25 09:03] svor opened #20828 "[devfile-registry] The content of meta.yaml is in JSON format"
### Describe the bug

If we check the content of meta.yaml, its content is in JSON format:
[code]

### Che version

next (development version)

### Steps to reproduce

Open any meta.yaml file in the devfile folder

### Expected behavior

It should be in yaml format

### Runtime

OpenShift

### Screenshots

_No response_

### Installation method

chectl/next

### Environment

Linux

### Eclipse Che

[2021-11-25 09:20] vinokurig commented on #20827
Workspace doesn't start, dashboard shows `Waiting for workspace to start` loader, but nothing happens.

[2021-11-25 09:23] svor opened #20829 "Use generated DevWorkspaceTemplates from the devfile registry to create workspaces"
### Is your task related to a problem? Please describe

Since **Pre-build DevWorkspace templates for devfile v2 of devfile registry** #19718 was fixed, devfile registry generates and provides DevWorkspaceTemplate+DevWorkspace for each devfile v2.

In devfile registry it could be recognized in `index.json`, for example for Go devfile it looks like:
[code]

It means that each stack which provides de

[2021-11-25 09:29] l0rd opened #20830 "DevWorkspace Switch - Endgame Plan"
### Is your enhancement related to a problem? Please describe

This epic is supposed to replace the [DevWorkspace STEP 3 milestone.](https://github.com/eclipse/che/milestone/140) It lists the issues required to switch from the che-server to the DevWorkspace, as well as the acceptance criteria to check .

## ACCEPTANCE CRITERIA

### Green field deployment and configuration

- **DONE** OperatorHub `

[2021-11-25 10:11] svor commented on #20794
@apupier if you'd like to contribute this, I'd be happy to review the PR

[2021-11-25 10:11] #13299 closed

[2021-11-25 10:12] svor commented on #20793
@apupier is it something you'd like to contribute?

[2021-11-25 10:15] skabashnyuk opened #20831 "Private Gitlab factories with OAuth2 provider without keycloak"
### Is your task related to a problem? Please describe

Today Gitlab private factories that are required OAuth2 authorization are redirected to keycloak.
However, in devworkspaces keycloak is no longer a mandatory infrastructure element.

### Describe the solution you'd like

OAuth2 configuration should be mounted as a file https://github.com/eclipse/che/issues/20496.
Embedded OAuth2 integration s

[2021-11-25 10:15] cjsteele commented on #20789
Might be completely irrelevant, but we encountered this error by creating users without specifying an email address in keycloak. Keycloak allows you to create the users like this but any attempt to login with that user would then cause the stacktrace as posted above.

[2021-11-25 10:19] ibuziuk commented on #19633
The current plan is:
- devfile registry will provide relevant tags for each devfile
- if tags contain 'community' or 'tech-preview' dashboard wiill add a relevant label in the OperatroHub style e.g.

![image](https://user-images.githubusercontent.com/1461122/143423000-2316794a-89df-4f58-8701-15af00c162f2.png)

- if there are no `community` or `tech-preview` tags the devfile is displayed on UD in a

[2021-11-25 11:07] #20827 closed

[2021-11-25 11:43] skabashnyuk opened #20832 "Provision SSH keys that are stored in the PostgreSQL database to the user's namespace in a known to devworkspace-controller format"
### Is your task related to a problem? Please describe

The goal of this task is to mount existing SSH keys that used to be mounted in Che7 workspaces to devworkspaces.
See more about format @JPinkney 's comment https://github.com/devfile/devworkspace-operator/issues/613#issuecomment-978202198

### Describe the solution you'd like
Implement new NamespaceConfigurator. in such a form
[code]

### Des

[2021-11-25 11:47] skabashnyuk commented on #20789
Email is a mandatory thing for Eclipse Che with Keycloak.  I think it can't be avoided. That is one of the primary keys.

[2021-11-25 12:35] ibuziuk commented on #20254
@l0rd my understanding is that we need to close this issue and open a new one to be aligned with the endgame plan (after migration, workspaces can be restarted without the loss of data persisted in PVs)

[2021-11-25 13:12] #20193 closed

[2021-11-25 13:53] sparkoo commented on #20633
fixed by https://github.com/eclipse-che/che-server/pull/171

[2021-11-25 13:53] #20633 closed

[2021-11-25 15:01] tolusha commented on #20573
Closed as WON'T FIX

[2021-11-25 15:01] #20573 closed

[2021-11-25 15:38] svor commented on #20829
depends on Devfile registry support for Devfile v2 zip files #20720

[2021-11-25 16:32] ibuziuk commented on #20574
kubectl patch configmap che --type merge -p '{"data":{"CHE_WORKSPACE_DEVFILE_DEFAULT__EDITOR_PLUGINS":"<URL>/b/kollabucket/o/metafilemeta.yaml"}}' -n eclipse-che

This configuration should be part of CheServer CR, not configmap as stated in the docs - https://www.eclipse.org/che/docs/che-7/extensions/creating-a-telemetry-plugin/#_updating_che_to_reference_your_telemetry_plug_in

[2021-11-25 16:41] kollachaitanyakrishna commented on #20574
I followed as per these instructions, it worked for me to get added, please check,

https://github.com/eclipse/che/issues/20589#issuecomment-935695891

[2021-11-25 17:22] nickboldt commented on #19690
Note that in CRW 2.14 we will consume lombok 1.18.22 built from sources. https://github.com/redhat-developer/codeready-workspaces-images/blob/crw-2-rhel-8/codeready-workspaces-plugin-java8/build/build_lombok.sh

Not sure if that makes it easier to excempt lombok from security warning.

[2021-11-25 20:00] dkwon17 commented on #20574
@kollachaitanyakrishna to check the logs, running the workspace in verbose mode may work: https://www.eclipse.org/che/docs/che-7/end-user-guide/investigating-failures-at-a-workspace-start-using-the-verbose-mode/#starting-a-che-workspace-in-verbose-mode_che

You can also try to set `CHE_INFRA_KUBERNETES_POD_TERMINATION__GRACE__PERIOD__SEC` in the CR to prevent the workspace pod from terminating, in

[2021-11-25 20:10] nickboldt commented on #20121
PR merged, but action is failing to run the script and failing to fail.
[code]
-- https://github.com/eclipse-che/che-release/runs/4325941984?check_suite_focus=true

[2021-11-25 20:25] rgrunber commented on #19690
This should have also been fixed in https://github.com/redhat-developer/vscode-java/issues/1965 (since v0.82.0). The prompt should be ignored as long as the resource originates from outside the workspace.

[2021-11-25 21:18] l0rd opened #20833 "Failure to fetch available workspaces the first time login in and open Che dashboard"
### Describe the bug

DevWorkspace is enabled. The first time I open the Dashboard after a fresh deployment of Che the following 2 error messages are shown.

### Che version

next (development version)

### Steps to reproduce

Deploy Che with DevWorkspace enabled, login and open the dashboard

### Expected behavior

No error message should appear

### Runtime

OpenShift

### Screenshots

<img widt

[2021-11-25 23:55] l0rd opened #20834 "IDE containers shown as user containers in Che-Theia"
### Describe the bug

For workspaces created using the DevWorkspace, all the containers are listed among user containers.

### Che version

next (development version)

### Steps to reproduce

Install Che with DevWorkspace enabled. Start one of the existing samples.

### Expected behavior

Only the container specified in the devfile should appear among the user containers: we should avoid to expose

[2021-11-26 07:16] skabashnyuk commented on #20833
Duplicate https://github.com/eclipse/che/issues/20819 ?

[2021-11-26 08:29] sparkoo commented on #20833
Yes, looks like same issue. I'm closing this one as in #20819 there is also analysis of the issue.

[2021-11-26 08:29] #20833 closed

[2021-11-26 09:07] #20808 closed

[2021-11-26 09:48] RomanNikitenko commented on #20538
Update:
I have got a new problem related to dependencies:

<img width="1487" alt="Screenshot 2021-11-26 at 11 35 34" src="https://user-images.githubusercontent.com/5676062/143559359-be7621b7-8d07-4ac1-91ec-dec516dab3cc.png">

Note:
- after my last pushing changes to the PR (8 days ago) - the `Happy Path` tests were happy, CI Docker build was successful and so on
- yesterday I started to reproduce

[2021-11-26 10:41] l0rd commented on #20833
👍 thanks @skabashnyuk @sparkoo

[2021-11-26 10:45] benoitf commented on #20538
maybe you could try to add `acorn-import-assertions` into https://github.com/eclipse-che/che-theia/blob/8a48c2fbd803e0c37548cd4720cdd7282a13b3a6/generator/src/production.ts#L33

[2021-11-26 10:46] xbaran4 opened #20835 "Dashboard does not try to authenticate when factory/resolver returns 401 SCM Authentication required"
### Describe the bug

If che-server's factory/resolver returns 401 SCM Authentication required, dashboard does not try to authenticate. Authentication is mandatory in order to create workspace from private repository through factory.

### Che version

other (please specify in additional context)

### Steps to reproduce

Issue was found while working on github oauth. Steps to reproduce can be found

[2021-11-26 10:46] nickboldt commented on #20828
good news is that you can open a json file and dump it to yaml with yq

``
yq -y . < /tmp/meta.json.yaml > /tmp/meta.actual.yaml
[code]

[2021-11-26 10:48] svor commented on #20828
@nickboldt  thanks, should be a quick fix

[2021-11-26 10:49] benoitf commented on #20828
well, it's just that when we're calling yq, by default yq output to json rather than yaml

[2021-11-26 11:51] #20647 closed

[2021-11-26 12:31] olexii4 commented on #20734
It was fixed with
https://github.com/eclipse-che/che-dashboard/pull/397/files#diff-2d556cdfe15eb82ec2a340ff2714e8eafc110ea6ce5377b1724eeec628ea4f43R273

![2021-11-26_14_30_09](https://user-images.githubusercontent.com/6310786/143581441-9b710688-964f-4846-a260-7e509e8a2287.png)

[2021-11-26 12:31] #20734 closed

[2021-11-26 13:46] RomanNikitenko commented on #20538
I still don't see what caused the problem, but I applied [the workaround](https://github.com/eclipse/che/issues/20538#issuecomment-979873113) and it fixed build for my PR.

Thanks, Florent!

[2021-11-26 14:40] michalbali256 commented on #19827
Hi,

I have tried to use the vscode-languageclient 7.0.0 and I have problems with the `textDocument/semanticTokens/full` request - it simply does not come.

The same extension works fine in vscode - on every didChange request, the client sends the `textDocument/semanticTokens/full` as well. On che nightly, the request simply does not get sent.

It seems as if the DocumentSemanticTokensProvider doe

[2021-11-26 16:23] nickboldt commented on #20121
Fixed with https://github.com/eclipse-che/che-release/pull/55; improved with https://github.com/eclipse-che/che-release/pull/55

[2021-11-26 16:23] #20121 closed

[2021-11-26 17:18] nickboldt commented on #19953
PRs to add tags to meta.yaml so we can use that data to display labels on devfile tiles:
* https://github.com/eclipse-che/che-devfile-registry/pull/523
* https://github.com/redhat-developer/codeready-workspaces/pull/632

[2021-11-29 07:47] ScrewTSW commented on #18904
Issue has been fixed using Sanitizer implementation, closing.
https://github.com/eclipse/che/commit/9d947842ed49d176b8d8dd7a387d6e9bf77d462b#diff-b1650117ae04112b8b387fe820270cd338a7dc23568783ace70682d9f23922e0

[2021-11-29 07:47] #18904 closed

[2021-11-29 08:08] mmorhun opened #20836 "Improve code of SFTP back up flow"
### Is your task related to a problem? Please describe

Current flow is not optimal. We should improve it.

### Describe the solution you'd like

Refactor code that is responsible for SFTP backup flow

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-29 08:23] gaocegege opened #20837 "feature request: Support custom Postgres PVC size"
### Is your enhancement related to a problem? Please describe

No

### Describe the solution you'd like

Now we hard-coded the PVC requests to 1Gi. It is better to support the custom size.

https://github.com/eclipse-che/che-operator/blob/b4930b5054c0bb951e8b3fcd5ab859a8eb671c7e/pkg/deploy/postgres/postgres.go#L78

I expect that the value should be configurable.

### Describe alternatives you've c

[2021-11-29 08:24] gaocegege commented on #20837
https://github.com/eclipse-che/che-operator/issues/1193

[2021-11-29 09:57] #20835 closed

[2021-11-29 10:17] tolusha commented on #20671
https://github.com/eclipse/che/issues/13785

[2021-11-29 10:20] tolusha commented on #14973
chectl doesn't support `--installer helm` anymore.
We introduced another Helm Charts [1] in [2]

[1] https://github.com/eclipse-che/che-operator/tree/main/helmcharts
[2] https://github.com/eclipse-che/che-operator/pull/1184

[2021-11-29 10:20] #14973 closed

[2021-11-29 10:31] dmytro-ndp opened #20838 "Adapt PR check Happy path and nightly tests on CRW Jenkins CI to be run against Eclipse Che with DW enabled by default"
### Is your task related to a problem? Please describe

There is a plan to have DW enabled by default in Eclipse Che 7.41.0: https://github.com/eclipse/che/milestone/140

### Describe the solution you'd like

We need to reflect the changes in Eclipse Che E2E testing pipelines on CRW Jenkins CI:
https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/

DevWorkspace Happy Path t

[2021-11-29 10:52] nils-mosbach commented on #20790
@mshaposhnik any chance the fix (https://github.com/eclipse-che/che-server/pull/185) will make it to the next release (7.40)?

[2021-11-29 10:54] tolusha commented on #20758
Related issue https://github.com/eclipse/che/issues/20759

[2021-11-29 11:02] tolusha commented on #20166
Close as CAN'T REPRODUCE

[2021-11-29 11:02] #20166 closed

[2021-11-29 11:04] tolusha commented on #19243
Fixed in https://github.com/eclipse-che/che-operator/pull/1190 https://github.com/eclipse-che/che-operator/pull/1189 https://github.com/eclipse-che/che-operator/pull/1188 https://github.com/eclipse-che/che-operator/pull/1166

[2021-11-29 11:05] tolusha commented on #20529
Fixed in
- https://github.com/eclipse-che/che-operator/pull/1190
- https://github.com/eclipse-che/che-operator/pull/1189
- https://github.com/eclipse-che/che-operator/pull/1188
- https://github.com/eclipse-che/che-operator/pull/1166

[2021-11-29 11:05] #20529 closed

[2021-11-29 11:09] #20440 closed

[2021-11-29 12:47] #20689 closed

[2021-11-29 12:49] dmytro-ndp commented on #19210
@benoitf: Happy path tests are pretty stable on CRW Jenkins.

WDYT about closing the issue?

[2021-11-29 12:49] #19210 closed

[2021-11-29 14:43] tolusha opened #20839 "Che Deploy Sprint #211"
#### Timeframe
Dec 1 - Dec 21

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |

#### Holidays / events:

Dec 1 - PTO Mykola
Dec 21 - PTO Anatolii

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse Che 7.40.x
CRW 2.15 is based on Ec

[2021-11-29 15:02] nickboldt opened #20840 "Refactor async storage image names in quay to better align with CSV names and downstream"
### Is your task related to a problem? Please describe

Task spawned from https://issues.redhat.com/browse/CRW-1422

Today we have upstream repo https://github.com/che-incubator/workspace-data-sync which creates 2 container images:

* https://quay.io/repository/eclipse/che-sidecar-workspace-data-sync?tab=tags
* https://quay.io/repository/eclipse/che-workspace-data-sync-storage?tab=tags

But the CS

[2021-11-29 18:11] l0rd commented on #20785
@benoitf I can reproduce problem n7 using factory link `$CHE_HOSTNAME/#https://github.com/l0rd/spring-petclinic` on a cluster bot default cluster. I could not reproduce it on minikube.

Project clone init container logs:
[code]

[2021-11-29 18:17] #20244 closed

[2021-11-29 18:55] amisevsk commented on #20785
@l0rd This could be the result of the project-clone container running twice -- e.g. the flow could be
1. Project-clone container runs, does some part of the clone process, ends up exiting with nonzero exit code
2. Project-clone init container is restarted, sees existing folder, and exits 0, allowing workspace to start successfully

The only way I can think of to detect this is potentially either w

[2021-11-30 07:13] skabashnyuk opened #20841 "Che-server isn't reconfigured after adding OAuth Config secret"
### Describe the bug

After adding OAuth secret to the eclipse-che namespace che-operator isn't reconfigure che-server with OAuth settings.

### Che version

7.39@latest

### Steps to reproduce

1. deploy che `chectl server:deploy --platform=openshift --installer=operator --workspace-engine=dev-workspace` and add secret
[code]
2. che-server didn't reconfigured.

### Expected behavior

At step 2 ch

[2021-11-30 07:29] tolusha commented on #20837
Hi.
That's not a big deal to make it configurable.
But could you describe a case when pvc 1Gi is not enough for PostgreSQL data?
Would it help you `spec.storage.pvcClaimSize` to configure pvc size for workspace data.

[2021-11-30 07:32] tolusha commented on #20841
caused by https://github.com/eclipse-che/che-operator/pull/1166

[2021-11-30 07:55] gaocegege commented on #20837
Some public cloud providers' cloud disk does not support 1Gi. The minimum storage size is 10Gi. Thus the PVC cannot be provisioned successfully.

[2021-11-30 08:02] tolusha commented on #20837
I see. Thank you!

[2021-11-30 08:07] tolusha commented on #20735
Close as WON'T FIX

[2021-11-30 08:07] #20735 closed

[2021-11-30 08:44] ibuziuk opened #20842 "Che Controller Sprint 211"
This issue collects work items of the Controller Team for Sprint 211 (1 December - 21 December).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (December 1st)

The previous sprint https://github.com/eclipse/che/issues/20731

## Sprint goals
- Move forward towards the DevWorpspace switch Endgame plan - https://github.com/eclipse/che/issues/20830
- Add

[2021-11-30 08:45] benoitf opened #20843 "Move devfile converter to a 3rd party library"
### Is your task related to a problem? Please describe

For now it's used in che-theia and dashboard.
It should be moved out to a separate repository and be a 3rd party library

### Describe the solution you'd like

move it out and publish it

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-30 08:57] #20748 closed

[2021-11-30 09:26] coutantal commented on #20529
Thanks for you work !

[2021-11-30 10:02] tolusha commented on #20810
@sparkoo

In this case `single-host` is chosen automatically

It is `multi-host` mode

I look deeply in the code and realized that we always exposed url on subdomains without namespace prefix in single-host mode. Honestly I don't want to change this behavior.  Could you describe exact problem you have?

[2021-11-30 10:39] vinokurig opened #20844 "[Dev-Workspace] Workspace doesn't start with a timeout error"
### Describe the bug

Workspace doesn't start in Che wit the latest Dev Workspace Operator.

### Che version

7.39@latest

### Steps to reproduce

1. Start Che with DWO: `chectl server:deploy --installer=operator --platform=minikube --workspace-engine=dev-workspace`
2. Apply the latest DWO: Go to the `devworkspace-operator` project and run `make install`
3. Start any workspace.

See: workspace doe

[2021-11-30 10:47] tolusha commented on #20681
I think we have to delegate `edit` cluster roles like was done here
https://github.com/eclipse-che/che-operator/blob/5c6d066f183f740be6075380026e5adc1339739d/pkg/controller/che/workspace_namespace_permission.go#L159-L168

[2021-11-30 10:49] tolusha commented on #20681
Might be related
https://github.com/eclipse/che/issues/20396

[2021-11-30 10:53] sparkoo commented on #20810
I care only about devworkspaces. I'm having an issue running it with dex, because we're setting subdomain for oauth callback https://github.com/che-incubator/chectl/blob/main/resources/dex/configmap.yaml#L24. But looking at that, we might fix it in dex configuration.

[2021-11-30 10:59] tolusha commented on #20810
Let's fix in Dex config than if you don't mind

[2021-11-30 11:06] #20843 closed

[2021-11-30 11:12] ibuziuk commented on #20844
@vinokurig could you please provide openshift events?

[2021-11-30 11:17] sparkoo commented on #20810
@tolusha https://github.com/che-incubator/chectl/pull/1864

[2021-11-30 11:50] ibuziuk opened #20845 "As a user, I want to have a possibility to convert old devfile v1 workspaces to the new v2 DevWorkspaces"
### Is your task related to a problem? Please describe

As a user, I want to have a possibility to convert old devfile v1 workspaces to the new v2 DevWorkspaces, when DevWorkspace engine is enabled.

### Describe the solution you'd like

1. Admin enables DevWorkspace engine and switches to the AllNamepsaces mode, based on SOP https://github.com/eclipse/che/issues/20614
2. User logs in to Eclipse C

[2021-11-30 12:19] #20810 closed

[2021-11-30 12:28] vinokurig commented on #20844
I can't get any events from my minikube except some DWO logs:
[code]

[2021-11-30 12:37] ibuziuk commented on #20845
@l0rd could you please review and share your thoughts?
The suggested solution expects that che-server workspace API (GET, DELETE, UPDATE) is still working with the DevWorkspae engine enabled.

[2021-11-30 13:03] benoitf commented on #20505
added by https://github.com/eclipse-che/che-plugin-registry/pull/1093

[2021-11-30 13:03] #20505 closed

[2021-11-30 13:23] mkuznyetsov commented on #18771
PR to cover remaining items in checklist https://github.com/eclipse/che/pull/20846

[2021-11-30 13:28] sparkoo opened #20847 "[che-auth] document native user auth"
### Is your task related to a problem? Please describe

We've done many changes how authentication and authorization works now in Che with DevWorkspaces.

### Describe the solution you'd like

 - Review current documentation and make it up to date
 - Describe how auth works on Kubernetes and how to customize it (connect to github)
 - Describe current routing architecture (oauth-proxy, kube-rbac-pr

[2021-11-30 13:32] guydog28 commented on #20337
@mmorhun what is the proper way to set this in the Che operator yaml?

[2021-11-30 13:40] #20841 closed

[2021-11-30 13:47] dmytro-ndp commented on #20671
@tolusha: our Happy path tests and CRW E2E tests are widely using next workspace commands [1]:
- workspace:start
- workspace:stop
- workspace:delete
-  workspace:list

So, could you continue supporting those commands from **chectl**?

[1] https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/blob/master/vars/crwctlUtil.groovy

[2021-11-30 13:50] mmorhun commented on #20647
The problem was in caches that's managed by Controller Runtime framework used in Che Operator. It caches all objects of the kind if the operator gets at least one object. It had been worked fine, but when Che Operator was switched to watch all namespaces (this PR) it started to cache all objects in cluster. We spot the bug only on a big cluster.
To fix the issue we limit set of objects that the Op

[2021-11-30 13:56] mmorhun commented on #20337
@guydog28 just add `ADD_COMPONENT_READINESS_INIT_CONTAINERS` environment variable with value `true` into Che Operator deployment:
[code]
and add the following under `env` of the Opreaator container:
[code]
After that, Che Operator pod should restart and add init containers to Keycloak and Che Server deployments.

[2021-11-30 14:21] benoitf commented on #20785
so tried on cluster-bot and was able to reproduce the error

When starting the new workspace, there is an error in the controller after starting the second workspace

so, there is a pod starting and project-clone is launched but then that pod is stopped with a failure in the controller:

[code]
and then there is another deployment/pod recreated and it's in this second pod that we have the 'already

[2021-11-30 14:39] svor opened #20848 "Plugins Sprint 211"
## Sprint 211 (1 December - 21 December)

### Blockers

### Epics

### CRW
* [x] Migrate devfiles v1 to v2 [CRW-2412](https://issues.redhat.com/browse/CRW-2412) @svor
* [x] Failed to fetch plugins and registries in CRW instance created in OCP 4.9 cluster [CRW-2490](https://issues.redhat.com/browse/CRW-2490) @svor
* [ ] Pre-build DevWorkspace templates for devfile v2 of devfile registry [CRW-2500](

[2021-11-30 15:15] rhopp commented on #20822
@musienko-maxim Quickly looking at this I see the IDP on the cluster is "htpasswd-eclipse-che" (https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_release/23945/rehearse-23945-pull-ci-eclipse-che-che-dashboard-main-v8-dashboard-happy-path/1463444053726072832/artifacts/dashboard-happy-path/test/artifacts/e2e/Login_test_Login/screenshot-Login.png).
But the

[2021-11-30 15:25] musienko-maxim commented on #20822
Thx, Radim for your comment. I see, so looks like IDP item can appear with some delays. For accelerating this for the test I am going to try rollout **oauth-openshift ** deployment. I hope it should help. I tried it several times it worked. So I've just added this to the script. Just make sure that it does not break the main test flow. After this I'll create PR

[2021-11-30 17:22] nickboldt commented on #18771
PR merged. So I guess we run this on Wed and see what happens :)

[2021-11-30 17:31] dmytro-ndp commented on #20756
Duplicates https://github.com/eclipse/che/issues/18773

[2021-11-30 17:31] #20756 closed

[2021-11-30 17:32] l0rd opened #20850 "Support v2.2 Devfiles"
### Is your enhancement related to a problem? Please describe

The OpenShift Developer Console will include some new examples that have Devfiles withouth [placeholder outerloop component](https://github.com/devfile/api/issues/666). But those Devfiles will use v2.2 of the spec.

Trying to start a workspace from this repo https://github.com/devfile-samples/devfile-sample-java-springboot-basic, on ch

[2021-11-30 18:41] l0rd commented on #20830
@skabashnyuk @azatsarynnyy @svor @tolusha if you haven't yet please update the TASKS with your milestone 3 issues
@dmytro-ndp please review the acceptance criteria

[2021-11-30 19:18] pyrefrac16 opened #20851 "Che restore not possible when using own keycloak (and own database"
### Describe the bug

The chectl server:restore is stuck in the "Restore Che database" step.

### Che version

7.39@latest

### Steps to reproduce

I have a che setup where I use an external keycloak and an own database. Regarding the logs (see below) this may have an impact on my current problem.

I use the operator installation.
[code]

1. I created a backup using
`chectl server:backup -r "s3:..

[2021-11-30 21:52] azatsarynnyy opened #20852 "Open `/projects` folder at Che-IDEA startup"
### Is your task related to a problem? Please describe

Each time the user starts a workspace Che-IDEA shows the welcome page. It requires the user to do extra steps to open the `/projects` folder.

### Describe the solution you'd like

By default, Che-IDEA should open the `/projects` folder automatically, without the required extra steps in the welcome dialog.

### Describe alternatives you've co

[2021-11-30 23:15] JPinkney commented on #20844
https://github.com/eclipse-che/che-operator/pull/1207 should fix this

[2021-12-01 00:18] amisevsk commented on #20785
The listed errors shouldn't impact things, as far as I know (they're just attempting to update out-of-date resources -- it's a no-op from the perspective of the cluster).

If the pod is being created, then terminated and recreated, it sounds like the deployment is changing for some reason. If you can get me credentials to a cluster that reproduces, I can look into it more.

[2021-12-01 07:05] #20727 closed

[2021-12-01 07:24] sparkoo opened #20853 "[che-auth] default enable native auth on kubernetes with devworkspaces"
### Is your enhancement related to a problem? Please describe

Once native authentication is implemented on kubernetes, we should enable it by default when devworkspaces are enabled. This is last piece missing https://github.com/eclipse-che/che-operator/pull/1185 but to enable native auth, one must pass CheCluster patch with `nativeUserMode:true` set.

### Describe the solution you'd like

enable

[2021-12-01 07:30] azatsarynnyy opened #20854 "Editors Sprint 211"
December 1 - December 21

---

#### Production-ready support of JetBrains IDEs as a Che editor
- #20852
- #20863

#### Bugs
- #20861
- #20678

#### Stabilize Che-Theia against upstream
- #20538
---
### Unplanned/Blockers
- [x] could not find valid versions of @theia/plugin [CRW#2566](https://issues.redhat.com/browse/CRW-2566)

---
## Team
| Name  | Availability | x0.6
| -- | -- | --
| @vzhukovs

[2021-12-01 08:31] tolusha commented on #20853
Did I understand correctly that operator is supposed to deploy Dex once `nativeUserMode` is enabled?

[2021-12-01 09:05] sparkoo commented on #20853
The goal is to enable `nativeUserMode` without the need of any checluster patch when you deploy on minikube with devworkspaces and we need Dex for that.

I'm only saying that on openshift, we're doing this logic in che-operator. However, here with dex it is more complicated and it will probably have to be in chectl as well. You better know how and where to implement that.

[2021-12-01 09:23] svor opened #20855 "[che-devfile-registry]Release DevWorkspaceTemplates in devfile registry"

[2021-12-01 09:23] #20855 closed

[2021-12-01 09:45] tolusha commented on #20853
I see. Then it is chectl task to create checluster with `devworkspace: enable` and it is relatively easy.

[2021-12-01 09:46] tolusha commented on #20853
Should it be done before https://github.com/eclipse-che/che-operator/pull/1185 ?

[2021-12-01 09:50] sparkoo commented on #20853
no. It should be done after because it would break default deployment without that patch

[2021-12-01 09:53] benoitf opened #20856 "devfile library converter handling of v2.2 to v1"
### Is your task related to a problem? Please describe

As reported by https://github.com/eclipse/che/issues/20850, we need to convert v2.2 devfiles to v1 but there are some limitations as we can't support for example composite commands or image components

### Describe the solution you'd like

The library should:
1. remove any `image` components during conversion
2. remove commands associated to

[2021-12-01 10:58] svor opened #20857 "[devWorkspace ] Adapt openshift-connector plugin to avoid requesting che-server API"
When devWorksapce is enabled, the k8s configuration file should be injected into each container - https://github.com/eclipse/che/issues/20782.

So, in devWorkspace we don't need [openshift-authentication-plugin](https://github.com/che-incubator/che-theia-openshift-auth) to login into the cluster.

When devWorkspace engine is enabled, we have to provide another che plugin **vscode-openshift-connect

[2021-12-01 11:01] #20828 closed

[2021-12-01 11:24] l0rd opened #20858 "Rework developers images to make them compatible with Red Hat internal image build tool (aka brew)"
### Is your enhancement related to a problem? Please describe

Che samples devfiles use the [universal developer image](https://github.com/devfile/developer-images/). The image is built with 2 Dockerfiles ([base](https://github.com/devfile/developer-images/blob/main/base/ubi8/Dockerfile), [universal](https://github.com/devfile/developer-images/blob/main/universal/ubi8/Dockerfile)) that have invali

[2021-12-01 11:24] svor opened #20859 "[devWorkspace] Adapt ssh-plugin to avoid requesting che-server API"
### Is your task related to a problem? Please describe

For now [ssh-plugin](https://github.com/eclipse-che/che-theia/tree/main/plugins/ssh-plugin) uses che-server API to work with ssh keys (generate, store, read, ...). When deWorkspace engine is enabled it shouldn't request che-server API.

### Describe the solution you'd like

Ssh plug-in should create/use secrets as reported there: https://gith

[2021-12-01 11:32] svor opened #20860 "[devWorkspace] Adapt github-auth plugin to avoid requesting che-server API"
### Is your task related to a problem? Please describe

For now [github-auth](https://github.com/eclipse-che/che-theia/tree/main/plugins/github-auth-plugin) plugin uses che-server API to get user and token. When deWorkspace engine is enabled it shouldn't request che-server API.

### Describe the solution you'd like

[2021-12-01 11:32] #20679 closed

[2021-12-01 12:04] azatsarynnyy opened #20861 "Che-Theia hangs before showing the project sources tree"
### Describe the bug

It takes about 10 sec. after Che-Theia is loaded to the browser and before the project tree is rendered.

### Che version

next (development version)

### Steps to reproduce

Start a new workspace with the following factory URL:
`<che-host>#https://github.com/l0rd/spring-petclinic?devfilePath=.devfilev2.yaml`

It takes about 10 sec. before the project tree is rendered. During

[2021-12-01 12:07] azatsarynnyy commented on #20785
The issue for investigating problem 2 - https://github.com/eclipse/che/issues/20861

[2021-12-01 12:13] l0rd opened #20862 "Build and publish multi-platform developer images"
### Is your enhancement related to a problem? Please describe

We are currently only building `linux/amd64` [developer images](https://github.com/devfile/developer-images).

### Describe the solution you'd like

- Identify supported platforms for every tool included in the image and add specify it in a devtools.json file
- Adapt the asset build/download script to only process the tools that are su

[2021-12-01 12:22] tolusha commented on #20671
`auth` and `workspace` commands doesn't work with devworkspace.
We can keep them for a while (for testing purpose) and then remove anyway.
Deploy and QE team will have to adjust their tests not to use those commands

[2021-12-01 12:38] l0rd commented on #20845
I would not start the new DevWorkspace. I would just create it.

We should document how to retrieve those old v1 devfiles in case of problems and add a link to that doc as well.

I would also describe what is expected if a conversion error occurs: we should probably restore the v1 devfile and provide a link to a documentation article that explains how convert a v1 devfile to v2.

[2021-12-01 12:46] azatsarynnyy opened #20863 "Rework Che-IDEA image to sidecar-less model"
### Is your task related to a problem? Please describe

There's a new workspace model a.k.a. "sidecar-less" - https://github.com/eclipse/che/issues/20435
We need to support it in our Che-IDEA editor.

#### How should it work?
The user's Devfile includes a [UDI-based](https://github.com/devfile/developer-images/) container, e.g.:
https://github.com/che-samples/java-guestbook/blob/b1561506771419c61e

[2021-12-01 12:53] ibuziuk commented on #20845
makes sense.
- in case of the successful conversion old workspace is updated with the 'converted' attribute and is not displayed on the UD.
- in case of failure the DevWorkspace is not created. Error message on the UD points to the documentation

[2021-12-01 12:54] ibuziuk commented on #20254
Closing in favour of https://github.com/eclipse/che/issues/20845

[2021-12-01 12:54] #20254 closed

[2021-12-01 13:13] #20731 closed

[2021-12-01 14:42] ScrewTSW commented on #20842
Hello guys.
I had to do some last-minute changes, closed some issues, had to move some to fix version 2.x and opened two new ones:
closed:
https://issues.redhat.com/browse/CRW-1485 Migrate build of crw-osde2e container image
https://issues.redhat.com/browse/CRW-2338 Fix notification center issues - unable to close notifications causes test crash
moved:
https://issues.redhat.com/browse/CRW-1664 Aut

[2021-12-01 15:16] ibuziuk commented on #20782
@l0rd are you ok with postponing this for DevWorkspace feature freeze?

[2021-12-01 15:20] svor commented on #20752
Superseded by #20848

[2021-12-01 15:20] #20752 closed

[2021-12-01 15:20] tolusha opened #20865 "Don't upgrade existing Che instances to a new version with DevWorkspace engine enabled"
### Is your task related to a problem? Please describe

It is not possible to upgrade them automatically. Upgrading leads to broken functionally.
Users should follow manual steps to upgrade existed instances [1]

### Describe the solution you'd like
1. installer `operator`:
`chectl` must check if devworkspace is enabled in a new templates and reject upgrading if so

2. installer `olm`:
OLM rejects

[2021-12-01 15:27] tolusha opened #20866 "OperatorHub stable channel must use "all-namespace" install mode"
### Is your task related to a problem? Please describe

OperatorHub stable channel must use "all-namespace" install mode.

### Describe the solution you'd like

- [x] Set allNamespaces install mode for a stable channel.
- [x] Drop `tech-preview` channels
- [ ] Provide migration guide from single to all namespaces mode
- [x] Adopt chectl
- [x] Adopt CI

### Describe alternatives you've considered

[2021-12-01 15:29] tolusha commented on #20830
done

[2021-12-01 15:44] #20741 closed

[2021-12-01 15:44] #20740 closed

[2021-12-01 15:46] #20837 closed

[2021-12-01 16:51] dmytro-ndp commented on #20830
Hello Mario,

A couple of notices to consider:
1. `and Theia with no plugins and no` looks incomplete
1. Will Eclipse Che 7.41.0 support DevWorkspace disabled mode?
1. What is the target infra to deploy? Is it minikube (using helm), openshift 4.x using chectl or OperatorHub, ocp 3.11 ?

Next capabilities looks also critical / blocker, IMHO:
1. Section "**Green field deployment and configuration**"

[2021-12-01 18:27] guydog28 commented on #20337
@mmorhun will this environment variable survive a chectl update? I was thinking there would be something on the CheCluster CRD that would create this env var on the operator deployment.

[2021-12-01 19:01] guydog28 commented on #20337
also, @mmorhun, this solves one of the issues (waiting for postgres/keycloak on start with an init container) but does not add liveness probes to che in the case that one of those goes down later, after a successful start.  with a livenessProbe on the che deployment, it would see che is in an error state from postgres going down and terminate the pod - then when the deployment creates a new pod, t

[2021-12-01 19:11] RickJWagner commented on #20177
/label px-visited

[2021-12-01 20:46] l0rd commented on #20830
Thank you @dmytro-ndp, this is great.

[2021-12-01 21:44] l0rd commented on #20866
@tolusha I think this morning we discussed that it may not be possible to publish "all-namespace" mode AND [avoid automatic updates](https://github.com/eclipse/che/issues/20865). If that's confirmed we should just stop publishing new releases on OperatorHub.

[2021-12-02 00:33] l0rd commented on #20782
This is important. The openshift-connector requires it to login the user automatically. Not having it means having a regression that will break some Red Hat workshops. However, if including it in current sprint is not realistic, we can postpone it for later (Che 7.43 / CRW 2.16). cc @svor

[2021-12-02 08:01] tolusha commented on #20552
Helm Charts are available at https://artifacthub.io/packages/helm/eclipse-che/eclipse-che

[2021-12-02 08:21] benoitf opened #20867 "Revisit create policies and short URL syntax (for DevWorkspace mode)"
### Is your enhancement related to a problem? Please describe

it's really nice to use http://che-server#git-repo but if I want to specify the policies I need to use /f=url format while I could just provide http://che-server#git-repo?policies.create=peruser

But policies are also error prone to remember the flag name

Also you might expect to have by default the workspace opening again instead of

[2021-12-02 08:27] l0rd commented on #20850
Created this PR https://github.com/devfile-samples/devfile-sample-java-springboot-basic/pull/2 to fix some issues with https://github.com/devfile-samples/devfile-sample-java-springboot-basic

[2021-12-02 09:00] mmorhun commented on #20337
@guydog28 I am +1 for a field in the CR, but there are other opinions (cc @tolusha please explain your thought).

[2021-12-02 11:21] tolusha commented on #20866
I've just checked. OLM doesn't allow to update from single namespace to all namespace mode

`OwnNamespace InstallModeType not supported, cannot configure to watch own namespace`

[2021-12-02 11:25] svor commented on #20720
We finished work to pre-build DevWorkspace templates for devfile v2 in devfile registry #19718. But this templates don't have `projects` section which references on zip file. Currently we are working on it.

To support AirGap scenarios, the final step should be done on the dashboard side to apply generated DevWorspace objects from the registry: [Use generated DevWorkspaceTemplates from the devfile

[2021-12-02 11:40] tolusha commented on #20866
@l0rd
So, we can publish new releases on OperatorHub for a stable channel with allNamespace install mode.
Should we remove `tech-preview` channel ?

[2021-12-02 12:29] #20790 closed

[2021-12-02 13:30] benoitf commented on #20829
The key to use for devWorkspaces is based on
https://github.com/eclipse-che/che-dashboard/blob/e16fb06277b4522d1ca4d4b7960fe2775882a664/packages/dashboard-frontend/src/store/Plugins/devWorkspacePlugins/index.ts#L192

if settings['che.factory.default_editor'] === 'eclipse-che/theia/next'

pickup  devWorkspaces."eclipse/che-theia/next" content and create objects on kubernetes from the linked file

[2021-12-02 13:40] benoitf opened #20870 "CheCode is not opening the correct folder when starting"
### Is your enhancement related to a problem? Please describe

A PR has been merged opening PROJECTS_ROOT env variable
https://github.com/che-incubator/che-code/pull/2

but this folder is not correct. For example we need to open the folder where the project has been cloned and not the parent folder.

### Describe the solution you'd like

Detect the projects being cloned when starting and then open

[2021-12-02 14:10] nickboldt commented on #20631
So with this change, once a CRW instance is updated from 'latest' (no DW) to 'all-namespaces' (DW enabled)...

* existing workspaces are stopped

How does a user restart the workspace? Will it be automatically converted to v2.1 for them?

Or, will they have to manually fix things, in one of two ways:

a) manually update the devfile in the dashboard editor to upgrade it to v2.1 (and then commit the

[2021-12-02 14:12] dmytro-ndp commented on #20830
@l0rd: it's clear that we are going to support conversion of workspaces with **devfile v1**, linked to github projects, to **devfile v2** (an issue https://github.com/eclipse/che/issues/20784).

How about conversion of workspaces with **devfiles v1**, which have been obtained code from zipped project, keeping source code in persistent storage and devfile content in Che PostgreSQL database ?
AFAIK,

[2021-12-02 14:13] tolusha commented on #20758
IN_PROGRESS:

[code]

[2021-12-02 14:14] nickboldt commented on #20845
Could we...
* add a link to the v1->v2 conversion guide into the dashboard so it's prominently displayed any time a v1 devfile is loaded?
* add a link to the v1->v2 conversion guide into the welcome page so any workspace that opens will have a reminder about how to convert older workspaces
* add a link to the v1->v2 conversion guide into [somewhere else that's prominent] ?

[2021-12-02 14:19] ibuziuk commented on #20845
at this point, it is not what is going to be the desired UX
this is really a PM call. The previous plan was https://github.com/eclipse/che/issues/20254 which more or less related to https://github.com/eclipse/che/issues/20845#issuecomment-984665539

[2021-12-02 14:29] nickboldt commented on #20830
I don't think we need to worry about workspaces loaded from sample project code (dashboard devfile tiles).

But we DO need a story for these two possible paths when updating to 2.15 / DW enabled:

- [ ] make it :100: clear that the update to 2.15 will break access to existing workspaces (so SAVE NOW or LOSE IT!), and/or
- [ ] provide a way to get data out of the postgres db where dirty workspace c

[2021-12-02 14:30] benoitf commented on #20830
Converting che-server workspaces should use the 'stored definition/model' so there is no specific 'zip project case'

[2021-12-02 14:42] dmytro-ndp commented on #20830
@benoitf: I meant the zipped project case like:
[code]

[2021-12-02 14:47] #20870 closed

[2021-12-02 14:47] svor commented on #20782
@ibuziuk @l0rd should it be removed from the milestone STEP3 ?

[2021-12-02 14:56] benoitf commented on #20830
@dmytro-ndp I still don't see why it's a particular case.

[2021-12-02 15:08] dmytro-ndp commented on #20631
@nickboldt : there is an issue about further actions: https://github.com/eclipse/che/issues/20845

[2021-12-02 16:08] benoitf commented on #20830
The converter library takes a devfile v1 object as input so you can convert a devfile of an existing workspace (no matter of git, github or zip)

[2021-12-02 16:24] nickboldt commented on #20830
Maybe he's asking about **dirty** workspaces w/ code that was **previously imported** from the v1 devfile?

I assume for devfile samples listed in the Dashboard, there's no expectation that dirty workspace changes to a sample project will be persisted / supported after conversion to v2.1.

And for fresh workspaces created from new samples... well, they'll use the v2.1 devfiles instead, and will im

[2021-12-02 16:30] dmytro-ndp commented on #20830
@benoitf: let's say I have workspace v1 with zip project.
How should I apply converter library to convert it to v2?

[2021-12-02 16:31] benoitf commented on #20830
@dmytro-ndp https://github.com/eclipse/che/issues/20845 ?

[2021-12-02 21:22] metlos opened #20871 "Configure devworkspace namespace with user name and email in gitconfig"
### Is your enhancement related to a problem? Please describe

Che server supports storing the user's name and email in the gitconfig mounted to the Che7 workspaces. This is currently not possible for devworkspaces because devworkspace operator doesn't support this.

### Describe the solution you'd like

Once support for this lands in DWO, we should decide how to implement this in Che. We can eith

[2021-12-03 06:25] kvermacalibo opened #20872 "Directly Open the project without including all the workspace"
### Is your enhancement related to a problem? Please describe

When I open the single workspace, then rest of the workspaces still visible.
'domain_named/dashboard/#/ide/user_id/workspace' shows all the workspaces under the same user.

### Describe the solution you'd like

Only show respective workspace, when 'domain_named/dashboard/#/ide/user_id/workspace' will call.

### Describe alternatives yo

[2021-12-03 07:12] xbaran4 opened #20873 "Add documentation explaining to use Che OAuth callback URL in GitHub OAuth app"
### Is your task related to a problem? Please describe

Documentation should explain what Authorization callback URL to use when creating GitHub OAuth app to authorize Che and Che is deployed in native auth without identity provider (keycloak).

### Describe the solution you'd like

Add documentation explaining to use Che OAuth callback URL.

### Describe alternatives you've considered

N/A

### A

[2021-12-03 09:07] dmytro-ndp commented on #20830
@l0rd: will Eclipse Che continue support of DevWorkspace disabled mode (with devfile v1, and back conversion v2 > v1) from 7.41.0?

[2021-12-03 09:43] #20762 closed

[2021-12-03 09:51] #20766 closed

[2021-12-03 09:53] skabashnyuk opened #20874 "Che Platform Sprint #211"
### Is your task related to a problem? Please describe

#### Timeframe
Dec3 - Dec 24

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse Ch

[2021-12-03 10:09] l0rd commented on #20845
cc @kasturi1820

[2021-12-03 10:48] #20797 closed

[2021-12-03 11:21] sparkoo commented on #20635
fixed by https://github.com/eclipse-che/che-operator/pull/1185

[2021-12-03 11:21] #20635 closed

[2021-12-03 11:29] l0rd commented on #20866
@tolusha 👍 to remove `tech-preview` channel

[2021-12-03 12:29] l0rd commented on #20758
A few comments:

1. Wouldn't it better to move server.route and server.ingress to auth.gateway?

2. Shouldn't we rename `server.workspaceClusterRole` as `server.workspaceServiceAccountClusterRole`?

3. Shouldn't we rename `server.workspaceNamespaceDefault` as `server.workspaceNamespaceName`? Calling it `Default` means that it can be customized but that's not possible anymore.

4. Do we need `enabl

[2021-12-03 13:27] nickboldt opened #20875 "update theia dependencies to remove npm libs with security issues"
### Is your task related to a problem? Please describe

As reported in https://issues.redhat.com/browse/CRW-2385 and https://bugzilla.redhat.com/show_bug.cgi?id=2007557, we have a dependency on a nodejs library which is potentially risky.

The theia image (as built in CRW 2.13) contains the following versions of ansi-regex:
[code]

### Describe the solution you'd like

I don't know if this depende

[2021-12-03 13:34] nickboldt opened #20876 "update dashboard dependencies to remove npm libs with security issues"
### Is your task related to a problem? Please describe

As reported in https://issues.redhat.com/browse/CRW-2384 and https://bugzilla.redhat.com/show_bug.cgi?id=2007557, we have a dependency on a nodejs library which is potentially risky.

The dashboard image (as built in CRW 2.13) contains the following 4 versions of ansi-regex:
[code]

For Che 7.40.0, we have 3 versions included:

[code]

### De

[2021-12-03 13:41] benoitf opened #20877 "[theia-devworkspace handler] store projects section when generating templates"
### Is your enhancement related to a problem? Please describe

For now the projects section is empty
It should generate the projects section in the devfile.yaml

### Describe the solution you'd like

Option to include or not the `projects` section
When using the CLI it should include the projects section while when running inside dashboard it shouldn't

[code]

if we add flag like npx devworkspace

[2021-12-03 13:44] nickboldt commented on #20730
duped by newer issue https://github.com/eclipse/che/issues/20876

[2021-12-03 13:44] #20730 closed

[2021-12-03 13:50] benoitf opened #20878 "Use a newer 2.2.0 devfile schema when validating"
### Is your enhancement related to a problem? Please describe

There is a 2.2.0 schema but it's an old version

### Describe the solution you'd like

we should use a more recent version of the schema

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-03 14:08] dmytro-ndp opened #20879 "Build "che-e2e" test image when run Happy path tests PR check in eclipse/che repo"
### Is your task related to a problem? Please describe

[CRW Jenkins CI pipeline](https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/pr-check/job/che-tests-pr-check/) is running E2E Happy path tests using https://quay.io/eclipse/che-e2e:next image.

As a result, E2E Happy path tests are not covering changes in Dockerfile and entrypoint.sh files.

### Desc

[2021-12-03 15:22] tolusha opened #20880 "Failed to start `quay.io/eclipse/che-devfile-registry:7.40.0` on OpenShift after update from 7.39.0"
### Describe the bug

Failed to start `quay.io/eclipse/che-devfile-registry:7.40.0` on OpenShift

### Che version

other (please specify in additional context)

### Steps to reproduce

Failed during pre-release testing
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/eclipse-che_che-operator/1218/pull-ci-eclipse-che-che-operator-7.40.x-v8-che-operator-update/1466758810507939840

#

[2021-12-03 15:29] tolusha commented on #20758
1. I don't have a good answer. I would move it rather to dashboard.
2. +
3. +
4. Yes. We need this at least for devfile registry. We can configure external registries urls a log with bundled one.
5. I make sense to rename enable -> disabled in some cases
6. Not yet. But I would like to have similar functionality with devfile registry.

[2021-12-03 15:48] l0rd commented on #20872
@kvermacalibo thank you for your feedback. I am afraid we do not have enough information to help you though. Can you please provide a more detailed explanation.

Please include some logs and screenshot and let us know how:
- what are you trying to achieve and why
- the instructions you have followed to install Che
- what version of Che you are using
- what version of Kubernetes you are using
- A l

[2021-12-03 16:25] amisevsk commented on #20535
After some discussion this issue is being de-prioritized. Originally, custom service account support was added to enable building containers within a workspace using podman/buildah (which requires additional permissions on the cluster). This use case is supported more directly by DWO in https://github.com/devfile/devworkspace-operator/pull/679

[2021-12-03 16:29] svor commented on #20800
I've fixed a problem with reading workspace pod information by setting right name of workspace's namespace.
The next problem is related to workspace SA, it's not possible to read metrics:
[code]

[2021-12-03 16:33] amisevsk commented on #20850
One issue that has to be resolved first is that currently `devfile/api` versions have removed v1alpha1 DevWorkspaces. However, there are still some users of DevWorkspaces that depend on this API version, so DWO must continue to ship conversion webhooks for the time being. We need to consider reverting https://github.com/devfile/api/pull/639

[2021-12-03 17:31] l0rd commented on #20758
Is the route/ingress then used by the dashboard only or also used by other components (workspaces etc...)? cc @sparkoo

[2021-12-03 17:37] l0rd commented on #20758
If I enable the the internal one can I omit the deployment section? For instance will this work without the deployment section?

[code]

[2021-12-03 17:47] #20459 closed

[2021-12-03 18:08] #18771 closed

[2021-12-03 19:23] amisevsk commented on #20800
PR https://github.com/devfile/devworkspace-operator/pull/695 adds get/list/watch permissions for pod metrics in the workspace ServiceAccount.

[2021-12-03 19:28] nickboldt commented on #20880
See https://github.com/eclipse-che/che-devfile-registry/pull/534 and https://github.com/eclipse-che/che-devfile-registry/pull/535

[2021-12-03 22:10] nickboldt commented on #20880
With Florent's approval I merged https://github.com/eclipse-che/che-devfile-registry/pull/534 and triggered a new release of che-devfile-registry 7.40.0:

* https://github.com/eclipse-che/che-devfile-registry/runs/4413338407?check_suite_focus=true
* https://quay.io/repository/eclipse/che-devfile-registry?tag=7.40.0&tab=tags

[2021-12-04 19:57] l0rd commented on #20830
@dmytro-ndp no it won't be supported anymore.

[2021-12-06 00:34] dkwon17 commented on #20090
Hello, after a discussion with @benoitf , the default plugins that are specified using a v2 devfile uri can be added to new devworkspaces by creating a devworkspace template from the v2 devfile, and referencing the template on newly created devworkspaces.

The devworkspace templates should be managed on the che-operator side, is that right? Every time the CR is updated with new default plugins, th

[2021-12-06 07:30] dmytro-ndp opened #20883 "che-operator container failed to create on minikube because of error "RELATED_IMAGE_gateway_authentication_sidecar_k8s""
### Describe the bug

Deployment of Eclipse Che 7.41.0-SNAPSHOT failed on minikube because of che-operator container creation error:
[code]
https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/1213/consoleFull

Version: chectl/0.0.20211203-next.e86c758 linux-x64 node-v12.22.7

chectl log:
[code]

### Che version

next (development versi

[2021-12-06 07:52] skabashnyuk opened #20884 "Add support for namespace-level configuration of pod tolerations and node selector via namespace annotations"
### Is your task related to a problem? Please describe

As a Eclipse Che admin, I want to be able to set up the configuration of pod tolerations and node selector. Devworkspace operator expected them as k8s namespace annotations:
[code]

see more https://github.com/devfile/devworkspace-operator/pull/696

### Describe the solution you'd like

Che-operator should grab existing configuration from  ch

[2021-12-06 08:48] #18287 closed

[2021-12-06 08:48] #18786 closed

[2021-12-06 08:48] #18787 closed

[2021-12-06 08:48] #18967 closed

[2021-12-06 08:48] #19413 closed

[2021-12-06 08:48] #19415 closed

[2021-12-06 08:48] #19508 closed

[2021-12-06 08:48] #19567 closed

[2021-12-06 08:48] #19622 closed

[2021-12-06 08:48] #19693 closed

[2021-12-06 08:48] #19772 closed

[2021-12-06 08:48] #19809 closed

[2021-12-06 09:04] #20552 closed

[2021-12-06 09:10] #20853 closed

[2021-12-06 09:10] #20779 closed

[2021-12-06 09:10] benoitf commented on #19954
delayed until che-server workspaces are no longer in use

[2021-12-06 09:28] tolusha commented on #20758
yes, you can omit it. Deployment section is used to overwrite defaults.

[2021-12-06 09:49] #20856 closed

[2021-12-06 09:51] benoitf commented on #20850
part of che-server workspaces has been implemented and merged

[2021-12-06 09:56] kvermacalibo commented on #20872
@l0rd Sorry for late reply. Thank you for responding.
- I implemented the create workspace APIs, and when I am opening the eclipse che workspace, then other created workspaces also display in left side menu in dashboard.
- It is not an issue, just want to confirm, is there any API which can directly open the workspace without redirecting to dashboard.
- Using eclipse che Theia.

It is good to have

[2021-12-06 10:08] #20880 closed

[2021-12-06 10:12] #20811 closed

[2021-12-06 10:41] ibuziuk commented on #20871
my understanding that the vision is that database will cease to exist in the future releases, so probably this is not the best option to consider

[2021-12-06 10:55] l0rd commented on #20758
Thanks. I understand now why `registry.enabled` is required (and renaming it as `*Registry.disabled` or, even better, as `*Registry.disableInternalRegistry` would be my recomendation).

[2021-12-06 11:11] #20883 closed

[2021-12-06 11:12] tolusha commented on #20883
Fixed after updating chectl templates

[2021-12-06 11:16] tolusha commented on #20671
Droping chectl commands will be done here [1]

[1] https://github.com/eclipse/che/issues/20866

[2021-12-06 12:51] svor opened #20886 "Add openshift-ci PR check for che-devfile-registry"
### Is your task related to a problem? Please describe

We need to add openshift-ci PR check into [che-devfile-registry repository](https://github.com/eclipse-che/che-devfile-registry).
It will help to avoid problems like https://github.com/eclipse/che/issues/20880.

![screenshot-github com-2021 12 06-14_46_38](https://user-images.githubusercontent.com/1271546/144848684-1860cf7b-fdc7-4486-854e-386

[2021-12-06 13:03] sunix opened #20887 "Should display latest releases in github releases section"
### Is your task related to a problem? Please describe

in Github, Eclipse Che releases stopped showing the latest release. Last one seemed to be May 19 2021 as the latest which is not right.
![image](https://user-images.githubusercontent.com/650571/144850808-783f6b0f-a467-42bc-9906-c383546ad375.png)

### Describe the solution you'd like

should show the latest

### Describe alternatives you've co

[2021-12-06 13:18] vitaliy-guliy opened #20888 "Failure to deploy devworkspace on local minikube"
### Describe the bug

It become not possible to deploy devworkspace on minikube
[code]

### Che version

next (development version)

### Steps to reproduce

1. Delete and then start minikube
[code]

2. Update chectl
[code]

3. Deploy Che
[code]

### Expected behavior

Running Che

### Runtime

minikube

### Screenshots

_No response_

### Installation method

chectl/next

### Environment

Linux

#

[2021-12-06 13:26] #20681 closed

[2021-12-06 13:45] benoitf commented on #20878
fixed by https://github.com/eclipse-che/che-server/pull/189

[2021-12-06 13:45] nickboldt commented on #20887
Technically speaking, it IS showing the latest. :)

The actual problem is that the release process is no longer CREATING releases every week.

[2021-12-06 13:46] ibuziuk commented on #20888
@tolusha could you please take a look?

[2021-12-06 13:49] nickboldt commented on #20887
Appears that this was a consequence of moving release-changelog.yml from ecllipse/che to eclipse-che/che-server.

https://github.com/eclipse-che/che-server/releases

[2021-12-06 13:52] benoitf opened #20889 "unable to edit DevWorkspace in dashboard"
### Describe the bug

I've the error
[code]

If I switch to 2.0.0 or 2.2.0 it works

### Che version

next (development version)

### Steps to reproduce

I clicked on `http://<che-server>#https://github.com/che-samples/java-spring-petclinic/tree/devfilev2?che-editor=che-incubator/che-code/insiders`

Then I tried to edit the devfile

### Expected behavior

Be able to edit the DevWorkspace

### Runt

[2021-12-06 13:54] nickboldt commented on #20887
See https://github.com/eclipse-che/che-server/pull/190 and https://github.com/eclipse/che/pull/20890

[2021-12-06 14:17] ArvinB commented on #18967
/remove-lifecycle stale
@tolusha This is related to the recent PR.

[2021-12-06 14:20] ibuziuk commented on #20889
@olexii4 @akurinnoy folks, could you please take a look at what happened with 2.1.0 support?

[2021-12-06 14:56] tolusha commented on #20888
I can't reproduce the issue?

@vitaliy-guliy
Could you create [1] once chectl failed?

[1] https://github.com/che-incubator/chectl/blob/main/resources/dex/ingress.yaml

[2021-12-06 15:43] nickboldt commented on #20887
![image](https://user-images.githubusercontent.com/227597/144876350-c5ec6e52-c72b-42f8-b6af-79f2da836aef.png)

[2021-12-06 15:43] #20887 closed

[2021-12-06 16:46] svor commented on #20888
I had the same problem today, but after second restart `chectl server:deploy` it didn't happen

[2021-12-06 16:47] amisevsk commented on #20090
For managing default plugin templates, we can do what the Web Terminal Operator does in order to avoid maintaining DWTs across the cluster. If we create DevWorkspaceTemplates in a known namespace (WTO uses its current namespace) and add the annotation
[code]
then these DWTs can be used in any workspace on the cluster via
[code]

[2021-12-06 17:38] ibuziuk commented on #20884
@skabashnyuk we probably need to add the issue to https://github.com/eclipse/che/issues/20830

[2021-12-06 21:03] amisevsk commented on #20785
For Problem 7, the issue is happening because OpenShift is taking its sweet time provisioning pull secrets for the workspace's service account. The flow is:
1. Create the service account
2. Check service account for image pull secrets (there are none)
3. Create deployment without image pull secrets
4. Project clone begins to run
5. OpenShift adds image pull secrets to the service account
6. DWO de

[2021-12-07 09:23] dmytro-ndp commented on #20830
@l0rd: could you, please, say, if there will by **multi-host** support in DevWorkspace, or there will be **single-host** support only?

[2021-12-07 09:25] l0rd commented on #20830
@dmytro-ndp single-host only

[2021-12-07 09:28] benoitf opened #20893 "Starting a workspace from a repository without devfile is not adding/cloning the project"
### Describe the bug

Starts with the link `http://che-server#https://github.com/spring-projects/spring-petclinic` on a DevWorkspaces enabled che instance

I expect to see spring-petclinic sample being cloned

I've only Theia that is started.

https://user-images.githubusercontent.com/436777/145003286-f5e50af9-4cf9-4b5d-b667-f56cb99656ea.mp4

### Che version

next (development version)

### Steps

[2021-12-07 09:31] l0rd commented on #18920
/remove-lifecycle stale

[2021-12-07 09:32] l0rd commented on #18594
/remove-lifecycle stale

[2021-12-07 09:41] skabashnyuk commented on #20893
are you able to clone the project manually from Theia?

[2021-12-07 09:42] l0rd commented on #20872
@kvermacalibo the che-server exposes a worksapce API. You can have a look at https://workspaces.openshift.com/swagger

But that API is going to be deprecated in ~1 month. We are switching to the DevWorkspace (see [epic](https://github.com/eclipse/che/issues/17307) and [first blog post](https://che.eclipseprojects.io/2021/10/12/@mario.loriedo-devfile-v2-and-the-devworkspace-operator-p1.html)). If y

[2021-12-07 09:49] benoitf commented on #20893
@skabashnyuk yes

Also resolver API returns
[code]

but `projects` section is empty in my DevWorkspace

[2021-12-07 09:51] benoitf commented on #20893
And the clone is done by `project-clone` init container but as there is no `projects` section in the devfile it does nothing as well.

[2021-12-07 10:08] vinokurig commented on #20888
I can reproduce the issue, when I run `chectl` second time it fails with a new error:
[code]

[2021-12-07 10:34] #20813 closed

[2021-12-07 11:48] #20865 closed

[2021-12-07 11:50] mmorhun commented on #20812
In short: closing as won't fix.
The problem is that to deliver a fix for this issue we need to re-release all previous affected version of Che operator which is not the case.
However, the root cause of the problem - database format - has been fixed. Starting from the next release such problem should not appear in the future.

[2021-12-07 11:50] #20812 closed

[2021-12-07 12:14] sparkoo commented on #20758
With single-host, which is de-facto only option with devworkspaces, everything is served through the single Ingress/Route - dashboard, registries, workspaces, etc... So I don't think it make sense to move it to dashboard. Gateway seems more appropriate to me.

[2021-12-07 13:04] ibuziuk commented on #20821
PR sent - https://github.com/devfile/devworkspace-operator/pull/701

[2021-12-07 13:10] svor opened #20895 "[resource-monitor] CPU values have wrong presentation"
### Describe the bug

Metrics server provides the value of used CPU in nanocores (nanoCPU) but the Resource Monitor displays this value with **m**  (millicores/milliCPU)

### Che version

next (development version)

### Steps to reproduce

1. Start the workspace
2. Click on the Resource Monitor on the status bar

### Expected behavior

The value provided by Metrics server should be converted to mi

[2021-12-07 14:03] kpiwko commented on #20671
@sleshchenko based on #20010 exploration, do you happen to know what is the feature parity in between `chectl` and k8 APIs?

[2021-12-07 14:19] #20867 closed

[2021-12-07 14:38] olexii4 opened #20897 "[UD] Local start is broken after adding authentication with Dex"
### Describe the bug

It is not possible to run Dashboard locally against Che Cluster.

The command that runs locally the dev server with the dashboard:
[code]
outputs these logs:
[code]

### Che version

next (development version)

### Steps to reproduce

1. checkout https://github.com/eclipse-che/che-dashboard
2. `yarn build`
3. `yarn start`

### Expected behavior

Run server locally on http://l

[2021-12-07 16:17] nickboldt commented on #20862
For downstream developer images (UDI) see https://issues.redhat.com/browse/CRW-2463 and https://issues.redhat.com/browse/CRW-2464 (requires https://github.com/eclipse/che/issues/19953 )

If upstream is not multiarch (because we can't use buildx on Z) that should not prevent downstream from being multiarch.

[2021-12-07 16:18] akurinnoy opened #20898 "Websocket connection to the dashboard backend is closed"
### Describe the bug

The Dashboard frontend can't establish the websocket connection to the Dashboard backend.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse Che with devworkspaces engine enabled
2. Go to the Dashboard
3. And open JS console

### Expected behavior

The websocket connection between dashboard frontend and backend is established.

### Runtime

[2021-12-07 16:26] benoitf opened #20899 "Use next channel of DevWorkspaceOperator when using next channel of Che"
### Is your enhancement related to a problem? Please describe

When using chectl, I can apply for chectl `next` channel.

I expect to have DevWorkspaceOperator next channel and not a tagged version

### Describe the solution you'd like

For example Che-operator is publishing nightlies of che-operator OLM bundle.
DevWorkspace operator could publish nightlies as well.

Also chectl could use devworks

[2021-12-07 16:53] ibuziuk opened #20900 "Hide devfile v1 workspaces if the DevWorkspace engine is enabled"
### Is your task related to a problem? Please describe

When CR has devWorkspace engine is enabled all obsolete Che 7 / devfile v1 workspaces should not be shown on the dashboard

### Describe the solution you'd like

devfile v1 workspaces should not be shown on the User Dashboard when the devWorkspace enginge is enabled

### Describe alternatives you've considered

_No response_

### Additional c

[2021-12-07 20:00] #20877 closed

[2021-12-08 02:49] trust-freedom commented on #20500
- Using OpenVSX instead of MS marketplace.
- Use the plugin registry as an alternative to OpenVSX.

So in the future, can I directly use OpenVSX marketplace to install extensions in the "Production-ready support of VS Code"? Or must che plugin mode be used?

[2021-12-08 03:57] vevikram opened #20901 "Eclipse-Che unable to deploy on Docker Desktop"
### Describe the bug

On Running

chectl server:deploy --platform=docker-desktop

Following error is being reported by chectl

chectl server:deploy --platform=docker-desktop
› Installer type is set to: 'operator'
› Current Kubernetes context: 'docker-desktop'
  √ Verify Kubernetes API...OK
  √ 👀  Looking for an already existing Eclipse Che instance
    √ Verify if Eclipse Che is deployed into name

[2021-12-08 07:08] tolusha commented on #20901
It seems templates are outdated.
Could you try to deploy nginx controller manually [1] and redeploy Eclipse Che ?

[1] https://kubernetes.github.io/ingress-nginx/deploy/#docker-desktop

[2021-12-08 07:22] vevikram commented on #20901
Thanks it started working :-)

[2021-12-08 07:34] benoitf commented on #20500
hello @trust-freedom

There are multiple ways so maybe you can express your wishes.

Using OpenVSX directly won't work for airgap mode so we would still need the registry to embed vsix (as of today with offline image of plug-in registry). Also sometimes we may want to add some pre-defined properties

But, plug-in registry could work as a proxy to open-vsx.org (or another in-house instance) or plug

[2021-12-08 08:22] tolusha commented on #20901
I reopen this issue to update templates in chectl

[2021-12-08 09:19] apupier commented on #19493
VS Code API 1.52 seems now available as eclipse-theia/theia#9193 is closed
latest VS COde yaml is now 1.2.2 and still declares vs code 1.52 as minimal version required https://github.com/redhat-developer/vscode-yaml/blob/ca93afaf6867731d349e2cfef954da9f9e01786d/package.json#L27

[2021-12-08 09:53] skabashnyuk opened #20902 "Ensure that CHE_INTEGRATION_XXXX_SERVER__ENDPOINTS and CHE_INTEGRATION_XXXX_OAUTH__ENDPOINT properties are properly set."
### Is your task related to a problem? Please describe

Ensure that CHE_INTEGRATION_XXXX_SERVER__ENDPOINTS CHE_INTEGRATION_XXXX_OAUTH__ENDPOINT properties are properly set.

### Describe the solution you'd like

For Gitlab, Github, Bitbucket we need to ensure that che-operator is able to.
1. CHE_INTEGRATION_XXXX_SERVER__ENDPOINTS from  customProperties appended with `che.eclipse.org/scm-server-end

[2021-12-08 10:04] vinokurig commented on #20859
The approach I am going to follow is:
* For now SSH mechanism is located in the `che-server` side, and is retrieved by API calls. We need to implement the SSH logic to be executed directly in the `che-theia` container to avoid API calls.
* To store SSH keys we need to have another predefined secret like the [`workspace-credentials-secret`](https://github.com/eclipse-che/che-server/pull/68) with a

[2021-12-08 10:44] svor commented on #20800
Fixed by https://github.com/eclipse-che/che-theia/pull/1269 and https://github.com/devfile/devworkspace-operator/pull/695

[2021-12-08 10:56] dmytro-ndp commented on #18772
@makambalaji , @mkuznyetsov : it looks as fixed.
Can it be closed?

[2021-12-08 11:00] xbaran4 commented on #20902
To be more consistent with github config (CHE_OAUTH2_GITHUB...), I would propose to also change:
CHE_OAUTH_GITLAB_CLIENTID__FILEPATH --> CHE_OAUTH2_GITLAB_CLIENTID__FILEPATH
CHE_OAUTH_GITLAB_CLIENTSECRET__FILEPATH --> CHE_OAUTH2_GITLAB_CLIENTSECRET__FILEPATH

[2021-12-08 11:50] tolusha commented on #20671
Hello
@kpiwko

`chectl` is different tool than `kubectl`.
It is uses to deploy Eclipse Che but `kubectl` is used to interact with k8s cluster.

[2021-12-08 12:15] ibuziuk commented on #20845
The short-term plan for 7.41 - 7.42 is simply hiding v1 based workspaces on the UD level - https://github.com/eclipse/che/issues/20900

[2021-12-08 12:53] l0rd commented on #20859
@vinokurig that's ok for me. @JPinkney @amisevsk is that consistent with secrets injection in DevWorkspaces?

[2021-12-08 13:13] benoitf opened #20904 "Propagate devfile internal registry url to the devfile registry"
### Is your enhancement related to a problem? Please describe

For now, only the external link is available as environment variable

### Describe the solution you'd like

it would be great to have access to the internal link from the container to replace some links in the entrypoint of the container
to avoid https://github.com/eclipse/che/issues/20709

### Describe alternatives you've considered

[2021-12-08 13:46] #20873 closed

[2021-12-08 13:48] #20497 closed

[2021-12-08 14:24] kpiwko commented on #20671
I get that @tolusha, thanks. My point was whether to-be-removed functionality of `chectl` can be replace with `kubectl`. It is essential that any changes won't cause some functionality to be available only through UI, as this causes significant overhead during testing.

An ask to replace used `chectl` functionality in in the test suites because of removing functionality there is valid and just nee

[2021-12-08 14:47] rhopp commented on #20671
What I think would help us greatly is to have an instructions on how to create/start/list workspaces using "any" API.
I have rough idea how to do that, but I'm still missing some pieces of the puzzle. And please correct me if I'm wrong on anything
For listing workspaces & their state we can use k8s api and query for `DevWorkspace` CR's.
For creation & operatrions on workspaces (start,stop, ...), w

[2021-12-08 15:25] apupier opened #20906 "Improve "Accept Trust author" notification"
### Is your enhancement related to a problem? Please describe

During a workshop, half of the attendees missed the "Trust authors" or did not accepted and so were stuck after that.

### Describe the solution you'd like

Notification that cannot vanish?
A warning dialog when clicking no?
if no action happened to the notification and workspace is empty, provide guidance in file explorer and/or welco

[2021-12-08 15:31] tolusha commented on #20899
Some questions:
1. Do we have next channel for DevWorkspace operator?
2. Should che-operator depends on next version of DWO rather than stable version ?

[2021-12-08 15:34] benoitf commented on #20899
cc @amisevsk

I think DevWorkspace Operator currently doesn't have olm 'next' channel or a nightly job like https://github.com/eclipse-che/che-operator/blob/main/.github/workflows/build-catalog-and-bundle-images.yaml

[2021-12-08 16:30] apupier opened #20907 "Sometimes workspace failed to start and stay blocked on spinning page"
### Describe the bug

Sometimes workspace failed to start and stay blocked on spinning page

### Che version

7.38

### Steps to reproduce

do not know, hit that when tryign to start a workspace on developer sandbox based on Apache Camel On Springboot stack

### Expected behavior

workspace succesffulyy start or at least provide information on what is the problem

### Runtime

OpenShift

### Scree

[2021-12-08 18:02] amisevsk commented on #20899
It does: https://github.com/devfile/devworkspace-operator/actions/workflows/next-build.yml

This builds `quay.io/devfile/devworkspace-operator-[index|bundle]:next` and can be accessed by applying the [catalog source](https://github.com/devfile/devworkspace-operator/blob/main/catalog-source.yaml) in the devworkspace-operator repo.

Index repo: https://quay.io/repository/devfile/devworkspace-operato

[2021-12-08 18:04] amisevsk commented on #20859
How does this interact with this PR https://github.com/eclipse-che/che-server/pull/192? With the changes from that PR, and Che-side SSH keys will be mounted to `/.ssh/`.

Is there a reason the existing `workspace-credentials-secret` cannot be used? My understanding is that this was the original purpose of adding this secret.

[2021-12-08 19:56] amisevsk commented on #20899
To subscribe directly, you can use the subscription
[code]
where `source` and `sourceNamespace` match the catalogSource that was created.

[2021-12-08 23:15] nickboldt commented on #20843
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2547

[2021-12-08 23:15] nickboldt commented on #20837
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2548

[2021-12-08 23:15] nickboldt commented on #20647
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2549

[2021-12-08 23:15] nickboldt commented on #20644
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2550

[2021-12-08 23:15] nickboldt commented on #20642
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2551

[2021-12-08 23:15] nickboldt commented on #20552
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2552

[2021-12-08 23:15] nickboldt commented on #20437
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2553

[2021-12-08 23:16] nickboldt commented on #20106
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2554

[2021-12-08 23:18] nickboldt commented on #20381
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2555

[2021-12-09 06:49] #20904 closed

[2021-12-09 07:17] tolusha commented on #20899
@amisevsk
Should che-operator next version depends on devworkspace operator next version ?
Right now it is 0.9.0 and is going to be updated to a new stable version here https://github.com/eclipse-che/che-operator/pull/1207

[2021-12-09 07:28] tolusha commented on #20671
@akurinnoy
Could you help us with k8s API requests to create/start/stop/list devfile 2.0 workspaces?

[2021-12-09 07:31] benoitf commented on #20671
for stop (and also start again): https://github.com/eclipse-che/che-theia/blob/8a48c2fbd803e0c37548cd4720cdd7282a13b3a6/extensions/eclipse-che-theia-remote-impl-k8s/src/node/k8s-workspace-service-impl.ts#L90-L120 (update of .spec.started field)

[2021-12-09 07:57] apupier commented on #20793
no, I do not know how it should be implemented in a good practice way and I have no time for it on short term

[2021-12-09 08:19] vinokurig commented on #20859
@amisevsk

This PR retrieves SSH keys from che-server database: https://github.com/eclipse-che/che-server/pull/192/files#diff-e507f35404ee3af31b7d37cea6a97dbe19ff8d3d8cad0f65de3dbc8b25058541R114. In DevWorkspace Che, che-server will not contain any user SSH keys as we can't make requests to the SSH API service. The idea of this issue is to avoid API requests, for that we need to generate SSH key b

[2021-12-09 11:09] l0rd opened #20908 "Use latest DevWorkspace Operator release when using stable channel"
### Is your enhancement related to a problem? Please describe

After I install `chectl` from the stable channel and I do `chectl server:deploy`, the DevWorkspace Operator 0.9 installed. But I am expecting the latest "upstream" release of DWO to be deployed: v0.11 (and it's the version deployed on Developer Sandbox).

### Describe the solution you'd like

On OpenShift `chectl` stable should add the

[2021-12-09 12:14] #19284 closed

[2021-12-09 12:14] #18814 closed

[2021-12-09 13:10] #20793 closed

[2021-12-09 13:19] l0rd commented on #20899
@tolusha I think that it would be the ideal solution. And `Iatest` should depend on `latest`. This issue is about `next` and https://github.com/eclipse/che/issues/20908 is about `latest`.

[2021-12-09 13:49] #20668 closed

[2021-12-09 14:58] #20794 closed

[2021-12-09 15:32] tolusha commented on #20899
We had issues with depending next on next some times ago basically because of different release cycle of two operators.
CO  (che operator) is released every sprint.
DWO (devworkspace operator) is released every 2 sprints.

Imaging situation:
* we have CO v7.40, DWO v0.10.0
* something is committed into main branch of CO related to DWO next version (will be released in DWO v0.11.0)
* CO 7.41 is rel

[2021-12-09 15:56] #20798 closed

[2021-12-09 16:02] l0rd commented on #20899
@amisevsk @ibuziuk would it be an issue to have the same "upstream" release cycle?

[2021-12-09 16:27] sparkoo commented on #20898
fixed by https://github.com/eclipse-che/che-operator/pull/1242

[2021-12-09 17:07] amisevsk commented on #20899
Releasing upstream each sprint shouldn't be an issue.

[2021-12-09 17:09] amisevsk commented on #20899
One concern I have for depending on `next` through the catalog is I'm not clear on how OLM manages updates. The current version of DWO in the `next` catalog is `v0.12.0-dev` -- this will switch to `v0.13.0-dev` when `v0.12.0` releases. Will OLM look into the `next` catalog and automatically update the DWO deployment to `v0.13.0-dev` when a new image rolls out?

[2021-12-09 17:18] amisevsk commented on #20859
So then is https://github.com/eclipse-che/che-server/pull/192 unnecessary?

We can certainly add more secrets to the workspace RBAC set, but I'm not sure we should be catering to what Theia needs at the moment. Why can't Theia use a secret like
[code]

[2021-12-09 17:59] benoitf commented on #20859
main advantage with Angel's proposal is that ssh keys are more user specific rather than IDE specific so using intellij or VSCode might reuse those keys more easily

[2021-12-09 18:43] l0rd opened #20909 "Provide instructions to setup an OIDC provider for the major public cloud vendors"
### Is your enhancement related to a problem? Please describe

The deployment of an OIDC provider is required to install Che on Kubernetes. On minikube `chectl` deploys dex and configure the api-server to use it. But what about the other Kubernetes distributions? In particular what are the preliminary steps that GCP, AWS, Azure and Docker Desktop users should do?

### Describe the solution you'd l

[2021-12-09 20:45] vitaliy-guliy opened #20910 "[devworkspace] Impossible to start the workspace after updating the devfile, using che-theia::k8s-devfile-service"
### Describe the bug

At the moment Che-Theia Plugins panel is only way to easily install a plugin https://github.com/eclipse/che/issues/20638
It requires to be able to update the devfile, using k8s implementation of devfile service.

After calling k8s-devfile-service::update(..), the devfile being to be updated and the workspace is restarted automatically.
![Screenshot from 2021-12-09 17-35-25](h

[2021-12-10 07:14] tolusha commented on #20899
OLM looks for a new bundle in the catalog (index).
If it found then OLM will updates operator to a new version.

[2021-12-10 08:55] ibuziuk opened #20911 "GitHub Pull Request Plugin is failing to start on Developer Sandbox"
### Describe the bug

GitHub Pull Request Plugin is failing to start on Developer Sandbox

### Che version

7.38

### Steps to reproduce

Reproducer https://github.com/eclipse/che-docs/blob/master/devfile.yaml

### Expected behavior

GitHub Plugin starts correctly

### Runtime

OpenShift

### Screenshots

![image](https://user-images.githubusercontent.com/1461122/145545683-ec8b4299-59d0-4dc8-a606-

[2021-12-10 08:55] ibuziuk commented on #20911
@vinokurig @svor could you please take a look?

[2021-12-10 08:57] skabashnyuk opened #20912 "Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io""
### Describe the bug

Quite often I have this error when deploying Che on minikube.
[code]

### Che version

next (development version)

### Steps to reproduce

1. start minikube `minikube start --cpus 4 --memory 6000`
2. update chectl `chectl update next`
3. deploy che on MacOS `chectl server:deploy --platform=minikube --installer=operator --workspace-engine=dev-workspace`

### Expected behavior

[2021-12-10 08:57] ibuziuk commented on #20911
ok, looks like it is addressed already as part of https://github.com/eclipse/che/issues/20689
@svor the fix is expected in CRW 2.14 right?

[2021-12-10 09:16] ibuziuk commented on #19633
@nickboldt could you clarify if we have the tags on the devfile registry end or those are still missing?

[2021-12-10 09:22] svor opened #20913 "Migrate E2E devfile tests from v1 to v2"
### Is your task related to a problem? Please describe

Some of devfiles version 1 were migrated to version 2, the whole list of ported devfiles could be found [here](https://github.com/eclipse/che/issues/19341#issuecomment-947443288).

When DevWorkspace is enabled, only devfiles v2 will be displayed in the dashboard.

### Describe the solution you'd like

The idea is to migrate current E2E devfil

[2021-12-10 09:34] dmytro-ndp commented on #20913
List of devfiles to migrate [1]:
- CSlashCPlusPlus.spec.ts
- DevfileSmoke.spec.ts
- DotNetCore.spec.ts
- Go.spec.ts
- JavaMaven.spec.ts
- JavaSpringBoot.spec.ts
- JavaVertx.spec.ts
- NodeJS.spec.ts
- PHPSimple.spec.ts
- Python.spec.ts
- PythonDjango.spec.ts
- Quarkus.spec.ts
- Scala.spec.ts

[1] https://github.com/eclipse/che/tree/main/tests/e2e/tests/devfiles

[2021-12-10 09:47] benoitf commented on #20912
I don't know if this might help but I usually install the addon when starting minikube like

[code]

[2021-12-10 09:48] ibuziuk commented on #20662
Docs PR has been merged. Closing

[2021-12-10 09:48] #20662 closed

[2021-12-10 10:07] dmytro-ndp opened #20914 "Migrate E2E Eclipse Che tests to DevWorkspace"
### Is your task related to a problem? Please describe

DevWorkspace Switch - Endgame Plan: https://github.com/eclipse/che/issues/20830

Tasks:
- #20838
- #20913
- #20953
- #20985
- #20986
- #21127
- #21174
- #21175
- #21210
- #21240
- #21241

#### E2E tests to fix:
- [x]  DevWorkspace happy path tests

##### plugin tests:
- [x] [VSCodeYamlPluginTest](https://github.com/eclipse/che/issues/VscodeYa

[2021-12-10 10:07] tolusha commented on #13785
Close as WON'T FIX
`devfile:generate` command is going to be removed when DevWorkspace is enabled

[2021-12-10 10:07] #13785 closed

[2021-12-10 10:08] tolusha commented on #20912
duplicates
https://github.com/eclipse/che/issues/20888
?

[2021-12-10 10:12] skabashnyuk commented on #20912
Closing in favor of https://github.com/eclipse/che/issues/20888

[2021-12-10 10:12] #20912 closed

[2021-12-10 10:22] #18772 closed

[2021-12-10 10:26] svor commented on #20911
@ibuziuk right, it's for 2.14 https://github.com/redhat-developer/codeready-workspaces/pull/633

[2021-12-10 10:32] svor commented on #20911
duplicate of https://github.com/eclipse/che/issues/20689

[2021-12-10 10:32] #20911 closed

[2021-12-10 10:52] ibuziuk commented on #20261
Docs PR has been merged - https://github.com/eclipse/che-docs/pull/2161
Closing

[2021-12-10 10:52] #20261 closed

[2021-12-10 11:18] svor opened #20915 "[plugin-registry] che-theia-openshift-auth plugin should contain sidecar information"
### Describe the bug

che-theia-openshift-auth uses oc tools, but it doesn't have sidecar information where oc should be installed.
So, if che-theia-openshift-auth plugins will be used directly, it won't work because editor che-theia editor image doesn't have oc.

### Che version

next (development version)

### Steps to reproduce

Try to install che-theia-openshift-auth plugin and start the works

[2021-12-10 12:11] ibuziuk commented on #20910
@amisevsk could you please take a look?

[2021-12-10 13:22] l0rd commented on #20859
@vinokurig does that work for you?

[2021-12-10 13:36] vinokurig commented on #20859
Yes, I agree to use the `workspace-credentials-secret` for SSH keys

[2021-12-10 15:19] #20901 closed

[2021-12-10 15:43] akurinnoy opened #20916 "Converted to devfile v2 command ID doesn't match the pattern"
### Describe the bug

While creating a devworkspace from factory link from repository with devfile v1 I got this error:
`
Unable to create devworkspace: DevWorkspace.workspace.devfile.io "che-server-in-che" is invalid: spec.template.commands.id: Invalid value: "build without tests": spec.template.commands.id in body should match '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
`
I see that command from devfile v

[2021-12-10 16:49] #20737 closed

[2021-12-10 16:49] #20889 closed

[2021-12-10 17:04] ibuziuk commented on #20906
@azatsarynnyy could you please take a look?

[2021-12-10 18:08] amisevsk commented on #20910
This looks like an issue in how Theia is handling updating the DevWorkspace on-cluster. There are two resources Theia can look at, which are accessible through the env vars:
* `$DEVWORKSPACE_ORIGINAL_DEVFILE` is the path to a file representing the DevWorkspace's `.template.spec` as it appears *on the cluster*. This is the resource that should be applied to the cluster when modifying the running De

[2021-12-10 18:13] amisevsk commented on #20899
This is the case when there is an upgrade edge between versions (e.g. `v0.12.0` replaces `v0.11.0`), but the `next` catalog ships only the current in-development version with no replaces configured currently.

[2021-12-12 14:06] dmytro-ndp opened #20917 "Fix "che-e2e" npm package publish error in 7.40.x branch"
### Is your task related to a problem? Please describe

https://github.com/eclipse/che/runs/4497890798?check_suite_focus=true
[code]

### Describe the solution you'd like

Use another tag to publish che-e2e npm package from release branch: https://github.com/eclipse/che/blob/7.40.x/.github/workflows/typescript-publish.yml#L41

### Describe alternatives you've considered

_No response_

### Additio

[2021-12-12 15:36] dmytro-ndp commented on #20917
7.40.x branch commit: https://github.com/eclipse/che/commit/be24d54cd12e2add8748f0b5b522e8b0d0c7ecce

[2021-12-13 07:18] benoitf commented on #20850
removed `area/devfile-converter` as this action has been done

[2021-12-13 07:38] #20832 closed

[2021-12-13 07:38] #20852 closed

[2021-12-13 07:46] tolusha commented on #20899
As far I know, a new bundle format doesn't require to set replace version. It uses semantic versioning to update to a greater version.

[2021-12-13 08:16] #20335 closed

[2021-12-13 08:37] #20915 closed

[2021-12-13 08:41] #18843 closed

[2021-12-13 08:41] #19275 closed

[2021-12-13 08:41] #19354 closed

[2021-12-13 08:41] #19824 closed

[2021-12-13 08:41] #19864 closed

[2021-12-13 08:41] #19882 closed

[2021-12-13 08:41] #19893 closed

[2021-12-13 08:41] #19926 closed

[2021-12-13 08:41] #19934 closed

[2021-12-13 08:41] #19935 closed

[2021-12-13 08:41] #19948 closed

[2021-12-13 08:41] #19936 closed

[2021-12-13 08:51] benoitf opened #20919 "Failed to request devfile JSON schema, reason: Cannot read properties of undefined (reading 'remoteAPI')"
### Describe the bug

When loading dashboard, I have the following error:

![image](https://user-images.githubusercontent.com/436777/145780742-c27971b3-96ad-42f2-8c36-9b5e8c64819f.png)

### Che version

next (development version)

### Steps to reproduce

- install che with chectl/next with DevWorkspaces
- load dashboard

### Expected behavior

no error

### Runtime

OpenShift

### Screenshots

_No

[2021-12-13 09:26] ibuziuk commented on #20871
@metlos another reason not to fall back on db - https://github.com/eclipse/che-docs/pull/2159#issuecomment-991071601

[2021-12-13 10:03] #20917 closed

[2021-12-13 12:07] vitaliy-guliy opened #20920 "Allow to update the devfile V2 without automatically restarting the workspace"
### Is your task related to a problem? Please describe

When changing the devfile from Che-Theia, workspace is restarted automatically.
It's needed for plugin installation feature https://github.com/eclipse/che/issues/20638
The user should be able to open Plugins panel, install few plugins ( each installation will change the devfile ) and only then restart the workspace by clicking some button on

[2021-12-13 12:12] vitaliy-guliy opened #20921 "It should be able to restart devfile V2 workspace on demand"
### Is your task related to a problem? Please describe

When the user installed a few plugins, he should be able to restart the workspace to apply the changes.
Atm, the workspace in restarted automatically after installing a plugin https://github.com/eclipse/che/issues/20920

But we need to find a way how to restart it by sending restart request instead of restarting it when changing the devfile.

[2021-12-13 12:20] vitaliy-guliy commented on #20638
To have the perfect UX flow we need to have
- [ ] fixed restarting the workspace after updating the devfile https://github.com/eclipse/che/issues/20910
- [ ] somehow avoid the workspace autorestart when changing the devfile https://github.com/eclipse/che/issues/20920. In the devfile v2 we inject all the plugins, that are running in the sidecar, into developer container.
- [ ] allow to restart the

[2021-12-13 12:28] tolusha opened #20922 "Don't overwrite user's email if it is set in the database"
### Is your task related to a problem? Please describe

There is the migration guide to DevWorkspace engine [1]. It turned out that InitializationFilter [2] overwrite user's email.

### Describe the solution you'd like

Use email from the database if exists.

### Describe alternatives you've considered

_No response_

### Additional context

[1] https://github.com/eclipse/che-docs/pull/2159
[2] ht

[2021-12-13 13:19] vzhukovs opened #20923 "Create custom workspace tab is empty using dev workspace mode"
### Describe the bug

From the internal discussions it came up that _Create Workspace_ from the custom devfile is disabled on the Dashboard UI, but links that point to _Create Custom Workspace_ open empty window tab.

![Снимок экрана 2021-12-13 в 15 12 50](https://user-images.githubusercontent.com/1968177/145819358-9745e1a8-d58d-4aec-bdde-3ccf6579fa52.png)
![Снимок экрана 2021-12-13 в 15 13 01](ht

[2021-12-13 13:22] benoitf commented on #20923
good catch. Will fix it

[2021-12-13 13:34] nickboldt commented on #20671
For the simplest case of *create the workspace from Devfile* -- could we not curl the factory URL and have that flow create the workspace? That way we're testing an actually recommended customer user story and might discover problems w/ passing parameters or page refresh bugs...

For the other commands like `stop`, `delete` and `list` I would expect there are simple `oc` or even `odo` commands we

[2021-12-13 14:03] ibuziuk commented on #20821
PR has been merged. Closing

[2021-12-13 14:03] #20821 closed

[2021-12-13 14:14] amisevsk commented on #20899
To my knowledge, there are two types of OLM catalogs:
* sqlite-based catalogs, which use the `replaces:` field in the CSV to determine the upgrade graph
* file-based catalogs, which read a `olm.channel` schema which contains all update edges

In both cases, once we update to `v0.13.0-dev` (once v0.12 is released), the catalog will have a single version, i.e. the catalog will effectively remove `v0

[2021-12-13 14:29] musienko-maxim commented on #20822
Fixe in the PR: https://github.com/eclipse/che/pull/20903

[2021-12-13 14:29] #20822 closed

[2021-12-13 14:47] svor commented on #20769
For che plugin registry it was fixed by https://github.com/eclipse-che/che-plugin-registry/pull/1107

[2021-12-13 14:47] #20769 closed

[2021-12-13 14:47] #20919 closed

[2021-12-13 14:57] #20720 closed

[2021-12-13 14:58] #20824 closed

[2021-12-13 14:59] benoitf commented on #20709
closing as devfile registry is making links to the internal links (no https, no proxy, no certificates)

[2021-12-13 14:59] #20709 closed

[2021-12-13 15:44] virtuakazib opened #20925 "Is Eclipse Che vulnerable to CVE-2021-44228 (log4j)?"
### Summary

I'd like to open an official issue to check whether CVE-2021-44228 impacts any piece of Eclipse Che.  I haven't found any reference to the affected log4j dependency in che-server, but I have only a shallow knowledge of the project.  I also know that the Keycloak team has investigated this issue for their project: https://github.com/keycloak/keycloak/discussions/9078

### Relevant info

[2021-12-13 16:22] svor commented on #20925
@virtuakazib log4j problem doesn't impact Che.
More information you can find in an email: https://www.eclipse.org/lists/che-dev/msg04308.html

[2021-12-13 16:28] virtuakazib commented on #20925
Thanks.

[2021-12-13 16:28] #20925 closed

[2021-12-13 16:42] dmytro-ndp opened #20926 "Happy Path tests are failing on "Java LS initialization" step"
### Describe the bug

https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/1288/console

[code]

### Che version

next (development version)

### Steps to reproduce

1. Install Eclipse Che on minikube
2. Create and start E2E Happy path test workspace using.
3. Execute E2E Happy path tests

### Expected behavior

E2E test to passed

###

[2021-12-13 16:59] l0rd commented on #18291
/remove-lifecycle stale

[2021-12-14 00:47] l0rd commented on #20671
An alternative to @nickboldt proposal to use an HTTP request to start the workspace (that can be complicated if devfile->devworkspace conversion is still done client side cc @benoitf @olexii4) is to use the DW CRs included in Che devfile registry.

**Start a workspace**

[code]

**List workspaces**

[code]

**Stop an existing workspace**

[code]

**Restart an existing workspace**

[code]

[2021-12-14 08:27] tolusha commented on #20899
Right, there are two operator bundle formats. It depends on OLM version if a new bundle format is supported where `replaces` is not required and semantic versioning is used. OpenShift v4.8 works with a new bundle format.
It means once catalog contains a greater version then operator will be automatically (or manually) be updated to that version. In you case, catalog must not contain a single versi

[2021-12-14 09:11] ibuziuk commented on #20900
PR has been merged - https://github.com/eclipse-che/che-dashboard/pull/423
Closing

[2021-12-14 09:11] #20900 closed

[2021-12-14 12:08] makambalaji commented on #18773
Drafted the pr: https://github.com/eclipse/che/pull/20927

[2021-12-14 12:45] musienko-maxim opened #20928 "Figure out reasond of unexpected fails of HappyPath test for PRs"
### Is your task related to a problem? Please describe

We have PR's which are blocked by failed happy path tests. For instance:https://github.com/eclipse/che/pull/20924. The main reasons the Language Server has been not activated in the timeout (15 minutes). We need to get more info why it happenedon

### Describe the solution you'd like

A solution can be found after clarifying a root cause of t

[2021-12-14 14:24] #19684 closed

[2021-12-14 14:36] ibuziuk commented on #19633
@nickboldt any updates?

[2021-12-14 14:54] amisevsk commented on #20899
My point is that this doesn't happen -- a catalog with two versions and no upgrade edge explicitly defined between them fails to validate. If a new version must be added, then the `next` catalog in DWO is currently unsuitable for long term use of this.

[2021-12-14 15:17] nickboldt opened #20929 "re-enable weekly changelog generation and fix user credentials (should be che-bot, not vparfonov)"
### Is your task related to a problem? Please describe

changelog generation broke when che server moved to a new repo; we fixed it last week and manually ran the changelog generation for 7.40.0

![image](https://user-images.githubusercontent.com/227597/146025989-416cddda-e9e1-47fa-9c23-1638f7aaf04f.png)

But... it hasn't been run for 7.40.1, and the last time it ran it used vparfonov's ID.

### D

[2021-12-14 15:32] l0rd commented on #20574
@dkwon17 I have moved this issue to milestone 7.41. Feel freed to close it if we have already fixed that or set a different milestone if you are not going to fix it during current sprint.

[2021-12-14 15:35] l0rd commented on #19953
@ibuziuk I think we are still missing the dashboard part of this. I have set the milestone to 7.41, feel free to set another milestone if you are not going to work on it during this sprint.

[2021-12-14 15:57] dkwon17 commented on #20574
Hi @kollachaitanyakrishna , were you able to find out why the image was crashing?

[2021-12-14 17:15] l0rd commented on #20899
I usually deploy `next` but I am not interested in getting automatic updates. I usually destroy and recreate my cluster daily. For those that use it like me, getting dw `next`  looks valuable anyway right? I am not sure if that's widely used though.

[2021-12-14 17:33] kollachaitanyakrishna commented on #20574
@dkwon17: I attached all possible logs, but I do not know the reason for the failure, let me know if you need any other steps to be followed apart from pull the logs.

[2021-12-14 17:34] kollachaitanyakrishna commented on #20574
@l0rd : I am waiting for the update the image code and steps. Please make sure it is going to be fixed in this sprint.

[2021-12-14 18:14] nickboldt commented on #20929
Won't do -- Mario's requested a manual approach to creating simpler changelogs/releases for now.

https://github.com/eclipse/che/pull/20930

[2021-12-14 18:14] #20929 closed

[2021-12-15 06:10] makambalaji commented on #18773
PR got merged: #20927, so closing this issue

[2021-12-15 06:10] #18773 closed

[2021-12-15 06:38] gnoejuan opened #20933 "Email Verification email is missing link to 'Verify Email', so cannot verify email used to register"
### Summary

Is there a setting I'm missing? I've searched https://www.eclipse.org/che/docs/che-7/administration-guide/managing-identities-and-authorizations/ and https://access.redhat.com/documentation/en-us/red_hat_codeready_workspaces/1.1/html/administration_guide/managing_users
I might have missed something, but nothing jumped out as what I'm missing

![image](https://user-images.githubusercon

[2021-12-15 08:04] tolusha opened #20934 "Che Deploy Sprint #212"
#### Timeframe
 Dec 22 - Jan 11

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |

#### Holidays / events
| Days  | |
| ------------- | ------------- |
| Dec 23 - Jan 2 | PTO Olexandr |
| Dec 27  | Holiday |
| Dec 28 - Dec 30 | PTO Mykola |
| Dec 31  | PTO Anatolii |
| Jan 3  | Holiday |
| Jan 4 - Jan 6 | PTO Mykola |
| Jan 7  | Holiday |

#### CR

[2021-12-15 08:06] svor commented on #20001
/remove-lifecycle stale

[2021-12-15 08:53] ibuziuk opened #20935 "Che Controller Sprint 212"
This issue collects work items of the Controller Team for Sprint 211 (22 December - 11 January).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (December 22nd)

The previous sprint https://github.com/eclipse/che/issues/20842

## Sprint goals
- Finalize DevWorkspace Endgame related issues - https://github.com/eclipse/che/issues/20830
- Release DWO 0.11

[2021-12-15 08:55] skabashnyuk opened #20936 "user's namespace provisioning leftovers"
### Is your task related to a problem? Please describe

That is a followup of https://github.com/eclipse/che/issues/20168 that is not required for step 3

### Describe the solution you'd like
- [ ] https://github.com/eclipse/che/issues/20937
- [ ] https://github.com/eclipse/che/issues/20938

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-15 08:58] skabashnyuk commented on #20535
@l0rd should we remove this task from step3?

[2021-12-15 09:03] skabashnyuk opened #20937 "Provision git name or email with OIDC data"
### Is your task related to a problem? Please describe

Provide some defaults from git name and email configuration.

### Describe the solution you'd like

If che is running in conjunction with OIDC provider we can take this data to populate git name and email configuration if it is not configured yet.

### Describe alternatives you've considered

n/a

### Additional context

https://github.com/de

[2021-12-15 09:06] svor commented on #19981
/remove-lifecycle stale

[2021-12-15 09:06] skabashnyuk opened #20938 "Provision git name or email with data from personal access tokens"
### Is your task related to a problem? Please describe

Provide some defaults from git name and email configuration.

### Describe the solution you'd like

If no defaults for git name and email configuration is set and if user's namespace contains personal access token of some SCM providers (Github, Bitbucket, Gitlab) we can use PAT to repopulate git configuration.

### Describe alternatives you'v

[2021-12-15 09:07] skabashnyuk commented on #20871
Closing in favor of  https://github.com/eclipse/che/issues/20937 and  https://github.com/eclipse/che/issues/20938

[2021-12-15 09:07] #20871 closed

[2021-12-15 09:08] ibuziuk commented on #19953
we are tracking this issue as part of https://github.com/eclipse/che/issues/19633

[2021-12-15 09:09] ibuziuk commented on #19633
@akurinnoy the `community` / `tech-preview` tags are in place - https://github.com/eclipse/che/issues/19953#issuecomment-980175566

[2021-12-15 09:55] kollachaitanyakrishna opened #20939 "Unable to install with latest version of chectl"
### Describe the bug

chectl server:deploy is not working. below is the log out.
Due some issue it errored, but errorlogs are also not available

`bash <(curl -sL  https://www.eclipse.org/che/chectl/)
chectl script requires superuser access.
You will be prompted for your password by sudo.
Password:
Downloading https://github.com/che-incubator/chectl/releases/download/7.40.1/chectl-darwin-x64.tar.g

[2021-12-15 09:57] kollachaitanyakrishna commented on #20939
<img width="1022" alt="Screenshot 2021-12-15 at 3 26 15 PM" src="https://user-images.githubusercontent.com/64516009/146164746-a3da7341-f4c2-4b5b-9b33-d85fd0e3b674.png">
<img width="1029" alt="Screenshot 2021-12-15 at 3 26 30 PM" src="https://user-images.githubusercontent.com/64516009/146164795-10bf8bb1-7305-43ad-930d-037733417edc.png">

[2021-12-15 10:45] tolusha opened #20940 "Restore failed: there are other sessions using the database"
### Describe the bug

Dropping che database might failed because of active connections

[code]

### Che version

next (development version)

### Steps to reproduce

https://github.com/eclipse-che/che-operator/runs/4531596232?check_suite_focus=true

### Expected behavior

Restore finished succesfully

### Runtime

minikube

### Screenshots

_No response_

### Installation method

chectl/next

### E

[2021-12-15 10:57] tolusha opened #20941 "Restore failed when `IdentityProviderURL` is configured by user"
### Describe the bug

Restore failed when `IdentityProviderURL` is configured by user because it is cleaned up during restore [1]

[1] https://github.com/eclipse-che/che-operator/blob/main/controllers/checlusterrestore/backup_data_restorer.go#L409-L412

### Che version

next (development version)

### Steps to reproduce

https://github.com/eclipse-che/che-operator/runs/4531596232?check_suite_focus

[2021-12-15 11:01] l0rd commented on #20535
@skabashnyuk yes

[2021-12-15 11:05] azatsarynnyy commented on #20906
I think it comes from the GitHub Plug-in. @svor do you happen to know?

[2021-12-15 12:53] dkwon17 commented on #20574
It is expected that this error would happen if the image is not running in the context of a che server workspace because the telemetry plugin needs `CHE_API_INTERNAL`, `CHE_WORKSPACE_ID`, and `CHE_MACHINE_TOKEN` environment variables. These environment variables should already exist for the telemetry plugin when running in a che server workspace pod.

@kollachaitanyakrishna, could you please try t

[2021-12-15 13:04] nickboldt commented on #19633
Tags were added 19 days ago. I guess no one noticed / asked me directly :( And yet... someone merged them...

Will we be able to get this UI enhancement in place for 7.41?

[2021-12-15 13:37] svor commented on #20906
it comes from the [workspace plugin](https://github.com/eclipse-che/che-theia/blob/main/plugins/workspace-plugin/src/theia-commands.ts#L125)

[2021-12-15 13:58] svor opened #20944 "Disable openshift authentication in openshift connector plugin"
### Is your task related to a problem? Please describe

Since [openshift-authentication plugin wasn't adapted to avoid requesting che-server API](https://github.com/eclipse/che/issues/20857) when devWorkspace engine is enabled, we have to provide another che plugin **vscode-openshift-connector**  without **che-openshift-authentication-plugin**:  https://github.com/eclipse-che/che-plugin-registry/b

[2021-12-15 14:56] gnoejuan commented on #20939
You need the -p or --platform flag.

  -p, --platform=minikube|minishift|k8s|openshift|microk8s|docker-desktop|crc
      Type of Kubernetes platform. Valid values are "minikube", "minishift", "k8s (for kubernetes)", "openshift", "crc
      (for CodeReady Containers)", "microk8s".

https://github.com/che-incubator/chectl#chectl-serverdeploy

[2021-12-15 14:58] l0rd commented on #20893
@ibuziuk @benoitf could you provide the link to the PR that should fix this issue?

[2021-12-15 15:00] ibuziuk commented on #20893
@akurinnoy could you please confirm that https://github.com/eclipse-che/che-dashboard/pull/420 should also fix this problem?

[2021-12-15 15:08] #20538 closed

[2021-12-15 15:18] kpiwko commented on #20671
Thank you @benoitf @l0rd @nickboldt . @dmytro-ndp would it meet team needs once devworkspacerouting is patched?

[2021-12-15 15:50] amisevsk commented on #20899
Yeah, for temporary deployments/short-lived deployments using the currently-built catalog would not be a problem. The main issue going forward would be supporting a long-running Che server that uses `next` images.

[2021-12-15 15:51] akurinnoy commented on #20893
yes, that PR will fix this issue as well

[2021-12-15 16:11] akurinnoy commented on #20916
I've tested the converter with [this devfile](https://github.com/eclipse-che/che-dashboard/blob/main/devfile.yaml) and got similar error but with brackets:

<img width="1079" alt="Screenshot 2021-12-15 at 18 06 08" src="https://user-images.githubusercontent.com/16220722/146222324-7a00aed4-2bb2-4dcf-bb3d-5f3d507c0b2b.png">

[2021-12-15 18:11] tsmaeder commented on #20134
While 0.82 works (with some messages in the log) in the exact theia version we're using in che-theia, the startup of the extension fails when running in a java11 workspace on the che dogfooding instance.

[2021-12-15 20:02] #20939 closed

[2021-12-15 20:02] kollachaitanyakrishna commented on #20939
chectl server:deploy --platform docker-desktop --telemetry=on --installer operator

[2021-12-16 06:30] #20922 closed

[2021-12-16 06:58] #20902 closed

[2021-12-16 07:18] skabashnyuk commented on #20884
The source of configuration now is che-server configuration: `CHE_WORKSPACE_POD_NODE__SELECTOR` and `CHE_WORKSPACE_POD_TOLERATIONS__JSON`.  @l0rd  do you think we should keep this source or it should be configured somehow differently?

[2021-12-16 08:00] RomanNikitenko commented on #20816
The similar issue: https://github.com/eclipse/che/issues/19930

[2021-12-16 08:09] l0rd commented on #20884
If I look at the [new CheCluster draft](https://github.com/eclipse/che/issues/20758#issuecomment-984664253) I would say:

[code]

@amisevsk @tolusha what's your take on that?

[2021-12-16 08:25] tolusha commented on #20884
What about moving workspace related configuration to a dedicated section?

[code]

or:

[code]

[2021-12-16 08:30] #20916 closed

[2021-12-16 08:43] tsmaeder commented on #20134
When googling for the error message "TypeError: Class extends value undefined is not a constructor or null", one mostly gets answers related to circular dependencies or improper use of `import` or `require`

[2021-12-16 11:37] tolusha opened #20945 "Doc should contains section "How to deploy Eclipse Che on k8s cluster""
### Is your task related to a problem? Please describe

It is possible to deploy Eclipse Che on different platforms but there is not section about deploying on k8s cluster.

![screenshot-www eclipse org-2021 12 16-13_35_40](https://user-images.githubusercontent.com/1640675/146364742-d1097839-948a-4289-85ac-f6694231e91e.png)

The simples way to deploy is to run a comman:
[code]

### Describe the so

[2021-12-16 12:55] makambalaji commented on #20356
Same issue is observed on 7.40.1

[2021-12-16 13:19] max-cx opened #20946 "As a user, I want the workspace I open from the browser's address bar have my GitHub credentials as in my browser"
### Is your enhancement related to a problem? Please describe

I am usually signed in to GitHub in my open browser.
So when I go to the address bar of my browser and I enter the URL of my Che workspace appended by the URL of my GitHub-hosted repository, I want the same permissions (GitHub user authentication and privileges) to propagate into the Che workspace that I am opening.
In other words, I w

[2021-12-16 14:29] nickboldt commented on #20933
Can you explain what you were doing to get this email? Might help narrow down the process that created it and why the button doesn't work for you.

Also, can you define which email client you're using? Maybe it's a CSS or JS thing that's not supported?

[2021-12-16 14:41] nickboldt opened #20947 "CRW theia GHA workflow builds failing to resolve theia deps"
### Describe the bug

CRW theia builds are failing in their GHA workflows in the crw-2-rhel-8 branch (aligned to upstream main branches):

[code]

-- https://github.com/redhat-developer/codeready-workspaces-theia/runs/4548190597?check_suite_focus=true

More:
https://github.com/redhat-developer/codeready-workspaces-theia/actions

### Che version

next (development version)

### Steps to reproduce

[2021-12-16 14:54] azatsarynnyy commented on #20356
@svor `Git: clone` is the Git Plug-in's command in Che-Theia, correct?

[2021-12-16 15:15] benoitf opened #20949 "zip getting started samples should be present on the github.io version of the devfile registry"
### Is your enhancement related to a problem? Please describe

Devfile registry is building DevWorkspace templates and update sample location to be zip files

But then the zip files are in the docker containers but are not exposed on github.io

So if we want to use this online plug-in registry with prebuilt devWorkspaces it won't find the zip files

### Describe the solution you'd like

Add zip fi

[2021-12-16 15:41] amisevsk commented on #20884
If we're doing configuration on a CR level, we can simply reuse the k8s types in the configurations struct, i.e. make `podNodeSelector` a `map[string]string` and `podTolerations` a `[]corev1.Toleration`. Defining these things as strings is error-prone (as it has to be valid json/yaml and a missed comma breaks things).

I do think that configuring it in a CR is more straightforward and user-friendl

[2021-12-16 15:44] amisevsk commented on #20758
Will these changes require a new apiVersion for the CheCluster CR?

[2021-12-16 16:08] svor commented on #20356
@azatsarynnyy it comes for Git plugin.
@vinokurig am I right that it should be fixed by https://github.com/eclipse/che/issues/20316?

[2021-12-16 16:20] svor commented on #20316
Fixed by https://github.com/eclipse-theia/theia/pull/10230 and https://github.com/eclipse/che/issues/20538

[2021-12-16 16:20] #20316 closed

[2021-12-16 16:22] #20947 closed

[2021-12-16 16:23] nickboldt commented on #20947
replaced by https://issues.redhat.com/browse/CRW-2579

[2021-12-16 16:52] #20949 closed

[2021-12-16 18:58] tolusha commented on #20758
Yes, It will be a new version.

[2021-12-17 08:19] mmorhun commented on #20836
When I started looking into this issue, I found that SFTP backup mechanism is broken.
Short investigation showed that there are 3 problems (all is caused by random user ID in the Che Operator container):
1. User home is not writable (defined as `/`), so it fails to update ssh config in `~/.ssh` folder. A quick fix is to add the following line in Dockerfile: ```env HOME=/tmp/```
2. No ssh client in

[2021-12-17 09:26] svor commented on #20920
basically it means that we need to find a way how to disable the workspace autorestarting

[2021-12-17 11:09] tsmaeder commented on #20134
When running the the Java plugin in a self-hosting workspace, the plugin starts up correctly. This looks more and more to be an artifact of how we build the plugin host executable.

[2021-12-17 11:12] tsmaeder commented on #20134
Spoke too soon: now I can actually run the java plugin in my outer self-hosting workspace. Not sure what changed from two days ago.

[2021-12-17 13:24] l0rd commented on #20583
Related to https://github.com/eclipse/che/issues/13611

[2021-12-17 13:34] l0rd commented on #13611
Should be addressed by https://github.com/eclipse/che/issues/20583

[2021-12-17 14:44] svor opened #20950 "[devfile] Migrate che4z devfile to version 2"
### Is your task related to a problem? Please describe

Many devfiles version 1 were migrated to version 2, whole list is described here: https://github.com/eclipse/che/issues/19341#issuecomment-947443288.

Devfile v1 for che4z is located here: https://github.com/eclipse-che/che-devfile-registry/blob/main/devfiles/che4z/devfile.yaml, the idea of this task is to create devfile version 2 for che4z.

[2021-12-17 14:47] svor commented on #19341
I'm going to close this issue. The following tasks were created:
- Migrate che4z devfile #20950
- Migrate E2E devfile tests from v1 to v2 #20913

[2021-12-17 14:47] #19341 closed

[2021-12-17 16:26] svor commented on #20134
closed by https://github.com/eclipse-che/che-plugin-registry/pull/1060

[2021-12-17 16:26] #20134 closed

[2021-12-17 16:29] svor commented on #19690
Fixed by https://github.com/eclipse-che/che-plugin-registry/pull/1060

[2021-12-17 16:29] #19690 closed

[2021-12-17 17:03] #20585 closed

[2021-12-19 03:43] monaka opened #20952 "Upgrade Rust to 1.57"
### Is your task related to a problem? Please describe

The current stable version of Rust is 1.57.
Images in che-{plugin|devfile|-registry are older versions.
Some crates can't build on Che.

### Describe the solution you'd like

Fix Dockerfile to use docker.io/rust:1.57-slim-bullseye.

### Describe alternatives you've considered

None.

### Additional context

I'll send some PR soon.

[2021-12-19 05:18] gnoejuan commented on #20933
I apologize for the late response.

After filling out the email and Github identity provider settings in the keycloak, I used Login with OAuth: GitHub  button to register as a new user.

Email Client: mail.google.com

[2021-12-19 11:06] dmytro-ndp commented on #20879
MR: https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/merge_requests/969

[2021-12-19 11:06] #20879 closed

[2021-12-19 21:33] dmytro-ndp commented on #20671
@kpiwko: thanks for heads up.
Hope, it will be enough.

@l0rd, @benoitf , @nickboldt: thank you for help!

[2021-12-19 22:08] dmytro-ndp opened #20953 "Don't use "chectl workspace:*" commands in automated Eclipse Che E2E tests after switch to DevWorkspace"
### Is your task related to a problem? Please describe

Eclipse Che Happy path E2E tests are using "chectl workspace:create" to create test workspace.

We need to find another way to create test workspace after `chectl workspace:*` commands are retired when switch to DevWorkspace (#20671).

### Describe the solution you'd like

https://github.com/eclipse/che/issues/20671#issuecomment-993051102

##

[2021-12-20 00:29] #19792 closed

[2021-12-20 00:29] #19851 closed

[2021-12-20 00:29] #19902 closed

[2021-12-20 00:29] #19950 closed

[2021-12-20 00:29] #19965 closed

[2021-12-20 07:20] #20839 closed

[2021-12-20 08:33] benoitf commented on #20671
I think that if you're adding .`spec.routingClass:  che` on the prebuilt devWorkspace it should work

[2021-12-20 09:44] ibuziuk commented on #20952
@monaka PRs have been merged to both plugin and devfile regitries. Do you think the issue can be closed now?

[2021-12-20 10:08] artaleks9 opened #20954 "Fix up / Stabilize 'Git SSH flow' E2E test"
### Is your task related to a problem? Please describe

* The 'GitSsh' E2E test is fail when it is run in Jenkins job.
* Verifying locally shows - functionality works properly.

### Describe the solution you'd like

* We need to investigate thre problem of failure Git Ssh' E2E test in pipeline.
* Depending to a reason fix up or update test.

### Describe alternatives you've considered

_No respons

[2021-12-20 10:18] mmorhun commented on #20888
I tried, but failed to reproduce this is issue now. I was able to do it a few weeks ago, but now everything works just fine.

[2021-12-20 12:20] dmytro-ndp commented on #20926
The problem isn't reproduced last week.

[2021-12-20 12:20] #20926 closed

[2021-12-20 12:53] svor opened #20955 "Plugins Sprint 212"
## Sprint 212 (22 December - 11 January)

### Blockers

### Epics

### CRW
* [ ] Migrate devfiles v1 to v2 (part 2) [CRW-2539](https://issues.redhat.com/browse/CRW-2539) @svor
* [ ] Pre-build DevWorkspace templates for devfile v2 of devfile registry [CRW-2500](https://issues.redhat.com/browse/CRW-2500) @vinokurig
* [x] Update vscode-java extension to 0.82.0 version [CRW-2590](https://issues.redhat

[2021-12-20 14:34] musienko-maxim commented on #20928
Looks like it was network problems

[2021-12-20 14:34] #20928 closed

[2021-12-20 14:37] musienko-maxim commented on #20537
It was included in the PR: https://github.com/eclipse/che/pull/20948

[2021-12-20 14:37] #20537 closed

[2021-12-20 16:09] artaleks9 opened #20956 "Wrong alert when workspace is started"
### Describe the bug

When a workspace is starting there is appearing the wrong alert:
[code]

### Che version

next (development version)

### Steps to reproduce

* Install CHE
* Go to Dashboard --> 'Create Workspace'
* Run any workspace

### Expected behavior

If workplace is starting / running properly such alert shouldn't be appear.

### Runtime

minikube

### Screenshots

![che-start-ws-alert

[2021-12-20 17:51] nickboldt opened #20957 "release workspace-data-sync images 0.0.2 and include in DW payload"
### Is your task related to a problem? Please describe

Last versioned release of workspace-data-sync images was 0.0.1 from more than 1 year ago:
* https://quay.io/repository/eclipse/che-sidecar-workspace-data-sync?tag=0.0.1&tab=tags
* https://quay.io/repository/eclipse/che-workspace-data-sync-storage?tag=0.0.1&tab=tags

Now that we have :next builds, we should do a 0.0.2 release, and use that as

[2021-12-20 21:17] devstudio-release commented on #20901
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2587

[2021-12-20 21:17] devstudio-release commented on #20813
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2588

[2021-12-20 21:17] devstudio-release commented on #20769
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2589

[2021-12-21 00:31] #19755 closed

[2021-12-21 00:31] #19976 closed

[2021-12-21 05:21] monaka commented on #20952
@ibuziuk Thank you for merging them. I close this.

[2021-12-21 05:21] #20952 closed

[2021-12-21 09:16] RomanNikitenko commented on #20861
I detected that we have the delay at `sync plugins` step. It's actual for the dev workspace mode only.
Looking for a cause of the problem...

[2021-12-21 09:59] vitaliy-guliy opened #20958 "[devWorkspace] Allow to install plugins from Open VSX Registry and/or from Visual Studio Marketplace"
### Is your task related to a problem? Please describe

Technically, we are able to download any `.vsix` extension to `/plugins` directory or to `/plugins/sidecars/sidecar-name` and then deploy it. Since we decreased amounts of sidecars for devworkspaces, it's a good chance to move in this direction.

Theia has already implemented `Plugin :: Deploy plugin by ID` command, that installs an extension

[2021-12-21 10:58] vitaliy-guliy commented on #20921
We can try to do it in three steps:

1. On the backend, form the list to the dashboard
[code]
All the variables are set for theia-ide container.
e.g.
[code]

2. stop the workspace with https://github.com/eclipse-che/che-theia/blob/main/extensions/eclipse-che-theia-remote-impl-k8s/src/node/k8s-workspace-service-impl.ts#L90

3. reload the browser, go to the link, taken in step 1

[2021-12-21 14:11] ibuziuk commented on #20844
@JPinkney can we close the issue?

[2021-12-21 15:07] benoitf commented on #20134
@svor is that downstreaming this work is planned ?

[2021-12-21 15:19] svor commented on #20134
@benoitf We haven't done it for downstream yet.  I'll create an issue for that

[2021-12-21 15:22] JPinkney commented on #20844
Technically yes, it depends on our definition of done :wink:. It's done from devworkspace operator side but eclipse che users won't be able to having a working devworkspace until 0.11 is released in January

[2021-12-21 15:27] svor commented on #20134
here it is: https://issues.redhat.com/browse/CRW-2590

[2021-12-21 15:27] benoitf commented on #19941
closing as it's tracked in JIRA

[2021-12-21 15:27] #19941 closed

[2021-12-21 15:28] nickboldt commented on #19941
See https://issues.redhat.com/browse/RHDEVDOCS-2555

[2021-12-21 15:38] Divine1 commented on #13008
@vparfonov  how to open a open a new tab using user interaction?

on running the selenium script in laptop, a google chrome browser will open up and i will be able to view the scripts getting executed in the browser.

my eclipse che workspace will have a selenium script. on running the selenium script i expect container of google chrome browser to spawn up (its ok if user confirmation clicks are r

[2021-12-21 15:43] ibuziuk commented on #20844
sounds good, let's close it once 0.11.0 is released :+1:

[2021-12-21 15:53] ibuziuk commented on #20952
@monaka thank you for the contribution!

[2021-12-21 16:37] benoitf commented on #20838
@dmytro-ndp 7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:37] benoitf commented on #20678
@azatsarynnyy 7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:38] benoitf commented on #20861
@azatsarynnyy 7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:38] benoitf commented on #20863
@azatsarynnyy 7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:39] benoitf commented on #20712
@tolusha @mmorhun  7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:40] benoitf commented on #20847
@skabashnyuk  7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:40] benoitf commented on #20574
@ibuziuk 7.41.0 release will be cut tomorrow. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-21 16:44] benoitf commented on #20800
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:44] benoitf commented on #19182
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:46] benoitf commented on #20614
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:46] benoitf commented on #20622
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:46] benoitf commented on #20090
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:47] benoitf commented on #20638
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:47] benoitf commented on #20831
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:47] benoitf commented on #19633
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:48] benoitf commented on #20671
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:48] benoitf commented on #20857
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 16:48] benoitf commented on #20758
moving issue to 7.42 milestone as this issue is part of the endgame

[2021-12-21 22:58] dkwon17 opened #20960 "Update redux store with default plugins from CR without refreshing dashboard"
### Is your enhancement related to a problem? Please describe

From https://github.com/eclipse-che/che-dashboard/pull/426, the default DevWorkspace plugins in the Redux store are only set on the preload phase ([here](https://github.com/eclipse-che/che-dashboard/blob/731080d6ceda650ba0211c97c9387502c90b5aa2/packages/dashboard-frontend/src/services/bootstrap/PreloadData.ts#L61)). As a result, change

[2021-12-21 23:07] dkwon17 commented on #20935
Another possible issue if we have time: https://github.com/eclipse/che/issues/20960

[2021-12-22 00:30] #17798 closed

[2021-12-22 00:30] #19937 closed

[2021-12-22 07:48] benoitf commented on #19953
@ibuziuk 7.41.0 release will be cut today. This issue is not yet closed, so please close it if it's done or move it to 7.42

[2021-12-22 10:37] svor commented on #20848
Superseded by https://github.com/eclipse/che/issues/20955

[2021-12-22 10:37] #20848 closed

[2021-12-22 10:42] svor commented on #20800
depends on devworkspace-operator v0.12.0 https://github.com/devfile/devworkspace-operator/pull/695

[2021-12-22 10:51] svor commented on #20944
Duplicate of https://github.com/eclipse/che/issues/20857

[2021-12-22 10:51] #20944 closed

[2021-12-22 11:07] sparkoo commented on #20847
merged

[2021-12-22 11:07] #20847 closed

[2021-12-22 11:12] sparkoo commented on #19182
scope of this epic is complete and all issues are close. I'm closing this. Following issues/improvements will be solved in dedicated issues.

[2021-12-22 11:12] #19182 closed

[2021-12-22 11:33] Divine1 opened #20962 "unable to access repository present inside an organization's gitlab account (visibility private)"
### Summary

The project repository i'm working on is maintained under `gitlab.company.com`. The `gitlab.company.com` is accessible only within the corporate network and sso is required to login into the `gitlab.company.com`. i can add ssh keys/generate accessTokens but this will be valid only inside corporate network.

The visibility of the project repository is private

i'm maintaining the`devfi

[2021-12-22 11:44] philipreimer commented on #20712
@tolusha

How would you do that? It seems that not even an admin account can list - let alone manage - all users' workspaces. Neither with `chectl` nor with the REST API, nor through the web interface

[2021-12-22 11:55] skabashnyuk commented on #20962
@Divine1 thank you for the question. At this stage, it's important to decide the flow you want to follow.
 - Is it OAuth2 integration - then you can use factories with automated authorization flow.
 - SSH flow - then you have to create a workspace, set up ssh keys. After that, you'll be able to do clone/push.

Wich way do you want to follow?

[2021-12-22 11:56] Divine1 commented on #20962
@skabashnyuk  i would like to follow ssh flow.

[2021-12-22 12:41] dmytro-ndp commented on #20838
@benoitf: thanks for reminding!

[2021-12-22 12:44] Divine1 commented on #20962
image: quay.io/eclipse/che-server:7.40.2
devfile v1

HTTP proxy is not required.

Che7 or devWrksapce - what does it mean?

[2021-12-22 13:16] #20842 closed

[2021-12-22 13:25] skabashnyuk commented on #20962
I found only this guide on how to mount a file https://www.eclipse.org/che/docs/che-7/end-user-guide/mounting-a-secret-as-a-file-or-an-environment-variable-into-a-workspace-container/. If you are able to create secrets in your k8s namespace  I think you can follow it to mount ssh files.

@vinokurig @svor do you remember if we have documentation about how to manage ssh keys from the Theia?

[2021-12-22 13:54] Divine1 commented on #20962
@skabashnyuk  i can create secrets in my k8s namespace.

i have a doubt in the value present for `settings.xml` in the docs.

As per the docs, Should i encode(base64) all the data present inside `settings.xml` and paste it as a value for `settings.xml` ?

[code]

![image](https://user-images.githubusercontent.com/10482177/147103022-100ff523-1341-4b25-b2fb-17d15ba60c11.png)

[2021-12-22 13:57] vinokurig commented on #20962
This might be useful : https://www.eclipse.org/che/docs/che-7/end-user-guide/version-control/#_generating_an_ssh_key_using_the_che_command_palette

[2021-12-22 14:17] #20784 closed

[2021-12-22 14:17] #20893 closed

[2021-12-22 14:19] mmorhun commented on #20888
I've seen it one more time.
nginx logs:
[code]

[2021-12-22 14:19] skabashnyuk commented on #20962
I think you need both. git client inside the Theia container has to have access to the private par. The public part would be checked on the opposite side (on gitlab)

However @vinokurig 's variant I like more.

[2021-12-22 14:24] Divine1 commented on #20962
the `devfile.yaml` will also be present inside the repository of `gitlab.company.com` with visibility private. Will this approach work?

[2021-12-22 14:24] nils-mosbach opened #20963 "DevWorkspace Operator on Kubernetes - Theia won't start"
### Describe the bug

When I try to start a devfile 2 using Che 7.40.2 / DevWorkspaces enabled the loading screen of theia keeps hanging.

![image](https://user-images.githubusercontent.com/15126675/147102128-15acd3df-eeb7-4149-a153-4e3bce9c1b95.png)

* Loading devfile from private git repository works
* Deploying pod by DevWorkspace Operator works
* If using v1-Devfile theia starts as expected.

[2021-12-22 14:27] #20528 closed

[2021-12-22 14:31] skabashnyuk commented on #20962
I think you are referring to factory flow. It's not the `silky smooth` player with ssh way scenario.
I recommend considering OAuth integration flow in this case.

[2021-12-22 14:32] Divine1 commented on #20962
@skabashnyuk could you share the doc link for `OAuth integration` flow ?

[2021-12-22 14:36] devstudio-release commented on #20134
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2596

[2021-12-22 14:40] skabashnyuk opened #20964 "Che Platform Sprint #212"
### Is your task related to a problem? Please describe

#### Timeframe
Dec22 - Jan 12

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse C

[2021-12-22 14:52] Divine1 commented on #20962
@skabashnyuk  do you think the step mentioned here will be relevant for my scenario?

https://www.eclipse.org/che/docs/che-7/end-user-guide/authenticating-on-scm-server-with-a-personal-access-token/#configuring_gitlab_authentication_che

[2021-12-22 14:53] nils-mosbach opened #20965 "Deleting devworkspace failed - Cannot remove folder projects/plugins: Permission denied"
### Describe the bug

Devworkspace operator seems to fail deleting devworkspaces due to volume permissions.

![image](https://user-images.githubusercontent.com/15126675/147111732-72e76e9d-1d37-4696-b805-89633f929f66.png)

[code]

[code]

### Che version

7.40@latest

### Steps to reproduce

Start a new devfile 2 workspace with devworkspaces enabled.
Delete workspace using dashboard.

### Expected

[2021-12-22 15:16] azatsarynnyy opened #20966 "Editors Sprint 212"
December 22 - January 11

---

#### Production-ready support of JetBrains IDEs as a Che editor
- #20863

#### Bugs
- #20861
- #20678

---
### Unplanned/Blockers
- Investigated "No ripgrep prebuilt 13.0.0-2 available for ppc64" [CRW#2600](https://issues.redhat.com/browse/CRW-2600)

---
## Team
| Name  | Availability | x0.6
| -- | -- | --
| @vzhukovs    | 11  | 7
| @RomanNikitenko | 6  | 4
| @azatsa

[2021-12-22 15:21] #20854 closed

[2021-12-22 15:22] mmorhun commented on #20963
@nils-mosbach thank you for the report.
Could you provide more details on how Che was deployed (which exact command was used)?

[2021-12-22 15:22] nils-mosbach commented on #20962
@Divine1 Since we had the same issue, I can share some information what works in our case. :) We're quite happy with the OAuth Integration flow. Since i wrote down everything for another ticket, here's a quick summary what I did to get it working.

Have a look here: https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-authorization/#configuring-gitlab-oauth2_che

My intention wa

[2021-12-22 15:36] mmorhun commented on #20963
I've just tried to deploy nightly Che on minikube and start react sample app - it worked for me.

[2021-12-22 15:40] Divine1 commented on #20962
@nils-mosbach  thank you for details. this is very helpful.. i have below doubt.
[code]

i have already installed eclipse-che using chectl in minikube for exploring the capabilities

https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-minikube/

in this case, how to update  `operator-config.yaml` which you have shared?

[2021-12-22 15:43] nils-mosbach commented on #20963
Sure. If you want me to try something or dig deeper, please let me know. We're running a rancher provisioned bare metal cluster with three nodes. Storage is handled by Linstor/Linbit which is basically a DRBD replication between nodes. We haven't had troubles with access rights on v1 devfiles or any other application so far. Wildcard SSL certificates that we use for all developer services are issu

[2021-12-22 15:48] nils-mosbach commented on #20962
Depends on your configuration. `--che-operator-cr-patch-yaml` merges the changes. That's what we use for updating our configuration on a rancher provisioned cluster. Not sure if `--skip-kubernetes-health-check` still necessary, there was an issue with ranchers rbac implementation a while ago.

[code]

If users from OIDC are linked i would start fresh, just in case...

[2021-12-22 16:00] amisevsk commented on #20965
Hi @nils-mosbach, thanks for your report! From your comment in https://github.com/eclipse/che/issues/20963, it sounds like this is for a bare-metal cluster -- is that correct?

I know bare-metal clusters have caused issues in the past for Che. If you have the reproducer still running, could you inspect the filesystem in the workspace PVC? One easy way to do this is (in the namespace where the fail

[2021-12-22 16:10] Divine1 commented on #20962
i will try this out and share the feedback.

[2021-12-22 16:19] amisevsk commented on #20963
Hi @nils-mosbach!

I suspect this issue has the same underlying cause as https://github.com/eclipse/che/issues/20965. Bare metal clusters have caused issues in the past due to how storage permissions are handled. A first (and relatively easy step) in debugging is inspecting the `claim-devworkspace` PVC as in https://github.com/eclipse/che/issues/20965#issuecomment-999687091. With that info I can s

[2021-12-22 18:28] svor opened #20967 "[theia-devworkspace handler] Add parameter to configure registry and tag in DW templates"
### Is your task related to a problem? Please describe

It should be possible to configure registry and tag in generated DevWorkspace templates

### Describe the solution you'd like

Add parameters like:
  --tag, -t [TAG]
        Docker image tag to be used for image; default: 'next'
    --registry, -r [REGISTRY]
        Docker registry to be used for image; default 'quay.io'

### Describe alterna

[2021-12-22 21:22] nils-mosbach commented on #20965
sure.

[code]

[code]

I've also tried deleting the 2 folders in the pod `rm -rf /tmp/claim-devworkspace/workspace1ead20c9b44d4bac/plugins` which worked. No permission denied error. I know there could be issues with specially if using host mounted volumes. We haven't had issues before using Linstor as a distributed block storage solution. Just in case I'll make a test using a nfs storage provider

[2021-12-22 21:51] nils-mosbach commented on #20963
Great thanks a lot! :)

[2021-12-22 22:20] dmytro-ndp commented on #20888
I have reproduced the issue on CRW Jenkins CI:
https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/devworkspace/1/console

chectl bundle: https://github.com/che-incubator/chectl/releases/download/20211217131027/chectl-linux-x64.tar.gz

[code]

where custom-resource-patch.yaml:
[code]

[2021-12-23 00:42] amisevsk commented on #20965
Interesting -- those directories are automatically created by Kubernetes when they're mounted. For example, the `projects` directory comes from
[code]
To process this volumeMount, Kubernetes creates the path `workspace30ea739d376b4f71/projects/` in the PVC and mounts that into the pod. In most cases, at _least_ the leaf directory gets created with `777` permissions to ensure whatever container is

[2021-12-23 08:38] tolusha commented on #20888
@dmytro-ndp
Make sure that ingress is enable before deploying Eclipse Che. That might help.
`minikube addons enable ingress`

[2021-12-23 10:05] nils-mosbach commented on #20965
Your're right. Project and Plugin directories are empty. **I guess setting fsGroup to 1234 will solve the issue in our case.**

---

Devfile 1 workspaces that are provisioned by che server contain a security context that sets fsGroup in our case.
[code]

I tried to validate this by manually setting the value using kubectl. I stopped DevWorkspace-Controller and manually set the fsGroup to 1234 on t

[2021-12-23 10:07] nils-mosbach commented on #20963
As mentioned in https://github.com/eclipse/che/issues/20965#issuecomment-1000187110 setting fsGroup on workspace deployments solves the issue.

[2021-12-23 14:34] ibuziuk opened #20968 "che-operator fails to reconcile after 7.41.0 update"
### Describe the bug

The operator has been updated to 7.41.0 but fail to reconcile:

2021-12-23T13:13:59.800Z	ERROR	controller-runtime.manager.controller.checluster	Reconciler error	{"reconciler group": "org.eclipse.che", "reconciler kind": "CheCluster", "name": "eclipse-che", "namespace": "test-operatorhub-che", "error": "namespaces \"test-operatorhub-che\" not found"}

It looks like the culprit

[2021-12-23 15:01] nickboldt commented on #20967
Changing the registry won't help w/ CRW/whitelabelling, since the entire image is different...

- [ ]           quay.io/eclipse/che-theia@sha256:ebcc893364c233f4ebbaef61c6b2027c2aabecf05844f6151837dbb13193480d
- [ ]           quay.io/eclipse/che-machine-exec@sha256:2ecefe3a93c1ce35b0d56beb150a8d4c18330a967fedfe00fd073a5f0ac95b8b
- [ ]           quay.io/eclipse/che-theia-endpoint-runtime-binary@sha

[2021-12-23 15:19] dmytro-ndp opened #20969 ""chectl server:deploy" command failed to deploy Che with DevWorkspace enabled to minikube started in 'none' driver mode"
### Describe the bug

`chectl server:deploy` command failed to deploy Eclipse Che Next to minikube 1.22.0 started in 'none' driver mode:

[code]

### Che version

next (development version)

### Steps to reproduce

1. Start minikube in 'none' driver mode:
[code]

2. Try to deploy Eclipse Che with DevWorkspace enabled:
[code]

where custom-resource-patch.yaml:
[code]

### Expected behavior

Eclipse

[2021-12-23 15:21] dmytro-ndp commented on #20888
@tolusha: thank you for the hint.
It helped.

Basically, I am trying to deploy DevWorkspace to minikube started with `none` driver option, and deployment failed again https://github.com/eclipse/che/issues/20969

[2021-12-23 15:37] tolusha commented on #20969
Could you use some driver for minikube?

[2021-12-23 16:32] dmytro-ndp commented on #20969
@tolusha: on CRW Jenkins CI we are deploying Eclipse Che on OpenStack virtual machine, and all minikube drivers we checked worked pretty unstable in there.

[2021-12-24 02:29] amisevsk commented on #20965
@nils-mosbach That's great to hear! I can look into doing the same as we do for Devfile 1 workspaces in the new year -- I'll be on holiday for a bit.

[2021-12-24 07:40] tolusha opened #20972 "k8s object migration doesn't take into account old objects with `app=che` labels"
### Describe the bug

Che operator add label `app.kubernetes.io/part-of=che.eclipse.org` to needed objects to put them into cache at startup.
It tries to find them by `app.kubernetes.io/instance=che` label, but some old objects might contains only `app=che` label.
As a result operator won't see them and try to create on every reconcile loop.

### Che version

next (development version)

### Steps