[2019-08-02 11:35] ScrewTSW commented on #14096
Confirmed fixed. closing.

[2019-08-02 11:35] #14096 closed

[2019-08-02 11:40] vzhukovskii commented on #13959
@l0rd yes, you're right, #13874 has higher priority.

[2019-08-02 11:42] disaster37 commented on #14099
I doesn't look any error, but it seems that only highlighting code that work.
All other feature seems not work, like:
  - Auto completion
  - outline info
  - Code generator
  - etc.

How I can found error or troubleshoot that ?

[2019-08-02 12:35] Ohrimenko1988 commented on #12457
Deprecated task

[2019-08-02 12:35] #12457 closed

[2019-08-02 12:39] Ohrimenko1988 opened #14104 "[TS_SELENIUM] Implement workaround for avoiding the "#13427" ("Java LS "Classpath is incomplete" warning when loading petclinic")"
### Is your task related to a problem? Please describe.
Implement workaround for avoiding tests failures related to the known bug "#13427" ("Java LS "Classpath is incomplete" warning when loading petclinic").

[2019-08-02 12:45] vparfonov commented on #13750
@slemeur Can you take a lock on this issue and prioritize it

[2019-08-02 13:13] slemeur commented on #14088
Installations that is concerned by this issue are: from chectl and from operatorhub

[2019-08-02 13:25] slemeur commented on #14036
@evidolob : To merge as soon as 7.0 is released.

[2019-08-02 13:27] slemeur commented on #13961
@skabashnyuk : Please check the PR as soon as 7.0 is released

[2019-08-02 13:32] skabashnyuk commented on #13961
@slemeur pr looks ok for me. However, since changes are only on the dashboard side it's better that is someone familiar with it can approve it.

[2019-08-02 13:37] slemeur commented on #13916
Downgrading the priority. This is a very good enhancement request which will need to get prioritized - but regarding the other areas that needs hardening, this seems lower right now.

[2019-08-02 13:42] slemeur commented on #13803
Downgrading to 7.3 as #13823 has been adressed

[2019-08-02 13:48] l0rd commented on #13722
@RomanNikitenko @vparfonov this is an issue created 6 months ago. Is it still relevant? Is it related to stable Che-Theia (branch 7.0.0) or to upstream Theia (master branch)?

[2019-08-02 13:52] slemeur commented on #13587
Do you have an example plugin and how it would look in the devfile @sunix ?

[2019-08-02 14:03] slemeur commented on #14035
@rhopp Please check the information from https://github.com/eclipse/che/issues/13869#issuecomment-517663763

[2019-08-02 14:11] slemeur commented on #13911
@benoitf : As you are currently working on this and expecting it for 7.0, I'm applying the 7.0 milestone

[2019-08-02 14:16] benoitf commented on #13911
ok

[2019-08-02 14:19] slemeur commented on #14090
As fixes are ready. I'm labelling this in 7.0

[2019-08-02 14:21] rhopp commented on #14102
To me, this issue doesn't seem too critical, as users should be able to configure everything by CheCluster CR yaml (chectl switch `--che-operator-cr-yaml`).
Is this really the approach we want to take? I think mixing switches like `--tls` and `--che-operator-cr-yaml` is not the best idea.
@l0rd @benoitf WDYT?

[2019-08-02 14:21] slemeur commented on #14085
should be an easy fix to get prioritized @evidolob

[2019-08-02 14:39] slemeur commented on #13908
@svor Can you precise what markdowns cannot be displayed and where ?
The issue is a bit obscur to me :)

[2019-08-02 14:45] Ohrimenko1988 opened #14108 "Jenkins job is green but in pull request it displayes in the "Pending status""
### Describe the bug
Jenkins job is green but in pull request, it displayes in the "Pending status"

![Screenshot from 2019-08-02 17-42-30](https://user-images.githubusercontent.com/22724619/62378310-36eb2480-b54d-11e9-9602-edb67a83f40f.png)

![Screenshot from 2019-08-02 17-43-19](https://user-images.githubusercontent.com/22724619/62378320-39e61500-b54d-11e9-8512-1b5c72a072b7.png)

[2019-08-02 14:46] slemeur commented on #13814
@vparfonov What is the update on this?

[2019-08-02 14:48] Ohrimenko1988 commented on #14104
Done https://github.com/eclipse/che/pull/14105

[2019-08-02 14:48] #14104 closed

[2019-08-02 14:54] AndrienkoAleksandr commented on #13405
Still reproducible.
Agly workaround:
open new terminal for openshift connector container and login with help oc tool.

[2019-08-02 15:03] slemeur opened #14110 "White labelling capabilities for Che 7"
### Is your enhancement related to a problem? Please describe.
Che 7 needs capabilities to be branded:
- Dashboard (should not be different from Che 6.x)
- IDE (about, welcome plugin)
- favicon
- name of the product

Sub-tasks:
- [x] Allow to display images instead of product name https://github.com/eclipse/che/issues/14845

Improvements:
- [ ] Allow to use external JSON file to brand Che-Theia ht

[2019-08-02 16:16] dmytro-ndp commented on #14108
That is known problem. The reason that API rate limit exceeded personal GitHub account which we uses for the job which check PR.

[2019-08-02 16:30] davidfestal opened #14111 "After updating CheCluster CR Che is in an inconsistent state"
### Describe the bug

When creating a Che server though the Operator with the default settings (which now also includes deploying embedded registries), and then enabling TLS, the Che server is broken:
- Openshift OAuth login is broken since Openshift `OAuthClient` confirguation is not updated with the new `https`-based redirect URL
- The devfile list and plugin brokering are broken since the route

[2019-08-02 16:53] dmytro-ndp commented on #14108
This issue is related to #14068.

[2019-08-02 17:44] l0rd commented on #14111
I am adding the `7.0.0` because it's valuable and the PR already been created but @nickboldt please verify that the PR doesn't have regressions risks.

[2019-08-02 18:38] sunix commented on #13794
@skabashnyuk
Sorry, we are not ignoring but keeping explaining you ... in this very long thread ... why your arguments doesn't work.
This is going too far: we are spending too much time debating than fixing that simple bug.
If in the futur we figure out that is not the right way to do, we'll change it but in my opinion we should follow the simplest way to implement that and maintain that at the mo

[2019-08-02 20:15] nickboldt opened #14112 "Enable filtering of old plugin versions from registry"
Right now, the plugin registry contains multiple versions of plugins, and I wonder if that's intentional (because some versions are needed for some stacks/devfiles, but newer ones are needed for newer stacks/devfiles) or if that's what happens when no one is comparing the plugins to ensure that older plugin meta.yaml files are updated to the latest.

If we look in the v3/plugins/ folder of the che

[2019-08-02 22:12] nickboldt opened #14113 "use minimal golang-based https server and scratch instead of apache + ubi8/alpine"
### Is your enhancement related to a problem? Please describe.

Today we have Dockerfiles for the plugin and devfile registry images based on alpine, and yeah, they're small.

But they're incompatible w/ Brew builds.

### Describe the solution you'd like

I'd like to suggest that we standardize both containers based on a simple UBI8 minimal image that includes httpd and yq.

### Describe alternati

[2019-08-02 22:31] nickboldt commented on #14113
Couple improvements I can do already to the above images:

a) delete /tmp/dots after we're done with it (but it's only 7 bytes)
b) install findutils in the image so that `find` works (as it's needed by most of the .sh scripts in the plugin registry.

PoC using this upstream image:

https://github.com/nickboldt/che-plugin-registry/blob/airgap-resources/Dockerfile.ubi8

Note that it's still not quit

[2019-08-02 23:10] l0rd opened #14114 "Improve chectl Travis CI jobs"
### Is your enhancement related to a problem? Please describe.

Current chectl CI has 4 major problems:

1. NO RELEASE JOB: There is no automated job to do chectl releases (but there are 2 CIs job)
2. FAIL TO BUILD WINDOWS TAR: Jenkins CI job cannot build chectl tar package for windows
3. GH RELEASES AND AUTOUPDATE ARE NOT COMPATIBLE: Travis CI job publishes tar artefacts on GitHub release pages b

[2019-08-02 23:12] l0rd commented on #14114
That's needed for the `7.0.0` endgame to setup chectl release process.

[2019-08-02 23:14] l0rd commented on #14114
@nickboldt confirmed that it should be possible to upload artifacts to https://download.jboss.org/jbosstools/che-incubator/chectl/dist from a Travis job.

He has provided a sample:

https://github.com/jbosstools/jbosstools-website/blob/master/.travis.yml
--> https://travis-ci.org/jbosstools/jbosstools-website
--> production branch
--> https://tools.jboss.org/

https://github.com/jbosstools/jbossto

[2019-08-03 01:02] l0rd opened #14115 "Support plugin brokering in offline mode"
### Is your enhancement related to a problem? Please describe.

Most of (all?) the plugins included in che-plugin-registries refers to vsix files published on remote online servers.

When a Che workspace is started in an offline scenario it fails to start, even if all the container images are available offline, because the servers that host the vsix files are unreachable.

### Describe the solutio

[2019-08-03 18:19] SDAdham commented on #14050
determined the issue, it was bind9 service that was down and causing this issue, once fixed it, my `cert-manager` was able to work normally, I expect the same for the che pods, it's all 100% dns issues

[2019-08-04 06:06] wgbeckmann commented on #14052
No, I just tried to find out what works and what do not work.

**Single User** Eclipse Che **is working** behind a proxy on OpenShift
**Multi User** Eclipse Che **is not working** bihind a proxy on OpenShift

The platform is deployed on OpenShift installed with Ansible (so it is not a minishift installation)

[2019-08-04 09:39] disaster37 commented on #14099
Hi,

I have found another mistake with image `eclipse/che-theia-endpoint-runtime`. There are no user with uid 1724, so when the container plugin is lauch, the user not really exist and it break puppet cli that use by the plugin.

I need to add this on my dockerfile, and maybee it can be added directly on your image to avoid this kind of behavior:

[code]

But after that, puppet cli work fine (I op

[2019-08-04 16:24] SDAdham commented on #14050
@skryzhny : running `cat /etc/resolv.conf` from che's pod gives the following
[code]
`cert-manager` is working and no more certificate issues, it's only che's pod afaik

[2019-08-04 16:48] sunix commented on #14073
I thought we were mounting the keys somehow in `/etc/ssh` but maybe i missed understood something ...

[2019-08-05 06:08] benoitf commented on #14108
@dmytro-ndp BTW I don't see why `che-bot` would help. it's still a github issue and the same limit will apply. che-bot should only be used when write access is used, for read operations you should use other tokens to lower the rate API limit.

[2019-08-05 06:24] dmytro-ndp commented on #14108
It requires write access as well - to set PR check status and to leave comment. That was a reason to request `che-bot` for Codenvy CI https://bugs.eclipse.org/bugs/show_bug.cgi?id=536913 , and here, on CRW CI we are having the same task.

[2019-08-05 06:26] benoitf commented on #14113
IMHO I would still use the smallest image, but have an alternate way of using other docker images for downstream.

alpine image is around `5MB` while UBI8 minimal is `90MB`

[code]
[code]

[2019-08-05 06:29] benoitf commented on #14115
I don't see why multi-stage build should be removed. It's a real benefit for upstream.
--> `Remove using a multi-stage build: scripts are copied and run during the "prod" image build`

[2019-08-05 07:19] skabashnyuk commented on #13794
Ok. However, the team does not agree with you we will do whatever you've asked in this task.

[2019-08-05 07:40] AndrienkoAleksandr opened #14116 "OC-connector remote plugin: not enough permissions to get list cluster service classes"
### Describe the bug
Oc-connector plugin: when I try to apply service to the application, I have an error:
[code]

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create new workspace from devfile:
https://gist.github.com/AndrienkoAleksandr/7c698719736b90294d8dfe38c5046ee2
2. Open workspace.
3. oc-connector login command palette command doesn't

[2019-08-05 07:45] benoitf commented on #14116
@AndrienkoAleksandr Hello, what's the difference between this issue and https://github.com/eclipse/che/issues/13405 ?

[2019-08-05 07:50] AndrienkoAleksandr commented on #14116
@AndrienkoAleksandr Hello, what's the difference between this issue and #13405 ?

difference that I want to create new service, I did login, but with help of terminal and want to create new service to deploy project.

[2019-08-05 07:52] AndrienkoAleksandr commented on #13405
Looks like a bug plugin api.

[2019-08-05 07:52] vparfonov commented on #14073
Yes it's true! We mount  in`/etc/ssh`

[2019-08-05 08:04] benoitf commented on #13617
@skabashnyuk Do you have feedback/thoughts on this improvement ?

[2019-08-05 08:12] benoitf commented on #14076
hello, I don't see why we should use python wrapper for jq instead of the go version which make the image smaller

and AFAIK we can compile go stuff on RHEL as well. (so I would avoid to require python as it's not useful)

[2019-08-05 08:16] benoitf commented on #14076
Basically I think we're trying to solve something with a wrong solution on jq. It's like 100 workarounds.

Why can't we have a build image using https://github.com/mikefarah/yq on top of ubi8 ?

[2019-08-05 08:19] svkr2k opened #14117 "Make devfile feature to be overridden"
### Usage Scenario
Please consider the following usage scenario for eclipse/che:
1.Every user will need one workspace - it would be created when the user logs in and gets destroyed when the user logs-out/inactive.
2.If there are 50 users logged in, there would be 50 workspaces (one per user). All these workspaces shall be created using the same devfile (i.e., editor/tools are same)
3.but projects

[2019-08-05 08:24] benoitf commented on #14117
@skabashnyuk @ibuziuk are you missing some details on this issue ?

[2019-08-05 08:40] skabashnyuk commented on #13617
Nice new feature. Why it's set only as p2 and set to 7.3.0?

[2019-08-05 08:46] benoitf commented on #13617
@skabashnyuk no previous triagers looked at this issue before so I was thinking it was not so important.
I think scope of `7.1.0` has lot of issues so I was thinking `7.2.0` or `7.3.0`

About severity I used P2 as it's an advanced usecase.

@skabashnyuk do you have empty room for `7.2.0` and then we move it for `7.2.0` ?

[2019-08-05 08:50] ibuziuk commented on #14117
I personally do not understand the last part of the flow:
- if devfiles are the same why the projects need to be different?
- why it is required to store projects in db instead of  cvs?
- how "individual users see would be different" is planned to be achived? There is some mapping between user and project.

In general, the use-case is really specific and I personally do not see it as part of the u

[2019-08-05 08:51] skabashnyuk commented on #14117
@svkr2k can you take a look https://github.com/eclipse/che/issues/13617 it will allow to override project location. Will it work for you?

[2019-08-05 08:57] sunix opened #14119 "doc: Fix existing doc to promote che plugins and packaging with vscode extension rather than Theia plugins."
### Is your task related to a problem? Please describe.
Currently in our documentation, we are referring to che-theia plugins or theia plugins. But Theia plugins are advanced concepts that we are using but community would not be interested into. Theia plugins concepts could go to contributing.md files where people would like to contribute to che-theia.
Community would rather be interested in VSCod

[2019-08-05 09:03] monaka opened #14120 "Can't build che-theia-dev image."
### Describe the bug

Failed to build `eclipse/che-theia-dev` image.
I've already fixed this. I'll send PR soon.

### Che version

 - [x] latest

### Steps to reproduce

0. Clone `eclipse/che-theia`.
1.  `cd dockerfiles/theia-dev`
2. `./build.sh --build-arg:GITHUB_TOKEN=$(github_token) --organization:$(organization) --tag:$(tag) --prefix:$(prefix)`

### Expected behavior

Done with no error.

###

[2019-08-05 09:07] benoitf commented on #14120
I flagged it 7.1.0 as theia master is not used in che 7.0.0 but it's still required as soon as possible

[2019-08-05 09:27] Ohrimenko1988 opened #14121 "Can not access to application by route because of service unavailable"
### Describe the bug
Time to time the automated tests fail on CI job because application which deployed in the container cant be opened by the route.

*Reproduced on:*
<https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che7-pr-happy-path-test-OKD/642>

### Che version
7.0.0-rc-5.0-SNAPSHOT

### Steps to reproduce
 - Create workspace by devfile https://raw.githubusercontent.c

[2019-08-05 09:31] Ohrimenko1988 commented on #13864
Related problem https://github.com/eclipse/che/issues/14121

[2019-08-05 09:40] mmorhun opened #14122 "Support flow of application moving into Kubernetes / Openshift cluster"
I would like Che to support the following user scenario:
_A user has an application (say Spring Boot) which runs on a server. The user wants to move that application into Kubernetes or Openshift cluster and be able to develop and rollout it from Che._

User steps:
1. Create Che environment (write devfile)
2. Containerize the application (write dockerfile(s) and build image(s) ) from within Che wor

[2019-08-05 09:40] mmorhun commented on #14122
@l0rd @slemeur WDYT ?

[2019-08-05 10:44] skabashnyuk opened #14123 "Make https://github.com/redhat-developer/devfile/blob/master/devfile_next.png diagram up to date."
### Is your task related to a problem? Please describe.
Yes. https://github.com/redhat-developer/devfile/blob/master/devfile_next.png is not up to date
Looks like it is not up to date. At least ChePlugin, CheEditor now have registryURL, reference field.
K8s, OS have memoryLimit. CommandAction: reference and referenceContent fields.
Maybe even more fields are not listed.
Also startPoint, tag, commi

[2019-08-05 10:54] svkr2k commented on #14117
@ibuziuk , @skabashnyuk . Thank you for suggestions. I shall try my best to clarify :-)

i'm thinking of a system, using which, several users can:

Login->Create or Work on created projects (using custom editor & toolset)->Save their projects->Logout->Come back later and ... (cycle repeats)

None of the users would work on the same projects and they all develop independently. So, each user would h

[2019-08-05 10:57] benoitf commented on #14123
nice if it fit for `7.0.0` but not blocker

[2019-08-05 11:02] skabashnyuk commented on #14117
@svkr2k did you tried to play with ```CHE_LIMITS_USER_WORKSPACES_RUN_COUNT``` variable?

[2019-08-05 11:05] svkr2k commented on #14117
@skabashnyuk, I havent tried this yet. i shall try this soon.

[2019-08-05 11:23] Ohrimenko1988 opened #14124 "[TS_SELENIUM] Implement workaround for bug described in the issue #14121 (Can not access to application by route because of service unavailable)"
### Is your task related to a problem? Please describe.
Implement workaround for bug described in the issue #14121 (Can not access to application by route because of service unavailable)

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2019-08-05 11:24] Katka92 opened #14125 "Confusing notification when task is complete"
### Describe the bug
When running a task, the notification saying `Task <task_name> has been started` [1] but when it finishes, it says `Task <number> exited with code 0.` [2] which is quite confusing.

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: please specify
Testing on RH-Che prod-preview with 7.0.0-rc-4.0

### Steps to reproduce

1. Start `Java Maven` stack with default project

[2019-08-05 11:28] sunix opened #14126 "doc: have more contribute flow for each of our components with a devfile, to be updated in CONTRIBUTING.md files of each projects Ws master Chectl Plugin Broker Etc …"
### Is your task related to a problem? Please describe.
We are trying to promote devfile flow for code contribution in Che. But at the moment, we only have few devfile and flows documented.

- Dashboard: https://github.com/eclipse/che/blob/master/CONTRIBUTING.md#dashboard
- Che-theia: https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md

### Describe the solution you'd like
Have more p

[2019-08-05 11:43] benoitf commented on #14126
I set `7.1.0` as it's not a blocker to release 7.0.0

[2019-08-05 11:54] vparfonov commented on #13722
Yes, it sill actual, but we can't fix it for 7.0.0 so we will focused on master branch

[2019-08-05 11:55] benoitf commented on #14125
@RomanNikitenko @slemeur I think you already talked about that ?

[2019-08-05 12:02] mmorhun commented on #14119
@sunix thank you for the proposal, but I am afraid calling `VSCode extensions packed into sidecar container` as `Che plugins` is not correct.
Starting from Che 7 we declare support for many IDEs. And if we talk about Che plugin we talk about something which works with Che independently from used IDE. Which is not true in your proposal. So, to me it leads to even more confusion: a user chooses an I

[2019-08-05 12:09] #14090 closed

[2019-08-05 12:24] rhopp opened #14128 "[e2e] Do not push che-server to personal repository in PR check job"
### Is your task related to a problem? Please describe.
I've just noticed, that PR check job is pushing che-server it builds to docker.io/maxura, which is @musienko-maxim personal repository.

### Describe the solution you'd like
We should either push to docker.io/eclipse, or even better quay.io/eclipse

[2019-08-05 12:40] sunix commented on #14119
Yes we have the ability to switch editors but the default would still be Theia. Theia will add another technology which people don't really care about. Like if we had to tell that it is a Che-theia-monaco-typescript plugin. Let's stick to what is the basics information and not adding too much informations that will confuse.

I guess there is a section about switching editors but this is a corner c

[2019-08-05 13:01] mmorhun commented on #14119
But one of the points is that Che users may easily switch editor from Che dashboard.
The story with Monaco in Theia is completely different: you cannot just replace it easily for something else without writing source code (I think a lot of it).

[2019-08-05 13:16] Ohrimenko1988 commented on #14124
Done https://github.com/eclipse/che/pull/14127

[2019-08-05 13:16] #14124 closed

[2019-08-05 13:24] sunix commented on #14119
Maybe some user would try it. But they would just try it not use it for coding. But finally most of our users will use che-theia for coding.

[2019-08-05 13:25] sunix commented on #14119
And i don't see how saying that it is a Che-theia plugin and not a Che plugin will help them to understand that the could run a VSCode extension.

[2019-08-05 13:27] #14120 closed

[2019-08-05 13:41] mmorhun commented on #14119
Probably most of the users will choose Che Theia as IDE, but I think we'll have users who use different IDE as well.
As about VS Code extensions: docs should say, that a VS Code extension may be packed as `Che Theia plugin`.

[2019-08-05 13:55] musienko-maxim commented on #13326
On this moment the job is set up for checking `master` branch

[2019-08-05 14:06] sunix commented on #14119
Most people won't choose, they would just use Theia but won't know that it is Theia and it is not what they are interested to. Like knowing they are using monaco. The doc should say "VSCode extension + side car containers" and we should avoid introducing other technologies to it. `Che plugins` is the best option to avoid user to be confused with the `Theia plugins` or `Theia extensions` which have

[2019-08-05 14:15] skabashnyuk commented on #13794
Does anybody see any difference if instead of "workspace-XXX" where XXX is sequential number would be  "workspace-YYYYY" where YYYYY - is a random letter/numbers (same as a new workspace name on the dashboard)? Cause searching for next XXX quite a heavy lifting
 process for backend

[2019-08-05 14:17] disaster37 opened #14130 "Rook ceph and che workspace issue"
### Describe the bug
When start che workspace and we use rook-ceph as storage class it doesn't work fine. In many case, we have mount issue because of the ceph volume is mounted and unmounted in very quick time. In fact, it seem to mount volume when it start a kind of jobs mkdir  and then it destroy the jobs and immediatly it start another container that mount the same volume for plugin management

[2019-08-05 14:22] slemeur commented on #14125
discussed here: https://github.com/eclipse/che/issues/13394
@vparfonov is that a regression?

[2019-08-05 14:23] benoitf commented on #13794
I think it's nice to have the devfile name part of workspace name to better see what is inside the workspace but if workspaces have all random name suffixes  like `-ml62` (even the first one) I'm fine as well
BTW this is what dashboard is using for newly workspaces.

But it would be nice if API allow to specify the workspace name as well (and if already taken throw error in that case)

[2019-08-05 14:30] tolusha opened #14131 "Impossible to set boolean value for preferences via devfile"
### Describe the bug
Impossible to set boolean value for preferences via devfile.
It is automatically converted into a string.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Add preferences into devfile
[code]
2. It is automatically converted into:
[code]
3. Start a workspace
4. Check user preferences:
[code]
5. The value of the attribute is

[2019-08-05 14:32] AndrienkoAleksandr commented on #14080
@amisevsk @sleshchenko Take a look, please https://github.com/eclipse/che/issues/14080 . node_modules was removed , but devfile was not improved according to this change.

[2019-08-05 14:59] AndrienkoAleksandr opened #14132 "Mark in the task widget title when task is exited."
### Is your enhancement related to a problem? Please describe.
We need better notify user when task is completed.

### Describe the solution you'd like
We could mark completed task with help task widget title. For example in the task title we can apply text: `Exited` after task name when task is completed.

[2019-08-05 15:05] donenocode opened #14133 "Che reset to default after unexpected reboot (Openshift / Multiuser)"
## Summary
After an unexpected restart of a single node openshift 'cluster' running Eclipse Che multiuser.
The installation has reset to defaults. The default admin password for Che, all workstations/organizations have gone.
The Che/Keycloak/Postgres containers have all started (apparently correctly).

## Relevant information
Docker images:
Che-server: eclipse/che-server:6.15.0
Keycloak: eclipse/c

[2019-08-05 15:07] ibuziuk commented on #14093
PR merged - https://github.com/eclipse/che-operator/pull/64
Should be fixed with the next operator release

[2019-08-05 15:07] #14093 closed

[2019-08-05 15:40] donenocode commented on #14133
Further to this I think the issue is related to keycloak as using the Che api I can query and see the user details.
However they do not appear in keycloak.
I continue to look.

[2019-08-05 16:00] benoitf commented on #14133
cc @ibuziuk @skabashnyuk

[2019-08-05 16:01] benoitf commented on #14132
looks a dup of https://github.com/eclipse/che/issues/14125

[2019-08-05 16:03] benoitf commented on #14131
feature issue is for `7.1.0` so putting the same milestone there

[2019-08-05 16:04] benoitf commented on #14131
cc @skabashnyuk @ibuziuk

[2019-08-05 16:07] dmytro-ndp commented on #14128
It's related to https://github.com/eclipse/che/issues/14068

[2019-08-05 17:46] AndrienkoAleksandr commented on #14132
@benoitf I don't mind notification about task exited.  I think notification - it's not enough. I think task notification it's temporary marks widget, but when user opens a lot of tasks and he don't want to close all widgets, he should remember which one notifications marked some widget, like exited. But it's confusing. I think the best way for such cases ->  display information about exited task i

[2019-08-05 20:00] skabashnyuk commented on #14133
@donenocode
Looks like you reporting a bug. Could you please provide additional information?

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `m

[2019-08-05 21:58] l0rd commented on #14122
Building an image within a container running on OpenShift (i.e. rootless build) can be tricky. You cannot achieve that with buildah. Maybe using S2I but that's OpenShift specific and has limitations as well.

I don't think that OpenShift / buildah are ready yet for that kind of scenario.

[2019-08-05 22:32] l0rd commented on #9728
No that's not relevant anymore

[2019-08-05 22:32] #9728 closed

[2019-08-06 03:40] svkr2k commented on #14117
Updated usage scenario (added #4) to the original comment.

[2019-08-06 05:46] sleshchenko commented on #14131
Seems it duplicates https://github.com/eclipse/che/issues/13302 but the title definitely is more precise here )

[2019-08-06 06:37] mmorhun commented on #14119
To me we shouldn't put into docs things which is not completely true. It will lead to confusion and probably bad reaction from people who decide to sort it out (which is not complicated). At the end, our users are developers and I believe it won't be hard for them to understand (and know name of the editor in which they are working).

[2019-08-06 06:47] dmytro-ndp commented on #14108
[Jenkins job](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/CHE-7-Maven-PR-build-checker-codenvy-slave9) has been switched to use `che-bot`.

[2019-08-06 07:00] sunix commented on #14119
what is true is that `vscode extension + side car container` is not specific to theia. you could run them with theia but it could be another runtime. So what is the confusion ?

[2019-08-06 07:40] Ohrimenko1988 commented on #14108
@dmytro-ndp could you close this issue if bug not reproduce

[2019-08-06 07:42] sparkoo commented on #13794
Although pull request is already open (#14129), our team does not much like the solution and discussion now directs to generate random suffix. We would like to propose this solution:
Inspired by Kubernetes (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#objectmeta-v1-meta), we would like to add a new field to the devfile-metadata - `generateName`. This field will be applied i

[2019-08-06 07:52] monaka commented on #14119
I guess it can be resolved by putting more layers.
Like:

- Contributing Guide
  - Che-Theia
    - Developing Plug-ins
      - @theia/plugin
      - sidecar container with vscode-ext
   - GWT-IDE (... if supported in someday)
   - ANOTHER_IDE (... not known yet)

[2019-08-06 07:53] #14053 closed

[2019-08-06 07:55] monaka commented on #14119
@sunix Indeed the another IDE also may use sidecar containers. So, how about this?

- Contributing Guide
  - Che-Theia
     - Developing Che-Theia plug-ins
  - sidecar container with vscode-ext

[2019-08-06 07:57] benoitf commented on #13794
This solution is perfectly fine for me

[2019-08-06 08:06] metlos commented on #14002
So I've made some initial progress into making this working again. I've started with single-user mode and have found that the original way this was developed only works with nginx-ingress-controller in version 0.21.0 or older (present in minkube <= 0.35.0). There was an incompatible change in version 0.22.0 (in minikube 1.0.0 or newer) that breaks our approach and we need to modify the way we defi

[2019-08-06 08:11] skabashnyuk commented on #13794
CC @davidfestal @l0rd . Please take a look at https://github.com/eclipse/che/issues/13794#issuecomment-518549557

[2019-08-06 08:29] sunix commented on #14119
@monaka For the moment, I would move doc related to theia plugins to `CONTRIBUTING.md` of che-theia. I don't see any usage people outside of Che committers writting a "che-theia plugin"

[2019-08-06 09:42] tolusha commented on #13698
Here is the devfile to play with c/c++ tools

[code]

[2019-08-06 09:50] benoitf opened #14136 "Timeout wait on chectl when deploying Che with Minishift addon"
### Describe the bug
Chectl is waiting for a `Devfile registry pod` but there is no such pod with minishift-addon.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

[code]

### Expected behavior
startup should be fine

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ]

[2019-08-06 09:51] benoitf commented on #14136
Introduced by https://github.com/che-incubator/chectl/pull/228 and https://github.com/che-incubator/chectl/pull/189

[2019-08-06 09:53] benoitf opened #14137 "Timeout wait on minishift addon for che-server"
### Describe the bug
Chectl is waiting for a che pod with name 'component=che, app=che' but the pod name has no component so it wait for ever

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

Starts chectl with remote URLs for registries with minishift/minishift-addon

### Expected behavior
chectl should run fine

### Runtime
   - [ ] kubernetes (

[2019-08-06 09:58] benoitf opened #14138 "default online plugin registry is not up-to-date for minishift addon"
### Describe the bug
Following https://github.com/eclipse/che-plugin-registry/pull/194 and https://github.com/eclipse/che/pull/14061 now machine exec plugin is retrieved with `next`

but if I start Eclipse Che with minishift addon (and no local registries by default)

I've the following error in Che:
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to r

[2019-08-06 11:04] vparfonov commented on #14125
@slemeur
Looks like it was not fully implemented for Che Task.
For `master` branch fixed here https://github.com/eclipse/che-theia/pull/399, should we port it to the `7.0.0` branch?

[2019-08-06 11:12] tolusha commented on #13614
It is turned out to be a more general issue when plugin sends request to Theia to open an file that exists only in a sidecar container.

[code]

[2019-08-06 11:39] donenocode commented on #14133
Thanks for the response.
I have tracked the issue to be the Keycloak postgres database.
It appears to have be initialised when the system rebooted.
I've restored backup data to it now which is a bit out-of-date but good enough to get going and to manually fix the new stuff.

**For reference however:**
Che Version: 6.15.0
Runtime: OpenShift 3.11.0 (Kubernetes v1.11.0)
Che Installation method: via t

[2019-08-06 11:39] #14133 closed

[2019-08-06 12:05] sleshchenko commented on #13869
I tried to test Che with TLS enabled on CRC but did not manage to run it successfully.
One of the main failure reason: there is no ability to configure the public hostname and routing suffix as minikube and minishift have.
I tried to modify the source code of crc [1] and paste my domain there, but try was not a success.
`crc.testing` and `apps-crc.testing` domains are also hardcoded in a bundle. I

[2019-08-06 12:06] benoitf commented on #13869
@sleshchenko is there a pending issue to allow custom domain in CRC ? (if none we could create one or discuss how to manage TLS there ? )

[2019-08-06 12:15] mshaposhnik commented on #13607
So, i performed an bung of testing and seems that switch to `JGroups`  version 4.x and `KUBE_PING` versuin 1.10+ soves the described error. So the main impediment as for now is accepting PR in the EclipseLinlk (https://github.com/eclipse-ee4j/eclipselink/pull/500) and waiting for release of it.

[2019-08-06 12:18] sleshchenko commented on #13869
I got the following answer from CRC guys via CoreOS Slack
[code]

So, we can create an issue to discuss TLS configuration.

[2019-08-06 12:20] sleshchenko commented on #13869
I'm closing this issue since we tested platforms that were defined as a scope:
1. minishift (local linux)
2. minikube (local linux)
3. GCP
4. AWS
5. Azure

If anybody has any issues with TLS on the listed platforms or any others - feel free to register a new issue.

[2019-08-06 12:20] #13869 closed

[2019-08-06 12:21] skabashnyuk commented on #14138
I thought minishift addon was retired since nobody support it.

[2019-08-06 12:30] benoitf commented on #14138
@skabashnyuk I guess it is not retired as I need to provide it as part of chectl for `7.0.0`:
https://github.com/eclipse/che/issues/13889

[2019-08-06 13:10] mshaposhnik commented on #14131
@tolusha am i correct - you mean the attributes of the root devfile object ? (there is no preferences field except the one in chePlugin type)?

[2019-08-06 13:12] #14123 closed

[2019-08-06 13:12] #14100 closed

[2019-08-06 13:30] tolusha commented on #14131
@mshaposhnik
I mean in the preferences field of the chePlugin.

[code]

[2019-08-06 13:34] mshaposhnik commented on #14131
ok

[2019-08-06 13:35] slemeur commented on #13869
@sleshchenko Could you list the issues identified and fixed along this issue?

[2019-08-06 13:37] slemeur commented on #14125
7.1.0 please

[2019-08-06 13:59] svor commented on #13908
@slemeur for example QuickFixe icons:
![screenshot-localhost_3000-2019 08 06-16_55_42](https://user-images.githubusercontent.com/1271546/62546024-6eb6dc80-b86b-11e9-8bab-e99162ad1fbc.png)

[2019-08-06 14:45] sunix commented on #13722
Reading at the description

it sounds like a bug. But I don't think i have faced that one so far. What is the impact for the user ?

[2019-08-06 14:47] sunix commented on #14073
if we mount, we can decide to have write access no ?

[2019-08-06 15:29] sunix commented on #14091
We plan to let the user installing a vscode extension in any sidecar container. Would that solve the problem ?

[2019-08-06 17:30] slemeur commented on #13421
Does this answer your question @trobert2 ?
On Che 7, the documentation is here: https://www.eclipse.org/che/docs/che-7/che-quick-starts.html

[2019-08-06 17:32] slemeur commented on #14111
@nickboldt could you reference the PR of this issue?

[2019-08-06 18:46] slemeur commented on #14138
needed for #13889 -> milestone `7.0.0`

[2019-08-06 18:49] slemeur commented on #14137
needed for #13889 -> milestone `7.0.0`

[2019-08-06 18:55] slemeur commented on #14136
needed for #13889 -> milestone `7.0.0`

[2019-08-06 19:03] nickboldt commented on #14111
It's linked above, @slemeur but here you go: https://github.com/eclipse/che-operator/pull/63

[2019-08-06 19:07] nickboldt commented on #14113
*mutters* It's not always about the size, you know. :|

If you want an alpine based yq container, there's https://hub.docker.com/r/evns/yq/ but yeah, we could have one that includes BOTH httpd and yq based on Alpine if we want something super tiny and incompatible with Red Hat productization processes.

[2019-08-06 20:12] nickboldt commented on #14076
https://www.redhat.com/en/blog/transitioning-red-hat-container-registry Yes, but with no set deadline.

Yes. This is done so that people who want to use the auth'd registry can transition, and those that don't, do not need to.

If the same image appears on both, it's the same. If it only appears on one registry, it's probably an older one (eg., some RHSCL images are only on RHCC, but newer UBI ima

[2019-08-06 20:20] nickboldt commented on #14076
Because the python wrapper uses the more commonly used (and thus standard) jq implementation.

The golang version is not the same as the one used in the che-operator repo - different implementation, different CLI, different syntax. Do you really want to have two different yq implementations across the Che repos?

Either way, I'm going to need to pick something I can use in Brew. python36, pip, jq

[2019-08-06 23:08] lemaral commented on #14138
Same issue with minikube
Failed to download plugin meta: failed to fetch plugin meta.yaml from URL 'https://che-plugin-registry.openshift.io/v3/plugins/eclipse/che-machine-exec-plugin/next/meta.yaml': Downloading https://che-plugin-registry.openshift.io/v3/plugins/eclipse/che-machine-exec-plugin/next/meta.yaml failed. Status code 404. Response body:
Not Found
The requested URL /v3/plugins/eclipse/

[2019-08-07 01:25] monaka commented on #14119
@sunix Just based on my experience, potential uses who want to develop che-plugin are not only Che committers. Some users will customize che-theia for their purpose. For example, I extended my graphical editor to che-theia. And I won't merge it to `eclipse/che-theia` as it isn't for general purpose.

[2019-08-07 01:35] monaka commented on #14119
The title "Contributing Guide" may not fit to the contents. It's better to "Extending Che" or something.

[2019-08-07 05:32] sleshchenko commented on #13869
Summary of the work done in this issue:

**GPC** was the first platform we tried to test.
We discovered that issues user faced was not because of TLS enabled but because of `single-host` that was enabled by default along with TLS. There is an issue for single-host [1].
Then was figure out that TLS functionality in Helm Chart was designed to use letsencrypt certificate manager that should generate

[2019-08-07 05:58] benoitf commented on #14138
@lemaral could you tell me how you setup che on minikube ? (helm/operator, etc)

[2019-08-07 06:44] evidolob opened #14140 "IDE2-2019-09-03 (Sprint: 171)"
### Sprint Goals:
1. Che 7.1 che-theia fixes and improvements
2. Che 7.1 Dashboard fixes

## 1. Che 7.1 che-theia fixes and improvements
- [ ] Theia remote plug-in runtime in sidecar container improvement #13387 - 7d
- [ ] White labelling capabilities for Che 7 #14110 - First part Dashboard and investigating che-theia 5d
- [x] plugin panel: Plugin view shouldn't show all the version of the plugin

[2019-08-07 06:51] Ohrimenko1988 opened #14141 "[Happy Path] Sometimes the "Happy path" test fails when click on "Start debug" button"
### Describe the bug

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1) Create workspace from devfile <https://raw.githubusercontent.com/eclipse/che/master/e2e/files/happy-path/happy-path-workspace.yaml>
2) Launch created workspace
3) Open workspace
4) Build application by command "che: build"
5) Open codebase and set breakpoint
6) Launch comman

[2019-08-07 07:17] evidolob opened #14142 "Fix security alerts in che-theia repository"
### Is your task related to a problem? Please describe.
Currently we have `Security Alerts` from github in [che-theia repository](https://github.com/eclipse/che-theia)

### Describe the solution you'd like

We need to upgrade dependencies:
- `js-yaml` in `generator/package.json` and `eclipse-che-theia-plugin-ext/package.json`
- `axios` in `generator/package.json` and `eclipse-che-theia-plugin-ext/

[2019-08-07 07:17] evidolob commented on #14142
I think it can be for 7.1.0 milestone

[2019-08-07 07:26] svor commented on #13910
should be fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-08-07 07:27] svor commented on #13906
should be fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-08-07 07:27] svor commented on #13907
should be fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-08-07 07:27] svor commented on #13908
should be fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-08-07 07:45] sunix commented on #14119
@monaka I understand. Let's summarise: now we have several extension point:

- VSCode extension (with or without sidecar container)
  Works on vscode and Che. This is the prefered way. it can be activated to a devfile and include in a plugin registry.
- Theia plugin (with or without sidecar container)
  Basically the same as vscode extensions. But we use Theia plugin when we need to interact with

[2019-08-07 08:09] dmytro-ndp commented on #14108
PR check Jenkins job hasn't run into that problem during the day after switching to `che-bot` account, so I am closing the issue as resolved.

[2019-08-07 08:09] #14108 closed

[2019-08-07 08:20] #13929 closed

[2019-08-07 08:21] vinokurig commented on #13814
fixed by theia-ide/theia#5187

[2019-08-07 08:52] Ohrimenko1988 opened #14143 "[Happy-Path] Update chromedriver to version 76.0.0"
### Is your task related to a problem? Please describe.
Currently used chromedriver version (2.46.0) supports chrome driver with versions between 71 and 75
The latest version of chrome browser is "76". So current chromedriver version is outdated and should be upgraded.

[2019-08-07 09:14] #14125 closed

[2019-08-07 09:33] sleshchenko commented on #13562
I'm not able to reproduce it anymore on my minishift installation.

[2019-08-07 09:54] tom-shan opened #14145 "The theia sample of hello world plugin build failed on Windows"
### Describe the bug

comes from another issue https://github.com/theia-ide/theia/pull/5849#issuecomment-518151795

### eclipse/che-theia-samples version

 - [x] latest

### Steps to reproduce
1 `git clone https://github.com/eclipse/che-theia-samples`
2 `cd che-theia-samples/samples/hello-world-backend-plugin`
3 `yarn`

### Expected behavior
build successfully

### Screenshots
[code]

### Environm

[2019-08-07 10:00] sleshchenko commented on #14102
@rhopp I agree with you but the current implementation allows you to run
[code]
And you won't get any hint that it supposed by fail because of incorrect parameters propagation by chectl.

I would merge quick fix https://github.com/che-incubator/chectl/pull/241
and then improve and maybe deny mixing installing parameters and provided `cr-yaml`
or deny specifying parameters when an operator is used

[2019-08-07 10:13] RomanNikitenko commented on #13562
I tried to reproduce the issue on minikube and minishift as well.
I'm not able to reproduce this one, so I'm closing the issue.

[2019-08-07 10:13] #13562 closed

[2019-08-07 11:22] skabashnyuk commented on #14117
@svkr2k
Usecase 1-3 should be possible to do at this moment.
4. unlikely would happen

[2019-08-07 11:48] musienko-maxim commented on #13973
after implementation latest changes in the test this problem is not repeoduced

[2019-08-07 11:48] #13973 closed

[2019-08-07 12:03] skabashnyuk opened #14146 "Platform-2019-09-03 (Sprint: 171)"
### Description

 - [ ] Test Che6 to Che7 upgrade using che-operator | https://github.com/eclipse/che/issues/14200 | 8
- [x] Do not wait for PV state bound if we got a message "waiting for the first consumer to be created before binding" | https://github.com/eclipse/che/issues/13437 | 8
- [ ] server:start doesn't work if Che has already been deployed | https://github.com/che-incubator/chectl/issue

[2019-08-07 12:16] #11620 closed

[2019-08-07 13:05] RomanNikitenko commented on #14098
I added in the description of the issue one more use case related to `Terminal` -> `Run Task` menu.
The video for the case is available as well.

The bug was caused by last changes on theia repo. I can not reproduce it for theia project, so some changes are required on che-theia side.

[2019-08-07 13:37] sunix commented on #13993
This issue is much more critical than the side effect of loosing its changes of the tasks.json.

- when you are facing this current issue, you don't understand what is happening. It took me 1 day to figure out that it was a bug in the task plugin and only when i restart the workspace.
- it is fine as a workaround to modify the devfile and restart rather than modifying a tasks.json. The devfile is

[2019-08-07 13:39] slemeur opened #14147 "Revamp Che 7 administration guide"
### Goal
The goal of this issue is to revamp the administration guidelines of Che 7.
Outline will need to be rework and explanations needs to be adapted/reviewed/reworked

## Subtask:

- [x] [docs] Document All fields of the CheCluster CR in che-docs and CRD - https://github.com/eclipse/che/issues/13886
- [ ] [docs] Document the various places where Che can be configured (Che Custom resource defin

[2019-08-07 13:39] rhopp commented on #14068
PR check is up and running on eclipse/che repo. Closing.

[2019-08-07 13:39] #14068 closed

[2019-08-07 14:11] l0rd commented on #13794
@sparkoo this solution makes sense

[2019-08-07 14:20] vparfonov opened #14148 "IDE-2019-09-03 (Sprint: 171)"
### Sprint goals

### Sprint details:
- [x] Adaptation for tasks is required #14098
- [ ] Preconfigure git user information from Che user's profile/preferences #13874
- [ ] Improve the way of storage runtime info for Che tasks #13722 (need analyze more deeply, during sprint we will try to found solution, implementation in next sprints)
- [x] [openshift plugin] test service related commands #13412

[2019-08-07 15:27] sunix commented on #13587
@slemeur I was thinking that we would not change anything in the devfile

I was more thinking, in the workspace view, expanding all the container items that contains commands and collapse all the containers that doesn't contain any commands. whether these containers are user containers or plugin containers.

[2019-08-07 17:21] esubah1989 commented on #13736
I also got this error in Chrome.

[2019-08-07 19:48] vrubezhny commented on #13700
The versions v1.1.1 - v1.1.5 not working on theia-ide:che-7.0.0 branch (which currently is used for Che7), because of wide usage of workspace configuration which is not fully supported.
[code]
I believe these errors are result of lack of support of workspace configuration by Theia which is required in following call examples (https://github.com/bmewburn/vscode-intelephense/blob/master/src/middlewa

[2019-08-07 19:56] johnmcollier opened #14150 "Image pull-backoff for Plugin Registry when deploying Che via Operator"
### Describe the bug

When deploying the Che operator on OpenShift from the che-operator repo, the Che-Plugin-Registry container fails with an ImagePullBackOff error. Looking into the error further, it seems that the `quay.io/eclipse/che-plugin-registry` image doesn't exist

### Che version
Che 7 nightly
Latest version of the operator from https://github.com/eclipse/che-operator/

### Steps to rep

[2019-08-07 20:03] johnmcollier commented on #14150
Looks to be the `nighlty` typo in the Che operator code, I can put up a PR to fix this

[2019-08-07 20:32] johnmcollier commented on #14150
Opened https://github.com/eclipse/che-operator/pull/65

[2019-08-07 20:41] amisevsk commented on #14003
Closing as current apache camel [devfile](https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/apache-camel-springboot/devfile.yaml) contains a working setup for debugging (start remote application + connect remote debugger).

There are some improvements still possible, as listed in https://github.com/eclipse/che-devfile-registry/pull/66#issuecomment-518114703

[2019-08-07 20:41] #14003 closed

[2019-08-08 02:16] rajeshm9 commented on #14049
Is there any way we can use "impersonation" api of keyclock do that task.
I am using impersonation api of keyclock and using admin token but getting 403 Forbidden error.

**http://192.168.1.7:5050/auth/admin/realms/che/users/61c0d26d-87a8-43c7-9c1b-2b203cc3fab3/impersonation**

Response:  HTTP/1.1 403 Forbidden

[2019-08-08 02:27] monaka commented on #14119
I agree the topic `vscode extension + sidecar container` should be the top of contents.  It will be the most demanding item from users. There is no room for doubt.

Next, `Theia plugin (with or without sidecar container)` and `Theia extension.` should be included or not.
Basically, I prefer the official document is centralized.
At the same, I can follow the opinion "topics about Che-theia should b

[2019-08-08 06:17] monaka commented on #14142
`js-yaml` and `lodash` will be fixed by eclipse/che-thaia#404. Others need Eclipse CQ approvement.

[2019-08-08 06:48] monaka opened #14151 "In some case, generated paths to each ssh private key in `/etc/ssh/config` will be mismatch to mount paths."
### Describe the bug

I couldn't `git push` via SSH. I inspected and It is caused by invalid path to SSH key.

### Che version

 - [x] HEAD ~~other: please specify~~

### Steps to reproduce

As currently I'm not sure  how to reproduce, I show my step.

1. Open terminal
2. `ssh -vvv git@ssh.dev.azure.com`
3. Press `Ctrl-C` after SSL auth was failed.
4. `ls /etc/ssh/`

### Expected behavior

The goa

[2019-08-08 06:58] skabashnyuk commented on #14049
Do you get 503 on a call to keycloak?

[2019-08-08 07:02] monaka commented on #14151
Looks caused by here: https://github.com/eclipse/che/blob/1af529cc4bf1ad9cbad6ad9b527bf8a27d3fe7b9/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/VcsSshKeysProvisioner.java#L239

My suggestion is to remove getValidNameForSecret() because it doesn't any help for creating valid path string.

https://github.com/eclipse/che/blob/1af529cc4bf1ad9cb

[2019-08-08 07:45] monaka commented on #13302
I close this and move to #14131.

[2019-08-08 07:45] #13302 closed

[2019-08-08 07:46] ibuziuk commented on #14151
@monaka could you clarify how the keys were generated. There is a known issue that workspace must be restarted to have the keys available form all containers - https://github.com/eclipse/che/issues/14073 ? is it smth. you are facing atm?

[2019-08-08 07:55] ibuziuk commented on #14151
@vparfonov @vinokurig there is a PR sent with a potential fix - https://github.com/eclipse/che/issues/14151
Could you please review?

[2019-08-08 07:58] monaka commented on #14151
@ibuziuk In my case, the key was generated before (in Che6). So it looks this issue is not related on #14073.

The background of this issue is "The private key was generated and stored to DB with no trouble. The provisioner for Kubernetes created `secret` object and mounted to the workspace container. But the content of the generated config file `/etc/ssh` is broken. So ssh is failed."

[2019-08-08 07:58] ibuziuk commented on #14141
@rhopp moving to `7.1.0` for now since it is P2 and not crucial (but, nice to have) for GA

[2019-08-08 08:04] ibuziuk commented on #14145
@evidolob if it is windows specific only, I suppose we can move it to 7.x (up to the team to decide in which milestone this issue could be tackled). We could also put `open-for-dev` label

[2019-08-08 08:09] ibuziuk commented on #14151
I do not know if the keys generated in Che 6 are compatible with Che 7 (@vparfonov @vinokurig could you please shed some light on it?). Basically, in Che 7 one needs to generate keys via `SSH plugin` https://github.com/eclipse/che-theia/tree/master/plugins/ssh-plugin
There is also a demo video https://youtu.be/72MDoJT05cY

@monaka could you update the issue description / title and specify that the

[2019-08-08 08:34] monaka commented on #14151
The endpoint `/api/ssh` is not changed Che 6 to 7. I can get ssh keys even though I've generated no keypair on Che7. So it is beyond suspicious.

This issue doesn't depend on how generate key pair. This issue will be reproduced even if the key pair is generated via Che-Theia 7.

![Screenshot 2019-08-08 at 17 27 10](https://user-images.githubusercontent.com/101795/62687554-f6ceea80-ba01-11e9-9791-1

[2019-08-08 09:19] metlos commented on #13671
When I was playing with the sample devfiles, I encountered this same problem with the go samples. I thought about having generic build/test/run tasks that would get the sample to work with using task inputs (https://code.visualstudio.com/docs/editor/variables-reference#_input-variables) but alas, that doesn't seem to be supported by Theia yet (https://github.com/theia-ide/theia/issues/5836).

[2019-08-08 10:05] #14138 closed

[2019-08-08 10:22] vparfonov commented on #14151
@monaka Thanks for fix, I will check it. But it strange because I remember that got exception if try to mount keys with `.` in name. Thats way I add this method.

[2019-08-08 10:23] vparfonov commented on #14151
Yes it doesn't meter are keys generated in Che6 or Che7, should work both

[2019-08-08 11:12] monaka commented on #14151
@vparfonov If my understanding is collect, the name of secret object must be matched `[A-Za-z_][A-Za-z0-9_]*`. But the mount path for it can be loose strict. Sometimes I'm also getting mixed up.

[2019-08-08 11:27] skabashnyuk opened #14153 "Installer/Bootstrapper decommissioning"
### Is your task related to a problem? Please describe.
Remove Che6 code from the master codebase

### Describe the solution you'd like
Cleanup all code related to Che6 concept: Installer/Bootstrapper

### Describe alternatives you've considered
none
### Additional context
none

[2019-08-08 11:30] #12475 closed

[2019-08-08 11:31] wtrocki opened #14154 "Cannot initialise workspace using factory"
# Description

Factories from github url stopped working, while using the same factory directly in UI creates workspace successfully.

# Steps to reproduce

Login to Console and don’t create a workspace just yet.
Modify the url to by appending path /f?url=https://github.com/aerogear/ionic-showcase.git and eclipse che will automatically set up a new workspace for you.

What is happening is that
Wor

[2019-08-08 11:33] skabashnyuk commented on #476
At this moment K8S/OpenShift platform is the fundamental part.

[2019-08-08 11:33] #476 closed

[2019-08-08 11:33] skabashnyuk commented on #1177
Not relevant anymore.

[2019-08-08 11:33] #1177 closed

[2019-08-08 11:34] skabashnyuk commented on #2151
Not relevant anymore. Please consider opening a new issue if you think it is up to date.

[2019-08-08 11:34] #2151 closed

[2019-08-08 11:35] skabashnyuk commented on #1650
Not relevant anymore.

[2019-08-08 11:35] #1650 closed

[2019-08-08 11:36] sleshchenko commented on #9694
@mjshashank Probably you faced `server is not available` issue because Che Server did not propagate tls certificate into workspace's namespaces. It's  was fixes by https://github.com/eclipse/che/pull/13946
Also, note that `single-host` is not the default server strategy when TLS is enabled anymore.

Also, you can find information about testing TLS on different platforms (GPC, AWS, Azure, minishift

[2019-08-08 11:36] skabashnyuk commented on #2481
Not relevant anymore. Please consider opening a new issue if you think it is up to date.

[2019-08-08 11:37] skabashnyuk commented on #2409
I think at this moment Keycloak can be integrated with Gitlab oAuth

[2019-08-08 11:37] #2409 closed

[2019-08-08 11:37] sleshchenko commented on #9694
I believe this issue should be already resolved. @mjshashank Feel tree to reopen this one or register a new issue if you still face any issues with deploying Che with TLS enabled.

[2019-08-08 11:37] #9694 closed

[2019-08-08 11:37] #2481 closed

[2019-08-08 11:38] skabashnyuk commented on #2525
Not relevant anymore. Please consider opening a new issue if you think it is up to date.

[2019-08-08 11:38] #2525 closed

[2019-08-08 11:38] skabashnyuk commented on #2771
Not relevant anymore.

[2019-08-08 11:38] #2771 closed

[2019-08-08 11:40] sleshchenko commented on #9694
@elacy Could you please check the latest changes on your instance as well and reach me out if you have any issues. Thanks!

[2019-08-08 11:41] skabashnyuk commented on #3648
Not relevant anymore. Please consider opening a new issue if you think it is up to date.

[2019-08-08 11:41] #3648 closed

[2019-08-08 11:47] ibuziuk commented on #14154
@wtrocki is it CRW specific issue (1.2.0 GA) ? cc: @nickboldt

[2019-08-08 11:54] wtrocki commented on #14154
Yes.

[2019-08-08 11:58] ibuziuk commented on #14154
@wtrocki I can not reproduce on the latest upstream `7.0.0-rc-4.0`. You can try smth. like - https://github.com/ibuziuk/my-che-devfiles/blob/master/vaadin-addressbook/factory.json

[2019-08-08 12:01] ibuziuk commented on #14154
@nickboldt it might make sense to close this issue and open CRW specicif jira wdyt?

[2019-08-08 12:04] ibuziuk commented on #6549
Fixed after jdt.js switch - eclipse/che#6157
Closing

[2019-08-08 12:04] #6549 closed

[2019-08-08 12:05] ibuziuk commented on #9381
Closing as outdated

[2019-08-08 12:05] #9381 closed

[2019-08-08 12:16] vinokurig commented on #13814
fixed by theia-ide/theia#5187

[2019-08-08 12:16] #13814 closed

[2019-08-08 12:20] sunix commented on #13814
Is it fixed in Che-theia 7.0.0-next ?

[2019-08-08 12:21] vinokurig commented on #13814
Yes, but the docker image is not built yet.

[2019-08-08 12:46] mmorhun commented on #9103
Not actual any more.

[2019-08-08 12:46] #9103 closed

[2019-08-08 12:47] mkuznyetsov commented on #14009
the issue with this sample, that it doesn't work on minikube/minishift instances without `userland-proxy=false`, which is not enforced anymore in chectl/docs.
that's why application cannot connect to mongodb container and fails (2 & 3 points of the issue)
@benoitf @davidfestal could you suggest something on this?

as for `run the web app task opens URL that returns 404`, this would be solved by Pr

[2019-08-08 13:03] ibuziuk opened #14155 "Grafana dashboards "Number of Users" / "Number of Workspaces" should contain date and № on x and y axis"
Grafana dashboards "Number of Users" / "Number of Workspaces" should contain date and № on x and y axis respectively to improve readability.

![image](https://user-images.githubusercontent.com/1461122/62706479-e9a90000-b9ef-11e9-882b-28d769758c5c.png)

It would be great to have date and № info on  on x and y axis similar to what already presents on other dashboards:

![image](https://user-images.g

[2019-08-08 13:11] slemeur commented on #14020
@rkratky : Is that something your team would be able to pick up?

[2019-08-08 13:18] slemeur commented on #13961
@evidolob + @benoitf : Could you please review?

[2019-08-08 13:22] rhopp commented on #13864
We haven't seen this issue in some time. Closing now - feel free to reopen, if it happens again.

[2019-08-08 13:22] #13864 closed

[2019-08-08 13:22] rhopp commented on #13865
We haven't seen this issue in some time. Considering resolved - closing now - feel free to reopen, if it happens again.

[2019-08-08 13:23] #13865 closed

[2019-08-08 13:29] vrubezhny commented on #13700
For master branch we have pretty the same problem. It starts working until the plugin asks for the configuration, then fails:
[code]
After this failure, there is no hovers/content assist return by the LS.

The only version which works on both theia `master` and `che-7.0.0` branches is v.1.0.14 (probably because it doesn't use workspace configuration that much)

[2019-08-08 13:49] sunix commented on #13814
it is not merged yet ... https://github.com/theia-ide/theia/pull/5890

[2019-08-08 13:53] #14154 closed

[2019-08-08 13:56] mmorhun opened #14159 "Sometimes terminal colors cannot be removed"
### Describe the bug
Sometimes after colored output terminal fails to reset attributes (like color, bold font). Even new opened terminals have last used color as default. For example, if maven build fails, text color in terminal will be red and if one opens new terminal it will have red color as default. If restart build and it finishes successfully, we'll have green text in this and all new termi

[2019-08-08 13:58] sunix commented on #14159
this is the default bash behaviour ...

[2019-08-08 14:00] ibuziuk commented on #13607
@l0rd @slemeur looks like https://github.com/eclipse-ee4j/eclipselink/pull/500 it is utterly important to get this PR merged before GA, should we ask someone from foundation to speed-up the review process?

[2019-08-08 14:00] sunix commented on #14159
if your prompt PS1 doesn't set any colors, it will keep the latest one

[2019-08-08 14:01] mmorhun commented on #14159
It's not... tested in my host terminal (Ferdora 30, bash 5.0.7(1)-release). Reset should remove color. So `ls --color=auto` does.

[2019-08-08 14:02] amisevsk opened #14160 "Theia should not notify that an app is listening on an endpoint when that app restarts"
### Is your enhancement related to a problem? Please describe.
Theia pops up a fullscreen notification whenever an application starts listening on an exposed endpoint:

![Screenshot from 2019-08-08 09-55-45](https://user-images.githubusercontent.com/16168279/62709154-d0d62580-b9c2-11e9-8b47-65a4c3d446c1.png)

This is useful when first launching an app, but since this notification pops up *every* t

[2019-08-08 14:11] vinokurig commented on #13814
Now it is merged :)

[2019-08-08 14:18] slemeur commented on #13607
@ibuziuk this is not for GA, but `7.1.0`

[2019-08-08 14:23] skabashnyuk opened #14161 "Deprecate che-lib Github repository"
### Is your enhancement related to a problem? Please describe.
After merging this pr https://github.com/eclipse/che-lib/pull/141 only two modules will be left in che-lib. I don't see a big value to keep them separate.

### Describe the solution you'd like
move tomcat and swagger assembly to che repository.

### Describe alternatives you've considered
- do not repackage tomcat at all and use tomcat

[2019-08-08 14:25] skabashnyuk commented on #14161
@nickboldt @vparfonov thoughts?

[2019-08-08 14:28] themr0c opened #14162 "Refresh the documentation "Installing the chectl management tool" to current reality."
In https://www.eclipse.org/che/docs/che-7/che-quick-starts.html the "Installing the `chectl` management tool" section is pointing to an old version of `chectl`  from the month of march, https://github.com/che-incubator/chectl/releases/tag/20190314232124

Since then multiple releases of `chectl`  occurred, and the latest releases are not anymore in a single binary for all Linux versions, but in a c

[2019-08-08 14:29] ibuziuk commented on #14161
`build uber jar and use java community image openjdk:8` :+1:
would be really cool to build and start che-server via java -jar IMO

[2019-08-08 14:31] ibuziuk commented on #13607
@slemeur correct, I was just reviewing issue for `7.1.0` and looks like eclipse-ee4j/eclipselink#500 might be a blocker for it, so just a heads up - we might need to ask / push for review sooner rather than later

[2019-08-08 14:31] skabashnyuk commented on #13607
Max already send a review request https://www.eclipse.org/lists/eclipselink-dev/msg07786.html

[2019-08-08 14:31] themr0c commented on #14162
@rkratky would you please add the label 'area/doc', I do not have the necessary rights in this repository.

[2019-08-08 14:36] slemeur commented on #13587
ok pure UI/ux improvement

[2019-08-08 14:38] amisevsk opened #14163 "Plugin Broker should support relative paths"
### Is your enhancement related to a problem? Please describe.
To support offline plugin brokering, it's necessary for the plugin registry to know its own route. Since extension urls are set at build time, caching extensions locally within the registry (or elsewhere on the cluster) would require updating every `meta.yaml`'s extensions field at startup.

### Describe the solution you'd like
The Che

[2019-08-08 14:39] amisevsk commented on #14115
I've created issue https://github.com/eclipse/che/issues/14163 as an alternative for the second option above.

[2019-08-08 14:48] ibuziuk commented on #14160
moving to `7.2.0` for now @benoitf maybe we could have some checkmark on the pop-up e.g. `always expose / remember my decision` ?

[2019-08-08 14:48] themr0c commented on #14162
@l0rd Can we assume that the latest released version of `chectl` is and will stay the preferred version of `chectl` that should be used to deploy Che?

[2019-08-08 14:48] TristanFAURE opened #14164 "Che Plugin Broker, impossible to download vsix plugins in https"
### Is your enhancement related to a problem? Please describe.
Hello there we are trying to deploy a nightly of Che
during workspace startup plugins vsix are not downloaded because they are stored in through a https server :
2019-08-07 14:39:14,043[aceSharedPool-0]  [WARN ] [.i.k.KubernetesInternalRuntime 245]  - Failed to start Kubernetes runtime of workspace workspaceyx96zzqq8nngx5cp. Cause: Plu

[2019-08-08 14:49] ibuziuk commented on #14159
moving to `7.x` for now, feel free to re-prioritizes during sprint planning

[2019-08-08 14:50] ibuziuk commented on #14161
@skabashnyuk I moved to `7.2.0` for now, feel free to re-prioritize

[2019-08-08 14:51] ibuziuk commented on #14162
@themr0c this one is for GA, right ?

[2019-08-08 14:56] ibuziuk commented on #14164
@TristanFAURE which version of Che are you using?
I believe this should be fixed  by eclipse/che-plugin-broker#67 and #140897

[2019-08-08 15:03] themr0c commented on #14162
@ibuziuk This one need to be fixed soon most probably. The version that should be used need to be defined first.

[2019-08-08 15:18] ibuziuk opened #14165 "Need to tag all the `arbitrary-users-patch` images during the che-devfile-registry release CI"
### Is your enhancement related to a problem? Please describe.
Need to tag all the `arbitrary-users-patch` images during the che-devfile-registry release CI. Currently `nightly` version of the images is used.

### Describe the solution you'd like
Release all the  `arbitrary-users-patch` images with a similar tag that che-devfile-registry has e.g. `7.0.0-rc-4.0`
https://github.com/eclipse/che-devfi

[2019-08-08 15:36] ibuziuk opened #14166 "Che Operator should use "Rolling" strategy instead of "Recreate" for postgres deployment"
Che Operator should use "Rolling" strategy instead of  "Recreate" [1] for postgres deployment

[1] https://github.com/eclipse/che-operator/blob/d16dd077d14b3112e8b6ae44cf712fd8694b7013/pkg/deploy/deployment_postgres.go#L45

[2019-08-08 15:46] johnmcollier commented on #14150
@ibuziuk Yes, this can be closed now. Thanks.

[2019-08-08 15:46] #14150 closed

[2019-08-08 16:10] johnmcollier opened #14167 "Devfile: Support for .tar.gz archives"
## Summary
I see that the devfile spec supports .zip archives for projects currently, but not other types of archives, such as .tar.gz. We (the Eclipse Codewind) project are looking at some work where we'd like to support .tar.gz project archives in devfiles for Codewind running on Eclipse Che, if possible. Is that something we'd be able to contribute?

## Relevant information
- Devfile spec: http

[2019-08-08 16:11] ibuziuk commented on #14167
@johnmcollier contributions are most welcome cc: @skabashnyuk

[2019-08-08 16:19] amisevsk commented on #14091
It may, but still depends on setup. I need to rewrite this bug description when I have some time.

The basic issue is that the application being developed should *only* be run in the main workspace container. The only mode of debugging supported by Che in any sustainable way is remote debugging in the main container. In my eyes, all "launch" configs should be hidden in Theia unless absolutely nece

[2019-08-08 16:23] amisevsk commented on #14009
I think the main issue here is that the sample app used is a *bad* example. It's meant to be a backend API; the way to test it would be via something like postman.

Even if we redirect to `/api/articles`, the user cannot do anything with that web page, it just shows the json response that the server would give if you used `curl`. There's no way to post data, except by tasks.

I'm working on updati

[2019-08-08 17:01] skabashnyuk commented on #14167
CC @evidolob @sunix

[2019-08-08 17:04] nickboldt commented on #14164
+1, need this for air gap / offline plugin registry so we can use https URL for the plugin registry route.

[2019-08-08 17:08] nickboldt commented on #14163
will this change work for icons (.svg files) and theia extension (.theia files) too ? Need that as well as .vsix files for the air gap / offline / plugin-registry-all-in-one container solution planned for CRW 2.0

[2019-08-08 19:10] bryantson opened #14168 "Devfile: Updating devfile in workspace has a mismatch between the cursor position and actual editing position"
### Describe the bug

In a newly created workspace, the custom commands are modified in DEVFILE. The cursor that is pointing and the actual editing position is mismatching both from the horizontal and vertical editing perspective.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify
latest

### Steps to reproduce
1. Create a new workspace
2. Go back to Dashboard and click th

[2019-08-08 19:21] #14151 closed

[2019-08-08 19:33] nickboldt commented on #14162
I would think once 7.0.0.GA is out we can point people at the 7.0.0.GA tagged version of chectl, right?

[2019-08-08 20:22] l0rd commented on #14162
Thanks @themr0c for opening this issue. I think that we can:
- **right now**: update the doc with a link to latest released version (even if unstable)
- **as part of https://github.com/eclipse/che/issues/14114**: update the doc using a permanent link to the latest stable chectl

[2019-08-08 21:02] l0rd commented on #14115
@benoitf the multi-stage build benefit I see is it make it possible to use some scripts and tools in the intermediate "build" image without the need to have them in the target "prod" image  (`yq` for example). That's fine in theory but in practice those scripts and tools are useful at runtime as well to update the index.json, meta.yaml and devfiles.yaml. At least until the registries don't have a

[2019-08-08 21:15] l0rd commented on #14115
@amisevsk that's a good alternative indeed.

[2019-08-08 22:33] todo[bot] opened #14170 "switch to eclipse/che-e2e image"
https://github.com/eclipse/che/blob/30a70f5f15ccab7c04da7debaf5e2ef6cc22a81e/e2e/jenkins/crw-ci/pr-check/k8s/Jenkinsfile#L149-L154

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 30a70f5f15ccab7c04da7debaf5e2ef6cc22a81e when #14149 was merged. cc @eclipse.

[2019-08-08 22:33] todo[bot] opened #14171 "[tests] switch to eclipse/che-e2e image"
We need to run E2E Happy path tests on our own container image `eclipse/che-e2e` to decouple from hard-coded one `cypress/browsers:node8.9.3` in PR check Jenkins jobs.

This issue depends on https://github.com/eclipse/che/issues/14178

#### How to do it:
https://github.com/eclipse/che/blob/e1c2b87170c05637a6dfa6980d499dd4b6ad5ecd/e2e/jenkins/crw-ci/pr-check/k8s/Jenkinsfile#L149-L154

---

###### T

[2019-08-08 23:24] monaka commented on #14170
duplicate #14171 ?

[2019-08-09 04:32] Katka92 commented on #14160
This pop-up seems quite useless for me, because if I have a preview opened and the pop-up is shown, I can select `Open Link`, but it does basically nothing - I need to manually refresh the preview anyway.

[2019-08-09 06:49] evidolob commented on #13918
Closing, as now there are no need to change anything to build che-theia images with your changes

[2019-08-09 06:49] #13918 closed

[2019-08-09 06:56] sparkoo commented on #13794
@sunix @benoitf @l0rd @skabashnyuk do we want to use `generateName` in all our devfiles in devfile-registry?

[2019-08-09 06:56] vkuznyetsov opened #14172 "QE-2019-09-03 (Sprint: 171)"
### Sprint goals

### Issues tied to objectives

### Unplanned

### PR under review

#### Availability

| Name | Available |
| --- | :-: |
| Aleksandr Shmaraiev |  |
| Maxim Musienko |  |
| Dmytro Nochevnov | 15 |
| Igor Ohrimenko | 15 |
| Sergey Skorik | 15 |
|Radim Hopp | 10 |
| Total |  |

### Metrics

|  | Planned | Result |
| --- | --: | --: |
| **Budget** | NA |  |

### Retrospective Comment

[2019-08-09 07:00] sunix commented on #13918
We still need to adapt the devfile to use that mechanism

[2019-08-09 07:30] sunix commented on #14073
@vparfonov @vinokurig @l0rd why don't we write to it : we mount it we can have write access.

[2019-08-09 07:41] vinokurig commented on #14073
@sunix

wright access will not solve the problem, It doesn't matter where the keys are located after generation, in `/etc/ssh` or in `~/.ssh`. The problem is that the key file is generated only for `theia-ide` container.

[2019-08-09 08:02] sleshchenko commented on #14035
I tried to play with generating a self-signed certificate and discovered typical issues people faced:
1. Chrome from 58 version requires `Subject Alternative Names` to be set, previously `Common` name was fine.
2. Firefox does not allow to use a CA certificate as a certificate for signing requests.

Here I found some meaningful instructions about generating self-signed certificates https://wiki.mo

[2019-08-09 08:30] sleshchenko opened #14175 "che-operator auto-grabbing of self-signed certificate does not work correctly"
### Describe the bug
che-operator auto-grabbing of self-signed certificate does not work correctly.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
Generate CA and TLS certfificate:
[code]
2. Deploy Che on minishift with self-signed certificate enabled:
Configure Router with generated certificate:
2.1
[code]
2.2 Deploy Che Server itself
[code]

#

[2019-08-09 09:11] benoitf commented on #13794
I would say yes as I may start two workspaces from the same devfile

[2019-08-09 09:17] vinokurig commented on #13789
Is fixed by https://github.com/theia-ide/theia/pull/5661

[2019-08-09 09:17] #13789 closed

[2019-08-09 10:00] benoitf commented on #14115
@l0rd

the image is already built and index.json / meta.yaml and devfiles.yaml are never changed at runtime so I don't see where `in practice` you're using it.

[2019-08-09 10:45] skabashnyuk commented on #13794
I would say yes too.

[2019-08-09 11:34] Ohrimenko1988 opened #14177 "[TS_SELENIUM] Implement logic to be able to run tests with provided chromedriver"
### Is your task related to a problem? Please describe.
Implement logic to be able to run tests with provided chromedriver (installed locally) or with chromedriver installed by npm package `chromedriver`.

### Describe the solution you'd like
Create different implementations of "IDriver" interface and handle it by inversify

[2019-08-09 11:36] Ohrimenko1988 opened #14178 "[TS_SELENIUM] Fix build of `che-e2e` image (resolve the caching issue)."
### Is your task related to a problem? Please describe.
Nightly build is currently caching docker layers, which causes our image to have outdated google-chrome browser and chromedriver. We need to implement logic for invalidating docker cache, when new version of chrome is released.

[2019-08-09 11:41] sleshchenko opened #14179 "chectl fails to request Che Server if it's deployed with self-signed-cert flag"
### Describe the bug
Chectl fails to request Che Server if it's deployed with self-signed-cert flag.
As a result it's not possible to perform any operation where chectl requests Che Server: server:stop, workspace:list, workspace:start.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy Che with self-signed-cert enabled. Detailed instructio

[2019-08-09 11:42] ibuziuk commented on #14164
@nickboldt but offline mode is not related to this particular issue, or I'm missing your point?
https://github.com/eclipse/che/issues/14115

[2019-08-09 11:54] sleshchenko commented on #14035
I managed to deploy Che with self-signed cert (CA + certificate for TLS) with the following changes for helm chart and chectl: https://github.com/eclipse/che/pull/14176, https://github.com/che-incubator/chectl/pull/248.
When self-signed certificates are generated (see https://github.com/eclipse/che/issues/14035#issuecomment-519822676 **#Generate self-signed certs**
You can proceed to the following

[2019-08-09 12:17] #13889 closed

[2019-08-09 12:17] #14136 closed

[2019-08-09 12:17] #14137 closed

[2019-08-09 12:50] mmorhun opened #14183 "Create and document Che in Che flow"
We should provide and have documented flow of Che development inside Che workspace.

[2019-08-09 12:52] mmorhun commented on #14183
Would be nice to include:
 - [ ] devfile for the workspace with all the tooling for development
 - [ ] commands to build Che master
 - [ ] instructions how to run/debug specific test or tests from a module
 - [ ] a way to build Che master image
 - [ ] guide how to run second Che master and test it (would be great to be able to start workspaces from that instance)
 - [ ] instructions how to debug s

[2019-08-09 12:53] mmorhun commented on #14126
Issue for Che in Che flow: https://github.com/eclipse/che/issues/14183.

[2019-08-09 13:24] rhopp opened #14184 "[chectl] install.sh should provide switch for selecting installation path"
### Is your enhancement related to a problem? Please describe.
Currently,  `bash <(curl -sL  https://www.eclipse.org/che/chectl/) --channel=next` installs chectl into `/usr/local/bin/chectl`

For the purposes of CI usage, this might not be perfect and having option `--install-path` would be nice.

### Describe the solution you'd like
Adding switch allowing user to install chectl to any directory:

[2019-08-09 13:26] benoitf commented on #14184
at the end, the script execute the binary, so it will check that in your case
`/home/user/bin` was added to the `PATH`

is it OK ?

[2019-08-09 13:29] amisevsk commented on #14163
It should be workable for `.theia` files without problem but I'm less sure on icons. As far as I can tell icons are ignored everywhere at the moment.

[2019-08-09 13:30] rhopp commented on #14184
I'm not sure if modifying user's `PATH` is something this script should do... Couldn't it instead of `chectl version` it could call `${INSTALL_PATH}/chectl version`?

And if we would like to be really fancy, we could print some message if we found out, chectl is not on PATH like:
"Chectl is not on your PATH. If you want to add it, please execute `PATH=${INSTALL_PATH}:$PATH`"

[2019-08-09 13:33] #14170 closed

[2019-08-09 13:36] #14055 closed

[2019-08-09 13:37] rhopp commented on #14168
Hi @bryantson !
Thanks for the bugreport. Could you please also provide some screenshot/screencast of the errorneous behavior?
Could you also send us which version of Chrome are you using?

I've tried that (with latest che deployed on minikube) and Google Chrome 76 and I was not experiencing any of the behavior you are describing.

[2019-08-09 13:45] sleshchenko commented on #14080
@AndrienkoAleksandr @amisevsk Can it be closed now?

[2019-08-09 13:46] rhopp commented on #14175
Seems pretty complicated issue and I don't think we can do it properly in 7.0 release...
And as a workaround exists (if I understood it correctly), I'm setting 7.1 as a milestone for this issue.

[2019-08-09 13:51] sleshchenko commented on #14175
@rhopp

yes, a user has to pre-created secret with CA certificate before deploying Che. I do not think that it's documented somewhere but a workaround exists.

[2019-08-09 14:03] benoitf commented on #13911
done

[2019-08-09 14:03] #13911 closed

[2019-08-09 14:14] nickboldt commented on #14114
For CI purposes, it would be handy to continue to release unversioned "latest" versions of chectl, as we had up to and including https://github.com/che-incubator/chectl/releases/tag/20190802065601

This makes it easier to link to the latest binary, without having to unpack a tarball. (Admittedly it's just one extra step, but :man_shrugging: )

[2019-08-09 14:39] nickboldt opened #14186 "chectl server:start does not expose all images for override"
### Describe the bug

As of today, there are 2 images that can be overriden via [commandline flags with chectl](https://github.com/che-incubator/chectl#chectl-serverstart):

[code]

If a user wants to override ALL the images, they must use a custom resource yaml file.

[code]

But this is inconsistent behaviour. Why are only 2 of the 7 images available as commandline flags? This requires that airg

[2019-08-09 14:40] azatsarynnyy opened #14187 "Che Theia images are built with different versions of Theia"
### Describe the bug

[Build script](https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia-endpoint-runtime/build.sh) for `theia-endpoint-runtime` image doesn't respect `--branch` argument.

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

Building Che Theia images with the command
[code]
where `--branch` argument points to [che-7.0.0

[2019-08-09 14:45] RomanNikitenko commented on #14187
I faced with the same problem.
Do we have some workaround?

[2019-08-09 14:46] evidolob commented on #14187
No we don't have, I'm working on it

[2019-08-09 14:55] nickboldt opened #14188 "Why is Che Server image the only one where the image name and tag are split into two variables?"
Just wondering why for all the images in a custom resource, both the image name/path and its tag can be specified on the same field, but for Che server, the tag is a separate field.

Che server:

[code]

Everything else:

[code]

Could the `cheImage` field be improved such that if there's a suffixed `:tag` it's used instead of the value in the `cheImageTag` field?

If not, could chectl do a prefli

[2019-08-09 14:58] metlos opened #14189 "Support single-host/default-host in multi-user server mode"
### Is your task related to a problem? Please describe.
During the spike https://github.com/eclipse/che/issues/14002, we've identified the issues with single-host mode (where workspaces are exposed using the host name of the Che server on unique subpaths) on Kubernetes (we don't support this mode at all on Openshift).

PR https://github.com/eclipse/che/pull/14134, developed during the spike invest

[2019-08-09 15:01] sunix commented on #14073
If you mount a volume ... it could be mounted in all the containers including `theia-ide`.

[2019-08-09 15:57] BobbieERay commented on #11817
I can confirm that all of the browsers on iOS seem to have this issue. Can't get it to work I'm afraid.

[2019-08-09 16:00] amisevsk opened #14190 "Debugging nodejs projects seems to be impossible"
### Describe the bug
Debugging the sample projects included in the NodeJS Angular, Mongo, and React devfiles seems to not be possible currently.

I was able to work around these issues for the simple Node Express [devfile](https://github.com/eclipse/che-devfile-registry/pull/69) but cannot figure it out for the others.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

##

[2019-08-09 16:06] amisevsk commented on #13964
I've opened PR https://github.com/eclipse/che-devfile-registry/pull/77 to work around the php devfile issues. The NodeJS + Mongo devfile is (I think) just a bad sample application; it's hard to interact with a REST backend from the browser.

[2019-08-09 17:05] sunix commented on #14183
Could we name it `che-wsmaster in che` ? or something like that because we have many pieces in Che and you are focussing on wsmaster

[2019-08-09 17:19] #14080 closed

[2019-08-09 17:28] sunix commented on #14167
yes this something to implement in che-theia part. I don't think we handle zip files neither. then ...

shouldn't it be a zip or tar.gz file located somewhere accessible through http ?
where would the files `file://` be located ?

[2019-08-09 17:56] PrasangAPrajapati opened #14191 "Support private Github repo to get Vscode extension (.vsix) file"
### Describe the bug
In `che-plugin-registry`, allow users to pass login credentials for Github to the plugin broker so it can authenticate with Github to pull a `.vsix` file

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior
We should allow user to pull down a `.vsix` from a private Github or allow user to pass credentials fo

[2019-08-09 18:02] nickboldt commented on #14191
This might be a feature that helps with airgap customers who use GitHub Enterprise or private repos outside their org. +1 for getting this into Che 7.x. @l0rd @slemeur @benoitf  WDYT?

[2019-08-09 18:06] phaumer commented on #14191
What makes this also critical is the reason that Microsoft does not allow you setting in-house Marketplace servers.

[2019-08-09 18:24] gorkem commented on #14073
@vinokurig @vparfonov Are you mounting ssh keys as a [secret](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets) to the pod?

[2019-08-09 20:49] JPinkney commented on #13427
Since this is the last blocker I wanted to do a write up explaining everything I’ve found so far:

First, I’m not sure if the issue has disappeared as a result of some other fix or if there’s another issue that’s the problem such as internet speed etc because I cannot reproduce on 7.0.0 rc 5 with latest che-theia using the devfile given. However, I can reproduce the issue by changing the devfile t

[2019-08-09 21:58] nickboldt commented on #14076
Did some quick performance testing of the sed and yq options in devfile registry. Results suggest that we should use the golang yq instead of the python one as it's much faster:

[code]

[2019-08-10 21:39] gorkem commented on #13427
@JPinkney Is there a branch where the activation events are implemented?

[2019-08-11 06:53] AmitChameidesAmdocs commented on #14164
I'm also experiencing the same error as described. I'm using the 7.0.0-rc-5.0-SNAPSHOT version.
[eclipse/che-plugin-broker#67](https://github.com/eclipse/che-plugin-broker/pull/67) should already be included in this version (Seeing as it was merged 11 days ago), correct? Then why am I still experiencing the issue?
Please advise.

[2019-08-11 15:11] gorkem opened #14192 "Update strategy for PostgreSQL"
Change the update strategy for PostgreSQL database to _RollingUpdate_. At the moment the operator creates it as _Recreate_ but I do not see any reason why it should not be a rolling update.

[2019-08-11 20:17] epnasis commented on #9244
Can you share update on the plans for introducing VI bindings?

[2019-08-12 00:13] l0rd commented on #14115
@benoitf for example to add a new plugin or editor folder to a plugin registry without rebuilding the registry container image. Or adding a new stack to a devfile registry without the need to rebuild a new container image.

[2019-08-12 00:41] l0rd commented on #13427
@JPinkney @tsmaeder I have tested with Che nightly and the stack "Java with SpringBoot and MySQL" and I am not able to reproduce this issue anymore.

@rhopp can you verify if this issue is still reproduced in the Che 7 happy path scenario?

[2019-08-12 06:10] #10205 closed

[2019-08-12 06:14] benoitf opened #14194 "[che-theia] build of docker images should not make GITHUB_TOKEN mandatory"
### Is your enhancement related to a problem? Please describe.
When building docker images of Theia, GITHUB_TOKEN is a required parameter of the build script while it shouldn't
For now this parameter is mandatory. Not providing it through ./build.sh --build-arg GITHUB_TOKEN=.... is making the build always fail. It should be an optional parameter that should be mandatory only if we're forced to pro

[2019-08-12 06:27] benoitf commented on #14115
well as there is no persistent volume, all the changes are lost.
If you're talking for development mode,  to add a new plugin folder I think it's faster to use vi and copy paste the last lines of plugin-registry of index.json than to use jq

Also adding a folder is not so easy from scratch so you'll probably as well copy an existing folder so no need to use yq as well, you'll edit the files direct

[2019-08-12 06:44] AndrienkoAleksandr opened #14195 "che-machine-exec devfile doesn't work under minishift"
### Describe the bug
che-machine-exec [devfile](https://github.com/eclipse/che-machine-exec/blob/master/devfile.yaml) doesn't work under minishift. 'dev' container has permission issue and workspace created from devfile fail to start.

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create workspace from devfile on the minishfit:
2. Start work

[2019-08-12 06:46] Ohrimenko1988 commented on #14141
Done https://github.com/eclipse/che/pull/14180

[2019-08-12 06:46] #14141 closed

[2019-08-12 07:07] l0rd commented on #14115
I am not talking about running `jq` but running the script `index.sh` (that uses `jq`). And no it's not about using `vi` or `git` neither. The flow is pretty straightforward and I described it in [this documentation section](https://www.eclipse.org/che/docs/che-7/editing-a-devfile-and-plug-in-at-runtime/) where steps 4 are currently broken because index.sh is not included in the target image.

The

[2019-08-12 07:36] rhopp commented on #13427
@l0rd Will do that today.

[2019-08-12 08:03] metlos commented on #13927
Also note, that we use the hardcoded `nginx.class` in https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/templates/configmap.yaml#L71 and https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/templates/configmap.yaml#L73

[2019-08-12 08:19] ibuziuk commented on #14192
Closing as duplicate - https://github.com/eclipse/che/issues/14166

[2019-08-12 08:19] #14192 closed

[2019-08-12 08:21] benoitf commented on #14115
I think we're not sharing the same view.
You want to have runtime and build tools in the same image while I think tools and runtime are separate images. (like we have theia-dev and theia images)
Runtime is minimalistic and work for 99% of the time where you only need 1% of using a build command like index.sh

[2019-08-12 08:31] benoitf commented on #14114
I'm not sure to understand the `unversioned latest`
The binary that is inside the tgz is not the same that the one that was in releases/ section.

`chectl-linux.tgz/bin/chectl` !== `chectl-linux`

we're not just putting a binary inside a tgz just for the fun :-)

[2019-08-12 08:34] sunix opened #14196 "chore: Add a devfile for https://github.com/eclipse/che-docs + vscode asciidoc"
The idea is to replace the existing factory with a devfile based factory.
- have the jekyll generation working
- take the opportunity to try/provide a vscode asciidoc extension

@nickboldt could you drop here the extension you are using in VSCode ?

[2019-08-12 08:53] #14195 closed

[2019-08-12 08:54] Ohrimenko1988 opened #14197 "[Happy Path] Sometimes the "Happy Path" test fails on "ProjectTree.expandPathAndOpenFile" step"
### Describe the bug
Sometimes the "Happy Path" test fails on "ProjectTree.expandPathAndOpenFile" step

### Screenshots
![image](https://user-images.githubusercontent.com/22724619/62854336-bb7d3600-bcf7-11e9-9576-89fd3d379f95.png)

### Console log

[log.txt](https://github.com/eclipse/che/files/3491589/log.txt)

[2019-08-12 08:57] sunix opened #14198 "doc: Problems with final documentation `Deploying Che on Kubernetes on AWS`"
Hello,
I have tested the documentation https://www.eclipse.org/che/docs/che-7/che-quick-starts.html#deploying-che-on-kubernetes-on-aws_che-quick-starts and I have faced many issues to finally failing in installing Che on AWS. I am not sure at the end what was missing but here my feedback. Most of the issue I have faced is based on a wrong transcription from the [Google doc](https://docs.google.com

[2019-08-12 09:05] benoitf commented on #14035
as Mario suggested, moving to 7.0.0 as fixes are there and PR are there

[2019-08-12 09:14] tsmaeder commented on #13939
@JPinkney has worked on something similar for the OpenShift console. I'm sure he can provide guidance, at least.

[2019-08-12 09:17] benoitf commented on #14190
@amisevsk is area is che-theia or che-languages ?

I mean, the issue that you're facing is how to see breakpoints menu, etc or that you're not able to use the typescript debugger ?

[2019-08-12 09:18] benoitf commented on #14198
I put `7.1.0` as it may be too short to fix for `7.0.0` but definitely needs to be fixed as soon as posible

[2019-08-12 09:20] benoitf commented on #14188
it seems there are two issues in one

- one for chectl to check the image values before even giving it to che-operator
- one for enhancing che-operator to have a single parameter

[2019-08-12 09:22] benoitf commented on #14188
maybe operator should check values of the crd and also chectl should have a good way to report these issues.
Fixing it in chectl may be good but let say you're using operatorhub UI or operators you won't have the check so probably needs to be anyway in operator.

[2019-08-12 09:26] benoitf commented on #14186
side note: I don't know if `oclif` allow custom flags based on a given choice
b/c for example we have parameters that should be specific to some platforms/installers (for example domain is only for kubernetes but we can see it for all platforms)

[2019-08-12 10:07] sleshchenko commented on #14035
Helm chart is fixed to correctly deploy Che Server with self-signed-cert configured, chectl is adapted to these changes as well https://github.com/eclipse/che/pull/14176, https://github.com/che-incubator/chectl/pull/248

Also, the following issues were found but will be fixed in separate issues:
- che-operator auto-grabbing of self-signed certificate does not work correctly https://github.com/ecli

[2019-08-12 10:07] #14035 closed

[2019-08-12 10:48] rajeshm9 commented on #14049
Hi,

Above problem is solved by creating a client having access type confidential and Service account enabled and user given relam-management role access

Now following API is working fine. USER_ID is user for which i try to impersonation

curl -v -c ${COOKIE_FILE}  -X POST "http://${IP}/auth/admin/realms/che/users/${USER_ID}/impersonation" -H "${HEADER}"

**Cookie File:**
# Netscape HTTP Cookie F

[2019-08-12 11:21] Ohrimenko1988 commented on #14197
Done https://github.com/eclipse/che/pull/14199

[2019-08-12 11:21] #14197 closed

[2019-08-12 11:48] sunix commented on #13993
Anyway I don't mind loosing changes done on tasks.json. But having some commands not working after restart is much more anoying.

[2019-08-12 12:51] amisevsk commented on #14190
@benoitf The issue is that connecting a debugger to the application is impossible; none of the options in Theia work. As far as I understand, the nodejs debug configurations come built-in to Theia, but I'm not sure what the best area is for this, it's likely a combination of a devfile issue and a debugger issue.

As a user, I could not get debugging to work in those three devfiles.

[2019-08-12 13:11] davidfestal commented on #13975
Done and merged

[2019-08-12 13:11] #13975 closed

[2019-08-12 13:11] nickboldt commented on #14075
I've resolved downstream issue https://issues.jboss.org/browse/CRW-336

And I've opened https://issues.jboss.org/browse/RHDEVDOCS-1248 to improve doc about this feature-not-a-bug. :)

[2019-08-12 13:28] slemeur commented on #14012
After discussing with @davidfestal , this issue is going to be addressed along with https://github.com/eclipse/che/issues/14013

[2019-08-12 13:28] slemeur commented on #14012
setting 7.1.0 milestone

[2019-08-12 14:02] vinokurig commented on #13722
`taskMap` is a map with `Task` objects. `Task` contains handlers:
[code]
that are implemented in the plugin side by registering a runner with task implementation:
`async registerTaskRunner(type: string, runner: TaskRunner): Promise<Disposable> {` :
https://github.com/eclipse/che-theia/blob/b94aadc789b15bef3d85ea9dd1fb3d154ff28cd3/extensions/eclipse-che-theia-plugin-ext/src/plugin/che-task-impl.ts#

[2019-08-12 14:13] skabashnyuk opened #14200 "Test Che6 to Che7 upgrade using che-operator"
### Is your task related to a problem? Please describe.
 Install Che 6.19 and then attempt to update it to 7.0 using an operator.
 Need to check
- Make sure  user db & workspace definitions in postgres, successfully upgrade the Che server to 7.0
- see if anything breaks... variables that got renamed? routes that are different? assumptions/APIs in Che 7 that changed?

[2019-08-12 14:14] nickboldt commented on #14200
Downstream: https://issues.jboss.org/browse/CRW-303

[2019-08-12 14:24] sunix commented on #13722
What is the impact for the user ?
or is it just refactoring ?

[2019-08-12 14:27] vinokurig commented on #13722
When we run a long task that is implemented in the plugin, we cannot get it's run-time info or stop it after page refresh

[2019-08-12 14:28] vparfonov commented on #13722
@sunix Impact fro user described in initial comment for issue:
User will lost context for running task if refresh the page

[2019-08-12 14:43] bryantson commented on #14168
@rhopp Thank you. Sure. Please see one screenshot showing the erroneous behavior with an appropriate comments.

<img width="1890" alt="screenshot" src="https://user-images.githubusercontent.com/5396174/62873799-9da6d580-bce5-11e9-9c0e-7ac46e9079ab.png">
I am using Google Chrome: Version 76.0.3809.100 (Official Build) (32-bit)

In addition, it will be nice to have the editing options there (Save, U

[2019-08-12 15:17] dmytro-ndp opened #14202 "Build of "Che Core :: Metrics :: Core" module failed on test "FileStoresMeterTest""
### Describe the bug
"mvn clean install" on che failed:
#### Failure 1: _"java.lang.AssertionError: expected [51] but found [36]"_
[code]
- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/61/console
- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-

[2019-08-12 15:18] sunix commented on #13722
OK @vparfonov i am a user, I run the task and I have refreshed the page and "lost context". What does it mean ?
Does it mean that I won't see the previously run tasks terminals, or content ? or what ?

[2019-08-12 15:30] gorkem opened #14203 "ConsoleLink for Che on OpenShift"
When Che operator is installed into an OpenShift 4.2 and later, it should create a [ConsoleLink](https://github.com/openshift/console-operator/blob/73e0ad9ab86128d6760f6de97097693c56631c2a/manifests/00-crd-extension-console-link.yaml) CR so that there is a link on the _Application Menu_ of the console to Che installation. This URL information will further enable Console to work with the given Che

[2019-08-12 15:43] sunix opened #14204 "bug(regression): starting a task from `my workspace` view is not starting it ..."
### Describe the bug
Having some commands available in the `my workspace` view, when clicking on one of them, instead of running the task, che-theia is popping up the command palette with the list of task.

### Che-theia version

 - [x] 7.0.0-next

### Steps to reproduce
1. Start a workspace from this devfile: https://github.com/sunix/che-quarkus-demo/blob/master/devfile.yaml
2. once the workspace

[2019-08-12 16:01] nickboldt opened #14205 "Mark old quay repo eclipse-che/che-operator deprecated in favour of eclipse/che-operator; delete old tags"
New repo: https://quay.io/repository/eclipse/che-operator?tag=nightly&tab=tags
Old repo: https://quay.io/repository/eclipse-che/che-operator?tag=nightly&tab=tags

We should purge the old tags from `eclipse-che/che-operator` so no one thinks this is the state of the art latest stuff:

* 7.0.0-RC-2.0
* 7.0.0-beta-5.0

And these from new repo `eclipse/che-operator`:

* 7.0.0-beta-3.0

We could also c

[2019-08-12 16:03] nickboldt commented on #14205
Per @benoitf 's suggestion:

![image](https://user-images.githubusercontent.com/227597/62879469-2e3ae100-bcf9-11e9-8e80-074984c6d44e.png)

[2019-08-12 16:41] JPinkney commented on #13427
Hello,

I've just tested the changes with some of the stacks. I tried to test as many language servers as I could and here are the result with the code changes:

👍 - means that validation, hover, document symbols, auto completion are working for the stack

| Stack  | Working or Problems/Comments  |
|---|---|
| Java Maven  | We believe this has a race condition. Investigating whether the race is in

[2019-08-12 16:50] rohitkrai03 commented on #14203
Example `ConsoleLink` CR -

[code]

[2019-08-12 18:00] RomanNikitenko commented on #14204
@sunix
did you tried to start terminal from the same panel?
did you tried to open a link for any endpoint?
could you confirm that only tasks are broken for the panel?

why I am asking - terminals and endpoints are not working for me as well, but I tested on minikube...

thank you!

[2019-08-12 18:26] johnmcollier opened #14206 "Devfiles: Che doesn't expand projects in zip archives"
### Describe the bug
I saw that the Devfile spec supports zip archives, so I created a devfile that references a project in a zip archive (located [here](https://raw.githubusercontent.com/johnmcollier/devfiles/master/che/devfile_zip.yaml)):
[code]

When I go to create a workspace, the workspace is created fine, however Che tries to git clone the zip archive, rather than unzipping it. What's intere

[2019-08-12 19:54] mhockelberg commented on #12957
In workshops with customers using Che, we have had feedback that having a consistent indicator to make user aware that changes have been saved and adding a "Save" button would make the user experience better.  AND to consider making autosave an optional behavior/preference IDE setting for each user.

[2019-08-12 19:56] nickboldt commented on #14163
if this is a hard target of 7.1.0 I'd raise it to P1 or even blocker. "enhancement" sounds like "when I have time and all my P0, P1, and P2 work is done and my doc updates are done and I still have time left in the sprint" ... or am I reading too much into a label? :D

[2019-08-12 20:51] RomanNikitenko commented on #14204
I investigated the issue, the cause of the problem that [here](https://github.com/theia-ide/theia/blob/252cffdc79574b6d7a505b71e728d0319d281345/packages/plugin-ext/src/plugin/tree/tree-views.ts#L245-L247) arguments for commands are overridden by `id`.

So at least all actions from `My workspace` view are broken.
We need clarify why it was done to fix `My workspace` view and do not broke another be

[2019-08-12 21:01] RomanNikitenko commented on #14204
@sunix
I think we should change the title for the issue - all actions from `My workspace` view are broken

[2019-08-12 21:15] RomanNikitenko commented on #13956
I investigated the issue and described the cause of the problem [here](https://github.com/eclipse/che/issues/14204#issuecomment-520590519).
The bug was relevant to `che-theia:next` only, but recently the corresponding changes was merged to `che-7.0.0` branch as well, so now it's relevant to `7.0.0` too.

[2019-08-12 21:19] gorkem commented on #14204
@RomanNikitenko Does this affect the open terminal too? Opening a terminal from 'My Workspace' fails for me. I was about to open an issue but if it is the same cause I will just add a note here.

[2019-08-12 21:19] amisevsk commented on #14163
@nickboldt Currently the plan is to pull it into our next sprint, it'll probably be the first thing I work on ;)

[2019-08-12 21:22] l0rd commented on #13956
How is that possible? @evidolob aren't we blocking upstream PRs to get to 7.0.0 branch?

[2019-08-12 21:27] gorkem commented on #12230
Why is this an enhancement? This is a bug. I can not stop a node express application that I have started with a Task. This sounds like a bug to me. If I close a task terminal window or If I issue a terminate Task command my Task should be killed. No need to over think this. Now I have to drop to command line and issue a `kill PID`. We need the same affect but when the task terminal is closed or wh

[2019-08-12 22:01] gorkem commented on #13956
This is a fix it for 7.0 issue.

[2019-08-13 00:01] victorock commented on #11877
i have a container for it, using theia-runtime, doing some tests now...
i'd prefer to have a UBI base image...

[2019-08-13 05:43] RomanNikitenko commented on #14204
@gorkem
Opening a terminal and opening a link for any endpoint from  `My Workspace` panel is not working for me.
The cause of the problem [the same](https://github.com/eclipse/che/issues/14204#issuecomment-520590519)

[2019-08-13 06:09] sunix commented on #12230
`Ctrl c` works now.

[2019-08-13 07:06] metlos commented on #13927
To explain my concerns in more detail.

Currently, we hardcode the `ingress.class` to `nginx` and we have a variable called `global.ingressAnnotationsPrefix` that defaults to `nginx.` which is used when declaring the ingress annotations (both for the "server" ingresses that make Che server (and Keycloak, Jaeger, et al) work - defined at locations like https://github.com/eclipse/che/blob/master/dep

[2019-08-13 07:19] tsmaeder commented on #13427
We're running into https://github.com/eclipse/eclipse.jdt.ls/issues/1148

[2019-08-13 07:23] vinokurig commented on #14204
This was done in the vscode way: https://github.com/theia-ide/theia/pull/5661

[2019-08-13 07:25] tsmaeder commented on #13427
Also see https://github.com/OmniSharp/omnisharp-vscode/issues/1889

[2019-08-13 07:26] tsmaeder commented on #13427
@JPinkney what were you steps to test the language servers? How did you create workspaces, projects, etc?

[2019-08-13 07:37] mmorhun commented on #13990
I've found another reason why we should add disabling. Just build Che in Che:
![ports-plugin-build-che](https://user-images.githubusercontent.com/15607393/62923361-386ee500-bdb6-11e9-8eb9-eb23e610d289.png)

[2019-08-13 07:49] tsmaeder commented on #13427
Timing issue is well known: https://github.com/microsoft/vscode-languageserver-node/issues/451

[2019-08-13 07:56] skabashnyuk commented on #14203
What is the role of Devconsole for generic upstream Eclipse Che?
I'm not sure that making such a specific kind of CR is make sense for upstream Che. What if we create CR that would be agnostic to DevConsole and have more information like:
- Che server url
- Che workspace api url
- Devfile registry url
- Plugin registry url
- Keycloak url
- etc
After that DevfConsole can read it and do appropriate

[2019-08-13 07:57] sparkoo commented on #13927
I like the second option. I would investigate option to have multiple ingress configurations prepared and let user choose which one to use. I'm not sure whether it is doable though.

[2019-08-13 08:02] sunix opened #14208 "bug(regression): my workspace view is not showing any icons in the side bar anymore."
### Describe the bug
my workspace view is not showing any icons in the side bar anymore.

### Che-theia version
 - [x] 7.0.0-next

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift v4 or che.openshift.io
   - [ ] minikube (include output of `minikube version` and `kubectl version`)
   - [ ] minishift (include output of `minishift version` and `oc version`)

[2019-08-13 08:11] slemeur opened #14209 "Impossible to start Che 7 on certain OS 4 due to expired liveness probe"
### Describe the bug
On certain OCP 4.1, it not possible to start Che 7.

The problem comes from the Che start which could be quite long, and liveness probe is expired before the expiration of the readiness probe, which cause the Che POD to be constantly restart.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

Following: https://www.eclipse.org/

[2019-08-13 08:37] tsmaeder commented on #14091
It would not: the extension needs to be bundled with everything it needs to run: that is the responsibility of the plugin developer, not of the person making the devfile.

[2019-08-13 08:40] tsmaeder commented on #14091
@amisevsk I appreciate the goal you're stating, but I'm not sure what you're suggesting is possible, technically: would you just hide any "launching"-type debug configs that a third party VS Code extension contributes from the debug UI?

[2019-08-13 09:19] slemeur commented on #13990
@mmorhun : I think the issue should be edited to reflect the different improvements suggested. Would you mind taking care of that?

[2019-08-13 09:21] slemeur commented on #11877
Sounds good @victorock ! In this case, I'll add the label `7.1.0`, as it seems you would be able to provide a PR after `7.0.0` release.
Would be ideal to add the stack to the default stacks (devfile registry: https://github.com/eclipse/che-devfile-registry)

[2019-08-13 10:38] rohitkrai03 commented on #14203
@skabashnyuk What do you mean by `create CR that would be agnostic to DevConsole`? Who will create this CR, devconsole or che operator?

[2019-08-13 10:46] davidfestal commented on #14203
@skabashnyuk

Well, upstream Che Operator doesn't mean operator for upstream Kubernetes.

Currently the upstream Che operator already manages both Openshift and Pure K8s as 2 supported use-cases, with specific actions related to each one (routes vs ingresses, Openshift OAuth, etc ...)

It now evens detects the difference between Openshift 3.11 and Openshift 4 in order to adapt the OAuth mechanism

[2019-08-13 11:03] sunix opened #14210 "bug: Kubernetes plugin is failing to start"
### Describe the bug
The kubernetes plugin is failing to start.
The workspace sometime is running fine and sometimes not
I got

### Che version

 - [ ] latest
 - [x] nightly, che-theia 7.0.0-next
 - [ ] other: please specify

### Steps to reproduce
create a workspace, save and edit, and add the kubernetes plugin (latest version) from the plugin tab of the dashboard and start the workspace:
The kub

[2019-08-13 11:04] RomanNikitenko commented on #9244
Our first attempt to provide VI and Emacs key bindings was providing own extensions.
Some set of key bindings was implemented within this work.

At some stage of our project development we decided to change approach and invest our efforts for vs code extensions support - it allows to use existed extensions/plugins.
So the work on the issue was stopped till plugin API is aligned with vs code, vs co

[2019-08-13 11:25] epnasis commented on #9244
Thank you for the update! Having support for VS Code key binding extensions sounds like  very good long term decision. Looking forward!

[2019-08-13 11:28] ibuziuk commented on #13964
@slemeur @l0rd, in general, I believe we need to reconsider the samples we are using and get rid of / deprecate https://github.com/che-samples . IMO we should use vendor samples for all the devfiles like https://github.com/spring-projects/spring-petclinic

[2019-08-13 11:29] sunix commented on #14208
somehow it is caused by https://github.com/eclipse/che/issues/14210
When i manage to start the workspace, the ide not fully working. I am closing this one but should we open an issue to improve the case where some che plugins are working and causing strange bug in the IDE ?

[2019-08-13 11:29] #14208 closed

[2019-08-13 11:37] skabashnyuk commented on #14203
Che operator

It looks to me as a very downstream specific feature.

[2019-08-13 11:40] Ohrimenko1988 commented on #14177
Done https://github.com/eclipse/che/pull/14185

[2019-08-13 11:40] #14177 closed

[2019-08-13 11:42] akurinnoy commented on #14039
@l0rd @slemeur don't you mind to change the milestone to other then 7.0.0 because it's too dangerous to merge something related to this issue before GA.

[2019-08-13 11:50] supriya-bharadwaj commented on #14198
@sunix , PR created at https://github.com/eclipse/che-docs/pull/781. Have tagged you in the PR, too. Thanks!

[2019-08-13 11:53] gorkem commented on #14203
There is only one operator (code) and operators are meant to handle configuration differences such as these. This could as well be a difference on storage such as Azure vs AWS.

I am not sure if supporting something that happens on a specific platform is a bad thing. Otherwise  open source projects would never be able to adopt operating system specific key bindings for instance. It is just a bette

[2019-08-13 11:58] slemeur opened #14211 "Impossible to scroll in plugin list on dashboard"
### Describe the bug
Impossible to scroll down into the list of plugins from the dashboard.
![Capture d’écran 2019-08-13 à 13 56 52](https://user-images.githubusercontent.com/1636769/62939819-695d1300-bdd2-11e9-933e-b10e02b42058.png)

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create a workspace, go to the workspace configuration
2. Sele

[2019-08-13 12:01] slemeur commented on #14211
Chrome MAC OS X Version 76.0.3809.100

[2019-08-13 12:02] slemeur commented on #14211
Refreshing fixed the problem

[2019-08-13 12:11] #14204 closed

[2019-08-13 12:25] vinokurig commented on #13722
@sunix user will not be able to stop the task

[2019-08-13 12:27] skabashnyuk commented on #14203
ok

[2019-08-13 12:39] Ohrimenko1988 opened #14212 "Add possibility to build images from "dockerfiles" folder with '--no-cache' option"
### Is your task related to a problem? Please describe.
Now for nightly images build we have strong restriction - impossibility to get rid of cache for images build. For example for "e2e" image we want to dynamically change versions of driver and browser, but it is impossible because docker uses cache from previous build.

### Describe the solution you'd like
Add possibility to provide "--no-cache

[2019-08-13 12:57] SimonJohnCastle commented on #14145
Just want to add I have the same or similar problem on gitpod, trying to get familiar in theia-ide/theia

[2019-08-13 13:41] gorkem opened #14215 "SSH View public key"
If I invoke the `SSH View public key` command before generating an SSH key it does nothing and feels like the command did not work. In this case we should instead show a warning that no SSH keys exists.

[2019-08-13 13:43] benoitf commented on #14212
if in Dockerfile you specify `ARG` for driver version and browser version then you don't need to invalidate cache, just give proper arg value

https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg

[2019-08-13 13:49] nickboldt opened #14216 "Allow overriding of all images used in Che deployment when using operator"
### Describe the bug

Today, the references to the plugin brokers (both of them? are both still needed/used?) are in

https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L571-L574

Which means to update that to a new version, or to use a productized version, or a path-to-my-organization's-airgapped-artifactory version, a user

[2019-08-13 13:56] vinokurig commented on #13790
Is actual for 7.0.0-next tag

[2019-08-13 13:57] davidfestal commented on #14216
@nickboldt For all Che properties that are not set (in the `che` config map) and kept in sync by the Che operator, you can add them (with the right upper-case-based format) to the `custom` config map.
You can even create the `custom` config map before/at the same time as the `CheCluster` custom resource.

[2019-08-13 14:43] vparfonov opened #14217 "Improve login procedure for GitHub PullRequest Plugin"
### Is your enhancement related to a problem? Please describe.
At the moment we have ability to use GitHub Pull Requests for Visual Studio Code, in side Che Theia. In case you want to provide new PullRequest, plugin may request you to login with the OAuth.
Problem is in OAuth server hardcoded on plugin side and it point to VS Code server.
As workaround we provide document which allow setup OAuth t

[2019-08-13 14:47] mmorhun commented on #13990
@slemeur I've updated the issue title and description.

[2019-08-13 14:50] nickboldt commented on #14216
So we can set these env vars after deploying Che server?

* CHE_WORKSPACE_PLUGIN__BROKER_INIT_IMAGE
* CHE_WORKSPACE_PLUGIN__BROKER_UNIFIED_IMAGE

[2019-08-13 14:53] davidfestal commented on #14216
Yes, you add them to the `custom` config map, and restart the POD.

[2019-08-13 15:48] JPinkney commented on #14017
My investigations led me to a few things we need to do:
- [ ] enable the theia metrics extension in the che-theia generator
- [ ] use prometheus auto discovery to scrape the /metrics endpoint every few seconds
- [ ] gather all the data in the frontend of plugin-ext and pass that to the backend where the /metrics endpoint lives. Basics are: https://github.com/theia-ide/theia/compare/master...JPinkn

[2019-08-13 15:50] gorkem opened #14218 "SSH Create key empty input"
`SSH: Create key pair...` command allows private key and public key inputs to be empty. We either should not allow those inputs to be empty or fail at the end with the creation of the key pair with empty keys.
Also check if the entered values are valid. For instance if I mistakenly enter something like `*.mydomain.com` as the domain name during generation because this is converted into a volume mo

[2019-08-13 15:54] gorkem commented on #14039
Does this need a known issue on the docs?

[2019-08-13 15:56] slemeur commented on #14039
agreed, documenting it would be nice as well. cc @rkratky

[2019-08-13 15:58] amisevsk commented on #14076
I've done a bit of testing, and while the python version of `yq` is a lot slower when used as a replacement in the existing scripts, the real benefit of using the more full-featured `yq` is that it can simplify scripts. E.g. `index.sh` could be rewritten
[code]
(note that in my testing this is as fast as the mikefarah version)

Also, if additional restructuring is required, it's pretty painless to

[2019-08-13 16:02] nickboldt commented on #13452
If the gist here is "don't delete every time, only delete if we have new stuff" then +1.

Question. There's a "my lang server has died" workaround which is to simply refresh the browser (*cough*: https://github.com/eclipse/che/issues/13427 */cough*) ... how would changing this behaviour impact the ability to force a workspace refresh via F5 ? Would we need a mechanism to force delete, if we're no

[2019-08-13 16:13] nickboldt commented on #14209
If this can be committed before EOD, it can be included in 7.0. If not, it slips back to 7.1 / P1.

[2019-08-13 16:14] nickboldt commented on #13326
Partially complete for 7.0; slip completion of issue to milestone 7.1

[2019-08-13 16:14] nickboldt commented on #13427
Based on length conversations today, this isn't ready for 7.0. Will aim for 7.1 but might be 7.2 depending on delivery of upstream requirements.

[2019-08-13 17:00] sunix commented on #13794
I am fine if the workspace creation doesn't fail if there is a `name` and `generate-name` defined and the name already exist.

[2019-08-13 17:08] amisevsk commented on #14076
Since the work was pretty much done in my testing, I've opened PR https://github.com/eclipse/che-devfile-registry/pull/80

[2019-08-13 17:13] amisevsk commented on #13452
@nickboldt The deletion happens only once, before workspace startup. My goal with this issue is to have the plugin broker resolve workspace state at startup, by e.g.

1. Check which plugins are installed in the workspace currently (in `/plugins`)
2. Check which plugins are included in the devfile
3. Reconcile the two (delete installed plugins not in the devfile, install plugins in devfile but not

[2019-08-13 17:21] sunix commented on #13794
To me, using `generate-name` or not ... i don't mind but this flow should work:

1. User is creating a workspace from a devfile
2. User is adding a che plugin from che-theia to the created workspace (it is adding it to the devfile associated to a workspace)
3. User is restarting the workspace: it works
4. User is getting the devfile sources and recreating a new workspace from it without any modifi

[2019-08-13 17:34] benoitf commented on #14076
I still don't get why we should use python bloatware

[2019-08-13 17:44] amisevsk commented on #14074
It appears that this issue is caused by clicking the "Try it now!" on the prompt that appears when starting a workspace:

![Screenshot from 2019-08-13 13-39-36](https://user-images.githubusercontent.com/16168279/62963951-00749b80-bdd0-11e9-9f5f-c475f716f626.png)

This creates the entry `   "python.jediEnabled": false` in the user preferences, which causes the crashing. As a workaround, the setting

[2019-08-13 17:50] amisevsk commented on #14091
@tsmaeder I agree that it may not be possible/feasible -- I'm not familiar enough with how extension-contributed launches work in Theia. Would it be possible to e.g. disable configs with `"request": "launch",`? In general Che only supports "remote" debugging, where remote is "a different container", although this causes issues in various languages currently (e.g. Go requires the plugin to run the

[2019-08-13 18:25] davidfestal commented on #14209
The PR has been merged to master.

[2019-08-13 19:36] amisevsk commented on #14209
Closing issue to clean up the milestone, reopen if it's still present :)

[2019-08-13 19:36] #14209 closed

[2019-08-13 19:48] amisevsk commented on #14211
I also experience this from time to time, on Fedora + Chrome Version 76.0.3809.100

[2019-08-13 20:14] amisevsk opened #14219 "Debugging with the python plugin behaves strangely"
### Describe the bug
There are numerous issues with trying to debug in the `python-simple` devfile.

- It's only possible to use code completion to generate debug configs if `launch.json` does not already exist
- Debug > Add configuration does not work.
- Many of the suggested generate options seem to do nothing when clicked.
- Once created, I can't get any of the debug configurations to work.

##

[2019-08-13 20:14] amisevsk commented on #14219
Potentially related: https://github.com/eclipse/che/issues/13816, although this issue applies to a simple "hello world" application.

[2019-08-13 20:54] amisevsk commented on #14112
The idea behind plugin "releases" is that if a workspace requests e.g. `redhat/vscode-yaml/0.4.0`, they always get the extension from `github.com/redhat-developer/vscode-yaml/releases/download/0.4.0/redhat.vscode-yaml-0.4.0.vsix`. Whether that's a useful feature or not, I'm not sure, but in the case that a new release of vscode-yaml is broken for some reason, existing workspaces won't stop working

[2019-08-13 21:24] gorkem commented on #13990
Can we just disable offering forwarding by default with a preference and/or command to enable it?

[2019-08-13 21:30] gorkem commented on #14091
@amisevsk Do you think [process namespace sharing ](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/)would help here?

[2019-08-13 21:48] gorkem commented on #14215
Same issue with delete key as well. It would be great to state that if there are no keys to delete instead of displaying an empty box.

[2019-08-13 22:29] nickboldt commented on #14076
If it's just as fast, and it's a more product-friendly solution, what's the issue? container size too big? (I haven't compared ubi8-minimal + mikefarahyq vs. ubi8-minimal + python + jq + yq to see if we're really better off with the go impl than the py one.)

[2019-08-14 00:18] l0rd commented on #13427
@nickboldt @rhopp @slemeur does it mean that this is not considered a blocker anymore (we are ok to release 7.0.0 even if the issue is still here) or that the issue described above is not reproducible anymore (we keep it open just to track the work on multi-root workspaces)?

[2019-08-14 00:54] l0rd commented on #13927
@metlos makes sense. But I am not sure that server and workspaces ingresses should always be "coordinated". It makes sense for small clusters but on real world clusters with multiple ingress controllers, server side and workspaces side ingress classes may need to be different. What I mean is that users should able specify ingress class and annotations for both server and workspace ingresses. Makin

[2019-08-14 01:00] l0rd commented on #14203
I am wondering what happens if 2 different Che instances are deployed on the same cluster. There should be only one Che ConsoleLink per OS cluster but there may be multiple Che servers right?

In other words: a Che Server can be deployed by any user but a Che ConsoleLink can only be created by a cluster-wide admin. Should we make the ConsoleLink creation optional? Or handled by a different operato

[2019-08-14 05:51] hXtreme commented on #1694
I'm having the same issue and the provided links don't work.

[2019-08-14 06:17] skabashnyuk commented on #13794
@sunix I don't see any issues in this plan, do you?

[2019-08-14 07:48] sleshchenko opened #14220 "che-docs: yaml on che-docs site have broken formatting"
### Describe the bug
che-docs: yaml on che-docs site have broken formatting.
For example the following page https://www.eclipse.org/che/docs/che-7/installing-che-on-google-cloud-platform/ has:
![Screenshot_20190814_104243](https://user-images.githubusercontent.com/5887312/63003242-70daf580-be80-11e9-9791-38b8470a04b1.png)

[2019-08-14 07:55] tsmaeder opened #14221 "Languages Sprint 171"
Aug 12 - Sep 3

# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 13 | 6 | 6
@tolusha | 13 | 8 | 9.5
@svor | 2 | 0 | 0
@vrubezhny | 13 | 8 | 7.5
@JPinkney | 13 | 8 | 9

# Priorities
All testing must be done on minishift!

# Candidate Issues
- [ ] Fix license headers in ommisharp plugin #14224 0.5d @tsmaeder
- [x] Test C# theia plugin with multi-root workspace in Theia

[2019-08-14 08:25] tolusha commented on #14025
It is possible to initialize and control debug session using Theia frontend API [1]
Here is the testing workspace [2]

[1] https://github.com/theia-ide/theia/blob/ab/api-tests/packages/apt-tests/src/browser/debug-tests.ts
[2] https://github.com/theia-ide/theia/tree/ab/api-tests/packages/apt-tests/testWorkspace

The next step is to create a test suite like VS Code does [3] and run it using launch c

[2019-08-14 08:53] tsmaeder commented on #14017
@JPinkney I'm afraid I don't quite understand your explanations:

1. why do we have to collect the metrics in the front end rather than the back end?
2. What's this with prometheus auto-discovery and why do we have to scrape it instead of pushing metrics to some endpoint?
3. again: once we have the metrics in the back end, how are they pushed to the che monitoring infrastructure?

[2019-08-14 08:57] tsmaeder opened #14223 "Test C# theia plugin with multi-root workspace in Theia"
We need to make sure omnisharp works ok with multi-root workspace, using version 0.0.4 from https://github.com/redhat-developer/omnisharp-theia-plugin/releases

[2019-08-14 09:16] tsmaeder opened #14224 "Fix license headers in ommisharp plugin"
https://github.com/redhat-developer/omnisharp-theia-plugin contains a bunch of files that are copied from Microsofts VS Code C# plugin.

While we keep the original copyright header there are a couple of things we should clear up:

1. At least, we need to add the file "license.txt" that the Microsoft header is pointing to
2. Need to clarify if our standard EPL header is allowed here. It seems to im

[2019-08-14 09:21] tsmaeder commented on #14072
Removing 7.0 label because we don't control the timeline here: Monaco update is work in progress on the theia side.

[2019-08-14 09:34] tsmaeder opened #14225 "Investigate Support for multi-root workspaces with PHP plugins"
We need to investigate how our PHP support works with multi-root workspaces. In particular, what happens when we start with an empty workspace, then "add folder to workspace", then add a second workspace root.

[2019-08-14 09:36] tsmaeder commented on #14225
Also, inspecting the code would be a good idea.

[2019-08-14 10:12] sunix commented on #13736
still have the issue @davidfestal

![Selection_391](https://user-images.githubusercontent.com/650571/63013579-ce753f00-be8c-11e9-9a89-ce1b3e2381bb.png)

[2019-08-14 10:18] ibuziuk commented on #13920
Moving to 7.x

[2019-08-14 10:34] ibuziuk commented on #13951
https://ci.centos.org/job/devtools-che-operator-nightly/

[2019-08-14 10:42] rhopp opened #14226 "Tag `che-e2e` images also by chrome version & commit shorthash"
### Is your task related to a problem? Please describe.
Currently, we have only nightly & released (and latest) tags for che-e2e image used for tests.
Would be nice, if we had the images tagged also by shorthash of latest commit and google chrome version.

[2019-08-14 10:55] themr0c commented on #14162
Which installation method is preferred? The documentation in https://github.com/che-incubator/chectl needs clarification also :

* For Linux and MacOS, running script downloaded from  https://www.eclipse.org/che/chectl/
 seems the preferred method as downloading the archive is flagged as "manual". Is that still the intention now?

* For Windows, we need to document how to download the archive anyw

[2019-08-14 10:56] rhopp opened #14227 "Stabilize E2E Happy path tests as on openshift (OKD 3.11) infra in CentralCI"
### Description
Currently, we are running Happy path test as PR check in this repository on Che deployed on openshift infrastructure. We should stabilize it and get rid of flakyness.

**OS and version:**

**Diagnostics:**

[2019-08-14 11:15] AndrienkoAleksandr opened #14228 "Align development flow for vscode extensions"
### Is your task related to a problem? Please describe.
Align development flow for vscode extensions. Should be useful for docs: https://github.com/eclipse/che/issues/14119

### Describe the solution you'd like
We can:
- [x] apply yeoman vscode extension generator in the eclipse/che-theia-dev image.
- [x] activate ability generate vscode extension using https://github.com/eclipse/theia-yeoman-plug

[2019-08-14 11:16] metlos opened #14229 "Test single-host/default-host strategies with single-user mode on different cloudplatforms"
All our primary development of Che server happens on minikube/minishift, which is not what is put in production.

Different cloud providers realize ingresses using different kinds of ingress controllers within those clusters.

We should therefore test that we can successfully use Che in such clusters.

Single-user mode is not going to be common scenario for Che server deployment in a cluster but w

[2019-08-14 11:19] metlos commented on #14002
I've created issue https://github.com/eclipse/che/issues/14229 to track testing on different cloud platforms. I've also created https://github.com/eclipse/che/issues/14189 to track the support of single/default-host strategy on multi-user.

As such, I think this spike issue can be closed.

[2019-08-14 11:19] #14002 closed

[2019-08-14 11:29] metlos opened #14230 "Test single-host/default-host workspace strategy on multi-user mode on different cloud platforms"
All our primary development of Che server happens on minikube/minishift, which is not what is put in production.

Different cloud providers realize ingresses using different kinds of ingress controllers within those clusters.

We should therefore test that we can successfully use Che in such clusters.

Multi-user mode is going to be common scenario for Che server deployment in a cluster so we shou

[2019-08-14 11:30] AndrienkoAleksandr opened #14231 "Write docs how to deploy Eclipse CHE with code ready workspaces"
### Is your task related to a problem? Please describe.
It would be nice to write docs how to deploy Eclipse CHE with code ready workspaces.

[2019-08-14 11:35] tolusha commented on #13614
It is relatively easy to redirect a request to retrieve content from a side-car container, but we have to take into account that redirection matters only for files that are not available from a Theia container.

[2019-08-14 11:41] tsmaeder commented on #13375
Duplicate of Investigate Language server metrics #14017 ?

[2019-08-14 11:53] sunix commented on #13794
@skabashnyuk if there is no issue then it is fine but I have asked some questions during sprint review demos: what if we have `name` and `generate-name` at the same in the devfile when generating a new workspace and the answer was that `name` would be used, not `generate-name`. It means that the previous flow would not work. But if it works, it is fine.

[2019-08-14 11:54] vrubezhny commented on #13700
The issues created to track 'files' and 'telemetry' workspace configuration properties support: https://github.com/theia-ide/theia/issues/5945, https://github.com/theia-ide/theia/issues/5944

[2019-08-14 12:03] skabashnyuk commented on #13794
I think you/we are mixing together two things devfile as a file/template and devfile object as part of workspace object. I still don't see any issues in my interpretation of your flow, however, it can be different from yours. That is why I can suggest two ways.
 -  You can test the proposed pr.
 - We can merge pr as is and create a new issue after to adjust behavior if needed.

[2019-08-14 12:15] rhopp opened #14232 "Create pipeline job to build che & run Happy Path on both openshift&kubernetes infra in CentralCI"
This is how this pipeline should look like (roughly):
![image.png](https://images.zenhubusercontent.com/59b106f6b0222d5de476bc61/3583db1d-239c-4cf0-b980-f25a997846b0)

This is a followup of https://github.com/eclipse/che/issues/13473 and https://github.com/eclipse/che/issues/14227 (these two needs to be done before doing this one)

[2019-08-14 12:18] #13521 closed

[2019-08-14 12:18] mmorhun commented on #13990
I think we can. But maybe we should add some item in status bar to be able to turn it on/off quickly (rather to show the feature for new users).

[2019-08-14 12:31] #13847 closed

[2019-08-14 12:38] metlos opened #14233 "Welcome plugin uses absolute paths to reference page elements"
The welcome plugin generates links to the elements on the page using an absolute path (for example here: https://github.com/eclipse/che-theia/blob/master/plugins/welcome-plugin/src/welcome-page.ts#L30).

This leads to the page being broken in the single-host or default-host server strategy where such URLs become invalid (because the workspace itself is deployed on a subpath instead of in the root

[2019-08-14 12:40] rhopp opened #14234 "Run Happy Path tests nightly on multiuser installation"
Currently, we are running happy path tests only on single-user installations of Che.

We should create jobs for running Happy Path tests also against multiuser installations.

[2019-08-14 12:40] AndrienkoAleksandr opened #14235 "Dashboard: improve workspace creation from devfile content"
### Is your enhancement related to a problem? Please describe.
Currently if I have content of the devfile and I want to create new workspace only by this content(without chectl or swagger...) I need to do a lot of extra steps in the user dashboard:
Select `Workspace` => click 'Add workspace' button => select some random devfile stack => click `Create and Proceed Editing` button, select Devfile sec

[2019-08-14 12:42] rhopp opened #14236 "Run Happy Path test nightly against OCP 4"
Create job to run Happy Path tests against OCP 4.

Job in progress: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che7-e2e-tests/job/rhopp_happy_path_OCP4/

[2019-08-14 12:44] sunix commented on #13794
This issue is about devfile as a file/template. But the devfile object as a workspace object could be reuse as a file/template.

https://github.com/eclipse/che/pull/14157/files#r313852917 that is not fine and would not work in the previous flow

[2019-08-14 13:01] sparkoo commented on #13794
how do you get devfile file/template from existing workspace? We can tune that place and create `generateName` there.

[2019-08-14 13:04] rhopp commented on #14227
Subissue: https://github.com/eclipse/che/issues/13979

[2019-08-14 13:06] rhopp commented on #12628
Closing as lot of this effort was done in #13827 and the remaining work will be done in the same issue.

[2019-08-14 13:06] #12628 closed

[2019-08-14 13:13] ibuziuk commented on #14205
@nickboldt are you going to work on this one?

[2019-08-14 13:13] ibuziuk commented on #14111
@nickboldt @davidfestal can we close this one?

[2019-08-14 13:17] davidfestal commented on #14111
Yes

[2019-08-14 13:18] themr0c opened #14237 "Installing chectl documentation"
The "Installing chectl" documentation should probably become a chapter on it's own in the quick starts. Because now it is hidden in the "Install Che locally", but the chectl command is used in all guides.

Additionnally, there should be some decision made if we rely on the chectl  github readme for the lifecycle of the app (update, change update channel), or if it should be added along with the 'I

[2019-08-14 13:22] ibuziuk commented on #14203
@skabashnyuk am I correct that Platform team is going to take care of this issue?

[2019-08-14 13:24] sunix commented on #14204
I still can't have it working ... has the build failed ?

[2019-08-14 13:24] skabashnyuk commented on #14203
yes

[2019-08-14 13:30] tsmaeder commented on #14091
We will do an investigation into:
1. if it's reasonably feasible to hide certain types of launch configs (the launch configs themselves are in a file, the user can do what she wants) in the UI and when suggesting
2. Find out how various debug adapters launch their debug processes and if redirecting those launches to the dev-machine is feasible.

[2019-08-14 13:35] #14114 closed

[2019-08-14 13:38] skabashnyuk commented on #13375
I think they can be distinct.
https://github.com/eclipse/che/issues/14017 - can be limited to providing metrics in  Prometheus format to some endpoint.
https://github.com/eclipse/che/issues/13375 - this can be about how to collect LSP and other metrics from the workspace and deliver them to Prometheus server

[2019-08-14 13:40] tsmaeder commented on #14219
Suspicion from @tolusha is that some VS Code API is missing in Theia that is used here.

[2019-08-14 13:42] skabashnyuk commented on #14017
In general, Prometheus recommend using scrape instead of push. Pushing is used only for short living (less than scrape interval) task.

Another tricky part is authentication/authorization for both model push/pull. I think this is a separate story that can be handled in https://github.com/eclipse/che/issues/13375

[2019-08-14 13:55] skabashnyuk commented on #13794
@sunix  would it  https://github.com/eclipse/che/issues/13794#issuecomment-521235907 work for you?

[2019-08-14 14:02] tsmaeder commented on #13375
So we need to wait now until this issue here is solved?

[2019-08-14 14:06] skabashnyuk commented on #13375
I think you can start working https://github.com/eclipse/che/issues/14017

[2019-08-14 14:17] azatsarynnyy commented on #14210
The issue is due to not enough memory for plugin sidecar:
[code]
Patch has been proposed in the PR https://github.com/eclipse/che-plugin-registry/pull/202

[2019-08-14 15:09] gorkem commented on #14203
Why do we need to support multiple Che instances on a single cluster?  It will be even harder to support when we move to Workspace CRDs. Ideally I do not even want to create `CheCluster` resource, it should be created for me when I install the operator and operator should just adjust if/when I make changes to it.

This is on che-operator's responsibility. Che operator creates the che resources on

[2019-08-14 15:18] RickJWagner opened #14240 "Backup and Disaster Recovery documentation"
### Is your enhancement related to a problem? Please describe.

Che users may need to recover their Enterprise IDE environment after some disaster has occurred.

### Describe the solution you'd like

Please document the processes to backup and restore:

- Che server data
- Che workspaces data

### Additional context

This RFE would make for a more resilient product.  Thank you for considering it.

[2019-08-14 16:13] slemeur commented on #14236
@rhopp When are you planning this?

[2019-08-14 16:14] slemeur commented on #14235
closing as duplicated of https://github.com/eclipse/che/issues/13591

[2019-08-14 16:14] #14235 closed

[2019-08-14 16:15] slemeur commented on #14234
@rhopp : When are you planning this one?

[2019-08-14 16:15] nickboldt commented on #14205
I've added the deprecation note.

If someone agrees we should delete the old tags, I can do so.

If we'd also like to delete the old repo, we can do that too, but that might break some people so the deprecation warning is probably better.

Let me know which tags (or all the pre 7.0.0.GA ones?) should be deleted and I can spend the 30 seconds to do so :)

[2019-08-14 16:15] slemeur commented on #14233
needed for: https://github.com/eclipse/che/issues/14189

[2019-08-14 16:17] slemeur commented on #14231
Documentation about CodeReady Workspaces is available here: https://access.redhat.com/documentation/en-us/red_hat_codeready_workspaces/1.2/html/administration_guide/index

BTW: this is wrong place to create issues related to CodeReady Workspaces.

[2019-08-14 16:17] #14231 closed

[2019-08-14 16:22] nickboldt commented on #13452
+1 for this solution as it'd be one less container I have to migrate to UBI8 and productize. ;) and then one less to support (CVE fixes, CEE questions, docs, etc.)

[2019-08-14 16:23] nickboldt commented on #13452
Setting need-triage and milestone 7.1 so we can discuss when/if this can be done.

[2019-08-14 16:23] slemeur commented on #14220
Is that something you can look at @rkratky ?

[2019-08-14 16:24] nickboldt commented on #14188
+1 for this being a 7.2 ux improvement fix, not urgent for 7.1

[2019-08-14 19:18] #14162 closed

[2019-08-14 19:21] nickboldt commented on #14112
Fair point. So maybe when we productize we can filter out the old versions and just keep the latest/supported ones.

[2019-08-14 19:56] sunix commented on #14210
I have to test again ... it looks like it works with https://raw.githubusercontent.com/azatsarynnyy/devfiles/master/k8s-devfile.yml
So I will investigate what is the difference with my other devfiles

[2019-08-14 20:01] sunix commented on #14210
@azatsarynnyy thanks. I tried the 1.0.0 version and it was working as it has enough memory on this one. But i am confused what is the difference between `1.0.0` and `0.1.17` ? should we remove 1.0.0 ?

[2019-08-14 20:32] gorkem commented on #14211
Work on this after https://github.com/eclipse/che/pull/13942 is merged.

[2019-08-14 23:02] gorkem opened #14241 "Add full lifecycle capabilities to Che operator"
Add ability to make backups and do disaster recovery to Che operator upgrading it to a full lifecycle operator.

[2019-08-14 23:04] gorkem commented on #14240
Alternately we can enhance the operator to do the backups and recovery https://github.com/eclipse/che/issues/14241

[2019-08-14 23:33] mayadebellis opened #14242 "Can I add a member to organization through the API?"
Is there any way to add a user to an organization through the API? I would like to do this programmatically and not through the interface.

I have looked through the swagger and played around with the `/organization` endpoints and the `/user` endpoints but cannot find a way to do this. I assumed the `POST /organization/{id}` that allows for the updating of organizations would be the correct endpoi

[2019-08-15 04:08] #13745 closed

[2019-08-15 06:35] mmorhun commented on #13483
Can we consider taking this issue? Because it's a blocker for case when a plugin should bring a sidecar which is not based on endpoint runtime image (actually I tried to put plugin binary into main Theia container or bring another sidecar with it (based on endpoint runtime), but both are not possible now).

[2019-08-15 07:29] vinokurig opened #14244 "GitHub plugin shows an empty panel"
### Describe the bug

GitHub plugin shows an empty panel, no pull requests are visible.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace with the GitHub plugin.
2. Click to the GitHub icon on the left side panel

**WRONG:** The plugin's panel is empty:
![screenshot-che-che 192 168 39 215 nip io-2019 08 15-10-21-47](https://use

[2019-08-15 07:32] sleshchenko commented on #14220
Is fixed by https://github.com/eclipse/che-docs/pull/785

[2019-08-15 07:32] #14220 closed

[2019-08-15 07:33] azatsarynnyy commented on #14210
@sunix `1.0.0` and `0.1.17` correspond to different versions of VS Code Kubernetes extension. Maybe it should be mentioned in the `description` field of the plugin's meta.yml.

I agree that it makes sense removing the previous versions of Che Plugins but w/o surprising the user :slightly_smiling_face:
I think we should have kindof Plugin version deprecation policy.

[2019-08-15 07:38] sleshchenko commented on #14242
@mayadebellis Hello. Members of the organization are managed by permissions service. More info you can find here https://www.eclipse.org/che/docs/che-6/permissions.html#organization-permissions

Feel free to ask more questions if some info is still needed or close issue if it works for you. Thanks!

[2019-08-15 07:39] tsmaeder opened #14245 "Implement Language Server Metrics"
In #13270 we are asked to provide the following metrics:

The % of Language Servers requests that get a successful response
The % of Language Servers requests that get a successful response in under N seconds

Let's implement this as far as we can (see also https://github.com/eclipse/che/issues/13375). We need to ensure that metrics have no negative impact on performance (e.g. no potentially block

[2019-08-15 07:40] #14017 closed

[2019-08-15 08:03] thangamani-arun commented on #9127
any one has fixed this issue ?

[2019-08-15 08:08] sleshchenko commented on #9127
I doubt no. The described case use deprecated Che CLI.
@thangamani-arun Do you face the same issue with user/organization on the latest version of Che?

[2019-08-15 08:22] tsmaeder commented on #13483
@mmorhun yes, but what is the concrete use case for such a plugin?

[2019-08-15 08:23] sleshchenko commented on #14102
@rhopp Do you think we can assign 7.1.0 milestone for this issue?

[2019-08-15 08:30] thangamani-arun commented on #9127
@sleshchenko I think the above scenario is when you do not register the user and try to add them as a member, it throws error stating that user is not registered in the system which is correct.

when I register the user and then add that user a member, then it works.

[2019-08-15 08:33] thangamani-arun commented on #9127
@sleshchenko I use Che v5.20.1 and I do not see User Menu, hence can not create a user from the UI. I have to visit the login page and select "new-user Register" option to create a new user.

[2019-08-15 08:36] vparfonov commented on #13722
@benoitf @evidolob Any ideas, looks like we need your help

[2019-08-15 08:40] vparfonov commented on #13737
depends on #13722

[2019-08-15 08:49] vparfonov commented on #13636
in the Theia upstream exist similar macros called `workspaceFolder` probably we can reuse it, and deprecate  `current.project.path` because we don't have project notation anymore.
Ideas ?

[2019-08-15 08:58] vparfonov commented on #13993
Restart workspace for change command it's very strange UX, we need to conclusion here @slemeur please give your vision

[2019-08-15 09:01] mmorhun commented on #13483
Concrete example is my `Git UI Tools` plugin. It has sidecar with the git tools and based on another than endpoint runtime image. Also I have UI for it, which is simple Che-Theia plugin (no dependencies except the sidecar with backend) and it is not that important where the UI will be run (of course, running in Theia IDE container would be better because we'll avoid unneeded sidecar for UI part).

[2019-08-15 09:35] sunix commented on #13993
You may restart a workspace for a lot of reasons
- your workspace has timed out
- you have stopped your workspace to save resources while not using it
- you have installed che plugins or user side cars.
- etc

And will face this problem

[2019-08-15 11:02] sleshchenko commented on #9127
Ah, OK. Then it's related to https://github.com/eclipse/che/issues/6335

[2019-08-15 11:11] #13891 closed

[2019-08-15 11:49] tolusha commented on #14219
Investigation shows Theia  seems to misbehave. Theia collects configurations snippets and shows them during completion in `launch.json`. But python plugin doesn't have any configurations snippets. The only way to request configurations is to invoke `provideDebugConfiguations` method when use select `Python` entry. But it never happens.

There is particular case when  `provideDebugConfiguations` is

[2019-08-15 12:14] dmytro-ndp opened #14248 "Fix Happy path tests to run against Che with next version for default plugins."
### Problem + solution
There is PR merged into the Che master to use next version for default plugins https://github.com/eclipse/che/pull/14247.
Our Happy path tests should be aligned to the Theia next version https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/83/artifact/e2e/report/
![screenshot-Wait_work

[2019-08-15 13:14] sparkoo commented on #13927
we've decided to close this one as won't fix and proper solution fixing using various ingress configurations will be investigated in #14230 and fixed in following tasks.

[2019-08-15 13:14] #13927 closed

[2019-08-15 13:19] sunix commented on #13483
It is not clear what this is about.

[2019-08-15 13:27] sunix commented on #13722
`Ctrl-c` ?

[2019-08-15 13:34] sunix commented on #14210
This is good. I had just been confused that 1.0.0 and latest were based on the same 1.0.0 but had not the same memory settings

[2019-08-15 13:41] tsmaeder commented on #14225
Steps to test would be:
1. Create an empty workspace in Theia (I know how, it's simple)
2. Add a php project as a workspace root
3. Ensure language features (code assist, etc.) work (filing issues for stuff that does not)
4. Add a second project as a workspace root
5. Test language features work

[2019-08-15 13:48] #13842 closed

[2019-08-15 13:49] musienko-maxim opened #14252 "Chectl spawns dozens of node processes"
* Steps to reproduce:
**Preconditions:**
Prepare latest version of `chectl` in next way:
-  `curl -sL  https://www.eclipse.org/che/chectl/ > install_chectl.sh`
-  `chmod +x install_chectl.sh`
-  `sudo PATH=$PATH ./install_chectl.sh -channel=stable`
-  `sudo chmod +x /usr/local/bin/chectl`

1) Launch Minikube with next parameters:
`minikube start --memory 12288 --docker-opt userland-proxy=false`
2)

[2019-08-15 14:09] mmorhun commented on #13483
@sunix please elaborate more what isn't clear for you

[2019-08-15 14:11] sunix commented on #13794
What would work for me is a way so that workspace creation never fails. Whatever the devfile you take.

[2019-08-15 14:15] sunix commented on #13794
How is this kubernetes rule important compare to the value we provide to the user in not failing?

[2019-08-15 14:22] sunix commented on #13483
It's hard to elaborate when it is not clear at all...

Ability for who? What is local?
Are you describing a problem or a solution to a problem? If this is the solution, what is the problem?

[2019-08-15 14:23] tsmaeder commented on #13614
An approach would be to rewrite some URIs (those not under /projects) when we get them from plugins and redispatch them to the plugin containers for resolving contents, etc. We should start a conversation about this on che-dev and do a spike first.

[2019-08-15 14:40] sunix commented on #11877
We have a draft plugin + devfile here: https://github.com/sunix/che-ansible

[2019-08-15 14:55] #14016 closed

[2019-08-15 15:08] mmorhun commented on #13483
It's hard to explain everything in issue title, so the explanation is in the issue description. I though it was clear, but if it isn't, let me elaborate a bit more.

The goal of this issue is to add new functionality into Che + Theia plugin model (probably broker part), to Eclipse Che be able to handle a plugin which consists from a sidecar and Theia plugin _or_ VS Code extension, but the plugin i

[2019-08-15 15:09] rhopp opened #14253 "Put `nightly` che-plugin-registry back to the helm charts"
Fixed version of che-plugin-registry has been configured as part of this PR: https://github.com/eclipse/che/pull/14249

We need to make sure, `nightly` is back there, once the latest nightly image (which would contain che-theia:7.0.0) is built.

[2019-08-15 15:42] sparkoo commented on #13794
Then you have option to use `generateName` and workspace creation will not fail.
Whole devfile is inspired by kubernetes and is following it where possible. Users of Che are developers and possibly know kubernetes so we'd like to keep it as close as possible so user will come to familiar environment. I don't see why having both options here is bad. If you have issue with getting devfile from exist

[2019-08-15 16:33] benoitf commented on #14205
+1 to delete

[2019-08-15 16:42] gorkem opened #14254 "Can not invoke Task if source is che"
If I have a task defined on `tasks.json` with `source` defined as `che`, it can not be started from Command palette. I can see a message printed on JS Console as `ERROR Can't get task launch configuration for label: echo me`

If I remove the source property from the following example task I can start the task without issues.
[code]

[2019-08-15 18:51] Dollmminode opened #14255 "mvn cant clean install latest Version due to wrong class file version"
Hello,

Reproduce:
Pull the latest che version (7.1.0) and "mvn clean install" in the che dir.

[code]

I also tried it with JDK-8, it does get the same type of error, just a few steps later.
JDK-12 has the exact same error as JDK-11.

Do you think an older Maven Version could work? Or do you see any other mistakes?
Thanks for your help.

Short Error Output of "mvn clean install":
[code]

And here

[2019-08-15 19:35] gorkem commented on #13874
@vzhukovskii I like the approach. Let' s implement the `create mechanism, which will provision values of `user.name` and `user.email` at workspace startup` first and do the full `git config --global` synchronization as the next step.  When we implement this we should be careful to replace only the `user.name` and `user.email` for global config and nothing else.

[2019-08-15 19:58] amisevsk commented on #13993
Is there a compelling use-case for having commands that execute in plugin sidecar containers? My understanding is that users should not even be expected to be aware of the sidecar runners.

[2019-08-15 20:00] sunix commented on #13483
When defining a che plugin we should be able defined the vscode ext/theia plugins and where each of them are going to be executed:
- in the a specific side car container
- in the main theia ide container

[2019-08-15 20:57] gorkem commented on #13993
Isn't the solution as simple as supporting `component` on target fields for `task.json`?

This is what I get when I to a `Configure Task`
[code]

If we support component as a target such as below, we would no longer have tasks that goes stale.
[code]

[2019-08-15 21:49] amisevsk opened #14256 "Scrolling dashboard down shows grey backgroud"
### Describe the bug
When on a dashboard page that is longer than the current window, scrolling down shows a grey background where the sidebar is:
![ezgif-4-1a4123601680](https://user-images.githubusercontent.com/1215011/63085912-f2995480-bf4e-11e9-9fe8-456d116ac779.gif)

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
Open a workspace config, nav

[2019-08-15 21:54] amisevsk commented on #14091
@gorkem From a cursory read, it would at least enable more debug configs to function, since currently "attach to process" style debugs do not work. That would go a long way to alleviating a significant potential source of confusion to new users (who would have to know that theia and their project are running in separate containers).

One concern is that systemd-based containers may fail to run: ht

[2019-08-15 22:09] amisevsk commented on #14076
I've also opened PR https://github.com/eclipse/che-plugin-registry/pull/205 in the registry to look at what the change would entail.

[2019-08-15 22:31] amisevsk commented on #14255
(I've quickly edited the original post for formatting only -- use code blocks where appropriate)

I've just tested with
[code]
and haven't encountered issues with building. Could you try `mvn clean install -U`?

[2019-08-15 22:52] amisevsk commented on #14166
I have concerns that a rolling strategy is not appropriate for `postgres`. Additionally, is it even possible to use `rolling` for pods that mount a RWO volume?

[2019-08-15 23:10] Dollmminode commented on #14255
Oh sry! Thanks for editing.

Tried it, doesn't work, same error.
I also changed the version of the maven-compiler-plugin, bust still same mistake.

The Error says that it needs version 53.0 of some class file of java. In the WWW i found, that this version is used in Java 9. Unfortunately I can't find any download for Ubuntu 17.04. On my Mac i also have Java 9, but Maven won't accept it as a valid

[2019-08-16 01:57] sundar1195 opened #14257 "Edit the project in a docker container by stop showing create workspace and add workspace for user"
We had deployed eclipse che as single user docker container. Is there any possible way that i can stop user from creating multiple workspace by stop user from clicking over create Workspace and Add Workspace button, But cannot edit an html file inside a docker container as it is only listing ts files inside a component module. So can i know any other possible way to restrict user from creating wor

[2019-08-16 07:05] mmorhun commented on #13483
Not exactly. The main goal of this issue is to add support for Che + Theia plugin model to consume (be able to run) a plugin which has a sidecar but the actual plugin binary (*.theia / *.vsix) is not part of the sidecar. For now this scenario is not possible.
Having ability to choose sidecar for plugin binaries would be a good bonus.

[2019-08-16 07:19] sleshchenko commented on #13526
I think this is a quite important issue it's why I added `need-triage` label.
People from time to time ask me why some behavior does not work, and the reason for it is that devfile is incorrect but Che Server neither Dashboard do not tell the user about it.

[2019-08-16 07:31] tolusha commented on #13526
I've just tried to set env variables for a sidecar container.
It was very hard to understand why it didn't work, because there were no validation :(

[2019-08-16 07:31] mmorhun commented on #13526
My +1 to fix it.
We encourage users to write devfiles and so we should provide good UX for this. But now when a user copy-paste some part of devfile which is yaml-valid, but has some logical mistakes (for example reference for non-existing component) it will be accepted.

[2019-08-16 07:39] tolusha commented on #12555
It is necessary to add ability to set env variables for `chePlugin` component.
Currently I am working on redirection requests from a sidecar container to a dev container.
And env variable is used to set a dev container name which will be used farther in the code.

[2019-08-16 08:00] olexii4 opened #14258 "Covering Che devfiles actions (e.t.c. build and run commands) with e2e tests"
### Is your enhancement related to a problem? Please describe.

Now we have devfiles in our project:

- https://github.com/eclipse/che/blob/master/dashboard/devfile.yaml
- https://github.com/eclipse/che/blob/master/workspace-loader/devfile.yaml
and others

And a description of how to use it in the file
https://github.com/eclipse/che/blob/master/CONTRIBUTING.md

I sure it is very important to know

[2019-08-16 08:12] RomanNikitenko commented on #13722
@sunix
[The comment](https://github.com/eclipse/che/issues/13722#issuecomment-520437999) describes the cause of the issue:

So, this is not question of **way** how we are going to stop the task, this is question of **architecture**.

[2019-08-16 08:28] tolusha commented on #13816
Currently I am working on redirection `runInTerminal` request to a dev container. The request above is used to run an application to debug. Current impediments are:
- using an env variable which will point to the dev container [1]. The env variables might be configured in a devfile [2]
- both dev and sidecar containers should use the same version of python
- debug configuration must be adjusted by

[2019-08-16 08:36] tsmaeder commented on #13816
python in the dev container:

Shouldn't this be an attribute of the python dev container somehow?

No, we should use the version of python that is installed in the dev container, IMO.

[2019-08-16 08:38] tsmaeder commented on #14255
@amisevsk where did you get oracle jdk 1.8? I thought that was out of production.
@Dollmminode can you try building with a 1.8 version? I'm pretty sure OpenJDK still ships those (https://openjdk.java.net/install/)

[2019-08-16 08:41] tsmaeder commented on #14254
P2, because easy workaround.

[2019-08-16 08:43] sleshchenko opened #14260 "chectl does not stop Che Server deployed with minishift-addon installer"
### Describe the bug
chectl does not stop Che Server deployed with minishift-addon installer.
It happens because of different default labels that are used by different platform.
It's possible to workaround this issue by specifying `che-selector` parameter for `server:stop` command, but it would be better to make it working by default.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: pl

[2019-08-16 08:47] sleshchenko commented on #14260
cc @l0rd @@benoitf The fix is already provided as PR to Che minishift-addon https://github.com/minishift/minishift/pull/3320

[2019-08-16 08:48] tsmaeder commented on #14252
@musienko-maxim questions:

1.  does this happens when you do not pass the "-t" parameter? Why are you passing the "-t" parameter?
2. Is this in master of chectl or a released version?

[2019-08-16 09:04] tolusha commented on #13816
It isn't a problem. The problem is that python is used some files from `/tm/vscod-unpacked` to run the application. These files comes with extensions.

[2019-08-16 10:15] sleshchenko commented on #13437
Should be fixed by https://github.com/eclipse/che/pull/14239

[2019-08-16 10:15] #13437 closed

[2019-08-16 10:16] sleshchenko commented on #13437
@sparkoo I've just noticed a comment from Nick

@nickboldt Can you confirm that it's still needed to backport this fix to 6.19.x?

[2019-08-16 10:53] RomanNikitenko commented on #14254
Should be fixed by https://github.com/eclipse/che-theia/pull/295

[2019-08-16 11:47] RomanNikitenko commented on #14254
- Theia runs tasks using the runner registered for the specified [Task type](https://github.com/theia-ide/theia/blob/f718cb3461eaf1a7de90c679d31cdbeafe485708/packages/task/src/node/task-server.ts#L82) or a default Task Runner [if runner is not found for the task type](https://github.com/theia-ide/theia/blob/f718cb3461eaf1a7de90c679d31cdbeafe485708/packages/task/src/node/task-runner.ts#L64).
We reg

[2019-08-16 11:53] manishpython opened #14261 "Incorrect path - https://che-plugin-registry.openshift.io/v3/plugins/eclipse/che-theia/7.0.0/meta.yaml"
While deploying Nodejs app in workspace, but getting below error:
[code]
<details>

<summary>Full Workspace Start Logs</summary>

[code]

</details>

Observed that it should be as per below

Incorrect path - https://che-plugin-registry.openshift.io/v3/plugins/eclipse/che-theia/7.0.0/meta.yaml
Correct path - https://che-plugin-registry.openshift.io/v3/plugins/eclipse/che-theia/7.0.0-next/meta.yaml

[2019-08-16 11:55] supriya-bharadwaj opened #14262 "Review the Overview section of Che 7 docs"
### Is your task related to a problem? Please describe.

Check the Che 7 Overview section for language and formatting (https://www.eclipse.org/che/docs/che-7/introduction-to-eclipse-che/)

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2019-08-16 12:01] sparkoo commented on #13794
@l0rd @benoitf @davidfestal WDYT?

[2019-08-16 12:14] sleshchenko commented on #14261
cc @vparfonov @ibuziuk
Looks like Plugin Registry on OpenShift.io should be updated

[2019-08-16 12:30] sleshchenko commented on #14261
@manishpython How did you deploy your Che? `chectl`, `helm`, ...?

[2019-08-16 12:48] tsmaeder commented on #14091
@gorkem since we can't launch anything in the dev container, attaching usually does not even come into play. But yes, it would enable more scenarios in the future.

[2019-08-16 12:51] tsmaeder commented on #13483
Unless you want to combine different tooling containers with the same Theia plugins we could just add a Theia endpoint to the image containing the tooling (and we would not have to change anything).
To me this still looks like a solution looking for a problem.

[2019-08-16 12:52] tsmaeder commented on #13816
@tolusha you'd have to be more concrete here: what exactly is going on here? I don't understand.

[2019-08-16 12:59] tolusha commented on #14091
@tsmaeder

Is it ok to remove them from the file once `launch.json` is saved?

[2019-08-16 13:00] tolusha commented on #13816
Have a look at screenshot. That is the command is run in dev container to start the app.
https://github.com/eclipse/che/issues/13816#issuecomment-521931270

[2019-08-16 13:03] tsmaeder commented on #14223
Did some tests, in particular:

1. started a workspace with the C# and the suggested default project
2. Dependencies are restores, language features work fine
3. Switched to "multi-root" in the preferences
4. Added some random folder as a second workspace root
5. Refresh the browser to restart the IDE
6. language features work fine
7. Remove the default project as a workspace root
8. Refresh the b

[2019-08-16 13:05] tsmaeder commented on #14223
My conclusion is: the php plugin works with workspace roots, but it does not handle changing workspace roots. We would need that support in order to merge the fix for https://github.com/eclipse/che/issues/13427.

[2019-08-16 13:06] RomanNikitenko commented on #14098
I investigated the issue: the bugs related to `detected` tasks are caused by using `7.0.0-next` version of `eclipse/che-theia-endpoint-runtime` for remote plugins. `7.0.0-next` version doesn't contain `activateByEvent` logic.

So the issue is fixed by using `next` version of `eclipse/che-theia-endpoint-runtime` for remote plugins.

[2019-08-16 13:08] tolusha commented on #14131
https://github.com/eclipse/che/pull/14174

[2019-08-16 13:08] #14131 closed

[2019-08-16 13:09] tsmaeder commented on #14223
Also, omnisharp can only handle one open solution at a time. Microsofts C# extension offers support to chose an "active" project (https://code.visualstudio.com/docs/languages/csharp#_roslyn-and-omnisharp). We don't seem to have that.

[2019-08-16 13:12] tsmaeder commented on #14091
No, I don't think so: tools should never lose data a user may have written by hand.

[2019-08-16 13:14] tolusha commented on #14091
So, what does `hide` mean then?

[2019-08-16 13:26] tsmaeder commented on #13816
@benoitf @evidolob this would bring us back to the state where plugins are installed in a folder shared by all containers (kind of).

[2019-08-16 13:32] azatsarynnyy commented on #13405
VS Code OpenShift Connector extension [relies on](https://github.com/redhat-developer/vscode-openshift-tools/blob/59f145cfe242639c2ac607844865d0bdbd8547f4/src/openshift/cluster.ts#L193) VS Code extension [Clipboard API](https://github.com/microsoft/vscode/blob/466c132f5b4362b3be485a1f7a624b3a7316ddb8/src/vs/vscode.d.ts#L5977-L5993) which isn't implemented in Theia yet.

[2019-08-16 13:36] lcuone opened #14263 "Conflicting endpoints names for multiple users"
When two users create workspaces from the same devfile template which has a separate mysql component (just an example), the second users workspace cannot create its own mysql component. This is because the mysql component (which has an discoverable endpoint) trys to create a kubernetes service with an already existing name.

[code]

A dynamic endpoint configuration like the one below could solve t

[2019-08-16 13:44] mmorhun commented on #10702
Covered by https://github.com/eclipse/che/pull/14181

[2019-08-16 13:44] #10702 closed

[2019-08-16 13:45] mmorhun commented on #10702
Feel free to reopen in case of any issues.

[2019-08-16 13:52] gorkem commented on #14254
@RomanNikitenko Is there a way we can omit `source` property when we carry a che provided task to task.json when we do a `Configure Task` command?

[2019-08-16 14:02] sleshchenko commented on #14263
@lcuone Could you provide more about the way how you deployed your Che?
I believe that configuring Che Server to create each workspace in its own namespace should solve issues you faced.
BTW Does 1 unique namespace per each workspace work for you?

[2019-08-16 14:05] azatsarynnyy commented on #13405
There's PR https://github.com/theia-ide/theia/pull/5527 in Theia opened 2 months ago which fixes two issues including adding Clipboard API support.
I've tested the OpenShift plugin with the patch proposed in that PR and `Log in` command works well.
I'm going to extract the Clipboard API related code to a separate PR.

[2019-08-16 14:15] gorkem commented on #14166
RWO for a PV determines the node attach so technically if a second pod is scheduled to the same node, it can attach to a PV with RWO access mode.

[2019-08-16 14:51] RomanNikitenko commented on #14254
For 7.0.0 we consider `che` tasks as 'configured', not as 'detected':
- we convert `che` commands from devfile to theia tasks format and copy them to `tasks.json` file of current workspace folder.
So user doesn't need to use `Configure task` action  for `che` tasks.  User can find all `che` tasks in
`tasks.json` file, edit them or add a new task.

`tasks.json` file can be open:
- manually
- by cli

[2019-08-16 15:38] amisevsk commented on #14091
@tolusha I'm generally referring to the autocompletes when you're adding configurations -- either through the "Add configuration" option or by using autocompletion in launch.json.

[2019-08-16 15:56] Dollmminode commented on #14255
I tried it now, using:

`
Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T20:33:14+02:00)
Maven home: /Applications/apache-maven-3.5.4
Java version: 1.8.0_221, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk1.8.0_221.jdk/Contents/Home/jre
Default locale: de_DE, platform encoding: UTF-8
OS name: "mac os x", version: "10.14.6", arch: "x86_64", fami

[2019-08-16 16:10] amisevsk opened #14265 "Deprecate quay.io/eclipse/che-golang-1.10 in favor of quay.io/eclipse/che-golang-1.12"
### Is your task related to a problem? Please describe.
We're currently maintaining two patched Go images, each used for only one devfile:

- `quay.io/eclipse/che-golang-1.10` - Used in the Go devfile
- `quay.io/eclipse/che-golang-1.12` - Used for the plugin broker devfile

### Describe the solution you'd like
We should verify that the Go devfile is compatible with Go 1.12, and if so, delete the o

[2019-08-16 16:19] nickboldt commented on #13437
Yes, we need this in 1.2.x, based on 6.19.6. Stevan confirmed this a couple weeks ago.

[2019-08-16 16:38] amisevsk commented on #14255
I installed jdk 11 and could reproduce the issue.
[code]

[2019-08-16 16:48] amisevsk commented on #14261
I'll open a PR to update the registry, but it's worth noting that https://github.com/eclipse/che-plugin-registry/commit/191df1e76efdc1db993947d66a23f8aaff8b5eec#diff-81a58be1dc1db6f64c386b8e5b5b2057L4 is a breaking change -- any workspaces that explicitly reference `eclipse/che-theia/7.0.0-next` will no longer work

[2019-08-16 16:59] manishpython commented on #14261
I depoyed Che on Openshift 3.11 successfully, but when working on nodejs
app in workspace then face that issue.

Thanks
MS

On Fri 16 Aug, 2019, 18:01 Sergii Leshchenko, <notifications@github.com>
wrote:

[2019-08-16 17:52] amisevsk opened #14266 "Using OpenShift.io for che plugin/devfile registry going forward"
## Summary
Currently, Che uses [openshift.io](https://github.com/eclipse/che/blob/c3b0abbe5dd8bffff197705e0803dd57da1fe82c/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L586) for default plugin and devfile registries. This will likely cause issues going forward, as those plugin registries are updated independently from the [plugin](https://quay.io/repository/ecl

[2019-08-16 17:53] amisevsk commented on #14266
cc: @l0rd @rhopp @slemeur @nickboldt

[2019-08-16 17:57] amisevsk commented on #14266
Opened PR https://github.com/eclipse/che/pull/14267 to point current Che to prod-preview registries, which currently get nightly updates.

[2019-08-16 18:08] amisevsk commented on #14266
Additional context from the last time we updated the plugin registry: https://github.com/openshiftio/saas-openshiftio/pull/1323#issuecomment-520965403

[2019-08-16 19:06] amisevsk commented on #14261
@manishpython As a workaround while we get this resolved, you can update the configmap `che` on your OpenShift cluster. Adding the keys:
[code]

[2019-08-17 00:55] gorkem commented on #13483
This does not sound like a bug.

[2019-08-17 00:59] gorkem commented on #13483
I am unsure about this case. This will allow a plugin to live on the Theia container with dependencies to a sidecar which sounds fragile and I am not sure about the added benefit to current sidecar model.

[2019-08-17 01:07] gorkem commented on #13990
No need to add it to the status bar, a preference should suffice.

@slemeur We probably need documentation added for the plugins that we provide, at least the built-in ones.

[2019-08-17 01:15] gorkem opened #14268 "Merge devfile and plugin registries"
devfile and plugin registries needs a rehab. Our quick and dirty implementation is causing problems.

- [ ]  Merge devfile and plugin registries to be a single container.
- [ ]  Add programmable REST backend so that we can keep backwards compatibility.

[2019-08-17 05:16] sparkoo commented on #13437
here's the backport to `6.19.x` branch https://github.com/eclipse/che/pull/14269

[2019-08-17 17:29] Pixxelcrasher opened #14271 "ERR_TIMEOUT: Timeout set to pod ready timeout 130000"
### Describe the bug

### Che version

 - [ ] latest
 - [*] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [*] minikube (include output of `minikube version: v1.3.1` and `kubectl version`)
   - [ ] minishift (include output of `minishi

[2019-08-18 06:47] monaka opened #14272 "`/api/ssh/generate` should validate `name`."
### Describe the bug

After creating SSH keypair via API with unsuitable parameter, all workspaces can't boot up.

### Che version

 - [x] nightly

### Steps to reproduce

1. Open swagger.
2. Call `/api/ssh/generate` with paramter `{ "name": "Non FQDN string as you like", "service": "vcs" }`
3. Boot up your workspace. It will be failed by naming issue on the K8s secret object.

### Expected behavi

[2019-08-18 06:50] monaka commented on #14272
I think it will be showstopper if the user set it. But it will be a rare case. So it isn't urgent (enough to be fixed after 7.0.0 released).

[2019-08-18 16:43] gorkem commented on #14272
@monaka is this also related to https://github.com/eclipse/che/issues/14218

[2019-08-19 04:27] monaka opened #14273 "Can't build theia-endpoint-runtime because of an API breakage on Theia 0.10.x-next"
### Describe the bug

I couldn't build Che-theia. I can't show how to reproduce because my build environment is customized.
But the root cause is obvious.
`getPluginDependencies` is not added to `PluginDeployerHandlerImpl` even though it was added to `PluginDeployerHandler` (ref: https://github.com/theia-ide/theia/commit/2d4c8457c09cc6ca37fc5480d14eb080a74ed85a#diff-2a5766562161792548814f3e490b89f

[2019-08-19 04:33] monaka commented on #14273
This might be fixed by eclipse/che-theia#406 ?

[2019-08-19 05:12] monaka commented on #14272
@gorkem Yes. I close this and move to #14218.

[2019-08-19 05:12] #14272 closed

[2019-08-19 05:16] monaka commented on #14218
As I reported in #14272, we should validate `name` in `/api/ssh/generate`. So I added `team/platform` label.

[2019-08-19 05:21] monaka commented on #14218
the parameter `name` should be used after hashed (similar to https://github.com/eclipse/che/pull/14243).
Because the length of FQDN name may be more than 63 (the limit of name for Kubernetes objects).

[2019-08-19 06:17] slemeur opened #14274 "Add sample devfiles to the documentation on devfile"
### Describe the solution you'd like
This page about devfile should be providing samples devfile link:
https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-using-a-devfile/

https://github.com/eclipse/che-devfile-registry/tree/master/devfiles
and
https://github.com/redhat-developer/devfile/tree/master/samples

[2019-08-19 06:18] slemeur opened #14275 "Importing a Kubernetes application documentation link to 404"
### Describe the bug
https://www.eclipse.org/che/docs/che-7/importing-a-kubernetes-application-into-a-che-workspace
Goes to a 404

[2019-08-19 06:20] ibuziuk commented on #14261
@manishpython have you deployed against minishift? Could you please provide the info about how exactly you deployed Che? AFAIK minishift is the only flavour of che that still uses openshift.io registries

[2019-08-19 06:36] AndrienkoAleksandr opened #14276 "che-theia jest test 'use default extensions' is unstable."
### Describe the bug
che-theia jest test 'use default extensions' is unstable. From time to time this test fail, because it downloads source code che-theia. If network is pretty slow this test fail. By default jest test has timeout 5 sec. In my case, sometimes I need patch this test manually and set up timeout 10sec  to pass this test inside container build... We need take a look do we really need

[2019-08-19 06:46] ibuziuk commented on #14205
+1 to delete cc: @davidfestal are you ok ?

[2019-08-19 06:48] #13951 closed

[2019-08-19 06:54] sparkoo commented on #13794
@slemeur ^^^

[2019-08-19 07:19] vparfonov commented on #10007
not actual

[2019-08-19 07:19] #10007 closed

[2019-08-19 07:20] vparfonov commented on #6842
not actual

[2019-08-19 07:20] #6842 closed

[2019-08-19 08:03] davidfestal commented on #14205
Yes

[2019-08-19 08:11] SkorikSergey commented on #4962
Not actual.

[2019-08-19 08:11] #4962 closed

[2019-08-19 08:11] SkorikSergey commented on #7055
Not actual.

[2019-08-19 08:11] #7055 closed

[2019-08-19 08:11] SkorikSergey commented on #7599
Not actual.

[2019-08-19 08:11] #7599 closed

[2019-08-19 08:13] rhopp opened #14277 "Dashboard workspace editor page shows no editor is active."
### Describe the bug
When user didn't select any specific editor for his worksapce, default che-theia editor is used, but this is not reflected on the "Editors" page of the workspace config in dashboard:
![image](https://user-images.githubusercontent.com/1215011/63249140-21723c00-c269-11e9-802a-d551287d7e9a.png)

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps

[2019-08-19 08:23] l0rd commented on #13794
@sunix if, in your devfile, you use `generateName` instead of `name` the workspaces creation will always work right? That looks like a good compromise. What's the issue with it?

[2019-08-19 08:33] musienko-maxim commented on #14252
1. I've not tried without -t parameter yet. I  passed -t parameter because i used changes for me in helm charts (i added some variables in the ConfigMap)
2. It was released version

[2019-08-19 08:36] AmitChameides commented on #14052
I have also encountered the same issue as described in the original post. I'm also trying to set up Eclipse Che multiuser behind a proxy. Has a fix been found?

[2019-08-19 08:42] AmitChameides commented on #14164
Is there any update?

I managed to bypass the issue by changing the proxy settings and allowing SSL communications on GitHub, which is where the problematic extension is being downloaded from.
The error was indeed with certificates - specifically, that because my proxy was acting as a man-in-the-middle for SSL communications, my Che pod was getting the extension download from the proxy with the pr

[2019-08-19 08:53] sundar1195 opened #14279 "Deploy eclipse che (single user) from forked change using Dockers"
Hi Folks,
Is there any possible way or any steps by which I can deploy eclipse che single user with respect to some forked changes. Please provide docs URL if any way that I can change some source code and deploy them with docker.

Thanks in Advance!!

[2019-08-19 08:54] #13845 closed

[2019-08-19 08:54] #13968 closed

[2019-08-19 09:46] SkorikSergey commented on #4901
Not actual.

[2019-08-19 09:46] #4901 closed

[2019-08-19 09:46] SkorikSergey commented on #6055
Not actual.

[2019-08-19 09:46] #6055 closed

[2019-08-19 09:47] SkorikSergey commented on #7928
Not actual.

[2019-08-19 09:47] #7928 closed

[2019-08-19 09:47] SkorikSergey commented on #8315
Not actual.

[2019-08-19 09:47] #8315 closed

[2019-08-19 09:47] SkorikSergey commented on #10964
Not actual.

[2019-08-19 09:47] #10964 closed

[2019-08-19 09:48] SkorikSergey commented on #11520
Not actual.

[2019-08-19 09:48] #11520 closed

[2019-08-19 09:50] SkorikSergey commented on #5337
Not actual.

[2019-08-19 09:50] #5337 closed

[2019-08-19 09:50] SkorikSergey commented on #5000
Not actual.

[2019-08-19 09:50] #5000 closed

[2019-08-19 10:03] l0rd commented on #14266
@amisevsk currently the default is to use local registries (deployed alongside the che-server when using helm or the operator) and not to use osio. But that's not clear reading this issue's description.

Anyway I think using prod-preview is a step forward. Not sure if it will be the definitive solution: hosted che and upstream che stacks and plugins may need to be different at some point.

[2019-08-19 10:10] RomanNikitenko opened #14280 "Provide ability to map component to containerName"
### Is your task related to a problem? Please describe.
We have opportunity to define a `component` for `che` commands in devfile.
In runtime we get something like:

![tasks_question](https://user-images.githubusercontent.com/5676062/63256209-c435b500-c27f-11e9-8190-6692f6df3bd3.png)

So we have info about `component` and target `containerName` in attributes for a command.

But I don't know way ho

[2019-08-19 10:15] RomanNikitenko commented on #13993
@gorkem
Thank you very much for the idea!
We could do mapping before running a task on the task resolving step, but looks like I need help of platform team, so I created the corresponding issue.

[2019-08-19 10:28] l0rd commented on #14260
@sleshchenko makes sense

[2019-08-19 10:28] themr0c commented on #14275
fix in https://github.com/eclipse/che-docs/pull/789

[2019-08-19 10:32] themr0c commented on #14237
The PR has been merged. Closing the issue.

[2019-08-19 10:32] #14237 closed

[2019-08-19 10:35] tolusha commented on #14091
@tsmaeder @amisevsk
I've just checked [1] and it works fine.
It is pretty simple to hide `launch` configurations from user. At the same time user is able to add them manually.

[1] https://github.com/eclipse/che-theia/blob/ab/filterDebugConf/extensions/eclipse-che-theia-plugin-remote/src/node/debug-configuration-filter.ts

[2019-08-19 10:39] slemeur commented on #14275
thanks @themr0c !

[2019-08-19 10:52] slemeur commented on #13437
Thanks @sparkoo !

[2019-08-19 11:52] musienko-maxim opened #14282 "User behavior for setting up Java Debugger is not clear"
Precondition:
* Launch Che with Theia next version on the OpenShift  or Kubernetes infra with chectl
Steps to reproduce:
* Create workspace with chectl using configuration from CHE project:
`chectl workspace:start --devfile=che/e2e/files/happy-path/happy-path-workspace.yaml`
* Open the workspace, wait for finish of cloning the project
* After cloning try to set Debugger configuration Debug -> Open

[2019-08-19 12:00] dmytro-ndp opened #14283 "Java LS server initialization was failed"
### Describe the bug
There are E2E Happy path tests which fail on "Language server validation > Java LS initialization" step https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/CHE-7-Happy-Path-Tests/1117/console

Browser logs: https://gist.github.com/dmytro-ndp/37e036eb1afa39ddad74fb780f43a81b
Test execution screencast: https://codeready-worksp

[2019-08-19 12:25] ibuziuk commented on #14283
@vparfonov looks related to https://github.com/redhat-developer/rh-che/issues/1565
Could we switch back to `7.0.0` or `7.0.0-next` - https://github.com/eclipse/che-plugin-registry/commit/191df1e76efdc1db993947d66a23f8aaff8b5eec ?

[2019-08-19 12:34] vparfonov commented on #14283
https://github.com/eclipse/che/pull/14278

[2019-08-19 12:34] rkratky commented on #14275
Fixed by https://github.com/eclipse/che-docs/pull/789

[2019-08-19 12:34] #14275 closed

[2019-08-19 12:44] ibuziuk commented on #14283
@vparfonov this is a great hot  fix for upstream for the time being, but it will fix neither prod-preview nor `nightly`. Could we consider also switching to reverting [1] or switching to `7.0.0` all the images in the plugin registry? I believe we should switch to `next` only once we verify that it works against che master (which is not the case atm)

[1] https://github.com/eclipse/che-plugin-regis

[2019-08-19 13:01] rhopp commented on #14252
@l0rd @benoitf Something worth looking at...

[2019-08-19 13:06] wgbeckmann commented on #14052
No, I'm using singleuser mode at the moment, but also only after playing arround with proxy-settings at multiple places.

[2019-08-19 13:15] vparfonov commented on #14283
@ibuziuk Yes, you are totally right we should to switch to the  `next` ASAP

[2019-08-19 13:20] dmytro-ndp commented on #14283
We need to fix Happy path tests to switch the next Theia version https://github.com/eclipse/che/issues/14248

[2019-08-19 13:48] rhopp commented on #14261
If we want to continue supporting minishift addon, I guess it should take care about deploying registries as well... We cannot ensure, that registries versions on production openshift.io deployments are inline with Che addon version.

[2019-08-19 14:12] bryantson commented on #14175
@sleshchenko Hello, can you explain what is the workaround?

[2019-08-19 14:16] vparfonov commented on #14282
@slemeur We need to here your thoughts, on my opinion this is very strange behavior and I would consider it as bug

[2019-08-19 14:23] ibuziuk commented on #14283
@dmytro-ndp yeah, but https://github.com/eclipse/che/issues/14248 is not enough to make LS work, smth got broken in the next version of plugins and this is not related to missing `p-TabBar-content`

[2019-08-19 14:36] sleshchenko commented on #14175
@bryantson

So, user should execute
[code]
and only then deploy Che with operator, like
[code]

[2019-08-19 14:37] bryantson commented on #12366
Same issue as well. Any update?

[2019-08-19 14:39] sleshchenko commented on #12366
@bryantson Could you provide information about how did you deploy your Che? Chectl, operator, helm....? What were the arguments?

[2019-08-19 14:55] rhopp commented on #14266
Agree... Any nightly-snapshot che instances should use its own-deployed registries. From what I'm aware, only minishift addon installation method doesn't deploy its own registries (do we still want to support that?)

[2019-08-19 14:57] rhopp commented on #14268
@l0rd Could you take a look at this one and triage it accordingly?

[2019-08-19 15:14] rhopp commented on #14273
@evidolob I've set P1 for this issue. Do you think your PR will resolve this one?

[2019-08-19 15:19] ibuziuk commented on #14261
I would rather deprecate minishift addon and focus on https://github.com/eclipse/che/issues/10998

[2019-08-19 15:21] gorkem commented on #14266
@l0rd My installation over the weekend with chectl to minishift was using the hosted registries which means it is broken. We need a plan to adjust chectl on minishift.

[2019-08-19 15:25] rhopp commented on #14279
Hi, @sundar1195 !
It depends on which part of che you want to modify. For example for che server, you can do something like this:
* Build sources: `mvn clean install -f <PathToCheRepo>/pom.xml `
* And then build docker image: `<PathToCheRepo>/dockerfiles/che/build.sh --dockerfile:Dockerfile`
This should build you a docker image of che-server, which you can push and use the same way, as regular che

[2019-08-19 15:26] ibuziuk commented on #14266
as I recall previously the plan was:
- have an alternative lightweight OIDC provider https://github.com/eclipse/che/issues/10998
- deprecate single-user mode (together with minishift addon)

[2019-08-19 15:29] bryantson commented on #12366
@sleshchenko The issue was encountered when I used https://che.openshift.io. I also did encountered the issue when I ran minishift previously.

[2019-08-19 15:32] rhopp commented on #14282
@tsmaeder Are we doing something wrong here?

[2019-08-19 15:36] rhopp commented on #14271
Could you please provide output of following commands, right after the failure happens?
`kubectl get all -n che`
`kubectl get events -n che`
Thanks!

[2019-08-19 15:38] rhopp commented on #14255
@skabashnyuk @sleshchenko You might want to take a look & triage this issue.

[2019-08-19 15:41] dmytro-ndp commented on #14283
@ibuziuk : could you, please, be more specific about what got broken in the next version of plugins, because AFAIK @musienko-maxim didn't encounter any additional problem, but https://github.com/eclipse/che/issues/14282 ?

[2019-08-19 15:42] tetchel opened #14286 "Bad error message if invalid URL given to factory"
### Describe the bug

The "devfile is out of date" message appears in too many user error scenarios, such as if the URL is invalid or inaccessible. There should be a better error message.
![image](https://user-images.githubusercontent.com/8888438/63278672-b9762280-c275-11e9-8517-0cdf68451fd6.png)

### Che version

7.0.0-rc-5.0-SNAPSHOT

### Steps to reproduce

1. Use the factory endpoint to create

[2019-08-19 15:42] dmytro-ndp commented on #14282
This issue is probably kind of blocker for https://github.com/eclipse/che/issues/14248

[2019-08-19 18:00] nickboldt opened #14287 "Update remote-plugin-openshift-connector to odo 1.0 and oc 4.1"
### Is your enhancement related to a problem? Please describe.

Looking at https://github.com/eclipse/che-theia/blob/master/dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile#L26-L29 ...

### Describe the solution you'd like

Should we update https://github.com/eclipse/che-theia/blob/master/dockerfiles/remote-plugin-openshift-connector-0.0.21/Dockerfile to a newer version of `odo`, an

[2019-08-19 18:04] nickboldt commented on #14287
Note:

latest odo: https://github.com/openshift/odo/releases (1.0.0-beta4)
latest oc: https://mirror.openshift.com/pub/openshift-v4/clients/ocp/ (4.1.12)

[2019-08-19 18:47] bryantson commented on #14271
@rhopp

I encountered the same issue, and here are the outputs:

**Running kubectl get all -n che**

`
NAME                                   READY   STATUS    RESTARTS   AGE
pod/che-f5bb68d-qdsvn                  0/1     Running   2          12m
pod/che-operator-77d8f8bbc8-5h2t2      1/1     Running   0          15m
pod/devfile-registry-7cd76dcf5-gs5l2   1/1     Running   0          14m
pod/keycl

[2019-08-19 18:52] bryantson commented on #14271
Seems related to this as inspecting pods show the same error:

https://github.com/eclipse/che/issues/13935

[2019-08-19 19:05] bryantson commented on #13881
I encountered the same issue when TLS and self-signed cert options was used. The issue went away if I did it without:

`chectl server:start --platform=minishift --installer=operator
`

[2019-08-19 19:38] sunix commented on #13794
@l0rd

Yes, I would use `generateName` yes and the generated workspaces would have `name` AND `generateName`. At this point, in the newly created workspace, you could choose to clone a new git project, add few commands and so on. The devfile assiciated with the workspace would be synchronized with these new commands or projects.

You may then want to create a new workspace from that enhanced devfi

[2019-08-19 22:13] l0rd commented on #14266
@gorkem agreed. I did not understand the problem at first. I think the description/title should be updated because that's a minishift add-on specific issue. Anyway using prod-preview registries is a good workaround but that's not ideal. Other options would be:
- update the minishift addon to deploy the registries (but minishift is close to EOL)
- update the che-operator to support deploying che si

[2019-08-19 23:36] metlos commented on #13794
I really hate to beat the dead horse here, but I think the n-th cycle we're in on this issue is due to the different understanding of what devfile is.

I apologize for this to be a rather long comment but I find it necessary to paint a complete(ish) picture before I try to come to some conclusion.

On one hand, @sunix, @benoitf and others want to understand the devfile as a workspace template of s

[2019-08-20 03:40] kellyhyomin commented on #13698
@tolusha

When I created a workspace with c/c++ stack I faced the same issue as below screen.
![image](https://user-images.githubusercontent.com/29850624/63315714-37eec500-c347-11e9-94e8-01623dce5bf1.png)

Even if I reload, I keep getting a message to reload.
I used the che-theia, plugin-registry and devfile-registry you updated recently.

I would appreciate it if you would help this issue.

[2019-08-20 05:00] monaka opened #14288 "Can't clone projects from git@github.com"
### Describe the bug

I tried to clone via `Git Clone...` link in the Welcome page.
And I couldn't clone my project on GitHub with the SSH URL.
Che-Theia popped-up `Git: Host key verification failed`.

But there is the private key for my GitHub account in the container.
And I could clone my project via the console panel.

### Che version

 - [x] latest

### Steps to reproduce

0. (SSH key has been

[2019-08-20 05:14] manishpython commented on #14261
Thanks, It works now.

[2019-08-20 05:15] manishpython commented on #14261
No minishift, only used openshift container platform 3.11.

[2019-08-20 05:48] sleshchenko commented on #14280
Is triaged in the same way as depending issue https://github.com/eclipse/che/issues/13993#issuecomment-521794918

[2019-08-20 06:54] tolusha opened #14289 "Internal server error when I try to add preferences for chePlugin component"
### Describe the bug
Internal server error when I try to add preferences for chePlugin component

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Try to create a workspace from the devfile https://github.com/eclipse/che/issues/13698#issuecomment-518595214
2. Internal server error is observed

### Expected behavior
Devfile validation should pas

[2019-08-20 07:27] tolusha commented on #13698
@kellyhyomin
Unfortunately I can't test the plugin with the latest images due some issues.

1. Regarding its current state, the error above is expected because `@theia/cpp` extension isn't disabled in the version of Theia that is used for testing purpose. Despite the error the LS should work. Could you try some LS features to check it?

2. `clang` is installed (it is requirement for plugins to wor

[2019-08-20 07:37] tsmaeder commented on #14283
@dmytro-ndp What is the actual condition that is failing (or timing out, to be more precise)? Are checking a log message or are you observing some change in the UI?
Also, would it be possible to have source maps enabled in the tests to have real source locations? It would make analysis much easier.

[2019-08-20 07:43] tsmaeder commented on #14282
@musienko-maxim Could you explain what you mean by "the debugger configuration does not apply"?
Does it work if you refresh the browser in the first window?

[2019-08-20 07:47] tolusha opened #14290 "Failed to start sidecar container with c++ tools"
It is impossible to start a sidecar container with c++ tools due to error (see below)

### Describe the bug

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace from the devfile below
2. Get a sidecat logs to observe the error below

### Expected behavior
Workspace is supposed to be started

### Runtime
   - [ ] kubernetes (incl

[2019-08-20 07:53] themr0c commented on #14274
Hi @slemeur: you mean just add the links to both repositories, not integrating a comprehensive list, is that correct?

[2019-08-20 07:55] themr0c commented on #14198
eclipse/che-docs#781 has been merged, @sunix can you check the fix is acceptable for you? Then this issue should probably get closed.

[2019-08-20 08:01] themr0c commented on #14054
Hi @benoitf the verbatim copy of the result of the `--help` command probably doesn't make much sense in the documentation, and a link to the accurate section of the chectl README should probably be sufficient anyway.  The dedicated guides (for AWS, GCP, Azure, Openshift etc.) should be the right place to develop examples around the available options. Would you agree with that?