[2021-06-08 05:52] RomanNikitenko opened #19936 "Open Workspace action does not work"
### Describe the bug

`Open Workspace` and `Open Recent Workspace` actions do not work.
They just stop a current workspace.
Please see the `Screenshots` section.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace.
2. Go to `File`.
3. Try to use `Open Workspace` or `Open Recent Workspace` action

### Runtime
  dogfooding instance

[2021-06-08 06:13] amoldhondse commented on #19796
@azatsarynnyy @svor @l0rd @ericwill We have shared all the logs. Another question that was there - We have environment  IBM Kubernetes Service (IKS) on which Eclipse Che is deployed ? Would like to understand your point of view to make any progress.

[2021-06-08 06:43] #19923 closed

[2021-06-08 07:30] andr-azeez opened #19937 "Telemetry plugin runtime ClassNotFoundException"
### Describe the bug

After Deploying eclipse che telemetry plugin, getting classnotfound error.
[code]
### Che version

 - [ ] latest
 - [ ] nightly
 - [x]  other: please specify
7.29.2

### Steps to reproduce
Followed the steps from the document https://www.eclipse.org/che/docs/che-7/extensions/creating-a-telemetry-plugin/#_creating_a_new_maven_project

### Expected behavior
To post the activiti

[2021-06-08 08:11] l0rd commented on #18369
Closing as the PRs (code and docs) has been merged

[2021-06-08 08:12] #19717 closed

[2021-06-08 08:37] l0rd commented on #19921
@tolusha does https://github.com/eclipse-che/che-operator/pull/856 fix this issue?

[2021-06-08 08:50] tolusha commented on #19921
@l0rd I guess so,
But I would like to update doc, allow user to test it and then close the issue

[2021-06-08 09:51] azatsarynnyy commented on #19796
Thank you for the provided logs. We see nothing suspicious there.
I've added @RomanNikitenko from my team to the mail thread. He is able to work with you to help investigate the cause of the problem.

[2021-06-08 10:05] svor opened #19938 "IDE Editor doesn't open after starting the workspace from Dashboard"
### Describe the bug

After stopping and starting a workspace from the dashboard another dashboard opens in the frame.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace
2. Stop it
3. Open it again from the dashboard

### Expected behavior
IDE Editor should be opened

### Runtime
   - [ ] kubernetes (include output of `kubectl

[2021-06-08 10:11] RomanNikitenko commented on #19796
There is a opinion about the problem from @benoitf :

Log won’t say something as they’re recreated after each restart

[2021-06-08 10:15] benoitf commented on #19938
it looks like a dup of https://github.com/eclipse/che/issues/19931

[2021-06-08 10:34] svor commented on #19938
@benoitf thx!
Closed as it's dup of https://github.com/eclipse/che/issues/19931

[2021-06-08 10:34] #19938 closed

[2021-06-08 10:48] svor opened #19939 "Devfile should be updated after changing Storage Type in the Dashboard"
### Describe the bug
Devfile should contain changes related to Storage Type which were made from the Dashboard

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace
2. Stop it and to the Overview tab
3. Change Storage Type and save changes
4. Go to the Devfile tab

### Expected behavior

New changes related to Storage Type should

[2021-06-08 11:32] azatsarynnyy commented on #19796
@amoldhondse yes, add guys as well

[2021-06-08 11:59] RomanNikitenko commented on #19796
@amoldhondse
Could you try to increase a memory limit for the editor, just for testing, something like:

[code]

[2021-06-08 12:06] vzhukovs commented on #19931
![Снимок экрана 2021-06-08 в 14 58 16](https://user-images.githubusercontent.com/1968177/121181734-02dc9b00-c86b-11eb-9b45-e00c961f3401.png)

Also faced with this issue today on Dogfooding instance

[2021-06-08 12:13] Ohrimenko1988 opened #19940 "The "che-plugin-registry" nightly openshift-ci job fails because of changed test name."
### Is your task related to a problem? Please describe.
The "che-plugin-registry" nightly openshift-ci job fails because of changed test name.

[code]
### Describe the solution you'd like
Review the list of tests and align it with a current list of plugins tests

### Describe alternatives you've considered

### Additional context

[2021-06-08 12:47] skabashnyuk commented on #19813
API is available in k8s. I want to create a separate issue for devworkspace on k8s.

[2021-06-08 12:47] #19813 closed

[2021-06-08 13:10] pgirishibm commented on #19796
@RomanNikitenko We had increased the memory limit for che-theia from 512MB to 2G.  Will increase it further to 3G and try to get some results before our call ..

[2021-06-08 13:12] sympatheticmoose opened #19941 "Provide clear public information relating to the devfile v2 and DevWorkspace efforts within the project"
With the upcoming release of [milestone 2](https://github.com/eclipse/che/milestone/139), we will be at the point where Che users should actively start experimenting with the [new support for Devfile v2 and DevWorkspaces](https://github.com/eclipse/che/issues/17307). Given this is a significant effort within the project, we should ensure that it is easy for a Che user or someone exploring the proj

[2021-06-08 13:14] RomanNikitenko commented on #19796
I tried to simulate the problem with low memory limit for the editor.
First - I reduced the memory limit, then tried to clone a project.

I can see the similar errors in the browser console and the behavior related to a welcome page.

https://user-images.githubusercontent.com/5676062/121191243-76cf7100-c874-11eb-9c56-28a150eac5b5.mp4

So, I hope the increasing the memory limit should help for reso

[2021-06-08 13:22] ibuziuk commented on #19636
I suspect that deletion was not working due to missing permissions - should be fixed for operator as part of https://github.com/eclipse-che/che-operator/pull/847 / https://github.com/eclipse/che/issues/19867

[2021-06-08 13:27] skabashnyuk commented on #18469
not able to reproduce.

[2021-06-08 13:27] #18469 closed

[2021-06-08 13:34] RomanNikitenko commented on #19796
@pgirishibm
could you also check `Events` section when you reproduce the issue:

![events](https://user-images.githubusercontent.com/5676062/121194323-5228c880-c877-11eb-8c6b-d350d7ad1128.png)

[2021-06-08 13:50] #19920 closed

[2021-06-08 14:11] RomanNikitenko commented on #19796
@pgirishibm
It would be really helpful to check `YAML` section, please find `containerStatuses` and check it

![yaml](https://user-images.githubusercontent.com/5676062/121200624-8f438980-c87c-11eb-949d-b9dbe417ab32.png)

[2021-06-08 14:21] sunix opened #19942 "Display the running workspace containers logs in the che-theia output view"
### Is your enhancement related to a problem? Please describe.
When a che workspace is starting, we can see the logs of each container
- for the dev: by turning on the debug mode.
- for the admin: by going back to the openshift console, kubernetes console or using kubectrl

the problem is that the logs are not available anymore once the workspace has switched to che-theia for the dev.

### Describ

[2021-06-08 14:22] pgirishibm commented on #19796
@RomanNikitenko I created the memory to 3Gi in the meta.yam for che-theia/latest and still see the issue. Posting the screen shots from the issue

<img width="1273" alt="image" src="https://user-images.githubusercontent.com/17478559/121202171-b5742400-c892-11eb-964f-86f0f8a20d6d.png">

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/17478559/121202245-c6249a00-c892-11e

[2021-06-08 14:33] bodarajeshkumar commented on #19796
@RomanNikitenko This is the error that we are seeing in che-machine-exec POD which is suspecting.

[2021-06-08 15:03] pgirishibm commented on #19796
Yes.

[2021-06-08 15:12] tsmaeder opened #19943 "`che-theia generate` is broken in theia-dev image"
Running the `che-theia generate` command in theia-dev:next results in a failure with "file not found". The problem is that when the che-theia npm module is installed globally, the path to the che-theia source code is of course not available.

This is in current che-theia master and I already have a fix.

[2021-06-08 15:22] RomanNikitenko commented on #19796
Does terminals/tasks related functionality work correctly?

[2021-06-08 15:23] metlos opened #19944 "Support deploying devworkspaces on Kubernetes"
### Is your enhancement related to a problem? Please describe.
Enabling devworkspaces currently only works on OpenShift. To enable this on Kubernetes, too, we need to start deploying all the files from the `deployment/kubernetes` directory of `devworkspace-operator`. We also need to make sure that che-operator installs the `cert-manager` if not present in the cluster (tracked by #19502).

It seems

[2021-06-08 15:51] pgirishibm commented on #19796
Well. we are cloning git repo, building and launching sample applications via the terminal. All those tasks work. But After a reload we do see terminal at times becoming unresponsive.  and some terminals just close off without any manual action.

[2021-06-08 16:42] azatsarynnyy commented on #19796
@pgirishibm here's the full Devfile of the snippet Roman posted during the call today:

[code]
where `your_meta.yaml_link` is something like https://gist.githubusercontent.com/azatsarynnyy/1f4781c0bfd15886f0cb2253afec15d3/raw/abfd918300b2307701efcddc361361989a5cd9b6/meta.yaml

If a problem is the same, then you can try the following Devfile
[code]
to check if the problem exists when running vanill

[2021-06-08 16:44] azatsarynnyy commented on #19796
@tolusha @AndrienkoAleksandr could you look at these machine-exec logs if there're any problems

[2021-06-08 17:14] RomanNikitenko commented on #19796
@pgirishibm
During the meeting we noticed that you have an empty `Events` section.
I see the same on the screenshots here https://github.com/eclipse/che/issues/19796#issuecomment-856812281.
There should be at least events like: `Created container ...` or `Started container ...` for a running workspace.

Sorry, but could you double check that you are using the correct namespace and so on for the ru

[2021-06-08 17:35] skabashnyuk commented on #19939
Afaik that is by design. Storage type is a workspace/runtime configuration, not a devfile.

CC @sleshchenko @l0rd

[2021-06-08 18:12] Ohrimenko1988 commented on #19940
Done https://github.com/eclipse-che/che-plugin-registry/pull/980

[2021-06-08 18:12] #19940 closed

[2021-06-08 21:28] vitaliy-guliy commented on #18282
I'm closing this issue as non relevant anymore (nobody has asked about those extensions for a long period of time).
We can easily reopen this issue or create a new one if needed.

[2021-06-08 21:28] #18282 closed

[2021-06-09 06:50] #18927 closed

[2021-06-09 07:18] RomanNikitenko opened #19945 "Error message should be more helpful at creation a workspace"
### Describe the bug

I have got an error like: `Failed to create a new workspace from the devfile:undefined`
The cause of the problem was - the workspace with such name existed in my account.
Actually I copied a devfile from another workspace to workaround https://github.com/eclipse/che/issues/19922 (I could not to save my changes to existent devfile, so I tried copy it and create a new workspace

[2021-06-09 07:21] flacatus commented on #19647
Checl and che-machine-exec are done!

[2021-06-09 07:21] #19647 closed

[2021-06-09 07:23] flacatus opened #19946 "Ensure che-operator files contains correct license header after migrate to operator sdk 1.X"
### Is your task related to a problem? Please describe.

Actually che-operator contains some gaps in license headers like:
  - Incorrect year
  - Different license. Examples:
         * https://github.com/eclipse-che/che-operator/blob/main/.github/workflows/nightly-image-build.yaml
         * https://github.com/eclipse-che/che-operator/blob/main/pkg/deploy/clusterrole.go

### Describe the solution

[2021-06-09 08:19] pgirishibm commented on #19796
Still see the problem with this devfile pointing to our meta.yaml

[2021-06-09 08:22] pgirishibm commented on #19796
You are right Roman. Sorry for the confusion. this is what see in the events section.
<img width="1276" alt="image" src="https://user-images.githubusercontent.com/17478559/121319329-bad07d80-c929-11eb-9da5-974a973eb9cf.png">

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/17478559/121319367-c459e580-c929-11eb-998c-05b425a25a6d.png">

<img width="1259" alt="image" src=

[2021-06-09 08:48] sleshchenko commented on #19933
Fixed by https://github.com/eclipse-che/che-dashboard/pull/265

[2021-06-09 08:48] #19933 closed

[2021-06-09 08:53] RomanNikitenko commented on #19796
OK, thanks!
Could you try:

[2021-06-09 09:06] #19733 closed

[2021-06-09 09:40] Ohrimenko1988 opened #19947 "Rework the "GitHubPullRequestPlugin" test to make PR instead of checking existing one"
### Is your task related to a problem? Please describe.
Currently, the "GitHubPullRequestPlugin" performs authentication and setup and checkup existing PR.
It would be more in line with the main flow is to rework the test for making own PR instead of check displaying existing PR in the plugin view.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional c

[2021-06-09 09:41] pgirishibm commented on #19796
Yes, Trying that right now. Also we have some che setting in our CRD yaml.
      CHE_WORKSPACE_DEFAULTMEMORYLIMIT__MB: "2048"
      CHE_WORKSPACE_PROJECTS_STORAGE_DEFAULT_SIZE: "1Gi"
      CHE_LIMITS_USER_WORKSPACES_RAM: "2048"

Do you see this limiting the workspace? I am ayways trying our removing these settings in another environment and testing..

Also, we have removed the default  che theia f

[2021-06-09 09:49] sleshchenko opened #19948 "Dashboard should respect origin devfile schemaVersion"
### Is your task related to a problem? Please describe.
Currently, devworkspace client generates devfile for devworkspace and use the latest hard-coded version.
it would be good if we store original schemaVersion and how it to the user when they review devworkspace configuration.
But it has drawbacks, since DevWorkspace v1alpha2 is based on the latest schemaVersion, it may be tricky or even not po

[2021-06-09 09:57] sleshchenko opened #19949 "Update docs according to new Quick Add page changes"
### Is your task related to a problem? Please describe.
Update docs according to new Quick Add page changes https://github.com/eclipse-che/che-dashboard/pull/246

[2021-06-09 10:18] RomanNikitenko commented on #19796
about the memory requirements - it depends...
you can see more details [here](https://www.eclipse.org/che/docs/che-7/administration-guide/calculating-che-resource-requirements/).

I think it's advisable to test vanilla che-theia, not IBM assembly, as we can not reproduce the problem on our side except the use case with low memory limit for the editor: https://github.com/eclipse/che/issues/19796#is

[2021-06-09 11:54] azatsarynnyy commented on #19796
We had two calls with IBM folks to examine their Che instance. And we see no suspected events like pods went into `CrashLoopBackOff` state, `restartCount` > 0, or something non-usual in the container logs. Vanilla Che-Theia was used in the tested workspace, w/o any plug-ins or other customizations. 3Gi was set for che-theia sidecar.
I'm not sure what else we can check to help in localizing the pro

[2021-06-09 12:03] benoitf commented on #19796
could it be proxy dropping websockets connection after sometimes ?

[2021-06-09 12:52] amoldhondse commented on #19796
@benoitf any settings that you should we should look at ?

[2021-06-09 12:59] benoitf commented on #19906
Fixed by https://github.com/eclipse-che/che-devfile-registry/pull/408

[2021-06-09 12:59] #19906 closed

[2021-06-09 13:13] tsmaeder commented on #19275
On the other hand, we now have libraries to access the Che services (k8s or Che server). Maybe a dummy implementation of testing for that library would feasible.

[2021-06-09 13:20] tsmaeder opened #19950 "Timeout on Workspace leads to many Dialogs Opening"
### Describe the bug
When I leave my  Workspace until Che times out (and I'm sen to log in again), when I try to refresh the browser, I get a number of dialogs telling me I have unsaved changes. The number varies and I suspect it is related either to number of open editors or the number of open terminals.
Note that I don't have as many unsaved editors as I get dialogs. That would be logical, albei

[2021-06-09 14:03] themr0c commented on #18975
Did the documentation receive any update on this? See: modules/installation-guide/examples/proc_che-preparing-a-private-registry.adoc

[2021-06-09 14:12] benoitf opened #19951 "Add kubernetes recommended label on che-theia editor"
### Is your enhancement related to a problem? Please describe.
Add `app.kubernetes.io/component:....` and `app.kubernetes.io/part-of: che-theia.eclipse.org` as recommended labels on che-theia editor
https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

### Describe the solution you'd like
Adding these labels would allow to filter out components by checking their compone

[2021-06-09 14:26] tsmaeder opened #19952 "Update Node Debugging Experience"
### Is your enhancement related to a problem? Please describe.
The Debugging experience for Node seems to be much better in VS Code than what we have in Che right now. For example, when debugging the Theia back-end process, breakpoints in subprocesses (the plugin host process in particular) are hit, as well. I also feel the performance is better in VS Code.

### Describe the solution you'd like
Le

[2021-06-09 14:36] sunix opened #19953 "Labelling devfiles in the Dashboard"
### Is your enhancement related to a problem? Please describe.
In the dashboard get-started page, admin can configure Che to have devfiles coming from different devfile registries. The problem is that it is hard to differentiate where the devfile is coming from.
This is what is done in the Red Hat Developer Sandbox SaaS which is mixing CodeReady Workspaces devfiles and Che community devfiles. It i

[2021-06-09 14:37] benoitf opened #19954 "editor components from che-editors.yaml file should be used 'as it' and not use two converters"
### Is your enhancement related to a problem? Please describe.
For now we specify editors with devfile v2 format but then they're converted to meta.yaml and then converted from meta.yaml format to devfile.yaml

### Describe the solution you'd like
We should keep editor in devfilev2.yaml --> meta.yaml converter but the devfile.yaml should just use raw data from original che-editors.yaml file

### D

[2021-06-09 14:52] benoitf commented on #19953
isn't it conflicting with https://github.com/eclipse/che/issues/19633 ?
AFAIK operator will be able to explicitly give a name to a given devfile registry and it will be in a dedicated section
cc @sleshchenko

[2021-06-09 15:32] sunix commented on #19633
I don't see any security concern. Adding a defile registry that you cannot trust is the danger and this is the responsibility of the admin to trust it or not.
If this is a security concern, we should not let anyone adding external sources: these could contain devfiles with images containing arbitrary malicious code.

[2021-06-09 17:36] pgirishibm commented on #19796
@benoitf Could you give us some pointers on what to look for to check on the possibility of proxy dropping the websockets connection?

[2021-06-09 20:39] #19771 closed

[2021-06-10 05:29] MichalMaler commented on #18887
I asked @l0rd Mario yesterday about the possibility to compose a draft for the new Che architecture that reflects devWorkspace changes. He agreed with content writing in googledoc, I will provide the review and text application.

[2021-06-10 06:13] amoldhondse commented on #19796
@azatsarynnyy @RomanNikitenko - Any work around that you can think around this issue ?

[2021-06-10 07:33] sparkoo commented on #19703
fixed by https://github.com/eclipse-che/che-server/pull/1

[2021-06-10 07:33] #19703 closed

[2021-06-10 09:02] RomanNikitenko opened #19955 "Invalid plugin registry URL"
### Describe the bug

I get `Invalid plugin registry URL` warning when a workspace is started.
The warning proposes to check settings, but I have no idea what's wrong with settings.
The `Plugins` panel is empty.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Start a workspace from the devfile:
[code]
2. Please pay attention on the warning.
3

[2021-06-10 09:25] RomanNikitenko commented on #19796
I found [these changes](https://github.com/eclipse-theia/theia/pull/6159) in `Theia` repo, so I think @benoitf is right:

can be the cause of the reloading plugins.
At the same time I still don't see what's specific thing can be in that infrastructure to drop websockets connection periodically - as far as I know it happens pretty often...

[2021-06-10 11:03] azatsarynnyy commented on #19669
Status update, after talking with Vlad.
After investigating this issue, it turned out that it's not a problem of an incorrect running the Projector on Che side, but it's actually a problem of the Projector itself. To move forward with this issue it requires digging into the Projector sources. That's a Kotlin code where we have no expertise. So, it will require much more time during the next severa

[2021-06-10 11:41] tsmaeder commented on #19950
The number of dialogs popping up varies and seems to depend on neither the number of open editors nor the number of open terminals.

[2021-06-10 11:46] azatsarynnyy commented on #19796
I don't have anything else to suggest ATM. On the Che-Theia side, we've checked everything that came into my mind.
Maybe other guys have any suggestions on how to check the proxy-related stuff.

[2021-06-10 11:50] amoldhondse commented on #19796
@benoitf @l0rd anything else that you can suggest or you would like to see in logs ? Workaround that you would suggest.

[2021-06-10 11:51] azatsarynnyy commented on #19792
FYI: recently, the build process has been reworked slightly https://github.com/eclipse-che/che-theia/pull/955
so, try to follow the steps provided in the `How to test this PR?` PR section

[2021-06-10 12:13] RomanNikitenko commented on #19796
On the screenshot https://github.com/eclipse/che/issues/19796#issuecomment-854480472 I see `connection is closed` error.
I found a discussion in `theia` repo related to disposed connection: https://github.com/eclipse-theia/theia/discussions/8545
The cause of the problem was a bug in ingress nginx: https://github.com/kubernetes/ingress-nginx/issues/2647.
The description is similar: `Websocket conne

[2021-06-10 12:18] #19911 closed

[2021-06-10 12:18] mkuznyetsov opened #19956 "Release Che 7.31.2"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [x] che-machine-exec, che-theia, che-devfile-registry, che-dashboard, devworkspace-operator, jwtproxy, kubernetes image puller

[2021-06-10 12:42] nickboldt opened #19957 "Send notification to https://mattermost.eclipse.org/eclipse/channels/eclipse-che-ci when build is back to green"
### Is your task related to a problem? Please describe.

Today we announce build failures in https://mattermost.eclipse.org/eclipse/channels/eclipse-che-ci to make it easier to react to problems in GH actions.

But we never report when things are back to green, so it just looks like "everything is on fire!" :D

### Describe the solution you'd like

When a build completes successfully, check if the

[2021-06-10 12:56] benoitf commented on #19230
spi added in che-theia

[2021-06-10 12:56] #19230 closed

[2021-06-10 12:57] benoitf commented on #19050
support added for devWorkspaces using devfile v2 attribute
[code]

[2021-06-10 12:57] #19050 closed

[2021-06-10 13:17] vzhukovs commented on #19669
Yep, the main reason of stuck on this issue is the wrong behaviour clipboard, especially on the server side of Projector framework. As far as full support of clipboard requires secure browser context, this appears in that Projector Client needs to be opened from HTTPS connection. This problem has been resolved. But, there are a few limitations in Projector itself, that described in official docs:

[2021-06-10 13:31] virtuakazib commented on #19778
Should the frontend plugin feature be deprecated?

[2021-06-10 13:42] azatsarynnyy commented on #19669
Thanks Vlad! Currently, we're postponing work on this issue until we finish the productization for CRW https://issues.redhat.com/browse/CRW-1358.

[2021-06-10 13:44] vzhukovs commented on #19669
Got it

[2021-06-10 13:48] virtuakazib commented on #19889
I can provide a little more context here about the error I get when trying to load a frontend plugin.  I get this error: `TypeError: Object prototype may only be an Object or null: undefined in che-api-worker-provider.js`.

I've tracked this error down to this file in che-theia: https://github.com/eclipse-che/che-theia/blob/master/extensions/eclipse-che-theia-plugin-ext/src/plugin/che-sidecar-cont

[2021-06-10 13:51] vitaliy-guliy commented on #19778
No, we don't have any plans to remove it.
Moreover, VS Code already has some default frontend extensions, which are still not work in Che-Theia.

[2021-06-10 14:21] #19371 closed

[2021-06-10 16:56] mkuznyetsov commented on #19291
eclipse/che-devfile-registry
eclipse/che-plugin-registry
eclipse/che-server
eclipse/che
eclipse/che-machine-exec

the following projects now have `next` tagged builds (on latest commits), which also make SHA based tags

[2021-06-10 19:03] azatsarynnyy opened #19958 "Editors Sprint 203"
June 16 - July 6

---
#### Projector-based IDEA Che editor
- [x] https://github.com/eclipse/che/issues/19698
- [ ] Start working on supporting IntelliJ as optional editor in CRW [CRW-1358](https://issues.redhat.com/browse/CRW-1358)

#### Multi-root workspaces as a default project layout in Che-Theia
- [x] https://github.com/eclipse/che/issues/19645
- [ ] https://github.com/eclipse/che/issues/18866

[2021-06-10 20:08] ericwill commented on #19943
Can this be closed?

[2021-06-10 20:16] ericwill commented on #13427
This is no longer the case right? I think we should be unblocked now cc @tsmaeder

[2021-06-10 20:55] ericwill opened #19959 "Plugins Sprint 203"
## Sprint 203 (June 16th 2021 - July 7th 2021)
This sprint will result in the release of Che 7.33.

### Blockers

### Epics

### CRW
* [ ] Update vscode-openshift-tools to the latest version #19597 @vinokurig
    * [ ] Update openshift connector to latest version (support for devfile 2.0) [CRW-1733](https://issues.redhat.com/browse/CRW-1733)
* [ ] Jupyter Notebooks native support through the Pytho

[2021-06-11 04:38] azatsarynnyy commented on #19804
The fix is proposed in https://github.com/eclipse-che/che-theia/pull/1134

[2021-06-11 06:39] tolusha opened #19961 "Che Deploy Sprint #203"
#### Timeframe
 Jun 16 - Jul 6

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |
| @flacatus  |

#### Holidays / events:
- Jun 21 Ukraine holiday
- Jun 28 Ukraine holiday
- Jun 23 - Jul 6 Anatolii PTO

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is b

[2021-06-11 06:45] tolusha opened #19962 "Add documentation about initial support of backup and restore"
### Describe the solution you'd like
Add documentation about initial support of backup and restore

### Additional context
https://github.com/eclipse/che/issues/18703 initial support of backup & restore
https://github.com/eclipse/che/issues/19932 chectl server:backup & chectl server:restore commands

[2021-06-11 07:04] tsmaeder commented on #13427
This should be fixed.

[2021-06-11 07:04] #19943 closed

[2021-06-11 09:41] #19889 closed

[2021-06-11 10:02] metlos opened #19964 "Failed to start a simplistic devfile v2"
### Describe the bug
Using the Che dashboard, I tried to create a new devworkspace from this trivial devfile v2:

[code]

When saving the devworkspace, I noticed the `Failed to create a new workspace from the devfile: undefined` popup error and the following message in the console:

[code]

The resulting devworkspace object looks like this:

[code]

When I try to start the devworkspace, the follow

[2021-06-11 10:06] sleshchenko commented on #19964
Should be backported to 7.32 as well

[2021-06-11 10:09] sleshchenko commented on #19633
it's a different story, because users accept risk. But in such case confirmation dialog will be by passed.

Also, note that architecture will be handled our of tags in devfile v2: https://github.com/devfile/api/pull/490

[2021-06-11 11:36] sleshchenko commented on #18099
After fixing issue with reporting which happened on preload data, it's got better:
![Screenshot from 2021-06-11 14-33-12](https://user-images.githubusercontent.com/5887312/121680516-5694f180-cac2-11eb-863d-2dd2081ddae7.png)

So, I don't reopen issue as it's good enough

[2021-06-11 11:41] sleshchenko commented on #19939
storage settings live in a devfile like https://github.com/eclipse-che/che-dashboard/blob/main/devfile.yaml#L5, otherwise, I don't think they will have an effect.

[2021-06-11 12:08] sunix commented on #19633
Today we say, that community devfiles are coming from a distinct source. But, if we change our mind and choose to have supported AND community in the same regirstry, the approach [here](https://github.com/eclipse/che/issues/19953) will still work. The proposed approach with separate sections won't work.

[2021-06-11 12:31] tolusha commented on #19921
@Yukesh4791
Could you try with the nightly Eclipse Che if it fixed?

1. Install [chectl](https://github.com/che-incubator/chectl/)  from the next channel: `bash <(curl -sL  https://www.eclipse.org/che/chectl/) --channel=next`
2. chectl server:deploy --platform k8s --domain <example.com> --installer operator
3. Configure annotations for ingresses if needed following the doc https://www.eclipse.org/

[2021-06-11 12:32] RomanNikitenko commented on #19645
@benoitf @azatsarynnyy

Hello!
I'm still looking for the good solution for the use case when a devfile doesn't contain projects.

I described in the comments above my concerns related to:
- `Open Folder` action,
- `multi-root` vs `single` root modes
- `/projects` as default workspace folder and as root at the same time

Now I'm trying the case when two buttons are displayed for a user:
- `New Fold

[2021-06-11 12:38] skabashnyuk commented on #19939
@sleshchenko you are right. That's a bug then.

[2021-06-11 12:46] benoitf commented on #19964
here is a PR to fix the issue https://github.com/eclipse-che/che-dashboard/pull/269

[2021-06-11 12:50] sunix commented on #19633
About security, if the admin is setting
[code]
confirmation dialog will be by passed.

[2021-06-11 12:57] azatsarynnyy commented on #19796
I've just performed a simple test: when I have opened Che, I turned off my network connection and turned it on again. I see exactly the same behavior as described in this issue. So, it really looks like a problem with the network connection either on client side or on the server side.

[2021-06-11 13:22] Ohrimenko1988 opened #19965 "Rework the "AnimationChecker.waitDropDownAnimationEnd" for using intelligent wait instead of hardcoded timeout."
### Is your task related to a problem? Please describe.
Currently, for waiting for the drop-down animation end we are using simple "sleep" or dedicated function "AnimationChecker.waitDropDownAnimationEnd" which also contains hardcoded sleep inside.

### Describe the solution you'd like
Rework the "AnimationChecker.waitDropDownAnimationEnd" function for using more intelligent approach.
For example,

[2021-06-11 13:26] vitaliy-guliy commented on #19778
@virtuakazib it seems I misread something and hadn't understood the issue properly.
Today I tried to create a custom Che plugin, referring on theia frontend plugin.
I was able to start workspace, launch Che-Theia with all the plugins except frontend plugin.

Frontend plugin failed with en error you reported
`TypeError: Object prototype may only be an Object or null: undefined`

So, trying 2 and 3

[2021-06-11 13:34] virtuakazib commented on #19778
Great!

I actually recently thought of a fourth option (or option 3a).  Update che-sidecar-content-reader.ts to conditionally import `fs-extra` depending on if it is running on node or the browser. Or make the whole che-sidecar-content-reader.ts conditional based on node or browser environment.

I look forward to seeing what you come up with.

[2021-06-11 14:09] #19964 closed

[2021-06-11 14:36] azatsarynnyy commented on #19645
I'm okay with such an approach.

[2021-06-11 14:43] Ohrimenko1988 commented on #19947
Done https://github.com/eclipse/che/pull/19963

[2021-06-11 14:43] #19947 closed

[2021-06-11 14:46] vinokurig commented on #19898
fixed by the PR above

[2021-06-11 14:46] #19898 closed

[2021-06-11 14:53] benoitf commented on #19645
AFAIK for cloning with ssh, user is prompted to upload ssh key if it's not there.
so we should be good.

[2021-06-11 15:00] RomanNikitenko commented on #19645
yes, I checked - there is some flow which should be OK for cloning with ssh.

@benoitf
does it looks good for you `New Folder` behavior?

[2021-06-11 15:07] benoitf commented on #19645
@RomanNikitenko yes, most of people want to open files that are inside /projects (that are already auto-added)
Opening files in theia filesystem is a corner case and we can do that with proper commands as well

And if they start from blank devfiles, etc then it's fine to ask them to create a new folder

Maybe I would add the clone first (in VS code user may have tons of repositories cloned on its

[2021-06-11 17:23] nickboldt commented on #19291
Thanks for the update!

So that means we still have to convert these remaining projects:
* [ ] operator
* [ ] dashboard
* [ ] DWO
* [ ] DWCO
* [ ] image puller
* [ ] jwtproxy
* [ ] plugin broker images (2)
* [ ] theia dev, theia, and endpoint images (3)

[2021-06-14 08:09] pgirishibm commented on #19796
@RomanNikitenko @azatsarynnyy
We made the following changes in the ingress for che and keycloak
1. Added the annotation
     nginx.org/websocket-services: che-host,keycloak
2. Added
nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header Upgrade "websocket";
      proxy_set_header Connection "Upgrade;

We already had the following settings in the ingress.
     nginx.ingress.kub

[2021-06-14 08:14] pgirishibm commented on #19796
We are seeing the following logs in the browser console.
Uncaught Error: connection is closed

Error: connection is closed
    at Object.e.create (bundle.js:3)
    at e.remoteCall (bundle.js:3)
    at Proxy.n.<computed>.r.charCodeAt.n.<computed> (bundle.js:3)
    at e.<anonymous> (bundle.js:31)
    at bundle.js:31
    at Object.next (bundle.js:31)
    at bundle.js:31
    at new Promise (<anonymous

[2021-06-14 08:40] amoldhondse commented on #19796
@azatsarynnyy @RomanNikitenko looking at these are there any thoughts ? any other things you would like to see ?

[2021-06-14 08:48] #19855 closed

[2021-06-14 10:07] RomanNikitenko commented on #19796
@skabashnyuk @sleshchenko
could you take a look at https://github.com/eclipse/che/issues/19796#issuecomment-860480831 when you have a chance
thanks advance!

[2021-06-14 10:56] cccs-eric opened #19966 "Add OAuth authentication support to GitHub factory"
### Is your enhancement related to a problem? Please describe.
The current implementation for GitHub factory does not support reading from a private repository.  Because of this, a user cannot load a devfile hosted in a private repository.  We can define a git credential secret in a k8s user namespace, but this only works if the devfile is reachable from the factory.

### Describe the solution you

[2021-06-14 10:59] cccs-eric commented on #19966
PR from me coming soon.  It supports private repositories behind SSO as well (as long as OAuth app registration in GitHub is configured as such)

[2021-06-14 10:59] cccs-eric commented on #18963
This issue will most likely be resolved by [this](https://github.com/eclipse/che/issues/19966).

[2021-06-14 11:19] sleshchenko opened #19967 "Create Custom Workspace does not support v2 templates"
### Describe the bug
when devworkspace support is enabled, dashboard shows only devfile v2 samples, but when you choose it on Create Custom Workspace, you'll v1 used as sample:
![Screenshot_20210614_141904](https://user-images.githubusercontent.com/5887312/121884353-7d019980-cd1b-11eb-831e-21346a7650fa.png)

[2021-06-14 12:07] AndrienkoAleksandr commented on #19466
During work on this issue we faced with a very big dependency upgrade. We analyzed about 580 dependencies(initially it was even 616), created green list of them:

https://github.com/eclipse-che/che-operator/blob/6dcdf13b8ad69981c457cca69024c93d90544120/Dependencies.md

 For another dependencies we created plenty big CQ list:

 https://gist.github.com/AndrienkoAleksandr/eddc8b47a1510585e70386a2d4af

[2021-06-14 12:25] benoitf commented on #18402
done

[2021-06-14 12:25] #18402 closed

[2021-06-14 12:27] #19188 closed

[2021-06-14 12:29] l0rd commented on #19341
Moving it out of scope of STEP 2 of the devworkspace work as we won't be able to create all the samples devfiles. That will be postponed to STEP 3 and we need to discuss if we need to update the devfile samples.

[2021-06-14 12:35] dmytro-ndp commented on #19053
@Katka92, @ScrewTSW: could you, please, check whether it still actual?

[2021-06-14 12:38] nickboldt commented on #19762
Done or n/a:

- [x] 1.13 che-workspace-operator/build/rhel.Dockerfile --> redirects to devworkspace-operator, so not applicable
- [x] 1.14 che-machine-exec/build/dockerfiles/rhel.Dockerfile https://github.com/eclipse/che/issues/19764 - updated to 1.15.7 for Che 7.32 - https://github.com/eclipse-che/che-machine-exec/pull/164
- [x] 1.13 che-operator/Dockerfile https://github.com/eclipse/che/issues/1

[2021-06-14 13:49] ibuziuk commented on #19473
PR for fixup and refactoring - https://github.com/eclipse-che/che-server/pull/26

[2021-06-14 14:00] #19956 closed

[2021-06-14 14:32] #19430 closed

[2021-06-14 14:32] #19967 closed

[2021-06-14 15:12] nickboldt opened #19968 "[Cross-Project Epic] Switch from master to main as default branch in Che repos"
### Is your task related to a problem? Please describe.

Most Che projects have already migrated away from the old convention of using a master branch.

However a few remain, due to other priorities having been more urgent.

### Describe the solution you'd like

Projects that still need to migrate:

- [x] https://github.com/eclipse-che/che-theia/tree/master https://github.com/eclipse/che/issues/20

[2021-06-14 15:15] benoitf commented on #19968
che-docs ?

[2021-06-14 15:50] vitaliy-guliy commented on #19778
@virtuakazib
To have a clear test, I just commented all the conflicting code, rebuilt and launched Che-Theia with simple HelloWorld frontend plugin.
I didn't see any errors and anything wrong.
Then I decided to try it with vanilla Theia and got the following

![Screenshot from 2021-06-14 18-33-42](https://user-images.githubusercontent.com/1655894/121918836-17bf9f80-cd3f-11eb-99e1-83e067197f6f.png)

[2021-06-14 17:33] amoldhondse commented on #19796
@skabashnyuk @sleshchenko Any thoughts ?

[2021-06-14 18:50] nickboldt commented on #19736
While this is tagged as `kind/enhancement` it will also allow us to benefit downstream by having the ability to get automated respins for CVE fixes.

Once https://projects.engineering.redhat.com/browse/CLOUDWF-3111 is live and we re-enable it, we can get respins of any/all containers in CRW, with an updated operator metadata + CSV + IIB, but the registries will still refer to old digests, which wo

[2021-06-14 19:42] #19779 closed

[2021-06-15 00:00] dkwon17 opened #19969 "Kubernetes Image Puller: Error getting daemonset"
### Describe the bug
After installing [Kubernetes Image Puller](https://github.com/che-incubator/kubernetes-image-puller) on CRC, the following logs are printed:
[code]
The daemon set is not created, and the pod has the following status:
![image](https://user-images.githubusercontent.com/83611742/121972914-25c6ed80-cd4a-11eb-83f6-47dd1789578d.png)

### Steps to reproduce
1. Start crc
[code]

2. In

[2021-06-15 02:58] zWingz commented on #19902
@benoitf Hi, Can you solve my question ?

[2021-06-15 05:51] skabashnyuk commented on #19796
I agree that could happen, we need to be prepared for that.

[2021-06-15 06:26] amoldhondse commented on #19796
@skabashnyuk is there a fix that needs to be in place ? or do we need to look into some configurations settings ?

[2021-06-15 07:23] skabashnyuk opened #19970 "[Cross-Project Epic] Standardization/Harmonization of go-based tooling builds and deployment process"
### Is your task related to a problem? Please describe.
multiple go-based tooling has different base builder/and deployment images and the way how to build them.
It's very hard to support them

### Describe the solution you'd like

The idea is to have common base images. One for go-based tooling build, another for runtime. That will allow simplifying several things.
 - Deliver bug fixes in images.

[2021-06-15 07:28] RomanNikitenko commented on #19796
@pgirishibm
According to https://github.com/eclipse/che/issues/19796#issuecomment-860480831 I see that you are using `nginx.ingress`.
Maybe it makes sense to check that the problem is not related to https://github.com/kubernetes/ingress-nginx/issues/2647.
I see there a workaround https://github.com/kubernetes/ingress-nginx/issues/2647#issuecomment-397468148.

[2021-06-15 07:34] ScrewTSW commented on #19053
Yes, it still is, working on a fix

[2021-06-15 07:52] dmytro-ndp commented on #19053
@ScrewTSW : thanks.
I have set appropriate `team/hosted-che` label.

[2021-06-15 08:18] sleshchenko commented on #19945
Again this undefined =(

[2021-06-15 08:34] l0rd commented on #19779
@ericwill can you please add a link to the GH pages registry in the devfile-registry README file?

[2021-06-15 09:13] ibuziuk commented on #19473
merged. Closing
should be part of 7.32 & CRW 2.10

[2021-06-15 09:13] #19473 closed

[2021-06-15 09:34] pmkovar commented on #14183
@skabashnyuk Do you want to self-assign this?

[2021-06-15 10:03] #19574 closed

[2021-06-15 10:53] sleshchenko commented on #19881
![Screenshot_20210615_135228](https://user-images.githubusercontent.com/5887312/122040813-f44d3100-cde0-11eb-90aa-0f386c19b4e2.png)
it provides users a response code in case it's available.

[2021-06-15 10:53] #19881 closed

[2021-06-15 11:08] sleshchenko opened #19971 "Che Controller Sprint 203"
This issue collects work items of Controller Team for Sprint 203 (16 June - 6 July).
:notebook: Please note that this is a tentative plan, until sprint planning has been conducted.

The previous sprint https://github.com/eclipse/che/issues/19861

## Sprint directions
- Productize DevWorkspace Operator and move WTO/Che/CRW to use it as a dependency;
- Stabilize devworkspace support on Dashboard & m

[2021-06-15 11:54] #19804 closed

[2021-06-15 12:49] sleshchenko opened #19972 "Implement an ability to preCreate namespaces for users with privileged SA"
### Is your task related to a problem? Please describe.
https://github.com/eclipse-che/che-server/pull/7 makes Che Server create user's che namespace with privileged SA, and it works fine for Che Workspace.

But with DevWorkspace, currently, it's a Dashboard that creates a namespace if it does not exist.
So, this issue is about using privileged SA for namespace creation for DevWorkspaces.

Note th

[2021-06-15 13:43] nickboldt commented on #19970
I like the idea of a single cross-Che-project base image for all the golang container builds... but with the caveat that:

* Brew can't use quay images as `FROM` base images, so
* all the sync.sh scripts we have today to pull upstream content and transform it into midstream/downstream will need an additional transformation, something like this:

upstream:
[code]

downstream
[code]

You'll also wan

[2021-06-15 13:46] mkuznyetsov opened #19973 "Release Che 7.32.0"
### List of pending issues / PRs

* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [x] che-machine-exec, che-theia, che-devfile-registry, che-dashboard, devworkspace-operator, jwtproxy, kubernetes image puller

[2021-06-15 15:05] sleshchenko commented on #19579
There are two issues in devfile/api types currently:
- [ ] metadata of typescript DevWorkspace types is just object https://github.com/devfile/api/issues/494
- [ ] Devfile API typescript types does not have a type for devfile https://github.com/devfile/api/issues/493

[2021-06-15 15:06] #19861 closed

[2021-06-15 17:56] ericwill commented on #19968
We should probably do all the sample project repos too, i.e. all the repos from https://github.com/che-samples

[2021-06-15 18:15] azatsarynnyy commented on #19850
Several simple enhancements are done in the PRs: https://github.com/eclipse-che/che-theia/pull/1139 + https://github.com/eclipse-che/che-theia/pull/1141

[2021-06-15 18:15] #19850 closed

[2021-06-15 18:43] dkwon17 commented on #19969
The namespace I installed the image puller was `k8-image-puller` (CRC doesn't let me create a namespace/project that starts with `kubernetes-`), however the error message says:
[code]

Performing this change fixes the issue for me: https://github.com/che-incubator/kubernetes-image-puller/compare/master...dkwon17:che-19969?expand=1

[2021-06-15 19:40] cccs-tom opened #19975 "When setting tolerations on workspace pods, each toleration appears multiple times in the pod spec"
### Describe the bug

When setting tolerations for the workspace pods as in the example below, the toleration spec appears multiple times on the pod.
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: please specify
7.30.1

### Steps to reproduce

1. In values.yaml, set che.cheWorkspacePodTolerations as in the example above.
2. Deploy to a Kubernetes cluster.
3. Use `kubectl get p

[2021-06-16 03:04] zWingz opened #19976 "Can i run che-theia on local and connect to remote backend ?"
## Summary

I want to develop a che-theia plugin.
Can i run che-theia on my PC, and connect to remote backend to develop the plugin ?
Or do I have to follow the [CONTRIBUTING](https://github.com/eclipse-che/che-theia/blob/master/CONTRIBUTING.md) to develop the plugin ?

[2021-06-16 03:17] garyyang85 commented on #19465
Encounter this issue on 7.31.2, installed by operator on openshift. But currently only reproduced on Firefox browser. Chrome works good.

[2021-06-16 03:18] garyyang85 commented on #19403
Encounter this issue on 7.31.2, installed by operator on openshift. But currently only reproduced on Firefox browser. Chrome works good.

[2021-06-16 05:12] pgirishibm commented on #19796
@RomanNikitenko We spoke to our infrastructure person  and he mentioned, the settings mentioned in the above link are not application for our ingress controller.
But he did make the change to set keep-alive: 300s.  But don't see that helping.

[2021-06-16 05:24] RomanNikitenko commented on #19796
I see, thank you for checking it...

[2021-06-16 06:51] #19540 closed

[2021-06-16 07:34] #19921 closed

[2021-06-16 07:54] tolusha commented on #19502
We decided to close the issue and let cert-manager to be a prerequisite instead of deploying it via che-operator

[2021-06-16 07:54] #19502 closed

[2021-06-16 09:01] tolusha opened #19977 "Share backup server configuration between backup & restore CRs"
### Is your task related to a problem? Please describe.
Currently backup and restore controllers updates its configuration which is not a typical practice.

### Describe the solution you'd like
Introduce a new CR with server configuration configurations.
Share it between backup & restore CRs

### Describe alternatives you've considered

N/A

### Additional context

[2021-06-16 09:04] tolusha commented on #19726
We can deprecate this field and enable internal urls by default.
To allow external urls we can introduce a new field like `disableInternalClusterSVCNames`

[2021-06-16 09:23] tolusha opened #19978 "Refactor che-operator controller"
### Is your task related to a problem? Please describe.

Operator has to update its status more often once error is occurred.
It allows chectl (or another tool) to monitor and report problem earlier than timeout happens.

### Describe the solution you'd like
1. Refactor controller to have something like this
[code]
2. chectl should not fail immediately but allow operator fix problem on the next re

[2021-06-16 10:02] disaster37 opened #19979 "[CHECTL] chectl over corporate proxy not working"
### Describe the bug
`chectl server:deploy --version=7.31.2` not working over coorporate proxy.

Same matter with `chectl update stable` over coorporate proxy.

It failed on:
[code]

After check with our security team, chectl try ton connect directly to api.gihtub.com and so, seems to ignore http_proxy/https_proxy/HTTP_PROXY/HTTPS_PROXY.

### Che version

 - [x ] latest
 - [ ] nightly
 - [ ] other

[2021-06-16 10:21] azatsarynnyy commented on #19596
added https://github.com/eclipse/che/issues/19698 to set up the release management in the repo https://github.com/che-incubator/jetbrains-editor-images

[2021-06-16 10:34] azatsarynnyy commented on #19796
to sum up: Che-Theia works as expected here - it restarts the plug-ins on restoring the connection.
As I understand, it's a matter of nginx settings. So, it's more a question rather than a bug.

[2021-06-16 10:46] skabashnyuk commented on #19796
It's not directly related to che-server as I can see.

[2021-06-16 11:10] skabashnyuk commented on #19796
Is that possible to get a real CheCluster configuration? I'm interested are you using che in single-host or multi-host mode. What was exect Theia URL (the one that browser made WebSocket request, not the one that you see in address line)?

Context `nginx.org/websocket-services: che-host,keycloak` that might be not the ingress that you are looking for.

[2021-06-16 11:12] skabashnyuk commented on #19796
These properties https://github.com/eclipse-che/che-server/blob/4c104320cd55f5b6c00b1cff44685bff94b67e5f/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L423-L451 might help to modify Theia's ingress.

[2021-06-16 11:19] zWingz opened #19981 "Plugin runtime crashed unexpectedly when hosted plugin"
### Describe the bug
follow the [doc](https://www.eclipse.org/che/docs/che-7/contributor-guide/developing-che-theia-plug-ins/#developing-che-theia-plug-ins-using-che_che) to develop a plugin
run `Hosted Plugin: start instance` and it succeed to run the plugin in a new page
but after reload the instance page, it throw error
![image](https://user-images.githubusercontent.com/13031838/122209589-45d7e

[2021-06-16 11:22] sleshchenko commented on #19796
that's interesting because RHPDS has websocket connection closed each minutes and I was not able to reproduce multiple Welcome Pages there https://github.com/eclipse/che/issues/19339

[2021-06-16 11:28] #19868 closed

[2021-06-16 11:45] sleshchenko opened #19982 "Set up happy path test for Dashboard with DevWorkspaces enabled"
### Is your task related to a problem? Please describe.
Dashboard has happy path check which verifies che workspaces, which means even devWorkspaces basic functionality can be broken with PR without any notion on Che Dashboard side.

Instead, then DevWorkspace PR checks will fail, like https://github.com/devfile/devworkspace-operator/pull/458

Dashboard should get its own PR check that would verif

[2021-06-16 11:59] skabashnyuk commented on #19796
This is how Theia's webscoket (multihost ) is looks like on rhpds
<img width="1092" alt="Знімок екрана 2021-06-16 о 14 58 55" src="https://user-images.githubusercontent.com/1614429/122215033-7148db00-ceb3-11eb-91d2-aace788f8905.png">

[2021-06-16 12:06] sleshchenko commented on #19751
Should be backported to 7.32.x

[2021-06-16 12:08] skabashnyuk opened #19983 "Che Platform Sprint 203"
#### Timeframe
 Jun 16 - Jul 6

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:
- Jun 21 Ukraine holiday
- Jun 28 Ukraine holiday

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is based on Eclipse Che 7.30.x

[2021-06-16 12:17] panneer26 commented on #17475
https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes

due to this chromium feature, browser restricting the clipboard access
![image](https://user-images.githubusercontent.com/40835567/122217241-dbb94580-ceca-11eb-9503-ae6dda47ba38.png)

[2021-06-16 12:31] #19831 closed

[2021-06-16 12:32] RomanNikitenko opened #19984 "Adapt Che-Theia to upstream changes"
### Is your task related to a problem? Please describe.

There are breaking changes made in upstream `Theia` by the commit: https://github.com/eclipse-theia/theia/commit/f9c031120708e0b4c7ef4afe86210144062ebde8.
The `Che` Workspace fails, I detected the following problem:

![fail_start](https://user-images.githubusercontent.com/5676062/122219070-be2eb080-ceb7-11eb-8cc8-c1b8e8a83d4f.png)

it's some

[2021-06-16 12:48] sleshchenko opened #19985 "it's not possible to create a factory for DevWorkspace from gist/rawcontent github link"
### Describe the bug
it's not possible to create a factory for DevWorkspace from gist or rawcontent github link.

Try link like one we use for happy path test

`https://${CHE_CLUSTER}/dashboard/#/load-factory?url=https%3A%2F%2Fgist.githubusercontent.com%2Fl0rd%2F71a04dd0d8c8e921b16ba2690f7d5a47%2Fraw%2Fd520086e148c359b18c229328824dfefcf85e5ef%2Fspring-petclinic-devfile-v2.0.0.yaml`

The following

[2021-06-16 12:49] sleshchenko commented on #19985
possible caused by https://github.com/eclipse-che/che-dashboard/pull/266

[2021-06-16 14:55] dmytro-ndp opened #19986 "Add GITHUB_TOKEN in che-theia PR check"
### Is your enhancement related to a problem? Please describe.
We need to add GITHUB_TOKEN in che-theia PR check, to eliminate build error:
[code]

[2021-06-16 15:04] sleshchenko opened #19987 "Dashboard backend basic API"
### Is your enhancement related to a problem? Please describe.
https://github.com/eclipse-che/che-dashboard/pull/268 introduces static server that serves dashboard frontend resources. That is the first step to desired dashboard backend.

So, this issue is about moving to node server(https://github.com/fastify/fastify-static) that would serves static resources + provide API, the first step we need

[2021-06-16 15:22] #19840 closed

[2021-06-16 15:56] #19985 closed

[2021-06-16 16:42] azatsarynnyy commented on #19984
Theia now depends on `keytar` which requires installed `libsecret`.
Checking... https://github.com/eclipse-che/che-theia/pull/1142/commits/6b900cb1a0b6d1fb66399c26d6868650dfc2030c

[2021-06-16 17:20] pgirishibm commented on #19796
@skabashnyuk This is how I see it on IKS with plain vanilla eclipse che.
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/17478559/122264556-4b442a80-cef5-11eb-9937-ae76cb882824.png">

[2021-06-16 17:28] flacatus opened #19988 "Unable to create workspace on Openshift 4.8"
### Describe the bug

During 7.32.0 release, the tests fails in openshift 4.8 nightly when create a workspace throwing the next error:

[code]

Openshift CI JOB: https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/eclipse-che_che-operator/871/pull-ci-eclipse-che-che-operator-7-v8-che-operator-update/1405134709763084288/

Che Full Log: https://gcsweb-ci.apps.ci.l2s4.

[2021-06-16 17:38] pgirishibm commented on #19796
@skabashnyuk Also we have a multi-host setup ..

Could you help out with the right way to set the ingress annotation?  Should that be set to the ingress created within the workspaces?

[code]

[2021-06-16 17:48] andr-azeez opened #19989 "Eclipse che - 7.29.2 | Mysql based workspace not working"
### Describe the bug

Mysql based sample projects are not running. Refer to the screenshot

### Che version - 7.29.2

### Steps to reproduce
Create any mysql based workspace

### Screenshots

![Screenshot from 2021-06-16 23-17-04](https://user-images.githubusercontent.com/81161330/122267845-fe625300-cef8-11eb-8111-c4768538bf0f.png)

[2021-06-16 19:05] cccs-tom opened #19990 "Workspace startup takes a long time when using a nodeSelector to start the workspace pod on a different node than the "service" pods"
### Describe the bug

Our organization deploys Che on AKS and uses different node pools for different purposes. Specifically, we use a different node type for user workspaces than the nodes we run the Che pods on. However, when specifying a nodeSelector (and tolerations because the nodes have taints), workspaces take a long time to launch. We narrowed this down to the workspace PVC getting Multi-A

[2021-06-16 20:23] sunix commented on #19828
Hi @akhilajayakumar @spvece , do you have a public git project where this issue could be reproduced? I cannot access to https://github.com/USTQE/NoSkriptTrial.git

[2021-06-17 07:01] #19969 closed

[2021-06-17 07:47] tolusha commented on #19979
@disaster37
as a workaround try to install the latest 7.31.2 using curl
`bash <(curl -sL  https://www.eclipse.org/che/chectl/)`
and then you can use `chectl server:deploy` without specifying a version

[2021-06-17 08:18] flacatus commented on #19988
I was able to reproduce from UI dashboard the problem:
1. I've installed CRW in fresh cluster
2. Start Java Maven namespace and crash
3. Start again Java maven workspace and start to work

[2021-06-17 09:23] azatsarynnyy commented on #19984
Fixed by: https://github.com/eclipse-che/che-theia/pull/1142/commits/6b900cb1a0b6d1fb66399c26d6868650dfc2030c + https://github.com/eclipse-che/che-theia/pull/1142/commits/ca2038e5af2a7e202af8e673b727759112aefdc6

[2021-06-17 09:32] mshaposhnik opened #19991 "[Factory acceptance] OAuth routine should not be triggered when it's not configured."
### Is your task related to a problem? Please describe.
In current state, during factory aaceptance,  when **_almost any_** type of error happens during retriveing devfile (or other file) from GitHub/GitLab/Bitbucket repo, we trying to repeat call with authentication.  That not always true (for example, when repo is public but SSL key is not configured, or something similar.) and produces a bunch

[2021-06-17 09:33] #19780 closed

[2021-06-17 10:53] benoitf commented on #19927
done in 7.32

[2021-06-17 10:53] #19927 closed

[2021-06-17 11:30] skabashnyuk commented on #19796
@pgirishibm https://github.com/eclipse/che/issues/19796#issuecomment-862565221 `services` is the one that we are looking for. Can you identify that ingress and show his annotations?

[2021-06-17 11:33] skabashnyuk commented on #19796
That is how my ingres is looking for on minikube.
<img width="1188" alt="Знімок екрана 2021-06-17 о 14 32 32" src="https://user-images.githubusercontent.com/1614429/122388816-ec27f980-cf78-11eb-9904-1a41bafbca37.png">
<img width="1417" alt="Знімок екрана 2021-06-17 о 14 32 22" src="https://user-images.githubusercontent.com/1614429/122388821-edf1bd00-cf78-11eb-82e3-b74f51953a93.png">

[2021-06-17 12:30] sunix commented on #19805
upstream issue: https://github.com/eclipse-theia/theia/issues/9605

[2021-06-17 12:37] benoitf opened #19995 "invalid links displayed after installing che with chectl"
### Describe the bug
After installing che with chectl the links displayed in the terminal are invalid

it displays

[code]

### Che version
next

### Steps to reproduce

[code]
[code]

### Expected behavior
Links are not working, it is missing trailing /

it displays `https://192.168.64.70.nip.io/auth` which redirect to dashboard
it should be `https://192.168.64.70.nip.io/auth/` (trailing / is wor

[2021-06-17 12:59] benoitf opened #19996 "dashboard should suggest devfile v2 template when enabling DevWorkspaces"
### Describe the bug
Going into the custom workspace panel, it suggests a devfile V1

[code]

it should suggest a V2.1.0 format

### Che version
next

### Steps to reproduce
Open dashboard with devWorkspaces enabled and go to custom workspace panel

### Expected behavior
2.1.0 template

### Runtime
minikube 1.20.0

### Screenshots
![image](https://user-images.githubusercontent.com/436777/122401108

[2021-06-17 14:15] #19866 closed

[2021-06-17 14:15] #19984 closed

[2021-06-17 16:28] nickboldt commented on #19986
Probably just need to do:
[code]

like in https://github.com/eclipse-che/che-theia/blob/master/.github/workflows/release.yml

[2021-06-18 03:07] zWingz opened #19997 "run automation throw error 'no such file or directory' in che-plugin-registry"
### Describe the bug

when i run automation, it throw error 'no such file or directory'

![image](https://user-images.githubusercontent.com/13031838/122500347-36ff4b00-d025-11eb-9421-401c1f85968d.png)

[che-theia-openshify-auth@0.0.1](https://github.com/che-incubator/che-theia-openshift-auth/tree/0.0.1) does not have `package.json`

![image](https://user-images.githubusercontent.com/13031838/12250

[2021-06-18 05:56] abdelhamidfg opened #19998 "Unable to authenticate from IOS 14.6 (chrome,firefox)"
### Describe the bug
Received error message as attached  "Failed to request branding" during authentication from IOS 14.6 iphone/ipad  chrome/safari/firefox

 Che version
 - [ ] latest **7.28.2**

### Steps to reproduce

1- provide username /password in the login page from IPAD/iphone 14.6 using chrome/firefox
2- error message will be received "Failed to request branding""

### Runtime
   -  Opens

[2021-06-18 08:01] #5662 closed

[2021-06-18 08:01] #5667 closed

[2021-06-18 08:01] #5670 closed

[2021-06-18 08:01] #5671 closed

[2021-06-18 08:01] #8569 closed

[2021-06-18 08:01] #8920 closed

[2021-06-18 08:01] #9899 closed

[2021-06-18 08:01] #10225 closed

[2021-06-18 08:01] #12045 closed

[2021-06-18 08:01] #13059 closed

[2021-06-18 08:01] #17663 closed

[2021-06-18 08:01] #18055 closed

[2021-06-18 08:01] #18273 closed

[2021-06-18 08:01] #18316 closed

[2021-06-18 08:01] #18382 closed

[2021-06-18 08:01] #18395 closed

[2021-06-18 08:01] #18424 closed

[2021-06-18 08:01] #18427 closed

[2021-06-18 08:01] #18431 closed

[2021-06-18 08:01] #18434 closed

[2021-06-18 08:01] #18442 closed

[2021-06-18 08:01] #18449 closed

[2021-06-18 08:01] #18465 closed

[2021-06-18 08:01] #18479 closed

[2021-06-18 08:01] #18480 closed

[2021-06-18 08:01] #18495 closed

[2021-06-18 08:01] #18497 closed

[2021-06-18 08:01] #18500 closed

[2021-06-18 08:01] #18530 closed

[2021-06-18 08:01] #18540 closed

[2021-06-18 08:01] #18541 closed

[2021-06-18 08:01] #18546 closed

[2021-06-18 08:01] #18558 closed

[2021-06-18 08:07] sparkoo opened #19999 "OpenShift internal registry does not work when user set container registry credentials"
### Describe the bug

In case workspace has an image from OpenShift internal registry and at the same time user has defined some container registry credentials, workspace won't start with error `Error reading manifest latest in image-registry.openshift-image-registry.svc:5000/crw-image/crw: unauthorized: authentication required'`.

#### Analysis
The pull image credentials are defined in kubernetes

[2021-06-18 08:22] azatsarynnyy opened #20000 "Switch Che-Theia default branch from `master` to `main`"
### Is your task related to a problem? Please describe.
We need to switch the Che-Theia default branch from `master` to `main` to remove the divisive language.

### Sub-tasks
- [x] Reopen a ticket https://bugs.eclipse.org/bugs/show_bug.cgi?id=572863
- [x] Update the references in Che-Theia repo https://github.com/eclipse-che/che-theia/pull/1147
- [x] Update the references in Che repo https://githu

[2021-06-18 08:32] sunix commented on #16431
@sleshchenko could someone from your team take it ?

[2021-06-18 08:43] sunix commented on #15521
@skabashnyuk could someone from your team update https://github.com/eclipse/che/blob/HEAD/CONTRIBUTING.md#contributing-to-che ?
For building the che-server, it should probably goes in a dedicated CONTRIBUTING.md.

And we should redirecting people reading this wiki page to a more generic contribution page which does not include only che-server: https://github.com/eclipse/che/blob/HEAD/CONTRIBUTING.

[2021-06-18 08:53] MichalMaler commented on #17487
Thank you @sunix for the initiative!

[2021-06-18 09:01] MichalMaler commented on #17798
Hello Florent. Please, I assigned you (after conv with Sun) to this old issue.

Is that ok? Does this work for you?
Don't want to put more load on your shoulders, nor I have a position to do some requests here. I just want to clear the PRs that have the `docs` label on it and help with them if possible.
Thank you @benoitf

[2021-06-18 09:20] tsmaeder commented on #18598
It ain't going away until we fix it :-)

[2021-06-18 09:44] svor opened #20001 "Add vscode-xml plugin into all maven-based stacks in che-devfile-registry"
### Is your task related to a problem? Please describe.

Each time when we create a workspace from the devfiles with samples based on maven, the recommendation plugin recommends to install vscode-xml plugin to provide better support for editing pom.xml.
![screenshot-che-eclipse-che 172 17 0 2 nip io-2021 06 18-12_07_08](https://user-images.githubusercontent.com/1271546/122542187-150cc500-d033-11eb

[2021-06-18 09:46] benoitf commented on #19883
I missed the ping !

[2021-06-18 09:48] benoitf commented on #20001
or we turn off recommendation plug-in for the getting started sample ?

[2021-06-18 09:59] svor commented on #20001
@benoitf yes, I'm going to discuss about that in the next Cabal. But in case of maven-based stack it would be nice to have better support to edit pom.xml.

[2021-06-18 10:24] benoitf commented on #20000
so it seems switch of branch occured
https://github.com/eclipse-che/che-theia/runs/2857295711?check_suite_focus=true
generator test is trying to clone master branch and fails

[2021-06-18 10:31] azatsarynnyy commented on #20000
just prepared a PR to adapt Che-Theia accordingly https://github.com/eclipse-che/che-theia/pull/1147

[2021-06-18 10:35] #19878 closed

[2021-06-18 11:37] skabashnyuk commented on #18381
Already implemented

[2021-06-18 11:37] #18381 closed

[2021-06-18 11:37] skabashnyuk commented on #18390
Already implemented

[2021-06-18 11:37] #18390 closed

[2021-06-18 13:26] MichalMaler opened #20004 "Add the missing prerequsity step for {prod-short} installation on OCP 3"
### Is your enhancement related to a problem? Please describe.
User having difficulties to install {prod-short} on OCP 3

### Describe the solution you'd like
based on consultation with Anatolii Bazko, we decided to add an additional step for OCP 3 installation doc that guide a user to configure OpenShift to pull images from registry.redhat.com

https://issues.redhat.com/browse/RHDEVDOCS-2972

[2021-06-18 13:43] vitaliy-guliy commented on #19084
I checked today how it works with operator and didn't get any problems.

From the other side, if the variable is not set, everything should be working just because the URL for the replacement is formed from `SERVICE_HOST` and `SERVICE_PORT`.

https://github.com/eclipse-che/che-devfile-registry/blob/main/build/dockerfiles/entrypoint.sh#L151

Could anyone check this issue again to be sure, that it's

[2021-06-18 13:43] dmytro-ndp commented on #19887
The issue has been reproduced in Eclipse Che nightly tests [1], and is constantly reproducing in Eclipse Che PR check today  [2].

[1] https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/197/console
[2] https://github.com/eclipse/che/pull/20002#issuecomment-864022501

[2021-06-18 14:03] l0rd commented on #17253
This should be fixed with devworkspace as workspace engine. I beleive that's a check that dashbord should do. Changing the area label accordingly and setting devworkspace STEP 3 as milestone. cc @sleshchenko

[2021-06-18 14:54] ibuziuk opened #20005 "[chectl] Add workspace specific "RELATED_IMAGE" to the operator.yaml to make it consistent with csv"
### Is your enhancement related to a problem? Please describe.
Currently `RELATED_IMAGES_*` vary across installation methods:

- OperatorHub / chectl `installer --olm` contain extended list of RELATED_IMAGES, including workspace specific - https://github.com/operator-framework/community-operators/blob/b560ec81cd4e586e9cb05c3674426da4971ba3b3/community-operators/eclipse-che/7.32.0/eclipse-che.v7.32

[2021-06-18 15:00] tolusha commented on #20005
We are talking here only about stable version of che-operator.
The next/nightly one won't contain `RELATED_IMAGES_*`  anyway

[2021-06-18 15:10] ibuziuk commented on #20005
yeah, I believe stable version is fine

[2021-06-18 15:12] sleshchenko opened #20006 "Theia is loading silently when internet connection is pure"
### Describe the bug
When internet connection is pure, Theia is loading silently:
![Screenshot_20210618_180943](https://user-images.githubusercontent.com/5887312/122582263-a0507f80-d060-11eb-8873-25e4a3c4cf95.png)

Maybe Theia could have a light index.html that displays loader and only then starts loading huge resources.

[2021-06-18 15:15] nickboldt commented on #19762
Note that the EOL notice has been removed and the new ubi8 go-toolset image will be supported.

So we can do this now:

[code]

and then where possible, use the ubi8-micro image for the runtime:

[code]

[2021-06-18 15:29] benoitf commented on #20006
hello, I'm not sure I understand the type of internet connection ?

[2021-06-18 15:32] vitaliy-guliy commented on #19959
Tried to reproduce, but haven't found any issues.

![Screenshot from 2021-06-18 18-29-52](https://user-images.githubusercontent.com/1655894/122584588-35547800-d063-11eb-8916-a7a848b8071a.png)

Che-Theia latest commit https://github.com/eclipse-che/che-theia/commit/661a6b8
I'm closing this issue as not relevant anymore (to be fair I haven't seen this problem before).

[2021-06-18 15:38] vitaliy-guliy commented on #19955
Tried to reproduce, but haven't found any issues.

![Screenshot from 2021-06-18 18-29-52](https://user-images.githubusercontent.com/1655894/122584588-35547800-d063-11eb-8916-a7a848b8071a.png)

Che-Theia latest commit https://github.com/eclipse-che/che-theia/commit/661a6b8
I'm closing this issue as not relevant anymore (to be fair I haven't seen this problem before).

[2021-06-18 15:41] vitaliy-guliy commented on #19955
Will check it on the dogfooding instance

[2021-06-18 15:55] RomanNikitenko commented on #19955
I am able to reproduce on the dogfooding instance using fresh assembly

![invalid_reg](https://user-images.githubusercontent.com/5676062/122587650-c11bd380-d066-11eb-97d3-c59a24f142dd.gif)

[2021-06-18 16:52] azatsarynnyy opened #20007 "Provide Android Studio as a Che Editor on DevSandbox"
During one of the Che Community calls, we've seen an interesting PoC of the hosted Android backend.
https://github.com/eclipse/che/wiki/Che-Dev-Meetings#31-may-2021

We need to check if there's an interest among the community in the Android backend in the cloud.

#### Sub-tasks:
- [ ] prepare an image with the Android Studio as a Che Editor and all the required toolings included https://github.com

[2021-06-18 16:55] benoitf commented on #19955
I think it might be related to 'single-host' strategy that is now by default with devworkspaces

[2021-06-18 16:55] azatsarynnyy commented on #20007
cc @gorkem

[2021-06-18 17:36] ericwill commented on #18571
AFAIK we still face issues with yarn v2 on s390x, so we are not doing this.

[2021-06-18 17:43] ericwill commented on #18550
Not sure why this one got reopened, we have a prettier plugin in the registry now?

[2021-06-18 17:49] ericwill commented on #19140
Fixed by eclipse-che/che-devfile-registry#420

[2021-06-18 17:49] #19140 closed

[2021-06-18 17:58] ericwill commented on #19140
We may need to fix this in CRW as well - @vitaliy-guliy can you please check

[2021-06-18 17:58] #20000 closed

[2021-06-18 18:02] benoitf commented on #18550
fixed by https://github.com/eclipse-che/che-plugin-registry/pull/747

[2021-06-18 18:02] #18550 closed

[2021-06-18 18:04] benoitf commented on #18550
@ericwill just wanted to append reason

[2021-06-18 19:37] ericwill commented on #19989
Can you please share your devfile that you are using?

[2021-06-18 19:39] ericwill commented on #19937
Can you please share the devfile that you are using?

[2021-06-18 20:00] ericwill commented on #19955
Also reproducible on devsandbox

[2021-06-18 20:04] ericwill commented on #16047
Devfile registry is also done.

[2021-06-19 12:15] andr-azeez commented on #19989
[code]

[2021-06-19 13:07] andr-azeez commented on #19989
I see know sample stacks are working properly, but mysql is not storing the data in pvc. ie when I restart the workspace all the created database is no more available.

[2021-06-19 14:06] nickboldt commented on #19762
Still to do:

- [ ]  1.13 configbump/build/dockerfiles/rhel.Dockerfile
- [ ]  1.14 che-plugin-broker/build/artifacts/rhel.Dockerfile
- [ ]  1.14 che-plugin-broker/build/metadata/rhel.Dockerfile
- [ ]  1.13 devworkspace-che-operator/build/dockerfiles/Dockerfile
- [ ]  1.14 kubernetes-image-puller/docker/Dockerfile
- [ ]  1.13 kubernetes-image-puller-operator/build/Dockerfile

[2021-06-19 14:25] nickboldt commented on #18831
Done:

- [x] che-devfile-registry - https://github.com/eclipse-che/che-devfile-registry/pull/401

Projects to enable w/ updateBaseImages script via GH action:

- [ ] [eclipse-che/che-machine-exec](https://github.com/eclipse-che/che-machine-exec/blob/main/.github/dependabot.yml)
- [ ] [eclipse-che/che-dashboard](https://github.com/eclipse-che/che-dashboard/blob/main/.github/dependabot.yml)
- [ ] [d

[2021-06-19 14:26] nickboldt commented on #19291
Slip to 7.33; remaining TODOs:

- [ ] operator
- [ ] DWCO
- [ ] image puller

[2021-06-20 06:37] azatsarynnyy commented on #19968
Done for Che-Theia https://github.com/eclipse/che/issues/20000

[2021-06-20 08:53] dmytro-ndp commented on #19986
@nickboldt it had to be fixed in Happy path test pipeline stored in CRW Jenkins repo: https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/commit/008da9405e836bf4943fb3971b174d298010f173#4d398de5f312979bf5aa592f65783f04a57fae5b_179_176

Sorry for misleading description of issue.

[2021-06-20 08:53] #19986 closed

[2021-06-21 06:39] zWingz commented on #19866
it throw error in tag `7.31.2` and `7.32.0` when i run `yarn`, how to fixed it ?

[2021-06-21 06:53] zWingz opened #20008 "throw error when run yarn in eclipse-che-theia-plugin-ext"
### Describe the bug

![image](https://user-images.githubusercontent.com/13031838/122718714-d92a6780-d29f-11eb-9efa-fc15772fc1b5.png)

This seems to have been caused by the '@theia/core@1.14.0-next.bb87e69d' version being specified
and #1142 have been resolved it
but how can i build it in `7.32.0` or `7.31.2`

### Che version
 - [x] other: 7.31.2 and 7.32.0

### Steps to reproduce

- clone repo
-

[2021-06-21 07:11] benoitf commented on #19866
I think some changes need to be backported to 7.32.x branch
probably you could disable tests (run the command by prefixing by SKIP_TEST like `SKIP_TEST=true yarn`)

[2021-06-21 07:19] zWingz commented on #19866
@benoitf i have run `export SKIP_LINT=true SKIP_TEST=true SKIP_FORMAT=true` before run `yarn`, but it throw err in `compile` stage

[2021-06-21 07:24] benoitf commented on #19866
@zWingz I think the docker build is at least working, could you try from root folder

[code]

[2021-06-21 07:32] zWingz commented on #19866
@benoitf thanks.

[2021-06-21 07:33] benoitf commented on #19866
@zWingz I think the release script is not picking-up the sha1 of build.include is set but take the current sha1

you may replace all `1.15.0-next.af9b883d` occurence in package.json by `1.14.0-next.d734315e` for 7.32.x

[2021-06-21 07:40] ibuziuk commented on #20007
There should be a possibility to enable the android studio from CRW in a reliable way. After that we can consider enabling it on workspaces.openshift.com

[2021-06-21 07:59] #20008 closed

[2021-06-21 08:09] zWingz commented on #19866
@benoitf Do i need to replace all `1.14.0-next.bb87e69d` by `1.14.0-next.2eb4319` for `7.31.2` ?

[2021-06-21 08:20] benoitf commented on #19866
@zWingz https://github.com/eclipse-che/che-theia/pull/1151

[2021-06-21 08:22] benoitf commented on #19866
ah for 7.31.2 yes you need to match https://github.com/eclipse-che/che-theia/blob/7.31.x/build.include#L17 (so you're correct)

[2021-06-21 08:22] zWingz commented on #19866
@benoitf thanks very much

[2021-06-21 09:27] pmkovar commented on #19680
@tolusha Do you want to self-assign this one?

[2021-06-21 12:45] Katka92 commented on #18984
This should be fixed now, right @ScrewTSW ?

[2021-06-21 13:46] #19973 closed

[2021-06-21 14:46] ibuziuk commented on #19027
OpenShift 4.9 is going to be based on k8s 1.22 (release date https://www.kubernetes.dev/resources/release/). Currently, workspaces.openshift.com is running against 4.7.16 / k8s v1.20.0+2817867

[2021-06-21 15:14] ibuziuk commented on #19998
@abdelhamidfg could you please clarify how the EclipseChe was installed on the cluster? Is it reproducible against OCP v4?
Please, provide more detailed steps to reproduce, including the installation instructions / env

[2021-06-21 15:18] ibuziuk commented on #19998
@sleshchenko could you please take a look? based on the error message could be UD specific (failed to request product.json)

[2021-06-21 15:20] ibuziuk commented on #19997
@ericwill could you please take a look?

[2021-06-21 16:55] ericwill commented on #19997
@zWingz can you please provide the steps you ran to reproduce this issue?

[2021-06-21 18:25] abdelhamidfg commented on #19998
@ibuziuk  I am using openshift 4.7.8 , installed using Red Hat CodeReady Workspaces operators 2.8.0 .Please let me know if you need access to the environment.

[2021-06-21 20:25] nickboldt commented on #19538
Is this issue complete?

[2021-06-21 20:26] nickboldt commented on #18887
When will this issue be complete?

[2021-06-21 20:26] nickboldt commented on #18668
This issue appears to be done except for

- [ ]  Adapt QE tests

When will that be completed?

[2021-06-22 01:31] zWingz commented on #19997
@eriawan
- `cd tools/automation`
- `node ./lib/check-plugin-updates.js`

![Uploading image.png…]()

[2021-06-22 06:00] sparkoo opened #20009 "[che-auth] chectl should not wait for keycloak in nativeUserMode"
### Is your task related to a problem? Please describe.

When in nativeUserMode enabled, keycloak is not deployed. However, chectl is waiting for it and fails.

[code]

❗ Note to assignee: In time I'm creating this issue, the che-operator PR to deploy in nativeUserMode is open. If it is still the case, you have to use custom che-operator image.

### Describe the solution you'd like

Chectl should

[2021-06-22 07:06] #19945 closed

[2021-06-22 08:23] sleshchenko opened #20010 "Adapt chectl to devfile 2.0"
### Is your enhancement related to a problem? Please describe.

Currently chectl uses Che API to handle workspace commands.
When devfile 2.0 is out then Che API won't work.

### Describe the solution you'd like
We need some workspace client to allow chectl to communicate with it.

### Describe alternatives you've considered
Use k8s API

[2021-06-22 09:14] mmorhun commented on #19977
Solution commits were added into https://github.com/eclipse-che/che-operator/pull/844

[2021-06-22 09:14] #19977 closed

[2021-06-22 09:38] sleshchenko opened #20011 "dashboard devfile is broken"
### Describe the bug
dashboard devfile is broken:
- yarn install does not work:
![Screenshot_20210622_123328](https://user-images.githubusercontent.com/5887312/122901980-beff9080-d356-11eb-84bd-b54d1a8174a1.png)

[2021-06-22 09:41] sleshchenko commented on #16431
Sorry for delaying such a quick change. PRs are created but note that contributing flow will be still broken. It has dedicated issues created

[2021-06-22 09:56] #19883 closed

[2021-06-22 11:14] vitaliy-guliy commented on #19140
yes, will do.

[2021-06-22 13:06] benoitf opened #20013 "quarkus plug-in is not published under the expected ID"
### Describe the bug
Red Hat VSCode quarkus is published under https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus

To have ID matching on recommended plug-ins/extensions.json files, we need a 1:1 match
In Che, it's published under `redhat/quarkus-java11`
We should add an alias like it's done for `redhat/java` to still publish on the expected ID.

### Che version

 - [ ] late

[2021-06-22 13:49] skabashnyuk opened #20014 "[devworkspaces] Not able to start a devworkspace because namespace are not found"
### Is your task related to a problem? Please describe.
 Not able to start a devworkspace because namespace are not found

### Describe the solution you'd like
Steps to reproduce

 1. Deploy che on k8s with devworkspaces
 2. Enable unsupported k8s API on che server.
    kubectl patch checluster/eclipse-che --patch "{\"spec\":{\"server\":{\"customCheProperties\": {\"CHE_INFRA_KUBERNETES_ENABLE__UNS

[2021-06-22 13:57] JPinkney commented on #20014
The devworkspace-client currently only initializes namespaces on OpenShift: https://github.com/che-incubator/devworkspace-client/blob/main/src/browser/che-api.ts#L35, we still need to add support for kubernetes

[2021-06-22 14:26] #19416 closed

[2021-06-22 14:50] sleshchenko commented on #20014
it should be easy fix, adding to the current sprint as unplanned to unblock moving forward in the direction of DevWorkspace support on Kubernetes.

[2021-06-23 06:26] mmorhun commented on #18703
Done

[2021-06-23 06:26] #18703 closed

[2021-06-23 08:52] mkuznyetsov opened #20017 "Release Che 7.32.1"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [x] che-machine-exec, che-theia, che-devfile-registry, che-dashboard, devworkspace-operator, jwtproxy, kubernetes image puller

[2021-06-23 08:58] xbaran4 commented on #19988
This is a verified bug on openshift 4.8. https://bugzilla.redhat.com/show_bug.cgi?id=1972687
Should be fixed by https://github.com/openshift/openshift-apiserver/pull/219 but is not yet know when it will show up in new 4.8 RC (https://github.com/openshift/openshift-apiserver/pull/219#issuecomment-865210211)

[2021-06-23 08:59] #19988 closed

[2021-06-23 09:57] benoitf opened #20018 "Reduce numbers of containers + init containers when starting Theia"
### Is your task related to a problem? Please describe.
When starting Che-Theia, devfile reference two containers: machine-exec and theia container.
Also, there is one init container to copy the endpoint and one init container to download vsix files

### Describe the solution you'd like
Copy machine-exec binary into theia container so we don't need machine-exec container anymore
Merge vsix-downloa

[2021-06-23 10:51] flacatus opened #20019 "Migrate manifests and API clients to use the networking.k8s.io/v1 API version"
### Is your task related to a problem? Please describe.

The extensions/v1beta1 and networking.k8s.io/v1beta1 API versions of Ingress will no longer be served in v1.22.

Currently `extensions/v1beta1` is used:
1. che-operator: https://github.com/eclipse-che/che-operator/blob/main/pkg/deploy/ingress.go#L64
2. helmcharts: https://github.com/eclipse-che/che-server/blob/main/deploy/kubernetes/helm/che

[2021-06-23 11:15] ScrewTSW opened #20020 "Error highlighting fails to find the correct Y coordinate for the line"
### Describe the bug
Incorrect parsing logic causes a test failure since 7.30.x
![Screenshot_20210623_122002](https://user-images.githubusercontent.com/16451875/123087485-e6249380-d424-11eb-8d61-6468ab0313e1.png)

### Che version

 - [x] latest
 - [x] nightly
 - [x] other: 7.30.x and above

### Steps to reproduce
Run `npm run test-java-vertx` or any other devfile which checks error highlighting

#

[2021-06-23 11:18] MichalMaler opened #20021 "Typo and unnecesary procedure step in the Image Puller section"
### Describe the bug
Typo and unnecessary procedure step in the Image Puller section
https://issues.redhat.com/browse/RHDEVDOCS-3112

### Che version
Che 7.30.x

### Fix with:
https://github.com/eclipse/che-docs/pull/2039
https://github.com/eclipse/che-docs/pull/2038

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of

[2021-06-23 12:01] Yukesh4791 commented on #19921
@tolusha , Sorry for the delayed response. I checked in release 7.32.0 and the issue is fixed. Now the host is properly updated in the ingress. Thanks for the quick fix!

[2021-06-23 12:13] ScrewTSW commented on #20020
done.

[2021-06-23 12:13] #20020 closed

[2021-06-23 12:27] nickboldt commented on #19970
Note that the EOL notice has been removed from the go-toolset images in RHEC, and the new ubi8 go-toolset image will be supported.

So we can do this now:

[code]

and then where possible, use the ubi8-micro image for the runtime:

[code]

[2021-06-23 12:40] nickboldt commented on #19968
Are you offering to handle that one? should be 1 comment in BZ, then followup PR to update devfiles to use main branch... right?

[2021-06-23 12:43] benoitf commented on #19968
che-samples is own by eclipse che guys (so don't need to ping on BZ)

[2021-06-23 14:01] ScrewTSW opened #20022 "Termina.waitIconSuccess should add webdriver.wait to avoid constant spam"
### Describe the bug
Currently, the way Terminal.waitIconSuccess is implemented causes the logs to be spammed every time the driverHelper.waitAndGetElementAttribute returns a value (which is almost instant)

We should introduce an artificial wait for TestConstants.TS_SELENIUM_DEFAULT_POLLING
before we return false in case the condition was not met yet

https://github.com/eclipse/che/blob/main/test

[2021-06-23 15:53] #19955 closed

[2021-06-23 15:53] vitaliy-guliy commented on #19955
Should be working now.

[2021-06-23 18:30] tolusha commented on #19921
Cool. Thank you for your feedback.

[2021-06-23 19:08] ericwill commented on #19968
Yes we can handle the che-samples (and I guess crw-samples as well) cases

[2021-06-23 20:13] cccs-eric commented on #19236
I also ran into this issue while testing my [GitHub integration with OAuth](https://github.com/eclipse-che/che-server/pull/28).  Once my PR gets merged, we might see more and more occurrences of this problem since a lot of people are using GitHub.  So this doesn't only apply to BitBucket, but also to GitHub eventually.

[2021-06-24 05:39] Panneerselvam-D commented on #17475
https://github.com/eclipse-che/che-dashboard/pull/283
PR raised

[2021-06-24 06:19] flacatus commented on #19988
@xbaran4 @skabashnyuk Thank you very much for your verifications...
I saw the fix is already present in OCP new nightly build and was tested against Eclipse 7.32.1 successfully.

New Openshift 4.8 install in AWS: https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/eclipse-che_che-operator/873/pull-ci-eclipse-che-che-operator-7-v8-che-operator-update/1407664883419320

[2021-06-24 10:15] sleshchenko opened #20023 "Implement an ability to debug devworkspace startup"
### Is your enhancement related to a problem? Please describe.
https://github.com/devfile/devworkspace-operator/pull/425 implement an ability to debug devworkspace startup. This issue is about exposing this ability on the dashboard.

[code]

[2021-06-24 11:14] #16431 closed

[2021-06-24 12:06] #19890 closed

[2021-06-24 12:07] #19698 closed

[2021-06-24 13:10] nickboldt commented on #19968
Done:
* https://github.com/eclipse/che-release/tree/master - https://bugs.eclipse.org/bugs/show_bug.cgi?id=572863#c10
*  https://github.com/eclipse/che-jwtproxy/tree/master - https://bugs.eclipse.org/bugs/show_bug.cgi?id=572863#c9

TODO:
- [ ] https://github.com/che-incubator/configbump/tree/master - need to find a code owner who can do this
- [ ]  https://github.com/eclipse/che-docs (also should

[2021-06-24 13:15] ibuziuk opened #20024 "Remove 'nightly' / 'master' ci-centos CI for kubernetes-image-puller"
### Is your task related to a problem? Please describe.
Remove 'nightly' / 'master' ci-centos CI for kubernetes-image-puller.
Obsolete CI jobs are going to be replaced by 'next' https://github.com/che-incubator/kubernetes-image-puller/pull/52

- [x] Remove nightly CI
- [x] Remove master CI
- [x] Remove master branch

### Additional context
Related to https://github.com/eclipse/che/issues/19291

[2021-06-24 13:20] nickboldt commented on #19291
Remaining TODOs:

- [ ]  operator - eclipse-che/che-operator#863
- [ ] KIP - https://github.com/eclipse/che/issues/20024
- [ ] remove nightlies from all other projects (only :next should remain)

[2021-06-24 13:25] sleshchenko commented on #19922
now the reason is more clear
![Screenshot_20210624_162536](https://user-images.githubusercontent.com/5887312/123270706-d41c2100-d508-11eb-9ac9-0e1542ae7887.png)

[2021-06-24 13:47] amoldeshpande05 commented on #19856
Thanks, @vitaliy-guliy This is working as expected.

[2021-06-24 14:21] nickboldt commented on #19736
Due to upcoming infra changes reported in https://projects.engineering.redhat.com/browse/CLOUDBLD-6237 we need to escalate this to highest priority for the next CRW release. I've set P1 because there's no P0, but if you want to move it to blocker, I'm +1 on that.

[2021-06-24 14:43] manojsaxenatda opened #20025 "Enable K8 Ingress to support websockets"
### Describe the bug
The Che UI doesn't open.  Che-theia interface doesn't open for workspaces.

### Che version
7.31.2

### Steps to reproduce

Deploy che using helm charts from https://github.com/eclipse-che/che-server.git with the following changes to values.yaml file
cheImage: quay.io/eclipse/che-server:7.31.2
singleHostExposure: native

### Expected behavior
UI should come up in a browser and

[2021-06-24 15:14] SockenSalat commented on #16439
I was trying to evaluate if che could be usefull in our organisation; since, after all that time, it was not possible to start any workspace in any of out kubernetes klusters (centos7, k8s-1.19) I assume that this setup on premise is not supported and stopping my evaluation efforts.

This issue may be closed therefore.

[2021-06-24 15:14] #16439 closed

[2021-06-24 15:18] infra-push-doc commented on #16439
Ditto, I just can't get it to work, same issue, not sure what to try next was kinda hoping this thread would go somewhere, oh well :)

[2021-06-24 16:50] nickboldt commented on #19762
https://github.com/eclipse/che/issues/19762#

backports for golang updates - DONE:

- [x] configbump - main - 1.15
- [x] dwo - 0.6.x - 1.15
- [x] dwco - 7.32.x - 1.15
- [x] image puller - 7.32.x - 1.15
- [x] image puller operator - master - 1.15 (not used downstream)
- [x] jwtproxy - 7.32.x - 1.15
- [x] machineexc - 7.32.x - 1.15
- [x] operator - 7.32.x - 1.15
- [x] pluginbrokers - v3.4.x - 1.15

[2021-06-24 17:23] nickboldt commented on #19762
Seems brew reallllly doesn't want to let us install the golang module rpm, so we have to switch to the go-toolset base image:

- [ ] https://github.com/eclipse-che/che-machine-exec/pull/169 (for main branch, already merged in 7.32.x)
- [ ] https://github.com/eclipse-che/che-operator/pull/876  (for main branch, already merged in 7.32.x)

[2021-06-24 18:48] nickboldt opened #20026 "license checker failing Che 7.32.2 build due to "missing header""
While building Che 7.32.2 as part of CRW 2.10, I get a build failure due to that super annoying license checker:

[code]
--- https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/CRW_CI/job/sync-to-downstream_2.x/258/console

But looks like those files haven't changed in 3 years... so, why is the license checker complaining that these files have a 2018 copyight date on them? and "Missin

[2021-06-24 18:52] nickboldt opened #20027 "sortpom plugin has moved; please update plugin reference in Che server builds"
### Is your task related to a problem? Please describe.

[code]
--- https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/CRW_CI/job/sync-to-downstream_2.x/258/console

### Describe the solution you'd like

See instructions above. Update parent pom & release new version. Then use that in latest Che 7.33.x builds.

### Describe alternatives you've considered

Wait until this breaks. :)

[2021-06-24 19:22] nickboldt opened #20028 "Che operator redistributes restic, but does not include 2-Clause BSD license"
The Che operator build now depends on a 3rd party binary called restic.

https://github.com/eclipse-che/che-operator/blob/main/Dockerfile#L19-L20

this code is under the BSD 2 / FreeBSD license, https://github.com/restic/restic/, which means we have to include the license next to the binary if we redistribute it.

[code]
 -- https://opensource.org/licenses/BSD-2-Clause

Seems you're just redistrib

[2021-06-24 20:11] ericwill commented on #19997
This isn't meant to be run by users, it's for generating a nightly report about the update status of plugins in the plugin registry. Are you trying to run the build script instead?

[2021-06-24 20:35] eriawan commented on #19997
@zWingz

Just a humble reminder, could you update your comment so the next conversation will not quote my name? I think you mean ericwill, not me.

Cheers! 🙂

[2021-06-24 20:41] benoitf commented on #19997
I've updated the comments thx for the notice

[2021-06-24 21:32] nickboldt commented on #20026
weirdly I can't reproduce this locally. so must be a jenkins node that's misbehaving :(

[2021-06-25 01:45] zWingz commented on #19997
yes, i know it is to generate a report about the update status of plugins. but it seem not work. Should I run it in another way ?

[2021-06-25 06:04] sleshchenko commented on #19953
@sunix Why? Che Cluster is run on a particular architecture, we even should not display devfiles that are not supported on the current architecture.

[2021-06-25 06:41] themr0c opened #20029 "fix invalid certificate for https://che.eclipseprojects.io"
This invalid certificate is causing failur on blocking cheks on all che-docs pull requests.

Get "https://che.eclipseprojects.io": x509: certificate is valid for www.github.com, *.github.com, github.com, *.github.io, github.io, *.githubusercontent.com, githubusercontent.com, not che.eclipseprojects.io

[2021-06-25 06:50] benoitf commented on #20029
related to https://bugs.eclipse.org/bugs/show_bug.cgi?id=574381

[2021-06-25 07:20] themr0c commented on #20029
https://che.eclipseprojects.io/ responding correctly now. Thanks!

[2021-06-25 07:20] #20029 closed

[2021-06-25 07:23] skabashnyuk commented on #19704
What is left before we can close this issue?

[2021-06-25 07:56] MichalMaler commented on #20021
Donce, closing

[2021-06-25 07:56] #20021 closed

[2021-06-25 08:38] skabashnyuk commented on #19944
1. Cluster roles has to be add for che-operator SA  in che-operator/deploy/cluster_role.yaml

[code]

After that we can deploy che on minikube

[code]
After that I got this error

[code]
To fix it I've manually add to CheManager CR

[code]
<img width="510" alt="Знімок екрана 2021-06-25 о 11 33 24" src="https://user-images.githubusercontent.com/1614429/123395712-3167af00-d5a9-11eb-8859-c31a37ea3fc5

[2021-06-25 08:40] skabashnyuk commented on #19944
Things todo:
- deal with roles
- Setup workspaceBaseDomain. https://github.com/che-incubator/devworkspace-che-operator/blob/ae29f7cc2e2b475fe7fc139989a36b63152ad743/pkg/manager/chemanager_controller.go#L176-L192
-  deal with tls

[2021-06-25 08:43] #19856 closed

[2021-06-25 08:43] tolusha commented on #20025
possible duplicates https://github.com/eclipse/che/issues/19434

[2021-06-25 08:47] #19514 closed

[2021-06-25 08:47] #19751 closed

[2021-06-25 09:04] mshaposhnik opened #20031 "Finalize integration of GitHub private repositories support"
### Is your task related to a problem? Please describe.
A GitHub private repositories support was contributed to us by CCCS  (https://github.com/eclipse-che/che-server/pull/28).

But there is still couple of leftovers which need to be finished to complete feature:

 - Documentation;
 - Support for SCM files retriever;
 - Beter error handling when OAuth is misconfigured/not configured ( see eclipse

[2021-06-25 10:12] #19922 closed

[2021-06-25 10:46] flacatus opened #20032 "Improve che operator tests in openshift ci to cover image puller"
### Is your task related to a problem? Please describe.

Currently Image puller is not covered for any tests in che operator side.
### Describe the solution you'd like

Improve our current tests in che operator to cover image puller deployment with che operator.

### Describe alternatives you've considered

N/A
### Additional context

N/A

[2021-06-25 10:54] sleshchenko commented on #20025
I had a draft but it should be reworked in a proper generic way, where an administrator is able to use serviceName as placeholder https://github.com/eclipse-che/che-server/compare/main...sleshchenko:nginx_websocket?expand=1
I'll try to finalize it soon, but contribution is welcome.
@manojsaxenatda let me know if you want to contribute but need assistance.

[2021-06-25 12:49] sparkoo commented on #19704
I think nothing. We have dedicated CRW issue for productization. So I'm closing this one.

[2021-06-25 12:49] #19704 closed

[2021-06-25 14:56] manojsaxenatda commented on #20025
Hi Serhii Leshchenko,

I was looking around in the same area in code.

I was hoping to specify a config item in config map, say, CHE_INFRA_KUBERNETES_INGRESS_ANNOTATIONS_ENABLE_K8_NGINX_WEBSOCKETS_SERVICE_NAME="nginx.org/websocket-services"

Right where you pointed out in the code, if the above is set, it will add the service name value and append to annotation map.

My everyday work environment i

[2021-06-25 14:59] #19762 closed

[2021-06-25 17:08] manojsaxenatda commented on #20025
The issue you mentioned is for che-host.  The issue I am describing is for workspaces.  So they are different issues

[2021-06-26 21:49] gmawdo commented on #19998
i too get this precise issue and get it in two very different environments:
1. simply create an online redhat account and run che in a sandbox in their codeready enviroment: https://oauth-openshift.apps.sandbox-m2.ll9k.p1.openshiftapps.com/oauth/authorize?scope=user etc......on the page choose dev sand box option
2. create kubernetes cluster at DigitalOcean, install ingress from their market place

[2021-06-28 02:52] KubeLouis opened #20033 "why so many services in a single workspace"
When creating a single workspace, I can see that a pod is created with so many containers and different ports.
I know why so many containers and ports are created but how about services?
v can see that in a maven proj, 3 services are created
![image](https://user-images.githubusercontent.com/67357731/123572049-09bd5480-d7fe-11eb-8297-6362e9c64f64.png)
3 services mean 3 IPs! it cost much more when

[2021-06-28 08:02] benoitf opened #20034 "Che devfile registry build should fetch samples from devfile.io"
### Is your task related to a problem? Please describe.

There is are 2 community devfile registries:
- Community CI https://registry.stage.devfile.io/viewer (updated at every commit)
- Community stable https://registry.devfile.io (updated every wed)
- Product CI https://devfile-registry.stage.redhat.com/
- Product stable https://devfile-registry.redhat.com/

Che should get the list of samples fro

[2021-06-28 09:05] #19975 closed

[2021-06-28 09:06] sympatheticmoose commented on #19975
@skabashnyuk assume we can close this issue?

[2021-06-28 09:54] gmawdo commented on #19696
I experiencing exactly the same issue with 7.32.1 - my 'client' is saari on ipad.....I also tried firefox on the ipad with exactly the same error as reported by simjnd

[2021-06-28 10:54] cccs-eric commented on #19966
PR merged, closing issue.

[2021-06-28 10:54] #19966 closed

[2021-06-28 12:15] #19265 closed

[2021-06-28 15:35] nickboldt opened #20035 "Switch operator PR generation to use new target repos/paths"
### Is your task related to a problem? Please describe.

See https://github.com/operator-framework/community-operators/issues/4159

### Describe the solution you'd like

After July 12, in time for the Che release on Jul 14, Che 7.33.1 will need to be released using the updated GH repos/paths for the community operator PRs.

Documentation and GH actions will need to be changed for that release and

[2021-06-28 16:55] benoitf commented on #19975
@cccs-tom you may add in PR the prefix `fix #issuenumber` or `fixes`
on bugs then the referenced issue is automatically closed when merged.

Core team usually also provide another PR to che-docs repository about new features

[2021-06-28 19:45] ericwill commented on #19997
Seems you are correct, it is a bug. Thanks for the report, we'll take a look.

[2021-06-28 22:05] gautam-borkar opened #20036 "Environment variable for che-plugins"
I am trying to create a plugin that will load a didact file. However didact file keeps changing based on project being loaded. So I am thinking of passing filename to plugin via the devfile as an environment variable.

My devfile looks like this :-
[code]

However in plugin, environment variable is `undefined`.

[2021-06-29 07:46] rhopp opened #20037 "Please allow different name than ca.crt when Deploying Che with support for Git repositories with self-signed certificates."
### Describe the bug
When trying to configure Che to work properly with on-prem gitlab instance (with support of factories etc.) and the gitlab instance has self signed certificate, user gets to the point, where he needs to add the self signed certificate into two configmaps. This alone is not ideal, but to make it worse, the certificate filename (and thus the configmap key) *needs to be named* `c

[2021-06-29 08:00] tsmaeder commented on #19952
For starters, vs code now uses "jd-debug" for javascript debugging: https://github.com/microsoft/vscode-js-debug. To quote, "It has been the default JavaScript debugger in Visual Studio Code since 1.46".
We're still using node-debug and node-debug2 in Che.

[2021-06-29 08:06] #19949 closed

[2021-06-29 08:35] tsmaeder commented on #19952
Also, Theia is a bit behind on the Debugger API, in particular, it does not group debug sessions in a parent hierarchy.

[2021-06-29 09:20] MichalMaler commented on #19473
https://issues.redhat.com/browse/CRW-1963

[2021-06-29 09:22] zWingz opened #20038 "foreach_yarn script to install dependencies conflict to root node_modules"
### Describe the bug

step to create local che-theia server

-`che-theia init -c ../che-theia/che-theia-init-sources.yml`
- `yarn` ( will install dependencies in theia/node_moduels for extensions but not plugins )
![image](https://user-images.githubusercontent.com/13031838/123772259-4b352900-d8fe-11eb-9c52-1a1fec6dd27c.png)

- set all workspace env to connect to remote che-server
- `cd example/ass

[2021-06-29 09:34] tsmaeder commented on #19952
I filed https://github.com/eclipse-theia/theia/issues/9664, we're also quite behind on the DAP implementation: https://github.com/eclipse-theia/theia/issues/8136

[2021-06-29 09:41] MichalMaler commented on #18703
https://issues.redhat.com/browse/CRW-1965

[2021-06-29 11:05] tolusha commented on #20037
I think the easiest way to fix the issue is to update the doc https://www.eclipse.org/che/docs/che-7/installation-guide/deploying-che-with-support-for-git-repositories-with-self-signed-certificates/

[code]

and remove requirements

`the certificate file must be named ca.crt.`

[2021-06-29 14:33] sleshchenko commented on #19633
Interesting to share similar case: the way how OpenShift Console allows to configure custom sources for helm charts: https://docs.openshift.com/container-platform/4.7/cli_reference/helm_cli/configuring-custom-helm-chart-repositories.html

[code]

[2021-06-29 15:05] azatsarynnyy opened #20040 "Editors Sprint 204"
July 7 - July 27

---
#### Projector-based IDEA Che editor
- [ ] Support IntelliJ as optional editor in CRW [CRW-1358](https://issues.redhat.com/browse/CRW-1358)

#### Multi-root workspaces as a default project layout in Che-Theia
- https://github.com/eclipse/che/issues/19594
- https://github.com/eclipse/che/issues/18866
   - https://github.com/eclipse-theia/theia/issues/8987
   - https://github.c

[2021-06-29 15:24] RomanNikitenko commented on #20036
@gautam-borkar

Hello!
I tried something similar and can see the variable using a terminal for the corresponding container.
So - I provided a variable for `typescript` plugin and then checked that the variable existed for the `typescript` container.
Please see a short video.
Could you clarify the way how you checked the variable.
thanks!

https://user-images.githubusercontent.com/5676062/123825063

[2021-06-29 17:53] nickboldt commented on #18703
Note that the CRW issue above is for 2.11 as this issue is resolved for milestone 7.33.

[2021-06-29 18:21] ericwill commented on #19736
Given that the downstream registries are a fork or upstream, do we need this logic in upstream?

[2021-06-29 19:13] nickboldt commented on #19762
FYI, using the ubi8-micro doesn't work in brew for two reasons:

a) the internally available container name is ubi8/ubi-micro, so need to use that if we want to find the base image
b) some internal process needs to run /bin/rpm on the built container, which fails as ubi8-micro has no package manager installed.

[2021-06-29 19:34] nickboldt opened #20041 "git init -b flag not supported in che-theia generator/tests/init-sources/init-sources.spec.ts"
### Describe the bug

When building che-theia (theia-dev image) for CRW 2.10, I'm seeing dozens of this error:

[code]
-- https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/CRW_CI/job/sync-to-downstream_2.x/315/consoleFull

I suspect it's caused by bad code in `che-theia/generator/tests/init-sources/init-sources.spec.ts`, line 78:

[code]

If I run that locally with git 2.25.4 and hu

[2021-06-29 19:37] nickboldt commented on #20041
because of the above issue, I then get:

[code]

And because of that, I think the `asset-eclipse-che-theia-generator.tgz` tarball is never created, so we can't build theia-dev in brew, which prevents building theia and theia-endpoint images too.

[2021-06-29 20:46] nickboldt commented on #20041
running the [collect assets script](https://github.com/redhat-developer/codeready-workspaces-images/blob/crw-2-rhel-8/codeready-workspaces-theia-dev/build/scripts/collect-assets.sh) locally ...  I get this:
[code]

[2021-06-29 21:03] benoitf commented on #20041
Backport https://github.com/eclipse-che/che-theia/pull/1150

[2021-06-29 21:11] nickboldt commented on #20041
cherrypicked to 7.32.x as 05dbdbb9

[2021-06-29 21:23] gautam-borkar opened #20042 "workbench.action.splitEditorLeft is not working when an editor is in the preview mode"
I am trying to run command `workbench.action.splitEditorLeft`. However, it seems that the command is not working.

I am running eclipse-che on chrome browser in Mac.

[2021-06-29 21:24] nickboldt commented on #20041
Re-building in https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/CRW_CI/job/sync-to-downstream_2.x/338/

[2021-06-29 21:44] gautam-borkar opened #20043 "Hosted instance has been terminated"
### Describe the bug
I am writing a plugin for che-theia and want to launch an instance of a plugin under development. I run the command `Hosted Plugin: Start Instance`.

However I see the below error message :-
[code]

### Che version
 - [ ] latest
 - [ ] nightly
 - [x] other: please specify : 7.32.0

### Steps to reproduce
1.  Create workspace with git :- https://github.com/eclipse/che-theia-sam

[2021-06-29 22:04] gautam-borkar commented on #20036
@RomanNikitenko Thanks for the response!

Yes. I can see the environment variable in typescript container. But when plugin is initialised, it does not get the variable.
In this file :- https://github.com/gautam-borkar/didact-plugin/blob/616233ed24f8cd536391d503b6e0d706be7b6c98/src/extension.ts#L8

[2021-06-29 22:07] philipreimer commented on #14563
/remove-lifecycle stale

[2021-06-30 06:01] RomanNikitenko commented on #20042
@gautam-borkar
Could you provide more details:

1. Are you trying to `run command workbench.action.splitEditorLeft` from a plugin side or an extension side?
2. about:

Does the command work for you when you run the corresponding action manually (not from code)?
`F1` => `View: Split Editor Left`

[2021-06-30 07:32] #20017 closed

[2021-06-30 07:32] mkuznyetsov opened #20044 "Release Che 7.32.2"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [x] che-machine-exec, che-theia, che-devfile-registry, che-dashboard, devworkspace-operator, jwtproxy, kubernetes image puller

[2021-06-30 08:02] benoitf commented on #20043
Hello @gautam-borkar

could you please file the bug using the template provided for bugs https://raw.githubusercontent.com/eclipse/che/main/.github/ISSUE_TEMPLATE/bug_report.md

Because here you're missing lot of useful data.
like che version, how you're launching the command, etc

[2021-06-30 08:13] ibuziuk opened #20045 "Angular getting started devfile start / build commands are failing with exit code 137"
### Describe the bug
Angular getting started devfile start / build commands are failing with exit code 137

### Che version
CRW 2.8 / samples from community devfiles 7.32.0

### Steps to reproduce

1. go to http://workspaces.openshift.com/#get-started 
2. start a new workspace based on the Node.js / Angular devfile
3. run yarn install command
4. run build command
5. ERROR: comand fails with `error

[2021-06-30 08:14] ibuziuk commented on #20045
@ericwill could you please invesigate. Customers have issues with the angular workspace setup

[2021-06-30 09:02] benoitf commented on #20045
it was fixed by https://github.com/eclipse-che/che-devfile-registry/commit/c0ff42a5f7d05a60a383b71c23b24a51a141d3a3#diff-bb232b84fc7eca5f42b22f563f8593d81ad920a090b261a0de315847a081a02e

[2021-06-30 09:05] RomanNikitenko commented on #20036
@gautam-borkar
I see that your code reads the variable before the `activate(context: vscode.ExtensionContext)` function is called.
I'm not sure if it matters - as I don't have details about the mechanism how variables are provided for the corresponding container.

@svor @vitaliy-guliy
could you take a look
any idea here?

[2021-06-30 10:36] ScrewTSW opened #20046 "Upstream devfiles have missing debug configurations during test runs"
Related https://github.com/eclipse/che/issues/19880 #19887

### Describe the bug

There are missing debug configurations (not being loaded at all) in workspaces, until you refresh the page, then they appear.
Example of this is happy-path test runs, they fail at debugging steps:

https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/pr-check/job/che-tests-pr-

[2021-06-30 11:01] ibuziuk commented on #20045
@benoitf thanks
@ericwill can we have it backported in the `7.32.1` and update the workspaces.openshift.com asap?

[2021-06-30 11:08] dmytro-ndp commented on #20046
The issue could probably duplicate https://github.com/eclipse/che/issues/18034

[2021-06-30 11:34] vitaliy-guliy commented on #19084
I'm closing this issue as not relevant anymore.
Feel free to reopen it.

[2021-06-30 11:34] #19084 closed

[2021-06-30 11:51] nickboldt commented on #20041
Fixed - https://quay.io/repository/crw/theia-dev-rhel8?tag=latest&tab=tags now has a 2.10-1 build

[2021-06-30 11:51] #20041 closed

[2021-06-30 11:59] ericwill commented on #20045
Sure we can backport. Which version of the community devfile registry is deployed on workspaces.openshift.com at the moment?

[2021-06-30 12:36] vitaliy-guliy commented on #20036
@gautam-borkar
The variable must be set to the container before the plugin startup. Could you please share your plugin meta.yaml?

There is a known issue, that you can apply the variable only if your plugin is running in separate container ( as @RomanNikitenko demonstrated on his video ).
If your plugin is running within che-theia, such injections of the variables does not work.
But you can try to

[2021-06-30 12:39] gautam-borkar commented on #20042
@RomanNikitenko

We need to run this command from within the extension.

I don't see split option when I press `F1` or `Ctrl+Shift+P`.

[2021-06-30 12:44] nickboldt commented on #19329
We should! But I missed your comment here because firehose of GH emails :)

I've opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=574569 to move che-release as @mkuznyetsov realized today that he's being throttled there too.

[2021-06-30 12:50] gautam-borkar commented on #20036
This is how my `meta.yaml` looks like :-
[code]

[2021-06-30 12:54] vitaliy-guliy commented on #20036
Your plugin is running in the same container as che-theia.
Please try the workaround

[2021-06-30 13:12] gautam-borkar commented on #20036
@vitaliy-guliy the workaround you suggested in https://github.com/eclipse/che/issues/20036#issuecomment-871378806 worked perfect.

Thank you for your help!

[2021-06-30 13:30] ScrewTSW commented on #20022
PR merged, done.

[2021-06-30 13:30] #20022 closed

[2021-06-30 13:58] ibuziuk commented on #20045
7.32.0

[2021-06-30 14:30] tsmaeder opened #20052 "Dogfooding instance fails to start workspace"
### Describe the bug
The dogfooding instance fails to start the following devfile with a timeout:

<details>

[code]

</details>

### Che version

 - [ ] dogfooding instance at https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/

### Steps to reproduce

Make the new workspace with the devfile above.

### Expected behavior
The workspace should run.

### Runtime
   - [ ] kubernetes (inclu

[2021-06-30 14:32] gautam-borkar commented on #20043
@benoitf I have updated the description per the `md` file.

[2021-06-30 14:34] RomanNikitenko commented on #20042
You are right...
I checked as well:
- the command is available for running for the vanilla theia
- but it doesn't for the che-theia assembly

So, something wrong on the che-theia side, thank you for reporting the issue!

[2021-06-30 14:34] benoitf commented on #20043
@gautam-borkar thanks

[2021-06-30 14:49] vitaliy-guliy commented on #20036
But it needs to be improved.
Setting the environment variable (as a configuration for the plugin) to one component for using it in another component looks a bit confusing.

[2021-06-30 14:53] ericwill commented on #20045
Looks like version 7.32.2 of the devfile registry is already out. Can it wait until 7.33 (next week)?

[2021-06-30 15:09] nickboldt commented on #19329
bug resolved. PR merged https://github.com/eclipse-che/che-release/pull/38

[2021-06-30 15:09] #19329 closed

[2021-06-30 15:30] benoitf commented on #20052
![Screenshot 2021-06-30 at 17 28 43](https://user-images.githubusercontent.com/436777/123988907-b1867e00-d9c8-11eb-910f-e6100b5aa216.png)

anyway I tried your devfile and it's starting. But you're referring to master branch that has been renamed to main (leading an error when opening the IDE)

[2021-06-30 15:48] nickboldt opened #20053 "add configbump branch creation to che release process"
### Is your task related to a problem? Please describe.

Along with JWTProxy and KIP projects, which don't release regularly but which need to be branched so that we can avoid getting main branch changes mixed in to the stable CRW builds, configbump should have branches too.

[code]

### Describe the solution you'd like

Add a new invokeAction call for che-incubator/configbump to create a branch f

[2021-06-30 15:50] ScrewTSW commented on #20046
@dmytro-ndp it is related, but this is not a test failure, this is a product/devfile failure

[2021-06-30 16:08] ibuziuk commented on #20045
@ericwill well, it can but this means that the angular on http://workspaces.openshift.com/#get-started is going to be broken for 7+ days

[2021-06-30 16:13] ericwill commented on #20045
Alright, instead of respinning I will backport the fix to the published devfile registry only

[2021-06-30 16:31] benoitf opened #20054 "Use github forms for issue templates"
### Is your enhancement related to a problem? Please describe.
We're using issue templates to pre-fill some information
But there are some problems:
- some text is in markdown comment to not be displayed in the rendering
- choices are used by using checkboxes but then it's transformed into tasks and then we have issues with remaining tasks

### Describe the solution you'd like
Github is now having

[2021-06-30 16:35] #16134 closed

[2021-06-30 16:35] #17792 closed

[2021-06-30 16:35] #18191 closed

[2021-06-30 16:35] #18466 closed

[2021-06-30 16:35] #18597 closed

[2021-06-30 16:35] #18616 closed

[2021-06-30 16:35] #18645 closed

[2021-06-30 16:38] ibuziuk commented on #20045
@ericwill please, let me know which community registry link contains a fix, and I will bump production

[2021-06-30 16:40] benoitf commented on #20045
maybe we need '.x' branch publication as well in addition to tags

[2021-06-30 16:59] ericwill commented on #20045
I've updated all 7.32.x Angular devfiles, i.e.:

https://eclipse-che.github.io/che-devfile-registry/7.32.0/devfiles/nodejs-angular/devfile.yaml
https://eclipse-che.github.io/che-devfile-registry/7.32.1/devfiles/nodejs-angular/devfile.yaml
https://eclipse-che.github.io/che-devfile-registry/7.32.2/devfiles/nodejs-angular/devfile.yaml

[2021-06-30 16:59] ericwill commented on #20045
It wouldn't help in this case unless we respin, because backport would come after the last 7.32.x release

[2021-06-30 17:18] benoitf commented on #20045
I mean everytime we push to '7.32.x' branch it updates /7.32.x/
We don't override tags like 7.32.1, 7.32.2 etc as it should be immutable

I don't see why it wouldn't work. DevSandbox will just use '7.32.x' instead of 7.32.1, 7.32.2 etc

[2021-06-30 18:57] gautam-borkar commented on #20042
Eclipse Che Version: 7.32.0

Steps I followed :-
1. Open a  `.md` file and then `F1 => View: Split Editor Left`. `F1 => View: Split Editor Left` not visible.
2. Open a `app.js` file  and then `F1 => View: Split Editor Left`. `F1 => View: Split Editor Left` visible and working.
3. Open a  `.md` file and then `F1 => View: Split Editor Left`. `F1 => View: Split Editor Left` visible and working.

Is t

[2021-06-30 20:33] ericwill opened #20055 "Plugins Sprint 204"
## Sprint 204 (July 7th 2021 - July 28th 2021)
This sprint will result in the release of Che 7.34.

### Blockers

### Epics

### CRW
* [ ] Downstream plugin registry should consume generator tool from upstream as an npm package [CRW-1928](https://issues.redhat.com/browse/CRW-1928) @vinokurig
* [ ] Jupyter Notebooks native support through the Python VS Code extension [CRW-1857](https://issues.redha

[2021-07-01 03:30] zWingz opened #20056 "che-theia production doesn't exclude packages which defined in EXCLUDED_PACKAGES in assembly"
### Describe the bug

`che-theia production` command doesn't exclude the direct dependency in assembly

### Steps to reproduce

1. `che-theia init`
2. `yarn`
2. `cd example/assembly`
3. `yarn add react`
4. `cd ../.. && che-theia production`

It can find `react` in `production/node_modules`, but it should be excluded

if we remove `@theia/monaco` from `che-theia/generator/conf/.yarnclean`, we also

[2021-07-01 06:43] RomanNikitenko commented on #20042
The command is available for execution when there is at least one editor.
The corresponding logic is placed on the `theia` side, [please see here](https://github.com/eclipse-theia/theia/blob/87b5b526d4aea461a54cc5f9111184b86e9be422/packages/editor/src/browser/editor-contribution.ts#L137-L138)

I think the problem is: the `.md` file is open in the preview mode. For such use case `Show All Opened Ed

[2021-07-01 07:32] tsmaeder commented on #20052
@benoitf main vs. master is a red herring: my problem happens a long time before the IDE ever opens.

[2021-07-01 07:32] tsmaeder commented on #20052
Also, looks like Che to me 🤷

![Capture](https://user-images.githubusercontent.com/13163770/124084481-4f249080-da4f-11eb-888a-330fa74cc211.PNG)

[2021-07-01 07:45] sunix opened #20057 "Cannot open Jupyter notebook with the python extension"
### Describe the bug
With the latest che-theia, opening a Jupyter notebook is failing:

We can see errors logs in the python extension output like :
[code]
in the editor window:
[code]
![image](https://user-images.githubusercontent.com/650571/124085542-72037480-da50-11eb-8537-4269043d314a.png)

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

with

[2021-07-01 08:30] sunix commented on #20057
It looks very similar to the original issue: https://github.com/eclipse/che/issues/16818

[2021-07-01 08:51] #19991 closed

[2021-07-01 09:10] ibuziuk commented on #20045
thanks, folks
verified on workspaces.openshift.com. Closing

[2021-07-01 09:10] #20045 closed

[2021-07-01 09:25] RomanNikitenko commented on #20036
@vitaliy-guliy
I had an assumption that the plugin is running in the `che-theia` container.
But I thought that it shouldn't be a problem - the variable should be provided to that container and available for reading from a plugin.

could you please clarify, just for my understanding, why at the moment it's a problem, what's the cause of the problem.

[2021-07-01 10:26] vitaliy-guliy commented on #20036
If you write a simple plugin, that is running in the same container within che-theia, and want to add some configuration for your plugin by setting an environment variable to your plugin component, it will not work.
Just because if the component/plugin do not describe a container, environment variable is ignored.
Guys asked me not to say it's a bug. I would say it's unimplemented/unspecified funct

[2021-07-01 10:27] vitaliy-guliy commented on #19953
A googledoc, describing the feature https://docs.google.com/document/d/13WPTD-dGX5duq-QpTXXCFHTPe7ZrBStjbNdY71llMw8/edit#

[2021-07-01 10:40] RomanNikitenko commented on #20036
@vitaliy-guliy
thank you!

[2021-07-01 11:18] olexii4 opened #20058 "Add dependencies IP check for UD and che-workspace-client"
### Is your enhancement related to a problem? Please describe.

### Describe the solution you'd like

Add dependencies IP check for [UD](https://github.com/eclipse-che/che-dashboard) and [che-workspace-client](https://github.com/eclipse-che/che-workspace-client).
### Describe alternatives you've considered

### Additional context

[2021-07-01 11:20] olexii4 opened #20059 "add yarn.lock v2 support for dash-licenses"
### Is your enhancement related to a problem? Please describe.

### Describe the solution you'd like

 Add yarn.lock v2 support for [dash-licenses](https://github.com/che-incubator/dash-licenses).
### Describe alternatives you've considered

### Additional context

[2021-07-01 11:24] #20059 closed

[2021-07-01 11:55] #20058 closed

[2021-07-01 12:36] Ohrimenko1988 opened #20060 "The plugins-ci job fails because unable to find the "master" branch"
### Is your task related to a problem? Please describe.

The plugins-ci job fails because unable to find the "master" branch

### Describe the solution you'd like

Reconfigure a job to use the "main" branch

### Describe alternatives you've considered

### Additional context

[2021-07-01 12:49] l0rd commented on #20052
@tsmaeder since the same devfile on the same cluster  works for others, your problem should be related to a particular configuration of your account or to some objects that are in the namespace and are using resources. I think it would be useful if you could provide your namespace OpenShift events when you start the workspace.

@ibuziuk do you know if we are showing a specific error when there are

[2021-07-01 12:55] sunix opened #20061 "Changing CheCluster storage.pvcClaimSize is not updating PersistentVolumeClaim spec.resources.requests.storage"
### Describe the bug
Updating PVC storage size from the operator is not working.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

As an administrator, My users are running out of disk space, I would like to increase the size of their PVC.
Updated CheCluster CR:
[code]
to
[code]
I expected all my PVC claim-che-workspace to be updated but still 1Gi

[2021-07-01 15:25] dmytro-ndp commented on #20046
@ScrewTSW : thank you,
I am going to add workaround to Happy path tests - to refresh the page in case of problem occurred.

[2021-07-01 15:37] dmytro-ndp commented on #20046
@ScrewTSW : there is also another issue similar to this one: https://github.com/eclipse/che/issues/19887

[2021-07-01 16:41] #16342 closed

[2021-07-01 16:43] #16296 closed

[2021-07-01 16:57] olexii4 opened #20063 "Add creating an output directory for dependencies IP check if it does not exist yet"
### Describe the bug

Try to use  [Container wrapper for Eclipse Dash License Tool](https://github.com/che-incubator/dash-licenses#usage) In the case when you don't have an output directory .deps inside the target project.

As the result, it doesn't create 'prod.md' and 'dev.md' files.

### Expected behavior

As the result this [command](https://github.com/che-incubator/dash-licenses#usage) create

[2021-07-01 18:13] dmytro-ndp opened #20064 "Cancel Happy path PR check build in CRW Jenkins on update in Eclipse Che repos PR"
### Is your enhancement related to a problem? Please describe.
CRW Jenkins is triggered on new changes in PR leaving running Happy path tests triggered on previous outdated changes, which doesn't make sense.

### Describe the solution you'd like
It's possible to setup GitHub Pull request jenkins plugin to CRW Jenkins to cancel Happy path PR check build on update in PR at job level: `GitHub Pull Re

[2021-07-01 18:43] metlos opened #20065 "Cluster role left behind after server delete"
### Describe the bug
The `chectl server:delete` command should clear everything Che-related from the cluster. The `che-operator-proxy` cluster role and cluster role binding are still present in the cluster after running the server delete though.

### Che version
latest

### Steps to reproduce
1. `chectl server:deploy ...`
2. `chectl server:delete`
3. `oc get clusterroles | grep che`
4. `oc get clu

[2021-07-01 19:11] AndrienkoAleksandr commented on #17792
Hello. I want to share a bit more information: don't use OLM addon from Minikube. It contains community catalog source image with hardcoded image tag instead of tag latest. That's why it can provide the latest release for operators https://github.com/kubernetes/minikube/issues/10768#issuecomment-831784280 . Minikube developers don't allow to use the latest tag, because that it could cause security

[2021-07-01 23:25] #19847 closed

[2021-07-02 07:06] sleshchenko opened #20066 "Dashboard should expose workspace related events in output"
### Is your enhancement related to a problem? Please describe.
Dashboard should expose workspace-related events in output. Like pulling images, waiting PVC to be bound....
It depends on dashboard backend.

[2021-07-02 07:09] sleshchenko commented on #20052
I have created an issue to improve the situation with devworkspaces: Dashboard should expose workspace related events in output https://github.com/eclipse/che/issues/20066

But then I checked and see it's devfile v1. So, a new dashboard provides as many details as the previous one used to provide.
@tsmaeder any info in output?

[2021-07-02 07:17] sleshchenko commented on #20052
I see two issues:

1. Workspace pod can't be created due

Error response from daemon: manifest for quay.io/eclipse/che-machine-exec@sha256:916929bb252f1bff813327e3bffa3641c4f79fcde802f00349aa4cb644826fe9 not found: manifest unknown: manifest unknown

2. Mkdir pod hangs due:

[2021-07-02 07:49] benoitf commented on #20052
@sleshchenko I don't see how you could reference the issue 'workspace pod could not pull che-machine-exec'

as the devfile specified in the issue is:
[code]

then it doesn't fetch definition from the current registry but from an external location which has no sha256

[2021-07-02 08:05] mmorhun commented on #20028
Fixed

[2021-07-02 08:05] #20028 closed

[2021-07-02 08:08] tsmaeder commented on #20052
I clicked on the wrong one (the original). As far as that is concerned, are all "next" tags not working? What do I need to fix in my devfiles?

[2021-07-02 08:38] Ohrimenko1988 opened #20067 "The "TypescriptPlugin" fails because of no debug config displays"
### Is your task related to a problem? Please describe.

The "TypescriptPlugin" fails because of no debug config displays

### Describe the solution you'd like

Add refreshing page in a case if debug config is not displayed

### Describe alternatives you've considered

### Additional context

[2021-07-02 08:47] #20063 closed

[2021-07-02 09:14] dmytro-ndp commented on #20067
Similar problem has been reproduced in Happy path test https://github.com/eclipse/che/issues/20046

[2021-07-02 09:17] #19645 closed

[2021-07-02 10:34] sleshchenko commented on #20052
So, mkdir pod hangs(related to some old workspace) and prevents other pods from starting due they use the same PVC. It may happen to happen due different reasons, so probably Che Server should make sure no other pods use workspace PVC before creating a new deployment.

But after I solved the issue with mkdir, the workspace deployment can not be started due artifacts plugin broker:

@tsmaeder pleas

[2021-07-02 11:16] sleshchenko commented on #20052
well, I filtered all the pods and there are a lot of hangs workspaces pods, their types:
- mkdir: Unable to attach or mount volumes: unmounted volumes=[claim-che-workspace], unattached volumes=[claim-che-workspace default-token-vpjtx]: timed out waiting for the condition
- rm: Unable to attach or mount volumes: unmounted volumes=[claim-che-workspace], unattached volumes=[claim-che-workspace defaul

[2021-07-02 11:20] edeediong commented on #18438
I just faced this issue, I used the Operator to install Eclipse. I was able to fix it by creating **a wildcard certificate** in the `che` namespace as theia couldn't hit it's own endpoint. Previously, the wildcard certificate was in the `cert-manager` namespace which meant it couldn't create more TLS domains. The only other option was to use [default TLS or Kubed](https://cert-manager.io/docs/faq/

[2021-07-02 11:43] sleshchenko opened #20068 "Che Controller Sprint 204"
This issue collects work items of Controller Team for Sprint 204 (7 July - 27 July).
:notebook: Please note that this is a tentative plan, until sprint planning has been conducted.

The previous sprint https://github.com/eclipse/che/issues/19971

## Sprint directions

- DWO: Release DevWorkspace Operator;
- DWO: Implement more features needed for CRW on DWO side;
- WTO: Release WebTerminal Operato

[2021-07-02 12:02] sleshchenko commented on #20061
Operator propagate value for Che Server, but then it does not apply it to existing PVC

[2021-07-02 12:13] azatsarynnyy commented on #19199
All sub-tasks are done. So, I'm closing the epic.

[2021-07-02 12:13] #19199 closed

[2021-07-02 12:26] sleshchenko commented on #19711
label value format is pretty limited, so annotation is our way.

Currently, we have

[code]
[code]
But it does not seem to be appropriate to store policyCreate, so instead of repurposing existing annotation I propose to use
[code]
^ So, dashboard is able to find a proper workspace for peruser, even without requesting Che Server to analyze devfile source.

[2021-07-02 12:43] benoitf commented on #19711
I would prefer if we have structured content and smaller names
also why you would need the URL again?

something like

[code]

[2021-07-02 12:48] sleshchenko commented on #19711
I'm OK with factory as well.

well, devfile source does not have an original URL but like in scm case has analyzed and probably modified content, like `'https://github.com/che-samples/java-spring-petclinic` become `https://github.com/che-samples/java-spring-petclinic.git`
We also are able to include factory field into devfile-origin if it makes sense, like:
[code]
^ devfile.override is just here f

[2021-07-02 13:16] RomanNikitenko opened #20069 "Adapt Che-Theia to upstream changes (Monaco)"
### Is your task related to a problem? Please describe.

We need provide some adaptation on `che-theia` side after upgrade `Monaco` version in upstream.

![errors_monaco](https://user-images.githubusercontent.com/5676062/124280218-179e0d00-db51-11eb-858f-0ee9993ff0f0.png)

### Describe the solution you'd like

Need to adapt Che-Theia to the upstream changes.

[2021-07-02 13:32] #19958 closed

[2021-07-02 13:33] benoitf commented on #19711
I'm not sure I understand the use case where we need to override url from an url factory
I mean, you'll give URL after # and then you'll say that you want to use another URL so why not directly give the right URL ?

maybe we would need to rename devfile-source to factory then

Also why do we need factory params in the DevWorkspace ?

AFAIK we would only need in the devfile (like user want to defin

[2021-07-02 13:33] vinokurig commented on #19837
I faced with a problem: create secret request to kubernetes fails because of the permissions restrictions: `{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"secrets is forbidden: User \"system:serviceaccount:admin-che:che-workspace\" cannot create resource \"secrets\" in API group \"\" in the namespace \"admin-che\"","reason":"Forbidden","details":{"kind":"secrets"},"

[2021-07-02 14:12] sparkoo commented on #19705
fixed by https://github.com/eclipse-che/che-operator/pull/861

[2021-07-02 14:12] #19705 closed

[2021-07-02 14:30] sparkoo opened #20070 "[che-auth] - use traefik plugin to set authorization header"
### Is your task related to a problem? Please describe.

Traefik now supports local plugin (https://github.com/traefik/traefik/pull/8224 documentation is not merged yet, but PR is here https://github.com/traefik/plugindemo/pull/13). We should use this instead of dedicated header-rewrite-proxy component.

### Describe the solution you'd like

We can
1. use some existing plugin that can do what we n

[2021-07-02 14:35] sparkoo opened #20071 "[che-auth] It is not possible to logout in nativeUserMode"
### Describe the bug

In new `nativeUserMode`, it is not possible to logout from the dashboard.

The quick and dirty way to log out is to delete all page data from the browser.

### Proposed solution
There is an oauth endpoint that signs out the user. `<che-url>/oauth/sign_out` (for example on CRC with defaults it's `https://che-eclipse-che.apps-crc.testing/oauth/sign_out`).

Dashboard should be a

[2021-07-02 15:38] dmytro-ndp commented on #18034
Closing the issue because the problem hasn't been reproduced for a long time.

[2021-07-02 15:38] #18034 closed

[2021-07-02 15:51] dmytro-ndp commented on #20064
MR https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/merge_requests/660

[2021-07-02 16:52] pgirishibm commented on #19796
@l0rd @azatsarynnyy @skabashnyuk @sleshchenko Thank you for taking time to a look at the ingress issue we are having in IKS.

We explored further on this and met with the ingress support team in IKS.  and they pointed us to these links,
https://kubernetes.github.io/ingress-nginx/how-it-works/#when-a-reload-is-required
This indicates that the ingress config needs a reload when a new ingress resourc

[2021-07-02 18:53] flacatus opened #20072 "devfiles v1 is not working with devWorkspace.enabled"
### Describe the bug

Starting workspace in eclipse che nightly is not working on openshift 4.7 and openshft 4.8.

Che Server Error:
[code]

Openshift CI Job Logs: https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/eclipse-che_che-operator/888/pull-ci-eclipse-che-che-operator-main-v8-multi-host-nightly-deployment/1411001758028664832/artifacts/multi-host-nightly-dep

[2021-07-05 06:10] RomanNikitenko opened #20073 ""checlt server:deploy" command failed to deploy operator pod: error "'RELATED_IMAGE_gateway_authentication_sidecar'. Environment variable with default value was not found.""
### Describe the bug

`Happy path` tests fails on the Eclipse Che `Deploy` step.
The error is:
[code]

Operator pod logs:
https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/287/artifact/logs-and-configs/che-logs/che-operator-5dcbfd85bf-wwrws.pod.log
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

##

[2021-07-05 06:49] #20064 closed

[2021-07-05 06:52] zWingz opened #20074 "What does devworkplace-handler do ? Can provide a `README` for it ?"
## Summary

It add a `devworkplace-handler` in https://github.com/eclipse-che/che-theia/commit/cd5bdd2ad6d7ced8b6377e565cafef5c504fbe4e, but i can’t run it because missing some env variables

Can provide a `README` for it ?
or tell me what does `devworkplace-handler` do in this issue ?
thanks

[2021-07-05 07:10] zWingz commented on #20074
found in https://github.com/eclipse-che/che-theia/pull/1120 and https://github.com/eclipse/che/issues/19230

[2021-07-05 07:10] #20074 closed

[2021-07-05 08:23] #20073 closed

[2021-07-05 08:26] karstengresch commented on #15114
Any news on this? The problem still persists, it seems.

[2021-07-05 08:50] mshaposhnik commented on #20072
Cannot reproduce on 4.7 RHPDS.

[2021-07-05 10:34] flacatus commented on #20072
@mshaposhnik I get also using installer operator for chectl:

[code]

[2021-07-05 11:56] l0rd commented on #15114
@sunix this issue is assigned to your. Are you working on it?

[2021-07-05 12:31] sunix commented on #15114
that one was opened more than a year ago and I don't think we can reproduce anymore. At least with the same errors we can see in the screenshot.
I debugged a quarkus app with latest Che 10 days ago. I am closing this one. @karstengresch could you reopen a new one if you cannot debug a Quarkus app providing your way to reproduce, logs, etc... ?

[2021-07-05 12:36] Ohrimenko1988 opened #20075 "Failed to run debug session in the "NodeJS Express Web Application" based workspace"
### Describe the bug

Failed to run debug session in the "NodeJS Express Web Application" based workspace

### Che version

 - [ x ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

 - Go to dashboard and create workspace using the "NodeJS Express Web Application" default devfile
 - Go inside created workspace and run the "download dependencies" preinstalled command
 - R

[2021-07-05 12:40] sunix commented on #15114
@l0rd no I am not working on it. I had started to have a look when language team was merged with the plugins team and I moved to a community role.

So this is not working because it is using the task provided by the vscode extension.  To debug quarkus app, we would suggest users to use a task defined in the devfile like this: https://github.com/eclipse-che/che-devfile-registry/blob/main/devfiles/q

[2021-07-05 13:18] RomanNikitenko opened #20076 "Happy path checks fail for che-theia: "Command server:deploy failed""
### Describe the bug

The issue was detected on  `che-theia` PR's check.

In the logs I see the following:

[code]

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

I detected a problem on the `che-theia` PR's checks.
Please see https://github.com/eclipse-che/che-theia/pull/1157

### Screenshots

![errors_che-theia](https://user-images.githubuserc

[2021-07-05 13:22] RomanNikitenko commented on #20069
depends on https://github.com/eclipse/che/issues/20076

[2021-07-05 13:32] mmorhun commented on #20076
This is infrastructure issue

[2021-07-05 13:35] #20044 closed

[2021-07-05 13:38] RomanNikitenko commented on #20076
Restarting jobs few times didn't help, will try one more time + check if it depends somehow on `minikube` version.

[2021-07-05 14:01] sleshchenko commented on #20052
One really interesting namespace
![Screenshot_20210705_165958](https://user-images.githubusercontent.com/5887312/124482974-862dd580-ddb2-11eb-80c8-d3a8e5d20818.png)

So, Che Server probably should better take care of all pods in the namespaces but not only the current workspace one.

[2021-07-05 14:56] RomanNikitenko commented on #20076
It looks like it really depends somehow on the `minikube` version - switching to `1.21.0` fixes the problem...
I'm going to prepare a PR to `che-theia` to change the `minikube` version.

[2021-07-05 15:20] nickboldt commented on #19127
5 months later, no progress on this, so closing as won't do.

[2021-07-05 15:20] #19127 closed

[2021-07-05 15:23] nickboldt commented on #19291
Starting this week, we'll start removing the :nightly tags from the release process and from quay.

[2021-07-05 15:42] ibuziuk commented on #20076
@RomanNikitenko looks like you are on the right track with the PR with a fix, assigning to you based on the draft PR

[2021-07-05 16:04] X-dark commented on #19133
Is this really doing what it pretends to do?
It seems to me that it is only making the `Git: clone` commands within Theia behave correctly but has no effect on putting a Git url with ssh protocol within the devfile.

[2021-07-05 17:34] RomanNikitenko commented on #19887
@dmytro-ndp
I see on the video for the `Happy Path` tests `No Configurations` item and there is no refreshing a page.
Does it mean that the workaround is not working?

Please see the report [here](https://github.com/eclipse-che/che-theia/pull/1157#issuecomment-874208806)

[2021-07-05 17:59] nickboldt commented on #20053
Next step: adding branch creation to the che-release process... https://github.com/eclipse-che/che-release/pull/39

... and verifying it works. Locally, I couldn't make this work. Unclear why - wrong workflowID? missing token? wrong token? missing permissions on the repo for che-incubator bot to push changes?

[2021-07-05 20:00] ericwill commented on #19361
I suppose we should wait until the `vscode-commons` extension is removed. The other option is that we include the vscode-commons extension in the openshift-connector plugin definition. @benoitf WDYT?

[2021-07-05 20:39] ericwill commented on #15114
There is a workaround present for this right? I'd say it should be taken as part of sprint 205 (in ~3 weeks from now).

[2021-07-06 05:05] skabashnyuk commented on #20072
@flacatus can you provide CheCluster configuration?

[2021-07-06 06:35] benoitf commented on #19361
Openshift connector has removed the dependency to vscode-commons
https://github.com/redhat-developer/vscode-openshift-tools/commit/f22a6d3308ad4bd6dbf43665050d3a9c453b7083
but it has not yet released a new version but I would say it'll be done pretty soon.

I think that if we include commons extension in the openshift connector, it will collide with the plugin added by default by che-server (so sh

[2021-07-06 07:10] flacatus commented on #20072
With single-host exposure:

[code]

[2021-07-06 07:11] flacatus commented on #20072
Multi-host che cluster:
[code]

[2021-07-06 07:11] flacatus commented on #20072
@mshaposhnik @skabashnyuk ^^

[2021-07-06 07:18] flacatus commented on #20072
I think the problems comes when start v1 devfile with devworkspace enabled.

[2021-07-06 08:09] l0rd commented on #19706
@sparkoo are you currently working on this?

[2021-07-06 08:12] RomanNikitenko commented on #20076
I have changed the severity to P1 as at the moment there is no way to merge any PR to che-theia without those happy path checks.

[2021-07-06 08:14] RomanNikitenko commented on #20076
should be fixed by https://github.com/eclipse-che/che-theia/commit/9f2aaf97c494ef9f4519a25298e1bad035463cec

[2021-07-06 08:14] #20076 closed

[2021-07-06 08:23] RomanNikitenko opened #20077 "Align CheWebviewEnvironment to upstream changes"
### Is your task related to a problem? Please describe.

Warnings related to webview and mini-browser endpoints are displayed at starting a workspace.
Please see the screenshot below.

The behaviour was caused by [changes in upstream](https://github.com/eclipse-theia/theia/commit/112d7243e420f066b894abe10c4249e879bad10a).

### Describe the solution you'd like

We should investigate and provide the

[2021-07-06 08:28] dmytro-ndp commented on #19887
@RomanNikitenko : thank you for information!

[2021-07-06 08:33] l0rd commented on #20019
@tolusha @flacatus if we use `v1` we won't be able to support older version of Kubernetes and OpenShift right? Maybe that should be reviewed to make sure that we don't break installations on older version that we currently support.

[2021-07-06 08:38] l0rd commented on #20005
Should we deprecate `installer --operator` if OLM is available on the cluster instead? There is a cost maintaining both `olm` and `operator` options. What's the value for the user?

[2021-07-06 08:44] l0rd commented on #19987
@sleshchenko do we have an epic or issue that explains why we are introducing a Dashboard backend?

[2021-07-06 08:53] l0rd commented on #19939
@sleshchenko If that's a fix only for Devfile v1 I don't think it's worth investing time on it right now. We should verify/fix the Devfile v2 scenarios instead.

[2021-07-06 09:11] tsmaeder commented on #20052
This morning, workspace startup fails when running the plugin broker with the following log:

[code]

No extra pods are present.

[2021-07-06 11:16] tsmaeder commented on #20075
@Ohrimenko1988 anything interesting in the browser or Theia container logs?

[2021-07-06 11:25] ibuziuk commented on #20072
v1 devfiles are expected to work with the devworkspace enabled I believe.
There has been an issue reported some time ago, but not sure if it is relevant for the current context - https://github.com/eclipse/che/issues/20052

[2021-07-06 11:29] Ohrimenko1988 commented on #20075
I haven't seen error's in the browser or in containers. Only in debug ext container (logs in the description https://github.com/eclipse/che/files/6764180/debug.log)

[2021-07-06 11:51] Ohrimenko1988 commented on #20067
Fixed https://github.com/eclipse/che/pull/20079

[2021-07-06 11:51] #20067 closed

[2021-07-06 11:59] mmorhun commented on #19402
As all the subtasks are done, I am marking this issue as resolved.

[2021-07-06 11:59] #19402 closed

[2021-07-06 12:05] tsmaeder commented on #20075
Oddly, the only exception in the log is the same as in https://github.com/eclipse/che/issues/18455. Are we using an old version of the plugin host runtime?

[2021-07-06 12:11] olexii4 opened #20080 "Add the ability to support package-manager for the dash-licenses"
### Is your enhancement related to a problem? Please describe.

Our product [dash-licenses](https://github.com/che-incubator/dash-licenses) supports only one package manager. This fact has reduced the scope of using the dash-licenses and we cannot cover the [che-server](https://github.com/eclipse-che/che-server) which is using apache maven project manager. Also it worth adding support for the defa

[2021-07-06 13:30] ibuziuk opened #20081 "As an Admin, I want to update the list of default images for pre-pulling when a new version of Eclipse Che is rolled out"
### Is your task related to a problem? Please describe.
This task is a follow-up work on the https://github.com/eclipse/che/issues/19657
Now we can identify the good defaults for Kubernetes Image Puller during the installation, however when the rollout update of a new version happens the list of images for pre-pulling should be updated accordingly.

https://issues.redhat.com/browse/CRW-2107

### D

[2021-07-06 14:36] #20080 closed

[2021-07-06 15:24] benoitf opened #20082 "Add mapping of area labels and the team assignment in a file"
### Is your task related to a problem? Please describe.
Today, when doing triaging, some labels are applied and then there are some Red Hat teams handling these labels.

Labels there are outdated:
https://github.com/eclipse/che/wiki/Labels

so if we store it in the repository we can update CONTRIBUTING.md automatically (or the wiki) from this definition.

### Describe the solution you'd like
Add l

[2021-07-06 17:05] sunix opened #20083 "Cannot build che-theia with linkless build"
### Is your task related to a problem? Please describe.
We recently introduced linkless build for che-theia that should replace the current build strategy. However, it looks like it is not possible to build che-theia with it at the moment:

![Selection_424](https://user-images.githubusercontent.com/650571/124639223-33285100-de8c-11eb-8174-4dbb940b0f7c.png)

[code]

To reproduce, use this devfile:

[2021-07-06 17:09] sunix commented on #20083
I maybe related to the webpack upgrade
I can see
[code]
also
[code]

[2021-07-06 17:14] sunix commented on #20083
My tries:
1. align https://github.com/eclipse-che/che-theia/blob/main/extensions/eclipse-che-theia-plugin-ext/package.json#L34 ... but it is not related ... the problem is @theia/compression-webpack-plugin@3.0.0 which is bringing the wrong version of webpack
2. tried to use compression-webpack-plugin" "version": "8.0.1" but theia is not building anymore after this

TODO
try to clone build and use

[2021-07-06 19:59] dkwon17 opened #20084 "Display Kubernetes Image Puller images in multiple lines"
### Is your enhancement related to a problem? Please describe.

When creating a new instance of Kubernetes Image Puller via the Kubernetes Image Puller operator from OperatorHub, it would be great if the images were displayed in multiple lines (one image per line), rather than displaying the images in a single, semi-colon separated string:

![image](https://user-images.githubusercontent.com/836117

[2021-07-07 05:54] #19961 closed

[2021-07-07 05:57] tolusha opened #20085 "Che Deploy Sprint #204"
#### Timeframe
Jul 7 - Jul 27

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |
| @flacatus  |

#### Holidays / events:
* 12.07-25.07 Mykola PTO

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is based on Eclipse Che 7.30.x
CRW 2.10 is based on Eclipse

[2021-07-07 06:31] tolusha commented on #20019
@l0rd
The idea is to use Ingress v1 only if platform supports it otherwise Ingress v1beta1 will be used.
So, Eclipse Che will still work on older versions of Kubernetes.

[2021-07-07 06:59] tolusha commented on #20082
@benoitf
Does it mean that all issues will be updates with team label ?

[2021-07-07 07:11] tsmaeder commented on #20052
Raising this one to "blocker" status, as it's preventing me 100% from working on che-theia.

[2021-07-07 07:16] tolusha opened #20086 "Failed to update Eclipse Che to next version"
### Describe the bug
Failed to update Eclipse Che to next version

### Che version

 - [x] nightly

### Steps to reproduce
Run `e2e update tests` tests in chectl repostiroy

### Runtime
   - [x] minikube (include output of `minikube version` and `kubectl version`)

### Installation method
   - [x] chectl
     * provide a full command that was used to deploy Eclipse Che (including the output)

[2021-07-07 08:02] skabashnyuk opened #20087 "Che Platform Sprint #204"
#### Timeframe
Jul 7 - Jul 27

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is based on Eclipse Che 7.30.x
CRW 2.10 is based on Eclipse Che 7.32.x
CRW 2.11 i

[2021-07-07 08:03] metlos opened #20088 "Make DevWorkspaceRouting a pre-requisite of che-operator"
### Is your task related to a problem? Please describe.
Currently,  we have che-operator (CO) and devworkpace che operator (DWCO) running as separate containers in a single pod. In addition to other responsibilities, CO is in charge of enabling the support for Devworkspaces. This includes the installation of all the necessary CRDs (i.e. DevWorkspace, DevWorkspaceTemplate, DevWorkspaceRouting and p

[2021-07-07 08:07] metlos commented on #20088
@l0rd what do you prefer?

1. Merging the codebases makes the life easier for future development and removes 1 image from our deliverables, but requires part of the "devworkspace ecosystem" be preinstalled even if devworkspaces are disabled.
2. Keep the CO and DWCO codebases separate (2 deliverables instead of one, slightly more complex dependency structure) but be able to "flip on and off" devwor

[2021-07-07 08:14] metlos commented on #19408
I've created a separate https://github.com/eclipse/che/issues/20088 as a prerequisite of this issue.

[2021-07-07 08:51] ibuziuk commented on #20005
I'm fine with deprecating the `installer --operator `, but this is more a question to the deploy team I believe

[2021-07-07 08:54] ibuziuk opened #20089 "Currently it is not possible to differentiate `che_plugin_sidecar_plugin_registry_image` from the RELATED_IMAGEs"
### Is your enhancement related to a problem? Please describe.
CSV contains a bunch of the  `che_plugin_sidecar_plugin_registry_image` Related Images - https://github.com/operator-framework/community-operators/blob/b560ec81cd4e586e9cb05c3674426da4971ba3b3/community-operators/eclipse-che/7.32.0/eclipse-che.v7.32.0.clusterserviceversion.yaml#L1029-L1079

This becomes a problem if we want to automati

[2021-07-07 08:55] ibuziuk commented on #20089
@nickboldt would be great to get your input on this

[2021-07-07 09:00] ibuziuk opened #20090 "Telemetry for DevWorkspaces (workspaces started with the DevWorkspace operator)"
### Is your task related to a problem? Please describe.
As part of this task, we need to make sure that the telemetry approach that we can enable for Che 7 workspaces can be re-used for the DevWorkspaces - https://www.eclipse.org/che/docs/che-7/extensions/telemetry/

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-07-07 09:04] ibuziuk commented on #20090
@sleshchenko I have created this issue in order to start the discussion regarding telemetry for the new type of workspaces. Basically, before the DevWorkspace becomes a default engine we need to make sure that the telemetry plugin can be enabled for this type of workspace. In case you already have some input on the telemetry https://www.eclipse.org/che/docs/che-7/extensions/telemetry/ for DevWorsk

[2021-07-07 11:09] Ohrimenko1988 opened #20093 "Errors notifications shown during trying to invoke the python language server functions"
### Describe the bug

Errors notifications shown during trying to invoke the python language server functions
### Che version

 - [ x ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

 - Go to dashboard and create workspace using the "Python" default devfile
 - Go inside created workspace and open the "hello-world.py" file
 - Try to press the "ctrl + space" combination

[2021-07-07 11:10] mmorhun commented on #14035
In case one need to include root CA cert into router chain, `minishift.crt` should be created in the following way:
[code]

[2021-07-07 11:59] l0rd commented on #20088
@metlos 👍 for option 1

[2021-07-07 12:17] tolusha commented on #20019
this issue depends on https://github.com/eclipse/che/issues/19466

[2021-07-07 12:17] Ohrimenko1988 opened #20094 "[regression]Failed to run the "vscode-xml" plugin because of absence of the "redhat.vscode-commons" dependency"
### Describe the bug
Failed to run the "vscode-xml" plugin because of absence of the "redhat.vscode-commons" dependency

### Che version

 - [ x ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

 - Create workspace using next devfile:
[code]
 - Go inside created workspace
 - Open the "hello.xml" file
 - Pay attention to the displayed notifications with errors (see attac

[2021-07-07 12:23] Ohrimenko1988 commented on #20094
Looks like related to the https://github.com/eclipse/che/issues/19361

[2021-07-07 12:25] svor commented on #20094
Probably need to update vscode-xml to 0.17.0 where the dependency to vscode-commons was removed https://github.com/redhat-developer/vscode-xml/pull/503

[2021-07-07 12:38] tolusha commented on #20065
I've just tested and don't find any issues.
Probably fixed by https://github.com/che-incubator/chectl/pull/1367

[2021-07-07 12:38] #20065 closed

[2021-07-07 13:21] Warfvf opened #20095 "Wrong project path in Go test devfile"
### Describe the bug

Currently, there is wrong project path in test devfile `Go.spec.ts`.

We need to edit the project path.

https://github.com/eclipse/che/blob/59ec70a890b67b47c0a37dda7b032411eba5da7b/tests/e2e/tests/devfiles/Go.spec.ts#L53https://github.com/eclipse/che/blob/59ec70a890b67b47c0a37dda7b032411eba5da7b/tests/e2e/tests/devfiles/Go.spec.ts#L53

### Che version

 - [x] latest
 - [x] n

[2021-07-07 14:19] ericwill commented on #19741
Fixed by eclipse-che/che-plugin-registry#970

[2021-07-07 14:19] #19741 closed

[2021-07-07 14:25] ibuziuk commented on #20084
Moving to the next prioritization. This feature depends on https://github.com/eclipse-che/che-operator/pull/880/files

[2021-07-07 14:28] sleshchenko commented on #20052
I'll take a look bad handshake issue but ATM it has extra pod:
![Screenshot_20210707_172801](https://user-images.githubusercontent.com/5887312/124777245-bc9d5900-df48-11eb-8bb4-b7bbb5e1a105.png)

[2021-07-07 15:01] sleshchenko commented on #20052
I don't have any good idea for that different than an infrastructure issue.
The same plugin broker image, the same configuration works for me but does not work for the other 4 people.

[2021-07-07 20:07] KevinQSmith opened #20097 "What is wrong with installation: Che API is not available, air gapped environment on K8s AWS ?"
Hello,

I am trying to install Eclipse Che version 7.29.1 in an air gapped environment and have run into an issue.  We are using Helm, Chectl, and Kubectl on a Linux EC2 instance that’s connected to a Kubernetes cluster in AWS.  I have followed this documentation to set it up in a multiuser environment: https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-aws/
Once we figure

[2021-07-07 20:13] cccs-tom commented on #19585
I am very interested in this update, but I see it's been removed from all milestones at this time. Is this still on the roadmap, @tolusha?

[2021-07-08 02:08] gautam-borkar opened #20098 "Server 'terminal' in container 'che-machine-exec672' not available."
### Describe the bug
Failed to start kubernetes workspace error message :- `Server 'terminal' in container 'che-machine-exec672' not available.`.

### Che version
 - [ ] latest
 - [ ] nightly
 - [x] other: `7.32.0`

### Steps to reproduce
- Install che with command :- `chectl server:deploy --platform k8s --domain <domain-name> --installer=operator` with trusted CA for the domain.
- Click on create

[2021-07-08 06:55] RomanNikitenko opened #20099 "'Try it' buttons on Che Theia PR are not working"
### Describe the bug

I'm not able to start a workspace using `Try it` buttons.
The error is:
[code]
### Che version

  - [x] nightly

### Steps to reproduce
Try to use `Try it` buttons on a PR to `che-theia`

The URL is like the following:
`https://workspaces.openshift.com/f?url=https://raw.githubusercontent.com/chepullreq4/pr-check-files/master/che-theia/pr-1161/simple/che-theia-simple-devfile.y

[2021-07-08 07:14] ibuziuk commented on #20052
Why this issue is reported as a blocker? Is it the only instance that can be used for the theia development?
Just for the record, I can start a workspace from the description without any issues after changing the branch to 'main'
@tsmaeder are you still facing https://github.com/eclipse/che/issues/20052#issuecomment-874596603 ?

[2021-07-08 07:46] sleshchenko commented on #20097
I'm not able to reproduce it on minikube when I deploy Che with `chectl server:deploy --installer=helm --platform=minikube --multiuser`.

@KevinQSmith could you share response of `/api/workspace/settings` request? I have
![Screenshot_20210708_104542](https://user-images.githubusercontent.com/5887312/124883243-cd49df80-dfd9-11eb-902e-f67ad20e5ca7.png)

[2021-07-08 07:48] #19971 closed

[2021-07-08 07:55] sleshchenko opened #20100 "Unable to create workspace from sample on K8s due wrong URLs reported by devfile registry"
### Describe the bug
Unable to create workspace from sample on K8s due wrong URLs reported by devfile registry:
![Screenshot_20210708_105729](https://user-images.githubusercontent.com/5887312/124884808-4d247980-dfdb-11eb-958d-53c5769459c6.png)

^ see the cluster internal IP is reported.

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy Ch

[2021-07-08 08:19] sleshchenko commented on #19692
Sorry for the delay, recently we got created the similar issue and after investigation, it was clear that it's nginx ingress controller that does a trick. More see https://github.com/eclipse/che/issues/19796#issuecomment-873131404

@bodarajeshkumar could you confirm or break the assumption you use nginx ingress controller?

[2021-07-08 08:24] sleshchenko commented on #19918
I can't not reproduce it anymore

[2021-07-08 08:24] #19918 closed

[2021-07-08 08:27] sleshchenko commented on #19917
I can't reproduce it.
@RomanNikitenko let me know if you face it again. Thanks!

[2021-07-08 08:27] #19917 closed

[2021-07-08 08:31] tsmaeder commented on #20052
@ibuziuk using the dogfooding instance is the _recommended_ way to work. Some time ago, I was running Che myself on my local machine (docker desktop) and when I frequently ran into trouble with my installation (and tried to get help with fixing them), I was told in no uncertain terms to use the dogfooding instance instead.
I don't care how we achieve this, but I _need_ a stable environment to do m

[2021-07-08 08:53] mkuznyetsov opened #20101 "Release Che 7.33.0"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [x] che-machine-exec, che-theia, che-devfile-registry, che-dashboard, devworkspace-operator, jwtproxy, kubernetes image puller

[2021-07-08 09:17] #20005 closed

[2021-07-08 09:27] svor commented on #20100
I don't see such problem with `--installer=operator`, only reproducible if use `helm`. @tolusha @mmorhun any idea what could be wrong?

[2021-07-08 09:36] ibuziuk commented on #20052
@tsmaeder well, I believe you should have a backup up options based on crc / minikube to do the everyday job if for some reason the other instance is not available. There could be outages on the infrastructure OSD level, that we can not control.

Anyway, are you still facing the https://github.com/eclipse/che/issues/20052#issuecomment-875679752 ?

[2021-07-08 09:54] bodarajeshkumar commented on #19692
Thank you @sleshchenko yes, It is it's nginx ingress controller that causing the issue.

[2021-07-08 09:56] tsmaeder commented on #20052
I was able to start the workspace that failed yesterday. Did we fix anything or is it just random?

[2021-07-08 11:27] Ohrimenko1988 commented on #20060
Done https://github.com/openshift/release/pull/19886

[2021-07-08 11:27] #20060 closed

[2021-07-08 12:16] ibuziuk commented on #20052
Nothing, but removal of the stale mkdir / rm pods from the namespace (this can be performed by a user, admin rights are not required)

[2021-07-08 12:21] tsmaeder commented on #20052
No stale mkdir pods were present in my namespace yesterday when I had the failure mentioned here (https://github.com/eclipse/che/issues/20052#issuecomment-874596603) yesterday (I checked in the openshift console). I doubt that this is the problem. Looks still random to me 🤷 .

[2021-07-08 12:25] Warfvf opened #20104 "Test golang example failed in Go test devfile"
### Describe the bug

Currently, there are wrong paths to required folders in product devfile.
We need to edit the paths.

### Che version

 - [x] latest
 - [x] nightly
 - [x] other: please specify

### Steps to reproduce

* start `Go` test

### Expected behavior

All testing suites passed.

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of

[2021-07-08 12:28] ScrewTSW commented on #20104
This issue is not reproducible on Che 7.32.2 release, it only affects 7.33.0-SNAPSHOT

[2021-07-08 12:34] Warfvf commented on #20095
Implemented

[2021-07-08 12:34] #20095 closed

[2021-07-08 12:36] ScrewTSW commented on #20104
works correctly in `quay.io/eclipse/che-golang-1.14@sha256:da831c03340bccc94a6d3dde30ed5aace253857fd3a3c57f2a48aef1abaa910a` but fails with the screenshots in `quay.io/eclipse/che-golang-1.14:next`

[2021-07-08 12:39] nickboldt opened #20105 "Remove obsolete maven and centos-ci stuff from eclipse/che repo"
### Is your task related to a problem? Please describe.

In the old eclipse/che repo, there are still...

* old files referring to maven (but there are no poms in the repo!) - https://github.com/eclipse/che/blob/main/.github/workflows/next-build.yml#L24-L35
* centos-ci files (but we don't use centos-ci anymore) - https://github.com/eclipse/che/tree/main/tests/.infra/centos-ci

### Describe the sol

[2021-07-08 12:41] ibuziuk opened #20106 "As a user, I want to have a possiblitity to quickly switch from User Dashboard to the cluster console"
### Is your task related to a problem? Please describe.
Currently, it is not possible to switch from the User Dashboard to the k8s / OpenShift Web UI.
User need to know the cluster URL

### Describe the solution you'd like
As a user, I want to have the possibility to quickly switch from User Dashboard to the cluster console Web UI e.g. from the user menu or a dedicated button:

![image](https://us

[2021-07-08 12:49] nickboldt commented on #19291
Status:
- [x] configbump - n/a
- [ ] operator
- [ ] dashboard
- [x] devfile reg
- [ ] devfile reg sidecars
- [ ] intellij sidecar
- [ ] DWO
- [ ] DWCO
- [ ] KIP, KIPO
- [ ] jwtproxy
- [x] machine-exec
- [x] plugin brokers - n/a
- [x] plugin reg
- [x] che server
- [ ] theia dev, theia, endpoint, vsix installer

[2021-07-08 12:53] #20056 closed

[2021-07-08 13:18] gorshkov-leonid opened #20107 "Cannot create a project with a name that starts with ".""
Failed to create a new workspace from the devfile, reason: Invalid project name found:'.common'. Name must contain only Latin letters,digits or these following special characters ._-

According to message I can use symbol .

### Che version
7.32.1

### Steps to reproduce
Add section to devfile and try to create worspace
[code]
### Screenshots
![image](https://user-images.githubusercontent.com/2270

[2021-07-08 13:28] sleshchenko opened #20108 "Set up e2e testing for dashboard"
### Is your task related to a problem? Please describe.
Currently, dashboard has happy path PR check and unit tests and it's not able to catch a lot of bugs.

### Describe the solution you'd like
Sometime ago, dashboard had e2e test skeleton which was removed due being outdated https://github.com/eclipse-che/che-dashboard/pull/167

It's needed to recover e2e testing and cover basic scenarios we wi

[2021-07-08 13:34] gorshkov-leonid opened #20109 "If there are no projects in devfile then empty workspace is not ready to use"
I want to create an empty workspace and let the user ability to create any folders that he wants.
But if section "projects" in devfile is an empty array then the user cannot create folder

I know that WA exists. User can choose /projects via the "Open Workspace" menu item. But it is not convenient way.

### Che version
7.32.1

### Screenshots
![image](https://user-images.githubusercontent.com/2270

[2021-07-08 13:36] sleshchenko commented on #16791
https://github.com/devfile/devworkspace-operator/pull/478/files#diff-983170fb73220bb6bc10df0d85249e45f79577391c04edead6e33c39713d9b8aR749 makes me think that we can resolve it now after dropping patching.

[2021-07-08 13:37] tolusha commented on #19995
Sorry, I can't reproduce.
Linux.
Google Chrome | 85.0.4183.83

[2021-07-08 13:38] benoitf commented on #19995
hello, are you using minikube/operator ?

[2021-07-08 13:39] benoitf commented on #19995
I think it's specific to helm deployment

[2021-07-08 13:58] sleshchenko commented on #19116
now dashboard has different packages for frontend and backend https://github.com/eclipse-che/che-dashboard/pull/268

the only thing left in the current issue scope - adapt syncing to CRW

[2021-07-08 14:20] ibuziuk opened #20110 "Fail to start a workspace - method: GET, response code: 504, message: <html><body><h1>504 Gateway Time-out</h1>"
### Describe the bug
Some users are facing issues during a workspace startup on workspaces.openshift.com - ```Fail to start a workspace - method: GET, response code: 504, message: <html><body><h1>504 Gateway Time-out</h1>```

### Che version
7.30.2 / CRW 2.9

### Steps to reproduce

start a workspace on workspaces.openshift.com

### Expected behavior
Workspace starts without any issues

### Runtim

[2021-07-08 14:26] tolusha commented on #20098
To check if certificates configured correctly.
1. Try exec into che-server pod
[code]
2. start a workspace
3. Find workspace ingress ending with `server-4402`
4. Exec into che-server pod
[code]

[2021-07-08 14:30] mmorhun commented on #20098
Hello @gautam-borkar
By `trusted CA for the domain` do you mean commonly trusted certificate or institutional one?
Could you please show certificates chain that your ingresses return? Is the output of:
[code]
If you don't want to share the domain, please send the output to me and @tolusha in mattermost

[2021-07-08 14:36] metlos commented on #20110
This seems like a response coming from keycloak. I assume that Keycloak is configured with OpenShift OAuth and that Keycloak was unable to get a response from the OpenShift's OAuth endpoint in a timely manner. Would you be able to also attach the Keycloak logs?

[2021-07-08 14:38] tolusha commented on #20100
I see that che-server returns correct settings:

[code]

Is that dashboard who adjust url ?

[2021-07-08 14:39] tolusha commented on #19995
Yes, minikube+operator
But even in case of helm all urls work correctly
`https://192.168.64.70.nip.io/auth` redirects to `https://192.168.64.70.nip.io/auth/`

[2021-07-08 14:49] karstengresch commented on #15114
Thanks for that, @sunix. Actually this is the config that comes with the default Quarkus template on CRW. I actually asked for the current status because I _cannot_ confirm this workaround is working:

Created a breakpoint, started Quarkus in dev + debug mode, called a service (getting-started quarkus example with one additional sysout line) - IDE doesn't interrupt... :-|

[2021-07-08 14:52] tolusha opened #20111 "Eclipse Che operator descoping"
### Is your task related to a problem? Please describe.
Currently it is possible to deploy many Eclipse Che operators on a single cluster.
Accordingly to descoping plans [1] an operator is expected to be the sole owner of an API in a cluster.

### Describe the solution you'd like

TODO

### Describe alternatives you've considered

### Additional context

[1] https://hackmd.io/wVfLKpxtSN-P0n07Kx4J8

[2021-07-08 15:09] tolusha commented on #19585
@cccs-tom
yes, It is still in the roadmap.
Unfortunately @AndrienkoAleksandr  who is an expert in this field, currently is busy with another long lasting task

[2021-07-08 15:11] #19959 closed

[2021-07-08 15:15] cccs-tom commented on #19585
Great, thanks for the update!

[2021-07-08 15:31] ibuziuk commented on #20110
regardless of the root cause, why we are not doing the re-try?

[2021-07-08 15:33] gorshkov-leonid commented on #20107
As I see according to #16303 and https://github.com/eclipse-che/che-dashboard/pull/53 this ticket won't be fixed. Internal implementation is not known to me, but I think folders that start with "."  that hidden by default can be deployed at the start with this mechanism. So dot is a useful symbol. Maybe anyone has another opinion?

[2021-07-08 16:12] gautam-borkar commented on #20098
@tolusha I am seeing lot of `2021-07-08 16:03:27,756[ServersChecker]   [DEBUG] [.h.HttpConnectionServerChecker 116]  - Failed to establish http connection to check server 'theia:https://servere1h0l7qj-jwtproxy-server-4402.open-trial-labs.ibm.com/'. Cause: servere1h0l7qj-jwtproxy-server-4402.open-trial-labs.ibm.com`.

[che.log](https://github.com/eclipse/che/files/6785894/che.log)

[2021-07-08 16:25] dmytro-ndp commented on #19887
Second try: https://github.com/eclipse/che/pull/20079

[2021-07-08 16:36] KevinQSmith commented on #20097
Hi Sleshchenko, thank you for your reply.

I am unable to hit `che.domain.com/api/workspace/settings` I just receive a 404.

If this helps, here is a screenshot of our /dashboard route with the call to the settings url.

![Screenshot of settings call from dashboard page](https://user-images.githubusercontent.com/87094753/124959248-0473bd00-dfe9-11eb-94a9-7e3811c808d9.jpg)

[2021-07-08 16:59] gautam-borkar commented on #20098
I tried to exec to `che-86gtma9yy-d8amc` pod and did a `echo "$CHE_SELF__SIGNED__CERT"`. But output is empty :-
[code]

[2021-07-08 17:02] gautam-borkar commented on #20098
@mmorhun I am getting this error for the command above :-
`verify error:num=20:unable to get local issuer certificate`

[2021-07-08 17:35] gautam-borkar commented on #20098
*Note:-* In checluster resource I have both signedCertificate and tlsSupport as true.

[2021-07-08 18:17] mmorhun commented on #20098
This means the certificate is not commonly trusted.
To trust the certificate, please follow [Che docs](https://www.eclipse.org/che/docs/che-7/installation-guide/importing-untrusted-tls-certificates/)
Also please note, that it is required to have whole certificates chain in the configmap: from the 'lowest' CA till root.

[2021-07-08 18:28] mmorhun commented on #20098
@gautam-borkar in general my advice will be:
1. Make sure that your certificates are not expired. If so, request a new one.
2. When certificates are ok, configure your cluster with it
3. Completely delete Che (you've changed some secrets manually that might brake something)
4. In Che namespace (`eclipse-che` by default) create a configmap with additional certificate chain until root CA (server one

[2021-07-08 19:22] svor commented on #20100
@tolusha probably che-devfile-registry [configmap](https://github.com/eclipse-che/che-server/blob/main/deploy/kubernetes/helm/che/custom-charts/che-devfile-registry/templates/configmap.yaml) should contain env variable with URL like [here](https://github.com/eclipse-che/che-devfile-registry/blob/main/deploy/kubernetes/che-devfile-registry/templates/configmap.yaml#L26)

[2021-07-08 19:40] svor commented on #15114
Created a breakpoint, started Quarkus in dev + debug mode, called a service (getting-started quarkus example with one additional sysout line) - IDE doesn't interrupt... :-|

@karstengresch which CRW version do you have?  Could you please share a link to the devfile

[2021-07-09 06:44] #19983 closed

[2021-07-09 08:05] #20031 closed

[2021-07-09 08:07] #20013 closed

[2021-07-09 08:20] benoitf commented on #19995
I've installed minikube 1.22.0 and reinstall next version of che using chectl

[code]

it's still displaying
[code]

And if I click on https://192.168.64.71.nip.io/auth I'm redirected to dashboard
I need to use https://192.168.64.71.nip.io/auth/ to get keycloak

https://user-images.githubusercontent.com/436777/125047455-4b23ee80-e09f-11eb-9742-42baa2a8395a.mp4

[2021-07-09 08:23] benoitf commented on #19995
[code]

[code]

[2021-07-09 08:29] RomanNikitenko commented on #20109
should be fixed by https://github.com/eclipse-che/che-theia/pull/1123

[2021-07-09 09:13] #20086 closed

[2021-07-09 09:46] zWingz opened #20112 "Unable to start workspace on docker-desktop with custom domain"
### Describe the bug
Unable to start workspace
![image](https://user-images.githubusercontent.com/13031838/125058840-3cf4c300-e0dd-11eb-8cdf-92f500455bb0.png)

### Che version

 - [x] 7.31.2

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubectl version`)
   - [

[2021-07-09 10:08] #20014 closed

[2021-07-09 10:09] rhopp opened #20113 "@eclipse-che/api npm package has errors and cannot be used."
### Describe the bug
https://www.npmjs.com/package/@eclipse-che/api in latest versions has errors and cannot be consumed by dependent projects (for example e2e tests):
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
[code]
^^ This should succeed, but it fails with the errors mentioned earlier in description

### Additional context
I'm not

[2021-07-09 10:54] mshaposhnik commented on #19236
Honestly, i don't like idea that `factory/resolve` must create namespace. But twice much as that, i don't like the idea that `factory/resolve` must do a decision what exacly to create (namings etc).

Since dashb already doing the request to figure out list of user-s namespaces (and theirs existence),
my proposal is to send desired namespace name as the parameter of `factory/resolve` (which can tak

[2021-07-09 11:15] mmorhun commented on #19932
Done

[2021-07-09 11:15] #19932 closed

[2021-07-09 11:40] tolusha commented on #19995
I was able to reproduce with single host mode.
Thank you

[2021-07-09 12:38] sleshchenko commented on #19116
CRW part if moved to a scope of https://issues.redhat.com/browse/CRW-2009. So closing it now

[2021-07-09 12:38] #19116 closed

[2021-07-09 12:44] sleshchenko commented on #19832
fixed by https://github.com/eclipse-che/che-dashboard/pull/268

[2021-07-09 12:44] #19832 closed

[2021-07-09 13:38] virtuakazib opened #20114 "Volume Mount failing when starting workspace on OpenShift"
### Describe the bug
When starting a workspace on an OpenShift instance, we are frequently getting the following error:
[code]

Sometimes the volume that fails will change.  And sometimes the workspace will start without any issues.  But this mount fail is happening frequently.  It feels very race condition-ish.

Is there a timeout that can be increased to iron out this issue?

### Che version
 -

[2021-07-09 14:24] rminchev1 opened #20115 "Mixed content: Failed to load devfiles from the registry"
## Summary

I would appreciate some help with the issue I'm getting.

![image](https://user-images.githubusercontent.com/1092422/125092093-a377e200-e0d9-11eb-8b62-6e2b9e4a4c31.png)

## Relevant information

The deployment is in kubernetes ( aws ) version:  7.30.1. I messed it up while playing with the helm configurations, that's why I'm asking for some guidance as to how to further debug it and fi

[2021-07-09 14:28] vitaliy-guliy commented on #20100
linking with https://github.com/eclipse/che/issues/19084

[2021-07-09 14:34] svor commented on #19959
Superseded by https://github.com/eclipse/che/issues/20055

[2021-07-09 14:39] sleshchenko commented on #19939
@l0rd I would argue a bit, since:
- it's a regression for CRW;
- it should be pretty quick to fix;

This issue is not actual for DevWorkspace since:
- devfile v2 does support volume type (emptyDir, PVC) on individual volume level;
- devworkspace support does not support emptyDir on devworkspace level yet; I'll create a separate issue for that and in any case, it's going to be devworkspace annotati

[2021-07-09 15:35] gautam-borkar commented on #20098
Thank you very much @tolusha @mmorhun for all your help!

**Issue**
Che was deployed with multi-host strategy. And hence when workspace was created it was trying to access `https://servere1h0l7qj-jwtproxy-server-4403.<domain>` using ingress and the DNS was not able to resolve this host.

**Fix for the issue**
Deployed eclipse-che with single-host strategy.
Steps for deployment :- https://www.eclip

[2021-07-09 15:35] #20098 closed

[2021-07-09 15:54] ibuziuk commented on #16685
@vitaliy-guliy @ericwill @svor folks, could you please clarify what is missing in this epic? Are we already specify limits & requests for every devfile & plugin in our registries?

[2021-07-09 18:34] Shashi0838 commented on #19671
Hi Team,

Even i'm facing the same error. Can someone help me please? Every workspace is failing start

Here is the log:
[aceSharedPool-7]  [WARN ] [.i.k.KubernetesInternalRuntime 257]  - Failed to start Kubernetes runtime of workspace workspace0u1rry12xnvp09av.
org.eclipse.che.workspace.infrastructure.kubernetes.KubernetesInfrastructureException: Operation: [create]  for kind: [Ingress]  with nam

[2021-07-09 18:35] Shashi0838 commented on #19671
I have deployed in AWS EKS with Helm

[2021-07-09 20:45] dkwon17 opened #20116 "Cannot deploy che-operator:7.33.0 with chectl"
### Describe the bug

After starting `crc` and running:
[code]
I receive this output:
[code]

Alongside this log message from the che-operator pod:
![image](https://user-images.githubusercontent.com/83611742/125132631-97d4ed00-e0d2-11eb-87b4-9b1d66e6df77.png)
[code]

### Steps to reproduce
1. Run `crc start --memory=16192 --cpus=4`
2. Run `chectl server:deploy --installer operator -p crc --che-ope

[2021-07-09 22:52] rminchev1 commented on #20115
Okay, I figured it out, In my deployment I used the helm charts from [here](https://github.com/eclipse-che/che-server/tree/main/deploy/kubernetes). The faulty one is [che-devfile-registry](https://github.com/eclipse-che/che-server/tree/main/deploy/kubernetes/helm/che/custom-charts/che-devfile-registry). It doesn't seem updated and it lags behind  [this one](https://github.com/eclipse-che/che-devfi

[2021-07-09 22:54] rminchev1 commented on #20115
Should we have have this configmap updated?
https://github.com/eclipse-che/che-server/blob/main/deploy/kubernetes/helm/che/custom-charts/che-devfile-registry/templates/configmap.yaml

[2021-07-10 07:25] flacatus commented on #20116
Hello @dkwon17 !
Did u update chectl? I cannot reproduce your issue in my local machine

[2021-07-10 08:50] flacatus commented on #20116
[code]

[2021-07-11 23:03] dkwon17 commented on #20116
Hello @flacatus , I updated `chectl` to the `next` channel and it is now working. Thank you!

[2021-07-12 06:22] sleshchenko commented on #20099
As far as I see it happens due broken yaml:
[code]
^ spaces are missing, it should be like:
[code]
I'm not sure who owns chepullreq4/pr-check-files, adding che theia area.

[2021-07-12 06:32] mkuznyetsov commented on #20101
upd: operator PR still need tweaking and testing at this moment

[2021-07-12 06:34] sleshchenko commented on #20116
Closing this issue assuming that there is a place for misusage when the newer/older image is used with not-compatible deployment resources.
If anyone thinks that it's still an issue - please reopen or create a new one.

[2021-07-12 06:34] #20116 closed

[2021-07-12 06:37] sleshchenko commented on #20115
Seems it duplicates https://github.com/eclipse/che/issues/20100
The reference to fix can be found inside.

[2021-07-12 06:37] #20115 closed

[2021-07-12 07:00] ibuziuk commented on #19696
@sleshchenko we got some complaints about this particular issue on workspaces.openshift.com ?
Will it be possible to prioritize it? At least we need to provide a clear message on UI that Safari is not yet supported

[2021-07-12 07:16] RomanNikitenko commented on #20099
I'm not sure as well, maybe @dmytro-ndp knows...

[2021-07-12 07:43] svor commented on #16685
@ibuziuk We still have 3 subtasks to be done, you can see that in the description

[2021-07-12 08:40] dmytro-ndp commented on #20099
@RomanNikitenko: Che QE team is responsible for Che Theia PR check on CRW Jenkins including `Try it` buttons.

[2021-07-12 08:46] l0rd commented on #19939
If it's pretty quick to fix then go ahead. But if it takes more than one week of work I would put that on hold: I haven't heard of customers/users being affected by this issue.

[2021-07-12 09:27] Ohrimenko1988 opened #20117 "Plugins tests on the openshift-ci fail because of unable to get a token"
### Is your task related to a problem? Please describe.
Plugins tests on the openshift-ci fail because of unable to get a token

[code]

### Describe the solution you'd like

Investigate a reason and fix it.
### Describe alternatives you've considered

### Additional context

[2021-07-12 10:44] tolusha opened #20118 "Correct CSVs and metadata in order to get scorecard to fully pass its tests"
### Is your task related to a problem? Please describe.

SDK Scorecard Validation
Che-Operator project was checked against the default Scorecard image configuration which is
added by default in the projects which are generated using SDK. These tests are being
run by CVP now, but are not gating releases at this time. Here is the scorecard test
output against your latest bundle version

[code]

[cod

[2021-07-12 11:02] sleshchenko commented on #20114
Well, this timeout is on K8s side.
What you can do with that, remove `FailedMount` from `CHE_INFRA_KUBERNETES_WORKSPACE__UNRECOVERABLE__EVENTS`
https://www.eclipse.org/che/docs/che-7/installation-guide/advanced-configuration-options-for-the-che-server-component/

Closing it but if you have any issue with that - feel free to reopen and add questions.

[2021-07-12 11:08] tolusha commented on #18814
We can detect if gateway pod is being deployed by checking values in a `che` configmap but this configmap is created after gateway pod is deployed

[2021-07-12 11:14] sleshchenko commented on #20112
@tolusha @mmorhun any ideas/suggestions?

[2021-07-12 11:29] ibuziuk commented on #20052
@tsmaeder do you mind closing the issue if not reproducible ?

[2021-07-12 11:34] ibuziuk commented on #16685
@svor right, there are some bullet points in the description but looks like there are no related issues for sub-tasks. is it planned to be addressed in the next sprint according to the label?

[2021-07-12 12:07] tsmaeder commented on #20052
I'm not sure, did we

* understand what the problem was?
* improve error reporting to have a better understanding next time the problem happens?
* fix the code or procedures so it doesn't happen again?

Any of those would make me happy. Otherwise, I think we should wait a couple of weeks before concluding the problem went away.

[2021-07-12 12:07] sleshchenko opened #20119 "DevWorkspace support is broken DWO can't start due missing service"
### Describe the bug
DevWorkspace support is broken DWO can't start due missing service.

TODO add more info

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikub

[2021-07-12 12:17] zWingz commented on #20112
![image](https://user-images.githubusercontent.com/13031838/125286214-21442380-e34e-11eb-9357-9e6d7ff7f113.png)
It throw error when run `chectl server:deploy`

[2021-07-12 12:33] mkuznyetsov opened #20120 "Rename nightly channel to next in Che operator"
### Is your task related to a problem? Please describe.

As we did the nightly -> next migration across Che projects, (https://github.com/eclipse/che/issues/19291)  which was mainly about development image tag, now we should also do the transition of 'nightly' channel in Che Operator to next
### Describe the solution you'd like

We'll need to rename/replace all things "nightly" in Che Operator. Co

[2021-07-12 12:39] sleshchenko commented on #20107
I did not find the actual rule v1 easily but devfile v2 does not allow . at all: > https://github.com/devfile/api/blob/main/pkg/apis/workspaces/v1alpha2/projects.go#L27

So, it's kind of expected behaviour unless dashboard should report the proper error message.

[2021-07-12 12:41] nickboldt opened #20121 "verify that branches are created as part of che release"
### Is your task related to a problem? Please describe.

For JWTProxy, Configbump and KIP, we don't release anything every week, but we do create a new 7.yy.x branch every sprint.

### Describe the solution you'd like

So we should have a simple curl check to verify that the branch is actually created. Could also do this for the other 20 projects too, since downstream development requires these br

[2021-07-12 13:04] tolusha commented on #20100
@sleshchenko @svor
Everything was working in 7.32.0
The problem can't be with helm templates.
https://github.com/eclipse-che/che-server/pull/48 is not relevant.

[2021-07-12 13:09] tolusha commented on #20112
@zWingz
`-b=cloudide.com` bothers me... Is it resolvable host?

[2021-07-12 13:13] zWingz commented on #20112
It is a custom hosts. I add it into `/etc/hosts`

[2021-07-12 13:58] svor commented on #16685
@l0rd do you want us to take this epic into the next sprint and finish it?

[2021-07-12 14:04] ibuziuk commented on #16685
just for the record, default CPU limits might be applied on workspaces.openshift.com infra in the future. So, we need to make sure that all our devfiles & plugins specify the limits & requests explicitly. Otherwise, the default might be applied, which could lead to the performance issues during the workspace usage.

[2021-07-12 14:05] svor commented on #20100
@vitaliy-guliy Could you please check if the problem can be related to these changes https://github.com/eclipse-che/che-devfile-registry/pull/420

[2021-07-12 14:05] tolusha opened #20122 "Failed to start a workspace on OpenShift cluster"
### Describe the bug

Failed to start a workspace on OpenShift cluster

### Che version

 - [x] nightly

### Steps to reproduce
1. Deploy Eclipse Che on openshift
2. Try to start a workspace

### Runtime
   - [x] Openshift (include output of `oc version`)

### Screenshots

N/A

### Installation method
   - [x] chectl

### Environment
   - [x] Cloud
       - [x] Amazon

### Eclipse Che Logs

[code]

[2021-07-12 14:07] vitaliy-guliy commented on #20100
Yes, checking it..

[2021-07-12 14:13] l0rd commented on #16685
@svor yes for "Specify che-theia-plugins memory requests in che-theia-plugin.yaml" and "Add a che-plugin-registry PR check to avoid editors or plugins without mem/cpu requests and limits".

The last one has lower priority and needs a dedicated epic (I will create it).

[2021-07-12 14:14] tolusha commented on #20112
so, did `che-eclipse-che.cloudide.com` is added to  `/etc/hosts` as well ?

[2021-07-12 14:21] flacatus commented on #20112
![install](https://user-images.githubusercontent.com/59865209/125303424-13ca7180-e32d-11eb-8bbe-b57b2867f4be.jpeg)

@tolusha @zWingz For me is working without `-b=cloudide.com`. Also I can start an workspace without problem:

![workspace](https://user-images.githubusercontent.com/59865209/125303676-42e0e300-e32d-11eb-809e-c083bf405d0b.jpeg)

[2021-07-12 14:23] zWingz commented on #20112
@tolusha YES, All hosts are added to `/etc/host`

[2021-07-12 14:32] mkuznyetsov commented on #20101
blocker discovered during operator testing: https://github.com/eclipse/che/issues/20122

[2021-07-12 14:33] vitaliy-guliy commented on #20100
Links to the devfiles were wrong for single-host deployments.
We form links, based on CHE_DEVFILE_REGISTRY_URL and it must be set into devfile registry container.

When deploying Che with helm, the variable is not set.

You could also open the conrainer logs and scroll to top.
There is a message, indicating missing variable.
[code]

[2021-07-12 15:08] sleshchenko opened #20123 "Dashboard should report that it does not support Safari"
### Is your task related to a problem? Please describe.
We don't support Safari since it handles some requests/attaching cookies in different way than other browsers. So, instead of failing later, we should inform users that Safari is not supported.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context
downstream issue https://issues.redhat.com/

[2021-07-12 15:08] sleshchenko commented on #19696
Created a separate issue for that: Dashboard should report that it does not support Safari https://github.com/eclipse/che/issues/20123

[2021-07-12 15:21] svor commented on #16685
OK, we'll take it into the next sprint

[2021-07-12 15:22] virtuakazib commented on #20114
Thank you.  Yeah, sorry.  I probably should have opened this as a question instead of a bug.

[2021-07-12 15:59] pgirishibm opened #20124 "Creating Multiple workspaces in the same user account fails partially"
## Summary
Creating multiple workspaces within a single user namespace fails partially.

## Relevant information

We have Eclipse Che deployed on IBM Kubernetes Service. We deployed eclipse che via Operatorhub.

Che Version : 7.20.1
Deployment : Operator
Environment : IKS

We are using the concept of workspace pool. We have one account create 100 RUNNING workspaces, and as users login, we assign t

[2021-07-12 16:05] skabashnyuk commented on #20124
Hello @pgirishibm can you please provide.
 -  enable debug mode on workspace startup and provide logs from failed workspace
 - full log from che-server
 - Events from k8s cluster. Especially failed.

I would say that is antipattern of regular usage. Have you considered 1-3 workspaces per user? Why did you choose this way?

[2021-07-12 16:51] skabashnyuk commented on #19236
my proposal is to send desired namespace name as the parameter of factory/resolve (which can take an unlimited number of parameters).

Dashboard does not know it. In that case, we need to provide a service that will tell what the namespace names should be.

Users can have one and only one NS.

[2021-07-12 17:15] mshaposhnik commented on #19236
Service is already present and dashboard making requests to it. [Link](https://github.com/eclipse-che/che-server/blob/main/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/api/server/KubernetesNamespaceService.java#L52)

[2021-07-12 17:57] dmytro-ndp commented on #20099
@sleshchenko: thanks for the root cause analysis!

Small remark: `source` is `projects` property and so should be placed at the `projects` level:
[code]

[2021-07-12 20:50] dmytro-ndp commented on #20099
Fixed in CRW Jenkins source code https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/merge_requests/675

[2021-07-13 01:59] zWingz commented on #20112
@flacatus It work without `-b=cloudide.com` for me...
![image](https://user-images.githubusercontent.com/13031838/125378230-f47d2400-e3c0-11eb-9b69-a4c18cfe16c8.png)

[2021-07-13 04:38] pgirishibm commented on #20124
2 reasons for this
1.  We save the time for creating a new workspace when the user comes in for the first time.  Creating a workspace does take upto a  minute at times.
2. Creating a workspace has an issue with the ingress reconnecting which ends up reloading all the workspaces for us.  https://github.com/eclipse/che/issues/19796

With the pool, we avoid the creation time and also avoid any new wo

[2021-07-13 06:27] #20119 closed

[2021-07-13 06:35] tolusha commented on #20100
I've just deployed 7.32.0
I see the very same message
[code]
But I can create a workspace.

[2021-07-13 07:12] skabashnyuk commented on #19236
@mshaposhnik I think it's better to rethink/refact che-server internals and create k8s namespace when it's needed.

[2021-07-13 07:14] skabashnyuk commented on #20122
Duplicate. Closing in favor of https://github.com/eclipse/che/issues/20072

[2021-07-13 07:14] #20122 closed

[2021-07-13 07:27] svor commented on #20100
It means that `CHE_DEVFILE_REGISTRY_URL` environment variable wasn't set  for che-devfile-registry pod, probably the message should be improved. For my understanding `CHE_DEVFILE_REGISTRY_URL` should be defined in any case. If to compare configmap deployed via operator and helm we can see that env was set in operator deployment:
![screenshot-127 0 0 1_34883-2021 07 13-09_56_36](https://user-images

[2021-07-13 07:30] tolusha commented on #20037
The doc was updated.

[2021-07-13 07:30] #20037 closed

[2021-07-13 08:23] #19990 closed

[2021-07-13 08:45] l0rd commented on #20077
@svor do you think that your team could take this issue in current sprint?

[2021-07-13 08:48] l0rd commented on #19869
@skabashnyuk would you be able to work on this in current sprint? Looks like critical one

[2021-07-13 08:52] l0rd commented on #19858
@sleshchenko with DW I would like to start deprecating sub-domain routing (and only support path routing). Is this issue related to DWR supporting sub-domains?

[2021-07-13 08:57] skabashnyuk commented on #19671
Looks like an infrastructure/cluster-related problem. Do you see any suspicious events in k8s?

[2021-07-13 09:03] skabashnyuk commented on #19869
@l0rd we planning to work on https://github.com/eclipse/che/issues/19697

[2021-07-13 09:04] ibuziuk opened #20125 "che-plugin-registry devfile fails on workspaces.openshift.com (shellcheck plugin not found)"
Steps to reproduce - https://workspaces.openshift.com/#https://github.com/eclipse-che/che-plugin-registry

Related to https://github.com/eclipse-che/che-plugin-registry/blob/main/devfile.yaml#L40

[code]

[2021-07-13 09:04] ibuziuk commented on #20125
cc: @ericwill @sunix

[2021-07-13 09:31] Shashi0838 commented on #19671
No. There is nothing as such

[2021-07-13 09:35] #19995 closed

[2021-07-13 10:08] svor commented on #20077
@l0rd we'll take a look at it. Added as unplanned into current sprint

[2021-07-13 10:23] l0rd commented on #19697
I am trying to understand the impact of this issue and when users would be impacted by this issue. Why Role/RoleBindings should be updated? When does a user face this issue?

[2021-07-13 10:26] l0rd commented on #19869
@skabashnyuk help me understand the impact of this issue vs #19697. This issue affects installations on CRC (workspaces fails to start) whereas #19697 looks like a less common use case (Che SA roler and rolebindings are updated, but [I am not sure why](https://github.com/eclipse/che/issues/19697#issuecomment-878968195)).

[2021-07-13 10:27] pgirishibm commented on #20124
ah! by account i meant a single user.  Lets  say username pooladmin.  We have a component which creates workspaces in the pooladmin's  namespace. So a single user namespace would have 100 workspace pods created. and a workspace from that pooladmin namespace would be 'assigned' to any user who logs into eclipse che.

[2021-07-13 10:32] skabashnyuk commented on #20124
Not sure you noticed that in the latest Che version all namespace strategies except "per-user" have been deprecated and removed. What is the reason for you not to use individual workspaces per user?