[2019-06-19 08:18] #13058 closed

[2019-06-19 08:20] #13426 closed

[2019-06-19 08:26] skabashnyuk commented on #12926
@slemeur all issues are done. can we close this epic?

[2019-06-19 08:32] skabashnyuk commented on #13557
AFAIK last time we think about such kind of issue was minimum memory requirements to start che locally. Is this something that is no longer in our list?

[2019-06-19 08:32] #13354 closed

[2019-06-19 08:50] skabashnyuk commented on #13529
@l0rd is this issue https://github.com/eclipse/che/issues/13533 will be handled in your pr  https://github.com/eclipse/che-devfile-registry/pull/15 ? Do you know?

[2019-06-19 08:51] sleshchenko opened #13574 "Make Che Theia respecting self-signed certificate"
### Description
Theia fails to request Che Server if Che is deployed in a secure manner with a self-signed certificate.

It's a subtask of https://github.com/eclipse/che/issues/12634.

### Reproduction Steps
1. Deploy Che with self-signed certificates used.
[ocp.sh](https://github.com/eclipse/che/blob/master/deploy/openshift/ocp.sh) may be used to do it
[code]
2. Create Che7 workspace with Che The

[2019-06-19 08:52] sleshchenko commented on #12634
Che Plugin broker is almost adapted to self-signed certificates but unfortunately, Theia does not work out-of-the-box. Here is a demo of state of Che with self-signed certificates with changes that will be merged soon https://github.com/eclipse/che/pull/13565.
For Theia part, there is a separate issue https://github.com/eclipse/che/issues/13574
cc @l0rd @slemeur @skabashnyuk @evidolob

[2019-06-19 09:13] tomevision opened #13575 "Error starting che 7 multiuser"
i was trying to start che 7 multiuser on my virtual machine but it gives me this issues

 PostgreSQL pod bootstrap [started]
 scheduling [started]
 scheduling [failed]
→ ERR_UNEXPECTED_PHASE: Running (Pending expected)
 PostgreSQL pod bootstrap [failed]
 → ERR_UNEXPECTED_PHASE: Running (Pending expected)
✅  Post installation checklist [failed]
 → ERR_UNEXPECTED_PHASE: Running (Pending expected)
Er

[2019-06-19 09:51] metlos commented on #13533
This is probably caused by the samples already being upgraded to the latest version of the devfile schema, while the server to which @rkratky tried to deploy them to wasn't.

@rkratky can you please confirm that the error persists if you use the examples with Che 7 RC2?

[2019-06-19 11:10] mmorhun opened #13747 "Che Plugins panel is broken on minishift"
#### Description
`Che Plugins` panel always shows `Your registry is invalid` message, even for default Che plugins registry.
![registry-invalid](https://user-images.githubusercontent.com/15607393/59760754-be315100-929b-11e9-857b-9731cdb708a1.png)

From pod logs:
[code]

#### Reproduction Steps
Create a workspace from a devfile, open `Che Plugins` panel

[2019-06-19 11:27] Ohrimenko1988 opened #13576 "Debug session can't be launched in the Theia editor"
### Description
Debug session can't be launched in the Theia editor and no errors or notifications shown. This functionality was available last week.

### Reproduction Steps
1) Launch workspace with the Theia editor and Java language server plugin
2) Build and run an application in debug mode
3) Open "Debug" view and click on "Run Debug" (green triangle) button

**Expected behavior:**
Debug sessio

[2019-06-19 11:52] l0rd commented on #13529
@skabashnyuk that issue looked related to an outdated sample. The devfile I have added in the PR is not affected by that problem.

[2019-06-19 12:03] mmorhun opened #13577 "Che Theia factory plugin logs error on start"
### Description

On Che Theia start, Factory plugin logs error:

[code]

It should be fixed, because it may lead to uncorrect behaviour of the factory plugin.

### Reproduction Steps

Create a workspace with Theia IDE from a devfile.

#### Environment

Minishift v1.34.0+f5db7cb, single user Che

[2019-06-19 12:32] apupier commented on #13155
I just tried on che.openshift.io and seems that it is still nto working but with a differen tbehavior.

BNow there is the tab "Get OpenSHift Console URl" opening but it stays empty.
there are 3 errors:

`Content Security Policy: The page’s settings blocked the loading of a resource at data:image/svg+xml;base64,BEGINNINGOFSOMETHINGLOOKINGLIKEATOKEN… (“img-src”).`
`Content Security Policy: The page’

[2019-06-19 12:41] mmorhun opened #13578 "Running two or more VSCode extension in the same sidecar is broken"
### Description

According to plugins `meta.yaml` specification, it is possible to run in the same sidecar a few Che Theia plugins. If add two VSCode extensions, the plugin which contains them are displayed in the `Che Plugins panel` (select `Installed` filter), but none of them works.
I've checked the sidecar, it has both extensions binaries downloaded in `/plugins/sidecars/generate-plugin-id`.

[2019-06-19 12:59] akurinnoy commented on #13357
hello @slemeur
I'm confused a bit with the description.
Could you please elaborate on it? Where is the bug? What is expected behavior?

[2019-06-19 13:16] artaleks9 opened #13579 "Import zip project from dashboard does not work properly"
### Description
Add a project from the dashboard by import _zip_ doesn't work as expected. On CHE6 this functionality worked well.

**Reproduction Steps**
* Open the dashboard, select a stack (e.g. _Java Maven_)
* Press  _Add or Import_ button and select _Zip_
![dashboard-add -project-zip](https://user-images.githubusercontent.com/5408906/59768137-7961e600-92ac-11e9-9bda-c56096cd032f.png)

* Type

[2019-06-19 13:17] sleshchenko opened #13580 "Show a confirmation dialog when Ctrl+W is pressed in the terminal"
### Description
`ctrl`+`w` is the standard "kill word" (aka werase) hotkey in terminal, and it's weird to see Che Theia tab closed after trying to erase the last word. This issue is a feature request to show a confirmation dialog when Ctrl+W is pressed in the terminal.

### Reproduction Steps
1. Start Che 7 Workspace.
2. Open terminal.
3. Press `ctrl`+`w`.
**Actual**: Che Theia browser tab is clos

[2019-06-19 13:41] #13576 closed

[2019-06-19 13:55] slemeur opened #13581 "Not outputs displayed while starting a workspace from a factory"
### Description
When a user is starting a workspace from a factory with the following pattern:
{che-host}/f?url={repo-url}

No outputs are getting displayed, while we used to get an area to display them.
![Capture d’écran 2019-06-19 à 12 08 36](https://user-images.githubusercontent.com/1636769/59771758-aca37580-92aa-11e9-832a-8d7b161efb04.png)

**OS and version:**
Che 7 RC 2

**Diagnostics:**

[2019-06-19 13:59] slemeur opened #13582 "Unconsistent error message displayed when error(s) in the devfile"
### Description
When starting a workspace from a devfile using the factory URL:
{che-host}/f?url={repo}

If the devfile is getting some errors, then the error is displayed in the notification popup, but there is another warning displayed.

![Capture d’écran 2019-06-19 à 12 05 15](https://user-images.githubusercontent.com/1636769/59771919-0efc7600-92ab-11e9-98c0-af10aa74bf09.png)

We should make

[2019-06-19 14:26] #13518 closed

[2019-06-19 14:34] skabashnyuk commented on #13578
CC @ibuziuk @amisevsk

[2019-06-19 14:57] Jeans1984 commented on #11817
On IOS no Browser is working. Tried to disabel „prevent Cross-Site Tracking“ as mentioned in another  link in#1431 übt this still dös Not work.
In Chrome or Firefox on IOS I don‘t even see an option to alow third Party Cookies. Most of the links in Google only mention non IOS versions of the browsers.

[2019-06-19 15:04] Dog2puppy commented on #11817
The reason it doesn’t work on iOS with other browsers is because under the hood all browsers on iOS have to use WebKit. So basically all browsers are just a skin and they’re all Safari pretty much.

[2019-06-19 15:27] l0rd commented on #13574
@sleshchenko thanks for that analysis. @evidolob @ashumilova I am tagging it with `team/ide2`

@slemeur I have labelled it as SEV1 but I would consider that for 7.1.0 not as a blocker for GA

[2019-06-19 17:54] jagraj opened #13583 "Multi user feature fails on IBM Cloud Private"
### Description

I am trying to install eclipse che on IBM Could private with multi user feature enabled and che pod logs shows bunch of errors related to open id connect.

### Reproduction Steps

1. Install IBM Cloud private 3.2.0
2. Install Che with multiuser : "true"

**OS and version:**

Linux4.4.0-148-generic #174-Ubuntu SMP Tue May 7 12:20:14 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**Diagno

[2019-06-20 03:54] amisevsk commented on #13583
Hi @jagraj, a few questions

1. How are you attempting to install Che? Are you using `chectl`, etc?
2. `Caused by: java.io.FileNotFoundException: http://keycloak-codewindche.<proxy-ip>.nip.io/auth/realms/che/.well-known/openid-configuration` seems to suggest there is an issue getting the keycloak config; can you confirm it's available?

[2019-06-20 03:57] amisevsk commented on #11817
I see this error from time to time, but in my case it's caused by being logged in with the wrong credentials (e.g. accessing our development cluster while logged into my normal account). Is the error reproducible in an incognito/private window?

[2019-06-20 04:01] amisevsk commented on #13582
Also neither error presented is actually illustrative. Looking at the devfile in the [quarkus demo repo](https://raw.githubusercontent.com/sunix/che-quarkus-demo/c61aff32303e74d817bb81d9f28dde41a07db213/devfile.yaml), the message shown should mention that
[code]
is not valid; when I start a workspace using the old devfile format the message I get is more illustrative, as it mentions that the devfi

[2019-06-20 04:03] amisevsk commented on #13580
This one has been bothering me for awhile as well -- I've closed a Che tab so many times :)

[2019-06-20 07:28] azatsarynnyy commented on #13580
Have you tried `confirmExit` preference?

![image](https://user-images.githubusercontent.com/1636395/59829353-e7a6b700-9345-11e9-980f-ed5acd9c426d.png)

[2019-06-20 07:40] slemeur commented on #13357
Check in the previewURLs panel.
It seems that  `${server.8080}/tcp` which is not compute properly.

[2019-06-20 07:45] akurinnoy commented on #13357
I thought the same. But yesterday I discussed this with @RomanNikitenko and found out that it was done deliberately. The reason was to not show there the whole URL which may be too long to fit the panel.

[2019-06-20 07:50] slemeur commented on #13357
Then what's the benefit to the end-user to see that information?
Let's just display the proper URL, make it clickable and truncate it if it's too long. Consider displaying the full URL on hover in a tooltip.

[2019-06-20 07:55] slemeur commented on #12971
@skabashnyuk : Do you have a workaround for this? Are you planning to take this issue in your sprint soon?

[2019-06-20 07:57] akurinnoy commented on #13357
yes, that makes sense to me
thanks!

[2019-06-20 07:57] skabashnyuk commented on #12971
Not in the plan at this moment. Planned "After GA" stage

[2019-06-20 08:01] RomanNikitenko commented on #13357
The behavior came from task extension when I was reworking this one to plugin.
But I think the point was to match server defined from dashboard
![server](https://user-images.githubusercontent.com/5676062/59831390-60a80d80-934a-11e9-8725-4d0196aaee76.png)
So user define some server in a config and can see it on the panel

[2019-06-20 08:10] slemeur commented on #12971
Is there a workaround for this?

[2019-06-20 08:11] skabashnyuk commented on #12971
I don't know. We don't know the cause of https://github.com/eclipse/che/issues/12988 yet.

[2019-06-20 08:12] monaka commented on #13234
fixed by #13571

[2019-06-20 08:12] #13234 closed

[2019-06-20 08:19] slemeur commented on #13357
I think it's going to be confusing for the end-user. He might even not understand where this is coming from and there is no way to edit/configure that information.

As a user, when I run a task that is starting a process with a previewURL associated, I'm intending to find a place where I can see the previewURL (and all the ones started).
Also, as a user, seeing the panel for PreviewURLs, I'm inten

[2019-06-20 08:23] monaka commented on #13583
@jagraj It won't be worked if you use Helm chart for your deployment.
Templates for multi-user may be broken. (Single-user will be work fine.)
It was discussed in https://github.com/eclipse/che/pull/11761. But no one fixed yet AFAIK.

[2019-06-20 08:33] monaka commented on #13558
I saw #13560 and it will work as a hot-fix. But it's not good idea to override Che's default values by the default value in `values.yaml`, IMO.
I'll send the another PR within a couple of days.

[2019-06-20 08:39] sleshchenko commented on #13357
@slemeur Looks like it's a good time to raise the issue that commands in Devfile do not support preview URLs. So, the described issue may be not actual for Che 7 with Devfiles or maybe it's needed to create an issue to support previewURL in commands of devfile.

[2019-06-20 08:40] monaka commented on #13155
@apupier  Hmm, I'm not still sure but "Content Security Policy" is caused by settings in the server infrastructure side, a lower layer than Che. Did you contact to the support staff in `che.openshift.io` ?

[2019-06-20 09:33] slemeur commented on #13396
As a user, I would like to know all the tasks that are currently running.
Should we list those somewhere ?

[2019-06-20 09:39] slemeur opened #13584 "Impossible to get a terminal in a workspace"
### Description
It is impossible to me to get a terminal in my workspace, created from the default stacks
Either by going to:
* « Che Workspaces » panel
* Menu « Terminal »
* Command Palette

![impossible-get-terminal](https://user-images.githubusercontent.com/1636769/59838878-0611b000-9350-11e9-9510-5f8638e9d70f.gif)

### Reproduction Steps
Create a workspace from the default stack java-maven. Ad

[2019-06-20 09:40] sunix opened #13585 "Che-theia: workspace view actions broken (click on 'New terminal' or any task don't do anything)"
Workspace view actions broken (click on 'New terminal' or any task don't do anything)

**OS and version:**
Minikube - che-theia-next

[2019-06-20 09:44] slemeur opened #13586 "Provide clear naming for containers associated to plugins"
### Description
Righ now, some plugins are running in a specific container, but the name of the container is auto-magically generated and doesn’t provide any meaning to the end-user.

![Capture d’écran 2019-06-20 à 10 34 33](https://user-images.githubusercontent.com/1636769/59839180-8d5f2380-9350-11e9-8fd5-85346b16a744.png)
Here the container `0d2` is running the extension Java, but the user has

[2019-06-20 09:48] slemeur commented on #340
Closing - covered with XML Plugin in Che 7

[2019-06-20 09:48] #340 closed

[2019-06-20 09:51] azatsarynnyy commented on #13580
In Che Theia, the setting prevents reloading the page accidentally but doesn't prevent closing it.
In bare Theia, it works in both cases.

[2019-06-20 10:59] Ohrimenko1988 opened #13590 "Running terminal process can't be opened or terminated by IDE top menu"
### Reproduction Steps
 - Create and launch workspace from devfile <https://gist.github.com/Ohrimenko1988/93f5426f4ebc1705c55feb8ff0396a49>
 - Open workspace and launch "build" command
 - After a successful build, launch "run" command
 - Confirm notification and open application in preview widget
 - Close "run" tab in the terminal
 - Ensure that application still running
 - Click on "Show Running

[2019-06-20 10:59] RomanNikitenko commented on #13357
@slemeur I don't mind, I just explained the history of this question...

[2019-06-20 11:15] evidolob commented on #13389
It should be fixed by eclipse/che-theia#151

[2019-06-20 11:15] #13389 closed

[2019-06-20 11:46] slemeur opened #13591 "Add ability to create a new workspace from the dashboard with a devfile"
### Description
Right now, the dashboard does not provide the ability to create a new workspace from a devfile.

In previous versions, we were providing the ability to create a workspace from a workspaceConfig.

![Capture d’écran 2019-06-20 à 12 46 02](https://user-images.githubusercontent.com/1636769/59843712-66f1b600-9359-11e9-810c-7f106749cd96.png)

The simplest and quickest way would be by a

[2019-06-20 12:01] slemeur commented on #13580
so it sounds more like a bug @azatsarynnyy

[2019-06-20 12:16] slemeur opened #13592 "Clarify names of default stacks"
### Description
![Capture d’écran 2019-06-20 à 14 13 20](https://user-images.githubusercontent.com/1636769/59848579-cfdf2b00-9365-11e9-8559-e38292bc5592.png)

- We should remove from the name "Theia IDE". the default stacks are all provided with Theia IDE.
- Also there are 2 pythons stacks. I would rename the one for Django just being "Django"

### Reproduction Steps
**OS and version:**
Che 7 RC

[2019-06-20 12:21] slemeur commented on #13590
Link to https://github.com/eclipse/che/issues/13584

[2019-06-20 12:53] slemeur opened #13593 "Cleanup samples to not contain .codenvy.json"
### Description
The samples that are getting packaged with the default stacks should not have `.codenvy.json` which is obsolete.
Those should be changed by devfile

[2019-06-20 13:10] slemeur opened #13594 ""/project" is not mount into the runtime container of the default python stacks"
### Description
All default stacks are provided with runtime container.

In this runtime container the "/project" is not mount. So the default tasks are also not working.

![Capture d’écran 2019-06-20 à 15 10 05](https://user-images.githubusercontent.com/1636769/59851686-88f53380-936d-11e9-916a-09991468769a.png)

### Reproduction Steps
- Create workspace from stack "Python"
- Add project "consol

[2019-06-20 13:26] l0rd commented on #13529
Other nice to have stacks...

| stack |
| ------ |
| quarkus |
| jib |
| ko |
| micronaut |
| microprofile |
| kubernetes-operator |
| che |
| theia |
| che-operator |
| chectl |
| che-plugin-broker |
| vs-code-extension-dev |
| che-doc |

[2019-06-20 13:40] sleshchenko commented on #13594
@slemeur As far as I see console python Devfile contains another project https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/python/devfile.yaml#L10
Maybe outdated stack from stacks.json is used? Can you made a screenshot of Dasboard when you choose this stack?

[2019-06-20 13:59] skabashnyuk commented on #13529
@l0rd are they blocker for GA?

[2019-06-20 14:06] l0rd commented on #13529
"nice to have"

[2019-06-20 14:12] slemeur commented on #13594
![Capture d’écran 2019-06-20 à 16 11 43](https://user-images.githubusercontent.com/1636769/59855875-1fc5ee00-9376-11e9-8fa4-c410248e4df9.png)

[2019-06-20 14:21] sleshchenko commented on #13594
@slemeur Ah, I got it. Actually, projects volume is mount but you created a workspace with project that you choose from `samples.json` but not that is provided by devfile. And project name is hardcoded in command, it's why it's failed.
As far as I know, Ann is reworking UI: UD should not propose projects from `stacks.json` but it should show some info about project that is built-in. See Mario's mo

[2019-06-20 14:33] sleshchenko commented on #13594
Note if you not chosen a project - then workspace will be created without projects. Ann's fixing it as well.

@slemeur I see two issues here, would you reformulate this issue/create new:
- project from devfile is not respected by UD during workspace creation;
- commands in python devfile have hard-coded project path, replace it with macros it if is available;

[2019-06-20 15:03] Dog2puppy commented on #11817
Was able to reproduce in a private window.

[2019-06-20 15:06] slemeur opened #13596 "Starting a workspace from devfile reached timeout with PVC but not when restarting"
### Description
When starting a workspace from this repository:
https://github.com/sunix/che-quarkus-demo
I've been reaching a timeout:
![Capture d’écran 2019-06-20 à 15 11 48](https://user-images.githubusercontent.com/1636769/59859545-36237800-937d-11e9-9643-c0d41a56bf81.png)

I can see the workspace has been created and its definition is properly set from the dashboard.

If I start the workspa

[2019-06-20 15:10] slemeur opened #13597 "User is stuck when Pod creation timeout happen"
### Description
I have this error:
![Capture d’écran 2019-06-20 à 17 07 15](https://user-images.githubusercontent.com/1636769/59859869-e09b9b00-937d-11e9-88b4-3eca9dd3be78.png)

As a user, I have no idea why I reached the timeout and what I should be doing to overcome this.

### Reproduction Steps

**OS and version:**
OCP 4.1
Che 7 RC2

[2019-06-20 18:45] amisevsk commented on #11817
Hmm, @davidfestal any thoughts here? I don't use the Github login option, and don't really follow the full RHD login process.

[2019-06-21 06:02] tolusha opened #13599 "Python language server failed to start"
### Description
I am trying to start workspace with a python plugin. Once workspace is started plugin downloads binaries (see python output panel):
[code]
But then in plugin container logs:
[code]
And plugin functionality is broken.

My investigations shown that `/tmp/vscode-unpacked/...` directory is cleaned up when browser is refreshed.

### Reproduction Steps

**OS and version:**
Che-7.0.0-CR1

[2019-06-21 06:13] slemeur opened #13600 "Java tooling not starting (or taking long time) with default stacks"
### Description
Starting a workspace from the default stack is taking a while. The Java tooling seems to never end initializing.

[default-stack-java.mp4.zip](https://github.com/eclipse/che/files/3313206/default-stack-java.mp4.zip)

### Reproduction Steps
Create a workspace from the stack "java-maven". add project springboot-http-booster

**OS and version:**
Minikube 1.0.0 + chectl
Mac OS 10.14.5

[2019-06-21 06:32] slemeur opened #13601 "Provide logs/outputs when Java LS is importing dependencies"
### Description
As a user, I'd like to be able to see the logs of the Java tooling when it is doing the first import of the dependencies. This would provide me feedback that the tool is still working and retrieving datas, instead of showing a progress stuck at "57%" .

![Capture d’écran 2019-06-21 à 08 28 38](https://user-images.githubusercontent.com/1636769/59902620-0ddc5d80-93ff-11e9-9458-df13

[2019-06-21 06:35] tolusha commented on #13599
It seems side-car container is being restarted....

[2019-06-21 06:47] tolusha commented on #13599
I can't reproduce with Che-7.0.0-CR2

[2019-06-21 06:49] slemeur opened #13602 "Default java-maven stack terminal lack of functionalities"
### Description
The terminal is not providing any completion and capabilities that are usually provided.

![terminal-missing-features](https://user-images.githubusercontent.com/1636769/59903225-b63ef180-9400-11e9-8472-10a70a3917b6.gif)

- Impossible to do "up" key to get the previous command

### Reproduction Steps
- Create a workspace with java-maven
- add project spring-boot-http-booster
- get a

[2019-06-21 06:51] slemeur opened #13603 "Maven dependencies are download each time the workspace is getting restarted"
### Description
Start a workspace, wait for dependencies to be loaded, stop the workspace and restart it.
- Dependencies are reloaded by the Java LS

### Reproduction Steps
Start a workspace, wait for dependencies to be loaded, stop the workspace and restart it.
- Dependencies are reloaded by the Java LS

**OS and version:**
Che 7 RC 2

[2019-06-21 07:08] xinsuinizhuan opened #13604 "how to create project that in C/C++ with Eclipse che?"
I am a newer, I want to use Eclipse che to compile projects with C/C++, how to configure the C/C++ environment on Eclipse che?

[2019-06-21 07:12] xinsuinizhuan opened #13605 "How do I configure a multilingual environment on eclipse che?"
We want to create a big project, which USES python, PLC and c/ c ++ language, how to configure the language environment?

[2019-06-21 07:14] #13281 closed

[2019-06-21 07:36] sleshchenko commented on #13580
The setting of `Always ask` preference affects dashboard also even after workspace stopping.
@azatsarynnyy Do you think we need a bug for that?
![always_ask](https://user-images.githubusercontent.com/5887312/59906083-77189c80-9410-11e9-8e30-a5f1cde22ea3.gif)

[2019-06-21 07:59] azatsarynnyy commented on #13580
I think it is a bug. At least, that setting shouldn't affect the dasboard behavior.

[2019-06-21 08:52] xinsuinizhuan opened #13606 "Quickstart error!!!"
Quickstart way in windows:
$ docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v D:/Eclipse/GitSpace:/data eclipse/che start
E:\Program Files\Docker Toolbox\docker.exe: Error response from daemon: invalid mode: /data.
See 'E:\Program Files\Docker Toolbox\docker.exe run --help'.

[2019-06-21 08:59] slemeur opened #13607 "PKIX error and impossible to start workspaces on OCP 4.1"
### Description
[code]

And then:
[code]

### Reproduction Steps
- Deploy Che 7 RC 2 on OCP 4.1
- Create 5 workspaces
- stop all of them
- try to start a new workspace.

**OS and version:**
Che 7 RC 2 - OCP 4.1

[2019-06-21 09:06] slemeur opened #13608 "Default projects provided with sample stack is not building"
### Description
All default projects and samples provided with Che out-of-the-box must be building properly without having the user doing anything more than just invoking the task "Build"

<img width="1758" alt="Capture d’écran 2019-06-21 à 11 02 40" src="https://user-images.githubusercontent.com/1636769/59911502-58b4a000-9414-11e9-8041-9c0e0bcfaebc.png">

### Reproduction Steps
- Create workspa

[2019-06-21 09:14] slemeur commented on #13606
Hi @xinsuinizhuan,

The proper instruction to get started with Che on your local machine are here:
https://www.eclipse.org/che/docs/che-7/che-quick-starts.html

Where did you found information about the quick-start pointing to Docker?

[2019-06-21 09:14] tsmaeder commented on #13599
@benoitf @evidolob Seems fixed with latest release, but still flagging to see if it rings a bell.

[2019-06-21 09:39] davidfestal commented on #13607
@slemeur could you precise the installation mode, and if installed from the che operator, the detail of your `CheCluster` Custom resource ?

[2019-06-21 09:52] xinsuinizhuan commented on #13606
I am so puzzle, i read the method in https://www.eclipse.org/che/docs/che-6/quick-start.html. I am a newer，and i am familiar with C/C++ with VS2015. But i want to user Eclipse che now，so i want to configurate the C/C++ in Eclipse che. I only find the way in below:
![Uploading 1561110680(1).jpg…]()

[2019-06-21 09:52] #13606 closed

[2019-06-21 09:56] xinsuinizhuan commented on #13606
how i can run eclipse che in right way in windows? I  first install DockerToolbox.exe ,then run eclipse-che-4.0.0-RC11\bin\che.bat， but i only download the eclipse-che-4.0.0-RC11.zip，can not download newest。but the old not support stack c/C++，so i want use the che-7.0+。

[2019-06-21 10:15] sleshchenko commented on #13602
It caused by default shell in container which is `sh`.
@slemeur You can type `bash` and then you should get autocompletion, it worked for me.
But thanks for reporting of this issue, I agree that it's not good UX and it would be better if we configure default shell to bash, not sure it is possible with `dockerimage` or `kubernetes` component without modifying official maven image. It needs to be in

[2019-06-21 10:21] sleshchenko commented on #13603
If you type `mvn clean install` in maven container - then dependencies will be downloaded after each restart of workspace, and it iis caused by lack of user information in `/etc/passwd`, to fix it it is needed to build custom image and make maven container - openshift compatible where `/etc/passwd` will be writable and entrypoint will fill in user name if needed. More see https://github.com/eclips

[2019-06-21 11:08] AndrienkoAleksandr commented on #13604
@tolusha Could you help?

[2019-06-21 11:22] azatsarynnyy opened #13609 "[openshift plugin] adjust memory limit"
### Description

OpenShift Connector Che Plugin stopped working due to OOM.
Looks like a default memory limit for a plugin container has been reduced.
Need to adjust memory limit setting in the [plugin descriptor file](https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/vscode-openshift-connector/0.0.21/meta.yaml).

### Reproduction Steps

Run Che7 workspace with the [Open

[2019-06-21 11:31] sleshchenko commented on #13512
@slemeur @tsmaeder looks like it's still actual.
![Screenshot_20190621_143025](https://user-images.githubusercontent.com/5887312/59919813-21a0b780-9431-11e9-93a8-e9c1b67c3d9b.png)
You can use the following sample app to test https://github.com/sleshchenko/NodeJS-Sample-App

Can we prioritize this issue and find a proper default memory limit for typescript LS?

[2019-06-21 11:42] tsmaeder commented on #13512
As I've written in my message to the che-dev mailing list a week ago , my team (in particular @tolusha) is addressing default memory sizing in this sprint.
We will use the examples from the stacks to set the default memory sizes for the sidecars.

[2019-06-21 11:48] azatsarynnyy commented on #13316
Buildah support has been added to VS Code Kubernetes extension https://github.com/Azure/vscode-kubernetes-tools/pull/559

It's included to the recently published [v1.0.1](https://github.com/Azure/vscode-kubernetes-tools/pull/570/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR5)

The next steps are:
- [ ] add a new version of the [Kubernetes Tooling Che Plugin](https://github.com/eclipse/che-plugin-re

[2019-06-21 12:28] tsmaeder commented on #12957
When you make multiple changes, you get multiple dialogs saying "Workspace configuration has been updated", but you are not sure whether your latest changes have been saved or if the dialog comes from an older edit that has been saved. I find this behaviour extremely annoying when a simple "save" button that becomes enabled upon changes is a decades old, simple and clear UI for this.

[2019-06-21 12:30] tsmaeder commented on #12957
Or if autosave is really necessary, at least provide a clear indication of the dirty status of the editor?

[2019-06-21 12:59] skabashnyuk commented on #13607
might be related to

1. kubernetes.KUBE_PING using token auth does not verify CA and always d.... https://github.com/jgroups-extras/jgroups-kubernetes/pull/69
2. CLOUD-3228 openshift.KUBE_PING doesn't work on OCP 4.1 since it only https://github.com/jboss-openshift/openshift-ping/pull/43

[2019-06-21 13:00] slemeur opened #13610 ".m2 dependencies are getting stored in a '?' folder in the project"
### Description
.m2 dependencies are getting stored in a '?' folder in the project which looks extremely odd and trigger more the attention about a bug than anything else..

### Reproduction Steps
- Create a workspace based on the stack java-maven
- import https://github.com/spring-projects/spring-petclinic
- open a terminal and run the command ./mvnw spring-boot:run

**OS and version:**
Che 7 RC

[2019-06-21 13:01] slemeur commented on #13610
And then build is failing because of this error
[code]

[2019-06-21 13:01] slemeur commented on #13610
cc @tsmaeder

[2019-06-21 13:13] mmorhun opened #13630 "Errors in Che Theia container log when start a terminal"
### Description

When start a terminal in Che Theia, a lot of error logs appears in the Che Theia IDE logs:

[code]
The error is repeated many times.

### Reproduction Steps

1. Create a workspace with Che Theia editor and start it.
2. Open a terminal in any container
3. See `theia-ide` container logs.

[2019-06-21 13:24] sunix opened #13611 "Proposal: Implement Che-theia github token, sso and https repos"
### Description
This is a proposal to simply manage github https authentication in Che for pushing changes.

The goal is to implement the flow where a user, using che.openshift.io would have almost nothing to do to be able to work on a github project and push his changes

1. User starts a workspace (from a devfile or ...) containing github projects (https)
3. User is redirected and is asked to log

[2019-06-21 13:26] #13512 closed

[2019-06-21 13:31] sleshchenko commented on #13514
is closed in favor of https://github.com/eclipse/che/issues/13529

[2019-06-21 13:31] #13514 closed

[2019-06-21 14:12] sleshchenko commented on #13610
It is caused by lack of user information in `/etc/passwd`, to fix it it is needed to build custom image and make maven container - openshift compatible where /etc/passwd will be writable and entrypoint will fill in user name if needed. More see #13561

[2019-06-21 14:18] AndrienkoAleksandr opened #13613 "Make self signed certificate path configurable"
### Description
It would be nice to make path to the sa certificate configurable on the che-server. And then che-server could provide this path to workspace containers with help env variable.

[2019-06-21 14:20] tolusha opened #13614 "Theia can't open files located in a sidecar container"
### Description

### Reproduction Steps

1. Start workspace with a Typescrip plugin.
2. Goto preferences and set `typescript.tsserver.trace` to `verbose`
3. Try to run command `Open TS server log file`
4. Server log file can't be opened

**OS and version:**
Che-7.0.0-CR2

**Diagnostics:**
LS sends request to Theia to open a log file but Theia can't find the file because it is located in a side-car

[2019-06-21 14:57] ibuziuk commented on #13553
`7.0.0-RC-1.1` has been released. Closing

[2019-06-21 14:57] #13553 closed

[2019-06-21 14:57] ibuziuk commented on #13534
@slemeur I think we can close this now since `7.0.0-RC-1.1` has been released

[2019-06-21 17:22] nickboldt commented on #13547
Will Java lang support work in time for CRW 2.0? Because if not, I'd suggest reverting whatever you changed to "support" JDK 11. Let's go back to JDK 8, where things worked. :D

I mean, I may not be the target audience for Che and CRW, but I think Java 8 support is still pretty important for enterprise. WDYT @slemeur ? This feels like a P1/SEV1/blocker for CRW 2.0 to me.

[2019-06-21 18:15] sunix opened #13616 "che-theia minibrowser preview view should allow the user to edit the URL"
### Description
Having a devfile that setup an developer workspace environment for a web application,

When the user is running the app, Che-theia is proposing to expose the port and open the url in the theia mini browser. However user can't edit the path.

### Reproduction Steps
I face that issue running my Quarkus demo on minikube with this devfile: https://github.com/sunix/che-quarkus-demo/blob

[2019-06-21 19:01] sunix opened #13617 "che factory: should be able to override the name, source.repo, source.branch of the workspace that will be created in the url"
### Description
At the moment when creating a workpace from a devfile, we can use the factory url

For instance: https://che.openshift.io/f?url=https://github.com/eclipse/che-website will create a workspace from the devfile.yaml located in the repo and the workspace name will be generated from the one in the devfile: `che-website`.

If a workspace name already exists, it will suffix it with `_1`,

[2019-06-21 19:16] ivucica opened #13618 "CLI believes 7.0.0-RC-2.0 to be older than 7.0.0-beta-5.0 and refuses to upgrade"
### Description

CLI believes 7.0.0-RC-2.0 is older than 7.0.0-beta-5.0, cannot upgrade from 7.0.0-beta-5.0 to 7.0.0-RC-2.0.

### Reproduction Steps

1. Have an installed Eclipse Che setup, using 7.0.0-beta-5.0
2. Try to use Docker image `eclipse/che-cli:7.0.0-RC-2.0` with argument `upgrade`.

**OS and version:**

- Debian 9.6
- Linux hostname_here 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27

[2019-06-21 20:48] ivucica opened #13619 "7.0.0-RC-2.0: "Unknown component type: dockerimage""
### Description

Having upgraded (?) from 7.0.0-beta-5.0 by manually replacing version to 7.0.0-RC-1.0 ( see https://github.com/eclipse/che/issues/13618), I cannot create a new workspace. When I click on "Create & Open", I get:

[code]

### Reproduction Steps

1. Have 7.0.0-beta-5.0
2. Replace version to 7.0.0-RC-1.0
3. Run `eclipse/che-cli:7.0.0-RC-2.0` with argument `upgrade`
4. Try to create a

[2019-06-21 21:18] ivucica commented on #13002
@ghost Can you clarify https://github.com/eclipse/che/issues/13002#issuecomment-479546434? Does this mean pure Docker is no longer supported, even if `eclipse/che-cli:7.0.0-RC-2.0` is willing to spin up containers based off of the `eclipse/che-server:7.0.0-RC-2.0`, `centos/postgres-96-centos7:9.6`, `jboss/keycloak-openshift:3.4.3.Final` images? And despite the possibility to have factories etc sti

[2019-06-21 22:55] sunix opened #13620 "Applications started with a che-commands (task) stop running on OpenShift"
### Description
This is likely happening for any kind of application.

- I could not reproduce on minikube
- I could reproduce on che.openshift.io.
- Not tried on minishift

When I start a user application  with che-commands (task) get down after some time

### Reproduction Steps
1. Start the factory https://che.openshift.io/f?url=https://github.com/eclipse/che-website
2. Run the command `start ch

[2019-06-22 06:29] NealBozeman commented on #13002
@ivucica, here is what I've come to understand.

The former quickstart which previously relied on docker no longer works. The old docker commands will spin up the containers with the Che 7 images, but nothing will work, and you'll experience the behavior you are seeing.

Per the [Che 7 Quickstart](https://www.eclipse.org/che/docs/che-7/che-quick-starts.html), Che 7 requires either
- a K8s environm

[2019-06-22 09:03] ivucica commented on #13002
Thanks! I'll give it a go and see what I can do. Thankfully I never got
Che6 working before, so completely giving up and starting from scratch with
Che7 is actually an option.

Also gives me an excuse to try setting up a Kubernetes environment again. :)

[2019-06-22 10:33] slemeur opened #13621 "Impossible to delete a project"
### Description
Deleting a project, refreshing the workspace, the project is back.

![delete-project](https://user-images.githubusercontent.com/1636769/59962767-e910e480-94e9-11e9-8a28-12f03836ee6c.gif)

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2019-06-23 15:53] #13536 closed

[2019-06-23 15:53] #13537 closed

[2019-06-23 16:20] ivucica commented on #13619
This might be because docker-based deployments seem to be no longer supported as of Che 7. See https://github.com/eclipse/che/issues/13002#issuecomment-504635921

[2019-06-23 16:21] ivucica commented on #13618
This might be because docker-based deployments seem to be no longer supported as of Che 7. See https://github.com/eclipse/che/issues/13002#issuecomment-504635921

[2019-06-23 17:21] ErikMonten commented on #10459
Any update on this topic ? I have the same issue. It works at home (local network), but when I login remotely via browser , I have to same error "Failed to connect to terminal. Can not load term.js script".

[2019-06-24 00:57] xinsuinizhuan commented on #13604
Could you help me? I want user the newest Eclipse che to compile project with c/C++?how shoud i do?

[2019-06-24 03:27] monaka opened #13746 "Can't build eclipse/che-remote-plugin-kubernetes-tooling-1.0.0"
### Description

Can't build eclipse/che-remote-plugin-kubernetes-tooling-1.0.0 as the tag was removed from the base repository.

![Screenshot 2019-06-24 at 12 25 52](https://user-images.githubusercontent.com/101795/59989747-72a3ec00-967b-11e9-8069-81ac686f518b.png)

### Reproduction Steps

[code]

**OS and version:**

master branch 620f233455c2115120a1af6e4c45743d137489a4

**Diagnostics:**

[code

[2019-06-24 07:38] xinsuinizhuan opened #13622 "how to run Eclipse che with github.com source?"
i user the below commond in docker，but tip " You volume mounted ':/repo', but we did not detect a valid Eclipse Che source repo."
docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /d/Eclipse/GitSpace:/data -v /d/Eclipse/GitSpace/instance:/data/instance -v /d/Eclipse/GitSpace/backup:/data/backup  -v /d/Eclipse/eclipse_che/che-master:/repo eclipse/che start

[2019-06-24 09:56] tolusha commented on #13604
@xinsuinizhuan
Hello.
Sorry for the delay and thank you for the question.

If we are talking about development environment in Che 7 it is all about dev files [1]
Regarding C/C++ there is already a very good example how to cook a dev file for it [2]
You can also find other examples of dev files in the registry [3].
You are welcome to contribute.

[1] https://redhat-developer.github.io/devfile/
[2]

[2019-06-24 11:02] #12554 closed

[2019-06-24 12:13] sleshchenko commented on #13616
I faced the same issue with Django sample: django requires `admin` path to access console and since Devfile does not support preview URL that we used to have (see deprecated samples.json https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/samples.json#L1525) and it's not possible to edit preview view - it's impossible to access Django within Theia, it's needed

[2019-06-24 12:15] sleshchenko opened #13623 "Chectl uses deprecated method for creating workspaces from devfile"
### Description
After merging of the following issue the method that checlt uses (POST -> /api/devfile) for workspace creating from Devfile is going to be deprecated https://github.com/eclipse/che/pull/13588
This method convert Devfile to WorkspaceConfig and then create a workspace with that.
It's needed to use new method in chectl `POST -> /api/workspace/devfile/`

### Reproduction Steps
1. Creat

[2019-06-24 12:17] sleshchenko commented on #13623
cc @l0rd @slemeur I think it's critical for GA otherwise chectl would continue to create workspaces that will stop work later.

[2019-06-24 13:11] l0rd commented on #13623
👍

[2019-06-24 14:31] sleshchenko commented on #13620
It may be related to https://github.com/eclipse/che/issues/13362

[2019-06-24 15:12] azatsarynnyy commented on #13609
closed by https://github.com/eclipse/che-plugin-registry/pull/174

[2019-06-24 15:12] #13609 closed

[2019-06-25 05:48] monaka opened #13624 "Deployment failed with long named docker images."
### Description

K8s will reject deployments from Che with labels that is more than 63 characters.

### Reproduction Steps

Deploy with long named docker image. (Like follows but it won't use for reproduction checks because the container repository is private.)

[code]

**OS and version:**

Che 7.0.0-RC-2.0-SNAPSHOT

**Diagnostics:**

Logs.

[code]

[2019-06-25 07:31] ScrewTSW commented on #13411
@skabashnyuk Hello. This topic should be discussed on the F2F happening right now. Hope that Katka and Radim can provide more info. We need to have a discussion together with @l0rd on this topic and decide the way we will collect this data.

currently the idea was that we would take care of collecting project pull, project build and IDE load times while you would take care of the workspace pod sta

[2019-06-25 12:26] metlos commented on #12679
There is a draft impl provided by @skabashnyuk: https://github.com/eclipse/che/pull/13612

[2019-06-25 13:54] sttyerase commented on #12957
Repeating my comments from Mattermost: at the *minimum* from a standpoint of consistency, the "save" button should appear there.  I have major challenges when UIs give inconsistent signals about behavior. Even the plugins selection UI engages the "save" button when a change is made.

[2019-06-25 14:01] sleshchenko commented on #13624
@monaka It kind of duplicate that following issue https://github.com/eclipse/che/issues/13303
just to let you know that you can work around this issue by specifying alias field for a dockerimage component.

[2019-06-25 14:06] z0r0 commented on #13575
I'm experiencing this as well.

[2019-06-25 14:17] z0r0 opened #13625 "Multi-user Che fails to start on k8s using helm"
### Description
multiuser fails to complete installation when using minikube, and the chectl operator.

### Reproduction Steps
chectl server:start --multiuser
...
[code]
**OS and version:**
Tried on both centos, and windows.
I'm running latest.
chectl/0.0.2-33a6fa1 win32-x64 node-v10.4.1

**Diagnostics:**
Error on the che pod
[code]

[2019-06-25 15:08] ankkumar-progress opened #13626 "Support for https in eclipse che through external nginx"
### Description
We are in the process of deploying eclipse che.
The high priority task is to use https(SSL) connection.

After doing my research, it seems eclipse che doesn't support https.
Correct me if I am wrong.

We have an nginx server which redirects all the http calls to eclipse che.
I am trying to have https for the external server (nginx hosted) and internal communication of eclipse che c

[2019-06-26 00:55] monaka commented on #13624
@sleshchenko Thank you for your information. My deployment was succeeded with the alias field.
I close this as duplicate #13303.

[2019-06-26 00:55] #13624 closed

[2019-06-26 01:06] monaka commented on #13626
Hmm? My Che have been running with SSL. https://che-banco.camino.pizzafactory.jp/
That is on Azure Kubernetes.
Actually my Che deployment is customized to use Traefik-ingress.
But it should be worked with Nginx-ingress even if you use the genuine Helm chart.

[2019-06-26 05:25] skabashnyuk commented on #13533
can't reproduce

[2019-06-26 05:25] #13533 closed

[2019-06-26 05:26] skabashnyuk commented on #13538
@metlos what is the state of this task?

[2019-06-26 05:28] skabashnyuk commented on #13607
@mshaposhnik what is the state of this task?

[2019-06-26 08:24] sunix opened #13627 "che7 and che-theia: Find a flow to run a Che command on a folder or projects"
### Description
With macros ? like in Che6 ? right click on a folder should propose commands ? or could we found something more user friendly.

[2019-06-26 08:38] tomevision opened #13628 "Che 7 openshift cloud platform only saves files and folders temporarily."
Hello, I am using Che 7 openshift cloud platform, i have created a project and different plugins and save them on a folder but after logging out and in again i can't find them on my folder. i think it only saves files temporarily.

[2019-06-26 08:54] metlos commented on #13538
@skabashnyuk I've filled in what I could in the google doc and informed @rkratky about it last Friday evening. The only unfinished thing in the doc is the section about dockerimage endpoints where @sleshchenko promised to fill in the details.

[2019-06-26 09:47] lemaral commented on #13303
I hit the same issue while trying the new vscode kubernetes plugin support, so I tried to use a shorter alias but it does not seems to be picked up (using nightly)

[code]

`metadata.annotations: Invalid value: "org.eclipse.che.container.vscode-kubernetes-toolsu3f.machine_name": name part must be no more than 63 characters, spec.template.annotations: Invalid value: "org.eclipse.che.container.vscod

[2019-06-26 09:58] SkorikSergey opened #13629 "[E2E] Create jenkins job for checking HappyPath scenario on OKD"
### Description
Create Jenkins job for checking **HappyPath** scenario with workspace creation from devfile on OKD.

[2019-06-26 10:09] #13570 closed

[2019-06-26 10:50] metlos commented on #12679
#13612 is ready for review

[2019-06-26 11:10] sleshchenko commented on #13625
@z0r0 Can you check Che Server image that is used? Is should be fixed by https://github.com/eclipse/che/pull/13466. Changes are present in `7.0.0-RC-2.0`

[2019-06-26 11:23] davidfestal opened #13714 "Old identityProvider and postgres container images not updated to latest defaults on Operator update."
When the Che operator is updated (for example from `beta-5.0` to `rc-2.0`), and a Che server CR was previously started with the default Keycloak docker image (empty string), the Che server is not upgraded with the new default keycloak image after operator upgrade, but stays on the effective Keycloak version that was initially deployed.

[2019-06-26 11:33] sleshchenko commented on #13303
@lehmanju Thanks for sharing your case. I believe you're right and workaround with short alias work only with `dockerimage` component type.

[2019-06-26 11:44] themr0c commented on #13592
I was about to create the same issue :). I would add that the Che 7 mention is maybe not necesary in "Apache Camel based projects on Che 7".

[2019-06-26 11:46] #13585 closed

[2019-06-26 11:51] sleshchenko commented on #13362
@benoitf Do you think it's a bug or expected behavior? If it's expected then can we improve UX, like show a pop up that your port is not proxied anymore?

[2019-06-26 11:52] mshaposhnik commented on #13607
I did brief investigation. We still can't upgrate to JGroups 4.x due to it is unsupported in Eclipse Link (https://bugs.eclipse.org/bugs/show_bug.cgi?id=531910)
So the only way to get it fixed is to ask jgroups-kubernetes guys to backport theirs CA fix into the 0.9.x banch (called `stable`) n theirs repo. It can't be done easily (by merge or cherry-pick)  since old J-K versions have another code s

[2019-06-26 12:02] themr0c commented on #13592
Additionally (because it appears in the same screen at Workspace creation), I would suggest to unify the descriptions of the Sample projects. Would "A simple project in <lang>" make sense?

On 7.0.0-RC-2.0 we have:

- A blank project example.
- A Ceylon 'Hello World' project example that runs on all supported backends.
- The app will print Hello World to the console.
- Simple Ruby Project.
- Simpl

[2019-06-26 12:14] themr0c commented on #13592
Another note: "Simple Python3.5 Project." is not an accurate description, the sample is based on python 3.6. I see 'pulling image "centos/python-36-centos7:1"'.

[2019-06-26 12:31] sleshchenko commented on #13628
You told that you used [che.openshift.io](https://che.openshift.io) and there is enabled `ephemeral` mode by default (not sure if it's correctly displayed by UD).
More about this mode you can find in Che 7 Docs https://www.eclipse.org/che/docs/che-7/using-developer-environments-workspaces.html#attribute-persistvolumes-ephemeral-mode
To solve the issue you can disable this mode.
@tomevision Please

[2019-06-26 12:41] musienko-maxim commented on #13523
So we tried to apply other tactics for launching tests. I made short investigation problems and i made sure, that minikube with nested virtualization works too slowly. For instance: after minikube ssh and pulling an image the timeout was about 30-40 min. After that i tried to avoid nested virtualization. The most simple solution as for me was using param for minikube like `--vm-driver=none`. We tr

[2019-06-26 13:01] AndrienkoAleksandr opened #13631 "Misleading error message if URL specified in contentReference is unavailable"
### Description
Misleading error message if URL specified in `contentReference` is unavailable
Devfile:
https://gist.github.com/AndrienkoAleksandr/5615d4d45c2e5c187320dd86df757a65

**Actual**:
<img width="740" alt="Screenshot_20190626_145841" src="https://user-images.githubusercontent.com/6873095/60180259-44174400-9828-11e9-9120-ccb67d1c6731.png">
**Expected**:
Actual error message is - host can n

[2019-06-26 13:10] mshaposhnik commented on #13631
Any underlying exception is logs ?

[2019-06-26 13:15] AndrienkoAleksandr commented on #13631
I didn't see any exception in the che-server logs.

[2019-06-26 14:15] l0rd commented on #13586
@amisevsk can we close it now after https://github.com/eclipse/che-plugin-registry/pull/168 ?

[2019-06-26 14:57] #13628 closed

[2019-06-26 15:06] AndrienkoAleksandr commented on #13631
thanks @sleshchenko . We found: openshift instance lost internet connection for some not clear reasons. But any way che-server should print clear error message, for example: 'Unable to download meta.yaml file. Check internet connection or link' or so on. So issue still actual.

<img width="473" alt="Screenshot_20190626_175920" src="https://user-images.githubusercontent.com/6873095/60191384-e80aea8

[2019-06-26 15:15] svor opened #13632 "Need to validate command's type from devfile"
### Description
Right now we are supporting only `exec` type for commands provided by devfile. But the author of the devfile can write any type and its value won't validate.

[2019-06-26 18:47] skabashnyuk commented on #13557
@l0rd can you confirm that increased memory requirement ~500m for local development are acceptable and expected.

[2019-06-26 18:58] ankkumar-progress commented on #13626
Apart from https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/values/tls.yaml ,
is there any other changes required to enable TLS.
Because the che container is not starting, readiness and liveness probe are failing.

While enbaling TLS, the [doc](https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/values/tls.yaml) says it is supported in single-host only.
But f

[2019-06-26 18:58] l0rd commented on #13557
Do we need 250MB per registry? Can set required memory to 50MB?

[2019-06-26 18:59] skabashnyuk commented on #13557
Don't know yet, we can try. Not sure about 50mb may be 100mb.

[2019-06-26 19:10] skabashnyuk opened #13633 "Update Che Helm Chart: Che registries (plugin+devfile) should be part of Che deployment"
### Description
Update Che Helm Chart: Che registries (plugin+devfile) should be part of Che deployment
Follow up of https://github.com/eclipse/che/issues/13557

[2019-06-26 19:12] #12926 closed

[2019-06-26 21:12] makandre opened #13634 "Give more flexibility on where devfile registry can served up"
### Description

I would like to make devfiles I have on GitHub show up in Che dashboard when creating a workspace.

I learned that I can configure Che's devfile registry by changing the `che.workspace.devfile_registry_url` property.

It would be great if I can change it so the devfiles can be served up directly from GitHub (e.g. set `che.workspace.devfile_registry_url=https://raw.githubuserconten

[2019-06-26 21:38] #13499 closed

[2019-06-26 22:43] keithchong commented on #12444
Hi @skabashnyuk , I'm trying to add a plugin registry as described here:

https://github.com/eclipse/che-plugin-registry

I was able to build the image.  But in che, when I try to add the registry, I get the message "Your registry is invalid".  (I'm not quite sure what to add for the URL)

Do you have tips/pointers or other detail, especially the steps starting from after the image is created.

[2019-06-27 07:05] tobespc commented on #13634
I'm trying to get that to work by submitting a PR against che to pretty much suggest what you have said

[2019-06-27 07:23] l0rd commented on #11867
We have reviewed this issue today with @vparfonov and now that the CQ to add VS Code built-in extensions to Theia has been approved we can proceed with:
- [ ] Including git extension in theia (if, for some reason, the PR takes long to get merged, we are going to include it in che-theia)
- [ ] review and merge the PR to include the Github extension in the plugin registry

[2019-06-27 07:28] l0rd commented on #13494
We have reviewed this with @vparfonov and we are **not going** to address the problem of the git+ssh within a container where the user doesn't exist (arbitrary user). @vparfonov is going to create an issue instead that is going to be added to the known issue section in the documentation.

[2019-06-27 08:21] #13558 closed

[2019-06-27 08:56] sleshchenko opened #13636 "Improve UX during ${current.project.path} macros usage"
### Description
I hope that there is much work to fix it, so I decided to describe several improvements in the same issue:
1. Improve UX when user tries to run a command which has  ${current.project.path} macros and there is no selected project.
**Actual**: Three error messages: `Can not resolve current.project.path ...`, and `Tasks is failed`, `sh: 1: Bad substitution`.
First time I got this:
![S

[2019-06-27 08:58] skabashnyuk commented on #12444
@keithchong you need to override this property
https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L580 ```che.workspace.plugin_registry_url=https://che-plugin-registry.openshift.io/v3``` you can do that for instance with env variable of che master
```CHE_WORKSPACE_PLUGIN__REGISTRY__URL=http://registry-route/v3```

[2019-06-27 08:59] sleshchenko commented on #13636
@evidolob @vparfonov Please assign right team, because I'm not sure who should work on it.

[2019-06-27 09:02] l0rd opened #13637 "Che 7.0.0 Endgame Plan"
# Che 7.0.0 Endgame

Target is the 14th of August (this may change)

## RULES

1. We release Che 7.0.0 as soon as:
**ENDGAME BUGS ARE FIXED**
**ENDGAME ENHANCEMENTS ARE COMPLETED**
**ENDGAME DOCUMENTATION IS AVAILABLE ON THE DOC SITE**
**E2E HAPPY PATH TEST IS GREEN (STEPS 1, 3 and 4)**
**CHE QE TEAM VERIFIES THAT THE RELEASE ACCEPTANCE CRITERIA ARE SATISFIED**
2. Nothing should be merged to maste

[2019-06-27 10:10] l0rd commented on #13607
We discussed yesterday that this is not a blocker for 7.0.0 release but will be a blocker for 7.1.0 release. Hence I am labelling it as SEV1 and setting the milestion to 7.1.0.

[2019-06-27 11:33] ashumilova opened #13638 "IDE2-2019-07-23 (Sprint: 169)"
### Sprint Goals:
1. GA bug fix
2. Testing Che 7 GA

**Che 7.0.0 Endgame Plan** #13637
## 1. GA bug fix
- [x] Impossible to get a terminal in a workspace https://github.com/eclipse/che/issues/13584
- [x] Theia doesn't work with self signed certs #13574 - PR
- [x] Preview URL not displayed while accessible #13357
- [ ] Impossible to delete a project #13621 - 1d
- [ ] Che Plugins panel is broken on

[2019-06-27 11:47] sunix commented on #13620
@l0rd @slemeur could we prioritize this ? for GA ?

[2019-06-27 12:06] sleshchenko opened #13639 "Find a lighter sample for apache camel devfile"
### Description
The sample project that is used in Apache Camel devfile needs ~26minutes for the first time buiild
![screenshot_20190614_140101](https://user-images.githubusercontent.com/5887312/60264946-16480300-98ed-11e9-8ac1-db25a2601a1a.png)

I think it's too much and it would be better to find a lighter sample for apache camel devfile.

[2019-06-27 12:14] sleshchenko opened #13640 "Improve Java+MySQL devfile and use official spring petclinic sample"
### Description
This issue is created as a consequence to a discussion here https://github.com/eclipse/che-devfile-registry/pull/18#issuecomment-505291947

Currently, Java+MySQL devfile is adapted to the old sample that we used to use and it would be better to use the official spring petclinic sample where Tomcat is not needed anymore.

[2019-06-27 12:19] sleshchenko opened #13641 "Improve Vertx Devfile and use official sample project"
### Description
This issue is created as a consequence to a discussion here https://github.com/eclipse/che-devfile-registry/pull/18#issuecomment-505291947

Current Vertx Devfile is actually adapted Stack and sample that we used to use by in Devfile format.
There was a try to use official sample and all samples are in the same git repository and Devfile does not support keep directory yet.
It is ne

[2019-06-27 12:41] sunix opened #13642 "chectl workspace:start -f devfile.yaml should create a `devfile` workspace"
### Description
At the moment, when we create a workspace from chectl, the created workspace should be based on a a devfile (a show the devfile tab) and not a classic workspace config.

**OS and version:**
Minikube che7 with chectl

[2019-06-27 12:42] sunix commented on #13642
@l0rd @slemeur good for GA ?

[2019-06-27 12:43] sleshchenko commented on #13642
Looks like it duplicates https://github.com/eclipse/che/issues/13623

[2019-06-27 12:48] sunix commented on #13642
yes duplicates

[2019-06-27 12:48] #13642 closed

[2019-06-27 13:28] sunix opened #13643 "Import from zip available from dashboard but not working in che-theia"
### Description
In the dashboard, the import project from zip is still available when creating a workspace but import from zip is not supported in Che-theia yet.

[2019-06-27 13:28] sunix commented on #13643
@ashumilova

[2019-06-27 14:04] ibuziuk commented on #13265
Areas that would be easy to move:
- [  ]  `che-plugin-bayesian-lang-server`
       - [  ] does not work in che 7 (must be moved to che-plugin-registry)
- [  ]  `che-plugin-analytics` (aka Woopra support) - does not work in Che 7:
        - [  ] should be implemented from scratch in a generic way (theia plugin / extention part is almost implemented)
        - [  ] should be disabled by default in t

[2019-06-27 21:01] l0rd commented on #13608
Looks related to https://github.com/eclipse/che/issues/13454

[2019-06-27 21:01] l0rd commented on #13594
Looks related to https://github.com/eclipse/che/issues/13454

[2019-06-27 23:37] l0rd commented on #12696
This issue has been replaced by the endgame document https://github.com/eclipse/che/issues/13637

[2019-06-27 23:37] #12696 closed

[2019-06-28 02:36] l0rd commented on #12974
Closing this issue since it's replaced by https://github.com/eclipse/che/issues/13637

[2019-06-28 02:36] #12974 closed

[2019-06-28 02:36] #12170 closed

[2019-06-28 05:50] lysannef commented on #13256
@l0rd @slemeur  Has the community had any thoughts about pursuing the addition of power support to the CI environment?

[2019-06-28 06:15] lysannef commented on #13197
Hi @ l0rd , following the [doc](https://gist.github.com/l0rd/1e73176fe1ced5791f215d88bb741129) provided by you, we were able to resolve this issue and were able to validate the working of eclipse/che on ppc64le.

Thanks and closing the task for the same.

[2019-06-28 06:16] #13197 closed

[2019-06-28 07:17] sleshchenko commented on #13594
I see it's more related to `${current.project.path}` https://github.com/eclipse/che/issues/13636

[2019-06-28 08:52] monaka opened #13745 "Update Theia version to 0.8.0"
### Description

As it was released. https://github.com/theia-ide/theia/commit/007f41ae937e3884bfdf57e2f41581b490217294

[2019-06-28 09:01] #13528 closed

[2019-06-28 10:43] metlos commented on #13538
note that the above mentioned document is kinda completed from the platform team perspective. Please reach out if you need any further information, explanation or you'd need to fill in something.

[2019-06-28 15:06] phinaliumz opened #13646 "Che Docker image does not start without --fast flag"
I tried googling for this error, but didn't find any so I'm making this issue in hope of getting some points what is needed to fix this.

### Description
While starting Eclipse Che Docker image, with command
`sudo docker run -it -e CHE_MULTIUSER=true -e CHE_HOST=<external-ip-of-the-server> -e CHE_PORT=8080 -e CHE_CONTAINER=che -v /var/run/docker.sock:/var/run/docker.sock -v ~/.che-multiuser:/data

[2019-06-28 20:06] skabashnyuk commented on #13538
CC @l0rd @rkratky

[2019-06-28 22:14] nils-mosbach commented on #13625
Fails on nightly and RC2 images while setup che pod scheduling as well. Installing in multiusermode results in the following message.

✔ PostgreSQL pod bootstrap
      ✔ scheduling...done.
      ✔ downloading images...done.
      ✔ starting...done.
    ✔ Keycloak pod bootstrap
      ✔ scheduling...done.
      ✔ downloading images...done.
      ✔ starting...done.
    ❯ Che pod bootstrap
      ✖ sch

[2019-06-29 20:41] metlos commented on #13362
Note that this is also reproducible on minishift.

[2019-06-30 11:23] lemaral commented on #13303
@sleshchenko, thanks for confirming. I believe that there is no workaround then and because of that it's not possible to use the latest che with vscode plugins currently (and potentially other plugins with long name)
Another quick fix would be to use annotation prefix which allows 253 characters (but my following comment still applies).
About the root cause of the issue, I think using raw informat

[2019-06-30 14:45] mpxp opened #13647 "Using IP address instead of .nip.io by setting isHostBased = false doesnt work"
### Description
Trying to run che-server on minikube using helm.
As the URLs ending with nip.io is blocked by our network, using IP address to access the che-server running on AWS ubuntu machine and opening the dashboard doesnt seem to work.
I would like to see examples or documentation regarding this.

### Reproduction Steps
Here is how che-server is run:
`helm upgrade --install che --force --nam

[2019-07-01 06:05] benoitf opened #13648 "Update github templates when submitting new issues"
### Description
Today, we ask OS and version in template, while we should ask as well the type of the underlying platform (minikube, minishift, openshift, k8s, microK8s, etc.) and if it has been deployed by helm, minishift-addon or che-operator.

It would be nice to have `chectl` allowing to help when providing logs/relevant diagnostic information

[2019-07-01 06:06] benoitf commented on #13648
Created placeholder issue for https://github.com/eclipse/che/issues/13637 task

[2019-07-01 06:15] benoitf opened #13649 "Remove docker cli from Che7"
### Description
Che is now deployed on top of k8s platforms (and openshift, etc) and does not work directly on top of Docker, so the CLI which was deprecated needs to be removed before Che7 GA

nightly and latest tag should also be removed from dockerhub

[2019-07-01 06:15] benoitf commented on #13649
placeholder for task assigned to myself in https://github.com/eclipse/che/issues/13637

[2019-07-01 07:07] slemeur opened #13650 "Search/Filter in command palette mis behaving"
### Description
The search / Filter in the command palette is not properly working.

![search-command-palette](https://user-images.githubusercontent.com/1636769/60416939-653cb380-9bdf-11e9-8354-4d22be3d0d99.gif)

### Reproduction Steps
- Open a workspace
- Search for "git"
-> You don't have the command "Git: Clone..."
- Search for "clone"
-> You can now find the command "Git: Clone..."

**OS and v

[2019-07-01 09:13] tsmaeder commented on #13521
@JPinkney I think you mixed up the memory settings for xml and yaml in the table. Can you check?

[2019-07-01 09:16] tsmaeder opened #13744 "Build has no "clean" target"
I can build using "yarn" in the top level dir. But once built, I cannot get rid of build results anymore. We should add a "clean" target to the build.

[2019-07-01 10:30] ibuziuk commented on #13620
@sunix am I correct that it is not che.openshift.io specific? if so, I believe the title should be updated

[2019-07-01 12:37] tomevision opened #13653 "I'm experiencing something similar. For me, it looks like the issue is with the che pod, and not the postgres install steps."
I'm experiencing something similar. For me, it looks like the issue is with the che pod, and not the postgres install steps.

I've tried it on Ubuntu

[code]

_Originally posted by @z0r0 in https://github.com/eclipse/che/issues/13575#issuecomment-505460757_

[2019-07-01 12:43] slemeur opened #13654 "Search advanced options button is clickable only on few pixels"
### Description
The search "advanced options" button is clickable only on very few pixels, the ones of the dots. It should be possible to define a clickable area, so the user does not have to perfectly find the pixels which are clickable.

<img width="690" alt="Capture d’écran 2019-07-01 à 14 40 28" src="https://user-images.githubusercontent.com/1636769/60437440-a4cec400-9c0e-11e9-9862-e1c537b13

[2019-07-01 12:58] #12679 closed

[2019-07-01 13:32] fbricon commented on #13427
Please test https://github.com/eclipse/eclipse.jdt.ls/pull/901, ask @snjeza for details

[2019-07-01 13:38] l0rd commented on #13625
Should be fixed by https://github.com/che-incubator/chectl/pull/179

[2019-07-01 14:00] #13649 closed

[2019-07-01 14:32] slemeur opened #13656 "Impossible to restart Che from chectl"
### Description
[code]

Doing a chectl delete did not help.

### Reproduction Steps
- chectl server:stop
- chectl server:delete
- chectl server:start

**OS and version:**
chectl/0.0.2-6631177 darwin-x64 node-v10.15.3

**Diagnostics:**

[2019-07-01 14:58] l0rd commented on #13586
I have tested the nightly and it's fixed

[2019-07-01 14:58] #13586 closed

[2019-07-01 15:00] benoitf commented on #13656
seems to be linked to https://github.com/helm/helm/issues/5567

what's your helm version

you may try to remove the whole chectl cache
[code]

[2019-07-01 15:35] dmytro-ndp opened #13657 "OpenShift oAuth e2e functional tests are outdated"
### Description
There are OpenShift oAuth functional tests started failing since last changes in Che 7 https://ci.codenvycorp.com/view/qa-nightly/job/che-multiuser-master-ocp-oauth-test/414/Selenium_20tests_20report/ :
#### [LoginExistedUserWithOpenShiftOAuthTest.java](https://github.com/eclipse/che/blob/master/selenium/che-selenium-test/src/test/java/org/eclipse/che/selenium/site/ocpoauth/LoginEx

[2019-07-01 16:13] gito0o commented on #13625
@l0rd Thank you for this. Quick question do we have to build this from source? currently, I cannot see it in the release panel and only older versions are available;

[2019-07-01 16:35] l0rd commented on #13625
@gito0o the PR hasn't been merged yet. We are working on it but it's not ready yet. I will provide an update when the PR is merged and a new version of chectl is released.

[2019-07-01 16:50] gito0o commented on #13625
@l0rd Any advice which release we can revert to?

[2019-07-01 17:00] l0rd commented on #13625
@gito0o If that works for you that's great. Otherwise, until the PR doesn't get merged there are 2 options:

1) use helm with multi-user support:

[code]

2) clone eclipse/che-operator repository and run the deploy script as described here https://github.com/eclipse/che-operator/#how-to-deploy

[2019-07-01 17:59] l0rd commented on #13625
I have been confused by the title of this issue. This issue isn't related to the Che operator and doesn't look related to chectl neither. I have changed the issue title (cc @z0r0).

Anyway I have been able to reproduce it cloning eclipse/che and using the helm chart in master branch (as described [here](https://www.eclipse.org/che/docs/che-6/kubernetes-multi-user.html#to-deploy-with-dedicated-keyc

[2019-07-01 19:16] gito0o commented on #13625
@l0rd Thank you for the provided information, I am as well confused. The error you posted also showed up in some of my past troubleshooting but here is the error that I am getting most of the times. I believe that has something to do with permission on the mounted volume. I tried to give permission in Dockerfile but changing the image to latest had the same effect.

This is happening in `Keycloack

[2019-07-01 21:16] l0rd commented on #10998
https://news.ycombinator.com/item?id=20326931

[2019-07-02 05:11] monaka opened #13658 "POST https://{ws-master}/api/github/ssh/generate 404"
### Description

I found 404 error in the console of my web browser when I'm on the dashboard.
The client side code was added on 716ab7ae8a8 (May 28, 2017) and still be on the master branch.
And I couldn't find out server side code.

Is the `/api/github/ssh/generate` endpoint planned to implement later?
Or obsolete and should be removed?

### Reproduction Steps

**OS and version:**

the HEAD the o

[2019-07-02 06:26] skabashnyuk commented on #13340
should be fixed by https://github.com/eclipse/che/pull/13612

[2019-07-02 06:26] #13340 closed

[2019-07-02 07:26] artaleks9 opened #13659 "Login using OpenShift 4.x OAuth doesn't work"
### Description
_There is deployed CHE on OCP 4.x by using OperatorHub and log into application with OAuth doesn't work. I assume this is related with the issue:_ https://issues.jboss.org/browse/KEYCLOAK-10169

**Reproduction Steps**
Test steps:
1. Install CHE by operator:
![eclipse-che-Details-Red-Hat-OpenShift-Container-Platform](https://user-images.githubusercontent.com/5408906/60491712-10b6388

[2019-07-02 08:05] themr0c opened #13660 "In visible parts, replace mentions of 'oAuth', by more accurate 'OAuth'"
### Description

The Eclipse Che user interface (Web UI, configuration files, logs) contains multiple mentions of `oAuth`, but it's supposed to be `OAuth`, as stated on  https://oauth.net/.

### Reproduction Steps

These are the occurences of `oAuth` that need to be changed:

1. ./multiuser/keycloak/che-multiuser-keycloak-server/src/main/java/org/eclipse/che/multiuser/keycloak/server/KeycloakServi

[2019-07-02 08:15] monaka opened #13743 "`root ERROR Could not start contribution` on k8s/multiuser environment"
### Description

After fixed  https://github.com/eclipse/che-theia/pulls/281, my che-theia logs  `root ERROR Could not start contribution` exception.
It looks it fails to get the access token.
I guess it will be reproduced on the multi-user env.

### Reproduction Steps

- Just open the workspace.
- Watch logs on the Web browser

**OS and version:**

Che 7.0.0-SNAPSHOT (configured as the multi-user

[2019-07-02 08:18] slemeur opened #13661 "Rename "theia-ide" to "che-theia" for consistency"
### Description
We are calling the default editor provided with Che workspace: Che-Theia. But in the editors view on the dashboard that is not reflected.

This is coming from:
https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/eclipse/che-theia/latest/meta.yaml#L6

For consistency it would be better to name it "Che-Theia".

[2019-07-02 08:29] slemeur opened #13662 "Error creating a workspace with sample "nodejs-crud-sample""
### Description
An error is reported when trying to create a project from one of the default sample provided:
<img width="1758" alt="Capture d’écran 2019-07-02 à 10 26 57" src="https://user-images.githubusercontent.com/1636769/60496911-0eed7480-9cb4-11e9-9b50-a6803fd0c2ac.png">

### Reproduction Steps
- Create a new workspace
- Select stack "NodeJS Express Web Application"
- Select sample "nodej

[2019-07-02 08:31] slemeur commented on #13656
Worked

[2019-07-02 08:31] #13656 closed

[2019-07-02 09:28] l0rd opened #13665 "Update projects widget in Create New Workspace Panel"
### Description

With https://github.com/eclipse/che/issues/13529 we have associated every stack with one sample project only (included in the devfile). But the projects widget still include all samples as well as tabs zipfiles and blank that don't work in Che 7 anymore.

The list of updates include:

- Blank and zipfile tabs should be removed
- When a stack is selected it's sample project should

[2019-07-02 09:54] slemeur opened #13666 "Workspace panel is not getting update with newly added task"
### Description
When adding a new task, the task is not getting visible into the workspace panel.

<img width="1758" alt="Capture d’écran 2019-07-02 à 11 51 20" src="https://user-images.githubusercontent.com/1636769/60503332-c5a32200-9cbf-11e9-8119-ecf6eec91acb.png">

### Reproduction Steps
- Create a workspace with nodejs and a sample project
- Open the menu "Terminal" and then "Configure Tasks

[2019-07-02 10:10] slemeur opened #13667 "Tasks and Che Commands should not use "machineName""
### Description
"Machine" has been deprecated and should not be used anywhere in Che anymore.

[code]

<img width="1758" alt="Capture d’écran 2019-07-02 à 11 51 20" src="https://user-images.githubusercontent.com/1636769/60504663-4c58fe80-9cc2-11e9-8a1f-228996b30a04.png">

We still have it for tasks, so it has to be adapted before the Che 7 GA in order to introduce a formalism which will need to

[2019-07-02 10:27] skabashnyuk opened #13668 "Admin guide for user authentication and authorization"
### Description
We need to review our Admin guide for user authentication and authorization and make sure it's up to date and Che7 compatible.

[2019-07-02 11:24] #13577 closed

[2019-07-02 11:25] #13574 closed

[2019-07-02 11:49] l0rd commented on #13625
Ok it looks like image eclipse/che-server:nightly contains che-server 7.0.0-beta-4.0-SNAPSHOT

[code]

Assigning to @vparfonov

[2019-07-02 11:50] slemeur opened #13669 "Che Plugins panel is mentioning that the registry is invalid"
### Description
Che Plugins panel is mentioning that the registry is invalid
I don't understand how this is even possible, as I have been able to start a workspace with some plugins that are coming from a registry...

<img width="623" alt="Capture d’écran 2019-07-02 à 13 48 52" src="https://user-images.githubusercontent.com/1636769/60510620-25a1c480-9cd0-11e9-83b9-d743fa7219ff.png">

### Reprodu

[2019-07-02 11:53] slemeur opened #13670 "Remove the view "Plugins" since we have "Che Plugins""
### Description
While we've done a nice "Che Plugins" panel which is richer than the original "Plugins" panel from a plain Theia, I would think that we can remove the "Plugins" panel.

I would rename the panel "Plugins" instead of "Che Plugins".

<img width="601" alt="Capture d’écran 2019-07-02 à 13 45 01" src="https://user-images.githubusercontent.com/1636769/60510840-bbd5ea80-9cd0-11e9-9a30-42

[2019-07-02 12:37] mkuznyetsov opened #13671 "Add keepDir support for Devfiles"
Che 6 factories used to support "keepDir" param to specify a subfolder of a project repository.
Devfile model currently does not support this.

To support it on Che side, it requires to change the model, schema, DB. For Che 7 Theia based workspaces, would require to add support for Theia as well.

[2019-07-02 12:55] metlos opened #13672 "Add support for Vue.js"
### Description

Currently our plugin registry doesn't support Vue.js nicely. We have support for typescript/javascript parts of the code but we lack support for the `.vue` files altogether (we don't even have syntax highlighting).

This issue is to support the vetur plugin https://marketplace.visualstudio.com/items?itemName=octref.vetur in Che.

I tried adding it naively through a custom plugin c

[2019-07-02 13:01] metlos commented on #13672
Would you please take a look, @l0rd ?

[2019-07-02 13:01] SkorikSergey commented on #13659
This issue is reproduced if try to log into CHE as **kubeadmin** user. Logging under a regular user works as expected.

[2019-07-02 13:17] davidfestal commented on #13659
I don't think it is expected to log into the Che Server as the Openshift **`kubeadmin`**.
@nickboldt @l0rd wdyt ? I assume this should be added to docs ?

@dmytro-ndp Do you know if logging to Che with Openshift OAuth under the **`kubeadmin`** user had been tested and was expected to work with CRW 1.2 and Openshift 3.11 ? I suspect it was not.

[2019-07-02 13:29] mshaposhnik commented on #13668
So i think it's mostly about [this](https://github.com/eclipse/che-docs/blob/master/src/main/pages/che-6/user-management/authentication.adoc) doc, i'm reviewed it, it looks almost ok for the Che server auth part, but still has Che 7  irrelevant info about ws-agent authentication, and has nothing about JWTProxy stuff on secure servers etc.
So first question is where the renewed document should be p

[2019-07-02 13:41] #13357 closed

[2019-07-02 13:43] slemeur commented on #1564
Fixed in Che 7

[2019-07-02 13:43] #1564 closed

[2019-07-02 13:44] slemeur commented on #1963
Won't fix

[2019-07-02 13:44] #1963 closed

[2019-07-02 13:49] bfitzpat commented on #13232
Testing today with the v3 version and the latest theia used on che.openshift.io, this is no longer an issue. I'm going to go ahead and close it

[2019-07-02 13:49] #13232 closed

[2019-07-02 13:50] l0rd opened #13673 "Empty warning in dashboard workspace configuration panel"
### Description

![image](https://user-images.githubusercontent.com/606959/60517785-89cc8480-9ce0-11e9-870b-ba33d1d1e021.png)

### Reproduction Steps

Create and continue editing a java-maven workspace

**OS and version:**
minishift 1.34 / che-sever:nightly

[2019-07-02 14:00] skabashnyuk commented on #13668
@mshaposhnik https://docs.google.com/document/d/1gvki1dXWtq0Pha4Nv6yAVmuZfVx8U_MIHgv8C59t_3A/edit

[2019-07-02 14:44] l0rd commented on #13672
Thanks @metlos for raising this. What do you mean when you say `But that doesn't seem to work out of the box`?

I would be +1 to add the vs code extension to the plugin registry before GA if we don't need to update Theia vscode extension API. Otherwise I would postpone it to 7.1.0.

[2019-07-02 14:58] dmytro-ndp commented on #13659
@davidfestal: login as a cluster admin is a USUAL use case, which is regularly tested with [Che against OKD 3.9](https://ci.codenvycorp.com/view/qa-nightly/job/che-multiuser-master-ocp-oauth-test/388/Selenium_20tests_20report/), and [CRW against OCP 3.11](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/pre-release/view/OCP%203.11/job/pre-release-e2e-tests-against-OCP3.11-

[2019-07-02 15:03] l0rd commented on #13625
I have double checked and it the version of che-server used is the correct one (`7.0.0-rc-3.0-SNAPSHOT
`) but nevertheless che-server is still not starting when using helm.

Assigning back to @skabashnyuk

[2019-07-02 15:09] gito0o commented on #13625
I can only imagine the `init container` and the whole waiting thing between psql -> Kycloak -> Che might have some room for improvement. I can contribute a few hours to this if this is currently the focuse.

[2019-07-02 15:12] l0rd commented on #13625
@gito0o yes that's definitely a blocker we need to fix. Consider that it used to work so that should be a "subtle" regression.

[2019-07-02 16:08] tomevision opened #13674 "required root privilege to install packages using the Terminal on a containers"
I have an eclipse che 7 installed on my machine and i want to develop a new plugins using different packages and i need root privileges in-order to install this packages can you give me the password for the root user ?

[2019-07-02 16:19] mborodin commented on #13436
Can you at least put a big warning in documentation? I just lost like a week of work...

[2019-07-02 18:06] sunix opened #13675 "`path` of project is not taken in account when cloning projects of a workspace"
### Description
Projects defined in a classic workspace configuration in Che6 were able to handle `path` which was the folder related to `/projects` where a project would be located

for instance
[code]
Would have the project che-theia being clone into `/projects/subfolder/che-theia`.
It seems it is not possible to defined project in another location than underneath `/projects`

I have not tried w

[2019-07-02 18:14] sunix commented on #13675
closing at the moment: testing with `clonePath`

[2019-07-02 18:59] nickboldt opened #13676 "Can't update Che 7 in Minishift to use newer devfile registry"
### Description

Out of the box latest Che 7 RC2+ (`eclipse/che-server:nightly`) references a devfile registry without default projects, in https://che-devfile-registry.openshift.io/devfiles/

Supposedly this is fixed in master (and in prod preview):

https://che-devfile-registry.prod-preview.openshift.io/devfiles/angular/devfile.yaml

But even if I change my Che's config map to use:

[code]

I st

[2019-07-02 19:00] nickboldt commented on #13676
This might be a dupe / related to https://github.com/eclipse/che/issues/13665

[2019-07-02 21:05] nickboldt commented on #13659
Why are we still using resources to test Openshift 3.9? That's EOL and unsupported.

We only support 3.11 + 4.latest + 4.(latest-1).

[2019-07-02 21:07] nickboldt commented on #13659
@davidfestal We don't support CRW on pure K8s (only Che on K8s is community-supported), so I'd use the Openshift system:admin user rather than the kubeadmin one.

[2019-07-02 21:08] nickboldt commented on #13659
Related downstream issue: https://issues.jboss.org/browse/CRW-202

[2019-07-02 21:23] dmytro-ndp commented on #13659
@nickboldt: FYI: the issue is about deployment to OCP 4.x instance which doesn't have *system:admin* user by default, but *kubeadmin* with cluster admin right.

[2019-07-03 04:49] kavirmusic commented on #13675
Description

Projects defined in a classic workspace configuration in Che6 were able to handle path which was the folder related to /projects where a project would be located

for instance

    {
      "name": "che-theia",
      "source": {
        "location": "https://github.com/eclipse/che-theia.git",
        "type": "git"
      },
      "path": "/subfolder/che-theia"
    },

Would have the proj

[2019-07-03 04:55] kavirmusic opened #13677 "kavirmusic.K2"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2019-07-03 05:42] skabashnyuk commented on #13677
@kavirmusic any updates on this issue? It looks incomplete.

[2019-07-03 06:56] monaka opened #13678 "Deleted `projects:` in devfiles.yaml on creating workspaces."
### Description

It looks all elements under `projects:` in all devfile.yaml is deleted by Dashboard.

### Reproduction Steps

1. Open Che.
2. Create workspace via `https://{che-host}/dashboard/#/create-workspace`
3. Check `devfile.yaml` stored in the workspace at `https://{che-host}/dashboard/#/workspace/{user}/{workspace-name}?tab=Devfile`

**OS and version:**

Che 7.0.0-SNAPSHOT

**Diagnostics:

[2019-07-03 07:06] monaka commented on #13678
I didn't add the priority label as I have no plan to fix it by myself. But it will be high priority.

And just a information after inspect in Dashboard.
I suspect this is caused by https://github.com/eclipse/che/blob/edfda1398c657c407a69dbc0e71e3b394932f23c/dashboard/src/app/workspaces/create-workspace/create-workspace.service.ts#L196 .
There should be `let projects = workspaceDevfile.projects` or

[2019-07-03 07:16] metlos commented on #13653
Would you be able to check what Che image was used? The error you see looks like an issue we had prior to Che7 RC1 (I think) which should have been solved relatively long time ago...

[2019-07-03 07:18] metlos commented on #13653
Btw I tried this on a fresh minikube instance and the command succeeded (after restarting it due to 1 timeout while downloading images).

[2019-07-03 07:22] metlos commented on #13674
Could you explain what you're trying to achieve in more detail? There is no root password I know of, nor have I ever needed one to create a plugin. If I knew more about your use-case maybe I could point you to some concrete examples.

[2019-07-03 07:22] tsmaeder opened #13679 "Languages Sprint 169"
July 3-July 23

# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 10 | 5 | 5
@tolusha | 9 | 5 | 4.5
@svor | 10 | 6 | 6
@vrubezhny | 0
@JPinkney | 0

# Priorities
All testing must be done on minishift!

# Candidate Issues
- [ ] Review https://github.com/eclipse/che-docs/pull/746 (@tsmaeder)
- [x] Provide a Language Servers troubleshooting document #13485
  - [x] Camel @

[2019-07-03 07:24] #13482 closed

[2019-07-03 07:25] slemeur commented on #13586
Why the names are getting things like:
- theia-ide*8pz*
- vscode-typescript*2cz*
- che-machine-exec*t3y*

What is this "identifier"? What it is used for? What is the meaning to the end-user?
Can we hide it?
Or at least do something like:
- theia-ide-*8pz*
- vscode-typescript-*2cz*
- che-machine-exec-*t3y*
(which will make it more readable)

[2019-07-03 07:26] slemeur commented on #13586
cc @amisevsk

[2019-07-03 07:26] vkuznyetsov opened #13680 "QE-2019-07-23 (Sprint: 169)"
### Sprint goals

### Issues tied to objectives

### Unplanned
- [x] Correct the selenium E2E tests according to last changed on dashboard #13856 2sp
- [ ]  Create automated UI test for install Eclipse Che by using OperatorHub UI #13878 5sp

### PR under review

#### Availability

| Name | Available |
| --- | :-: |
| Aleksandr Shmaraiev | 15 |
| Maxim Musienko | 15 |
| Dmytro Nochevnov | 15 |
| Ig

[2019-07-03 07:37] Ohrimenko1988 opened #13681 "At the launch of the workspace, the IDE "GWT" is loaded instead of "Theia" IDE"
### Reproduction Steps
 - Create the workspace by devfile with defined "Theia" IDE or by stack which defined on dashboard
 - Wait until workspace is started
 - Pay attention that "GWT" IDE has been loaded
 - If go to dashboard and load workspace again the "Theia" IDE will be loaded

**Expected behavior:**
The "Theia" IDE is loaded

**Observed behavior:**
The "GWT" IDE is loaded

**Attachment:**
![

[2019-07-03 07:41] metlos commented on #13672
Basically the symptoms I described in the Diagnostics section.

[2019-07-03 08:09] tomevision commented on #13674
I want to install npm packages in order to add more functionalities to my Plugins and to do that i have to be a root user, that is why i need the root privileges

[2019-07-03 08:20] l0rd commented on #13678
Thanks @monaka for raising this. cc @ashumilova

[2019-07-03 08:40] #13538 closed

[2019-07-03 09:07] slemeur commented on #13681
In order to reproduce this issue, could you provide the devfile and the stack you have been selecting?

[2019-07-03 09:13] slemeur commented on #13677
I'm closing the issue. Please @kavirmusic create a new one with more information.

[2019-07-03 09:13] #13677 closed

[2019-07-03 09:14] slemeur commented on #13676
Yes this is going to be fixed by #13665

[2019-07-03 09:14] sunix commented on #13681
I can reproduce when i start a new workspace from a devfile with chectl

![Selection_312](https://user-images.githubusercontent.com/650571/60579611-bf767980-9d83-11e9-85e4-04aeb84309c5.png)

[2019-07-03 09:15] rhopp commented on #13681
@slemeur It's happening with devfile we are using for happy path as well as with devfiles from registry (I've just tried maven & .NET and it's reproducible on both, so I'm guessing it's general issue not tied to any specific devfile)

Possible cause of this issue:
https://github.com/eclipse/che/commit/edfda1398c657c407a69dbc0e71e3b394932f23c

[2019-07-03 09:19] slemeur commented on #13681
ok thanks.
added the proper labels then.

[2019-07-03 09:20] #13480 closed

[2019-07-03 09:24] skabashnyuk opened #13682 "Platform-2019-07-23 (Sprint: 169)"
### Description
- [x] Deprecate storing of workspaces converted from Devfile | https://github.com/eclipse/che/issues/13423 | 2
- [x] Update Che Helm Chart: Che registries (plugin+devfile) should be part of Che https://github.com/eclipse/che/issues/13633 8
- [x] Admin guide for user authentication and authorization | https://github.com/eclipse/che/issues/13668 | 8
- [x] Multi-user deploy fails on m

[2019-07-03 09:35] mkuznyetsov opened #13683 "Unable to accept factory with workspace, which name would collide with existing workspace name"
Upon factory acceptance, if workspace couldn't be created because it's name would collide with other existing workspace, it would be solved by having a factory workspace name appended with a number. This feature doesn't work anymore with Devfile based workspaces.

[2019-07-03 09:36] metlos commented on #13674
So Che 7 plugins are implemented as sidecar containers. So basically you define your docker image with everything you need for your plugin to work and then install it into Che (by listing it in a custom plugin registry).

The docs are being built for all this at the moment so the details are a little bit sketchy but you can take a look at https://github.com/eclipse/che-docs/ an see what you can fi

[2019-07-03 09:41] sparkoo commented on #13592
I've created PR for this. Let's discuss details there https://github.com/eclipse/che-devfile-registry/pull/25

[2019-07-03 09:53] metlos commented on #13318
While in general I agree this is a good idea, in this concrete example it seems quite dangerous to me, because local maven repo is not "thread safe" and 2 parallel builds can corrupt it - https://issues.apache.org/jira/browse/MNG-2802. Not sure if we (or the user) can control the access to the repository done by the java plugin.

[2019-07-03 10:29] davidfestal commented on #13659
@dmytro-ndp I don't see any usage of the `kubeadmin` user to log into Che through the Openshift identity provider in the tests you pointed me to. They use either the selenium tests `DefaultTestUser` or a new user whose name is `"user" + currentTimeInMillisec`.

In Openshift 4.1, the `kubeadmin` user is a temporary admin user provided at start to connect to your cluster until you define proper clus

[2019-07-03 10:39] davidfestal commented on #13659
@dmytro-ndp @nickboldt I still don't understand what the problem is here.
`kubeadmin` is the default temporary admin user provided in OS 4.1 clusters, and we don't have any problem with that, except the fact that this *special* user cannot be used to login into Che, which of course seems obvious. Normal use of OS 4 would be to setup some sort of identity provider in the OS 4 cluster OAuth [configu

[2019-07-03 11:13] sunix commented on #13318
What is the difference with a classic use case?  User runs maven from commands line and at the same time the IDE is invoking maven

[2019-07-03 11:30] musienko-maxim commented on #13523
On the  https://ci.codenvycorp.com/view/qa-experimental/job/experimental-che-integration-tests-mini/ job the behavior of HappyPath test is stable. The infrastructure problem which we've had with nested virtualisation is not reproduced. I think we can close this issue

[2019-07-03 11:30] #13523 closed

[2019-07-03 11:41] sunix commented on #13675
@nickboldt, @l0rd, @slemeur, @tsmaeder and @rhopp ? for GA ?

[2019-07-03 11:49] slemeur commented on #13675
This does look like a capability that we have not implemented back in Che 7.

I would label it as an enhancement, as this is not really creating a bug to the user. He would still be able to get his project imported but will miss the ability to specify a subfolder.

[2019-07-03 11:50] slemeur commented on #13675
Unless we are documenting the use of the `path` and it was implemented, switching this to "kind/enhancement"

[2019-07-03 12:01] sunix commented on #13675
yes we had that in che7 but i think this is working for devfile typed workspace.
But there is a difference between devfile and workspaceconfig: workspace config is taking `/` in the path.

[code]
but devfile doesn't
[code]

But implementation is the same from my understanding, everything has been refactored https://github.com/eclipse/che-theia/pull/242 ... so unless you start a workspace from a de

[2019-07-03 12:06] slemeur commented on #7536
won't fix on Che 6

[2019-07-03 12:06] #7536 closed

[2019-07-03 12:12] fErten opened #13685 "Impossible to start workspaces on minikube che7-rc3"
### Description

Unable to start a workspace with che7 deployed on minikube.

Che is deployed on a Ubuntu virtual machine using minikube with --vm-driver=none (docker as a driver) Installation is successful with chectl however I am not able to start workspace or successfully see workspace configuration.

### Reproduction Steps
1 -- installation process
[code]
2 - create a worksapce from dasboard

[2019-07-03 12:29] tsmaeder commented on #13675
Go requires a particular folder structure. Is this related to that problem?

[2019-07-03 12:29] metlos commented on #13672
@tsmaeder @tolusha would you be able to take a quick look at the above vue extension to estimate how much work it would be to make it work in Theia?

[2019-07-03 12:34] #13423 closed

[2019-07-03 12:43] vinokurig opened #13742 "SSH plugin doesn't show generated keys"
### Description

### Reproduction Steps

1. F1 -> Ssh: Generate key pair...
2. Input `github.com`
3. Chose `VCS`
4. Press the `View` button when the notification asks to show the key
Expected: The key must be viewed in the editor.
Actual: Nothing happens

**OS and version:**

**Diagnostics:**

[2019-07-03 12:43] sunix commented on #13675
I have just made some test.
I think we can skip that one if we concider that we don't support anymore the old workspace structure (not based on devfile) but then, that one https://github.com/eclipse/che/issues/13623 becomes really blocker because creating a workspace from a devfile will create a workspace with the old structure.

From what i have tested, everything related to cloning and project s

[2019-07-03 12:48] sunix commented on #13621
@olexii4 you fix it i recommand you update these test with devfile: https://github.com/eclipse/che-theia/blob/master/plugins/factory-plugin/tests/projects.spec.ts#L164-L275

[2019-07-03 13:51] davidfestal commented on #13659
@dmytro-ndp If your purpose is to test that a user with cluster admin privileges can still start a workspace (cf issues [CRW-122](https://issues.jboss.org/browse/CRW-122) and [12670](https://github.com/eclipse/che/issues/12670) ) **also on Openshift 4.x**, then you would have to:
- create a real user (through htpasswd for example)
- assign the cluster admin role to it (through a service account +

[2019-07-03 13:53] slemeur commented on #13685
Hi @fErten. Thanks for reporting the issue. We are currently having issues to deploy che in multiuser on minikube: https://github.com/eclipse/che/issues/13625

Are you facing the same issue when trying with a single-user Che?

[2019-07-03 14:03] benoitf commented on #13685
it's related to https://github.com/che-incubator/chectl/issues/92

[2019-07-03 14:04] benoitf commented on #13685
changing assignee as @l0rd is already working on it

[2019-07-03 14:04] benoitf commented on #13685
@slemeur using single user is working as it's using helm and not the che-operator

[2019-07-03 14:05] Ohrimenko1988 opened #13686 "[TS_SELENIUM] Increase logging of tests steps"
For now we have tests output which reports just for failed or passed tests and stack trace.
![Screenshot from 2019-07-01 15-21-16](https://user-images.githubusercontent.com/22724619/60597840-50654900-9db4-11e9-9455-1205fba33e57.png)

It will be helpful to have more information about processes which happen in the tests. It will simplify debugging and searching a root reason in the case of failure.

[2019-07-03 14:13] nickboldt commented on #13676
I think I was seeing this behaviour because of #13678 -- if we fix that one, this will likely be fixed too.

[2019-07-03 14:17] mkuznyetsov opened #13687 "It is possible to create factory/workspace with invalid API version, but not start it"
It is possible to create a factory with any API version, but it will be validated only at the start of the workspace by this method
https://github.com/eclipse/che/blob/caae00e21b2fd316560a406f2e1d8ad98edf1dad/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/devfile/convert/DevfileConverter.java#L184

It is proposed to redo this so that schema validation would take

[2019-07-03 14:39] sparkoo commented on #13592
@themr0c what about sample projects? Are there even gonna be there? Or are they deprecated and will be removed? As it is now, it does not make much sense to e.g. choose .NET stack and then add java sample project.

[2019-07-03 14:41] sparkoo commented on #13592
@slemeur ^^

[2019-07-03 14:44] fErten commented on #13685
@slemeur for the single user I am not even able to install che susccesfully, deploying helm chart fails, the error i am having is ;
[code]

[2019-07-03 14:52] l0rd commented on #13685
@benoitf why do you think that it's related to the operator? The default installer on minikube should be `helm` even with `--multiuser` right?

[2019-07-03 14:58] akurinnoy commented on #13584
Hi @slemeur
I cannot reproduce this issue neither on minikube, minishift or che.openshift.io .
Could you confirm that the issue is still there?

[2019-07-03 14:59] dmytro-ndp commented on #13659
@davidfestal: OpenShift OAuth works with user with cluster-admin rights, which @SkorikSergey had been added to available OCP 4 instance.
Anyway, we will be testing it with regular user and user with cluster-admin right.
So, we can close the issue and don't forget to mention in documentation, that Che doesn't work with **kubeadmin** user.

[2019-07-03 15:05] davidfestal commented on #13659
@dmytro-ndp Great ! Thanks for your confirmation: one issue less !

[2019-07-03 15:05] #13659 closed

[2019-07-03 15:25] fErten opened #13689 "Che-gwt migration to che-theia"
### Description
Theia replaces the old GWT based IDE in Eclipse Che Version 7. What is the suggested flow for migrating custom extensions for previous Che versions (che 6.x) to new one?

These extensions based on che-6 are mostly [workspace-agent](https://github.com/eclipse/che/blob/master/assembly/assembly-wsagent-war/pom.xml) extension that is added to the assembly during the build.

### Reprodu

[2019-07-03 15:39] benoitf commented on #13688
FYI I moved the issue through github from che-theia repository to try (so it's quite old issue)

[2019-07-03 17:06] #13623 closed

[2019-07-03 18:34] #13500 closed

[2019-07-03 18:34] themr0c commented on #13592
@sparkoo I don't know. @slemeur should definitively know better than myself.

[2019-07-03 19:39] metlos commented on #13529
Before I leave on vacation, let me describe the state of the outstanding samples as I am aware about them.

## Vuejs

We can either wait for #13672 to be finished or, if we postpone that issue to 7.1 but need to have a vuejs sample in 7.0, we can use the following devfile in the sample (it will lack support for Vue-specific stuff but will have support for typescript/javascript and npm):

[code]

#

[2019-07-04 01:31] svkr2k opened #13690 "Eclipse Che Installation in AWS EC2, failure to start a workspace"
### Description
Trying to run `che-server:7.0.0-RC-2.0`. che-server installs and runs fine, able to view dashboard and stacks/devfiles.

But, when i try to create a workspace, it fails. The logs are given below.

Some of the experts in a forum feel that the che master pod is unable to communicate with the theia pod.

In local PC everyting works fine and able to create workspaces.
But, in AWS EC2,

[2019-07-04 03:01] monaka commented on #13674
@tomevision I guess it will be resolved to change the global npm storage location where the plugin can write if you just want to execute `npm -g`.

[2019-07-04 06:23] rhopp commented on #6239
Not relevant anymore. Closing.

[2019-07-04 06:23] #6239 closed

[2019-07-04 06:25] rhopp commented on #6242
Does not look relevant anymore. Closing.

[2019-07-04 06:25] #6242 closed

[2019-07-04 06:25] rhopp commented on #6452
Part of old selenium suite. Not going to fix this. Closing.

[2019-07-04 06:25] #6452 closed

[2019-07-04 06:26] rhopp commented on #6430
New tests are not using those forked repos. Closing.

[2019-07-04 06:26] #6430 closed

[2019-07-04 06:28] rhopp commented on #6633
Happy path test is using selenium webdriver 3.6.0. We are not investing any more time in old selenium suite. Closing.

[2019-07-04 06:28] #6633 closed

[2019-07-04 06:29] vkuznyetsov commented on #11295
Not actual

[2019-07-04 06:29] #11295 closed

[2019-07-04 06:31] vkuznyetsov commented on #8070
not actual

[2019-07-04 06:31] #8070 closed

[2019-07-04 06:31] vkuznyetsov commented on #9967
not actual

[2019-07-04 06:31] #9967 closed

[2019-07-04 06:32] vkuznyetsov commented on #10012
not actual

[2019-07-04 06:32] #10012 closed

[2019-07-04 06:32] rhopp commented on #8442
We are not investing more time in old selenium tests suite. If the same issue happens with Happy Path tests, we'll reopen this one. Until then, I'm closing this issue.

[2019-07-04 06:32] #8442 closed

[2019-07-04 06:32] vkuznyetsov commented on #10219
not actual

[2019-07-04 06:32] #10219 closed

[2019-07-04 06:33] vkuznyetsov commented on #10333
not actual

[2019-07-04 06:33] #10333 closed

[2019-07-04 06:33] vkuznyetsov commented on #10853
not actual

[2019-07-04 06:33] #10853 closed

[2019-07-04 06:34] vkuznyetsov commented on #11478
not actual

[2019-07-04 06:34] #11478 closed

[2019-07-04 06:34] vkuznyetsov commented on #10217
not actual

[2019-07-04 06:34] #10217 closed

[2019-07-04 06:35] vkuznyetsov commented on #12472
not actual

[2019-07-04 06:35] #12472 closed

[2019-07-04 06:36] vkuznyetsov commented on #12804
not actual

[2019-07-04 06:36] #12804 closed

[2019-07-04 06:39] rhopp commented on #8733
Not investing time in old selenium tests. Closing.

[2019-07-04 06:39] #8733 closed

[2019-07-04 06:43] #13478 closed

[2019-07-04 06:56] rhopp commented on #6233
Not investing any more time in selenium suite. Closing.

[2019-07-04 06:56] #6233 closed

[2019-07-04 07:01] rhopp commented on #8852
At this point in time we will run tests still with java 8. If the need to run selenium tests with newer java arises, we can reopen this.

[2019-07-04 07:01] #8852 closed

[2019-07-04 07:02] rhopp commented on #9269
Won't fix. Closing.

[2019-07-04 07:02] #9269 closed

[2019-07-04 07:04] rhopp commented on #9310
As selenium test suite is being slowly decommisioned, we will not spend time with this. Closing.

[2019-07-04 07:04] #9310 closed

[2019-07-04 07:06] rhopp commented on #9545
GWT is being decomissioned. Closing.

[2019-07-04 07:06] #9545 closed

[2019-07-04 07:07] rhopp commented on #10728
Not relevant anymore. Closing.

[2019-07-04 07:07] #10728 closed

[2019-07-04 07:08] rhopp commented on #10854
Not relevant anymore. Closing.

[2019-07-04 07:08] #10854 closed

[2019-07-04 07:08] rhopp commented on #11000
Not relevant anymore. Closing.

[2019-07-04 07:08] #11000 closed

[2019-07-04 07:10] rhopp commented on #11029
As selenium tests are being slowly decomissioned, I'm closing this one.
@tsmaeder If you disagree, please reopen.

[2019-07-04 07:10] #11029 closed

[2019-07-04 07:11] rhopp commented on #11001
Not relevant anymore. Closing.

[2019-07-04 07:11] #11001 closed

[2019-07-04 07:13] rhopp commented on #11417
This test was implemented in selenium suite (using GWT). As GWT is not a focus anymore, we will not work on this one (in selenium suite).
Closing.

[2019-07-04 07:13] #11417 closed

[2019-07-04 07:13] rhopp commented on #11419
Not relevant anymore. Closing.

[2019-07-04 07:13] #11419 closed

[2019-07-04 07:14] rhopp commented on #11435
GWT & Selenium suite is slowly being decommissioned. Closing.

[2019-07-04 07:14] #11435 closed

[2019-07-04 07:14] rhopp commented on #11780
Not relevant anymore. Closing.

[2019-07-04 07:14] #11780 closed

[2019-07-04 07:15] rhopp commented on #12220
Not relevant anymore. Closing.

[2019-07-04 07:15] #12220 closed

[2019-07-04 07:20] rhopp commented on #9651
I don't think we will be extending the current dashboard tests at this time. Closing.

[2019-07-04 07:20] #9651 closed

[2019-07-04 07:21] rhopp commented on #10087
Not relevant anymore. Closing.

[2019-07-04 07:21] #10087 closed

[2019-07-04 07:25] rhopp commented on #11189
This should be responsibility of everybody, when doing any refactoring. Closing.

[2019-07-04 07:25] #11189 closed

[2019-07-04 07:25] slemeur commented on #13584
I cannot reproduce it either on the latest version.
Closing, and if anybody find this issue, we will reopen

[2019-07-04 07:26] rhopp commented on #11885
@Katka92 I guess we can close this one, right? If you disagree, please reopen.

[2019-07-04 07:26] #11885 closed

[2019-07-04 07:26] musienko-maxim opened #13691 "Prepare e2e test for Vscode GitHub Plugin"
### Description
On this moment VS code plugin is not merged in the Theia but already has all UI parts and works properly. According to the step 5 of the HappyPath scenario: https://github.com/eclipse/che/issues/12728  we can start implementing Page Objects, methods for interaction with widget and add some steps from the scenario.
After merging Vs code plugin we will have working skeleton of the st

[2019-07-04 08:16] sunix opened #13692 "che plugins view should have proper icons for each plugins/extensions"
@sunix commented on [Wed Jun 05 2019](https://github.com/eclipse/che-theia/issues/261)

### Description
At the moment all the plugins are shown with the eclipse che logo. We have to make the right changes (registry or picking from vscode marketplace) to display the right icons
![Selection_275](https://user-images.githubusercontent.com/650571/58944494-3e2ac780-8782-11e9-91b2-f9bed10f8c46.png)

[2019-07-04 08:18] benoitf commented on #13692
there is an existing issue no ?

[2019-07-04 08:18] sunix commented on #13692
just moved from che-theia

[2019-07-04 08:19] sunix commented on #13692
ok wrong manipulation ...

[2019-07-04 08:19] #13692 closed

[2019-07-04 08:20] benoitf commented on #13692
@sunix you should click on 'transfer the issue' from che-theia issue (top right bottom)
https://github.com/eclipse/che-theia/issues/261

so it will keep history and github will manage redirect

[2019-07-04 08:20] artaleks9 opened #13694 "GitHub identity is persisted locally after log-out"
### Description
_It seems logout from CHE doesn't include logout from GitHub.
The problem was detected in the beginning in the CRW (https://issues.jboss.org/browse/CRW-323)_

**Reproduction Steps**
* _User1_ logs into CHE, performs authorization on his GitHub account, gets list of his projects and logs out from CHE
* _User2_ logs into CHE in the same browser window
* _User2_ can see and use the pr

[2019-07-04 09:27] slemeur commented on #13592
You are right. The default stack will be provided with a sample project:
https://github.com/eclipse/che/issues/13529

It is still valuable to cleanup the description of the sample project as it will be displayed on the dashboard.

[2019-07-04 09:45] slemeur commented on #1566
Closing as fixed in Che 7

[2019-07-04 09:45] #1566 closed

[2019-07-04 09:53] slemeur opened #13698 "Add support for C/C++"
### Description
We should have support for C/C++ out of the box in Eclipse Che.

The work would consist in integrating existing C/C++ language server and provide default stack for it.

- [x] Ensure VS Code extensions [1] works with local Theia
  - [x] https://github.com/theia-ide/theia/pull/5795
  - [x] https://github.com/theia-ide/theia/pull/5803
- [x] Compare [3] [4] with VS Code extension [1] h

[2019-07-04 09:53] slemeur commented on #699
Closing in favor of https://github.com/eclipse/che/issues/13698

[2019-07-04 09:53] #699 closed

[2019-07-04 09:56] slemeur commented on #1731
Closing this issue as the new version of Eclipse Che is providing a new editor (Monaco, the same as VS Code)

[2019-07-04 09:56] #1731 closed

[2019-07-04 09:56] slemeur commented on #1805
Fixed in Che 7

[2019-07-04 09:56] #1805 closed

[2019-07-04 09:56] slemeur commented on #1804
Fixed in Che 7

[2019-07-04 09:56] #1804 closed

[2019-07-04 09:56] slemeur commented on #1798
Fixed in Che 7

[2019-07-04 09:56] #1798 closed

[2019-07-04 09:57] slemeur commented on #2458
Won't fix in Che 6

[2019-07-04 09:57] #2458 closed

[2019-07-04 09:57] slemeur commented on #2669
Gradle support is provided OOTB with Che 7.

[2019-07-04 09:57] #2669 closed

[2019-07-04 09:58] #2967 closed

[2019-07-04 09:58] #2968 closed

[2019-07-04 09:58] #2969 closed

[2019-07-04 09:58] #2970 closed

[2019-07-04 10:00] ibuziuk commented on #13698
@slemeur one of the getting-started [1] factories is C/C++
Are you ok to replace it with Python for Che 7 GA? Once C/C++ support will be in place we would also add a dedicated devfile to the getting-started page

[1] https://www.eclipse.org/che/getting-started/cloud/

[2019-07-04 10:02] slemeur commented on #13698
@ibuziuk yep.

[2019-07-04 10:03] ferdaarikan commented on #699
In the meantime https://github.com/eclipse-cdt/cdt-vscode is happenning

[2019-07-04 10:05] slemeur commented on #13698
from @ferdaarikan:
We should also reach out to: https://github.com/eclipse-cdt/cdt-vscode and check if they would be interested to publish the CDT VS Code extension to Che.

[2019-07-04 10:08] sunix commented on #13681
FYI the plan is to revert https://github.com/eclipse/che/commit/edfda1398c657c407a69dbc0e71e3b394932f23c

[2019-07-04 11:05] sunix commented on #8492
looks like won't fix

[2019-07-04 11:05] #8492 closed

[2019-07-04 11:07] sunix commented on #10381
this is Fixed AFAIK

[2019-07-04 11:07] #10381 closed

[2019-07-04 11:13] sunix commented on #10872
Looks like fixed

[2019-07-04 11:13] #10872 closed

[2019-07-04 11:13] sunix commented on #10874
Looks like fixed

[2019-07-04 11:13] #10874 closed

[2019-07-04 11:14] sunix commented on #11506
looks like merged

[2019-07-04 11:14] #11506 closed

[2019-07-04 11:16] akurinnoy commented on #13681
PR to revert bad commit: https://github.com/eclipse/che/pull/13699

[2019-07-04 11:16] sunix commented on #12457
@rhopp @vkuznyetsov do we still want to work on this ?

[2019-07-04 11:17] sunix commented on #12888
@Ohrimenko1988 @rhopp could you update the status of this ?

[2019-07-04 11:20] sunix commented on #13291
@vkuznyetsov @Ohrimenko1988 could you update the status of this issue ?

[2019-07-04 11:20] sunix commented on #12979
@vkuznyetsov @Ohrimenko1988 could you update the status of this issue ? thanks

[2019-07-04 11:42] sunix commented on #3112
triage: closing as no update for a while, you can reopen if this is still an issue

[2019-07-04 11:42] #3112 closed

[2019-07-04 12:02] azatsarynnyy commented on #13345
`Kubernetes: Run` command tries to find a Dockerfile into Theia workspace root folder which is `/projects` by default.
Since `/projects` is a parent folder for all of the projects in Che Workspace, in order to use `Kubernetes: Run` command the user needs to open a particular folder as a Theia workspace root folder with `File > Open Workspace...` menu item. After that step, an image build is starti

[2019-07-04 12:02] #13345 closed

[2019-07-04 12:10] slemeur commented on #12274
Won't fix in che 6

[2019-07-04 12:10] #12274 closed

[2019-07-04 12:10] slemeur commented on #12385
Hi @sr229 : Is that something you would be interested to contribute as devfile in Che 7 ?

[2019-07-04 12:12] slemeur commented on #12290
Won't fix in Che 6.
A new extensibility model has been introduced with Che 7

[2019-07-04 12:12] #12290 closed

[2019-07-04 12:13] slemeur commented on #12450
Won't fix in Che 6.
This would be nicely enhanced in Che 7

[2019-07-04 12:13] #12450 closed

[2019-07-04 12:15] slemeur commented on #12507
Won't fix in Che 6.
Would be interesting to reopen an issue if the following case in not working on Che 7

[2019-07-04 12:15] #12507 closed

[2019-07-04 12:18] slemeur commented on #12355
Won't fix in Che 6 - as the extensibility model has been revamped in Che 7

[2019-07-04 12:18] #12355 closed

[2019-07-04 12:20] slemeur commented on #12285
Won't fix as we are deprecating the Docker support in favor of Kubernetes.
The Che 6 docker CLI is going to be replaced by github.com/che-incubator/chectl

[2019-07-04 12:20] #12285 closed

[2019-07-04 12:21] slemeur commented on #12378
Won't fix in Che 6.
Would be nice to open a new issue if that use case cannot be properly handled in Che 7

[2019-07-04 12:21] #12378 closed

[2019-07-04 12:35] SkorikSergey commented on #5648
Not relevant anymore. Closing.

[2019-07-04 12:35] #5648 closed

[2019-07-04 12:36] SkorikSergey commented on #4448
Not relevant anymore. Closing.

[2019-07-04 12:36] #4448 closed

[2019-07-04 12:37] SkorikSergey commented on #8390
Not relevant anymore. Closing.

[2019-07-04 12:37] #8390 closed

[2019-07-04 12:47] SkorikSergey commented on #12259
Not relevant anymore. Closing.

[2019-07-04 12:47] #12259 closed

[2019-07-04 12:47] SkorikSergey commented on #12218
Not relevant anymore. Closing.

[2019-07-04 12:47] #12218 closed

[2019-07-04 12:47] SkorikSergey commented on #12017
Not relevant anymore. Closing.

[2019-07-04 12:47] #12017 closed

[2019-07-04 12:48] SkorikSergey commented on #10987
Not relevant anymore. Closing.

[2019-07-04 12:48] #10987 closed

[2019-07-04 12:48] SkorikSergey commented on #10956
Not relevant anymore. Closing.

[2019-07-04 12:48] #10956 closed

[2019-07-04 12:48] SkorikSergey commented on #10674
Not relevant anymore. Closing.

[2019-07-04 12:48] #10674 closed

[2019-07-04 12:48] SkorikSergey commented on #10555
Not relevant anymore. Closing.

[2019-07-04 12:48] #10555 closed

[2019-07-04 12:48] SkorikSergey commented on #9726
Not relevant anymore. Closing.

[2019-07-04 12:48] #9726 closed

[2019-07-04 12:49] SkorikSergey commented on #9318
Not relevant anymore. Closing.

[2019-07-04 12:49] #9318 closed

[2019-07-04 12:50] SkorikSergey commented on #10988
Not relevant anymore. Closing.

[2019-07-04 12:50] #10988 closed

[2019-07-04 12:50] SkorikSergey commented on #11161
Not relevant anymore. Closing.

[2019-07-04 12:50] #11161 closed

[2019-07-04 12:50] SkorikSergey commented on #11520
Not relevant anymore. Closing.

[2019-07-04 12:50] SkorikSergey commented on #11514
Not relevant anymore. Closing.

[2019-07-04 12:50] #11514 closed

[2019-07-04 13:01] SkorikSergey commented on #4242
Not relevant anymore. Closing.

[2019-07-04 13:01] #4242 closed

[2019-07-04 13:03] SkorikSergey commented on #9555
Not relevant anymore. Closing.

[2019-07-04 13:03] #9555 closed

[2019-07-04 13:03] SkorikSergey commented on #10957
Not relevant anymore. Closing.

[2019-07-04 13:03] #10957 closed

[2019-07-04 13:03] SkorikSergey commented on #10958
Not relevant anymore. Closing.

[2019-07-04 13:03] #10958 closed

[2019-07-04 13:04] SkorikSergey commented on #5973
Not relevant anymore. Closing.

[2019-07-04 13:04] #5973 closed

[2019-07-04 13:05] SkorikSergey commented on #12328
Not relevant anymore. Closing.

[2019-07-04 13:05] #12328 closed

[2019-07-04 13:10] SkorikSergey commented on #6440
Not relevant anymore. Closing.

[2019-07-04 13:10] #6440 closed

[2019-07-04 13:10] SkorikSergey commented on #8798
Not relevant anymore. Closing.

[2019-07-04 13:10] #8798 closed

[2019-07-04 13:11] SkorikSergey commented on #9001
Not relevant anymore. Closing.

[2019-07-04 13:11] #9001 closed

[2019-07-04 13:11] SkorikSergey commented on #10178
Not relevant anymore. Closing.

[2019-07-04 13:11] #10178 closed

[2019-07-04 13:11] SkorikSergey commented on #10180
Not relevant anymore. Closing.

[2019-07-04 13:11] #10180 closed

[2019-07-04 13:11] SkorikSergey commented on #10151
Not relevant anymore. Closing.

[2019-07-04 13:11] #10151 closed

[2019-07-04 13:11] SkorikSergey commented on #9796
Not relevant anymore. Closing.

[2019-07-04 13:11] #9796 closed

[2019-07-04 13:14] SkorikSergey commented on #11537
Not relevant anymore. Closing.

[2019-07-04 13:14] #11537 closed

[2019-07-04 13:14] SkorikSergey commented on #11324
Not relevant anymore. Closing.

[2019-07-04 13:14] #11324 closed

[2019-07-04 13:14] SkorikSergey commented on #11258
Not relevant anymore. Closing.

[2019-07-04 13:14] #11258 closed

[2019-07-04 13:14] SkorikSergey commented on #10261
Not relevant anymore. Closing.

[2019-07-04 13:14] #10261 closed

[2019-07-04 13:16] vrubezhny opened #13700 "Che 7 plugin: Update PHP Intelephense to the latest available version >=v.1.1.1 - 2019-06-27?"
### Description
A new version of PHP Intelephense - v.1.1.1 - is released. It has few interesting additions and improvements comparing to v.1.0.14 (that is currently used as `latest` plugin included to Che7 plugins registry):
[code]
It looks interesting to be included to  Che7 PHP Language Support

[2019-07-04 13:21] tsmaeder commented on #13427
We've done some experiments, and the verdict is mixed:
the  following language servers pick up new projects: PHP, Go, Typescript
the following do not: Java, Python, C#

[2019-07-04 13:23] sunix opened #13701 "Proposal optimize UX of Dashboard"
### Description
ATM, when user is landing to the dashboard, he can create a workspace from one of the samples (devfile) and can just `create and open`.
He can also change the projects to clone and than it will do some magical stuff ( removing the commands, etc ...)
It is hard for the user to actually make some changes on the language to use, the container image to load, the commands to run because

[2019-07-04 13:26] azatsarynnyy opened #13702 "[k8s plugin] Kubernetes: Run command cannot build an image"
**Steps to reproduce:**
1/ Create a Workspace from the Devfile https://github.com/azatsarynnyy/devfiles/blob/master/k8s-devfile.yml
2/ Call `File -> Open Workspace...` and choose `simple-nodejs-weather-app` folder
3/ Call the `Kubernetes: Run` command

The build is started - see the `Docker Building...` label in the status bar. But after a few seconds, the build is failed with the error:
[code]

T

[2019-07-04 13:42] Ohrimenko1988 commented on #13291
PR waits for CQ
But we change our approach so maybe we will not merge PR
@rhopp what do you think about that?

[2019-07-04 13:50] sunix commented on #13113
Hello, we won't be supporting Docker anymore in the new version of Che (only Kubernetes/Openshift infra).
I am closing it but feel free to reopen it if you feel it should.

[2019-07-04 13:50] #13113 closed

[2019-07-04 14:08] tsmaeder commented on #13687
What is the scenario here? How would a user create such a factory?

[2019-07-04 14:12] tsmaeder commented on #13690
@svkr2k how are you creating and starting the workspace?

[2019-07-04 14:20] benoitf commented on #13690
I think it's a duplicate of https://github.com/eclipse/che/issues/13435

[2019-07-04 14:43] tsmaeder commented on #13700
I would argue to do this update for Che 7. There are a number of interesting improvements and the risk is relatively low: worst case, people can go back to the version of the plugins we have now.

[2019-07-04 14:44] rhopp commented on #13291
@Ohrimenko1988 I would say this PR is a bit obsolete now... My opinion would be to close this issue&PR.

[2019-07-04 15:00] benoitf commented on #12426
probably done ?

[2019-07-04 15:01] benoitf commented on #12425
done ?

[2019-07-04 15:42] slemeur opened #13703 "Update the use of "Machines" in Che"
### Description
Along with the issue:
https://github.com/eclipse/che/issues/13667

Machine terminology is deprecated and should be updated.

Example:
https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/ServerChecker.java#L80

[2019-07-04 15:57] l0rd commented on #13701
Don't we already have the "create and continue editing" button?

[2019-07-04 17:47] sunix commented on #13701
![Selection_322](https://user-images.githubusercontent.com/650571/60682517-da381380-9e93-11e9-8844-a489394fb72a.png)

Woow you are right, it is there ... but I couldn't see it before ...

What about making it more visible: 2 buttons side by side rather then the drop down arrow button. + a tab to edit the commands.

[2019-07-04 17:58] sunix commented on #12425
Let's close it @slemeur @rkratky @evidolob you can reopen new issue if some part is missing

[2019-07-04 17:58] #12425 closed

[2019-07-04 18:02] sunix commented on #12426
I will review README.md and customizing.md

[2019-07-04 19:29] keithchong opened #13710 "VS Code plugin is not activated when installed in its own container"
I'm using 7.0.0-beta-5.0

Steps to reproduce

1. Select View->Che Plugins
2. From the more options drop down menu (three dots), select Add Registry
3. Follow the prompts to provide a name and the URL
--> I get a "Your registry is invalid" message in white text and red background

![Screen Shot 2019-07-04 at 3 33 58 PM](https://user-images.githubusercontent.com/7726022/60685460-32a9e980-9e71-11e9-8

[2019-07-04 19:33] keithchong commented on #12444
Hi @skabashnyuk,

Is there a way to get this to work without modifying Che code?  (presumption is that I'll have to modify that code and rebuild.)

I opened https://github.com/eclipse/che/issues/13710 for the other approach.  I verified that my local registry was actually up and running first.

[2019-07-05 01:42] tolusha commented on #13672
Investigation shows that `vue.js` doesn't work because `html.suggest.html5` is absent in preferences which comes from VS Code html extension [1]

I see two solutions:
1. It is possible to add this property into preferences.
2. We need to create VS Code html extension as a `vsix` archive (like we did for TS extension [2]) and make sure that it is loaded before `vue.js`

[1] https://github.com/micro

[2019-07-05 02:31] tolusha commented on #13529
@l0rd @metlos @tsmaeder
If nobody minds I will start working on `react` sample

[2019-07-05 07:05] #13291 closed

[2019-07-05 07:15] slemeur commented on #13710
cc @vitaliy-guliy
Related to: https://github.com/eclipse/che/issues/13669

[2019-07-05 07:32] artaleks9 opened #13720 "Workspace does not start"
### Description
_There is a deployed Eclipse CHE and_
_workspace does not start:_

![ci-codenvycorp-com-view-qa-nightly-job-che-integration-tests-multiuser-master-ocp](https://user-images.githubusercontent.com/5408906/60705491-ebbf0100-9f0f-11e9-80d5-548af7d3ec09.png)

It is detected on _qa-nigtly_ job:
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/confi

[2019-07-05 07:45] AndrienkoAleksandr opened #13751 "Container plugin: apply context menu for server items with item: open in mini-browser"
### Description
Container plugin: apply context menu for server items with item: open in mini-browser.

[2019-07-05 07:48] vparfonov commented on #13720
I will fix it

[2019-07-05 08:19] tsmaeder commented on #13742
@vinokurig what are the consequences of this bug? Does something not work or is it just a display problem? Is there a workaround?

[2019-07-05 08:20] tsmaeder commented on #13687
@mkuznyetsov ?

[2019-07-05 08:26] tsmaeder commented on #13690
@benoitf Looks likey, yes. The logs here and on the other bug look uninteresting. What additional info could we request that would help us pin down the issue?

[2019-07-05 08:31] vinokurig commented on #13742
@tsmaeder It is just a display problem, the workaround is to view the keys by via user preferences API

[2019-07-05 08:34] tsmaeder commented on #13702
@azatsarynnyy why is that the key error message? You seem to understand what the problem is here, could you explain? Also, what is the impact of this bug for the user of Che?

[2019-07-05 08:36] tsmaeder commented on #13703
@slemeur could you explain why you see this as a blocker? Everything works just fine and I wouldn't classify the use of "machine" as a major embarassment or usability problem.

[2019-07-05 08:38] sunix commented on #13758
@benoitf yes, just displaying them would be fine. It would be bad to give to much power to the enduser ... and break his workspace easily.

[2019-07-05 08:43] tsmaeder commented on #13710
@keithchong when you say "localhost", you mean your Mac, right? My suspicion is that Theia resolves localhost inside it's own container,  where no registry is running. When you run the registry at a publicly available address, does it work?

[2019-07-05 08:48] evidolob commented on #13710
@tsmaeder Are right, @keithchong you should use public IP, `localhost` is not available from Theia container.

[2019-07-05 08:49] Ohrimenko1988 commented on #13519
Done https://github.com/eclipse/che/pull/13615

[2019-07-05 08:49] #13519 closed

[2019-07-05 08:53] tsmaeder commented on #13720
We need some more context here: how is this workspace started? How is the registry configured? It seems it's trying to resolve plugins against a registry deployed together with the workspace?

[2019-07-05 09:20] xinsuinizhuan opened #13775 "Is any example,to custom che IDE UI ?"
I want custom my own IDE，the i shoud add or change menu che menu， and  add Graphical interface controls to editor that docked in workspace right. Is che support ?

[2019-07-05 09:25] sunix commented on #13720
I can reproduce it with chectl server:start,
Create a new workspace from the dashboard choosing any of the `stacks` it fails

[2019-07-05 09:30] tsmaeder commented on #13720
@sunix I'm not sure that is the same failure: @artaleks9 is not pointing to the registry at che.openshift.io.

[2019-07-05 09:37] tsmaeder commented on #13689
@fErten what kind of "server plugin" are we talking about here? I suspect you'll want your plugin to talk to some UI that is running inside the IDE? Do you need to access the service from somewhere else? In short, what are you trying to achieve?

[2019-07-05 09:56] SkorikSergey commented on #13720
This issue is fixed by https://github.com/eclipse/che-plugin-registry/commit/d1a542bc8517c5ac5b04b4a7096e2f3f1d288e99 and workspace start works with local plugin registry.

[2019-07-05 10:00] azatsarynnyy commented on #13702
that error message is related to pulling the `node:8` image from docker.io registry which should be used by Buildah. Other messages just mean that there's no image in the corresponded registry.

I think it's more likely task than a bug since that functionality didn't work before.
Changed the label.

[2019-07-05 10:06] olexii4 commented on #13476
https://github.com/eclipse/che/pull/13506#issue-286738731

[2019-07-05 10:28] xinsuinizhuan opened #13778 "How to custom IDE with che, like below picture?"
![1562322431(1)](https://user-images.githubusercontent.com/40679769/60716722-aff95b00-9f52-11e9-8c2d-faa468c3e0ef.jpg)

[2019-07-05 11:29] sunix opened #13779 "eclipse/che-theia/next is broken: no projects cloned, empty my workspace view, etc ..."
### Description
With the very latest version of che-theia (eclipse/che-theia/next), everything seems to be broken:
- Projects are not cloned
- My workspace view is empty

### Reproduction Steps
Start a workspace with some projects and the eclipse/che-theia/next editor. For instance:

[code]
Open the workpace, no project is cloned and my workspace view is empty

![Selection_326](https://user-images

[2019-07-05 11:35] sunix commented on #13779
@nickboldt, @l0rd, @slemeur, @tsmaeder and @rhopp
This is a candidate for che7ga

[2019-07-05 11:36] tomevision commented on #13779
Even Yeoman plugin generator is not working

[2019-07-05 11:37] slemeur commented on #13703
We deprecated that naming long time ago, it should have been handled already. Consistency matters as users might get confused by the mismatching of this wording used in other places.

As we mentioned for #13667, we should analyze the impacts and prioritize once we have an understanding of those.

cc @skabashnyuk

[2019-07-05 11:38] slemeur commented on #13779
@evidolob please give a look at this problem.

[2019-07-05 11:42] benoitf commented on #13779
theia next is not included in Che 7 GA so why fixVersion is 7.0.0 ?

[2019-07-05 11:51] sr229 commented on #12385
Sounds like a new area but I'll be happy to, tell me where to submit

[2019-07-05 11:58] davidfestal opened #13780 "Implement scripts to release che-operator"
### Setup a reproducible way to test / release the operator on OperatorHub

#### Current state of Testing / Release process

Until now releasing the che operator is a totally manual thing. Though it was still somewhat easy for the operator code itself (build, tag and deploy docker image), it isn't easy at all, and very error-prone to manually build OLM-related yaml files and submit them in PR to t

[2019-07-05 12:04] dmytro-ndp commented on #13780
There could [Che CI](https://ci.codenvycorp.com) or **CRW CCI** be used for this propose.

[2019-07-05 12:10] davidfestal commented on #13780
@dmytro-ndp It seems we would plan to use Eclipse CI for the Che operator, as discussed in these PR comments: https://github.com/eclipse/che-operator/pull/45#issuecomment-508542924
But the first step is definitely to add all the necessary bits in the `che-operator` repository in a conveniently structured way, and provide related scripts, before even thinking of automating it in a CI.

[2019-07-05 12:12] sunix commented on #13720
https://github.com/eclipse/che/pull/13776#issuecomment-508710924
updating is not enough

[2019-07-05 12:28] sunix commented on #13322
Hello, it seems the PR has been merged,
I am closing it but feel free to reopen it if this is not finished

[2019-07-05 12:29] sunix commented on #13275
Hello, it seems this is fixed,
I am closing it but feel free to reopen it if this is not finished

[2019-07-05 12:29] #13275 closed

[2019-07-05 12:31] sunix commented on #12155
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:31] #12155 closed

[2019-07-05 12:36] sunix commented on #11078
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:36] sunix commented on #9567
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:36] #9567 closed

[2019-07-05 12:37] sunix commented on #9566
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:37] #9566 closed

[2019-07-05 12:37] sunix commented on #9080
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:37] #9080 closed

[2019-07-05 12:37] sunix commented on #8180
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:37] #8180 closed

[2019-07-05 12:38] sunix commented on #7986
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:38] #7986 closed

[2019-07-05 12:38] benoitf commented on #11078
why closing ?

[2019-07-05 12:39] sunix commented on #11142
Hello, this issue has not been updated for a while
I am closing it but feel free to reopen it if this is still relevant.

[2019-07-05 12:39] #11142 closed

[2019-07-05 12:45] dmytro-ndp commented on #13322
[PR](https://github.com/eclipse/che/pull/13351) was kind of workaround (don't use OKD 3.11 by default). That PR didn't fix the issue, and the issue is still actual.
So, there should be another reason to close the issue.

[2019-07-05 12:58] mkuznyetsov commented on #13687
could be typo in a devfile, or someone may use outdated devfiles (e.g. with 0.0.1 instead of 1.0.0 version)

[2019-07-05 13:13] svor opened #13781 "Add activationEvents to omnisharp and netcoredbg plugins"
### Description

Plugins won't start without activationEvents field in package.json. See https://github.com/eclipse/che-theia/pull/330
Need to add this information:
[code]
 for:
[1. Theia omnisharp plugin](https://github.com/redhat-developer/omnisharp-theia-plugin)
[2. Theia netcoredbg plugin](https://github.com/redhat-developer/netcoredbg-theia-plugin)

[2019-07-05 13:15] benoitf opened #13782 "Provides a nightly image for che-theia image on branch 7.0.0"
### Description
There is a `7.0.0` branch in che-theia for stabilizing che/theia used for 7.0.0 GA

but AFAIK there is no nightly image built from that branch so any new commit to `7.0.0` is not used on che master branch (7.0.0 branch)

So if the tag is only occurring at the end it might not work at all and people are not using the latest state.

Before che:master was using che-theia:next but it c

[2019-07-05 13:29] fErten commented on #13689
@tsmaeder It is exactly how you described it actually, let me paint you the picture,

## Example Task
Access and list any remote machine file structure in a tree view through an ssh connection,

### How this is achieved in che-6

+ add remote-server-plugin
  - create a REST API (written in java)

[code]

 - bind it to wsagent-server with guice library

`service is available under URL ${che-host}:$

[2019-07-05 13:45] #13657 closed

[2019-07-05 13:54] ibuziuk commented on #12940
@davidfestal downstream issue is closed. Can we close this one also?
Demo - https://youtu.be/MZdogrJfD6k

[2019-07-05 13:55] davidfestal commented on #12940
Yes, we can.

[2019-07-05 14:00] l0rd commented on #13529
@tolusha go ahead

[2019-07-05 14:43] tsmaeder commented on #13710
@evidolob is there a better diagnostic available somewhere ("http://localhost:8080 is not reacheable" or some such thing?
But definitely not a 7.0 bug.

[2019-07-05 14:48] tsmaeder commented on #13775
I think there are two parts you need to attack:
1. Build a Theia extension that implements your graphical UI. Head over to github.com/theia-ide/theia for how to do that.
2. Build your own Theia che editor based on github.com/eclipse/che-theia and set that as your editor plugin in a che workspace. A good start would be to read through the code and to ask questions on the Che mattermost chat.

[2019-07-05 14:54] tsmaeder commented on #13779
@sunix is this a duplicate of https://github.com/eclipse/che/issues/13678?

[2019-07-05 15:00] tsmaeder commented on #13779
I believe the issue with the activation events and the issue with the missing projects might be two different things.

[2019-07-05 15:08] tsmaeder commented on #13703
I really don't see this as a precondition for shipping 7.0 Feel free to raise a discussion about this.

[2019-07-05 15:24] tsmaeder commented on #13780
This sounds like good and important work, but I have two questions:
1. Is this going to be done _before_ end of this sprint?
2. Is there potential for this breaking anything or disrupting developement?

[2019-07-05 15:25] tsmaeder commented on #13782
Tagging this 7.0 because it's necessary for testing our work for 7.0

[2019-07-05 15:26] tsmaeder commented on #13779
I've moved this to the 7.1 milestone because this is an issue with che-theia master and not 7.0 branch

[2019-07-05 15:30] davidfestal opened #13783 "Gracefully ignore the error when trying to delete an unexisting OAuthClient"
### Description

When trying to delete the previous `OAuthClient`, and it already doesn't exist, we should gracefully ignore the error instead of failing.

### Detail

When the Che operator starts reconciliating a `CheCluster` custom resource, there might be a number of cases when it would first try to do some cleaning at start, and try cleaning a previously created `OAuthClient` resource. However

[2019-07-05 15:31] tsmaeder commented on #13690
Tentatively marking this as 7.0.0, not starting is not good.

[2019-07-05 15:33] tsmaeder commented on #13783
@davidfestal I don't see that user impact that would warrant inclusion of this in the 7.0 milestone.

[2019-07-05 15:34] sunix commented on #13740
@slemeur @tsmaeder @nickboldt @l0rd @rhopp for GA ?

[2019-07-05 15:44] davidfestal commented on #13783
Since the overall robustness of the Che operator is not high (which cannot be fixed until GA obviously) , mainly in regard to how Openshift OAuth is managed, the situation described in this issue can happen quite easily, and though the unexpected situation (non-existing OAuthClient) should be simply ignored, it currently becomes a blocking error that fully prevents the operator to work until the u

[2019-07-05 15:46] tsmaeder commented on #13700
Changed my mind, it's not strictly necessary, so defer.

[2019-07-05 15:51] tsmaeder commented on #13698
It's ok to do this after 7.0, but is it something we _need_ to do in the first sprint after 7.0? I imagine we'll have plenty of bugs to fix.

[2019-07-05 15:52] davidfestal commented on #13780
@tsmaeder

That's the idea yes. Maybe not a full automation of it (in CI I mean), but at least having the related files and scripts available in the repo, and a clear process documented about how to update / test / release the Operator OLM files.

I don't see any: this issue is mainly about adding new files and scripts that were not in the repository previously, and formalizing / scripting / docum

[2019-07-05 15:55] artaleks9 commented on #13720
@tsmaeder Sorry for not enough info when I created issue, I was a bit in a hurry to sound problem before my 'standup'.. and then had active conversation with @vparfonov  about it.
@SkorikSergey Thanks for your timely comment.

[2019-07-05 15:56] tsmaeder commented on #13783
If it's a data-loss bug, it's a 7.0.0 issue, IMO.

[2019-07-05 16:23] sunix opened #13784 "Confusing dialogs are shown when a project is cloned"
### Description
With new git vscode extension, che-theia is not behaving as expected during initial clone of project. The project should be cloned without any prompt for the user but currently a couple of prompt dialogs are shown to the user.

Maybe we shouldn't use that theia command and invoke git directly (https://github.com/eclipse/che-theia/blob/master/plugins/factory-plugin/src/theia-command

[2019-07-05 16:59] sunix opened #13785 "`chectl devfile:generate` should be able to set multiple `dockerimage` and `command`"
### Description
At the moment, we have the ability to generate a devfile with chectl and provide few components of the file:
- dockerimage
- command

For instance
[code]
will generate
[code]
This is good but it would be nice to be able to provide multiple commands or container images:

[code]

At the moment, chectl will only keep one of the 2 `dockerimage` arguments and one of the 2 `command` argu

[2019-07-05 17:02] olexii4 commented on #13621
@sunix  Ok
I tested it with the next version and standard devfile.
I depend on the work of a language server.

delete a project
https://youtu.be/FdHwE8zqrQk

Impossible to delete a project
https://youtu.be/-ymSH71kwbM

[2019-07-05 17:03] sunix commented on #13779
Fixed

[2019-07-05 17:03] #13779 closed

[2019-07-05 19:09] l0rd commented on #13427
@tsmaeder Java, with @snjeza fix, is now is picking up the new projects. But we still have Python and C# that do not behave as we would expect. So we should decide if, having an automatic refresh when one of these 2 LS is enabled, should be considered mandatory or not for Che 7 GA right?

[2019-07-05 19:11] l0rd commented on #13672
@tolusha ok so it doesn't look straighforward. I would postpone that for 7.1.0.

[2019-07-06 01:00] keithchong commented on #12444
Hi @skabashnyuk , I can't get this to work.  Could you please elaborate on the steps to override?
I'm following this:  https://che.eclipse.org/running-eclipse-che-on-kubernetes-using-docker-desktop-for-mac-5d972ed511e1

[2019-07-06 03:45] monaka commented on #13743
I close to the root cause.

[2019-07-06 15:23] sunix commented on #13779
BTW this was affecting che.openshift.io

[2019-07-07 19:02] ndimer commented on #13114
Try http://oxygenhq.org. Let me know if you need help with getting started.

[2019-07-08 01:21] tolusha opened #13787 "Project cloned to undefined if initial dialog to select a repository location was discarded"
### Description
Project failed to clone if user discarded the initial dialog to select a repository location.

### Reproduction Steps

1. Start a workspace with some project
2. Click `Close` on the initial dialog to select a repository location
3. `project cloned to undefined` message appears
4.  Project isn't cloned

**OS and version:**
Che 7.0.0-rc-3.0-SNAPSHOT

**Diagnostics:**

![screencast-ro

[2019-07-08 03:47] xinsuinizhuan commented on #13775
thank you! Then to make a graphical UI must by Theia, and make own Theia che editor must by che-theia ?where is the che mattermost chat? I am comparing the che and theia，which is good to achieve my custom IDE function, now i realize that it is possible by theia to achieve my customed IDE，but i don’t know whethet the che could?

[2019-07-08 07:00] vinokurig opened #13789 "GitHub plugin doesn't work"
### Description

GitHub plugin doesn't work. It caused by latest changes from Theia repository (https://github.com/theia-ide/theia/commit/906c4febfe2f9bab4342ae323dd68c68af9b07ae).
### Reproduction Steps

1. Enable github plugin in the plugins list of the workspace.
2. Start the workspace

Wrong: Git and Github don't work
**OS and version:**
latest
**Diagnostics:**

[2019-07-08 07:26] benoitf commented on #13789
note: it's for che-theia:next, not che-theia:7.0.0 , correct ?

[2019-07-08 07:28] sunix commented on #13621
@olexii4 I have just reproduced the problem with

[code]

try to check only the devfile tab. and refresh before and after.

[2019-07-08 07:48] vinokurig commented on #13789
Yes, it is reproduced in the latest version

[2019-07-08 07:50] l0rd commented on #13787
@tolusha I have added the information that if selecting `Cancel` the project cloning fails to the description of #13784. Closing this one.

[2019-07-08 07:50] #13787 closed

[2019-07-08 07:53] l0rd commented on #13789
@vinokurig so it doesn't impact Che 7.0.0. FYI we will considered less a priority then others issues (with milestone 7.0.0) like #13784 that should be addressed as soon as possible.

[2019-07-08 07:58] l0rd commented on #13785
Related to https://github.com/che-incubator/chectl/issues/100

[2019-07-08 08:04] skabashnyuk commented on #13703
@slemeur if we are talking only about this concrete piece of code ``` String.format("Server '%s' in machine '%s' not available.", serverRef, machineName));
[code]

[2019-07-08 08:08] slemeur commented on #13703
Can we get the list of all error messages like this which are exposing the term?

[2019-07-08 08:37] tsmaeder commented on #13427
@l0rd jdt.ls does _not_ detect this: there is a long-standing PR, but it would need some serious attention and testing before it can be merged. And as I argued above, it's not a solution for any other language servers out there.
I would be strongly opposed to any solution that involves knowledge of a particular language server: we need to get away from the assumption that we know the set of plugin

[2019-07-08 08:38] mkuznyetsov commented on #13625
So the failure of Che startup on minikube+helm is missing Che configuration on Keycloak
And Che Keycloak container initialization script is failing on minikube (first entries of pod logs) :

[code]
the user, under which this script is attempted to being executed is `jboss`, which indeed doesn't have such permissions
And On Openshift, this problem doesn't exist, since script is being executed by so

[2019-07-08 08:50] l0rd commented on #13427
@tsmaeder what's your proposal to mitigate the problem for Che 7.0.0?

[2019-07-08 08:57] davidfestal commented on #13625
Wouldn't it be sufficient, to add the `0` group to the Dockerfile user, since the `0` group already has required permissions in the `scripts` folder ?

Instread of:
[code]

we would simply have:

[code]
?

@mkuznyetsov Do you think you could test it ?

[2019-07-08 09:19] l0rd commented on #13690
I suspect that `minikube ip` doesn't provide the good IP address in the case of EC2. I mean it provides the internal IP but not the public one. See [EC2 user guide](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-instance-addressing.html#using-instance-addressing-common) for more details.

@skabashnyuk @sleshchenko do you think that this may be the problem? Do you have other ideas about

[2019-07-08 09:19] vinokurig opened #13790 "Tree nodes don't expand in the GitHub plugin"
### Description

Tree nodes don't expand in the GitHub plugin

### Reproduction Steps

1. Enable Github PR plugin in the plugins list of the workspace
2. Open a workspace with Github project with pull requests
3. Try to expand a PR node

**Wrong:** Node is not expanded:
![screenshot-localhost-3030-2019 07 08-12-15-42](https://user-images.githubusercontent.com/7668752/60798605-24faa980-a17a-11e9-9e

[2019-07-08 09:26] ashumilova commented on #13592
Sample's description is displayed this way just for the additional information:
![Screenshot from 2019-07-08 12-23-44](https://user-images.githubusercontent.com/1611939/60799171-52942280-a17b-11e9-8cfd-95cb7a947690.png)
Project object in devfile doesn't have any description field - so the description displayed for samples is not going to be set for project created from it.

[2019-07-08 09:32] l0rd commented on #13720
@artaleks9 can we close this issue?

[2019-07-08 09:42] mkuznyetsov commented on #13625
it didn't work, keycloak then fails to start for another permissions related reason:
[logs-from-keycloak-in-keycloak-7694fd66db-hhqqz (1).txt](https://github.com/eclipse/che/files/3367717/logs-from-keycloak-in-keycloak-7694fd66db-hhqqz.1.txt)

[2019-07-08 09:44] skabashnyuk commented on #13592
Due to the changes that are coming with samples https://github.com/eclipse/che/issues/13529
https://github.com/eclipse/che/issues/13665 I think cleaning up their names deserve for a separate issue.

[2019-07-08 09:44] #13592 closed

[2019-07-08 09:49] skabashnyuk commented on #13710
@keithchong how did you run Che? With k8s or OpenShift?

[2019-07-08 09:55] vitaliy-guliy commented on #13710
@keithchong your registry mush be accessible from Theia container.
I prefer to use github. Try this one to test https://raw.githubusercontent.com/vitaliy-guliy/che-theia-plugin-registry/master/plugins/plugins.json
Just point a json file as a custom registry.

[2019-07-08 09:59] l0rd commented on #13740
@evidolob both @slemeur and myself think that we should have autosave activated by default on che-theia. Now there a couple of things that need to be analyzed to understand what is the milestion of this issue:

- How much work it requires to switch back che-theia to autosave?
- Is there a risk of unexpected side-effects? In other workds: upstream theia choice to disable autosave was related to a b

[2019-07-08 10:04] ibuziuk commented on #13784
have the same issue on prod-preview after update to '7.0.0-rc-3.0-SNAPSHOT'  - https://github.com/redhat-developer/rh-che/pull/1474

[2019-07-08 10:31] vparfonov commented on #13784
@ibuziuk Maybe 7.0.0-rc-**4.0**-SNAPSHOT ?

[2019-07-08 10:33] ibuziuk commented on #13784
@vparfonov nope, was able to repro against stable `7.0.0-rc-3.0` upstream release

[2019-07-08 10:34] vparfonov commented on #13784
hm, ok thanks

[2019-07-08 10:41] davidfestal commented on #13780
So what should I do to add it into the Endgame plan ?

[2019-07-08 11:12] sparkoo opened #13792 "project-template API missing on Swagger"
### Description
`/api/project-template` is missing on `/swagger`. Service is defined here https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-project-templates/src/main/java/org/eclipse/che/api/project/server/template/ProjectTemplateService.java
This is current list of documented apis:
[code]

I believe this api should be included here. Maybe we're missing some more?

### Reproduction

[2019-07-08 11:22] rhopp commented on #13784
@vinokurig @vparfonov When can we expect solution to this issue? I'm asking because it's currently breaking happy path tests and I'm trying to decide whether it's worth it to implement workaround in Happy Path tests.

[2019-07-08 11:27] vparfonov commented on #13784
@rhopp, we work on it just now, will ping you soon

[2019-07-08 11:48] fErten commented on #13689
@tsmaeder Any thoughts regarding this matter?

[2019-07-08 11:54] RomanNikitenko commented on #13667
@slemeur
Could you provide the new field name we should use instead of `machineName`?

If I understand correctly at least for 3 places changes are required:
- task plugin
- machine exec
- code which serves devfile

thank you!

[2019-07-08 11:57] slemeur commented on #13667
Could it just be made consistent with the formalism used in devfile?

[2019-07-08 12:11] skabashnyuk commented on #13667
That’s hard. Since devfile are not representing running workspace. In this case, machineName is the name of the running container. For workspace runtime, we still use Che6 like objects and concepts.

[2019-07-08 12:25] l0rd commented on #13667
@skabashnyuk in devfile we use the components alias for that purpose. Not sure why it can't apply it here. And workspace runtime using Che6 objects and concepts should not be taken as a example for new, che 7 only, objects (i.e. che-theia tasks).

[2019-07-08 12:55] artaleks9 commented on #13720
Now it works as expected as to local as to external `che-plugin-registry`.

[2019-07-08 12:55] #13720 closed

[2019-07-08 13:21] RomanNikitenko commented on #13667
At the moment task plugin gets info about target container as attribute of command `machineName` and provides this one for machine exec.
So I guess we can:
- display for user that field as `component` or `containerName` for example, but in code still use 'machineName' - only for task-plugin changes are required
- clean up code and use the new field for user and in our code as well - for task-plugi

[2019-07-08 13:24] sunix commented on #13784
@vinokurig maybe quick way to fix it is to invoke git directly instead of using the vscode command 'git.clone'

https://github.com/eclipse/che-theia/blob/master/plugins/factory-plugin/src/git.ts#L57

to replace

https://github.com/eclipse/che-theia/blob/master/plugins/factory-plugin/src/theia-commands.ts#L74

[2019-07-08 13:26] vinokurig commented on #13784
@sunix Right now I am preparing a new binary of vscode git that solves this problem.

[2019-07-08 13:33] sparkoo opened #13793 "Clarify names of Sample projects"
### Description
Follow up of #13592. We should clean up sample projects names and descriptions. This list should also be sorted alphabetically so samples should be named according to that (e.g. all java samples will start with `java-` to have them close together).

![che_samples](https://user-images.githubusercontent.com/1160903/60813458-13be9680-a194-11e9-9aaf-857b1760b643.png)

_dev note: sample

[2019-07-08 13:34] sparkoo commented on #13592
I've created an issue for that. See #13793.

[2019-07-08 13:36] keithchong commented on #13710
Hi @skabashnyuk , I was running Kubernetes in Docker Desktop.  I followed the instructions here:
https://che.eclipse.org/running-eclipse-che-on-kubernetes-using-docker-desktop-for-mac-5d972ed511e1

[2019-07-08 13:36] johnmcollier commented on #13784
I should also note that this shows up every time the Che workspace is accessed (rather that just the first time). Also, when you reload the workspace in the browser, if you select the same folder as before, it reclones the projects, creating duplicates in the workspace.

[2019-07-08 13:44] monaka commented on #13778
I can't show the step by step document now. But I've integrated Theia-sprotty based editor to Che-Theia. Just I can say it's not hard after you got the background mechanism around Theia. So yes, this issue should be Theia-IDE. Not here.

[2019-07-08 13:51] sunix opened #13794 "Workspace creation fails if a workspace with the same name already exist"
### Description
With latest `chectl`, creating a workspace now using the new devfile api, but it seems that this does not support the creation of multiple workspace with the same name. Previously that was working and suffixing the workspace name with `_1`, `_2`, etc ...

### Reproduction Steps
Try to run `chectl workspace:start` twice:
[code]

**OS and version:**

**Diagnostics:**

[2019-07-08 14:02] tsmaeder commented on #13547
Ok, after some discussion we're going with a Che plugin per Java version. However, there are a couple of open questions:

1. Later Java versions (than 8, that I know) don't have official Alpine images. Is there a preference for some other base? Is having a community image ok to use?
2. Which versions should we support. Does it make sense to provide 8, 9, 10, 11, 12 or just 8 and latest (12)
3. Doe

[2019-07-08 14:04] skabashnyuk commented on #13792
we might need to revisit the whole ProjectTemplateService  because of quite a lot of it functionality are Che6 oriented

[2019-07-08 14:28] benoitf commented on #13625
Updating description to k8s instead of minikube as we've the same on top of kubernetes

[2019-07-08 14:34] benoitf commented on #13794
it was handled by the server side API

[2019-07-08 14:36] tsmaeder commented on #13689
Hmhh...maybe this would work:

1. Make your server runnable standalone
2. Write a VS Code Plugin that can talk to your server on localhost. You'll need to familiarize yourself with https://code.visualstudio.com/api/references/contribution-points to determine whether the API is sufficient to do what you need
3. Package your server and it's prerequisites in an image based on the theia remote plugin

[2019-07-08 14:37] benoitf commented on #13547
now alpine is supported by openjdk project https://hub.docker.com/_/openjdk 13-alpine (but this is for the future)

[2019-07-08 14:44] vinokurig commented on #13784
`eclipse/che-theia:7.0.0-rc-3.0` image is rebuilt with the patched vscode git extension

[2019-07-08 14:44] #13784 closed

[2019-07-08 14:47] sunix commented on #13784
@vinokurig are you saying that you are forking vscode git ?

[2019-07-08 14:49] vinokurig commented on #13784
Yes, it's a kind of a fork https://github.com/che-incubator/vscode-git

[2019-07-08 14:50] l0rd commented on #13793
@sparkoo samples are in the devfile registry now. I don't think we should use samples.json anymore.

[2019-07-08 14:58] l0rd commented on #13793
There is no project description in devfile registry. But is that worth using sample.json and cross-matching it with the devfile registry just to get a description? And some projects in the devfile registry don't have a corresponding entry in sample.json. How are we going to deal with them?

[2019-07-08 15:10] fErten commented on #13689
@tsmaeder I see, thanks for the feedback. It seems like there is only a workaround to achieve that. Is it in your future plan to expose such API to be able to use the same backend-services in GWT and Theia IDE out-of-box or would it be chasing the rainbow?

[2019-07-08 15:15] tsmaeder commented on #13689
I am not aware that any feature work is planned for the GWT IDE.

[2019-07-08 15:24] keithchong commented on #13710
Hi @vitaliy-guliy , I was able to add your registry and install the Hello-World front-end plugin.

[2019-07-08 15:28] sparkoo commented on #13793
@l0rd could you please then point me, what exactly is source of sample projects? I can see this list in devfile registry https://github.com/eclipse/che-devfile-registry/tree/master/devfiles which AFAIK is stack list. However, I can't see sample projects there. I've discussed this with @ashumilova who gave me a bit different info than you, or I don't understand something here (which is highly possi

[2019-07-08 15:40] johnmcollier opened #13795 "Use the user's roles for Kubernetes roles in Che workspaces"
### Description
I'm from the Eclipse Codewind project, and we have a plugin for its integration with Che (https://github.com/eclipse/codewind-che-plugin). On Che, Codewind allows users to create Kubernetes deployments and services for their application. However, the default roles given to the Che workspace aren't enough for that, and we currently tell users to set `cheWorkspaceClusterRole` (https:

[2019-07-08 15:47] johnmcollier commented on #13784
Will the fix for this be pushed/merged to `eclipse/che-server:nightly`?

[2019-07-08 16:04] l0rd commented on #13793
@sparkoo no worries that's absolutely new stuff and it may be possible that I am missing something.

Every devfile in the devfile registry has a project sample (e.g. [here](https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/angular/devfile.yaml#L7) for the angular stack). When a user will select a stack (e.g. the angular stack) the only sample he will see will be the one included

[2019-07-08 16:13] johnmcollier opened #13796 "Che Theia clones projects every time a workspace is loaded/refreshed, even if the project was already cloned."
Possibly related to #13784
### Description
I'm using Che 7 with `eclipse/che-theia/7.0.0-rc-3.0` as the editor. I have a simple devfile defined with two projects (https://raw.githubusercontent.com/johnmcollier/devfiles/master/devfile_test.yaml). Every time I load the Che workspace, Theia clones the projects (or at least one of the projects), even if project already exists. Furthermore, even when I

[2019-07-08 16:14] johnmcollier commented on #13784
@sunix @vinokurig I'm still seeing duplicate clones when refreshing/reloading a Che workspace with `eclipse/che-theia:7.0.0-rc-3.0`, so I've opened https://github.com/eclipse/che/issues/13796

[2019-07-08 16:22] sunix commented on #13794
maybe the same issue: https://github.com/eclipse/che/issues/13683

[2019-07-08 16:26] sunix commented on #13784
Thanks

[2019-07-08 16:30] rkratky commented on #12899
@sleshchenko, apologies, I totally missed this:

Is the above content ready?

[2019-07-08 16:33] l0rd commented on #13794
@skabashnyuk please review if we should close this one as duplicate of #13683 or if makes sense to keep both open. Anyway I have included both in milestone 7.1.0.

[2019-07-08 16:45] l0rd commented on #13780
I confirm that this will be part of the endgame but the scope is only limited to what is needed to script a release of the che-operator, something that was done manually until now.

[2019-07-08 16:59] l0rd commented on #13667
@RomanNikitenko I think we should do that in 2 steps. First step for 7.0.0 and second step for 7.1.0

[2019-07-08 17:00] keithchong commented on #13710
Good news.  I made more progress and did not see that error message, and I can see the list of the plugins in my registry.  However, after I installed the plugin, and restarted the workspace, I got a 502 Bad Gateway.  Do you have any guidance on this?

![Screen Shot 2019-07-08 at 12 57 50 PM](https://user-images.githubusercontent.com/7726022/60828410-51b1bf80-a180-11e9-8b04-fb1b42882bc9.png)

[2019-07-08 17:03] l0rd commented on #13783
Makes sense to have it in the 7.0.0 milestone

[2019-07-08 17:05] l0rd commented on #13703
@skabashnyuk I am +1 to do that work extensively on all the code base targetting `7.1.0`. We are too close to GA to do this work now. Anyway changing only this single error message for `7.0.0` should not be too hard neither.

[2019-07-08 17:06] sunix commented on #13796
normally it should check on the filesystem if the projects are here or not:
https://github.com/eclipse/che-theia/blob/master/plugins/factory-plugin/src/workspace-projects-manager.ts#L131

@johnmcollier  could you quickly check from the terminal if the projects are cloned in /projects ?

[2019-07-08 17:12] l0rd commented on #13795
@johnmcollier I think it may be related to this issue https://github.com/eclipse/che/issues/13488

In other words the best way to solve this problem is to use the current user privileges instead of an hardcoded role that it's set as a che-server property. If we let user define their role in a devfile it would result in a privilege escalation.

[2019-07-08 17:17] johnmcollier commented on #13796
@sunix Yup, the projects are there:
[code]

[2019-07-08 17:17] l0rd commented on #13790
I don't consider that as a blocker for GA. I have put 7.1.0 as milestone. cc @slemeur

[2019-07-08 17:27] sunix commented on #13796
ok thanks maybe this is not related to https://github.com/eclipse/che/issues/13784 then. We are going to try to reproduce that in a unit test.

[2019-07-08 17:28] johnmcollier commented on #13795
@l0rd That's a good point. I'm good with using the current user privileges, instead of some arbitrary role that users (or plugins) define.

[2019-07-08 19:58] sunix commented on #13796
ok ... somehow i can see in your screenshot

So destination path is somehow `undefined`.

[2019-07-08 20:23] skabashnyuk commented on #12899
https://github.com/eclipse/che/issues/12899#issuecomment-475176392 @rkratky yes it is.

[2019-07-08 20:47] johnmcollier commented on #13796
@sunix I think have an idea of what's happening: In my devfile (https://raw.githubusercontent.com/johnmcollier/devfiles/master/devfile_test.yaml), I specify project names for the two git projects (microproj and nodeTemplate). But the latter (`nodeTemplate`) is different from the name the git repo clones to (`nodeExpressTemplate`).

In previous versions of Theia, the project would be checked out un

[2019-07-08 21:27] johnmcollier commented on #13736
I can reproduce on Firefox 67.0.4. Seems to also affect the CSS on the Che-Theia welcome page:
<img width="1086" alt="Screen Shot 2019-07-08 at 5 26 40 PM" src="https://user-images.githubusercontent.com/6880023/60843780-969c1d00-a1a5-11e9-9223-423004b93b9d.png">

[2019-07-09 00:44] monaka opened #13797 "Can't deploy Keycloak by Helm."
### Description

This is a tether of some pull requests about deployments error on Keycloak by Helm (and possible Openshift).
I'll close this after all issues are fixed.

[2019-07-09 01:57] monaka commented on #13745
I'm checking 0.8.0 with my customized IDE. It looks the master branch of che-theia can work with 0.8.0.
So it might be able to closed.

[2019-07-09 02:22] monaka commented on #13769
I guess this issue is obsolete as `extensions/eclipse-che-theia-terminal` is available in the master branch.
Or is `che-theia-terminal-extension` an another packages?

[2019-07-09 02:30] xinsuinizhuan commented on #13778
thank you.this is a good message to me, it is a direction to begin my work. your this project is open source or you own project, i just to study it, then to begin my work.

[2019-07-09 05:54] benoitf commented on #13797
hello I think it's a duplicate of https://github.com/eclipse/che/issues/13625

[2019-07-09 07:02] vitaliy-guliy commented on #13747
Plugins panel is broken for workspaces that has been created from a devfile due to workspace configuration is not exist. We have to adapt Plugins panel to that kind of workpsaces.

[2019-07-09 07:06] tolusha opened #13799 "Running any task fails after refresh"
### Description

It is not possible to run a task after workspace is refreshed.

### Reproduction Steps

1. start workspace
2. run any task
3. It is possible to run a task
4. refresh the tab
5. run any task
4. Error observed `Can't get task launch configuration for label`

**OS and version:**
minishift v1.34.0+f5db7cb
che-7.0.0-rc-3

**Diagnostics:**
![Screenshot from 2019-07-09 10-09-12](https://

[2019-07-09 07:23] ashumilova commented on #13793
Maybe this will make it more clear:
![workspace_creation](https://user-images.githubusercontent.com/1611939/60867346-49ff2300-a233-11e9-8330-de8239cbacef.gif)
Changing the stack - displays the sample inside. And leaves opportunity to add more samples beside that one.
I removed project description from edit project section.

[2019-07-09 07:32] tsmaeder commented on #13427
As we fix https://github.com/eclipse/che/issues/13784, I would replace the "confusing" actionable notification that says something like: "Some tools will not detect newly detect cloned projects: would you like to refresh the IDE?"
I don't see that as mitigation to be fixed later, but as the right thing to do, as I've argued in a mail to the che-dev mailing list.

[2019-07-09 08:30] sparkoo commented on #13793
thanks @l0rd and @ashumilova
So, as I understand it now, there will be just devfiles (che-devfile-registry repo), no `samples.json`. I guess that one devfile can have multiple sample projects, so all these will be loaded from devfile, once user select stack in Stacks selection. Thus, it does not make sense to clean-up names/descriptions of current sample projects in `samples.json` as they are bein

[2019-07-09 08:53] skabashnyuk commented on #13794
@l0rd I would like to keep them separate since they have to be fixed in different places
 - https://github.com/eclipse/che/issues/13683  factory flow.
- https://github.com/eclipse/che/issues/13794  chectl

[2019-07-09 08:58] skabashnyuk commented on #13703
Sure, we just looking for similar places to fix them all at once.

[2019-07-09 09:20] benoitf opened #13800 "Chectl server:start doesn't work on secured k8s"
### Description
When using a remote k8s (like running on EC2), when `chectl` is grabbing the status it may fail due to `Unauthorized` error.
It's because it is trying to perform http call without token

https://github.com/che-incubator/chectl/blob/d3ff3100b3da737f6bd9267f69d7e5800bdcf6a4/src/api/kube.ts#L566-L576

`${currentCluster.server}/healthz` is secured

So, installing che on these k8s insta

[2019-07-09 09:29] benoitf opened #13801 "chectl issues with tls option using helm"
### Description
When installing Che on top of k8s with helm and when we want to use certificates there are several errors

1. cheDomain is never set (so helm templates are failing)
2. multiUser is set to true so we can't use TLS without multi-user (and there is an issue for now on multi-user https://github.com/eclipse/che/issues/13625)
3. an email is required for let's encrypt/cert-manager option

[2019-07-09 09:34] benoitf commented on #13794
@skabashnyuk if it's handled server-side then there is only one place to fix no ?

[2019-07-09 10:30] #11632 closed

[2019-07-09 10:36] sunix commented on #13796
OK thanks for giving all these details it helps :)

[2019-07-09 11:03] skabashnyuk commented on #13794
Yeh. However, that make our API inconsistent. For example, when you asking to create user for example with name "sergii" you don't expect to have it with name "sergii_77" in case if "sergii" already exists. Previous behavior was more oriented for the factory use case where it makes sense.

[2019-07-09 11:15] benoitf commented on #13794
I don't see why it's inconsistent. It depends on the nature of the resource of we want to create and the relationship order, 1..1, 1..n, etc.

If I want to create a workspace from a devfile, I expect that it will always create a new workspace because I can have several workspaces from the same devfile while when I create a user from an email address it's 1..1 so I can't create more if already take

[2019-07-09 11:23] SkorikSergey commented on #13681
Fixed

[2019-07-09 11:23] #13681 closed

[2019-07-09 11:24] skabashnyuk commented on #13794
I see your point. That looks like a point of enhancement. However, I didn't see that in our API before and I'm not sure it's a good time to a discussion about the pros and cons before GA. We may think about that in 7.x

[2019-07-09 11:32] rhopp commented on #13209
@akurinnoy Shouldn't this issue be reopened, as the commit was reverted?

[2019-07-09 11:33] akurinnoy commented on #13209
@rhopp sure, thanks!

[2019-07-09 12:04] sunix commented on #13794
There is no debate about the fact that it is a regression for the end user flow `I want to create a workspace`. It was working before and now it is not working now.

Debating can happen on where the fix is to be done and to me, it makes sense that is would be done server side as it has always been done in the past.

[2019-07-09 12:15] sparkoo opened #13803 "Upgrade Go version to support realworld sample"
### Description
According to #13529, we would like to have https://github.com/xesina/golang-echo-realworld-example-app as a Go sample project. There is an issue with Go versions as the project uses modules, thus needs Go v1.11+. However, our Che Go plugin uses v1.10.7.

Currently I can think of several options for us:
- use different project as a sample
- use some older version of the project
- up

[2019-07-09 12:22] sparkoo commented on #13529
I've created an issue for Go realworld sample project #13803. This should be linked in the table https://github.com/eclipse/che/issues/13529#issuecomment-501746114. Could someone please edit the table and add reference there? Thanks

[2019-07-09 12:43] tomevision opened #13805 "Unable to start a workspace on che.openshift.io"
### Description

Failure executing: POST at: https://...../configmaps. Message: Unauthorized! Configured service account doesn't have access. Service account may have been revoked.. The error may be caused by an expired token or changed password. Update Che server deployment with a new token or password.
"I tried to change my password but i didn't work"

[2019-07-09 12:45] jmatsushita commented on #13805
Getting the same error when starting a workspace. POST Url is:
[code]

[2019-07-09 12:48] tsmaeder commented on #13803
So what _is_ the issue that is happening? What does not work?

[2019-07-09 12:52] benoitf commented on #13803
@tsmaeder I think it's pretty well explained. it's using go modules that are not available in go 1.10 but 1.11 and afterwards
https://blog.golang.org/using-go-modules

[2019-07-09 12:58] tsmaeder commented on #13803
Yes, but what are the consequences? Does code assist not work? Do we have unexpected errors in the editor?

[2019-07-09 13:31] sparkoo commented on #13803
I'm not sure exactly. I guess project won't compile at all (https://travis-ci.org/xesina/golang-echo-realworld-example-app/builds/531131833?utm_source=github_status&utm_medium=notification).
AFAIK no work-in-progress devfile exists and I haven't tried it yet. I'm taking this over @metlos so this is just what I've already found out as a current state.

[2019-07-09 13:49] ibuziuk commented on #13805
@jmatsushita @tomevision hello, this issue should be fixed now on che.openshift.io (there was a cluster token update on `us-east-2` which resulted in workspace startup failure with `Unauthorized` errors). Could you please confirm that workspace startup works now without issue? Thanks!

[2019-07-09 13:52] tomevision commented on #13805
@jmatsushita it is working now!

[2019-07-09 13:56] benoitf commented on #13805
@ibuziuk should the issue be elsewhere than here ? It's the upstream project there

[2019-07-09 14:00] ibuziuk commented on #13805
@benoitf yeah, but che.openshift.io is promoted on https://www.eclipse.org/che/getting-started/ and we can not prohibit reporting issues directly in the upstream since very few people are aware of https://github.com/redhat-developer/rh-che

[2019-07-09 14:03] bfitzpat commented on #13707
Tested this PR https://github.com/eclipse/che-plugin-registry/pull/136 - and it worked on che.openshift.io with the v3 version of the plug-in metadata.

[2019-07-09 14:08] l0rd commented on #13805
@ibuziuk can we close this issue now?

[2019-07-09 14:16] #13805 closed

[2019-07-09 14:16] ibuziuk commented on #13805
Closed based on reporter confirmation https://github.com/eclipse/che/issues/13805#issuecomment-509651503

[2019-07-09 15:51] l0rd commented on #13803
Assuming that the project is not building at all.

For GA: we are happy with the simple sample that we already have
For 7.1.0: upgrading to latest go version

[2019-07-09 15:58] l0rd commented on #13801
@benoitf from a severity point of view that looks like a SEV1 and needed for GA. But I am not able to understand the amount of work that is needed to fix that. In particular point n.3. The other points looks easy to fix.

[2019-07-09 16:00] benoitf commented on #13801
for 3. I would say: --tls-email option as quick workaround

[2019-07-09 16:03] l0rd commented on #13800
This is a P1 but we don't have to support it for GA so setting milestone 7.1.0

[2019-07-09 16:04] benoitf commented on #13800
so it means basically chectl can't install che on EC2 for example for GA (as status is the first check)

[2019-07-09 16:06] snjeza commented on #13427
@fbricon @tsmaeder @tolusha @svor @l0rd I have updated:
https://github.com/eclipse/eclipse.jdt.ls/pull/901
and
https://github.com/redhat-developer/vscode-java/pull/746

You can use the "Detect and import Java projects" command.

[2019-07-09 16:08] l0rd commented on #13800
@benoitf is the token something that we already get with the KubeConfig or is something that the user should provide as a separate parameter?

[2019-07-09 16:12] l0rd commented on #13799
@vparfonov @RomanNikitenko are you aware of this? Is it related to the tasks issues that you have in your sprint backlog or is it something new that we should add to milestone 7.0.0?

[2019-07-09 16:14] benoitf commented on #13800
I'm able to grab it with default service account / secrets

[2019-07-09 16:15] benoitf commented on #13800
so basically user shouldn't do something

[2019-07-09 16:17] JPinkney opened #13806 "Multiple issues with nodejs devfile"
### Description

While trying to dogfood Che I found multiple issues with the node devfile that makes working with it almost impossible right off the bat.

Just from the short video below I've found a few things:
- [x] Git clone location prompt shows you by default somewhere that is different than /projects
This dialog is being removed.
- [x] Git clone gets permission denied
Looks like you're tryi

[2019-07-09 16:26] l0rd commented on #13800
ok so it looks that this hasn't impact on the UX and should be pretty easy to implement. Set milestone 7.0.0.

[2019-07-09 16:27] l0rd commented on #13801
Ok this is a P1 and it's pretty easy to fix. Milestone 7.0.0.

[2019-07-09 16:42] l0rd commented on #13797
@monaka do you mind closing this issue since it's a duplicate of #13625?

[2019-07-09 19:19] keithchong commented on #13710
I moved up to 7.0.0 RC2 and I can reproduce that issue.  It's for the two default registries too.

[2019-07-10 03:02] keithchong commented on #13710
Hi @skabashnyuk , as mentioned, I'm blocked using RC2 (and RC1) due to #13669, but, I got the extension to install using 7.0.0 Beta 5 (See my screenshots).  However, my 'OpenAPI' commands do not show up in the command palette.   How do you check if the extension actually got extracted?   I checked the logs in the workspace container/pod, but I didn't see anything unusual.  The install-time message

[2019-07-10 06:10] skabashnyuk commented on #13710
@keithchong that is something that plugin brokers are doing. @ibuziuk @davidfestal am I right? Can you suggest something how to enable logs on brokers?

[2019-07-10 06:12] XieNaoban opened #13807 "“Dependency problems found” when `mvn clean install` a che plugin project"
### Description

I downloaded the che plugin project example [che-ide-server-extension](https://github.com/che-samples/che-ide-server-extension). It works when `mvn clean install`. But when I add a dependency in

[code]

, it fails to install.

The dependency I added is

[code]

And the error message of `mvn clean install -e -X` is:
[code]

I don't think I added a wrong dependency. Because when I

[2019-07-10 06:47] evidolob commented on #13740
It a matter of changing default settings(false-> true), but, AFAIK, Theia doesn't have API to override the default values.
cc @akurinnoy

No

Yes, it's pretty clear that the only reason is VSCode compatibility:
https://github.com/theia-ide/theia/issues/4776

[2019-07-10 07:25] benoitf commented on #13740
override is in package.json
https://github.com/theia-ide/theia/commit/9eb7f4e4fb38268f207ab7f8bd7adea45c6a97ed see chagelog

[2019-07-10 07:33] RomanNikitenko commented on #13799
The bug was caused by changing in theia project way to define  - is task detected or configured. I described the causes of the problem [here](https://github.com/theia-ide/theia/issues/4928). For **che commands** it will go away after merge https://github.com/eclipse/che-theia/pull/295. But I'm going to update the PR and check again this case to be sure, I let you know ASAP.

[2019-07-10 07:53] evidolob commented on #13740
Then, OK.
@l0rd If you want to have this done for GA, please add proper labels.

[2019-07-10 07:57] tsmaeder commented on #13427
No, I cannot, because it won't work for anything other than Java. Let's stop thinking like a product and start thinking like a platform. @snjeza I greatly applaud your efforts to make this happen in jdt.ls, but it won't change anything for python, c# and other language servers.
The fact that the git plugin explicitly wants to add newly cloned stuff to the VS Code workspace is another indicator to

[2019-07-10 08:03] tsmaeder commented on #13740
Is there a real reason to enable autosave by default except "it's what Che 6 did"? It seems a pretty rare default as far as IDE's go. Personally, I don't like the behaviour.

[2019-07-10 08:29] #11867 closed

[2019-07-10 08:56] sparkoo commented on #13529
status update of https://github.com/eclipse/che/issues/13529#issuecomment-508229325
### Vuejs
postponed to 7.1.0 #13672
### java-spring-web & java-vertx & java-mysql
in review https://github.com/eclipse/che-devfile-registry/pull/18 which is blocked by #13796 (in review already https://github.com/eclipse/che-theia/pull/337)
### Go realworld
posponed to 7.1.0 #13803

[2019-07-10 09:31] #13660 closed

[2019-07-10 10:24] sunix commented on #13740
Most of the developers are expecting auto save and like the behaviour. We can make any survey any time, it will have the same result: https://twitter.com/sunsengdavidtan/status/1131142032582356993

[2019-07-10 10:29] slemeur commented on #13807
Hi @XieNaoban .

Is there a particular reason you are interested in Che 6, compared to Che 7?
We are getting close to the new version of Eclipse Che, version 7. It is currently in RC and already available to you if you want to test and use it.

https://www.eclipse.org/che/docs/che-7/che-quick-starts.html

There is a new default web IDE and a complete new extensibility model with Che 7, I would rea

[2019-07-10 10:49] musienko-maxim opened #13810 "Create Jenkins job for checking custom PRs for che-theia repo"
### Description
According to **end made paln** https://github.com/eclipse/che/issues/13637 we should create Jenkins Job for the PR check from the che-theia repo.
For beginning steps we should:
* Build the Theia images accroding to **How to build own che-theia image** [topic](https://github.com/eclipse/che-theia).
* Launch OpenShift OKD and consumed the built image from PR
* Run E2E tests on this a

[2019-07-10 11:07] XieNaoban commented on #13807
@slemeur
Of course I'm very willing to try Che 7 if I'm working for myself! I have to say I fell in love with this ide when I first saw it.

But as you said, because of the requirement of a project, I have to use 6.16.0 (not 6.17.0, not 6.15.0, but 6.16.0). So do you know why this error happens? I just did nothing except simply add a dependency.

By the way, there are some mistakes in [Eclipse Che

[2019-07-10 11:19] slemeur commented on #13807
Thanks for the clarification @XieNaoban ! That's really interesting.

You might be able to get some help from @vparfonov on this specific question and he might be able to give you an example of a server side extension as well.

Our target right now is mainly on Che 7 and there are many differences, especially in its extensibility which is getting simpler and richer.
Once we have Che 7 out and gene

[2019-07-10 11:26] tsmaeder commented on #13740
But we're not writing an Web App, we're writing an IDE and IDE's don't typically have this behaviour. Also: not to cast aspersions on your twitter followerd, but I hardly think that's a representative sample.

[2019-07-10 11:28] XieNaoban commented on #13807
OK. Thank you @slemeur .

[2019-07-10 11:40] dmytro-ndp commented on #13810
The issue duplicates https://github.com/eclipse/che/issues/13326

[2019-07-10 11:40] #13810 closed

[2019-07-10 11:47] XieNaoban commented on #13807
Forgot to say, here is **Reproduction Steps**:

[code]

[2019-07-10 11:56] ashumilova opened #13811 "Adapt "Stacks" in UD to Che 7"
As far as we introduce the Che 7 with new devfile registry for the stacks - there is need to clean up the old views that contain Stacks management:

![Screenshot from 2019-07-10 14-55-13](https://user-images.githubusercontent.com/1611939/60967232-d63c4380-a322-11e9-9388-97ec2caa2ea6.png)

[2019-07-10 12:01] sunix commented on #13740
...
Google was writting a word processor and word processors typically didn't have this behaviour.
Google was writting a email client and email client typically didn't have this behaviour

Not representative ? at least it is more representative then your own opinion.

Let's close this debate as it's been decided by our decision makers to do it. By the way this would be the default option it doesn'

[2019-07-10 12:01] l0rd commented on #13740
No discussion has ever happened to disable autosave on Che. It has been disabled a couple of months ago without any notice or approval. That's something that we need to fix.

If a proper discussion happens in the future I am +1 to disable autosave but for the time being let's be consistent with previous version of Che.

[2019-07-10 12:10] slemeur commented on #13740
We are doing cloud tools since quite a lot of time and we learnt from users that there is one thing they hate: loosing their datas. That is a big concern regarding how users will fell confident to use our tool.

As such, it's reasonable to turn on auto-save by default to avoid loosing source code changes. If the user doesn't like this behavior, he'll go into his preferences and explicitly change t

[2019-07-10 12:34] skabashnyuk commented on #13703
@l0rd can you clarify expectation https://github.com/eclipse/che/issues/13703#issuecomment-509310319. Is this  https://github.com/eclipse/che/pull/13808 something that we might/need to merge for GA. Your comment, labels and a milestone of this issue can be interpreted wrong.

[2019-07-10 12:53] apupier commented on #13747
I also have this issue.
Local instance of Che 7 installed through chectl and operator on Windows10 with minikube
The stack that I used is the Camel one: https://github.com/eclipse/che-devfile-registry/blob/916fee5c82c8dd6c5d0e20234a3b53de9fa5ff4b/devfiles/apache-camel-springboot/devfile.yaml#L75

[2019-07-10 13:11] l0rd commented on #13793
@ashumilova what's not clear is from where the second sample (the real world app sample) come from, is it defined in the devfile or in the samples.json?

[2019-07-10 13:40] l0rd commented on #13703
@skabashnyuk it wasn't clear from your answers if the fix was simply changing the log message or doing a major refactoring.

Anyway I am +1 to target milestone 7.0.0 for the simple log message change. @slemeur is responsible for the triage today and should propose to set the milestone if he agrees with it.

[2019-07-10 14:00] ibuziuk commented on #12872
Closing as fixed. version of che server is correctly reported in che.openshift.io

[2019-07-10 14:00] #12872 closed

[2019-07-10 14:00] slemeur commented on #13703
This issue will get milestone 7.0.0.

Please @skabashnyuk create another issue for refactoring the source code. It will get postpone to a later time.

[2019-07-10 15:37] olexii4 commented on #13621
The original issue has two problems.  One is a synchronization of the existing projects(fixed in PR).
The other is a result of a language server work and we can still reproduce it https://youtu.be/voqsE7LCVlA

[2019-07-10 15:55] ibuziuk commented on #13454
Initial PR with patched Dockerfile has been merged to devfile registry https://github.com/eclipse/che-devfile-registry/pull/24

[2019-07-10 16:28] slemeur commented on #13811
Stacks should still be present, but we would display the devfile from the registry.
User should be able to see where the devfile registry is and what is its source.

There would be no action possible on the stacks from the dashboard.

[2019-07-10 16:41] slemeur commented on #13806
Please @tsmaeder and @tolusha give a look to this issue.
Probably related to https://github.com/eclipse/che-devfile-registry/pull/29

[2019-07-10 17:02] nickboldt commented on #13716
3 weeks later, might a well close.

[2019-07-10 17:02] #13716 closed

[2019-07-10 17:02] l0rd commented on #13529
@sparkoo table updated

[2019-07-10 17:03] sunix commented on #13740
https://github.com/eclipse/che-theia/pull/342 is not merged yet

[2019-07-10 17:21] JPinkney commented on #13806
If i'm not mistaken when I was testing it was using registry.access.redhat.com/ubi8/nodejs-10 as the image so my devfile must not have been updated. I'll try with the new one and report back.

[2019-07-10 20:45] l0rd opened #13813 "Improve che-devfile-registry CI"
### Description

The problems with che-devfile-registry CI are that the community images (centos) are pushed to `quay.io/openshiftio` instead of `quay.io/eclipse-che`, no image is tagged as nightly and there are no periodic (nightly) builds.

To address that we should:

- [x] Update che-devfile-registry-master CentOS CI job to push rhel images to `quay.io/openshiftio` and centos images to `quay.io

[2019-07-10 21:12] l0rd commented on #13578
This issue may be considered for milestone 7.0.0. Looks weird because [redhat/java plugin has 2 extensions](https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/java/latest/meta.yaml#L20).

@mmorhun maybe a real example may help reproducing the problem (with the image and extensions that you have used in your test). A more detailed description of the error (now it's just "n

[2019-07-10 21:38] l0rd commented on #13806
cc @skabashnyuk @sparkoo @ibuziuk

[2019-07-10 21:57] davidwindell commented on #13625
Just hit this error `che-users-0.json: Permission denied` trying to get a new install of Che on K8s running. Is there a temporary workaround?

[2019-07-10 21:59] gito0o commented on #13625
I was able to get it working by setting the securityContext to root. not ideal but really haven't had time to get to this property.

[2019-07-11 01:45] davidwindell commented on #12863
@johnmcollier I've just tried to setup Gitlab as an OpenID connect provider for Che. I'm also seeing the same thing with ?code being added to the URL and an infinite redirect loop. Do I need wildcard support to be implemented to fix this do you think? https://gitlab.com/gitlab-org/gitlab-ce/issues/48707

[2019-07-11 02:16] abinash18 commented on #4884
I am having the same issue but i dont see the error i used the config shown and it loads but i cant see the ide if some one could help that would be nice.

[2019-07-11 04:44] monaka commented on #13797
@benoitf @l0rd I agree. I close this and relink related PRs to #13625.

[2019-07-11 04:44] #13797 closed

[2019-07-11 06:17] skabashnyuk commented on #13703
I would like to have a broader discussion first because the purpose and the way how we want to do that is a bit unclear to me.

[2019-07-11 06:36] l0rd commented on #13797
Thank you @monaka

[2019-07-11 07:00] akurinnoy commented on #13740
https://github.com/eclipse/che-theia/pull/342 is merged

[2019-07-11 07:00] #13740 closed

[2019-07-11 07:20] ibuziuk commented on #13806
I suspect that most of the issues would be fixed with https://github.com/eclipse/che-devfile-registry/tree/master/arbitrary-users-patch images - will try to check this assumption after CI setup

[2019-07-11 07:43] tsmaeder commented on #13806
@ibuziuk yes, looks like it. However, the fact that yarn is IMO one of the cases where the user will have to bring their own images. Not saying we can't offer a devfile with yarn installed, but there will always be that "one more tool" some user needs that is not installed on any of the packaged devfiles.

[2019-07-11 08:28] tsmaeder commented on #13578
@mmorhun I just started the java-maven devfile in che-nightly: I end up with the following directory structure:

[code]

That looks ok to me.

[2019-07-11 08:39] evidolob commented on #13578
I think, not in downloading binaries, it's works, but plugins itself doesn't run.

[2019-07-11 08:41] svor commented on #13578
The problem could be with memory limit, sometimes 512Mi is not enough especially for **2** plugins

[2019-07-11 08:47] ibuziuk commented on #13813
PR for first check box - https://github.com/eclipse/che-devfile-registry/pull/31

[2019-07-11 09:21] tsmaeder commented on #13584
I just saw this: with theia:latest and Chrome: browser console shows errors when opening terminal "che-machine-exececu" from the containers view:
[code]
and
[code]

[2019-07-11 09:25] l0rd commented on #13584
Note that 7.0.0 is with `che-theia:7.0.0`, not latest

[2019-07-11 09:39] vinokurig opened #13814 "Can not create a new pull request from GitHub plugin"
### Description

Can not create a new pull request from GitHub plugin
### Reproduction Steps

1. Add GitHub pull-request plugin
2. Open a workspace with a project cloned from GitHub
3. Checkout to a new branch and commit some changes.
4. Call `Create Pull Request` command

**WRONG:** Create process freezes, error occurred:
```root ERROR [hosted-plugin: 11878] (node:11878) UnhandledPromiseRejection

[2019-07-11 11:35] sunix commented on #13737
By the way, now we can `Ctrl-c` to stop a running task as tasks are interactive.
But would be nicer to `Ctrl-c` when you close the tab right ?

[2019-07-11 11:40] sunix commented on #13734
I don't think this is wanted for the end user.
But maybe a more generic https://github.com/eclipse/che-theia/blob/master/che-theia-init-sources.yml kind of file that would also include binaries of plugins/ext to download and include in the final assembly package ?

[2019-07-11 11:47] sunix commented on #13744
@tsmaeder could you describe your flow ?

[2019-07-11 12:02] mkuznyetsov commented on #13625
this PR would have solutions to file permission related issues: https://github.com/eclipse/che/pull/13798

[2019-07-11 12:03] akurinnoy commented on #13584
@tsmaeder I've just tested `che-theia:7.0.0` in Google Chrome.

`Uncaught (in promise) Error: Request 'resize' failed` happens when fist terminal is opened and I seem it doesn't affects how it works afterward.  All terminals except `che-machine-exec` work well.

Trying to open terminal for `che-machine-exec` I see it opens for a while, shows short output and closes and browser dev console shows th

[2019-07-11 12:23] apupier commented on #13303
hitting same issue with OpenShift Connector extension:

`spec.template.annotations: Invalid value: "org.eclipse.che.container.vscode-openshift-connector2ph.machine_name": name part must be no more than 63 characters.`

[2019-07-11 12:30] tsmaeder commented on #13303
I don't understand this issue: I don't see spect.template.annotations anywhere in the devfile. If it is something that is generated by our own tooling, we need to insure that we can translate values in the input to valid values in the output.
Putting the burden for this on the user seems wrong to me.

[2019-07-11 12:36] apupier commented on #13303
it seems to be something generated by Che itself internally.

Currently, there is not even a "burden" to the user as the initially proposed workaround is reported as not working for VS Code extension, working only for dockerfile see https://github.com/eclipse/che/issues/13303#issuecomment-505836401

My current understanding is that there is no way to use some of the VS Code Extensions proposed by

[2019-07-11 12:39] sparkoo commented on #13803
I was looking at this and I'm able to build and run the project with Go 1.10.7 with tasks. However, editor is not working correctly. No code assist, no 'go to definition', ... I guess that's because go plugin can't find the dependencies for the project as they are inside `go-cli` container:
![go_sample_error](https://user-images.githubusercontent.com/1160903/61050115-82932e00-a3e6-11e9-9c27-048209

[2019-07-11 12:39] sparkoo commented on #13803
cc @l0rd @skabashnyuk @tsmaeder

[2019-07-11 12:40] tsmaeder commented on #13303
@skabashnyuk can you confirm that some of the plugins in che-plugin-registry do not work currently? That would mean it's a 7.0.0 issue, IMO. If it's only a problem for 3rd party plugins, I would tent towards 7.1.0.

[2019-07-11 12:48] tsmaeder commented on #13584
the behaviour is the same for every other container as well for me.

[2019-07-11 12:50] akurinnoy commented on #13584
could you add more details then?
Where and how do you run a workspace?

[2019-07-11 12:57] apupier commented on #13303
it is a problem for:
- vscode-openshift-connector https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/redhat/vscode-openshift-connector
- vscode-kubernetes-tools https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/ms-kubernetes-tools/vscode-kubernetes-tools

[2019-07-11 13:08] tsmaeder commented on #13584
Are you saying this works for you with other containers? You can simply create a workspace with the java-maven devfile on minishift.

[2019-07-11 13:09] tsmaeder commented on #13303
Ok, that's a 7.0 for me then. What we ship should work out of the box.

[2019-07-11 13:50] tolusha opened #13816 "It isn't possible to debug Python Django application"
### Description

It isn't possible to debug Python Django application. When Python debug adapter starts debug session for Django application it sends `runInTerminal` request which starts a django server in side-car container. Since there aren't needed dependencies in the container it fails to start and debug session isn't initialized.

Actually this is a common problem and many debug adapter will

[2019-07-11 13:54] tsmaeder commented on #13816
@tolusha the "runInTerminal" request is part of the DAP, right? Am I correct that this goes to the theia container and is then routed to the container running the python extension?

[2019-07-11 13:56] JPinkney commented on #13806
I would have expected that if projects is selected in the dialog that it would clone to /projects maybe that's an user error, maybe its not, that's just what I expected. I tried double clicking on /projects and it brought me to
![2019-07-11-092219_763x733_scrot](https://user-images.githubusercontent.com/8839537/61054484-878fb780-a3bd-11e9-81f8-f027555d233f.png) and then when I selected 'Select Rep

[2019-07-11 13:57] tsmaeder commented on #13816
@tolusha can you start a remote debug session?

[2019-07-11 13:59] sunix opened #13817 "devfile: dockerimage with command is not executing entrypoint"
### Description
Hello,
I don't know if this is wanted but I have these two devfiles that use the same docker image:

[code]

[code]
one have a command `tail -f /dev/null`
but the result is not the same when getting to the terminal:

with the command:
![Selection_337](https://user-images.githubusercontent.com/650571/61056726-2931fb80-a3f4-11e9-995b-9ddc5229ac99.png)

without the command (i have typ

[2019-07-11 14:03] benoitf commented on #13817
the `I have no name` is because entrypoint is not executed yes

[2019-07-11 14:04] benoitf commented on #13817
BTW as your docker image is already having an infinity wait, why do you specify a tail command in the devfile ?

[2019-07-11 14:06] benoitf opened #13818 "[keycloak] Creating user page has invalid title"
### Description
When I launch che with keycloak and when I register a new user
I have the following screenshot
![image](https://user-images.githubusercontent.com/436777/61057513-c5103700-a3f5-11e9-898e-41df25ce6755.png)

looks like it displays a variable instead of the title

### Reproduction Steps
che-operator:nightly (multi-user)

[2019-07-11 14:16] #8498 closed

[2019-07-11 14:20] sunix commented on #13817
just the `chectl devfile:generate --dockerimage=myimage` is adding the command by default.

[2019-07-11 14:20] akurinnoy commented on #13584
@tsmaeder yes,
I've done it and all terminals except che-machine-exec work well

[2019-07-11 14:44] tsmaeder commented on #13584
Which version of che-server are you running and which version of che-theia are you using in the workspace?

[2019-07-11 15:32] l0rd commented on #13817
That's the expected behavior yes. For `chectl` I expect that most of the time user won't have an entrypoint but we may add the option `--keep-image-entrypoint` or something similar.

[2019-07-11 15:42] ibuziuk commented on #13813
@l0rd and looks like we have first successful build to https://quay.io/repository/eclipse-che/che-devfile-registry?tab=tags \o/

[2019-07-11 16:04] yangfq opened #13819 "ingress"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2019-07-11 16:06] #13819 closed

[2019-07-11 16:41] sunix commented on #13817
what confuse me is `command` for `ENTRYPOINT` and not `CMD`

[2019-07-11 16:56] keithchong commented on #13710
Good news.  I see my commands in the palette now.  The issue was with the link as referenced in the meta.yaml file.  I think the extension vsix package was never extracted.

It will be good if we could check the logs regardless.

[2019-07-11 19:25] tsmaeder commented on #13816
This would be 7.0.0 for me if we cannot debug at all. If we have a workaround, 7.1.0

[2019-07-11 19:29] tsmaeder commented on #13818
Not a 7.0.0 for me, but this sounds like it might be trivial to fix.

[2019-07-11 19:36] tsmaeder commented on #13803
@sparkoo could you file an issue describing the issue with the sample that we will ship with 7.0.0? In my mind, we can just fix it by setting the proper gopath values in the devfile.

[2019-07-11 20:30] johnmcollier commented on #12863
@davidwindell I believe so, that's what I ended up needing to use to get it working.

[2019-07-11 21:43] l0rd opened #13820 "OpenShift DevConsole Integration"
### Description

The OpenShift DevConsole is an OpenShift cluster dashboard that targets developers rather than administrators (OS 3 console target).

One of the feature of the new OpenShift DevConsole is to allow a developer to provision a Che workspace and start coding an application that is deployed on the cluster.

To make this scenario possible the DevConsole should be able to:

1) Find out i

[2019-07-11 21:43] l0rd commented on #13820
### Simple implementation proposal:

**Che discovery**
DevConsole looks for the default Che namespace to find out if its installed

**Workspace provisioning**
DevConsole generates a devfile and redirect the HTTP request to the wsmaster providing the devfile as either 1) the body of a POST HTTP request or 2) a URL parameter (compressed)

This approach should be easy to implement but discovery is no