[2020-03-09 22:19] gorkem commented on #16270
@beaumorley this has to be related to some of the designs that you are working on

[2020-03-10 01:21] ericwill commented on #16283
Yes please provide steps to reproduce the issue, specifically how you are "upgrading" the plugin.

[2020-03-10 01:38] gattytto commented on #16283
I think you are referring to the git builtin which is the one the pull requests extension seems to rely on, but some function from newest ms-vscode builtin is not yet present in theia. The extension I am referring to is this one:
https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/ms-vscode/vscode-github-pullrequest/0.8.0/meta.yaml

And this is the version I am trying to use:
htt

[2020-03-10 03:15] YasithaSandeep commented on #16235
Got it Thanks.
im closing this issue

[2020-03-10 03:15] #16235 closed

[2020-03-10 06:26] l0rd commented on #15016
We should look at https://github.com/ernoaapa/kubectl-warp as well

[2020-03-10 06:40] #16049 closed

[2020-03-10 06:54] ibuziuk commented on #16224
7.9.1 has been promoted to che.openshift.io
Closing

[2020-03-10 06:54] #16224 closed

[2020-03-10 06:55] ibuziuk opened #16291 "Update Hosted Che to the 7.10.0 upstream version"
### Is your task related to a problem? Please describe.
Update Hosted Che to the 7.10.0 upstream version

Draft PR - https://github.com/redhat-developer/rh-che/pull/1805

[2020-03-10 07:13] azatsarynnyy commented on #16282
Hello @va1erian
Could you try to build with yarn 1.17.0?
I suspect we need to adapt Che Theia to be able to build it with the latest yarn.

[2020-03-10 07:30] dmytro-ndp opened #16292 "Happy path E2E tests failed on Eclipse Che installation step because of TLS certificate exception"
### Describe the bug
Happy path tests failed:
[code]

#### [Eclipse Che server log](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Multiuser-Che-PR-check-E2E-Happy-path-tests-against-k8s/2336/artifact/logs-and-configs/che-logs/che-5dd575994f-gmdv8.pod.log)
[code]

### Possible reason
Incorrect custom-resource.yaml with `tlsSupport: true` and `se

[2020-03-10 07:31] ibuziuk commented on #16166
@rhopp this one is fixed in 7.10.0 only, right? any plans to include this to 7.9.2 ?

[2020-03-10 07:36] rhopp commented on #16166
@ibuziuk No objection, your Honor (:smile:). It's just a simple test change, with practically zero chance of breaking something.

@Katka92 Feel free to include this commit in 7.9.2.

[2020-03-10 07:39] #14022 closed

[2020-03-10 07:39] ibuziuk commented on #16166
well, this affects Hosted Che tests at very least, so I suspected that CRW tests would be also affected with a false-positive test results

[2020-03-10 08:08] azatsarynnyy commented on #15037
Closing it as can not reproduce on Hosted Che, 7.9.1.
Feel free to reopen if it is reproducible.

[2020-03-10 08:08] #15037 closed

[2020-03-10 08:23] SDAdham commented on #16275
@tsmaeder : it would be nice to have. For example, you can embed rocket.chat:
https://rocket.chat/docs/developer-guides/embedded-layout/

[2020-03-10 08:25] metlos commented on #15870
Note that now that single user also uses jwtproxy (in a passthrough mode), this issue is present in single user mode as well.

[2020-03-10 08:27] SDAdham commented on #16266
@tsmaeder your message clarified:

Closing this issue as it's no longer applicable

[2020-03-10 08:57] SDAdham commented on #16272
Is there a user friendly UI for this?

[2020-03-10 09:16] sleshchenko commented on #16272
@SDAdham It's not really user-friendly but you can try to use swagger UI that should be available by `CHE_HOST/swagger`

[2020-03-10 09:23] sleshchenko commented on #16270
The part related to the bigger Devfile editor is collapsed with https://github.com/eclipse/che/issues/15996. So, I've removed it here and let this issue be for adding stacks.

[2020-03-10 09:24] sleshchenko commented on #15996
from https://github.com/eclipse/che/issues/16270

![image](https://user-images.githubusercontent.com/11182824/76092642-da387680-6013-11ea-9864-87d0568a6ba3.png)

[2020-03-10 09:29] sleshchenko commented on #16280
@jgwest It would be useful if you provide details of generated certificate, you can do it into your browser[1] or via open-ssl[2]
1: Click certificate
![Screenshot_20200310_112850](https://user-images.githubusercontent.com/5887312/76298573-5526b900-62c2-11ea-9217-8753e22b8397.png)
2: you can find details here https://serverfault.com/questions/215606/how-do-i-view-the-details-of-a-digital-certifica

[2020-03-10 09:33] sleshchenko commented on #16271
@SDAdham does such registry require username?

[2020-03-10 09:44] sleshchenko commented on #16260
@SDAdham
![Screenshot_20200310_114303](https://user-images.githubusercontent.com/5887312/76299774-50630480-62c4-11ea-8cca-459c34fae957.png)
Some code completion already present, you just need to invoke it with ctrl+space.

[2020-03-10 09:57] sleshchenko commented on #15514
@JPinkney It's another issue. jwtproxy for your workspace seems to be unavailable. Pleasem register a new issue and put devfile there.

[2020-03-10 10:01] sleshchenko commented on #16236
@tolusha Could you clarify more about this command?
Is it going to have different flags like
[code]

[2020-03-10 10:29] benoitf commented on #15571
should we close this issue ?

[2020-03-10 10:38] benoitf commented on #15844
It's handled by https://github.com/eclipse/che-theia/pull/645

[2020-03-10 10:39] dmytro-ndp commented on #16292
Well, there is another issue which blocks execution of Happy path tests test pipelines against Eclipse Che with TLS support on minikube: [Eclipse Che pod bootstrap timeout on chectl install, when using Che operator with TLS and unsigned certificate on non-OpenShift kube](https://github.com/eclipse/che/issues/16280).

[2020-03-10 11:00] mstavares commented on #16110
Hi,

Any news about this?

Thank you

[2020-03-10 11:20] olexii4 opened #16296 "Images from the devfile registry aren't cached"
### Is your enhancement related to a problem? Please describe.

Images from the devfile registry aren't cached. If you click on the 'get started' page, it will send a lot of requests(each time when clicking).
![Screenshot from 2020-03-10 10-57-55](https://user-images.githubusercontent.com/6310786/76307480-92467780-62d1-11ea-894e-1b19a148979c.png)
### Describe the solution you'd like

All these ima

[2020-03-10 12:25] #16079 closed

[2020-03-10 12:47] nickboldt opened #16298 "Che 7.10.0 Release"
### List of pending issues / PRs

- [ ] *(add blockers here)*

### Release status

In parallel, the following releases can be done:

* che-theia,
* che-machine-exec,
* che-devfile registry, then che-plugin-registry (once che-theia and machine-exec are done)
* che-parent, then che-docs, then che as Release Candidate for QE

Then in series:

* che-parent, then che-docs, then che as Release
* che-ope

[2020-03-10 12:57] gattytto commented on #15752
there's now some more work from the people working around Tekton. There's an app called Octant which looks very much like the kubernetes dashboard, then Tekton ppl made a tekton-plugin for it.

I tried adding it to my tekton sidecar and it seems to work almost out of the box.
https://github.com/gattytto/che-sidecar-tekton/blob/master/Dockerfile

![image](https://user-images.githubusercontent.com/4

[2020-03-10 13:09] dmytro-ndp opened #16299 "Run E2E java selenium tests against Eclipse Che with TLS support"
### Is your task related to a problem? Please describe.
After recent changes in che-operator Eclipse Che Operator installs Che with TLS support by default.
So we need to fix E2E java selenium tests on ci.centos.org to be run against Eclipse Che with TLS support.

[2020-03-10 13:14] dmytro-ndp commented on #16292
It was decided to run Happy path tests against Eclipse Che without TLS support to unblock PR check until https://github.com/eclipse/che/issues/16280 will be fixed.

[2020-03-10 13:14] #16292 closed

[2020-03-10 13:22] #15395 closed

[2020-03-10 14:46] azatsarynnyy opened #16301 "Improve Che Theia release script"
### Is your task related to a problem? Please describe.

After preparing Che Theia for release with help of release [script](https://github.com/eclipse/che-theia/blob/master/set_theia_version.sh), yarn asks to choose a version of `@eclipse-che/workspace-telemetry-client` in interactive mode.

![image](https://user-images.githubusercontent.com/1636395/76324274-71404f80-62ee-11ea-9425-29e283c0c11a.p

[2020-03-10 14:56] sunix commented on #15501
Setup Test environment
=====================

Setup Nexus
-----------

Here, I will describe how I install Nexus to test my configuration. The Nexus will be installed through an operator in Openshift 4.2.

### Install the operator

From the the openshift 4.2 console, as an admin,

*   Create a airgap project,
*   install nexus3 operator from the operatorhub
    ![image](https://lh4.googleuserconte

[2020-03-10 15:51] eder-santos commented on #16280
Hi, any way to fix this issue before the PR is ready?

[2020-03-10 15:58] tolusha commented on #16280
@eder-santos
We are investigating

[2020-03-10 16:09] gattytto commented on #16283
Above comment has the meta.yaml I added to my plugin registry

[2020-03-10 16:25] dmytro-ndp opened #16302 "[chectl] Remove "-s/--tls" parameters as TLS must be on by default, no override possible"
### Is your enhancement related to a problem? Please describe.
There is no chectl option to install _Eclipse Che_ without TLS support which is default now.
At the same time `-s, --tls` doesn't make much sense so as **chectl** installing Eclipse Che with TLS mode enabled by default by both operator and helm chart.

### Describe the solution you'd like
- add support of `--no-tls` option which to ins

[2020-03-10 16:36] johnmcollier opened #16303 "Che workspace name doesn't allow underscores but error message says its fine?"
### Describe the bug

I went to go and create a workspace with the name `test_workspace`, and Che gave me the following error:
[code]

The `should start and end only with digits, latin letters or underscores` part in the error message leads me to believe that underscores would be fine in the workspace name, but it won't allow me to create the workspace.

Is the validation correct in this case and

[2020-03-10 16:39] sunix opened #16304 "Define Tekton tasks in the devfile."
### Is your enhancement related to a problem? Please describe.

Here it is about how we could take advantage of the fact that
- Tekton is built on k8s
- Che is built on k8s

to perform builds as close as what we have in the CI but in the inner loop (before pushing to git).

Here would be the requirements:
- We want to avoid having to transfert any files elsewhere: sources and built binaries have t

[2020-03-10 16:41] sunix commented on #16304
cc @l0rd @vdemeester WDYT ?

[2020-03-10 16:47] davidfestal commented on #15091
In the context of CRW 2.1 installation on OpenShift 4.3 restricted environments, it seems that we should provision the devfile regsitry with its public URL **by default**, and **not only when one of the `airgap` Custom Resource field is set** (as was done in [this commit](https://github.com/eclipse/che-operator/commit/0e99d74385298d09655e345174f830590165c7b8#diff-d9445e614f0d728fd140771b0fd29c50R8

[2020-03-10 17:57] nickboldt opened #16305 "Could cheFlavor be an env var like all the other settings moved from defaults.go ?"
### Is your enhancement related to a problem? Please describe.

If we could externalize cheFlavour maybe we could make che-operator even MORE generic between che and crw versions.

### Describe the solution you'd like

Following the path of https://github.com/eclipse/che-operator/commit/e9c5d3f312f07d73187075fcdd36423aae374edc and https://github.com/eclipse/che/issues/15874 we could externalize ch

[2020-03-10 17:59] davidfestal commented on #16305
Yes, that would be helpful to make upstream / downstream flow cleaner

[2020-03-10 19:26] #16288 closed

[2020-03-10 20:13] nickboldt commented on #16298
che-theia, machine-exec, and registries are done.

Waiting on parent, docs, and server to go to RC next. @vparfonov please update this issue when you're in RC and again when RC has passed QE & release is done.

[2020-03-10 20:15] RickJWagner commented on #15946
Also tracked in product issue tracker [1].

[1] https://issues.redhat.com/browse/CRW-703

[2020-03-10 22:36] l0rd commented on #16302
That's a good point @dmytro-ndp. For who is going to work on that: there is an interesting [`allowNo` attribute](https://github.com/oclif/parser/blob/master/src/flags.ts#L27) of the oclif booleans flags...

[2020-03-10 22:40] l0rd commented on #16304
@sunix can you provide an example of such a devfile? Are you thinking about a new command type (i.e. `type: tektonTask`)? How would we mount the source code in the pipeline containers?

[2020-03-10 22:50] l0rd commented on #16303
I think that's just the message that should be updated (underscores are not allowed, even at the start/end of string) cc @olexii4 @akurinnoy

[2020-03-10 22:57] dmytro-ndp commented on #16280
The issue has been reproduced for installation on minishift 3.11 using custom-resource.yaml with
[code]
https://ci.centos.org/view/Devtools/job/devtools-che-pullrequests-java-selenium-tests/186/consoleFull

[2020-03-11 02:21] gattytto commented on #16304
maybe this can be related? https://github.com/eclipse/che/issues/15752

[2020-03-11 05:25] YasithaSandeep commented on #16205
@vinokurig  tried adding the default ssh key to the Github but this seems that workspace pod doesn't have any kind of connectivity to outside.

[2020-03-11 06:52] jgwest commented on #16280
Sounds like it has been reproduced, but here are example self-signed certs generated by the reproduction steps, if additional information is needed from them: [certs.zip](https://github.com/eclipse/che/files/4316481/certs.zip)

[2020-03-11 07:35] skabashnyuk commented on #15395
As for this comment https://github.com/eclipse/che/issues/15395#issuecomment-593882859. After reviewing this pr https://github.com/kubernetes/kubernetes/pull/86557 and testing k8s client to 4.8.0  I've decided to go with variant 1 because the upgrade of the library didn't help it only adds additional risk to delay the fix of this issue. Upgrade to the new k8s client would be made as a separate tas

[2020-03-11 08:04] akurinnoy commented on #15922
@skabashnyuk I'm not able to reproduce this bug anymore. Could you please confirm or deny same on your side?

[2020-03-11 08:11] SDAdham commented on #16271
@sleshchenko nope, neither username or password

[2020-03-11 08:13] SDAdham commented on #16260
Since https://github.com/eclipse/che/issues/15996 already mentions the size of the screen, we keep this issue for the `download`?

[2020-03-11 08:13] ibuziuk opened #16306 "Minimal Safari Support"
### Is your task related to a problem? Please describe.
Eclipse Che is validated on Google Chrome and there is also minimal Firefox support - https://github.com/eclipse/che/issues/14015. However, it would be also great to provide support for other web browsers.

The goal of this epic is to analyze and detail the requirements for providing minimal support for Safari - https://www.apple.com/safari/

[2020-03-11 08:18] SDAdham opened #16307 "Ability to build docker images from Che"
### Is your enhancement related to a problem? Please describe.

Considering how che is super relying on images and containers, I'd say it's very important if we can easily build images while in Che.

[2020-03-11 08:28] sleshchenko commented on #16260
https://www.strava.com/activities/3173367979

[2020-03-11 08:29] sleshchenko commented on #16260
@SDAdham Thanks! It's easier to manage one purpose issues

[2020-03-11 08:32] #16069 closed

[2020-03-11 08:34] sleshchenko commented on #16271
@SDAdham If I'm not mistaking, the purpose of that private registries - configure [pullImageSecrets](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret) for your workspace. AFAIU your private registry does not need image pull secret to be set up. So, what if you try to use an image from a private registry without configuring the

[2020-03-11 08:39] sleshchenko commented on #16303
According to Che API, underscores should be allowed in the middle of workspace name https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceValidator.java#L50
BTW error message does not seem to be clear and right, it must be revised.

[2020-03-11 08:45] #16230 closed

[2020-03-11 08:46] mmorhun commented on #16280
@jgwest I've started investigation of the issue.
First, which is probably a typo, `--domain=(cluster ip).nip.io` should be `--domain=$(cluster ip).nip.io`. And if one omits the `domain` flag Che will try to autodetect it.
Second, the right name for the self signed secret is `self-signed-certificate`. So the command
[code]
should be
[code]
But it still doesn't help... I continue the investigation.

[2020-03-11 08:47] ScrewTSW commented on #16246
working on it

[2020-03-11 08:52] mshaposhnik opened #16308 "Investigate RAM/CPU limits behavior when cluster-wide resource limits are applied"
### Is your task related to a problem? Please describe.
After introducing RAM + CPU limits for containers on application level,
it should be verified for compatibility and consistent behavior in cases when cluster-level limits are applied (which is exactly the case of hosted Che etc), in particular with:
- LimitRange;
- ClusterResourceOverride  & Overrcommitment settings;

As the resut, decision s

[2020-03-11 08:55] vkuznyetsov opened #16310 "QE-2020-03-31 (Sprint: 181)"
### Sprint goals

### Issues tied to objectives

### Unplanned

### PR under review

#### Availability

| Name | Available |
| --- | :-: |
| Aleksandr Shmaraiev | 15 |
| Maxim Musienko | 15 |
| Dmytro Nochevnov | 15 |
| Igor Ohrimenko | 15 |
| Sergey Skorik | 15 |
|Radim Hopp | 5 |
| Total |  |

### Metrics

|  | Planned | Result |
| --- | --: | --: |
| **Budget** |  |  |

### Retrospective Commen

[2020-03-11 08:55] #16058 closed

[2020-03-11 08:59] sleshchenko commented on #16302
@dmytro-ndp I've already asked Mykola about --no-tls flag in his first PR related to TLS by default. The answer was

From https://github.com/che-incubator/chectl/pull/476#discussion_r373383036
So, could you elaborate more about cases when Che with no-tls and broken Theia Webview is needed? Maybe it's better to support TLS installation only?

[2020-03-11 08:59] SDAdham commented on #16271
ahhh OK, it makes sense. Pls ignore. I was trying to explore and use the features in Che. I'll close this case considering that your comment makes sense.

[2020-03-11 08:59] #16271 closed

[2020-03-11 09:07] vitaliy-guliy commented on #16307
With this PR ( https://github.com/eclipse/che-plugin-registry/pull/422 ) you will be able to build a docker image with `buildah`. Just to add the kubernetes plugin to your workspace. After starting, open a terminal in `vscode-kubertetes-tools` container, go to the directory with a dockerfile and run `buildah bud .`

We can close this issue after merging the PR.

Btw, there is a video demonstrating

[2020-03-11 09:40] sunix commented on #16304
@l0rd
Could be, I am unsure what would be the implementation. A Che command would make sense, then it means that a task could bring other type of resources (container, etc ...). To me that would be fine.

[2020-03-11 09:57] sleshchenko commented on #15724
@jswordfish Please reopen if you face the same issue on the latest released Che

[2020-03-11 09:57] #15724 closed

[2020-03-11 10:06] sleshchenko opened #16311 "[dev-workspace] Set up OLM installation for OpenShift Terminal Operator"
### Is your task related to a problem? Please describe.
Currently we have [deploy/olm-catalog](https://github.com/che-incubator/che-workspace-operator/tree/master/deploy/olm-catalog) configuration files but they are out-dated.
So, `deploy/olm-catalog` needs to be regenerated via operator-sdk, but refactorings have made this tricky, as it depends on a single operator.yaml (and we have two -- `deplo

[2020-03-11 10:08] azatsarynnyy opened #16312 "Editors Sprint 181"
Mar 11 - Mar 31

## Goals
1. Finalize Theia WebView support
2. Restore publishing npm packages during CI build
3. Fix Che Theia issues critical for dogfooding
4. Che Theia build compatible with the latest yarn
5. Theia upstream focus
6. Che Theia release

## Tasks
- [ ] Theia hotkeys aren't handled when a WebView is in focus https://github.com/eclipse/che/issues/15763
- [x] Publish npm packages on

[2020-03-11 10:17] sleshchenko opened #16313 "[devworkspace] Investigate the alternative for plugin-registry for CloudShell run with controller"
### Is your task related to a problem? Please describe.
Currently, if you want to run CloudShell workspace with Workspace Controller, you need to run the plugin registry as well. In the scope of this issue it's needed to investigate if it makes sense to make th plugin registry optional and instead propose alternative implementation to configure available editors:
1. CloudShell may be embedded into

[2020-03-11 10:35] azatsarynnyy commented on #16232
Hello @kellyhyomin

in this case, an editor that is used in your Che Workspace should provide the functionality of cloning a project.
In Che Theia based stacks, Che Theia is responsible for cloning the projects with help of [Workspace Plugin](https://github.com/eclipse/che-theia/tree/master/plugins/workspace-plugin).

[2020-03-11 10:42] sleshchenko opened #16314 "[devworkspace] Not able to deploy workspace-controller on local crc"
### Is your task related to a problem? Please describe.
Not able to deploy workspace-controller on local crc.

1. `crc setup` configures dnsmasq locally in the way that the internet in not available from docker anymore, so `./deploy/webhook-server-certs/deploy-webhook-server-certs.sh` fails with error :
[code]
It should not be actual when https://github.com/eclipse/che/issues/16251 is fixed.

Fixi

[2020-03-11 10:48] YasithaSandeep opened #16315 "Custom docker image based Work space doesn't have a user in Terminal"
I have created a docker image from java 8 and gradle 3.3. Workspace starts without any issue but when i click on gradle terminal. only the $ will appear. so i have to manuall type bash and enter other commands. what am I doing wrong here??

![image](https://user-images.githubusercontent.com/48114694/76408817-90ed7b80-63b3-11ea-968b-e46dce33b8f7.png)

![image](https://user-images.githubusercontent.

[2020-03-11 11:34] azatsarynnyy commented on #16268
Synchronizing Theia preferences across the user's Workspaces was done intentionally in the PR https://github.com/eclipse/che-theia/pull/80 to allow the user not to care about updating the preferences in each Workspace.

[2020-03-11 11:40] #15723 closed

[2020-03-11 11:45] skabashnyuk opened #16316 "Setup devfile to work with eclipse/che-jwtproxy component"
### Is your task related to a problem? Please describe.
Setup devfile to work with eclipse/che-jwtproxy component

### Describe the solution you'd like
 I would like to have devfile with
- Go lang support
- build, run and test command.

### Describe alternatives you've considered
n/a
### Additional context
n/a

[2020-03-11 11:47] skabashnyuk opened #16317 "Setup devfile to work with github.com/redhat-developer/devfile"
### Is your task related to a problem? Please describe.
Setup devfile to work with github.com/redhat-developer/devfile repository

### Describe the solution you'd like
if you manually edit the files and do PRs a devfile would be useful here. Even if it's just markdown and yaml support.

### Describe alternatives you've considered
n/a
### Additional context
n/a

[2020-03-11 11:48] mshaposhnik commented on #16308
When CPU limit is greater than system limit:
![image](https://user-images.githubusercontent.com/1651062/76413930-01d66880-639f-11ea-8a24-7283708edfd4.png)

[2020-03-11 12:01] skabashnyuk opened #16318 "ArrayIndexOutOfBoundsException in HeaderRequestTokenExtractor"
### Describe the bug
[code]
### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.9.1

### Steps to reproduce

Unknown

### Expected behavior
No error.

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubectl version`)
   - [ ] minishift (include output of

[2020-03-11 12:04] themr0c commented on #14612
fixed by https://github.com/eclipse/che-docs/pull/1107

[2020-03-11 12:04] #14612 closed

[2020-03-11 12:13] sparkoo commented on #16062
everything merged, closing this one

[2020-03-11 12:13] #16062 closed

[2020-03-11 12:26] va1erian commented on #16282
Thanks for the replies. I was able to build che-theia with a couple of additional logs using the latest che-theia-dev image. I still had to bring and configure docker manually which is kind of weird, maybe it's here in an openshift env?

Anyway, the issue was the theia backend to che REST requests were going to the proxy. Theia works much better now in our env with the proper configuration, but I

[2020-03-11 12:44] mmorhun commented on #16195
The job configuration was added into CentOS CI.
Job scripts were added in https://github.com/che-dockerfiles/che-cert-manager-ca-cert-generator-image/pull/3

[2020-03-11 12:44] #16195 closed

[2020-03-11 12:49] l0rd commented on #16220
@bmicklea in theory that's feasible but in practice we do not have doc about it and we never tested it. If a customer or user reads that statement he will ask how. But we currently do not have an answer and we haven't even ever tried it. How do we inject a rsync server in a Che workspace? Does `oc rsync` works for us? What about k8s? How do we setup an rsync client on a desktop (mac, linux, window

[2020-03-11 13:13] #16078 closed

[2020-03-11 13:36] bmicklea commented on #16220
Thanks - that helps. Considering that this is a common question and can limit adoption, I'd like us to work on an answer. Once @benoitf has something let's review and if it needs more work, then we can add it to a team's sprint goals.

So I'm reopening this until we have a new issue that tracks the work we're doing here. If one exists already please link then close this.

[2020-03-11 13:40] ibuziuk opened #16320 "Contribute 'kubernetes-image-puller' to the Eclipse Foundation"
### Is your task related to a problem? Please describe.
Currently, https://github.com/che-incubator/kubernetes-image-puller is not part of the Eclipse Foundation and we need to make it part of it.
HOWTO guide -
https://wiki.eclipse.org/Development_Resources/HOWTO/Starting_A_New_Project/Subproject_or_Component

List of sub-tasks:
- [x] Need to check if kubernetes-image-puller dependencies are EPL c

[2020-03-11 13:47] skabashnyuk commented on #11981
I would like to take this issue as continuation of this issue https://github.com/eclipse/che/issues/15395#issuecomment-597485609. I've already POC. So this task will collect efforts to polish it and merge to master k8s-client 4.8.0. Latest as for today.

[2020-03-11 13:52] ibuziuk opened #16321 "Need to check if kubernetes-image-puller dependencies are EPL compatible"
### Is your task related to a problem? Please describe.
As a first step before contributing 'kubernetes-image-puller' to the Eclipse Foundation we need to make sure that all the deps are EPL compatible - https://github.com/che-incubator/kubernetes-image-puller/blob/master/go.mod

[2020-03-11 13:58] vparfonov commented on #16298
RC images updated and ready for testing

[2020-03-11 14:14] jgwest commented on #16280
Thanks @mmorhun,  re: `self-signed-cert`, looks like I used the example from the Che docs: https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#procedure-2

[2020-03-11 14:15] Katka92 commented on #16113
Hi guys, is there any progress on that issue? This issue is still present in 7.10.0-SNAPSHOT.

[2020-03-11 14:24] ibuziuk commented on #16320
@l0rd @davidfestal @benoitf shoul;d we make it a part of the https://www.eclipse.org/org/workinggroups/eclipse_cloud_development_charter.php ?

[2020-03-11 14:25] Ohrimenko1988 commented on #16113
Can somebody describe what to do if notifications with update suggestions missed?
Do we have any way to update LS except notification confirmation?

[2020-03-11 14:26] ScrewTSW commented on #16113
The notification appears with every workspace startup until the plugin is updated.

[2020-03-11 14:27] Ohrimenko1988 commented on #16113
@ScrewTSW Could you please describe steps for updating LS if update suggestions missed?

[2020-03-11 14:30] #16086 closed

[2020-03-11 14:31] vparfonov commented on #16042
Current state demonstrated here: https://youtu.be/8N1uxU-iYlY.
During next sprint will continue work on investigation how to backup source on workspace stop action, as possible solution will try to use  [Container hooks](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks).
After that we can close PoC issue.

[2020-03-11 14:31] gattytto commented on #15752
new version of the tekton extension works too!
![image](https://user-images.githubusercontent.com/407397/76428003-d9913e80-638b-11ea-86cd-9bf44ce39470.png)

[2020-03-11 14:45] ibuziuk opened #16322 "Update Hosted Che to 7.9.2 upstream version"
Need to update Hosted che to the 7.9.2 upstream version
blocked by https://github.com/eclipse/che/issues/16229

[2020-03-11 15:19] skabashnyuk commented on #15922
No longer reproduced.

[2020-03-11 15:19] #15922 closed

[2020-03-11 15:19] l0rd commented on #16220
@bmicklea that's the issue https://github.com/eclipse/che/issues/15016

[2020-03-11 15:21] bmicklea commented on #16220
Closing - refer to #15016 for technical details and progress.

[2020-03-11 15:21] #16220 closed

[2020-03-11 15:43] dmytro-ndp opened #16323 "Prepare Eclipse Che release testing Jenkins jobs to check Eclipse Che 7.10"
We are usually testing Eclipse Che release candidate using testing Jenkins jobs which check Eclipse Che in HTTP mode being deployed to minishift/minikube using operator installer.

Actually, Eclipse Che 7.10 is installed in TLS mode by default, and it doesn't work being installed by operator installer because of problem with TLS certificate https://github.com/eclipse/che/issues/16280

So, we need

[2020-03-11 15:45] dmytro-ndp commented on #16298
Che QE team is preparing Jenkins CI jobs to test Eclipse Che 7.10 https://github.com/eclipse/che/issues/16323

[2020-03-11 16:01] benoitf commented on #14636
closing after idling

[2020-03-11 16:01] #14636 closed

[2020-03-11 16:14] #7860 closed

[2020-03-11 16:14] #8622 closed

[2020-03-11 16:14] #8761 closed

[2020-03-11 16:14] #8810 closed

[2020-03-11 16:14] #11631 closed

[2020-03-11 16:14] #11750 closed

[2020-03-11 16:14] #11764 closed

[2020-03-11 16:14] #11828 closed

[2020-03-11 16:14] #11960 closed

[2020-03-11 16:14] #12098 closed

[2020-03-11 16:14] #13085 closed

[2020-03-11 16:14] #13487 closed

[2020-03-11 16:14] #14073 closed

[2020-03-11 16:14] #14130 closed

[2020-03-11 16:14] #14303 closed

[2020-03-11 16:14] #14324 closed

[2020-03-11 16:14] #14359 closed

[2020-03-11 16:42] gattytto commented on #16304
for getting resources in tekton I have followed a guide with this as example:

[code]

but then if the repo needs authentication it requires this:

[code]

[2020-03-11 16:42] apupier commented on #11238
the issue is still present

[2020-03-11 16:43] apupier commented on #11238
/remove-lifecycle stale

[2020-03-11 17:04] amisevsk commented on #14511
/remove-lifecycle stale

[2020-03-11 17:05] amisevsk commented on #14511
cc: @davidfestal @l0rd seems that this could be something taken into account with a new devfile spec

[2020-03-11 18:48] tsmaeder commented on #15501
@sunix what about authenticated access to the registry?

[2020-03-11 19:13] gattytto commented on #16057
https://github.com/eclipse/che/issues/16283

[2020-03-11 19:20] tsmaeder commented on #15501
@sunix why not use NPM_CONFIG_CAFILE? That would be in keeping with the rest of the documented procedures.

[2020-03-11 21:05] mingfang commented on #11817
@btannous Thanks for this information.
I managed to get Che partially working with Safari by fronting it with Nginx with this rule
[code]

I'm able to login and start a workspace but I'm unable to see the workspace due to a weird error when Safari tried to execute `loader.html` as JavaScript.

You can try it here https://che.legionx.com

[2020-03-11 23:33] SDAdham commented on #16268
@azatsarynnyy:

that is essential for sure. Here is an example:
![image](https://user-images.githubusercontent.com/11182824/76473539-e2961480-644c-11ea-9ea3-851d83079806.png)

[2020-03-11 23:38] SDAdham commented on #16266
@tsmaeder : OK, can we at least allow uploading just `vsix` or at least provide a link to `vsix`?

Why do we really need create a replicate here https://www.eclipse.org/che/docs/che-7/using-a-visual-studio-code-extension-in-che/#publishing-a-vs-code-extension-into-the-che-plug-in-registry_using-a-visual-studio-code-extension-in-che

![image](https://user-images.githubusercontent.com/11182824/76473

[2020-03-12 00:15] mingfang opened #16325 "CHE_WORKSPACE_NAMESPACE value set in workspace does not match the CHE_INFRA_KUBERNETES_NAMESPACE_DEFAULT pattern"
If `CHE_INFRA_KUBERNETES_NAMESPACE_DEFAULT=foo-<username>`
then the runtime value for CHE_WORKSPACE_NAMESPACE on has the `<username>` part.

The namespace itself is correct; just the env variable value is wrong.

[2020-03-12 02:03] nickboldt commented on #16043
Too busy in 7.10. Did not get information from @vparfonov about how to get access to pushing to Maven Central. Need that before we can proceed.

[2020-03-12 02:04] nickboldt commented on #16101
@tolusha will we be releasing the endpoint watcher as part of Che 7.10?

[2020-03-12 02:04] nickboldt commented on #16107
Slip to next milestone

[2020-03-12 02:04] #16129 closed

[2020-03-12 04:32] kellyhyomin opened #16326 "When I click the Edit button on Che's user account page, a blank page appears."
## Summary

I want to edit my account information.
When I click the Edit button on Che's user account page, a blank page appears.
In keycloak page, I checked that the account client ID is enabled.
I am wondering if this error is only from me or from Che. Also I want to know how to solve it.

### Che version
7.4.0

### Screenshots

![image](https://user-images.githubusercontent.com/29850624/7648725

[2020-03-12 05:35] SDAdham opened #16328 "Add input and shell commands in devfile yaml"
### Is your enhancement related to a problem? Please describe.

Currently I have to manually maintain `tasks.json` and `devfile.yaml` files together, meaning:
`devfile.yaml` does not accept `inputs`, so I add it into `tasks.json`
[code]
And `che` commands doesn't support `${input:EXAMPLE}`, so alternatively, I have to define it as `exec` command in `yaml` but in tasks, I set it as `shell`
[code]
i

[2020-03-12 06:17] tolusha commented on #16101
@nickboldt
I have no idea. I have never released that.

[2020-03-12 07:14] magreenberg opened #16329 "workspace creation/open timeout when new container images are being downloaded"
See codeready-support@redhat.com thread with subject:
Workspace startup performance tuning?

### Describe the bug
When new images are being downloaded, workspace creation times out and fails.

Suggested solution: eliminate workspace creation timeout.

### Che version
7.3.2

### Steps to reproduce

Start a workspace when new container images have been made available, or, be the first to start up a

[2020-03-12 07:28] skabashnyuk commented on #16329
This is not a timeout issue, this is https://github.com/eclipse/che/issues/15922 which is no longer reproduced in master. Can you please try and confirm that is working for you?

[2020-03-12 07:40] skabashnyuk commented on #16325
@mingfang can you please update the description of the issues according to the bug template.

[2020-03-12 08:31] #14531 closed

[2020-03-12 08:37] metlos commented on #16325
We don't expose the name of the Kubernetes namespace (or OpenShift project) the workspace runs in. The `CHE_WORKSPACE_NAMESPACE` environment variable contains what can basically be described as the name of the owner of the workspace. I've created a PR to the Che documentation to clarify the meaning of that environment variable.

[2020-03-12 08:51] tsmaeder commented on #16266
I agree that the restrictions on the values in the meta.yaml are due to the implementation choices of the plugin registry and I would be glad if we could get rid of that. But that's not happening in the short term, IMO.
As for referencing *.vsix files: theia runs on a container that only has what is strictly necessary to run che-theia. That's why we run plugins in their own container that has inst

[2020-03-12 09:15] mmorhun commented on #16280
Another thing which I've found is wrong ingress to secret binding. All Che ingresses should have `secretName` set to `che-tls`.

[2020-03-12 09:51] mmorhun commented on #14444
I think it is not fixed yet.

[2020-03-12 10:04] tsmaeder commented on #15518
Here's my proposal for implementing the air-gapped configuration mechanism: it consists of a general way of generating preferences, env vars and config files based on configuration values:

[2020-03-12 10:04] tsmaeder commented on #15518
# Tooling Configuration in Che

This document describes an approach to configure development tools in Che (VS Code extensions, maven, go compiler, etc.). The concrete requirement for this comes from the practice of air-gapping, where (usually large) companies don’t allow developers access to artifact repositories on the internet and use curated copies in of those repositories on the company intran

[2020-03-12 10:07] sleshchenko opened #16330 "Theia IDE and Webview servers shares the same host"
### Describe the bug
Che Server seems to ignore `unique` attribute of webview server:
![Screenshot_20200312_120253](https://user-images.githubusercontent.com/5887312/76510070-acab5d00-6459-11ea-8192-c8fe16a7a830.png)

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy Che with `chectl server:start --multiuser --installer=helm --platform=min

[2020-03-12 10:31] sunix commented on #16304
to me these kind of secrets/config have to be enabled in Che https://github.com/eclipse/che/issues/14680

[2020-03-12 10:49] RomanNikitenko opened #16331 "Adapt tasks to upstream changes"
### Is your task related to a problem? Please describe.
I tested the influence of the PR in `theia` repo related to [`support presentation.panel in task config`](https://github.com/eclipse-theia/theia/pull/7260#issue-382731901) on `che` tasks.

The PR is still under review, I tested the current state of the PR using che-in-che development

Looks like we will need some adaptation on `che-theia` sid

[2020-03-12 10:50] SDAdham commented on #16266
@tsmaeder how can I obtain the right container then? Let's say I want to add https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens ? what do I do?

[2020-03-12 11:02] RomanNikitenko commented on #16331
Output for `typescript` task is absent:

![output_tasks](https://user-images.githubusercontent.com/5676062/76515107-b3d66900-6461-11ea-98b7-e3a767def682.gif)

[2020-03-12 11:39] sleshchenko commented on #16329
`Error: Failed to get the workspace: "Unknown error"` should be fixed by https://github.com/eclipse/che/pull/16332

[2020-03-12 11:50] #16329 closed

[2020-03-12 11:51] #11817 closed

[2020-03-12 12:11] #15035 closed

[2020-03-12 12:26] sleshchenko opened #16335 "Can't load Theia IDE on Safari because since CORS error happened"
### Describe the bug
Can't load Theia IDE on Safari.

Actually, it's caused by error of setting cookies for Theia host (loader.html+JTWProxy workflow)

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Open Che on Safari.
2. Try to start any workspace.

### Expected behavior
Workspace is stared and theia is loaded.

### Runtime
   - [ ] kubernete

[2020-03-12 12:33] ericwill opened #16336 "Plugins Sprint 181"
## Sprint goals
1. Welcome new members into the team
2. Continue to support our epics
    * OpenShift and GitHub integration
    * Plugin stacks automation
    * Integrate previous Languages team work into our sprint
    * Important CRW issues
3. Bugs
4. Maintenance / Automation / Technical Debt

### Blockers / Unplanned Issues / Regressions
* [x] Theia cannot reach the API server with both TLS an

[2020-03-12 12:34] #16083 closed

[2020-03-12 12:36] sleshchenko commented on #11817
@mingfang Yeah, there is another issue that Theia is not loaded https://github.com/eclipse/che/issues/16335

[2020-03-12 12:41] mingfang commented on #11817
@sleshchenko
To workaround #16335 I added this to my nginx proxy
[code]
You can try it in the link I posted above to see the next problem with `loader.html`.

[2020-03-12 12:58] RomanNikitenko opened #16337 "Fix implicit dependencies for che-theia"
### Is your task related to a problem? Please describe.
We need to fix implicit dependencies for `che-theia`.

There is the corresponding PR for `theia` repo: https://github.com/eclipse-theia/theia/pull/7303
I tested it for `che-theia` using `che-in-che` development and got the errors at building step:

![dependencies_issue](https://user-images.githubusercontent.com/5676062/76523656-6eba3300-6471-

[2020-03-12 13:00] dmytro-ndp opened #16338 "[chectl] Installation of Eclipse Che 7.10.0.RC with custom templates folder using helm chart installer failed on minikube"
### Describe the bug
Installation of Eclipse Che 7.10.0.RC with helm chart installer failed on minikube

[code]

### Possible reason
there are wrong container image tags (empty or 7.11.0) in Eclipse Che 7.10.0.RC helm charts: https://github.com/eclipse/che/commit/1eaeb833296b723f1a2671eb1e62a0e954d729a0#diff-38275c40bc918188a5eedbe0d3940b8d

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] oth

[2020-03-12 13:03] dmytro-ndp commented on #16298
Current result against Multiuser Eclipse Che 7.10.0.RC without TLS support which was installed using chectl/0.0.20200311-next.938b592 and che-operator:next installer:
1. Java selenium E2E tests passed on minishift 3.11 https://ci.centos.org/view/Devtools/job/devtools-che-rc-multiuser-integration-tests/25/
2. OS OAuth tests passed on minishift 3.11 https://ci.centos.org/view/Devtools/job/devtools-c

[2020-03-12 13:10] dmytro-ndp commented on #16298
@vparfonov: I have found 7.11.0 tags in ["Release preparation" commit](https://github.com/eclipse/che/commit/1eaeb833296b723f1a2671eb1e62a0e954d729a0#diff-2de0b0a873741f8e0d0879a46f8d5266). Shouldn't it be 7.10.0?

[2020-03-12 13:31] mmorhun commented on #16338
To workaround the issue create directory `installers` near `templates` folder (on the same level) and put file `cert-manager.yml` in it. (You may find this file in chectl repository under `installers` directory).
I think I will be able to fix this problem after next cert-manager release.

[2020-03-12 13:44] vparfonov commented on #16298
fixed

[2020-03-12 14:15] SDAdham opened #16340 "Plugin broker does not handle meta.yaml with version in x.x format"
### Is your enhancement related to a problem? Please describe.
Devfile to test. Reproduced on che.openshift.io
[code]
<details>

<summary>Used meta.yaml<summary>

[code]

</details>

here is the error:
[code]

### Describe the solution you'd like
The workspace is started OR plugin broker clearly describes that version is expected to be in x.x.x format

### Describe alternatives you've considered

[2020-03-12 14:16] dmytro-ndp commented on #16338
@mmorhun: thanks for explanation.
Did you mean to put **cert-manager.yaml** file into **deploy/kubernetes/installers** directory?

[2020-03-12 14:22] SDAdham opened #16341 "gitlens (vs code extension) is not compatible with che due to api not available"
### Describe the bug

![image](https://user-images.githubusercontent.com/11182824/76530998-a1434a80-64c8-11ea-820f-1a12d17f84f8.png)

Gitlens repo: https://github.com/eamodio/vscode-gitlens

`meta.yaml`:
[code]

### Che version

 - [X] latest
 - [ ] nightly
 - [ ] other: please specify
7.9.1

### Steps to reproduce

Just put the `meta.yaml` somewhere and reference the extension to load it in your

[2020-03-12 14:25] nickboldt commented on #16101
You set this as a P1, but no one worked on it... so slip to 7.11

[2020-03-12 14:30] olexii4 opened #16342 "Make restart workspace from Theia workflow more secure"
### Is your task related to a problem? Please describe.
With Eclipse CHE 7.10.0 we can add plugins from the Theia-Editor
<details>

<summary>See Theia Screenshot</summary>

![Screenshot from 2020-03-12 15-59-45](https://user-images.githubusercontent.com/6310786/76529346-d2952980-647a-11ea-9e0b-98e0d85ebece.png)

</details>

And we should restart a workspace for applying changes:
<details>

<summar

[2020-03-12 14:43] nickboldt commented on #16340
Sounds like the easy fix here is to use:
[code]

instead of
[code]

(since the plugin referenced is https://github.com/eamodio/vscode-gitlens/releases/download/v10.2.1/gitlens-10.2.1.vsix )

[2020-03-12 15:21] ScrewTSW opened #16343 "Refactor Typsescript Selenium Tests Timeout Logic"
### Is your enhancement related to a problem? Please describe.
Currently the methods that implement polling are misleading. They take timeout as an argument, but the timeout is applied for every iteration.
e.g.: https://github.com/eclipse/che/blob/master/tests/e2e/utils/DriverHelper.ts#L90

### Describe the solution you'd like
`attempts` = `timeout` / `TS_SELENIUM_DEFAULT_POLLING`

### Describe al

[2020-03-12 15:26] ScrewTSW commented on #16113
@Ohrimenko1988
* restart workspace
* open a .go file
* wait for LS initialization and notification pop-up:
![Screenshot_20200312_162253](https://user-images.githubusercontent.com/16451875/76537563-3bca6c00-647e-11ea-98d1-25865830ed13.png)
* click "Update"
* wait for installation, new notification will pop-up:
![Screenshot_20200312_162310](https://user-images.githubusercontent.com/16451875/76537578

[2020-03-12 15:28] ScrewTSW commented on #16113
@amisevsk the `Go analysis tool missing` notification is not present anymore in 7.10.0 snapshot. Did not test for 7.9.x

[2020-03-12 15:30] linquize commented on #15533
You should use `unzip` to decompress `*.zip` file, but not `gunzip`

[2020-03-12 15:47] vinokurig opened #16344 "GitHub PR plugin is not updated after providing an authentication token"
### Describe the bug

A GitHub token input does not affects the GitHub plugin until the browser page is not reloaded.
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace with GitHub projects and enabled GitHub PR plugin
2. Go to `GitHub Pull Requests: Manually Provide Authentication Response` and input the GitHub token.
See: nothi

[2020-03-12 15:52] amisevsk commented on #16340
I'll need to look into this, as we don't specifically require x.y.z versions -- in fact most plugins use the version `latest`.

[2020-03-12 15:53] vinokurig commented on #15417
Is not actual for the latest nightly version

[2020-03-12 15:53] #15417 closed

[2020-03-12 16:11] nickboldt opened #16346 "clean up tslint errors for single-line vs. block comment style"
With recent change to mark blocks of code in chectl as "che only" in order to make it easier to exclude when downstreaming as crwctl, we now get 4 tslint errors:

[code]
When we change this, we will also have to update https://github.com/redhat-developer/codeready-workspaces-chectl/blob/master/sync-chectl-to-crwctl.sh#L167 to align with the new markup style

[2020-03-12 16:14] amisevsk commented on #16340
This appears to be an issue in the Che server, not in the plugin broker:

The output from the plugin broker, passed back to Che, is:
[code]

On the server side, Che has to download the meta as well in order to resolve the plugin ID and match the broker output to its internal representation. The issue lies here, where we parse the yaml in a [fragile way](https://github.com/eclipse/che/blob/4ec9b226

[2020-03-12 16:29] amisevsk commented on #16340
PR https://github.com/eclipse/che-plugin-registry/pull/427 adds a validation check for this issue, which wouldn't address passing it in as a reference, but means the check script could be used to detect this issue.

[2020-03-12 16:31] amisevsk commented on #16340
Added context: the javadoc for the `TextValue()` method:
[code]

[2020-03-12 16:38] #16337 closed

[2020-03-12 16:58] gattytto commented on #16304
could there be a che dashboard plugin? so to have an extra option in
![image](https://user-images.githubusercontent.com/407397/76545412-804b0d00-6468-11ea-93c4-97e28e44d289.png) to manage kubeconfigs, tekton objects and other cluster custom-resources.

workspace edit section of the dashboard could have an extra tab for adding those resources to the workspace (instead of manually editing the devfil

[2020-03-12 17:26] nickboldt commented on #16346
Fixed.

[2020-03-12 17:26] #16346 closed

[2020-03-12 17:27] dmytro-ndp commented on #16298
@vparfonov: it seems there is improper version of Eclipse Che in quay.io//eclipse/che-server:rc
SHA256 2e74e658fa4e image - 7.9.1-SNAPSHOT:
![Screenshot from 2020-03-12 19-23-27](https://user-images.githubusercontent.com/1197777/76548404-54934b80-6497-11ea-8a3c-dff82ba59ea4.png)

[2020-03-12 19:17] amisevsk commented on #16113
The fix for this issue would be to add it to the che-sidecar-go image (`go get gopls`) during the build. Then we could update the settings in the plugin to use the lang server, removing the prompt.

If you miss the prompt, nothing bad happens (provided all the regular tools are installed), but it will return if you try to work on a project that uses go modules.

[2020-03-12 19:22] amisevsk commented on #16107
@nickboldt This issue was actually due to an error in how the CI build was set up (failed checks weren't failing the build).

The reported problem is correctly caught by the `check_plugins_location.sh` script:
[code]

[2020-03-12 19:22] #16107 closed

[2020-03-12 19:24] amisevsk commented on #16107
Was fixed in https://github.com/eclipse/che-plugin-registry/pull/393/files

[2020-03-12 22:35] btannous commented on #16335
+1 also effects me on both iOS on the iPad Pro and Safari on OS X. My environment is crc v1.7.0.

Will try to look a little deeper, but logging in works! =) Thanks for that @sleshchenko and @ibuziuk and team =)

[2020-03-12 22:55] gorkem commented on #16304
A Tekton `Task`, a `ConfigMap`, or a `ServiceBindingRequest` these are all kubernetes resources that a developer may want to apply along with the workspace. Wouldn't extending the Kubernetes component type to allow us to create any resource via devfile be a more generic solution?

To author and manage Tekton resources, we have the [vscode-tekton ](https://github.com/redhat-developer/vscode-tekton)

[2020-03-13 03:08] gattytto commented on #16057
https://github.com/eclipse/che/issues/16341

[2020-03-13 03:50] SDAdham opened #16348 "Show progress of git when workspace is starting up"
### Is your enhancement related to a problem? Please describe.

If we have multiple projects added into the projects section, we don't see the progress of git for each of those projects and this can create a problem of waiting too long for something may have glitched or interrupted for cloning one or 2 of these projects

### Describe the solution you'd like

Show progress

### Describe alternative

[2020-03-13 07:10] tolusha commented on #16325
@metlos @mingfang
Does it mean that the issue is solved?

[2020-03-13 07:19] tolusha commented on #16326
@kellyhyomin
Have you tried the latest 7.9.0 version?

[2020-03-13 07:25] tolusha commented on #16330
@sleshchenko
What does this bug cause? any issue with that?

[2020-03-13 07:35] Ohrimenko1988 commented on #16113
@amisevsk But the title of this issue "Go devfile Not working without updating Go language server to the experimental version." and according to this I suppose if you missed notification the Go language server will not work. Am I right?

[2020-03-13 08:18] skabashnyuk opened #16349 "NullPointerException in KubernetesDeployments"
### Describe the bug
[code]

### Che version
 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
 just started new workspace

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [x] minikube (include output of `minikube version` and `kubectl version`)
   - [ ] minishift (

[2020-03-13 08:32] dmytro-ndp commented on #16298
@vparfonov: we checked Eclipse Che RC installation twice - there is "7.10.0-SNAPSHOT" label.
![rc-che-local](https://user-images.githubusercontent.com/1197777/76603572-df1a9000-6515-11ea-830b-faee9fd395f6.png)

[2020-03-13 08:46] sleshchenko commented on #16330
@tolusha A little security issue ) Webview is supposed to run on a different host to avoid Theia cookies to be compromised... It's just little security issue but not more ;)

[2020-03-13 09:08] sparkoo commented on #16349
I couldn't reproduce it again. There is probably some precondition for it. Will comment if I see it again.

[2020-03-13 09:09] dmytro-ndp commented on #16298
An issue [Make embedded OAuth authentication model default for both singe and multiuser che](https://github.com/eclipse/che/issues/15672) has been checked successfully.

[2020-03-13 09:10] sleshchenko commented on #16315
@YasithaSandeep The default shell is detected using /etc/passwd file. To initialize shell you want you to need to update that file after container is started.
here you can find how we do it https://github.com/eclipse/che-dockerfiles/blob/master/recipes/stack-base/centos/entrypoint.sh#L17
https://github.com/eclipse/che-dockerfiles/blob/master/recipes/stack-base/centos/Dockerfile#L51

probably you d

[2020-03-13 09:11] #15061 closed

[2020-03-13 09:14] dmytro-ndp commented on #16338
[Workaround](https://github.com/eclipse/che/issues/16338#issuecomment-598210618) does work.

[2020-03-13 09:14] #16338 closed

[2020-03-13 09:34] sleshchenko opened #16350 "Cookies are not sent to Theia server to non-root path on Safari"
### Describe the bug
If we workaround and issue with CORS described in https://github.com/eclipse/che/issues/16335 then we'll face an issue that Theia root script can't load their resources.
It happens because of that fact that cookies are not sent and JTWProxy redirects on loader.html again.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Ope

[2020-03-13 09:37] sleshchenko commented on #16350
cc @btannous mingfang

[2020-03-13 10:22] mingfang commented on #16325
What is the reason you don't expose the name of the Kubernetes namespace?

I workaround this issue using the Downwards API like this
https://github.com/mingfang/terraform-provider-k8s/blob/master/devfile.yaml#L33

[2020-03-13 10:33] dmytro-ndp commented on #16298
Vert.x, Java Maven and Python devfile tests passed against Single User Eclipse Che 7.10.0.RC with TLS mode being installed using helm on minikube 1.1.1: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/pre-release/job/Single-Che-pre-release-check-test-all-devfiles-against-K8S/30/

[2020-03-13 12:29] ScrewTSW commented on #16113
fixed the issue name

[2020-03-13 12:45] dmytro-ndp commented on #16298
Git SSH Flow tests have passed against Single User Eclipse Che 7.10.0.RC with TLS mode being installed using helm on minikube 1.1.1 https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-pre-release-check-Git-SSH-flow-test-against-K8S/2/

[2020-03-13 13:05] dmytro-ndp commented on #16298
@vparfonov , @nickboldt, @ibuziuk : no blockers found during pre-release testing of Eclipse Che 7.10.0.RC, which included:
- quay.io/eclipse/che-server:rc
- quay.io/eclipse/che-keycloak:rc
- quay.io/eclipse/che-theia:7.10.0
- quay.io/eclipse/che-theia-endpoint-runtime-binary:7.10.0
- quay.io/eclipse/che-devfile-registry:7.10.0
- quay.io/eclipse/che-plugin-registry:7.10.0
- quay.io/eclipse/che-plug

[2020-03-13 13:11] dmytro-ndp commented on #16298
I would only suggest to express somewhere in documentation, that Eclipse Che 7.10.0 is now being installed with TLS enabled by default, and that the next workaround is required to install it on minikube with custom helm chart (**-t** chectl option):
[code]

[2020-03-13 13:17] vitaliy-guliy opened #16352 "new welcome page every time when I refresh my workspace"
### Describe the bug

Che-Theia always open a new Welcome page when refreshing the workspace.
It looks like the bug is appeared after merging this PR https://github.com/eclipse/che-theia/pull/605
I have a strong opinion that we have to revert that branch.
We don't need to store the Welcome page, let the welcome plugin decide whether it should be opened or not (depends on config in preferences).
BT

[2020-03-13 13:22] #15621 closed

[2020-03-13 13:27] ScrewTSW commented on #16113
@rhopp found out that the problem, and why after update the LS works across the same workspace type after deletion/restarts is that what fixes the language server is a simple user preference setting:
[code]

[2020-03-13 14:09] tsmaeder commented on #15518
@tolusha @skabashnyuk a lot of the implementation of the above concepts would fall in your domain, so could you please comment? Also @l0rd .

[2020-03-13 14:11] ericwill commented on #16113
So this is what's required to fix this issue, just the one setting? Or updating the Go LS plugin also needs to happen?

[2020-03-13 14:20] ScrewTSW commented on #16113
I've created a new user, opened swagger and pushed
[code]
to the preferences endpoint and then tried to open a new golang devfile.

the fix seems to be working even on newly created users that haven't been touched previously.

[2020-03-13 15:05] vitaliy-guliy opened #16354 "Che-Theia does not include the latest version of @theia/yeoman-plugin containing important fixes"
### Describe the bug

Che-Theia still use `0.0.1-1562576566` version of `@theia/yeoman-plugin`.
But there is a new `0.0.1-1578930705` version of the plugin with important fixes of the yeoman wizard, giving the ability to generate VS Code extensions.

https://www.npmjs.com/package/@theia/yeoman-plugin?activeTab=versions

### Che version

 - [x] latest
 - [x] nightly

[2020-03-13 15:09] davidfestal opened #16356 "Theia cannot reach the API server with both TLS and proxy enabled"
### Describe the bug

When both TLS and http proxy are enabled, it seems that Theia cannot reach the Che server API endpoint by its external URL.

This becomes critical now that TLS is enabled by default to have webviews working.

This might be related to this Axios bug: https://github.com/axios/axios/issues/925#issuecomment-574617787

### Che version
 - [x] latest
 - [x] nightly
 - [ ] other: ple

[2020-03-13 15:11] davidfestal commented on #16356
One possible way to fix it might be to use the solution proposed here: https://github.com/axios/axios/issues/925#issuecomment-513028175 in the `che-workspace-client`, in case `https_proxy` env variable is set *and* TLS mode is enabled (API URL starts with `https`)
cc @vinokurig

[2020-03-13 15:36] vparfonov commented on #16298
Maven artifacts 7.10.0 ready [link](https://oss.sonatype.org/service/local/repositories/releases/content/org/eclipse/che/assembly-main/7.10.0/assembly-main-7.10.0.zip)
Docker images available [link](https://quay.io/repository/eclipse/che-server?tab=tags)

[2020-03-13 15:43] mmorhun commented on #16280
@jgwest with all the changes from the PRs above it should work (tested on minikube though).
And don't forget about `self-signed-certificate` secret name.

@eder-santos

One may implicitly set `k8s.tlsSecretName` to `che-tls`. And, of course, the self signed certificate secret name should be `self-signed-certificate` _not_ `self-signed-cert`.

[2020-03-13 15:49] mmorhun commented on #16280
@themr0c @boczkowska we have mistake in our docs, please see [this comment](https://github.com/eclipse/che/issues/16280#issuecomment-597659025) and [the one above](https://github.com/eclipse/che/issues/16280#issuecomment-597659025).

[2020-03-13 17:41] cenkce opened #16359 "How can I run theia/examples/assembly on my localhost?"
I follow the instructions of https://www.npmjs.com/package/@eclipse-che/theia-generator but It doesn't run.

1. che:theia init -c config.yml // success
2. yarn // success
3. cd examples/assembly
4. yarn start // fail
or yarn // memory error

[2020-03-13 17:58] jgwest commented on #16280
@mmorhun - Looks good, with those two changes I am able to install Che as expected. 👍

Y'all may want to update this doc page as it still suggests to use `self-signed-cert` as the secret name:  https://github.com/eclipse/che-docs/blame/master/src/main/pages/che-7/contributor-guide/proc_deploy-che-with-self-signed-tls-on-kubernetes.adoc#L41

That page is hosted here: https://www.eclipse.org/che/doc

[2020-03-13 18:39] musienko-maxim opened #16360 "Project tree become unavailable after deleting an OpenshiftConnector component"
**Workspace template:**
[code]
**Env.:** minishift with deployed CHE based on Openshift 3.11, Fedora 29
**Steps to reproduce:**

1) Create a workspace with Openshift plugin and login into current cluster with UI (we can use the ws. template from this the issue)
2) Create component: select a folder  -> new component -> Create new Application -> Provide app name -> Workspace Directory -> select node

[2020-03-13 19:48] cenkce opened #16361 "Chectl installation url doesn't work"
https://www.eclipse.org/che/chectl/

[2020-03-13 20:36] davidfestal commented on #16356
@dmytro-ndp  @RickJWagner seemed to think it should be considered as a blocker for CRW 2.1

@rhopp @l0rd do you confirm ?

[2020-03-13 20:47] rhopp commented on #16356
I tend to agree... Running without tls or without proxy is imo no-go for lot of production environments.

[2020-03-13 21:59] davidfestal commented on #16356
I assigned it me since I'm currently investigating it in the context of the restricted environment tests (required to continue the tests until the end), and @ivinokur (who knows this codebase) kindly proposed his help to implement a potential fix in a temporary 7.9.x-based che-teia docker image (already available). So as soon as I've tested this image and confirmed it can fix the issue, I assume w

[2020-03-14 20:00] gazarenkov commented on #16042
Is not a goal of this POC also to make sure it is working with persistent storage like Gluster or whatever we want to use in prod?
(see discussion about the goals above)

[2020-03-14 22:34] gorkem opened #16362 "Git clone with https fails"
### Describe the bug
Cloning using a https url from Github fails with the following error
[code]

### Che version

 - [x] latest (7.9.1)
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

[2020-03-15 07:06] benoitf commented on #16362
Seems to duplicate https://github.com/eclipse/che/issues/16084

[2020-03-15 07:20] tolusha commented on #16361
@cenkce
Could you be more specific? What exactly doesn't work?

[2020-03-15 17:13] cenkce commented on #16361
It didn't work when I wanted to install Chectl on macos, But now I tested again and it worked.

[2020-03-16 02:55] polkaudio124 opened #16363 "Error: Failed to run the workspace: "An exception occurred.""
Hi,

anyone encounter the following error before?

I have deployed eclipseche on azure kubernetes. This error is encountered after i stop and start a workspace.

i also noticed that after a certain time, i am able to start up the same workspace successfully.

![start-workspace-error](https://user-images.githubusercontent.com/30489534/76719393-a4faf980-6774-11ea-9239-b770715b8de5.PNG)

[code]

[2020-03-16 04:09] kellyhyomin opened #16364 "Failed to add github repository."
## Summary

I want to add github to projects.
When I click the connect your github account button on Che's new workspace page, a blank page appears.
I tried to refer to this page(https://www.eclipse.org/che/docs/che-7/configuring-github-oauth/), but it doesn't work.
I would like to know how to fix it.

### Che version
7.4.0, multi-user

### Screenshots

![projects_github_error](https://user-images

[2020-03-16 06:28] IveJ commented on #16364
Dear Kelly,

Plz try to check your setting org/repo in account setting and find out sth
like like enable 3rd app authenticate on git.

On Mon, Mar 16, 2020, 11:10 Kelly(hyomin.kim) <notifications@github.com>
wrote:

[2020-03-16 06:38] #16361 closed

[2020-03-16 07:02] abhay1722 opened #16365 "nexe fails to create `plugin-remote-endpoint` executable with error `Error: spawn python ENOENT`"
### Describe the bug
While building the `eclipse/che-theia-endpoint-runtime-binary:7.9.0` image, nexe gives the below issue:-
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: 7.9.0

### Steps to reproduce
[code]

### Expected behavior
Build must complete successfully with the following 3 images:-
[code]

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   -

[2020-03-16 08:07] mmorhun commented on #16280
I am going to create a PR into docs.

[2020-03-16 08:13] skabashnyuk commented on #16363
@polkaudio124 thank you for this report. Can you please provide more details about this accident according to the bug template.

[2020-03-16 08:18] kellyhyomin commented on #16364
@IveJ
Thank you for your help.
I solved it with the keycloak setting.

[2020-03-16 08:18] #16364 closed

[2020-03-16 09:02] mshaposhnik commented on #16308
As tested on dev-cluster, there is also no issues running workspaces with container RAM/CPU limits. So seeems no actions required ATM, issue can be closed.

[2020-03-16 09:02] #16308 closed

[2020-03-16 09:28] shahidhs-ibm commented on #16287
@ibuziuk Thanks for the positive response. Along with extending support to s390x, we would also like to publish the s390x docker images to Eclipse Che docker repository i.e. `quay.io`. We understand that `quay.io` does not support multiarch images so we would like to publish our images appending `-s390x` to the image name.
This feature will need some code modifications to read architecture specifi

[2020-03-16 09:40] mmorhun opened #16366 "Chrome browser doesn't accept generated by instructions from Che docs self-signed certificate"
### Describe the bug
When generate a self-signed certificate according to Che docs and deploy Eclipse Che with it and then import the certificate into Google Chrome browser it still doesn't trust the certificate and even doesn't provide a button to add it into exceptions (however it is still possible via some settings).

![Screenshot from 2020-03-16 11-44-38](https://user-images.githubusercontent.

[2020-03-16 09:43] tsmaeder commented on #16354
Since we're mostly promoting VS Code extensions, wouldn't it make more sense to rely on their tooling to create template plugins? One less thing we need to take care of.

[2020-03-16 09:53] tsmaeder commented on #15540
@tsmaeder actually, I don't think it does :-(

[2020-03-16 10:03] tsmaeder commented on #15540
Since we're trying to remove obstacles to "multi-root" workspaces, we're taking this on in this sprint.
My approach would be the following:

* Override TaskConfigurationManager to integrate the devfile as a source for global TaskConfigurations.
* Make the tasks in devfile accessible as a resource (tasks.json) that can be opened in the editor. Read-only until we are ready to sync back to the devfil

[2020-03-16 10:13] sunix commented on #15540
To me we should avoid to confuse the user.
Exposing Che commands in tasks.json AND devfile (as workspace config) AND devfile.yaml (in source code in some case) IS CONFUSING FOR THE USER.

So rather than going further in multi-root workspaces support for task ...
... I suggest that we rethink how Che tasks works at the moment and make it easier to edit, view and share through the devfile.

[2020-03-16 10:27] tsmaeder commented on #15540
@sunix so what would are you suggesting concretely?

[2020-03-16 10:31] benoitf commented on #16354
@tsmaeder the yeoman plug-in is not a Theia template.

[2020-03-16 10:37] sunix commented on #15540
- do not show Che tasks in tasks.json but load it in memory from the devfile (as workspace config)
- from the IDE a way to dynamically edit the devfile (as workspace config) and particular the che tasks
- have a way to synch the devfile (as workspace config) into a devfile.yaml of a project

[2020-03-16 10:49] gazarenkov commented on #15571
Done

[2020-03-16 10:49] #15571 closed

[2020-03-16 11:08] dmytro-ndp opened #16367 "E2E operator hub installation tests failed being run against OCP 4.4"
### Describe the bug
`test-operatorhub-installation` tests [had failed downstream](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/crw-typescript-tests/2183/console) being run to install CRW on OCP 4.4:
[code]

### Screenshots
![screenshot-Logout_from_temp_admin_user](https://user-images.githubusercontent.com/1197777/76750357-cebd1c00-6786-11ea-8eb5-701ca93689dc.png)

[2020-03-16 11:20] olexii4 commented on #16065
done

[2020-03-16 11:35] akurinnoy opened #16368 "Handle large amount of debug log in workspace loader"
### Is your task related to a problem? Please describe.

#15983 introduced ability to restart a workspace with debug mode enabled. In some cases, when amount of logs will be rather large to show by workspace loader, this may cause memory performance issues because of large number of DOM nodes to manipulate.

### Describe the solution you'd like

Keep in DOM certain amount of latest lines of logs,

[2020-03-16 11:55] #16065 closed

[2020-03-16 12:01] tsmaeder commented on #15540
I think the solution I sketched would fulfill point 1 and 2, no?

[2020-03-16 12:06] sunix commented on #15501
@tsmaeder not sure ... I think i've tried but it wasn't working ... https://github.com/nodejs/node-gyp/issues/695#issuecomment-530131177

[2020-03-16 12:11] sunix commented on #15540
In your solution you are still using tasks.json, no ?

[2020-03-16 12:20] artaleks9 commented on #16367
* Really it happened because the method _waitDisappearanceNavpanelOpenShift_  is used inside method _waitDisappearance_ without timeout. Should be used the method _waitDisappearanceWithTimeout_ with enough timeout.

* But from other side the test-suite _Logout from web console OpenShift_ is redundant and should be deleted from the _InstallCheByOperatorHub.spec.ts_.

So,
1) the __waitDisappearance_

[2020-03-16 13:32] tolusha commented on #16169
https://github.com/eclipse/che-docs/pull/1137/files

[2020-03-16 13:37] #16169 closed

[2020-03-16 13:39] mmorhun commented on #16280
I think the problem is resolved, so closing this issue.

[2020-03-16 13:39] #16280 closed

[2020-03-16 13:42] mmorhun commented on #16323
@dmytro-ndp FYI #16280 is done.

[2020-03-16 13:57] gorkem opened #16370 "Asciidoc export to pdf fails"
### Describe the bug
When I invoke the `Asciidoc: Export document to pdf` command it fails

If I have the settings as`"asciidoc.use_asciidoctorpdf": false` the extension fails with
[code]
When `"asciidoc.use_asciidoctorpdf"`is set to `true` the extension fails with

[code]

[2020-03-16 14:16] vinokurig commented on #16356
@davidfestal Did my fix helped?

[2020-03-16 14:21] nickboldt opened #16371 "[release process] Ensure operator yamls and test defaults are updated for each release"
### Is your task related to a problem? Please describe.

Recently I noted that several files in che-operator are not updated on each release. See https://github.com/eclipse/che-operator/pull/197

* deploy/operator-local.yaml
* deploy/operator.yaml
* pkg/deploy/defaults_test.go

### Describe the solution you'd like

So, the [make-release.sh](https://github.com/eclipse/che-operator/blob/master/make-

[2020-03-16 14:27] ibuziuk commented on #16359
@azatsarynnyy could you please take a look?

[2020-03-16 14:37] ibuziuk commented on #16362
@ericwill should we close it as a duplicate of #16084

[2020-03-16 14:39] ericwill commented on #16362
Yes it's a duplicate.

[2020-03-16 14:41] benoitf commented on #16362
I think priority is quite high as well

[2020-03-16 14:42] ibuziuk commented on #16362
Closing in favor of #16084

[2020-03-16 14:42] #16362 closed

[2020-03-16 14:43] ibuziuk commented on #16084
@nickboldt I believe this should be fixed for 7.9.2 to land in CRW 2.1

[2020-03-16 14:47] ibuziuk commented on #16365
@artem could you please take a look?

[2020-03-16 14:50] ibuziuk commented on #16370
@ericwill @JPinkney I put `P2` for now but feel free to update the priority

[2020-03-16 14:53] benoitf commented on #16365
Hello @abhay1722, I think that there some missing context there
It seems you're trying to use a different architecture like `s390x`

[2020-03-16 15:21] tsmaeder commented on #15540
No, I would just call the Resource tasks.json. It would be backed by the devfile directly, not a disk file.

[2020-03-16 15:44] sleshchenko opened #16372 "Update vulnerable dependencies in workspace loader"
### Is your task related to a problem? Please describe.
It's needed to update vulnerable dependencies in workspace loader:

The minimal version for new dependencies which must be updated:
[code]

[2020-03-16 15:57] azatsarynnyy opened #16373 "Che Theia build fails on Hosted Che"
### Describe the bug
The build of Che Theia fails on Hosted Che.

### Steps to reproduce
1. Login to [Hosted Che](http://che.openshift.io/) and start a Workspace from the [Devfile](https://github.com/eclipse/che-theia/blob/master/devfiles/che-theia-all.devfile.yaml).
2. Follow the steps provided in Che Theia [CONTRIBUTING.md](https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md).
3. [O

[2020-03-16 16:38] benoitf commented on #16373
with persistent mode disabled ?
if it's with gluster AFAIK it's a very old known issue

[2020-03-16 17:27] ibuziuk commented on #16373
Closing as duplicate of https://github.com/eclipse/che/issues/15673
Instructions for building che-theia on Hosted Che - https://github.com/eclipse/che/issues/15673#issuecomment-579735363
@azatsarynnyy feel free to reopen

[2020-03-16 17:27] #16373 closed

[2020-03-16 17:42] ibuziuk commented on #16372
@sleshchenko I put P1 for now, but feel free to change the severity

[2020-03-16 18:24] davidfestal commented on #16356
I tested the docker image provided by @vinokurig based on this proposed fix: https://github.com/axios/axios/issues/925#issuecomment-513028175 But it doesn't seem to fix the problem.

[2020-03-16 18:51] tolusha opened #16374 "chectl releases aren't properly sorted"
### Describe the bug
All release are sorted by names but it turned out that 7.10.0 release is behind 7.2.0.
It leads to impossibility to update `chectl` from 7.9.1 to `7.10.0` version .

A temporary fix has been applied:
[1] https://github.com/che-incubator/chectl/blob/gh-pages/_layouts/stable-download-link.html#L18

It is needed to find a general solution.

[2020-03-16 19:10] tolusha commented on #16298
`che-operator`, `chectl` 7.10.0 have been released.

[2020-03-16 20:16] azatsarynnyy commented on #16366
from Chrome 79 release notes https://support.google.com/chrome/a/answer/7679408

maybe related

[2020-03-16 21:59] #16340 closed

[2020-03-16 22:25] azatsarynnyy commented on #16373
@benoitf persistent mode is enabled. With disabled, the error is different:
[code]

[2020-03-17 03:49] abhay1722 commented on #16365
@benoitf Yes, I am trying to build it on `s390x` architecture. The same command works fine on the host, where I am able to produce the `plugin-remote-endpoint` executable. However, while building the docker image, the above issue is observed.

[2020-03-17 06:45] davidwindell commented on #15540
I like the idea of hiding the devfile tasks in the workspace BUT I really think it should at least be possible to extend these tasks via a yml file in the project repo.

[2020-03-17 07:32] #13420 closed

[2020-03-17 07:32] #13888 closed

[2020-03-17 08:46] tsmaeder commented on #15540
@davidwindell would you agree that when you put a tasks file inside a project, it would make no sense to replicate those tasks to the devfile?

[2020-03-17 09:05] mmorhun commented on #16366
@azatsarynnyy thank you for your investigation! But we already generate CA certificate and certificate request and then create server certificates and do import CA certificate into browser... Should be something else...

[2020-03-17 09:34] davidwindell commented on #15540
Yes, I agree as otherwise it would be a maintenance nightmare. The benefit of in-repo tasks is that we don't have to give our developers access to edit the devfile registry (where all of our ~50 projects are) just to add tasks that are re-useable.

[2020-03-17 09:49] #15071 closed

[2020-03-17 10:36] sunix commented on #15540
Che tasks cannot be decouple from:
- projects
- components/container where these are going to be executed

Storing just tasks (not devfile) in a project git is not a generic maintainable option in my opinion.
But you can have the devfile registry with a git repo(s) backend where your developers could have write access with moderations (PR) just like a normal git project.

The best option maybe cou

[2020-03-17 10:53] mmorhun commented on #16052
Some thoughts about this issue.

First, it is worth to mention that Che installation process on Openshift and Kubernetes are not the same thing. The most significant difference is Routes vs Ingresses.
So let's talk about each platform separately.

#### Openshift
By default, each Openshift cluster has its own certificate. As of now Che tries to reuse that certificate whatever it is. If it is common

[2020-03-17 10:57] sunix opened #16377 "The devfile registry should allow referencing external devfiles or external git projects (that may contain devfile.yaml)"
### Is your enhancement related to a problem? Please describe.
At the moment, the devfile registry can only use self referenced devfiles ( referenced in the same own repo). But for some team it may be hard to maintain these devfile in a single git repo. It may also be easier to maintain the devfile.yaml that is in the project repo it self.

### Describe the solution you'd like
in the devfile meta.

[2020-03-17 11:26] mshaposhnik commented on #13318
@lord @davidfestal  I have a question regarding this feature. Do you think it makes sense to add specific `ephemeral` attribute into single volume declaration, while we have an global `persistVolumes` attribute of devfile which affects all PV-s of all components as far as i understood.
It may produce some inconsistence if set all to `true` but mark some individual as `ephemeral`, but at the same t

[2020-03-17 11:57] #16367 closed

[2020-03-17 12:14] nickboldt commented on #16229
slip to 7.11:

- [ ] Store credentials into secrets instead of plain text of CheCluster CR fields #16243

[2020-03-17 12:50] AndrienkoAleksandr opened #16379 "node debug is broken for che-theia:next"
### Describe the bug
The debug session type "node" is not supported.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create new application with node from stack
'NodeJS Express Web Application'
2. Run application with enabled debugger: task with name `run the web app (debugging enabled)`
3. Open debug panel select 'Attach to remote' debug conf

[2020-03-17 13:29] tsmaeder commented on #13318
@mshaposhnik what would you use such a feature for?

[2020-03-17 14:30] mshaposhnik commented on #13318
@tsmaeder which one? `ephemeral` per volume?

[2020-03-17 14:37] sunix opened #16381 "Che is using a wrong external URL in the preview tab when detecting a exposed port of a webapp"
### Describe the bug
Che is displaying a wrong external URL in the preview tab when detecting a exposed port: when starting an web application within the workspace and using a declared port in the devfile, Che is using to the wrong URL in the preview tab: internal URL instead of than the external URL.

### Che version

 - [x] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reprodu

[2020-03-17 14:39] sunix commented on #16381
discussion during the community call:

[2020-03-17 15:02] nickboldt commented on #15962
Dmytro reports problem not fixed in downstream issue:

https://issues.redhat.com/browse/CRW-674?focusedCommentId=14001032&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-14001032

So reopening.

[2020-03-17 15:18] benoitf commented on #15962
It's already fixed upstream so I don't see why it needs to be opened there
![Uploading image.png…]()

[2020-03-17 15:18] #15962 closed

[2020-03-17 15:26] tsmaeder commented on #13318
yes.

[2020-03-17 15:32] anselmov opened #16382 "che tls self signed setup instructions since 7.9.1 ?"
Hello,

Is there any instructions yet on how to run che on k8s with self signed certificates since 7.9.1 ?

There is a new config map name for certs:

How do I create it?

Thanks.

[2020-03-17 16:25] sleshchenko commented on #16251
Interesting option to go, seems to be the right one - let cert manager does work for us https://github.com/sleshchenko/che-workspace-operator/commit/15f3940e3a84d11a5cab03eb6b76472842f886a0

[2020-03-17 17:08] scela opened #16384 "Loop during 'Loading runtime token' on Hosted Che"
While trying to open a workspace I see this.
![2acluster](https://user-images.githubusercontent.com/829239/76881782-f17c2d00-6879-11ea-825a-f9c8c7a94ce7.gif)

Basically the progress bar and label keep appearing/disappearing for a while until it fails with unknown error after about 5 minutes.

Here's a snapshot of the network tab of developer options in Chrome during this looping.
![image](https://

[2020-03-17 17:09] ibuziuk commented on #16384
@scela I can not repro, does it happen every now and then for you? could you try incognito?

[2020-03-17 17:11] metlos commented on #16250
How is running arbitrary code with user privs more secure than running it with a predefined SA?

[2020-03-17 17:12] scela commented on #16384
I originally tried 'cognito' and I saw that. Tried incognito to see if it's fixed but it wasn't. Just tried now again after 15 mins and I see it again so it's consistent.

[2020-03-17 17:18] ibuziuk commented on #16384
@ericwill could you please confirm that this very issue is reproducible in the upstream - https://github.com/eclipse/che-theia/pull/669#issuecomment-600190514

[2020-03-17 17:23] l0rd commented on #16384
@ibuziuk I experience this issue on che.openshift.io since 10 days now on chrome (incognito or not) but not on firefox. I do not experience it on upstream che.

[2020-03-17 17:24] ericwill commented on #16384
I can reproduce it by clicking the happy path test link in the PR: eclipse/che-theia#669 (comment)

It worked the first time but ever since then it's been reproducing the issue.

[2020-03-17 17:29] scela commented on #16384
I tried on Firefox, it wasn't flashing but the progress bar scrolled by a couple of times and I see a black screen for the last 3 minutes or so:

![image](https://user-images.githubusercontent.com/829239/76883964-381f5680-687d-11ea-9ff1-cc71fbdb991a.png)

[2020-03-17 17:42] ibuziuk commented on #16384
Could you add the browser versions.
Works fine for me against Chrome 76.0.3809.100-1

@sleshchenko maybe someone from the controller team could provide some input? looks like loader traps in a loop at some point

[2020-03-17 17:44] benoitf commented on #16384
works on my side with Chrome Version 80.0.3987.132 (Official Build) (64-bit)

[2020-03-17 18:01] IveJ commented on #16384
Dear SCale,

Plz scrutinize in sth like quantity of running workspace at the
same time(like initiator metric in pics).

On Wed, Mar 18, 2020, 00:45 Florent BENOIT <notifications@github.com> wrote:

[2020-03-17 18:09] l0rd commented on #16384
Version 80.0.3987.132 (Official Build) (64-bit)

[2020-03-17 21:19] azatsarynnyy commented on #16379
I added node-debug2 Che Plugin but `node` debug type is still not recognized.
![image](https://user-images.githubusercontent.com/1636395/76902834-7cbee800-68a5-11ea-935a-1cc734d1180b.png)

I'm labeling it as a blocker as the user isn't able to debug node application.

[2020-03-17 21:57] azatsarynnyy commented on #16384
I can reproduce it with Chrome 80.0.3987.132 with any Workspace.
But it's not reproducible on FireFox 74.

[2020-03-17 22:55] davidfestal commented on #16356
After a bunch of tests done with the `axios` library *inside the `che-theia` container of a `Che` workspace* running in a disconnected environment behind a proxy*, here is the current analysis of the problem:
The error was coming from the fact that `axios` implementation of `https` requests through a `http` proxy is limited. In particular, it seems it doesn't correctly use the CONNECT method that

[2020-03-18 00:08] azatsarynnyy commented on #16359
Hello @cenkce
try with setting `export NODE_OPTIONS=--max_old_space_size=4096`

[2020-03-18 01:01] l0rd commented on #13318
@mshaposhnik I am not sure that we need `ephemeral` at single plugin level and it would be inconsistent with `dockerimage`.

[2020-03-18 01:05] tomgeorge commented on #16384
Able to reproduce on Version 80.0.3987.149 (Official Build) (64-bit) on Windows.  Will try Fedora tomorrow

[2020-03-18 01:16] l0rd commented on #15518
I have some concerns with org/team/user configurations specified in devfiles. A devfile describes a development workspace (sources, dev tools, runtimes and commands) and may be used across multiple org/team/users.

We should provide a mechanism to configure workspaces components without explicitly specify the config bits in the devfile.

#### For example for **environment variables**:

If I am an

[2020-03-18 01:22] l0rd commented on #16382
@anselmov [this documentation section](https://www.eclipse.org/che/docs/che-7/advanced-configuration-options/#deploying-che-with-support-for-git-repositories-with-self-signed-certificates_advanced-configuration-options) should answer your question.

[2020-03-18 01:25] l0rd commented on #16382
Feel free to reopen the issue if the doc doesn't answer your question.

[2020-03-18 01:25] #16382 closed

[2020-03-18 01:34] l0rd commented on #16381
Setting `severity/P2` as it only affect endpoints that include a slash (`/`) in their name.

As a side note @sunix why don't you specify `internal` and `external` in your devfile endpoints names (i.e. `quarkus-dev/internal` vs `quarkus-dev/external`)? This would make it easier to understand the difference among the endpoints.

[2020-03-18 01:45] l0rd commented on #16377
@sunix when you say "For some team it may be hard to maintain these devfile in a single git repo" what are you thinking about? How does teams are maintaining a devfile if not in a git repo?

I am asking because even in the scenario that you are describing the team will need to:
- publish the devfile somewhere (and hopefully version it as well)
- maintain (create, update) the devfile meta.yaml in a

[2020-03-18 02:06] patrickm-rh commented on #16384
CoreOS8 with Chrome Version 79.0.3945.88 (Official Build) (64B-bit) works fine, same results as tom on similar Windows config.

[2020-03-18 06:14] tolusha commented on #16379
It is needed to have both node and node2 debuggers

[2020-03-18 06:28] Aarav568 opened #16385 "How to install and Run Mongodb"
Hi,
I'm a beginner and I'm trying to install and run mongodb on Eclipse Che. I'm using express and nodejs.
I've tried several methods but they are not working.
The course that I'm following used ./monogod command to run the mongodb but I can't seem to do the same.
I tried https://docs.mongodb.com/manual/tutorial/install-mongodb-on-red-hat/
this manual but I cannot create /etc/yum.repos.d/mongodb-o

[2020-03-18 06:46] tolusha commented on #16385
@Aarav568
It is needed to create a container with mongodb.
Have a look at our samples: nodejs + mongo [1], java + mongo [2]

[1] https://github.com/eclipse/che-devfile-registry/tree/master/devfiles/nodejs-mongo
[2] https://github.com/eclipse/che-devfile-registry/tree/master/devfiles/java-mongo

[2020-03-18 06:54] Aarav568 commented on #16385
Sorry, I didn't get it. I'm using nodejs. I've never worked with containers.

[2020-03-18 07:08] tolusha commented on #16385
I guess there is misunderstanding somewhere
Could you elaborate more on

What do you mean?

[2020-03-18 07:22] AndrienkoAleksandr commented on #16379
I tried too. It doesn't work.

[2020-03-18 07:23] Aarav568 commented on #16385
I just want to run a mongodb server and create a database.
I'm following a course in which the mongo server is installed on Cloud9.io but sadly, it no longer works so I'm using Eclipse Che and I cannot run Mongo server by using the same method.

I want a running server, that looks something like this:
https://www.dropbox.com/s/ikruef1dfcznazf/git.png?dl=0

[2020-03-18 07:25] azatsarynnyy commented on #16379
@tolusha there's only Node Debug plugin
![image](https://user-images.githubusercontent.com/1636395/76935750-52e3e080-68fa-11ea-8998-bb5047578296.png)

which is actually node-debug2
https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/ms-vscode

[2020-03-18 07:33] sparkoo commented on #16384
reproducible with Chrome `Version 80.0.3987.132 (Official Build) (64-bit)`. The console shows this message
[code]

Works fine on Firefox 74.0

[2020-03-18 07:33] tolusha commented on #16385
Where did you Eclipse Che?
Have you installed it locally?
https://www.eclipse.org/che/docs/che-7/running-che-locally/

[2020-03-18 07:36] Aarav568 commented on #16385
No. It's online. https://che.openshift.io/dashboard/

[2020-03-18 07:40] tolusha commented on #16379
@tsmaeder @svor
That's strange.
Some times ago it was needed to have both node and node2 debug extensions since they work in conjunction. `node` debugger is a legacy debugger and is used for node <= 8.0, but it automatically changes the `type` to `node2` when version is greater then 8.0.

@azatsarynnyy
As workaround we can try to set `"type": "node2"`

[2020-03-18 07:45] tolusha commented on #16379
I like it)

https://github.com/eclipse/che-plugin-registry/commit/d0c25951a639d734e8bd91e1e325ded3294fc1f7#diff-5af2a440713580ab0b0c110c4a30c9b0

[2020-03-18 07:47] tolusha commented on #16379
We have to update [1] to add node-debug extension as well

[1] https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/ms-vscode/node-debug2/1.33.0/meta.yaml

/cc @ericwill

[2020-03-18 07:49] sparkoo commented on #15645
That's great, I like it. I would keep it as a feature :))

[2020-03-18 07:49] sleshchenko commented on #16384
@sparkoo thanks for useful input.
From Chrome 80, a default value for SameSite is Lax. So on jwtproxy side we need to specify None explicitly.

[2020-03-18 07:50] skabashnyuk commented on #16384
<img width="1680" alt="Знімок екрана 2020-03-18 о 08 49 33" src="https://user-images.githubusercontent.com/1614429/76937627-6fc9e500-68f5-11ea-87c0-ead0c22fc624.png">
work withot problem

[2020-03-18 07:50] tolusha commented on #16385
https://che.openshift.io/dashboard/#/getstarted
And create a sample with mongo.

It is basically all about devfiles https://redhat-developer.github.io/devfile/
I would like to recommend read this first to understand to conception

[2020-03-18 07:55] cenkce commented on #16359
@azatsarynnyy, There is just `yarn start` command in the instructions. Must we run `yarn` command before?

[2020-03-18 07:55] benoitf commented on #16384
I'm unsure if the issue is only related to Chrome as for example it works fine for me using latest Chrome  80.0.3987.149/macOS while it doesn't work for others.

I've also tested  with incognito and it's still working.

I'm on cluster `starter-us-east-2.openshift.com`

[2020-03-18 07:57] cenkce commented on #16359
Isn't it enough to run `yarn` command at the root of Theia?

[2020-03-18 07:58] sparkoo commented on #16384
looks like Chrome `80.0.3987.132` on Linux...

[2020-03-18 08:00] sleshchenko commented on #16250
@metlos Not sure I fully understand your question...
Instead of mounting SA with needed permissions into workspace and do authorization(check user should be able to use that SA) on web app level we:
still has authorization on web app level (OpenShift OAuth) but let K8s API to decide if user has needed permissions or not. So, each user access K8s API with their own tokens and we don't impersonate e

[2020-03-18 08:03] azatsarynnyy commented on #16379
Thanks @tolusha for investigating it.
I'm changing area as plugins and lower the severity to P1 as there's a workaround: one needs to add node-debug2 che plugin and set a debug configuration type `node2`.

[2020-03-18 08:04] sleshchenko commented on #15645
!!offtop
People like seeing:
1. Burning fire
2. Water is flowing
3. Uncentered spinner is rotating.

[2020-03-18 08:07] sleshchenko commented on #16384
BTW Including `SameSite` explicitly and not relying on browser default seems to be good thing to do.

[2020-03-18 08:15] scela commented on #16384
Version 80.0.3987.122 (Official Build) (64-bit)

[2020-03-18 08:24] tolusha commented on #16379
I would say there are two options:

1. change debug types to `node2` (it is needed to check)
2. add vsix extension  [1] to [2]

[1] https://marketplace.visualstudio.com/items?itemName=ms-vscode.node-debug
[2] https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/ms-vscode/node-debug2/1.33.0/meta.yaml

[2020-03-18 08:36] azatsarynnyy commented on #16379
@tolusha I've already checked - it works

[2020-03-18 08:40] sleshchenko commented on #16384
Can't reproduce on upstream deployed on https://che-sleshche.apps.ocp44.codereadyqe.com/dashboard/

Probably it's caused by fact that Che and workspace live on the same domain:  `apps.ocp44.codereadyqe.com` and in case of OSIO they're different.

@ibuziuk Are you able to test my custom JTWProxy image `sleshchenko/che-jwtproxy:samesite` built from https://github.com/sleshchenko/che-jwtproxy/commit/

[2020-03-18 08:47] ibuziuk commented on #16384
@sleshchenko yeah, the thing is that I still can reproduce this issue neither on prod nor on prod-preview and it is not clear against which version of the browser the issue is reproducible 100%.

[2020-03-18 09:04] rhopp commented on #16323
Referenced issue is closed. Nothing to do here.

[2020-03-18 09:04] #16323 closed

[2020-03-18 09:23] cenkce commented on #16359
`yarn` command at the root can't build che packages and there is no lib folder inside of them. Therefore  che modules can't be resolved.

[2020-03-18 10:32] y-anitha opened #16387 "Unable to bring up the workspace for Eclipse che"
This is the first time i am setting up Eclipse che on Kubernetes. I am trying to run che locally on a Ubuntu system for single user. I have the setup over Minikube. I have been able to bring up che server. However when i am trying to create a workspace, it is failing with below error. I have setup proxy settings (http_proxy, https_proxy and no_proxy). I ran all setup commands as 'sudo su -'.

`Pro

[2020-03-18 10:41] skabashnyuk commented on #16384
@mshaposhnik was able to reproduce after enabling experimental  flags
<img width="1249" alt="Знімок екрана 2020-03-18 о 11 40 20" src="https://user-images.githubusercontent.com/1614429/76952389-50d74d00-690d-11ea-9151-4cf4e3aa5b5b.png">

See https://digiday.com/media/what-is-chrome-samesite/

[2020-03-18 11:53] #16349 closed

[2020-03-18 12:22] dmytro-ndp commented on #16229
@nickboldt: can we include fix of [import in Che with TLS](https://issues.redhat.com/browse/CRW-728) in this release: https://github.com/eclipse/che-theia/pull/672 ?

[2020-03-18 13:11] mmorhun commented on #16221
The goal of this issue is to pull all the required images into cluster on which Che should be run without external internet access.

As of now, I see a few ways of achieving that:
 - Try to reuse [our Kubernetes image puller](https://github.com/che-incubator/kubernetes-image-puller). However we cannot just use it, because of several issues. The first one is installation. Kubernetes image puller co

[2020-03-18 13:42] #16354 closed

[2020-03-18 14:50] tolusha commented on #16236
<pre>[16:49:30] tolusha@fractal <font color="#4D9A05">~/projects/chectl/bin</font><font color="#C3A000"> (ab/delete)</font> $ ./run workspace:list -n abazkoche --access-token=$CHE_ACCESS_TOKEN
  <font color="#4D9A05">✔</font> Verify Kubernetes API...OK (it&apos;s OpenShift)
  <font color="#4D9A05">✔</font> Verify if namespace &apos;abazkoche&apos; exists
  <font color="#4D9A05">✔</font> Retrieving

[2020-03-18 15:12] tolusha commented on #16221
I would like to use `#1` . If we miss something let's improve image puller

[2020-03-18 16:16] l0rd commented on #16221
I am for `#1` as well

[2020-03-18 16:34] vparfonov commented on #16042
UPD:
https://github.com/eclipse/che-plugin-broker/pull/98
https://github.com/eclipse/che/pull/16391
Successfully backup source on workspace stop and restore on start, with [container lifecycle event](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/).
On next step will try to use some big projects and permanent storage

[2020-03-18 17:10] azatsarynnyy opened #16392 "Che Theia white-labeling capabilities doesn't work in the previous Chrome versions"
### Describe the bug
Che Theia provides the white-labeling capabilities for branding the downstream products.
The issue is that a product logo is not always shown correctly. Most likely, it depends on the browser.

Chrome 77 ([source](https://issues.redhat.com/browse/CRW-655?focusedCommentId=14001187&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-14001187))

![imag

[2020-03-18 17:11] r9labs commented on #15331
Is there a way to have this utilize the RBAC construct, or at least inherit the token from the kubeconfig file? I'm encountering this issue too

[2020-03-18 17:51] benoitf commented on #16387
It may be related to https://github.com/eclipse/che/issues/16356 but currently I think there are issues with proxies

[2020-03-18 17:53] #5006 closed

[2020-03-18 17:53] #8840 closed

[2020-03-18 17:53] #13153 closed

[2020-03-18 17:53] #13661 closed

[2020-03-18 17:53] #14464 closed

[2020-03-18 17:53] #7641 closed

[2020-03-18 17:53] #9618 closed

[2020-03-18 17:53] #9859 closed

[2020-03-18 17:53] #13155 closed

[2020-03-18 17:53] #13597 closed

[2020-03-18 17:53] #13639 closed

[2020-03-18 17:53] #13849 closed

[2020-03-18 17:53] #13937 closed

[2020-03-18 17:53] #14099 closed

[2020-03-18 17:53] #14190 closed

[2020-03-18 17:53] #14360 closed

[2020-03-18 17:53] #14361 closed

[2020-03-18 17:53] #14367 closed

[2020-03-18 17:53] #14369 closed

[2020-03-18 17:53] #14415 closed

[2020-03-18 17:53] #14434 closed

[2020-03-18 17:53] #14439 closed

[2020-03-18 17:53] #14452 closed

[2020-03-18 17:53] #14454 closed

[2020-03-18 17:53] #14456 closed

[2020-03-18 17:53] #14458 closed

[2020-03-18 17:53] #14459 closed

[2020-03-18 17:53] #14460 closed

[2020-03-18 17:53] #14463 closed

[2020-03-18 17:53] #14466 closed

[2020-03-18 17:53] #14472 closed

[2020-03-18 17:53] #14482 closed

[2020-03-18 17:53] #14491 closed

[2020-03-18 17:53] #14503 closed

[2020-03-18 17:53] #14509 closed

[2020-03-18 17:56] davidfestal commented on #16356
The possible fix mentioned in previous comment has been implemented and tested with the help of @ivinokur and it seems to correctly fix the bug on a disconnected environment cluster with a proxy.
I was able to start a workspace and use a terminal as shown in the screen capture.

![image](https://user-images.githubusercontent.com/686586/76991602-2788e200-694a-11ea-9f4c-51f5adaa15cd.png)

Only remai

[2020-03-18 17:57] davidwindell commented on #5297
/remove-lifecycle stale

[2020-03-18 17:58] davidwindell commented on #5297
`/remove-lifecycle stale`

[2020-03-18 18:22] davidfestal commented on #16387
it seems it's more a plugin broker issue.
But did you add proxy serttings in the `CheCluster` custom resource (if you installed with the operator) ?

[2020-03-18 18:50] ibuziuk commented on #16298
@nickboldt I guess this one can be closed, right?

[2020-03-18 19:30] ibuziuk commented on #16067
@tomgeorge can we close this issue now?

[2020-03-18 19:37] tomgeorge commented on #16067
yeah this can be closed

[2020-03-18 19:38] #16067 closed

[2020-03-18 20:59] davidfestal commented on #16221
Not sure I completely understand the purpose of this issue and how it related to the the work we're currently doing in the context of the support of OpenShift 4.3 restricted environments.

Is the goal to provide an alternate way to load docker images into the disconnected cluster, that would *not* be OpenShift-specific ?

[2020-03-19 02:55] y-anitha commented on #16387
I used chectl to install eclipse che and my setup is on minikube.

[2020-03-19 06:43] tolusha commented on #16228
https://github.com/eclipse/che-operator/pull/202

[2020-03-19 08:16] #16241 closed

[2020-03-19 08:17] ibuziuk commented on #16384
@scela @l0rd @Katka92  the fix has been promoted to production. Could you please verify?
As I understand upstream / CRW are not affected, so not sure if we need to include the jwt-proxy fixup to the 7.9.x cc: @nickboldt

[2020-03-19 08:21] #16392 closed

[2020-03-19 08:26] sleshchenko commented on #16384
It's not needed in case Server and Workspaces share the same domain, but if there is a chance that someone needs different one - like OSIO case, it makes sense to consider and include it.

[2020-03-19 08:40] vzhukovskii opened #16393 "Adapt changes in che-theia to respect changes in upstream theia"
### Is your task related to a problem? Please describe.
A new method was [added](https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/common/plugin-protocol.ts#L711):
[code]
into `PluginDeployerHandler`. [Implementation](https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts#L377) in che-theia should implemen

[2020-03-19 08:41] mmorhun commented on #16221
Generally, image puller wasn't designed for offline mode, so maybe we should go another way (if it is suitable for us in terms of quality and time). So, to me the registry way sounds good, but we have to support it in case of Kubernetes as well (which I think shouldn't be a problem, but I haven't done any investigations yet).

[2020-03-19 08:48] ibuziuk commented on #16384
AFAIK, this config is not possible for upstream / CRW case

[2020-03-19 09:19] sleshchenko opened #16395 "Set up happy path test to be run on workspace-loader PRs"
### Is your task related to a problem? Please describe.
Workspace loader is moved to a separate repo where there is no happy path test as PR check, for example https://github.com/eclipse/che-workspace-loader/pull/4.

But Happy Path scenario includes using it, chectl provide link that will open Dashboard with workspace loader as iframe...
P.S. From time to time workspace-loader PR depends on change

[2020-03-19 09:31] dmytro-ndp commented on #16395
@sleshchenko: thank you for an idea!
Which command should we use to build workspace-loader artifact?

[2020-03-19 09:41] mkuznyetsov commented on #16229
waiting for QE to proceed with RC testing

[2020-03-19 09:58] dmytro-ndp commented on #16395
@davidfestal, @tolusha: installation of Multiuse User Eclipse Che 7.9.2.RC on minikube 1.1.1 using chectl:next and che-operator:nightly [had failed](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/1374/console).

Could you, please, say which version of **chectl** and **che-operator** we should use to check installation of Ecl

[2020-03-19 10:01] dmytro-ndp commented on #16229
@davidfestal, @tolusha: installation of Multiuse User Eclipse Che 7.9.2.RC on minikube 1.1.1 using chectl:next and che-operator:nightly [had failed](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/1374/console).

Could you, please, say which version of **chectl** and **che-operator** we should use to check installation of Ecl

[2020-03-19 10:21] tsmaeder commented on #14467
I still don't think we need multiple versions of the installer, or at least not different technologies.

[2020-03-19 10:48] filipkroupa opened #16396 "Unable to start Che by chectl with default TLS - keycloak certificate could not be validated"
### Describe the bug
After default TLS was added to chectl, I'm unable to start Che. All pods start, but Che pod is stuck in infinite restart loop. Logs reveal

### Che version

 - [ ] latest
 - [X] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Start Che using `chectl server:start --multiuser --platform=minikube`
2. Wait till startup fails - che pod never gets ready

3. Che pods

[2020-03-19 10:50] vitaliy-guliy opened #16397 "Use new 1.14.3 version of buildah for kubernetes plugin"
### Is your task related to a problem? Please describe.

There is a new v1.14.13 buildah image on the quay.io which has important fixes.
https://quay.io/repository/buildah/stable?tag=latest&tab=tags

We need to use it in kubernetes plugin 1.1.0
https://github.com/che-dockerfiles/che-sidecar-kubernetes-tooling/tree/1.1.0

[2020-03-19 11:02] l0rd commented on #16221
@davidfestal the goal is offline rather then air gapped (think about using Che on your laptop when you are on an airplane). And we want to support it on generic Kubernetes cluster (including minikube, kind, crc etc...).

@mmorhun image puller allows to download the images locally and that has 2 benefits: faster workspace bootstrapping and resiliency in case of bad/absent network connectivity. In t

[2020-03-19 11:43] sleshchenko commented on #16395
@dmytro-ndp I believe similar to Che Server, something like `mvn clean install -Pnative`

[2020-03-19 11:51] Katka92 commented on #16384
@ibuziuk I can't reproduce it on production. :)

[2020-03-19 11:57] vitaliy-guliy opened #16398 "Increase amount of user namespaces on che.openshift.io fo be able to build images with buildah"
### Describe the bug

Buildah require some amount of user namespaces to be allowed in the system.

https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md#enable-user-namespaces-on-rhel7-machines

On [che.openshift.io](che.openshift.io) it set to 0 (zero).

![Screenshot from 2020-03-19 13-12-42](https://user-images.githubusercontent.com/1655894/77064529-4d64c400-69e8-1

[2020-03-19 11:59] #16245 closed

[2020-03-19 12:09] olexii4 commented on #16232
@kellyhyomin  I cannot reproduce it with CHE 7.11.0. I am sure we already fixed it. Just try CHE 7.11.0

[2020-03-19 13:32] sleshchenko opened #16400 "Workspace reached timeout instead of early failure when there is exited container"
### Describe the bug
This case was already covered in the scope of https://github.com/eclipse/che/pull/15449 but seems it's broken now.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create a workspace with the following Devfile:
<defails>
<summary>Devfile</summary>

[code]
</defails>
2. Start the workspace and wait until it reaches timeout

[2020-03-19 13:38] mmorhun commented on #16396
@filipkroupa you missed `--self-signed-cert` flag while deploying Che (well, I guest you don't have real certificate for minikube).
Could you please redeploy Che with that flag on?

[2020-03-19 13:43] davidwindell commented on #14698
@skabashnyuk don't forget the jwt-proxy in that list :)

[2020-03-19 13:50] mmorhun commented on #15069
@schwingkopf I think that the bug is fixed now. Could you try to run please:
[code]
and say if it works for you?

[2020-03-19 14:16] nickboldt commented on #16229
Have you tried 7.9.1?

[2020-03-19 14:23] triceam opened #16401 "Importing devfile with private repo fails"
### Description
Attempting to import a defile that contains a reference to a private git repo (that has not been previously configured with an access token) ends up in a bad state, leaving the user with an empty workspace, and no clear way to edit the project that the user intended.

For example, here I am importing a devfile using the url query paramter, and that defile has a project reference th

[2020-03-19 14:23] dmytro-ndp commented on #16229
I can try with che-operator:7.9.1.
The problem is the next fixup are in https://github.com/eclipse/che-operator/commits/7.9.x branch, so we can't check it with che-operator:7.9.1:
- In disconnected environment, OpenShift OAuth cannot be activated https://issues.redhat.com/browse/CRW-709 (nearly done, ETA Wed)
- When installed on OS 4.3 restricted environments, devfile registry public URL is not se

[2020-03-19 14:25] triceam commented on #16401
From a previous Slack conversation with @l0rd, these may be related, but will require validation:

[2020-03-19 14:31] nickboldt commented on #16229
Sure but you also can't check it with the 7.10 or 7.11 operator either :D

[2020-03-19 14:33] davidfestal commented on #16229
For now you can use quay.io/dfestal/che-operator:fix-devfile-registry-public-url
It is based on 7.9.x + my fixes that I added on the 7.9.x.

But I assume that if you need to continuously test the bits of the `7.9.x` branch we should have a CI that produces docker images from here.

[2020-03-19 14:33] dmytro-ndp commented on #16229
That is why we need to have che-operator:7.9.2 image, and chectl:7.9.2 which will be used to generate crwctl for CRW 2.1.0.

[2020-03-19 14:35] filipkroupa commented on #16396
@mmorhun Hi, I tried to redeploy with the flag
`chectl server:start --multiuser --platform=minikube --self-signed-cert`
but with little luck. The behavior stays the same, che pod won't get ready. What has changed is the exception I'm getting:

Is there a reason why there are special flags necessary since the TLS was made default? No TLS related flag is marked as _required_. The usage for [chectl](

[2020-03-19 14:53] benoitf opened #16402 "Unable to clone private projects specified in devfile with login/password"
### Describe the bug
In the devfile I can specify projects and these projects can be private projects.

For example let's take https://bitbucket.org/f-benoit/my-private-repository.git as an example.
It's a private repository and I can enter in a devfile

[code]

the issue is that when the IDE is being loading, I can see the following error

Couldn't clone https://bitbucket.org/f-benoit/my-private-

[2020-03-19 15:00] dmytro-ndp commented on #16395
@sleshchenko: thank you!

[2020-03-19 15:03] mmorhun commented on #16396
@filipkroupa sorry I wasn't clear enough. I supposed that you are following [the doc](https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-kubernetes_setup-che-in-tls-mode-with-self-signed-certificate).

[2020-03-19 15:17] filipkroupa commented on #16396
@mmorhun Oh I see now what you mean. I never needed TLS, so I did not know about any prerequisites. I guess I just assumed since TLS was made default it is internally doing everything. So, is there a way to not use TLS? Because I've looked at the guide and this creates a lot of unnecessary overhead, I don't really need https in my dev/test environment.

[2020-03-19 15:41] #16236 closed

[2020-03-19 16:03] nickboldt commented on #16229
Are you suggesting that we should revise the release process so that @tolusha will release the operator and chectl BEFORE che server 7.9.2 is live?

Would that work?

[2020-03-19 16:04] dmytro-ndp commented on #16229
Yes - it would be perfect!

[2020-03-19 16:08] mkuznyetsov commented on #16229
while david provided newer che-operator, here is how you could build newest chectl:

git clone https://github.com/che-incubator/chectl
cd chectl && git checkout 7.9.x
yarn

use compiled binaries from "bin" directory

[2020-03-19 16:19] mmorhun commented on #16396
@filipkroupa it is still possible, but not recommended, thought. One of the reasons is that some Theia functionality doesn't work properly without TLS.
So, to disable it, you should provide patch to Che custom resource:
[code]
[code]

P.S. Thank you for pointing out to misleading tls flag description. I'll update it.

[2020-03-19 16:19] rhopp commented on #16395
Isn't workspace-loader bundled together with che-server&dashboard in one image? For this to work we need to have mechanism how to create the whole image to test.
Can your team help with this? Or can you at least point us to the place, where this assembly is happening (for example for nightly builds?)

[2020-03-19 16:39] dmytro-ndp opened #16403 "E2E Happy path tests failed because unexpected alert opened during Java LS initialization"
### Describe the bug
E2E Happy path tests failed being run against Single User Eclipse Che with TLS support on minikube 1.1.1 because unexpected alert with unknown text opened during Java LS initialization: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/1055/console
[code]

Workspace

[2020-03-19 16:40] dmytro-ndp commented on #16395
@rhopp: we can reuse [existed Eclipse Che Happy path tests PR check pipeline](https://github.com/eclipse/che/blob/master/tests/.infra/crw-ci/pr-check/k8s/Jenkinsfile) with simple modification for this propose:
1) build workspace loader artifact on slave
2) build eclipse che from master or from issue branch on the same slave
3) push che-server to maxura repo
4) ...

[2020-03-19 16:47] nickboldt commented on #16298
Dude. If you see an issue is done, just close it.

[2020-03-19 16:47] #16298 closed

[2020-03-19 16:51] #16393 closed

[2020-03-19 16:54] #16228 closed

[2020-03-19 16:54] olexii4 opened #16404 "Add a possibility to set product version from the product.json"
### Is your task related to a problem? Please describe.

We have a lot of problem with poaching when trying to set the custom version of the product:
like this one https://issues.redhat.com/browse/CRW-673.
And we steel patching the UD code and it is not a good way to solve the problem

### Describe the solution you'd like

Extend the existing code to read a custom product version from the **produc

[2020-03-19 16:55] nickboldt commented on #16045
What's left to do here, @mkuznyetsov ? please list remaining TODOs so we can track 'em.

[2020-03-19 17:03] rhopp commented on #16246
Done in https://github.com/eclipse/che/pull/16297

[2020-03-19 17:03] #16246 closed

[2020-03-19 17:10] rhopp commented on #16395
Please... No `maxura` repo. I don't get how come we didn't move from there yet :-D

@sleshchenko Can't we just create new dockerfile, which would use nightly che-server image and just replace the artifact in tomcat deployment folder? I would like to avoid building whole che again...

[2020-03-19 17:17] mkuznyetsov commented on #16045
I'm making some fixes rn to the script, as some parts of it didn't really work with the "bugfix" release usecase (like upgrading image tags), should be done by tomorrow in eclipse/che PR

[2020-03-19 17:34] davidfestal commented on #16229
we don't need the che-server maven artifacts to release che-operator and chectl
We do need the che-server docker images though (at least to test the released bits, which we do during the release)

[2020-03-19 18:12] dmytro-ndp commented on #16229
It's okay to have hardcoded `che-server:7.9.2`, `che-keycloak:7.9.2` in `che-operator:7.9.2` for pre-release testing so that we replacing existed tags with `rc` when installing Che by using custom-resource.yaml

[2020-03-19 18:25] dmytro-ndp commented on #16395
@rhopp: well - if it will be done on ci.centos - we will be able to push che-server image to `quay.io/eclipse/che-server:${pr_id}`
Anyway, we require to push patched che-server image somewhere for the sake of installation.
And one of requested cases doesn't allow to you `che-server:nightly`:

workspace loader#CHE-16050
Che#CHE-16050 <- depending on the build result of workspace loader

[2020-03-19 18:27] dmytro-ndp commented on #16395
@rhopp: if you don't like maxura repo, let's move of Happy path Eclipse Che PR check from CRW CCI to ci.centos ASAP.

[2020-03-19 18:33] dmytro-ndp opened #16407 "Move Eclipse Che / Che-Theia Happy path PR check jobs from CRW CCI to Centos CI"
### Is your task related to a problem? Please describe.
There are Happy path PR check jobs on CRW CCI which require access to RH VPN to see results and so not available for community.

### Describe the solution you'd like
Move next Happy path PR check jobs to ci.centos:
- [Eclipse Che PR Happy path tests](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K

[2020-03-19 18:51] #16250 closed

[2020-03-19 20:16] davidfestal commented on #16356
Main bug will be fixed by PR https://github.com/eclipse/che-workspace-client/pull/28 as soon as the built MPN package is updated in `che-theia`.

[2020-03-19 21:32] dmytro-ndp commented on #16229
@mkuznyetsov: we can't build chectl from https://github.com/che-incubator/chectl/commits/7.9.x on CRW CCI because there is too old node version:
[code]

Also I don't see significant changes compare to [chectl:7.9.1](https://github.com/che-incubator/chectl/releases/tag/20200309102927) in https://github.com/che-incubator/chectl/commits/7.9.x. So, IMHO, we can use [chectl:7.9.1](https://github.com/ch

[2020-03-19 22:19] dmytro-ndp commented on #16229
@davidfestal, @nickboldt: Eclipse Che 7.9.2.RC installation failed because the was `tlsSupport: true` set in https://github.com/eclipse/che-operator/blob/7.9.x/deploy/crds/org_v1_che_cr.yaml#L40.
It was unexpected, because there was no such changes in release issue description.

[2020-03-19 23:19] l0rd commented on #16401
cc @benoitf

[2020-03-19 23:34] l0rd commented on #16384
@ibuziuk problem fixed for me as well.

[2020-03-20 00:28] l0rd commented on #14511
@amisevsk we definitely need to address this issue. I am not sure how we could address that in the new spec though. I would rather consider it an implementation issue.

[2020-03-20 02:30] TheRealChssAddct opened #16408 "microk8s just broke chectl -p microk8s"
Microk8s team decided to 'pretty up' the output of microk8s.status. It released today (2020-03-19) on the latest/edge channel with v1.17.4 rev: 1278.

The PR is here: [here](https://github.com/ubuntu/microk8s/pull/876)

Their changes break the ingress and storage enabled checks in chectl/src/tasks/platforms/microk8s.ts lines 112 and 113.
[code]

With their change it is less simple to get the array

[2020-03-20 03:24] gattytto commented on #16408
it's:
/usr/local/lib/chectl/templates/che-operator/crds/org_v1_che_cr.yaml

tlsSupport comes on by default with selfSignedCerts: false as default, error prone.

To fix change tlsSupport to false

[2020-03-20 03:34] gattytto opened #16409 "incubator/crd.yaml tlsSupport:true by default breaks server:start in minikube"
changes introduced in latest versions of chectl the file:
/usr/local/lib/chectl/templates/che-operator/crds/org_v1_che_cr.yaml
set the following default:
[code]

while the comment above tlsSupport instates:
[code]

after issuing "chectl server:start -m -p minikube" to start a new che, che-server breaks on startup because of:
[code]

[2020-03-20 06:59] Katka92 commented on #16403
It seems that due to workaround, the test is trying to refresh the page. At this moment, pop-up shows up asking for confirmation to leave the page. That should be fixed by setting preferences before the test run - which seems to be broken.

[2020-03-20 07:15] dmytro-ndp commented on #16395
@mkuznyetsov, @nickboldt, @davidfestal:
We have managed to run E2E tests against Eclipse Che 7.9.2.RC:
- quay.io/eclipse/che-server:rc
- quay.io/eclipse/che-keycloak:rc
- quay.io/eclipse/che-theia:7.9.2
- quay.io/eclipse/che-theia-endpoint-runtime-binary:7.9.2
- quay.io/eclipse/che-devfile-registry:7.9.2
- quay.io/eclipse/che-plugin-registry:7.9.2
- quay.io/eclipse/che-plugin-artifacts-broker:v3.1

[2020-03-20 07:37] dmytro-ndp commented on #16403
The issue has affected Eclipse Che E2E nightly tests https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/nightly/job/MultiUser-Che-nightly-check-e2e-tests-against-k8s/179/

[2020-03-20 07:45] dmytro-ndp commented on #14944
It has been reproduced in Eclipse Che 7.11.0-SNAPSHOT:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/1384/consoleFull
[code]

[2020-03-20 07:45] tolusha commented on #16402
@benoitf
duplicates https://github.com/eclipse/che/issues/16401 ?

[2020-03-20 07:50] benoitf commented on #16402
yes the same

[2020-03-20 07:57] mmorhun commented on #16409
@gattytto could you please provide step by step flow how you tried to deploy Che. Also full logs attached increases chances of problem understanding.

[2020-03-20 08:04] dmytro-ndp commented on #16229
@mkuznyetsov, @nickboldt, @davidfestal:
We have managed to run E2E tests against Eclipse Che 7.9.2.RC:
- quay.io/eclipse/che-server:rc
- quay.io/eclipse/che-keycloak:rc
- quay.io/eclipse/che-theia:7.9.2
- quay.io/eclipse/che-theia-endpoint-runtime-binary:7.9.2
- quay.io/eclipse/che-devfile-registry:7.9.2
- quay.io/eclipse/che-plugin-registry:7.9.2
- quay.io/eclipse/che-plugin-artifacts-broker:v3.1

[2020-03-20 08:13] #16402 closed

[2020-03-20 08:17] tolusha commented on #16408
@TheRealChssAddct
Thank you for reporting

[2020-03-20 08:19] tolusha commented on #16409
Duplicates
https://github.com/eclipse/che/issues/16396 ?

[2020-03-20 08:22] tolusha commented on #16396
@mmorhun
In context of this issue it is needed to improve pre-flight chects if case of `--tls` flag

[2020-03-20 08:23] #16409 closed

[2020-03-20 08:59] scela commented on #16384
I can not reproduce the issue anymore.

[2020-03-20 09:01] skabashnyuk commented on #16045
FYI. New repositories has been added.
 - https://github.com/eclipse/che-workspace-loader
- https://github.com/eclipse/che-dashboard

[2020-03-20 09:04] ibuziuk commented on #16384
thanks, so we just need to decide if backport to 7.9.x is needed and close the issue afterward

[2020-03-20 09:35] mgiammarco opened #16410 "Che on microk8s: Failed to load devfiles meta list."
Hello,
I have just installed Eclipse Che on microk8s.
Installation finished without errors.
Web interface works.
But when I go in "get started" I get an error "failed to load devfiles meta list" and I then have no templates and I cannot proceed.
I have entered in pod shell and checked internet connection: all is good.
What can I do now?
Thanks,
Mario

[2020-03-20 09:42] svor commented on #14944
could you provide logs from java-plugin container?

[2020-03-20 09:55] dmytro-ndp commented on #14944
@svor: [here it is](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/1384/artifact/logs-and-configs/workspace-logs/vscode-javapq5.container.log):
[code]

[2020-03-20 10:45] #16404 closed

[2020-03-20 10:46] filipkroupa commented on #16396
@mmorhun I've followed the guide you provided and it works with https for me now, thank you. I have one note regarding the guide: In importing certificates into Chrome browser, provided address `chrome://settings/certificates` opens just blank page for me and my colleagues. I don't know if this is because of Chrome version or possibly our company-managed browsers. Anyway, we need to import the cer

[2020-03-20 10:51] mmorhun commented on #16396
@filipkroupa I've just tried to open `chrome://settings/certificates` url and it worked for me. However I always get there manually as you described.

[2020-03-20 11:27] #16050 closed

[2020-03-20 11:42] #16206 closed

[2020-03-20 12:09] tolusha commented on #16410
@mgiammarco
How did you install Eclipse Che? Do you have any logs?

[2020-03-20 12:10] dmytro-ndp commented on #14944
@svor: issue has been reproduced both with TLS enabled and disabled.

[2020-03-20 12:26] sunix commented on #8286
Still in progress, @Rijul5 is going to show us his progress during the next community call

[2020-03-20 12:38] tolusha commented on #14175
duplicate
https://github.com/eclipse/che/issues/16280

[2020-03-20 12:38] #14175 closed

[2020-03-20 12:41] sunix commented on #16243
hi could we try to go into that direction ? https://github.com/eclipse/che/issues/14680

[2020-03-20 12:43] tolusha commented on #14776
It is possible to specific proxy settings directly into CR [1] file and use it with `--che-operator-cr-yaml` flag.

`chectl server:start .... --che-operator-cr-yaml=<PATH_TO_CR_YAML>`

[1]  https://github.com/eclipse/che-operator/blob/master/deploy/crds/org_v1_che_cr.yaml

[2020-03-20 12:43] #14776 closed

[2020-03-20 12:44] dmytro-ndp commented on #14944
@svor: this time the issue was caused by changes in PR https://github.com/eclipse/che-theia/pull/676

[2020-03-20 13:05] svor commented on #14944
this issue is not about Java LS. The problem is about It is about plugin-remote-endpoint . If execute  `bash-5.0$ ./remote-endpoint/plugin-remote-endpoint` in some container which provides remote plugin it returns
[code]

[2020-03-20 13:08] tolusha commented on #14179
Can't reproduce anymore

[2020-03-20 13:08] #14179 closed

[2020-03-20 13:37] mingfang commented on #16364
@kellyhyomin Can you please tell me how you fix this?

[2020-03-20 14:04] #16150 closed

[2020-03-20 14:04] dmytro-ndp commented on #16229
Happy path tests, Vert.x, Java Maven and Python devfile tests against Multiuser Eclipse Che 7.9.2.RC on minikube 1.1.1 have passed successfully: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/pre-release/job/MultiUser-Che-release-check-e2e-tests-against-k8s/50/

[2020-03-20 14:23] tolusha commented on #16244
Works with `chectl 7.10`

[2020-03-20 14:23] #16244 closed

[2020-03-20 14:26] vparfonov commented on #16042
### Time for backup/restore with real projects on Container file system
#### Prerequisite

- Lenovo ThinkPad P50
- minishift v1.34.2+83ebaab
- `minishift start --cpus 4 --memory 16384 --vm-driver=virtualbox`

#### Cases:

1. Start empty workspace.
- clone Eclipse Che
- checkout 7.10.0
- build (will keep built artifacts to restore it)

|     |     |
| --- | --- |
| `find /projects -type f \| wc -l

[2020-03-20 14:28] azatsarynnyy opened #16412 "Che Theia remote plugins aren't started"
### Describe the bug

When starting `plugin-remote-endpoint` binary in a plugin sidecar an error message is reported:
[code]

Most likely, it's related to the latest Theia upstream changes https://github.com/eclipse-theia/theia/pull/6655/files

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] che-theia:next

### Steps to reproduce
Start any remote plugin and see the logs in a sidecar.

[2020-03-20 14:32] dmytro-ndp commented on #16229
GitHub integration tests have passed as well.

[2020-03-20 14:41] #14864 closed

[2020-03-20 14:42] #14909 closed

[2020-03-20 14:47] #16314 closed

[2020-03-20 14:51] vinokurig commented on #16199
Currently I am stuck on getting the openshift endpoint url by `k8s` api. I need it to pass the env variables to che server. @benoitf @davidfestal any ideas?

[2020-03-20 15:48] sunix commented on #12709
100% agree with @tsmaeder
- we should not have any tasks.json any where to store Che commands, It is too confusing for the end users.
- @davidwindell devfile.yaml stored in the project should work. We could have commands (or automated triggers) to synch that with the devfile (workspace config)

[2020-03-20 15:52] dmytro-ndp commented on #16229
It was decided to create Eclipse Che 9.7.2.RC2 with the next fix inside:
- Add a possibility to set product version from the product.json (PR: https://github.com/eclipse/che/pull/16406, issue: https://issues.redhat.com/browse/CRW-673)

[2020-03-20 16:23] mgiammarco commented on #16410
Hello,
I gave the standard command:

chectl server:start --platform=microk8s --installer=helm

I have seen output on console. I have read it it was ok. No file log.

[2020-03-20 17:41] ibuziuk commented on #16398
Not sure if this value is configurable for oso clusters we use

[2020-03-20 17:45] sunix commented on #14550
another clean fix: https://github.com/eclipse/che/issues/15540

[2020-03-20 17:55] gattytto commented on #16409
just emptied out /usr/local/lib/chectl and deleted /usr/local/bin/chectl
went to incubator/chectl git page and ran the :next "bash" install method pointed out there.

then it downloads all the yamls again and puts the chectl binary in place, then run it using:
"chectl server:start -m -p minikube".

as mentioned, those 2 settings come by default in the crd.yaml file downloaded by the script. Switch

[2020-03-20 18:03] sunix commented on #16377
Take the example of a big project ... like Che:
you have
- the platform team
- the deploy team
- the plugin team
etc...
and they all share the same devfile registry. For all the git project they are owning, there are different permission policy: reviewers/commiters roles are different from one git repo to another.

But if you share the same one for devfile registry git how do you deal with all the

[2020-03-20 18:05] dmytro-ndp commented on #16229
Current result against Multiuser Eclipse Che 7.9.2.RC2 without TLS support:
- Java selenium tests passed on minishift 3.11 https://ci.centos.org/view/Devtools/job/devtools-che-rc-multiuser-integration-tests/28/
- OS OAuth integration tests passed on minishift 3.11 https://ci.centos.org/view/Devtools/job/devtools-che-rc-ocp-oauth-test/29/
- Rolling update tests passed on minishift 3.11 https://ci.c

[2020-03-20 19:12] #16412 closed

[2020-03-20 19:16] ktsakalozos commented on #16408
@tolusha @TheRealChssAddct we have taken corrective action in MicroK8s in order not to change the CLI and output format. The PR with the fix is merged and the edge channel should be updated within a few hours. Thank you for reporting this, apologies for any inconvenience.

[2020-03-20 22:14] tomgeorge opened #16413 "che-theia-all.devfile.yaml fails when running build ... DEV che-theia"
### Describe the bug

1. Create a new workspace
2. import devfile https://raw.githubusercontent.com/eclipse/che-theia/master/devfiles/che-theia-all.devfile.yaml
3. When the workspace starts, run init ... DEV che-theia
4. run build ... DEV che-theia

The build step will fail at the `yarn` step in build.

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.9.1 che.openshift.io

### Steps t

[2020-03-20 22:41] tomgeorge commented on #16221
If you could, say, run the kubernetes image puller in a non-restricted environment, and then lock down your network, this would be super easy to do.  So for an offline cluster:

1. cluster is provisioned (it has internet connectivity at this point)
2. run the puller/puller operator, setting the images to be pulled
3. disconnect from the internet

If it is as @davidfestal was suggesting, and this w

[2020-03-21 02:10] gattytto commented on #16283
@ibuziuk I have edited my previous comment with a mention to you.

Can this be checked?

[2020-03-21 05:02] gnoejuan opened #16414 "Help accessing Eclipse Che with Minikube and KVM on external machine"
## Summary
_______________________
### tl;dr
![6HbM5xCD](https://user-images.githubusercontent.com/4656027/77218244-57c1b380-6af7-11ea-8720-ac49d68c57bd.jpg)

This is my setup, what is the proper way of using Minikube (for KVM acceleration)? Or perhaps is Minikube the wrong approach? Should I deploy a different solution for k8s? I'm open to installing a new operating system on the k8s machine (suc

[2020-03-21 06:05] #14944 closed

[2020-03-21 06:06] dmytro-ndp commented on #16403
Not a blocker after https://github.com/eclipse/che/issues/14944 has been fixed.

[2020-03-21 06:21] TheRealChssAddct commented on #16408
Problem resolved by microk8s team.

[2020-03-21 07:13] gnoejuan commented on #16410
I also encountered this while trying to install on my laptop. **After** receiving help here :https://github.com/eclipse/che/issues/16048

[2020-03-21 08:12] ibuziuk commented on #16322
PR for staging update - https://github.com/redhat-developer/rh-che/pull/1840

[2020-03-21 08:58] tolusha commented on #16408
@ktsakalozos Cool, thank you!

[2020-03-21 10:16] tolusha opened #16415 "[chectl] Add `server:login` command"
### Is your task related to a problem? Please describe.
In multi-user installation every chectl commands require access-token.
It is better to get it once, store it and use.

### Describe the solution you'd like
Add `server:login` command to login into Eclipse Che, retrieve token as store it.

[2020-03-21 10:17] tolusha commented on #13881
I don't think it is relevant anymore.
It is possible to deploy Che on minishift using operator.

[2020-03-21 10:17] #13881 closed

[2020-03-21 13:04] tolusha commented on #15433
Closed in favor of https://github.com/eclipse/che/issues/15481

[2020-03-21 13:04] #15433 closed

[2020-03-21 14:23] tolusha commented on #14374
Feel free to open if

[2020-03-21 14:23] #14374 closed

[2020-03-21 14:57] tolusha opened #16416 "[chectl] Simplify the way of overriding default values"
### Is your task related to a problem? Please describe.
If user wants to deploy Eclipse Che without tls then he should create a patch file for CR and use it with option `--che-operator-cr-patch-yaml`, it includes:
- copying CR template
- modifying values
- removing unnecessary fields
that's tedious and not a user friendly.

### Describe the solution you'd like
Create a set of commands to automate

[2020-03-21 15:54] ultrafab opened #16417 "How to run Che on Openshift 3.11 in a local network"
After reading:
https://github.com/eclipse/che/issues/16280
i still was unable to start eclipse, using:

`chectl server:start -n=che --platform=openshift --installer=operator --tls --self-signed-cert --che-operator-cr-patch-yaml=./patch.yaml`

Inside `patch.yaml`
[code]
From log the error is:

`Exception while retrieving OpenId configuration from endpoint: https://keycloak-che.192.168.69.245.nip.io

[2020-03-22 02:03] nickboldt commented on #16229
Che 7.9.2 server and docs are live in quay and maven central. ~ 11pm EST Mar 20.

[2020-03-22 09:17] skabashnyuk opened #16418 "User reports that Che workspace that entered 'timeout' does not always restart on first attempt"
### Describe the bug
After failed attempt users has to restart che workspace several times.
### Che version
 - [X] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Workspace fail to start like this https://github.com/eclipse/che/issues/15906
2. Re-Start workspace fails
3. The second attempt successful.

### Expected behavior
1. Restart should be successful with the fir

[2020-03-22 10:37] tolusha commented on #14252
Can't reproduce it.
chectl 7.10.0

[2020-03-22 10:37] #14252 closed

[2020-03-22 10:46] tolusha commented on #14470
Can't reproduce

[2020-03-22 10:46] #14470 closed

[2020-03-22 11:11] tolusha commented on #14344
https://github.com/eclipse/che/issues/14874

[2020-03-22 22:27] twolastnames commented on #16410
I have the same problem.

Also, if I try to start a container I've made custom, I get the errors:
Failed to load editors.
Failed to load plugins.

Is there a container serving the user HTML that's not getting data from behind it?  I'm not trying to hijack this issue, but I may have gotten further in it into it.

[2020-03-22 22:49] azatsarynnyy commented on #16359
The latest version of `@eclipse-che/theia-generator` package has been updated on https://www.npmjs.com/package/@eclipse-che/theia-generator.
@cenkce please try and let us know if you have any problems with it.

[2020-03-22 22:55] l0rd commented on #16377
The devfile registry is for sample stacks, not as a registry of teams projects (in those cases the devfile lives in the repository root folder).
And anyway, in the hypothetical case that different teams are responsible for different sample stacks, the `OWNERS` file you let you specify distinct ownership, even with a single GitHub repository.

[2020-03-22 23:07] l0rd commented on #16221
@tomgeorge: no that's not about restricted, that's about offline (no container registry available). Beyond pre-pulling the images we need to configure other things as the `ImagePullPolicy` that defaults to `Always` for [most](https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L121) (all?) of the Che images (server side and w

[2020-03-23 06:07] tolusha commented on #16229
`che-operator` and `chectl` released.

[2020-03-23 07:35] tolusha commented on #16410
That would be nice if someone provide PR

[2020-03-23 07:37] tolusha commented on #16409
@gattytto
We are working on providing clearer steps how to use tls

[2020-03-23 08:31] sleshchenko commented on #16410
@mgiammarco Are you able to check why plugin/devfile registry is not accessible from your browser... Three options to do it:
1. `kubectl get ingress -n che`, find needed URL and check what is actual error in browser.
2. `kubectl get configmap che -n che | grep URL`, find plugin or devfile registry URL and try to open it in browser.
3. Open Developers tools in chrome, refresh Che dashboard, click e

[2020-03-23 08:34] sleshchenko commented on #16417
@ultrafab
[code]

Could you share more? It's only error but the whole stack trace could also contain a cause of it, like missing SAN in cert,...

[2020-03-23 08:42] sleshchenko commented on #16415
Also, please consider the ability to have different contexts, like kubectl, oc have.
For example,
[code]

[2020-03-23 08:51] sleshchenko commented on #16395
I believe we can't. At least in 100% cases. As I described in the issue description, there can be a cases when workspace-loader, dashboard and che repos could have depending PRs...
But in case depending PR is not found - we rebuild in Che repo only that modules which update workspace-loader, like `mvn clean install -pl assembly-main`...

[2020-03-23 08:53] azatsarynnyy commented on #15887
Fixed in https://github.com/eclipse/che-theia/pull/679

[2020-03-23 08:53] #15887 closed

[2020-03-23 08:56] ibuziuk commented on #16413
@vitaliy-guliy I know https://github.com/eclipse/che-theia/pull/627 is merged now. Could you please take a look at this issue (I suspect that this could have been already addressed)

[2020-03-23 09:02] kellyhyomin opened #16422 "Can't access to port 22 from theia."
## Summary

My custom devfile.yaml is below.
[code]
When creating a workspace with the stack, the mysql container 3306 port can be connected from theia terminal.
However, I cannot connect to the ssh-test-container port 22.
I want to access port 22 from theia. How can i solve this problem?

### Che version
7.4.0

### Screenshots

### Installation method
helm

### Environment
Amazon EKS

## Relevant

[2020-03-23 09:07] ibuziuk commented on #16422
@kellyhyomin are you exposing port 22 on in the `popcornsar/ssh-custom-image` ?

[2020-03-23 09:10] ultrafab commented on #16417
Hello @sleshchenko

The only exception in the log file is:

[code]
And it's repeated about 40 times, once for every try to read from keycloack.
The other log files are clean.
Which kind of insight i can provide?

[2020-03-23 09:10] sunix commented on #16377
What if teams are using Bitbucket and not Github? there is no such `OWNERS` things ...

If devfile registry is just for sample stacks, why do we make it such a big piece of our architecture. Why do we allow teams to provide their own devfile registry? Che should be the `Next-Generation IDE for developer teams` so the devfile registries should be for team projects as soon as they are used by develo

[2020-03-23 09:16] sleshchenko opened #16423 "It's not possible to update chectl from next channel anymore"
### Describe the bug
It is not possible to update chectl from next channel anymore.
Not sure if it's only me who can reproduce it:

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. chectl update next
2. chectl version

### Expected behavior
chectl is updated from next channel

### Actual behavior
chectl is updated from next channel but then inst

[2020-03-23 09:24] kellyhyomin commented on #16422
@ibuziuk
Yes. We exposed port 22 in the image.

[2020-03-23 09:25] kellyhyomin commented on #16364
@mingfang
1. In the github page
- https://developer.github.com/apps/building-oauth-apps/creating-an-oauth-app/
- Homepage URL, Application description -> Che IP
- The Redirect URI field, copy the Redirect URI from the Keycloak github identity provider window and paste them.

2. For multi-user Che
- Go to the keycloak page
- Login as admin
- Click Identity Providers.
- In the Add provider drop-down

[2020-03-23 09:26] ibuziuk commented on #11238
PR sent - https://github.com/eclipse/che/pull/16424

[2020-03-23 09:31] ibuziuk commented on #16422
@kellyhyomin could you please point to the dockerfile?

[2020-03-23 09:36] sleshchenko commented on #16000
I faced the same issue and confirmation in my case does not help at all. I wanted to delete my Che Server but was not expecting that I won't be redeployed it anymore... I believe the situation with a finalizer that hangs forever should be investigated more.

helps me to fix OpenShift instance, but it's only I know about it for most of users it's not clear at all

[2020-03-23 09:47] ibuziuk commented on #16322
PRs for Hosted Che update:
- https://github.com/openshiftio/saas-openshiftio/pull/1398
- https://github.com/openshiftio/saas-openshiftio/pull/1397
- https://github.com/openshiftio/saas-openshiftio/pull/1396

[2020-03-23 09:53] kellyhyomin commented on #16422
@ibuziuk

Thank you for your help.
Do I just need EXPOSE 22 in the Dockerfile?

[2020-03-23 09:58] ibuziuk commented on #16422
well, if the port is not exposed on the image level, it will not be accessible for sure.

[2020-03-23 10:08] kellyhyomin commented on #16422
@ibuziuk
Port 22 is set to EXPOSE.
Our Dockerfile works fine when run with docker.
I cannot connect to 22 only when I run it with devfile.yaml.
I wonder if I need any other settings.

[2020-03-23 10:09] ibuziuk commented on #16422
@skabashnyuk any comments^ ?

[2020-03-23 11:03] sleshchenko commented on #16417
@ultrafab  You already provided needed log entry, it's:

For some reason, keycloak-che.192.168.69.245.nip.io is not available from Che container... I don't see how it's related to TLS and self-signed cert, for me it seems that you have some DNS configuration issues on your OpenShift 3.11

[2020-03-23 11:19] ultrafab commented on #16417
Thank you! The URL is working locally, trying to use WGET i got a response, but i've to use the "--no-check-certificate", so i tought was something related.

[code]

I'll try to better check for a DNS issue. Anyway, could you provide me any hint, i'm quite new with Openshift.

[2020-03-23 11:58] olexii4 commented on #16232
@kellyhyomin  It seems fixed a long time ago - [fix](https://github.com/eclipse/che-dashboard/commit/b497ebbd9f8a17f9205970883ef1f8462ac9b5f5#diff-313cf84156916e3f3e0ca455b485aa51R133).

Let me know if you still face the same bug.

Thanks!

[2020-03-23 12:01] #16232 closed

[2020-03-23 12:37] mgiammarco commented on #16410
Ok I have tried reinstalling che using -a operator and not -a helm (btw: how many installers can I try?)
But now with "operator" installer installation fails on last step.
In the pod called "che-xxxxxxxxxxxxxxxxxxxxxx" I see in logs this error:
aused by: javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: No subject alternative DNS name matching keycloak-che.10.1.10.12.ni

[2020-03-23 12:41] #16301 closed

[2020-03-23 13:00] SockenSalat commented on #12033
I expierence the same problem on our test cluster which is version 17.3 and has been setup using kubeadm.

fetching the said URL with curl works fine from containers deployed on the same node.

[2020-03-23 13:12] mingfang commented on #16364
@kellyhyomin
Thanks; This is really helpful.
Using your instructions I was able to get further but I'm now seeing this problem.
https://github.com/eclipse/che/issues/3523
It looks like Che needs it's own Github Oauth setup, in addition to the Keycloak Github setup.

[2020-03-23 13:51] twolastnames commented on #16410
[code]

I also noticed, I'm on minikube, not microk8s

HAR...
{
  "log": {
    "version": "1.2",
    "creator": {
      "name": "WebInspector",
      "version": "537.36"
    },
    "pages": [
      {
        "startedDateTime": "2020-03-23T13:46:12.243Z",
        "id": "page_2",
        "title": "https://che-che.192.168.99.100.nip.io/dashboard/",
        "pageTimings": {
          "onContentLoad":

[2020-03-23 14:35] nickboldt commented on #14725
I'm setting this as a milestone 7.11 target since it would be great to have it in place for the next release (next week). @tolusha do you think you can rework the make-release scripts for chectl and operator so they can push RC versions?

[2020-03-23 14:38] nickboldt commented on #14725
I can make sure the release process is documented / assigned correctly for the 7.11 release issue if we make this change for 7.11.

[2020-03-23 14:41] amisevsk commented on #16221
I wouldn't necessarily trust the cluster image cache for reliability -- unless we know very well what eviction policies are in use, etc., there's a significant chance you'll still run into issues. There's a reason the k8s-image-puller continually refreshes the images.

I think we need to refine the scope of this issue:
- Are we supporting arbitrary clusters here? E.g. most local deployments are si

[2020-03-23 14:53] mingfang commented on #16364
As a followup to @kellyhyomin
1- go to GitHub to create another oauth application. But this time use the Che callback URL instead of the Keycloak callback URL. e.g. https://che.legionx.com/api/oauth/callback

2-set the Client ID and Client Secret in the respective env variables before starting Che
CHE_OAUTH_GITHUB_CLIENTID=<client id>
CHE_OAUTH_GITHUB_CLIENTSECRET=<client secret>

This works.

Can

[2020-03-23 15:02] mingfang opened #16425 "Github integration using a deprecated method"
### Is your enhancement related to a problem? Please describe.
I received this email from Github

[code]

[2020-03-23 15:04] ibuziuk commented on #16414
@tolusha wil you be able to take a look at that one?

[2020-03-23 15:07] davidfestal commented on #16221
I somehow agree with @amisevsk analysis.

[2020-03-23 15:09] ibuziuk commented on #16425
@mingfang could you please update the issue according to the template? Also please provide the steps to reproduce

[2020-03-23 15:31] mshaposhnik commented on #13318
Happy using!

[2020-03-23 15:31] #13318 closed

[2020-03-23 15:39] mingfang commented on #16425
1- go to GitHub to create another oauth application. But this time use the Che callback URL instead of the Keycloak callback URL. e.g. `https://che.legionx.com/api/oauth/callback`

2-set the Client ID and Client Secret in the respective env variables before starting Che
[code]
3-Edit any workspace and add a project using the GitHub integration.  Github will ask for your permission as expected. Aft

[2020-03-23 15:48] tolusha commented on #16414
That's very interesting task, but unfortunately I don't have an appropriate environment.
May be someone else have already faced that.

[2020-03-23 16:16] skabashnyuk commented on #14698
Default confiruation
[code]

Configuration with:
[code]
[code]

I see two interesting parts.
 - mkdir- containers have IfNotPresent policy always.
 - some containers have null aka default policy

[2020-03-23 16:30] skabashnyuk commented on #16422
sshd not running?

[2020-03-23 16:42] #15826 closed

[2020-03-23 16:42] #15844 closed

[2020-03-23 16:56] l0rd commented on #16221
If that works for upstream Che on vanilla Kubernetes it looks like the perfect solution.

[2020-03-23 17:13] l0rd commented on #16377
Your ownership problem can be solved with [multiple devfile registries](https://github.com/eclipse/che/pull/16399): one registry per team.

I am not convinced about the value of having the Dashboard "Getting Started" populated with real projects instead of samples.

[2020-03-23 17:26] mingfang opened #16426 "Add ability to attach labels and annotations to user namespaces"
### Is your enhancement related to a problem? Please describe.
Currently user namespaces are created without any labels or annotations.
I need to attach annotations to each user namespace in order to integrate with the PodNodeSelector admission controller, https://www.mgasch.com/post/podnodesel/.

### Describe the solution you'd like
I would like two new configuration settings similar to CHE_INFRA

[2020-03-23 17:48] ibuziuk commented on #16426
@mingfang this is a nice feature request. Will you be interested in contributing the annotations support to Eclipse Che?

[2020-03-23 17:52] ibuziuk commented on #11238
PR has been merged. Closing

[2020-03-23 17:52] #11238 closed

[2020-03-23 17:54] ibuziuk commented on #13733
putting P2 for now, but feel free to update the severity based on the team/product priorities

[2020-03-23 18:19] JPinkney commented on #15797
After having the discussion on both the Theia and Che community calls I think we might end up needing a slight change of direction. I think what we need to do is utilize the [built-in commands](https://code.visualstudio.com/api/references/commands) in order to make the calls to the language server, rather than maintaining the extra API.

This has a few advantages:
- We don't have to maintain extra

[2020-03-23 19:58] ericwill commented on #15854
It seems that repo is no longer used. The [base image for the PHP devfile](https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/base_images#L10) needs to be updated. Ideally it should use the [upstream](https://hub.docker.com/_/php) image as a base.

[2020-03-23 20:11] JPinkney commented on #15854
IIRC @amisevsk said we aren't using the upstream php image because there was some incompatibilities or something like that. Otherwise it would have been updated a long time ago

[2020-03-23 20:43] AndrienkoAleksandr opened #16427 "Go stack is not completed..."
### Describe the bug
Currently when I use golang dev-stack and open go file from project sample I see error markers in the import, because go tool reconfigured to use go modules. But our sample  do not use go modules... Also go tool auto-generates go.mod and go.sum files, but we don't need them for non go-modules project. And our sample located in /projects/src/github.com/golang/example directory

[2020-03-23 20:47] ericwill commented on #15854
Okay, I'll investigate.

[2020-03-23 20:51] AndrienkoAleksandr commented on #16427
Issue detected with https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/ms-vscode/go/0.11.4

[2020-03-23 21:00] AndrienkoAleksandr opened #16428 "Update golang sidecar to use newer VSCode extension"
### Is your enhancement related to a problem? Please describe.
It would be nice to update https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/ms-vscode/go to use latest version 0.13.1. I tested this version https://raw.githubusercontent.com/AndrienkoAleksandr/che-plugin-registry/master/v3/plugins/ms-vscode/go/0.13.1/meta.yaml with che-machine-exec project and it works much better

[2020-03-23 21:09] ericwill commented on #16428
Looks like a duplicate of #16182. I see you are testing in a custom Dockerfile, did you have to make any changes to the sidecar container?

[2020-03-23 21:16] ericwill commented on #16427
Maybe we can just remove it from the sidecar container? https://github.com/che-dockerfiles/che-sidecar-go/blob/1.12.9/Dockerfile#L82

[2020-03-24 02:37] kellyhyomin commented on #16422
@skabashnyuk
sshd is running.
When running in docker with the same image, ssh connection is possible without any problem.

[2020-03-24 04:24] eder-santos opened #16429 "[helm] Eclipse Che fail to start when using self-signed-cert on k8s"
### Describe the bug
I'm trying to deploy Eclipse Che on a Kubernetes cluster using self-signed-cert and the helm installer, after following the [doc](https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-kubernetes_setup-che-in-tls-mode-with-self-signed-certificate) the problem persists.

### Che version

 - [ ] latest
 - [X]

[2020-03-24 07:22] AndrienkoAleksandr commented on #16427
I don't think so. I think it's a good to have this option like default, because go modules is a new technology and old way with long location $GOPATH/src/org/project is deprecated. All go projects should migrate to the go-modules...

[2020-03-24 07:24] AndrienkoAleksandr commented on #16428
Interesting question... No I only applied some logs, for myself. But when you rebuild go dockerfile which uses a lot of `go get -u some-lib-repo`, any way you have chance to get not the same image, because go get -u grab 'latest ' package and since some time this latest package can be updated....

[2020-03-24 08:20] kellyhyomin commented on #16422
I tested it by changing the endpoint of the java-mysql stack from port 3306 to port 3307.(https://github.com/eclipse/che-devfile-registry/blob/5a41b4b0c85893a6ee99059fcceab35b8a71780c/devfiles/java-mysql/devfile.yaml#L55)
However, only the 3306 port is connected.
I would appreciate it if you could confirm this.

[2020-03-24 09:58] tolusha commented on #16417
@ultrafab
`chectl version` ?

[2020-03-24 10:17] MichalMaler commented on #14363
My update was merged. Please, mark this box as done

[2020-03-24 10:18] shahidhs-ibm commented on #16287
@ibuziuk I have created a Jenkins project to build [che-machine-exe](https://ibmz-ci.osuosl.org/job/che-machine-exec_IBMZ_CI/) on the OSU/OSL Jenkins service for s390x. Kindly check and let me know your comments. Looking forward to extend this CI similar for other Eclipse Che repositories.

[2020-03-24 10:39] ultrafab commented on #16417
@tolusha
`chectl/7.10.0 linux-x64 node-v10.19.0`

[code]

[2020-03-24 10:55] tolusha commented on #16417
Confirm. I've followed the doc:

https://www.eclipse.org/che/docs/pages/che-7/contributor-guide/proc_deploy-che-with-self-signed-tls-on-openhift-using-operator.html
https://www.eclipse.org/che/docs/pages/che-7/contributor-guide/proc_generating-self-signed-certificates.html

[2020-03-24 10:59] ultrafab commented on #16417
Hello! Yes, i can confirm i've followed the provided doc.

Here https://github.com/eclipse/che/issues/16417#issue-585525811 there are the scripts i've made to launch the commands chain.

[2020-03-24 11:13] mmorhun commented on #16417
@ultrafab could you please clarify which infrastructure exactly you are using? I mean is it running on real Openshift 3.11 cluster or inside Minishift or other environment.

[2020-03-24 11:22] ultrafab commented on #16417
Hello,

It's an Openshift 3.11 single node, installed on a Ubuntu 18.04 server, inside a private network.
The server is a KVM machine, with only docker and openshift installed.

I've installed Openshift, following this guide: https://www.techrepublic.com/article/how-to-install-openshift-origin-on-ubuntu-18-04/

The needing is to have a Eclipse Che multiuser installation to test on a private networ

[2020-03-24 11:26] vitaliy-guliy commented on #16397
Fixed by https://github.com/che-dockerfiles/che-sidecar-kubernetes-tooling/pull/10

[2020-03-24 11:26] #16397 closed

[2020-03-24 11:49] sunix opened #16431 "Move dashboard contribution guide from CONTRIBUTING.md in che main repo to dashboard repo."
### Is your task related to a problem? Please describe.

Following that discussion https://github.com/eclipse/che/pull/16430#discussion_r396977130

[2020-03-24 11:49] JPinkney commented on #16251
After doing some research I think there's only 3 ways we can go about this:
1. https://github.com/che-incubator/che-workspace-operator/pull/24
2. [using cert manager](https://github.com/sleshchenko/che-workspace-operator/commit/15f3940e3a84d11a5cab03eb6b76472842f886a0)
3. Using Jobs (POC still in progress, but I've at least gotten it far enough where I can see that it will work)

To me I think we

[2020-03-24 11:50] sunix opened #16432 "Move workspace-loader contribution guide from CONTRIBUTING.md in che main repo to workspace-loader repo."
### Is your task related to a problem? Please describe.
Following this discussion: https://github.com/eclipse/che/pull/16430#discussion_r396977187

[2020-03-24 12:16] ericwill commented on #16428
Interesting point about the image not always being the same, I didn't consider that. I'm going to close this one as a duplicate of #16182.

[2020-03-24 12:16] #16428 closed

[2020-03-24 12:27] tolusha commented on #14698
Is there any way to fix for mkdir and stack containers?

[2020-03-24 12:32] ericwill commented on #16427
Okay. I had trouble running the sample Go workspace if I build my own sidecar image. When I use this change it works again -- I think rebuilding the sidecar image updates some of the dependencies that need this environment variable turned off.

[2020-03-24 13:21] skabashnyuk commented on #14698
I'm thinking about that

[2020-03-24 13:38] ibuziuk commented on #16384
@nickboldt @l0rd closing this issue since looks there is no need to backport the change to 7.9.x (CRW does not support the use-case when che-server and workspaces are located on different clusters)

[2020-03-24 13:38] #16384 closed

[2020-03-24 13:50] tolusha commented on #16429
@eder-santos
The following doc  [1] is relevant when you use `operator` installer.
In case of helm there are no manual steps. Just run the command below. `tls` will be enabled by default and self-sign certificate will be generated.

[code]

[1] https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-kubernetes_setup-che-in-tls-m

[2020-03-24 14:25] ibuziuk commented on #16414
@l0rd @davidfestal @benoitf maybe you can take a look at this setup and suggest smth

[2020-03-24 14:50] amisevsk commented on #16221
Another thought I had while reading some other documentation: @tomgeorge did some work on running Che in [kind](https://github.com/kubernetes-sigs/kind). This might be a silver bullet solution for many offline use cases, as I believe with kind your docker daemon is reused, so all you would need to do is to pull images onto your machine; the only concern would be the image pull policy issue brought

[2020-03-24 14:55] eder-santos commented on #16429
Hi @tolusha
I delete the whole namespace in order to destroy all resources and try again as with the  command that you provide me, but unfortunately I got the same exception.

[code]
These are the secrets generated by helm:

[code]

[2020-03-24 14:57] akurinnoy opened #16434 "Set up happy path test to be run on che-dashboard PRs"
### Is your task related to a problem? Please describe.

So as `che-dashboard` was moved into separate repository it would be great to have happy path tests to be run on that PR as well.

The motivation and following discussing can be found in [this issue](https://github.com/eclipse/che/issues/16395).

[2020-03-24 15:15] cenkce commented on #16359
Hi @azatsarynnyy,
if I don't delete yarn.lock then I constantly received this error:
[code]

[2020-03-24 15:17] amisevsk commented on #16251
I think it's a bit of a toss-up between 2 and 3. Some thoughts:
- Option 3 seems to be the best way at the moment, especially since we're at the incubator stage. I think on balance the burden of maintaining the code ourselves would be offset by the overall simplicity.
- Option 2 is definitely what is suggested for by e.g. the [kubebuilder docs](https://book.kubebuilder.io/cronjob-tutorial/cert-man

[2020-03-24 15:23] davidfestal commented on #16251
I'm quite concerned that with option 3 the operator is not self-contained anymore, which might make the installation of the operator through OLM impossible.

[2020-03-24 15:56] apupier opened #16435 "Upgrade VS Code Camel K extension to version 0.0.13"
### Is your enhancement related to a problem? Please describe.

upgrade to a newer version.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

- Camel K runtime used has been updated, so [sidecar](https://github.com/che-dockerfiles/che-sidecar-camelk) needs to be updated too to use Camel K runtime 1.0.0-RC2
- as a second iteration, there is

[2020-03-24 16:08] ibuziuk commented on #16322
Hosted Che has been updated to the latest 7.9.2 upstream version

[2020-03-24 16:08] #16322 closed

[2020-03-24 16:30] apupier commented on #16435
prepared branch https://github.com/apupier/che-plugin-registry/tree/16435-CamelK-0.0.13 but will require problem with credentials to publish sidecars from CI to be solved, see https://github.com/apupier/che-sidecar-camelk/runs/531035794?check_suite_focus=true

[2020-03-24 16:48] mmorhun opened #16436 "Build and publish Che server DTO types on npm on each Che release"
### Is your task related to a problem? Please describe.
We have [`@eclipse-che/api`](https://www.npmjs.com/package/@eclipse-che/api) npm package which contains typescript declarations of Che server DTOs. But that package is not updated automatically, despite [we have scripts](https://github.com/eclipse/che/tree/master/typescript-dto) to build and publish the package.
These types are used in `chect

[2020-03-24 16:58] cenkce commented on #16359
It built che packages but it can't create src-gen in assembly folder and gives error :

[code]

[2020-03-24 17:00] ericwill commented on #16113
I believe the work here is done.

[2020-03-24 17:00] #16113 closed

[2020-03-24 17:01] ericwill commented on #16427
Is there anything left to do here?

[2020-03-24 18:16] amisevsk commented on #14511
@l0rd the spec-specific fix I was thinking about was that non-sidecar containers currently cannot specify their memory/cpu requirements, so in the example we wouldn't know how much to increase the main Theia container's limit.

[2020-03-24 18:25] amisevsk commented on #15790
This issue, along with https://github.com/eclipse/che/issues/16313, are something I think are best addressed by using a cloud-shell specific operator when the only object we want to deploy is the cloud-shell. Otherwise, we're adding a lot of complexity in the operator to support one specific use-case. Within the scope of *workspaces*, I don't see a good use-case for supporting optional PVC, rest A

[2020-03-24 19:11] AndrienkoAleksandr commented on #16427
Thanks, I think issue resolved.

[2020-03-24 19:11] #16427 closed

[2020-03-24 19:32] ericwill commented on #16435
I think you have to push to your own repo for now, once the PR is merged in che-sidecar-camelk then it will automatically be pushed to the Eclipse quay.io repo. It's probably failing because your fork doesn't have the correct quay.io secret (for the Eclipse repos) attached to it.

[2020-03-24 20:48] azatsarynnyy commented on #16359
I've just tried the following steps:
[code]
And Che Theia has successfully started.

@cenkce please, verify what `che-theia --version` is installed. It has to be the latest one - `0.0.1-1584989953`. Did you run `che-theia init` on a freshly cloned Eclipse Theia sources?

[2020-03-24 22:24] cenkce commented on #16359
Yes, when I use fresh versions and it solved. Thanks

[2020-03-24 22:31] #16359 closed

[2020-03-25 07:19] sleshchenko opened #16437 "Unable to update single-user Che deployed with Operator"
### Describe the bug
Che fails to restart after updating CheCluster CR. It's caused by RollingUpdate which is not supported for SingleUser Che

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy Single User Che with Operator on OpenShift 4.x
2. Update CheCluster CR
3. Check is pod is successfully started:
![Screenshot_20200325_091530](https

[2020-03-25 07:54] apupier commented on #16435
the 0.0.13 branch has been already pushed https://github.com/che-dockerfiles/che-sidecar-camelk/tree/0.0.13
The mentioned failing build is from this pushed branch

[2020-03-25 07:57] #16243 closed

[2020-03-25 09:14] kellyhyomin commented on #16422
The screenshot below is a screen that normally accessed ssh when I ran the same image as a docker.
![image (3)](https://user-images.githubusercontent.com/29850624/77519640-2b28e580-6ec3-11ea-949f-7ad49d98d3ba.png)
I tested all the settings I could do in the devfile on by one, but the ssh connection is not working.
All I want is to connect to the ssh of another container(expose 22) in the same pod

[2020-03-25 09:17] skabashnyuk commented on #16422
@kellyhyomin can you share devfile with public images so I can test it? Unfortunately, I can't pull `popcornsar/ssh-custom-image`  looks like it is private.

[2020-03-25 09:33] sunix commented on #15521
@benoitf @skabashnyuk @tsmaeder Should we simply remove that page ?
Contribution guide should go to CONTRIBUTING.md file of each repo.

[2020-03-25 09:35] sunix commented on #15184
I see Eclipse source https://eclipsesource.com/technology/eclipse-che/ and Serli who could provide such services at the moment.

[2020-03-25 09:41] sunix commented on #15184
So the fix would be to replace this page with a dedicated page for companies that could offer commercial services.
Would list
- Eclipse source https://eclipsesource.com/technology/eclipse-che/
- Serli ?

![Selection_685](https://user-images.githubusercontent.com/650571/77522817-23e2e700-6e85-11ea-805c-ca7c24906655.png)

[2020-03-25 10:03] kellyhyomin commented on #16422
Thank you for your reply.

Here is our devfile.yaml
The image(popcornsar/ap-virtual-simulator:port22) is currently public.

[code]
Our editor is theia, not che-theia.
However, when tested on che-theia, I also cannot connect to port 22.

[2020-03-25 10:03] mmorhun commented on #14344
Fixed.
New command `chectl workspace:create` is introduced. It has `--start` flag which will start the workspace right after creation. Also added support for devfile in current directory, so `-f` flag is not mandatory any more.
Old `chectl workspace:start` command is deprecated and acting now as `chectl workspace:create --start`

[2020-03-25 10:03] #14344 closed

[2020-03-25 10:14] #11981 closed

[2020-03-25 11:01] mmorhun commented on #16396
I am marking this as resolved as docs are changed and some TLS configuration checks are added.

[2020-03-25 11:01] #16396 closed

[2020-03-25 11:59] SockenSalat opened #16439 "Failed to start Kubernetes runtime of workspace. Cause: Server theia in container theia-ide not available."
k8s 1.17.3 on baremetal centos7. Cluster is being used for testing purposes and all works fine (so far).

Che has been set up with `chectl` using the operator method. Tried this with versions 7.9.2, 7.10.0 and nightly with the same effect.

Setup has been done with FQDN and `--tls --self-signed-cert` and a previously imported root CA as described in the docs.

When trying to create a workspace the

[2020-03-25 12:33] sunix commented on #16381
@l0rd this quite critical for users who won't notice there is a problem because of the endpoint name.

[2020-03-25 12:52] tolusha commented on #16429
@eder-santos
`kubectl get configmap che -n che -o=yaml | grep  CHE_INFRA_KUBERNETES_TLS__SECRET`

[2020-03-25 12:54] #16084 closed

[2020-03-25 12:58] TristanFAURE commented on #15382
hello any update of this issue ?

[2020-03-25 13:18] NM4 commented on #15382
Hello,
I installed Che version 7.9.2 in offline mode but I still have this same problem: the workspace starts correctly but the theia-ide is not displayed in my browser.
If I reconfigure my workspace to use the version 7.7.0 ( the only one that works) of theia editor then everything is ok.

[2020-03-25 13:26] sleshchenko commented on #16063
Is implemented in https://github.com/eclipse/che-workspace-loader/pull/6

[2020-03-25 13:26] #16063 closed

[2020-03-25 13:53] tolusha commented on #16429
Alos
`kubectl describe ingress keycloak-ingress -n che`

[2020-03-25 14:01] nickboldt commented on #16043
After discussion today, looks like we can improve https://github.com/eclipse/che/blob/master/.ci/cico_common.sh#L87-L96 to add the "if not snapshot then deploy, nexus-staging:deploy-staged, nexus-staging:release into the mvn_deploy() step.

We should also fix https://github.com/eclipse/che/blob/master/.ci/cico_common.sh#L107-L110 to use the devstudio-release bot with email address crw-bots@redhat.

[2020-03-25 14:11] eder-santos commented on #16429
Thanks @tolusha
Here is the additional data, let me know if you need more information. Thanks again

[code]

[code]

[2020-03-25 14:41] tolusha commented on #16429
`kubectl get deployment che -n che -o=yaml`

[2020-03-25 14:56] sunix commented on #14970
Hello, looks like there is a regression on that one. I used to have a workspace running with cpulimit set to 6 for the entire pod. But it seems like in the last versions, cpu request are set to 1 for the plugins and 2 for any other containers. my workspace needs max cpu set to 16 for the entire pod now.

I have tried CHE_WORKSPACE_DEFAULT__CPU__LIMIT__CORES, but it seems to drastically slow down w

[2020-03-25 15:07] sleshchenko opened #16442 "[devworkspace] Make WorkspaceController remove unneeded webhook configurations"
### Is your task related to a problem? Please describe.
By default Webhooks which checks Workpace/Deployment/Pod/Exec are disabled, but once you enabled it via config map - WebhookConfigurations are created and when you disable them again - you're not able to manipulate workspaces anymore since Webhook Server are not set up but webhook configurations are not removed.

It's needed to make Workspace

[2020-03-25 15:11] eder-santos commented on #16429
Thanks @tolusha, feel free to ask me any question.

[code]

[2020-03-25 15:12] #8032 closed

[2020-03-25 15:12] #13941 closed

[2020-03-25 15:12] #14010 closed

[2020-03-25 15:12] #14331 closed

[2020-03-25 15:12] #14565 closed

[2020-03-25 15:12] #14581 closed

[2020-03-25 15:21] sleshchenko commented on #16251
The useful links David shared about OLM + Webhook Server:
Support validating admission webhooks https://github.com/operator-framework/operator-sdk/issues/1217
Design proposal Add support for admission webhooks in OLM
https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/contributors/design-proposals/webhooks.md

[2020-03-25 15:22] tolusha commented on #16429
I see
you don't have env var. But how you get it

[code]

[2020-03-25 15:24] benoitf commented on #16439
cc @sleshchenko @tolusha @azatsarynnyy
FYI It's not clear to me from the issue what is the exact area as it's involving the editor, TLS + plugin broker

[2020-03-25 15:25] tolusha commented on #16429
Did you use `--self-signed-cert` flag ?

[2020-03-25 15:27] SockenSalat commented on #16439
@benoitf maybe you could provide me with some hints where to gather more information from.

[2020-03-25 15:37] tolusha commented on #16429
So root cause is that before deploying Eclipse Che the `che-tls` secret existed in namespace `che`.

[2020-03-25 15:39] tolusha commented on #16429
I assume that che namespace was not vanished properly.

[2020-03-25 15:52] RomanNikitenko commented on #14597
/remove-lifecycle stale

[2020-03-25 16:07] benoitf commented on #16439
@SockenSalat if you can grab pod events + try with another installer (using helm instead of the operator to give a try to an alternate install)

[2020-03-25 16:12] eder-santos commented on #16429
Hi @tolusha
I remove the whole namespace the following way, but I'm still getting the same error.

[code]

`kubectl get pvc -n che | awk 'NR > 1 { print $1 }' | xargs -L 1 kubectl delete pvc $1 -n che`

`kubectl get pv -n che | awk 'NR > 1 { print $1 }' | xargs -L 1 kubectl delete pv $1 -n che`

`kubectl get storageclass -n che | awk 'NR > 1 { print $1 }' | xargs -L 1 kubectl delete storageclass $

[2020-03-25 16:25] tsmaeder commented on #15521
I don't think so: there needs to be a starting point that tells people about the global process of building Che. We use the che repository as a single point of contact also for issues, so I think this is where people will come to.

[2020-03-25 16:35] tsmaeder commented on #14425
/remove-lifecycle stale

[2020-03-25 16:41] AndrienkoAleksandr commented on #15345
Merget Add error status if operator hasn't got permission to count users.

[2020-03-25 16:41] #15345 closed

[2020-03-25 17:03] amisevsk commented on #13020
/remove-lifecycle stale

[2020-03-25 17:41] tylerauerbeck commented on #14691
I think the runtime concern is valid, you probably don't want to have to do this everytime the pod restarts. That being said, it may be useful to still include the index.sh script so that instead of having to maintain a seperate fork of the repo, I can just say FROM quay.io/eclipse/che-devfile-registry:nightly... and then add my custom definitions that way.

[2020-03-25 18:57] gorkem commented on #14691
This also come up lately in the context of the odo adoption of devfiles. I do not think we can continue to recommend the current _hackish_ form of updating the registry. @neeraj-laad may have some ideas that was used on appsody.  I think we need to provide a tool like [`appsody stack`](https://appsody.dev/docs/cli-commands/#appsody-stack) command for registry management.

[2020-03-25 19:44] nickboldt commented on #15327
What do we think about removing old plugins so we don't have to fetch 100s of old SHAs ?

Running the write_image_digests.sh script for che plugin registry today processes 84 containers.

If we remove anything older than 7.3.3, that drops to 67.

Or maybe we want to use LATEST_ONLY arg in Dockerfile to only generate digests for the latest images?

[2020-03-25 19:48] amisevsk commented on #15327
I'm :+1: on removing old versions, though I don't know that it's my decision. For only getting digests for the newest images, I'm not sure; it kind of defeats the point of using digests for everything. OTOH it would be a quicker build, so there's that.

Already, latest_only *should* do what you mean though; if `LATEST_ONLY=true`, the first step is to remove all older versions, so the SHA checking

[2020-03-25 19:52] nickboldt commented on #15327
Yeah after submitting this I found the keep_only_latest.sh so I could use that in CRW if we want downstream.

I'm just looking at not carrying along year-old unsupported garbage in upstream.

[2020-03-25 19:56] ericwill commented on #15327
A cull of old plugins in the plugin registry is definitely warranted. :+1:

[2020-03-25 20:06] ericwill commented on #15949
Florent and I discussed this today and here is what we landed on: every repo just has a master branch, with a Dockerfile and a VERSION file. The VERSION file contains the version of the image that the Dockerfile will build. Updates to the Dockerfile must be accompanied with a version bump in the VERSION file. Anyone interested in old versions of the Dockerfile can check out an older commit to see.

[2020-03-25 20:08] nickboldt opened #16446 "Deprecate old plugins from plugin registry and remove after 3 sprints"
### Is your task related to a problem? Please describe.

We have ancient plugins in from before Che 7.0.

We also have plugins that predate CRW 2.0 / Che 7.3.3, which we're never going to go back and patch.

And we have plugins from 3 sprints ago that are effectively also at EOL since the only way they'll be fixed is to move to the latest 7.newer release.

So if 7.4, 7.5, 7.6, 7.7, 7.8 are never g

[2020-03-26 07:05] skabashnyuk opened #16448 "Allow configuring ImagePullPolicy for some workspace components"
### Is your task related to a problem? Please describe.
During testing of this issue https://github.com/eclipse/che/issues/14698#issuecomment-602703529
I've noticed that `mkdir `container is strictly set to `IfNotPresent` and containers from components of type `k8s` or `dockerimage` are not configured at all.

### Describe the solution you'd like
Provide a way to configure `ImagePullPolicy`

### D

[2020-03-26 07:37] tolusha commented on #16429
@eder-santos
I will try to reproduce locally.

[2020-03-26 08:02] sleshchenko commented on #16439
@SockenSalat
`Cause: Server theia in container theia-ide not available.` indicates that Che Server is not able to request Theia... Basically it could be caused by two issues:
1. Theia actually fails to start
2. Some network misconfiguration and Che Server is not able to request Theia even if it's available from your browser...

Using the following Devfile could help skip servers checking phase and

[2020-03-26 08:13] apupier commented on #16446
How can we check the version that are used in CodeReady Workspaces?

[2020-03-26 08:14] sleshchenko commented on #16422
@kellyhyomin Are you connecting via ssh through server URL provided by Che from outside of Kubernetes cluster?
If yes - then probably Ingress is not able to proxy ssh protocol =( You can try to search more info on the internet, AFAIK @vparfonov tried to achieve it and did not manage to do.
The way how you can work around it - use `kubectl portforward`

If you're trying to establish ssh connection

[2020-03-26 08:28] skabashnyuk opened #16450 "Improper response "Workspace with id 'workspacex4n4fp5g566vhgqs' or name 'che-workspace-telemetry-client-y1674' in namespace 'skabashn' already exists"},"status":409,"config""
### Describe the bug
When I try to accept factory `http://che.openshift.io/f?url=https://gist.githubusercontent.com/skabashnyuk/141076d10fb7ba932f8d48457bcc1dea/raw/2594c641c34612fc0da5e4ea90084785d421ac62/gistfile1.txt` I got this error in the browser console. However, I have no such a workspace.

### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other: 7.9.2

### Steps to reproduce

1. Click

[2020-03-26 08:33] kellyhyomin commented on #16422
I have tried to establish ssh connection within workspace(from on container(thiea) to another) but the connection to localhost:22 is not working.

![image](https://user-images.githubusercontent.com/29850624/77625687-5b39bc80-6f87-11ea-80b7-d4838c8e7863.png)

I also know that containers within the same pod share the same port range, but I don't know why I can't connect.

[2020-03-26 08:39] sleshchenko opened #16451 "Make server check phase more transparent"
### Is your task related to a problem? Please describe.
We often have created issues with `Server theia in container theia-ide not available` title, and it says actually nothing, it makes sense to:
1. For example, when we do half server checks attempts: start printing logs: `Waiting server theia be available via https://theia-server.mynamespace.192.168.0.100.nip.io/ but got 409 response`
2. The la

[2020-03-26 08:51] azatsarynnyy opened #16452 "Plugins view is empty in Che Theia"
### Describe the bug

`Plugins` view is empty in Che Theia.

### Che version
 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
Open Plugins view, `View > Open View... > Plugins`

### Expected behavior
The VS Code/Theia extensions should be listed.

### Screenshots
![image](https://user-images.githubusercontent.com/1636395/77627282-578a4380-6f4f-11ea-853b-358b726ac34

[2020-03-26 08:51] tolusha commented on #16429
Meanwhile you can try to deploy on minikube [1] cluster.
[1] https://kubernetes.io/docs/tasks/tools/install-minikube/

[2020-03-26 09:13] skabashnyuk opened #16453 "Dashboard doesn't show an error that happens during factory acceptance"
### Describe the bug
Dashboard hangs on `Workspace Initializing` phase when an error occurs on workspace creation during factory accepting.

### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other: 7.9.2

### Steps to reproduce
1. Try to create the workspace which is going to fail to be created, like http://che.openshift.io/f?url=https://gist.githubusercontent.com/skabashnyuk/141076d10fb7ba932f

[2020-03-26 09:42] sleshchenko commented on #16453
The 409 error is not expected during shared factory acceptance, so it's an important issue that should be fixed but it's not critical, it's why I put P2.

[2020-03-26 09:43] tolusha opened #16454 "Prepare devfile for `che-operator` repository"
It is needed to prepare a devfile for che-operator [1] repository with build, run and debug tasks.

[1] https://github.com/eclipse/che-operator/

[2020-03-26 09:45] SockenSalat commented on #16439
@sleshchenko

I created the Workspace, which seemed to be a success, except that the ingress is returning 404.

[2020-03-26 10:01] #16097 closed

[2020-03-26 10:16] tolusha opened #16455 "Che Deploy Sprint #182"
Apr 1 - Apr 21

### Team
| Name  |  |
| ------------- | ------------- |
| Anatolii   |   |
| Mykola   |    |
| Aleksandr  |   |

### Issues
- [x] .7.9.3 Release https://github.com/eclipse/che/issues/16620
- [x] .release 7.11.0 https://github.com/eclipse/che/issues/16478
  - [x] https://github.com/eclipse/che-operator/pull/215
  - [x] https://github.com/operator-framework/community-operators/pull/1

[2020-03-26 10:32] Katka92 opened #16456 "Remove all patches from hosted Che tests that were need for 7.10.0"
### Is your task related to a problem? Please describe.
All patches [1], that were needed for 7.10.0 in hosted Che tests should be removed.

[1] https://github.com/redhat-developer/rh-che/tree/upstream-check-7.10.0-SNAPSHOT/dockerfiles/e2e-saas/test_patches

### Describe the solution you'd like
The files that were patched should contain those changes so the patch can be removed. That should be don

[2020-03-26 10:35] skabashnyuk commented on #16450
<details><summary>Internal Exception: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "index_devfile_env_component_name"</summary>

[code]

</details>

[2020-03-26 10:40] sunix commented on #12709
Conclusion during Che community call discussion:
1. We remove tasks.json from workspace roots. Che commands are to be edited in the devfile (workspace config). We then need to agree what is the best UX to edit the devfile (workspace-config) in che-theia
2. Project could keep tasks.json file. But that would not be related to Che. Should be a feature in Theia. Che would ask the user in which contain

[2020-03-26 10:42] metlos opened #16457 "[chectl] Chectl doesn't find kubectl defined as alias"
### Describe the bug
Chectl fails to detect `kubectl` if it is defined as an alias.

I have an alias for kubectl defined as:
[code]
This enables me to always use the matching version of kubectl with my minikube installation.

In this setup, `chectl` fails to start a server with

[code]

Looking for kubectl gives me this:
[code]

[2020-03-26 11:44] gnoejuan commented on #16414
At this point, KVM acceleration isn't important anymore. I believe the most productive way is to focus on a remote bare metal install. Example environments would be an AWS EC2 instance or Vultr which doesn't appear to offer a managed K8s solution.

I would still use the setup pictured above, but I hope a tutorial that applies to a hosted bare metal server (without managed k8s) would also apply to

[2020-03-26 12:09] sleshchenko commented on #16422
@kellyhyomin  But when you run it with docker you don't override entrypoint.
But in devfile you have
[code]
So, the only process is launched in container is `tail`...
Could you try to remove command/args from here or launch ssh daemon explicitly?
I may be wrong =)

[2020-03-26 12:12] skabashnyuk commented on #16414
@gnoejuan would you like to try with crc(local openshift 4 )  there is a guide for it https://gist.github.com/tmckayus/8e843f90c44ac841d0673434c7de0c6a  ?

[2020-03-26 12:25] sleshchenko commented on #16422
@kellyhyomin If the sshd is running on docker - it does not mean that it will be successfully started on k8s/OS. The main reason why it might fail - a leak of Sudo rights in docker container, could you make sure that it's running? Check running processes, check logs...

[2020-03-26 12:32] sleshchenko commented on #16439
@SockenSalat it seems to indicate what Theia actually failed to run but it's not Che Server<>Workspace connectivity issue...
Could you provide the whole Theia container log?

[2020-03-26 12:38] SockenSalat commented on #16439
@sleshchenko here ist is:
[code]

[2020-03-26 12:43] l0rd opened #16458 "New Workspace Loading Page"
Current workspace loading page looks like this:

![image](https://user-images.githubusercontent.com/606959/77647200-4ac51a00-6f66-11ea-8e18-f8b7f8d07ac9.png)

The progress bar that doesn't provide any information about progress
The logs provide an idea of the progress but are shown on a small part of the screen and only someone that is familiar with Che architecture can understand what's going on

[2020-03-26 12:48] SockenSalat commented on #16439
@sleshchenko

I can actually exec into the theia container:
[code]
 `curl http://localhost:3100` gives a reasonable response

[2020-03-26 12:55] sleshchenko commented on #16457
OFFTOP
@metlos Do you think we need a separate issue when chectl finds kubectl somewhere while it's not available for me? :-D
![Screenshot_20200326_145522](https://user-images.githubusercontent.com/5887312/77649067-d5f7dd00-6f71-11ea-9f6e-ffd576ea9b82.png)

[2020-03-26 12:57] sleshchenko commented on #16457
@metlos Won't function instead of alias help you work around this issue? like
[code]

[2020-03-26 13:02] sleshchenko commented on #15188
@johnmcollier Could you try to reproduce it? It seems to work for me as well. http://che.openshift.io/f?url=https://raw.githubusercontent.com/johnmcollier/devfiles/master/devfile_test.yaml

[2020-03-26 13:04] sleshchenko commented on #15188
I'm closing it since I can't reproduce it and the case when the user sees nothing when an exception occurs should be fixed in the scope of https://github.com/eclipse/che/issues/16453

@johnmcollier Feel free to reopen it if you still able to reproduce case described in the description.

[2020-03-26 13:04] #15188 closed

[2020-03-26 13:08] sleshchenko commented on #14168
I believe it should not be actual anymore since we use the new monaco YAML editor merged in https://github.com/eclipse/che/pull/15067
@JPinkney @olexii4 Could you confirm my guess?

[2020-03-26 13:15] sleshchenko commented on #14542
Che Server seems to be that sneaky guy:
![Screenshot_20200326_151249](https://user-images.githubusercontent.com/5887312/77650604-69321200-6f74-11ea-8eca-ab44b65ff2b0.png)
![Screenshot_20200326_151300](https://user-images.githubusercontent.com/5887312/77650609-69caa880-6f74-11ea-8acb-893f0f75c620.png)

[2020-03-26 13:35] sleshchenko commented on #13950
can't reproduce. @olexii4 Feel free to reopen if you still can reproduce it.

[2020-03-26 13:35] #13950 closed

[2020-03-26 13:46] sleshchenko commented on #16417
@ultrafab Could you share `/etc/resolv.conf`? I guess you have local DNS server set up and it's not available from a docker container...

[2020-03-26 14:30] #14542 closed

[2020-03-26 14:44] sleshchenko commented on #15996
duplicates https://github.com/eclipse/che/issues/14683

[2020-03-26 14:44] #15996 closed

[2020-03-26 14:47] #15266 closed

[2020-03-26 14:50] eder-santos commented on #16429
Thank you @tolusha I will try it

[2020-03-26 14:54] vzhukovskii opened #16461 "Reduce the number of cloning operations during the assembly phase"
### Is your task related to a problem? Please describe.
There is an idea to clone theia sources once build.sh script has been called, then pack sources and provide to dockerfiles as local assets, instead of call git clone in [1], [2], [3]

[1] [dockerfiles/theia/docker/ubi8/builder-clone-theia.dockerfile](https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/docker/ubi8/builder-clone-

[2020-03-26 15:06] vzhukovskii opened #16462 "Improve dry run mode when there are two images build"
### Is your task related to a problem? Please describe.
There is a docker template, e.g:

_alpine_
`dockerfiles/Dockerfile` **>** that compiles into **>** `dockerfiles/.Dockerfile`

_ubi8_
`dockerfiles/Dockerfile` **>** that compiles into **>** `dockerfiles/.Dockerfile` (and rewrites the previous one)

with this we have only one compiled `.Dockerfile` with instructions needed only for ubi8 base.

[2020-03-26 15:15] vzhukovskii opened #16463 "Review e2e testing mechanism during che-theia-dev image build"
### Is your task related to a problem? Please describe.
As we know, our images mainly build on ci service and the e2e mechanism is odd when che-theia-dev image builds.

During the build of [e2e/Dockerfile](https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia-dev/e2e/Dockerfile) theia is cloned and built just to check whether server can start. Then, on next stage, che-theia image buil

[2020-03-26 15:18] benoitf commented on #16463
hello, I'm not sure to follow the problem

theia is cloned but not to ensure server can start but to ensure that theia can be compiled as a project on che-theia-dev image

[2020-03-26 15:28] vzhukovskii commented on #16463
@benoitf yep, you're right. But when we take into account the flow, performed on pr jobs, there are some steps:

- build _che-theia-dev:alpine_
- build _che-theia-dev:ubi8_
- build _e2e-dev_ image with theia clone and build **(*)**
- build _che-theia:alpine_ with theia clone and build
- build _che-theia:ubi8_ with theia clone and build
- build _e2e_ image

**(*)** build is useless, when the next s

[2020-03-26 15:31] benoitf commented on #16463
@vzhukovskii why is it useless ?

[2020-03-26 15:32] vparfonov opened #16464 "Add ability to support Handlers to Container Lifecycle Events"
Kubernetes supports the postStart and preStop events. Details here: https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

We can use this feature for some operations on start/stop plugin containers.

[2020-03-26 15:32] vparfonov commented on #15959
Depends on: https://github.com/eclipse/che/issues/16464

[2020-03-26 15:33] benoitf commented on #16463
I think here you could save more time by compiling in one job `alpine` and with another job `ubi8` (in parallel instead of sequential)

[2020-03-26 15:38] vzhukovskii commented on #16463
I guess only because of this

Also was thinking of this approach, it will allow us to reduce general build time in two times, I hope

[2020-03-26 15:40] ultrafab commented on #16417
Hello,
this is my `/etc/resolv.conf`
[code]

I can ping and browse internet without problem from this host.

But there's an update. To complete the infrastructure i've create a `bind9` DNS on another network server, pointing the `k8s.bishop.lan` to the `192.168.69.245` ip address (the Openshift virtual machine), then recreate the certs with the new domain and delete/recreate the cluster with: `oc

[2020-03-26 15:45] benoitf commented on #16463
also https://github.com/eclipse/che-theia/pull/662 should help in reusing a previous image when building a new one (allow to reuse docker layers)

other ideas: disable linters in builds (only keep linter of first yarn call)
- your idea: download plug-ins if not changed instead of rebuilding them

[2020-03-26 15:49] davidfestal commented on #15382
@NM4 In fact it happens that for some versions (including 7.7.0), the CDN support had been broken. I t has been restored in the meantime, which explains why you're getting your problem back.
However let me provide a bit more analysis here:
In the detail of the HEAD request that you shared above, I can see the following:
[code]
That means that an exception occurred before even returning a response.

[2020-03-26 15:57] vzhukovskii commented on #16463
Hmm, will take a look on how it realized. As for download plug-ins, make sense, there isn't a need to build them each time, when there aren't any changes inside.

[2020-03-26 16:36] sleshchenko commented on #15662
@beaumorley I like how UI POC looks like but some items still should be addressed:
**1.**

Probably we don't UI element for this since an user is able to modify it in the Devfile editor under metadata.name.
Note that screenshot contains generateName, and it's a value that comes from original devfile, but Dashboard can process it and provide metadata.name instead with unique generated name based on

[2020-03-26 17:02] benoitf commented on #16463
ok the basic idea of my PR is that che-theia-dev should be only rebuild if there is a change in generator or in the base system (which is happening at a very low rate)

so, by using `docker build --from-image (existing-theia-dev-image)` it will reuse layers from existing image and then we can speed up both build of the image and the e2e of theia-dev as it won't build anything as it's already in ca

[2020-03-26 23:18] l0rd commented on #16414
We use minikube running on a remote machine for our e2e tests. Maybe @rhopp @dmytro-ndp have some suggestions.

[2020-03-26 23:41] l0rd commented on #14511
Ok I see. We currently specify mem/cpu requirements at the container level. For a plugin with no containers we cannot specify the mem/cpu requirements.

[2020-03-26 23:43] l0rd commented on #13258
/remove-lifecycle stale

[2020-03-27 03:39] beaumorley commented on #15662
@sleshchenko  here are answers to your questions.

This exists in the UI today, right? Do we want to remove it?

OK. I can mock up how this would look.  Sounds like it will either be a dropdown or a read-only field.
We can consider including copy somewhere when it is not selectable and say why.

This needs to be added too. Will be in the mockup. Should be similar to the getting started temp storag

[2020-03-27 07:36] skabashnyuk opened #16465 "[Metric] Total workspace count"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like
The goal of this task is to have a metric that shows the total workspace count registered in the Che server workspace table database. At this moment we only display this metric on the Grafana
dashboard as a sum of number workspaces with all possible states that based on workspace
activity tracking. Due to

[2020-03-27 07:43] skabashnyuk opened #16466 "[Metric] Ensure that the total number of records in the activity table is identical to the workspace table"
### Is your enhancement related to a problem? Please describe.

As described here https://github.com/eclipse/che/issues/16465 we track the activity of workspaces in separate
tables and  due to the event-based nature of activity tracking, it is recorded
in a separate database transaction, distinct from the transaction that adds records to the workspace table.
That is way exists the potential risk o

[2020-03-27 07:51] Katka92 commented on #16456
Patches in 7.10.0:
Dashboard https://github.com/eclipse/che/pull/16467
CheApiRequestHandler https://github.com/eclipse/che/pull/16445
package.json https://github.com/eclipse/che/pull/16445

[2020-03-27 08:10] olexii4 commented on #16368
Fixed in https://github.com/eclipse/che-workspace-loader/pull/6/files#diff-291b63e7e93f33e96bd0d0184764cb64R78

[2020-03-27 08:11] #16368 closed

[2020-03-27 08:15] #16356 closed

[2020-03-27 08:18] sleshchenko commented on #15805
The user must 'reconnect' the IDE to the workspace (either by using F5 or clicking the green dot, or maybe through the nav bar 'workspaces' section).

@RickJWagner FYI It was a bug fixed by https://github.com/eclipse/che/pull/16332, so now once a workspace is started - an user should get Theia opened

[2020-03-27 08:49] omertabibi commented on #811
Hi, @ddementieva is thie .SymbolMap files have a security impact when exposed publicly. Should we kept them privately?

[2020-03-27 09:17] sparkoo commented on #16466
We could even merge the activity table into the workspace table. The activity table creates an illusion that we have any kind of workspace activity history, but in reality it's one entry per workspace that is constantly updated.

[2020-03-27 09:42] SockenSalat commented on #16439
@benoitf tried to install che with helm, which fails, because the keycloak stay in pending since it's pvc are not bound, since the `storageClass` is missing. I did not found anything about how to provide the strorageClass for keycloak during setup.

[2020-03-27 10:16] apupier commented on #16435
my bad.
So I pointed to a build of the branch which was on my repository. (i wasn't expecting a build from branches on my own repository). Not yet familiar with GitHub Actions (and also I should have think a bit more)
The build from the che organization is working fine https://github.com/che-dockerfiles/che-sidecar-camelk/actions/runs/62350912

[2020-03-27 10:22] flacatus commented on #15803
Done! Olm tests files run now on every Pr.

[2020-03-27 10:22] #15803 closed

[2020-03-27 10:22] sleshchenko commented on #15611
I think it's because JSON schema is an abstract definition of type while which types of commands may be consumed really depends on Che Server and Theia versions, also we could imagine others devfile consumers which allows extra commands types.
cc @skabashnyuk Do you think it makes sense to change command type to enum since it's hosted on Che Server and AFAIU now is supposed to be consumed only by

[2020-03-27 10:35] sleshchenko commented on #9791
It's quite old issue, so I suppose at that time version of Dashboard and GWT IDE could be the same.
So, now if a user wants to know Che Server version + Dashboard version - we could provide it, but if Theia IDE version is needed - that a user must create a workspace and check the About Dialog there.

Seems the diagnostics page is removed.
Maybe we could add About dialog for Dashboard as well, whic

[2020-03-27 10:55] #16450 closed

[2020-03-27 11:05] RomanNikitenko opened #16469 "Build of che-theia is broken"
### Describe the bug
Build of `che-theia` is broken due to upstream changes

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
I faced with it using che-in-che development

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [x] minikube (include output of `minikube version`

[2020-03-27 11:27] ibuziuk commented on #16240
PR sent - https://github.com/redhat-developer/rh-che/pull/1847

[2020-03-27 11:29] ibuziuk opened #16470 "License headers update to 2020 year"
### Is your task related to a problem? Please describe.
Need to update license headers to 2020. Currently, 2018 is still used e.g. - https://github.com/eclipse/che/blob/master/multiuser/permission/che-multiuser-permission-devfile/src/main/java/org/eclipse/che/multiuser/permission/devfile/DevfilePermissionsFilter.java#L2

[2020-03-27 12:33] olexii4 commented on #16372
Fixed in https://github.com/eclipse/che-workspace-loader/commit/a9878b750158f4403e204a4456baa1e973ad7048#diff-8ee2343978836a779dc9f8d6b794c3b2R3743

[2020-03-27 12:35] #16372 closed

[2020-03-27 13:01] apupier opened #16471 "All PR job fo che-plugin-registry are failing due to ".ci/cico-plugin-registry-pr-test.sh: No such file or directory""
### Describe the bug

PR job has always failed: https://ci.centos.org/job/devtools-che-plugin-registry-pr-check/

master seems fine https://ci.centos.org/job/devtools-che-plugin-registry-build-master/329/console

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

a working PR job

### Runtime
   - [ ] kubernetes (include outpu

[2020-03-27 13:02] sleshchenko opened #16472 "[workspace-loader] Implement an ability to run workspace-loader as workspace server"
### Is your task related to a problem? Please describe.
Currently, we have a command in the devfile for WorkspaceLoader to run nodejs server and it works fine in terms of process is launched but it's not possible to test that WorkspaceLoader.
It basically happens because WorkspaceLoader is designed to use Keycloak token and to get it, the loader must be served from Che Server host but not generate