[2018-12-20 10:12] garagatyi commented on #11801
If we want to have a precise memory estimation than UD cannot do that technically.
For now, we don't even have a way how to do that on wsmaster to provide an API or so.

[2018-12-20 10:14] ibuziuk commented on #11242
@skabashnyuk based on our SLA discussion I have created the following issues:
- [Metric] Number of failed workspace startup https://github.com/eclipse/che/issues/12242
- [Metric] API error rate (number of 500 responses from che server) https://github.com/eclipse/che/issues/12244

Please, consider those issues as a priority from the overall list of metrics.

[2018-12-20 10:23] skabashnyuk opened #12245 "Workspace Stacks and Samples for Che 7"
### Description
TODO create a list of samples and templates (stacks?) to be adapted to work in Che7(sidecar way)

[2018-12-20 10:45] skabashnyuk opened #12246 "[Meta.yaml] Allow to have a reference to a raw che-plugin.yaml or reference to che-plugin.yaml.tar.gz"
### Description
Now when we developing some plugin or editor to see new configuration from che-plugin.yaml
we often need to have a Github release. https://github.com/ws-skeleton/che-editor-theia/releases
I propose to support both ways.  The old
[code]
and new with direct link to che-plugin.yaml
[code]

[2018-12-20 10:54] l0rd commented on #12230
@AndreyChizhikov @mmorhun can you please provide more details about your concerns about this issue?

[2018-12-20 11:02] l0rd commented on #12238
@sleshchenko I have added some notes about a possible solution. That's something we discussed with @benoitf last week. cc @evidolob

[2018-12-20 11:09] skabashnyuk commented on #12238
Linking original PR made by @garagatyi https://github.com/eclipse/che/pull/10528

[2018-12-20 11:20] ibuziuk commented on #12238
@l0rd is this issue a priority for the next sprint ?

[2018-12-20 11:48] SkorikSergey commented on #11697
I will check ContextMenuEditorTest test.

[2018-12-20 12:15] l0rd commented on #12238
@ibuziuk no

[2018-12-20 13:42] garagatyi commented on #12238
@l0rd

I wonder why you think that they use localhost?

Do you mean prefixing only services created by plugins or also those that are in the user recipe of a workspace?

For the start we might be OK with just having an env var with workspace ID and knowing that we need to prefix service name with it prefix.

[2018-12-20 14:37] AndrienkoAleksandr commented on #12230
About kill:
Exec API doesn't provide for us PID to kill the process **inside container.**
I think that information about exec PID inside container hidden inside API. And it would be nice if API provide for us method to kill exec(the best option), or at list some inspect exec method to get process ID. I think only API has all necessary information to CORRECTLY kill process and child processes, with

[2018-12-20 14:41] garagatyi commented on #12187
@ibuziuk If it is TimeoutTask that bugs the memory then something like this diff should help https://github.com/eclipse/che/compare/master...garagatyi:probeMemoryLeak?expand=1
But if it is not only that task but something else in addition then we would need to investigate additionally.

[2018-12-20 14:55] l0rd commented on #12238
Because if you started an HTTP service on port 80 of container A, you can reach it as `http://localhost:80` from container B (assumed that A and B are in the same pod). That's how Theia plugin adapter talk with the original Theia container right now (@benoitf can correct me if I am wrong)

That's a good question. But no we should not prefix services defined in the user runtime. It will be the user

[2018-12-20 14:59] garagatyi commented on #12187
BTW I think that it is intended that probes run even after the start of a workspace - they continue checking the state of servers in a workspace to detect servers failures.
At the same time, all this code is out of date since we would rather use native containers probes in Che 7. But we don't have this feature implemented yet.

[2018-12-20 15:32] slemeur opened #12248 "Improve "About" popup"
### Description
In this IDE at this moment, the "About" popup is giving information only about Theia.

![capture d ecran 2018-12-20 a 15 31 03](https://user-images.githubusercontent.com/1636769/50293839-cc312100-0474-11e9-837b-47809765c349.png)

We need to adapt that popup for Che:
- Title should be "Eclipse Che" (or product name, if it is rebranded)
- We should display the logo of Eclipse Che
- W

[2018-12-20 15:47] l0rd commented on #12230
Thanks for the info @AndrienkoAleksandr but I don't see anything about zombie processes in your link.

What I mean is that if you start a process with a `docker exec` you can then use `docker exec ps aux | grep "<full_command>"` to find the PID and than `kill` to stop it in a clean way and `kill -9` to give it an hard stop.

The `ps aux | grep` may not be 100% reliable (you need to filter out grep

[2018-12-20 15:49] benoitf commented on #12246
AFAIK it may not be only a yaml file, it can include some binaries

Also I would say the editor plug-in should include the images as well without external links so it's always self-contained. Here it looks like you're only looking at your own need.

[2018-12-20 15:56] garagatyi commented on #12246
@benoitf from what I know all the editor archives we have now contain only che-plugin-yaml file

[2018-12-20 16:05] benoitf commented on #12246
@garagatyi what if plug-in images are stored inside the plug-in ? so it's self-contained (as almost all vendors are doing)

[2018-12-20 17:09] l0rd commented on #11801
For now, we don't even have a way how to do that on wsmaster to provide an API or so.

UD can do that if memory limit are in meta.yaml. UD can set the memory limit in workspcae configuration attributes. We don't need to add that to wsmaster API. Let's not make it more complicated than it is.

[2018-12-20 19:13] skabashnyuk commented on #12246
Also I would say the editor plug-in should include the images as well without external links so it's always self-contained. Here it looks like you're only looking at your own need.

@benoitf All you are saying is right. I have no argument against. What I'm proposing to have an alternative to general option for the cases and developers that might think that it might be simpler for them. And a numbe

[2018-12-20 19:41] benoitf commented on #12246
I would say that it's not improving model of using che to make plug-ins and improve publish script. It's like doing something by ppl that are not using the product to develop the product.

[2018-12-20 20:12] skabashnyuk commented on #12246
In this particular issue, I didn't have an intention to do that. Excuse me if I mislead you.

I don't see how this statement can help me or other Che editor developer to become more efficient. Do you? Are we forcing all our Plugin, Editor developer to follow the single possible flow?
My flow described here https://github.com/eclipse/che-plugin-broker/pull/22#issuecomment-449116039.

[2018-12-20 23:57] l0rd opened #12249 "Improve che-plugin.yaml (and devfile) format"
### Description

This is issue is to address some comments that have been identified in PR https://github.com/redhat-developer/devfile/pull/2:

-  [x] Use of the property `mountProjectSources` (or even the simpler `mountSources`) for a tool/plugin https://github.com/eclipse/che/issues/12413
- [x]  Add the ability to specify `subPath` of a volume https://github.com/eclipse/che/issues/12414
- [x] Im

[2018-12-21 01:31] sr229 commented on #12120
Heya @SharkJ was this done in-container, or in your host?

[2018-12-21 01:46] l0rd commented on #12188
One way to automate b) may be with chectl:

`chectl plugin-registry:release --githubrepo=eclipse/che-theia`

[2018-12-21 08:12] mmorhun commented on #12230
@l0rd I've faced problems with zombie processes, but in other circumstances, not with execs. However, I believe the problem might be still actual. Let me explain. When a process within container is started via exec it is not the main process there obviously. But this process may create child processes. If we kill the process started by exec its children might be still running. The only thing is ch

[2018-12-21 08:12] mshaposhnik commented on #12080
Looks like there is nothing to do in the issue, since the projects and command names aren't tranformed to the K8S objects directly, and tools converted to the containers, but those container names are taken from each plugin `che-plugin.yaml` descriptor, so incorrect naming in devfile must not affect anything.

[2018-12-21 08:12] #12080 closed

[2018-12-21 08:17] garagatyi commented on #12188
@l0rd I think it is a good way to go. No issues with scalability and tokens, better UX

[2018-12-21 09:51] ibuziuk commented on #12187
@garagatyi in this case it looks like probes would be created for all workspace marked as "Running" in db, right ? As  I recall ~600 workspaces are recovered every time during rolling update, due to issue like ghost deployments and in this case queue size would be ~ 600 * 3 = 1800 (and according to heap dump it is ~ 15 100). So, it looks like applying the patch and fixing https://github.com/eclips

[2018-12-21 10:15] #11744 closed

[2018-12-21 12:06] garagatyi commented on #12187
Could you elaborate on how you came up with the number 100? Not sure I'm on the same page.

OK

[2018-12-21 12:19] vparfonov opened #12254 "IDE-2019-01-15 (Sprint: 160)"
### Issues

#### Sprint goals
- [x] Add new workspace:inject --kubeconfig command https://github.com/che-incubator/chectl/issues/31
- [x] Workspace commands should be in Theia command palette #12239
- [x] [plug-in] Add API to apply workspace edit theia-ide/theia#2784
- [ ] Rework Theia Task extension to Task plugin #11458**
- [x] [plug-in][tasks] Add tasks.onDidStartTask API theia-ide/theia#3505
-

[2018-12-21 12:27] garagatyi opened #12255 "Release new plugin broker and reconfigure CI"
### Description
[PR](https://github.com/eclipse/che-plugin-broker/pull/21) adds new broker. We need to release it and push to Dockerhub.
Build new broker with:
`docker build -t eclipse/init-plugin-broker:latest -f Dockerfile.ipb .`
It is called init plugin broker.
Tag v0.6.0

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-12-21 12:33] SharkJ commented on #12120
Hi @sr229, I cloned the git repo, changed the che-theia directory as mentioned above, and built it in Ubuntu Virtual Box. Is it really possible extend Che Theia by the method I tried?
Thanks!

[2018-12-21 12:47] ibuziuk commented on #12187
@garagatyi ~30 workspaces that are *really* `Running` * 3  probes (wsagent, exec, terminal) = ~100 TimeoutProbeTasks

[2018-12-21 13:48] skabashnyuk commented on #12246
@l0rd

Defenetly local registry running in your namespace can solve some part of the usecases.
Have you though about the usecase when user want to share plugin or editor without publishing to any registry. Like if he is doing POC, I guess 99.99% of our new contributors will start from POC that they are not going to publish. When to share it the only thing is needed is to push your code to github w

[2018-12-21 15:00] garagatyi commented on #12246
@skabashnyuk  by this PR you are trying to avoid usage of a new release on every change. This is a valid use case, but it is not related to avoiding usage of the registry at all.
And if you really want to add a plugin without deploying it to a registry you can mimic custom registry URL. In your case you can add next plugin entry to workspace attribute with plugins:
`https://raw.githubusercontent.c

[2018-12-21 15:16] #12164 closed

[2018-12-21 16:17] sr229 commented on #12120
@SharkJ was your user named `theia` ? I got a hunch this might be an issue of hardcoded paths

[2018-12-22 09:10] SkorikSergey opened #12259 "Cannot install dependencies for 'angular-patternfly-starter' sample project"
**Reproduction Steps:**
1. Create and start a workspace through **Dashboard** from ```Node``` stack with ```angular-patternfly-starter``` project sample.
2. Wait for the **IDE** is ready to use and start "**angular-patternfly-starter:install dependencies**" command.
3. Wait for installing project dependencies finished.

**Actual result:**
Command finished with "```ECONFLICT Unable to find suitable

[2018-12-22 09:32] mmorhun opened #12260 "Make Theia plugin state and workspace state persistent"
### Description
We need to make persistent plugin `globalState` and `workspaceState` from the plugin context, so after workspace restart data shouldn't be lost.

[2018-12-22 10:04] dmytro-ndp opened #12261 "Role "user" looks redundant in Eclipse Che keycloak"
### Description
We have role **"user"** in keycloak with description _"Eclipse Che user"_:
![user-role](https://user-images.githubusercontent.com/1197777/50373057-4f6b8780-05d9-11e9-85a2-2d9d57290c52.png)

But admin user and user created from UI aren't assigned to role "user" by default, and they work correctly:
- admin user roles by default (Che was deployed by command `che/deploy/openshift/ocp.s

[2018-12-22 11:47] svor opened #12262 "Update lsp4j to 0.6.0 version"
### Description

0.30.0.x version of  `eclipse.jdt.ls` depends on lsp4j-0.6.0
so it would be nice to update version of **lsp4j** to 0.6.0 in che.

[2018-12-22 11:51] riuvshin commented on #12255
done

https://ci.codenvycorp.com/view/release/job/release-che-plugin-broker/

[2018-12-22 11:51] #12255 closed

[2018-12-22 13:12] svor opened #12263 "Update version of eclipse.jdt.ls"
### Description

Need to update version of eclipse-jdt-ls to 0.30.0 in [che-ls-jdt](https://github.com/eclipse/che-ls-jdt) to avoid build failure.
`[ERROR] Failed to resolve target definition /home/vsvydenko/.m2/repository/org/eclipse/jdt/ls/org.eclipse.jdt.ls.tp/0.27.0.20181114223651/org.eclipse.jdt.ls.tp-0.27.0.20181114223651.target: Failed to load p2 metadata repository from location http://dow

[2018-12-22 13:14] tolusha commented on #12263
/cc @tsmaeder

[2018-12-22 13:17] svor commented on #12262
/cc @tsmaeder

[2018-12-22 13:53] sleshchenko commented on #11512
Related to https://github.com/eclipse/che/issues/11801

[2018-12-22 13:53] #10358 closed

[2018-12-22 13:54] #10357 closed

[2018-12-22 13:56] sleshchenko commented on #10132
Closed since `kubectl` deployment approach is removed

[2018-12-22 13:56] #10132 closed

[2018-12-22 14:02] skabashnyuk commented on #12246
https://raw.githubusercontent.com/skabashnyuk/eclipse-che-plugins/master/broadway-docker:1.0.0 which represents original meta.yaml content here https://raw.githubusercontent.com/skabashnyuk/eclipse-che-plugins/master/broadway-docker/1.0.0/meta.yaml
I'm suggesting making this simpler by using unchanged raw link to meta file https://raw.githubusercontent.com/skabashnyuk/eclipse-che-plugins/master/br

[2018-12-22 14:03] garagatyi commented on #12246
Exactly!

[2018-12-22 14:17] skabashnyuk commented on #12246
So you think this issue is a valid usecase?

[2018-12-22 14:42] sleshchenko commented on #11906
The issue is updated to support Kubernetes/OpenShift List as tool in Defile. The separate issue should be created for supporting `dockerimage` tool by Devfile.

[2018-12-22 14:46] #12127 closed

[2018-12-22 14:46] benoitf commented on #12246
It looks for me odd. It seems you don't want to publish something on github but you still want to provide meta.yaml on github as well. So you still publish something externally.  I'm not sure it's easier than using the custom registry provided directly when you're on che.openshift.io

[2018-12-22 14:53] garagatyi commented on #12246
As I said previously:

[2018-12-22 15:10] sleshchenko commented on #8282
@slemeur Looks like no any activities in this issue for a long time, but as far as I know, there are few issues for Plugin Registry UI. Should this epic issue be closed or updated to contains actual plans around it?

[2018-12-22 15:53] sleshchenko opened #12266 "Factory flow should support k8s/OS tool in Devfile"
### Description
The goal is to improve factory flow to support k8s/OS tool with a relative path to a configuration file specified in Devfile.
<details>
<summary>
# An example of Devfile with Kubernetes/OpenShift tool specified
</summary>

[code]
</details>

An idea is not to embed k8s/OS yaml into Devfile model but just reference file with k8s/OS content that is located in the same repository wher

[2018-12-22 15:54] sleshchenko commented on #12266
It depends on https://github.com/eclipse/che/issues/11906

[2018-12-22 15:54] SkorikSergey opened #12267 "Import on ws-agent does not work"
**Reproduction Steps:**
1. Create and start a workspace through **Dashboard** from any stack with project
2. Wait for the **IDE** is ready to use.

**Expected result:**
The added project exists in **Project Explorer**.

**Actual result:**
The project is not exist in **Project Explorer**.
There is error in browser console -
[code]

**Che version**: Docker 6.16.0-SNAPSHOT
**OS and version:** Fedora

[2018-12-22 16:11] sleshchenko opened #12268 "K8s/OS infrastructure should use Ingresses/Service/Route as Che Server"
### Description
The idea is to make it possible to use base K8s/OS recipe content for workspaces. It comes from Devfile workflow.
Now a user is forced to declare machines and servers inside them to have his/her server available and exposed by Che.
K8s/OS infrastructures should support Ingresses/Service/Route in recipes and resolve these objects as Che Server. Like, `Service` is may be resolved aut

[2018-12-22 16:14] sleshchenko commented on #12268
cc @ibuziuk
I see that you added supporting OpenShift Routes issue[1] into your sprint. Not sure that now it makes sense to implement supporting bare OpenShift Routes without resolving them as Che Servers as a separate issue. So, our teams need sync about it.

[1] https://github.com/eclipse/che/issues/11530

[2018-12-22 16:23] sleshchenko opened #12269 "K8s/OS infrastructure should use PVCs as Che Volumes"
### Description
The idea is to make it possible to use base K8s/OS recipe content for workspaces. It comes from Devfile workflow.
Now a user is forced to declare machines and Che Volumes inside them to have an ability store data.
K8s/OS infrastructures should support PVCs in recipes and resolve them as Che Volumes.
The difficulty of implementing comes from PVCs strategies:
- in the unique strategy

[2018-12-23 09:49] VonTalavang commented on #3744
it is not solve, and is 2018

[2018-12-23 21:06] skabashnyuk opened #12272 "Devfile Spec documentation generator"
### Description

Ideally, we should have a way to generate Devfile Spec documentation from Json-schema https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-devfile/src/main/resources/schema/devfile.json

So far I found such generators.

- https://github.com/bootprint/bootprint-json-schema
- https://github.com/interagent/prmd
- https://github.com/cloudflarearchive/json-schema-docs-gener

[2018-12-23 21:11] skabashnyuk commented on #12243
There are some options like
- https://blog.docker.com/2018/07/kubernetes-is-now-available-in-docker-desktop-stable-channel/
- https://che.eclipse.org/running-eclipse-che-on-kubernetes-using-docker-desktop-for-mac-5d972ed511e1

[2018-12-23 21:26] skabashnyuk opened #12273 "Not able to load GWT IDE running in sidecar from dashboard"
### Description
IDE is not loaded because it's trying to follow keycloak authentication redirection and they are not allowed in Iframe/and because some che-master API is not available to access with machine token.
<img width="1438" alt="08 52 36" src="https://user-images.githubusercontent.com/1614429/50387626-aff9e200-0709-11e9-8d59-cd294f69af1e.png">
The goal if this task is review actions that I

[2018-12-24 05:01] LahiruT94 opened #12274 "Language server not initializing with the file extension."
### Description
I have created an IDE extension using che-plugin-wizard for creating a new project and file type and integrated it with a xtext language server as a sidecar. When I run the recipe using swagger it comes to the stack and can be used to create the workspace. (Image also gets pulled and loaded into the workspace) But when I create a file with the extension language server won't start.

[2018-12-24 13:30] sunix commented on #12120
@SharkJ we are introducing new script to build che-theia: https://www.npmjs.com/package/@eclipse-che/theia-generator . At the moment the list of extension is hard coded but we have plans to provide a custom extensions list. cc @benoitf

[2018-12-24 16:47] l0rd commented on #12230
@mmorhun killing the child processes is a responsibility of the parent process, not Che's. Using `supervisor` is something that I would avoid in any case.

[2018-12-26 08:55] #12057 closed

[2018-12-26 09:15] #12132 closed

[2018-12-26 09:16] riuvshin opened #12276 "Release CHE 6.16.0"
Release CHE 6.16.0

[2018-12-26 10:06] #11895 closed

[2018-12-26 10:47] sleshchenko commented on #12268
I updated my previous comment after discussion with @skabashnyuk and @garagatyi

[2018-12-26 11:18] mshaposhnik opened #12278 "Cover remote factory URL usecases"
### Description
Recent changes in factory to add `.devfile` support (see #12186) showed that many features of `factory.json` support doesnt works, and no regressions in integration tests are showed (because there is no tests for them)
 Need to create tests for them.

Test 1.
User have repository with `.factory.json` in it. Example: https://github.com/ctron/hono-example-demo-gauge
He wants to creat

[2018-12-26 13:50] vkuznyetsov opened #12280 "QE-2018-01-15 (Sprint: 160)"
### Sprint goals
- Setup QA process for Che7

### Issues tied to objectives
- [x] Investigate e2e technologies for Thea #12204 5sp
- [x] Add an ability to exclude flaky selenium tests from execution #12129 1sp
- [x] Adapt selenium tests from 'factory' package according to factory creation changes #12295 1sp
- [x] Refactoring selenium tests from the 'debugger' package #12299 2sp
- [x] Test LoginNew

[2018-12-26 15:10] sleshchenko opened #12282 "Scheduled task can not be configured with `CHE_...` environment variables"
### Description
Scheduled task can not be configured with `CHE_...` environment variables

### Reproduction Steps
1. Deploy Che with the following environment variables enabled:
`CHE__WORKSPACE__ACTIVITY__CHECK__SCHEDULER__DELAY__S=360`
`CHE__WORKSPACE__ACTIVITY__CHECK__SCHEDULER__PERIOD__S=420`
`CHE_LOGGER_CONFIG=org.eclipse.che.commons.schedule=DEBUG`
2. Check Che Server Logs
Expected: Workspace

[2018-12-26 15:34] skabashnyuk commented on #12282
can you try single ```CHE_WORKSPACE*``` instead of ```CHE__WORKSPACE*```?

[2018-12-26 16:35] #12084 closed

[2018-12-26 17:30] nkolban opened #12285 "Bad messages in startup log after changing CHE_HOST"
### Description
On a PC I run che using

[code]

I then stop the PC and start it again and now I have changed my IP address.  I restart Che using:

[code]

The following is logged:

[code]

The issue I am reporting is the last two lines of the startup log.  They refer to the original IP address used when Che was first initialized and not the current IP address.  Che is indeed working when I connec

[2018-12-26 18:35] dmytro-ndp commented on #11455
ci-test

[2018-12-26 22:10] l0rd commented on #12230
@mmorhun agreed. And that's exactly what the commands `kill` and `kill -9` do.

[2018-12-27 07:20] #12241 closed

[2018-12-27 07:49] hsgwd commented on #2981
How is this issue going?
I faced the same problem.

Several other Emacs keybindings are also duplicated with IDE or browser keybindings, and I cannot use Emacs keybindings.
I cannot use ``Ctrl +N``  for ``Line down`` because it opens new window of browser.
``Ctrl + B`` cannot be used for ``Previous Character`` because it activates ``Branches`` dialog.

Is there any workarounds for this issue?

[2018-12-27 08:30] dmytro-ndp commented on #11455
ci-test

[2018-12-27 09:08] towaish opened #12290 "Request not respond from che plugin to che stack"
### Description

We are creating a server on the che stack and a plugin with screen to access this server.
Usually, this plugin display screen as expected, but sometimes it can't display not reproducible.

The part of the cord is below.

In UiAction class (extends BaseAction), a URL is gotten from server definition of workspace,
and it is stored to singleton variable 'myUrl'.
This server's port (i

[2018-12-27 10:41] sunix commented on #12230
yep, by default it would just behave like `kill`. If user can't kill it with it, he would use the terminal a `kill -9` himself.

[2018-12-27 10:46] sr229 opened #12291 "Hyperd support"
### Description

Hyper Containers is a type of container runtime that uses runV, instead of runC, for containers. Each container supplies its own minimal kernel, providing isolation. The Hyper Container runtime also has support for Pods - a term used in Kubernetes to denote a basic representation of compute containing one or more containers, in the case of Hyper - one or more namespaces in one VM.

[2018-12-27 11:05] dmytro-ndp commented on #12261
[E2E test report|https://ci.codenvycorp.com/job/che-pullrequests-test-ocp/1360//Selenium_20tests_20report/] shows no regression for test user without "user" role.

[2018-12-27 13:21] garagatyi opened #12292 "Remote Theia Plugins execute commands in Theia container instead of their own sidecar"
### Description
When VS Code extension is running as Theia remote plugin it can execute a command in a terminal. At least Kubernetes extension does it to call kubectl commands.
And it always opens terminal to Theia container whereas in our case kubectl is placed inside of a remote plugin container.
We need to figure out:
- how to make terminal be opened in a remote container instead of Theia's one

[2018-12-27 14:22] SkorikSergey opened #12295 "Adapt selenium tests from 'factory' package according to factory creation changes"
### Description
We need to adapt selenium tests from ```factory``` package according to factory creation changes(https://github.com/eclipse/che/pull/12232).

[2018-12-27 14:30] dmytro-ndp commented on #12295
This issue duplicates #12278.

[2018-12-27 14:33] SkorikSergey commented on #12295
This issue adapts existed selenium tests.

[2018-12-27 14:59] dmytro-ndp commented on #12295
I see. Then it's better to add list of fixing tests in description of issue, to avoid misleading.

[2018-12-27 15:25] garagatyi opened #12298 "Theia remote plugin runner should copy env vars when it starts plugin process"
### Description
Some plugins use environment variables to find information about the system. For example location of JRE by JAVA_HOME env var (as Sonarlint does).
But when we run a plugin as remote env vars are not copied to the plugin process, so a plugin cannot find its dependency and ask a user to install it or configure its value in IDE settings.
We would provide better UX if we allow plugins

[2018-12-27 15:38] artaleks9 opened #12299 "Refactoring selenium tests from the 'debugger' package"
### Description
* Need to do refactor some selenium tests from the _debugger_ package
* Relate dselenium tests: _CppProjectDebuggingTest_, _PhpProjectDebuggingTest_, _StepIntoStepOverStepReturnWithChangeVariableTest_

[2018-12-27 15:41] riuvshin commented on #12276
done

[2018-12-27 15:41] #12276 closed

[2018-12-27 19:52] Transmitt0r commented on #7434
@vzhukovskii  Alright, but how does one open the context menu on a touch-device?

[2018-12-28 08:13] mkuznyetsov opened #12301 "Release new version of che-dev"
Release new version of che-dev, containing new templates for license git maven plugin

[2018-12-28 09:10] SkorikSergey commented on #11419
This issue is still reproduces in Che 6.17.0-SNAPSHOT.

[2018-12-28 09:34] #12167 closed

[2018-12-28 09:34] #10904 closed

[2018-12-28 09:34] #10030 closed

[2018-12-28 10:00] vtawniya opened #12302 "How git local commits of multiple users are stored when a workspace is being shared by multiple users ?"
### Description
If am a single user and I am working on a project using eclipse che with theia ide, I am mounting only the project directory for persistent project data and as the cloned github project when loaded into that directory will also store git related metadata like local commits etc.

So in case I am generating a SSH key for git and loading it into my account, I have following questions:

[2018-12-28 10:15] #12207 closed

[2018-12-28 10:22] dmytro-ndp opened #12303 "Fix configuration of qa-nightly jobs on CI to run flaky selenium tests"
### Description
There is [an issue](https://github.com/eclipse/che/issues/12129) about exclusion flaky selenium tests from execution by default.
After the corresponded [PR](https://github.com/eclipse/che/pull/12296) will be merged, we need to fix configuration of [che-integration-tests-multiuser-master-ocp-all-tests job](https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuse

[2018-12-28 10:55] #12129 closed

[2018-12-28 11:04] garagatyi opened #12304 "Cache and persist workspaces subjects to allow performing workspace operations by service thread when user token is used to access k8s/OS API"
### Description
We have several cases when workspaces subjects are lost after restart of Che master:
- update of Che
- OOM of Che master
In these cases, with some auth configuration, Che master is no longer able to stop workspace and cleanup resources.
This happens because of loss of a subject of a user that started a workspace.
Actually, Che needs to cache subjects even when no Che master restart

[2018-12-28 11:06] garagatyi commented on #11937
@sleshchenko should be fixed already

[2018-12-28 11:07] garagatyi commented on #11964
@sleshchenko can you confirm that this issue is still a blocker taking into account that it is open for more than a month?

[2018-12-28 11:08] garagatyi commented on #12304
@ibuziuk I created issue upstream since now it is actual for different installations of Che. Not sure which team should work on this issue.

@sleshchenko @skabashnyuk FYI

[2018-12-28 11:11] garagatyi commented on #12304
Updated description with an example of the solution.

[2018-12-28 11:39] sleshchenko commented on #11964
@garagatyi I agree that it is not blocker if it is not solved for more than a month. So, I changed severity to `P1` since it makes `ci-tests` job unstable.
@dmytro-ndp Are there any plans to investigate this issue?

[2018-12-28 11:41] #12186 closed

[2018-12-28 11:51] sleshchenko commented on #11937
@garagatyi I've tested it and you're right: Can't reproduce anymore.

[2018-12-28 11:51] #11937 closed

[2018-12-28 13:36] dmytro-ndp commented on #12261
Redundant keycloak role "user" has been removed.

[2018-12-28 13:36] #12261 closed

[2018-12-28 13:39] #12052 closed

[2018-12-28 13:43] riuvshin commented on #12303
done

[2018-12-28 13:43] #12303 closed

[2018-12-28 13:43] dmytro-ndp commented on #11964
@sleshchenko: actually the problem hasn't occurred on CI since then, and logging of workspaces has been fixed, AFAIK.
So, it's not quite clear how to reproduce the issue.

[2018-12-28 13:45] sleshchenko commented on #11964
@dmytro-ndp Then WDYT about closing this issue until we will not face this again?

[2018-12-28 14:38] evidolob opened #12306 "Move all che-theia related extensions/plugins in che-theia repository"
### Description
As we discuss on che-dev mail we should move all Che + Theia related projects in one repo:
https://github.com/eclipse/che-theia

### IDE1
- [ ] che-theia-emacs-plugin https://github.com/eclipse/che-theia-emacs-plugin empty repo
- [ ] che-theia-vi-plugin https://github.com/eclipse/che-theia-vi-plugin empty repo
- [x] Theia - Che Task Extension https://github.com/eclipse/che-theia-ta

[2018-12-28 14:40] dmytro-ndp commented on #11964
There is [an issue about JSON-RPC messages is still in progress](https://github.com/eclipse/che/pull/12252), so problem could reproduce again if _java language server_ starts producing abnormal messages again.

[2018-12-28 14:41] #12067 closed

[2018-12-28 14:43] #11964 closed

[2018-12-28 14:45] dmytro-ndp commented on #11964
This issue is related to https://github.com/eclipse/che/issues/11961.

[2018-12-28 19:58] #11455 closed

[2018-12-29 08:57] dmytro-ndp opened #12309 "Test LoginNewUserWithOpenShiftOAuthTest#checkNewCheUserOcpProjectCreationAndRemoval failed on CI"
### Description
There is E2E selenium test [LoginNewUserWithOpenShiftOAuthTest#checkNewCheUserOcpProjectCreationAndRemoval](https://github.com/eclipse/che/blob/3c5d00b8d389151355e5eeda541cfc6790afa666/selenium/che-selenium-test/src/test/java/org/eclipse/che/selenium/site/ocpoauth/LoginNewUserWithOpenShiftOAuthTest.java#L139) which have failed [on CI](https://ci.codenvycorp.com/view/qa-nightly/job/

[2018-12-29 11:33] SkorikSergey commented on #8909
This issue reproduces in CHE 6.17.0-SNAPSHOT.

[2018-12-29 12:18] SkorikSergey opened #12311 "Factory with keep directory feature does not work"
**Reproduction Steps:**
1. Invoke a factory from a specific git repository (for more info see **Eclipse Che** documentation - https://www.eclipse.org/che/docs/che-6/factories-getting-started.html#invoke-factory-for-a-specific-git-repo) by using ```<your path to Che>/f?url=https://github.com/iedexmain1/multimodule-project/tree/master/my-lib``` link.

**Expected behavior:**
After workspace is starte

[2018-12-29 12:25] artaleks9 opened #12312 "Refactoring selenium tests from the 'editor' package"
### Description
* Need to do refactor some selenium tests from the _editor_ package
* Relate dselenium tests: _AutocompleteProposalJavaDocTest_, _SplitEditorFeatureTest_

[2018-12-29 13:47] SkorikSergey opened #12315 "[Theia] Cannot create project by Yeoman wizard"
**Reproduction Steps:**
1. Create and start workspace from "**Che 7**" stack.
2. Wait for **Theia** started.
3. Click **F1** button and type "yeoman" in Proposal input field.
4. Select "**Yeoman Wizard**" proposal.

**Observed behavior:**
There is error notification(see screenshot).

**OS and version:**
Fedora 28.0, Theia

**Failed test:** TheiaBuildPluginTest

**Additional information:**
**Screen

[2018-12-29 14:20] SirSerje commented on #12077
and what to do, if I try to deploy it on Travis?

[2018-12-29 21:40] #12309 closed

[2018-12-30 11:31] skabashnyuk opened #12319 "Che-in-che: create ChePlugin with tools to build/deploy Eclipse Che"
### Description
The goal of this issue is to create ChePlugin and publish it https://github.com/eclipse/che-plugin-registry/tree/master/plugins it will contain:
- Container to build Eclipse che: "eclipse/che-dev:nightly"
- Commands to build/deploy?

[2018-12-31 14:16] #12312 closed

[2019-01-01 21:16] fengshaun commented on #8712
No, I ended up not deploying it due to the hassle. Sorry :(

[2019-01-02 04:09] lishoujun opened #12320 "Cannot create project “java.lang.IllegalStateException: Workspace configuration has not been received yet”"
### Description

docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v /root/che:/data -e CHE_HOST=XXXXXX eclipse/che start
I can create workspace but cannot create project, when i click parent path,console print:

Wed Jan 02 12:05:48 GMT+800 2019 com.google.gwt.logging.client.LogConfiguration
SEVERE: Exception caught: Workspace configuration has not been received yet
com.google.gwt.event

[2019-01-02 08:34] LahiruT94 opened #12321 "Custom plugin build failure"
### Description
I tried creating a custom plugin for Che 6 and when i run the server it gives the following error.
[code]

Folder structure
![pluginsonatype](https://user-images.githubusercontent.com/34393074/50584705-33989900-0e97-11e9-96a4-2addfdb32711.PNG)

**OS and version:**    Che 6 Windows 10

**Diagnostics:**

Complete log --> [Log.txt](https://github.com/eclipse/che/files/2720205/Log.txt)

[2019-01-02 09:34] #12267 closed

[2019-01-02 10:06] #12091 closed

[2019-01-02 10:40] #12090 closed

[2019-01-02 10:55] skabashnyuk commented on #12321
Looks like this is your custom plugin. you forget to build/include ```org.eclipse.che.plugin:plugin-projection:pom``` please revise your pom(s) and build sequence.

[2019-01-02 10:58] skabashnyuk commented on #12320
Due to the lack of/limited availability Docker infrastructure maintainers, I recommend testing the same on Kubernetes/OpenShift.

[2019-01-02 11:00] skabashnyuk commented on #12302
@vtawniya to make sure we are talking about the same thing. Are you referring for Theia based ide, not GWT based? Right?

[2019-01-02 11:15] vtawniya commented on #12302
Right. Theia only

Yes. Theia only

[2019-01-02 11:52] ibuziuk commented on #12187
Merged into master and part of 6.16.0 release. Closing

[2019-01-02 11:52] #12187 closed

[2019-01-02 14:39] #11906 closed

[2019-01-02 15:16] artaleks9 opened #12322 "Selenium: Refactoring selenium tests from the 'factory' package"
### Description
* Need to do refactor some selenium tests from the _factory_ package
* Related selenium tests: _CheckOpenFileFeatureTest_, _CheckRunCommandFeatureTest_, _CreateNamedFactoryFromDashboardTest_

[2019-01-03 07:32] #12322 closed

[2019-01-03 09:16] slemeur opened #12326 "Differentiate the favicon color for hosted IDE"
### Description
When a plugin contributor is writing a plugin, he'll be using the hosted IDE. We put a visual indication that is making it easy to identify the hosted IDE when it is currently the active browser tab.

It would be nice to change the color of the favicon to make it also easy to identify the hosted IDE even when it is not the active browser tab.

Color of the favicon could be green.

[2019-01-03 09:18] Katka92 commented on #11856
Hi guys, any progress here? I'm still facing this issue, as from today:
![screenshot from 2019-01-03 10-10-36](https://user-images.githubusercontent.com/29278800/50630372-e2dd7a80-0f40-11e9-9e4d-9c3147489921.png)

[2019-01-03 09:45] sleshchenko commented on #9941
@jingjing188 Thanks for sharing changes. It would be kind from your side to create a PR with them.

[2019-01-03 09:49] mstavares opened #12327 "Deploy Eclipse Che Public"
Hi all,

I would like to deploy my customized eclipse che in an ubuntu server. I already have a docker image which is running will until the moment I create a workspace. Once created, I have errors regarding a websocket connection. I already disabled the firewall on my server machine, tested the single port flag without success.
[code]
Here is a screenshot of how my eclipse che look like
https://i

[2019-01-03 10:03] SkorikSergey opened #12328 "Selenium: Refactoring selenium tests from the 'dashboard' package"
### Description
* Weed to refactor some selenium tests from the **dashboard** package
* Related selenium tests:  _StacksListTest_, _CreateStackTest_, _CreateWorkspaceTest_, _CreateFactoryTest_, _CreateAndDeleteProjectsTest_, _AddOrImportProjectFormTest_, _NewWorkspacePageTest_, _WorkspacesListTest_.

[2019-01-03 10:18] slemeur commented on #8282
Yes we can close this issue.

Most of the work has been handle with the Plugin Registry
https://github.com/eclipse/che-plugin-registry

[2019-01-03 10:18] #8282 closed

[2019-01-03 12:56] mstavares commented on #12327
Hi,

Finally I have already found a way to solve this. I have just forgot to open the ephemeral ports in my router.

Thanks

[2019-01-03 12:56] #12327 closed

[2019-01-03 13:00] sunix commented on #12302
At the moment (Target Che7 + Theia), we are not working on use cases where different users would work on the same workspace. This is what we plan for Che8 AFAIK.

But for futur design, I don't think we would use ssh for git but rather https and github token which would be easier to separate user preferences that would be associated with a user session.
I can imagine in that futur that command line

[2019-01-03 13:05] sunix commented on #12311
@evidolob @slemeur @l0rd this is a che-theia issue, do we want to prioritize this

[2019-01-03 15:10] #12053 closed

[2019-01-03 16:03] eivantsov opened #12329 "Regexp for pom.xml not working in LanguageServerConfig"
### Description

The issue emerged between 6.15 (it's ok in 6.15) and 6.16.

In Bayesian language server config, the following regexp is used. However, Language Server isn't initialized when pom.xml is opened. LS is inited for package.json and requirements.txt though.

[code]

Interestingly, `".*\\.xml"` works fine, however, in this case LS is initialized for all .xml files.

[2019-01-03 16:38] artaleks9 opened #12330 "Selenium: Refactoring selenium tests from the 'intelligencecommand' package"
### Description
* Need to do refactor some selenium tests from the _intelligencecommand_ package
* Related selenium tests: _AutocompleteCommandsEditorTest_, _CheckIntelligenceCommandFromToolbarTest_, _CommandsPaletteTest_, _MacrosCommandsEditorTest_

[2019-01-04 07:40] vinokurig commented on #12239
I'll do it in the vscode way: tasks will be shown by entering `task ` prefix:

![screenshot from 2019-01-04 09-34-05](https://user-images.githubusercontent.com/7668752/50677833-ae32f700-1004-11e9-9bfa-b76da636fd95.png)

[2019-01-04 08:30] #12330 closed

[2019-01-04 08:37] artaleks9 opened #12332 "Selenium: Refactor selenium tests from the 'languageserver' package"
### Description
* Need to do refactoring some selenium tests from the _languageserver_ package
* Related selenium tests: _CSharpFileEditingTest_, _ClangFileEditingTest_, _GolangFileEditingTest_, _JsonFileEditingTest_

[2019-01-04 08:53] slemeur commented on #11458
How are we doing on this issue and what's remaining? is the task list in the issue description up to date?

[2019-01-04 08:59] vinokurig commented on #12239
It looks like it already works in this way in Theia as well. The other way of viewing task is:
* enter `Ctrl + P`
* enter `task `

@l0rd @vparfonov can we close the issue?

[2019-01-04 09:53] vparfonov opened #12333 "Update list of Commands in Runtime without workspace restart"
### Description
It looks wired at the moment if I create new one or update existed command in WorkspaceRuntime it not updated. For getting actual state need to restart workspace

[2019-01-04 12:08] #10905 closed

[2019-01-04 12:22] skabashnyuk opened #12334 "Investigate possible ways of adaptation of Resource API to sidecars machines"
### Description
Study possible ways to resolve:
- Include sidecars memory into total memory of workspace on dashboard https://github.com/eclipse/che/issues/11801
- Workspace RAM limit doesn't work with sidecar-based workspaces https://github.com/eclipse/che/issues/11424

[2019-01-04 12:37] sunix commented on #12311
I cannot find/remember what was the git command/option used behind the scene in the GWT app

[2019-01-04 13:50] #12047 closed

[2019-01-04 14:48] tolusha opened #12336 "It is not possible to run several workspaces with remote plugins"
### Description

### Reproduction Steps
Run several workspaces all workspace should have remote plugins

**OS and version:**
[code]

**Diagnostics:**
![screenshot from 2018-12-29 15-14-40](https://user-images.githubusercontent.com/1640675/50693701-5d40f400-1040-11e9-88c0-55a84542594e.png)

[2019-01-04 15:26] SkorikSergey opened #12337 "[Che 7] Cannot add new env variable, server or volume to Che 7 stack"
### Description
This issue reproduces only when all 3 machines("ws/theia-ide", "ws/che-machine-exec" and "ws/dev") exist in **Machines** list.

**Reproduction Steps:**
1. Create and start workspace from "**Che 7**" stack.
2. Open this workspace details page.
3. Click on **Env Variables** tab.
4. Select **ws/dev** machine from machines list.
5. Click on **Add Evn Variable** button.
6. Create a new

[2019-01-04 21:19] alankent commented on #11521
Did you get this one worked out? I am hitting the same issue. However I got a bit more logging information, if you `sudo` you can read `/var/log/mysql/error.log` where there is an ERROR line in it causing it to abort.

[code]

Not sure what the right way to start up MySQL in this container is.

[2019-01-04 21:30] alankent commented on #11521
Ah, I found the issue. It's a Docker issue on Mac. https://github.com/docker/for-linux/issues/72

If you run (as root) `find /var/lib/mysql -type f -exec touch {} \; && service mysql start` then it seems to start up okay.

[2019-01-05 10:45] #12332 closed

[2019-01-07 00:23] hsgwd opened #12339 "Node.js App with TypeScript Debugging"
This issue is related to #10669.
We need to debug application made by TypeScript with Node.js.

I saw the issue #12170 and I know TypeScript and Node.js debbugger will be included in Eclipse Che 7.

At the moment, however, I need to debug application using Eclipse Che 6.x.
Is there any plan for supporting TypeScript and Node.js debugger in Eclipse Che 6.x?

[2019-01-07 02:50] monaka commented on #12042
Master. I'm trying to fix this.

[2019-01-07 04:16] monaka opened #12340 "Can't build the che-dev container."
### Description

I couldn't build the che-dev image.
(This is not same as #11822 #10940 #5845.)

### Reproduction Steps

[code]

**OS and version:**

the master branch.

**Diagnostics:**

[code]

[2019-01-07 04:17] monaka commented on #12340
I'm trying to fix this. I'll send new PR later.

[2019-01-07 04:43] monaka opened #12341 "Can't run `go` command in Che-dev."
### Description

There is no Golang installation in recent nightly builds of Che-dev
### Reproduction Steps

[code]

**OS and version:**

the master branch

**Diagnostics:**

[code]

[2019-01-07 04:44] monaka commented on #12341
I'm trying to fix this issue. I'll send PR later.

[2019-01-07 04:51] monaka opened #12342 "Public key for rh-maven35-1-1.2.el7.x86_64.rpm is not installed."
### Description

I got logs `is not installed` In building `che-dev`.
It should be installed with no message.

### Reproduction Steps

[code]

**OS and version:**

the master branch.

**Diagnostics:**

[code]

[2019-01-07 04:51] monaka commented on #12342
I'm trying to fix this. I'll send PR soon.

[2019-01-07 04:58] monaka commented on #12342
I'm trying to fix this. I'll send PR soon.

[2019-01-07 05:12] monaka commented on #12342
It looks this issue is my misunderstanding. Indeed `not installed` is shown. But the next stage, the pubkey is installed. And rh-maven35-1-1.2.el7 is also installed. I close this.

[code]

[2019-01-07 05:12] #12342 closed

[2019-01-07 06:49] FDU-SE-LAB opened #12344 "Your project eclipse/che is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 09:14] ibuziuk commented on #12026
@garagatyi could you please link all the existing PRs to the issue ?

[2019-01-07 11:21] SharkJ opened #12345 "Initialization Timeout Error in LS-Sidecar"
Hi,

I have created a somewhat large xtext project of a DSL named client. I tried to implement it to Eclipse Che as a sidecar, and I get an initialization timeout error when creating a file with my DSL's extension (.client).

This is the error that I'm getting in the dev-machine terminal: -
[code]

Below is an error I get in client-language-server-ls terminal: -

[code]

This is the raw config I u

[2019-01-07 11:31] ibuziuk opened #12346 "./deploy_che.sh is failing due to changes introduced in CorsFilter"
./deploy_che.sh is currently failing with

[code]

[2019-01-07 11:45] vgopalakPrgs opened #12347 "Is there an ability to update workspace runtime config without recreating the k8s deployments?"
### Description
For our project we are dynamically creating k8s deployments other than the ones in the workspace.
We are trying to provide following features for our dynamic deployments,
- Terminal access to dynamically create pod
- Stop all deployments on workspace stop
- Expose the ingress service created via Servers

The provisioning of these deployments will happen via kubectl/helm in the same

[2019-01-07 11:46] ibuziuk commented on #12346
Need to remove `CHE_WSAGENT_CORS_ALLOWED__ORIGINS` from the template (it will be automatically detected and set based on workspace master domain)

[2019-01-07 14:09] donenocode opened #12348 "Che on OpenShift will no longer start"
### Description
An existing Che installation on OpenShift Origin development system was working nicely but the entire OpenShift cluster was shutdown for a number of days.
Upon starting up the OpenShift nodes and subsequently starting Che, it fails to start.
The Keycloak and Postgres PODS both start cleanly but the Che pod ends up in a CrashLoopBackOff.

The version of Che is 'latest' (actually 6.1

[2019-01-07 14:13] donenocode commented on #12348
Just noticed the previous version for '**deploy/openshift/templates/che-server-template.yaml**' had '**CHE_CORS_ALLOW__CREDENTIALS**' with a value of  '**true**'

[2019-01-07 14:16] rsankarprgs commented on #12302
Does che 6.x support user session/preferences as part of the workspace environment?

[2019-01-07 14:58] OonjuoO commented on #11773
Hello,

I tried several che-server images, all of them would pop up this undefined error when I try to create a workspace.

But it seems this problem is not solved yet, is there any work around to escape this undefined error?
I am using helm chart to deploy che on K8s.

Thanks

[2019-01-07 16:30] donenocode commented on #12348
I change the env variable on the deployment and re-deployed Che and it now starts up.
The next issue is now I cannot create projects in workspaces. No project types/samples are listed when clicking the 'Create Project...' link
The 'Import Project...' link also does not work :(

[2019-01-07 16:35] slemeur commented on #12348
cc @skabashnyuk

[2019-01-07 18:59] andrewazores opened #12349 "Can't run workspaces with "Che 7 Dev" stack"
### Description
Attempting to create and run a new workspace with the "Che 7 Dev" stack fails with the following output:

[code]

Possibly the same as https://github.com/eclipse/che/issues/10643 ?

### Reproduction Steps
Go to che.openshift.io and follow the workspace creation wizard. Select the "Che 7 Dev" stack, then proceed to "Create & Open" the workspace.

[2019-01-07 19:09] JPinkney commented on #12142
I've been exploring VSCode-YAML in Theia and it looks like a few features aren't working.

The language server currently supports validation, format, auto completion, hover, document outlining, and automatically loading schemas from JSON schema store. However, it looks like only document outlining is working despite the languages api being implemented for those features IIRC.

The first step to ve

[2019-01-07 19:45] mmcparlane opened #12350 "Workspace Agents HTTP Status 404 – Not Found"
### Description
When running Eclipse Che (6.16.0 and nightly) using Docker for Windows 10 the workspace agents do not properly resolve the API and websocket resources. Running version 6.15.0 seems to work okay.

### Reproduction Steps

**OS and version:**
Windows 10.0.17134 Build 17134
Docker Desktop Version 2.0.0.0-win81

**Reproduction steps:**
1. Launch eclipse che: `docker run --rm -ti -v /var

[2019-01-07 23:18] l0rd commented on #12349
@andrewazores thank you for reporting this. I was able to reproduce it as well but trying to restart the workspace a second time worked fine.

@ibuziuk @benoitf it looks like theia takes a lot to bootstrap. Do you have any clue?

[2019-01-07 23:36] monaka commented on #12077
I think that just deleting `yarn.lock` will bring potential weakness. You should think how `event-stream` was contaminated.

[2019-01-08 00:16] andrewazores commented on #12349
Hmm. I've tried refreshing/F5ing after the "Failed to run" message several times today, as well as deleting and recreating an entirely new workspace with the same stack and repeatedly launching that as well. No luck so far, same failure mode every time.

Is there anywhere else I can look for error logs than that bottom pane that appears while the workspace is starting?

[2019-01-08 04:32] phuongtailtranminh opened #12351 "Add plugin menu to custom assembly"
### Description
I'm trying to add the custom [plugin menu](https://github.com/che-samples/che-plugin-menu) to the Che source code che/plugins directory in order to build the custom assembly and to enable SDM (SuperDevMode) feature.

After I rebuilt the plugin, ide, assembly-ide and assembly-main module and re-mount it to the Docker, nothing happens.

I managed to run it as standalone (without the

[2019-01-08 07:30] eivantsov commented on #12339
@hsgwd there are no such plans. Nodejs debugger is implemented for Che 7 in Theia IDE

[2019-01-08 07:30] #12339 closed

[2019-01-08 08:13] sleshchenko commented on #12347
@vgopalakPrgs Hi, the described use case makes sense for me but unfortunately, there is no such an ability in Che.
@l0rd @slemeur WDYT? Maybe we can consider implementing this enhancement?

[2019-01-08 08:33] #11468 closed

[2019-01-08 08:38] mkuznyetsov commented on #12346
Hi, I cannot see how this failure is related to removal of that variable.

if deploy.sh is failing, and these are logs from Che Server. Then I guess `CHE_WSAGENT_CORS_ALLOWED__ORIGINS` is not at fault here since it is related to WS Agent.

The way I see Che start may fail that way, is if only somebody configured `CHE_CORS_ALLOW__CREDENTIALS=true` and `CHE_CORS_ALLOWED_ORIGINS=*`, which is disallow

[2019-01-08 08:42] tsmaeder opened #12352 "Languages Sprint 160 (L-2)"
# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 4 | 2 | 2
@tolusha | 14 | 8 | 12
@svor | 14 | 8 | 13
@vrubezhny | 13 | 8 | 9

# Candidate Issues
- [ ] Rename project problem #12000 (@tsmaeder)
- [ ] Plugin as sidecar initialization fails when browser is refreshed https://github.com/theia-ide/theia/issues/3970 (@tolusha)
- [ ] Golang plugin https://github.com/eclipse/

[2019-01-08 09:06] mkuznyetsov commented on #12351
@phuongtailtranminh Hello, can you please answer these questions to help narrow down the problem.

1) Can you make sure that you are running your Che with newly built assemblies, and not the one that comes from original Che's Docker image?
You can check if that's the assembly that is build by you by going in Help -> About -> Build Details -> compare build date to build date of your assembly IDE

I

[2019-01-08 09:22] phuongtailtranminh commented on #12351
@mkuznyetsov , Hi

Below is the build info from running IDE
![image](https://user-images.githubusercontent.com/12473996/50821353-925f8600-1361-11e9-9934-275b451f01da.png)

Command to run the custom assembly and its log

![image](https://user-images.githubusercontent.com/12473996/50821207-37c62a00-1361-11e9-97ce-d1c950810109.png)

There is no SampleMenuGinModule inside `/che/ide/che-ide-gwt-app/tar

[2019-01-08 09:48] vgopalakPrgs commented on #12347
Yes @slemeur  I am interested to work on this feature. @sleshchenko Please do let me know how can I contribute.

[2019-01-08 09:48] vgopalakPrgs commented on #12347
As a bare minimum, we are looking for stopping dynamic resources on Workspace stop. Is there any Messaging/Event service that we can listen for Workspace Stop events?

[2019-01-08 09:58] sleshchenko commented on #12347
@vgopalakPrgs Che Server deletes all deployments/pods with label `che.workspace_id` with value that current workspace id https://github.com/eclipse/che/blob/cf1fb2f328a9867ba88f342f94a30c245cc12986/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesDeployments.java#L683
If you able to label deployments/pods with this label then Che Serv

[2019-01-08 10:02] slemeur commented on #12347
That's wonderful @vgopalakPrgs ! Thanks for your proposition.

I would recommend you to connect with @sleshchenko on Eclipse Che mattermost channel. You'll be able to discuss more directly - which will make it easier to work together ;)

You can join from this link: https://mattermost.eclipse.org/eclipse/channels/eclipse-che

Ideally if you could discuss to define the scope and the necessary work

[2019-01-08 10:14] mkuznyetsov commented on #12351
1) do you rebuild `che-ide-full` AND `che-ide-gwt-app` modules? first module is like a place to define all GWT modules, while second is where actual GWT compilation occurs.
2) does your `SampleMenuGinModule` have `@ExtensionGinModule` annotation?

[2019-01-08 10:32] vgopalakPrgs commented on #12347
@sleshchenko Adding CHE_WORKSPACE_ID_LABEL worked splendidly. Che is removing the resources I create on workspace stop. Thanks for the swift reply.

[2019-01-08 10:58] ibuziuk commented on #12346
@mkuznyetsov sorry, false alarm. I was using obsolete version of che :/
Closing

[2019-01-08 10:58] #12346 closed

[2019-01-08 11:50] htirunag opened #13769 "che-theia-terminal-extension be made available as a release"
We are working on a project(briefed as below) and we want to enable terminal-access for containers in our workspace. We download this extension and add it to our package.json, while building our docker image. This works well for us. However, we want to download a tagged/release of che-theia-terminal-extension. So, would like to know, if a release will be made in sometime.

Usecase:
Workspace compr

[2019-01-08 12:07] mkuznyetsov commented on #12348
Hello @donenocode

Yes, that WS Agent problem sounds like CORS is misconfigured - CORS filter must be set that way, that it would allow requests with credentials, and originated from WS Masters domain

Now, on default Che 6.16 this shouldn't happen, as default configuration in openshift templates
Perhaps what is happening is that old configuration (openshift template) of Che 6.15 is used, which do

[2019-01-08 13:04] mshaposhnik commented on #12217
Hey @sunix you can close this because it was done in #12232

[2019-01-08 13:34] dmytro-ndp opened #12354 ""We found a potential security vulnerability in one of your dependencies." warning at GitHub page"
### Description
There is warning at [Eclipse Che github main page](https://github.com/eclipse/che):

![screenshot from 2019-01-08 14-30-57](https://user-images.githubusercontent.com/1197777/50833680-55d85e00-1352-11e9-92cd-d6b9a01850ae.png)

It was linked to the **react-dom**, opened recently in [dockerfiles/theia/e2e/src/package.json](https://github.com/eclipse/che/blob/master/dockerfiles/theia/e

[2019-01-08 13:41] garagatyi commented on #12298
@evidolob are you planning to work on that or you are OK if we handle that to speed up delivery of Che 7?

[2019-01-08 13:44] evidolob commented on #12298
I'm OK to let you handle it

[2019-01-08 13:57] mkuznyetsov commented on #12351
Thing is, I just did the same, copied plugins sources to che, and built `che-ide-full`, and `che-ide-gwt-app`, and after that, the plugin's extension had appeared in that generated class, that lists all GIN modules `/che/ide/che-ide-gwt-app/target/generated-sources/gen/org/eclipse/che/ide/client/inject/IDEInjector.java`

in `che-ide-full` do you have declared correct dependency, of `gwt-lib` type?

[2019-01-08 14:06] andrewazores opened #12355 "Cannot publish_plugin if registry pod has completed"
### Description
If the original registry pod has been completed - for example, if it has been evicted as happened in my case - then the publish_plugin command fails with an error message like:

[code]

I was able to resolve this by visiting my OSO Console and deleting the first, completed Pod in my che-plugin-registry DC's first Deployment. There was already a second Pod in the Deployment with 1 r

[2019-01-08 14:21] #12217 closed

[2019-01-08 14:21] artaleks9 opened #12356 "Selenium: Refactor selenium tests from the 'miscellaneous' package"
### Description
* Need to do refactoring some selenium tests from the _miscellaneous_ and _workspaces_  packages
* Related selenium tests: _FindTextFeatureTest_, _MachinesAsynchronousStartTest_, _OpenInTerminalTest_, _ResolveDependencyAfterRecreateProjectTest_, _WorkingWithSplitPanelTest_, _WorkingWithTerminalTest_, _CreateWorkspaceOnDashboardTest_

[2019-01-08 15:54] benoitf commented on #12354
report was
[code]

but in package.json or yarn.lock we specify to use 16.7.0 version which is already including the fix so report is not accurate AFAIK.

[2019-01-08 15:54] #12354 closed

[2019-01-08 16:41] l0rd commented on #12349
@andrewazores yes sure you can find more informations in:

- openshift events
- workspace pod `theia-ide` container output

You need to have access to your OpenShift Online `-che` namespace though (go to [openshift.io](https://openshift.io) then Settings->Connected Services)

[2019-01-08 16:43] l0rd commented on #12349
An interesting information would be the OpenShift Online cluster you belong to (i.e. the URL in Settings->Connected Services).

[2019-01-08 16:49] andrewazores commented on #12349
console.starter-us-east-2.openshift.com

[2019-01-08 17:31] phuongtailtranminh commented on #12351
@mkuznyetsov , Hi

Below is my customized repo, could you please help to take a look?

https://github.com/phuongtailtranminh/eclipse-che

[2019-01-08 18:56] garagatyi commented on #12355
@mshaposhnik FYI

[2019-01-08 19:57] chris-aeviator opened #12359 "Cannot add ZIP as Project"
### Description
When adding a ZIP as a project to a workspace,Che will raise the following error

[code]

Che seems to try to download the ZIP file with a trailing slash, which returns in the 500.

In my config I can see the url without the slash:

[code]
### Reproduction Steps
1.
[code]
2. Start `simple-theia-docker` workspace
3. add zip file as project

**OS and version:**
Ubuntu 16.04
Docker ve

[2019-01-08 21:53] l0rd opened #12360 "Workspaces resources are not deleted after helm delete"
### Description

When I try to stop che server using the command `helm delete` as described in the [documentation](https://www.eclipse.org/che/docs/che-6/kubernetes-multi-user.html#delete-che-deployment) the running workspaces are not stopped: pod, services, ingress and other kubernetes resources aren't deleted.

### Reproduction Steps

- Start single user Che on minikube using helm
- Start a work

[2019-01-08 22:31] l0rd commented on #12239
Thanks @vinokurig. It makes sense to close it for me. @slemeur ?

[2019-01-08 22:39] fr34kyn01535 commented on #7268
I would generate new API credentials btw. @LahariGuntha

[2019-01-09 05:32] LahiruT94 commented on #12321
I did it and fixed it. Now i get `Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.0.1:analyze-only (analyze) on project che-plugin-projection-server: Dependency problems found -> [Help 1]`
Full log -
[logplugin.txt](https://github.com/eclipse/che/files/2739481/logplugin.txt)

[2019-01-09 07:31] sleshchenko opened #12361 "Introduce selector field for Kubernetes/OpenShift tools in Devfile"
### Description
It was proposed to introduce `selector` field for Kubernetes/OpenShfit tools in Devfile.

See the corresponding discussions
https://github.com/redhat-developer/devfile/pull/2#discussion_r243471108
https://github.com/redhat-developer/devfile/pull/3#discussion_r244739226

`selector` field is `Map<String, String>`. For workspace should be used only those objects from file that have al

[2019-01-09 08:17] tsmaeder commented on #12263
The build failure is due to the fact that builds of jdt.ls are not repeatable: i.e. they depend (necessarily) on integration builds of dependencies that go away after a while.

[2019-01-09 08:57] sunix commented on #12217
thanks :+1:

[2019-01-09 09:12] skabashnyuk commented on #12321
[code]
 means that you should remove :che-core-commons-inject from che-plugin-projection-server  pom.xml

[2019-01-09 09:15] mkuznyetsov commented on #12351
@phuongtailtranminh oh, I get it now
`che-ide-full` and `che-ide-gwt-app` are not listed in `ide` pom.xml, and so they won't be built if `mvn clean install` is invoked from that directory

You'd have to build those modules individually,
or rebuild Che as a whole, as these modules are listed in Che's main pom.xml

As for the rest, your order of building modules is correct.
`plugin-menu` -> `che-ide

[2019-01-09 09:20] evidolob opened #12362 "IDE2-2019-02-05 (Sprint: 161)"
### Sprint Goals:
1.  Adapt dashboard to allow configuring ephemeral mode for workspaces - Beta
2. Define and Document how to develop Che Theia with Che - Beta
3. Projects sync (cloned from Theia) to workspace definition - Beta
4. Minimal set of Theia terminal improvements for Che 7 - Beta

Che 7 Beta Epic - https://github.com/eclipse/che/issues/12170

Next Goals - Che 7 GA:
-  Implement flow to i

[2019-01-09 12:22] mshaposhnik opened #12363 "Move GitHub & factory related code from plugins to factory module"
### Description
Since the plugins module is a subject to decomission together with GWT editor, need to move serverside code to the more appropriate location (e.g. module `che/plugins/plugin-github/che-plugin-github-factory-resolver/`).

[2019-01-09 12:42] musienko-maxim opened #12364 "Create e2e test for Theia with Cypress framework"
### Description
During the discussion in the issue: https://github.com/theia-ide/theia/issues/1118
looks like Cypress e2e framework will be more preferable for Theia. We should study this tool and implement next scenario using this one:
* Run to the Theia locally and go to the Theia IDE
* Clone test-project
* Change a file(s), add to index, commit and push
* Check commit changes
### Reproduction S

[2019-01-09 12:46] slemeur commented on #12239
Yes that's good for me.
Thanks @vinokurig

[2019-01-09 12:46] #12239 closed

[2019-01-09 12:49] ibuziuk commented on #11507
@amisevsk I believe we can close it now

[2019-01-09 14:07] mshaposhnik commented on #12272
Additional JSON schema 2 markdown tools:
https://github.com/adobe/jsonschema2md  (NodeJS, Apache 2.0)
https://github.com/AnalyticalGraphicsInc/wetzel (NodeJS, Apache 2.0 )
https://github.com/rdpickard/doctor_jsonschema_md (Python, BSD-3)

[2019-01-09 14:36] TheZoker opened #12366 "[Hosted Che] Unauthorized! Configured service account doesn't have access."
I tried to run theia within che following these instructions:
https://docs.google.com/document/d/1hFXTwzIU3MnqcciXH9E7xyUtEJRUeUuJ-e0JlEhTKjo/mobilebasic

After doing everything exactly what the docs say, the "Loading" dialog takes forever. After waiting a long time, I tried to start the workspace again. But I get the following issue:

![screenshot_2019 01 09_15h28m07s_009_](https://user-images.gi

[2019-01-09 14:46] andrewazores commented on #12349
I'm still having this ongoing problem with inability to run workspaces the large majority of the time, and this morning I had one occur with a new message:

`Error: failed to run the workspace: "unable to create new native thread"`

Anyway, here are the OpenShift events for what I think is the relevant pod on a typical failure as in the original report. Not sure if this is useful.

![image](https:

[2019-01-09 15:18] mohschmid commented on #12366
Same issue for me!

[2019-01-09 16:51] #12092 closed

[2019-01-09 16:54] #11507 closed

[2019-01-09 16:56] ibuziuk commented on #11505
all PRs are merged to master. Closing

[2019-01-09 16:56] #11505 closed

[2019-01-10 04:11] LahiruT94 commented on #12321
Thanks it worked, but afterwards i build the plugin completely and then linked the `che-plugin-projection-lang-server` and `che-plugin-projection-lang-shared` into `assembly-wsagent-war` and then build the projetcs in the following order.

1. `plugin-projection`
2. `assembly-wsagent-war`
3. `assembly-main`

But when i run Che it doesnt appear in the IDE. Am I including dependencies in the correct

[2019-01-10 05:15] umenthum opened #12369 "Network connections fail even with setenforce 0 and latest docker version [kind/bug]"
### Description
Che fails to start on Centos 7 with latest version of Docker even with SELinux disabled (setenforce 0)

### Reproduction Steps
\> sudo setenforce 0
\> sudo systemctl start docker
\> docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v <omitted>:/data eclipse/che start
WARN: Bound 'eclipse/che' to 'eclipse/che:6.16.0'
INFO: (che cli): 6.16.0 - using docker 18.09.1 / n

[2019-01-10 06:09] sr229 opened #12370 "Dartlang support"
### Description

Dart is a language created by Google that is standardized under ECMA TC52. It has gained traction recently because of a recent development named [Flutter](https://flutter.io).

There is a community LS for Dart support via a [Dart Analysis Server Shim](https://github.com/natebosch/dart_language_server).

[2019-01-10 07:26] skabashnyuk opened #12371 "Platform-2019-02-05 (Sprint: 161)"
### Features related to Devfile
- [x]  Introduce selector field for Kubernetes/OpenShift tools in Devfile | https://github.com/eclipse/che/issues/12361 13

### Features related to Plugin Registry

- [ ] Integrate plugin-viewer | https://github.com/eclipse/che/issues/12373 | 8
- [x] Implement mountSources boolean attribute in che-plugin.yaml | https://github.com/eclipse/che/issues/12510 | 8

### Te

[2019-01-10 08:02] SharkJ commented on #12011
Hi,
Is there any way to add syntax highlighting support for a new DSL implemented in Eclipse Che?

[2019-01-10 08:21] LahiruT94 commented on #12321
These are my plugin sources
[plugin-projection.zip](https://github.com/eclipse/che/files/2744308/plugin-projection.zip)

[2019-01-10 08:39] skabashnyuk opened #12373 "Integrate plugin-viewer"
### Description
The goal of this task is to take this code https://github.com/che-incubator/che-plugin-viewer/pull/1 after it would be merged, package it to docker image and to create necessary changes in our configuration templates to deploy/run it alongside with plugin registry.

[2019-01-10 08:41] #12244 closed

[2019-01-10 08:42] SharkJ commented on #12122
Can anyone please let me know regarding this process?

[2019-01-10 08:46] SharkJ commented on #12345
The error was due to the large number of classes and methods in my Xtext project from which I generated the .jar file to create this language server sidecar. While I had the problem, the MWE2 workflow had the below code snippet: -

parserGenerator{
     options = }
          classSplitting = true
          fieldsPerClass = "100"
          methodsPerClass = "100"
     }
}

After I changed the value

[2019-01-10 08:46] #12345 closed

[2019-01-10 08:47] ashumilova opened #12374 "Add ability to configure ephemeral mode for workspaces from dashboard"
There is attribute, that allows to configure workspace to be ephemeral with no PVC attached on K8S/OpenShift infrastructure, so the aim of the issue is to allow configure that attribute from UI of User Dashboard.
Attribute name is **persistVolumes**, that shoud be set in workspace configuration.

[2019-01-10 08:47] SharkJ commented on #12038
Hi,
Does Che 7 provide a solution to support syntax highlighting for custom languages?

[2019-01-10 08:53] sleshchenko commented on #12249
Also:
* consider renaming `Devfile#dockerimageTool#endpoints[]#targetPort` field to `port` https://github.com/redhat-developer/devfile/pull/2#discussion_r242894015
* consider renaming `Devfile#dockerimageTool#services` field to `endpoints` to sync `che-plugin.yaml` and Dockerimage tool models

[2019-01-10 09:16] l0rd commented on #12272
@mshaposhnik +1 for the adobe jsonschema2md

[2019-01-10 09:48] slemeur commented on #11804
What is your proposal for jwt-proxy then?

[2019-01-10 10:03] sleshchenko commented on #12215
@skabashnyuk It can be easily reproduced on the Dashboard. Here is a short demo
![broker-dashboard](https://user-images.githubusercontent.com/5887312/50961184-c22c9c00-14cf-11e9-8f3e-2ae7a0049624.gif)

[2019-01-10 10:19] AndrienkoAleksandr commented on #11789
Hello, @l0rd . I implemented Add as many "Open Terminal" commands as there are containers. It's looks like:
![terminal-command-per-container](https://user-images.githubusercontent.com/6873095/50551582-ae8d6400-0c8b-11e9-8de1-5963f074669d.gif)
Skipping plugin containers will be done later, when we will resolve filtering issue. Label `New terminal for containerName` of the command is OK?

[2019-01-10 10:33] AndrienkoAleksandr commented on #11866
Blocked by https://github.com/kubernetes/kubernetes/issues/71350

[2019-01-10 10:40] ibuziuk opened #12376 "Navigating to `ide` link provided by workspace API does not open Theia IDE in Che 7"
Once workspace is created a few links are exposed via workspace API e.g.

[code]

However, for workspaces created based on `che7` stacks, navigating to `ide` link does not open Theia IDE:

![image](https://user-images.githubusercontent.com/1461122/50962902-8ee80e00-14cb-11e9-9dfb-2dc951286231.png)

NOTE: navigating to workspace via UD e.g. `https://che.openshift.io/dashboard/#/ide/ibuziuk@redhat.c

[2019-01-10 11:24] garagatyi opened #12377 "Reconfigure CI jobs to release plugin brokers"
### Description
We have a job that releases https://github.com/eclipse/che-plugin-broker.
I a recent PR I changed the code structure, so CI job is outdated now.
Changes needed in the current job:
- Run tests and all the other checks on repo:
[code]
- Now Che Plugin Broker is built with:
[code]
- Now Theia Plugin Broker is built with:
[code]
- Now Init Plugin Broker is built with:
[code]
- Add new

[2019-01-10 12:38] hellanemrri commented on #12366
Same issue for me..???????

[2019-01-10 12:40] sr229 commented on #12370
Also, the official Dart extension for VSCode is worth looking as a baseline implementation for the Theia plugin.

[2019-01-10 13:01] vlko91 opened #12378 "Invalid workspace config with custom recipe address"
### Description
Can not start newly created workspace because of invalid recipe and content field is empty (no location tag present).

I have a an artifactory instance and docker repository running on the separate port (16010) and deployed artifact "test-che-workspace:latest" there. It is available through the UI and docker works fine.
Before workspace creation the stack's recipe content was like:

[2019-01-10 13:23] tsmaeder commented on #12263
@tsmaeder testing

[2019-01-10 13:38] #12242 closed

[2019-01-10 14:09] vparfonov opened #12379 "IDE-2019-02-05 (Sprint: 161)"
### Issues

#### Sprint goals
- [ ] Rework Theia Task extension to Task plugin #11458
- [x] [Theia][Plugin] Add TaskRunner API #11954
- [ ] Include existing GitHub plugin in Che Theia IDE #11867
- [ ] [plug-in] API for register a filesystem provider https://github.com/theia-ide/theia/issues/2861
- [ ] Move all che-theia related extensions/plugins in che-theia repository #12306
- [ ] [plug-in] Impl

[2019-01-10 14:10] tsmaeder commented on #12292
Which plugin API is used to execute the command?

[2019-01-10 14:46] garagatyi commented on #12292
I'm not familiar with theia APIs but after discussions with @evidolob and @AndrienkoAleksandr I think it is createTerminal API (Don't know whether the name is correct or there is some better identifier of the API)

[2019-01-10 15:30] #12377 closed, assigned to riuvshin

[2019-01-10 15:46] phuongtailtranminh commented on #12351
It's worked!! Great thanks <3

[2019-01-10 15:46] #12351 closed

[2019-01-10 15:47] Keyma opened #12382 "IDE crashes after importing Sample Projects"
### Description
Hello guys,

I am currently trying to write a Code generating plugin for Che.
After starting in December last year I have got some basic things working, but after returning to work in 2019 my project did not work anymore.

In order to check whether this is a problem of my code or a general bug I created another Workspace with a sample Project (https://github.com/che-samples/che-ide

[2019-01-11 02:35] sr229 opened #12385 "Dart and Flutter Stacks"
### Description

Goes hand in hand with #12370.

Default stacks for Dart would be:

- the Dart SDK only

- Dart SDK with Flutter with:
   - Android SDK

I will be writing the defualt stacks for such since they're gonna be needed for the referenced PR as well.

[2019-01-11 08:36] slemeur commented on #11789
much better!

On Thu, Jan 10, 2019 at 11:19 AM Oleksandr Andriienko <
notifications@github.com> wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2019-01-11 09:33] #11306 closed

[2019-01-11 09:55] slemeur commented on #12370
Thanks for bringing that @sr229 !
cc @tsmaeder

[2019-01-11 10:59] ibuziuk commented on #7381
Some UD validation has been implemented as part of the https://github.com/eclipse/che/pull/12203

[2019-01-11 11:40] skabashnyuk opened #12388 "Devfile in subfolders"
### Description
Now when you provide factory like this http://domain/f?url=https://github.com/eclipse/che/tree/master/dashboard
factory engine will use search for devfile in such places to create a workspace:
- https://raw.githubusercontent.com/eclipse/che/master/.devfile
- fallback to default .devfile

I propose to add an ability to used devfile in a subfolder so the sequence will look like:
- fi

[2019-01-11 11:54] skabashnyuk commented on #12304
We've discussed this issue with @sleshchenko  @garagatyi @ibuziuk @davidfestal
We think that che should not persist subjects/user token.
Because token can expire and because storing it without encryption is not the safest thing to do.
The main idea is that maintenance operation like inactivity stop or another operation initialized by Che Server without user interaction MUST BE made using special C

[2019-01-11 11:54] sleshchenko opened #12389 "Add support of dockerimage tool in Devfile"
### Description
Add support of dockerimage tool in Devfile.
dockerimage tool format should allow to specify dockerimage like (eclipse/che-server:nightly) and Che specific fields for defining volumes, servers, env vars, etc. See the following example of possible format
[code]

The format should be sync with `che-plugin.yaml` format. See [Plugin Java Model](https://github.com/eclipse/che/blob/master

[2019-01-11 12:34] #11443 closed

[2019-01-11 13:07] olexii4 commented on #11443
@l0rd  Could you explain more about "have a command to access to all available machine/service URL". As I understand, it can be a command, registered by containers plugin and show a list of servers in the modal notification window or something else?

[2019-01-11 13:25] vkuznyetsov opened #12390 "QE-2018-02-05 (Sprint: 161)"
### Sprint goals
- Setup QA process for Che7

### Issues tied to objectives
- [ ] Selenium: Refactoring selenium tests from the 'dashboard' package #12328 2sp
- [x] Selenium: Refactor selenium tests from the 'miscellaneous' package #12356 2sp
- [ ] Implement first component UI cypress test #12457 8sp

### Unplanned

### PR under review

#### Availability

| Name | Available |
| --- | :-: |
| Aleks

[2019-01-11 14:06] #12026 closed

[2019-01-11 14:20] l0rd opened #12392 "Theia remote plugins metadata"
### Description

Theia should support loading a remote plugin without requiring the main process to scan of a local plugin.

[2019-01-11 14:22] eivantsov commented on #12369
@umenthum I'd check if the ephemeral port range isn't filtered

[2019-01-11 14:22] l0rd commented on #11980
Opened #12392 and removed "Theia should support loading a remote plugin without requiring the main process to scan of a local plugin" from the list.

[2019-01-11 14:27] todo opened #12393 "it would be great to check there is real yaml and not binary etc"
https://github.com/eclipse/che/blob/4b303fc35aada9abbef8e074aaa29a8e570b201a/wsmaster/che-core-api-factory/src/main/java/org/eclipse/che/api/factory/server/urlfactory/DevfileEnvironmentFactory.java#L99-L103

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4b303fc35aada9abbef8e074aaa29a8e570b201a when #12353 was merged. cc @eclipse.

[2019-01-11 14:27] todo opened #12394 "it would be great to check there is real yaml and not binary etc"
https://github.com/eclipse/che/blob/c44e1bff66c9c0eba430f8207b373fb414fb1794/wsmaster/che-core-api-factory/src/main/java/org/eclipse/che/api/factory/server/urlfactory/DevfileEnvironmentFactory.java#L99-L103

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c44e1bff66c9c0eba430f8207b373fb414fb1794. It&#x27;s been assigned to @mshaposhnik because t

[2019-01-11 14:29] #12393 closed, assigned to nobody

[2019-01-11 14:59] garagatyi commented on #12298
I figured out that env is not copied when a plugin is running in the main Theia container, not the remote runner. I'm closing the issue since it was a mistake.
BTW @tolusha already working on a solution for copying env for local plugins.

[2019-01-11 14:59] #12298 closed

[2019-01-11 15:06] l0rd opened #12395 "Support running multiple VS Code extensions in the same sidecar"
### Description

This is something needed to properly support JDT LS extensions. We should be able to define a list of VS Code extensions to run in the same container as an original VS Code extension (e.g. JDT ls).

[2019-01-11 15:08] l0rd commented on #12292
Today we had a call to discuss this issue and here is a summary of what we have discussed :

- Theia plugin API that need localhost access should be modified: when the plugin runs in a sidecar all actions need to be executed in that sidecar.
- We are going to start with the plugin API needed by the k8s VS code extension. That won't fix all VS Code extensions but will help defining a pattern easy t

[2019-01-11 15:33] eivantsov commented on #12350
If you open browser dev console, you will probably see failed requests to $host:$port where $port is a port from the ephemeral port range

[2019-01-11 15:34] eneufeld opened #12397 "Allow to access additional folders/volumes from theia-ide on dev workspace"
### Description
I have a java project which relies on proprietary jars which I would like to provide to theia using a volume.
I have created a custom stack where I mount the volume and when checking with the built in terminal in theia I can see that the volume is available.
But I cannot access this mounted volume from the theia-ide as the only shared folder is the projects folder.

My thought was

[2019-01-11 15:35] l0rd opened #12398 "Plugin Brokers Improvements - part 2"
### Description

- [ ] Cache brokering results as a base64 attribute in the workspace defintions
- [ ] Allow brokers to run as Deployments that serves all workspaces rather than workspace specific Jobs
- [ ] Split brokers in 2 parts: independent service (retrieve and process plugin metadata) and init container (prepare the sidecar container to run the plugin)

This is #11980 second part. These tas

[2019-01-11 15:36] l0rd commented on #11980
Moved the non Che 7 task to #12398

[2019-01-11 15:36] #11980 closed

[2019-01-11 16:23] mmcparlane commented on #12350
I gathered output for the nightly version and also the 6.15.0 version. Looks like the likely suspect is:
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:32793/api/project-type. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing)`

When I browse to the [Firefox document](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Er

[2019-01-11 17:07] l0rd commented on #11789
@AndrienkoAleksandr really cool thank you! I've just used it and it significantly improves the UX.

[2019-01-11 17:39] umenthum commented on #12369
How would I do that? I've tried various combinations of --expose=8080, -P, -p 8080:8080, -p with other port numbers combined with -e CHE_PORT (as described in https://www.eclipse.org/che/docs/che-6/docker-single-user.html#run-without-cli) and I get the same results or, specifically with -p 8080:8080 I get the following error:
         port 8080 (http):        [ALREADY IN USE]

ERROR: Ports require

[2019-01-11 17:42] eivantsov commented on #12369
The problem is that services cannot reach other from within their containers using an external IP:PORT.

Try to check if the empeheral port range is opened, and open it if it's not.

[2019-01-11 18:22] mmcparlane commented on #12350
This seems to be only an issue with local development environment; it has been  a bit puzzling since everything seemed to work with v6.15.0 but definitely not a show stopper. I'll try to see what I can come up with as a workaround.

[2019-01-11 20:50] umenthum commented on #12369
I'm not clear on what you mean by the port range being open, is this a docker setting or something in my host OS? I'm just trying to run the server locally on the same machine that my web browser is running on so I shouldn't need to open the ports to the outside world right? How exactly would I check if the port range is opened? Thanks for the help.

[2019-01-12 02:11] charlesrichard opened #12400 "Launching che7 on che.openshift.com fails"
Following directions on from the https://che.eclipse.org/eclipse-che-7-is-coming-and-its-really-hot-4-4-29533ab219b0 blogpost, launching che7 both from the factory link and direct from che.openshift.com console fails.  Below are the logs.  Here is the error message after it times out-> "Error when starting agent
Unable to start workspace agent. Error when trying to start the workspace agent: Serve

[2019-01-12 07:38] 113xiaoji opened #12401 "Duplicated websocket event "event:file-state-changed" recevied from che server when the file more than 800 lines"
### Description

### Reproduction Steps

**OS and version:**
6.15
**Diagnostics:**

[2019-01-12 07:41] 113xiaoji commented on #12401
![image](https://user-images.githubusercontent.com/31875988/51070676-445bc280-1680-11e9-886a-ad4d2245ddfa.png)
Duplicated websocket event "event:file-state-changed" recevied from che server when the file  more than 800 lines. as the pictures,i received several event "event:file-state-changed" at the same time ,i want to know is it a bug ,and how come,thank you

[2019-01-12 14:26] skabashnyuk opened #12403 "Gwt ide in sidecar is not working due to CORS configuration on ws-agent"
### Description
Ws-agent by default set cors filter configuration to allow request only from che.api. But if gwt ide running as sidecar it loads IDE not from the master but from a different server running in the dedicated container.
We need to change default cors logic to be more similar to workspace loader. https://github.com/eclipse/che/blob/master/workspace-loader/src/index.ts#L349-L361
It shou

[2019-01-13 01:36] gorkem commented on #12400
@ibuziuk  I think there is an issue with the Theia IDE startup
[code]

[2019-01-14 08:05] #12204 closed

[2019-01-14 08:36] ibuziuk commented on #12400
Related upstream issue - https://github.com/openshiftio/openshift.io/issues/4695

[2019-01-14 09:37] tsmaeder opened #12408 "Che 7 plugin: Typescript language support"
Create a Che 7 plugin for the result of https://github.com/theia-ide/theia/issues/3767

[2019-01-14 09:40] tsmaeder opened #12409 "Che 7 plugin: Nodejs debugger"
Build a che 7 plugin with the result of https://github.com/theia-ide/theia/issues/3766

[2019-01-14 09:40] slemeur commented on #12170
sure go ahead!

[2019-01-14 09:45] tsmaeder commented on #11775
@slemeur testing the xml plugin (and identifying missing/broken API is on our plan), however, there are two things you might not be aware of:
1. Plugins use VSCode API beyond the "languages" namespace
2. The "renameProvider" API is still missing. As far as I understand, the IDE2 team is tasked with completing https://github.com/theia-ide/theia/issues/2341

[2019-01-14 09:47] tsmaeder commented on #12409
Remaining steps moved here from https://github.com/theia-ide/theia/issues/3766 (since che-specific)

- [ ] Release Theia v0.3.19 and build an image based on the changes above
temporary image: `abazko/che-theia:test`
- [ ] Update https://github.com/ws-skeleton/che-theia-remote-extension to use Theia v0.3.19
- [ ] Build a new image from https://github.com/ws-skeleton/che-theia-remote-extension/blob/

[2019-01-14 09:49] garagatyi commented on #12397
Here is the easiest way I know to workaround lack of this feature in Che.
Now (while Che with https://github.com/eclipse/che/pull/12391 is not merged):
1. Fork https://github.com/eclipse/che-editor-theia
2. Update https://github.com/eclipse/che-editor-theia/master/etc/che-plugin.yaml with content similar to https://raw.githubusercontent.com/garagatyi/che-editor-theia/master/etc/che-plugin.yaml in

[2019-01-14 09:50] tsmaeder commented on #11775
Update: there seems to be a PR pending for the rename provider.

[2019-01-14 09:56] garagatyi commented on #12397
@slemeur @l0rd Here is a use-case where user strugles with certain thing. We need to consider how to simplify customizations like this. There are always ppl trying to do something different.
BTW implementing this [feature](https://github.com/eclipse/che/issues/11818) would simplify the flow:
1. create file like [this](https://raw.githubusercontent.com/garagatyi/che-editor-theia/master/etc/che-plug

[2019-01-14 09:56] garagatyi commented on #12397
@eneufeld if instructions are not clear or detailed enough do not hesitate to comment here

[2019-01-14 09:57] skabashnyuk commented on #12376
Talked with @vparfonov today about this issue. I think it is related to the way how we handle http://host/namespace/workspacename links in https://github.com/eclipse/che/search?q=IDEController&unscoped_q=IDEController

[2019-01-14 10:04] l0rd opened #12411 "Update Development Workflow Documentation for Che 7"
### Description

This issue is to plan and track the updates to the [Development Workflow in the Wiki ](https://github.com/eclipse/che/wiki/Development-Workflow) required for Che 7 (Docker support will be dropped and plugins development changes significantly).

- [ ] Deploy Che using local assembly (mounting repo folder):
    - [ ] Provide manual instructions to deploy Che using local assembly for

[2019-01-14 10:14] garagatyi commented on #12170
Since Florent self-assigned https://github.com/eclipse/che/issues/12292 I moved it from others section to IDE2 team section which used to accommodate Florent's issues.

[2019-01-14 10:20] slemeur commented on #12411
cc @slemeur

[2019-01-14 10:33] ibuziuk commented on #12400
can reproduce on prod against `us-east-2`:

![image](https://user-images.githubusercontent.com/1461122/51107765-185f4f00-17f0-11e9-809b-56b1f957e8ff.png)

[2019-01-14 11:07] benoitf commented on #11775
rename provider https://github.com/theia-ide/theia/pull/4025 has been merged upstream

[2019-01-14 11:11] metlos opened #12412 "CHE_DEBUG_SUSPEND doesn't work on Openshift or Kubernetes"
### Description
We document the environment variable `CHE_DEBUG_SUSPEND` should make the Che server suspend on startup and wait for a debugger to be connected. This doesn't work as the `entrypoint.sh` script used in our Docker image doesn't recognize that env variable in any way.

### Reproduction Steps
1. Deploy Che server to Openshift
1. Set the env variable `CHE_DEBUG_SUSPEND` to true
1. Scale

[2019-01-14 11:17] skabashnyuk opened #12413 "[Improve che-plugin.yaml] Use of the property mountProjectSources (or even the simpler mountSources) for a tool/plugin"
### Description
This issue is created as result of the following discussion https://github.com/redhat-developer/devfile/pull/2#discussion_r242876449

Now if plugin developer wants to get projects sources mounted to his plugin then he has to define volume with name `projects` and path `/projects`.
[code]
The idea of this issue is simplify defining of mounting projects sources to the following forma

[2019-01-14 11:18] skabashnyuk opened #12414 "[Improve che-plugin.yaml] Add the ability to specify subPath of a volume"
### Description
Add the ability to specify subPath of a volume.
Subtask of https://github.com/eclipse/che/issues/12249

[2019-01-14 11:20] skabashnyuk opened #12415 "[Improve che-plugin.yaml] Rename some fileds"
### Description
Subtask of  https://github.com/eclipse/che/issues/12249
- Public should become an endpoint attribute
- consider renaming `Devfile#dockerimageTool#endpoints[]#targetPort` field to `port` https://github.com/redhat-developer/devfile/pull/2#discussion_r242894015
- consider renaming `Devfile#dockerimageTool#services` field to `endpoints` to sync `che-plugin.yaml` and Dockerimage tool mo

[2019-01-14 12:00] mkuznyetsov commented on #12350
@mmcparlane yes, seems like "localhost" is not an allowed origin in mozilla/chrome, by default at least .
And your Che on Windows w/Docker seems to use "localhost" as api endpoint, which is then used as "origin".

You may try running Che on Kubernetes, that comes with Docker on Windows, see if it works for you.

[2019-01-14 12:37] slemeur commented on #12374
Can be on the workspace overview page.

[2019-01-14 14:03] eneufeld commented on #12397
@garagatyi Thank you for the detailed instruction
https://github.com/eclipse/che-editor-theia doesn't exists though, I assume you meant https://github.com/ws-skeleton/che-editor-theia

[2019-01-14 14:23] garagatyi commented on #12397
oh, yes. Sorry

[2019-01-14 15:29] artaleks9 opened #12418 "Workspace from Che7-stack does not start"
### Description
**Reproduction Steps:**
* Open the dashboard and select _Che7-stack_
* Click on the _Create&Open_  button
* IDE is open

**Expected behavior:**
* workspace should be started

**Observed behavior:**
* workspace does not start

**Che version**: 6.17.0
**OS and version:** Fedora 28
**Che install:** ocp-multiuser
**Docker version:** 17.09
**API docker version:** 1.32

**Additional info

[2019-01-14 16:04] artaleks9 opened #12419 "Wrong behaviour on dashboard when start workspace from not existing docker-image"
### Description
**Reproduction Steps:**
* Open the dashboard and select _java-stack_
* Click on the _Create&Proceed editing_  button
* Select _Machines_ tab and edit the recipe:
  ![edit-image-java-ws](https://user-images.githubusercontent.com/5408906/51123474-d997bc00-1824-11e9-80cb-70ce955dcf36.png)
* Save the changes and run workspace

**Expected behavior:**
* should be error message on dashbor

[2019-01-15 09:28] sleshchenko opened #12422 "Che Server propagates workspace status event without error if an internal exception occurs"
### Description
Che Server propagates workspace status event without error if an internal exception occurs.

### Reproduction Steps
1. Modify Che Server to throw some internal exception, like I faced

<details>

<summary>Che Server Logs</summary>

[code]

</details>

2. Create and start workspace.
**Expected**: Workspace Loader shows error that workspace fails to start.
**Actual**: Workspace Loade

[2019-01-15 11:17] ashumilova commented on #10915
@slemeur maybe we could remove the project details view?
Here is the information that it contains now:
![screenshot from 2019-01-15 13-10-04](https://user-images.githubusercontent.com/1611939/51176983-0bf9f580-18c7-11e9-8850-f68359311acb.png)
It allows only to edit the description and delete the project and those actions depend on wsagent API.
When agent is not running we have following page:
![sc

[2019-01-15 11:19] AndrienkoAleksandr commented on #10915
+1 For fires option

[2019-01-15 11:25] #12136 closed, assigned to ashumilova

[2019-01-15 12:15] AndrienkoAleksandr opened #12423 "Move che-theia-terminal-extension to the eclipse repo"
### Description
Move [che-theia-terminal-extension](https://github.com/eclipse/che-theia-terminal-extension)  to the [che-theia](https://github.com/eclipse/che-theia.git) repository

[2019-01-15 12:50] garagatyi opened #12424 "Make VS Code extension broker support extension identifier from its marketplace page"
### Description
Now VS Code extension broker needs an extension identifier in a format such as `vscode:extension/SonarSource.sonarlint-vscode` but on the extension page on the marketplace user see it in the following format `SonarSource.sonarlint-vscode`.
![image](https://user-images.githubusercontent.com/1851863/51181753-af053c00-18d4-11e9-963e-7669c6bdd0e9.png)
There is no reason to make user ad

[2019-01-15 12:50] garagatyi commented on #12424
@slemeur WDYT?

[2019-01-15 12:58] eneufeld commented on #12397
Hi, I tried the provided instructions and it works to connect a volume defined in the Workspace Config with a volume defined in the theia  plugin yaml.
What didn't work was connecting a volume which I defined in the stack yaml with a volume in the theia plugin yaml.
What is the difference between a volume mounted via the stack and one mounted via the config?

[2019-01-15 13:41] evidolob opened #12425 "Write documentation on how to 'Creating Eclipse Theia Plug-ins with Eclipse Che'"
### Description
We need this documentation for Che 7 Beta
Should this be on che-docs repository?

Here is a proposition for the outline:
**Creating Eclipse Theia Plug-ins with Eclipse Che**
- [ ]  Developing your first plug-in
- [ ] What is a Plug-in
  - [ ] Plug-in concept in details
  - [ ] Plug-in metadatas
  - [ ] Plug-in Lifecycle
- [ ] Embedded vs Remote Plug-in
  - [ ] Introduction of Embed

[2019-01-15 13:43] evidolob opened #12426 "Update the readme.MD and customizing.MD with the new information about Che-in-Che"
Need for Che 7 Beta

[2019-01-15 14:20] #12329 closed

[2019-01-15 14:21] sleshchenko commented on #12413
The detailed implementation plan is added to the issue description.

[2019-01-15 14:44] tsmaeder opened #12427 "Languages Sprint 161 (L-3)"
# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 10 | 6 | 5d
@tolusha | 15 | 10 | 10.5
@svor | 15 | 10 | 12d
@vrubezhny | 15 | 10 | 9d

# Candidate Issues
- [x] Describe process for making and testing Che 7 plugin from vscode plugin #12447 0.5d @tolusha
- [ ] Golang plugin https://github.com/eclipse/che/issues/12145 3d (@tolusha)
- [ ] CallHierarchyService Plugin API

[2019-01-15 14:45] garagatyi commented on #12397
There should not be a difference as far as I remember. Can you provide stack to try?

[2019-01-15 14:52] #12341 closed

[2019-01-15 14:52] #12340 closed

[2019-01-15 15:10] riuvshin opened #12428 "Release CHE 6.17.0"
Release CHE 6.17.0

[2019-01-15 15:16] garagatyi opened #12429 "Red mark of failed workspace should show error on mouse hovering and user should be able to get error message somehow"
### Description
Currently, in 1 place (left-hand panel of recent workspaces) it shows just ERROR hint:
![image](https://user-images.githubusercontent.com/1851863/51189527-ea116a80-18e8-11e9-96fb-3b24a32e381f.png)

in the workspace list view, it shows no hint:
![image](https://user-images.githubusercontent.com/1851863/51189515-e1b92f80-18e8-11e9-98f3-4b6da40360ad.png)

on the workspace details view

[2019-01-15 15:16] garagatyi commented on #12429
@slemeur @evidolob FYI

[2019-01-15 15:35] garagatyi opened #12430 "Add CI to build and push remote-plugin-runner-java8 image on dockerhub"
### Description
We have a dockerfile for Theia remote runner that provides java8 as a part of the runtime. It is useful for VS Code extensions used in Thiea that need java.
But we don't have image pushed and don't have a CI to update it.   This PR https://github.com/eclipse/che-plugin-registry/pull/76 uses the same image but pushed to my private account.

### Reproduction Steps

**OS and version:*

[2019-01-15 15:44] garagatyi opened #12431 "Support addition of a VS Code extension using plugin broker to a main Theia container"
### Description
We have VS Code extension broker that runs extensions as Theia remote plugins.
But some extensions would be fine running inside of Theia container (e.g. need only Node.Js).
Using a remote container for those extensions would burn workspace memory.
Should we allow local mode for VS Code extensions delivered by a broker as we do for Theia plugins?

[2019-01-15 15:45] garagatyi commented on #12431
@slemeur @l0rd @benoitf @evidolob WDYT?

[2019-01-15 15:52] benoitf commented on #12431
@garagatyi I was assuming that if no specific image was declared then the VSCode extension broker was just dropping the extension in plug-ins folder (without adding env variables as there is no container) And then the extension is being loaded directly by the main theia instance

[2019-01-15 15:53] garagatyi opened #12434 "Downloading of VS Code extension slows down workspace start"
### Description
On each restart of a workspace, we clean up plugins and restart downloading of VS code extensions binaries from the VS Code marketplace. This takes time and slows down Che workspace start.
We need to cache binaries somehow to make workspace start blazing fast.

[2019-01-15 15:54] garagatyi commented on #12434
@slemeur @l0rd @benoitf WDYT?

[2019-01-15 16:13] benoitf commented on #12434
I think it's like for broker, if plug-ins are the same we may have a mode to not start broker at all (and then reuse all what was done previously)

[2019-01-15 16:39] garagatyi commented on #12434
@benoitf we could have something like this. But we don't have it currently.

[2019-01-15 16:40] garagatyi commented on #12431
@benoitf no, this functionality wasn't added to that broker. But if we agree that it is needed (I wasn't sure that we agree) it would be easy to add it.

[2019-01-15 16:47] eneufeld commented on #12397
Sure. I attached a zip.
It contains three yaml files:
* shared-folder.yaml -> defines a persistent volume
* shared-folder-pvc.yaml -> defines a persistent volume claim based on the pv
* custom_che_config.yaml -> is the stack which I use to create my own stack (I'm sure one can improve this)

And here is my custom theia: https://raw.githubusercontent.com/eneufeld/che-plugin-registry/master/test/plu

[2019-01-15 17:23] junacamilo1990 opened #12435 "Import packages../classes.../etc"
###  Description #####

There isn't a shortcut or short way to import packages from other classes. Whether you're in a specific package it will automatically import it but if you need another one you have to write it manually.

**Linux**
**GitHub
![exampleimports](https://user-images.githubusercontent.com/46721652/51197734-5af05c80-18c0-11e9-9d43-801677154dfa.PNG)
**

[2019-01-15 18:15] tsmaeder opened #12436 "Che 7 plugin: vscode-java"
Create a Che 7 plugin (following up on  theia-ide/theia#3778) and add it to the plugin registry.
* create a base image for jdt.ls-based tooling
* make a PR against https://github.com/eclipse/che-plugin-registry with a che 7 plugin containing vscode-java

[2019-01-15 18:24] #12418 closed, assigned to amisevsk

[2019-01-15 18:36] tsmaeder opened #12437 "Che 7 plugin: vscode-xml"
Create a Che 7 plugin (following up on theia-ide/theia#3778) and add it to the plugin registry.

    create a base image (or reuse the one from https://github.com/eclipse/che/issues/12436) for the tooling
    make a PR against https://github.com/eclipse/che-plugin-registry with a che 7 plugin containing https://github.com/redhat-developer/vscode-xml

[2019-01-15 18:39] tsmaeder opened #12438 "Che 7 plugin: vscode-yaml"
Create a Che 7 plugin (Yaml plugin #12142) and add it to the plugin registry.

* create a base image for the
* make a PR against https://github.com/eclipse/che-plugin-registry with a che 7 plugin containing https://github.com/redhat-developer/vscode-yaml/

[2019-01-15 19:08] garagatyi commented on #11981
Is this issue still actual?

[2019-01-15 19:16] #10880 closed

[2019-01-15 19:55] garagatyi commented on #10140
Works as expected now.

[2019-01-15 19:55] #10140 closed

[2019-01-15 20:03] garagatyi commented on #12397
PVC support in the recipe is not merged yet https://github.com/eclipse/che/pull/12335/commits

[2019-01-16 06:08] SharkJ commented on #12011
Hi,
Is there any way to add syntax highlighting support for a new DSL implemented in Eclipse Che by extending the Orion Editor?

[2019-01-16 06:51] benoitf commented on #12431
I think it's little development and it will bring a broader value.
I let others to comment :)

[2019-01-16 07:33] skabashnyuk commented on #12434
BTW what was the reason why plugins folder was wiped out? We don't use PVC for that?

[2019-01-16 08:12] phuongtailtranminh opened #12439 "Custom Editor on Che 16.06"
### Description
Hi,

I'm trying to implement a custom graphic editor (embedded HTML & JS) for my custom file type by following emf4che source code.

After I double clicked on the custom file type on the Project Explorer, it seem likes something has been opened but there is no GUI of gwt.

### Reproduction Steps
Below are the files that have been edited from che-sample/embedded-js

HelloWorldEditor

[2019-01-16 08:34] #11864 closed

[2019-01-16 09:02] sleshchenko opened #12440 "Dashboard should validate PVCs in Kubernetes/OpenShfit recipes"
### Description
Dashboard should validate PVCs in Kubernetes/OpenShfit recipes.

What should be checked:
[code]
Also it is needed to validate PVCs references in Pods volumes
[code]

[2019-01-16 09:21] #12254 closed

[2019-01-16 09:33] evidolob opened #12442 "Investigate how to synchronise Theia global preferences between Che workspaces"
By default, if a user has change some preference in one workspace, we should reuse the configuration into other workspaces
If user changes the configuration options - then it would overload the defaults.
In the end we should have description how we can synchronise Theia preferences

[2019-01-16 09:48] evidolob commented on #12425
@slemeur Can you provide more information on what we should cover in this documentation?

[2019-01-16 09:52] #12224 closed

[2019-01-16 09:56] evidolob commented on #12426
@slemeur What should include in that docks?

[2019-01-16 09:59] slemeur commented on #12425
Should this be on che-docs repository?

Here is a proposition for the outline:
**Creating Eclipse Theia Plug-ins with Eclipse Che**
- Developing your first plug-in
- What is a Plug-in
  - Plug-in concept in details
  - Plug-in metadatas
  - Plug-in Lifecycle
- Embedded vs Remote Plug-in
  - Introduction of Embedded Plug-in (diagram)
  - Introduction of Remote Plug-in (diagram)
  - Comparison matri

[2019-01-16 10:12] slemeur commented on #12426
**In the readme.md**
- We should be updating the customizing section.
- We should update the screenshoot (see https://www.eclipse.org/che/extend/ which I rebuilt few months ago)
- A new section should be added to introduce the technology stack
- Update Getting started section
  - Add how to install Che
  - Add how to use an online instance of Eclipse Che to discover it

**In the customizing.md**
C

[2019-01-16 10:22] ysasakiah opened #12443 "About application development using Java 11"
### Description
Is it possible to install Java 11 on Che 6 workspace and develop applications?
Or will Java 11 compatible workspaces be created with Che 7?

[2019-01-16 10:35] #11996 closed

[2019-01-16 10:38] AndrienkoAleksandr commented on #11804
Needed for https://github.com/eclipse/che/issues/11804 too.

[2019-01-16 11:36] rhopp commented on #12128
Damn... https://github.com/Katka92/ will work on that, but I cannot assign this issue to her.

[2019-01-16 11:48] Katka92 commented on #12128
I'll work on it, I'll try to remove all login related stuff from upstream to Rh-che. I'll track it in this issue: https://github.com/redhat-developer/che-functional-tests/issues/418
Once I'll be satisfied with the code, I'll create PR here. Is that OK for you?

[2019-01-16 12:06] skabashnyuk opened #12444 "Documentation about how to deploy custom plugin registry"
### Description
We need to document the way how to deploy custom plugin registry with Che and configure Che to use it.

[2019-01-16 12:06] sleshchenko opened #12445 "Workspace files are not removed when Common PVC strategy if configured"
### Description
Workspace files are not removed when Common PVC strategy is configured.

P.S. Logged error message is not useful at all. It is needed to consider fething Job Pod logs if possible in case of error in this issue or a separate one.

### Reproduction Steps
1. Deploy Che Server on OpenShift (minishift on my test case) with `common` PVC strategy configured.
2. Create a workspace from `Ch

[2019-01-16 12:14] sleshchenko commented on #12445
@eclipse/eclipse-che-qa During manual testing of my PR I discovered two bugs with removing workspaces data after workspaces removing (for `common` and `per-workspace` PVCs strategies). Is there any chance to add selenium tests for these use-cases? Should I create a separate issue?

[2019-01-16 12:33] #11954 closed

[2019-01-16 12:54] musienko-maxim commented on #12364
The usecase was implemented in the repo: https://github.com/musienko-maxim/theia-cypress-e2e

[2019-01-16 12:54] #12364 closed

[2019-01-16 13:04] Katka92 commented on #11856
Hi @tsmaeder I have the same feeling from the behaviour I can see in dashboard. Today I've tried to reproduce that. This error shows up when project was still being imported as shown in screenshot [1]. Once the project was loaded it writes more logs here [2]. Can it happen that clonning project is not finished when scan happens?

[1]
![screenshot from 2019-01-16 13-56-20_1](https://user-images.git

[2019-01-16 13:05] rhopp commented on #12445
@sleshchenko That's interesting... We've already found this issue while testing Codeready Workspaces, but from latest comment it seems it's no longer reproducible: https://issues.jboss.org/browse/RACHEL-124
I guess we have to take a look at this issue once again.

[2019-01-16 13:11] tsmaeder opened #12446 "Che 7 plugin: vscode-java-debug"
Create and test a Che 7 plugin based on https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug

[2019-01-16 13:14] tsmaeder opened #12447 "Describe process for making and testing Che 7 plugin from vscode plugin"
Write a small how-to on how to create and test a che 7 plugin from an existing vscode plugin. Add it to the Che wiki pages.

[2019-01-16 13:44] mshaposhnik commented on #12272
OK i checked the all and here is the summary table:

Repository | Result Example | Building complexity
--------------  | --------------------- | -------------------------
https://github.com/bootprint/bootprint-json-schema | https://mshaposhnik.github.io/bootprint/index.html | Low
https://github.com/interagent/prmd | https://github.com/mshaposhnik/spec-docs/blob/master/prmd/schema.md | Low
https://

[2019-01-16 13:49] mshaposhnik commented on #12272
So the cloudflare & adobe one looks most preferrable, cloudflare lib is generating nice & pretty HTMl docs with ability to add navifation menu at the left etc.

[2019-01-16 13:58] slemeur commented on #12431
+1

[2019-01-16 13:59] eivantsov commented on #12443
@ysasakiah 11 should be fine in Che 7. @tsmaeder may say more.

[2019-01-16 19:25] sathibault opened #12448 "Cannot list or modify permissions on stack"
### Description
The built-in `admin` user is not able to list or modify permissions on a stack.  Both requests return 403.  Also, users are able to see and create workspaces for a stack even though `api/permissions/stack` returns 404 implying they have no permissions.

### Reproduction Steps
Request permissions on stack returns 404 as `admin` user:
`{CHE_HOST}/api/permissions/stack?instance=java-d

[2019-01-16 21:02] SalimCastellanos opened #12449 "Debug Java aplication file, IllegalArgumetnException"
### Description

Debug fail because not found file, but the file exist

![image](https://user-images.githubusercontent.com/9919614/51278169-e2fd6180-19a7-11e9-8194-3d76095593e9.png)

Linux RedHat 7.5

[2019-01-17 04:29] ondrx opened #12450 "The content assist doesn't work after an error log occurred."
# Description #

The content assist doesn't work after an error log occurred.

## Reproduction Steps: ##

* Create TypeScript project
* Create new file
* Type in the editor

[code]
* Set the cursor on the "t." expression and call the content assist (Press Ctrl+Space)
The Content assist displays.

* Fix the code

[code]

* Set the cursor on the "t." expression and call the content assist (Press Ctr

[2019-01-17 06:25] jarifibrahim opened #12451 "Can't open terminal in Che deployed with Che minishift addon"
### Description

I'm running che on minishift via the minishift addon. I'm using the che-server:nightly docker image.
I have created a workspace using the following devfile
[code]

The workspace was created but I couldn't start a terminal. The che pod on minishift had the following error
[code]
### Reproduction Steps
1. Start che in minishift using the addon.
2. Replace image with `che-server:nigh

[2019-01-17 08:03] #12403 closed

[2019-01-17 08:14] jarifibrahim commented on #12451
@sleshchenko The minishift addon looks up-to-date to me https://github.com/minishift/minishift/blob/master/addons/che/templates/che-workspace-service-account.yaml

Am I missing something?

[2019-01-17 08:22] mshaposhnik commented on #12272
So I propose to start with Adobe markdown tool (as a more widely used for the rest of our docs), but keep an eye on the HTML generator in case we will need more pretty version. @l0rd @skabashnyuk WDYT ?

[2019-01-17 08:26] sleshchenko opened #12452 "Fail to build theia dockerimage module"
### Description
The following CI test jobs fail because of error in Theia, TheiaDev modules:
https://github.com/eclipse/che/pull/12335#issuecomment-454810864
https://github.com/eclipse/che/pull/12421#issuecomment-454985674
https://github.com/eclipse/che/pull/12335#issuecomment-455056826

### Reproduction Steps
Execute `mvn clean install -Pintegration` in che project or directly in [dockerfiles/the

[2019-01-17 08:40] sleshchenko commented on #12452
I've labeled it as `blocker` since it prevent to get tests report on PRs. So, no PR can be merged before this issue will be fixed.

[2019-01-17 08:53] eneufeld commented on #12397
@garagatyi if I understoof PR #12335 correctly, it adds support to mount a PVC correctly into the user workspace. I assume this will then allow to reference this mounted folder from the theia volume as described in your instructions?
Wouldn't it also make sense to allow to mount a PVC directly in theia? Without the indirection with the user workspace?

[2019-01-17 08:55] tolusha commented on #12447
### How to create and test a Che 7 plugin from an existing VS Code extension

Complete the following steps to run a Che 7 plugin based on [VS Code extension](https://marketplace.visualstudio.com/vscode)

1. Prepare docker image to launch extension based on `wsskeleton/theia-endpoint-runtime`. The image should additionally contains
all necessary tools, for instance java, Go etc.

2. Build and pull

[2019-01-17 08:56] tolusha commented on #12447
/cc
@garagatyi Could you check it out?

[2019-01-17 09:01] tsmaeder commented on #12447
@tolusha
* Where should the docker file live?
* What should the image be called?
* If they are under eclipse/ how do I get the images published?
* Probably you mean "push to docker hub", not pull?
* Which repository contains the meta.yaml and where should it be placed, how should it be named?
* The url to the list of available plugins is probably wrong: https://github.com/garagatyi/che-plugin-regi

[2019-01-17 09:12] riuvshin opened #12454 "Release CHE 6.17.0 failed"
release failed on `Che TypeScript DTO Generate and Publish`
the problem is that it publishing to npm registry on `release:prepare` and `release:perform`
while it should push only on perform.

[2019-01-17 10:20] tolusha commented on #12447
Here are answers, if we agreed on them I will add to the how-to.

Basically anywhere, it doesn't matter, for instance in the user's github repository.

I am not aware of naming convention. ${username}/${plugin-id} sounds reasonable for me.
Does it really matter?

I honestly do not know. @benoitf do you know the answer?

fixed

${github-url}/${plugin-id}/${version}/meta.yaml Like `https://github.co

[2019-01-17 10:33] benoitf commented on #11692
It's fixed since december. Forgot to close

[2019-01-17 10:33] #11692 closed

[2019-01-17 11:04] vitaliy-guliy commented on #12452
This [PR](https://github.com/eclipse/che-theia/pull/27) mush fix the build.

[2019-01-17 11:57] jarifibrahim commented on #12451
What information do you need for debugging? I can help with that.

[2019-01-17 12:40] #12000 closed

[2019-01-17 12:45] sleshchenko commented on #12451
@jarifibrahim Thanks. I can easily set up my own `minishift` installation.
But this issue should be prioritized to be taken in the sprint of `che-platform` or `che-osio` team.

[2019-01-17 13:35] #12229 closed

[2019-01-17 13:46] sleshchenko commented on #6798
@skryzhny @artaleks9 Looks like we can close this issue as `won't fix` since it is not reproducible on latest Che version. WDYT?

[2019-01-17 13:49] sleshchenko commented on #11643
@RomanNikitenko you're right. Thanks for pointing.

[2019-01-17 13:49] #11643 closed

[2019-01-17 14:09] artaleks9 opened #12456 "Autosave does not work properly in the installers workspace config on dashboard"
### Description
**Reproduction Steps:**
* Open the dashboard and select _Node-stack_
* Click on the _Create&Proceed editing_  button
* Select _Config_ tab and edit _installers_ in the workspace json:
_"org.eclipse.che.ls.json"_

**Expected behavior:**
* should be displayed message on dashbord: "_Workspace update_"
* the changes should be saved after refreshing

**Observed behavior:**
* message is

[2019-01-17 14:11] rhopp opened #12457 "Implement first component UI cypress test"
In last sprint, there was done some investigation of possible technologies to use for UI testing Theia (and Che7) and an initial implementation of possible E2E test https://github.com/eclipse/che/issues/12364

To not repeat the same mistake with trying to cover **everything** by E2E tests, we should consider implementing UI tests on per-component basis (in theia-ide codebase, but also in our compo

[2019-01-17 14:50] evidolob opened #12458 "Move theia and theia-dev docker files in to che-theia repository"
### Description
We need to:
- [ ] Move theia and theia-dev to che-theia repo
- [ ] Set up Travis CI to build and publish that images on docker hub

In order to increase stability of Che 7 we need to use stable docker image on Che Theia editor plugin,
and provide new nightly image for dev Che Theia editor plugin

[2019-01-17 17:18] slemeur commented on #12272
Nice work @mshaposhnik ! +1 to start with markdown

[2019-01-17 19:17] sathibault commented on #12448
With `CHE_SYSTEM_SUPER__PRIVILEGED__MODE=true` I am indeed able to see and update permissions on stacks I've created.  However, the built-in stacks seems special in some way:
1) I still get the 403 responses described above
2) Even though a user has no permissions on them, they are listed and available to create workspaces.

[2019-01-17 19:25] sathibault opened #12459 "User login whitelist with identity providers"
### Description
The behavior of keycloak is such that anyone with a login for a configured identity provider is able to login and use the Che environment.  The first time they log in, keycloak auto-registers them as a keycloak user and redirects them to Che with valid token.  Ideally, users that do not exist in keycloak would not be allowed to log in.  I've discussed this with the keycloak folks a

[2019-01-17 19:42] sathibault commented on #12448
Accidentally, hit close button, but still have these issues with built-in stacks:

1. I still get the 403 responses described above
2. Even though a user has no permissions on them, they are listed and available to create workspaces.
3. Cannot delete built-in stacks

[2019-01-17 19:46] l0rd commented on #12272
@mshaposhnik thanks for generating all these samples. That helps :-)

I agree markdown is the best option and the format we were looking for. Anyway I have a couple of questions:
- your cloudflare/json-schema-tools sample looks like it doesn't have the definitions of all the attributes of the devfile but only the top level ones. Is it a tool limitations?
- adobe/jsonschema2md is not easy to read,

[2019-01-18 01:02] Caplost commented on #12033
@eivantsov I try eclipse/che-server with tag nightly-centos it works ok ,but eclipse/che-server:nightly still not work.

[2019-01-18 01:55] monaka opened #12460 "Uncaught (in promise) Error: Looks like the language server is talking to long to respond, prease try again in sometime."
### Description

Sometimes I got error  `Uncaught (in promise) Error: Looks like the language server is talking to long to respond, prease try again in sometime.`
I'm not sure whether it is reproductive on all environment. It is just for information.

### Reproduction Steps

Creates workspace with Che-in-Che.
Starts it.

**OS and version:**

6.18.0-SNAPSHOT (with some my patches)
Azure AKS (B2s in

[2019-01-18 02:08] dneary commented on #12425
We should also have an API guide - including some idea of API calls from VS Code covered vs uncovered.

[2019-01-18 03:11] monaka opened #12462 "Failed to start Che7 Dev stack"
### Description

Failed to start workspaces from Che 7 Dev stack.

### Reproduction Steps

1. Create workspace from Che 7 Dev stack.
2. Start it.

**OS and version:**

6.18.0-SNAPSHOT

**Diagnostics:**

[code]

[2019-01-18 03:20] monaka commented on #12462
Possibly the same issue in this blog post. https://blog.cloud66.com/x509-error-when-using-https-inside-a-docker-container/

[2019-01-18 07:10] monaka commented on #12462
Kubernetes (managed by AKS), Multi-user, https by Ingress.

[2019-01-18 08:21] mshaposhnik commented on #12272
Thanks for all your responces.
@l0rd yes, cloudflare allows to show all definitions, but default template requires to click on links to expand whole tree:
![image](https://user-images.githubusercontent.com/1651062/51373806-b8c3b500-1b09-11e9-9c27-ea14a5dbdf0f.png)
BTW we have some fields definitions still missing in schema itself, need to write them.

As of  jsonschema2md, at first sight there is

[2019-01-18 08:30] #12280 closed

[2019-01-18 08:46] artaleks9 opened #12463 "Import/Create project does not work on docker platform"
### Description
**Reproduction Steps:**
* Open the dashboard and select _Jave-stack_ for example
* Click on the _Create&Open_  button
* Try to import or create a project

**Expected behavior:**
* a project should be imported/created

**Observed behavior:**
* import/create a project does not work

**Che version**: 6.18.0
**OS and version:** Fedora 28
**Che install:** docker-single/multiuser
**Docke

[2019-01-18 08:59] rhopp commented on #12457
DoD:
* Right component is selected for this effort
* First simple UI tests are implemented & merged to the component repo

[2019-01-18 10:20] CodeCorrupt commented on #11615
Has there been any movement on this? I'm still experiencing this issue.

[code]

[2019-01-18 10:54] sleshchenko commented on #12462
@monaka Do Che 6 Workspaces works on your installation?

[2019-01-18 11:24] skabashnyuk commented on #12459
Try to disable "User registration" in che realm . Realm settings-> Login.
 https://www.keycloak.org/docs/3.0/server_admin/topics/login-settings/forgot-password.html

[2019-01-18 11:39] #12269 closed

[2019-01-18 12:57] riuvshin commented on #12454
fixed

[2019-01-18 12:57] #12454 closed

[2019-01-18 13:52] sleshchenko commented on #12448
@sathibault

http://cohort-api-server.test.multiscalehn.com:8080/api/permissions/stack?instance=java-default

It's OK even with super privileged mode since admin doesn't have direct permissions to predefined stacks.
I think that admin should be able to use http://cohort-api-server.test.multiscalehn.com:8080/api/permissions/stack/all?instance=java-default BUT I tried and it does not work since `Sta

[2019-01-18 14:05] tolusha commented on #12447
@svor
in your documentation https://github.com/eclipse/che/issues/12447 you have extension: "vscode:extension/ms-vscode.node-debug2" in meta.yaml
What is vscode:extension/ms-vscode.node-debug2 and where I can find this info for my extension?

@tolusha
that's a very good question =)
here is the link https://marketplace.visualstudio.com/items?itemName=ms-vscode.node-debug2 for node debug extension
v

[2019-01-18 14:16] sathibault commented on #12459
Unfortunately, this does not prevent keycloak from auto-registering users logging in via an identity provider.

[2019-01-18 14:34] eivantsov commented on #12462
Self signed certs?

[2019-01-18 14:37] eivantsov opened #12466 "Release Che 6.17.1"
The bugfix release should include a new release of che-jdt-ls https://github.com/eclipse/che-ls-jdt/releases

[2019-01-18 17:45] sathibault commented on #12448
#3 is somehow working for me now.  I did upgrade to 6.16.0, so maybe it was that.

It's probably worth documenting the fact that you can use "*" as the user ID in both `POST /permissions` and `DELETE /permissions/{domain}`.

[2019-01-18 17:57] sathibault opened #12469 "Admin cannot query all permissions or update user's permissions in stack domain"
### Description
Submitting bug related to issue #12448.  Both requests below return status 403 when logged in as admin with super privileged mode enabled.

### Reproduction Steps

Login as admin and request permissions on stack/all:
`GET /api/permissions/stack/all?instance=java-default&maxItems=30&skipCount=0`
Returns: 403

Login as admin and post new permissions on stack for a given user:
[code]

[2019-01-18 18:10] sathibault commented on #12459
How about having Che require that Keycloak users need to have the `user` role?  We can control what roles users have by default when created via an identity provider.  If we exclude that from the default roles, then we would have to assign new users the role through the admin console before they could login.

[2019-01-19 04:48] monaka commented on #12462
Che 6 Workspace works fine on my env.
The certificate is provided by Let's Encrypt (not self signed).
I guess Che 6 Workspace also doesn't work if the certificate is invalid.

[2019-01-19 04:54] monaka commented on #12462
And if we can trust the error message `x509: failed to load system roots and no roots provided`, the issue is not caused by the connection failure but loading `ca-certificates.crt` failure.

[2019-01-19 07:57] nguyenbuiUCSD opened #12471 "Fail to Load Dashboard in Multi-user Mode after System Restart"
### Description
Can not load dashboard for multi-user running on Docker  after system restart. http://${CHE_HOST}:8080/dashboard/ return:
`Internal server error occurs. API is not accessible Click here to reload page.`

### Reproduction Steps

1. Run Che on Docker in multiuser mode, following Che Docs: [Multi-user: Installation on Docker](https://www.eclipse.org/che/docs/che-6/docker-multi-user.ht

[2019-01-19 09:20] dmytro-ndp commented on #12466
Please, include [commit which fixes E2E tests](https://github.com/eclipse/che/commit/cba874fc4feb73afe43e742af79c1342f86225e2) into the 6.17.1 as well.

[2019-01-19 09:45] #12356 closed

[2019-01-19 12:20] artaleks9 opened #12472 "Json language server is not initialized"
### Description
_The several last days (if to be exact from 15.01.2019) the selenium test **_JsonFileEditingTest_** is failed when run on CI_

**Reproduction Steps:**
* There are some difficulties to reproduce this bug by handle by reason the other known issue #12456, but it is reliably reproduced when the selenium test is run on local machine.

**_These steps are not available on this moment_**
*

[2019-01-19 13:06] skabashnyuk commented on #12471
your keycloak is not accessible
[code]
I recommend using Kubernetes or OpenShift instead of Docker.
Or k8s on Docker https://che.eclipse.org/running-eclipse-che-on-kubernetes-using-docker-desktop-for-mac-5d972ed511e1

[2019-01-19 16:21] Learath commented on #2188
Will this bug be fixed?

[2019-01-20 02:51] mustafa-yilmaz opened #12474 "[Instruction-Information Request / Not an Issue] Creation of Custom Multi-Machine Stacks and WorkSpaces"
Hi to all,

In order to install ".NET CORE 2.2 SDK" and "MSSQL Server", for a while, I have been trying to create a custom multi(double)-machine stack by directly copying (duplicating) the existing "BLANK UBUNTU" stack.

I am able to update and run that stack with CentOS 7 inside it (by just changing the expression in the recipe from "quay.io/openshiftio/che-ubuntu_jdk8" to "quay.io/openshiftio/ch

[2019-01-21 04:13] mustafa-yilmaz commented on #12474
If needed, here is the "**Raw Configuration** (JSON Definition)" of the stack.

I probably need to update/change the "**type**" (instead "**dockerimage**" it should be "**openshift**" I think - since it does not already allow me to change it as "**compose**") and "**content**" parameters of the "**recipe**"  but I could not find what to write.

Thanks once again.

---------------------------------

[2019-01-21 07:27] m0nhawk opened #12475 "Can't use Eclipse Che on macOS"
### Description
The single-user Docker installation is broken.

### Reproduction Steps
1. Run Eclipse Che:

[code]
2. Create any stack.
3. Create project - no available templates and:

![screencapture-localhost-8080-dashboard-2019-01-21-01_26_00](https://user-images.githubusercontent.com/8220926/51458651-8f7a7300-1d1b-11e9-9a46-3f2a23a56414.png)

[code]

**OS and version:**
macOS 10.14.2
Docker 2.

[2019-01-21 07:29] #11516 closed, assigned to nobody

[2019-01-21 07:53] skabashnyuk commented on #12475
With chances, 99.99999%  docker 2.x  will not work on mac.
Try to use kubernetes https://che.eclipse.org/running-eclipse-che-on-kubernetes-using-docker-desktop-for-mac-5d972ed511e1 or minishift.

[2019-01-21 08:11] ashumilova opened #13688 "Add ability to import project with sparse checkout feature"
When user defines the project's source, there should be ability to set the directory, which should be cloned as the only one from whole pointed repository, and this value should be properly handled.

Here is the example of project's source:
[code]
**keepDir** - parameter contains the name of the directory,
**convertToTopLevelProject** - whether keep the directory as part of main project structure

[2019-01-21 09:09] l0rd commented on #12475
@skabashnyuk what do you mean? Latest Che doesn't support latest Docker API (e.g. v1.39 distributed with Docker Desktop 2.0.1)?

[2019-01-21 09:31] tolusha commented on #12447
@svor
Cool thank you!

[2019-01-21 09:35] l0rd commented on #12475
Issues do not seams related: in this case the workspace is started successfully whereas in #10213 the workspace cannot be started at all (cannot pull image) and there is [a workaround](https://gist.github.com/kastork/3d060691e9661064e894c2aa1893e0f4) for it.

Current issue looks related to #12463 instead. @skabashnyuk WDYT?

[2019-01-21 09:49] skabashnyuk commented on #12475
@l0rd you are right. @mkuznyetsov can you take a look?

[2019-01-21 09:54] skabashnyuk commented on #12475
@l0rd  Maybe.
@m0nhawk can you show os Chrome developer console errors?

[2019-01-21 10:34] slemeur commented on #10915
+1 for option1

[2019-01-21 11:00] metlos commented on #12413
Should the attribute be names `mountProjectSources`?

[2019-01-21 11:00] metlos commented on #12413
Should the attribute be named `mountSources`?

[2019-01-21 11:16] metlos commented on #12413
Should we instead use a string to specify the path where the plugin wants the sources mounted?

[2019-01-21 11:18] metlos commented on #12413
Should we call the mount point location `sourcesMountPath`?

[2019-01-21 12:18] skabashnyuk opened #12479 "[Devfile] Support commands for Os/K8s tool"
### Description
Now we support commands only for the ChePlugin or CheEditor tool.
We want to introduce an ability to define commands for OS/K8s tools
Like
[code]

[2019-01-21 12:19] skabashnyuk commented on #12479
One of the issues that exist is: what to do if OS/K8S recipe contains more then one container.
Should we specify some additional information in command definition?
@l0rd  can you comment?

[2019-01-21 12:34] garagatyi commented on #12434
It is wiped out to get rid of plugins that were removed from the workspace. And it is using PVC.
We need to come up with a solution that would remove a plugin when it is needed and still cache plugins that are not changed.

[2019-01-21 12:54] garagatyi commented on #12397
@eneufeld before the merge of PR #12335 you couldn't use PVCs in a workspace recipe at all. I mean they would be ignored. But you could add Che volume to the JSON definition of a workspace and it would work.
Now, when PR is merged, you can use PVC in the recipe directly. My instructions described how to add Che volume, not PVC. But the corresponding PR contains a description on how to mount PVC fr

[2019-01-21 12:55] AndrienkoAleksandr opened #12480 "Which one stack should be predefined for user who wants develop Theia plugin"
### Description
For now we have two CHE stacks and one development plugin. Which one should be predefined for user plugin development:
- `CHE 7` stack contains all dependencies to build CHE in CHE: java, node and so on.
- `CHE 7 Dev`stack contains node(6 version), ocp tool... And defined to development `CHE plugins`.
- `Che Theia Dev Plugin` plugin  - contains all dependencies to build theia, che-

[2019-01-21 12:59] l0rd commented on #12479
**Option 1** Use an `action#tool-selector` that, associated with the `action#tool-name`, would select the right container.

**Option 2** Use one of the filter that will be put in place by #12386

**Option 3** Prompt the user when one or more container match the filters/selectors

These options are not mutually exclusive. Ideally we should put in place all of them.

[2019-01-21 13:07] riuvshin commented on #12428
done

[2019-01-21 13:07] #12428 closed

[2019-01-21 13:35] l0rd commented on #12434
@garagatyi wouldn't #12398 fix that?

[2019-01-21 13:43] fbricon commented on #11856
do you use Eclipse's smart project importer after the git clone? Definitely looks like 2 processes are touching the same files

[2019-01-21 13:46] sleshchenko opened #12482 "Improve permissions article in Docs by describing usage of `*` as user identifier"
### Description
It is related to the following user-faced issue https://github.com/eclipse/che/issues/12448#issuecomment-455630010

It is needed to improve Permissions article in Che Docs to make it clear usage of `*` as user identifier in REST methods.

[2019-01-21 13:48] sleshchenko commented on #12448
@sathibault

The corresponding issue to improve Che Docs is created https://github.com/eclipse/che/issues/12482.
Feel free to reopen the issue if you think that any other issues should be registered according to problems you faced.

[2019-01-21 13:48] #12448 closed

[2019-01-21 13:52] tsmaeder commented on #12472
Turns out no files are downloaded from https://codenvy.com/update/repository/public/download/org.eclipse.che.ls.json.binaries/1.0.1. Seems our certificate has expired.

[2019-01-21 13:54] l0rd commented on #12480
I am +1 with your proposal @AndrienkoAleksandr

[2019-01-21 13:58] garagatyi commented on #12434
I might if we decide not to do brokering at all then workspace plugins configuration is not changed and versions of plugins are not upgraded. But when it is changed or new plugin version is released next workspace start would clean up everything and all the binaries would be downloaded again. For all the plugins, not just updated ones.

[2019-01-21 14:06] benoitf commented on #12424
the `vscode:extension/SonarSource.sonarlint-vscode` can be retrieved when you click on "install button" and grab the link.

[2019-01-21 14:07] benoitf commented on #12424
![link](https://user-images.githubusercontent.com/436777/51479347-431c4b00-1d8e-11e9-8765-af3f79ad2871.gif)

[2019-01-21 14:11] garagatyi commented on #12424
But what should be a proper UX from our side? @benoitf @slemeur WDYT?

[2019-01-21 14:18] benoitf commented on #12424
drag and drop the install button ^^

[2019-01-21 15:07] vinokurig commented on #11867
Depends on https://github.com/theia-ide/theia/issues/4103

[2019-01-21 16:37] l0rd commented on #12434
@garagatyi I don't understand your answer. Can you try be more explicit? Is your answer related to #12398?

[2019-01-21 16:43] m0nhawk commented on #12475
@skabashnyuk I can successfully create the workspace (any amount and for any stack).

In the logs (`docker logs -f che`) I don't see any errors, only one warning:

[code]

The Chrome Dev console:

<img width="1552" alt="screen shot 2019-01-21 at 10 40 23 am" src="https://user-images.githubusercontent.com/8220926/51487569-16a20800-1d69-11e9-80fc-c5731d7ca4cd.png">

[2019-01-21 16:58] slemeur commented on #12424
Most of the users will be adding a plugin to their workspace by directly being in the IDE or browsing the marketplace.

From the IDE, the user should be able to see/search the list available plugins. We already have a panel for that. We should make that panel richer. Separately, we should also start building a list of plugins from VSCode which have been validated to be working properly in Che.
The

[2019-01-21 18:35] m0nhawk commented on #12475
[code]

The port is forward and I have no firewall or anything in between.

[2019-01-21 18:53] m0nhawk commented on #12475
Diagnostics:

[code]

[2019-01-22 02:02] DarkBlaez opened #12485 "Install fails Helm/Kubernetes"
**Kubernetes:**
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc0", GitCommit:"d4cacc0", GitTreeState:"clean", BuildDate:"2018-10-10T16:38:01Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2

[2019-01-22 02:09] DarkBlaez commented on #12485
I missed this step...

kubectl create clusterrolebinding add-on-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:default

[2019-01-22 02:09] #12485 closed

[2019-01-22 05:52] amisevsk opened #12487 "OpenShift and Kubernetes Environment factories duplicate a lot of code."
### Description
Currently [`OpenShiftEnvironmentFactory`](https://github.com/eclipse/che/blob/master/infrastructures/openshift/src/main/java/org/eclipse/che/workspace/infrastructure/openshift/environment/OpenShiftEnvironment.java#L116) and [`KubernetesEnvironmentFactory`](https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/ku

[2019-01-22 08:12] garagatyi commented on #12424
ok, closing as this seems not to improve the experience

[2019-01-22 08:12] #12424 closed

[2019-01-22 08:17] garagatyi commented on #12434
@l0rd if we implement detection of lack of workspace plugins configuration changes since the last provisioning we can avoid downloading of binaries. This is probably what you are referring to.

Another case is when something has changed - a plugin is updated/added/removed. Then we would need to start downloading of binaries of all the plugins. Should we think how to address this or maybe it is not

[2019-01-22 13:06] vinokurig commented on #11867
Analyzing showed that this plugin requires VSCode Git extension:
https://github.com/Microsoft/vscode-pull-request-github/blob/master/src/extension.ts#L82.
VSCode Git extension uses SCM Plugin-Api:
https://github.com/Microsoft/vscode/blob/master/extensions/git/src/repository.ts#L577
witch is not implemented in Theia (Issue: theia-ide/theia#4103).
Anyway the plugin can work only on Theia with instal

[2019-01-22 13:49] hmangala opened #12491 "deployment on minikube failed due to che server not able to get keycloak configurations"
### Description
Deployment on minikube failed due to che server not able to get keycloak configurations

COMMITTERS: please include labels on each issue. Labels are listed here: https://github.com/eclipse/che/wiki/Labels but at a minimum you should include `kind` and `status` labels.
-->

### Reproduction Steps
helm upgrade --install pg-che --namespace pg -f ./values/tls.yaml --set global.ingressD

[2019-01-22 13:53] #12466 closed

[2019-01-22 14:11] levjason commented on #12147
This is a duplicate of #12167

[2019-01-22 14:11] #12147 closed

[2019-01-22 14:12] skryzhny commented on #6798
I also can't see it on codenvy v5.22.2

[2019-01-22 14:26] eivantsov commented on #12491
@hmangala is 192.168.99.100 your MiniKube IP?

[2019-01-22 14:34] hmangala commented on #12491
Yes that's correct, please see the attachment
![minikube](https://user-images.githubusercontent.com/20920370/51542291-e8afe700-1e80-11e9-9d49-d57816a2995b.png)

[2019-01-22 14:37] eivantsov commented on #12491
I can see you are using TLS. Self signed certs?

[2019-01-22 14:39] hmangala commented on #12491
I tried the steps provided in documentation like below
helm install --name pg-cert-manager stable/cert-manager

[2019-01-22 14:40] eivantsov commented on #12491
But can you verify that https ingresses are available?

[2019-01-22 14:41] hmangala commented on #12491
please tell me how to do it?

[2019-01-22 14:42] hmangala commented on #12491
This should provide me keycloak site according to the document which is not up
https://192.168.99.100.nip.io/auth/

[2019-01-22 14:43] hmangala commented on #12491
![pods](https://user-images.githubusercontent.com/20920370/51542825-25c8a900-1e82-11e9-8f17-57c4104f050d.png)

[2019-01-22 14:45] eivantsov commented on #12491
It is up.. but to be able to use secure endpoints and get certs from Letsencrypt you need a public IP which isn't the case with MiniKube. I recommend dropping tls option and trying without it.

[2019-01-22 14:53] hmangala commented on #12491
helm upgrade --install pg-che --namespace pg -f ./values/default-host.yaml --set global.ingressDomain=192.168.99.100.nip.io  --set global.cheDomain=192.168.99.100.nip.io ./

Same issue again
[che_logs.txt](https://github.com/eclipse/che/files/2783265/che_logs.txt)

[2019-01-22 14:56] eivantsov commented on #12491
This time you used default host strategy. .nip.io should not be required. But this strategy isn't tested well anyway. I recommend follow docs and use multi-host

[2019-01-22 14:58] hmangala commented on #12491
You mean multi-user strategy? like below
helm upgrade --install pg-che --namespace pg -f ./values/multi-user.yaml ./

[2019-01-22 14:59] eivantsov commented on #12491
Yes

[2019-01-22 15:00] artaleks9 commented on #12472
Today, the test is success passed on CI (https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp-all-tests/96/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.languageserverJsonFileEditingTest).
Hence the bug is fixed.

[2019-01-22 15:01] tolusha commented on #12447
Added to the wiki
https://github.com/eclipse/che/wiki/CHE-7---Development-Workflow

[2019-01-22 15:03] #12447 closed

[2019-01-22 15:06] hmangala commented on #12491
Executed the same no luck still issue remains the same, please check che pod logs attached
[che_logs.txt](https://github.com/eclipse/che/files/2783327/che_logs.txt)

[2019-01-22 15:08] eivantsov commented on #12491
What do you see when you open `http://keycloak-pg.192.168.99.100.nip.io/auth/realms/che/.well-known/openid-configuration` in your browser?

Do you have ingress addon enabled?

[2019-01-22 15:10] hmangala commented on #12491
I believe no, can you please point me how to do it
Browser I am getting No Response

[2019-01-22 15:40] sleshchenko commented on #12462
@monaka I guess the following PR should fix the issue you faced https://github.com/eclipse/che-plugin-broker/pull/25
@garagatyi Can you confirm?

[2019-01-22 15:40] garagatyi commented on #12424
@slemeur Since drag and drop provides ID with prefix I don't see much value in the feature suggested by this issue initially. If you want to proceed with drag and drop related functionality I would recommend opening another issue not to confuse  ppl with the discussion here

[2019-01-22 15:42] ibuziuk commented on #12261
@davidfestal am I correct that rh-che should not be affected by this change ?

[2019-01-22 15:43] davidfestal commented on #12261
@ibuziuk I'd have to look a bit more into it before answering ...

[2019-01-22 19:23] Katka92 commented on #11856
I am not sure what is the process behind, but what I do is that I try to create workspace via dashboard - I click ``Create Worksapce``` button, choose a codebase, select project to import (vertx-http-booster one) and click on a button to create and open that workspace. That's all. Then I'm waiting for the workspace to start and to import the project and I can see these errors.

[2019-01-22 20:40] DarkBlaez opened #12494 "Kubernetes expose external IP - Question"
More of a Kubernetes question, I run the helm install for che, it installs, question is, how to I expose this on one of the external IPs like my LoadBalancer or such.
NAME      TYPE       CLUSTER-IP    EXTERNAL-IP  PORT(S)            AGE
che-host  ClusterIP  10.245.52.50  <none>       8080/TCP,8087/TCP  1s

I can see it is deployed but I need to access external from the cluster...

Thanks
DB

[2019-01-23 07:18] eivantsov commented on #12494
@DarkBlaez so, you have successfully deployed Che and can access ingresses from within the network? But you wonder how it can be access from outside the network?

[2019-01-23 07:19] eivantsov commented on #12460
@monaka can this be a random networking issue? Does it happen to any particular language server?

[2019-01-23 08:23] #12394 closed, assigned to mshaposhnik

[2019-01-23 09:46] garagatyi opened #12497 "Should we add an ability for plugins of types `Theia, Theia remote, VS Code extension` to bring a volume to a workspace?"
### Description
We have 4 types of plugins in Che 7:
- Common
- Theia
- Theia remote
- VS Code extension

Only plugins of a common type have sidecars configuration where they can declare volumes.
Other 3 can't declare a volume.
But for some cases having a volume is quite important to make plugins faster as they would not have to re-download some dependencies or other resources on each workspace re

[2019-01-23 09:46] garagatyi commented on #12497
@tsmaeder @l0rd WDYT?

[2019-01-23 10:04] tsmaeder commented on #12497
Yes, that is a huge problem: we need .m2 and the eclipse workspace directory to be persistent in order to have reasonable performance at workspace startup.

[2019-01-23 10:44] hmangala opened #12498 "Kubernetes failed to start runtime environment"
### Description
Failed to start Kubernetes runtime of workspace workspace6autffxas6fxhfxl. Cause: Server 'wsagent/http' in machine 'dev-machine' not available.

### Reproduction Steps
helm upgrade --install pg-che-3 --namespace che -f ./values/default-host.yaml --set global.ingressDomain=a61d110eb1ee011e982a00ad243e3aab-1109201685.us-east-1.elb.amazonaws.com ./

**OS and version:**
EKS
**Diagnosti

[2019-01-23 12:00] mstavares opened #12499 "Wrap a project inside of a docker image"
Hi,

As a developer I would like to know if eclipse che is able to wrap a project that I developed inside of a workspace in a docker image. For instance, if I develop a Node application using eclipse che, I would like to know if there is any mechanism that allows me to create a docker image of this project.

I have realized that the image eclipse/node doesn't have docker installed in order to perf

[2019-01-23 13:35] metlos commented on #12225
Closing as the PR is merged.

[2019-01-23 13:35] #12225 closed

[2019-01-23 13:38] garagatyi opened #12500 "Theia remote plugins don't work after refresh of the page"
### Description
If Theia page gets refreshed remote plugins commands disappear from the command palette.
Browser console contains such an error:
[code]

### Reproduction Steps
1. Create Che 7 workspace with Theia editor.
2. Add Fortune plugin on UD
3. Start the workspace
4. Call command palette and type `tell`
5. Execute "Tell me a fortune" command
6. Refresh browser page
7. Try to call "tell me a

[2019-01-23 13:38] garagatyi commented on #12500
@benoitf @evidolob FYI

[2019-01-23 13:42] benoitf commented on #12500
it's a duplicate but I don't find the original issue so I can't link :-/

[2019-01-23 14:02] garagatyi commented on #12238
@l0rd actually our plugins don't use localhost. They use k8s Service. And this is a PITA. I have a POC for this but it leads to:
- Che master knows that when Che plugin endpoint gets converted to k8s Service it needs to prefix the name
- VS Code and Theia brokers create Endpoint with name `port4321` and insert environment variable to theia container with a value "ws://workspace123456789port4321:43

[2019-01-23 14:19] l0rd commented on #12497
@tsmaeder your scenario (enable persistance of .m2 and workspace directories) is already working. These volumes can be setup at workspace config level (as in Che 6). We can define a Java stack for example that has the volumes already pre-configured.

@garagatyi proposal is, I think, for allowing to define those volumes at the plugin level. A plugin  developer could decide what folders will be pers

[2019-01-23 14:34] garagatyi commented on #12497
I don't say it is urgent )
I agree that we need to understand what we want to see in the end before start implementing it.

FYI even when a user defines several volumes it is Che who controls it, so even on OSIO user can use several volumes which we map to subpaths of a single PVC

[2019-01-23 14:41] garagatyi opened #12501 "Rename Che 7 model fields that don't follow camel case"
### Description
Rename Che 7 model fields that use dash instead of camel case.
che-plugin.yaml:
- memory-limit https://github.com/ws-skeleton/che-editor-theia/blob/master/etc/che-plugin.yaml
- container-image https://github.com/eclipse/che-plugin-registry/pull/76/files#diff-ad94a2097c65352548608f1fd95f4234R10
- working-dir
- workspace-env
- editor-commands

### Reproduction Steps

**OS and version

[2019-01-23 15:05] l0rd commented on #12497
Agree but this volume check could theoretically be done at dashboard level right now. If we allow volumes to be declared at che-plugin.yaml level we would have the same problem we currently have with memory limits...

[2019-01-23 15:30] metlos commented on #12501
Not sure if all of https://github.com/eclipse/che-plugin-broker/blob/master/model/model.go is used in che-plugin.yaml but there seem to be more such fields than just the 2 mentioned.

For example `workspace-env` is used for sure.

[2019-01-23 15:34] metlos commented on #12413
as per https://www.eclipse.org/lists/che-dev/msg03002.html I will go ahead and create new issues for the more fine-grained tasks towards implementing the agreed solution.

[2019-01-24 07:30] hmangala commented on #12498
2019-01-23 10:28:39,045[aceSharedPool-0]  [WARN ] [.i.k.KubernetesInternalRuntime 249]  - Failed to start Kubernetes run
time of workspace workspace6autffxas6fxhfxl. Cause: Server 'wsagent/http' in machine 'dev-machine' not available.
2019-01-23 10:28:39,476[aceSharedPool-0]  [INFO ] [o.e.c.a.w.s.WorkspaceRuntimes 417]   - Workspace 'admin:wksp-vqi5' wi
th id 'workspace6autffxas6fxhfxl' start fail

[2019-01-24 08:44] l0rd commented on #12451
@jarifibrahim can you please provide your minishift version?

[2019-01-24 08:47] garagatyi commented on #12501
You are completely right. Thanks for noticing.

[2019-01-24 08:47] garagatyi commented on #12501
Added to the description of the issue

[2019-01-24 08:49] AndrienkoAleksandr commented on #12423
Done.

[2019-01-24 08:49] #12423 closed

[2019-01-24 09:10] l0rd commented on #12451
@jarifibrahim I just checked on minishift and I can create a workspace using your devfile and I don't have issues with the terminal. The serviceaccount problem @sleshchenko is mentioning was fixed [a couple of months ago](https://github.com/minishift/minishift/pull/3011) (in minishift version v1.28).

[2019-01-24 09:40] jarifibrahim commented on #12451
Thanks @l0rd . I was using minishift v1.27.0.
I've updated my minishift to 1.30 but I still see the same error
[code]

@l0rd Did you create the namespace via `system:admin` account? I'm running everything via the `developer` account.

[2019-01-24 09:54] l0rd commented on #12451
@jarifibrahim no I am running everything as `developer`. Note that when you update minishift addons will be updated only when you restart minishift and you need to confirm that you want to update them:

[code]

And if your addon is already enabled (so Che was already installed) you may need to clean up the old install and re-install it:

[code]

[2019-01-24 10:40] tolusha opened #12505 "Plugin broker fails to initialize vscode plugin"
### Description

Plugin broker fails to initialize vscode plugin

### Reproduction Steps

**OS and version:**
* minishift v1.27.0+707887e
* vscode plugin: https://raw.githubusercontent.com/eclipse/che-plugin-registry/ab/debug-vscode-plugins/plugins/ms-vscode.cpptools:0.20.1

**Diagnostics:**
[code]

[2019-01-24 11:19] mustafa-yilmaz opened #12506 "[Feauture Request / Not an Issue] Make users be able to navigate in the root ("/") folder as well"
Hi to all,

Just another feature request from a user.

Wouldn't it be good for us (users) to be able to navigate in the root ("/") folder as well just as we are already able to do so for the folders and files in our project folders as shown below?

By this way, when needed, some of us may be able to edit some system files (such as ".bashrc" and others) through the edit screen of the Eclipse CHE, i

[2019-01-24 12:17] aghasemi opened #12507 "Codenvy Editor does not recognise source folders correctly"
Hi,

I cloned an existing Heroku app (Maven+Spring Boot) into my workspace using the heroku CLI (Couldn't get Git SSH to work, so couldn't use the Import wizard).

Then went to `Project > Update Project Configuration` and manually changed project type from Blank to Maven. ArtifactId was recognised correctly.

However, I noticed in every single Java file, I get package name error in the first line,

[2019-01-24 12:40] garagatyi commented on #12505
In @tolusha case, Che configuration was messed up and incorrect image of the broker was used. Actually, Theia broker was used for VS Code extension.

In @azatsarynnyy case (https://raw.githubusercontent.com/azatsarynnyy/che7-plugin-registry/master/org.eclipse.che.vscode.k8s/1.0.0/meta.yaml), meta.yaml contains incorrect plugin type for vscode extension - Theia plugin.

After correcting issue canno

[2019-01-24 12:40] #12505 closed

[2019-01-24 12:45] tolusha commented on #12505
@garagatyi

[2019-01-24 13:08] jarifibrahim commented on #12451
No luck @l0rd. I still see the forbidden error. I'll ask someone else to give this a try. This could be my machine specific error :)

[2019-01-24 13:11] vgopalakPrgs opened #12508 "How to update workspace service account role to admin?"
### Description
By default che-workspace account has rolebinding to the ClusterRole 'view'. For our project we need to bind to ClusterRole 'admin'.  To achieve this we have edited 'workspace-exec-role-binding.yaml' file under helm\templates. But this doesnt seem to be working, the workspace service account is only bound to view.

### Reproduction Steps
1. Change role name from view to admin in wor

[2019-01-24 13:15] swartjie opened #12509 "PHP Code Completion Not Working"
Hey Guys,

I setup a new workspace on a new Server (Linux Centos), Setup the workspace and added the project.
But uppon creating the project, I cannot see any trace of the Code Completion?

I did check the Workspace config has the code completion module enabled, but when I work with a file, it does not suggest anything to me...

Am I doing something wrong? Do I need to manually enable it or someth

[2019-01-24 13:20] Katka92 commented on #12128
Hi, as far as there were other important issues I needed to handle, I have no time to solve that issue. I'm leaving for 3 weeks PTO. I can work on that when I come back (at the end of February) but if somebody wants/needs to fix that, feel free to do that. I have no progress to share there.

[2019-01-24 13:53] eneufeld commented on #12397
@garagatyi I can't follow you.
Maybe you could clarify what you mean bei recipe? The recipe for a stack? But here again the mounting of a pvc already worked using a stack recipe.
Now that the PR #12335 is merged I tried my config again, but now the start fails with
`Error: Failed to start the workspace: "Pod 'ws' contains volume 'task-pv-storage' with PVC sources that references missing PVC 'share

[2019-01-24 14:09] garagatyi commented on #12397
Che doesn't support referencing PVCs that are not part of the workspace and created by user manually.

[2019-01-24 14:13] l0rd commented on #12451
@jarifibrahim when anything else works I usually `minishift stop && minishift delete && rm -rf ~/.minishift/ && minishift start --memory 8GB && minishift addons apply che` but ⚠️  that reset your current minishift installation :-)

[2019-01-24 14:26] garagatyi commented on #12238
One problem with the solution suggested in the issue description is that since service discovery would be dependent on the workspace ID we can't just cache brokering results without modifying on each request with a certain workspace ID.

[2019-01-24 14:34] vkuznyetsov commented on #11258
this bug is actual in 6.18.0-SNAPSHOT Can we try to update ls?

[2019-01-24 14:48] eneufeld commented on #12397
Ok maybe we had a complete misunderstanding.
I want to load an additional PV which I define to all my workspaces and make it available to my theia editor.
My thinking was, that I create a PVC for my PV and add a volume to my workspace stack which references this PVC. Then I would adapt the Theia recipe and mount the workspace folder inside the theia machine.
So I would like to do what you describe

[2019-01-24 14:57] garagatyi commented on #12397
I don't think it is possible now. @sleshchenko WDYT?

[2019-01-24 15:02] sleshchenko commented on #12397
@garagatyi I don't think it is possible. Now workspaces are isolated and even with common PVC(Che Server may be configured to bound configured PVC to workspaces) workspaces files are isolated by subpaths.

[2019-01-24 15:04] jarifibrahim commented on #12451
@l0rd That work!! Thank you so much.

![](https://media1.tenor.com/images/9dac8192b4b475477730e2e00bbcabef/tenor.gif?itemid=5027655)

Closing the issue as it doesn't exist.

[2019-01-24 15:04] #12451 closed

[2019-01-24 15:05] l0rd commented on #12430
@garagatyi where do you want to put the Dockerfile?

[2019-01-24 15:20] garagatyi commented on #12430
It is already in che-theia repo https://github.com/eclipse/che-theia/blob/master/dockerfiles/remote-plugin-runner-java8/Dockerfile

[2019-01-24 15:25] l0rd commented on #12430
@garagatyi 👍

[2019-01-24 16:18] eneufeld commented on #12397
Ok this means, there is currently no way and no planned way to be able to mount non workspace bound volumes to either the workspace or a sidecar?

[2019-01-24 16:33] metlos opened #12510 "Implement mountSources boolean attribute in che-plugin.yaml"
### Description
introduce `mountSources` boolean attribute in che-plugin.yaml. When set to true, it will cause the `projects` volume to be mounted on `/projects` path.

Remove the possibility to mount the projects using the "free-form" volume mounting. This is so that we can guarantee that the sources are mounted on the same path in all the sidecar containers.

[2019-01-24 19:40] AndrienkoAleksandr opened #12511 "Test stack feature always load GWT IDE"
### Description
Test stack feature always load GWT IDE.

### Reproduction Steps
![a](https://user-images.githubusercontent.com/6873095/51704007-99a0b800-2020-11e9-82fa-6610a18144fe.gif)

**OS and version:**
CHE:  6.18.0-SNAPSHOT
CHE on the Minikube

[2019-01-24 20:06] AndrienkoAleksandr opened #12512 "[Proposal]Add ability create workspace without recipe for CHE 7, if plugins was defined"
### Description
It could be useful to add ability create workspace without recipe for CHE 7, if plugins was defined.
Potentially for CHE 7 workspace we could define dev machine like CHE plugin. But workspace api doesn't support workspace config without recipe.

**OS and version:**

**Diagnostics:**

[2019-01-24 21:55] amisevsk commented on #12445
After looking into this issue, it looks like this is **expected behaviour** on the Kubernetes side when `CHE_INFRA_KUBERNETES_PVC_PRECREATE__SUBPATHS` is `false`.

In the common strategy, we create a pod with subpaths like:
[code]
Kubernetes will create the subpath directories in the PVC as needed. However, only the *leaf* directory has write permissions:
[code]
This means that the cleanup job tha

[2019-01-24 22:04] amisevsk commented on #12445
To be clear however, the files inside the folders are deleted successfully, so minimal space is wasted.

[2019-01-24 22:06] amisevsk commented on #12445
PR https://github.com/eclipse/che/pull/12513 sets precreate property to `true` by default.

[2019-01-25 00:11] amisevsk commented on #12445
Created PR https://github.com/eclipse/che/pull/12514 to grab logs from failed pods.

[2019-01-25 05:29] sreenivasvp opened #12515 "Eclipse Che support for Ant build"
### Description
Eclipse Che : Need Ant build support
Currently only Maven builds are supported and that ant project build support is required.

### Reproduction Steps
Feature : Ant build support.

**OS and version:**

**Diagnostics:**
NA

[2019-01-25 07:37] sleshchenko commented on #12512
@AndrienkoAleksandr As far as I know Workspace API does not have such restriction anymore. Could you please test it via swagger on your Che installation? I guess it's Dashboard who doesn't allow you to create workspace without recipe.

[2019-01-25 09:00] garagatyi commented on #12238
A quick win could be:
- Make Theia and exec not discoverable (the feature is already implemented), so they would not conflict when several workspaces are running. AFAIK nobody accesses them using service discovery now
- Make Theia and VS Code brokers generate random endpoint names, so they would not conflict either

And here is a wider explanation of options we have and what are the pros and cons:

[2019-01-25 09:01] jarifibrahim opened #12516 "Workspace created by Devfile has permission issues on che.openshift.io"
### Description
The workspace create by devfile has permission issues

### Reproduction Steps
1. Create a workspace using devfile (`tkn` has openshift.io auth token)
[code]
2. Open a terminal in the newly created workspace (open terminal in thea-ide container)
and run `npm install`. The command fails with permission issues.

[code]

**NOTE**:  The `npm install` command works fine on local minishif

[2019-01-25 09:03] jarifibrahim commented on #12516
@ibuziuk is this a known issue?

[2019-01-25 09:48] mcouliba opened #12517 "Big delay of execution when using Commands Palette"
### Description
When executing commands from the Commands Palette, I have to wait for 20+ seconds before starting

### Reproduction Steps
Define and execute a command from the Commands Palette

**OS and version:**
che v.6.17.1

**Diagnostics:**

[2019-01-25 10:17] garagatyi commented on #12238
After a discussion with @l0rd and @ibuziuk, we agreed to disable creation of services for Theia and exec sidecars since it is not used at the moment and make Theia, VS Code brokers generate random names for services to avoid collisions.

[2019-01-25 12:06] l0rd commented on #12272
@mshaposhnik what's the next step here? We should publish the documentation somewhere like http://redhat-developer.github.io/devfile to be able to share the devfile format with the community.

[2019-01-25 12:43] garagatyi commented on #12238
I recalled that we had Fortune and Hello world plugins that are using sidecars and rely on predictable sidecar URLs. They need to be adapted to fetch endpoint URL from Che master API.
When one of these plugins are used by the same user in more than one workspace in the same kubernetes namespace workspaces started after the first one would fail to start.

[2019-01-25 13:09] apupier commented on #11705
@benoitf tried it on a "pure" Theia and it is working. he reproduced the error on che.openshift.io

things interesting to try:
- try installation on theiaide/theia-full
- try in Che with a stack not containing other "default plugins"
- try to install from a specific registry

[2019-01-25 14:02] eivantsov commented on #12517
@mcouliba when using a che7 workspace?

[2019-01-25 14:23] 781227k opened #12519 "Che smartTree with lazy loading"
### Description

I would like to use che's [smartTree](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/ide/che-core-ide-ui/src/main/java/org/eclipse/che/ide/ui/smartTree/Tree.java) component for displaying data in a tree structure. But my data is so big that I can't send all in once with rest API, that is why I would like to use lazy loading. I want to add child items

[2019-01-25 14:34] AndrienkoAleksandr commented on #11949
text-reflaw feature was merged to the xterm.js https://github.com/xtermjs/xterm.js/pull/1864. After release newer xterm.js and update it in the Theia upstream this bug will be fixed.

[2019-01-25 14:39] rhopp opened #12520 "Starting workspace when using "per-workspace" PVC strategy not working properly"
### Description
When starting workspace with `per-workspace` PVC strategy, `mkdir-<workspaceID>` pod is created to create directories in the PVC. But this pod is trying to mount wrong PVC. Instead of mounting `<pvcName>-<workspaceName>`, it is trying to mount only `<pvcName>` which does not exist.

This causes workspace startup to be super slow (it waits for the `mkdir-` pod to time out).

### Rep

[2019-01-25 14:39] rhopp commented on #12520
I've already had a conversation about this with Sergii Leshchenko and he created quick fix for that, but he didn't send it as PR as he didn't have enough time today:
https://github.com/eclipse/che/compare/master...sleshchenko:perWorkspacePVCfix?expand=1

[2019-01-25 14:53] AndrienkoAleksandr commented on #12315
Will be fixed after: https://github.com/eclipse/che-theia/issues/39

[2019-01-25 14:58] garagatyi commented on #12397
Yes

[2019-01-25 15:03] rhopp opened #12521 "[per-workspace PVC strategy] - When deleting workspace, PVC is not deleted, nor cleaned up."
### Description
When CRW is deployed with "per-workspace" PVC strategy and workspace is deleted, I guess the corresponding PVC should be deleted also, but this isn't happening.

Downstream issue: https://issues.jboss.org/browse/CRW-83

### Reproduction Steps
1) Have CRW with "per-workspace" PVC strategy.
2) Create workspace
3) Delete workspace
EXPECTED: PVC of this workspace is deleted.
ACTUAL: It

[2019-01-25 15:39] mcouliba commented on #12517
@eivantsov no using a che6 workspace using a custom stack [1]

[1] https://github.com/mcouliba/che-jdk-recipes/blob/master/Dockerfile

[2019-01-25 20:49] sbose78 commented on #12451
Worked for me too, and even on a fresh installation I had to reset the minishift installation!

[2019-01-26 01:12] amisevsk opened #12522 "Che throws server exception when OpenShift/k8s recipe cannot be loaded."
### Description
When an OpenShift/Kubernetes recipe cannot be loaded (e.g. it has an object with non-existent `kind` section), an internal server error occurs.

Instead a) this error should be handled, and b) a message should be shown to the user with the actual issue (e.g. "No resource type found for: v1\#Pod1")

### Reproduction Steps
1. Create Che 7 workspace
2. Edit workspace config `recipe.co

[2019-01-26 15:23] DarkBlaez opened #12523 "Keycloak - External Host/Separate Keycloak"
Just a quick question... How can I use an external Keycloak host for multiuser? I have passed in what I thought would do it "-e-e CHE_KEYCLOAK_AUTH_SERVER_URL=https://<some host>/auth" but it looks like it is still using the local one. I would like for when Che inits to populate the external Keycloak with the realm and so forth. That way I can use my external Keycloak server to manage Che and the

[2019-01-27 06:36] skabashnyuk opened #12524 "Publish Devfile documentation on http://redhat-developer.github.io/devfile"
### Description
followup of this comment https://github.com/eclipse/che/issues/12272#issuecomment-457552948
In this issue, we have an experiment with different  https://github.com/eclipse/che/issues/12272 ways to generate documentation from devfile json-spec. The goal of the current issue would be: generate documentation and set up a process of publishing this documentation to http://redhat-develo

[2019-01-27 12:11] rumcajz opened #12525 "Eclipse che in the cloud: Server 'exec-agent/http' in machine 'dev-machine' not available"
### Description
I'm creating a new workspace on:
https://che.openshift.io
I select Create Workspace > Select Stack > All > Java (or Java CentOS).
then I click Create and Open.

I get a progress bar saying "Loading" and at the bottom I see console log being produced.
At the end I get a red line saying:
Error: Failed to run the workspace: "Server 'terminal' in machine 'dev-machine' not available."

[2019-01-28 08:01] #11769 closed

[2019-01-28 09:57] mshaposhnik commented on #12272
So, as a result of this issue, several doc generators were tried, and the final decision made is to continue using `adobe/jsonschema2md` library, based on:
- positive user experience working with it;
- resulting doc format (.md) and appearance;
- support and keeping up-to date with json-schema draft versions;
So i propose to close this issue and proceed with implemenation in #12524

[2019-01-28 09:58] sleshchenko commented on #12521
I think it should be already fixed after next 6.18.0 release. The corresponding commit https://github.com/eclipse/che/commit/dda3bf28b9992d676d40aa0d2fe912e73b192769

@rhopp Do you think manually checking of Che Server built from the master branch is enough or it is needed to check it on CRW assembly?

[2019-01-28 10:28] svor opened #12526 "Remote plugin doesn't work"
### Description
I've tried to run [Sonarlint VS Code extension](https://github.com/eclipse/che-plugin-registry/blob/c5222317e53037edf7b3a0debe1f3a6bcc5bba6c/plugins/org.eclipse.che.vscode-sonarlint/0.0.1/meta.yaml) as a remote plugin. When the workspace started I can see Sonarlint extension in Plugin view but it doesn't work and no logs in minikube dashboard.
For running che I've used `eclipse/che

[2019-01-28 10:57] rhopp commented on #12521
@sleshchenko Great to hear the fix is already in place. In case of CRW respin, we will probably have to cherry-pick that commit to 6.17.x branch.

[2019-01-28 12:08] #12272 closed

[2019-01-28 12:14] garagatyi commented on #12526
Just tried and everything worked for me

[2019-01-28 12:15] l0rd commented on #12272
@mshaposhnik :+1:

[2019-01-28 12:35] #11893 closed

[2019-01-28 13:03] sleshchenko commented on #12521
Checked locally on Multi-User Che deployed on minishift. PVC created for workspace **is removed**. Files on minishift host **are not removed**
[code]
But Che Server should remove PVC but not files in such configuration (per-workspace PVC). And minishift failed to recycle PVC
![screenshot_20190128_150200](https://user-images.githubusercontent.com/5887312/51838026-d1a04780-230d-11e9-93a7-46bdd8b69b9

[2019-01-28 13:38] garagatyi opened #12530 "Theia dev editor is not secure"
### Description
Theia dev editor placed [here](https://github.com/che-incubator/che-theia-dev-plugin/blob/master/etc/che-plugin.yaml) exposes child Theia with an insecure port. Which means that anybody on a public Che instance can access it if they can guess the link to it (or spy it from a screen).
Theia itself is protected, [see](https://github.com/ws-skeleton/che-editor-theia/blob/master/etc/ch

[2019-01-28 13:43] metlos opened #12531 "Implement a way for the devfile author to specify the root path of the projects."
### Description
Currently, in Che7, the sources of the projects are checked out by Theia into subdirectories of `/projects`. This is currently driven by convention, e.g. https://github.com/eclipse/che-theia/blob/master/plugins/factory-plugin/src/factory-plugin.ts#L16.

The intention of this issue is to give the ability to set this root directory to the user through the devfile of a repository or a

[2019-01-28 13:44] garagatyi opened #12532 "Remove not needed endpoint from Theia Editor config"
### Description
We have Theia-dev plugin for providing development of Theia inside of Theia.
At the same time, Theia config still contains theia-dev [endpoint](https://github.com/ws-skeleton/che-editor-theia/blob/master/etc/che-plugin.yaml#L17) and moreover, it is insecure in contrast to the [Theia itself](https://github.com/ws-skeleton/che-editor-theia/blob/master/etc/che-plugin.yaml#L9).

[2019-01-28 13:45] garagatyi commented on #12530
@evidolob @ashumilova FYI

[2019-01-28 13:45] garagatyi commented on #12532
@evidolob @ashumilova FYI

[2019-01-28 13:53] benoitf commented on #12530
I think it's partially linked that there is a proxy that is not so transparent using secured mode.

[2019-01-28 14:04] rhopp commented on #12521
@sleshchenko You tried that with 6.18.0, right? We need to check that cherrypicked to 6.17.x branch.

We pretty much don't care if minishift is capable of recycling PVCs ;-)

[2019-01-28 14:10] sleshchenko commented on #12521
@rhopp Yeah, 6.18.0-SNAPSHOT where the [mentioned](https://github.com/eclipse/che/commit/dda3bf28b9992d676d40aa0d2fe912e73b192769) commit is present
So, please close this issue after check. Note that fix will work only for new workspaces but not existing ones. Do you think it is an issue and the corresponding fix for existing workspaces should be prepared?

[2019-01-28 14:16] skabashnyuk opened #12533 "[Tracing] Provide more context information about workspace related operation."
### Description

In traces, we would like to see a couple of tags more
- WorkspaceId (workspace name and namespace if possible)
- UserId
- Stack if awailable

Example how it looks now.
![16 12 37](https://user-images.githubusercontent.com/1614429/51841980-893a5700-2318-11e9-90a6-3edca2981045.png)
or

![16 14 12](https://user-images.githubusercontent.com/1614429/51841971-86d7fd00-2318-11e9-8a90-16e

[2019-01-28 14:40] skabashnyuk commented on #10288
will close in favor of https://github.com/eclipse/che/issues/10298

[2019-01-28 14:40] #10288 closed

[2019-01-28 14:41] sleshchenko commented on #12521
@rhopp It won't help for existing workspaces because Che Server doesn't update existing PVCs where workspace id label is missing.
One more issue that may be caused by it (fact that Che Server doesn't update existing PVCs): changes of  [che.infra.kubernetes.pvc.quantity](https://github.com/eclipse/che/blob/076b06ab174eaeffb08c11f711bf0c6c42255d5d/assembly/assembly-wsmaster-war/src/main/webapp/WEB-I

[2019-01-28 14:44] skabashnyuk commented on #5483
Close in favor of
https://github.com/eclipse/che/issues/10298 Che Tracing
https://github.com/eclipse/che/issues/10329 Che Monitoring
https://github.com/eclipse/che/issues/10290 Che Logging

[2019-01-28 14:44] #5483 closed

[2019-01-28 14:45] sleshchenko commented on #12374
@ashumilova Should we close it since the corresponding PR is merged?

[2019-01-28 15:07] rhopp opened #12534 "Release 6.17.2"
This bugfix should contain fix for https://github.com/eclipse/che/issues/12521 (should be fixed by https://github.com/eclipse/che/commit/dda3bf28b9992d676d40aa0d2fe912e73b192769)

[2019-01-28 15:08] rhopp commented on #12534
cc @dmytro-ndp @eivantsov @nickboldt @slemeur

[2019-01-28 15:09] ibuziuk commented on #12534
@skabashnyuk probably we should also include https://github.com/eclipse/che/pull/12489

[2019-01-29 03:40] amisevsk opened #12535 "Dashboard cannot validate OpenShift-specific stacks"
### Description
The way dashboard-side validation is implemented means that both OpenShift and Kubernetes recipes are validated by [kubernetes-environment-recipe-parser.ts](https://github.com/eclipse/che/blob/07fb8c41edd9a4519a65a59948da7cad0d73172f/dashboard/src/components/api/environment/kubernetes-environment-recipe-parser.ts#L82). This means that

1. We cannot validate OpenShift specific objec

[2019-01-29 03:44] amisevsk commented on #12445
Closing issue as there's nothing more to be done on our end.

[2019-01-29 03:44] #12445 closed

[2019-01-29 07:04] garagatyi commented on #12530
@benoitf can you elaborate on what is the problem with the proxy? I am not familiar with it.

[2019-01-29 07:18] benoitf commented on #12530
I don't remember but maybe it was when detecting that server is up remotely (on 'hosted mode')
Theia starts a process, and try to connect on the route to check when it's ready before opening tab

[2019-01-29 07:51] apupier opened #12536 "VS Code xml extension not working with error UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'editor.autoClosingBrackets' of undefined"
### Description

try to use xml features from vs code xml extension vscode:extension/redhat.vscode-xml

### Reproduction Steps

- open command palette
- use command "Deploy: deploy plugin by id"
- in log there is:
[code]

**OS and version:**

windows
 docker run -it -p 3000:3000 -v "C:/Users/Aurelien Pupier/theia:/home/project:cached" theiaide/theia-full:0.3.18

**Diagnostics:**

[2019-01-29 07:52] apupier commented on #12437
I think this issue https://github.com/eclipse/che/issues/12536 is a prerequisite

[2019-01-29 08:45] garagatyi commented on #12530
If theia start new instance locally isn't it check localhost?

[2019-01-29 08:59] benoitf commented on #12530
@garagatyi it doesn't. Here is why:
At some point it was just checking the new process but UX was not good. There is time for K8S route to be available.
So even if the process is "ready" locally and listen on the right port, if client opens the tab in its browser it will see a nice (or not so nice) "Unavailable page".
So there is a need to really see if page is "ready to be loaded from browser" be

[2019-01-29 09:32] riuvshin commented on #12521
@rhopp I will start bugfix release once this issue will be closed.

[2019-01-29 09:32] ibuziuk commented on #12534
@rhopp up to you, but the fix seems trivial and we would avoid hassle with two subsequent releases

[2019-01-29 09:58] sleshchenko commented on #12530
@benoitf Can Theia use machine token while checking the availability of Theia Dev port?

[2019-01-29 10:17] rhopp commented on #12521
Closing after discussion with @sleshchenko. The fix (for new workspaces) is already in master. We don't need this one fixed for an "upgrade" path (for existing workspaces)

[2019-01-29 10:17] #12521 closed

[2019-01-29 10:20] benoitf commented on #12530
@sleshchenko well, on technical side I don't see why token can't be given.(it's code on server side)
For now it's using a URI

https://github.com/theia-ide/theia/blob/e3837bb22c73841af2dccbaffd7466a835d9de67/packages/plugin-ext/src/hosted/node/hosted-instance-manager.ts#L142

(so no extra header/token)

If token is given in URI it may work but probably browser tab will be opened with that URI fiel

[2019-01-29 10:22] sleshchenko commented on #12521
Well, it is not possible to update `AccessMode` of existing PVCs.
But it is possible to update metadata (like fill in missing workspace id label) and requested resources configured with https://github.com/eclipse/che/blob/076b06ab174eaeffb08c11f711bf0c6c42255d5d/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L429

So, not sure if we need create an issue for that

[2019-01-29 10:30] #12526 closed, assigned to nobody

[2019-01-29 10:56] skabashnyuk opened #12540 "Monitoring workspaces"
### Description
Study the way how we can monitor containers that are running as part of the workspace.
 - Study the way how we can share this data for cluster admins, workspace owners.
 - Study the way how we can prevent users from overloading monitoring services.
 - Interesting metrics: CPU, Memory, Disk, Network. Etc?
 - Custom metrics that can be provided by development tools.

[2019-01-29 11:16] sleshchenko commented on #11512
I think the issue should be resolved on Resources API side but not UD https://github.com/eclipse/che/issues/11424

[2019-01-29 11:17] sleshchenko commented on #11512
Close this issue since similar problem is discussed in another issue https://github.com/eclipse/che/issues/11801

[2019-01-29 11:17] #11512 closed

[2019-01-29 11:30] sleshchenko commented on #12334
The possible solution that I see for Resource API to make it respecting sidecars memory: add an additional check of available memory after plugin brokering phase before an effective workspace environment start(recipe + plugins containers).
It should works and keep system in consistent state (users won't use more memory than they have) but there are UX issues

1. Client (Dashboard) is not able to t

[2019-01-29 11:33] skabashnyuk opened #12541 "Deploy Prometheus/Grafana stack in OpenShift templates"
### Description

We would like to add an ability to deploy Prometheus/Grafana with Che OpenShift templates.
- Deploy Prometheus/Grafana
- Connect  Prometheus to Che metric endpoint.
- Configure Grafana to use core metrics from Prometheus data source.
- Nice to have: connect Keycloak OAuth to  Prometheus/Grafana. To be able to manage admins users with keycloak

[2019-01-29 11:35] metlos commented on #12137
All has been merged, so we can close this issue.

[2019-01-29 11:35] #12137 closed

[2019-01-29 11:44] skabashnyuk opened #12542 "Grafana dashboard"
### Description
I would like to see a dashboard where I can see metrics that are provided by Che logically grouped that is easy to consume. Since Grafana has the ability to import/export dashboard downstream project can leverage by upstream configuration.
Something like this:
![grafana-esxi-013-2](https://user-images.githubusercontent.com/1614429/51906164-0a9ef180-23cc-11e9-87f1-fd643fcf2c3f.png)

[2019-01-29 11:49] skabashnyuk opened #12543 "Create documentation for monitoring use-case"
### Description
We need to document how minoring are made in Che.
- Introduction
- Installation
- Configuration
- Consumption

[2019-01-29 12:05] riuvshin commented on #12534
@rhopp @sleshchenko cherry-pick of `dda3bf28b9992d676d40aa0d2fe912e73b192769` fails with conflicts...  so I can't backport only this fix.

[2019-01-29 12:11] #12361 closed

[2019-01-29 12:21] sleshchenko commented on #12534
@riuvshin So, you have three options:
- cherry-pick all commits from the following PR https://github.com/eclipse/che/pull/12335;
- resolve conflicts during cherry-picking of `dda3bf28b9992d676d40aa0d2fe912e73b192769`;
- manually do the same changes as `dda3bf28b9992d676d40aa0d2fe912e73b192769` contains on top of 6.17.1;

[2019-01-29 12:30] skabashnyuk opened #12544 "Connect jaeger authentication to keycloak"
### Description

To have nice UX it would be reasonable to connect jaeger to keycloak. In this way, it would be easy to manage the scope of peoples who can access to traces.

[2019-01-29 12:31] skabashnyuk opened #12545 "Document tracing usecase"
### Description
We need to document how tracing is made in Che.

- Introduction
- Installation
- Configuration
- Consumption

[2019-01-29 12:34] sleshchenko commented on #12479
@l0rd Could you clarify what you mean `action#tool-selector`? It should be a new field in action to specify `selector` for picking up the right container? How this selector is supposed to work since Kubernetes Pod has labels but not a container.

Could you clarify what does it mean for Devfile format? It is introducing new field in action to specify whether this action is supposed to be run in `re

[2019-01-29 12:34] riuvshin commented on #12534
yeah, but all of these options are potentially dangerous and require full QE cycle.

[2019-01-29 12:38] skabashnyuk opened #12546 "Che monitoring/tracing in istio environment."
### Description

The goal of this task is to check how smoothly monitoring/tracing is working when Che
is running in the istio-enabled environment.

[2019-01-29 13:35] #12520 closed

[2019-01-29 13:44] ibuziuk commented on #12376
@vparfonov hi, could you please clarify if the issue planned to be fixed in `6.18.0` ?

[2019-01-29 15:06] riuvshin commented on #12534
Im not sure which way to go, I would suggest for a merging whole chain of changes. But I can't make that decision.

[2019-01-30 08:07] vparfonov commented on #12376
@ibuziuk Hi, yes work on it. Will be done on this week

[2019-01-30 08:30] riuvshin commented on #12534
AFAIK on last meeting was decided to not do quick release for CRW

[2019-01-30 08:30] #12534 closed

[2019-01-30 08:32] tolusha opened #12549 "Allow VS Code plugin broker to download extensions from a custom location"
### Description
While working on deploying the VS Code extension as a remote plugin I faced the case that isn't covered by the current VS Code plugin broker [1] behavior. It deploys a plugin only when if it is located at the marketplace.

My case is the following:  VS Code contains some built-in extensions (for instance the typescript extension [2] ) and it isn't at  the marketplace. What if this

[2019-01-30 08:32] tolusha commented on #12549
/cc
@garagatyi @l0rd @tsmaeder

[2019-01-30 08:36] mshaposhnik commented on #12524
Here is the first doc version that i build manually after some enhancements in schema:  https://github.com/mshaposhnik/mshaposhnik.github.io/blob/master/devfile.md
There is an idea to host it somewhere, until we establish fully authomated build & deploy,
but need to find right place for it. @l0rd do you think that http://redhat-developer.github.io/devfile is the best place for that? Since it is we

[2019-01-30 08:40] garagatyi commented on #12549
@tolusha we already have field `url` on the same level where the `attributes` field is. You should reuse this field instead of adding a new one.
Can you describe what would be the packaging of such an extension and what it contains?

[2019-01-30 08:49] tolusha commented on #12549
The current structure of the vscode extension from the marketplace is the following:
[code]
So, how am I going to prepare this archive?
1. Extension folder contains compiled code from [1]
2. Copy all needed dependencies into `extension/node_modules`
3. Copy prepared files `[Content_Types].xml` `extension.vsixmanifest`

[1] https://github.com/Microsoft/vscode/tree/master/extensions/typescript-langu

[2019-01-30 08:57] garagatyi commented on #12549
Are you going to package it as a zip archive?

[2019-01-30 08:58] monaka commented on #12042
![screenshot 2019-01-30 at 17 47 52](https://user-images.githubusercontent.com/101795/51969432-bb35ef80-24b7-11e9-8614-122e57deea2a.png)

This is not fixed by #12421. I think this will be caused similar code to that. I've already found doubt code in IDE. I'll fix it within a week.

[2019-01-30 08:58] tsmaeder commented on #12549
If the broker already allows for giving a url for the archive, why is this not working out of the box? It should as far as I understand it.

[2019-01-30 09:00] sleshchenko opened #12550 "Dashboard does not update WorkspaceConfig after fixing JSON format"
### Description
Dashboard does not update WorkspaceConfig after fixing JSON format.

### Reproduction Steps
1. Create Che7 workspace.
2. Open newly created workspace on `Dashboard#Config`.
3. Paste
[code]
instead of
[code]
4. Check that dashboard report an issue about invalid JSON:
```SyntaxError: Unexpected string in JSON at position 1185```
5. Fix JSON buy putting `,` after commands array.
6. Wa

[2019-01-30 09:01] garagatyi commented on #12549
@tsmaeder That URL is used by other brokers implementations (we have several brokers, not just one). In particular Theia broker (supports URL to a .theia file) and Che common broker (URL to tar.gz archive with binaries and sidecar configuration).
Meta.yaml model contains fields that can be used by several types of brokers.

[2019-01-30 09:02] tsmaeder commented on #12549
Yes, but I'm just talking about the vscode broker.

[2019-01-30 09:04] tolusha commented on #12549
yes

vscode brocker doesn't use url

[2019-01-30 09:10] tsmaeder commented on #12549
maybe it should? What's the advantage of going through the marketplace info (instead of giving a direct url) except we have to type less?

[2019-01-30 09:16] garagatyi commented on #12334
The reason why we have this situation is that initially, we decided to allow a user to host plugins configuration anywhere which is powerful but creates technical issues now.
Reworking plugin registry to cache plugin sidecar configuration is the right way to go on my opinion. But this would be a complex and long-living task.
I like the idea that Serhii provided - we can estimate it on server side

[2019-01-30 09:18] garagatyi commented on #12334
@l0rd @slemeur We don't have a way for a user to set memory-limit for a VS Code or Theia plugin in Che 7. Since plugin can be an LS and it can consume quite a lot of RAM should we address that?

[2019-01-30 09:20] garagatyi commented on #12549
Do you mean changing the current approach to use url like `https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint` instead of plugin identifier like `vscode:extension/dbaeumer.vscode-eslint`?

[2019-01-30 09:23] #12458 closed

[2019-01-30 09:24] evidolob opened #12551 "IDE2-2019-02-26 (Sprint: 162)"
### Sprint Goals:
1. Support L&T team on Theia Plugin API
2. Fix critical technical deps
3. Show a warning when starting an ephemeral workspace
4. Define and Document how to develop Che Theia with Che - Beta
5. Rework Terminal extension to a plug-in - GA

Che 7 Beta Epic - https://github.com/eclipse/che/issues/12170

Next Goals - Che 7 GA:
-  Implement flow to install a plugin from the IDE - GA

[2019-01-30 09:33] rsankarprgs commented on #12360
helm delete **--purge** che
does the above command help?

[2019-01-30 09:57] garagatyi commented on #12549
It was a question to @tsmaeder

[2019-01-30 11:16] sleshchenko commented on #12479
@l0rd Thanks for clarifications.
[code]
I expect from `selector` to be matched with objects labels. But container does not have own labels. If we would match `name` selector field with container name than it would not be so clear format since `Pods` in tool also have names.
Also there is only restriction from Kubernetes to be containers names unique whithing one Pod. And tool may contain multiple

[2019-01-30 11:36] skabashnyuk opened #12553 "Not able to deploy Che master in some cases"
### Description
For some reason when I was deploying Che on minishift it was stuck at

[code]

[code]

The goal of this task is to add JAVA_OPTS ```-Djava.security.egd=file:/dev/./urandom``` for OpenShift as we are doing that for Docker

[2019-01-30 12:12] skabashnyuk commented on #12479
I would say
1. If a tool has a single pod with one container - run inside of it.
2. If a tool has multiple pods with one container inside of each - use selectors to match pod with a single container.
3. all other cases  - let Theia to ask concrete container + create an issue if necessary to improve this situation.

[2019-01-30 12:15] eivantsov commented on #12509
@swartjie currently, you have to hit ctrl + space to get autocompletion.

[2019-01-30 12:15] #12509 closed

[2019-01-30 12:20] eivantsov commented on #12525
@rumcajz most certainly wsagent route was unavailable for a short period of time. Do you still face this issue?

[2019-01-30 12:44] #10915 closed

[2019-01-30 12:48] metlos opened #12554 "Support mountSources for non-plugin tools in devfile"
The che plugins can now specify whether or not they want to have the root of source directories mounted
to their containers using the `mountSources` attribute (which causes the volume with sources to be mounted into the container on location specified by the `CHE_PROJECTS_ROOT` env variable available to the container).

We should also add this functionality to devfile to support the same mechanism

[2019-01-30 12:51] metlos opened #12555 "Support custom environment variables for components in devfile"
### Description
It would be great if users could specify custom environment variables to be pushed into containers running the components.

This would be especially useful for components of type `dockerImage` that could be "configured" this way.

Reference devfile example: https://github.com/redhat-developer/devfile/blob/master/Devfile.yaml

[2019-01-30 13:04] metlos opened #12557 "Support clonePath in devfile"
### Description

Currently, all projects are cloned into direct subdirectories of `CHE_PROJECTS_ROOT`. This can be problematic for some tooling. Go, for example, requires projects to be cloned in a specific location under the root that corresponds to the repository in which the code is hosted.

We can support this in devfile by  being able to specify a `clonePath` property that would be understood

[2019-01-30 13:08] metlos opened #12558 "Support autodetection of clonePath of projects"
### Description
If https://github.com/eclipse/che/issues/12557 is implemented, we can think about improving the user experience by actually autodetecting the `checkoutPath` if it is not specified in a devfile.

The autodetection would need to inspect the source code that would have to be present in some temporary location and only be put in the final place by the autodetection "tooling".

[2019-01-30 13:14] garagatyi commented on #12549
We could implement this. But, in this case, we would have several cases when URL might mean something different:
- Extension page link to the marketplace
- Link to a zip archive as @tolusha suggested
- Link to a non-default extension version page

BTW how to get a link to a page of a non-default version of an extension? I haven't found.

[2019-01-30 13:17] #12263 closed

[2019-01-30 13:46] BarryDrez opened #12559 "Workspaces with Theia IDE plugins do not start in Kubernetes"
### Description
Workspaces with Theia IDE plugins do not start in Kubernetes

After successfully deploying Multiuser Che, Keycloak, Postgres to a k8s cluster,I am unable to create/start a workspace that uses the theia-ide editor plugin.  The workspace shows as starting, but never comes up.

### Reproduction Steps
Checked out the latest Eclipse Che source (6.18.0.SNAPSHOT)
cd to che/deploy/kubernet

[2019-01-30 14:07] tolusha commented on #12549
Probably there isn't.
So, any particular concerns?

[2019-01-30 14:08] sleshchenko commented on #12559
It may be related to the following issue https://github.com/eclipse/che/issues/10767.

@BarryDrez Could you please do the following actions:
- set the following env var for Che Server Config Map `CHE_LOGGER_CONFIG=org.eclipse.che.workspace.infrastructure.kubernetes=DEBUG,org.eclipse.che.api.workspace.server=DEBUG`.
- redeploy Che (scale down deployment to 0 replicas and then to 1);
- try to start

[2019-01-30 14:32] metlos commented on #12249
Note I've split #12413 into more fine grained issues:
* [ ] Implement mountSources boolean attribute in che-plugin.yaml #12510
* [ ] Support mountSources for non-plugin tools in devfile #12554
* [ ] Support custom environment variables for tools in devfile #12555
* [ ] Implement a way for the devfile user to specify the root path of the projects. #12531
* [ ] Support checkoutPath in devfile #12557

[2019-01-30 14:34] metlos commented on #12413
Superseded by #12510

[2019-01-30 14:34] #12413 closed

[2019-01-30 14:52] BarryDrez commented on #12559
Thank you @sleshchenko.  I did exactly as you have suggested.  I am not seeing an Ingress for the workspace.  Here are the Che server logs:

2019-01-30 14:37:58,525[nio-8080-exec-1] [INFO ] [o.e.c.a.w.s.WorkspaceManager 497] - Workspace 'admin/aaaaaaaaaa' with id 'workspacex606c4bjs8ihq9l9' created by user 'admin'
2019-01-30 14:38:00,210[io-8080-exec-10] [DEBUG] [.a.w.s.s.RuntimeInfrastructure 54]

[2019-01-30 14:56] svor commented on #12430
It is also needed for https://github.com/eclipse/che/issues/12436, https://github.com/eclipse/che/issues/12446

[2019-01-30 15:00] tsmaeder commented on #11856
The strange things is that it seems to fail when updating the project description. This means writing to the .project file (at org.eclipse.core.internal.resources.Project.setDescription() (Project.java#1262).
However this is a file that jdt.ls creates itself, it is not created by the git checkout.

[2019-01-30 15:38] tsmaeder commented on #12430
Why Java 8 and not something more modern?

[2019-01-30 16:27] riuvshin commented on #12430
since it is moved to che-theia repo this is not managed by CHE CI anymore, so I can't help. Please assign someone who manages build system for https://github.com/eclipse/che-theia/
afaik they are using Travis

[2019-01-30 16:46] benoitf commented on #12430
@tsmaeder AFAIK sonarlint is not running with a Java version more recent than JDK8 (at least when I tried it this is why I stick with Java8)
But it doesn't mean that we could not provide more recent java versions as well

[2019-01-30 17:03] #12006 closed

[2019-01-30 20:55] garagatyi commented on #12061
According to [this article](https://matthewpalmer.net/kubernetes-app-developer/articles/kubernetes-ports-targetport-nodeport-service.html) we can expose a port without declaring it in a pod.
[x] We know how to find if a port is being listened with a command from comments above.
[x] We know how to create service/ingress/route to expose it on a running workspace.
[ ] We need to figure out how to del

[2019-01-31 00:20] l0rd commented on #12360
@rsankarprgs no `--purge` doesn't help.

[2019-01-31 07:10] sleshchenko commented on #12559
Does Kubernetes publish any warning event about issues?

@BarryDrez Che Server logs say that workspace is started just fine. Maybe there are issues in Browser-Server connectivity issues. Could you check browser logs, failed requests from Browser Developer Tools?

[2019-01-31 08:19] garagatyi commented on #12549
Just thinking about the case with several version Thomas has mentioned

[2019-01-31 08:21] eivantsov opened #12562 "Proxy settings for fabric8 client: no_proxy isn't respected"
### Steps to reproduce

1. Add ` -Dhttps.proxyHost=squid.corp.redhat.com -Dhttps.proxyPort=8080 -Dhttps.nonProxyHosts='kubernetes.default.svc' ` to JAVA_OPTS for Che master.
2. Start a workspace.
3. No proxy isn't respected and the request to `https://kubernetes.default.svc` goes through `squid.corp.redhat.com` and of course this proxy cannot resolve an internal DNS.

There should be a way to conf

[2019-01-31 08:52] l0rd commented on #12524
I think the `devfile` format should be Che agnostic as much as we can. Other projects should use it the same format to define/persist/configure/export their development environment. So it should not be too coupled with eclipse/che.

In eclipse/che we should document how to use a devfile to define a Che workspace. The format description should go in https://redhat-developer.github.io/devfile

[2019-01-31 09:21] sunix opened #12564 "Che-theia: progress in status bar when performing any git clone (factory, workspace sync, git clone command)"
### Description
At the moment, no progress is shown when a Git clone is performed. This may be annoying for big progress where user doesn't know what is going on.

[2019-01-31 09:41] paoloantinori commented on #11705
// subscribe

[2019-01-31 09:43] l0rd opened #12565 "Show a warning when starting an ephemeral workspace"
### Description

When a user starts an ephemeral workspace he should be informed that:

and the status bar of the IDE should be different color and indicate that the workspace is in ephemeral mode.

[2019-01-31 09:44] benoitf commented on #11705
@paoloantinori FYI there is on the right column on github a `Notifications` section with a button `subscribe` if you need to get notify on new comments

[2019-01-31 10:04] garagatyi opened #12566 "Cleanup che-plugin.yaml fields left for backward compatibility"
### Description
Remove fields:
- https://github.com/che-incubator/che-theia-dev-plugin/blob/master/etc/che-plugin.yaml#L19
- https://github.com/ws-skeleton/che-editor-theia/blob/master/etc/che-plugin.yaml#L41
- https://github.com/ws-skeleton/che-editor-jupyter/blob/master/etc/che-plugin.yaml#L26
- https://github.com/eclipse/che-editor-gwt-ide/blob/master/etc/che-plugin.yaml#L80
- https://github.co

[2019-01-31 10:31] benoitf commented on #12430
@tsmaeder yes as I said, I don't see why we couldn't have an image for Java11 (for SonarLint it was really requiring Java8)

[2019-01-31 10:45] benoitf commented on #12557
hello
is it checkoutPath or clonePath/cloneDir ?
AFAIK checkout in `git` is for switching branch

[2019-01-31 11:31] olexii4 opened #12567 "Wrong behavior with Testing Stack widget"
### Description
Wrong behavior with Testing Stack widget.

### Reproduction Steps
1. Choose Stacks. Select the 'Che 7' stack
2. Open 'Che 7' Stack details. Click the 'Test' button
3. Skeep 'Import projects form'. Just click 'Test Workspace'
4. Wait until the test workspace have started
![screenshot from 2019-01-31 12-20-36](https://user-images.githubusercontent.com/6310786/52050087-1a4b4100-2558-1