[2019-08-20 08:40] #13679 closed

[2019-08-20 08:57] johnmcollier commented on #14261
FWIW, I'm seeing this issue too with `eclipse/che-theia:7.0.0` on OpenShift 3.11. I deployed Che with `./deploy-che.sh` and no plugin/devfile registry was deployed by default, so the OpenShift.io plugin registry was used instead, where `eclipse/che-theia:7.0.0` doesn't exist.

[2019-08-20 09:02] johnmcollier commented on #14266
Note that Che deployed via `./deploy_che.sh` will also use the hosted registries.

[2019-08-20 10:05] dmytro-ndp commented on #14283
@tsmaeder: Happy path tests failed because it didn't receive notification "Starting Java Language Server" after opening **petclinic** project during the 18 seconds, and refresh of browser page didn't help:
![out](https://user-images.githubusercontent.com/1197777/63338073-cd3f8880-c34a-11e9-850b-25e660e7d3a6.gif)

Browser logs: https://gist.github.com/dmytro-ndp/37e036eb1afa39ddad74fb780f43a81b
<de

[2019-08-20 11:44] ScrewTSW commented on #14073
bump.

[2019-08-20 11:45] #13979 closed

[2019-08-20 12:19] zeibura opened #14291 "[Area/Doc] Eclipse Che4z plugins - doc structure"
I am one of the tech writers working on the Eclipse Che4z project at Broadcom. My task is converting this documentation space into ASCIIdoc according to the Eclipse guidelines and uploading it to the open source space: https://techdocs.broadcom.com/content/broadcom/techdocs/us/en/ca-mainframe-software/devops/eclipse-che4z/0-8.html
It details a couple of plugins for VSC and Theia.

I already have t

[2019-08-20 12:40] sleshchenko commented on #13928
I faced the same issue and the cause was - DNS cache(`dnsmasq`) that is enabled by default on ubuntu.
@vitaliy-guliy I've found info you shared with me
[code]
It shows that you have local DNS server and issue you face is cased by fact that `/etc/resolv.conf` is propagated to minishfit but your local DNS cache is not available by `127.0.0.53`.
So, disable `dnsmasq` and it should work.

[2019-08-20 12:49] nickboldt commented on #14205
I've also marked these deprecated as their last tags are >1mo old:

https://quay.io/organization/eclipse-che
* https://quay.io/repository/eclipse-che/che-devfile-registry
* https://quay.io/repository/eclipse-che/che7-java11-maven
* https://quay.io/repository/eclipse-che/che7-java8-maven

New repos:

https://quay.io/organization/eclipse
* https://quay.io/repository/eclipse/che-devfile-registry
* ht

[2019-08-20 12:55] amisevsk commented on #14266
Part of the reason I opened this issue is that we're still using hosted Che registries as default values in che.properties; any Che deployment that doesn't override those in a configmap or environment variable will hit this same problem.

My plan was to use prod-preview until all supported deployment methods come with a registry, and then set the values in che.properties to `NULL`. At least in tha

[2019-08-20 12:55] #14205 closed

[2019-08-20 13:18] #14111 closed

[2019-08-20 13:19] vparfonov commented on #6177
not actual

[2019-08-20 13:19] #6177 closed

[2019-08-20 13:19] vparfonov commented on #5189
not actual

[2019-08-20 13:19] #5189 closed

[2019-08-20 13:22] gorkem commented on #14291
@zeibura Do you want to publish it together with Che docs? You could also publish them on your own url? We can always request http://eclipse.org/che4z to be diverted to a microsite like che project's microsite.

[2019-08-20 13:25] gorkem commented on #14288
This is because known_hosts is missing the entry for github and che/theia does not handle it like the git client does when doing the cloning from the IDE.

[2019-08-20 13:29] sleshchenko opened #14294 "che-docs: it's not possible to scroll navigation bar"
### Describe the bug
che-docs: it's not possible to scroll navigation bar as a result I'm not able to reach some of last items without rescaling the browser page.

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Go to https://www.eclipse.org/che/docs/che-7/introduction-to-eclipse-che/
2. Click `Expand all`
3. Try to open the last item - `Che ex

[2019-08-20 13:29] sleshchenko commented on #14294
cc @rkratky

[2019-08-20 13:33] vparfonov opened #14295 "IDE-2019-09-24 (Sprint: 172)"
### Sprint goals
1. GitHub Plugin various fixes
2. Finalize VS Code OpenShift/K8s Plugins porting to the Che Theia
3. Git + SSH Flow
4. Che Commands/Tasks experience

### Sprint details:
#### 1. GitHub Plugin
- [x] Github plugin installation fails #14319
- [x] Tree nodes don't expand in the GitHub plugin #13790
- [x] GitHub plugin doesn't update if a new repository is cloned and selected #14403
-

[2019-08-20 14:01] amisevsk commented on #14091
@tolusha I think it's fine if the user is adding manually, I'm more concerned with che-theia leading users down a path that ultimately will not work for them.

[2019-08-20 17:39] ibuziuk commented on #13607
it looks like no one on eclipse side reviewed https://github.com/eclipse-ee4j/eclipselink/pull/500
@slemeur @l0rd I guess this issue is a blocker for `7.1.0`

[2019-08-20 20:52] nickboldt opened #14296 "Merge plugin brokers (init, unified) into a single container image build"
### Is your enhancement related to a problem? Please describe.

Having two tiny containers to delete the /projects folder and then populate means 2x the number of containers to maintain, build, release to Quay or RHCC, and 2x the number to have to pull when supporting offline/airgap scenarios.

### Describe the solution you'd like

We could consider merging these two tiny containers into a single

[2019-08-20 23:10] l0rd commented on #14252
@musienko-maxim your step 3 ("create workspace with chectl in next way: chectl server:start -t ~/che-projects/che/deploy/") doesn't look good. Do you mean `chectl workspace:start`?

[2019-08-21 00:03] jcpowermac commented on #11817
Just tried with iPadOS 13 beta
User Agent:
13.0 Safari/605.1.15

[code]

![image](https://user-images.githubusercontent.com/5401402/63392648-84f18c00-c385-11e9-8cc8-a8bb5590cb65.png)

[2019-08-21 01:01] jcpowermac commented on #11817
![image](https://user-images.githubusercontent.com/5401402/63394394-8626b700-c38d-11e9-8e0f-a054a7ae134d.png)
![image](https://user-images.githubusercontent.com/5401402/63394433-a0f92b80-c38d-11e9-97f9-f0fea34cf325.png)

[code]

[2019-08-21 02:56] amisevsk commented on #14296
I'd probably do this as a part of https://github.com/eclipse/che/issues/13452 since it resolving workspace differences would bring the brokers closer together.

[2019-08-21 03:23] amisevsk commented on #11817
From a cursory glance, looks related to https://bugs.webkit.org/show_bug.cgi?id=188165, although I don't have the time to dig too deeply into it.

[2019-08-21 07:20] AndrienkoAleksandr commented on #13724
We could not reproduce this issue. Fill free to reopen if it's reproducible

[2019-08-21 07:20] #13724 closed

[2019-08-21 07:21] AndrienkoAleksandr commented on #8130
Not actual any more.

[2019-08-21 07:21] #8130 closed

[2019-08-21 08:02] monaka commented on #14273
It looks to be fixed by eclipse/che-theia#409. I close it.

[2019-08-21 08:02] #14273 closed

[2019-08-21 08:20] l0rd commented on #13963
@vkuznyetsov can we close this?

[2019-08-21 08:23] l0rd commented on #14126
Changed the milestone from `7.0.0` to `7.1.0`.

@sunix can you help providing the status here? Would be nice if we could have a table with the list of projects that have or have not a a CONTRIBUTING.md file and a devfile.

[2019-08-21 08:25] l0rd commented on #14020
Changed milestone to `7.1.0`

[2019-08-21 08:36] #14001 closed

[2019-08-21 08:38] l0rd commented on #13566
Closing this issue since it has been fixed by https://github.com/eclipse/che/pull/13942

[2019-08-21 08:38] #13566 closed

[2019-08-21 08:45] sparkoo commented on #14203
I've been working on this and there is high chance I won't be able to finish this task before leaving to 2weeks paternity leave. Here's how to make Openshift 4 and ConsoleLink running locally. The tricky part is that CodeReady Containers has latest bundle for openshift `4.1.9` and console links are supported from 4.2.
* run CodeReady Containers by this guide https://code-ready.github.io/crc/ (crc

[2019-08-21 09:15] slemeur commented on #14164
cc @skabashnyuk

[2019-08-21 10:06] musienko-maxim opened #14297 "Rework selenium tests according to proposals in PR#14285"
On this moment we have adapted version of selenium tests but we have a lot of proposals for improvement of the code. After merging the PR we should  improve and rework code base of tests

[2019-08-21 11:11] AndrienkoAleksandr commented on #14126
@l0rd @sunix in PTO. I think we covered most components:

Component | Devfile | Contributing.md
--- | --- | ---
[workspace-loader](https://github.com/eclipse/che/tree/master/workspace-loader) | [devfile](https://github.com/eclipse/che/blob/master/workspace-loader/devfile.yaml) | [doc](https://github.com/eclipse/che/blob/master/CONTRIBUTING.md#workspace-loader)
[user dashboard](https://github.com/e

[2019-08-21 12:00] skabashnyuk commented on #14164
@AmitChameides can you provide some additional information
### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubectl version`)
   - [ ] minishif

[2019-08-21 12:04] l0rd commented on #14283
It looks like this issue has been fixed. I have tested:

- using che nightly that currently use `che-theia:7.0.0`
- starting a workspace with `che-theia:next` and a version of the plugin registry that uses `che-theia-endpoint-runtime:next` (https://github.com/eclipse/che-plugin-registry/commit/aee58cf6a4e385fa36f6e9660f8389bc0d9028d2).

and nn both cases the LS was started and worked fine.

I beli

[2019-08-21 12:18] AmitChameides commented on #14164
### Che version

 - [ ] latest
 - [X] nightly
 - [ ] other: please specify

### Steps to reproduce
Be behind a proxy which man-in-the-middles ssl connections :)

### Expected behavior

A successful, bug-free workspace setup in Eclipse Che

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [X] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `

[2019-08-21 12:40] musienko-maxim commented on #14283
Yes, looks like on che-theia:next this problem is not actual. On this job the LS init works.:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave

[2019-08-21 12:43] zeibura commented on #14291
Hi Gorkem

Thanks for your reply
Ideally we would like to publish them together with Che docs. Would it be
possible to create a new "extensions" section in the Che documentation and
put our user guide in there? So in the tree there would be Extensions and
then Che4z under that.

Let me know if this is possible, if not we can think of another way

On Tue, Aug 20, 2019 at 3:23 PM Gorkem Ercan <notif

[2019-08-21 12:49] skabashnyuk commented on #14255
That is an expected issue with che and java >8. You can try to build che but you have to build this branch https://github.com/eclipse/che-parent/tree/java11 first.  However, work still in progress. I was not able to start Che on java 11 successfully yet.

[2019-08-21 12:52] l0rd commented on #14126
Thanks @AndrienkoAleksandr from my point of view it's ok if we don't have it for che-theia/generator. So let's close this issue as soon as che-operator has its devfile and `CONTRIBUTING`.

[2019-08-21 13:00] rhopp opened #14298 "Add source maps to Happy Path tests execution"
Right now, when Happy Path test fails, stacktrace contains links to transpiled javascript files.

This makes finding the root cause more difficult.

[2019-08-21 13:09] skabashnyuk commented on #14052
https://github.com/eclipse/che-jwtproxy might be an issue.

[2019-08-21 13:09] dmytro-ndp commented on #14069
It requires creation of Multi-user Happy path tests https://github.com/eclipse/che/issues/14234

[2019-08-21 13:11] dmytro-ndp commented on #14298
It duplicates https://github.com/eclipse/che/issues/13686

[2019-08-21 13:11] davidfestal commented on #14164
So it seems that we should allow the plugin broker to add additional certificates to its rootCA store, exactly like what was already done with the Openshift route self-signed certificates at line [53](https://github.com/eclipse/che-plugin-broker/pull/67/files#diff-cd30a3b4bd86d4cc5906665474ea1eaaR53) of PR [#67](https://github.com/eclipse/che-plugin-broker/pull/67)

Now the main question is how th

[2019-08-21 13:12] skabashnyuk commented on #14164
none at this moment

[2019-08-21 13:13] rhopp commented on #14298
I don't think so.. This one is about using source maps, #13686 is about adding proper logging.

[2019-08-21 13:48] gorkem commented on #14291
@slemeur @rkratky WDYT?

[2019-08-21 14:02] sparkoo commented on #14203
to possible future assignee of this task. Here's few hints how I work with che-operator:
* create eclipse-che project in openshift -> `oc new-project eclipse-che`
* set WATCH_NAMESPACE env variable -> `export WATCH_NAMESPACE=eclipse-che` (I'm not exactly sure what it's doing though)
* run deploy.sh script and then immediately delete the operator. With that, you'll have openshift ready to run opera

[2019-08-21 14:04] dmytro-ndp opened #14300 "Organize screenshots and make screencast video of failed E2E Happy path tests execution"
### Is your task related to a problem? Please describe.
It's hard to realize what has actually gone wrong from the list of screenshots which E2E Happy path tests are being creating:
![Screenshot from 2019-08-20 15-52-52](https://user-images.githubusercontent.com/1197777/63438849-b88bef00-c435-11e9-83d6-03064ba451b7.png)

### Describe the solution you'd like
There should be list of screenshots sort

[2019-08-21 14:24] sparkoo commented on #14203
#### Status of 2019-08-21
Che-operator have vendored dependencies and there is some undefined version of `openshift/api`, which is definitely older than 4.2. Issue is that ConsoleLink object is from 4.2, so there is no ConsoleLink Go struct to create. i've been following 2 approaches:
* update openshift/api dependency
	* WIP branch is here https://github.com/sparkoo/che-operator/tree/updateVendorT

[2019-08-21 14:28] sparkoo commented on #13794
2nd point in @metlos's plan would mean that currently proposed PR doesn't fix the #13683. Factory behaves the same as `/workspace/devfile`, so it will fail when passing devfile with `name` that already exist. To fix that, we would need to fix the factory, before it gets into the `WorkspaceManager`.

[2019-08-21 14:29] amisevsk opened #14301 "`chectl update` seems to loop forever"
### Describe the bug
Executing `chectl update` seems to loop on downloading artifacts

### Che version
Fedora 30
[code]

### Steps to reproduce
1. Install `chectl` as described in the ["Installation" section](https://github.com/che-incubator/chectl#installation)
[code]
2. Run `chectl update`. Output is:
[code]

### Expected behavior
Chectl checks if update is required and updates if so.

### Envir

[2019-08-21 14:50] amisevsk opened #14302 "chectl Install process is strange"
### Describe the bug
Using the instructions provided under https://github.com/che-incubator/chectl#installation on Linux has strange results:
1. `chectl-install.log` is created with `root` ownership:
[code]
2. The installed artifacts have `uid` `501` and group `games` (`gid` `20`):
[code]

### Che version
Fedora 30
[code]

### Steps to reproduce
1. Install `chectl` as described in the ["Installati

[2019-08-21 15:07] bryantson opened #14303 "chectl installation through operator throws "Cannot read property 'message' of undefined""
Running the following installation command using chectl throws the error message:

`
chectl server:start -a operator -b some_openshift_domain -p openshift
`

**ERROR MESSAGE:**

[10:03:01] ✈️  Openshift preflight checklist [started]                                                                                                                        [10:03:01] Verify if oc is installed [started]

[2019-08-21 16:05] bryantson commented on #13328
Encountered the same issue, and the event on PVC shows the same "waiting for first consumer to be created before binding" and the status is pending.

[2019-08-21 16:14] bryantson commented on #12889
Where is CHE_INFRA_KUBERNETES_PVC_WAIT__BOUND set? I cannot find it in Configmap.

[2019-08-21 20:01] bryantson commented on #8286
Is there any update on this?

[2019-08-21 22:14] sr229 commented on #8286
last activity was around a year ago, Probably everyone forgot about this....

[2019-08-21 23:14] benoitf commented on #14302
I think uid/gid are the one in travis-ci uid/gid ( as when we untar a tar archive)

[2019-08-22 01:33] johnmcollier opened #14305 "Chectl starts Che components in the wrong order"
### Describe the bug

When using `chectl` to deploy Che on OKD 3.11, using the operator, I'm finding that the Che operator deploys some Che components in the wrong order compared to what Chectl is expecting (devfile and plugin registry before keycloak, rather than the other way around). This ends up causing the keycloak operation to time out, and Che being unable to be deployed.

 What happens is

[2019-08-22 02:22] sunix commented on #8286
Hello we are working on this: @Rijul5 has started to work on a vscode extension that is using teletype libraries and would work on Che ... as part of the Google Summer of Code. He is trying his best to have something working at the moment.

[2019-08-22 04:09] sparkoo commented on #13794
@sunix @benoitf @l0rd @slemeur @davidfestal can someone of you please react to @metlos's comment? We would like to merge the PR and close the issue. We can continue with creating new issues by @metlos's plan and discuss details there, but I currently can't see any unresolved/unexplained issues blocking current PR to be merged. This is taking too long and we'd like to move it forward.

[2019-08-22 05:22] theBeautifier commented on #13700
It seems like the current version of Intelephense which Che is using isn‘t working anymore.
It starts with the workspace but isn‘t functioning at all. There is just nothing running.

[2019-08-22 05:52] sparkoo commented on #14203
#### 2019-08-22 Morning update
I was able to successfully register ConsoleLink go struct and create consolelink object with that. I've created draft PR with first rough implementation.

[2019-08-22 05:56] sleshchenko commented on #12889
@bryantson It should not be needed after https://github.com/eclipse/che/pull/14239.
BTW Default value is in che.properties file that is bundled to Che Server, and you can override it by providing `CHE_INFRA_KUBERNETES_PVC_WAIT__BOUND` value to config map

[2019-08-22 06:41] tolusha commented on #14305
I am not sure if order is wrong. Maybe someone has a better vision, but in case of timeout you can try `k8spodreadytimeout`:

[code]

https://github.com/che-incubator/chectl

[2019-08-22 07:44] pptime commented on #8286
Good to know there are responsible group of people working on this ;)

Le jeu. 22 août 2019 à 04:23, Sun Seng David TAN <notifications@github.com>
a écrit :

[2019-08-22 07:46] slemeur commented on #14291
Hi @zeibura ! Thanks for your proposal. As long as the content is directly related to Che itself I think it's great if you want to publish it with the Che docs. @rkratky would be confirming. We could add a section for extensions, that would be logical IMO.

Just checking, but on the link you provided the installation guides only covers VSCode not Che: https://techdocs.broadcom.com/content/broadcom

[2019-08-22 07:53] slemeur commented on #14274
@themr0c : yes correct!

[2019-08-22 08:13] l0rd commented on #13794
@sparkoo the PR is approved and I don't think you need to wait any comment here to merge it.

My point of view is that #13683 is the real P1 and need to be fixed.

Making the devfile a kind of a template (a la [OpenShift Templates](https://docs.okd.io/latest/dev_guide/templates.html)) is a nice to have for me.

[2019-08-22 08:20] sleshchenko commented on #14303
For some reason, command that creates service account failed, maybe you don't have enough permissions. I've prepared a PR that would show the original error that happens https://github.com/che-incubator/chectl/pull/258

[2019-08-22 08:21] dmytro-ndp commented on #14283
At the same time we encountered too big _Java LS server initialization_ time (more than 30 minutes) on Jenkins slave _codenvy-slave9_, where we ran fixed Che version https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/blue/organizations/jenkins/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/detail/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-code

[2019-08-22 08:59] tsmaeder commented on #14224
According to @benoitf the way we do it here is the same as in Theia, where the process has been cleared with the Eclipse legal team. We can add "license.txt" whenever we want. Not a blocker.

[2019-08-22 10:09] ibuziuk opened #14308 "Che 6 -> Che7 workspace migration warnings on UD point to the wrong content"
Currently "documentation" links point to https://www.eclipse.org/che/docs/che-6/what-are-workspaces.html which does not have any migration content:

![image](https://user-images.githubusercontent.com/1461122/63365697-66d15f00-c378-11e9-876a-95101ce77606.png)

![image](https://user-images.githubusercontent.com/1461122/63365724-7650a800-c378-11e9-91f1-09822ecae72b.png)

Those links should point to t

[2019-08-22 10:59] vparfonov commented on #14308
lets fix it in 7.1.0

[2019-08-22 11:07] #13794 closed

[2019-08-22 11:12] #14210 closed

[2019-08-22 11:18] azatsarynnyy commented on #13405
waiting for https://github.com/theia-ide/theia/pull/5994

[2019-08-22 11:31] sleshchenko commented on #14305
@johnmcollier Thanks for reporting it. The order is really inconsistent:
From che-operator logs:
[code]

[2019-08-22 11:37] ibuziuk commented on #14308
@evidolob @olexii4 could you please take a look ?

[2019-08-22 12:21] themr0c commented on #14294
The JavaScript that make the menu foldable (CDNJS (Cloudflare) jQuery v2.1.4) is the cause of trouble. I used Decentraleyes until very shortly: this browser plugin is blocking the incriminated JavaScript. Menu are not foldable anymore, but are scrollable.

[2019-08-22 12:42] vinokurig commented on #14244
Should be fixed by https://github.com/theia-ide/theia/issues/6015

[2019-08-22 12:46] #14256 closed

[2019-08-22 12:46] #13236 closed

[2019-08-22 12:46] #14211 closed

[2019-08-22 12:50] sleshchenko commented on #14303
@bryantson Are you able to do the same with the newest chectl https://github.com/che-incubator/chectl/releases/tag/20190822122043 ?

[2019-08-22 12:50] themr0c commented on #14274
@rkratky @slemeur eclipse/che-docs#793 should be sufficient to address the issue.

[2019-08-22 13:06] AmitChameides opened #14309 "Eclipse Che dockerfile build issue"
## Summary
Hey all,
I'm trying to build a custom Che-Server image using the Dockerfile in che/dockerfile/che/.

I've cloned the project to my local computer and modified the dockerfile by adding some lines.
However, when I try to build the dockerfile into an image using the command `docker build -t eclipse/che-server .` , I get hit by an error by the second-last line:

`Step 9/10 : ADD eclipse-che

[2019-08-22 13:20] skabashnyuk commented on #14309
try
```/build.sh --dockerfile:Dockerfile```

[2019-08-22 13:36] themr0c opened #14310 "add a devfile in che-samples/console-java-simple"
A brand new user discovering Che would probably navigate to https://www.eclipse.org/che/getting-started/cloud/, look at the section "Create a workspace from your GitHub or GitLab repo", navigate to the proposed repository https://github.com/che-samples/console-java-simple, and try to find in that repository a nice example devfile.

But currently  https://github.com/che-samples/console-java-simple

[2019-08-22 14:39] Ohrimenko1988 commented on #14212
Outdated

[2019-08-22 14:49] amisevsk commented on #14310
Apart from maintaining updates, there seems to be no reason to not just include the `console-java-simple` devfile in the devfile registry repo, right?

[2019-08-22 14:51] amisevsk commented on #13328
"Waiting for first consumer" should be fixed in the next release: https://github.com/eclipse/che/pull/13409

[2019-08-22 14:56] themr0c commented on #14310
Maybe it's the https://www.eclipse.org/che/getting-started/cloud/ page that should not propose a link to  this repository?

[2019-08-22 15:03] amisevsk commented on #12366
This is a che.openshift.io specific issue and seems to be related to how user accounts are provisioned there.

I've created issue https://github.com/redhat-developer/rh-che/issues/1569 to track this, as it's not a Che-specific issue.

[2019-08-22 15:07] #14300 closed

[2019-08-22 15:16] sparkoo opened #14312 "Factory with space `%20` character in url always fails"
### Describe the bug

When creating workspace by factory, passing link with space character `%20` or `%2520` will always fail.

Second issue here is that the error message on factory screen is:
_"This factory is using old workspace definition format which is not compatible anymore. Please follow the documentation to update the definition of the workspace and benefits from the latest capabilities."

[2019-08-22 15:16] olexii4 commented on #13309
Cannot reproduce on Eclipse Che v7.0.0 and higher

[2019-08-22 15:21] #13309 closed

[2019-08-22 15:21] ibuziuk commented on #14308
PR with workaround https://github.com/eclipse/che-docs/pull/794

[2019-08-22 15:24] metlos opened #14314 "Keycloak token not refreshed when asking for workspace status"
It seems like the keycloak token is not properly refreshed for the websocket that keeps the dashboard informed about the workspace statuses.

![image](https://user-images.githubusercontent.com/19999/63527181-e427db80-c500-11e9-97bf-18876f4f5282.png)

Repro steps:

1. start che server in multiuser mode
1. open a workspace
1. go to the list of workspaces
1. wait a couple of minutes
1. stop the works

[2019-08-22 16:01] Pixxelcrasher commented on #14271
yes but does it give a way to fix it ?
Sorry for my late answer

[2019-08-22 16:02] musienko-maxim commented on #14248
The last job was successful: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/200/

[2019-08-22 16:02] #14248 closed

[2019-08-22 18:20] nickboldt commented on #14113
@benoitf what if we provide two dockerfiles for each place where there's currently an alpine one?
Could be either `Dockerfile` and `Dockerfile.alpine` or `Dockerfile` and `Dockerfile.ubi8`.

WDYT?

I mean I can maintain all the ubi8 based ones in a different repo, but it would be way easier to make sure changes are applied to both if the files live side-by-side, rather than in a codeready-workspac

[2019-08-22 18:56] nickboldt commented on #14113
Latest versions of the ubi8-based httpd and yq containers are 105.8M and 49.9M, respectively:

https://quay.io/repository/nickboldt/ubi8-httpd-yq?tab=tags
https://quay.io/repository/nickboldt/ubi8-yq?tab=tags

Sure, it's a bit bigger than Alpine. But not that much more.

[2019-08-22 19:09] #14274 closed

[2019-08-22 19:34] bryantson commented on #8286
So, with Che 7/CRW 2.0, this wouldn't be released, correct?

[2019-08-22 21:01] davidwindell commented on #12366
I also have this issue on Rancher so I don't think it's platform specific

[2019-08-23 00:46] sr229 commented on #8286
@sunix when can we expect a working draft/Beta and source release?

[2019-08-23 01:20] sunix commented on #8286
We will release this as soon as this will be ready. It will be coming as a Che7 plugin indépendant from Che7 release process: would be available in the market place.

[2019-08-23 04:46] Katka92 opened #14315 "Improve the Che 6 -> Che 7 migration doc"
### Is your task related to a problem? Please describe.
I tried to migrate Che 6 workspace to Che 7 using this documentation: https://www.eclipse.org/che/docs/che-7/converting-a-che-6-workspace-to-a-che-7-devfile/ and I have a few issues.

The first problem is accessing a documentation. There is already issue for that https://github.com/eclipse/che/issues/14308

The procedure of migration Che 6 wo

[2019-08-23 04:54] Katka92 opened #14316 "Implement methods in TestWorkspaceUtil.ts"
Implement unimplemented methods in `TestWorkspaceUtil.ts`:
- [ ] getIdOfRunningWorkspace
- [ ] removeWorkspaceById
- [ ] stopWorkspaceById

Those methods should contain a logic of switching between single/multi user.

### Describe the solution you'd like
The way we are doing that in Rh-Che is that we have environmental variable for TOKEN. If there would be such variable in upstream, the switch can

[2019-08-23 06:02] hjbbjh opened #14317 "mvn install failed when dashboard build"
### Describe the bug
when i run mvn install，gulp not found error。

### Che version
7.0.0

### Steps to reproduce

run command：
mvn -e install -DskipTests -Dlicense.skip=true -Dskip-enforce -Dskip-validate-sources -Dfindbugs.skip -DskipIntegrationTests=true -Dmdep.analyze.skip=true -Dmaven.test.skip=true
in the root dir

### Screenshots
![图片](https://user-images.githubusercontent.com/18327687/63570

[2019-08-23 06:05] tolusha commented on #14317
Try to install it and rebuild the project.
`npm install --global gulp`

[2019-08-23 06:09] hjbbjh opened #14318 "In unit tests, no classes were found"
### Describe the bug
In unit tests, no classes were found

### Che version
7.0.0

### Screenshots
![图片](https://user-images.githubusercontent.com/18327687/63570344-6078f800-c5af-11e9-93c5-3f99c699175a.png)
![图片](https://user-images.githubusercontent.com/18327687/63570389-94541d80-c5af-11e9-8bda-968817a7006e.png)

[2019-08-23 06:43] hjbbjh commented on #14317
@tolusha
![图片](https://user-images.githubusercontent.com/18327687/63571951-3fff6c80-c5b4-11e9-9ff0-d691537fb73e.png)
![图片](https://user-images.githubusercontent.com/18327687/63571965-4aba0180-c5b4-11e9-8cd4-eb185b261b50.png)

[2019-08-23 06:50] #14283 closed

[2019-08-23 06:56] skabashnyuk commented on #14318
@hjbbjh thank you for this issue. Can you explain your expectation? Is the problem exists if you are not using IntelijIdea?

[2019-08-23 07:14] vinokurig opened #14319 "Github plugin installation fails"
### Describe the bug

Github plugin installation fails, Git extension fails as well if the GitHub plugin is turned on.
This happens because the GitHub plugin has vscode git extension in it's plugin dependencies. Since https://github.com/theia-ide/theia/commit/2d4c8457c09cc6ca37fc5480d14eb080a74ed85a was merged Theia automatically installs dependent plugins, but the vscode git extension is not loca

[2019-08-23 07:21] hjbbjh commented on #14318
no，i wish you can check all the project and fix them

[2019-08-23 07:25] azatsarynnyy commented on #13331
looks like it's already fixed in Theia upstream

[2019-08-23 07:25] #13331 closed

[2019-08-23 08:26] skabashnyuk commented on #14318
```org.eclipse.che.api.core.server.dto.DtoServerImpls.ServiceErrorImpl``` is generated file.

![Знімок екрана  о 10 25 09](https://user-images.githubusercontent.com/1614429/63578230-4f6cbe80-c590-11e9-8f40-a39e1f209cf7.png)
To fix this error you just need to run ```mvn clean install``` and allow Intelij to index generated files.

[2019-08-23 08:36] ibuziuk commented on #14315
@Katka92 will you be able to provide a PR to https://github.com/eclipse/che-docs with the doc improvements listed in the issue description ?

[2019-08-23 08:45] hjbbjh commented on #14318
ok，thanks

[2019-08-23 08:45] #14318 closed

[2019-08-23 09:00] ibuziuk commented on #13736
moving to 7.2.0 according to the firefox related epic - https://github.com/eclipse/che/issues/14015

[2019-08-23 09:04] sleshchenko commented on #14318
@skabashnyuk You're right but I do not really understand why DtoImpls are used there. I've done a quick look and create a fix for that https://github.com/eclipse/che/pull/14320

[2019-08-23 09:23] #14098 closed

[2019-08-23 10:45] tolusha commented on #14319
https://github.com/theia-ide/theia/issues/5993

[2019-08-23 11:19] SkorikSergey opened #14321 "[Selenium] Sometimes Theia IDE does not open after starting workspace"
### Describe the bug

Sometimes **Theia IDE** does not open after starting workspace. This issue reproduces randomly by selenium tests.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create and start workspace from any stack or from factory.
2. Wait for the workspace is started and **Theia IDE** is opened.

### Expected behavior
**Theia IDE*

[2019-08-23 11:23] Katka92 commented on #14315
@ibuziuk I can try :D I'm not good at writing docs, so I will write some "draft" and ask you for a review then :)

[2019-08-23 11:50] azatsarynnyy opened #14322 "Outdated chectl version is installed via 'next' release channel"
### Describe the bug

`chectl` `next` release channel brings an outdated version although the [doc](https://github.com/che-incubator/chectl#installation) says:

### Steps to reproduce

Install `chectl` using `next` release channel as described in the README:
`bash <(curl -sL  https://www.eclipse.org/che/chectl/) --channel=next`

[chectl `0.0.20190814-next.d78ef53`](https://github.com/che-incubator

[2019-08-23 11:51] sleshchenko commented on #14318
cc @hjbbjh Now DTOImpls is not used in the referenced places

[2019-08-23 12:15] tolusha commented on #14025
The work is done here [1]
The workflow is the following:
1. Start Theia
2. Open Theia project
3. Run the configuration below

[code]

4. Opens browser:
`http://localhost:3030/?runTests`
`?runTests` is a crucial think which tells `TestRunner` to start tests.

5. Wait until tests are finished

[code]

![screencast-localhost_3000-2019 08 23-14_45_09](https://user-images.githubusercontent.com/1640675/

[2019-08-23 12:43] tolusha commented on #14023
All investigations are described here:  https://github.com/eclipse/che/issues/14025#issuecomment-524292993

[2019-08-23 13:02] #14102 closed

[2019-08-23 13:25] #14142 closed

[2019-08-23 13:33] leader-us opened #14324 "can't start workspace because related pods not created"
Version Elipse Che 7.0  on kubernetes V 1.15
![err0](https://user-images.githubusercontent.com/5953348/63595969-c20b8780-c5ec-11e9-9bb7-419f025d4473.PNG)

on my notebook ,with nginx gateway controller ,nodeport  & hostnetwork controller pod

tried many times ,but workspace can't be started success
![err1](https://user-images.githubusercontent.com/5953348/63596120-1ca4e380-c5ed-11e9-9a9f-4a3e26c9ad

[2019-08-23 13:36] dmytro-ndp opened #14325 "Fix Java selenium tests to run against Che with next version for default plugins"
### Is your task related to a problem? Please describe.
After Che master has been switched to Che Theia `next` which based on Theia `master` branch, we need to adapt Java selenium test to be executed against Theia from master branch:
- org.eclipse.che.selenium.dashboard.CreateAndDeleteProjectsTest.deleteProjectsFromDashboardTest
- org.eclipse.che.selenium.dashboard.CreateAndDeleteProjectsTest.crea

[2019-08-23 14:16] skabashnyuk commented on #14324
@leader-us thank you for this report. Can you please provide additional information:
### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubectl v

[2019-08-23 14:26] skabashnyuk commented on #13945
@l0rd Does the scope of this issue limited to add previewUrl only in devfile. Or it also means to add some information in workspace runtime. Like
[code]

[2019-08-23 14:27] azatsarynnyy commented on #13412
The commands are work well.
Tested after adding the components:
[code]

[2019-08-23 14:27] #13412 closed

[2019-08-23 14:28] gorkem commented on #958
We have no plans to support Scala from the Che project but we do have LSP and vscode plugin compatibility and we welcome any extensions that would like to publish [on our registry](https://www.eclipse.org/che/docs/che-7/publishing-che-theia-plug-ins/#adding-a-che-theia-plug-in-to-the-che-plug-in-registry_publishing-che-theia-plug-ins).

Asking Scala extension providers such as https://github.com/s

[2019-08-23 14:28] #958 closed

[2019-08-23 14:29] #14025 closed

[2019-08-23 14:30] #14007 closed

[2019-08-23 14:38] gorkem commented on #7014
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:38] #7014 closed

[2019-08-23 14:40] gorkem commented on #3270
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:40] gorkem commented on #4138
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:40] #4138 closed

[2019-08-23 14:41] gorkem commented on #2981
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:41] #2981 closed

[2019-08-23 14:41] #3270 closed

[2019-08-23 14:42] gorkem commented on #4839
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:42] #4839 closed

[2019-08-23 14:43] gorkem commented on #5549
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:43] #5549 closed

[2019-08-23 14:43] gorkem commented on #6939
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:43] #6939 closed

[2019-08-23 14:44] gorkem commented on #7280
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:44] #7280 closed

[2019-08-23 14:44] gorkem commented on #7809
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:44] #7809 closed

[2019-08-23 14:45] gorkem commented on #7145
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:45] #7145 closed

[2019-08-23 14:45] gorkem commented on #4603
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:45] #4603 closed

[2019-08-23 14:46] gorkem commented on #5412
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:46] #5412 closed

[2019-08-23 14:46] gorkem commented on #7557
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:46] #7557 closed

[2019-08-23 14:48] gorkem commented on #9136
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:48] #9136 closed

[2019-08-23 14:49] gorkem commented on #11139
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:49] #11139 closed

[2019-08-23 14:49] gorkem commented on #8573
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:49] #8573 closed

[2019-08-23 14:49] gorkem commented on #12118
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:49] #12118 closed

[2019-08-23 14:50] gorkem commented on #7042
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:50] #7042 closed

[2019-08-23 14:53] gorkem commented on #7938
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:53] #7938 closed

[2019-08-23 14:54] gorkem commented on #7525
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:54] #7525 closed

[2019-08-23 14:54] gorkem commented on #6927
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:54] #6927 closed

[2019-08-23 14:54] gorkem commented on #7166
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:54] #7166 closed

[2019-08-23 14:55] nickboldt opened #14326 "Release Che 6.19.6"
We need a release of 6.19.6 to pull in the fix from #13437

Downstream: https://issues.jboss.org/browse/CRW-294

PR: https://github.com/eclipse/che/pull/14239 and https://github.com/eclipse/che/pull/14269

Due: no later than Sept 3 if we want this included in CRW 1.2.2 RC1. cc: @vparfonov @slemeur

But given that much of the process is manual, undocumented, etc. this might have to slip. Still impo

[2019-08-23 14:56] gorkem commented on #11140
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:56] #11140 closed

[2019-08-23 14:56] gorkem commented on #8125
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:56] #8125 closed

[2019-08-23 14:56] gorkem commented on #7980
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:56] #7980 closed

[2019-08-23 14:57] gorkem commented on #7165
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:57] #7165 closed

[2019-08-23 14:57] gorkem commented on #6691
Closing as Che 6 editor is no longer under active development

[2019-08-23 14:57] #6691 closed

[2019-08-23 15:00] gorkem commented on #4779
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:00] #4779 closed

[2019-08-23 15:00] gorkem commented on #5474
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:00] #5474 closed

[2019-08-23 15:01] gorkem commented on #5635
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:01] #5635 closed

[2019-08-23 15:01] gorkem commented on #5219
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:01] #5219 closed

[2019-08-23 15:01] gorkem commented on #4617
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:01] #4617 closed

[2019-08-23 15:02] gorkem commented on #3157
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:02] #3157 closed

[2019-08-23 15:02] gorkem commented on #5464
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:02] #5464 closed

[2019-08-23 15:03] gorkem commented on #3932
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:03] #3932 closed

[2019-08-23 15:03] gorkem commented on #5912
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:03] #5912 closed

[2019-08-23 15:03] gorkem commented on #6724
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:03] #6724 closed

[2019-08-23 15:03] gorkem commented on #4759
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:03] #4759 closed

[2019-08-23 15:04] gorkem commented on #5058
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:04] #5058 closed

[2019-08-23 15:04] gorkem commented on #5422
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:04] #5422 closed

[2019-08-23 15:04] gorkem commented on #5720
Closing as Che 6 editor is no longer under active development

[2019-08-23 15:04] #5720 closed

[2019-08-23 15:12] gorkem commented on #3816
Closing as cli is no longer active

[2019-08-23 15:12] #3816 closed

[2019-08-23 15:14] #4461 closed

[2019-08-23 15:18] gorkem commented on #4964
@slemeur Is there anything else left to do for this one? Can we close it?

[2019-08-23 15:20] #14298 closed

[2019-08-23 15:21] gorkem commented on #4968
Related https://github.com/theia-ide/theia/issues/5517

[2019-08-23 15:37] gorkem commented on #5297
Is this also valid for Che 7 IDE?

[2019-08-23 15:45] amisevsk opened #14328 "Java language server does not start with che-remote-plugin-runner-java8:next"
### Describe the bug
The Java language server fails to start when the workspace is started pointing at the current nightly release of the plugin registry. I suspect this is related to https://github.com/eclipse/che-plugin-registry/commit/f0eb1f0568d8e9a129f18ed15faecf1eba16b052

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start java workspa

[2019-08-23 15:46] amisevsk commented on #14328
cc: @vparfonov

[2019-08-23 15:47] ibuziuk commented on #14326
@nickboldt do you know the release process for `6.19.6` ? I got knowledge transfer only for `7.1.0` release

[2019-08-23 16:06] gorkem commented on #5508
Closing as this is done for Che 7 and Che 6 is not active anymore

[2019-08-23 16:06] #5508 closed

[2019-08-23 16:08] gorkem commented on #5627
Closing as Che 6 editor is no longer active

[2019-08-23 16:08] #5627 closed

[2019-08-23 16:10] gorkem commented on #5652
@vrubezhny Is this still a valid issue?

[2019-08-23 16:10] gorkem commented on #5658
Closing as this does not seem to be valid anymore

[2019-08-23 16:10] #5658 closed

[2019-08-23 16:11] nickboldt commented on #14326
No, not a clue. Only Roman knows... maybe Vitalii too?

[2019-08-23 16:14] gorkem commented on #5679
@slemeur I am closing this one. Can you file a new one if you feel we need a new one that covers devfiles and registries?

[2019-08-23 16:14] #5679 closed

[2019-08-23 16:16] gorkem commented on #5928
I feel like our current docs cover this already

[2019-08-23 16:16] #5928 closed

[2019-08-23 16:21] gorkem commented on #7772
Closing as this seems to be related to Che 6 editor only

[2019-08-23 16:21] #7772 closed

[2019-08-23 16:23] lcuone commented on #13700
@theBeautifier I can confirm that, this happens since Intelephense 1.2.0 was released. The Intelephense che plugin endpoint returns only "Upgrade required" now. It would be awesome if 1.2.0 could be supported, especially the new premium version :)

[2019-08-23 16:24] gorkem commented on #8632
Closing as we are no longer active on Che 6 editor

[2019-08-23 16:24] #8632 closed

[2019-08-23 16:33] gorkem commented on #9045
@ibuziuk I am closing this as I do not think this is a valid case anymore

[2019-08-23 16:33] #9045 closed

[2019-08-23 16:34] gorkem commented on #9295
@benoitf Is this Che 6 only?

[2019-08-23 16:38] gorkem commented on #9488
Closing as Che 6 editor is not under active development and I think this was fixed

[2019-08-23 16:38] #9488 closed

[2019-08-23 16:40] gorkem commented on #9732
Closing as this is available on Che 7 and Che 6 is not under active development

[2019-08-23 16:40] #9732 closed

[2019-08-23 16:47] gorkem commented on #9402
@vitaliy-guliy Isn't this done already ? Can we close?

[2019-08-23 16:50] #14242 closed

[2019-08-23 16:59] #13778 closed

[2019-08-23 16:59] #13775 closed

[2019-08-23 17:00] #13689 closed

[2019-08-23 17:25] davidwindell commented on #5297
If Theia doesn't have it then I'd say yes please. I'm still struggling with getting Che running with Rancher so can't confirm yet.

[2019-08-23 17:39] #10213 closed

[2019-08-23 17:40] gorkem commented on #10334
Closing due to inactivity

[2019-08-23 17:40] gorkem commented on #10473
Closing due to inactivity

[2019-08-23 17:40] gorkem commented on #10565
Closing due to inactivity

[2019-08-23 17:41] gorkem commented on #10712
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:41] #10712 closed

[2019-08-23 17:42] gorkem commented on #10855
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:42] #10855 closed

[2019-08-23 17:42] gorkem commented on #11054
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:42] #11054 closed

[2019-08-23 17:42] gorkem commented on #11300
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:42] #11300 closed

[2019-08-23 17:42] gorkem commented on #11471
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:42] #11471 closed

[2019-08-23 17:42] gorkem commented on #11521
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:42] #11521 closed

[2019-08-23 17:43] gorkem commented on #11987
closing as this is implemented on Che 7

[2019-08-23 17:43] #11987 closed

[2019-08-23 17:44] gorkem commented on #12011
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:44] #12011 closed

[2019-08-23 17:45] gorkem commented on #12188
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:45] #12188 closed

[2019-08-23 17:45] gorkem commented on #11614
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:45] #11614 closed

[2019-08-23 17:45] gorkem commented on #11707
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:45] #11707 closed

[2019-08-23 17:46] gorkem commented on #11796
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:46] #11796 closed

[2019-08-23 17:46] gorkem commented on #11841
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:46] #11841 closed

[2019-08-23 17:46] gorkem commented on #11916
Closing due to inactivity, please reopen if needed.

[2019-08-23 17:46] #11916 closed

[2019-08-23 23:14] gorkem commented on #12212
@AndrienkoAleksandr Is this still valid?

[2019-08-23 23:15] vrubezhny commented on #5652
@gorkem As we moved to use more or less native VSCode extensions (with no additions/changes)  I don't think so.
Anyway, the current PR cannot be easily rebased and probably needs to be re-developed from the very beginning

[2019-08-23 23:20] gorkem commented on #12195
I am closing this as it has been properly reported on other issues

[2019-08-23 23:20] #12195 closed

[2019-08-23 23:25] gorkem commented on #12193
Sounds like https://github.com/theia-ide/theia/issues/4016

[2019-08-23 23:27] gorkem commented on #12182
Closing due to inactivity, reopen if you need to

[2019-08-23 23:27] #12182 closed

[2019-08-24 01:50] #12134 closed

[2019-08-24 01:51] #12130 closed

[2019-08-24 01:52] gorkem commented on #12121
@sunix do you want to still keep this?

[2019-08-24 01:53] gorkem commented on #12120
I do not think this is still valid, please reopen if you think it is valid

[2019-08-24 01:53] #12120 closed

[2019-08-24 02:10] gorkem commented on #12175
I think this is not valid anymore, closing, reopen if you need more help

[2019-08-24 02:10] #12175 closed

[2019-08-24 02:12] gorkem commented on #12108
Closing as the original question is answered.

[2019-08-24 02:12] #12108 closed

[2019-08-24 02:16] gorkem commented on #12103
@vitaliy-guliy Is this still valid?

[2019-08-24 02:18] gorkem commented on #12075
Closing due to inactivity, please reopen if you need further help

[2019-08-24 02:18] #12075 closed

[2019-08-24 02:19] gorkem commented on #12065
closing

[2019-08-24 02:19] #12065 closed

[2019-08-24 02:20] gorkem commented on #12044
@sr229 Is this still valid, I am closing it now, feel free to reopen

[2019-08-24 02:20] #12044 closed

[2019-08-24 02:26] gorkem commented on #12040
I am closing this one as I am not sure if there is an action to take here. @tsmaeder reopen if you feel we still need to act on it

[2019-08-24 02:26] #12040 closed

[2019-08-24 02:26] gorkem commented on #12031
Closing as we are no longer active on Che 6 editor

[2019-08-24 02:26] #12031 closed

[2019-08-24 02:28] gorkem commented on #12020
I think this is not valid anymore @skabashnyuk I am closing this but feel free to open if this is still valid for Che 7

[2019-08-24 02:28] #12020 closed

[2019-08-24 02:31] gorkem commented on #11985
closing due to inactivity

[2019-08-24 02:31] #11985 closed

[2019-08-24 02:31] #11976 closed

[2019-08-24 02:34] #11932 closed

[2019-08-24 02:34] #11917 closed

[2019-08-24 02:38] #11907 closed

[2019-08-24 02:39] #11884 closed

[2019-08-24 02:42] gorkem commented on #11881
closing since this does not seem to be valid

[2019-08-24 02:42] #11881 closed

[2019-08-24 02:43] gorkem commented on #11896
closing as it does not look valid

[2019-08-24 02:43] #11896 closed

[2019-08-24 02:46] gorkem commented on #11830
We have no immediate plans to support groovy on Che project however we do encourage extensions to the new Che 7 platform which has compatibility to Language Server Protocol and vscode extensions

[2019-08-24 02:46] #11830 closed

[2019-08-24 02:49] gorkem commented on #11790
@slemeur I think this is done already but feel free to reopen if anything missing

[2019-08-24 02:49] #11790 closed

[2019-08-24 02:51] gorkem commented on #11764
I am not sure I follow the request on this one? Are you thinking about extensions vs plugins ?

[2019-08-24 02:53] gorkem commented on #11747
Sounds like Che 6

[2019-08-24 02:53] #11747 closed

[2019-08-24 02:53] #11743 closed

[2019-08-24 02:56] gorkem commented on #11655
@vparfonov Is this still valid?

[2019-08-24 02:57] gorkem commented on #11642
Closing, I do not think this is valid anymore

[2019-08-24 02:57] #11642 closed

[2019-08-24 03:03] gorkem commented on #11444
looks incomplete, closing

[2019-08-24 03:03] #11444 closed

[2019-08-24 03:08] gorkem commented on #8515
Closing this as Che 7 provides enough hints for git status

[2019-08-24 03:08] #8515 closed

[2019-08-24 03:08] #8849 closed

[2019-08-24 03:12] #5652 closed

[2019-08-24 06:25] #10473 closed

[2019-08-24 06:25] skabashnyuk commented on #11615
Closing due to inactivity

[2019-08-24 06:25] #11615 closed

[2019-08-24 07:33] leader-us commented on #14324
Thanks.
Che version is 7.0   ,image "eclipse/che-server:7.0.0"
helm source file from  https://github.com/eclipse/che/tree/7.0.x/deploy/kubernetes/helm/che
deployed by Helm ,ingress domain is mychedomain (by core dns to resolve those domains to centos 7 VM )
helm upgrade --install myche     -f ./values/default-host.yaml  --set global.ingressDomain=mychedomain ./
default-host.yaml content is followi

[2019-08-24 07:45] leader-us commented on #14324
I'm not sure the follow Debug error message
![err111](https://user-images.githubusercontent.com/5953348/63634195-a0121380-c685-11e9-9b8e-8721baed5fb1.PNG)
![err1112](https://user-images.githubusercontent.com/5953348/63634196-a902e500-c685-11e9-9595-2d7eb39c7499.PNG)

[2019-08-24 07:49] leader-us commented on #14324
login from github ,so my test user account is from github and auto added into che
![image](https://user-images.githubusercontent.com/5953348/63634249-478f4600-c686-11e9-9edf-94f49c8626fd.png)
![image](https://user-images.githubusercontent.com/5953348/63634258-71e10380-c686-11e9-992c-1515ba85a577.png)
![image](https://user-images.githubusercontent.com/5953348/63634266-87eec400-c686-11e9-837b-188e68

[2019-08-24 11:57] davidwindell opened #14330 "Failed to run the workspace: mkdir /plugins/sidecars: permission denied"
### Describe the bug
I am trying to get Che 7.0.0 multiuser running on K8's, deployed via Rancher using the Helm charts in the repo. I've managed to get everything running now so far as the Che dashboard appears. I am however now stuck from going any further as, when starting a workspace I get the following error:

[code]

The first thing I did was to check the physical volume, it is just a local

[2019-08-24 13:28] SDAdham commented on #13085
I think I am also experiencing similar issue but with permissions for postgres (shall I create a new issue?):
[code]

[2019-08-24 13:31] SDAdham commented on #13344
I think I am also experiencing similar issue but with permissions for postgres (shall I create a new issue?):
[code]

[2019-08-24 16:40] gorkem commented on #4312
Closing this as docker support is discontinued on Che 7

[2019-08-24 16:40] #4312 closed

[2019-08-24 16:42] gorkem commented on #5017
@davidwindell have you checked this with Che 7?

[2019-08-24 16:44] gorkem commented on #5478
Closing since Che 6 is not actively developed and on Che 7 we depend on extensions to bring this functionality.

[2019-08-24 16:45] gorkem commented on #5486
Closing as devfile gives this capability

[2019-08-24 16:45] #5486 closed

[2019-08-24 16:49] gorkem commented on #5502
I do not believe this is such a large issue since we dropped docker support, closing

[2019-08-24 16:49] #5502 closed

[2019-08-24 16:58] gorkem commented on #5900
Closing this one, on Che 7 this is a matter of putting the correct xml definition to the project's folder. see https://github.com/eclipse/eclipse.jdt.ls/issues/623

[2019-08-24 16:58] #5900 closed

[2019-08-24 17:04] #5770 closed

[2019-08-24 17:05] #12435 closed

[2019-08-24 17:10] gorkem commented on #5605
Closing

[2019-08-24 17:10] #5605 closed

[2019-08-24 17:27] gorkem commented on #6422
Closing as... well ... for being 2 major releases behind :)

[2019-08-24 17:27] #6422 closed

[2019-08-24 17:29] gorkem commented on #7313
Closing

[2019-08-24 17:29] #7313 closed

[2019-08-24 17:32] gorkem commented on #6092
Delete seems to be there now

[2019-08-24 17:32] #6092 closed

[2019-08-24 17:34] gorkem commented on #7748
@gazarenkov do you think we can close this one now

[2019-08-24 17:38] gorkem commented on #7989
Closing @l0rd feel free to reopen if you feel it still has work to do

[2019-08-24 17:38] #7989 closed

[2019-08-24 17:38] gorkem commented on #7990
Closing @l0rd feel free to reopen if there is anything to do

[2019-08-24 17:38] #7990 closed

[2019-08-24 17:38] gorkem commented on #7991
Closing @l0rd reopen if needed

[2019-08-24 17:38] #7991 closed

[2019-08-25 04:58] SDAdham opened #14331 "if cluster is rebooted, postgres won't be able to reclaim the same PV or at least it would experience permissions issue"
#14299 # Describe the bug
I did some investigation and I found this: https://medium.com/faun/digitalocean-kubernetes-and-volume-permissions-820f46598965 where it describes the exact issue of the postgres
I don't know how to use mountOptions as it says:
[code]
however, for the alternative method, it seems that i need to modify the yaml of the pod of which i can't do so since i'm using `chectl`.
Tha

[2019-08-25 05:00] SDAdham commented on #14050
This issue has been resolved, the whole issue was actually produced by `maas` where when it would commission new machine, it will automatically add `search` into the DNS settings. Removing those `search` values from the DNS configuration helped resolving the issue immediately and now that the DNS is stable.

Thanks everyone!

[2019-08-25 05:00] #14050 closed

[2019-08-25 08:35] AmitChameides commented on #14309
Hey @skabashnyuk
I tried running the command as you described in the `che/dockerfile/che/` directory and I got the following error:
`Have you built assembly/assemby-main in /c/Users/amichame/Desktop/che/dockerfiles/che/../assembly/assembly-main 'mvn clean install'?`

From context + online documentation I figured that I need to mvn clean install for that command to work properly. So I went to the r

[2019-08-25 10:58] SDAdham opened #14332 "ssh: delete key pair not working"
### Describe the bug

When creating a new workspace with git projects added, they don't get cloned upon workspace creation:
[code]
trying to delete a key that was generated, it's not working
[code]
Deleted it manually via k8s secretes and tried to generate a new one but i can't anymore
### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other: please specify
[code]

### Steps to reproduce

A newl

[2019-08-25 12:29] SDAdham commented on #14332
I tried both methods, generating ssh key for all hosts and particular host, and nothing works, always get:
[code]

[2019-08-25 13:18] AmitChameides commented on #14309
UPDATE: I managed to find the solution. The reason I couldn't successfully run the command `mvn clean install` was due to a couple of factors. At the end of the day, here's what I needed to do in order to successfully build my image:
1. Make sure I'm not connected to a proxy.
2. Make sure my local installation of Docker has its proxy settings turned off.
3. In my terminal, go to the root directory

[2019-08-25 13:18] #14309 closed

[2019-08-25 14:44] gorkem commented on #14332
I think it is because of the known_hosts is not updated by the IDE. Can you do the initial git clone from the command line and see if git works afterwards ?

[2019-08-25 15:37] SDAdham commented on #14332
Yes, i did try that, same problem

[2019-08-25 15:38] SDAdham commented on #14332
Is ssh delete key generally works? Or is it buggy?

[2019-08-25 16:50] gorkem commented on #14332
Delete has worked for me but you may want to restart your workspace after adding/removing ssh keys. Che keeps SSH keys as k8s secrets and mounts them to the proper path so path to the key will not be removed until the restart.

[2019-08-25 16:56] gorkem commented on #8094
Closing as this works differently with devfiles.

[2019-08-25 16:56] #8094 closed

[2019-08-25 16:56] gorkem commented on #8170
Closing

[2019-08-25 16:56] #8170 closed

[2019-08-25 16:59] gorkem commented on #8382
@slemeur I am closing this one everything else is followed up on their own tasks.

[2019-08-25 16:59] #8382 closed

[2019-08-25 17:03] gorkem commented on #8622
@skryzhny Can you check Che7 if it has the behaviour you want?

[2019-08-26 08:14] ibuziuk commented on #14332
@vinokurig could you please confirm that restart is required for deleting ssh? should we add a similar warning as we currently have for ssh key generation (e.g. ssh keys will be removed after workspace restart)?

[2019-08-26 08:16] ibuziuk commented on #14328
@tsmaeder could you please take a look - seems important so I put `7.1.0` milestone

[2019-08-26 08:19] ibuziuk commented on #13526
@skabashnyuk @metlos could you please put the milestone based on the team priorities ?

[2019-08-26 08:20] ibuziuk commented on #14282
@musienko-maxim the issue is assigned, so please put a milestone based on the team priorities

[2019-08-26 08:22] ibuziuk commented on #14286
@tetchel any plans to provide a PR for that ;-)

[2019-08-26 08:38] ibuziuk commented on #14316
@Katka92 I put `7.2.0` milestone. Are you going to work on this issue ?

[2019-08-26 08:38] zeibura commented on #14291
Hi Stevan, thanks a lot.

The files that will be landing on the Che doc will be instructions for Che
rather than VS Code. The user guide is mostly the same, but installation
instructions are different.

I will submit all the files later this week.

On Thu, Aug 22, 2019 at 9:46 AM Stévan Le Meur <notifications@github.com>
wrote:

--
*Zeibura Kathau*
Technical Writer (CA File Master and Eclipse Che)

[2019-08-26 08:41] ibuziuk commented on #14294
@themr0c @rkratky removed `need-triage` label, please set a milestone based on the doc team priorities

[2019-08-26 08:43] themr0c commented on #14294
@ibuziuk I don't have that power :)

[2019-08-26 08:54] SDAdham commented on #14332
Restart doesnt fix anything, infact clicking delete ssh key doesnt do anything as well

[2019-08-26 09:04] Katka92 commented on #14316
Well, it can be me or anybody else from Che QE. I don't think it is a high priority issue as in upstream they don't need to use those methods yet. Maybe @rhopp input would be nice there.

[2019-08-26 09:09] ibuziuk commented on #14290
@tolusha @tsmaeder removed `need-triage` label, please put the milestone based on the language team priorities

[2019-08-26 09:32] tsmaeder commented on #14282
I assigned it because I'm waiting for feedback.

[2019-08-26 09:34] Katka92 commented on #14315
@ibuziuk Can you help me please?

| Che 6        | Che 7           |
| ------------- | ------------- |
| Apache camel based projects, Apache Camel based projects on Che 7    | Apache Camel based on **Spring Boot** ~~projects on Che 7~~ |
| .NET, . NET Core with Theia IDE    | .NET Core ~~with Theia IDE~~  |
| Go, CentOS Go, Go with Theia IDE | GO ~~with Theia IDE~~ |
| Java Gradle | Java Gradle |

[2019-08-26 09:35] tsmaeder commented on #14290
@tolusha not quite clear from reading this what the problem is: is this a newer version of the cpp plugin than the one we released? Is this a problem when moving to theia master (instead of 7.0.0)?

[2019-08-26 11:25] tsmaeder commented on #14328
@amisevsk how are you running Che? Why are you pointing it at a non-default registry?

[2019-08-26 11:36] ibuziuk commented on #14287
@l0rd @evidolob I have removed the `need-triage` label since we just need to decide in which milestone are we planning to update the odo and oc binaries

[2019-08-26 11:38] ibuziuk commented on #14289
@mkuznyetsov I see there is already a Draft PR https://github.com/eclipse/che/pull/14306
Could you please assign the issue and set the correct milestone

[2019-08-26 11:39] ibuziuk commented on #14301
@l0rd seems to be quite important to have this in `7.1.0`

[2019-08-26 11:41] ibuziuk commented on #14321
@evidolob @rhopp moving to `7.x` for now, please set milestone based on the team 's priorities

[2019-08-26 12:05] Katka92 commented on #14197
Hi guys, from Thursday 22nd tests running against prod-preview Rh-Che with version `7.0.0` started to fail on this issue.

Job console log: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1251/console
Screen of a output that shows that workaround does not work:
![Screenshot from 2019-08-26 13-14-12](https://user-images.githubusercontent.com/29278800/63689419-31aa8e00-c80a-11e9-8

[2019-08-26 12:07] ScrewTSW commented on #14073
Any plans for fixing this issue?

[2019-08-26 12:42] AmitChameides opened #14334 "How do I deploy Eclipse Che with a custom version of the Che image?"
## Summary

Hey all,
I'm trying to set up Eclipse Che on OpenShift in an enterprise environment which requires me to make some changes with the Che pod prior to deployment.
I made a custom Che image (That is, I built an image using the GitHub project's filed with a slightly altered Che Dockerfile). I also turned it into a .tar file, so now I have it both deployed on my local computer's Docker as w

[2019-08-26 12:55] ibuziuk commented on #14296
moving to 7.2.0 for now and adding to the prioritization doc for the next sprint discussion

[2019-08-26 12:57] ibuziuk commented on #13452
Moving to 7.2.0 for now, this issue is going to be discussed during the pre-planning for the next sprint

[2019-08-26 13:00] amisevsk commented on #14328
@tsmaeder This is on the OpenShift dev cluster we use. I don't think it's a cluster issue as it's pretty consistently reproducible.

What do you mean by "default" registry? We're currently moving away from having Che provide default registries of any kind, since the che.openshift.io registries are for prod/prod-preview only -- https://github.com/eclipse/che/issues/14266.

I've tested:
- Che-server

[2019-08-26 13:07] ibuziuk commented on #14334
@AmitChameides have you tried to push images directly to the OpenShift registry - https://docs.openshift.com/container-platform/3.3/install_config/registry/accessing_registry.html#access ?

[2019-08-26 13:10] ibuziuk commented on #14297
@musienko-maxim the task is assigned, could you please put the milestone based on the team priorities ?

[2019-08-26 13:13] ibuziuk commented on #14302
@l0rd I put it to `7.1.0` for now, please change the milestone if this is not crucial for the upcoming release

[2019-08-26 13:17] ibuziuk commented on #14310
Closing. All devfiles for https://www.eclipse.org/che/getting-started/cloud/ are planned to be stored in https://github.com/redhat-developer/devfile/tree/master/getting-started
Also, I believe it is a good idea to deprecate all https://github.com/che-samples in general and use real-world examples in the devfiles (both for 'getting-started' and devfile registry)

[2019-08-26 13:17] #14310 closed

[2019-08-26 13:17] AmitChameides commented on #14334
I have, but unfortunately there are two things which effectively stop me from doing this successfully:
1. I don't know what is the IP address/port of the OpenShift registry (Is it the same as the ones used to access the OpenShift web UI?)
2. My user doesn't have admin privileges (Though I can ask some other user to do this for me so this isn't a big problem).

[2019-08-26 13:17] gorkem commented on #14332
@vparfonov can you check if this is a regression?

[2019-08-26 13:18] ibuziuk commented on #14319
@vinokurig removing `need-triage` label, please set a milestone based on the team priorities

[2019-08-26 13:18] ibuziuk commented on #14319
oh, looks like it is part of https://github.com/eclipse/che/issues/14295 - moving to `7.2.0`

[2019-08-26 13:20] ibuziuk commented on #14303
@bryantson any updates? have you tried with the latest chectl version?

[2019-08-26 13:22] ibuziuk commented on #14305
@davidfestal could you please take a look and comment?
@johnmcollier would you be interested in providing PR for fixing this?

[2019-08-26 14:52] ibuziuk commented on #14317
@hjbbjh are you still facing this issue? e.g. it is not possible to build che on Windows ?

[2019-08-26 14:54] ibuziuk commented on #14322
@l0rd could you please take a look?

[2019-08-26 14:55] ibuziuk commented on #14325
@dmytro-ndp @SkorikSergey the issue is assigned, please put a milestone based on the team priorities

[2019-08-26 15:00] l0rd commented on #13637
Che 7 has been released August 14 2019.

[2019-08-26 15:00] #13637 closed

[2019-08-26 15:11] l0rd commented on #14302
@amisevsk what are the consequences for the end user? Does he need to `chmod` to be able to execute `chectl`?

[2019-08-26 16:54] ibuziuk commented on #14315
I believe there are no Android, Rails & Ceylon devfiles, so let's not include them in the table.

lgtm, but we would double-check this during PR review

this doc is not hosted che specific, so let's leave them there

[2019-08-26 17:04] ibuziuk commented on #14330
@amisevsk could you please take a look at this one? What could potentially cause permission denied issues?

`Plugins installation process failed. Error: Plugin broking process for workspace workspacehe0g3fhudssx2s7n failed with error: mkdir /plugins/sidecars: permission denied`

[2019-08-26 17:34] ibuziuk commented on #14332
Vitalli is on PTO, @azatsarynnyy could you please take a look?

[2019-08-27 01:00] kellyhyomin commented on #13698
@tolusha
Thank you for your help.
What version of theia can I use with the @ theia/cpp extension?
Other features, such as the hover function, seem to be working, but the code completion does not work properly.

[2019-08-27 03:46] SDAdham commented on #14331
A new update, I deployed another che instance last night, I didn't touch it at all, just made a simple configuration (it was working as I created workspaces just fine), however today I cannot create workspaces, checking up on the pods, I see `postgres` is coming up with this issue here, i don't know why (even though there was no reboot)

[2019-08-27 05:40] SDAdham commented on #14331
From postgres pod:
[code]

[2019-08-27 05:56] tolusha commented on #13698
It is supposed to use Che c/c++ plugin with the latest version or Eclipse Che (7.1.0-SNAPSHOT) but we have to fix this issue [1] at first
[1] https://github.com/theia-ide/theia/issues/5993

[2019-08-27 06:00] tolusha commented on #14290
The root cause is Theia that fails to start with extensions that are needed for the plugin
https://github.com/theia-ide/theia/issues/5993

[2019-08-27 06:14] #14202 closed

[2019-08-27 06:51] sleshchenko commented on #14324
I suppose it duplicates the following issue https://github.com/eclipse/che/issues/10767

K8s infrastructure creates pods only when loader IP is assigned to ingress, but for some installations, it is never assigned and actually, there is no need to wait for it.

[2019-08-27 07:00] Ohrimenko1988 commented on #14197
@Katka92 Could you share execution information (logs, dumps, screencasts ...)?

[2019-08-27 07:09] AmitChameides commented on #14334
Both of these options have been considered, thank you. After some testing, I've faced these problems -
**Private Registry** - Given the nature of private registries, only some people (By default, the Docker user who created them) can access them and interact with them.
I'm unsure how to configure the Docker instance on OpenShift, and it does not have permissions to pull/import the image from the p

[2019-08-27 07:36] Katka92 commented on #14197
@Ohrimenko1988 I've shared log in my comment, sharing again: : https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1251/console
all artefacts we have are here: http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-preview-2a/1251/

[2019-08-27 07:36] AndrienkoAleksandr commented on #4312
@gorkem this issue is reproducible for kubernetes and openshift. We still have default limit on the user dashboard in 30 workspaces. If user creates more than 30, user dashboard doesn't display this workpsace at all.

[2019-08-27 07:37] sleshchenko commented on #14334
Maybe it could help https://docs.openshift.com/enterprise/3.0/dev_guide/image_pull_secrets.html

[2019-08-27 07:41] sleshchenko commented on #4312
@AndrienkoAleksandr It's another issue https://github.com/eclipse/che/issues/9752

[2019-08-27 07:56] vinokurig commented on #13956
fixed in https://github.com/theia-ide/theia/pull/5961

[2019-08-27 07:56] #13956 closed

[2019-08-27 07:57] skabashnyuk commented on #13683
Fixed in https://github.com/eclipse/che/pull/14311

[2019-08-27 07:57] #13683 closed

[2019-08-27 08:01] azatsarynnyy commented on #4964
Everything is done in Che 6.
Closing as Che 6 editor is no longer under active development.

[2019-08-27 08:01] #4964 closed

[2019-08-27 08:03] #14036 closed

[2019-08-27 08:07] skabashnyuk commented on #5602
No longer relevant to the latest che7.

[2019-08-27 08:07] #5602 closed

[2019-08-27 08:22] AmitChameides commented on #14334
Hey @sleshchenko , thanks for your help!
Unfortunately, that's not exactly what I'm looking for. The image I'm trying to get isn't in another OpenShift project, but rather outside OpenShift altogether. It is also meant to replace one of the pods in the Che project, so calling its image from an existing pod won't work I think.

[2019-08-27 08:50] Katka92 commented on #14315
@ibuziuk @l0rd @pdaverh I've created a PR with my changes. Looking forward to see your ideas!
https://github.com/eclipse/che-docs/pull/796

[2019-08-27 09:44] vitaliy-guliy opened #14336 "Impossible to start workspace"
### Describe the bug

After restarting the minikube with existing Che workspace I was not able to continue my work.
Che server was failing with the following error

![Screenshot from 2019-08-27 10-20-37](https://user-images.githubusercontent.com/1655894/63759638-2022be00-c8be-11e9-9edb-0be18a8b4b37.png)

Then I
- stopped and deleted running `minikube` by commands `minikube stop` and `minikube dele

[2019-08-27 10:20] metlos commented on #14336
As a workaround, please add this env var to the configuration of the che server:
[code]

The fix will follow rather quickly...

[2019-08-27 10:23] metlos commented on #14336
Note that if `chectl` used the latest helm chart, you shouldn't have seen this issue (https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/templates/configmap.yaml#L75)

[2019-08-27 10:54] davidwindell commented on #14330
Thanks @amisevsk, could you give me a pointer on how to start the broker pod manually? Do I just look for recently stopped containers and then try and run the one that looks like the broker with a custom entrypoint?

[2019-08-27 11:20] olexii4 opened #14338 "Dashboard factory enhancement"
### Is your enhancement related to a problem? Please describe.

In the case with CHE7 workspaces and their devfiles, which can be used instead of factories, I'm always frustrated when I see CHE factories without devfile supporting.  On the other hand - we don't have a special UI for using devfiles instead of factories.

For creating a new workspace from the devfile we need to type a special URL(fo

[2019-08-27 11:21] olexii4 commented on #14338
@slemeur WDYT?

[2019-08-27 11:57] olexii4 opened #14340 "Editor list error"
### Describe the bug

We can create and run a new minimal workspace from the next devfile:
[code]
But in this case, the editor list is broken at all. The problem fixed after adding any one component.

### Che version

 - [  ] latest
 - [ x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create a new workspace from the devfile
[code]
2. Open 'Editors'

### Expected behavior

A full

[2019-08-27 12:48] AndrienkoAleksandr commented on #13387
Current implementation state
List pull requests:
https://github.com/eclipse/che-theia/pull/410
https://github.com/eclipse/che-plugin-registry/pull/210
https://github.com/eclipse/che/pull/14333
https://github.com/eclipse/che-plugin-broker/pull/71

To launch remote plugins we have node application https://github.com/eclipse/che-theia/tree/master/extensions/eclipse-che-theia-plugin-remote. For this a

[2019-08-27 12:57] sleshchenko commented on #13387
@AndrienkoAleksandr Some discussion already is happening here https://github.com/eclipse/che-plugin-broker/pull/71#discussion_r318062445

[2019-08-27 13:02] ibuziuk commented on #14331
@SDAdham could you please all the details in the issue description? how did you deploy Che, which version? on which infrastructure? There is a template for the issue creation:

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ]

[2019-08-27 13:04] Ohrimenko1988 opened #14341 "Add VNC server to the "eclipse/che-e2e" docker image"
### Is your task related to a problem? Please describe.
The "VNC" server is a helpful tool for debugging and monitoring of remote desktop.
It should be added to the "eclipse/che-e2e" docker image

[2019-08-27 13:59] skabashnyuk opened #14342 "Platform-2019-09-24 (Sprint: 172)"
### Description
- [ ] Test Che6 to Che7 upgrade using che-operator | https://github.com/eclipse/che/issues/14200 | 8
- [x] Optimize PermissionChecker performance | https://github.com/eclipse/che/issues/13221 | 8
- [x] [Metrics] Develop dashboards for metrics that come from traces | https://github.com/eclipse/che/issues/13502 | 5
- [ ] Provide ability to map component to containerName | https://git

[2019-08-27 14:29] SDAdham commented on #14331
### Describe the bug

already provided

### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other: please specify
[code]

### Steps to reproduce

A newly deployed che environment today
followed the steps of https://www.eclipse.org/che/docs/che-7/version-control/

### Expected behavior

### Runtime
   - [X] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc

[2019-08-27 14:29] SDAdham commented on #14331
permission is denied

[2019-08-27 14:50] tolusha commented on #13614
The solution might be accomplished in following steps. (It has been tested yet)

1. Override scheme by adding a sidecar identifier (which is basically a machine name)
https://github.com/eclipse/che-theia/blob/ab/sidecarcontent/extensions/eclipse-che-theia-plugin-remote/src/node/content-container-aware.ts#L14

2. Binding content resolver to handle all those kind of schemes
https://github.com/eclips

[2019-08-27 15:03] #14325 closed

[2019-08-27 15:04] skabashnyuk commented on #13945
@l0rd any comments?

[2019-08-27 15:46] kameshsampath commented on #12555
it will be nice to have this support on `type: kubernetes` e.g. https://gist.github.com/kameshsampath/33c4af002b9491ea57aa54e57d7fc3c6

[2019-08-27 16:27] #14336 closed

[2019-08-27 16:41] kameshsampath opened #14343 "Support for Environment Variables in Plugins and Editors"
As developer I wish to use my internal nexus repository as a maven mirror for all the components of Che. Currently when I configure Che with Java project and I use `MAVEN_MIRROR_URL` env to do some mirror settings, the vscode java8 language server is still trying to reach to Maven central for the artefacts instead of local maven mirror (if one deployed)

[2019-08-27 16:42] kameshsampath commented on #14343
@metlos @l0rd @gorkem  ^^

[2019-08-27 16:45] metlos commented on #12555
So we have requests to support this in `kubernetes` components as well as `chePlugin` (also requested in https://github.com/eclipse/che/issues/14343). Given `cheEditor` is mostly `chePlugin` in disguise and `openshift` is `kubernetes` on steroids, we might as well support this everywhere (as the original description of this issue suggests :) ).

[2019-08-27 17:03] kameshsampath opened #14344 "[chectl] chectl workspace verb `start` is misleading"
When you want to create a workspace using `chectl` you issue a command `chectl workspace:start` as the verb `start` indicates the command will create an start workspace ( so is its description) but the workspace is not started until the user clicks the url.

So IMHO - the verb should be renamed as `workspace:create` or allow to start the workspace asynchronously

[2019-08-27 20:28] ibuziuk commented on #14166
My main concern here is the situation with transactions. Wondering if rolling update strategy for db pod guarantees that no transactions will be lost

[2019-08-27 22:42] l0rd commented on #14340
@olexii4 I have updated the title and description of this issue to make it clearer. Please have a look and confirm that my modifications are correct.

[2019-08-27 22:55] l0rd commented on #14338
@olexii4 isn't it a duplicate of https://github.com/eclipse/che/issues/12925?

[2019-08-27 23:06] l0rd commented on #14344
Makes sense @kameshsampath, thanks for raising it.

[2019-08-27 23:47] andy316x commented on #14052
I have the same issue when running in multiuser mode on an Openshift deployment behind a corporate proxy.

I was able to get past the server ‘theia’ in container not available error, this was down to jwtproxy, it was attempting to go through the corporate proxy even though no_proxy was set, I removed the proxy settings entirely just for that container and it was then able to start Theia - clearly

[2019-08-28 02:24] SDAdham commented on #14331
i can exec into it but i get permission denied when i try to access any of those files

[2019-08-28 02:29] SDAdham commented on #14331
BTW, this is how I create the PV:
[code]
I wanted to use *mountOptions*:
[code]
but I couldn't, seems that i need at least either ceph or nfs so that's why i'll try after configuring storage as previously mentioned in the comment above. And I believe it's the PV setup that's the issue

[2019-08-28 03:46] leader-us commented on #14324
This is a bug of eclipse che ? and not fixed yet ?   no any resolve method ?

[2019-08-28 05:51] AmitChameides commented on #14052
Hey @andy316x , thanks for the pointer. I'll try that given the chance.
Depressing to hear about the additional issue. Mind sharing what is currently set as your no_proxy? Just for comparison in case I run into the same issue when trying your bypass.

[2019-08-28 06:41] evidolob commented on #13978
As now generator inside che-theia repository, there are nothing to do

[2019-08-28 06:41] #13978 closed

[2019-08-28 06:44] skabashnyuk commented on #12555
@metlos does it make sense to keep https://github.com/eclipse/che/issues/14343 or should we close it as "duplicate"?

[2019-08-28 06:48] evidolob opened #14345 "IDE2-2019-09-24 (Sprint: 172)"
### Sprint Goals:
1. Finalize Che 7.1 fixes and improvements
2. Che 7.2 fixes and improvements

## 1. Finalize Che [7.1.0](https://github.com/eclipse/che/issues?q=is%3Aissue+is%3Aopen+label%3Ateam%2Fide2+milestone%3A7.1.0) fixes and improvements

- [ ] Theia remote plug-in runtime in sidecar container improvement #13387 - 7d
- [ ] White labelling capabilities for Che 7 #14110 - First part Dashboar

[2019-08-28 06:52] andy316x commented on #14052
@AmitChameides, I have set the wildcard domain of my openshift router, and used both variations of no proxy syntax, .my.router.domain and *.my.router.domain. I also have the AWS nodes domain suffixes, I.e. .compute.internal. - not sure it matters for Che but added anyway.

[2019-08-28 06:57] Katka92 commented on #14073
Hello all, any news about that issue?

[2019-08-28 07:12] Ohrimenko1988 opened #14346 "Reconfigure existed CI jobs for using "eclipse/che-e2e:nightly" image"
### Is your task related to a problem? Please describe.
For now, on our testing jobs we use the third part image for launching tests. But according to this PR <https://github.com/eclipse/che/pull/14213> , now we have our own image with tests inside. So we should recofigure our testing CI jobs for using the "eclipse/che-e2e:nightly" image.

[2019-08-28 07:43] tsmaeder commented on #13614
@tolusha but if I understand correctly, the file being opened is, for example as a result of a "goto definition" request, which is not going through "open document".
I think the approach should be to change all api calls that return URI's to return an uri that is specific to the sidecar (unless it's a uri that is in a known shared area)

[2019-08-28 08:01] Ohrimenko1988 commented on #14212
Done

[2019-08-28 08:01] #14212 closed

[2019-08-28 08:03] skabashnyuk commented on #12333
@metlos suggested also to send some event over websocket.

[2019-08-28 08:09] tsmaeder commented on #14343
I don't understand what is being suggested here. The maven repo is controlled by the the maven settings.
Are you suggesting that the images running VS Code-Java are picking up the MAVEN_MIRROR_URL env variable and passing that on as configuration to VS Code Java?

[2019-08-28 08:19] skabashnyuk commented on #14343
I think the idea is something like that
[code]

[2019-08-28 08:25] tolusha commented on #14343
The idea is to support environment variables in `chePlugin` components.

[2019-08-28 08:25] #13893 closed

[2019-08-28 08:29] skabashnyuk commented on #12710
@l0rd can you provide some examples of how these commands will look like in devfile?

[2019-08-28 08:30] tolusha commented on #13614
It probably will require to override some other API calls but I don't know for sure which ones.

[2019-08-28 08:40] azatsarynnyy commented on #14332
I believe the issue is caused by the missing entry for a remote host in `known_hosts` file.
@SDAdham could you please try the following steps, with ssh key pair already generated:
- open a terminal into `theia-ide` container
- update the `known_hosts` with the following command:
`ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts`
- try to clone a repo again

Make sure that `github.com` in the co

[2019-08-28 09:34] olexii4 commented on #14338
@l0rd It is not a duplicate.  It is a purpose to hide factories until they will work with CHE 7 workspaces. And UI purpose which helps us to create a new workspace, based on another CHE7 workspace. Create a new workspace from the devfile(local or remote).

Because I always do it by my hand. It is small changes but very useful for me as a CHE7 developer

[2019-08-28 09:45] olexii4 commented on #14340
@l0rd Your modifications are correct. Thanks a lot.

[2019-08-28 10:28] tsmaeder commented on #13387
@AndrienkoAleksandr we already have a "containers" field in the plugin meta.yml. Wouldn't adding a "initiContainers" solve the problem? Every version of the Che Theia editor plugin would come with an init container that copies the correct plugin runtime to a shared volume.
I feel this would be much simpler and more general.

[2019-08-28 10:30] tsmaeder commented on #14343
But VSCode-Java would still not use that variable, so what's the point?

[2019-08-28 10:31] tsmaeder commented on #13614
@tolusha all of them which return a URI.

[2019-08-28 10:34] davidfestal commented on #13387
@tsmaeder: that's although my thought. cf. my comment here: https://github.com/eclipse/che-plugin-broker/pull/71#discussion_r318508090

[2019-08-28 11:09] olexii4 opened #14348 "Autosave for a devfile works incorrectly"
### Describe the bug

Autosave for a devfile works incorrectly.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a new workspace from the devfile

[code]

2. Open 'Devfile' tab

3. Simulate a case when you tried to add a new editor component but did not manage to finish in time:
- Paste the following content
[code]
- Wait until autosave

[2019-08-28 11:10] kameshsampath commented on #14343
@tsmaeder  - vscode does use the settings from the host which runs the plugin, so my point was to cascade the variable down to the host so that vscode  can pick it up. IIUC the host in this case will be another container. correct me if am wrong

[2019-08-28 11:13] AndrienkoAleksandr commented on #14348
+1 Really annoying bug.

[2019-08-28 11:18] sleshchenko commented on #14348
Looks like error messages on the first and the second screenshots must be improved on Che Server side. @olexii4 Could you please create a separate issue?

[2019-08-28 11:27] l0rd commented on #13387
@tsmaeder and @davidfestal solution looks simpler. But it doesn't solve the problem of overriding the sidecar container entrypoint. Do we really need to override the sidecar entrypoint? Can't we assume that it's handled in the plugin meta.yaml?

[2019-08-28 11:42] davidfestal commented on #13387
If the `initContainer` we add had a volume mount to the `/plugins` volume, it would be able to copy the exe there itself, and wouldn't require overriding the side container entrypoints ?

[2019-08-28 11:47] davidfestal commented on #13387
And this `initContainer` could be added by the plugin broker itself, since it already knows the specifics of each type of plugin. It seems to me that part of the complexity of the solution finally proposed is due to the fact that we pushed the implementation of this into the Che server Kubernetes infrastructure.

[2019-08-28 11:52] davidfestal commented on #13387
Also implementing this injection logic in the plugin broker seems more consistent to me with 2 facts:
- the plugin broker already gathers files + specifics of each types of plugins.
- the plugin broker is reused by the POC of the Che Workspace CRD operator. So plugin broker implements defailed plugin management logic that can be used independently of the central Che server. That also seems an impo

[2019-08-28 11:52] AndrienkoAleksandr commented on #13387
Potentially we can hard code in the each remote plugin meta.yaml commands to run remote binary. But if we change something in this mechanism, than we need to patch meta.yamls for all remote plugins...

[2019-08-28 11:57] davidfestal commented on #13387
@AndrienkoAleksandr

Pease could you look into this comment from @l0rd : https://github.com/eclipse/che/issues/13387#issuecomment-499115833 and the answer I made just after ?

let me quote a part:

[2019-08-28 11:59] fbricon commented on #14343
The local Maven repo is not configurable directly in m2e. You need to pass a custom Maven settings.xml path instead in java.configuration.maven.userSettings.

[2019-08-28 12:01] kameshsampath commented on #14343
@fbricon - thats the settings I was looking for, may be we can make that configureable to Che like how we do the kubernetes references, that helps users adding the settings refernece devfile. does that make sense ?

[2019-08-28 12:19] Ohrimenko1988 opened #14349 "Can't open launched workspace on minikube "Che""
### Che version

 - [ ] latest
 - [ x ] nightly
 - [ ] other: please specify

 - Che version 7.1.0-SNAPSHOT
 - Minikube version v0.28.0
 - Chectl version chectl/0.0.20190814-next.d78ef53.d78ef53 linux-x64 node-v10.16.2
### Steps to reproduce
1) Launch minikube by command: ```minikube start --cpus 4 --memory 12288 --docker-opt userland-proxy=false```
2) Deploy che by chectl: ```/usr/local/bin/chect

[2019-08-28 13:00] dmytro-ndp commented on #14346
@Ohrimenko1988: please, make sure that Happy path tests run successfully with one command changed only:
[code]
It has turn actually out that it turned out that `che-e2e:nighlty` image doesn't work as expected on existed CI job https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/CHE-7-Happy-Path-Tests/1333/console:
[code]

[2019-08-28 13:02] tolusha commented on #14349
Does it mean it works fine on minishift ?

[2019-08-28 13:03] tsmaeder commented on #13387
The init container would only have to be mentioned in the che-theia editor plugin. Theia plugin sidecars would expect the "pluginhost.exe" to be at a fixed location in the shared /plugins folder.

[2019-08-28 13:11] olexii4 opened #14350 "Internal Server Error/DB error occurs when Devfile has invalid format on updating"
### Describe the bug

Internal Server Error/DB error occurs when Devfile has invalid format on updating.
It's needed to tell user that actually Devfile must be updated and it's not Che Server error at all.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a new workspace from the devfile

[code]

2. Open 'Devfile' tab

3. Try to add upda

[2019-08-28 13:13] olexii4 commented on #14348
@sleshchenko I have created
https://github.com/eclipse/che/issues/14350

[2019-08-28 13:28] evidolob commented on #14349
@Ohrimenko1988 I cannot reproduce this.
Note: I use **minikube version: v1.0.1**, maybe you need to upgrade your minikube?

[2019-08-28 13:43] leader-us commented on #14324
after I use helm installed ngix ingress from https://github.com/helm/charts/tree/master/stable/nginx-ingress (with hostnetwork  param set to true)
it's seems containers created and ready
![12](https://user-images.githubusercontent.com/5953348/63860598-fb246d00-c9db-11e9-8781-77a8ba2bde23.PNG)

But an nother problem occured !

![14](https://user-images.githubusercontent.com/5953348/63861081-c6fd7c0

[2019-08-28 13:58] leader-us commented on #14324
related system log :  Aug 28 21:53:17 k8s_lab kubelet: E0828 21:53:17.481132    8932 kuberuntime_container.go:71] Can't make a ref to pod "workspaceah452uhwmt71s5yz.python-588d66bf97-fnsn4_workspaceah452uhwmt71s5yz(6644ada2-8737-4f7b-8353-62ce1770ddb6)", container python: selfLink was empty, can't make reference

[2019-08-28 14:22] sleshchenko commented on #14350
It's related to https://github.com/eclipse/che/issues/13526 but I'm not sure that it fully duplicates it.
@olexii4 Could you take a look on the updated issue and confirm that it's what you wanted to report?

[2019-08-28 14:25] l0rd commented on #14203
@sleshchenko after discussions this morning we figured out that ConsoleLink do not work for non TLS links. As a consequence we should not create a ConsoleLink if TLS is disabled.

[2019-08-28 15:18] ibuziuk opened #14352 "Release Che 7.1.0"
It was decided to split the release into two phases:

1. **On September 3rd release:**
- [x] che-theia @AndrienkoAleksandr
   - [x] Pending `theia / che-theia` PRs / issues which blocks the release
      - [x] Fixup: Hide Plugins view from upstream https://github.com/eclipse/che-theia/pull/425
- [x] machine-exec @AndrienkoAleksandr / @ibuziuk - `docker.io/eclipse/che-machine-exec:7.1.0`
- [x] che-

[2019-08-28 16:16] AndrienkoAleksandr commented on #13387
I just would like to clarify this sentence `the plugin-broker automatically adds a theia-remote-runtime-copier initContainer` with the another quote from the same comment:

We override entrypoints for containers to run injected binary but not copy exec. Sorry, you've already mentioned in https://github.com/eclipse/che/issues/13387#issuecomment-499395581

**Next remark**

Actually, logic of patchin

[2019-08-28 16:33] olexii4 commented on #14350
@sleshchenko Yes. It is exactly what I wanted to report. Many thanks

[2019-08-28 16:36] davidfestal commented on #13387
Not sure I was meaning the same as you here, but never mind.

I think that might be great.

Can't you manage that with environment variables added to both the init container and the theia plugin side-car containers ? These environment variables would be set by the plugin broker (in the `ChePlugin.Container.Env` field I assume)? And the plugin-broker could make this value configurable.

[2019-08-28 17:24] ibuziuk commented on #14163
@amisevsk can we close this one ?

[2019-08-28 17:25] ibuziuk commented on #13714
@davidfestal can we close this one ?

[2019-08-28 17:26] davidfestal commented on #13714
I assume yes, even though it is not *in production* of course.

[2019-08-28 17:43] olexii4 commented on #14308
@ibuziuk Something with docs URL redirections
![Screenshot from 2019-08-28 20-31-30](https://user-images.githubusercontent.com/6310786/63879191-d75d2900-c9d3-11e9-96bb-5666e4fa3947.png)
https://github.com/eclipse/che/blob/master/dashboard/src/assets/branding/product.json#L27

And when I try to find a doc by URL
http://che-che.192.168.99.100.nip.io/docs/what-are-workspaces.html
it redirects me to
h

[2019-08-28 17:43] ibuziuk commented on #14305
@johnmcollier I believe it is done on the operator side, @davidfestal could you please point out where exactly ?

[2019-08-28 21:09] l0rd commented on #13387
@amisevsk if we don't use a volume we need to repeat the copy operation for every sidecar. And I would not use a PersistentVolume (Gluster or Ceph) but rather an ephemeral volume (for the reasons that you have mentioned above)

[2019-08-28 21:18] amisevsk commented on #13387
I agree that that makes sense. This does mean that the current PRs need to be reworked, as they copy into [`/plugins`](https://github.com/eclipse/che-plugin-registry/pull/210/files#diff-525d44ea1d1f41ad8ca64916cc13850aR58)

[2019-08-28 21:23] amisevsk commented on #14348
Closely related (duplicate?): https://github.com/eclipse/che/issues/13982

[2019-08-28 21:25] amisevsk commented on #14349
I deployed via chectl on `minikube v0.33.1` yesterday and did not encounter this issue.

The console errors are expected I believe.

[2019-08-28 21:33] gorkem commented on #13945
How would ports-plugin utilize this information?

[2019-08-28 22:21] l0rd commented on #14076
@amisevsk PRs are ok for me. I have approved them.

[2019-08-28 23:19] l0rd commented on #14349
@Ohrimenko1988 that may be related again to the fact that chectl isn't built nightly (and the helm chart and operators embedded in chectl are a few days old)? That's what happened yersterday https://github.com/eclipse/che/issues/14336.

Anyway it looks like you are not running latest [chectl version](https://github.com/che-incubator/chectl/releases).

[2019-08-29 05:45] sleshchenko commented on #14305
I believe that che-operator and chectl order should be the same.
Chectl related code is here https://github.com/che-incubator/chectl/blob/master/src/commands/server/start.ts#L282

[2019-08-29 06:07] AmitChameides opened #14353 "Certificate Inheritance in Che pods on OpenShift?"
## Summary
Hey all,
I was just wondering, is there any certificate inheritance between the different pods used by Che in the OpenShift version?
For example, if the original Che pod has a bunch of special certificates in its truststore beyond the default one, will the Che Plugin Broker pod generated by it also have the same truststore?
I'm asking because I see that some traits of the pod seem to be

[2019-08-29 06:08] tolusha commented on #14343
@tsmaeder
In my case it can be used by `@eclipse-che/theia-remote` to set a container name to redirect `runInTerminal` request to a dev container.

[2019-08-29 07:06] AmitChameides commented on #14334
Alright. Thank you all for your help.
In the end, I wasn't able to properly set up a private repo which a bot was able to pull from and have OpenShift use that bot.
I ended up putting my image on the public DockerHub registry simply because on second thought my image didn't contain any information that was secret.

I'm closing the issue because my particular issue has been fixed - putting my custo

[2019-08-29 07:06] #14334 closed

[2019-08-29 07:24] AmitChameides opened #14354 "How do I deploy Eclipse Che with a custom version of the Che Plugin Broker image?"
## Summary
Similar to [this issue](https://github.com/eclipse/che/issues/14334), I am setting up Eclipse Che for OpenShift in an enterprise environment which has a proxy which man-in-the-middles some SSL communications.
This proxy's mechanism causes the issue described in [this issue](https://github.com/eclipse/che/issues/14164), which can be solved by adding custom certificates to the Che Plugin

[2019-08-29 07:25] sleshchenko commented on #14353
There are no sudo rights on OpenShift, so we're not able to configure root trust store.
But we implemented and tested an ability to run Che with self-signed certificates, you should create a secret with your self-signed cert (there is only one allowed) and Che will propagate it for its components - Che Server, Plugin Broker, Theia... So, it's configured for each process individually and command li

[2019-08-29 07:28] skabashnyuk opened #14355 "Factory policies.create=peruser"
### Is your task related to a problem? Please describe.
Provide an ability to create workspaces from factories per user.

### Describe the solution you'd like
The idea is to have a query parameter **policies.create=peruser** like http://host/f?url=blah&policies.create=peruser that will cause only one workspace to be generated for each unique user that clicks on the factory URL. If the workspace ha

[2019-08-29 07:32] sleshchenko commented on #14164
@AmitChameides Could you please try to add self-signed cert to your Che installation. To do it you should:
- create a secret with name `self-signed-certificate` with `ca.crt` key where your self-signed CA will be stored;
- modify your Che CR by setting `true` for `selfSignedCert` https://github.com/eclipse/che-operator/blob/master/deploy/crds/org_v1_che_cr.yaml#L35

I'm not sure that it will help

[2019-08-29 07:38] l0rd commented on #13790
@vinokurig can we close that now since it was fixed in theia master branch right?

[2019-08-29 07:54] azatsarynnyy commented on #13508
@RomanNikitenko could you please check if it's already fixed and we close that issue

[2019-08-29 07:56] azatsarynnyy commented on #14254
@RomanNikitenko could you please check if it's already fixed and we close that issue

[2019-08-29 07:57] sleshchenko commented on #14354
@AmitChameides There are configuration properties that have values for plugin broker images.
https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L600
Here are the corresponding environment variables to override these properties: `CHE_WORKSPACE_PLUGIN__BROKER_INIT_IMAGE` and `CHE_WORKSPACE_PLUGIN__BROKER_UNIFIED_IMAGE`

[2019-08-29 08:02] AmitChameides commented on #14353
Thanks for the reply @sleshchenko , let me see if I got everything right:

- I can put my self-signed certificate into a secret with the details you described
- I can only put **one** certificate into this secret
- I can then make Che use this certificate, and in turn all its components (Like the Che Plugin Broker) use it as well
- This configured for each process, so it'll affect the Che code whi

[2019-08-29 08:02] #13913 closed

[2019-08-29 08:05] sleshchenko commented on #14189
I think closing if this issue also mean solving https://github.com/eclipse/che/issues/14189
@metlos Can you confirm?

[2019-08-29 08:08] sleshchenko commented on #12988
Should be fixed by https://github.com/eclipse/che/issues/14189, please track it instead

[2019-08-29 08:08] #12988 closed

[2019-08-29 08:11] sleshchenko commented on #12634
I believe there should not be any issues with self-signed certs, our testing result can be found here https://github.com/eclipse/che/issues/14035 and https://github.com/eclipse/che/issues/13869#issuecomment-518946736
Feel free to create a new issue if there still some issues

[2019-08-29 08:11] #12634 closed

[2019-08-29 08:11] AmitChameides commented on #14354
Thank you!
Where can I find these environment variables? Or should I create them in my Che pod?

It's just that I don't have a pod of Che Operator running in my basic Che scene at this stage - I only have three pods: The Che pod, the Keycloak pod, and the Postgres pod. When I attempt to create a new workspace, the Che Plugin Broker pod is created but is promptly deleted once the certificate error

[2019-08-29 08:14] skabashnyuk commented on #14312
url ```[che_instance]/f?url=https://gist.githubusercontent.com/sparkoo/39f6cfd28bf7daf53004ff0ae7c08806/raw/c4692bbb82ff404c1e40c0b88e817aa5d1af09ef/space%2520here``` is double encoded. Correct one
is  ```https://gist.githubusercontent.com/sparkoo/39f6cfd28bf7daf53004ff0ae7c08806/raw/c4692bbb82ff404c1e40c0b88e817aa5d1af09ef/space%20here```

[2019-08-29 08:14] sleshchenko commented on #14354
@AmitChameides You should add this environment variables to Che Deployment or Che Config map if there is such (`custom` if Che was deployed with che-operator, I think). Make sure that Che Server is rescaled after updating env vars.

[2019-08-29 08:15] tsmaeder commented on #13387
@AndrienkoAleksandr we need some protocol to provide the plugin host binary to the sidecar container. This requires us to make assumptions of what is supposed to happen on the editor and/or plugin host side. We break this protocol, we break all containers using it. I really don't see a way around that. If our protocol is "the editor provides a suitable plugin host binary at path <path>", I think t

[2019-08-29 08:20] sleshchenko commented on #14353
Correct!

I believe it should change it. Actually OpenShift is a guy who signs Che's packets. And Che is configured with self-signed certificate only for verifying the certificates of packets it receives.

It must be CA( actually Che Server and Plugin Broker can be configured with Non-CA cert, but Theia will fail). Don't you have a common CA cert for your company certs?

Can not say for sure. At l

[2019-08-29 08:28] skabashnyuk opened #14356 "Docker infrastructure decommissioning"
### Describe the solution you'd like
Remove source code of docker infrastructure from Eclipse Che codebase.
https://github.com/eclipse/che/tree/master/infrastructures/docker

### Describe alternatives you've considered
none
### Additional context
Docker is unsupported infrastructure in Che6

[2019-08-29 08:34] sleshchenko commented on #10995
Stack service is deprecated, so it's not actual anymore

[2019-08-29 08:34] #10995 closed

[2019-08-29 08:36] l0rd commented on #14308
@olexii4 can you just use the direct link https://www.eclipse.org/che/docs/che-7/converting-a-che-6-workspace-to-a-che-7-devfile/ and open a separate issue for the redirect issue?

[2019-08-29 08:39] AmitChameides commented on #14353
Okay, definitely sounds like it's worth trying!
I tried the method [you described here](https://github.com/eclipse/che/issues/14164), and the first part is clear for me, but the second is a little confusing. What is Che CR? How can I modify this field in this file exactly? Should I do it prior to creating my Che project on OpenShift or by configurating its properties afterwards?

I also tried usin

[2019-08-29 08:40] sleshchenko commented on #12360
Probably hooks can do this work https://github.com/helm/helm/blob/master/docs/charts_hooks.md

[2019-08-29 08:42] sleshchenko commented on #13487
Probably you must not remove Eclipse Che project manually but should use `chectl server:delete` for it. So, this use-case should be checked with chectl

[2019-08-29 08:53] vinokurig commented on #13790
Yes

[2019-08-29 08:53] #13790 closed

[2019-08-29 09:05] RomanNikitenko commented on #13508
Fixed by https://github.com/eclipse/che-theia/pull/295 for master branch, so I'm closing the issue

[2019-08-29 09:05] #13508 closed

[2019-08-29 09:09] ibuziuk opened #14357 "Create 'master', 'nightly', 'release' CI for 'che-machine-exec' plugin and move images to quay.io"
### Is your task related to a problem? Please describe.
Create 'master', 'nightly', 'release' CI for 'che-machine-exec' plugin and move images to quay.io.
This is already done for plugin and devfile registries - https://quay.io/organization/eclipse

Currently, for `machine-exec` there is only codenvy 'release' CI that should be decommissioned - https://ci.codenvycorp.com/view/release/job/release-c

[2019-08-29 09:12] ibuziuk commented on #14357
cc: @vparfonov @AndrienkoAleksandr are you ok with this approach? Might be wrong, but AFAIK there is no other CI that https://ci.codenvycorp.com/view/release/job/release-che-machine-exec-plugin/ for the `machine-exec` plugin

[2019-08-29 09:15] RomanNikitenko commented on #14254
Since the PR https://github.com/eclipse/che-theia/pull/295 was merged we consider `che` tasks as `configured`, not as `detected`.
User doesn't need to use `Configure task` action for `che` tasks: we convert che commands from devfile to theia tasks format and copy them to tasks.json file.

So I'm closing the issue.

[2019-08-29 09:15] #14254 closed

[2019-08-29 09:33] davidfestal commented on #14353
If you're not installing Che 7 with `Chectl` using the `operator` method, then you won't have this CR (K8s Custom Resource) available.

You should probably first have a look at the following Che 7 documentation pages:
https://www.eclipse.org/che/docs/che-7/installing-the-chectl-management-tool/
https://www.eclipse.org/che/docs/che-7/installing-che-on-openshift-3-using-the-operator/

[2019-08-29 09:34] tolusha commented on #14355
may be `create`?

[2019-08-29 09:48] mmorhun opened #14358 "Add Kubernetes native Java + Maven sample and describe flow of the application development in Che"
The goal of this issue is to provide a Kubernetes native sample application in Che with complete flow of its development.
Requirements:
 - Che sample with Kubernetes native application (could be used an existing sample)
 - The sample application should contain deployment yaml file
 - Devfile for Che workspace with commands and required plugins (Kubernetes, GYP ?)
 - Readme file in the sample how t

[2019-08-29 10:04] davidfestal commented on #14305
On the Che operator side, the fix would mainly consist in installing the Keyckoak server before the registries, which means, moving [these lines](https://github.com/eclipse/che-operator/blob/09a90beea6502f970cb0e3713b4f6e3ed955e728/pkg/controller/che/che_controller.go#L643-L677) before [this line](https://github.com/eclipse/che-operator/blob/09a90beea6502f970cb0e3713b4f6e3ed955e728/pkg/controller/

[2019-08-29 10:28] ibuziuk commented on #13712
@davidfestal I think this one is out-dated, right?

[2019-08-29 10:33] themr0c opened #14359 "[Doc] Che-Theia IDE basics improvements"
In the *End-User Guide*, please provide more content for the *Che-Theia IDE basics*

Here is the expected outline:

  * [ ] Che-Theia IDE basics
    * [ ] Navigating the Che-Theia user interface
    * [ ] Files and projects
    * [ ] Editing code and code assistance
    * [ ] Key bindings
    * [ ] Searching
    * [x] Defining custom commands for Che-Theia
    * [ ] Debugging
    * [ ] Testing

[2019-08-29 10:37] ibuziuk commented on #14296
Note, that once implemented docs should be updated accordingly - https://www.eclipse.org/che/docs/che-7/che-workspaces-architecture/#che-plug-in-broker_che-workspace-components

[2019-08-29 10:39] AndrienkoAleksandr commented on #14357
@ibuziuk I am OK with this approach.

[2019-08-29 10:53] themr0c opened #14360 "[Doc] Defining workspaces using the dashboard"
In the *End-User Guide*/*Using developer workspaces*, please provide more content for *Defining workspaces using the dashboard*.

Here is the expected outline:

    * [ ] Defining workspaces using the dashboard
      * [ ] Configuring runtimes
      * [ ] Exposing services
      * [ ] Mounting specific volumes into workspaces
      * [ ] Setting environment variables
      * [ ] Configuring projec

[2019-08-29 10:57] themr0c opened #14361 "[Doc] Configuring your VCS credentials for your workspaces"
In the *End-User Guide*, please provide more content for *Configuring your VCS credentials for your workspaces*.

Probably we need to differentiate some "using the Dashboard" and some "using a devfile" version.

[2019-08-29 10:57] ibuziuk commented on #14357
@AndrienkoAleksandr am I correct that  https://ci.codenvycorp.com/view/release/job/release-che-machine-exec-plugin/ is the only CI for machine-exec atm ?

[2019-08-29 11:00] themr0c opened #14362 "[Doc] Installation guide"
In the Administration Guide, please provide more content for the Installation Guide.

The Quick starts are covering a short version of the installation, but we need a more in depth guide.

Here is the expected outline:

  * [ ] Installation Guide
      * [ ] Che installation overview
        * [ ] Target platforms
        * [ ] Deployment architecture diagram
      * [ ] Che installation prerequis

[2019-08-29 11:04] themr0c opened #14363 "[Doc] Viewing plug-in broker logs"
In the *Administration Guide/ Retrieving Che logs*, please provide more content for *Viewing plug-in broker logs*.

[2019-08-29 11:06] themr0c opened #14364 "[Doc] Removing user data"
In the *Administration Guide*, please provide more content for *Removing user data*.

[2019-08-29 11:10] ibuziuk commented on #13714
Fixed in https://github.com/eclipse/che-operator/pull/72 and operator nightly builds

[2019-08-29 11:10] #13714 closed

[2019-08-29 11:12] tsmaeder opened #14365 "[C#] React to Workspace Folder Changes"
In #14223, we found out that C# plugin works reads workspace roots at statup, but it does not handle changing workspace roots. We would need that support in order to merge the fix for #13427.

So this task is about reacting to didChangeWorkspaceFolders events and "do the right thing" (to be defined)

[2019-08-29 11:13] themr0c opened #14366 "[Doc] Troubleshooting for Che administrators and for end users"
In the *Administration Guide*, please provide more content for *Troubleshooting for Che administrators* and *Troubleshooting for Che end users*.

[2019-08-29 11:15] themr0c opened #14367 "[Doc] API reference"
In the *Administration Guide*, please provide more content for *API reference*.

Expected outline:

   * [ ] API reference
        * [ ] Access to Swagger
        * [ ] Workspace API
        * [ ] Permissions API
        * [ ] Factory API
        * [ ] Resources API
        * [ ] IDE macros

[2019-08-29 11:15] tsmaeder opened #14368 "Languages Sprint 172"
Aug Sep. 4 - Sep. 25

# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 8 | 4 | 3
@tolusha | 15 | 9 | 6
@svor | 15 | 9 | 9
@vrubezhny | 13 | 8 | 3
@JPinkney | 15 | 9 | 7

# Priorities
All testing must be done on minishift!

# Candidate Issues

- [ ] Implement Language Server Metrics #14245 4d @JPinkney
- [x] [C#] React to Workspace Folder Changes #14365 3d @svor
- [x]

[2019-08-29 11:17] themr0c opened #14369 "[Doc] Providing a custom IDE based on Eclipse Theia and Switching the default editor to another one"
In the *Contributor Guide*, please provide more content for *Providing a custom IDE based on Eclipse Theia* and *Switching the default editor to another one*.

[2019-08-29 11:18] tsmaeder opened #14370 "[C#] Handle Multiple Solutions"
omnisharp can only handle one open solution at a time. Microsofts C# extension offers support to chose an "active" project (https://code.visualstudio.com/docs/languages/csharp#_roslyn-and-omnisharp). We need something like that, too.

[2019-08-29 11:20] themr0c opened #14371 "[Doc] Language Server Protocol reference"
In the *Contributor Guide/Che extensibility reference *, please provide more content for *Language Server Protocol*.

It should be a pointer to https://microsoft.github.io/language-server-protocol/

[2019-08-29 11:21] themr0c opened #14372 "[Doc] Debug Adapter Protocol reference"
In the *Contributor Guide/Che extensibility reference*, please provide more content for *Debug Adapter Protocol*.

[2019-08-29 11:28] davidfestal commented on #13712
It's CRW related.I think we could close it.

[2019-08-29 11:30] tsmaeder commented on #14223
Opened issues to fix the problems uncovered.

[2019-08-29 11:30] #14223 closed

[2019-08-29 11:41] AndrienkoAleksandr commented on #14357
Yes, you are right.

[2019-08-29 11:50] olexii4 commented on #14315
@Katka92 @l0rd  I have prepared another variant. I think it is enough:
https://docs.google.com/document/d/1qrHg4F2FvTpafJAvgqgzeYTu6M0UA1mSjm_UCoQNFHc/edit#
WDYT?

[2019-08-29 11:57] AmitChameides commented on #14353
Hey @davidfestal . Thanks for the input.
I installed Chectl as documented and began creating a Che project [as written here](https://www.eclipse.org/che/docs/che-7/installing-che-on-openshift-3-using-the-operator/).
However, I get the following error when trying to create the project with Chectl:

 ✔ ✈️  Openshift preflight checklist
    ✔ Verify if oc is installed...done.
    ✔ Verify if openshif

[2019-08-29 12:04] skabashnyuk opened #14373 "Test existed samples on single-host/default-host mode"
### Is your task related to a problem? Please describe.
In single-host/default-host mode there is a quite significant change in the way how
the url to the existed workspace and user application is formed. Ideally, user application should be prepared (absolute url are not used.)

### Describe the solution you'd like
Setup Eclipse Che with single-host/default-host mode and test existed stacks/sample

[2019-08-29 12:10] skabashnyuk opened #14374 "Ability to set up Eclipse Che in single-host/default-host mode with operator"
### Is your task related to a problem? Please describe.
It this moment its possible to setup Eclipse Che in  single-host/default-host mode only with Helm

### Describe the solution you'd like
Allow configuring parameter ```che.infra.kubernetes.server_strategy``` (and other related if needed) from operator CR.

### Describe alternatives you've considered
n/a
### Additional context
https://github.co

[2019-08-29 12:13] skabashnyuk opened #14375 "Ability to set up Eclipse Che in single-host/default-host mode with chectl"
### Is your task related to a problem? Please describe.
It this moment its possible to setup Eclipse Che in single-host/default-host mode only with Helm

### Describe the solution you'd like
Allow configuring parameter che.infra.kubernetes.server_strategy (and other related if needed) with chectl parameter

### Describe alternatives you've considered
n/a

### Additional context
https://github.com/

[2019-08-29 12:17] skabashnyuk opened #14376 "API: List of available k8s namespaces for the workspace creation"
### Is your task related to a problem? Please describe.
We want to allow a user to select k8s namespace where he can create a workspace

### Describe the solution you'd like
REST API that will return a list of available  k8s namespaces for the workspace creation

### Describe alternatives you've considered
n/a

### Additional context
https://github.com/eclipse/che/issues/13484

[2019-08-29 12:18] Katka92 commented on #14197
@Ohrimenko1988
Failed again on prod-preview Rh-Che version 7.0.0.
logs: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1289/console
artefacts: http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-preview-2a/1289/

[2019-08-29 12:20] themr0c commented on #14366
This ticket can be closed. It has already been integrated but with another title.
The gdoc listed in https://github.com/eclipse/che-docs/issues/739 has been published in https://www.eclipse.org/che/docs/che-7/viewing-che-workspaces-logs/

Sorry for the annoyance.

[2019-08-29 12:20] #14366 closed

[2019-08-29 12:22] olexii4 commented on #14308
@l0rd  I have done
 https://github.com/eclipse/che/pull/14377

[2019-08-29 12:28] ibuziuk opened #14378 "Create 'master', 'nightly', 'release' CI for plugin-broker and move images to quay.io"
### Is your task related to a problem? Please describe.
Create 'master', 'nightly', 'release' CI for plugin-broker and move images to quay.io
https://github.com/eclipse/che-plugin-broker

Similar tasks have been already implemented for plugin and devfile registries

[2019-08-29 12:34] skabashnyuk opened #14379 "API: Ability to specify k8s namespace where a user wants to create his workspace"
### Is your task related to a problem? Please describe.
At this moment end-user has no control on which k8s namespace would be used. It calculated according to the configuration properties.

### Describe the solution you'd like
Rest API that will allow specifying k8s namespace where a user wants to create/start his workspace

### Describe alternatives you've considered
none

### Additional context

[2019-08-29 12:36] azatsarynnyy commented on #12850
Looks like it has been fixed by https://github.com/eclipse/che-theia/pull/266
Feel free to reopen if it isn't.

[2019-08-29 12:36] #12850 closed

[2019-08-29 12:37] themr0c opened #14380 "[Doc] incorrect link in "Creating a workspace from a devfile""
https://www.eclipse.org/che/docs/che-7/configuring-a-workspace-using-a-devfile/

In the sentence "When the repository contains a devfile.yaml file, point a running Che 7 instance at that project,[...]",  `project` should not be a link to https://github.com/eclipse/che. Here `project` is used to specify the repository containing the devfile.

[2019-08-29 12:56] skabashnyuk opened #14382 "API: Provide a way to test if there are resources name conflicts that may happen during workspace creation/start"
### Is your task related to a problem? Please describe.
There is a high probability of resource name conflicts in case if a user wants to create more than one workspace in the same namespace. Essentially if he uses custom k8s/openshift tools
that heavily relays on service/route names.

### Describe the solution you'd like
Dedicated REST API or the part of the response of existed(create/start works

[2019-08-29 12:58] skabashnyuk commented on #14350
Duplicates https://github.com/eclipse/che/issues/13526

[2019-08-29 12:58] #14350 closed

[2019-08-29 13:03] ibuziuk commented on #14315
@olexii4 those are great improvements, but eclipse/che-docs#796 is ready to be merged and this is currently a blocker for Che 7 promotion to Hosted Che. Will it be possible to provide another docs PR with the improvements based on the gdoc once we would merge the original PR?

[2019-08-29 13:11] Ohrimenko1988 commented on #14349
Confirmed, the problem doesn't reproduce with
 - minikube version: v1.3.1
 - chectl/0.0.20190814-next.d78ef53.d78ef53 linux-x64 node-v10.16.2

[2019-08-29 13:11] #14349 closed

[2019-08-29 13:22] skabashnyuk commented on #13945
The idea is to add a new attribute(look like an old Che6 commands attribute) in commands in runtime ```previewUrl```
![завантаження](https://user-images.githubusercontent.com/1614429/63943845-bdbdef00-ca70-11e9-9822-bd420bb883a1.png)
Then task-plugin can read it  https://github.com/eclipse/che-theia/blob/master/plugins/task-plugin/src/task/task-protocol.ts#L15

[2019-08-29 13:24] skabashnyuk commented on #14343
After discussing this task with @l0rd  @metlos @sleshchenko  we decided to not to make things too complex that is why we want to populate environment variable to all containers that ChePlugin provides.

[2019-08-29 13:25] skabashnyuk commented on #12555
After discussing this task with @l0rd  @metlos @sleshchenko  we decided to not to make things too complex that is why we want to populate environment variable to all containers that k8s/Openshift component provides.

[2019-08-29 13:53] amisevsk commented on #14378
Consider putting on hold until https://github.com/eclipse/che/issues/14296 is completed.

[2019-08-29 13:58] ibuziuk commented on #14378
good point, I put `7.3.0` for now but would like to tackle `machine-exec` in `7.2.0` https://github.com/eclipse/che/issues/14357

[2019-08-29 14:00] Ohrimenko1988 opened #14384 "Update screencatcher in the e2e folder for avoiding errors"
### Is your task related to a problem? Please describe.
When we test application with several windows the screencatcher throws errors when main window closed.
[code]

### Describe the solution you'd like
Update screencatcher for avoiding this kind of problem when main window closed

[2019-08-29 14:02] amisevsk commented on #14166
Then again, I just tested a rolling update to postgres on the dev cluster and didn't encounter issues.

[2019-08-29 14:03] Ohrimenko1988 opened #14385 "Create script for provisioning required test workspace"
### Is your task related to a problem? Please describe.
Now for launching the "happy-path" test we should manually provision the workspace

### Describe the solution you'd like
Automate these steps by script

[2019-08-29 14:04] dmytro-ndp commented on #14346
@Ohrimenko1988: thank you for fixing up *tslint* error. Happy path tests launched successfully with *bujhtr5555/che-e2e* https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/CHE-7-Happy-Path-Tests/1363/console.
At the same time there was a regression appeared in Jenkins job:
[code]
It doesn't look like a flakiness, because there was the same erro

[2019-08-29 14:11] ibuziuk commented on #14088
@nickboldt please clarify why it is P1, moved to 7.x atm

[2019-08-29 14:13] ibuziuk commented on #13964
Closing:
 - preview url should be soon supported in devfile
 - samples should be k8s based samples (samples should be kube-native for Eclipse Che )

[2019-08-29 14:13] #13964 closed

[2019-08-29 14:17] dmytro-ndp commented on #14385
It's actually a requirement of Happy path test scenario to run test workspace using **chectl** https://github.com/eclipse/che/issues/12728:
![Screenshot from 2019-08-29 17-15-00](https://user-images.githubusercontent.com/1197777/63948080-bdc5eb00-ca80-11e9-9dc2-c21ffaf7b6ec.png)

[2019-08-29 14:48] tsmaeder commented on #14348
Duplicate of https://github.com/eclipse/che/issues/13982

[2019-08-29 14:48] #14348 closed

[2019-08-29 14:49] tsmaeder commented on #14372
Do you have a link, so we're sure we're talking about the same thing?

[2019-08-29 14:50] tsmaeder commented on #14371
@themr0c same question: can you provide a link?

[2019-08-29 15:29] olexii4 opened #14386 "Dashboard Links `Learn more` to the embedded doc site are broken"
### Describe the bug

Che dashboard UI contains `Learn more` links to an embedded Che documentation site. However, some changes on the Jekyll Che doc site are breaking the redirections to access to the embedded doc site.

The doc section works well on the public documentation site https://eclipse.org/che/docs.

Problem occurs since:
https://github.com/eclipse/che-docs/blob/master/src/main/_config-

[2019-08-29 15:54] ibuziuk commented on #14165
PR sent - https://github.com/eclipse/che-devfile-registry/pull/90

[2019-08-29 16:12] davidfestal commented on #14353
@l0rd That seems really CheCtl related. any idea ?

[2019-08-29 16:18] gorkem commented on #12555
@skabashnyuk can you clarify? Does that mean that setting env variable on the k8s component will propagate to all the containers including editors and plugins?

[2019-08-29 16:39] l0rd commented on #14353
@AmitChameides do you mind providing the command you have used to run chectl?

[2019-08-29 16:53] l0rd commented on #14353
Providing the version of chectl (`chectl version`) and openshift (`oc version`) would be useful as well.

[`chectl` starts Che if the namespace already exist](https://github.com/che-incubator/chectl/blob/master/src/installers/operator.ts#L48) but it looks like the call to `[cheNamespaceExist](https://github.com/che-incubator/chectl/blob/bebff042485ff49d1957f6b9ce520adc4f94cddf/src/api/che.ts#L139)

[2019-08-29 17:28] l0rd commented on #14308
Thanks @olexii4

[2019-08-29 17:39] skabashnyuk commented on #12555
@gorkem for all containers that k8s component provides(not all that defined in devfile). For example https://github.com/redhat-developer/devfile/blob/master/Devfile.yaml#L31-L37 it would be all containers provided petclinic.yaml and matched selector.

[2019-08-29 17:54] gorkem opened #14388 "Two plugins menu items"
### Describe the bug
When I open the workspace for the first time I see 2 `Plugins` menu items on the Views menu. One of them disappears when I open either one.

### Che version
Che-Theia@a2cdb33 using Theia@a2cdb33
@theia/core 0.9.0
@theia/output 0.9.0
@theia/process 0.9.0
@theia/filesystem 0.9.0
@theia/variable-resolver 0.9.0
@theia/workspace 0.9.0
@theia/languages 0.9.0
@theia/editor 0.9.0
@the

[2019-08-29 17:58] gorkem commented on #14388
@vitaliy-guliy looks like https://github.com/eclipse/che-theia/pull/322 is not working as expected.

[2019-08-29 17:59] l0rd opened #14389 "Dashboard: view and change target namespace"
### Describe the solution you'd like

We want to show the name of the default k8s namespace where the workspace will be created and allow a user to select a different one ([existing](https://github.com/eclipse/che/issues/14376) or new one).

### Additional context
https://github.com/eclipse/che/issues/13484

[2019-08-29 18:19] l0rd commented on #14376
I have created the corresponding dashboard issue and I assume that we also need:
- a new REST API to get the default namespace (c.f. #13488)
- update the workspace create API to allow specifying the target namespace

[2019-08-29 18:23] davidwindell commented on #14330
@amisevsk thanks for the guidance, I launched the pod and everything looks fine with permissions as far as I can tell, I was able to create the sidecars directory as the root user

![screenshot-rancher edge-servers com-2019 08 29-19_21_43](https://user-images.githubusercontent.com/1720090/63966055-5ca71300-ca92-11e9-9e15-a0a53a74b4e8.png)

Would you like access to our cluster to debug this directl

[2019-08-29 18:56] davidwindell commented on #14330
I was able to inspect the broker pod before it stopped and there is a different in the way the broker and test pod show their mounted volumes - could this be related?

Test pod:
[code]
Broker pod:
[code]

[2019-08-29 21:06] davidwindell commented on #14330
So, I found this https://github.com/eclipse/che/issues/12661#issuecomment-463556073 and updated my config map to:

[code]

That's 0 (root?) instead of the default 1724, and it looks like the workspaces are starting to run now. I've got another problem with traefik load balancer now but at least I'm over this hurdle.

Is setting these values a known issue with vanilla k8s (which Rancher effectively

[2019-08-29 21:16] l0rd opened #14390 "Keycloak token exchange support"
### Is your enhancement related to a problem? Please describe.

When deploying Che on OpenShift using the operator, by default, Keycloak is configured to use OpenShift OAuth. OpenShift users are authenticated then. But, given an OpenShift token, it's not possible to programmatically request a Keycloak. This feature is called token exchange and Keycloak can be configured to support it. That would h

[2019-08-29 21:17] l0rd commented on #14390
cc @kameshsampath

[2019-08-29 21:47] l0rd commented on #14308
@ibuziuk we should be able to close this issue now

[2019-08-29 22:48] l0rd opened #14391 "Allow injecting maven settings in JDT LS sidecar"
### Is your enhancement related to a problem? Please describe.

The problem has been originally described by #14343. It's currently not possible to specify, in a devfile, maven settings that would be taken into account by the LS.

### Describe the solution you'd like

We can implement a mechanism that would:
- generate a custom `settings.xml` in the sidecar
- specify the settings.xml path in the L

[2019-08-29 22:49] l0rd commented on #14391
cc @kameshsampath

[2019-08-29 22:52] l0rd commented on #14343
I have created a dedicated issue for maven settings https://github.com/eclipse/che/issues/14391. This current issue is about setting env variables for Che Plugins and is a pre-requisite for https://github.com/eclipse/che/issues/14391.

[2019-08-29 23:12] l0rd commented on #14382
Related to https://github.com/eclipse/che/issues/14263

[2019-08-29 23:23] l0rd commented on #14253
@rhopp can we close this one?

[2019-08-29 23:36] l0rd opened #14392 "Replace current nodejs+mongo sample with a better one"
### Is your enhancement related to a problem? Please describe.

Current nodejs mongo sample is not an appropriate sample as described in #14009
It also lacks a kubernetes yaml to deploy in on kubernetes

### Describe the solution you'd like

Add a sample based on [cloud code sample](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/nodejs/nodejs-guestbook) with instructions to

[2019-08-29 23:37] l0rd commented on #14009
I have opened #14392 to completely replace the nodejs + mongodb sample

[2019-08-30 02:42] gorkem commented on #14332
@azatsarynnyy All the calls to delete/view ssh keys are failing at the moment. Here is what I see from the logs

[code]

[2019-08-30 02:43] gorkem commented on #14332
I am elevating the severity of the issue.

[2019-08-30 03:45] SDAdham commented on #14332
@azatsarynnyy I'll try your suggestion soon, I am deploying a new environment now

[2019-08-30 06:11] Katka92 commented on #14315
The PR with changes in migration docs was merged and documentation is currently up-to-date. I'll close this issue. @olexii4 If you find some areas that are not described enough or you want to enhance the docs, please feel free to create another PR to https://github.com/eclipse/che-docs. Thank you!

[2019-08-30 06:11] #14315 closed

[2019-08-30 06:50] metlos commented on #14189
Yes, that issue exactly describes the problems that we're solving here.

[2019-08-30 07:07] tsmaeder opened #14393 "Various Docs issues"
- [x] [Doc] Debug Adapter Protocol reference kind/enhancement #14372
- [x] [Doc] Language Server Protocol reference kind/enhancement  #14371
- [ ] [Doc] Providing a custom IDE based on Eclipse Theia and Switching the default editor to another one #14369
- [ ] [Doc] API reference kind/enhancement #14367
- [ ] [Doc] Removing user data #14364
- [x] [Doc] Viewing plug-in broker logs #14363
- [ ] [Doc]

[2019-08-30 07:14] Katka92 commented on #14197
Today the tests fails again. @Ohrimenko1988 do you plan to spend some time on that? Are you having those issues in your tests too?

[2019-08-30 07:27] tsmaeder commented on #14354
Such instructions need to be findable in the docs.

[2019-08-30 08:53] pjgoodall commented on #4461
Thanks all. I’m no longer an active user of eclipse che. So have no context.

[2019-08-30 09:27] fbricon commented on #14391
indeed, starting the container with a custom settings.xml, defining a mirror (or not) and the local repository with something like `<localRepository>${env.MAVEN_LOCAL_REPO}</localRepository>` would work. The script starting the container needs to ensure to set the environment variables with default values (same as Maven) or bad things might happen.

cc @tsmaeder

[2019-08-30 10:12] ibuziuk commented on #14268
osio team is planning to start working on this task in `7.2.0`
@gorkem @l0rd am I correct that this issue is basically about creating a standalone REST api driven app with CRUD for `/plugin` and `/devfile` endpoints, that would be used as a backend for che marketplace in future?

[2019-08-30 10:41] zeibura opened #14395 "[Doc] First four pages for Che4z extension documentation uploaded"
I have uploaded the first four pages of the Che4z extensions documentation
- Release information
- Explorer for z/OS User Guide
- Product accessibility features (template page)
- Legal notice (template page)

There are still two more pages that need to be finalised (the installation guides for each plugin)

[2019-08-30 11:34] zeibura commented on #14395
For some reason there is an issue with the pull request. The Eclipse check is failing again even though I am absolutely sure I have done all the licence stuff and we have checked this many times already.
https://github.com/eclipse/che-docs/pull/798

[2019-08-30 12:08] tolusha commented on #13614
It is possible to open files from a sidecar container in the Theia

1. Override scheme by adding a sidecar identifier (which is basically a machine name)
https://github.com/eclipse/che-theia/blob/ab/scc/extensions/eclipse-che-theia-plugin-remote/src/node/content-container-aware.ts#L15

2. Binding content resolver to handle all those kind of schemes
https://github.com/eclipse/che-theia/blob/ab/scc/

[2019-08-30 12:24] davidwindell commented on #13369
For the time being, I've created https://github.com/outeredge/che-kubernetes which is a fork of the che repo with `help dep update` being run and the resulting files being committed, this seems to then work

[2019-08-30 12:34] ibuziuk commented on #7860
@gorkem @slemeur any plans to invest into this or can we close this one?

[2019-08-30 13:04] gorkem commented on #13494
@azatsarynnyy @vparfonov Preserving the `known_hosts` between workspaces/sessions and git config for user and mail #13874  are the 2 priority issues on this flow as far as I can see.

[2019-08-30 14:09] dmytro-ndp commented on #14346
@Ohrimenko1988: Happy path tests had stuck on step on PR check job when being started on `eclipse/che-e2e:nightly` image:
- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/256/
[code]
![02500428--(13_01_08 221)_ Run debug and check application stop in the breakpoint](https://user-images.githubuserconten

[2019-08-30 14:20] Ohrimenko1988 commented on #14197
@Katka92 I guess I have found a reason. According to this message ```"The '/console-java-simple/src/main' item has not been expanded, try again
"```
the test successfully opened ```"src"``` folder and try to open the ```"main"``` folder. But on screenshot we can see that ```"src"``` folder is closed. So it means that something happened and this folder has been closed. I suppose that this "somethin

[2019-08-30 14:22] AndrienkoAleksandr commented on #13387
@sleshchenko proposed split work to incremental changes, so first iteration: Add an ability to add init containers in meta.yaml).
**PR's:**

- https://github.com/eclipse/che/pull/14397
- https://github.com/eclipse/che-plugin-broker/pull/72

Remaining:
- [ ] Add an ability to override command and args;
- [ ] Add an ability to forcibly mark a volume as ephemeral (emptyDir, persistVolume:false);
- [

[2019-08-30 14:38] kameshsampath commented on #14391
We can default to maven central for the variable?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fred Bricon <notifications@github.com>
Sent: Friday, August 30, 2019 2:57:57 PM
To: eclipse/che <che@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [eclipse/che] Allow injecting maven settings in

[2019-08-30 14:51] ibuziuk commented on #13383
should be closed once Hosted Che is updated to Che 7 GA - https://github.com/redhat-developer/rh-che/issues/1490

[2019-08-30 15:05] fbricon commented on #14391
if MAVEN_MIRROR_URL is not present, the settings.xml should not define the mirror

[2019-08-30 15:06] kameshsampath commented on #14391
yeah thats what we do currently in most . of the openshift images via entrypoint scripts

[2019-08-30 15:26] davidwindell opened #14398 "Unable to clone with SSH: unprotected private key file"
### Describe the bug

When attempting to clone a git repository via the terminal, I get the error:

[code]

I can't change the permissions as Che is injecting this as readonly.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Add SSH key with the `SSH: generate key pair...` command
2. Restart workspace
3. Launch terminal for main workspace cont

[2019-08-30 15:40] davidwindell commented on #13937
@l0rd could you clarify something quickly for me, there is currently no way to SSH in to a workspace on Che 7 remotely?

[2019-08-30 16:07] davidwindell commented on #9588
Closing as not relevant to Che 7 without SSH access

[2019-08-30 16:07] #9588 closed

[2019-08-30 16:08] davidwindell commented on #5017
Fixed in Che 7

[2019-08-30 16:08] #5017 closed

[2019-08-30 16:08] davidwindell commented on #6572
Not relevant now Che 7 is out

[2019-08-30 16:08] #6572 closed

[2019-08-30 16:09] davidwindell commented on #6750
We're switching to the new helm charts/Che 7 which we've got working on Rancher so am closing this.

[2019-08-30 16:09] #6750 closed

[2019-08-30 21:52] azatsarynnyy commented on #14332
Some notes after investigating an issue of deleting a key pair.

Looks odd that request for generating a key pair is always successful but fetching a key is failed.
WebSocket messages from browser's console:
[code]
`SSH: delete key pair...` and `SSH: view public key...` commands rely on the `getAllSshKey` API call which is the reason for failing these commands.

Note, not reproducible on minikube

[2019-09-02 06:28] AmitChameides commented on #14353
Sorry for not responding earlier. I've been following the instructions of this documentation sent to me by @davidfestal so it should be more or less what you'd expect.
Here is the information you have requested:

**Chectl Command:**
`oc new-project che`
`chectl server:start --platform=openshift --installer=operator --domain=(censoring out domain) --multiuser`

**Chectl Version:**
`chectl/7.0.0 lin

[2019-09-02 06:37] Ohrimenko1988 commented on #14384
Done https://github.com/eclipse/che/pull/14394

[2019-09-02 06:37] #14384 closed

[2019-09-02 06:40] Katka92 commented on #14197
@Ohrimenko1988 Thank you for investigation. Is this only Rh-Che specific or should this logic be implemented in upstream?

[2019-09-02 07:08] Ohrimenko1988 commented on #14197
@Katka92 I have never seen this bug in the upstream. So I am not sure about implementing this logic in the "Che" upstream.

[2019-09-02 07:29] #13940 closed

[2019-09-02 07:34] l0rd commented on #14361
@themr0c: you can work with @azatsarynnyy that is comfortable writing and works on the team that is responsible for the VCS credentials injection in workspaces

[2019-09-02 07:35] l0rd commented on #14360
@themr0c: @nickboldt that has already written a brilliant doc on the creating workspaces from the dashboard can help you here

[2019-09-02 07:35] l0rd commented on #14363
@themr0c: @amisevsk is your SME here

[2019-09-02 07:35] l0rd commented on #14364
@themr0c: @skabashnyuk is your SME here

[2019-09-02 07:35] l0rd commented on #14367
@themr0c: @skabashnyuk is your SME here

[2019-09-02 07:35] l0rd commented on #14369
@themr0c: @skabashnyuk is your SME here

[2019-09-02 07:35] l0rd commented on #14371
@themr0c: @tsmaeder is your SME here

[2019-09-02 07:35] l0rd commented on #14372
@themr0c: @tsmaeder is your SME here

[2019-09-02 07:39] tsmaeder commented on #14371
@themr0c I dont' think we should add documentation on the Language server protocol, the LSP is a third party protocol that is very well documented by Microsoft. If we include a copy of that documentation, it only creates work and make the doc potentially out of date. So IMO, we should _reference_ that documentation in an appropriate way.

[2019-09-02 07:42] azatsarynnyy commented on #13494
@gorkem we're finalizing preserving git config.
`known_hosts` issue is planned for the next sprint.

[2019-09-02 07:46] l0rd commented on #14362
@themr0c sections `Deploying Che without Keycloak` and `Configuring Che with and without Keycloak` looks identical. Maybe we meant `Deploying Che without authentication` and `Using already existent instances of Keycloak and Postgres`?

Anyway your SME here is @benoitf

[2019-09-02 07:49] #13824 closed

[2019-09-02 08:34] themr0c commented on #14371
Hi @tsmaeder , that is very valuable information. What would make more sense: point to the landing page  https://microsoft.github.io/language-server-protocol/  or directly to the specification  https://microsoft.github.io/language-server-protocol/specification ?

[2019-09-02 08:35] benoitf commented on #14054
hello @themr0c
yes I agree

[2019-09-02 08:36] tsmaeder commented on #14371
The landing page: if folks get there the first time, you can get some background.

[2019-09-02 08:36] themr0c commented on #14372
Hi @tsmaeder this piece of documentation was planned in https://github.com/eclipse/che-docs/issues/712 (Che extensibility reference) but has been skipped for Che 7.0 GA. Now it's about time to create it. Are we in the same situation as #14371 and this documentation should be a pointer to https://microsoft.github.io/debug-adapter-protocol/ ?

[2019-09-02 08:37] tsmaeder commented on #14371
Are you "testing" the doc? How are you doing that?

[2019-09-02 08:38] themr0c commented on #14371
Great. That will  be an easy one then :)

To test the doc there is a `run.sh` script at the root of the `che-docs` repository.

[2019-09-02 08:44] themr0c commented on #14362
@l0rd My bet is there will be serious rework of the outline during the writing process, that's why I kept all chapters in one issue here. We surely have to rename it to "Advanced installation guide" or something like that, as the "Quick starts" are already covering common scenarios for installation.

[2019-09-02 08:46] rhopp commented on #14234
We should also use TLS if possible (if it's not easily possible, we should create a new issue for this)

[2019-09-02 09:23] ibuziuk commented on #14395
@zeibura thanks for your contributions. Are you going to work also on this issue ?

your commit is missing `Signed-off-by:`

[2019-09-02 09:25] ibuziuk commented on #14398
@vinokurig @azatsarynnyy could you please take a look

[2019-09-02 09:36] zeibura commented on #14395
So in the commit description I just need to add "Signed-off-by: zeibura"?

On Mon, Sep 2, 2019 at 11:23 AM Ilya Buziuk <notifications@github.com>
wrote:

--
*Zeibura Kathau*
Technical Writer (CA File Master and Eclipse Che) | Mainframe Division
Broadcom

mobile: +420 776 490 131
V Parku 2343/24  |  148 00 Praha-Chodov
zeibura.kathau@broadcom.com   | broadcom.com

[2019-09-02 09:39] ibuziuk commented on #14395
you need smth. like that e.g. - https://github.com/eclipse/che-docs/commit/42b09cbefb3dd0ce0c9b8a06a6fa735fc9a60955

Basically just commit via `git commit -s -m "commit message"` - https://stackoverflow.com/questions/1962094/what-is-the-sign-off-feature-in-git-for

[2019-09-02 09:43] benoitf commented on #12306
done

[2019-09-02 09:43] #12306 closed

[2019-09-02 10:14] zeibura commented on #14395
I added the signed-off-by to a new commit and it gave me the same error.
I dont know how to commit via command line. I use Github desktop. Is
command line necessary?
Sorry for this, github is new to me. I am used to working in Confluence.

On Mon, Sep 2, 2019 at 11:40 AM Ilya Buziuk <notifications@github.com>
wrote:

--
*Zeibura Kathau*
Technical Writer (CA File Master and Eclipse Che) | Mainframe

[2019-09-02 10:19] ibuziuk commented on #14395
Could you point to the commit  / PR ?

[2019-09-02 10:41] ibuziuk commented on #14395
try adding `<>` for the email:

[2019-09-02 10:55] l0rd commented on #13937
@davidwindell the following documentation sections explains how you can access to a remote Che 7 workspace from your command line https://www.eclipse.org/che/docs/che-7/remotely-accessing-che-workspaces/

[2019-09-02 11:38] vrubezhny commented on #14225
I've tested the multi-root workspace support with PHP Intelephense, using v.1.0.13 of the extension by setting the value `workspace.supportMultiRootWorkspace` preference to `true` and going through the following the steps: https://github.com/eclipse/che/issues/14225#issuecomment-521644862

For all the projects added by `Add Folder to Workspace` command I was able to see the hovers, invoke content

[2019-09-02 12:02] vinokurig commented on #14244
fixed by theia-ide/theia#6015

[2019-09-02 12:02] #14244 closed

[2019-09-02 12:06] tsmaeder commented on #14371
I was not thinking of a technical test, but to find out what it's worth to a newcomer. We're all too close to really serve as test subjects.

[2019-09-02 12:09] themr0c opened #14399 "[Doc] Unify Prerequisites A running instance of Eclipse Che."
Please unify the documentation where the prerequisites should be " A running instance of Eclipse Che." + a link to the Quick starts.

What we have now is a repeated descriptions on how to install Che that are off topic (with various variants like following):

[code]

It should be more like what we have here:  https://www.eclipse.org/che/docs/che-7/creating-a-workspace-from-code-sample/

[code]

[2019-09-02 12:12] themr0c opened #14400 "[Doc] Clarify using a devfile / creating a devfile"
Please make sure that "Configuring a workspace using a devfile" is focused on how to use a devfile, and "Making a workspace portable using a Devfile" is focused on how to create a devfile. Use links to the other document instead of rewriting it in a shorter way.

[2019-09-02 12:23] #14319 closed

[2019-09-02 12:30] themr0c commented on #14371
OK, in that sense! At the moment, learning to the doc team to install and use Che is our main test. We are trying out what we read in the docs and try to clarify anything unclear. By the end of the month I will also give a workshop presenting Che at http://www.educode.be/ and I hope to learn from the questions the audience will be asking there. Not sure I am addressing your concern though...

[2019-09-02 12:40] benoitf commented on #14301
I think it's mainly due that the version is not the same between the client and the update site after update is finished so it tries to update for ever

[2019-09-02 12:43] l0rd opened #14401 "Add a bot that closes stale issues"
### Is your task related to a problem? Please describe.

We currently have more than 1k opened issues but most are not active since months / years. Going through all the issues to identifies the ones that are still relevant is not something we are able to manage.

### Describe the solution you'd like

Setup a bot that runs daily and check if there are any issues that are inactive for more than 6 m

[2019-09-02 12:51] AmitChameides commented on #14354
Hello all,
I created custom Che Plugin Broker images which contain my certificates by cloning the Che Plugin Broker project from GitHub, altering the Dockerfiles and building them according to the instructions on Github, and then putting the images on a public Docker registry of mine on DockerHub.
Likewise, I added the specified environment variables to my Che pod's environment variables, which li

[2019-09-02 13:07] vinokurig opened #14403 "GitHub plugin doesn't update if a new repository is cloned and selected"
### Describe the bug

GitHub plugin doesn't update if a new repository is cloned and selected

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Clone a github repository with pull requests.
2. Try the Github plugin, it should display the pull requests.
3. Clone other github repository and select it as a current SCM repository.

**WRONG** The Git

[2019-09-02 13:09] davidwindell commented on #13937
Thanks, we have relied up till now on having the SSH agent as that meant we could use Unison (which che sync also used) to sync workspaces files to the local IDE. I doubt that would work with kubectl

[2019-09-02 13:16] tsmaeder commented on #14354
The error message says you're not supposed to use the underscore character.

[2019-09-02 13:40] #14198 closed

[2019-09-02 13:55] AmitChameides commented on #14354
Oh! Okay :)
Indeed, changing it from `_` to `-` both in my registry and my environment variables made everything work! Thank you both very much, @tsmaeder  and @sleshchenko!

I'm closing this thread, so here's the summary of the solution:

1. Create your own Che Plugin Init Broker and Che Plugin Unified Broker by cloning the projects from the [che-plugin-broker GitHub page](https://github.com/ecli

[2019-09-02 13:55] #14354 closed

[2019-09-02 14:15] themr0c opened #14404 "[chectl] Be more specific in the help about the --domain option"
Context:

After the installation of Code-Ready containers, the user has knowledge of these two URLs:

[code]

Then he needs to fill in a domain option to start a Che server.
The current documentation of the `--domain` option when using `chectl --help` is not specific enough to help the user choose the right domain.

[code]

For a crc, instance, correct value would be `--domain=.apps-crc.testing`.

[2019-09-02 14:20] AmitChameides commented on #14164
Hey all,
I managed to find a bypass for the error, which isn't perfect but should be able to fix it for anyone under similar conditions to me (Setting up Eclipse Che multiuser in an enterprise environment using a proxy which man-in-the-middles SSL communication). It's a little complicated but it worked for me.

I describe the solution in[ this](https://github.com/eclipse/che/issues/14354) GitHub t

[2019-09-02 14:34] skabashnyuk commented on #13488
I would like to clarify the technical scope of this task.
Could it be like:

Case osio.like  - CHE_LIMITS_USER_WORKSPACES_RUN_COUNT=1
- We need to update documentation explaining how to do that and what is the benefits from that.
- allow to use ```${username}```, ```${userid}``` patterns in configuration
  parameters that are defining target namespace.
  https://github.com/eclipse/che/blob/master/

[2019-09-02 14:41] dmytro-ndp commented on #14330
The same error was faced when executing _Happy path tests_ on _PR check_ against K8S [che-theia repo](https://github.com/eclipse/che-theia):
![screenshot-Wait_workspace_running_state](https://user-images.githubusercontent.com/1197777/64121353-473e2b80-cda7-11e9-8308-fe56635d702d.png)
[code]
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-PR-check-E2E-Happy-path-t

[2019-09-02 14:53] vinokurig commented on #14398
Can not reproduce it in the latest che-theia version.
@davidwindell what is the version of che-editor are you using?
It is strange that the key folder name is `default-redacted`, it must be default-{timestamp} in the latest version.

[2019-09-02 14:53] #13903 closed

[2019-09-02 15:19] zeibura commented on #14395
Hi, I found the issue - the old commit with no footer was still there. I
recreated my fork and resubmitted the PR and it's now fine. Thanks a lot
for your help.

On Mon, Sep 2, 2019 at 12:42 PM Ilya Buziuk <notifications@github.com>
wrote:

--
*Zeibura Kathau*
Technical Writer (CA File Master and Eclipse Che) | Mainframe Division
Broadcom

mobile: +420 776 490 131
V Parku 2343/24  |  148 00 Praha-

[2019-09-02 15:20] vitaliy-guliy commented on #13670
Need to be fixed. Sometimes two `Plugins` menu items are displayed

![Screenshot from 2019-09-02 16-31-40](https://user-images.githubusercontent.com/1655894/64123918-ecf09b00-cda5-11e9-8120-4e3a5f05ffb4.png)

[2019-09-02 15:28] AndrienkoAleksandr opened #14405 "Ominsharp remote plugin doesn't work."
### Describe the bug
Ominsharp remote plugin doesn't work at all. Seems it's related with merged in the upstream theia "support activation events"

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create new workspace from devfile ".netcore"
2. Await while project will be cloning.
3. Open some ".dotnet" file, for example: Startup.cs
3. Await mes

[2019-09-02 15:29] AndrienkoAleksandr commented on #14405
We have a fix https://github.com/eclipse/che-plugin-registry/pull/199

[2019-09-02 16:30] l0rd commented on #13488
If I had to choose it I would say that this should become the default. As an k8s cluster admin I would be happy because it would save resources. As a developer I would not care about having 2 workspaces running at the same time. And for us it means less issues open. But that's something that should be validated by @slemeur.

Ok

parameters that are defining target namespace.
https://github.com/ecl

[2019-09-02 17:28] gorkem commented on #14401
I favour the `lifecycle/*` labels of k8s. `lifecycle/stale` marks issues to be auto-closed soon and `lifecycle/rotten` marks auto-closed. One can protect an issue with `lifecycle/frozen`

[2019-09-03 06:00] #13459 closed

[2019-09-03 06:12] skabashnyuk commented on #13221
![Знімок екрана  о 08 09 32](https://user-images.githubusercontent.com/1614429/64147987-5f9f5c00-ce22-11e9-9c1a-354510b4cf65.png)
It is noticeable that the maximum time of json/rpc method execution is growing on Che server.  I may assume that it is related to permission checking.

[2019-09-03 06:16] skabashnyuk commented on #13502
I think this issue is quite important. It should provide better visibility for the group of people who are maintaining Eclipse Che clusters.

[2019-09-03 06:57] rguskov opened #14406 "Keycloak is failing to start in Kubernetes"
Trying to start Che 6.19.0 in multi-user mode on Kubernetes cluster (not minikube). Keycloak pod is failing with the below error. The postgres pod is up. PVs and PV claims are all configured.
[code]

[2019-09-03 07:36] tsmaeder commented on #14225
@vrubezhny what about document symbols and hover, as mentioned in https://github.com/eclipse/che/issues/13427#issuecomment-520501345 ?

[2019-09-03 07:38] sleshchenko commented on #14404
The latest info about --domain parameter is the following:
[code]

Actually, you do not have to specify a domain for OpenShift installation since it's totally ignored.

But I think it makes sense to keep this issue and maybe UX even better and make it clear that it's unneeded for OpenShift.

cc @benoitf

[2019-09-03 07:56] themr0c commented on #14404
In the `stable` release, the `domain` option is mandatory: my first run failed because I had not specified the `--domain` parameter.

Is there a way to install latest (unreleased) version of che-incubator/chectl to install the released versions of eclipse/che?

The README.md for chectl is not absolutely clear: "Next is updated after each commit/Pull Request being merged in master branch." Could it

[2019-09-03 08:31] benoitf commented on #14301
fixed

[2019-09-03 08:31] #14301 closed

[2019-09-03 08:32] benoitf commented on #14301
[code]

[2019-09-03 08:49] #14290 closed

[2019-09-03 08:50] tolusha commented on #14290
The upstream issue has been fixed.

[2019-09-03 08:56] tsmaeder commented on #14091
This needs some design work: just filtering out all launch type configurations seems excessive. does it make sense to filter based on some configuration in the plugin metadata?

[2019-09-03 09:07] tsmaeder commented on #14099
@disaster37 tried to look up the wikipage you mentioned in the description, but the link is broken. Die you mean https://github.com/eclipse/che/wiki/Development-Workflow,-Che-7 ?

[2019-09-03 09:10] tsmaeder commented on #13926
@l0rd using community images is a "strategic" goal. Not sure what we want to do with this one.

[2019-09-03 09:19] ibuziuk commented on #14357
I would propose the following CI / tags:
-  `master` - CI is triggered on `master` commits and tags based on the git commit hash & pushes to quay.io
- `nightly` - CI is triggered from the `master` branch on a daily basis and pushes `nightly` images to quay.io
- `release` - CI is triggered from the `release` branch, tags images based on the `VERSION` file  e.g
`7.2.0` and pushes images to `quay.io`

[2019-09-03 09:26] tsmaeder commented on #13610
@sleshchenko  I suspec this is fixed now?

[2019-09-03 09:28] tsmaeder commented on #13599
@tolusha so what's teh stat on this one?

[2019-09-03 09:29] tsmaeder commented on #13495
@rhopp ping?

[2019-09-03 09:37] tolusha commented on #14074
My assumption is that some package is missed in the container.
Docker file [1] for python is huge. We have to start with refactoring here:
1. Find appropriate base image in the registry
2. Installed required packages `ptsvd`, `pylint`, `python-language-server[all]`, `jedi`
3. Find and installed missed ones

[1] https://github.com/eclipse/che-theia/blob/ab/scc/dockerfiles/remote-plugin-python-3.7.3

[2019-09-03 09:49] JonasHelming opened #14407 "Plugins / Editor selection in workspace configuration is confusing"
When configuring a workspace, you can select plugins on one tab and the editor to be used on another. Currently, those tabs have no interdependencies. As an example, you can select Jupyter as an editor but also add plugins which only make sense when using Theia. So it would be nice to have some indication in the UI.
Suggestions:

- Mark plugins, which have no dependency to an editor an those which

[2019-09-03 09:52] JonasHelming opened #14408 "Openshift free account memory limit is too low"
I am aware that this is a free offering, so this is no complain! The current memory limit of 512MB for the free openshift instances does not allow to start most stacks in Che (at least for me). When starting the stacks it takes for every and sometimes you get an error message telling you that the memory is too low. It would be great to have this way of trying out Che working!

[2019-09-03 09:56] #14408 closed

[2019-09-03 09:57] JonasHelming commented on #14408
Works today!

[2019-09-03 11:08] tolusha commented on #13599
https://github.com/eclipse/che/issues/14074#issuecomment-520935568

[2019-09-03 11:23] tolusha commented on #13614
We still have issue with gotoDefinition for c/c++ plugin
[code]

[2019-09-03 11:38] tsmaeder commented on #13599
So are you saying this issue is a duplicate of the other?

[2019-09-03 11:40] tsmaeder commented on #13614
@tolusha yes, we need to override all requests that return an uri from a sidecar, like "references", "definitions", etc, etc. We will not be able to catch them all (for example, if uri's are inside command parameters, which are unknown to us), but most of them.

[2019-09-03 12:20] JPinkney commented on #14225
@tsmaeder I think it was actually my misunderstanding of PHP for those issues. I believe everything is working as expected as documented in https://github.com/eclipse/che-theia/pull/408.

The PHP plugin doesn't show document symbols and hover for super basic elements like echo "Hello World" but when you actually make a PHP class everything was working as expected (I found this out after that comme

[2019-09-03 12:42] benoitf commented on #14322
Fixed

[2019-09-03 12:42] #14322 closed

[2019-09-03 12:45] tsmaeder opened #14409 "Simple LSP test suite for Java"
Create a simple test suite for testing language features with the Che 7 Java support. I should consist of
1. A test suite based on the investigation in https://github.com/eclipse/che/issues/14023
2. A devfile that can run the test suite inside a Che 7 environment

One of the qualitative goals would be to make it easy to write test suites specific to different language plugins, so we're looking for

[2019-09-03 12:45] tolusha commented on #13599
yes, I think so.

[2019-09-03 12:46] amisevsk commented on #13816
@tolusha As a test, is this issue resolved if you add a `/tmp/vscode-unpacked/` volume to the workspace devfile?

Currently the only folder shared between theia and sidecars in the `/plugins` folder. If we also need `vscode-unpacked` then that's a fairly significant change.

[2019-09-03 13:17] azatsarynnyy commented on #13044
See https://github.com/eclipse/che/issues/13614. That may help with reading a file in another sidecar.

[2019-09-03 13:52] l0rd commented on #14268
That's not about the marketplace. That's about merging the 2 services to make a better usage of resources (1 service vs 2 services) and make it simpler to manage (release/deploy/update).

But to merge the 2 registries together we should move to a programmable REST backend first to keep backwards compatibility. We should move from a static JSON file served by an Apache HTTP server to a CRUD lightwe

[2019-09-03 13:56] tsmaeder commented on #14365
So the items to implement here would be:
1) if a new "solution" is detected, pop up the "solution picker UI" (see https://github.com/eclipse/che/issues/14370) with the existing solution pre-selected
2) of the currently open solution is removed from the workspace, offer to choose another solution
3) when the last one is gone, stop the language server.

[2019-09-03 14:07] tsmaeder commented on #14392
The outcome of this would be a devfile with appropriate commands.
Not sure how to deliver the instructions, though: i would guess a separate document somewhere?

[2019-09-03 14:11] tsmaeder commented on #14392
@l0rd we don't have a place to put documentation on samples (from foreign repositories). Can you suggest where to put this?

[2019-09-03 14:28] tolusha commented on #14219
![Screenshot from 2019-09-03 17-27-37](https://user-images.githubusercontent.com/1640675/64182055-3efdf300-ce70-11e9-92ea-415feb79607a.png)
![Screenshot from 2019-09-03 17-27-31](https://user-images.githubusercontent.com/1640675/64182057-3efdf300-ce70-11e9-94e5-39c042e14716.png)

[2019-09-03 14:38] tsmaeder commented on #14091
Idea from @tolusha : pass a list of launch config names through an environment variable to the theia ide container. This would solve the problem from devfiles, but not from plugin metadata. We'd have to have a way to pass environment variables to the theia container.

[2019-09-03 15:15] azatsarynnyy opened #14411 "Generate SSH keys when the user login for the first time"
Majority of Che users require the SSH keys to work on their projects. For a first-time user, it can be a bit tricky to find a way to generate the keys.

The goal of this task is to generate a key pair automatically when the user login for the first time. So, after starting a workspace, in case if the user has no keys, he/she will see the notification about a key pair has been already generated aut

[2019-09-03 15:17] azatsarynnyy commented on #14411
@l0rd we need a priority for that.
Thanks!

[2019-09-03 16:47] amisevsk opened #14412 "Che plugin broker should persist logs."
### Is your enhancement related to a problem? Please describe.
Currently, it is quite difficult to get logs from the Che plugin broker, apart from what is printed to  the output in the workspace panel. The broker is deleted right after it finishes, which means viewing the full logs often requires catching it in a quite short window. Additionally, it's not currently possible to view logs from the i

[2019-09-03 16:49] amisevsk commented on #14363
Getting workspace logs in general is kind of tricky; for the broker, there's really only what's displayed to the user while the workspace is starting. The pod itself is deleted very quickly.

I've created issue https://github.com/eclipse/che/issues/14412 to track this.

Looking at our current *View workspace logs* section in the documentation, there's really only a reference to events; this is ano

[2019-09-03 16:58] amisevsk commented on #13610
This issue is resolved for our patched base images; the `/etc/passwd` issue is still present for community images, but that is a larger issue (most community images *will not work* with Che), so I think this issue can be closed.

[2019-09-03 20:51] z0r0 opened #14413 "Support customOIDCProvider as an option instead of forcing keycloak in Che k8s Operator"
### Is your enhancement related to a problem? Please describe.
Currently, the che operator seems to be the appropriate medium of configuration and manageability for large scale kubernetes deploys. Because of this, I'm trying to use this, in addition to an external postgres DB, and an external OIDC Provider. The external postgres configuration is complete, but the OIDC provider isn't supported (yet

[2019-09-03 21:01] l0rd commented on #14406
@rguskov thank you for raising this issue. You are deploying version 6.19.0 of Che. Why not 7.0.0 that is the latest and greatest? And if you want to stick with 6.x why not 6.19.5?

I would recommend that you try first with one of those versions and then, if your problem persist, you should provide us more details to figure out what is happening:
- How are you installing Che? Provide the exact com

[2019-09-03 21:09] l0rd commented on #14407
That's great feedback @JonasHelming

@evidolob @olexii4 @sunix we need to take these tasks into next sprint (7.3.0)

[2019-09-03 21:26] l0rd commented on #14411
@azatsarynnyy  thanks for opening it. A few considerations:

1. Git + SSH (command line and vs code extensions) should work on the user first workspace: that may require the key to be generated che-server side and not via current theia plugin.
2. The message ("Key pair successfully generated, do you want to view the public key?") should become more explicit now since the user hasn't ask to generat

[2019-09-03 21:29] l0rd commented on #14405
Closing since eclipse/che-plugin-registry#199 has been merged

[2019-09-03 21:29] #14405 closed

[2019-09-03 21:42] gorkem commented on #14411
I am not sure about this one. If I have no intention to use SSH keys on a workspace this will generate me a key and pop a notice to copy it to the clipboard. This is a confusing and since it involves SSH keys even an alarming experience for the user.

[2019-09-03 22:02] l0rd commented on #14411
@gorkem I agree: the message, if the users hasn't asked for any key generation, can be confusing/alarming.

But current UX is awful:

1) start a workspace and do some changes
2) figure out that you cannot `git push`
3) look into che docs to see that you need to generate an SSH key pair using a Theia plugin
4) generate the key pair
5) copy it in to your github profile

Most of the new users will pr

[2019-09-03 22:37] gorkem commented on #14411
Agreed, let's not do the message to everyone thing, it is a step backwards.

Considering we are trying to improve the flow through IDE on step 2 (not the git CLI), can we study if we can actually improve the git plugin at this point when it fails to push. Ideally we can hook our SSH key generation & upload logic at this point when the user really needs it. I think there is the beginnings of such a

[2019-09-03 23:36] l0rd commented on #14412
I agree

[2019-09-04 01:35] kameshsampath commented on #13488
it would also be nice to have `CHE_LIMITS_USER_WORKSPACES_RUN_COUNT`and `namespace` configurable via CheCluster CRD  as then that can be used che to provision the workspace based on the need.

[2019-09-04 01:43] kameshsampath commented on #13736
I was able open the terminal in FF 69, but i do see some errors in the developer console

![image](https://user-images.githubusercontent.com/947745/64219520-5b457280-cef8-11e9-8acc-b62d5390fa03.png)

[2019-09-04 02:58] amisevsk opened #14414 "Init broker failure causes workspace startup to hang"
### Describe the bug
There are various exit points in Che plugin broker that cause the broker to exit without notifying Che of failure. When this occurs, workspace startup hangs without logs until timeout.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
Was reproducible yesterday on the dev cluster, where the [`init` broker](https://github.com/ec

[2019-09-04 05:49] benoitf commented on #14404
@themr0c domain is mandatory for k8s/openshift but it's not for minikube/minishift.
I think we can make it optional for crc as well (computing it)

By default, unreleased version of `chectl` are deploying `nightlies` of `che`
but by providing some flag you can give the che-server image that you want (and use there latest/7.0.0/7.1.0 tags)

thx for reporting. It's updated after each commit inside c

[2019-09-04 06:20] skabashnyuk commented on #13488
@kameshsampath will create a separate issue about that.
@slemeur any comments about that https://github.com/eclipse/che/issues/13488#issuecomment-527200019 ?

[2019-09-04 07:01] sleshchenko commented on #14414
Sorry, but it does not help in case of plugin broker fails to connect to Che Server, does it?
Maybe Che Server should print init container logs(and maybe containers as well) if no any event is published during some timeout.

[2019-09-04 08:00] themr0c opened #14415 "[Doc] Documentation templates gardening"
Let's take care of existing non-filled templates and keep them in sync with the updated docs outline:

* Topics that have already been documented:  if their original templates have not been used, the unused templates need to be deleted.
* Templates that have no counterpart in current docs outline need to be deleted.
* Topics in the current docs outline that have no corresponding template files in

[2019-09-04 08:03] tsmaeder commented on #14023
@tolusha there is a problem with the LSP tests: they go through the language client provider, which means they will no work for VS Code API-based language contributions.
The problem is that we have no way to address a particular extension when calling API: everything is directly registered with the Monaco editor (for example completion providers). I would figure we need to instrument the registrat

[2019-09-04 08:31] dmytro-ndp commented on #13473
Current state:
#### minikube start error:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/CHE-7-Happy-Path-Tests/1449/
<details>
 <summary>minikube start error log</summary>
 <pre>
: running command: sudo /usr/bin/kubeadm init --config /var/lib/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--data-minikube,FileAvailable--etc-kube

[2019-09-04 08:43] vzhukovskii opened #14416 "Provision user name and email into git configuration from user profile when newly workspace is created"
### Is your enhancement related to a problem? Please describe.
There is a need to provide user name and email into git configuration on workspace creation step in case if user preferences doesn't have git configuration. This means that git configuration should be taken from user profile.

### Describe the solution you'd like
When workspace starts up, we check if we have preference related to `git.

[2019-09-04 08:55] azatsarynnyy commented on #14416
@l0rd this one is based on your feedback. Could you set a priority, please

[2019-09-04 08:57] sunix commented on #14308
@ibuziuk I am closing it. Feel free to reopen it if needed.

[2019-09-04 09:00] vitaliy-guliy commented on #13670
Done

[2019-09-04 09:00] #13670 closed

[2019-09-04 09:03] sunix commented on #14355
Has that issue been 'triaged' ?

[2019-09-04 09:06] sunix commented on #14355
@skabashnyuk Is it a issue for platform team ? or do we have anything to do in the Dashboard or che-theia side

[2019-09-04 09:09] skabashnyuk commented on #14355
@sunix this task is for the team who has more expertise in the dashboard. I think it is ide2.

[2019-09-04 09:25] tsmaeder commented on #13614
I think handling uri's in the languages namespace would go a long way: https://code.visualstudio.com/api/references/vscode-api#languages

[2019-09-04 09:34] sunix commented on #13484
@l0rd should we move it to 7.3.0 or later as https://github.com/eclipse/che/issues/13504 is planned for 7.3.0 ?

[2019-09-04 09:51] sunix commented on #13021
step1: make sure that `deprecate` field is displayed in the list of plugins of the plugin registry. If it is not displayed, create an issue to have it available.
step2: show the deprecate field in the dashboard as a warning

[2019-09-04 09:56] sunix commented on #13875
looks like it is fixed

[2019-09-04 09:56] #13875 closed

[2019-09-04 10:00] sunix commented on #14126
@davidfestal could you help us to write a CONTRIBUTING.md file on how to contribute/setup env on che-operator ? with a devfile in ideal case ?

[2019-09-04 10:50] skabashnyuk commented on #14355
As I remember I've discussed this task with @evidolob, I thought he wants to delegate it to @olexii4
Basic idea is to handle this logic on the Dashboard side.
- Check if  policies.create=peruser set
- if yes -> iterate over all workspaces searching for attribute "factoryurl" = to current query URL
  - if found redirect to that workspace
  - if not create a new workspace and set "factoryurl" attrib

[2019-09-04 11:35] #13610 closed

[2019-09-04 11:37] rhopp commented on #9815
Obsolete. Closing.

[2019-09-04 11:37] #9815 closed

[2019-09-04 11:39] rhopp commented on #9948
Obsolete. Closing.

[2019-09-04 11:39] #9948 closed

[2019-09-04 11:41] rhopp commented on #9949
Obsolete. Closing.

[2019-09-04 11:41] #9949 closed

[2019-09-04 11:42] rhopp commented on #10240
Obsolete. Closing.

[2019-09-04 11:42] #10240 closed

[2019-09-04 11:51] rhopp commented on #10999
Obsolete. Closing

[2019-09-04 11:51] #10999 closed

[2019-09-04 11:51] rhopp commented on #11188
Obsolete. Closing.

[2019-09-04 11:51] #11188 closed

[2019-09-04 11:52] sunix commented on #14355
I thought factory service wasn't aware of the dashboard ? @olexii4  ?

[2019-09-04 11:54] vitaliy-guliy commented on #14355
@skabashnyuk and me have a discussion about workspace creation flow using a factory.

http://host/f?url=blah&policies.create=peruser just redirects on http://host//dashboard/#/load-factory/?url=blah&policies.create=peruser and then dashboard creates a workspace using factory and workspace services.

@sunix yes, it looks IDE2 team is responsible for this issue

To have the issue done we need
- ensu

[2019-09-04 11:57] sunix commented on #14355
ok

[2019-09-04 11:57] sleshchenko commented on #14379
It would be better or at least easier at the beginning to provide an ability to specify an ability only during creation because changing a namespace on a start may lead to data losing (there is no way to migrate PVC between namespaces) and it's not a good thing.

Another quite important note:
Maybe we should allow it only when OpenShift AOauth if configured, otherwise a user would be able to acces

[2019-09-04 12:06] #14146 closed

[2019-09-04 12:22] sunix commented on #13280
could we close that one ? @evidolob

[2019-09-04 13:12] rhopp commented on #13326
Job is ready. https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved
@dmytro-ndp Please create a followup issue for transforming this job into pipeline (and include it into current sprint). Thx ;-)

[2019-09-04 13:12] #13326 closed

[2019-09-04 13:19] #14178 closed

[2019-09-04 13:32] sunix commented on #13995
@tsmaeder I am closing this one as some of us are not able to reproduce. Feel free to reopen if you have more info.

[2019-09-04 13:32] #13995 closed

[2019-09-04 13:33] sleshchenko opened #14419 "chectl must make sure that objects(like che-operator clusterrole) are up-to-date"
### Describe the bug
chectl must make sure that objects(like che-operator clusterrole) are up-to-date.
Currently, chectl only checks if che-operator clusterrole, clusterrolebinding exist and does not update them.
But it's possible that such resources are modified and should be updated on cluster as well to keep Che working (like the following PR https://github.com/eclipse/che-operator/pull/66).
So

[2019-09-04 13:36] sunix commented on #14187
@evidolob what do we do with this ?

[2019-09-04 13:36] tsmaeder commented on #13614
We'll start by fixing the issue with the C++ plugin and provide a PR for that (definitions provider).

[2019-09-04 13:38] dmytro-ndp commented on #14385
There is an ability to run shell command from typescript https://stackoverflow.com/a/49701572/2556329
It could be used to run `chectl start:workspace` command.

[2019-09-04 13:47] tsmaeder commented on #14070
Since there is no vsix in the release, we need to host the file somewhere (in redhat-developer or so).

[2019-09-04 14:09] l0rd commented on #14305
I would say that doing the change operator side is easier. chectl currently use the same code in the case of any installer (operator and helm).

A more robust solution would be that chectl spawns 5 threads that wait asynchronously for the different pods (registries, keycloak, postgres, che) to be available. That would work for both helm and the operator. But at this point, with only 2 installers t

[2019-09-04 14:25] sunix commented on #14389
moved to 7.3.0 as api is not implemented yet

[2019-09-04 14:27] sunix commented on #13484
I moved https://github.com/eclipse/che/issues/14389 to 7.3.0

[2019-09-04 14:29] amisevsk commented on #14414
Right, of course that makes sense -- my mistake. I suppose there's no way around this issue via the init broker itself.

The `log.Fatalf()` is logged correctly but those logs aren't saved anywhere. I suppose this can be closed as a duplicate of #14412.

[2019-09-04 14:29] #14414 closed

[2019-09-04 14:31] vitaliy-guliy opened #14423 "Che Theia should inform the user if his workspace has deprecated plugin"
### Is your enhancement related to a problem? Please describe.

A plugin could be deprecated by adding `deprecated` section:
[code]

This configuration has been copied from the coresponding issue for the Dashboard. But the latest V3 plugin definition should also have `deprecate` section.

### Describe the solution you'd like

- Che Theia should inform the user that at least of one of the plugins h

[2019-09-04 15:15] sunix commented on #14340
@olexii4 if you work on this, could you have a quick look at https://github.com/eclipse/che/issues/14407 and see if it is related. If it is easy to fix both issues at the same time, go ahead.

[2019-09-04 15:51] benoitf commented on #14401
tell me if that is ok with you:  (message + label)

I only applied on a single issue for now:
https://github.com/eclipse/che/issues/3281#issuecomment-527962937

[2019-09-04 15:51] benoitf commented on #14401
cc @l0rd @gorkem

[2019-09-04 15:56] sunix commented on #13874
Ok this is a first step this is good but... i am confused.
The title of this issue says `Preconfigure ... from Che user's profile/preferences` but we are not preconfiguring this as I see from the video. So let's say that a user has setup Che and configured a Che user and started a workspace with it. Could we `Preconfigure` the git username and git email with the Che user information ?
I am reopeni

[2019-09-04 15:58] #13874 closed

[2019-09-04 15:58] vzhukovskii commented on #13874
Yes, there is a dedicated issue for that: https://github.com/eclipse/che/issues/14416

[2019-09-04 16:00] sunix commented on #13874
@vzhukovskii sorry i removed my comments because i wanted to double check first

[2019-09-04 16:00] vitaliy-guliy opened #14424 "[ Dashboard ] Plugins page is empty when workspace has third-party plugin"
### Describe the bug

In Che-Theia we have an ability to add custom registry. If you add a plugin from that registry, the Plugins page on the Dashboard will be empty.
The same. We can add a third-party plugin by editing a devfile in the corresponding page on the Dashoard. If you add your custom plugin to the devfile, the Plugins will not work.

### Che version

 - [x] latest
 - [x] nightly

### St

[2019-09-04 16:03] sunix commented on #14416
to me this should have been implemented in #13874 ... so should have the same priority and milestone

[2019-09-04 16:05] sunix commented on #14416
So let's say that a user has setup Che and configured a Che user and started a workspace with it. Could we, if these have not been set previously, preconfigure/set the git username and git email with the Che user information?

[2019-09-04 16:05] vzhukovskii commented on #14416
It was decided in comments to the demo video to implement this enhancement in 7.2.0

[2019-09-04 16:08] vzhukovskii commented on #14416
That is the point of this enhancement. To provide user name and email into git configuration if user' preferences don't have anything related to git.

[2019-09-04 18:21] z0r0 commented on #9859
Bumping this, as it's an issue for us too.

[2019-09-04 19:49] TuckAndRoll opened #14425 "Installed Python Modules Not Accessible"
I am very new to Che and I'm trying to get my own python environment set up. I have created my own python docker image that has a 3rd party python module (Pyomo) installed. When I create a workspace and pull this image in via the devfile I can't use the module. I can open a terminal to that image and see that it is installed, but when I run my python script in Theia it doesn't recognize it as bein

[2019-09-04 20:58] ibuziuk commented on #14305
@davidfestal PR got merged. Can we close the issue ?

[2019-09-04 21:14] l0rd commented on #14401
It's ok for me. Do you know if we can change [che-bot](https://github.com/che-bot) logo?

[2019-09-04 21:26] benoitf commented on #14401
I'll Ask eclipse webmaster. You want eclipse che logo as avatar ?

[2019-09-04 21:58] johnmcollier opened #14426 "[OCP4] Che deployment fails due to permission denied in Postgres"
### Describe the bug

I installed a basic OCP 4 cluster on AWS. The default `aws-ebs` storage is used. I tried to install Che from the OperatorHub marketplace and the install failed because Postgres entered a `CrashLoopBackOff` state.

The Postgres container's logs show the following error:
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

[2019-09-05 01:30] rguskov commented on #14406
I started evaluating Che some time ago in Minikube so it was 6.19.0 at that time. Then tried it on a remote cluster and came up with that keycloak issue.

Now followed your advice and tried 7.0.0. Failing to install. The cluster is not new. It is a preexisting one with all the service accounts and roles already configured. So might be the case something is missing here or not configured as expecte

[2019-09-05 01:56] rguskov commented on #14406
I also tried 6.19.5 and it has the same issue as 6.19.0 on a remote Kubernetes cluster on AWS.

In the multi-az setup Keycloak may get PVCs in different zones. Che setup does not let specify the storage class as a parameter to force both PVCs be created in one availability zone. And fixing this issue with PVCs manually does not help. Keycloak keeps complaining on permissions.

[2019-09-05 04:54] monaka commented on #13155
@apupier Is this issue reproduced on your environment? Can I close this?

[2019-09-05 06:11] tolusha commented on #14424
@vitaliy-guliy
Could you provide the devfile ?

[2019-09-05 06:37] tolusha commented on #14425
@TuckAndRoll
That's a good question. You installed the `pyomo` package in the dev container of your workspace but the python plugin works in a sidecar container.

There is no a general way to fix the issue. It  requires to build a docker image for the python plugin.

Something like that:
[code]

[2019-09-05 06:47] AmitChameides opened #14427 "Image-Che field not read correctly from deploy_che.sh (OpenShift)"
### Describe the bug

When certain values are put into the `--image-che=(specified Che image)` field when running the `deploy_che.sh` script, they are ignored or read incorrectly.

I had this happen when I was using a Che image from a local Docker registry. For the sake of this example, let's say the registry was `1.2.3.4:5000`.
Then, my image repository would be `1.2.3.4:5000/my-image:my-image-ta

[2019-09-05 06:51] tolusha commented on #14426
From my understanding it duplicates the https://github.com/eclipse/che/issues/14427

[2019-09-05 07:08] tolusha commented on #14426
/cc  @amisevsk

[2019-09-05 07:18] tolusha commented on #14427
@sleshchenko  Could you check pls?

[2019-09-05 07:24] themr0c opened #14428 "[Doc] Add verification steps after chectl install"
Please add verification steps after the installation of chectl in https://github.com/eclipse/che-docs/blob/master/src/main/pages/che-7/overview/proc_installing-the-chectl-management-tool-on-linux-or-macos.adoc -- something like:

[code]

[2019-09-05 07:26] #14312 closed

[2019-09-05 07:36] skabashnyuk commented on #14427
@AmitChameides deploy.sh are in the decommissioning state https://github.com/eclipse/che/issues/13888 can you test chectl  https://www.eclipse.org/che/docs/che-7/installing-the-chectl-management-tool/?

[2019-09-05 07:39] davidfestal commented on #14305
Sure.

[2019-09-05 08:11] AmitChameides commented on #14427
Hey @skabashnyuk and @tolusha , thank you for your reply.
As I mentioned in [this thread](https://github.com/eclipse/che/issues/14353), I am currently running into bugs when trying to deploy using CheCtl. If you could assist me with making it work, I would greatly appreciate it.

[2019-09-05 08:12] #14305 closed

[2019-09-05 08:16] themr0c opened #14429 "[chectl] handle previous install of chectl"
Hi @benoitf, this will probably be for you:

When you install `chectl` with the recommended `curl | bash` command (on Linux), chectl is installed in `/usr/local/bin/chectl`.

[code]

However, if a previous installation of `chectl` is present on the system, for example from a tarball install in `~/bin`, this previous install will stay.

If that other binary of `chectl` is somewher in the $PATH wher

[2019-09-05 08:18] sleshchenko commented on #14427
@AmitChameides You're right, and `deploy_che.sh` does not expect registry to be specified in `che-image` argument. As a quick workaround I can suggest you try the following:
[code]

[2019-09-05 08:25] themr0c opened #14431 "[chectl] packages and distributed container images for chectl"
Currently the recommended way to install chectl is some "curl | bash" command.

It is easy, but not a really recommendable way to install a binary if you care about security.

It would be very nice to have packages in the form of RPM and DEB and Brew (and a package repository for upgrades). We could propose these packages as the official way of installing chectl.

Maybe container images could prov

[2019-09-05 08:36] themr0c opened #14432 "[Doc] clarify in chectl documentation when the next channel is updated"
Followup of #14404

Q: The README.md for chectl is not absolutely clear: "Next is updated after each commit/Pull Request being merged in master branch." Could it be specified if it is the master branch of eclipse/che or of che-incubator/chectl?

A: It's updated after each commit inside chectl. Do you want to propose a PR to improve it ?

[2019-09-05 09:05] themr0c commented on #14363
Thanks @amisevsk. I believe this is already sufficient information to document what is available right away. When something new gets implemented in #14412, would you be kind enough to create a [Doc] issue afterwards so that we can update the documentation?

[2019-09-05 09:10] dmytro-ndp opened #14434 "It needs to be clarified how to login into the Che 7.1 using GitHub OAuth provider if there is OpenShift OAuth enabled"
Before Eclipse Che 7.1 it was possible to have OpenShift OAuth provider and GitHub OAuth provider setup at the same time in keycloak. At start, user was redirected to Che login page where two links were present:
![Selection_047](https://user-images.githubusercontent.com/1197777/64328018-691cf580-cfd5-11e9-9731-b32b83ce3100.png)

After [this changes](https://github.com/eclipse/che/issues/14012) in

[2019-09-05 09:23] AmitChameides commented on #14427
Thanks for your help @sleshchenko. That workaround indeed let me configure the correct local registry.
I'm still facing some small issues with the authentication part, but I'll try and tackle it a little myself, and in any case it's not related to this issue :)

[2019-09-05 09:23] #14427 closed

[2019-09-05 09:59] #13209 closed

[2019-09-05 10:01] vitaliy-guliy opened #14436 "It isn't possible to start workspace once it has been stopped"
Today morning it become not possible to start the workspace.
The day before I used to stop minikube, and after starting the minikube again my workspace become not accessible.

### Describe the bug

Nothing to describe. Just stop the minikube and start it in a day.
I believe that after deleting the minikube machine, updating chectl and creating the machine again everything could be fine. But it's n

[2019-09-05 10:20] AmitChameides commented on #14052
Alright @andy316x. Thanks.
I tried your bypass and it also worked for me, however I did also encounter the same error as you later did. If you made any progress getting beyond that point, I'd love to know.

[2019-09-05 10:52] skabashnyuk commented on #14052
@AmitChameides fyi https://github.com/eclipse/che/pull/14335

[2019-09-05 10:57] AmitChameides commented on #14052
Oh, cool!
Just clearing things up - Is this patch supposed to fix the jwtproxy error we have encountered?

[2019-09-05 11:02] ibuziuk commented on #14332
@azatsarynnyy according to the issue reporter the issue was reproduced on k8s environment. Why do you think it is Hosted Che specific?

[2019-09-05 11:08] tolusha commented on #14436
@skabashnyuk  Could you have a look pls to decide if it is blocker?

[2019-09-05 11:10] sleshchenko commented on #14427
@AmitChameides BTW if chectl does not allow to specify registry - please create the corresponding issue

[2019-09-05 11:12] sleshchenko commented on #14436
@vitaliy-guliy Please add Devfile of the workspace to issue description

[2019-09-05 11:25] vitaliy-guliy commented on #14436
@tolusha It could be non blocking for @skabashnyuk
But believe me it's blocking for whom is using Che-Theia, I'm talking not about `severity/blocker` label.
I often hear that I should push the changes to the GitHub as often as possible. But here is a question of the stability.
A developer is usually become upset when he cannot access his sources.

[2019-09-05 11:29] sleshchenko commented on #14436
Looks like it's caused by https://github.com/eclipse/che/pull/14402
cc @vzhukovskii

[2019-09-05 11:31] skabashnyuk commented on #14052
I hope so.

[2019-09-05 11:33] vinokurig opened #14437 "It isn't possible to build che-theia image"
### Describe the bug

Build of the `che-theia` image fails.
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Go to /che-theia/dockerfiles/theia
2. Run `./build.sh --build-args:GITHUB_TOKEN=${GITHUB_TOKEN},THEIA_VERSION=master --tag:next --branch:master --git-ref:refs\\/heads\\/master`

**WRONG** Error appears:
[code]
### Expected behavior

### R

[2019-09-05 11:34] tolusha commented on #14436
@vitaliy-guliy I agree with you

[2019-09-05 11:36] tolusha commented on #14437
@vinokurig
Have you tried to build it again?

[2019-09-05 11:40] skabashnyuk commented on #14436
I was able to successfully create/start/stop workspace from provided devfile. I think it's something related to profile configuration && as @sleshchenko  suggested may be related to https://github.com/eclipse/che/pull/14402

[2019-09-05 11:40] vitaliy-guliy commented on #14436
I get an error when creating and starting a workspace from any node stack
[code]

[2019-09-05 11:43] vinokurig commented on #14437
I tried 2 times, but know it is not reproduced

[2019-09-05 11:47] ibuziuk opened #14438 "Each SSH keypair is mounted as a secret which is created after generation and workspace restart. Need to rework the implementation, so that all SSH keys would use single common secret"
### Is your task related to a problem? Please describe.
Each SSH keypair is mounted as a secret which is created after generation and workspace restart. Need to rework the implementation, so that all SSH keys would use single common secret.

If there is a quota for secrets, e.g. Hosted Che case `20` [1] it is pretty easy to run out of secrets and workspace startup will fail with:

[1] https://gith

[2019-09-05 11:48] tolusha commented on #14437
I do believe  it is related to build of Theia itself. When it tries to download artifacts for the Marketplace.

[2019-09-05 11:49] vitaliy-guliy commented on #14436
Preferences

`GET http://che-che.192.168.99.112.nip.io/api/preferences`
[code]

[2019-09-05 11:59] tolusha commented on #14434
It isn't a regression since it wasn't possible to login using GitHub before.

[2019-09-05 12:04] vinokurig commented on #14437
Reopening because the same error is found on CI https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/68/console

[2019-09-05 12:10] AmitChameides opened #14439 "[OCP] Unable to specify local registry login credentials for custom pods"
## Summary
Hey all,
I'm trying to set up multiuser OCP Eclipse Che in a corporate environment behind a proxy. I made custom versions of the Che Broker Pod images, because I needed them to include special certificates. For security reasons, I need to place the images in a local Docker registry, rather than online on DockerHub.

I am able to tell my Che project to pull my custom images from my local

[2019-09-05 12:16] davidfestal commented on #14434
Well, I would say it wasn't **supported**, though you would still be able to configure Keycloak to do so.
But let me clearly state that until now the aim of adding the GitHub identity provider  into the Che Keycloak configuration was **not to use it for login**. It was mainly used to allow retrieving of the GitHub token from the Keycloak token in the Che server / Dashboard.
Sure, Keycloak allows u

[2019-09-05 12:19] tolusha commented on #14439
/cc @ibuziuk

[2019-09-05 12:22] ibuziuk commented on #14438
cc: @l0rd

[2019-09-05 12:22] themr0c opened #14440 "[Doc] Be specific about preferred / supported browsers."
Hi, I have read that Chrome / Chromium based browsers are preferred to access the dashboard. We should probably be specific about this in the documentation.

* What wording would be the most relevant: could we create categories like: preferred browser / supported browser / untested browser?
* Once we have these categories, could we rate some browser according to the categories?

[2019-09-05 12:24] ibuziuk commented on #14440
not only dashboard, but theia-ide also
Need some input from IDE 2 team

[2019-09-05 12:25] ibuziuk commented on #14440
@themr0c could you search and link all the known browser specific issue ? e.g. https://github.com/eclipse/che/issues/14015

[2019-09-05 12:26] vzhukovskii commented on #14436
Will take a look on it

[2019-09-05 12:29] themr0c commented on #14440
che.openshift.io does not start on Safari Version 12.0 (14606.1.36.1.9) #11817

[2019-09-05 12:33] themr0c commented on #14440
so only one issue about safari, #14015 is covering firefox issues, no issues about vivaldi or internet explorer.

What browsers are tested? (How are they tested?)

[2019-09-05 12:33] davidfestal commented on #14434
**It is still possible**. You can still have both identity providers configured in the Keycloak federated identities. The only difference is that the main login page redirects to the Openshift login page *by default*.
Bear in mind that login is not the only purpose of federated identities (see comment here: https://github.com/eclipse/che/issues/14434#issuecomment-528336051)

Additionally, in order

[2019-09-05 12:39] ibuziuk commented on #14440
@rhopp any input on that, AFAIK latest Chrome is the only browser we support (there is no browser compatibility table right)?

[2019-09-05 12:51] benoitf commented on #14401
for che-bot avatar, done:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=550792

[2019-09-05 12:54] davidfestal commented on #14434
Let me add the steps to find back the login page you're speaking of @dmytro-ndp :

1. In the Che realm, click on the `Authentication` left tab
![Capture du 2019-09-05 14-46-26](https://user-images.githubusercontent.com/686586/64343301-94f7a580-cfec-11e9-975e-c37155eda17d.png)

![Capture du 2019-09-05 14-47-30](https://user-images.githubusercontent.com/686586/64343310-9aed8680-cfec-11e9-8398-d830be

[2019-09-05 13:03] #14288 closed

[2019-09-05 13:10] apupier commented on #13155
currently, I have no account working for testing on che.openshift.io :(

[2019-09-05 13:38] amisevsk commented on #14426
It does look like an instance of #14331 (at least, in terms of error), but I have no idea what's causing the issue. Maybe @davidfestal can help as he works on the Che operator.

[2019-09-05 13:42] amisevsk commented on #14363
:+1: Will do, thanks @themr0c.

[2019-09-05 13:43] l0rd commented on #14401
@benoitf thanks

[2019-09-05 13:44] amisevsk commented on #13155
@apupier Which browser were you using? We've had issues with non-Chrome browsers in the past.

[2019-09-05 14:00] azatsarynnyy commented on #14332
@ibuziuk I mean that I cannot reproduce the issue of deleting key pair in Che running on minikube but it's reproducible on che.openshift.io

BTW, the keys verification issue should be fixed by the PR https://github.com/eclipse/che/pull/14418

[2019-09-05 14:02] ibuziuk commented on #14332
@azatsarynnyy but che.openshift.io is still RC 1.1 - I'm not sure it is fair to compare it with master ;-)