[2021-12-24 07:42] artaleks9 commented on #20954
Launch on Jenkins pipeline is  successful.
The issue is closed.

[2021-12-24 07:42] #20954 closed

[2021-12-24 09:41] #20956 closed

[2021-12-24 09:47] gazarenkov commented on #20606
As agreed with all stakeholders, let's start with setting container limits and see if it is a real memory-leak problem or just the way GC works.

[2021-12-24 12:23] #20671 closed

[2021-12-24 12:53] dmytro-ndp opened #20973 ""chectl server:deploy" command failed because of error "open /tmp/keycloak-provision.sh: no such file or directory""
### Describe the bug

https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/1364/console
[code]

### Che version

next (development version)

### Steps to reproduce

1. Start minikube in 'none' driver mode
2. Download chectl next: https://github.com/che-incubator/chectl/releases/download/20211217131027/chectl-linux-x64.tar.gz
3. Run comm

[2021-12-24 13:23] tolusha commented on #20973
`che-operator` main branch has been switched to Dev Workspace engine by default.
You simply tried to deploy Eclipse Che with `che-server` engine which is not supported anymore.

[2021-12-24 14:45] dmytro-ndp commented on #20973
@tolusha: thanks for the help!

Could you provide the correct command to deploy Che then, please?

[2021-12-24 14:53] tolusha commented on #20973
Currently it is needed to add `--workspace-engine dev-workspace` flag.

[2021-12-24 15:02] ibuziuk commented on #20968
Resolving. Removal of the obsolete CRs was required

[2021-12-24 15:02] #20968 closed

[2021-12-24 15:20] dmytro-ndp commented on #20973
@tolusha: got it, thanks for explanation!

The issue hasn't been reproduced with `--workspace-engine dev-workspace` flag.

[2021-12-24 15:20] #20973 closed

[2021-12-25 00:27] #19680 closed

[2021-12-25 00:27] #20004 closed

[2021-12-25 00:27] #20006 closed

[2021-12-26 00:30] #20011 closed

[2021-12-27 00:29] #20018 closed

[2021-12-28 00:28] #17475 closed

[2021-12-28 06:35] #20972 closed

[2021-12-28 06:44] tolusha commented on #20968
Another fix was to add `app.kubernetes.io/part-of: che.eclipse.org` label to some k8s object that che-operator couldn't see.

[2021-12-28 09:23] #20698 closed

[2021-12-28 15:26] vinokurig opened #20974 "[Plugin API] showWarningMessage Plugin API method doesn't work"
### Describe the bug

`showWarningMessage` Plugin API method doesn't work

### Che version

next (development version)

### Steps to reproduce

1. Start a workspace from this devfile:
[code]
2. Run `Hello world` command from the command pallet which executes `vscode.window.showWarningMessage('Hello World!');`
See: nothing happens

### Expected behavior

A warning notification must appear.

### Run

[2021-12-29 07:23] tolusha commented on #20888
I've added a step to wait until ingress controller pod is run.
Free to reopen the issue if you face this problem again.

[2021-12-29 07:23] #20888 closed

[2021-12-29 09:49] #20874 closed

[2021-12-30 14:56] vinokurig opened #20975 "[DevWorkspace] Mount SSH secret to all workspace containers"
### Is your task related to a problem? Please describe

Che-server mounts SSH keys stored in the postgres to all workspace containers, [see](https://github.com/eclipse-che/che-server/commit/d3b25a9471bd55ada6da37b2bf37d87ee3be462e).  Also it creates a predefined SSH key if no SSH keys are stored in the database, and then mounts it to the workspace containers.
Need to apply the same logic for the `

[2021-12-30 15:38] ibuziuk commented on #20975
@vinokurig the ssh story has been finalized as part of the https://github.com/eclipse/che/issues/20832
Could you clarify what exactly is missing?

[2021-12-31 13:39] ibuziuk opened #20976 "Use OperatorHub style for Community and Tech-Preview tags"
### Is your task related to a problem? Please describe

`Community` and `Tech-Preview` tags should follow the Operatorhub style:
![image](https://user-images.githubusercontent.com/1461122/147676402-b57e9bbe-b0fb-44a8-91cf-b48f3679c2fe.png)

Currently, all the tags are, lowercased:
* https://github.com/eclipse-che/che-devfile-registry/pull/523
* https://github.com/redhat-developer/codeready-workspa

[2021-12-31 13:39] ibuziuk commented on #20976
@nickboldt could you please update the tags accordingly?

[2022-01-01 00:30] #19998 closed

[2022-01-03 00:29] #20038 closed

[2022-01-03 00:29] #20043 closed

[2022-01-03 10:42] sunix opened #20977 "Unable to update che - InstallOrUpdateFailed 'unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request'"
### Describe the bug

I cannot update my Che server with `chectl server:update`
Everything looks fine but

[code]
It is stuck to 7.39.1

### Che version

7.40@latest

### Steps to reproduce

[code]

### Expected behavior

should be using 7.41.1 or 7.40.0 but it is stuck to 7.39.1

But `chectl` should at least warn me that something went wrong and that the operator couldn't make the update.

### Ru

[2022-01-03 10:51] sunix commented on #20977
@skabashnyuk may that be related to the metrics work that have been done recently ?

[2022-01-03 13:22] Divine1 commented on #20962
@nils-mosbach

`https://git.company.com/` url in which my project repository is present can be accessed only with in corporate network (using global protect software ). i have installed the eclipse-che on [minikube cluster](https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-minikube/) in my personal laptop

the installation is successful. To verify if all components are wo

[2022-01-03 16:15] skabashnyuk commented on #20962
Is this an HTTP proxy?
CC @tolusha

[2022-01-03 18:03] Divine1 commented on #20962
i dont use any proxy urls.

i have to connect my laptop using global protect to be inside the corporate network inorder to access the `https://git.company.com/` website.

i have installed eclipse-che in a minikube cluster in my laptop, but looks like eclipse-che is not able to make use of the corporate network @tolusha @skabashnyuk

[2022-01-03 18:57] skabashnyuk commented on #20962
Can you try to run any container (without using che) with git inside and try to clone `https://git.company.com/`. Does it work for you?

[2022-01-04 00:29] #18590 closed

[2022-01-04 00:29] #20036 closed

[2022-01-04 00:29] #20042 closed

[2022-01-04 02:44] Divine1 commented on #20962
@skabashnyuk

yes i'm able to clone a repository from`https://git.company.com/` inside the ubuntu docker container with corporate network enabled (i was able to clone by creating a personal accesstoken in `gitlab.company.com` as my organization uses ssoBasedLogin inorder to login into gitlab)

i disabled corporate network and tried to clone a repository from`https://git.company.com/` inside the ub

[2022-01-04 08:23] tolusha commented on #20977
@sunix
Is it full che-operator log? I don't see any errors there.

[2022-01-04 08:39] tolusha commented on #20977
`chectl version` ?

[2022-01-04 10:00] sparkoo commented on #20606
I've merged the PR to set gateway containers resources https://github.com/eclipse-che/che-operator/pull/1276. I'm keeping this issue open, but I'm not actively working on it atm. I want to discuss with @ibuziuk whats current state on affected cluster and we may either close it or dig deeper.

[2022-01-04 12:47] kollachaitanyakrishna opened #20978 "Git Clone from Theia UI is not working"
### Describe the bug

Unable to clone using the GIT Clone Plugin

### Che version

7.40@latest

### Steps to reproduce

1) Create a workspace
2) Use the Git clone "git:clone"
3) unable to find an option to provide the clone.

### Expected behavior

4) After the selection of "git:clone",
5) A blank textbox to enter the https git clone url. it does not work.

### Runtime

Docker Desktop

### Screens

[2022-01-04 15:51] #20829 closed

[2022-01-04 17:50] Divine1 opened #20979 "Plugins installation process failed - eclipse che installation on minikube"
### Summary

i installed eclipseche (latest version) in minikube using chectl in mac os
`minikube start --addons=ingress --vm=true --memory=9000 --cpus=3 --container-runtime=docker`
i get below error when i open a workspace from eclipse-che. Please let me know how to resolve this error

![image](https://user-images.githubusercontent.com/10482177/148101415-d9388947-63f6-4977-9deb-201e72b3a27a.png)

[2022-01-04 19:45] nickboldt opened #20980 "release process for che-dockerfiles/che-custom-nodejs-deasync broken - no new multi-arch quay images (only single-arch ones)"
### Is your task related to a problem? Please describe

Looks like 7 months ago we updated to node 12.22.1 and didn't tell anyone in prod team, nor watch to see if the release was successful. Oops.

https://quay.io/repository/eclipse/che-custom-nodejs-deasync?tab=tags

So we have some CI builds of the latest partials (single arch) but no amalgamation under the 12.22.1 tag.

Anyway, that last commi

[2022-01-04 19:57] benoitf commented on #20980
We didn't updated to 10.22.1 in che-theia https://github.com/eclipse-che/che-theia/blob/main/dockerfiles/theia-endpoint-runtime-binary/docker/alpine/builder-from.dockerfile#L1

Won't fix

[2022-01-04 19:57] #20980 closed

[2022-01-04 19:59] nickboldt commented on #20980
yes but the latest node being used to build theia is 12.22.5... see https://github.com/eclipse-che/che-theia/pull/1283

[2022-01-05 00:31] #18635 closed

[2022-01-05 00:31] #20046 closed

[2022-01-05 00:31] #20066 closed

[2022-01-05 04:23] Divine1 commented on #20979
i tried again this morning to open a workspace using the samples provided in eclipse che. still receiving below error

![image](https://user-images.githubusercontent.com/10482177/148160295-b882d8e9-9604-48b6-9407-8d4f461d91b4.png)

[2022-01-05 07:46] tolusha commented on #20979
I can't reproduce. Workspace is successfully started.

![screenshot-che-eclipse-che 192 168 59 100 nip io-2022 01 05-09_46_11](https://user-images.githubusercontent.com/1640675/148179739-8d0f24b5-3697-4a06-a208-9fdc75032321.png)

[2022-01-05 07:49] tolusha commented on #20962
@Divine1
Does accessing to the repository require any certificates?
Any specific git configuration inside ubuntu docker container for clonning?

[2022-01-05 10:08] l0rd opened #20981 "Observations deploying current nightly version of Che"
### Summary

I have installed Che next on OCP (cluster-bot) using `chectl server:deploy --platform=openshift`. Here are some observations.

### [Fixed] Eclipse Che operator description is outdated
Eclipse Che operator description says:

Description needs to be reviewed.
<img width="887" alt="image" src="https://user-images.githubusercontent.com/606959/148196028-81801db8-e2ac-46df-8978-2c25e0695db2

[2022-01-05 11:07] tolusha opened #20982 "Remove obsolete code after switching to Dev Workspace engine"
### Is your task related to a problem? Please describe

Che Operator contains a lot of codebase that is not used anymore since Dev Workspace is the only workspace engine.

The goals of this task:
- remove codebase
- update readme/docs

### Describe the solution you'd like

N/A

### Describe alternatives you've considered

_No response_

### Additional context

This task is a prerequisite for https

[2022-01-05 12:22] tolusha commented on #20981
**[FIXED] There are still 2 operator channels**

Fixed by rebuilding a catalog source without bundles related to `next-all-namespaces` channel.

**[CAN'T REPRODUCE] Other issues I have noticed deploying Che from OperatorHub UI**

1.  Create a custom catalog source

[code]

2. Install Eclipse Che operator in `openshift-operators` namespace (from `next` channel)

![screenshot-console-openshift-conso

[2022-01-05 14:04] bodarajeshkumar commented on #20771
@RomanNikitenko I see the blocking issue #20538 is now closed. Is che-theia pointing to the latest version of theia now?
Can I expect this issue to be fixed with the latest eclipse-che?

[2022-01-05 14:42] zeibura opened #20983 "Documentation: Update the Eclipse Che4z page to remove "CA" from product names"
Broadcom mainframe products no longer have "CA" in their names. The page https://www.eclipse.org/che/docs/che-7/extensions/eclipse-che4z/ should be updated accordingly to have the mentions of "CA" removed. Products should only be referred to as:

Endevor (not CA Endevor SCM)
InterTest for CICS/Batch
Brightside

[2022-01-05 14:47] tolusha opened #20984 "Failed to open Eclipse Che Dashboard on minikube v1.25.1 with DevWorkspace enabled"
### Describe the bug

Failed to open

### Che version

next (development version)

### Steps to reproduce

`chectl update next`
`chectl server:deploy --platform minikube`
`chectl dashboard:open`

Dashboard is not opened. Che server logs contains stacktrace.

### Expected behavior

Dashboard is opened

### Runtime

minikube

### Screenshots

_No response_

### Installation method

chectl/next

###

[2022-01-05 15:32] kollachaitanyakrishna commented on #20978
Extension-Host:Promise rejection not handled in one second: TypeError: Converting circular structure to JSON
    --> starting at object with constructor 'f'
    |     property '_onDidOpenRepository' -> object with constructor 'Emitter'
    |     property '_callbacks' -> object with constructor 'CallbackList'
    |     ...
    |     index 2 -> object with constructor 't.GitDecorations'
    --- prop

[2022-01-05 15:33] amisevsk commented on #20908
The DevWorkspace Operator uses the `fast` channel in all cases. The [index images](https://quay.io/repository/devfile/devworkspace-operator-index?tag=latest&tab=tags) are:

* `quay.io/devfile/devworkspace-operator-index:release` - contains release of DWO starting with v0.10.0, with an upgrade path to the latest bugfix version released in the upstream repo: https://github.com/devfile/devworkspace-o

[2022-01-05 17:03] nickboldt commented on #20858
@l0rd see https://issues.redhat.com/browse/CRW-2459 for future work to make it easier to consume CRW dockerfiles outside of brew process. That will give you some insights into what differences there are between public online dockerfiles and Brew internal offline dockerfiles.

the other thing we can now do in downstream vs. upstream is to use cachito to manage go, python, and node dependencies. See

[2022-01-05 17:09] nickboldt commented on #20610
I think this is done... closing.

[2022-01-05 17:09] #20610 closed

[2022-01-05 17:10] nickboldt commented on #20609
latest golang 1.17 sidecars exist in https://quay.io/repository/eclipse/che-golang-1.17?tab=tags

not sure if we have anything that checks if they exist during the release yet.

[2022-01-05 17:49] nickboldt commented on #19912
PRs:

* plugin & devfile registries: https://github.com/eclipse-che/che-devfile-registry/pull/571 & https://github.com/eclipse-che/che-plugin-registry/pull/1162
* che-docs: https://github.com/eclipse/che-docs/pull/2205
* eclipse/che: and che-server: already done
* machine-exec: https://github.com/eclipse-che/che-machine-exec/pull/199
* che-parent: https://github.com/eclipse/che-parent/pull/188
* c

[2022-01-06 02:53] nickboldt commented on #19953
Any progress here? Kinda need this in CRW 2.15, so 7.42.2 at the latest, if possible.

[2022-01-06 07:21] tolusha commented on #20984
7.41.1 works fine

[2022-01-06 07:59] svor opened #20985 "[plugin-registry] openshift-ci GH action should be fixed"
### Is your task related to a problem? Please describe

After switching che-operator to the Dev Workspace engine by default [1] [2], openshift-ci PR check fails in che plugin registry: https://github.com/eclipse-che/che-plugin-registry/pull/1161#issuecomment-1005726354

[1] https://github.com/eclipse-che/che-operator/pull/1265
[2] https://github.com/che-incubator/chectl/pull/1910

### Describe the

[2022-01-06 08:11] svor opened #20986 "Happy Path GitHub action should be adapted in Che Plugin Registry repo"
### Is your task related to a problem? Please describe

che-operator was switched to the Dev Workspace engine by default (see eclipse-che/che-operator#1265) which doesn't use Keycloak any more. Right know Happy Path GitHub action fails with the error:
[code]
https://github.com/eclipse-che/che-plugin-registry/runs/4714855001?check_suite_focus=true

### Describe the solution you'd like

Happy Path G

[2022-01-06 08:13] benoitf commented on #20978
it was fixed in 7.41
it's a dup of https://github.com/eclipse/che/issues/20316

[2022-01-06 08:13] #20978 closed

[2022-01-06 09:05] benoitf commented on #20986
it may depend also on https://github.com/eclipse/che/issues/20663

[2022-01-06 11:49] Divine1 opened #20987 "Failed to run the workspace: "Waiting for Kubernetes environment 'default' of the workspace'workspacexf5wy5qqtir26mf4' reached timeout""
### Summary

i installed eclipseche (latest version) in minikube using chectl in mac os
[code]

i have not enabled kubernetes in my laptop
![image](https://user-images.githubusercontent.com/10482177/148378633-ace568d1-9288-46fb-a8ef-4a2277b68ce9.png)

please let me know how to get rid of this error occuring in `minikube` setup

below is the installation logs from eclipse che
![image](https://user-

[2022-01-06 12:34] Kasturi1820 commented on #20178
@tolusha Is step 1 done ?

[2022-01-06 12:38] tolusha commented on #20178
@Kasturi1820
Yes, completed.
Besides the fact, that it is still possible to use `--installer operator` to deploy on OpenShift (moslty for testing purpose)

[2022-01-06 12:40] tolusha commented on #20987
I don't see other errors. I think it took too much time pull download images. Could you start the same workspace one more time?

[2022-01-06 13:17] l0rd commented on #20178
Closing this issue as the first step is done (reducing the installation options). The second step (remove Che from OperatorHub) is tracked [in a distinct issue](https://github.com/eclipse/che/issues/19659) and is blocked by [this downstream issue](https://issues.redhat.com/browse/CRW-1759).

[2022-01-06 13:17] #20178 closed

[2022-01-06 14:04] sunix commented on #20977
@tolusha I recently used 7.41.1 to upgrade to 7.41.1.

[2022-01-07 09:29] l0rd commented on #20782
@JPinkney can we close this issue?

[2022-01-07 09:43] kollachaitanyakrishna commented on #20316
@artaleks9: can you confirm on how do you tested this bug.

In my case I tried to pull the latest tag "7.41.2" for the che dashboard [(link).](https://github.com/eclipse-che/che-dashboard/tree/7.41.2) But still facing the same issue.
![Screenshot 2022-01-07 at 3 13 08 PM](https://user-images.githubusercontent.com/64516009/148524893-951ebee7-f910-4b3a-80c4-cd78836a746f.png)

[2022-01-07 11:29] artaleks9 commented on #20316
@kollachaitanyakrishna
I guess you should have che-server version 7.41 or newer (not che-dashboard)..On your screenshot there is pointed 'Server Version 7.40.2.
If you return back to your closed issue #20978, there is the comment :
[code]
So try use correect tag of che-server --> https://github.com/eclipse/che

[2022-01-07 13:08] #20782 closed

[2022-01-07 13:09] #19912 closed

[2022-01-07 16:03] dkwon17 opened #20990 "Support plug-in id references for spec.server.workspacesDefaultPlugins"
### Is your enhancement related to a problem? Please describe

Currently, the Che CR's `spec.server.workspacesDefaultPlugins[*].plugins` field only supports uri plug-in references.

Example:
[code]

### Describe the solution you'd like

It would be great if plug-id references can also be supported, as mentioned in https://github.com/eclipse/che/issues/20090#issuecomment-976519944 and https://githu

[2022-01-08 00:29] #20061 closed

[2022-01-10 06:28] bodarajeshkumar commented on #20772
@RomanNikitenko I am still seeing this issue in the latest Eclipse-Che(version 7.41.2). Not sure if eclipse-che is using the latest version of theia or not. Can you please let me know if I am missing anything?

[2022-01-10 07:24] skabashnyuk opened #20991 "Che-server fails to start on OpenShift with FIPS mode enabled"
### Is your task related to a problem? Please describe

Che-server fails to start on OpenShift with FIPS mode enabled.

### Describe the solution you'd like

Che-server should be able to successfully start and establish a connection to the underlying k8s/openshift cluster

### Describe alternatives you've considered

_No response_

### Additional context

[code]
Could be related https://github.com

[2022-01-10 07:38] skabashnyuk commented on #20884
@l0rd do you still want to put configuration under `/spec/server/` as described here https://github.com/eclipse/che/issues/20884#issuecomment-995535098 or maybe  `/spec/workspace/` as @tolusha  https://github.com/eclipse/che/issues/20884#issuecomment-995546290 suggested is better?

[2022-01-10 07:44] tolusha opened #20992 "Include a `chectl` pre-flight check that verifies if an OIDC provider is setup on the cluster"

[2022-01-10 07:49] tolusha commented on #20394
I mark this issue as resolved, since 7.42 there is no more Keycloak

[2022-01-10 07:49] #20394 closed

[2022-01-10 08:25] tolusha opened #20993 "Che Deploy Sprint #213"
#### Timeframe
Jan 12 - Feb 1

#### Team
| GitHub account  |
| ------------- |
| @tolusha |

#### Holidays / events
| Days  | |
| ------------- | ------------- |

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse Che 7.40.x
CRW 2.15 is based on Eclipse Che 7.42.x
CRW 2.16 is based o

[2022-01-10 08:26] tolusha commented on #20712
@philipreimer
Unfortunately, there is no API to do this.

[2022-01-10 08:29] tolusha commented on #20291
I mark this issue as WON'T FIX for several reason:
- Dev Workspace is enabled by default sinse 7.42 [1]
- Switching must be done via migration guide [2]

[1] https://github.com/eclipse/che/issues/20866
[2] https://github.com/eclipse/che/issues/20614

[2022-01-10 08:29] #20291 closed

[2022-01-10 09:18] benoitf opened #20994 "Invalid github oAuth configuration client URL"
### Describe the bug

When using private github repository in dashboard, at some point, we're redirected to something like
`https://github.com/login/oauth/authorize?client_id=b964ab48346fc074cff8%0A&response_type=code.....`
which leads to a 404 error
client_id contains %0A which is like a carriage return character
client_id should be `https://github.com/login/oauth/authorize?client_id=b964ab48346f

[2022-01-10 09:19] vinokurig opened #20995 "Add GitHub authentication manual flow"
### Is your task related to a problem? Please describe

Since [GitHub oauth flow is not implemented for the DevWorkspace engine](https://github.com/eclipse/che/issues/20860), we need to have an ability to manually add a GitHub token.

### Describe the solution you'd like

* Show an input box which asks for a GitHub token.
* Store the token in the `workspace-credentials-secret` secret.
* Get the to

[2022-01-10 09:27] skabashnyuk commented on #20994
When I last time has this issue, it was caused by an incorrectly base64 encoded value in configuration secret.
Can you check the value of `client_id` in configuration secret?

[2022-01-10 09:36] benoitf commented on #20994
the secret is using base64 so value is `Yjk2NGFiNDgzNDZmYzA3NGNmZjgK` and no space at the end
![image](https://user-images.githubusercontent.com/436777/148744428-33379729-564d-4824-a5eb-2210de00b6f3.png)

[2022-01-10 09:39] benoitf commented on #20994
I suspect this line: https://github.com/eclipse-che/che-server/blob/fb8735b8c4196c6be8a8977ad006ab073212191c/wsmaster/che-core-api-auth-github/src/main/java/org/eclipse/che/security/oauth/GitHubOAuthAuthenticatorProvider.java#L73

[code]

[2022-01-10 09:49] svor commented on #20860
depends on [Add GitHub authentication manual flow](https://github.com/eclipse/che/issues/20860)

[2022-01-10 09:50] svor commented on #20995
@benoitf @l0rd FYI

[2022-01-10 09:53] benoitf commented on #20995
I was wondering if when using oAuth, dashboard could not write the github token in the user namespace

so editor will just read it (no need to prompt the user)

[2022-01-10 10:04] skabashnyuk commented on #20991
After small modification of HttpClientUtils I was able to get the real Exception
[code]

[2022-01-10 10:11] l0rd commented on #20884
I am ok with both. The important thing though is to be consistent: currently workspaces related fields are under `spec.server`. If we create a new `spec.workspaces` those fields should be moved to there too.

[2022-01-10 10:14] vinokurig commented on #20995
Dashboard uses che-server oauth API which is going to be deprecated right?

[2022-01-10 10:15] benoitf commented on #20995
if I try to use a private repository, I've a personal token secret in my user namespace

[code]

[2022-01-10 10:20] benoitf commented on #20995
The idea is to decouple things that are today being tied.

Import a repository from github: always use oAuth flow: https://github.com/eclipse/che/issues/20583
Need a token: --> read the secret

so editor don't need to get any oAuth configuration.

[2022-01-10 11:17] #20975 closed

[2022-01-10 12:56] dmytro-ndp commented on #20830
@l0rd: will DevWorkspace Step 3 support analytics plugins for java, NodeJs and Python?

[2022-01-10 13:14] ibuziuk opened #20996 "Che Controller Sprint 213"
This issue collects work items of the Controller Team for Sprint 211 (January 12 - February 1).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (January 12)

The previous sprint https://github.com/eclipse/che/issues/20935

## Sprint goals
- Release DWO 0.11.0 and 0.12.0 for CRW 2.15
- Move Web Terminal Operator, DWO and CRW to the 'crw' namespace on De

[2022-01-10 14:03] Divine1 opened #20997 "scm authentication required error when devfile present inside organization repository (gitlab.org.com) is given as input"
### Summary

currently i have installed eclipse-che on minikube and this setup works fine while using the `devfile` hosted in public/private github.com respository.

i'm facing a error while trying to access a `devfile` hosted inside my company's gitlab repository  `gitlab.org.com` .
below is the error message

![image](https://user-images.githubusercontent.com/10482177/148778022-ed06bd35-5923-463

[2022-01-10 14:23] l0rd commented on #20830
@dmytro-ndp that should works as it doesn't use che-server API. @svor can you confirm?

[2022-01-10 14:25] benoitf opened #20998 "Default url when installing Eclipse Che"
### Is your enhancement related to a problem? Please describe

Today, when installing che, it ends up with an URL like `https://che-eclipse-che.apps.my-cluster.com/`

### Describe the solution you'd like

While now there is only one installation of che per cluster, and as there is single-host, it would be better to have a shorter url

something like `https://eclipse-che.apps.my-cluster.com` (no do

[2022-01-10 14:28] l0rd commented on #20671
@dmytro-ndp I have update the instructions to start a workspace

[2022-01-10 14:30] svor commented on #20830
It should work

[2022-01-10 14:39] olexii4 commented on #20819
It was fixed in https://github.com/eclipse-che/che-dashboard/pull/418

[2022-01-10 14:39] #20819 closed

[2022-01-10 14:50] skabashnyuk commented on #20997
@Divine1 thank you for sharing this report. To get a better answer for you it is important to know the che version and the way how did you install che. (with or without devworkspacce support). Context https://github.com/eclipse/che/issues/20831.

[2022-01-10 16:53] bodarajeshkumar commented on #20772
@RomanNikitenko I see Che-theia is still pointing to the old version of eclipse-che. Is there any plan to point it to the latest version soon?

[2022-01-10 16:53] dmytro-ndp commented on #20830
@l0rd, @svor: thanks for the answer!

@SkorikSergey: cc ^^

[2022-01-10 18:35] azatsarynnyy opened #20999 "Editors Sprint 213"
January 12 - February 1

---
#### CRW 2.15
- [x] Help Prod. team with "No ripgrep prebuilt 13.0.0-2 available for ppc64" [CRW#2600](https://issues.redhat.com/browse/CRW-2600)
- [x] Provide devfile for IntelliJ IDEA editor in CRW [CRW#2276](https://issues.redhat.com/browse/CRW-2276)

#### Bugs
- #20861

#### Production-ready support of JetBrains IDEs as a Che editor https://github.com/eclipse/che/i

[2022-01-11 00:31] #19186 closed

[2022-01-11 00:31] #19597 closed

[2022-01-11 09:05] svor opened #21000 "Plugins Sprint 213"
## Sprint 213 (12 January - 1 February)

### Blockers

### Epics

### CRW
* [x] Migrate devfiles v1 to v2 (part 2) [CRW-2539](https://issues.redhat.com/browse/CRW-2539) @svor
* [ ] Pre-build DevWorkspace templates for devfile v2 of devfile registry [CRW-2500](https://issues.redhat.com/browse/CRW-2500) @vinokurig

### Bugs
* [ ] Resources Monitor Plugin doesn't work when devWorkspace engine is enab

[2022-01-11 09:36] #20897 closed

[2022-01-11 10:01] mmorhun opened #21001 "chectl `--version` flag doesn't work any more"
### Describe the bug

Even if the version flag given, chectl tries to deploy Che in the new manner (for devworkspaces)

### Che version

next (development version)

### Steps to reproduce

Run deploy command with version flag, for example:
[code]

### Expected behavior

`--version` flags works
or
we release Che 8 and do not support Che 7.x versions any more

### Runtime

minikube, CodeReady Contai

[2022-01-11 10:32] #20992 closed

[2022-01-11 10:35] #20934 closed

[2022-01-11 10:37] tolusha commented on #20981
**[FIXED] Eclipse Che operator description is outdated**

https://github.com/eclipse-che/che-operator/pull/1283

[2022-01-11 13:04] ibuziuk commented on #20606
thanks, I guess the limits will land on the product only in 2.15
so, we can wait once production is running against the version of the product with the correct limits and monitor. +1 for not closing the issue until than

[2022-01-11 13:07] vzhukovs opened #21002 "Update developer guides according to changes related to dev workspace"
### Is your task related to a problem? Please describe

According to latest changes came with the following issue https://github.com/eclipse/che/issues/20863 with PR: https://github.com/che-incubator/jetbrains-editor-images/pull/70 developer guide (https://github.com/che-incubator/jetbrains-editor-images/blob/main/doc/Developer-Guide.md) needs to be updated to reflect actual information related to

[2022-01-11 13:11] vzhukovs opened #21003 "Auto opening cloned project in JetBrains' related editors"
### Is your task related to a problem? Please describe

With implementing sidecar-less model https://github.com/che-incubator/jetbrains-editor-images/pull/70 projects are now cloned before workspace opened and this allows us to reconfigure editor startup scripts to instruct editor to open cloned project.

### Describe the solution you'd like

Update `ide-projector-launcher.sh` by adding code that

[2022-01-11 15:29] Kasturi1820 commented on #20909
@tolusha : Can this be closed?

[2022-01-11 15:37] l0rd commented on #20866
@tolusha do you plan to complete that in 7.42 rigth? I am asking to know if we can include that in the 7.42 release notes

[2022-01-11 15:39] Kasturi1820 commented on #20866
Release Note text
The stable channel of Che operator has the DevWorkspace enabled by default and use the operator "all-namespace" installation mode. The other channels are being deleted.

[2022-01-11 15:46] tolusha commented on #20866
For last two items I have corresponding PRs. So, yes I plan it for 7.42
- https://github.com/eclipse/che-docs/pull/2159
- https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/601

[2022-01-11 16:24] Les-Linux opened #21004 "Workspace Error -"
Hello,

I deployed a clean Openshift 4.9.11 instance (single node) with AD LDAP integration. Following that, I deployed the Che Operator and Cluster Instance v.7.41.2. Once I login to che with oAuth and create a workspace, I am presented with the following error(s)

failed to download plugin from https://download.jboss.org/jbosstools/static/jdt.ls/stable/java-0.63.0-2222.vsix: Get https://download

[2022-01-11 17:26] nickboldt commented on #20976
Yes. https://github.com/redhat-developer/codeready-workspaces/pull/666

Note that I don't generally see GH comments, so slack pings and JIRAs are better.

[2022-01-11 17:30] Divine1 commented on #20997
@skabashnyuk

i have figuredout the issue.

the `che.eclipse.org/che-userid` value i updated in secret file and the user i used to login into eclipseche website were different. Once i logged-in with the matching userid, the issue got resolved.

please let me know if more explanation is needed related to the solution.

thank you for the support.

[2022-01-11 17:35] Divine1 commented on #20987
@tolusha  looks like this is due to a network issue. closing the ticket

[2022-01-11 17:35] #20987 closed

[2022-01-11 17:36] Divine1 commented on #20979
@tolusha  i will comeback to you on this issue

[2022-01-11 17:39] #20962 closed

[2022-01-11 18:19] amisevsk commented on #20133
/remove-lifecycle stale

[2022-01-11 21:38] azatsarynnyy commented on #21004
@ibuziuk if I remember correctly, plugin-broker is your team's area

[2022-01-11 21:57] Les-Linux commented on #21004
I am not using a Proxy either, in case you need to know.

[2022-01-11 22:20] #19953 closed

[2022-01-11 22:20] nickboldt commented on #19953
Followup in https://github.com/eclipse/che/issues/20976

[2022-01-11 22:20] nickboldt commented on #19633
Followup in https://github.com/eclipse/che/issues/20976

[2022-01-11 22:21] #20976 closed

[2022-01-11 23:01] devstudio-release commented on #19633
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2634

[2022-01-12 07:18] #20935 closed

[2022-01-12 09:13] azatsarynnyy commented on #20863
Done by https://github.com/che-incubator/jetbrains-editor-images/pull/70

[2022-01-12 09:13] #20863 closed

[2022-01-12 09:26] svor commented on #20857
.kube/config file was injected into containers, tested on OpenShift:

![screenshot-che-eclipse-che apps ci-ln-mz81l9b-72292 origin-ci-int-gce dev rhcloud com-2022 01 12-11_24_38](https://user-images.githubusercontent.com/1271546/149102840-351e557d-cdf4-4fae-9248-5799f40d5134.png)

[2022-01-12 09:43] ibuziuk opened #21005 "Provide FAQ / Known issues / Troubleshooting for devfile v1 -> devfile v2 convertion"
### Is your task related to a problem? Please describe

With the switch to the DevWorkspace engine, devfile v2 becomes a default format for workspace definition. Need to provide clear documentation for conversion of devfile v1 devfile v2 and publish it on the https://www.eclipse.org/che/docs
Probably it also makes sense to publish a blog post at https://che.eclipseprojects.io/

### Describe the so

[2022-01-12 10:04] tolusha opened #21006 "Drop backup and restore functionality"
### Is your task related to a problem? Please describe

Backup/Restore currently is flaky and it is not work with DevWorkspace engine.
It is better to remove it for a while not to frustrate customers.

### Describe the solution you'd like

Remove API and CRDs

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-01-12 10:16] tolusha commented on #20866
There is the only one channel right now:

![screenshot-console-openshift-console apps ci-ln-5dknrct-72292 origin-ci-int-gce dev rhcloud com-2022 01 12-12_15_05](https://user-images.githubusercontent.com/1640675/149121219-35e3038d-77c3-4667-a5e2-59770f2a8cb7.png)

I mark this issue as resolved. Doc will be tracked separately.

[2022-01-12 10:16] #20866 closed

[2022-01-12 10:16] ibuziuk commented on #21006
@tolusha could you please confirm that backup and restore will still work correctly in CRW 2.14 / 2.15 (che-server engine). This functionality is crucial for https://issues.redhat.com/browse/CRT-1415
Basically, the plan is to backup operands from the addon namespace and restore in the newly created `crw` namespace (there is a tech requirment for having CRW, WTO, DWO running in the same namespace)

[2022-01-12 10:24] tolusha commented on #21001
We don't have statisticks regarding flag `--version` on Woopra

[2022-01-12 10:25] dmytro-ndp commented on #21006
@ibuziuk: neither backup-restore nor rolling update work in 2.14.0 with che-server engine: https://issues.redhat.com/browse/CRW-2621, https://issues.redhat.com/browse/CRW-1497

[2022-01-12 11:57] Les-Linux commented on #21004
If you require further details (setup, network etc) do not hesitate to reach out to me.

[2022-01-12 13:36] vzhukovs opened #21007 "Update JetBrains editors to latest released version"
### Is your task related to a problem? Please describe

There is a need to update editors provided by https://github.com/che-incubator/jetbrains-editor-images to the latest released.

### Describe the solution you'd like

Install necessary libraries required by IntelliJ IDEA. Such as `e2fsprogs-static`.

### Describe alternatives you've considered

N/A

### Additional context

Since IntelliJ IDEA

[2022-01-12 14:07] #20964 closed

[2022-01-12 14:07] skabashnyuk opened #21008 "Che Platform Sprint #213"
### Is your task related to a problem? Please describe

#### Timeframe
Jan 12 - Feb 1

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse C

[2022-01-12 14:47] ibuziuk commented on #21005
cc: @themr0c is che-docs team initial creator and  supporter of https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html ?

[2022-01-12 14:55] benoitf commented on #21005
@l0rd seems to be the creator https://github.com/devfile/docs/commits/8a4ae3ceda1695fa8caced9c65ad10971bffab2f/docs/modules/ROOT/pages/migration_guide.adoc

[2022-01-12 14:56] svor commented on #20955
Superseded by #21000

[2022-01-12 14:56] #20955 closed

[2022-01-12 15:44] #21002 closed

[2022-01-12 15:56] kollachaitanyakrishna opened #21010 "Unable to build the plugin-registry"
### Describe the bug

A) took the latest tag: 7.41.2 of https://github.com/eclipse-che/che-plugin-registry/
B) Followed the local build instructions, failing to download as mentioned below
![image](https://user-images.githubusercontent.com/64516009/149173794-0dd89d8c-2783-4bc0-9d43-85ee37302025.png)

The build stuck at
![Screenshot 2022-01-12 at 9 22 11 PM](https://user-images.githubusercontent.co

[2022-01-12 16:09] #20678 closed

[2022-01-12 16:10] #20966 closed

[2022-01-12 16:51] kollachaitanyakrishna commented on #21010
@benoitf : just now I am able to download the particular java vsix file. But the initial problem was the download speed is very low.

[2022-01-12 16:51] #21010 closed

[2022-01-12 19:12] vzhukovs opened #21011 "Store Projector configuration after moving to sidecar-less model"
### Is your task related to a problem? Please describe

Projector configuration is stored in HOME directory and after moving to sidecar-less model there is a need to persist this configuration apart of HOME directory, which is not persisted during workspace restart.

### Describe the solution you'd like

Update mechanism of restoring Projector configuration by checking directory which provided by

[2022-01-12 19:22] vzhukovs commented on #20594
done with https://github.com/eclipse/che/issues/20863

[2022-01-12 19:22] #20594 closed

[2022-01-12 19:46] azatsarynnyy commented on #20591
Added a couple of more sub-tasks that appeared after reworking the image to sidecar-less model:
- #21011
- #21003

[2022-01-13 07:32] #21011 closed

[2022-01-13 08:56] themr0c commented on #21005
@ibuziuk In the devfile documentation project, I only helped to set up things and migrate initial content from che-docs. The project is in the hands of other people from the DevTools Docs team: @rkratky as Content Strategist, and @jc-berger as main writer.

[2022-01-13 09:33] #20899 closed

[2022-01-13 09:34] tolusha commented on #20981
**[FIXED] The version of the DevWorkspace operator installed**

https://github.com/che-incubator/chectl/pull/1913

[2022-01-13 09:35] tolusha commented on #20981
**Backup/Restore API**

Will be tracked separately https://github.com/eclipse/che/issues/21006

[2022-01-13 10:10] rkratky commented on #21005
@ibuziuk, I'd suggest falling back on the devfile docs whenever possible. If the existing migration docs need modifying, please open an issue in that repo - we'll pick it up.

[2022-01-13 10:15] themr0c commented on #21005
The existence of the devfile-converter library [1] is probably worth mentioning in devfile docs [2].
[1] https://www.npmjs.com/package/@eclipse-che/devfile-converter
[2] https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html

[2022-01-13 10:21] ibuziuk commented on #21005
@themr0c I doubt that customers will be using an internal lib for conversion.

I agree that we need to fall back on https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html though.
Basically, someone needs to meticulously review the docs and contribute if there are some missing bits.
@benoitf maybe you can give a hand with this since you know all the details and edge cases tha

[2022-01-13 10:24] themr0c commented on #21005
What would make sense in che-docs is a procedure "Using the Dashboard to convert a devfile" explaining only the Che specific stuff, with the *Additional resources* section pointing to https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html. Maybe also "Using the Che-Theia IDE to convert a devfile"?

[2022-01-13 10:25] themr0c commented on #21005
Fully agree!

[2022-01-13 11:00] max-cx commented on #20381
@skabashnyuk, is the resolution of this issue upstream only or for both Che and CRW?

[2022-01-13 12:07] olexii4 opened #21013 "After deleting a workspace the DevWorkspaceTemplate still exists"
### Describe the bug

I created the workspace from a sample. After I deleted it, I couldn't create a new workspace from that sample anymore.

### Che version

next (development version)

### Steps to reproduce

1. Click on a sample to create a workspace
2. Delete the workspace
3. Try to create a workspace from the previous sample

### Expected behavior

The new workspace's being created via factor

[2022-01-13 12:27] benoitf opened #21014 "Error 401 when cloning a public repository with github oAuth enabled"
### Describe the bug

If I configure github oAuth and then I try to open a link from a PUBLIC repository (example https://github.com/che-samples/java-spring-petclinic/tree/devfilev2) , I got 401 error on `resolver/.che/che-theia-plugins.yaml` file call

### Che version

next (development version)

### Steps to reproduce

1. install che
2. setup github oAuth by configuring a secret / https://www.ec

[2022-01-13 12:47] benoitf opened #21015 "unable to clone a repository when github oAuth is enabled"
### Describe the bug

Trying to import a private github project, project is not cloned

Here is the log in `project-clone` container:

[code]

### Che version

next (development version)

### Steps to reproduce

1. install che with che/next and DWO/next. / `chectl server:deploy --platform=openshift`
2. setup github oAuth by configuring a secret / https://www.eclipse.org/che/docs/che-7/administrati

[2022-01-13 13:16] nickboldt commented on #21013
Should this be reported in https://github.com/devfile/devworkspace-operator/issues ?

[2022-01-13 13:35] ibuziuk commented on #21013
I think it should be addressed as part of https://github.com/devfile/devworkspace-operator/issues/692

[2022-01-13 13:46] vinokurig opened #21016 "Cannot start a workspace in Che with che-server engine"
### Describe the bug

Workspace fails to start when Che is switched to `che-server` engine.

### Che version

next (development version)

### Steps to reproduce

1. Start Che and switch the engine to `che-workspace`: `oc patch checluster/eclipse-che -n eclipse-che --type=json -p '[{"op": "replace", "path": "/spec/devWorkspace/enable", "value": false}]'`.
2. Start a workspace.
3. See: an error appe

[2022-01-13 13:54] vinokurig opened #21017 "Dashboard shows an error in che-server mode on minikube"
### Describe the bug

Dshboard shows an error in che-server mode on minikube

### Che version

next (development version)

### Steps to reproduce

1. Start Che and switch the engine to `che-workspace`: `kubectl patch checluster/eclipse-che -n eclipse-che --type=json -p '[{"op": "replace", "path": "/spec/devWorkspace/enable", "value": false}]'`.
2. Wait for a minute for the che-server container to

[2022-01-13 14:07] Les-Linux commented on #21004
Would anybody be available to troubleshoot this matter?

[2022-01-13 14:22] max-cx commented on #20769
@l0rd, (for when you're back at work) would you consider this as an enhancement or a bug (for RN purposes)? Hope you're feeling better soon.

[2022-01-13 14:57] tolusha commented on #21004
You can see that plubin broker is configured with Self signed certificate (/tmp/che/secret/ca.crt) and CA bundle certificate path (/public-certs). These public certs are mounted from `workspace<...>.ca-certs` config map which *must* contain `DigiCert Global Root CA` which is used to access https://download.jboss.org. Could you check it?

[2022-01-13 14:58] tolusha commented on #21004
You can find `workspace<...>.ca-certs` in a user's namespace when workspace is starting.

[2022-01-13 15:05] amisevsk commented on #21013
This looks like two issues, neither of which DWO is in control of:
1. DevWorkspaceTemplates are being created for DevWorkspaces with static names (e.g. `theia-ide-bash`). I think these are being created by the dashboard itself, as DWO does not create DWTs in a normal flow.
2. DevWorkspaceTemplates are being created without owner references

The first item above goes beyond this issue, as likely we

[2022-01-13 15:12] Les-Linux commented on #21004
Hi Anatolii, thanks very much for the info. I will check it out immediately and let you know the outcome.

[2022-01-13 15:18] amisevsk commented on #21015
Is this really a DevWorkspace Operator issue? We've discussed configuring git settings in the DWO repo numerous times (e.g. https://github.com/devfile/devworkspace-operator/issues/613, https://github.com/devfile/devworkspace-operator/issues/506), but this issue is that the Che documentation doesn't lead to the correct result.

Either the Che docs should be updated to use a DWO-supported flow, or t

[2022-01-13 15:38] Les-Linux commented on #21004
Anatolli, this is the output when I look at my workspaceqsp9g5zpy4dikhew.ca-certs configmap

Name:         workspaceqsp9g5zpy4dikhew.ca-certs
Namespace:    lfleming-che
Labels:       che.original_name=ca-certs
                   che.workspace_id=workspaceqsp9g5zpy4dikhew
                   config.openshift.io/inject-trusted-cabundle=true
Annotations:  che.eclipse.org/included-configmaps:

#-- LIst

[2022-01-13 15:42] Les-Linux commented on #21004
Digicert Global Root CA seems fine when I decode
Certificate Information:
Common Name: DigiCert Global Root CA
Organization: DigiCert Inc
Organization Unit: www.digicert.com
Country: US
Valid From: November 9, 2006
Valid To: November 9, 2031
Issuer: DigiCert Global Root CA, DigiCert Inc
Serial Number: 083be056904246b1a1756ac95991c74a

[2022-01-13 15:46] tolusha commented on #21004
ok. Certificates exists and it correct.
Could you check if they are mounted in /public-certs folder of plugin folder then?

[2022-01-13 15:48] Les-Linux commented on #21004
do I check this on the plugin-registry-85667f8df4-qjws9 pod?

[2022-01-13 16:02] benoitf commented on #21015
Well, I've added the component that is failing to perform the clone which is project-clone.

Che is looking at this secret and creates a personal-access-token in the user namespace

[code]

if there are missing annotations, etc, feel free to assign the right area but here I've a secret token that is not used when cloning.

[2022-01-13 16:07] ibuziuk commented on #21015
@skabashnyuk as I recall Che is using the right DWO format already? not sure if this is documented though

@benoitf https://www.eclipse.org/che/docs/next/administration-guide/configuring-authorization/#enabling-authentication-with-social-accounts-and-brokering_che is 404 :man_shrugging:

[2022-01-13 16:10] benoitf commented on #21015
https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-authorization/#enabling-authentication-with-social-accounts-and-brokering_che

[2022-01-13 16:12] Les-Linux commented on #21004
output of the che pod

Pod:  che-75d78cbf8b-4564g
Directory: /public-certs
lrwxrwxrwx. 1 root 1000670000 31 Jan 11 15:52 ..data -> ..2022_01_11_15_52_49.475254648
drwxr-sr-x. 2 root 1000670000  6 Jan 11 15:52 ..2022_01_11_15_52_49.475254648
drwxrwsrwx. 3 root 1000670000 59 Jan 11 15:52 .
dr-xr-xr-x. 1 root root       83 Jan 11 15:53 ..

Mounts:
overlay on / type overlay (rw,relatime,context="syste

[2022-01-13 16:39] amisevsk commented on #21015
As linked in https://github.com/devfile/devworkspace-operator/issues/506, the secret should look like
[code]

There may be controller-side issues with handling personal access tokens, but we're not hitting a DWO-enabled flow at all yet.

[2022-01-13 16:42] benoitf commented on #21015
the mount-path looks strange anyway in your example as the container that is cloning is project-clone container and also most of the stuff is done inside the universal developer image now (which has not a /home/theia)

[2022-01-13 16:54] amisevsk commented on #21015
Sure, that description is half a year old, the point is that the mechanism isn't engaging with DWO at all.

[2022-01-13 18:53] olexii4 opened #21018 "Workspaces conversion fails [devfile-converter]"
### Describe the bug

We have workspace conversion(v1 to v2) errors when trying to convert workspaces made from the next 6 samples:
 - golang
 - java-mongo
 - java-mysql
 - nodejs-web-app
 - php-laravel
 - rust

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse-CHE
2. Turn of  devWorkspaces with patch ```kubectl patch checluster/eclipse-che -n eclipse-che --typ

[2022-01-13 19:16] olexii4 opened #21019 "Unexpected errors during creating a workspace from the ASP.NET sample"
### Describe the bug

Unexpected errors during creating a workspace from the ASP.NET sample if devworkspace enabled.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse-CHE
2. Open the 'Create Workspace' page
3. Click on 'ASP.NET Core Web Application' sample

### Expected behavior

A new workspace should be created

### Runtime

minikube

### Screenshots

![2022

[2022-01-13 21:40] max-cx commented on #20381
Based on my understand of the limited included information, I assume this is an upstream only issue, and I will not include it in the RN for CRW. (If anyone believes this should be included in the RN for CRW, then please let me know.)

[2022-01-14 07:36] tolusha commented on #20981
**[FIXED] The version of the DevWorkspace operator installed**

https://github.com/che-incubator/chectl/pull/1913

[2022-01-14 07:39] tolusha commented on #20981
**[Explained] Operands Pods**

What’s “eclipse-che-preview” and the pod named “664dfaf464a4b88c439632189072fd9fd1fc3e2752141ea530151d--1-4pt5g” (spec.container.image is quay.io/eclipse/eclipse-che-openshift-opm-bundles:7.42.0-401.next)?

It is custom catalog source to deploy Eclipse Che from the `next` channel

[2022-01-14 07:40] #20981 closed

[2022-01-14 08:07] benoitf commented on #21018
Fixed by `@eclipse-che/devfile-converter@0.0.1-14c62ee`

[2022-01-14 08:33] svor commented on #20857
I've created follow up issue for CRW: https://issues.redhat.com/browse/CRW-2640

[2022-01-14 08:45] #20857 closed

[2022-01-14 08:46] skabashnyuk commented on #21015
@benoitf did you get `git-credentials-secret-` in your namespace after successfully completing OAuth flow?

[2022-01-14 08:51] benoitf commented on #21015
@skabashnyuk yes I've `git-credentials-secret-70icn` and `personal-access-token-g81il` secrets

[code]

but mount-path is /home/theia so I think it doesn't work

[2022-01-14 08:53] skabashnyuk commented on #21015
The problem is only in `/home/theia` path? What path has to be set?

[2022-01-14 08:56] skabashnyuk commented on #21015
I was not aware of changes in `dev/universal developer image` or devworkspace controller.   @benoitf @amisevsk can you tell me the exact labels and annotations that have to be set?

[2022-01-14 09:42] tolusha opened #21021 "[chectl] Failed to deploy Eclipse Che latest version"
### Describe the bug

Failed to deploy Eclipse Che latest version

### Che version

other (please specify in additional context)

### Steps to reproduce

7.42.0

### Expected behavior

Eclipse Che is deployed

### Runtime

OpenShift

### Screenshots

_No response_

### Installation method

chectl/latest

### Environment

Amazon

### Eclipse Che Logs

[code]

/home/tolusha/.cache/chectl/error.log:

[2022-01-14 10:21] tolusha commented on #21004
Does  `/public-certs` is empty?

[2022-01-14 11:19] mshaposhnik commented on #21014
Reproduced. Stack trace:
[code]

[2022-01-14 11:49] Les-Linux commented on #21004
Hello @tolusha ,

Yes it would seem so. See image for greater detail
![Screenshot 2022-01-14 at 11 48 25](https://user-images.githubusercontent.com/1759713/149510980-670e3213-5110-488b-8a23-6cf9503c9d5d.png)
.

[2022-01-14 11:50] Les-Linux commented on #21004
I connected to the Che Pod, just want to ensure that was the correct Pod to query?

[2022-01-14 11:58] mshaposhnik commented on #21014
Ok so that seems no be not the Che-server issue.
Explanation:
 - Step 0  We have OAuth configured, but user is not logged in yet (we have no user  tokens stored)
 - Step 1  Dashboard asks for existing files (devfile.yaml, extensions.json etc) - they're accessible w/out authentication user to OAuth login; (see green oval on picture)
 - Step 2  Dashboard asks for unexisting file (/.che/che-theia-plu

[2022-01-14 12:04] benoitf commented on #21014
but it looks strange if we're able to say that devfile exists and extensions.json exists but not for `/.che/che-theia-plugins.yaml`

che-server can know if repository exists (public) or not (does not exist or private)
if repository exists, if a file does not exist it's for sure a 404

[2022-01-14 12:11] mshaposhnik commented on #21014
Not sure you can know this until logged in

[2022-01-14 12:14] benoitf commented on #21014
anyway with https://github.com/eclipse/che/issues/20583 even on a public repository we should use oAuth flow so it may be better to implement https://github.com/eclipse/che/issues/20583

[2022-01-14 12:17] benoitf commented on #21014
[code]

[2022-01-14 12:24] mshaposhnik commented on #21014
Than not help much. You need to know if it;s 404 or 401 when not exists.

[2022-01-14 12:26] benoitf commented on #21014
@mshaposhnik if repository exists, file does not exists = 404
if repository does not exist, then we always need to go to oAuth

in the issue example `https://github.com/che-samples/java-spring-petclinic`is a public repository so file not found is surely a 404

[2022-01-14 13:31] olexii4 opened #21022 "Dashboard 'create policy' doesn't work properly"
### Describe the bug

Create policy doesn't work properly because the devfile-source attribute doesn't set during workspace creation flow.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse-Che with devworkspaces.
2. Create a new workspace from the sample(the default policy is 'peruser').
2. Try to use the same sample one more time.
3. Dashboard will try to cre

[2022-01-14 13:47] Les-Linux commented on #21004
@tolusha if you need me to pull further logs or clarify anything for you, don't hesitate to ping me.

[2022-01-14 13:57] martinelli-francesco commented on #20761
I've just installed Eclipse Che 7.41.2 and still have the same issue even though I followed the instructions (https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-microsoft-azure/) that install nginx-ingress (v0.41.0):
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-**v0.41.0**/deploy/static/provider/cloud/deploy.yaml

I get redirected

[2022-01-14 14:03] #21021 closed

[2022-01-14 14:15] martinelli-francesco opened #21023 "Eclipse Che installation on aks with DevWorkspace"
### Describe the bug

Installation failed in aks with DevWorkspace.

### Che version

7.41@latest

### Steps to reproduce

* Follow the instructions in https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-microsoft-azure/

* Install the devWorkspace variant:
`chectl server:deploy --che-operator-cr-patch-yaml=patch.yaml --platform=k8s `--domain=<my_domain_name>`

patch.yaml m

[2022-01-14 14:41] benoitf opened #21024 "websocket closed after a while using che-code"
### Describe the bug

Open a devWorkspace with che-code and do nothing
After like 1-2 minute, a dialog box says that connection has been lost and we need to click on a button to reload the window

### Che version

next (development version)

### Steps to reproduce

1. open a workspace with che-code
2. do nothing in the browser (just wait)

### Expected behavior

websocket should not be closed, may

[2022-01-14 14:48] sunix commented on #20977
@tolusha
I had that recently:
[code]

[2022-01-14 15:02] sunix commented on #20977
[code]

[2022-01-14 15:04] benoitf opened #21025 "project-clone is unable to clone a public repository"
### Describe the bug

Try to open a workspace from https://github.com/benoitf/che-code/tree/22c1cdbba0ff3b97eb7117859a18f4dc32cd0308

For example
`https://<your-che-host>#https://github.com/benoitf/che-code/tree/22c1cdbba0ff3b97eb7117859a18f4dc32cd0308`

### Che version

next (development version)

### Steps to reproduce

1. Open `https://<your-che-host>#https://github.com/benoitf/che-code/tree/22

[2022-01-14 15:09] nickboldt commented on #20982
Downstream; https://issues.redhat.com/browse/CRW-2643

[2022-01-14 15:12] benoitf commented on #21025
I reproduce the issue with `#https://github.com/che-samples/java-spring-petclinic/tree/11f9746b584e2eaa62a85345989e1e2539c3ab14` as well

[2022-01-14 15:15] tolusha commented on #21004
Unfortunately not che pod log.
che-plugin-broker logs appears for a couple of seconds in user's namespace to download plugins

[2022-01-14 15:17] Les-Linux commented on #21004
the che pod was the correct source for the certificate folder?

[2022-01-14 15:20] tolusha commented on #21004
yes, /public-certs in che pod can be empty

[2022-01-14 15:21] tolusha commented on #21023
pls, do `chectl server:logs` and attach obtained logs to figure out issue with che-server start up

[2022-01-14 15:25] tolusha commented on #21004
yes, that's would be nice

[2022-01-14 15:37] Les-Linux commented on #21004
will try to grab that info

[2022-01-14 15:52] martinelli-francesco commented on #21023
just added. Thank you.

[2022-01-14 17:17] max-cx commented on #20866
sync'd with Red Hat JIRA https://issues.redhat.com/browse/CRW-2646

[2022-01-15 00:29] #20104 closed

[2022-01-15 00:29] #20105 closed

[2022-01-15 00:29] #20107 closed

[2022-01-15 00:29] #20113 closed

[2022-01-15 23:03] l0rd opened #21026 "Che Theia settings are not persisted"
### Describe the bug

If I set some Theia settings (git username and email for example), those are lost when I stop and restart the workspace. When the workspace is restarted settings are empty.

### Che version

next (development version)

### Steps to reproduce

- Start a workspace
- Set git username and email
- Stop the workspace
- Restart the workspace

### Expected behavior

The settings are

[2022-01-16 00:31] #19671 closed

[2022-01-16 02:29] l0rd commented on #21026
duplicate of https://github.com/eclipse/che/issues/20622

[2022-01-16 03:42] l0rd opened #21027 "Che must add label watch-secret to git-credentials-secrets"
### Describe the bug

Git credential secret is not mounted in workspaces pods.

The DevWorkspace controller only manges secrets with label (see [doc](https://github.com/devfile/devworkspace-operator/blob/main/docs/additional-configuration.md#automatically-mounting-volumes-configmaps-and-secrets)):

[code]

Che doesn't add that label to the `git-credentials-secret` that it creates in the user names

[2022-01-16 13:17] dmytro-ndp commented on #21006
@ibuziuk: an update: it turned out that backup / restore worked in CRW 2.14.0.
CRW 2.14.0 backup had failed on OCP with leftovers from DevWorkspace, installed on the same OCP earlier [1].

[1] https://issues.redhat.com/browse/CRW-2621?focusedCommentId=19599679&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-19599679

[2022-01-16 15:09] #21003 closed

[2022-01-16 16:27] Divine1 opened #21028 "how to specify custom namespace label for the namespaces created by `eclipse-che`?"
### Summary

i have installed `eclipse-che` in minikube using `chectl`.

![image](https://user-images.githubusercontent.com/10482177/149668105-b06dd3ea-9771-4cfa-b7ea-bc5dcc8140d1.png)

i havenot overridden any default configuration. so, the namespace `eclipse-che` , `admin-che` is created in the minikube cluster by default

Inorder to override default namespace `eclipse-che` i have used this argu

[2022-01-16 21:34] l0rd commented on #21028
@Divine1 admin-che is a user namespace, meaning that all Che resources for user "admin" will be created in that namespace. To name these namespaces we use the pattern `<username>-che`. That can be customized using `CheCluster` property `server.workspaceNamespaceDefault`. More information [here](https://www.eclipse.org/che/docs/che-7/installation-guide/configuring-namespace-strategies/).

[2022-01-17 00:30] #20124 closed

[2022-01-17 04:14] Divine1 commented on #21028
@l0rd  thank you for the response.

by default, namespaces are created for each `user` in this format  `<username>-che`

How will setting this property work? `server.workspaceNamespaceDefault`

Assume that i have 3 users , ueagle,upig,ucow..
if i set `server.workspaceNamespaceDefault=frogns` then in which format will the names for the new namespaces be created?

[2022-01-17 06:57] tolusha commented on #20908
Templates are updated to v0.11.0
When Eclipse Che is deployed with chectl, then the latest stable version of Dev Workspace is deployed from a custom catalog source.

[2022-01-17 06:57] #20908 closed

[2022-01-17 08:23] tolusha commented on #21028
`server.workspaceNamespaceDefault=frogns`
That's won't work. Operator won't propagate this configuration and prints errors.
String must contain either `<username>` or `<userid>`.

[2022-01-17 08:32] tolusha commented on #20977
Nothing woring with operator.
It basically about that metrics server can't proceed requests.
Pls check your kubernetes cluster.

[2022-01-17 08:33] tolusha commented on #21023
@martinelli-francesco
Unfortunately che-server logs end with

[code]

and don't contain any stracktraces.
Could you grab them one more time and ensure that stacktrace is there?

[2022-01-17 09:17] sunix commented on #20977
whatever the reason ... it's not updating the Che server 🤷‍♂️

[2022-01-17 09:33] martinelli-francesco commented on #21023
Reinstalled and re-uploaded the zip file containing the logs.
I also added the logs of %LocalAppData%\chectl\error.log.
Let me know

[2022-01-17 09:44] l0rd commented on #21015
@skabashnyuk we are not setting label `controller.devfile.io/watch-secret: 'true'` and the controller is not mounting the secret: https://github.com/eclipse/che/issues/21027

[2022-01-17 09:50] RomanNikitenko commented on #20861
I had a quite long vacation, will come back to the issue today/tomorrow...

[2022-01-17 10:40] azatsarynnyy opened #21029 "Support running the Devfile commands by Che-IDEA"
### Is your task related to a problem? Please describe

As a user, I want to be able to run my Devfile commands in Che-IDEA.
The commands should be visible as IDEA's Run Configurations.

### Describe the solution you'd like

Before starting Che-IDEA, we can parse a flattened Devfile to read the commands and pass them to the corresponding IDEA's configurations files.

### Describe alternatives you'

[2022-01-17 10:49] azatsarynnyy opened #21030 "Support running the Devfile commands by Che-Code"
### Is your task related to a problem? Please describe

As a user, I want to be able to run my Devfile commands in Che-Code.
The commands should be visible as the Code's Tasks.

### Describe the solution you'd like

Before starting Che-Code, we can parse a flattened Devfile to read the commands and pass them to the `tasks.json` file.

### Describe alternatives you've considered

_No response_

###

[2022-01-17 10:53] azatsarynnyy commented on #20500
added
- #21030

[2022-01-17 10:54] azatsarynnyy commented on #20591
added
- #21029

[2022-01-17 12:27] Divine1 commented on #21028
@tolusha  thank you.

1. is it possible to have a `user` namespace `pre-created` that can be used to handle the workspaces created by the user?

2. how to point multiple userids to its specific precreated namespaces?
Please consider below example, i have to
- point userid `ueagle` to `ueagle-che` namespace
- point userid `upig ` to `upig-che` namespace
- point userid `ucow ` to `ucow-che` namespac

[2022-01-17 12:29] tolusha commented on #21023
logs dont contains any stracktraces.
Could you check if `auth.nativeUserMode` is set to true in CheCluster CR ? It is important when DevWorkspace is enabled.
`kubectl get checluster/eclipse-che -n eclipse-che -o jsonpath='{.spec.auth.nativeUserMode}'`
If it is `false` then set it to `true`

[2022-01-17 12:37] tolusha commented on #21004
@Les-Linux
Could you try a new Eclipse Che version 7.42.0 ?
It has a different architecture [1] and does not contain plugin broker

[1] https://www.eclipse.org/che/docs/next/administration-guide/architecture-overview-with-devworkspace/

[2022-01-17 12:59] tolusha commented on #20761
Could you try configure Eclipse Che to use single-host strategy?

[code]

[2022-01-17 13:05] Les-Linux commented on #21004
Hi @tolusha , I had noticed that there was an update for Openshift 4.9.13 and Che 7.42.0 and applied both this morning. The workspace now bootstraps and the pet-clinic project is pulled from GIT :). Unfortunately however, when I try to run/debug the app, it throws the error 'the debug session type "java" is not supported', furthermore the launch.json schema has an issue with the property hostName

[2022-01-17 13:12] martinelli-francesco commented on #21023
Sorry, I tried three times and the stacktraces were never present.
nativeUserMode is already set to true.

[2022-01-17 13:32] vzhukovs opened #21031 "Publish next tag for che-idea and che-pycharm images"
### Is your task related to a problem? Please describe

There is a need to publish `next` tag to `quay.io/che-incubator/che-idea` and `quay.io/che-incubator/che-pycharm` which will point to the latest dev support versions of `che-idea` and `che-pycharm`.

### Describe the solution you'd like

Update GitHub actions to push the `next` tag as it has been done for `latest` tag, but `next` will point t

[2022-01-17 13:55] ibuziuk opened #21032 "Enable single running workspace restriction for DevWorkspaces started from UD"
### Describe the bug

It is possible to start multiple devworkspaces from UD. The second and subsequent would fail on some clusters due to RWO limitation.limitations

### Che version

7.41@latest

### Steps to reproduce

start a devworkspace from UD when there is already one running.

### Expected behavior

It should be possible to have only one running workspace by default

### Runtime

OpenShift

[2022-01-17 13:58] ibuziuk opened #21033 "Increase the default PVC size for DevWorkspaces to 10GB"
### Is your enhancement related to a problem? Please describe

claim-devworkspace is just 1GB, which does not look like a good defaults

![image](https://user-images.githubusercontent.com/1461122/149781733-e86ae9bb-c0a2-4c0d-b988-10dec1dfb133.png)

### Describe the solution you'd like

Increase claim-devworkspace to 10 GB (same defaults for che-server claim-che-workspace)

### Describe alternative

[2022-01-17 14:07] Les-Linux commented on #21004
@svor if you require logs etc. just let me know what you need and I will pull the info. This is a vanilla deployment so no changes made by me :).

[2022-01-17 14:07] benoitf commented on #21033
related to https://github.com/devfile/devworkspace-operator/issues/740

[2022-01-17 14:12] azatsarynnyy opened #21034 "Address the Dependabot alerts for Che-Theia repository"
### Is your task related to a problem? Please describe

There're 82 alerts reported by Dependabot for the Che-Theia repository.
https://github.com/eclipse-che/che-theia/security/dependabot?page=1&q=is%3Aopen

### Describe the solution you'd like

Need to look at how we can fix the security issues considering that we're pinned to the specific commit SHA from upstream Theia.

### Describe alternativ

[2022-01-17 14:12] tolusha commented on #21028
@skabashnyuk
Could you have a look pls?

[2022-01-17 14:28] skabashnyuk commented on #21028
You'll have to have
 - namespace `ueagle-che` annotated with `che.eclipse.org/username: ueagle`
 - namespace  `upig-che` annotated with `che.eclipse.org/username: upig `
 - namespace `ucow-che` annotated with `che.eclipse.org/username: ucow `

or use the configuration by default. It is doing exactly the same.

[2022-01-17 14:29] svor commented on #21004
it seems java-plugin wasn't installed, do you see some errors in java-plugin container?

[2022-01-17 14:32] RomanNikitenko commented on #20772
@bodarajeshkumar
Hello!
I had a quite long vacation, so I saw your question only now.

Che-theia depends on [this commit of Theia](https://github.com/eclipse-che/che-theia/blob/05d296b5cd586561c483d62866f8412245a6361e/build.include#L17), so it looks like `che-theia` does not contain the fix.

Unfortunately, as far as I know there is no plan to align `che-theia` to the latest `theia` at least for t

[2022-01-17 14:38] Les-Linux commented on #21004
@svor is it the che-plugin-registry you are referring to ?

quay.io/che-incubator/configbump@sha256:
      1 quay.io/eclipse/che--centos--mysql-57-centos7:latest
      1 quay.io/eclipse/che--centos--postgresql-13-centos7@sha256:
      2 quay.io/eclipse/che--traefik@sha256
      1 quay.io/eclipse/che-dashboard@sha256
      1 quay.io/eclipse/che-devfile-registry@sha256:
      1 quay.io/eclipse/che-m

[2022-01-17 14:46] Divine1 commented on #21028
@skabashnyuk

[code]

[2022-01-17 14:46] RomanNikitenko commented on #20771
please see https://github.com/eclipse/che/issues/20772#issuecomment-1014607599

[2022-01-17 14:49] RomanNikitenko commented on #20771
I didn't investigate which commit in upstream fixed the bug, so I don't know if we picked up that commit at the latest upgrade `Theia` version...

[2022-01-17 16:20] amisevsk commented on #21015
The path ultimately doesn't matter, but is ideally a location that the container can edit (otherwise, git will complain about being unable to lock the file during clone).

What DWO does for git credentials is
1. Mount secret to defined path (e.g. `/home/theia/.git-credentials/credentials`)
2. Mount a gitconfig with
[code]
    to `/etc/gitconfig` (see potential issue https://github.com/devfile/devw

[2022-01-17 16:36] dkwon17 opened #21035 "Failed to retrieve default plugins for user"
### Describe the bug

When logged in as a user (i.e. not a cluster admin), and when opening the dashboard, there is an error when fetching default plugins from the CheCluster CR:

![image](https://user-images.githubusercontent.com/83611742/149806008-f218c2d6-f72f-439e-bcce-641f5f707743.png)

[code]

The user token does not have permissions to access the CheCluster CR.

### Che version

next (devel

[2022-01-18 00:31] #20126 closed

[2022-01-18 00:31] #20136 closed

[2022-01-18 08:14] skabashnyuk commented on #21028
you have to specify `usernames`.
I doubt that is possible to set up more than one `che.eclipse.org/username` annotation on a single namespace. Moreover, the whole design is expected to have a single namespace for one user.

[2022-01-18 08:19] svor commented on #21004
@Les-Linux have you updated your previous version of che to 7.42.0 or you have installed it from the scratch?

[2022-01-18 08:20] Divine1 commented on #21028
@skabashnyuk

so, in my scenario, should i have three yaml files like below to make use of `precreated` namespaces?

[code]

[code]

[code]

[2022-01-18 08:22] Divine1 commented on #21028
@skabashnyuk could you let me know the syntax for adding `usernames`?

[2022-01-18 08:30] Les-Linux commented on #21004
Hey @svor , this is a new from scratch deployed instance.

[2022-01-18 08:38] skabashnyuk commented on #21028
`che.eclipse.org/username: ucow<----this is user name`
Is there an issue with that?

[2022-01-18 08:50] Divine1 opened #21036 "is keycloak removed in `eclipse-che` `7.42.0` ?"
### Summary

`eclipse-che` i installed installed today(7.42.0) . it has `dex` as the identity service , previously it was `keycloak`. i'm not able to find the web url link in the `eclipse che` installation logs inorder to do user management.

![image](https://user-images.githubusercontent.com/10482177/149900191-6f89bcc0-4b59-468a-8b8a-a7a9e92a2a02.png)

![image](https://user-images.githubuserconte

[2022-01-18 09:08] tolusha commented on #21023
So, then it stuck on retrieving `Retrieving OpenId configuration from endpoint`.
Could you try:

[code]

[2022-01-18 09:14] svor commented on #21004
How did you deploy it, if it was `chectl` - which version?
Also it would be nice if you provide logs from the containers from the workspace pod

[2022-01-18 09:29] martinelli-francesco commented on #21023
Also note that from the Azure dashboard you can see that the oauth-proxy container (pod che-gateway) is in CrashLoopBackOff. Its logs are:
[code]

I tried the above command with both http and https.
HTTP:
[code]
HTTPS:
[code]

[2022-01-18 09:35] #13258 closed

[2022-01-18 10:12] Les-Linux commented on #21004
I deployed the instance from open shift via the che operator. Is there any particular log events output you require?

[2022-01-18 10:15] #20994 closed

[2022-01-18 10:16] #21014 closed

[2022-01-18 11:40] jegithubpro opened #21037 "Che 7.18.0 - Failed to run the workspace: "Error occured while waiting for Pod creation" : Websocket connection closed before Pod creation event received"
### Describe the bug

Launching an eclipse che 7.18.0  workspace failed suddently with the error below :

Here after the logs of the che server.

The communication with the kubernetes API was working with the kubectl command inside the che pod.
here after the command to enable the kubectl comand from the che pod
`
apt update
apt install curl
curl -LO https://dl.k8s.io/release/v1.12.0/bin/linux/amd

[2022-01-18 11:53] tolusha commented on #21023
That's might be a cause
[code]
If DevWorkspace is enabled then OIDC provider must be configured on the cluster (mandatory since 7.42.0).

[2022-01-18 12:04] martinelli-francesco commented on #21023
Do you mean I need to configure an external identity provider? Should't be the keycloak? Btw I am installing 7.41.2.

I have a parallel installation in Minikube without an additional configuration for OIDC provider.

[2022-01-18 12:55] ibuziuk commented on #21035
@olexii4 @akurinnoy I believe we need to design a solution for using some SA for reading the CR properties

[2022-01-18 13:12] Les-Linux commented on #21004
[logs.tar.gz](https://github.com/eclipse/che/files/7889268/logs.tar.gz)

@svor , please find all container logs attached.

[2022-01-18 13:20] l0rd commented on #20227
With [this merged](https://github.com/eclipse/che/issues/20459) and with the switch to DevWorkspace, it should be possible to `docker build` (buildah and docker should be part of [universal developer image](https://quay.io/repository/devfile/universal-developer-image)) from within a Che workspace but:
- the DevWorkspace Operator SA must explicitly be granted get and update privileges for `anyuid`

[2022-01-18 13:25] tolusha commented on #21023
It can be keycloak but `spec.devWorkspace.enable` must be `false`

[2022-01-18 13:28] martinelli-francesco commented on #21023
So you mean that if I want to use the devworkspace I must have an external identity provider, correct?
If so, where can I find documentation to configure the OIDC provider?

[2022-01-18 13:29] ibuziuk opened #21038 "Reuse common PVC 'claim-che-workspace' if exists instead of creating a new 'claim-devworkspace'"
### Is your enhancement related to a problem? Please describe

Currently, a new common `claim-devworkspace` PVC is created for devworkspaces
![image](https://user-images.githubusercontent.com/1461122/149945663-c5888113-2de7-41a1-b57f-15a59e0f393a.png)
Probably it makes sense to reuse existing `claim-che-workspace` if it exists in the namespace.

### Describe the solution you'd like

reuse existing

[2022-01-18 14:13] svor commented on #21004
@Les-Linux thank you for providing logs
I've tried to deploy che via che operator 7.42.0 on OCP 4.9 and I haven't reproduce the problem.
From your logs I see that plugins were not downloaded because of certificate problem:
[code]
@tolusha does it say something to you?

[2022-01-18 14:15] akurinnoy commented on #21035
Yes, we need to update the che-dashboard SA .
@tolusha suggested adding a new entry to these rules to allow the dashboard to read checlusters CR:

https://github.com/eclipse-che/che-operator/blob/20982/pkg/deploy/dashboard/rbac.go#L31

[2022-01-18 14:18] tolusha commented on #21004
That's what we saw in pluing broker for 7.41.x version ^(

[2022-01-18 14:41] tolusha commented on #21004
@svor
What was the container with an error?

@Les-Linux
It would be nice to try curl inside that container

[2022-01-18 14:45] #21027 closed

[2022-01-18 14:53] amisevsk commented on #21038
As a workaround, we can potentially do this by setting `.config.workspace.pvcName: claim-che-workspace` in the `devworkspace-operator-config` DevWorkspaceOperatorConfig.

[2022-01-18 14:58] ibuziuk commented on #21038
yeah, the only drawback is the `che` wording the naming

[2022-01-18 15:08] benoitf opened #21039 "DevWorkspaces resources are not removed when DevWorkspace is removed"
### Describe the bug

Using Che, I've created lot of workspaces then I remove all of them.

But browsing resources with oc/kubectl or console I see tons of routes, devWorkspaceRoutings or DevWorkspaceTemplates that are still there.

### Che version

next (development version)

### Steps to reproduce

1. Create workspaces and start them
2. delete all workspaces
3. check the resources like routes, d

[2022-01-18 15:26] svor commented on #21004
it's from `remote-runtime-injector` init continer

[2022-01-18 15:48] Les-Linux commented on #21004
hey @svor, I noticed the issue initially around debugging and when I checked plugin's I could see the error I included in this thread. Let me do a curl next and post the response.

[2022-01-18 16:18] Les-Linux commented on #21004
[curl-tools.log](https://github.com/eclipse/che/files/7890634/curl-tools.log)
[curl-theia-ide.log](https://github.com/eclipse/che/files/7890635/curl-theia-ide.log)
[curl-che-pod.log](https://github.com/eclipse/che/files/7890636/curl-che-pod.log)

[2022-01-18 16:20] Les-Linux commented on #21004
@svor ,
do you need me to do something specific with remote-runtime-injector ?

[2022-01-18 16:53] martinelli-francesco commented on #21023
I tried to apply a custom OIDC (auth0) by the following command:
`chectl server:deploy --che-operator-cr-patch-yaml=patch.yaml --platform=k8s --domain=vista.qplatform.it`
where `patch.yaml` is:
[code]

Now, the oauth-proxy container shows another error:
[code]

Looking at the configMap che-gateway-config-oauth-proxy we see that the oidc_issuer_url field has now the correct value but client_id is e

[2022-01-18 17:20] svor opened #21040 "[dev-workspacehandler] DW can't start because the name of the component is too long"
### Describe the bug

In case when devfile contains `che-theia.eclipse.org/sidecar-policy: mergeImage` attribute, sidecar plugins with identical image will be run in one container and this devWorkspace component will be named like:

`name: sidecar-merged-image-describet-in-yaml`

If the image name is too long, workspace won't start with the error like:

[code]

### Che version

next (development v

[2022-01-18 18:21] Divine1 commented on #21028
@skabashnyuk thank you

[2022-01-18 18:21] #21028 closed

[2022-01-18 20:07] terioshan opened #21041 "Che deployment on Kubernetes fails due to Postgres reconciler error"
### Describe the bug

Che deployment on Kubernetes fails for both 7.42.0 and next versions because of an error related to the Postgres reconciler during the task "create Keycloak DB, user, privileges" (see log below).

Is there a known mitigation yet? Thanks in advance!

[code]

### Che version

next (development version)

### Steps to reproduce

Both commands result in the same behavior:

* chect

[2022-01-18 22:38] Les-Linux commented on #21004
![Screenshot 2022-01-18 at 22 37 28](https://user-images.githubusercontent.com/1759713/150029946-d179ce00-8e8b-4d8a-a99d-6ec82947c461.png)

 from the theia-ide container, curl would seem to be working

[2022-01-18 22:39] Les-Linux commented on #21004
![Screenshot 2022-01-18 at 22 38 57](https://user-images.githubusercontent.com/1759713/150030100-90f98f9e-de12-4066-bbf2-cb31ceefdc2f.png)

[2022-01-19 05:25] sparkoo commented on #21036
With Devworkspace engine now being default, there is no Keycloak. Instead of using custom user management, we switched to use Kubernetes users in order to do authorization to workspace resources with kubernetes RBAC. That means, that on Minikube, we reconfigure Kubernetes apiserver to use Dex as OIDC provider.

You have few options how to manage users:
 - in `dex` namespace, there is configmap wit

[2022-01-19 05:38] sparkoo commented on #21037
Che 7.18.0 is very old. I'm afraid, I can only suggest to upgrade to latest version.

The error happened while watching the kubernetes resource so it's using websockets. What you've tested with `./kubectl get pod -n che` is simple GET request. You can try to test it with something like `kubectk logs <podname> -n che`, but I'm not 100% sure it's using websockets either.

I would bet that issue is h

[2022-01-19 05:52] sparkoo commented on #21041
What Kubernetes cluster do you use?

The background of this is, that we no longer use custom Keycloak to do identity management, but we rather use Kubernetes users so you must have Kubernetes configured with OIDC provider. Then you can configure `CheCluster` CR to connect to the OIDC with https://github.com/eclipse-che/che-operator/blob/main/config/crd/bases/org_v1_che_crd.yaml#L223.

Latest Chect

[2022-01-19 08:47] svor commented on #21004
@Les-Linux I see the problems with plugins view on my side as well, could you please register an issue for that

but java-debug and vscode-java plugins should work, it would be nice to see what you have in remote-runtime-injector container (you can find it in the workspace pod):

![screenshot-console-openshift-console apps cluster-vh88l vh88l sandbox801 opentlc com-2022 01 19-10_46_46](https://use

[2022-01-19 08:55] l0rd commented on #18887
That's not completed yet. Let's move it to 7.43

[2022-01-19 09:38] tolusha commented on #21039
@benoitf
Did you use chectl?
It removes all Dev Workspace resources.

[2022-01-19 09:40] tolusha commented on #21041
@terioshan
It seems there are some leftovers from the previous installations.
Try `chectl server:delete --delete-namespace` to clean every thing up and reinstall Eclipse Che after that.

[2022-01-19 09:51] benoitf commented on #21039
@tolusha yes I installed using chectl

But I remove a devworkspace, not the devworkspace operator

(Like deleting workspace from dashboard)

[2022-01-19 09:56] ibuziuk commented on #21039
I see a couple of issues with workspaces:
1. A lot of DevWorkspaceRouting hang in the terminating state due to  `finalizers:
    - devworkspacerouting.controller.devfile.io`

![image](https://user-images.githubusercontent.com/1461122/150107157-4e79b89a-28fa-42ed-9a02-8c3d4613632d.png)

2. one `che-code` devworkspace hangs in the terminating state due to   `finalizers:
    - storage.controller.devf

[2022-01-19 10:28] tolusha commented on #21004
@benoitf
Could you point out the exact `curl` command line that is used to donwload plugins
It would be nice to try the same command manually inside `remote-runtime-injector` container by @Les-Linux to figure out the problem

[2022-01-19 10:34] sunix commented on #20977
@tolusha so what can I do to have my che operator updating Che ?

[2022-01-19 11:05] tolusha commented on #21023
cc @sparkoo

To configure Eclipse Che, you need to set the following fields:

[code]

[2022-01-19 11:14] tolusha commented on #20977
I would recommend you to figure out what wrong with metrics server because it blocks che-operator reconciliation.
For instance I can find the similar problem here https://github.com/kubernetes-sigs/metrics-server/issues/157

[2022-01-19 11:20] tolusha opened #21042 "Failed to update chectl"
### Describe the bug

Failed to update chectl

### Che version

next (development version)

### Steps to reproduce

Run any chectl commands.
chectl aks for update.

### Expected behavior

`chectl` is updated automatically

### Runtime

minikube

### Screenshots

_No response_

### Installation method

chectl/next

### Environment

Linux

### Eclipse Che Logs

[code]
[code]

[2022-01-19 11:54] martinelli-francesco commented on #21023
In the documentation (https://www.eclipse.org/che/docs/che-7/installation-guide/configuring-the-che-installation/) these fields refer to the "OpenShift OAuthClient resource used to set up identity federation on the OpenShift side".

I am deploying the custer in Azure (kubernetes) and not Openshift and I need to use an external OIDC provider (auth0: https://auth0.com/). Should I still configure oAu

[2022-01-19 12:23] Les-Linux commented on #21004
hello @svor, this is the output of the logs for the remote-runtime-injector. there is a error with the log retrieval shown and I am not sure what that is about.
![Screenshot 2022-01-19 at 12 21 48](https://user-images.githubusercontent.com/1759713/150128705-0f93149b-47ba-494f-992c-3b140a39bcc0.png)

[2022-01-19 12:43] benoitf commented on #21004
@tolusha curl commands are there: https://github.com/eclipse-che/che-theia/blob/main/dockerfiles/theia-endpoint-runtime-binary/src/entrypoint.sh

https://github.com/eclipse-che/che-theia/blob/main/dockerfiles/theia-endpoint-runtime-binary/src/entrypoint.sh#L89

[2022-01-19 12:47] Les-Linux opened #21043 "Che 7.42.0 - Your Registry Is Invalid Message"
### Describe the bug

I have deployed Eclipse Che 7.42.0 on Openshift 4.9.13 via the OperatorHub as a brand new environment.

### Che version

7.42@latest

### Steps to reproduce

1. Deploy Petclinic for test purposes
2. View > Plugins
3. Message - Your registry is invalid is shows

This was also reproducible over in the mattermost channel by @svor.

### Expected behavior

Plugins to load successf

[2022-01-19 13:09] Les-Linux commented on #21004
@tolusha i executed the curl from the theia-ide container and attach the output
[entrypoint.log](https://github.com/eclipse/che/files/7897301/entrypoint.log)
[entrypointL89.log](https://github.com/eclipse/che/files/7897302/entrypointL89.log)

[2022-01-19 14:24] Les-Linux commented on #21004
@svor, attaching the debugger after the build process completed worked. thank you for that :).

[2022-01-19 15:00] Divine1 commented on #21036
@sparkoo  thank you for the response.

below 4 namespaces got auto-created when i installed `eclipse-che tool` via `chectl`

`eclipse-che`
`dex`
`devworkspace-controller`
`cert-manager`

my organization has not provided permission to auto-create namespace, if i need a namespace, i have to request the kubernetes admin to create a new namespace for me.

So, i have to input the pre-created namespaces

[2022-01-19 16:34] #21033 closed

[2022-01-19 16:48] Les-Linux commented on #21004
final comments -  upgrading to Che v7.42.0 resolved my issue with the wildcard certificate. In relation to the plugin, this is being managed under [https://github.com/eclipse/che/issues/21043](url)

I would like to thank everybody, especially @svor, @tolusha for their invaluable assistance.

[2022-01-19 16:48] amisevsk commented on #21039
The Che Operator appears to be setting a finalizer on the routes and not removing it, which causes the DevWorkspaceRouting to not be removed: [`solver.go`](https://github.com/eclipse-che/che-operator/blob/b4930b5054c0bb951e8b3fcd5ab859a8eb671c7e/controllers/devworkspace/solver/solver.go#L119-L130)

[2022-01-19 17:36] azatsarynnyy commented on #20569
The backend parameter that [I've used](https://github.com/che-incubator/che-code/pull/2) in my previous solution has [gone in upstream](https://github.com/microsoft/vscode/commit/74b3fc397d140bab6fc91f0c8a0911ee0530c495#diff-294102d93b173606d76ae7c0f5828010ecf75fbf68675f7afdbc2f49395827eb).
Need to investigate how to provide the initial folder from the frontend side, via the URL query parameter.

[2022-01-20 02:01] nickboldt opened #21044 "che dashboard version in main branch has not been updated in package.json since 7.37"
### Is your task related to a problem? Please describe

Che dashboard version in 7.yy.x branches is upversioned to the latest 7.yy.1-SNAPSHOT. For 7.42.x branch, we have:

[code]
-- https://github.com/eclipse-che/che-dashboard/blob/7.42.x/package.json#L3-L4

Of course it's not a maven project, so why we're using -SNAPSHOT is a mystery -- we should stop using maven conventions for node and go proje

[2022-01-20 07:00] #21042 closed

[2022-01-20 08:29] sunix commented on #20977
It fails only when I am scaling down to 0 everything, it should work otherwise. Maybe che-operator shouldn't fail if this kind of issue occurs.

[2022-01-20 09:03] #20995 closed

[2022-01-20 09:27] tolusha commented on #20977
@sunix
Make sense to me to handle this kind of error.

[2022-01-20 09:55] #20860 closed

[2022-01-20 09:56] svor commented on #20788
#20859 is not finished yet

[2022-01-20 09:59] svor commented on #20622
fixed by https://github.com/eclipse-che/che-theia/pull/1260 and https://github.com/devfile/devworkspace-operator/pull/675

[2022-01-20 10:04] ibuziuk commented on #21044
@akurinnoy @olexii4 could you please take a look?

[2022-01-20 12:05] mkuznyetsov commented on #21044
@ibuziuk a PR with suggested fix https://github.com/eclipse-che/che-dashboard/pull/443

[2022-01-20 12:08] ibuziuk commented on #21039
@skabashnyuk @sparkoo @metlos folks, could you please take a look - routing finalizers prevents workspaces from being removed

[2022-01-20 12:11] tolusha commented on #21039
I will take a look

[2022-01-20 13:19] sparkoo commented on #21036
I'm not sure, @tolusha?

[2022-01-20 13:24] tolusha commented on #21036
no, they are hardcoded

As my organization's kubernetes admin doesnot provide permission to auto-create namespaces, is there any workaround for this situation?

I don't see, just precreate them.

[2022-01-20 13:49] Divine1 commented on #21036
@tolusha

![image](https://user-images.githubusercontent.com/10482177/150350039-8f93c64c-a362-4760-ac48-8a50f0a60b94.png)

My organization has a multi-node kubernetes cluster and it is being shared across different businessUnits within the organization.

if the namespaces  `dex` `devworkspace-controller` `cert-manager` cannot be customized  and incase if another businessUnit within my organization

[2022-01-20 14:07] madeinindiadot opened #21045 "Workspace IDE throws 500 error"
### Summary

After creating test workspace on che dashboard, its unable to open che theia IDE. Throws 500 error on screen
Used chectl for deploying the eclipse-che. Dashboard auth with keycloak works fine but the IDE doesnt come up.

Attached the screenshots

### Relevant information

Steps followed

1. used kubeadm for creating kubernetes cluster using haproxy load balancer
2. Created my own cert

[2022-01-20 14:55] #20859 closed

[2022-01-20 16:31] svor commented on #20967
it seems it could be configured by `pluginRegistryUrl` parameter https://github.com/eclipse-che/che-theia/blob/main/tools/devworkspace-handler/src/main.ts#L30-L32

[2022-01-20 16:31] #20967 closed

[2022-01-20 16:35] azatsarynnyy commented on #20569
As I understand, it's already fixed by a commit https://github.com/che-incubator/che-code/commit/4efae765c3134961552da706782cee62d8e489ee
@benoitf please, reopen it if I'm wrong.

[2022-01-20 16:42] benoitf commented on #20569
you're not wrong 👍
I'm still not sure if it's as fast as the option we had on the server side but at least it's working again without deep changes 👍

[2022-01-20 16:51] amisevsk commented on #20963
PR https://github.com/devfile/devworkspace-operator/pull/748 is open now, which sets `fsGroup` to match `runAsUser` by default. This should resolve this issue once it works its way into a release.

[2022-01-20 16:51] amisevsk commented on #20965
PR https://github.com/devfile/devworkspace-operator/pull/748 is open now, which sets `fsGroup` to match `runAsUser` by default. This should resolve this issue once it works its way into a release.

[2022-01-20 16:55] nils-mosbach commented on #21036
Does this mean, from 7.42 on there won't be an option running che with plain keycloak? So basically every che-kubernetes deployment requires reconfiguring the api server? I guess that this will cause a lot of confusion. The beauty with chectl was that you could fire up an eclipse che instance on any platform and it just worked. Setting up dex and changing api server configurations as a prequisite

[2022-01-20 17:14] Divine1 commented on #21036
@nils-mosbach auto-creating namespaces  in my organizations kubernetes cluster is restricted. i need a solution for it. i can request the k8s admin and pre-create namespaces in my organizations k8s cluster. But those [re-created names spaces will not exactly be `dex` `devworkspace-controller` `cert-manager`. i need a way to customize these namespaces

[2022-01-20 18:07] amisevsk commented on #20844
v0.11 is shipped, this issue can be closed.

[2022-01-20 18:07] #20844 closed

[2022-01-21 06:20] Divine1 commented on #21036
@tolusha
@nils-mosbach

until che 7.41.1 i was able to use the below secret yaml format to use the devfile.yaml hosted within my gitlab account.

in che7.42.0 this secret yaml file has no effect. how to make it work?
[code]

https://www.eclipse.org/che/docs/che-7/end-user-guide/authenticating-on-scm-server-with-a-personal-access-token/#configuring_gitlab_authentication_che

[2022-01-21 08:07] tolusha commented on #14475
WON'T FIX

[2022-01-21 08:07] #14475 closed

[2022-01-21 08:12] tolusha commented on #18701
WON'T FIX

[2022-01-21 08:12] #18701 closed

[2022-01-21 08:13] tolusha commented on #20454
`gateway` is the only one supported single host exposure strategy.

[2022-01-21 08:13] #20454 closed

[2022-01-21 08:21] tolusha commented on #21023
Hi.
Yes, you have to configure `oAuthClientName` and `oAuthSecret` fields

[2022-01-21 10:48] tolusha commented on #21036
It is not supported to have multiple Eclipse Che deployment on the same cluster.

@skabashnyuk  Could you anser a question?

[2022-01-21 12:01] skabashnyuk commented on #21036
I think the format remains the same. However, I assume that might be an issue with `che.eclipse.org/che-userid`. I thought we had some migration. @ibuziuk or @tolusha can know more.

The simplest way is just to remove it and allow the system to recreate it again or try to find your user's new `che-userid` and update the field.

[2022-01-21 12:07] azatsarynnyy commented on #21029
There are three possible solutions that were discussed internally.
1. With `sh` script, make the required changes to IDEA-specific XML configurations.
2. Do the same as above, but with a Java library.
3. With a native IDEA plug-in, contribute a `Run Configurations` through the Plug-in API.

We decided to go with solution 2, as it provides a much easier way to work with XML compared to solution 1.

[2022-01-21 12:15] azatsarynnyy commented on #21030
To provide the user a simple way to run a Devfile Command, I'm going to add VS Code extension that will translate the commands to the [runtime (provided) Tasks](https://code.visualstudio.com/api/extension-guides/task-provider).

[2022-01-21 12:59] nils-mosbach opened #21049 "Devworkspace native auth on Kubernetes - Unauthorized! Configured service account doesn't have access"
### Describe the bug

We have a keycloak that authenticate agains GitLabs OIDC provider. (Informationen on our setup can be found here: https://github.com/eclipse/che/issues/20962#issuecomment-999655501) That actually served us well using Eclipse Che 7.40.

Upgrading to 7.42 seems to require native auth, so we tried to setup OAuth on Kubernetes using keycloak based on information provided by @spar

[2022-01-21 13:05] svor commented on #19487
/remove-lifecycle stale

[2022-01-21 13:14] svor commented on #20157
/remove-lifecycle stale

[2022-01-21 13:16] svor commented on #19346
/remove-lifecycle stale

[2022-01-21 13:49] Divine1 commented on #21036
@skabashnyuk  from che 7.42.0 , `dex` gets installed

so, in this case is `che.eclipse.org/che-userid` still allowed? or should we use something specific to dex ?

below is the default credentials
![image](https://user-images.githubusercontent.com/10482177/150537889-d4bf6811-367d-4f0f-8dd3-28bdad185516.png)

[2022-01-21 13:55] svor commented on #16018
/remove-lifecycle stale

[2022-01-21 14:13] svor commented on #21019
I think it should be fixed on devworkspace-handler side, because the value of `metadata.name` could be any string https://devfile.io/docs/devfile/2.1.0/user-guide/api-reference.html.

As a quick workaround we can apply https://github.com/che-samples/aspnetcore-realworld-example-app/pull/3

[2022-01-21 15:31] #21013 closed

[2022-01-21 15:31] #21022 closed

[2022-01-21 15:34] benoitf commented on #21019
@svor I didn't see the notification

the error is coming from Kubernetes API
a metadata name is not "any string"

[2022-01-21 15:53] RomanNikitenko commented on #20861
I detected that the system hangs on `getDeployedPluginIds` step.
It looks like frontend waits for the backend at that step:

<img width="943" alt="Screenshot 2022-01-21 at 14 00 43" src="https://user-images.githubusercontent.com/5676062/150525329-9090b737-ca72-434c-959d-3989462826aa.png">

I investigated the problem using `minikube` locally on my machine. As you can see the delay for my machine is

[2022-01-21 16:48] olexii4 opened #21054 "The plugin list is empty if the target workspace was created from one of the samples"
### Describe the bug

The plugin list is empty if the target workspace was created from one of the samples.

After this [PP](https://github.com/eclipse-che/che-dashboard/pull/429), devworkspaces created from samples use generated resources(DevWorkspace and DevWorkspaceTemplate) without any changes. On the other hand, devworkspaces created from devfiles have injected these environment variables for

[2022-01-21 17:09] olexii4 opened #21055 "Unexpected errors during creating a workspace from the Python Django sample"
### Describe the bug

Unexpected errors during creating a workspace from the Python Django sample if devworkspace enabled.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse-CHE.
2. Open the 'Create Workspace' page.
3. Click on 'Python Django' sample.

The error message '...Could not retrieve mainUrl for the running workspace.' will be shown.

### Expected beha

[2022-01-21 17:10] ibuziuk commented on #21045
@madeinindiadot hello, could you please clarify what version of the Eclipse Che are you using. Logs from operator and dashboard pods would also help

@tolusha could you please confirm that in the latest Eclipse Che we do not support keycloak anymore

[2022-01-21 17:15] ibuziuk commented on #21049
@sparkoo could you please take a look?

[2022-01-21 17:44] olexii4 opened #21056 "[UD] It is not possible to restart failed factory flow"
### Describe the bug

It is not possible to restart factory flow when it failed during a previous run.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse-CHE with devWorkspace enabled.
2. Open the 'Create Workspace' page.
3. Slow down the Internet.
4. Click on the sample 'python-django' (or another one).

	The error message "Devworkspace failed to progress past

[2022-01-21 20:02] madeinindiadot commented on #21045
Eclipse Che Version    : 7.42.0
I was able to authenticate using my external keycloak. I followed the documentation from here
https://www.eclipse.org/che/docs/che-7/overview/introduction-to-eclipse-che/

Also one of the things I see is that even though the strategy is single-host, I see a different ingress getting created for workspace. Is this cause of concern. Also please let me know if there is

[2022-01-22 00:26] #13741 closed

[2022-01-22 00:26] #15627 closed

[2022-01-22 00:26] #16893 closed

[2022-01-22 00:26] #16977 closed

[2022-01-22 00:26] #18753 closed

[2022-01-22 00:26] #19692 closed

[2022-01-22 00:26] #20097 closed

[2022-01-22 00:26] #20139 closed

[2022-01-22 00:26] #20147 closed

[2022-01-22 23:58] jlhawkins-stuff opened #21057 "v7.42.0 OIDC Discovery URL"
### Describe the bug

Upgrading CHE from 7.40.0 to 7.42.0 causes gateway (aka traefik) to fail oauth-proxy

### Che version

7.42@latest

### Steps to reproduce

[code]
# New gateway 7.42.0 pod:

![image](https://user-images.githubusercontent.com/19364352/150659161-f36dd3c3-0fc6-45b7-a10e-bcfb65074995.png)

### Expected behavior

https://keycloak-eclipse-che.che.example.com/auth/realms/che/.well-k

[2022-01-23 00:27] #15016 closed

[2022-01-23 00:27] #18803 closed

[2022-01-23 00:27] #20153 closed

[2022-01-23 02:16] l0rd commented on #20622
This doesn't work for me. I am trying on next channel but preferences are not persisted. I have started a workspace, I set git user name and email, I have changed the theme but when the workspace is restarted these preferences are lost. Reopening.

[2022-01-23 14:46] amomra opened #21058 "Workspace metrics not working"
### Describe the bug

The resource monitor doesn't show the CPU and memory usage:
![image](https://user-images.githubusercontent.com/11981363/150682802-31ce82a6-2733-447e-8206-fedfa2869057.png)

The ``che`` pod log keeps showing the following message: Unable to add metrics roles due to insufficient permissions. Workspace metrics will be disabled.

After doing some tests I found that if I add the r

[2022-01-23 15:17] amomra commented on #21058
After I added the required cluster role for ``che`` service account the metrics roles in the workspace was created automatically:
[code]

[2022-01-23 17:55] madeinindiadot commented on #21045
@ibuziuk please let me know if you have any updates on the above questions. Thanks in advance

[2022-01-23 20:28] j0eW opened #21059 "Create custom workspace from private gitlab"
### Summary

Hello,

I am trying to create a custom workspace from a private gitlab repository. I followed the instructions in the [documentation](https://www.eclipse.org/che/docs/che-7/end-user-guide/authenticating-on-scm-server-with-a-personal-access-token/#configuring_gitlab_authentication_che) but when i try to create a new workspace from git repo i get following error message:

`Danger alert:

[2022-01-24 00:27] #19900 closed

[2022-01-24 00:27] #20161 closed

[2022-01-24 06:07] skabashnyuk commented on #21059
Do you have devfile v1 or v2 in your repository?
Can you share the form how your **gitlab** configuration secret looks like?

[2022-01-24 07:08] benoitf commented on #20223
With DevWorkspace engine and single-container for plug-ins we've reduced the number of containers

DevWorkspace being the default engine starting with 7.42.0, we can close the issue.

[2022-01-24 07:08] #20223 closed

[2022-01-24 07:52] #20982 closed

[2022-01-24 08:55] tolusha commented on #21057
Hello @jlhawkins-stuff
Eclipse Che versions v7.40.x and v7.42.x are not backward compatible.
It is not possible to deploy a lower versions of Eclipse Che with chectl 7.42.x (https://github.com/eclipse/che/issues/21001)
So, pls use chectl 7.40.x https://github.com/che-incubator/chectl/releases/tag/7.40.2

[2022-01-24 09:16] vzhukovs commented on #21029
Solution 2 is more convenient, but requires more time for implementation on initial step. As far as we need some mechanism for manipulating with Devfile and XML configurations (run configurations in JetBrains IDEs), it will be better to create a simple library in Kotlin that can parse Devfile to fetch necessary information about commands, that can be used in simple command adapter on step 2 and st

[2022-01-24 09:23] tolusha commented on #21045
@ibuziuk
Keycloak is not a case since 7.42.0

[2022-01-24 09:27] sparkoo commented on #21049
@nils-mosbach It's not only about Dex being more lightweight then Keycloak. With devworkspaces being Kubernetes objects, we need somehow control access to them. So we need to set Kubernetes RBAC rules so that only devworkspace owner has an access. For that we need Kubernetes to know the user, thus we require Kubernetes to be configured with OIDC.

So for devworkspace engine (default since 7.42 I t

[2022-01-24 09:34] azatsarynnyy commented on #21029
I'm ok with a Kotlin library for the Devfile-related operations. As we will need it anyway for deeper integration of JetBrains IDE's with Che.
Unless we already have a similar Java library.
@benoitf do you happen to know if there's a Java library for Devfile stuff?

[2022-01-24 09:39] nils-mosbach commented on #21049
@sparkoo Thanks! Makes sense. As soon as I got this working, I'll drop a summary what was necessary for Rancher deployed clusters here. Maybe that helps others as well.

Do you have an idea what could be the issue?

[2022-01-24 09:48] tolusha commented on #17012
There is no way to deploy Eclipse Che with tls disabled since 7.43.0

[2022-01-24 09:48] #17012 closed

[2022-01-24 09:50] tolusha commented on #17090
There is no way to deploy Eclipse Che with TLS disabled since 7.43.0
All existed deployments will be automatically upgraded to use TLS

[2022-01-24 09:50] #17090 closed

[2022-01-24 10:05] sparkoo commented on #21049
It looks like kubernetes is not properly configured with oidc. If you see login page and can actually login and you're redirected to dashboard page, oidc server and che configuration should be fine.

`io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: https://10.43.0.1/api/v1/namespaces/workspace-nm-33j87e/secrets/workspace-credentials-secret. Message: Unauthorized!

[2022-01-24 10:46] Divine1 opened #21061 "need documentation on configuring minikube with gitlab"
### Is your task related to a problem? Please describe

there is no documentation that shows how to configure minikube with gitlab.

i can see the documentation for configuring minikube with github (https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-minikube-github-authentication/)

### Describe the solution you'd like

if there is documentation on how to configure minikube wi

[2022-01-24 11:07] musienko-maxim opened #21062 "Investigate instability of activating breakpoint in HappyPath test"
### Is your task related to a problem? Please describe

When we launch the HappyPath test for verification PRs in PROW CI ifra. we check the debugger functionality (set breakpoint, activating breakpoint, check info in debugger treads). But sometimes the breakpoint is not activated in Petclinic app.

### Describe the solution you'd like

On the first step we can add additional logs into a request f

[2022-01-24 11:45] svor commented on #20622
for some reason `colorTheme` preferences were overridden after restarting , other preferences where restored without problems:

https://user-images.githubusercontent.com/1271546/150776894-c3f83b62-a0ec-4cc6-98ff-fb231f80217d.mp4

[2022-01-24 12:08] l0rd opened #21063 "Check that workspaces start successfully with OCP 4.10 Console samples"
### Is your enhancement related to a problem? Please describe

The devfiles included in OCP samples have been updated recently (for [v4.10](https://github.com/openshift/console/pull/10394) and [v4.9](https://github.com/openshift/console/pull/10620), see the issue for [reference](https://github.com/devfile/api/issues/666)).

In particular those devfiles have a [parent](https://github.com/devfile-sa

[2022-01-24 12:22] l0rd commented on #20622
@svor I forgot to mention that I had setup gitcredentials secret with my github token in my namespace. That may have an effect on git user name and email.

[2022-01-24 12:26] svor commented on #20622
some investigation around `clolorTheme`: I've tried to set `colorTheme` on old version of Che 7.40.2 and see the same bug that preference is overridden:

https://user-images.githubusercontent.com/1271546/150781996-d4918ddb-96b5-4f07-a708-c52b8c462874.mp4

[2022-01-24 12:26] vzhukovs opened #21064 "Implement kotling library to support basic operations with Devfile"
### Is your task related to a problem? Please describe

There is a need to create a library written in kotlin, that will handle Devfile.
This library will allow to parse Devfile content and be the communication layer between the Devfile and run configuration adapter for providing configurations for JetBrains IDEs.

Main task solving under current issue is providing Devfile commands as run configur

[2022-01-24 12:35] ibuziuk commented on #21063
related devworkspace issue - https://github.com/devfile/devworkspace-operator/issues/752

[2022-01-24 13:46] benoitf commented on #21029
Hello, as Jetbrains is part of devfile specification I think it it would make sense to get their feedback on how they'll handle that part

Anyway, there is a javascript library that is generated from the schema
So I think it could generate as well java stuff

https://github.com/devfile/api/blob/main/.github/workflows/release-typescript-models.yaml

https://github.com/devfile/api/blob/main/build/ty

[2022-01-24 13:51] madeinindiadot commented on #21045
@tolusha  But I dont see any errors on keycloak. Authentication seems fine with keycloak only the routing is issue. Does this mean internal JWT auth is failing when navigating to workspaces?

[2022-01-24 14:40] svor opened #21065 "Color Theme preferences are reset after workspace restarting"
### Describe the bug

After each restart of the workspace, preferences of Theia Theme Color are set to default:
[code]
It is reproducible with devworkspace and che-server engine.

### Che version

7.42@latest, next

### Steps to reproduce

1. Start any workspace and change Color Theme preference to Light (Theia), It cold be done: File -> Settings -> Color Theme
2. See that the Theme was applied an

[2022-01-24 14:47] svor commented on #20622
@l0rd @vinokurig I've created another issue about restoring Theme Color preferences #21065
It's reproducible with older versions of Che and I don't think it's related to the current work.

[2022-01-24 15:26] svor commented on #20174
/remove-lifecycle stale

[2022-01-24 16:18] guydog28 commented on #21049
Looking at the code, woud this check fail when the oidc args are listed under args and not commands?  not sure exactly how the go api works for that.  in our deployment the command is just the command and everything else, including oidc settings are under args, and we fail the check.

[2022-01-24 18:25] svor commented on #21057
@jlhawkins-stuff could you please explain why do you want to use chectl v7.41.1 to deploy lower version of Che?

[2022-01-24 18:32] svor commented on #21058
@amomra thank you for your investigation.
It's duplicate of https://github.com/eclipse/che/issues/20800 and should be fixed when devworkspace-operator v0.12.0 is released https://github.com/devfile/devworkspace-operator

[2022-01-24 18:32] #21058 closed

[2022-01-24 18:40] vinokurig commented on #20622
Yes, the problem is that `gitconfig` is not stored when workspace stops, but I am not sure if this is related to this issue.

[2022-01-24 19:27] svor commented on #21061
@Divine1 i think the documentation you are looking for will be updated/added by https://github.com/eclipse/che-docs/pull/2202

[2022-01-24 19:52] nils-mosbach commented on #21049
Getting closer... :)
Thanks, using the same client id actually helped. I got a little bit confused since kube api server doesn't allow setting an OAuth secret and Che/Oauth2 proxy enforces one. But it seems that the kube api server doesn't need one even for protected clients.

We've tested kubectl login with an cluster admin account and tried to use "regular"-user accounts for che. While digging a

[2022-01-24 21:27] jlhawkins-stuff commented on #21057
@svor Fresh installs of che 7.42.0 using chectl 7.42.0 wasn't installing an OIDC (keycloak).  Which required using the `--skip-oidc-provider-check` option to deploy.  I downgrade chectl and was able to deploy the server with keycloak.

@tolusha Che 7.40.0 was deployed with chectl 7.41.1.  That deployment was successful.  chectl was updated to 7.42.0, then the server was updated to 7.42.0. That upd

[2022-01-25 02:50] filipthoen2 opened #21066 "Che installation in Docker Desktop (Windows) - how to access Che dashboard"
### Summary

Hey CHe community!

First time user here - I installed Che in Docker Desktop (Windows) today & after a few misfires (the 'PostgreSQL pod bootstrap' post installation step bailing due to:

Cause: Error: Eclipse Che operator failed, reason: InstallOrUpdateFailed, message: no matches for kind "Issuer" in version "cert-manager.io/v1". Consider increasing error recheck timeout with --k8spo

[2022-01-25 07:28] skabashnyuk commented on #21061
If I understand correctly @Divine1, he want's an example of how to set up `dex` for GitLab authentication. So the whole k8s cluster authentication would be connected to Gitlab.

@Divine1 did you already try that? Did you have any issues to setup Gitlab in this role?

[2022-01-25 07:33] skabashnyuk commented on #20946
The best UX at this point that doesn't break your privacy is OAuth2 integration.
See more https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-authorization/#configuring-github-oauth_che

[2022-01-25 08:22] l0rd commented on #20986
I have raised that to P1. @dmytro-ndp can you confirm that you are not able to fix that and that you require engineering to look at it?

[2022-01-25 08:28] svor commented on #20175
/remove-lifecycle stale

[2022-01-25 08:30] svor commented on #20173
/remove-lifecycle stale

[2022-01-25 08:52] Divine1 commented on #21061
@skabashnyuk yes you understood correctly.

currently im checking if `github` oauth integration is working fine.  Once its done i thought of using below configuration for `gitlab` by editing the configMap and updating below information `kubectl edit configmap dex -n dex`

[code]

[2022-01-25 08:55] sunix commented on #20175
Maybe get inspiration from https://github.com/eclipse-che/che-devfile-registry/blob/62b7dbdbbd0e359361cb6e61a9059dc9fbc8e617/devfiles/quarkus/didact.md

[2022-01-25 09:00] benoitf commented on #20175
Walkthroughs can be contributed by extensions:

https://code.visualstudio.com/api/references/contribution-points#contributes.walkthroughs

[2022-01-25 09:03] nils-mosbach commented on #20963
Next branch of the che-operator solves the issue in my case. Thanks!

[2022-01-25 09:03] #20963 closed

[2022-01-25 09:04] nils-mosbach commented on #20965
Next branch of the che-operator solves the issue in my case. Thanks!

[2022-01-25 09:04] #20965 closed

[2022-01-25 09:06] skabashnyuk commented on #21061
@Divine1 ok. And what do you get as a result? Is there an error somewhere?

[2022-01-25 09:16] benoitf commented on #21018
closing as library has been updated and is now in use by Dashboard

[2022-01-25 09:16] #21018 closed

[2022-01-25 09:31] sunix commented on #20175
@benoitf nice !

[2022-01-25 09:41] terioshan commented on #21041
@tolusha Thank you very much for pointing to that additional configuration flag.
It's usage helped to resolve the issue!

[2022-01-25 09:46] tolusha commented on #21041
Cool! Nice to hear

[2022-01-25 09:46] #21041 closed

[2022-01-25 10:08] svor commented on #21043
should be fixed by https://github.com/eclipse-che/che-dashboard/pull/446

[2022-01-25 10:27] skabashnyuk commented on #21061
connectors are looks like on the same level with the `data` field of configMap. I believe it should be inside `config.yaml`.

[2022-01-25 10:56] tolusha commented on #21057
@jlhawkins-stuff
It should not be possible to update 7.40.0 to 7.42.2.
Either use 7.41.2 version or deploy 7.42.0 from the scratch (see some discussion here https://github.com/eclipse/che/issues/21049)

[2022-01-25 11:40] Divine1 commented on #21061
@skabashnyuk

yes , you are right. i updated the configmap as per your suggestion, it the gitlab oauth authentication was successful.

below is the config file which i used for github auth integration with dex. Now i'm going to try oauth integration with gitlab by following the same detail for github.
[code]

[2022-01-25 11:50] nils-mosbach opened #21067 "Devworkspace - generateName in devfile throws error"
### Describe the bug

`generateName` property does not work. It seems that something broke during the work of v1 to v2 conversion.

[code]

![image](https://user-images.githubusercontent.com/15126675/150971417-c5f8299a-8f76-454b-92fe-8ad6df2f9eb8.png)

Devfile i used:

[code]

### Che version

7.42@latest

### Steps to reproduce

Run a devfile that should generate the workspaces' name.

### Expect

[2022-01-25 12:02] skabashnyuk commented on #21061
FYI. gitlab for devworkspaes is not yet merged. See more https://github.com/eclipse-che/che-server/pull/195

[2022-01-25 12:03] Divine1 commented on #21061
@skabashnyuk  is there any solution available which i can follow now?

[2022-01-25 12:03] ibuziuk commented on #21063
Currently the samples are failing during workspace startup with

![image](https://user-images.githubusercontent.com/1461122/150973759-7adcdd54-5b5f-4ee1-88a8-c2e7a2f4baa4.png)

[2022-01-25 12:19] dmytro-ndp commented on #20986
@dmytro-ndp: actually, Happy path tests are failing on getting Che token, which is not supported in DevWorkspaces mode https://github.com/che-incubator/che-deploy-action/blob/f1620c03083453db63e4940bedab79540ac77817/src/che-helper.ts#L119

Looks like Happy path tests specific problem, which doesn't require developers help at the moment.

[2022-01-25 12:26] sparkoo commented on #21049
That's great information for us. Can you please create an issue so we can improve the check? Or you can propose PR yourself.

cc: @tolusha

[2022-01-25 12:46] skabashnyuk commented on #21061
you can build custom che-server image from https://github.com/eclipse-che/che-server/pull/195

[2022-01-25 12:50] sparkoo commented on #21049
@nils-mosbach looks promising. Seems like you're logged with the user that kubernetes knows. I would not recommend to set cluster-admin permissions for the user. In general, Che should set all needed permissions for user during the namespace provisioning (che-dashboard request to che-server). Do you create namespace yourself or is it created by Che?

The permissions are created in https://github.c

[2022-01-25 13:41] #21057 closed

[2022-01-25 14:06] Divine1 commented on #21061
@skabashnyuk  thanks a lot for this info.

What steps should i follow to build a custom che-server image from [eclipse-che/che-server#195](https://github.com/eclipse-che/che-server/pull/195) ?

[2022-01-25 14:15] Divine1 commented on #21061
@skabashnyuk  thank you.

after step5 what should i do?

[2022-01-25 14:47] l0rd commented on #20622
I create a secret:

[code]

[2022-01-25 15:00] benoitf opened #21068 "Eclipse che blog posts have incorrect summary fields"
### Describe the bug

on https://ecdtools.eclipse.org/resources/blogs/ the Eclipse Che articles contains invalid summary as it's based on the excerpt of the blog post

example
![image](https://user-images.githubusercontent.com/436777/151001195-7fd26fd6-b89f-49ff-90c7-06b70719ae06.png)

### Che version

next (development version)

### Steps to reproduce

Browse https://ecdtools.eclipse.org/resource

[2022-01-25 15:41] benoitf commented on #21068
fixed on https://ecdtools.eclipse.org/resources/blogs/

[2022-01-25 16:06] akurinnoy opened #21069 "The User Dashboard should better handle errors happened during bootstrap"
### Describe the bug

The UD shows a blank page when the request to `api/kubernetes/namespace/provision` returns status code 500.

### Che version

next (development version)

### Steps to reproduce

[code]

### Expected behavior

The UD shows an error page with a meaningful description.

### Runtime

minikube

### Screenshots

<img width="1786" alt="Screenshot 2022-01-25 at 17 50 19" src="https:/

[2022-01-25 16:26] Divine1 commented on #21061
@skabashnyuk  i'm not able to checkout the branch you have shared. is that branch merged and deleted?

[2022-01-25 16:35] benoitf opened #21070 "'chectl login' command in the dashboard should not be there anymore"
### Describe the bug

In dashboard we can click on the account and then 'Copy chectl login command'

But this command has been removed in chectl with DevWorkspace engine, so it should be removed from the dashboard

### Che version

next (development version)

### Steps to reproduce

Go to the dashboard and click on the account

### Expected behavior

No login command should be displayed
(now there

[2022-01-25 16:43] benoitf opened #21071 "chectl displays wrong username/password when using minikube platform"
### Describe the bug

Install minikube and then che with chectl

[code]

then in important messages there are
[code]

but `✔ Admin user login          : "admin:admin". NOTE: must change after first login.` is not working with dex (there is a che@eclipse.org/admin user)

### Che version

next (development version)

### Steps to reproduce

[code]

look at important messages

### Expected behavior

R

[2022-01-25 17:43] Divine1 commented on #21061
@skabashnyuk

i cloned the `main` branch from [eclipse-che/che-server](https://github.com/eclipse-che/che-server.git)
then i executed the `mvn install` command and built the image

the installed the image using below command.
`chectl server:deploy --cheimage=quay.io/eclipse/che-server:next --platform=minikube`

but i received the `keycloak url` in the installation logs instead of `dex` related con

[2022-01-25 18:37] svor opened #21072 "[plugin-registry-generator] Improve plugin registry generator"
### Is your task related to a problem? Please describe

For now if execute plugin-registry-generator tool in the folder which is not a git repository, it will fail with error:
[code]

### Describe the solution you'd like

In case if parameter `--skip-digest-generation` was set as **true** we can skip code which requires `simple-git` library

[2022-01-25 20:13] barrygear commented on #21057
I was watching this because it is happening to me as well but it got closed! I simply upgraded from 7.38 to 7.42 and the fourth container (the oauth-proxy) pod fails trying to fetch `https://<host>/auth/.well-known/openid-configuration` instead of `https://<host>/auth/realms/che/.well-known/openid-configuration`. If I change `.spec.auth.identityProviderURL` to  `https://<host>/auth/realms/che` it

[2022-01-26 06:02] jlhawkins-stuff opened #21073 "Fresh 7.42.0 install gets 500 error accessing dashboard"
### Describe the bug

After a fresh install of Che 7.42.0 on Kubernetes using gitlab as OIDC.

### Che version

7.42@latest

### Steps to reproduce

[code]

configure application on gitlab (cloud SASS version)
![image](https://user-images.githubusercontent.com/19364352/151108215-133fe16e-9b18-410d-9f53-ef08149c44ed.png)

Navigate to `https://che.example.com`

- presented with gitlab.com login
- us

[2022-01-26 07:12] tolusha commented on #21070
It must completely removed from the dashboard since there is no anymore `chectl auth:login` command

[2022-01-26 08:11] benoitf opened #21074 "Unable to skip untrusted certificate on minikube/Chrome"
### Describe the bug

Usually, when browsing into an untrusted website, we can add exception to the website in advanced menu

But with Che/minikube, there is no such option, we have a message

[code]

### Che version

next (development version)

### Steps to reproduce

1. install minikube
2. launch Chrome / Version 97.0.4692.99 (Official Build) (x86_64)
3. try to continue from Chrome, it's impossi

[2022-01-26 09:00] dmytro-ndp commented on #20985
Here an example of switch to DevWorkspace: https://github.com/eclipse-che/che-operator/blob/main/.ci/oci-devworkspace-happy-path.sh

[2022-01-26 09:19] #21071 closed

[2022-01-26 09:32] benoitf commented on #20986
`che-deploy-action` is now fixed for DevWorkspace mode (but there is still happy path action to fix)

[2022-01-26 09:41] dmytro-ndp commented on #20986
@benoitf: thank you!
Let me fix `happy-path-tests-action` then.

[2022-01-26 09:59] l0rd commented on #21074
@benoitf can you confirm that you have that on a private browser tab? And that happens before you authenticate with Dex right?

[2022-01-26 10:02] l0rd commented on #21073
@skabashnyuk do we support Gitlab SAAS or only on prem?

[2022-01-26 10:07] skabashnyuk commented on #21061
@Divine1 FYI. I've just merged https://github.com/eclipse-che/che-server/pull/195. Soon it has to be built by our CI.

[2022-01-26 10:09] skabashnyuk commented on #21073
only on-prem for sure. We didn't test SAAS.

[2022-01-26 10:20] benoitf commented on #21074
yes it happens on all Chrome tabs

https://user-images.githubusercontent.com/436777/151145743-55737f23-05cc-425c-8622-078e5bc18a26.mp4

I just installed che on minikube with chectl and I'm clicking on the dashboard link, that's all

[2022-01-26 10:42] tolusha commented on #20984
@sparkoo
Could you have a look pls.
It should work out of box but instead we have the similar problem like this https://github.com/eclipse/che/issues/21049

[2022-01-26 11:00] benoitf opened #21075 "chectl should use latest LTS node release"
### Is your enhancement related to a problem? Please describe

Today, chectl is using nodejs 12 while this version is not the active LTS release (there was nodejs 14 and now it's 16)

https://nodejs.org/en/about/releases/

nodejs 12 EOL is in 3 months 2022-04-30

### Describe the solution you'd like

Use newer version of nodejs: 16

### Describe alternatives you've considered

_No response_

### A

[2022-01-26 11:13] tolusha commented on #21074
Strange
Google Chrome | 97.0.4692.99 (Official Build) (64-bit)
It allows to accept
![Screenshot from 2022-01-26 13-12-23](https://user-images.githubusercontent.com/1640675/151153379-1a92bbdb-fcce-49c8-badf-d79991a26d9d.png)

[2022-01-26 11:17] nils-mosbach commented on #21049
I think we finally found the issue which caused it.

Kubernetes uses `sub` as the default value for mapping user names with keycloak. We changed that to 'email'. Che-Server uses `name` by default.

It seems that in the users table there's is a colum that contains the `name` which che will use for creating rolebindings. Even I tried setting  `CHE_OIDC_USERNAME__CLAIM` that had no effect since that

[2022-01-26 11:24] nils-mosbach commented on #21049
For others reading this, setting everything up on rancher was quite simple.

## Deploy keycloak

* Deploy keycloak using an ssl certificate (e.g. `https://auth.company.dev`)
* Create a realm (e.g. `git-dev`)
* Create a client for kubernetes (e.g. `kubernetes`)

Note that this client must be used by che and kubernetes and must be protected. Otherweise OAuth2-Proxy will throw an error that secret mu

[2022-01-26 11:34] benoitf commented on #21074
I've the same error using Edge

I got 'proceed' on the first page and I clicked on proceed then it redirected to dex and it failed with the same message

![image](https://user-images.githubusercontent.com/436777/151156163-7e5d3fda-d9b5-4259-b052-f5005131cd8e.png)

[2022-01-26 13:46] benoitf commented on #21074
retried using latest minikube version (1.25.1)

[code]

[code]

So I still have proceed option on dashboard but not on dex

https://user-images.githubusercontent.com/436777/151174265-8305f69f-2f76-4fac-a215-c043dabefc5d.mp4

[2022-01-26 13:48] benoitf commented on #21074
I can open https://192.168.64.81.nip.io/plugin-registry/v3/ (with proceed option) or https://192.168.64.81.nip.io/devfile-registry/

but not the https://dex.192.168.64.81.nip.io page

[2022-01-26 14:17] #21054 closed

[2022-01-26 14:57] metlos commented on #20884
For `CheCluster` v1, I'd definitely avoid any restructuring, because that would be breaking the compatibility with `CheCluster` resources preexisting in the cluster. So for v1, I'd slot these under `spec.server`. For v2, we can pick any place we want.

[2022-01-26 15:09] tsadigovAgmail opened #21076 "error starting with out of the box configs"
### Summary

trying to start che on ubuntu minikube

authorization server does not start

and I get https result 503 when trying to access che

### Relevant information

kubectl logs pod/che-gateway -n eclipse-che -c auth-proxy

[main.go:54] invalid configuration : idc provider requires an oidc issuer url

[2022-01-26 15:26] vinokurig opened #21077 "GitHub OAuth flow is going into infinite loop if wrong configuration"
### Describe the bug

After setup the GitHub oAuth provider and using a factory with private repo browser goes into a refresh loop.

### Che version

next (development version)

### Steps to reproduce

1. [Configure GitHub oAuth](https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-authorization/#configuring-github-oauth_che)
2. Create factory wit a private repo url.
3. See: bro

[2022-01-26 15:41] nils-mosbach opened #21078 "Che-Operator/DWO - NPE if provisioning two public endpoints on k8s"
### Describe the bug

Che Operator keeps crashing while deploying new devworkspaces that contain public ports.

It seems that this is caused by handling DevWorkspaceRoutings.

[code]

We have a workspace that contains ~5 docker images for applications like a database that's used for development. Two ports are  made public.
Sometimes after a couple of minutes and multiple operator restarts the work

[2022-01-26 16:53] vinokurig commented on #20622
I tried to create the secret by oAuth flow but this is brocken: https://github.com/eclipse/che/issues/21077
When I tried to manually create the secret and restart the workspace I had such errors:
![screenshot-192 168 64 132 nip io-2022 01 26-18_51_31](https://user-images.githubusercontent.com/7668752/151209074-dc60fba8-c223-43f9-9cb6-2d042209ec2f.png)

[2022-01-26 17:06] Divine1 commented on #21061
@skabashnyuk thank you for this update.
in which version of the software will this fix be available?
once this CI build is completed will i be able to install via `chectl`  command?
is it released now?

[2022-01-26 17:08] #21072 closed

[2022-01-26 19:04] jlhawkins-stuff commented on #21073
Setup an app with auth0.com as a single page app and instead of 500 error.  I just get a blank white webpage.
https://che.example.com/dashboard/#/create-workspace?tab=quick-add

Probably a different issue so closing.

[2022-01-26 19:04] #21073 closed

[2022-01-26 19:31] #21049 closed

[2022-01-26 22:53] l0rd commented on #21074
@sparkoo @skabashnyuk do you have any clue?

[2022-01-26 23:10] l0rd commented on #21077
@ibuziuk @olexii4 @akurinnoy I am setting that as a blocker as it looks like it's not possible to use Che with private repositories anymore.

[2022-01-26 23:19] l0rd commented on #21067
Thank you @nils-mosbach for reporting this issue. If you are interested in contributing a fix the libary that does the v1 to v2 convertion is [here](https://github.com/che-incubator/devfile-converter).
cc @benoitf

[2022-01-26 23:24] l0rd commented on #21078
@nils-mosbach thank you for reporting this issue. Can you share the devfile your are using to create the workspace?

cc @tolusha @skabashnyuk @metlos labelling this as `area/devworkspace-che-operator` as it seems relate to dw routing, feel free to change it if that's not the case.

[2022-01-26 23:30] l0rd commented on #21076
@tsadigovAgmail please provide more informations:

- How are you installing Che (provide the exact commands)?
- What version of minikube are you using?
- Please share installation logs

[2022-01-27 03:06] chess3cake commented on #21066
I have same error in minikube.But if I specify --version=7.41.0, everything is ok
Just like this:
chectl server:deploy --platform=minikube --version=7.41.0

[2022-01-27 03:11] tsadigovAgmail commented on #21076
What version of minikube are you using?
minikube version: v1.25.1
commit: 3e64b11ed75e56e4898ea85f96b2e4af0301f43d

How are you installing Che (provide the exact commands)?
minikube start --addons=ingress  --disk-size=80G  --memory=15192  --cpus=5
kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml
chectl server:deploy  --k8spoddownloadimagetimeout=

[2022-01-27 03:23] tsadigovAgmail commented on #21076
out put of the chectl
    ❯ Eclipse Che Server pod bootstrap
      ✔ Scheduling...done
      ✔ Downloading images...done
      ✖ Starting...failed
        → Failed to start a pod, reason: Error, exitCode: 137

`$ cat /home/tural/.cache/chectl/error.log
2022-01-26T22:01:16.203Z Error: Command server:deploy failed. Error log: /home/tural/.cache/chectl/error.log.
2022-01-26T22:01:16.203Z     at newEr

[2022-01-27 03:26] tsadigovAgmail commented on #21076
che.log

Using embedded assembly in /home/user/eclipse-che.
Found a custom cert. Adding it to java trust store /home/user/cacerts based on /opt/java/openjdk/lib/security/cacerts
Trust this certificate? [no]:  Certificate was added to keystore
NOTE: Picked up JDK_JAVA_OPTIONS:  --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.util=ALL-

[2022-01-27 05:34] filipthoen2 commented on #21066
Thanks, chess3cake! The deployment goes much smoother & I get less errors during the deploy step.

I noticed that in my previous deploys, chectl ended up with the following URL:

https://192.168.56.1.nip.io/dashboard/

This doesn't make sense -- 192.168.56.1 was actually the default address of the VirtualBox network bridge I've installed on my laptop. I've disabled the network in Windows, hoping c

[2022-01-27 06:18] skabashnyuk commented on #21061
7.43

[2022-01-27 06:24] Divine1 commented on #21061
@skabashnyuk how do i install `7.43` using `chectl`?

[2022-01-27 06:58] skabashnyuk commented on #21061
`chectl update next` ?

[2022-01-27 07:18] benoitf commented on #21067
I think I already fixed that in the converter library but the upgrade of the devfile converter library in che is still pending on https://github.com/eclipse-che/che-dashboard/pull/441

I'll check

[2022-01-27 07:26] benoitf opened #21079 "Update devfiles to use PROJECT_SOURCE instead of PROJECTS_ROOT"
### Is your enhancement related to a problem? Please describe

most of our devfiles are single-project based.

so we should try to avoid to use PROJECTS_ROOT variable that is pointing to the parent folder of the project but use instead PROJECT_SOURCE variable that is pointing to the first project of the devfile.

Issue when using PROJECTS_ROOT is that if someone fork a repository and rename the re

[2022-01-27 08:02] tolusha commented on #21076
Pls, provide a full chectl installation log

[2022-01-27 08:11] Divine1 commented on #21061
i did a fresh installation of eclipse-che on minikube. i receive below error now. how to resolve this error?

ubuntu 18.04 - 64bit

`minikube start --driver=docker --memory=8192`

`chectl server:deploy --platform minikube --installer=operator`

![image](https://user-images.githubusercontent.com/10482177/151317529-9559f0d4-4b47-4115-8714-3f30660836fa.png)

this is the chectl version that i use curr

[2022-01-27 08:40] ibuziuk commented on #21077
Thanks for reporting. @vinokurig is it reproducible against the dogfooding instance for you, since I was not able to repro?
@olexii4 @akurinnoy could you please take a look?

[2022-01-27 08:49] benoitf opened #21080 "Handle all terminal options using Che-Code"
### Is your enhancement related to a problem? Please describe

There is a basic implementation of terminal across different containers of a pod using machine-exec

but it's lacking some features, like displaying the current terminals when reloading the window (it should display again the launched terminals)

There is also resize option and few other that are not implemented

### Describe the solut

[2022-01-27 09:16] Divine1 commented on #21061
@skabashnyuk  the installation is successful now. i deleted the minikube cluster, then followed below steps. i inferred this by looking around for solutions for the error's i posted in the previous comment.

1. `minikube start --driver=docker --memory=8192` (leave out ingress add-on and do it manually later)
2. `chectl server:deploy --platform minikube --installer=operator --debug` (this command w

[2022-01-27 09:55] skabashnyuk commented on #21061
```eclipse-che```

[2022-01-27 09:55] nils-mosbach commented on #21078
@l0rd I've tried to create a simple example that causes the issue in our case.

https://github.com/nils-mosbach/devfile.io-demo-che-21078

It seems that Che-Operator crashes if the devfile contains a second public endpoint.

This one works: [devfile.works.yaml](https://github.com/nils-mosbach/devfile.io-demo-che-21078/blob/main/devfile.works.yaml)
This one fails: [devfile.yaml](https://github.com/

[2022-01-27 09:59] l0rd commented on #21078
cc @benoitf

[2022-01-27 10:04] Divine1 commented on #21061
@skabashnyuk

i have to remove Dex static users, delete all enablePasswordDB and staticPasswords sections from `kubectl edit configmap dex -n dex` configMap inorder to make the `oauth-gitlab-integration` successful, right?

![image](https://user-images.githubusercontent.com/10482177/151336756-b205d1da-5cea-4444-a0de-29f3213b5600.png)

[2022-01-27 10:07] skabashnyuk commented on #21061
There are two distinct topics. Gitlab as oidc provider for Kubernetes (eclipse che) authentication and the second one authentification of `git clone/push` operation. Wich one you are trying to solve?

[2022-01-27 10:50] Divine1 commented on #21061
@skabashnyuk

i have to verify/implement below 2 features..

1. Gitlab as oidc provider for Kubernetes (eclipse che)
2. the `devfile.yaml` file will be present inside my `gitlab.org.com`. the devworkspace should be able to open the `codeeditor` and clone the source code

[2022-01-27 12:38] skabashnyuk commented on #21061
ok. can we solve them one by one separately? at which one you are now?

[2022-01-27 13:06] tolusha commented on #21039
https://github.com/devfile/devworkspace-operator/pull/761

[2022-01-27 13:06] Divine1 commented on #21061
@skabashnyuk currently i'm doing `Gitlab as oidc provider for Kubernetes (eclipse che)`. but i need to know if i can remove Dex static users, delete all enablePasswordDB and staticPasswords sections from `kubectl edit configmap dex -n dex ` configMap

[2022-01-27 13:18] vinokurig commented on #21077
Closing as it was a problem on my side. Wrong copy paste :)

[2022-01-27 13:30] l0rd commented on #20831
@skabashnyuk can we close this issue or is there something to finish (like Gitlab SAAS support)?

[2022-01-27 14:06] vinokurig commented on #20622
So I managed to add a github token secret to the user namespace, and the `settings.xml` with the git settings was restored after workspace restart.

[2022-01-27 14:10] skabashnyuk commented on #20831
I think we can close this. Gitlab SAAS most likely should be a different task. It was not in the scope of this one.

[2022-01-27 14:10] #20831 closed

[2022-01-27 14:12] skabashnyuk commented on #21061
I think it's a matter of your choice to decide. If you don't want to keep them or something is not working  - you can remove them.

[2022-01-27 14:26] Divine1 commented on #21061
@skabashnyuk

i have applied the `gitlab-secret` in `eclipse-che` namespace

[code]

then i opened the `eclipse-che` website  `https://192.168.49.2.nip.io`, then logged-in using `che@eclipse.org / admin`

After login, i provided my repository containing valid devfile `https://gitlab.org.com/demoproject.git` -> clicked create button -> the `gitlab.org.com` sso screen appeared -> then i received inv

[2022-01-27 14:52] Divine1 commented on #21061
@skabashnyuk i added `https://192.168.49.2.nip.io/api/oauth/callback` to the redirectURL in `gitlab-outh` configuration under `applications` in `gitlab.org.com`. now the redirection works fine without any issue

i'm facing another issue,

When i remove Dex static users, delete all enablePasswordDB and staticPasswords sections from `kubectl edit configmap dex -n dex configMap` , the `dex` pod under

[2022-01-27 15:01] nils-mosbach opened #21081 "che-code terminal won't start"
### Describe the bug

The current version of che-code has issues establishing a terminal session in our case.

![image](https://user-images.githubusercontent.com/15126675/151383631-d608effa-2916-4ea5-b0e2-94ed730f3aa0.png)

I'm not sure if that helps, but default terminal is null in the settings.

![image](https://user-images.githubusercontent.com/15126675/151383732-000612ca-0032-4d5d-98d3-d46dbe8

[2022-01-27 15:11] skabashnyuk commented on #21061
I don't know

[2022-01-27 17:26] azatsarynnyy opened #21082 "Editors Sprint 214"
Timeframe: February 2 - February 22

## Sprint goals
- Add support for Devfile commands running by Che-Code
- Share (in the team) the knowledge of CRW-IDEA editor productization process to prepare for CRW-Code editor productization
- Better Che-IDEA UX: fewer dialog popups on Che-IDEA start

## Sprint tasks
#### CRW
- [x] Migrate `06_idea_rhel` devfile v1 to v2 [CRW#2686](https://issues.redhat.com

[2022-01-27 19:33] Divine1 opened #21083 "attempting to sync unrecognized object v1.Secret - error while cloning a repository containing `devfile.yaml` from `gitlab.org.com`"
### Summary

![image](https://user-images.githubusercontent.com/10482177/151430015-f4031473-8a4c-40fd-9572-08580f76af02.png)

i have installed above `eclipse-che` version in minikube cluster and installation is successful

i want to integrate `gitlab-oauth` with `eclipse-che`

l have applied below `gitlab-secret` in `eclipse-che` namespace.

[code]
then i opened the `eclipse-che` website `https://

[2022-01-27 19:42] Divine1 commented on #21061
@skabashnyuk  thanks a lot for the support, it helped me a lot. i'm looking forward to contribute to this project but not sure in which part i can do.

i will re-open a new ticket for a different issue but related to my above comment.
Have a great day,

[2022-01-27 19:42] #21061 closed

[2022-01-27 21:27] tsadigovAgmail commented on #21076
@tolusha  I minikube deleted and started again, here is the output
it didn't give error on the output, but still oauth container is down

tural@Ubuntu20Desktop:~/Desktop$ cat output3.txt
tural@Ubuntu20Desktop:~/Desktop$ minikube start --addons=ingress  --disk-size=80G  --memory=15192  --cpus=5
😄  minikube v1.25.1 on Ubuntu 20.04 (kvm/amd64)
✨  Automatically selected the docker driver
❗  Your cgrou

[2022-01-27 22:12] azatsarynnyy commented on #21081
I also have `null` set for the `Default Profile` setting:

![image](https://user-images.githubusercontent.com/1636395/151452060-482a049d-f468-4fdb-835a-0f6ae42f0f5c.png)

But the Terminal works well:

![image](https://user-images.githubusercontent.com/1636395/151452037-38138a45-72d6-419c-900b-a475327b882e.png)

Most likely, the problem is not related to the `Default Profile` setting.

[2022-01-27 22:15] azatsarynnyy commented on #21081
I was able to reproduce the same terminal state after stopping my Che Workspace:

![image](https://user-images.githubusercontent.com/1636395/151452561-03d06d14-38e6-4d53-a2ba-212b40ca0f91.png)

[2022-01-27 22:16] azatsarynnyy commented on #21081
@nils-mosbach could you please check if your Workspace is still running when you try to open a terminal

[2022-01-27 23:01] devstudio-release commented on #21003
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2683

[2022-01-27 23:02] devstudio-release commented on #20857
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2684

[2022-01-28 00:17] nils-mosbach commented on #21081
It is. Pod is running and I can open a terminal session and execute commands using kubectrl.

[2022-01-28 01:42] tsadigovAgmail commented on #21076
@tolusha started from ground up with new machine

here is the output

chectl server:deploy  --k8spoddownloadimagetimeout=60000000 --k8spoderrorrechecktimeout=60000000 --k8spodreadytimeout=60000000 --k8spodwaittimeout=60000000  --platform=minikube
› Installer type is set to: 'operator'
› Current Kubernetes context: 'minikube'
  ✔ Verify Kubernetes API...OK
  ✔ 👀  Looking for an already existing Ecl

[2022-01-28 06:29] benoitf commented on #21081
Hello @nils-mosbach ,

I don't know why I miss yesterday's notification
About

I think creating separate issues is the way to go and I also like the fact that you report problem. Feedback is always welcome

About the issue itself, looking at the code, it seems we're in this part of the code

https://github.com/che-incubator/che-code/blob/7dc338e79032a0fccab3d854aed99164916f398d/code/src/vs/workben

[2022-01-28 06:51] benoitf commented on #21083
related to https://github.com/devfile/devworkspace-operator/issues/751

[2022-01-28 07:55] Divine1 commented on #21083
thank you for the response.

how do i use `0.12.0 operator` or `next` channel to fix this issue ?

[2022-01-28 08:03] Divine1 commented on #21036
@skabashnyuk thanks a lot for your inputs. i'm closing this ticket as i have made significant progress in the question i had.

if anybody is reading this`question` in the future, please tag if you have doubts on this topic.

[2022-01-28 08:03] #21036 closed

[2022-01-28 10:17] nils-mosbach commented on #21081
@benoitf No worries, will do. Yes, I'm using Microsoft Edge on Windows. Workspace I've used was https://github.com/che-incubator/che-code.git. Debugging client code is a little messy, since Edge debugger tries to get ts-files from `/projects/.../` which does not work on my windows host machine. Anyway, I tried to get a little bit more on what's happening in the code using the compiled sources.

ht

[2022-01-28 10:20] benoitf commented on #21081
ok I guess `DEVWORKSPACE_CREATOR=` might be an issue for the code

[2022-01-28 10:52] #21075 closed

[2022-01-28 11:14] tolusha commented on #21076
Dex is supposed to be deployed on Minibube but I don't see that in the output.
I can't find the chectl version, so try `chectl update next` or `chectl update stable` (depending on versions your prefere)
then:
[code]

[2022-01-28 11:29] vinokurig commented on #20622
The `settings.json` file with git settings was successfully restored on openshift che either.

[2022-01-28 11:35] nils-mosbach commented on #21081
Seems that this wasn't causing the issue. I created a patch that doesn't set `DEVWORKSPACE_CREATOR` if its empty. There was another empty one `_BUILDAH_STARTED_IN_USERNS` which I overwrote in the devfile.

So after removing all empty envs, the error stays the same.

[2022-01-28 11:50] benoitf commented on #21081
ok so it would be interesting to know the root error in
https://github.com/che-incubator/che-code/blob/7dc338e79032a0fccab3d854aed99164916f398d/code/src/vs/workbench/services/configurationResolver/common/variableResolver.ts#L53-L62

[2022-01-28 12:01] sparkoo commented on #21074
I don't know why it is the case for dex. Maybe different kind of certificate? Different way how we use it in ingress?

[2022-01-28 12:16] sparkoo commented on #20984
hmm I've quickly looked at this, I can reproduce, but I don't know what's wrong. Token looks ok, permissions looks ok. I can't get the secret even if I try to use token with `curl`. My bet is something with kubernetes apiserver configuration with dex, because it looks like kubernetes does not know the user from the token. Maybe something new in latest minikube versions?

[2022-01-28 12:45] dmytro-ndp commented on #20985
It's about fixup of next E2E plugin tests:
- [VSCodeYamlPluginTest](VscodeYamlPlugin.spec.ts)
- [TypescriptPluginTest](https://github.com/eclipse/che/blob/main/tests/e2e/tests/plugins/TypescriptPlugin.spec.ts)

[2022-01-28 12:53] benoitf commented on #21077
I think that even if oAuth is not configured properly Dashboard should display an error and not goes into an infinite loop

[2022-01-28 12:54] nils-mosbach commented on #21081
You're right. It actually seems like checks for Windows pass in https://github.com/che-incubator/che-code/blob/7dc338e79032a0fccab3d854aed99164916f398d/code/src/vs/base/common/platform.ts#L77.

`Object.keys(envVariables)` / `Object.keys(v)` throws null if no environment and therefore no envvars are given.

![image](https://user-images.githubusercontent.com/15126675/151549811-c478cda5-5110-473b-be1

[2022-01-28 12:56] tsadigovAgmail commented on #21076
chectl version is up to date stable version `7.42.0`. I will try with `chectl update next`

[2022-01-28 12:59] tolusha commented on #20984
Which version minikube did you use for testing?
I've tried with `minikube version: v1.22.0` and got the same result
che-serer logs:
[code]

![Untitled](https://user-images.githubusercontent.com/1640675/151551102-e2764693-3146-4b88-aa1e-8389c8a85932.png)

[2022-01-28 13:14] tolusha commented on #21083
We are going to update che-operator to use DW 0.12.1 as a dependency
https://github.com/eclipse-che/che-operator/pull/1302

cc @amisevsk

[2022-01-28 13:24] nils-mosbach commented on #21081
`if (isWindows && envVariables)` actually solves it. Nice!

[2022-01-28 13:36] benoitf commented on #21081
thanks for your great analysis.

We're missing some methods in our terminal implementation https://github.com/eclipse/che/issues/21080 and I suspect that getEnvironment is one of them

https://github.com/che-incubator/che-code/blob/1959bc362144e6c878c6bac59291b8ac7128fd9d/code/src/vs/server/node/remoteTerminalChannel.ts#L127

so we could add (before a better implementation) there
https://github.co

[2022-01-28 13:36] nils-mosbach opened #21085 "che-code - restart workspace fails"
### Describe the bug

Starting a devworkspace with che-code enabled fails to restart or start (if stopped).

![image](https://user-images.githubusercontent.com/15126675/151555194-e04bf292-4137-41af-9c8a-d8b73c4b2b51.png)

Code was enabled with url parameter. e.g.
`https://company.dev/dashboard/#/load-factory?url=https%3A%2F%2Fgit.company.dev%2FMosbachN%2Fdevfile-test-vscode.git&che-editor=che-incu

[2022-01-28 13:45] nils-mosbach opened #21086 "che-code - add a volume to /home/user/.vscode-remote/"
### Is your enhancement related to a problem? Please describe

che-code allows installing extensions using the extension view. From what I can see these are stored in `/home/user/.vscode-remote/`.

After installing gitlens the following files are created and should get lost after a container is restarted.

[code]

### Describe the solution you'd like

It might be useful to add a volume to `/home/u

[2022-01-28 13:46] svor commented on #20622
@l0rd do you still have this problem?
we can't reproduce the problem when git preferences are not restored

[2022-01-28 13:51] l0rd commented on #20622
Let me start a cluster to check that

[2022-01-28 14:00] benoitf commented on #21086
probably we might need to use another path (instead of /home/user) for parent folder  as while it will work when using universal developer image that has /home/user folder, it might now work with custom docker images.

[2022-01-28 14:25] martinelli-francesco commented on #21023
Unfortunately aks does not support custom OIDC other than Active Directory for native kubernetes users.
So we moved on to ews.

[2022-01-28 14:56] Divine1 commented on #21083
@tolusha @amisevsk

 thank you for this update.
when is it expected to be released?
will this be released as a new patch version?
how do i install the new release? `chectl update next` ?

currently below is the version i'm using
![image](https://user-images.githubusercontent.com/10482177/151568779-f02a66c1-a1a9-4bd3-adeb-fa7f9781dc23.png)

[2022-01-28 14:58] tsadigovAgmail commented on #21076
chectl version
chectl/0.0.20220128-next.0a7174a

› Installer type is set to: 'operator'
› Current Kubernetes context: 'minikube'
  ✔ Verify Kubernetes API...OK
  ✔ 👀  Looking for an already existing Eclipse Che instance
    ✔ Verify if Eclipse Che is deployed into namespace "eclipse-che"...it is not
  ↓ Check if OIDC Provider installed [skipped]
    → Dex will be automatically installed as OIDC Id

[2022-01-28 15:08] tolusha commented on #21076
Pls. re run the same command. It was timeouted to configure minikube API server

[2022-01-28 15:30] tsadigovAgmail commented on #21076
I have already tried it 3 times
how can I increase timeout duration?

[2022-01-28 15:40] nils-mosbach commented on #21081
@benoitf I've tested your recommended change and it solves the issue. Thanks! :) Submitted a PR.

[2022-01-28 15:43] martinelli-francesco commented on #20965
I have the same issue with Eclipse Che installed on ews.
When will this fix be applied to the version of Eclipse Che installed with chectl? (stable or next channel)

[2022-01-28 15:55] benoitf commented on #21085
@nils-mosbach could you get as well DeWorkspaceRouting objects ?

[2022-01-28 15:56] benoitf commented on #21085
based on the provided devfile yaml I don't see how we can have multiple endpoints with the same name ?
cc @amisevsk

[2022-01-28 16:09] sparkoo commented on #20984
I would suspect this patch https://github.com/eclipse-che/che-operator/pull/1291. Can you test before and after? Or test stable version if it works ok? I think it's something with mismatching oidc configuration. client_id, secret, claim or something like that does not match kubernetes and Che configurations

[2022-01-28 16:14] gattytto commented on #19279
@tolusha can you pls reopen? I have a real pure ipv6 cluster to test this more now

[2022-01-28 16:33] tolusha commented on #19279
@gattytto
sure, you are welcome!

[2022-01-28 17:01] tsadigovAgmail commented on #21076
I delete and start minikube
And I get this

chectl server:deploy  --platform=minikube --k8spoddownloadimagetimeout=6000000 --k8spoderrorrechecktimeout=600000  --k8spodreadytimeout=6000000 --k8spodwaittimeout=6000000
› Installer type is set to: 'operator'
› Current Kubernetes context: 'minikube'
  ✔ Verify Kubernetes API...OK
  ✔ 👀  Looking for an already existing Eclipse Che instance
    ✔ Verify

[2022-01-28 17:08] tsadigovAgmail commented on #21076
If I try running the commands you provided at this step I get error

tural@Ubuntu20Desktop:~$ chectl server:delete -y --delete-namespace
› Current Kubernetes context: 'minikube'
  ✔ Verify Kubernetes API
  ✔ Delete oauthClientAuthorizations...OK
  ✖ Delete the Custom Resource of type checlusters.org.eclipse.che
    → connect ECONNREFUSED 192.168.49.2:8443
    Delete CRDs
    Delete Roles and Bindi

[2022-01-28 17:23] tsadigovAgmail commented on #21076
Is it ok that stable and next versions flow differ that much for chectl?
I just want to have a working setup
If there is a known working combination of chectl + OS + minikube version I am happy to use it

[2022-01-28 17:38] amisevsk opened #21087 "Attempting to resolve TLS certificate chain on OpenShift repeatedly hangs for minutes if cluster uses proxy"
### Describe the bug

Running Che on an OpenShift cluster with proxy configured results in the che-operator repeatedly getting stuck on resolving TLS certificates. This appears to be related to calling `doRequestForTLSCrtChain` in [this section](https://github.com/eclipse-che/che-operator/blob/1e9fa6a0782eb55e7a52238f99378f86dc378038/pkg/deploy/tls/tls_utils.go#L225-L236).

The initial check, whic

[2022-01-28 18:03] amisevsk opened #21088 "Che Operator does not appear to propagate proxy configuration to oauth-proxy sidecar in Che Gateway deployment"
### Describe the bug

When running on OpenShift behind a proxy (with cluster-wide proxy configured), attempting to load the dashboard fails with 504 gateway timeout during the oauth process (right after clicking "authorize access").

Digging into logs for the oauth-proxy sidecar container, it appears that a callback is timing out and that the proxy settings for the cluster are not being used.

Ope

[2022-01-28 19:16] amisevsk commented on #21087
This issue also results in `chectl server:deploy` taking a total of 16m35s to deploy Che server.

[2022-01-28 20:51] amisevsk commented on #21085
It depends on what the DevWorkspaceTemplate `che-code-workspace84440f1d230b4ef9` in namespace `dev-studio-workspace-n-m-com-zsobsb` looks like and what the dashboard is doing internally.

My hunch is that somewhere along the line, endpoints are being added a second time -- either the DWT contains them as well as the main container, or they're injected into the main container somewhere and then rei

[2022-01-28 20:55] amisevsk commented on #20965
@martinelli-francesco I'm not sure which catalogsource chectl is using, but the fix should be released to all platforms in a week or two (depending on release pipeline). If it's needed sooner, it's already available in the upstream DevWorkspace Operator catalog `quay.io/devfile/devworkspace-operator-index:release` but using this catalog enters less-supported territory.

[2022-01-28 20:58] amisevsk commented on #21083
The changes will land in Che `next` as soon as https://github.com/eclipse-che/che-operator/pull/1302 is merged. I'm not 100% on the process of that landing in chectl, @benoitf can confirm.

[2022-01-28 21:11] benoitf commented on #21083
7.43.0 stable release will happen next week
Chectl/next will also include these changes on the next build of chectl after operator pr will be merged

[2022-01-28 21:16] amisevsk commented on #21085
To shortcut the discussion a little, looking at what I think is the definition of the devworkspacetemplate mentioned above [here](https://eclipse-che.github.io/che-plugin-registry/main/v3/plugins/che-incubator/che-code/insiders/devfile.yaml), I see that the plugin also includes the endpoints `che-code` and `code-redirect-[1,2,3]`, which is likely where the conflict is coming from.

The next questi

[2022-01-28 22:18] nils-mosbach commented on #21085
If a workspace is started with che-code as the editor, che-code will get injected to the developer image (sidecarless-mode, https://github.com/eclipse/che/issues/20435). I guess the operator copies endpoints, etc. defined by the che-code plugin to the developer image that has `mountSources: true`.

I've created a simple devfile and extracted `devworkspace`, `devworkspaceroutings` and `devworkspace

[2022-01-28 22:29] l0rd opened #21089 "DevWorkspace routing segmentation violation when starting a workspace"
### Describe the bug

I cannot start any workspace from the samples (I tried Quarkus, SpringBoot and Go). The message is `devworkspace failed to progress past phase 'Starting' for longer than timeout (5m)`.

From the Che operator logs:

[code]

### Che version

next (development version)

### Steps to reproduce

Deploy using chectl
Try to start one of the samples

### Expected behavior

The worksp

[2022-01-28 22:31] l0rd commented on #20622
I was not able to start workspace (https://github.com/eclipse/che/issues/21089). I will try again on Monday.

[2022-01-29 00:26] #20202 closed

[2022-01-29 18:22] vzhukovs commented on #21079
Hi! If user omitted the `workingDir` parameter in Devfile, would it be added automatically in to the Flattened Devfile?

[2022-01-29 18:27] vzhukovs commented on #21079
And if Devfile didn't contain `workingDir` in the command, would the environment variable `PROJECT_SOURCE` point to the first project?

[2022-01-29 19:19] benoitf commented on #21079
yes that's correct

[2022-01-29 23:44] tsadigovAgmail commented on #21076
I decided to try all options without going into details, to see if there is a painless option to start

Ubuntu+minikube nope
Ubuntu+minishift nope
Ubuntu+CRC nope
Fedora +minishift no luck
With so many failing options I start to suspect there is something wrong with me :)
Centos+CRC seems to be installed. I hope it works. Both che dashboard and openshift get stuck in loading screen.

[2022-01-30 02:09] monaka opened #21090 "[plugin-registry] Enable to deploy sidecar containers to private repositories."
### Is your enhancement related to a problem? Please describe

* Plugin-registry caches vsix plugins.
* many plugins require sidecar containers on quay.io.

So offiline mode doesn't work well.

### Describe the solution you'd like

* Enable the sidecar builder to accept image prefixes. (like `quay.io/eclipse/che-plugin-sidecar` to `example.com/foo/che-plugin-sidecar`)
* Add options `--offline-imag

[2022-01-30 02:12] monaka commented on #21090
In general, private repositories are much faster than the public quay.io . They will provide for good user experiences.

[2022-01-30 10:18] Divine1 commented on #21083
@benoitf

is the fix [mentioned here](https://github.com/eclipse/che/issues/21083#issuecomment-1023935494) released in this chectl version `0.0.20220128-next.0a7174a` ? or it is yet to be released?

![image](https://user-images.githubusercontent.com/10482177/151695571-5f3388a1-ad3b-433b-8622-8bf9682500b2.png)

i installed the chectl version `0.0.20220128-next.0a7174a` and still with `gitlab-org` s

[2022-01-31 00:28] #17559 closed

[2022-01-31 00:28] #20217 closed

[2022-01-31 08:00] tolusha commented on #21090
Is that something you looking for ?
https://github.com/eclipse-che/che-plugin-registry/blob/main/build.sh#L34

[2022-01-31 09:07] ibuziuk opened #21091 "Che Controller Sprint #214"
### Is your task related to a problem? Please describe

This issue collects work items of the Controller Team for Sprint 214 (February 02 - February 22).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (February 02)

The previous sprint https://github.com/eclipse/che/issues/20996

## Sprint goals
- [ ] preparations for WTO 1.5 GA release
- [ ] CRW addo

[2022-01-31 09:21] akurinnoy opened #21092 "Improve the workspaces conversion time"
### Is your task related to a problem? Please describe

While converting workspaces (devfile v1) to devworkspaces (devfile v2), the new workspace gets created quite soon but the progress indicator remains for about 10 seconds.

### Describe the solution you'd like

Review the devworkspaces creation flow to improve the conversion time.

### Describe alternatives you've considered

_No response_

##

[2022-01-31 09:27] svor opened #21093 "Plugins Sprint 214"
## Sprint 214 (2 February - 22 February)

### Blockers

### Epics

### CRW
* [x] Pre-build DevWorkspace templates for devfile v2 of devfile registry [CRW-2500](https://issues.redhat.com/browse/CRW-2500) @vinokurig
* [ ] Apply UDIs for all devfiles v2 and plugins [CRW-2688](https://issues.redhat.com/browse/CRW-2688) @svor
* [x] devfile v2 caching for devworkspace airgap support needs to be arch-awa

[2022-01-31 10:28] tolusha commented on #21076
I will try look into (minikube + Ubuntu)
It seems the latest version of the minikube requires more time to reconfigure its API sever

[2022-01-31 10:39] tolusha opened #21094 "Che Deploy Sprint #214"
#### Timeframe
Feb 2 - Feb 22

#### Team
| GitHub account  |
| ------------- |
| @tolusha |

#### Holidays / events
| Days  | |
| ------------- | ------------- |

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse Che 7.40.x
CRW 2.15 is based on Eclipse Che 7.42.x
CRW 2.16 is based o

[2022-01-31 11:40] snoopfab opened #21095 "Postgres fails to start with permission denied when deploying Che on OVH"
### Describe the bug

I can't install che using checl on a vanilla OVH Kubernetes Cluster

The postgresql pod does not starts because of some permission issues while creating the postgresql data directory :

`mkdir: cannot create directory '/var/lib/pgsql/data/userdata': Permission denied`

It seems related to issue #13344 but the initial poster (@mikekuzak ) did not explained how to solve the pro

[2022-01-31 12:01] vitaliy-guliy commented on #20921
It does not required anymore.
We are able to stop the workspace by patching devworkspace object, then start the workspace with dashboard by switching to URI like following

[code]

[2022-01-31 12:01] #20921 closed

[2022-01-31 12:02] vitaliy-guliy commented on #20920
ATM, patching the devworkspace object does not force the workspace to be restarted.
Closing this issue as not relevant anymore.

[2022-01-31 12:02] #20920 closed

[2022-01-31 12:15] dmytro-ndp commented on #18630
I has been already fixed.

[2022-01-31 12:15] #18630 closed

[2022-01-31 12:31] tolusha commented on #21095
It was about giving permissions on storage for uid 26

[2022-01-31 14:27] martinelli-francesco opened #21096 "Authorization using scopes or custom claims"
### Summary

I have configured Eclipse Che to use an external OIDC.
Let's suppose we have two users and two applications:
user A can only access application A (Eclipse Che) and user B can only access application B (this can be achieved by specifying specific roles for users and therefore at the login time the OIDC can verify if the user can access the specific resource).

User B could log in to ap

[2022-01-31 14:34] martinelli-francesco opened #21097 "Logout form Dashboard not working (DevWorkspace)"
### Describe the bug

If I press logout in the dashboard I am redirected to the home page but I am still logged in. I am using DevWorkspace and an external OIDC (auth0) on EKS.

It seems that the following is missing: "redirect the user to the authentication provider's sign out page afterwards using the rd query parameter".
ref. https://oauth2-proxy.github.io/oauth2-proxy/docs/features/endpoints#s

[2022-01-31 14:37] tolusha commented on #20726
@npw3202
Any updates?

[2022-01-31 14:45] snoopfab commented on #21095
Yes i understood this was a permission problem but I have no clue on how to do with the operator (without changing the dockerfile of the postgresql image)
I Still don't understand why gaving these rights  is not done by the che operator by default ?

Could you give me a more detailed procedure to fix the permission error or is this a bug in the operator ?

Thanks

[2022-01-31 15:39] nils-mosbach opened #21098 "devfile v2 - Parent is not resolved"
### Describe the bug

Based on the devfile 2.1 specification parent devfiles should be resolved if e.g. `parent.uri` is given. ([Referring to a parent devfile in a devfile](https://devfile.io/docs/devfile/2.1.0/user-guide/referring-to-a-parent-devfile-in-a-devfile.html))

That doesn't seem to work in the current version.

I've created a parent file that contains a database container, e.g.
https://

[2022-01-31 15:51] nils-mosbach opened #21099 "che-code - Open IDE redirects too fast: `Bad Gateway`"
### Describe the bug

If starting a new Workspace opening the IDE e.g. che-code is triggered to fast and responds with a `Bad Gateway`. If clicked refresh in the browser after 2 seconds everything loads as expected. Maybe che-code or the traeffik configration is not yet ready?

So basically the redirect from here

![image](https://user-images.githubusercontent.com/15126675/151826064-10b31888-e2c6-

[2022-01-31 16:19] benoitf commented on #21099
might be an issue related to https://github.com/eclipse/che/issues/20481

I'm also facing the issue

[2022-01-31 20:46] jlhawkins-stuff commented on #21057
@barrygear I closed the issue because a fresh install of 7.42.0 did resolve **THIS** issue.  Installing 7.42.0 had a whole host of other learning experiences.  I'd be down to share experiences.  I ultimately reverted to 7.38.0 cause I could get it working.

[2022-01-31 21:27] tsadigovAgmail commented on #21076
thanks @tolusha
what do you think is it also somewhat related to the oauth-proxy container in gateway pod not starting?

che-gateway-7cc8f594c8-2gmrs 3/4 CrashLoopBackOff 67 (80s ago) 5h27m

$kubectl logs che-gateway-7cc8f594c8-2gmrs -n eclipse-che -c oauth-proxy
[2022/01/27 03:19:18] [main.go:54] invalid configuration:
oidc provider requires an oidc issuer URL

[2022-01-31 22:02] nickboldt commented on #21075
Downstream impact: https://issues.redhat.com/browse/CRW-2695

[2022-01-31 22:36] vzhukovs opened #21100 "Use `PROJECT_SOURCE` as the default working directory for Che-IDEA `Run Configuration`"
### Is your task related to a problem? Please describe

The working directory attribute may be omitted in the command definition in the user's Devfile.
In order not to break the command execution in Che-IDEA, we can provide `PROJECT_SOURCE` as a default working directory.

### Describe the solution you'd like

The following PR https://github.com/devfile/devworkspace-operator/pull/697 provides a ne

[2022-02-01 01:57] tsadigovAgmail commented on #21076
I am still trying variations and I have an  chectl serverv:deploy run without error
Chectl:stable + Ubuntu + minikube:driver=none

No error messages on deploy.  BUT  The output still has nothing about Dex, the oauth-proxy container under  che-gateway pod is not running. And when checking the url https://192.168.178.150.nlp.io   in the browser I get nginx 503 temporary unavailable error.

 Not sure

[2022-02-01 07:02] #20993 closed

[2022-02-01 08:34] benoitf opened #21102 "There is no CHE_DASHBOARD_URL or PLUGIN_REGISTRY_URL in the dev container"
### Describe the bug

it seems that dashboard is only adding the URLs links to the editor devWorkspaceTemplate but not to all containers

### Che version

next (development version)

### Steps to reproduce

Open a terminal in a container that is not the editor container
check that *_URL env variables are not defined

### Expected behavior

_URL env variables should be set in all containers

### Ru

[2022-02-01 08:44] nils-mosbach commented on #21081
Checked with latest che-code insider build. Works. Closing the issue.

[2022-02-01 08:44] #21081 closed

[2022-02-01 08:46] #21039 closed

[2022-02-01 08:49] tolusha commented on #21076
`Ubuntu + minikube:drive` does not work. That's a know issue. https://github.com/eclipse/che/issues/20969

We did not configure something properly. I will look deeply to find the cause.

[2022-02-01 09:44] ibuziuk commented on #20845
PR has been merged - https://github.com/eclipse-che/che-dashboard/pull/441
There are separate issues for documentation and reusing the PVC (mount the sources from the Che 7 based workspaces during the conversion):
- https://github.com/eclipse/che/issues/21005
- https://github.com/eclipse/che/issues/21038

[2022-02-01 09:44] #20845 closed

[2022-02-01 12:04] tolusha commented on #21095
To be honest I haven't faced such an issue, so I can only assume:

1. If you have access to underlying storage, than change permissions
2. change default pvc class

[2022-02-01 13:04] ibuziuk opened #21103 "devfile v1 -> v2 convertion enchancements"
### Is your enhancement related to a problem? Please describe

UX / Docs

- [x]  Action dropdown should not exist since there is only one action / if the only action is delete, lets make it a button /

![image](https://user-images.githubusercontent.com/1461122/153001516-8947745c-5fec-4d47-ac54-6976b995f95f.png)

- [x]  Once the conversion is done successfully "Convert" button shd gone away, There

[2022-02-01 13:16] benoitf commented on #21099
issue is not inside the editor because after few time the route is working fine

it's related to route availability

[2022-02-01 13:44] #20861 closed

[2022-02-01 14:25] snoopfab commented on #21095
Already tried to change the default pvc class with same error.

What do you mean by "If you have access to underlying storage, than change permissions" ?

I start to think that the problem is with the k8s OVH implementation. I'll try with their support team

Thanks for the replies.

[2022-02-01 15:05] #21035 closed

[2022-02-01 15:07] vinokurig opened #21104 "Synchronise @eclipse-che/che-theia-devworkspace-handler version with che-theia's version"
### Is your task related to a problem? Please describe

The version of `@eclipse-che/che-theia-devworkspace-handler` has no reference to che version.

### Describe the solution you'd like

Synchronise the version of `@eclipse-che/che-theia-devworkspace-handler` tool with `che-theia` version, to be able to automatically update it's version in places where the tool is used, like it is done for `@ecl

[2022-02-01 15:49] amisevsk commented on #21085
@nils-mosbach thanks for the repo, that's very helpful in testing.

Looking at the DevWorkspaceTemplate and DevWorkspace as applied to the cluster (from the given devfile), it looks like whatever is injecting those endpoints into the dev container is doing it every time, without checking whether they're already added. However, I don't know which component is responsible for doing this -- the DevWo

[2022-02-01 16:02] benoitf commented on #21099
@amisevsk @sparkoo how is the route flagged as ready ? it seems that route is flagged as ready before traefik is able to reach the endpoint ?

I get rid of the connectionToken parameter so CheCode endpoint should return either 200 or nothing if not yet started

For Red Hatters it can be reproduce with https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/#https://github.com/che-incubator/c

[2022-02-01 16:52] #20884 closed

[2022-02-01 18:55] l0rd opened #21105 "Support running a workspace in kata containers"
### Is your enhancement related to a problem? Please describe

[Kata containers](https://github.com/kata-containers/kata-containers) allow running pod in dedicated VMs. That makes it possible to run a container as root without any security exposure (and run `apt-get/yum install` or `buildah`).

To run a Che workspace in a kata container the workspace `Pod` should specify `runtimeClassName: kata`:

[2022-02-01 19:55] amisevsk opened #21106 "Chectl `che-operator-image` parameter replaces DevWorkspace Operator image instead of Che Operator image"
### Describe the bug

Specifying the `--che-operator-image` parameter to `chectl server:deploy` will override the image used for the DevWorkspace Operator instead of the Che Operator. Further:
* The CSV for DWO is updated, if it exists, to use the alternate image, which is rather unexpected
* The image replacement is not complete (as the default image is still used in some places, e.g. for the Dev

[2022-02-01 20:47] amisevsk commented on #21099
On the DWO side, the DevWorkspace is not marked as "started" until `<mainUrl>/healthz` returns a 2xx (or 4xx) status code (4xx is assumed to mean "unimplemented").

Testing locally, I'm seeing that `curl <che-gateway>/<workspaceID>/dev/3100/healthz` returns 404 not found -- does Che Code serve this endpoint?

[2022-02-01 22:05] l0rd commented on #20622
@svor @vinokurig unfortunately I still have problems although one thing is working:

1. When I restart the workspace after I set the git configuration, the settings.json is persisted 👍
<img width="389" alt="image" src="https://user-images.githubusercontent.com/606959/152058693-298afec7-d60a-4780-bf11-29422766718f.png">

2. But even if `git.user.name` and `git.user.email` are set in settings.json I

[2022-02-01 22:25] l0rd commented on #17091
This should be fixed now as Che defaults to single-host mode.

[2022-02-01 22:26] #17091 closed

[2022-02-01 22:36] l0rd commented on #21099
I also get that with Che Theia from time to time.

[2022-02-01 23:10] l0rd commented on #21089
Closing as I am not able to reproduce it anymore

[2022-02-02 00:30] #20226 closed

[2022-02-02 06:49] #20168 closed

[2022-02-02 06:56] skabashnyuk commented on #21096
@sparkoo do you remember if oauth2-proxy has some kind of `specific scope or a custom claim ` filtering.
Maybe experiments with `--oidc-groups-claim` or `--scope` can answer this question.
Context https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview

@martinelli-francesco what do you have as OIDC provider?

[2022-02-02 07:45] #20999 closed

[2022-02-02 08:11] martinelli-francesco commented on #21096
I am using auth0 as OIDC provider.

I think the problem is conceptual, let me tell you what I understand about the current login flow and token management.

1. Login to Eclipse Che
2. Redirect to my OIDC
3. Successful login
4. Redirect to Eclipse Che: the OIDC after successful login generates the id_token. It will be passed to Eclipse Che.
5. Eclipse Che takes the id_token to understand who am I a

[2022-02-02 08:32] tolusha commented on #21017
WON'T FIX
There is no way to deploy Eclipse Che with Dev Workspace disabled

[2022-02-02 08:32] #21017 closed

[2022-02-02 08:45] tolusha commented on #21106
I can't reproduce
`chectl server:deploy --platform minikube --che-operator-image abazko/operator:test`

![screenshot-127 0 0 1_33733-2022 02 02-10_44_06](https://user-images.githubusercontent.com/1640675/152121021-e8aa2d20-41f1-41a7-a6dc-bcbdecc88ab3.png)
![screenshot-127 0 0 1_33733-2022 02 02-10_44_24](https://user-images.githubusercontent.com/1640675/152121024-73603da6-df8e-4286-9574-a2d97ce075

[2022-02-02 09:24] akurinnoy commented on #20561
I'm closing this issue because the Custom Workspace tab is not available to users anymore.

[2022-02-02 09:24] #20561 closed

[2022-02-02 09:25] akurinnoy commented on #20560
I'm closing this issue because the Custom Workspace tab is not available to users anymore.

[2022-02-02 09:25] #20560 closed

[2022-02-02 09:26] akurinnoy commented on #20558
I'm closing this issue because the Custom Workspace tab is not available to users anymore.

[2022-02-02 09:26] #20558 closed

[2022-02-02 09:38] #19310 closed

[2022-02-02 09:42] akurinnoy commented on #19014
I'm closing this issue because the Custom Workspace tab is not available to users anymore.

[2022-02-02 09:42] #19014 closed

[2022-02-02 09:44] akurinnoy commented on #18978
I'm closing this issue because the Custom Workspace tab is not available to users anymore.

[2022-02-02 09:44] #18978 closed

[2022-02-02 10:01] tolusha opened #21107 "Disable authentication when Eclipse Che is deployed on minikube or docker-desktop platforms"
### Is your task related to a problem? Please describe

It is not possible to deploy DevWorkspace on minikube:
https://github.com/eclipse/che/issues/20984
https://github.com/eclipse/che/issues/21076

It prints that OIDC provider is not installed on docker-desktop.
Both platforms are very popular.

### Describe the solution you'd like

The idea is to remove authentication since both platforms are u

[2022-02-02 10:06] nils-mosbach commented on #21085
I wasn't able to find the area where che-code gets injected to the users main devcontainer. The only difference in the editor config seems to be `skipMetaYaml`. ([che-editors.yaml](https://github.com/eclipse-che/che-plugin-registry/blob/3ec94bc3b37b5e69346de11e4970ed3272f7f13e/che-editors.yaml#L482)) @benoitf is that the check where the magic happens?

Since that error pops up in the [devfile stat

[2022-02-02 10:09] benoitf commented on #21085
I'm not reproducing the issue (I'm stopping/restarting che-code workspace) all the time and I'm using che/next as well.

Is it a fresh 'chectl/next' install or did you reinstall/restart che containers recently ? (else you might have old containers)

Magic happens there:https://github.com/che-incubator/che-code/tree/main/tools/devworkspace-handler

[2022-02-02 10:15] nils-mosbach commented on #21085
@benoitf All right, thanks. I'll check the status of all tagged `next` images.

[2022-02-02 10:23] svor commented on #20622
@l0rd So, it seems that the problem is not related to the Preferences persisting. The information about username/email in the status bar is taken form the .gitconfig which doesn't exist in the container. The problem with .gitconfig is related to https://github.com/devfile/devworkspace-operator/issues/694, I'm going to close current issue, please reopen it if you don't think so

[2022-02-02 10:23] #20622 closed

[2022-02-02 10:27] svor commented on #21000
Superseded by #21093

[2022-02-02 10:27] #21000 closed

[2022-02-02 10:37] vzhukovs opened #21108 "Adjust cpu and memory limits for comfortable development flow after migrating to UDI image"
### Is your task related to a problem? Please describe

After migrating JetBrains editors to UDI image there is a need to adjust cpu and memory limits for comfortable development flow for end user.

### Describe the solution you'd like

Find out the best values for cpu and memory limits for che-idea and che-pycharm editors.

### Describe alternatives you've considered

_No response_

### Additiona

[2022-02-02 10:55] olexii4 commented on #20717
the same issue https://github.com/eclipse/che/issues/21055

[2022-02-02 10:56] #21008 closed

[2022-02-02 11:05] ibuziuk commented on #20717
closing in favour of https://github.com/eclipse/che/issues/21055

[2022-02-02 11:05] #20717 closed

[2022-02-02 11:11] ibuziuk commented on #15716
Related issue for DevWorkspace - https://github.com/eclipse/che/issues/21032

[2022-02-02 11:43] #21006 closed

[2022-02-02 11:49] Nold360 opened #21109 "Can't build offline plugin-registry behind proxy"
### Describe the bug

When building the plugin registry as describe in the docs, i get this error:

[code]

I tried many different HTTP/S_PROXY/http/s_proxy settings & I'm sure they are correct. using `http://` for http & https.

### Che version

7.42@latest

### Steps to reproduce

[code]

I also did:
[code]

### Expected behavior

It builds like the dev registry

### Runtime

Kubernetes (vanilla

[2022-02-02 11:53] vzhukovs opened #21110 "Che-IDEA should trust the sources in `PROJECTS_ROOT` by default"
### Is your task related to a problem? Please describe

When the user starts a Che-IDEA-based workspace, it asks to trust the sources:

![image](https://user-images.githubusercontent.com/1636395/152516370-1d3109b8-d0ac-47ec-acb2-1cc404b0cf4d.png)

It may be annoying for the users.

### Describe the solution you'd like

Add `PROJECTS_ROOT` as the trusted location for opening cloned projects to avoi

[2022-02-02 12:29] benoitf commented on #21099
of course that che-code is serving this endpoint (hitting refresh few seconds later after the 'bad gateway' message just works fine)

[2022-02-02 12:31] benoitf commented on #21099
it looks like healthz may say that che-code is ok to receive requests but traefik is not yet updated to handle that route then it fails
because error is coming from traefik

[2022-02-02 13:18] tsadigovAgmail commented on #21076
@tolusha for my scenario I would prefer to have a suggestion on working versions I should use, rather than disabling some functionality. As far as I understand is was working fine in che version 7.40. Should I also use specific version of minikube?

I am going to demo this to the team. So I need to have authentication.

[2022-02-02 13:41] tolusha commented on #20984
Can't reproduce after switching to minikube v1.24.0 and cleanin up old resources

[2022-02-02 14:01] nils-mosbach commented on #21085
@benoitf all right. cleaned and redeployed everything with latest current chectl:next. Pull policy is Always for all images, so images should be on all next tags of today. Issue still exists.

I think I found a possible reason why it might be working in your case. First of all, I set che-code as the default editor for all workspaces (`CHE_FACTORY_DEFAULT__EDITOR`, `CHE_WORKSPACE_DEVFILE_DEFAULT__E

[2022-02-02 14:26] amisevsk commented on #21106
I'll test it again and either close this issue as "I did something weird" or give more detailed steps to reproduce.

[2022-02-02 14:34] tolusha commented on #21076
@tsadigovAgmail

Pls try working configuation:
* minikube v1.24.0
* chectl 7.42.0 (or next)

[2022-02-02 14:42] nils-mosbach commented on #21085
Looking at https://github.com/che-incubator/che-code/blob/4fecb2888429f0ee9203b8610189231dd6cd011d/tools/devworkspace-handler/src/devfile/che-code-devfile-resolver-impl.ts#L69 this doesn't work in my case.

[2022-02-02 14:42] amisevsk commented on #21099
I don't think it's relevant in this case, but note that issues with `/healthz` are easily obscured since we have to accept 4xx status codes as successes. Testing it with che-code, I've seen `404` and `401` response codes even in up-and-running workspaces, so it does seem like something somewhere is going wrong.

[2022-02-02 14:52] benoitf commented on #21099
401 response is gone in the latest builds (there was a mandatory token in previous builds) so 401 could happen before but not anymore (as token is not required)
And in Theia, Mario reproduced the issue and for sure there is no token/401 error

[2022-02-02 14:54] benoitf commented on #21099
BTW it looks still odd while 404 can be accepted as a success b/c if theia or code is not launched, it will return a 404 during the initialiaation

it looks like some race condition: someone notify it's ready while the traefik route is not

[2022-02-02 15:20] #21086 closed

[2022-02-02 15:34] jvaidyan opened #21112 "Install Che on minikube fails with timeout"
### Summary

Trying to install Che on minikube

› Installer type is set to: 'operator'
› Current Kubernetes context: 'minikube'
  √ Verify Kubernetes API...OK
  √ 👀  Looking for an already existing Eclipse Che instance
    √ Verify if Eclipse Che is deployed into namespace "eclipse-che"...it is not
  ↓ Check if OIDC Provider installed [skipped]
    → Dex will be automatically installed as OIDC Ide

[2022-02-02 15:52] tolusha commented on #21112
@jvaidyan
What is minikube version ?

[2022-02-02 16:01] jvaidyan commented on #21112
It’s 1.23.2

On Wed, Feb 2, 2022 at 10:53 AM Anatolii Bazko ***@***.***>
wrote:

--
Regards
Jacob Vaidyan

[2022-02-02 16:37] amisevsk commented on #21089
Context: In some cases, Che Operator was briefly vulnerable to hitting a panic when it needed to update routes. This issue was introduced in https://github.com/eclipse-che/che-operator/pull/1302, fixed in DWO in https://github.com/devfile/devworkspace-operator/commit/69be85cdf34d1cb7d4aafc85cdd9c8a809e27a09, and included in Che Operator in https://github.com/eclipse-che/che-operator/pull/1306.

Th

[2022-02-02 16:52] amisevsk commented on #21106
Verified with `chectl/0.0.20220202-next.24032ae linux-x64 node-v16.13.2` on OpenShift. What follows is the exact process I followed, so some steps may be superfluous:

1. Install `next` DWO catalogsource: `oc apply -f https://raw.githubusercontent.com/devfile/devworkspace-operator/main/catalog-source.yaml`. Wait for catalog to be resolved
2. Install `next` version of DWO on the cluster through Ope

[2022-02-02 16:58] amisevsk commented on #21102
Since these URLs are static per-Che installation, another option (rather than injecting them into containers and thus the DevWorkspace) is to use automount functionality in the DevWorkspace Operator. For example, a configmap like
[code]
could be added to the namespace provisioning process and it should result in those env vars being mounted to all containers automatically with no further modificat

[2022-02-02 17:05] l0rd commented on #21089
@amisevsk thanks for the explanation ;-)

[2022-02-02 17:08] amisevsk commented on #21098
It seems the `parent` in the devfile is getting dropped before it hits the cluster. I tested creating the DevWorkspace

[code]
directly and the parent is resolved (the resulting pod contains the postgres container).

The workspace fails to start regardless, with `Container db-service has state CrashLoopBackOff` (maybe it needs an cmd/args override, I haven't looked into it).

[2022-02-02 17:21] amisevsk commented on #21098
To isolate the Operators part of the process, you can try applying the following DevWorkspace directly to the cluster (in your user's Che namespace):
[code]

[2022-02-02 17:34] l0rd commented on #20984
@tolusha I am reproducing it on a fresh minikube v1.25.1. What do you mean with "cleaning up old resources"?

[2022-02-02 17:48] tolusha commented on #20984
It works well for v1.24.0
Yes, v1.25.1 is still an issue.

I mean `rm -rf ./minikube` but not sure if it really helped.
But yes, switching to minikube v1.24.0 fixed issue.

I will reopen to adopt to v1.25.x

[2022-02-02 20:09] l0rd commented on #21074
I confirm that I can reproduce the problem on macOS with Chrome but not with Firefox.

[2022-02-02 20:36] amisevsk commented on #21099
PR https://github.com/eclipse-che/che-operator/pull/1309 should resolve this issue (tested briefly, at least). Changes are available in image `quay.io/amisevsk/che-operator:issue-21099` (replaces `quay.io/eclipse/che-operator:next`)

However, on the topic of `/healthz` endpoints, from what I can tell both Theia and che-code return 404 status codes:

Theia:
[code]

Che-code:
[code]

c.f. Web termin

[2022-02-02 20:40] benoitf commented on #21099
But healthz is not managed by theia or code. There is no such endpoint

[2022-02-02 20:50] amisevsk commented on #21099
Ah, sorry -- I was confused. It seemed like you were saying that Theia/Che-code were serving `/healthz` [here](https://github.com/eclipse/che/issues/21099#issuecomment-1027894136). If this is the case, and we stop treating 404 as success (as in https://github.com/eclipse/che/issues/21099#issuecomment-1028021105) then DevWorkspaces with Theia and Che-code will never enter a running state.

A more p

[2022-02-02 20:52] benoitf commented on #21099
But for exemple why is it not checking the path of the main endpoint ?

Like / instead of /healthz ?

[2022-02-02 20:53] benoitf commented on #21099
HEAD request on the main endpoint / for both theia and vscode

[2022-02-02 21:03] amisevsk commented on #21099
The history of the decision is found in https://github.com/eclipse-che/che-machine-exec/pull/105 and https://github.com/devfile/devworkspace-operator/pull/78. In a general sense, checking `/` on the main endpoint is not exactly reliable either, and `/healthz` is/was more-or-less a Kubernetes standard.

Ironically, doing a HEAD request on `/` would result in precisely the bug reported here, since i

[2022-02-02 21:11] benoitf commented on #21099
well the gateway component is intercepting the calls so it could intercept handle the /healthz and check if the underlying service is returning 200 or not

Why put a gateway in every container if it doesn't bring value

It looks like strange to patch theia and vscode server to add a /healthz entrypoint

[2022-02-02 22:00] amisevsk commented on #21055
Hm, I wasn't able to reproduce this in the current `next` images on minikube

[2022-02-03 07:05] tolusha commented on #21106
Thank you for detailed steps. I will check.

[2022-02-03 07:09] tolusha commented on #21112
I can suggest the following:
1. Rerun command `chectl server:deploy --platform minikube`
2. Inspect container logs from `cert-manager` namespace
3. try minikube v1.24.0 (but not v1.25.x)

[2022-02-03 07:18] benoitf commented on #21086
@nils-mosbach Issue is fixed but I let you reopen the issue if you still have the problem

[2022-02-03 08:25] sparkoo commented on #21096
Yes, we're using ID token on kubernetes https://github.com/eclipse-che/che-operator/blob/main/pkg/deploy/gateway/oauth_proxy.go#L99 https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#command-line-options.

On OpenShift however, we're using access token so you may try to replicate that. If you're able to setup kubernetes to use access token, you can then set `--pass-access-tok

[2022-02-03 08:38] ibuziuk commented on #21097
@martinelli-francesco hello, just checked against 7.43.0-next version and logout is working just fine via `/oauth/sign_out` request

Could you please  provide more details including the deployment method and the version of the project.

![logout](https://user-images.githubusercontent.com/1461122/152308132-f9f5aeb4-c8ff-42bb-a20a-78c5688fc8ec.gif)

[2022-02-03 08:49] #21099 closed

[2022-02-03 09:04] martinelli-francesco commented on #21097
I deployed 7.42 (DevWorkspace) using chectl (stable channel) on EKS (amazon kubernetes) and configured an external instance of auth0 as OIDC.
I opened the browser developer tools and compared the calls after logging out of Eclipse Che and another application where the logout works.
I noticed that the logout call to the OIDC is missing. It simply calls the dashboard logout which removes the oauth p

[2022-02-03 09:17] ibuziuk commented on #21097
Thank you, if it is still reproducible, please provide http requests sequence from the `Network`

[2022-02-03 09:20] tolusha opened #21113 "User's certficates are not propagated to Dev Workspaces"
### Is your task related to a problem? Please describe

It is possible to import certificates into Eclipse Che following the doc [1].
`ca-certs-merged` config map is created  by operator and propgated to `che-server`.
The name of this configmap is stored in a `che` configmap as `CHE_TRUSTED__CA__BUNDLES__CONFIGMAP: ca-certs-merged`.

This configmap is propagted into all workspaces if che-server en

[2022-02-03 09:20] tolusha commented on #21113
/cc @l0rd

[2022-02-03 11:49] l0rd opened #21114 "Starting a Che sample fails because "projects" is not found"
### Describe the bug

I have tried to start the Python sample and the Go sample. In both cases I get the following error:

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/606959/152337131-ad621dc3-847f-4bb2-add4-3fdb95f4c11e.png">

### Che version

next (development version)

### Steps to reproduce

Click on the sample

### Runtime

The team dogfooding instnace

[2022-02-03 12:01] l0rd opened #21115 "Create or update local git config when user changes Che Theia git settings"
### Is your enhancement related to a problem? Please describe

If the user changes git user and git email in Che Theia `settings.json` and restarts the workspace he still has this message in the status bar:

![image](https://user-images.githubusercontent.com/606959/152336043-7b1b0dee-65b6-4883-a97b-25174dd99058.png)

Moreover the [gitconfig ConfigMap expected by the DevWorkspace operator](https://

[2022-02-03 12:03] l0rd commented on #20622
@svor @vinokurig I have created this separate issue: https://github.com/eclipse/che/issues/21115

[2022-02-03 12:34] azatsarynnyy commented on #21110
Adding an example of the dialog, to be clear what this issue about
![image](https://user-images.githubusercontent.com/1636395/152343690-e75a180f-25af-43b3-a2ef-7494ff3166cc.png)

[2022-02-03 12:36] vzhukovs opened #21116 "Don't show to the user the privacy policy on each IDEA loading"
### Is your task related to a problem? Please describe

JetBrains related editors use Java preferences that store by default at `$HOME/.java/.userPrefs/prefs.xml`. Editor stores accepted EULA in these preference files. To avoid potential asking user to accept EULA after the workspace restart it would be nice to mount `$HOME/.java` as shared volume that will be stored in PVC.

### Describe the solu

[2022-02-03 12:39] l0rd commented on #21113
@tolusha shouldn't this `ConfigMap` be propagated by Che operator when it provisions a user namespace rather than from the DevWorkspace operator at workspace startup time?
cc @ibuziuk @amisevsk

[2022-02-03 12:47] tolusha commented on #21113
I think yes, it is che-operator responsibility.

[2022-02-03 12:54] #21029 closed

[2022-02-03 13:22] ibuziuk commented on #21063
Verified against the dogfooding instance (DevWorkspace engine) with the 2.2 samples from https://registry.devfile.io/viewer

![image](https://user-images.githubusercontent.com/1461122/150778894-b3bfa229-a7f5-4039-a0ba-de61d7068cad.png)

- Node.js
There is a `"projects" is not found` [1] error displayed on the dashboard, but the workspace is started. However  `npm install` command does not work:

[

[2022-02-03 13:23] l0rd commented on #20984
Moving to 7.44 as 7.43 has been released.

[2022-02-03 13:24] l0rd commented on #20090
Moving to 7.44 as 7.43 has been released.

[2022-02-03 13:27] azatsarynnyy opened #21117 "Filter the containers list when opening a terminal from Che-Theia"
### Is your enhancement related to a problem? Please describe

When the user tries to open a terminal to a container, he/she is asked to choose it from the list:

![image](https://user-images.githubusercontent.com/1636395/152351026-aacecdfa-3c95-441d-9e3d-db2e1d76e6ff.png)

Several of these containers are useless in this list.
This is one of the most confusing UX issues for the users.

### Describ

[2022-02-03 13:43] RomanNikitenko commented on #21034
I'm investigating the alerts reported by Dependabot.
38 alerts were fixed by PRs which you can see above.

I'm going to post bellow info about some dependencies which we can not fix/upgrade right now.

`simple-get`
@theia/core  => keytar  => prebuild-install  => simple-get
So, `keytar`dependency should be updated in upstream to upgrade `simple-get` version.

[2022-02-03 14:24] #21108 closed

[2022-02-03 14:29] azatsarynnyy commented on #20861
@l0rd actually, it's > 20 sec. faster for hosted Che instance
and > 30 sec. for the local minikube installation

just FYI :slightly_smiling_face:

[2022-02-03 15:09] nickboldt opened #21118 "Remove backup-restore CRDs from chectl"
### Is your task related to a problem? Please describe

I see a number of CRDs related to backup-restore functionalty, which is no longer supported as of Che 7.43.

![image](https://user-images.githubusercontent.com/227597/152369830-ec3fc3ed-0859-4a79-a3d3-52cd097799f4.png)

### Describe the solution you'd like

Remove them?

### Describe alternatives you've considered

_No response_

### Addition

[2022-02-03 15:11] nickboldt commented on #21118
never mind, seems like I had some leftover files on disk that are NOT part of chectl.

[2022-02-03 15:11] #21118 closed

[2022-02-03 15:16] #21092 closed

[2022-02-03 15:48] vitaliy-guliy commented on #20638
Feature has been merged.
Devfile to test https://github.com/vitaliy-guliy/java-spring-petclinic/tree/devfilev2-plugin-installation

[2022-02-03 15:48] #20638 closed

[2022-02-03 15:52] svor opened #21119 "Cleanup devfile registry"
### Is your task related to a problem? Please describe

Since we migrated devfiles from version 1 to version 2, we can simplify [che-devfile-registry ](https://github.com/eclipse-che/che-devfile-registry/tree/main/devfiles).

### Describe the solution you'd like

There are a few steps to do:
1. Remove all devfile folders which we don't use for v2: [dotnet](https://github.com/eclipse-che/che-devfil

[2022-02-03 15:58] amisevsk commented on #21113
Assuming it doesn't conflict with any other standard mounted volumes, the easiest way to implement this would be to apply appropriate automount labels/annotations to mount the configmap to all workspaces in a namespace. Documentation on how to do that is [here](https://github.com/devfile/devworkspace-operator/blob/main/docs/additional-configuration.md#automatically-mounting-volumes-configmaps-and-

[2022-02-03 16:03] olexii4 opened #21120 "Workspace conversion failed"
### Describe the bug

Workspace conversion failed if you try to convert workspaces that were created from these samples:

- [apache-camel-k](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/apache-camel-k/devfile.yaml)
- [che4z](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/che4z/devfile.yaml)
- [rust](https://raw.githubusercontent