[2018-04-27 16:41] dmytro-ndp opened #9565 "Fail build of QA-related jobs on CI just after Eclipse Che deployment has failed"
### Description
We have a dozen of QA-related jobs on CI:
- https://ci.codenvycorp.com/view/qa
- https://ci.codenvycorp.com/view/pr-builds/
- https://ci.codenvycorp.com/view/qa-release

There is `Build > Execute shell` script defined in CI jobs configuration which deploys _Eclipse Che_ and then run selenium tests on it. When _Eclipse Che_ deployment has failed, build script runs selenium tests any

[2018-04-27 17:08] dmytro-ndp opened #9566 "Add an ability to run selenium tests on 'Multi-User Eclipse Che on Docker' by command in pull request comment"
### Description
We sometimes need to have an ability to run selenium tests on _Multi-User Eclipse Che on Docker_ by command **ci-test-docker-multi** in pull request comment.

[2018-04-27 17:11] dmytro-ndp opened #9567 "Add an ability to run selenium tests on 'Single-User Eclipse Che on OCP' by command in pull request comment"
### Description
We sometimes need to have an ability to run selenium tests on _Single-User Eclipse Che on OCP_ by command **ci-test-ocp-single** in pull request comment.

[2018-04-27 19:44] gorkem commented on #9351
Do we need the new version of LSP4J @vparfonov probably good candidate for next sprint. @tsmaeder are we going to update LSP4J together with jdt.ls

[2018-04-27 21:24] dneary opened #9568 "Quick start documentation for openshift-ansible installation?"
## Description

To try Che, I installed OpenShift on a small 2-node cluster of Intel NUCs. I used openshift-ansible, as my understanding is that minishift is for a single-host deployment only.

The issue is, on the Che website, almost all of the documentation says how to install Che with Minishift. What is the recommended quick start method if I am running a different Kubernetes to OpenShift, or i

[2018-04-27 21:25] dneary commented on #9568
I would not normally consider this an issue, but I was told this was a good place to ask questions. Is there a more appropriate forum for questions like these?

[2018-04-27 21:40] dneary commented on #9568
I followed the instructions on https://www.eclipse.org/che/docs/openshift-multi-user.html for OpenShift Container Platform -> HTTP. How can I reach Che now? It is using the routing prefix of test-che.router.default.svc.cluster.local and my laptop does not know how to route there.

[2018-04-28 08:07] #9516 closed

[2018-04-28 08:07] #9459 closed

[2018-04-28 18:36] eivantsov commented on #9568
@dneary https://www.eclipse.org/che/docs/openshift-single-user.html#openshift-container-platform

When deploying to OCP, you had to provide your cluster routing suffix as a param to oc new-app command. `test-che.router.default.svc.cluster.local` can be resolved only in the cluster. Since I don't know how you installed OpenShift and deployed Che, I cannot help more now.

Also, when executing comman

[2018-04-28 18:37] eivantsov commented on #9552
@kostiamol have you started your app in a debug mode so that it listens on 8000?

[2018-04-28 18:42] eivantsov commented on #9551
@mjshashank docker compose isn't yet supported on OpenShift and Kubernetes infras. I'm sure there's an issue for that, but I cannot find it now.

[2018-04-28 18:50] skabashnyuk commented on #9551
https://github.com/eclipse/che/issues/7860

[2018-04-29 15:37] levjason opened #9572 "Syntax error in node stack"
### Description
Workspaces built with the default nodejs stack have an error in their config. The config tab reports that these is an error but does not say where the error is.

### Reproduction Steps
Create a workspace using the default nodejs stack.
Go to the workspace's config page

**OS and version:**
ubuntu 16.04
Che 6.4.0

**Diagnostics:**
The browser debugger console shows:
vendor-73784b1bc

[2018-04-30 05:12] eivantsov commented on #9542
Will this issues be taken care of in upcoming sprints? The ability to show why exactly pod failed to start is a very helpful feature both for Che admin and users on OpenShift.

[2018-04-30 08:54] andrew-mclachlan opened #9573 "Unable to create a Che Workspace using the Che REST API"
### Description

Creating a workspace using the Che API causes a "com.google.web.bindery.event.shared.UmbrellaException: Exception caught: wsagent server doesn't exist".

The same API worked fine with 5.22.x.

### Reproduction Steps
``
curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{"name":"workspace-tvm4swt83","projects":[],"commands":[],"environmen

[2018-04-30 09:31] andrew-mclachlan commented on #9573
Looking at the LOGs, it appears that the wsagent is not installed into the running Docker container/workspace.

[2018-04-30 09:36] andrew-mclachlan commented on #9573
Also reproducible with:

[code]

And using the Che Swagger API.

[2018-04-30 09:43] andrew-mclachlan commented on #9573
the following example shows the problem too
``
{
  "defaultEnv": "default",
  "environments": {
    "default": {
      "machines": {
        "dev-machine": {
          "attributes": {
            "memoryLimitBytes": "2147483648"
          },
          "servers": {},
          "agents": [
            "org.eclipse.che.terminal",
            "org.eclipse.che.ws-agent",
            "org.eclipse.che.ss

[2018-04-30 09:48] lkc0626 opened #9574 "eclipse che connection failed with terminal"
Hi, my name is Lim.
I am just installing the eclipse che to work with keycloak and other things to create development environment on the web.
I have followed docs to install eclipse che on docker.
Installed environment :
- aws
- docker
- Ubuntu
I am able to get into the eclipse che dashboard and create workspace but I cannot create or import a project because I am getting errors : Unable to load j

[2018-04-30 09:49] lkc0626 commented on #9574
![image](https://user-images.githubusercontent.com/11798039/39422189-44b4428c-4ca7-11e8-84c3-8388e4e61069.png)

[2018-04-30 11:06] andrew-mclachlan commented on #9573
"agents" has been renamed to "installers".

And the REST API for checking the status of a workspace has disappeared.

Is there some documentation on the differences between Che 5 and 6 in this regard?

[2018-04-30 11:54] slemeur commented on #9214
Revised requirement.

From @vitaliy-guliy :
![screenshot from 2018-04-23 11-57-53](https://user-images.githubusercontent.com/1636769/39421533-c8211f02-4c69-11e8-8f65-b614d7c059ee.jpg)

We also need to display in the browser title: "Developement Host - workspace"

[2018-04-30 12:41] andrew-mclachlan commented on #9573
I am also seeing new changes with project creation and the inability to create a new project using a git repo (http://my-host:40285/api/project)
``
{
"name": "FART-6plz26sdq",
"type": "BLANK",
"description": "Fart",
"path": "/FART-6plz26sdq",
"source": {
"parameters": {},
"type": "git",
"location": "https://github.com/ARMmbed/mbed-os-example-blinky.git"
},
"attributes": {},
"links": [ { } ],
"mixi

[2018-04-30 12:44] andrew-mclachlan commented on #9573
Ah. Seems that /batch is the REST API to use:
``
curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '[
  {
    "name": "ProjectName",
    "attributes": {},
    "type": "blank",
    "source": {
      "location": "https://github.com/ARMmbed/mbed-os-example-blinky.git",
      "type": "git",
      "parameters": {}
    },
    "path": "/path",
    "options": {}

[2018-04-30 13:00] andrew-mclachlan commented on #9573
In a nutshell, I have discovered the changes to be made from Che 5 to 6 but looking for a document that tells me about the differences. For example, that the /check API has been removed and that "agents" is now "installers" for the JSON structure.

[2018-04-30 13:37] levjason commented on #9572
Our assembly had an outdated copy of stacks.json.

[2018-04-30 13:37] #9572 closed

[2018-04-30 16:17] l0rd commented on #8134
@sleshchenko @eivantsov I have tried to reproduce and `curl tomcat:8080` doesn't work but `curl tomcat-pod:8080` works fine.

So if the pod name is used (instead of the service name) the container to sidecar connection works fine. Wouldn't it be enough?

[2018-04-30 16:17] dneary opened #9576 "Documentation: Prerequisites for Che install"
### Description
The [installation instructions](https://www.eclipse.org/che/docs/quick-start.html) do not list prerequisites for the system (N hosts, M memory , Y disk space) or service requirements (networking, PVCs, identity, security...) from k8s. I feel like I need to learn a lot about OpenShift networking and storage just to get started with Che. It would be great to have a pre-flight checkli

[2018-04-30 16:32] slemeur commented on #3782
cc @skabashnyuk any hints?

[2018-04-30 16:35] eivantsov commented on #8134
@l0rd good to know there's workaround. Btw, how did you manage to find this solution? Any docs or clues that made you try pod name instead of a service name?

Unfortunately, it is not smth that solves LSP in a sidecar issue. Our client reads ws config, and grabs all servers of a special kind from runtime. In runtime, servers acquire URLs, and those are generated depending on infrastructure. In cas

[2018-04-30 16:41] l0rd commented on #8134
I have just `cat /etc/hosts` from within the container so I have no idea how reliable it is. But still better than nothing.

[2018-04-30 16:47] eivantsov commented on #3782
@slemeur wrong URL

https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/samples.json#L1165

While https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/samples.json#L1167 does not exist here https://github.com/platformio/platformio-examples

[2018-04-30 16:51] slemeur commented on #3782
@eivantsov Then if the stack is not maintained/tested I recommend to remove it.

[2018-04-30 16:54] eivantsov commented on #9576
@dneary this is quick start. If you take a look at https://www.eclipse.org/che/docs/openshift-admin-guide.html you will find info that you need. Quick start page redirects you to OpenShift installation pages for single and multi user flavors.

And Che is just a deployment, and docs say what objects are created. I mean there is nothing special about it. It does not differ, say, from PHP + MySQL exa

[2018-04-30 16:56] dneary commented on #9576
@eivantsov Thank you for the pointer to the admin guide. I would still expect to have a prerequisites list before the quick start, with some way to know if your platform was ready to deploy Che.

[2018-04-30 17:02] eivantsov commented on #9574
@lkc0626 can you share browser dev console screenshot? Most certainly ws connection failed

[2018-05-01 08:02] eivantsov commented on #9351
Language servers do not necessarily have to be in sidecars. You can install C# with an installer and launch with a launcher script as usual (`./run --lsp --verbose`)

[2018-05-01 18:31] mbn217 commented on #9565
You have to config your CI job to run only when your Eclipse Che passes. This is done in Build trigger section.

[2018-05-01 20:54] larsonthekidrs opened #9578 "How To Run Program?"
### Description

I need help on how to run my java program. I saw the link https://codenvy.io/docs/tutorials/java/index.html it does not make any sense to me. Can you please help me by simplifying the instructions.

[2018-05-02 00:56] davidjbrewer opened #9579 "Custom Stack created via REST API not visible to all users"
### Description

Added custom stack to CHE via REST API. New stack is only seen by 'admin' user that added the custom stack.

Here is the new stack in the 'admin' account. That stack is not visible to other users.
![image](https://user-images.githubusercontent.com/7935568/39500317-531f8980-4d79-11e8-9a94-eeb72d204f48.png)

### Reproduction Steps

Che 6.2.0 on-premise running on:

[centos@kvmhost2

[2018-05-02 07:44] KOSSOKO opened #9580 "Unable to install Eclipse che on docker"
I'm trying to install Eclipse che multi-user on a centos machine. I run this command :
`
docker run -it -e CHE_MULTIUSER=true -e CHE_HOST=myadress -v /var/run/docker.sock:/var/run/docker.sock -v ~/.che-multiuser:/data eclipse/che:6.4.1 start`

But I got this error

[code]

I don't really know why I got this error. I setted the Docker DNS file to 8.8.8.8 but still got the same problem. Please do yo

[2018-05-02 07:53] ibuziuk opened #9581 "Error marks are shown in Che editor while IDE is resolving dependencies (no "progress information" available)"
### Description
Related openshift.io issue - https://github.com/openshiftio/openshift.io/issues/3336

1- The "progress information" is not displayed in the status bar when ide is resolving dependencies
2- If resolving the dependencies is going to take long time - should we really display errors?

### Reproduction Steps
- start latest che on minishift
- create workspace based on `vert.x` stack and

[2018-05-02 07:58] ScrewTSW commented on #9581
@ibuziuk do the errors disappear once you do build?

[2018-05-02 08:15] ibuziuk commented on #9581
@ScrewTSW no

[2018-05-02 09:07] vinokurig commented on #9245
It is already in the settings. This menu item just handles the settings.

[2018-05-02 10:00] ashumilova commented on #9562
we can do that

[2018-05-02 10:07] ibuziuk commented on #9581
have reworded the issue a bit with a focus on no "progress information" during indexing / resolving deps.
The original osio issue https://github.com/openshiftio/openshift.io/issues/3336 is related to the fact that pre-build deps on image level are not the same that are used in up-to-date quickstart - https://github.com/openshiftio/openshift.io/issues/3336#issuecomment-385926603

[2018-05-02 10:28] ashumilova commented on #9512
@ThomasDeLetter there is really no plugin system designed in dashboard.

[2018-05-02 11:54] skabashnyuk commented on #9481
@ashumilova @vinokurig  what are the state of this issue?

[2018-05-02 12:17] kostiamol commented on #9552
@eivantsov I created new debug command set:
[code]
executed it (with errrors) and started debugging with Run-Debug-Debug... and now it works.

![screenshot from 2018-05-02 14-07-50](https://user-images.githubusercontent.com/5477699/39522712-6154a3ba-4e13-11e8-84f9-599f46031c5c.png)

[2018-05-02 12:17] #9552 closed

[2018-05-02 12:30] eivantsov commented on #9579
* log in as admin
* find your stack ID by refreshing Dashboard page and looking at response of /stacks call. Find your stack my name and get its ID.
* go to CHE_ROUTE/swagger
* permissions
* find the below post method

![image](https://user-images.githubusercontent.com/5337267/39523286-53dbba00-4e15-11e8-9936-45fb0788f35d.png)

* use the following JSON (replace ${STACK_ID} with an actual ID)
[code

[2018-05-02 12:31] eivantsov commented on #9578
@larsonthekidrs what exactly isn't clear? At what stage are you puzzled or blocked?

[2018-05-02 12:34] eivantsov commented on #9580
@KOSSOKO this is where it fails.

Can you run any container with curl and this to execute this command manually?

[2018-05-02 12:58] larsonthekidrs commented on #9578
The class path part @eivantsov

[2018-05-02 12:59] davidjbrewer commented on #9579
@eivantsov Thanks. That worked like a champ.

![resultfromansweredissue](https://user-images.githubusercontent.com/7935568/39524462-b00cb8c4-4dde-11e8-9946-a7728e6ea79e.png)

[2018-05-02 13:02] eivantsov commented on #9579
Happy to help. Btw, there's an issue on that - to wire up those calls in Admin Dashboard.

[2018-05-02 13:07] eivantsov commented on #9578
@larsonthekidrs it does not look like you share a lot of details on what you tried and what failed for you.

[2018-05-02 13:28] vinokurig commented on #9481
Can not reproduce

[2018-05-02 13:44] skabashnyuk commented on #9481
ok. let me check.

[2018-05-02 13:54] dmytro-ndp opened #9584 "Unexpected PreDestroy event triggered in selenium test when '@Test(dependsOnMethods)' attribute is used"
### Description
We have **PullRequestPluginWithForkTest.updatePullRequest** test which depends on **PullRequestPluginWithForkTest.createPullRequest** test and it doesn't make sense to run **updatePullRequest** test if **createPullRequest** has failed. To link the tests `@Test(dependsOnMethods)` attribute was used, but it brought side effect - `PreDestroy` event was triggered after **createPullRequ

[2018-05-02 13:59] skabashnyuk commented on #9481
I continue reproducing this issue.
I've got

[code]

[2018-05-02 14:11] KOSSOKO commented on #9580
@eivantsov it was a firewall problem. I added some exceptions about docker in my firewall rules, and I now able to run the command but now, I have this error about postgres

[code]

[2018-05-02 14:19] eivantsov commented on #9580
I'd remove old containers `docker rm -f $(docker ps -a -q)` and give it a try again

[2018-05-02 14:51] KOSSOKO commented on #9580
@eivantsov  you are totally right. Thanks. I removed all old containers but when I installed from scratch, I got these errors during the install

[code]

[2018-05-02 15:02] eivantsov commented on #9580
@KOSSOKO has Keycloak started OK? Can you check container logs? Looks like it is but Che cannot reach it from within own container. can you make sure port 5050 is open?

[2018-05-02 15:04] larsonthekidrs commented on #9578
@eivantsov  Ok, sorry about that. I got to the part of where I create the action. But I do not get what to do after that. I just need like a video or way simpler instructions.

[2018-05-02 15:24] KOSSOKO commented on #9580
@eivantsov when i run docker ps I have

[code]
In don't know how to check if the port is open

in the logs of keycloak, i have no errors
[code]

[2018-05-02 16:11] eivantsov commented on #9580
Must be port issue. Keycloak started ok.

There's tons of info online on how to manage ports on different OS

[2018-05-02 16:19] Farleon opened #9587 "Adding custom plugin to Che"
### Description
I'm trying to add my custom made plugin to che. I added the necessary dependencies to pom.xml and built the project. However when launching, I can't find it. Looking a lot like this problem https://github.com/eclipse/che/issues/2330.

### Reproduction Steps
These are the dependencies
assembly-ide-war dependencies
[code]

assembly-main dependencies
[code]

assemblye-wsagent-server d

[2018-05-02 21:07] davidwindell opened #9588 "MACHINE_TOKEN is not available in SSH"
### Description
When using SSH to connect to a workspace, none of the CHE_ environment variables are available (for example CHE_API). Most importantly, `MACHINE_TOKEN` is not available which means that via SSH we can't run any commands/tools we have that communicate with the CHE_API.

`GIT_SSH` is available however and appears to be injected like so https://github.com/eclipse/che/blob/2c2bd6637c81

[2018-05-03 06:12] tsmaeder opened #9589 "Languages Sprint 149"
# Availability
@tsmaeder:
@tolusha
@svor
@vrubezhny
@JPinkney
@fbricon
(@snjeza )

xd * 0.7= yd

Topics: Finish up hurdles to merging to master, Get started with Theia development

* [ ] https://github.com/eclipse/che/issues/9423 Display Stack Frames 5d
* [ ] https://github.com/eclipse/che/issues/9424 Suspend/Resume Action 3d
* [ ] https://github.com/eclipse/che/issues/9421 Show Threads 5d
* [ ] h

[2018-05-03 06:19] #8335 closed

[2018-05-03 06:25] Ohrimenko1988 commented on #9321
Can't reproduce on the 6.4.0 and 6.5.0 versions

[2018-05-03 06:25] #9321 closed

[2018-05-03 06:35] eivantsov commented on #9588
@davidwindell that's not Che specific problem

https://stackoverflow.com/questions/34630571/docker-env-variables-not-set-while-log-via-shell?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

As a workaround, I'd write all envs to /etc/environment on container start (in the entrypoint). Of course, you will need a custom stack for it.

[2018-05-03 06:39] tsmaeder opened #9590 "Make jdt.ls Selenium Tests Run"
Che selenium tests currently don't run properly: https://ci.codenvycorp.com/view/qa/job/che-integration-tests-jdt-ls-docker/
We need to fix this.

[2018-05-03 06:42] eivantsov commented on #9587
@Farleon is this a custom plugin or a sample one https://github.com/che-samples/che-plugin-wizard?

[2018-05-03 06:43] davidwindell commented on #9588
Ah, of course, thank you so much @eivantsov, that's a great idea!

[2018-05-03 06:44] davidwindell commented on #9588
Perhaps there is an argument for adding to /etc/environment in the SSH agent launch script?

[2018-05-03 06:47] skabashnyuk commented on #9481
<details>
<summary>my ws-config</summary>

[code]
</details>

[2018-05-03 06:52] #9276 closed

[2018-05-03 06:53] eivantsov commented on #9481
@skabashnyuk @vinokurig I confirm the issue. Same output for me.

@vinokurig can you identify Theia version in the image you have?

[2018-05-03 06:58] tsmaeder opened #9591 "Address Selenium Test Merge Blockers"
Epic for addressing issues found in selenium tests with jdt.ls.

- [x] https://github.com/eclipse/che/issues/10431
- [x] https://github.com/eclipse/che/issues/10115
- [x] https://github.com/eclipse/che/issues/10425
- [x] https://github.com/eclipse/che/issues/10112
- [x] https://github.com/eclipse/che/issues/10095
- [x] https://github.com/eclipse/che/issues/10094
- [x] https://github.com/eclipse/ch

[2018-05-03 07:00] tsmaeder opened #9592 "Analyze Selenium Test Failures with jdt.ls"
Analyze selenium test failures in https://ci.codenvycorp.com/view/qa/job/che-integration-tests-jdt-ls-docker/ and determine which need to be fixed pre-merge.

[2018-05-03 07:15] ScrewTSW opened #9593 "UX bug when editing html documents"
### Description
I've ran into this bug when I was playing around with Springboot HTTP Booster stack.
I wanted to edit some elements on the page and when I started editing code, I've noticed the weird way the elements get highlighted.

Tested on upstream as well, issue still present.

### Reproduction Steps
* Create new springboot-http-booster project
* Open project files -> resources -> index.html

[2018-05-03 07:15] akurinnoy commented on #9210
https://github.com/theia-demo-plugins/wiptheia/commit/e05c66dea7ae59df2cb8e5d000c41691c0ffe178

[2018-05-03 07:15] #9210 closed

[2018-05-03 07:26] vinokurig commented on #9481
Reproduced the issue after destroy and restart CHE

[2018-05-03 07:39] eivantsov commented on #9481
@vinokurig I wonder if it's cause by 0.3.8 version of Theia that we currently have in `eclipse/che-theia:nightly` image.

[2018-05-03 07:47] skabashnyuk commented on #9292
@l0rd  @gorkem
DevTool name is fine, however, I see it a bit inconsistent with other names. Like CheFeature
or ChePlugin (we discusses this object in Che marketplace flow). So I think, we should call them all like Che* or they all should not have this prefix. My proposal

1. CheService -> CheTool, CheDevTool
2. CheFeature
3. ChePlugin

or

1. CheService -> DevTool
2. CheFeature -> Feature
3. ChePl

[2018-05-03 07:49] danidoedel commented on #9593
Duplicates #8867

[2018-05-03 07:50] vinokurig commented on #9481
Couldn't start the plugin locally.  I'll investigate it ASAP.

[2018-05-03 08:07] skabashnyuk commented on #8282
Last Thursday we have a meeting
with @gorkem @slemeur @ashumilova @l0rd @vparfonov @benoitf
We talked about a possible format for Che plugins.
At this moment we thought about zip file with a couple of resources inside.

Packaging of the Che Feature

.cfa (che feature archive)
- marketing.png
- plugin.yaml (metadata)
- feature.yaml (features)
- service.yaml(services)
- theia1Plugin.zip
- theia2Plug

[2018-05-03 08:07] lkc0626 commented on #9574
![image](https://user-images.githubusercontent.com/11798039/39565793-554cec6c-4ef4-11e8-8f8a-83cd65eae8ca.png)
![image](https://user-images.githubusercontent.com/11798039/39565817-63c1d7c6-4ef4-11e8-840a-ba9b96046f8a.png)
these are screenshot from what I am getting error... ws means web socket connection?
How can I solve that part? where should I look? I opened all tcp ports...

[2018-05-03 08:28] ScrewTSW commented on #9593
@danidoedel correct - closing

[2018-05-03 08:28] #9593 closed

[2018-05-03 08:31] skabashnyuk commented on #8282
Proposed API for plugins
![2018-05-03 11 09 31](https://user-images.githubusercontent.com/1614429/39566789-68d24400-4ec5-11e8-8154-62e859c34bf9.png)

```POST```  method of plugin creation omitted intentionally. We will go back to it soon.
See more
https://app.swaggerhub.com/apis/skabashniuk/Che/1.0.0#/definitions/ChePlugin

[2018-05-03 08:35] ashumilova opened #9595 "Introduce the plugin API for terminal"
The new plugin model should contain API for creating and accessing terminal in Theia. The task includes following items to be done:
- [x] define the API of the terminal operations
- [x]  document the API
- [x]  develop the defined API
- [x]  test it on the sample plugin

[2018-05-03 08:41] ashumilova opened #9596 "Introduce the Window state API"
The new plugin model should contain API for tracking the window state (focused) in Theia. The task includes following items to be done:
- [ ] define the API of the Window state
- [ ] document the API
- [ ] develop the defined API
- [ ] test it on the sample plugin

[2018-05-03 08:43] ashumilova opened #9597 "Introduce the Preferences API"
The new plugin model should contain API for managing the preferences in Theia. The task includes following items to be done:
- [ ] define the Preferences API
- [ ] document the API
- [ ] develop the defined API
- [ ] test it on the sample plugin

[2018-05-03 09:33] eivantsov commented on #9574
Browser dev console if possible. I need to take a look at failed ws requests

[2018-05-03 09:56] skabashnyuk commented on #8282
@benoitf @gorkem  @vparfonov here is instruction how you can test marketplace prototype
https://github.com/skabashnyuk/kubsrv/blob/master/README.md

[2018-05-03 10:00] benoitf commented on #8282
how do I get a mock plugin that includes a theia1Plugin.zip ?

[2018-05-03 10:07] dmytro-ndp opened #9599 "Error of removal of workspace created from factory in Eclipse Che on Docker infrastructure"
### Description
There several errors occurred when selenium tests on _Single User Eclipse Che on Docker_ were being executed on CI job https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-docker/262/consoleText:
[code]

<details>
 <summary>Che server log</summary>
 <pre>
2018-05-02 21:22:56,559[nio-8080-exec-8]  [INFO ] [o.e.c.a.w.s.WorkspaceManager 459]    - Workspace 'che/workspac

[2018-05-03 10:08] benoitf commented on #8282
I will be able to provide to you soon a valid link to a theia zip plugin (so we could have for example to test
[code]
inside the plugin.yaml

[2018-05-03 11:00] skabashnyuk commented on #8282
@benoitf
As far as I understand you need to somehow grab the content of plugin to be able to start it with Theia
For example che-theia-github. This feature has such description.
[code]
What if I've change it on this form

[code]
In this case you will have url of this plugin as part of environment variable inside of theia container
Would it work for you?

[2018-05-03 11:04] skabashnyuk commented on #8282
BTW @benoitf have you tried this https://github.com/skabashnyuk/kubsrv/blob/master/README.md#how-to-use or you exeprement with swaggerhub?

[2018-05-03 11:10] #9528 closed

[2018-05-03 11:56] benoitf commented on #8282
As far as I understand you need to somehow grab the content of plugin to be able to start it with Theia
 For example che-theia-github. This feature has such description.

I start from the description of a `.car` file that can embed theia plugins. So I want to grab this zip that was part of the `.car` file.
[code]

I need to grab these theia zip files from 'market place'

I'm experimenting with swa

[2018-05-03 12:08] skabashnyuk commented on #8282
My thought that main purpose for .car file is only to submit plugins(we can postpone this method and just directly add contnet to git like I did here https://github.com/skabashnyuk/che-registry/tree/master/org/eclipse/che/che-theia-github/0.0.1). I didn't expect any other methods that will return .car file.

I can convert it to json. But I guess for users when they will work on ```.car``` file con

[2018-05-03 12:26] benoitf commented on #8282
I'm fine to submit only '.car files" but almost all data of .car files should be available to clients.
so if I upload a .car file embedding a theia plugin, I should have a way to list these files and grab them as well, correct ?

- about metadata :

[code]

in the first sample the .car contained two theia plugin zip files so value would have two URLs ? in THEIA_PLUGINS ? or it provides an array

a

[2018-05-03 12:36] SkorikSergey commented on #8931
This issue is still reproduced in **[multiuser]** mode:
![eclipse che wksp-tg4c web-java-spring - google chrome_248](https://user-images.githubusercontent.com/7760565/39576695-b579628a-4ee7-11e8-9457-cca9da20ff1d.png)

[2018-05-03 12:45] skabashnyuk commented on #8282
In my meaning it is.
You can get
1. plugin metadata with ```curl  http://localhost:3000/plugin/org.eclipse.che.che-theia-ssh/0.0.1```
2. plugin feature with ```curl  http://localhost:3000/feature/org.eclipse.che.che-theia-ssh/0.0.1```
3. plugin service with ```curl  http://localhost:3000/service/org.eclipse.che.theia-ide/0.0.1```

About everything else let's talk on concrete examples, what you wan

[2018-05-03 13:13] benoitf commented on #8282
I'm talking about getting the two theia zip plugins of the .car since the beginning

[code]
My question is why is it in a so hidden output format for clients that need to grab the two theia plugin zip files ?

a client would need to ask the list of services then look if there is service named org.eclipse.che.theia-ide
then, grab THEIA_PLUGINS and then parse again a comma separated value
not so eas

[2018-05-03 13:27] benoitf commented on #8282
it's maybe implementation details for you but let say I work on implementing the calls for theia plugins. And for now it's not elegant at all for clients. (including the work I need to do)

What for? Everything that user need to see or interact with is in ChePlagin metadata or in Feature description.

1. Where I specify in my .car file that I have two theia plugins ? I suppose dropping two zip fil

[2018-05-03 13:42] benoitf commented on #8282
Here is an example of vscode marketplace
if I take a random page like
https://marketplace.visualstudio.com/items?itemName=DotJoshJohnson.xml

I have a link https://marketplace.visualstudio.com/_apis/public/gallery/publishers/DotJoshJohnson/vsextensions/xml/1.9.2/vspackage

where I can grab the plugin zip directly.

[2018-05-03 13:44] skabashnyuk commented on #8282
In our case, all that we can deliver is a parameter for container. More concrate environment variables. In our case, if you need to deliver several artifacts to some container it can be made in this way.
[code]

I see that this question is quite important for you and I'm happy to participate with it. In case if you can provide some more details how you see it will going to happen. Some links to sp

[2018-05-03 13:49] #9599 closed

[2018-05-03 13:50] skabashnyuk commented on #8282
Ok we can imagine ```GET``` method to get ```.cfa```  file back. Would it work for you?

[2018-05-03 13:55] #8993 closed

[2018-05-03 14:07] benoitf commented on #8282
ok let's move out lifecycle for now for plugins

I'm more interested in having a GET method for each 'theia plugin'
it could work with the cfa but I presume that if archive is containing screenshots, etc it may not be interesting at all

GET `plugin/version/<something-to-get-what is inside the cfa like theia plugins>`

GET /plugin/version/theia I have array of theia plugins for this che plugin (pl

[2018-05-03 14:10] KOSSOKO commented on #9580
@eivantsov thanks a lot. Problem solved. the port 5050 were blocked in my iptables

[2018-05-03 14:44] benoitf commented on #8282
let's refresh as well:
-plugins, market place and workspace.next are three working items. I should be able to work with marketplace without having workspace.next complete and workspace.next can still work without plugins.

--> I still need to get engine level of a theia plugin when I want to enable or disable a feature on top of my workspace or to ensure that it will work when publishing it. (two

[2018-05-03 15:27] skabashnyuk commented on #8282
Not sure all of that are possible. What I can see that we all should do our best to move forward plugins, market place and workspace.next in parallel
and not to make problems to each other.

Ok. Tell me what and how are you going to do with them? How its related to eclipse/che-theia:nightly, our image that is going to run Theia inside of Eclipse Che

[2018-05-03 15:35] benoitf commented on #8282
image could grab the plugins and install them or not install them due to an incompatible engine version (by getting theia plugin's metadata through registry)
Also theia-nightly image could show (or in addition to dashboard) could display all compatible features for theia

[2018-05-03 18:14] eivantsov opened #9603 "Clangd does not work on Fedora and RHEL"
Not sure whose fault is this:

On RHEL 7.4, with llvm-toolset-extra **5.0.1** (which includes clangd), initialization of a language server happens but with errors:

[code]

When tested on Debian and Ubuntu, where llvm version is 6.0, everything works as expected:

[code]

[2018-05-04 02:12] gorkem commented on #9580
Super Eugene saves the day. Closing

[2018-05-04 02:12] #9580 closed

[2018-05-04 02:17] davidwindell opened #9605 "Option to disable search index?"
Is it possible to disable Lucene indexing?

We don't use the search in the IDE but when launching workspaces, there is significant CPU usage for over a minute whilst the index is built:

`2018-05-04 00:59:28,352[rcherInitThread]  [INFO ] [o.e.c.a.s.s.i.LuceneSearcher 158]    - Initial indexing complete after 91476 msec `

Alternatively, is it possible to declare folders to ignore for search?

**OS

[2018-05-04 03:12] #9534 closed

[2018-05-04 06:32] skabashnyuk commented on #9605
I would suggest taking a look on this property ```vfs.index_filter_matcher``` https://github.com/eclipse/che/blob/master/wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/search/server/impl/LuceneSearcher.java#L117

[2018-05-04 07:18] skabashnyuk opened #9606 "Platform-2018-05-29 (Sprint: 149)"
### Features related to Hot update for wsmaster
- [x] Hot update testing on working master https://github.com/eclipse/che/issues/9657 8sp
- [x] [hot_update] Find way to avoid errors in the moment when Che server pending HTTP requests during update  https://github.com/eclipse/che/issues/9624 5sp
- [x] Servers checkers won't be started if a workspace is started by another Che Server instance https:/

[2018-05-04 07:39] dmytro-ndp opened #9607 "Add Eclipse Che build info into the selenium tests log"
### Description
Every time we are testing Eclipse Che we should be aware of what exact build of product we have.
Therefore it would be useful to print into the selenium tests log the testing product build info.

This issue is related to #9610

[2018-05-04 08:28] mshaposhnik opened #9609 "[Hot_update] Persistence service should not be stopped when Che is shut down via rest"
When Che master is shut down via SIGTERM or REST, we're processing all terminatiotions and stop persistence on `READY_TO_SHUTDOWN` event.
Need to change this to avoid stopping persistence after shutdown by REST, because DB still may be requested for some reasons.

[2018-05-04 09:01] dmytro-ndp opened #9610 "Prevent execution of QA CI jobs if che-server image wasn't updated on Docker Hub"
### Description
We have regularly situation when [Eclipse Che QA CI jobs](https://ci.codenvycorp.com/view/qa) execute selenium tests against outdated Eclipse Che version because [che-server image on Docker Hub](https://hub.docker.com/r/eclipse/che-server) hasn't been updated by [appropriate CI job](https://ci.codenvycorp.com/view/nightly-builds/job/all-che-docker-images-nightly/). For example, [bu

[2018-05-04 09:38] lkc0626 commented on #9574
where is browser dev console? How can I access it?

[2018-05-04 11:05] skabashnyuk commented on #8282
So I guess, this will work for you. When we provide a comma-separated list of plugins as an environment variable of theia container. BTW in future, we can optimize this process and convert this links to paths to some attached volume where we can put all or some most frequently used artifacts.
[code]
The only one missing part of what I understand is the server who can serve artifacts over http. @fl

[2018-05-04 11:09] #8957 closed

[2018-05-04 11:11] #8929 closed

[2018-05-04 11:26] vanzhiganov opened #9613 "Installation without Docker"
How I can Install Che IDE without Docker?

[2018-05-04 11:38] skabashnyuk commented on #9613
You have two alternatives OpenShift https://www.eclipse.org/che/docs/openshift-single-user.html and Kubernetes https://www.eclipse.org/che/docs/kubernetes-single-user.html

[2018-05-04 12:12] vanzhiganov commented on #9613
This is not an answer, because in my case any layers (like docker, kibe and osh) is big overhead for my working system environment.

[2018-05-04 12:26] benoitf commented on #8282
I think we're stuck on the discussion so I think we should move to a call after summit.

What I mean is that registry should expose other data, so one view is for what you want to implement, but there are still other views/data access to the registry. I could ask and get more stuff from the registry API on metadata (including theia plugin's metadata)

From @slemeur spec: "the plugin listed under w

[2018-05-04 12:36] vinokurig commented on #9245
Pull request to Theia upstream: https://github.com/theia-ide/theia/pull/1648
It includes menu action with toggling (similar to VScode). The problem is that the electron app doesn't view this menu action as toggled because Theia electron doesn't support dinamic menus: https://github.com/theia-ide/theia/issues/446.
To merge this PR to Theia we need to find a way to view toggled menu items in Theia e

[2018-05-04 12:53] vinokurig commented on #8981
Theia team proposed next approach: (https://github.com/theia-ide/theia/issues/1433#issuecomment-370135224)
- Command to open the settings file (create one if it doesn't exist)
- JSON schema support

JSON schema support should give an ability to see all possible preferences.
There is an issue for that: https://github.com/theia-ide/theia/issues/1434 but I am not sure about it's state.

[2018-05-04 14:05] mmorhun opened #9618 "Add support for multiple plugins in Theia hosted mode"
### Description
We should support multiple plugins in hosted mode to be able to test plugins interactions.
For example, the hosted environment uses the plugin from workspace and hooks the debugger.

[2018-05-04 14:39] vparfonov opened #9620 "In case ws-agent stopped unexpectedly all editors should become in readonly mode or close them"
For now if ws agent stopped we got warning message if user hit "Ignore" all open editors still opened and user can typing in editor but changes never save.
It can confuse user, so we need turn on read only mode or close them

[2018-05-04 14:48] benoitf commented on #9618
maybe it's duplicating https://github.com/eclipse/che/issues/9476
AFAIK this issue is more to be able to select/define the multiple plugins that you need on hosted server (from a client side perspective), not to run multiple which is possible with the linked issue.

[2018-05-04 15:51] sunix commented on #9323
@garagatyi I am updating the description to avoid confusion (I just tried `CHE_API_EXTERNAL_URL` and not `CHE_API_EXTERNAL` :-/ )

[2018-05-04 16:12] slemeur opened #9621 "Different behaviour observed when a build command is executed from terminal vs che.command"
### Description
There is a difference between the execution of a command from a Che command and executing it from the terminal.

See: https://github.com/openshiftio/openshift.io/issues/3463

See animated video:
![terminal-command](https://user-images.githubusercontent.com/1636769/39638327-32928f4c-4fc6-11e8-86fd-7e562d860763.gif)

**Diagnostics:**
6.4.1

[2018-05-05 05:44] skabashnyuk commented on #9621
related to https://github.com/eclipse/che/issues/9588

[2018-05-05 06:25] slemeur commented on #9621
@skabashnyuk Could you explain how this issue is related to #9588 and if you have a resolution/workaround proposal?

[2018-05-05 06:35] skabashnyuk commented on #9621
Build command and terminal uses different backend to actually execute commands. I assume they have different behavior how they work with ```tty``` and how they setup environment (.bashrc , .profile etc).  I belive that this is a source of the problem

[2018-05-05 07:28] SkorikSergey opened #9623 "Unexpected fail of selenium tests from 'refactor.types' package"
### Description
We have unexpected fail of selenium tests from 'refactor.types' package. The tests sometimes fail when waiting for test project after starting IDE. We should clarify reason and fix it.

**Log:**
[code]

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-ocp/233/Selenium_tests_report/

[2018-05-05 08:23] mshaposhnik opened #9624 "[hot_update] Find way to avoid errors in the moment when Che server pending HTTP requests during update"
### Description
Workspace agent needs somehow communicate with Che Server. And it uses Che Server Route URL for requests. But during Rolling Update there may be some hanging requests (for about few minutes) when OpenShift Router picks up the new Che Server. As result Workspace Agent fails to start when it requests Che Server during switching Che Servers. Logs are attached.

Possible way is to find

[2018-05-05 08:31] dmytro-ndp opened #9625 "Error of deploying Eclipse Che on OCP"
### Description
It's impossible to deploy Eclipse Che on OCP because of error:
[code]
The problem was caused by commit https://github.com/eclipse/che/commit/a22a2b3510cfb3ab97779df0497909186e4831df

[2018-05-05 08:32] olexii4 commented on #9525
https://github.com/theia-ide/theia/pull/1844

[2018-05-05 08:33] slemeur commented on #9621
Any suggestion on how we could workaround that? the downstream issue openshiftio/openshift.io#3463 is quite critical at this moment.

[2018-05-05 08:53] vkuznyetsov opened #9626 "QE-2018-05-29 (Sprint: 149)"
### Sprint goals

### Issues tied to objectives
- [x] Add the 'try/catch' block to the 'PullRequestPluginTest' acording to the known issue  https://github.com/eclipse/che/issues/9639 1sp
- [x] Replace the known issue in the 'try/catch' block in the TestWorkspaceImpl https://github.com/eclipse/che/issues/9647 1sp
- [x] Rework the 'ImportWizardFormTest' to use the 'kohsuke Github' library https://gi

[2018-05-05 09:05] #9625 closed

[2018-05-05 09:17] skabashnyuk commented on #9621
Commented here https://github.com/openshiftio/openshift.io/issues/3463#issuecomment-386791795

[2018-05-05 09:40] vparfonov opened #9628 "IDE-2018-05-29 (Sprint: 149)"
### Goals
#### Theia improvement:

- [ ] Preferences System for Che with Theia IDE #9336
- [ ] Che Plugin Marketplace - Phase 1 #8282
- [ ] Support commands macro in Theia tasks #8974

### Issues

#### Artem
- [ ] _[Theia]_ Support commands macro in Theia tasks #8974

#### Dmytro
- [x] Newer Go and C# language servers do not work with Che LSP client #9351
- [ ] _[Theia]_ Navigation from Stack Trac

[2018-05-05 10:02] lkc0626 commented on #4735
Hi,
This post has been a quite a while... Is it okay for me to ask whether internationalization of Eclipse Che is available now?...

Thank you.

[2018-05-05 10:42] lkc0626 commented on #9574
Hi, I installed virtualbox on my local machine instead of using aws, then I am able to create workspace just fine. Which means it has to do with settings on aws... probably proxy settings... what ports should eclipse che need to be opened? (other than port 8080, ssh 443, and http 80) I have opened those three so that I am able to connect to dashboard... and ssh shell...

[2018-05-05 11:01] skabashnyuk commented on #9491
Implemented. See more https://github.com/skabashnyuk/kubsrv/blob/master/README.md

[2018-05-05 11:01] #9491 closed

[2018-05-05 11:02] skabashnyuk commented on #9408
Added here https://github.com/skabashnyuk/che-registry

[2018-05-05 11:02] #9408 closed

[2018-05-05 11:16] skabashnyuk commented on #9414
Done in https://github.com/eclipse/che-docs/pull/399

[2018-05-05 11:16] #9414 closed

[2018-05-05 11:21] skabashnyuk opened #9630 "Document procedure of Rolling Hot Update"
### Description
We need to create admin guide how hot update is working. Describe :
 - corner cases
 - timeouts,
 - checklists
 - configuration properties

[2018-05-05 11:30] skabashnyuk commented on #9605
No.
1. Because there is no one who can transfer it to ws-agent.
2. Even if someone transfers it to ws_agent it has to be transformed to ```CHE_``` prefixed format to pass this filter https://github.com/eclipse/che/blob/master/core/commons/che-core-commons-inject/src/main/java/org/eclipse/che/inject/CheBootstrap.java#L279

The only way what I can see is to create file assembly-wsagent-war/src/main/

[2018-05-05 11:35] davidwindell commented on #9605
Ok, I'll close for now as don't want to build a custom assembly. It would be good on the future to have a flag to disable indexing to reduce resource when it's not needed. Or at least wait until the first file is opened

[2018-05-05 11:35] #9605 closed

[2018-05-05 12:03] ashumilova opened #9631 "IDE2-2018-05-29 (Sprint: 149)"
### Sprint Goals:
1. Plugin model implementation
2. Hosted mode with Theia in Che
3. Factories support in Theia IDE

## 1. Extensibility model implementation
- [x] Provide API for Editor events https://github.com/eclipse/che/issues/9433 20sp
- [ ] Define the editor api workflow needed to implement teletype plugin https://github.com/eclipse/che/issues/9679
- [x] Introduce the Status bar API https:/

[2018-05-05 12:18] vinokurig commented on #9481
I've fixed the issue with running the plugin locally by updating Theia dependencies to latest.
The problem is that the workspace with the plugin hangs on loading. @ashumilova I guess this is caused by version difference of the Theia in the image (0.3.7) and Theia in the plugin dependencies (0.3.10).

[2018-05-05 12:38] #9425 closed

[2018-05-05 12:43] skabashnyuk commented on #9014
out of date

[2018-05-05 12:43] #9014 closed

[2018-05-05 12:48] skabashnyuk commented on #8344
@garagatyi is it correct if we implement this issue we would not be able to base images in workspace definitions, such as ubuntu and others?

[2018-05-05 13:04] skabashnyuk commented on #7245
@SkorikSergey need to check this issue against Che6 master.
Question. Did you restart this workspace or it's without restart?

[2018-05-05 13:06] skabashnyuk commented on #6713
@gorkem would you like to keep this issue?

[2018-05-05 13:48] larsonthekidrs commented on #9578
@eivantsov I just figured it out with another solution. Thanks for trying to help me.

[2018-05-05 13:51] SkorikSergey commented on #7245
This issue is reproduced in CHE 6.0.5.
After removing from an organization the member can do all operations with this workspace except it deleting.

[2018-05-06 12:16] arielbangiev commented on #9429
@eivantsov, @guydaichs, we tried to deploy Che to Kubernetes with multiuser and TLS after your merge of PR #9533.

The host of the Keycloak ingress looks something like this:
[code]

A valid certificate is served when accessing this url.

The PROTOCOL environment variable of the Keycloak pod is appropriately set to https, but the ```/auth/admin/master/console/index.html``` file contains links and

[2018-05-06 13:25] eivantsov commented on #9429
@arielbangiev `PROTOCOL` env is used only by the entrypoint script to configure realm and and client reidrectUris and webOrigins.

As far as I understand, automatic redirection to https should happen when tls is on - https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/charts/che-keycloak/templates/ingress.yaml#L16-L17

Does Keycloak fail to load because of this? What does browser

[2018-05-06 17:59] gorkem commented on #6713
We can close it, we are handling this already

[2018-05-06 17:59] #6713 closed

[2018-05-07 06:48] skabashnyuk commented on #9406
@garagatyi I think in Phase 1 we should go in the easiest direction we can. If it's a requirement to have only 1 pod then let's go in this way.

[2018-05-07 07:02] perspectivus1 commented on #9429
@eivantsov, the Keycloak ingress is configured correctly -- it accepts https requests and forwards them to the Keycloak server. The issue is the generation of Keycloak Admin Console **client resources**. All links are generated using full path, including **protocol** and hostname.

The browser throws a mixed content error:
[code]

[2018-05-07 07:54] eivantsov commented on #9429
@perspectivus1 I wonder why it works correctly on OpenShift. Routes are set to Allow or Redirect insecure traffic (both work).

[2018-05-07 08:17] skabashnyuk commented on #8856
@artaleks9 please rerun tests after merge of https://github.com/eclipse/che/pull/9619 and pay attention to KubernetesInternalRuntime errors on ws-master. Let us know if you saw something.

[2018-05-07 08:26] skabashnyuk commented on #8856
((

[2018-05-07 08:55] #9458 closed

[2018-05-07 08:59] kostiamol opened #9632 "Creating custom workspace"
I'd like to use a Go stack with go version 1.10.02. As I see, I should create my own stack. Also, I'd like to add my own sample for running it on the stack. Do I need to write a plugin for that? Is there any way to somehow automate the process of using all my custom stuff by other users?

[2018-05-07 09:01] SkorikSergey commented on #9623
Not reproduced.

[2018-05-07 09:01] #9623 closed

[2018-05-07 10:23] artaleks9 opened #9633 "Replace the 'mockito.jar' library from the 'run-plain-java-project' in the resources"
### Description
* Need to replace the 'mockito.jar' library in the test project 'run-plain-java-project' in the resources
* Related selenium test: _RunPlainJavaProjectTest_

[2018-05-07 11:38] mshaposhnik commented on #9624
I have written the script which GET-s the workspace every 0.1 s and logs the full request time.
During update, there is always single 5-6 sec outage when 000 status code returned, and then API resumes normally. Never saw 504 responses.

[2018-05-07 11:52] eivantsov commented on #9632
@kostiamol you don't need a plugin.

You can create own stack from a Dockerfile, Docker image or Composefile (if you are on Docker of course). As to samples, if you take a look at `/instance/data/templates` in the local storage directory for Che. There's a json there with default samples. You can create your own json to put near this one. Take a look at tags in stacks and samples, this is how dash

[2018-05-07 12:06] kostiamol commented on #9632
@eivantsov Hmm... My templates folder is empty.

[2018-05-07 12:09] eivantsov commented on #9632
`instance/data/templates` not `instance/templates`

[2018-05-07 12:11] garagatyi commented on #9546
I'm not sure whether this is an epic. AFAIK we haven't discussed what has to be done with commands in Workspace NEXT, so can't say whether it is something like an epic or a regular task.

[2018-05-07 12:12] kostiamol commented on #9632
![screenshot from 2018-05-07 14-11-30](https://user-images.githubusercontent.com/5477699/39701225-a843fba4-5200-11e8-918d-caf43e1ad630.png)

[2018-05-07 13:25] fbricon commented on #9589
Fred 13d

[2018-05-07 13:54] SkorikSergey commented on #7990
@l0rd Is this issue still actual.

[2018-05-07 13:54] SkorikSergey commented on #7989
@l0rd Is this issue still actual.

[2018-05-07 13:54] SkorikSergey commented on #7991
@l0rd Is this issue still actual.

[2018-05-07 14:01] eivantsov commented on #8856
@sleshchenko there's another thing that I will ask for in case these logs may contain helpful info:

[code]

Will there be any clues in bootstrapper.log in case a terminal installer fails? If so, can we somehow have it in master logs?

[2018-05-07 14:11] olexii4 commented on #9525
https://github.com/theia-demo-plugins/wiptheia/pull/2

[2018-05-07 14:14] ChristianSchenk711 opened #9635 "No "ProjectDeletedEvent" when a project is deleted"
### Description

In my code (working on 5.22.1) I subscribe to the event `org.eclipse.che.api.project.server.notification.ProjectDeletedEvent` using       `org.eclipse.che.api.core.notification.EventService.subscribe()`.

In 6.x this event is not fired any more.

When searching the che master, I can see that the event-class (`ProjectDeletedEvent`) is still there and that  `org.eclipse.che.plugin.m

[2018-05-07 14:33] eivantsov commented on #9635
@vparfonov can you help?

[2018-05-07 14:38] vparfonov commented on #9635
Ok I will check it

[2018-05-07 15:00] eivantsov commented on #9551
Closing the issue. Follow https://github.com/eclipse/che/issues/7860

[2018-05-07 15:00] #9551 closed

[2018-05-07 16:27] #9584 closed

[2018-05-07 16:35] #9525 closed

[2018-05-07 16:36] olexii4 commented on #9525
![selection_141](https://user-images.githubusercontent.com/6310786/39586374-9162c19e-4eff-11e8-9711-e98474c09934.png)
![selection_148](https://user-images.githubusercontent.com/6310786/39586443-ba21bdc4-4eff-11e8-9f69-299bf69f73ca.png)
![selection_154](https://user-images.githubusercontent.com/6310786/39586502-e2982eb4-4eff-11e8-8c69-5c1a06e470a3.png)

[2018-05-07 16:58] acdhound opened #9637 "YAML language server hover feature doesn't work"
### Description
Hover doesn't work for YAML files, when default YAML language server is enabled.

### Reproduction Steps
1. Run Che from Docker via command:
`docker run -i --rm -v //var/run/docker.sock://var/run/docker.sock -v //home/user/che_1:/data eclipse/che:6.4.1 start`

2. Create workspace from default blank stack

2. Enable YAML language server and run workspace

3. Go to Profile -> Prefere

[2018-05-07 18:04] eivantsov commented on #9429
@annatech

Eclipse Che multi-user support https mode on OpenShift. It's tried and tested. That's why I ask myself and those you may have any ideas - why does it work with OpenShift routes and doesn't work with ingress?

![image](https://user-images.githubusercontent.com/5337267/39716873-3b3c3988-523a-11e8-8cfa-eb8566b1c9a8.png)

[2018-05-07 18:57] garagatyi commented on #8344
@skabashnyuk yes, we won't be able to use such images in our stacks on docker infrastructure. But they don't work on other (k8s, OS) infrastructures, so it makes sense to me to align the behavior and not to change user's containers.

[2018-05-07 20:29] l0rd commented on #7990
Yes it should

[2018-05-08 04:59] mjshashank opened #9638 "[Kubernetes] CPU limits for workspaces"
### Description

While in docker setup it is possible to set up CPU limits using environment variables for workspaces, is the same possible in a Kubernetes setup by setting CPU requests and limits?

[2018-05-08 05:31] skabashnyuk commented on #8344
Not sure we need that. I guess we need PM @slemeur  confirmation on that.

[2018-05-08 05:41] sleshchenko commented on #8856
@eivantsov I think we can log installer error output.

[2018-05-08 06:36] artaleks9 opened #9639 "Add the 'try/catch' block to the 'PullRequestPluginTest' acording to the known issue"
### Description
* Need to add the _try/catch_ block to the selenium test
* Related selenium test: _PullRequestPluginTest_
* Related known issue: #9484

[2018-05-08 06:43] artaleks9 commented on #8671
When the load on the CI server was reduced to two threads the bug is not reproduced.

[2018-05-08 07:01] eivantsov opened #9641 "OpenShift/K8S: Log installer errors in wsmaster log"
At times, workspaces fail to start when an installer fails. Installer logs are streamed to machine tab in consoles panel in the IDE. However, in use cases when the IDE is not opened (or a page is refreshed) logs are unavailable and there are no clues why an installer fails.

So, having installer error logs in master will be extremely helpful in debugging issues and support.

[2018-05-08 07:02] eivantsov commented on #8856
Registered an issue: https://github.com/eclipse/che/issues/9641

[2018-05-08 07:11] #8671 closed

[2018-05-08 07:29] eivantsov commented on #9603
Registered bugzilla issue - https://bugzilla.redhat.com/show_bug.cgi?id=1574653

Looks like clangd in llvm 6.0 package is ok (tested with Fedora 28 and clangd from llvm-tools-extra) package.

[2018-05-08 07:29] #9603 closed

[2018-05-08 07:32] ashumilova opened #9642 "Create nightly image with wiptheia artifacts"
Need  setup the build of nightly image for the https://github.com/theia-demo-plugins/wiptheia repository.

[2018-05-08 07:35] artaleks9 opened #9643 "Review the known issues of the Che"
### Description
* Need to make a review known issues of the Che project
* Set the severity of the issues, if it does not set

[2018-05-08 08:01] olexii4 opened #9644 "Show dialog window to open Theia Hosted Instance in case browser blocks opening of a new tab"
### Description
Hosted plugin manager for https://github.com/theia-demo-plugins/wiptheia doesn't start a plugin instance.  And styles of select path window should be more readable.
![selection_006](https://user-images.githubusercontent.com/6310786/39743792-c6b7a1d0-52aa-11e8-8e2f-abb48ebe442d.png)

### Reproduction Steps

1. Open wiptheia and select path a plugin instance.
![selection_007](https:/

[2018-05-08 08:25] eivantsov commented on #9638
@mjshashank as far as I know, there's no way to limit CPU on OpenShift/K8S

[2018-05-08 08:32] eivantsov commented on #9637
@JPinkney are hovers supposed to work with Eclipse Che?

[2018-05-08 08:33] musienko-maxim opened #9646 "Create E2E test for checking Hot update feature for wsmaster"
### Description
* On first step we should clarify details for test scenario. Create test scenario.
* On second step we should implement test scenario with auto tests. The autotests also should be run on CI infrastructure.
The depended issues:
- https://github.com/eclipse/che/issues/9415
- https://github.com/eclipse/che/issues/9414

[2018-05-08 08:39] artaleks9 opened #9647 "Replace the known issue in the 'try/catch' block in the TestWorkspaceImpl"
### Description
* Need to replace the known issue in the _try/catch_ block in the _TestWorkspaceImpl_
* Earlier created issue #8856 is not reproduced on CI jobs for the last month
* Related known issue: #9556

[2018-05-08 08:39] mjshashank commented on #9638
@eivantsov Since kuberenets supports [resource quotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/), is it in the plan to set new Kubernetes Infra parameters for the same so that it is reflected in the pod configuration?

[2018-05-08 08:53] garagatyi commented on #9542
And since it is blocker should we fix it right away with even stopping work on other issues?

[2018-05-08 09:01] eivantsov commented on #9542
I agree, we should at least disable the feature @ibuziuk added until we investigate a proper fix.

@l0rd @skabashnyuk can you agree on whose sprint it is going to land in?

[2018-05-08 09:38] SkorikSergey opened #9648 "Cannot create a new stack in OCP"
**Reproduction Steps:**
1. Open **Stacks** list from the **Dashboard**.
2. Click on the **Add Stack** button.
3. Type stack name and click the **Save** button.

**Expected result:**
The new stack created.

**Actual result:**
Creating failed. There is "**Infrastructure not found for type: compose**" error notification.

**OS and version:**
Che 6.5.0-SNAPSHOT; Chrome 65.0; Fedora 25

**Additional in

[2018-05-08 11:44] garagatyi opened #9649 "Failing of a build of Theia in Theia image produces an invalid image"
### Description
I'm trying to build Che Theia image with hardcoded 0.3.7 Theia dependencies and see an error in the build of image. But docker completes build succesfully. And this image is invalid and produces next output on start:
<details>

[code]
</details>

Here is the output of build:
<details>

[code]
</details>

Looks like we might need more checks in the dockerfile to ensure that build is

[2018-05-08 11:44] garagatyi commented on #9649
@riuvshin @eivantsov

[2018-05-08 11:45] acdhound commented on #9637
One more note: I tried to debug IDE GWT app and put a breakpoint inside of method HoverProvider.computeHover(). If I hover on .json file this breakpoint is reached, but computeHover is not invoked when hovering on a .yaml file
![che_hover_debug_json](https://user-images.githubusercontent.com/10697631/39755312-070bb4ec-52ce-11e8-96f6-54bf16969c67.png)

[2018-05-08 11:59] eivantsov commented on #9648
Duplicate of https://github.com/eclipse/che/issues/9523

[2018-05-08 12:16] JPinkney commented on #9637
@eivantsov It should be working with Che. I'll look into it

[2018-05-08 12:28] Ohrimenko1988 opened #9651 "Update "Dashboard" selenium tests according to test plan"
### Description

We have a test plan for "Dashboard" functionality. It describes all "Dashboard" functionality. So we should update existing selenium "Dashboard" tests according to this document: https://docs.google.com/document/d/1HbU9rzto8wT-6CFE8GFPi3BEW60suVmSmxDkomqbxwQ/edit?pli=1#heading=h.4i4oqi284cre

**It gives next advantages:**
 - Monitoring of the covering by selenium tests
 - Ability

[2018-05-08 12:39] SkorikSergey commented on #9517
Merged.

[2018-05-08 12:39] #9517 closed

[2018-05-08 12:40] Ohrimenko1988 commented on #9447
Done https://docs.google.com/document/d/1HbU9rzto8wT-6CFE8GFPi3BEW60suVmSmxDkomqbxwQ/edit?pli=1#heading=h.4i4oqi284cre

[2018-05-08 12:40] #9447 closed

[2018-05-08 12:47] vkuznyetsov commented on #5253
There are very rare cases of reproducing.

[2018-05-08 13:01] Ohrimenko1988 opened #9652 "Revise and update "Dashboard" selenium tests in "Workspaces" section"
### Description
We have an epic which describes a task for revise all "Dashboard" selenium tests, this task is a part of this epic https://github.com/eclipse/che/issues/9651 .
We should revise selenium tests which related to "Workspaces" functionality and update they according to the next test plan:
https://docs.google.com/document/d/1HbU9rzto8wT-6CFE8GFPi3BEW60suVmSmxDkomqbxwQ/edit?pli=1#heading=

[2018-05-08 13:03] vinokurig commented on #5253
This may be not reproduced on some machines.

[2018-05-08 13:07] artaleks9 commented on #7282
I would like to know, this issue is still actual and if yes, set severity, please

[2018-05-08 13:34] #7282 closed

[2018-05-08 13:37] #9449 closed

[2018-05-08 13:42] #9578 closed

[2018-05-08 14:38] gazarenkov opened #9653 "Provide machine name as a machine's environment variable."
Motivation:
Currently workspace machine and so client using it is not able to obtain machine's configuration since there are no way (except as for machine containing specific service, such as "ws-agent") to identify actual machine. As a result, it does not let to configure projects root directory's volume for any machine.

It is proposed to make it possible to provide machine name as an environmen

[2018-05-08 14:53] musienko-maxim commented on #9540
Was implemented in the [document:](https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers)

[2018-05-08 15:02] artaleks9 opened #9654 "Rework the 'ImportWizardFormTest' to use the 'kohsuke Github' library"
### Description
* Need to rework the selenium test to avoid of dependency to tested repo on the GitHub
* To use for it the _kohsuke Github_ library
* Related selenium test: _ImportWizardFormTest_

[2018-05-08 17:41] gorshkov-leonid opened #9655 "External libraries: "Can't read file, it does not exist: xxx""
### Reproduction Steps
Try to open any file in external libraries

AR:
Exception at org.eclipse.che.api.editor.server.impl.EditorWorkingCopyManager#createWorkingCopy (6.4.0):
![cannothandlefile3](https://user-images.githubusercontent.com/2270831/39773194-56e40908-5308-11e8-8b0f-50dc67fc43c4.png)

**OS and version:**
Windows 10, Eclipse Che 6.3.0, 6.4.0, 6.4.1

[2018-05-08 19:09] eivantsov commented on #9655
@vparfonov the file opens just fine. However, ws-agent log spits an error out. Is this expected?

[2018-05-08 21:03] slemeur commented on #9628
The sprint looks like it's the same as the previous one. @vparfonov Are you updating it?

[2018-05-08 21:05] vparfonov commented on #9628
Yes, in progrees

[2018-05-09 09:30] corporate-anon-acc commented on #9574
Hi, I'm also trying to install this one an ec2 running ubuntu and running into the same problem. I also tried the single port configuration but that didn't seem to remedy the issue.

Thanks

[2018-05-09 14:41] eivantsov commented on #9574
The ephemeral port range needs to be accessible.

[2018-05-09 16:06] Farleon commented on #9587
@eivantsov Any idea what I do wrong?

[2018-05-09 17:30] 20avva commented on #3038
Is this idea going anywhere? I would love to have IntelliJ style auto-completing in codenvy, it would be really helpful.

[2018-05-10 06:40] RomanNikitenko commented on #9655
AFAIK we create working copies for opened editors to have ability to handle editor changes on server side (java reconcile operations when autosave is turned off, for example).
But these ones are redundant in this case.
Also we have related issue https://github.com/eclipse/che/issues/8984

[2018-05-10 06:52] #9540 closed

[2018-05-10 06:53] eivantsov commented on #9574
@corporate-anon-acc Can you capture an error from browser dev console?

Though it's a single port policy, the ephemeral port range needs to be accessible internally. Traefik container redirects requests to a port from this range.

[2018-05-10 07:43] skabashnyuk opened #9657 "Hot update testing on working master"
### Description
We need to test hot update procedure. Proposed scenario: run hot update several times during selenium testing.

[2018-05-10 07:49] skabashnyuk commented on #9292
Discussed model implemented in this prototype https://github.com/skabashnyuk/kubsrv/
about names, I guess we need to create a separate issue.

[2018-05-10 07:49] #9292 closed

[2018-05-10 07:50] skabashnyuk commented on #9415
work will be continued here https://github.com/eclipse/che/issues/9657

[2018-05-10 07:50] #9415 closed

[2018-05-10 07:59] #9442 closed

[2018-05-10 08:53] riuvshin commented on #9536
Done

[2018-05-10 08:53] #9536 closed

[2018-05-10 08:54] riuvshin commented on #9472
Done

[2018-05-10 08:54] #9472 closed

[2018-05-10 08:56] #9496 closed

[2018-05-10 09:13] vparfonov commented on #5843
can't reproduce it

[2018-05-10 09:13] #5843 closed

[2018-05-10 09:15] SkorikSergey commented on #5682
Not reproduced.

[2018-05-10 09:15] #5682 closed

[2018-05-10 09:45] eivantsov commented on #4886
Closing as it cannot be solved on Che side.

[2018-05-10 09:45] #4886 closed

[2018-05-10 09:51] SkorikSergey commented on #6223
Not reproduced in CHE 6.0.5-SNAPSHOT.

[2018-05-10 09:51] #6223 closed

[2018-05-10 09:53] artaleks9 commented on #5182
@sunix couldn't you report, the issue is still actual?
I have set the severity 1, but I am not sure in that

[2018-05-10 09:57] eivantsov commented on #7386
Closing as implemented. WS logs are in workspace PV.

[2018-05-10 09:57] #7386 closed

[2018-05-10 10:27] riuvshin commented on #9539
ci job: https://ci.codenvycorp.com/view/qa/job/che-dashboard-integration-tests-prod-preview/

[2018-05-10 10:27] #9539 closed

[2018-05-10 11:09] mstavares opened #9660 "Unable to build source on Ubuntu 16.04"
### Description

Hi,

I have cloned eclipse che repository and then I have tried to compile it. Unfortunately the compilation process stops giving an error.

### Reproduction Steps

I have tried to compile it with mvn clean install on the project root.
I also tried with sudo but without sucess :(

**OS and version:**

Ubuntu: 16.04
Java: java version "1.8.0_171"
GO: go1.9.6 linux/amd64
node: v8.11

[2018-05-10 11:14] mstavares commented on #9660
Additional Information:

The directory exists, If I type "ls" this is the folder's content
booter  cfg  main.go

[2018-05-10 11:34] SkorikSergey commented on #7105
Cannot reproduce this issue. Project import from **astro-splash** template failed with error:
![selection_257](https://user-images.githubusercontent.com/7760565/39867752-1a1dc344-545f-11e8-8f96-603b241934e0.png)

**Additional information:**

<details>
<summary>Failed HTTP request</summary>

curl 'http://router6qhdq2e-eclipse-che.172.19.20.28.nip.io/api/project/batch?clientId=1882273520' -H 'Origin

[2018-05-10 11:57] riuvshin commented on #9565
I've found a few jobs which were missing `set -e` and added it back. Since we've changed the way how we deploy it should not affect build anymore.

[2018-05-10 11:57] #9565 closed

[2018-05-10 12:18] garagatyi commented on #9542
I've disabled unrecoverable events handling till we have a proper fix. Downgrading the priority from blocker to P1

[2018-05-10 12:28] sleshchenko opened #9663 "Temporary workspaces are removed after rolling update"
### Description
Temporary workspaces are designed to be removed after their stopping.
But `TemporaryWorkspaceRemover` removes all temporary workspaces on `PreDestroy` and `PostConstruct` phases.
It's needed to improve `TemporaryWorkspaceRemover` and remove only STOPPED temporary workspaces.

**OS and version:**

**Diagnostics:**

[2018-05-10 12:38] Katka92 opened #9664 "The last letter of che-clip-the-middle-start is displayed incorrectly"
### Description
When workspace name is short and the last fourth symbol is e. g. "d", it is displayed incorrectly - it seems like "a" (just without the top line). When I zoomed in, I found out that the letter is correct but a little bit cut.

### Reproduction Steps
Create workspace, which name ends with d + 3 leters (e. g. kdtkp). See the left column - the name is in italics and is displayed incor

[2018-05-10 13:36] riuvshin opened #9668 "Release CHE 6.5.0"
Release CHE 6.5.0

[2018-05-10 13:41] eivantsov commented on #7307
Closed due to inactivity.

[2018-05-10 13:41] #7307 closed

[2018-05-10 13:41] artaleks9 commented on #6825
At this moment it is not reproduced

[2018-05-10 13:41] #6825 closed

[2018-05-10 14:04] artaleks9 commented on #5189
Still actual for ver.6.5.0

[2018-05-10 14:04] skryzhny commented on #6711
No such exceptions any more in 2018, closing.

[2018-05-10 14:04] #6711 closed

[2018-05-10 14:08] #9643 closed

[2018-05-10 14:15] SkorikSergey commented on #9234
Still actual for CHE ver.  6.5.0.

[2018-05-10 14:16] SkorikSergey commented on #9518
Still actual for CHE ver.  6.5.0.

[2018-05-10 14:16] SkorikSergey commented on #9523
Still actual for CHE ver.  6.5.0.

[2018-05-10 14:17] SkorikSergey commented on #9537
Still actual for CHE ver.  6.5.0.

[2018-05-10 14:17] SkorikSergey commented on #9542
Still actual for CHE ver.  6.5.0.

[2018-05-10 15:58] artaleks9 commented on #8856
This bug is not reproduced for the last month.
At this moment we have fail run tests on CI only by reason #9556.

[2018-05-10 15:58] #8856 closed

[2018-05-10 16:01] artaleks9 commented on #8876
This bug is not reproduced for the last month.
At this moment we have fail run tests on CI only by reason #9556.

[2018-05-10 16:01] #8876 closed

[2018-05-10 16:02] artaleks9 commented on #9554
This bug is not reproduced for the last month.
At this moment we have fail run tests on CI only by reason #9556.

[2018-05-10 17:08] lilcubby opened #9673 "Any samples on extending Che to add a new remote debugger for a new language?"
### Description

We are looking to extend Che to add in support for additional languages. Adding the languages using the LSP is straight forward, but I was unable to find any pointers on how to add in a new remote debugger for the new language we are planning to add the support for. Are there any samples/extension docs that we can look at?

### Reproduction Steps
None - it is a question not a bug.

[2018-05-11 03:53] dbengtson commented on #9429
@eivantsov

Setting PROXY_ADDRESS_FORWARDING to true in the keycloak deployment fixed this issue for me in my GKE install.

[2018-05-11 04:00] mjshashank opened #9674 "[Kuebernetes] Unable to start che multi-user with TLS-enabled"
### Description

When a mutli-user che is set up on kubernetes with tls-enabled using the instructions (here)[https://github.com/eclipse/che/tree/master/deploy/kubernetes/helm/che#tls-enabled], I'm unable to access the dashboard.

A valid certificate is served when accessing the URLs.

The initial login screen works along with the request for change of password but from there the dashboard does no

[2018-05-11 04:05] mjshashank commented on #9429
@dbengtson I seem to be facing a similar issue as described in #9674 . Where exactly does this change need to be made to fix it?

Note: Mine is a GKE installation as well.

[2018-05-11 04:38] dbengtson commented on #9429
@mjshashank

In the [-env section for the keycloak deployment](https://github.com/eclipse/che/blob/f5b9275bb700269f7efcec98318c2d68385f9e6f/deploy/kubernetes/helm/che/charts/che-keycloak/templates/deployment.yaml#L58)
add this:
{{- if .Values.global.tls.enabled }}
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
{{- end }}

[2018-05-11 04:44] mjshashank commented on #9429
@dbengtson I had just done that and it works. Thanks!

[2018-05-11 05:01] mjshashank commented on #9674
Duplicate of #9429
Got it working through the same solution as mentioned in #9429, closing issue now.

[2018-05-11 05:01] #9674 closed

[2018-05-11 05:05] eivantsov commented on #9673
@lilcubby debugger protocol has not been yet integrated.

@tolusha is working on it to bring it to Theia.

[2018-05-11 05:10] eivantsov commented on #9660
@mstavares probably go isn't correctly installed. Check GOPATH or GOROOT.

https://github.com/eclipse/che/issues/4181

[2018-05-11 06:46] ashumilova opened #9676 "Run separate instance of Theia server on OCP"
Ensure that the hosted Theia IDE flow works on OCP.
Add comments to the issue.

[2018-05-11 06:54] #9284 closed

[2018-05-11 06:59] fanntom opened #9677 "How to manage mutli-user workspace"
Hi, I currently run a Multi-User version of Eclipse Che with Docker.
I'd like to have the Admin user be able to view and manage other users' workspaces.
Is there an existing way to do so?

[2018-05-11 07:01] mmorhun commented on #9212
Done for Theia without Che.
For OCP we have separate issue: https://github.com/eclipse/che/issues/9676

[2018-05-11 07:01] #9212 closed

[2018-05-11 07:31] #9647 closed

[2018-05-11 07:35] #8467 closed

[2018-05-11 08:11] riuvshin commented on #9556
@artaleks9 can you please try to find out when that kind of issues appeared first time.

[2018-05-11 09:01] sunix opened #9679 "Define the editor api workflow needed to implement teletype plugin"
Subtask of https://github.com/eclipse/che/issues/9434

[2018-05-11 09:01] mstavares commented on #9660
Hi,

Which path should I set for those variables?
Right now my GOPATH is equals to my HOME variable

[2018-05-11 09:02] sunix opened #9680 "Implement Editor API needed for a teletype plugin"
Subtask of https://github.com/eclipse/che/issues/9434

[2018-05-11 09:02] sunix opened #9681 "Implement a simple teletype plugin that would use the editor api"
Subtask of https://github.com/eclipse/che/issues/9434

[2018-05-11 09:03] evidolob commented on #9679
@sunix Can you provide list of methods that you are use for teletype plugin

[2018-05-11 09:11] artaleks9 commented on #9556
Today 11 May,  we again have fail tests on the ocp-single CI job.
I attach the archive of the _ocp_logs_ folder:
[ocp_logs.zip](https://github.com/eclipse/che/files/1994663/ocp_logs.zip)

[2018-05-11 09:21] #9624 closed, assigned to mshaposhnik

[2018-05-11 09:30] artaleks9 commented on #7151
Still actual for ver.6.5.0

[2018-05-11 09:32] SkorikSergey opened #9682 "Cover Python LS functionality by selenium test"
### Description
We need to cover python LS by selenium test using use cases from this test plan - https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers.

[2018-05-11 09:41] artaleks9 commented on #9554
Today 11 May, we again have fail tests on the ocp-single CI job by this reason (_Server 'terminal in machine 'dev-machine' not available_), so I reopen the issue.
I attach the archive of the ocp_logs folder:
ocp_logs.zip

[2018-05-11 09:45] SkorikSergey commented on #7151
![workspace 1_001](https://user-images.githubusercontent.com/7760565/39918441-1af12e86-5519-11e8-805e-0cb068f8e0cb.png)

[2018-05-11 10:07] artaleks9 commented on #7371
Still actual for ver.6.5.0

[2018-05-11 10:26] dmytro-ndp commented on #9556
@riuvshin: we can be more precise if you can grep in directory `http://tests.codenvycorp.com/selenium_test_report_data/*/che_server_logs/` among the files _che-server-pod.log_ on text `reached timeout`.

[2018-05-11 10:54] mstavares commented on #9660
Hi,

I have already found a solution. I just linked the go-workspace to my GOPATH and it seems ok.

Thanks,

[2018-05-11 11:01] corporate-anon-acc commented on #9574
I'm pretty sure the ephemeral port range is accessible internally. I've logged into the remote machine via vnc and started a browser there to access che locally and everything works fine there. The problem is only when I try to access che remotely from my local browser.

Any other ideas of what I could try?

[2018-05-11 11:05] eivantsov commented on #9574
@corporate-anon-acc Can you capture an error from browser dev console?

[2018-05-11 11:06] SkorikSergey commented on #7151
Issue with similar behavior:
-  Che IDE locks up https://github.com/eclipse/che/issues/9477.

[2018-05-11 11:10] corporate-anon-acc commented on #9574
It don't think it ever shows errors from the UI. It just behaves strangely. For example when I try to start a work space it will just freeze at some point and never show the workspace as setup. Once I could open the workspace but then I was unable to type anything in the terminal, the code editor window was there but I can type anything. Some windows don't load any content.

I'll try again and dou

[2018-05-11 11:14] eivantsov commented on #9574
@corporate-anon-acc Can you capture an error from browser dev console? Otherwise I won't be able to help

[2018-05-11 11:31] corporate-anon-acc commented on #9574
I just tried installing now from scratch on fresh ubuntu 16.04 ec2 instance. I get the following error after trying to start a workspace "Can not get workspaces. The reason: (TypeError) : b.Ol(...) is null."

[2018-05-11 11:33] corporate-anon-acc commented on #9574
![screenshot_1](https://user-images.githubusercontent.com/39119911/39922536-cf2b82a6-551f-11e8-88b2-8da3930c21a3.png)

[2018-05-11 11:40] #9660 closed

[2018-05-11 11:44] eivantsov commented on #9677
@fanntom setting this property to true may help https://github.com/eclipse/che/blob/master/dockerfiles/init/manifests/che.env#L418

[2018-05-11 11:48] eivantsov commented on #9574
@corporate-anon-acc I have got lots a bit on what original problem we're trying to solve.

[2018-05-11 11:52] corporate-anon-acc commented on #9574
che seems to work fine when I access it locally on the ec2 instance (via vnc login) but will not work when I access via my local machine... My expectation was something to do with networking but I've run out of ideas

[2018-05-11 12:06] eivantsov commented on #9574
`CHE_DOCKER_IP_EXTERNAL` should be your public ec2 IP.

What is your run syntax and what is the output from this command? What IP do you use to access Che remotely?

[2018-05-11 12:12] corporate-anon-acc commented on #9574
Im accessing the ec2 only via local ip (there is not public ip assigned), as I have vpn tunnel setup between my local network and the aws vpc. Then I using  ssh -N -f -L localhost:8080:localhost:8080 ec2@ec2-local-ip and accessing che from my local browser (localhost:8080).

~/elipse_che$ sudo docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v ~/elipse_che:/data eclipse/che start
WARN:

[2018-05-11 12:18] eivantsov commented on #9574
Please, share a dev console screenshot taken at the moment when you load a workspace and it fails. Browser initiates connection to `10.130.151.103:$port` and probably fails to do so. $port is one from the ephemeral port range.

[2018-05-11 12:30] eivantsov commented on #9574
Console tab.

[2018-05-11 12:33] corporate-anon-acc commented on #9574
Ah, my bad

![screenshot from 2018-05-11 05-32-17](https://user-images.githubusercontent.com/39119911/39924479-35b2349a-5528-11e8-9dfe-b6abc9022ab6.png)

[2018-05-11 12:35] eivantsov commented on #9574
Try creating a new workspace in an incognito tab.

[2018-05-11 12:40] corporate-anon-acc commented on #9574
Nice, something new. can't connect to web sockets. Any idea how I can fix that?

![screenshot from 2018-05-11 05-38-28](https://user-images.githubusercontent.com/39119911/39924695-1def9aea-5529-11e8-8bfb-6a45f330e319.png)

[2018-05-11 12:56] artaleks9 commented on #8925
Still actual for ver.6.5.0

[2018-05-11 12:58] artaleks9 commented on #9026
Still actual for ver.6.5.0

[2018-05-11 13:01] #9410 closed

[2018-05-11 13:05] artaleks9 commented on #9126
Still actual for ver.6.5.0

[2018-05-11 13:18] dmytro-ndp commented on #6234
The issue is outdated so as SVN plugin actually isn't supported by default.

[2018-05-11 13:18] #6234 closed

[2018-05-11 13:29] eivantsov commented on #9574
Cross Origin Resource Sharing

Can you stop Che and re-run with -e CHE_DOCKER_IP_EXTRNAL=127.0.0.1

This way, client calls will use localhost

[2018-05-11 13:41] corporate-anon-acc commented on #9574
I added  CHE_DOCKER_IP_EXTRNAL=127.0.0.1 to the config file and restart. Looks like same connection problem but 127.0.0.1 is used for the request now.

![screenshot from 2018-05-11 06-39-48](https://user-images.githubusercontent.com/39119911/39927157-a2582902-5531-11e8-8d62-d1974be31e85.png)

[2018-05-11 13:52] eivantsov commented on #9574
Probably ssh tunneling won't do the trick in this case. You will need public IP. Or make sure websocket connection can be established.

You may grab the url and replace ws with http and open it in a browser. Replace `/pty` with `/api`. So, your browser should be able to connect to that endpoint.

[2018-05-11 13:59] artaleks9 commented on #8134
Still actual for ver.6.5.0

[2018-05-11 13:59] artaleks9 commented on #9354
Still actual for ver.6.5.0

[2018-05-11 14:08] artaleks9 commented on #9358
Still actual for ver.6.5.0

[2018-05-11 14:14] fanntom commented on #9677
@eivantsov so I set the value as so:
![ubuntu 64-bit-2018-05-11-23-11-41](https://user-images.githubusercontent.com/19740384/39928604-c9504190-5570-11e8-96ee-06b601b1a066.png)

however, when I access Eclipse Che via admin account, I still do not see other member's work spaces.
I am currently using Eclipse Che on Ubuntu 16.04 on VMware Workstation with Docker..

[2018-05-11 14:29] eivantsov commented on #9677
You will not see them in Dashboard and there are no tools that will let you see those. You can use REST methods however to GET, or DELETE them.

[2018-05-11 14:41] artaleks9 commented on #9398
Still actual for ver.6.5.0

[2018-05-11 14:44] artaleks9 commented on #9477
Still actual for ver.6.5.0

[2018-05-11 15:09] artaleks9 commented on #9554
Still actual for ver.6.5.0

[2018-05-11 15:47] #9476 closed

[2018-05-11 23:54] fanntom commented on #9677
Thank you for your reply!

[2018-05-11 23:54] #9677 closed

[2018-05-14 04:52] lkc0626 commented on #9574
![image](https://user-images.githubusercontent.com/11798039/39978875-ea3573e4-577d-11e8-9085-5713c18f6674.png)
![image](https://user-images.githubusercontent.com/11798039/39978878-f1f00fae-577d-11e8-847a-e2e3f81a6b03.png)

Oh is this what you mean by dev console screenshot? I thought I had to find it from Eclipse che page...
I see a lot of error here...

[2018-05-14 04:59] eivantsov commented on #9574
@lkc0626 you need to make sure that the ephemeral port range isn't filtered and the IP can be reached from the network you are in.

[2018-05-14 06:29] lkc0626 commented on #9574
Thanks for the reply. I have set to get all the ports with all TCP in inbound traffic. Also I have added settings for all ICMP IPv4(which does not have port range).
Because I have set all ports for TCP, I shouldn't have any problems with ports...
is there specific settings needed for ephemeral port range?(I may not understanding correctly on ephemeral ports...)
Thank you again.

[2018-05-14 06:43] eivantsov commented on #9574
@lkc0626 If your browser cannot connect to `IP:port` either IP cannot be reached or the port is filtered.

What's `172.31.x.x` IP? Is Che running remotely?

[2018-05-14 06:49] lkc0626 commented on #9574
172.31.19.39 is the private IP assigned from AWS and I am connecting remotely using ssh from local computer to aws server which eclipse che is installed.
Then should I set ephemeral port in my browser or in aws?

[2018-05-14 06:51] vinokurig commented on #9336
PR: https://github.com/vinokurig/preferences-plugin/pull/1

[2018-05-14 06:52] lkc0626 commented on #9574
Since 172.31.x.x is private ip, I connect the server and eclipse che dashboard(publicIP:8080) through public IP which was assigned from aws.

[2018-05-14 07:11] eivantsov commented on #9574
Restart Che with ` -e CHE_DOCKER_IP_EXTERNAL=$PUBLIC_IP`

[2018-05-14 07:13] corporate-anon-acc commented on #9574
@lkc0626 I think you are trying the exact same setup as I had, but we came to the conclusion that forwarding over ssh is not going to be sufficient. I couldn't find any solution using a forwarding over ssh solution.

[2018-05-14 07:34] artaleks9 commented on #9581
Still actual for ver. 6.6.0

[2018-05-14 07:44] lkc0626 commented on #9574
what do you mean by forwarding over ssh? I am connecting aws through ssh and I don't think I use anything else with ssh

[2018-05-14 07:48] lkc0626 commented on #9574
docker says there is no option with -e ...

[2018-05-14 07:55] lkc0626 commented on #9574
sudo docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /root/docker:/data eclipse/che start -e CHE_DOCKER_IP_EXTERNAL=13.209.41.90

I tried this with public ip but the result is same...

[2018-05-14 07:59] eivantsov commented on #9574
@lkc0626 Can you give it a try with a new local storage dir ` /root/docker1` for example? It does not look like external IP env was applied.

[2018-05-14 08:37] #9639 closed

[2018-05-14 08:38] lkc0626 commented on #9574
I tried re creating directory but the result was same...

[2018-05-14 08:42] garagatyi commented on #9428
Fixed in https://github.com/eclipse/che/pull/9446. Sorry for not notifying in time!

[2018-05-14 08:42] #9428 closed

[2018-05-14 08:48] eivantsov commented on #9574
@lkc0626 I still do not see changes in client calls. Your syntax does not seem to be a correct one. Just copy and paste run command below:

[code]

[2018-05-14 08:56] lkc0626 commented on #9574
![image](https://user-images.githubusercontent.com/11798039/39987469-d75cea14-579f-11e8-9e06-03bc489b52a7.png)

It worked for creating workspace!!
But does this error matter? "Failed to load resource: the server responded with a status of 404 ()"

Thanks a lot for the help.
Do you happened know how to set internal and and external ip address in aws?
the reason of this error is because internal loc

[2018-05-14 08:59] eivantsov commented on #9621
@slemeur what are your expectations for upstream Che?

[2018-05-14 09:00] eivantsov commented on #9649
https://github.com/eclipse/che/pull/9684

[2018-05-14 09:01] eivantsov commented on #5182
Closing due to inactivity. Feel free to reopen if the issue persists.

[2018-05-14 09:01] #5182 closed

[2018-05-14 09:03] artaleks9 commented on #9549
Still actual for ver.6.6.0

[2018-05-14 09:03] artaleks9 commented on #9621
Still actual for ver.6.6.0

[2018-05-14 09:05] eivantsov opened #9691 "OpenShift/K8S: PVC helper errors when workspaces share one PV"
When running Selenium tests there were lots of errors in wsmaster logs:

[code]
These errors, however, did not affect workspaces, so everything is fine with performance.
The errors showed up when PVC strategy was changed to common, ie all workspaces used the same PV.  However, precreate subpaths env was set to false, since it's not required in 1.6+ K8S versions.

[code]

It does not look like we n

[2018-05-14 09:06] eivantsov commented on #9574
@lkc0626 disregard 404s - they are normal.

As to internal and external IPs, Che client connects to workspace agent, and while server and agent are in the same network, agent and your browser are not. Hence, a public IP should be used.

[2018-05-14 09:06] SkorikSergey commented on #8931
This issue is still **sometimes** reproduced on CI.
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-ocp/244/Selenium_tests_report/

![org eclipse che selenium dashboard createanddeleteprojectstest createanddeleteprojecttest_51s5vtpk](https://user-images.githubusercontent.com/7760565/39988095-2b665b1c-576f-11e8-9268-bdb2cffa2d96.png)

[2018-05-14 09:17] riuvshin commented on #9668
Done

[2018-05-14 09:17] #9668 closed

[2018-05-14 09:31] SkorikSergey commented on #9523
Failed selenium test - **StacksListTest**.

[2018-05-14 09:36] #9502 closed

[2018-05-14 09:44] lkc0626 commented on #9574
Is there a way to connect that setting inside of eclipse che? for example change agent's ip address to external IP in config file?

[2018-05-14 10:15] eivantsov commented on #9574
@lkc0626 this is what you have done by passing env variable in start command

[2018-05-14 10:49] vzhukovskii commented on #6840
Checked on revision: 5c4fd8b6982f7be2 (6.6.0-SBAPSHOT)

Issue is closed, because it cannot be reproduced. Feel free to re-open the issue in case if this bug still exists.

[2018-05-14 10:56] vzhukovskii commented on #9026
Confirm this bug. Taking this issue into progress.

[2018-05-14 12:46] fanntom opened #9692 "Eclipse Che stuck on Loading Workspaces with flashing Che logo."
### Description
Hi I'm running an Amazon EC2 Instance that has Ubuntu 16.04 LTS installed.
I'm trying to deploy Eclipse Che with the following command:
sudo docker run -it -e CHE_MULTIUSER=true -e CHE_HOST={amazon ec2 Elastic IP} -v /var/run/docker.sock:/var/run/docker.sock -v ~/.che-multiuser:/data eclipse/che start'
And if the public ip for that EC2 instance is 123.456.789.012,
I added http://12

[2018-05-14 13:08] vparfonov commented on #7151
Looks like I also reproduce this issue, important step "Link with editor" feature must be turn on

[2018-05-14 13:09] lilcubby commented on #9673
@eivantsov - Thank you.

@tolusha - Any rough timeline as to when debugger protocol would be integrated?

[2018-05-14 13:26] mjshashank opened #9694 "[Kubernetes] Multi-user with multi-host deployment using custom * certificate"
### Description

In the [docs](https://github.com/eclipse/che/tree/master/deploy/kubernetes/helm/che) it mentions that TLS mode uses single-host mode since there would be rate-limiting issues with the LetsEncrypt service Che uses.

If I wish to skip that and use a *(wildcrard) certificate for a domain, would it be possible to use multi-host mode with TLS?

I tried modifying the tls.yaml file to th

[2018-05-14 17:30] slemeur commented on #9621
A user, could be quite surprised by this behaviour and not understand that particular scenario could be surprising.

We should probably start by having docs to provide clarification on this.

Then to resolve this issue, should/could we have a way for the user to see and configure the environment variables for the commands?

[2018-05-14 23:09] slemeur commented on #8344
How this would be impacted with workspace.next?

[2018-05-15 02:36] lkc0626 commented on #9574
Does that save into somewhere in che setting?
With that answer I think my question is all solved.
Thanks

[2018-05-15 02:39] lkc0626 commented on #9574
I found that the IP is saved in che.env
Thank you again for the help.

[2018-05-15 05:58] mjshashank commented on #9694
I found the problem, turns out the TLS secret is not synced across the namespaces since every workspace is created in a different namespace. When I manually created the secret in each namespcae, the workspaces work just fine!

[2018-05-15 06:07] tolusha commented on #9673
@lilcubby
It is hard to estimate. I would say 2 month for something tangible.

[2018-05-15 06:50] #9663 closed

[2018-05-15 07:10] eivantsov commented on #9694
@mjshashank yes, the error is caused by Che server being unable to verify the agent is available using https url.

Btw, you can configure Che to create all objects in one namespace.

[2018-05-15 07:14] eivantsov commented on #9692
@fanntom your CHE_HOST should be a public IP.

Can you open browser dev console and share a screenshot with an error?

[2018-05-15 07:26] fanntom commented on #9692
@eivantsov where can i find the browser dev console?

[2018-05-15 07:34] eivantsov commented on #9692
https://developers.google.com/web/tools/chrome-devtools/console/

[2018-05-15 07:44] sclarke353 opened #9697 "Unable to pull docker image from authenticated private registry using user provided credentials (docker - single user)"
### Description

Hi, i couldn't find any reference to this in the Che 6 documentation but in Che 5 (docker - single user) it was possible to provide docker registry credentials in Administration which could be used to pull a stack image from a private authenticated docker registry on workspace creation but that no longer works in Che 6.

The docker credentials are not being retrieved from the pref

[2018-05-15 07:46] Ohrimenko1988 opened #9698 "It is possible to create an environment variable which name consists of only digits"
### Reproduction Steps
 - Create workspace by default java stack with default spring project
 - Go to workspace details of this workspace (Workspaces -> click on the created workspace in the list)
 - Click on the "Env Variables" button
 - Click on the "Add New Variable" button
 - In the opened form specify the variable name which consists of only digits ("111111")
 - Specify any value
 - Click on

[2018-05-15 07:52] vzhukovskii commented on #8977
Merged into upstream: https://github.com/theia-ide/theia/pull/1858

[2018-05-15 07:52] #8977 closed

[2018-05-15 07:53] fanntom commented on #9692
[13.209.21.113-1526370690183.log](https://github.com/eclipse/che/files/2003907/13.209.21.113-1526370690183.log)
![devconsole](https://user-images.githubusercontent.com/19740384/40043758-6dabd4ec-5860-11e8-8262-63e39a6fc2d4.png)
![keycloakconfig](https://user-images.githubusercontent.com/19740384/40043759-6dd494e0-5860-11e8-9f4b-b1710788da66.png)
Here is the dev console logfile, image, and keycloak

[2018-05-15 07:58] eivantsov commented on #9692
@fanntom your CHE_HOST should be a public IP ie the one that your browser can access. The screenshot tells that Keycloak script cannot be loaded since it uses AWS internal IP. Try setting DOCKER_HOST to a public IP

Also, you need to make sure ports 5050 and the ephemeral port range aren't filtered.

[2018-05-15 08:00] eivantsov commented on #9697
@sclarke353 che.env worked for me - tried DockerHub.

[2018-05-15 08:03] #9461 closed

[2018-05-15 08:06] sclarke353 commented on #9697
Hi @eivantsov, yeah che.env works for me as well. This is just to see if it should work with user provided credentials in administration as well when run in docker single user.

[2018-05-15 08:08] #9523 closed

[2018-05-15 08:15] garagatyi commented on #8344
As far as I understand it won't overlap with the Workspace Next. Workspace Next won't modify user's images as it is not possible on most infras (k8s/OS) and it conflicts with the unmodifiable nature of containers. So this would be an issue irrespective of Workspace Next.

[2018-05-15 08:31] #9541 closed

[2018-05-15 09:11] SkorikSergey opened #9699 "The IDE tab becomes crashed after "link with editor" feature turn on"
### Reproduction Steps

1. Create and start workspace from the **Eclipse Che** stack with the **che-in-che** project.
2. Open 8-10 any files.
3. Turn on the **Link with editor** feature.
4. Open tabs in the **Editor** by mouse or **Alt** + **->** buttons.

**Actual result:**
After a while the web tab will be crashed.

**OS and version:**
  Che 6.5.0-SNAPSHOT; Chrome 65.0; Fedora 28

**Additional i

[2018-05-15 09:17] eivantsov commented on #9621
We should have reasonable JAVA_OPTS and MAVEN_OPTS and should not have anything in ~/.bashrc in the image https://github.com/eclipse/che-dockerfiles/blob/master/recipes/centos_jdk8/Dockerfile#L34

[2018-05-15 09:28] fanntom commented on #9692
what would be the expected port range???

[2018-05-15 09:36] eivantsov commented on #9692
https://www.eclipse.org/che/docs/docker-multi-user.html#system-requirements

[2018-05-15 09:36] SkorikSergey commented on #6840
This issue is still reproduced.
![nimbus-record-video-2018-05-15-12-35-29](https://user-images.githubusercontent.com/7760565/40049117-86dab43e-583c-11e8-84f7-980c9cd4f60d.gif)

[2018-05-15 09:37] mjshashank commented on #9694
@eivantsov True, but liked the idea of having isolation that separate namespaces provide so figured I could use (kubed)[https://github.com/appscode/kubed] to sync the tls secrets across them.

[2018-05-15 09:55] Ohrimenko1988 opened #9700 "It is impossible to create machine with custom name in the "New Stack" page"
### Reproduction Steps
 - Click on the "Stacks" button on the dashboard
 - In the opened page click on the "Add Stack" button
 - In the opened page click on the "Add" button in "Machines" section
 - In the opened form specify "custom" name and click on the "Add" button
 - Pay attention to the name of the added machine

**Expected behavior:**
The added machine has "CUSTOM" name

**Observed behavior

[2018-05-15 10:58] ex-q opened #9702 "How to share stacks between users?"
Is it possible to share stacks between users in a selfhosted che multiuser environment?
We store the stack configuration JSONs in GIT and share them with the team. It's not possible to access the stacks someone created in che and also it's not possible to create a stack with the same name someone else already created. This leads to us prefixing our stack names. Is there any smarter solution?
Thank

[2018-05-15 11:10] #9393 closed

[2018-05-15 11:11] vzhukovskii commented on #6840
It seems that issue reproduces only in Google Chrome in linux. Firefox (linux) and Google Chrome (macOs) don't reproduce the issue.

[2018-05-15 12:27] Ohrimenko1988 commented on #9518
Fixed

[2018-05-15 12:27] #9518 closed

[2018-05-15 12:28] ibuziuk commented on #9542
PR is sent - https://github.com/eclipse/che/pull/9703

[2018-05-15 12:28] Ohrimenko1988 commented on #9537
Fixed

[2018-05-15 12:28] #9537 closed

[2018-05-15 12:33] sln1803 commented on #9697
just to add.. If the userid returned from
[code]
 is **che** in this scenario it will work.

[2018-05-15 12:40] sclarke353 commented on #9697
just to add.. If the userid returned from

EnvironmentContext.getCurrent().getSubject().getUserId()
is che in this scenario it will work.

(edit - had used old login when commenting)

[2018-05-15 13:27] eivantsov commented on #9702
@ex-q https://github.com/eclipse/che/issues/9579#issuecomment-385961484

Will update docs with it soon

[2018-05-15 13:33] ex-q commented on #9702
Thanks a lot!

[2018-05-15 13:35] fanntom commented on #9692
Thank you @eivantsov for helping me through! I should've read the Docs page more carefully.

[2018-05-15 13:35] #9692 closed

[2018-05-15 14:02] Ohrimenko1988 opened #9705 "Special characters are not checked in the "Add a new command" form"
### Reproduction Steps
 - Click on the "Stacks" item on the dashboard
 - Click on the "Add Stack" button
 - Click on the "Add" button in the "Commands" section
 - In the "Add a new command" form fill next fields:
  -- "Command" field by "echo test"
  --  "Preview URL" field by "example"
 - Type special characters in the "Name" field ("@#$%^&**(")
 - Click on the "Add" button
 - Pay attention to th

[2018-05-15 14:02] lilcubby commented on #9673
Thank you - all I was looking for was a rough timeframe.

[2018-05-15 14:02] #9673 closed

[2018-05-15 14:14] Ohrimenko1988 opened #9706 "Special characters are not checked in the "Add a new component" form"
### Reproduction Steps
 - Click on the "Stacks" item on the dashboard
 - Click on the "Add Stack" button
 - Click on the "Add" button in the "Components" section
 - In the opened "Add a new component" form fill the "Name" field by special characters ("^%%#%&(*()")
 - Click on the "Add" button
 - Pay attention to the added item
 - Also please pay attention that "Name" field hasn't a check for the n

[2018-05-15 14:30] ruzalsh commented on #8029
@eivantsov .i did as you said. But its still the SAME.. I.e redirect to uri /auth/realms.....  But when i change the PATHPARAMETER for port of that uri to 8080.. It works but plugin dont work.. For that i should turn on DEV MODE

[2018-05-15 14:39] eivantsov commented on #8029
@ruzalsh can you describe in detail how you started Che and what URL do you use to access it.

[2018-05-16 06:41] Mohdzaved2434 opened #9707 "Eclipse che version upgradation from 6.0 to 6.4"
Hi All,

     Where can I see the changes done in package structure while upgrading the Eclipse che from one version to another?

[2018-05-16 06:43] eivantsov commented on #9707
@Mohdzaved2434 what exactly do you mean by package structure? Source code?

[2018-05-16 07:06] ashumilova commented on #8296
Discussed long time ago - it should not be updated, Keycloak is a separate application - that does not notify dashboard one about the changes. Only "Refresh" should work.

[2018-05-16 07:06] #8296 closed

[2018-05-16 08:27] Mohdzaved2434 commented on #9707
@eivantsov like earlier 6.0.0-M2 ProcessStartResponseDto class was present in
org.eclipse.che.ide.api.command.exec.dto package
but in 6.0.0 this class is present in following package
org.eclipse.che.agent.exec.shared.dto package.

and where can we see changes done in classes while upgrading the eclipse che version ?

[2018-05-16 08:42] slemeur commented on #9621
@eivantsov : It's a fair point for the stacks that are packaged by default. But what if the user is defining his own stack? He should be aware (in the docs) that the environment variables used for command execution could be different from the ones used in the terminal, no?

Have we got a way for the user to see & configure the environment variables used in the context of command execution?

[2018-05-16 08:47] slemeur commented on #8344
I agree @garagatyi that we don't want to change the user's images - and I agree that it is true for all infrastructure supported by Che.

The question I had is a bit broader, how workspace.next will handle the situation where the image(s) given for the workspace is(are) a terminating ones?

[2018-05-16 08:53] eivantsov commented on #9621
@slemeur well, you can export any env before executing a command

[2018-05-16 08:56] Ohrimenko1988 opened #9709 "It is impossible to create a factory by git URL"
### Reproduction Steps
 - Click on the "Factories" button on the dashboard
 - Click on the "Create Factory" button
 - In the opened page click on the "Git" button
 - In the "Git URL" field type link to existing on GitHub project
 - Pay attention that "Create" button is disabled

**Expected behavior:**
Create button is enabled and after clicking on it the factory is created

**Observed behavior:**

[2018-05-16 09:06] ashumilova opened #9710 "Create new stack for the new plugins model flow"
As far as there is work in progress going on plugins model, it would be good to have ability to try it, by providing new stack for experiments. It should be based on  the following image : https://github.com/theia-demo-plugins/wiptheia-docker-image with nightly version.

[2018-05-16 09:25] Ohrimenko1988 opened #9711 "Not handled exception on the "factory details" page"
### Reproduction Steps
 - Create workspace by java default stack with spring default project
 - Click on the "Factories" item on the dashboard
 - Create factory with a name "example" by just created workspace
 - Create one more factory with a default name
 - In the opened "factory details" page change factory name to "example"
 - Pay attention to displayed exception

**Expected behavior**
After in

[2018-05-16 09:38] Ohrimenko1988 opened #9712 "After deleting factory it is impossible to create new factory with the same name"
### Reproduction Steps
 - Create factory with a name "test" by dashboard
 - Delete this factory
 - Try to create the factory with the same name
 - Pay attention to the screen

**Expected behavior:**
Factory name is valid

**Observed behavior**
Error message "name is using already "

**OS and version:**
Che 6.6.0 ; Chrome 66.0 ; Fedora 25

[2018-05-16 09:52] sleshchenko commented on #9657
During manually testing of Rolling Update functionality is reproduced the issue with failed liveness probes . Will try to tune liveness probes configurations.

<details>
<summary>OCP Events Screenshot</summary>

![screenshot from 2018-05-16 12-47-26](https://user-images.githubusercontent.com/5887312/40109981-819e7142-5907-11e8-8edc-b97e6941c3e2.png)
</details>

[2018-05-16 09:53] Ohrimenko1988 opened #9713 "Unhandled exception after typing very long name of the factory"
### Reproduction Steps
 - Go to the existing factory and open "factory details" page
 - Try to rename a factory with a name of more than 200 characters
 - Pay attention to the screen

**Expected behavior:**
The error message is displayed ( something like "too long name")

**Observed behavior:**
The unhandled exception is displayed

**Attachment:**
![eclipse che factory 1](https://user-images.githu

[2018-05-16 10:05] Ohrimenko1988 opened #9714 "It is possible to create factory with name which consists of only the special characters"
### Reproduction Steps
 - Go to the existing factory and open "factory details" page
 - Try to rename factory with a name which consists of only the special characters
 - Pay attention to the screen

**Expected behavior**
The error message is displayed

**Observed behavior**
Rename is successfully completed

**Attachment:**
![eclipse che factory 2](https://user-images.githubusercontent.com/2272461

[2018-05-16 10:14] Ohrimenko1988 opened #9715 "Stacks icons are not displayed on the "factory details" page"
### Reproduction Steps
 - Go to the existing factory and open "factory details" page
 - In the opened page go to the "Configure Stack" section and click on the "Configure recipe from a stack"
 - Click on the "Ready-to-go-Stacks" button
 - Pay attention that part of the stacks are displaying without icons

**Expected behavior:**
Stacks are displaying with defined icons

**Observed behavior**
Icons

[2018-05-16 10:29] ashumilova opened #9716 "Use the fixed version of Theia in eclipse/che-theia image"
Due to unpredictable number of fails of workspace with Theia IDE inside - there is need to have fixed version of Theia inside eclipse/che-theia image along with the fixed versions of used extensions. This will avoid version compatibility problems, may occur both on application build or launching stages.

Work was started in this [PR](https://github.com/eclipse/che/pull/9684)

[2018-05-16 10:37] Ohrimenko1988 opened #9717 "After clicking on the suggested tag it is impossible to chose it by "Enter" button"
### Reproduction Steps
 - Go to the existing factory and open "factory details" page
 - Go to the "Configure Stack" section and click on "Configure recipe from stack" button
 - Click on the "Ready-to-go Stack" button
 - In the "Input tags" field type "java"
 - Click on one of the suggested tags
 - Press "Enter" button on the keyboard
 - Pay attention to result

**Expected behavior:**
The tag is ad

[2018-05-16 10:41] kostiamol commented on #9632
@eivantsov I found all the samples.json files on my machine.

![screenshot from 2018-05-16 12-36-47](https://user-images.githubusercontent.com/5477699/40112520-7e95ed8c-5906-11e8-848c-4d71a7a158f1.png)

I changed the contents of data/templates/samples.json but che didn't show the changes. I even deleted that file but che showed all the standard samples as if nothing had happened.

[2018-05-16 10:42] ashumilova opened #9718 "Prepare build for eclipse/che-theia image on CI"
This task has the following requirements:
- [x] the build of the image from the following [dockerfile](https://github.com/eclipse/che/blob/master/dockerfiles/theia/Dockerfile) should be handled on daily basis, same as for other nightly images we have in Сhe, and published on DockerHub
- [x] on Che release the eclipse/che-theia should have complex version number - [che version]-[theia version] (exa

[2018-05-16 10:44] Ohrimenko1988 opened #9719 "The text is out of bounds in the "Ceylon with java" stack tab"
### Reproduction Steps
 - Go to the existing factory
 - Open the "factory details" page
 - Scroll to "Configure Stack" section and click on the "Configure recipe from stack" radio button
 - Click on the "Stack library" button
 - Pay attention to the "Ceylon with Java stack"

**Attachment:**
![eclipse che factory 4](https://user-images.githubusercontent.com/22724619/40112592-32661942-590f-11e8-83c5

[2018-05-16 10:46] davidwindell commented on #9632
@kostiamol you need to call your customer samples.json something other than `samples.json`, i.e. `custom-samples.json`.

[2018-05-16 10:47] #8729 closed

[2018-05-16 10:52] ashumilova opened #9720 "[Theia][Plugin]Rework SSH extension to SSH plugin"
The existing https://github.com/eclipse/che-theia-ssh-plugin is developed based on the existing extensibility model in Theia IDE. But as far as new plugin model is on it's way and will be used in Che as the main one - there is need to rework SSH extension to SSH plugin.

[2018-05-16 11:01] skabashnyuk commented on #8344
if we don't invent something smart then we simply should fail with a reasonable message.

[2018-05-16 11:36] riuvshin commented on #9131
no longer actual

[2018-05-16 11:36] #9131 closed

[2018-05-16 11:45] #9411 closed

[2018-05-16 11:58] sleshchenko commented on #9641
@eivantsov @skabashnyuk Should it be closed?

[2018-05-16 12:01] Ohrimenko1988 opened #9721 "It is possible to add command with not a valid name in the "Configure command" section"
### Description
It is able to add command with not a valid name in the "Configure command" section on the "factory details" page

### Reproduction Steps
 - Go to the existing factory and open "factory details" page
 - In the opened page scroll to "Configure Commands" section
 - Configure command name which consists of only a whitespaces
 - In the command field type "echo test"
 - Click on the "Add

[2018-05-16 12:11] eivantsov commented on #9641
Yes.

[2018-05-16 12:11] #9641 closed

[2018-05-16 12:20] Ohrimenko1988 opened #9722 "It is possible to create empty command in the "Configure command" section"
### Reproduction Steps
 - Go to the existing factory and open "factory details" page
 - In the opened page scroll to "Configure Commands" section
 - Set "test" name of the command
 - Put cursor to the command field and press whitespace button on keyboard
 - Pay attention that error message is not displayed and it is possible to create command with empty command field
 - Click on the "Add" button a

[2018-05-16 12:25] garagatyi commented on #8344
@slemeur Workspace.Next won't handle this situation any better than we can do it now because it is rather related to APIs of kubernetes not our implementation of usage of it.

@skabashnyuk I've added a comment about that to the existing issue in Che https://github.com/eclipse/che/issues/7926#issuecomment-389499634

[2018-05-16 12:43] vzhukovskii commented on #9635
Hello @ChristianSchenk711, can you pull new changes from the master branch? This problem has been fixed with this commit https://github.com/eclipse/che/blob/db8c142dfa24f53b1b22febfc8a38da910ab95a8/wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/project/server/impl/ProjectServiceApi.java#L231-L235
Now, when project is removing, missed event is fired.

[2018-05-16 12:48] ChristianSchenk711 commented on #9635
Thanks! I will test that when we integrate the new version. Issue can be closed from my point of view.

[2018-05-16 12:52] vzhukovskii commented on #9635
No problem, in any case feel free to ask questions!

[2018-05-16 12:52] #9635 closed

[2018-05-16 13:03] Ohrimenko1988 opened #9723 "Checkboxes don't work in "Select users" form"
### Reproduction Steps
 - Login to admin and create an organization "test-org"
 - Add two members (it means that super admin is still present in the organization) to this organization (user1  -  admin,  user2   -  member)
 - Login to user1
 - Click on the "Organizations" button on dashboard
 - Click on the "test-org" organization in the list
 - Click on the "Sub-Organizations" button
 - Click on t

[2018-05-16 13:14] kostiamol commented on #9632
@davidfestal Thanks. It turned out, that I had forgotten to disable cache in my browser. As a result, I didn't see any changes in samples.

[2018-05-16 13:28] kostiamol commented on #9632
@davidfestal And cal I also create a stack and workspace from a json file?

[2018-05-16 13:45] slemeur commented on #9336
@vparfonov + @vinokurig : Could we decompose a little bit more the work that has to be done, so we can followup on the progress of this epic?

[2018-05-16 14:30] SkorikSergey opened #9725 "The Yaml language server does not work after performing autocomplete feature"
### Reproduction Steps
1. Create a workspace from the **Java** stack with any project and enable **Yaml** language server by slider on its workspace details.
2. Start the workspace.
3. Open the **Preferences** widget from the **Profile** menu.
4. From the **Yaml** section add yaml schema uri by the **Add Schema URl** button and  type "**kubernetes**".
5. Create **openshift.yaml** file.
6. Type tex

[2018-05-16 14:34] kostiamol commented on #9632
@davidwindell And how could I define a stack? Where should I put `stacks.json file`?

[2018-05-16 14:48] eivantsov commented on #9632
@kostiamol you cat add a stack using REST API. So to /swagger to look at available methods

[2018-05-16 14:59] SkorikSergey opened #9726 "The Delete stack button is enabled on predefined stacks details page"
### Reproduction Steps

1. From the **Dashboard** open the **Stacks** list and check that for all predefined stacks the **Delete stack** button is disabled.
2. Click on any predefined stack from the list.

**Expected result:**
The **Delete stack** button at the bottom of stack details page is disabled as on the **Stacks** list page.

**Actual result:**
The **Delete stack** button at the bottom of

[2018-05-16 16:51] cenkce commented on #9587
I got similar issue. I built che-samples/che-plugin-wizard, che-plugin-menu, che-plugin-embedjs then I ran sudo docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v /path/to/data:/data -v /path/to/plugin/assembly:/assembly eclipse/che start

But no plugin when I create a new workspace.

[2018-05-16 17:55] bostrt opened #9727 "Cannot select text in dialogs"
### Description
I have two specific examples of a possibly global issue with Che's dialogs:

1) If there is a workspace error, I cannot select and copy the text from the dialog. Screenshot attached of a long error message that I would want to copy/paste to someone in order to get help.
2) Cannot select and copy text from the About Eclipse Che dialog. This would be needed when I have to share my re

[2018-05-16 18:01] eivantsov commented on #9587
@cenkce each plugin is an assembly, so you can run just one at a time, unless you included all dependencies to these plugins in one Che assembly.

I have taken a look at CI tests with selenium tests for a sample plugin and saw no failures.

Can you run the following and share the output?

[code]

[2018-05-16 22:15] l0rd opened #9728 "Update and document Che Ansible Playbook Bundle"
An APB to deploy Che on OCP exists: https://github.com/ansibleplaybookbundle/eclipse-che-apb

This task is about
- Updating the template used to deploy Che upstream (if needed)
- Document how to use it

[2018-05-16 22:16] l0rd commented on #9728
cc @slemeur

[2018-05-17 04:25] cenkce commented on #9587
[code]

[2018-05-17 04:27] cenkce commented on #9587
I have been using che-6.4.1.

[2018-05-17 04:46] eivantsov commented on #9587
I have just given a try with this one - https://github.com/che-samples/che-ide-server-extension

[code]
Start a workspace, right click to call context menu:

![image](https://user-images.githubusercontent.com/5337267/40157119-f6514fc0-59a5-11e8-89ca-dcc3c046d57b.png)

And clicking on it produces:

![image](https://user-images.githubusercontent.com/5337267/40157129-0403db4c-59a6-11e8-9051-1bcc1ac56

[2018-05-17 05:00] cenkce commented on #9587
Yes thank you

[2018-05-17 05:02] cenkce commented on #9587
What is the fastest way to develop, build a plugin and deploy to localhost.

[2018-05-17 05:29] cenkce commented on #9587
Do you plan to replace completely current Editor with Theia Editor?

[2018-05-17 05:40] eivantsov commented on #9587
Theia uses Monaco editor

[2018-05-17 05:51] cenkce commented on #9587
I mean with your current GWT based IDE

[2018-05-17 07:08] ryoya-fujimoto opened #9729 "Failed to start workspace with `Server 'wsagent/http' in machine 'dev-machine' not available.`"
### Description
On docker for mac, failed to run workspace with error message like `Could not start workspace wksp-pbju. Reason: Server 'wsagent/http' in machine 'dev-machine' not available.`.

Is there something I can do?

### Reproduction Steps
1. Starting docker with `docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v ~/che:/data eclipse/che start` command
2. Create workspace,

[2018-05-17 07:43] eivantsov commented on #9587
Current GWT IDE will keep using Orion

[2018-05-17 07:54] cenkce commented on #9587
Thank you so much.

[2018-05-17 08:04] vinokurig opened #9730 "Preferences UI for Theia IDE"
Create a widget for viewing and adding preferences in Theia IDE.
The idea is to have something similar to preferences in VSCode:

![screenshot from 2018-05-17 10-59-43](https://user-images.githubusercontent.com/7668752/40164355-f91c199e-59c1-11e8-9fe3-b274248f1b55.jpg)

[2018-05-17 09:04] ashumilova commented on #8674
It's not a dashboard issue - same behavior happens in pure IDE: project removal, causes the deletion of other projects, which contain that name. Here ProjectService has to be fixed.

[2018-05-17 10:48] dmytro-ndp opened #9731 "Fix selenium tests to be run on OpenShift with creation of objects under the current user account allowed"
### Description
There is an issue #8178 implementation of which https://github.com/eclipse/che/pull/9577 breaks start of test workspace in _Eclipse Che selenium tests_:
- https://ci.codenvycorp.com/job/che-pullrequests-test-ocp/248/consoleText
<details>
 <summary>Selenium test logs fragment</summary>
 <pre>
java.lang.IllegalStateException: Workspace name='workspaceufaqgb' start failed.
  at org.ec

[2018-05-17 12:32] #9126 closed

[2018-05-17 12:52] siamaksade opened #9732 "Add getter/setter generator for Java classes"
Generating getter and setters for Java classes is currently possible by typing `get` or `set` and then using the code assistance to suggest various `getXXX()` and `setXXX()` methods. While this is ok for Java classes with few fields, it's not usable for larger classes. There should be an option to generate getters/setters and a dialog window to choose (checkbox) the fields similar to other IDEs

!

[2018-05-17 14:33] artaleks9 commented on #9556
The last three day I don't see this problem, but I think, we still can't close the issue.
We need wait some time to make sure exactly.

[2018-05-17 17:48] habeascorpse opened #9734 "Failed to start che"
Hello,

i'm trying to start eclipse che with the follow command:

and then the follow msg is displayed on the console:

But, when i try to access the URL on browser, only show a black screen with title Loading Dashboard..

Additional Information:
OS: Ubuntu 18.04 LTS (GNU/Linux 4.15.0-20-generic x86_64
Docker: 18.05.0-ce

[2018-05-17 18:15] dneary opened #9735 "Tracking bug: minishift Che extension bails (minishift/minishift/2391)"
Reference issue: https://github.com/minishift/minishift/issues/2391

### Description
minishift installation of Eclipse Che extension appears to complete successfully, but the Che service fails to start afterwards. See [mini-che is failing to start on minishift](https://github.com/minishift/minishift/issues/2391) for details.

[2018-05-17 20:59] loverdeg-ep commented on #8265
Really glad to see a multi container workspace approach.

Has any thought been given towards embedded development scenario's?

* For single board computer applications we can potentially debug by deploying to a container running qemu or even docker running on the real target. However, the more likely scenario will involve SSH, GDB, and a real embedded target.

* For MCU applications we'd need to d

[2018-05-18 04:30] eivantsov commented on #9735
@dneary this isn't an Eclipse Che bug but a bad PV issue with MiniShift. I prefer to close this one and track  an issue in MiniShift repo - I'm already helping there.

[2018-05-18 04:34] eivantsov commented on #9734
@habeascorpse, a couple of things:

* your CHE_HOST should be a public IP
* ports 8080, 5050 and the ephemeral port range need to be accessible

If you open your browser dev console and refresh the page, you will probably see an error signaling that Keycloak initialization fails, probably (my guess) due to ERR_CONNECTION_TIMED_OUT or something like that. Can you provide a screenshot with dev conso

[2018-05-18 04:35] eivantsov commented on #9732
@tolusha @tsmaeder is there anything like that in lang tools backlog?

[2018-05-18 04:41] eivantsov commented on #9729
@ryoya-fujimoto it looks like a networking issue with Docker 18 on a Mac

@riuvshin is this an issue you have seen recently? Does creating network alias help or downgrading to Docker 17 is the only solution we have right now?

[2018-05-18 04:43] eivantsov commented on #9680
@sunix @ashumilova can you please label this and 2 other issues from Sun? Thanks

[2018-05-18 07:29] eivantsov commented on #9729
Mac-OS users need to create IP alias: sudo ifconfig lo0 alias $IP where $IP is IP that you get either in your Docker for Mac app Preferences > Advanced > Docker subnet or by running the following command:

```docker run --rm --net host eclipse/che-ip:nightly```

[2018-05-18 07:31] riuvshin commented on #9729
```IP=$(docker run --rm --net host eclipse/che-ip:nightly) && sudo ifconfig lo0 alias $IP```

[2018-05-18 08:53] claam opened #9739 "Supporting Gentoo docker containers"
Hello there.

I didn't see this feature in your roadmap nor in issues. Have you planned to do that in the future ?

kind/question

[2018-05-18 09:17] sleshchenko opened #9740 "Workspace start hangs up on bootstrapping phase when Rolling Update is in progress"
### Description
Bootstrapper uses Che Server Route URL for notifying Che Server when bootstrapping is finished. And here is an issue because there is a possible (and reproducible) case when The Stopping Che Server is starting a workspace and waiting bootstrapper events BUT bootstrapper connects to Che Server Route URL and actually it is connected to the NEW Che Server instance. In this way, old Ch

[2018-05-18 09:50] carloreggiani commented on #8595
I'm exactly in the same situation, both on a linux server in my LAN (all network open) and a linux server on Azure (multiuser config).

Tryed also to set CHE_DOCKER_IP_EXTERNAL parameter with the same CHE_HOST.

Not easy to understand where is the problem!

Thanks for any support

Carlo

[2018-05-18 09:56] eivantsov commented on #8595
@carloreggiani if Che server is unable to reach a workspace agent, it means that the ephemeral port range is filtered. What is your CHE_HOST? A public Azure IP?

[2018-05-18 09:59] eivantsov commented on #9739
@claam do you mean containers with Gentoo OS or any special container type (sorry I am not very knowledgeable on Gentoo containers)

[2018-05-18 10:07] claam commented on #9739
@eivantsov I guess both. My problem was with Gentoo OS. I got something like "unrecognized Linux distrib" when I tried to open a terminal or other installers. My solution was to create an additional ubuntu container, and both shares source code with a volume. However, I have no idea of how build the code without installers.

[2018-05-18 10:20] eivantsov commented on #9739
@claam yes, installers do not expect this type of OS

[2018-05-18 11:36] claam commented on #9739
@eivantsov okay, so to go back to the initial question, do you plan to support docker containers with such OS ?

[2018-05-18 11:38] SkorikSergey commented on #9234
There is an error in CHE multiuser:
![eclipse che diagnostic - google chrome_007](https://user-images.githubusercontent.com/7760565/40232827-1068ea9a-5aa9-11e8-911c-db9f9ad27e9b.png)

[2018-05-18 12:09] kostiamol commented on #9632
@eivantsov Thanks, works like a charm.

[2018-05-18 12:37] #9204 closed

[2018-05-18 12:38] eivantsov commented on #9234
For OCP it fails with a clear reason - `{"message":"Infrastructure not found for type: dockerfile"}` There's a Dockerfile used there - we need to use Docker image.

On Docker, shouldn't it use machine token?

[2018-05-18 13:00] carloreggiani commented on #8595
ARGHHH the problem was our proxy configured in the browser!
Now is working fine for the internal LAN server.

For Azure we have a site2site VPN:  I'll check our VPN configuration with my network admins.

Thanks!

Carlo

[2018-05-18 13:12] ibuziuk commented on #9542
Fix is merged to master

[2018-05-18 13:20] kostiamol opened #9744 "Tools for formatting and debugging"
Is there any way to integrate formatting tools (go fmt) and file watchers? What about debugging tools for languages other than Java (particularly, for Go)?

[2018-05-18 13:30] eivantsov commented on #9744
@kostiamol there's an ongoing effort to integrate Theia IDE into Che workspaces. This integration brings along lots of perks like LSP, debug protocol etc. So, the answer is yes, but for the next generation of Che with an updated IDE.

I think with Theia integrating https://github.com/derekparker/delve will be much easier, so having VS Code like experience isn't impossible.

[2018-05-18 13:38] kostiamol commented on #9744
@eivantsov could you tell the estimated date for all that stuff?

[2018-05-18 14:39] eivantsov commented on #9744
I cannot. The only thing I can recommend is to follow announcements and roadmap ETA

[2018-05-18 15:16] eivantsov commented on #9739
I think no. But you can issue a PR. I can show you how to fix it for Gentoo if you are interested.

[2018-05-18 16:43] Kyubi98 opened #9748 "Eclipse Che Multiuser dashboard"
### Description

Once complete the installation of Eclipse-Che Multiuser, the Admin allowed me to enter correctly (port 5050) but when entering the dashboard (port 8080) it is cycled by loading the eclipse image and never enters, any idea why this happens ?

![capture](https://user-images.githubusercontent.com/28116477/40247032-37cafe8c-5a88-11e8-91af-f7ace257f5a5.PNG)

![capture](https://user-ima

[2018-05-18 19:12] eivantsov commented on #9748
@Kyubi98
Can you run and share the output?
`docker logs -f che`

[2018-05-18 19:33] eivantsov commented on #9734
@habeascorpse Can you reach `http://186.219.240.93:5050/auth`? Credentials are `admin:admin`

[2018-05-18 19:36] eivantsov commented on #9734
And I have got the same error. Must be a network issues. Can you reach a different webserver running on that node? Say, stop Che, and run nginx in a container?

[2018-05-18 19:45] habeascorpse commented on #9734
I access the :5050/auth ok.
and yes, i can access others webservices.

[2018-05-19 10:02] Blendman974 opened #9749 "Self diagnostic tool Finished With Error"
Eclipse che self diagnostic finished with error :

No reply of websocket test after 5 seconds. Websocket is failing to connect to ws://eclipse.aspaku.com:9080/api/ws?token=[...]

![capture d ecran_2018-05-19_13-51-25](https://user-images.githubusercontent.com/35555508/40267304-caca4ab0-5b6b-11e8-9970-39593c8cde46.png)

Indeed /api/ws does not exist :
![capture d ecran_2018-05-19_13-52-45](https://

[2018-05-19 10:05] iddy47 commented on #7285
I have a problem like a "marisvaldo " so how I can solve this problem

[2018-05-19 15:28] Kyubi98 commented on #9748
Good, sorry for the delay, I run the command and the result was the following:

[Resultado.txt](https://github.com/eclipse/che/files/2019588/Resultado.txt)

![respuesta](https://user-images.githubusercontent.com/28116477/40270265-ee29d374-5b46-11e8-893d-e063f0bb32b2.PNG)

[2018-05-19 18:07] ryoya-fujimoto commented on #9729
@eivantsov
@riuvshin

Thank you for your reply!

`docker run --rm --net host eclipse/che-ip:nightly` returned `192.168.65.3`, and it work fine.

In my Docker for mac `Preferences> Advanced> Docker subnet` is set to` 192.168.65.0`.
So it may can't to get correct IP by it.

[2018-05-19 18:07] #9729 closed

[2018-05-19 18:50] eivantsov commented on #9749
@Blendman974 thanks for reporting this.

@ashumilova another bug report with a diagnostics tool. It does return 404

[2018-05-19 20:12] lukasheinrich opened #9750 "Red Hat 6 based images do not work with ssh-agent -- `ssh-keygen -A` unknown option -A"
### Description

For custom stacks based on Red-Hat 6, workspaces cannot start due to an older version of `openssh` that does not accept the `-A` flag. This happens even if all agents are turned off (especially the SSH agent)

I'm attaching a logfile for a stack based on the image `lukasheinrich/atlasche`

Would it be possible to rewrite the start-up script to be more portable across openssh versi

[2018-05-20 05:14] eivantsov commented on #9750
@lukasheinrich all ssh agent does is starts sshd. So you can install openssh in your image and start it in the entrypoint. This is where an actual error happens - https://github.com/eclipse/che/blob/master/agents/ssh/src/main/resources/installers/1.0.0/org.eclipse.che.ssh.script.sh#L151

[2018-05-20 05:17] eivantsov commented on #9748
@Kyubi98 you have incorrectly started Che multi user.

The error says:

[code]

There's no IP in the endpoint.

Can you share your docker run syntax?

[2018-05-20 05:26] eivantsov commented on #9734
I'd also check access logs as well:

[code]

[2018-05-20 10:31] lukasheinrich commented on #9750
hi @eivantsov,

openssh is installend but with an older version (`5.3p1-123.el6_9 `) that does not have the `-A` option in `ssh-keygen`

Also I don't exactly understand why the `sshd` daemon gets started since I explicitly turned it off

[code]

[code]

[2018-05-20 12:26] eivantsov commented on #9750
@lukasheinrich jdk is required in all workspaces since this is a dependency for workspace agent.

If ssh agent is off, that script isn't executed at all.

[2018-05-20 12:29] lukasheinrich commented on #9750
Hi @eivantsov,

ok I see. I think we can install jdk. But now I am confused why the ssh-keygen line is executed. As you can see in the workspace config I disabled all agents including the SSH agent, but still see the error (i'm testing on codenvy.io)

<img width="813" alt="screenshot" src="https://user-images.githubusercontent.com/2318083/40278914-316ea698-5c3a-11e8-8aa3-2f50949d4e28.png">

[2018-05-20 12:29] eivantsov commented on #9750
[code]
This is what I get when trying to start your workspace. ws agent installer tries to install openjdk, and it seems everything is ok, however, ws agent itself cannot start as it cannot find Java probably because this symlink did not work https://github.com/eclipse/che/blob/master/wsagent/agent/src/main/resources/installers/1.0.3/org.eclipse.che.ws-agent.script.sh#L236

[2018-05-20 12:31] eivantsov commented on #9750
@lukasheinrich Eclipse Che != Codenvy.io

In case of codenvy.io ssh agent is on by default since it is used by rsync agent that backs up and restores workspace projects.

[2018-05-20 12:31] eivantsov commented on #9750
I recommend you install openjdk in the image and it will be ok when it is used in Eclipse Che

[2018-05-20 12:33] lukasheinrich commented on #9750
Thanks @eivantsov! That's very helpful. I understand Che and Codenvy are different. But it seems like if we wanted to make the ssh-agent compatible with Red Hat 6 we would still need to change the Che code (at the line you pointed out)

Would this be possible?

[2018-05-20 13:06] mjshashank opened #9752 "Dashboard does not display more than 30 workspaces"
### Description

I have a multi user che setup on Kubernetes and enough machines to handle the resource requirements. Yet, at exactly 30 workspaces, creation of new ones seems to fail.

It either fails with the following error on the dashboard.

<img width="1440" alt="screen shot 2018-05-20 at 6 20 20 pm" src="https://user-images.githubusercontent.com/16825130/40279207-0f242f32-5c5c-11e8-8f89-060d

[2018-05-20 14:16] eivantsov commented on #9750
@lukasheinrich yes. However, Codenvy is in maintenance mode and it's running 5.22.x version, while Che is 6.x.

Running sshd in an entrypoint of your image should do the trick.

[2018-05-20 14:41] lukasheinrich commented on #9750
Hi @eivantsov,

sorry I think I'm missing some step. Are you saying that if I manually run sshd in the trnypoint of my image, the `ssh-keygen -A` line will not be executed?

[2018-05-20 15:10] eivantsov commented on #9750
ssh-keygen line isn't executed unless you enable ssh agent. I am talking about Eclipse Che now. Not Codenvy.

[2018-05-20 17:55] #9404 closed

[2018-05-20 18:00] #9421 closed

[2018-05-21 07:22] SkorikSergey opened #9753 "Unexpected fail of selenium tests on OSIO"
### Description
We have unexpected fail of selenium tests from '**dashboard**' package on **OSIO**. The tests sometimes fail because test workspaces cannot start. We should clarify reason and fix it.

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-dashboard-integration-tests-prod-preview/12/Selenium_tests_report/

[2018-05-21 07:35] SkorikSergey commented on #9753
It seems when selenium tests start from a test suite there is not enough time for **OSIO** to free resource after test workspace stopped and next workspace cannot start.
![screenshot from 2018-05-18 10-10-58](https://user-images.githubusercontent.com/7760565/40295216-3c3e9b62-5ce1-11e8-8eec-fb03bc3aba62.png)

[2018-05-21 08:13] #9433 closed

[2018-05-21 08:47] sr229 commented on #6892
Seems to be fulfilled already. Closing

[2018-05-21 08:47] #6892 closed

[2018-05-21 08:48] sr229 commented on #9739
Gentoo will not be officially supported by Eclipse Che, but a PR would suffice to add Gentoo as a Stack Base.

[2018-05-21 08:58] claam commented on #9739
Thanks for your answers, I will take a look at that.
I close the issue since I have the answer.

[2018-05-21 08:58] #9739 closed

[2018-05-21 08:59] SkorikSergey commented on #5973
Still reproduces in Che 6.0.6.

[2018-05-21 09:18] #9633 closed

[2018-05-21 09:30] ruzalsh commented on #8029
Even tried from docker image without any repo but it said same "Invalid parameter: redirect_uri"
Url is : http://10.100.x.x:32929/username/workspace?wsagent-ref-prefix=dev-

[2018-05-21 09:33] eivantsov commented on #8029
@ruzalsh you need to go to `$CHE_HOST:5050/auth`, login to admin console (`admin:admin`), go to clients, che-public, and add the IP you use to access Che to redirectUris and webOrigins

[2018-05-21 09:40] artaleks9 opened #9755 "Rework the 'ImportProjectFromGitHubTest' to use the 'kohsuke Github' library"
### Description
* Need to rework the selenium test to avoid of the dependency to a tested repo on the GitHub
* Use for it the _kohsuke Github_ library
* Related selenium test: _ImportProjectFromGitHubTest_ of the _dashboard_ package

[2018-05-21 09:46] ruzalsh commented on #8029
@eivantsov
Yes i tried adding my ip as you mentioned above with picture. But it don't work..

[2018-05-21 09:51] artaleks9 opened #9756 "Rework the 'ImportMavenProjectFromGitTest' to use the 'kohsuke Github' library"
### Description
* Need to rework the selenium test to avoid of the dependency to a tested repo on the GitHub
* Use for it the _kohsuke Github_ library
* Related selenium test: _ImportMavenProjectFromGitTest_ of the _dashboard_ package

[2018-05-21 09:52] eivantsov commented on #8029
@ruzalsh sharing a screenshot will help

[2018-05-21 10:33] eivantsov commented on #8029
@ruzalsh I meant screenshot of your keycloak admin console

Smth like this
![image](https://user-images.githubusercontent.com/5337267/40303454-797b61c6-5cfb-11e8-9ebd-08546256c3ca.png)

[2018-05-21 10:44] ruzalsh commented on #8029
Opps! My bad. https://imgur.com/a/HgKX6Gf . here it is sir!

[2018-05-21 11:29] eivantsov commented on #8029
Since I cannot really see IPs, please make sure the IP you use to access Che is there in web origins and redirect uris.

[2018-05-21 11:32] mmorhun commented on #9596
Sample plugin is [here](https://github.com/theia-demo-plugins/window-state-sample-plugin).

[2018-05-21 11:50] ruzalsh commented on #8029
Yes sir. I tried with same ip and port that i use to access eclipse-che in keycloak . since both keycloak and che are in same host, i even tried with 127.0.0.1. Also tried with docker0 inetip. Firewall is down. Os is Centos 7. Gulp 3.9.1, python 2.7.5, node 10.1.0 bower 1.8.4, typings 2.1.1, mvn 3.5.3, java 1.8 , go 1.10.1 . Do i have any disadvantage with current system and configuration?? Is the

[2018-05-21 13:10] #6109 closed

[2018-05-21 13:14] #9699 closed

[2018-05-21 13:15] #7151 closed

[2018-05-21 13:41] musienko-maxim opened #9760 "Create selenium test for covering PHP language server"
### Description
We should create test for quick checking PHP LS. The scenario was described in he test plan for LS . More details here: https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers
**OS and version:**   Should be implemented on Openshift origin/docker versions of the CHE.

[2018-05-21 13:42] dmytro-ndp opened #9761 "Wait until Che is available by default when deploying it on OCP"
### Description
Script **ocp.sh** doesn't wait until **Che** is available by default when deploying _Eclipse Che_ on OCP: we need to use dedicated parameter `--wait-che`, or to set environment variable `WAIT_FOR_CHE=true`.
As a result, user which is running Eclipse Che on OCP firstly receives message in output:

[INFO]: Che successfully deployed and will be soon available at http://che-eclipse-che

[2018-05-21 13:46] SkorikSergey commented on #9664
Similar issue https://github.com/eclipse/che/issues/7445.

[2018-05-21 17:02] eivantsov commented on #9761
@dmytro-ndp yes, adding smth like

[code]

And it makes sense to add it to deploy_che.sh script rather than `ocp.sh` as deploy script can be used without ocp.sh at all, provided that you have a running OpenShift cluster.

[2018-05-21 18:13] mechevarria opened #9764 "Browser tab locks up when closing an executing command"
![screenshot from 2018-05-21 14-00-29](https://user-images.githubusercontent.com/2657771/40322675-25bc2592-5d01-11e8-9427-2e999fa3cdf4.png)
### Description
When trying to cancel an executed process, the browser tab freezes.  You have to force close the tab and reload the workspace page.

### Reproduction Steps
I created a **node** workspace and imported the following git project

https://github.co

[2018-05-21 20:08] cenkce opened #9765 "Workspace cannot be started in 6.5.0"
### Description
When upgrade my local che installation to 6.5.0 then workspaces cannot run and IDE gives error :
"Could not start workspace wksp-bisv. Reason: Server 'wsagent/http' in machine 'dev-machine' not available."
[o.e.c.a.w.s.WorkspaceRuntimes 369]   - Workspace 'che:wksp-dejz' with id 'workspacezlzqcnhqiszjrk3j' start failed

in 6.4.1 everything was fine.

### Reproduction Steps

- Upgra

[2018-05-21 20:38] boomfly commented on #9765
I had similar issue with starting warkspace
![2018-05-22 2 37 22](https://user-images.githubusercontent.com/3257268/40328715-299865be-5d69-11e8-89ca-49f0bbdaafb2.png)

[2018-05-22 06:08] eivantsov commented on #9765
@cenkce have you perhaps upgraded Docker?

[2018-05-22 06:29] eivantsov commented on #9764
@vparfonov IMHO it's worth investigating

[2018-05-22 06:59] artaleks9 opened #9766 "Rework the 'ImportProjectFromZipTest' to use the 'kohsuke Github' library"
### Description
* Need to rework the selenium test to avoid of the dependency to a tested repo on the GitHub
* Use for it the _kohsuke Github_ library
* Related selenium test: _ImportProjectFromZipTest_ in the _dashboard_ package

[2018-05-22 07:26] SkorikSergey commented on #9749
This issue fixed by https://github.com/eclipse/che/pull/9757.

[2018-05-22 07:42] mmorhun opened #9767 "New plugin model doesn't work in electron version of Theia"
### Description
Hosted plugin doesn't work electron mode with many similar errors like the following:
[code]

### Reproduction Steps
Start electron version of Theia with a hosted plugin. See debug console for errors.

[2018-05-22 08:03] musienko-maxim opened #9768 "Adapt selenium tests that checks factories for kubernetes infrastructure"
### Description
We have new infrastructure for CHE based on kubernetes. But in the selenium tests we are working with 2 infrastructures: openshift and docker. We should create valid  recipes for factorie tests that should work properly on Kubernetes CHE

[2018-05-22 08:16] garagatyi opened #9769 "Che doesn't notify a user when saving of files fails because of lack of space on disk"
### Description
Che doesn't report any error when saving files fails because of lack of free space on disk.
In addition, git operations don't work too, so a user can't really save his work without deleting some files.
It would be great to show some error to a user.

Here is a video that shows Che in such state https://drive.google.com/file/d/12uKt4HyjJ4cYNMb33R0xsv71CJP10CI5/view?usp=sharing

###

[2018-05-22 08:24] musienko-maxim opened #9770 "Create test for covering deleting projects with the same prefix"
### Description
We do not have tests that cover the bug described in the issue:  https://github.com/eclipse/che/issues/8674

[2018-05-22 08:40] mshaposhnik commented on #9630
Done in https://github.com/eclipse/che-docs/pull/409

[2018-05-22 08:40] #9630 closed

[2018-05-22 10:02] cenkce commented on #9765
related with https://github.com/docker/for-mac/issues/2732

[2018-05-22 10:39] eivantsov commented on #9765
@cenkce yes, that's why I asked if you upgraded Docker since nothing changed in Che for quite a long time.

[2018-05-22 10:44] cenkce commented on #9765
Yes sorry what do you recommend to me? Actually I used boot2docker and it had been working well. But GWT superdevmode didn't worked well. Because of GWT uses localhost and the boot2docker uses another internal ip.

[2018-05-22 11:00] #9367 closed

[2018-05-22 11:04] eivantsov commented on #9765
Use Docker4Mac 17.x

[2018-05-22 11:13] cenkce commented on #9765
ok

[2018-05-22 11:48] #8674 closed

[2018-05-22 12:11] SkorikSergey commented on #8092
Fixed.

[2018-05-22 12:11] #8092 closed

[2018-05-22 12:50] cenkce commented on #9765
It worked 17.09.0-ce-mac35, other releases doesn't work which are bigger than it. Here is the link https://download.docker.com/mac/stable/19661/Docker.dmg.

[2018-05-22 12:55] cenkce commented on #9765
@eivantsov but Codeserver can't find any GWT Modules on this page.

codeserver : http://localhost:9876/
ws : http://localhost:8080/che/wksp-vuxy

[2018-05-22 13:01] cenkce commented on #9765
everything is Ok no problem. Thanks.

[2018-05-22 13:21] #9749 closed

[2018-05-22 13:58] GJRTimmer commented on #3641
I'm going to test this

[2018-05-22 15:04] brostbeef opened #9775 "Feature Request: Elegant Solution for Maven settings.xml Needed"
### Description
In looking to use Eclipse Che in our organization, I have come across the following issue: There's no easy/good way to bring in the settings.xml file for our projects. Reason being: We have an internal artifactory repository that I need to utilize.

What I've thought of:
- Add settings.xml to the project repo...  (According to Maven documentation, this is a "no no" as it should not

[2018-05-22 16:08] eivantsov commented on #9775
@brostbeef

Why will this settings.xml be shared?

[2018-05-22 16:48] brostbeef commented on #9775
I'm looking at it from the perspective of a factory where I can generate a link to create the environment.  If I create a single mount for all machines to use, it will be shared.  Unless there is a way to customize the mount during creation?

[2018-05-22 16:49] antoine-morisseau commented on #9306
How a `kind/bug` can be also an `kind/enhancement` ?

Since this ticket is open i froze my works on eclipse che since i rely heavily on the one port policy.

Is there any other workaround ? like some leads on how to create a one port policy for eclipse che without using the one provided ?

[2018-05-22 16:54] eivantsov commented on #9306
@antoine-morisseau your particular use case isn't standard. Single port policy works this way on Docker. You may deploy Che on Kubernetes or OpenShift, and get one port policy via OpenShift routes or K8S ingress.

[2018-05-22 16:58] eivantsov commented on #9775
@brostbeef your Factory may add a volume for `~/.m2`. Each developer will have to copy settings.xml to template that you put into your custom image, insert credentials and save. Next time a workspace starts, settings.xml along with a local maven repo will be persisted.

[2018-05-23 06:05] eivantsov commented on #9707
There's changelog https://github.com/eclipse/che/blob/master/CHANGELOG.md however it is unlikely that issue title contains smth like this.

[2018-05-23 06:16] #9462 closed

[2018-05-23 08:08] SkorikSergey commented on #9753
Issue about this problem on https://github.com/redhat-developer/rh-che:
- **Can't start workspace after DELETE of another workspace** https://github.com/redhat-developer/rh-che/issues/673

[2018-05-23 08:13] #9766 closed

[2018-05-23 08:15] #9756 closed

[2018-05-23 09:51] vzhukovskii commented on #8465
Issue can't be reproduced manually and via selenium testing on local machine.

[2018-05-23 09:51] eivantsov opened #9778 "Go language server: go to definition does not work for external files"
Language server tested: https://github.com/theia-ide/go-language-server

Problems found:

1. Exceptions in wsagent logs:

[code]

2. Go to definition only works within one file. When trying to go to definition of a function or variable from a different package/file, nothing happens. However, if `godef` fails to find a declaration in GOPATH, an error is returned, which means LS and its dependencies

[2018-05-23 10:26] dkuleshov commented on #9248
Depends on https://github.com/eclipse/che/issues/9595

[2018-05-23 11:47] riuvshin commented on #8578
che single user qa job: https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-k8s/

[2018-05-23 12:57] #9351 closed

[2018-05-23 13:05] eivantsov opened #9781 "Go language server: no hovers and docs"
When LS (https://github.com/theia-ide/go-language-server) starts in a workspace, there are no hovers,  even though this LS has this particular capability.

The same LS in VS Code and Theia shows type and docs if any.

![vscode](https://user-images.githubusercontent.com/5337267/40426189-1703d7cc-5ea3-11e8-864e-afa2d1759dd9.png)

Exceptions in wsagent logs, though they are not cause by hovering on k

[2018-05-23 13:42] eivantsov commented on #9778
Closing, as this is solved by defining GOPATH as `/projects/.che`

[2018-05-23 13:42] #9778 closed

[2018-05-23 13:53] eivantsov opened #9784 "Go language server: wrong file name in editor tab"
LS used: https://github.com/theia-ide/go-language-server

F4 - go to definition works fine for packages inside the project. For external dependencies, relevant files are opened, however, editor tab shows file name from which this navigation was initiated:

![image](https://user-images.githubusercontent.com/5337267/40428708-8ef22a80-5ea9-11e8-8fb5-e964a9d57976.png)

[2018-05-23 14:01] artaleks9 opened #9785 "Revise and update 'Dashboard' selenium tests in the 'Factory' section"
### Description
* We have an epic which describes a task for revise all _Dashboard_ selenium tests, this task is a part of this epic #9651 .
* We should revise selenium tests which related to _Factory_ functionality and update they according to the next test plan:
https://docs.google.com/document/d/1HbU9rzto8wT-6CFE8GFPi3BEW60suVmSmxDkomqbxwQ/edit?pli=1#heading=h.4i4oqi284cre

[2018-05-23 14:08] riuvshin commented on #9718
@ashumilova just a few questions:
1) `eclipse/che-theia:nightly ` is this right theia image name which should be generated on daily basis?

2) which of stacks.json should be updated
[code]
OR
[code]
3) where can I get actual theia tag to use?

[2018-05-23 14:27] mechevarria commented on #9764
So I was able to get around this issue but upping the memory for the workspace from **2GB** to **8GB**.  No lockup, everything works.  Unfortunately the dev machine logs don't show any out of memory errors so I just tried it as a guess.  Even with 4GB things were a bit unstable.

Maybe upping the default memory allocated to node.js stack workspaces could be a fix.  The project I am running is an [

[2018-05-23 14:27] #9764 closed

[2018-05-23 15:02] claam opened #9786 "[Language server] clangd completion is too slow"
I used successfully Java and Python intellisense, that are really fast.
However, with clangd, it takes at least 5 seconds to get the result, for a basic function (both in C/C++).

I doesn't get error messages in logs.

Any one encountered the same issue ?

Edit
More informations about ma config:
- OS: Ubuntu 16.04
- Arch: AMD 64 bits
- Proc: Intel(R) Core(TM) i5-4590 CPU @ 3.30GHz
- Browser: both

[2018-05-23 20:13] #9761 closed

[2018-05-24 03:03] mjshashank commented on #9752
@eivantsov I had the chance to investigate further and looks like it is in fact creating the workspaces but they are not:

1) visible on the dashboard since it is limited to 30 there
2) not accessible through the URL https://che-namespace.domian/dashboard/#/ide/admin/workspace-name but only accessible at https://che-namespace.domian/admin/workspace-name

Looks like a bug at the dashboard level but

[2018-05-24 04:39] mjshashank opened #9787 "[Kubernetes] Failures when creating workspaces rapidly"
### Description

This might be related to [this issue](https://github.com/openshiftio/openshift.io/issues/3348) but I'm getting the same error at a rate much greater than the 10% described there.

My use-case requires a fairly large set-up of Che and this issue occurs when I try to call the API rapidly creating many workspaces.

The following are some of the server logs:

[code]

The main error he

[2018-05-24 06:53] ShagunBhatt opened #9788 "Encrypted communication from browser to Eclipse Che running on docker with HTTPS, WSS protocol"
### Description
  From security perspective, we are thinking to encrypt all the communication when accessing to Eclipse Che from browser.
  We are using Docker as an Infrastructure of Eclipse Che.
  (OpenShift, Kubernetes are not used)

  We have checked the below Pull Request, but as it has been stagnating for about a month, could you please provide a workaround if any?
  “HTTPS using docker infr

[2018-05-24 07:00] ShagunBhatt opened #9789 "Restrict the access of Preview URL of "Workspace - Servers" to Eclipse Che login users only"
### Description
By adding the definition of Servers in Workspace, we can check the application executed on Workspace by accessing it from the browser with the Preview URL.
 However, reference to the Preview URL is also possible by other than the logged in users of Eclipse Che.

Since everyone can access the URL if just URL is known and from the security perspective, we would like to apply access c

[2018-05-24 07:38] #9755 closed

[2018-05-24 07:49] bryanxtong commented on #9765
I encountered the same problem for docker in redhat linux 7.5
Docker version 1.13.1, build 092cba3
che 6.5.0

[2018-05-24 07:53] olexii4 commented on #4191
Cannot reproduce in the current version of Codenvy (5.22.1)

[2018-05-24 07:53] #4191 closed

[2018-05-24 08:25] Flax163 opened #9790 "cursor jump at external editing"
### Description
if edit file, not through editor, cursor jumping.

**Reproduction steps**

1) Create project
2) Create text file
3) add git for project and commit text file
4) editing text file
5) revert using "git checkout ."

**OS and version:**
Che: 5.19
Chrome: 66
OS: Windows 7

**Diagnostics:**
![jump_cursor_che_5_19](https://user-images.githubusercontent.com/8758749/40473210-9ab415ce-5f4c-11

[2018-05-24 09:04] artaleks9 opened #9791 "Display the build and revision on the dashboard"
### Description
* Right now, to know the information of the build and revision, an user needs to create a workspace and open it in the IDE, after that open the 'About'.
* It is а bit uncomfortable and take some time.
* Would be nice to display the information about build and revision on the dashboard.

[2018-05-24 09:10] Ohrimenko1988 commented on #9791
In my opinion, it should be displayed on demand. For example in "Diagnostic" section.

[2018-05-24 09:11] slemeur opened #9792 "Remove current analytics mecanism"
### Description
Che integrates a basic analytics mechanism which log during how long a workspace was running.
For compliance to the GDPR and the upcoming work on telemetry https://github.com/eclipse/che/issues/5483, we want to remove this mechanism.

[2018-05-24 09:55] riuvshin commented on #9792
@slemeur does that means you expect bugfix release once it is done? or it can wait for upcomming release next week

[2018-05-24 10:08] tsmaeder commented on #9592
[ ] https://github.com/eclipse/eclipse.jdt.ls/issues/669

[2018-05-24 10:11] slemeur commented on #9792
We should be doing a bugfix release.

[2018-05-24 10:21] riuvshin commented on #9792
ok

[2018-05-24 10:22] riuvshin opened #9794 "bugfix release che 6.5.1"
include: https://github.com/eclipse/che/issues/9792

[2018-05-24 11:10] musienko-maxim opened #9796 "[Language server] Unexpected exceptions in the dev-machine console after initialization LS for GO lang"
### Steps to reproduce:
1) Create a workspace with next configuration:
[code]
2) After workspace creation, open the `main.go file`, open `dev-machine` console.
------
**Expected result:** The LS should start without errors
**Actual result:**  There are exceptions like:
![selection_001](https://user-images.githubusercontent.com/1640058/40482003-e68fa148-5f5b-11e8-9add-8cb9160e5c25.png)
**OS and ver

[2018-05-24 11:27] #9792 closed

[2018-05-24 11:51] dkuleshov opened #9797 "Make LSP client proxy support dynamicRegistration for client capabilities"
Actual implementation does not support dynamic client capabilities registration. In order to make the workflow more flexible we should support it. Seems like depending on the implementation some servers can provide capabilities dynamically (e.g. Golang server).

See `WorkspaceClientCapabilities` and `TextDocumentClientCapabilities` in [LSP Specification](https://microsoft.github.io/language-server

[2018-05-24 12:05] prateekkohli2112 opened #9798 "Can eclipse che be used as a code editor inside JavaScript"
Hi,

I am trying to integrate a Java code editor like Ace/Code Mirror into my Javascript file inside a div HTML tag.

Is is possible to use eclipse che as a Java code editor in my JS file and integrate it inside a div element just like Code Mirror or ace.

I want to open a Java editor when a user clicks on a button.

Can we use eclipse che for this purpose.

Regards,
Prateek Kohli

[2018-05-24 12:22] ctron commented on #8040
I do have the same problem. Git credentials don't work and in the startup log of the dev-machine you can see:

[code]

Running on OpenShift 3.9, Che 6.5.0.

[2018-05-24 12:33] riuvshin commented on #9794
Done.

[2018-05-24 12:33] #9794 closed

[2018-05-24 12:49] ctron commented on #8040
I actually think this is pretty severe bug pretty easy to fix. For me this completely knocks out Git support.

[2018-05-24 13:00] gorkem commented on #9797
@dkuleshov Is this a blocker for Golang server? jdt.ls also supports dynamic capabilities however if a client does not support it the server should be able to fall-back to fixed capability reporting. If this is not the case for Golang we should report it.

[2018-05-24 13:51] #9657 closed

[2018-05-24 14:03] Ohrimenko1988 opened #9801 "Rework "NewWorkspace" selenium page object by "SeleniumWebDriverHelper" class"
The "NewWorkspace" selenium page object has a lot of boilerplate code. For example:
[code]
after rework
[code]
besides "elementToBeClickable" method from first example does not check clickability on the button its can be used only for checkboxes or radio buttons.

So we should revise and update this class

[2018-05-24 14:14] KOSSOKO opened #9802 "How to create specific workspace per user (che multi-user)"
Hi all,
    I installed eclipse-che multi-user using Docker and my che is installed inside `/usr/bmap/che/`. I noticed that workspaces are created inside in `/usr/bmap/che/instance/data/workspaces`. Is it possible for each user on our linux system and who have account on che, for example tkosted and edup to have their workspace created inside
`/usr/bmap/che/instance/data/workspaces/tkosted/allOfWo

[2018-05-24 14:18] #9423 closed

[2018-05-24 14:28] tsmaeder opened #9804 "Languages Sprint 150"
# Availability
@tsmaeder: 6d
@tolusha 15d
@svor 13d
@vrubezhny 15d
@JPinkney 15d
@fbricon 6d
@snjeza 13d

72 * 0.6= 54d
- [x] #9526 Simple Java project is not recognized 5d (@vrubezhny)
- [ ] #8666 Cleanup unused Java support Part 2 2d (@JPinkney )
- [x] #6748 Implement Move Refactoring 4d @svor
- [x] #9424 Suspend/Resume Action 1d (@JPinkney )
- [x] #8941 (Theia) Address jdt.ls specifically 3d
-

[2018-05-24 18:54] skabashnyuk commented on #9235
is this issue up to date?

[2018-05-24 19:59] tsmaeder opened #9807 "Merge master into 5730_java_ls_poc"
Since the language server launching story has changed considerably, we'll have to port our JavaServerLauncher-related stuff to the new API. I would expect this to take around 3 days for everything to work again.

[2018-05-24 20:55] tsmaeder opened #9808 "Show Source for Stack Frame"
When we select a stack frame in a suspended thread, we want the source corresponding to that stack frame to be shown and the region corresponding to the curent execution location to be emphasised (highlight or such).
Challenges here are how to map source references to files in the workspace (if possible), how to open editors for stuff that might not be a file in the workspace.

[2018-05-24 20:58] tsmaeder opened #9809 "Show List of Breakpoints"
Make a UI that can show a list of breakpoints. For starters, showing line breakpoints should be enough. Start with a fixed list of breakpoints for testing.

[2018-05-24 22:29] dneary commented on #8282
Has any thought been put into the server-side platform for Eclipse Che add-ons? Is the plan to use Eclipse Foundation infrastructure? If the goal is to have something specifically for Che, has anyone had a look at the [Mozilla Add-ons server](http://addons-server.readthedocs.io/en/latest/index.html) yet? http://addons-server.readthedocs.io/en/latest/index.html It is open source, container deployed

[2018-05-25 06:08] cenkce opened #9810 "Ide cannot run with che-samples/che-plugin-json"
### Description

https://github.com/che-samples/che-plugin-json/issues/8

[2018-05-25 06:42] SkorikSergey commented on #9682
Merged.

[2018-05-25 06:42] #9682 closed

[2018-05-25 06:44] SkorikSergey opened #9811 "Cover Clangd LS functionality by selenium test"
### Description
We need to cover **Clangd** LS by selenium test using use cases from this test plan - https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers.

[2018-05-25 06:52] #8379 closed

[2018-05-25 07:54] davidwindell opened #9813 "Headless workspaces"
Our team uses a [tool](https://github.com/outeredge/che-sync) we wrote to allow remote development on Che workspaces using, effectively SSH.

My question is, is it possible to disable the ws-agent or somehow limit it until the user explicitly connects to the IDE? We are finding a big resource drain on the server is the agent processes.

[2018-05-25 07:57] ctron opened #9814 "Typescript LSP server fails"
### Description

Opening a typescript file creates the following error:

### Reproduction Steps

Opening a ".ts" file in a typescript project.

**OS and version:**

[code]

**Diagnostics:**

The following can be seen in the "dev-machine" log window:

[code]

[code]

[2018-05-25 08:34] Mohdzaved2434 commented on #9707
@eivantsov  Thanks

[2018-05-25 08:49] dkuleshov commented on #9781
Exceptions seems to be not related, corresponding bug report: https://github.com/eclipse/che/issues/9796

[2018-05-25 09:11] eivantsov commented on #9814
@ctron installers do not work well on OpenShift, unless the installer script checks for a pre installed LS.

What stack did you use?

[2018-05-25 09:26] ctron commented on #9814
I actually used a factory: https://github.com/ctron/hono-example-demo-gauge/blob/master/.factory.json

[2018-05-25 09:49] eivantsov commented on #9814
@ctron so `eclipse/node`

I think we should add TS LS in that image and tune installer a little bit, so that it does not install anything (which is not always possible in OpenShift in runtime) if a particular npm is already installed

[2018-05-25 10:20] eivantsov commented on #9787
@sleshchenko i feels like the server does not get events about  agents that have successfully started. What do you think?

[2018-05-25 10:22] eivantsov commented on #9790
@Flax163 Can you reproduce it with Eclipse Che?

[2018-05-25 10:42] ScrewTSW opened #9815 "NTH: Add option to run selenium tests with maven profiles (currently only possible through the script)"
## Description
### This issue is just NiceToHave concept.

For easier use of the upstream selenium tests, it would be really nice if we had an option to use maven profiles instead of the included scripts (discussed with @riuvshin and was deemed completely feasible to have maven-pure tests)

[2018-05-25 11:01] ctron commented on #9814
So it is a bug/missing feature after all?

[2018-05-25 11:03] sleshchenko commented on #9787
@eivantsov I think there one more possible reason why workspace start can reach timeout, need to check that pods of the workspace are started. Depending on that we'll be able to plan next step of this interesting investigation =)

[2018-05-25 11:13] eivantsov commented on #9787
@mjshashank a few questions/comments:

1. Do you use the same workspace config for all workspaces?
2. Anything interesting in k8s events? I mean have all pods been created?
3. I wonder if increasing this value helps https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L454

[2018-05-25 11:14] eivantsov commented on #9814
It is difficult to say. The installers concept does not go well with OpenShift at all.

[2018-05-25 11:19] eivantsov commented on #9788
@ShagunBhatt this PR is the only community initiative available at the moment.

[2018-05-25 11:28] SkorikSergey opened #9817 "[Multiuser] Workspaces tab on an organization details page missed"
### Reproduction Steps
1. Create a new organization.
2. On organization details page click on **Workspaces** tab.

**Actual result:**
The **Workspaces** tab is missed.

**OS and version:**
  Che 6.6.0-SNAPSHOT; Chrome 66.0; Fedora 28

**Additional information:**
![selection_023](https://user-images.githubusercontent.com/7760565/40536346-7ebf324a-6014-11e8-880c-3deb57793b41.png)

[2018-05-25 11:33] eivantsov commented on #9798
@prateekkohli2112 you can open the IDE in an iframe. In fact, this is how it currently works - the IDE is an iframe in User Dashboard.

[2018-05-25 11:41] SkorikSergey commented on #8594
This issue cannot reproduced due to https://github.com/eclipse/che/issues/9817.

[2018-05-25 11:41] eivantsov commented on #9813
@davidwindell you can disable ws-agent for a workspace, however, in this case the IDE is unusable.

There's no mechanism to start it on demand.

What do you mean by

Opens it in a browser?

[2018-05-25 11:52] tolusha commented on #9804
@bazko 15d

[2018-05-25 12:05] dmytro-ndp opened #9818 "Fix E2E tests to verify creation of OpenShift objects under the current user account on OCP"
### Description
We need to fix E2E selenium tests to cover new feature proposed in issue #8178

[2018-05-25 12:07] ctron commented on #9814
So what I (as a user) do to make it work?

[2018-05-25 12:11] tolusha opened #9819 "Theia DAP: Display stack frame variables"
Display stack frame variables for the specific frame.
It should be a tree with ability to expand/collapse nested variables.

[2018-05-25 12:13] tolusha opened #9820 "Theia DAP: Modify stack frame variables"
Modify stack frame variables

PR: https://github.com/theia-ide/theia/pull/2099

[2018-05-25 12:34] eivantsov commented on #9814
@ctron try it again. It should work now

[2018-05-25 12:43] davidwindell commented on #9813
@eivantsov thanks, so I think what we will do here then is turn off the ws-agent and exec agent by default and they can be selectively enabled if anyone needs to use the IDE.

Yes, by explicitly connect I meant in the browser.

[2018-05-25 12:58] #9760 closed

[2018-05-25 13:02] ctron commented on #9814
You mean using the master branch?

[2018-05-25 13:17] eivantsov commented on #9814
Just rerun the workspace

[2018-05-25 13:22] davidwindell commented on #9813
Just tested and without `ws-agent`, the projects don't seem to exist anymore in /projects (I can't get my head around why that would happen if /projects is mounted in)

[2018-05-25 13:34] eivantsov commented on #9813
@davidwindell that's interesting. Will check and get back with findings.

[2018-05-25 13:55] SkorikSergey opened #9821 "Cover workspace creating from organization details page by selenium test"
### Description
We need to cover workspace creating from organization details page by selenium test.
![nimbus-record-video-2018-05-25-16-49-34](https://user-images.githubusercontent.com/7760565/40547880-ca51863c-603b-11e8-834e-7738a1a45f5b.gif)

[2018-05-25 14:02] vkuznyetsov opened #9822 "QE-2018-06-19 (Sprint: 150)"
### Sprint goals
- Create new Selenium tests according to test plan.

### Issues tied to objectives
- [x] Cover workspace creating from organization details page by selenium test https://github.com/eclipse/che/issues/9821 2sp
- [x] Create test for covering usecase described in the issue 8674 https://github.com/eclipse/che/issues/9770 3sp
- [ ] Add Eclipse Che build info into the selenium tests log

[2018-05-25 15:12] mechevarria opened #9823 "Update Documentation on SSH"
### Description

It would be great if the instructions for SSH into a workspace were updated with examples on the Che website [SSH | Eclipse Che](https://www.eclipse.org/che/docs/chedir-ssh.html)

Is che-dir the right tool for getting into a workspace? I couldn't find a clear example and ended up doing a bunch of cli commands until I got something working.  I eventually used the `get-ssh-data` com

[2018-05-25 15:13] ctron commented on #9814
Awesome! It works now!

Coulnd't you fix #9800 the same way :wink:

[2018-05-25 15:13] #9814 closed

[2018-05-25 15:15] dneary commented on #9735
Can we improve the error notifications on PV related issues to make it easier for someone to diagnose (and know how to fix) the issue?

Closing this ticket.

[2018-05-25 15:15] #9735 closed

[2018-05-25 15:33] #9568 closed

[2018-05-25 21:44] dmytro-ndp commented on #9731
This bug have been fixed by commit https://github.com/eclipse/che/pull/9577/commits/5dd70179fc00a5574737bef3e97c87379fabba03

[2018-05-25 21:44] #9731 closed

[2018-05-26 12:33] eivantsov commented on #9823
@mechevarria perhaps this doc is clearer https://www.eclipse.org/che/docs/docker-cli.html

[2018-05-27 07:15] thenets opened #9824 "[Request] How to start server in the same port (Wordpress bug)"
### Description
I'm trying to use Eclipse Che to develop themes and plugins for Wordpress.
 The problem is: I need a fixed URL (domain + port) to access my Wordpress website.

Each time that I restart the Workspace a new port is redefined, so my Wordpress URL needs to be changed too.

I had the same problem with other application like Ghost CMS. Those applications need an absolute path.

### Repro

[2018-05-27 10:30] ElectronicWizzard opened #9825 "Chedir / Chefile - How to add Servers to Chefile"
### Description
Hallo,

I am using Chefile and have added commands with preview url for my tomcat server in the workspace. However it seems that it does not automatically creates the required Server in the workspace maschine configuration and I need to do this manually. Is there a way to add this to the Chefile?

**OS and version:**
Che 6.5.0
Windows 10

[2018-05-27 17:11] nitrox788 opened #9827 "ps -a"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-05-28 03:36] mjshashank commented on #9787
@eivantsov and @sleshchenko thank you for pointing me in the right direction.

I have been able to dig deeper over the past couple of days into this and been able to achieve some progress.

The pods were not being created by the infra provider even though the Che logs stated the workspaces were being created. I found that this whole issue was mainly due to this [method](https://github.com/eclipse/

[2018-05-28 07:07] xinjie188 opened #9828 "Cause: Server 'wsagent/http' in machine 'dev-machine' not available"
### Description
Deploying eclispe che in the k8s cluster, failed to run workspace with error message like Could not start workspace wksp-ccqf，Failed to start Kubernetes runtime of workspace workspacenesmdfsbfwdf1zpt.
### Reproduction Steps
create che-server by che-kubernetes.yaml:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    labels:
      app: che
    name: che
  data:
    CHE_HOST: "192.168

[2018-05-28 07:49] tsmaeder commented on #9809
@tolusha ?

[2018-05-28 08:15] tareqhs commented on #6756
hi,
any thoughts on this?
thank you

[2018-05-28 08:15] tareqhs commented on #6756
hi,
any thoughts on this?

[2018-05-28 09:29] slemeur commented on #8282
@dneary : Thanks for sharing. This would cover what we need and even more. We should definitely consider using it!

[2018-05-28 10:26] tsmaeder commented on #9796
Note that this is in all likelihood a bug in the go language server. Dynamic registration is opt-in, the LS has to check client capablilites and not assume dynamic capabilities are implemented.

[2018-05-28 10:27] tsmaeder commented on #9519
Merging jdt.ls should fix this. Let's not waste time on code that will disappear.

[2018-05-28 10:28] davidfestal commented on #8178
The main PR related to this work https://github.com/eclipse/che/pull/9577 has been merged, as well as the associated Docs PR https://github.com/eclipse/che-docs/pull/406

I'll let upstream code owners close this issue if they think it should be closed now.

[2018-05-28 10:29] tsmaeder commented on #9255
@vparfonov Theia?

[2018-05-28 10:31] tsmaeder commented on #8925
@artaleks9 is it fixed by the PR that was merged?

[2018-05-28 11:24] tsmaeder opened #9829 "org.eclipse.che.api.languageserver.RegistryContainer makes it hard to track usages"
With recent changes, the Class org.eclipse.che.api.languageserver.RegistryContainer has been introduced. The instance variables defined there are assigned to instance variables in other classes. This makes it very hard to track down all instances where those registries are modified or accessed.
Data should be owned by a single class and in general hidden from other classes. This make systems easie

[2018-05-28 12:00] lordrubenbp opened #9830 "Recording audio in eclipse che with java"
Hello, I tried to use the voice recording functions offered by java since eclipse but no luck, the error is as follows

javax.sound.sampled.LineUnavailableException
        at org.classpath.icedtea.pulseaudio.PulseAudioMixer.openImpl(PulseAu
        at org.classpath.icedtea.pulseaudio.PulseAudioMixer.openLocal(PulseA
        at org.classpath.icedtea.pulseaudio.PulseAudioMixer.openLocal(PulseA

[2018-05-28 12:15] tsmaeder opened #9831 "Lost Test Coverage for LanguageServerFileWatcher and ShowMessageRequest"
Recent changes have removed the LanguageServerFileWatcherTest and ShowMessageRequestTest. They should be reestablished according to the new API introduced.

[2018-05-28 12:20] skabashnyuk commented on #9830
Hi @lordrubenbp. How can we reproduce this issue?

[2018-05-28 12:47] kostiamol opened #9832 "Deploying with helm chart to minicube: how to get access"
I've followed the [doc](https://github.com/eclipse/che/tree/master/deploy/kubernetes/helm/che) for deploying che. The command bellow was executed:
` sudo helm upgrade --install my-che --namespace che-ns --set global.ingressDomain=che ./`
Output:
![image](https://user-images.githubusercontent.com/5477699/40615091-ac79f13e-6285-11e8-825d-7eb04fc8309f.png)
But how could I get an access to the deploye

[2018-05-28 13:50] es13b1018 opened #9833 "Unable to use custom plugins in Che 6.5.1"
Hi, I am trying to migrate from Che 5.14.0 to the latest version (6.5.1). My plugin has code to contribute to IDE Extensions (custom Project type and File types). While doing so I had to fix some of the packaging structure changed in the latest version. I could build my custom plugin project.

While going through Che 6's [docs](https://www.eclipse.org/che/docs/assemblies.html#assembly-ide-war), I

[2018-05-28 15:15] lordrubenbp commented on #9830
Yes, I'll leave you with the java class I've used.

`package com.emfproject.audiorec;

import javax.sound.sampled.*;

import java.io.Closeable;
import java.io.File;

/***************************************************************************
 * Microphone class that contains methods to capture audio from microphone
 *
 * @author Luke Kuza, Aaron Gokaslan
 *****************************************

[2018-05-28 16:04] gorkem commented on #9830
You probably do not have a microphone attached to the workspace container. If I remember correctly  `javax.sound.*` APIs depend on the native(linux) drivers to be available.

[2018-05-28 16:18] lordrubenbp commented on #9830
I didn't quite understand the answer, where can I activate the microphone? within the workspace options, I don't see anything related to installer

[2018-05-28 16:26] gorkem commented on #9830
The workspace container image that is used to create the workspace should include the sound drivers. Typically docker containers do not include them.

[2018-05-28 16:28] lordrubenbp commented on #9830
I installed the sound drivers in the terminal and it doesn't give any more errors, but it doesn't record anything apparently.

[2018-05-28 16:56] gorkem commented on #9830
You may need to attach a microphone to AWS if you are running Che in there :) to actually record something

[2018-05-28 16:59] lordrubenbp commented on #9830
Damn it, can't I put the mic on my local computer as an audio input? It would be wonderful

[2018-05-28 17:08] slemeur commented on #7371
@vkuznyetsov + @ashumilova + @skabashnyuk : Could you sync on this issue and see how it can be  handled in your next sprint ?

[2018-05-29 06:37] ashumilova commented on #7371
@slemeur IDE2 team is taking it.

[2018-05-29 06:49] tolusha commented on #9809
![screenshot from 2018-05-29 09-49-08](https://user-images.githubusercontent.com/1640675/40642367-99008e2e-6325-11e8-8a35-284a834d7b68.png)

[2018-05-29 06:50] #9809 closed

[2018-05-29 06:58] ashumilova opened #9835 "IDE2-2018-06-19 (Sprint: 150)"
### Sprint Goals:
1. Plugin model implementation
2. Hosted mode with Theia in Che
3. Factories support in Theia IDE

## 1. Extensibility model implementation
- [x] Introduce the Preferences API https://github.com/eclipse/che/issues/9597 40sp
- [x] Main editor objects and it's methods definition https://github.com/eclipse/che/issues/9434 50sp
- [x] Add Close the document to Editor API https://githu

[2018-05-29 07:00] skabashnyuk commented on #9827
incomplete

[2018-05-29 07:00] #9827 closed

[2018-05-29 07:15] ashumilova opened #9836 "Introduce Output channel API"
The new plugin model should contain API for accessing the output channel. The task includes following items to be done:
- [ ] define the API of the output channel interactions
- [ ]  document the API
- [ ]  develop the defined API
- [ ]  test it on the sample plugin

[2018-05-29 07:29] artaleks9 commented on #9556
Last two weeks this issue is not produced, when the tests run on the CI.
So, I think, we can close the issue.
@riuvshin  Couldn't you give a short explain, what changes you have made on the CI job.

[2018-05-29 07:35] sunix opened #9837 "Factory with Theia: implement branch checkout while cloning a project defined in the factory definition"
### Description
Part of import projects which is a subtask of #9074

Implement branch checkout while cloning a project defined in the factory definition (if a branch is specified). This is comming next after https://github.com/eclipse/che/issues/9221 (clone of a project in factory).

[code]

`source.parameters['branch']` is the branch to checkout

[2018-05-29 07:35] ashumilova commented on #9718
1. eclipse/che-theia:nightly-0.3.8 or maybe change the order to have - eclipse/che-theia:0.3.8-nightly
@benoitf wdyt?

2. The stacks are the following:
https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L56
https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L126

3. https://github.com/eclipse/che/tree/mas

[2018-05-29 07:36] #8547 closed

[2018-05-29 07:40] sunix opened #9838 "Factory with Theia: git clone is randomly failing"
### Description
Part of import projects which is a subtask of #9074

Clone has been implemented in #9221. But it is randomly failing. The goal is to investigate the reason of theses failures and find fixes.

[2018-05-29 07:49] ashumilova opened #9839 "Introduce Plugin API for workspace folders"
The new plugin model should contain API for accessing the list of opened workspace folders and updating them. The task includes following items to be done:
- [ ] define the API of the workspace folders
- [ ]  document the API
- [ ]  develop the defined API
- [ ]  test it on the sample plugin

[2018-05-29 07:51] sunix opened #9840 "Factory in Theia: process IDE customization"
### Description
subtask of #9074

Implement run commands defined in factory definition
at the moment (legacy GWT IDE), commands are launch at start up of a factory thanks to and action:

[code]

- [x] List the actions and IDE events, that are already defined for GWT IDE https://github.com/eclipse/che/issues/10160 - 10sp
- [x] Implement the factory events handing in Theia https://github.com/eclipse

[2018-05-29 07:54] artaleks9 opened #9841 "Update the 'CreateFactoryTest' according to the test plan"
### Description
* We should update the  selenium test _CreateFactoryTest_ according to the next test plan:
https://docs.google.com/document/d/1HbU9rzto8wT-6CFE8GFPi3BEW60suVmSmxDkomqbxwQ/edit?pli=1#heading=h.4i4oqi284cre
* Related issue: #9785

[2018-05-29 07:55] #9828 closed

[2018-05-29 08:02] #8925 closed

[2018-05-29 08:03] mshaposhnik commented on #9740
At this moment this is an expected behavior due to Che6 architecture,
and cannot be changed or fixed in a short or mid-time perspective.
We described that in admin docs/update guide as a known issue:
https://github.com/eclipse/che-docs/blob/master/src/main/pages/setup-openshift/admin-guide.md#known-issues

[2018-05-29 08:09] skabashnyuk opened #9842 "Platform-2018-06-19 (Sprint: 150)"
### Features related to Authentication and security in Theia IDE https://github.com/eclipse/che/issues/9383
- [x]  Authentication with jwtproxy | https://github.com/eclipse/che/issues/9843  13

### Features related to Workspace.Next Phase 1
- [x] Create CQ for golang dependencies for a server that provides features and services  https://github.com/eclipse/che/issues/9844  5

### New Features

###

[2018-05-29 08:45] skabashnyuk opened #9843 "Authentication with jwtproxy"
### Description
Study concept of authentification based on jwtproxy container https://github.com/coreos/jwtproxy.
Basic idea: if authentification is needed we start additional container with jwtproxy as part of the workspace. Goal of this container is to check jwt token to access to Thia server-side and sign each request with jwt tokens to workspace master.

[2018-05-29 08:55] ashumilova commented on #9718
FYI - 0.3.10 - for Theia current version

[2018-05-29 08:57] skabashnyuk opened #9844 "Create CQ for golang dependencies for a server that provides features and services"
### Description
As part of this issue https://github.com/eclipse/che/issues/9491 we build a server
that is providing features, services, and plugins. It has two major dependencies: yaml  and gin.
To be able to put sources in Eclipse repositories we need to create cq for this dependency, including transitive.

[code]

![1](https://user-images.githubusercontent.com/1614429/40648689-b5aca280-6337-11e

[2018-05-29 09:14] #9653 closed

[2018-05-29 09:31] ashumilova opened #9845 "Introduce new namespace for current environment in Plugins API"
The new plugin model should contain API for accessing the information about current environment, where Theia IDE was run. The task includes following items to be done:
- [x] define the API for retrieving the following information:
     - [x] the environment variables
     - [x] query parameters as part of the url
- [x] document the API
- [x] develop the defined API
- [x] test it on the sample plug

[2018-05-29 10:07] dmytro-ndp opened #9846 "Build of E2E testing jobs had failed on Eclipse Che CI because of existed github identity provider"
### Description
We encountered a number of builds failure on Eclipse Che CI because of the same error:
https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/293/consoleText
https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/294/consoleText
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/229/consoleText
[code]

[2018-05-29 10:12] azatsarynnyy opened #9847 "Make it possible to use Theia's terminal widget for displaying Che Task's output"
We need some widget to display a Che Task's output in Theia - see https://github.com/eclipse/che/issues/8974. Theia's terminal widget could be used for that but it requires some changes to be able to work with a terminal process running not only on the Theia backend.
So the goal of this task is to make the Theia's TerminalWidget configurable to be able to point it out to the terminal process launc

[2018-05-29 10:20] azatsarynnyy commented on #8974
issue status update:
Variables (formerly macros) - done:
- Theia Variable API has been introduced that allows contributing the custom variables
- variable resolution works in Che Tasks for command and preview URL fields

Target - done:
- one can specify a workspace and machine for executing a Che Task

Preview URL - almost done:
- preview URL can be defined in a Che Task
- one can choose a preview

[2018-05-29 10:34] bryanxtong commented on #9828
@xinjie188
Ｉhave this problem with docker 1.3.1 which is on redhat 7.5, how did you fix this problem. Thanks.

[2018-05-29 10:51] vparfonov opened #9849 "IDE-2018-06-19 (Sprint: 150)"
### Goals
#### Theia improvement:

- [x] Preferences System for Che with Theia IDE #9336
- [x] Support commands macro in Theia tasks #8974

### Issues

#### Artem
- [x] _[Theia]_ Ability to define/see preview URL for Theia tasks #9273 4d
- [x] _[Theia]_ Make it possible to use Theia's terminal widget for displaying Che Task's output #9847 8d

#### Dmytro
- [x] Go language server: wrong file name i

[2018-05-29 10:57] eivantsov commented on #9824
@thenets There's single port policy for Che on Docker https://www.eclipse.org/che/docs/docker-config.html#single-port-policy

This feature is also supported out of the box if Che is deployed to an OpenShift cluster.

[2018-05-29 11:33] eivantsov commented on #9825
@ElectronicWizzard servers need to be explicitly declared in workspace config, however, it does not look like Chefile was updated to meet requirements of Che 6. In Che 5 all exposed ports were automatically published, while in Che 6 a server is required.

[2018-05-29 11:36] eivantsov commented on #9833
@es13b1018 you may want to take a look at a sample extension https://github.com/che-samples/che-ide-server-extension

It uses a different IDE packaging mechanism though

[2018-05-29 11:39] eivantsov commented on #9832
@kostiamol `global.ingressDomain` should be a valid DNS or IP + wildcard dns like nip.io

If you deploy locally, it should be `${LOCAL_IP}.nip.io`

[2018-05-29 11:40] eivantsov commented on #9802
@KOSSOKO no, workspaces aren't sorted by usernames

[2018-05-29 11:50] KOSSOKO commented on #9802
@eivantsov thanks for the answer.

[2018-05-29 12:04] azatsarynnyy commented on #8974
Command Target:
![target](https://user-images.githubusercontent.com/1636395/40657622-38bd9378-6351-11e8-8d0c-d43c45f1aafb.gif)

Preview URL:
![previewurl](https://user-images.githubusercontent.com/1636395/40657564-05b76abc-6351-11e8-8e0c-90ece90c841c.gif)

[2018-05-29 12:46] dkuleshov opened #9851 "Need to remove extra dependency lib-gwt-svg"
Seems like this dependency is extra https://github.com/eclipse/che/blame/master/ide/che-core-ide-api/pom.xml#L174-L177
[code]

[2018-05-29 13:04] dkuleshov commented on #9797
@gorkem According to what I see golang LS ignores `dynamicRegistration` set to false and tries to register a new capability. The bug is reported here https://github.com/eclipse/che/issues/979, we will report the golang LS bug if it is confirmed during the work on our bug.

I'm not yet sure if that's a blocker for https://github.com/eclipse/che/issues/9781 but if it is than it will be mentioned her

[2018-05-29 13:07] dkuleshov commented on #9796
As @tsmaeder mentioned in another discussion it might be quite possible that https://github.com/eclipse/che/issues/9781 is caused by this bug.

[2018-05-29 13:11] dmytro-ndp commented on #8434
@musienko-maxim: I have published list of non-covered features [here](https://github.com/eclipse/che/wiki/List-of-Eclipse-Che-6-features-which-haven't-been-covered-by-selenium-tests-yet)

[2018-05-29 13:22] svor commented on #9804
@svor 13d

[2018-05-29 13:39] #9484 closed

[2018-05-29 13:49] riuvshin commented on #9718
nightly tag is already in place: https://hub.docker.com/r/eclipse/che-theia/tags/

[2018-05-29 13:49] #9718 closed

[2018-05-29 13:58] tsmaeder commented on #8965
Depends on https://github.com/eclipse/che/issues/8941

[2018-05-29 14:47] artaleks9 opened #9852 "Create selenium test to cover the 'Contribute' in the 'Preferences'"
### Description
* Need to create the selenium test to cover the _Contribute_ part in the _Preferences_
* Related to PR: #9806

[2018-05-29 14:48] kostiamol commented on #9832
@eivantsov I tried:
![image](https://user-images.githubusercontent.com/5477699/40666241-88c04c2c-635f-11e8-9cee-e29dc61a61d5.png)

The output of the command `sudo kubectl describe ing -n che-ns` is below (maybe it'll help):
![image](https://user-images.githubusercontent.com/5477699/40666141-534737cc-635f-11e8-9776-171f3e8a5e44.png)

[2018-05-29 14:58] eivantsov commented on #9832
Che should be available at `che-che-ns.135.238.177.27.nip.io`

[2018-05-29 15:15] dmytro-ndp commented on #9846
List of [identity providers is empty at the moment](https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/299/consoleText):
[code]

[2018-05-29 15:20] KOSSOKO commented on #9802
@eivantsov thanks a lot

[2018-05-29 15:24] carloreggiani opened #9853 "Unable to start workspace in Minikube single use deployment"
### Description
Eclipse She single user is starting on Minikube installation (followed https://www.eclipse.org/che/docs/kubernetes-single-user.html), error starting any workspaces.

I tryed to change in the yalm file also the IP value for the 192.168.99.101 value (not changed with the 'sed' command):

CHE_INFRA_KUBERNETES_INGRESS_DOMAIN: "172.17.167.84.nip.io"

The problem is not there :(

![elips

[2018-05-29 16:17] musienko-maxim opened #9854 "Formatting for python editor does not apply properly in a workspace with enabled python LS"
### Reproduction Steps
* Create a workspace based on Default Python Stack stack
* Enable Python language server installer if it need
* Create  `web-python2.7-simple` project from wizard
* Open `main.py` file
*  Change content from file something like that:
[code]
* Apply Edit -> Format
**Expected result:**  The content should be formatted according to settings in language server.
**Actual result:*

[2018-05-29 17:08] eivantsov commented on #9853
@carloreggiani can you share your entire yaml?

[2018-05-29 18:55] Ohrimenko1988 commented on #9801
Done https://github.com/eclipse/che/pull/9812

[2018-05-29 18:55] #9801 closed

[2018-05-29 19:07] m1L31s opened #9855 "Running more than one instance of a workspace created from factory crashes Che"
### Description
I'm running Che 6.5.1 on Docker. I want to provide pre-configured workspaces to people working on the same Che host. Factory seems a good option, although I know that there may be other options to realize this.
Opening the workspace via factory URL works fine, but it seems like there is only one instance of the workspace at a time possible. If one workspace of that factory is runni

[2018-05-29 20:14] tsmaeder opened #9856 "Cannot register LSP editor for jdt urls"
In the jdt.ls plugin, we use url schemes to route requests for resources in jar files to jdt.ls. This cannot be achieved by matching *.class files via a regex, since we're talking, for example about a Readme.txt file.
 Since the regex in org.eclipse.che.api.languageserver.LanguageServerConfig.RegexProvider.getLanguageRegexes() is only applied to the file name, not the whole uri/path, we cannot ach

[2018-05-29 21:53] gorkem commented on #9847
@vparfonov Is this on the next sprint?

[2018-05-29 22:16] slemeur commented on #8974
Thanks for attaching the recording @azatsarynnyy.

Quick questions related to the current implementation:
- Can a command have multiple targets?
- What is the `"type": "che"` what are the other possible types?
- How can you stop a running task?

Few feedbacks:
- I think the task panel does not provide a lot of help to the user to either see the task name or find quick actions which could be done o

[2018-05-29 22:17] gorkem commented on #9835
Do we have a complete list of APIs that we are planning to implement?

[2018-05-29 22:38] gorkem commented on #9813
@skabashnyuk how does this work with new IDE? Are we still running wsagent on those workspaces?

[2018-05-29 22:57] gorkem opened #9857 "Diagnostics view logs UI issue"
It looks like the view logs action breaks the view a bit. Nothing is functionally broken but only the look & feel.

![image](https://user-images.githubusercontent.com/82738/40689785-d02c97ca-6371-11e8-987d-d318b254ecad.png)

[2018-05-29 22:58] gorkem commented on #9791
+1 for putting this sort of info into diagnostics.

[2018-05-29 22:59] gorkem commented on #9791
@eivantsov Do you know if diagnostics view is used by users often?

[2018-05-30 02:31] gorkem opened #9858 "Revisit .factory.dockerfile support for ws.next"
`.factory.dockerfile` does not work on kubernetes and openshift. We should re-evaluate the value of the feature and drop it.

[2018-05-30 02:47] eivantsov commented on #9791
@gorkem can't say it's a very popular feature but it's being used from time to time to discover any networking issues with Che. However, it is often more difficult to figure out why diagnostics failed than to find out reasons of failing workspaces.

[2018-05-30 06:14] m1L31s commented on #9855
Multi user:

docker run -it -e CHE_MULTIUSER=true -e CHE_HOST=<host-ip> -v /var/run/docker.sock:/var/run/docker.sock -v /opt/che/.che-multiuser:/data eclipse/che start

Keycloak uses LDAP/MSAD to authenticate Che users.

[2018-05-30 06:27] skabashnyuk commented on #6756
@gorkem

No issues.  It makes sense to do on workspace master. Since workspace agent will be retired with Theia ide it doesn't make sense to change something on ws-agent

I guess we are missing only one bridge websocket->jsonrpc. But I don't think it would be too hard to implement

[2018-05-30 06:31] sleshchenko commented on #9813
@davidwindell I think it's because `projects` volume is automatically bound only to machine with `ws-agent`. But you can mount it manually, so just add `projects` volume to machine configuration, here is an example:
[code]

[2018-05-30 06:32] i300543 opened #9859 "Workspace management dashboard work with custom OIDC working in query mode"
### Description
We at SAP are trying to use latest che attached to our custom OpenIdConnect provider (we use cloud foundry xsuaa service)
our oidc .well-known/openid-configuration can be seen here :
https://research2.authentication.eu10.hana.ondemand.com/.well-known/openid-configuration

Our oidc emits and validates JWTokens, but does not support "preferred_username" claim, required by the che wsm

[2018-05-30 06:34] sleshchenko commented on #9813
@gorkem No, there are not running wsagent in new IDE workspaces. Theia just declares [projects volume](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L26-L29)

[2018-05-30 06:48] eivantsov commented on #9855
@m1L31s hm.. never see such behavior. Can you share more details on

`docker logs -f che`

[2018-05-30 07:22] ashumilova commented on #9835
@gorkem yes, the list is [here](https://docs.google.com/spreadsheets/d/15UvXvhesbvn_D0K7YUweN45uayKpFIXqhL_ip0Q5Dkk/edit#gid=0)

[2018-05-30 07:34] Ohrimenko1988 opened #9860 "Unexpected fails of "CreateWorkspaceTest", "AddWorkspaceToOrganizationTest", "ShareWorkspaceTest" selenium tests"
### Description
We have unexpected fails of "CreateWorkspaceTest", "AddWorkspaceToOrganizationTest", "ShareWorkspaceTest" selenium tests. It looks like something went wrong with a method which checks an error message. We should investigate and fix this problem.

**Log:**
*CreateWorkspaceTest*
[code]

**Report with a reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests

[2018-05-30 07:45] #9626 closed

[2018-05-30 07:59] riuvshin opened #9861 "Release CHE 6.6.0"
Release CHE 6.6.0

[2018-05-30 08:15] dkuleshov commented on #9856
The description is not clear, could you please change it to make it more understandable.

Why can't it be achieved?

That's not true. I see [this](https://github.com/eclipse/che/blob/7a52c83f4dbf24f527986550181684f267934387/wsagent/che-core-api-languageserver/src/main/java/org/eclipse/che/api/languageserver/FindId.java#L42), it says that we use regular expression against a string that represents a

[2018-05-30 08:24] vparfonov opened #9863 "Investigate Mozilla Addons Server repository"
Possibly we can use this for building our Market Place for Che Plugins

- http://addons-server.readthedocs.io/en/latest/index.html
- https://github.com/mozilla/fireplace
https://github.com/mozilla/addons-frontend

[2018-05-30 08:27] kostiamol commented on #9832
@eivantsov It still doesn't work ;(

![image](https://user-images.githubusercontent.com/5477699/40708561-0a3fffe2-63f4-11e8-9478-365dff0b2ae1.png)

[2018-05-30 08:37] vparfonov commented on #9847
@gorkem yes

[2018-05-30 08:40] vparfonov opened #9864 "Upgrade lsp4j to the v0.4.1"
Should fix #9796

[2018-05-30 08:55] vparfonov commented on #8282
@dneary Thanks for sharing this information https://github.com/eclipse/che/issues/9863

[2018-05-30 08:57] benoitf commented on #9863
I'm adding link to marketplace doc (upper level than backend and frontend)
https://marketplace.readthedocs.io/en/latest/index.html

[2018-05-30 09:00] RomanNikitenko opened #9865 "Tab for read only editor does not contains corresponding mark"
### Description
Read only mark is absent for editor tab:
![readonlytab](https://user-images.githubusercontent.com/5676062/40709746-926d2e16-63ff-11e8-9b15-633cd10dcf77.png)
Expected:
![readonlymark](https://user-images.githubusercontent.com/5676062/40710134-88388cd2-6400-11e8-8f44-afd3b48db017.png)

[2018-05-30 09:01] #9606 closed

[2018-05-30 09:01] qianlei90 commented on #7986
@eivantsov Any solution? I have to use custom dns resolver in our internal network. It's all ok when I deploy che with helm, using nip.io.  But it get an error when I change to a domain that can only be resolved by our dns:

[code]

[2018-05-30 09:07] vparfonov commented on #9797
Will take to the nearest sprint for analyzing this ability for our client

[2018-05-30 09:07] azatsarynnyy commented on #8974
@slemeur thanks for your feedbacks.
Answers to your questions:

As I mentioned above, it can improved to make a target optional. In that case user could be asked to choose a machine to execute a command. Am I understand you correctly?

Task Type in Theia Task API allows different extensions to contribute it's own format of a task. I've described the examples of using it [here](https://github.com/t

[2018-05-30 09:39] #6841 closed

[2018-05-30 09:55] tsmaeder commented on #9856
Yes it's true, see LanguageRegexesInitializer.

[2018-05-30 10:02] slemeur opened #9866 "Plugin Marketplace UI - Phase 1"
### Description
The goal of this issue is to setup the initial UI to allow a user to browse a list of plugins and see details about a particular plugin.

### List of plugins
![chemarketplace-browse](https://user-images.githubusercontent.com/1636769/40713575-94f01db4-6400-11e8-8fa7-7b40613eec45.png)

Note: In this initial phase the search and filters capabilities are not required

### Plugin detail

[2018-05-30 10:08] slemeur opened #9867 "Study Mozilla Firefox Marketplace frontend"
### Description
Along with the work on https://github.com/eclipse/che/issues/9866 we should be studying what open source component for market place already exist.

The [Firefox marketplace](https://marketplace-frontend.readthedocs.io/en/latest/) seems an interesting candidate, as well as the server backend https://github.com/eclipse/che/issues/9863.

[2018-05-30 10:30] slemeur opened #9868 "Initial Plugin registry"
### Description
In order to allow the work of other teams on the plugin model, we should be setting up an initial plugin registry which could be use to host the different plugins and serve them when a workspace is getting initialiazed.

At this moment, what's required would only be the ability to:
- host plugins (the `.cfa` which should probably better be named `.che`)
- an api to retrieve the lis

[2018-05-30 11:13] riuvshin commented on #9556
the problem was related to failing attachment of pvc to pod, so we've changed pvc strategy from `unique`  to `common` to avoid of mounting pvc to each workspace. since we've changed strategy we do not see that kind of issues anymore, it seems it is related to high CPU load on ci slaves because we run OS cluster and tests on the same node. So for now we are OK with using `common` strategy.

[2018-05-30 11:13] #9556 closed

[2018-05-30 11:14] eivantsov commented on #7986
@qianlei90 the problem is that this enpoint should be resolved in your cluster. I recommend to open a new issue with more information.

[2018-05-30 11:17] skabashnyuk commented on #9868
How these plugins are connected with Phase 1 of Workspace.Next implementation https://github.com/eclipse/che/issues/9406? How they are related to Services, Features.

Are this is all about standalone Theia and has no relation to Che or containers?