[2020-03-27 13:11] tolusha commented on #16470
@ibuziuk I would say it is P2, right?

[2020-03-27 13:16] #13961 closed

[2020-03-27 13:20] RickJWagner commented on #15805
Super.  Thank you, Sergii.

[2020-03-27 13:23] nickboldt commented on #16101
Done for 7.9.2 and 7.10.

https://quay.io/repository/eclipse/che-endpoint-watcher?tab=tags

Released as part of the che server make-release.sh process.

[2020-03-27 13:23] #16101 closed

[2020-03-27 13:32] sleshchenko commented on #16470
@tolusha I even maybe P3, we successfully have not updated license to the 2019 year https://github.com/eclipse/che/issues/15222 ) Since 2020 is a leap year - it has even less chances.

[2020-03-27 13:37] NM4 opened #16473 "Che offline using an untrusted TLS cert doesn't load zip samples from internal devfile registry"
### Describe the bug

I installed Eclipse Che on offline mode with intenal devfile and plugin registries.
When I create a workspace with a stack that bundle a sample project from devfile registry I get ssl issue at downloading the sample zip into the workspace. It seems like the provided ca cert is not propagated to the tool that download the zip ( wget )

### Che version

 - [ ] latest
 - [ ] nig

[2020-03-27 13:39] #13226 closed

[2020-03-27 13:42] sleshchenko commented on #16439
@azatsarynnyy @RomanNikitenko Guys could you please take a look https://github.com/eclipse/che/issues/16439#issuecomment-604407404
Are there any logs you think can prevent Theia from starting?

[2020-03-27 13:45] sleshchenko commented on #16473
@NM4 Could you clarify where do you get this error? Theia log, plugin broker. Che Server?

[2020-03-27 13:50] sleshchenko commented on #16417
@ultrafab But Che Server is still not as lucky as you and can't access keycloak?

[2020-03-27 13:52] sparkoo commented on #16119
https://github.com/eclipse/che/issues/16050 enabled running the workspace with `debug=true` query param, e.g.:  `<che-host>/dashboard/#/ide/che/wksp-p2g6?debug=true`

[2020-03-27 13:55] azatsarynnyy commented on #16439
I see nothing suspicious in the provided Che Theia logs

[2020-03-27 13:57] #15611 closed

[2020-03-27 14:20] SockenSalat commented on #16439
As I wrote [here](https://github.com/eclipse/che/issues/16439#issuecomment-604411586), theia is actually running, to me it looks like the proxy-setup is not working properly.

[2020-03-27 14:34] amisevsk commented on #16458
There's actually already a fairly reasonable internal representation of the high-level steps in starting workspace in our tracing:
![Screenshot_2020-03-27 Jaeger UI](https://user-images.githubusercontent.com/16168279/77766479-15780500-7016-11ea-8d5c-90aef3830f6c.png)

With that in mind, I might suggest phases like
1. Processing workspace plugins
    a. Downloading plugin metadata from plugin regis

[2020-03-27 14:50] nickboldt commented on #16258
Assuming this won't be done in time for 7.11, so setting milestone 7.12. P1 SEV1.

[2020-03-27 15:09] NM4 commented on #16473
I get this as a notification when my workspace starts.

[2020-03-27 15:12] tsmaeder commented on #15611
I believe we're missing an opportunity to make the devfile editor more useful if we don't have an exact schema for the "dialect" of devfiles we're using in Che. I believe the information we need to make an exact schema for Che is already available, because we need to document all possible configurations for user documentation anyway. To me this seems like a low-hanging fruit. @sleshchenko @skabash

[2020-03-27 15:15] azatsarynnyy commented on #16439
Che Theia uses [che-workspace-client](https://github.com/eclipse/che-workspace-client) to communicate with Che server. I saw there was a patch recently https://github.com/eclipse/che-workspace-client/pull/28 that should fix the issue of connecting through a proxy. Maybe, it's related.
@SockenSalat you can try it with `next` images of Che.

[2020-03-27 15:30] mingfang commented on #16426
@ibuziuk https://github.com/eclipse/che/pull/16474

[2020-03-27 15:45] mmorhun commented on #16417
@ultrafab could you try to reach keycloak url from within Che server container ?

To simplify the task, you may use plugin registry container (as they are in the same pod):
 - from VM with Openshift: `docker ps | grep plugin` and get the container id near `quay.io/eclipse/che-plugin-registry`.
 - then exec into it: `docker exec -it <id> bash`
 - finally `curl -vk <url-to-keycloak>`, where keycloak

[2020-03-27 15:49] NM4 commented on #16473
Yes, just verified : in a terminal in theia plugin container I have a  correct ca.crt.

[2020-03-27 15:58] NM4 commented on #16473
[code]

!!!

[2020-03-27 16:05] ibuziuk opened #16475 "Update Hosted Che to the 7.11.0 upstream version"
### Is your task related to a problem? Please describe.
Update Hosted Che to the 7.11.0 upstream version
Blocked by - https://github.com/eclipse/che/issues/16478
Draft PR - https://github.com/redhat-developer/rh-che/pull/1828

[2020-03-27 16:10] mmorhun commented on #16417
@ultrafab also please check whether `/home/user/self-signed.crt` exists in Che server container (exec into it and cat the file)

[2020-03-27 16:51] amisevsk commented on #16442
For now, since webhook names are static, we could also get them directly by name if webhooks are disabled; this doesn't address the issue of "what happens if we change the name we use", but does move this issue down the road a significant bit.

[2020-03-27 17:36] ultrafab commented on #16417
Hi @mmorhun , thanks for the insight.

Here you can find the curl/ping against the keycloack service, and against phisical ID of the KVM machine and the phisical host (just to test the container network):

[code]
It seems i cannot resolve the host name.

[2020-03-27 18:12] #16469 closed

[2020-03-27 18:22] JPinkney commented on #16471
It's because https://github.com/eclipse/che-plugin-registry/pull/418 hasn't been merged yet so every PR will fail with `/bin/bash: .ci/cico-plugin-registry-pr-test.sh cannot be found`.

The PR is blocked by https://github.com/eclipse/che/issues/15797#issuecomment-602772879

[2020-03-27 18:31] vparfonov commented on #16042
Repeat the same for workspace with 4 JavaScript projects on **EBS storage** (gp2):
|   | restore  |  backup   |
| --- | --- | ---|
| **real**  |  **2m 19.52s** | **2m 42.91s** |
| user |   0m 13.44s |0m 12.89s|
| sys   |  0m 17.67ss |0m 1.72s|

[2020-03-27 18:32] nickboldt opened #16476 "When doing maintenance releases, ensure that new plugins are added to both .x and master branches"
### Is your task related to a problem? Please describe.

When doing a 7.9.x release, the 7.9.1 and 7.9.2 plugins were not submitted as PRs against master branch. This is because we're currently only pushing the 7.9.0 plugins into master at the time that we branch from master to create 7.9.x. But followup maintenance releases are pushed to basebanch = 7.9.x, not master:

[code]
 -- https://github.c

[2020-03-27 18:37] ericwill commented on #15854
Closing this, the PHP devfile uses a different base image now which has the updated version of PHP 7.

[2020-03-27 18:37] #15854 closed

[2020-03-27 18:49] tomgeorge commented on #15906
I was able to reproduce this.  It seems like the way forward is to change the RBAC rules around allowed actions in developer namespaces.  Is there any reason why we cannot do this?

[2020-03-27 19:30] meroupatate opened #16477 "Unable to deploy multi-user Eclipse Che with minikube"
### Describe the bug
I am trying to deploy a local instance of multi-user Eclipse Che using minikube and chectl but with no success: the chectl command times out when starting `Eclipse Che pod bootstrap`.

### Steps to reproduce
I use minikube to start a k8s cluster on my local machine by running:
[code]
Once the cluster is ready, I try to deploy Eclipse Che with chectl by following the instructio

[2020-03-27 20:18] nickboldt opened #16478 "Che 7.11 Release"
### List of pending issues / PRs

- [ ] update release template for 7.11 #16479
- [ ] *(add blockers here)*

### Release status

In parallel, the following releases can be done:

* che-theia
* che-machine-exec
    * che-plugin-registry (once che-theia and machine-exec are done)
* che-devfile registry
* che-parent, then che-docs, then che (including [quay images](https://github.com/eclipse/che/blob

[2020-03-27 21:42] amisevsk opened #16480 "Warning when using Go plugin: update formatTool to `goimports`"
### Is your enhancement related to a problem? Please describe.
When using the go plugin *without the experimental language server activated*, a warning is shown to the user:

![Screenshot from 2020-03-27 17-30-58](https://user-images.githubusercontent.com/16168279/77802245-d74c0700-7050-11ea-9e03-66856e8f5dd4.png)

Note: `goimports` is [already installed in the sidecar container](https://github.co

[2020-03-28 07:09] dmytro-ndp opened #16481 "Happy path tests PR check isn't been triggered from GitHub"
### Describe the bug
Happy path tests PR check for Eclipse Che / Che-Theia repos on CRW CCI isn't been triggered from GitHub:
- [Eclipse Che PR check Jenkins Job](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Multiuser-Che-PR-check-E2E-Happy-path-tests-against-k8s/)
- [Che-Theia PR check Jenkins Job](https://codeready-workspaces-jenkins.rhev-ci

[2020-03-28 07:42] dmytro-ndp commented on #16481
The problem has been fixed by restarting smee client instance on CRW CCI.

[2020-03-28 07:42] #16481 closed

[2020-03-28 07:53] dmytro-ndp opened #16482 "Che Theia can't reach Che plugin registry behind the proxy with TLS support"
### Describe the bug
Plugins view is empty behind the proxy in CRW 2.1.0.RC3 based on Eclipse Che 7.9.2 with TLS support:
![Screenshot from 2020-03-26 16-00-20](https://user-images.githubusercontent.com/1197777/77818185-1c1b8080-70d9-11ea-9749-8bc3c5f068b1.png)

Theia image: quay.io/crw/theia-rhel8:2.1-23

Proxy settings:
[code]

[Downstream issue](https://issues.redhat.com/browse/CRW-720).

### C

[2020-03-28 12:04] ultrafab commented on #16417
UPDATE:
I've modified the `/etc/docker/daemon.json` adding the custom DNS server:
[code]
but CHE server is raising the same exception, not resolving keycloak endpoint.

Deploying a blank Alpine image inside the same machine, and logging i can ping and resolve the `k8s.bishop.lan` domain.

[2020-03-28 13:10] mustafa-yilmaz commented on #15556
@jswordfish : Unfortunately, no. I have still the same problem with you, just as you explained in your message.

[2020-03-28 16:44] twolastnames opened #16483 "Failing Loading All Resources"
After a fresh install with chectl, it looks like I have an empty program running.

When I first launch the application, on the getting started tab, a "Failed to load devfiles meta list" error is shown.

When attempting to open a workspace, I get the errors "Failed to load plugins" and "Failed to load editors".

It's on minikube on Ubuntu 18.04.1.

## Summary

## Relevant information

[2020-03-28 19:13] twolastnames commented on #16483
When I try to start a workspace...

[code]

[2020-03-28 19:34] azatsarynnyy commented on #15262
Fixed by upgrading Monaco editor upstream https://github.com/eclipse-theia/theia/pull/7149
![image](https://user-images.githubusercontent.com/1636395/77831506-42243d80-7138-11ea-9d03-5b62ac493167.png)

[2020-03-28 19:34] #15262 closed

[2020-03-28 20:49] azatsarynnyy commented on #16482
[AxiosInstance in che-plugin-service](https://github.com/eclipse/che-theia/blob/413db364f965bd314dba858c3bc9236a34aeac06/extensions/eclipse-che-theia-plugin-ext/src/node/che-plugin-service.ts#L109-L123) should be configured in a similar way as it's done for [che-workspace-client](https://github.com/eclipse/che-workspace-client/pull/28/files#diff-f41e9d04a45c83f3b6f6e630f10117feR55-R105) by the PR

[2020-03-28 20:52] twolastnames commented on #16483
I'd guess that Ingress not running would do this?

When I enabled it with minikube, it didn't give an error.  But, I couldn't find it in the list of pods running.

I installed Ingress through helm, but it doesn't help.

[2020-03-29 03:17] olexii4 commented on #16472
@sleshchenko Yes. Keycloak does send the user's token to every host, only trusted ones. But it is easy to add an exclusion.
The easiest way: start dev-mode, then add an exclusion to the Keycloak and that is it.

In the case with https://che.openshift.io  Keycloak rules are not very strict and no need to add exclusions.

As for me, I am using the next snippet for testing workspace-loader:

[code]
T

[2020-03-29 11:21] SockenSalat commented on #16439
@azatsarynnyy so I'm going to wait for the next release, is that correct?

[2020-03-29 15:01] sunix commented on #16454
needed for https://github.com/eclipse/che/issues/14126#issuecomment-527833101

[2020-03-29 15:02] sunix commented on #16454
If we could add a dedicated CONTRIBUTING.md, would be awesome

[2020-03-29 15:05] mmorhun commented on #16417
@ultrafab I've faced the same situation: I can ping both, but cannot resolve the hostname inside Che pod. The curious fact is that when I start a container in the VM (which is NOT part of the Openshiift 3.11 cluster) I can resolve the domain name and query keycloak via curl and get response.
So
[code]
works from within a container in the VM and doesn't work from within a container (pod) which belo

[2020-03-29 15:08] mmorhun commented on #16417
Also, after modifying docker configuration by adding your DNS, have you tried to curl keycloak by domain name from Che pod? What's inside `resolv.conf` in the Che server container? Does it see your DNS ?

[2020-03-29 15:49] ultrafab commented on #16417
Hello @mmorhun ,

logging inside the `k8s_POD_che-*********` container i cannot resolve the k8s domain, but i can ping the internal DNS server, so it's reachable but not used.

doing a cat of `/etc/resolv.conf`:
[code]

[2020-03-29 16:23] sunix commented on #14510
hello @vitaliy-guliy do you have any plans to implement that ?

[2020-03-29 16:48] ultrafab commented on #16417
@mmorhun  **update it works now**

referring to docs in: https://docs.openshift.com/container-platform/3.11/install/prerequisites.html i've found that Openshift 3.11 just inject DNS servers found in `/etc/resolv.conf` of host machines.

I've create a static `/etc/resolv.conf` in Ubunu 18.04 host. so it's not rewritten and added the IP address of the private DNS i've setup.

Now Eclipse CHE starts

[2020-03-29 17:10] mingfang opened #16484 "Always createOrReplace workspace role bindings"
### Is your enhancement related to a problem? Please describe.
Currently workspace role bindings are not updated after the service account has already be created.  This is due to the `else` cause there
https://github.com/eclipse/che/blob/279768c8daa9ce1e65c3ae41d79752ed1571e1f5/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesWorkspac

[2020-03-29 17:29] sunix commented on #16381
@l0rd there are too many examples there and there using `/` in endpoint names And many users are taking these devfiles as a starting example to write their own. Users would just face the bug without knowing how to fix it. This is very bad UX.

Randomly search result:
- https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/go/devfile.yaml#L39
- https://github.com/eclipse/che-devfile-

[2020-03-29 17:32] sunix commented on #16381
@l0rd I don't understand. All my endpoints are supposed to be external. (I don't have the expose the internal ones ... as it is in the same pod)

[2020-03-29 17:35] sunix commented on #16381
@l0rd I change to `severity/P1`, let me know if it works for you.

[2020-03-29 17:37] sunix commented on #14680
@tolusha I change that one to `severity/P1`
Let me know if it works for you.

[2020-03-29 18:23] #16435 closed

[2020-03-29 18:24] apupier commented on #16435
firs iteration done.

Will open another issue if/when we tackle the second one:

`as a second iteration, there is now an option to specify which Camel K runtime t use. It allows to stick with a specific version even when there is a new one released. it woudl be useful to leverage that in Che environment to keep using the version in the sidecar. example setting a preference in devfile`

[2020-03-29 18:44] ultrafab commented on #16414
Hello @gnoejuan, i've just finish to setup something i think similar to your needs, running completely inside a private network.

This is the abstract, let me know if i can give you more informations:

- Create a KVM Virtual Machine with Ubuntu 18.04 server. (I've done cause i've had an already setup KVM host, but i think you can skip and use a bare 18.04 installation on a phisical machine).
- Ins

[2020-03-29 19:11] #15991 closed

[2020-03-29 19:16] azatsarynnyy commented on #16439
@SockenSalat wait for the next release or try `che-theia:next` version. You can choose it on the Dashboard, `Editors` tab:
![image](https://user-images.githubusercontent.com/1636395/77858242-de1e7980-720a-11ea-9d17-8f292ac01149.png)

[2020-03-29 19:24] pdaverh opened #16485 "Collect detailed workspace activity metrics for Hosted Che"
To enhance the value delivered by Hosted Che, we would like to gather detailed usage related metrics.

We would like to learn about the following usage patterns:

Percentage of projects not using sample code provided by the stacks
Average time gap between starting first workspace to adding a project with external Git repo
Top features used by developers
Top plug-ins used by developers
Frequency of

[2020-03-29 20:08] ultrafab commented on #16366
Hello! Any insight on how to resolve/workaround?

Also, seems working on Chrome for Windows 10, but not under Ubuntu 18.04 Desktop.

[2020-03-29 20:47] l0rd commented on #16458
@amisevsk thanks for providing these details. I think they will be useful when @beaumorley will work on it.

For phase 2. I would use devfile terminology "Preparing to create workspace components".
And for 3d. as well "Waiting for workspace components readiness" ("workspace server" terminology).

Something important for the design is that, the 4 steps of phase 3, are run multiple times (once for e

[2020-03-29 22:46] l0rd commented on #16381
@sunix ok

[2020-03-29 22:52] l0rd commented on #15906
@tomgeorge yes I think we agreed that we should grant Che SA privileges to stop workspaces in users namespaces (@ibuziuk and @davidfestal can confirm).

[2020-03-29 22:56] l0rd commented on #16110
@mstavares please try on latest Che (v7.10.0)

[2020-03-29 22:59] l0rd commented on #16287
@shahidhs-ibm what do you expect from us? What changes?

[2020-03-29 23:00] gorkem commented on #16485
I am not sure if this requires collection of new data. There is enough data collected to determine if a workspace has been used for editing files and git operations (commit and push).

+1 for the plugin usage.  Perhaps something similar to the stack usage data makes sense.

[2020-03-30 05:55] mmorhun commented on #16417
I got it work in a bit different way. In my case, I didn't change VM's `resolv.conf` but instead added new DNS to local network one (on my router). And added record for new DNS server (which serves only local Che domain) in the docker config in the VM.

[2020-03-30 06:12] #16448 closed

[2020-03-30 06:22] tolusha commented on #14725
@dmytro-ndp @mkuznyetsov
To be able to prepare `che-operator` and `chectl` RC it is needed to have a corresponding branch in `che`.
For instance, in case of 7.11.0 release I will need 7.11.0 branch in che. Is it possible?

[2020-03-30 06:33] skabashnyuk commented on #15906
AFAIK it would not work in a multi-cluster environment.

[2020-03-30 06:36] kellyhyomin commented on #16422
@sleshchenko
I solved the problem.
The sshd server did not operate normally because the server was running as 1724, not root.
I really appreciate for your help.

[2020-03-30 06:36] #16422 closed

[2020-03-30 06:48] tolusha commented on #16477
@meroupatate
If if don't use `-m' flag then `helm` installer is used inexplicitly
These should work to deploy Eclipse Che in multi-user mode:
`chectl server:start --platform minikube --k8spodreadytimeout=1000000 --installer helm -m `
or single-user mode
`chectl server:start --platform minikube --k8spodreadytimeout=1000000 --installer helm`

[2020-03-30 07:03] sleshchenko commented on #16422
:tada:

[2020-03-30 07:20] tolusha commented on #16477
About the issue itself. To deploy Eclipse Che on k8s with tls mode using `che-operator` it is needed to follow the doc [1] (in step 4 use `--installer operator`)

[1] https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-kubernetes_setup-che-in-tls-mode

[2020-03-30 07:20] #16477 closed

[2020-03-30 07:23] #16252 closed

[2020-03-30 08:14] mmorhun commented on #16417
Just for case, posting my steps (which worked for me in my home network) here:

1. Setup dedicated server with local IP (real or virtual)

2. Install docker on it.

3. Install Openshift Origin on it (I used version 3.11, could be found [here](https://github.com/openshift/origin/releases/)). Actually the installation process is just unpacking of the archive and putting `oc` and `kubectl` binaries i

[2020-03-30 08:16] mmorhun commented on #16417
@ultrafab thank you for this issue and for being active in the resolution process!

I am changing the title as the problem doesn't related to TLS.

[2020-03-30 08:19] #16417 closed

[2020-03-30 08:33] skabashnyuk commented on #16400
Same on CRC.
<img width="1680" alt="Знімок екрана 2020-03-30 о 10 33 17" src="https://user-images.githubusercontent.com/1614429/77891855-e9f15680-7271-11ea-9562-bb27f620859d.png">

[2020-03-30 09:15] sunix opened #16487 "override `workdir` in devfile dockerimage component type"
### Is your enhancement related to a problem? Please describe.
Override or set `workdir` for a dockerimage. So when opening the terminal we jump into a custom folder like `/projects`

### Describe the solution you'd like
In the devfile, be able to have a `workdir` attribute:

[code]

[2020-03-30 09:59] l0rd commented on #15906
@skabashnyuk there is no official support / documentation for multi-cluster environment. If a user tries to use Che in a multi cluster scenario it will need to use some external tools to simulate the single host. hosted-che uses oso-proxy to simulate single cluster.

[2020-03-30 10:45] ibuziuk commented on #16291
list of PRs:
- https://github.com/openshiftio/saas-openshiftio/pull/1399
- https://github.com/openshiftio/saas-openshiftio/pull/1400
- https://github.com/openshiftio/saas-openshiftio/pull/1401

[2020-03-30 11:00] ibuziuk commented on #16483
@twolastnames could you update the issue description based on a template? What is the version of che are you using? What was the installation method / chectl command etc.

[2020-03-30 11:18] ibuziuk commented on #16485
there is a separate issue for plugin usage - https://github.com/eclipse/che/issues/16105
and there is a separate issue for custom devfile usage - https://github.com/redhat-developer/rh-che/issues/1804
are you ok to close this issue in favor of those two ?

[2020-03-30 11:28] vitaliy-guliy commented on #15277
Timings benchmarks of execution of Che and Theia (shell) commands on che.openshift.io

| **1. Theia task** | | |
|--|--|--|
|1st execution | getting workspace tasks, resolve task macroses          | 1.5 seconds |
|| launching task on the backend                                                            | 0.2 seconds |
|| **Appeparing the terminal in**

[2020-03-30 11:38] shahidhs-ibm commented on #16287
@l0rd We are looking for two main support from your side:
1. Adding links for s390x Jenkins builds to reflect the IBM Z support
2. Publishing the built docker images for s390x on `quay.io`.

For e.g. Tensorflow is one of the communities which supports IBM Z builds. Please refer to [link](https://github.com/tensorflow/tensorflow#community-supported-builds) for more details.

Please let us know your

[2020-03-30 12:38] ibuziuk commented on #16484
@mingfang could you please open a PR for that?

[2020-03-30 12:43] mmorhun commented on #16366
@ultrafab you still may add an exception via developer options in Google Chrome or just use Firefox.

[2020-03-30 12:51] #15920 closed

[2020-03-30 12:52] vparfonov commented on #16042
Repeat the same for workspace with Eclipse Che (after built) on **EBS storage** (gp2):
|   | restore  |  backup   |
| --- | --- | ---|
| **real**  |  **0m 42.04s** | **0m 47.64s** |
| user |   0m 5.67s |0m 5.51s|
| sys   |  0m 7.39s |0m 1.19s|

[2020-03-30 13:22] ericwill commented on #16184
This has been fixed.

[2020-03-30 13:22] #16184 closed

[2020-03-30 13:37] sleshchenko opened #16489 "[workspace-dev] Deny attaching to existing connected exec"
### Describe the bug
It's possible to get exec access with che-machine-exec for every authenticated user.
It's needed to deny attaching to existing connected exec.

We could use SubjectAccessReview from OpenShift OAuth Proxy but I've checked and kube:admin is still able to attach since it has exec rights for everything, Angel wonder if we could add validating webhooks for SAR as well to correctly

[2020-03-30 14:10] tolusha commented on #14725
@nickboldt
We don't need RC anymore, right?

[2020-03-30 14:59] #14725 closed

[2020-03-30 15:07] ultrafab commented on #16417
It's all correct!

Just a last insight, we (usually) don't need to modify DNS provided by the office DHCP server for two reasons: only the developers are using the Che/k8s domain and also we usually connect with a VPN client to the server, so we let the opevnp script to push the custom DNS. So we prefer to hack the single developers machines. Otherwise let the DHCP server provide also the custom D

[2020-03-30 15:09] ultrafab commented on #16366
Thanks, i'm using Firefox right now. But could you please provide the method to add the exception via developer tools in Chrome, cause i've looking but i'm unable to find. Thanks!

[2020-03-30 15:19] #15771 closed

[2020-03-30 15:23] sleshchenko opened #16490 "Adapt selenium tests for new workflow"
### Is your task related to a problem? Please describe.
Adapt selenium tests for new workflow:
![Screenshot_20200409_164931](https://user-images.githubusercontent.com/5887312/78902195-1f701e00-7a82-11ea-8d13-4488b33a0882.png)

The new workflow will be implemented withing https://github.com/eclipse/che/issues/15662

[2020-03-30 15:46] nickboldt commented on #14725
Correct -- with the new plan for Che 7.12 automated release (go directly to R, do not pass RC QE gate, do not collect $200) we don't need this.

But having a tool to generate PRs for community operatorhub via a single commit would be great.
Whatever information you need in that PR would be pushed to some file in the new che-release repo, in which we plan to have also the code to orchestrate the 9

[2020-03-30 15:56] sunix commented on #14510
Hello, first step, let's have the icons in the plugin registry like we do for devfile registry https://github.com/eclipse/che-devfile-registry/tree/master/images.
We will figure out later about a way to get that from the package.json.

[2020-03-30 18:08] CyborTronik opened #16491 "[helm] Che deployment fails with kubeadm v1.18.0"
Installed fresh version of `chectl` on Ubuntu 18.04.04 LTS with kubeadm v1.18.0

This is what I get:
[code]
The kubernates operates normally and I'm able to run necessary containers

[2020-03-30 18:46] skabashnyuk commented on #15906
ok. Does this also mean that Che SA privileges would be enough to start the workspace?

[2020-03-30 19:23] SockenSalat commented on #16439
@azatsarynnyy I tried it with the next version. Still the same problem. theia starts and is running, but somehow not reachable due to connection refused. I guess (no real Idea) this may be caused by the jwtproxy container, which responds with connection refused on it's ports.

So the error still logged by the che container is `Failed to start Kubernetes runtime of workspace workspaceq0mgfqzldxho96

[2020-03-30 20:14] SockenSalat commented on #16439
I tried to dig somewhat more into it, but since to say "my knowledge of che is limited" is at least a euphemism, I'm not sure where to look at what.

I checked for  services and found the following related to my workspace:

[code]

then I execed into the container and tried the diffent endpoints by service

`[ksoenksen@toshizo yars.test]$ kubectl exec -it -n che workspacesh9n48gcsw0jwrzb.che-works

[2020-03-30 20:16] amisevsk commented on #16458
Volume mounting happens when the pod is created (before image pulls) IIRC. That would be a *very* useful progress bullet point to include. Another pain point we might try to address down the line is route exposure time.

[2020-03-30 20:31] amisevsk commented on #14510
The blocker issue for this is in how these images are retrieved; unless we want to ensure relative links are supported everywhere a plugin icon might be displayed, https://github.com/eclipse/che/issues/15091 needs to be resolved before we throw icons into the registry.

[2020-03-30 20:36] l0rd commented on #15906
Yes that's the idea: Che SA should be granted edit privileges that allow objects creation/deletion

[2020-03-30 20:37] ericwill commented on #16366
In Chrome you can add the certificate under settings. Go to Settings -> Advanced -> Privacy and security -> Manage certificates. When the window pops up, navigate to the "Authorities" tab, and click import. Select the certificate file and check all three boxes when prompted. After this you should have no issue using Che in Chrome.

[2020-03-30 22:46] l0rd commented on #16287
Ok I see and I am +1 for that.

For 1. a link to the s390 build status badge in our repositories README files is what you are thinking about? In that case the simpler would be to directly open the corresponding PRs.

For 2. I think the simpler would be to create a quay.io bot if you don't have one yet and we grant the privileges to add push new images on our repos.

Do that sounds like a good plan

[2020-03-31 06:23] tolusha commented on #16491
Could you open `https://10.0.0.14:6443/healthz` in browser?

[2020-03-31 06:56] #16237 closed

[2020-03-31 07:29] #15013 closed

[2020-03-31 07:31] sleshchenko commented on #15013
@filipkroupa `2019/10/29 12:12:46 Expected runtime id to be in format 'workspace:env:ownerId'` should not happen anymore, if so - feel free to reopen this one.
Note I haven't tested the whole workflow with LDAP integration, so if there is another place which does not allow to start workspace because of `:` in the userID, feel free to register a new issue.

[2020-03-31 07:38] sleshchenko commented on #16439
@SockenSalat it would be also useful if you try the same URL but add `?token=${MACHINE_TOKEN}`. you could fetch this token from Che API - `get workspace by key` by pasting id there, id could be fetched from `get available workspaces`, ${CHE_HOST}/swagger` is a convenient way to use Che API directly

[2020-03-31 07:51] sleshchenko commented on #15772
@ChristianSchenk711 Thanks for the detailed info provided. And sorry for a bit late fix https://github.com/eclipse/che/pull/16332

[2020-03-31 07:51] #15772 closed

[2020-03-31 07:56] sleshchenko commented on #16040
Will be done in the scope of https://github.com/eclipse/che/issues/15662 after implementing new workflow described there

[2020-03-31 07:56] #16040 closed

[2020-03-31 07:57] akurinnoy commented on #15998
Fixed in https://github.com/eclipse/che-dashboard/pull/7

[2020-03-31 07:57] #15998 closed

[2020-03-31 07:59] sleshchenko commented on #15805
`workspace-loader` just displays logs published by `wsmaster` as runtime logs, so adding wsmaster area as well.

[2020-03-31 08:03] tsmaeder commented on #15277
@vitaliy-guliy all these measurements seem very long in comparison to running just plain Theia on my laptop. Do you think it's just the lower-powered environment compared to a laptop or some overhead introduced by OpenShift/Kubernetes/Storage?

[2020-03-31 08:21] mshaposhnik commented on #15122
So there might be not very user-friendly message when volume defined in devfile matches any of the volumes defined in K8S/OS recipe (see below). So we cah either break workspace startup with more meaningful message, or just merge equal volumes to avoid messages at all. @metlos @l0rd WDYT?
![volume_duplicate](https://user-images.githubusercontent.com/1651062/78003697-c1d12880-7341-11ea-9d6b-f7b4c32

[2020-03-31 09:38] vitaliy-guliy commented on #15277
That local Theia works fast enough could be because your laptop is quite powerful. But I think it's mostly because everything's running locally. In this case, there is no delay that network adds.
And yes, OpenShift/Kubernetes affects on the task running, but we need to investigate how we can test it.

[2020-03-31 09:48] #16482 closed

[2020-03-31 09:52] dmytro-ndp commented on #15585
The tests should be more flexible and not stick to certain provider name [like here](https://github.com/eclipse/che/blob/master/tests/e2e/pageobjects/openshift/OcpLoginPage.ts#L48), and work against OCP
1) with identity provider with title differ from `htpasswd`;
2) without page with list of identity providers at all.

[2020-03-31 10:04] SkorikSergey commented on #15585
I will update OcpLoginPage page object to use TS_OCP_LOGIN_PAGE_PROVIDER_TITLE property instead of "htpasswd".
Identity providers list is checked in RegularUserOcpCheLoginPage page object - https://github.com/eclipse/che/blob/4abe4c9d53a7af810998634edbd59a733f7e4dd5/tests/e2e/pageobjects/login/RegularUserOcpCheLoginPage.ts#L29

[2020-03-31 10:30] vitaliy-guliy commented on #14510
@sunix why not to point on the image on plugin repository on GitHub?
Something like this
https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/ms-kubernetes-tools/vscode-kubernetes-tools/1.0.9/meta.yaml#L9

For each plugin we specify its source repository, which almost always contains the plugin logo.

[2020-03-31 10:32] sparkoo commented on #16255
Done. If the videos will be publicly available, I'll try to update it here.

[2020-03-31 10:32] #16255 closed

[2020-03-31 10:34] #16254 closed

[2020-03-31 10:43] sleshchenko commented on #12925
Let's be honest, P1 issue can't be untouched for 1 year.

[2020-03-31 10:45] sleshchenko commented on #15661
The functionality will be a part of Create Custom page implemented in https://github.com/eclipse/che/issues/15662

[2020-03-31 10:45] #15661 closed

[2020-03-31 10:48] vparfonov commented on #16042
Demo video here: https://youtu.be/MrUnsB_D0Rw

[2020-03-31 10:48] #16042 closed

[2020-03-31 10:51] ibuziuk commented on #16291
Done. Closing

[2020-03-31 10:51] #16291 closed

[2020-03-31 10:51] ibuziuk commented on #16240
Done. Closing

[2020-03-31 10:51] #16240 closed

[2020-03-31 10:52] sleshchenko commented on #15605
It does not seem to be actual https://github.com/eclipse/che-dashboard/security/advisories
@olexii4 feel free to reopen if you think it's still actual

[2020-03-31 10:52] #15605 closed

[2020-03-31 11:10] sleshchenko opened #16494 "[devworkspace] Finalize Workspace Reconcile loop rework"
### Is your enhancement related to a problem? Please describe.
We have [POC for a redesign](https://github.com/amisevsk/che-workspace-operator-rework) of the [Che workspace operator](https://github.com/che-incubator/che-workspace-operator). The main goals there are:

1. Improve the main reconcile loop to delegate time-consuming steps to subcontrollers
2. Establish a clearer separation of concerns

[2020-03-31 11:11] sleshchenko commented on #15786
It should be already addressed in https://github.com/amisevsk/che-workspace-operator-rework and the changes will be delivered to the main repo in the scope of https://github.com/eclipse/che/issues/16494

[2020-03-31 11:11] #15786 closed

[2020-03-31 11:42] olexii4 commented on #14168
@sleshchenko I confirm. We have the new Monaco editor now instead of the CodeMirror. I can't reproduce this bug.

[2020-03-31 12:22] SockenSalat commented on #16439
@sleshchenko  I tried the following:

`curl -k https://che-che.test.yars.lemarit.com/_app/loader.html?redirectUrl=http%3A%2F%2Flocalhost%3A4400%2F&workspaceId=workspacesh9n48gcsw0jwrzb&token=eyJhbGciOiJSUzI1NiIsImtpbmQiOiJtYWNoaW5lX3Rva2V
uIiwia2lkIjoid29ya3NwYWNlc2g5bjQ4Z2NzdzBqd3J6YiJ9`

which produces

[code]

In a browser the already known `Error: Workspace doesn't have a server which matches

[2020-03-31 13:10] vitaliy-guliy commented on #16413
@ibuziuk yes, I will take a look and fix the build command if it's necessary.

[2020-03-31 13:26] sleshchenko opened #16496 "[devworkspace] Route host must not be longer than 63 characters"
### Describe the bug
Unable to open cloud-shell in che-workspace-controller namespace.
![Screenshot_20200331_161758](https://user-images.githubusercontent.com/5887312/78031426-3620c180-736c-11ea-9342-c7581c966d2b.png)

I believe this is quite a self-describing issue and no more info is needed to start fixing it.

[2020-03-31 14:06] mmorhun commented on #16366
@ultrafab there are two ways:
- Run Google Chrome with `--ignore-certificate-errors` flag (close all Chrome windows before). This is good to try it  out, but is not suitable for everyday usage.
 - Use sort of cheat code. When you see that error page in Chrome without proceed link, just type `thisisunsafe` or `badidea`. You will not see any changes on UI until the sequence finished. Then it will tr

[2020-03-31 14:51] #15585 closed

[2020-03-31 14:54] sleshchenko commented on #16496
The workaround is merged in https://github.com/che-incubator/che-workspace-operator/pull/34
The proper solution will bed merge along with Reconcile Loop refactoring which should be finalized in the scope of https://github.com/eclipse/che/issues/16494

[2020-03-31 14:54] #16496 closed

[2020-03-31 15:12] nickboldt opened #16499 "Automate Che Release Process"
### Is your enhancement related to a problem? Please describe.

Starting with Che 7.12, we plan to release all the pieces of a Che release via a single script/job.

### Describe the solution you'd like

on push of an updated VERSION file to the release branch of https://github.com/eclipse/che-release, a cico job will be triggered on CentOS CI.

This job will release all the pieces of Che currently

[2020-03-31 15:16] #16229 closed

[2020-03-31 15:20] nickboldt opened #16500 "Script generation of che-operator PRs for operatorhub"
### Is your task related to a problem? Please describe.

To be able to generate PRs as part of the [Che release](https://github.com/eclipse/che/issues/16499), we need a script that can do them (using `hub pull-request`, probably.

[2020-03-31 15:26] nickboldt opened #16501 "Verify that plugin images referenced in the plugin registry actually exist in Quay"
### Is your enhancement related to a problem? Please describe.

### Describe the solution you'd like

we should have better tests in the plugin registry publishing process (and its build too!) to validate that when we add a new plugin 7.9.2 or 7.11.0 for machine-exec and che-theia that the plugins **actually exist in quay**

This probably requires nothing more than a quick skopeo check:

[code]
If

[2020-03-31 16:09] mshaposhnik commented on #15122
So as for me, adding volume into devfile is an easy way to add volume into all containers without editing original recipe (when it's big or inaccessible for edit), so it looks logical just to add volume into all containers which did not containing it, and simply ignoring the ones which are already do contain.

[2020-03-31 16:21] sunix opened #16502 "Java code snippets 'try_catch' and 'main' are not working"
### Describe the bug

In Java files, the code snippet (to generate try catch block) `try_catch` is not working

### Che version

 - [x] latest

### Steps to reproduce
1. Start a Java workspace with a Java project (any of the getting started)
2. Open a Java file
3. type `try` and `Ctrl+space` inside a method

### Expected behavior
Expected to have the `try_catch` like in VSCode:
![Selection_694](ht

[2020-03-31 16:31] sonntag-dev opened #16503 "Question: "No JWT found" for tomcat service in workspace"
Hi,

I have a multi user Eclipse Che environment. In this environment only the user of a specific workspace should have access to the tomcat service within the workspace.
For example, as long as the service in my workspace is accessible by url everybody that knows this url has access to this service, too. (If she or he has access to the server/cluster where my eclipse che is running)
Therefore I w

[2020-03-31 17:13] skabashnyuk commented on #16503
@sonntag-dev thanks for reporting this issue.  Can you share devfile to test this?

[2020-03-31 19:35] triceam opened #16504 "Callback mechanism when a new workspace is created via the API"
I can create a new Che workspace by passing a devfile to the Che instance as described here:
https://redhat-developer.github.io/devfile/#getting-started

For example:
[code]

However, it doesn't appear that there is a mechanism to let an external system know that the workspace was created.   Imagine that I have an application that manages applications and services, and I want to generate a devfile

[2020-04-01 02:05] twolastnames commented on #16483
Sorry I haven't answered.  The distribution install stopped booting.  The only thing I had installed on there was this, so I wiped it clean.

[2020-04-01 05:58] hari1992-web commented on #12366
i am also facing same issue by using through yaml files , any solution please

[2020-04-01 05:59] hari1992-web commented on #12366
Error: Failed to start the workspace: "Failure executing: POST at: https://10.96.0.1/api/v1/namespaces. Message: Forbidden!Configured service account doesn't have access. Service account may have been revoked. namespaces is forbidden: User "system:serviceaccount:default:che" cannot create resource "namespaces" in API group "" at the cluster scope. The error may be caused by an expired token or cha

[2020-04-01 06:06] skabashnyuk commented on #16504
Such a mechanism already exists. It's Json-RPC over webscocket. Soon we are going to publish training video that explains more about this topic https://github.com/eclipse/che/issues/16255
At this moment you can take a look at the dashboard and see how it reacts to different events(started/stopped) related to the workspace. All of them are made over Json-RPC

[2020-04-01 06:18] skabashnyuk commented on #12366
related to https://github.com/eclipse/che/issues/15946
CC @ibuziuk

[2020-04-01 07:37] sleshchenko commented on #16503
@sonntag-dev After you added `secure: true` - the token must be sent for each request, so it's expected. Che contains an automated mechanism for such token to be sent, it's `cookiesAuthEnabled` server's attribute. See https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/eclipse/che-theia/7.11.0/meta.yaml#L22
But note that after that you might think about CSRF(Cross-Site Request Fo

[2020-04-01 07:42] #8328 closed

[2020-04-01 07:42] #8628 closed

[2020-04-01 07:42] #8645 closed

[2020-04-01 07:42] #10248 closed

[2020-04-01 07:42] #10462 closed

[2020-04-01 07:42] #10638 closed

[2020-04-01 07:42] #11639 closed

[2020-04-01 07:42] #11735 closed

[2020-04-01 07:42] #11856 closed

[2020-04-01 07:42] #11869 closed

[2020-04-01 07:42] #12100 closed

[2020-04-01 07:42] #12782 closed

[2020-04-01 07:42] #12979 closed

[2020-04-01 07:42] #13239 closed

[2020-04-01 07:42] #13268 closed

[2020-04-01 07:42] #13601 closed

[2020-04-01 07:42] #13967 closed

[2020-04-01 07:42] #14091 closed

[2020-04-01 07:42] #14236 closed

[2020-04-01 07:42] #14258 closed

[2020-04-01 07:42] #14263 closed

[2020-04-01 07:42] #14286 closed

[2020-04-01 07:42] #14316 closed

[2020-04-01 07:42] #14385 closed

[2020-04-01 07:42] #14393 closed

[2020-04-01 07:42] #14423 closed

[2020-04-01 07:42] #14545 closed

[2020-04-01 07:42] #14550 closed

[2020-04-01 07:42] #14598 closed

[2020-04-01 07:42] #14603 closed

[2020-04-01 07:42] #14674 closed

[2020-04-01 07:43] apupier commented on #14043
/remove-lifecycle stale

[2020-04-01 07:43] sleshchenko commented on #16439
The described behavior is expected - the redirect URL must contain a workspace's server, and localhost:4000 is not such, could you try to redo the same but with theia-ide server URL, again you can get it via swagger UI while your workspace is starting.

P.S. Sorry for asking actions without actual help. At this stage, I don't see what's wrong and probably the result of the requested actions will s

[2020-04-01 07:44] apupier commented on #13965
/remove-lifecycle stale

[2020-04-01 07:50] adriendelsalle commented on #16483
@ibuziuk @twolastnames

I think I encounter a similar issue:

Fixed by adding the certificate in my browser as asked during Che start. Only working with Firefox, Chrome throws me the following error (translated from french):

The private key of this certificate is missing or incorrect

![image](https://user-images.githubusercontent.com/27348745/78110470-4df35680-73fb-11ea-89d3-a90e89650cd0.png)

T

[2020-04-01 07:51] sleshchenko commented on #14591
@makandre Seems this issue is not actual anymore, see https://youtu.be/Ce3pXZ4cOTw Feel free to reopen if it still does not work for you.
@akurinnoy Could you confirm that you used GitHub repo as a plugin registry?

[2020-04-01 07:51] #14591 closed

[2020-04-01 07:51] azatsarynnyy commented on #15763
The current status:
- The patch has been proposed and merged upstream https://github.com/eclipse-theia/theia/pull/7216
- It turned out that the provided patch causes the issue with input field https://github.com/eclipse-theia/theia/issues/7232
- The patch was reverted https://github.com/eclipse-theia/theia/pull/7233 to fix the input
- The upstream issue has been opened https://github.com/eclipse-t

[2020-04-01 07:51] #14168 closed

[2020-04-01 07:52] sleshchenko commented on #14168
@bryantson Feel free to reopen or create a new issue if it still does not work for you on newer Che

[2020-04-01 07:52] adriendelsalle commented on #16410
Maybe related to https://github.com/eclipse/che/issues/16483#issuecomment-607091646 ?

[2020-04-01 07:53] akurinnoy commented on #14591
@sleshchenko yes, that's correct

[2020-04-01 08:19] tsmaeder commented on #16502
FWIW, this works in Theia master with the latest built-ins.

[2020-04-01 08:32] tsmaeder commented on #13971
/remove-lifecycle stale

[2020-04-01 08:43] sleshchenko commented on #16218
Seems, it's actual again =(

[2020-04-01 09:06] skabashnyuk commented on #16502
@sunix can you test?

[2020-04-01 09:11] sunix commented on #16502
is Theia using the Red Hat Java vscode ext ?

[2020-04-01 09:11] hari1992-web commented on #12366
Its not helpful

[2020-04-01 09:28] sunix commented on #16502
No I don't have Theia installed locally. I let the assignee test with Theia if it is needed.

[2020-04-01 09:32] skabashnyuk commented on #12366
@hari1992-web this issue is might be related to https://github.com/eclipse/che/issues/15946 It's worth to check it again when https://github.com/eclipse/che/issues/15946 would be closed.

[2020-04-01 09:41] rhopp commented on #14663
Needed for dogfooding of Che for developing e2e tests.

[2020-04-01 09:55] sleshchenko opened #16506 "F1 is not handled as Find a command action when focus is on Welcome Page"
### Describe the bug
F1 is not handled as `Find a command` action when focus is on Welcome Page.
The fact

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] 7.10.0

### Steps to reproduce
1. Create and start new Theia based workspace.
2. Click on a welcome page
3. Click F1 once workspace is started and Theia is loaded.

### Expected behavior
Find a command widget is opened

### Expected behavio

[2020-04-01 09:59] benoitf commented on #16506
looks like a dup of https://github.com/eclipse/che/issues/15763

[2020-04-01 10:09] tolusha commented on #16371
@nickboldt
I am wondering where I can get the latest value for `IMAGE_default_pvc_jobs` ?

[2020-04-01 10:17] tolusha commented on #16483
It is probably this issue. We are working on it right now
https://github.com/eclipse/che/issues/16366

[2020-04-01 10:20] IveJ commented on #16502
Hi David,

Plz check che doc for specific details and try to upgrade as appropriately
or built your own custom image if necessary.

On Wed, Apr 1, 2020, 16:28 Sun Seng David TAN <notifications@github.com>
wrote:

[2020-04-01 10:27] shahidhs-ibm commented on #16287
Sounds like a good plan to me.

For 1. We will create a PR to update README files to display s390x build status batch.
For 2. We will create a bot user with an account on Quay.io and will share its details with you (for granting the repository write access).

[2020-04-01 10:27] RomanNikitenko opened #16507 "Failed to get the workspace: Unauthorized"
### Describe the bug
I get the error `Failed to get the workspace: Unauthorized` each time I create a new workspace
The issue is fixed by refreshing a page

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. `minikube start --driver=kvm2 --memory=16384 --cpus=4`
2. `chectl server:start --self-signed-cert --installer=operator --platform=minikube`
3

[2020-04-01 10:52] azatsarynnyy commented on #16506
closing it as a dup of https://github.com/eclipse/che/issues/15763 since 15763 is more general one

[2020-04-01 10:52] #16506 closed

[2020-04-01 11:09] vkuznyetsov opened #16508 "QE-2020-04-21 (Sprint: 182)"
### Sprint goals

### Issues tied to objectives

### Unplanned
- [x] [TS_SELENIUM] Unexpected url after using the "PreviewWidget.typeAndApplyUrl" method #16581 1sp

### PR under review

#### Availability

| Name | Available |
| --- | :-: |
| Aleksandr Shmaraiev | 15 |
| Maxim Musienko | 15 |
| Dmytro Nochevnov | 15 |
| Igor Ohrimenko | 15 |
| Sergey Skorik | 15 |
|Radim Hopp | 5 |
| Total |  |

##

[2020-04-01 11:10] mmorhun commented on #16366
The problem is in wrong `keyUsage` values in the end certificate.

Here is the correct steps to generate self-signed certificate (change `DOMAIN` and `OPENSSL_CNF` according to your needs):

[code]

[2020-04-01 11:11] #16310 closed

[2020-04-01 11:24] adriendelsalle commented on #16483
Thanks @tolusha !
Any hint for the second part of this issue (che-plugin-broker failing to start)?

[2020-04-01 11:59] ibuziuk commented on #16218
Hosted Che specific PR with a workaround for `7.10.0` https://github.com/redhat-developer/rh-che/pull/1849

[2020-04-01 12:01] ericwill commented on #16258
Yes, this is a priority for 7.12.

[2020-04-01 12:03] #16418 closed

[2020-04-01 12:08] vitaliy-guliy commented on #16452
It's not right the Plugins view, it's old one.
We just need to remove it from the list in `Open View...`

[2020-04-01 12:45] MatthiasPopp commented on #16410
I got the same error message right now.
This might be a really dumb to ask but the following solved it for me:
Did you add the certificate produced by the chectl command?
The installer clearly states that you have to do that manually.
If I open the URL of the che server without adding the certificat beforehand, I get the issue. After adding the URL everything works, even if I delete the certificat

[2020-04-01 12:50] Katka92 opened #16509 "Create tests for workspace creation via factory URL"
### Is your task related to a problem? Please describe.
Create a test for workspace creation that will use the factory URL. It does not matter about the workspace, so the simple workspace should be used.

the simplest devfile:
[code]

### Describe the solution you'd like
1. Stabilize the test flow which uses workspace creation via the factory.
2. Create a test using that on Hosted Che side.
3. Cre

[2020-04-01 12:57] Katka92 opened #16510 "Clean up old code from hosted che tests"
### Is your task related to a problem? Please describe.
We needed to add some workaround for previous versions to make upstream typescript tests compatible with hosted che tests. Go through the code on the hosted che side and remove code that is not needed anymore.

### Describe the solution you'd like
Unused code should be removed from the hosted che side.

[2020-04-01 13:09] Katka92 opened #16511 "Test idling on a hosted Che"
### Is your task related to a problem? Please describe.
Test that workspace is idling correctly on a hosted Che.
This test should be part of pre-release testing, not a periodic test suite.

### Describe the solution you'd like
Create a workspace and check that after the exact time period, the workspace is switched to offline.
There are two possible solutions:
1. Create a workspace and check its st

[2020-04-01 13:15] nickboldt commented on #14725
From @tolusha :+1:

[2020-04-01 13:39] #16374 closed

[2020-04-01 13:42] ibuziuk commented on #15957
@benoitf in user namespace = in the namespace where workspace are created, right?

[2020-04-01 13:56] benoitf commented on #15957
@ibuziuk yes

[2020-04-01 13:58] sonntag-dev commented on #16503
I used Che version 7.8.
After I added the cookiesAuthEnabled server attribute my devfile looks like this:

[code]

I changed my Che configMap to:

[code]
FQDN is the domain where my che host service is running.

But I still get the message that the access to XMLHttpRequest  has been blocked by CORS policy, because no 'Access-Control-Allow-Origin' header is present on the requested resource.

Is th

[2020-04-01 14:03] tetchel commented on #14286
this was not safe to close! :(

[2020-04-01 14:28] skabashnyuk commented on #16503
CHE_CORS_ALLOWED__ORIGINS: "http://<fqdn>"
  CHE_CORS_ENABLED: "true"

I would not recommend enabling CORS for production use at all.

Can you specify:
- from what application it comes from.
- The application is doing a request to wich endpoint.
Ideally, can you show Chrome dev console error?

can you use https://tomcat.apache.org/tomcat-8.5-doc/realm-howto.html#UserDatabaseRealm to authorize user

[2020-04-01 14:34] tolusha commented on #16221
@amisevsk
Could you me point to the doc? I am interested in reusing prepulled images from local machine.

[2020-04-01 14:39] vparfonov opened #16512 "Restart workspace fail (OpenShift Dedicated, minishift)"
### Describe the bug
Got error message during restarting early created workspaces. This reproduced not each time need to repeat restarting several times.

### Che version

 - [ ] latest
 - [X] nightly - 7.11.0-SNAPSHOT
 - [ ] other: please specify

### Steps to reproduce
1. Create workspace
2. Stop workspace
3. Try to restart it (probably need to repeat several times)

Got this error log:

[code]

[2020-04-01 14:43] ericwill opened #16513 "Plugins Sprint 182"
## Sprint goals
1. Continue to support our epics
    * OpenShift and GitHub integration
    * Supporting multiple plugin registries
    * Tasks in multi-root workspaces
    * Important CRW issues
    * Che dogfooding
2. Bugs
3. Maintenance / Automation / Technical Debt

### Blockers

### Epics
**Epic: OpenShift Connector for Eclipse Che #14900**
* [x] Openshift connector and Che: openshift user sh

[2020-04-01 14:43] #16336 closed

[2020-04-01 15:25] zeibura opened #16514 "[Doc] Update links on the Che4z extension page on the Che 7 docs"
The links to the CA Brightside documentation on https://www.eclipse.org/che/docs/che-7/eclipse-che4z/ need to be updated from version 2.0 to version 3.0

[2020-04-01 15:28] sleshchenko opened #16515 "[devworkspace] Configure OpenShift OAuth to get for cloud-shell user:full rights"
### Is your task related to a problem? Please describe.
Currently, for cloud-shell we use OAuth configure with Service Account:
https://github.com/che-incubator/che-workspace-operator/blob/master/pkg/controller/workspacerouting/openshift_oauth_proxy_solver.go#L183-L191

But in cloud-shell we need to get user's token with `user:full` scope.
According to [documentation OpenShift 3.x](https://docs.op

[2020-04-01 15:39] ultrafab commented on #16366
Confirmed. Working correctly with the info provided.

[2020-04-01 16:37] olexii4 opened #16516 "Monaco Editor works in the main thread instead of web-worker"
### Describe the bug

Monaco Editor works in the main thread instead of web-worker.  We can see the error:
[code]
It is reproduced locally on single-user and multi-user CHE v7.11.0  and on https://che.openshift.io v7.10.0 .

Preliminary analysis shows that we have to use editor.worker:
https://github.com/eclipse/che-dashboard/blob/98d3769ab123636dbf935a8e47eb7beecde9d228/src/monaco-env-setup.ts#L3

[2020-04-01 16:46] rhopp opened #16517 "Git clone using private key with password is not working"
### Describe the bug
When trying to clone git repository using `git@gitlab.com/something/something` using ssh key, which is protected by password, Che never asks me for a password and the clone fails with this error:
[code]

### Che version
che.openshift.io
 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
* Generate ssh keypair *with a password* (`ssh-keygen`)
* Up

[2020-04-01 17:11] ibuziuk commented on #16512
@vparfonov could you clarify how you deployed eclipse che on OSD?

[2020-04-01 17:13] olexii4 opened #16518 "Create a new Context Selector widget for UD"
### Is your task related to a problem? Please describe.

Create a new Context Selector widget for the "Getting Started" page(https://github.com/eclipse/che/issues/15662).

### Describe the solution you'd like

Implement the same functionality which we have for the react + patternfly sample https://www.patternfly.org/v4/documentation/react/components/contextselector#examples

[2020-04-01 17:21] ibuziuk commented on #16218
PR with prod update - https://github.com/openshiftio/saas-openshiftio/pull/1402

[2020-04-01 17:33] olexii4 opened #16519 "Theia Plugin Manager does not work properly with a minimal devfile"
### Describe the bug

Theia Plugin Manager does not work properly with a minimal devfile.
### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify
### Steps to reproduce
1. Create a custom workspace.
![Screenshot from 2020-03-31 16-49-28](https://user-images.githubusercontent.com/6310786/78167268-e23ed700-7456-11ea-9a20-20fa993c306a.png)
2. Import Devfile > YAML. Create & Open fr

[2020-04-01 17:58] ibuziuk commented on #16218
Closing. Fixed on production

[2020-04-01 17:58] #16218 closed

[2020-04-01 18:27] triceam commented on #16504
@skabashnyuk do you have to be authenticated to use the websocket?  The use case i'm envisioning is a backend that is unaware of the user state on Eclipse Che.  In this case, the system of origin passes of the devfile to Che, and may not necessarily have any knowledge whether a user is logged into Che.  I'm also imagining this as a multi-tenant service that would be handing off to Che as the IDE/e

[2020-04-01 19:32] nickboldt commented on #16478
@mkuznyetsov please provide update on RC status of the Che serer and related containers / maven artifacts

[2020-04-01 20:23] vitaliy-guliy commented on #16519
It seems I faced this problem earlier and investigated the code a bit. The reason could be that Plugin service (Che-Theia extension) tries to read the components, which is empty.
It should be one-line fix.

[2020-04-02 01:27] amisevsk opened #16520 "Investigate kube-rbac-proxy as an alternative for openshift-oauth proxy"
### Is your task related to a problem? Please describe.
Investigate whether https://github.com/brancz/kube-rbac-proxy is a useful alternative to the openshift oauth proxy currently used in the che-workspace-controller.

Current drawbacks of openshift-oauth proxy:
- Cloudshell specific:
    - We cannot obtain the user's full token when using the proxy with a service account; the user's token is nec

[2020-04-02 01:30] amisevsk commented on #15782
Created https://github.com/eclipse/che/issues/16520 as a subtask.

Current status:
- It looks like openshift-oauth proxy is insufficient for cloudshell, as we cannot get the user's full token
- We need to check kube-rbac-proxy and see if it improves the situation (see https://github.com/eclipse/che/issues/16520)
- There may be another way, suggested by @davidfestal, to get a user's token directly

[2020-04-02 02:32] amisevsk commented on #16221
@tolusha The docs contributed by @tomgeorge are [here](https://www.eclipse.org/che/docs/pages/che-7/overview/proc_installing-che-on-kind-using-chectl.html). I don't know if they're linked anywhere in the navigation for che docs -- I had a bit of trouble finding them via the search bar.

However, I did just briefly test it locally, and it's not as simple as I thought -- the kind cluster doesn't nat

[2020-04-02 04:20] tomgeorge commented on #16221
Those docs don't take into account the TLS changes, so you will need to add your TLS certs before running `chectl`.

For prepulling images you are probably looking for [`kind load docker-image`](https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster)

[2020-04-02 06:32] skabashnyuk commented on #15576
As @amisevsk said https://github.com/eclipse/che/issues/15576#issuecomment-571363032 this should be fixed. Let me know if it's not working for you

[2020-04-02 06:32] #15576 closed

[2020-04-02 06:37] skabashnyuk commented on #16504
yes.

[2020-04-02 06:44] azatsarynnyy opened #16521 "Editors Sprint 182"
Apr 1 - Apr 21

## Goals
1. Improve Tasks UX
2. Theia Plugin API
3. Dogfooding
4. Che Theia release automation
5. Theia upstream focus
6. Bugs

#### Improve Task UX
- [x] Adapt tasks to upstream changes (output isn't displayed for some tasks) https://github.com/eclipse/che/issues/16331
- [ ] Create a terminal widget immediately at running task https://github.com/eclipse-theia/theia/pull/7108 - Upd

[2020-04-02 06:55] azatsarynnyy opened #16522 "Create Che Devfile for Eclipse Theia"
### Is your task related to a problem? Please describe.

To work on Eclipse Theia in Che we need Che Devfile.

### Describe the solution you'd like

Che Devfile should describe all the required tools and commands. It should be placed in upstream repo.

### Describe alternatives you've considered

In case it's not possible to place it upstream, then place it in Che Theia repo.

### Additional conte

[2020-04-02 07:05] azatsarynnyy opened #16523 "Make Che Theia release script non-interactive"
### Is your task related to a problem? Please describe.

We need to make Che Theia [release script](https://github.com/eclipse/che-theia/blob/master/set_theia_version.sh) non-interactive to use it within the [automated Che release process](https://github.com/eclipse/che/issues/16499).

### Describe the solution you'd like

Che Theia [release script](https://github.com/eclipse/che-theia/blob/master

[2020-04-02 07:10] azatsarynnyy commented on #16499
added the link to https://github.com/eclipse/che/issues/16523

[2020-04-02 07:52] skabashnyuk commented on #15805
Closing. https://github.com/eclipse/che/issues/15805#issuecomment-578437319 information already exists. In case you need something different please reopen and change the scope/goal of this task .

[2020-04-02 07:52] #15805 closed

[2020-04-02 08:03] vinokurig commented on #16199
Depends on https://github.com/eclipse/che/pull/16488. It will bring the ability to use openshift oauth provider as a keycloack identity provider, similar to `--os-oauth` chectl option

[2020-04-02 08:16] akurinnoy opened #16524 "[UD] Create "select" element based on PatternFly4 styles"
### Is your task related to a problem? Please describe.

In order to redesign the "Custom Workspace" page ([issue](https://github.com/eclipse/che/issues/15662)) it's needed to add new "select" component with typeahead functionality based on PatternFly4 (https://www.patternfly.org/v4/documentation/react/components/select#typeahead)

*Screenshot of the component from proposed design*:

<img width="3

[2020-04-02 08:18] #16299 closed

[2020-04-02 08:30] #16284 closed

[2020-04-02 08:35] sleshchenko commented on #16518
duplicates https://github.com/eclipse/che/issues/16524

[2020-04-02 08:35] #16518 closed

[2020-04-02 09:09] vparfonov commented on #16512
here script that I used for deploy https://gist.github.com/vparfonov/dcdd1c4ec30604d9b957737cebffb4bb

[2020-04-02 09:37] sleshchenko commented on #14844
It seems to be fixed now https://github.com/eclipse/che-devfile-registry/tree/master/images

[2020-04-02 09:37] #14844 closed

[2020-04-02 10:09] sleshchenko commented on #16503
@sonntag-dev Also could you try to use `/` as path. We have known issue that che-jwtproxy  + wsloader does not work correctly with non-root path https://github.com/eclipse/che/issues/15867

[2020-04-02 12:18] #16312 closed

[2020-04-02 12:22] sleshchenko commented on #16507
@RomanNikitenko Could you provide browser logs as well if there are any errors?

[2020-04-02 12:38] MichalMaler commented on #16113
But the error highlighting isn't working yet. (Info from Tibor Dancs)

[2020-04-02 13:52] vparfonov commented on #16512
Reproduced on multi-user installation with  original old fashion `deploy_che.sh` script.
Steps to reproduce:
1. checkout to commit before removing deploy_che.sh script ([PR](https://github.com/eclipse/che/pull/16376)):
`git checkout 59f9e41be62586c174d10da0485e3ba66588ef33`
2. `cd deploy/openshift`
3. `./deploy_che.sh --mutliuser`
4. Update `DeploymentConfig` to allow start more than one workspace

[2020-04-02 13:58] ibuziuk commented on #16512
@ericwill any ideas? looks like an issue with ssh plugin cc: @vinokurig

[2020-04-02 14:11] mkuznyetsov commented on #16478
RC images have been built and ready for prerelease testing @dmytro-ndp
https://ci.centos.org/job/devtools-che-che-release-candidate/12/

[2020-04-02 14:57] sleshchenko opened #16530 "[devworkspace] Make PVC optional depending on the Devfile"
### Is your task related to a problem? Please describe.
Currently, DevWorkspace Controller always applies prerequisites during workspace start even if they are not needed, like in the case of CloudShell:
- It does not need PVC since projects sources should not be mount
  Note: it's pretty easy to determine if PVCs are required after every component is processed. But some refactoring may be needed

[2020-04-02 15:24] sleshchenko opened #16531 "[devworkspace] Make Service Account, Role, Role Bindings prerequisites optional"
### Is your task related to a problem? Please describe.
Currently, workspace controller create hard-coded SA, Role and RoleBindings(list pods, create exec, view-workspace) but this list is not universal and depends on the components used in the workspace:
- CloudShell with basic routing (with webhooks disabled) needs list pods, create exec;
- CloudShell with OpenShiftOAuth routing needs nothing fr

[2020-04-02 15:46] tomgeorge commented on #16221
Sorry if the kind docs were not easy to find.  They are in the quick start section, among a bunch of other methods, so it is easy to miss.

[2020-04-02 16:05] amisevsk opened #16533 "Che docs "in this article" section cannot be scrolled"
### Describe the bug
Some of our articles in the Che docs are quite long, with many sections. It's possible for the "in this article" section to become longer than the window, in which case the bottom headers are inaccessible:

Note on the highlighting the current header `in this article` section
![che-docs-sidebar-scroll](https://user-images.githubusercontent.com/16168279/78271474-2f17c180-74da-1

[2020-04-02 16:28] tomgeorge commented on #16321
does this include transitive dependencies or just the first level dependencies?

[2020-04-02 17:13] RomanNikitenko commented on #16507
@sleshchenko
Sorry for the delay: I can not provide you **browser** logs at the moment because faced with another issue can not start my assembly at all :-)

I guess the following logs are related to `deploy` process and are not relevant to `dashboard`...

<details>
<summary>Logs</summary>

[code]

</details>

[2020-04-02 17:40] dmytro-ndp commented on #16478
Pre-release testing Jenkins jobs have been started on https://ci.centos.org and CRW CCI.
We are expecting test results in few hours.

[2020-04-02 20:11] dmytro-ndp opened #16534 "'rolebindings.authorization.openshift.io "exec" not found' error when start workspace with OS credentials on minishift"
### Describe the bug
OS OAuth E2E selenium tests had started failing on nightly Jenkins jobs from the next build
https://ci.centos.org/view/Devtools/job/devtools-che-nightly-oauth-test/47/console

Eclipse Che had deployed successfully, but then it was impossible to start workspace with OS credentials:
![org eclipse che selenium site ocpoauth LoginNewUserWithOpenShiftOAuthTest checkNewCheUserOcpPro

[2020-04-02 21:17] dmytro-ndp commented on #16478
Current result against Multiuser Eclipse Che 7.11.0.RC, which includes:
* quay.io/eclipse/che-server:rc
* quay.io/eclipse/che-keycloak:rc
* quay.io/eclipse/che-theia:7.11.0
* quay.io/eclipse/che-theia-endpoint-runtime-binary:7.11.0
* quay.io/eclipse/che-devfile-registry:7.11.0
* quay.io/eclipse/che-plugin-registry:7.11.0
* quay.io/eclipse/che-plugin-artifacts-broker:v3.1.1
* [chectl:next](https://

[2020-04-03 06:16] #8542 closed

[2020-04-03 06:42] sleshchenko commented on #16517
Reproduced with `Git: Clone` action as well.
![Screenshot_20200403_093902](https://user-images.githubusercontent.com/5887312/78331671-33ea7d00-758f-11ea-9936-78a5e728292a.png)
As a workaround, it's possible to clone project manually from terminal:
![Screenshot_20200403_093953](https://user-images.githubusercontent.com/5887312/78331683-39e05e00-758f-11ea-95ad-140de274863b.png)

putting p1 since it'

[2020-04-03 07:07] vinokurig commented on #16512
Looks like it is related to https://github.com/eclipse/che/pull/14950, @vzhukovskii any ideas?

[2020-04-03 07:22] vzhukovskii commented on #16512
Will take a look asap

[2020-04-03 07:54] sleshchenko opened #16535 "Update instruction on how to deploy Che with self-signed cert"
### Is your task related to a problem? Please describe.
It seems that instruction on how to deploy Che with self-signed cert should be updated:
1. First of all installer Helm does not require secrets to be created since it's generated by chectl.
2. When you deploy with Operator on Kubernetes, chectl fails with a preflight check -
[code]
from https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-

[2020-04-03 08:02] mmorhun commented on #16535
The issue with installer flag is fixed in https://github.com/eclipse/che-docs/pull/1175

[2020-04-03 08:12] mmorhun commented on #14404
Added extended description into `chectl` help and readme.

[2020-04-03 08:12] #14404 closed

[2020-04-03 08:22] vparfonov commented on #16512
I reproduced it on `minishift`

[2020-04-03 08:30] sleshchenko commented on #16535
@mmorhun the first item in the addressed in the referenced PR
I faced the second issue because of outdated chectl version

[2020-04-03 08:30] #16535 closed

[2020-04-03 09:09] vzhukovskii commented on #16512
As far as I understand, changes related to storing private keys in secrets should not broke the flow of starting two dedicated workspaces. What situation with the only one workspace, does it starts successfully?

[2020-04-03 09:28] sonntag-dev commented on #16503
This is the console error:

![image](https://user-images.githubusercontent.com/60471467/78341228-a1021080-7597-11ea-8bf7-e6d602c29ea3.png)

I changed the Che configMap to:

[code]
and redeploy the Che deployment. But I still got the CORS error.

Then I ran Chrome with disabled CORS and got this console error:

![image](https://user-images.githubusercontent.com/60471467/78342952-677ed480-759a-11ea-

[2020-04-03 09:44] vinokurig commented on #16512
Looks like single workspace starts successfully

[2020-04-03 09:45] vzhukovskii commented on #16512
I suppose, then, it shouldn't be related to #14950

[2020-04-03 09:57] skabashnyuk commented on #16512
More logs.
[code]
Might be related to
https://github.com/fabric8io/kubernetes-client/issues/1775
https://github.com/fabric8io/kubernetes-client/issues/1840
See also
https://github.com/strimzi/strimzi-kafka-operator/issues/2223

[2020-04-03 09:58] vinokurig commented on #16512
It is not related to the SSH plugin as well, because the plugin hadn't been initialised before the error.

[2020-04-03 09:59] ibuziuk commented on #16512
@skabashnyuk so this is likely related to the k8s client lib update right?

[2020-04-03 10:00] skabashnyuk commented on #16512
I don't know yet.

[2020-04-03 10:03] mmorhun opened #16537 "Dashboard and Workspace loader fail to connect via websocket if user uses a proxy server from Firefox browser"
### Describe the bug
If a user works behind a proxy it is impossible to open start /open workspace via dashbaord / UI

### Che version
nightly, multiuser

### Steps to reproduce

1. Connect to a proxy server from your browser
2. Open Che dashboard
3. Try to create and open or just open existing workspace
4. After some delay, workspace loader shows error: `Unknown error has happened, try to reload

[2020-04-03 10:04] dmytro-ndp commented on #16478
There is possible blocker we should try to reproduce in Eclipse Che 7.11.0.RC: https://github.com/eclipse/che/issues/16512

[2020-04-03 10:07] mmorhun commented on #16429
@eder-santos have you succeeded with any of the installation methods?

[2020-04-03 10:14] tolusha commented on #16512
Deploy script is deprecated and removed.
Any issues caused by that script make no sense.

[2020-04-03 10:21] vitaliy-guliy opened #16538 "Create Che plugin providing a dev container with `buildah` tool to build docker images"
### Is your enhancement related to a problem? Please describe.

To develop many projects inside Che we need to be able to build the image inside a running container.

Buildah is a tool, which can be launched inside a running container and which can be used for building if images and pushing them to [docker.io](https://www.docker.com/) / [quay.io](https://quay.io/).

### Describe the solution you'd

[2020-04-03 10:24] ibuziuk commented on #16512
@tolusha the custom script was used for OSD deployment (there is no way to deploy on OSD any other way atm)
@vparfonov have you reproduced the issue on minishift via `chectl` ?

for the record, it looks like I can not reproduce on Hosted Che against 7.11 Snapshot https://github.com/redhat-developer/rh-che/pull/1828

[2020-04-03 10:36] vparfonov commented on #16512
@tolusha @ibuziuk yes have reproduced it with `chectl` and `minishift`

[2020-04-03 10:37] vitaliy-guliy opened #16539 "Investigate whether is possible to use `buildkit` tool to build docker images inside a running container"
### Is your enhancement related to a problem? Please describe.

We already can build docker images inside a running container using buildah.
Buildit is alternative tool to build the images. We need to try to use use it for building of images.

Need to find a solution to use it in local and hosted Che.

### Describe the solution you'd like

- try to build the simplest image with buildkit
- try to r

[2020-04-03 10:59] filipkroupa commented on #15013
Will test this in LDAP environment as soon as che-plugin-metadata-broker version is bumped to 3.1.2 in che-operator.

[2020-04-03 11:11] ibuziuk commented on #16321
ideally would be great to find a tool for checking the whole tree but first level dependencies should be fine as part of this task.

I quickly tried  [go-licenses](https://github.com/google/go-licenses) and [glice](https://github.com/ribice/glice) but none of them did the job for me e.g.
[code]

[2020-04-03 11:27] tolusha commented on #16423
https://github.com/che-incubator/chectl/pull/620

[2020-04-03 12:16] tolusha commented on #16534
[code]

[2020-04-03 12:18] tolusha commented on #16534
/cc @sleshchenko

[2020-04-03 12:22] skabashnyuk commented on #16534
Might be related to incorrect method renaming during k8s client upgrade.
[code]
to

[code]
instead
of
[code]

[2020-04-03 12:23] skabashnyuk commented on #16534
See more https://github.com/fabric8io/kubernetes-client/pull/1300

[2020-04-03 12:42] skabashnyuk commented on #16503
Did you see the preflight request in the console? What was the response?

[2020-04-03 12:45] mmorhun commented on #16277
Done

[2020-04-03 12:45] #16277 closed

[2020-04-03 12:47] mmorhun commented on #16366
Instructions in Che docs have been updated.

[2020-04-03 12:47] #16366 closed

[2020-04-03 13:06] dmytro-ndp commented on #16478
[Flacky Java selenium tests have passed at second try on minishift 3.11](https://ci.centos.org/view/Devtools/job/devtools-che-rc-multiuser-integration-tests/31/console):

[2020-04-03 13:07] dmytro-ndp commented on #16478
@nickboldt, @l0rd, @ibuziuk: it's seems we have a blocker for release of Eclipse Che 7.11.0.RC: https://github.com/eclipse/che/issues/16534
WDYT?

[2020-04-03 13:21] vitaliy-guliy opened #16541 "Compare how much faster running of task from Che-Theia extension than running it from dedicated task plugin"
### Is your enhancement related to a problem? Please describe.

On [che.openshift.io](https://che.openshift.io) Che-tasks runs in 4.5 seconds. It's too mush and non comfortable for the developer.
We need to decrease this time by finding a proper architectural solution.
Now the handler for Che-tasks is located in task plugin which adds an additional delay, because of the RPC communication.

### Des

[2020-04-03 13:35] rebrabla opened #16542 "Unable to install Chectl on windows 10"
Hi, I'm just starting out and not sure this is the right place to ask questions like the following . If it is not could someone please direct me to the proper place.  I'm trying to install the chectl on windows 10 using the install document but I receive the following error messages when I run this command in a power shell. Any help or direction would be very appreciated .

Command : Set-Execution

[2020-04-03 14:10] sleshchenko commented on #16512
I faced the same issue today on the minikube + chectl + operator, but the error message was about self-signed-cert secret.

[2020-04-03 14:42] sleshchenko commented on #16537
@mmorhun Could you please elaborate a bit more? Honestly, I'm not sure I understand how to reproduce this issue, so more detailed instructions are welcome.

[2020-04-03 14:47] eder-santos commented on #16429
Hi @mmorhun
I try to run it with minikube but I'm unable to make it run properly in a CentOS Virtual Machine as I can't use the Kubernetes Cluster to install minikube. We are currently evaluating Eclipse Che as PaaS as we are unable to solve this problem running it on the cluster.

[2020-04-03 14:52] sleshchenko commented on #16512
I can't reproduce this issue anymore when I use an image from https://github.com/eclipse/che/pull/16540

[2020-04-03 15:05] vparfonov commented on #16512
Me to, works well with #16540

[2020-04-03 15:44] sparkoo commented on #16512
I can't reproduce on minishift with chectl and operator...

[2020-04-03 15:45] sonntag-dev commented on #16503
Preflight request:
- origin: http://<fqdn>
- Access-Control-Request-Headers: authorization
- Access-Control-Request-Method: GET
- Host: servergl1erhj1-jwtproxy-server-4401.<domainName>

Response CORS enabled:
- Status: 403

Response CORS disabled:
- Status: 404

I checked
`http://servergl1erhj1-jwtproxy-server-4401.<domainName>/<endPointPath> `
in Postman with the CHE_MACHINE_TOKEN as authorizatio

[2020-04-03 15:49] dmytro-ndp commented on #16478
- GitHub OAuth integration has been tested successfully
- we wasn't able to reproduce https://github.com/eclipse/che/issues/16512 on minishift and OCP 3.11, but it has been reproduced reliably by others, so is a blocker for release of Eclipse Che 7.11.0.RC.

[2020-04-03 16:33] adriendelsalle commented on #16410
@mgiammarco could you confirm you added the certificate in your browser or test this solution please?
Thanks!

[2020-04-03 16:47] adriendelsalle commented on #16483
Starting the server with the following command worked:
[code]
@twolastnames  could you please try ?
Thanks!

[2020-04-03 17:10] adriendelsalle commented on #16483
It works by adding the certificate in the *Authorities* tab, not in the *Your certificates* one.
Sorry for that, thanks!

[2020-04-03 17:16] ibuziuk commented on #16321
looks like I found a proper tool https://github.com/mitchellh/golicense
[code]

[2020-04-03 18:12] #15790 closed

[2020-04-03 18:14] nickboldt commented on #14857
FYI this is turning into a more pressing issue as more customers are asking for this feature.

[2020-04-03 19:43] shahidhs-ibm commented on #16287
@l0rd Could you please add the GitHub hook URL (https://ibmz-ci.osuosl.org/github-webhook/) of Jenkins server into [che-machine-exec](https://github.com/eclipse/che-machine-exec) GitHub repository for us to get the build triggers?

[2020-04-03 20:17] amisevsk commented on #16538
I believe the `quay.io/eclipse/che-sidecar-kubernetes-tooling` has buildah included:
[code]

[2020-04-03 20:20] amisevsk commented on #16539
Adding docs for rootless buildkit[1] + kubernetes example[2]

[1] - https://github.com/moby/buildkit/blob/master/docs/rootless.md
[2] - https://github.com/moby/buildkit/tree/master/examples/kubernetes

[2020-04-03 20:22] adriendelsalle opened #16543 "Permission denied at workspace creation after VM reboot"
Thank you all for this amazing project!

### Description
A fresh Minikube + Che server works as expected but after VM reboot, I get a *permission denied* on any workspace available in the `Get Started` menu.

The following message is displayed in the web console during workspace creation:

*mkdir /plugins/sidecars: permission denied*

The pods are failing again and again:

[code]

This is perhaps

[2020-04-03 21:19] amisevsk commented on #16543
Hi @adriendelsalle

The message

suggests that in restarting minikube, the permissions for folders in PVCs are changed. The [docs](https://minikube.sigs.k8s.io/docs/reference/drivers/none/) page for the `none` driver states:

which may be relevant, but I cannot find additional information about this.

For context, Che runs workspaces without root, as a security precaution. During workspace start u

[2020-04-03 21:53] amisevsk commented on #16534
@skabashnyuk I assigned severity/P1 to this issue, feel free to revise.

[2020-04-04 12:08] m-hu opened #16544 "Potentially necessary to upgrade fabric8.io.kubernetes-client for some versions of kubernetes or openshift"
### Is your task related to a problem? Please describe.
After deploying eclipse-che 7.10.0 on a corporate owned kubernetes cluster of version 1.14.4, the following error messages have been encountered during workspace request after ruling out all the issues related to unresolvable urls of docker images.

`java.net.ProtocolException: Expected HTTP 101 response but was '403 Forbidden'
	at okhttp3.in

[2020-04-04 12:16] pptime commented on #14517
This may still happen due to other unknown kind of http **IOException**, as the exception has been handled but the exception is relatively broad in such a context, which could correspond to other no-bug cases.

[2020-04-04 14:24] nickboldt commented on #16478
I would rather release with a known bug and fix it ASAP after (then do a 7.11.1) than hold up the release past Tuesday. @l0rd  @ibuziuk would you agree?

[2020-04-04 14:41] #15122 closed

[2020-04-04 20:22] cbyreddy opened #16545 "Time out error when downloading images"
### Describe the bug
Times out when scheduling/downloading images.
Logs indicate timeout waiting for postgres volumes to be bound

### Che version

 - [x] latest

### Steps to reproduce
ran
chectl server:start --platform minikube --multiuser

### Expected behavior
Eclipse che is deployed and a url is generated

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshif

[2020-04-05 08:03] RomanNikitenko commented on #16507
![error_unauthorize](https://user-images.githubusercontent.com/5676062/78469818-18b57400-772d-11ea-8081-31ee3999ea63.png)

[2020-04-05 19:52] adriendelsalle commented on #16543
Hi @amisevsk !
Thanks a lot for your response!!

I have tested on Ubuntu 19.10 with minikube running in virtual box `driver` and it supports reboot without any problem.
I also noticed the `--self-signed-cert` was not required to make it work. See #16483. Is there any relation?

I will further test/debug the none driver config in few days and add some feedback on this issue.
I close it since you do

[2020-04-05 19:52] #16543 closed

[2020-04-05 21:37] mingfang opened #16572 "Wrong memory limit leads to Java-mongo and Java-mysql workspace failure"
https://github.com/eclipse/che-devfile-registry/blob/9dfe7de0cbd23c8bc89a1c565833396e25118695/devfiles/java-mongo/devfile.yaml#L15

`memoryLimit: 1280MiB` should be `memoryLimit: 1280Mi`

[2020-04-06 05:56] #16432 closed

[2020-04-06 06:01] sparkoo commented on #15124
I don't see much analogy with previewurl. Previewurl's job is to expose public url and does not care much how it will achieve that, so we can reuse existing Service/Ingress.

On contrary devfile's `endpoints` cares about how it is done, because it's job is to touch more layers from Pod port to exposed Ingress url. We're basically merged k8s Service and Ingress into our `endpoints` with config attr

[2020-04-06 06:04] mmorhun commented on #16537
@sleshchenko sorry if it wasn't clear. I meant that user accesses Che via a proxy server.
So to reproduce the issue just connect to a proxy server and try to use Che.
I used Squid 3 proxy server, which is configured just for proxying traffic without any modifications. But I think it doesn't matter which proxy server is used.

[2020-04-06 06:37] mmorhun commented on #16537
I've tried third party proxy and the result is the same.
In both cases I used Firefox browser.

The reason of failure is that dashboard/workspace-loader cannot open websocket connection and I see in browser logs:
[code]

[2020-04-06 06:39] tolusha commented on #16545
@cbyreddy
That's might be the cause. https://github.com/kubernetes/minikube/issues/7218
pls. downgrade minikube to v1.8 and try again.

[2020-04-06 06:54] mmorhun commented on #16537
Seems this is Firefox related issue as everything is working in Google Chrome.

[2020-04-06 07:29] skabashnyuk commented on #16544
duplicate https://github.com/eclipse/che/issues/11981 ?

[2020-04-06 07:38] tsmaeder commented on #14857
@sunix no, having environment variables does not help here: we need to automatically create a config file to make this work out of the box.

[2020-04-06 07:53] mgiammarco commented on #16410
Yes I confirm. Thank you very much.
I could not imagine that a missing certificate was the problem.
I hope I do not need to add to every browser I use I will now do some tests.
Thanks again!

Il giorno ven 3 apr 2020 alle ore 18:34 Adrien Delsalle <
notifications@github.com> ha scritto:

[2020-04-06 07:56] mmorhun commented on #16429
@eder-santos Minikube installation is designed to try it on single machine or for development purposes. The same I may say about CRC, but there are some tries to make it accessible outside. You may take a look at [this one](https://gist.github.com/tmckayus/8e843f90c44ac841d0673434c7de0c6a).

Can you try to deploy Che as you described in the issue description but using `--installer=operator` ?

[2020-04-06 08:01] #16318 closed

[2020-04-06 08:18] sunix commented on #15518
@l0rd https://github.com/eclipse/che/issues/14680 is about setting env variables for one or multiple devfile components in a kind of "user preferences". Could we make that happen ? not only for env variable, as settings.xml would be hard to customise through env variable, that's why secrets would make sense.

[2020-04-06 08:19] mmorhun opened #16546 "Implement automated generation of TLS secrets required for Che installation"
### Is your task related to a problem? Please describe.
As of now to deploy Che on Kubernetes infrastructure user need to perform manually a set of pre-requests which are described in Che [docs](https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#generating-self-signed-certificates_setup-che-in-tls-mode). However, it is not convenient to do that procedure for

[2020-04-06 08:20] l0rd commented on #16478
Reading the comments on the issues it looks like the issue is not always reproducible and we don't know the root cause yet. Is that right @vparfonov? I agree with @nickboldt to release 7.11.0 and a provide a fix once we have one.

[2020-04-06 08:22] mmorhun commented on #16052
I think we should start with the most common problems / use-cases:
- automate TLS secrets creation in case of Kubernetes infrastructure: https://github.com/eclipse/che/issues/16546
- retrieve CA certificate in case of Openshift infrastructure. This would be helpful to users to import the certificate into their browsers: https://github.com/eclipse/che/issues/16278

[2020-04-06 08:26] sunix commented on #14510
@vitaliy-guliy  ok what ever, as long as this is working :)

[2020-04-06 08:48] dmytro-ndp opened #16547 "E2E typescript selenium tests are failing after update to new ChromeDriver 80.0.2"
### Describe the bug
E2E typescript selenium tests are failing on nightly Jenkins CI jobs after update to new ChromeDriver 80.0.2 https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/MultiUser-Che-nightly-check-e2e-tests-against-k8s/197/ , including Happy path tests, devfile registry tests, Git SSH Flow tests.

For example, [Happy path E2E tests failure being run against nightl

[2020-04-06 08:59] tsmaeder commented on #15518
@sunix to make that clear: you're suggesting to create a kubernetes secret containing the text contents of "settings.xml" and mounting that with the key "settings.xml" and the path "~/.m2 in all containers where it applies, correct?

[2020-04-06 09:00] tsmaeder commented on #15518
That would take care of how to create the config files. But how we specify that and override it in various places (install configuration/user-level) is still not to be discussed.

[2020-04-06 09:11] sunix commented on #15518
We could give the ability to the user to store his own (or organisation) `m2_settings` secret that would contain the settings.xml file. We could provide a default value for that file:
[code]
in the devfile we would just do something like in kubernetes for a dockerimage or plugin, something like:
[code]

[2020-04-06 09:19] skabashnyuk commented on #16512
k8s client 4.9.0
[code]

kubernetes client 4.1.0
[code]
See more https://github.com/fabric8io/kubernetes-client/issues/1840

[2020-04-06 09:21] l0rd commented on #14680
We should leverage labels on configmaps and secrets to automatically mount them in workspaces containers.

For example:
If the a user creates a secret/configmap in his che workspaces namespace with the label `app.kubernetes.io/name: che` then the secret/configmap gets automatically mounted on the workspace pod containers.

[2020-04-06 09:26] vparfonov commented on #16478
Yes, it's not always reproduced, especially if QE can't reproduce it during testing we definitely should release 7.11.0

[2020-04-06 09:33] sunix commented on #14680
in my opinion for each container, somehow we need to specify where to mount. It can not be done automatically. Others secrets may need to be exposed as env variable,not mounted.

[2020-04-06 09:35] SockenSalat commented on #16439
@sleshchenko Sorry I've been away due to vacation.

I found the `workspaceId` to be `workspacesh9n48gcsw0jwrzb`.
in the links sections the value for key `ide` is `https://che-che.test.yars.lemarit.com/admin/test-lss3c`, so I grabed the token and when I try the URI `https://che-che.test.yars.lemarit.com/_app/loader.html?redirectUrl=https://che-che.test.yars.lemarit.com/admin/test-lss3c&workspaceId=

[2020-04-06 09:36] l0rd commented on #15518
@sunix yes I think that we should include #14680 in next sprint. The only thing I would suggest is avoiding to mention the secret in a devfile (the same devfile may work even without a particular settings.xml) but leverage secret's annotations and labels to specify that it should be mounted in a che workspaces.

[2020-04-06 09:39] l0rd commented on #14680
@sunix right. I think annotations should be used to specify the behaviour.

[2020-04-06 09:55] sunix commented on #15518
so you mean, if a secret is not available, don't mount or don't expose env variable, log a message mentioning that and continue... maybe

[2020-04-06 10:05] Katka92 opened #16549 "Create job with large test suite"
### Is your task related to a problem? Please describe.
Create a job on ci.centos.org that will run a large test suite against the given deployment.
Large test suite should contain:
 - all available tests for devfiles
 - test for workspace idling
 - test for starting a workspace via factory URL

### Describe the solution you'd like
Create a job that will run those tests. This job should be placed

[2020-04-06 10:24] tsmaeder commented on #15518
@sunix we would still have to have a mechanism that either does or doesn't create the secrets based on central settings or absence of those settings. We'd still have to have a way to inject central settings inside the contents of those secrets.

[2020-04-06 10:26] tsmaeder commented on #15518
But we could use the secrets mechanism to handle the "by hand" configuration cases where we need a file (and can't work with env variables).

[2020-04-06 10:26] deepthiseshabattar opened #16550 "Install and use SVN in eclipse che"
How can we install SVN plugin and use it in eclipse che? Are there any clear steps? Found this https://github.com/eclipse/che-plugin-svn link but could not understand how to install. Kindly help.

[2020-04-06 10:32] l0rd commented on #15518
@sunix if the a secret is not available that may be perfectly fine. The same devfile may be shared among 2 users: one need to set a specific settings.xml but not the other. If we decouple the settings from a devfile that would be possible. Otherwise different orgs would need to use different devfiles (starting with the devfiles in our devfile registry)

@tsmaeder secrets can be created:
1. manuall

[2020-04-06 10:57] Katka92 commented on #16549
Note: It should be possible to parameterize the job run using a trigger with a regexp. It should be possible to see `ghprbCommentBody` in an env vars and parse that. That way, the user can define an exact URL against which the test should run.

[2020-04-06 11:20] sunix commented on #15518
I think that if we take the example
[code]
It can be shared and generic enough.
We could make that secret mounted if it does exist. the name here is important so the user would know which secret name to use to set a value or file to mount.

To me it's very important that the destination path is set in the devfile because it is impossible to predict where a file should be in a particular container.

[2020-04-06 11:30] tsmaeder commented on #15518
@l0rd

The question is _when_ this can happen: since configuration can change, we would _at least_ have to create/delete the secrets when we create a workspcace. But better still to pick up change at each workspace start.

[2020-04-06 11:35] sunix commented on #15518
let's say that a user have the previous devfile and has even created a workspace out of it. If he figures out it is not working (cannot access to maven central for instance), he could
- back to the dashboard, create the secret "m2settings"
- upload his settings.xml with the right configuration
- restart his workspace and ... it will work :)

And let's say he is starting another workspace from a de

[2020-04-06 11:51] skabashnyuk commented on #16503
https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request

[2020-04-06 11:54] pptime commented on #16544
Shall I test 7.11.0 instead then?
@skabashnyuk

[2020-04-06 12:21] azatsarynnyy commented on #15763
fixed upstream

[2020-04-06 12:21] #15763 closed

[2020-04-06 13:31] ibuziuk commented on #16321
@tomgeorge could you please take if we really need both  and `github.com/gogo/protobuf` in the repo which is the `github.com/golang/protobuf ` fork?

[2020-04-06 13:35] RomanNikitenko opened #16552 "Upgrade some versions for che-theia"
### Is your task related to a problem? Please describe.
Recently `vscode-ws-jsonrpc` was updated to `^0.2.0` in `theia`, we are using `0.1.1` for `che-theia`

`vscode-uri` version is going to be upgraded to `2.1.1` for `theia` repo.
We are using `1.0.5` at the moment.

I think we should align these versions for `che-theia` ASAP and test if everything is working as expected.

[2020-04-06 14:47] skabashnyuk commented on #16544
yes.

[2020-04-06 14:52] sleshchenko opened #16553 "[devworkspace] OpenShift OAuth proxy seems to break OpenShift OAuth on the cluster"
### Describe the bug
OpenShift OAuth proxy seems to break OpenShift OAuth on the cluster.
I'm not sure who causes this issue but there is devcluster where OpenShift OAuth becomes unavailable after try to open Workspace URL behind OpenShift OAuth Proxy.
![Screenshot_20200406_174136](https://user-images.githubusercontent.com/5887312/78570610-e17abc00-782d-11ea-9253-9716be437c47.png)

Most interestin

[2020-04-06 15:44] ibuziuk commented on #16321
so, it looks like  `github.com/golang/protobuf ` is an indirect dependency of the ` k8s.io/api/apps/v1` (Apache 2.0)

├ github.com/che-incubator/kubernetes-image-puller/cfg
      ├ k8s.io/api/apps/v1
        ├ fmt
        ├ io
        ├ math
        ├ reflect
        ├ strings
        ├ github.com/gogo/protobuf/proto

So, I believe we can close the issue and treat all the k8s-image-puller docs as

[2020-04-06 15:44] #16321 closed

[2020-04-06 16:07] metlos opened #16554 "[chectl] Unable to deploy che to minishift using operator"
### Describe the bug

It seems it is not possible to deploy che to minishift using the operator.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

[code]

### Expected behavior
A running che server.

### Runtime
   - minishift (include output of `minishift version` and `oc version`)
[code]

### Installation method
   - chectl
[code]

### Environme

[2020-04-06 16:54] metlos opened #16555 "[chectl] Chectl is CWD dependent"
### Describe the bug

I happended to invoke chectl while the CWD was in a go project (che-operator to be precise).

### Steps to reproduce

[code]

### Expected behavior
Chectl is able to start an installation and does not depend on the current working directory. If that is a feature we want, then at least the error message should explain in more detail what is going on.

As an uninitiated user, I

[2020-04-06 16:58] benoitf opened #16556 "permission denied while creating volume path"
### Describe the bug
Workspace is not starting and report "timeout"
In workspace pod events we can see
[code]

Here is the dockerfile of the container image used:
[code]

The main error is coming with the VOLUME instruction

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: please specify : che.openshift.io

### Steps to reproduce
https://che.openshift.io/dashboard/#/load-factory?url=htt

[2020-04-06 17:52] sparkoo opened #16557 "devfile with k8s component with 2 pods and mountSources:true fails to start"
### Describe the bug
Having devfile that have kubernetes component with 2 pods and `mountSources: true` fails to start with `Error: Failed to start the workspace: "Pods have to have volumes with unique names but there are multiple `projects` volumes"`.

Another issue is that the huge ugly exception is shown only on DEBUG log level!

### Che version
 - [x] nightly

### Steps to reproduce

1. start

[2020-04-06 18:16] sparkoo opened #16558 "devfile with k8s component with 2 pods that have container with same name fails to start"
### Describe the bug
Having devfile with valid kubernetes component that have 2 pods with a container with same name fails to start with `Error: Failed to start the workspace: "Environment contains machines that are missing in recipe: p2/c1"`.
k8s recipe:
[code]

Also ugly exception in che server log is visible only on DEBUG level.

### Che version
 - [x] nightly

### Steps to reproduce

1. start

[2020-04-06 18:52] #16251 closed

[2020-04-06 21:59] l0rd commented on #15304
@bmicklea not that I am aware of. Here are my thoughts:
- organisations, as a way to have select the stacks, plugins, and resources available to groups of users, still make a lot of sense
- workspace instances sharing, with its lack of isolation (same pod same secrets), and its poor usability (two users, one cursor) need to be rethought and should be disabled right now.
- devfile are a way to shar

[2020-04-06 22:48] l0rd commented on #15518
@tsmaeder I would like Che to not be responsible for creating and updating those secrets. To allow git with SSH flow we currently persist users SSH key pairs in postgres, expose a Che API to manage them and mount them in workspace Pods in the form of Kubernetes secrets. That's something I would like us to stop doing. Instead, when provisioning a new Che user, an administrator should setup the user

[2020-04-07 02:20] redeagle84 opened #16559 "chectl throwing "ERR_TIMEOUT: Timeout set to pod ready timeout 130000" for --multiuser"
Having problems installing by chectl, following the doc where I found one.
Did a checkpoint just before run the chectl comand to test with and without the "--multiuser" flag,
the script works fine for non multiuser but crash when add "--multiuser" after restoring to the proper checkpoint.
The script is the folowing:

(surelly there is a better way to format the script below but i cant find nothing

[2020-04-07 04:39] amisevsk opened #16560 "Che workspace controller listens for configmap changes but does not respect them"
### Is your enhancement related to a problem? Please describe.
The Che workspace controller does listen for configmap changes, but not all config properties are correctly updated without a restart -- e.g. default routing class and whether webhooks are enabled cannot be updated without restarting the controller

### Describe the solution you'd like
Where possible, config changes should be reflected

[2020-04-07 06:00] #16512 closed

[2020-04-07 06:51] RomanNikitenko commented on #16552
The corresponding PR related to upgrade `vscode-uri` in `theia` was merged, the build of `che-theia` is broken at the moment.
Faced with it using che-in-che development this morning.

![vscode-uri](https://user-images.githubusercontent.com/5676062/78638671-593ff980-78b5-11ea-8e17-32853cdb787a.png)

[2020-04-07 06:53] NM4 commented on #16473
Hello,

@sleshchenko, Any update about this issue ?

[2020-04-07 08:02] mmorhun commented on #16554
Hello @metlos , the problem is in invalid TLS certificate which is shipped with Minishift (it's not going to be fixed as Minishift is deprecated).

[2020-04-07 08:04] mmorhun commented on #16554
So, you may deploy Che without TLS or provide your own certificates, replacing Minishift router certs (and importing them in browser)

[2020-04-07 08:10] dmytro-ndp commented on #16478
@mkuznyetsov: could you, please, share the status of release?

[2020-04-07 08:13] mmorhun commented on #16554
@metlos to deploy Che in TLS mode on Minishift you may take a look at [docs](https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-openshift-using-operator_setup-che-in-tls-mode), or to deploy Che without TLS (which is not recommended), please refer to [this PR](https://github.com/eclipse/che-operator/pull/186).

[2020-04-07 08:28] tolusha commented on #16554
@mmorhun
Thank you for clarification!

[2020-04-07 08:33] #16249 closed

[2020-04-07 08:36] metlos commented on #16555
I deleted `~/.local/share/chectl`, `~/.cache/chectl`, `/usr/local/bin/chectl/` and `/usr/local/lib/chectl`, installed chectl anew and still get this error.

What needs to be done to truly clean the system of chectl?

[2020-04-07 08:59] sleshchenko commented on #16473
@NM4 Hello, I just asked to clarify to issue but it's out of my areas.
@vinokurig @azatsarynnyy Have you seen this issue? It should not be difficult to implement, if so - could we provide quick fix?)

[2020-04-07 09:04] metlos commented on #16554
I am reopening this. There is NO mention of https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-openshift-using-operator_setup-che-in-tls-mode in the installation guide (https://www.eclipse.org/che/docs/che-7/installing-che-on-openshift-3-using-the-operator/) which I of course followed. I have not specified any TLS related f

[2020-04-07 09:23] sleshchenko commented on #16439
@SockenSalat Could you provide full workspace JSON?

[2020-04-07 09:48] SockenSalat commented on #16439
@sleshchenko

here it is:
[code]

[2020-04-07 09:51] azatsarynnyy commented on #16473
certs aren't respected when importing a zip, see https://github.com/eclipse/che-theia/blob/a321800c8359efc062b3820610087a7ac40cafbc/plugins/workspace-plugin/src/theia-commands.ts#L203

labeling it as `area/plugins` as related to Che Theia Workspace Plugin

[2020-04-07 10:09] metlos commented on #16554
Also, if I remember correctly some workflows in chectl create the certificates and output the "USER ACTION REQUIRED" warning to finish the installation in the browser so that the self-signed cert is trusted. Why is that not the case with minishift?

[2020-04-07 10:35] sleshchenko commented on #16553
Can't reproduce on OpenShift 4.4.0-rc.6 run by cluster-bot

[2020-04-07 10:56] sunix commented on #15518
@l0rd Yes, what I am suggesting is a dependency injection by name: in this container, inject `m2settings` in `/home/user/.m2/settings.xml` . This would also be what user familiar to kubernetes would expect no?

How would you see the usage of secret's annotations and labels ?

[2020-04-07 12:06] tsmaeder commented on #15518
@l0rd If I understand your suggestion correctly, I see two drawbacks to your suggestion:
1. The setup task has to be repeated by the admin for every user
2. If a setting changes (let's say a new repo server is set up), the admin needs to update the secrets for every user.
3. If I take https://github.com/eclipse-theia/theia/issues/7516 as a guide, we need to mount the secrets per container, so Che

[2020-04-07 12:25] tsmaeder commented on #15518
@nickboldt since air-gapped requirements are largely driven by CRW customers, I'd be interested in your input.

[2020-04-07 12:50] tolusha commented on #16371
Included into https://github.com/eclipse/che-operator/pull/215

[2020-04-07 12:50] #16371 closed

[2020-04-07 13:01] SkorikSergey opened #16563 "Editor tabs are not restored after refreshing browser tab"
### Describe the bug
Editor tabs are not restored after refreshing browser tab. **It reproduces only for first web page refreshing.**

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create and start workspace from any devfile.
2. Wait for ```Theia IDE``` is ready to use and open any file in the Editor.
3. Refresh browser page and check that op

[2020-04-07 13:48] apupier commented on #14780
already a long time on standby. I fear I won't have time to work on that in near future

[2020-04-07 13:57] dmytro-ndp opened #16565 "Adapt automated E2E pre-release tests to check already released version of Eclipse Che"
### Is your task related to a problem? Please describe.
There is a plan to make release omitting release candidate.
It requires adapting automated E2E tests to check already released version instead of release candidate in pre-release testing jobs on ci.centos and on CRW CCI:
- test **che-server**, **che-keycloak** and **che-postgres** images of release tag, instead of `rc` tag;
- use **chectl:lat

[2020-04-07 13:58] azatsarynnyy commented on #16559
@tolusha please, take a look

[2020-04-07 14:15] azatsarynnyy commented on #16557
setting it as P2 as it looks like a minor issue to me, but feel free to re-prioritize it as you think is more accurately

[2020-04-07 14:29] azatsarynnyy commented on #16558
setting it as P2 as it looks like a minor issue to me, but feel free to re-prioritize it as you think is more accurately

[2020-04-07 14:39] azatsarynnyy commented on #16556
I guess it's from wsmater area. It looks like a P1.

[2020-04-07 15:26] azatsarynnyy commented on #16550
Hello @deepthiseshabattar
The plugin you referred to is for Che 5 version which isn't maintained anymore.

The current version is Che 7. To get familiar with it, I'd recommend starting with [Introduction to Eclipse Che](https://www.eclipse.org/che/docs/che-7/introduction-to-eclipse-che/).

In short, with the new Workspace and Plugin models, Eclipse Che 7 functionality can be extended with VS Code

[2020-04-07 15:41] RomanNikitenko commented on #16552
The PR for fixing build https://github.com/eclipse/che-theia/pull/698

[2020-04-07 15:53] tolusha commented on #16478
`che-operator` and `chectl` are released

[2020-04-07 18:04] amisevsk opened #16566 "Cloud shell sometimes fills window with output of last command"
### Describe the bug
Sometimes, when leaving a cloud-shell window open in the browser, it fills up with repeated output:

![Screenshot from 2020-04-03 00-51-48](https://user-images.githubusercontent.com/16168279/78703508-4be83680-78d8-11ea-948d-6ae236398c4e.png)

I haven't found the direct cause of this issue, but I suspect it's due to the connection being lost and re-established.

### System info

[2020-04-07 18:12] amisevsk opened #16567 "[workspace-controller] Filter GVK to allow CR metrics to be re-enabled"
### Is your task related to a problem? Please describe.
Currently, the Che workspace operator has CR metrics [disabled](https://github.com/che-incubator/che-workspace-operator/blob/master/cmd/manager/main.go#L140-L144). This is because of an issue where an error is repeatedly logged:
[code]

It's not fully clear what the underlying issue is, but the doc suggests that it's likely a permissions issu

[2020-04-07 19:50] amisevsk opened #16568 "[workspace-controller] Need to investigate how to support Che >7.9.0 changes"
### Is your enhancement related to a problem? Please describe.
Since Che has moved the JWT proxy pod within the workspace deployment, many plugins only listen on localhost and depend on proxied requests from the JWT proxy pod.

In the workspace controller, it's possible to deploy using basic routing, in which case no local proxy is present. We will likely need to mirror something like https://gith

[2020-04-07 20:22] amisevsk commented on #16494
PR is merged :tada:

[2020-04-07 20:22] #16494 closed

[2020-04-07 21:15] l0rd commented on #15518
@sunix I think we are converging :-) We can use (optional) devfile annotations to specify injection properties like the path. Something like:

[code]

[code]

@tsmaeder for 1) and 2) provision/updating users configs is about applying a template. An admin will have a template for che namespaces and will apply that every time a new Che user needs to be provisioned. That's how it works on che.openshi

[2020-04-07 22:46] bmicklea commented on #15304
+1 to all of those, but I do think that we need a multi-cursor support for Che. Something "Google Docs-ish" is often asked for.

[2020-04-08 01:59] wonjooncho opened #16569 "How to set the docker_privilege_mode in che7?"
I remember that docker_privilege_mode was available in che 6 version.
It was possible by setting the `CHE_DOCKER_PRIVILEGED = true` in the `che.env` file.

Is it possible to run the workspace by setting docker_privilege_mode on che7 like the che6 version?
If so, what should I do?

[2020-04-08 02:31] mingfang commented on #15304
I was to use Organizations to managed billable resources. If selling Che as a SaaS, customers would pay for a Root Organization with a set number of workspaces, CPU/Memory/Storage, users, and maybe sub-organizations.  Also the customer needs be able to grant user permissions to those resources, e.g. Team A gets X resources and Team B get Y resources.

[2020-04-08 06:50] tolusha commented on #16569
@wonjooncho
It isn't possible anymore.

What is the problem you need to solve?

[2020-04-08 06:59] wonjooncho commented on #16569
@tolusha I am trying to use btctl inside a workspace.
It requires privilege mode.

Is there any other way to solve this issue?

[2020-04-08 07:32] SkorikSergey opened #16570 "[Selenium] Run java selenium tests against Eclipse Che deployed to OCP with Openshift OAuth option enabled"
### Is your task related to a problem? Please describe.
We need to run all java selenium tests against Eclipse Che deployed to OCP with Openshift OAuth option enabled.

[2020-04-08 07:49] tsmaeder commented on #15518
@l0rd what is "maven-settings-secret.yml"? And I don't understand how the above addresses my point 4) from above: ~/.m2 will be broken for use with maven if you mount the secrets there.

[2020-04-08 08:08] tsmaeder commented on #15518
@l0rd I'm not objecting to having per user settings, as I stated in my original proposal, I just did not consider it something that was a stated requirement.

[2020-04-08 08:14] tsmaeder commented on #15518
Che is responsible for translating a devfile into a set of Kubernetes configurations (a pod, basically). That translation will use some central configuration values. There is no need for an API to manage anything, as far as I can see.

[2020-04-08 08:25] #16552 closed

[2020-04-08 08:48] ibuziuk commented on #16534
@dmytro-ndp could you confirm that this issue is minishift specific

[2020-04-08 08:51] tolusha commented on #16559
@redeagle84
Is there any specific reason to use `--vm-driver=none` flag ?
Could you try with `--vm-driver=virtualbox` ?

[2020-04-08 09:05] tolusha opened #16571 "Cluster availability task fails for couple of minutes after minikube is started"
Minikube is started, but

[code]
fails with

[code]

It starts working after several minutes.

[2020-04-08 09:09] sleshchenko commented on #16249
I've just tested the nightly build and it does not seem to be fixed. Maybe I did something wrong

![Screenshot_20200408_120516](https://user-images.githubusercontent.com/5887312/78765992-66321b00-7991-11ea-821c-e4074082257e.png)
![Screenshot_20200408_120526](https://user-images.githubusercontent.com/5887312/78765994-66cab180-7991-11ea-9a75-ca31b39996ba.png)

[2020-04-08 10:01] ibuziuk commented on #16512
@skabashnyuk am I correct that this issue is not severe e.g. even if the initial restart failed one of the subsequent should pass once the k8s-resources are finally deleted? So far we were not able to reproduce it on staging against 7.11.0 upstream and do not treat it as a blocker for production update

[2020-04-08 10:03] RomanNikitenko opened #16573 "Welcome page has incorrect style for scroll on Firefox"
### Describe the bug
Please see the screenshot

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace on Firefox
2. Use dark theme
3. Pay attention on scroll for Welcome page

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [x] minikube (include output of

[2020-04-08 10:07] sleshchenko commented on #16439
@SockenSalat I've just discovered that you used direct URL to workspace https://che-che.test.yars.lemarit.com/admin/test-lss3c and it does not work currently. Could you try Theia URL . The URL will be changed after workspace restart >

[code]

[2020-04-08 10:20] tolusha opened #16574 "spec.Server.WorkspaceNamespaceDefault is ignored in case of OpenShift with oAuth enabled"
## Summary
In the custom resource we have `spec.Server.WorkspaceNamespaceDefault` which is default namespace for user's workspaces [1] but it is completely ignored [2] in case of OpenShift infrastructure with oAuth enabled. I am wondering if it is a real bug and by design.

## Relevant information

[1] https://github.com/eclipse/che-operator/blob/master/deploy/crds/org_v1_che_crd.yaml#L454
[2] htt

[2020-04-08 10:28] #15565 closed

[2020-04-08 10:28] #14873 closed

[2020-04-08 10:28] #16119 closed

[2020-04-08 10:50] davidfestal commented on #16574
I assume it is a bug.

In case of `openshift-auth` enabled, `<username>-<flavor>` should be the default if nothing is mentioned in the CR, but we should still take the CR field into account.

[2020-04-08 11:42] azatsarynnyy commented on #16573
related upstream issue https://github.com/eclipse-theia/theia/issues/5040

[2020-04-08 11:52] sparkoo commented on #15047
all issues int the scope of this epic are done, closing

[2020-04-08 11:52] #15047 closed

[2020-04-08 11:54] skabashnyuk commented on #16512
I would say it could. Without any guarantee of course.

[2020-04-08 12:10] RomanNikitenko commented on #16573
@azatsarynnyy
thanks, Artem!

I thought that the problem on `che-theia` side, that's  why I created the issue for `che`.
But `theia` has the same problem...

[2020-04-08 12:17] ibuziuk commented on #16475
PRs for prod update:
- https://github.com/openshiftio/saas-openshiftio/pull/1403
- https://github.com/openshiftio/saas-openshiftio/pull/1404
- https://github.com/openshiftio/saas-openshiftio/pull/1405

[2020-04-08 12:17] ibuziuk commented on #16512
thanks, so our plan is to promote 7.11.0 and request 7.11.1 if this issue will become a problem. On the staging, we were not able to reproduce the issue so far https://github.com/eclipse/che/issues/16475#issuecomment-610924205

[2020-04-08 12:30] dmytro-ndp commented on #16574
Related changes are [here](https://github.com/eclipse/che-operator/pull/136).

[2020-04-08 13:06] vitaliy-guliy commented on #16538
Yes, the idea is to extract it to the dedicated plugin with its image to be able to use the buildah without kubernetes plugin.

[2020-04-08 14:12] sleshchenko opened #16576 "[devworkspace] Initialize kubeconfig with user's token if useBearerToken is configured"
### Is your task related to a problem? Please describe.
There is a plan to initialize kubectx for the current user to avoid additional login.
This task is about initializing kubeconfig with user's token if useBearerToken is configured.
There are two ways to achieve it:

1. Init kubeconfig somewhere like `/tmp/.kube/config` and set KUBECONFIG env var:

<details>
<summary>Kube Context Template</summ

[2020-04-08 14:30] SockenSalat commented on #16439
@sleshchenko

when I try this URL directly (of course fetched the acutal one after restart) I get a 404.

when I try
`https://che-che.test.yars.lemarit.com/_app/loader.html?redirectUrl=https://server3cj87zqm-jwtproxy-webviews.test.yars.lemarit.com/&workspaceId=workspacesh9n48gcsw0jwrzb&token=eyJhbGciOiJSUzI1NiIsImtpbmQiOiJtYWNoaW5lX3Rva2VuIiwia2lkIjoid29ya3NwYWNlc2g5bjQ4Z2NzdzBqd3J6YiJ9`

I get `E

[2020-04-08 15:24] #12584 closed

[2020-04-08 15:24] #12915 closed

[2020-04-08 15:24] #14004 closed

[2020-04-08 15:24] #14115 closed

[2020-04-08 15:24] #14116 closed

[2020-04-08 15:24] #14160 closed

[2020-04-08 15:24] #14230 closed

[2020-04-08 15:24] #14362 closed

[2020-04-08 15:24] #14546 closed

[2020-04-08 15:24] #14669 closed

[2020-04-08 15:24] #14702 closed

[2020-04-08 15:24] #14703 closed

[2020-04-08 15:24] #14712 closed

[2020-04-08 15:24] #14729 closed

[2020-04-08 15:24] #14743 closed

[2020-04-08 15:24] #14769 closed

[2020-04-08 15:24] #14778 closed

[2020-04-08 16:01] #16478 closed

[2020-04-08 16:01] nickboldt commented on #15641
Assuming this wasn't done for 7.11 so slip to 7.12

[2020-04-08 16:40] #16452 closed

[2020-04-08 17:56] dmytro-ndp opened #16579 "Fix Happy path tests to use "workspace:create --start" command"
### Describe the bug
Happy path tests failed because of outdated command "chectl workspace:start":
[code]

### Solution
Use "workspace:create --start" command to create test workspace.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Install minikube
2. Download [chectl:next 0.0.20200408-next.cac07fe](https://github.com/che-incubator/chectl/rel

[2020-04-08 17:58] mingfang commented on #14562
related to https://github.com/eclipse/che/issues/16426

[2020-04-08 18:03] AndrienkoAleksandr commented on #16249
@sleshchenko Yes, sorry, it is really doesn't work, I tested my previous pr with another errors flow. I created one pr, it should work and I tested it with che-workspace-operator https://github.com/eclipse/che-machine-exec/pull/91 . Thanks for good testing and feedback.

[2020-04-08 18:10] skabashnyuk commented on #13046
/remove-lifecycle stale

[2020-04-08 18:10] skabashnyuk commented on #13180
/remove-lifecycle stale

[2020-04-08 18:10] skabashnyuk commented on #13517
/remove-lifecycle stale

[2020-04-08 18:10] skabashnyuk commented on #13503
/remove-lifecycle stale

[2020-04-08 18:11] skabashnyuk commented on #13047
/remove-lifecycle stale

[2020-04-08 18:11] #12680 closed

[2020-04-08 18:11] skabashnyuk commented on #13045
/remove-lifecycle stale

[2020-04-08 18:11] skabashnyuk commented on #12215
/remove-lifecycle stale

[2020-04-08 18:11] skabashnyuk commented on #12959
/remove-lifecycle stale

[2020-04-08 18:13] skabashnyuk commented on #14815
no longer reproduced.

[2020-04-08 18:13] #14815 closed

[2020-04-08 18:15] #16579 closed

[2020-04-08 18:30] amisevsk commented on #16489
In my opinion, applying validating webhooks to subject access reviews (if possible) would be trying to force an auth mechanism to do something it's not designed for.

Probably the cleanest way to do this is to figure out how to get user id authentication into oauth proxy. It's hard to envision a solution that doesn't open a much larger attack surface (e.g. if we add more validating/admission webho

[2020-04-08 20:34] amisevsk commented on #16489
I played with this a bit today and threw together a quick and dirty proposal. The basic gist is that we delegate user ID checking to machine exec itself using headers passed by oauth proxy. The implementation is *very* rough and pretty much a minimal working example with no error handling/design, but it works for preventing cluster admins from accessing the cloud-shell endpoints on crc.

For now,

[2020-04-09 06:56] gattytto commented on #16545
@tolusha the storage provisioner error applies in postgres pod creation stage

the error in che-server startup stage applies for domain name resolution errors normally (either inside che-server or in the cluster layer).

option a: edit /usr/local/lib/chectl/templates/che-operator/crds/org_v1_che_cr.yaml
specifically the line:
[code]
then make sure to add `--che-operator-cr-yaml=/usr/local/lib/chec

[2020-04-09 07:17] gattytto commented on #16545
https://github.com/che-incubator/chectl/pull/461

[2020-04-09 07:39] sleshchenko commented on #11424
/remove-lifecycle stale

[2020-04-09 08:00] sleshchenko commented on #16439
Sorry, I gave up. Hopefully after https://github.com/eclipse/che/issues/16451 will be fixed we could understand what goes wrong.

@skabashnyuk maybe you have any idea related to this issue

[2020-04-09 09:23] ibuziuk commented on #16475
Hosted Che has been updated to the latest 7.11.0 upstream version. Closing

[2020-04-09 09:23] #16475 closed

[2020-04-09 09:36] vitaliy-guliy commented on #15277
Could potentially be related to  https://github.com/eclipse-theia/theia/issues/7496

[2020-04-09 10:38] #16464 closed

[2020-04-09 11:50] Ohrimenko1988 opened #16581 "[TS_SELENIUM] Unexpected url after using the "PreviewWidget.typeAndApplyUrl" method"
### Is your task related to a problem? Please describe.
Unexpected url after using the "PreviewWidget.typeAndApplyUrl" method.
Looks like current logic is not stable:
 - type url
 - click "refresh" button

### Describe the solution you'd like
Rework ethod logic:
 - type url
 - send "Enter" value
### Describe alternatives you've considered

### Additional context

[2020-04-09 12:33] tsmaeder commented on #15577
Preferences in Theia are themselves subject to an extensible json schema. So the only way to reliably and generally validate all possible preference values would be to process the preference contributions the way Theia does. That sounds very hard. So my suggestion would be to not validate preference values at all, either by allowing arbitrary structures and transliterating them to json or by using

[2020-04-09 13:13] ibuziuk opened #16583 "[Hosted Che] java + mysql / java + mongo devfiles are failing on Hosted Che with quota issue"
java + mysql / java + mongo devfiles are failing on Hosted Che with quota issue.

### Che version
`7.11.0`

### Steps to reproduce

- Start workspace with any of those stacks on Hosted Che:

![image](https://user-images.githubusercontent.com/1461122/78898659-7111ac00-7a74-11ea-8c7f-e8f3f85eaae6.png)

### Expected behavior
Workspace started without quota issues

### Eclipse Che Logs
[code]

[2020-04-09 13:16] JPinkney commented on #16583
Looks like it could be related to https://github.com/eclipse/che/issues/16572

[2020-04-09 13:18] ibuziuk commented on #16583
@JPinkney good catch, do you happen to know who is working on the fix?

[2020-04-09 13:19] ibuziuk commented on #16572
@sleshchenko this affects Hosted Che after update - https://github.com/eclipse/che/issues/16583

[2020-04-09 13:45] JPinkney commented on #16583
It looks like @mingfang just started on a fix, once he does a PR to the devfile registry I'll merge it

[2020-04-09 13:53] mingfang commented on #16583
https://github.com/eclipse/che-devfile-registry/pull/224

[2020-04-09 14:36] sleshchenko commented on #16249
Now it works :tada:
but still some fix is needed to process \n in the right way
![Screenshot_20200409_145534](https://user-images.githubusercontent.com/5887312/78906858-914b6600-7a88-11ea-8aa4-443aa212a283.png)

[2020-04-09 16:02] tsmaeder commented on #15577
There's a description of the possible schemas here: https://code.visualstudio.com/api/references/contribution-points#contributes.configuration

[2020-04-09 16:08] Ohrimenko1988 commented on #16581
Done https://github.com/eclipse/che/pull/16582

[2020-04-09 16:08] #16581 closed

[2020-04-09 16:15] ibuziuk commented on #16583
PR for prod update - https://github.com/openshiftio/saas-openshiftio/pull/1406

[2020-04-09 16:24] ibuziuk commented on #16583
Fix has been promoted to prod. @mingfang thank you for the help! Closing

[2020-04-09 16:24] #16583 closed

[2020-04-09 18:06] gattytto commented on #15577
@tsmaeder can we then have a unsafePreferences: property to do the conversion? it would be nice to still have the common behauvoir in preferences

[2020-04-09 18:18] gattytto commented on #15712
for BAZEL build targets window to get populated one has to press F1)> "Add folder to workspace" and add the root folder that contains WORKSPACE and BUILD.bzl files. then hit reload in targets window

[2020-04-09 20:13] Xhelliom commented on #14848
I does not seem to have IPv6 connectivity.
bash-5.0$ curl -6 google.com
curl: (7) Couldn't connect to server

[2020-04-09 22:46] amisevsk opened #16584 "Some yamls in che-workspace-operator deploy dir are out of date"
### Is your task related to a problem? Please describe.
Some of the generated files in [`./deploy`](https://github.com/che-incubator/che-workspace-operator/tree/master/deploy) are out of date and need to be re-generated.

- `deploy/crds/example-crs`: out of date with current spec; missing component example cr
- `deploy/flatten`: out of date, needs to be regenerated via `operator-courier`, I get a

[2020-04-10 05:02] #14013 closed

[2020-04-10 06:31] sleshchenko commented on #16584
OLM part should be covered in a dedicated issue for OLM https://github.com/eclipse/che/issues/16311

[2020-04-10 06:32] ibuziuk opened #16585 "Che 7.11.1 Release"
### List of pending issues / PRs

- [x] Restart workspace fail (OpenShift Dedicated, minishift) #16512 / PR to `7.11.x` https://github.com/eclipse/che/pull/16586
- [x] java + mysql / java + mongo devfiles are failing on Hosted Che with quota issue #16583 (already part of `7.11.x` of che-devfile-registry and promoted to prod)
- [x] Use 20.0.0-java8 tag of centos-quarkus-maven https://github.com/ecl

[2020-04-10 06:33] ibuziuk commented on #16585
@skabashnyuk will you be able to cherry-pick the fix for  #16512 to `7.11.x` ?

[2020-04-10 06:46] sleshchenko commented on #16572
Fixed by https://github.com/eclipse/che-devfile-registry/pull/224 :tada:

[2020-04-10 06:46] #16572 closed

[2020-04-10 08:09] sunix commented on #16585
Hello, could we include these ones ?
- https://github.com/eclipse/che-devfile-registry/pull/220
- https://github.com/eclipse/che-devfile-registry/pull/204

[2020-04-10 08:12] ibuziuk commented on #16585
@sunix I would say yes if you cherry-pick the PRs to `7.11.x` - feel free to update the list in the description

[2020-04-10 09:09] RomanNikitenko commented on #14838
related issues for `Theia`:
https://github.com/eclipse-theia/theia/issues/2417
https://github.com/eclipse-theia/theia/issues/6272

[2020-04-10 10:03] sleshchenko opened #16587 "[devworkspace] MutatingWebhooks are not compatible with 4.5.0-0.ci-x"
### Describe the bug
[devworkspace] MutatingWebhooks are not compatible with 4.5.0-0.ci-2020-04-08-234908.

![Screenshot_20200410_130006](https://user-images.githubusercontent.com/5887312/78982628-3880d980-7b2b-11ea-812a-35b0ae32607d.png)
It might be bug of a specific daily OS build but I haven't investigated this topic.
I checked in  4.4.0-rc.6 and it works just fine.
So, in the scope of this iss

[2020-04-10 10:07] sleshchenko commented on #16553
Can reproduce on the 4.5.0-0.ci-2020-04-02-012350 run by cluster-bot

[2020-04-10 10:12] sunix commented on #15261
@ericwill @vinokurig any update on this one ? what is the status ?

[2020-04-10 10:17] sunix commented on #15271
maybe could be fixed with https://github.com/eclipse/che/issues/15347

[2020-04-10 10:28] sunix commented on #16585
added to the list and done cherry-picks on 7.11.x branch
https://github.com/eclipse/che-devfile-registry/commits/7.11.x

[2020-04-10 10:58] sleshchenko commented on #16489
Created an issue an authenticated-ids in OpenShift OAuth Proxy repo to collect thoughs https://github.com/openshift/oauth-proxy/issues/168

[2020-04-10 11:41] #16070 closed

[2020-04-10 12:42] sunix commented on #14970
@l0rd @skabashnyuk I have added `Provide an ability to override CPU limits of dockerimage containers in devfile` to the list. Let me know if it works for you.

[2020-04-10 12:44] sunix opened #16588 "Provide an ability to override CPU limits of dockerimage containers in devfile"
As part of https://github.com/eclipse/che/issues/14970, the goal is to provide the ability to specify CPU limits on the dockerimage containers.

[2020-04-10 13:29] vinokurig commented on #15261
It is almost done, waiting for https://github.com/che-incubator/che-theia-openshift-auth/pull/1 and https://github.com/eclipse/che-plugin-registry/pull/419 to be reviewed

[2020-04-10 14:20] #15127 closed

[2020-04-11 05:28] hari1992-web commented on #12366
Press F5 or click here to try again.

Error: Failed to start the workspace: "Failure executing: GET at: https://10.96.0.1/api/v1/namespaces/che-che. Message: Unauthorized! Configured service account doesn't have access. Service account may have been revoked. Unauthorized. The error may be caused by an expired token or changed password. Update Che server deployment with a new token or password."

[2020-04-11 05:28] hari1992-web commented on #12366
Press F5 or click here to try again.

Error: Failed to start the workspace: "Failure executing: GET at: https://10.96.0.1/api/v1/namespaces/che-che. Message: Unauthorized! Configured service account doesn't have access. Service account may have been revoked. Unauthorized. The error may be caused by an expired token or changed password. Update Che server deployment with a new token or password."

!

[2020-04-11 06:04] hari1992-web commented on #12366
Error: Error: Che TLS mode is turned on, but required "che-tls" secret is not pre-created in "che" namespace
![Screenshot from 2020-04-11 11-34-09](https://user-images.githubusercontent.com/62592574/79036690-65df8d00-7be8-11ea-847f-d1058bbd1104.png)    using chectl also its facing error

[2020-04-11 09:33] ibuziuk commented on #12366
the original issue is che.openshift.io specific if you can still reproduce it on there, please provide details. Otherwise, please open a separate issue with details.

[2020-04-11 10:36] hari1992-web commented on #12366
eclipse che+keycloak+postgres sql on kubernetes how to write yaml files and what is the procedure please explain any body knows ????????????????????????/

[2020-04-12 10:02] cbyreddy commented on #16545
I was having issues with v1.8 too so I tried again using k3s. I got to a much later stage of the install process before it errored out again.

    sudo chectl server:start --platform k8s  --multiuser --domain 192.168.1.137.nip.io
      ✔ Verify Kubernetes API...OK
      ✔ 👀  Looking for an already existing Eclipse Che instance
        ✔ Verify if Eclipse Che is deployed into namespace "che"...it i

[2020-04-12 11:22] sunix commented on #15518
@l0rd ok as long as it works. It also has to work with env variables. Some secrets are mounted as files, others would be be exposed as env variables.

[2020-04-12 11:46] #14630 closed

[2020-04-12 11:47] #14450 closed

[2020-04-12 11:48] zarinfam commented on #16545
I have had this problem with both `microk8s` and `k3s`!

[2020-04-12 11:53] tolusha commented on #14413
All needed properties can be set into a CR under `spec.server.customCheProperties` field:

[code]

[2020-04-12 11:53] #14413 closed

[2020-04-12 11:56] tolusha commented on #15915
@dmytro-ndp
Do we still need this?

[2020-04-12 11:57] #16574 closed

[2020-04-12 12:16] tolusha commented on #15056
Not the case anymore.
All references to images are in `operator.yaml` [1] with the same tag.

[1] https://github.com/eclipse/che-operator/blob/master/deploy/operator.yaml

[2020-04-12 12:16] #15056 closed

[2020-04-12 12:20] tolusha commented on #16545
@cbyreddy
`chectl version` ?

Pls provide logs for the second installation.
https://pastebin.com/9NatW21j isn't available

[2020-04-12 12:23] tolusha commented on #14977
Not the case anymore.
`chectl` from the stable channel does not use `nightly` images

[code]

[2020-04-12 12:23] tolusha commented on #14977
![Screenshot from 2020-04-12 15-23-06](https://user-images.githubusercontent.com/1640675/79068703-86cfdd00-7cd1-11ea-9cae-3ed04fc8f6e1.png)

[2020-04-12 12:23] #14977 closed

[2020-04-12 12:34] #14698 closed

[2020-04-12 12:35] tolusha commented on #15310
Not the case anymore.
chectl 7.11.0

![Screenshot from 2020-04-12 15-23-06](https://user-images.githubusercontent.com/1640675/79068945-322d6180-7cd3-11ea-88b1-09fa0a351881.png)

[2020-04-12 12:35] #15310 closed

[2020-04-12 12:47] hari1992-web commented on #15456
same issue
![Screenshot from 2020-04-12 16-10-24](https://user-images.githubusercontent.com/62592574/79069183-dcb07f00-7ce9-11ea-8c78-2484c59be13c.png)

plugins installation process timed out

[2020-04-12 14:42] cbyreddy commented on #16545
Sorry, here you go.
https://pastebin.com/aTY9zLRn

This seems to be the issue but I'm not sure

`Caused by: javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: No name matching keycloak-che.192.168.1.137.nip.io found`

[2020-04-13 05:34] yshcoffee opened #16589 "sonarlint plugin doesn't work"
sonarlint plugin doesn't work (eclipse che version: 7.7.0)

Soanrlint is not visible, but javalint is visible.

Please, tell me how to use Sonarlint plugin.

sonarlint plugin test order:
1. create workspace: Java Maven Stack
2. Eclipse Che UI Workspaces > configure workspace > Plugins > vscode-sonarlint Enable > Apply
3. File > Settings > Open Preferences > input
{
   "sonarlint.connectedMode.serv

[2020-04-13 07:24] sleshchenko commented on #12366
@hari1992-web could you clarify what do you mean by writing yaml files? files for what? creating tls self-signed secret? BTW it does not seems a question related to this issue, please open a new issue with your question. Will try to help when understand which issues you face.

[2020-04-13 07:42] tolusha commented on #16545
related one
https://github.com/eclipse/che/issues/16429

[2020-04-13 08:07] #15974 closed

[2020-04-13 09:35] petzsch commented on #12973
It is indeed possible to setup Che on k3s.
You just need to make sure that you don't deploy traefik when setting up the manager/server:
`curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --no-deploy traefik" sh`

Otherwise I pretty much followed the Azure instructions here:
http://www.eclipse.org/che/docs/che-7/installing-eclipse-che-on-microsoft-azure/

So I deployed the ingress-nginx as de

[2020-04-13 10:15] sleshchenko commented on #16489
Restricting access by user id on OpenShift OAuth Proxy side is a bit secure in terms of - nobody will get another user token. In case of checking user info on plugin/editor side - user's token might be stolen, but of sure to make it possible attacked person should open foreign workspace URL and authorize OpenShift OAuth Proxy there.
So, POC with checking user id on OpenShift OAuth Proxy:
[code]
Op

[2020-04-13 10:54] dorinburcea opened #16590 "[Che 6.x] Workspace fail to start if the project folder contains many files."
CHE version 6.19.X
Scenario is when inside the /projects directory there is a project with many files inside the node_module

I checked the installer sh script for installer  "org.eclipse.che.ws-agent" and remover recursive "**chown -R /projects**" command

It seems there maybe is another recursive applied to /projects directory inside of Workspace API binaries, which makes the WS API takes too lo

[2020-04-13 11:17] cbyreddy commented on #16545
Is there anything I can try to fix the error or is it a bug?

[2020-04-13 12:38] vparfonov commented on #16590
@dorinburcea Can you provide more information about infrastructure?
What runtime do you use? Is it local installation or cloud?

[2020-04-13 12:59] Les-Linux opened #16591 "Che 7 running on GCP - Classpath is Imcomplete"
I have a new installation of Che 7 running on GCP. I deployed a java gradle project from the stack and imported a simple java project from GIT too.

When I run the imported project from GIT the following is thrown:

1. cannot read property 'scheme' of undefined
2. Classpath is incomplete

I have also added two new sections for gradle build/run for my imported GIt project. Am I missing something ob

[2020-04-13 13:31] vparfonov commented on #16590
@dorinburcea BWT, we  recommend switching to our last version like 7.11.0 you will get much better support in this case

[2020-04-13 13:37] vparfonov commented on #16591
I guess it's from language area also can be related to installation on GCP. It looks like a P1.

[2020-04-13 13:43] Les-Linux commented on #16591
Is there anything else I can provide in order to assist with this issue?

[2020-04-13 14:00] #16524 closed

[2020-04-13 14:38] hari1992-web commented on #12366
so I want to  install eclipse che  on kubernetes master machine through yaml files  what is procedure ???

[2020-04-13 14:39] tolusha commented on #14699
@l0rd @benoitf
While implementing I bumped into the question.
How was it supposed to work in minikube if nip.io was not accessible due to offline.

[2020-04-13 14:43] tolusha commented on #16545
It is a bug. I will take a look on it later.

What I can suggest for now:
- use a lower version of minikube (I personally use 1.5.2)
- deploy che with helm installer:
[code]

[2020-04-13 14:48] tolusha commented on #16590
@dorinburcea  6.x is not supported anymore

[2020-04-13 14:48] #16590 closed

[2020-04-13 16:45] Les-Linux commented on #16591
I had a quick look at logs but couldn’t see anything obvious 🙁.

[2020-04-14 02:09] vandepol commented on #14622
Is there any update on this?  I'm trying to use odo with devfiles and it's creating application route as tls termination: edge.  Manually creating route with tls termination passthrough works fine, but like @wgbeckmann I'd like to configure this through the devfile.

Thanks

[2020-04-14 02:12] dorinburcea commented on #16590
Hello @tolusha thanks for answer,

The Workspace API time out is independent of CHE version in my case.
My che infra is in cloud and the project volume Is in glusterfs (i tried before with AWS efs was worse for thousands of small files )
It is known the NFS IO filesystem operations is slow when thousands of small files, like those in the node projects in node_module, have to be write, delete or ch

[2020-04-14 04:33] tolusha commented on #16019
https://issues.redhat.com/browse/CRW-803

[2020-04-14 07:10] Katka92 opened #16592 "Nightly Che tests failing on workspace deletion"
### Describe the bug
Nightly Che tests are deleting workspace using UI. The behavior of this test step was recently changed because of changes in a UI. Now, the test is sometimes failing on error:
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Expected behavior
The deletion of a workspace works correctly in Che, the test should not fail on that.

### Screen

[2020-04-14 07:17] ibuziuk commented on #16592
@Katka92 is it the reason of failures for Hosted Che update - https://github.com/redhat-developer/rh-che/pull/1861

[2020-04-14 07:27] sleshchenko commented on #12366
@hari1992-web We don't support installing through yaml files, we only support helm or operator.
For sure you can run helm with --dry-run and --debug options and extract yamls files you'll be able to apply manually, but it may be error-prone and I don't recommend doing it until you deeply understand Che Deployment. What the problem with chectl?
Please again, create a separate issue!

[2020-04-14 07:56] sleshchenko commented on #14699
@tolusha we could consider to implement that same as crc use - use local dnsmasq server and configure minishift with our routing suffix and host.
The proposed solution may have pitfalls but it worth to be investigated

[2020-04-14 08:26] sleshchenko opened #16593 "Theia terminal extension must propagate error from che-machine-exec"
### Describe the bug
After something went wrong with my workspace (f?url=https://github.com/eclipse/che-dashboard) I got Theia with empty tabs for tasks and terminal. Refreshing a page does not help.
Empty tabs make impression that terminal/tasks are loading but actually they failed, if I check websocket connections I have the following errors:
![Screenshot_20200414_110958](https://user-images.git

[2020-04-14 08:44] apupier commented on #15592
was done with 7.9.0

[2020-04-14 08:44] #15592 closed

[2020-04-14 08:48] tsmaeder commented on #15577
Changed area label since this is really about what the devfile validation allows. Nothing to do with plugins per se.

[2020-04-14 08:49] tsmaeder commented on #15577
@skabashnyuk am I correct that your team is handling devfile format issues?

[2020-04-14 09:09] svor opened #16594 "Impossible to set an array as value for preferences via devfile"
### Describe the bug
For now devfile supports only string, number or boolean as a value of preferences in components. Some preferences require having an array of strings as a value, for example  `go.lintFlags` https://github.com/microsoft/vscode-go#linter.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Add preferences into devfile in the dash

[2020-04-14 09:50] ibuziuk commented on #12366
Looks like we had an issue with expired token on 1a and 1b. @skryzhny rotated the tokens and the issue should be fixed.
@hari1992-web could you please confirm that https://github.com/eclipse/che/issues/12366#issuecomment-612333192 is no longer reproducible fo r you?

[2020-04-14 09:55] metlos commented on #16594
This has been discovered while investigating https://github.com/redhat-developer/codeready-workspaces/pull/263.

[2020-04-14 10:03] Katka92 commented on #16592
@ibuziuk No, it is not that case. From a first glance, I don't know why Hosted Che update tests are failing. I need more time to investigate. I'll try to take a look at that today.

[2020-04-14 10:09] akurinnoy opened #16596 "Workspace creation via factory url does not consume `che.workspace.persist_volumes.default`"
### Describe the bug

A workspace created via https://che.openshift.io/f?url=https://github.com/eclipse/che has the Temporary Storage toggle switched off while it should be switched on in accordance to `che.workspace.persist_volumes.default` provided by server.

### Steps to reproduce

1. Open this link https://che.openshift.io/f?url=https://github.com/eclipse/che
2. Wait until workspace is create

[2020-04-14 10:20] sleshchenko commented on #16596
@ibuziuk Could you confirm that temporary storage is expected by default for factory flow when the value is not specified in the Devfile explicitly?

[2020-04-14 12:45] mkuznyetsov opened #16597 "Investigate issue with building Che on "codenvy-release" profile"
### Is your task related to a problem? Please describe.

Running "mvn clean install -Pcodenvy-release" in eclipse/che project produces exception during the build:
[code]
stack trace bit from "-X" output points to ASM classes:
[code]

it is possible that problem comes from asm 4.0, that is used for this plugin execution.
Explicitly enabling 7.0 version seems to solve it, though it is not sure what

[2020-04-14 12:49] skabashnyuk commented on #16534
reproduced on crc
[code]
[code]

[2020-04-14 12:58] Katka92 commented on #16592
The fix was merged. I'll wait for test results and if the problem is solved, I'll close this issue tomorrow.

[2020-04-14 13:01] hari1992-web commented on #12366
ok I will use now with chectl and error will be posted please wait
Thanks
Advance

[2020-04-14 13:06] dmytro-ndp commented on #15261
The issue is quite important for downstream project CRW, and it be nice to have it fixed in CRW 2.2.

[2020-04-14 13:09] nickboldt commented on #14857
Do we have an ETA for this to be solved? It would be cool if it could be moved out of backlog and into a specific milestone, such as 7.12 (ideal) or 7.13 (less ideal).

[2020-04-14 13:10] nickboldt commented on #14699
Do we have an ETA for this to be solved? It would be cool if it could be moved out of backlog and into a specific milestone, such as 7.12 or 7.13.

[2020-04-14 13:14] tolusha commented on #14699
7.13 is highly possible.

[2020-04-14 13:16] skabashnyuk commented on #15577
@tsmaeder are we talking about the ability to set an array as value for preferences via devfile https://github.com/eclipse/che/issues/16594 ?

[2020-04-14 13:29] tsmaeder commented on #15577
No, an object, not an array.

[2020-04-14 13:38] amisevsk commented on #12973
Thanks for trying this out @petzsch, it's great you were able to get up and running! If you have time, it would be great to contribute something to the [Che documentation](https://github.com/eclipse/che-docs/).

I haven't played with k3s so I'm kind of useless here.

[2020-04-14 15:10] nickboldt opened #16599 "Update all builds to use Nodejs 10.19.0.2 or newer"
### Describe the bug

See CVE issue https://issues.redhat.com/browse/CRW-809

TL;DR is we should stop using ancient versions of nodejs 10 with vulernabilities.

In git@github.com:eclipse/che-theia.git I see:

[code]

We should move up to 10.19.0 or newer.

In Dockerfiles we seem to be OK:

[code]

But we should move to newer UBI:

* registry.access.redhat.com/ubi8/nodejs-10:1-66.1584015429

### Ch

[2020-04-14 15:13] benoitf commented on #16599
@nickboldt the `@types/**` are nothing to do with the runtime
it's like declaration of interfaces.

[2020-04-14 15:14] benoitf commented on #16599
TL;DR there is no security issue

[2020-04-14 16:14] ericwill commented on #16589
Something isn't working, unless I am missing some step. It works fine in VS Code but fails on Che.

[2020-04-14 18:44] RomanNikitenko opened #16601 "Can not start a terminal"
### Describe the bug
Sometimes I can not start a terminal.
I can not reproduce it permanently.
Please see a screenshot.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create and start a workspace from dashboard
2. Go to `Terminal` -> `Open Terminal in specific container`

Expected behavior: list of containers is displayed to select the corres

[2020-04-14 19:27] adriendelsalle commented on #16410
Hi @mgiammarco ! You're welcome.
Could you please consider closing this issue after testing? Thanks a lot.

[2020-04-14 19:31] redeagle84 commented on #16559
@tolusha

Sorry for my delay, last day being so painfull I can barely go out of bed, better enought to type now, doctor told probably will survive.

Thanks for you attention.

Im on a already virtualized env. and nest another level here would be very very slow, its a common laptop here.
Anyway I did what you told me but even this way receiving an error plus and advice to use driver=none because im

[2020-04-14 19:33] ultrafab opened #16602 "Using or create a bare Ubuntu 18.04 workspace."
Hello, i'm probably (surely) missing the point, but i'm trying to describe my situation:
I'm spawn a workspace (Java8 / Spring) to test writing some Micronaut services.

Micronaut CLI requires SDKMAN, SDKMAN requires unzip/zip, unzip/zip requires a root account to install, i miss the root password.

Using Docker i'll probably start a Ubuntu vanilla container and then install any needed tool to und

[2020-04-14 19:51] redeagle84 commented on #14271
Possible related problem here:
[chectl throwing "ERR_TIMEOUT: Timeout set to pod ready timeout 130000" for --multiuser ](https://github.com/eclipse/che/issues/16559)

[2020-04-14 20:11] metlos commented on #16601
Possibly related to https://github.com/eclipse/che/issues/15870 ?

[2020-04-14 20:17] metlos commented on #16602
I would probably approach this by building a custom docker image with all the tools you require, e.g. write a `Dockerfile` based on Ubuntu and install into it all the tooling you require. You would then push this docker image somewhere and in your devfile reference this image as a `dockerimage` component. If you then start a terminal in this component, you will have all the tooling available.

[2020-04-14 20:24] ericwill commented on #14871
I tried installing vscode-java-test (alongside vscode-java-debug and vscode-java) and I can't get the tests to run in my workspace.

When I try to open the Test Explorer, I get an error in the notification area `Java: No delegateCommandHandler for vscode.java.test.search.items`. Same things happens if I try to run the command "Java: Run all tests". I tried debugging the issue, including trying a [

[2020-04-14 20:40] metlos commented on #16534
So the fix seems to be to create the roles in namespace instead of cluster-wide and to correctly reference the namespace when referencing the role when creating the role binding. All needs to be done in both the `KubernetesWorkspaceServiceAccount` and `OpenshiftWorkspaceServiceAccount`. The latter seems to be already part of https://github.com/eclipse/che/pull/16532 but I would do it as part of a

[2020-04-15 04:33] sparkoo commented on #16601
@RomanNikitenko can you please write here the error message from the browser console you've mentioned ?

[2020-04-15 05:05] baseinfo123 commented on #14563
It would really help if there is a guide or an cloud formation template for eclipse che for EKS ,  have tried installing kubernetes on AWS via the documentation provided .. but could not succeed.

[2020-04-15 06:21] tolusha opened #16603 "[chectl] failed to update next version"
### Describe the bug
Try to update to the next version:
[code]
I got:
[code]

Workaround:
[code]

[2020-04-15 06:34] vinokurig opened #16604 "Cannot start hosted plugin"
### Describe the bug

Starting a hosted plugin by `HOSTED PLUGIN: start instance` command causes an error.
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Clone and build any theia plugin e.g. https://github.com/eclipse/che-theia-samples/tree/master/samples/hello-world-backend-plugin
2. Go to command palette and run `HOSTED PLUGIN: start insta

[2020-04-15 06:51] #16313 closed

[2020-04-15 06:52] sparkoo opened #16605 "che-plugin-registry won't start"
### Describe the bug
che-plugin-registry won't start.

### Che version

 - [x] nightly

### Steps to reproduce
1. install che with `chectl server:start --platform=minikube --installer=helm`
1. plugin registry will timeout and won't start
1. other pods starts ok

### Expected behavior
plugin registry should start

### Runtime
   - [x] minikube (include output of `minikube version` and `kubectl vers

[2020-04-15 06:57] RomanNikitenko commented on #16559
Sometimes I see the same error. Restarting resolves issue for me

![chectl_error](https://user-images.githubusercontent.com/5676062/79307347-6dac7380-7eff-11ea-8f8c-2f94892df735.png)

[2020-04-15 06:57] rhopp commented on #16605
Yep... seeing that in our nightly jobs as well. (in fact you were just a few minutes quicker in creating this issue :-D)

[2020-04-15 07:14] tsmaeder commented on #14871
@ericwill do you run the vscode-java-test extension in the same Che plugin as vscode-java? The missing command handler could indicate that an extension bundle (probably provided by the test extension) is not found by jdt.ls.

[2020-04-15 07:15] dmytro-ndp opened #16606 "[chectl] https://www.eclipse.org/che/chectl/ script provides incorrect address of chectl tar ball of "next" channel"
### Describe the bug
Command `./install_chectl.sh --channel=next` downloads chectl from incorrect address https://github.com/che-incubator/chectl/releases/download/20200410143557/chectl-linux-x64.tar.gz whereas correct URL is https://github.com/che-incubator/chectl/releases/download/20200410061444/chectl-linux-x64.tar.gz

[code]

[2020-04-15 07:33] RomanNikitenko commented on #16601
@sparkoo
Done!

[2020-04-15 07:41] benoitf commented on #16605
I've pushed previous tag to `:nightly` tag it will unblock users

[2020-04-15 07:44] benoitf commented on #16605
fixed by https://github.com/eclipse/che-plugin-registry/pull/445

[2020-04-15 07:44] #16605 closed

[2020-04-15 07:45] #15261 closed

[2020-04-15 07:49] vinokurig commented on #16199
Since we have switched to keycloak authentication (https://github.com/eclipse/che/pull/16488) the openshift oauth API uses existing OAuth client which is already created by the operator.

[2020-04-15 07:49] #16199 closed

[2020-04-15 07:54] l0rd commented on #16458
Volume mounting can also happen asynchronously in the future https://github.com/eclipse/che/issues/15384.

[2020-04-15 07:56] sparkoo commented on #16605
works now, thanks

[2020-04-15 08:05] AndrienkoAleksandr opened #16607 "Cloud shell reconnection feature"
### Is your enhancement related to a problem? Please describe.
It would be nice to provide restore previous output feature for Eclipse Che Cloud Shell.

### Describe the solution you'd like
We can store execId in the browser storage and use it to reconnect to the che-machine-exec server side.

[2020-04-15 08:06] #16403 closed

[2020-04-15 08:07] rhopp commented on #16403
Resolved by setting preference to `AskForConfirmationType.never`.

[2020-04-15 08:46] AndrienkoAleksandr commented on #16604
Certificate should be valid and should be available, but it should be handled correctly on the che-theia side.

[2020-04-15 08:46] svor commented on #16401
@triceam I can't reproduce this problem by using the factory which you provided, could you please confirm that it works for you.

[2020-04-15 08:47] SkorikSergey opened #16608 "[Selenium] Sometimes DeleteOrganizationTest test fails on 'delete organization' step"
### Describe the bug
Sometimes **DeleteOrganizationTest** test fails on 'delete organization' step. I cannot reproduce it manually.

Test results - http://artifacts.ci.centos.org/devtools/che/che-pullrequests-java-selenium-tests/209/report/site/failsafe-report.html#org.eclipse.che.selenium.dashboard.organization.DeleteOrganizationTest

### Screenshots
![org eclipse che selenium dashboard organizat

[2020-04-15 08:55] sparkoo opened #16609 "devfile with component without alias fails to start workspace"
### Describe the bug
If there is component without `alias` defined in the devfile, workspace fails to start because too long name.

error: `Invalid value: "workspaceh21ic3dtkbo6l323.quay-io-eclipse-che-golang-1-12-nightly": must be no more than 63 characters`

devfile:
[code]

### Che version
 - [x] nightly

### Steps to reproduce

1. Start the workspace from devfile above
1. Fails to start

### E

[2020-04-15 09:05] tolusha commented on #16603
https://github.com/che-incubator/chectl/pull/641

[2020-04-15 09:05] #16603 closed

[2020-04-15 09:05] tolusha commented on #16606
https://github.com/che-incubator/chectl/pull/641

[2020-04-15 09:05] #16606 closed

[2020-04-15 09:30] mshaposhnik commented on #16588
Merged in master.

[2020-04-15 09:30] #16588 closed

[2020-04-15 09:39] sparkoo opened #16610 "Services are not removed after workspace stop"
### Describe the bug
After stopping or even deleting the workspace, k8s service are not removed. The services are removed when che-server pod is terminated.

I've used minimal devfile:
[code]

### Che version
 - [x] nightly

### Steps to reproduce
1. start the workspace
1. see k8s services `kubectl get services -n che-che`. There should be 2 services, `theia` and `jwtproxy`
1. stop the workspace
1

[2020-04-15 10:44] sleshchenko commented on #16607
Well, instead of storing execId in the browser storage, che-machine-exec could provide all running execs, and then user would be able to restore sessions whatever browser they use, or even anonymous tab. Cloud Shell UI could provide the same functionality as typical terminal provides with multiple tabs
![Screenshot_20200415_134351](https://user-images.githubusercontent.com/5887312/79328696-2930d00

[2020-04-15 11:04] Katka92 commented on #16592
Tests are passing. Issue was fixed.

[2020-04-15 11:04] #16592 closed

[2020-04-15 11:40] azatsarynnyy opened #16611 "Adapt Che Theia to the latest Theia"
### Describe the bug

Theia commit https://github.com/eclipse-theia/theia/commit/acfc08656303ba32a28365f2e1e8b8fc7daba32a breaks Che Theia build on CI. See https://ci.centos.org/job/devtools-che-theia-pullrequests-build/275/consoleFull

[2020-04-15 11:44] tolusha commented on #16221
Commit to work private docker registry (`ab/offline` branch):
https://github.com/che-incubator/chectl/commit/979759796ae0759de4edd311f0fb146a1c263c4a

[2020-04-15 11:44] #16221 closed

[2020-04-15 12:37] skabashnyuk opened #16612 "Error after upgrade from 7.3.3 to 7.9.2"
### Describe the bug

![image](https://user-images.githubusercontent.com/1614429/79341481-2688a780-7f2c-11ea-847c-6c084548d7ac.png)

[code]
### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other:7.9.2

### Steps to reproduce
1.   7.3.3 workspace created in the individual namespace.
2. upgrade to 7.9.2
3. Start existed workspace.

### Expected behavior
 Workspace should start without error.
###

[2020-04-15 12:38] skabashnyuk commented on #16612
Reported by @davidfestal

[2020-04-15 13:21] Katka92 opened #16613 "Remove patches not needed in 7.12"
Remove all patches introduced in 7.11 or earlier that are not needed for 7.12.
List of changes:

| Short issue description | PR in upstream | Fixed on Hosted Che |
| ------------------------------ | --------------------- | ---------------------------- |
| printing axios respose/request | https://github.com/eclipse/che/pull/16445  | fixed https://github.com/redhat-developer/rh-che/pull/1864 |

This

[2020-04-15 14:37] skabashnyuk commented on #16612
Reproduced on crc with
[code]

[code]

[2020-04-15 14:57] ultrafab opened #16614 "pulling a custom docker image from a local not HTTPS docker registry"
Hello, i've created a test devfile to pull an Ubuntu image with custom tools:

[code]
Running the workspace i receive this error:

`Error: Failed to run the workspace: "Unrecoverable event occurred: 'Failed', 'Failed to pull image "192.168.69.206:5000/my-ubuntu:2.0": rpc error: code = Unknown desc = Error response from daemon: Get https://192.168.69.206:5000/v2/: http: server gave HTTP response to

[2020-04-15 14:58] ericwill commented on #14871
Yes they are running in the same Che plugin. There are some errors logged in the vscode-java/jdt-ls console: [error.log](https://gist.github.com/ericwill/23724c2bf966aa480de67e0d15d57c7f).

[2020-04-15 15:01] #16019 closed

[2020-04-15 15:36] AndrienkoAleksandr commented on #16614
Sorry I am not sure it will help you, but on the user dashboard we have ui to add external image registry:
![Screenshot from 2020-04-15 18-34-28](https://user-images.githubusercontent.com/6873095/79356699-f222e480-7f47-11ea-98d4-06a8d919b97a.png)

[2020-04-15 16:11] ericwill opened #16615 "Upgrade vscode-xml to 0.11.0"
Upgrade the vscode-xml plugin to the latest version - 0.11.0.

[2020-04-15 16:32] nickboldt commented on #16612
For my reference since this is a wsmaster issue, the affected container is the che server one.

That means we need a 7.9.3 release since today CRW build relies on a full release of Che -- cannot use snapshots.

[2020-04-15 16:39] #16615 closed

[2020-04-15 16:40] amisevsk commented on #15990
With the current state of the controller (post-refactoring), this issue is resolved. However, we cannot move to using e.g. webviews, as deploying 7.9.0 and up is blocked by https://github.com/eclipse/che/issues/16568 and oauth-proxy issues.

[2020-04-15 16:40] #15990 closed

[2020-04-15 16:48] skabashnyuk commented on #16612
ok. We are going to provide cherry-pick to 7.9.x as soon as fix would be available for master

[2020-04-15 17:01] ultrafab commented on #16614
Fixed, just added the private docker registry to:
`/etc/docker/daemon.json`

`{
   "insecure-registries":["privateregistryip:5000"]
 }`

[2020-04-15 18:05] #16602 closed

[2020-04-15 18:06] #16614 closed

[2020-04-15 18:11] ultrafab opened #16618 "I have no name! instead of user name in terminal running custom devfile"
After creating a custom minimal devfile:
[code]
Opening the terminal and executing `/bin/bash` the user has no name:
`I have no name!@workspace1grh40aawaiokuav:/workspace$`

Also any command requiring root privileges is unauthorized.

I'm trying using multiple standard docker images, but found the same problem.
I need a vanilla system where i can try to install some tools, so having a basic user,

[2020-04-15 18:26] nickboldt opened #16620 "Che 7.9.3 Release"
### List of pending issues / PRs

- [x] Error after upgrade from 7.3.3 to 7.9.2 #16617 (quickfix)
- [ ] *(add blockers here)*

### Release status

In parallel, the following releases can be done:

* che-theia
* che-machine-exec
    * che-plugin-registry (once che-theia and machine-exec are done)
* che-devfile registry

Then in series:

* che-parent, then che-docs, then che (including [quay images]

[2020-04-15 18:29] nickboldt commented on #16620
Related to https://issues.redhat.com/browse/CRW-811

[2020-04-15 18:43] benoitf commented on #16611
should be fixed now

[2020-04-15 18:59] azatsarynnyy commented on #16611
thx @benoitf

[2020-04-15 18:59] #16611 closed

[2020-04-15 19:10] amisevsk commented on #16568
Note that using oauth proxy as a passthrough, possible, won't work for our case as we likely need to proxy multiple ports. Using oauth-proxy for this would mean one container per exposed endpoint.

[2020-04-15 19:15] josefredohd opened #16621 "How to increase the timeout of the workspace?"
I am using eclipse che in google chrome, but it stops due to inactivity

[2020-04-15 21:26] l0rd commented on #12914
/remove-lifecycle stale

[2020-04-16 00:04] l0rd commented on #14699
Adding a line in /etc/hosts for the nip hostname? That is how I used to deal with it.

[2020-04-16 00:10] l0rd commented on #15915
@tolusha we still have to fix the inconsistency between the deployment strategies of Che helm chart (recreate) and Che operator (rollingUpdate). RollingUpdate should be the default for both.

[2020-04-16 00:15] sr229 commented on #12973
I can review the document when it gets PRed. We would need a K3s guide.

[2020-04-16 04:57] hari1992-web commented on #12366
Readiness probe failed: HTTP probe failed with statuscode: 500
Back-off restarting failed container
![Screenshot from 2020-04-16 10-26-13](https://user-images.githubusercontent.com/62592574/79416172-bed66900-7fcc-11ea-8624-4406425d33c5.png)

facing this issue Iam using installating through chectl tool
please any body know this issue
Thanks Advance

[2020-04-16 05:13] tolusha opened #16622 "Add e2e tests to check workspace commands"
### Is your task related to a problem? Please describe.
e2e tests for `chectl` covers only `server:start` && `server:delete` commands

### Describe the solution you'd like
Add more tests to check:

- workspace:create
- workspace:start
- workspace:list
- workspace:inject
- workspace:stop

[2020-04-16 06:28] tolusha opened #16623 "Che Deploy Sprint #183"
Apr 22 - May 12

### Team
| Name  |  |
| ------------- | ------------- |
| Anatolii   |   |
| Mykola   |    |
| Aleksandr  |   |

### Issues
- [x] 7.12.0 Release https://github.com/eclipse/che/issues/16690
  - [x] https://github.com/eclipse/che-operator/pull/228
  - [x] https://github.com/che-incubator/chectl/pull/667
  - [x] https://github.com/operator-framework/community-operators/pull/1641
  -

[2020-04-16 07:02] metlos commented on #16612
PR https://github.com/eclipse/che/pull/16617 handles this quite nicely.

[2020-04-16 07:47] hari1992-web commented on #13935
same issue readness probe failed  for me  Error: Error: ERR_TIMEOUT: Timeout set to pod ready timeout 300000    when iam increasing timedout also its get failed , its not timedout issue
Any body know
Thanks for advance

[2020-04-16 07:48] hari1992-web commented on #13935
![Screenshot from 2020-04-16 13-18-04](https://user-images.githubusercontent.com/62592574/79429120-bdb13600-7fe4-11ea-947a-5abb57d241ee.png)

[2020-04-16 07:48] hari1992-web commented on #13935
this is my  kubernetes dashboard

[2020-04-16 07:49] hari1992-web commented on #13935
![Screenshot from 2020-04-16 13-19-15](https://user-images.githubusercontent.com/62592574/79429241-e33e3f80-7fe4-11ea-9645-f05000c3dd4b.png)

[2020-04-16 07:50] hari1992-web commented on #13935
this is whatever iam done  any body know please help
thanks for advance

[2020-04-16 07:51] hari1992-web commented on #13935
iam facing this error in some many days

[2020-04-16 08:01] hari1992-web commented on #16559
Its not working for me i also tried restarted  but nothing will be happened same issue
![Screenshot from 2020-04-16 13-19-15](https://user-images.githubusercontent.com/62592574/79430438-8f345a80-7fe6-11ea-99d5-ea5aa13f64e6.png)

[2020-04-16 08:03] hari1992-web commented on #13935
This is what iam using command
chectl server:start --self-signed-cert --installer= operator --platform k8s --domain 172.17.250.2.nip.io
 --k8spodreadytimeout=3000000

[2020-04-16 08:52] petzsch opened #16624 "Opening che-doc repository in Che"
## Summary

When trying to open the che-doc repository with the devfile provided by the project + adding the git repository to it, I don't get a workspace that I can run the jekyll serve command in.

## Relevant information

It seems that the CMD line of the image quay.io/eclipse/che-docs:latest automatically starts jekyll in a path /che-docs/ which is not where Che normally locates the projects.

[2020-04-16 08:56] petzsch commented on #12973
Still waiting for my employer to provide me with 2 new VPS for setting Che+k3s up again on a clean install.

While doing so, I'll document my steps taken. And create a PR.

At the moment I'm struggeling to get the che-doc repository loaded in Che. Maybe you've seen the issue that I created for that?

https://github.com/eclipse/che/issues/16624

jekyll starts when the container starts, binding to t

[2020-04-16 09:10] ibuziuk opened #16625 "Update Hosted Che to the 7.12.0 upstream version"
### Is your task related to a problem? Please describe. -->
Need to update Hosted Che to the latest 7.12.0 upstream version once released.
Draft PR - https://github.com/redhat-developer/rh-che/pull/1861

[2020-04-16 10:15] sleshchenko opened #16626 "[devworkspace] Make workspace operator reuse devworkspace-api"
### Is your task related to a problem? Please describe.
This issue is about making workspace operator reuse [devworkspace-api](https://github.com/che-incubator/devworkspace-api) instead of having its own API objects and CRDs(at least it's related to Workspace and WorkspaceRouting CRDs).

There is already some work done https://github.com/che-incubator/che-workspace-operator/commits/Support-devwork

[2020-04-16 10:41] sleshchenko opened #16627 "[devworkspace] Fix empty creator annotation"
### Is your task related to a problem? Please describe.
Currently, we can get creator set as an empty string to two cases:
1. A controller is configured not to set up webhooks and as result, a creator annotation is not set during workspace creation but then propagated as an empty string to workspace related deployment, pods.
So, probably creator annotation should not be propagated at all in such c

[2020-04-16 10:50] akurinnoy opened #16628 "Dashboard Next"
This epic is about implementing the required functionality of Dashboard Next.

## Functionalities list desired for replacing the existing Dashboard

### Dashboard UI/UX

- [x] Develop layout of Dashboard Next https://github.com/eclipse/che/issues/16643

### Get Started Page

#### Get Started Tab https://github.com/eclipse/che/issues/16709

- [x] Support of multiple devfiles registries
- [x] Tempor

[2020-04-16 11:03] tolusha opened #16629 "[chectl] Check if real user exists before deploying Eclipse Che on OpenShift cluster"
### Is your task related to a problem? Please describe.
If deploy Eclipse Che on OpenShift instance with OAuth enabled then installation might stuck with no evidence for end user.

### Describe the solution you'd like
It is needed to add check if real use exists.
On operator level we have such a one [1] but from UX point of view it is useful to add the same chck on chectl level as well.

[1] https

[2020-04-16 11:22] RomanNikitenko opened #16630 "oauth-utils error"
### Describe the bug
Every start workspace / page refresh I see the error in browser console:
[code]
I think we should investigate what's the problem and fix it.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. See logs in browser console when a workspace is started
2. Try to refresh a page

### Runtime
   - [ ] kubernetes (include output of `

[2020-04-16 13:12] #14683 closed

[2020-04-16 13:13] #15654 closed

[2020-04-16 13:24] #16599 closed

[2020-04-16 13:38] sleshchenko commented on #16630
@RomanNikitenko Does it happen after Theia is opened? I wonder if you supposed it's dashboard/wsloader/theia part?

[2020-04-16 13:45] sleshchenko commented on #15782
Now we see that openshift-oauth proxy is sufficient for Cloud Shell needs after providing one patch(--authenticated-user-ids feature that allows to configure specific users who should have access).
It does not seems that kuberbac proxy will improve the situation so, I'm closing it and probably we'll return back to this topic in the scope of Devworkspace epic when we'll need to fully support K8s fo

[2020-04-16 13:45] #15782 closed

[2020-04-16 14:12] ghost opened #16631 "Update docs for choosing a sidecar image"
The docs for using a VSCode extension in Che recommend using the sidecar image `eclipse/che-theia-endpoint-runtime` for extensions with no external dependencies: https://www.eclipse.org/che/docs/che-7/using-a-visual-studio-code-extension-in-che/#choosing-the-sidecar-image_using-a-visual-studio-code-extension-in-che

The "che-theia-endpoint-runtime" Docker image was deprecated last October in [this

[2020-04-16 14:27] RomanNikitenko commented on #16630
I guess the error comes from [the event](https://github.com/eclipse/che-theia/blob/287faa2566b8d7b9da8c335c580d8956054dfe22/extensions/eclipse-che-theia-plugin-ext/src/browser/oauth-utils.ts#L38)
So, maybe @vinokurig knows more about this problem.

@vinokurig could you take a look?

[2020-04-16 14:46] ibuziuk commented on #15900
@alexeykazakov I will close this in favor of https://github.com/eclipse/che/issues/15906
It should be ready in 7.12.0

[2020-04-16 14:46] #15900 closed

[2020-04-16 14:47] #16534 closed

[2020-04-16 15:01] #16519 closed

[2020-04-16 15:42] amisevsk commented on #16624
I can reproduce various issues on che.openshift.io (using the factory URL: https://che.openshift.io/f?url=https://github.com/eclipse/che-docs):

- `che-docs-livereload-server` endpoint does not work, showing only the plaintext message `This port only serves livereload.js over HTTP.` (endpoints are all https, as of
- `che-docs-web-server` shows an "index of /" page.
- `serve che-docs` command fails

[2020-04-16 15:42] sleshchenko opened #16633 "Investigate if OpenShift Console Proxy could be used to avoid user's reauthentication"
### Is your enhancement related to a problem? Please describe.
Currently, if OpenShift Console opens CloudShell workspace - a user is asked to authenticate again there and grant Workspace OpenShift OAuth Proxy with asked rights (user:full).

The current state is like:
OpenShift console lives on `https://console-openshift-console.apps-crc.testing/`
The CloudShell is available on `https://workspace0

[2020-04-16 16:18] shahidhs-ibm commented on #16287
@l0rd Any updates?

[2020-04-16 17:03] nickboldt commented on #13180
Any chance this might happen in 7.13? It would be great to move Che builds up to use JDK 11, if we can. 8 is well past EOL.

[2020-04-16 17:44] nickboldt commented on #16620
Che theia is done https://ci.centos.org/view/Devtools/job/devtools-che-theia-che-release/17/console

[2020-04-16 17:45] l0rd commented on #16633
+1 for option 1) without creating routes for cloushells, only a service (faster and more secure).

If pods live in the same cluster, and there are no specific NetworkPolicies preventing that, the console proxy should be able to connect to the cloudshell using <service>.<namespaces> hostname (c.f. the [kube doc](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#what-things-ge

[2020-04-16 18:37] rfojta opened #16634 "Links to raw github moved"
https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/mandatory.yaml
https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/cloud/deploy.yaml

[2020-04-16 18:44] benoitf commented on #13180
@nickboldt Where did you read that openjdk 8 is EOL ?

[2020-04-16 19:17] tomgeorge commented on #16247
che-incubator/kubernetes-image-puller and che-incubator/kubernetes-image-puller-operator are done as well.

[2020-04-16 19:18] jaypal17 opened #16635 "Eclipse Che on Openshift probe failed"
Describe bug
I am attempting to install eclipse che operator in Openshift. All resoucres appear to be fine with the exception of the che pod itself. In the event timeline there is a msg of "Liveness probe failed: HTTP probe failed with statuscode: 500" and "Readiness probe failed: HTTP probe failed with statuscode: 500".
I have also attempted to install eclipse che following the documentation unde

[2020-04-16 19:18] tomgeorge commented on #16211
It looks like the job is using the correct version of upstream che.

[2020-04-17 03:36] amisevsk opened #16636 "[workspace-controller] Set up CI for che-api-sidecar"
### Is your task related to a problem? Please describe.
Currently, the workspace operator depends on [che-rest-apis](https://github.com/che-incubator/che-api-sidecar) when running regular Che workspaces. I'm managing 'releases' manually, and the operator refers to images in my docker registry (e.g. `amisevsk/che-rest-apis:latest`).

This makes merging breaking changes to che-rest-apis (e.g. https:

[2020-04-17 05:39] tolusha commented on #15741
@johnmcollier
While working on the issue I realized that underlying library takes into account `KUBECONFIG` environment variable. In the latest version of chectl I've just added logging the current context on chectl start.
I would be nice if you check if it works on your side now.

[2020-04-17 06:13] tolusha commented on #16635
@jaypal17
Could you try to install che 7.11.0 using the latest version of chectl?
Several bugs have been fixed since 7.10.x related to tls.

[code]

[2020-04-17 06:34] skabashnyuk commented on #13180
@nickboldt
Even if we have plenty of time
[code]
I agree with you. Sooner or later we have to do that. More time we postpone this  - then harder it would be to implement. I have some changes that moving this forward. I will try to provide prs for that soon.

[2020-04-17 06:42] sleshchenko commented on #16634
@rfojta Thanks for letting us know, could you clarify is `https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/mandatory.yaml` moved to `https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/cloud/deploy.yaml` ?
Do you have in mind that we should update it in chectl, che-docs, another place?

[2020-04-17 06:45] mkuznyetsov commented on #16620
che-server images and artifacts are ready https://ci.centos.org/job/devtools-che-che-release/45/

[2020-04-17 06:47] skabashnyuk commented on #16556
@benoitf is this reproduced on minikube/minishift or is this have some hosted che specific?
CC @ibuziuk

[2020-04-17 06:53] dmytro-ndp commented on #16620
@dfestal, @abazko: when do you think we can have quay.io/eclipse/che-operator:7.9.3

[2020-04-17 07:04] vinokurig commented on #16630
Yes, will take a look ASAP

[2020-04-17 07:21] sleshchenko commented on #11697
@SkorikSergey Have you checked `ContextMenuEditorTest` isn't it a time to close it as can't reproduce or finally provide needed info?

[2020-04-17 07:27] sleshchenko commented on #16618
@ultrafab Could you elaborate more about your installation? Is it Che deployed with Helm/Operator on K8s/OS? Is root privileges are allowed there?

here are some tips:
- OpenShift generated user uid for container dynamically depending on the namespace, you should init user after container start up, here you can find how we do it: https://github.com/eclipse/che-dockerfiles/blob/master/recipes/stack

[2020-04-17 07:32] sleshchenko commented on #16635
@jaypal17 Also could you fill in issue with the bug template https://github.com/eclipse/che/blob/master/.github/ISSUE_TEMPLATE/bug_report.md
I assume you have self-signed certificate on you installation but you missed the corresponding flag during deploying. You can try to modify your CheCluster CR(oc edit checluster eclipse-che -n che) and put `true` for self-signed cert there https://github.com/

[2020-04-17 07:36] sleshchenko commented on #16631
@AndrienkoAleksandr Could you provide some recommendations here?

[2020-04-17 07:40] sleshchenko commented on #13180
@nickboldt it already has P2 and team assigned, could you elaborate more why you added `need-triage` label?

[2020-04-17 07:55] sleshchenko commented on #16621
@josefredohd the way how you can increase it depends on the way you deployed Che:
**Helm**
[code]
**Operator:**
[code]

P.S. There is -1 - not limited, but feel free to assign any value in milliseconds (the default value 1800000 (30minutes)).

It must be documented!

[2020-04-17 08:02] rfojta commented on #16634
I'm sorry. I was referring to this article. https://che.eclipse.org/running-eclipse-che-on-kubernetes-using-docker-desktop-for-mac-5d972ed511e1

The links I've posted are replacing these
`$ kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/mandatory.yaml`
`$ kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/provider/cl

[2020-04-17 08:15] sleshchenko commented on #14622
@davidfestal @l0rd Is it something at least addressed in the Devfile 2.0 Spec?

[2020-04-17 08:27] AndrienkoAleksandr commented on #16631
Yes, it was deprecated because we don't want to force users to extends from some base image: https://github.com/eclipse/che-docs/pull/1071/files I am wondering why this docs is not visible on the https://www.eclipse.org/che/docs/che-7 and we have deprecated material:  https://www.eclipse.org/che/docs/che-7/using-a-visual-studio-code-extension-in-che/#choosing-the-sidecar-image_using-a-visual-studi

[2020-04-17 08:28] AndrienkoAleksandr commented on #16631
Sorry, remote plugins is plenty important stuff, so I set up higher priority.

[2020-04-17 08:31] tolusha commented on #16620
`chectl` `che-operator` have been released.

[2020-04-17 08:57] sparkoo commented on #16381
here's the workspace config wsmaster is sending to the client https://gist.github.com/sparkoo/9ed9e4bc62c740aa7d8a65ac9d8b072e

IMO wrong part is that it's trying to make dns valid server name (https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/server/external/ExternalServerExposer.java#L86) and as a result, it's

[2020-04-17 09:19] #16454 closed

[2020-04-17 09:26] ultrafab commented on #16618
Hi @sleshchenko, che is deployed on Openshift 3.11, operator, multiuser.

Using your first tip, compiling a Docker image with the Ubuntu Dockerfile standard (just upgraded from 16.04 to 18.04), and starting a new terminal in Che, now there's a correct prompt:
`user@workspace1grh40aawaiokuav:/projects$ `

Trying to use a sudo command:
[code]

The same image, launched from terminal outside Che, work

[2020-04-17 09:30] benoitf commented on #16634
I've updated my article, thanks @rfojta

[2020-04-17 09:30] #16634 closed

[2020-04-17 10:04] tolusha opened #16637 "Failed to deploy Eclipse Che on minikube 1.8.x"
### Describe the bug
Failed to deploy Eclipse Che on minikube 1.8.x
`chectl server:start --installer=operator --platform=minikube`
che-server logs:
[code]

kubectl get ingress -n che
[code]

### Che version

 - [x] nightly

### Runtime
   - [x] minikube 1.8.2 (include output of `minikube version` and `kubectl version`)
`minikube1.8.2 start --cpus 4 --memory 10240 --disk-size=50GB --vm-driver=virtu

[2020-04-17 10:08] sleshchenko opened #16638 "che-machine-exec does not propagate error properly when token is missing"
### Describe the bug
When che-machine-exec is running with `USE_BEARER_TOKEN=true` a client does not have a clue what is wrong.

Here is a result of my brief investigation:
https://github.com/eclipse/che-machine-exec/blob/master/main.go#L52
it closes connection with just 200.

We're able to `c.AbortWithError(403, err)` and then again connection will be closed with 403 response code which is better

[2020-04-17 10:17] tolusha commented on #16637
[code]

[2020-04-17 10:22] tolusha commented on #16637
Enabling ingress addon fixes the problem

[2020-04-17 10:23] sleshchenko opened #16639 "[devworkspace] Reconcile loop does not work correctly after updating routing class"
### Describe the bug
Reconcile loop does not work correctly after updating routing class.

### Steps to reproduce
1. Use basic routing by default with disabled cookies.
2. Create a cloud-shell workspace.
3. Check that cloud-shell workspace is created and working.
4. Modify created workspace and set `routtigClass: openshfit-oauth` explicitly.
5. Check that workspace is still Running, the new routin

[2020-04-17 10:42] SkorikSergey commented on #16608
Fixed by https://github.com/eclipse/che/pull/16598.

[2020-04-17 10:42] #16608 closed

[2020-04-17 10:44] tolusha commented on #16637
`chectl` behaves correctly and enables ingress addon.

The problem is that I started minikube using `minikube1.8.2` binaries... and chectl used `minikube` binaries to detect if addon is enabled.

[2020-04-17 10:47] tolusha commented on #16637
Problem is solved after renaming `minikube1.8.2` to `minikube`

[2020-04-17 10:47] #16637 closed

[2020-04-17 11:15] skabashnyuk opened #16641 "[Monitoring] ConfigMap "che-grafana-dashboards" become too big"
### Is your enhancement related to a problem? Please describe.
At this moment we keep all che related Grafana dashboards configuration in a single file.
If we are going to add more panels to it soon we hit the limit
[code]
Which in theory can be find a workaround. However, such a big file is also hard to maintain.

I propose to split che-grafana-dashboards to several smaller che related dashboards

[2020-04-17 11:18] skabashnyuk commented on #16641
CC @ibuziuk

[2020-04-17 11:35] ibuziuk opened #16642 "Finalize kubernetes-image-puller operator and contribute it to OperatorHub"
### Is your task related to a problem? Please describe.
Initial implementation of the kubernetes-image-puller has been done as part of the https://github.com/eclipse/che/issues/16067 / https://github.com/che-incubator/kubernetes-image-puller-operator

The next step would be adding OLM support and contributing the operator to https://operatorhub.io/

[2020-04-17 11:55] sparkoo commented on #13180
I guess this is the most important source of OpenJDK support for us https://access.redhat.com/articles/1299013 -> **May 2026**

I'm all for moving to newer Java as soon as possible and we should aim to be on latest LTS or even on latest.

8 has currently longer support than 11, but once we update to 11, moving upwards became much much easier. Keeping us on LTS means updating once in 3 years.

[2020-04-17 11:56] Katka92 commented on #16613
Patches and code related to patching were removed.

[2020-04-17 11:56] #16613 closed

[2020-04-17 11:56] Katka92 commented on #16456
All patches removed and logic added to upstream.

[2020-04-17 11:56] #16456 closed

[2020-04-17 11:59] olexii4 opened #16643 "[new UD] Develop layout of Dashboard Next"
### Is your task related to a problem? Please describe.

Develop layouts for the left-navigation bar, header and footer.
### Describe the solution you'd like

Current layouts for existing UD vs next UD are not consistent. We should revise them in general.

### Additional context

#### Existing UD screenshots:
footer
<img src="https://user-images.githubusercontent.com/6310786/79582926-1c55dd00-80d5

[2020-04-17 12:21] ibuziuk commented on #16287
@shahidhs-ibm I belive we will need to ask eclipse webmaster to do this, since we do not have an admin access
@skabashnyuk will you be able to give a hand with this?

[2020-04-17 12:22] #16400 closed

[2020-04-17 12:30] olexii4 opened #16644 "[new UD] Implement the 'create a workspace with URL' flow"
### Is your task related to a problem? Please describe.

1. We need to implement  'create a workspace with URL' flow for the new UD.
 {CHE  host}f?url=(Github repo or direct URL to devfile YAML content)
For example
[code]
2. Revise an existing page for this flow from the current UD.
### Describe the solution you'd like

An implementation should cover all functionality as we have in the current UD.

[2020-04-17 12:31] hari1992-web commented on #13625
whenver iam using with multi user its failed why ?????

[2020-04-17 12:45] olexii4 opened #16645 "[new UD] Implement Overview of the Workspace Details page"
### Is your task related to a problem? Please describe.
Workspace Details Overview page is not implemented.

### Describe the solution you'd like

Implement Workspace Details Overview page.

### Additional context

DESIRED DESIGNS
![image1](https://user-images.githubusercontent.com/5887312/94409314-acb54500-017e-11eb-9855-9f8fa7152acc.png)

Edit workspace name
![image9](https://user-images.githubu

[2020-04-17 12:49] hari1992-web commented on #14271
Readiness probe failed: HTTP probe failed with statuscode: 500
Back-off restarting failed container

[2020-04-17 12:49] hari1992-web commented on #14271
Does any way fix it ?????

[2020-04-17 12:56] olexii4 opened #16646 "[new UD] MVP for Workspaces List"
### Is your task related to a problem? Please describe.
Desired design

![image26](https://user-images.githubusercontent.com/5887312/99667165-ab184700-2a74-11eb-9014-5ecdd16ceb66.png)

CPU and RAM should be missed at this time since Che Server does not provide such information and Dashboard is not able to evaluate it.

[2020-04-17 13:21] #16638 closed

[2020-04-17 13:31] #16620 closed

[2020-04-17 13:33] sleshchenko opened #16647 "[devworkpace] Add an ability to generate some secrets for workspace"
### Is your enhancement related to a problem? Please describe.
Currently, the reconcile loop works in the following way:
1. evaluate objects according to status of the devfile (no communication with cluster)
2. flush them onto cluster

And if the devfile is not changed then the first part should always have the same result.
We already have some piece which must be regenerated for each workspace, o

[2020-04-17 13:48] tolusha opened #16648 "[chectl] operator should be a default way to deploy Eclipse Che instead of helm"
### Is your task related to a problem? Please describe.
For some infrastructures helm is used as a default installer.
In this case it is not possible to update Eclipse Che using `server:update` command.

### Describe the solution you'd like
Use `operator` as a default installer for all infrastructures.

[2020-04-17 13:54] #16523 closed

[2020-04-17 13:55] nickboldt opened #16650 "[Prod] Move all cico_*.sh (and related) scripts into a .ci folder for consistent approach to job management"
### Is your task related to a problem? Please describe.

For most repos, the cico_*.sh scripts live in a .ci folder in the repo.

But for some, like che-release and che-machine-exec, these scripts simply live in the root folder, which is a) inconsistent and b) messy.

### Describe the solution you'd like

Move ./cico_*.sh scripts into a .ci/ folder

* https://github.com/eclipse/che-machine-exec
*

[2020-04-17 13:59] metlos opened #16651 "Move workspace exposure strategies to the administration or installation guide"
Configuring the workspace exposure strategies (aka server strategies) is currently placed into `End-user Guide`->`Using developer workspaces` (https://www.eclipse.org/che/docs/che-7/configuring-workspace-exposure-strategies/). This is confusing because the end user has no say in setting the exposure strategies. This is a server configuration and as such should live in the admin guide or installati

[2020-04-17 14:25] azatsarynnyy opened #16652 "Make Che Theia release script passing ShellCheck"
### Is your task related to a problem? Please describe.

It would be great to make Che Theia release [script](https://github.com/eclipse/che-theia/blob/master/make-release.sh) passing [ShellCheck](https://www.shellcheck.net/).

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

<details>
  <summary>result of static analysis</summary>

[code]

[2020-04-17 14:29] azatsarynnyy opened #16653 "Make Che Theia release script working on macOS"
### Is your task related to a problem? Please describe.

It would be great to make Che Theia release [script](https://github.com/eclipse/che-theia/blob/master/make-release.sh) working on macOS as well.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

Reported by @benoitf
[code]

[2020-04-17 14:39] azatsarynnyy opened #16654 "Che Theia: Move all 'build' stuff from make-release.sh to build.sh"
### Is your task related to a problem? Please describe.

It would be great to move all 'build' related code from Che Theia's make-release.sh to build.sh

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

@benoitf suggestion:
[code]

[2020-04-17 14:40] nickboldt opened #16655 "Support building Che on linux on Z (s390x) and Power (ppc64le)"
Epic issue to collect all subtasks / needs for empowering Che 7.x to build on s390x and ppc64le.

Please add issues below.

- [ ] [Enhancement] Extending Eclipse Che CI infrastructure support to s390x #16287
- [ ] Ensure Che image publishing is multiarch #17124
- [x] [plugin registry support for s390x #428](https://github.com/eclipse/che-plugin-registry/pull/428)
- [x] [devfile registry suport for

[2020-04-17 14:45] sparkoo opened #16656 "secure discoverable endpoint is not secure"
### Describe the bug
having an endpoint that is both `secure` and `discoverable`, makes the endpoint unsecure.

We're hiding *secure* endpoints behind jwtproxy AND we're creating extra service for *discoverable* endpoints so it have predictable name. This makes every discoverable endpoint unsecure.

devfile:
[code]

### Che version
 - [x] latest

### Steps to reproduce
1. create workspace from dev

[2020-04-17 14:54] sparkoo opened #16657 "don't create an extra service for discoverable endpoint"
### Describe the bug
Currently we create 2 services for every discoverable endpoint. This is waste of resources as we don't need it to do our job done.

devfile
[code]

### Che version

 - [x] latest

### Steps to reproduce

1. create workspace from devfile above
1. see services it created
[code]
There are 2 services for 8080, first has discoverable `go-tcp` name, and second has generated one.

##

[2020-04-17 15:03] sleshchenko commented on #16648
There is the issue to implement server:update for helm chart as well https://github.com/eclipse/che/issues/14973, but is there any plan for it? It seems not very difficult.
Just to clarify - it's +1 to make operator as a default installer, but since we support helm chart for installing, it's needed to support server:update as well, and it does not seem to be difficult to implement.

[2020-04-17 15:37] benoitf commented on #16654
FYI https://github.com/che-incubator/chectl/blob/e747a60e2f46a39f38a739e10d9c7a5410fed2e2/make-release.sh#L29-L36

[2020-04-17 15:37] benoitf commented on #16653
FYI https://github.com/che-incubator/chectl/blob/e747a60e2f46a39f38a739e10d9c7a5410fed2e2/make-release.sh#L29-L36

[2020-04-17 15:49] olberger commented on #16384
FWIW, this still happens for che.openshift.io. The web console displays :
Request to access cookie or storage on “https://routekvgs5da4-obergix-che.b542.starter-us-east-2a.openshiftapps.com/?uid=757302” was blocked because we are blocking all third-party storage access requests and content blocking is enabled.

Request to access cookie or storage on “https://routekvgs5da4-obergix-che.b542.starter-

[2020-04-17 15:59] mash-graz commented on #12973
i also use k3s for must of my deployments, because it's very user frindly and resource saving.

one of the nice features of k3s may be seen in the fact, that you can easily prepare a setup by some static configuration files in a `manifests` directory, and it will bring up the whole installation on startup. this also works with [custom helm charts](https://rancher.com/docs/k3s/latest/en/helm/).

i

[2020-04-17 17:42] triceam commented on #16401
@svor I'm still seeing it with this url:
`https://che.openshift.io/f?url=https://pastebin.com/raw/HQgeDZTU`

I had left that repo public for some tests, and you don't see the error if the repo is public.  However, I switched it back to being private, and can now reliably and consistently recreate it.

[2020-04-17 17:43] amisevsk opened #16658 "Workspace controller nightly builds will break whenever CRDs are modified"
### Describe the bug
We currently build images of the che workspace controller nightly: https://ci.centos.org/view/Devtools/job/devtools-che-workspace-operator-nightly/

However, a release of the controller is not just the container image, but also the CRDs and other yaml files required for deploying the controller to a cluster. Since these are distributed via the repository, if they are updated a

[2020-04-17 17:48] metlos commented on #12973
Note that theoretically, we could be able to support `traefik` or `traefik2` if they support path rewriting in their ingress config. See https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L391 and https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L402

[2020-04-17 17:50] amisevsk opened #16659 "Improve Che workspace controller error handling and logging"
### Is your enhancement related to a problem? Please describe.
In most cases, the che workspace controller returns any errors encountered during reconcile, assuming them to be transient. However, a number of errors are handled incorrectly:

- Attempting to create an invalid object (if e.g. the controller and CRD are out of sync) should be logged as an error in the controller itself, and reconciles

[2020-04-17 18:09] mash-graz commented on #12973
yes, that's possible, but you'll loose a lot of useful capabilities in this case (e.g. all the middleware stuff, raw TCP/UDP port forwarding etc.). there are good reasons, why most of the more powerful ingress kubernetes solutions in the meanwhile have changed their behavior in similar manner as istio to provide additional features.

another import feature of k3s, which i forgot to mention in my p

[2020-04-17 18:46] jaypal17 commented on #16635
I tried both of your solutions and still had the same issue, I also noticed this msg:
Readiness probe failed: Get http://10.128.0.39:8080/api/system/state: dial tcp 10.128.0.39:8080: connect: connection refused
I believe the issue with my certs because I made another instance of the project and disabled TLS mode and Eclipse Che is now working. I will close the issue, and continue to troubleshoot m

[2020-04-17 18:46] #16635 closed

[2020-04-17 19:13] petzsch commented on #12973
I might have the wrong perspective about the local path storage provider: But it gave me quite a bit of headache with it's placement constraints (I think that's what they where called) when I tried to scale down my cluster. I had volumes attached to all of my nodes and couldn't find a way to migrate them to other worker nodes.

That's why I wanted to have a look at [longhorn](https://github.com/lo

[2020-04-17 20:05] josefredohd commented on #16621
@sleshchenko How can I do it from the chrome browser?

[2020-04-17 20:24] mash-graz commented on #12973
for real multinode clusters you will usually choose and setup the most optimal solution with care (ceph etc.), but k3s is in most cases used in rather simple usage scenarios, just like minikube.

i only mentioned this detail, because even in this kind of minimalist utilization it will make an observable performance difference (e.g. on compiling code), on which type of persistent volume you proceed

[2020-04-17 22:52] amisevsk commented on #16657
How would this work if an endpoint is both `public` and `discoverable`?

[2020-04-18 04:34] gattytto commented on #15577
actually I started the issue as a request for having the proto3 extension added to the plugins registry, later I found the docs on how to do it myself

[2020-04-18 11:16] hari1992-web commented on #8846
![Screenshot from 2020-04-18 16-24-44](https://user-images.githubusercontent.com/62592574/79636286-33a7cf80-8194-11ea-9141-2439b9e3b3ed.png)

[2020-04-18 11:17] hari1992-web commented on #8846
iam facing this error any body know please
thanks
Advance

[2020-04-18 11:21] hari1992-web opened #16660 "facing this issue"
![Screenshot from 2020-04-18 16-24-44](https://user-images.githubusercontent.com/62592574/79636384-e2e4a680-8194-11ea-9b29-6641a815c8e3.png)

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [x] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc v

[2020-04-18 11:22] hari1992-web commented on #16660
any body know thanks  in advance

[2020-04-18 18:48] mgiammarco commented on #15331
Hi,
I am using Rancher too and I have the same problem.
I have tried to modify the file kube.js (I suppose transpiled from kube.ts but I get again must authenticate error.
Can you help me?