[2019-10-21 13:59] svor opened #14943 "Add an information about cpp into Language support troubleshooting document"
Since we've registered a [new plugin](https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/che-incubator/cpptools) to support cpp tools, we need to provide related information  into [Language support troubleshooting document](https://github.com/eclipse/che/wiki/Language-support-troubleshooting-document).

[2019-10-21 14:33] nickboldt commented on #14110
With merge of https://github.com/redhat-developer/codeready-workspaces-theia/pull/2 we might be done with this issue. :)

[2019-10-21 14:53] mmorhun commented on #14942
I've just checked - the command is invoked as expected in Eclipse Theia

[2019-10-21 14:53] dmytro-ndp opened #14944 "Java Plugin not Being Started"
### Describe the bug
Java LS server didn't start from the first time of workspace loading and required refreshing of browser's tab:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2581/ :
[code]

### Workaround
Refreshing browser's tab restores LS server initialization https://github.c

[2019-10-21 15:03] svor commented on #14944
I can reproduce this problem with **cpptools** plugin as well
<details><summary>Logs from the plugin's container</summary><p>

[code]
</p></details>

this problem is reproducible time to time

[2019-10-21 15:05] AndrienkoAleksandr commented on #14944
Reproducible with php language remote plugin

[2019-10-21 15:08] musienko-maxim commented on #14944
<details>
 <summary>Logs after first starting workspace and opening a maven project</summary>
 <pre>
Starting the deployer with the list of resolvers [ LocalDirectoryPluginDeployerResolver {},
  GithubPluginDeployerResolver { unpackedFolder: '/tmp/github-remote' },
  HttpPluginDeployerResolver { unpackedFolder: '/tmp/http-remote' },
  VsCodePluginDeployerResolver { vscodeExtensionsFolder: '/tmp/vs

[2019-10-21 15:09] ibuziuk commented on #14800
@amisevsk knowing this behavior, should not the devfiles be created with the `*-branch` project name in mind. Also, where currently the zip dependent versions of devfiles are used? Could you please clarify why this already might be critical for the airgap scenario?

[2019-10-21 15:25] ibuziuk commented on #14930
@sushmithakumar would you mind adding a full description of the issues based on the template? There is no information other than some logs

[2019-10-21 15:31] ibuziuk commented on #14932
@anthonma could you please clarify how have you deployed the custom plugin registry? Have you followed the official docs - https://www.eclipse.org/che/docs/che-7/customizing-the-devfile-and-plug-in-registries/ ?

[2019-10-21 15:34] ibuziuk commented on #14939
@metlos what is the CI you are referring to and what are the TCK tests?

[2019-10-21 15:37] ibuziuk commented on #14942
@invincibleJai @arajkumar could you please take a look

[2019-10-21 16:13] ssh24 commented on #14897
@skabashnyuk Yes that api is not working for me. After I set it, I am unable to use it. Would you know the underlyings of encoding the credentials?

I encoded my credentials in this format `http://$USER:$PASS@$REGISTRY`

Does Che do it differently?

[2019-10-21 16:32] sushmithakumar commented on #14930
I 'm trying to bring up eclipse-che in kubernetes. with default-backend pod,ingress ,postgres ,keycloak and che pod.

[2019-10-21 16:54] ibuziuk commented on #14896
Closing as done

[2019-10-21 16:54] #14896 closed

[2019-10-21 17:10] sushmithakumar commented on #14930
these are my yaml files with which I have tried bringing up eclipse-che altogether.

[2019-10-21 17:10] sushmithakumar commented on #14930
che-deployment.yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: che
  name: che
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: che
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        pod.alpha.kubernetes.io/init-containers: '[{"image":"busybox","imagePullPolicy":"IfNotPresent","name":"fmp-volume

[2019-10-21 17:11] sushmithakumar commented on #14930
che-ingress.yaml
---------------------
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: che-ingress
  labels:
    app: che-ingress
  annotations:
#    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
#    nginx.ing

[2019-10-21 17:12] sushmithakumar commented on #14930
che-keycloak.yaml
-----------------------
[code]

[2019-10-21 17:15] sushmithakumar commented on #14930
che-postgres.yaml
----------------------
[code]

[2019-10-21 17:16] sushmithakumar commented on #14930
che-RBAC.yaml
-----------------
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: che
  name: che
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: che-clusterrolebinding
subjects:
- kind: ServiceAccount
  name: che
  namespace: ethan
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: ""

[2019-10-21 17:18] sushmithakumar commented on #14930
che-service.yaml
------------------
[code]

[2019-10-21 17:19] sushmithakumar commented on #14930
default-backend-deployment.yaml
------------------------------------------
[code]

[2019-10-21 17:20] sushmithakumar commented on #14930
default-backend-service.yaml
---------------------------------
[code]

[2019-10-21 17:21] sushmithakumar commented on #14930
keycloak-ingress.yaml
--------------------------
[code]

[2019-10-21 17:22] sushmithakumar commented on #14930
nginx-ingress-controller-configmap.yaml
----------------------------------------------
[code]

[2019-10-21 17:26] sushmithakumar commented on #14930
ingress-controller-deployment.yaml
------------------------------------------
[code]
----------------------------------------------
ingress-service.yaml
-----------------------
[code]
------------------------------------------------
ingress-RBAC.yaml
-------------------
[code]
------------------------------
storageclass.yaml
----------------------
[code]

[2019-10-21 17:35] sushmithakumar commented on #14930
![image](https://user-images.githubusercontent.com/19877210/67228630-506a8100-f457-11e9-804c-b30582750d4b.png)

[2019-10-21 17:36] sushmithakumar commented on #14930
![image](https://user-images.githubusercontent.com/19877210/67228686-72640380-f457-11e9-8c50-0e6a6c27c3cd.png)

[2019-10-21 17:38] sushmithakumar commented on #14930
sometimes its says "Cannot launch Terminal.Try re-starting current machine and contact support if Treminal keeps failing ".

[2019-10-21 17:41] sushmithakumar commented on #14930
it happens specially when launched a nodejs or python workspace..does the memory play a role in hanging or disconnecting websocket communication error.Tried with open ephemeral ports too 32000 to 65000 TCP ports for the communication on ec2 platform .Used firewalld cmds to open the ports.

[2019-10-21 17:43] sushmithakumar commented on #14930
che-configmap.yaml
--------------------------

[code]

[2019-10-21 17:44] sushmithakumar commented on #14930
Hope this information is sufficient ..Hope to get some solution ..Thanks in advance!

[2019-10-21 20:13] amisevsk commented on #13559
I'll remove as part of https://github.com/eclipse/che/issues/14633

[2019-10-21 20:24] skabashnyuk commented on #14897
@ssh24 did you try it on che6?

[2019-10-21 20:28] ssh24 commented on #14897
@skabashnyuk I am on Che 7.2.0

[2019-10-21 20:52] amisevsk opened #14946 "Some properties are only present in che.properties"
### Is your task related to a problem? Please describe.
While working on https://github.com/eclipse/che/issues/14633 I came across a number of properties that are only mentioned in `che.properties` and used nowhere in the code (that I can see):

- `che.websocket.endpoint_minor`
- `che.workspace.maven_server_java_options`
- `che.workspace.terminal_linux_amd64`
- `che.workspace.terminal_linux_arm7`

[2019-10-21 20:58] benoitf commented on #14946
everest properties are consumed there no ? https://github.com/codenvy/everrest

[2019-10-22 06:17] skabashnyuk commented on #14897
You can set it but it's not used anymore in Che7. I'm sorry for that UX, this is is outdated functionality that we forgot to remove.

[2019-10-22 06:55] anthonma commented on #14932
I did follow the offical docs (https://www.eclipse.org/che/docs/che-7/building-and-running-a-custom-registry-image/). I have deployed the custom registry via the helm command given there:
[code]
I had to change it a little. $\{...} didn't work (command not found), so I changed it to ${...} without the \

[2019-10-22 07:16] #13145 closed

[2019-10-22 07:42] sleshchenko commented on #14793
The minimal functionality that we can deliver is merged with https://github.com/che-incubator/chectl/pull/353
I'm closing this issue and will create a separate issue for improving server:update command.

[2019-10-22 07:42] #14793 closed

[2019-10-22 08:02] l0rd commented on #14575
@metlos we can close this one since we have decided to solve it as a doc issue (and [doc pr has been merged](https://github.com/eclipse/che-docs/pull/837))?

[2019-10-22 08:15] anthonma commented on #14932
I have seen that the content of the plugin registry has changed, so I wanted to test if my problem is solved by using the new version, but unfortunately I can't even build the new version, because the file meta.yaml.schema is not found.

[2019-10-22 08:19] ibuziuk commented on #12999
@Ohrimenko1988 is this issue still reproducible ?

[2019-10-22 08:29] l0rd opened #14947 "Release Che v7.3.1"
### Is your task related to a problem? Please describe.

We plan to release Che version 7.3.1 with a few considered critical

### Issues/Commits that should be included in the release

- [x] PKIX error and impossible to start workspaces on OCP 4.1 https://github.com/eclipse/che/issues/13607
- [x] Theia remote plug-in runtime in sidecar container improvement https://github.com/eclipse/che/issues/13

[2019-10-22 09:03] mmorhun commented on #13671
Done

[2019-10-22 09:03] #13671 closed

[2019-10-22 11:45] tsmaeder commented on #14944
It seems that plugin activation is not happening in this case. Couple of datapoints:

1. It works with vscode-java 0.50 in plain Theia
2. Activation via the route "workspaceContains" does not work when the files in question (pom.xml and gradle) are added after the ide starts
3. It seems activation via "language:java" is not happening in Che.

[2019-10-22 11:52] skabashnyuk commented on #14897
I was wrong. It is actually used. https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/ImagePullSecretProvisioner.java

[2019-10-22 11:59] ibuziuk commented on #14947
@l0rd there is also https://github.com/eclipse/che/issues/14800 which we might also need to consider

[2019-10-22 12:28] amisevsk commented on #14946
@benoitf Yes, the everrest properties are used -- this is just the output of a script to review. I think some properties are left over from the Che 6 workspaces deprecation.

[2019-10-22 12:32] RickJWagner opened #14949 "Allow use of 'Organizational CA'"
### Is your enhancement related to a problem? Please describe.
Some institutions use a self-provided Certificate Authority ('Organizational CA').  They will have use cases like "wildcard cert signed by our internal CA on the ingress controller".
Please ensure Che works effectively in such an environment.

### Describe the solution you'd like
Wish List #1:  Everything just works after proper instal

[2019-10-22 12:36] tsmaeder commented on #14944
Changed title: Java commands are not registered, which indicates that the vscode-java extensions is never started. Also: plugin activation are not visible in the browser log.

[2019-10-22 12:54] #13737 closed

[2019-10-22 13:10] mmorhun commented on #14942
Yevhen and I did additional testing and it turned out that the root problem is in activation events. Due to some reasons the `activate` method wasn't called.

[2019-10-22 13:33] sudheerherle opened #14954 "Using self signed certificate"
## Summary

## Relevant information
Is there a way to use self signed certificate instead of what we get from the Let's encrypt?

[2019-10-22 13:38] sleshchenko commented on #14954
@sudheerherle yeah, it's possible. Could you provide more info about your target cluster? Is it K8s or OpenShift?

[2019-10-22 13:58] anthonma commented on #14932
I can build the new version now, but don't deploy it. When I try to do so I get this error:
[code]

I'm using this command to deploy:
[code]

[2019-10-22 14:07] sultanmunaver commented on #14954
It is a K8 cluster built on AWS using kops and we would want to use AWS ACM Certificates please.

[2019-10-22 14:32] sultanmunaver commented on #14954
This is the error which we are getting - please know that we are following the document " https://www.eclipse.org/che/docs/che-7/deploying-che-on-kubernetes-on-aws/ " to create the eclipse che.

However we have added AWS Certificates arn in the loadbalancer engress service.yaml file .

xpresside@xpresside-VirtualBox:~/Documents/xpresside.com.kops.yaml$ chectl server:start --platform=k8s --installe

[2019-10-22 14:39] akurinnoy commented on #14800
@amisevsk @l0rd

Obviously, `factory plugin` can't skip that first level directory for each zip project.
We could somehow analyze the content of an archive or it's location and decide then whether we need to skip that folder or not. But this way is error prone.
Personally I would like to have a new field for a project section in devfile which shall indicate that first level folder should be skippe

[2019-10-22 14:58] tsmaeder commented on #14944
I am having trouble reproducing now. However, one thing I noticed is that in the plugin host image output, the line

[code]

Was missing when the initialization failed. The log comes from plugin-host-rpc.ts#135, and indirectly from PluginManagerExtImpl#$start(), which is in plugin-manager.ts#155.
It seems like in HostedPluginSupport#startPlugins() not all plugin managers are found to call $start o

[2019-10-22 15:34] dmytro-ndp opened #14955 "Build of Eclipse Che is unstable on Codenvy CI"
### Describe the bug
Eclipse Che build failed on unit test `org.eclipse.che.api.workspace.server.hc.ServersCheckerTest` because timeout succeeded:
https://ci.codenvycorp.com/job/che-pullrequests-build/8142/

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

[2019-10-22 15:38] ssh24 commented on #14897
@skabashnyuk It still didn't work. Where is the docker registry url field in https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/ImagePullSecretProvisioner.java#L114

[2019-10-22 15:44] nickboldt commented on #14947
Downstream impact: https://issues.jboss.org/browse/CRW-318

[2019-10-22 15:51] echvsg opened #14956 "Not able to install eclipse che V7 in azure cloud environment"
## Summary
Not able install the eclipse che v7 in azure environment.
## Relevant information
I have followed the exact instructions from the eclipse che website to set up in the azure environment and I am stuck at this below error.

Followed the detailed steps as mentioned in this link **(https://www.eclipse.org/che/docs/che-7/installing-eclipse-che-on-microsoft-azure)**.

The domain name that I h

[2019-10-22 16:55] sushmithakumar commented on #14930
Any answers?

[2019-10-22 17:29] arajkumar commented on #14942
I did a quick test & it works in my minishift instance. I tried it with "next" channel,
<img width="1792" alt="Screenshot 2019-10-22 at 10 55 57 PM" src="https://user-images.githubusercontent.com/3874763/67312728-752a2b80-f51f-11e9-902f-78634f2fac90.png">

[2019-10-22 17:45] skabashnyuk commented on #14897
For example API call

[code]

where dockerCredentials is base64 string

[code]
See https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/ImagePullSecretProvisioner.java#L110

[2019-10-22 20:10] nickboldt opened #14957 "[refactoring] Improve consistency in defaults.go variables"
In `defaults.go` at [L23-L26](https://github.com/eclipse/che-operator/blob/master/pkg/deploy/defaults.go#L23-L26) we use "CodeReady" as if it's a product to differentiate from "Che".

But at [L36-L52](https://github.com/eclipse/che-operator/blob/master/pkg/deploy/defaults.go#L36-L52) we use the "Upstream" convention to differentiate Che from CRW config.

This is bad code smell but not technically

[2019-10-22 21:32] tomgeorge opened #14958 "Workspace cannot start in airgap mode because the workspace container names are too long"
### Describe the bug

When running in airgap mode, the che server uses the fully qualified image name for the containers running inside a workspace pod (e.g. `default-image-registry-openshift-image-registry.svc.cluster.local-myplugin`).  This goes over the 63 character limit imposed here https://github.com/eclipse/che/blob/e598e2279b4b35f9684b9f2540adc91bcd7885da/infrastructures/kubernetes/src/mai

[2019-10-23 05:47] l0rd commented on #14946
@amisevsk that is just a small list of unused property right? For instance we still have a lot of `che.docker.*` properties that should be removed.

[2019-10-23 06:03] mmorhun commented on #14942
It sometimes works, sometimes not. If you have projects cloned - probably it will work. Better chance to reproduce the issue is to create a new workspace with some projects, which are cloned after workspace start.

[2019-10-23 06:28] l0rd commented on #14949
We have already done some work https://github.com/eclipse/che/issues/13869#issuecomment-518946736 but I don't think we have documented it yet (cc @skabashnyuk @sleshchenko).

This is related to https://github.com/eclipse/che/issues/14742 and @vparfonov team's is also working git + tls https://github.com/eclipse/che/issues/14527

[2019-10-23 06:33] l0rd commented on #14954
@sultanmunaver have you added the tls secret in the che namespace as mentioned in the error message?

[code]

You can find more informations here https://github.com/eclipse/che/issues/13869#issuecomment-518946736

[2019-10-23 06:35] l0rd commented on #14955
@dmytro-ndp how frequent is the error? I am setting P1 assuming that it's something new that is happening quite frequently.

[2019-10-23 06:37] sleshchenko commented on #14954
@l0rd It may be a workaround but AFAIU @sultanmunaver configured ingress loadbalancer with certificates and there is no need to provide the same certificate for Che (it's something similar to what we do with OpenShift, just enable TLS with default load balancer certificate).

@sultanmunaver Can you confirm? Can you provide yaml of Ingress with TLS that should work fine on your installation?

[2019-10-23 06:39] l0rd commented on #14956
@sagargrsi can you be more precise: on [which step of the guide](https://www.eclipse.org/che/docs/che-7/installing-eclipse-che-on-microsoft-azure/) are you getting this error?

[2019-10-23 06:48] l0rd commented on #14958
Not sure why we are using the registry details to generate the container name but that looks like a bug. Setting severity P1 as that may prevent Che usage completely for some customers.

[2019-10-23 07:18] sultanmunaver commented on #14954
@l0rd - i published this cert from AWS, i am trying to find how i can generate the pem cert and key files for the same.

If u have any ref which i can follow to create the same will be appreciated.

I am waiting for the access to the document to go thru document 9 for aws from  #13869

[2019-10-23 07:18] sudheerherle commented on #13869
Somebody please provide access to the 9th document from @sleshchenko  comment above.

[2019-10-23 07:19] #14586 closed

[2019-10-23 07:33] mmorhun commented on #14942
Turned out that the presence of a project doesn't make it work in 100% cases...

[2019-10-23 07:51] skabashnyuk commented on #14931
I don't think that it's somehow related to LanguageServers. I tent to think that it's related to loader page. @akurinnoy wdyt?

[2019-10-23 07:57] akurinnoy commented on #14931
@skabashnyuk you're right, I'm adding IDE2 team label.

[2019-10-23 07:57] ibuziuk commented on #14930
Please, follow the official documentation with the  deployment instructions - https://www.eclipse.org/che/docs/che-7/che-quick-starts/

[2019-10-23 08:09] sushmithakumar commented on #14930
With the files what I have provided in the issue section.with that are u
trying bringing up is it?

On Wed, Oct 23, 2019, 1:28 PM Ilya Buziuk <notifications@github.com> wrote:

[2019-10-23 08:14] metlos commented on #14939
CI is our CI and TCK tests are tests within the che server that run a set of tests on multiple DBs.

[2019-10-23 08:16] metlos commented on #14939
Added a note to the description about the fact that this is a rare occurrence.

[2019-10-23 08:29] sleshchenko commented on #13869
@sudheerherle  it's already published to Che 7 docs, you should be able to find it here https://www.eclipse.org/che/docs/che-7/deploying-che-on-kubernetes-on-aws/

[2019-10-23 08:59] sultanmunaver commented on #14954
@sleshchenko

dude this is the ingress yaml config which i am using to configure my TLS for the laodbalancers with ACM certificate please.
[ec2-user@ip-172-31-90-16 microchip]$ cat service-l4.yaml
kind: Service
apiVersion: v1
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
  annotations:

[2019-10-23 09:08] ibuziuk opened #14959 "chectl: fail to start Che against crc (E_PLATFORM_NOT_READY)"
### Describe the bug
Trying to verify the https://github.com/eclipse/che-operator/pull/101 against crc keep getting:

  ✔ Verify Kubernetes API...OK (it's OpenShift)
  ✔ 👀  Looking for an already existing Che instance
    ✔ Verify if Che is deployed into namespace "my-crw-branding"...it is not
  ❯ ✈️  CodeReady Containers preflight checklist
    ✔ Verify if oc is installed...done.
    ✔ Verify if

[2019-10-23 09:22] fErten opened #14960 "Che 6 fails to run in multi-user mode"
### Describe the bug
Che-6.x.x versions fail to run in multi-user since all jboss/keycloak-openshift images have been removed from the docker hub.

### Che version
* Che 6.19.x

### Expected behavior

### Runtime
   * docker

### Additional context
Che 6.x versions uses  jboss/keycloak-openshift:3.4.3.Final image as a base for keycloak configuration however jboss migrate its hub to  jboss/keycloak

[2019-10-23 09:27] anthonma opened #14961 "Che two Cluster setup"
## Summary
Is it possible to set up che on two clusters, so that the one cluster is used for the che-server and the other one for the workspaces?
If so, I would appreciate some instructions in how to accomplish this.
## Relevant information
The cluster where the server should run is an openshift cluster.
For the other cluster it is not important if it is a openshift, a kubernetes or whatever clust

[2019-10-23 09:36] ibuziuk commented on #14959
It looks like crc specific issue. Basically, after `crc start`  OpenShift status is Stopped for some reason:

- crc start logs:

- crc status

[code]

[2019-10-23 10:09] #14766 closed

[2019-10-23 10:11] ibuziuk commented on #14947
Have also added - Workspace cannot start in airgap mode because the workspace container names are too long #14958

[2019-10-23 10:16] tsmaeder commented on #14944
Further info: the $start message seems to be sent to the remote plugin manager, but I don't see the init message that should be displayed if $start is indeed executed.

[2019-10-23 11:16] sudheerherle opened #14962 "How to open the default workspace after user logs in"
## Summary

## Relevant information
I would like to know if there is a way to open the workspace by default when user logs in instead of having user to select the woerkspace and clicking on "Open".

[2019-10-23 12:09] ibuziuk commented on #14265
@amisevsk could you please add deprecation note to the https://quay.io/repository/eclipse/che-golang-1.10 and I believe we can close the issue

[2019-10-23 12:21] l0rd commented on #14800
@amisevsk @ibuziuk you can use `git archive` instead of `zip`.

[2019-10-23 13:09] ibuziuk commented on #14959
Updating to the

Seem to fix the issue. Closing

[2019-10-23 13:09] #14959 closed

[2019-10-23 13:09] sagargrsi commented on #14956
Hi,
I am able to go thru all the steps but encountered error in this section - installing cert manager (https://www.eclipse.org/che/docs/che-7/installing-eclipse-che-on-microsoft-azure/#installing-cert-manager-on-azure_installing-che-on-microsoft-azure). I am getting stuck at the step 8 (Certificate issuance in progress. Temporary certificate issued.), it is not moving forward with the step 9 wher

[2019-10-23 13:19] ibuziuk opened #14963 "chectl is not compliant with the codeready deployment flavor / stucks at the PostgreSQL pod bootstrap (Post installation checklist)"
chectl stucks at the  PostgreSQL pod bootstrap (Post installation checklist)

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. start crc
2.  chectl server:start -a operator -p crc -b console-openshift-console.apps-crc.testing -n crw --che-operator-image=quay.io/ibuziuk/che-operator:che-14809 --che-operator-cr-yaml=crw.yaml
3. ERROR:
[code]
But

[2019-10-23 13:24] sleshchenko commented on #14963
@ibuziuk thanks for reporting it. It happens because of labels mismatching: chectl expects 'app=che,component=postgres' while crc postgres has `'app=codeready,component=postgres'`
https://github.com/che-incubator/chectl/blob/master/src/tasks/che.ts#L38

[2019-10-23 13:28] ibuziuk commented on #14963
@sleshchenko ah, ok  - so looks like chectl is not compliant with the codeready deployment flavour

[2019-10-23 14:16] dmytro-ndp opened #14965 "[che-theia] build failed because of disappearance of quay.io/buildah/stable:v1.11.3 image"
### Describe the bug
Build of "eclipse/che-remote-plugin-kubernetes-tooling-1.0.4:next" image failed
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-master-check-E2E-Happy-path-tests-against-K8S/388/consoleFull
[code]

There is no image `quay.io/buildah/stable:v1.11.3` in https://quay.io/repository/buildah/stable?tab=tags
![Screenshot from 2019-10-23 17-13-31](ht

[2019-10-23 14:18] richardmward opened #14966 "Updating installation when installed using helm"
## Summary
Hi. I am running my own installation of che on AWS having followed the instructions at https://www.eclipse.org/che/docs/che-7/deploying-che-on-kubernetes-on-aws/.

Now that there is a newer version of che available, I'd like to update. To do this, I tried running `chectl server:update -a helm` given the aws installation uses helm. Sadly this responds with "Error: 🛑 The specified install

[2019-10-23 15:02] azatsarynnyy commented on #14965
The PR has been proposed https://github.com/eclipse/che-theia/pull/509

[2019-10-23 15:09] nickboldt commented on #14927
PR to make this happen https://github.com/eclipse/che-plugin-registry/pull/264

[2019-10-23 15:27] DStatWriter opened #14967 "[Doc] Che 7 Doc - Updated Che4Z install page to include full install instructions"
Updated Che 7 doc - Che4z install page to include full install instructions

[2019-10-23 15:44] azatsarynnyy commented on #14965
`buildah/stable:v1.11.3` is on quay.io now. :tada:
See https://github.com/containers/buildah/issues/1943#issuecomment-545504729

[2019-10-23 15:49] #14965 closed

[2019-10-23 16:33] LouisKottmann opened #14968 "Error: contexts[16].context.cluster is missing"
### Describe the bug

When running ```chectl server:start --installer=helm --platform=k8s --tls --domain=code.mydomain.com --multiuser``` with a proper kubernetes config file, KUBECONFIG variable set, I get:

[code]

Mind you, my .kube/config has several clusters merged in it, but I did set the current context to the appropriate cluster.

### Che version

 - [x ] latest
 - [ ] nightly
 - [ ] other

[2019-10-23 17:36] amisevsk commented on #14800
PR open https://github.com/eclipse/che-devfile-registry/pull/127

@akurinnoy with the changes in the PR, no changes to the factory plugin are required.

[2019-10-23 21:49] #14800 closed

[2019-10-23 22:55] benoitf commented on #14962
Hello, If you use factory/devfile link, then a workspace is always created every time the user is clicking on the link

if you bookmark the link of a workspace, every time you go to the workspace it will load and if you disconnect you'll login and be redirected to this workspace

[2019-10-23 22:57] benoitf commented on #14963
hello, is someone already working on a fix ?

[2019-10-23 23:02] #11470 closed

[2019-10-23 23:48] l0rd opened #14970 "Support env, volumes, CPU limits and endpoints for every Devfile component type"
### Is your enhancement related to a problem?

Currently only components of type `dockerImage` support `env`, `volumes` and `endpoint` attributes. This is limiting the possible workspace scenarios using components of types kubernetes, openshift and che plugins.

### Describe the solution you'd like

- [x] Support `env` for components of type kubernetes/openshift #15121
- [x] Support `env` for comp

[2019-10-24 00:06] l0rd opened #14971 "Remove Che 6 specific doc from eclipse.org/che/docs"
### Is your task related to a problem? Please describe.

Users are still reading and following Che 6 documentation and are opening issues about features that don't work anymore or that we do not support.

### Describe the solution you'd like

In eclipse.org/che/docs we should only have the latest Che documentation.

### Describe alternatives you've considered

Move Che 6 documentation on a branch

[2019-10-24 00:10] l0rd commented on #14971
cc @themr0c @MichalMaler @rkratky

[2019-10-24 01:04] ctday commented on #14255
No solution? No work around?

[2019-10-24 05:58] vinokurig commented on #14917
fixed by https://github.com/eclipse/che-docs/pull/861

[2019-10-24 05:58] #14917 closed

[2019-10-24 06:14] skabashnyuk commented on #14966
@sleshchenko @monaka any ideas about that?

[2019-10-24 06:51] skabashnyuk commented on #14255
Hello @ctday . There is no solution yet. AFAIK nobody working on it at this moment. Would you willing to help and propose a pr?

[2019-10-24 06:59] ibuziuk commented on #14961
@anthonma unfortunately, Eclipse Che does not support this functionality - both che-server and workspaces should run on the same cluster. However,  rh-che [1] (SaaS /  Eclipse Che hosted by Red Hat) does support this functionality. If you think that this is a valuable functionality for upstream, please open a feature request and we will prioritize it accordingly. It would be also great to understa

[2019-10-24 07:01] ibuziuk commented on #14963
no, I just build a custom binary by replacing che labels with codeready, but I can take care of this issue

[2019-10-24 07:39] #14892 closed

[2019-10-24 08:11] sleshchenko commented on #14966
@richardmward Chectl just set needed arguments for helm chart according to specified arguments.
Can you confirm that you use `chectl server:start --platform=k8s --installer=helm --domain=aws.my-ide.cloud --multiuser --tls` to deploy your Che? Then I'll provide a helm command with the right arguments to do update to new version. Also, which Che version you'll like to use? 7.3.0?

[2019-10-24 08:28] #14585 closed

[2019-10-24 08:38] sleshchenko opened #14973 "[chectl] Support helm installer for server:update command"
### Is your enhancement related to a problem? Please describe.
Support helm installer for server:update command.

### Describe the solution you'd like
Support helm installer for server:update command.
The difficulty I see here: it's not clear how to handle values.
The easiest solution I see: user must specify exactly the same arguments that they specified during for `server:start`, like `server:st

[2019-10-24 08:46] sleshchenko opened #14974 "chectl: server:update should provide an ability to update Che Server configuration"
### Is your enhancement related to a problem? Please describe.
Currently, server:update only applied installer resources and update images version.
It would be nice if it also allows user to update Che Server configuration with different arguments that user is able to use for `server:start`, like `--multiuser`, `--tls`, `--self-signed-cert`, etc.

[2019-10-24 09:29] dmytro-ndp commented on #14944
The error has been fixed by PR https://github.com/eclipse/che-theia/pull/508

[2019-10-24 10:05] azatsarynnyy commented on #13702
Fixed for K8s in https://github.com/eclipse/che-theia/pull/510
For OpenShift, will be a separate issue if needed.

[2019-10-24 10:05] #13702 closed

[2019-10-24 10:06] azatsarynnyy commented on #13316
Fixed for K8s in https://github.com/eclipse/che-theia/pull/510
For OpenShift, will be a separate issue if needed.

[2019-10-24 10:06] #13316 closed

[2019-10-24 10:08] tsmaeder commented on #14942
While the merged PR fixes the immediate problem, I think we should do some follow-up work:

1. We cannot trace remote method invocations: console.log, etc. are redirected, so logging messages leads to infinite loop
2. From the exception stack trace about the "onDidDeploy" it's completely unclear that this will break plugin container initialization, can we please add a try/catch covering the critic

[2019-10-24 10:48] #14803 closed

[2019-10-24 10:59] sleshchenko commented on #14966
@richardmward
1. Checkout to https://github.com/eclipse/che/commit/2663460287286f2e04c6d50af7817dd0aa2de553 <- 7.3.0 release
2. Execute:
[code]
^ set your repo path into CHE_REPO
Also I assume you should use your own domain instead of example one `aws.my-ide.cloud`

[2019-10-24 11:05] sleshchenko opened #14976 "chectl: add an ability to debug Che Server"
### Is your enhancement related to a problem? Please describe.
Debugging of Che Server requires additional settings:
1. `CHE_DEBUG_SERVER` env vars.
2. Tuning of readiness/liveness probes to avoid container killing when breakpoint is set.

So, it makes me think that chectl could have `--debug` argument for `server:start`, `server:update` commands.
Also, as an additional sugar we could implement `s

[2019-10-24 11:14] sleshchenko opened #14977 "chectl: released chectl deploy some nightly images when helm is used as installer"
### Describe the bug
Released chectl from stable channel deploys some nightly images (plugin-registry/devfile-registry/keycloak/postgres) when helm is used as installer.
Missing arguments for helm chart:
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Download released chectl from stable channel like [7.3.0](https://github.com/che-incub

[2019-10-24 12:01] #14615 closed

[2019-10-24 12:32] tsmaeder opened #14978 "Undo forwarding of log to Theia output"
I would like us to undo https://github.com/eclipse/che-theia/pull/498 . The reason for this is that it makes it impossible to log anything to the console about what messages are being sent and received from by the plugin host.
The reason is that the pull request redirects the node console and sends messages via the same channel that we're trying to log about: this leads to a stack overflow.
Also,

[2019-10-24 12:58] rhopp opened #14979 "[chectl] Enable change of label selector for che components"
### Is your enhancement related to a problem? Please describe.
Chectl has now fixed selectors for looking up different components of che deployment, such as for example [`postgresSelector = 'app=che,component=postgres'`](https://github.com/che-incubator/chectl/blob/59c4f54b5e1f8412ad90b6cd1bf43e96cd612d89/src/tasks/che.ts#L38).
This is causing problems, when chectl is used for deploying CRW, as CR

[2019-10-24 13:01] rhopp commented on #14979
Duplicate of https://github.com/eclipse/che/issues/14963 - Closing

[2019-10-24 13:01] #14979 closed

[2019-10-24 13:02] rhopp commented on #14963
Downstream issue: https://issues.jboss.org/browse/CRW-437

[2019-10-24 13:04] benoitf commented on #14963
@ibuziuk OK so I should assign osio team backlog ?

[2019-10-24 13:04] nickboldt commented on #14963
See also https://issues.jboss.org/browse/CRW-328 re: productized chectl.

[2019-10-24 13:09] tsmaeder commented on #14978
@benoitf was there a reason you introduced this beyond convenience?

[2019-10-24 13:28] ibuziuk commented on #14963
@nickboldt @benoitf che/osio can prioritize this issue for the next sprint
@l0rd wdyt? I believe we do not need to cretate specific `codeready-workspaces-chectl` (vanilla chectl can handle both falvours )

[2019-10-24 13:43] anthonma commented on #14961
Thank you for your response. I will take a look at rh-che, if it fits my requirements. If not I will think about opening a feature request.

[2019-10-24 14:02] ibuziuk commented on #14947
Adding - chectl is not compliant with the codeready deployment flavor / stucks at the PostgreSQL pod bootstrap (Post installation checklist) #14963

[2019-10-24 14:24] DStatWriter opened #14981 "[Doc] Che 7 - Eclipse Che4z Install page update inc suggested changes"
Changes suggested by themr0c and rkratky applied with thanks

Signed-off-by: Daniel Statham daniel.statham@broadcom.com

[2019-10-24 14:33] akurinnoy opened #14982 "Branding works incorrectly"
### Describe the bug

With new branding.json favicon and logo in Dashboard remain unchanged.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `

[2019-10-24 14:36] nickboldt commented on #14982
Bump to blocker; need this for CRW 2 / Che 7.3.1.

[2019-10-24 14:38] nickboldt commented on #14947
Can we add Che Theia Dependency Analytics plugin doesn't work https://github.com/eclipse/che/issues/14942 too?

[2019-10-24 14:51] g3ngar commented on #14789
I think it's because `/projects` does not have write permissions for user `user`. I do not want to install kubernetes and I can't find docker instructions in the che 7 documentation, that's why I'm using che 6. Is any workaround for this issue?

[2019-10-24 14:54] dmytro-ndp opened #14983 "[che-theia] build of che-theia image is unstable on `node-gyp install` step"
### Describe the bug
che-theia build sometimes fails on `node-gyp install` command, for example:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/417/console:
<details>
 <summary>CRW CCI build log</summary>
 <pre>
$ node-gyp install
gyp info it worked if it ends with ok
gyp info using n

[2019-10-24 15:04] sparkoo commented on #14888
cc: @skabashnyuk @l0rd
Did I miss something important? Is service discovery by labels ok like this?
I want to look at needed permission in case we run all in one project. I guess we would need same permissions, but just for one project, but I haven't tested that.

[2019-10-24 15:29] tomgeorge opened #14985 "Che operator does not resolve the pvc jobs image properly in airgap mode"
### Describe the bug

The che operator does not properly patch the pvc jobs image in air gap mode

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.3.0

### Steps to reproduce

When you clean up a che installation or a workspace in airgap mode, checking the image version of the pvc job image shows that it is still the `registry.redhat.io` version.

### Expected behavior

### Runtime

[2019-10-24 15:43] amisevsk opened #14986 "Inconsistent devfile selection in dashboard; no way to specify preferred devfile"
### Describe the bug
In Che 6 we had functionality to specify, through config, the default stack that is selected when creating a workspace. In Che 7, this appears to work in a much more strange way:

- Devfiles in the dashboard are sorted alphabetically
- The default selected devfile when entering the page is the first devfile in the `index.json`, which ends up being the [first subdirectory in `d

[2019-10-24 15:46] fErten commented on #14960
@benoitf is it something you want to fix any soon?

[2019-10-24 15:59] amisevsk commented on #14265
Note added.

[2019-10-24 15:59] #14265 closed

[2019-10-24 16:01] amisevsk commented on #14946
@l0rd The list is just a list of the properties whose only mention in the Che server codebase is in `che.properties`. While the `che.docker.*` properties should also probably be removed, they're not listed since they're still injected in a file somewhere.

[2019-10-24 16:19] #14926 closed

[2019-10-24 16:26] rkratky commented on #14294
I believe I've been able to fix the problem in https://github.com/eclipse/che-docs/pull/874 -- test, please.

[2019-10-24 16:27] rkratky commented on #14971
@l0rd, fixed in https://github.com/eclipse/che-docs/pull/874

[2019-10-24 17:56] RomanNikitenko opened #14987 "'Open Terminal in specific container' usability"
## Summary
`Open Terminal in specific container` action displays empty list of containers for case when user
has only tool containers.

![containers_list](https://user-images.githubusercontent.com/5676062/67511579-e55fbb00-f69f-11e9-843c-f5e9c9558a76.png)

Please see https://youtu.be/khkxUxTVgH0

Is it expected behavior?
May be for this case list of tool containers should be displayed without empt

[2019-10-24 19:31] LouisKottmann commented on #14968
I tried the command again on another computer that should have been identical and it worked fine.
Machines be trippin'

[2019-10-24 19:31] #14968 closed

[2019-10-25 05:19] svkr2k commented on #14563
Thank you @10rd. I would like to check if we can get any help with setting up eclipse che on EKS?

[2019-10-25 06:24] skabashnyuk commented on #14888
Is this some kind of standard or best practice or you just invent a new one?

[2019-10-25 06:51] skabashnyuk commented on #14960
@fErten is there any issue with migration to Che7 which we can help you? As far as I know, we have no hands available to help you with Che6 unless you are able to provide a patch.

[2019-10-25 06:53] skabashnyuk commented on #14960
Btw is these images were used https://hub.docker.com/r/eclipse/che-keycloak/tags?

[2019-10-25 07:02] skabashnyuk commented on #14955
Fixed in https://github.com/eclipse/che/pull/14975

[2019-10-25 07:02] #14955 closed

[2019-10-25 07:13] sparkoo commented on #14888
We can discover services by parameters listed here https://prometheus.io/docs/prometheus/latest/configuration/configuration/#service
Only suitable for us seems to be labels or annotations. If I understand differences between them, we should use annotations (which I've used in the example, just named it wrong in my comment).

[2019-10-25 07:28] #11818 closed

[2019-10-25 07:28] #13141 closed

[2019-10-25 07:28] #13143 closed

[2019-10-25 07:28] #13168 closed

[2019-10-25 07:28] #13171 closed

[2019-10-25 07:28] #13160 closed

[2019-10-25 07:59] azatsarynnyy commented on #14987
I don't think that hiding some part of the whole list is a good UX. I'd agree if it was a huge list of containers. But usually, it isn't. There're just several items.

Occasionally I see the questions, on Che MM channel, that there's no sidecar container in the list. Maybe it isn't obvious that one should hit the hotkey twice. I think it's an unnecessary complication today.

As far as I remember i

[2019-10-25 08:14] tolusha commented on #14943
It is here  [1]. We just need to move it to the wiki page

[1] https://docs.google.com/document/d/182PBN5LBNTlbhsqqsb5QHg9t5HNK3rSLrnIMPSGjyN0/edit#heading=h.dm46uakse4mn

[2019-10-25 08:26] sparkoo commented on #14888
I was able to reduce needed permissions. Now we only need `list` and `watch` for `services` resource. Update in prometheus config is:
[code]

[2019-10-25 08:28] mmorhun commented on #14942
When I mostly investigate the problem on my local minishift instance I've also tried to do it on che.openshift.io and the bug is reproducible there too (Che 7.1 with unchanged images). Steps:
1. Create a workspace for node express application (or any other stack with node)
2. Replace sample project with [che-theia](https://github.com/eclipse/che-theia)
3. Open workspace
4. Run analyzation on the r

[2019-10-25 08:44] benoitf commented on #14960
Here is failure when I'm trying to do that

@skabashnyuk why are you removing bug and severity ?

[code]

[2019-10-25 08:46] benoitf commented on #14960
@fErten
here is a workaround
[code]

and then restart the startup

[2019-10-25 08:46] tsmaeder commented on #14978
I have an idea on how to fix the problem.

[2019-10-25 09:28] benoitf commented on #14960
2 workarounds

workaround 1:
[code]

workaround 2:
I've also published it under `florentbenoit/jboss-keycloak-openshift:3.4.3.Final`
[code]

then restart che start

[2019-10-25 09:30] azatsarynnyy commented on #14987
@slemeur WDYT about dividing the list to two groups with a separator instead of hiding a part of the list?

[2019-10-25 09:34] benoitf commented on #14978
hello,

yes, it's to see the output from the IDE the log of all extension hosts including output of a VS Code extension

If I do `console.log('hello') in a VS Code extension` users expect to see the trace from the IDE without having to go into some openshift webconsole or kubectl commands.

I'm not sure to fully understand the request:
``
it makes it impossible to log anything to the console about

[2019-10-25 09:40] vinokurig commented on #14398
I tried to apply the fix described in https://github.com/eclipse/che/issues/14398#issuecomment-541173131 and found that it wouldn't work:
* Che doesn't allow to make file operations in the root directory:
https://github.com/eclipse/che/blob/7d56354a5efefe4ff7e9d961ee1ca5688acea478/deploy/kubernetes/helm/che/values.yaml#L70-L73
* Even if I set those values to 0, workspace didn't start.

[2019-10-25 09:53] dmytro-ndp opened #14988 "[chectl] 'workspace:start' command is not compatible with the CRW route"
### Describe the bug
There is hardcoded route names
https://github.com/che-incubator/chectl/blob/master/src/api/che.ts#L111 which fails start of workspace in CRW.

### Chectl version
next

### CRW version
2.0.0.Beta

### Steps to reproduce
Create test workspace in CRW using the command `chectl workspace:start --devfile=https://github.com/eclipse/che/blob/master/e2e/files/happy-path/happy-path-work

[2019-10-25 10:14] richardmward commented on #14966
To the best of my knowledge, that seems to have worked. Certainly I see a version `7.3.0` in the bottom left of the che interface. Is there anything else you would like me to look at to confirm it is all correct?

[2019-10-25 10:22] sleshchenko commented on #14966
@richardmward you can also execute the following command to make sure that all right images are run (keycloak, postgres, etc.)
[code]

[2019-10-25 10:37] sleshchenko commented on #14956
@sagargrsi Unfortunately, there is no clear hint of what can be wrong in your case.
Could you check that
[code]
if available for the certificate manager? It had to be created during the following step https://www.eclipse.org/che/docs/che-7/installing-eclipse-che-on-microsoft-azure/#creating-a-service-account-secret-on-azure_installing-che-on-microsoft-azure

[2019-10-25 10:42] richardmward commented on #14966
Yes, they all state as being at 7.3.0.

I notice within a workspace (created from the `nodejs-web-app` sample) I am getting an error on the plugins tab "Your registry is invalid". If i go to the URL that is defined as being the registry, it returns the registry listing.

I don't know if this error was present before the upgrade or not - so could well be completely unrelated, and am happy to raise

[2019-10-25 10:46] sleshchenko commented on #14966
@richardmward Could you please check Developer Tools of browser? Are there failed requests from Dashboard to plugin-registry?

P.S. Also, could you please take a look here https://github.com/che-incubator/chectl/pull/340#issuecomment-546254174 I need your help and it should be easy to do.

[2019-10-25 10:54] ibuziuk commented on #14809
PR https://github.com/eclipse/che-operator/pull/101 merged, Closing

[2019-10-25 10:54] #14809 closed

[2019-10-25 11:03] richardmward commented on #14966
I see no failed requests from the dashboard to plugin-registry in the browser. I can see a number of INFO logs about it succesfully loading what I assume are the default plugins (ports-plugin, theia-containers-plugin, task-plugin, and many more).

In terms of error logs, I have

- `GET https://che-che.che.intechnology-plc.co.uk/api/permissions/system 404`
- `VM1749:1 GET https://che-che.che.intech

[2019-10-25 11:09] fErten commented on #14960
@benoitf  I've tried;

[code]

Then restart the cli, however, I am getting this error;
[code]

As a first attemp, I have tried to edit `dockerfiles/cli/versions to use jboss/keycloak:3.4.3.Final` but got the same error..

[2019-10-25 11:10] sagargrsi commented on #14956
@sleshchenko Yes, i have verified and created the client_secret key before applying cluster-issuer and certificate. Do you think any other additional step/instruction  that is required is missing in the documentation?. I am creating this in a brand new environment and no other dependencies exists.

[2019-10-25 11:30] #14982 closed

[2019-10-25 11:37] sleshchenko commented on #14956
@benoitf and me tested it on vanilla Azure K8s installation without dependencies as well. Maybe something is lost during docs migration, maybe something changed.
As an alternative, I can propose you to generate let's encrypt wildcard certificate by hand and provide it for che with secret. And then you would need to regenerate them manually after expiring.

The issue you faced is not really related

[2019-10-25 11:47] DStatWriter opened #14989 "[Doc] Che 7 - Che4z install expanded"
Expanded install inc suggested commits

[2019-10-25 11:48] sagargrsi commented on #14956
@sleshchenko, can you please send me the instructions to generate the certs DNS validation manually for azure cloud specific. We have to get this working in azure only.
I was trying to see if any one encountered the same issue but not finding enough posts/links to debug further. The nslookup against the ACME Challenge domain name is also working but the cert is not moving from temporary to final s

[2019-10-25 11:51] sleshchenko commented on #14966
Sure! It's fine.
Do you think I can send somehow binaries safety or maybe you run chectl code from my brach, not much is required, maybe you already have dependencies like nodejs, yarn?

@richardmward Could you do share `kubectl get configmap che -n che | grep CHE_WORKSPACE_PLUGIN__REGISTRY__URL`

[2019-10-25 11:55] sleshchenko commented on #14956
@sagargrsi
I created certificate manually with certbot
[code]
Create TLS secret for che
[code]
and everything works just fine.
**From** https://github.com/eclipse/che/issues/13869#issuecomment-515964724

[2019-10-25 12:00] tsmaeder commented on #14978
@benoitf better now?

I would argue that they expect the console to be shown on stdout.

[2019-10-25 12:05] sagargrsi commented on #14956
@sleshchenko
I just have to add these additional steps to go thru the DNS wild card challenge along with the existing documentation?

[2019-10-25 12:07] #13387 closed

[2019-10-25 12:07] richardmward commented on #14966
I get no output from that command. If i remove the piped grep I only see:

[code]

---
If you gave me the instructions to build / run from the branch, I think that would be fine.

[2019-10-25 12:09] sleshchenko commented on #14956
It's an alternative for steps `Enabling the TLS and DNS challenge on Azure` and `Creating a Service Account Secret on Azure`.
Since you already tried to automate certificate generation process, I suppose it should work after you remove cert and tls secret
[code]

After that you can jump to
https://www.eclipse.org/che/docs/che-7/installing-eclipse-che-on-microsoft-azure/#installing-che-on-azure-usi

[2019-10-25 12:11] sleshchenko commented on #14966
Sorry, it's really my fault. -o=yaml is missing. So, the following should be better
[code]

[2019-10-25 12:18] richardmward commented on #14966
`  CHE_WORKSPACE_PLUGIN__REGISTRY__URL: https://plugin-registry-che.<aws.my-ide.cloud>/v3`.

[2019-10-25 12:22] benoitf commented on #14978
@tsmaeder yes better.

AFAIK when using the logger and console.log it's fine no ?
https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin-remote/src/node/plugin-remote-init.ts#L126
https://github.com/eclipse-theia/theia/blob/master/packages/plugin-ext/src/hosted/node/plugin-host-rpc.ts#L78
b/c we see these traces

I would say that logging into the main process you see

[2019-10-25 12:23] sleshchenko commented on #14966
Seems just fine. Can you confirm that if you open `https://plugin-registry-che.<aws.my-ide.cloud>/v3/plugins` you get index.json with plugins list?

[2019-10-25 12:26] richardmward commented on #14966
Yes, I do. I guess if this isn't an issue others are seeing, the most likely difference to most setups will be the fact I am using a self signed cert. Perhaps that hasn't be set somewhere it needs to be.

[2019-10-25 12:27] sleshchenko commented on #14966
Did you import your self-signed CA into the browser?

[2019-10-25 12:38] tomgeorge opened #14990 "Devfile and plugin registry image regex doesn't recognize registry URLs that have a colon"
### Describe the bug

When running the devfile and plugin registries in offline mode, and the image registry you are using has a port e.g. `myhost.registry:5000`, the regex to update the image references will not substitute everything properly, causing the offline che installation to try to pull images from the wrong spot.

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.3.0

### Ste

[2019-10-25 12:47] richardmward commented on #14966
Yeah. Am using chrome, and che opens without any certificate warnings.

![image](https://user-images.githubusercontent.com/688465/67572348-f2c38680-f72d-11e9-8368-b8ccf188d76c.png)

[2019-10-25 12:50] sleshchenko commented on #14966
@richardmward The certificate for che-plugin registry is marked by Chrome secure as well?

[2019-10-25 13:02] richardmward commented on #14966
Yes

[2019-10-25 13:06] JeanMGirard commented on #13871
You can go in your user folder and delete the "Template" folder, that will fix your issues. Also it is system protected and hidden so you will have to go in your explorer options and uncheck "hide operating system files" to see it

[2019-10-25 13:10] ibuziuk commented on #14988
@dmytro-ndp if you do not mind I will close this one as a duplicate of https://github.com/eclipse/che/issues/14963

[2019-10-25 13:10] amisevsk commented on #14990
PRs open

[2019-10-25 13:11] #14988 closed

[2019-10-25 13:12] scela opened #14991 "Autocompletion does not propose variable names if cursor between brackets"
In this scenario the auto completion only proposes overloaded println methods and not the variable 'variable'.
![](https://files.slack.com/files-pri/T027F3GAJ-FP96A5XNF/image.png)

@ibuziuk said that if you type the first character it does propose it :

![](https://files.slack.com/files-pri/T027F3GAJ-FPNUHMLB0/image.png)

[2019-10-25 13:15] sleshchenko commented on #14966
Then I don't have an idea why `Your registry is invalid` may happen.
let's close this issue since seems the described issue is solved and feel free to open a new one with detailed description, maybe exported HAR from Chrome

[2019-10-25 13:19] #14966 closed

[2019-10-25 13:21] ibuziuk commented on #14963
[code]

Changes required for making chectl compatible with `codereaady` - https://github.com/che-incubator/chectl/compare/master...ibuziuk:che-14963?expand=1

[2019-10-25 13:23] ibuziuk commented on #14991
@tsmaeder put a `P2` label for now

[2019-10-25 14:04] sagargrsi commented on #14956
@sleshchenko
Can you give permission to view the google document that was created for azure?
https://docs.google.com/document/d/1WSB5VTS0sBask5lE0pyhH5Gp-8qC4xXr8NgckF0b0Z8/edit

[2019-10-25 14:06] sparkoo commented on #14888
I've successfully scraped metrics from che workspaces with no changes except building my own theia image with metrics plugin. Theia expose metrics endpoint at `:3100/metrics` so we already have service for that.

Then I've configured prometheus so it discovers services with following rules:
 - service annotation `org.eclipse.che.machine.name` matches regex `theia-ide(.*)`
 - service label `che.wor

[2019-10-25 14:09] sleshchenko commented on #14956
@sagargrsi I'm not the owner of that document. Could you share your email here or in Eclipse Mattermost and I believe I'm able to give you read-only access.

[2019-10-25 14:09] sleshchenko commented on #14956
cc @benoitf AFAIS you're codeowner

[2019-10-25 14:12] sagargrsi commented on #14956
@sleshchenko, @benoitf : Here is my email address(sagar.gadamsetti@gmail.com).

[2019-10-25 14:18] ibuziuk commented on #14990
PRs are merged @amisevsk @tomgeorge can we close the issue now?

[2019-10-25 14:38] tomgeorge commented on #14990
yes, this can be closed

[2019-10-25 14:38] #14990 closed

[2019-10-25 14:48] azatsarynnyy commented on #13406
The upstream issue https://github.com/redhat-developer/vscode-openshift-tools/issues/1249

[2019-10-25 14:48] azatsarynnyy commented on #13410
The upstream issue https://github.com/redhat-developer/vscode-openshift-tools/issues/1249

[2019-10-25 15:16] apupier opened #14992 "Update XML VS Code extension in registry to 0.9.1+"
### Is your enhancement related to a problem? Please describe.

needed to avoid vulnerability https://www.shielder.it/blog/dont-open-that-xml-xxe-to-rce-in-xml-plugins-for-vs-code-eclipse-theia/ (even though I think that the mentioned exploit is not a big problem in Che context)

### Describe the solution you'd like
upgrade to 0.9.1

### Describe alternatives you've considered

### Additional cont

[2019-10-25 15:59] benoitf commented on #14956
@sagargrsi Permissions granted

[2019-10-25 16:14] amisevsk commented on #13193
Che 7 is not designed to be run directly on docker, the supported platforms are Kubernetes (for local you can use `minikube`) and OpenShift (locally: `minishift`, `crc`)

[2019-10-25 20:00] sparkoo commented on #14888
Here's what's needed to monitor all workspaces in the cluster. I've tested on minishift.

1. run minishift login as `system:admin` _(we have to create `ClusterRole` and `ClusterRoleBinding` for service discovery)_
1. create new project`oc new-project monitoring`
1. create new app from the template. This deploys prometheus with needed configuration and permissions `oc new-app https://gist.githubuse

[2019-10-25 20:18] nickboldt commented on #14623
Since we're now reusing 7 stack images and only have 2 new side car images, the above process may instead be simplified to:

- [x] update existing [rebuild-all-rhpkg-container-builds](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/CRW_CI/view/Releng/job/rebuild-all-rhpkg-container-builds/) job to include these new plugin images
- [ ] add 2 sync jobs for openshift and kub

[2019-10-25 20:25] nickboldt commented on #14489
Dupe of https://github.com/eclipse/che/issues/14963

[2019-10-25 20:25] #14489 closed

[2019-10-25 20:44] nickboldt commented on #14637
List of images in devfile reg:

[code]

List of images in plugin reg:

[code]

[2019-10-25 22:46] nickboldt commented on #14942
Will this be included in 7.3.1? Or is it slipping because not done by EOD Oct 25?

[2019-10-27 04:26] sagargrsi commented on #14956
@sleshchenko: Do you have any certbot installation instructions that work on azure cloud shell?  There is no sudo permissions from the azure cloud shell.

[2019-10-27 19:18] sagargrsi commented on #14956
@sleshchenko : I have used the following command to install in azure cloud shell.
pip install certbot-azure --user
Even after installing certbot-azure, I am getting "certbot: command not found" error. Is there any way to work this without installing the certboot?

[2019-10-27 20:18] l0rd opened #14993 "Specify and use OLM relatedImages in the operator"
### Is your enhancement related to a problem?

There is a new convention to specify the images that an operator and the operand will need that provide a better offline support on OCP 4.3: [the spec document](https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/contributors/design-proposals/related-images.md)

### Describe the solution you'd like

As mentioned in the pro

[2019-10-28 07:07] sleshchenko commented on #14956
@sagargrsi

You don't need certbot installed on azure cloud. You should be able to install cerbot locally, generate certificate and then upload it to azure k8s as secret. Sounds like it should work for you?

[2019-10-28 07:53] anthonma opened #14994 "Can't install Plugins via Custom Plugin Registry"
### Describe the bug

I'm trying to install a plugin via my custom plugin registry.
If I try to do so, the worspace gets stuck when restarting after the installation has completed at:
[code]
A manual restart leads to that error:
[code]

I have deployed it via the command given in the official docs:
[code]
I just had to change $\{...} to ${...}, because with the \ I get a command not found error.

[2019-10-28 07:55] anthonma commented on #14932
I have put the things I wrote above in a new issue for better readability and understanding (#14994)
So I will close this one.

[2019-10-28 07:55] #14932 closed

[2019-10-28 08:23] dmytro-ndp opened #14995 "E2E Happy path tests fails on validation of autocomplete"
### Describe the bug
E2E happy path tests are constantly failing on "Language server validation" step:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2726/
<details>
 <summary>Language server validation failure</summary>
 <pre>
################## Launch Information ##################

[2019-10-28 08:44] benoitf commented on #14960
@fErten :
[code]

I didn't tell to use this workaround. In your case you just replace keycloack-openshift image by keycloak image but it's not the same, as you can see in https://github.com/keycloak/keycloak-containers the first one was extending the second one.

If you follow my workarounds, it's working fine

[2019-10-28 08:56] PointerTan opened #14997 "How to launch Che (eclipse-che-7.0.0-rc-4.0) and debug?"
I read the document: https://github.com/eclipse/che/wiki/Development-Workflow,-Che-7
But I can't start the assembly from "assembly/assembly-main/target/eclipse-che-7.0.0-rc-4.0/eclipse-che-7.0.0-rc-4.0"
And I also didn't find a way to launch che-server locally and how to run it in a debug mode . I already launch Dashbroad project.
Is there any newer document?

## Summary

## Relevant information

[2019-10-28 09:11] ibuziuk commented on #14656
Related PRs:
- https://github.com/openshiftio/saas-openshiftio/pull/1340
- https://github.com/openshiftio/saas-openshiftio/pull/1341
- https://github.com/openshiftio/saas-openshiftio/pull/1342

[2019-10-28 09:23] themr0c commented on #14294
I tested eclipse/che-docs#874 and I confirm I found the issue fixed.

[2019-10-28 09:23] tsmaeder commented on #14992
@JPinkney could you update to latest in Che 7 and do a smoke test to make sure everything works?

[2019-10-28 09:28] JonasHelming opened #14998 "Is there a way to initialize workspace with a user specific private ssh key"
I would like to set up workspaces, which can directly checkout sources from a access restricted GitHub repo. AFAIK, there is currently no way to "single sign on". Therefore, the idea would be to use ssh authentification and initialized the users workspace with her private key. Does that sound feasible and is there maybe a mechanism for that?

[2019-10-28 09:39] themr0c commented on #14971
Removed from the codebase, but as the deployment does not remove old files, it is still possible to access che-6 documentation on the website.

[2019-10-28 09:54] tsmaeder commented on #14991
@scela This is obviously a jdt.ls problem, why not just open an issue on that repo?

[2019-10-28 10:05] #14985 closed

[2019-10-28 10:12] mmorhun commented on #14942
After rebase and the PRs merge I cannot reproduce the issue any more and the analytics plugin works for me (it fails to analyze Che and Che-Theia projects, but this is issue of the plugin itself).
Unfortunately we didn't find the root cause of this issue. The problem didn't have reliable steps to reproduce and happened randomly. Also it was almost impossible to reproduce it in debug mode. Anyway,

[2019-10-28 10:12] #14942 closed

[2019-10-28 10:17] RomanNikitenko opened #14999 "[docs] Document preferences related to preview URL functionality"
### Is your task related to a problem? Please describe.
We've added [support for preview URL](https://github.com/eclipse/che/issues/14893) into the devfile. The feature is documented [here](https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-using-a-devfile/#command-preview-url).
We have ability to define in preferences preferred way of previewing a service URL, so we should add inf

[2019-10-28 10:19] scela commented on #14991
I'm using OSIO Che. Java functionality in OSIO Che has a bug. I file a bug in OSIO Che Java functionality. This is as far as you can expect from a well-meaning user not ignoring your bugs.

It's not obvious to me this is a jdt.ls problem. Could be jdt.ls, could be jdt.ls's integration to osio.che. Could even be JDT upstream.

This kind of firing back just because a user filed a bug on your repo wi

[2019-10-28 10:23] l0rd commented on #14971
@themr0c +1 to fix that but it's not a big problem so I am closing this issue.

Something I would like to discuss with you is about moving the content of the `pages/che-7/` to `pages/`.

There a couple of reasons for that:
1. Links like the getting started currently contain the `che-7` string but I want this link to continue to be valid even after che-7
2. When we release a Che 8 we are hopefully

[2019-10-28 10:23] #14971 closed

[2019-10-28 10:29] #13827 closed

[2019-10-28 10:45] sagargrsi commented on #14956
@sleshchenko: I was trying to install that as well. Do we have certbot installation for windows? I could not find those.

[2019-10-28 10:52] sleshchenko commented on #14956
@sagargrsi seems you're right and there is no certbot for windows. Maybe you can use https://certifytheweb.com/ or https://github.com/ebekker/ACMESharp instead but I'm not sure.

[2019-10-28 11:11] RomanNikitenko opened #15001 "Che preferences are not displayed after page refreshing"
### Describe the bug
`File` -> `Settings` -> `Open Preferences` displays preferences, `Che` preferences are displayed as well, but after page refreshing `Che` preferences are absent.

### Che version
latest

### Steps to reproduce

1. Go to `File` -> `Settings` -> `Open Preferences`
You can find `Che` preferences in the widget
2. Refresh page
You can see that the `Preferences` are restored, but `C

[2019-10-28 11:13] mjshashank opened #15002 "Profiling Che startup times and possible optimisations"
## Summary

I was trying to understand and profile Che workspace startup times.

Using the Jaeger deployment I could get a chart of the time spent on different activities while bringing up a single workspace. Below is the screenshot:

![Screenshot 2019-10-28 at 4 29 25 PM](https://user-images.githubusercontent.com/16825130/67673829-032f6780-f9a1-11e9-9228-91b0bdc0edb4.png)

Few questions/clarifica

[2019-10-28 11:14] #13993 closed

[2019-10-28 11:36] sagargrsi commented on #14956
@sleshchenko: I have verified the eclipseche installation documentation from the shared google
docs as well. It is same like from the eclipseche website. Perhaps something was missed or any dependency prior to starting those instructions? Meanwhile i will try the other two options you just mentioned.

[2019-10-28 13:17] #14657 closed

[2019-10-28 13:24] sleshchenko opened #15003 "[chectl] add a command to open Che Dashboard"
### Is your enhancement related to a problem? Please describe.
It's useful that minikube/minishift has `dashboard` command that opens dashboard URL in the default browser.
In case of Che, to find a URL of Che I have to get Che Ingress/Route.

### Describe the solution you'd like
It would be cool if chectl provides command like `dashboard` or `server:dashboard` that will open Che Ingress/Route URL.

[2019-10-28 13:59] tsmaeder commented on #14978
When I look at the sidecar for java, for example, I only see two process: plugin-remote-endpoint and the java language server. What other "extension host process" would we look at?

No, try putting a log output into rpc-protocol#remoteCall() and you'll see a stack overflow.

[2019-10-28 14:08] benoitf commented on #14978
you don't have logs of what extensions might log using console.log in their code.

Let's use the hello world generated by vscode yeoman generator, you'll see there are startup traces and developers/users might expect to see them from the IDE.

yes this is why I'm saying that remoteCall is not the place to log. (as you've issues as well for objects that might be referenced as well)

[2019-10-28 14:12] benoitf commented on #14978
you might want to try `process.stdout.write`

[2019-10-28 14:34] themr0c commented on #14971
I believe that it would be a great idea to switch to a system where versioning the documentation is possible, and where default entry point is latest documentation (see for example https://docs.ansible.com/ansible/latest/index.html or https://docs.antora.org/antora/2.1/features/). Then, as always, it will be a question of choosing priorities.

[2019-10-28 14:44] tsmaeder commented on #14978
why not, is there a second process being started that runs the plugins? Because I don't see one when I look at the plugin container of jdt.ls. So if the plugins log to the console, I should see it, right?

[2019-10-28 15:22] azatsarynnyy opened #15005 "[k8s plugin] cannot login to an image registry"
### Describe the bug

Kubernetes Che Plugin provides `Kubernetes: Run` command that needs to push a built image to a remote registry. When I try to login to the registry, I get the error:
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace with the Kubernetes plugin included.
2. Go to the plugin sidecar terminal and try to

[2019-10-28 15:31] tsmaeder commented on #14974
Does updating those properties now require an uninstall/install of che or can they be changed in the kubernetes config?

[2019-10-28 15:37] tsmaeder commented on #14976
Why not make the liveness probes, etc. respect the CHE_DEBUG_SERVER env var? Sounds like a simpler proposition.

[2019-10-28 15:42] tsmaeder commented on #14977
The release cycle of chectl is different from che itself: https://github.com/che-incubator/chectl/releases

Default is "nightly" even for using the operator, if that hasn't changed recently.

[2019-10-28 15:49] fErten commented on #14960
@benoitf - I see I was guessing the image configuration would be the same. From my point, it seems to be working and the issue can be closed. However, even though this is some kind of blocking issue for che-6 are you guys not planning to create solve it officially by maybe updating che/cli:6.19.0 to use another image as base so that it does not fail?

[2019-10-28 15:52] benoitf commented on #14983
AFAIK it's not fully fixed as it can be reproduced by QA

[2019-10-28 15:56] tsmaeder commented on #14989
@rkratky I guess you know what this is about.

[2019-10-28 16:00] tsmaeder commented on #14991
A quick test in VS Code shows the same behaviour.

[2019-10-28 16:02] l0rd commented on #14971
@themr0c yes that would be even better: every time we do a release, we do a documentation release as well. Even if from my experience it may not work well with google searches (i.e. the links to a specific old version comes up in the top results).

Anyway for now we may just move `/pages/che7/` to `/pages/latest` and have any request to `/pages/che7/` redirected to `/pages/latest/`?

[2019-10-28 16:13] tsmaeder commented on #14995
@dmytro-ndp can we get some logs, please? Does this reproduce by hand?

[2019-10-28 16:17] tsmaeder commented on #14998
I think we support this, right?

[2019-10-28 16:19] JonasHelming opened #15006 "Plugin installation fails from che-theia workspace"
I have a trial instance of openshift.io and a default workspace (Java maven). When I open the plugin view and click on "install" on any plugin, I get:
"Unable to install plugin 'redhat/php-debugger/latest'. Request addPlugin failed unexpectedly without providing any details."

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift (include output of `oc version`)

[2019-10-28 16:19] tsmaeder commented on #15001
If we save in this state, I suspect we would lose data? I think this is with the remit if IDE1 team, please forward if not appropriate.

[2019-10-28 16:21] tsmaeder commented on #15002
Workspace startup is a roadmap item.

[2019-10-28 16:59] dmytro-ndp commented on #14995
@tsmaeder: here the logs https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2726/artifact/logs-and-configs/workspace-logs/
It had been reproducing constantly during the weekend, but has unexpectedly stopped occurring at the middle of day https://codeready-workspaces-jenkins.rhev-ci-vms.en

[2019-10-28 17:29] JPinkney commented on #14994
@anthonma as a temp fix I was able to get around this by removing {{ .Values.chePluginSidecarOverride.* }} so instead of:

[code]

I had:
[code]

with those removals, I was able to deploy the registry successfully. I know it's just a temp fix but hopefully, that helps at least with getting it deployed!

[2019-10-28 18:27] tomgeorge commented on #14880
I think the devfile registry works in offline mode now since https://github.com/eclipse/che-devfile-registry/pull/131

[2019-10-28 18:33] ibuziuk commented on #14880
Closing as done

[2019-10-28 18:33] #14880 closed

[2019-10-28 20:49] amisevsk commented on #14994
My bad -- it's a typo in the helm chart (three `}` instead of two on the last line).

Should be fixed by PR https://github.com/eclipse/che-plugin-registry/pull/277 and similar for devfile registry: https://github.com/eclipse/che-devfile-registry/pull/134

[2019-10-29 06:55] sleshchenko commented on #14974
I believe changing kubernetes objects is enough. The only config we should not allow to reconfigure - `--multiuser` since data will be lost and it may be not something a user expects to see.

[2019-10-29 07:57] sparkoo commented on #14888
- I've tested on CRC without any issues, I've just followed steps I've described.
- I've updated my gist with example theia metrics output - https://gist.github.com/sparkoo/89fcb8e8c46720900cd89777f76d5347#file-example_theia_metrics

cc: @skabashnyuk

[2019-10-29 08:13] skabashnyuk commented on #14998
@vinokurig can you suggest some workaround?

[2019-10-29 08:16] skabashnyuk commented on #14997
At this moment  ```chectl``` way to install che doesn't provide an ability to run che-server in debug mode. The issue to track https://github.com/eclipse/che/issues/14976

[2019-10-29 08:23] SkorikSergey commented on #14227
Jenkins job for HappyPath test on OKD - https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che7-pr-happy-path-test-OKD/.

[2019-10-29 08:24] #14227 closed

[2019-10-29 08:28] sleshchenko commented on #14976
I'm not aware about such an ability in the out-of-box k8s probes mechanism. Could you share more about it?

[2019-10-29 08:31] sleshchenko commented on #14977
@tsmaeder nightly is the default for `next` channel, but in case of stable channel like [7.3.0](https://github.com/che-incubator/chectl/releases/tag/20191019081631) the operator will have 7.3.0 images. Updated description to make it clear.

[2019-10-29 08:35] skabashnyuk commented on #14888
@sparkoo could you please test this setup on OpenShift4 and k8s?

[2019-10-29 08:57] skabashnyuk commented on #14976
Rising to p1 since it's related to UX (https://github.com/eclipse/che/issues/14997) and dogfooding.

[2019-10-29 09:17] #11713 closed

[2019-10-29 09:18] themr0c commented on #14971
IMHO we should list somewhere all the things that we want to change in the way the documentation look like and is published:

* multiversioning:
  * default to latest released version.
  * old versions are accessible (with warning: "this is not the latest stable version")
  * master is accessible (with warning: "this is the development version")
* (accept) new style / css.
  * get rid of all these

[2019-10-29 09:38] tsmaeder commented on #14995
@dmytro-ndp do we have browser logs?

[2019-10-29 09:47] dmytro-ndp commented on #14995
@tsmaeder: here it is https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2726/artifact/e2e/report/Language_server_validation_Autocomplete/browserlogs-Autocomplete.txt

[2019-10-29 09:55] anthonma commented on #14994
I can deploy the plugin registry now, but it seems that it builds and deploys the custom registry, because none of my changes are visible in the plugins view. I added a plugin which isn't showing up and for test purposes I changed the description of a existing plugin, but this change isn't shown as well.
To build I use the build.sh, which is in the registry folder without any parameters.
To deploy

[2019-10-29 09:58] tsmaeder opened #15007 "Git Support Cannot Handle che-theia Self-Hosting Structure"
When following the self-hosting process laid out in https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md, you end up with nested git repositories (/projects/theia and /project/theia/che/che-theia.
If you do "Git: Open Repository" on the /projects/theia/che/che-theia folder with the theia project already open, the command has no effect: you still only have the "theia" git project availa

[2019-10-29 10:03] sparkoo commented on #14888
@skabashnyuk for k8s (minikube), I've prepared this List for Prometheus https://gist.github.com/sparkoo/89fcb8e8c46720900cd89777f76d5347#file-prometheus_list-yaml. There are no logic or configurations changes. Works fine, Prometheus discovered workspace services and is scraping the metrics without any issues.

OpenShift4 (crc) works with OpenShift template mentioned here https://github.com/eclipse

[2019-10-29 10:16] tsmaeder opened #15008 "Inconsistent Use of ILogger/Console in che-theia"
A search for "ILogger" and "console." reveals that we use both mechanisms for logging in che-theia/extensions.
We should replace all uses of console logging with logger calls (where at all possible). ILogger has the potential for filtering the log precisely (trace, debug), which helps pinpoint problems.

[2019-10-29 10:31] tsmaeder commented on #15007
There is a workaround: if you close all repos, then open che-theia first, you can then open the theia repo.

[2019-10-29 11:03] #14989 closed

[2019-10-29 11:04] DStatWriter commented on #14989
superceded

[2019-10-29 11:18] DStatWriter opened #15011 "[Doc] Che 7 - Install guide expanded"
Expanded install guide to substitute link with full guide.

[2019-10-29 11:30] sparkoo commented on #14695
- on k8s, `generateName` can be used only with `kubectl create`. When you have `generateName` field and try to use `kubectl apply`, it will fail with `from server for: "test.yaml": resource name may not be empty`.
 - k8s store generated `name` as well as original `generateName`
[code]
 - you can't update name of the object on k8s at all. It throws
[code]
 - we allow renaming the workspace so we di

[2019-10-29 11:33] sparkoo commented on #14695
we could provide similar logic as when creating the workspace
 - if `name` is defined, use that (even if there is `generateName`)
 - if ONLY `generateName` is defined, use that
 - if none -> error

Question is, whether we want to store `generateName` field? Does it have any practical use?

[2019-10-29 11:33] sparkoo commented on #14695
cc: @amisevsk @skabashnyuk @sleshchenko

[2019-10-29 12:33] dmytro-ndp opened #15012 "Define NodeJS Happy path tests scenario"
The issue about creation of NodeJS Happy path tests scenario similar to Java Happy path tests scenario https://github.com/eclipse/che/issues/12728

[2019-10-29 12:33] filipkroupa opened #15013 "Plugin Broker failed to start if userID contains :"
### Describe the bug
When starting workspace, workspace fails with error message:
`Error: Failed to run the workspace: "Plugins installation process timed out"`

In minikube cluster, che-plugin-broker is seen in status Init:Error.
Logs from container eclipse-che-init-plugin-broker-v0-22 say:
`2019/10/29 12:12:46 Expected runtime id to be in format 'workspace:env:ownerId'`

che-plugin-broker pod de

[2019-10-29 12:37] SkorikSergey opened #15014 "[Selenium] Adapt selenium tests from ocpoauth package"
Every workspace that was created by user logged by `Openshift OAuth` was created in namespace with this workspace id name. For now all workspaces are created in namespace with `{user_name}-che` namespace.

 We need to adapt selenium tests from **ocpoauth** package according to these changes.

[2019-10-29 12:42] nickboldt opened #15015 "[regression] Whitelabel support in Che 7 requires specific image names, where in Che 6 we could override with json"
### Describe the bug

In Che 6, we could use a product.json to override branding elements, like this:

https://github.com/redhat-developer/codeready-workspaces/blob/1.2.2.GA/assembly/assembly-dashboard-war/src/main/webapp/assets/branding/product.json.template

But with Che 7, we had to rename the images to use the Che 7 defaults:

https://github.com/redhat-developer/codeready-workspaces/commit/32c

[2019-10-29 12:50] nickboldt commented on #15015
Note: not a blocker for CRW 2.

[2019-10-29 12:53] skabashnyuk commented on #14695
cc @l0rd

[2019-10-29 12:55] skabashnyuk commented on #14695
My thought:

+1

We should not.

[2019-10-29 12:58] tsmaeder commented on #14995
Thanks @dmytro-ndp. The browser log shows a ton of lines like this:
[code]
A global search for the log text points to completion.ts#provideCompletionItems(42)

[2019-10-29 13:41] evidolob opened #15016 "Start analyze using local tools connected to Che workspace"
### We need to analyze different tools which we can use to connect Che workspace to local environment

We may use various tools to synchronize project files between Che workspace and local PC:

- SFTP(SSH FS)
- WebDav
- Rsync
- FTP
- KSync
- [kubectl-warp](https://github.com/ernoaapa/kubectl-warp)
...

[2019-10-29 13:42] evidolob commented on #15016
cc @slemeur

[2019-10-29 14:08] sleshchenko commented on #14379
I would like to leave one open question about introducing `metadata.namespace` into Devfile model:
1. Should it be mandatory?
  1.1. From K8s API perpective it's mandatory, null value indicates that it must be created in a default namespace[1]. And the default namespace usually must not be available for ordinary users.
  1.2. From Che perspective, I can not imagine a situation when we need to crea

[2019-10-29 14:26] tmds opened #15017 ".NET Core applications cannot be debugged"
### Describe the bug

.NET Core applications cannot be debugged.

### Che version

https://che.openshift.io

### Steps to reproduce

- Add default .NET Core stack (2.2).
- Start the debugger

### Expected behavior

Project can be debugged

### Actual behavior

The debugger fails to launch the application.
Debug console shows:
[code]

### Additional context

[2019-10-29 14:33] amisevsk commented on #14695
I don't really understand the purpose of `generateName`, to be honest; if I pass a devfile to a factory URL *without* generateName, e.g. [this](https://paste.fedoraproject.org/paste/0haT77q9z-AW5qA1mT6GVw/raw) I still get a generated name (`java-maventmpiz`).

When using devfiles from the registry (create-workspace tab), the name seems to be ignored and instead gets something like `wksp-xxxx`.

Is

[2019-10-29 14:35] filipkroupa commented on #15013
Error message shown in UI when starting using factory gives more details on runtimeID contents, seems the issue is ownerId containing colons:
[code]

[2019-10-29 14:37] DStatWriter opened #15018 "[Doc] Che 7 - Improved install guide for Che4z"
Expanded install guide for che4z instead of a simple link forcing user to click through.

[2019-10-29 14:56] tsmaeder commented on #14995
@dmytro-ndp the theia log contains the line
[code]
which indicates that the test is being run against a branch @tolusha is developing.

[2019-10-29 15:02] skabashnyuk opened #15020 "Describe in a documentation current state and different usacases of usage name and generatedName in Devfile"
### Is your task related to a problem? Please describe.
There are some confusing https://github.com/eclipse/che/issues/14695 in the usage of  ```name``` and ```generatedName``` in Devfile.

### Describe the solution you'd like
The goal of this task is to describe where we know in different use-cases (factory, workspace API). That could be a good starting point for the future improvement of these t

[2019-10-29 15:24] #13982 closed

[2019-10-29 15:27] dmytro-ndp commented on #14995
The test was actually run from master branch :-)

[2019-10-29 16:20] sunix commented on #13736
guys,
Looks like i can now open a terminal magically with firefox
![Eclipse Che | raffle-k972n - Mozilla Firefox_430](https://user-images.githubusercontent.com/650571/67787167-62a87880-fa70-11e9-8fc6-a673bf914806.png)

[2019-10-29 16:22] kameshsampath commented on #13736
yes it has been @sunix with firefox latest.

[2019-10-29 16:32] dmytro-ndp commented on #14995
Test was run from master branch, as well as Eclipse Che build. It could be checked [here in build logs](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2726/consoleFull):

Che-theia was loaded from **docker.io/eclipse/che-theia:next**, according to [kubernetes events](https://codeready

[2019-10-29 16:46] tsmaeder commented on #14995
I suspect that we are leaking images between pull request builds and regular builds. I can see the "pulling/pulled" in the log, but I think that would also be the case if the image was already present in the minikube docker env.
Are we making sure that either we always pull from remote or that images are evicted once the PR build is finished?

[2019-10-29 17:35] sunix opened #15021 "Make external URL of exposed endpoints of the workspace available as environment variable of all the containers"
### Is your enhancement related to a problem? Please describe.
For some applications with multiple containers, sometimes the frontend need to access to the backend from the browser. (For instance a React Native frontend would typically do that. But there is no way to retrieve the external url of a exposed endpoint.

The workaround at the moment is to copy from my workspace root manually and set th

[2019-10-29 17:49] l0rd commented on #15011
I @DStatWriter we need more details here. What's the link you are mentioning?

[2019-10-29 18:37] tomgeorge commented on #14426
Comparing che installed in the `che` namespace compared to the `default` namespace reveals that the `securityContext` gets set to `{}` in default, and is properly set in the `che` namespace:

[code]

[2019-10-29 18:49] l0rd commented on #14695
It looks like a dashboard issue that is not aware of generateName.

For the update flow I am ok with @sparkoo flow but I like even more Kubernetes behavior for its simplicity (updating the workspace name is not allowed). @slemeur would you be ok with that?

[2019-10-29 19:02] l0rd commented on #15016
Please look at KSync for files syncing

[2019-10-29 20:06] amisevsk commented on #14735
Closing as this should be resolved with https://github.com/eclipse/che-plugin-registry/pull/260

[2019-10-29 20:06] #14735 closed

[2019-10-29 20:38] ctday opened #15022 "devfile schema validation failed."
devfile schema validation failed. Error: (/metadata/generateName):The object must not have a property whose name is "generateName".

running: che RC-2.0
trying to create workspace: NodeJS Angular Web Application
with project: nodejs-hello-world

Any help would be appreciated

[2019-10-29 20:43] sparkoo commented on #15020
there's just this field description in devfile spec https://redhat-developer.github.io/devfile/devfile#metadata

[2019-10-29 22:43] l0rd commented on #15013
@filipkroupa It would also be interesting if you could provide the `devfile.yaml` that you have added to the registry with it's `meta.yaml` and the registry `index.html`.  You can copy/paste the files here or use pastebin, it's how you prefer.

If you stop and restart the devfile registry all you changes should be resetted and you may be able to come back to the initial status. Would you mind tryi

[2019-10-30 05:41] sparkoo commented on #14695
Dashboard ignores the devfile `name` or `generateName`. It has it's own input field name overriding the devfile value https://github.com/eclipse/che/blob/master/dashboard/src/app/workspaces/create-workspace/create-workspace.controller.ts#L309

[2019-10-30 07:03] tolusha commented on #15022
@ctday
for RC-2.0 it is supposed to be `name` instead of `generateName`

[2019-10-30 07:04] tolusha commented on #15017
/cc @svor

[2019-10-30 07:41] DStatWriter commented on #15018
Hi @l0rd, this relates to the following page in the Che 7 docs:
https://www.eclipse.org/che/docs/che-7/che4z-installing/

The link previously/currently in place is:
https://projects.eclipse.org/projects/ecd.che.che4z/downloads

This led the user to click through to another page which held the download / install instructions. As we found many equivalent pages held the install instructions on the sa

[2019-10-30 07:42] AndrienkoAleksandr commented on #13736
It is working with che 7.3.0. For che 7.2.0 and 7.2.1 issue is reproducible.

[2019-10-30 08:24] ibuziuk commented on #14656
Hosted che update is postponed due to https://github.com/eclipse/che/issues/14944
we are going to update prod with `7.3.1` where the regression is fixed

[2019-10-30 08:24] svor opened #15025 "Add preLaunchTask into debug configuration for .Net samples"
### Description
Since https://github.com/eclipse-theia/theia/issues/3409 was resolved, we can add `preLaunchTask` into debug configuration to build project before running the debug.
Need to do that in few places:

- In .Net devfiles which contain debug configuration
- In netcoredbg plugin which contains the template of debug configuration

[2019-10-30 08:26] svor commented on #15017
before running the debug need to build the project by executing build command:
![screenshot-che openshift io-2019 10 30-10_13_39](https://user-images.githubusercontent.com/1271546/67840204-fd02cd80-fafd-11e9-9792-117cb7a9914a.png)

There is an issue to make it automatically: https://github.com/eclipse/che/issues/15025

[2019-10-30 08:34] anthonma opened #15026 "Specify max RAM and CPU for workspaces"
## Summary
Is it possible to specify, how much RAM and CPU a che workspace maximal can use?
## Relevant information

[2019-10-30 08:47] AndrienkoAleksandr commented on #13736
Che 7.3.0 I tested with 56, 60.4esr, 68.2esr(latest esr) and latest firefox 70.0, forks fine, so I close issue. Feel free to reopen if it is reproducible with latest Che.

[2019-10-30 08:47] #13736 closed

[2019-10-30 08:52] #14110 closed

[2019-10-30 08:56] tmds commented on #15017
I'll give that a try.

👍 this will match vscode behavior.

[2019-10-30 09:02] rhopp commented on #14722
Done as part of https://github.com/eclipse/che/issues/14737

[2019-10-30 09:02] #14722 closed

[2019-10-30 09:17] sparkoo commented on #15022
@ctday `generateName` was introduced in 7.1.0

[2019-10-30 09:23] sparkoo commented on #15026
@anthonma
 - there is `globalMemoryLimit` in `meta.yaml` https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-maven/meta.yaml
 - then you can set `memoryLimit` on individual components https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-using-a-devfile/#specifying-container-memory-limit-for-components (the docs should be fixed, you can set `memoryLimit` on `dock

[2019-10-30 09:27] tsmaeder commented on #15016
@l0rd Is there a roadmap item this connects to?

[2019-10-30 09:30] slemeur commented on #14695
-1 on not allowing a user to change the name of his workspaces. It would be a functional regression.

Does the issue means there are two different devfiles:
- Original devfile with "generateName" field which is used when creating the workspace at first.
- Once the workspace is getting created, the configuration (or its devfile) is different from the original one and there is no "generateName" anym

[2019-10-30 09:35] anthonma commented on #15026
Thanks for your fast reply. I'll close this issue now.

[2019-10-30 09:35] #15026 closed

[2019-10-30 09:37] #13614 closed

[2019-10-30 09:41] sleshchenko commented on #15026
@anthonma From Che Admin perspective - there are properties to configure RAM that can be used by workspaces of one user https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/multiuser.properties#L51
https://www.eclipse.org/che/docs/che-6/resource-management.html#configuring-workspaces-and-resources

[2019-10-30 09:44] l0rd commented on #15016
@tsmaeder I don't know where this issue come from honestly. Will discuss that tomorrow during priorisation with @slemeur

[2019-10-30 09:54] sparkoo commented on #14695
basically true

yes. Because generateName does not have meaning for existing workspace. It has name which is exact value. If it have `generateName`, it would mean that every edit>save will change the workspace name.

I don't see how it breaks this use-case. You can still extend devfile of existing workspace or extend devfile you'll create workspace with.

It will have exact name as the workspace y

[2019-10-30 09:56] sparkoo commented on #14695
I can't see any hard technical issues here. We should agree on use-cases we want to support, then we could implement it.

[2019-10-30 10:16] anthonma commented on #14994
Since I'm facing the same Problem with the devfile registry, I will close this issue and open another one, in which I'll sumarize it.

[2019-10-30 10:16] #14994 closed

[2019-10-30 10:22] anthonma opened #15027 "Can't use custom registries"
### Describe the bug

I have a problem trying to use custom devfile and custom plugin registry.
I can build and deploy them without any errors or problems, but the changes I made don't show up. Neither the custom Stack from the devfile registry nor the added plugin of the plugin registry.
To build the registries I use the build.sh, which is contained in the registries repos.
To deploy I use:
[code

[2019-10-30 10:46] SimonJohnCastle commented on #14145
It looks like this can be fixed by changing "theia:plugin pack" to "theia-plugin pack" in the package.json build script. the "-" version appears to run on both windows and linux

[2019-10-30 10:48] ibuziuk commented on #14166
PR merged https://github.com/eclipse/che/pull/14664
Clsosing

[2019-10-30 10:48] #14166 closed

[2019-10-30 10:58] sparkoo commented on #15027
@anthonma you have to set urls to your registries in Che. You can do it with chectl. The params are `--plugin-registry-url` and `--devfile-registry-url`. See `chectl server:start --help`

[2019-10-30 11:18] anthonma commented on #15027
@sparkoo  I have started che with the url params, but it didn't work. I still get only the default contents.

[2019-10-30 11:27] sparkoo commented on #15027
@anthonma are you sure you're deploying your built images of registries? If you go to url of the registry, can you see your changes? If not, you're probably deploying public image from quay.io. You will need to set `cheDevfileRegistryImage` to your built image and probably `cheDevfileRegistryImagePullPolicy` to `IfNotPresent`. (Deduce parameters for plugin registry)

[2019-10-30 12:02] anthonma commented on #15027
@sparkoo I'm trying to set cheDevfileRegistryImage and cheDevfileRegistryImagePullPolicy within my helm command for deploying, but I don't know what the name of the image is. I'm using the devfile registrys build.sh to build it. I tried to use the -t param, but when I do so the devfile-registry pod gets a ImagePullBackOff status

[2019-10-30 12:48] Katka92 opened #15028 "Change hierarchy in Che repo to separate tests"
### Is your task related to a problem? Please describe.
There are already some test folders in the `che` root - e.g. e2e, selenium. Other tests are about to be added here (e.g. load tests) so the root will be quite chaotic.

### Describe the solution you'd like
We decided to separate tests related stuff to the `tests` folder. There is a POC hierarchy that should be created:
[code]

### Describe al

[2019-10-30 12:56] skabashnyuk commented on #14859
Any messages in a che-server logs?

[2019-10-30 12:57] amisevsk commented on #14994
@anthonma likely your helm chart is just deploying the upstream nightly registry. You would need to add
[code]
to the helm command.

[2019-10-30 12:59] sparkoo commented on #15027
@anthonma you need to get the image to your minikube VM. you can run `eval $(minikube docker-env)` then `build.sh`, then the image with custom tag should be on your minikube VM. Or you can tag the built image and push it to your quay.io (or any public hub) and pull it from there.

[2019-10-30 13:01] amisevsk commented on #15027
The `build.sh` scripts also support args to tag the image however you like, so you could do something like
[code]
and then push that image to your own docker repo and update the registries deployment to use `docker.io/<your-org>/che-devfile-registry:<your-tag>`

[2019-10-30 13:07] skabashnyuk commented on #14888
Today we talked about this task with @l0rd @sparkoo and @ibuziuk
We noticed good progress in this task and identified such directions where we can move forward.
 In some cluster setup, cluster-wide permissions can be quite a tricker to get. So we want to :
- Investigate the possibility to  bridge Theia service from workspace namespace to Prometheus namespace
- Investigate the possibility to notify

[2019-10-30 13:07] anthonma commented on #15027
Is it the only way to push it to docker.io or quay.io or so to use a custom registry with the curent versions of the registries? Before they have changed some days ago it was possible to do build and deploy a custom registry without pushing it to docker.io or so.

[2019-10-30 13:11] #14601 closed

[2019-10-30 13:11] JonasHelming opened #15029 "Factory for editing the web site is missing "start che-website" command"
I wanted to fix a few typos and broken links on the Che website and tried to use the factory offered on the GitHub repo for modifying the website (https://github.com/eclipse/che-website).
I am able to launch the workspace via the factory (https://che.openshift.io/f?url=https://github.com/eclipse/che-website) and the web site sources are checked out correctly. However, the command to "run" the webs

[2019-10-30 13:12] skabashnyuk opened #15030 "Test Prometheus federation in simplified mode."
### Is your task related to a problem? Please describe.
Test and practice in the Prometheus federation https://prometheus.io/docs/prometheus/latest/federation/

### Describe the solution you'd like
 Instead of having multiple clusters https://github.com/eclipse/che/issues/14889 we can set up multiple Prometheus in individual namespaces and a separate Prometheus that will act as a master role. This

[2019-10-30 13:14] sparkoo commented on #15027
You need to get the image where you deploy it, in your case it's minikube VM. You can either get it there through public image hub (docker.io, quay.io, ...), build the image on that machine (with e.g. `eval $(minikube docker-env)`) or you can even copy image as a file and load it to docker (`docker save` & `docker load`)

[2019-10-30 13:17] skabashnyuk opened #15031 "Investigate alternative possibilities to reduce Prometheus's permissions required to monitor workspaces"
### Is your task related to a problem? Please describe.
On some cluster setup, cluster-wide permission that is required for Prometheus could become a complicated question.

### Describe the solution you'd like
We should evaluate possibilities to reduce/limit these permissions to 0 or minimum.
Variants
- Investigate the possibility to bridge Theia service from workspace namespace to Prometheus name

[2019-10-30 13:21] tsmaeder commented on #14995
@evidolob has confirmed that we're leaking images between ci jobs. Closing, since the PR job has failures that are exactly like what is reported here: https://github.com/eclipse/che-theia/pull/453#issuecomment-546596909

[2019-10-30 13:21] #14995 closed

[2019-10-30 13:21] dmytro-ndp commented on #14995
I can explain it: both jobs [Che-theia PR check job](https://ci.codenvycorp.com/view/pr-builds/job/che-theia-pullrequests-build) and [Che-theia:next build job](https://ci.codenvycorp.com/job/che-theia-next) are using the same slave `ci-build-slave`.
There were parallel builds on Friday 25 on the same slave:
- Anatoly Bazko PR build: https://ci.codenvycorp.com/view/pr-builds/job/che-theia-pullreque

[2019-10-30 13:26] anthonma commented on #15027
@sparkoo I want to do it via the second way you have described. I executed ``eval $(minikube docker-env)``, ``build.sh`` and the helm comand as shown in the readme of the registry repo. This leads to the "error" I have described in the first comment in this issue. Please tell me, what I'm doing wrong and what I have to do.

[2019-10-30 13:36] rhopp commented on #15028
I think leaving `selenium` is ok.
performance sounds ok (I don't have any strong opinion here)
What we could IMO change is `jenkins` to something like `.infra`. Make it a "hidden folder" to emphasize it doesn't contain any tests, but only some infrastructure stuff (jenkinsfiles now... could be possibly more in the future...)

[2019-10-30 13:40] Katka92 commented on #15028
Thank you for your opinion. I would vote for `functional` because `e2e` and `performance` are types of tests (as functional do) but `selenium` is type of technology used.
I absolutely agree with your idea about hidden `.infra` folder.

[2019-10-30 13:52] ibuziuk commented on #14656
Related PRs for prod update to `7.3.1`
- https://github.com/openshiftio/saas-openshiftio/pull/1343
- https://github.com/openshiftio/saas-openshiftio/pull/1344
- https://github.com/openshiftio/saas-openshiftio/pull/1345

Waiting for QA approval before promotion to production

[2019-10-30 13:54] dmytro-ndp commented on #15028
In fact, both old and new tests are E2E functional tests. The only difference is language being used: it's **java** for old one and **typescript** for newer one:
[code]

[2019-10-30 14:06] mmorhun commented on #14772
Fixed in https://github.com/eclipse-theia/theia/pull/6471

[2019-10-30 14:06] #14772 closed

[2019-10-30 14:26] benoitf commented on #15027
I'm doing triage: is this issue more a question instead of a bug ?

[2019-10-30 14:32] anthonma commented on #15027
When I opened this issue it was, in my oppinion, more a bug than a question, but at the moment i think it is indeed more a question than a bug.

[2019-10-30 14:43] sparkoo commented on #15027
@anthonma I think `eval $(minikube docker-env)` does not work on your Windows setup. Can you see your kubernetes images when you run `docker images` ? Then I guess you'll have to go with `docker save ...` on local, scp the file to minikube VM and `docker load ...`.

Another approach might be to run docker registry localy and push images there https://hub.docker.com/_/registry. I've never tried tha

[2019-10-30 14:47] azatsarynnyy opened #15035 "[k8s plugin] buildah push command doesn't work"
### Describe the bug

Kubernetes Che plugin provides `Kubernetes: Run` command that needs to call `buildah push` command to push the built image to a remote registry. It reports an error in Theia Output panel:
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a Workspace with Kubernetes plugin included.
2. Clone some project with Do

[2019-10-30 14:51] evidolob commented on #14797
We are done with this issue.

[2019-10-30 14:51] #14797 closed

[2019-10-30 14:51] anthonma commented on #15027
As far as I know you're wright that eval doesn't work on windows. Because of that I'm using Docker Quickstart Terminal, which provides a little linux environment. Could this be the reason why it doesn't work?  I will try to get it work via docker save/load and/or via local docker registry.

[2019-10-30 15:13] #12690 closed

[2019-10-30 15:13] #13219 closed

[2019-10-30 15:20] tsmaeder commented on #15008
I used the "bug" label on purpose. "Enhancement" sounds like a feature request, which this is not. It's a code quality issue.

[2019-10-30 15:25] benoitf commented on #15021
cc @skabashnyuk

[2019-10-30 15:25] mmorhun opened #15036 "Devfile editor in dashboard adds sections from old devfile"
### Describe the bug
When edit a workspace devfile from dashboard, the devfile editor may behave incorrectly and add a deleted section which was present in previous version of the devfile. This may cause an error, because after such "paste" from editor the devfile is not valid any more or it might be valid, but definetely not what user wanted.
The problem is persistent, so deleting the inserted by

[2019-10-30 15:31] apupier opened #15037 "Welcome page when opening workspace becomes blank if "toggle maximized""
### Describe the bug
blank page for welcome page when using "toggle maximized"

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Open workspace
2. Right-Click on "Eclipse Che" tab fo the welcome page then "toggle maximized" or double-click on the tab
3. See error

note that when setting back the window to normal size, it stays blank

### Expect

[2019-10-30 15:47] #11655 closed, assigned to nobody

[2019-10-30 15:48] vparfonov commented on #10459
not actual, at the moment all should works

[2019-10-30 15:48] #10459 closed

[2019-10-30 15:50] #5683 closed

[2019-10-30 15:52] vparfonov commented on #14830
should be fixed by https://github.com/eclipse/che/pull/14950

[2019-10-30 16:02] tomgeorge commented on #14426
As I'm investigating this more, it seems like `default` does not respect any of the security context constraints by default that are present in openshift... If I make a new user and give them create access to pods and deployments, and they run a pod, it will run as root/the default UID present in that images `Dockerfile`.  When I run the same pod in another namespace it is runs in a security conte

[2019-10-30 16:07] JonasHelming commented on #15029
Wonderful! Thanks! I will enhance the Readme to clarify that...

[2019-10-30 16:26] ibuziuk commented on #14909
@nickboldt is this issue still actual?

[2019-10-30 16:27] ibuziuk commented on #14958
closing as done

[2019-10-30 16:27] #14958 closed

[2019-10-30 16:29] ibuziuk commented on #14796
Closing since 7.2.1 is not going to happen

[2019-10-30 16:32] #14575 closed

[2019-10-30 16:46] benoitf commented on #15029
@JonasHelming yes if it is not clear, please report/fix it 👍

[2019-10-30 17:15] #14796 closed

[2019-10-30 18:39] sparkoo commented on #15027
maybe, I don't know Docker Quickstart Terminal. Anyway, I'm solving similar issue as you with not working docker-env. Here's the script I've came up to upload image to minikube https://github.com/sparkoo/che-scripts/blob/master/che-kuploadimage#L13. Feel free to use. I'm just using image tag I'm usualy using for development as a default, but you can pass any parameter to that little script. Or jus

[2019-10-30 21:59] nickboldt commented on #14623
Out of time to contribute rhel.Dockerfiles upstream, and many depend on rhel8 (not ubi8) containers, so they won't be accepted due to the "registry.redhat.io is authenticated and can't be used" rule.

Therefore closing, partially complete.

[2019-10-30 22:10] #14623 closed

[2019-10-30 22:20] nickboldt commented on #13765
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/CRW_CI/view/Pipelines/job/crw-theia_master/ builds theia-dev, theia, and the endpoint runtime binary, then triggers three brew builds and pushed them to brew. Resolving.

[2019-10-30 22:20] #13765 closed

[2019-10-31 02:52] tomgeorge commented on #14426
Last update I think.  There are two problems contributing to this issue:

+ The above comment about random uids not getting correctly assigned in the `default` namespace
+ The default permissions in an ebs volume are 755, which is not group writeable.  In the entrypoint script, it does some commands to change ownership of `/var/lib/pgsql`: https://github.com/sclorg/postgresql-container/blob/1cbbb0

[2019-10-31 06:55] omdeshpande commented on #13113
Why isn't Docker supported by Che 7?

[2019-10-31 07:21] skabashnyuk commented on #15022
@ctday you can follow Quickstarts https://www.eclipse.org/che/docs/che-7/che-quick-starts/ to get latest-greatest version of Che.

[2019-10-31 07:44] skabashnyuk commented on #13375
closing with prefer to :
-  [MVP] Collecting Che Workspace metrics in single cluster mode with Prometheus https://github.com/eclipse/che/issues/14888
-  Collecting Che Workspace metrics in multiple cluster mode with help of Prometheus Federation mechanism https://github.com/eclipse/che/issues/14889
-  Test Prometheus federation in simplified mode. https://github.com/eclipse/che/issues/15030
- Inve

[2019-10-31 07:44] #13375 closed

[2019-10-31 08:04] Ohrimenko1988 opened #15038 "Get rid of terminal workarounds in the "e2e" tests"
### Is your enhancement related to a problem? Please describe.
Previously, the "Theia" had a terminal based on "canvas", it made interaction with the terminal impossible by selenium. That's why was implemented workarounds which were sending terminal output to the text file.
 This problem was described in the issue https://github.com/eclipse/che/issues/14772

### Describe the solution you'd like
Th

[2019-10-31 08:30] evidolob commented on #13317
Can we close this? As we do not support of Che6.

[2019-10-31 08:36] evidolob opened #15039 "IDE2-2019-11-26 (Sprint: 175)"
## Availability
Who | available | x0.6
-- | -- | -- |
@evidolob | 15 | 4 |
@sunix  | ? | ? |
@AndrienkoAleksandr  | 15 | 9 |
@vitaliy-guliy  | 15 | 9 |
@mmorhun  | 15 | 9 |
@olexii4   | 7 | 4,2 |
@akurinnoy   | 15 | 9 |
**Total** | **82** | **44,2** |

### Sprint Goals:
1. CRW 2.0 productization support
2. Che-theia bug fix and enhancement

## 1. CRW 2.0 productization support
- [x] [regression] W

[2019-10-31 08:47] l0rd commented on #14398
@vparfonov @vinokurig can you please help describing the steps to reproduce this issue?

[2019-10-31 09:10] tsmaeder commented on #15007
@evidolob I dont' think that is correct: we already rely on the fact that we're sym-linking the extensions into the theia/packages model. Plugins should not be built as part of the theia build anyway, because they are independently packaged and should not participate in dependency hoisting anyway.
On a more general note, I think it would be less error-prone if we switched to a model where we "yarn

[2019-10-31 09:10] #14171 closed

[2019-10-31 09:15] benoitf commented on #13257
/remove-lifecycle stale

[2019-10-31 09:16] dmytro-ndp commented on #14321
Is not reproduced.

[2019-10-31 09:16] #14321 closed

[2019-10-31 09:23] tsmaeder opened #15041 "Unusable IDE after Refresh"
### Describe the bug
I have the case 2-3 times a day that the IDE becomes completely unusable. I just have the state seen in the screenshot below and there is not way out of it except to restart either minishift, or sometimes ever the whole laptop.
When this happened just now, it was right after one of the regular refreshes described in https://github.com/eclipse/che/issues/14933

The browser log

[2019-10-31 09:23] RomanNikitenko opened #15042 "Locate kubernetes tasks under corresponding containers"
### Is your enhancement related to a problem? Please describe.
Please see the example of devfile:
<details>
<summary>Devfile</summary>

[code]
</details>

You can see defined `che` command with `component: go-k8s`, so it's expected that the command will be executed in `go-110-server` or `go-112-server`.
But such commands are displayed in `Workspace` panel for each container.
![k8s_tasks](https://u

[2019-10-31 09:24] tsmaeder commented on #15041
This is a serious bug since it wastes about an hour of my time per day restoring my development context.

I cannot switch to CRC because I was never able to get it running.

[2019-10-31 09:35] Ohrimenko1988 commented on #14723
The "petclinik" sample was choose for checking of application with database behavior.
All required dependencies already has been packed into maven image
[code]
Here is devfile: https://github.com/eclipse/che/blob/master/e2e/files/happy-path/happy-path-workspace.yaml
Please use it for testing and you will avoid download delays

[2019-10-31 09:44] #13317 closed

[2019-10-31 09:56] tsmaeder commented on #15017
Closing in favor of https://github.com/eclipse/che/issues/15025

[2019-10-31 09:56] #15017 closed

[2019-10-31 10:03] Katka92 commented on #15028
I don't like having technology as a main name of tests, but I'm afraid I can not come up with something better now. I would add at least the word `test` to the technology. So the final structure should be like this:
[code]

[2019-10-31 10:05] tsmaeder commented on #14660
@Ohrimenko1988 We have no way of reproducing this and the info we have does not help in pinpointing the problem. Unless we have more info, I'll have to close this as "cannot reproduce".

[2019-10-31 10:07] AndrienkoAleksandr commented on #15016
During investigation ksync usage found that ksync doesn't work with volumes such like `/projects`

[2019-10-31 10:30] NM4 opened #15043 "Can't start a workspace when MetalLB exposes the Cluster ingresses"
Hello,

I'm trying to deploy eclipse che 7.3.1 version on cluster bootstrapped with Rancher RKE.
The Cluster ingress is exposed with external loadbalancer IP ( with metallb)
I created offline devfile and plugin registries.
Che is deployed  with helm charts and takes into account  customization on
- offline plugin registry (setting CHE_SIDECAR_CONTAINERS_REGISTRY_URL)
- offline devfile registry (se

[2019-10-31 10:50] sleshchenko commented on #14843
I'm not sure but I assume that only cluster admin is able to register CRD on the cluster, if it's true - then we are not able to allow CRD in Devfile (CR yes, but not CRDs) since typically Che User may have admin rights for some k8s namespaces but not cluster-admin rights.

@davidfestal Could you share your knowledge in this area, can we somehow create CRD with namespace admin rights (not cluster

[2019-10-31 10:51] vparfonov opened #15044 "IDE-2019-11-26 (Sprint: 175)"
### Sprint goals
1. Git + SSH Flow
2. VS Code plugins
3. UX Improvement
4. Bugs
### Sprint details:

1. Git + SSH Flow
- [x] Support git clone for repos with self-signed SSL certs https://github.com/eclipse/che/issues/14527
- [x] When user is doing a commit if git info (git.username and git.email) are not configured, allow the user to configure it. #14616
- [x] SSH Key upload in Che 7 #14911

2. V

[2019-10-31 10:55] vparfonov commented on #14794
If user already has SSh key:
- workspace is created
- source code is cloned
- user can push

If not:
- workspace is created
- source code **NOT** cloned, it raises an error message (#14615)
- user **CAN'T** push, it raises an error (#14615)

[2019-10-31 10:55] #14794 closed

[2019-10-31 10:55] Plaquevent commented on #15043
Hello, this issue is quite important and blocking for us. We would greatly appreciate a quick feedback :)

[2019-10-31 10:58] sleshchenko commented on #15043
@NM4 Could you provide more info on how did you deploy Che? Chectl, What are options? Che-operator, What is CheCluster CR?

[2019-10-31 11:00] davidfestal commented on #14843
I think we should precise the real use-case for this need.
A CR**D** is a clusterwide resource as @sleshchenko said. And typically it would be installed either with cluster admin rights, or through OLM that would install it from the CSV + OLM package.

I don't think it is expected to be installed by a runtime component such as a workspace.

@apupier Can you precise a bit your use-case ?

[2019-10-31 11:02] sleshchenko commented on #15043
I assume you have like 5 minute before you get `Server 'theia' is not available` error.
After all the containers are started, could you manually fetch theia ingress and open it directly in browser? Is this page available? What do you see there?

[2019-10-31 11:06] davidfestal commented on #14843
OTOH if you would like to add a Camel custom resource of kind `IntegrationPlatform`, that's another story, and could probably be allowed in the Che server. But that would still require that the `IntegrationPlatform` is known in the cluster. So using such a worspace would make sense only if previously you installed the CamelK operator from the OperatorHub.

[2019-10-31 12:05] tsmaeder commented on #13600
Spring boot stuff (see, for example also the happy path test) can take > 5 mins to download dependencies. That's just the way jdt.ls handles things. There are other issues asking for better logging during startup. Nothign my team can do here. Closingè

[2019-10-31 12:05] #13600 closed

[2019-10-31 12:40] sleshchenko commented on #14795
The most of the needed changes are done (che server, helm charts) but this issue is not closed because of che-operator side changes https://github.com/eclipse/che-operator/pull/92
Which we are not able to merge before CRW2.0 is released. (More about why we are not able to merge it can be found in the following David's comment https://github.com/eclipse/che-operator/pull/92#issuecomment-548307265)

[2019-10-31 12:44] Katka92 commented on #15028
In that case, when referencing `typescript` the folder structure is not obvious and it can be misleading because it seems like it is some package including just typescript language. E.g. in a build script it can seem like the `typescript` language utils are built, not typescript tests.
Just one last thing that comes on my mind is leaving `e2e` image as it is and renaming `selenium` to `legacy-e2e`

[2019-10-31 12:54] vparfonov opened #15045 "Style broken for restart workspace button which appears after installing plugin from Che Theia on Mac OS in Chrome"
### Describe the bug
Style broken for restart workspace button which appears after installing plugin from Che Theia on Mac OS in Chrome. Just green pop ups appear without any text, in this case not clear that need to restart workspace

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Start any workspace
2. Open "Plugin View"
3. Install any plug

[2019-10-31 13:00] tsmaeder commented on #14726
I might have filed a duplicate: https://github.com/eclipse/che/issues/15041

[2019-10-31 13:04] skabashnyuk opened #15046 "[che-operator] Setup of Tracing/Monitoring stack"
### Is your task related to a problem? Please describe.

We should provide an ability to configure Tracing/Monitoring in Eclipse Che.

### Describe the solution you'd like
With the help of che-operator we should be able to:
- [ ] Install Prometheus
- [ ] Install Grafana
- [ ] Install Jaeger
- [ ] Reconfigure Che server and connect it to Prometheus/Jaeger
- [ ] Reconfigure Grafana and connect it to

[2019-10-31 13:05] nickboldt commented on #14781
Does this impact CRW 2 too? If so can we get this into the queue for 7.3.2/7.4?

[2019-10-31 13:14] skabashnyuk opened #15047 "Workspace diagnosis capabilities in Eclipse Che"
### Is your task related to a problem? Please describe.

A workspace is a set of microservices and there is a lot of complexity hidden from the end-user.
When a workspace does not behave as expected, it is very hard to understand what is going on, where to get the information, where to get the logs. It makes the diagnosis of bugs very hard

### Describe the solution you'd like
## Workspace startup

[2019-10-31 13:26] #14356 closed

[2019-10-31 13:33] apupier commented on #14843
my use case:
- create a workspace from a devfile
- have a Camel K runtime available from this workspace for development purpose.

I created a brief for the higher level use case: https://docs.google.com/document/d/1EUefd78aJLD8FlQlyvv3cszRzr5AR-ymJ6JfsCOjd1s/edit?usp=sharing

[2019-10-31 13:37] azatsarynnyy commented on #14900
That has been improved for almost 5 months ago.
Currently, the user doesn't need to understand those dependencies and he/she even couldn't know about them. The dependent plugins are installed automatically in the same way as in VS Code.
Thanks to Josh's PR https://github.com/eclipse-theia/theia/pull/5379
@slemeur could you please provide some use case when the problem is still reproducible? It wou

[2019-10-31 13:41] skabashnyuk opened #15048 "Provide a way to access logs of different containers of the running Che Workspace"
### Is your task related to a problem? Please describe.
For diagnostic purposes, it would be niche to provide an ability to end-users
to access logs of different containers of the running Che Workspace. This should be an analog of
```kubectl logs my-pod -c my-container ``` command

### Describe the solution you'd like
REST API to get the content of the logs.

### Describe alternatives you've consi

[2019-10-31 13:51] tsmaeder opened #15049 "Languages Sprint 175"
Nov 6-Nov 26

# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 10 | 6 | 6.5
@tolusha | 15 | 9 | 9.5
@svor | 13 | 8 | 8
@vrubezhny | 15 | 9 | 9
@JPinkney | 9 | 6 | 8.5

# Priorities
All testing must be done on minishift!

# Planned Issues
- [x] Prepare Enablement Session for CEE Folks #15085 @tsmaeder 4d @svor 4d
- [ ] Fix example: https://issues.jboss.org/browse/CRW-4

[2019-10-31 13:53] skabashnyuk opened #15050 "[Devfile] define a format and capabilities of actions"
### Is your task related to a problem? Please describe.
The goal of this task is to summarise all experiences with Che6 action, OnAppLoad, OnProjectOpen, OnAppClose and make a proposal for how to adopt it in devfile.

### Describe the solution you'd like
TBD

### Describe alternatives you've considered
n/a
### Additional context
https://github.com/eclipse/che/issues/12925

[2019-10-31 14:02] NM4 commented on #15043
Exactly !  I have about 5 minutes  and I see that all containers are started.
I get two message the first is **502 Bad Gateway**  and the second is  **Cannot GET /(.*)**

[2019-10-31 14:05] NM4 commented on #15043
I deployed  che 7.3.1 with Helm only.
I tried che 7.3.0 whith chectl and helm without success too.

[2019-10-31 14:10] sleshchenko commented on #15043
@NM4 Seems the issues you face caused by `metallb`, by Default Che are configured to use Nginx Ingress Controller for exposing public services, like che-server, keyacloak, theia.

Could you provide Ingresses(full Yaml configuration) for `Che Server` and `theia`?

[2019-10-31 14:43] filipkroupa commented on #15013
It was just a coincidence the problem first manifested after updating the devfile. I investigated more and the issue emerges in multiuser config with Keycloak configured to use LDAP federation.

**Steps to reproduce:**
- deploy Che 7.3.0 on minikube in multiuser mode
- configure Keycloak to provide user accounts from LDAP server using User Federation
- login to Che using credentials of LDAP user
-

[2019-10-31 14:44] NM4 commented on #15043
I used Rancher Catalog, it's Rancher Helm that add these annotations ...

[2019-10-31 14:49] NM4 commented on #15043
Theia ingress :

qdn

[2019-10-31 15:18] sleshchenko commented on #15043
[code]
Do you think it's a correct that hosts in annotation and in spec.hosts are different?

[2019-10-31 15:21] Katka92 opened #15051 "Confusing message in default crud-php project in PHP with MySQL stack"
### Describe the bug
When default stack `PHP with MySQL` is started with a default project, the project is then built and web site is opened. If you put invalid parameters there, the messages that are shown are confusing.

### Che version
 - [x] latest - 7.3.1
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Start `PHP with MySQL` stack with the default project.
2. Run Comma

[2019-10-31 15:21] tsmaeder commented on #15043
Possible duplicate of https://github.com/eclipse/che/issues/14781

[2019-10-31 15:21] nickboldt opened #15052 "Make it possible to override theia, theia endpoint and machine-exec images from a cr.yaml"
Today, to change the value of theia [1], theia-endpoint [2], or machine-exec [3] images (eg., for offline or airgap, or branded version), you have to change them in the plugin registry, then rebuild the registry [4], then use that new image in a custom resource yaml [5].

It would be sweet if we could skip having to rebuild the plugin registry to point to a different set of images. In fact we NEED

[2019-10-31 15:22] NM4 commented on #15043
Sorry it's the same I anonymized post ( just edited it) Can tou do the same with yours please ?

[2019-10-31 15:23] NM4 commented on #15043
fqdn are correct DNS entries

[2019-10-31 15:28] sleshchenko commented on #15043
Then maybe `"path":"/",` vs `"path":"/(.*)"` in `field.cattle.io/publicEndpoints` causes an issue.
And it may be caused by `nginx.ingress.kubernetes.io/rewrite-target: /$1` that is in `Theia` ingress but is missing in Che Server Ingress.
@metlos Could you remind why we need rewrite-target for multi-host servers strategy?

[2019-10-31 15:32] Katka92 opened #15053 "Preview is not shown in default project for Python Django stack"
### Describe the bug
When the default project in `Python Djnago` stack is built, the web page is opened but the page is not here.

### Che version

 - [x] latest - 7.3.1
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create `Python Django` stack with default project
2. Run the application (run commands: install dependencies, migrate, run server)
3. The page is opened but n

[2019-10-31 15:35] NM4 commented on #15043
@sleshchenko  If you prefer, I can redeploy Che with chectl. I can doit quite easily.

[2019-10-31 15:54] NM4 commented on #15043
Are the two errors in theia logs at startup "acceptable" ?

.

[2019-10-31 16:02] sleshchenko commented on #15043
@NM4 Not sure, but I believe if it was caused but this - you would get another error but not
[code]
Maybe I'm wrong. @evidolob @mmorhun Do you have some idea?

[2019-10-31 16:18] ibuziuk commented on #15052
@nickboldt is it a requirement for CRW 2.0? why building offline registries is not an option?

[2019-10-31 16:54] nickboldt commented on #15052
My understanding of "airgap solution" is that we do not require customers to build their own plugin registry in support of airgap, because in CRW2 we provide an OOTB existing airgap-friendly one.

But if we're reversing that and saying "you want airgap, you have to build the image yourself", then sure, we're OK here. But it's another step in the doc. :)

[2019-10-31 17:03] RomanNikitenko commented on #15053
![preview_bug](https://user-images.githubusercontent.com/5676062/67969047-1cd6e600-fc11-11e9-9285-5559dd1a5649.png)

[2019-10-31 17:05] l0rd commented on #14726
If it can help I've faced this issue as well and when I've switched into chrome incognito mode and I could start the workspace.

[2019-10-31 17:23] dmytro-ndp commented on #14902
There is possible workaround https://stackoverflow.com/a/44129137/2556329

[2019-10-31 18:02] NM4 commented on #15043
I redeployed Che with chectl with the same templates that I used with Helm.
This time I get che-remote-plugin-go-1.12.9:7.3.1  in CrashLoopBack.

[2019-10-31 18:18] amisevsk commented on #15052
Apart from offline cached `.vsix` and project files, the airgap options are available already; if you run the plugin registry with
[code]
all plugins will be updated to use these values. e.g., for `redhat/java/latest` you get:
[code]

in the operator, setting
[code]
sets the first two above (with tag assumed to be the current release)

[2019-10-31 21:20] amisevsk opened #15054 "Remove vscode marketplace support from plugin broker"
### Is your task related to a problem? Please describe.
The plugin broker allows plugins to specify `vsix` extensions directly from the vscode marketplace, via e.g.
[code]

Since we 1) do not use this functionality currently, and 2) should not be pulling directly from the vscode marketplace for plugins, this functionality should be deprecated/removed.

The code for resolving these links and trying

[2019-11-01 07:17] skabashnyuk commented on #15052
unsign platform team since they were not involved in airgap activities

[2019-11-01 07:24] azatsarynnyy commented on #14900
`Watch` command is very helpful for updating a component on change.
Sorry, I can't understand why some commands are not making sense in Che.
@slemeur could you please clarify?

[2019-11-01 07:57] mmorhun commented on #15043
@NM4 could you please try to start a workspace without remote plugins?
For example (the simplest case):
[code]

[2019-11-01 08:03] mmorhun commented on #13630
During investigation I found that the error is not directly related to hosted instance and happens on terminal creation

[2019-11-01 08:44] sleshchenko commented on #15043
@NM4 If Mykola example does not work as well, I would like to ask you to patch helm chart a bit.
Remove rewrite target from workspace ingresses. This line https://github.com/eclipse/che/blob/7.3.1/deploy/kubernetes/helm/che/templates/configmap.yaml should be updated to
[code]

Maybe it would be easier for you edit config map on already deployed che ->
[code]
and then to apply changed configuration

[2019-11-01 09:08] anthonma commented on #15027
I have solved it. I had to specify a custom tag while executing build.sh and specify that custom tag while deploying. Unfortunately I have another problem now, when trying to start a workspace, but since it is not a problem about building/deploying I'll open a new isuue for that.

[2019-11-01 09:08] #15027 closed

[2019-11-01 09:14] anthonma opened #15055 "Cannot start workspaces with custom plugin registry"
### Describe the bug

I can't start a workspace, if I use a custom Plugin registry. If I try to do so, I get this error:
[code]

I have done the following steps:
1. build and deploy the custom plugin registry
2. changed CHE_WORKSPACE_PLUGIN__REGISTR__URL in the configmap to the address of the custom plugin registry
3. restartet the che pod via kubectl scale command
4. tried to create and start a w

[2019-11-01 09:16] mshaposhnik commented on #15050
Does it makes sense to introduce an lifecycle binding of actions as it was in Che6? I mean `onAppLoaded` `onProjectLoaded` etc ? @slemeur what's your vision on that?

[2019-11-01 09:19] sparkoo commented on #15055
What value you've set to `CHE_WORKSPACE_PLUGIN__REGISTR__URL` ? Does it end with `/v3` (e.g. `http://plugin-registry-che.192.168.39.91.nip.io/v3`).

[2019-11-01 09:20] sparkoo commented on #15055
do you use tls?

[2019-11-01 09:23] sparkoo commented on #14888
work of the scope of this task is done. closing.

[2019-11-01 09:23] #14888 closed

[2019-11-01 09:23] anthonma commented on #15055
@sparkoo I've set it to the address the command kubectl get ingres che-plugin-registry gives me and that is without /v3 at the end.
And I don't think I'm using tls. Can I see it anywhere if it is used?

[2019-11-01 09:24] sleshchenko commented on #14670
Can not reproduce on OpenShift 4.2. Seems there was an issue in OpenShift4.0, OpenShift4.1. Closing this issue as not actual.
Feel free to reopen it or create a new one if the same behavior happens on OpenShift greater than 4.2

[2019-11-01 09:24] #14670 closed

[2019-11-01 09:26] rhopp opened #15056 "[che-operator][chectl] Using versioned operator when starting server (e.g. 7.3.1) deploys nightly server"
### Describe the bug
Deploying che using chectl like this `chectl server:start -a operator -p openshift --che-operator-image=quay.io/eclipse/che-operator:7.3.1` uses che-operator version 7.3.1, but all other components (server, registries, ...) are using nightly tag.

This is because chectl is using https://github.com/eclipse/che-operator/blob/master/deploy/crds/org_v1_che_cr.yaml for creating che

[2019-11-01 09:26] sparkoo commented on #15055
try to set it in format I've wrote, `http://<ingress_host>/v3`.
You're probably not using tls, you would have to explicitly specify tls parameter to helm and you then you would see https in the browser.

[2019-11-01 09:28] sparkoo commented on #15055
I'm asking about tls because there might be an issue with certificate in communication with plugin registry. However, if you're not using it, this is definitely not cause of your problem.

[2019-11-01 09:48] anthonma commented on #15055
I've tried it now with ``http://<ingressDomain>/v3``, but I'm still getting the error.

[2019-11-01 10:13] DStatWriter opened #15057 "[Doc] Che7 - Che4z installation doc improvements"
This relates to the following page in the Che 7 docs:
https://www.eclipse.org/che/docs/che-7/che4z-installing/

The link previously/currently in place is:
https://projects.eclipse.org/projects/ecd.che.che4z/downloads

This led the user to click through to another page which held the download / install instructions. As we found many equivalent pages held the install instructions on the same page as

[2019-11-01 10:37] NM4 commented on #15043
@mmorhun  here after, che-server logs after workspace creation as described :

[2019-11-01 10:51] sparkoo commented on #15055
Is registry url accessible when you put it into the browser? Do you see anything useful in che pod logs. Anythin useful in browser devconsole (f12) logs or network?

[2019-11-01 11:19] anthonma commented on #15055
The registry url is accessible via browser. The browser devconsole logs and network doesn't show something, which seems related to this issue. The only things it shows are related to keycloak and theat's because I run che in single-user I guess. The logs of the pod show this:
[code]

[2019-11-01 13:08] nickboldt commented on #15015
This might actually be a blocker if it turns out I'm right and this is also causing https://issues.jboss.org/browse/CRW-451 cc: @rhopp @evidolob

[2019-11-01 13:15] sparkoo commented on #15055
anything useful in kube events `kubectl get events -n <che-namespace>` ?
How much memory do you use for your minikube?

[2019-11-01 13:22] mmorhun commented on #15043
@NM4 thanks for testing. From the logs, seems the remote plugins mechanism is not the root cause of the issue and the problem is, probably, in endpoints accessibility.
Once I had some strange behaviour with routes and the cause was wrong userland proxy option. @sleshchenko is it possibly a case in this situation?

[2019-11-01 13:36] vkuznyetsov opened #15059 "QE-2019-11-26 (Sprint: 175)"
### Sprint goals
- [ ] Increase coverage of Che functionality with E2E tests

### Issues tied to objectives

### Unplanned
- [x] [Happy Path] The "Happy Path" scenario sometimes fails on the "Validation of workspace build and run" step #15166

### PR under review

#### Availability

| Name | Available |
| --- | :-: |
| Aleksandr Shmaraiev | 15 |
| Maxim Musienko | 10 |
| Dmytro Nochevnov | 15 |
|

[2019-11-01 13:48] sleshchenko commented on #15043
@NM4 Please take a look https://github.com/eclipse/che/issues/15043#issuecomment-548711444

[2019-11-01 13:56] anthonma commented on #15055
I don't know why, but I can start workspaces now. It starts with the default plugin registry and I can switch to my custom one without problems, but when I trie to install a plugin, I get this error when the workspace tries to restart:
[code]
I assume it is because of the minikube vm running out of RAM. I start minikube with 5GB RAM shouldn't this be enough?

[2019-11-01 14:02] sleshchenko opened #15061 "chectl: deprecate an ability to start workspace with workspace config"
### Is your task related to a problem? Please describe.
WorkspaceConfig is not supported anymore. it's needed to deprecate an ability to start workspace with workspace config and devfile should be the only option.
[code]

[2019-11-01 14:06] NM4 commented on #15043
@sleshchenko
I do what what you described, here after my cm :

[code]

But when I start a new fresh workspace I get ingresses with /(.*)

[code]

[2019-11-01 14:08] sparkoo commented on #15055
Good it's working.
It's obviously not enough if it's failing on `Insufficient memory` :) I usually go with 6GB as a minimum for one workspace. Depends on the devfile though.
Can we close this issue?

[2019-11-01 14:09] NM4 commented on #15043
@sleshchenko
In the cm there is anothere parameter about ingress :
CHE_INFRA_KUBERNETES_INGRESS_PATH__TRANSFORM: '%s(.*)'
should I modify it too ?

[2019-11-01 14:10] anthonma commented on #15055
Thank you for your help. I'll close this issue now.

[2019-11-01 14:10] #15055 closed

[2019-11-01 14:12] sleshchenko commented on #15043
@NM4 Right! I just took a look at it!!!
I'm not sure if it helps, @metlos knows better.
But I assume that value like `/` may help

[2019-11-01 14:20] sleshchenko commented on #13511
It's quite easy to implement it when we will check containers events after implementing https://github.com/eclipse/che/issues/14781

[2019-11-01 14:28] sleshchenko commented on #6828
Closing as `won't fix` since it's related to deprecated GWT IDE.

[2019-11-01 14:28] #6828 closed

[2019-11-01 14:36] sleshchenko commented on #13511
K8s/OS cluster clearly tells that OOM happens in container:
<details>

<summary>The corresponding event</summary>
[code]
</details>

<details>
<summary>The corresponding record in Pod status</summary>
[code]
</details>

Actually, that error happens after workspace start but not during start. And Che Server has technical difficulties with watching events after workspace start. The issue with watchi

[2019-11-01 14:47] NM4 commented on #15043
@sleshchenko  I get the same error with %s

[2019-11-01 14:56] NM4 commented on #15043
I created a new workspace with Eclipse-ide as cheEditor, I don't get anything displayed but the created ingress is OK. and the workspace still runing.

[2019-11-01 15:04] anthonma opened #15062 "How to stop che in multi-user mode with chectl"
## Summary
When I try to stop che via chectl server:stop in multi-user mode it demands a token.
It provides an link(https://www.eclipse.org/che/docs/che-6/authentication.html) on how to do this, but I don't quite understand it.

I assume I have to use that command:
[code]
But I don't now what I have to specify for ``<client_name>`` and for ``<realm_name>``

Please tell me what I have to fill in th

[2019-11-01 15:24] NM4 commented on #15043
I restarted Che server with cm  containing : (default values)

[code]
I created a workspace with this workspace devfile :
[code]

Then I get "Import Projects from FileSystem or Archive" window displayed !

[2019-11-01 15:25] #14294 closed

[2019-11-01 15:52] sleshchenko commented on #15043
o_O Do I understand correctly that you returned back to the start point and now it works at least with Theia Edit only?

[2019-11-01 18:18] gattytto opened #15065 "postgres data gone after minikube node reboot"
### Describe the bug

rebooting the minikube node hosting a che env, postgres pod's /var/lib/pgsql/data is gone, postgres and keycloak pods go BackOff

### Che version

 - [ ] latest
 - [ *] nightly
 - [ ] other: please specify

### Steps to reproduce
anything that causes the minikube node to reboot (be it gracefully or a hard reset)

### Expected behavior

I expect the che context to be brought b

[2019-11-01 19:03] gattytto commented on #15065
https://github.com/kubernetes/minikube/issues/3582#issuecomment-459964039

[2019-11-01 19:29] amisevsk opened #15066 "Can't remove commands / update component aliases in devfile editor"
### Describe the bug
There's some strange behavior around commands in the devfile editor on the dashboard.

- Removing commands section from devfile does not prompt user to "save"
- Reloading devfile or making any other modifications after removing commands will cause commands to be reinserted into devfile
- Removing commands and updating a component's alias (that was referred to by a command) wil

[2019-11-01 21:46] jchurchwell2000 opened #15068 "Need to access Codenvy for Coding bootcamp work"
Hello, I

[2019-11-01 21:48] jchurchwell2000 commented on #15068
I need to have access to Codenvy to work through projects in coding bootcamp but I cannot sign into Codenvy because I always go to Eclipse Che. I need rails and that is not there please help

[2019-11-02 00:57] davidwindell commented on #14704
Just FYI this is also now happening on the latest devfile-registry images (not just plugin-registry). Something must have changed upstream that broke running as non-root.

[2019-11-02 13:24] schwingkopf opened #15069 "Che-server fails to bootstrap on minikube"
### Describe the bug
Che7 deployment on my local machine failes at step "Che Pod Bootstrap" when executing:
chectl server:start --platform minikube -a operator

Error message:
Error: ERR_TIMEOUT: Timeout set to pod ready timeout 130000
    at KubeHelper.<anonymous> (C:/chectl/lib/api/kube.js:614:19)
    at Generator.next (<anonymous>)
    at fulfilled (C:/chectl/node_modules/tslib/tslib.js:107:62)

[2019-11-02 15:37] skabashnyuk commented on #15069
@schwingkopf thank you for your report. Could you please provide the whole che-server log?

[2019-11-02 17:00] schwingkopf commented on #15069
@skabashnyuk thanks for taking a look into the issu.

See attached for the full che-server log.
[che_server_pod_log.txt](https://github.com/eclipse/che/files/3800736/che_server_pod_log.txt)

In the meanwhile I switched to the latest stable releases of minikube and kubectl with the same error:
C:\Users\Matthias>minikube version
minikube version: v1.5.2
commit: 792dbf92a1de583fcee76f8791cff12e0c9440

[2019-11-02 19:03] skabashnyuk commented on #15069
This is a first error on workspace startup.
[code]
Can you check if ttp://keycloak-che.192.168.99.100.nip.io/auth/realms/che/.well-known/openid-configuration accessible?
What is the state of keycloak deployment?

[2019-11-02 19:56] schwingkopf commented on #15069
http://keycloak-che.192.168.99.100.nip.io/auth/realms/che/.well-known/openid-configuration does not respond. Although the keycloak pod appears to be alive:
![grafik](https://user-images.githubusercontent.com/3587644/68076279-eafd8500-fdb2-11e9-9521-cd6d50c3e043.png)

Here is the log:
[keycloak_log.txt](https://github.com/eclipse/che/files/3800896/keycloak_log.txt)

[2019-11-03 14:24] andrejusc opened #15070 "No verification of socat presence for chectl server:start invocation"
chectl version in use: 7.3.1
OS: Xubuntu 18.04.3 LTS with minikube

While invoking such command:
sudo chectl server:start --platform minikube

Part of output is such:
  ✔ ✈️  Minikube preflight checklist
    ✔ Verify if kubectl is installed
    ✔ Verify if minikube is installed

and then such error:
      Preparing Che Helm Chart
      Updating Helm Chart dependencies
      Deploying Che Helm Char

[2019-11-03 20:46] andrejusc opened #15071 "chectl workspace:list command presents TypeError: Expected property `task` to be of type `function`, got `undefined`"
### Describe the bug
When running such command:
chectl workspace:list

output is such:
 ›   Warning: Not implemented yet
 ›   Warning: Not implemented yet
 ›   Warning: Not implemented yet
TypeError: Expected property `task` to be of type `function`, got `undefined`
    at new Task (/usr/local/lib/chectl/node_modules/listr/lib/task.js:25:10)
    at Listr.add (/usr/local/lib/chectl/node_modules/lis

[2019-11-03 23:07] dmytro-ndp commented on #14898
There is no such an issue when installing Che using helm chart.
This issues doesn't allow to check PR using operator installer with custom _che-server_ images like **maxura/che-server:<PR-ID>**, for example: [there was installation failure](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/1021/artifact/l

[2019-11-04 01:30] dmytro-ndp opened #15072 "[chectl] chectl didn't take into account '--domain' option with operator installer and custom resource yaml on minikube"
### Describe the bug
Chectl failed to install multiuser che on minikube 1.1.1 with `--domain` option used:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/1054/console

### org_v1_che_cr.yaml
<details>
 <summary>Custom resource</summary>
 <pre>
#
#  Copyright (c) 2012-2019 Red Hat, Inc.
#    This progra

[2019-11-04 06:13] ibuziuk commented on #15041
che on crc works like a chram for me. PR with quotas updates on Hosted che is planned to be merged tomorrow

[2019-11-04 06:54] vinokurig commented on #14398
@l0rd
I cant reproduce the issue with cloning on my machine, but I can see that the keys file permissions are 644. According to to the SSH flow they must be 640.

[2019-11-04 06:57] ibuziuk commented on #15057
@DStatWriter hello, I saw the initial PR that was closed. Are you going to work on this issue?

[2019-11-04 07:19] vinokurig commented on #14998
@JonasHelming All workspaces already have a predefined SSH key. To view it's public part execute `F1 => SSH: View public key...` and upload the public key to the GitHub account.

[2019-11-04 07:35] ibuziuk commented on #14656
Hosted Che has been updated to the latest 7.3.1 version. Closing

[2019-11-04 07:35] #14656 closed

[2019-11-04 07:42] vinokurig commented on #14398
Looks like this depends on upstream issue: https://github.com/kubernetes/kubernetes/issues/81089

[2019-11-04 07:45] tolusha commented on #13080
I've reopened the issue since I've faced a real case when we need it.
Go language server requires the project to be the root of the workspace otherwise it can't find some imports.

https://github.com/eclipse/che-devfile-registry/pull/96

![Screenshot from 2019-11-04 09-45-25](https://user-images.githubusercontent.com/1640675/68105644-dc64ba00-fee7-11e9-9ff8-9779e59649ef.png)

[2019-11-04 08:01] tolusha commented on #15053
It is the case when web page doesn't work in preview and has to be opened in a separate tab.

[2019-11-04 08:03] JonasHelming commented on #14998
@vinokurig Thanks, but that does not really adress the scenario. I would like to preinitialized the workspace in a way that users can directly access a git repo without any additional setup steps...

[2019-11-04 08:15] skryzhny commented on #15068
codenvy.io scheduled for shutdown and has disabled self-registration.
Consider using new service based on actual Che 7: https://che.openshift.io
Sorry if messages on condenvy.io signup/login pages aren't clear enough.

[2019-11-04 08:15] #15068 closed

[2019-11-04 08:20] sleshchenko commented on #15062
@anthonma Your assumption is pretty right. I have the following bash function to get access token
[code]

Hopefully, this issue will be solved by chectl and it will ask credentials and solve this exercise for you.

[2019-11-04 08:23] #14651 closed

[2019-11-04 08:23] sleshchenko commented on #15066
I guess it duplicates https://github.com/eclipse/che/issues/15036

[2019-11-04 08:26] vinokurig commented on #14998
Unfortunately it is not possible yet.

[2019-11-04 08:52] DStatWriter commented on #15057
Hi @ibuziuk

This was resolved by the following merged PR:

https://github.com/eclipse/che-docs/pull/895

Let me know if you believe that any issues remain, or have any other feedback.

Thanks,

Dan

[2019-11-04 08:52] #15057 closed

[2019-11-04 08:53] l0rd commented on #14398
@vinokurig 644 is the default file permission but [we can specify different file permissions](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod):

[code]

The upstream issue is about ownership rather then file permissions mode.

[2019-11-04 08:59] sleshchenko commented on #14781
Yes, it's actual for CRW as well.

[2019-11-04 09:14] vinokurig commented on #14398
@l0rd We already do it: https://github.com/eclipse/che/blob/29d5f17027b9afb3764d2ecece601c076c550359/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/VcsSshKeysProvisioner.java#L170
But it doesn't work. See https://github.com/kubernetes/kubernetes/issues/81089#issuecomment-530846333

[2019-11-04 09:19] sleshchenko commented on #14781
We can see that there are no corresponding events, so it can not be handled with unrecoverable events mechanism.

<details>
<summary>Events</summary>
[code]
</details>

But Pod yaml contains the corresponding information we could use:
[code]
So, we should watch workspaces pods and make sure every container is ready before proceeding to the servers check phase.

[2019-11-04 09:26] NM4 commented on #15043
@sleshchenko
Yes when I create a workspace without remote plugin and Eclipse-ide as editor it works.

[2019-11-04 09:57] DStatWriter opened #15073 "[Doc] Che7 Doc - Removing redundant link"

[2019-11-04 09:59] ibuziuk commented on #14947
@davidfestal going to close this issue once the following PRs are merged:

- operator-framework/community-operators#839
- operator-framework/community-operators#840

[2019-11-04 10:03] ibuziuk commented on #14530
after rollout update to `7.3.1` there was a sufficient spike from 2 seconds to 40 that lasted for 1h. The situation has been stabilized, but I believe we still need to investigate the increase in the stop time

[2019-11-04 10:11] anthonma opened #15074 "Stop Workspace settings documentation"
## Summary
Is it possible to specify conditions for a workspace to stop automaticaly, like idle for some time or something like that?
## Relevant information

[2019-11-04 10:18] ibuziuk commented on #15073
@DStatWriter are you going to provide a description to the issue?

[2019-11-04 10:19] benoitf commented on #15007
hello @tsmaeder

AFAIK che-theia and theia are cloned in separate directories
https://github.com/eclipse/che-theia/blob/master/devfiles/che-theia-all.devfile.yaml

there are two cloned projects: theia, and another one: che-theia so there is no "nested" structure.

[2019-11-04 10:22] benoitf commented on #15007
Ok read too fast, understood, it's for extensions.

[2019-11-04 10:24] DStatWriter commented on #15073
I did... not sure where thet went.

It was the removal of the redundant link to the install guide. Relevant install instructions are now incorporated on the page itself

[2019-11-04 10:24] #15073 closed

[2019-11-04 10:27] sparkoo commented on #14695
The validation failure in this issue is caused on frontend validation. Value of name input field is updated with the value from devfile's `metadata.name`, so when we remove name, frontend validation fails to empty name.
Question is, what we want to do in this situation. Devfile is valid (it has only `generateName`), but dashboard validation fails.
We have several options:
- add second input field

[2019-11-04 10:42] tsmaeder commented on #15007
@benoitf it's also for plugins: I had the case where I had to change an extension and for the same task also a plugin. So if I want to work on both in the same branch, I need to work on the both in the same repo under theia/che/che-theia
The development guide does not support this case.

[2019-11-04 10:54] benoitf commented on #15007
yes understood @tsmaeder

[2019-11-04 10:57] DStatWriter opened #15075 "[Doc] che7 - Che4z - Insert link to installer download"
Inserting link to installer download at step 4 of install process

[2019-11-04 11:03] #14829 closed

[2019-11-04 11:05] anthonma opened #15076 "Add Git-Repo to workspace"
## Summary
Is it possible to add a second git repo to the workspace?

If I create a workspace via a stack, che pulls the sourcecode of the project defined with the stack. Now I want to add another git repo to push my changes to it. Is that possible?
## Relevant information

[2019-11-04 11:15] RomanNikitenko opened #15077 "Provide ability to select dedicated segment of Preview URL using mouse"
### Describe the bug
It's possible to select a dedicated segment of URL using **keyboard**, but whole URL is selected when user selects a dedicated segment of URL using **mouse**

### Che version
 latest

### Steps to reproduce

1. Start any workspace
2. Go to `F1 => Preview: Open URL`
3. Set any URL
4. Try to select dedicated segment of URL using mouse

### Expected behavior
User has opportunity

[2019-11-04 11:36] skabashnyuk commented on #14695
I think that last last point would make sense. It would allow user to paste devfile with only generateName as well as rename the workspace by editing the name either in devfile or name input field. The only confusing thing would be that after you paste devfile or remove name from it, it would appear back.

I'm ok with that. I would also add a gray tip in the name field that explaining that name wo

[2019-11-04 12:43] vzhukovskii commented on #13390
I propose such flow to display containers. There is the same flow to separate user developer containers and tooling containers. The same flow is used when user call action `Find command`:

When `Find command` is executed:
<img width="826" alt="Снимок экрана 2019-11-04 в 14 34 15" src="https://user-images.githubusercontent.com/1968177/68121756-37f76d80-ff11-11e9-880a-317662f47455.png">

When new te

[2019-11-04 12:54] anthonma commented on #15062
I have managed to get a token via the command from my first post, but if I try to stop the server via chectl server:stop --access-token=token.txt I get an unauthorized error and when I try to pass the token directly to the command I get a input too long message.

[2019-11-04 13:09] ibuziuk opened #15079 "Need to test the airgap deployment against OpenShift 4.2 restricted networks"
### Is your task related to a problem? Please describe.
Need to test the airgap deployment against OpenShift 4.2 restricted networks - https://docs.openshift.com/container-platform/4.2/operators/olm-restricted-networks.html

Documentation for airgap deployment - https://github.com/eclipse/che-docs/pull/868

Follow up email:

[2019-11-04 13:12] apupier opened #15080 "Use top-level readme if available when opening workspace"
### Is your enhancement related to a problem? Please describe.

currently it is taking one readme that can be in subfolders.

### Describe the solution you'd like

Preference to take the top-level readme

### Describe alternatives you've considered

### Additional context

when using Camel K examples subfolder from the stack in preparation https://github.com/eclipse/che/issues/14831 , it is openin

[2019-11-04 13:17] anthonma opened #15081 "Devfile Registry resets to default"
### Describe the bug

I have a custom devfileregistry, but when I change the configmap entry CHE_WORKSPACE_DEVFILE__REGISTRY__URL to the url of my custom registry it gets rested to default registry shortly after.
### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.4.0

### Steps to reproduce

### Expected behavior

### Runtime
   - [x] kubernetes (include output of `kubectl version`)
[co

[2019-11-04 13:21] benoitf commented on #15080
I think it's because at the beginning VS Code API implementation of search was not implemented so had to use workarounds. (thus leading to invalid expected behaviour)

[2019-11-04 13:22] apupier commented on #15080
wondering also if it is because it is case sensitive for the readme file https://github.com/eclipse/che-theia/blob/846f13e2a139f24a2f9361cfefc084d8843efb37/plugins/welcome-plugin/src/welcome-plugin.ts#L59

[2019-11-04 13:36] tsmaeder commented on #15041
I don't doubt that. Sucks to be me, though ;-)

[2019-11-04 13:42] dmytro-ndp opened #15082 "Build of Eclipse Che failed on Dashboard WAR artifact"
### Describe the bug
There was build Eclipse Che error:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2919/console
[code]

Command to build Eclipse Che:

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Environment
   - [ ] my computer
       - [ ] Wind

[2019-11-04 13:44] Ohrimenko1988 commented on #14660
@tsmaeder I also can't confirm that this problem is actual. Thank you for your investigation.

[2019-11-04 13:44] #14660 closed

[2019-11-04 13:49] sleshchenko commented on #15062
AFAIK `--access-token=token.txt` is should be token content but not file path, like `--access-token=sdjDMsjahdyaNasduyasdnkDYHs`

[2019-11-04 13:51] anthonma commented on #15062
@sleshchenko I've tried to do so but than I get input too long

[2019-11-04 13:53] sleshchenko commented on #15062
@anthonma Then you should be able to put it's to `CHE_ACCESS_TOKEN` env var before executing a command.

[2019-11-04 14:09] tsmaeder opened #15085 "Prepare materials helping to build devfile"
@slemeur asked us to give a presentation to some folks to show them how we make devfiles for a particular technology.

The idea is to make give a presentation based on the Quarkus devfile we're working on that shows what needs to be done to have a working devfile for Quarkus.
As a by-product, we want to make a blog post about the same content. Just a couple of ideas of what we need to cover:

* St

[2019-11-04 14:11] tomgeorge commented on #14426
There is a known issue for this in the documentation.  Should we open another GH issue to discuss possible code fixes for this?

[2019-11-04 14:39] apupier opened #15086 "Update VSCode Tooling for Apache Camel K from 0.0.9 to 0.0.10"
### Is your enhancement related to a problem? Please describe.

seems that the some features of the VS Code Tooling for Apache Camel is not working when Che is installed on latest version of minikube

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

requires to update also the docker file in che-theia to pick a newer kamel

if using command

[2019-11-04 14:53] vparfonov commented on #14217
We blocked at the moment with no ability use oAuth service in Che multi-user

[2019-11-04 14:56] tolusha opened #15087 "Plugins should have ability to spawn processes"
We have a `tslint`  plugins which spawns a process [1]
In case of local Theia `process.argv0` is `node`, in case of Theia running on minishift
it is `/remote-endpoint/plugin-remote-endpoint`.
So, as a result a new process hangs forever.

[1]  https://github.com/Microsoft/typescript-tslint-plugin/blob/master/src/runner/index.ts#L386

[2019-11-04 15:24] slemeur commented on #14900
@azatsarynnyy : In which situation would you prefer to do a `watch` from running the code source in your workspace?

[2019-11-04 15:28] tolusha commented on #15087
/cc @AndrienkoAleksandr @evidolob

[2019-11-04 15:32] tsmaeder commented on #14070
Turns out this one is blocked by: Plugins should have ability to spawn processes #15087

[2019-11-04 15:39] benoitf commented on #15087
I assume that in that case, you need a custom endpoint environment variable to specify `process.argv[0]`

so by using a nodejs image you could tell to use node runtime

[2019-11-04 16:12] apupier opened #15088 "VS Code server editor i snot working: Invalid value: "/projects": must be unique"
### Describe the bug

when using the VS Code server editor, workspace fails to start:
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify
7.3.1

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version`

[2019-11-04 16:17] apupier commented on #15088
PR already provided by @amisevsk https://github.com/eclipse/che-plugin-registry/pull/285

[2019-11-04 16:32] amisevsk opened #15089 "Dashboard should use default icon for devfiles when actual icon is inaccessible"
### Is your enhancement related to a problem? Please describe.
Currently, when a dashboard's icon cannot be retrieved, the dashboard shows the 'image not found" thumbnail:

![Screenshot from 2019-11-04 11-31-06](https://user-images.githubusercontent.com/16168279/68138490-aaa71f80-fef6-11e9-94e1-9e1533c0e7ed.png)

### Describe the solution you'd like
Che should have a fallback icon that is displaye

[2019-11-04 16:39] amisevsk commented on #14844
@tsmaeder I don't think there's a good way to get the devfile registry to serve pictures currently, since every time it's deployed it can be with a different URL. A prerequisite for this would be some way to handle the relative links we'd be putting in the devfile registry (e.g. if I put `./my-icon` for an icon, the dashboard tries to get the image from `eclipse-che-url.com/dashboard/my-icon`). I

[2019-11-04 16:43] amisevsk opened #15090 "Devfile icon caching for offline devfile registry"
### Is your enhancement related to a problem? Please describe.
The offline devfile registry still refers to icons (stored in devfiles' `meta.yaml`) that aren't available in the offline environment. Instead, for offline builds, the devfile registry should cache icons and use the current offline-mode rewriting functionality to rewrite these URLs to point to the cached images.

E.g. the [meta.yaml](h

[2019-11-04 16:54] amisevsk opened #15091 "Registries should be provisioned with their public URL by default."
### Is your enhancement related to a problem? Please describe.
There are various open issues around serving e.g. images from the registries themselves rather than using external links: https://github.com/eclipse/che/issues/14844, similar for plugin registry (I can't find the issue at the moment)

To support this in the general case, it would be very convenient if all deployment methods for Che + r

[2019-11-04 17:51] ibuziuk commented on #15065
Looks like related to disaster recovery - https://github.com/eclipse/che/issues/14240
@gattytto thanks for reporting and looks like you did a pretty good analysis. Will you be interested in contributing a fix?

[2019-11-04 17:55] ibuziuk commented on #15066
@mmorhun could you please confirm that this is a duplicate of  #15036

[2019-11-04 17:59] ibuziuk commented on #15070
@andrejusc thanks for reporting, will you be interested in contributing a fix

[2019-11-04 18:12] ibuziuk commented on #15074
yeah, sure there is a `CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT` env var that would gracefully terminate a workspace after a period of inactivity (no interactions with IDE)

@themr0c @rkratky do you happen to know if this is documented in the latest che 7 docs ?

- https://github.com/eclipse/che/issues/8951
-https://github.com/eclipse/che/blob/1c5c92147f7886ec4c7cd1a2348815d1198876d7/assembly/assembly-ws

[2019-11-04 18:16] ibuziuk commented on #15075
@DStatWriter could you provide a meaningful description? are you going to work on this issue?

[2019-11-04 18:36] ibuziuk commented on #15076
yeah, sure you can `git clone` by opening a terminal

[2019-11-04 18:42] ibuziuk commented on #15081
@anthonma thanks for reporting the issue. Could you please clarify how exactly are you updating the registry? what is the value of env var `CHE_WORKSPACE_DEVFILE__REGISTRY__URL` inside the che pod?

[2019-11-04 18:51] ibuziuk commented on #15089
@evidolob could you please take this issue as a priority for the next sprint since it is CRW related ?

[2019-11-04 18:57] ibuziuk commented on #15091
@amisevsk am I correct that this very issue is not for CRW 2.0 ? also description does not contain info about env vars

[2019-11-04 18:59] ibuziuk commented on #15091
not sure which team should handle this task, so putting devex for now

[2019-11-04 19:12] #13830 closed

[2019-11-04 19:25] amisevsk commented on #15091
@ibuziuk You're correct, this isn't a CRW issue directly. Mostly created for tracking, since it's a prereq for some other issues.

[2019-11-04 19:26] amisevsk commented on #15089
Also worth noting that if #15090 is implemented, this shouldn't be a problem for CRW. I think #15090 is easier to implement so it's not essential that this one gets done.

[2019-11-04 19:28] amisevsk commented on #15066
I think it does; closing in favor of #15036

Sorry, I missed it in my search.

[2019-11-04 19:28] #15066 closed

[2019-11-04 19:28] ibuziuk commented on #15006
Also fails for me but with a bit different flow on 7.3.1:

![Peek 2019-11-04 20-25](https://user-images.githubusercontent.com/1461122/68151242-9b00f880-ff41-11e9-8f22-30781885ba48.gif)

[2019-11-04 19:30] ibuziuk commented on #15006
@evidolob any comments on that ^ ?

[2019-11-04 20:00] benoitf commented on #15089
What devfile registry in offline mode is providing links to online images ?

[2019-11-04 20:10] andrejusc commented on #15070
@ibuziuk - I could try to provide a fix if you could point me to some other verification check code to follow.

[2019-11-04 21:05] tomgeorge opened #15092 "Support installing che in default namespace, or gracefully prevent it"
### Is your enhancement related to a problem? Please describe.

Related to the discussion around https://github.com/eclipse/che/issues/14426, it would be nice if the Che operator could:

- Install che properly in the `default` namespace
- gracefully indicate that it cannot install in that namespace, suggest another namespace to install, or move the installation to another namespace automatically

[2019-11-04 21:55] tomgeorge commented on #14662
These are the minimum permissions required to install che via `chectl:
https://gist.github.com/tomgeorge/a1691328efd48735e6c7207008a03104

I bound those roles to the `developer` user in crc and installed che.

The main admin-y thing is being able to create clusterroles/roles.  This requires a decent level of permissions, but not cluster-admin.  If you are able to create cluster roles you can creat

[2019-11-04 22:07] schwingkopf commented on #15053
I get the exact same error, in preview as well as separate tab in firefox.

[2019-11-05 01:10] gattytto commented on #15065
@ibuziuk yes partially, I’m in testing phase but it can be done

[2019-11-05 06:22] anthonma commented on #15081
@ibuziuk I'm updating it via the command ``kubectl edit cm/che`` and afterwards I restart the che pod with ``kubectl scale --replicas=0 deployment/che`` and ``kubectl scale --replicas=1 deployment/che``.

How do I read the value of ``CHE_WORKSPACE_DEVFILE__REGISTRY__URL'' of the che pod?

[2019-11-05 07:06] ibuziuk commented on #14426
@tomgeorge thanks, I believe we can close the issue since it is documented case and continue the discussion in the https://github.com/eclipse/che/issues/15092

[2019-11-05 07:20] tolusha commented on #15087
@benoitf
I don't quite get it.
Does it imply to implement something or it is matter of a configuration of the devfile?

[2019-11-05 07:29] anthonma commented on #15076
@ibuziuk I tried it, but I can't achive what I want.

I want to use a git repo as a template for projects. This repo is linked in the devfile used by a custom stack to create a workspace. After the workspace is created and some changes were made to the sourcecode I want to push it to another repo, so that the contents of the template repo are not changed. How can I achieve this?

[2019-11-05 07:32] anthonma commented on #15074
@ibuziuk How can I set ``CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT``

[2019-11-05 07:45] anthonma commented on #15062
@sleshchenko How do I set the env var. I tried it with the ``set`` command, but I get input too long as well. (I'm on windows 7)

[2019-11-05 07:47] skabashnyuk commented on #15062
```export CHE_ACCESS_TOKEN=dddd```

[2019-11-05 07:59] #14756 closed

[2019-11-05 08:20] anthonma commented on #15062
The export command doesn't work, because I'm on windows.
I tried it with ``set`` in two ways: first I tried to copy the token and paste it to ``set [CHE_ACCESS_TOKEN=token`` but I get input too long. Secondly I tried ``set [CHE_ACCESS_TOKEN=curl ...]`` the ``set`` comand works, but when I try ``chectl server:stop`` I get E_AUTH_REQUIRED error.

Btw. the response of the curl command is something li

[2019-11-05 08:20] #13630 closed

[2019-11-05 08:38] tsmaeder commented on #15066
Let's not work on this until we have the new editor in. Might be fixed.

[2019-11-05 09:16] tsmaeder commented on #14844
@amisevsk I agree that there is no short-term fix here: the underlying problem is that the plugin registry is just passively serving files which are interpreted 100% by the consumer. If we ever want to scale the registry (to thousands of plugins), we'll need to have a proper API (for example, to search).
Since we control both ends of the communication, I don't see a problem with asking consumers t

[2019-11-05 09:18] vinokurig commented on #14912
Since new SSH keys name validation has been applied: https://github.com/eclipse/che-theia/pull/444 it could be reproduced only by creating a key via API.

[2019-11-05 09:22] DStatWriter commented on #15075
Hi @ibuziuk, i had thought the description wassufficient. I created this issue as part of the required step for the creation of the related Pull Request which does address this issue.

Can you perhaps provide me with an example of an "ideal" issue that i might use as a guideline for future issues?

Thanks,

Dan

[2019-11-05 09:37] evidolob commented on #15089
Same question.

[2019-11-05 09:52] tsmaeder commented on #14759
I guess the "todo" here is this:

1. Figure out how built-ins are published from https://github.com/theia-ide/vscode-builtin-extensions
We have some special requirements, for example, the typescript language features should not be included, since we have a separate Che plugin for that.
2. Update che:theia init to install the built-in plugins in a usable way: without the built-ins, theia will not b

[2019-11-05 09:56] azatsarynnyy opened #15093 "[openshift plugin] improve cluster login flow when Che is on non-secure connection"
### Is your task related to a problem? Please describe.

OpenShift Connector Che Plugin provides the commands to log in to a cluster through the Theia commands palette. It works well when Che is on https connection only.
When on http, it reports
![image](https://user-images.githubusercontent.com/1636395/68195143-fe7d3b80-ffbe-11e9-863d-d347f5de9312.png)

**More details**:
It's because plugin's `Lo

[2019-11-05 10:18] apupier opened #15094 "Workspace -> Editors is empty if a cheEditor is specified with a "reference""
### Describe the bug

when using a reference as component for a cheEditor, the Editors view is failing to load.

### Che version
7.3.1

### Steps to reproduce

1. Create a Workspace with a devfile containing a cheEditor reference. For instance:
[code]
2. wait that it is saved
3. go to another page (for instance click on "Workspaces in left menu)
4. Try to "Configure" the workspace
5. The "Editors"

[2019-11-05 10:50] apupier opened #15095 "[Regression]Master build failing when pushing openshift connector plugin docker image"
### Describe the bug

[code]

introduced with this commit: https://github.com/eclipse/che-theia/commit/bcf1c25f5cf4619dda0bed114bb372336507b7da

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] m

[2019-11-05 10:55] apupier commented on #15095
@vparfonov when I hit the same [kind of issue](https://github.com/eclipse/che-theia/pull/479) few weeks ago, Florent pinged you, so pinging you. hope you can help.

[2019-11-05 11:16] azatsarynnyy commented on #15095
Thanks @apupier for the issue! I'm trying to figure out what's the cause.

[2019-11-05 12:22] denis111 opened #15096 "Support for "--tls" flag for helm install/update"
### Is your enhancement related to a problem? Please describe.
Can't install Che via chectl with already installed helm in tls mode https://helm.sh/docs/using_helm/#enabling-tls

### Describe the solution you'd like
Provide the option to chectl to add "--tls" flag to helm install/update commands

### Describe alternatives you've considered
Copy-paste helm command after chectl server:start failure.

[2019-11-05 12:22] sleshchenko commented on #15048
From retrieving logs implementation perspective - there should not be difficulties since there is `api.d.ts#readNamespacedPodLog` in @kubernetes/client-node typescript library.

But I believe UX should be elaborated more:
- Containers name has generated values, how user gets it when workspace fails to start and Containers View is not available with Theia?
- Does user really wants to start an inves

[2019-11-05 13:17] mshaposhnik commented on #15050
OK since for both exec and openfile actions we need project to be already present, so it seems we can omit the phases yet.
To avoid collisions, i would propose to not add separate entity type  for IDE actions, but just reuse existing actions with slight modifications (add autorun flag):
[code]

For openfile, just add another action type:

[code]
so it will be similar of how we have different compo

[2019-11-05 13:21] azatsarynnyy commented on #15095
@apupier `next` tag is on the dockerhub now
https://hub.docker.com/r/eclipse/che-remote-plugin-openshift-connector-0.1.1/tags

[2019-11-05 13:27] #15095 closed

[2019-11-05 13:45] NM4 commented on #15043
Hello,
Any update please on this issue ?
As summary :
I deployed che with chectl on k8s platform bootstrapped with Rancher RKE and the ingress-controller is exposed with metallb loadbalancer.

When I create a workspace with this Devfiles :

[code]

I get the Eclipse Ide interface.

But with

[code]

I get

`Error: Failed to run the workspace: "Server 'theia' in container 'theia-ideaff' not availab

[2019-11-05 13:49] tsmaeder commented on #14759
The extensions are published to NPM. There is a conversation related to this here: https://spectrum.chat/theia/dev/consuming-vs-code-built-ins~48a3feb9-fddb-42c3-9e0f-a317d81488c0

[2019-11-05 14:41] vinokurig opened #15097 "Redundant dialog appears on git repository related commands"
### Describe the bug

When having several git repositories in the workspace and executing any git command related to repository e.g. `git commit` from the SCM panel a redundant dialog appears and asks to select a repository. We don't need this dialog because SCM knows selected repository and it should be passed to the command.
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please spec

[2019-11-05 14:42] benoitf opened #15098 "Not able to see my workspace after 30 workspaces"
### Describe the bug
I often delete previous workspaces but when I've more than 30 workspaces I can no longer see my running workspace.
The workspace is running but it is not displayed in dashboard short list and dashboard only list 30 workspaces (not more)
calling `/api/workspace` also list only 30 workspaces (`pagination`)

with direct link I can open my workspace but not good :-)

### Che versi

[2019-11-05 14:43] benoitf commented on #15098
related to https://github.com/eclipse/che/issues/9752

[2019-11-05 15:07] apupier commented on #15095
@azatsarynnyy have you figured out what is the cause? is it happening for all new dockerfiles?

[2019-11-05 15:18] azatsarynnyy commented on #13406
waiting for https://github.com/eclipse/che-plugin-registry/pull/283

[2019-11-05 15:18] azatsarynnyy commented on #13410
waiting for https://github.com/eclipse/che-plugin-registry/pull/283

[2019-11-05 15:32] skabashnyuk commented on #15006
Reproduced
<img width="1678" alt="Знімок екрана  о 16 32 24" src="https://user-images.githubusercontent.com/1614429/68221565-e66ee180-ffe9-11e9-9886-ecf946215d74.png">

[2019-11-05 15:35] ibuziuk opened #15099 "7.3.1 version uses obsolete version of the plugin-broker (v0.22 instead of v0.24)"
### Describe the bug
7.3.1 version uses obsolete version of the plugin-broker (v0.22 instead of v0.24) which results in the following bugs:
- https://github.com/eclipse/che/pull/14969
- The ? maven issue is caused by using plugin broker v0.22 instead of v0.24; v0.22 overrides container command so the entrypoint script that sets user does not run

### Che version
- 7.3.1

### Expected behavior
late

[2019-11-05 15:46] benoitf opened #15100 "Welcome page logo appears very big for a short time"
### Describe the bug
When opening a workspace, welcome page displays Eclipse Che logo

It is being displayed for a couple of seconds in a very big layout/format before stretching it down

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
Open a workspace and see logo

### Expected behavior
Logo shouldn't shrink

### Runtime
   - [ ] kubernetes (incl

[2019-11-05 15:48] azatsarynnyy commented on #14900
if one runs everything inside the workspace, why he/she could require OpenShift plugin then?
I guess I misunderstand something.

[2019-11-05 15:55] dmytro-ndp opened #15101 "Run E2E Happy path nightly with "ephemeral workspaces""
### Is your task related to a problem? Please describe.
Right now, Happy Path tests are running only with "normal" workspaces. We need to crete suite to run Happy Path tests also with ephemeral workspaces (workspaces which doesn't need persistent storage), as this is one of the main usecase in hosted Che.

### Related issues
https://github.com/eclipse/che/issues/14749

[2019-11-05 15:56] azatsarynnyy commented on #15095
@apupier I believe @vparfonov knows the cause

[2019-11-05 15:57] #15014 closed

[2019-11-05 16:22] apupier opened #15102 "[Regression]Master build failing when pushing new Camel K plugin docker image"
### Describe the bug

[code]

https://ci.codenvycorp.com/job/che-theia-next/384/console

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubec

[2019-11-05 16:23] apupier commented on #15095
seems to occur on each new Docker File.. https://github.com/eclipse/che/issues/15102

[2019-11-05 16:23] apupier commented on #15102
@vparfonov Can you fix it? and provide the steps to avoid that in the future please?

[2019-11-05 16:43] metlos commented on #14908
We've decided to not merge this MVP into master and instead follow up on it to bring the finished feature into master. That's why I'm reusing this issue for the feature (and am updating the title and description) just to have some continuity of context.

[2019-11-05 16:51] metlos commented on #14379
I favour **1.2** because it IMHO makes more sense in the context of Che.

[2019-11-05 17:19] amisevsk commented on #14844
@tsmaeder I created issue https://github.com/eclipse/che/issues/15091 for provisioning a registry's public endpoint as an env var to support this; if we could rely on knowing what our URL is, I could implement this without much trouble, even without a proper API (we already do it for the devfile registry, for cached project zips).

The issue with consumers interpreting relative URLs is that we wou

[2019-11-05 17:45] amisevsk commented on #14379
FWIW I also think 1.2 is a better approach

[2019-11-05 17:52] l0rd opened #15103 "E2E test suite for Che 7 - NodeJS version"
# E2E test suite for Che 7 - NodeJS version

This is the description of an E2E UI testing of Eclipse Che 7 similar to #12728 but for NodeJS applications.

## E2E Test Script

### 1 - Deploy Che on minikube using the operator with authentication enabled

#### Steps

- [ ] Install minikube
- [ ] Pre-pull docker images needed by the workspace:
  - Usual ones
    - `quay.io/eclipse/che-operator:nightl

[2019-11-05 17:53] l0rd commented on #15012
Here is the issue #15103

[2019-11-05 17:53] #15012 closed

[2019-11-05 18:05] l0rd opened #15104 "Persist Theia theme Change in user preferences"
### Is your enhancement related to a problem? Please describe.

Changing the theme to "Light Theme" is ignored after restarting a workspace

### Describe the solution you'd like

The theme should be persisted in user preferences. If I restart a workspace or create a new one I expect the theme I have selected to be applied.

[2019-11-05 18:37] dmytro-ndp opened #15105 "Create automated E2E functional test to check plugin installation inside workspace"
### Test scenario
1. Create and open Java maven workspace.
2. Go to View > Plugins menu item to open Plugins view.
3. Click on "install" on some plugin.
4. Ensure plugin has successfully been installed.

### Related issue
https://github.com/eclipse/che/issues/15006

[2019-11-05 19:02] amisevsk commented on #14790
PR https://github.com/eclipse/che-devfile-registry/pull/96 adds another gothinkster sample to the devfile registry.

[2019-11-05 20:44] #13406 closed

[2019-11-05 20:44] #13410 closed

[2019-11-05 20:48] l0rd opened #15106 "Enable "Copy on Selection" for terminal"
### Is your enhancement related to a problem?

Modern shells automatically copy to the clipboard selected text. That allows to copy some text quickly. VS Code provide this option for example.

### Describe the solution you'd like

Add a preference to "Copy on Selection" for the terminal as in VS Code:

![image](https://user-images.githubusercontent.com/606959/68244651-8ee66b00-0015-11ea-80a4-6feea

[2019-11-05 20:57] tomgeorge commented on #14426
I'm unable to close this, can someone please close?

[2019-11-05 21:04] l0rd commented on #15096
Hi @denis111

You would like that when `chectl server:start` is invoked with option `--tls` we then:
- [ ] Add option `--tiller-tls-verify` to  the command `helm init` that creates the Tiller service
- [ ] Add option `-tls` to any consequent `helm` command like `helm upgrade` and `helm dependencies update`

Is that correct?

[2019-11-05 21:15] tomgeorge commented on #14662
Updated Roles required for a normal user to install che via `chectl` (without creating the clusterrole using this branch https://github.com/che-incubator/chectl/pull/381):

https://gist.github.com/tomgeorge/3e6d9cefad635160a022fc1a8f929e1c

Testing matrix:

- [ ] minikube
- [ ] minishift
- [x] crc
- [ ] kubernetes
- [ ] OCP 4.X

[2019-11-05 21:26] l0rd commented on #14947
7.3.1 has been released. Closing

[2019-11-05 21:26] #14947 closed

[2019-11-05 21:33] l0rd opened #15107 "Release Che v7.3.2"
### Is your task related to a problem? Please describe.

We may need to release Che 7.3.2. This task is to track the list of fixes that should be added to the release:

- [x]  [7.3.1 version uses obsolete version of the plugin-broker (v0.22 instead of v0.24) · Issue #15099 · eclipse/che](https://github.com/eclipse/che/issues/15099)
  - [x] PR - https://github.com/eclipse/che/pull/15178
- [x]  macn

[2019-11-05 21:50] dmytro-ndp commented on #15107
Does it affect CRW 2.0.0?

[2019-11-05 22:04] l0rd commented on #15107
Yes this is a list of eventual fixes needed for CRW 2.0.0

[2019-11-05 22:07] dmytro-ndp commented on #15107
Thanks.

[2019-11-05 22:09] tomgeorge opened #15108 "Chectl cannot start Che with openshift OAuth on CRC"
## Summary

[code]

When installing che via the operator and chectl on crc, the program will not enable openshift oauth because the platform is CRC.  Is there a way for Che to integrate with CRC's OAuth?

[2019-11-05 22:23] denis111 commented on #15096
Yes but not exactly. I think current chectl's --tls option has nothing to do with helm's --tls option, maybe it should be another flag for chectl like --helm-tls

[2019-11-06 01:05] #14426 closed

[2019-11-06 07:10] benoitf opened #15109 "Move out all non theia images from che-theia repository"
### Is your task related to a problem? Please describe.

Today, che-theia repository contains lot of images definition.
Historically it was because all plug-ins runtime need to had the endpoint-image as parent image (or to have it by composition)
But now, as we're using endpoint dynamically added, we no longer need to have this inheritance

### Describe the solution you'd like
Move all images to s

[2019-11-06 07:18] kellyhyomin opened #15110 "I get a 503 error right after creating a workspace."
## Summary
- che version : 7.3.0
- runtime : kubernetes
- screenshots
![image](https://user-images.githubusercontent.com/29850624/68275937-1b456c00-00b0-11ea-9a7e-0e9dd29cfeac.png)
![image](https://user-images.githubusercontent.com/29850624/68275796-ed602780-00af-11ea-9fce-6e5cc4e49b78.png)
![image](https://user-images.githubusercontent.com/29850624/68276118-32845980-00b0-11ea-9cee-b48238bf8981.pn

[2019-11-06 07:32] ibuziuk commented on #15107
@l0rd I think we should also include https://github.com/eclipse/che/issues/15006

[2019-11-06 07:54] evidolob commented on #15006
che-theia use DELETE http request with `/api/workspace/{workspaceId}/runtime` URL.
When I do curl request on that URL, I got
[code]
error on ws-loader,
I think problem in implementation of `/api/workspace/{workspaceId}/runtime` REST service

[2019-11-06 08:02] #14819 closed

[2019-11-06 08:04] apupier commented on #15102
it has been fixed. but I still don't know how.

[2019-11-06 08:04] #15102 closed

[2019-11-06 08:19] ibuziuk commented on #15006
@evidolob you execute delete and get `Failure executing: POST` ?
Also, could you please test locally (I see that you are still testing against Hosted Che)

[2019-11-06 08:25] vparfonov opened #15111 "Release 7.4.0"
- [x] che-theia @evidolob `eclipse/che-theia:7.4.0`
- [x] che-machine-exec @ibuziuk `quay.io/eclipse/che-machine-exec:7.4.0`
  - [x] https://github.com/eclipse/che-machine-exec/pull/52
  - [x] version bump in master https://github.com/eclipse/che-machine-exec/pull/53
- [x] che-plugin-registry @ibuziuk `quay.io/eclipse/che-plugin-registry:7.4.0`
   - [x] https://github.com/eclipse/che-plugin-regist

[2019-11-06 08:28] vparfonov commented on #15107
what due dates?

[2019-11-06 08:28] azatsarynnyy commented on #13080
I'm +1. Another case is the Kubernetes Tooling Che plugin. It also requires a project folder to be opened as a Theia Workspace root folder for executing some commands.

[2019-11-06 08:35] ibuziuk commented on #14963
Closing, the initial implementation of CRW specific chectl (crwctl is available) in https://github.com/redhat-developer/codeready-workspaces-chectl

[2019-11-06 08:35] #14963 closed

[2019-11-06 08:40] tsmaeder commented on #13080
@tolusha I thought golang requires us to check out projects in a fixed location depending on the package name. Do you know how it would work in a setup with multiple workspace roots?

[2019-11-06 08:50] svor opened #15113 "[Quarkus] Welcome page is empty"
While testing [vscode-quarkus](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus) extension I detected a problem: if open Welcome page by `Quarkus: Welcome` command or it was opened automatically, It doesn't provide any information.

![screenshot-che-che 192 168 99 104 nip io-2019 11 06-10_45_14](https://user-images.githubusercontent.com/1271546/68282555-98f28300-0082-11ea-

[2019-11-06 09:02] l0rd commented on #15107
@ibuziuk added

@vparfonov we want this to be included in CRW 2.0.0 so we should release at the beginning of next week. Something important to mention is that as far as I am concerned those are not blockers: if we don't have a fix for them by the beginning of next week we can add them in the doc among "Known Issues". In other words: let's do the  7.3.2 release at latest next Tuesday with whatever

[2019-11-06 09:04] sleshchenko commented on #15108
@tomgeorge as a workaround you can set openshift as platform, OAuth should work, at least it worked for me. But note that you have to set up OAuth on crc (see https://docs.openshift.com/container-platform/4.1/authentication/understanding-identity-provider.html#supported-identity-providers) and loging with anyuser via new oauth (not kubeadmin)
otherwise operator will do nothing but just prints into

[2019-11-06 09:08] #14835 closed

[2019-11-06 09:08] svor opened #15114 "[Quarkus] Can't debug Quarkus application"
While testing vscode-quarkus extension I detected a problem: if execute **Quarkus: Debug Current Quarkus Project** command, I see a message:
`ERROR There is no debug configuration for undefined`
in the browser console and the debugger doesn't execute, but the configuration was generated in launch.json file:
[code]
If try to run this configuration from Debug view, I see a message that `Task 'quarku

[2019-11-06 09:10] skabashnyuk opened #15115 "Platform-2019-11-26 (Sprint: 175)"
### New Task && Enhancements

- [ ] che factory: should be able to override the name, source.repo, source.branch of the workspace that will be created in the url kind/enhancement severity/P2 team/platform | https://github.com/eclipse/che/issues/13617 | 8
- [x] Publish plugin broker pod events | https://github.com/eclipse/che/issues/14854 | 5
- [x] [POC] How to configure monitoring/tracing with che

[2019-11-06 09:22] svor opened #15116 "[Quarkus] Can't add Quarkus extension to the project"
While testing [vscode-quarkus](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus) extension I detected a problem:
There is not possible to add new Quarkus extension to the project.
How to reproduce:
1. Go to `Quarkus: Add extension to currant project` command
2. Select some extension and press Enter
3. An error in Output view:
[code]
</details>
But if do it again, the exten

[2019-11-06 09:24] dmytro-ndp commented on #14963
Downstream issue: https://issues.jboss.org/browse/CRW-463

[2019-11-06 09:30] TristanFAURE commented on #15043
Hello
any hints about @NM4 issues ?

[2019-11-06 09:37] sleshchenko commented on #15043
The last idea I have - permissions issue in the mounted volumes.

From the shared Theia Logs:
[code]

@NM4 Are you able to share logs of Theia without plugins?
Are you able to open terminal in Theia container and try to create any file into `/plugins`, `/projects` folders? What are permissions for these directories?

[2019-11-06 09:39] sleshchenko commented on #15043
@mmorhun @evidolob Can non-writable `/projects`, `/plugins` prevent Theia from starting? If yes, can we change it, like theia should show an error message but start without any plugins loaded?

[2019-11-06 09:40] svor opened #15117 "[Quarkus] quarkus:dev task was generated incorrectly"
While testing [vscode-quarkus](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus) extension I detected a problem:
The generated task **quarkus:dev**  has not valid command:
[code]

<details><summary>Che remote plugin with vscode-quarkus extension</summary><p>

[code]

[2019-11-06 09:46] vitaliy-guliy commented on #15006
To solve the problem we need:
- [ ] fix an error when updating the devfile of running workspace (Request addPlugin failed unexpectedly)
- [ ] check workpsace status before refreshing the page (should wait until workspace status has been changed)

[2019-11-06 09:49] svor opened #15118 "Add the vscode-quarkus extension to Che"
### Describe the bug

While trying[ vscode-quarkus](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus) extension in Che-Theia I found multiple issues:

### Problems:
- [x] [Welcome page is empty](https://github.com/eclipse/che/issues/15113)
- [ ] [Can't debug Quarkus application](https://github.com/eclipse/che/issues/15114)
  - [ ] https://github.com/eclipse-theia/theia/iss

[2019-11-06 09:51] metlos opened #15119 "Set the `che.infra.kubernetes.namespace.default` property on update of che server"
### Subtask of https://github.com/eclipse/che/issues/14908

### Is your enhancement related to a problem? Please describe.
Che `7.4.0` adds the ability to configure the namespace of a workspace using the new `che.infra.kubernetes.namespace.default` property. Che operator does not set that property.

### Describe the solution you'd like
The operator should set this property to the same value as the

[2019-11-06 09:57] metlos opened #15120 "Add `metadata.namespace` to devfile"
### Subtask of https://github.com/eclipse/che/issues/14908

### Is your enhancement related to a problem? Please describe.
`metadata.namespace` is a standard part of all k8s objects. At the same time, we adding the ability to specify the namespace of a workspace upon workspace creation. It is only logical to follow the k8s convention and enable the specification of the namespace directly in the de

[2019-11-06 10:00] svor commented on #15118
This issue need to be fixed to resolve https://github.com/eclipse/che/issues/14506 and https://github.com/eclipse/che/issues/15085

[2019-11-06 10:02] tsmaeder commented on #15114
@svor does it work if you ad the "console": "internal console" attribute to the launch config?

[2019-11-06 10:03] NM4 commented on #15043
@sleshchenko  thanks for replying.
Yes I'm able to create files in `/projects ` and ` /plugins` :

[2019-11-06 10:04] NM4 commented on #15043
Is there a way to launch Theia workspace in debug mod ?

[2019-11-06 10:15] NM4 commented on #15043
With this devfile :

I have Theia logs bellow :

[2019-11-06 10:16] metlos opened #15121 "Support `env` for components of type kubernetes/openshift"
### Subtask of https://github.com/eclipse/che/issues/14970

### Is your task related to a problem? Please describe.
Devfile cannot override the env variables in kubernetes/openshift components. This makes it hard to reconfigure the containers contained in them.

### Describe the solution you'd like
We should add the ability to set the env variables that should be applied to containers contained in

[2019-11-06 10:19] sleshchenko commented on #15043
@NM4 There are no any errors in Thea logs you shared, but you still get 502 when you go to the Theia's URL?

[2019-11-06 10:20] vparfonov commented on #14398
blocked with kubernetes/kubernetes#81089

[2019-11-06 10:25] svor commented on #15114
@tsmaeder It is not possible to add the `console` attribute to the launch configuration which has value of "request" attribute as "attach", we could do that if the configuration has **"request": "launch"** attribute. So, probably I was mistaken when wrote that this is related to  https://github.com/eclipse-theia/theia/issues/6103

[2019-11-06 10:27] tolusha commented on #13080
@tsmaeder  Since 1.11 there is ability to put go project in a arbitrary folder.

[1] https://blog.golang.org/using-go-modules

[2019-11-06 10:30] mmorhun commented on #14802
So, to resolve this problem we have to improve ports plugin to ignore already exposed routes.
@benoitf are you ok with such solution?

[2019-11-06 10:33] davidfestal commented on #15081
@skabashnyuk why did you add `area/operator` ? According to description this is installed through `chectl server:start -p minikube -m` which doesn't seem to involve the operator afaik. Isn't the default installer for minikube the `helm` installer ? If that's the case, then the issue is more related to `chectl` or `helm charts` I suppose.

@l0rd @benoitf wdyt ?

[2019-11-06 10:36] davidwindell commented on #14398
The fix from K8's could be a long time coming. In the meantime, can you implement the workaround of copying the files but _only_ when the pod is running as `root`. This would at least fix SSH git clone for some users.

[2019-11-06 10:41] metlos opened #15122 "Support `volumes` for components of type kubernetes/openshift"
### Subtask of https://github.com/eclipse/che/issues/14970

### Is your task related to a problem? Please describe.
To be able to share storage between different components of the devfile, it would be beneficial to be able to specify `volumes` on the `kubernetes`/`openshift` components the same way it is possible on the `dockerimage` components.

### Describe alternatives you've considered
There a

[2019-11-06 10:46] tsmaeder commented on #13080
@tolusha yes, but what do we need to pass to the language server to make it work? I thought we were multi-root safe for all languages. Could you confirm?

[2019-11-06 10:53] davidfestal opened #15123 "Che Operator should have decent tests for the various use-cases / installation variants"
### Is your enhancement related to a problem? Please describe.

It seems that the operator doesn't have a decent test coverage, nor a clear testing framework to test the generated K8S objects from the CheCluster CR, and the various installation / update scenarios in all cases.

### Describe the solution you'd like

Take some time to review the current of che operator tests, and think about how the

[2019-11-06 10:53] NM4 commented on #15043
Here what I get for each created ingress :
[code]

[2019-11-06 10:55] NM4 commented on #15043
And here che-server UI logs :

[code]

[2019-11-06 11:01] sleshchenko commented on #15043
@NM4

Could you explain `(.*)` fragment? It is used by Che? Are you able to access Theia if you open URL without such fragment?

[2019-11-06 11:16] metlos opened #15124 "Support `endpoints` for components of type kubernetes/openshift"
### Subtask of https://github.com/eclipse/che/issues/14970

### Is your task related to a problem? Please describe.
No support for `endpoints` on the kubernetes/openshift components makes it impossible to expose a service/port defined in the component.

### Describe the solution you'd like
There are 2 alternatives we need to consider:
1. exposing a service defined by the component
1. exposing a po

[2019-11-06 11:24] fbricon commented on #15113
depends on a version of the vscode API not available in Theia?

[2019-11-06 11:28] ibuziuk commented on #15107
@amisevsk I think we probably need to backport - https://github.com/eclipse/che-plugin-registry/pull/282

[2019-11-06 11:31] metlos opened #15126 "Support `endpoints` for components of type chePlugin"
### Subtask of https://github.com/eclipse/che/issues/14970

### Is your task related to a problem? Please describe.
No support for `endpoints` on the `chePlugin`/`cheEditor` components makes it impossible to expose a port defined in the component.

### Describe the solution you'd like
This is very similar to #15124 and ideally we should consider reusing the code that applies the endpoint to the ku

[2019-11-06 11:35] davidfestal opened #15127 "Refactor the operator `reconcile` method to make it non-blocking"
### Is your task related to a problem? Please describe.

Currently the main `reconcile` method of the Che operator contains synchronous calls that wait for the end of the deployment of some K8S object, before continuing the process. This is a bad design, since it blocks the operator loop, and prevent the operator to take in account any other change event in the Custom Resource that might occur in

[2019-11-06 11:40] metlos commented on #14634
Closing as duplicate of #13318.

[2019-11-06 11:40] #14634 closed

[2019-11-06 11:45] NM4 commented on #15043
Yes this is the ingress created by Che (hostname + path) :

[code]

Without (.*)  I get the same message 502 Bad Gateway

[2019-11-06 12:04] evidolob commented on #15111
We need https://github.com/eclipse/che/pull/15112 merged in che to be able to build dashboard for 7.4.0