[2019-09-21 08:16] davidwindell commented on #14398
Could the fact I have to use:

[code]

As per #14330, cause this?

[2019-09-21 13:40] gorkem commented on #14621
chectl requires `kubectl` or `oc` to be installed and authenticated to the cluster that you intend to work with che. It is how chectl gets the information for connecting kubernetes and run the setup.

More info on kubeconfig https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2019-09-21 15:26] carljmosca commented on #14621
I will look at this further but I don't know exactly what I am looking for quite yet.  Is it possible for you to point me to the step I have missed in the chectl docs?

We are currently using both kubectl and oc for our internally hosted OCP along with k8s running locally.  We're not currently seeing any problems switching as needed.

[2019-09-21 16:09] carljmosca commented on #14621
Same issue when I try after an oc login.

Went ahead and played around a bit with the online version.  Definitely better since last I tried but I will try again after things mature a bit more.

[2019-09-21 16:09] #14621 closed

[2019-09-21 16:10] gorkem commented on #14621
Do you have a 'KUBECONFIG' environment variable set?

[2019-09-21 16:26] carljmosca commented on #14621
Have tried it w/ and w/o KUBECONFIG being set but given that mine is in the default location and I understand kubectl looks at the default location if not set I would not expect any different behavior.

[2019-09-21 16:58] gorkem commented on #14621
Do you really have a `cluster` definition without server on that file? The error message suggests that but it just does not make a lot of sense.

[2019-09-21 20:16] carljmosca commented on #14621
I have cleaned up the config file (there are multiple copies of multiple clusters which had not bother other apps we're running) and had to add a couple of parameters to the server:start command but I am not able to connect.  I don't know if the platform should be k8s or docker4mac given what I have read the latter is not yet supported.

As far as the domain parameter goes I have tried a combinati

[2019-09-22 15:45] nickboldt opened #14623 "Improve build process for arbitrary-users-patch'd images for Brew compatibility"
### Describe the bug

As an extender of Che 7, I need to be able to rebuild these images:

* quay.io/eclipse/che-java8-maven
* quay.io/eclipse/che-java11-maven

But there appears to be no documentation and no obvious Dockerfiles for how to build these images. I've checked all the eclipse/che-* repos in GH, and I can't find any sources for these. Yet some CI process is definitely producing them fro

[2019-09-22 15:58] nickboldt commented on #14088
Need this for offline / airgap, so P1/blocker.

[2019-09-22 16:09] nickboldt commented on #13607
EL fix was pushed in https://github.com/eclipse-ee4j/eclipselink/pull/500 on Sept 11 for the 2.7 branch. But no new EL releases since 2.6.8 on 19 Jun and 2.7.4 on 18 Jan, so looks like we're still blocked here.

As this blocks https://issues.jboss.org/browse/CRW-304 we need this for Che 7.2 (or 7.3 if upstream EclipseLink won't deliver in time).

Can anyone push on the EclipseLink team to deliver

[2019-09-22 16:12] skabashnyuk commented on #13607
Lukas Jungmann response was

[2019-09-22 16:13] nickboldt commented on #13607
Does that mean in the next 8 days? Or in time for 7.2?

[2019-09-22 16:15] skabashnyuk commented on #13607
I believe that was a wish not an obligation. And  I doubt that it can be a part of Eclipse Che 7.2.

[2019-09-22 16:16] nickboldt commented on #13607
Too bad they don't do releases as part of the Eclipse simrel trains, or we'd have had it last week. :'(

[2019-09-22 16:33] nickboldt commented on #14623
Thanks to a pointer from @skabashnyuk I've found this is done in https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/build_images.sh#L37 as part of a patch set that @amisevsk created to produce 12 new images based on upstream, but with support for arbitrary users (req'd by Openshift).

So... yeah. This is going to be an interesting exercise to turn into something we c

[2019-09-22 19:38] nickboldt commented on #14623
I've updated both
* https://quay.io/repository/eclipse/che-java8-maven?tab=info and
* https://quay.io/repository/eclipse/che-java11-maven?tab=info
with notes about how to build/publish via CI.

Next, here's a fork of [che-devfile-registry/arbitrary-users-patch](https://github.com/eclipse/che-devfile-registry/tree/master/arbitrary-users-patch) which works with UBI8 and should also work in Brew (onc

[2019-09-23 05:46] rguskov commented on #14606
I can see there is an issue with /api/websocket end point on the che server. Any call to this point ends up with 404 in the ingress controller. Trying to copy and execute the request from a browser gives the same result. Changing the token ends up with 401 which makes me think the request passes the authentication point but fails to get to the rest point for some reason.

GET /api/websocket?token=

[2019-09-23 05:48] rguskov commented on #14406
Closing this issue as the keycloak issue is now resolved and the last one is open as a separate issue https://github.com/eclipse/che/issues/14606

[2019-09-23 05:48] #14406 closed

[2019-09-23 06:27] skabashnyuk opened #14624 "Document how to use one namespace per user strategy (che.osio like)"
### Is your task related to a problem? Please describe.
In this pr https://github.com/eclipse/che/pull/14524 we introduced some features that give more control over https://github.com/eclipse/che/issues/13488 one namespace per user strategy (che.osio like). As discussed here https://github.com/eclipse/che/issues/13488#issuecomment-527169293 we need
- We need to update documentation explaining how

[2019-09-23 06:52] dmytro-ndp opened #14625 "Collect server logs if Happy path tests fail on PR check on CRW CI"
### Is your enhancement related to a problem? Please describe.
There is sometimes lack of server logs after Happy path tests PR check failed on CRW CI, e.g. in case when chectl doesn't start Che, or workspace.

### Describe the solution you'd like
We need to modify PR check job to collect and to save server logs of certain build.

[2019-09-23 06:55] sparkoo commented on #14624
here's global che docs overview task https://github.com/eclipse/che-docs/issues/712. "Configuring namespace strategies" is blocker for this.

[2019-09-23 06:57] skabashnyuk commented on #14614
@l0rd can you explain the target goal of this change? I worried that "hosted" Che and Che that is running locally may require different configuration parameters because it has different performance requirements.

[2019-09-23 08:12] ibuziuk commented on #14614
@skabashnyuk I do not think that it is related to "hosted" Che - those are related to improvements of the  default values for any multi-user installation so that the setup would be minimum and desired config would be applied OOTB

[2019-09-23 08:16] sleshchenko opened #14627 "Dashboard must not send keycloak token to plugin and devfile registries"
### Describe the bug
Plugin and Devfile registries are designed as free services that do not require any authentication.
Sending Che Keycloak tokens to them are non-necessary and potentially not a safe thing to do.
Dashboard must not send keycloak token to plugin and devfile registries
![Screenshot_20190911_145903](https://user-images.githubusercontent.com/5887312/65410499-32c3e080-ddf3-11e9-9ab9-

[2019-09-23 08:18] vparfonov commented on #14616
Need to try use Che username and Che email for git info configuration, without asking this information from user

[2019-09-23 08:20] sleshchenko commented on #13504
There is a dedicated issue to provide a list of available namespaces https://github.com/eclipse/che/issues/14376. And this issue is more about extending that API and provide resources information about namespaces. The description is updated with the corresponding changes.

[2019-09-23 08:32] vinokurig opened #14628 "Error while building Che-Theia docker image"
### Describe the bug

Error occurs when executing `./build.sh --build-args:GITHUB_TOKEN=${GITHUB_TOKEN},THEIA_VERSION=master --tag:next --branch:master --git-ref:refs\\/heads\\/master` in `/che-theia/dockerfiles/theia` directory:
[code]
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include

[2019-09-23 08:33] rhopp opened #14629 "Load test Che on real cluster"
Target: 50-100 concurrent workspaces.
Descritpion TBD

[2019-09-23 08:34] l0rd commented on #14438
@ibuziuk what's the use case here: a user that creates 20 key pairs ? I understand that a user may have already some secrets but it's unlikey that a user create more than 1 or 2 SSH keypair for Che.

The urgent thing here is to show a meaningful error message that explains the error and the root cause.

[2019-09-23 08:34] l0rd commented on #14438
@ibuziuk set the priority to P2

[2019-09-23 08:45] #14399 closed

[2019-09-23 08:48] benoitf commented on #14628
I would say a duplicate of https://github.com/eclipse/che/issues/14618

[2019-09-23 08:50] fbricon commented on #14556
looks like it's because initially the sources are not available, so the arg names are just inferred from the bytecode. After a while, once the sources have been downloaded, the param names are available.

[2019-09-23 08:51] vinokurig commented on #14628
Closing as a duplicate

[2019-09-23 08:51] #14628 closed

[2019-09-23 08:52] #14512 closed

[2019-09-23 08:53] #14522 closed

[2019-09-23 09:01] mmorhun commented on #13021
After some discussions we decided to add whole `deprecate` field into `index.json`

[2019-09-23 09:11] #14153 closed

[2019-09-23 09:18] #12996 closed

[2019-09-23 09:18] #12943 closed

[2019-09-23 09:20] tsmaeder commented on #12193
Closing as duplicate of https://github.com/eclipse-theia/theia/issues/4016

[2019-09-23 09:20] #12193 closed

[2019-09-23 09:23] #13495 closed

[2019-09-23 09:34] metlos opened #14630 "Operator regenerates DB password without redeploying Postgres"
### Describe the bug
If a user changes the tag of the che image in the CR, the server is redeployed with that new image.

But the operator also creates a new random DB password and updates the che config map with it, without redeploying the Postgres server, which leads to a non-functioning installation.

### Che version
N/A

### Steps to reproduce

1. build and install the operator into some names

[2019-09-23 09:36] metlos commented on #14200
Discovered another issue - https://github.com/eclipse/che/issues/14630

[2019-09-23 09:37] l0rd commented on #14614
That's not specific to hosted Che. We continuously get feedbacks from real world usage of Che (che.osio is and example but @kameshsampath workshops, @gorkem, and others as well) and I have done a list of default configs that IMHO should be updated. @skabashnyuk that's a proposal, if there is some concern on any of those configurations let's discuss it.

[2019-09-23 09:40] tsmaeder commented on #14520
FWIW: I tried reproducing this but was not able to get che to work on minishift

[2019-09-23 09:56] tsmaeder commented on #14577
@rbcminghou there is a preference in theia for the vm args.

[2019-09-23 10:04] metlos commented on #14200
After all, this affects 1 upgrade scenario:
1. Using Che6 based operator, install che cluster CR specifically mentioning the image tag of Che to install
1. Upgrade the operator to Che7 based one.
1. The Che server deployment doesn't change because the image tag is explicitly configured.
1. Now you need to manually change the tag to some 7.x version, which triggers #14630.

[2019-09-23 10:29] ibuziuk commented on #14530
PR sent - https://github.com/eclipse/che/pull/14631

[2019-09-23 11:12] mohitsuman opened #14632 "Icons are missing from VSCode Extensions in che plugins"
### Describe the bug

When we install a VSCode plugin , OpenShift Connector , the following icons are missing:
1. Navigation Bar icon for the extensions
2. Extension Icon on the Activity Bar
3. Icons for the tree node

### Che version
`Che-Theia@3acccea`
Eclipse Che version: `7.1.0`

### Steps to reproduce
1. Run Eclipse Che using Che operator
2. Install OpenShift Connector from Che Plugins
3. Rel

[2019-09-23 11:25] skabashnyuk commented on #14614
@l0rd my concerns that some of the values can simply kill or make almost impossible some Che usage scenarios. Like  ```Che server memory request/limit should match osio (512Mi/4Gi)``` that is too match for local Che. It's hard to use it locally with 16G of RAM with that change it becomes even more harder.

Let's review values one by one.

I think ok for any scenario by default

Are we talking abou

[2019-09-23 11:34] rhopp commented on #13486
@Ohrimenko1988 Could you please break down this issue into more smaller ones (maybe transform this one into epic?)

[2019-09-23 11:35] l0rd opened #14633 "Updates to Hosted Che ConfigMaps"
### Is your enhancement related to a problem? Please describe.

Reviewing che.osio config maps I have noticed some that may be outdated.

### Describe the solution you'd like

The following ones

[code]

look like old (che 6) properties and the following one should be used instead

[code]

UPDATE: Check that no obsolete env vars are used in the Operator (mailing thread - Deprecated properties && e

[2019-09-23 11:36] rhopp commented on #13531
@Katka92 I know you were already working on this one. Could you please add the issues/PRs you were working on to this epic?

[2019-09-23 11:38] ibuziuk commented on #14633
Related to https://github.com/redhat-developer/rh-che/issues/1477

[2019-09-23 11:42] rhopp commented on #14022
We need to investigate, if this workaround (https://github.com/eclipse/che/blob/master/e2e/pageobjects/ide/Ide.ts#L58) is still executing. We should remove it (or throw exception with link to original issue - sign of regression)

[2019-09-23 11:49] ibuziuk commented on #14614
@rhopp could you also prioritize https://github.com/redhat-developer/rh-che/issues/1337 as part of this issue ? `JSONRPC` setting must also be unified

[2019-09-23 11:51] #13974 closed

[2019-09-23 12:33] svor opened #14634 "Support volumes for plugin components in devfile"
### Description
It is necessary to add an ability to set `volumes` for `chePlugin` component. For example it is needed to mount the `.m2` volume to the java plugin.

[2019-09-23 12:34] svor commented on #14634
It is needed for https://github.com/eclipse/che/issues/13603

[2019-09-23 12:36] Katka92 commented on #13531
@rhopp sure, I've create test for Java Vert.x. I don't have issue for that, PR is here: https://github.com/eclipse/che/pull/14558 . More information about this test can be found in PR description.

[2019-09-23 13:05] rhopp commented on #8328
@edeandrea I'm afraid we will not fix this one for Che 6.x stream.
For Che 7 we've moved to "devfiles" concept. I suggest you to try to move to Che 7 & devfiles.
I took a look at your factory and it seems there is nothing devfile couldn't handle. Once you have your devfile, you can create workspace from that devfile exactly the same way you created workspace from factory: `<che-server-url>/f?url=<

[2019-09-23 13:18] rhopp commented on #14590
@SDAdham Could you provide exactly the devfile you used? I've tried with the one in the description and I wasn't able to reproduce the problem you are facing...

Could you also provide logs of che server pod?

[2019-09-23 13:27] vparfonov commented on #2913
not actual

[2019-09-23 13:27] #2913 closed

[2019-09-23 13:27] vparfonov commented on #4039
not actual

[2019-09-23 13:27] #4039 closed

[2019-09-23 13:28] vparfonov commented on #4225
not actual

[2019-09-23 13:28] #4225 closed

[2019-09-23 13:30] #4787 closed

[2019-09-23 13:34] rhopp commented on #14596
I kind of like the idea of devfile registry serving devfiles from different repositories

[2019-09-23 13:43] #5383 closed

[2019-09-23 13:44] #5478 closed

[2019-09-23 13:44] Ohrimenko1988 commented on #13686
@rhopp @dmytro-ndp
I have implemented some changes and output looks like:

**DEBUG**
![Screenshot from 2019-09-23 16-42-17](https://user-images.githubusercontent.com/22724619/65430905-5867de80-de21-11e9-9a84-32e2436db8aa.png)

**TRACE**
![Screenshot from 2019-09-23 16-34-29](https://user-images.githubusercontent.com/22724619/65430941-6453a080-de21-11e9-853a-2dc3e4fd1a0a.png)

What do you think abo

[2019-09-23 13:45] #5668 closed

[2019-09-23 13:45] #5702 closed

[2019-09-23 13:46] rhopp commented on #14604
Nice catch.
There is workaround, if you are blocked on this:
If you are using helm charts (default for chectl now), you can workaround this by cloning https://github.com/eclipse/che/tree/master/deploy, changing the helm charts and feeding them to chectl (by `--templates` parameter).

[2019-09-23 13:48] #5488 closed

[2019-09-23 13:49] vparfonov commented on #6271
not actual

[2019-09-23 13:49] #6271 closed

[2019-09-23 13:49] Ohrimenko1988 commented on #13686
What about adding xpath to the "DEBUG" level
For example:
```ProjectTree.expandItem <xpath>``` instead of ```ProjectTree.expandItem```

[2019-09-23 13:52] rhopp commented on #13686
I would say, that as a general rule of thumb, on the `debug` level I would like to know "What's happening", on the `trace` level I would like to know "how exactly is it happening". So - I would put selector to "debug" only in some certain cases, where it really matters (and the selector is not very long, etc.)

[2019-09-23 13:59] rhopp commented on #14622
@skabashnyuk This seems like a bug, right?

[2019-09-23 14:03] l0rd commented on #14623
@nickboldt some good things here:

- we never documented the build process and that's cool that you have done it. We should probably to that in the [devfile registry README.md](https://github.com/eclipse/che-devfile-registry/blob/master/README.md) as well though.
- we should definetely re-use the same image for both the remote plugin and the jdk-maven-container. But that would be possible only aft

[2019-09-23 14:06] Ohrimenko1988 commented on #13686
@rhopp
What about this version?
![Screenshot from 2019-09-23 17-04-39](https://user-images.githubusercontent.com/22724619/65432732-679c5b80-de24-11e9-809e-2bbbb6b86497.png)

[2019-09-23 14:11] ibuziuk commented on #14296
Closing. it was decided not to merge 2 images in one, but rather focus on refactoring - https://github.com/eclipse/che/issues/14494

[2019-09-23 14:11] #14296 closed

[2019-09-23 14:12] ibuziuk commented on #13452
Closing. in favour of plugin broker refactoring - #14494

[2019-09-23 14:12] #13452 closed

[2019-09-23 14:14] dmytro-ndp commented on #13686
@Ohrimenko1988: [newer variant](https://github.com/eclipse/che/issues/13686#issuecomment-534114876) mush closer to what was asked [here](https://github.com/eclipse/che/issues/13686#issuecomment-528790931).
Could this approach be spread to other methods like:
[code]

[2019-09-23 14:16] tsmaeder commented on #14623
The image for the plugin container is determined by the plugin metadata. The image for the jdk-maven-container comes from the devfile. There are many devfiles, but only one plugin, so we would push the responsiblity for ensuring the plugin prerequisites are installed to the author of the devfile. Maybe I'm not understanding the ide here, but I don't think that is desirable.

[2019-09-23 14:17] skabashnyuk commented on #14622
@wgbeckmann I think that the situation (che on http but some endpoints on https) that you've described was never considered as "working". The only suggestion that I have is to enable TLS for the whole Che environment https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L558

[2019-09-23 14:28] davidfestal opened #14635 "Replace the use of `custom` operator config map with a map inside the custom resource."
### Is your enhancement related to a problem? Please describe.

Avoid the need to use the `custom` config map to override any customized Che server property (not driven by the `CheCluster` custom resource).
Instead we shoud have a way to override Che server properties directly inside the Custom resource.

### Describe the solution you'd like

Have a map of values inside the `CheCluster` custom res

[2019-09-23 14:30] Ohrimenko1988 commented on #13686
@dmytro-ndp Of course, this is just a draft

[2019-09-23 14:36] nickboldt commented on #14308
Reopening. I'd like some clarification on how hard it'll be to override the link to https://www.eclipse.org/che/docs/che-7/converting-a-che-6-workspace-to-a-che-7-devfile/ in the dashboard so we can link to http://access.redhat.com/documentation/en-us/red_hat_codeready_workspaces/2.0/ instead.

Do I need to do anything more than just updating the CRW 2.0 product.json file?

![image](https://user-i

[2019-09-23 14:42] l0rd commented on #14083
@benoitf I guess that this issue is not for openshift (where OpenShift OAuth is automatically setup) right? And if we turn off self-registration Keycloak, how a user will be added to Che?

[2019-09-23 15:06] nickboldt commented on #14623
If by "beautiful" you mean "works in OpenShift" because Openshift uses a randomly assigned userid and this gets around that design choice... then yes, it's more beautiful this way. :)

There is no such thing as a JDK 11 or 8 image based on UBI8 that includes Maven 3.6.

I've looked at https://hub.docker.com/_/maven and RHCC and I haven't found anything that uses Maven 3.6, but there are some with

[2019-09-23 15:12] wgbeckmann commented on #14622
Ok, but what does that mean in concrete for a server if I set the attribut in a tls enabled environment to http, would openshift`s router automaticaly remove the https encryption?
And what happens when a sevice itselfs serves https? Do Openshift uses passthrough or reencryption and how do I influence it?
The docu says:

[(Doku)](https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-us

[2019-09-23 15:12] benoitf commented on #14083
@l0rd it's when you use default option of chectl to install Eclipse Che on a remote instance: anyone can register on this instance by having the che server URL.
It should be opposite by default and admin user having random password.

[2019-09-23 15:25] benoitf commented on #14268
would be nice to have `FROM scratch` image as well

[2019-09-23 15:47] ibuziuk commented on #14308
@olexii4 could you please comment ^ ?

[2019-09-23 15:52] nickboldt commented on #14635
Adding `installation` label as this is something we need for product.

[2019-09-23 15:53] nickboldt commented on #13886
Depends on #14635 which changes the scope of what can be done in the cr.yaml file (adds more control).

[2019-09-23 16:04] xlebenny opened #14636 "[chectl] wrong domain name using --domain"
### Describe the bug

`chectl server:start --platform microk8s --installer helm --multiuser --domain=che.svc.cluster.local` starting fail.

Logs said `java.net.UnknownHostException: keycloak-che.che.svc.cluster.local`.
After nslook up & `kubectl get svc -n che`,

I think dns should be `keycloak.che.svc.cluster.local` instead of `keycloak-che.che.svc.cluster.local`

### Detail
Chectl:
[code]

Servi

[2019-09-23 16:05] vitaliy-guliy commented on #12721
It's not actual anymore.

[2019-09-23 16:05] #12721 closed

[2019-09-23 16:07] vitaliy-guliy commented on #12808
Outdated

[2019-09-23 16:07] #12808 closed

[2019-09-23 16:12] l0rd commented on #14426
Talked with @davidfestal and we should investigate this further to better understand the root cause: how is the Postgres operator behaving? does the che server pod has the same problem?

[2019-09-23 16:14] davidfestal commented on #13886
We should document more than only how to override images.

- All fields of the `CheCluster` should be documented:
  - In the CRD YAML itelf (through automatic Go->OpenApi schema generation), so that the documentation of each field will be available automatically in the OpenShift 4.2 console.
  - In the Che 7 documentation, and refer to it from within Chectl documentation (where the `--che-operator

[2019-09-23 16:21] davidfestal commented on #14088
After issue https://github.com/eclipse/che/issues/13886#issuecomment-534171945 is fixed, this issue should mainly consist in providing some scenario-oriented documentation, dedicated to the offline / airgap mode.
Do you agree @nickboldt ?

[2019-09-23 16:22] nickboldt commented on #14268
can you do `FROM scratch` and then install httpd?

or would this web app be a go or npm thing that runs in the otherwise empty container on an open port, to serve files (like httpd, but more lightweight) ?

[2019-09-23 16:26] l0rd commented on #14623
@nickboldt

We are not looking for the smallest image if we do not replace the community images (ubuntu/alpine/centos). We just need to add some more enterprise friendly images (ubi/rhel/centos) to the `base_images` list.

We are not looking for OpenShift friendly image neither because the script `build_image.sh` makes that for us.

We wanted to deprecate the che-dockerfiles repository because we

[2019-09-23 16:29] nickboldt commented on #14088
Yes, that would be great for Che 7 and would work as the baseline from which to create CRW 2 docs too.

Related downstream issues:
* https://issues.jboss.org/browse/CRW-303 migration 1.2 -> 2.0
* https://issues.jboss.org/browse/CRW-240 offline scenarios

[2019-09-23 16:55] l0rd opened #14637 "Reuse devfile runtimes as LS sidecars to minimize the number of images required in CRW 2"
### Is your enhancement related to a problem? Please describe.

Currently the sample stacks [base images](https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/base_images) are unrelated to the corresponding language servers sidecars (i.e. java8 plugin and the maven jdk 8 stack).

As a consequence users can experience some inconsistencies as mentioned by #14545

### Des

[2019-09-23 16:55] l0rd commented on #14623
@tsmaeder I mean that the [mvn jdk8 sample stack image](https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/base_images#L8) should match (or be based on) the [java8 plugin image](https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/java8/0.46.0/meta.yaml#L15). And it should be the same for most of the samples stacks (python, php, golang, dotnet

[2019-09-23 16:59] nickboldt commented on #14506
This affects downstream issue https://issues.jboss.org/browse/CRW-329 ... see also https://developers.redhat.com/blog/2019/09/23/how-the-new-quarkus-extension-for-visual-studio-code-improves-the-development-experience/

[2019-09-23 17:00] nickboldt commented on #14506
@slemeur is this still a requirement for productization? pushing it down to P2 seems like no.

[2019-09-23 17:51] ibuziuk commented on #14357
PR for creating CI jobs - https://github.com/openshiftio/openshiftio-cico-jobs/pull/1073
quay.io repo - https://quay.io/repository/eclipse/che-machine-exec

[2019-09-23 17:53] ibuziuk commented on #14357
@vparfonov @l0rd I would propose to use quay.io for `7.2.0` release and deprecate the docker one

[2019-09-23 18:13] rhopp commented on #13686
Nice ;-) I like that ;-)

[2019-09-23 18:19] ibuziuk commented on #14630
@davidfestal could you please take a look and comment ?

[2019-09-23 18:23] ibuziuk commented on #14632
@vparfonov I recall there was some similar issue for missing icons. Is it smth that `ide` team plan to handle?

[2019-09-23 18:27] ibuziuk commented on #14636
@l0rd @benoitf could you please take a look ?

[2019-09-23 18:31] ibuziuk commented on #14637
@l0rd do you have in mind which team / individual this issue should be assigned to ?

[2019-09-23 21:46] bryantson opened #14638 "Dashboard: support importing devfiles"
### Is your enhancement related to a problem? Please describe.

Currently, Devfile can be either modified through Devfile registry or dynamically through the browser editor by going into the Workspace setting. However, due to different browser issue and autosaving feature, Devfile is difficult to change and the autosaving feature does not help

### Describe the solution you'd like

1. Provide the

[2019-09-24 00:45] amisevsk opened #14639 "Grafana "Workspace failures" metric includes workspaces that are cancelled."
### Describe the bug
The current "Workspace failures" metric in grafana includes workspaces that "fail" because their startup is cancelled.

### Che version
 - [x] latest

### Steps to reproduce
1. Create workspace
2. Start workspace
3. While workspace is `STARTING`, click stop button
4. Observe climbing "failure" count.

### Expected behavior
Cancelled workspace starts should not be included in a

[2019-09-24 01:30] amisevsk commented on #14623
My idea behind the arbitrary users patch is mainly that you can put whatever you want in there; it's container agnostic for the most part. I'm strongly against adding any custom image-specific modifications there (e.g. installing/configuring maven), since that greatly increases the complexity.

The only thing that happens in the arb users patch is working around OpenShift limitations, and the enti

[2019-09-24 01:50] amisevsk commented on #14530
I have a few questions following on to #14631:
- What version of Che is codenvy.io running/what's different in the current master?
    - How often is codenvy.io restarted? We saw the issue around a restart.
- Is there some implicit assumption in codenvy.io that is violated on OpenShift/Kubernetes? From my testing, it seems that `Runtime.getRuntime().availableProcessors()` returns `1` on an OpenShi

[2019-09-24 02:37] rguskov commented on #14606
The Che server debug logs show there is connectivity from che-init-plugin-broker container on workspace pod to che server (see below) but seems like there is no communication back and no obvious errors on the server side. I would appreciate any help.

2019-09-24 02:22:27,168[nio-8080-exec-9]  [DEBUG] [o.a.c.http11.Http11InputBuffer 402]  - Received [GET **/api/websocket**?token=eyJhbGciOiJSUzI1NiI

[2019-09-24 03:15] fe-o2 commented on #14398
I run in to the same bug using a
Che 7.2.0 snapshot (vanilla/not modified in any way during install)
running on osx 10.14.6 -
docker-desktop Engine: 19.03.2
and Kubernetes: v1.14.6

[2019-09-24 05:49] tsmaeder commented on #14625
And by "server logs", I guess you mean everything relevant, including the relevant output for using https://github.com/eclipse/che/wiki/Language-support-troubleshooting-document, right?

[2019-09-24 06:01] tsmaeder commented on #14637
I don't think forcing our users to run custom images for plugins is the way to go: it's a step back to the world we had in Che 6.
If this is about solving the "debugger source mismatch" problem for JDT, I would envision a solution that allows us to somehow "mount" the jdk of the dev machine in the sidecar.

[2019-09-24 06:23] tsmaeder commented on #14637
Or _if_ we're going down that rabbit-hole, why not go all the way and run the tooling plugins inside the dev-machine image? We would get rid of all those pesky cross-container problems ("cannot open file", etc.). We'd have the same model as Gitpod or VS Code Remote Extensions.

[2019-09-24 06:50] tolusha commented on #14576
@rbcminghou
Could you also provide debug configuration and command to start application in debug mode?

[2019-09-24 06:54] l0rd commented on #14637
I am ok with that as far as it doesn't require the users to "patch" their stacks to run our stuff.

Hence I think that it should be optional: even if the plugin meta.yaml specifies a sidecar image users may override that in the devfile. Something like:

[code]

[2019-09-24 07:25] azatsarynnyy commented on #14632
Here's related issue https://github.com/eclipse/che/issues/13750 that was fixed in the PR https://github.com/eclipse/che-theia/pull/430.
I suppose it's fixed locally on minishift/minikube only but it still reproduced on hosted Che.
cc @mmorhun

[2019-09-24 07:28] skabashnyuk commented on #14622
That means that che server will override this property and set https instead of http. Opposite situation afaik never tested/checked.

I would say in "production" scenario we should always enable TLS

[2019-09-24 07:36] l0rd commented on #14629
cc @kameshsampath

[2019-09-24 07:43] tsmaeder commented on #13603
Blocked by https://github.com/eclipse/che/issues/14634

[2019-09-24 07:44] tsmaeder opened #14640 "Languages Sprint 173"
Aug Sep. 26 - Oct 15

# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 7 | 4 | 3
@tolusha | 13 | 8 | 8.5
@svor | 13 | 8 | 8
@vrubezhny | 14 | 8.5 | 8.5
@JPinkney | 13 | 8 | 9

# Priorities
All testing must be done on minishift!

# Planned Issues
- [ ] Implement Language Server Metrics #14245 0.5d @JPinkney
- [ ] Theia can't open files located in a sidecar container #1

[2019-09-24 07:47] tsmaeder commented on #13700
Blocked by https://github.com/eclipse-theia/theia/issues/5945

[2019-09-24 07:57] mmorhun commented on #14632
It is strange, because the fix should work. Maybe it wasn't included in 7.1 release.
@mohitsuman if it is not hard for you, could you please test the case again but with `next` version of Che Theia?

[2019-09-24 08:09] azatsarynnyy commented on #13405
For now, I don't see a way how to allow the clipboard access on http.
So 'Log in' command won't work on minishift.

[2019-09-24 08:09] #13405 closed

[2019-09-24 08:16] svor commented on #14634
@skabashnyuk as for me devfile is better place to do that, where we can see whole configuration of workspace's containers and make changes in one place.

[2019-09-24 08:17] benoitf commented on #14636
hello, well chectl is installing che with multi-host strategy so the pattern is that each entries will be
keycloak-che.<domain> , che-che.<domain> etc (the -che is for the namespace) so the DNS to configure has to be wildcarded for `*.<domain>`

I'm turning from `bug` to `question` as it's what is expected by the CLI.

[2019-09-24 08:27] skabashnyuk commented on #14530
I believe it is the latest 5.x (pre 6.x)

very rare. I think we saw issues around massive workspace startup.

May be ```Runtime.getRuntime().availableProcessors()``` can return different value when it runs on docker. Or the node that is running che master on codenvy.io just have more cores.

What do you mean by reexamined?

My understanding that the pool configuration can be a source of the issue

[2019-09-24 08:29] skabashnyuk commented on #14634
Apart from that, any other reasons?

CC @l0rd

[2019-09-24 08:35] davidfestal commented on #14630
I'm looking into it.

[2019-09-24 08:44] davidfestal commented on #14200
@nickboldt @l0rd ld you please provide your thoughts about the questions in comment https://github.com/eclipse/che/issues/14200#issuecomment-532384111 ?

This would be great to conclude on this and decide if any action item is required, before closing the analysis issue.

[2019-09-24 09:38] olexii4 commented on #14308
@nickboldt It is very easy to override the link. I will make a fix in the dashboard(fix the hardcoded link and remove TODO marker). 20min

[2019-09-24 09:42] olexii4 commented on #14308
Sorry. I closed it accidentally when adding a comment.

[2019-09-24 09:44] tsmaeder commented on #13427
We need to wait for a new release of vscode-languageserver-node and a rebuild of vscode-java in order to proceed with moving to a multi-root based che workspace

[2019-09-24 09:45] tsmaeder commented on #14556
So it seems this works as intended.

[2019-09-24 09:45] #14556 closed

[2019-09-24 09:49] #14225 closed

[2019-09-24 09:50] tsmaeder commented on #14004
Remove team languages: we're not doing anything here.

[2019-09-24 10:23] ibuziuk commented on #13383
`7.1.0` is running on production. Closing

[2019-09-24 10:23] #13383 closed

[2019-09-24 10:25] ibuziuk commented on #14357
PR sent - https://github.com/eclipse/che-machine-exec/pull/45

[2019-09-24 10:42] metlos commented on #14630
To give more detail, here is exactly what I'm doing in terms of the commands executed. This assumes che-operator master branch checked out and be present in the root of the checkout:
[code]

and here are the operator logs for the time:

[code]

[2019-09-24 11:12] rbcminghou commented on #14576
The debug command:

java -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=8000 -cp ./target/*.jar com.rbccm.app.Helloworld

The debug configuration (launch.json):

{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  "version": "0.2.0",
  "configurations": [
    {
        "type": "java",
        "name": "Debug (Attach

[2019-09-24 11:31] sleshchenko commented on #13504
Here is a result of quick research of K8s/OS Resource API I did some time ago. It works pretty in the same way for K8s and OS except that fact that K8s dashboard has its own API proxy that responds with like grouped data (below will be an example and maybe we should do the same for our API).
In the cluster there maybe be different quotas objects (although docs says The administrator creates one Re

[2019-09-24 11:41] SDAdham commented on #14604
Hi @rhopp , I tried this:
[code]
But it didn't work, I ended up with single user installation, so I'm not sure if i'm missing anything

[2019-09-24 11:45] SDAdham commented on #14590
hey @rhopp : the devfile is already attached, the links are not public so that's why I stripped them off and sanitized it... Let me try on the latest release since I'm on `next` (nightly) build and see if it's still
happening

[2019-09-24 12:02] SDAdham commented on #14598
Based on our investigation @sleshchenko & I:

Long story short, the pods were reaching out their own limit from storage perspective as the limits of the workspaces created by Che was always 1Gi while I was trying to clone project that's > 1Gi.

@sleshchenko were able to pin the parts were the 1Gi limit is assigned:

* https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/m

[2019-09-24 13:13] amisevsk commented on #14530
What I mean is that, compared to the codenvy.io deployment, it looks like three things have changed and all come together to cause the issue now:

1. From briefly testing on docker, `Runtime.getRuntime().availableProcessors()` reports the number of processors on the machine, while the same on OpenShift always reports 1 (even if the node is 12 cores). This means the thread pool is initialized with

[2019-09-24 13:26] dmytro-ndp opened #14645 ""503 Service Temporarily Unavailable" error on loading workspace"
### Describe the bug
Workspace unexpectedly showed 503 error page in time of loading:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/516/
[code]
------------------------------
![screenshot-Wait_until_project_is_imported](https://user-images.githubusercontent.com/1197777/65514

[2019-09-24 14:56] davidfestal commented on #14200
@metlos Do you ocnfirm that if you manually change the image tags in the custom resource by **patching** the CR existing in K8S instead of applying it again, upgrade works correctly ?

The main reason of my question is that, when you apply the changed CR again from the yaml file you have locally, you override the Postgres and Keycloak passwords to empty strings. This triggers the generation of new

[2019-09-24 14:59] olexii4 commented on #14308
By the way, we still have problems with our CHE and che-docks routings:
![Screenshot from 2019-09-24 16-45-03](https://user-images.githubusercontent.com/6310786/65521580-21153280-def2-11e9-891f-73997a133d98.png)
We have a link ```<a href="/che/docs/che-6">Che 6 documentation</a>``` and in the case, when we are  using this che-docs inside our CHE - a link will be  ``` <che-host>/che/docs/che-6>```.

[2019-09-24 15:03] davidfestal commented on #14630
So, this bug doesn't happen anytime an existing Custom Resource is changed. It only happens if you reset the password fields of an existing, already-reconciled `CheCluster` Custom Resource, by running `kubectly apply -f my-changed-cr.yaml` for example, as @metlos shown in previous comment:
[code]

The main reason is that, when you apply the changed CR again from the yaml file you have locally, you

[2019-09-24 15:06] amisevsk commented on #14634
Related: PRs https://github.com/eclipse/che/pull/14539 and https://github.com/eclipse/che-plugin-broker/pull/74 are working on adding volumes to plugin `meta.yaml`s for issue https://github.com/eclipse/che/issues/13387.

[2019-09-24 15:17] dmytro-ndp opened #14646 "Involve required che-theia images to Happy path tests PR check"
### Is your enhancement related to a problem? Please describe.
There is Happy path tests PR check against **che-theia** repo, which is actually checking che-theia container image only. As a result, there was a [PR check](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/154/) which didn'

[2019-09-24 15:17] amisevsk commented on #14590
This is just done to avoid a name collision when using the same devfile. Otherwise trying to use the same url would fail to create a workspace. On this front, devfiles also support the `generateName` field (e.g.
[code]
will result in workspaces named `MyWebApp-xxxxx`.

It looks like the location change is due to it trying to wrap a long line, how many chars is the actual repo URL?

[2019-09-24 15:20] amisevsk commented on #14576
The above, formatted for readability:

The debug command:

`java -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=8000 -cp ./target/*.jar com.rbccm.app.Helloworld`

The debug configuration (launch.json):
[code]

To add to the discussion, I've encountered this once before but did not have a chance to debug the issue (was during a demo). In my case, the environment was minishift.

[2019-09-24 15:28] l0rd commented on #14637
cc @davidfestal

[2019-09-24 16:04] metlos commented on #14200
Yes, patching the CR seems to be working well.

[2019-09-24 16:38] l0rd commented on #14376
Some easy consideration I think we agree on:

- `che.infra.k8s.namespace=<username>-che` should be the default
- `che.infra.k8s.namespace=` for retro-compatibility, behave as if `<username>-che` was set

The non-OAuth scenario: in real world clusters I expect OAuth to be enabled. If that's not the case, having some restrictions is acceptable:

- only return the default namespace
- do not allow to

[2019-09-24 18:02] ibuziuk commented on #14308
@olexii4 you mean when che workspace is started with the docs repo in it (using che for docs creation) ? It looks like this bug would prevent dogfooding on hosted che. Could you please create a separate issue for this cc @rkratky

[2019-09-24 19:16] rbcminghou commented on #14576
Thanks for the comments and my environment is OCP 3.11 + che 7.1.0.

[2019-09-24 20:02] danielhelfand opened #14647 "Search for Documentation Site Responds With 404 File not Found"
When searching for something on the [Eclipse Che Documentation site](https://www.eclipse.org/che/docs/), you will receive a `404 File not Found` no matter what you search for. This appears to be related to the fact the following is being added to the url for each search `introduction-to-eclipse-che/che-7` for che-7 docs.

For instance, if you try searching for OpenShift 4 installation instructions

[2019-09-24 20:03] danielhelfand commented on #14647
area/doc

[2019-09-24 20:28] davidwindell commented on #14593
Any chance of any assistance with this? We are completely stuck, I've even tried creating a new helm deployment in a new namespace/new filesystem and the same errors persist

[2019-09-24 20:33] amisevsk commented on #14593
Any logs on Che server? Are the websocket ports accessible from the workspace pod?

[2019-09-24 20:34] amisevsk commented on #14576
I've restarted a minishift a few times since this originally occurred for me, but I currently can't reproduce it.

[2019-09-24 20:35] davidwindell commented on #14593
Che server seems OK, as in workspace starts fine and shows as running:

[code]

Is there a CORS problem?

[code]

Or does the 404 error from this mean anything?

[code]

[2019-09-24 21:20] l0rd commented on #14647
@danielhelfand thanks for opening this. Looking at it more closely I have spotted 2 issues:

1) there is no slash in the result URL after che-7
2) the result is appended to the current URL (you were probably on  https://www.eclipse.org/che/docs/che-7/introduction-to-eclipse-che when you searched for OpenShift 4 installation)

@danielhelfand if you are willing to help you can open a pull request on

[2019-09-24 21:21] shubhampandey16 commented on #14286
@tetchel adn @ibuziuk I can take a look at it.

[2019-09-24 21:40] l0rd commented on #14638
@bryantson thanks for raising it. I think we should separate the issues: allow devfile import is one issue and disabling the autosaving is a distinct one.

There is no doubt that supporting a devfile import would be useful.

I have some doubts about disabling the autosaving. IMHO if there are issues with autosaving we should fix them instead of disabling it. Please open a separate issue for that.

[2019-09-24 21:45] danielhelfand commented on #14647
@l0rd Sure, I think the issue was this line in [`search.json`](https://github.com/eclipse/che-docs/blob/ad83f2ad3772b7de783c597976bdde3b40f384d7/src/main/search.json#L14). Also on line 27. Appears to fix it locally for me.

[2019-09-24 23:49] amisevsk commented on #14593
Hm, I'm not terribly familiar with the JWTProxy stuff.

[2019-09-24 23:53] amisevsk commented on #14638
For autosave, we already have https://github.com/eclipse/che/issues/13982 -- it can be an enormous pain.

[2019-09-25 00:32] SDAdham commented on #14604
@rhopp : also, is there any plans for the custom admin to be provided as mentioned in the description?

[2019-09-25 06:21] tolusha commented on #14576
I can't reproduce it either. (

[2019-09-25 06:38] #14618 closed

[2019-09-25 06:42] skabashnyuk commented on #14593
@davidwindell can you share workspace configuration? Is it che6 workspace(workspace config based) or che7(devfilebased)?

[2019-09-25 06:49] tsmaeder commented on #14328
I'm closing this one: since we're now deploying the plugin registry with che, we should always get the correct one. Running nightly of che works for me.

[2019-09-25 06:49] #14328 closed

[2019-09-25 06:51] BobbieERay commented on #11817
I was hoping iPad OS 13 would resolve this issue, but no change whatsoever. Still the same issue.

[2019-09-25 06:56] olexii4 commented on #14386
we still have problems with our CHE and che-docks routings:
Screenshot from 2019-09-24 16-45-03
We have a link <a href="/che/docs/che-6">Che 6 documentation</a> and in the case, when we are using this che-docs inside our CHE - a link will be <che-host>/che/docs/che-6>. It is very bad because the route <che-host>/che/...> is reserved for the workspace starting.
Screenshot from 2019-09-24 16-48-17

[2019-09-25 07:07] tsmaeder commented on #14555
Raising priority: we can't release cpp support without this.

[2019-09-25 07:09] benoitf commented on #14555
the issue is that the PR can't be merged as happy path is failing to unrelated issues
https://github.com/eclipse/che-theia/pull/441

[2019-09-25 07:10] benoitf commented on #14555
https://github.com/eclipse/che-theia/pull/449 should unblock

[2019-09-25 07:14] tsmaeder commented on #13806
It all works. The fact that yarn is not installed is not a bug.

[2019-09-25 07:14] #13806 closed

[2019-09-25 07:17] evidolob opened #14648 "Change the way of adopting Theia upstream"
### Problem
Now we adopting `master` Theia branch which may contains breaking changes on each commit, build and work che-theia may be unstable. Recently we have https://github.com/eclipse/che/issues/14618 and
Also release process may be changeling, Theia do release on last Wednesday of the month, but we may want to release che-theia in the middle of month.

### Describe the solution you'd like
Bas

[2019-09-25 07:17] evidolob commented on #14648
cc/ @rhopp @l0rd @benoitf

[2019-09-25 07:20] evidolob commented on #14648
cc/ @vparfonov

[2019-09-25 07:22] olexii4 commented on #14308
@ibuziuk I have already created one  https://github.com/eclipse/che/issues/14386

[2019-09-25 07:24] benoitf commented on #14648
hello,

after the call I was thinking on that and for me there is no issue.

Is che is broken if theia upstream is broken ? no. As long as che-theia images are deployed only if tests are passing, it's fine. We have only working images deployed. (che-theia:next or sidecar images shouldn't be deployed if build is failing BTW)

is che-theia may be broken ? yes but for me it's normal to break che-thei

[2019-09-25 07:30] ibuziuk commented on #14386
@rkratky looks like this one might be a blocker for che-docs on che dogfooding

[2019-09-25 07:33] tsmaeder opened #14649 "Update java support to latest"
Make a new version of the java support with the latest VS Code extensions. Both debugger and vscode-java have new versions.

[2019-09-25 07:43] tsmaeder commented on #13375
We're going to have metrics from theia plugins soon. Any progress on this issue?

[2019-09-25 07:56] ibuziuk opened #14650 "Release 7.2.0"
- [x] che-theia @evidolob - `docker.io/eclipse/che-theia:7.2.0`
   - [x] Pending `theia / che-theia` PRs / issues which blocks the release:
      - [x] **Blocker** "503 Service Temporarily Unavailable" error on loading workspace #14645
      - [x] Project type "github" is not supported by factory plugin https://github.com/eclipse/che/issues/14668
- [x] che-machine-exec @ibuziuk - `quay.io/eclipse/

[2019-09-25 08:07] dmytro-ndp commented on #14625
@tsmaeder: you are right - it's about all logs we can grab from Che pods and kubernetes itself.

[2019-09-25 08:08] skabashnyuk commented on #13375
No. No progress.
The only known to me reasonable variant is to relay on prometheus-operator. However, for hosted Che it can be a complicated dependency.
CC @l0rd

[2019-09-25 08:22] ibuziuk commented on #14155
PR has been merged - https://github.com/eclipse/che/issues/14155. Closing

[2019-09-25 08:22] #14155 closed

[2019-09-25 08:32] sleshchenko commented on #14634
Actually, volumes are already implemented for meta.yaml https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/eclipse/che-theia/next/meta.yaml#L59. And Oleksandr just works on ephemeral workspaces which are needed for another task.
So, @svor I think from maven plugin point of view it makes more sense to define it on `meta.yaml` level and then:
1. every user should not define it in

[2019-09-25 08:32] #13650 closed

[2019-09-25 08:34] #14345 closed

[2019-09-25 08:46] tsmaeder opened #14651 "Add Java Sample Based on Google Cloud Samples"
As with the mongo-db sample, let's make a devfile based on https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-guestbook

[2019-09-25 08:59] #11458 closed

[2019-09-25 09:20] ibuziuk opened #14652 "Need to synchronize Hosted Che (stage / production) Grafana configMaps with Upstream"
### Is your enhancement related to a problem? Please describe.
Currently, there is a discrepancy between che / rhche Grafana cm in upstream and staging / production:

- name of the cm `che-grafana-dashboards` vs `grafana-dashboards`
- upstream cm contains `dasboards.yaml`

[code]

### Describe the solution you'd like
Content of all cms is the same

### Describe alternatives you've considered
Curre

[2019-09-25 09:47] mmorhun opened #14653 "Rename Che Theia Factory Plugin to Workspace Plugin"
### Is your task related to a problem? Please describe.
In Che Theia we have plugin which is called `Factory Plugin`, but actually it does all the work related to Che Workspace: analyze devfile, clone projects, synchronizes projects config, shows ephemeral workspace label, etc. Moreover, factories are going to be replaced with devfiles.
We should give appropriate name for the plugin to avoid confu

[2019-09-25 09:53] ibuziuk commented on #14357
PRs are merged. Clsosing

[2019-09-25 09:53] #14357 closed

[2019-09-25 09:56] ibuziuk commented on #14390
Waiting for 7.2.0 and doc PR merge before closing https://github.com/eclipse/che-docs/pull/826

[2019-09-25 10:11] wgbeckmann commented on #14622
@ skabashnyuk: Before I change everything. Again the question:  What happens when a sevice itselfs serves https? Do Openshift uses passthrough or reencryption?
Just because. if I want to use Payara, I must configure the server to expose tls. Otherwise I cannot use the admin-console of payara. So openshift must create a passthrough route.

[2019-09-25 10:30] skabashnyuk commented on #14622
@wgbeckmann I don't know.
@davidfestal @sleshchenko any idea about that?

[2019-09-25 10:50] sleshchenko opened #14654 "PVCs strategy in Che 7 docs are not up to date"
### Is your task related to a problem? Please describe.
I've received a question from community about PVCs and checked Che docs related to it and figure it out that Che 7 actually has nothing
https://github.com/eclipse/che-docs/blob/7eb9099f445494fabd6cfbe13c307f96d2b1148f/src/main/pages/che-7/overview/con_persistent-volume-configuration.adoc

at the same time, Che 6 docs contain pretty good docum

[2019-09-25 10:50] sleshchenko commented on #14654
cc @skabashnyuk @rkratky

[2019-09-25 11:57] nickboldt opened #14655 "Cannot build che-theia from master: tests failed despite using `--skip-tests` flag"
I've followed the steps in the che-theia [README.md](https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/README.md#how-to-build-own-che-theia-image-with-docker) to build locally:

[code]

But I get this error:

[code]

### Che version

 - [x] latest
 - [x] nightly
 - [ ] other: please specify

### Environment
   - [ ] my computer
       - [ ] Windows
       - [x] Linux
       - [ ]

[2019-09-25 11:58] benoitf commented on #14655
Are you providing a GITHUB_TOKEN ?

[2019-09-25 12:07] ibuziuk opened #14656 "Update Hosted Che to the latest `7.3.1` release"
Need to update Hosted Che to the latest `7.3.0` release
Draft PR - https://github.com/redhat-developer/rh-che/pull/1626
Dependent on https://github.com/eclipse/che/issues/14896

[2019-09-25 12:19] benoitf commented on #14655
adding question type as we still need some info

[2019-09-25 12:20] #14280 closed

[2019-09-25 12:29] andy316x commented on #14052
@wgbeckmann is this issue actually resolved for you? The workspace now loads for me with the JWTProxy fix, as was the case when I manually removed the proxy environment variable from the JWTProxy container, however I still get the problem where it tells me the workspace configuration cannot be loaded, so I still don't think Che works behind a corporate proxy on OpenShift?

I did some digging on th

[2019-09-25 12:34] vitaliy-guliy commented on #13747
Is not actual anymore.

[2019-09-25 12:34] #13747 closed

[2019-09-25 12:36] slemeur commented on #13806
@tsmaeder : Could you create an enhancement issue to "yarn" by default in the default nodejs stack? Because I agree with the initial requirement, that gets pretty "standard" and a lot of projects are using it. Having it, would be beneficial to end-users.

[2019-09-25 12:36] #14342 closed

[2019-09-25 12:38] #14206 closed

[2019-09-25 12:43] nickboldt commented on #14655
Yes, I just didn't paste that into the issue.

Should note too that I was trying to build from the 7.1.0 branch of che-theia.

If I switch to master, I get further but now a new problem:

I pass in `--skip-tests` but still get:

[code]

[2019-09-25 12:44] ibuziuk opened #14657 "EclipseCon 2019 talk preparation "Managing lightweight, standalone and composable Che workspaces with Kubernetes Operators""
Preparations for https://www.eclipsecon.org/europe2019/sessions/managing-lightweight-standalone-and-composable-che-workspaces-kubernetes

[2019-09-25 12:48] ibuziuk opened #14658 "Contribute demo + materials for CodeOne demo to che-demos"
### Is your task related to a problem? Please describe.
Contribute demo + materials for CodeOne demo to che-demos - https://github.com/che-incubator/che-demos

[2019-09-25 12:50] sleshchenko commented on #14376
Summary of the simplest solution we agreed with Mario:
`che.infra.k8s.namespace` is not renamed to default since proposing a default and giving an ability to choose any else makes things more difficult. It would be more straight forward - if we allow users to create workspaces in the configured namespace or allow users to choose any if it's not configured(only when OAuth is configured).

On k8s in

[2019-09-25 12:57] skabashnyuk commented on #14052
@andy316x make sure you are running che7(devfile based) workspaces on che7

[2019-09-25 13:55] #14579 closed

[2019-09-25 14:01] RomanNikitenko opened #14659 "Hanging of request for getting processId for terminal"
### Describe the bug
I run a `che` task and can get [processId](https://github.com/eclipse-theia/theia/blob/2a978748c6e51a1f31adb34ed4661528e4e98438/packages/plugin/src/theia.d.ts#L2550) for related terminal while task is running, but request for `processId` is hanging after refreshing page if the task is completed.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### S

[2019-09-25 14:02] RomanNikitenko commented on #13737
depends on https://github.com/eclipse/che/issues/14659

[2019-09-25 14:19] nickboldt commented on #14113
I thought the plan was to drop httpd in favour of something simpler. I mean we don't need any of the fun features in Apache. We just need a file server.

What about https://gist.github.com/DannyHinshaw/a3ac5991d66a2fe6d97a569c6cdac534 or equivalent ?

*nods* yeah, like we already do for all the anyuid-patched community images for the devfile runtime containers. I don't see the problem. Che 7 is 26

[2019-09-25 14:20] davidwindell commented on #14593
Sure, it's just a basic PHP devfile workspace (launched from the provided stack). All workspaces have the same problem:

[code]

[2019-09-25 14:31] benoitf commented on #14113
if you really want to be light, reduce CVE, etc and be agnostic by using scratch images then you should use a single binary http server and not something based on python or nodejs or java. So probably use go or rust http server

[2019-09-25 14:35] Ohrimenko1988 opened #14660 "Unexpected list of suggestions when use Java languageserver"
### Describe the bug
Unexpected list of suggestions when use Java languageserver

### Che version
7.2.0-SNAPSHOT

### Steps to reproduce

 - Create workspace with Java languageserver
 - Go to any Java class
 - Type ```String example = new String()
                example.```
 - Place cursor after the dot of (example.)
 - Perform "ctrl + space combination"
 - Pay attention to the suggestion list

#

[2019-09-25 14:37] nickboldt commented on #14113
As long as it's https-friendly, I'm more than happy to use a single-binary https server. Can we NOT use a new language though? Go preferred over rust. I'd prefer python personally but YMMV :)

[2019-09-25 14:43] Ohrimenko1988 opened #14661 "[TS_SELENIUM] Write test execution log to the additional text file"
### Is your enhancement related to a problem? Please describe.
In the case when log level set to the "INFO" (state by default) the additional information lost.

### Describe the solution you'd like
Write a log with enabled "TRACE" level to the dedicated text file.

[2019-09-25 14:45] ibuziuk opened #14662 "Verifying that chectl can deploy multiuser Che without cluster admin privileges"
Currently, cluster-admin is a requirement according to the chectl error message:

admin rights should not be required (except if the user wants to configure Keycloak to use OpenShift OAuth). Today for some reason we create a che-operator ClusterRole. Why do we need that? Can we avoid it?

Usecase:
- OSD - operator in the whitelist
- OCP
- minishift
- crc
- minikube

[2019-09-25 14:46] Ohrimenko1988 opened #14663 "[TS_SELENIUM] Create a devfile with selenium server inside"
### Is your enhancement related to a problem? Please describe.
In case when e2e tests develop in the che for launching changes they should be delivered to the local machine or to the CI. For now, it is not possible to launch tests inside workspace.

### Describe the solution you'd like
Create a devfile with selenium server inside

### Describe alternatives you've considered

### Additional context

[2019-09-25 14:49] #12940 closed

[2019-09-25 14:49] davidwindell commented on #14606
@rguskov does it look like your issue is the same as mine in #14593 ?

[2019-09-25 14:57] rbcminghou commented on #14576
Do I need to need the addition plugins or special configuration?

[2019-09-25 14:59] dmytro-ndp commented on #14645
The issue actually has been fixed.

[2019-09-25 14:59] #14645 closed

[2019-09-25 15:31] #7668 closed

[2019-09-25 15:31] #8669 closed

[2019-09-25 15:31] #9218 closed

[2019-09-25 15:31] #9908 closed

[2019-09-25 15:31] #10273 closed

[2019-09-25 15:31] #11526 closed

[2019-09-25 15:31] #12558 closed

[2019-09-25 15:31] #12815 closed

[2019-09-25 15:31] #12857 closed

[2019-09-25 15:31] #12862 closed

[2019-09-25 15:31] #12865 closed

[2019-09-25 15:31] #12882 closed

[2019-09-25 15:31] #12883 closed

[2019-09-25 15:31] #12884 closed

[2019-09-25 15:31] #12893 closed

[2019-09-25 15:31] #12895 closed

[2019-09-25 15:31] #12902 closed

[2019-09-25 15:31] #12939 closed

[2019-09-25 15:31] #12948 closed

[2019-09-25 16:01] davidwindell commented on #14593
So I've tried deleting our entire k8s cluster and starting again. Exactly the same errors.

Is the problem because of CORS?

Has something changed on the JWTProxy (whatever that is ;) that could have affected CORS?

[2019-09-25 16:07] nickboldt commented on #14113
Here's a quick golang based https server:

https://github.com/nickboldt/containers/tree/master/che-plugin-registry-https-go-minimal

It doesn't create an index.json yet or do any of the other yaml parsing. Just wanted to get some +1s if this is the correct approach. @benoitf WDYT?

[2019-09-25 16:29] benoitf commented on #14113
@nickboldt AFAIK the from should not be
[code]

but
[code]

[2019-09-25 16:43] amisevsk commented on #14576
AFAIK debugging in Theia should work (and does work in your case, it just doesn't show the line highlight). I'm at a loss as to what the issue is, though, until I can reproduce it again.

[2019-09-25 17:47] amisevsk commented on #14576
Setting label `area/che-theia` since it looks like the highlight div and margin icon are not being updated when the breakpoint is hit.

From what I can tell, the line highlight should come from a `div` with class `cdr theia-debug-top-stack-frame-line`; I suspect the DOM is not getting updated to include it.

[2019-09-25 17:50] nickboldt commented on #14113
Based on ubi-minimal, the image is 97M instead of 136M.

But based on scratch, it's only 6.92M

[2019-09-25 17:57] amisevsk commented on #14593
@metlos any ideas here? Perhaps related to https://github.com/eclipse/che-jwtproxy/pull/11

[2019-09-25 17:57] andy316x commented on #14052
@skabashnyuk thanks for your response. I am running the latest nightly che so I assume that is che7 and choosing the default workspace that is selected when creating a workspace, so I presume that is devfile based.

I believe it is a proxy problem but can’t be certain. I tried removing the proxy environment variables from the che-theia container and it seems then to be able to load the workspace c

[2019-09-25 17:59] amisevsk commented on #14113
@nickboldt :open_mouth:

Since we're just serving files, would it work to just repurpose the builders from the [plugin|devfile] registry and copy the relevant stuff into to slim registry?

[2019-09-25 18:00] amisevsk commented on #14113
E.g. https://github.com/eclipse/che-plugin-registry/blob/master/Dockerfile#L23

[2019-09-25 18:21] andy316x commented on #14052
@skabashnyuk The error was "Failed to load workspace configuration" - apologies

[2019-09-25 18:54] tomgeorge commented on #14166
I've been looking at the [crunchydata postgres operator](https://access.crunchydata.com/documentation/postgres-operator/4.0.0/gettingstarted/design/designoverview/), which seems to be the de facto option for Postgres on Kubernetes, and is listed on operatorhub.io.

It can do automatic failover, backups, restores, and replication. Standing up the operator was a bit of an involved process, and I won

[2019-09-25 19:16] amisevsk commented on #12973
FWIW I don't believe we do anything outside the v1 API anymore, since deployments moved out of v1beta2

[2019-09-25 19:42] tsmaeder commented on #14660
This looks like you don't have any java language support at all: it seems it's just the fallback "text only" support. How exactly are you runnign this? There is no such thing as "7.2.0-SNAPSHOT". Are you running a nightly image? Which devfile and which example project are you using?

[2019-09-25 20:26] nickboldt commented on #14113
for your consideration: https://github.com/nickboldt/containers/tree/master/che-plugin-registry-https-go-minimal (now it includes all the yq stuff as a three-stage build:
* rhel7-golang to build the webserver
* ubi8-python + install yq to test and generate plugin reg content
* scratch to include ONLY the webserver binary and web content

[2019-09-26 00:57] rguskov commented on #14606
@davidwindell , yes, it is very similar except I do not have anything around JWT. I can see "Proxy used: DIRECT" in my logs. But the WebSocket issue is the same. And I have 404 errors for /api/websocket in the browser as well. So it is not only the eclipse-che-init-plugin-broker-v0-20 container that fails to establish WebSocket connection to Che server but it is also the browser that fails. And on

[2019-09-26 06:09] mmorhun commented on #14555
Done

[2019-09-26 06:09] #14555 closed

[2019-09-26 06:26] Clicksurfer commented on #14052
Just saying I have the same situation as @andy316x . We would love to use Che, but I haven't been able to deploy Che due to all the various proxy-caused problems (I also have the 'Failed to load workspace configuration' error)

[2019-09-26 06:38] #14295 closed

[2019-09-26 06:46] skabashnyuk commented on #14052
@andy316x @Clicksurfer I'm sorry that you have such UX. Can you create a separate issue and w will try to provide you some help/inputs?

[2019-09-26 06:48] skabashnyuk commented on #14593
@davidwindell can you provide some additional context of this bug

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubec

[2019-09-26 06:49] skabashnyuk commented on #12273
out of date.

[2019-09-26 06:49] #12273 closed

[2019-09-26 06:50] skabashnyuk commented on #12987
incomplete

[2019-09-26 06:50] #12987 closed

[2019-09-26 07:19] Ohrimenko1988 commented on #14660
@tsmaeder If I understood correctly on the second screenshot we can see methods from "String" class. So I suppose that language server initialized. Am I right?

[2019-09-26 07:21] dmytro-ndp commented on #14660
@tsmaeder: devfile could be found here: https://github.com/eclipse/che/blob/master/e2e/files/happy-path/happy-path-workspace.yaml
There was Java8 plugin of next version used.
The problem has being reproducing constantly.

[2019-09-26 07:30] l0rd commented on #14648
@benoitf so why https://github.com/eclipse/che/issues/14645 broke Che?

[2019-09-26 07:48] l0rd commented on #14052
@andy316x @Clicksurfer it's hard to figure out if your problems are related and if they are really related to this issue. We need the following details (preferably in a new issue):

- installation method
- version of kubernetes
- [kubernetes, workspaces and server logs](https://www.eclipse.org/che/docs/che-7/retrieving-che-logs/)
- steps to reproduce

[2019-09-26 07:55] benoitf commented on #14648
@l0rd well it seems the PR check was only checking che-theia and not the endpoints so I guess some PR were merged as it was green and then images were promoted
--> https://github.com/eclipse/che/issues/14646

Also happy path should be used before publishing images as well to be sure to only publish valid content.

[2019-09-26 07:56] sleshchenko commented on #14662
@ibuziuk

If we want to configure OpenShift OAuth or create console link - then we need cluster role https://github.com/eclipse/che-operator/blob/master/deploy/cluster_role.yaml

But from your logs, we can see that it failed during role creating and AFAIU it's about granting operator an ability to created pods, routes, services ... https://github.com/eclipse/che-operator/blob/master/deploy/role.ya

[2019-09-26 07:59] sleshchenko commented on #13022
@amisevsk Please take a look on this issue. Is it already fixed? Do you know if there is any plan to implement it? If no - then maybe we should deprecate `automigrate` property in plugin registry and close it?

[2019-09-26 07:59] sleshchenko commented on #13022
/remove-lifecycle stale

[2019-09-26 08:03] tolusha opened #14665 "Error messages are not clear when chectl failed to start che-server"
### Is your enhancement related to a problem? Please describe.
Errors messages should be clear.
I faced the following cases:
1. oc content is not set
[code]
2. The current user in context is not an admin and does not have any projects
[code]

So, chectl requires the current context to be set, and the current user should have cluster admin rights. And there is no clue about it in error messages.

[2019-09-26 08:24] sparkoo opened #14666 "[Docs] - document remaining namespace strategies"
### Is your enhancement related to a problem? Please describe.
Currently we have no namespace strategies documentation. In this task https://github.com/eclipse/che/issues/14624 "One namespace per user" will be documented. We need to document another 2 strategies
- Namespace per Workspace
- All workspaces in one namespace

### Describe the solution you'd like
Document remaining namespace strategies

[2019-09-26 08:39] Ohrimenko1988 opened #14667 "[TS_SELENIUM] Implement workaround for issue #14660 (Unexpected list of suggestions when use Java languageserver) in the "HappyPath" test."
### Is your task related to a problem? Please describe.
Implement workaround for issue #14660 (Unexpected list of suggestions when use Java languageserver) in the "HappyPath" test.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2019-09-26 08:45] sparkoo commented on #13945
@l0rd is command executed always on one of existing servers? Or can it start new one?

[2019-09-26 08:49] davidwindell commented on #14593
@skabashnyuk I've filled out all the context above now, thanks

[2019-09-26 08:53] SkorikSergey opened #14668 "Project type "github" is not supported by factory plugin"
### Describe the bug
There was an error when tried to create workspace from factory.
[code]

### Screenshots
![org eclipse che selenium factory DirectUrlFactoryWithRootFolderTest factoryWithDirectUrlWithRootFolder_time-1569425129231-millis](https://user-images.githubusercontent.com/7760565/65673137-f55d8e00-e052-11e9-8b47-8c005638521e.png)

The issue was introduced by commit https://github.com/ecl

[2019-09-26 09:01] AmitChameides opened #14669 "Cannot boot Che on AWS"
### Describe the bug

Hey all,
I'm trying to deploy and run Che on AWS following[ this official guide](https://www.eclipse.org/che/docs/che-7/deploying-che-on-kubernetes-on-aws/).
While I'm trying to deploy it on AWS's EKS and not EC2, I'm assuming there isn't much difference.
When I'm trying to create Che using Chectl, I get the following error:

  ❯ ✈️  Kubernetes preflight checklist
    ✔ Verif

[2019-09-26 09:05] sleshchenko commented on #14669
It kind of duplicates https://github.com/eclipse/che/issues/14534

[2019-09-26 09:06] sleshchenko commented on #14669
@AmitChameides As we can wee from the error message `system:anonymous` user's context is set for kubectl. Are you able to use user who has admin rights?

[2019-09-26 09:26] Ohrimenko1988 commented on #14660
@tsmaeder On these screenshots you may see that buttons "Run" and "Debug" didn't appear but status bar shows that initialization completed.
![screenshot-Suggestion](https://user-images.githubusercontent.com/22724619/65676042-e2998800-e057-11e9-8982-a9dc915e69cf.png)

Here how it should look like:
![Screenshot from 2019-09-26 12-08-29](https://user-images.githubusercontent.com/22724619/65676117-fc3

[2019-09-26 09:51] sleshchenko commented on #14604
@SDAdham single user is a default installation, seems you should use
[code]

[2019-09-26 09:52] SkorikSergey opened #14670 "Cannot start workspace with Openshift storage class mode with WaitForFirstConsumer value"
### Describe the bug
When default **StorageClass** is configured to have `volumeBindingMode` set to `WaitForFirstConsumer`, workspaces do not start.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Consume a factory by "https://[your path to Che]f?url=https://raw.githubusercontent.com/redhat-developer-demos/guru-night/master/quarkus-tutorial/de

[2019-09-26 09:53] davidfestal commented on #14216
This should be fixed by fixing issue https://github.com/eclipse/che/issues/14635 and the linked documentation issues.
Do you agree @nickboldt ?

[2019-09-26 09:55] tsmaeder commented on #14660
Sorry, but I cannot reproduce this issue: I cannot make che on minishift work, and I don't have the necessary resources (memory) on my che.openshift.io account.
When I try the scenario on a smaller workspace (java-maven), the "unexpected" suggestions go away when the project is fully analysed by the language server.

[2019-09-26 09:57] tsmaeder commented on #14660
The video (please don't use animated gifs, I cannot skip over the irrelevant parts) seem to indicate that the system is under high load. One possiblity I can guess at is that the system is under high load and the language server calls are timing out. Can you reproduce this under normal load?

[2019-09-26 10:04] sparkoo commented on #13945
There's an issue how to find correct server with URL.

There are already exposed URL's in object `Runtime>Machines>Server>Url`. We can select machine by `machineName` attribute from command object. As @sleshchenko pointed out, it is not ensured that command will have `machineName`. Next issue is how to select `Server`. It should be filterable by port.

Another approach would be to create an extra

[2019-09-26 10:10] sparkoo commented on #13945
@l0rd @skabashnyuk are both `port` and `path` mandatory? I could imagine we can use `/`as default path and `80` as default port. But do we want to do that?

[2019-09-26 10:41] sleshchenko commented on #14670
Just to extend context a bit: previously it used to work, but after some upgrading of OpenShift version, OS starts to propagate events with `FailedScheduling` if `WaitForFirstConsumer` is used. The second workspace start - works just fine and If Che would wait a couple of seconds - PVC would be mounted successfully.
So, the easiest solution here is to remove `FailedScheduling` from the [default un

[2019-09-26 10:59] sleshchenko commented on #13945
I agree that path may be optional with `/` as default value.
But port - it's not a port that clients should use to access an application, but port of a container that should be exposed. For java default is 8080, for nodejs like 4040, I think it would be better to require this value to be set.

[2019-09-26 10:59] l0rd commented on #14648
@benoitf I agree with you. che-theia can point to theia master if PR check avoid that che-theia master (and theia) get broken. But it's not clear what do we need besides #14646: currently we do not update `next` images if the happy path PR check fails right?

[2019-09-26 11:32] skabashnyuk commented on #13945
That is all internal logic of che server. I think that port is mandatory. It can be already declared as an endpoint  in devfile https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml#L29 or editor https://github.com/eclipse/che-plugin-registry/blob/d9998222c284d40ae0d2e1661452c1bcd5e4fddb/v3/plugins/ws-skeleton/eclipseide/4.9.0/meta.yaml#L17  or plugin, o

[2019-09-26 11:33] AmitChameides commented on #14669
Hey there @sleshchenko,
I am using a more or less pristine EKS setup, and as such there aren't any users there beyond 'default'.
I'm not very experienced with K8s, but I tried creating my own serviceAccount using:
`[ec2-user@ip-10-65-135-83 ~]$ kubectl apply -f - <<E0F

And then role-binding it to admin on the default namespace using:
`kubectl create clusterrolebinding add-on-cluster-admin --clust

[2019-09-26 11:38] SDAdham commented on #14604
Yes, I did, note: this documentation is incorrect >> https://www.eclipse.org/che/docs/che-6/kubernetes-multi-user.html#to-deploy-without-keycloak-in-multi-user-mode

the command should be without `/.well-known/openid-configuration` as per the logs of che's pod, it fails because it auto adds the rest of the link which is duplication, it ended up as `https://MyGitlab/.well-known/openid-configuration

[2019-09-26 11:41] SDAdham commented on #14604
From gitlab:
![image](https://user-images.githubusercontent.com/11182824/65685861-5793ae80-e0a6-11e9-9182-c3be9b728bc5.png)
Not sure, where do I provide appid and secret in che and what call back url should I be using?

[2019-09-26 11:49] skabashnyuk commented on #14593
Single host/default host mode?

[2019-09-26 11:54] sleshchenko commented on #14669
It's true. You should register your own DNS zone using domain you own
https://www.eclipse.org/che/docs/che-7/deploying-che-on-kubernetes-on-aws/#setting-up-dns

Maybe `kubectl config current-context` shows something useful, like it's `che/192-168-99-100:8443/admin` in my case.

[2019-09-26 12:20] dmytro-ndp opened #14671 "Che allows to use URL as id field of cheEditor/chePlugin component in devfile"
### Describe the bug
https://redhat-developer.github.io/devfile/ documentation says that URL to meta.yaml with Che plugin description should be put into `reference` field. At the same time there was workspace successfully created with URLs to meta.yaml's put into **id** field.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
Try to create workspac

[2019-09-26 12:53] amisevsk commented on #13022
@sleshchenko I don't think automatic migration is currently implemented, mostly because the way to do it would be to update the devfile itself IMO. Recently we added the deprecate field to the index.json [1] so that the dashboard can support notifying the user to update (and potentially doing the update itself).

[1] - https://github.com/eclipse/che-plugin-registry/pull/228

[2019-09-26 12:57] #14668 closed

[2019-09-26 13:22] #14647 closed

[2019-09-26 13:32] Ohrimenko1988 commented on #14667
Done https://github.com/eclipse/che/pull/14672

[2019-09-26 13:32] #14667 closed

[2019-09-26 13:35] amisevsk commented on #12915
Reopening as JUnit 5 is used in Quarkus by default [1].

[1] - https://quarkus.io/guides/getting-started-testing

[2019-09-26 13:41] amisevsk commented on #13020
I believe this will be resolved in a different way in https://github.com/eclipse/che-plugin-registry/pull/228

Leaving open as we should decide if this is sufficient of if the broker should do additional work

[2019-09-26 13:42] amisevsk commented on #13020
/remove-lifecycle stale

[2019-09-26 13:46] amisevsk commented on #12782
Now that we are adding a C++ stack to the [sample devfiles](https://github.com/eclipse/che-devfile-registry/pull/73) we should document debugging if possible.

[2019-09-26 13:46] amisevsk commented on #12782
/remove-lifecycle stale

[2019-09-26 13:49] amisevsk commented on #12429
/remove-lifecycle stale

[2019-09-26 13:51] amisevsk commented on #14606
@rguskov Are you able to get logs from the plugin broker pod while it's running?

[2019-09-26 13:52] sleshchenko commented on #14376
Summary of the solution we can start with:

- New **che.infra.kubernetes.namespace.default** property is introduced. It's like Che Admin recommendation where workspaces should be started.
Possible values:
  - `any string` defines the exact name of namespace that should be used for all workspaces. Note: must be k8s compatible https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

[2019-09-26 13:53] tsmaeder commented on #14665
I'm treating this as a P1: we need to improve error analysis.

[2019-09-26 13:54] disaster37 commented on #14593
Hi,

I think I have the same kind of behavior about cors issue after upgrading to 7.1.0.
I found that ingress created on Kubernetes for jwtproxy and for workspace seems bad.
It create ingress with path "/(.*)". Why not "/" ?

In my use case, I use multi host with multi user and no tls.

[2019-09-26 13:56] azatsarynnyy opened #14673 "chectl is failing to deploy Che on CRC"
### Describe the bug

chectl reports an error while deploying Che on CRC. However, Che is actually started.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

`> chectl server:start -p=crc`

[code]

After calling the command second time
`> chectl server:start`
it reports
[code]

### Expected behavior

### Runtime
   - [ ] kubernetes (include output

[2019-09-26 13:57] benoitf commented on #14673
hello, it seems there is too less space on the disk ?

[2019-09-26 14:01] tsmaeder commented on #14669
This looks to me like the doc is insufficient, hence a bug. I think AWS is not a mainline case, hence P2

[2019-09-26 14:02] davidwindell commented on #14593
I'm using the default (multi host? although only have one host for now).

[2019-09-26 14:03] amisevsk commented on #12782
@saulide Sorry this one got stale; currently Che 7 has preliminary support for C++ debugging -- if you have Che 7 deployed, could you check if the current implementation suits your needs?

You can test the devfile by passing it to a factory on your server: `https://<che-server-url>/f?url=https://raw.githubusercontent.com/eclipse/che-devfile-registry/ea8469eaf90192773e8cd47efacea4ceea7cb51d/devfile

[2019-09-26 14:04] tsmaeder commented on #14670
@SkorikSergey not quite sure how to classify this: is "waitForFirstUser" something we need? Or can we just declare that an invalid configuration for Che?

[2019-09-26 14:06] tsmaeder commented on #14671
Why do we care about this being possible if it works?

[2019-09-26 14:11] dmytro-ndp commented on #14671
@tsmaeder:
1) it shouldn't work according to documentation
2) workspace doesn't work properly if URL is set in **id** field of **cheEditor** components

[2019-09-26 14:12] SDAdham commented on #14604
I am trying:
[code]
I think it could work if I can set `che.keycloak.github.endpoint=NULL`, see https://github.com/eclipse/che/blob/534a961e844049d5b4b84dd694176175eb367c97/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/multiuser.properties#L135

[2019-09-26 14:22] dmytro-ndp commented on #14670
@tsmaeder: `WaitForFirstConsumer` is the mode of StorageClass of OpenShift, not Che itself.
Che can only work around such a mode - don't fail start of workspace immediately, but wait for PV be ready to use carefully.

[2019-09-26 14:25] disaster37 commented on #14593
And juste before get errors about CORS policy, I get 404 on URL http://serverxjjk9v49-jwtproxy-server-4401.che2.XXX.XXX.XXX.XXX.nip.io/jwt/auth

[2019-09-26 14:28] skabashnyuk commented on #14593
@davidwindell @disaster37 can you make sure that jwt-proxy pod is running. Is there any strange event related to this pod?

[2019-09-26 14:42] azatsarynnyy commented on #14673
looks like it's upstream bug https://github.com/code-ready/crc/issues/614

[2019-09-26 14:44] sleshchenko opened #14674 "Document how to set up Gitlab as OpenId Provider in Keycloak for Che"
### Is your task related to a problem? Please describe.
@SDAdham successfully set up Gitlab as OpenId Provider in Keycloak for Che and kindly agreed to contribute such document into Che Docs.

[2019-09-26 14:45] sleshchenko commented on #14674
cc @rkratky It would be nice if you could point the best place in Che 7 Docs for such information.

[2019-09-26 14:46] SDAdham commented on #14674
I'll work on it

[2019-09-26 14:53] rkratky commented on #14386
@olexii4,

We needed to have the `/che/docs/` path there because of the directory structure on eclipse.org/che/docs -- internal links would not resolve correctly without the `/che/` part.

If I understand this correctly, docs accessed from running instances of Che are expected to be found at `/docs/`, not at `/che/docs/`, which is what is causing this problem.

We should be able to fix it by suppl

[2019-09-26 14:55] sleshchenko commented on #14671
@tsmaeder It indicates that there is some valiation issue on Che Server side.
Che Server does not expect `id` to contain URL and all consequences are not known. I believe it must be fixed.

[2019-09-26 14:56] azatsarynnyy commented on #14673
Exactly. It's mentioned on the release page https://github.com/code-ready/crc/releases/tag/1.0.0-beta.5
I haven't seen the message since I got CRC from mirror.openshift.com directly.

Will try to apply the proposed fix tomorrow
https://github.com/code-ready/crc/wiki/Disk-space-issue-with-beta-5-release

[2019-09-26 14:58] azatsarynnyy commented on #14673
Closing as it's crc related

[2019-09-26 14:58] #14673 closed

[2019-09-26 15:01] amisevsk commented on #14593
There's a bit of documentation about how ingress annotations work for the single host strategy: https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L488-L521, perhaps @metlos can comment

[2019-09-26 15:06] skabashnyuk commented on #14593
Some output from successful jwtproxy start.

![Знімок екрана  о 17 04 05](https://user-images.githubusercontent.com/1614429/65700293-b09c1c00-e07f-11e9-8047-3a89be82ccb0.png)

[code]

@davidwindell what type/version of ingress controller are you using?

[2019-09-26 15:13] danielhelfand commented on #14647
/reopen

[2019-09-26 15:21] l0rd commented on #14216
@nickboldt `CHE_WORKSPACE_PLUGIN__BROKER_INIT_IMAGE` `CHE_WORKSPACE_PLUGIN__BROKER_UNIFIED_IMAGE` are the only 2 images that are left out?

We need to be able to configure all of these ones:
- che-server
- jwt-proxy
- machine-exec
- che-theia
- che-keycloak
- postgresql-96-centos7
- che-operator
- che-devfile-registry
- che-plugin-registry
- ubi8-minimal (for the pvc)

[2019-09-26 15:23] andy316x opened #14676 ""Failed to get workspace configuration" message when opening workspace on OpenShift behind proxy"
# Summary

"Failed to get workspace configuration" message when opening workspace on OpenShift behind proxy when loading any of the Che stacks, causing the workspace not to be able to load consoles etc.

# Installation

On AWS EC2 deployed the following 1 master, 1 infra, 2 worker node OpenShift cluster (with self signed certs)

OpenShift: v3.9.0+0fd118e-40
Kubernetes: v1.9.1+a0ce1bc657

Using the

[2019-09-26 15:24] l0rd commented on #14216
@davidfestal @ibuziuk I have added this issue to 7.3.0 milestone because it will be addressed by https://github.com/eclipse/che/issues/14635 and it's mandatory for CRW 2.0

[2019-09-26 15:29] andy316x commented on #14052
@l0rd thanks for your response, I have created a new issue #14676 with the detail to requested.

[2019-09-26 15:40] benoitf commented on #14113
Dockerfile for yq looks extremely complex [1] comparing to existing yq docker images with a simple pip command [2]

[1] https://github.com/nickboldt/containers/blob/master/che-plugin-registry-https-go-minimal/Dockerfile#L35-L55
[2] https://hub.docker.com/r/evns/yq/dockerfile

And I'm not sure about certificates. AFAIK we only need ca-certs. HTTPs certificate is managed by ingress controller or ope

[2019-09-26 15:40] l0rd opened #14677 "Setup a CI to build 3rd party vscode extensions"
### Is your enhancement related to a problem? Please describe.

Those extensions are only available on the marketplace but we cannot download the vs code extensions directly from the marketplace (https://github.com/eclipse/che/issues/14573)

### Describe the solution you'd like

Setup a build to generate the vsix files and publish them on https://download.jboss.org/jbosstools/vscode/3rdparty/ to m

[2019-09-26 15:44] benoitf commented on #14677
related to Theia as well: https://github.com/eclipse-theia/theia/issues/6183

BTW there is not only these 2 extensions AFAIK. We should provide all vscode builtin extensions. (https://github.com/microsoft/vscode/tree/master/extensions)

[2019-09-26 15:48] l0rd opened #14678 "Update registries RHEL images"
### Is your enhancement related to a problem?

RHEL images of the plugin and devfile registries are not been updated to UBI8

### Describe the solution you'd like

Update
- https://github.com/eclipse/che-plugin-registry/blob/master/Dockerfile.rhel
- https://github.com/eclipse/che-devfile-registry/blob/master/build/dockerfiles/Dockerfile.rhel

[2019-09-26 16:22] l0rd commented on #14113
Let's just have an additional Dockerfile.rhel with httpd

[2019-09-26 16:27] benoitf commented on #14113
@l0rd now that @nickboldt has a scratch image it will be even better no ? (A single dockerfile with light image)

[2019-09-26 16:31] rbcminghou commented on #14576
I just tried the debugging on my Windows chrome and the same result on my MacOS chrome with missing highlight.

[2019-09-26 17:23] disaster37 commented on #14593
There are nothink strange with jwtproxy pods that called verifier

Some logs:
[code]

I look that ingress use label `nginx.ingress.kubernetes.io/rewrite-target` but this label start to work with nginx-ingress 0.22.0. I use version 0.21.0 in my context (rancher 2.2.8 with Kubernetes 1.14.6). Maybee it's the cause of problem ?

[2019-09-26 17:39] nickboldt commented on #14677
@benoitf are you saying we should be building everything from source? If so, ok, yes, that's ultimately better for product support, but ouch, that's a lot of work ;)

@mkuznyetsov this one's for you. could be implemented via Jenkinsfile in a subfolder of https://github.com/redhat-developer/codeready-workspaces/tree/master/dependencies/che-plugin-registry and built in a job in https://codeready-wor

[2019-09-26 17:49] nickboldt commented on #14113
Missing from my scratch image w/ golang https server:
* clarity on the self signed cert approach: I need an expert to weigh in on what I'm doing and if it's bad

* currently the tiny golang https server doesn't automatically server index.json or meta.yaml or README.md if it finds that in a folder. I don't know how to implement that. Can a go expert help?

- https://github.com/nickboldt/containers/

[2019-09-26 17:55] sunix opened #14680 "User should be able to set/retrieve secrets and see them mounted and/or as env variables"
### Is your enhancement related to a problem? Please describe.
There is already some implementation related to saving ssh keys into secrets and mount them. But the user should be able to customize and not be restricted to ssh keys. The user should be able to store as secrets github token, aws access token. The user should be able choose to mount these values to the place of his choice or make them

[2019-09-26 18:04] SDAdham commented on #14674
I made the changed and committed in https://github.com/eclipse/che-docs/pull/830 , need assistance in reverting a commit that's been done with signed-off with a different email.

[2019-09-26 18:23] tomgeorge opened #14681 "Number of Workspaces/Number of Users in grafana does not show precise values"
### Describe the bug

Values for Number of Users/Number of Workspaces panels rounds and shows approximate values

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

See precise values for the two panels
### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)

[2019-09-26 19:21] bryantson opened #14683 "Che Dashboard devfile editor isn't resized dynamically for a large screen"
### Describe the bug
On a large monitor, the Che Workpace Config Editor size looks too small and size does not dynamically readjust, which make it harder to edit.

### Che version

1.2.2.GA :: crw_stable-branch/292 :: che-dev @ ea65 (20) :: che-parent @ e12b (6.19.0) :: che-lib @ e717 (6.19.0) :: che-ls-jdt @ 288b (0.0.3) :: che @ 46909 (6.19.5) :: codeready-workspaces @ 4c3a (1.2.2.GA)

### Steps

[2019-09-26 19:25] amisevsk commented on #14502
If the plugin viewer supports it, disabling the `.svg` check is a one-line fix on the plugin registry.

[2019-09-26 20:00] #12497 closed

[2019-09-26 20:01] #11146 closed

[2019-09-26 20:06] l0rd commented on #14113
@benoitf `FROM scratch` is better but we have a lot of productization issues for 7.3.0 and not a lot of time. We agreed that we would use `FROM scratch` once we get rid of httpd (the registries are implemented as a web app with a REST API).

[2019-09-26 20:06] #12429 closed

[2019-09-27 02:53] sr229 commented on #12973
@amisevsk I believe we use Ingresses which isn't a v1 API. This'll beak K3s

[2019-09-27 03:07] amisevsk commented on #12973
@sr229 You are right, I missed that one.

[2019-09-27 03:16] amisevsk commented on #14593
@disaster37 Yeah, this is something we likely need to document better. From the che.properties file, I see
[code]
Could you try setting env vars:
[code]
on the Che server deployment and trying again? (pending confirm from @metlos that those are the correct values)

[2019-09-27 06:46] #13698 closed

[2019-09-27 07:18] tsmaeder commented on #14670
@dmytro-ndp that is not the question: can we document that "WaitForFirstConsumer" is not a supported setting for running Che, or do we need to support this setting?

[2019-09-27 07:23] dmytro-ndp commented on #14670
"WaitForFirstConsumer" is default setting of OpenShift 4.x on AWS. Looks like it's usual mode for instances on AWS, Azure, ... So we need to support it.

[2019-09-27 07:28] disaster37 commented on #14593
Hi, it's work like a charm, thanks ;)

[2019-09-27 07:33] tsmaeder commented on #14576
@rbcminghou maybe sharing your devfile might help.

[2019-09-27 07:35] tolusha commented on #14683
/cc @akurinnoy

[2019-09-27 07:43] SatishChGit commented on #5053
did you able to convert RCP application to che framework?

[2019-09-27 07:44] skabashnyuk commented on #14593
@davidwindell  can you test https://github.com/eclipse/che/issues/14593#issuecomment-535769427 from your side?

[2019-09-27 07:52] tolusha commented on #14681
/cc @skabashnyuk

[2019-09-27 08:39] mmorhun opened #14685 "Che Theia build failed"
### Is your task related to a problem? Please describe.
After [some changes ](https://github.com/eclipse-theia/theia/pull/6252)in Theia upstream, build of Che Theia is broken.
We need to make corresponding changes in Che Theia.

[2019-09-27 08:51] mmorhun commented on #14685
We're temporary switching to `0.11.0` version of Che Theia (see https://github.com/eclipse/che-theia/pull/451), so I think we can lower a bit issue severity.

[2019-09-27 08:57] tolusha commented on #14685
I personally don't want to postpone for uncertain amount of time, that's why I prefer `blocker`.

@benoitf
WDYT ?

[2019-09-27 08:58] benoitf commented on #14685
@tolusha well I will propose another PR which will fix the code. But it unblocks all ppl now.

[2019-09-27 08:59] benoitf commented on #14685
@tolusha I mean, I will work on it, it's not to push it back until 3 weeks

[2019-09-27 09:05] tolusha commented on #14676
/cc @skabashnyuk @mshaposhnik

[2019-09-27 09:10] l0rd commented on #14110
UPDATE:
- Depends on https://github.com/eclipse-theia/theia/pull/6270
- Currently preparing a PR for the Welcome plugin
- After Welcome Plugin it's the turn of the About dialog (~2 more days)

[2019-09-27 09:53] l0rd commented on #13945
@sparkoo commands of type `exec` should be executed in one of the existing containers. We have plans for other type of commands (`start`, `stop` etc...) but do not support that yet. With the introduction of [ephemeral containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/) we should definitely consider supporting those commands as well. For port and path I am +1 with

[2019-09-27 09:55] dmytro-ndp commented on #14685
More info about build failure: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-master-check-E2E-Happy-path-tests-against-K8S/125/console
[code]

[2019-09-27 09:59] benoitf commented on #14685
@dmytro-ndp it should be fixed, no ?
Happy path test was successful on https://github.com/eclipse/che-theia/pull/451

[2019-09-27 09:59] dmytro-ndp commented on #14685
let me check it again

[2019-09-27 10:37] skabashnyuk commented on #14676
@andy316x Thank you for your report. OpenShift templates in che repo are not the recommended way to install che. Can you try to follow official documentation https://www.eclipse.org/che/docs/che-7/installing-che-on-openshift-3-using-the-operator/?

[2019-09-27 10:47] davidwindell commented on #14593
It worked!! Thank you so much. Yes, the latest Rancher uses the nginx ingress controller v0.21 at the moment.

[2019-09-27 11:03] SDAdham commented on #14674
Done

[2019-09-27 11:11] skabashnyuk commented on #14593
@davidwindell can we close this ticket?

[2019-09-27 11:15] skabashnyuk commented on #14593
@davidwindell @disaster37 I encourage you to contribute this information https://github.com/eclipse/che/issues/14593#issuecomment-535769427 to Eclipse Che docs https://github.com/eclipse/che-docs so next time users will not hit the same problem as you. Would you like me to assist you?

[2019-09-27 11:18] Ohrimenko1988 opened #14689 "[TS_SELENIUM] Update logger for automatically log class name and method"
### Is your task related to a problem? Please describe.
For now, for log class name and method we should type they manually, for example: ```"Logger.debug('OcpLoginPage.openLoginPageOpenShift');"```

### Describe the solution you'd like
Use solution described in the comment https://github.com/eclipse/che/pull/14686#pullrequestreview-294217772

### Describe alternatives you've considered

### Addit

[2019-09-27 11:23] #14593 closed

[2019-09-27 11:25] Ohrimenko1988 commented on #13686
Done

[2019-09-27 11:26] davidwindell commented on #14593
@skabashnyuk I'd be happy to do so, can you point me to the best page to list this on in the docs repo?

[2019-09-27 11:27] tolusha commented on #14689
@Ohrimenko1988
Should be closed?

[2019-09-27 11:35] Ohrimenko1988 commented on #14689
@tolusha No, I am working on it.

[2019-09-27 11:40] rbcminghou commented on #14576
`
---
apiVersion: 1.0.0
metadata:
  name: java-maven-helloworld
projects:
  - name: java-maven-helloworld
    source:
      type: git
      location: "https://xyz.com/java-maven-helloworld.git"
components:
  - type: chePlugin
    id: redhat/java11/latest
  - type: dockerimage
    alias: maven
    image: xyz.com/eclipse/che-java11-maven:7.1.0-rbc
    env:
      - name: MAVEN_CONFIG
        value: /

[2019-09-27 11:41] davidwindell commented on #14604
@SDAdham I don't think you'll be able to use Gitlab until this issue is solved https://gitlab.com/gitlab-org/gitlab-foss/issues/48707#note_190990344

[2019-09-27 11:46] vitaliy-guliy commented on #14110
PR with Welcome plugin https://github.com/eclipse/che-theia/pull/454

[2019-09-27 11:49] skabashnyuk commented on #14593
@davidwindell awesome. I think https://github.com/eclipse/che-docs/blob/master/src/main/pages/che-7/overview/assembly_deploying-che-on-kubernetes-on-aws.adoc can be our starting point. We can add here section troubleshooting. WDYT?

[2019-09-27 11:50] vitaliy-guliy commented on #14502
Is plugin-viewer application alive?
Where can I see/test it?

[2019-09-27 11:57] VeerMuchandi opened #14691 "Adding a devfile to devfile registry at runtime doesn't work"
### Describe the bug
I am following instructions here https://www.eclipse.org/che/docs/che-7/editing-a-devfile-and-plug-in-at-runtime/#adding-a-devfile-at-runtime_editing-a-devfile-and-plug-in-at-runtime

This step fails
[code]

with error `-bash: /var/www/html/devfiles/index.json: No such file or directory`

Also there are errors with `\` in `$\{DEVFILE_REG_POD} ` throughout the documentation. I

[2019-09-27 12:12] dmytro-ndp commented on #14685
Build of master has finished successfully.

[2019-09-27 12:17] mmorhun commented on #13764
Done

[2019-09-27 12:17] #13764 closed

[2019-09-27 12:21] Ohrimenko1988 commented on #14689
I have investigated this task and here results:
It is not possible to get called method name, we have a possibility to obtain just class name by providing ```"this"``` to the arguments and call ```this.constructor.name``` from inside of the Logger.

So as I see, for now, the most possibility for updating are next:
1) Make "Logger" as a regular class instead of an abstract which uses now.
2) Create

[2019-09-27 12:27] SDAdham commented on #14604
@davidwindell , I don't think so, gitlab is pretty much like github except that gitlab has tons of features, for github, we already take:
[code]
These arguments are also available in gitlab, also with redirect_url, I'm confident if we allow those variable above to work as if they are gitlab a long with `che.keycloak.github.endpoint=NULL` to be provided by the user instead of auto-setting it during

[2019-09-27 12:33] SDAdham commented on #14604
@davidwindell : I assure you can verify via https://gitlab.com/profile/applications and https://gitlab.com/.well-known/openid-configuration

But please give the users the ability to set the server host, I integrated with many other applications that only request github but when I add gitlab, it works perfect!

[2019-09-27 12:36] l0rd commented on #14344
We can keep `workspace:start` but update the behavior so that it starts the workspace (`start-after-create=true`). And can add `--create-only` flag for users that only want to create the workspace.

[2019-09-27 13:00] rguskov commented on #14606
You can see it in the issue description. See my first comment. Those logs are only for eclipse-che-init-plugin-broker-v0-20 container. And this init container fails. So the workspace pod itself does not turn Running state and is destroyed after a timeout.

[2019-09-27 13:21] tolusha commented on #14691
I marked this issue as `P1` since it is very important to customize plugin and dev registries

[2019-09-27 13:28] sr229 commented on #12973
I think at this rate we can have the same chart but we have to revise the Ingress resources to use a `LoadBalancer` Resource instead - I'm not exactly sure how that's parity on what we have

[2019-09-27 13:32] akurinnoy commented on #13982
@nickboldt

Originally, similar page with workspace config editor had separate SAVE button. But back then there was the problem that people forgot to hit the button,  went to another page of UD and lost all changes in editor.
Actually, the SAVE button is still there but it's disabled and hidden on the editor tab.

@sunix @amisevsk

AFAIK reformatting and changing of devfile happens because we don'

[2019-09-27 13:38] skabashnyuk opened #14692 "Tab with Che Theia crashed"
### Describe the bug
Editors ```docker.io/eclipse/che-theia:next ``` and ```docker.io/eclipse/che-theia:latest``` crashing my browser tab. ````docker.io/eclipse/che-theia:7.1.0```` is working
![Знімок екрана  о 15 21 56](https://user-images.githubusercontent.com/1614429/65773399-8bb9ae80-e13c-11e9-9ba5-a60407be8397.png)
![Знімок екрана  о 15 05 09](https://user-images.githubusercontent.com/1614429

[2019-09-27 13:39] skabashnyuk commented on #14692
CC @ibuziuk @l0rd

[2019-09-27 13:59] l0rd opened #14693 "Make configurable images in both plugin and devfile registry"
### Is your enhancement related to a problem? Please describe.

In Air Gap mode a user needs to start a workspace using images from an internal/private container registry (not `docker.io`, not `quay.io`).

Che server and other components images can be configured using che.properties (and config maps).

But editors and plugins sidecars images are not currently configurable: they are hardcoded with

[2019-09-27 14:04] vitaliy-guliy opened #14694 "Open terminal in new browser window"
### Is your enhancement related to a problem? Please describe.

I have two monitors and I would like to have the ability to open full screen terminal displaying on the second monitor.
By now i can do that by running `minikube dashboard`, switching to `Pods` and use `Exec into Pod` command.

![two screens](https://user-images.githubusercontent.com/1655894/65774668-63837d00-e147-11e9-99e7-5c3a738de1

[2019-09-27 14:08] benoitf commented on #14692
Tried with fresh minishift
I don't reproduce

with go stack:
![image](https://user-images.githubusercontent.com/436777/65775751-11d7f400-e141-11e9-82b4-33e784ef7ef1.png)

with java stack:
![image](https://user-images.githubusercontent.com/436777/65775723-0389d800-e141-11e9-897b-2d6f9a151b41.png)

[2019-09-27 14:23] skabashnyuk commented on #14692
I confirm it's working on crc. After login as kubeadmin
[code]
and chrctl setup ```chectl server:start  -p crc```
[code]

[2019-09-27 14:28] amisevsk commented on #14576
I don't think it's a devfile-specific issue, since I had it occur once when running a known-working devfile.

[2019-09-27 14:32] amisevsk commented on #14502
I was assuming the plugin viewer refers to the plugins sidebar in theia (`ctrl`+`shift`+`j`)

[2019-09-27 14:40] amisevsk commented on #14606
@rguskov sorry, my bad -- I got myself confused.

[2019-09-27 14:49] amisevsk opened #14695 "Devfile generateName only works in factory URLs"
### Describe the bug
Currently, devfiles with `generateName` instead of `name` are handled in a somewhat confusing way. If the user passes the devfile through a factory url (`/f?url=<>`), the devfile is used to create a workspace with the generated name set as `.metadata.name`. However, devfiles with the generateName field cannot be pasted into a workspace config, as generateName is not supported

[2019-09-27 14:54] l0rd opened #14696 "Review chectl dependencies licenses"
### Is your enhancement related to a problem? Please describe.

chectl is still a che-incubator project and has a some third party dependencies for which we haven't checked the licenses yet and that prevents us from:
- include the git repo in the eclipse github organisation
- consider it for productization

### Describe the solution you'd like

We should review the licenses of the third party depe

[2019-09-27 14:58] amisevsk commented on #13982
@akurinnoy My main issues with the way the editor is implemented are
1. The autosave can happen often, which interrupts text input.
2. The editor auto-reformats the devfile on every save, which can totally break it.

The first point above could maybe be fixed by increasing the autosave interval (user stops typing for 3 seconds or something). I'm not sure on the best approach for the second part, t

[2019-09-27 15:08] amisevsk commented on #13982
Example of the second issue:

![devfile-editor-2019-09-27_11 06 27](https://user-images.githubusercontent.com/16168279/65780143-1d162a00-e117-11e9-93c1-2ac061dc49d3.gif)

[2019-09-27 15:12] benoitf commented on #14692
it seems some ppl have issues but currently I have no idea on what is blocking

[2019-09-27 15:15] l0rd commented on #14527
Another option: since in user preferences we already persist `git.username` and `git.email` it may make sense to persist `git.http.sslverify` as well. I mean user config should probably not live in a devfile.

[2019-09-27 15:37] l0rd opened #14697 "Deployment using Helm fails on k8s v1.16"
### Describe the bug

Deploying Che on latest minikube produce the following error:

[code]

That's because `extensions/v1beta` `Deployment` and `DaemonSets` have been deprecated in latest release of Kubernetes (v1.16).

### Che version
nightly

### Steps to reproduce

Get latest minikube (v1.4.0 or higher) and

[code]

### Runtime
   - minikube:  (include output of `minikube version` and `kubectl

[2019-09-27 17:57] l0rd opened #14698 "ImagePullPolicy should be configurable for every container"
### Is your enhancement related to a problem? Please describe.

When deploying Che some images pull policies can be set easily (i.e. for `che-server`) but others are not and it's `imagePullPolicy: Always` no matter what.

That makes it impossible to start Che or even a workspace when offline. Even if all the images are all available on the local disk.

### Describe the solution you'd like

#### JW

[2019-09-27 17:57] nickboldt commented on #14693
If we implement the idea of injecting plugins directly into Theia runtime without the need for theia-runtime-endpoint... do we obviate the need for this?

Also what about these images, from https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/base_images

[code]

Will this approach work for overriding those? #productization

[2019-09-27 18:01] nickboldt commented on #14693
FWIW the current simple implementation of this is to sed-replace all references to `docker.io\\|quay.io\\|registry.access.redhat.com\\|registry.redhat.io`

with a user-defined `myquay.mycorp.com` registry, then **rebuild the image**.

https://github.com/redhat-developer/codeready-workspaces/blob/master/dependencies/che-plugin-registry/scripts/replace_container_repos.sh
https://github.com/redhat-de

[2019-09-27 18:06] skabashnyuk commented on #14502
It is a separate app https://github.com/eclipse/che-plugin-registry/pull/72

[2019-09-27 18:11] l0rd opened #14699 "Add offline flag to chectl server:start"
### Is your enhancement related to a problem? Please describe.

We are making [some](https://github.com/eclipse/che-plugin-registry/pull/211) [changes](https://github.com/eclipse/che/issues/14693) [to make](https://github.com/eclipse/che/issues/14698) it possible to run Che offline. But there is not chectl "offline" flag to automatically set this up.

### Describe the solution you'd like

Add flag

[2019-09-27 19:07] skabashnyuk commented on #14692
@benoitf I think on my side the issue was in the fact that I've used
[code]
instead of deploying the latest versions.

[2019-09-27 19:59] nickboldt commented on #14112
Fix for this idea in https://github.com/eclipse/che-plugin-registry/pull/232

[2019-09-27 20:01] nickboldt commented on #14678
As part of this I'll be renaming the files to rhel.Dockerfile so that they get correct lang server support in vscode and Che/CRW.

[2019-09-28 00:02] AjitDingankar opened #14702 "Manual installation failures on Linux due to symlink errors"
## Summary
Got errors when trying to uncompress the archive.

## Relevant information
CentOS 7.6 x64 chectl v7.1.0

End of successful extraction followed by start of symlink errors shown below:

[2019-09-28 01:18] AjitDingankar opened #14703 "Linux installation fails to detect /usr/local/bin in PATH"
## Summary
The install script (also tried saving locally after curl piped into bash failed) doesn't detect the /usr/local/bin that's on the PATH (for ordinary user as well as root).

## Relevant information
CentOS 7.6 Che 7.1.0

[2019-09-28 04:49] tolusha commented on #14696
It would be nice if you set the severity as well.

[2019-09-28 04:54] tolusha commented on #14698
@l0rd
How important offline installation is?

[2019-09-28 05:00] tolusha commented on #14698
Since it is related to installation mechanism I mark this issue as `P1`

[2019-09-28 05:11] tolusha commented on #14702
@AjitDingankar
It is not clear from the description what has been done.
Could you clarify some information?

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube

[2019-09-28 05:11] tolusha commented on #14703
@AjitDingankar
It is not clear from the description what has been done.
Could you clarify some information?

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube

[2019-09-28 08:30] huangli812 commented on #14517
I install che 7 with chectl on clear linux and kubernetes, same error with node.js-react workspace. I wonder what information can I offer to help you solve this problem.

[2019-09-28 08:43] huangli812 commented on #14517
here is the log of theia
root INFO Theia app listening on http://0.0.0.0:3100.
root INFO unzipping the plugin ProxyPluginDeployerEntry {
  deployer:
   PluginTheiaFileHandler { unpackedFolder: '/tmp/theia-unpacked' },
  delegate:
   PluginDeployerEntryImpl {
     originId: 'local-dir:///default-theia-plugins',
     pluginId: 'eclipse_che_ports_plugin.theia',
     map: Map {},
     changes: [],

[2019-09-28 09:36] davidwindell commented on #14593
@skabashnyuk I think there is scope for a vanilla K8S guide where helm is used to deploy? I haven't used the AWS guide directly (we use Rancher).

[2019-09-28 10:43] huangli812 commented on #14517
I met the same problem, I sovled it by config the DNS server of my kubernetes cluster,so that other pod can access to the new created eclipse theia server service. I thought it may have same problem with your DNS, loadbalancer or domain setting.

[2019-09-28 10:45] davidwindell opened #14704 "Unable to start workspaces due to Syntax error in che-plugin-registry"
### Describe the bug
Unable to start workspaces as the che-plugin-registry is failing to start.

[code]

### Che version
 - [x] nightly

### Steps to reproduce
Try to start any new or existing workspace.

### Runtime
   - [x] kubernetes

### Installation method
   - [x] helm

### Environment
   - [x] Cloud
       - [x] other (Rancher/AWS)

[2019-09-28 10:46] gaord commented on #11817
Also see this issue with che7.1.0+ocp4.1.12 bare metal install. safari, chrome are blocked with login by the issue. Firefox happened to see the login page and get in. Quite strange! it was quite a while ago for the issue to appear in the community. Any feedback for it?

after clicking login button, loading page will call /api with token for some reason. Then the call was replocated to /api/ by ser

[2019-09-28 11:42] peidong-hu commented on #14517
Hi Huangli,

I am using metallb as load balancer, external DNS (
https://github.com/kubernetes-incubator/external-dns) and Bind9 as DNS
server to automatically create DNS entry.

For other deployment, all the DNS entries work well.

What DNS , load balancer solution do u use?

Thanks
Peidong

On Sat, Sep 28, 2019, 5:43 AM huangli812 <notifications@github.com> wrote:

On Sep 28, 2019 5:43 AM, "huan

[2019-09-28 14:57] mgrube opened #14705 "Remote Code Execution Bug"
Hello,

I'd like to report a remote code execution bug but realize that a public issue is probably not the place to do it. Who can I contact privately?

Thank you

[2019-09-28 15:04] skabashnyuk commented on #14593
@davidwindell apparently we don't have it.

[2019-09-28 15:31] nickboldt commented on #13765
Work in progress started last week here:

https://github.com/redhat-developer/codeready-workspaces/tree/master/dependencies/che-theia

Current TODOs:

- [ ] theia-dev - do we need to build **generator/eclipse-che-theia-generator.tgz** ? or can we just get the sources and install the binary during theia build from npm (*@eclipse-che/theia-generator*), as we do for *@theia/generator-plugin* ?
- [ ]

[2019-09-28 16:57] nickboldt commented on #14113
If someone can help me with making the go code in my minimal https server automatically redirect from / folder to /README.md or /index.json if that file is found, we can flip over to that implementation for 7.3.

@benoitf @davidfestal I'm not a golang expert -- can you provide a PR to fix these?

https://github.com/nickboldt/containers/blob/master/che-plugin-registry-https-go-minimal/main.go#L41-L

[2019-09-28 17:01] nickboldt commented on #14113
I've renamed this issue since we also have #14678 for moving the registries to UBI (rhel.Dockerfiles)

[2019-09-28 17:22] nickboldt commented on #14276
I'm seeing this too -- all I have to do is rebuild the che-theia generator:

[code]

Only happens about 50% of the time though, which is super annoying.

## Steps to reproduce:

[code]

[2019-09-28 17:26] nickboldt opened #14706 "Cannot build che-theia generator from master branch"
### Describe the bug

As part of #https://github.com/eclipse/che/issues/13765 I'm trying to make it possible to build the che-theia generator decoupled from the overall che-theia + theia + theia-dev + all the other containers.

To that end, I'm updating the build.sh script in the theia-dev dockerfile folder so that instead of assuming generator is already built, I can build it myself.

However, it

[2019-09-28 17:46] nickboldt commented on #14276
Workaround found - tweak your package.json file like this to disable these two failing tests (plus all the other ones in that folder):

[code]

[2019-09-28 17:50] nickboldt commented on #14276
Or could we just increase the timeout from 5s to 15s ??

[2019-09-28 19:00] gorkem commented on #14705
If you want to report a security issue please follow the instructions on https://www.eclipse.org/security/

[2019-09-28 20:24] skabashnyuk commented on #14695
@amisevsk on a step 3 you mean that you made a POST request to ```/api/workspace/devfile/``` with https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/java-maven/devfile.yaml content?

[2019-09-28 21:58] mgrube commented on #14705
Done. Thank you!

On Sat, Sep 28, 2019, 3:00 PM Gorkem Ercan <notifications@github.com> wrote:

[2019-09-29 02:24] nickboldt opened #14708 "Dependencies not hoisted when building @che-eclipse-che-theia-plugin-ext"
When building che-theia, I get these warnings about incompatible dependencies.

We should update to the later versions so we're consistent.

[code]

[2019-09-29 02:25] nickboldt opened #14709 "Circular dependencies detected when building @eclipse-che/theia-assembly"
When building che-theia from 7.2.0 branch, I get these in the log:

[code]

[2019-09-29 07:00] benoitf commented on #14709
It's not a che issue

[2019-09-29 07:02] benoitf commented on #14708
please avoid to create Che issue when it's inside theia
Also hoisted is not about latest versions

[2019-09-29 16:41] nickboldt commented on #14623
Proposal for making this arbitrary user patching compatible with Brew process:

1. Migrate Arg injection script to dockerfile generator
• fork from [devfile](https://github.com/eclipse/che-devfile-registry/tree/master/arbitrary-users-patch) repo to [crw](https://github.com/redhat-developer/codeready-workspaces)/stacks/ folder
• update list of [base images](https://github.com/eclipse/che-devfile-re

[2019-09-30 05:37] AndrienkoAleksandr commented on #14276
@evidolob what do you think?

[2019-09-30 06:10] skabashnyuk opened #14710 "Allow to configure CHE_LIMITS_USER_WORKSPACES_RUN_COUNT and namespace via CheCluster CRD"
### Is your task related to a problem? Please describe.
Follow up of https://github.com/eclipse/che/issues/13488#issuecomment-527702807

### Describe the solution you'd like
```CHE_LIMITS_USER_WORKSPACES_RUN_COUNT``` and namespace configurable via CheCluster CRD

### Describe alternatives you've considered
n/a

### Additional context
n/a

[2019-09-30 06:44] #14705 closed

[2019-09-30 06:59] tolusha commented on #14706
@nickboldt
[code]

[2019-09-30 07:05] tolusha commented on #14706
I see at first it requires to build project with yarn.

[2019-09-30 07:06] tolusha commented on #14706
/cc @AndrienkoAleksandr

[2019-09-30 07:33] tolusha commented on #14708
I observe it when build theia. It is pure theia issue.

[2019-09-30 07:35] tolusha commented on #14709
It is pure Theia issue.

[2019-09-30 07:35] #14709 closed

[2019-09-30 07:43] tolusha commented on #14710
I set severity `P1` accordingly to #13488

[2019-09-30 07:51] sleshchenko commented on #14695
According to `Steps to reproduce` I think that issue that Angel faced - it's not possible to update workspace (editing raw devfile)(PUT api/workspace/{id}) with original Devfile that was used for creating. One of the possible solutions:
- Ignore generateName field during updating();
  * it would be cool to investigate how k8s API handles it;
  * Maybe we should store generateName, I have no idea h

[2019-09-30 07:55] tolusha commented on #14708
I see, @nickboldt faced the issue when he built che-theia with extensions

@benoitf
Is it a real issue? Do these errors imply something?

[2019-09-30 08:00] benoitf commented on #14708
it's not a real issue as nodejs is taking care of managing several dependencies.

It's more a tool for developer to check that some dependencies are not duplicated in theia itself.
But as che-theia and theia are two separate codebase it's normal that due to lifecycle updates, etc we have different versions in extensions.

BTW the script is a 'home made script' of theia, not it's not from yarn outp

[2019-09-30 08:16] tolusha commented on #14708
That's what I had in mind.

[2019-09-30 08:16] #14708 closed

[2019-09-30 08:20] tolusha commented on #14704
I successfully deployed che on minkube using the following command
`chectl server:start --platform=minikube  --installer=helm --k8spodreadytimeout=500000`

@davidwindell
Have you tried with chectl?

[2019-09-30 08:21] dmytro-ndp opened #14711 "Fix Java selenium E2E tests which check integration with GitHub"
There are two Java selenium tests constantly failing :
- ImportProjectFromGitHubTest
- AuthorizeOnGithubFromDashboardTest

For example: https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/2461/Selenium_20tests_20report/

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift (include output of `oc version`)
   - [ ] minikube (include output of

[2019-09-30 08:38] themr0c commented on #14390
eclipse/che-docs#826 merged.

[2019-09-30 08:38] metlos commented on #14379
Let's split this into several tasks:

* [ ] - Store the target namespace in devfile - I propose `metadata.namespace` to conform with k8s.
* [ ] - Honor the namespace when starting the workspace
* [ ] - Make stopping workspace works even after changing the workspace namespace (e.g. the current workspace needs to be stored in the runtime)
* [ ] - add support for overriding the workspace in `/workspa

[2019-09-30 09:02] andy316x opened #14712 "Unable to use chectl for OpenShift platform"
When attempting to run chectl using the Openshift platform I get the following error:

- "http:" not supported. Expected "https:"

The full log can be seen below:

$ chectl server:start --platform=openshift --domain=apps.company.aws.local
  ✖ Verify Kubernetes API
    → Failed to connect to Kubernetes API. E_CHECTL_UNKNOWN_ERROR - Message: Protocol "http:" not supported. Expected "https:"
    👀  L

[2019-09-30 09:07] andy316x commented on #14676
@skabashnyuk thanks for your response, still waiting on checking the issue as I needed to upgrade OpenShift to 3.11 in order to make use of chectl for deployment. Nearly there I think, OpenShift is upgraded but chectl doesn't seem to want to work, not sure if you have seen this issue before, I am getting:

when attempting to run `chectl server:start`. I have opened a bug report for this issue #147

[2019-09-30 09:31] sleshchenko commented on #14379
I'm not sure that we need to allow to change workspace namespace at all.
Once workspace is started - it may have some files in PVCs, and AFAIK there is no mechanism for moving PVCs from one namespace to another, so user will lose all files.
If a user wants the same workspace in another namespace, they should recreate it with the same configuration aka devfile.

K8s does not allow to change objects

[2019-09-30 09:44] tolusha commented on #14712
@sleshchenko @amisevsk
Could you have a look pls?

[2019-09-30 09:48] davidfestal commented on #14390
Thanks @themr0c !

[2019-09-30 09:48] #14390 closed

[2019-09-30 10:26] akurinnoy commented on #13982
@amisevsk

You exactly pointed main issues. But increasing the autosave interval will make them happen less often while you're typing but they will always happen on devfile save. Also, you'll have to wait longer for autosave when stop typing.

That's why my first proposal above was to disable autosave and enable 'Save' button.

I'm not sure it's a good choise because currently a progress bar in Da

[2019-09-30 10:31] sleshchenko commented on #14712
Seems like a bug: Unable to use chectl if K8s/OS cluster use non-secure connection (http).
I guess we should analyze the current content and choose the right agent https://github.com/che-incubator/chectl/blob/b9f6ac7ada95d8b8a99c308f521bb8a96bcec15b/src/api/kube.ts#L895

@andy316x Could you provide more info about your OpenShift installation? Does it really use http but not https?

[2019-09-30 11:07] akurinnoy commented on #13982
@amisevsk

AFAIK [this issue](https://github.com/eclipse/che/issues/13526) is already in progress.

[2019-09-30 11:08] dmytro-ndp opened #14714 "Fix Happy path tests on minikube on CRW CCI instances due to "plugin runtime crashed unexpectedly" error"
### Describe the bug
There was an error "Plugin runtime crashed unexpectedly" in time of running Happy path tests on minikube within CRW CCI instances with 16Gb RAM / 8 CPUs:
- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-master-check-E2E-Happy-path-tests-against-K8S/155
- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-te

[2019-09-30 11:18] tolusha commented on #14714
@dmytro-ndp
Could you clarify the status? Are you working on fixing the error in question or fixing happy-path tests?

[2019-09-30 11:25] tolusha commented on #14714
I personally don't think it is related with resources allocated for tests.

[2019-09-30 11:39] mmorhun commented on #14714
I've taken a look at Che Theia logs and can say, that essential for the crash is only one line:
[code]
Which actually means that NodeJS instance with plugins have got `sigkill` signal.

Taking into account, that Che Theia with plugins node is running in a separate container, the only source of the `sigkill` signal is Linux system (unless a user does it manually, which is not the case for our tests

[2019-09-30 11:53] davidfestal commented on #14698
Let me provide information about the status of this on the Operator side:

This one is *a bit special*, since its overriding depends on the method of the Che operator installation:
- **from OperatorHub:** In the OLM CSVs, pull policy is set to `IfNotPresent` for  `stable` channel (releases), and to `Always` for the `nightly` channel.
- **from chectl:** By default the `Always` pull policy is used s

[2019-09-30 11:54] akurinnoy commented on #13982
@slemeur hello,

I'd like to know your thought on this issue.

[2019-09-30 11:59] metlos commented on #13945
Since we already have something that *almost* does the job - dockerimage endpoint (or rather the server in the old workspace config model), I'm struggling to see the real benefit of having a `previewUrl` placed on a command.

The intention seems to be that when the user invokes the command, Theia will know what URL to open to show the web ui of the application the command has supposedly started. O

[2019-09-30 12:05] dmytro-ndp commented on #14714
@tolusha: I am trying to work around resources to start minikube/workspace, to find better solution than to use more powerful instance of 32GB RAM/16 CPUs.

[2019-09-30 12:19] andy316x commented on #14712
@sleshchenko my installation of Openshift does use https, at the minute it is using certificates signed by Openshift while I wait for certificates signed by our private CA, nonetheless once I get certificates signed they will still not be signed by a public authority.

[2019-09-30 12:26] sleshchenko commented on #14712
@andy316x Seems something is wrong with the currect cluster.
Could you check output of `oc config current-context`, `oc config view`, is protocol `https` for you cluster?
Check also like `oc get pods` to make sure that oc does not have the same issue.

[2019-09-30 12:41] sleshchenko commented on #13945
I see it logical to stick previewURL to an endpoint.
Otherwise, I expect that the port described in previewURL is exposed even if there is no corresponding port.
Currently, Theia already displays endpoints in containers view and without `path` they are useless in some cases.

What if `previewEndpoint` instead of `opensEndpoint`? It's up to client to open endpoint URL or show somewhere on UI, like

[2019-09-30 12:46] tolusha commented on #14714
@mmorhun
good assumption
@dmytro-ndp
Could you try to increase a memory limit for a theia container? I suppose the default value is 512Mi

[2019-09-30 12:47] mmorhun commented on #14551
I have investigated the problem and the only reason of fails I could see is OOM.
The error message was changed: the hint about out of memory was added.

[2019-09-30 12:47] #14551 closed

[2019-09-30 12:53] andy316x commented on #14712
$ oc config current-context
che/console-company-aws-local:443/user1

$ oc config view
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REDACTED
    server: https://console.company.aws.local:443
  name: console-company-aws-local:443
- cluster:
    certificate-authority-data: REDACTED
    server: https://console-int.company.aws.local:443
  name: console-int-company-aws-local:443
c

[2019-09-30 12:58] amisevsk commented on #14695
I haven't checked actual API calls yet, I'm mostly working from the dashboard UI. @sleshchenko's description is accurate.

[2019-09-30 13:25] benoitf commented on #13765
generator was in a separated repository (ws-skeleton) and then published to npmjs

as it's now in che-theia repository, it should not be retrieved through npmjs

[2019-09-30 13:29] dmytro-ndp commented on #14714
There is 4Gi

[2019-09-30 13:32] mmorhun commented on #13671
In the Che 6 specification we have `keepDir` in project config in the factory:
[code]

Format of project definition in devfile is slightly different. So the suggestion is to put the `keepDir` parameter into `source` section:
[code]

@l0rd @skabashnyuk @evidolob @sleshchenko @mshaposhnik @mkuznyetsov is it ok for you?

[2019-09-30 13:33] vitaliy-guliy commented on #14502
It looks it has been moved here https://github.com/che-incubator/che-plugin-viewer/pull/1/files
But there is more than 7 month of inactivity.

[2019-09-30 13:33] benoitf commented on #13765
to be sure that the version used is working as expected.

[2019-09-30 13:34] amisevsk commented on #13982
@akurinnoy You make a good point; the more I think about it the more I think disabling autosave and instead showing a save button is better UX.

[2019-09-30 13:39] skabashnyuk commented on #14695
is there any notion such functionality in k8s
- create k8s object with ```generateName``` inside.
- update created on step 1 object from original content with ```generateName``` ?

[2019-09-30 13:47] maxandersen commented on #13671
what does `keepDir` actually do ? remove everything that does not match that path ?

[2019-09-30 13:51] sleshchenko commented on #13671
@maxandersen previously it used sparse checkout https://briancoyner.github.io/2013/06/05/git-sparse-checkout.html. Technically nothing is removed.

[2019-09-30 14:06] tolusha commented on #14714
I mean
[code]

[2019-09-30 14:20] makandre commented on #14591
Hi @sleshchenko or @skabashnyuk, is there an update on this issue?

[2019-09-30 14:33] nickboldt commented on #14113
Slip to 7.4, not required for 7.3 / 2.0

[2019-09-30 14:40] SkorikSergey opened #14717 "Opened in the Editor files tabs are not restored after workspace restarting"
### Describe the bug
After workspace restarting files tabs opened in the **Editor** are not restored.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create and start a workspace from any devfile with a project.
2. Click on **Projects** tab.
3. Open in the **Editor** any file.
4. On the **Dashboard** open **Workspaces** page and stop/start th

[2019-09-30 14:52] AndrienkoAleksandr commented on #13765
. /home/theia-dev/.yarn-global/node_modules/
. /usr/local/share/.cache/yarn/
. /opt/app-root/src/.npm-global/

I think from time to time content this folders changes and become outdated. Also If you want these folders in the some another images I think multi-stage build could help.

Do you mean Brew from MacOS? I guess it doesn't work on the Linux..

[2019-09-30 14:57] AndrienkoAleksandr commented on #13765
To speed up che-theia loading we are caching che-theia scripts and push it to the CDN registry like artifact. Then on start theia browser downloads scripts from the closest CDN server, that why theia loading faster.

[2019-09-30 14:59] nickboldt commented on #13765
Right but why a DIFFERENT version in che-theia/theia vs che-theia/theia-dev?

theia-dev: @theia/generator-plugin@0.0.1-1540209403
theia:       @theia/generator-plugin@0.0.1-1562578105

Surely you want the same version in both? Seems like hardcoding this in the dockerfiles vs. in a package.json or yarn.lock is what's causing the mismatch (update one, forget the other) ?

[2019-09-30 15:00] nickboldt commented on #13765
I'm not sure we can do that for the product unless we have a RH-approved repo where we're publishing. What's the full URL of the CDN we're using?

[2019-09-30 15:01] nickboldt commented on #13765
No, I need to pull the contents of these folders so that I can push them into the Dockerfile build inside Brew. Brew can't see the outside world, so I need to tar up these node_modules and then push the tarball into pkgs.devel.redhat.com so we have a stored copy of the sources/binaries from which to build offline.

[2019-09-30 15:03] nickboldt commented on #13765
Do you mean @eclipse-che/theia-generator or @theia/generator-plugin ?

If you mean @eclipse-che/theia-generator... should we **also** be building @theia/generator-plugin instead of installing it from npm?

[2019-09-30 15:14] benoitf commented on #13765
@nickboldt

yes it's part of the source code of this project.

no, because the source code is external to this repository: https://github.com/eclipse/theia-generator-plugin

[2019-09-30 15:32] Boereck opened #14718 "[chectl] Server start not working on Docker Desktop on Windows 10"
### Describe the bug
Starting che via chectl on Docker Desktop (version 2.1.0.3, Kubernetes version 1.14.6) on Windows 10, via command `chectl server:start -p docker-desktop` leads to the following output:

[code]

### Che version
Latest version of chectl. `chectl --version` prints `chectl/0.0.20190927-next.56ed3cc win32-x64 node-v10.16.3`

### Steps to reproduce
Call `chectl server:start -p docke

[2019-09-30 15:40] nickboldt commented on #13765
If "it's in another repo" was a reason not to build something, then the whole che-theia repo wouldn't exist. :P

I'm asking if it's better to use a specific binary, or to build from master. Since the version of the generator plugin is different in theia-dev vs. theia, I'd think at least we should standardize on a single version, if not using latest.

Would you agree? or is there some technical rea

[2019-09-30 15:43] benoitf commented on #13765
it should be the same version coming from npmjs for theia-generator-plugin in theia-dev and in theia

[2019-09-30 15:56] maciejkozuch commented on #14517
Hi,
I've had the same issue. I've configured the version 7 of Che on the OVH Kubernetes witch chectl tool with the following command:

chectl server:start -b mydomain.com -m -p k8s -s

Before, I had created DNS records for che-che.mydomain.com, keycloak-che.mydomain.com , plugin-registry-che.mydomain.com and devfile-registry-che.mydomain.com in my DNS server.

I've solved the problem by create a *

[2019-09-30 19:04] nickboldt commented on #13765
@benoitf so you mean:

Instead of using
`@theia/generator-plugin@0.0.1-1562578105`
and
`@theia/generator-plugin@0.0.1-1540209403`

we should just pull the latest from npm ? or both should be using newer `1562578105` timestamp?

[2019-09-30 19:13] benoitf commented on #13765
`1562578105` timestamp

[2019-09-30 19:15] benoitf commented on #13765
latest may pull unwanted versions and is not tagged/ reproducible build

[2019-09-30 19:43] l0rd commented on #14693
@nickboldt no. We still need it.

I have discussed with @slemeur and it's simpler to replace the registries hostnames and repositories only. I have updated this issue description.

[2019-09-30 19:47] l0rd commented on #14698
Thanks @davidfestal I have updated the description

[2019-09-30 21:01] tomgeorge commented on #14635
Is there a requirement that you cannot set things in `overrideCheProperties` that isn't a Che property? e.g. am I allowed to:

[code]

[2019-09-30 22:36] nickboldt commented on #13961
seems the above pr was replaced by https://github.com/appsody/stacks/pull/163 which is merged but not sure if we're done here.

[2019-09-30 22:45] nickboldt commented on #14699
Moving to 7.3, hopefully we can get this done in time. WDYT @benoitf is this something you can do?

[2019-10-01 03:29] sr229 commented on #12854
Finished the Editor plugin, you can try it out [here](https://github.com/sr229/che-cdr).

[2019-10-01 03:34] sr229 commented on #12854
Can anyone guide me how do I put this in on mainline since I can't find any reference on how to push it to the tree on the docs

[2019-10-01 03:47] peidong-hu commented on #14517
That's interesting, so what IP address is your *.che.mydomain.com pointing
to?
In my case, all domains are automatically created during the che
deployment, which seem all working well.

It will be a big mystery about the *.che.mydomain.com in your case, how it
could help?

On Mon, Sep 30, 2019 at 10:57 AM maciejkozuch <notifications@github.com>
wrote:

[2019-10-01 06:06] tolusha commented on #14717
The question is where Theia stores opened editors and if it is kept when workspace is stopped.

[1] https://spectrum.chat/theia?tab=posts

[2019-10-01 06:54] benoitf commented on #14699
I'm not sure to fully understand
[code]

where are the images ? it's a chectl command that is pulling them from tgz archives ?
we give a folder where images are stored in compressed files ?

also as a side note, for now chectl has no visibility to all the images, it's inside helm and che-operator that the list is defined. Now the list will be stored as well inside chectl ? or it's dumb and take .t

[2019-10-01 07:00] sparkoo commented on #13945
@l0rd that would make thinks much easier as all exposed ports will be defined by endpoints and previewUrl will always have endpoint to match. So we won't get to the situation when we have previewUrl port that is not exposed and we would have to create new service/ingress/route for it.

+1 from me. @metlos @sleshchenko  ?

[2019-10-01 07:11] themr0c commented on #14362
"Configuring namespace strategies" has been done: https://github.com/eclipse/che-docs/pull/825/
Still has to be activated in the side menu.

[2019-10-01 07:11] slemeur commented on #13806
ping @tsmaeder ???

[2019-10-01 07:12] slemeur opened #14720 "Include yarn in default nodejs stack"
### Is your enhancement related to a problem? Please describe.
Include yarn in default nodejs stack

### Additional context
https://github.com/eclipse/che/issues/13806

[2019-10-01 07:13] slemeur commented on #14720
cc @tsmaeder

[2019-10-01 07:13] slemeur commented on #13806
https://github.com/eclipse/che/issues/14720

[2019-10-01 07:17] sparkoo commented on #14624
fixed by https://github.com/eclipse/che-docs/pull/825

[2019-10-01 07:17] #14624 closed

[2019-10-01 07:24] skabashnyuk commented on #14591
@makandre no updates. Can you review these changes https://github.com/eclipse/che/pull/13645 they can be related to the code that supports feature that you've mentioned and suggest a patch?

[2019-10-01 07:40] themr0c opened #14721 "[Doc] the minimum required version of Kubernetes should be 1.9."
It should be stated in the documentation that the minimum required version of Kubernetes should be 1.9.

See: https://github.com/eclipse/che/pull/14700#issuecomment-536603267

[2019-10-01 08:03] tsmaeder commented on #14660
I tried this on my minshift, and once the projects are imported and the workspace is built, everything works just fine. Had to use che-theia 7.1.0, since this seems the only image that works right now.
That the suggestions are not what you might expect while the system is being initialized is the nature of the beast. Unless someone can give me an indication that this is more than just the system b

[2019-10-01 08:14] tsmaeder commented on #14660
Btw: when building the petclinic sample in the maven container for the first time, maven spends ~6 minutes just downloading stuff. Maybe we should consider something a bit lighter for a "happy path test" (sprint boot is a pig :-))

[2019-10-01 08:16] tsmaeder opened #14722 "Happy path test maven image does not have real user"
The maven image used in the happy path tests (https://github.com/eclipse/che/blob/master/e2e/files/happy-path/happy-path-workspace.yaml) does not have the workaround needed to work with arbitrary users. This can lead to all kinds of unexpected results.

[2019-10-01 08:18] tsmaeder opened #14723 "[Happy Path] Mount predownloaded dependencies also into java sidecar container"
The petclinic sample used in the happy path tests is very heavy on dependencies. Using a lighter sample would put less load on our systems and produce less false failures.

[2019-10-01 08:28] #13211 closed

[2019-10-01 08:33] MichalMaler commented on #14546
Can take a look at it.

[2019-10-01 08:47] dmytro-ndp commented on #14341
@Ohrimenko1988: there is example of setting up VNC server within the container image: https://github.com/SeleniumHQ/docker-selenium/blob/master/NodeChromeDebug/Dockerfile

[2019-10-01 08:48] skabashnyuk commented on #12854
@sr229 here https://github.com/eclipse/che-plugin-registry/search?q=Che+Editor&unscoped_q=Che+Editor is the list of all awailable ```Che Editor```. You can start with making pr to  https://github.com/eclipse/che-plugin-registry

[2019-10-01 09:34] dmytro-ndp commented on #13827
@SkorikSergey: FYI: rollout updating docs https://www.eclipse.org/che/docs/che-6/kubernetes-admin-guide.html#updating-che-without-stopping-active-workspaces

[2019-10-01 10:46] Katka92 opened #14724 "No notification showed when task is finished"
### Describe the bug
When the task is run, user is notified by pop-up like this:
![Screenshot from 2019-10-01 12-39-16](https://user-images.githubusercontent.com/29278800/65955479-84e6b080-e448-11e9-9a75-4b3f507fa868.png)

In previous version (7.1.0) user were notified in a same way when task ended with message similar too ` Task che: maven build has exited with code 0. `. In current version 7.2.0

[2019-10-01 10:56] metlos commented on #13945
Well, my understanding of the endpoint is just "there is something running in this component on this port". We don't specify anything about what that something might be - it might be DB server communicating over binary protocol, it might be a webserver, it might be exposed, it might not.

We already document that endpoints do have a path attribute: https://github.com/eclipse/che-docs/blob/master/s

[2019-10-01 11:08] l0rd commented on #14699
@nickboldt @benoitf we can defer this to `7.4.0` because it's not needed for airgap.

@benoitf https://github.com/eclipse/che/issues/14200 images are pulled from the online registries (dockerhub and quay.io). The goal is to prepare Che to run in offline mode. We can maintain the list of images in chectl (the list should include plugin sidecars and stacks as well), I don't have a better idea.

[2019-10-01 11:14] sleshchenko commented on #13945
+1. And we already have `My Runtime` view that allows us to use endpoints without previewURLs.
But our Django devfile that declares endpoint - returns 404 and maybe we would like to configure some default path like `admin`
![django](https://user-images.githubusercontent.com/5887312/65956724-b44eea80-e453-11e9-93de-63864c0f5fc2.gif)
So, I think it makes sense to add `path` for endpoint as well.

En

[2019-10-01 11:19] tolusha commented on #14724
It seems the task is counted as `running`.

![Screenshot from 2019-10-01 14-17-34](https://user-images.githubusercontent.com/1640675/65957728-435d0200-e456-11e9-8e82-72ff48e3a0c9.png)

[2019-10-01 11:38] tsmaeder commented on #14692
I still have this issue. How do I update my che instance to fix this without losing my workspaces?

[2019-10-01 11:38] dmytro-ndp opened #14725 "Provide fully equipped release candidate of chectl and che-operator for pre-release testing"
### Is your enhancement related to a problem? Please describe.
During pre-release testing of Eclipse Che, QE team is usually testing `eclipse/che-server:rc` image being installed by the command of **chectl** from `--channel=next`:
[code]
In this case only **che-server** is of pre-release version.
Other artifacts like **chectl**, **che-theia**, **che plugins** are of **next**/**latest** versions, i

[2019-10-01 11:42] l0rd commented on #13945
I understand @metlos approach but `endpoint` is not a Che concept, it's a Kubernetes one. If we can define a path in a Kubernetes endpoint I am ok with that.

[2019-10-01 11:50] sparkoo commented on #13945
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#serviceport-v1-core

[2019-10-01 11:52] sleshchenko commented on #13945
Thanks for sharing it. Previously I never thought about devfile/plugins endpoints as about k8s endpoints.
Now I'm trying to understand how our devfile/plugins endpoints suites to k8s endpoint.
@l0rd You mean https://theithollow.com/2019/02/04/kubernetes-endpoints/ these, service related endpoints, right?

[2019-10-01 11:58] rkratky commented on #14386
@ibuziuk, @olexii4, could you please let me know if you agree with the proposed solution?

[2019-10-01 12:04] benoitf commented on #14725
AFAIK you can provide list of some versions/images for helm ?

[2019-10-01 12:12] mmorhun opened #14726 "Workspace fails to start/open. Caused by `Unknown error` during websocket connection establishing"
### Describe the bug
When try to open/start a workspace, it fails with `Unknown error has happened, try to reload page` message. Reload of the page doesn't help.

### Che version
nightly

### Steps to reproduce
1. Open a workspace
2. Work in it some time
3. Stop the workspace
4. Try to start it again

### Expected behavior
Workspace is started as usual

### Runtime
minishift

### Screenshots
![unk

[2019-10-01 12:16] akurinnoy commented on #14726
@mmorhun, I have just faced same issue on minikube on single-user Che.

[2019-10-01 12:18] mmorhun commented on #14726
Yes, seems keycloak token is not the problem, because relogin didn't help...

[2019-10-01 12:19] mmorhun commented on #14726
But closing and opening browser again helped.

[2019-10-01 12:19] sleshchenko commented on #14726
Something is wrong in cookies or local cache since the incognito window helped in @akurinnoy case.

[2019-10-01 12:23] dmytro-ndp commented on #14725
You are right.
The issue is also about providing pre-release version of helm, which points to **rc** tags of che-theia, che plugins images. It will require having such images as well.

[2019-10-01 12:50] #14721 closed

[2019-10-01 12:55] makandre commented on #14591
@skabashnyuk actually I had worked with @tobespc on the changes in #13645 to enable reading of the devfile registry index from GitHub.  At the time it was delivered I verified that it worked as intended.  So I'm not sure what changed since then but now it's throwing the CORS error which I reported above.

[2019-10-01 12:56] sparkoo commented on #13945
@l0rd we already have attributes in endpoint https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/nodejs-mongo/devfile.yaml#L50

[2019-10-01 13:07] #13980 closed

[2019-10-01 13:10] peidong-hu opened #14729 "Workspace created, but stalls at last step to display it."
I have successfully installed the che 7.2.0 on baremetal k8s, and can create workspace successfully. But the workspace failed to show up, even the green light already on for newly created worksapce.
This screenshot shows what error messages received on Chrome developer tool console,

![image](https://user-images.githubusercontent.com/7647371/65964572-dda35280-e422-11e9-8ee7-e057c7531cbd.png)

[2019-10-01 13:11] peidong-hu commented on #14517
This issue just disappears when I deploy the latest 7.2.0 version. I think we may close it at this moment.

[2019-10-01 13:16] akurinnoy commented on #13982
@sunix @slemeur

Do you have any objection to disable autosave in favor of save button?

[2019-10-01 13:26] anthonma opened #14731 "Eclipse che can't create workspace"
### Describe the bug
When I try to create a workspace I get an error saying Devfile schema validation failed. Error: (/metadata/generateName):The object must not have a property whose name is "generateName".
And in the console there are some errors shown in the screenshot below.

### Che version
 - [ ] latest
 - [ ] nightly
 - [x] other: 7.0.0-RC-2.0 Docker image

### Steps to reproduce
1. start c

[2019-10-01 13:27] #14659 closed

[2019-10-01 13:28] skabashnyuk commented on #13045
/remove-lifecycle stale

[2019-10-01 13:28] skabashnyuk commented on #13047
/remove-lifecycle stale

[2019-10-01 13:29] skabashnyuk commented on #13046
/remove-lifecycle stale

[2019-10-01 13:29] skabashnyuk commented on #12681
/remove-lifecycle stale

[2019-10-01 13:30] skabashnyuk commented on #12740
out of date

[2019-10-01 13:30] #12740 closed

[2019-10-01 13:30] #14517 closed

[2019-10-01 13:41] skabashnyuk commented on #14591
Strange. Github response contains ```Access-Control-Allow-Origin```
[code]
Can you show your browser developer console .  We should see preflight request https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request. Maybe it's some howe blocked in your environment?

[2019-10-01 13:43] skabashnyuk commented on #14692
@tsmaeder what is the value of CHE_WORKSPACE_PLUGIN__REGISTRY__URL and CHE_WORKSPACE_DEVFILE__REGISTRY__URL ?
 If you are running plugin and devfile registries you should make sure they are up to date.

[2019-10-01 13:44] rbcminghou opened #14732 "che-machine-exec 7.2.0 is required by the che 7.2.0?"
Just upgraded to che from 7.1.0 to 7.2.0, few questions about che-machine-exec:

1. should docker.io/eclipse/che-machine-exec have the corresponding tag 7.2.0?
2. should plugin registry have the meta.yaml for che-machine-exec 7.2.0?

[2019-10-01 13:52] skabashnyuk commented on #12914
/remove-lifecycle stale

[2019-10-01 13:54] skabashnyuk commented on #14731
@anthonma thank you for this report. Can you follow the bug template?

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `k

[2019-10-01 13:56] benoitf commented on #12914
should it go into a backlog ?

[2019-10-01 13:57] skabashnyuk commented on #14731
@anthonma from what I can see you are using 7.0.0-RC-2.0 Docker image - that is an outdated way to run Che. Can you use something that is available at this moment https://www.eclipse.org/che/docs/che-7

[2019-10-01 14:19] amisevsk commented on #14732
Hi @rbcminghou. To answer your questions:

- che-machine-exec has moved over to the quay.io repository: https://quay.io/repository/eclipse/che-machine-exec, which does contain the 7.2.0 tag. I believe we are working on deprecating the docker.io repo.
- When you upgraded to 7.2.0, did you also upgrade the plugin and devfile registries? Checking the current 7.2.0 release of che-plugin-registry, I se

[2019-10-01 14:22] amisevsk commented on #14731
I agree that you should move away from the release candidate builds if possible. This issue in particular is caused by Che reusing the hosted Che devfile registry (which we've since moved away from). This registry is set up for a newer release of Che, which does support generateName.

[2019-10-01 14:24] anthonma commented on #14731
Thank you for your fast replies. I will try the possibilities described in the link.

[2019-10-01 14:36] sparkoo commented on #13945
if I set this endpoint
[code]
and run the command with `component: nodejs` or click on endpoint in the right panel, the opened url indeed have the path appended. I didn't know about this at all. I'm now wondering whether there is anything left to fix the purpose of the original issue, because currently command action is linked to component, and component can have endpoint with path.

[2019-10-01 14:48] benoitf commented on #14110
we have a way to patch che-theia
https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/Dockerfile#L34-L45

and to take any commit from theia as upstream theia for 7.3.0

so no need to use uppercase. If a fix is required, it will be part of 7.3.0

[2019-10-01 14:58] sparkoo commented on #13945
here's simple devfile you can try, that runs simple go http server on port 8081 and respond on `/hello` path
[code]

[2019-10-01 14:59] dmytro-ndp commented on #14714
Error was reproduced on machine with 32 GB RAM / 16 CPUs https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/206/

[2019-10-01 15:21] makandre commented on #14591
You may be right could be an environmental issue... I'll investigate further

[2019-10-01 15:33] nickboldt commented on #14693
Note that for testing containers before they're published to RHCC/RHIO, we will need this functionality in BOTH the plugin registry and the devfile registry so that any/all containers can be overridden to use a different base registry URL/repo/imagename:tag.

Then we can override `registry.redhat.io/codeready-workspaces/stacks-java-rhel8:2.0` with `quay.io/crw/stacks-java-rhel8:2.0-34` and test sp

[2019-10-01 15:35] azatsarynnyy commented on #14287
I've tested the current version of OpenShift Connector Che Plugin with OCP 4 and looks like it works well, at first glance...
![image](https://user-images.githubusercontent.com/1636395/65975488-5c29df80-e477-11e9-89eb-ad03ba72ee4f.png)

But during some operations, I've got the messages about incompatibility, e.g.
![image](https://user-images.githubusercontent.com/1636395/65976445-ca22d680-e478-11e

[2019-10-01 16:15] l0rd commented on #13945
@sleshchenko yes, when we had to decide the naming we had to find something that could be a service (not public) or a service+ingress (public) and we decided that in the kubernetes world that would be called endpoint.

@sparkoo the big problems I see are:
- it doesn't make sense to extend the devfile spec with endpoints for kubernetes and openshift components: these abstractions already exist and

[2019-10-01 16:30] l0rd commented on #14200
@metlos @davidfestal the keycloak image version problem can be definitely handled as a doc issue (hence we need to add the workaround in the doc to close this issue).

[2019-10-01 16:42] peidong-hu commented on #14729
I did a clean up in chrome developer tool console and refresh the page, I got the following error message,
![image](https://user-images.githubusercontent.com/7647371/65982282-9af07300-e440-11e9-9398-aa5fda0637cf.png)

[2019-10-01 17:13] l0rd opened #14733 "Build an offline version of the Devfile registry image"
### Is your enhancement related to a problem?

If Che is deployed on a cluster that doesn't have access to github (because behind a firewall or offline) the sample stacks won't work. For that reason we need to build a devfile registry image that contains the samples source code.

### Describe the solution you'd like

The projects could be cloned, packaged as zipfiles files and copied in the images

[2019-10-01 17:15] nickboldt commented on #13387
clearly still ongoing so slip to 7.3.0

[2019-10-01 17:34] nickboldt commented on #14200
I'm hoping to not have to handle scripting an update process, but if we have to we can do so as documentation, so it's not tightly tied to a release.

This sounds preferrable, except that we still have to support OCP 3.11 users. So would this mean we would tell them to install OLM in order to be able to use operator-based updates?

[2019-10-01 17:43] tomgeorge commented on #14681
This was merged in #14682

[2019-10-01 17:43] #14681 closed

[2019-10-01 18:08] amisevsk commented on #14650
@l0rd can this one be closed?

[2019-10-01 18:14] l0rd opened #14734 "Operator airgap mode support"
### Is your enhancement related to a problem?

A user that wants to install Che behind an enterprise firewall should be able to do so configuring the Checluster CR.

### Describe the solution you'd like

Add the following CR attributes that a user can configure during installation of Che:

[code]

The default should be `airGapMode: 'false'`. When it's `true` the operator should use the specified h

[2019-10-01 18:14] amisevsk commented on #12966
@ankkumar-progress If you're still interested in this issue, could you please confirm that its still present with the current Che release (7.2.0)?

[2019-10-01 18:31] l0rd commented on #14650
Yes everything has been completed

[2019-10-01 18:31] #14650 closed

[2019-10-01 18:37] davidfestal commented on #14635
No. We don't need validation, at least at first.

[2019-10-01 18:37] amisevsk commented on #14635
While I think some validation would be useful in case of typos, I don't know if it would be possible to actually implement that check, as Che will consume and env var that begins with `CHE_` and convert it to a property. Having some sort of check here might require maintaining the list of "acceptable" overrides, in case they are later added to Che.

Up to David in the end, though.

[2019-10-01 18:40] nickboldt commented on #14732
I believe this is being caused by the new changes in the way I'm building the airgap version of the Che 7 plugin registry.

For CRW we want to filter out all but the /latest/ folders but that means when you try to find `v3/plugins/eclipse/che-machine-exec-plugin/7.2.0/meta.yaml` you get 404'd as only `v3/plugins/eclipse/che-machine-exec-plugin/latest/meta.yaml` exists

[2019-10-01 19:01] nickboldt commented on #14732
7.2.0 is the "default" in Che, when your devfile doesn't contain an editor;  could also fix the problem by adding
[code]
into devfile to pull `/latest` instead of `/7.2.0`

[2019-10-01 19:09] nickboldt opened #14735 "[plugin registry] Improve the way che-theia and che-machine-exec latest folders are maintained"
The Che Machine Exec plugin for 7.2.0 is not the same as the one for Latest, despite the fact that v7.2.0 is the latest.

![image](https://user-images.githubusercontent.com/227597/65992231-d00abe80-e45c-11e9-8c56-01181cc1b877.png)

This suggests that someone is manually updating 7.2.0 and latest SEPARATELY and because humans gonn' hume, someone forgot to update the latest with the changes in 7.2.0

[2019-10-01 19:45] nickboldt commented on #14735
Related issue #14732

[2019-10-01 19:49] nickboldt opened #14736 "[plugin registry] Improvements to build process"
### Is your enhancement related to a problem? Please describe.

Based on feedback in https://github.com/eclipse/che-plugin-registry/pull/232 there are some things we can do to to improve the build process.

### Describe the solution you'd like

* move dockerfiles and related meta files (*.repo) into `build/dockerfiles/`
* remove `Listen 80,Listen 8080` replacement instruction
* probably not needed

[2019-10-01 20:11] benoitf commented on #14736
you'll use build scripts to copy some content to have access to other files (like Che) or you'll keep root docker context

also I would suggest `build/dockerfile/rhel/` so you've dedicated files for rhel there and you can name the Dockerfile `Dockerfile` for your vscode extension

[2019-10-01 20:45] sparkoo commented on #13945
then I don't understand how this should work with kubernetes/openshift components, when they can't have defined endpoint in devfile?
[code]

[2019-10-01 22:16] l0rd commented on #13945
Good point @sparkoo. We could use the service selector to identify the endpoint or the name if there is no selector. But it's not a simple and straightforward solution. I don't know what's better. Feel free to decide whatever makes more sense to you. I am ok with both choices.

[2019-10-01 22:30] l0rd commented on #14732
@rbcminghou did we answer your questions? Can we close this issue?

[2019-10-01 22:39] l0rd commented on #14731
@anthonma I am closing this issue because it looks like the cause of the problem (an old version incompatible with latest devfile registry) and a solution (use a newer Che version) have been provided. Don't hesitate to re-open if your problem hasn't been solved.

[2019-10-01 22:39] #14731 closed

[2019-10-01 22:46] l0rd commented on #14729
@peidong-hu to be able to help you we need to get some infos:
- how did you install Che (helm chart, chectl, other?)
- the version of kubernetes you are using
- [kubernetes events logs](https://www.eclipse.org/che/docs/che-7/viewing-kubernetes-events/) of the namespaces where che-server is deployed and where the workspace should be deployed
- [che-server logs](https://www.eclipse.org/che/docs/che-

[2019-10-01 22:52] rbcminghou commented on #14732
Please close this issue.

[2019-10-01 22:52] #14732 closed

[2019-10-01 22:55] l0rd commented on #14726
@evidolob @olexii4 @benoitf any idea? Is this a regression?

[2019-10-01 23:30] sparkoo commented on #13945
I guess we have to get route/ingress for previewUrl. Not the service.

Having following devfile
<details>
  <summary>devfile</summary>

[code]
</details>

The created Route looks like this:
<details>
    <summary>route</summary>

[code]
</details>

So if we have previewUrl like this:
[code]
we should be able to get correct route by it's labels
[code]

[2019-10-01 23:44] l0rd commented on #14725
I am not sure I understand the goal. Is it for the day of the Che release?

[2019-10-01 23:49] l0rd commented on #14724
@vparfonov @RomanNikitenko is this normal behavior for latest version of Theia?

[2019-10-01 23:55] l0rd commented on #14723
@tsmaeder do you think that's only about the dependencies? If that's the case one alternative would be to use a stack image with the dependencies for that particular project included.
@rhopp @dmytro-ndp what do you think? If you are ok with @tsmaeder analysis (a smaller project == less false positives) let's go for it.

[2019-10-02 00:03] l0rd commented on #14722
That's a really good catch and something we need to fix asap.

@rhopp @dmytro-ndp where is the Dockerfile for `bujhtr5555/maven-with-artifacts:latest`? Is it possible to use `quay.io/eclipse/che-java11-maven` or to use it as a base image?

[2019-10-02 00:06] l0rd commented on #14720
cc @tsmaeder

[2019-10-02 00:11] l0rd commented on #14717
It doesn't look like a bug (has that ever worked on Che with theia?) but an enhancement with severity/p2.

[2019-10-02 03:37] peidong-hu commented on #14729
I installed with helm on baremetal k8s v1.11
Not sure how to get the k8s events logs on baremetal k8s,
che-server logs attached
[log3.log](https://github.com/eclipse/che/files/3679354/log3.log)

[2019-10-02 06:34] benoitf commented on #14692
@tsmaeder I think it's because che-theia image and the `plugin's images` are not using the same theia codebase

like using che-theia:next with a vscode-java plugin image using under the hood che-theia:7.0.0 for example.

As the protocol has changed in theia upstream for plugins, I suspect the main instance can't communicate anymore with sidecar containers.

[2019-10-02 07:05] Ohrimenko1988 opened #14737 "[TS_SELENIUM] Create image for the "Happy Path" tests based on the "quay.io/eclipse/che-java11-maven" image"
### Is your task related to a problem? Please describe.
Currently, for the "Happy Path" scenario used a docker image without real user. It may lead to the problem described in the issue https://github.com/eclipse/che/issues/14722 .

### Describe the solution you'd like
Create an image for the "Happy Path" tests based on the "quay.io/eclipse/che-java11-maven" image

### Describe alternatives you've

[2019-10-02 07:06] Ohrimenko1988 commented on #14722
@l0rd Yes, we can use ```quay.io/eclipse/che-java11-maven``` as a base image.  In the ```maven-with-artifacts``` image we add maven artifacts for reducing tests execution time. So we may get the ```quay.io/eclipse/che-java11-maven``` image, add necessary artifacts and build our own image.

 I have created issue for this task https://github.com/eclipse/che/issues/14737

[2019-10-02 07:09] rhopp commented on #14737
@Ohrimenko1988 @musienko-maxim Didn't we bundle mvn deps into this image to speed up the test exectuion?
If yes, we need to rebuild the image and while doing that, we should push it to some "general" image registry, instead of `bujhtr5555` (whose is this anyway?).
And we need to rebuild this image with every version of `quay.io/eclipse/che-java11-maven` (as part of the che build/release process?)

[2019-10-02 07:20] RomanNikitenko commented on #14724
I'm going to investigate the cause of the issue.

@vparfonov can we take it in current sprint as unplanned issue?

[2019-10-02 07:29] vparfonov commented on #14724
i don't think it's so critical, we can wait on next sprint

[2019-10-02 07:34] skabashnyuk opened #14738 "Explain pitfalls and workarounds of Che6 to Che7 upgrade in a doc"
### Is your task related to a problem? Please describe.
After we made some tests of Che6 to Che7 upgrade using che-operator https://github.com/eclipse/che/issues/14200 we identified a couple of pitfalls. We need to provide more context for users and the ways how to solve it.

### Describe the solution you'd like
A document in https://github.com/eclipse/che-docs

### Describe alternatives you've co

[2019-10-02 07:51] tsmaeder commented on #13603
I think it makes sense to mount the volume in the plugin meta.yml, becuase we want this for all java tooling sidecars.

[2019-10-02 07:55] tsmaeder commented on #13603
@svor as a first step, let's put this into the 0.50 version of the Java plugins when you create it.

[2019-10-02 08:00] Ohrimenko1988 commented on #14737
@rhopp Yes, I described this at the comment
https://github.com/eclipse/che/issues/14722#issuecomment-537365505

[2019-10-02 08:01] #14253 closed

[2019-10-02 08:02] mshaposhnik opened #14739 "Empty fields of Devfile object still returned from the server sometimes"
### Describe the bug
Sometimes (more often, after Che server restart) devfile object still returned with empty fields present, that causing a lot of errors when trying to update/edit on dashb (see screenshot).

### Che version
 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift (include output of `oc ve

[2019-10-02 08:03] dmytro-ndp commented on #14725
Indeed, it's needed for pre-release testing of Eclipse Che: there is actually `che-server:rc` image tested with `chectl` installed from *next* channel. `latest` images of `che-theia` and `plugins` images are used.
The point is to test *final* bits of Che images/chectl (kinda release candidates) before publishing it as a release versions.

[2019-10-02 08:04] tsmaeder commented on #14723
I did a mvn clean install and on my 1gb symmetric line, it took ~6 mins to just download all the dependencies. As long as we don't have some prepopulated .m2 volume on the language support container, we _will_ need to download everything when first starting the workspace.

[2019-10-02 08:06] tsmaeder commented on #14649
Make sure we have a persistent volume for the .m2 directory. See https://github.com/eclipse/che/issues/13603

[2019-10-02 08:10] AndrienkoAleksandr commented on #13982
+1 to disable, but it would be nice to have hotkey, f.e. Ctrl +S to save defile.

[2019-10-02 08:35] dmytro-ndp commented on #14714
The issue was closed accidentally.

[2019-10-02 08:44] AmitChameides commented on #14669
@sleshchenko thanks for the response, and @tsmaeder thanks for looking into better documentation in the future.

1. It turned out that I did already have a DNS zone setup, and I changed my `chectl server:start` command to use it. That didn't seem to change anything regarding the error.
2. I used the proposed command and got told that my current context is 'aws' (probably the default context, right

[2019-10-02 09:12] benoitf commented on #14696
Hello,

I did a deep review on all dependencies (and transitive dependencies)

install synp tool, convert yarn.lock to package-lock.json
drag and drop file on https://clearlydefined.io/workspace
use 'sort by license'

licenses are compliant with EPL : BSD, Apache 2.0, ISC, MIT

![image](https://user-images.githubusercontent.com/436777/66032356-904be180-e505-11e9-952e-83a4fcd17197.png)

[2019-10-02 09:14] mmorhun commented on #14714
@dmytro-ndp could you please share the devfile from which that workspace was created?

[2019-10-02 09:15] dmytro-ndp commented on #14714
It's on description of issue: https://github.com/eclipse/che/blob/78e35343504ee33e6aa5ed0c3a35d07b601db62e/e2e/files/happy-path/happy-path-workspace.yaml

[2019-10-02 09:32] dmytro-ndp commented on #13473
Current state:
- minikube start fails sometimes on upshift instance:
[code]
Possible fixup - to rearrange more memory for minikube.

- https://github.com/eclipse/che/issues/14714 - in progress

[2019-10-02 09:39] l0rd commented on #14696
@benoitf you mean that every dependency has a license and that none has GPL or LGPL?

[2019-10-02 09:40] l0rd commented on #14696
Is it possible to export/share the result?

[2019-10-02 09:48] benoitf commented on #14696
@l0rd yes every dependency is compliant (no GPL/LGPL/unknown license)

about sharing I don't know (this is why I added steps to reproduce)
What I can do is to share the package-lock.json so it's just a simple drag and drop to do on https://clearlydefined.io/workspace

[2019-10-02 09:51] benoitf commented on #14696
[package-lock.json.zip](https://github.com/eclipse/che/files/3680505/package-lock.json.zip)

I've added zipped file of package-lock.json (can't add .json directly)

Sharing URL from clearlydefined doesn't work as the URL is too long

[2019-10-02 09:53] AndrienkoAleksandr opened #14741 "Golang debugger is broken"
### Describe the bug
We have remote plugin for golang support. Currently debugger for this remote plugin is broken. For debugger we are installing dlv inside image:https://github.com/eclipse/che-theia/blob/master/dockerfiles/remote-plugin-go-1.10.7/Dockerfile#L65. But go get command **always downloads latest version dlv**. In the latest dlv debugger version was dropped support golang 0.10.7, that

[2019-10-02 09:59] AndrienkoAleksandr commented on #14741
Proposed solutions: we have plugin with version name 0.11: https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/ms-vscode/go/0.11.0/meta.yaml#L15 , but actually was used image with golang 0.10.7. We need to use newer golang in the image and debugger will be fixed

[2019-10-02 10:57] l0rd commented on #14696
ok cool thanks @benoitf I am closing this issue since the dependencies licenses have been analysed and no further action seems necessary.

cc @nickboldt

[2019-10-02 10:59] sleshchenko commented on #14696
@l0rd Should we make sure that all dependencies have CQs?

[2019-10-02 11:01] l0rd commented on #14724
Yes I agree with @vparfonov. Not critical, can be postponed until next sprint.

[2019-10-02 11:03] benoitf commented on #14718
Thanks for the report @Boereck
it seems docker has a different kubernetes context on some installations.

A pull request has been provided

[2019-10-02 11:05] l0rd opened #14742 "TLS by default"
### Is your enhancement related to a problem?

I don't see any scenario where users would want to use unsecured http communications.

### Describe the solution you'd like

TLS should be activated by default. It should not be something that the user should bother with.
- [x] [POC] TLS by default  https://github.com/eclipse/che/issues/15313
- [x] Implement TLS by default for helm Che installer  http

[2019-10-02 11:11] #11763 closed

[2019-10-02 11:11] #12754 closed

[2019-10-02 11:11] #12811 closed

[2019-10-02 11:11] #12928 closed

[2019-10-02 11:11] #12960 closed

[2019-10-02 11:11] #12961 closed

[2019-10-02 11:11] #12976 closed

[2019-10-02 11:11] #12995 closed

[2019-10-02 11:11] #12997 closed

[2019-10-02 11:12] mmorhun commented on #14714
@dmytro-ndp sorry I wasn't clear enough... I meant the one with increased memory limits...

[2019-10-02 11:25] Ohrimenko1988 commented on #14341
Done https://github.com/eclipse/che/pull/14730

[2019-10-02 11:27] #14341 closed

[2019-10-02 11:29] #13686 closed

[2019-10-02 11:33] #14368 closed

[2019-10-02 11:39] tsmaeder commented on #14692
@benoitf I understand the problem, but not how to fix it without data loss.

[2019-10-02 11:41] tsmaeder commented on #14720
@l0rd @slemeur the dev image is supposed to be able to run the example. As I understand it, that example does not require yarn, so for me we should not include yarn.

[2019-10-02 11:51] sparkoo commented on #13647
@mpxp I can see 2 issues:

1] I can see that you have ingress host `che-che.192.168.99.100.nip.io`, which is default hardcoded ip, but almost certainly wrong one. You'll have to set `global.ingressDomain` to minikube's ip `--set global.ingressDomain=$(minikube ip).nip.io`. Now `http://che-che.<minikube-ip>.nip.io` should work.

2] `isHostBased` is no longer valid option. If you want to use IP addr

[2019-10-02 11:52] dmytro-ndp opened #14743 "[chectl] chectl didn't respect k8spodreadytimeout in case it failed to check Che status"
### Describe the bug
Next command:
[code]
failed because of error:
[code]
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/2117/console

In fact, Eclipse Che was started successfully according to the logs https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regu

[2019-10-02 12:07] benoitf commented on #14743
@dmytro-ndp could you please avoid to assign issue to me ? There is area/chectl and devex team as well.

[2019-10-02 12:14] benoitf commented on #14743
could you please provide data that are externally available ?

[2019-10-02 12:51] l0rd commented on #14614
@skabashnyuk I have reduced the number of default configs to change in this issue and created a distinct issue for TLS #14742.

[2019-10-02 13:00] benoitf commented on #14692
@tsmaeder please provide the devfile of the workspace or ensure that it's using next/next everywhere or (latest/latest) (and that there is a theia editor inside the devfile as well)

[2019-10-02 13:06] olexii4 commented on #14386
@rkratky It is ok for me.

@skabashnyuk WDYT? Could we have another solution?

[2019-10-02 13:17] sunix commented on #13671
could we rename `keepDir` to something else ? like `sparseCheckout` so it makes sense for people who used this field what it is doing without having to go through the doc ? I am not sure Che6 naming compatibility is required here as the devfile is a complete different format.

[2019-10-02 13:17] amisevsk commented on #14724
How did an issue like this pass e2e/happy-path tests? I agree that it's not critical, but also would make any command that naturally doesn't have output on success untrackable to the user.

[2019-10-02 13:21] RomanNikitenko commented on #14724
My current issue is Stop running task https://github.com/eclipse/che/issues/13737,
so I would like to investigate and fix this bug to have ability to test my changes for https://github.com/eclipse/che/issues/13737.

@l0rd @vparfonov
can we take it in current sprint as unplanned issue?

[2019-10-02 13:23] skabashnyuk commented on #14692
you need to redeploy your plugin and devfile registry with a fresh one.

[2019-10-02 13:44] l0rd opened #14745 "Verify Devconsole integration"
### Is your enhancement related to a problem?

OCP 4.2 DevConsole has integration with Che:
- A Che Console Link
- A link to a factory URL to create the

### Describe the solution you'd like

We should test that when a Che 7.2 or higher (with TLS enabled) is installed on OCP 4.2:
- Che console link is created
- A factory link in the DevConsole topology triggers the successful creation of a workspa

[2019-10-02 14:06] azatsarynnyy opened #14746 "chectl cannot find a workspace pod while injecting kubeconfig"
### Describe the bug

`chectl workspace:inject -k` looks for a workspace pod by label `che.workspace_id`. But it gets incorrect pod since there's another pod with the same label may present - `che-jwt-proxy`.

Need to change the way of looking for a workspace pod relying on the label `che.original_name=che-workspace-pod`.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

[2019-10-02 14:12] olexii4 commented on #14386
@l0rd I am thinking about removing docs from the CHE as default. Then change branding JSON  links
 to the public one  "https://www.eclipse.org/che/docs/". WDYT?

[2019-10-02 14:18] sleshchenko commented on #14742
I'm afraid we are not able to provide every user normal certificate.
And if we go with a self-signed certificate (in the same way as minikube/minishift) it might bother user since:
1. they need to import CA certificate into the browser
2. add every Che endpoint to exclusion, like after workspace start, open each of workspace endpoint and mark them as trusted, otherwise, Iframes won't be loaded pro

[2019-10-02 14:23] azatsarynnyy opened #14748 "[k8s plugin] Clusters view is empty"
### Describe the bug

`Clusters` view from Kubernetes plugin is empty although kubeconfig is set up correctly, see the terminal output
![image](https://user-images.githubusercontent.com/1636395/66051893-55af6c80-e538-11e9-8c53-97cee9c1c9ff.png)

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Run a workspace with the latest version of Kubernet

[2019-10-02 14:28] amisevsk opened #14749 "[regression] Ephemeral workspaces cannot load plugins"
### Describe the bug
When running a workspace in ephemeral mode on Che 7.2, no plugins can be loaded.

This appears to be due to a change in how volumes are mounted. In non-ephemeral mode, we have
[code]
whereas in ephemeral mode, the mount is
[code]
which causes the plugin artifacts to be stored at `/plugins/<workspace-id>/plugins/sidecars/redhat_java_latest` instead of `/plugins/sidecars/redhat_

[2019-10-02 14:28] amisevsk commented on #14749
This is a blocker for rolling Che 7.2 out to production.

[2019-10-02 14:32] benoitf commented on #14749
@amisevsk what is the team that is handling the workspace mounts part ? osio or platform ?
to make assignee

[2019-10-02 14:35] benoitf commented on #14748
@azatsarynnyy it's not clear for me the area of the issue ?
it's a problem in the vscode extension ? or the platform ?

[2019-10-02 14:40] amisevsk commented on #14656
Blocked by https://github.com/eclipse/che/issues/14749

[2019-10-02 14:47] azatsarynnyy commented on #14748
@benoitf I guess it's related to remote plugins since I've got the errors in theia sidecar like the following:
[code]

[2019-10-02 15:10] tsmaeder commented on #14692
But I haven't deployed any registries. Is there a chectl incantation that will fix the problem?

[2019-10-02 15:11] amisevsk commented on #14749
@benoitf The issue is caused by https://github.com/eclipse/che/pull/14539 I believe, but I'm currently taking a look.

[2019-10-02 15:27] benoitf commented on #14748
related to https://github.com/TypeFox/monaco-languageclient/pull/163  and https://github.com/TypeFox/monaco-languageclient/issues/24#issuecomment-519950788 ?

[2019-10-02 15:57] AndrienkoAleksandr commented on #14749
https://github.com/eclipse/che/pull/14539 I think so too.

[2019-10-02 17:49] nickboldt commented on #14186
Related to #14589

[2019-10-02 17:51] nickboldt commented on #14088
Related issues:
* https://github.com/eclipse/che/issues/14589
* https://github.com/eclipse/che/issues/14186

[2019-10-02 20:38] davidwindell commented on #14729
@peidong-hu what version of nginx-ingress are you running?

[2019-10-02 21:01] davidwindell commented on #14704
@tolusha no, I'm using Rancher/Vanilla K8s so no chectl.

I've just forced the helm chart to use 7.2.0 instead of nightly and it works. From what I can tell therefore is that there is definitely a bug in `quay.io/eclipse/che-plugin-registry:nightly`

[2019-10-02 21:22] davidwindell opened #14750 "Use specific version of images in helm charts"
At the moment, all helm deployments utilise the `nightly` tag on images. I.e.

`image: quay.io/eclipse/che-plugin-registry:nightly`

Would it be possible to fix these versions on each tag in the eclipse/che repository?

Alternatively, I noticed that the Openshift deploy files give the option to specify `IMAGE_TAG` to control which version of Che is deployed. Would it be possible to bring this opti

[2019-10-02 21:37] andy316x commented on #14517
Fixed by #14052

[2019-10-02 22:59] gorkem commented on #13224
Can you try this with the latest Che

[2019-10-02 22:59] #13224 closed

[2019-10-02 23:10] monaka opened #14751 "Add maintainer field in plugin meta.yaml"
### Is your enhancement related to a problem? Please describe.

In some cases, the maintainer of che-plugin may not be same as the code author.
For example, [PizzaFactory provides che-plugin that supports Move smart contract language](https://github.com/PizzaFactory/che-plugin-registry/tree/azure-pipelines/v3/plugins/pizzafactory/vscode-libra-move). It contains [the VSIX package from  SDKBox](http

[2019-10-03 00:44] sparkoo commented on #13945
After yesterday's meeting, we're basically back at the beginning.

#### Devfile
[code]

#### Logic
At workspace start-up time:

 * Get previewUrl.port and scan through existing services to find matching port
   * If service found, find ingress/route to that service
      * If ingress/route found, use it’s host + previewUrl.path to compose preview url
      * If not found, create ingress/route and

[2019-10-03 03:58] gorkem opened #14752 "Follow labeling recommendations on workspace resources"
### Is your enhancement related to a problem? Please describe.
When a workspace is created it should use the recommended label and annotation conventions so that other tools can integrate with it

### Describe the solution you'd like

Created workspaces uses the [recommendations](https://github.com/gorkem/app-labels/blob/master/labels-annotation-for-openshift.adoc)  so that tools such as Openshift

[2019-10-03 04:10] peidong-hu commented on #14729
I am using this nginex controller, quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.9.0-beta.15

[2019-10-03 06:06] l0rd commented on #13945
@sparkoo 👍 we will need to think about the integration with the port plugin. But as discussed yesterded this should be considered as a second step.

[2019-10-03 06:13] l0rd commented on #14696
@sleshchenko yes that's next step. But we do not have to do changes in code. It's just paperwork now.

[2019-10-03 06:33] artaleks9 commented on #14711
It was created new GitHub test account and registered needed OAuth applications. New Client/Secret IDs were added to the qa-slaves on the https://ci.codenvycorp.com/view/qa-nightly/.
Now it works as expected.

[2019-10-03 06:33] #14711 closed

[2019-10-03 06:47] #14161 closed

[2019-10-03 06:50] skabashnyuk opened #14753 "Due to che-lib deprecation adjust CI/CD configuration"
### Is your task related to a problem? Please describe.
After merging https://github.com/eclipse/che/issues/14161 we need
to make sure we are not doing the useless job by building and releasing unused https://github.com/eclipse/che-lib

### Describe the solution you'd like
che-lib are not used in CI/CD

### Describe alternatives you've considered
n/a

### Additional context
https://github.com/ecli

[2019-10-03 06:50] skabashnyuk commented on #14753
CC @nickboldt @vparfonov @ibuziuk @rhopp @dmytro-ndp

[2019-10-03 07:11] #14000 closed

[2019-10-03 07:25] skabashnyuk commented on #14729
@peidong-hu can you please update issue description according to the bug report template

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minik

[2019-10-03 07:49] azatsarynnyy commented on #14748
probably yes

[2019-10-03 08:16] sunix commented on #13671
@mmorhun
https://briancoyner.github.io/2013/06/05/git-sparse-checkout.html

it is just not to confuse users with another name.

[2019-10-03 08:16] tsmaeder commented on #14741
But aren't users of the plugin getting an image that was built when the debugger _did_ support that version? Not saying we shouldn't fix the dockerfile, but I don't think this problem should surface to the user, so for me P2, no P1.

[2019-10-03 08:20] benoitf opened #14754 "Unexpected filtering in plugins view in Che-Theia"
### Describe the bug
Enter some text in filter view. It will display all extensions whatever you enter (if not `@installed` or `@builtin`

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
![plugins](https://user-images.githubusercontent.com/436777/66110478-272ca280-e5c7-11e9-9d41-6acfcfd7ef2c.gif)

### Expected behavior
if it's not a matching filte

[2019-10-03 08:22] davidwindell commented on #14729
@peidong-hu Che 7.1 and above only supports Nginx ingress 0.22+

[2019-10-03 08:22] benoitf opened #14755 "Outdated typescript types of @eclipse-che/api"
### Describe the bug
The latest publication date is 5 months old with 7.0.0-beta-4.0
https://www.npmjs.com/package/@eclipse-che/api

Che-theia is using this API so it may lead to errors in they were changed in the API model.

### Expected behavior
At each Eclipse Che release, it should be published.

[2019-10-03 08:24] benoitf opened #14756 "Impossible to build @eclipse-che/api"
### Describe the bug
build script in https://github.com/eclipse/che/tree/master/typescript-dto is failing

dto-maven.xml is referencing project API which has been removed

### Che version
 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
run build.sh, the generated file is corrupted (error message)

### Expected behavior
`d.ts` file is correctly generated

[2019-10-03 08:39] musienko-maxim opened #14758 "Implement load scenario"
According to [RedHat initiative](https://mojo.redhat.com/groups/products-and-technologies/projects/data-driven-release-initiative) for  understanding, target, and achieve higher quality in software product releases we should implement most parts for DDR:
* Product Quality Index (PQI)
* Cost of Support (CoS)
* Customer Impact Reported
* Docs Done
Definition of done: after studding DDR initiative pr

[2019-10-03 08:43] sunix commented on #14386
@olexii4 i would keep it simple and add the jekyll config for embedded doc

[2019-10-03 08:50] ankkumar-progress commented on #12966
I think we can close the issue.
I am no more working on the story related to this issue
Sorry for that

[2019-10-03 08:50] benoitf opened #14759 "Consume VS Code built-in extensions in Che-Theia"
### Is your enhancement related to a problem? Please describe.
VS Code has builtin extensions https://github.com/microsoft/vscode/tree/master/extensions

Lot of them are grammars.
We should rely on these extensions instead of https://github.com/eclipse-theia/theia/tree/master/packages/textmate-grammars

For example there is no syntax highlight when editing Dockerfile
![image](https://user-images.g

[2019-10-03 08:59] slemeur commented on #14612
Linking to downstream issue: https://issues.jboss.org/browse/CRW-228

[2019-10-03 09:01] l0rd commented on #14749
@amisevsk are you able work on this (without compromising the other tasks for this sprint)?

[2019-10-03 09:01] #14758 closed

[2019-10-03 09:03] tsmaeder opened #14760 "Misleading Error Message on chectl server:start"
I get an error message when doing anything with chectl server:xxx

✖ Verify Kubernetes API
    → Failed to connect to Kubernetes API. [object Object]
    👀  Looking for an already existing Che instance
 ›   Error: Failed to connect to Kubernetes API. [object Object]

I am logged in as "developer" into my minishift.

[2019-10-03 09:05] AndrienkoAleksandr commented on #14741
@tsmaeder no, we build all images every day. @evidolob Am I right?

[2019-10-03 09:05] tsmaeder commented on #14760
```oc login -u system:admin``` fixes the problem.

It's nigh impossible to understand the problem from the error message.

[2019-10-03 09:12] tsmaeder commented on #14665
Closing as duplicate of #14665

[2019-10-03 09:16] tsmaeder opened #14761 "Chectl doc does not mention user priviledge requirements"
The documentation at https://github.com/che-incubator/chectl/blob/master/README.md does not mention that the user needs to be logged into minishift, for example and that the user needs to have cluster admin priviledges.

[2019-10-03 09:16] tsmaeder commented on #14760
Closing as duplicate of #14665

[2019-10-03 09:17] #14760 closed

[2019-10-03 09:33] tsmaeder opened #14762 "Failure to Start Workspace after Changing Name"
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create a new workspace, but select "create and continue editing"
2. Change the name field of the workspace in the "devfile" tab
3. Press the "open" button on the top right of the screen
4. Observe: you get an error message saying "Workspace doesn't exist, unable to open IDE." Also, the name of the

[2019-10-03 09:44] musienko-maxim commented on #13691
After implementing steps for adding authorization token (it activates Github PR plugin). i've got unexpected problem for the test: for creating PR we need obtain repo with ssh link. Currently - it just one way for creating PR's with PullReq. plugin. In this case -  we should have ssh keys in the workspace. If we try to clone the project with ssh link which in the dev file - we won't get cloned pro

[2019-10-03 10:32] olexii4 commented on #14726
@mmorhun, I have the same issue on minikube on single-user CHE.
I tried to clean cookies and local cache - didn't help.

[2019-10-03 10:49] bmicklea commented on #14614
When we say "local" Che are we thinking of someone running it on their laptop? If so that's not a scenario we ever talk about with prospects and customers - we always suggest running Che on a shared dev cluster. I don't think we should be optimizing defaults for a laptop, although documenting what we'd suggest when running on a laptop would be fine.

Similarly we do often talk to people about the

[2019-10-03 11:01] olexii4 opened #14763 "Branding JSON for UD includes old CHE-6 links"
### Describe the bug

Branding JSON for UD includes old CHE-6 links.

We have the next links in our [product.json](https://raw.githubusercontent.com/eclipse/che/master/dashboard/src/assets/branding/product.json) file:
[code]
If we try those links, we will see the next **che-6** redirections:
 "/docs/organizations.html" -> "/che/docs/che-6/organizations.html"
 "/docs/factories-getting-started.html"

[2019-10-03 11:10] l0rd commented on #14614
@bmicklea the goal of this issue is make the default config optimized for the cloud, not for the laptop.

For the number of concurrent workspaces I think we should be conservative. Given the amount of resources needed to start a workspace, when a user try to start a second one without stopping the first it usually fail. I am talking about real world OpenShift cluster where every user has limited r

[2019-10-03 11:14] bmicklea commented on #14614
Makes sense. From the thread it was unclear if we were talking about a laptop. Thanks for clarifying.

[2019-10-03 11:22] zeibura opened #14764 "[Doc] Add Apache license to Che4z documentation"
The Apache 2.0 license needs to be added to the TPSRs for the Che4z documentation.

[2019-10-03 11:23] olexii4 commented on #14763
@slemeur WDYT?

[2019-10-03 11:24] davidwindell commented on #14729
See #14593

[2019-10-03 12:00] tsmaeder commented on #14741
I would expect us to rebuild nightly or next, but not versioned (aka released) images.

[2019-10-03 13:05] RomanNikitenko commented on #14092
I can reproduce it again for `che-theia` commit reference: https://youtu.be/u3ZM5biGC_M

@mmorhun  could you take a look?

[2019-10-03 13:48] tsmaeder commented on #14764
What is a TPSR? What is Che4z?

[2019-10-03 13:50] azatsarynnyy commented on #14287
The latest version of OpenShift Connector VS Code extension [requires](https://github.com/redhat-developer/vscode-openshift-tools/blob/v0.1.0/src/tools.json#L38) oc version >= 3.11.0 and < 4.0.0.
With oc > 4.0.0  extension proposes to downgrade it
![os-oc](https://user-images.githubusercontent.com/1636395/66132352-97561b00-e5fd-11e9-83ac-9e4e89c2fbb3.png)

So, I'll keep oc v3.11.0
See https://gith

[2019-10-03 13:55] slemeur commented on #8267
closing as out of date epic

[2019-10-03 13:55] #8267 closed

[2019-10-03 13:57] slemeur commented on #6366
closing as out of date epic

[2019-10-03 13:57] #6366 closed

[2019-10-03 13:59] peidong-hu commented on #14729
Thanks. It seems that I have a problem with nginx since I am using external DNS module in my Bare metal k8s, it supports only nginx 0.9.

Can I use traefik 1.7 with Che?

[2019-10-03 14:04] #11650 closed

[2019-10-03 14:11] tsmaeder commented on #14755
Yes, but I doubt we have external customers. Internally, we consume it directly, right?

[2019-10-03 14:12] tsmaeder commented on #14755
Assigning to ide team. Please forward if not correct.

[2019-10-03 14:14] mmorhun opened #14766 "Allow endpoints section for VSCode extension sidecars in plugin meta.yaml"
### Is your enhancement related to a problem? Please describe.
As for now we do not allow for Che plugins of VSCode extension (Che Theia plugin) type to have endpoints. But sometimes VSCode extension might have additional service which should be accessible from outside of workspace. To handle such situations I suggest to remove this artificial limitation.

### Describe the solution you'd like
Allo

[2019-10-03 14:16] mmorhun commented on #14766
My own example: I've written Che plugin which has its backend in sidecar container and exposes some service to end user. The plugin also has UI which is implemented as Che Theia plugin. But there is no way to bring such a plugin into Che. From one side it is denied for VSCode extension (or Che Theia plugin) to bring two sidecars, from the other one (if put the service and UI into the same containe

[2019-10-03 14:16] azatsarynnyy commented on #11488
Closing it since OpenShift Connector Che Plugin is added to the plugin registry https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/redhat/vscode-openshift-connector

[2019-10-03 14:16] #11488 closed

[2019-10-03 14:19] AndrienkoAleksandr commented on #14766
+1 to remote limitation:

https://github.com/eclipse/che-plugin-broker/blob/master/brokers/unified/broker.go#L253

[2019-10-03 14:22] tsmaeder commented on #14759
Not sure what the current story is with theia and vscode built-ins. We would have to find out how to consume those.

[2019-10-03 14:24] tsmaeder commented on #14761
Improving failure diagnostics is a big ticket item and doc is part of it.

[2019-10-03 14:29] benoitf commented on #14759
Theia example assemblies should also move to vscode built-ins https://github.com/eclipse-theia/theia/issues/6260 (discussed on dev meetings) to be aligned with VS Code.
I don't know if it is answering `the current story` ?

[2019-10-03 14:29] tsmaeder commented on #14763
P2 because this seems a low hanging fruit and it's a "doh!".

[2019-10-03 14:50] #14392 closed

[2019-10-03 14:58] #14697 closed

[2019-10-03 15:39] davidwindell commented on #14729
You can use earlier versions, see instructions in the linked issue above

[2019-10-03 15:52] nickboldt commented on #14696
Paperwork that blocks doing a release of an Eclipse.org project, if you want to be technical. :)

If you're an Eclipse.org project, and your CQs are not all submitted and approved, you won't pass the release review.

And you might jeopardize the ability to use that code in a downstream product... even if the license terms are all happy ASL/MIT/EPL stuff.

[2019-10-03 16:05] amisevsk commented on #14749
@l0rd PR open: https://github.com/eclipse/che/pull/14768

[2019-10-03 17:29] amisevsk commented on #12966
No worries, thanks.

[2019-10-03 17:29] #12966 closed

[2019-10-03 17:30] amisevsk commented on #12915
Reopening because I forgot to remove `lifecycle/stale`.

[2019-10-03 17:30] amisevsk commented on #12915
/remove-lifecycle stale

[2019-10-03 17:35] amisevsk commented on #14502
Is there any verdict on this issue? Can we support `png` icons?

[2019-10-03 19:26] nickboldt commented on #14696
Reopening. Added second part of this requirement to the title:

"... & verify all deps have matching CQs in Eclipse IPzilla"

[2019-10-03 19:54] max-allan-surevine commented on #14113
@nickboldt FYI working from your original Dockerfile at the top, I was unable to download the jq package from the epel7 repo. Errors about unsupported protocol.
`Curl error (35): SSL connect error for https://anorien.csc.warwick.ac.uk/mirrors/epel/7/x86_64/repodata/repomd.xml [error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol]`

You may want to add  something like :
`RUN e

[2019-10-03 21:50] benoitf commented on #14696
I wouldn't hijack this issue. It's done. Another one for CQ should be opened

[2019-10-03 22:07] peidong-hu commented on #14729
It works much better, after I set those two env vars for ingress version lower than 0.22 in che deployment,

But I still receive one error in developer tool,

[2019-10-03 22:34] l0rd commented on #12914
We should put it into a backlog during priotization

[2019-10-04 02:45] monaka commented on #13746
It should be fixed by https://github.com/eclipse/che-theia/pull/298 . I close this.

[2019-10-04 02:45] #13746 closed

[2019-10-04 02:56] monaka commented on #13748
I believe this issue was remission by https://github.com/eclipse/che-theia/pull/312 . I close this.

[2019-10-04 02:56] #13748 closed

[2019-10-04 02:58] #13147 closed

[2019-10-04 04:22] nickboldt commented on #13765
I've got a working build of theia-dev in Brew, pushed to Quay.
* Sync/trigger job: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/crw-theia-dev_sync-github-to-pkgs.devel/configure
* Latest tags: https://quay.io/repository/crw/theia-dev-rhel8?tab=tags

[2019-10-04 05:53] SriKrishnaPaparaju opened #14769 "Install Che 7 operator on OpenShift cluster"
### Describe the bug

Either for 4.1 / 4.2 (kubeadmin login) , I have followed instructions (total of 3) under 'Install button' at https://operatorhub.io/operator/eclipse-che , could not see the operator / any resources show up under the namespace 'my-eclipse-che'. Anything I am missing ?

### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other: Che 7.2 thru operator at https://operatorhub.io/o