[2020-02-20 09:29] benoitf commented on #16042
For the POC, I would say it would be a success if it works. About performance it may be poor on recovery at first with ideas to improve it (like using zip/ another approach like git where you transfer binary but still unpack files at the end), parallel mode, etc). It's still better than pure ephemeral and it can be opted-in per workspace so it will not directly impact all workspaces.

Yes, che.ope

[2020-02-20 09:45] dmytro-ndp opened #16090 "Use 80.0 Chrome driver in typescript selenium tests"
### Is your enhancement related to a problem? Please describe.
We are running E2E typescript selenium tests (Happy path tests, devfile tests) locally using [outdated chrome driver of 76.0.0 version](https://github.com/eclipse/che/blob/c37275677c29b8022d108157b9daf174742d6552/tests/e2e/package-lock.json#L328).
At the same time chromedriver is latest when we run E2E tests in docker container of quay

[2020-02-20 09:54] SkorikSergey opened #16091 "[Centos CI] Comment selenium tests results to pull request"
### Describe the solution you'd like
We need to add selenium tests results to pull requests using comment like this:
![Selection_088](https://user-images.githubusercontent.com/7760565/74921788-ed720200-53d6-11ea-89ad-59ac2f636551.png)

[2020-02-20 10:09] ibuziuk commented on #15219
@rkratky could you please take care about the redirect from https://www.eclipse.org/che/docs/quick-start.html ?

[2020-02-20 10:47] vparfonov commented on #16042
Try to rephrase my question. We talk only about syncing `/projects` folder? What about Maven repository or npm deps?

[2020-02-20 11:07] azatsarynnyy commented on #16054
All is done!

[2020-02-20 11:07] #16054 closed

[2020-02-20 11:09] azatsarynnyy commented on #15571
We're done with che-theia build PR check

[2020-02-20 11:10] dmytro-ndp opened #16092 "Vert.x devfile E2E tests failed being run against Eclipse Che 7.9.0.RC"
### Describe the bug
Vert.x devfile E2E tests failed on Eclipse Che 7.9.0.RC:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/960/artifact/tests/e2e/report/
[code]
Che logs: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/960/artifact/logs-and-configs/ch

[2020-02-20 11:16] Katka92 commented on #16092
@dmytro-ndp The build test failed as a result of failed `error highlighting` test - the erroneous text remained in a file, so the code was not able to build.

[2020-02-20 11:33] benoitf commented on #16042
yes it's about /projects folder but npm dependencies are stored in `node_modules` folder of the project (so part of /projects data)
so let say you clone and build theia or che-theia, your /projects folder can reach easily this kind of space.

[2020-02-20 11:46] skabashnyuk commented on #16042
@benoitf what are we going to do with maven/gradle based projects?

[2020-02-20 11:49] benoitf commented on #16042
@skabashnyuk I mean it's like today, it's already storing `/projects` and you can mount extra volume for `.m2` dependencies
Are you talking about produced artifacts (`target` folder for example ? ) in `/projects` ?

[2020-02-20 11:55] skabashnyuk commented on #16042
I'm talking about ```.m2``` and @vparfonov's question `Try to rephrase my question. We talk only about syncing /projects folder? What about Maven repository or npm deps?`

So we talking about all volumes or only about the one with `/projects`?

[2020-02-20 12:11] vitaliy-guliy commented on #15999
@tsmaeder in both variants the editor displays wrong content. After saving the devfile you will not be able to run the command.

[2020-02-20 12:16] rhopp opened #16093 "PR check jobs should report URL with artifacts back to the PR."
### Is your task related to a problem? Please describe.
Searching for artifacts (test results, che-server logs, etc.) is not very easy.

### Describe the solution you'd like
* When the tests succeed, link to the image can be written into the PR comment
* When the tests fail, link to the image and link to  artifacts should be written into the PR comment

[2020-02-20 12:20] ibuziuk commented on #15219
Fixed https://github.com/eclipse/che-docs/pull/1091
Closing

[2020-02-20 12:20] #15219 closed

[2020-02-20 12:35] rhopp commented on #15701
Done by this: https://github.com/eclipse/che/pull/16039

[2020-02-20 12:35] #15701 closed

[2020-02-20 12:35] rhopp commented on #15517
Last PR merged: https://github.com/eclipse/che/pull/16039

[2020-02-20 12:35] #15517 closed

[2020-02-20 12:46] Katka92 opened #16094 "PoC adopt page object from the vscode-extension-tester"
### Is your task related to a problem? Please describe.
Create a PoC about using page objects from the vscode-extension-tester. This framework is split into two parts in this branch [1] and we are trying to reuse the `page-objects` part.
This approach should give us many advantages:
 - all page objects & logic around them is already implemented there, so we can just reuse them
 - for a new version

[2020-02-20 12:47] flacatus commented on #16077
@rhopp assign me this issue !

[2020-02-20 13:01] rhopp commented on #14069
We are now officially not using this anymore! Woohooo!

[2020-02-20 13:01] #14069 closed

[2020-02-20 13:04] rhopp commented on #16075
Done. Closing.

[2020-02-20 13:04] #16075 closed

[2020-02-20 13:07] benoitf commented on #16094
hi, does it work well in Che or there are some missing APIs ?

[2020-02-20 13:29] benoitf commented on #16042
@skabashnyuk ok got it 👍

I think POC should check first one volume (`/projects`) but still keeping in mind multiple volumes and later provide multiple volumes as well.

Even if you loose `.m2` your `own` data are almost safe, it's an optimization (step2 . to avoid to download again the artifacts) while if you loose your changes on `/projects` it's more dramatic.

[2020-02-20 13:33] #13580 closed

[2020-02-20 13:34] benoitf commented on #16042
but can't do it on Hosted Che looks like not enough disk space to build user dashboard.

@vparfonov I think you can go without dashboard (pure maven project) or with only dashboard (npm project) (as dashboard will live in its own repository soon)

[2020-02-20 13:39] rhopp commented on #16094
I'm not sure what are you asking about. vscode extension tester is for UI-testing. It's using selenium under the hood, so this is basically just about reusing the Page object model from there.

The page object models are roughly the same, just the locators for the elements are different... vscode extension tester has api for overriding these locators, so we believe we can reuse this for UI testing

[2020-02-20 13:46] benoitf commented on #16094
hello, I was referencing the vscode extension part. if it calls some recents VS Code API stuff or not and if some are missing, let editor team implement it.

[2020-02-20 13:47] benoitf commented on #16094
VS Code API was usage of https://github.com/microsoft/vscode/blob/master/src/vs/vscode.d.ts for me (as we're implementing that in Theia (and Che-Theia))

[2020-02-20 13:47] rhopp commented on #16094
We will just use the pageobject model part... We will not invoke any vscode API.

[2020-02-20 13:50] benoitf commented on #16094
I think I've understood my error and why you're not understanding my questions :-)
`vscode-extension-tester` even if it starts by `vscode-extension` is not a VS Code extension at all !

[2020-02-20 13:51] benoitf commented on #16094
I thought it was an alternative to https://github.com/microsoft/vscode/tree/master/extensions/vscode-api-tests

[2020-02-20 14:00] svor commented on #16051
PR is here https://github.com/eclipse/che-plugin-registry/pull/387

[2020-02-20 14:22] sunix commented on #14680
We should try to do something similar to https://docs.openshift.com/container-platform/4.3/builds/creating-build-inputs.html#builds-adding-input-secrets-configmaps_creating-build-inputs

[2020-02-20 14:26] azatsarynnyy commented on #16068
Hello @anselmov
what the version of `eclipse/che-plugin-registry` image you're using?

Most likely `eclipse/che-theia:next` isn't compartible with you version of `eclipse/che-plugin-registry`.
It's better to use both `next` images.

[2020-02-20 14:46] sunix commented on #15518
I couldn't access to the doc,
as mentionned in https://github.com/eclipse/che/issues/14680#issuecomment-589075364

[2020-02-20 14:52] vzhukovskii commented on #16070
I think, there isn't any problem to migrate to eslint and configure such checks.

[2020-02-20 16:47] sonntag-dev opened #16096 "Get the server URL directly from an environment variable"
### Is your enhancement related to a problem? Please describe.
#15897

### Describe the solution you'd like
Get the server URLs directly from an environment variable as JSON string.
In this case you can use a command-line JSON processor to get a specific server URL.
A better solution would be to get each server URL from a different environment variable, if this is possible.

### Describe alternati

[2020-02-20 16:54] sonntag-dev commented on #15897
Hi @sleshchenko. Thank you for your answer. I created a feature request #16096 for this issue.

[2020-02-20 16:54] #15897 closed

[2020-02-20 16:55] skabashnyuk commented on #14069
![4860186](https://user-images.githubusercontent.com/1614429/74959055-37c0a680-540a-11ea-9dbf-dcb2f6b580e9.jpg)

[2020-02-20 18:07] jagraj commented on #15908
This issue has been fixed with latest chectl release and worked fine in couple of my clusters.  Thanks for the fix.

[2020-02-20 18:54] davidwindell commented on #15652
I don't have Java skills to contribute a patch but I like either options as long as it's possible to add an additional volume (beyond the WS project volume - we don't want to share that).

[2020-02-20 19:23] ericwill commented on #15693
So to re-iterate for my understanding: plugins are deprecated when a new version of the plugin is added to the registry (and this version becomes the "latest).

When do we remove plugins? Is it based on time, how many more "newer" versions there are, or something else?

[2020-02-20 21:15] dmytro-ndp commented on #16092
It turned out, that there was outdated **eclipse/che-server:rc** image used for testing.
The issue hasn't been reproduced with **quay.io/eclipse/che-server:rc** image: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/963/artifact/tests/e2e/report/

[2020-02-20 21:15] #16092 closed

[2020-02-20 21:56] nickboldt commented on #16051
PR merged.

[2020-02-20 22:31] nickboldt commented on #16053
I thought this was a known not-to-be-fixed issue in 7.9.0, but the thing that caused it will be reverted in master branch so it's not broken there.

See https://github.com/eclipse/che/issues/15651 and https://issues.redhat.com/browse/CRW-587?focusedCommentId=13975218&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13975218

[2020-02-20 22:57] nickboldt commented on #16051
Followup PR for quarkus jdk 8 also merged:

https://github.com/eclipse/che-plugin-registry/pull/388

Next up, I'll delete the existing plugin registry 7.9.0 release and redo it:

...

https://github.com/eclipse/che-plugin-registry/commits/7.9.0 fixed
https://github.com/eclipse/che-plugin-registry/commits/release fixed
https://github.com/eclipse/che-plugin-registry/commits/7.9.x fixed
https://quay.

[2020-02-20 22:58] nickboldt commented on #16051
Note to future hackers... the make-release.sh script does NOT work for doing re-releases. It crapped the bed and ended up pushing master branch to release branch instead. Since re-releases SHOULD be rare, I'm not going to implement the above re-release flow just yet.

[2020-02-20 23:18] nickboldt commented on #16008
Che 7.9.0 plugin registry re-released.

[2020-02-21 07:35] skabashnyuk commented on #16053
@nickboldt you are right. Is there anything wrong?

[2020-02-21 09:15] gorshkov-leonid opened #16097 "[che-operator] A little mistake in 'oc create secret command'"
Fix a little mistake in eclipse/che-operator:
[code]
should be
[code]

[2020-02-21 09:16] ScrewTSW commented on #16090
I would switch it over to the latest stable version. I wouldn't go straight for the `80.0.1`

[2020-02-21 10:06] vitaliy-guliy opened #16098 "Chectl cannot inject config to running workspace ( che deployed by operator )"
### Describe the bug

Chectl does not inject config file to the workspace running in Che deployed by operator.

[code]

Commands used to deploy Che
[code]

After opening kubernetes dashboard, I noticed that there are two `che` and `che-che` namespaces, which is confusing. Why do we need `che-che`?

![Screenshot from 2020-02-21 11-31-18](https://user-images.githubusercontent.com/1655894/75023559-ae

[2020-02-21 10:46] vparfonov commented on #16042
So DoD for POC will be: Same speed as we have now in `Ephemeral Mod` but with restoring changes on source

[2020-02-21 10:51] SkorikSergey opened #16100 "'Your changes will not be saved' alert window when trying to reload a web page"
### Describe the bug
'Your changes will not be saved' alert window when trying to reload web page. The cause of this issue are https://github.com/eclipse/che-theia/pull/634 changes

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start workspace from any devfile.
2. Try to reload web page.

### Expected behavior
The page was reloaded

### Runti

[2020-02-21 13:11] Ohrimenko1988 commented on #16090
@ScrewTSW Could you clarify what do you mean? Use something like "stable" or "latest" version instead of using a direct version?

[2020-02-21 13:19] dmytro-ndp commented on #16051
@tsmaeder, @svor: an issue is still actual
- for quay.io/eclipse/che-plugin-registry:7.9.0 ([test results](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/966/artifact/tests/e2e/report/));
- for quay.io/eclipse/che-plugin-registry:nightly ([test results](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job

[2020-02-21 13:45] anselmov commented on #16068
Hi @azatsarynnyy

So I upgraded from `eclipse/che-plugin-registry:latest` (7.8.0) to `eclipse/che-plugin-registry:next` and I still get the same errors.

Should https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/eclipse/che-theia/next/meta.yaml provide env value CHE_WORKSPACE_TELEMETRY_BACKEND_PORT ?

[2020-02-21 14:20] nickboldt opened #16101 "Add new image to Che release process: endpoint-watcher"
Source repo for container:

https://github.com/eclipse/che/tree/master/dockerfiles/endpoint-watcher

New quay builds:

https://quay.io/repository/eclipse/che-endpoint-watcher?tab=tags

Files to update:

https://raw.githubusercontent.com/eclipse/che/master/RELEASE.md

Need a new make-release.sh and RELEASE.md for this container, too.

[2020-02-21 14:23] nickboldt commented on #16051
another PR fix:

https://github.com/eclipse/che-plugin-registry/pull/390 (merged)

Will respin 7.9.0 plugin reg again now.

[2020-02-21 14:28] nickboldt commented on #16051
https://ci.centos.org/job/devtools-che-plugin-registry-release/27/ spinning to rebuild after above PR merged.

[2020-02-21 14:37] nickboldt commented on #16051
new build https://quay.io/repository/eclipse/che-plugin-registry?tag=a0ce318&tab=tags

[2020-02-21 14:44] nickboldt opened #16102 "Ensure plugin registry name field in meta.yaml matches folder path (generate code / check validity when building)"
### Is your enhancement related to a problem? Please describe.

Problem: it's possible to put the wrong name field in a plugin's meta.yaml, resulting in strange behaviour.

Fix:

https://github.com/eclipse/che-plugin-registry/pull/390
https://github.com/eclipse/che-plugin-registry/pull/391

### Describe the solution you'd like

When plugin registry is building, a check should be done that the path

[2020-02-21 14:56] filipkroupa opened #16103 "Redirects in Che plugin registry not covered by Access-Control-Allow-Origin header"
### Describe the bug
Che plugin registry configuration provides some redirections, eg.
`http://<plugin-registry-che>/plugins/` redirects to `http://<plugin-registry-che>/v3/plugins/`

Using the redirect address would result in CORS violation

Reason is that the redirect address response does not have the _Access-Control-Allow-Origin_ header.

HTTP/1.1 302 Found
Server: openresty/1.15.8.2
Date: Fri

[2020-02-21 15:01] rhopp commented on #16100
@SkorikSergey This is not a bug and the tests needs to be adapted, right?

[2020-02-21 15:11] vzhukovskii commented on #16100
@rhopp yes, seems, that tests have to be aligned to the new behavior.

[2020-02-21 15:14] vzhukovskii commented on #16100
@SkorikSergey another question, what other tests do you have, that fail and where do they exist?

As far as I saw, Happy Path scenario passed successfully:

<img width="815" alt="Configure application confirmExit to always as default by vzhukovskii · Pull Request #634 · eclipse:che-theia 2020-02-21 17-12-44" src="https://user-images.githubusercontent.com/1968177/75046345-91d67000-54cd-11ea-8e2c-40

[2020-02-21 15:16] SkorikSergey commented on #16100
HappyPath doesn't reload page.

[2020-02-21 15:17] rhopp commented on #16100
@vzhukovskii This failure is happenig in the legacy java-selenium suite.
We still have some tests there... They run as PR check on eclipse/che repo and right now, they are kind of "hidden" - We have a task in the current sprint to improve the reporting from this job.

[2020-02-21 15:22] SkorikSergey commented on #16100
This issue (https://github.com/eclipse/che/issues/13580) is about closing only terminal tab not browser tab. For now if type Ctrl + w in terminal and click `Leave` button browser tab will be closed.

[2020-02-21 15:27] shahidhs-ibm opened #16104 "License info for che-operator and che-jwtproxy code repositories"
## Summary
There is no License file present for [che-operator](https://github.com/eclipse/che-operator) and [che-jwtproxy](https://github.com/eclipse/che-jwtproxy) code repositories. This is not consistent across other eclipse/che code repositories which have License file present. For e.g. [che-plugin-broker](https://github.com/eclipse/che-plugin-broker), [che-devfile-registry](https://github.com/

[2020-02-21 15:28] vzhukovskii commented on #16100
Theia handles `Cmd/Ctrl+W` only for tab close, we can't modify this behavior for handling only some part, e.g. terminal tab, or editor tab. We just can intercept this hotkey and prevent browser tab closing.  (As this hotkey is reserved in browsers). So that's why there was added overridden configuration item to preferences that asks user whether he wants to close tab or not.

[2020-02-21 15:31] ibuziuk opened #16105 "[telemetry] Track a list of plugins installed in the workspace"
### Is your task related to a problem? Please describe.
We would like to understand which plugins are most used by developers and have the possibility to track a list of plugins installed in each workspace.

### Describe the solution you'd like
Send a list of plugins with telemetry events during workspace startup

[2020-02-21 15:49] RomanNikitenko commented on #16028
I faced with the same issue: I select `next` version of `theia-ide` editor on `che.openshift.io`, but it looks like not working at all:
- tasks are absent
- the `Workspace` panel is empty
- language support for typescript is absent

[2020-02-21 16:13] dmytro-ndp commented on #16051
Java Maven devfie tests have been fixed: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/972/console

[2020-02-21 16:35] #16051 closed

[2020-02-21 17:20] ibuziuk commented on #14240
PR sent - https://github.com/eclipse/che-docs/pull/1094

[2020-02-21 21:11] johnmcollier commented on #15924
Hi, any updates on this issue?

[2020-02-21 21:44] nickboldt commented on #15324
This is a blocker for CodeReady Workspaces 2.1 and a regression over 2.0.

Please escalate this so we can get it into 7.9.1, as this is a terrible OOTB visual experience.

Alternatively, please provide a way to suppress the icon entirely as it's really not that meaningful or needed.

BTW I thought 7.9.0 was supposed to be about hardening and UX fixes. How did this obvious UX problem fall through t

[2020-02-21 23:54] nickboldt opened #16107 "[plugin registry] invalid name field not caught by validation checkers when name is valid (but for a different plugin)"
### Describe the bug

The problem is that `name:java` IS valid but for a different plugin; should have been `name:java8` and `name:java11` ... and no check caught that afaict. or at least nothing in GH complained about the [PR that introduced the 0.57.0](https://github.com/eclipse/che-plugin-registry/pull/387/files) versions of java8 and java11 plugins

So, we need to check that the PATH defined b

[2020-02-21 23:56] nickboldt commented on #16051
followup work https://github.com/eclipse/che/issues/16107

[2020-02-21 23:58] nickboldt commented on #16102
See also https://github.com/eclipse/che/issues/16107 (might be a dupe)

[2020-02-22 14:21] gnoejuan commented on #16048
In case somebody came across this thread from google:

[code]

should actually be:

[code]

Not sure if I would have ran into the `helm` issue, but this fixed a issue where chectl was hanging on

[code]

[2020-02-23 06:28] sergNikitin777 commented on #11817
Такая же проблема

[2020-02-23 14:06] ibuziuk commented on #11817
Safari is currently not supported browser neither for vanilla Eclipse Che nor for Hosted Che (che.openshift.io), please try Chrome or Firefox. This issue has the `open-for-dev` status and contributions from the community are most welcome.

[2020-02-23 17:59] tolusha commented on #16098
Duplicates
https://github.com/eclipse/che/issues/16019

[2020-02-23 17:59] #16098 closed

[2020-02-24 06:33] tolusha commented on #16097
Could you have a look pls
@mmorhun

[2020-02-24 06:40] tolusha commented on #16104
@benoitf
Do you have any ideas?

[2020-02-24 06:45] tolusha commented on #16102
@nickboldt
Is it done since fixes have been merged?

[2020-02-24 07:28] tolusha commented on #15908
@jagraj
It is good to know.  Thank you for the response.

[2020-02-24 07:28] #15908 closed

[2020-02-24 08:23] tsmaeder commented on #16085
@sergiuilie when you say it works in Theia proper, what is the procedure to test that?

[2020-02-24 08:23] sleshchenko commented on #15924
I faced the same error in other case https://github.com/eclipse/che/issues/15888
So, maybe the following PR will fix your issue as well https://github.com/eclipse/che-machine-exec/pull/81.

quay.io/eclipse/che-machine-exec:7.9.0 already contains the fix

[2020-02-24 08:24] Ohrimenko1988 commented on #16090
@ScrewTSW Could you answer, please?

[2020-02-24 08:25] sleshchenko commented on #15924
<details>
<summary>Devfile to check</summary>

[code]

</details>

[2020-02-24 08:40] sergiuilie commented on #16085
I build and run Theia browser example, in the plugins folder I attached our extension .vsix and I repeated the steps described above, open a document that doesn't stay on `/projects` directory but one level up.

[2020-02-24 08:50] ibuziuk commented on #16097
@gorshkov-leonid thanks for reporting, not sure what the issue is, but maybe you can sent a PR with a fix to continue the discussion closer to the source-code?

[2020-02-24 08:51] ibuziuk commented on #16104
nice catch, I believe we need to add EPL 2.0 license files to the repo

[2020-02-24 08:57] svor commented on #15510
The document with AirGap solution is here: https://docs.google.com/document/d/1t34uXwIfbRn1u6aDidj2iFRzxXtwdWORRyEWeYotVFE/edit?usp=sharing

[2020-02-24 09:11] tsmaeder commented on #16085
Do you "Open folder" and chose the "/projects" folder? One notable difference we have with vanilla Theia is that we have a fixed workspace root. How exactly do you open the file outside "/projects"? File->Open File menu?

[2020-02-24 09:14] ibuziuk commented on #16104
PRs have been sent:
- https://github.com/eclipse/che-jwtproxy/pull/17
- https://github.com/eclipse/che-operator/pull/178

[2020-02-24 09:24] sergiuilie commented on #16085
Not exactly, one of our extension which is available on marketplace [Code4Z](https://marketplace.visualstudio.com/items?itemName=broadcomMFD.code4z-extension-pack) contains an application called Zowe which pulls a file from mainframe and save it under temporary folder which is one level above `/projects`, this is how we test it if you would like to have a demo about this than we may have a call.

[2020-02-24 09:27] mshaposhnik opened #16109 "Devfile not found when factory constructed with .git suffix"
### Describe the bug

When factory url is constructed with `.git` suffix, e.g. `https://che.openshift.io/f?url=https://github.com/jchraibi/nodejs-ex.git&policies.create=peruser`  there is 2 problems appears:

1) Devfile is not found by che server, despite the fact it is present in repo;
2) As a consequence of 1),  default project source is constructed and has double suffix `.git.git`

### Che vers

[2020-02-24 09:55] tsmaeder commented on #16085
Sure, can you ping me on Eclipse mattermost to set up a meeting? I'm @tsmaeder

[2020-02-24 10:04] mstavares commented on #13367
Hi,
I'm interested on this too. I have the same issue about traefik.

[2020-02-24 10:07] mstavares opened #16110 "Eclipse CHE with Traefik and Single Port"
Hi,

I already have read a lot about this, and I would like to know if this is still not possible on 6.14 version of CHE.
One of the tickets that I have found was this one https://github.com/eclipse/che/issues/13367

I would like to have Eclipse CHE behind of traefik, but in order to do that I need to have single port support and the problem regarding rewriting the URL is messing me.

Thank you.

[2020-02-24 10:09] ScrewTSW commented on #16090
@Ohrimenko1988
We are running CentOS as a base system for our tests, correct?

I believe CentOS has a specific google repository for chrome-stable. We should be running the chromedriver with the same version as well.

Or are our tests running the latest build of google-chrome as well?

[2020-02-24 10:20] ibuziuk commented on #16104
Fixed. Closing

[2020-02-24 10:20] #16104 closed

[2020-02-24 10:48] ChiragDosi opened #16111 "How can i deploy docker image (Python) in Eclipse Che Workspace"
Hello,
I have an Docker image and i want to run it on workspace so can i achieve that ??
I have created the workspace and cloned the repo from terminal to the workspace and now i can see the repo including all the files (Docker file also) but how i can make this docker image run ??

Please let me know if anyone can help please.

Thanks

[2020-02-24 10:52] tsmaeder commented on #15510
I commented on the doc. The general "problem" seems to be that the approach to air-gapping is based on changing files inside the project. Did you investigate an approach that can work for any project you check out? For example, changing ~/.m2/settings.xml overrides repos for all project we checkout into the workspace.

[2020-02-24 11:06] ibuziuk opened #16112 "[Hosted Che] permission denied while creating volume path during workspace startup against 7.9.0-SNAPSHOT version"
# Describe the bug
While testing 7.9.0-SNAPSHOT against dev-cluster the following issue was discovered during any workspace startup:

It looks like it is related to the jwt-proxy changes [1] and inconsistency with VOLUME in the dockerfile - https://github.com/eclipse/che-jwtproxy/blob/master/Dockerfile#L21 (in Che Server code the path was changed from `/config/mykey.pub` to `/che-jwtproxy-config/m

[2020-02-24 11:07] ibuziuk commented on #16112
Setting a blocker label since this issue is a showstopper for 7.9.0 update of Hosted Che - https://github.com/eclipse/che/issues/16080

[2020-02-24 11:37] scela commented on #15324
@nickboldt how exactly is this a blocker? I don't really want to hear people's own opinion and musings but we have an agreement that blocker means 'Causes system to crash and be non-recoverable or prevents Che developers from working on Che code'. If we all start barging in with our ideal 'blocker' definition it will get pretty crowded.

And it didn't fall through any crack - it was just not prior

[2020-02-24 11:58] ScrewTSW opened #16113 "Go devfile LS Not working without updating Go language server plugin to the experimental version."
### Describe the bug
Go devfile is showing notification about updating the version of Go vsix plugin and a warning regarding development tools missing in the path installation.

### Che version
7.9.0-SNAPSHOT
 - [x] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
* Open a Go getting started devfile
* Open any .go script
* Next to the notifications in the bottom bar on a

[2020-02-24 12:13] #15857 closed

[2020-02-24 13:18] tsmaeder commented on #16085
Had that meeting, and it seems the file is being opened automatically after being downloaded. A quick look at some error messages seems to indicate that the being used in the completion request is correct and that the file being opened is present in the container running the language server.
The error ("there are no document for ${resource}" seems to indicate that the plugin has never been informe

[2020-02-24 13:36] Ohrimenko1988 commented on #16090
@ScrewTSW Let me explain. Local run and run inside docker container are different things. Docker launching (uses for CI testing) uses special "e2e" image with all necessary dependencies and based on the latest selenium-chrome image. Inside docker container runs embeded latest selenium server and tests connect to it.
For local run uses npm dependency from "e2e" project.

[2020-02-24 13:39] svor commented on #15510
It is also possible to configure it globally, I've added how to do that here https://docs.google.com/document/d/1t34uXwIfbRn1u6aDidj2iFRzxXtwdWORRyEWeYotVFE/edit#bookmark=id.rsxt9icf51jc

[2020-02-24 13:54] ibuziuk commented on #16112
@metlos works like a charm with `CHE_SERVER_SECURE__EXPOSER_JWTPROXY_IMAGE: quay.io/lkrejci/che-jwtproxy:issue-15651`

[2020-02-24 13:55] ex-q opened #16114 "PHP highlighting broken since 7.9.0"
The PHP highlighting is broken since Che 7.9.0. Switching back che-theia to 7.8.0 in the plugin settings enables it again.

Reason might be that php is missing in that list:
https://github.com/eclipse/che-theia/blob/master/generator/src/templates/theiaPlugins.json

[2020-02-24 14:07] tsmaeder commented on #15723
@maxandersen does gradle project usually just work with "latest" or do the use fixed, older versions? Our current plan is just to replace gradle 5 with gradle 6 in the stack.

[2020-02-24 14:25] nickboldt commented on #15969
Setting milestone = 7.9.0 so it's easier to know WHEN THIS WAS FIXED and therefore in which release I can get it.

Please try to make your issues' milestones match the reality of when they're resolved. It makes downstreaming work much easier

[2020-02-24 14:30] maxandersen commented on #15723
gradle projects will mainly use gradle wrappers and yes they would stick to major even minor versions as there are more agressive deprecations/api differences than i.e. maven does.

[2020-02-24 14:32] ibuziuk commented on #16112
@rhopp @dmytro-ndp there is an assumption that issue might be reproducible with `common` PVC strategy. Are we covering this case? `

`CHE_INFRA_KUBERNETES_PVC_STRATEGY: common`

[2020-02-24 14:41] MichalMaler opened #16115 "Proper labeling - `Che Cluster` should be renamed to `Che instance`"
### Is your enhancement related to a problem? Please describe.
In the Che GUI and documentation, you can find various mentions about the Eclipse Che cluster, which should be renamed to Che instance, since the word cluster doesn't make much sense in those contexts.

Please take a look at those two examples:
1) https://www.eclipse.org/che/docs/pages/che-7/overview/proc_viewing-the-state-of-the-che-c

[2020-02-24 14:53] dmytro-ndp commented on #16112
We are not re-defining default CHE_INFRA_KUBERNETES_PVC_STRATEGY = **common** in time of **Eclipse Che** pre-release:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/basic-MultiUser-Che-check-e2e-tests-against-k8s/972/artifact/logs-and-configs/che-config/configmap.yaml/*view*/:
<details>
 <summary>Che config</summary>
 <pre>
apiVersion: v1
data:
  CHE_API: http://che-che.1

[2020-02-24 14:59] rhopp commented on #16100
IMHO this behavior change is "UX downgrade". In my opinion, the confirmation should appear only when data loss is at place (aka. some editor is not saved).

Anyway... Until this gets sorted, @SkorikSergey we can put back the previous behavior by setting this in user preferences before actually running the test (the same way, that @Ohrimenko1988 is doing this for example for setting the terminal ty

[2020-02-24 15:08] tsmaeder commented on #16115
"Che cluster" would be the cluster Che is running on. That might make sense in some contexts.

[2020-02-24 15:43] johnmcollier commented on #16105
@ibuziuk Just curious, will telemetry just be for workspaces running on che.openshift.io, or all Che installs?

I work on some Che plugins that don't currently run on che.openshift.io, but would still love to get some telemetry for them.

[2020-02-24 16:06] ke-liu commented on #15589
Installed the eclipse Che recently, unfortunately keep losing my workspace every day…
Installed via chectl with docker desktop (latest version 2.2.0.3) on my Mac (with v1.15.5 Kubernetes: tried both minikube and docker-desktop). The eclipse Che installed successful, created workspace with no issue. But each day I log back in my Mac, I lost the URL connection: http://che-che.x.x.x.x.nip.io/ Try to

[2020-02-24 16:23] Mbd06b commented on #13367
@mstavares
I was able to get eclipse che to work with an nginx reverse proxy to a kubernetes(microk8s) install, you might find something that helps you with your traefik case.  I put all my notes on this issue. https://github.com/eclipse/che/issues/14788

[2020-02-24 16:41] JPinkney commented on #15854
From my investigations pinning it to the last commit before the project requires a newer version of PHP doesn't work because symphony will report security errors and refuses to build?/finish correctly.

There is a [PR on che-dockerfiles open](https://github.com/eclipse/che-dockerfiles/pull/252) to update to PHP 7.4 but the user still has to sign the eclipse contributor agreement.

I've built the i

[2020-02-24 16:58] tolusha commented on #16008
`chectl` has been released.

[2020-02-24 17:13] nickboldt commented on #15368
Because of this problem I can't use v0.15.0 using a sha from another branch, nor can I use v0.16.0 because it's not out yet.

[code]

So...  I guess I'll check out code from master, then use the SHA that's hardcoded in che-theia for the 7.9.0 release.

[2020-02-24 17:27] ibuziuk commented on #16109
@l0rd @nickboldt AFAIK, this is a must-have for 7.9.1

[2020-02-24 17:33] ibuziuk commented on #16110
@mstavares hello, FYI che 6 version is out-of-support.
@l0rd @benoitf could you please take a look at this question, I'm not sure if we support Che 7 behind traefik

[2020-02-24 17:44] ibuziuk commented on #16111
@ChiragDosi `docker build` functionality is currently not supported, but we are planning to provide a similar functionality via buildah / podman. @ericwill is it smth. that in the backlog of the plugins team? maybe you can shed some light on this question

[2020-02-24 17:47] ibuziuk commented on #16113
@ScrewTSW how this affects UX with Go, other than warning?

[2020-02-24 17:49] ibuziuk commented on #16115
@MichalMaler will let @davidfestal to comment, but I do not think we can change the name of CR at this point of time

[2020-02-24 18:03] sparkoo opened #16117 "Watch plugin broker logs"
### Is your enhancement related to a problem? Please describe.
To improve troubleshooting of the workspace startup, we should watch plugin broker logs.

### Describe the solution you'd like
As a followup of https://github.com/eclipse/che/issues/15983, we should implement log watching on debug mode also on plugin broker.

### Describe alternatives you've considered
--

### Additional context
https:

[2020-02-24 18:14] sparkoo opened #16119 "[chectl] - offer to run workspace in debug mode"
### Is your enhancement related to a problem? Please describe.
To improve Che workspace diagnostic capabilities, _chectl_ should offer an option to run workspace in debug mode.

### Describe the solution you'd like
Currently command `chectl workspace:start -f devfile.yaml` offers a link to open and run the workspace. Once we implement startup debug mode to watch the startup logs, chectl should pro

[2020-02-24 18:53] ericwill commented on #16111
I believe this is something you would need the Kubernetes plugin for, it supports building/running docker containers. Just FYI, we are currently working on an issue that affects building dockerfiles (#15035).

[2020-02-24 19:03] nickboldt commented on #16045
PRs:

https://github.com/eclipse/che-parent/pull/154
https://github.com/eclipse/che-docs/pull/1087
https://github.com/eclipse/che/pulls/ ?

once those are merged we can update https://github.com/eclipse/che/pull/16037 to add links to those new scripts.

[2020-02-24 21:11] amisevsk opened #16120 "[workspace-operator] `operator-sdk generate openapi` is broken."
### Describe the bug
Something is amiss in the https://github.com/che-incubator/che-workspace-operator repo:

With operator-sdk v0.12.0, `operator-sdk generate openapi` fails:
[code]

The first commit in which this is broken is [`7a3d45c`](https://github.com/che-incubator/che-workspace-operator/commit/7a3d45c9121ba7079fd3d8c8dea19bbc4a8942bc).

[2020-02-24 21:45] nickboldt commented on #16008
how is chectl done but che operator not?

[2020-02-24 21:46] nickboldt commented on #16008
also, where does the che-operator release build run? localhost ? ci-centos?

[2020-02-24 22:29] mstavares commented on #16110
Hi,

Right now I already have access to the eclipse che dashboard. However, I'm not able to start a workspace, keeps blocking on starting status.

[code]

[2020-02-24 22:36] beaumorley commented on #16115
I recently went through the installation of the CodeReady Workspaces operator for the first time. For CodeReady Workspaces, it says "CodeReady Workspaces Cluster". I found this somewhat confusing. I don't think you need the word "Instance" or "Cluster" in the title. Ideally, it would say:

**Eclipse Che**
Eclipse Che instance with DB and Auth Server.
 +Create Instance

I talked to my OpenShift UX

[2020-02-25 00:14] mstavares commented on #13367
Hi @Mbd06b

I'm using eclipse che version 6.14 with docker :(
Seems that I'm no way out of this. Right now I'm able to access to the dashboard, I'm able to create a workspace but I get stuck on starting it.

[2020-02-25 02:38] sergNikitin777 commented on #11817
tried the same problem observed for firefox and chrome

[2020-02-25 03:33] mymynew opened #16121 "Create workspace Error: Failed to run the workspace: "Server 'theia' in container 'theia-idelcn' not available.""
### Describe the bug

Create workspace Error: Failed to run the workspace: "Server 'theia' in container 'theia-idelcn' not available."
Create Java Gradle workspace

### Che version

7.8.0

### Steps to reproduce

1. minikube start --vm-driver=none --kubernetes-version=v1.17.0 --memory=4096
2. set che tls
3. chectl server:start --platform=minikube --multiuser --installer=helm --tls --self-signed-ce

[2020-02-25 06:42] tolusha commented on #16008
`che-operator` has been released as well.
The release process is run on localhost only.

[2020-02-25 07:00] tolusha commented on #16113
It is interesting to check Go LS features if they still work.

[2020-02-25 07:02] tolusha commented on #16120
We use v0.10.0 for `che-operator` why we use a different version for `workspace-operator` ?

[2020-02-25 07:13] #15672 closed

[2020-02-25 07:44] sleshchenko commented on #16120
@tolusha We use the same version as devworkspace-api use https://github.com/che-incubator/devworkspace-api
The most significant change v0.12.0 operator-sdk use go modules by default.
Maybe it's time to move Che Operator to Go modules as well and upgrade OperatorSDK version? )

[2020-02-25 07:51] tolusha commented on #16121
I am wondering about step #2
Could you compare your step with https://github.com/eclipse/che/issues/14035#issuecomment-519890845

[2020-02-25 08:09] tsmaeder commented on #16114
The quickfix is to add the php syntax contribution. The long fix would be to investigate what the php-language-features vsix offers.

[2020-02-25 08:15] #16073 closed

[2020-02-25 08:21] tsmaeder commented on #16114
https://github.com/eclipse/che-theia/commit/7967aa2e3835793761aa47f4c6f140544b42872b#diff-76c7c9ec4f2d7ab8816ac0aab7ec3a84 removed @theia/textmate-grammars from the dependencies. Need to look at the diff of what's defined in the theia module and what's included in the built-ins.

[2020-02-25 08:22] tsmaeder commented on #16114
@vzhukovskii any reason you did not include all built-ins that are grammar-only?

[2020-02-25 08:26] skabashnyuk commented on #15906
Both https://github.com/eclipse/che/issues/15906  and https://github.com/eclipse/che/issues/15904#issuecomment-585207171 clearly says that none of the caching techniques (keycloak or OpenShift OAuth) doesn't provide 100% guarantee that start or stop(idling) operation would be successfully performed.
I suggest going in the following way.
1. Caching Openshift OAuth token in runtime. Do not store it.

[2020-02-25 08:39] Ohrimenko1988 opened #16122 "[ TS_SELENIUM ] Create a wrapper for the "axios" library"
### Is your enhancement related to a problem? Please describe.
Currently, we use the "axios" library directly and configure it for call dependently in all proper place.
If we need to change a configuration we should rewrite it in all places

### Describe the solution you'd like
Create a wrapper for the "axios" library. It will allow configuring calls in one place.

On variant how to do that:
We ha

[2020-02-25 08:41] Ohrimenko1988 commented on #16122
@ScrewTSW @Katka92 @musienko-maxim @dmytro-ndp @SkorikSergey @artaleks9 @rhopp
Please, join the discussion.

[2020-02-25 08:45] skabashnyuk commented on #15906
CC @benoitf @l0rd

[2020-02-25 08:49] ScrewTSW commented on #16122
I definitely support the idea of having an interface that would bind an appropriate implementation based on whether the TLS is enabled or not.

It is very likely that we might have to call an URL directly in the future and I would prefer to have a universal tool/util library in our tests that would be consistent across all the devfile tests and pageobjects :+1:

[2020-02-25 08:52] flacatus commented on #16122
@ScrewTSW I'm agree with you. We can define an `axios instance` for example like [here](https://github.com/axios/axios#axioscreateconfig) and could be used like a universal tool.

[2020-02-25 08:54] Ohrimenko1988 commented on #16090
Done https://github.com/eclipse/che/pull/16116

[2020-02-25 08:54] #16090 closed

[2020-02-25 09:09] Katka92 commented on #16122
Thank you for creating this issue. I like the idea of having that approach centralized.
I suppose that there will be no other implementation than Http/Https, so I'm not sure if using inversify is needed there - three classes and inversify binding seems a little bit like an over-engineering to me.
Maybe we can solve that just with one class, e.g. `AxiosHandler` that would have one method `getAxiosI

[2020-02-25 09:18] ScrewTSW commented on #16122
I would rather write it as a singleton class and call the `getInstance` on it. I would want to keep the `getUrl` or `sendPostRequest` methods inside the class and based on the singleton instance it would either use http or https agent

[2020-02-25 09:28] flacatus commented on #16122
`const axios = require('axios'),
    Request_Instance = axios.create();

const Request = ({baseURL, method, url, httpAgent}) => Request_Instance({
    baseURL:baseURL,
    url:url,
    method : method,
    httpAgent:httpAgent
});

const GetSomething = async () => {
    try {
        // Example to skip SSl Verification, also could speicify in the https agent
        // the CAs etc
        const age

[2020-02-25 09:32] flacatus commented on #16122
[code]

[2020-02-25 09:33] rhopp commented on #16122
I would like to back up a bit with a few questions:
What problem are we trying to solve here?
Is there even a problem to solve?

[2020-02-25 09:33] caiziqi33 commented on #13844
The environment is built with reference to the official website doc minikube method，Can you specifically talk about the configuration of codedns，thankyou

[2020-02-25 09:35] caiziqi33 commented on #14517
I also encountered the same problem：Error: Failed to run the workspace: "Server 'theia' in container 'theia-idegoz' not available."
The environment is built with reference to the official website doc minikube method，Can you specifically talk about the configuration of codedns，thankyou

[2020-02-25 09:36] caiziqi33 commented on #14517
I also encountered the same problem：Error: Failed to run the workspace: "Server 'theia' in container 'theia-idegoz' not available."
The environment is built with reference to the official website doc minikube method，Can you specifically talk about the configuration of codedns，thankyou

[2020-02-25 09:41] Katka92 commented on #16100
This issue is a root cause of failures for nightly tests with the nightly image. I assume @SkorikSergey is fixing that in Java tests, so I will do that for typescript ones.

[2020-02-25 09:49] vitaliy-guliy opened #16124 "Impossible to open a terminal in the latest (next) Che-Theia build"
### Describe the bug

It looks like this commit affected on the terminal in Che-Theia https://github.com/eclipse-theia/theia/commit/4467ef4

### Che version

 - [x] nightly

### Steps to reproduce

1. Run workspace with the latest (next) Che-Theia editor.
2. Open a terminal in any container or run a command from `My Workspace` view.

### Expected behavior

Running terminal.

### Runtime
   - [x] m

[2020-02-25 09:52] RomanNikitenko commented on #16124
the issue will be fixed by merging https://github.com/eclipse/che-theia/pull/635

[2020-02-25 09:52] MichalMaler commented on #16115
Yes, my point was to point to this terminology which can cause trouble to newcomers.

* OpenShift/K8s cluster
* Eclipse Che installation or instance or deployment -- but not Eclipse Che cluster (or even `Cluster`)

Unless, as Thomas said, we're using Eclipse Che to specify an OpenShift cluster -- as in Che cluster (the OpenShift cluster in which Che is deployed).

The same goes for: `Eclipse Che C

[2020-02-25 10:00] l0rd commented on #15900
Assigning to hosted-che team after internal discussion (the original code was written ~2 years ago by hosted che team).

[2020-02-25 10:35] ibuziuk commented on #15900
@alexeykazakov could you confirm that the issue is reproducible not from the very beginning, but after 24h. Our current assumption is that once the OpenShift token is expired (24h by default) the idling stops working. This is the main reason why the issue was not spotted by QA (we simply do not test long-running deployments)

[2020-02-25 10:43] RomanNikitenko commented on #16124
the PR  https://github.com/eclipse/che-theia/pull/635 was merged, so I'm closing the issue, feel free to reopen if you can still reproduce it.

[2020-02-25 10:43] #16124 closed

[2020-02-25 10:47] dmytro-ndp opened #16125 "E2E happy path tests fail on 'Build application' step"
### Describe the bug
E2E Happy path tests failed being run against Multiuser Eclipse Che on minikube 1.1.1:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Multiuser-Che-PR-check-E2E-Happy-path-tests-against-k8s/2163/console
[code]
Che-theia container error:
[code]

### Che version
 - [ ] latest
 - [ ] nightly
 - [x] other: from [PR](https://gith

[2020-02-25 11:24] AndrienkoAleksandr commented on #16125
https://github.com/eclipse/che-theia/pull/635

[2020-02-25 11:37] RomanNikitenko commented on #16125
The fix https://github.com/eclipse/che-theia/pull/635 was merged.

[2020-02-25 12:00] AndrienkoAleksandr commented on #16125
@dmytro-ndp , reopen please, I issue is still actual

[2020-02-25 12:08] olexii4 commented on #15776
We have the same problem with stacks.
![Screenshot from 2020-02-25 14-05-11](https://user-images.githubusercontent.com/6310786/75246348-41665780-57d8-11ea-974c-e8d4f4a1fe4e.png)

[2020-02-25 12:13] mstavares commented on #16110
I have tried just single port configuration and I got this :(

Firefox can’t establish a connection to the server at ws://exec-agent-ws-dev-machine-workspace4q390x43dhkb4mv2.<my-ip-address>.nip.io:8081/connect?token=.

[2020-02-25 12:14] ScrewTSW commented on #16113
strange... with next build of Che nightly, the warning has disappeared.

[2020-02-25 12:22] ScrewTSW commented on #16113
@ibuziuk @tolusha No. The error highlighting and code completion only work once the `GO.vsix` plugin is updated. But even after updating the vsix plugin, the toolchain is saying that the binary is missing.

[2020-02-25 12:56] #15324 closed

[2020-02-25 13:06] olexii4 commented on #15733
@skabashnyuk I am going to remove this old GWT IDE code. You should use a 'https://che-che.apps-crc.testing/workspace-loader/admin/gogo' link instead.

[2020-02-25 13:11] #16125 closed

[2020-02-25 13:27] sleshchenko commented on #15733
I suppose we're able easily to configure tomcat to redirect `${namespace}/${workspaceName}` -> `workspace-loader/${namespace}/${workspaceName}`, but not sure if we need it. @skabashnyuk WDYT?

[2020-02-25 13:39] Katka92 commented on #15922
I can see that issue too from time to time on a nightly Che deployed on OpenShift cluster. I'm using chectl for installation, also using tls and self-signed certs.

[2020-02-25 14:00] ScrewTSW commented on #16113
Strange thing is that it's a one-time thing per deployment.
Once you do the update through theia, the stacks always work correctly - with the updated plugin the error highlighting and code completion works correctly.

[2020-02-25 14:09] JPinkney commented on #15911
A fix for this has been provided on the devfile-registry!: https://github.com/eclipse/che-devfile-registry/pull/198

[2020-02-25 14:09] #15911 closed

[2020-02-25 14:10] skabashnyuk commented on #15733
We could try. I assume that might be some edge cases. It's for sure will take more time then  https://github.com/eclipse/che/pull/16127. Thanks, guys for this pr.

[2020-02-25 14:11] nickboldt opened #16129 "Che 7.9.1 Release"
### List of pending issues / PRs

- [x] [theia] About dialog is broken #15962 - https://issues.redhat.com/browse/CRW-674 -> https://github.com/eclipse/che-theia/commit/13070ca81030fbcc7f6678eeb6c66d8f49b5b62c
- [x] [controller] Fix the get starting page title #16136 - blocks ["Getting Started with Eclipse Che" on CRW getting started page CRW-654](https://issues.redhat.com/browse/CRW-654)
- [x] Rew

[2020-02-25 14:14] ibuziuk commented on #16113
Setting P1 after discussion with Tibor, looks like Go devfile is broken atm

[2020-02-25 14:14] apupier opened #16130 "Helm binary is missing when using OpenShift Connector extension"
### Describe the bug

When using the OpenShift connector, the helm binary is not provided

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: please specify 7.8.0 on che.openshift.io

### Steps to reproduce

1. Create a workspace with OpenShift Connector
2. Click on Kubernetes perspective
3. Click on helm repos
4. "Unable to lst Helm repos" and popup mentioing missing depdencies

### Expe

[2020-02-25 14:15] nickboldt commented on #16008
:+1:  as long as you're iterating towards a process that can be run on a shared host, I'm happy :D

[2020-02-25 14:25] mymynew commented on #16121
@tolusha
Same operation ,
Reference doc https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/
This my test server, you can do anything:
ip: 47.91.158.95
account/password: root/Che#$8899
ca.crt in /home/yzgwork/che_ca，hosts file add "47.91.158.95 che-che.172.31.69.238.nip.io
47.91.158.95 keycloak-che.172.31.69.238.nip.io"  can be access che-server

Anyone help m

[2020-02-25 14:27] azatsarynnyy commented on #16114
We got the subset of the VS Code built-ins from Eclipse Theia https://github.com/eclipse-theia/theia/blob/c1bd96f7e10f8d5d2c0be2ba07dd9f918329df7f/package.json#L82-L145
and added only the grammar related ones to Che Theia.

[2020-02-25 14:28] #16008 closed

[2020-02-25 14:34] vzhukovskii commented on #16114
And AFAIK there is also some problems with adapting php builtin extension: https://github.com/eclipse-theia/theia/issues/6672

[2020-02-25 14:43] apupier opened #16131 "Support OpenShift usage for Camel K extension"
### Is your enhancement related to a problem? Please describe.

Currently, the Camel K plugin is coming with Kubernetes plugin. Camel K can be deployed to OpenShift too. it would nice to provide OpenShift connector plugin too.

### Describe the solution you'd like

Several possibilities:
- Che can better support VS Code extensions that have dependencies between them in separate definitions. So tha

[2020-02-25 14:45] apupier commented on #16131
provided a quick and dirty proof of concept:
https://raw.githubusercontent.com/apupier/che-devfile-registry/camlekwithopenshift/devfiles/apache-camel-k/devfile.yaml
https://raw.githubusercontent.com/apupier/che-devfile-registry/camlekwithopenshift/devfiles/apache-camel-k/devfile.yaml
https://raw.githubusercontent.com/apupier/che-plugin-registry/camelkwithopenshift/v3/plugins/redhat/vscode-camelk/0

[2020-02-25 14:49] ericwill commented on #16130
Is this something you plan to work on? If not we can take it in the next sprint.

[2020-02-25 14:53] tsmaeder commented on #16085
@sergiuilie you said you had a reproducer based on Java?

[2020-02-25 14:57] apupier commented on #16130
If you can take it in next sprint that will be great. thanks!

[2020-02-25 15:14] sleshchenko opened #16132 "[chectl] When chectl needs a Che Access token it references non-existing doc"
### Describe the bug
When chectl needs a Che Access token it references non-existing doc https://www.eclipse.org/che/docs/che-6/authentication.html

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy multiuser Che with chectl.
2. Try to stop multiuser che with chectl

### Expected behavior
Server is stopped or clear instructions are provide

[2020-02-25 15:20] ScrewTSW commented on #16113
Pre update:
![Screenshot_20200225_161507](https://user-images.githubusercontent.com/16451875/75260883-8b583900-57ea-11ea-9967-26938efb5734.png)
![Screenshot_20200225_161009](https://user-images.githubusercontent.com/16451875/75260919-98752800-57ea-11ea-8530-ce269bab8ba0.png)
Update log:
[code]
After "Reload"
![Screenshot_20200225_161826](https://user-images.githubusercontent.com/16451875/75260968-

[2020-02-25 15:25] vzhukovskii opened #16133 "Replace deprecated extensions with VS Code builtins"
### Is your task related to a problem? Please describe.
According to the upcoming changes in Theia upstream (https://github.com/eclipse-theia/theia/pull/6933) there is a need to remove from Che-Theia assembly deprecated extensions and use VS Code builtins instead.

List of deprecated extensions:
- **`@theia/debug-nodejs` - used in `@eclipse-che/theia-assembly`**
- **`@theia/editorconfig` - used in

[2020-02-25 15:27] benoitf commented on #16133
note that for some extensions, we're already not using them.

[2020-02-25 15:31] sergiuilie commented on #16085
1. Open Eclipse CHE and select a java maven workspace
2. Check that LSP works on the default project which lays under `/projects`
3. Add a new workspace to the folder, select `/tmp`, check if you have `write` access to this directory
4. Create a new class called Untitled.java, code some java and make a typo in the java class name, wait for the LSP to publish diagnostic
5. Once LSP is active try us

[2020-02-25 15:32] vzhukovskii commented on #16133
@benoitf updated description and added information about used extensions

[2020-02-25 15:35] benoitf commented on #16133
thanks

[2020-02-25 15:39] nickboldt commented on #16129
@azatsarynnyy please merge/cherrypick https://github.com/eclipse/che-theia/pull/628 into 7.9.x branch so it's part of 7.9.1 release. Fixing it in master & not backporting will not get it into this release. :)

[2020-02-25 15:51] JPinkney commented on #16113
I _thought_ a solution to this might be setting the che go plugin preference `go.useLanguageServer: true` in the devfile (it would get rid of the popup) but for some reason the golang language server features only work on the first go file opened (which is an issue in itself regardless)

[2020-02-25 15:54] ke-liu opened #16134 "After docker desktop is restarted Che is not available"
Installed the eclipse Che recently, unfortunately server crashes and keeps losing my workspace every day…

### Describe the bug
Installed via chectl with **docker desktop** (latest version 2.2.0.3) on my Mac pro 10.14.6 (with v1.15.5 Kubernetes: tried both minikube and docker-desktop). The eclipse Che installed successful, created workspace with no issue. But each day I log back in my Mac, I lost

[2020-02-25 16:03] akurinnoy opened #16135 "Improper branding on Get Started page."
### Describe the bug

Product name is hardcoded in title of Get Started page.

### Expected behavior

The title should be `"Getting Started with {productName}"` where `{productName}` should be taken from branding information.

[2020-02-25 18:00] l0rd commented on #15900
@alexeykazakov we should store the tokens in memory. They are not persisted.
@ibuziuk I had a chat with @rhopp this morning and idling is tested but with OAuth disabled.

[2020-02-25 20:38] amisevsk commented on #11817
@sergNikitin777 The issue is that iOS/iPadOS devices are forced to use webkit under the hood, so Chrome and Firefox end up using the same engine as Safari there.

[2020-02-25 21:00] amisevsk commented on #16113
From my experience with this plugin on the vscode side, `gopls` leaves a *lot* to be desired but is required for module projects, so should be enabled by default in the plugin if possible.

Which analysis tools are missing? They should be added to the go sidecar, since `/go` is not persisted.

[2020-02-25 21:06] ericwill opened #16137 "Test issue please ignore"
I am testing a script, please ignore.
 Sorry for the noise!

[2020-02-25 21:06] #16137 closed

[2020-02-25 21:07] ericwill opened #16138 "Test issue please ignore"
I am testing a script, please ignore.
 Sorry for the noise!

[2020-02-25 21:08] #16138 closed

[2020-02-25 21:13] amisevsk commented on #16100
@rhopp As a user of Che, "ctrl-w to close your whole IDE" was maybe my least favorite thing about Theia :). When typing in a terminal, ctrl-w is one of the hardest habits to break.

[2020-02-25 22:09] l0rd commented on #16131
@apupier I would consider this issue as a duplicate of https://github.com/eclipse/che/issues/15966

[2020-02-25 22:29] l0rd commented on #16134
@ke-liu you should not lose your data when k8s get stopped/restarted. We need to figure out what's happening here.

You have provided chectl server:start output and that's good but would you mind providing the output of the following commands as well:
`kubectl --all-namespaces=true get pod,ing`
`kubectl -n che-che logs -f pod/che-<pod-suffix>`
`kubectl -n che-che describe pod/che-<pod-suffix>`

[2020-02-25 22:47] ke-liu commented on #16134
Thank you for looking this for me, here are the outputs when server failed to start:

**kubectl --all-namespaces=true get pod,ing**
NAMESPACE       NAME                                            READY   STATUS    RESTARTS   AGE
che             pod/che-6c8c55bcf5-q9pw9                        1/1     Running   2          4d5h
che             pod/devfile-registry-78675f7854-jdxv6           1/1     R

[2020-02-25 22:57] l0rd commented on #16134
What happens if you try to open `http://che-che.161.44.255.0.nip.io` in your browser?

[2020-02-25 23:01] l0rd commented on #16121
The workspace pod starts successfully. But for some reason the workspaces loader is not able to reach che-theia. That may be related to the fact that instead of using the FQDN of the remote host you are using a `nip.io` address. @akurinnoy @olexii4 any idea of what's going on here?

@mymynew you can try a few of things:
- use version 7.9.0 of Che
- use the flags `--platform=k8s` and `--domain 47.9

[2020-02-25 23:05] l0rd commented on #16134
I have changed the title because there is no evidence of a che-server crash.

[2020-02-25 23:27] ke-liu commented on #16134
fine with the title changing.. but the only reason I restart the docker desktop is because the che stops working. if i go: http://che-che.161.44.255.0.nip.io, browser will try load the page and eventually timeout, then retry again, and again...

[2020-02-25 23:32] ke-liu commented on #16134
i suspect server crash is because every che command i try indicating something wrong witht he server, for example:

chectl workspace:start --devfile ~/mysite_dcos/Devfile.yaml
  ✔ Retrieving Eclipse Che Server URL...http://che-che.161.44.255.0.nip.io
  ✖ Verify if Eclipse Che server is running
    → E_SRV_NOT_RUNNING - Eclipse Che Server is not available by http://che-che.161.44.255.0.nip.io
    C

[2020-02-25 23:49] l0rd commented on #16134
Right, `chectl` is not able to connect to the che-server. We need to figure out why.

I was actually wrong about the server not crashing. The che-server got restarted 3 times. And last time it stopped with `Exit Code:    137` that means "Out of Memory"...

How much memory are you setting for Docker Desktop?

![image](https://user-images.githubusercontent.com/606959/75298051-bca82780-5831-11ea-9503

[2020-02-25 23:58] ke-liu commented on #16134
earlier i gave 2G memory, the workspace not even be able to be created... then i increased to 8G, workspaces are creating fine, but the server issues happened...
![Screen Shot 2020-02-25 at 6 56 10 PM](https://user-images.githubusercontent.com/19575464/75298525-bd749580-5800-11ea-99c8-6251af0340ea.png)

[2020-02-26 06:17] sleshchenko commented on #16121
That error message actually came from Che Server#server checkers.
It's Che Server who was not able to request Theia ingress.

@mymynew Are you able to run workpace again, and while it's starting - find theia ingress and try to curl it from Che Server pod? If IP resolved? If no - then probably network inside pods are not configured properly.
@AndrienkoAleksandr You had some experience on running mi

[2020-02-26 06:57] sleshchenko commented on #14906
I guess it's kind of done and epic is created https://github.com/eclipse/che/issues/15425

[2020-02-26 06:57] #14906 closed

[2020-02-26 07:25] tolusha commented on #14534
https://github.com/che-incubator/chectl/pull/524/ merged
Error messages are improved.

[2020-02-26 07:25] #14534 closed

[2020-02-26 07:25] tolusha commented on #14665
https://github.com/che-incubator/chectl/pull/524/ merged
Error messages are improved.

[2020-02-26 07:25] #14665 closed

[2020-02-26 07:25] tolusha commented on #14761
https://github.com/che-incubator/chectl/pull/524/ merged
Error messages are improved.

[2020-02-26 07:25] #14761 closed

[2020-02-26 07:28] #16132 closed

[2020-02-26 08:06] tsmaeder commented on #16131
Isnt' there a separate OpenShift Connector plugin in the plugin registry already?

[2020-02-26 08:13] apupier commented on #16131
I think the #15966 will solve a part of issue in a more generic way and that will be awesome.

Based on the description, I'm not sure it is not covering a shared login mechanism to Kubernetes/OpenShift and the shared access to CLI tools.

[2020-02-26 08:15] apupier commented on #16131
- the login done in OpenShift Connector container is not reachable by Camel K
- it is convenient to have access to all CLIs tools on the same container (oc/kamel)

[2020-02-26 08:22] tsmaeder commented on #16131
I see that, but I guess sharing env between plugins is another problem we need to solve in our workspace model.

The plugin sidecar should serve the Theia plugins, not the CLI. That's what the dev container is for.

[2020-02-26 08:24] tsmaeder commented on #16085
Well, that's not really the same case: if you open `/tmp` in the IDE, you're opening a folder inside the theia container. It is normal that this cannot be found in the plugin sidecar where the Java support is running.
I still think it's a real issue you showed me, but this case is not it. I think we'll have to test with your original plugin, somehow.

[2020-02-26 08:25] tolusha commented on #16134
@ke-liu
Could you run pls
[code]

and then
[code]

[2020-02-26 08:27] tsmaeder commented on #16085
So the question really is: how do you open the file at all? Do you copy it to both theia:/tmp and java:/tmp? What API do you use to display the downloaded file?

[2020-02-26 08:30] dmytro-ndp opened #16139 "[chectl] server:start command failed"
### Describe the bug
`chectl server:start` command failed with error:
[code]

https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Multiuser-Che-PR-check-E2E-Happy-path-tests-against-k8s/2182/console
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other:
[code]

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernete

[2020-02-26 08:33] apupier commented on #16131
interesting, I miss that.
In this specific case, the VS Code extension requires the binaries on the CLI. So providing it in the sidecar container avoids to duplicate the binaries in both container. Or maybe the sidecar can access the "dev container"?
How can we configure the "dev container" with devfile? I found no reference in the [doc](https://redhat-developer.github.io/devfile/devfile).

[2020-02-26 08:39] AndrienkoAleksandr commented on #16121
Che was working for me.

[2020-02-26 08:40] tsmaeder commented on #16131
No, it doesn't in general: the extension needs to bring it's own prerequisites, this might mean a different version of a tool than the one the user targets.

No, that's not the workspace model as I understand it.

[2020-02-26 08:43] #16139 closed

[2020-02-26 08:46] ScrewTSW commented on #16113
@amisevsk I think it was refering to `gopls`.

[2020-02-26 09:03] filipkroupa commented on #16085
@tsmaeder I don't think there was any change regarding exposure of folders to sidecars (eg. the `/tmp` folder from Theia container), it has been always set this way in previous `Che-Theia` versions. But this issue did not exist there, so I don't think the folder exposure can be the root cause here.
I see this as a regression, since the issue started with `Che-Theia 7.4.0`. If you try running with

[2020-02-26 09:17] tolusha commented on #14782
I've added script that generates cr/crd files, removes `required` and restores license header
https://github.com/eclipse/che-operator/pull/180

[2020-02-26 09:17] #14782 closed

[2020-02-26 09:27] mmorhun commented on #15810
Done

[2020-02-26 09:27] #15810 closed

[2020-02-26 09:29] digiltd opened #16140 "unable to close multiple tabs with repeated presses of keyboard shortcut"
### Describe the bug
When you have multiple tabs open in Theia and the focus on one tab, then try to close tabs one by one by pressing `option` + `w`, you end up closing terminal, explorer, source control etc rather than the next tab.

You have to click into each tab before pressing the shortcut, which does mean the "shortcut" ends up taking more actions than simply closing the tab with the mouse

[2020-02-26 09:37] mmorhun commented on #15313
I believe this PoC is done in https://github.com/che-incubator/chectl/pull/476.
Further work will be done in terms of https://github.com/eclipse/che/issues/16052.

[2020-02-26 09:37] #15313 closed

[2020-02-26 09:38] ChiragDosi commented on #16111
Ok thanks @ibuziuk and @ericwill but how i can use K8s plugin to deploy the docker image as i am using only one workspace for this and k8s cluster is not configured so kindly please let me know how i can achieve this ?? Thanks

[2020-02-26 10:04] tsmaeder commented on #16085
Well it's not a regression in the sense that the /tmp folders are not _intended_ to be share between the containers.

[2020-02-26 10:10] filipkroupa commented on #16085
I don't think this issue is even related to sharing the folders. LSP protocol does not works this way. Only the LSP client part, which exists inside Theia, needs to access the file represented by URI. The file contents is provided to the LSP server via RPC (that is how the protocol is defined). The LSP server which resides in the mentioned sidecar does not need to have access to the analyzed file

[2020-02-26 10:13] ScrewTSW opened #16141 "Go tasks not terminating"
### Describe the bug
When you run tasks like `test outyet` within the golang example project, the test is executed and finished, but there is no exit code returned and the task stays in the running state indefinitely, therefore preventing us from running any other tasks.

When the `test outyet` is executed, it's impossible to terminate the task.

This bug also causes other tasks to not start at al

[2020-02-26 10:16] sergiuilie commented on #16085
@tsmaeder I am opening the file inside Theia container but java LSP is running on another container, I will attach a gif to show that the `/tmp` folders are different and yet publish diagnostic is send over, that means `didOpen` notification was sent and TextDocumentItem contain the correct URI

![java_lsp](https://user-images.githubusercontent.com/23320888/75335266-78e10c80-5889-11ea-831f-4fb763d

[2020-02-26 10:21] davidfestal commented on #16115
The name `CheCluster` for the Che server custom resource has been chosen long ago by the `che-operator` initial contributor, and I have no idea if it was really discussed at this time.

The fact is that now we have to keep backward compatibility with this choice, and afaict by a way or another the `CheCluster` name will finally leak into some places in the documentation and UX.

So maybe the best

[2020-02-26 10:22] tsmaeder commented on #16085
Hmh...but in our meeting, we checked that the file was present in the container that runs the language server, not the IDE container.

[2020-02-26 10:27] tsmaeder commented on #16085
BTW: jdt.ls sends errors for files that have not been opened, so we can't really deduce the sending of correct "documentOpened"-events from that fact.

[2020-02-26 10:29] sergiuilie commented on #16085
that's true, is the same behavior, same error

[2020-02-26 10:49] tsmaeder commented on #16085
Ok, I see it now. Unfortunately, the production versions of Che don't have source map info, so it's not trivial to analyze. The way I'm reproducing it is like so:

1. Open a Java-based workspace, open a Java file and make sure VS Code Java is running
2. Open a terminal in the theia ide container
3. `touch /tmp/Foo.java"
4. Open the file in the IDE using "File->Open"
5. Open the browser developer c

[2020-02-26 10:57] sergiuilie commented on #16085
@tsmaeder the API used to open the document by Zowe extension is vscode.window.showTextDocument or vscode.window.openTextDocument depends on the condition, please check it out here
https://github.com/zowe/vscode-extension-for-zowe/blob/cbb5bf11652b70ae6da613e1448840f95689bf8f/src/extension.ts#L1540

[2020-02-26 11:02] tsmaeder commented on #16085
Ok, some time ago, we added code to support opening files that are present in plugin containers: https://github.com/eclipse/che-theia/blob/master/extensions/eclipse-che-theia-plugin-remote/src/node/che-content-aware-utils.ts

Basically, we override the URI for anything outside the /projects directory with a container-specific prefix. However, this prefix is not used in all requests, only for "defi

[2020-02-26 11:05] sergiuilie commented on #16085
@tsmaeder understood, we are discussing this issue and see how is better to design our extension, one question: could you please let me know how I can debug che-theia?

[2020-02-26 11:14] tsmaeder commented on #16085
There is some doc in https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md, but I'm not sure how up-to-date it is. Haven't had to debug lately.

I think what your extension is doing is reasonable, we just didn't expect that case.

[2020-02-26 11:16] #16135 closed

[2020-02-26 11:29] ibuziuk commented on #14240
PR merged. Closing

[2020-02-26 11:29] #14240 closed

[2020-02-26 11:39] mymynew commented on #16121
@sleshchenko theia container listen port 3100，but k8s ingress not create 3100 ingress

theia container use service name access ?
curl svc.namespace:3100 is ok， like this curl server9zh0eeu2-theia-ide8ne.yzg-che:3100 or curl podip:3100

<details>

<summary>kubectl get ingress,svc,pod --all-namespaces</summary>

[code]

</details>

[2020-02-26 11:44] #16120 closed

[2020-02-26 11:46] sergiuilie commented on #16085
Thank you 😄

[2020-02-26 11:51] azatsarynnyy commented on #16129
Thanks @nickboldt !
I just misunderstood the list :slightly_smiling_face:

[2020-02-26 12:21] SkorikSergey commented on #16091
Done

[2020-02-26 12:21] #16091 closed

[2020-02-26 12:43] ScrewTSW commented on #15053
I think there is also a `same-origin` policy set in the example which prevents the page to be loaded inside an iframe

[2020-02-26 13:30] #15800 closed

[2020-02-26 13:47] ericwill commented on #16111
If you have a remote cluster set-up in the cloud (Azure, Amazon, etc.) you can use that. Otherwise, the workflow is to have a local Kubernetes cluster set up, which can then be injected into a running Che workspace. The app that's built via the Kubernetes plugin will be deployed to that local cluster.

You can find some docs about it here: https://github.com/azatsarynnyy/blog-files/blob/master/k8s

[2020-02-26 14:28] skabashnyuk opened #16145 "[che-server] Json PRC performance has the tendency to degrade"
### Describe the bug
On a  constantly loaded server that is running more than a week I've observed a Json PRC performance has the tendency to degrade.

![Знімок екрана 2020-02-26 о 15 24 57](https://user-images.githubusercontent.com/1614429/75353906-6d530d00-58ac-11ea-9366-77e728fc18af.png)

### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other:  7.9.0

### Steps to reproduce
Unknown.

### Ex

[2020-02-26 14:56] tjohnsonBCM commented on #15979
I've tried modifying a `chePlugin` that requires `IPC_LOCK` as suggested, to instead run as a separate `container` in the K8s pod. This works, but the container name is added to the list of terminals in the "Open Terminal" quickpick.

I don't want it to show there, as there's no reason for someone to launch a terminal in the plugin container. Is there a way in Che to hide the plugin container from

[2020-02-26 15:19] ke-liu commented on #16134
**kubectl get pv  -n che**
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS   CLAIM                     STORAGECLASS   REASON   AGE
pvc-030c931c-660f-41a9-88c0-a03ed710ed21   1Gi        RWO            Delete           Bound    che/che-data-volume       hostpath                4d22h
pvc-fb9108c8-9952-418d-9bea-efe4f311e722   1Gi        RWO            Dele

[2020-02-26 17:37] amisevsk commented on #16113
@ScrewTSW `gopls` is only required when the "experimental" language server is enabled; since the analysis tools popup appears before it's enabled, it suggests that something else is missing. If you get the notification again, it should output which analysis tools its installing.

Either way, I'm +1 on adding `gopls` to the golang sidecar.

[2020-02-26 17:49] JPinkney commented on #16113
I just tried on che.openshift.io and it looks like the problem is that it's missing `golangci-lint`. I'm guessing this issue was introduced when the preference was changed in the devfile? https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/go/devfile.yaml#L19.

If I start a workspace and remove that preference the `Analysis Tools Missing` error doesn't pop up

[2020-02-26 17:55] RomanNikitenko opened #16149 "Adapt che-theia for theia changes"
### Describe the bug
We need some alignment for `che-theia` after merge https://github.com/eclipse-theia/theia/pull/7214
At the moment we have the compilation errors for `che-theia` and at least che-in-che development is broken

### Steps to reproduce
Try to use the last changes from `theia`  to build `che-theia`

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl v

[2020-02-26 19:18] jagraj opened #16150 "chectl failed to install Che on ROKS cluster due to namespace creation failure"
### Describe the bug
`chectl` failed to create namespace when installing Che. As a user I can create with out any problem with the same user that I logged in but chectl failed to create namespace and exits installation with the following error.

[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [x ] other: 7.5.1

### Steps to reproduce

### Expected behavior
`chectl` should create project/n

[2020-02-26 19:41] RomanNikitenko opened #16151 "Add terminal scroll commands"
### Is your enhancement related to a problem? Please describe.
Recently `terminal scroll` commands were added to `theia`:
- scroll line up by shortcut: `Ctrl + Shift + ArrowUp`
- scroll line down by shortcut: `Ctrl + Shift + ArrowDown`
- scroll to top of the terminal(beginning line) by shortcut: `Home`
- scroll page up by shortcut `PageUp`
- scroll page down by shortcut `PageDown`

So, it would be

[2020-02-26 21:22] RomanNikitenko commented on #16141
@ScrewTSW
thank you for reporting the issue!

I tried it on che.openshift.io
![version](https://user-images.githubusercontent.com/5676062/75388614-f76f9580-58ed-11ea-903a-56ce93f057c4.png)

and can not reproduce the issue.

I did it like:
https://youtu.be/5xBTQHh6vsg

![go_bug](https://user-images.githubusercontent.com/5676062/75389053-9a281400-58ee-11ea-9535-ab0f48f71b4d.gif)

Maybe some addition

[2020-02-27 03:03] mymynew commented on #16121
use chectl server:start --platform=minikube --multiuser --installer=helm --domain serverip.nip.io
set --domain 47.91.158.95.nip.io start successful.

[2020-02-27 03:03] #16121 closed

[2020-02-27 05:51] l0rd opened #16152 "Git extension: cannot exec askpass.sh"
### Describe the bug

When I try to push my changes to a remote git repository for the first time using "Publish Branch" on the git extension menu I get an error message:

[code]

And if I look at askpass.sh attributes it's indeed not executable and own by root:

[code]

### Che version

Nightly (9.10-SNAPSHOT)

### Steps to reproduce

- Install single user Che with chectl (platform=minikube, inst

[2020-02-27 05:52] l0rd commented on #16152
cc @vinokurig

[2020-02-27 06:03] l0rd opened #16153 "My workspace is idled while I am using it"
### Describe the bug

Even if I am actively using it (editing files and using the terminal) my workspace get stopped after 30 minutes.

wsmaster logs:

[code]

### Che version

nightly

### Steps to reproduce

- Install single user Che with chectl (platform=minikube, installer=helm)
- Start a workspace using chectl (`chectl workspace:start --devfile=https://github.com/eclipse/che-docs`)
- Use the

[2020-02-27 06:11] l0rd commented on #16153
Closing as it's a duplicate of https://github.com/eclipse/che/issues/15614

[2020-02-27 06:11] #16153 closed

[2020-02-27 06:16] l0rd commented on #15991
@azatsarynnyy what's the status of this? You had included it in last sprint but not in current one. That looks critical since most of the install are with https and self signed certs now.

[2020-02-27 06:53] tolusha commented on #16150
Could you run the command from the terminal?
[code]

[2020-02-27 07:35] benoitf commented on #16152
it's a dup of https://github.com/eclipse/che/issues/16084

[2020-02-27 07:35] #16152 closed

[2020-02-27 07:41] #4968 closed

[2020-02-27 07:41] #8907 closed

[2020-02-27 07:41] #9295 closed

[2020-02-27 07:41] #10334 closed

[2020-02-27 07:41] #12202 closed

[2020-02-27 07:41] #13483 closed

[2020-02-27 07:41] #14020 closed

[2020-02-27 07:41] #14279 closed

[2020-02-27 08:12] AndrienkoAleksandr commented on #7996
Issue was created for che 6. Not actual any more.

[2020-02-27 08:12] #7996 closed

[2020-02-27 08:14] #16109 closed

[2020-02-27 08:45] ScrewTSW commented on #15735
the implementation has been finished. Sorry for not replying Dmytro. Closing.

[2020-02-27 08:45] #15735 closed

[2020-02-27 08:47] apupier commented on #13922
Tested with TLS activated, using latest chectl and still not working :-(

[code]
[code]

added the Certificate to Chrome:
- 3 dots on top left -> Settings
- Manage Certificates
- Authorities
- Import
- Check website and software trust
- Open Che
- Create workspace using the plugin
- Use command palette to call "Open AtlasMap" command
- webview is opening but with a grey page and message:
[code]
Th

[2020-02-27 08:51] ScrewTSW commented on #15244
Still in progress.

[2020-02-27 09:04] ScrewTSW commented on #16141
@RomanNikitenko Hello.
Yesterday we have been trying it with @rhopp on 7.10.0 snapshot and the behavior was flaky. Sometimes the exit code was returned and the task terminated correctly, sometimes it didn't but at least in 7.10.0 it didn't prevent me from executing different tasks, or restarting the same task.

I am currently implementing a periodic test for Go devfile, so I would get back to you

[2020-02-27 09:55] vitaliy-guliy commented on #15998
@tsmaeder done, have updated title and description

[2020-02-27 09:55] Katka92 opened #16154 "If test for error highlighting fails, build fails too"
### Describe the bug
If LS test for error highlighting fails, the text remains in an editor, which then causes build command to fail.

https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/2380/console

### Che version

 - [x] latest 7.9.0
 - [x] nightly
 - [ ] other: please specify

### Expected behavior
If the test fails, it should not affect another test. So the text, that test inp

[2020-02-27 10:41] sunix commented on #14680
from https://github.com/eclipse/che/issues/15518#issuecomment-589086790

[2020-02-27 10:58] #16149 closed

[2020-02-27 11:03] #16145 closed

[2020-02-27 11:04] sunix commented on #14680
This is important to setting up Airgap, for instance injecting a Maven `settings.xml` file that would contain:

- user/password to access to internal server (repositories)
- Several private repos and configurations
- Several  mirrors

See last lines of https://github.com/eclipse/che/issues/15503/#issuecomment-579677970

[2020-02-27 11:35] wictrix opened #16156 "I can't install - alternative to Eclipse CHE"
For weeks I have been trying to install EClipse CHE on a Centos 7 server. I tried with Minikube, Minishift and Virtualbox, they all fail to timeout when trying to run the "Che POD" image.
I checked all the issues on the subject and who had the same problem had no answer.
My question now is, is there an alternative IDE with the same characteristics?

[2020-02-27 12:30] Rucadi commented on #15652
I'm also interested in this issue, in my case, I want to use vendor software already installed in the machine, which size is several GB. I want to share it with the workspace, which contains additional configurations and software that are included in a docker image.

I was also interested specifically in NFS PVC. I hope this gets attention.

[2020-02-27 12:38] dmytro-ndp opened #16158 "[chectl] server:start failed with helm installer on minikube"
### Describe the bug
`chectl server:start` failed on minikube:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/883/console
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1) install minikube of 1.1.1 version
2) download chectl

[2020-02-27 13:07] tolusha commented on #16003
The following scenario works without setting up external dns server:

1. minikube start --vm-driver=virtualbox --memory=6144 --cpus=6 --disk-size=32gb --dns-domain='kube.lab'
2. kubectl -n kube-system edit configmap coredns
and add `cluster.local` to the configuration
[code]
3. chectl server:start --platform minikube --domain $(minikube ip).nip.io
4. create a workspace

https://github.com/eclipse/

[2020-02-27 13:08] tolusha commented on #14404
https://github.com/eclipse/che/issues/16121

[2020-02-27 13:14] tolusha commented on #15072
When yaml file is specified then some other flags are ignored. It is done on purpose.
We added warning if unused flags were set.

[2020-02-27 13:14] #15072 closed

[2020-02-27 13:14] #16003 closed

[2020-02-27 13:24] tolusha commented on #14882
I consider this epic is mainly completed.

[2020-02-27 13:24] #14882 closed

[2020-02-27 13:36] dmytro-ndp commented on #16158
It has been fixed by commit https://github.com/che-incubator/chectl/commit/035a92464092c686d84577ec1641f52c28cb947c

[2020-02-27 13:36] #16158 closed

[2020-02-27 13:43] azatsarynnyy commented on #15991
@l0rd last sprint we investigated it a bit with @skabashnyuk
We will take it to the next sprint.

[2020-02-27 13:44] tolusha commented on #16156
Could you provide some details of your issues?
Do you have some logs, How did you deploy Che ?

[2020-02-27 13:54] dmytro-ndp opened #16159 "Single User Eclipse Che returns "308 Permanent Redirect" error"
### Describe the bug
Single User Eclipse Che on minikube returns "308 Permanent Redirect" error:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/889/console
[code]
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Install minikube 1.1

[2020-02-27 14:00] olexii4 opened #16160 "UD debug doesn't work in the case with CA certificate"
### Describe the bug

UD debug doesn't work in the case with CA certificate.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1.
[code]
2.
[code]
3.
[code]

The error is: "...has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."

### Expected behavior

### Runtime
   - [x] kubernetes (incl

[2020-02-27 14:15] mshaposhnik commented on #16159
It seems that something making redirect to `https` protocol while che deployed as `http`

[2020-02-27 14:17] sparkoo commented on #16117
fixed by #16126

[2020-02-27 14:17] #16117 closed

[2020-02-27 14:17] sparkoo commented on #15983
fixed by #16126

[2020-02-27 14:17] #15983 closed

[2020-02-27 14:19] tolusha commented on #16159
https is a default in case of installation using helm

[2020-02-27 14:25] wictrix commented on #16156
Order:
1. Installed minikube using native package management for CentOS: https://kubernetes.io/docs/tasks/tools/install-kubectl/

2. Installed chctl according to:
https://www.eclipse.org/che/docs/che-7/installing-the-chectl-management-tool/

3. Started minikube in root:
#minikube start --memory = 8192 --vm-driver = none

4. Started chectl rm root:
#chectl server: start --platform minikube --multiu

[2020-02-27 14:29] sparkoo opened #16161 "Watch mkdir pod logs in workspace startup debug mode"
### Is your enhancement related to a problem? Please describe.
After #15983 is fixed, we need to watch mkdir pod logs as well.

### Describe the solution you'd like
When devfile attribute debug: true is set, watch the logs of the mkdir pod and send them to the dashboard via json-rpc channel.

### Describe alternatives you've considered
n/a

### Additional context
#15983
epic: #15047

[2020-02-27 14:34] sparkoo commented on #16117
duplicate of #16061

[2020-02-27 14:56] dmytro-ndp commented on #16159
Thanks for explanation, @mshaposhnik, @tolusha.

[2020-02-27 14:56] dmytro-ndp commented on #16159
It turned out that it was expected behavior after chectl had started installing Eclipse Che in TLS mode by default using Helm.

[2020-02-27 14:56] #16159 closed

[2020-02-27 15:17] tolusha commented on #16156
@wictrix
Thank you for reporting. We are working on this right now.

[2020-02-27 15:24] tsmaeder commented on #16160
The was this is reported it sounds like a development time issue and therefore P2.

[2020-02-27 16:14] amisevsk opened #16164 "Incorrect icon for mainframe basic stack in devfile registry."
### Describe the bug
The icon used for the mainframe stack in the devfile registry is incorrect.

Current:
![old](https://user-images.githubusercontent.com/16168279/75462426-3df6db80-5952-11ea-8bb6-98b51023865c.png)

Expected:
![new](https://user-images.githubusercontent.com/16168279/75462439-42bb8f80-5952-11ea-9e38-e8880bc8dc72.png)

[2020-02-27 16:20] tolusha commented on #16156
@wictrix
Could you try pls
[code]

[2020-02-27 16:36] Katka92 opened #16165 "Dashboard.waitPage should not depend on menu"
### Is your task related to a problem? Please describe.
The Dashboard.waitPage method waits for the specific items in a left menu. This menu can be configured, so we should change the logic of this method to prevent the test to fail.

### Describe the solution you'd like
Replace waiting for menu items by waiting for some other element, that is not configurable.

### Describe alternatives you've co

[2020-02-27 16:47] wictrix commented on #16156
Order:
1. # chectl update
chectl: Updating CLI ... already on latest version: 7.9.0

2. # chectl server: start --platform = minikube --installer = operator
   ✔ Keycloak pod bootstrap
       ✔ scheduling ... done.
       ✔ downloading images ... done.
       ✔ starting ... done.
     ❯ Devfile registry pod bootstrap
       ✖ scheduling
         → ERR_TIMEOUT: Timeout set to pod wait timeout 300000

[2020-02-27 16:48] ibuziuk commented on #16165
PR with workaround on Hosted Che side - #1814 (should be removed once the issue is fixed in the upstream)

[2020-02-27 17:18] Katka92 opened #16166 "Test for error highlighting failing"
### Describe the bug
Test for error highlighting is failing from time to time. The failure was seen in e.g. Java Maven test.

Error in test log:
`TimeoutError: Waiting for element to be located By(xpath, //div[contains(@style, 'top:190px')]//div[contains(@class, 'squiggly-error')])`

The page source code of a fallen element:
![Screenshot from 2020-02-27 17-54-00](https://user-images.githubusercont

[2020-02-27 17:51] wictrix commented on #16156
/* Complement
Accessing https://10.25.30.5:8443/  return:

{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "forbidden: User \"system:anonymous\" cannot get path \"/\"",
  "reason": "Forbidden",
  "details": {

  },
  "code": 403
}

[2020-02-27 20:13] dneary commented on #15885
Just back from PTO. How can I find out my username? I am asked for my Red Hat username or email address to log in.

[2020-02-27 20:20] alexeykazakov commented on #15885
Try to login using `dneary` as your username.

[2020-02-28 05:02] FdseLab opened #16167 "Some CVEs in dependencies are threatening your project!"
Your project is at risk due to the use of vulnerable dependencies. To prevent potential security risks it may cause, I suggest to update the library dependency. The following is a detailed content.
* **Vulnerable Library Version:** org.springframework : spring-webmvc : 3.0.5.RELEASE
  **CVE ID:** [CVE-2016-9878](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-9878), [CVE-2014-1904](https:/

[2020-02-28 07:36] dmytro-ndp opened #16168 "[chectl] server:start installed Single User Eclipse Che without TLS mode by default on minikube using helm installer"
### Describe the bug
server:start installed Single User Eclipse Che without TLS mode by default on minikube using helm installer
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/898/console

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reprodu

[2020-02-28 07:40] mmorhun commented on #16168
@dmytro-ndp could you please test it again but using `run` command instead of `chectl` ?

[2020-02-28 07:45] tolusha commented on #16168
@dmytro-ndp How did you install `chectl` ?

[2020-02-28 07:54] dmytro-ndp commented on #16168
@tolusha: chectl had been downloaded from [here](https://github.com/che-incubator/chectl/releases/download/20200227160618/chectl-linux-x64.tar.gz)

[2020-02-28 08:18] tolusha commented on #16168
Use `./chectl` instead of `chectl` in this case if you under bin folder

[2020-02-28 08:18] tsmaeder commented on #16167
P2, since we're not running the tests anywhere an attacker can access them.

[2020-02-28 08:28] dmytro-ndp commented on #16168
@tolusha: full used command is:
[code]

[2020-02-28 08:34] #16151 closed

[2020-02-28 08:38] tolusha commented on #16168
`/usr/local/bin/chectl version` ?

[2020-02-28 09:11] tolusha commented on #16156
unfortunately I can't reproduce the issue
Could you try from the scratch?
1. minikube delete
2. minikube start --cpus 4 --memory 10240 --disk-size=50GB --vm-driver=virtualbox
3. chectl server:start --platform minikube --multiuser

[2020-02-28 09:27] Richard87 commented on #14968
I had the same error, it turned out the context was faulty (in my case, context[1], in above context[16])

When I removed the faulty context and related cluster/user info, it works perfectly again :)

[2020-02-28 09:37] Ohrimenko1988 commented on #15881
Done.
Changes in the upstream code: <https://github.com/eclipse/che/pull/16155>
Instruction how to reuse them in the downstream: <https://github.com/eclipse/che/issues/15881#issuecomment-580273205>

[2020-02-28 09:37] #15881 closed

[2020-02-28 10:01] skabashnyuk opened #16169 "[DOCS] Document "Deploy Che with self signed TLS certificates on Kubernetes" provide misleading information about secret name"
### Describe the bug

According to our documentation https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self-signed-certificate/#deploy-che-with-self-signed-tls-on-kubernetes_setup-che-in-tls-mode-with-self-signed-certificate
it has to be `self-signed-cert` . But in code we have

- https://github.com/eclipse/che-operator/blob/master/pkg/deploy/deployment_che.go#L49 `self-signed-cert

[2020-02-28 11:40] jswordfish commented on #15556
@mustafa-yilmaz - Did you manage to get a Dev file to work for MSSQL?

We are trying to generate a MSSQL embedded Dot Net workspace by passing json equivalent of dev file - some thing like this...
 "memoryLimit": "300Mi",
      "type": "dockerimage",
      "alias": "mssql",
      "image": "mcr.microsoft.com/mssql/server:2019-GA-ubuntu-16.04",
      "env": [
        {
          "value": "Y",

[2020-02-28 11:52] wictrix commented on #16156
Using this configuration with Virtualbox the installation returned "Command server: start has completed successfully."

Retrieving Eclipse Che Server URL ... http: //che-che.192.168.99.102.nip.io

However the URL points to an IP that is probably internal to the VM, as I don't know VIrtualbox is there a tutorial that explains how to release access to the network?

[2020-02-28 13:02] rhopp opened #16170 "[workspace-loader] After workspace startup, fails to redirect with "Failed to get the workspace: "Unknown error"""
### Describe the bug
Sometimes, probably when token expires during the workspace startup, workspace-loader fails to redirect to Theia with error:
[code]
![image](https://user-images.githubusercontent.com/1215011/75550551-6e15ab80-5a32-11ea-8a46-7d7856451207.png)

Note, that the workspace is really running and refreshing browser/opening the workspace again works fine.

### Che version

 - [ ] lates

[2020-02-28 13:25] jswordfish opened #16171 "Eclipse Che One of Container terminates unexpectedly"
## Summary
I am trying to start a Dot net v3 workspace in Eclipse Che v 7.7.1.  I am trying to pull the following dot net image - mcr.microsoft.com/dotnet/core/sdk:3.0

## Relevant information
Here's my dev file
[code]

Workspace opening fails with this message -
Successfully pulled image "eclipse/che-init-plugin-broker:v0.24"
Created container
Started container
Starting Init Plugin Broker
Cleanin

[2020-02-28 13:35] tolusha commented on #16170
duplicates
https://github.com/eclipse/che/issues/15922

[2020-02-28 13:35] #16170 closed

[2020-02-28 13:35] #16160 closed

[2020-02-28 13:37] olexii4 commented on #15776
fixed https://github.com/eclipse/che/pull/16163/files#diff-8a14d47103eb64b90950b89aaa182849L103

[2020-02-28 13:37] #15776 closed

[2020-02-28 13:53] #14188 closed

[2020-02-28 14:12] Ohrimenko1988 opened #16172 "[TS_SELENIUM] Move "@eclipse-che/api" from "devDependencies" to "dependencies" in the "e2e" project"
### Is your task related to a problem? Please describe.
We loose "@eclipse-che/api" dependency if launch tests inside docker container

### Describe the solution you'd like
Move "@eclipse-che/api" from "devDependencies" to "dependencies"
### Describe alternatives you've considered

### Additional context

[2020-02-28 14:27] #16164 closed

[2020-02-28 14:34] dmytro-ndp commented on #16168
@tolusha: you can find version in the [build logs](https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/898/console):
[code]
That is output of [install_chectl.sh](https://www.eclipse.org/che/chectl/) which downloads and installs chectl, and call `chectl version` command during execution.

[2020-02-28 14:35] ibuziuk opened #16174 ""Add Workspace" button is missing after overriding UD product.json"
### Describe the bug
"Add Workspace" button is missing after overriding UD product.json

### Che version
7.9.0

### Steps to reproduce
Reproduced on dev-cluster after overriding the `product.json` https://github.com/redhat-developer/rh-che/pull/1794/files

### Expected behavior
"Create Workspace" button is presented on the Workspace Tab

### Screenshots
![image](https://user-images.githubuserconte

[2020-02-28 15:06] tolusha commented on #16168
@dmytro-ndp
thank you. we got it!

[2020-02-28 15:35] #16168 closed

[2020-02-28 15:39] tolusha commented on #16171
add the following below the image
[code]
so you will get
[code]

But you won't be able to open terminal in that container.
@azatsarynnyy Do you know how to do that?

[2020-02-28 15:40] azatsarynnyy commented on #16133
closed in https://github.com/eclipse/che-theia/pull/643

[2020-02-28 15:40] #16133 closed

[2020-02-28 15:51] ibuziuk commented on #16129
Folks, I want to add also - https://github.com/eclipse/che/issues/16174 to 7.9.1 list

[2020-02-28 15:52] ibuziuk commented on #16174
Also added to 7.9.1

[2020-02-28 16:09] ericwill opened #16176 "vim needs to be updated to v1.14.5"
A new version of the vim plugin is available upstream at:
https://github.com/VSCodeVim/Vim

[2020-02-28 16:09] ericwill opened #16177 "vscode-yaml needs to be updated to 0.7.2"
A new version of the vscode-yaml plugin is available upstream at:
https://github.com/redhat-developer/vscode-yaml

[2020-02-28 16:09] ericwill opened #16178 "vscode-openshift-connector needs to be updated to v0.1.5"
A new version of the vscode-openshift-connector plugin is available upstream at:
https://github.com/redhat-developer/vscode-openshift-tools

[2020-02-28 16:09] ericwill opened #16179 "quarkus-java8 needs to be updated to v1.3.0"
A new version of the quarkus-java8 plugin is available upstream at:
https://github.com/redhat-developer/vscode-quarkus

[2020-02-28 16:09] ericwill opened #16180 "php needs to be updated to v1.3.11"
A new version of the php plugin is available upstream at:
https://github.com/bmewburn/vscode-intelephense

[2020-02-28 16:09] ericwill opened #16181 "vscode-github-pullrequest needs to be updated to 0.19.0"
A new version of the vscode-github-pullrequest plugin is available upstream at:
https://github.com/microsoft/vscode-pull-request-github

[2020-02-28 16:09] ericwill opened #16182 "go needs to be updated to the latest version"
A new version of the go plugin is available upstream at:
https://github.com/Microsoft/vscode-go.git

[2020-02-28 16:09] ericwill opened #16183 "python needs to be updated to 2020.9.111407"
A new version of the python plugin is available upstream at:
https://github.com/Microsoft/vscode-python

[2020-02-28 16:09] ericwill opened #16184 "vscode-kubernetes-tools needs to be updated to 1.1.0"
A new version of the vscode-kubernetes-tools plugin is available upstream at:
https://github.com/Azure/vscode-kubernetes-tools

[2020-02-28 16:09] ericwill opened #16185 "cloud-shell needs to be updated to 7.6.0"
A new version of the cloud-shell plugin is available upstream at:
https://github.com/eclipse/che-machine-exec/

[2020-02-28 16:09] ericwill opened #16186 "typescript needs to be updated to 1.49.3"
A new version of the typescript plugin is available upstream at:
https://github.com/Microsoft/vscode

[2020-02-28 16:09] ericwill opened #16187 "theia-dev needs to be updated to 0.0.3"
A new version of the theia-dev plugin is available upstream at:
https://github.com/che-incubator/che-theia-dev-plugin/

[2020-02-28 16:09] ericwill opened #16188 "code-server needs to be updated to 2.1698-vsc1.41.1"
A new version of the code-server plugin is available upstream at:
https://github.com/cdr/code-server

[2020-02-28 16:09] ericwill opened #16189 "cobol-language-support needs to be updated to 0.10.1"
A new version of the cobol-language-support plugin is available upstream at:
https://github.com/eclipse/che-che4z-lsp-for-cobol

[2020-02-28 16:09] ericwill opened #16190 "cobol needs to be updated to 6.0.19"
A new version of the cobol plugin is available upstream at:
https://github.com/spgennard/vscode_cobol

[2020-02-28 16:17] ericwill commented on #16184
Work has already started: https://github.com/eclipse/che-plugin-registry/pull/398

[2020-02-28 16:20] Ohrimenko1988 commented on #16172
Done https://github.com/eclipse/che/pull/16173

[2020-02-28 16:20] #16172 closed

[2020-02-28 17:47] #16174 closed

[2020-02-28 19:19] amisevsk commented on #16113
`golangci-lint` is installed, except the binary ends up in `/usr/local/go/src/bin` instead of `/usr/local/go/bin`, leaving it outside of the path. The script used to install it outputs to `./bin` for the current working directory.

[2020-02-28 21:00] ericwill commented on #15949
I would like to wrap up this discussion so we can implement a solution. How does this sound:

Move all Dockerfiles into the che-plugin-registry into the respective folders for the version to which they belong. New PRs/additions/updates to the registry will still require two PRs, but at least they will be in the same place. GitHub actions can exist as before to automatically build and push images t

[2020-02-28 21:29] benoitf commented on #15949
where would you put java8/java11 potentially used by several plugins ?

[2020-02-28 21:30] benoitf commented on #15949
BTW I still don't see benefits if we still require two PRs

[2020-02-28 21:37] ericwill commented on #15949
What if we keep the separate repo, but have one repo for all Dockerfiles and use a folder structure instead? My main ambition is to avoid the branch creation step which isn't easy for non-committers to do.

[2020-02-28 21:45] benoitf commented on #15949
one repo for all dockerfiles was what we had (eclipse/che-dockerfiles repository) but it was nightmare as well :-/

Mainly it's because some dockerfiles are not building after few times and some became obsolete

But I don't see major issues with repositories per image
As long as build/image is updated only if one folder is changed.

BTW there is still a manual process to create quay.io repository

[2020-02-29 14:27] dmytro-ndp opened #16191 "[chectl] release build failed on Travis CI"
### Describe the bug
Chectl release build had failed [on Travis CI](https://travis-ci.org/che-incubator/chectl/builds/656310280?utm_medium=notification&utm_source=github_status)
[code]

[2020-02-29 15:45] kaifeng-h opened #16192 "Inconsistent library versions notice."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 1 inconsistent library and 8 false consistent libraries.

Take junit:junit for example, this library is declared as version 3.8.1 in tests/legacy-e2e/che-selenium-test/src/test/resources/projects/check-maven-plugin-test/my-lib, 4.12 in tests/legacy-e2e/che-selenium-test/src/test/resources/projects/check-mave

[2020-03-01 00:37] maxandersen opened #16193 ".devfile.yml not picked up"
### Describe the bug

IDE configuration files should not be forced visible into users project.
`.devfile.yml` is mentioned in places as it should work but when I put `.devfile.yml` che.openshift.io always ignores it.

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: che.openshift.io 2020-03-01
### Steps to reproduce
add .devfile.yml and see it be ignored.

### Expected behavior

che sho

[2020-03-01 07:35] azatsarynnyy commented on #16129
che-theia has been released

[2020-03-02 00:11] sttyerase commented on #15514
I had the same issue using Chrome.  It would be helpful to have the FAQ updated when the requirements change. I added the following to my Settings for Cookies and Site Data in Chrome.
![Screen Shot 2020-03-01 at 7 09 13 PM](https://user-images.githubusercontent.com/25646282/75636859-56842180-5bf0-11ea-90a4-c9def8369cdd.png)

[2020-03-02 05:56] sparkoo commented on #16161
fixed by #16162

[2020-03-02 05:56] #16161 closed

[2020-03-02 07:00] #16191 closed

[2020-03-02 07:52] skabashnyuk commented on #16193
@maxandersen duplicate https://github.com/eclipse/che/issues/14548?

[2020-03-02 10:12] Katka92 opened #16194 "Autosave + formatter misbehavior in default stacks"
### Describe the bug
Linter is too fast and editing a Java file in this example devfile is uncomfortable. The linter e.g. removes default indention when the user wants to add a new line and type some code to it.

This behavior is reproducible in `NodeJS Angular Web Application` and `java with Spring Boot and MySQL` default stacks.

### Che version

 - [x] latest 7.9.0
 - [ ] nightly
 - [ ] other:

[2020-03-02 10:23] mmorhun opened #16195 "Create CI job to build Che Cert Manager CA certificate generator image"
### Is your task related to a problem? Please describe.
It is needed to have automated build of Che Cert Manager CA certificate generator image.

### Describe the solution you'd like
On each commit in master branch of [Che Cert Manager CA certificate generator image repository](https://github.com/che-dockerfiles/che-cert-manager-ca-cert-generator-image) we should build a new image and push it to [

[2020-03-02 10:38] #13709 closed

[2020-03-02 10:58] Katka92 opened #16196 "LS for default PHP stacks not working"
### Describe the bug
PHP default stacks don't have any Language support. Code highlighting, error highlighting, code completion etc.

### Che version

 - [x] latest 7.9.0
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

 - Go to Workspace -> Add Worksapce
 - Create and open `PHP Symfony` workspace
 - Open file symfony-demo-application/src/Controler/BlogController.php
 - No LS f

[2020-03-02 11:09] Katka92 commented on #15919
On 7.9.0 Hosted che on prod-preview error highlighting is not working for a Rust devfile, but code suggestion and completion seems to be working correctly.

[2020-03-02 11:31] ibuziuk commented on #16080
PRs sent:
- https://github.com/eclipse/che/issues/16080
- https://github.com/openshiftio/saas-openshiftio/pull/1389
-

[2020-03-02 11:36] svkr2k opened #16197 "Share files and folders between containers within a workspace"
I would like to share a large set of files between two containers in a workspace.

Currently, in order to share the certain files under a folder, I included the following mount paths in the plugin description yaml (which is referenced in devfile) for both the containers:

[code]

This seem to work when the testFolder is empty. so that the files generated by one container can be accessed by another

[2020-03-02 12:04] skabashnyuk commented on #16197
@svkr2k Thank you for your question. I think you can't do that at this moment.
Most likely this can help you.
 - https://github.com/eclipse/che/issues/14680 User should be able to set/retrieve secrets/configmap and see them mounted and/or as env variables
- https://github.com/eclipse/che/issues/13318 devfile: che plugins (vscode) and che editors should accept volumes
- https://github.com/eclipse/c

[2020-03-02 12:46] svkr2k commented on #16197
Hi @skabashnyuk , thank you !
Kindly clarify:

In the example https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/eclipse/che-theia/next/meta.yaml#L70, "/plugins" folder is mounted. So, can't this folder be "pre-populated" in the cheEditor while building it's image?

[2020-03-02 12:47] #15557 closed

[2020-03-02 13:38] wictrix commented on #16156
I appreciate the help attempts.

But unfortunately as we were unable to deploy Eclipse / CHE for use by the team on an internal network, we opted not to use Eclipse / CHE as an IDE in our company.

[2020-03-02 13:38] #16156 closed

[2020-03-02 13:41] tolusha commented on #14699
Syntax:
`chectl server:start --offline <stacks-list> --extra-images <images-list>`

Briefly, if `offline` flag is set:
1. figure out the current Che version (read from `package.json` ?)
2. go to devfile registry [1], get given stacks (if `<stacks-list>` exists otherwise all stacks)
3. get corresponding list of stack images.
4. get list of plugins and get corresponding images in plugin registry.
5.

[2020-03-02 13:47] vinokurig opened #16199 "Configure OpenShift oAuth client for the OpenShift oAuth provider by operator"
### Is your enhancement related to a problem? Please describe.

The OpenShift oAuth provider which was introduced by https://github.com/eclipse/che/pull/15963 must be manually configured to corresponding OpenShift oAuth client: https://www.eclipse.org/che/docs/che-7/configuring-openshift-oauth/. We can get rid of manual configuring by applying a new option for `workspace:start` command in the che-

[2020-03-02 13:56] nickboldt commented on #15962
This is even worse when whitelabelled as CRW:

![image](https://user-images.githubusercontent.com/227597/75682619-b2d45900-5c63-11ea-8d76-0f28e6d2feed.png)

[2020-03-02 13:58] nickboldt commented on #15962
Escalating to blocker. Something this obviously broken/ugly cannot slip into product.

Please fix for 7.9.1 if possible.

[2020-03-02 14:10] #16100 closed

[2020-03-02 14:22] ibuziuk commented on #16196
@tsmaeder could you please take a look?

[2020-03-02 14:45] ibuziuk opened #16200 "Workspace stop time increased sufficiently in the 7.9.0 version"
### Describe the bug
Workspace stop time increased sufficiently after the 7.9.0 update from 2 to 40 seconds

![image](https://user-images.githubusercontent.com/1461122/75686160-10849780-5c9c-11ea-86ec-1bfdafd6f04f.png)

### Che version

 - [x] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

- Start workspace
- Wait until started
- Stop Workspace
- Error: workspace will

[2020-03-02 14:56] JPinkney commented on #16196
I think the problem is that when we switched to using the vscode builtins in che-theia we don't provide a PHP language configuration: https://github.com/eclipse/che-theia/blob/master/generator/src/templates/theiaPlugins.json. Since the PHP filetype is no longer be there the PHP language features won't activate when a PHP file is opened.

When I tested on the 7.10.0-SNAPSHOT and opened up BlogContr

[2020-03-02 15:16] amisevsk commented on #16196
Can this be worked around by manually opening a file and setting its type to `php`? Does the PHP plugin depend on vscode/theia for initialization only or also for finding files?

[2020-03-02 15:31] rhopp commented on #16166
Update:
This happens, because java language server decorates the file in editor with "Run|Debug" as shown on this screenshot:
![image](https://user-images.githubusercontent.com/1215011/75690231-c652e480-5ca2-11ea-863f-6ac0a8930bf4.png)

The problem is that this often happens in between getting the locator for the error marker and it's actual lookup (because this locator is sadly based on position)

[2020-03-02 15:33] JPinkney commented on #16196
Unfortunately not, since we removed the @theia/textmate-grammers package the PHP filetype that is associated with the syntax colourization etc doesn't get added to Theia and since we don't have the vscode-builtin-php we technically don't have a "real" PHP language configuration. For some reason there is a `php` filetype that is available but I believe it's only coming from files extension type of

[2020-03-02 15:34] amisevsk commented on #16200
I checked the yaml for a deployment directly and it does contain `terminationGracePeriodSeconds: 30` whereas 7.8.0 had `terminationGracePeriodSeconds: 0`

[2020-03-02 15:40] nickboldt commented on #16129
Can we unrelease (untag) 7.9.1 to add fix for https://github.com/eclipse/che/issues/15962 ?

We should coordinate when to start the release so all components release in order when we're ready.

[2020-03-02 15:59] ibuziuk commented on #16200
@amisevsk thanks, that was the main suspect ;)

[2020-03-02 16:14] mstavares commented on #16110
Hi,

Any news about this?

Thank you

[2020-03-02 16:20] tomgeorge opened #16202 "Workspace start fails due to Duplicate key when referencing a plugin twice"
### Describe the bug

When starting a workspace on che that references a plugin twice, the workspace fails with a duplicate key error.  This particular example adds the woopra telemetry plugin URL as a `chePlugin` when it is already added in the background by the default workspace editor plugins.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

A

[2020-03-02 16:36] ibuziuk commented on #16192
@calvinhkf thank you very much for reporting! Could you please tell a little bit more about the tool, that was used?

[2020-03-02 16:38] ibuziuk commented on #16192
@rhopp putting `area/qa` since the inconsistency is coming mostly from the `legacy-e2e` (is it planned to be deprecated?) according to the report.

[2020-03-02 16:40] ibuziuk commented on #16193
Closing as duplicate - https://github.com/eclipse/che/issues/14548

[2020-03-02 16:40] #16193 closed

[2020-03-02 16:47] ibuziuk commented on #16199
@tolusha adding `team/deploy` label

[2020-03-02 16:48] ibuziuk commented on #16199
setting P1 but I'm not sure about priority for this particular issue

[2020-03-02 17:01] l0rd commented on #16199
@vinokurig workspaces:start is a chectl command, you want to automate the creation of the client at the operator level right?

[2020-03-02 17:02] nickboldt commented on #15962
To be clear there are 3 issues here but one of them might be downstream (not sure if it's a whitelabel coding problem or a missing image in downstream):

* 2 lists of extensions (one empty ABOVE the logo, one populated BELOW the logo)
* 2 "Ok" buttons (left one does nothing, right one closes the dialog as expected)
* broken CRW icon

[2020-03-02 17:04] nickboldt commented on #15962
I've been told to not call this a blocker so removing that label. But it's still a priority/P1 if not a severity/S1.

[2020-03-02 17:05] azatsarynnyy commented on #16129
we're working on #15962
so, let's untag 7.9.1
Thanks!

[2020-03-02 17:15] ibuziuk commented on #16129
Issues that should be considered to be included in `7.9.1`:
- Workspace stop time increased sufficiently after the 7.9.0 update #16200
- LS for default PHP stacks not working #16196

[2020-03-02 17:40] nickboldt opened #16204 "[Dashboard / Getting Started / UX] rectangular icons are truncated"
### Is your enhancement related to a problem? Please describe.

Square icons look fine. Rectangular ones (eg., php, quarkus, .net) are truncated.

![image](https://user-images.githubusercontent.com/227597/75701961-a8758780-5c82-11ea-9f56-4c39fca27745.png)

### Describe the solution you'd like

Could the viewable area of the icons be widened to allow for rectangular icons?

![image](https://user-im

[2020-03-02 17:51] nickboldt commented on #16129
7.9.1 tags removed from 3 repos in quay and upstream GH repo.

Onward to 7.9.1!

[2020-03-02 19:16] nickboldt commented on #16072
Was this fix backported to 7.9.x branch? I'm wondering how it was done (I don't see a linked PR).

Was it this?

https://github.com/eclipse/che-operator/commit/b001254b022513ed6eb332647857e20750cb41cf

And if so how does that fix the 7.9.x branch? Should I just run it and see what happens?

[2020-03-03 03:59] svkr2k commented on #13318
I too need this feature of sharing files and folders between cheEditor and chePlugin and possibly other containers. Otherwise, I end up with copying several GB of files to both the containers.

[2020-03-03 04:04] calvinhkf commented on #16192
@ibuziuk The idea of the tool is much resembles _enforcer_ -the maven tool, but does much more than it, since _enforcer_ detects inconsistencies only inter-dependent modules and fails the build. Our tool takes a step further to get a whole picture of library version usages in projects, which could keep dependencies tidy and avoid inconsistency issues beforehand. Secondly, the next part of the tool

[2020-03-03 04:53] YasithaSandeep opened #16205 "How to save gitlab user credentials or ssh keys on eclipse che"
Hi all,
I just fresh installed Eclipse che version 7.9.0 On Centos 7 and I hardly managed to successfully complete the setup. Now I have few questions, Starting with; I don't see a profile tab in my eclipse che when I searched in many blogs on "How to import you local git workspace to eclipse che"  everyone is pointing to Profile -> Preferences to store the ssh key.
for your reference here I have

[2020-03-03 05:58] sparkoo commented on #16062
@skabashnyuk please review the list of proposed metrics in the description. Are you ok with it as a scope of this task?

[2020-03-03 07:18] tolusha commented on #16205
@vinokurig

[2020-03-03 07:36] tolusha opened #16206 "[che-operator] Copy Dockerfile to `build` directory"
### Is your task related to a problem? Please describe.
`operator-sdk` required `build` directory with a `Dockerfile` inside.
Currently Dockerfile located in the root of the project

### Describe the solution you'd like
Move `Dockerfile` to `build` directory and adopt all bash scripts

[2020-03-03 07:37] tolusha commented on #16072
https://github.com/eclipse/che/issues/16206
Create build directory in the root of the project and copy Dockerfile there.

[2020-03-03 08:56] metlos commented on #16112
I believe this is fixed by #16128.

[2020-03-03 08:56] #16112 closed

[2020-03-03 08:58] flacatus commented on #15803
Pending to setup to run the scripts in CI.

[2020-03-03 09:30] skabashnyuk commented on #16062
The current numbers is enough. Maximum we can count on Prometheus/Grafana side.
Others look good.

[2020-03-03 09:35] davidfestal commented on #16199
In the case when `openshiftOAuth` mode is already enabled in the Che operator, we could probably explore the ability to reuse the existing `OAuth client` already created by the operator, instead of creating a second one ?

[2020-03-03 09:38] dmytro-ndp opened #16208 "Create "Get Started" page object in E2E typescript selenium tests"
### Is your task related to a problem? Please describe.
Eclipse Che 7.9.0 had introduced "**Get Started**" page as a new entry point. So, we need to have functionality to test this page in our typescript selenium tests (both upstream and downstream).
![Screenshot from 2020-03-03 11-18-16](https://user-images.githubusercontent.com/1197777/75762431-52b4e400-5d43-11ea-9050-85ec8dab7df1.png)

### Desc

[2020-03-03 09:39] tsmaeder commented on #16202
@tomgeorge so what should the behaviour be?

[2020-03-03 09:42] tsmaeder commented on #16194
The formatter is doing the right thing here: it is formatting the file on save. The fact that autosave is on and the autosave timeout is not language specific IMO.

[2020-03-03 09:45] ibuziuk commented on #16202
@tsmaeder fail faster + better error message

[2020-03-03 09:48] tsmaeder commented on #16197
@svkr2k as far as I know, volumes always start empty in kubernetes/OpenShift. There were conversations in the past about cases where this is possible, but it sounded like not the thing to do.
What you _can_ do is put the content in an init container and copy it to the persistent volume on startup. If you check for existence, you would only have to do this once.

[2020-03-03 09:53] Katka92 opened #16209 "Switch workspace creation tests to Get Started page"
### Is your task related to a problem? Please describe.
The preferred way of creating workspaces from default stacks is using `Get Started` page instead of `Workspaces` page. The e2e tests should reflect this.

### Describe the solution you'd like
All devfile tests should use `Get Started` page for workspace creation instead of `Worksapces` page.

### Describe alternatives you've considered
There

[2020-03-03 10:03] ibuziuk commented on #16194
Looks like a perfect example of the UX issue - both autosave & formatter do the right things providing a poor UX to the end-user :/

It looks like the autosave should be not time-based, but rather focus based (e.g. a file is saved when the focus lost). Hot-fix might be increasing the autosave time.

[2020-03-03 10:13] tsmaeder commented on #16196
There is a PR here: https://github.com/eclipse/che-theia/pull/648 but Github doesn't autolink it.

[2020-03-03 10:15] ibuziuk commented on #16209
I think the creation of workspace from both "Getting Started" & "Workspaces" tabs should be covered by the tests

[2020-03-03 10:23] tony-engineering commented on #9429
@dbengtson thanks for the hint, that worked

[2020-03-03 10:40] skabashnyuk commented on #15395
I see two ways to solve this issue.

1. Upgrade k8s client to 4.8.0. See https://github.com/fabric8io/kubernetes-client#compatibility-matrix
   However, it requires some code changes(Model classes moved/changes, etc.) and testing. Minimal k8s version would be  1.9.0. OpenShift 3.9.0.
2. Quick and dirty. Assume that lastTimestamp= creationTimestamp if lastTimestamp is null.
Example
[code]
@l0rd @be

[2020-03-03 10:47] tsmaeder commented on #16202
@ibuziuk your guess or do you know?

[2020-03-03 10:56] sleshchenko commented on #16012
Should be fixed by https://github.com/eclipse/che-machine-exec/pull/82

[2020-03-03 10:56] #16012 closed

[2020-03-03 11:01] tsmaeder commented on #16194
IMO autosave is a misfeature when editing structured content like program code. We turned it off in the devfile editor because it was so annoying and I'm very happy about it.

[2020-03-03 11:36] sleshchenko commented on #16056
Seems that we're not able to use ValidatingWebhook for exec on OpenShift 3.x
![Screenshot_20200303_133312](https://user-images.githubusercontent.com/5887312/75771924-9ca5c600-5d53-11ea-8ee0-451c70331c05.png)
This issue is described in https://github.com/kubernetes/kubernetes/issues/59759
Fixed by https://github.com/kubernetes/kubernetes/commit/d1636b8019fa042eb1135263b00293b1c806b1d7  in v1.12.0-b

[2020-03-03 11:53] ibuziuk opened #16211 "Compatibility CI with Hosted Che does not work"
### Describe the bug
Compatibility CI with Hosted Che does not work - https://ci.centos.org/view/Devtools/job/devtools-rh-che-build-master/
Basically, it always uses the version of upstream defined in the Hosted Che (not the latest available)

### Expected behavior
Compatibility CI with Hosted Che will use the latest version of upstream from master
Ideally, CI should be triggered on every commit t

[2020-03-03 12:24] vinokurig commented on #16199
@l0rd

It supposed to be automated at the operator level, but `chectl` should have an ability to control this option.

@davidfestal
I don't like the idea of reusing existing `openshiftOAuth` mode because user might want to use the OpenShift provider separately from the `openshiftOAuth` mode.

[2020-03-03 12:36] vinokurig commented on #16205
@YasithaSandeep https://www.eclipse.org/che/docs/che-7/version-control/#accessing-a-git-repository-via-ssh_version-control

[2020-03-03 13:22] #15815 closed

[2020-03-03 13:34] #16166 closed

[2020-03-03 14:15] RomanNikitenko opened #16212 "Bump version of Xtermjs"
### Is your task related to a problem? Please describe.
Version of `Xtermjs` for `theia` is going to be updated very soon: https://github.com/eclipse-theia/theia/pull/7121
It will bring the breaking changes to `che-theia` as our `RemoteTerminalWidget` extends `TerminalWidgetImpl` of `theia`.
I checked it using che-in-che development and got the compilation errors, like:

![remote_term_widg](https:

[2020-03-03 15:02] jagraj commented on #16150
@tolusha
My workaround was to create project first and then run `chectl` to install che. Some how chectl does not create project if one does not exist any more.

[2020-03-03 15:11] flacatus opened #16214 "Add to minishift installation Github Token."
### Is your task related to a problem? Please describe.

Actually some PR checks fail in che-operator because minishift installation doesn't include github_token.
### Describe the solution you'd like

Add to minishift installation Github_token to prevent API rate limit exceeded

### Describe alternatives you've considered

### Additional context

Example of PR check fail.

[2020-03-03 15:20] nickboldt commented on #14662
Is this issue done? If so, please close. If not, please move to backlog or scheduled milestone.

[2020-03-03 15:22] nickboldt commented on #15054
Closing as this appears to have been done in Che 7.8 as part of the broker refactoring. \o/

[2020-03-03 15:22] #15054 closed

[2020-03-03 15:24] nickboldt commented on #16129
FYI we're going to start the Che 7.9.1 release tomorrow Wed morning @ 0900 EST / 1500 CEST / 1600 EEST, beginning with che-theia as usual.

If everything above is not included by that time, items will slip to 7.9.2, scheduled after 7.10

[2020-03-03 15:24] ericwill opened #16215 "Provide script to automatically file issues for outdated plugins"
Currently we have a growing number of plugins in the plugin registry. As this number increases, keeping these plugins up to date will become a bigger challenge.

There should be an automated way to determine which plugins are out of date, and file issues for them. This makes the work more manageable, and avoids checking each plugin individually.

[2020-03-03 15:31] ericwill commented on #15819
Filed sub issue for plugin update checking script: #16215

[2020-03-03 15:31] #16215 closed

[2020-03-03 15:39] nickboldt commented on #14662
Tom said: "No it probably should go back in the backlog"

[2020-03-03 16:14] tomgeorge commented on #14662
As it stands, a "regular" user would not be able to install che via `chectl` without the intervention of an administrator.  We had a couple of ideas to proceed but never started work on them. @tolusha @l0rd I believe this is under the deploy team now.

Also, is this a P1 issue anymore?

[2020-03-03 16:15] tomgeorge commented on #16202
I agree with Ilya.  If possible it should prevent the user from adding a duplicate plugin with a notification, or it should fail with a clear error message .

[2020-03-03 17:25] Ohrimenko1988 commented on #16208
Done https://github.com/eclipse/che/pull/16213

[2020-03-03 17:25] #16208 closed

[2020-03-03 17:44] ibuziuk commented on #15885
@dneary any news?

[2020-03-03 21:28] l0rd commented on #16205
@YasithaSandeep can you please point us to the documentation that you are following that mentioned `Profile->Preferences`? That was Che version 6 or earlier and those instructions should be updated and mention that in the meantime we have released version 7 (august 2019) and point to the new doc.

[2020-03-03 23:04] azatsarynnyy commented on #16171
[code]
that's the only way I know

[2020-03-04 03:09] YasithaSandeep commented on #16205
@vinokurig  Thank you verty much for the update. will try and comeup with the feedback.

[2020-03-04 03:10] YasithaSandeep commented on #16205
@l0rd  I went through many documentations. unfortunately i can't remember them all. but the most recent one was
https://medium.com/modern-stack/connecting-eclipse-che-to-vsts-2c06125e1163

the link above.
thanks

[2020-03-04 05:41] YasithaSandeep commented on #16205
@vinokurig
I tried the given steps from the document but still "Git clone"  gives me the below errors.
sorry I forgot to mention that i'm trying to clone from a locally hosted gitlab.

Cloning into '/projects/terraform'...
fatal: unable to access 'http://gitlab.rezos.io/devops/terraform.git/': Could not resolve host: gitlab.rezos.io

fatal: ambiguous argument 'master': unknown revision or path not

[2020-03-04 06:39] vinokurig commented on #16205
@YasithaSandeep I suppose that your local GitLab is configured to use TLS with a self signed certificate. If so you should inject your GitLab self signed certificate to Che: https://www.eclipse.org/che/docs/che-7/advanced-configuration-options/#deploying-che-with-support-for-git-repositories-with-self-signed-certificates_advanced-configuration-options

[2020-03-04 07:09] #16200 closed

[2020-03-04 07:17] YasithaSandeep commented on #16205
actually It has no certificate installed. In that case how am I suppose to continue?

[2020-03-04 07:20] vinokurig commented on #16205
Can you try to generate an SSH key for the `github.com` ?

[2020-03-04 07:21] tolusha commented on #16171
@amisevsk
Can we patch the image in question with [1] ? I guess it will solve our problems

https://github.com/eclipse/che-devfile-registry/tree/master/arbitrary-users-patch

[2020-03-04 07:39] YasithaSandeep commented on #16205
@vinokurig  I'm not clear?

generating a SSH key for github,com in the sense are you referring to my local gitlab or the github.com itself

[2020-03-04 07:44] vinokurig commented on #16205
I mean hosted github.com. I just want to be sure that your ch-theia can work with SSH key for known git provider.

[2020-03-04 07:49] skabashnyuk opened #16216 "InternalInfrastructureException: Duplicate key in KubernetesInternalRuntime"
### Describe the bug
 Error in hosted che logs.
[code]

<details><summary>Workspace config json</summary>
<p>

[code]
"https://static.developers.redhat.com/che/theia_artifacts/che-workspace-telemetry-woopra-backend/0.0.1/meta.yaml"
[code]

</p>
</details>

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.8.0

### Steps to reproduce
Unknown

### Expected behavior
Meaningful message to

[2020-03-04 08:11] #15789 closed

[2020-03-04 08:14] skabashnyuk commented on #16216
Duplicate https://github.com/eclipse/che/issues/16202

[2020-03-04 08:14] #16216 closed

[2020-03-04 08:49] #15670 closed

[2020-03-04 08:52] svor commented on #15664
The instructions were described here https://docs.google.com/document/d/1RGfczUA44LzkiiZ0PRqAJZmBpX_yVH6i7uidbIa-pBo/edit?usp=sharing

[2020-03-04 08:58] skabashnyuk commented on #14590
@SDAdham could you please update section "Steps to reproduce"

[2020-03-04 09:01] YasithaSandeep commented on #16205
ok This what I tried.

1. generating ssh key and adding on ch-thei id terminal and github

2.generating ssh key and adding on tools terminal and github

only the second instance worked and cloned the repository but whenever the workspace restarts i have to do it all over again

che-thei ide terminal seems to have no connectivity i suppose i gave me below error when i tried to clone from that termi

[2020-03-04 09:08] dmytro-ndp opened #16217 "Run java selenium tests PR check on demand"
### Is your task related to a problem? Please describe.
Java selenium tests PR check is flaky and time consuming.
Don't run Java selenium tests PR on every commit, but on demand by command "[ci-test]".

[2020-03-04 09:15] rhopp commented on #16209
@l0rd What are the plans in this front? Will we have two redundant pages for workspace creation, or do we want to deprecate the "old one"?

[2020-03-04 09:22] flacatus commented on #16214
GITHUB_TOKEN was added successfully to minishift installation!

[2020-03-04 09:22] #16214 closed

[2020-03-04 09:23] skabashnyuk opened #16218 "[Hosted che] Not able to run workspace via devfile link ('f?url' parameter)"
### Describe the bug
I was not able to use che factory on hosted che.
- https://che.openshift.io/f?url=https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/go/devfile.yaml
- https://che.openshift.io/f?url=https://github.com/eclipse/che

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.9.0

### Steps to reproduce
1. Open browser
2. Paste link
3. Hit enter.
4.

[2020-03-04 09:24] skabashnyuk commented on #16218
Tested locally on crc, 7.10-x  - working

[2020-03-04 09:27] tsmaeder commented on #16209
@Katka92 I took the liberty to update the title, as I found it confusing.

[2020-03-04 09:30] ibuziuk commented on #16218
Could you please clarify what is the browser versio ? works fine on Fedora against Chrome 76.0.3809.100-1

[2020-03-04 09:37] skabashnyuk commented on #16218
Google Chrome
Версія 80.0.3987.122 (Розробка) (64-розрядна версія)

[2020-03-04 09:38] ibuziuk commented on #16218
Was able to reproduce in incognito (I suspect that some of the UD files has been cached).
@sleshchenko I suspect this might be related to the fact that we do UD customization via product.json now

[2020-03-04 09:39] skabashnyuk commented on #16218
`Версія 80.0.3987.132 (Розробка) (64-розрядна версія)` - same thing

[2020-03-04 09:40] skabashnyuk commented on #14590
Tested localy on che 7.10.x
https://che-che.apps-crc.testing/f?url=https://github.com/eclipse/che
Not able to reproduce

[2020-03-04 09:40] #14590 closed

[2020-03-04 09:47] skabashnyuk commented on #13687
Not reproduced
![Знімок екрана 2020-03-04 о 10 46 41](https://user-images.githubusercontent.com/1614429/75866544-7a6c8080-5e05-11ea-92db-bd956d3a586e.png)

[2020-03-04 09:47] #13687 closed

[2020-03-04 09:48] #13061 closed

[2020-03-04 09:51] ibuziuk commented on #16218
The workaround is to use the "Import Devfile" flow:
![image](https://user-images.githubusercontent.com/1461122/75866905-10081000-5e06-11ea-8551-30d2f00ac364.png)

[2020-03-04 10:01] SkorikSergey commented on #15496
Fixed

[2020-03-04 10:01] #15496 closed

[2020-03-04 10:02] ibuziuk opened #16219 "Create e2e test for workspace creation via devfile url (`f?url=` parameter )"
### Is your task related to a problem? Please describe.
Currently, there is no test coverage for workspace creation via the `f?url=` flow which is highly promoted.

### Describe the solution you'd like
e2e test for workspace creation via `f?url=` e.g.:

- https://che.openshift.io/f?url=https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/go/devfile.yaml
- https://che.open

[2020-03-04 10:04] vinokurig commented on #16205
By generating an SSH key I meant generating it by Che commands: https://www.eclipse.org/che/docs/che-7/version-control/#accessing-a-git-repository-via-ssh_version-control. Can you try it with the hosted github?

[2020-03-04 10:06] rhopp commented on #16219
I would be also interested what's the reason of #16218 and why this wasn't caught by some tests on the component level?
e2e tests are not a silver bullet for everything ;-)

[2020-03-04 10:07] rhopp commented on #16219
To put it another way... Coverage of e2e tests should be last resort - for scenarios, which (for some reason) *cannot* be covered for example by unit tests.

[2020-03-04 10:09] skabashnyuk commented on #12555
Covered by
- Support env for components of type kubernetes/openshift #15121
- Support env for components of type chePlugin and cheEditor #14343

[2020-03-04 10:09] #12555 closed

[2020-03-04 10:10] skabashnyuk commented on #15050
Closing since the definition is unclear.

[2020-03-04 10:10] #15050 closed

[2020-03-04 10:11] #14117 closed

[2020-03-04 10:14] skabashnyuk commented on #15287
Duplicate https://github.com/eclipse/che/issues/14939

[2020-03-04 10:14] #15287 closed

[2020-03-04 10:15] skabashnyuk commented on #14939
See more info in description https://github.com/eclipse/che/issues/15287#issue-527234529

[2020-03-04 10:16] skabashnyuk commented on #15259
Duplicate https://github.com/eclipse/che/issues/15904

[2020-03-04 10:16] #15259 closed

[2020-03-04 10:17] skabashnyuk commented on #15904
Duplicate https://github.com/eclipse/che/issues/14859

[2020-03-04 10:17] #15904 closed

[2020-03-04 10:19] skabashnyuk commented on #15312
Duplicate https://github.com/eclipse/che/issues/15906

[2020-03-04 10:19] #15312 closed

[2020-03-04 10:31] ibuziuk commented on #16219
@rhopp this looks like a subtle issue that might be Hosted Che specific. I suspected that it would be reproducible when `product.json` is overridden, but this might not be the case.
I doubt that this flow could be properly tested with unit tests only since multiple components are involved + fancy redirect logic. So, this flow deserves an e2e test IMO

[2020-03-04 10:34] #15601 closed

[2020-03-04 10:37] tolusha commented on #15601
`plugin-registry-url` and `devfile-registry-url` are not taken into account on purpose when `che-operator-cr-yaml` is used. We added warning indicating that.
If it is needed to set external devfile/plugin registries it is possible to do in cr file.

[2020-03-04 11:16] tolusha commented on #16150
it is weird,
[code]
It is more connection issue.

[2020-03-04 11:20] l0rd opened #16220 "We should not declare that Che works with any desktop IDE"
### Describe the bug

In the https://www.eclipse.org/che/features/#any-ide we declare that

and

That's not true. We do not provide SSH Access, Mount-and-Sync or an electron client.

### Additional context

Users are puzzled https://github.com/eclipse/che/issues/15233

[2020-03-04 11:22] #14606 closed

[2020-03-04 11:23] dmytro-ndp commented on #16219
@ibuziuk, @rhopp: we have already had [CreateFactoryFromDevfileUrl](https://github.com/eclipse/che/blob/master/tests/legacy-e2e/che-selenium-test/src/test/java/org/eclipse/che/selenium/factory/CreateFactoryFromDevfileUrl.java#L33  ) E2E java selenium test.
We are running it nightly and it have passed recently https://ci.centos.org/job/devtools-che-nightly-multiuser-stable-test/25/

[2020-03-04 11:24] skabashnyuk commented on #15135
I think all these events are already sent over the status WebSocket channel

[2020-03-04 11:24] #15135 closed

[2020-03-04 11:24] l0rd commented on #16220
@themr0c does the doc team own https://www.eclipse.org/che (source code at https://github.com/eclipse/che-website)?

[2020-03-04 12:22] tolusha opened #16221 "Create a job to download images into cluster nodes for offline mode"
### Is your task related to a problem? Please describe.
To have Eclipse Che working in offline mode we have to prepull all images into cluster nodes.

### Additional context
https://github.com/eclipse/che/issues/14699

[2020-03-04 12:29] YasithaSandeep commented on #16205
@vinokurig

Tried as you said but still giving me the same error.

1
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDb2QsjVmrim7Bltj6+wi66F9Y+kTYaCn3P1V0TK9wHeZhLfpIRYSaoHL93lyyi7sUanJjveAUL4v4rtlFFd3FvD5KBanu4TxqsfOv4G8a0oAsqnqmxO0nuNV+wLC0Z3BZ1JhY4aXWFF3HvqnL0Py2zerFfw7yj9dCNeuTEJYw73bVcL7ggnvlbxJAzTTLKoMbqApXGimJzrWM+uDtpyZ4sljEA5rO4Cg9yIIL4LMv2qXeLPS/Q74GpGkqDJuabF51z3vz3a1JGN99wjwKej0Uv9efRJO5rRwGqWsb

[2020-03-04 12:36] YasithaSandeep commented on #16205
Also tried with my private github account  which is public. still gives me the error

Open repository: /projects/Test

fatal: ambiguous argument 'master': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'

Cloning into '/projects/Test'...
ssh: Could not resolve hostname github.com: Try again
fatal:

[2020-03-04 12:44] tolusha commented on #15658
https://github.com/eclipse/che/issues/16052

[2020-03-04 12:59] ibuziuk opened #16224 "Update Hosted Che to the 7.9.1 upstream version"
### Is your task related to a problem? Please describe.
Update Hosted Che to the 7.9.1 upstream version.
Blocked by - https://github.com/eclipse/che/issues/16129

[2020-03-04 13:07] ibuziuk commented on #16218
PR with workaround - https://github.com/redhat-developer/rh-che/pull/1817
real fix for 7.9.1 - https://github.com/eclipse/che/pull/16223

[2020-03-04 13:38] tolusha commented on #14589
`--devfile-registry-url` is ignored when  `--che-operator-cr-yaml` is used.
External devfile registry can be configured in cr yaml file

[2020-03-04 13:38] #14589 closed

[2020-03-04 13:45] Ohrimenko1988 opened #16225 "[TS_SELENIUM] Create method for clicking to "Get Started" button on dashboard."
### Is your enhancement related to a problem? Please describe.
Currently, we have a new "Get Started" page on the dashboard and button "Get Started" for opening this page. But we dont have a method for clicking on it.
![Screenshot from 2020-03-04 15-43-25](https://user-images.githubusercontent.com/22724619/75885531-59208a00-5e2f-11ea-9ceb-7dfbd83f5ec5.png)

### Describe the solution you'd like

Cr

[2020-03-04 13:55] #14817 closed

[2020-03-04 13:59] tolusha commented on #14462
Has been fixed.

[2020-03-04 13:59] #14462 closed

[2020-03-04 14:01] #14457 closed

[2020-03-04 15:46] tolusha opened #16228 "[che-operator] Set up image digest on released version of CSV"
### Is your task related to a problem? Please describe.
To have Eclipse Che working on AirGap scenario we have to rely on image digest.

### Describe the solution you'd like
Modify `olm/release-olm-files.sh` to update `operator.yaml` to set image digest on release.

### Additional context
https://github.com/eclipse/che/issues/15350

[2020-03-04 16:09] metlos commented on #16205
`ssh: Could not resolve hostname github.com: Try again` is IMHO trying to tell us that you don't have connectivity to `github.com` (or your gitlab instance for that matter) from the workspace pod.

Could you try running:
[code]

and try pinging github.com or your gitlab instance? This should tell us whether you have connectivity to the outside world from your cluster or not.

[2020-03-04 16:10] amisevsk commented on #16171
@tolusha @jswordfish Yeah, the 'patch' there is meant to be easily reusable. Take a look at the [Dockerfile](https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/Dockerfile), which basically sets up an entrypoint to add an entry to /etc/passwd for the user and adds a nonterminating command to be executed at startup. We actually already do this for `mcr.microsoft.com/do

[2020-03-04 16:36] amisevsk commented on #14698
@davidwindell Sorry to pop in after a month, I agree that we should be able to set PullPolicy for every container, but wanted to share some background on how this affects workspace startup times.

The messages you are seeing do not necessarily mean that the entire image is being pulled every time, and it's due to some confusing semantics around pull policies.

A pull policy of `Always` means "alwa

[2020-03-04 16:40] amisevsk commented on #15395
I'm a :+1: on upgrading the kubernetes client -- I ran into a few issues when trying to use a newer version of quarkus for https://github.com/che-incubator/che-api-sidecar due to (I think, I didn't look into it too deeply) a transitive dependency in fabric8-kubernetes-client.

[2020-03-04 16:59] Ohrimenko1988 commented on #16225
Done https://github.com/eclipse/che/pull/16226

[2020-03-04 16:59] #16225 closed

[2020-03-04 17:51] ibuziuk commented on #16080
7.9.0 has been rollout on production. Closing

[2020-03-04 17:51] #16080 closed

[2020-03-04 18:31] nickboldt opened #16229 "Che 7.9.2 Release"
### List of pending issues / PRs

- [x] [Docs] Workspaces RAM and CPU requirements #14612
- [ ] [Docs] Add #15900 and #15614 to known issues
- [x] When using digests, container names can be longer than 63 characters: https://github.com/eclipse/che/issues/16288, PR: https://github.com/eclipse/che/pull/16290
- [x] [Test] Fix Java based devfile tests https://github.com/eclipse/che/pull/16203
- [x] Ja

[2020-03-04 18:34] nickboldt commented on #16129
I've removed the 4 incomplete issue and moved them to https://github.com/eclipse/che/issues/16229 for 7.9.2 followup release.

Meanwhile these are done:

* che-theia
* che-machine-exec
* che-devfile-registry
* che-plugin-registry (thanks, @ericwill )

Waiting on @vparfonov for the next 3 releases...

[2020-03-04 18:52] #16189 closed

[2020-03-04 18:52] #16190 closed

[2020-03-04 19:07] azatsarynnyy commented on #16212
fixed by https://github.com/eclipse/che-theia/pull/652

[2020-03-04 19:07] #16212 closed

[2020-03-04 20:58] #14856 closed

[2020-03-04 21:00] metlos commented on #14698
While I agree with everything @amisevsk said, there is a property: `che.workspace.sidecar.image_pull_policy`, settable as an env var `CHE_WORKSPACE_SIDECAR_IMAGE__PULL__POLICY` that you can use to change the default image pull policy of the workspace sidecars (this is currently ignored by jwtproxy but there is a PR open to fix that alread).

[2020-03-04 21:00] dmytro-ndp opened #16230 "E2E Happy path tests had failed on "Run application" against Eclipse Che with TLS support"
### Describe the bug
E2E Happy path tests on "Run application" against Eclipse Che with TLS support:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/955/console
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Install minikub

[2020-03-05 03:20] YasithaSandeep commented on #16205
@metlos  Tried what you asked and yes its pinging to both Githubs

[root@eclipse ~]# kubectl run -i -t busybox --image=busybox --restart=Never -n yasitha-che
If you don't see a command prompt, try pressing enter.
/ #
/ #
/ # ping github.com
PING github.com (140.82.114.3): 56 data bytes
64 bytes from 140.82.114.3: seq=0 ttl=48 time=256.096 ms
64 bytes from 140.82.114.3: seq=1 ttl=48 time=255.764 ms

[2020-03-05 03:41] YasithaSandeep commented on #16205
@

@vinokurig  This seems to do the trick. Running `ssh-keygen -F github.com` created the keys and saved on the workspace folder and so far it seems to work even after restarting the workspace.
Thanks.

[2020-03-05 04:05] gnoejuan opened #16231 "Enable overide for all timeouts"
### Is your enhancement related to a problem? Please describe.

I encounter timeouts for some of the tasks during `chectl server:start`. While chectl offers the pod timeout, the pod timeouts don't seem to affect the helm timout
### Describe the solution you'd like

I would like a command like `chectl prepare` that would ignore all timeouts or `--helm-timeout=xxxx` ( since the timeout seems to be h

[2020-03-05 04:51] SDAdham commented on #15721
Can we have a clarification on what is the use case for it? When do we need to toggle it on? It still doesn't really clarify.

[2020-03-05 05:40] YasithaSandeep commented on #16205
But this is only working when I execute the Git clone command through the terminal only.

The Git Clone on command pallete still giving the "host could not be resolved" error

[2020-03-05 06:12] svkr2k commented on #16197
Thank you, @tsmaeder . I shall try...

[2020-03-05 06:14] kellyhyomin opened #16232 "Can't add projects to custom stack in UI."
## Summary

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.4.0

When I create a workspace with a custom stack, I want to add projects.
But I can't go to the next step with an error. Attach an error screen below.
![image](https://user-images.githubusercontent.com/29850624/75952453-1f648780-5ef2-11ea-989c-16419fb06820.png)

How can I create a workspace normally after adding projects?

[2020-03-05 07:32] #15916 closed

[2020-03-05 07:53] azatsarynnyy commented on #16229
The patch for about dialog already included in 7.9.1

[2020-03-05 08:08] kellyhyomin opened #16233 "Recipe type error when creating a workspace with a factory"
### Describe the bug

I created a factory with a source template provided by che by default.
`"recipe": {
          "content": "eclipse/ubuntu_jdk8",
          "type": "dockerimage"
        }`
However, when I create it, I get a recipe type error like the screenshot below.
What should I do for normal operation?
### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.4.0

### Steps to reproduc

[2020-03-05 08:23] ex-q commented on #16114
As of Today it works again with che-theia:next. Thanks a lot!

[2020-03-05 08:24] azatsarynnyy commented on #15916
fixed by https://github.com/eclipse/che-theia/pull/655

[2020-03-05 08:28] sleshchenko opened #16234 "Some docs article has `{title}` as title"
### Describe the bug
I believe this screenshot tells more than enough

![Screenshot_20200305_102708](https://user-images.githubusercontent.com/5887312/75962184-f6c99700-5ecb-11ea-84de-b4a8262d1840.png)

[2020-03-05 08:48] rhopp commented on #16230
Quick solution could be just settitn env variable `NODE_TLS_REJECT_UNAUTHORIZED=0`.

[2020-03-05 09:02] sleshchenko commented on #16233
Persisted factories are not supported anymore.
To create a workspace with factory flow you can use github repo URL, or URL to devfile content, like https://che.openshift.io/f?urlhttps://github.com/eclipse/che

[2020-03-05 09:04] sleshchenko commented on #16233
Should be fixed by https://github.com/eclipse/che/issues/12925

@kellyhyomin let me know if you still need some help

[2020-03-05 09:04] #16233 closed

[2020-03-05 09:08] sleshchenko commented on #16232
@kellyhyomin I assume you have not projects in your Devfile. As a workaround, I can suggest you to try to add empty projects field into your devfile.

[2020-03-05 09:28] sleshchenko commented on #15557
@svkr2k Hello, is your issue fixed now or you lost hope to get help?

[2020-03-05 09:30] sleshchenko commented on #15514
Workspace loader failed to do something, right? Then it must clearly say it and in addition, give a hint that it might be blocked cookies issue.

[2020-03-05 09:37] sleshchenko commented on #16204
@nickboldt Could we update icons in CRW plugin registry? They seem to be outdated.
See
https://github.com/eclipse/che-devfile-registry/blob/master/images/quarkus.svg
https://github.com/eclipse/che-devfile-registry/blob/master/images/dotnetcore.svg

[2020-03-05 09:44] sleshchenko commented on #16204
P.S. @olexii4 will prepare fix on dashboard side as well.

[2020-03-05 10:05] vinokurig commented on #16205
@YasithaSandeep There is a predefined SSH key that you can use for your GitLab or GitHub account.  `F1 => SSH view public key ... => default-...` It should be configured to work with UI git actions

[2020-03-05 10:27] SkorikSergey commented on #16217
Done by https://gitlab.cee.redhat.com/service/app-interface/merge_requests/3444.

[2020-03-05 10:27] #16217 closed

[2020-03-05 10:51] YasithaSandeep opened #16235 "creating a Custom Stack with JDK8 and Gradle 3.1 to carryout development on my project."
I tried editing Devfile with a self created Docker image to be pulled while creating the workspace.
The container was created but at the end gradle ontainer terminated throwing up an error.

Following is the Dev File Configuration

Error from the workspace

**> Error: Failed to run the workspace: "The following containers have terminated:

[2020-03-05 10:51] ibuziuk commented on #16218
Fixed on production. Closing
also fixed in 7.9.1 and there is a pending PR for master - https://github.com/eclipse/che/pull/16222

[2020-03-05 10:56] tolusha opened #16236 "Add workspace:delete command to delete user's workspace"
### Is your task related to a problem? Please describe.
User might work and then go which make his workspaces abandoned. Admins needs a tool to cleanup user's resources.

### Describe the solution you'd like
Add `workspace:delete` command to delete user's workspaces.

### Describe alternatives you've considered

### Additional context
Check how it works with `per-namespace` strategy.
downstream is

[2020-03-05 11:01] skabashnyuk commented on #14698
@l0rd I've just discussed this topic again with @tolusha .
We were agreed that the platform team can ensure that all `ImagePullPolicy` of all components of the workspace can be configured by  [sidecars pull policy](https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L115) or [plugin broker pull policy](https://github.com/ecli

[2020-03-05 11:07] tolusha opened #16237 "Che Deploy Sprint #181"
Mar 11 - Mar 31

### Team
| Name  |  |
| ------------- | ------------- |
| Anatolii   |   |
| Mykola   |    |
| Aleksandr  |   |

### Issues
- [x] Eclipse Che pod bootstrap timeout on chectl install, when using Che operator with TLS and unsigned certificate on non-OpenShift kube https://github.com/eclipse/che/issues/16280
  - [x] https://github.com/eclipse/che-operator/pull/191
  - [x] https://git

[2020-03-05 11:32] #15306 closed

[2020-03-05 11:55] tolusha opened #16239 "Allow use of Secret for Proxy User & Password"
### Is your task related to a problem? Please describe.
It isn't secure to set proxy user and password as plain text in CR.

### Describe the solution you'd like
Use a secret to provision proxy user & password

### Additional context
Downstream issue https://issues.redhat.com/browse/CRW-372

[2020-03-05 12:36] gnoejuan commented on #16231
Sorry, I realized I wasn't entirely clear! I guess the prepare command would download the images, helm charts, and anything else to start che.

[2020-03-05 12:40] sleshchenko opened #16240 "[hosted-che] Deploy swagger UI on hosted che"
### Is your task related to a problem? Please describe.
Che UI (Dashboard + Theia) does not expose all Che API capabilities, like Resources API, some internals of Resource API.
I don't have strong need but from time to time I need quickly access Che REST API to answer some users' questions or to understand the default settings of Che cluster.

So, it's a proposal to deploy swagger UI that we have

[2020-03-05 12:44] ibuziuk commented on #16240
@l0rd @davidfestal @benoitf wdyt?

[2020-03-05 13:07] sleshchenko opened #16241 "Finalize get-started page redesigning"
### Is your task related to a problem? Please describe.
The main work to redesign Get Started page is done but the PR https://github.com/eclipse/che/pull/16157
but it's not merged yet for two reasons:
1. PR is not reviewed and approved yet
2. PR depends on CQ https://dev.eclipse.org/ipzilla/show_bug.cgi?id=21722

So, this issue is about fixing possible reviewers comments and merge PR once CQ is ap

[2020-03-05 13:08] sleshchenko commented on #15858
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:08] #15858 closed

[2020-03-05 13:09] sleshchenko commented on #15859
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:09] #15859 closed

[2020-03-05 13:09] sleshchenko commented on #15749
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:09] #15749 closed

[2020-03-05 13:09] sleshchenko commented on #15978
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:09] #15978 closed

[2020-03-05 13:09] sleshchenko commented on #15981
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:09] #15981 closed

[2020-03-05 13:09] sleshchenko commented on #15985
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:09] #15985 closed

[2020-03-05 13:09] sleshchenko commented on #15980
The work is done but not merged yet.
It's closed in the flavor of https://github.com/eclipse/che/issues/16241

[2020-03-05 13:09] #15980 closed

[2020-03-05 13:22] #16204 closed

[2020-03-05 13:27] sleshchenko opened #16243 "Store credentials into secrets instead of plain text of CheCluster CR fields"
### Is your task related to a problem? Please describe.
In K8s world, it's a good practice storing credentials, especially password in secrets. It would be great if che-operator follow this approach.

### Describe the solution you'd like
I believe we must store in plain-text only non-sensitive info, let's say users can share with others. Everything else must be stored in secrets.

![Screenshot_202

[2020-03-05 13:29] ibuziuk commented on #16240
just for the record, swagger was enabled for codenvy.io

[2020-03-05 13:30] mshaposhnik commented on #16089
The issue is fixed by one of the previous PR. Now `meta.yaml` applied to init containers:

![image](https://user-images.githubusercontent.com/1651062/75986168-3efdaf00-5ef6-11ea-858e-b039f345592a.png)

![image](https://user-images.githubusercontent.com/1651062/75986099-18d80f00-5ef6-11ea-8356-5d8be7a29d44.png)

[2020-03-05 13:31] #16089 closed

[2020-03-05 13:31] sleshchenko commented on #16243
cc @tolusha @davidfestal

[2020-03-05 13:43] #15471 closed

[2020-03-05 13:44] davidfestal commented on #16243
There's already an issue for that on the CRW side that has been discussed this morning at deploy team prio.

[2020-03-05 13:45] davidfestal commented on #16243
@tolusha Maybe you would like to link the CRW issue to this upstream one ?

[2020-03-05 13:51] sleshchenko commented on #16065
I also propose to remove the second solution since it's not really working. Once user adds exclusions for Che and Keycloak host - he will face the same issue with Plugin Registry, Devfile Registry, each workspace server hosts. So, it makes more sense to improve UX to go through first working solution instead of proposing simpler but not fully working )

[2020-03-05 13:55] tolusha commented on #16243
https://github.com/eclipse/che/issues/16239

[2020-03-05 13:56] sttyerase commented on #15514
However, the loader did not fail outright.  It got stuck in a loop.  Perhaps it can perform a pre-check, or we can clarify the documentation.

[2020-03-05 13:56] tolusha commented on #16243
https://issues.redhat.com/browse/CRW-372

[2020-03-05 13:57] tolusha commented on #16239
Inf favor of

[2020-03-05 13:57] #16239 closed

[2020-03-05 14:01] JPinkney commented on #16196
Closing as https://github.com/eclipse/che-theia/pull/648 has now been merged

[2020-03-05 14:01] #16196 closed

[2020-03-05 14:17] stianlagstad opened #16244 "Unable to create and start a workspace using minikube due to "Server 'theia' in container 'theia-idet0b' not available.""
### Describe the bug
I'm trying to follow https://www.eclipse.org/che/docs/che-7/running-che-locally/, using minikube with virtualbox (8192 memory), and I'm stuck on the `Error: Failed to run the workspace: "Server 'theia' in container 'theia-idet0b' not available."` error when trying to create a workspace. The workspace I'm trying to use is the Spring Boot with petclinic starter.

### Che version

[2020-03-05 14:19] JPinkney commented on #15514
I've just tried opening a workspace on che.openshift.io and I get the `Loading a runtime token` loop as well.

In the console I've found:
[code]

[2020-03-05 14:28] #16114 closed

[2020-03-05 14:50] sleshchenko opened #16245 "Dashboard must clearly describe solution when self-signed TLS issues"
### Is your enhancement related to a problem? Please describe.
We already have an error page when Che deployment with self-signed cert and Dashboard failed to load keycloak script since keycloak host is not trusted.
But on there is no keycloak on SingleUser Che, so users don't see hint how to solve issues with registries/workspace servers.
It's what we have now: user does not see plugins or devfil

[2020-03-05 15:13] rhopp opened #16246 "[e2e] Add more log levels into Logger"
### Is your enhancement related to a problem? Please describe.
Currently, we have only `debug` and `trace` log levels in [Logger](https://github.com/eclipse/che/blob/master/tests/e2e/utils/Logger.ts)

### Describe the solution you'd like
We should add at least ERROR and WARN log levels.

[2020-03-05 15:22] ibuziuk opened #16247 "[Hosted Che] [Dogfooding] Provide devfiles and "developer workspace" button in README"
### Is your task related to a problem? Please describe.
Provide devfiles and "developer workspace" button in README for each repository for coding on che.openshift.io:

List of repositories:

- [x] https://github.com/redhat-developer/rh-che
  -  https://github.com/redhat-developer/rh-che/blob/master/devfile.yaml |  [![Contribute](https://che.openshift.io/factory/resources/factory-contribute.svg)](

[2020-03-05 15:57] tolusha commented on #16244
@stianlagstad
Thank you for reporting. I've reproduced the issue and will try to find a fix

[2020-03-05 15:59] stianlagstad commented on #16244
@tolusha Thank you for confirming! Let me know if there's anything I can do.

[2020-03-05 16:05] tolusha commented on #16244
It seems some k8s events have no timestamp and che server print errors
[code]

[2020-03-05 16:06] tolusha commented on #16244
/cc
@skabashnyuk

[2020-03-05 16:07] tolusha commented on #16244
https://github.com/eclipse/che/issues/15395

[2020-03-05 16:12] tolusha commented on #16244
could you try a different installation method
`chectl server:start --platform minikube  --installer operator`

[2020-03-05 16:36] ibuziuk commented on #14530
Closing as done.
Recent regression with stop was also fixed in master - https://github.com/eclipse/che/issues/16200

[2020-03-05 16:36] #14530 closed

[2020-03-05 17:20] stianlagstad commented on #16244
That opened a user login/registration form at http://che-che.192.168.99.101.nip.io instead of getting directly into che. That's to be expected? I just registered a dummy user and was taken into che.

Aaand I was able to create a workspace from that spring boot petclinic-starter this time :)

[2020-03-05 17:31] metlos commented on #16235
The components need to be non-terminating. The usual way is to override their entry points like:

[code]

[2020-03-05 18:39] rajivnathan opened #16248 "Docs: Devfile Structure link broken"
### Describe the bug

The link takes you to
https://www.eclipse.org/che/docs/che-7/using-developer-environments-workspaces.html#making-a-workspace-portable-using-a-devfile_using-developer-environments-workspaces
which gives you a 404.

The correct link appears to be
https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-using-a-devfile/

### Che version

7.9.0

### Steps to reproduce

[2020-03-05 18:49] beaumorley commented on #15662
This is the new design direction for the custom workspace experience. This design is a POC.

When "Create a Custom Workspace" is selected from the Getting Started screen or "Create Workspace" is selected from the Dashboard, a New Workspace screen shall load with a YAML editor populated with a blank DevFile.

![image](https://user-images.githubusercontent.com/52013984/76014142-1a4e0b00-5ee7-11ea-9b

[2020-03-05 19:16] nickboldt commented on #15962
This appears to be commit in 7.9.x that fixes the same problem in 7.9.0 / master:

https://github.com/eclipse/che-theia/commit/13070ca81030fbcc7f6678eeb6c66d8f49b5b62c
https://github.com/eclipse/che-theia/pull/649/files

(It's fun when the commit messages don't line up.) :D

[2020-03-05 19:21] JPinkney commented on #15854
We've merged the PHP 7.4 update: https://github.com/eclipse/che-dockerfiles/pull/253 but I can't find who's responsible for that repo so that we can get it released

[2020-03-05 19:26] nickboldt commented on #16229
Then please... fix my mistake. Link to the commit. Remove the incorrect entry on this issue and move it to 7.9.1 issue.

Like this:

![image](https://user-images.githubusercontent.com/227597/76017826-3b195f00-5eed-11ea-80c8-1981c74f545b.png)

If you see something, don't just say something. FIX IT. Make it clear. Cite sources. Prove your work.

You have the power. Please use it. :D

[2020-03-05 19:27] JPinkney commented on #15797
Just a few things left:

[ ] - Implementation of the languages test api needs to be merged: [PR](https://github.com/eclipse/che-theia/pull/597)
[ ] - Centos CI languages test PR check needs to be enabled for che-plugin-registry: [PR](https://gitlab.cee.redhat.com/service/app-interface/merge_requests/3451)
[ ] - The Java tests should probably be moved to another location: [Repo](https://github.com/

[2020-03-05 19:58] JPinkney commented on #15216
I wonder if we could just separate the maven and gradle parts into two different branches in the console-java-simple repo?

I've gone with this idea in:
https://github.com/JPinkney/console-java-simple/tree/gradle-java1.11
https://github.com/JPinkney/console-java-simple/tree/maven-java1.11

and then the corresponding update in the devfile registry:
https://github.com/JPinkney/che-devfile-registry/t

[2020-03-06 01:33] kellyhyomin commented on #16233
@sleshchenko
Thank you for your help.

The url you told me is getting the following error.
![image](https://user-images.githubusercontent.com/29850624/76041017-6acf7200-5f94-11ea-8e24-564d33c0cab5.png)

When I use url like https://che.openshift.io/f?urlhttps://github.com/AutoSARioDeveloper/popcornsar-cpp-ap/devfile.yaml, The result is the same.
Is there a way to fix it?

[2020-03-06 04:00] YasithaSandeep commented on #16235
@metlos  Where should I make this change?
is it on docker file or is it on the Dev File????

[2020-03-06 04:24] kellyhyomin commented on #16232
@sleshchenko

Thank you for your help.
After adding projects to the devfile, the workspace is created but the project is not cloned.
Are there any related theia extensions or eclipse che extensions added?
My custom stack is not che-theia based.

[2020-03-06 06:55] tolusha commented on #16244
yes, operator deploys che in multi-user mode

[2020-03-06 07:06] tolusha commented on #16248
@rkratky
Could you have a look pls

[2020-03-06 07:12] tolusha commented on #16235
@YasithaSandeep
The similar question and answer is here
https://github.com/eclipse/che/issues/16171#issuecomment-594633774

[2020-03-06 07:13] tolusha commented on #16234
That's very annoying.

[2020-03-06 07:42] themr0c commented on #16220
@l0rd I don't believe so.  I have never worked on it.

@sunix is the historical main contributor and it seems that @benoitf took over https://github.com/eclipse/che-website/graphs/contributors

Looks like the file to edit is plain HTML inside a PHP file: https://github.com/eclipse/che-website/blob/master/che/features/index.php

Do you want that we take a look anyway?

[2020-03-06 07:46] themr0c commented on #16234
The pages with {title} are the topics pages, not part of the navigation, that are annoyingly produced by the Jekyll build system. (And AFAIK inavoidable). The documentation team would be very happy to work on the replacement of this build system with a better one, Antora, that would produce only the necessary HTML output.

[2020-03-06 07:47] tolusha commented on #16232
@sleshchenko
Could you set priority for the issue?

[2020-03-06 08:42] tsmaeder commented on #15216
I would advocate against using branches: branches are for different development paths of the same thing. A maven and a console sample would warrant a different repo, IMO. Think of it this way: what would master contain? Maven or Gradle?

[2020-03-06 08:52] sleshchenko opened #16249 "Cloud shell must propagate error when it failed to initialize terminal"
### Is your enhancement related to a problem? Please describe.
Currently, when the cloud shell failed to initialize terminal - it shows nothing.
It's needed to display an error when happened.

![Screenshot_20200303_174223](https://user-images.githubusercontent.com/5887312/75792314-71809e00-5d76-11ea-95f2-ff35e91869a4.png)

[2020-03-06 08:57] sleshchenko opened #16250 "CloudShell should provide an option to use users token instead of SA's one"
### Is your enhancement related to a problem? Please describe.
Currently, CloudShell uses mount SA's token to perform all operations with K8s/OS cluster. It was kind of OK in case of Che Server, but with workspace-controller where we use OpenShift OAuth proxy instead of JWTProxy it would be much secure if CloudShell would use token from Header/QueryParam instead of SA's one.
So, CloudShell should

[2020-03-06 09:11] sleshchenko opened #16251 "Make workspace controller generating TLS certs for its webhook server"
### Is your enhancement related to a problem? Please describe.
Initial implementation of AdmissionWebhooks for workspace controller was implemented in way, where an administrator generates TLS certs during deploy, but it has cons:
- it won't work with OLM installation;
- an administrator must care about TLS and regenerate them when they expire;

Instead, we must make workspace controller generatin

[2020-03-06 09:41] stianlagstad commented on #16244
BTW, when trying to stop the server:
[code]

That URL (https://www.eclipse.org/che/docs/che-6/authentication.html) does not work. Where can I learn how to authenticate against the server?

[2020-03-06 09:51] sleshchenko opened #16252 "Deny to access CloudShell to everybody except creator"
### Is your enhancement related to a problem? Please describe.
Workspace Controller already provides creator annotation to Workspace CRs.
In the scope of this issue, it's needed to deny access to CloudShell for everybody except the creator.
We can achieve it in two ways:
**1.**
Make Workspace Controller propagate creator annotations to Workspace Deployment
Add ValidaitngWebhook that deny changing

[2020-03-06 09:51] sleshchenko commented on #16056
In the scope of this issue, the initial implementation for a webhooks server is implemented in https://github.com/che-incubator/che-workspace-operator/pull/19. Now creator annotation is provisioned into Workspace CR, and it's not allowed to change it.

The further work in that direction will be done in scope of smaller issues:
- Make workspace controller generating TLS certs for its webhook server

[2020-03-06 09:51] #16056 closed

[2020-03-06 09:59] dmytro-ndp opened #16253 "E2E tests which check installation of Eclipse Che from OperatorHub failed on OCP 4.4"
### Describe the bug
Command to run test tests:

Error log:
[code]

### Screenshots
![screenshot-Open_login_page](https://user-images.githubusercontent.com/1197777/76072971-8b51f900-5fa1-11ea-96e6-e8f5c0254a28.png)

[2020-03-06 10:00] tolusha commented on #16244
The link to the doc has been fixed in the next version of chectl.
https://www.eclipse.org/che/docs/pages/che-7/administration-guide/proc_authenticating-to-the-che-server-using-openid.html

[2020-03-06 10:02] skabashnyuk opened #16254 "[Communications Training] Authentication users"
### Is your task related to a problem? Please describe.
This is about preparing a training video about the flows and communications amongst the different distributed components.
The topic of this issue is authentication.

### Describe the solution you'd like
Proposed agenda.
 - Authenticating to the Che server
   - OpenID concepts
   - Obtaining the token from credentials through Keycloak
   - Obt

[2020-03-06 10:04] skabashnyuk opened #16255 "[Communications Training] Json-RPC"
### Is your task related to a problem? Please describe.
This is about preparing a training video about the flows and communications amongst the different distributed components.
The topic of this issue is JSON-RPC.

### Describe the solution you'd like
Proposed agenda.
 - Introduction. What is Json-RPC, websocket
 - Connecting to che server with  Json-RPC over websocket.
 - What is endpointId, met

[2020-03-06 10:11] Ohrimenko1988 opened #16256 "[TS_SELENIUM] Rework a "Terminal.getText" method for avoiding fails"
### Is your task related to a problem? Please describe.
Currently, logic of the "Terminal.getText" method means that if use this method until corresponded terminal tab will be absence, the method will fail.

### Describe the solution you'd like

Add waiting for the corresponding terminal tab before obtaining text
### Describe alternatives you've considered

### Additional context

[2020-03-06 10:31] l0rd commented on #16220
@themr0c Yes I would appreciate that.

@sunix, @benoitf and @bmicklea: who do you think should be considered the owner of eclipse.org/che website (responsible for issue tracking, PRs review etc...)?

[2020-03-06 10:44] l0rd opened #16258 "Allow multiple plugin registries to be added to che"
### Is your enhancement related to a problem?

We already have an issue to support multiple devfile registries (#13961). This is about supporting multiple plugin registries.

Currently referring to alternative plugin registries is possible with the `registryUrl` field in a devfile `chePlugin` specification. But that is limited. For example it would not work for the following scenario

### Describe

[2020-03-06 11:45] bmicklea commented on #16220
The electron client is definitely wrong. However with a kubernetes setup that allows it you can use r-sync can't you? I don't want us to remove the statement of being able to use a Che workspace from any desktop IDE unless it's actually impossible.

[2020-03-06 11:47] JPinkney commented on #15216
My idea was to be similiar to the che-sidecars where master would just be a readme that points to the maven/gradle branches but I know thats not ideal. But there's also a few other ways:

1. Have console-java-maven and console-java-gradle repos
2. Pick a different gradle stack and delete build.gradle from console-java-simple
3. Pick a different maven stack and delete pom.xml from console-java-simp

[2020-03-06 11:53] tolusha commented on #16258
@l0rd
pls set the priority

[2020-03-06 12:01] Ohrimenko1988 commented on #16256
Done https://github.com/eclipse/che/pull/16257

[2020-03-06 12:01] #16256 closed

[2020-03-06 12:23] sleshchenko commented on #16232
@kellyhyomin I think yet. @azatsarynnyy Can tell you more, I guess you need at least
https://github.com/eclipse/che-theia/tree/master/plugins/workspace-plugin
https://github.com/eclipse/che-theia/tree/master/extensions/eclipse-che-theia-activity-tracker
to make your Custom Theia work properly with Che.

[2020-03-06 12:36] vitaliy-guliy commented on #15991
It's very annoying issue.

[2020-03-06 12:37] mingfang opened #16259 "IngressTlsProvisioner. provisionTlsSecret() incorrectly base64encode che.infra.kubernetes.tls_key and che.infra.kubernetes.tls_cert"
`che.infra.kubernetes.tls_key` and  `che.infra.kubernetes.tls_cert` input should already be in base64 format, therefore the call here
https://github.com/eclipse/che/blob/f5e248131c572832f59b06292e27793b3cf891bf/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/IngressTlsProvisioner.java#L99
should be `withData()` and not `withStringData`, e.g.
[

[2020-03-06 13:31] AndrienkoAleksandr commented on #16060
Closed can't reproduce.

[2020-03-06 13:31] #16060 closed

[2020-03-06 14:00] SDAdham opened #16260 "allow download devfile"
### Is your enhancement related to a problem? Please describe.

Please allow devfiles to be downloaded
![image](https://user-images.githubusercontent.com/11182824/76089943-be7ea180-600e-11ea-9649-20f5ada18a57.png)

### Describe the solution you'd like

Also add download button to extract the devfile for Factory feature usage purposes

### Additional context

Go to Workspaces, click on the gear ico

[2020-03-06 14:00] vinokurig opened #16261 "OpenShift connector plugin doesn't work"
### Describe the bug

The OpenShift Connector plugin's view is showed but commands don't work
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace with OpenShift connector plugin enabled
2. Execute the `Login` command
See: Error in the browser's console:
[code]

### Expected behavior

The login command must display a login input
##

[2020-03-06 14:03] metlos commented on #16235
@YasithaSandeep my example is for the devfile - you can redefine the entrypoint command of a dockerimage component there.

It can be done also in the Dockerfile of the image as @tolusha pointed out. That way the users of the image don't have to override the entrypoint command for it to work inside Che. If have the chance to publish such modified image, it would make the lives of the devfile users

[2020-03-06 14:06] SDAdham opened #16262 "Add download devfile from theia ide for factory feature usage"
### Is your enhancement related to a problem? Please describe.

Allow automated reconstruction of devfile like it was done in the past see https://developers.redhat.com/che/creating-factories/

### Describe the solution you'd like

Creating a snapshot of a workspace would greatly save time and efforts in replicating environments very easy

### Describe alternatives you've considered

Manually upda

[2020-03-06 14:10] RomanNikitenko opened #16264 "Support 'inputs' for che tasks"
### Is your enhancement related to a problem? Please describe.
VS Code and Theia support `input variables` for tasks.
Please see more details https://code.visualstudio.com/docs/editor/variables-reference#_input-variables

It would be nice to have it working for `che` tasks.

### Describe the solution you'd like
Support `input variables` for `che` tasks.

### Additional context
Che user asked about

[2020-03-06 14:18] SDAdham opened #16265 "Add extra environment variables that would specify the generated preview url, loggedin username, first & lastname of the user"
### Is your enhancement related to a problem? Please describe.

When running printenv, I see port and many variables are added, but what's missing is:
* Username
* Email
* Name, and/or;
* First name
* Last name

And instead of having variables like this: `SERVERI19WW3P5_JWTPROXY_PORT_4400_TCP_PROTO`, it'd be better to be like this:
* SERVER=I19WW3P5
* JWTPROXY_PORT=4400

### Describe the solution

[2020-03-06 14:23] SDAdham opened #16266 "Allow adding plugins into devfile"
### Is your enhancement related to a problem? Please describe.

Currently, I have to manually add plugins via View >> Plugins in theia editor and then browse extensions from VS code and add them into theia

### Describe the solution you'd like

It would be nice if we can just simply add the list of extensions to be loaded when the workspace starts in the devfile

### Describe alternatives you've c

[2020-03-06 14:27] SDAdham opened #16267 "Allow alternative/secondary key binding configuration"
### Is your enhancement related to a problem? Please describe.

Please make it easier for developer to migrate into your environment

### Describe the solution you'd like

I want to be able to add `Ctrl+w` to close a tab beside `alt+w`, I know i can override `alt+w` but I want to keep both.

### Describe alternatives you've considered

### Additional context

![image](https://user-images.githubuse

[2020-03-06 14:29] SDAdham opened #16268 "Allow preferences per workspace in addition user"
### Is your enhancement related to a problem? Please describe.

I want to be able to define special settings for a specific workspace

### Describe the solution you'd like

Like in VS Code, please do support this functionality

### Describe alternatives you've considered

Just manually switch settings as I change/switch workspace

### Additional context

![image](https://user-images.githubusercont

[2020-03-06 14:32] artaleks9 commented on #16253
The reason of it is new widget of _Login Page_ on OCP 4.4. Look at e.g. on _Login Page_ OCP 4.3:
![ocp43-login-page](https://user-images.githubusercontent.com/5408906/76091113-9b7bcf80-5fc5-11ea-9446-4e327b62f04b.png)

So I'm going to update locator in a method which uses it and modify some steps that it would work on both OCP 4.3 and OCP 4.4.

[2020-03-06 14:33] SDAdham opened #16269 "Allow git repository switch from the git menu rather than showing dialog which leads to confusions"
### Is your enhancement related to a problem? Please describe.

In multi-project workspaces, the dialogs that pops out to ask for which project that the git action should run on is VERY confusing

### Describe the solution you'd like

Please allow a simple select box that allows switching between git repositories rather than that dialog for simplicity

### Describe alternatives you've considered

[2020-03-06 14:37] SDAdham opened #16270 "Simplify adding stacks"
### Is your task related to a problem? Please describe.

There is no add button for adding stacks adding stacks doesn't seem easy

### Describe the solution you'd like

Provide an easy way via the UI would be great and allow us to be able to create our own builds from images via hub.docker and also use our own private registries

### Describe alternatives you've considered

Not able to use the fea

[2020-03-06 14:40] SDAdham opened #16271 "Allow adding private container registry that doesn't require credentials"
### Is your enhancement related to a problem? Please describe.

I cannot add private registry that is only limited to the same network as che and doesn't have a password

### Describe the solution you'd like

Please allow adding private registry that doesn't require password

### Describe alternatives you've considered

Unable to use

### Additional context

![image](https://user-images.githubuser

[2020-03-06 14:43] SDAdham opened #16272 "Allow changing admin username to another username other than "admin""
### Is your enhancement related to a problem? Please describe.

I cannot use organization feature

### Describe the solution you'd like

It would be nice if we can categories workspaces based on the organization and this feature is blocked unless I use `admin` and every time I need to add a user, I have to use `admin` again!

### Describe alternatives you've considered

Unusable

### Additional co

[2020-03-06 14:46] SDAdham opened #16273 "Allow adding factory devfile templates into factory and list them to everyone in the organization"
### Is your enhancement related to a problem? Please describe.

For login required kind of repository (private repos), we cannot link che to the devfile that's available in the main repo, instead we have to share links manually

### Describe the solution you'd like

It would be nice if we can upload the devfiles there and add description then make it available with everyone or specific teams based

[2020-03-06 14:48] SDAdham opened #16274 "Expand workspaces list or allow us to configure that"
### Is your enhancement related to a problem? Please describe.

It would be nice if we can open workspace directly from that pane rather than navigating to workspaces

### Describe the solution you'd like

explained above

### Describe alternatives you've considered

We just go to workspaces

### Additional context

![image](https://user-images.githubusercontent.com/11182824/76093732-9a728e80-6015

[2020-03-06 14:49] SDAdham opened #16275 "Add whose online from organizational team"
### Is your enhancement related to a problem? Please describe.

It would be nice if we can include whose online from organization team in the left pane underneath recent workspaces

Allowing rocket chat integration (empedding) that'll be WOW

### Describe the solution you'd like

Explained above

### Describe alternatives you've considered

### Additional context

![image](https://user-images.gith

[2020-03-06 15:10] #11549 closed

[2020-03-06 15:11] skabashnyuk commented on #16273
@SDAdham I think this one https://github.com/eclipse/che/issues/12925 is what you are looking for.

[2020-03-06 15:24] skabashnyuk commented on #16272
That is configurable with hhttps://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/multiuser.properties#L26    or `CHE_SYSTEM_ADMIN__NAME ` see https://www.eclipse.org/che/docs/pages/che-7/administration-guide/examples/system-variables.html

[2020-03-06 15:25] skabashnyuk commented on #16262
@SDAdham thanks for this issue. Just to clarify. Do you want to get devfile.yaml from an existing workspace?

[2020-03-06 15:28] skabashnyuk commented on #16265
@SDAdham I think alternative for you would be to query `${CHE_API}/api/user` or `${CHE_API}/api/preferences` with `MACHINE_TOKEN` as Authorization header.

[2020-03-06 15:30] skabashnyuk commented on #16268
Not sure for 100% you may try this approche https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-using-a-devfile/#tuning-cheplugin-component-configuration for `theia editor`

[2020-03-06 15:32] skabashnyuk commented on #16275
@SDAdham can you add more details, please.

[2020-03-06 15:54] sleshchenko opened #16277 "chectl must duplicate required manual actions after deploying"
### Is your task related to a problem? Please describe.
Currently, chectl asks user to import CA into browser, but it does it as soon as CA is imported. So, there may be cases when users just miss this info, like because terminal is not big enough:
![Screenshot_20200306_165824](https://user-images.githubusercontent.com/5887312/76099034-2b744600-5fd3-11ea-89b1-9f364adab993.png)

So, it would be bet

[2020-03-06 15:57] sleshchenko opened #16278 "chectl: add a command to export CA for already deployed Che"
### Is your task related to a problem? Please describe.
For some reason, users may lose CA created by chectl during deploying.
It would be cool if chectl provide some command to extract CA for already deployed Che.
Then it would be a good option to use we could recommend users on Dashboard side, when browser is not configured properly.

[2020-03-06 16:03] metlos commented on #16053
#16227, https://github.com/eclipse/che-plugin-registry/pull/417 and https://github.com/eclipse/che-jwtproxy/pull/22 are merged so this should be complete.

[2020-03-06 16:03] #16053 closed

[2020-03-06 16:04] metlos commented on #15651
https://github.com/eclipse/che/issues/16053 is implemented so this is now complete IMHO.

[2020-03-06 16:04] #15651 closed

[2020-03-06 16:15] ibuziuk commented on #16129
che-parent, che-doc, che `7.9.1` have been released - artifacts are available on central

[2020-03-06 16:58] nickboldt commented on #16129
I don't see Che 7.9.1 on https://quay.io/repository/eclipse/che-server?tag=latest&tab=tags and also not in https://search.maven.org/search?q=che.core

[2020-03-06 17:11] tolusha commented on #16268
I am wondering if we support it already
@azatsarynnyy

[2020-03-06 17:12] tolusha commented on #16272
@SDAdham
Does it work for you?

[2020-03-06 17:12] nickboldt commented on #16261
We should compare what's happening in this che/registry/plugin/sidecar combination (need all those versions) vs. what we do in CRW 2.1 to decide if this is a blocker for 2.1 / 7.9.2, or just for 7.10.

CRW 2.1 side car image: http://pkgs.devel.redhat.com/cgit/containers/codeready-workspaces-plugin-openshift/tree/Dockerfile?h=crw-2.0-rhel-8

CRW 2.1 plugin reg: https://github.com/redhat-developer/c

[2020-03-06 17:24] tolusha commented on #16266
But what about adding them into devfile from dashboard ?

[2020-03-06 17:26] tolusha commented on #16273
duplicates?

[2020-03-06 17:40] jgwest opened #16280 "Eclipse Che pod bootstrap timeout on chectl install, when using Che operator with TLS and unsigned certificate on non-OpenShift kube"
### Describe the bug

When attempting to install Che 7.9.0 on generic Kubernetes, with TLS enabled and a self-signed certificate, using chectl via the Che operator, the Che pod fails to start due to an inability to connect to Keycloak.

[code]

The Che pod appears not to allow connecting to Keycloak via a self-signed certificate.

As per the attached Che pod logs, the che pod is failing to start d

[2020-03-06 17:45] SDAdham commented on #16262
Yes so it can be reused by factory

[2020-03-06 17:47] SDAdham commented on #16265
Sorry, i missed the most important variable: the preview url

[2020-03-06 17:50] SDAdham commented on #16266
@tolusha can you please explain more?

[2020-03-06 17:52] SDAdham commented on #16273
No, mine is explicity from the IDE itself (workspace)

[2020-03-06 18:21] karstengresch commented on #16272
Joining in: Both approaches, either _multiuser.properties_ as well as  ``CHE_SYSTEM_ADMIN__NAME``env variable don't seem to work when installing with the operator?

At least the documentation could be enhanced: Instead of only describing which permissions are needed to create an organization, as an end user I'd rather expect getting step-by-step instructions from the beginning to creating organiza

[2020-03-06 19:15] nickboldt opened #16281 "[devfile registry] image digest rewriter fails if build process not auth'd with reg.rh.io"
When building offline registry w/ digests for CRW 2.1:

[code]

Full log in https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/push-rebuilt-container-to-quay/84/consoleText

So... we need to:

- [ ] a) make sure that when reg auth is missing, the tag is preserved instead of ending up with an empty sha:

[code]
(in https://github.com/redhat-developer/codeready-workspaces/blob/

[2020-03-06 19:23] nickboldt commented on #16281
Note that we're all good for the plugin reg:
[code]

-- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/push-rebuilt-container-to-quay/85/console

[2020-03-06 19:47] skabashnyuk commented on #16273
@SDAdham  can you please rephrase and add some step by step examples. I don't fully understand you.

[2020-03-06 19:49] skabashnyuk commented on #16272
@kameshsampath  what exactly part is not working? Can you please give more details or step by step instructions?

[2020-03-06 20:25] azatsarynnyy commented on #16261
We were investigating this issue on @vinokurig minishift installation and couldn't reproduce it anymore after restarting his minishift/Che. Probably, it was related to a broken minishift/Che installation.
Also, we could not reproduce it either on my minishift or Hosted Che.
So, @vinokurig please close the issue if the plugin works well for you.

[2020-03-06 21:04] #16281 closed

[2020-03-06 21:31] l0rd commented on #11469
@tolusha che operator has been included in the [awesome operators list](https://github.com/operator-framework/awesome-operators) 🎉🎉🎉.
I am closing this issue.

[2020-03-06 21:31] #11469 closed

[2020-03-06 21:43] vparfonov commented on #16129
Images pushed

[2020-03-06 23:13] SDAdham commented on #16273
Sorry, i wrote my last comment while i was very tired
You can mix both issues but the only difference here:
* some repos require login so we cant really leave the devfile in the repo, alternatively the factory page would be nice to host it there (it does that already if u create factory but what it doesnt do is show them based on your organization membership)
* lets say we create eclipse org in or

[2020-03-06 23:20] SDAdham commented on #16272
The implementation of this was never completed, there was a PR for it https://github.com/eclipse/che/pull/13013

[2020-03-06 23:20] SDAdham commented on #16272
But we need to have the ability to change admin in the run time!

[2020-03-07 00:17] SDAdham commented on #14604
Allow integration with Gitlab auth rather than keycloak would be reaaaaaaaally nice to have. It should be really similar to Github. But we just need to specify the server for the gitlab

[2020-03-07 07:09] skabashnyuk commented on #16272
This can be done in runtime. See https://www.eclipse.org/che/docs/che-7/authorizing-users/

[2020-03-07 12:25] boczkowska commented on #14440
For now, only Google Chrome was confirmed as a supported browser. We added a note about it where appropriate. Feel free to re-open the issue in the future if something changes.

[2020-03-07 12:25] #14440 closed

[2020-03-07 16:20] va1erian opened #16282 "Can't build che-theia from scratch - fails on @eclipse-che/github-auth-plugin"
Hello,

I'm trying to build a patched version of che-theia to diagnose an internal deployment of Che 7 that doesn't work properly on our env.

When running yarn I'm getting the following error:
[code]

Is there something I'm doing wrong? My understanding was that running build.sh was sufficient once the prerequisites are installed.

[2020-03-07 18:34] gattytto commented on #16084
@benoitf :
I have a situation where publishing the branch actually works:
First of all I use "view public ssh key" option in theia, and add it to my github account
2)I git clone the project using git:/ and not https: method. It then uses ssh auth instead.
3)within the theia git section I first click
![image](https://user-images.githubusercontent.com/407397/76150406-e3aff600-6088-11ea-9de8-5693ca26

[2020-03-07 20:27] gattytto opened #16283 "pull requests extension upgrade from 0.8 to 0.14"_gitAPI.onDidChangeState is not a function""
trying to upgrade the github pull requests ms-vscode extension in my plugin-registry I get the following from the extension:

"Activating extension GitHub Pull Requests failed: this._gitAPI.onDidChangeState is not a function."
![image](https://user-images.githubusercontent.com/407397/76151920-ace1dc00-6098-11ea-96cc-3b2f83892fb5.png)

referenced vsix is:
https://github.com/microsoft/vscode-pull-re

[2020-03-07 20:27] gattytto commented on #16283
https://github.com/microsoft/vscode-pull-request-github/blob/7ddf57e525cebb4157f28bdd1b2e741d288a7ade/src/gitProviders/builtinGit.ts#L24

[2020-03-08 20:38] #16261 closed

[2020-03-09 07:29] ibuziuk commented on #16282
@artem could you please take a look ?

[2020-03-09 07:31] ibuziuk commented on #16283
@gattytto could you please provide steps to reproduce? Basically, GH PR plugin is part of che-theia out of the box and not expected to be updated - https://github.com/eclipse/che-theia/tree/master/plugins/github-auth-plugin

[2020-03-09 08:04] flacatus opened #16284 "Add GITHUB_TOKEN minishift installation chectl"
### Is your task related to a problem? Please describe.

Actually some PR checks fail in chectl because minishift installation doesn't include github_token.
### Describe the solution you'd like

Add to minishift installation Github_token to prevent API rate limit exceeded

### Describe alternatives you've considered

### Additional context

[2020-03-09 09:02] tsmaeder commented on #16271
@SDAdham I updated the title to make it clear it's not plugin registries or devfile registries.

[2020-03-09 09:10] sunix commented on #16220
I remember we wanted to investigate ksync: https://github.com/eclipse/che/issues/15016

[2020-03-09 09:12] tsmaeder commented on #16275
@SDAdham so in brief, you want a chat client integrated?

[2020-03-09 09:20] tsmaeder commented on #16266
@SDAdham there are a couple of points to be made here:

1. The things you see in the plugins view are not VS Code extensions, they are Che plugins
2. You can enable Che plugins in the devfile. When you edit a devfile in the dashboard, you have a tab that allows to turn plugins on/off.

[2020-03-09 09:40] tsmaeder commented on #15216
I would go with 1. Repos are cheap, right?

[2020-03-09 09:52] artaleks9 commented on #16253
Resolved by merge PR #16279.

[2020-03-09 09:52] #16253 closed

[2020-03-09 10:17] rhopp commented on #14022
@Ohrimenko1988 ping

[2020-03-09 10:18] tsmaeder commented on #16248
Hmh...maybe we need some "persistent link" facility for links in the code that reference doc? That would allow to point to new locations for existing doc? That way, we would know which locations are referenced from the code and it would be easy to update the location.

[2020-03-09 10:53] tolusha commented on #16129
`che-operator` released without community operator PRs
`chectl` released

[2020-03-09 11:02] boczkowska commented on #14400
Is this still relevant? https://github.com/eclipse/che-docs/pull/841 seems to have addressed this issue.

[2020-03-09 11:15] l0rd commented on #16240
I am ok with that.

[2020-03-09 12:27] va1erian commented on #16282
I think the main issue is that I wasn't building che-theia in a che-theia-dev container which contain the che:theia executable. I was able to run yarn successfully but now I also need to bring the docker client manually in the container which is a bit awkward, is there a better approach? My goal is to build a che-theia image with some additionals logs to diagnose connectivity issues.

[2020-03-09 13:48] ibuziuk commented on #16224
Related PRs:
- https://github.com/openshiftio/saas-openshiftio/pull/1392
- https://github.com/openshiftio/saas-openshiftio/pull/1393
- https://github.com/openshiftio/saas-openshiftio/pull/1394

[2020-03-09 13:57] sunix commented on #15501
Npm airgap devfile
Having that you have a remote NPM private registry and the npm  https://registry.npmjs.org. is not accessible from your network.

In your npm project devfile:

1. Zip your certificate and make it available through http to your workspace (tls.crt in our example).
2. Import your zip into the workspace from the devfile:
[code]
3. Add to the component where the npm commands will be

[2020-03-09 15:20] ibuziuk commented on #16280
@tolusha could you please take a look?

[2020-03-09 15:20] ibuziuk commented on #16283
cc: @ericwill

[2020-03-09 15:34] #15707 closed

[2020-03-09 15:42] themr0c commented on #15759
To add in the list of reasons why we should do some work to switch to Antora.

[2020-03-09 15:48] themr0c opened #16286 "Use Antora as build system for che-docs"
### Current documentation website has numerous UX issues

* Some docs article has `{title}` as title #16234
* Doc Navigation does not show State of Navigation #15759
* Topics are published as standalone HTML pages
* The search doesn't work on second-level deep headers

### Solution: replace the current build system with Antora

[2020-03-09 15:50] shahidhs-ibm opened #16287 "[Enhancement] Extending Eclipse Che CI infrastructure support to s390x"
### Is your enhancement related to a problem? Please describe.
This is a feature request to add support of s390x architecture to Eclipse Che CI infrastructure (`https://ci.codenvycorp.com/job/che-master-ci/` and `https://ci.centos.org/job/<pkg>`)

### Describe the solution you'd like
We have Open Source Labs hosted Jenkins service at  [https://osuosl.org/services/ibm-z/](https://osuosl.org/service

[2020-03-09 16:42] ibuziuk commented on #16219
@dmytro-ndp I guess we can close the issue in this case, just a suggestion that this test should be enabled for downstream (CRW and Hosted Che) cc: @Katka92

[2020-03-09 16:43] #16219 closed

[2020-03-09 16:56] amisevsk opened #16288 "Container name for brokers can be created longer than 63 chars"
### Is your task related to a problem? Please describe.
The plugin brokers used in a workspace are named based off the image reference they use. This means that for images referenced by digest, the name will be longer than 63 characters, causing an error on workspace start:

[code]

### Describe the solution you'd like
We should choose names more intelligently and force them to fewer than 63 chara

[2020-03-09 16:57] amisevsk commented on #16288
cc: @davidfestal

[2020-03-09 17:20] ibuziuk commented on #16287
CI on mainframes \o/
@l0rd assigning to devex team for analysis

[2020-03-09 19:13] btannous commented on #11817
It looks like Safari doesn't like the redirect.  It gets a `301` on `<host>/api -> <host>/api/` and on that redirect WebKit doesn't send the Authorization header, but instead appends a cookie.  See below for a chromium to safari comparison.

Not sure if WebKit is in the wrong here for not sending that header, but can we just have the first request here to be `<host>/api/`? It looks like chromium a