[2022-06-20 00:48] #19885 closed

[2022-06-20 00:48] #19981 closed

[2022-06-20 04:31] rakeshreddyrg09 commented on #21477
facing the same issue
https://github.com/eclipse-che/che-operator/issues/1405
please help out here.

[2022-06-20 07:29] gnoejuan commented on #21036
I apologize if this isn't the thread to ask, but would it be possible to have a guide? I use Che for myself and only myself. I'm having a lot of cognitive overload trying to deploy che

[2022-06-20 07:36] Divine1 commented on #21036
@gnoejuan  if you are using only for yourself, then you can deploy `eclipse-che` on minikube using chectl.

[2022-06-20 10:31] tolusha commented on #21451
check if you have `kubectl` file in the directory where you run `chectl` from.
if so, delete it and try `chectl` again.

[2022-06-20 10:46] sparkoo commented on #21477
can you please check `RoleBindings` in your user's namespace? It should be for user `cdivine304@gmail.com`. If it is for different username (it can be something like `<firstname> <lastname>` or `<gh_username>`), the claim used for username is wrong.

[2022-06-20 11:06] Divine1 commented on #21477
@sparkoo thank you for the response

i have followed the exact details mentioned in [install dex on k8s documentation](https://dexidp.io/docs/kubernetes/) , to setup dex with github connector.

below screenshot shows the namespace that got created in my k8s cluster
![image](https://user-images.githubusercontent.com/10482177/174586988-d66a5e76-b892-4df2-9110-9ca647b7bfef.png)

below screenshot show

[2022-06-20 12:42] sparkoo commented on #21477
yes, you can see that kubernetes is using your `email` claim, but Che is using your username. You need to configure them to be the same so you can configure Che to use `email`:

You need to set `che.oidc.username_claim` to `email`. It can be set by env variable for che-server `CHE_OIDC_USERNAME__CLAIM`. @tolusha can you please help how to set it now with CheCluster v2?

Or you can try to use `--oi

[2022-06-20 12:47] tolusha commented on #21477
It is needed to update CheCluster CR in the following way:
[code]

[2022-06-20 12:54] Divine1 commented on #21477
@tolusha @sparkoo
i will make this change in my CheCluster CR and share you the feedback.

[2022-06-20 14:04] patnan commented on #21474
Thanks, actually found it and removed it and it worked.

[2022-06-20 14:38] Divine1 opened #21479 "http request typeHEAD - `che.xxx.js`, `vendors.xxx.js`, `theia.xxx.js` throws 404 while connecting with `static.developers.redhat.com`"
### Summary

i'm concerned that i may lose the features exposed via below `js` files, so please let me know if these `js` files are required, if these `js` files are required then please let me know how to fix the `404 error`

Below links throws 404 not found error.

https://static.developers.redhat.com/che/theia_artifacts/che.825a721c1ce24e797699.js - 404 - HTTPMETHOD - HEAD

https://static.devel

[2022-06-20 15:40] sparkoo commented on #21477
I'm wondering why 1st way didn't work. But good that it's working for you now.

[2022-06-20 15:53] Divine1 opened #21480 "http statusCode 500 - Could not add kubeconfig into containers in `user` namespace for dashboardApi"
### Summary

i have installed `eclipse-che` in k8s platform using `chectl server:deploy`

below are the namespace details in my k8s cluster
![image](https://user-images.githubusercontent.com/10482177/174638749-0b34416b-a27a-4bc4-b05e-71caf3d40248.png)

below HTTP Post api - throws 500 http status code with message `Could not add kubeconfig into containers in divine-c-che-5j1hbg`
https://eclipseche

[2022-06-20 15:54] Divine1 commented on #21477
thanks a lot @sparkoo @tolusha

[2022-06-20 15:55] #21477 closed

[2022-06-20 16:56] Divine1 opened #21481 "Detected unrecoverable event FailedScheduling: 0/3 nodes are available: 3 pod has unbound immediate PersistentVolumeClaims"
### Summary

when i try to create a workspace using below yaml file, i receive below error
`Detected unrecoverable event FailedScheduling: 0/3 nodes are available: 3 pod has unbound immediate PersistentVolumeClaims.
`
![image](https://user-images.githubusercontent.com/10482177/174648502-ba7c918d-fb0a-4b49-a3ad-934be0da6269.png)

below is my `devfile.yaml`

[code]

below are the pv,pvc details curr

[2022-06-20 20:10] tolusha commented on #21480
@Divine1
Pls, check Eclipse Che logs for detailed error (probably che-server or dashboard containers)

[2022-06-20 20:10] tolusha commented on #21479
@azatsarynnyy
Could you help with this pls?

[2022-06-21 00:51] #4949 closed

[2022-06-21 00:51] #20816 closed

[2022-06-21 00:51] #20945 closed

[2022-06-21 06:58] Divine1 commented on #21480
@tolusha

below is the` che-dashboard` logs `kubectl logs che-dashboard-76d9859444-z8dt9  -f -n eclipse-che`
<img width="1312" alt="image" src="https://user-images.githubusercontent.com/10482177/174735590-bfd00b9d-ff6b-4abe-a306-7ae23511b589.png">

<img width="1222" alt="image" src="https://user-images.githubusercontent.com/10482177/174736220-60b63347-1b24-42e4-b214-0604aa3dfb7b.png">

there are n

[2022-06-21 07:12] vinokurig opened #21482 "chectl should warn the user that Che won't be fully functional if no git services are configured"

[2022-06-21 07:13] #21482 closed

[2022-06-21 07:21] tolusha commented on #21480
@olexii4
Could you have a look pls?

[2022-06-21 09:26] rakeshreddyrg09 opened #21483 "Eclipse che Dashboard issue (devworkspacetemplates and devworkspace 401)"
### Describe the bug

Hi All,
I am installing eclipse che on my k3d k8s cluster using helm chart next version.
Install is Successful and able to hit the dashboard URL, but once the oidc authentication is verified and the callback is also successful but I am getting below error
Failed to fetch available workspaces, reason: Failed to fetch the list of devWorkspaces. Unable to list devworkspaces: una

[2022-06-21 09:33] rakeshreddyrg09 commented on #21483
@Divine1 please have look

[2022-06-21 09:44] Divine1 commented on #21483
@rakeshreddyrg09

if you take a look at [this question](https://github.com/eclipse/che/issues/21477#event-6840651386) , you will notice the details that are provided for analysis. could you share those information as well?

[2022-06-21 10:12] rakeshreddyrg09 commented on #21483
![gitWARN](https://user-images.githubusercontent.com/48629246/174775440-d01d3cb8-1914-4db5-989e-78ef2dc893dc.png)
![ns](https://user-images.githubusercontent.com/48629246/174775469-8518b603-ae48-4760-8a74-d063ef2ddc26.png)
![rolebidning](https://user-images.githubusercontent.com/48629246/174775499-896d6cc7-79eb-4776-b28f-7d2228563e1c.png)
![roldeb-oyaml](https://user-images.githubusercontent.com/4

[2022-06-21 10:48] tolusha commented on #21481
Pls, check pvc events.

[2022-06-21 11:30] Divine1 commented on #21483
@rakeshreddyrg09

in your Checluster manifest, i can see `apiVersion: org.eclipse.che/v1`.

The latest version is `apiVersion: org.eclipse.che/v2`

i would suggest you to use the latest version. below fix is applicable for `apiVersion: org.eclipse.che/v2`

in your Checluster manifest, i can see `CHE_OIDC_USERNAME__CLAIM: "email"`

i have detailed the observation on adding `CHE_OIDC_USERNAME__CLAIM

[2022-06-21 11:55] rakeshreddyrg09 commented on #21483
When I apply v2 version facing below issue

**ERROR	controller-runtime.manager.controller.checluster	Reconciler error	{"reconciler group": "org.eclipse.che", "reconciler kind": "CheCluster", "name": "eclipse-che", "namespace": "eclipse-che", "error": "Get \"https://eclipse-che.sample.com\": dial tcp: lookup eclipse-che.sample.com on 10.43.0.10:53: no such host"}
sigs.k8s.io/controller-runtime/pkg/

[2022-06-21 11:59] Divine1 commented on #21483
@rakeshreddyrg09 i think there are some stale files in the k8s cluster. i'm not really sure about that.

is it possible for you to create a new k8s cluster and install eclipse che version `chectl/0.0.20220613-next.df3ae2c darwin-x64 node-v16.13.2` in the new cluster?

[2022-06-21 14:00] dmytro-ndp opened #21484 "Adapt Happy path test to Che Code editor"
### Is your task related to a problem? Please describe

There is "[devworkspace-happy-path](https://github.com/eclipse/che/tree/main/tests/devworkspace-happy-path)" tests, which should be adapted to Che Code Editor.

Please, keep it in separate branch till we switch Eclipse Che to Che Code Editor by default.

### Describe the solution you'd like

-

### Describe alternatives you've considered

_No

[2022-06-21 14:21] AObuchow commented on #21405
This ambiguity has been confusing me a bit, too. Something that came to mind, however, is perhaps we need to use the `pvcStrategy` and  `claimSize` in combination to determine which default PVC size should be set on DWO?
E.g. if `pvcStrategy` is set to `per-workspace` and `claimSize` is set to `7Gi` then the `per-workspace` PVC size will be set to `7Gi` on the DWOC.

This question still holds - fr

[2022-06-21 15:43] azatsarynnyy commented on #21483
cc @ibuziuk

[2022-06-21 16:44] azatsarynnyy commented on #21479
It shouldn't affect the functionality of Che-Theia. In case the files can't be fetched from the CDN for any reason, they will be fetched from the Che-Theia server.

It requires checking why the Che-Theia files aren't accessible via CDN.

[2022-06-21 20:44] #21474 closed

[2022-06-22 00:54] #20469 closed

[2022-06-22 00:54] #20757 closed

[2022-06-22 00:54] #20910 closed

[2022-06-22 00:54] #20950 closed

[2022-06-22 05:40] vinokurig opened #21485 "Support OAuth flow for GitHub Enterprise Server"
### Is your task related to a problem? Please describe

Currently OAuth flow is supported for GitHub SAAS (github.com and GitHub Enterpise Cloud). We need to add the support for the on-premises version ([GitHub Enterprises Server](https://github.com/organizations/enterprise_plan)).

### Describe the solution you'd like

Add a new or modify the existing GitHub OAuth handler.

[2022-06-22 06:04] rakeshreddyrg09 commented on #21483
In v2 version I am not able to find where to give my ingress class name. Can anyone help me.
Thank you

[2022-06-22 06:19] patnan opened #21486 "Unable to create workspace from devfile"
### Describe the bug

When I try to create a workspace from a devfile in a gitrepo by mporting from git (bitbucket) i get this:

`Failed to resolve a devfile. Failed to request factory resolver: Error occurred during creation a workspace from devfile located at https://bitbucket.org/patnan/open-che-test.git. Cause: Neither of apiVersion or schemaVersion found. This is not a valid devfile.
`

I've

[2022-06-22 08:04] #20804 closed

[2022-06-22 11:14] azatsarynnyy opened #21487 "Go to Dashboard button, in Che-IDEA, opens 5 new tabs"
### Describe the bug

After clicking on the `Go to Dashboard` button, it opens 5 new tabs with Che Dashboard.

### Che version

next (development version)

### Steps to reproduce

In Che-IDEA, click on the `Go to Dashboard` button.

It's not reproducible in 100% cases. I'll attach more details once I have them.

### Expected behavior

One tab should be opened.

### Runtime

OpenShift

### Screensh

[2022-06-22 12:25] rakeshreddyrg09 commented on #21483
In values file I am passing below way
[code]

This is the command I am using to install eclipse che

But still its not reflecting in my ingress, due to that load balancer ip is not getting allocated to eclipse-che ingress.
so I did a port forward for now and its loading the dashboard, but facing the same issue

`Failed to fetch available workspaces, reason: Failed to fetch the list of devWorkspace

[2022-06-22 12:37] #21212 closed

[2022-06-22 12:59] ibuziuk commented on #20599
@dkwon17 all the PRs have been merged, can the issue be closed?

[2022-06-22 13:10] #20599 closed

[2022-06-22 14:14] #21471 closed

[2022-06-23 08:21] tolusha opened #21489 "Console link contains a wrong application Eclipse Che URL after updating hostname"
### Describe the bug

Console link contains a wrong application Eclipse Che URL after updating hostname

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse Che
2. Update `spec.networking.hostname`
3. Check that `che` consolelink contains a wrong url

### Expected behavior

Console link with a new Eclipse Che url

### Runtime

minikube

### Screenshots

_No respo

[2022-06-23 09:17] l0rd commented on #21450
@karatkep thank you for this issue and the related contribution. Those enhancements were needed to deploy to AKS? And using the instructions in [your repo](https://github.com/karatkep/che-aks-installer) are ment to be used by anyone trying to deploy to AKS?

I am asking because we are considering to:
1. make this PR as a new and notworkthy addition to include in next release notes
2. proposing you

[2022-06-23 11:17] #21489 closed

[2022-06-23 11:42] olexii4 commented on #21353
[PR](https://github.com/eclipse-che/che-operator/pull/1395) was merged yesterday in the evening. I waited until the next image has built. I tried to test it. Today I have deployed CHE on minikube but cannot see changes that should be in [che-operator](https://github.com/eclipse-che/che-operator). I am investigating the problem.

I will do my best to do it ASAP.

[2022-06-23 13:00] #21428 closed, assigned to nobody

[2022-06-23 13:37] tolusha opened #21490 "Failed to open dashboard it Eclipse Che url does not contain `/dashboard/` suffix"
### Describe the bug

Failed to open dashboard it Eclipse Che url does not contain `/dashboard/` suffix

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse Che
2. Click a link `https://eclipse-che.<...>` (without `/dashboard/` suffix)
3. Dashboard is not opened

### Expected behavior

Dashboard is opened

### Runtime

OpenShift

### Screenshots

![Screenshot fro

[2022-06-23 13:45] ibuziuk commented on #21405
@amisevsk @AObuchow folks, wdyt about adding default strategy to the DWOC as part of this issue e.g.

[code]

This would allow configuring storage from the Che Cluster CR without a need of adding extra attributes on the dashboard level

[2022-06-23 13:49] pdfruth commented on #21390
I ran across this enhancement request while searching for any known method of customizing the workspace idle timeout.
It is super annoying to have to restart a workspace after only 15 minutes of idle.

I have searched, and found another suggested workaround [here](https://github.com/eclipse/che/issues/21334).
But, that workaround does not seem to work in my environment (Red Hat OpenShift Dev Space

[2022-06-23 15:31] amisevsk commented on #21405
On the DevWorkspace Operator level, we can't change the default. Currently, DWO treats an empty/blank storage type as `common` -- if it was possible to configure this default then we would risk orphaning workspace data on the cluster whenever it was changed. For example, if the default is changed from `common` to `per-workspace`, all existing workspaces would need to be re-provisioned with per-wor

[2022-06-23 15:37] amisevsk commented on #21334
@pdfruth it seems like recent definitions of the plugin ignore the idle timeout env var used by DWO. If you're using Che with DevWorkspaces (7.48 and above IIRC), you can edit the `DevWorkspaceTemplate` in user namespaces to override the idle timeout but it appears there's no global way to configure it for Che workspaces at the moment.

[2022-06-23 20:50] l0rd commented on #21390
Note that here we are talking about Theia, the default editor included in Che workspaces. If instead we specify to use VS Code, IntelliJ or PyCharm instead of Theia, those won't be idled at all (and this can be problematic too). So, @pdfruth, if you prefer no-idling you can refer to this [blog post draft](https://github.com/eclipse/che/issues/21322#issuecomment-1095262422) to use a different edito

[2022-06-23 23:02] devstudio-release commented on #21473
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-3089

[2022-06-23 23:02] devstudio-release commented on #20758
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-3090

[2022-06-24 00:47] #20933 closed

[2022-06-24 08:18] karatkep commented on #21450
Hi Mario,
It's correct, the proposed enhancements were needed to deploy Che to Azure
AKS. My instructions will be slightly updated because we found a more
elegant way to solve reported issue during code review. Thanks to @tolusha
and @sparkoo for the help.

And of course I will be glad to write a blog post and explain what issue we
met and how it has been resolved in the new version of Che.

Best

[2022-06-24 10:11] svor opened #21492 "Not possible to sign in with GitHub from GitHub Pull Requests and Issues extension in Che-Code"
### Describe the bug

After starting a workspace with Che-Code and GitHub Pull Requests and Issues extension, we have to sign in into GitHub to continue work with GitHub Pull Requests extension but sign in process is failed.

### Che version

next (development version)

### Steps to reproduce

1. Start a workspace via factory with project https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.c

[2022-06-24 10:54] #21490 closed

[2022-06-24 12:06] azatsarynnyy opened #21493 "Che-Code automatic rebase against upstream VS Code is failed"
### Is your task related to a problem? Please describe

The GitHub Workflow for Che-Code automatic rebase against upstream VS Code is failed:
https://github.com/che-incubator/che-code/runs/7038384368?check_suite_focus=true

[code]

### Describe the solution you'd like

Fix the incompatibility with the upstream.

### Describe alternatives you've considered

_No response_

### Additional context

_N

[2022-06-24 12:46] azatsarynnyy opened #21494 "Document how to fix the automatic rebase for Che-Code"
### Is your task related to a problem? Please describe

Sometimes, the automatic rebase workflow is failed to rebase Che-Code against the upstream VS Code.
In this case, it's not clear to everyone how to fix that.

### Describe the solution you'd like

Document how to fix the automatic rebase Workflow for Che-Code.

### Describe alternatives you've considered

_No response_

### Additional context

[2022-06-24 13:18] azatsarynnyy opened #21495 "Don't run the build pr check on Che-Code PR if the changes don't affect the bulid"
### Is your task related to a problem? Please describe

Not all the changes contributed to Che-Code affect the code build.
So, it doesn't make sense to wait for finishing all the pr checks while the changes are in docs or devfiles for example.

### Describe the solution you'd like

Trigger the Che-Code pr-check if the changes are build-related.

### Describe alternatives you've considered

_No res

[2022-06-24 20:57] amisevsk commented on #21486
Hi @patnan thanks for creating an issue. It looks like bitbucket.org is still not supported for the usual factory flow: https://github.com/eclipse/che/issues/18557

To work around this issue, you can pass the devfile itself from the repo rather than the clone URL, e.g. instead of using
[code]
you can use the link to the raw devfile.yaml from that repo:
[code]
This is not an ideal solution, I know,

[2022-06-24 21:09] amisevsk opened #21498 "Search box in Che Docs does not appear to be working"
### Describe the bug

The search box in the Che documentation page (https://www.eclipse.org/che/docs/stable/overview/introduction-to-eclipse-che/) does not seem to work -- I do not get autocomplete or search results when pressing enter.

Tested in Chromium 100.0.4896.127 and Firefox 101.1

### Che version

next (development version)

### Steps to reproduce

1. Navigate to https://www.eclipse.org/c

[2022-06-25 07:19] l0rd commented on #21390
@pdfruth sorry, I have updated the comment above with [the right link](https://docs.google.com/document/d/1pbtok7ajh7tsFOaX0kr2eZwLf3G3jYRkkn95-aZKEaQ/edit?usp=sharing).

[2022-06-26 00:53] #20958 closed

[2022-06-27 00:53] #20574 closed

[2022-06-27 00:53] #20957 closed

[2022-06-27 04:32] vinokurig commented on #20974
/remove-lifecycle stale

[2022-06-27 08:57] vatsal-uppal-1997 opened #21500 "Eclipse Che doesn't check IDE preferences when initializing a project via a zip file"
### Describe the bug

While I was trying to create a workspace from a devfile that refers to a zip file for the project location, I observed that Eclipse Che does not respect the user IDE preference as specified in the "che-editor.yaml" file but instead defaults to "Che Theia" IDE.

### Che version

next (development version)

### Steps to reproduce

1. Create a devfile as such:

[code]

2. Make s

[2022-06-27 09:33] ibuziuk commented on #7662
I belive we need to close this issue as outdated since the workspace engine is now DevWorkspace operator - https://newsroom.eclipse.org/eclipse-newsletter/2022/may/eclipse-che-gets-new-dev-environments-engine

[2022-06-27 09:41] ibuziuk commented on #21149
@l0rd @benoitf can we close the issue? the new website is up and running for more than 3 month ;-)

[2022-06-27 09:46] benoitf commented on #21149
but maybe that can be moved to a separate issue

[2022-06-27 10:37] #21453 closed

[2022-06-27 11:09] l0rd commented on #21149
English review has been done and is in this [gdoc](https://docs.google.com/document/d/1zXtFsgvX9sj-zszwcXcqxzWCPpF5HDKiYzaKYTmqhG0/edit#heading=h.n6e8oipybe91). The changes haven't been applied to the website yet. We can close and open a separate issue or leave this one open.

[2022-06-27 11:53] tolusha commented on #21350
I close this issue since I don't see a way how we can get rid of PostgreSQL 9.6 image

[2022-06-27 11:53] #21350 closed

[2022-06-27 12:07] ibuziuk opened #21502 "Can not start 'getting-started' devfile - redirect to dashboard"
### Describe the bug

Getting started devfile startup redirects to dashboard
![getting-started](https://user-images.githubusercontent.com/1461122/175937292-ac306eed-e011-4bcb-9339-8422d616f346.gif)

### Che version

7.49@latest

### Steps to reproduce

1. Start any "Getting Started" devfile
2. ERROR: workspace is not started, redirect to dashboard happens

### Expected behavior

Workspace is start

[2022-06-27 12:14] ibuziuk opened #21503 "Sprint 221"
This issue collects work items of the Eclipse Che Team for Sprint 221 (June 29 - July 20).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (June 29th)

The previous sprint https://github.com/eclipse/che/issues/21438
## Sprint goals
- [x] Release upstream DWO 0.15.2 with all the fixes for Dev Spaces 3.1 (downstream DWO release will be alligned with the

[2022-06-27 13:20] #20111 closed

[2022-06-27 13:51] l0rd commented on #21500
@vatsal-uppal-1997 what about using the che-editor parameter in the URL? `https://192.168.1.120.nip.io#<path to your devfile>?che-editor=che-incubator/che-code/insiders`

[2022-06-27 15:29] #21486 closed

[2022-06-27 16:38] vatsal-uppal-1997 commented on #21500
That works but in my use case I am hosting a custom devfile registry with my devfile pointing to a project that is being hosted as a zip file.

I would prefer Eclipse Che to read the IDE config that is there in the zip file since we don't want to use the default IDE
for that particular zip and would prefer that the user do not have to explicitly specify that.

[2022-06-27 18:48] william-xiang opened #21507 "ssh plugin cannot use private key with passphrase and host name properly"
### Describe the bug

Upload the ssh private with passphrase and specify the host name, the built-in git clone command can be used before restarting the workspace.
After restarting the workspace, that private key cannot be used by the built-in git clone command anymore, and it shows this error:
<img width="411" alt="image" src="https://user-images.githubusercontent.com/24379419/176013043-5dd40014-

[2022-06-27 20:55] #21494 closed

[2022-06-27 22:15] nickboldt commented on #21503
Prod team tasks - P1
* [ ] [CRW-3071](https://issues.redhat.com/browse/CRW-3071) fix inconsistencies in commandline params - Sam
* [ ] [CRW-2619](https://issues.redhat.com/browse/CRW-2619) build python lang server from source / install via cachito - in progress from prev sprint - Mykhailo
* [ ] [RHDUXD-1718](https://issues.redhat.com/browse/RHDUXD-1718) outdated CRW content from 2018 on Dev Spaces

[2022-06-27 23:12] vatsal-uppal-1997 commented on #21500
I think the first and the third option would work just fine for me!

Any idea where I can find docs related to the devworkspace yaml file?

Btw thanks for your help man!

[2022-06-27 23:24] l0rd commented on #21500
I don't think we have that. But looking [at our online devfile registry](https://eclipse-che.github.io/che-devfile-registry/main/devfiles/) you can see that the devworkspaces for che-code are already generated (`items[].links.devWorkspaces`). I think that the trick here is to append the `che-editor` parameter to all the `items[].links.v2`.
cc @benoitf @svor

[2022-06-28 02:43] nickboldt commented on #21503
Prod team tasks - P1
* [ ] [CRW-3071](https://issues.redhat.com/browse/CRW-3071) fix inconsistencies in commandline params - Sam
* [ ] [CRW-2619](https://issues.redhat.com/browse/CRW-2619) build python lang server from source / install via cachito - in progress from prev sprint - Mykhailo
* [ ] [CRW-3078](https://issues.redhat.com/browse/CRW-3078) review polling rules for all containers
* [ ] [CRW

[2022-06-28 02:44] nickboldt commented on #21503
Prod team tasks - P1
* [ ] [CRW-3071](https://issues.redhat.com/browse/CRW-3071) fix inconsistencies in commandline params - Sam
* [ ] [CRW-2619](https://issues.redhat.com/browse/CRW-2619) build python lang server from source / install via cachito - in progress from prev sprint - Mykhailo
* [ ] [CRW-3078](https://issues.redhat.com/browse/CRW-3078) review polling rules for all containers
* [ ] [CRW

[2022-06-28 06:56] Bolodya1997 opened #21510 "Che-Theia fails to open HTML preview in mini-browser"
### Describe the bug

Che-Theia fails to open HTML preview in mini-browser.

### Che version

7.47

### Steps to reproduce

1. Create `bash` sample workspace.
2. Create `aaa.html` file.
3. Type `aaaa`.
4. Click on `Open Preview`.
5. Empty tab with `Error: MiniBrowserEnvironment is not finished initializing` is opened to the right side.

### Expected behavior

Tab with HTMP preview is opened to the

[2022-06-28 08:43] vinokurig commented on #21485
Didn't mangae to start github enterprise instance localy. Need a remote instance: https://enterprise.github.com/releases/3.5.1/download

[2022-06-28 09:35] themr0c commented on #21295
Fixed by https://github.com/eclipse-che/che-docs/pull/2343

[2022-06-28 09:39] #21298 closed

[2022-06-28 09:45] themr0c commented on #21444
Cloned in https://issues.redhat.com/browse/RHDEVDOCS-4196

[2022-06-28 09:50] themr0c commented on #21498
Probably related to the che-docs container update.

[2022-06-28 09:52] themr0c commented on #21498
Cloned in https://issues.redhat.com/browse/RHDEVDOCS-4196

[2022-06-28 09:53] #21393 closed

[2022-06-28 09:57] themr0c commented on #21304
Referenced in https://issues.redhat.com/browse/RHDEVDOCS-4198

[2022-06-28 10:06] themr0c commented on #20726
The GCP docs have been removed.

[2022-06-28 10:06] #20726 closed

[2022-06-28 10:07] themr0c commented on #20983
The che4z extension docs have been removed.

[2022-06-28 10:07] #20983 closed

[2022-06-28 10:36] azatsarynnyy opened #21511 "Che-Code automatic rebase against upstream VS Code is failed"
### Is your task related to a problem? Please describe

The GitHub Workflow for Che-Code automatic rebase against upstream VS Code is failed:
https://github.com/che-incubator/che-code/actions/runs/2574882259

[code]

### Describe the solution you'd like

Fix the incompatibility with the upstream.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-28 11:48] olexii4 opened #21512 "Reuse already stored data in the new tab where factory flow runs"
### Is your enhancement related to a problem? Please describe

Our factory flow opens a new tab and sent all requests for getting preload data. it is more than 10 requests in addition.

### Describe the solution you'd like

Reuse already stored data in the new tab where factory flow runs.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-28 11:55] #21511 closed

[2022-06-28 12:23] ibuziuk opened #21513 "Che-Code Activity Tracker extension to DevWorkspace mode"
### Is your task related to a problem? Please describe

Che-Theia activity tracker has been implemented as part of https://github.com/eclipse/che/issues/20460
We need to have the same mechanism for Che-code

### Describe the solution you'd like

Adapt Che-Theia activity tracker extension for Che-Code

### Describe alternatives you've considered

The alternative for this would be universal idling,

[2022-06-28 12:34] dmytro-ndp opened #21514 "Create acceptance tests to go through all devfile samples and all editors using API"
### Is your task related to a problem? Please describe

There are tens of devfile samples and several supported editors which are not covered by automated acceptance tests.

### Describe the solution you'd like

Samples in upstream and with supported editors have to be covered by automated tests:
- open workspaces in certain editor;
- execute each available command described in devfile from within

[2022-06-28 12:37] pdfruth commented on #21390
@l0rd Thank you for the updated link to the blog post draft.
I have attempted to follow the instructions by adding .che folder containing a che-editor.yaml file to an existing Git repo.
However, upon creating a new Openshift Dev Spaces workspace, I still see the Theia editor (as seen in this screen-shot)
The Git repo containing my simple Python app is [here](https://github.com/pdfruth/voting-app-p

[2022-06-28 13:04] karatkep opened #21515 "Che-server to support custom email claim"
### Is your enhancement related to a problem? Please describe

Access token generated by Microsoft identity platform does not have `email` claim. As result we are getting `java.lang.NullPointerException: Required non-null email`:
[code]

Access token structure:
[code]

### Describe the solution you'd like

Extend che-server to support configuration of `email` claim attribute. So user will be able

[2022-06-28 13:24] Divine1 commented on #21383
@benoitf  could you please share if you have any idea on how to fix this problem?

`xvfb-run -a java -jar target/cbfvTAPRegression.jar ` - we have to use the `xvfb-run -a ` command to run the java program within `quay.io/devfile/universal-developer-image:ubi8-latest` container

[2022-06-28 14:23] #21422 closed, assigned to vitaliy-guliy

[2022-06-28 15:08] #21438 closed

[2022-06-28 15:09] #21444 closed

[2022-06-28 15:10] dkwon17 commented on #21444
Closed thanks to https://github.com/eclipse-che/che-docs/pull/2379 being merged

[2022-06-28 16:16] dkwon17 opened #21516 "Determine why workspace stopped and provide appropriate warning/info page on dashboard if needed"
### Is your enhancement related to a problem? Please describe

Continuation of https://github.com/eclipse/che/issues/20599

Currently, when a workspace is not running, accessing the workspace url (e.g. the devworkspace CR's `status.mainUrl`) will redirect the user to the dashboard with a warning page. The user is redirected to the dashboard in this case because https://github.com/eclipse-che/che-o

[2022-06-28 16:21] svor opened #21517 "Support OAuth flow for Bitbucket SaaS"
### Is your task related to a problem? Please describe

Che OAuth flow should support Bitbucket SaaS

### Describe the solution you'd like

Need to verify if current OAuth flow provides support for Bitbucket SaaS and implement it if it doesn't.

[2022-06-28 18:04] Divine1 opened #21518 "unable to comprehend the value shown as cpu metrics in theia-ide"
### Summary

in theia-ide, cpu metrics shows `Used 127895000m (used) / 500m (limited)` . is the  value shown here correct or incorrect?

 i'm not able to comprehend the meaning of this value. i was expecting the value to be lessthan 500m.

<img width="1321" alt="image" src="https://user-images.githubusercontent.com/10482177/176251222-c874819d-3c33-4f8d-92c5-49d4840aaa43.png">

My understanding is

[2022-06-28 18:16] vzhukovs commented on #20313
Won't be implemented as it available now by using factory with `che-editor` query parameter.

[2022-06-28 18:16] #20313 closed

[2022-06-28 18:48] azatsarynnyy commented on #21507
@svor @vinokurig can you look at it?
 Probably, it's related to the Git plug-in.

[2022-06-28 20:00] l0rd commented on #21390
@pdfruth: you need a devfile c.f. https://github.com/pdfruth/voting-app-py-ds/pull/1, thanks for spotting that, I will update the document to mention that.

@olexii4 I have reproduced that upstream too: .che/che-editor.yaml is ignored if there is no devfile.

[2022-06-29 06:53] #21478 closed

[2022-06-29 07:01] tolusha commented on #21515
I am wondering if `CHE_OIDC_USERNAME__CLAIM: "unique_name"` can actually help

[2022-06-29 07:08] benoitf commented on #21518
cc @svor

[2022-06-29 07:15] Divine1 opened #21519 "Error: MiniBrowserEnvironment is not finished initializing"
### Summary

i'm trying to open a image in preview mode within the theia
Please let me know how can i open a image with the theia

<img width="1540" alt="image" src="https://user-images.githubusercontent.com/10482177/176374770-73299fe5-4717-4ead-a08b-f583f409a48e.png">

### Relevant information

_No response_

[2022-06-29 07:20] karatkep commented on #21515
Unfortunately no.
It's always broken for the first-time login user due to email is required https://github.com/eclipse-che/che-server/blob/4e1b90a5ae404ecfbe2c2fe0728ce3d9dd222ceb/wsmaster/che-core-api-user/src/main/java/org/eclipse/che/api/user/server/UserManager.java#L186

[2022-06-29 07:21] benoitf commented on #21519
it's a dup of https://github.com/eclipse/che/issues/21510

pending PR: https://github.com/eclipse-che/che-theia/pull/1358

[2022-06-29 07:21] #21519 closed

[2022-06-29 08:47] Divine1 commented on #21518
@svor  thank you for the response

i used below devfile.yaml , but i have removed the source code repo and image information.
i used a java based project here(version jdk8). is this information sufficient?
[code]

[2022-06-29 11:11] Divine1 commented on #21332
@l0rd  i have installed `eclipce-che` with `dex` as OIDC in my LAN on k8s cluster created using kubeadm. Thank you for the help

[2022-06-29 12:05] nickboldt commented on #20549
Upstream issues that may block this implementation for downstream include:
* https://github.com/eclipse/openvsx/issues/229
* https://github.com/eclipse/openvsx/issues/263
* https://github.com/eclipse/openvsx/issues/314
* https://github.com/eclipse/openvsx/issues/37
* https://github.com/eclipse/openvsx/issues/341#issuecomment-943534198 (if we want to differentiate by license type to better filter o

[2022-06-29 13:15] prasanthmvp opened #21520 "dex eclipse che dashboard throws 500 Internal Error on successful login"
### Summary

We tried to install eclipse che on minikube and we are facing internal server error on successful login
![222](https://user-images.githubusercontent.com/73928285/176445314-ecea6134-815f-44ed-9a35-68c2a4482d7d.PNG)

### Relevant information

_No response_

[2022-06-29 13:27] benoitf commented on #21520
@prasanthmvp do you have something in the "More info" toggle ?

also what is your minikube version ?

[2022-06-29 16:31] #21498 closed

[2022-06-29 16:33] themr0c commented on #21498
This was caused by an update of the Antora lunr search extension. It doesn't require additional CSS and JavaScript anymore, quite the contrary.

[2022-06-29 17:09] azatsarynnyy commented on #20313
More details are in the docs https://www.eclipse.org/che/docs/stable/end-user-guide/selecting-an-ide/

[2022-06-30 04:44] prasanthmvp commented on #21520
@benoitf

![221](https://user-images.githubusercontent.com/73928285/176594547-701996ef-08fe-4aba-a64b-de479af16d14.PNG)
![220](https://user-images.githubusercontent.com/73928285/176594558-6123d583-b0af-430a-b8d4-50d5bf2f30a7.PNG)

Minikube Version: v1.26.0

[2022-06-30 04:54] prasanthmvp commented on #21125
@karatkep did u resolved 500 error on Oauth callback

[2022-06-30 04:55] prasanthmvp commented on #21520
@benoitf  you could find similar issue on https://github.com/eclipse/che/issues/21125

[2022-06-30 05:37] pdfruth commented on #21390
Thank You @l0rd.  I can confirm that the addition of a devfile has enabled the che-code editor to load.  And there is no idle timeout!!

[2022-06-30 06:51] benoitf commented on #21520
@prasanthmvp did you try with more memory for your minikube instance ?

Something like

[code]

(and please delete the minikube instance before starting it as AFAIK it's only at the first start that it provides settings)

[2022-06-30 07:13] prasanthmvp commented on #21520
@benoitf  Yes we have increased the resources to 12GB and 6 Cores and started but still the same error 500 persists. All others are Running and working Fine.

![IMG_20220630_123726](https://user-images.githubusercontent.com/73928285/176615639-2ea052a6-12b1-4cc5-af6b-0d6cfea35a9d.jpg)

[2022-06-30 07:25] debovema commented on #21125
@prasanthmvp @amol-m-deshpande : I used to have an error 500 and then I updated this [gist](https://gist.github.com/debovema/783f29040059f8b2b784a246dbd96365). I have tested it on WSL2 + Docker Desktop (Minikube 1.26.0, k8s 1.24.1, chectl 7.49.0).
What is your host system ?
Also check that you have no problem of DNS rebinding protection to use *.nip.io hostnames (see https://nip.io/ and https://en

[2022-06-30 07:32] themr0c commented on #21498
Note that you may need to force-refresh the page in your browser to load the latest version of the `search-ui.js` file.

[2022-06-30 12:01] debovema commented on #21520
Do you have any error in oauth-proxy container in che-gateway pod ?

[code]

[2022-06-30 15:31] dkwon17 opened #21522 "Update RELATED_IMAGE regexes for che/devspaces"
### Is your enhancement related to a problem? Please describe

Revaluate the regexes in the [che-operator](https://github.com/eclipse-che/che-operator) used to determine default workspace images for the [image puller](https://github.com/che-incubator/kubernetes-image-puller). The current regexes are listed [here](https://github.com/eclipse-che/che-operator/blob/7f86e7d29b0620cad55e3c43dcd3c74cff0c

[2022-06-30 15:37] ibuziuk commented on #21405
After some discussion, it was decided to change the CR properties to make it more straightforward and do NOT use DWOC for configuring any of the storage properties from the Eclipse Che CR, since it complicates the flow and would create a global DevWorkspace Operator configuration which in some cases might not be desired. The current plan is:

1. Need to make the CR more straightforward. Based on t

[2022-06-30 16:09] azatsarynnyy commented on #21466
It's because the task is sent to machine-exec component for execution in a target container.
In the case of non-Che tasks (shell, etc.) the target container can't be specified, so machine-exec doesn't know where to execute it. We need to rework it to execute any non-Che task in a single container or probably ask the user interactively to specify the target container.

[2022-06-30 18:57] apupier commented on #21466
in my case, i would expect to be executed int he same container than the VS Code extension.

[2022-06-30 23:02] devstudio-release commented on #21353
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-3104

[2022-07-01 06:01] tolusha commented on #21398
Fixed by https://github.com/openshift/release/pull/29890

[2022-07-01 06:01] #21398 closed

[2022-07-01 06:10] vinokurig commented on #21485
OAuth flow for GitHub hosted version of GitHub enterprise works without any changes. To work on the server version need an instance with the application.

[2022-07-01 06:14] tolusha commented on #21520
It seems like duplicate https://github.com/eclipse/che/issues/21125

[2022-07-01 08:11] prasanthmvp commented on #21520
@debovema @tolusha We had seen the script and kindly guide how to use it in the following environment.

Minikube Version: v1.26.0
Docker version 20.10.17, build 100c701
OS : AlmaLinux release 9.0 (Emerald Puma)

minikube start --addons=ingress,dashboard --driver=docker --memory=12288 --cpus=6

Due to the *.nip.io restricted in our Network, We modified the /etc/hosts file as follows.,
192.168.49.2

[2022-07-01 08:12] prasanthmvp commented on #21125
@debovema We had seen the script and kindly guide how to use it in the following environment.

Minikube Version: v1.26.0
Docker version 20.10.17, build 100c701
OS : AlmaLinux release 9.0 (Emerald Puma)

minikube start --addons=ingress,dashboard --driver=docker --memory=12288 --cpus=6

Due to the *.nip.io restricted in our Network, We modified the /etc/hosts file as follows.,
192.168.49.2  192.168.

[2022-07-01 13:29] ibuziuk opened #21524 "Failed to reconcile the workspace pod node selector and tolerations in namespace"
### Describe the bug

There are a lot of error messages in che-operator related to reconciling the workspace pod node selector and tolerations in user namespaces

### Che version

7.50@latest

### Steps to reproduce

See logs from the operator

### Expected behavior

No error messages are reported

### Runtime

OpenShift

### Screenshots

_No response_

### Installation method

OperatorHub

### En

[2022-07-01 13:39] ibuziuk commented on #21391
See the same problem in the dogfooding instance.
Adding the `next/sprint` label would be great to prioritize and investigate

[2022-07-03 09:19] tolusha commented on #21391
Some investigation.
`che-operator` updates project [1] while reconciling [2] node selector and toleration, but it does not have such permissions [3]

[1] https://github.com/eclipse-che/che-operator/blob/aa0806fde4578565e2c8a5e314e3d153a372b239/controllers/usernamespace/controller.go#L551
[2] https://github.com/eclipse-che/che-operator/blob/aa0806fde4578565e2c8a5e314e3d153a372b239/controllers/usern

[2022-07-03 09:27] tolusha commented on #21405
I don't understand how it correlates with the current CheCluster CR configuration

[code]

[2022-07-03 10:44] #21391 closed

[2022-07-03 17:23] Divine1 commented on #21383
@benoitf
i figured the solution for my issue.

instead of using the image with redhat os`quay.io/devfile/universal-developer-image:ubi8-latest`  , i used `selenium/standalone-chrome` (this image was required for my project) as a base image and installed the java tools in the image. this image had `xvfb` installed in it.

the issue is fixed now.

thank you for the help

[2022-07-03 17:23] #21383 closed

[2022-07-04 00:55] #20960 closed

[2022-07-04 08:18] l0rd commented on #21405
The idea is to:
1. rename  the PVC strategy `common` as `per-user`
2. apply `claimSize` and `storageClass` only if the strategy is `per-user`

That's why I would rather add a new field:

[code]

[2022-07-04 09:47] karatkep commented on #21450
@l0rd Please review https://github.com/eclipse-che/blog/pull/29

[2022-07-04 09:51] Divine1 commented on #20758
@nickboldt

currently i'm using below `chectl` version. if i upgrade to `chectl` 7.5.0, will it cause break in my `eclipse-che` setup?
<img width="462" alt="image" src="https://user-images.githubusercontent.com/10482177/177130077-0c413c55-dd5d-463a-9e53-a4d6a826635b.png">

[2022-07-04 09:53] vatsal-uppal-1997 commented on #21500
@l0rd Tried appending che-editor parameter to the end of links/v2 URL, but when I try opening the workspace from che dashboard the added parameter gets URL encoded and che fails to open the custom workspace in the specified editor. The URL looks as follows:

https://192.168.1.136.nip.io/dashboard/#/load-factory?url=https%3A%2F%2F192.168.1.136.nip.io%2Fdevfile-registry%2Fdevfiles%2Fsample-project%2

[2022-07-04 10:11] l0rd commented on #21450
Faster than the wind 👍  Will review that later today.

[2022-07-04 10:12] l0rd commented on #21450
@tolusha @sparkoo it would be great if you have time to have a look at the blog post too.

[2022-07-04 11:24] vinokurig commented on #21507
Managed to reproduce the bug, @svor I think we need to consider adding this issur to a sprint.

[2022-07-04 14:14] amisevsk commented on #21405
The issue is that since checluster v2 has released, the `pvc` field cannot be removed safely.

[2022-07-05 09:03] #21492 closed

[2022-07-05 11:42] svor commented on #21500
@vatsal-uppal-1997 I think the easiest way to use another editor with your devfile registry is:
override the **defaultEditor** in CheCluster CustomResourceDefinition by adding **defaultEditor** into **devEnvironments**. For example if you want to use che-code as a default editor, add this:
[code]
![screenshot-console-openshift-console apps ci-ln-78x2xlb-72292 origin-ci-int-gce dev rhcloud com-2022

[2022-07-05 11:56] karatkep opened #21530 "Configure the oauth-proxy cookies timeouts"
### Is your enhancement related to a problem? Please describe

The purpose of this enhancement is to add ability to configure oauth-proxy cookies timeouts (both `cookie_refresh` and `cookie_expire`) via CheCluster CR. It's not allowed to configure them in current version:
* `cookie_expire` is [hardcoded](https://github.com/eclipse-che/che-operator/blob/c4b34810cff62c82c9d1a0b3098896c31fef58d4/pkg/

[2022-07-05 12:00] tolusha commented on #21530
@sparkoo What do you think about this?

[2022-07-05 12:49] ibuziuk opened #21532 "Error message when trying to delete multiple workspaces from the Dashboard"
### Describe the bug

Error message is shown when trying to delete multiple workspaces at a time from the User Dashboard on the dogfooding cluster:

### Che version

7.50@latest

### Steps to reproduce

Reproduced on dogfooding:
1. Select all workspaces for deletion from UD
2. ERROR: the error message is shown even though all workspaces are deleted correctly

### Expected behavior

Workspace delet

[2022-07-05 12:56] ibuziuk commented on #21405
On my end, I have verified on the dogfooding instance that once namespace is removed it will be recreated by che-server on the next login, which means that namespace configuration [1] routine will be triggered

[1] https://github.com/eclipse-che/che-server/blob/main/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesNamespaceFactory.jav

[2022-07-05 13:16] l0rd commented on #21500
@vatsal-uppal-1997 I think that @svor suggestion may solve your problem. That's something that has been introduced last week. Anyway, in your comment the URL encoding is fine. I suspect that the Devfile you are pointing to is a version 1 Devfile that doesn't work with VS Code:

[code]

@svor there are still a lot of version 1 devfiles. [I have created a PR to removed them](https://github.com/eclip

[2022-07-05 14:00] Divine1 commented on #20758
Thank you @l0rd

[2022-07-05 14:02] #21480 closed

[2022-07-05 14:39] svor commented on #21500
It's very good cleanup of the devfile registry!

[2022-07-05 16:17] amisevsk commented on #21405
I've verified @tolusha's sample -- seems to work. Don't know what problem I ran into in the past :shrug:

[2022-07-06 12:07] tolusha commented on #21445
Outdated Jenkins job
https://main-jenkins-csb-crwqe.apps.ocp-c1.prod.psi.redhat.com/job/Che/job/e2e/job/ocp/job/complex/job/disconnected/job/disconnected-deploy/

[2022-07-06 13:44] sparkoo commented on #21483
is OIDC server, you're using to authenticate Che, same OIDC as Kubernetes is using?

[2022-07-06 14:05] sparkoo commented on #21530
It make sense to me, because various cluster configurations might require specific oauth-proxy configuration.
However, we have to be careful here to not spam CheCluster CR with all possible options for all components. I would consider some generic `map[string]string` field, something like `extraProperties` for che-server. For example:

[code]

Code would then add or replace default configuration o

[2022-07-07 00:44] kusa1992 commented on #1821
I encountered this issue on Eclipse version 2022-06 (4.24.0). And I can't import the project into workspace as an existing project. The error is "Some projects cannot be imported because they already exist in the workspace" but I can't find it in workspace at all. Could you suggest me what to do?

[2022-07-07 03:33] Divine1 opened #21534 "how to update a CA signed(by verified organizations) https certificate in eclipse-che?"
### Summary

i have setup `eclipse-che` on k8s cluster with `dex` as OIDC provider

i'm using below version of `eclipse-che`
<img width="462" alt="image" src="https://user-images.githubusercontent.com/10482177/177683894-e5bfb40e-6c43-4c3d-a1b2-eb63f7c10119.png">

i used below command to install `eclipse-che`
[code]

As of now, the domain used for `dex` and `eclipse-che` has Self generated SSL cert

[2022-07-07 08:17] rakeshreddyrg09 commented on #21483
sorry i didn't understand your question, but my OIDC is hosted in organization level and che  is running on local k8s cluster on my laptop.

[2022-07-07 08:46] Divine1 opened #21535 "Container has state CrashLoopBackOff"
### Summary

i created a docker image using below `Dockerfile`

When i add it to my `devfile.yaml`,i receive `Container has state CrashLoopBackOff` error
<img width="1328" alt="image" src="https://user-images.githubusercontent.com/10482177/177731559-9b246bea-656c-49d9-8ba4-3110fa78eee6.png">

[code]

 i linked the above dockerimage in below `devfile.yaml`

[code]

please let me know how to fix thi

[2022-07-07 09:35] tolusha commented on #21534
Certificates to secure Eclipse Che url are store in 2 secrets in `eclipse-che` namespace
- `self-signed-certificate` (CA certificate)
- `che-tls` (server private and public key pair)

To replace them, I suggest the following way
[code]

[2022-07-07 09:49] tolusha commented on #21535
I might mistaken but Dockerfile should look like
[code]

[2022-07-07 10:03] sparkoo commented on #21483
Do you have k8s cluster configured with OIDC Authentication? https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens

[2022-07-07 10:31] Divine1 commented on #21535
@tolusha thank you for the response.

i will try that approach and share the feedback in couple of minutes

[2022-07-07 12:14] Divine1 commented on #21535
@tolusha it didnot work, i received the same error

[2022-07-07 12:44] Divine1 commented on #21534
@tolusha  thank you for this detail. i'm yet to receive a valid certificate, i will share the feedback once i try it out

[2022-07-07 13:46] dmytro-ndp commented on #21445
Old pipeline script to fix:
- https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/blob/4c24a7e0eb866bf2c50bb74ea8b84c96ec8939bf/jobs/Che/e2e/ocp/complex/disconnected/disconnected-deploy.groovy
- https://gitlab.cee.redhat.com/codeready-workspaces/crw-jenkins/-/blob/4c24a7e0eb866bf2c50bb74ea8b84c96ec8939bf/jobs/Che/e2e/ocp/complex/disconnected/disconnected-deploy.jenkinsfile

In order t

[2022-07-07 14:09] tolusha commented on #21535
Confirm, something wrong with the base image `ubuntu:focal-20220531`
@svor Do you have any ideas?

[2022-07-07 14:15] tolusha commented on #21481
To be honest I don't know. It might some underlying k8s error.

[2022-07-07 14:27] gidduhome opened #21536 "Can we replace postgresDB with someother DB like mysql or sqlserver in Eclipse-che 7.41.2"
### Summary

Hi,

Would it be possible to point eclipse che DB to othe DBs like MySQL instead of postgres?
We are thinking  to do this on 7.41.2 version.
Appreciate your response,

### Relevant information

Would it be possible to point eclipse che DB to othe DBs like MySQL instead of postgres?
We are thinking  to do this on 7.41.2 version.

[2022-07-07 18:01] sparkoo commented on #21483
yes. Che is using OIDC token to talk with Kubernetes API. So Kubernetes has to be configured with same OIDC to understand the token.

[2022-07-07 19:25] azatsarynnyy opened #21537 "Che-Code auto-opened terminal doesn't work (for `main` branch)"
### Describe the bug

The terminal widget that's opened automatically on Che-Code start is not connected to machine-exec.
![image](https://user-images.githubusercontent.com/1636395/177855676-3ab42dad-d1b3-468d-86cd-23d69ee62879.png)

Note, that the terminal opened manually (from the dropdown menu) works as expected:
![image](https://user-images.githubusercontent.com/1636395/177856003-7ccf45b6-c12f

[2022-07-07 22:46] l0rd commented on #21537
The other problem is that when opening from the dropdown the lines are truncated:

![truncated-lines](https://user-images.githubusercontent.com/606959/177883733-07fc5e46-11fa-4bae-9556-981dba0b6cb1.gif)

[2022-07-07 22:54] l0rd opened #21538 "VS Code built-in markdown extension doesn't work (requires update)"
### Describe the bug

If I try to open the markdown preview I get an error:

[code]

The "Markdown Language" extension (built-in) gets updated automatically after a few seconds and I am able to preview Markdown documents then.

![markdown-vscode](https://user-images.githubusercontent.com/606959/177884285-f5ae8b24-9c32-4c3b-ae6b-1eefd94b2443.gif)

### Che version

next (development version)

### St

[2022-07-07 22:55] l0rd commented on #21537
And I have also [this issue](https://github.com/eclipse/che/issues/21538)

[2022-07-07 23:58] beaumorley commented on #20627
HI @olexii4 Thanks for sharing the video. It looks great. A few suggestions.

1.) It would be nice to give the user a little more info on what they are doing to compliment the tooltip that gives more info on the editor. There is a title options for a dropdown you could use. Like this:
![image](https://user-images.githubusercontent.com/52013984/177890123-6aba8973-efd4-4b59-b550-866658e64975.png)

2

[2022-07-08 03:30] pdfruth commented on #21537
I am impacted by this as well.
Things were working well until about 6-8 (or so) days ago, when @l0rd explained how to enable the VScode editor [here](https://github.com/eclipse/che/issues/21390#issuecomment-1170785241).

Is there any way to work around this until a resolution is found?
For example, Is there a way to explicitly set the image tag on the `id: che-incubator/che-code/insiders` in the `

[2022-07-08 06:17] Divine1 opened #21539 "is it possible to authorize only selected users to use `eclipse-che` dashboard website?"
### Summary

i have installed `eclipse-che` in k8s cluster. i have used `dex` as the OIDC provider and i have integrated `dex` with my `organization's gitlab` login.

currently anyusers who has access to the my organization's gitlab login credentials are able to use the `eclipse-che` dashboard webpage after successful authentication/authorization via `dex-gitlab`.

i dont want to allow access to a

[2022-07-08 08:09] ibuziuk opened #21540 "Improve UX on the dashboard page when a workspace is stopped / idled"
### Is your task related to a problem? Please describe
The original page has been implemented as part of https://github.com/eclipse/che/issues/20599

![image](https://user-images.githubusercontent.com/83611742/175036843-98304e48-27af-49df-849b-39f7d17f1135.png)

### Describe the solution you'd like

Page that follows UX patterns - Look and feel suggestions are most welcome
Copy/UI text wording - i

[2022-07-08 08:11] l0rd commented on #20627
Thank you @beaumorley that's great.

[2022-07-08 08:30] tolusha commented on #21536
Hello @gidduhome

Unfortunately that's not possible.
We have sql scripts heavily tied to PostgreSQL. For instance:
https://github.com/eclipse-che/che-operator/blob/3262a5acc1d79a92d1c7c466d0c5bc4779155977/pkg/deploy/postgres/postgres.go#L172
https://github.com/eclipse-che/che-operator/blob/608bff018771618bef4ff250d1776219c05cede1/pkg/deploy/identity-provider/deployment_keycloak.go#L36

[2022-07-08 08:34] tolusha commented on #21539
/cc @sparkoo @karatkep
Do you know if it is possible? Have you ever faced such an issue?

[2022-07-08 09:08] Divine1 commented on #21380
@tolusha
i'm still receiving below error even after adding `CHE_INFRA_KUBERNETES_WORKSPACE__START__TIMEOUT__MIN : "15"`

the timelimit didnot increase to `15`, it still shows `5`
![image](https://user-images.githubusercontent.com/10482177/177957629-0e64450e-5f6d-4463-b8c4-1e0a6b1fda3e.png)

below is my checluster configuration

[code]

`kubectl get checluster eclipse-che -n eclipse-che -o yaml`
[c

[2022-07-08 09:08] ibuziuk commented on #21536
Also, please note that we plan to remove the db completely in the upcoming releases

[2022-07-08 09:31] tolusha commented on #21380
@amisevsk

`CHE_INFRA_KUBERNETES_WORKSPACE__START__TIMEOUT__MIN`
Do we have alternative configuration in devworkspace world?

[2022-07-08 09:33] tolusha commented on #21380
@Divine1
I think timeout happens because of pulling images.
Could you consider using k8s image puller for faster workspace startup?
`https://github.com/che-incubator/kubernetes-image-puller-operator`

[2022-07-08 09:43] l0rd commented on #21513
@dkwon17 @ibuziuk is that completed or is there something else that we need to wait before closing this issue?

[2022-07-08 09:48] Divine1 commented on #21380
@tolusha

i found below details in the link, could you please let me know how this will help my scenario? i have couple of docker images in my internalOrganization's docker registry.
<img width="904" alt="image" src="https://user-images.githubusercontent.com/10482177/177965803-3e01d7e0-f7e4-4ae0-af34-b152b1e3548a.png">

[2022-07-08 10:01] tolusha commented on #21380
You can configure the list of images you would like to prepull.
[code]

[2022-07-08 10:40] Divine1 commented on #21380
@tolusha  i have already installed the eclipse-che in my k8s cluster

if i edit and update my `checluster` in  `eclipse-che` namespace, will that be sufficient?
`kubectl get checluster -n eclipse-che`

[2022-07-08 12:42] tolusha commented on #21380
@Divine1
That's a good question. As far I as remember, if you enable image puller via CheCluster CR, then che-operator will try to deploy image puller via OLM.
To deploy it on k8s cluster without olm, pls follow instruction https://github.com/che-incubator/kubernetes-image-puller-operator#installing-the-operator

btw. thank you to @dmytro-ndp, there is a way how to configure workspace startup time

[2022-07-08 13:09] karatkep commented on #21539
I think there is only one way to restrict access to Che - restrict access
to k8s api server for the user...

пт, 8 июл. 2022 г., 11:34 Anatolii Bazko ***@***.***>:

[2022-07-08 13:19] dkwon17 commented on #21513
Oops, forgot to close. This issue is fixed by https://github.com/che-incubator/che-code/pull/65

[2022-07-08 13:19] #21513 closed

[2022-07-08 13:32] rakeshreddyrg09 opened #21541 "keycloak integration with new che helm chart"
### Summary

Hello team,

Can anyone share the documentation flow for how to set up eclipse-che oidc is configured with keycloak which is installed in same k8s cluster.

this is how currently passing details through values file.
![OIDC-che](https://user-images.githubusercontent.com/48629246/178000338-e7d7d5be-5687-44b9-85c7-b8c0261376c3.png)
![client-test-keycloak](https://user-images.githubuserco

[2022-07-08 13:58] Divine1 commented on #21539
@tolusha @karatkep

is there any feature that can be used to blacklist/whistelist/restrict access to below `eclipse-che` dashboard page, after successful login via dex ?
<img width="1357" alt="image" src="https://user-images.githubusercontent.com/10482177/178006247-fcd95c43-01f0-4b8f-a7ac-5c298ec5f1d8.png">

[2022-07-08 14:48] sparkoo commented on #21483
You can get inspired how we're doing that for minikube in chectl https://github.com/che-incubator/chectl/blob/main/src/tasks/platforms/minikube.ts#L135

[2022-07-08 14:49] sparkoo commented on #21539
I don't think there's clean way how to do that. You can maybe update rolebinding in user's namespace, removing permissions to Che resources. But I'm not sure it won't be reconciled back. Also new users will still be able to login to Che. I don't think there was ever such requirement.

[2022-07-08 19:32] amisevsk commented on #21380
To configure the start timeout in DevWorkspace Operator, you can use the `.config.workspace.progressTimeout` field in the DevWorkspaceOperatorConfig:

[code]
If a DevWorkspaceOperatorConfig named `devworkspace-operator-config` already exists, you'll likely want to leave other fields in the `.config` unchanged.

[2022-07-08 20:07] amisevsk commented on #21541
Hi @rakeshreddyrg09, thanks for opening an issue. I'm a little confused by the `identityProviderURL` here -- does `http://keycloak-discovery` resolve in your DNS to the keycloak pod in-cluster?

cc: @tolusha you're more familiar with OIDC setup in Che. I'd appreciate your help here if you're available.

[2022-07-08 20:23] amisevsk commented on #21535
One way to test this more quickly (without rebuilding the image) is to use the `command` and `args` fields in the devfile to override the entrypoint/command in the Dockerfile. I suspect that the correct combo would be something like
[code]
or
[code]
Could you try adding
[code]
to the `name: javacontainer` container component so we can check if it's an image issue or an entrypoint issue?

To go mor

[2022-07-09 02:40] rakeshreddyrg09 commented on #21541
hello @amisevsk thank you for reply,
here is my keycloak ingress, other components in my cluster are able to do the OIDC OAUTH successfully.
![image](https://user-images.githubusercontent.com/48629246/178088419-3231649b-71d7-48a0-bf99-23aa91da893a.png)
i have tried with my other host too but same result.
![image](https://user-images.githubusercontent.com/48629246/178088502-93a9817a-4f2a-479f-bdb2-

[2022-07-09 08:20] Divine1 commented on #21535
@amisevsk
i have updated my `devfile.yaml` as you have mentioned. Now my container gets loaded in workspace successfully. thank you for this.

but i'm facing below error inside the terminal. by default i need `/bin/bash` shell to appear but its not the case as shown in below screenshot. please let me know what am i missing here. i have attached the `Dockerfile` i used to create the container   her

[2022-07-09 09:33] Divine1 commented on #21535
@amisevsk

i updated the `Dockerfile` as per your suggestion. Now the container is loaded by `eclipse-che` workspace successfully.
i have attached the details below. Thank you for the inputs.

`Dockerfile`

[code]

`entrypoint.sh` is copied from [here](https://github.com/devfile/developer-images/blob/fbb8fc0a61a6c4e766c3f687512aae2a31971b76/base/ubi8/entrypoint.sh)

`devfile.yaml`

[code]

[2022-07-09 09:33] #21535 closed

[2022-07-09 17:37] Divine1 commented on #21380
`DevWorkspaceOperatorConfig` does not exist in `eclipse-che` namespace and `devworkspace-controller` namespace.

in which namespace should i create `DevWorkspaceOperatorConfig` component?

[2022-07-10 07:26] tolusha commented on #21380
@Divine1
Pls try in `devworkspace-controller` namespace

[2022-07-11 00:51] #19786 closed

[2022-07-11 09:39] philipreimer commented on #20712
/remove-lifecycle stale

[2022-07-11 12:29] l0rd commented on #21189
@vinokurig the only thing that is missing to close this issue is documentation right?

[2022-07-11 12:33] vinokurig commented on #21189
Yes, Max Leonov promissed to handle the docs PR https://coreos.slack.com/archives/C0324DHHGKY/p1657539895502879

[2022-07-11 12:43] pdfruth commented on #21537
Answering my own question

For example, Is there a way to explicitly set the image tag on the id: che-incubator/che-code/insiders in the che-editor.yaml file?

I have reconfigured my project's `.che/che-editor.yaml` file from this;
[code]
to this;
[code]

And the file at `https://<mygist>/che-editor.yaml` contains this;
Notice: the explicit setting of `image: quay.io/che-incubator/che-code:insider

[2022-07-11 12:44] l0rd commented on #21537
Thanks for sharing that @pdfruth

[2022-07-11 13:24] azatsarynnyy commented on #21473
I can reproduce this problem again. Most likely, something is broken after the latest git rebases of Che-Code against the upstream.

[2022-07-11 19:03] pdfruth commented on #21390
Hi @l0rd
As you mentioned earlier;

I have been able to get the che-code editor working in conjunction with the Red Hat OpenShift Dev Spaces V3.0 operator on an OCP cluster on x86 architecture.
I would like to do the same on an OCP cluster on the s390x architecture.  But I do not see container images at `https://quay.io/repository/che-incubator/che-code?tab=tags`.
Questions:
- Is there a place to

[2022-07-11 19:47] l0rd commented on #21390
@pdfruth @azatsarynnyy I don't think we have any s390 build yet and I am not sure if we have a plan to build it for 3Q22 (cc @azatsarynnyy @RomanNikitenko @nickboldt. To build it yourself you can have a look at the [PR check GitHub action](https://github.com/che-incubator/che-code/blob/main/.github/workflows/pr-check.yml).

[2022-07-11 20:07] azatsarynnyy commented on #21537
I'm going to disable terminal auto-opening in https://github.com/che-incubator/che-code/pull/68 until we investigate and fix this issue.

[2022-07-11 20:55] dkwon17 opened #21542 "Cannot deploy with chectl with custom catalog source file"
### Describe the bug

I am having some problems when trying to follow these steps to deploy Che Operator with `--installer olm`:
https://github.com/eclipse-che/che-operator#deploy-che-operator-with-chectl-using---installer-olm-flag

When providing my own catalog source file to chectl, I get this error:
`chectl server:deploy` fails with this message:
<img width="1156" alt="image" src="https://user-

[2022-07-12 00:54] #20507 closed

[2022-07-12 13:27] ibuziuk opened #21543 "Rust 'Getting Started' devfile fails to start"
### Describe the bug

Rust 'Getting Started' devfile fails to start on the dogfooding instance

### Che version

7.50@latest

### Steps to reproduce

1. Open the dashboard
2. Click on the "Rust" devfile
3. ERROR:  Container tools has state CreateContainerError

### Expected behavior

Workspace is started correctly

### Runtime

OpenShift

### Screenshots

![image](https://user-images.githubusercon

[2022-07-12 13:28] ibuziuk commented on #21543
@svor hi, do you happen to know about any recent changes that might cause this issue?

[2022-07-12 15:07] nils-mosbach opened #21544 "Use internal devfile registry as default for parent devfiles"
### Is your enhancement related to a problem? Please describe

As described by the devfile spec a devfile can inherit from a parent devfile. That makes things a lot easier, thanks a lot. :)

https://devfile.io/docs/devfile/2.2.0/user-guide/referring-to-a-parent-devfile-in-a-devfile/ e.g. referring to a nodejs environment.

[code]

We're sharing projects with people that are not within our organiza

[2022-07-12 15:25] l0rd commented on #21390
I have updated the description with CheCluster `devEnvironments` section instead of `workspaces` and I have added a note about the default values for the CheCluster fields and the env variables.

[2022-07-12 15:28] nils-mosbach opened #21545 "Allow tooling container to be inherited from parent if using Che-Code/ sidecarless editors"
### Is your enhancement related to a problem? Please describe

Referrring to a devfile that includes the development-tooling-container and using a sidecarless editor/ che-code isn't supported.  So Devfiles do need to have at least one container even if the parent Devfile contains everything thats needed.

From what I remember, Che Dashboard is responsible for mixing che-code (sidecarless-mode) wit

[2022-07-12 15:36] l0rd commented on #20627
@olexii4 I like the `next` icon but I am confused: if I am using a nightly Che I will have `next` editors and if I am using stable Che I expect to see `stable` editors. I would not provide too many options to developers.

[2022-07-12 16:05] azatsarynnyy commented on #21473
Fixed again by reverting the `che-incubator/che-code/insiders` state to the previous commit.

[2022-07-12 16:09] azatsarynnyy commented on #21537
Fixed for `che-incubator/che-code/insiders`.
Next, need to fix it in the `main` branch of Che-Code.

[2022-07-12 18:52] nils-mosbach opened #21546 "Simplify Che dashboard user interface"
### Is your enhancement related to a problem? Please describe

Che dashboard has a lot of redundant information at the moment that does make the user interface quite "advanced" from my point of view.

Specially the sidebar in its current state isn't really necessary. Recent workspaces are part of the workspaces list and the "Create Workspace" Menu option is a button in the workspaces list as well.

[2022-07-13 09:16] ibuziuk commented on #21546
@beaumorley hi, could you please review the proposal

[2022-07-13 09:54] ibuziuk commented on #21543
@olexii4 @akurinnoy folks, could you please take a look?

[2022-07-13 09:55] ibuziuk commented on #21543
cc: @benoitf

[2022-07-13 12:17] #21421 closed

[2022-07-13 12:43] tolusha commented on #21542
Fix https://github.com/che-incubator/chectl/pull/2177

[2022-07-13 13:19] svor commented on #21543
This problem is not reproducible with more recent version of che-code-devworkspace-handler library. I've updated the version, now devfile registry uses the same version as dashboard.

[2022-07-13 13:20] svor commented on #21543
It should be good now: https://eclipse-che.github.io/che-devfile-registry/main/devfiles/rust/devworkspace-che-code-insiders.yaml

[2022-07-13 13:20] #21543 closed

[2022-07-13 13:34] ibuziuk commented on #20627
@beaumorley could you please review - https://github.com/eclipse-che/che-dashboard/pull/575
would be great to get your approval before merging ;-)

[2022-07-13 15:20] MeghanaSrinath opened #21547 "OIDC configuration for Che 7.41"
### Describe the bug

I have followed the [documentation ](https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-microsoft-azure/)for installing Che v7.41 on Azure cloud on a AKS cluster. After installation via `chectl`, the che-server pod is not coming up and on inspecting the pod logs, I can see the below error:
[code]
[code]
My DNS is created as `mysubdomain.example.com`.

[2022-07-14 11:05] #21542 closed

[2022-07-14 11:23] tolusha commented on #21547
@MeghanaSrinath
I don't see keycloak pod, so I assume that you used the latest chectl version.
What does `chectl version` prints?
Probably you faced auto-update chectl issue, pls use the hint from https://github.com/eclipse/che/issues/18680#issuecomment-749485107

[2022-07-14 14:06] olexii4 commented on #21483
@rakeshreddyrg09 Do you still have this '401' problem?

[2022-07-14 14:55] karatkep commented on #21530
Hi @sparkoo and @tolusha .
I opened https://github.com/eclipse-che/che-operator/pull/1444 to address this issue. Please review.

NOTE: oauth2-proxy can be configured via [command line options](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#command-line-options), [environment variables](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#environment-va

[2022-07-14 18:49] dkwon17 commented on #21516
After spending more time with idling issues, I have some implementation ideas for this issue:

* workspace has stopped due to a timeout:
  * che-machine-exec [sets an annotation in the devworkspace metadata](https://github.com/eclipse-che/che-machine-exec/blob/302ec2e92350bf77c81d4d66a8be0e0a843d1f93/activity/manager.go#L155) (`"controller.devfile.io/stopped-by": "inactivity"`) when stopping a wor

[2022-07-14 19:22] azatsarynnyy opened #21548 "Che-Code automatic rebase against upstream VS Code is failed"
### Is your task related to a problem? Please describe

The GitHub Workflow for Che-Code automatic rebase against upstream VS Code is failed:
https://github.com/che-incubator/che-code/runs/7344373854?check_suite_focus=true

[code]

### Describe the solution you'd like

Fix the incompatibility with the upstream.

### Describe alternatives you've considered

_No response_

### Additional context

_N

[2022-07-14 20:02] dkwon17 opened #21549 "Idling a devworkspace with machine-exec removes attributes from devworkspace"
### Describe the bug

When che-machine-exec stops a workspace due to inactivity, the attributes listed in `spec.template.attributes` and `spec.template.components[*].attributes` are being removed.

For example, for a https://github.com/che-samples/golang-example workspace with che-theia here is the diff from when the workspace is running vs when the workspace has been shut down by che-machine-exec

[2022-07-14 23:36] l0rd commented on #19305
Updated the issue description with what will be left after https://github.com/eclipse-che/che-devfile-registry/pull/663 is merged.

[2022-07-15 04:35] rakeshreddyrg09 commented on #21483
yes

[2022-07-15 07:25] #21119 closed

[2022-07-15 11:48] ibuziuk opened #21551 "Sprint 222"
This issue collects work items of the Eclipse Che Team for Sprint 222 (July 20 - August 09).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (July 19th)

The previous sprint https://github.com/eclipse/che/issues/21503

## Sprint goals
- [ ] Dev Spaces 3.1 with DWO 0.15.2 release
- [ ] WTO 1.6 release for OpenShift 4.11
- [ ] Migrate CodeReady Workspace

[2022-07-15 12:44] azatsarynnyy opened #21552 "Setup the release job for Che-Code"
### Is your task related to a problem? Please describe

Currently, the [Che-Code](https://github.com/che-incubator/che-code) repository doesn't have a release job that could be included in the overall Che release process.

### Describe the solution you'd like

Create a GitHub Workflow that would:
- run a script that prepares a release branch;
- build the images;
- publish the built images to the Q

[2022-07-15 21:41] dkwon17 commented on #21549
I don't have this issue if I update the devworkspace resource version from `v1alpha1` to `v1alpha2` here in che-machine-exec when performing the resource patch to terminate the workspace:

https://github.com/eclipse-che/che-machine-exec/blob/302ec2e92350bf77c81d4d66a8be0e0a843d1f93/activity/manager.go#L38

[2022-07-16 06:28] donhuvy opened #21553 "Error response from daemon: manifest for eclipse/che:latest not found: manifest unknow: manifest unknown"
### Describe the bug

Error response from daemon: manifest for eclipse/che:latest not found: manifest unknow: manifest unknown

### Che version

7.50@latest

### Steps to reproduce

[code]

[code]

### Expected behavior

run success

### Runtime

Docker Desktop

### Screenshots

![image](https://user-images.githubusercontent.com/1328316/179343062-023e29d6-2a4f-4999-a5f1-f5916455f1ae.png)

### Inst

[2022-07-16 11:28] tolusha commented on #21553
Pls use `chectl` [1] to deploy Eclipse Che on k8s instance.
For instance, you can use minikube [2]

[1] https://github.com/che-incubator/chectl/
[2] https://minikube.sigs.k8s.io/docs/start/

[2022-07-17 00:59] #20137 closed

[2022-07-18 05:03] MeghanaSrinath commented on #21547
Thanks @tolusha , I had  indeed downloaded the latest chectl and that caused this issue. I downloaded v7.41 and evything is working fine now. Thank you.

[2022-07-18 05:03] #21547 closed

[2022-07-18 08:28] Divine1 commented on #21296
Hi @benoitf  @l0rd

i have a doubt on adding extension to che-theia ide

i have an extensionId `harmony-cbfsel.harmony-assist`, this extension can be installed in any vscode by any users. i want this extension to be installed and available for use in the `che-theia` ide.
so, i added the `attributes` section in devfile.yaml. but i'm unable to find my extension `harmony-cbfsel.harmony-assist` in the

[2022-07-18 08:32] benoitf commented on #21296
Hello @Divine1

using Che/Theia, the extension needs to be in the Che plug-in registry (here it's not so it will not add it)

Using VS Code/che integration, it will fetch it from [open-vsx.org ](https://open-vsx.org/) (and it's not there so it won't be seen as well)

VS Code marketplace is only available for VS Code product, 3rd party users can't use it. So you should probably provide your extensi

[2022-07-18 08:36] Divine1 commented on #21296
@benoitf thank you for this quick response.

i will try to push my extension to [open-vsx.org](https://open-vsx.org/) and share you the feedback

[2022-07-18 08:45] luxingxiao commented on #21419
I have a che cluster instance version 7.50 and how to config oauth_proxy to use bearer token but cookie.

[2022-07-18 08:47] tolusha commented on #21534
@Divine1
Did it solve your issue?

[2022-07-18 08:49] Divine1 commented on #21534
@tolusha

i have submitted a request to my organization to provide  a verified privatekey,publickey,csr. they haven't got back to me yet.
SO i havenot verified the instructions you have shared. i apologize for this.

[2022-07-18 09:19] Divine1 commented on #21296
@benoitf
i have published my extension at `https://open-vsx.org/extension/harmony/harmony-assist` .

The extensionId is `harmony.harmony-assist`

i have updated my `devfile.yaml` as shown below. but still i dont see the extension `harmony.harmony-assist` in my `che-theia` ide . please let me know what am i missing.

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/10482

[2022-07-18 09:48] benoitf commented on #21296
@Divine1 as I said previously, for Theia IDE, it requires to be in the che plug-in registry

here you published to OpenVSX.org so it'll work with VSCode/Che-code (not CheTheia)

[2022-07-18 09:52] Divine1 commented on #21296
@benoitf thank you for the response.

could you please help me know how can i publish my extension into `che plug-in registry`?
i looked into [this link](https://github.com/eclipse-che/che-plugin-registry). but unable to find steps on how to publish my extension into `che plug-in registry`.

could you share me where can i find the steps to publish my extension into `che plug-in registry`?

[2022-07-18 10:46] ibuziuk opened #21554 "As a user I want to have a possibility to start from scratch / create an empty workspace"
### Is your task related to a problem? Please describe

Currently from the UD, it is not possible to start an empty workspace. This story should target the following flow:

- As a user, I create an empty workspace from the dashboard UI
- Workspace is empty and I can clone any repository from the terminal
- Once the workspace is cloned I can generate a minimal devfile using the dedicated command e.

[2022-07-18 12:12] tolusha commented on #21541
I think the correct issuer url must be the following:
`https://<KEYCLOAK_ADDR>/realms/<REALM_NAME>`
for instance `https://keycloak.192.168.59.253.nip.io/realms/che`

[2022-07-18 13:16] a-elie opened #21555 "Unable to create workspace from self-hosted gitlab"
### Describe the bug

"Unexpected end of file from server" on Gitlab OAuth (state=oauth_provider=gitlab)

[code]
[code]
[code]

### Che version

7.50@latest

### Steps to reproduce

1. Follow https://www.eclipse.org/che/docs/stable/administration-guide/configuring-oauth-2-for-gitlab/
2. Create workspace : https://eclipse-che.apps.lab.okd.local/#http://gitlab.localdomain/user/project
3. Redirected

[2022-07-18 13:18] #21040 closed

[2022-07-18 13:34] svor commented on #21555
@vinokurig could you take a look please

[2022-07-18 14:21] MeghanaSrinath opened #21556 "EclipseChe latest version installation on managed clusters"
### Summary

I'm trying to install latest stable version of Che on my managed kubernetes cluster (GKE/AKS/EKS). As per the documents and other issues on this repository, I can see that keycloak and all relevant OIDC setup for the k8s cluster is included as part of the installation through chectl for versions <= 7.41. With higher versions of Che, I see that OIDC configuration needs to be manually s

[2022-07-18 14:39] benoitf commented on #21552
There used to be branches like `1.62.x`, `1.63.x` with `stable` releases of VS Code and the job is cutting release and pushing images etc

https://github.com/che-incubator/che-code/blob/main/.github/workflows/image-publish-stable.yml

I think we should map this way and not cut releases with Che lifecycle as people want mainly to use either insiders version or the latest stable release of VS Code.

[2022-07-18 14:47] dkwon17 commented on #20369
Closing since I'm not able to reproduce this issue:
![image](https://user-images.githubusercontent.com/83611742/179537928-dff57ff3-4b12-42ab-a448-916f776c06c0.png)

[2022-07-18 14:47] #20369 closed

[2022-07-18 14:47] ibuziuk commented on #21411
one of the subtask for this issue could be removing the PVC configuration on the che-server end [1] `che.infra.kubernetes.pvc.strategy`
Basically, with DWO in place che-server should not handle the PVC creation / configuration at all.

https://github.com/eclipse-che/che-operator/pull/1442#issuecomment-1184638247  cc: @AObuchow

[1] https://github.com/eclipse-che/che-server/blob/main/assembly/assem

[2022-07-18 16:43] beaumorley commented on #20627
@ibuziuk LGTM. Thank you!

[2022-07-18 16:57] dkwon17 opened #21557 "On minikube, not able to start a workspace with che installed with chectl next"
### Describe the bug

On a minikube cluster, I'm not able to start a workspace with Che installed with chectl next due to the workspace pod terminating:
![image](https://user-images.githubusercontent.com/83611742/179563469-7c699d3f-9c2c-4fcc-a5f3-48d858b9138f.png)

I'm not able to reproduce this issue on an OpenShift environment.

### Che version

next (development version)

### Steps to reproduce

[2022-07-18 18:43] tolusha commented on #21446
Already done on regular basis in PR checks

[2022-07-18 18:43] #21446 closed

[2022-07-18 21:20] l0rd commented on #21557
@dkwon17 do you have the `remote-runtime-injector` container logs?

[2022-07-18 21:36] dkwon17 commented on #21557
@l0rd this was the logs I was able to get before the the pod was gone (I've set `controller.devfile.io/debug-start: "true"` for the devworkspace. [related doc](https://github.com/devfile/devworkspace-operator/blob/main/docs/additional-configuration.adoc#debugging-a-failing-workspace)):
[code]

[2022-07-18 21:36] dkwon17 commented on #21557
I have been able to reproduce this issue on chectl stable version (7.50) on a minikube cluster, but with one more step:

Before starting a workspace, create this config map on the user namespace:
[code]

(the above assumes that `admin-che` is the user namespace)

Multiple workpsace pods will start up and terminate one by one. But, after deleting the configmap above the workspace pod will start up

[2022-07-18 21:50] dkwon17 commented on #21557
It looks like the cause of this issue in Che installed via chectl next, is because this merged PR for che-operator: https://github.com/eclipse-che/che-operator/pull/1443 creates a similar config map in the user namespace: `che-idle-settings`:

[code]

[2022-07-19 04:34] Divine1 opened #21558 "The workspace status changed unexpectedly to "Stopped""
### Summary

i'm receiving `The workspace status changed unexpectedly to "Stopped"` message, i have no idea what is the reason for this issue, please help me to debug this issue. it was working fine till yesterday

below is the error message shown in dashboard
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/10482177/179664252-e53b5625-07c9-4137-820d-ff0c8b9be5f0.png">

[2022-07-19 08:53] tolusha opened #21559 "Each pod should explicitly declare it's securityContext"
### Is your task related to a problem? Please describe

For best security practices, the securityContext under each Pod must be fully declared in order to clearly communicate the workload's security posture. In order to be declarative about their security posture, Pods must define every parameter available in its securityContext and each container's securityContext.

Continuation of https://github

[2022-07-19 09:14] svor commented on #15819
/remove-lifecycle stale

[2022-07-19 09:36] l0rd commented on #21556
@MeghanaSrinath we (Che maintainers) are a small team with limited resources and we do not have access to GKE/AKS/EKS clusters so all our tests happen on Red Hat OpenShift clusters (those include an OAuth service and don't need extra OIDC provider configuration) or minkube (where we automatically install and configure Dex using chectl).

Recently we got a contribution from @karatkep that has worke

[2022-07-19 09:44] l0rd commented on #21553
@donhuvy you can find instructions to install Che [are here](https://www.eclipse.org/che/docs/stable/administration-guide/installing-che/).

Closing this issue.

[2022-07-19 09:44] #21553 closed

[2022-07-19 09:47] l0rd commented on #21559
@tolusha to clarify: this issue is server side (i.e. for Che operands) and not workspace side (we need a distinct issue for that)?

[2022-07-19 10:45] tolusha commented on #21559
It is for all pods running on the cluster, so che-operator + DWO are involved.

[2022-07-19 11:27] l0rd opened #21560 "Workspace fails to start when VS Code is the editor and the git repository has no devfile"
### Describe the bug

If a Git repository hasn't a devfile at its root and VS Code is the editor the workspace creation fails with this error:

<img width="1313" alt="image" src="https://user-images.githubusercontent.com/606959/179738154-5dc2d609-2e15-477d-8cd9-42e4f2633d72.png">

### Che version

next (development version)

### Steps to reproduce

On the dogfooding instance (because VS Code is th

[2022-07-19 11:44] ibuziuk opened #21561 "Workspace sample fails to start if the sample has already been created"
### Describe the bug

Getting Started workspace fails to start if there is an existing workspace

### Che version

7.50@latest

### Steps to reproduce

![existing workspace](https://user-images.githubusercontent.com/1461122/179742214-a058abb5-022d-47b6-ae9d-1815dbc23b74.gif)

### Expected behavior

exising cpp workspace is started

### Runtime

OpenShift

### Screenshots

_No response_

### Instal

[2022-07-19 11:58] ibuziuk commented on #20609
@nickboldt should we remove the `next/sprint` label to avoid confusion?

[2022-07-19 12:28] Divine1 commented on #21558
@l0rd  thank you for the response

now i received a different error message. i have attached logs below
<img width="1556" alt="image" src="https://user-images.githubusercontent.com/10482177/179749883-945676d2-6f61-496b-9b39-880b675e5c1d.png">

`kubectl logs -f deploy/devworkspace-controller-manager -n devworkspace-controller -c devworkspace-controller`
<img width="1792" alt="image" src="https://us

[2022-07-19 12:53] azatsarynnyy commented on #21400
The work on this issue has been postponed. At least, until we fix https://github.com/eclipse/che/issues/21537

[2022-07-19 13:34] vinokurig commented on #21555
Could not reproduce the error. I've setup a self hosted gitlab server and the authentication flow worked well. Tipically the `Unexpected end of file from server` error means that the remote server accepted and closed the connection without sending a response, so I suppose this is an infrustructure issue.
@a-elie Do you still see the error? Can you confirm that you self hosted gitlab works fine?

[2022-07-19 14:04] #21503 closed

[2022-07-19 14:08] #20627 closed

[2022-07-19 14:36] l0rd opened #21562 "When the git repository is on gitlab.com `.che/che-editor.yaml` is ignored"
### Describe the bug

If I configure Che OAuth with gitlab.com and then start a workspace from a gitlab.com Git repository (https://gitlab.com/mario.loriedo/microservices-demo-frontend for example) then the editor configured in file `.che/che-editor.yaml` is ignored.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Che and [configure OAuth for gitlab.com](https://www

[2022-07-19 15:10] l0rd opened #21563 "`che-editor` URL parameter should have higher priority than `.che/che-editor.yaml`"
### Describe the bug

If I specify [`che-editor` URL parameter ](https://www.eclipse.org/che/docs/stable/end-user-guide/optional-parameters-for-the-urls-for-starting-a-new-workspace/#_url_parameter_for_the_workspace_ide) I expect it to have higher priority compared to the editor specified in the git repository `.che/che-editor.yaml`.

### Che version

next (development version)

### Steps to repro

[2022-07-19 15:16] l0rd opened #21564 "Add aliases for che-editor URL parameter"
### Is your enhancement related to a problem? Please describe

If I use OpenShift Dev Spaces (or any other Che distribution) it doesn't make sense to specify a **che**-editor as the user may not even know what Che is.

### Describe the solution you'd like

Add the aliases `editor` and `ide` and update the [doc](https://www.eclipse.org/che/docs/stable/end-user-guide/optional-parameters-for-the-urls

[2022-07-19 15:27] Divine1 commented on #21558
@l0rd   thank you for the response

chectl version
<img width="535" alt="image" src="https://user-images.githubusercontent.com/10482177/179788246-16cfa5d9-19ce-463b-b1f0-782587e6847a.png">

now i received a different error message. i have attached logs below
<img width="1556" alt="image" src="https://user-images.githubusercontent.com/10482177/179749883-945676d2-6f61-496b-9b39-880b675e5c1d.png">

`

[2022-07-19 16:08] a-elie commented on #21555
Gitlab instance works fine, but that's the first application that is connected to the API

Can you help me to narrow down the issue ?
I created a che user on gitlab (not admin) for the OAuth secret
I have the "Authorize eclipse che to use your account" redirection page on gitlab each time I try to create the workspace
My gitlab server is http-only

Can I add more logs to che server pod ?
For examp

[2022-07-19 16:43] dkwon17 commented on #21557
I noticed that this issue also happens when using the `che-incubator/che-code/insiders` editor

Events:
[code]

Logs for `che-code-injector`:
[code]

[2022-07-19 17:08] l0rd commented on #21558
It looks like there is no PersistentVolume in your cluster that matches the PersistentVolumeClaim created by Che, hence the PVC remains unbound. You may want to decrease the `m2volume` size in your devfile (or remove the size at all) OR you can create a new PV matching the PVC size.

[2022-07-19 17:25] Divine1 commented on #21558
@l0rd

The `PVC` status shows it is Bounded to `PV` and `Storageclass`

PersistentVolumeClaim
<img width="1050" alt="image" src="https://user-images.githubusercontent.com/10482177/179810814-f814b597-7b30-47c5-ba3a-df747aecef50.png">

[code]

PersistentVolume
<img width="1419" alt="image" src="https://user-images.githubusercontent.com/10482177/179810878-e6391a6a-7dfb-4a3c-a714-6a7429fbb238.png">

[

[2022-07-19 17:48] Divine1 commented on #21558
@l0rd

i ran this command
`export DW="cbfsel-repo1"; kubectl logs -f -l controller.devfile.io/devworkspace_name="${DW}" --all-containers --max-log-requests 10 -n divine-chelladurai-che-pmjg9u`

i'm able to see couple of errors here, does it have anything to do with my issue?
<img width="1531" alt="image" src="https://user-images.githubusercontent.com/10482177/179816021-790ce091-0d53-4846-bd7d-545c

[2022-07-19 17:51] l0rd commented on #21558
@AObuchow do you have any clue about the PVC problem above?

[2022-07-20 00:50] #21024 closed

[2022-07-20 02:24] Divine1 commented on #21558
@l0rd

i used this devfile.yaml (https://github.com/Divine1/demonodejs.git) to create workspace. . The `controller.devfile.io/devworkspace_name` still throws an error. please let me know what might be the issue

`export DW="nodejs-web-app-github"; kubectl logs -f -l controller.devfile.io/devworkspace_name="${DW}" --all-containers --max-log-requests 10 -n divine-chelladurai-che-pmjg9u`
<img width="

[2022-07-20 04:16] rakeshreddyrg09 commented on #21541
Hi @tolusha
I tried the above configuration, but still getting the same error.

[2022-07-20 04:24] Divine1 commented on #21558
i did `chectl server:delete` and `chectl server:deploy` with my updated checluster policy to reduce the pvc claim to 5gi from 10gi [doc link](https://www.eclipse.org/che/docs/next/administration-guide/advanced-configuration-options-for-the-che-server-component/#_che_infra_kubernetes_pvc_quantity)

but the pvc claim is still 10gi when i start a new workspace.

[code]

[2022-07-20 04:59] Divine1 opened #21565 "is it possible to add an extension by adding the extension details in file=.che/che-theia-plugins.yaml?"
### Summary

i have deployed my plugin in https://open-vsx.org/api/harmony/harmony-assist/0.0.1/file/harmony.harmony-assist-0.0.1.vsix

i have to use this plugin in `che-theia` ide opened via workspace using `eclipse-che dashboard`.
i noticed 3 requests triggering from `eclipse-che` dashboard (as shown in below screenshot)
[code]

is it possible to allow my plugin to be installed  by specifying  t

[2022-07-20 06:00] yujiri8 opened #21566 "Document how to add VSCode extensions"
### Summary

In che 7.41.2 I could add custom VSCode extensions to a workspace by adding a component of type chePlugin to the devfile. Now that the way workspaces are created has completely changed, that doesn't work anymore (I tried having it auto-convert old devfiles to the new schema, but it just removed the plugins). I can't find any documentation on how to do it in recent versions. I have rea

[2022-07-20 06:04] yujiri8 opened #21567 "Error building che-theia (error:0308010C:digital envelope routines::unsupported)"
### Summary

I am having mysterious build errors building che-theia (which I am trying to do in order to investigate if I can add plugins that way, see #21566). The problem occurs during the `yarn install` step (I have tried either running build.sh or just running yarn directly, same result). I will attach logs.

### Relevant information

[stdout.txt](https://github.com/eclipse/che/files/9146916/s

[2022-07-20 06:38] svor commented on #19487
/remove-lifecycle stale

[2022-07-20 06:40] svor commented on #16018
/remove-lifecycle stale

[2022-07-20 07:53] Divine1 commented on #21565
@svor

thank you for the response.
my plugin is published at https://open-vsx.org/api/harmony/harmony-assist/0.0.1/file/harmony.harmony-assist-0.0.1.vsix

below doc shows id `- id: redhat/java/latest`.
Where can i find the `id` for my plugin?

<img width="641" alt="image" src="https://user-images.githubusercontent.com/10482177/179927136-3191b82c-4700-408f-9953-1fc7b44126a4.png">

[2022-07-20 08:22] svor commented on #21565
id=publisher/name/version

if you use Che-Theia editor, your plugin should be in the che plugin registry as well. Then in the .che/che-theia-plugins.yaml you have to add:
`- id: harmony/harmony-assist/latest`
or you can add it into the .vscode/extensions.json file like:
[code]

[2022-07-20 10:35] vinokurig commented on #21555
@a-elie Can you check your `redirect URL` of our gitlab application? It must be `<che endpoint>/api/oauth/callback`

[2022-07-20 12:11] tolusha commented on #21558
I faced the same problem. It seems workspace immediately stopped after booting up.
DevWorkspace controller log shows:
[code]

/cc @dkwon17 Could you have a look pls.

[2022-07-20 12:19] ibuziuk opened #21568 "Can not switch the storage type from the dashboard"
### Describe the bug

Error when switching the storage type from the UD:
![storage bug](https://user-images.githubusercontent.com/1461122/179979795-9e52fa14-950e-4aab-8ae5-7f40e8ec14a0.gif)

### Che version

7.50@latest

### Steps to reproduce

1. Try to switch the storage type from dashboard
2. ERROR: error is shown with a subsequent logout

### Expected behavior

Storage type is switched correct

[2022-07-20 12:28] ibuziuk opened #21569 "Can not start a workspace with `&storageType=ephemeral ` attribute"
### Describe the bug

![image](https://user-images.githubusercontent.com/1461122/179981778-d15d2c88-7c2e-4067-af9f-b037b3105cea.png)

### Che version

7.50@latest

### Steps to reproduce

Reproducer - [https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com#https://github.com/che-incubator/quarkus-api-example&storageType=ephemeral](https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.co

[2022-07-20 13:56] nickboldt commented on #20876
Situation has improved, but looks liek we need to purge some older deps that rely on 2.1.1 and 3.0.0 and 5.0.0.

[code]

[2022-07-20 14:02] vinokurig commented on #21555
@a-elie Have you tried to test the flow with the [SAAS gitlab](https://gitlab.com/)?

[2022-07-20 14:27] tolusha commented on #21558
After updating operator image, I can't reproduce `The workspace status changed unexpectedly to "Stopped"` error anymore

[2022-07-20 14:35] dkwon17 commented on #21558
Hi @Divine1 could you please run and paste the output for:
[code]

[2022-07-20 17:06] yujiri8 commented on #21567
Well, skipping the tests did suppress that error. I'm now getting an error about unsupported digital envelope routines. This is an error I previous saw with some other JS projects, and managed to fix by downgrading to node 14, but this time either version of node gives the same error. This is unlikely to have anything to do with che, but I'll paste it anyway
[stderr.txt](https://github.com/eclipse

[2022-07-20 17:07] a-elie commented on #21555
So ... it works fine on gitlab.com
This is the request callback :
[code]
[code]

I removed user-che namespace on OKD and tried again on self-hosted, same error : `Unexpected end of file from server`

[2022-07-20 17:07] yujiri8 commented on #21567
Oops, uploaded the wrong file. Here are the real ones
[stdout.txt](https://github.com/eclipse/che/files/9152238/stdout.txt)
[stderr.txt](https://github.com/eclipse/che/files/9152239/stderr.txt)

[2022-07-20 17:37] Divine1 commented on #21558
@dkwon17 thank you for looking into this issue

below is the output of command `kubectl get configmap che-idle-settings -n divine-chelladurai-che-pmjg9u -o yaml`

Please let me know if any details are needed
<img width="798" alt="image" src="https://user-images.githubusercontent.com/10482177/180046773-89a2e700-9d01-450a-a090-6fdc9d8780e6.png">

[2022-07-20 17:38] Divine1 commented on #21558
@tolusha how can i update my operator image

currently i use `chectl/0.0.20220718-next.aa6153f darwin-x64 node-v16.13.2`
<img width="432" alt="image" src="https://user-images.githubusercontent.com/10482177/180047030-e6567a60-e173-451c-bad1-c17216893647.png">

[2022-07-20 17:42] tolusha commented on #21558
@Divine1
You can simply delete operator pod. A new one will come up in a few seconds and a new operator image (`quay.io/eclipse/che-operator:next`) will be pulled up.

[2022-07-20 18:02] Divine1 commented on #21558
@tolusha i updated the che operator image as you said
i used this repo for testing below scenario https://github.com/Divine1/demochenodejs.git

my chectl version `chectl/0.0.20220718-next.aa6153f darwin-x64 node-v16.13.2`

now i receive below error, but my pvc,pv,storageclassess are available as shown in below screenshot.

<img width="1205" alt="image" src="https://user-images.githubusercontent.co

[2022-07-20 23:18] dkwon17 commented on #21558
Thank you @Divine1 ,

Could you check what happens if you delete the labels and annotations from the `che-idle-settings` configmap?

ie, run
[code]
and
[code]

Then, when you start a workspace do you get the `The workspace status changed unexpectedly to "Stopped"` error again?

[2022-07-21 06:32] a-elie commented on #21555
Thanks for your help, the issue was not with gitlab auth_provider
che pod can't reach gitlab instance directly (network issue)

Got some helpful logs with :
[code]

[2022-07-21 06:32] #21555 closed

[2022-07-21 09:26] ibuziuk opened #21571 "As an admin I want to customize the dashboard branding using the Eclipse Che CR"
### Is your task related to a problem? Please describe

As an admin, I want to customize the dashboard branding using the Eclipse Che CR and have the possibility to change styles, logo etc.

### Describe the solution you'd like

Eclipse Che CR configuration:

[code]

### Describe alternatives you've considered

_No response_

### Additional context

We should use a similar approach as for the warn

[2022-07-21 11:33] tolusha commented on #21541
I've prepared a draft script how to setup keycloak as OIDC provider on minikube and deploy Eclipse Che.
Could you check if it can shed a light on your problem?

[1] https://gist.github.com/tolusha/345c59eb36a136ffdbce61acbee9c50a

[2022-07-21 12:26] rakeshreddyrg09 commented on #21541
Hi @tolusha, Thank you for your reply.
Actually I am using a k3d cluster.

[2022-07-21 12:27] nickboldt opened #21572 "Include che-code in weekly automation for releases and base image updates"
### Is your task related to a problem? Please describe

The che-code assembly dockerfile has two problems:

* machine exec image is not up to date
* base image is not up to date

https://github.com/che-incubator/che-code/blob/main/build/dockerfiles/assembly.Dockerfile

### Describe the solution you'd like

1. che-code is already included in https://github.com/eclipse-che/che-release/blob/main/.git

[2022-07-21 12:54] azatsarynnyy opened #21573 "Update `machine-exec` bundled with Che-Code to the latest released version"
### Is your task related to a problem? Please describe

The current version of the `machine-exec` component that is bundled with Che-Code editor doesn't include the recently reworked feature of stopping the idled workspaces by inactivity timeout - https://github.com/eclipse-che/che-machine-exec/pull/208.

### Describe the solution you'd like

Need to update `machine-exec` bundled with Che-Code to

[2022-07-21 13:26] svor opened #21574 "Devfile registry doesn't provide list of used images"
### Describe the bug

Devfile registry should provide a list of used images and write it into the **external_images.txt** file in the resulted devfile-registry image.

### Che version

next (development version)

### Steps to reproduce

docker run --rm  --entrypoint /bin/sh "quay.io/eclipse/che-devfile-registry:7.51.0" -c "cat /var/www/html/*/external_images.txt" is empty

### Expected behavior

e

[2022-07-21 13:45] dkwon17 commented on #21390
@l0rd , yes this can be closed and included in the 7.51 release notes

[2022-07-21 13:45] #21390 closed

[2022-07-21 13:48] nickboldt commented on #21572
Related PRs:
* https://github.com/redhat-developer/devspaces/commit/4ca521e87e6f7f12c0dcf660598d39c76e18b2ac to fix updateBaseImages.sh so it supports quay.io images
* https://github.com/eclipse-che/che-dashboard/pull/584
*

[2022-07-21 14:36] #21574 closed

[2022-07-21 14:43] tolusha commented on #21558
@Divine1
Try to inspect logs from a storage provisioner container.
They might contain some clues.

[2022-07-21 15:22] azatsarynnyy commented on #21573
fixed by https://github.com/che-incubator/che-code/pull/81

[2022-07-21 15:22] #21573 closed

[2022-07-21 15:59] nickboldt opened #21575 "add UDI dockerfiles to update-base-images GHA for weekly updates"
### Is your task related to a problem? Please describe

In https://github.com/eclipse-che/che-release/blob/main/.github/workflows/update-base-images.yml#L9-L38 we list a number of Che projects which get weekly checks & PR generation when base images need updating.

The https://github.com/devfile/developer-images  project should also be wired up to ensure base images are kept current w/ the latest

[2022-07-21 17:28] #21572 closed

[2022-07-21 21:26] nickboldt commented on #20609
closing won't fix, as we have UDI in both up and downstream now.

[2022-07-21 21:26] #20609 closed

[2022-07-21 21:28] nickboldt commented on #21390
For S390x support, or to contrubute to the effort, see https://issues.redhat.com/browse/CRW-3171

[2022-07-22 07:39] tolusha commented on #21229
@anshumaanyadav-neudesic

Sorry for later answer.
You have to reconfigure minikube api server to use another OIDC provider, for instance:

[code]

[2022-07-22 07:44] vinokurig opened #21576 "[Che-code] Extensions panel load is failing in the dogfooding instanse"
### Describe the bug

Extensions list can't be loaded in the extension panel:
![ezgif-4-045583b964](https://user-images.githubusercontent.com/7668752/180388230-569e0626-d9d4-4614-888b-7352e2af4e2a.gif)
an error appeares:
![screenshot-che-dogfooding apps che-dev x6e0 p1 openshiftapps com-2022 07 22-09_29_07](https://user-images.githubusercontent.com/7668752/180388293-4420096a-d424-4c16-abe8-1784bc5

[2022-07-22 09:21] l0rd commented on #21554
Starting from scratch could also be a good first use case for a [chrome/firefox extension](https://github.com/eclipse/che/issues/11584).

[2022-07-22 10:37] azatsarynnyy commented on #21324
The work is blocked as currently, it's not possible to build a Che-Theia image for testing the patch.
The build is stuck on:
[code]

Possibly, it's https://github.com/eclipse/openvsx/issues/497

[2022-07-22 14:35] azatsarynnyy commented on #21324
I managed to build a test Che-Theia with my changes. The workaround is to temporarily disable the built-in extensions downloading from OpenVSX registry.

Before (w/o my patch):
![image](https://user-images.githubusercontent.com/1636395/180458979-7fe79bc2-4884-4a8d-8a8a-5fb4cf254cb8.png)

After (with my patch):
![image](https://user-images.githubusercontent.com/1636395/180459417-0affe021-b980-403c-

[2022-07-22 14:52] l0rd opened #21577 "Add new fields in CheCluster CR to configure Git Services"
### Is your enhancement related to a problem? Please describe

We want to make it simpler for admin to configure Git services in Che (GitHub, Gitlab, BitBucket): it should not be necessary to look at [Eclipse Che documentation](https://www.eclipse.org/che/docs/stable/administration-guide/oauth-for-github-gitlab-or-bitbucket/).

This first issue is about the CheCluster CR update. There will be anot

[2022-07-22 15:59] l0rd commented on #20738
I have updated the wireframe and the description.

[2022-07-22 19:19] dkwon17 opened #21578 "Provide the current workspace inactivity timeout on the workspace idle error page"
### Is your enhancement related to a problem? Please describe

This is the error page that appears when trying to access the workspace url (ie a devworkspace's `status.mainUrl`) when the workspace is not running:
![image](https://user-images.githubusercontent.com/83611742/180509065-e9dc70d1-83af-4a15-9cd1-5ce665d05c2b.png)

### Describe the solution you'd like

After https://github.com/eclipse/che

[2022-07-22 22:53] amisevsk commented on #21566
Hi @yujiri8 -- you are right that devfile v2 removed ChePlugins from the spec. This was done to avoid confusion (as not all editors support all plugins). The current documentation for adding a plugin to your workspace is here: https://www.eclipse.org/che/docs/stable/end-user-guide/adding-a-vscode-extension/

See also this issue, which covers a similar case: https://github.com/eclipse/che/issues/21

[2022-07-23 00:52] #20771 closed

[2022-07-23 00:52] #20772 closed

[2022-07-23 08:48] RomanNikitenko commented on #21390
Tested on `s390x` platform - yes - there are some problems on `yarn install` step:

[code]

[2022-07-23 12:13] yujiri8 commented on #21566
That is the workflow suggested in the blog post I read, which I tried and couldn't get to have any effect. My testing repo is at https://github.com/yujiri8/chetest (Though I did not find that page in the official docs, because I expected it to be under administrator guide)

I looked at the che-samples organization and those projects don't seem to be doing that. The java lombok project, for example

[2022-07-23 20:02] ibuziuk commented on #21576
looks like fixed - https://github.com/eclipse/openvsx/issues/497
closing

[2022-07-23 20:02] #21576 closed

[2022-07-24 06:50] l0rd commented on #20227
/remove-lifecycle stale

[2022-07-24 07:50] tolusha opened #21579 "Deprecate CheCluster API v1"
### Is your task related to a problem? Please describe

We still support CheCluster API v1 after introducing v2.
It imposes additional difficulties with extending v2 since we have to add the similar fields to v1 and implement conversion.

### Describe the solution you'd like

Deprecate CheCluster API v1 and completely remove it in a future release of Eclipse Che.
Deprecation annotation: `// +kubeb

[2022-07-24 08:15] tolusha commented on #21577
We can implement Validating Webhook to check the CheCluster CR fields.
I propose the following structure:
[code]
Where `GitHub` and `Gitlab` are dedicates structures.

I see the several problems:
1. Having `disabled=false` by default means that it would not be possible to deploy Eclipse Che via chectl without providing `--che-operator-cr-patch-yaml` flag to set `disalbed=true` if user doesn't have

[2022-07-24 13:14] l0rd commented on #21577
Ok @tolusha let's do that (git services are not required by default) but then we don't need the `disabled: <bool>` field anymore.

[2022-07-24 13:21] l0rd commented on #21566
@yujiri8 we use branch `devfilev2` in the che-samples. I agree that's confusing and we need to clean it up.

You can use the Kubernetes API to create workspaces. Here is [a video where I explain that](https://youtu.be/6dzE_Zd3o5Y?t=21793) and [this is a repo with the source code for that demo](https://github.com/l0rd/devworkspace-demo). Note that we are improving that flow with these PRs ([1](http

[2022-07-24 20:35] l0rd commented on #21144
@azatsarynnyy @vzhukovs we can close this one now right?

[2022-07-25 07:54] MeghanaSrinath opened #21580 "Che installation with domain created in cross clouds"
### Summary

I have been referring to [this](eclipse.org/che/docs/che-7/installation-guide/installing-che-on-microsoft-azure/) guide for installing Che v7.41 on an AKS cluster. As per this, we need to create DNS in Azure and provide DNS zone access to the service principal that is being used. Similarly, there are requirements to provide access to Route53(AWS) and to DNS zones(GCP). In case I want

[2022-07-25 08:02] svor commented on #20173
/remove-lifecycle stale

[2022-07-25 08:04] svor commented on #20173
**kubectl** version in quay.io/devfile/universal-developer-image:ubi8-latest is:
[code]

[2022-07-25 08:04] svor commented on #20175
/remove-lifecycle stale

[2022-07-25 08:05] svor commented on #21065
/remove-lifecycle stale

[2022-07-25 08:08] svor commented on #20174
The get started sample was updated: https://github.com/che-samples/quarkus-quickstarts/pull/6

[2022-07-25 08:08] #20174 closed

[2022-07-25 08:10] azatsarynnyy commented on #21144
@l0rd yes, we've implemented all the missing features for both Che-Code and Che-IDEA. Closing it.

[2022-07-25 08:24] vinokurig opened #21581 "[Che-code] GitHub Pull request extension shows a notification about lack of permisssions"
### Describe the bug

A warning notification appears, when the GitHub pull request extension is logged in.

### Che version

next (development version)

### Steps to reproduce

1. Start a workspce with che-code editor.
2. Install `GitHub pull-request` extension.
3. Authorise the extension.

See: a notification appears:
![180642468-5059a145-598b-4c04-aceb-0202bd42676a](https://user-images.githubuse

[2022-07-25 08:50] l0rd commented on #21577
With your proposal, if the admin wants to configure both gitlab.com and gitlab on prem can he do something like this:

[code]

[2022-07-25 09:05] l0rd opened #21582 "Add a CheCluster property to avoid automatic creation of users namespaces"
### Is your enhancement related to a problem? Please describe

In some cases administrators want to pre-create their namespaces and don't want to have Eclispe Che to automatically create them.

### Describe the solution you'd like

Add a new property in CheCluster CR:

[code]

If `spec.devEnvironments.defaultNamespace.disabled: true` then Eclispe Che should not create namespaces if it doesn't exis

[2022-07-25 09:41] tolusha commented on #21577
That won't be possible. I thought the only one configuration of gitlab service is possible on the cluster.

[2022-07-25 10:35] tolusha commented on #21577
But anyway, we can move to arrays:

[code]

[2022-07-25 10:44] l0rd commented on #21577
Ok. Yes we need to consider that use case as well so it's better to use lists.

[2022-07-25 13:31] nickboldt commented on #20799
We now have a way of labelling devfiles as "tech preview" or "community" via a label.

![image](https://user-images.githubusercontent.com/227597/180789047-804778d4-77bd-42c1-bb79-1ed04e90cc17.png)

And there's no longer openJ9 images downstream (https://issues.redhat.com/browse/CRW-3048).

So, at this point we could consider having the same [devspaces-samples](https://github.com/devspaces-samples/

[2022-07-25 13:34] nickboldt commented on #20862
Downstream no longer has to split between TP and GA as we have added labels into the dashboard. There are also no openj9 images anymore. So while we still need multiarch downsteam, the same Dockerfile might be possible for up and downstream.

We might still filter out some languages that are not supported downstream.

[2022-07-25 13:41] #21324 closed

[2022-07-25 13:46] #21562 closed

[2022-07-25 14:48] max-cx commented on #20599
sync'd to Red Hat Jira https://issues.redhat.com/browse/CRW-3181

[2022-07-25 14:53] max-cx commented on #21450
RN: upstream only

[2022-07-25 16:25] yujiri8 opened #21583 "Error building che-plugin-registry"
### Describe the bug

I try to build che-plugin-registry according to the README instructions and it fails with the following output:
[out.txt](https://github.com/eclipse/che/files/9183055/out.txt)

### Che version

7.49

### Steps to reproduce

1. Clone https://github.com/eclipse/che-plugin-registry
2. Run build.sh
3. Error

### Expected behavior

It should build.

### Runtime

other (please spec

[2022-07-25 16:32] ibuziuk commented on #21580
Just today we got the blog published from the community about installing Eclipse Che on AKS
 that should be very helpful for installation - https://che.eclipseprojects.io/2022/07/25/@karatkep-installing-eclipse-che-on-aks.html

I'm not aware of the particular requirement for domains, so technically it should work cc:
@karatkep maybe you have some input on that matter? Thanks

[2022-07-25 16:35] ibuziuk commented on #21583
Could you please try against the latest 7.51.0 cc: @svor

[2022-07-25 17:23] dkwon17 commented on #21557
I cannot reproduce this issue on chectl next anymore after [the DWO update on che-operator](https://github.com/eclipse-che/che-operator/pull/1454), but I experience this issue on chectl stable (Che 7.51) on minikube.

A temporary workaround that I've used to get workspaces starting on minikube with Che 7.51 was to update DWO by running:
[code]

[2022-07-25 20:20] yujiri8 commented on #21583
7.51.0 Failed with a similar error, though a different plugin:

[out.txt](https://github.com/eclipse/che/files/9184526/out.txt)

Information I should've included earlier: With the other versions I tried, the path `/tmp/che-plugin-registry/unpack-folder/` was completely empty (maybe it got removed after the error? I don't know). With 7.51.0, a few packages are in there, including the one cited in t

[2022-07-26 00:55] #21044 closed

[2022-07-26 06:07] #21579 closed

[2022-07-26 06:31] tolusha opened #21584 "Remove CheCluster API v1"
### Is your task related to a problem? Please describe

We still support CheCluster API v1 after introducing v2.
It imposes additional difficulties with extending v2 since we have to add the similar fields to v1 and implement conversion.

### Describe the solution you'd like

Remove CheCluster API v1

### Describe alternatives you've considered

_No response_

### Additional context

https://githu

[2022-07-26 07:16] #21565 closed

[2022-07-26 07:19] svor commented on #14780
/remove-lifecycle stale

[2022-07-26 07:19] Divine1 opened #21585 "Request installPlugin failed with message: getaddrinfo ENOTFOUND extension"
### Summary

i have added my plugin to the custom `che-plugin-registry` image and built the image using  `
./build.sh --offline -t divinev1 -r divine6`(https://hub.docker.com/r/divine6/che-plugin-registry)

[source code for the custom plugin configuration and custom `che-plugin-registry`](https://github.com/Divine1/che-plugin-registry/blob/master/che-theia-plugins.yaml)
[code]

When i tried to ins

[2022-07-26 07:19] Divine1 commented on #21585
@svor  please help me on this issue

[2022-07-26 07:21] Divine1 commented on #21565
facing issue while installing plugin in che-theia editor. below ticket has details of the issue

https://github.com/eclipse/che/issues/21585

[2022-07-26 10:23] svor commented on #21583
@yujiri8 try to remove **rm -rf /tmp/che-plugin-registry** and restart build.
I can't reproduce this problem on my local machine and as I see GitHub action doesn't have such problem with the build: https://github.com/eclipse-che/che-plugin-registry/actions/workflows/next-build.yml

[2022-07-26 10:35] svor commented on #21585
@Divine1 try to build registry without **--offline** attribute

[2022-07-26 10:39] svor commented on #21585
In offline mode `relative:extension` should be replaced by the internal URL of plugin registry in each che-theia-plugin.yaml file but it doesn't. Looks like a bug

[2022-07-26 10:52] Divine1 commented on #21585
@svor

Thank you for the response.
i will remove the `--offline` to build the image, and share the feedback.

[2022-07-26 12:37] Divine1 commented on #21584
@tolusha

a quick question,

i'm using `chectl/0.0.20220725-next.71d60f1 darwin-x64 node-v16.13.2`

below is my `checluster`. is this checluster `v2` or `v1`?

` kubectl get checluster -n eclipse-che -o yaml`
[code]

[2022-07-26 12:41] tolusha commented on #21584
Hello @Divine1
It is v2  because of `apiVersion: org.eclipse.che/v2`

[2022-07-26 13:14] Divine1 commented on #21585
@svor
by building image using `./build.sh -t divinev2 -r divine6` , i was able to use the image and install the image in `che-theia` editor. but the plugin is not loading in the `che-theia` editor
<img width="1421" alt="image" src="https://user-images.githubusercontent.com/10482177/181013967-c4656bbd-945d-43c8-8012-ada8c03551cd.png">

i have installed the same plugin in `vscode`, i'm able to view

[2022-07-26 13:43] svor commented on #21585
@Divine1 does your extension use WebView to display the content?

[2022-07-26 13:46] Divine1 commented on #21585
@svor yes , my plugin uses webview to display the content..

[2022-07-26 13:49] Divine1 commented on #21585
@svor
yes , my plugin uses webview to display the content..

please let me know how to make it work

[2022-07-26 14:14] svor commented on #21585
So, I think WebView doesn't work in Che-Theia editor if you use unsecured connection (http)
@azatsarynnyy please correct me if I'm wrong

[2022-07-26 14:22] yujiri8 commented on #21583
Strange... that indeed worked. Perhaps the intermittent 'failed to start axios' error got it into an innvalid state in the first place.

[2022-07-26 14:44] nickboldt opened #21586 "Deduplicate samples between che-samples and devspaces-samples"
### Is your task related to a problem? Please describe

Today in the Dev Sandbox at https://workspaces.openshift.com we see samples from both Che and CRW 2.15 (soon Dev Spaces 3).

A number of these samples look identical or are at least exposing the same type of project and therefore are redundant to what we're trying to achieve w/ providing a sample or two per language/runtime/env.

c/c++/go
![i

[2022-07-26 14:44] azatsarynnyy commented on #21585
You're correct @svor. Theia/VSCode WebView works in a [secure context](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts) only.

[2022-07-26 15:09] yujiri8 commented on #21366
I haven't seen this happen in a long time. Maybe it was an issue only with 7.41.2 :shrug:

[2022-07-26 15:48] l0rd opened #21587 "Add the workflow scope to the generated GitHub token"
### Is your enhancement related to a problem? Please describe

When trying to `git push` on GitHub (using the token generated by Che) changes to the `.github/workflows` folder I get this error (dogfooding instance):

[code]

### Describe the solution you'd like

The token should include the workflow scope.

[2022-07-26 16:14] dkwon17 commented on #21540
Hi @beaumorley ,

This is how the whole screen looks like when the message is displayed:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/83611742/181057477-778a0466-bb72-4f8d-bf41-55821eb42b7a.png">

[2022-07-26 17:01] yujiri8 commented on #21366
I just saw this happen with v7.49.0 updating to v7.51.0. I had 7.49, was doing some other work with trying to build the plugin registry, then came back to chectl to deploy che and it was 7.51.0. I never said yes to the update prompt.

[2022-07-26 17:36] Divine1 commented on #21585
@svor  @azatsarynnyy

thank you for the response.

i have my plugin here (https://open-vsx.org/api/harmony/harmony-assist/0.0.1/file/harmony.harmony-assist-0.0.1.vsix)

could you please let me know which connection is not secure in my application? and how to secure it?

[2022-07-26 18:30] l0rd commented on #21586
The samples we are using in Che now are:

[code]

Which are the ones are duplicates @nickboldt @svor?

[2022-07-26 18:47] Divine1 commented on #21585
@svor  @azatsarynnyy

thank you for the response.

i have my plugin here (https://open-vsx.org/api/harmony/harmony-assist/0.0.1/file/harmony.harmony-assist-0.0.1.vsix)

could you please let me know which connection is not secure in my application? and how to secure it?

Also, is it possible to disable this default behavior of not allowing webview for unsecured connections in che-theia?

[2022-07-26 19:51] azatsarynnyy commented on #21585
@Divine1

It's not an app's restriction, but this is the security check implemented by the browser itself.

There are several rules that must be followed in order to consider the context as secure. It's described very well in this doc https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts
The first thing I'd recommend checking it's if your app is served by HTTPS protocol with the va

[2022-07-26 20:20] azatsarynnyy commented on #21567
It seems this is some Webpack issue.
@yujiri8
Can you try the following workaround: `export NODE_OPTIONS=--openssl-legacy-provider`
See https://github.com/webpack/webpack/issues/14532#issuecomment-947012063

[2022-07-26 22:10] yujiri8 commented on #21567
Oh yeah, I found that thread and tried that option, but the result is that node immediately exits with `/usr/bin/node: --openssl-legacy-provider is not allowed in NODE_OPTIONS`

[2022-07-27 01:25] nickboldt commented on #21586
[code]

There are at least 5 samples that share a name with the che-samples equivalent.

[2022-07-27 03:13] Divine1 commented on #21585
@azatsarynnyy
thank you for the response. i understand what is meant by `secure contexts`.

but, what changes should i make in my `eclipse-che` setup to fix this error? currently i use the default tls certificates that gets generated while installing `eclipse-che`.
i'm using `chectl/0.0.20220725-next.71d60f1 darwin-x64 node-v16.13.2`
i have installed `eclipse-che` in `k8s` cluster using below comm

[2022-07-27 06:35] svor commented on #19346
/remove-lifecycle stale

[2022-07-27 06:37] tolusha commented on #21366
Try to disable chectl auto update by setting `export CHECTL_DISABLE_AUTOUPDATE=1`

https://github.com/eclipse/che/issues/18680#issuecomment-749485107

[2022-07-27 08:12] l0rd commented on #19346
@svor does that make sense anymore? I don't think there is `sparseCheckoutDir` anymore in the [Devfile version 2](https://devfile.io/docs/devfile/2.1.0/user-guide/api-reference/).

[2022-07-27 08:15] azatsarynnyy commented on #21585
Correct, it prevents the content to be loaded in the WebView IFRAME.

Unfortunately, I'm not an expert in TLS.
Chrome should show that there're no problems with the certificates, e.g.:
![image](https://user-images.githubusercontent.com/1636395/181197164-0361c181-e3c5-4280-a7c1-6f85d649feb9.png)

[2022-07-27 08:15] l0rd commented on #21023
There is a blog post with instructions to do that now:
https://che.eclipseprojects.io/2022/07/25/@karatkep-installing-eclipse-che-on-aks.html

[2022-07-27 08:15] #21023 closed

[2022-07-27 08:47] l0rd opened #21589 "Adding a container registry from Dashboard User preferences doesn't work"
### Describe the bug

In Dashboard user preference it's possible to add a container registry:

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/606959/181199230-44973cc9-4839-4ebe-b429-a5577bcaf014.png">

But then:

**Starting a workspace that use a private image fails**:
<img width="869" alt="image" src="https://user-images.githubusercontent.com/606959/181200928-07461d

[2022-07-27 09:35] vaidotasp commented on #17883
@l0rd can you define what "real request" is?

[2022-07-27 09:50] max-cx commented on #21540
sync'd to Red Hat Jira https://issues.redhat.com/browse/CRW-3181

[2022-07-27 10:11] #21587 closed

[2022-07-27 11:51] nils-mosbach commented on #21291
@mshaposhnik Since GitLab has now removed the `Expire access tokens` setting, workaround is gone.

Git credential secret-file is also mounted read only, which prevents users from making any change to the file. Am I missing something? From a user perspective this actually makes the GitLab integration unusable after 2h since they won't be able to push and pull their changes.

Bottom lined: If a user

[2022-07-27 12:12] svor commented on #19346
@l0rd If it's not supported anymore, no sense.
Do you know if it's possible to use **starterProjects.subDir** in devfile v2 as an alternative way of `sparseCheckoutDir`.

[2022-07-27 12:22] l0rd commented on #17883
@vaidotasp I think it makes sense to re-open this issue so that we can track what's supported and what's not. I am not sure why I have close it but are continously working on supporting spec (and have implemented a big part of it already) but we do prioritize the features that are required in users/customers scenarios rather than guessing what will be useful and what not. I have updated the descri

[2022-07-27 14:46] nickboldt opened #21591 "Happy Path tests for che-plugin-registry do not work, as `chectl` no longer supports `workspace:create`"
### Describe the bug

Alpine based HP tests for che plugin registry PRs are failing because `chectl workspace:create` is an invalid command.

For example: https://github.com/eclipse-che/che-plugin-registry/pull/1353

![image](https://user-images.githubusercontent.com/227597/181276707-a194849c-72c2-49ba-a247-75bd976f77c8.png)

Digging into the GH action, I see:

[code]

### Che version

next (devel

[2022-07-27 14:53] dkwon17 commented on #21540
Here is an updated screenshot:

![image](https://user-images.githubusercontent.com/83611742/181278539-05044bc0-77a9-4447-8aae-f959da7eb2d6.png)

Please see https://github.com/eclipse-che/che-dashboard/pull/593#event-7073419269 for more details and screenshots

[2022-07-27 15:26] #21423 closed

[2022-07-27 16:13] yujiri8 commented on #21366
Ahhhhhh that explains it. Thank you

[2022-07-27 16:13] #21366 closed

[2022-07-27 16:26] yujiri8 commented on #21366
The behavior really should be documented btw

[2022-07-27 16:34] benoitf commented on #21591
dup of https://github.com/eclipse/che/issues/20986

[2022-07-27 16:34] #21591 closed

[2022-07-27 17:49] beaumorley commented on #21540
@dkwon17  Looks good!  I would remove the red highlight. I think it competes with the warning icon.

I'd also like to make a recommendation for the error message and have a few questions first.

1. Does this warning only appear due to inactivity or can it appear from other ways?
2. What is the difference between "Restart your workspace" and "Return to dashboard"? What is the best solution for the

[2022-07-27 18:36] Divine1 commented on #21585
@svor  @azatsarynnyy

i imported the CA certificate which was auto-generated by  `eclipse-che` into firefox browser, this removed the `insecure` warning in firefox browser when i opened the eclipse-che dashboard with unverified ssl certificates. now my plugin's webview is rendered in `che-theia` ide without any issue.

i will try to get verified certificates from my organization to configure it wi

[2022-07-27 18:36] #21585 closed

[2022-07-27 18:39] dkwon17 commented on #21540
Thank you for the feedback!

Currently, this warning message can appear from other ways. This warning appears when trying to access the workspace URL when the workspace is not running (ex. not running due to inactivity).

However, after this https://github.com/eclipse/che/issues/21516 is complete (I am currently working on this), this warning message will appear only due to inactivity. There will

[2022-07-27 18:50] wolfeallison commented on #21540
@dkwon17 @beaumorley Awesome, thanks for answering our questions!  What do you think of this: "Your workspace has stopped due to inactivity. Restart your workspace to continue using your workspace."  with "Restart your workspace" as hyperlinked still and then offering "Return to dashboard" as a secondary option below it

If we know how long it takes to time out, I like the message you have planned

[2022-07-27 20:05] dkwon17 commented on #21540
Thank you @wolfeallison 👍 , looks good to me:
<img width="1440" alt="Screen Shot 2022-07-27 at 4 04 22 PM" src="https://user-images.githubusercontent.com/83611742/181362087-91a9764c-f004-4657-a8bb-0bc7635ab74b.png">

[2022-07-28 07:10] #21189 closed

[2022-07-28 08:10] svor commented on #21586
Here is the list of duplicates:
- [Apache Camel K](https://github.com/devspaces-samples/camel-k/tree/devspaces-3-rhel-8 )
- [Apache Camel based on Spring Boot](https://github.com/devspaces-samples/fuse-rest-http-booster/tree/devspaces-3-rhel-8)
- [Java Lombok ](https://github.com/devspaces-samples/lombok-project-sample/tree/devspaces-3-rhel-8)
- [Java 11 with Quarkus (Quarkus REST API)](https://gi

[2022-07-28 09:10] l0rd commented on #21589
The generated `devworkspace-container-registry-dockercfg` secret of type `kubernetes.io/dockerconfigjson` should have [the following labels](https://github.com/devfile/devworkspace-operator/blob/main/docs/additional-configuration.adoc#adding-image-pull-secrets-to-workspaces
):

[code]

but it only has `controller.devfile.io/devworkspace_pullsecret: 'true'`.

If adding the label it just work fine.

[2022-07-28 11:54] ibuziuk opened #21594 "Remove all CheCluster API v1 dependencies from the User Dashboard component"
### Is your task related to a problem? Please describe

CheCluster API v1 is planned to be removed in the short run as part of - https://github.com/eclipse/che/issues/21584

CheCluster API v2 was introduced in 7.50.0
On the last community call, we decided to deprecate CheCluster API v1 in 7.52.0 and completely remove it in 7.53.0

Required action:
All clients that use CheCluster API v1 must be upd

[2022-07-28 12:12] l0rd commented on #21569
This is great. Thank you @olexii4 for fixing it but I am reopening the issue because if we don't document that https://www.eclipse.org/che/docs/stable/end-user-guide/optional-parameters-for-the-urls-for-starting-a-new-workspace/ nobody will be able to use it.

[2022-07-28 12:30] ibuziuk opened #21595 "Rework (potentially remove) "Account" page on the User Dashboard. Add login / logout buttons for GitHub / GitLab / BitBucket"
### Is your task related to a problem? Please describe

![image](https://user-images.githubusercontent.com/1461122/181503850-9950ace9-fc96-4d21-ad4d-9f2c0087753c.png)

Currently, the account page is outdated and fetches the user information from db that is planned to be removed as part of  https://github.com/eclipse/che/issues/21374

The data provided on the Account page is irrelevant and should b

[2022-07-28 13:20] ibuziuk commented on #21554
@l0rd wdyt if we simply contribute a new empty / scratch devfile to the registry (both che and devfile.io for future) with the following content:

[code]

On the dashboard level we will always display it as the very first one on the Getting Started

[2022-07-28 14:51] l0rd commented on #21589
When I add

[code]

that's the devworkspace status:

[code]

and the events:

[code]

[2022-07-28 16:40] gattytto commented on #19279
/remove-lifecycle stale

[2022-07-28 16:52] l0rd commented on #21554
We can do that but that would not be in `che-samples` right? Because today all samples in the devfile registry come from the devfiles.yaml in the `che-samples` organization repositories. For this special case I think it makes sense to have the definition in the dashboard or in the devfile registry repositories.

[2022-07-28 19:08] amisevsk commented on #21589
Caused by https://github.com/devfile/devworkspace-operator/issues/897.

Fixed by https://github.com/devfile/devworkspace-operator/pull/898

[2022-07-28 20:15] dkwon17 commented on #21540
@wolfeallison @beaumorley  any thoughts on adding the workspace name (ex. `golang-example`) into the error message?
<img width="596" alt="image" src="https://user-images.githubusercontent.com/83611742/181628988-95c02f55-edc4-4394-adf2-09389a9f06b5.png">

[2022-07-28 23:29] yujiri8 commented on #21583
So, I got this to build 2 days ago, now can't. I'm not aware of anything that changed. There are 2 failure modes I'm seeing:
1. It just gets stuck forever after downloading some of the plugins. I've seen it get to 71/72 and then waited more than 10 minutes without it progressing past that.
2. It crashes with a connection refused error while downloading one of the plugins from github: see this log:

[2022-07-29 04:05] Divine1 opened #21596 "problem with latest chectl version: cloning sourcecode from gitlab private repository prompts for username/password even after adding gitlab-oauth-config secret"
### Summary

my chectl version
<img width="443" alt="image" src="https://user-images.githubusercontent.com/10482177/181679571-f52a4217-747c-4b48-bc2d-742a35c5d2b6.png">

i have added my private organization gitlab account in `devfile`.
[code]
i have added `gitlab-oauth-config` secret in `eclipse-che` namespace.

<img width="1342" alt="image" src="https://user-images.githubusercontent.com/10482177/

[2022-07-29 04:16] Divine1 opened #21597 "problem with latest chectl version: unable to view containers,plugins in the workspace pane in `che-theia` ide"
### Summary

below is my chectl version
<img width="462" alt="image" src="https://user-images.githubusercontent.com/10482177/181681542-40df1e9b-0e32-47c7-af05-d310021002ec.png">

below is my `devfile.yaml`
[code]

after i upgraded my `chectl` to latest version, i'm not able view the containers,plugins configured in `devfile.yaml` in my `che-theia` code editor
<img width="1712" alt="image" src="htt

[2022-07-29 04:37] Divine1 commented on #21597
i launched the workspace after cleaning up everything. looks like i had used incorrect devfile.yaml.

i verified the devfile.yaml and launched the workspace again. now it worked.

i will reopen this ticket if i face the same issue

[2022-07-29 04:37] #21597 closed

[2022-07-29 04:37] Divine1 commented on #21596
i launched the workspace after cleaning up everything. looks like i had used incorrect devfile.yaml.

i verified the devfile.yaml and launched the workspace again. now it worked.

i will reopen this ticket if i face the same issue

[2022-07-29 04:37] #21596 closed

[2022-07-29 10:29] benoitf opened #21598 "Add new fields in CheCluster CR to configure VS Code marketplace"
### Is your enhancement related to a problem? Please describe

Currently che is using https://open-vsx.org but as for Airgapped mode, offline, etc we have a way to use OpenVSX instance embedded in the plug-in registry.

Then Admin should be able to configure the registry to use

so , che-code is able to get the value and see if it configures the registry to open-vsx.org or a corporate OpenVSX or s

[2022-07-29 10:29] benoitf commented on #21598
cc @l0rd you can specify the CR fields that you would like

[2022-07-29 11:05] ibuziuk opened #21599 "Fail fast if a workspace fails to start due to quota (currently fails for timeout)"
### Describe the bug

No error is shown if a workspace fails to start due to quota errors

### Che version

7.51@latest

### Steps to reproduce

1. Create 30 + workspaces
2. Apply quota for replica sets below 30
3. Start a workspace
4. ERROR: Workspace hangs during startup / no error is shown

### Expected behavior

The error is  shown on the UD level during startup

### Runtime

OpenShift

### Sc

[2022-07-30 00:47] #21056 closed

[2022-07-30 00:47] #21059 closed

[2022-07-30 00:47] #21062 closed

[2022-07-31 00:53] #20946 closed

[2022-07-31 15:14] vsndev3 commented on #21288
I am having the same problem, with almost same configuration as mentioned in this issue. The keyclock authentication page shown and after successful login, the '404 page not found' comes.  This attached log of oauth-proxy container inside che-gateway, shows that authentication but subsequent gets are failing.
![image](https://user-images.githubusercontent.com/63557727/182032282-0cb30ad1-d344-4dc2-

[2022-07-31 19:02] l0rd commented on #21598
[code]

[2022-08-01 06:28] tolusha commented on #21597
@Divine1
Thank you for letting us know

[2022-08-01 07:01] #21559 closed

[2022-08-01 07:39] benoitf opened #21600 "Provides OpenVSX CheCluster URL to user containers"
### Is your task related to a problem? Please describe

Part of https://github.com/eclipse/che/issues/20549
Plugin-Registry will include an OpenVSX instance.
Admin will have a choice to say to either use 'OpenVSX.org' or 'plugin-registry OpenVSX' with the CheCluster https://github.com/eclipse/che/issues/21598

And then, CheCode(our VS Code) needs to know when booting if registry needs to be OpenVS

[2022-08-01 07:45] benoitf opened #21601 "Use either OpenVSX.org or local OpenVSX instance when starting VS Code"
### Is your task related to a problem? Please describe

Plug-in registry now provides an OpenVSX instance
https://github.com/eclipse-che/che-plugin-registry/pull/1324

CheCluster will have a new field
https://github.com/eclipse/che/issues/21598

And Dashboard will propagate this value https://github.com/eclipse/che/issues/21600

so CheCode needs to use that value

### Describe the solution you'd l

[2022-08-01 08:18] tolusha commented on #21598
Do we need to put `https://openvsx.org` as a default value in `externalOpenVSXRegistryURL` field?
Or maybe left as empty?

[2022-08-01 08:21] benoitf commented on #21598
from what I understand, it should be empty by default (then it'll use the one from plugin registry)

[2022-08-01 09:16] tolusha commented on #21288
@vsndev3
Could you file a separate issue and provide all needed details?
https://github.com/eclipse/che/issues/new?assignees=&labels=kind%2Fbug&template=bug_report.yml

[2022-08-01 09:28] #21581 closed

[2022-08-01 09:50] l0rd commented on #21598
Yes, if the field is missing or left empty we should use the openvsx embedded in the plug-in registry.

[2022-08-01 09:50] tolusha commented on #21598
I suggest to use list of urls in configuring open VSC registries.
Does it make sense?

[code]

[2022-08-01 09:56] l0rd commented on #21598
Something that becomes critical is providing to customers an easy way to customize and update the embedded openvsx registry:

How do I add or remove a vsx?
How do I update the embedded vsxs to the latest version?

[2022-08-01 09:58] benoitf commented on #21598
@tolusha about the list, VS Code is only working with one registry for now (and since the beginning) so I'm not sure a list will work there (or it will always be a list of zero or one)

[2022-08-01 11:08] tolusha commented on #21557
@dkwon17
Can we close this issue with fix version 7.52.0 ?

[2022-08-01 14:01] #21568 closed

[2022-08-01 14:27] ibuziuk commented on #21554
@svor do you happen to know if we can reference the raw definition of the devfile v2 from the registry e.g.

[code]

in general, we would really like to avoid embedding the devfile in dashboard as much as possible.

Another idea would be contributing the empty devfile to https://registry.devfile.io/viewer and storing it there. From the dashboard side, we would just get it by name from the devfile.

[2022-08-01 16:05] ibuziuk commented on #21448
looks like current limits are not enough for large clusters. Installation failed on the developer sandbox. As a workaround the memory limit in csv has been updated to 1Gi

![image](https://user-images.githubusercontent.com/1461122/182191666-a8b81540-a98f-485e-901e-22968ad27a3a.png)

[2022-08-01 16:06] ibuziuk commented on #21448
@dkwon17 I believe we need to release 1.0.2 with more generous limits for operator

[2022-08-02 00:56] #20541 closed

[2022-08-02 00:56] #21066 closed

[2022-08-02 07:46] abhijeetka opened #21602 "Disable OIDC provider and enable it post installation through installer=operator"
### Summary

Che Version: 7.51.0
Chectl Version : 7.51.0

While installing we are using chectl with `--skip-oidc-provider-check` and the pods are up however the che pods are trying to use the default oidc provier.

However, we want eclipce-che to use some other oidc provider however we are not sure how to provide that, we went through the documentation and we observered to edit the CRD checluster

[2022-08-02 08:09] ibuziuk commented on #21602
@tolusha could you please take a look?

[2022-08-02 08:53] l0rd commented on #21554
I would prefer to embed it in the Dashboard to be honest. I don't think that the empty workspace should be managed as a sample. Adding it in the devfile registry is a shortcut that I am afraid will introduce new technical debt as that's an "exceptional" sample. Moreover there is no such a devfile in the devfile.io registry and we need to have a discussion with devfile services, openshift console a

[2022-08-02 09:32] l0rd commented on #21598
After discussing with @benoitf we concluded that the simpler is to just have:

[code]

[2022-08-02 09:33] l0rd commented on #21600
I would use `OPENVSX_REGISTRY_URL` as the name of the env variable. Added the comment to the [CheCluster issue too](https://github.com/eclipse/che/issues/21598#issuecomment-1202249028).

[2022-08-02 10:09] ibuziuk commented on #21554
Ok, let's proceed that way for now and embed it in Dashboard

I opened the PR to start this discussion https://github.com/devfile/registry/pull/118

[2022-08-02 10:14] tolusha commented on #21598
https://github.com/eclipse-che/che-operator/pull/1466

[2022-08-02 10:29] tolusha commented on #21602
Hello. @abhijeetka

To use a custom OIDC provider:

1. create a patch file
[code]

2. Deploy Eclipse Che using `chectl` providing the patch file
[code]

For instance we have a draft doc explaining how configure Minikube with a Keycloak as OIDC provider and deploy Eclipse Che
https://github.com/eclipse-che/che-docs/pull/2408

[2022-08-02 10:46] ibuziuk commented on #21448
According to the metrics we probably need to set it to 1Gi to be on the safe side. During the startup there is a spike, but then RAM consumption drops to ~ 400M

![image](https://user-images.githubusercontent.com/1461122/182356297-71947480-d300-4e80-b905-16ffc07dae84.png)

[2022-08-02 15:10] dkwon17 commented on #21557
Hi @tolusha thank you for the reminder, we can close this issue

[2022-08-02 15:10] #21557 closed

[2022-08-02 16:15] amisevsk opened #21603 "Che Operator sometimes deploys DevWorkspace Operator even if it is present in the cluster"
### Describe the bug

When starting, the Che Operator checks to see if the DevWorkspace Operator is installed by searching for a ClusterServiceVersion for it. However, this check is performed only against the `openshift-operators` namespace (see [const](https://github.com/eclipse-che/che-operator/blob/main/pkg/deploy/dev-workspace/dev_workspace.go#L44)).

The way OLM works is that CSVs are copied

[2022-08-02 16:30] dmytro-ndp opened #21604 "Track workspace cleanup pod events when delete workspace from Eclipse Che Dashboard"
### Is your enhancement related to a problem? Please describe

Workspace removal from Eclipse Che Dashboard could stuck in terminating state when "**cleanup-workspace**" pod in workspace namespace failed to be created: https://issues.redhat.com/browse/CRW-3108

And there are no error messages shown in Dashboard, while neither workspace can be deleted, nor workspace can be started.

### Describe th

[2022-08-02 18:39] dkwon17 commented on #21448
@ibuziuk I made a PR: https://github.com/che-incubator/kubernetes-image-puller-operator/pull/83

[2022-08-03 07:02] l0rd commented on #17883
/remove-lifecycle stale

[2022-08-03 07:05] l0rd commented on #20501
/remove-lifecycle stale

[2022-08-03 07:05] l0rd commented on #20501
@tolusha this is the issue you are currently working on right?

[2022-08-03 07:10] tolusha opened #21605 "Allow to set environment variables into Eclipse Che containers"
### Is your task related to a problem? Please describe

There a couple of requests [1] and [2]  to set environment variables into Eclipse Che containers. Currently we have a way to do so [3] by creating a ConfigMap or Secret. But it does not work for Gateway containers and it is harder than setting them via CheCluster CR.

[1] https://github.com/eclipse/che/issues/21260
[2] https://github.com/ecli

[2022-08-03 07:35] #21598 closed

[2022-08-03 08:48] svor commented on #19346
@l0rd fair enough
Closing the issue since devfile v2 doesn't support **sparseCheckoutDir** feature

[2022-08-03 08:48] #19346 closed

[2022-08-03 09:21] l0rd opened #21606 "Improve devfile editing UX"
### Is your enhancement related to a problem? Please describe

To simplify the day 1 activities (start a sample workspace, start a workspace from a git repository) we have removed the Devfile editor from the Dashboard as editing a YAML file to create a workspace was a daunting activity for new users.

As a consequence we have sacrificed a day 2 activity, something that more experienced users loved

[2022-08-03 10:11] nils-mosbach commented on #21517
We're currently having issues with GitLabs token expiration time of 2 hours. Based on the Documentation of BitBucket, tokens might expire after 2 hours as well. See https://support.atlassian.com/bitbucket-cloud/docs/use-oauth-on-bitbucket-cloud/#OAuthonBitbucketCloud-Refreshtokens

I've created an issue for refreshing tokens on GitLab and Bitbucket.
https://github.com/eclipse/che/issues/21291#issu

[2022-08-03 11:01] nils-mosbach commented on #21291
changing `authorization_code_expires_in` in /config/initializers/doorkeeper.rb doesn't ssem to solve the issue.

[2022-08-03 13:01] akurinnoy opened #21607 "[UD] Improve handling changes in devworkspaces"
### Is your task related to a problem? Please describe

Module [devWorkspaceClient](https://github.com/eclipse-che/che-dashboard/blob/main/packages/dashboard-frontend/src/services/workspace-client/devworkspace/devWorkspaceClient.ts) propagates only the [subset of the update](https://github.com/eclipse-che/che-dashboard/blob/main/packages/dashboard-frontend/src/services/workspace-client/devworkspac

[2022-08-03 14:03] olexii4 opened #21608 "[UD] Remove WebSocket connection to che-server"
### Is your enhancement related to a problem? Please describe

We support several WebSocket connections from the dashboard-frontend.
One of the connections to the che-server. And this connection is useless now because we don’t support starting che7 workspaces in the current version of the Eclipse CHE.

### Describe the solution you'd like

Remove WebSocket subscription to the che-server.

### Desc

[2022-08-03 14:53] #21516 closed

[2022-08-03 15:17] vitaliy-guliy commented on #20791
che-samples update status

- [ ] [apache-camel-springboot](https://github.com/eclipse-che/che-devfile-registry/blob/main/devfiles/apache-camel-springboot/meta.yaml) :: https://github.com/che-samples/fuse-rest-http-booster/tree/devfilev2 - up to date
- [ ] [java-lombok](https://github.com/eclipse-che/che-devfile-registry/blob/main/devfiles/java-lombok/meta.yaml) :: https://github.com/che-samples/lo

[2022-08-03 15:56] vsndev3 commented on #21288
I left the configuration running and  when checked after two days, it seems now I am able to access the dashboard. Not sure what happened, but as is it working, will not file a new issue as of now.

[2022-08-03 16:14] tolusha commented on #20501
This one https://github.com/eclipse/che/issues/21605

[2022-08-03 17:49] yujiri8 commented on #21566
I tried for several more days and was completely unable to replicate a workspace that loads extensions using the `.vscode/extensions.json`, even usign the devfilev2 branch as you suggested. Eventually I tried putting in the git URL for one of the samples and found that didn't load the extensions either! It works when clicking the buttons to create the samples, but not when entering their git URLs.

[2022-08-03 20:51] RickJWagner commented on #21606
Thank you for considering these important usability issues.
There is a 'catch-22' to consider.  If we want to use the IDE to edit the devfile, we need to consider the case of the user that has an invalid devfile (which will prevent starting of the workspace.)

Example:  A user wants to develop a new piece of software.  They may start with some minimal set of source code, maybe copied from a blog,

[2022-08-04 05:51] abhijeetka commented on #21602
@tolusha  I will give it a try today.

[2022-08-04 06:31] #21449 closed

[2022-08-04 06:31] #21308 closed

[2022-08-04 08:14] l0rd commented on #20738
I have updated the warning text after some a @RickJWagner comment on #21606

[2022-08-04 08:15] l0rd commented on #21606
@RickJWagner what about https://github.com/eclipse/che/issues/20738 and

![warning-invalid-devfile](https://user-images.githubusercontent.com/606959/182797889-457e8f6d-2654-4d35-a776-8798b63f823b.png)

[2022-08-04 08:28] svor commented on #21104
/remove-lifecycle stale

[2022-08-04 09:06] svor commented on #21443
depends on https://github.com/eclipse/che/issues/20549

[2022-08-04 09:53] svor opened #21609 "Introduce devfile v2 for plugin registry"
### Is your task related to a problem? Please describe

We should have a dogfooding devfile version 2 for the che-plugin-registry.

It would be nice to have additional commands to:

- build image
- publish image

### Describe the solution you'd like

Add devfile v2 that can be used for developing ch-plugins registry. A devfile in che-devfile-registry could be a good example: https://github.com/ecl

[2022-08-04 11:38] l0rd commented on #21589
Removing label `area/devworkspace-operator` as, after the [devworkspace operator fix](https://github.com/devfile/devworkspace-operator/pull/898), the problem is dashboard side only.

[2022-08-04 12:09] l0rd opened #21610 "Handle idling in VS Code correctly instead of attempting to reconnect in x seconds"
### Is your enhancement related to a problem? Please describe

Today if a VS Code workspace is idled the users sees a connection error with a timer that tries to reconnect every x seconds.

![image](https://user-images.githubusercontent.com/606959/182848826-2ac89fc6-31e0-4c14-ac54-aa8955d96356.png)

It's only after refreshing the web page that the user gets redirected to the page that informs abou

[2022-08-04 13:03] l0rd commented on #21610
cc @ibuziuk @dkwon17 @azatsarynnyy

[2022-08-04 13:24] l0rd opened #21611 "Che operator should propagate an env varialble START_OPENVSX to the plugin registry"
### Is your enhancement related to a problem? Please describe

The plugin registry [is going to embed an OpenVSX instance ](https://github.com/eclipse-che/che-plugin-registry/pull/1324)(including postgres) and can require up to 1.5GB.

But if the admin configures Che to use an external OpenVSX Registry (i.e. specifies `pluginRegistry.openVSXURL` in the `CheCluster`) Che is still starting the embed

[2022-08-04 14:25] timosur commented on #21483
I am also experieing the same error. I am using Eclipse Che (latest next version) on AKS with Azure AD enabled. I have configured my CheCluster in the following way:
`components:
    cheServer:
      debug: false
      extraProperties:
        CHE_OIDC_AUTH__SERVER__URL: https://login.microsoftonline.com/[HIDDEN]/v2.0/
        CHE_OIDC_EMAIL__CLAIM: unique_name
        CHE_OIDC_OIDC__PROVIDER: htt

[2022-08-04 15:26] nickboldt commented on #21540
Note UX questions in https://github.com/eclipse/che/issues/21359 as well, which might impact some of the decisions here. If you have/had multiple workspaces open and one/more has idled/died, it might be worth providing a "switch to running workspace" or a list of running workspaces... but then the Dashboard link could achieve that too.

[2022-08-04 16:55] ibuziuk commented on #21359
Raising priority based on the retrospective discussion + adding the `sprint/next` label

[2022-08-04 17:48] RickJWagner commented on #21606
Yes, thanks for that @l0rd .  I hadn't seen #20738, that will help nicely.

[2022-08-04 19:15] beaumorley commented on #21540
Until I saw @nickboldt comment, I did not realize that return to your dashboard was to get to other workspaces. What about instead of the last think being "Return to dashboard" it is "Return to your dashboard to switch to a running workspace." @wolfeallison do you have any thoughts on better wording?

[2022-08-04 19:29] dkwon17 commented on #21540
@nickboldt 's comment refers to the specific scenario where the workspace idle page is reached when there is another running workspace. `Return to your dashboard to switch to a running workspace` does sound like a nice enhancement to me.

But it is also possible that by the time the user returns to their computer to see the workspace idle page, the other `running workspace` might also have been sh

[2022-08-04 23:02] devstudio-release commented on #21308
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-3234

[2022-08-05 03:41] Divine1 opened #21612 "the API version in the data (org.eclipse.che/v2chect) does not match the expected API version (org.eclipse.che/v2)"
### Summary

i updated my chectl to `chectl/0.0.20220801-next.24265f6 darwin-x64 node-v16.13.2`
i deleted the setup `chectl server:delete`

then i created using below command
[code]

i receive below error `the API version in the data (org.eclipse.che/v2chect) does not match the expected API version`.

<img width="1228" alt="image" src="https://user-images.githubusercontent.com/10482177/182996647-7

[2022-08-05 07:08] tolusha commented on #21612
@Divine1
Pls, check you patch file `che-operator-cr-patch.yaml`
Any occurrence of `v2chect` string?

[2022-08-05 07:16] Divine1 commented on #21612
@tolusha  yes, its a mistake from my end. thank you for looking into this.
this is fixed.

[2022-08-05 07:16] #21612 closed

[2022-08-05 08:47] #21611 closed

[2022-08-05 12:04] timosur commented on #21483
I just found the code where it is crashing:
https://github.com/eclipse-che/che-dashboard/blob/f934c42c2cccca7ea5b6d36590032ea0d867a52a/packages/dashboard-backend/src/devworkspace-client/services/api/workspaceApi.ts#L36
Problem seems to be, that the request is being declined by the k8s API server. But I am not able to debug the issue any further as debugging level is not configurable for the Dashbo

[2022-08-05 12:05] #21608 closed

[2022-08-05 12:46] tolusha commented on #21483
@timosur
I am not sure if it is needed to both:

[code]

[2022-08-05 12:48] timosur commented on #21483
@tolusha I have also tried to only use CHE_OIDC_EMAIL__CLAIM: unique_name, as described in the Blog (https://che.eclipseprojects.io/2022/07/25/@karatkep-installing-eclipse-che-on-aks.html#how-did-we-solve-the-third-challenge)
But without any success.

[2022-08-05 12:48] wolfeallison commented on #21540
@nickboldt @beaumorley I like it! What about "To switch to a running workspace, return to your dashboard" and just have the return to dashboard as a link? We typically put the benefit first, which is why I recommend changing the order of the sentence

[2022-08-05 12:50] wolfeallison commented on #21540
What do you think of making the header "Workspace failed" and then it goes directly into the error under it?

[2022-08-05 12:56] tolusha commented on #21483
Pls, remove user's namespace before trying a different configuration, since RoleBindings won't be updated automatically.

[2022-08-05 13:47] Divine1 opened #21613 "0/4 nodes are available: 4 pod has unbound immediate PersistentVolumeClaims"
### Summary

my chectl version `chectl/0.0.20220801-next.24265f6 darwin-x64 node-v16.13.2`
i installed eclipse-che using below command

[code]

i just logged-in into eclipse-che dashboard and cloned 1 workspace.

below are my pv,pvc,storageclass
[code]

i'm frequently receive this error. i had to wait for couple of hours for this to goaway. i dont know what is the reason for this error

[code]

<i

[2022-08-05 13:56] timosur commented on #21483
@tolusha
I have tried a fresh install with only
`CHE_OIDC_EMAIL__CLAIM: unique_name`
set.
But still receiving 401 for /devworkspaces and /devworkspacetemplates

[2022-08-05 14:24] #21603 closed

[2022-08-05 14:41] azatsarynnyy opened #21614 "Che-Code automatic rebase against upstream VS Code is failed"
### Is your task related to a problem? Please describe

The GitHub Workflow for Che-Code automatic rebase against upstream VS Code is failed:
https://github.com/che-incubator/che-code/actions/runs/2803713980

[code]

### Describe the solution you'd like

Fix the incompatibility with the upstream.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-08-05 15:17] #21614 closed

[2022-08-05 15:42] ibuziuk opened #21615 "Sprint 223"
This issue collects work items of the Eclipse Che Team for Sprint 222 (August 10 - August 30).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (August 10th)

The previous sprint https://github.com/eclipse/che/issues/21551

## Sprint goals
- [ ] Dev Spaces 3.1 / 3.0.1 with DWO 0.15.2 release
- [ ] WTO 1.6 release for OpenShift 4.11
- [ ] Migrate CodeRea

[2022-08-05 15:43] dkwon17 commented on #21540
Thank you for the feedback @wolfeallison , I think those are great improvements.
Here are the updated error page screenshots with the idle timeouts (30 minutes etc.) and updated text, please let me know if there's any other feedback:

<details>
<summary>Workspace inactivity</summary>

<img width="1440" alt="Screen Shot 2022-08-05 at 11 27 15 AM" src="https://user-images.githubusercontent.com/83611

[2022-08-05 15:58] amisevsk commented on #21589
Note that the fix lands in v0.15.3 upstream and will be in v0.16.0 downstream; there are no current plans to release v0.15.3 downstream (this can be changed if this issue is deemed important)

[2022-08-05 16:32] tracetechnical commented on #17403
This is missing from the documentation.

[2022-08-05 16:41] azatsarynnyy commented on #21537
I've investigated what caused that problem \o/
It looks like the recently introduced extended `Shell integration` support in VS Code https://code.visualstudio.com/updates/v1_70#_terminal
brokes our implementation of the machine-exec-aware terminal.
I'm going to disable that feature by default in Che-Code in order to fix the terminal in the `main` branch and restore publishing the `next` images fro

[2022-08-05 16:48] azatsarynnyy opened #21616 "Enabling the extended `Shell integration` breaks the auto-opened terminal in Che-Code"
### Is your task related to a problem? Please describe

There's a `Shell integration` feature has been recently introduced in VS Code.
https://code.visualstudio.com/updates/v1_70#_shell-integration-enabled-by-default
When it's enabled, it breaks the auto-opened terminal in Che-Code. Input is not available. See https://github.com/eclipse/che/issues/21537 for more details.

### Describe the solution

[2022-08-05 17:13] Divine1 commented on #21613
Failure log taken at a later time

[code]

<img width="1403" alt="image" src="https://user-images.githubusercontent.com/10482177/183127581-db8b0ad1-e92c-4f5b-922e-860401651365.png">

[2022-08-05 18:01] #21537 closed

[2022-08-05 18:42] Divine1 commented on #21613
captured another failure log

[code]

<img width="1548" alt="image" src="https://user-images.githubusercontent.com/10482177/183141227-3599c939-4fb0-4622-b75a-7adecc072fa1.png">

[2022-08-06 00:51] #20253 closed

[2022-08-06 00:51] #21090 closed

[2022-08-06 03:43] Divine1 commented on #21613
i tried to start the same workspace today morning . the workspace started successfully.

does this error due to my infrastructure?
please help me understand how to identify the rootcause of this issue, so that i can fix this issue.

[code]

[2022-08-06 03:55] Divine1 commented on #21613
i restarted my workspace as i installed a plugin in the workspace. now my workspace is not starting due to below error

[code]

<img width="1550" alt="image" src="https://user-images.githubusercontent.com/10482177/183232661-dc28aa80-a9b5-4929-8f1c-8012e9f9c45c.png">

[2022-08-06 04:04] Divine1 commented on #21613
i clicked `restart` button from the screen mentioned in my above command.. i received below error again

[code]
0s          Normal    SuccessfulCreate         replicaset/workspace027a7a2667034873-5486b546c4   Created pod: workspace027a7a2667034873-5486b546c4-gwdzp
0s          Normal    Scheduled                pod/workspace027a7a2667034873-5486b546c4-gwdzp    Successfully assigned divine-chelladur

[2022-08-06 07:54] l0rd commented on #21537
@azatsarynnyy nice catch!  Are we still going to replace the machine-exec based terminal support in favor of the VS Code native terminal?

I think that still something that is worth working on to avoid problems like this one in the future and to support extension that rely on the VS Code terminal API like the [powershell extension](extension). Opening a remote terminal can be supported using `kube

[2022-08-06 12:30] tolusha commented on #21301
@Divine1
Can this issue be closed?

[2022-08-06 12:40] Divine1 commented on #21301
@tolusha yes this can be closed. i was able to setup eclipse-che in k8s cluster.
i received answer for this question

[2022-08-06 12:40] #21301 closed

[2022-08-06 12:59] nickboldt opened #21617 "Update to newer `RELATED_IMAGE_gateway_authentication_sidecar` and `RELATED_IMAGE_gateway_authorization_sidecar` images in CSV?"
### Is your task related to a problem? Please describe

I noticed today that in Che-operator main branch, we still use:

[code]
-- ./config/manager/manager.yaml
-- ./bundle/next/eclipse-che-preview-openshift/manifests/che-operator.clusterserviceversion.yaml
-- ./deploy/deployment/openshift/combined.yaml
-- ./deploy/deployment/openshift/objects/che-operator.Deployment.yaml
(plus the helmcharts and

[2022-08-06 13:13] #21605 closed

[2022-08-06 13:14] tolusha commented on #21260
Fixed by https://github.com/eclipse-che/che-operator/pull/1468

[2022-08-06 13:14] #21260 closed

[2022-08-06 13:14] tolusha commented on #21530
Fixed by https://github.com/eclipse-che/che-operator/pull/1468

[2022-08-06 13:14] #21530 closed

[2022-08-06 13:33] tolusha commented on #21251
I've prepared draft doc about installing Eclipse Che on minikube with Keycloak as OIDC provider.
It might give some hints about configuring it for other Kubernetes providers.

[1] https://github.com/eclipse-che/che-docs/pull/2408

[2022-08-06 14:07] l0rd opened #21618 "Unexpected error null"
### Describe the bug

A few minutes after the first login of a fresh install of Che I see multiple lines with `Unexpected error null` in Che dashboard container log. Note that errors are logged although the dashboard is not used.

[code]

### Che version

next (development version)

### Steps to reproduce

1. Deploy Che using chectl
2. Open the dashboard once (log-in as kubeadmin)
3. Wait ~30 minu

[2022-08-06 16:16] tolusha commented on #21613
It is interesting to check logs from:
- `che-server`
- `che-operator`
- `devworkspace-controller`
- storage provisioner

[2022-08-07 07:30] tolusha opened #21619 "OLM must be the only one way to deploy Eclipse Che on OpenShift"
### Is your task related to a problem? Please describe

Currently we support only olm installer for OpenShift platform. But there is ability to deploy via yaml templates mainly for testing purpose. It caused [1]. We must get rid of this type of installation.

https://github.com/eclipse/che/issues/21603

### Describe the solution you'd like

The list of tasks:
- [x] `chectl` must throw an error whe

[2022-08-07 09:08] Divine1 commented on #21613
i will observe the logs in the pods you have mentioned and monitor it

@tolusha

but , i did some analysis and this is my observation of my current issue

Assume i have 1 master node and 3 workernodes (workernode1, workernode2, workernode3 ) in my k8s cluster

- my `podA` gets created on `workernode1`,  and `podA` requests `PVC` to `storageclass` and received a `PV`  with  `ReadWriteOnce` as  `acc

[2022-08-07 14:29] Divine1 commented on #21613
logs of workspace pod failing couple of times (reloaded the page) and then succeeding at the end (after page reload)

[code]

[2022-08-07 14:59] Divine1 commented on #21613
i will observe the logs in the pods you have mentioned and monitor it

@tolusha

but , i did some analysis and this is my observation of my current issue

Assume i have 1 master node and 3 workernodes (workernode1, workernode2, workernode3 ) in my k8s cluster

- my `podA` gets created on `workernode1`,  and `podA` requests `PVC` to `storageclass` and received a `PV`  with  `ReadWriteOnce` as  `acc

[2022-08-07 18:31] Divine1 commented on #21613
@tolusha

i was able to replicate the issue.

i have 1 master node and 3 worker nodes in my k8s cluster (workernode1, workernode2, workernode3).

when the workspace pod (workspace5ea824993e324b81-766fcf945c-xdd2f) is started in workernode1, the pvc is created and pv is allocated for this  workspace pod in workernode1. PVC is created and PV with accessMode: ReadWriteOnce is allocated to the workspa

[2022-08-08 00:48] #21025 closed

[2022-08-08 00:48] #21107 closed

[2022-08-08 00:48] #21109 closed

[2022-08-08 08:38] celalsahin commented on #21251
Thanks I will try to reflect that to my work & let's see if I can make it work with EKS

[2022-08-08 08:47] benoitf opened #21620 "adjust memory of plug-in registry container based on CheCluster settings"
### Is your enhancement related to a problem? Please describe

Today, OpenVSX could be run as part of the plug-in registry

But it consumes more memory than just the http service
So it would be nice if we want to use open-vsx.org and do not start OpenVSX in plug-in registry that we keep the low memoryLimit

### Describe the solution you'd like

sets memory Request/Limit on plug-in registry based o

[2022-08-08 09:22] tolusha commented on #21617
I don't think we can use `registry.redhat.io/openshift4` registry in upstream.
But we can switch to `4.8` or even `4.9` in `quay.io/openshift`

@amisevsk @sparkoo
Do you think it is safe enough to switch to a higher version? Any specific tests?

[2022-08-08 09:31] svor opened #21621 "Extend the list of embedded plugins for internal Open VSX registry"
### Is your task related to a problem? Please describe

Workspaces with Che-Code should provide the same functionality by plugins as it was done with Che-Theia editor.

For this when we have [offline VS Code plugin registry](https://github.com/eclipse-che/che-plugin-registry/pull/1324), we'll need to extend the list of the embedded plugins: https://github.com/eclipse-che/che-plugin-registry/blob/b

[2022-08-08 10:14] celalsahin commented on #21251
I got somewhat of a success - with EKS + our companies OIDC provider(not keycloak) - but I am stuck after a successful login to dashboard.

Accessing the dashboard URL forwards me to my OIDC provider & after successful login dashboard returns a page with following text:

Error
OPTIONS request to "/api/" failed, reason: <!doctype html><html lang="en"><head><title>HTTP Status 400 – Bad Request</titl

[2022-08-08 11:50] vinokurig commented on #21583
Managed to build the plugin-registry image without any problems.

[2022-08-08 13:52] ibuziuk opened #21622 "Error: container has runAsNonRoot and image will run as root during che-operator installation"
### Describe the bug

Error: container has runAsNonRoot and image will run as root (pod: "che-operator-bff7fd647-brnjf_openshift-operators(02b27eec-71fe-4199-a864-73f2d9f69fd0)", container: che-operator)

### Che version

7.51@latest

### Steps to reproduce

1. install operator on dogfooding cluster
2. Error: container has runAsNonRoot and image will run as root (pod: "che-operator-bff7fd647-brnjf

[2022-08-08 17:03] dkwon17 opened #21623 "Have workspace stopped/idled error page suggest to open a running workspace if one exists"
### Is your enhancement related to a problem? Please describe

As mentioned in https://github.com/eclipse/che/issues/21540#issuecomment-1205408703, if the workspace stopped/idled page is displayed while a different workspace is running, it would be nice to display a different link to go to a running workspace, or show a list of running workspaces.

### Describe the solution you'd like

A possible

[2022-08-08 19:09] dkwon17 opened #21624 "Show warning notification in CheCode if >90% of the resource limit is reached"
### Is your enhancement related to a problem? Please describe

When working on a che-code project, I ran a task which led to the memory usage of my developerment container to  exceed the memoryLimit. The VS Code editor stopped responding as a result, so I had to restart the workspace.

### Describe the solution you'd like

It would be nice if the [che-resource-monitor extension](https://github.com

[2022-08-09 00:55] #21096 closed

[2022-08-09 10:47] azatsarynnyy opened #21625 "Use a Command's label as Che-Code Task name"
### Is your enhancement related to a problem? Please describe

When Che-Code translates the Devfile Commands as the Tasks, it uses Command's ID as the Task name.
Some Commands may have `exec.label` field defined as well. The Command's label is not used as the Task name.

### Describe the solution you'd like

If `exec.label` is defined for a Devfile Command, Che-Code should use it as the correspond

[2022-08-09 12:21] nickboldt commented on #21372
Kasturi has requested that we try to get this fixed ASAP and backported into 7.52.

[2022-08-09 12:53] ibuziuk commented on #21584
@tolusha please do not fully remove v1 untill the dashboard is updated accordingly https://github.com/eclipse/che/issues/21594 cc: @olexii4 @akurinnoy

[2022-08-09 13:05] nickboldt commented on #21615
Prod team tasks, current sprint
* [ ] Release Che 7.52 [Aug 10] - Sam taking over for Mykhailo
* [ ] Release DS 3.0.1 [week of Aug 15?] - Blocker https://issues.redhat.com/browse/CRW-3243
* [ ] Release DS 3.1.0 [week of Aug 15?] - Blocker https://issues.redhat.com/browse/CRW-3215
  * [ ] [CRW-3250](https://issues.redhat.com/browse/CRW-3250) Remove RPMs and base image references from the manifest-a

[2022-08-09 13:44] azatsarynnyy opened #21626 "PowerShell VS Code extension failed to start"
### Is your task related to a problem? Please describe

PowerShell VS Code extension failed to start in Che-Code.

### Describe the solution you'd like

Need to investigate why the extension waits for the session file continuously.

### Describe alternatives you've considered

_No response_

### Additional context

[code]

[2022-08-09 13:58] dkwon17 opened #21627 "403 error, not able to do git push to upstream dashboard branch with https"
### Describe the bug

On a Che instance with oAuth set up, I'm not able to push branches to https://github.com/eclipse-che/che-dashboard/.

### Che version

next (development version)

### Steps to reproduce

1. Create a project with this devfile https://github.com/dkwon17/che-dashboard/blob/devfilev2/devfile.yaml
ex:
[code]
2. When the editor starts, run `git checkout -b test-branch`
3. Create a

[2022-08-09 14:04] azatsarynnyy commented on #21537
@l0rd it was my assumption that the problems of PowerShell extension are caused by our machine-exec implementation of terminal. I want to investigate the PowerShell-related issues first https://github.com/eclipse/che/issues/21626, and then we can decide if it really requires getting rid of the machine-exec stuff, or maybe the problems are caused by other parts of Che-Code.

[2022-08-09 14:04] #21551 closed

[2022-08-09 14:31] svor commented on #21152
remove-lifecycle stale

[2022-08-09 14:46] #21578 closed

[2022-08-09 15:25] l0rd commented on #21537
@azatsarynnyy ok please let me know how your investigation is going. And in general we should discuss the value of having the machine-exec based terminal vs its costs.

[2022-08-10 00:53] #18043 closed

[2022-08-10 00:53] #20296 closed

[2022-08-10 00:53] #20351 closed

[2022-08-10 00:53] #20423 closed

[2022-08-10 00:53] #20510 closed

[2022-08-10 00:53] #20515 closed

[2022-08-10 00:53] #20535 closed

[2022-08-10 00:53] #20600 closed

[2022-08-10 00:53] #20991 closed

[2022-08-10 00:53] #21112 closed

[2022-08-10 07:01] tolusha commented on #21617
So, we have to do:
1. Update [1] to [2] & [3]
2. Launch `make update-dev-resources` to propagate these changes to all related resources including olm bundle
3. Spin up OpenShift cluster and launch `make run` to deploy Eclipse Che
4. Test if use can log in and create workspace

[1] https://github.com/eclipse-che/che-operator/blob/152c8211a673348ebc60aa260e2fb6eecaeff81b/config/manager/manager.yaml#

[2022-08-10 07:06] tolusha commented on #21363
We have to do:
1. Rework `Create workspace, clone sources`. It is not possible to create workspace using chectl anymore.
Instead we need a factory link.
2. Remove `Create Workspace` & `Generate Devfile` sections
3. Update devfile [1] and ensure all commands work

[1] https://github.com/che-incubator/chectl/blob/75e3141877980fb6fdf1430dc9ed9a083ab3d3da/devfile.yaml

[2022-08-10 08:06] vkatta88 commented on #21602
Hi,

We tried installing with the above given hint.

We have created the che-patch.yaml with the below content.

[code]
we are using AWS EKS cluster. After adding the above OIDC Azure AD details able to resolve che dashboard URL but it is keep on loading the dashboard page and throwing the error `'Failed to fetch available workspaces, reason: Failed to fetch the list of devWorkspaces. Unable to li

[2022-08-10 08:33] Divine1 commented on #21613
@tolusha   i'm stuck with this issue now. please share your feedback on this.

[2022-08-10 08:42] #21622 closed

[2022-08-10 13:13] tolusha opened #21628 "Rename CheCluster field `headerMessage.warning` -> `headerMessage.text`"
### Is your task related to a problem? Please describe

There is a typo in [1] after switching to CheCluster API v2:
[code]

[1] https://github.com/eclipse-che/che-operator/blob/defec6763eac26cd2c23a5f4f6d4d68b1db17419/api/v2/checluster_types.go#L356

### Describe the solution you'd like

It must be:
[code]

### Describe alternatives you've considered

_No response_

### Additional context

_No re

[2022-08-10 14:43] #21628 closed

[2022-08-10 15:18] ibuziuk commented on #21560
@l0rd @nickboldt @tolusha my suggestion for fixing this issue would be to set the default value for default components on the operator level e.g.

[code]

this is the config we apply to the dogfooding instance. The question is what image should we use for the Dev Spaces product taking into account that the airgap flow needs to be supported

[2022-08-10 15:46] tolusha commented on #21602
@vkatta88

I can see this kind of error when `CHE_OIDC_EMAIL__CLAIM` set incorrectly.
Could you check RoleBinding in a user namespace?

`oc get rolebinding eclipse-che-cheworkspaces-clusterrole  -n <NAMESPACE> -o yaml`
`oc get rolebinding eclipse-che-cheworkspaces-devworkspace-clusterrole  -n <NAMESPACE> -o yaml`

[2022-08-10 16:18] azatsarynnyy opened #21629 "Make it possible to run Che-Code on UBI 9"
### Is your task related to a problem? Please describe

When running Che-Code in a UBI9-based container, it fails with the following error:
[code]

### Describe the solution you'd like

Probably, it requires adding some libs to Che-Code image.

### Describe alternatives you've considered

There was an internal discussion on the possibility of running Che-Code in any image. It requires reviewing ho

[2022-08-10 16:38] ibuziuk commented on #21540
the last PR has been merged
@dkwon17 can we close the issue?

[2022-08-10 18:12] dkwon17 commented on #21540
All of the UX improvements are made, except for the `Workspace inactivity when there is another running workspace` and  `Workspace runtime limit reached when there is another running workspace` pages, which aren't implemented yet.

We can close this issue and focus on those pages in https://github.com/eclipse/che/issues/21623 cc @nickboldt

[2022-08-10 18:12] #21540 closed

[2022-08-11 10:08] ibuziuk commented on #21405
@l0rd @AObuchow @amisevsk @tolusha based on the customer requests I believe we need to make this story a blocker for 3.2 release. All the changes need to be backported to 7.52.x branch

[2022-08-11 10:29] vkatta88 commented on #21602
@tolusha

For the parameter CHE_OIDC_EMAIL__CLAIM we have used both 'unique_name' and 'email'..

As requested please find the below cluster role bindings and here we are using kubernetes cluster (EKS).

eclipse-che-cheworkspaces-devworkspace-clusterrole:

[code]
eclipse-che-cheworkspaces-clusterrole:
[code]

We have also tried with below option but no luck

[code]

Please check and let us know. Th

[2022-08-11 12:13] svor opened #21631 "Che-Code editor should be selected and opened by default in the dogfooding instance"
### Describe the bug

After creating a workspace on the dogfooding instance, Theia editor will be opened by default

### Che version

next (development version)

### Steps to reproduce

1. Create any workspace on the [dogfooding](https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/) instance

### Expected behavior

Che-Code should be opened by default

### Runtime

OpenShift

### Screens

[2022-08-11 12:48] #21594 closed

[2022-08-11 12:58] tolusha commented on #21405
@AObuchow
Let me know if you need any help with che-operator part.

[2022-08-11 13:50] l0rd commented on #21405
I think that's important to mention that there is an alternative: pre-create the PVC in the developers namespaces. This is a powerful alternative as it let the admin to carefully specify any properties of the developers' PVs.

[2022-08-11 13:57] ibuziuk commented on #21405
@l0rd right, but I think you can only pre-create it for per-user (common) strategy e.g. it is not possible to pre-create it for per-workspace

[2022-08-11 14:14] #21436 closed

[2022-08-11 15:36] l0rd commented on #21560
@ibuziuk how is your proposal different from one in the "Expected behavior" section in this issue description? And I would rather use a fixed hash, not latest. The image should match the one used in our samples (all the samples use the same image). For Dev Spaces we currently have 3 UDI images for the samples, we should probably use the java one. cc @nickboldt

[2022-08-12 05:06] abhijeetka commented on #21602
@tolusha we are working on eks cluster and there also they provide oidc, is it something that causing this issue?

However I checked, and there is no oidc provided configured for my cluster.
`aws iam list-open-id-connect-providers | grep *******`

So now a Kubernetes cluster which does not have oidc provider and we are installing eclipse che, with external oidc provider as azure, the login works f

[2022-08-12 09:43] Divine1 opened #21632 "where should i add `workspacePodNodeSelector` in checluster config?"
### Summary

i'm using `chectl/0.0.20220801-next.24265f6 darwin-x64 node-v16.13.2` version

i have to use `workspacePodNodeSelector` inorder to test my understanding mentioned in [this comment](https://github.com/eclipse/che/issues/21613#issuecomment-1207462002)

below is my `checluster` yaml. where should i add `workspacePodNodeSelector`? i referred [this documentation](https://www.eclipse.org/ch

[2022-08-12 10:54] tolusha commented on #21632
[code]

https://github.com/eclipse-che/che-operator/blob/50ac2172dfa4b2a57917baa4123bab46bac55da7/api/v2/checluster_types.go#L71-L76

[2022-08-12 15:33] Divine1 commented on #21632
@tolusha

below is my output of `kubectl get nodes --show-labels`
[code]

below is the yaml of the workerNode containing `labels` which has to be added to `nodeSelector`
[code]

i will use below command to create my eclipse-che setup on k8s cluster
[code]

i have added `nodeSelector` in below `che-operator-cr-patch.yaml` file, could you verify is this syntax is correct?
[code]
Also, in my above `c

[2022-08-12 23:02] filipthoen2 opened #21633 "503 Service Temporarily Unavailable - nginx [Windows 10, Hyper-V, Minikube]"
Happy Friday all!

I'm trying to go through a first install of Che, using my laptop / Minikube / Hyper-V.

The installation succeeds without hiccups & the installer prompts me to open:

  https://172.17.71.84.nip.io/dashboard/

I get the following error:

  "503 Service Temporarily Unavailable - nginx"

I tried stopping Che, deleting the minikube cluster, create a new cluser & re-deply Che -- same

[2022-08-13 07:50] nils-mosbach commented on #21156
/remove-lifecycle stale

Since most cloud providers limit the amount of volumes that can be attached and don't support speedy RWX options, I think this could still be a benefit.

If 500 volumes can be attached at max and we allow users to create 5 workspaces in 'per-workspace' storage mode, this will limit the whole cluster to 100 users. If we have the possibility to have multiple async workspaces

[2022-08-14 08:59] yujiri8 commented on #21567
I have pulled the latest changes and still cannot build it with the same issue.

[2022-08-15 00:52] #20817 closed

[2022-08-15 00:52] #21097 closed

[2022-08-15 00:52] #21143 closed

[2022-08-15 06:45] svor commented on #20986
/remove-lifecycle stale

[2022-08-15 07:54] svor commented on #21159
/remove-lifecycle stale

[2022-08-15 08:48] tolusha commented on #21633
1. Try to add more CPU to minikube cluster `--cpus 4`
2. Here is the similar issue https://github.com/eclipse/che/issues/21125 and possible solution
https://github.com/eclipse/che/issues/21125#issuecomment-1170863395

[2022-08-15 08:58] tolusha commented on #21632
It is correct.

To be honest I am not much familiar with this things. I believe `nodeSelector` is enough.
More docs here https://kubernetes.io/docs/concepts/scheduling-eviction/

[2022-08-15 10:16] Deel96 opened #21634 "How to define a custom IDE in a devfile"
Is there a current documentation for running a custom IDE?
I only found an old version:
https://www.eclipse.org/che/docs/che-7/end-user-guide/support-for-theia-based-ides/

I created an own devfile like mentioned in the docs with a reference URL. The editor auto insertes a pastebin url, which looks pretty empty:
https://pastebin.com/raw/kYprWiNB

So I used the file from the docs an hosted my own f

[2022-08-15 13:51] svor opened #21635 "Files in .vscode and .che can not be found if create a workspace by the factory"
### Describe the bug

All defined plugins from the extensions.json are not installed If create a workspace by the factory and **che-theia** editor.
Also I see that the tools component doesn't contain environment variables that should be injected by the Dashboard:
[code]

It's also not possible to customize an editor by using `.che/che-editor.yaml` file:

![screenshot-nimbusweb me-2022 09 07-10_02_

[2022-08-15 14:04] svor commented on #21635
cc @olexii4 @akurinnoy

[2022-08-15 18:20] filipthoen2 commented on #21633
Thanks, @tolusha -- this solved the problem! The dashboard now comes up & I can deploy workspaces.

I tried both 'cpp', 'bash' & 'apache-camel-c', all fail with the same error:

  Container tools has state ImagePullBackOff

Looks like this has to do with K8s not being able to download one or more of the required container images.

I've attached the Che logs, which don't show an error except for th

[2022-08-16 00:57] #21045 closed

[2022-08-16 02:12] mohammaduvez commented on #17846
/remove-lifecycle stale

[2022-08-16 07:19] filipthoen2 opened #21636 "Container tools has state ImagePullBackOff [Windows 10, Hyper-V, Minikube]"
### Describe the bug

I successfully deployed Che on Minikube (after some initial hickups with insufficient CPU resources assigned to the Minikube cluster, see https://github.com/eclipse/che/issues/21633)

The Che dashboard now comes up & I can deploy workspaces.

I tried both 'cpp', 'bash' & 'apache-camel-c', all fail with the same error:

  _Container tools has state ImagePullBackOff_

See attac

[2022-08-16 07:20] filipthoen2 commented on #21633
Issue resolved by starting minikube with 4 CPU resources

[2022-08-16 07:21] filipthoen2 commented on #21633
Issue resolved by starting minikube with 4 CPU resources

[2022-08-16 07:21] #21633 closed

[2022-08-16 09:27] azatsarynnyy commented on #21626
Previously, I assumed that our machine-exec implementation of the terminal prevented the PowerShell extension from working correctly. But the assumption was not confirmed. Moreover, I prepared the Che-Code build without a machine-exec terminal for testing and the described problem is not reproduced in both cases: with and w/o the machine-exec.

- Test repository with the machine-exec-based termina

[2022-08-16 10:32] l0rd opened #21637 "The default VSX registry should be openvsx.org"
### Is your enhancement related to a problem? Please describe

We [are about to embed an OpenVSX registry in Che plugin registry](https://github.com/eclipse-che/che-plugin-registry/pull/1324) but that hasn't be tested thoroughly yet and we still want to use `openvsx.org` as the default registry to retrieve VS Code extensions.

### Describe the solution you'd like

When installing Che (via OLM or y

[2022-08-16 11:39] ibuziuk commented on #21448
Fixed in 1.0.2 version https://operatorhub.io/operator/kubernetes-imagepuller-operator
Closing

[2022-08-16 11:39] #21448 closed

[2022-08-16 11:57] ibuziuk commented on #21631
@svor I can not reproduce anymore? Seems to be some glitch after the rollout update. Che-Code is the default on dogfooding. Please, reopen if still reproducible

[2022-08-16 11:57] #21631 closed

[2022-08-16 12:34] azatsarynnyy commented on #21626
I just realized I was using the wrong extension :man_facepalming:
I tested https://open-vsx.org/extension/ms-vscode/powershell-preview instead of  https://open-vsx.org/extension/ms-vscode/powershell
I'm going to check it one more time.

[2022-08-16 12:49] vinokurig commented on #21627
This is an expected behaiviour because [OAuth App access restrictions](https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data/about-oauth-app-access-restrictions) are enabled by default in a GitHub organisation.
To request the access:
1. [Review authorized OAuth Apps](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/reviewing-your-autho

[2022-08-16 13:54] #21372 closed

[2022-08-16 14:50] l0rd commented on #21627
Honestly that doesn't seams like a big deal as usually developers fork a GitHub repository and `git push` to their fork rather than to a dedicated branch of the upstream repository.

[2022-08-16 16:16] tolusha commented on #21636
I faced the same issue. It seems image is failed to pull because it quite large.
I've tried to reconfigure minikube cluster to increase timeout, but without success:

`minikube start --extra-config=kubelet.runtime-request-timeout=20m0s`

As workaround we can prepull image locally and copy to a minikube cluster

[code]

[2022-08-16 16:17] #21619 closed

[2022-08-16 18:35] filipthoen2 commented on #21636
@tolusha thanks for the help! I also tried to reconfigure minikube to increase timeout, but no success either.

I'm not using Docker but Hyper-V (don't have a docker subscription) so I can't use the 'docker pull' workaround... Is there an equivalent for Hyper-V?

Thanks again,
Filip

[2022-08-16 23:24] bdwyertech opened #21638 "GIT Safe Directories"
### Is your enhancement related to a problem? Please describe

I am doing a PoC for my organization and leveraging an NFS backend for workspace persistence.  I have an issue where Theia will not detect the GIT repository after cloning unless I open a terminal into the container and run `git config --global --add safe.directory $PROJECT_SOURCE`

<img width="332" alt="image" src="https://user-images

[2022-08-17 08:20] vkatta88 commented on #21602
@tolusha Do you have any update on this please? we are stuck here.

[2022-08-17 08:24] azatsarynnyy commented on #21638
Hello @bdwyertech
you can try to patch the git config in the editor Dockerfile
https://github.com/eclipse-che/che-theia/tree/main/dockerfiles/theia
and build your custom image.

[2022-08-17 09:42] ibuziuk commented on #21561
the issue is really annoying and we should backport the fix in 3.2

[2022-08-17 10:54] l0rd commented on #21291
Based on your feedback @nils-mosbach I think this is becoming critical. I am setting the priority to P1.

The DevWorkspace controller cannot periodically refresh the tokens (its responsibility is to reconcile DevWorkspaces) but there are a couple of things that come to my mind.

First, if OAuth is configured and there is a secret with a previously generated token, Che should always check it at sta

[2022-08-17 10:58] l0rd commented on #21291
I would say that this issue is similar to https://github.com/eclipse/che/issues/21421 but for GitLab and Bitbucket.

[2022-08-17 11:00] tolusha commented on #21636
Can you use `podman` ?

[2022-08-17 11:52] vinokurig commented on #21291
@l0rd Gitlab and Bitbucket already work like GitHub in the scope of https://github.com/eclipse/che/issues/21421. The reason of this issue is to catch an event when an oauth token has expired and regenerate it.
We have to decide when we are going to catch the event: on wokrspace start or / and during workspace runtime.
Do we need to have the refresh process asynchronus? If so we would need a new wa

[2022-08-17 12:35] #21620 closed

[2022-08-17 12:44] #21637 closed

[2022-08-17 12:47] ibuziuk commented on #21291
I do not think we need to refresh the token during runtime, refreshing it during workspace startup should be enough.

@vinokurig I actually thought that the token is refreshed during workspace startup already if expired, no?

[2022-08-17 13:31] azatsarynnyy commented on #21634
Hello @Deel96,
The docs link you're referring to is an old one. See:
![image](https://user-images.githubusercontent.com/1636395/185145141-c6b4378f-3077-4d4d-a156-ef857f1c5fd8.png)

Just choose a stable version from the dropdown menu. Or follow this direct link https://www.eclipse.org/che/docs/stable/end-user-guide/selecting-a-workspace-ide/
There are two sub-chapters that describe two possible way

[2022-08-17 13:32] vinokurig commented on #21291
@ibuziuk

Unfortunatelly no, we check it only when creating a new factory.

[2022-08-17 13:41] ibuziuk commented on #21291
@vinokurig ok, so I believe we need to check it on workspace startup and if there is exception - renew the token

[2022-08-17 13:45] nils-mosbach commented on #21291
From a user perspective I consider it mandatory that tickets are refreshed during workspace runtime. I guess that most developers tend to spend more than two hours on a project/ task/ workspace. I don't think users don't get the reason when and why they must restart in order to push changes. That also leads to bad habbits, like "do it quick, otherwise you have to restart". The idea of using oauth

[2022-08-17 14:21] azatsarynnyy opened #21639 "`.che/che-editor.yaml` content is not taken into account when running a workspace"
### Describe the bug

I noticed that the content of the `.che/che-editor.yaml` file is ignored when starting a new workspace.
The default editor is used. For our dogfooding instance, it's always `che-code:insider`.

### Che version

next (development version)

### Steps to reproduce

Spinup a new workpace from the following factory link:
https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.co

[2022-08-17 14:23] azatsarynnyy commented on #21563
I've tried the provided factory link
https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/#https://github.com/l0rd/tilt-example-java/?che-editor=eclipse/che-theia/next. For me, it spinned up a Che-Theia-based workspace.
At first sight, it looks like expected behavior. But actually, it works like that because the content of the `.che/che-editor.yaml` file is ignored. I've described that pr

[2022-08-17 14:30] Deel96 commented on #21634
Hi @azatsarynnyy,
Thank your for your reply. I missunderstood the new documentation that you can only use predefined IDEs. Later my usecase is described :https://www.eclipse.org/che/docs/stable/end-user-guide/specifying-an-in-browser-ide-for-a-git-repository-by-using-che-editor.yaml/#using-a-web-reference-for-your-ide_che

Using a che-editor.yaml file seems like the easiest way to get started:

1.

[2022-08-17 15:53] azatsarynnyy commented on #21567
Hello @yujiri8
I can't reproduce the mentioned problem by building it locally. The build is green on the CI https://github.com/eclipse-che/che-theia/actions/workflows/next-build.yml as well.

I'm thinking if that problem can be platform-specific... Some time ago, I had [a problem related to `digital envelope routines`](https://github.com/eclipse-theia/theia/issues/8378). It turned out it was repro

[2022-08-17 15:54] benoitf commented on #21629
on ubi9 there are different libcrypto versions
[code]

[2022-08-17 16:00] benoitf commented on #21629
so maybe copying nodejs binary from `ubi9/nodejs-16` in addition to `ubi8` or we grab a nodejs binary with a different openssl version

[2022-08-17 16:12] azatsarynnyy commented on #21634
@Deel96
I'm not sure about the way with using the `reference:`.
I can recommend putting the editor Devfile to `.che/che-editor.yaml` directly, without the `reference:` field.
See an example here https://github.com/azatsarynnyy/java-spring-petclinic/blob/theia-test/.che/che-editor.yaml

Just provide your images in:
- https://github.com/azatsarynnyy/java-spring-petclinic/blob/cf26cfe40c52026c5ebe202

[2022-08-17 16:48] l0rd commented on #21466
@azatsarynnyy it looks like there is workaround: [the task label should match the container name](https://github.com/abaker-9/dev-pwsh/blob/master/terminal.md#failed-task).

[2022-08-17 16:50] l0rd commented on #21466
@apupier when using a VS Code based workspace the extensions (and VS Code itself) run in the Devfile first container. Running the extensions in sidecar containers (aka running extensions remotely) is not supported with VS Code.

[2022-08-17 16:57] Deel96 commented on #21634
@azatsarynnyy
Ok, I'll try to put everything in one file.
You mentioned two places for images.
Line 15 is the image of the IDE which I tried running locally?
What kind of image is needed for line 143?

[2022-08-17 17:01] l0rd commented on #21485
We discussed that today with @benoitf and @ibuziuk. On prem GitHub instances have URLs that don't match [this regexp](https://github.com/eclipse-che/che-server/blob/97b7431bdac856f31ac3059c26d07d5aa16fbd95/wsmaster/che-core-api-factory-github/src/main/java/org/eclipse/che/api/factory/server/github/GithubURLParser.java#L65-L67) (the URL is typically something like `https://github.redhat.com`). To a

[2022-08-17 17:26] l0rd commented on #21485
Using a [Git Provider Access Token](https://www.eclipse.org/che/docs/stable/end-user-guide/using-git-credentials/#using-a-git-provider-access-token_che) may be a workaround.

[2022-08-17 21:30] l0rd commented on #21561
Ok but we should not restart the workspace because it has the same name: it may have the same name but refer to another branch (i.e. you have just reviewed a PR) or even be a completely different git repository. How are we going to figure out if that's the same workspace or a different one?

[2022-08-17 23:34] bdwyertech commented on #21638
And now, I've actually come up with a cleaner alternative by embedding some code in my "tools" containers entrypoint...

[code]

[2022-08-18 00:48] yujiri8 commented on #21567
I suspect it's fedora specific, because I remember reading some other discussion about this error message where a solution was proposed but it didn't seem to work for people on fedora. I suppose this should be closed as it's unlikely that this issue is really che's fault.

[2022-08-18 00:48] #21567 closed

[2022-08-18 00:58] #19652 closed

[2022-08-18 07:09] tolusha commented on #21613
@Divine1
Using `nodeSelector` must fix your issue. Could you check pls?

[2022-08-18 07:14] Divine1 commented on #21613
@tolusha i have used `nodeSelector`, i can see my `PV` and `workspace` container running in same `workerNode` even after deletion and re-creation of `workspace`. but i still face the same issue. i will retest it and share you the feedback.

[2022-08-18 07:48] svor commented on #21561
Can we just create a new workspace but with another name (maybe adding some suffix)

[2022-08-18 09:46] l0rd commented on #21561
Right but that's what `generateName`, in the DevWorkspace spec, is supposed to do. If the problem here is with samples I think we can use [generateName](https://github.com/devfile/api/blob/main/schemas/latest/dev-workspace.json#L51) instead of `name` when generating the DevWorkspace.

I think samples are easy because we start from a `DevWorkspace.yaml`. @ibuziuk the problem here is with a sample (

[2022-08-18 11:05] azatsarynnyy commented on #21638
@bdwyertech I'm glad you've solved your problem :+1:
I think this issue can be closed now. Feel free to reopen it in case you have any other questions.

[2022-08-18 11:05] #21638 closed

[2022-08-18 11:15] azatsarynnyy commented on #21634
you can keep it the same as it's in your example here https://github.com/Deel96/editor/blob/d66ef4655c015432ae25df348e8da110254250e8/.che/che-editor.yaml#L31

@Deel96 I've just noticed the version of your Devfile is `apiVersion: 1.0.0`

I wonder what Che version you use? Because all the examples I provided and the docs are related to the Devfile v.2

[2022-08-18 11:20] #21617 closed

[2022-08-18 11:39] vinokurig commented on #21485
@l0rd

I don't think so. We would still need to an endpoint to test the feature.

[2022-08-18 12:06] Divine1 commented on #21613
@tolusha

i'm receiving below error while starting workspace
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/10482177/185390718-2030b8df-a7bf-478d-9dfb-436b3a0f49c0.png">

[2022-08-18 12:28] azatsarynnyy commented on #21626
It turned out that providing a custom editor through the `.che/che-editor.yaml` doesn't work https://github.com/eclipse/che/issues/21639
Providing a custom editor through the `che-editor` URL parameter works well, so the other way to test the PowerShell extension is to use the following factory links:
- without the machine-exec https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/#https:/

[2022-08-18 12:33] vitaliy-guliy commented on #20791
[Devfile registry](https://github.com/eclipse-che/che-devfile-registry/tree/main/devfiles) contains only five java maven based samples.
Two of them, that were using `java -jar` have been updated.

[2022-08-18 12:33] #20791 closed

[2022-08-18 13:10] azatsarynnyy commented on #21626
The result of testing **without the machine-exec** :arrow_down:

After installing the PowerShell extension

![image](https://user-images.githubusercontent.com/1636395/185395056-641eaae5-e6c3-4da9-9d51-c9e9bbadc547.png)

1) a new Terminal Profile `pwsh` is contributed to the `Launch Profile...` menu:

![image](https://user-images.githubusercontent.com/1636395/185395793-76069f04-d371-4dcb-81df-bb5c2

[2022-08-18 13:11] azatsarynnyy commented on #21626
The result of testing **with the machine-exec** :arrow_down:

After installing the PowerShell extension

![image](https://user-images.githubusercontent.com/1636395/185395056-641eaae5-e6c3-4da9-9d51-c9e9bbadc547.png)

1) there's no `pwsh` Terminal Profile contributed:

![image](https://user-images.githubusercontent.com/1636395/185400101-03250f2a-7655-493b-b287-f305f5953b8e.png)

2) after activating