[2021-09-24 16:20] dmytro-ndp commented on #20532
@sleshchenko: good catch!
Nightly Eclipse Che Happy path tests have been fixed to use "**che-server:next**".

[2021-09-24 16:21] #20532 closed

[2021-09-24 17:38] #20148 closed

[2021-09-24 17:41] #20520 closed

[2021-09-27 01:12] AndrienkoAleksandr opened #20541 "Migrate image puller release process to the new bundle format."
### Is your task related to a problem? Please describe

It would be nice to rework image puller releases and release command to the new bundle format.

### Describe the solution you'd like

Currently we have pull request which uses new bundle format for next  image puller version https://github.com/che-incubator/kubernetes-image-puller-operator/pull/69. But than we do convertation from this new bu

[2021-09-27 06:27] tolusha commented on #20539
Hi @michelecurioni
The list of images does not depend on the specific platform.
We have a doc [1] and script [2] to test Eclipse Che operator in a restricted environment.

[1] https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-in-a-restricted-environment/
[2] https://github.com/eclipse-che/che-operator/blob/main/.ci/oci-disconnected.sh#L56

[2021-09-27 06:42] tolusha opened #20542 "Che Deploy Sprint #208"
#### Timeframe
Sep 29 - Oct 19

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |

#### Holidays / events:
Oct 14

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is based on Eclipse Che 7.30.x
CRW 2.10 is based on Eclipse Che 7.32.x
CRW 2.11 is based on

[2021-09-27 07:07] skabashnyuk commented on #20168
@l0rd could you please review the list of remainings and wrote your option about what is mandatory/option for Step 3.

[2021-09-27 07:19] tolusha commented on #19649
We moved to a new PostgreSQL image
https://github.com/eclipse/che/issues/20246

[2021-09-27 07:19] #19649 closed

[2021-09-27 07:20] tolusha commented on #15389
Eclipse Che operator already manages several versions of eclipse-che CRD

[2021-09-27 07:20] #15389 closed

[2021-09-27 07:33] sleshchenko commented on #20463
yes! It should. Let me know if it does not for you

[2021-09-27 07:46] l0rd opened #20543 "List Che 3rd party runtime dependencies"
### Is your task related to a problem? Please describe

Eclipse Che is [under review](https://gitlab.eclipse.org/eclipsefdn/emo-team/emo/-/issues/66) and one of the artifact required is the list of 3rd party dependencies.

### Describe the solution you'd like

Provide, [using this gdoc](https://docs.google.com/document/d/1DTLpciY6sgZ-U53wdvK-B1dIg8b5rHn7YR8V_YuEIDA/edit#), the list of libraries us

[2021-09-27 07:51] mmorhun commented on #20424
Fixed

[2021-09-27 07:51] #20424 closed

[2021-09-27 07:59] l0rd commented on #20527
For clarity: you are talking about the cpu/mem limits/requests of workspaces containers or about those of the operator controller?

[2021-09-27 08:21] l0rd commented on #20527
Note that:

- users are able and encouraged to specify cpu/mem limits/requests for the components in their devfiles. Doing that for them is a source of errors and eventually non starting workspaces.
- an admin can always set the default cpu/mem limits of the workspace containers configuring namespaces `LimitRange`

That said I think that this issue should consist in making sure that:

- cpu/mem li

[2021-09-27 08:31] l0rd commented on #20168
As a rule of thumb: higher priority to features that existed in che-server land but do not exist in devworkspace land, lower priority to new features that didn't exist in che-server land.

In STEP 3 milestone and ordered by priority:

- [ ] https://github.com/eclipse/che/issues/20534
- [ ] https://github.com/eclipse/che/issues/20528 (implemented in DWO)
- [ ] https://github.com/devfile/devworkspac

[2021-09-27 08:38] michelecurioni commented on #20539
Hi @tolusha,
I looked at [1], and I can see a list of required images here: https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-in-a-restricted-environment/#preparing-a-private-registry_che, but that list doesn't specify which version of those images need to be downloaded. I imagine a specific version of the operator will require specific version of those images.
Are those the

[2021-09-27 09:01] #20506 closed

[2021-09-27 10:50] artaleks9 opened #20544 "Update 'DevfileSmoke' E2E test to move on Dashboard using UI"
### Is your task related to a problem? Please describe

* Inside E2E tests use a direct link to move to the Dashboard for deleting a workspace.
* Not sure, this approach is using by customers, sooner they use UI to move on Dashboard.

### Describe the solution you'd like

* So need to test this way in the E2E test, that to be sure moving to Dashboard works properly from UI

### Describe alternativ

[2021-09-27 11:23] #20530 closed

[2021-09-27 11:51] tolusha commented on #20539
That's a good question. It seems the doc is not full.
So, the complete list of images and their tags can be extracted from che-operator deployment + you need the operator image itself [1]

[1] https://github.com/eclipse-che/che-operator/blob/7.36.2/config/manager/manager.yaml#L60-L95

[2021-09-27 12:32] coutantal commented on #20529
@tolusha what do you mean by working limits ?

I have no namespace or cluster-wide limitation for pod's resources.

[2021-09-27 12:49] sparkoo opened #20545 "Can't start any devworkspace"
### Describe the bug

I can't start any workspace when using DevWorkspaces.

Workspace log from the Dashboard:
[code]

### Che version

next (development version)

### Steps to reproduce

1. `chectl server:deploy --platform=openshift --workspace-engine=dev-workspace`
2. login and try start any workspace from samples

### Expected behavior

Workspace will start

### Runtime

OpenShift

### Screensh

[2021-09-27 13:08] amisevsk commented on #20545
Issue appears to be due to https://github.com/devfile/devworkspace-operator/issues/586, which is fixed in https://github.com/devfile/devworkspace-operator/pull/593 but currently only available in `next`.

[2021-09-27 13:16] metlos opened #20546 "Self signed certificate copied to the user's namespace does not have type set resulting in perpetual updates"
### Is your enhancement related to a problem? Please describe

The namespace syncing logic in the `che-operator` doesn't set the type of the secret on the copy of the self-signed-certificate it copies from the namespace where the `CheCluster` resource is placed. When the field is defaulted to "Opaque", it causes another reconciliation round which resets it to the empty string (to be supposedly in

[2021-09-27 13:56] benoitf opened #20547 "Add plugin registry URL deployment information as env variable to the plugin registry"
### Is your enhancement related to a problem? Please describe

Today, devfile registry has environment variables like

[code]

but not the plugin registry URL
[code]

plugin registry might need to know its external endpoint so it would be convenient like for devfile registry to have it in the container

### Describe the solution you'd like

Add `CHE_PLUGIN_REGISTRY_URL` env variable

### Describe

[2021-09-27 14:11] sleshchenko commented on #20545
Well, but spring samples used to work just fine, even before https://github.com/devfile/devworkspace-operator/pull/593 but I missed something

[2021-09-27 14:13] artaleks9 opened #20548 "'JavaMaven' test is fail on 'Che-nightly' launch via absent the notification 'Do you trust the authors of'"
### Describe the bug

* The 'JavaMaven' E2E test is failed on 'Che-nightly' launch job, e.g. https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/802/

### Che version

next (development version)

### Steps to reproduce

* There is waiting the appearing the notification with text: "Do you trust the authors of", but in fact it doesn't pr

[2021-09-27 14:24] vzhukovs commented on #20545
Will take a look

[2021-09-27 14:24] michelecurioni commented on #20539
That's what I was looking for, thanks.
Could you create a feature request to expose that list via command or store it in a file?
It's a bit hidden away, and I'd like to automate the download of everything required by the operator so that I can transfer it all to the airgapped environment in one archive.

There are also other images referred to in that yaml, like RELATED_IMAGE_che_plugin_sidecar_pl

[2021-09-27 14:47] sparkoo commented on #20545
workaround is to use older plugin-registry:
[code]

[2021-09-28 04:51] #20545 closed

[2021-09-28 05:08] #20404 closed

[2021-09-28 07:42] skabashnyuk commented on #20432
Now we are creating

[code]
according to https://github.com/devfile/devworkspace-operator/pull/564
we nee to have it in format
[code]
The data is identical so we need to add extra label `controller.devfile.io/git-credential: 'true' `and annotation ` controller.devfile.io/mount-path: /home/theia/.git-credentials/`  here https://github.com/eclipse-che/che-server/blob/ce6bcf2d198371db95d6722aabbba1f4

[2021-09-28 08:11] sleshchenko commented on #20289
Implemented in https://github.com/eclipse-che/che-dashboard/pull/340

[2021-09-28 08:11] #20289 closed

[2021-09-28 08:21] l0rd commented on #11476
This issue is not current anymore. We are rather aiming to run all IDE services in the developer container.

[2021-09-28 08:21] #11476 closed

[2021-09-28 08:26] sleshchenko commented on #19310
Seems it loses its priority since OpenShift OAuth is not something that allows you to refresh token in the same way as it was with keycloak. I assume the expected workflow is - once token is expired - go though OAuth flow again.

[2021-09-28 08:28] sleshchenko commented on #17542
I think now single host is the default suggested exposure strategy, so it should not happen and from dashboard point of view it would be overhead. Closing it.

[2021-09-28 08:28] #17542 closed

[2021-09-28 08:40] sleshchenko commented on #16270
I think it can be closed in favor of https://github.com/eclipse/che/issues/16875
please reopen if you still see the sense in having this issue opened.

[2021-09-28 08:40] #16270 closed

[2021-09-28 08:40] sleshchenko commented on #17844
Droppped dashboard part since I believe it's already done with https://github.com/eclipse-che/che-dashboard/pull/323

[2021-09-28 08:43] sleshchenko commented on #19428
https://www.eclipse.org/che/docs/che-7/end-user-guide/investigating-failures-at-a-workspace-start-using-the-verbose-mode/ now has `Open in Verbose mode` which is consistent with what dashboard has. Closing this one.

[2021-09-28 08:43] #19428 closed

[2021-09-28 08:46] sleshchenko commented on #19815
it also makes sense to keep in mind and fix if it's relatively easy ( I suppose) `UD Starting/Running workspaces should have higher priority in left nav bar` https://github.com/eclipse/che/issues/19517

[2021-09-28 08:51] themr0c commented on #20518
Referenced in https://issues.redhat.com/browse/RHDEVDOCS-3334

[2021-09-28 08:51] l0rd commented on #20534
As mentioned yesterday this issue should not be addressed on che-server side because the credentials are per user and should not be managed by the che-sever. It's something that should be changed at dashboard side and part of https://github.com/eclipse/che/issues/17954

[2021-09-28 08:51] #20534 closed

[2021-09-28 08:54] l0rd commented on #20528
This is the `CheCluster` side issue of https://github.com/devfile/devworkspace-operator/issues/613. An admin should be able to specify custom certificates for git hosts in the CheCluster CR.

[2021-09-28 09:43] tolusha commented on #20539
Regarding plugin & devfile registries images. You don't need to mirror them all but the only ones needed for your case.

1. build offline plugin & devfile registries following the doc [1]
2. check all external images
 `docker run -ti <DEVFILE_REGISTRY_IMAGE> cat /usr/local/apache2/htdocs/devfiles/external_images.txt`
 `docker run -ti <PLUGIN_REGISTRY_IMAGE> cat /usr/local/apache2/htdocs/v3/externa

[2021-09-28 09:49] svor commented on #20473
the same problem for surge.sh https://che-plugin-registry-main.surge.sh/v3/plugins/

[2021-09-28 11:00] sleshchenko commented on #19372
Is fixed by using websocket https://github.com/eclipse-che/che-dashboard/pull/349

[2021-09-28 11:00] #19372 closed

[2021-09-28 11:14] sleshchenko commented on #20495
This way is good enough.
Also, we can guide how to pass params from dashboard in case like
[code]
or just drop feature request but not any promise when it can be done.

I wonder if you share the same account with the user you share link?

[2021-09-28 11:18] sleshchenko commented on #20494
@azatsarynnyy according to the shared context, I think it's the theia bug and it uses internal CHE URL (CHE_INTERNAL_URL) but should use public (CHE_URL).
Possible related PR https://github.com/eclipse-che/che-theia/pull/1161

[2021-09-28 11:30] sleshchenko commented on #20468
should be fixed by https://github.com/eclipse-che/che-dashboard/pull/347

[2021-09-28 11:30] #20468 closed

[2021-09-28 11:48] benoitf opened #20549 "Create offline VS Code Marketplace (airgap support for vscode as default editor in Che/Dev Spaces)"
(was: Check if che plug-in registry could provide the VS Code marketplace API)

### Is your task related to a problem? Please describe

For offline/airgap mode, we will need a private registry to provide vsix files.
OpenVSX requires a database + elasticsearch (and oAuth is only github)

So we should check if we can propose basic API on top of existing plug-in registry to provide these offline feat

[2021-09-28 11:50] sleshchenko commented on #20543
Provided info about Controller's team components and dropped our areas. Let me know if anything else is needed.

[2021-09-28 12:00] sleshchenko commented on #20522
I'm more or less support opening IDE in a separate frame, but I still see the sense in workspace loading page as part of dashboard.

It's what we had previously called Workspace Loader =)

[2021-09-28 14:02] tolusha opened #20550 "[chectl] Get rid of `github.com/devfile/devworkspace-operator` dependency"
### Is your task related to a problem? Please describe

It was used before to fetch DevWorkspace operator templates and apply on the cluster.
But now everything is managed by che-operator

### Describe the solution you'd like

Get rid of `github.com/devfile/devworkspace-operator` dependency

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-09-28 14:15] l0rd commented on #20093
It may make sense to add it in the release notes now that it has been fixed.

[2021-09-28 14:39] dmytro-ndp commented on #20533
che-dashboard PR check on CRW Jenkins has been fixed: https://github.com/eclipse-che/che-dashboard/pull/365#issuecomment-929285457

[2021-09-28 14:39] #20533 closed

[2021-09-28 15:04] dmytro-ndp commented on #20548
Fixed: https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/basic/job/che-server/804/

[2021-09-28 15:04] #20548 closed

[2021-09-28 15:48] #20473 closed

[2021-09-28 17:09] #20550 closed

[2021-09-28 17:49] nickboldt commented on #17410
reopening because this is a N&N item so it shouldn't be autoclosed. Or, if it's a dead issue we won't do, then it's also not N&N.

@ibuziuk feel free to re-resolve and/or remove the N&N label.

[2021-09-28 18:06] nickboldt commented on #17410
Florent says, "n&n should not be applied to an open issue anyway so right fix would be to unset n&n on open issues"

[2021-09-28 18:06] #17410 closed

[2021-09-28 18:21] nickboldt commented on #15163
Almost 2 years old and no love here from prod or deploy team. @tsmaeder looks like if you want this you'll have to contribute the fix yourself. Code in anger!

Otherwise, closing.

[2021-09-28 18:21] #15163 closed

[2021-09-28 18:22] nickboldt commented on #15461
Since plugin reg now only includes latest version... is this obsolete?

[2021-09-28 18:25] #15461 closed

[2021-09-28 18:26] nickboldt commented on #15558
Projects which now try to use podman as the default (and sometimes fall back to docker if podman not found):
* configbump
* che-theia
* che-release
* che-operator
* che-docs
* devfile and plugin registries

[2021-09-28 18:36] nickboldt commented on #15558
Projects which still use docker as the primary or explicitl run `docker` instead of `podman`:
* redhat-developer/kubernetes-image-puller
* jetbrains-editor-images
* devworkspace-operator
* che-server
* eclipse/che
* che-plugin-broker
* che-operator
* che-machine-exec
* che-jwtproxy
* chectl

[2021-09-28 18:37] nickboldt commented on #17124
With the demise of Travis CI, this is once again stalled.

[2021-09-28 18:38] nickboldt commented on #17178
No complaints or feedback for 5 months! closing.

[2021-09-28 18:38] #17178 closed

[2021-09-28 18:39] nickboldt commented on #17334
Sounds like this is a task for someone with admin rights on the che-devfile-registry.

[2021-09-28 18:40] nickboldt commented on #17776
Closing as no more complaints in this thread for nearly a year.

[2021-09-28 18:40] #17776 closed

[2021-09-28 18:57] nickboldt commented on #18242
As we now include surge.sh / github.io online registries in https://workspaces.openshift.com I'm inclined to close this as won't-do, unless a compelling reason and a contribution from someone who wants/needs it comes along.

Having chatted with Florent on this one, seems like this would not **REPLACE** the current build/release process for creating online (non-airgapped) registries, but instead su

[2021-09-28 18:57] #18242 closed

[2021-09-28 19:05] nickboldt commented on #19223
Won't do

[2021-09-28 19:05] #19223 closed

[2021-09-28 19:08] nickboldt commented on #19294
This was apparently done in another issue. Both repos now use GHA.

https://github.com/che-incubator/kubernetes-image-puller-operator
https://github.com/che-incubator/kubernetes-image-puller

[2021-09-28 19:08] #19294 closed

[2021-09-28 19:14] nickboldt commented on #18242
If we decide to do this, it's lower priority than https://github.com/eclipse/che/issues/20549

[2021-09-28 19:15] #19295 closed

[2021-09-28 19:29] azatsarynnyy commented on #20368
I'm closing it as we've got rid of vsix-installer separate image in https://github.com/eclipse-che/che-theia/pull/1222

[2021-09-28 19:29] #20368 closed

[2021-09-28 19:38] nickboldt commented on #19736
I believe this is done as part of CRW-1157.

[2021-09-28 19:44] nickboldt commented on #19912
Commits prefixed with `[release]` appear for these projects:

* plugin & devfile registries
* che-docs
* eclipse/che
* machine-exec
* che-parent
* theia
* DWO

I assume the prefered prefix is `chore:`

[2021-09-28 19:49] nickboldt commented on #18748
As this is an admin task for GH administrator, and prod team does not have admin rights on all che repos, I've assigned this to the devex team.

[2021-09-28 19:55] nickboldt commented on #18944
https://github.com/eclipse-che/che-server/blob/main/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L402 now has ubi-minimal.

But the postgres thing is still a blocker. Moving to postgres 13 is in progress in Che 7.37 https://github.com/eclipse-che/che-server/pull/74 but looks like the image chosen is still single arch. :face_with_head_bandage:

So this might nev

[2021-09-28 19:56] nickboldt commented on #19505
Not sure but I think code coverage is owned by QE team.

[2021-09-29 06:30] sleshchenko commented on #20361
we don't have main-7.yy branches anymore, closing it for time being.

[2021-09-29 06:30] #20361 closed

[2021-09-29 06:43] skabashnyuk commented on #19236
Fixed https://github.com/eclipse/che/issues/20165 and https://github.com/eclipse/che/issues/20167

[2021-09-29 06:43] #19236 closed

[2021-09-29 07:32] svor commented on #19736
In downstream it was done as part of https://issues.redhat.com/browse/CRW-1157 and as I know for upstream it was done by Deploy team, @tolusha correct me if I'm wrong.

I think we can clothe this one

[2021-09-29 07:32] #20546 closed

[2021-09-29 07:33] #19736 closed

[2021-09-29 07:46] tsmaeder commented on #15163
@nickboldt in my copious free time :-)

[2021-09-29 07:47] svor commented on #18241
@nickboldt As far as I know we don't want to modify vscode extensions for upstream but I think it makes sense to implement that for downstream in https://github.com/redhat-developer/codeready-workspaces-vscode-extensions and reuse it.

[2021-09-29 08:18] tsmaeder commented on #20549
Wouldn't it make more sense to improve the upstream open-vsx code base to make it more modular? It would allow other open-vsx clients to benefit, as well.

[2021-09-29 08:47] SkorikSergey commented on #20471
Blocked by https://github.com/eclipse/che/issues/20316.

[2021-09-29 08:50] Ohrimenko1988 commented on #20441
Done: https://github.com/eclipse/che/pull/20511

[2021-09-29 08:50] #20441 closed

[2021-09-29 09:38] tolusha opened #20552 "Remove `--installer helm` option for k8s platforms"
### Is your task related to a problem? Please describe

Current helmcharts [1] that are using to deploy Eclipse Che are deprecated
We have to replace them on ones to deploy che-operator.

[1] https://github.com/eclipse-che/che-server/tree/main/deploy

### Describe the solution you'd like

- [x] remove `--installer helm` from chectl options
- [x] update doc not to mention `helm` anymore
- [x] Intro

[2021-09-29 10:33] #20450 closed

[2021-09-29 11:39] xbaran4 commented on #19061
Resolved with https://github.com/eclipse-che/che-server/pull/117

[2021-09-29 11:39] #19061 closed

[2021-09-29 12:02] #20444 closed

[2021-09-29 12:03] skabashnyuk opened #20553 "Che Platform Sprint #208"
### Is your task related to a problem? Please describe

#### Timeframe
Sep 29 - Oct 19

### Describe the solution you'd like

1

### Describe alternatives you've considered

1

### Additional context

1

[2021-09-29 12:06] skabashnyuk opened #20554 "[Che-platform]"

[2021-09-29 12:06] #20554 closed

[2021-09-29 12:10] vitaliy-guliy commented on #19344
/remove-lifecycle stale

[2021-09-29 12:10] vitaliy-guliy commented on #19344
Need to check this issue before closing.

[2021-09-29 12:24] #20492 closed

[2021-09-29 12:52] svor commented on #20433
Superseded by #20531

[2021-09-29 12:52] #20433 closed

[2021-09-29 13:07] #20118 closed

[2021-09-29 13:11] sleshchenko opened #20555 "Che Controller Sprint 208"
This issue collects work items of Controller Team for Sprint 208 (29 September - 19 Oct).
:notebook: Please note that this is a tentative plan, until sprint planning has been conducted.

The previous sprint https://github.com/eclipse/che/issues/20430

## Sprint goals

### DevWorkspace Operator
- DWO 0.10.0 release;
- Feature gap for integration with Che
- DWO load testing and fixing OOMKilled to g

[2021-09-29 13:35] azatsarynnyy commented on #20360
It should be already fixed by https://github.com/eclipse-che/che-theia/pull/1213

[2021-09-29 13:35] #20360 closed

[2021-09-29 13:35] azatsarynnyy commented on #20366
It should be already fixed by https://github.com/eclipse-che/che-theia/pull/1213

[2021-09-29 13:35] #20366 closed

[2021-09-29 14:40] svor commented on #20316
Seems https://github.com/eclipse-theia/theia/pull/10065 didn't fix the problem
@vinokurig will take a look once he gets back from PTO

[2021-09-29 17:00] l0rd commented on #7662
@skabashnyuk yes

[2021-09-30 04:08] william-xiang opened #20556 "Got module not found error when using @eclipse-che/plugin"
### Summary

I am trying to create a VS Code extension used in Che-Theia. In the extension, @eclipse-che/plugin is used to get workspace user and settings. I followed the instructions: https://www.eclipse.org/che/docs/che-7/contributor-guide/che-theia-plug-in-api/. But it gives the error below. The sample extension: https://github.com/william-xiang/che_api_ext1
[code]
[code]

I also tried `VS Code

[2021-09-30 06:18] azatsarynnyy opened #20557 "[Draft] Editors Sprint 208"
September 29 - October 19

---

#### Stabilize Che-Theia against upstream
- #20538

#### CRW
- Provide devfile for IntelliJ IDEA editor in CRW [CRW#2276](https://issues.redhat.com/browse/CRW-2276)

#### DevWorkspace integration
- #20460
- #18670

#### Other tasks
- #20543

#### Other collaboration in upstream Theia
- Code reviews, Dev calls
- TheiaCon Program Committee work

---
### Unplanned/Bloc

[2021-09-30 06:20] #20446 closed

[2021-09-30 07:09] vzhukovs commented on #19669
Issue doesn't reproduce anymore. Checked on the workspaces.openshift.com with the following devfile:
[code]

[2021-09-30 07:09] #19669 closed

[2021-09-30 07:44] azatsarynnyy commented on #19596
The last issue (clipboard-related) from this epic has been fixed upstream. So, everything is done.
The next steps will be tracked in separate issues.

[2021-09-30 07:44] #19596 closed

[2021-09-30 14:04] #20526 closed

[2021-09-30 14:31] svor opened #20558 "[DevWorkspace] Workspace doesn't contain plugins if it's created with Custom Devfile flow"
### Describe the bug

Workspace doesn't load plugins described in `.vscode/extensions.json` file if it was created from the devfile template.

### Che version

7.37@latest

### Steps to reproduce

1. Deploy Che with DevWorkspace
2. Go to the dashboard Create Workspace -> Custom Workspace
3. Select Java Spring Boot template and create a workspace
4. Workspace doesn't contain `redhat.java` plugin de

[2021-09-30 14:47] #20430 closed

[2021-09-30 14:48] svor opened #20559 "[DevWorkspace] Preferences from the plugin are not applied for the workspace"
### Describe the bug

Some plugins can provide preferences like vscode-java: https://github.com/eclipse-che/che-plugin-registry/blob/main/che-theia-plugins.yaml#L256.
In the dasboard we can see that the preferences was recognized:

[DevWorkspace] Preferences from the plugin are not applied for the workspace

components:
  - attributes:
      app.kubernetes.io/name: tools
      che-theia.eclipse.or

[2021-09-30 15:06] svor opened #20560 "Dashboard Custom Workspace page has different styles of the components"
### Describe the bug

Dashboard Custom Workspace page we see 4 attributes: Namspace, Worksapce Name, Storage Type and Devfile. The style of Devfile should be fixed to make it similar to others.

### Che version

7.37@latest

### Steps to reproduce

Go to the Custom Workspace page in the dashboard

### Expected behavior

All fields should have the same style

### Runtime

minikube

### Screenshots

[2021-09-30 15:17] svor opened #20561 "Devfile field in Dashboard Custom Workspace page should be validated"
### Describe the bug

Dashboard Custom Workspace page view has a field where we can specify a devfile and the title of this field contains star, which means that the field must be set. But even if all fields are empty Create & Open button is active.

### Che version

7.37@latest

### Steps to reproduce

1. Go to the Custom Workspace page in the dashboard
2. Delete default devfile
3. See that Creat

[2021-09-30 19:37] edmundreinhardt commented on #20556
We are very much interested in a resolution to this issue as it is a blocker for us.  It is interesting that this used to work with an older version of Theia but not in the one that comes with the latest CodeReady Workpaces 2.10
@william-xiang Can you give the exact levels of Theia where it used to work?
This appears to be a regression.

[2021-09-30 21:53] william-xiang commented on #20556
The Theia version is 1.14. The same sample extension works in CodeReady Workspaces 2.7 with Che-Theia 7.24.2.

[2021-10-01 06:21] #20304 closed

[2021-10-01 07:12] mmorhun opened #20563 "Limit search namespace for backup / restore to the installation namespace"
### Describe the bug

When Che Operator backups data, it searches for CRs in all namespaces. This should be limited to the namespace of the installation, because if several instances of Che installed omn the same cluster it will fail.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse Che in a namespace
2. Deploy another instance of Eclipse Che in another names

[2021-10-01 07:22] mmorhun commented on #20563
Fixed

[2021-10-01 07:22] #20563 closed

[2021-10-01 07:27] mmorhun opened #20564 "Take into account only CA certs from the same as Che installation namespace"
### Describe the bug

Now Che Operator takes all additional CA certificates marked with corresponding label. However, the scope should be limited to the installation namespace only.

### Che version

next (development version)

### Steps to reproduce

Deploy several Che instances in the same cluster

### Expected behavior

Scope is limited to the installation namespace

### Runtime

Kubernetes (va

[2021-10-01 07:32] akurinnoy commented on #19310
This issue can be closed then. If it still makes sense we need to consider another approach how to help users and prevent losing something unsaved while they do authentication.

[2021-10-01 07:41] Ohrimenko1988 opened #20565 "Get rid of confusing message in the DriverHelper.waitAndClick function"
### Is your task related to a problem? Please describe

In the error log we see that elemnt test try to interact is not clickable
[code]

But in the HTML dump, we can see that element is not present on the page.
![Screenshot from 2021-10-01 10-36-51](https://user-images.githubusercontent.com/22724619/135583234-2ddcc580-ae79-4c29-a1c5-163948d4fa74.png)

### Describe the solution you'd like

Delete

[2021-10-01 09:27] nupurnegi opened #20566 "Programmatically get the preview URL generated after starting an app"
### Summary

As soon as we start an app in eclipse che, a URL is generated which opens up in the preview tab. Is there a way to programmatically get/find that URL. Or is there an environment variable where it is stored.

Below is a React app running on localhost:3000 and preview tab is opening it up via another URL. I want to get that URL programmatically.
<img width="1208" alt="Che-theia" src="ht

[2021-10-01 09:52] sleshchenko opened #20567 "Native auth breaks displaying of Console Link since icon is now behind authentication"
### Describe the bug

Native auth breaks displaying of Console Link since icon is now behind authentication

### Che version

next (development version)

### Steps to reproduce

1. Deploy Che with DevWorkspace enabled on OpenShift.
2. Check Che console link on OpenShift Console, it does not have icon diplayed
note: after you login against Che, icon will appear

### Expected behavior

Icon is alway

[2021-10-01 12:04] #20300 closed

[2021-10-01 12:26] ScrewTSW opened #20568 "Fix QuickOpenContainers runTask method"
### Describe the bug

Currently, the locator is incorrect.

Supposedly there may be multiple different DOM formats for QuickOpenContainer
Find a solution that encompasses all possibilities.

### Che version

next (development version)

### Steps to reproduce

run any test that uses QuickOpenDialog.runTask

### Expected behavior

happy-path will pass

### Runtime

OpenShift

### Screenshots

N/A

#

[2021-10-01 12:56] azatsarynnyy opened #20569 "Add `/projects` subfolders to VS Code explorer when opening the workspace"
### Is your task related to a problem? Please describe

Currently, when I start my workspace with Che-Code as an editor, there's no folder opened. I need to open `/projects` manually to open my imported project sources.

![image](https://user-images.githubusercontent.com/1636395/135623295-294394b3-5bb4-4e18-ae92-c91d90df5f6f.png)

### Describe the solution you'd like

Need to investigate how to co

[2021-10-01 13:31] #20023 closed

[2021-10-01 14:27] dmytro-ndp commented on #19880
It has been reproduced in Eclipse Che next:
https://main-jenkins-csb-crwqe.apps.ocp4.prod.psi.redhat.com/job/Che/job/e2e/job/minikube/job/pr-check/job/che-tests-pr-check/194/artifact/che/tests/e2e/report
![screenshot-Run_debug](https://user-images.githubusercontent.com/1197777/135636744-9081610b-aaae-4149-a06f-d57a85f7070b.png)
g

[2021-10-01 15:07] sleshchenko commented on #20558
That's expected behaviour, which we probably should better expose.

[2021-10-01 15:13] sleshchenko commented on #20559
@svor there is not plugin broker in DevWorkspace flow. I assume it's Theia who should read attributes and configure itself/plugins but I'm not sure. Adding info need and let @benoitf @svor @azatsarynnyy decide who is supposed to handle that in DevWorkspace world

[2021-10-01 15:43] sleshchenko commented on #20566
I don't think there is a way to get that Theia port forward URL, but you should be able to define endpoint with the corresponding port on your container component with devfile and then get the URL with help of Che Server API. You can play with it with swagger. Note token is needed and it should be available as MACHINE_TOKEN as var.
Swagger is at `CHE_HOST/swagger/#!/workspace/getByKey`
key is name

[2021-10-01 15:43] #20566 closed

[2021-10-01 17:01] l0rd opened #20571 "Verify compatibility of odo v2 and Che with devfile v2 support"
### Is your task related to a problem? Please describe

Che uses v1 of the devfile spec. The openshift tooling include odo v2. As a result, in a workspace that includes a devfile v1, the comand `odo push` fails. See https://issues.redhat.com/browse/CRW-1429

### Describe the solution you'd like

We should verify that, if the devworkspace is enabled, the scenario described in https://issues.redhat.

[2021-10-01 17:24] #20547 closed

[2021-10-02 09:19] mtsmfm opened #20572 "Failed to request factory resolver: There is an error happened when communicate with SCM server. Error message: Unexpected status code 401"
### Describe the bug

After revoking OAuth, we can't create workspace for private repo with Import from Git because Che uses old (invalid) token.

### Che version

7.36

### Steps to reproduce

1. Install Che
2. Setup GitHub OAuth
3. Input private repo URL on Import from Git form
4. Click Create & Open
5. Revoke OAuth
![スクリーンショット 2021-10-02 181313](https://user-images.githubusercontent.com/1796864

[2021-10-02 10:45] mtsmfm commented on #14872
@l0rd @skabashnyuk Can I re-create issue for this problem or is there any way to do so?

I don't think we can use `preferences` with `type: cheEditor` though.

![image](https://user-images.githubusercontent.com/1796864/135712944-10a3b8da-4d3b-4666-9bd7-41cc887290ed.png)

[2021-10-02 12:54] l0rd commented on #14872
cc @svor

[2021-10-03 21:42] l0rd commented on #16685
@svor I would like to close this epic and open a different one dedicated to the last subtask "Evaluate target namespace ResourceQuota and LimitRange to evaluate and applyg the best mem/cpu requests and limits" with a label `roadmap/6-months`. What do you think?

[2021-10-04 05:51] gnoejuan commented on #20440
Eventually I did. Doesn't make sense to me. But here's the git diff

[code]

[2021-10-04 06:00] tolusha commented on #20440
@gnoejuan
Did you set `cheHost: https://charlesrod.me` in the CR previously ?

[2021-10-04 06:12] gnoejuan commented on #20440
correct. Which, at this point, I realize means che-eclipse-che.charlesrod.me was indeed not found.

[2021-10-04 07:07] benoitf commented on #20559
It's in Theia yes

[2021-10-04 07:08] vinokurig commented on #18664
/remove-lifecycle stale

[2021-10-04 07:59] tolusha opened #20573 "Allow to disable automatic backup"
### Is your task related to a problem? Please describe

It is useful to disable automatic backup.

### Describe the solution you'd like

Add configuration to disable automatic backup.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-04 08:51] l0rd commented on #20345
Removed from `DevWorkspace Integration - STEP3` milestone

[2021-10-04 09:46] svor commented on #14872
The problem is still present, I think this one should be reopened
cc @skabashnyuk

[2021-10-04 09:54] skabashnyuk commented on #14872
@l0rd would you like to extend/adjust/fix devfile v1 schema?

[2021-10-04 10:03] svor commented on #16685
@l0rd sounds good to me, that was the plan:

[2021-10-04 10:26] l0rd commented on #14872
@skabashnyuk no. We are on maintainance-mode on v1. No new features, only bug fixes.

@svor @benoitf that has already brought up but how can we specify the preferences of a vs code extension or of che-theia with the devworkspace engine. For example, if we need to specificy the preferences of a vscode extension (like some build flags), can I do that in the che-theia-plugins.yaml file?

@mtsmfm can

[2021-10-04 10:46] svor commented on #14872
It is possible to add preference via vscode extension which is described in che-theia-plugins.yaml, for example: https://github.com/eclipse-che/che-plugin-registry/blob/main/che-theia-plugins.yaml#L256.
But for now it doesn't work in devWorkspace, here is the issue: https://github.com/eclipse/che/issues/20559.

[2021-10-04 11:32] l0rd commented on #14872
Thanks @svor that's what I was looking for. I have included that issue in milestone DW STEP3. What about Che-Theia preferences (although I don't think that's important to have)?

I am closing this issue since we won't support defining extensions preferences in a devfile v1. We will allow it for devfile v2 when issue #20559 is fixed.

[2021-10-04 11:32] #14872 closed

[2021-10-04 11:51] mtsmfm commented on #14872
@l0rd

I'd like to set "editor.tabSize" and "editor.formatOnSave" via devfile.

- editor.formatOnSave
  - To be honest I think it should be true by default though, I don't want to guide to set this attr for all developers who use my devfile
- editor.tabSize
  - In most case I set this value to 2. Perhaps auto tab detection is broken

[2021-10-04 11:57] l0rd commented on #20521
If https://github.com/eclipse/che/issues/20523 implementation is simple I would rather close this one.

[2021-10-04 12:19] kollachaitanyakrishna opened #20574 "Unable to debug and test the sample telemetry plugin"
### Summary

I followed the sample mentioned and created the sample, https://www.eclipse.org/che/docs/che-7/extensions/creating-a-telemetry-plugin/.

My sample Code: https://github.com/kollachaitanyakrishna/che-telemetry-pluginsample
Step1: Clone the code
step 2: update the events url "AnalyticsManager.Java" at line 53 to replace <DeployedServer> to an api
Step 3: Build with "mvn quarkus:dev --Dsk

[2021-10-04 12:51] #17433 closed

[2021-10-04 12:52] #20164 closed

[2021-10-04 12:57] l0rd commented on #18667
With the transition to DevWorkspace Operator we are not showing editors plugins in the dashboard anymore. Those need to be managed from the editor itself. Closing this issue.

[2021-10-04 12:57] #18667 closed

[2021-10-04 13:15] #19815 closed

[2021-10-04 13:25] tsmaeder commented on #20498
This problem arises from the code in  containers-service.ts#41:

[code]

The code tries to match the the name fields from "componentStatus" and "devfile.components". However, the names don't match for plugins: For example if I assign the alias "jsdebug" to the a plugin, the name on componentStatus.name is something like 'jsdebugxyz', while `devfile.components[i].name` is 'jsdebug'.

I belive the c

[2021-10-04 14:40] sleshchenko opened #20576 "che operator is not restarted after DevWorkspace is enabled"
### Is your task related to a problem? Please describe

che operator is not restarted after DevWorkspace is enabled.
Introduced by https://github.com/eclipse-che/che-operator/pull/1085

### Describe the solution you'd like

it should be restarted

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-04 14:52] sleshchenko opened #20577 "devWorkspaces does not work on the latest 1.23 minikube"
### Describe the bug

devWorkspaces does not work on the latest 1.23 minikube

### Che version

next (development version)

### Steps to reproduce

1. Deploy Che with DevWorkspace enabled on minikube
2. Try to start devworkspace.
3. Startup hangs on `Preparing services`
Che Operator logs have a lot of:
[code]
it's caused by a fact how DWO sync services and the latest minikube has a new field with

[2021-10-04 15:07] dmytro-ndp opened #20578 "Build quay.io/eclipse/che-e2e on top of selenium/standalone-chrome:94.0"
### Is your task related to a problem? Please describe

There is outdated version of selenium/standalone-chrome:89.0 used to run E2E tests.

### Describe the solution you'd like

Build quay.io/eclipse/che-e2e on top of selenium/standalone-chrome:94.0.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-04 15:13] nickboldt commented on #20516
[code]

Missed a couple.

[2021-10-04 15:40] gorshkov-leonid commented on #20495
@sleshchenko thank you

It would be great!

Actually, the link is not shared in general meaning. To be exact, an external system retrieves and shows this link navigating to cloud IDE.  This system uses the same token from keycloak as Che.

[2021-10-04 16:09] sleshchenko opened #20580 "Dashboard should better report that DevWorkspace CRD is not installed"
### Describe the bug

When DevWorkspace CRD is not available due some reason (potentially bug on Che Operator) but DevWorkspaces are enabled, dashboard reports unclear issue.

### Che version

next (development version)

### Steps to reproduce

1. Install Che with DevWorkspace enabled on minikube
2. Drop devworkspace CRD
3. Refresh Che Dashboard. Check that error from screenshot is reported

### E

[2021-10-04 17:10] nickboldt opened #20581 "[Cross-Project Epic] Update GH actions and workflows to use latest ubuntu LTS release 22.04"
### Is your task related to a problem? Please describe

In April 2022, a new 22.04 LTS will likely be out, at which point we should update jobs to use the latest LTS release instead pf 20.04.

### Describe the solution you'd like

In April 2022, a new 22.04 LTS will likely be out, at which point we should update jobs to use the latest LTS release instead pf 20.04.

### Describe alternatives you've

[2021-10-04 17:11] nickboldt commented on #20516
Followup work for April 2022: https://github.com/eclipse/che/issues/20581

[2021-10-04 17:22] #20578 closed

[2021-10-04 18:13] svor commented on #20574
@ibuziuk could you take a look please

[2021-10-04 21:32] kcrane commented on #20398
sync'd to redhat jira #CRW-2335

[2021-10-04 21:35] metlos opened #20582 "Document the setup needed for syncing Che settings to devworkspace namespaces"
### Is your enhancement related to a problem? Please describe

We're recently introduced the ability to sync certain options from `CheCluster` CR to user namespaces in a way consumable by devworkspaces (https://github.com/eclipse-che/che-operator/pull/1027).

This is currently not documented.

### Describe the solution you'd like

Document the way a namespace is labeled as containing devworkspaces

[2021-10-05 04:29] amoldeshpande05 commented on #20241
@vitaliy-guliy
Like you said, I am using buildah plugin.
When I run buildah command. I am getting permission denied.

`buildah from docker.io/alpine
WARN[0000] The cgroups manager is set to systemd but there is no systemd user session available
WARN[0000] For using systemd, you may need to login using an user session
WARN[0000] Alternatively, you can enable lingering with: `loginctl enable-linger

[2021-10-05 06:38] skabashnyuk commented on #20582
@metlos from your pov, is this admin or user guide or something else?

[2021-10-05 06:41] metlos commented on #20582
This would IMHO fit in an admin guide because users usually don't have the ability to label namespaces.

[2021-10-05 07:33] svor commented on #20498
does it make sense to have a field `alias` into `componentStatus` to have a connection?
@tsmaeder @skabashnyuk  WDYT?

[2021-10-05 07:36] sleshchenko commented on #20576
Fixed by https://github.com/eclipse-che/che-operator/pull/1120

[2021-10-05 07:36] #20576 closed

[2021-10-05 08:32] l0rd opened #20583 "Git zero config with OAuth flow"
### Is your enhancement related to a problem? Please describe

When deploying Che there is no hint, prompt, warning that without GitHub, Gitlab or Bitbucket integration users won't be able to connect their accounts.

When logging in there is no option to link/unlink the current user with GitHub, Gitlab or Bitbucket.

When starting a workspace there is no warning that git UX will be deteriorated if

[2021-10-05 08:45] l0rd commented on #20345
Removed the kind/epic label as that's a subtask of the epic [Production-ready support of VS Code as a Che editor #20500](https://github.com/eclipse/che/issues/20500)

[2021-10-05 09:10] #16685 closed

[2021-10-05 10:51] svor commented on #20536
To start java debug need to have vscode-java in standard mode, it should be activate automatically by this preference in plugin's [meta.yaml](https://github.com/eclipse-che/che-plugin-registry/blob/main/che-theia-plugins.yaml#L417):
`java.server.launchMode: Standard`
 currently we have a problem with it: [Preferences from the plugin are not applied for the workspace](https://github.com/eclipse/che

[2021-10-05 10:52] svor commented on #20536
blocked by https://github.com/eclipse/che/issues/20559

[2021-10-05 11:15] skabashnyuk commented on #20498
@svor are we talking about devfile 2.x?

[2021-10-05 12:13] svor commented on #20498
we have a customer request for this: https://issues.redhat.com/browse/CRW-2052

[2021-10-05 12:14] svor commented on #20498
@tsmaeder could you please clarify a bit why it works for dev component and doesn't work for plugin component.

[2021-10-05 12:57] tsmaeder commented on #20498
Because for non-plugin components, the name is the same in both the both instances: for example, it's "mvn" not "mvnxyz".

[2021-10-05 13:16] skabashnyuk commented on #20498
That is how runtime of such a workspace is looks like
[code]
Can you explain what is missing? I can't see `componentStatus` here.

[2021-10-05 13:16] tolusha opened #20585 "Sanitize che-operator and chectl PR checks"
### Is your task related to a problem? Please describe

`che-operator` is being tested on a lot of platforms and configuration.
We have to reduce the number of those tests in order to support the best configuration we are going to deliver.

### Describe the solution you'd like

Reduce the number of PR checks to test the best configuration we are going to deliver.

Platforms:
- OpenShift v4.8
- Ope

[2021-10-05 14:01] sleshchenko commented on #20129
the core is in place we can close it and make needed improvements separately.

[2021-10-05 14:01] #20129 closed

[2021-10-05 14:45] planger commented on #20351
Hi @l0rd, thanks for asking! I'll chime in.

We use Che as a _workspace manager for custom Theia applications_ -- typically on-premise. Usually there is a _custom dashboard or portal_ allowing users to start, stop, create, delete and open workspaces via the Che REST API. Such applications typically also involve accessing proprietary services (build servers, artifact stores, repositories, REST APIs

[2021-10-05 14:50] vitaliy-guliy commented on #20241
We haven't yet investigated it in dept.

[2021-10-05 15:19] AndrienkoAleksandr opened #20586 "kubernetes-image-puller doesn't have license."
### Describe the bug

kubernetes-image-puller doesn't have license https://github.com/che-incubator/kubernetes-image-puller-operator. In the root of the project we didn't defined any license. README.md also doesn't have any information about that.

### Che version

next (development version)

### Steps to reproduce

1. Open source code https://github.com/che-incubator/kubernetes-image-puller-opera

[2021-10-05 15:29] AndrienkoAleksandr opened #20587 "Move kubernetes-image-puller from incubator to eclipse-che org"
### Is your enhancement related to a problem? Please describe

It would be nice to move https://github.com/che-incubator/kubernetes-image-puller-operator from che-incubator org to eclipse-che

### Describe the solution you'd like

None

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-05 15:40] benoitf opened #20588 "Dashboard library should only delegate some logic to che-theia editor"
### Is your enhancement related to a problem? Please describe

Today, dashboard for devworkspaces is relying on che-theia library but it's still doing some analysis on its own.
All that stuff should be done by che-theia library

### Describe the solution you'd like

Cleanup the dashboard code by only performing a call to the library

### Describe alternatives you've considered

N/A

### Additional

[2021-10-05 16:13] kollachaitanyakrishna opened #20589 "Unable to execute 'checluster' related commands"
### Describe the bug

Unable execute any commands related to "checluster"

### Che version

7.36

### Steps to reproduce

Followed this to create in local, MAC
chectl server:deploy --platform=docker-desktop --installer=helm
https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-docker-desktop/

![image](https://user-images.githubusercontent.com/64516009/136061505-e44c4f63-a97b

[2021-10-05 16:23] kollachaitanyakrishna commented on #20589
[eclipse-che.zip](https://github.com/eclipse/che/files/7287505/eclipse-che.zip)
Adding the logs

[2021-10-05 17:09] l0rd opened #20590 "Starting a DevWorkspace get stuck preparing networking"
### Describe the bug

![image](https://user-images.githubusercontent.com/606959/136062624-700b9ef8-034d-43a1-9b5f-4345263c6a7c.png)

The DevWorkspace is created, the pod is not. The DevWorkspace get stuck Starting for a few minutes:

[code]

At some point the DevWorkspace gets deleted but the Dashboard continue "Waiting..."

### Che version

next (development version)

### Steps to reproduce

1. D

[2021-10-05 20:43] devstudio-release commented on #20398
sync'd to redhat jira #CRW-2344

[2021-10-05 22:40] l0rd opened #20591 "Production-ready support of JetBrains IDEs as a Che editor"
### Is your enhancement related to a problem? Please describe

This is a follow up of [Introduce a Projector-based IDEA Che editor](https://github.com/eclipse/che/issues/19596) and similarly to the [VS Code epic ](https://github.com/eclipse/che/issues/20500) the goal is to support JetBrains IDE at the same level as Che-Theia is supported.

### Describe the solution you'd like

- [x] https://github

[2021-10-06 00:45] l0rd opened #20592 "Avoid re-downloading the same extension again and again"
### Is your enhancement related to a problem? Please describe

Che-Theia based workspaces download the same vsix files **at every restart**. That is a waste of time and bandwidth.

Che-Theia doesn't automatically update the extensions included in a workspace when new versions are available.

### Describe the solution you'd like

- [ ] If the workspace configuration doesn't change, the extensions s

[2021-10-06 05:27] sparkoo commented on #20589
`CheCluster` is CR of che-operator. You're installing with helm, in that case operator is not deployed. You have to use `--installer=operator`.

[2021-10-06 06:41] tolusha commented on #20496
1.

GitHub configuration secret:
[code]

Mount env to che-server deployment:
* `CHE_OAUTH2_GITHUB_CLIENTID__FILEPATH` with content of `id` key to location `/che-conf/oauth/github/client-id`
* `CHE_OAUTH2_GITHUB_CLIENTSECRET__FILEPATH` with content of `secret` key to location `/che-conf/oauth/github/client-secret`

[2021-10-06 07:10] vinokurig commented on #20229
It works for me:
![screenshot-codeready-codeready-workspaces-operator apps sandbox-m2 ll9k p1 openshiftapps com-2021 10 06-09_48_54](https://user-images.githubusercontent.com/7668752/136153922-29b0843b-8460-4df9-b019-653a3e835c47.png)

@ibuziuk Looks like your browser blocks the authentication popup. If so you should allow showing the popup and restart the workspace. You should see a notification

[2021-10-06 07:25] sparkoo opened #20593 "Devfile endpoints does not work when exposed on single-host"
### Describe the bug

[code]

che-workspace endpoints does not work with CheCluster patch ^. Sometimes user can't get into the workspace.

### Analysis
In single-host, by default we expose devfile endpoints on subdomain by adding requireSubdomain attribute to the endpoint: https://github.com/eclipse-che/che-server/blob/main/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrast

[2021-10-06 08:10] tolusha commented on #20589
@kollachaitanyakrishna
If you are referencing this doc [1] then just update che configmap:
`CHE_WORKSPACE_DEVFILE_DEFAULT__EDITOR_PLUGINS`: 'http://apache-che.apps-crc.testing/meta.yaml'

[1] https://www.eclipse.org/che/docs/che-7/extensions/creating-a-telemetry-plugin/#_updating_che_to_reference_your_telemetry_plug_in

[2021-10-06 08:51] tsmaeder commented on #20498
@skabashnyuk maybe @benoitf can shed some light on the mapping of the che server web API and the API here: https://github.com/eclipse-che/che-theia/blob/8e61ae25ca90bdab2bba99a40fe48b6fa97c62ef/extensions/eclipse-che-theia-remote-api/src/common/devfile-service.ts#L15 I'm not familiar with that area of the code, t.b.h.

However, the problem remains how to map `vscode-pythons8l` in your example to t

[2021-10-06 09:01] vzhukovs opened #20594 "Devfile v2 support for jetbrains-editor-images"
### Is your task related to a problem? Please describe

There is a need to create meta configuration for existed JetBrains-based editors which will be suitable for using in DevWorkspace mode.

### Describe the solution you'd like

Create another branch like: https://github.com/che-incubator/jetbrains-editor-images/tree/meta which will contains meta.yaml for editors in devfile v2 format.

### Descr

[2021-10-06 09:20] benoitf commented on #20498
hello, maybe the missing important piece of the discussion is that devfileV1 is converted to devfile v2 syntax and then we consume always devfile v2 objects on plug-ins/extensions in CheTheia

This might explain why people argue it's devfile v1 and other devfile v2

As a bug is reported on a devfile v1 then it's probably a bug in the converter.
for 'custom case' where we can't port directly devfil

[2021-10-06 09:50] mmorhun commented on #20564
Fixed

[2021-10-06 09:50] #20564 closed

[2021-10-06 09:52] aishwaryapradeep01 opened #20595 "Preview Notification setting via devfile"
### Summary

Hi,

I am trying to turn off the preview notifications that need a user's confirmation before the web app opens up in the preview. (Aiming to get the app to open straight away in the preview)

While there is a setting that can be done via the 'Settings -> Preferences' in the menu, is there a way that I could change this setting in the devfile instead, so that any workspace that uses t

[2021-10-06 09:56] #20577 closed

[2021-10-06 10:01] kollachaitanyakrishna commented on #20589
@tolusha : can you share me the steps to be followed to update the "che" configmap.
Available namespaces are
admin-che              Active   25d
cert-manager           Active   40d
che-che                Active   39d
default                Active   40d
eclipse-che            Active   40d
ingress-nginx          Active   40d
kube-node-lease        Active   40d
kube-public            Active   40d
kub

[2021-10-06 10:20] tolusha commented on #20300
We run our PR checks on minishift, so I assume it is compatible.

[2021-10-06 10:28] l0rd opened #20596 "Support overriding Che Theia plugins preferences and sidecar through .che/che-theia-plugins.yaml"
### Is your enhancement related to a problem? Please describe

There is [an issue](https://github.com/eclipse/che/issues/20559) to apply vs code extension preferences specified in the plugin registry (for che-theia plugins).

This issue is about overriding vs code extensions preferences using the file `.che/che-theia-plugin.yaml` in the git repository.

### Describe the solution you'd like

If the

[2021-10-06 12:22] svor commented on #20498
this bug is only about devfile v1

[2021-10-06 12:54] benoitf opened #20597 "devworkspace routing"
### Is your enhancement related to a problem? Please describe

Today, if I specify a `main` endpoint in the devfile (like the editor) and this endpoint is listening on the `8080` port
at the end my route to this main endpoint is
https://che-eclipse-che.apps.my-cluster.com/workspace<tons-of-digits>/<endpoint-name>/8080

### Describe the solution you'd like

I would like to have the endpoint directl

[2021-10-06 13:09] benoitf opened #20598 "Make route for the workspaces more user friendly"
### Is your enhancement related to a problem? Please describe

Today I've routing to my workspaces that is using the following pattern:

`https://che-eclipse-che.apps.my-cluster.com/workspace<tons-of-digits>/<endpoint-name>/<endpoint-port>`

### Describe the solution you'd like

I would rather have pattern

`https://che-eclipse-che.apps.my-cluster.com/<username>/<workspace-name>/<endpoint-port>` (

[2021-10-06 13:17] benoitf opened #20599 "Error 503 after a workspace is idled for inactivity"
### Is your enhancement related to a problem? Please describe

Let say I'm accessing an endpoint of a workspace at

`https://che-eclipse-che.apps.my-cluster.com/workspace<tons-of-digits>/<endpoint-name>/8080`

if my workspace is stopped, I will get like a basic 503 error (or another http error)

### Describe the solution you'd like

I would like to have a page allowing to be redirected to the dash

[2021-10-06 14:05] svor commented on #20543
It seems we don't have runtime dependencies in che-plugin-registry and che-devfile-registry components

[2021-10-06 14:20] benoitf opened #20600 "Mount a volume that is bound to the user and not each workspace"
### Is your enhancement related to a problem? Please describe

Today, each workspace has its volumes being 'attached' to a given workspace
so there is no way to have a volume with something already there before starting a workspace

### Describe the solution you'd like

I would like that a volume could be created for a given user in the user namespace and to have this volume that could be mounted

[2021-10-06 14:36] #19799 closed

[2021-10-06 14:41] benoitf commented on #18748
hoping prod team would have created the BZ ticket, but here it is https://bugs.eclipse.org/bugs/show_bug.cgi?id=576475

[2021-10-06 14:41] #18748 closed

[2021-10-06 15:16] nickboldt commented on #20398
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2349

[2021-10-06 16:35] #20593 closed, assigned to sparkoo

[2021-10-06 17:40] nickboldt commented on #20398
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2353

[2021-10-06 17:42] nickboldt commented on #20398
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2354

[2021-10-06 17:44] nickboldt commented on #20398
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2355

[2021-10-07 09:25] kollachaitanyakrishna commented on #20589
@tolusha : can you provide me the command to update the value.

[2021-10-07 10:37] ibuziuk opened #20602 "Provide SOP for migration of existing eclipse che instancies from the 'stable' to 'next' (all-namespaces) channel"
### Is your task related to a problem? Please describe

a new olm channel in order to deploy Eclipse Che next version using DWO dependency and installMode: AllNamespaces has been created as part of https://github.com/eclipse/che/issues/20455
However, currently, it is not clear how exactly  migrate existing che instances installed from Operatorhub via a `stable` channel to the the `next` one

### D

[2021-10-07 10:39] vitaliy-guliy opened #20603 "[devfile registry]: rework/stabilize release scripts after reworking of sidecars lifecycle"
### Is your task related to a problem? Please describe

https://github.com/eclipse/che/issues/19695 means to change the structure of dockerfiles for sidecar images.

After merging of this pull request https://github.com/eclipse-che/che-devfile-registry/pull/464 it become not possible to make release as we do it at the moment.

### Describe the solution you'd like

What should be improved:
- releas

[2021-10-07 11:10] aishwaryapradeep01 opened #20604 "Simultaneously running 3+ applications"
### Summary

Hi,
I was trying to run 4 different applications (on 4 different ports) simultaneously, but I get this error. Does this mean that I can't run more than 3 applications at a time (3 ports in use)? [Assuming each application uses a single port]

Ports 3101, 3102 and 3103 are running fine, but when I start the 4th app (port), this error pops up

<img width="1703" alt="che-theiaerr" src="h

[2021-10-07 13:18] ibuziuk opened #20605 "devworkspace-che-operator logic should be executed only if `devWorkspace` is enabled on the CR level"
### Describe the bug

Currently, devworkspace-che-operator logic is executed even if the `devWorkspace` engine is disabled on the CR level. Taken into account that under certain load devworkspace-che-operator can be OOMKilled [1] this logic should be executed only when `devWorkspace` is explicitly enabled on the CR level. Otherwise, this could lead to a situation when che operator pod will be cons

[2021-10-07 13:29] ibuziuk opened #20606 "Huge che-gateway RAM consumption (potential memory leak)"
### Describe the bug

Che Gateway RAM consumption on production clusters is 5 and 12 GB

![image](https://user-images.githubusercontent.com/1461122/136393811-3ad798b1-adc5-4aad-b8f4-32d050742e87.png)
![image](https://user-images.githubusercontent.com/1461122/136394074-fd4202e2-c195-4ef6-9dcd-69dff8f05617.png)

`gateway` container consumes more than 6GB of RAM vs only 73 Mb for the `configbump`

##

[2021-10-07 13:48] benoitf opened #20607 "Ability to provide the path to the devfile yaml file when using factory workflow"
### Is your enhancement related to a problem? Please describe

I have a repository having a devfile v1 there.
Then, I want to add devfile v2 in my repository but still have the v1.

I would like to be able to specify the path to my v2 when I'm running in a DevWorkspace instance

### Describe the solution you'd like

I would like to be able to specify like `devfilePath=devfile.v2` at the end of the

[2021-10-07 15:03] benoitf opened #20608 "che-gateway naming"
### Is your enhancement related to a problem? Please describe

Today with devWorkspaces there are two components named `che-gateway`

- One pod running inside the `eclipse-che` namespace called `che-gateway-randomdigits`
- One container running inside every workspace pod where container is called `che-gateway`

I'm finding the naming `che-gateway` confusing inside the workspace pod because there i

[2021-10-07 18:00] nickboldt opened #20609 "Ensure Che release process checks that sidecar images exist"
### Is your task related to a problem? Please describe

In the 7.37.0 release, it was discovered that sidecar imge verification is not being done correctly -- when images are missing, no failure is reported.

So, there's a missing golang sidecar image in 7.37.0.

For 7.37.1, this is apparently fixed.

### Describe the solution you'd like

But we should make sure that tests are run and report pass/

[2021-10-07 18:05] nickboldt opened #20610 "Update sidecars to go 1.17"
### Is your task related to a problem? Please describe

Why do we have golang 1.12 and 1.14 sidecars?

Why not just 1.15 as in downstream ( https://catalog.redhat.com/software/containers/rhel8/go-toolset/5b9c810add19c70b45cbd666 ) ?

Or use latest 1.16 or 1.17?

https://quay.io/repository/eclipse/che-sidecar-go?tag=latest&tab=tags shows that the 1.12 and 1.14 sidecars have critical CVE issues.

ht

[2021-10-07 18:16] nickboldt commented on #20610
It's possible that https://quay.io/repository/eclipse/che-plugin-sidecar?tag=latest&tab=tags has newer builds of go.

I see this in the latest CSVs for che-operator from main branch:
[code]
which align to tag go-ae6cfa4

[code]
So that's good.

But then why do we still list older version in the CSV?

                      - name: RELATED_IMAGE_che_golang_1_14_devfile_registry_image_G4XDGNZOGE_____

[2021-10-07 18:31] nickboldt commented on #19695
Related work: https://github.com/eclipse/che/issues/20610

We have both the OLD golang 1.14 sidecar and the NEW golang 1.16.6 sidecar in the che-operator CSV. Do we need both? Why are we rebuilding/retagging the old 1.14 sidecar every week in http://quay.io/eclipse/che-golang-1.14:7.37.1 when we have the newer one in http://quay.io/eclipse/che-plugin-sidecar:go-ae6cfa4 ?

[2021-10-08 07:24] mshaposhnik opened #20611 "Gitlab factory resolver cannot find devfile if project URL is of type /org/sub-org/foo.git"
### Describe the bug

Gitlab factory resolver cannot find devfile in the repository if project URL is consist of 3 parts like of type /org/sub-org/foo.git

### Che version

7.37@latest

### Steps to reproduce

Create gitlab repo with URL like /org/sub-org/foo.git. Execute factory. Devfile is not found...

### Expected behavior

Devfile is found and applied.

### Runtime

OpenShift

### Screenshots

[2021-10-08 08:02] Schnittchenkraus opened #20612 "fedora/redhat distribution of che-python-3.8"
### Summary

Hello, I would like to inherit from your che-python image to build custom image for Che

    FROM quay.io/eclipse/che-python-3.8:7.36.2
    ...

    RUN yum install make

    ...

We need a fedora distribution because apt-get is not supported in our company (We are using Red Hat Satellite).

Is there such a thing or could you provide it?

Thanks in advance.

### Relevant information

[2021-10-08 11:54] nickboldt commented on #20610
If we agree it's time to move up, then https://github.com/eclipse-che/che-devfile-registry/blob/main/devfiles/go/devfile.yaml#L31 is where to apply PR.

[2021-10-08 11:58] sparkoo commented on #20606
What is the gateway image please?

[2021-10-08 12:31] benitonfdo opened #20613 "Updating certificates in Eclipse che is not picked by the workspace."
### Summary

Hi,

I am trying to update the certificate for my Che Server.

I have deployed it with cheHost & cheHostTLSSecret.
To update I patched the 'che-tls' secret with an updated certificate. as below

TLS_KEY=$(base64 < "./certkey.pem" | tr -d '\n')

TLS_CRT=$(base64 < "./doc.crt" | tr -d '\n')

kubectl patch secret che-tls -n cloud -p "{\"data\":{\"tls.key\":\"${TLS_KEY}\",\"tls.crt\":\"${

[2021-10-08 13:14] sleshchenko commented on #19517
closing since recent workspaces probably will be dropped.

[2021-10-08 13:14] #19517 closed

[2021-10-08 13:55] ibuziuk opened #20614 "As an Admin, I want to have clear instructions for swithing from the 'stable' channel to 'stable-all-namespace' and enabling DevWorkspace"
### Is your task related to a problem? Please describe

As an Admin, I want to have clear instructions for swithing from the 'stable' channel to 'stable-all-namespace'. Just switching a channel will not work, and very likely reinstalling the operator + potential manipulations with subscription are going to be required

![image](https://user-images.githubusercontent.com/1461122/136569060-2b3f1ab0-c

[2021-10-08 15:13] benoitf opened #20615 "slow startup of my devWorkspace on RHPDS instance"
### Describe the bug

Hello,

when using RHPDS instances with OpenShift 4.8 when starting a new workspace based on a same previous definition (so I expect everything is cached)

I've the following traces

(I tweaked the output to make it shorter column wise)
[code]

so image pulling is 0.5s but before I’ve almost 20s of scheduling/PV attach

and if I remove all Volumes/VolumeMount from the same de

[2021-10-08 16:13] l0rd commented on #20595
Oh right. No, that's supposed to be a user setting. Something that you set and that will be persisted even if you restart the workspace or move to another workspace.

Another option, if you want all developers that are using your instance of Che, to share some custom preferences you may customize your plugin registry and patch Che-Theia definition. @azatsarynnyy @svor do you think it's possilble t

[2021-10-08 22:05] l0rd opened #20616 "Che workspaces fail to start with OpenShift Console samples"
### Is your enhancement related to a problem? Please describe

If I try to start a v2 devfile in Che with DevWorkspace disabled it will fail. For example [workspaces.openshift.com/#https://github.com/redhat-developer/devfile-sample.git](https://workspaces.openshift.com/#https://github.com/redhat-developer/devfile-sample.git).

<img width="1269" alt="image" src="https://user-images.githubuserconten

[2021-10-09 06:28] #20605 closed

[2021-10-10 18:41] #20611 closed

[2021-10-11 06:31] benoitf opened #20617 "Slow dashboard factory loading sequence time"
### Is your enhancement related to a problem? Please describe

When using factory workflow, before the 'create workspace' event is sent to the DevWorkspace, a lot of time is spent to do stuff that could be faster:

- lot of stuff is loaded on client side. For example JSON schema for different devfiles, many libraries
- All files of the repository like devfile or editor specific stuff are loaded on

[2021-10-11 08:21] tolusha commented on #20613
stop & start a worspace
che-server must propagate a new certificate into the workspace

[2021-10-11 09:20] AndrienkoAleksandr commented on #20425
I think this task is done.

[2021-10-11 09:20] #20425 closed

[2021-10-11 10:06] aishwaryapradeep01 commented on #20595
@l0rd I agree. I followed the steps mentioned in the doc regarding `che.task.preview.notifications` , but none of the options - `on, alwaysPreview, alwaysGoTo, off` worked

[2021-10-11 10:49] azatsarynnyy commented on #20604
Hello @aishwaryapradeep01
by default, Che-Theia exposes three ports, see https://github.com/eclipse-che/che-plugin-registry/blob/3e17ce407e2ad1b1655e89457118a5bc60655a62/che-editors.yaml#L85-L105

In order to expose more, you need to provide a custom editor meta.yaml file.

[2021-10-11 12:16] sparkoo commented on #20608
it's this constant https://github.com/eclipse-che/che-operator/blob/main/controllers/devworkspace/solver/che_routing.go#L54 used here https://github.com/eclipse-che/che-operator/blob/main/controllers/devworkspace/solver/che_routing.go#L166

[2021-10-11 12:46] svor opened #20619 "Customization of opening preview URL doesn't work"
### Describe the bug

The way of customization the process of opening preview URL via preferences doesn't work.
It seems that `che.task.preview.notifications` preference doesn't change the logic of opening Preview URl.

### Che version

7.37@latest

### Steps to reproduce

Please follow the [documentation instructions ](https://www.eclipse.org/che/docs/che-7/end-user-guide/authoring-devfiles-versi

[2021-10-11 15:03] l0rd opened #20620 "chectl server:deploy on minikube doesn't deploy DW"
### Describe the bug

When I try to deploy Che with using chectl with option `--workspace-engine=dev-workspace` on minikube, DevWorkspace CRD is not created:

[code]

### Che version

next (development version)

### Steps to reproduce

1.  `minikube delete`
1.  `minikube start --memory=8192 --vm=true --cpus=4 --addons=ingress`
2. `chectl update next`
3. `chectl server:deploy --telemetry=on -p mini

[2021-10-11 15:17] sunix opened #20621 "Che-theia is not showing the preview urls that are defined in the devfile."
### Describe the bug

Che-theia is not showing the preview urls that are defined in the devfile.
The command
[code]
is supposed to suggest the user to open the URL when he runs the task.

### Che version

7.37@latest

### Steps to reproduce

1. Start a workspace with the following devfile
[code]
2. Run the command/task `build documentation`

### Expected behavior

When running the task, che-theia

[2021-10-11 17:26] kollachaitanyakrishna commented on #20589
@tolusha : Thanks for your support, the above command worked properly.

[2021-10-11 17:26] #20589 closed

[2021-10-11 17:33] kollachaitanyakrishna commented on #20574
@svor , @ibuziuk : can you help me, I followed all instructions mentioned as per the sample, but I am unable to execute the app, Sharing the sample log of my error.

Pulling image "quay.io/eclipse/che-plugin-metadata-broker:v3.4.0"

Successfully pulled image "quay.io/eclipse/che-plugin-metadata-broker:v3.4.0" in 4.776218054s

Created container che-plugin-metadata-broker-v3-4-0

Started container c

[2021-10-11 21:49] l0rd opened #20622 "Changes to Che-Theia preferences are persisted and loaded at every workspace start using a ConfigMap"
### Is your enhancement related to a problem? Please describe

Che-Theia preferences are not persisted anymore. When I refresh the browser, when I restart a workapce ore when I create a new workspace, the preferences are reset.

### Describe the solution you'd like

Persist preferences after refresh/restart and across all user workspaces.

### Release Notes Text

When Che-Theia user preferences (i

[2021-10-12 05:50] benitonfdo commented on #20613
Hi @tolusha,

I have stopped and started the workspace but still it is the same. This issue occurs in MacOS + Chrome browser.

In Windows and MacOS + FF it is working fine.

And it fails on websocket call.

[2021-10-12 06:46] tolusha commented on #20613
@benitonfdo
Could you check if `che-tls` secret in `eclipse-che` namespace and `workspace<id>-che-tls` secret are the same?
if not, try
1. stop a workspace
2. remove the secret from a workspace namespace
3. start a workspace

[2021-10-12 07:16] #20422 closed

[2021-10-12 07:48] aishwaryapradeep01 commented on #20604
Thank you @azatsarynnyy! :)

[2021-10-12 10:52] ibuziuk commented on #20614
SOP that I tried so far, and which does not work as expected (details below):

- install 'eclipse-che' using the stable channel
- create CR with a single-host and OpenShift Auth enabled
- create an account (using 'developer' OpenShift account on the crc for example) with a couple of workspaces and start one of them
- wait until workspace is running, run build / run command
- start preparations for

[2021-10-12 11:38] MichalMaler commented on #19941
Related Jira: https://issues.redhat.com/browse/RHDEVDOCS-3373

[2021-10-12 12:13] sleshchenko opened #20626 "Che + DevWorkspace happy path is not stable"
### Describe the bug

Che + DevWorkspace happy path is not stable

### Che version

next (development version)

### Steps to reproduce

Check failure on DevWorkspace operator https://github.com/devfile/devworkspace-operator/pull/642
![Screenshot_20211011_143947](https://user-images.githubusercontent.com/5887312/136953763-5dbd49dc-14ee-430f-b207-e82aafd1db6f.png)
![Screenshot_20211011_143959](https

[2021-10-12 12:43] #17015 closed

[2021-10-12 12:46] benoitf commented on #20500
cc @sleshchenko if you can include in your next sprint
https://github.com/devfile/devworkspace-operator/issues/628
https://github.com/devfile/devworkspace-operator/issues/629

as it's blocking introduction of this editor in the plug-in registry.

[2021-10-12 12:48] #20604 closed, assigned to nobody

[2021-10-12 14:12] l0rd opened #20627 "A user should be able to select an alternative editor from the dashboard"
### Is your enhancement related to a problem? Please describe

When a user select a quick start (sample or URL) he cannot choose the editor that will be used in the workspace.

### Describe the solution you'd like

Having an editor dropdown list in the dashboar Getting Started page to select the specific editor. cc @beaumorley

### Describe alternatives you've considered

_No response_

### Additi

[2021-10-12 15:00] l0rd opened #20628 "Command server:deploy fails because more than one checluster Custom Resource found"
### Describe the bug

On a fresh cluster, just created, the following command fails:

[code]

In the Che operator logs I have found:

[code]

But

[code]

### Che version

next (development version)

### Steps to reproduce

1. Provision an OpenShift 4.8 cluster
2. Deploy Che using the command above

### Environment

Amazon

### chectl logs

[code]

### Che operator logs

[code]

[2021-10-12 15:04] l0rd commented on #20628
cc @tolusha

[2021-10-12 15:16] ibuziuk opened #20629 "New account is created after switching an existing Eclipse Che instance from 'stable' -> 'tech-preview-stable-all-namespace' channel, and enabling DevWorkspace engine"
### Describe the bug

New account is created after switching an existing Eclipse Che instance from 'stable' -> 'tech-preview-stable-all-namespace' channel, and enabling DevWorkspace engine

### Che version

7.37@latest

### Steps to reproduce

- install 'eclipse-che' using the stable channel
- create CR with a single-host and OpenShift Auth enabled
- create an account (using 'developer' OpenShift

[2021-10-12 15:18] kollachaitanyakrishna opened #20630 "Telemetry sample plugin is not working"
Followed all the instructions mentioned in the telemetry doc but unable to test or validate.

https://github.com/eclipse/che/issues/20574

[2021-10-12 15:23] ibuziuk opened #20631 "When admin switches the engine to DevWorskpace all che-server based workspaces should be stopped"
### Describe the bug

- install 'eclipse-che' using the stable channel
- create CR with a single-host and OpenShift Auth enabled
- create an account (using 'developer' OpenShift account on the crc for example) with a couple of workspaces and start one of them
- wait until workspace is running, run build / run command
- update the CR from the `eclipse-che` namespace and enable devWorkspace
[code]
-

[2021-10-12 21:23] #19404 closed

[2021-10-13 06:54] sparkoo opened #20633 "[che-auth] che-server support for native auth on kubernetes"
### Is your task related to a problem? Please describe

Devworkspaces with native authentication is now available on OpenShift. We need to make ti real on Kubernetes as well. With chectl it is already possible to deploy minikube with Dex https://github.com/eclipse/che/issues/19366.

### Describe the solution you'd like

Prepare che-server parts for native authentication:
 - Currently, che-server f

[2021-10-13 07:04] sparkoo opened #20635 "[che-auth] deploy with native authentication on Kubernetes"
### Is your task related to a problem? Please describe

After che-server is ready for native auth on Kubernetes (https://github.com/eclipse/che/issues/20633), we need to deploy and configure all needed bits.

### Describe the solution you'd like

All this applies to Kubernetes only (everything should be already in place for Openshift):
 - Set all needed properties for che-server
 - Don't deploy Ke

[2021-10-13 07:12] sparkoo commented on #20362
task splitted into https://github.com/eclipse/che/issues/20633 and https://github.com/eclipse/che/issues/20635. Closing this one to keep structure flat.

[2021-10-13 07:12] #20362 closed

[2021-10-13 09:40] #20628 closed

[2021-10-13 09:50] vitaliy-guliy opened #20638 "Allow to install plugins to Devfile V2 workspaces by using Che-Theia Plugins view"
### Is your task related to a problem? Please describe

The existing functionality that installing a plugin adds a component to the devfile
[code]
It works only for devfile V1 workspaces, but does not work for Devfile V2 as it's completely different.

To add vscode extension to devfile V2 workspace it needs to add the extension ID to `.vscode/extensions.json` as in the example
https://github.com/c

[2021-10-13 10:04] l0rd commented on #20622
Related to https://github.com/eclipse-che/che-server/pull/117

[2021-10-13 10:14] sleshchenko commented on #20616
well, I think the right solution here would be Florent's proposal, where we scan the repo and respect devfile.yaml, devfilev1.yaml depending on Che mode.
Applying empty devfile does not solve the issue in the flow but makes it less visible. In the end user's won't get IDE that will work well for their project.

I do not really agree with that.
If we take a deeper look on the cause: it's the issue

[2021-10-13 11:20] SkorikSergey opened #20639 "Update typescript tests according to author trust confirmation adding"
### Is your task related to a problem? Please describe

Update tests according to author trust confirmation adding

 Tests for update:
- all factories tests
- GitPublishBranch
- GitSelfSignCert

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-13 13:19] mmorhun commented on #20337
Fixed starting with init containers. However, the feature is disabled by default. See the PR on how to enable init containers.
Special thanks for @guydog28

[2021-10-13 14:59] #20603 closed, assigned to vitaliy-guliy

[2021-10-14 11:42] kollachaitanyakrishna commented on #20630
@xbaran4 @ibuziuk , it's the same bug. Since it is related to the documentation I thought of adding it here also. May I know the next sprint start and end dates.

[2021-10-14 18:18] olexii4 opened #20641 "[UD] Unauthorized errors after 20 minutes of inactivity"
### Describe the bug

We have unauthorized errors after 20 minutes of inactivity.

### Che version

next (development version)

### Steps to reproduce

1. Create a new devworkspace from the sample.
2. Open the 'Create Workspace' page one more time.
3. Leave the dashboard tab without any activity for 20minutes or more.
4. Click to the 'Workspaces' and then try to open the workspace details page.
5.

[2021-10-15 07:58] benoitf commented on #20616
And tests there https://github.com/eclipse-che/che-theia/blob/main/extensions/eclipse-che-theia-remote-impl-che-server/tests/node/che-server-devfile-service-impl.spec.ts

[2021-10-15 08:06] l0rd commented on #20616
I am raising it as a blocker for next week release as this make Che (and CRW) unsuable with a few samples in OpenShift. cc @nickboldt @RickJWagner  @mbenitez1607

[2021-10-15 09:59] tolusha commented on #15422
@l0rd @benoitf
Can we mark this issue as solved?

[2021-10-15 10:13] dmytro-ndp commented on #20616
@l0rd, @rhopp, @musienko-maxim: dedicated test case "_start-dw-with-OpenShift-console-samples_" have been added into the [CRW 2.13.0 Test plan](https://docs.google.com/spreadsheets/d/1BWZc5NbqQzkkRez1ceokwsAA6GFAK5fEQ-YjVDKrUCc/edit?usp=sharing).

[2021-10-15 10:30] l0rd commented on #15422
I would say that yes. Closing

[2021-10-15 10:30] #15422 closed

[2021-10-15 13:31] l0rd commented on #20178
`chectl sever:deploy` is the way to deploy Che using the command line. And it should continue to be like that.

Step 1 implies that we should deprecate the "--installer" parameter because there is only one per platform. Step 2 (blocked by [this downstream issue](https://issues.redhat.com/browse/CRW-1759))  means that we should deprecate "openshift" and "crc" platforms as those should be better ser

[2021-10-15 13:31] Schnittchenkraus opened #20642 "Adding git lfs support"
### Summary

Hi,

using the devfile below I am setting up my WS.
The repo gets cloned but the git-lfs stored files only contain references (theia-editor only contains git, not git lfs)
How could I install git lfs into the theia-editor and would that fix it? (It seems to be a javascript image)
Or would I have to install it into a different image?

Thanks in advance.

### Relevant information

[code

[2021-10-16 07:56] wbondarchuk opened #20643 "Deploying Che"
### Summary

Hello everyone, my university allocates me a server and wants to deploy Eclipse Che+Eclipse Theia there in order to then work with the web-ide, and the system should be multi-user. Please tell me, can I use Kubespray for this task and deploy a local multi-user system on my server, or do I need to use Google or Microsoft clouds?

### Relevant information

_No response_

[2021-10-18 08:19] sleshchenko opened #20644 "Che should supply devfile v2 in Che Server mode (by converting it to devfile v1)"
### Is your task related to a problem? Please describe

That's important because Che and CRW don't get devfile v2 support(devworkspace mode) by default, but OpenShift Console already use them for default samples and it breaks integration.

<img width="1269" alt="image" src="https://user-images.githubusercontent.com/606959/136627809-e276f80f-31a7-42be-93b2-e503581343ad.png">

### Describe the solut

[2021-10-18 09:03] l0rd opened #20645 "When DevWorkspace is enabled, the error "Linter not installed" is shown as soon as the Python sample workspace starts"
### Describe the bug

<img width="494" alt="image" src="https://user-images.githubusercontent.com/606959/137700903-be1decad-0625-4581-9757-97e6a574e1d8.png">

### Che version

7.37@latest

### Steps to reproduce

Deploy Che with DevWorkspace enabled and start the Python sample

### Expected behavior

I would expect that the workspace has every tool that the python LS requires

### Runtime

minikub

[2021-10-18 09:09] tolusha opened #20647 "Investigate memory consumption of che-operator with growing number of namespaces on the cluster"
### Is your task related to a problem? Please describe

`che-operator` pod is OOMKilled when there are a lot of namespaces on the cluster.
It has been fixed by [1] but still I can observer that operator consumes too much memory.
We have to find the reason and fix it.

[1] https://issues.redhat.com/browse/CRW-2383
[2] https://github.com/eclipse-che/che-operator/pull/1146

### Describe the solution

[2021-10-18 09:52] tolusha commented on #20643
@wbondarchuk
You can use any preferable platform
https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che/

[2021-10-18 11:13] tolusha opened #20648 "Che Deploy Sprint #209"
#### Timeframe
Oct 20 - Nov 9

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |

#### Holidays / events:
Oct 22 Recharge Day
Oct 25- Nov 05 Sick leave

#### CRW releases
CRW 2.10 is based on Eclipse Che 7.32.x
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based o

[2021-10-19 06:09] skabashnyuk opened #20650 "Che Server should return devfile v2 if it's found instead of throwing 400 (bad request) in Che workspace mode (devfile v1);"
### Is your task related to a problem? Please describe

That's important because Che and CRW don't get devfile v2 support(devworkspace mode) by default, but OpenShift Console already use them for default samples and it breaks integration. see more  https://github.com/eclipse/che/issues/20644

### Describe the solution you'd like

Che Server should return devfile v2 if it's found instead of throwin

[2021-10-19 06:28] skabashnyuk commented on #20650
With devworkspace disabled and such a factory `https://che-eclipse-che.apps.cluster-c8c9.c8c9.sandbox1621.opentlc.com/f?url=https://github.com/redhat-developer/devfile-sample.git` I have such an error
<img width="1586" alt="Знімок екрана 2021-10-19 о 09 27 57" src="https://user-images.githubusercontent.com/1614429/137855487-b93a20ee-0458-4f1f-b8c2-30205caa4195.png">

[2021-10-19 08:19] sleshchenko commented on #20193
@l0rd that's a good explanation on how editor update should work.
There are some minor stuff we can discover during implementing it, like probably we also should put plugin registry URL somewhere, like for DevSandbox where they have theia from CRW and theia from upstream.

Could you clarify if it's about Che Dashboard/Che Editor (like Theia) both?

With sidecar policy - use dev container, that's n

[2021-10-19 08:21] benoitf commented on #20523
iFrame is removed when devWorkspace engine is enabled

[2021-10-19 08:21] #20523 closed

[2021-10-19 08:22] benoitf commented on #20522
implemented within https://github.com/eclipse-che/che-dashboard/pull/377

[2021-10-19 08:22] #20522 closed

[2021-10-19 09:54] Ohrimenko1988 opened #20652 "The "PhpPlugin" test fails because workspace failed to start"
### Is your task related to a problem? Please describe

The "PhpPlugin" test fails because workspace failed to start
![Screenshot from 2021-10-19 12-35-32](https://user-images.githubusercontent.com/22724619/137886959-e1af9c94-647b-4195-b296-92c119c9d57e.png)

### Describe the solution you'd like

Investigate a reason and fix it

### Describe alternatives you've considered

_No response_

### Addit

[2021-10-19 10:17] tolusha commented on #19978
Close this issue in favor of https://github.com/eclipse/che/issues/19284

[2021-10-19 10:20] #20542 closed

[2021-10-19 10:30] svor opened #20653 "Plugins Sprint 209"
## Sprint 209 (October 20th 2021 - November 9th 2021)

### Blockers
* [x] [devfile registry] update happy-path image consistently with other sidecars #20667 @vitaliy-guliy

### Epics

### CRW
* [x] CRW doesn't allow MTA(Migration Toolkit for Applications) Plugin to show MTA configuration [CRW-2133](https://issues.redhat.com/browse/CRW-2133) @vitaliy-guliy
* [x] Update openshift connector to latest

[2021-10-19 10:46] sleshchenko commented on #18670
I think `SIDECAR_POLICY: dev-container` makes flow more complex and tricker for syncing changes back to file system.
Maybe we can keep sidecars model for Che Theia (plugins will live in separate DevWorkspaceTemplates) and using dev container will be used after we switched VSCode to that.

[2021-10-19 10:53] #20544 closed

[2021-10-19 11:25] azatsarynnyy opened #20654 "Editors Sprint 209"
October 20 - November 9

---

#### Stabilize Che-Theia against upstream
- #20538

#### DevWorkspace integration
- #20460
- #18670

#### CRW
- [x] Provide devfile for IntelliJ IDEA editor in CRW [CRW#2276](https://issues.redhat.com/browse/CRW-2276)

#### VS Code as a Che editor
- #20569

#### Other collaboration in upstream Theia
- Code reviews, Dev calls
- TheiaCon Program Committee work

---
###

[2021-10-19 11:52] svor opened #20657 "Update existing devfiles v2 to use Universal image"
### Is your task related to a problem? Please describe

Currently we have two devfiles version 2 which don't use [Universal image](https://github.com/devfile/developer-images):

- [ ] [java-spring-petclinic](https://github.com/che-samples/java-spring-petclinic/blob/devfilev2/devfile.yaml#L9)
- [ ] [quarkus-quickstarts](https://github.com/che-samples/quarkus-quickstarts/blob/devfilev2/devfile.yaml#

[2021-10-19 11:54] SkorikSergey commented on #20639
Done.

[2021-10-19 11:54] #20639 closed

[2021-10-19 11:56] Ohrimenko1988 opened #20658 "Add secrets to the openshift CI for fixing the 'GitHubPullRequestPlugin' test"
### Is your task related to a problem? Please describe

Right now,  we don't have necessary credentials for login to github account in the 'GitHubPullRequestPlugin' test.

### Describe the solution you'd like

Add secrets to the openshift CI for providing the `TestConstants.TS_GITHUB_USERNAME` and `TestConstants.TS_GITHUB_PASSWORD` credentials for the test.

### Describe alternatives you've consid

[2021-10-19 12:23] #20626 closed, assigned to musienko-maxim

[2021-10-19 13:35] sleshchenko opened #20660 "DevWorkspace Happy path fails without a clear reason"
### Describe the bug

DevWorkspace Happy path fails without a clear reason, the example of such a failure can be found in https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/devfile_devworkspace-operator/644/pull-ci-devfile-devworkspace-operator-main-v8-che-happy-path/1450422478143754240/artifacts/che-happy-path/che-happy-path/artifacts/e2e/
that is run for https://

[2021-10-19 14:36] #20421 closed

[2021-10-19 15:04] ibuziuk opened #20661 "Provide a pie chart Grafana vizualization for DevWorkspace failure reasons"
### Is your task related to a problem? Please describe

As an Admin, I want to have a proper visualization of the DevWorkspace failure reasons exposed as a Grafana Dashboard:

- bad_request
- infrastructure_failure
- workspace_engine_failure
- unknown

### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/1461122/137937293-60914168-f877-4366-bad7-1b6f30a71b0c.png

[2021-10-19 15:25] ibuziuk opened #20662 "Provide documentation for enabling DevWorkspace monitoring (Prometheus / Grafana)"
### Is your task related to a problem? Please describe

Currently, we have only monitoring documentation for che-server monitoring https://www.eclipse.org/che/docs/che-7/administration-guide/monitoring-che/
Need to have a similar section in the docs for DevWorkspace monitoring

### Describe the solution you'd like

Documentation section about the DevWorkspace monitoring with Prometheus and Grafana

[2021-10-19 15:46] benoitf opened #20663 "Happy Path tests setup on kubernetes"
### Is your enhancement related to a problem? Please describe

It seems the happy path tests is assuming that it's running with OpenShift

cf commands in
https://github.com/eclipse/che/blob/main/tests/devworkspace-happy-path/launch.sh

but as it's possible to run DevWorkspaces on top on a kubernetes cluster I would say that script should work in both runtime. (Kubernetes and OpenShift)

### Descri

[2021-10-19 16:13] ibuziuk opened #20664 "Enable 'Try in Web IDE GitHub action' in every Eclipse Che related repository"
### Is your task related to a problem? Please describe

https://github.com/marketplace/actions/try-in-web-ide

List of repositories from https://github.com/eclipse/che/blob/main/CONTRIBUTING.md

- [ ] che https://github.com/eclipse/che
- [x] che-server https://github.com/eclipse-che/che-server/
     - [x]  https://github.com/eclipse-che/che-server/pull/258
- [x] che-code https://github.com/che-inc

[2021-10-19 16:50] azatsarynnyy commented on #20460
@vzhukovs could you give a brief update on the state of the work - what has been done and what problems still need to be solved?

[2021-10-19 20:20] #20607 closed

[2021-10-20 08:24] #20652 closed, assigned to Ohrimenko1988

[2021-10-20 08:27] svor commented on #19341
| Status  | Name | Sample |
| ------------- | ------------- | ------------- |
| :heavy_check_mark:  | quarkus | https://github.com/quarkusio/quarkus-quickstarts |
| :heavy_check_mark:  | java-web-spring | https://github.com/che-samples/java-spring-petclinic |
| :heavy_check_mark:  | nodejs-mongo | https://github.com/che-samples/nodejs-mongodb-sample |
| :heavy_check_mark:  | nodejs | https://githu

[2021-10-20 11:20] svor commented on #20531
Superseded by https://github.com/eclipse/che/issues/20653

[2021-10-20 12:09] vitaliy-guliy opened #20667 "[devfile registry] update happy-path image consistently with other sidecars"
### Is your task related to a problem? Please describe

Docker image for happy path tests extends `quay.io/eclipse/che-java11-maven` and should use the latest pushed tag.

At the moment it blocks the releasing of devfile registy https://github.com/eclipse-che/che-devfile-registry/runs/3950149195?check_suite_focus=true

### Describe the solution you'd like

When we bump dockerfiles to new `quay.io/

[2021-10-20 12:37] tolusha opened #20668 "Remove `--installer olm` option for k8s platforms"
### Is your task related to a problem? Please describe

We currently have multiple options to deploy Che. That's hard to maintain and it doesn't bring value for customers.

### Describe the solution you'd like
- [x]  remove `--installer olm` for k8s platforms
- [x]  stop building olm bundle
- [ ] ~~clean up existed ones https://github.com/k8s-operatorhub/community-operators/tree/main/operators/ecl

[2021-10-20 12:40] mkuznyetsov opened #20669 "Release Che 7.38.0"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [ ] che-machine-exec, che-server, che-e2e, che-devfile-registry, che-dashboard, jwtproxy, kubernetes image puller
2. [ ] che-th

[2021-10-20 13:57] tolusha commented on #20613
Operator can't sync configmap because it is stuck with reconciliation error

[code]

Have you reconfigured keycloak in some way?

[2021-10-20 14:07] olexii4 opened #20670 "[UD] We should avoid accidental storage state updates."
### Is your enhancement related to a problem? Please describe

More and more often we have problems with accidental storage state updates.

In the [best practices](https://redux.js.org/style-guide/style-guide#do-not-mutate-state), we have a note ```
Mutating state is the most common cause of bugs in Redux applications.
[code]
/**
 * Creates a new object where it takes the first (target) object
 *

[2021-10-20 14:42] tolusha opened #20671 "chectl commands in the devworkspace land"
### Is your task related to a problem? Please describe

When devworkspace is enabled by default then some workspace commands won't work.
We have to decided what to do with them

| command(s) |   status | plan |
| ---------  |  ------------- |  ------------- |
| auth | broken | **drop** |
| cacert | work | keep |
| dashboard | work  | keep |
| devfile | broken  | **dropped** |
| server:backup  | br

[2021-10-20 16:05] nickboldt opened #20672 "Check for outstanding blocker issues before starting Che release"
### Is your task related to a problem? Please describe

As part of https://github.com/eclipse-che/che-release/blob/main/.github/workflows/release-orchestrate-overall.yml we should do a quick check for any blocker issues currently open against Che.

This can be done via the gh cli `issue list` filtered by label.

Details / PoC: https://gist.github.com/nickboldt/fe5597035e5a62248a094a322188d52d

###

[2021-10-20 16:34] vitaliy-guliy commented on #20667
It was a quick fix to make a release. There is a new one https://github.com/eclipse-che/che-devfile-registry/pull/501 that updates the happy path Dockerfile after publishing a new tag of `quay.io/eclipse/che-java11-maven`.

[2021-10-21 07:01] gjevardat opened #20673 "Remote access che-dashboard from laptop to non internet accessible host"
### Summary

Hello
I'am struggling to access eclipse-che dashboard from my laptop. Cause might be either technical or lack of knowledge. I could not find relevant help in the documentation for this use case.
Che is deploying properly on the host machine. This machine is non accessible from internet.
I can access and login to the Che Dashboard using ssh X11 forwarding using firefox on the remote ho

[2021-10-21 07:11] #15778 closed

[2021-10-21 07:15] #20555 closed

[2021-10-21 07:21] sleshchenko opened #20674 "Che Controller Sprint 209"
This issue collects work items of Controller Team for Sprint 209 (20 October - 10 November).
:notebook: Please note that this is a tentative plan, until sprint planning has been conducted.

The previous sprint https://github.com/eclipse/che/issues/20555

## Sprint goals

### DevWorkspace Operator
- Move forward with Single Container Approach influence on DevWorkspace;
- DevWorkspace Operator 0.11.

[2021-10-21 07:21] svor opened #20675 "Add a property to disable trusted/untrusted source dialog from being shown"
### Is your enhancement related to a problem? Please describe

Sometimes it is annoying to see the dialog window which asks if user trust or untrust the code that is going to be cloned every time. For example if user uses ephemeral  mode, this dialog will be shown each time when the worspace is started.
![image](https://user-images.githubusercontent.com/1271546/138229678-f944c488-5d53-40ee-b47a-b7

[2021-10-21 07:41] vinokurig opened #20676 "Git plugin checkout branch command doesn't work"
### Describe the bug

Git plugin checkout command doesn't show any branch items in the quick-pick list, even if some input entered.
A console log error appears:
[code]

### Che version

next (development version)

### Steps to reproduce

Run `Git: Checout to...` command from the command palette.

### Expected behavior

A list of repository branches should appear.

### Runtime

minikube

### Screen

[2021-10-21 09:39] sparkoo opened #20677 "Dashboard backend support for native auth on kubernetes"
### Is your enhancement related to a problem? Please describe

Native auth (`nativeUserMode`) is coming to Kubernetes https://github.com/eclipse/che/issues/20635 https://github.com/eclipse/che/issues/20633. Currently che-dashboard can do native auth only on OpenShift.

### Describe the solution you'd like

Dasboard backend is currently trying to obtain token from Keycloak because it's expecting ke

[2021-10-21 11:52] sleshchenko commented on #16737
won't be fixed I belive

[2021-10-21 11:52] #16737 closed

[2021-10-21 11:53] sleshchenko commented on #15758
won't be fixed

[2021-10-21 11:53] #15377 closed

[2021-10-21 12:02] sleshchenko commented on #20642
since it got DWO area and the PR is merged https://github.com/devfile/devworkspace-operator/pull/649  closing this issue

[2021-10-21 12:06] sleshchenko commented on #16994
Well, there is nothing to do on devfile/v2 format with that.
Dashboard already supports che-editor.yaml.
Theia lib already supports che-plugins.yaml (name is not exact). So, assigning Theia to check the state and possible close.
@benoitf If I'm not mistaken it's you who implemented that part.

[2021-10-21 12:33] #20620 closed, assigned to nobody

[2021-10-21 12:37] sleshchenko commented on #19153
closing it. If devworkspace routing is needed - it's a duty of DWO to publish NPM type, please raise the issue there (only if it's needed)

[2021-10-21 12:39] sleshchenko commented on #20429
it's done in a scope of https://github.com/eclipse/che/pull/20601

[2021-10-21 12:39] #20429 closed

[2021-10-21 12:59] #20667 closed

[2021-10-21 13:28] sleshchenko commented on #19421
closing. it's fixed for DevWorkspaces and won't be for Che Workspaces.

[2021-10-21 13:28] #19421 closed

[2021-10-21 13:45] azatsarynnyy commented on #20494
I believe there's not much sense to work on that issue for us. Considering [there's no IDE IFRAME in the Dashboard](https://github.com/eclipse-che/che-dashboard/pull/377) anymore.

[2021-10-21 14:09] benoitf commented on #20642
reopening as it's still not working on universal base image

[2021-10-21 14:34] tolusha commented on #20529
We were able to reproduce the issue and working on it
https://github.com/eclipse/che/issues/20647

[2021-10-21 14:35] #20643 closed, assigned to nobody

[2021-10-21 14:55] mkuznyetsov opened #20678 "Remove duplicated directory with plugins in theia container"
### Is your task related to a problem? Please describe

In theia-rhel8 container, there are two directories with plugins present:
- /default-theia-plugins
- /home/theia/plugins

### Describe the solution you'd like

leave only one directory with plugins

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-21 15:19] benoitf opened #20679 "Provides dashboard library for VS Code editor"
### Is your enhancement related to a problem? Please describe

Today, there is ongoing work to have a solution working out of the box using only DevWorkspaceTemplate
https://github.com/devfile/devworkspace-operator/issues/656
https://github.com/devfile/devworkspace-operator/issues/655
https://github.com/devfile/devworkspace-operator/issues/628

But, postStart even being challenging, adding a new c

[2021-10-21 15:51] nickboldt commented on #18771
Related task: moving the test code from `eclipse/che` repo to its own repo, `eclipse-che/che-tests`

See https://issues.redhat.com/browse/CRW-1732

[2021-10-21 15:56] benoitf opened #20680 "Factory flow from devfile link should pass whole factory flow with editor/plugins resolving"
### Describe the bug

Let's try to use this following devfile.yaml

with content

[code]

I expect to not be able to start my Workspace or to see that it was unable to clone projects

### Che version

next (development version)

### Steps to reproduce

Click on a factory workflow by using the following devfile

https://gist.githubusercontent.com/benoitf/e4fa7d0b602e9a4972f27d96bb7334f3/raw/c236cd7

[2021-10-22 02:56] mtsmfm opened #20681 "Can't start workspace (Forbidden!Configured service account doesn't have access. Service account may have been revoked. pods "mkdir-workspace9i8bnzy7uvrtp60c" is forbidden: User "system:serviceaccount:eclipse-che:che" cannot get resource "pods/log" in API group "" in the namespace "mtsmfm-che".)"
### Describe the bug

For some reason I met this error.

[code]

Restarting workspace doesn't help.
Removing namespace can solve this problem but my persistent volumes will be lost.

### Che version

7.37

### Steps to reproduce

1. Start workspace
2. Stop workspace
3. (Something is needed but I'm not sure the exact step to reproduce)
4. Start workspace

### Expected behavior

Workspace starts suc

[2021-10-22 09:15] gjevardat opened #20682 "eclipse-che minkube + remote DB access"
### Summary

I followed the provided documentation to configure a remote database access for eclipes-che : https://www.eclipse.org/che/docs/che-7/administration-guide/external-database-setup/

The database is working properly and accounts properly created. I can acccess it without any issue from the host machine. Actually the DB is deployed on the host machine in a separate docker container.

Now

[2021-10-22 11:20] gjevardat opened #20683 "Trying eclipse-che + microk8s"
### Summary

I'am trying eclipse-che installer with microk8s

microk8s is running after I followed standard snap installation, and I can access the dashboard.

Then issuing:
 chectl server:deploy --platform=microk8s

results in

` Error: No active cluster!`

Any idea? I  also added alias kubectl -> microk8s.kubectl

### Relevant information

chectl/7.37.2 linux-x64 node-v12.22.6
Client Version: ve

[2021-10-24 23:16] olexii4 opened #20684 "[UD] Get message helper returns the wrong messages"
### Describe the bug

We can see '...[object Object]' in the shown error when editing container registry.

### Che version

next (development version)

### Steps to reproduce

1. Create a devworkspace with any sample
2. Try to update Container Registries from different tabs twice.

### Expected behavior

The error message should not include  '...[object Object]'

### Runtime

minikube

### Screens

[2021-10-25 06:15] #20682 closed, assigned to nobody

[2021-10-25 06:35] #20683 closed, assigned to nobody

[2021-10-25 09:40] gjevardat opened #20685 "Microk8s failure to deploy devfile registry pod"
### Summary

I have running fresh microk8s single node cluster with ingress enable.
chectl is configured to use external database (it worked with minikube)

chectl server:deploy -p microk8s
[code]

I'am not sure why the pod scheduling is failing with time. Logs are not super verbose

[code]
I do not have any other interesting logs, or I do not know where to find them...
Any help is welcome.
I gues

[2021-10-25 12:44] vinokurig opened #20686 "Go stack sample application shows an empty page"
### Describe the bug

The `Go` workspace stack contains [golang-echo-example](https://github.com/eclipse-che/che-devfile-registry/blob/afdcd097c76d8196e694547b04433c4d010bfd8e/devfiles/go/devfile.yaml#L12-L17) application. This application starts an HTTP server which shows just an empty page.

### Che version

next (development version)

### Steps to reproduce

1. Create and start a workspace from

[2021-10-25 14:21] skabashnyuk opened #20687 "Che Platform Sprint #209"
### Is your task related to a problem? Please describe

#### Timeframe
Oct 25 - Nov 11

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is based on Eclipse Che

[2021-10-25 16:04] vitaliy-guliy opened #20688 "[che-samples] mongo-db sample cannot connect to mongo database"
### Describe the bug

It's impossible to start Java-MongoDB sample due to database connection issues.
[code]

Actual for Devfle v1 and v2

### Che version

next (development version)

### Steps to reproduce

1. Create a workspace from `Java with Spring Boot and MongoDB` stack
2. Execute `build backend` and `build frontend commands`
3. Launch `run backend` command, check output

### Expected behavi

[2021-10-25 16:26] l0rd opened #20689 "Recurrent GitHub PR vsx error when starting a workspace on RH developer sandbox"
### Describe the bug

![image](https://user-images.githubusercontent.com/606959/138733482-5140f4c2-0c02-43cf-9490-f2433b833729.png)

### Che version

7.34

### Steps to reproduce

Login on https://workspaces.openshift.com and start the java sample workspace.

### Expected behavior

I should not see any error

### Runtime

OpenShift

### Environment

Dev Sandbox (workspaces.openshift.com)

[2021-10-25 21:03] Ga2nibal opened #20690 "Error in 'Check versions compatibility' in chectl (Chectl:deploy)"
### Summary

Chectl:deploy does not work.  (it had work before today morning)

command output:
Current Kubernetes context: 'docker-desktop'
  ✔ Verify Kubernetes API...OK
  ✔ 👀  Looking for an already existing Eclipse Che instance
    ✔ Verify if Eclipse Che is deployed into namespace "eclipse-che"...it is not
  ✖ Check versions compatibility
    → Not Found
    Download templates
    Error: Comma

[2021-10-26 12:37] musienko-maxim opened #20691 "Adapt DewvorkspaceHappy path test to the latest changes"
### Is your task related to a problem? Please describe

After latest changes:
https://github.com/eclipse-che/che-dashboard/pull/377
https://github.com/eclipse/che/issues/20559
The behavior of DW has been changed. Currently, after consuming the test factory the Theia IDE is opened by direct URL and is not included in an iframe. Also, preferences for the plugin have: ` java.server.launchMode: Standa

[2021-10-26 13:47] #20641 closed, assigned to olexii4

[2021-10-26 13:47] #20684 closed, assigned to olexii4

[2021-10-26 15:26] #20660 closed, assigned to musienko-maxim

[2021-10-26 15:26] #20691 closed, assigned to musienko-maxim

[2021-10-26 15:46] wbondarchuk opened #20693 "Deploying Eclipse Che using Kubespray(chectl)"
### Summary

Hello, everyone! I am trying to deploy che using kubespray.
I took ip adress from ingress-nginx-controller LoadBalancer   10.233.7.134    <pending>     80:31046/TCP,443:30311/TCP 44d. After that I tryed to deploy chectl
sudo chectl server:deploy --platform k8s --domain 10.233.7.134.nip.io
And I get error.
 Installer type is set to: 'operator'
› Current Kubernetes context: 'kubernetes-

[2021-10-26 17:26] mariamiawad opened #20694 "Blank page since last update"
### Describe the bug

Whenever I try to get to the dashboard it gives me a blank page

### Che version

7.39.0-SNAPSHOT

### Steps to reproduce

Run this command on windows 10
chectl server:deploy --platform=docker-desktop --installer=helm

all will pass but the url of eclipse che give me a blank page

### Expected behavior

dashboard should start

### Runtime

Docker Desktop

### Screenshots

![i

[2021-10-27 07:13] michaelmitchell opened #20695 "Create custom workspace tab missing in latest release with DevWorkspaces"
### Describe the bug

The custom workspace tab is missing when DevWorkspaces is enabled in 7.38

### Che version

7.38@latest

### Steps to reproduce

Deploy che with spec:.devWorkspace.enable=true

### Expected behavior

The custom workspace tab should be there as it is with 7.37.2 and with DevWorkspaces disabled in 7.38

### Runtime

Kubernetes (vanilla)

### Screenshots

![screenshot-michael tp

[2021-10-27 08:06] guojingyinan219 opened #20696 "build infrastructure-kubernetes failed"
### Summary

**Build Tools**
MacBook Pro (Retina, 15-inch, Mid 2015) version 10.57
**mvn version**
`
Maven home: /usr/local/maven/apache-maven-3.8.3
Java version: 11.0.2, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk-11.0.2.jdk/Contents/Home
Default locale: zh_CN_#Hans, platform encoding: UTF-8
OS name: "mac os x", version: "10.15.7", arch: "x86_64", family: "mac"
`

#

[2021-10-27 13:04] ibuziuk opened #20697 "Kubernetes Image Puller Operator is failing on the OpenShift 4.9"
### Describe the bug

Kubernetes Image Puller Operator is failing on the OpenShift 4.9, works fine on OpenShift 4.8

### Che version

other (please specify in additional context)

### Steps to reproduce

1. Install image puller operator on the 4.9 cluster
2. ERROR: CreateContainerError

![image](https://user-images.githubusercontent.com/1461122/139070263-b8d3dc0c-569b-4d11-be7b-60853bbe3c12.png)

[2021-10-27 16:03] olexii4 opened #20698 "[UD] Load-factory page doesn't respect workspace status changing if devworkspaces enabled"
### Describe the bug

The load-factory page could be stuck on  'Waiting for workspace to start' and ignore the status update event in the store.

### Che version

next (development version)

### Steps to reproduce

1. Create a devworkspace with any sample.

2. Waiting until 'Applying devfile'.
<img width="488" alt="Знімок екрана 2021-10-27 о 18 58 07" src="https://user-images.githubusercontent.com

[2021-10-27 19:24] vitaliy-guliy opened #20699 "[devworkspaces] maven-based tasks don't work in a container, created from universal developer image"
### Describe the bug

Maven don't work if it's a part of a task and is launched inside a container, created from [universal-developer-image](quay.io/devfile/universal-developer-image:ubi8-112f94a).

The problem faced when working on https://github.com/eclipse/che/issues/20657

### Che version

next (development version)

### Steps to reproduce

1. Deploy Che on devworkpsaces
2. Create workspace us

[2021-10-28 07:11] Ohrimenko1988 opened #20700 "The nightly plugins tests are failed on the openshift CI because reached the docker pull limit"
### Is your task related to a problem? Please describe

The nightly plugins tests are failed on the openshift CI because reached the docker pull limit

[code]

### Describe the solution you'd like

Mirror the ```docker.io/node:14.17.6-alpine3.12``` image to quay.io registry and use mirrored image in the tests Dockerfile

### Describe alternatives you've considered

_No response_

### Additional co

[2021-10-28 09:46] themr0c opened #20701 "Documentation describing cert-manager installation is outdated"
### Is your task related to a problem? Please describe

The procedures describing cert-manager installation in che-docs are probably outdated.

They need some adaptation and testing to follow current cert-manager installation procedures.

### Describe the solution you'd like

1. Assess all procedures mentioning cert-manager.
2. Consider replacing the cert-manager installation steps by a prerequisi

[2021-10-28 11:07] #20700 closed, assigned to Ohrimenko1988

[2021-10-28 11:12] SkorikSergey opened #20702 "[Selenium] Update typescript factories tests"
### Is your task related to a problem? Please describe
We need to update/fix typescript factories test:
- move factories tests in separate directory and update `mocha-all-factories.opts`;
- close `Restart your workspace` after project cloning(screenshot);
- delete created workspace by API. Getting workspace name by API works not correctly for factories tests (not possible to get workspace name fro

[2021-10-28 12:15] Ohrimenko1988 opened #20703 "Simplify the local launching of plugins tests"
### Is your task related to a problem? Please describe

For local launching of plugins tests, we need to set up a bunch of environment variables:
[code]

### Describe the solution you'd like

Rework default values of environment variables to be matched for the required local setup.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-28 12:23] guydog28 opened #20704 "[devworkspace-che-operator] devworkspaces fail if multple che controllers in cluster"
### Describe the bug

We have two che installations in our kubernetes cluster - one where we test new features and one that is being used by the team.  In testing devfile v2, we determined that che-operator only installs one devworkspaces namespace/controller, and then when the second che installation was added, that devworkspaces controller didnt know which operator to use.  Error:

**Unable to p

[2021-10-28 14:59] benoitf opened #20705 "Error starting a workspace from a repository without devfile when DevWorkspace engine is enabled"
### Describe the bug

Let's use the http://che-host#https://github.com/eclipse/che + DevWorkspace engine enabled

### Che version

next (development version)

### Steps to reproduce

Try to click on http://che-host#https://github.com/eclipse/che and it's failing with 'Unknown workspace error.'

### Expected behavior

Able to start a workspace from a repository that has no devfile

### Runtime

Ope

[2021-10-29 06:41] mmorhun opened #20706 "Restart action on failed workspace doesn't work"
### Describe the bug

Restart action on failed devworkspace doesn't work

### Che version

next (development version)

### Steps to reproduce

1. Create a workspace (devworkspace engine was used)
2. Brake the workspace configuration, so it fails to start
3. Try to start it
4. When workspace status is failing, go to dashboard and from action list on the workspace (3 dots) run `Restart`.

### Expect

[2021-10-29 07:43] #20658 closed, assigned to Ohrimenko1988

[2021-10-29 09:15] mmorhun opened #20707 "New workspace isn't displayed in workspace list"
### Describe the bug

If create a new workspace from another tab or cli, dashboard doesn't show it in the workspaces list, however it is present in sidebar.

### Che version

next (development version)

### Steps to reproduce

1. Create a workspace
2. Open another tab with dashboard, create and start another workspace
3. Close second tab and return to the first one

### Expected behavior

New work

[2021-10-29 12:07] l0rd opened #20709 "When DevWorkspace is enabled zip projects download fail because the devfile regitry certificate is untrusted"
### Is your enhancement related to a problem? Please describe

I am using a devfile that has a zip project:

[code]

But when I start the workspace the project doesn't appear in Theia.

![image](https://user-images.githubusercontent.com/606959/139426797-42cc7ad1-75ff-4daa-ac2d-dd834d006b08.png)

I can see a file `/projects/project-clone-errors.log` that contains a certificate error:

[code]

In th

[2021-10-29 14:25] #20703 closed, assigned to Ohrimenko1988

[2021-10-29 17:00] philipreimer opened #20712 "How to update che which was installed using `chectl server:deploy --installer=helm` as described in the official documentation for "Installing Che on AWS""
### Summary

How does one update che, which has been deployed on AWS following the official documentation for [Installing Che on AWS](https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-aws/#installing-che-on-kubernetes-using-chectl_and_helm_che)?

### Relevant information

Che was installed following the official documentation for [Installing Che on AWS](https://www.eclips

[2021-10-29 18:44] azatsarynnyy commented on #18670
We've discussed this epic internally, during several calls - it was decided to postpone the work. Currently, there's no way to update a DevWorkspace with the user's Devfile. If I understand correctly, there're some steps are required from DWO side. Also, we've talked with Florent - he can help us with an intermediate library for Devfile->DevWorkspace synchronization.
On Che-Theia side, we've prepa

[2021-10-29 21:24] nickboldt commented on #20644
I've moved this to 7.39 so it won't blocke the 7.38 release (Mario wants us to look for blockers and prevernt releases).

Details in https://github.com/eclipse/che/issues/20672

PR to block releases if blockers found: https://github.com/eclipse-che/che-release/pull/50/files

[2021-10-29 21:24] nickboldt commented on #20672
PR: https://github.com/eclipse-che/che-release/pull/50/files

[2021-10-30 08:31] Ga2nibal opened #20713 "Unable to build che-plugin-registry"
### Summary

Node v12.22.7, Yarn v.1.22.1, there are './node_modules/.bin' in $PATH,

branch: 7.38.x
cmd: ./build.sh --organization eclipseche  --registry coreimfeiddev002.azurecr.io  --tag 7.38.0  --offline

one test failed:
Summary of all failing tests
[test]  FAIL  tests/registry/registry-helper.spec.ts (36.971 s)
  ● Test RegistryHelper › basics with current sha1
[test]
[test]     getaddrinfo

[2021-10-30 09:36] ironheart-angel opened #20714 "Creating token for private git repository as part of Dev File Configuration"
### Summary

Hi I was wondering if anyone may have guidance on how I could create a dev file pointing at a private git repo, containing my own git credentials/token within it.

This is the sample I am looking at

https://github.com/eclipse-che/che-devfile-registry/blob/main/devfiles/python/devfile.yaml

Was wondering where I could put my token/git credentials in it if it was a private repo

### Re

[2021-10-31 17:12] skabashnyuk commented on #20714
https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-authorization/#enabling-authentication-with-social-accounts-and-brokering_che

[2021-11-01 10:11] mmorhun commented on #20685
Hello @gjevardat. Usually, such problems are related to routing configuration within the cluster. Che components should be able to reach each other via services and/or ingresses (routes for Openshift). So, the error is likely happens due to some configuration policies inside your cluster and out of scope for Che itself.

You may try to change value of `disableInternalClusterSVCNames` in Che Custom

[2021-11-01 10:52] svor commented on #20713
@Ga2nibal I'm able to build without problem via
`./build.sh --organization eclipseche --registry coreimfeiddev002.azurecr.io --tag 7.38.0 --offline`
[code]
try to remove cached che-plugin-registry by `rm -rf /tmp/che-plugin-registry/`

[2021-11-01 14:36] svor commented on #20712
cc @mmorhun

[2021-11-01 14:59] svor commented on #20704
@amisevsk could you take a look please

[2021-11-01 15:00] mmorhun commented on #20712
Hello @philipreimer. Helm installer that deploys Che is deprecated, there is issue https://github.com/eclipse/che/issues/20552 about that.
I am afraid, you'll have to redeploy Che from scratch using operator installer.
`chectl server:update` expects that Che is deployed with `operator` or `olm` installer. In case of `helm` the installation had to be updated via the Helm itself, but since we do not

[2021-11-01 15:08] metlos commented on #20709
Note that the namespace syncing code also creates a configmap suffixed with `-trusted-ca-certs` that wants to mount files to the same directory in the workspace pod. Not sure DWO handles that? @amisevsk could you please confirm?

[2021-11-01 15:17] metlos commented on #20709
@l0rd the `<wsid>-endpoints` secret is used for setting up TLS on the endpoints of the workspace - e.g. it is referenced in the configuration of the ingress(es) that expose workspace endpoints. Not sure it should be known inside the workspace pod.

The namespace syncing code, mounts the contents of the the `ca-certs-merged` configmap from the che-cluster namespace into `/public-certs` of the works

[2021-11-01 15:50] philipreimer commented on #20712
What is the recommended way to do that?

How do I do that? Is there some kind of migration guide available?

We are using EKS ("plain" kubernetes, no openshift). The [che docs](https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-aws/#installing-che-on-kubernetes-using-chectl_and_helm_che) only mention the "helm-installer" for AWS. In fact table 3 on the [Supported Platforms

[2021-11-01 16:09] RomanNikitenko commented on #20538
A new breaking changes were merged in the upstream recently

<img width="1170" alt="Screenshot 2021-11-01 at 18 04 15" src="https://user-images.githubusercontent.com/5676062/139702790-162f6617-db83-4af9-bd39-7d4cb3e55da3.png">

The `Happy tests` [passed successfully](https://github.com/eclipse-che/che-theia/pull/1238#issuecomment-953916358) for my draft PR before merging those changes in the upstr

[2021-11-01 16:19] azatsarynnyy commented on #20538
Let's pin to the commit before the new breakings, with applying your fixes for Che-Theia.
And file an issue for another new breakage.

[2021-11-01 16:23] tolusha commented on #20704
It is not supported to have several Eclipse Che deployments on the same cluster.

[2021-11-01 16:28] tolusha commented on #20693
Pls provide operator logs.
You can use `chectl server:logs` command

[2021-11-01 16:44] amisevsk commented on #20704
The DevWorkspace Operator is designed to watch all namespaces (a requirement since workspaces can appear anywhere); the downside of this is that only one instance of the controller can run on the cluster (otherwise they fight over who reconciles each object, often resulting in a loop). The coming release of DWO should detect this issue on startup and fail to start a second instance, but DWCO may n

[2021-11-01 16:44] tolusha commented on #20690
@Ga2nibal
Could you try one more time? Maybe it was race condition ?

[2021-11-02 09:53] ibuziuk commented on #20697
on OpenShift 4.9 with the new version of the puller OLM the installation is failing with:

```Error: container create failed: time="2021-11-02T09:50:33Z" level=error msg="container_linux.go:380: starting container process caused: exec: \"/manager\": stat /manager: no such file or directory"```

[2021-11-02 09:56] #20460 closed

[2021-11-02 11:13] #20702 closed

[2021-11-02 11:18] wbondarchuk commented on #20693
Everything seems to be ok.
sudo chectl server:logs
Eclipse Che logs will be available in '/tmp/chectl-logs/1635851746585'
› Current Kubernetes context: 'kubernetes-admin@cluster.local'
  ✔ Verify Kubernetes API...OK
  ✔ Verify if namespace 'eclipse-che' exists
  ✔ Read Operator logs...done
  ✔ Read Eclipse Che Server logs...done
  ✔ Read PostgreSQL logs...done
  ✔ Read Keycloak logs...done
  ✔ Rea

[2021-11-02 11:18] wbondarchuk commented on #20693
Everything seems to be ok.
sudo chectl server:logs
Eclipse Che logs will be available in '/tmp/chectl-logs/1635851746585'
› Current Kubernetes context: 'kubernetes-admin@cluster.local'
  ✔ Verify Kubernetes API...OK
  ✔ Verify if namespace 'eclipse-che' exists
  ✔ Read Operator logs...done
  ✔ Read Eclipse Che Server logs...done
  ✔ Read PostgreSQL logs...done
  ✔ Read Keycloak logs...done
  ✔ Rea

[2021-11-02 13:13] benoitf opened #20715 "handle all fields of repository che-editor.yaml file"
### Is your task related to a problem? Please describe

For now, we can have a .che/che-editor.yaml file but it's not following the expected syntax

We should have override capabilities and allow to specify `id`, `registryUrl` etc

This is defined by issue https://github.com/eclipse/che/issues/18668
##### che-editor.yaml

[code]

### Describe the solution you'd like

Override capabilities, `id` or

[2021-11-02 13:53] vinokurig opened #20716 "Che-theia editor docker image build fails"
### Describe the bug

The docker build command for the `che-theia` editor fails with an error:
[code]

### Che version

next (development version)

### Steps to reproduce

Run `./build.sh --build-args:GITHUB_TOKEN=${GITHUB_TOKEN},THEIA_VERSION=master,THEIA_COMMIT_SHA=a73a746bfdefc115edb506f2351b5f4e3f267077 --tag:next --branch:master --git-ref:refs\\/heads\\/master --skip-tests --dockerfile:Docker

[2021-11-02 14:27] RomanNikitenko commented on #20716
I faced with the problem as well...

[2021-11-02 14:34] #20669 closed

[2021-11-02 14:34] benoitf commented on #20716
BTW why are we using a fork of moxios lib ?

[2021-11-02 14:47] mmorhun opened #20717 "Under some conditions dashboard fails to open IDE"
### Describe the bug

Sometimes dashboard fails to open IDE, however the workspace status is `Running`.

### Che version

next (development version)

### Steps to reproduce

1. Deploy Eclipse Che using chectl
2. Create a workspace and start it, so starting progress apears on dashboard
3. Sometimes it hangs, but if it opens IDE, press `F5` to refresh the page. Dashboard will not open IDE after the

[2021-11-02 14:53] RomanNikitenko commented on #20716
It looks like it was added a long time ago by @davidfestal

[2021-11-02 15:10] azatsarynnyy commented on #20716
looks like must be fixed on `che-workspace-telemetry-client` side
https://github.com/che-incubator/che-workspace-telemetry-client/blob/6c2261e7b19d95dcbc77f4fff82b7ab059dcc8bf/javascript/src/typescript/package.json#L24
@ibuziuk could someone from your team look at it?
Most likely, it can be replaced by https://www.npmjs.com/package/moxios

[2021-11-02 16:05] azatsarynnyy commented on #20716
`git://` protocol is not supported anymore for unauthenticated GitHub requests
https://github.blog/2021-09-01-improving-git-protocol-security-github/#no-more-unauthenticated-git

[2021-11-02 16:06] svor opened #20718 "It's not possible to install not sidecar plugin via devfile v2"
### Describe the bug

If extensions.json file contains plugins which are not sidecar for example [dbaeumer.vscode-eslint](https://eclipse-che.github.io/che-plugin-registry/main/v3/plugins/dbaeumer/vscode-eslint/latest/meta.yaml), they won't be installed in the workspace.

### Che version

7.38@latest

### Steps to reproduce

Try to start the forkspace form this sample https://github.com/svor/web-n

[2021-11-02 16:23] tolusha commented on #20629
Investigation is completed. There is nothing to code.
Users migration script will be a part of https://github.com/eclipse/che/issues/20602

@AndrienkoAleksandr
Thank you!

[2021-11-02 16:23] #20629 closed

[2021-11-02 16:53] benoitf commented on #20718
from what I see,

1. download script is not analyzing the theia component now as this one is inside a plug-in
2. it fails on empty array of attribute vscode-extensions so it tries to curl tons of dummy files

[2021-11-02 19:03] azatsarynnyy commented on #20716
@vinokurig @RomanNikitenko you can test Che-Theia build, as the corresponding fix is applied https://github.com/che-incubator/che-workspace-telemetry-client/pull/76

latest `@eclipse-che/workspace-telemetry-client` is published to https://www.npmjs.com/package/@eclipse-che/workspace-telemetry-client

[2021-11-02 19:08] Ga2nibal commented on #20713
`rm -rf /tmp/che-plugin-registry/` resolves issue.
thanks!

[2021-11-02 19:08] #20713 closed

[2021-11-02 19:11] Ga2nibal commented on #20690
no, it does not help. i tried many times. also i notes it does not work from my wsl2. but it works from host win command line.

[2021-11-03 01:45] l0rd commented on #20709
@metlos oh ok, yes the config map with the certs to trust is even better. I was using the information here https://github.com/eclipse/che/issues/19318#issuecomment-802818598 to understand what and where should be mounted in a workspace pod.

@amisevsk I don't know if a standard exist

[2021-11-03 07:20] vinokurig commented on #20716
Another error appears:
[code]

[2021-11-03 07:47] ibuziuk commented on #20716
could you make sure that the dependency is referenced the following way from theia https://github.com/che-incubator/che-workspace-telemetry-client/pull/76/files#diff-0fb426fdabbd0bfb746e90dfdbc5c602082807853c4f91560e6460fbf6c56385R3744 ?

[2021-11-03 07:50] ibuziuk opened #20719 "Refactor 'che-workspace-telemetry-client' and use the official moxios package"
### Is your task related to a problem? Please describe

 'che-workspace-telemetry-client' is using a fork of moxios, and we need to switch it to the official package

### Describe the solution you'd like

use the official moxios package in the 'che-workspace-telemetry-client'

### Describe alternatives you've considered

N/A

### Additional context

Related issue - https://github.com/eclipse/che/i

[2021-11-03 08:50] vinokurig commented on #20716
I applied these changes for my local `che-theia` but it didn't help

[2021-11-03 08:53] azatsarynnyy commented on #20716
@vinokurig do you see the same error or another one?

[2021-11-03 09:08] vinokurig commented on #20716
@azatsarynnyy

The same error as https://github.com/eclipse/che/issues/20716#issuecomment-958704216

[2021-11-03 10:11] azatsarynnyy commented on #20716
I'm checking the build on the GH CI
https://github.com/eclipse-che/che-theia/runs/4090982248?check_suite_focus=true
as `moxios` is not a dependency anymore https://github.com/che-incubator/che-workspace-telemetry-client/pull/77

[2021-11-03 10:20] azatsarynnyy commented on #20716
now, it fails with

Error: [compile] src/node/k8s-telemetry-service-impl.ts(11,48): error TS7016: Could not find a declaration file for module '@eclipse-che/workspace-telemetry-client'. '/home/theia-dev/theia-source-code/node_modules/@eclipse-che/workspace-telemetry-client/dist/server.js' implicitly has an 'any' type.

[2021-11-03 10:29] benoitf commented on #20716
yes investigating...

[2021-11-03 11:27] benoitf commented on #20716
should be fixed now 👍

[2021-11-03 11:44] l0rd commented on #20644
Closing as this issue has been fixed. The orginal problem is not fixed and tracked in https://github.com/eclipse/che/issues/20672 and https://github.com/devfile/api/issues/666

[2021-11-03 11:44] #20644 closed

[2021-11-03 11:46] ibuziuk commented on #20254
@l0rd wdyt about the mockups from the previous comment? should we show the che-server-based workspaces and provide relevant docs for migration to devfile v2

[2021-11-03 11:50] azatsarynnyy commented on #20716
fixed by:
- https://github.com/che-incubator/che-workspace-telemetry-client/pull/76
- https://github.com/che-incubator/che-workspace-telemetry-client/pull/77
- https://github.com/che-incubator/che-workspace-telemetry-client/pull/78

[2021-11-03 11:50] #20716 closed

[2021-11-03 11:51] ibuziuk commented on #20719
@benoitf thank you for taking care of this one :+1:
closing https://github.com/che-incubator/che-workspace-telemetry-client/pull/78 / https://github.com/che-incubator/che-workspace-telemetry-client/pull/77

[2021-11-03 11:51] #20719 closed

[2021-11-03 12:09] l0rd opened #20720 "Devfile registry support for Devfile v2 zip files"
### Is your enhancement related to a problem? Please describe

Devfile v2 are specified using the `link.v2` field in meta.yaml:

[code]

The `link.v2` URL points to a git repository that includes a devfile (devfiles are not included in the devfile registry anymore).

In the case of zip files what should be the value of `link.v2`? Where is the devfile stored?

### Describe the solution you'd like

[2021-11-03 12:37] wbondarchuk commented on #20693
I don't have this directory with logs in tmp. My logs in /root/.cache/chectl/error.log
2021-11-03T12:34:14.572Z Warning: Consider using the more reliable 'OLM' installer when deploying a stable release of Eclipse Che (--installer=olm).
2021-11-03T12:34:14.572Z at Object.warn (/root/.local/share/chectl/client/7.38.1/node_modules/@oclif/errors/lib/index.js:49:15)
2021-11-03T12:34:14.572Z at Deploy.w

[2021-11-03 12:38] wbondarchuk commented on #20693
It's strange why some lines were crossed out

[2021-11-03 12:40] wbondarchuk commented on #20693
They are normal in the logs, not crossed out
[logs.txt](https://github.com/eclipse/che/files/7467537/logs.txt)

[2021-11-03 13:33] mmorhun commented on #20712
Hello @philipreimer. Sorry for delay.

Ideally, devfile should be present in the repository, so Che can just create workspace from the repository (just paste repository URL in the dashboard). Of course, before moving commit and push all your changes.
If it is not so, go to dashboard and save devfiles from each of your workspace manually.
The devfiles are stored in database, so if database is migra

[2021-11-03 14:28] ibuziuk opened #20722 "Database migration script should be run automatically when user enables DevWorkspace engine on the 'all-namespace' channel"
### Is your task related to a problem? Please describe

The investigation related to the new account creation is finished as part of the https://github.com/eclipse/che/issues/20629, and the solution is the execution of the database migration script https://github.com/eclipse/che/issues/20629#issuecomment-953824124

As part of this issue, the migration script should be integrated into the operator,

[2021-11-03 15:00] ibuziuk opened #20724 "As an admin, I would like to have a possibility to add information / warning header to the User Dasboard by configuring the CheCluster CR"
### Is your task related to a problem? Please describe

From time to time, Admin needs to communicate some information with the users e.g.:
- scheduled maintenance
- deprecation / EOL notifications

Admin should have a possibility to configure the header that will be applied to the UD layout.

from the UX perspective It could look similar to the warning we are having for workspace format were not

[2021-11-03 15:02] svor opened #20725 "Plugin doesn't install if devfile v2 contains more than 1 dev component"
### Describe the bug

Plugins cannot be installed if the devfile contains more then one dev component (for example tools and database)
And it doesn't matter if USE_DEV_CONTAINER property was set:
[code]

### Che version

7.38@latest

### Steps to reproduce

1. Try to start the workspace from the existing devfiles which contain 2 component (quarkus or node js + mongoDB)

2. Or use this sample https

[2021-11-03 17:00] #20657 closed

[2021-11-03 17:06] #20437 closed

[2021-11-03 17:18] tolusha commented on #20693
That was `chectl` logs but I am interested into operator logs. Let's go in another way.
Could you execute:
[code]

[2021-11-03 17:22] tolusha commented on #20685
@gjevardat
Any luck to run Eclipse Che successfully ?

[2021-11-03 17:27] ibuziuk commented on #20606
@sparkoo @skabashnyuk the issue is still there on CRW 2.12.1

![image](https://user-images.githubusercontent.com/1461122/140155199-7aafeb37-190b-4cc2-83cd-e93053083dfc.png)

[2021-11-03 17:27] tolusha commented on #20722
Sorry, I missed that call.
-1 from my side. Operator knows nothing about channels.
What is the problem of running script as part of migration guide?
We already need to create subscription, so script can be run before that.

[2021-11-03 17:39] #20699 closed

[2021-11-04 01:21] npw3202 opened #20726 "GCP Che installation guide does not work"
### Describe the bug

I suspect that the GCP installation guide is out of date. I tried following it several times and always got ERR_TOO_MANY_REDIRECTS. I also tried changing from /dashboard/* -> /dashboard/ in the helm patch file and it seems to give another error (404s the manifest.json making me think the nginx is misconfigured)

### Che version

7.38@latest

### Steps to reproduce

Follow the

[2021-11-04 07:28] #12530 closed

[2021-11-04 07:28] #16335 closed

[2021-11-04 07:28] #16350 closed

[2021-11-04 07:28] #16827 closed

[2021-11-04 07:28] #17234 closed

[2021-11-04 07:28] #17811 closed

[2021-11-04 07:28] #18451 closed

[2021-11-04 07:28] #18621 closed

[2021-11-04 07:28] #18905 closed

[2021-11-04 07:28] #18971 closed

[2021-11-04 07:28] #19066 closed

[2021-11-04 07:28] #19092 closed

[2021-11-04 07:28] #19098 closed

[2021-11-04 07:28] #19256 closed

[2021-11-04 07:28] #19262 closed

[2021-11-04 07:28] #19308 closed

[2021-11-04 07:28] #19339 closed

[2021-11-04 07:28] #19355 closed

[2021-11-04 07:28] #19370 closed

[2021-11-04 07:28] #19396 closed

[2021-11-04 07:28] #19411 closed

[2021-11-04 07:28] #19414 closed

[2021-11-04 07:28] #19417 closed

[2021-11-04 07:28] #19418 closed

[2021-11-04 07:28] #19420 closed

[2021-11-04 07:28] #19425 closed

[2021-11-04 07:28] #19429 closed

[2021-11-04 07:28] #19440 closed

[2021-11-04 07:28] #19456 closed

[2021-11-04 07:28] #19479 closed

[2021-11-04 07:28] #19483 closed

[2021-11-04 07:28] #19484 closed

[2021-11-04 07:28] #19507 closed

[2021-11-04 07:28] #19523 closed

[2021-11-04 07:28] #19546 closed

[2021-11-04 07:28] #19555 closed

[2021-11-04 07:28] ibuziuk commented on #20722
well, every single customer will need to follow the low-level instructions for migration that is the only concern. On the other hand, performing the migration manually would allow more control and flexibility. @l0rd wdyt? can we close this issue in favour of https://github.com/eclipse/che/issues/20614 as part of which the migration documentation will be provided for upstream and downstream.

[2021-11-04 08:22] azatsarynnyy opened #20727 "Editors Sprint 210"
November 10 - November 30

---

#### Stabilize Che-Theia against upstream
- #20538

#### VS Code as a Che editor
- #20569

#### Bugs
- #20678

#### Other issues
- [x] #20664
- [x] https://issues.redhat.com/browse/CRW-2432

---
### Unplanned/Blockers
- [x] [investigation] #20783
- [x] Welcome page "Red Hat CodeReady Workspaces" is empty when workspace starts [CRW-2479](https://issues.redhat.com/bro

[2021-11-04 09:05] skabashnyuk commented on #20606
@ibuziuk yeh picture https://github.com/eclipse/che/issues/20606#issuecomment-959758445 is unpleasant. Can you set up some limits, let's say 4G. So Kubernetes will restart the pod by itself. Meanwhile, we will work on understanding why it happening.

[2021-11-04 09:15] l0rd commented on #20709
The solution proposed yesterday by @benoitf: use Kubernetes internal service URL rather than route/ingress URL. That should work out of the box.

Anyway this issue depends on https://github.com/eclipse/che/issues/20720. If we decide to use a git server rather we won't need zip files anymore.

[2021-11-04 09:24] l0rd commented on #20254
I am +1 for that if that's about less than a week of work. If the estimated effort required is more than that let's skip it.

[2021-11-04 09:42] azatsarynnyy commented on #19709
I'm removing area/editors, as it seems mostly related to vscode-python plug-in.
cc @svor

[2021-11-04 09:43] l0rd commented on #20718
@svor this looks critical to me. I have set `severity/P1`.

[2021-11-04 09:52] l0rd commented on #20726
@npw3202 thank you for opening this issue. We are sunsetting installation via the helm chart but have not updated the doc yet. Can you please try installing Che using the operator? You can find some [details here](https://github.com/eclipse/che/issues/20712#issuecomment-959088714).

[2021-11-04 10:08] azatsarynnyy commented on #19566
I suppose it's still relevant. So, reopening.
Feel free to close if you see it isn't a problem anymore.

[2021-11-04 10:08] azatsarynnyy commented on #19566
/remove-lifecycle stale

[2021-11-04 10:18] AndrienkoAleksandr commented on #18701
/remove-lifecycle stale

[2021-11-04 10:28] azatsarynnyy commented on #18220
/remove-lifecycle stale

[2021-11-04 10:29] azatsarynnyy commented on #18220
still relevant

[2021-11-04 10:31] azatsarynnyy commented on #19143
I suppose it's not relevant anymore. But probably something to check on the Task Plug-in side. cc @svor

[2021-11-04 10:34] azatsarynnyy commented on #16673
/remove-lifecycle stale

[2021-11-04 10:36] azatsarynnyy commented on #19730
not a priority for the nearest future, but still relevant

[2021-11-04 10:36] azatsarynnyy commented on #19730
/remove-lifecycle stale

[2021-11-04 14:13] mkuznyetsov commented on #19264
closing, as It has been tested, and seems to work now

[2021-11-04 14:13] #19264 closed

[2021-11-04 15:36] ibuziuk commented on #20606
@skabashnyuk not sure how it is possible to set up on the running instance powered by OLM (for operator pod it is possible to patch csv, but not sure about the operands). Currently I just restarted the pod - looks like the gateway pod is the only one without limits.

[2021-11-04 15:39] #17806 closed

[2021-11-04 15:59] npw3202 commented on #20726
@l0rd, Thanks for the follow up, I ran server:delete and then the recommended command using the operator. I got
[code]
but when I tried to visit the user's dashboard at https://che-eclipse-che.ide.***.com, I got [image](https://user-images.githubusercontent.com/12847324/140241641-3e1b9bac-4d16-4291-ab3f-41b7694abfb8.jpg) suggesting that the nginx proxy might be misconfigured. When I port-forward t

[2021-11-04 16:02] tolusha opened #20728 "Failed to run GH action checks on Minishift"
### Describe the bug

Failed to run GH action checks on Minishift because Minishift failed to start

### Che version

next (development version)

### Steps to reproduce

See https://github.com/che-incubator/chectl/runs/4106002333?check_suite_focus=true

### Expected behavior

GH is run successfully

### Runtime

other (please specify in additional context)

### Screenshots

_No response_

### Inst

[2021-11-04 16:20] tolusha commented on #20690
I guess you use `--version` flag in your chectl command.
To bypass the check download the corresponding version of chectl and use it without that flag

[2021-11-04 16:25] benoitf opened #20729 "unable to build theia-dev image"
### Describe the bug

Unable to build theia-dev image

it reports a problem of vsce being only compliant with nodejs14 while theia still requires nodejs12

https://github.com/microsoft/vscode-vsce/commit/302d33d65be4a0b773178cd0a0dd806884b0cba0

### Che version

next (development version)

### Steps to reproduce

./build.sh in dockerfiles folder

### Expected behavior

it should work

### Runtime

[2021-11-04 16:54] tolusha commented on #20726
pls try: `kubectl describe ingress -n eclipse-che`
Ingress container logs might shed light on the problem as well.

https://kubernetes.github.io/ingress-nginx/troubleshooting/

[2021-11-04 17:13] npw3202 commented on #20726
kubectl describe ingress -n eclipse-che yields
[code]
Dashboard's logs are
[code]

When visiting the /dashboard/ path, the nginx's logs give
[code]

it appears like the 404'd requests were not routed to 10.16.6.157:8080 because the endpoint described in ingress is /dashboard/ and not /dashboard/*. I'll try to change the spec to route to /dashboard/*, but I suspect that this will result in a circul

[2021-11-04 17:18] npw3202 commented on #20726
Ok I think I have a handle of what's going on. For some reason, the default nginx config routes
/dashboard -> the che-dashboard
/dashboard/* -> the che-host.

The che-host redirects
/dashboard/* -> /dashboard/ which redirects to the che-dashboard

Let me see if I can manually fix this behavior in the nginx config

[2021-11-04 17:33] npw3202 commented on #20726
I appear to be unable to manually alter the ingress rules. I'm unfamiliar with the codebase, but at a first glance, could the culprit be [this](https://github.com/eclipse-che/che-operator/blob/6c010e89381c6f37fec897863f6e24b0cac34a29/pkg/deploy/dashboard/dashboard.go#L29)?

[2021-11-04 18:11] tolusha commented on #20712
I've prepared a draft guide. I need to investigate why workspaces are not appeared after migration.

1. Save and push changes back to the Git repositories for all running workspaces of the Che instance.
2. Stop all workspaces in the Che instance.
3. Scale down the Che and Keycloak deployments:
[code]
4. Backup available databases:
[code]
5. Copy the obtained backups to a local file system:
[code]

[2021-11-04 18:16] wbondarchuk commented on #20693
OPERATOR_POD=$(kubectl get pods -n eclipse-che | grep che-operator | awk '{print $1}')
The connection to the server localhost:8080 was refused - did you specify the right host or port?

sudo kubectl logs $OPERATOR_POD -n eclipse-che
error: expected 'logs [-f] [-p] (POD | TYPE/NAME) [-c CONTAINER]'.
POD or TYPE/NAME is a required argument for the logs command
See 'kubectl logs -h' for help and exam

[2021-11-04 18:19] wbondarchuk commented on #20693
root@node1:/tmp# ls
dbus-lLmCL0EpiQ
systemd-private-00b79d7982304e35aee4a9d7c3dc6b4b-colord.service-UGDXnO
systemd-private-00b79d7982304e35aee4a9d7c3dc6b4b-ModemManager.service-x4VVQh
systemd-private-00b79d7982304e35aee4a9d7c3dc6b4b-power-profiles-daemon.service-WbqdV1
systemd-private-00b79d7982304e35aee4a9d7c3dc6b4b-switcheroo-control.service-zdQf5u
systemd-private-00b79d7982304e35aee4a9d7c3dc6b4

[2021-11-04 18:27] wbondarchuk commented on #20693
It says that the logs are here, but they are not

[2021-11-04 21:14] nickboldt opened #20730 "Update to newer ansi-regex"
### Is your task related to a problem? Please describe

As reported in https://issues.redhat.com/browse/CRW-2384 older versions of ansi-regex have regex / security issues.

It's suggested we move up to 5.0.1 or 6.0.1, and drop out older versions.

Currently, yarn.lock has these versions:

[code]

### Describe the solution you'd like

It's suggested we move up to 5.0.1 or 6.0.1, and drop out older

[2021-11-05 02:58] nickboldt commented on #20729
new build from 9 hrs ago:

https://quay.io/repository/eclipse/che-theia-dev?tab=tags

![image](https://user-images.githubusercontent.com/227597/140450918-88cc7de8-8883-41bb-9d13-eb7e2611497c.png)

maps to the commit used to build it:

![image](https://user-images.githubusercontent.com/227597/140450961-48fb147c-2f73-44a7-bc87-fb756a460012.png)

So... resolved?

[2021-11-05 05:19] #20729 closed

[2021-11-05 07:40] ibuziuk opened #20731 "Che Controller Sprint 210"
This issue collects work items of the Controller Team for Sprint 210 (10 November - 30 November).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (November 10th)

The previous sprint https://github.com/eclipse/che/issues/20674

## Sprint goals
- Finalize Milestone 3 related tasks assigned to the `team/controller` - https://github.com/eclipse/che/issues

[2021-11-05 07:51] ibuziuk commented on #20537
@musienko-maxim could you please clarify the status of the issue? should we move it to the next sprint?

[2021-11-05 08:11] RomanNikitenko opened #20732 "It's not possible to run Happy Path tests for che-theia PRs"
### Describe the bug

Happy Path tests are not started for `che-theia` PRs.

Please see:
- https://github.com/eclipse-che/che-theia/pull/1049#issuecomment-961694650
- https://github.com/eclipse-che/che-theia/pull/1238#issuecomment-961685451

### Che version

next (development version)

### Steps to reproduce

I tried 2 ways:
- push a new commit to my PR
- add comment `[crw-ci-test --rebuild]` to m

[2021-11-05 10:55] dmytro-ndp commented on #20732
@RomanNikitenko: thanks for reporting about an issue!

There was an outage on CRW Jenkins side, which had broken Happy path test triggering.

It works correctly now.

[2021-11-05 10:55] #20732 closed

[2021-11-05 10:58] akurinnoy opened #20733 "[UD] Refactor IDE loading flow"
### Is your task related to a problem? Please describe

- it’s not possible to properly and fully cover this flow with unit tests;
- it is harder every time to fix bugs and to add improvements and features;
- these components haven't been changed significantly since POC but our understanding of how they should work and how that should be done has evolved since then.

### Describe the solution you'

[2021-11-05 11:01] benoitf opened #20734 "Github action happy path tests are failing on workspace readiness"
### Describe the bug

The IDE is not loaded in dashboard, it's stuck in 'waiting for IDE' state

https://user-images.githubusercontent.com/436777/140500671-efd9fa5f-44f5-414d-9ac4-dc704e07ec16.mp4

### Che version

next (development version)

### Steps to reproduce

look at various github action happy path tests https://github.com/che-incubator/chectl/actions/workflows/happy-path.yml

### Expected

[2021-11-05 11:05] benoitf commented on #20733
Also would it mean that some part is delegated on the server side ?
And also doest it mean it can be a smaller page to load ?

[2021-11-05 12:01] akurinnoy commented on #20733
It wasn't meant to be done in the scope of this issue but it makes sense. Could you elaborate on what you think can be delegated to the server side?

I thought about that as a separate issue. The client bundle has been grown and we need to look into it. Additionally, we can split the bundle and separate the IDE loading page and factory loading page so they will be even smaller.

[2021-11-05 12:50] AndrienkoAleksandr opened #20735 "Fix mac os based ci checks for che-operator"
### Is your task related to a problem? Please describe

Github is working on update mac ox environment to the new latest label. This changes broke che-operator ci Minishift checks based on mac os x.

### Describe the solution you'd like

Fix broken ci checks.

### Describe alternatives you've considered

_No response_

### Additional context

[code]

[2021-11-05 13:03] benoitf commented on #20733
Everything that would lower the bandwidth required on client side

yes just wanted to bring awareness in case you're doing some refactoring, it might be easier later if you take this into account

[2021-11-05 14:23] benoitf opened #20736 "Document all the changes related to plug-ins in DevWorkspace mode"
### Is your task related to a problem? Please describe

It should explain that editors can be injected, that extensions may no longer run into sidecar, rules on how the 'user container' is elected, etc

### Describe the solution you'd like

document this :-)

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-05 14:40] #19105 closed

[2021-11-05 14:52] benoitf commented on #20718
fixed

[2021-11-05 14:52] #20718 closed

[2021-11-05 14:58] olexii4 opened #20737 "[UD] The ability to update a running devworkspace is broken."
### Describe the bug

[UD] The ability to update a running devworkspace is broken.

### Che version

next (development version)

### Steps to reproduce

1. Create a new devworkspace.
2. Do some changes (e.g. change an image in the conteiner) in the devfile editor and pres 'save' button.
3. Workspace is restarting immediately after saving changes.

### Expected behavior

Show a message that these c

[2021-11-05 15:47] tolusha commented on #20728
duplicates https://github.com/eclipse/che/issues/20735

[2021-11-05 15:47] #20728 closed

[2021-11-05 17:27] l0rd opened #20738 "Handle gracefully when an invalid devfile is found in a git repository"
### Is your enhancement related to a problem? Please describe

Currently Che starts successfully workspaces from a Git repository where there are no devfiles: the default component and editor will be used. When a workspace has a devfile that's invalid instead, there is no way for a user to start it using the default component (to fix the devfile for example).

### Describe the solution you'd like

[2021-11-05 17:35] l0rd commented on #20616
Closing this issue as the orignal problem (supporting v2 devfiles when `devWorkspaceEnabled: false`)  has been addressed. A generic solution to handle unsupported devfiles versions is tracked by https://github.com/eclipse/che/issues/20738

[2021-11-05 17:35] #20616 closed

[2021-11-05 17:56] tolusha commented on #20712
Finally guide above https://github.com/eclipse/che/issues/20712#issuecomment-961295806 works

[2021-11-05 18:04] tolusha commented on #20726
I think it is the same issue
https://github.com/eclipse/che/issues/19914

ingress path is `/dashboard/ ` but in case of GCP in must be `/dashboard/*`

To check this:
1. scale down operator `kubectl scale deployment che-operator --replicas=0 -n eclipse-che`
2. patch ingress `kubectl patch ingress/che-dashboard -p '[{"op": "replace", "path": "/spec/rules/0/http/paths/0/path", "value":"/dashboard/*"}

[2021-11-05 19:33] npw3202 commented on #20726
Thanks for the response, actually it looks like the solution is a little different than suggested. Interestingly enough, that recommended solution didn't work (resulted in an infinite redirect),  but changing the ingress path to "/.*" only was also not enough. The annotation
[code]
per https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/ was also required. Even with GCP, th

[2021-11-05 19:36] npw3202 commented on #20726
looks like all is WAI now, lmk if you want me to send a PR to fix this in the operator code / send a PR for documentation fix. Thanks so much for your help.

[2021-11-05 20:14] mkuznyetsov opened #20739 "Release Che 7.39.0"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [ ] che-machine-exec, che-server, che-e2e, che-devfile-registry, che-dashboard, jwtproxy, kubernetes image puller
2. [ ] che-th

[2021-11-05 20:14] mkuznyetsov opened #20740 "Release Che 7.39.1"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [ ] che-machine-exec, che-server, che-e2e, che-devfile-registry, che-dashboard, jwtproxy, kubernetes image puller
2. [ ] che-th

[2021-11-05 20:14] mkuznyetsov opened #20741 "Release Che 7.39.2"
### List of pending issues / PRs
* [ ] description #xxx https://github.com/eclipse/che/issues/xxx

### Release status

The following will be released via [che-release](https://github.com/eclipse/che-release/blob/master/cico_release.sh) according to a series of phases:

1. [ ] che-machine-exec, che-server, che-e2e, che-devfile-registry, che-dashboard, jwtproxy, kubernetes image puller
2. [ ] che-th

[2021-11-05 23:12] nickboldt commented on #20672
Added a second commit that will do a MM notification if the orchestrator fails.

![image](https://user-images.githubusercontent.com/227597/140588113-7cd5ab73-5da7-4f98-b2ef-d278c0e4e857.png)

https://mattermost.eclipse.org/eclipse/pl/9769x6c4b7nepgmt49ppffnnnw

[2021-11-05 23:12] #20672 closed

[2021-11-05 23:33] nickboldt commented on #20178
Does this mean that crwctl will ONLY be used for OCP 3.11 (operator mode) ?

Or is the plan to keep olm mode in crwctl, but remove it from chectl?

Asking because QE relies heavily on crwctl to do install tests w/ CRW 2.13. Seems a strange choice to make crwctl an Officially Supported install method, then remove it a few months later.

So if crwctl will continue support olm mode, we need to be cle

[2021-11-06 00:00] nickboldt commented on #18771
Work started this past week on this issue but it is unclear how much progress has been made, as Mykhailo did not provide a standup / status before going on PTO for two weeks.

[2021-11-06 00:00] nickboldt commented on #18772
Work started this past week on dependent issue #18771, but it is unclear how much progress has been made, as Mykhailo did not provide a standup / status before going on PTO for two weeks.

[2021-11-06 00:01] nickboldt commented on #20121
Work started this past week on this issue but it is unclear how much progress has been made, as Mykhailo did not provide a standup / status before going on PTO for two weeks.

[2021-11-06 09:10] Ga2nibal commented on #20690
usage without `--version` works.
Thanks!

[2021-11-06 09:10] #20690 closed

[2021-11-07 02:22] donaldm opened #20742 "Issues running air gapped"
### Describe the bug

The use of image shas is causing problems when trying to run eclipse che airgapped. When I try to push the ubi8-minimal image using any of docker, podman, or skopeo i am getting a different sha256 sum and the image is not found in the airgap registry. This keeps the eclipse che workspace from starting.

I have tried downloading this image on a couple different machines, throu

[2021-11-08 04:09] john-heinnickel opened #20743 "Support more python versions in extension sidecar"
### Is your enhancement related to a problem? Please describe

The VSCode Python extension is capable of using a range of Python versions for its target interpreter.  Only version 3.6 and up are officially supported, but the extension seems functional when targeting an unsupported python version in my limited experience.

On a desktop, the extension is able to select any interpreter on a host syst

[2021-11-08 07:22] benoitf commented on #20743
Hello John,

with upcoming DevWorkspace engine (and devfile v2) we're able to run the extensions in the 'user container'.
So it means, that users can define a container with the version of Python that they want and it'll be able to use it. And de facto, more Python versions can be brought.

Also there is the introduction of the universal developer image https://github.com/devfile/developer-images

[2021-11-08 07:37] tolusha commented on #20726
@npw3202
Yes, pls. That would be nice!

[2021-11-08 07:38] tolusha commented on #20178
OCP 3.11: crwctl with `--installer operator`
OCP 4.x: OpeatorHub + crwctl with `--installer olm`

[2021-11-08 07:46] benoitf commented on #20742
Hello,

Maybe you're not copying the multi-arch manifest but only the specific arch image

If I go on https://catalog.redhat.com/software/containers/ubi8-minimal/5c64772edd19c77a158ea216 and copy the Digest displayed in bottom right page like
`registry.access.redhat.com/ubi8-minimal@sha256:4d6547bbb7c5fe0f0d37b491c0c1975ff96bf4cf1c26dd665e3a5d70918b5564`

Then I start a local registry

[code]

And

[2021-11-08 08:33] #20094 closed

[2021-11-08 09:19] xbaran4 commented on #20432
Issue addressed by https://github.com/eclipse-che/che-server/pull/162. This only concerns Bitbucket which uses OAuth1.
For Github and Gitlab which use OAuth2 see https://github.com/eclipse/che/issues/20497.

[2021-11-08 09:20] #20432 closed

[2021-11-08 12:12] tolusha commented on #20010
close if favor of https://github.com/eclipse/che/issues/20671

[2021-11-08 12:12] #20010 closed

[2021-11-08 13:51] nickboldt commented on #20731
To be discussed / added to sprint as appropriate:
* https://issues.redhat.com/browse/CRW-1422 - Mario would like to know if you can that this work on in a coming sprint so we can add these two images to the CRW payload. Because without your help, we won't hit 31! :slightly_smiling_face: #baskinRobbins
* https://issues.redhat.com/browse/CRW-2253 - please confirm when DWO 0.10 will be live, and into

[2021-11-08 15:29] donaldm commented on #20742
Thank you for the quick response. I think that makes sense. I had tried the copy all, but it is possible I was trying the wrong digest.

I ended up solving my issue by relying on my mirror configuration to Artifactory to pull the images from quay.io and then setting variables for the plugin and devfile images. At some point I may need to run this fully air-gapped so this information will be useful

[2021-11-08 16:54] ibuziuk commented on #20664
@svor @skabashnyuk @tolusha @themr0c @l0rd @nickboldt @azatsarynnyy please, take a moment to discuss during the team's next sprint planning

[2021-11-09 07:29] tolusha opened #20748 "Che Deploy Sprint #210"
#### Timeframe
Nov 10 - Nov 30

#### Team
| GitHub account  |
| ------------- |
| @tolusha |
| @mmorhun  |
| @AndrienkoAleksandr  |

#### Holidays / events:

#### CRW releases
CRW 2.10 is based on Eclipse Che 7.32.x
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse Che 7.40.x

---
### CRW issues
- [

[2021-11-09 07:30] #20648 closed

[2021-11-09 07:40] #20742 closed

[2021-11-09 08:52] themr0c commented on #20552
Referenced in https://issues.redhat.com/browse/RHDEVDOCS-3313

[2021-11-09 08:55] svor commented on #20488
I'll take care about it when che-server engine will be disabled

[2021-11-09 10:45] svor commented on #19442
The list of samples which need to be ported is here https://github.com/eclipse/che/issues/19341#issuecomment-947443288

[2021-11-09 10:45] #19442 closed

[2021-11-09 12:53] #20725 closed

[2021-11-09 13:31] dkwon17 commented on #20661
Closing thanks to https://github.com/devfile/devworkspace-operator/pull/663

[2021-11-09 13:32] #20661 closed

[2021-11-09 14:49] vinokurig opened #20749 "[DevWorkspace] Make it possible to bind namespace role to a namespace service-account"
### Is your task related to a problem? Please describe

When provisioning a namespace, Che sets [`serviceAccountName`  as `che-workspace`](https://github.com/eclipse-che/che-server/blob/main/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesNamespaceFactory.java#L115), but in the DevWorkspace installation we have [another Service Accou

[2021-11-09 14:51] vinokurig commented on #20622
blocked by https://github.com/eclipse/che/issues/20749

[2021-11-09 15:00] olexii4 commented on #20734
Sims the same reason https://github.com/eclipse/che/issues/20698

[2021-11-09 15:02] Ohrimenko1988 opened #20750 "Local tests fails because of incompatible chromedriver version"
### Is your task related to a problem? Please describe

Local tests fails because of incompatible chromedriver version
[code]

### Describe the solution you'd like

Update the Chromedriver to be compatible with the latest chrome browser version.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-09 15:28] dkwon17 opened #20751 "Creating a DevWorkspace with memoryRequest > memoryLimit incorrectly results in WorkspaceEngineFailure"
### Describe the bug

When deploying a DevWorkspace with a container where `memoryRequest` is greater than `memoryLimit` results a `WorkspaceEngineFailure` instead of a `BadRequestFailure`.

![image](https://user-images.githubusercontent.com/83611742/140952361-a0ed4062-d737-4797-ad59-40e2c689ecd6.png)

### Che version

other (please specify in additional context)

### Steps to reproduce

1. Checko

[2021-11-09 15:37] kollachaitanyakrishna commented on #20574
@ibuziuk : may I know the timeline to fix the issue.

[2021-11-09 15:46] svor opened #20752 "Plugins Sprint 210"
## Sprint 210 (10 November - 30 November)

### Blockers

### Epics

### CRW
* [x] Move a functionality to run executable endpoint from sidecar plugins to Dockerfiles [CRW-1924](https://issues.redhat.com/browse/CRW-1924) @vitaliy-guliy
* [x] Failed login to the cluster in the "Openshift Connector" plugin [CRW-2440](https://issues.redhat.com/browse/CRW-2440) @vinokurig
* [x] Bug fix: Quarkus plug-in

[2021-11-09 15:51] olexii4 commented on #20733
It should cover Factory flow too
see https://github.com/eclipse-che/che-dashboard/pull/396#pullrequestreview-801191778.

[2021-11-09 16:22] svor commented on #20720
We are going to start with https://github.com/eclipse/che/issues/19718 to provide Dev Workspace templates for che-theia editor and host them in the devfile registry

[2021-11-09 20:47] amisevsk commented on #20751
This issue would be better suited for the [devworkspace-operator](https://github.com/devfile/devworkspace-operator) repo. I think the ultimate fix may belong in the (further) upstream devfile/api repo, as they provide the basic validation package used in DWO for validating DevWorkspaces.

[2021-11-09 20:59] amisevsk commented on #20751
https://github.com/devfile/api/issues/672 tracks this as a validation item in devfile/api.

[2021-11-10 07:31] #20715 closed

[2021-11-10 09:14] Ohrimenko1988 opened #20756 "Update tests documentation and scripts to use the "npm ci" command instead of "npm install""
### Is your task related to a problem? Please describe

The ```npm ci``` command helps to reach reproducibility of environment it installs dependencies based on package-lock.json and dependencies always has particularly defined versions. Vise versa the ```npm install``` command can produce a different results and should be used only for installing new dependencies.

### Describe the solution you'd

[2021-11-10 09:19] Ohrimenko1988 commented on #20750
Done: https://github.com/eclipse/che/pull/20753

[2021-11-10 09:19] #20750 closed

[2021-11-10 10:53] svor commented on #20749
It is a blocker to persist Che-Theia preferences when DW is enabled #20622
@ibuziuk @amisevsk  is it possible to take this issue into the next sprint?
cc @l0rd

[2021-11-10 12:08] svor commented on #20653
Superseded by #20752

[2021-11-10 12:08] #20653 closed

[2021-11-10 13:45] benoitf commented on #20734
I would not say it's a blocker as it's only reproduced on github actions

[2021-11-10 14:17] ScrewTSW commented on #20731
I'll be working on:
https://issues.redhat.com/browse/CRW-2175
https://issues.redhat.com/browse/CRW-1744
https://issues.redhat.com/browse/CRW-1664
https://issues.redhat.com/browse/CRW-1485
https://issues.redhat.com/browse/CRW-2043

[2021-11-10 15:02] tolusha opened #20757 "Migration guide from internal to external PostgreSQL DB"
### Is your task related to a problem? Please describe

Users would like to switch from internal to external DB.
We need migration steps for this procedure

### Describe the solution you'd like

Describe migration steps

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-10 15:11] tolusha opened #20758 "Simplify Eclipse Che configuration format (CheCluster API v2)"
### Is your task related to a problem? Please describe

After switching to DevWorkspace engine we might need to drop some fields.
Some fields are deprecated already, other are required to be renamed.

### Describe the solution you'd like

Collect all possible changes in CheCluster CR

### Additional context

This is how the new configuration sections looks like

[code]

## Release Notes Text

`Che

[2021-11-10 15:14] tolusha opened #20759 "Specify `che-tls` secret for routes"
### Is your enhancement related to a problem? Please describe

We require to reconfigure OpenShift to use custom certificates for Eclipse Che, but users would like to set certificates to Eclipse Che only without touching cluster (like done for k8s)

### Describe the solution you'd like

Allow users to set certificates for routes

### Describe alternatives you've considered

_No response_

### Addi

[2021-11-10 16:55] ibuziuk commented on #20631
PR has been merged https://github.com/eclipse-che/che-server/pull/177
Closing

[2021-11-10 16:55] #20631 closed

[2021-11-10 22:06] nickboldt commented on #20739
Che 7.39.0 operator release has failed with:

[code]
-- https://github.com/eclipse-che/che-operator/runs/4169266852?check_suite_focus=true

@tolusha  is that something that needs to be run in main branch, changes committed, then release restarted?

also "Nighlty bundle" ... "regenerate next bundle" :smile:

[2021-11-10 22:40] sebastiankomander opened #20761 "Dashboard on AKS not working (too many redirects)"
### Describe the bug

Infrastructure:

- Azure Kubernetes Service (kubernetes-version 1.20.9)
- Nginx-Ingress
- Cert-Manager / Lets Encrypt

Tried multiple variants:
chectl server:deploy --installer=operator --platform=k8s --domain=<mydomain>
chectl server:deploy --installer=operator --platform=k8s --domain=<mydomain> --multiuser
chectl server:deploy --installer=helm --platform=k8s --domain=<mydom

[2021-11-10 23:15] dkwon17 opened #20762 "Missing devworkspace-controller-metrics service when installing Che with Dev Workspace engine using chectl"
### Is your enhancement related to a problem? Please describe

When installing Che with the Dev Workspace engine using `chectl` like so:
[code]

the [`devworkspace-controller-metrics`](https://github.com/devfile/devworkspace-operator/blob/main/deploy/deployment/kubernetes/objects/devworkspace-controller-metrics.Service.yaml) service is missing from the `devworkspace-controller` namespace.

This is

[2021-11-11 06:28] l0rd commented on #20528
@metlos @skabashnyuk is someone working on this?

[2021-11-11 07:02] l0rd opened #20763 "Increase CPU required by the OpenShift connector plugin"
### Is your enhancement related to a problem? Please describe

The OpenShift Connector plugin takes a long long time to start. I looked a the CPU consumption and it looked like it was using all the 500 milicores available. I increased the the CPU limit in the devfile to 1000 milicores and the problem disappeared.

Curiously I tried to reproduce it on hosted Che and the OpenShift connector loads fa

[2021-11-11 08:12] skabashnyuk commented on #20528
No

[2021-11-11 08:33] tolusha commented on #20739
Updated.
https://github.com/eclipse-che/che-operator/pull/1169

[2021-11-11 11:38] tolusha commented on #20758
Rename:
- `server.devfileRegistryUrl` -> `devfileRegistryURL`
- `server.pluginRegistryUrl` -> `pluginRegistryURL`

[2021-11-11 11:38] tolusha commented on #19632
Close in favor of https://github.com/eclipse/che/issues/20758

[2021-11-11 11:38] #19632 closed

[2021-11-11 11:41] tolusha commented on #20722
We agreed to move migration script into a doc to have completely manual migration guide.

[2021-11-11 11:41] #20722 closed

[2021-11-11 12:29] #20654 closed

[2021-11-11 12:39] #20645 closed

[2021-11-11 15:00] tolusha commented on #20761
It might be the same reason
https://github.com/eclipse/che/issues/20726

[2021-11-11 16:34] gjevardat commented on #20685
Hello unfortunately no :( I tried advice of @mmorhun  but still having this network issue
[code]

[2021-11-11 16:56] gjevardat commented on #20685
We see this is really the readiness probe that is failing. I guess the failing IP is an internal IP so not sure why it is not visible

[2021-11-11 20:11] Proger666 opened #20765 "chectl - ignore ssl errors"
### Summary

I use managed Kubernetes installation with self-signed certs and I have access to only intermediate CA certificate.

When I try to run chectl it's failing with error:
❯ 👀  Looking for an already existing Eclipse Che instance
    ✖ Verify if Eclipse Che is deployed into namespace "eclipse-che"
      → **unable to get issuer certificate**

Because kube-api server use certificate signed

[2021-11-12 06:18] tolusha commented on #20765
Hi. @Proger666
Try `export NODE_TLS_REJECT_UNAUTHORIZED=0` before running `chectl`

[2021-11-12 09:27] sebastiankomander commented on #20761
I tried patching che-dashboard-Ingress:

`Name:             che-dashboard
Namespace:        eclipse-che
Address:
Default backend:  default-http-backend:80
TLS:
  che-tls terminates che-eclipse-che.mydomain.con
Rules:
  Host                                            Path  Backends
  ----                                            ----  --------
  che-eclipse-che.mydomain.com

[2021-11-12 09:57] #20687 closed

[2021-11-12 09:57] skabashnyuk opened #20766 "Che Platform Sprint #210"
### Is your task related to a problem? Please describe

#### Timeframe
Oct 25 - Nov 11

#### Team
| Name  |
| ------------- |
| @sparkoo   |
| @metlos   |
| @mshaposhnik   |
| @xbaran4   |
| @skabashnyuk  |

#### Holidays / events:

#### CRW releases
CRW 2.6 is based on Eclipse Che 7.24.x
CRW 2.7 is based on Eclipse Che 7.26.x
CRW 2.8 is based on Eclipse Che 7.28.x
CRW 2.9 is based on Eclipse Che

[2021-11-12 10:01] skabashnyuk commented on #20497
For Gitlab we are going to create a separate issue.

[2021-11-12 10:46] svor commented on #20763
partially was fixed by https://github.com/eclipse-che/che-plugin-registry/pull/1082

The problem why a plugin CPU is not limited should be investigated

[2021-11-12 10:52] RomanNikitenko commented on #20538
Unfortunately, I faced with a new problem. It's related to `jest` and `ts-jest` dependencies, we use for tests in `che-theia`.
Some info about the problem:
- there are [some rules](https://github.com/eclipse-theia/theia/blob/23e09c2df53e6b8c57ea14c1baf2ffbaa6555408/configs/base.tsconfig.json#L9) in `tsconfig` of `theia`
- the rules are NOT applied for tests
- you can see it [here](https://github.c

[2021-11-12 13:27] sebastiankomander commented on #20761
I tried installer=operator, but che-dashboard-ingress looks wrong
[code]

I looks like the problem ist located in che-ingress. The ingress catches all from "/". So che-dashboard never gets activated and - as far as I can see trying with curl - every requests gets routed to che-ingress and then forwarded to "/dashboard". But /dashboard is getting caught by che-ingress and the redirect starts from b

[2021-11-12 14:12] sebastiankomander commented on #20761
Ok, problem lies within the ingress installation.
If you use an old version of nginx-ingress (v0.41.0) everything works finde. If you use the latest stable version it's not working - see my comment

[2021-11-12 15:13] nickboldt commented on #20739
Next problem:

[code]
https://github.com/che-incubator/chectl/runs/4191184537?check_suite_focus=true

[2021-11-12 15:43] amoldeshpande05 opened #20767 "alias not working when type: kubernetes"
### Alias not working for type kubernetes.

My devfile has the following component

[code]

  Where test.yaml has following content

[code]

I am getting as
podman/container
![image](https://user-images.githubusercontent.com/33426696/141492830-e372affc-30b2-40fd-b77e-eedd3028fd1f.png)

I am expecting alias: appContainer
appContainer.

### Che version

7.37

### Steps to reproduce

Use this devfile

[2021-11-12 16:09] amisevsk commented on #20749
The DevWorkspace Operator has to be limited in what permissions it offers to the workspace service account -- any permissions the workspace SA gets can be used by anyone with DevWorkspace RBAC permissions, so there's a risk of privilege escalation.

Currently, the RBAC provisioned for workspace ServiceAccounts is shown [here](https://github.com/devfile/devworkspace-operator/blob/6238d58cb02958bf32

[2021-11-12 17:00] ScrewTSW commented on #20763
Also added area/hosted-che and bumped up the severity because of the resource quota iisue

[2021-11-15 07:40] mmorhun commented on #20685
Looks like not a Che issue, but the cluster configuration. I don't use MicroK8s, so cannot help with details of it, but may recommend to setup a simple example with two pods and a service. Then manually exec into second pod and try to reach the other one via the service. If this works, Che should work too (but set `disableInternalClusterSVCNames` back to false then).
Alternatively, you can try to

[2021-11-15 08:53] ibuziuk commented on #20767
@azatsarynnyy @benoitf could you please clarify how the alias is expected to be displayed in the theia menu?

[2021-11-15 08:56] tolusha commented on #20739
@nickboldt
fixed https://github.com/che-incubator/chectl/pull/1825

[2021-11-15 09:04] l0rd opened #20768 "Used CPU of a plugin is higher than limit on Developer Sandbox"
### Describe the bug

On developer sandbox the memory used by a plugin goes above the limit:

![image](https://user-images.githubusercontent.com/606959/141751777-08c8219b-44c0-42e9-8c15-44c2e2a3d429.png)

That should not happen. A container cannot use more CPU than its limit. Is the limit not applied? Is the used CPU mis-calculated?

### Che version

7.36

### Steps to reproduce

Use a devfile tha

[2021-11-15 09:10] l0rd commented on #20763
I have tested on nightly Che and it works as expected. I have created as separate issue for the second problem ([used CPU is higher than limit on developer sandbox](https://github.com/eclipse/che/issues/20768)). I am closing this issue as for me the main problem is solved. @ScrewTSW please re-open if you need to keep this issue opened until its fixed on Developer sandbox.

[2021-11-15 09:10] #20763 closed

[2021-11-15 09:14] svor commented on #19718
The idea is to generate DW templates at build time and put them into
`/usr/local/apache2/htdocs/devfiles/v2/{editor}/` folder in che-devfile-registry image.
Firstly let's do it for che-theia editor (`/usr/local/apache2/htdocs/devfiles/v2/che-theia/`).
It could be done by using [devworkspace-handler library](https://github.com/eclipse-che/che-theia/tree/main/tools/devworkspace-handler). To use this

[2021-11-15 09:40] sunix commented on #16765
I have edited this to be java 17,
I think we can keep supporting the plugins for java 8 but we should remove it from the default stacks

[2021-11-15 09:40] sunix commented on #20294
related to https://github.com/eclipse/che/issues/16765

[2021-11-15 09:42] l0rd opened #20769 "Java plugin CPU limit is too low"
### Describe the bug

The CPU used by Java vscode can go above 500m when activating.
![image](https://user-images.githubusercontent.com/606959/141757363-07f3da0f-a6a7-4a52-b4b6-1a01c00bd68f.png)

### Che version

7.36

### Steps to reproduce

Start the Java Spring Boot sample on Developer Sandbox

### Expected behavior

We should increase the CPU limit. Note that this is a limit, not a request. Th

[2021-11-15 09:44] l0rd commented on #20768
I have reproduced that for the Java extension too https://github.com/eclipse/che/issues/20769

[2021-11-15 09:54] AndrienkoAleksandr opened #20770 "Fix devfile for che-operator"
### Describe the bug

After migration che-operator to the new operator-sdk our devfile is out dated. Also maybe make sence to migrate our devfile to version 2.1.0

### Che version

next (development version)

### Steps to reproduce

1. Create workspace from che-operator devfile https://github.com/eclipse-che/che-operator/blob/main/devfile.yaml
2. Start workspace

Actual result: workspace even does

[2021-11-15 10:17] benoitf commented on #20767
I think the name should be the alias name but probably it should be checked for DevWorkspace/devfile v2 engine as che-server engine will be removed

[2021-11-15 10:31] l0rd commented on #20720
Updated the description to use `DevWorkspace` yaml files instead of `devfile`

[2021-11-15 10:58] RomanNikitenko commented on #20538
I discussed with Florent the problem which I described above.
He was able to reproduce it as well for vanilla `theia` and investigated it.
The problem should be fixed by an upgrade versions for `ts-jest` and `jest`.
I tried this way for `theia` and it worked well, so thank you, Florent, very much for your help!

About `che-theia` - I have got some errors after upgrade those versions, so working on

[2021-11-15 12:15] vinokurig commented on #20749
@amisevsk

what exactly two secrets do you mean by `two specific secrets`?

To use secrets from editors we need an access to them. In DW workspace we use token from DW servie-account which is not binded to the secretes role.

We need to have permissions for both service accounts, for dev-workspace SA (`workspace<workspace id>-sa`) and usual (`che-worksace`) SA

[2021-11-15 14:57] azatsarynnyy commented on #20767
Hello @amoldeshpande05,
could you check if the issue is relevant to a DevWorkspace mode?

[2021-11-15 15:27] #20642 closed

[2021-11-15 15:59] amisevsk commented on #20749
The `che-workspace` SA is ignored when using DevWorkspaces, since only one SA can be attached to a pod. The DevWorkspace Operator creates the `workspace<workspace-id>-sa` serviceaccount with permissions specified above. This SA allows access to the `workspace-credentials-secret` already:
[code]

If no other secret access is required, then DWO already provides all access needed.

PR https://github.

[2021-11-15 17:03] bodarajeshkumar opened #20771 "VSCode extension - code to expand the panels automatically is not working"
### Describe the bug

I have a VSCode extension installed in Eclipse-Che. This extension has 4 panels on the left side. These 4 panels should be expanded state by default. They are expanded using the code below

[code]

This code used to work in the old version of Eclipse-Che (version: 7.20.1)
Recently we upgraded the Eclipse-Che to the latest version ( 7.37.2) and now the same code is not working

[2021-11-15 17:28] bodarajeshkumar opened #20772 "VSCode extension TreeView context Icon not showing on hover"
### Describe the bug

I have a VSCode extension installed in Eclipse-Che. The extension has a panel with TreeView. TreeView contains a list of items. Each item has a context Icon associated with it and can be clickable. This icon can be shown by hovering on the icon.
This functionality used to work in the old version of Eclipse-Che (7.20.1). We upgraded it to the latest version of Eclipse-Che and

[2021-11-15 17:32] bodarajeshkumar opened #20773 "Disable timeline view plugin"
### Summary

I am trying to remove Timeline view which shows Git History in Eclispe-Che. is there a way to do it?
or Can you point me to the code which contributes to this Plugin?

### Relevant information

_No response_

[2021-11-15 17:33] nickboldt opened #20774 "[cross-project epic] Update ubi based go builds to 1.16"
### Is your task related to a problem? Please describe

golang 1.16 is now out in RHEC UBI8 containers - `registry.access.redhat.com/ubi8/go-toolset:1.16`

So... downstream will be using 1.16 starting with 2.14 (or sooner in 2.13).

We should use the same golang baseline in upstream too.

Affected projects include:
* che-operator
* backup-restore
* imagepuller
* jwtproxy
* machine-exec
* plugin br

[2021-11-15 18:19] dkwon17 opened #20775 "Documentation for TLS configuration for DevWorkspaces monitoring"
### Is your task related to a problem? Please describe

The DevWorkspaces monitoring documentation's example [Prometheus config](https://github.com/eclipse/che-docs/blob/79629579be44a8399e164501664db21630048842/modules/administration-guide/examples/prometheus-dev-workspace-engine-config.adoc) (introduced in this PR: https://github.com/eclipse/che-docs/pull/2161) currently sets `tls_config.insecure

[2021-11-15 18:24] dkwon17 opened #20776 "Documentation for DevWorkspaces monitoring with OpenShift in-cluster Prometheus for OCP"
### Is your task related to a problem? Please describe

The DevWorkspaces monitoring documentation (introduced in this PR: eclipse/che-docs#2161) does not explain how to setup monitoring with the Prometheus Operator instance from the `openshift-monitoring` namespace.

### Describe the solution you'd like

A new section (ie. procedure) explaining how to set up the `ServiceMonitor`s to monitor the D

[2021-11-15 21:28] max-cx commented on #20749
Hi, a question to whoever is assigned to work on this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:36] max-cx commented on #20459
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:38] max-cx commented on #20677
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:39] max-cx commented on #20193
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:40] max-cx commented on #20724
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:41] max-cx commented on #20254
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:41] max-cx commented on #20090
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:50] max-cx commented on #20596
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:50] max-cx commented on #19341
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:51] max-cx commented on #20622
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:55] max-cx commented on #19718
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:55] max-cx commented on #20638
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 21:55] max-cx commented on #20664
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-15 22:00] max-cx commented on #18772
Hi, a question to the assignee of this issue:

Will the outcome require any changes to the relevant content of the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-16 08:28] vinokurig commented on #20622
@max-cx

I don't think so, this is just a technical debt.

[2021-11-16 08:44] svor commented on #20596
There should be new documentation for End-user guide, I think it should be done by developer who will implement this functionality.

[2021-11-16 09:23] #19946 closed

[2021-11-16 09:23] vinokurig commented on #20749
@amisevsk

We need to have `patch` permissions for the `workspace-credentials-secret` in the `workspace` role. Then adding the `workspace-preferences-secret` as a resource name  to the `workspace` role should be enough to solve the issue.

[2021-11-16 09:57] olexii4 commented on #20193
@max-cx
Yes. It requires some updates in the End-user Guide about a possible editor update If the editor is a default one.

[2021-11-16 10:16] SuyashGupte opened #20777 "How to access host device's camera and microphone in browser preview window?"
I am trying to run a React + Express language translation application in Eclipse che's default che-theia editor. The application is running in the browser preview window but I am unable to take user input using the microphone.

If I open the link in a new tab instead of browser preview the application works fine but is there a way to the same thing using the browser preview extension.

[2021-11-16 11:50] RomanNikitenko commented on #20771
@bodarajeshkumar
Hello!
thank you for reporting the problem!

Do you mind to share your VSCode extension (or some sample) to reproduce the issue?
We could try how it works for vanilla `theia` to detect if the problem on `che-theia` side or it's on `theia` side.

thanks in advance!

[2021-11-16 11:54] RomanNikitenko commented on #20772
@bodarajeshkumar
Hello!
thank you for reporting the problem!

Do you mind to share your VSCode extension (or some sample) to reproduce the issue?
It will help to reproduce and investigate the problem!

thanks in advance!

[2021-11-16 12:25] RomanNikitenko commented on #20538
I applied new versions `ts-jest`,`jest` and `@types/jest` for `che-theia` extensions and plugins, also I provided some adaptation for tests.
It works well for building `che-theia`, but it fails on CI jobs and at building images with errors which I provided on the screenshot [here](https://github.com/eclipse/che/issues/20538#issuecomment-967007208).

Continue to work on that problem...

[2021-11-16 12:28] sparkoo opened #20778 "chectl fails to deploy minikube with Dex"
### Describe the bug

When deploying on minikube with `nativeUserMode` enabled, chectl fails to deploy Dex.

### Che version

next (development version)

### Steps to reproduce

1. start minikube
2. create checluster patch file `native.patch`:
[code]
3. deploy `chectl server:deploy --platform=minikube --installer=operator --workspace-engine=dev-workspace --che-operator-cr-patch-yaml=native.patch`

[2021-11-16 12:34] sparkoo opened #20779 "Chectl should print dex users credentials"
### Is your enhancement related to a problem? Please describe

Chectl can now deploy on minikube with Dex. There are predefined static users https://github.com/che-incubator/chectl/blob/main/resources/dex/configmap.yaml#L28 that can be used to login into Che. Also chectl still prints credentials to keycloak, which does not make sense in this setup.

### Describe the solution you'd like

At the end

[2021-11-16 12:59] vinokurig opened #20780 "Can not execute the @eclipse-che/che-theia-devworkspace-handler npm package"
### Describe the bug

The [npm package](https://www.npmjs.com/package/@eclipse-che/che-theia-devworkspace-handler) hasn't any executable references, so it cannot be executed e.g. by npx.

### Che version

next (development version)

### Steps to reproduce

execute `npx @eclipse-che/che-theia-devworkspace-handler`
See:
[code]

### Expected behavior

The command should provide some output.

### Runt

[2021-11-16 12:59] vinokurig commented on #20780
@benoitf Could you please take a look?

[2021-11-16 13:00] vinokurig commented on #19718
Is blocked by https://github.com/eclipse/che/issues/20780

[2021-11-16 13:11] benoitf commented on #20780
yes but it should not block you as you can workaround it by building the library

[2021-11-16 13:53] benoitf commented on #20780
PR to fix the issue: https://github.com/eclipse-che/che-theia/pull/1256

[2021-11-16 14:09] ibuziuk commented on #17187
I think this issue should be closed due to the `all-namespace` installation mode switch - https://github.com/eclipse/che/issues/20602 / https://github.com/eclipse/che/issues/20614

[2021-11-16 14:19] disaster37 opened #20781 "Since 7.38.x, can't connect on workspace. 502 Bad Gateway"
### Describe the bug

When I launch new or existing workspace, I get error `502 Bad Gateway`. The workspace pod is successfully running and green badge is displayed on the workspace name.

It seems to have problem with URL and keykloak. It failed on request (return code 502):
[code]

I can successfully access on `https://che-test.rancher-hpd.hm.dm.ad/auth/realms/che/protocol/openid-connect/auth`,

[2021-11-16 15:18] #20780 closed

[2021-11-16 15:49] max-cx commented on #20508
@benoitf Is there any new docs content that we need to add to the _Installation Guide_ or _Administration Guide_ or _End-user Guide_?

Yes/No?

[2021-11-16 15:51] max-cx commented on #20627
The outcome will require new content for the docs, correct?

Do we already know which SME will draft the new content?

[2021-11-16 16:23] l0rd opened #20782 "Inject user kubeconfig into Che workspaces with DevWorkspace enabled"
### Is your enhancement related to a problem? Please describe

In current Che workspaces with DevWorkspace disabled, when the OpenShift connector starts, [authentication to the OpenShift API is done automatically](https://github.com/eclipse/che/issues/15261).

This mechanism has 2 problems:
1. It's fragile and intrusive https://github.com/eclipse/che/issues/16930
2. It doesn't work when DevWorkspa

[2021-11-16 16:32] max-cx commented on #20496
@tolusha, do we need to add any new content here to the Installation Guide or Administration Guide or End-user Guide?

Yes/No?

[2021-11-16 17:09] azatsarynnyy opened #20783 "Can't start a workspace with Che-IDEA editor"
### Describe the bug

A workspace with Che-IDEA editor can't be started.

### Che version

next (development version)

### Steps to reproduce

Try to start a workspace with the following devfile
https://github.com/redhat-developer/codeready-workspaces/blob/crw-2.13-rhel-8/tech-preview-devfiles/idea/latest.yaml

### Expected behavior

A workspace should start.

### Runtime

minikube

### Screenshot

[2021-11-16 17:20] ibuziuk opened #20784 "As a user, I want to start a DevWorkspace from a factory link for repositories with devfile v1"
### Is your task related to a problem? Please describe

Currently, when DevWorkspace engine is enabled it is not possible to start a factory link for repositories that have devfile v1.
User should still have a possibility to start a workspace with a factory link for repositories with devfile v1 when DevWorkspace engine is enabled.

### Describe the solution you'd like

1. Eclipse Che is running wi

[2021-11-16 17:44] amisevsk commented on #20749
The question I'm asking is whether we should add `workspace-preferences-secret` to the workspace role in the first place though -- once it's added, it's harder to remove, so I want to make sure this makes sense as opposed to e.g. adding `get` and `patch` for a specific configmap instead.

In other words, as an abstract user of DevWorkspaces, would I prefer having access to two secrets, named `work

[2021-11-16 18:12] bodarajeshkumar commented on #20771
@RomanNikitenko
Thank you for checking. Here is the code for the sample VSCode extension
https://github.com/bodarajeshkumar/tree-view-sample
This shows all the  node dependencies in the panel like below
<img width="655" alt="Screenshot 2021-11-16 at 11 37 45 PM" src="https://user-images.githubusercontent.com/82795269/142041904-39b0dd5b-5d31-4448-8018-7747d4fb2574.png">

[2021-11-16 18:13] bodarajeshkumar commented on #20772
@RomanNikitenko
Thank you for checking. Here is the code for the sample VSCode extension
https://github.com/bodarajeshkumar/tree-view-sample
This shows all the  node dependencies in the panel like below
<img width="655" alt="Screenshot 2021-11-16 at 11 37 45 PM" src="https://user-images.githubusercontent.com/82795269/142041904-39b0dd5b-5d31-4448-8018-7747d4fb2574.png">

[2021-11-16 18:19] nils-mosbach commented on #20781
We had the same issue on rancher provisioned clusters due to default buffer limits of the ingress controller.

If you look at the ingress controller logs, there should pop up something like this:
[code]

Solution in our case was to increase `proxy-buffer-size` to `16k`. I think default is 8k which is exceeded by some (but not all) headers passed by keycloak.

---
*Project* `system` > *Namespace* `

[2021-11-16 18:27] JPinkney commented on #20749
Is there a point of having workspace preferences be a secret other then the fact that there is some theia code that makes it easier to interact with secrets?

If I were a random user of devworkspace IMO I would expect workspace preferences to be in a configmap rather then a secret

[2021-11-16 19:37] l0rd opened #20785 "Issues starting workspaces when DevWorkspace is enabled"
### Describe the bug

I wanted to test the OpenShift connector with DevWorkspace enabled. Using the project https://github.com/l0rd/spring-petclinic and a v2 devfiles. I have logged here the problems I have found.

#### ~~Problem 1. Factory URL devfilePath parameter is ignored~~

I am trying with `<che-host>/f?url=https://github.com/l0rd/spring-petclinic&devfilePath=.devfilev2.yaml`
The issues:
1.

[2021-11-16 19:39] benoitf commented on #20785
Url should be
[code]

[2021-11-16 19:53] vinokurig commented on #20749
There is no technical reason for storing preferences in secret but not in config-map, so I am +1 to have a config-map `workspace-preferences-configmap`.

[2021-11-16 22:44] max-cx commented on #20496
@tolusha, I updated the Release Notes Text for this issue:

----

= Standardized configuration of OAuth 2.0 for Gitlab, Github, and Bitbucket

This enhancement standardizes and simplifies the use of Secret config files for OAuth 2.0 configuration of git-hosting services (Gitlab, Github, and Bitbucket) for Che workspaces.

----

Feel free to okay, comment, or correct it in https://issues.redhat.com

[2021-11-16 23:04] max-cx commented on #20508
@benoitf, I updated the Release Notes Text for this issue:

----

= Selecting an editor by using a factory link parameter

With this update, users can specify their choices of an editor as a factory link parameter. For example, {prod-url}#__<repository-url>__&editor=che&#45;theia is to select Che-Theia.

----

Feel free to okay, comment, or correct it in https://issues.redhat.com/browse/CRW-2372.

[2021-11-17 00:33] max-cx commented on #20398
@tolusha, I updated the Release Notes Text for this issue:

----

= PostgreSQL Upgrade

{prod} {prod-ver} installs with PostgreSQL 13.
In previous {prod} versions, PosgreSQL 9 is deprecated.

----

Feel free to okay, comment, or correct it in https://issues.redhat.com/browse/CRW-2374.
Thanks!