[2019-11-06 12:32] #14850 closed

[2019-11-06 12:35] vparfonov commented on #13390
@slemeur Please take a look

[2019-11-06 12:41] benoitf commented on #15050
hello, what is the meaning of `autorun` ?
When does it happen ? who is responsible to run these commands ?

[2019-11-06 13:04] vinokurig commented on #14398
@davidwindell **AFAIK** Che and Che workspaces pods are running under non-root user.

[2019-11-06 13:08] mshaposhnik commented on #15050
@benoitf they will be auto run when che-theia finish loading  (probably, yes, only for the first time when workspace created from devfile via factory or chectl )

[2019-11-06 13:11] benoitf commented on #15050
ok then I've an issue where I want some actions be executed on the `first` step (like after clone of projects is done) (like doing post-cloning stuff)

and some of them, each time my workspace is started (like starting my run action every time)

so I was liking the idea of the attached lifecycle

[2019-11-06 13:13] davidwindell commented on #14398
@vinokurig this can be changed by setting securityContext.runAsUser to '0' which is already necessary because of the bugs in #14330

[2019-11-06 13:15] benoitf commented on #15050
@mshaposhnik and for the order ?

basically there is choice of either defining set of actions for given lifecycle or adding lifecycle to each command
but in one case I found it less readable. (if I've 50 commands, it may be difficult to quickly read what commands will be executed, when and the order) while in another case, I can read all actions defined for a given lifecycle event easily.

[2019-11-06 13:35] mshaposhnik commented on #15050
Ordering is another big question, since it makes sense only for the exec type commands, IMO, as it's no sense to put an `openfile` between 2nd and 3rd `exec`. Also its unclear how the order should behave is previous command is failed etc and if it's possible to detect such a failures from theia side etc
As for the WS loading licefycle, IMO there is not a lot of actions that can be executed without

[2019-11-06 13:38] davidfestal opened #15128 "Setup the CRW 2.0 OperatorHub manifests in the new `codeready-workspaces-operator` repo"
### Describe the solution you'd like

We should setup the OperatorHub manifests (package + CSVs) in the new `codeready-workspaces-operator` GH repo, in order to:
- rename the `final` channel to `stable` for CRW 2.0 releases
- add a `legacy` channel (or another name) to for future upgrades on the 1.X update channel.
- add a sync between this repo and package.devel where CSV are stored for now.

[2019-11-06 13:38] metlos opened #15129 "Finish up the namespace-selection MVP"
### Is your task related to a problem? Please describe.
We need to merge PR #15040 so that we can continue with the tasks defined on #14908.

This issue tracks the outstanding work:
* [x] make the testsuite pass in PR https://github.com/eclipse/che/pull/15040
* [x] make sure new workspaces always use the new namespace config
* [x] Revisit all the places that check for nullity of `infrastructureNam

[2019-11-06 13:42] tsmaeder commented on #15113
Anton Kozyakov has a WIP PR for this problem: https://github.com/eclipse-theia/theia/pull/6465

[2019-11-06 13:43] metlos opened #15130 "Implement the devfile namespace override in the workspace API"
### Subtask of #14908

### Is your task related to a problem? Please describe.
The workspace API needs to be able to override the namespace where the workspace should be created. This is already implemented in the MVP PR #15040 , we just need to finalize the naming.

### Additional context
Depends on: ~~#15120~~, ~~#13617~~

[2019-11-06 13:43] tsmaeder commented on #15113
We could help him by testing the PR and reviewing changes.

[2019-11-06 13:47] slemeur commented on #13390
Good for me!

[2019-11-06 13:49] davidfestal opened #15131 "CheCtl start should *not* fix the docker images in the CR by default"
### Describe the bug

Currently, when using the `operator` installer, `chectl server:start` overrides the docker images of the identity provider, and registries in the Custor Resource yaml, *in all cases*.
It should not do it when no `cheImage` argument is provided (but instead reste docker images to empty string.

### Che version
 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

[2019-11-06 13:49] tsmaeder commented on #15114
Could very well be a duplicate of https://github.com/eclipse/che/issues/15117

[2019-11-06 13:50] benoitf commented on #15050
it depends, you may run a code generator and then only open the file after code is generated

it's important to me to differentiate "first workspace creation" and "next workspace startup" for example
so there at least two bindings

If I look at some competitors https://www.gitpod.io/docs/44_config_start_tasks/
there are init and before, etc

[2019-11-06 13:50] ibuziuk commented on #15052
@nickboldt https://github.com/eclipse/che/issues/15052#issuecomment-548505132 Closing based on the comment. Feel free to reopen with dedails

[2019-11-06 13:51] tsmaeder commented on #15114
This might be a place to look. https://github.com/redhat-developer/vscode-quarkus/commit/04e7652182876bc6ef2da49d68d7328e4e9a77d8#diff-0dbbad2f7cd76714b5a5e9cba1b5495fR113 Suspicion: we are missing an environment variable.

[2019-11-06 14:00] tsmaeder commented on #15116
We found https://github.com/redhat-developer/vscode-quarkus/blob/3cfe3422293650cbb0130df2fb202b773dbcbbb1/src/utils/shellUtils.ts#L64

if env.shell is undefined, it craps out.

[2019-11-06 14:02] tsmaeder commented on #15116
env.shell is documented here: https://code.visualstudio.com/api/references/vscode-api#env

[2019-11-06 14:02] tsmaeder commented on #15116
It shows as "not implemented" in theia.

[2019-11-06 14:04] anthonma opened #15132 "Workspace Snapshots"
## Summary
Could you please explain to me, what workspace snapshots are and how to use it?
I can't find any information about it in the che docs.

## Relevant information

[2019-11-06 14:08] davidfestal opened #15133 "Bug during CRW update from 1.2 to 2.0 with registry URL"
### Describe the problem

When upgrading from CRW 1.2 to 2.0, we encouter a new problem with the old 1.2 custom resource containing obsolete field values that make the update fail. It's the `PluginRegistryUrl` which was by default set at `www.openshift.io`.

We have to decide if we also manage by documenting an additional manual upgrade step, or simply fix that in the operator code (on the upcomin

[2019-11-06 14:11] mshaposhnik commented on #15050
I just want to avoid the mess of similar kind enitites in the format. We're already have `command` and `action` entities, so adding 3rd one (named `tasks` or anything else) will embarass things even more.
So for me , say, `runOnInit` plus `runOnStartup` attributes of each action sounds much simpler. (yes we can imagine the inconvenient usecases for every format we choice, but we should orientate t

[2019-11-06 14:19] tsmaeder commented on #14759
While most extensions (exception git, I belive) are MIT licensed, we neeed to make sure we're ok consuming the extension: a CQ might be needed,

[2019-11-06 14:21] tsmaeder commented on #14943
Just need to move the infor to the wiki, then.

[2019-11-06 14:28] vitaliy-guliy commented on #15006
@JonasHelming could you provide more information about your workspace? I need at least your devfile to reproduce the case and check the error when installing a plugin (addPlugin request).

I created a workspace from the following devfile but didn't get any errors.
[code]

[2019-11-06 14:32] skabashnyuk opened #15134 "[POC] Access to the workspace containers logs"
### Is your task related to a problem? Please describe.
All logs of the workspace lifetime should be persisted and available to the end-user.

### Describe the solution you'd like

The goal of this task is to provide some idea, direction on the way
- how to keep a history of the latest 5 startups of the workspace
- how to collect and store logs from different containers of workspace
- how to provi

[2019-11-06 14:41] skabashnyuk opened #15135 "[POC] Access to the workspace lifetime event log"
### Is your task related to a problem? Please describe.
User should be able to track all events what is happening with workspace during startup/lifetime/shutdown

### Describe the solution you'd like

The goal of this task is to provide some idea, direction on the way
- Transport and how to consume: Http service endpoint/websocket
- What to track. Brokering? Provisioning? K8s events related to thi

[2019-11-06 14:43] skabashnyuk commented on #15048
closing in prefer of https://github.com/eclipse/che/issues/15134

[2019-11-06 14:43] #15048 closed

[2019-11-06 14:59] skabashnyuk opened #15136 "[POC] How to configure monitoring/tracing with che CRD"
### Is your task related to a problem? Please describe.
How to configure monitoring/tracing with che CRD

### Describe the solution you'd like
The goal of this task is to describe how we see how to configure different use cases with Che CRD (https://github.com/eclipse/che-operator/blob/master/deploy/crds/org_v1_che_crd.yaml)
1. Connect to existed Prom/Jaeger/Grafana
2. Connect to existed Prom/Jaeg

[2019-11-06 15:03] skabashnyuk opened #15137 "[che-operator] Install and setup grafana-operator/prometheus-operator"
### Is your task related to a problem? Please describe.
Setup monitoring stack with che-operator

### Describe the solution you'd like
Setup https://github.com/integr8ly/grafana-operator and https://github.com/coreos/prometheus-operator with che-operator and connect it to che-server

### Describe alternatives you've considered
Reimplement existed deployments https://github.com/eclipse/che/tree/mas

[2019-11-06 15:05] tsmaeder commented on #15116
Since the shell might be different between different sidecar images, this should be implemented on the "plugin" side of the API. Keeping that in mind, it should be fairly straightforward. If the approach does not work, we might have to reschedule the issue.

[2019-11-06 15:06] tsmaeder commented on #15117
This might be a place to look. redhat-developer/vscode-quarkus@04e7652#diff-0dbbad2f7cd76714b5a5e9cba1b5495fR113 Suspicion: we are missing an environment variable.

[2019-11-06 15:15] #12622 closed

[2019-11-06 15:15] #13193 closed

[2019-11-06 15:15] #13218 closed

[2019-11-06 15:15] #13271 closed

[2019-11-06 15:49] rkratky commented on #15075
@DStatWriter, I suppose this has been fixed by https://github.com/eclipse/che-docs/pull/898/, right?

[2019-11-06 15:54] benoitf commented on #15132
Hello,

at some point in old eclipse Che versions, workspace was being able to be snapshotted : ie the state of the container was persisted

but it was not making possible the ability to share easily and to replicate the workspaces, thus it is no longer available

[2019-11-06 16:01] davidfestal commented on #15135
Clearly in the context of the workspace CRD controller, the workspace lifetime events would be kubernetes events attached to the workspace custom resource.
I didn't have time to add the support for that in the existing POC, but it was very near in my todo-list, and will obviously be part of the Epics I'll write in the next Sprint about Workspace CRD.

[2019-11-06 16:12] azatsarynnyy commented on #13408
I'm closing it as `New OpenShift Component` command was removed in
https://github.com/redhat-developer/vscode-openshift-tools/commit/9de60c2414253274576a85dfb2d78c1ffa057f16#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2019-11-06 16:12] #13408 closed

[2019-11-06 16:16] amisevsk commented on #15089
Because I missed that those icons were actually used anywhere (they're all the exact same link). Hence https://github.com/eclipse/che/issues/15090.

[2019-11-06 16:16] benoitf commented on #15118
setting milestone 7.5.0 as it's your sprint @tsmaeder

[2019-11-06 16:16] benoitf commented on #15117
setting milestone 7.5.0 as it's your sprint @tsmaeder

[2019-11-06 16:19] benoitf commented on #15116
setting milestone 7.5.0 as it's your sprint @tsmaeder

[2019-11-06 16:19] benoitf commented on #15114
setting milestone 7.5.0 as it's your sprint @tsmaeder

[2019-11-06 16:20] benoitf commented on #15113
setting milestone 7.5.0 as it's your sprint @tsmaeder

[2019-11-06 16:26] amisevsk commented on #14866
PR merged.

[2019-11-06 16:26] #14866 closed

[2019-11-06 16:47] slemeur commented on #15050
Hi @mshaposhnik.

We have to be very careful here and we need to think about how we can keep the devfile generic. The purpose of the devfile is not to be "che specific" and I'm concerned that we are injecting old concepts into something that does fit.

I see the `devfile` as an abstract definition of a cloud developer environment and its instance is going to be a K8S `pod`. As such, there are life

[2019-11-06 16:59] l0rd opened #15138 "Add a wsmaster property to specify workspaces default security context"
### Is your enhancement related to a problem?

Currently workspace containers are run as unprivileged arbitrary users (uid is a random number of multiple digits). That has some benefits from a security point of view and works well on secured Kubernetes clusters. But some users may come with containers that only work when run as root on an unsecured cluster. See https://github.com/eclipse/che/issue

[2019-11-06 16:59] l0rd commented on #14398
I have created https://github.com/eclipse/che/issues/15138

[2019-11-06 17:51] #15082 closed

[2019-11-07 01:20] echyam opened #15139 "Pass variable argument to docker run"
## Summary
When a user starts a new workspace, I want to pass user-specific arguments to the `docker run` command.

## Relevant information
Example:
I have a folder `/userfiles` I use to keep persistent files across workspaces.  I can mount `/userfiles` using the `CHE_WORKSPACE_VOLUME` variable in `che/dockerfiles/init/manifests/che.env`.

However, I want each user's data to be separated within `/

[2019-11-07 03:13] gattytto commented on #15065
I need some help, please. I will provide reproduction steps. First of all this is specific to minikube+chectl deployment of che.

so far I did code changes in https://github.com/gattytto/che-operator and started the deployment using:
chectl server:start -m -p minikube --che-operator-image=quay.io/gattytto/che-operator:latest

one part of the change is to controller code adding the persistentVolume

[2019-11-07 03:30] gattytto commented on #15065
and it works after a hard reset of the LXC container, at least what was started, comes back.
![image](https://user-images.githubusercontent.com/407397/68357957-c3c9ef00-00f5-11ea-995b-9d0a990e69d0.png)

[2019-11-07 05:49] sparkoo commented on #15020
fixed by https://github.com/eclipse/che-docs/pull/892

[2019-11-07 05:49] #15020 closed

[2019-11-07 06:09] Verenchen commented on #14998
Is it planned to implement something that will enable this?

[2019-11-07 06:53] vinokurig commented on #14998
We are going to apply GitHUb oAuth and upload an ssh public key by pressing a single button

[2019-11-07 07:34] tolusha commented on #15139
@echyam
Could you specify the Che version you are talking about?

[2019-11-07 07:42] anthonma commented on #15132
Thank you for your quick response.

[2019-11-07 07:42] #15132 closed

[2019-11-07 08:11] #14806 closed

[2019-11-07 08:12] vinokurig commented on #14398
I have some ideas with init container, playing with it now.

[2019-11-07 08:13] apupier commented on #14831
currently the kamel CLI is using the service account of the launched container and not the user defined in kubeconfig. https://github.com/apache/camel-k/issues/1048
The service account doesn't have enough rights to even launch a Camel K integration.

[2019-11-07 09:21] azatsarynnyy opened #15140 "Deprecate the obsolete versions of OpenShift and Kubernetes plugins"
### Is your task related to a problem? Please describe.

There're several versions of OpenShift and Kubernetes plugins that are obsolete.
Their images are built each time when Che Theia is building.

### Describe the solution you'd like

Need to deprecate the following plugins with the subsequent removal of the related images:
- Kubernetes plugin: 0.1.17, 1.0.0
- OpenShift plugin: 0.0.17, 0.0.19,

[2019-11-07 10:26] dmytro-ndp commented on #15099
@ibuziuk: there is plugin broker of v.0.24 in 7.4.0 RC: https://github.com/eclipse/che/blob/7.4.x/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L482-L483

[2019-11-07 10:35] ibuziuk commented on #15006
@vitaliy-guliy hmm.. why do you need a devfile? steps to repro are basically:
- start any workspace
- open plugin view
- install any plugin

https://github.com/eclipse/che/issues/15006#issuecomment-549509695

This need to be tested against multiuser with tls / celf-signed-certs and workspace creation in the unique namespace

[2019-11-07 10:39] vitaliy-guliy commented on #15006
@ibuziuk I cannot get an error with updating the devfile (adding a plugin component) on che.openshift.io as @JonasHelming noted

I did exactly as you wrote:
- start any workspace
- open plugin view
- install any plugin

Result: new plugin component in the devfile is appeared.

But yes, there is still a problem with restarting the workspace.

[2019-11-07 10:41] ibuziuk commented on #15006
This is the biggest issue, workspace is not stopped properly and all the workspace resources are still there (routes, deployments etc) see the error message  https://github.com/eclipse/che/issues/15006#issuecomment-550189980

[2019-11-07 10:42] ibuziuk commented on #15006
@evidolob if the plugin installation issue / workspace stop + restart is not Hosted Che specific we would probably need to disable plugin installation from che-theia UI

[2019-11-07 11:53] sleshchenko commented on #15065
@gattytto Could you share che-operator logs. AFAIK che-operator do some exec in keycloak, maybe it's failed.

[2019-11-07 11:58] svor commented on #15117
This issue is reproducible just in che-theia. Base image for Quarkus plugin is `docker.io/eclipse/che-remote-plugin-runner-java11:next`

[2019-11-07 12:11] #14276 closed

[2019-11-07 12:19] Verenchen commented on #14998
It would be great if there will be a solution that is independent from GitHub.

[2019-11-07 13:37] #14960 closed

[2019-11-07 14:04] dmytro-ndp commented on #14749
The issue wasn't reproduced on Single Che 7.4.0 RC installed on minikube.

[2019-11-07 14:30] AndrienkoAleksandr commented on #14887
I reopen, because we found that we have two dockerfiles for che-machine-exec in the repo for two different CI. And one of them we should removed. I need to move fix to the correctly dockerfile...

[2019-11-07 14:46] vinokurig commented on #14998
@Verenchen If you know both private and public part of the ssh key that is already uploaded to GitHub, you can **CREATE** (SSH: Create key pair...) the ssh key in the workspace and it should be enough.

[2019-11-07 15:09] vitaliy-guliy commented on #13928
SOLVED:
- unlink `/etc/resolv.conf` from `/run/systemd/resolve/stub-resolv.conf`
- link `/etc/resolv.conf` to `/run/systemd/resolve/resolv.conf`

[code]

[2019-11-07 15:09] #13928 closed

[2019-11-07 15:19] #15045 closed

[2019-11-07 15:31] metlos commented on #15043
@NM4 can you check the version of the nginx-ingress-controller? Something along the lines of:
[code]

There is a lengthy description of the ingress annotation config:
https://github.com/eclipse/che/blob/3de4e7ffac7e6f9865dc3b3e1b47ff16c2d25544/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L354

The two env vars corresponding to the config props mentioned in the

[2019-11-07 15:46] akosyakov commented on #15113
@svor @tsmaeder please try! 🙏

[2019-11-07 16:05] amisevsk opened #15145 "Cannot open command palette in Theia when using Firefox"
### Describe the bug
Theia doesn't / can't bind the key combination `ctrl + shift + p` on firefox; attempting to use this shortcut to open the command palette just opens a new private browsing window.

### Che version
 - [x] latest 7.3.1

### Steps to reproduce
Start a workspace in firefox and press `ctrl+shift+p`

### Expected behavior
Command palette opens.

### Runtime
   - [x] Openshift 3.11

[2019-11-07 16:55] NM4 commented on #15043
@metlos

I have nginx ingress controller version 0.25.1
Here after what I had in che configMap :

[code]

[2019-11-07 17:04] NM4 commented on #15043
I redeployed Che without HTTPS/ SSL  and now, when I start an empty workspace with Theia as editor. I get all pods in running state and stay in this state without any error, But Theia UI is not displayed.

We analyzed the web page with Firefox developer tools, and we have seen that there are links to redhat.com for exemple :

`https://static.developers.redhat.com/che/theia_artifacts/che.103ff3fa44

[2019-11-07 17:11] tsmaeder commented on #15145
Added to epic https://github.com/eclipse/che/issues/14015

[2019-11-07 19:33] echyam commented on #15139
We're using Che version 6.19.0

[2019-11-07 19:50] sorekz commented on #14998
@vinokurig I think the problem here is that you need a workspace for that.
When your starting point is a devfile with a repository that requires authentication, this will not work. You need to upload the ssh key to github/bitbucket/etc. before the workspace is created because it is needed for the initial git clone.

Chicken and egg. If you can't get the ssh public key that is used in every workspa

[2019-11-07 20:16] ssh24 commented on #14897
@skabashnyuk Thank you. I got it to work now.

[2019-11-07 20:29] aaqaishtyaq opened #15146 "Not able to run task in che-theia"
### Describe the bug

Running che task from `Terminal` -> `Run Task` gives this error and failed to execute task.
[code]
### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: `7.3.0`

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (`v1.16.0`)
   - [ ] Openshift
   - [ ] minikube
   - [ ] minishift
   - [x] docker-desktop + K8S (Docker: `19.03.4` and kubectl: `

[2019-11-07 20:59] beaumorley commented on #14878
Below are design artifacts used to come up with a final design recommendation for Che Getting Started experience:

* Design Concepts - presented at Che Community meeting 10/14
* User Flows - used to ensure capture all onboarding scenarios
* User Study Script - script used with users
* Final Design Recommendation - final design

# Design Concepts
Design process and 2 design concepts were presented

[2019-11-08 07:09] sleshchenko commented on #15043
^ cc @amisevsk

[2019-11-08 07:45] RomanNikitenko commented on #15146
@aaqaishtyaq
Hello!
What I can see from the screenshot, that task-plugin is not installed: `Previews` item is absent on your screenshot

![task_plugin](https://user-images.githubusercontent.com/5676062/68458168-c9fdbf80-020a-11ea-8db2-d228851e9eca.png)

The [error](https://github.com/eclipse-theia/theia/blob/65ffea53952a98b72ecfacce6daba239ea7e1eeb/packages/task/src/node/process/process-task-runne

[2019-11-08 08:12] vinokurig commented on #14398
@davidwindell I've prepared an image `ivinokur/che-server:nightly`. It does the workaround that described in https://stackoverflow.com/a/50426726 from init container. Can you test the image?

[2019-11-08 09:02] ibuziuk commented on #11476
/remove-lifecycle stale

[2019-11-08 09:13] davidwindell commented on #14398
Awesome, yes I'll test today! :+1:

[2019-11-08 09:44] Ohrimenko1988 opened #15148 "Get rid of the redundant switching to the associated workspace in the "Happy Path" test"
### Is your enhancement related to a problem? Please describe.

Inside of the "Happy Path" test we have redundant logic for switching to the associated workspace

### Describe the solution you'd like
Remove this logic and rework test according to this changes
[code]

### Describe alternatives you've considered

### Additional context

[2019-11-08 10:36] tsmaeder commented on #15113
@akosyakov we'll have to punt this to the next sprint for capacity reasons, sorry.

[2019-11-08 10:51] Ohrimenko1988 commented on #15148
Done https://github.com/eclipse/che/pull/15149

[2019-11-08 10:51] #15148 closed

[2019-11-08 11:41] tolusha commented on #15117
It isn't possible to reproduce with the latest version
https://download.jboss.org/jbosstools/vscode/snapshots/vscode-quarkus/vscode-quarkus-1.2.0-169.vsix

[2019-11-08 11:49] dawnbreak commented on #13497
In che 7.3.0 and 7.3.1 I have no problems using this vscode-sonarlint plugin. Is this issue still relevant?

[2019-11-08 12:03] tsmaeder commented on #15117
Cool, do we know what changed?

[2019-11-08 12:34] tolusha commented on #15117
I have no idea what it was the reason. Should we spend some time to figure it out?

[2019-11-08 12:43] apupier opened #15150 "Avoid breaking master on each new dockerfile added in che-theia"
### Is your task related to a problem? Please describe.
Each time a new Dockerfile is added, the master is then broken

### Describe the solution you'd like
- not broke the master

### Describe alternatives you've considered
as a first iteration, knowing what to do in this case would be useful

### Additional context

see https://github.com/eclipse/che/issues/15095 and https://github.com/eclipse/c

[2019-11-08 12:47] tolusha commented on #15150
/cc @vparfonov
Could you explain what to do in this case?

[2019-11-08 12:51] vparfonov commented on #15150
we just need to create new repository on dockerhub before add new dockerfile

[2019-11-08 12:54] mmorhun opened #15151 "Add annotations in DTOs about fields nullability"
### Is your task related to a problem? Please describe.
Now all Che API clients written in typescript (for example: Che Theia, chectl) use generated from the Che server DTOs types. The generated types give structure of DTOs objects, but all their fields are marked as optional even if they are actually mandatory.
That brings some inconveniences for clients.

First, due to typescript requirements, b

[2019-11-08 12:59] apupier commented on #15150
Who has rights to do so? All Eclipse Che committers?

[2019-11-08 13:08] rof20004 commented on #15139
@echyam Did you tried?

`
CHE_WORKSPACE_VOLUME=/userfiles/user1
`

[2019-11-08 13:22] tsmaeder commented on #13250
T.b.h, I don't think that https://github.com/eclipse/che/issues/13387 is really the solution, here: we want to run the tooling on a fixed version of Java (we can test against) and use a different version of Java in the workspace.
If we could mount a jdk directory (maybe from the dev container) into the tooling container, that would solve the problem, i.m.o.  @l0rd do you think this is possible som

[2019-11-08 13:28] davidfestal opened #15152 "The `token-exchange` setup during Keycloak configuration fails on CRW"
### Describe the bug

When OpenShift OAuth is enabled in the `CheCluster` custom resource, some configuration steps (which use the `jq` utility) are run by the operator in the Keycloak / RHSSO POD in order to enable the token-exchange feature.
However this step fails in the CRW case, since the underlying image in the official RHSSO one, instead of the dedicated `che-keycloak` one.
And the RHSSO do

[2019-11-08 13:28] RomanNikitenko opened #15153 "Can not create a new terminal"
### Describe the bug
Can not create new terminal
Please see video from `screenshots` section

### Che version
`theia`:  [2f3b2c353931c0040bd6a662c2c57d4cfb86f92c](https://github.com/eclipse-theia/theia/commit/2f3b2c353931c0040bd6a662c2c57d4cfb86f92c)
`che-theia`: [dd0f1b6ac38b75f3af29eb057600c28064d7a3b0](https://github.com/eclipse/che-theia/commit/dd0f1b6ac38b75f3af29eb057600c28064d7a3b0)

### St

[2019-11-08 13:38] davidfestal commented on #15152
NB this bug impact CRW, and probably the CRW 2.0 release as well.

[2019-11-08 14:05] tolusha commented on #15152
@nickboldt
How important this issue is for you?

[2019-11-08 14:15] akurinnoy opened #15155 "Handle keyboard shortcut to save devfile"
### Is your enhancement related to a problem? Please describe.

After disabling autosave feature for devfile editor the only way to save changes is to click on "Save" button which appears in the bottom of editor page. I'm sure most of developers would prefer to use a keyboard shortcut instead.

### Describe the solution you'd like

[This comment](https://github.com/eclipse/che/issues/13982#issueco

[2019-11-08 14:37] davidfestal commented on #15152
@tolusha not sure we should wait for @nickboldt return before prioritizing this issue and probably put it as a blocker for CRW 2.0 release.

This mainly triggers a non-blocking but still endless loop in the che operator in order to try applying this step that can only fail. I think this can only bring problems and lower overall robustness of the operator.
@l0rd wdyt ?

[2019-11-08 15:02] davidfestal commented on #15152
In the absence of @nickboldt , could you please given you feeling about the priority of this issue @dmytro-ndp and @rhopp ?

In fact maybe I should have created a JIRA issue since it's a downstream-only issue ?

[2019-11-08 15:52] svor commented on #13497
I also can't reproduce it on CHE-7.4.0-SNAPSHOT. Probably this problem was fixed

[2019-11-08 15:52] #13497 closed

[2019-11-08 16:03] svor commented on #13926
This problem is also actual if we want to use vscode-quarkus extension. To run an example it generates a command which starts with **mvnw** like `./mvnw quarkus:dev`

[2019-11-08 16:58] metlos commented on #15119
I have verified that https://github.com/eclipse/che-operator/pull/92 supports also the updates. When a new version of the operator is installed, it upgrades an existing che installation and updates the configmap with the correct value of the new environment variable.

[2019-11-08 16:58] #15119 closed

[2019-11-08 17:47] davidwindell commented on #14398
@vinokurig it worked!! Great job, I am now able to clone via SSH.

[2019-11-08 18:06] gattytto commented on #15065
After a hard reset of the LXC container, postgres, keycloack and che come back.

as for Workspaces: they don't, because their storage got deleted by minikube

![image](https://user-images.githubusercontent.com/407397/68499962-4c04dd00-0239-11ea-8be6-c930e3d009e2.png)

[2019-11-09 00:30] echyam commented on #15139
@rof20004  That works for mounting `/userfiles/user1` for every workspace, but what I am looking for is
`/userfiles/user1` in user1's workspace, and
`/userfiles/user2` in user2's workspace.

I don't want to mount `/userfiles/user1` for user2. Instead, I am looking for a way to substitute a username variable in the mount command.

[2019-11-10 22:45] gattytto opened #15157 "Extra option --PersistentVolumeName and --HostPathSource to CheCTL"
### Is your enhancement related to a problem? Please describe.

yes, it is related to this issue https://github.com/eclipse/che/issues/15065 in which the first layer of che (postgres data) loses its data when running inside a minikube node.

### Describe the solution you'd like

as far as I can see the problem, there is no "PersistentVolume" reference to pass as an argument when issuing the chectl

[2019-11-11 02:39] monaka commented on #13626
@dmpe I want to release my configuration in public. But I'm recently swaped ...
And I'm going to add technical support options to PizzaFactory/Camino.
I'll be able to disclose the configuration to you earlier than my pull request.

[2019-11-11 07:14] #15117 closed

[2019-11-11 07:59] metlos commented on #15120
Based on the discussion summarized in https://www.eclipse.org/lists/che-dev/msg03440.html we're not going to implement this.

[2019-11-11 07:59] #15120 closed

[2019-11-11 08:03] mmorhun commented on #14931
I've tried to reproduce this issue, but it is very hard to do (at least for me).
So, after code analyzation I prepared these PRs: https://github.com/eclipse/che/pull/15154 and https://github.com/eclipse/che/pull/15147 which, I think, may resolve the problem.
Now I am going to close this issue, but if someone be able to reproduce it again - fell free to reopen it.

[2019-11-11 08:03] #14931 closed

[2019-11-11 09:15] sleshchenko opened #15159 "Helm chart: workspaces fail to start in the default <username>-che namespace"
### Describe the bug
Workspaces fail to start in the default <username>-che namespace.
It happens because of workspace SA lack:
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy Che with the following command:
[code]
2. Try to start any workspace.

### Expected behavior
The workspace is started.

### Runtime
   - [x] kubernetes (in

[2019-11-11 09:54] tolusha commented on #15159
@sleshchenko
Is it `helm` specific problem?

[2019-11-11 10:33] tsmaeder opened #15160 "Inconvenient Self-Hosting for external Contributors"
External contributors cannot create branches for their contributions int github.com/eclipse/che-theia (and IMO committers should not, either).
Setting up a self-hosting workspace for contributions is a bit inconvenient, and not really documented in ./Contributing.md.
What you have to do is edit the config file to point to your repository and branch and then set up remotes for the main theia repo b

[2019-11-11 10:45] #14755 closed

[2019-11-11 10:52] tsmaeder opened #15161 "git fetch --help does not work in self-hosting"
When doing 'git fetch --help' in the theia-dev container following che-theia/Contributing.md, I get an error:
[code]

I would expect help to work for installed commands.

[2019-11-11 10:53] tsmaeder commented on #15161
This might be trivial for developers running on linux, but if you work on Windows, it's a PITA.

[2019-11-11 11:14] tsmaeder commented on #15161
This is on che.openshift.io

[2019-11-11 11:17] tolusha commented on #15161
@tsmaeder
Where did you find 'git fetch --help' ?
https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md

[2019-11-11 11:19] skabashnyuk commented on #15006
@ibuziuk I think at this moment we can't guarantee for sure that there is no Hosted Che specific. I believe that we need to fix this https://github.com/redhat-developer/rh-che/issues/1689 and clarify all exceptions that happened during workspace removal on Hosted Che.

[2019-11-11 11:20] sleshchenko commented on #15159
@tolusha I hope so. Some changes may be needed on Che Server side and it may affect other installation methods.

[2019-11-11 11:26] tolusha commented on #15161
BTW there is no `man` in the theia-dev container

[2019-11-11 12:14] tsmaeder commented on #15161
@tolusha  It's not in contributing.md, but git is broken ("--help" does not work). If that is because man is not installed, we need to have man on this container.

[2019-11-11 12:18] tolusha commented on #15159
It works for `checlt`

[2019-11-11 12:21] sleshchenko commented on #15159
@tolusha Could you clarify arguments you used with chectl?

[2019-11-11 12:23] tsmaeder commented on #13926
@lord @slemeur we need a decision here: either we create our own maven image, or we cannot use quarkus and springboot examples.

[2019-11-11 12:39] sparkoo commented on #14695
We've analyzed the issue and proposed solution. It's in the dashboard area so now @akurinnoy is taking over https://github.com/eclipse/che/pull/15143#issuecomment-552425468.

[2019-11-11 12:44] skabashnyuk commented on #15006
Tested upstream multi-user workspace stop with machine token on crc version: 1.1.0+95966a9 OpenShift version: 4.2.2 (embedded in binary). Everything works as expected.
<img width="1144" alt="Знімок екрана  о 13 41 00" src="https://user-images.githubusercontent.com/1614429/68588295-68975400-0489-11ea-97c2-3a9a471b2b75.png"> No issues on che server logs

[2019-11-11 12:50] tsmaeder opened #15162 "Git rebase does not work in self-hosting workspace"
This is on che.openshift.io.

I have checked out che-theia into the projects folder. When I fetch a branch from @JPinkney's fork and try a rebase, the rebase fails. The full script is below.
The rebase of the same branch works fine on my machine.

[2019-11-11 12:51] tsmaeder commented on #15162
Full interaction:

[code]

[2019-11-11 13:10] tsmaeder opened #15163 "Chectl Windows Build should not use tar.gz"
The distribution of chectl is compressed as a .tar.gz file. Windows cannot handle this without installing additional software. We should use a .zip file instead.

[2019-11-11 13:11] skabashnyuk opened #15164 "Do not allow to stop workspace with machine token if known that this operation will fail"
### Is your task related to a problem? Please describe.
In some edge cases like OAuth enabled on openshift or hosted che (that is has to be clarified) stop operation may fail. The reason for that is that che-server might not have enough permission by itself to delete objects in a namespace where workspace created.  If that can be tests with che-server we need to remove permission to delete workspa

[2019-11-11 13:26] akurinnoy commented on #14763
@slemeur @rkratky
Are you OK to change
`"workspace" : "/docs/what-are-workspaces.html"` to point to `/docs/che-7/workspaces-overview/`
and `"general": "/docs"` to point to `/docs/che-7` ?

Also, I don't see any docs for organizations and factories for Che-7. Maybe, you know whether they are available?

[2019-11-11 13:31] tolusha commented on #15159
`chectl server:start --platform=minikube  --installer=operator --k8spodreadytimeout=500000
`

[2019-11-11 13:43] tolusha commented on #15163
Why do you think that additional software is a problem?

[2019-11-11 13:49] tolusha commented on #15162
Do it mean it `che.openshift.io` specific?
Have you tried the same operation locally?

[2019-11-11 14:11] #15093 closed

[2019-11-11 14:12] azatsarynnyy commented on #15093
Fixed in Theia upstream by https://github.com/eclipse-theia/theia/pull/6516
The patch will be available in Che Theia after switching to the next Theia release, probably 0.13.0

[2019-11-11 14:24] zeibura opened #15165 "[Doc] Eclipse Che4z GA release, documentation update required"
The Eclipse Che4z documentation on the Che 7 docs site: https://www.eclipse.org/che/docs/che-7/eclipse-che4z/ needs to be updated for the GA release today.

- z/OS Resource Explorer to be removed
- Installing instructions to be simplified to instruct the user how to install the stack and create the workspace
- Description of all components of the stack to be added to the overview
- Product Accessi

[2019-11-11 14:25] Ohrimenko1988 opened #15166 "[Happy Path] The "Happy Path" scenario sometimes fails on the "Validation of workspace build and run" step"
### Describe the bug
[Happy Path] The "Happy Path" scenario sometimes fails on the "Validation of workspace build and run" step

[code]
### Che version

 - [ ] latest
 - [ x ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ x ] Openshift (include output of `oc version`)
   - [ ] miniku

[2019-11-11 14:34] tolusha commented on #15165
/cc @rkratky

[2019-11-11 14:37] zeibura commented on #15165
cf https://github.com/eclipse/che-docs/pull/908

[2019-11-11 14:46] sparkoo commented on #15136
## usecase 1. already installed non-crd monitoring stack maintained by cluster admins
We can't do much here as we don't have control over already installed services and we do not know what to expect. We have few options how to help admins with configuration, but usefullnes of these is questionable.

* **ConfigMap** - we could create config map with Prometheus config of service discovery for our se

[2019-11-11 14:47] slemeur commented on #14763
@rkratky : I would think that now, the default docs should be che-7. Is that something you are planning soon?

[2019-11-11 14:54] sparkoo commented on #15136
cc: @skabashnyuk

[2019-11-11 15:04] sparkoo commented on #15136
Prometheus service discovery config would look like this:
[code]

[2019-11-11 15:07] slemeur commented on #13926
@svor : Even if the maven community stack we are using is not compatible by default, it seems the user should be able to figure out how to reconfigure the workspace so that it changes the `$MAVEN_CONFIG`. What would be the possible flows?

[2019-11-11 15:09] slemeur commented on #13926
@svor : Would using a different image for a Quarkus stack be a solution for that?

[2019-11-11 15:21] skabashnyuk commented on #15164
Reproduced on Openshift 4 with enabled OAuth

<img width="816" alt="Знімок екрана  о 16 20 49" src="https://user-images.githubusercontent.com/1614429/68598539-4f010700-049f-11ea-9d43-c412e4913195.png">

[2019-11-11 15:22] tsmaeder commented on #15162
I have no working self-hosting setup.

[2019-11-11 15:23] tsmaeder commented on #15162
I tried to "open workspace" on a different repository to make sure it's not a problem with git in che-theia. Still doesn't work.

[2019-11-11 15:24] AndrienkoAleksandr commented on #14887
Prepared pr's: https://github.com/eclipse/che/pull/15144 https://github.com/eclipse/che-plugin-registry/pull/290 https://github.com/eclipse/che-machine-exec/pull/56

[2019-11-11 15:24] svor commented on #13926
@slemeur To do that we can unset $MAVEN_CONFIG in the devfile, like this: https://github.com/eclipse/che-devfile-registry/blob/sv/quarkus/devfiles/quarkus/devfile.yaml#L28
I've tested this flow and looks like it doesn't cause issues

[2019-11-11 15:29] skabashnyuk commented on #15164
After start/stop/start switching from dashboard workspace become operational again.

[2019-11-11 15:46] vitaliy-guliy commented on #15006
Cannot stop the workspace with machine token on local minishift and openshift.io.

Che server responds OK on STOP request but then, when listening workspace status via websocket, client receives the message that an error occurred when stopping the workspace.
After that when getting the workspace info, it's status is STOPPED but on the infrastructure everything is still running.

[2019-11-11 15:49] vitaliy-guliy commented on #15164
How can we detect whether operation is allowed or not?

[2019-11-11 15:50] skabashnyuk commented on #15006
openshift.io is another story. I was not able to reproduce in on minishift. What was your configuration on minishift? chectl, operator, OAuth?

[2019-11-11 15:52] skabashnyuk commented on #15164
@vitaliy-guliy at this moment I think it's not allowed on Hosted Che and che on openshift with OAuth. Other configurations should not be affected. Let me know if you are aware of other possibilities I'll try to reproduce them.

[2019-11-11 16:05] tsmaeder commented on #15163
Because it's extra work for the user. Let's be nice to our users.

[2019-11-11 16:11] tsmaeder commented on #15162
The scenario works when I create a new workspace based on "Nodejs express web application" (node10).

[2019-11-11 16:31] tsmaeder commented on #15162
Ok, I think I know what the difference is: when I turn on "persistVolumes: true" in the nodejs workspace, even the checkout fails:
[code]
...

[2019-11-11 16:58] benoitf commented on #15163
AFAIK there is a windows install script for Windows users so you shouldn't even see a tgz

[2019-11-11 16:59] benoitf commented on #15163
https://www.eclipse.org/che/docs/che-7/installing-the-chectl-management-tool/#installing-the-chectl-management-tool-on-windows_installing-the-chectl-management-tool

[2019-11-11 17:38] sparkoo commented on #15136
## already installed CRD based monitoring stack
Prometheus installed by `prometheus-operator` (https://github.com/coreos/prometheus-operator) uses it's own way of managing Prometheus configuration with ServiceMonitor CRD, because of the reasons mentioned in previous comment (https://github.com/eclipse/che/issues/15136#issuecomment-552474078). It has it's own config reloader handling generating and

[2019-11-12 07:02] kellyhyomin opened #15168 "Che monitoring installation fails on k8s version 1.16"
### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.3.0
### Steps to reproduce

### Expected behavior

### Runtime
   - [x] kubernetes (include output of `kubectl version`)
           kubectl 1.16.2
   - [ ] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `kubectl version`)
   - [ ] minishift (include output of

[2019-11-12 07:14] ibuziuk commented on #15164
I think this was reproducible on crc with CRW without oath cc: @dmytro-ndp

[2019-11-12 07:15] Katka92 commented on #15006
Hi guys, I've tried to reproduce on Hosted Che. When I install a plugin and click the button to refresh the workspace, I got an error [1]. I've refreshed the browser window again and got a different error [2] saying that `Config maps already exist.`. I came to the console to check if the resources are really here - and there were, but in a few seconds they were deleted correctly. I refreshed again

[2019-11-12 07:17] tolusha commented on #15162
I've tested when it was set to `true` (be default) and haven't faced such a error

[2019-11-12 07:23] skabashnyuk commented on #15164
@ibuziuk I saw that @artaleks9 confirm that https://github.com/eclipse/che/issues/15006 exist on CRW but that is because of incorrect UI work. I didn't see that he had an issue with k8s objects. So I assume that is similar to this https://github.com/eclipse/che/issues/15006#issuecomment-549875018 and not to this https://github.com/eclipse/che/issues/15006#issuecomment-550189980. That is a differen

[2019-11-12 07:55] mmorhun commented on #15153
Fixed

[2019-11-12 07:55] #15153 closed

[2019-11-12 07:56] metlos commented on #15159
We have a theory that this happens only after `helm upgrade` from some yet to be identified older version of Che. Investigation is still in progress.

The reason for that theory is that once you `helm delete --purge` the che installation and re-install it, the problem disappears.

[2019-11-12 08:12] tsmaeder commented on #15163
Yes, but a couple of lines further down, we're pointing to "manual install". I'm not saying this is a huge problem we need to run and fix, but for Windows users, zip would be more convenient.

[2019-11-12 08:12] mshaposhnik commented on #14599
Merged in #15000

[2019-11-12 08:12] #14599 closed

[2019-11-12 08:17] benoitf commented on #15162
@tsmaeder could you provide devfile you were using ?

[2019-11-12 08:18] tsmaeder commented on #15162
As I mentioned above, the problem reproduces with the node 10 devfile.

[2019-11-12 08:19] tolusha commented on #15162
@benoitf
Start from any node based devfile
and follow these steps:

[code]

[2019-11-12 08:19] tolusha commented on #15162
Make sure that `persistVolumes` is set to `true`

[2019-11-12 08:24] benoitf commented on #15162
with the devfile I can know if persistent volumes are turned on or off.
With previous comments, it's not clear when it's enabled or not.

But AFAIK we can't have persistent volumes with operations doing a lot of I/O on che.openshift.io
(like cloning big projects, 'npm install' etc)

Also the issue should not be on this repository but on https://github.com/redhat-developer/rh-che

[2019-11-12 08:25] benoitf commented on #15162
And AFAIK this issue exists since the beginning (this is mainly why ephemeral workspaces have been added)

[2019-11-12 08:32] skabashnyuk commented on #15050
Che Platfom team has stopped working on this task. It seems like @mshaposhnik  and I didn't fully understand the definition of this task from the beginning. We need more clarification about the scope and implementation of directions from @slemeur and @l0rd.

[2019-11-12 08:48] #15001 closed

[2019-11-12 09:18] davidfestal commented on #15164
Did you really test this on Hosted Che ? afair it's quite a specific case since we use the fabric8-proxy specific token that provides the rights on the user namespace without needing the keycloak token.

[2019-11-12 09:19] ibuziuk opened #15169 "Plugin installation fails from che-theila plugin view on Openshift 4 with enabled OAuth"
### Describe the bug
Plugin installation fails che-theila plugin view with Openshift 4 with enabled OAuth:

<img width="816" alt="Знімок екрана  о 16 20 49" src="https://user-images.githubusercontent.com/1614429/68598539-4f010700-049f-11ea-9d43-c412e4913195.png">

### Che version
 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

![Peek 2019-11-04 20-25](https://use

[2019-11-12 09:23] skabashnyuk commented on #15164
@davidfestal yes. I did testing on Hosted Che  https://github.com/eclipse/che/issues/15006#issuecomment-549875018 some problems exists such as
- https://github.com/redhat-developer/rh-che/issues/1689  Unclear exception during workspace stop with machine token
- Problems with start and stop of workspacepjez6q055p649mz6  https://github.com/redhat-developer/rh-che/issues/1691
- Untracked workspace de

[2019-11-12 09:28] vitaliy-guliy commented on #15164
@skabashnyuk what's wrong with UI on CRW?

[2019-11-12 09:30] skabashnyuk commented on #15164
@vitaliy-guliy issues like https://github.com/eclipse/che/issues/15006#issuecomment-552766480 and https://github.com/eclipse/che/issues/15006#issuecomment-549875018

[2019-11-12 09:35] vitaliy-guliy commented on #15169
@ibuziuk for feature, could you record videos displaying the mouse cursor? ^^

[2019-11-12 09:49] davidfestal commented on #15164
Couldn't this be related to the last changes in the Che server regarding the namespace name defaults ? Some of the issues seem related to the fact that the Che server fails when managing the name of the namespace in which the workspace should be deleted.

[2019-11-12 09:54] skabashnyuk commented on #15164
By this, you mean what?

Why do you think it's related? Do you see any evidence of that?  What changes in 7.3.1 you are referring?

[2019-11-12 10:01] akurinnoy opened #15171 "Workspaces list filtering doesn't work"
### Describe the bug

Filtering in the list of workspaces doesn't work.

### Che version

 - [ ] latest
 - [x] nightly
 - [x] other: 7.3.1

### Steps to reproduce

1. Create several workspaces
2. Click on "Workspaces" in the left navbar
3. Set focus into search field and start typing the name of one of available workspaces

### Expected behavior

Workspaces which name partially matches to search s

[2019-11-12 10:04] ibuziuk commented on #15169
ack. strange I had `capture mouse cursor` enabled. Anyway, the recording is pretty straight forward even without the cursor

[2019-11-12 10:49] svor opened #15172 "Open Link doesn't work"
### Describe the bug
**Open Link** action doesn't work
![screenshot-che-che 192 168 99 104 nip io-2019 11 12-12_47_32](https://user-images.githubusercontent.com/1271546/68665377-9f816e80-054a-11ea-9157-a7f50d14c128.png)

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace which can run web application for example Java Vert.x
2.

[2019-11-12 12:01] NM4 commented on #15043
Hello  @sleshchenko  @amisevsk

I confirm that I have the same behavior with Minikube :

I Installed eclipse che with chectl (7.4.0)
I launch a workspace with Theia as ide
My workspace become up and running so I can use it.

I switch to offline mode ( disconnect my Mac from the network)
I refresh my Che workspace  and the I get nothing displayed and when I dig HTML/JS I get the same error as befor

[2019-11-12 13:54] musienko-maxim opened #15173 "After launching an application the preview URL widget does not appear"
### Describe the bug
* After clicking on the Open Link notification the Preview URL app. does not open

### Che version
 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `oc version`)
   - [x] minikube (include output of `minikube versi

[2019-11-12 14:18] musienko-maxim commented on #15173
Looks like it depend on latest changes from CHE-THEIA :
The theia log exception:
[code]

[2019-11-12 14:48] RomanNikitenko commented on #15173
@musienko-maxim
looks like it's duplicate https://github.com/eclipse/che/issues/15172

wdyt?

[2019-11-12 15:15] amisevsk commented on #15107
Cherry-pick PRs for registries: https://github.com/eclipse/che-plugin-registry/pull/294, https://github.com/eclipse/che-devfile-registry/pull/143

[2019-11-12 15:20] musienko-maxim commented on #15172
duplicated: https://github.com/eclipse/che/issues/15173

[2019-11-12 15:20] #15172 closed

[2019-11-12 15:21] musienko-maxim commented on #15173
yes, i've closed https://github.com/eclipse/che/issues/15172

[2019-11-12 15:28] AndrienkoAleksandr commented on #15106
I create pr for theia, but under firefox copy on selection doesn't work. Seems an issue: https://bugs.webkit.org/show_bug.cgi?id=156529

[2019-11-12 15:34] vparfonov commented on #15173
Will take to the current sprint as unplanned and try to fix it

[2019-11-12 15:47] sparkoo commented on #15136
yes, Prometheus CR have to have defined `serviceMonitorNamespaceSelector`. When set to `{}`, it watch all namespaces for `ServiceMonitor` CRs. Preferably, we can set desired namespace with label selector (https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/). All our `ServiceMonitor` CRs can be in one namespace with all other Che services so we will have to set label to the na

[2019-11-12 15:49] sparkoo commented on #15136
Important note: when using prometheus deployed with prometheus-operator, the minimal permissions for service discovery seems to be:
[code]

[2019-11-12 15:52] #13390 closed

[2019-11-12 16:18] amisevsk commented on #15043
Hm, I have no idea why `https://static.developers.redhat.com/che/theia_artifacts/che.103ff3fa440e96277bc7.js` is being linked. @davidfestal do you have any insight? Perhaps it's related to CDN support in Theia?

The reason pods are not staying in a running state is because Che is killing them after a timeout. Once the pods are running (which is happening because you're getting logs from them), Che

[2019-11-12 16:28] amisevsk commented on #13926
It's kind of a strange issue, and I don't know the best approach in fixing it; the reason `mvnw` is used by quickstarts is (if I understand correctly) to ensure a set version of maven is used when building the code. One of the advantages we tout with Che is that you use a container with the exact dependencies you need, so `mvnw` shouldn't be necessary -- the image should just be able to do it dire

[2019-11-12 16:33] slemeur commented on #14614
I'm reopening this epic as, there are subtasks that are not completed.

[2019-11-12 16:37] slemeur commented on #14506
Please add the new issues you've been creating as subtasks of the epic. so we can follow the work and issues that are connected to this epic.

[2019-11-12 17:00] slemeur commented on #14640
please close this sprint

[2019-11-12 17:00] slemeur commented on #14855
please close this sprint issue

[2019-11-12 17:00] slemeur commented on #14899
please close this sprint issue

[2019-11-12 17:19] l0rd opened #15174 "Benchmark storage performances on public cloud vendors"
### Is your task related to a problem? Please describe.

We should test on the following platforms:
- Azure
- AWS
- GCP

and see how long it takes to:

- Mounting an empty PV
- Mounting a full PV
- Git clone of eclipse theia
- yarn install of eclipse theia
- git rebase of eclipse theia
- Stopping container with empty PV
- Stopping container with full PV
- Deleting the PVC

[2019-11-12 17:50] ibuziuk commented on #15162
This looks similar to https://github.com/redhat-developer/rh-che/issues/1047

[2019-11-12 17:52] ibuziuk commented on #15162
https://github.com/redhat-developer/rh-che/issues

[2019-11-12 19:15] skabashnyuk commented on #14614
@slemeur @l0rd is this an umbrella issue or there is a DOD for this epic?  Also please take a look https://github.com/eclipse/che/issues/14742#issuecomment-537514391.  It might require some untrivial operation with certificates. Are you sure we want to make it by default?

[2019-11-12 21:04] amisevsk commented on #15162
I can't reproduce on che.openshift.io when running a workspace in ephemeral mode (`persistVolumes: false`), which is the default for new workspaces. If you pass a devfile via factory URL, chances are it's going to include PVs, and modifying many files quickly is a known issue with Gluster (I often can do `mvn clean install` in some projects, with the same error).

[2019-11-12 22:19] beaumorley opened #15175 "Dark theme for new Monaco devfile editor"
### Problem

The new Monaco devfile editor is a nice improvement for editing devfiles for Che. However, the editor has a light theme. This editor can also have a dark theme. User research shows that a dark theme is preferred by developers.

### Suggested change

If only one theme can be specified, from a UX perspective, it is recommended that the Che Monaco devfile editor be changed to dark.

Alte

[2019-11-13 07:22] l0rd commented on #15175
Thank you @beaumorley for creating this

[2019-11-13 07:35] skabashnyuk opened #15176 "[JGRP000029]java.net.ConnectException: Connection refused during che-server update on OpenShift"
### Is your task related to a problem? Please describe.
I've noticed such a message during an update of che-server on OpenShift
[code]

### Describe the solution you'd like
Figure out what is going on and how critical it is.

### Describe alternatives you've considered
n/a
### Additional context
n/a

[2019-11-13 07:35] skabashnyuk commented on #15176
@mshaposhnik can you comment?

[2019-11-13 07:36] benoitf commented on #15162
I would close this issue as duplicate of https://github.com/redhat-developer/rh-che/issues/1047
@tsmaeder ?

[2019-11-13 08:28] #14795 closed

[2019-11-13 08:46] tsmaeder commented on #15175
I have to disagree here: there seems to be research that says dark theme is bad, especially for folks like me who need glasses. Here's a guy explaining why: https://www.quora.com/Is-a-dark-mode-light-text-on-dark-background-really-better-for-the-eyes

[2019-11-13 09:14] Aayush04 opened #15177 "How to install linux packages to che workspace runtime"
## Summary
I am using che version 7.2 . I want to install Linux packages in my workspace or workspace runtime. But the "user" does not have permission to install any packages.

## Relevant information
I also tried che 6.19.6 but there I could install packages. As "user" can switch to root and do whatever installation he wants. But it seems like this is removed from in version 7.
Is there any way t

[2019-11-13 09:14] mshaposhnik commented on #15176
This is an JGroups replication related output.
Usually that means that `KUBE_PING` discovery protocol is found an container which meets our requirements to be an replication-enabled one (e.g. it is a Che server instance) and jgroups tries to establish connection with it, but for some reason this process is failed (container is unhealthy and cannot accept TCP connections, or it already shot down an

[2019-11-13 10:16] RomanNikitenko commented on #15173
We use plugin API and execution of [the command](https://github.com/eclipse-theia/theia/blob/83c59134268f1c45789f2ba8fe88567d10cdc22d/packages/mini-browser/src/browser/mini-browser-open-handler.ts#L45) to open preview panel.
I investigated the issue, the regression was caused by [the changes](https://github.com/eclipse-theia/theia/pull/5590/files#diff-280ddf8bd3c3f719bbbdc998df11dd33R110).
Fixed i

[2019-11-13 10:21] tsmaeder commented on #15162
@benoitf that depends: do we have a solution that works with persistent volumes on OpenShift clusters in general? If not, this is not che.openshift.io-specific and we should have an issue for it in the main repo.

[2019-11-13 10:32] RomanNikitenko opened #15179 "Che tasks are not available for running"
### Describe the bug
`Che` tasks configurations are considered as invalid after the corresponding changes in `theia` project.

### Che version

 latest

### Steps to reproduce
1. Start a workspace with defined `che` tasks.
2. Try to run a task

You can see that `che` tasks are not displayed in the list from `Terminal -> Run task` menu

Also warning is displayed:
![tasks_bug](https://user-images.gi

[2019-11-13 10:53] tolusha commented on #15177
The solution is to use a container with preinstalled packages.

[2019-11-13 11:10] svkr2k commented on #15062
I used the above script with :
CHE_USER=admin
CHE_PASSWORD=admin
KEYCLOAK_HOSTNAME=keycloak-che.mydomain.com

Error shown was `curl: (22) The requested URL returned error: 400 Bad Request`
Please help.

[2019-11-13 11:27] benoitf commented on #15162
@tsmaeder at some point we had other PVC (but attached time was longer) and it was working as expected once workspace was started.
Also on RHPDS instances it's working AFAIK

[2019-11-13 12:18] ibuziuk opened #15182 "Update Hosted Che to the 7.3.2 upstream version"
### Is your task related to a problem? Please describe.
Update Hosted Che to the `7.3.2` upstream version
Blocked by https://github.com/eclipse/che/issues/15107

[2019-11-13 12:21] ibuziuk commented on #15099
@AndrienkoAleksandr I guess PR https://github.com/eclipse/che/pull/15178 fixes this issue

[2019-11-13 12:26] AndrienkoAleksandr commented on #15099
Yes, I referenced issue.

[2019-11-13 12:46] tsmaeder commented on #15162
What's RHPDS?

[2019-11-13 12:47] ibuziuk commented on #14633
@amisevsk can we close it now taken into account that https://github.com/redhat-developer/rh-che/pull/1673 is merged?

[2019-11-13 13:06] benoitf commented on #15162
https://rhpds.redhat.com/ (Red Hat Product System)
Like for workshop instances

[2019-11-13 13:15] benoitf commented on #15177
Depending on some configuration like with basic K8S you can have sudo installed in the Docker image. But with containers, restarting it will remove anything you might have installed.

So as suggested by @tolusha you should add you required tools in a Docker image, and add this image as part of your workspace definition.
Then, all tools that you want will be there, already installed. And anytime yo

[2019-11-13 13:22] #13591 closed

[2019-11-13 14:04] ibuziuk commented on #15099
PR merged. Closing

[2019-11-13 14:04] #15099 closed

[2019-11-13 14:56] musienko-maxim opened #15183 "The autocomplete for setting up a java Debugger is incomplete"
### Describe the bug
After invocation the autocomplete in `launch.json` configuration file, the autocomplete list is incomplete. It influence Happy Path test.
### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

* Debug-> Open configuration
* Set cursor into configuration array
* Invoke autocomplete
**Expected result:** we should get  get autocomplete

[2019-11-13 15:09] beaumorley commented on #15175
I've been asking users and most prefer dark. It is definitely somewhat of a developer preference, though. The best in class experience would allow the user to pick. Ideally, they could set their theme for the whole Che experience.

[2019-11-13 16:07] FlorianLudwig opened #15184 "dead links on homepage to codenvy"
### Describe the bug

The "learn more" links on https://www.eclipse.org/che/extend/codenvy/ are dead.

[2019-11-13 16:55] #14386 closed

[2019-11-13 17:08] l0rd commented on #15175
Something else that I would like to mention is that currently che-theia default theme is dark and it make sense to be consistent with that. But we can configure the theme in che-theia so +1 to make it configurable on the dashboard monaco editor.

[2019-11-13 17:13] FlorianLudwig opened #15185 "UX: State of tasks not visible"
### Is your enhancement related to a problem? Please describe.
It is not possible to see if a task is already running or a started task is done. This resulted in multiple issues for me:

- First time i wanted to start a task I clicked on it - nothing happened so i tried double clicking.  A few seconds later I had the task running three times.
- I waited for a task to finish but didn't notice it wa

[2019-11-13 17:14] l0rd commented on #15175
@beaumorley any suggestion about how we could make the theme easily configurable from a UX point of view?

[2019-11-13 18:25] ibuziuk commented on #15074
@anthonma you should simply add this env var to `che` cm and rollout new deployment

[2019-11-13 19:02] rhopp opened #15186 "[che-operator] che operator should stop che server gracefully"
### Describe the bug
Right now, when checluster CR is deleted, operator deletes all resources of che deployment, except for k8s/openshift resources of currently running workspaces, which remain on the cluster as some kind of orphans.

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
* Install che using operator
* Start workspace
* Delete checluster

[2019-11-13 21:08] benoitf commented on #15183
Hello @musienko-maxim it seems the 'Describe the bug' section is missing some part ?

[2019-11-13 21:09] benoitf commented on #15185
cc @RomanNikitenko

[2019-11-13 21:15] #12123 closed

[2019-11-13 21:15] #13254 closed

[2019-11-13 21:15] #13261 closed

[2019-11-13 21:15] #13279 closed

[2019-11-13 21:15] #13285 closed

[2019-11-13 21:15] #13286 closed

[2019-11-13 21:15] #13289 closed

[2019-11-13 21:15] #13301 closed

[2019-11-13 21:15] #13262 closed

[2019-11-13 21:32] tomgeorge opened #15187 "Route DNS hostnames not routeable in airgap scenario so che fails to start"
### Describe the bug

Depending on the network topology or DNS servers, a fully disconnected installation in some instances will not be able to resolve route URLs inside the cluster.  This manifests in an issue with the Che server pod trying to retrieve the openid configuration at `$PUBLIC_KEYCLOAK_URL/auth/realms/che/.well-known/openid-configuration`.

I don't know exactly how OpenShift does DNS

[2019-11-13 22:00] tomgeorge commented on #15187
Alternatively, you can override these by setting `customCheProperties` fields in the CR.  Working on the list of those.

[2019-11-13 23:39] sparkoo commented on #15136
## Jaeger
jaeger-operator can be installed with
[code]
Then this will deploy simple jaeger instance
[code]

To connect Che to Jaeger instance, we need to know Jaeger's collector endpoint. For 1. and 2. use-case we should just enhance che-operator to enable tracing and set url to jaeger collector endpoint. We need to set env values as documented here https://www.eclipse.org/che/docs/che-7/tracing-c

[2019-11-14 01:15] johnmcollier opened #15188 "Workspace creation via factory url hangs when using chrome"
### Describe the bug

When I go to create a workspace via the factory URL (`<che-url>/f?url=<devfile>`), I'm finding that it frequently hangs at the `Initializing workspace` stage and never progresses when on Chrome (I'm on Version 78.0.3904.87). If I use another browser like Firefox, it works fine. It doesn't _always_ hang on Chrome, but I'd say it hangs most of the time.

Looking at the cluster,

[2019-11-14 01:24] johnmcollier commented on #15188
I should also note that if I copy and paste the devfile via the new `Import devfile` tab, I don't hit this issue.

[2019-11-14 04:21] amisevsk commented on #13299
/remove-lifecycle stale

[2019-11-14 04:22] amisevsk commented on #14633
Yeah, I think I caught them all.

[2019-11-14 04:22] #14633 closed

[2019-11-14 07:09] musienko-maxim commented on #15183
@benoitf  Thx for remark, updated

[2019-11-14 07:12] tolusha commented on #15183
@musienko-maxim
Have you tried to reproduce the issue on pure Theia?
If so, pls create an issue in corresponding repository.

[2019-11-14 07:35] svkr2k commented on #14117
Thank you @skabashnyuk, Are usecases 1-3 already supported in 7.4.0 ?

[2019-11-14 07:39] skabashnyuk commented on #14117
1. It can be stopped by timeout not deleted by logout.
2. Default configuration option 1 workspace per user.
3. Projects will come from the git server. Github for example.

[2019-11-14 07:42] evidolob opened #15189 "Che plugin registry use wrong redirect url"
### Describe the bug
When Che deployed with self signet certificates, che-theia use `https://plugin-registry-aleks-crw2-operatorhub-tls.apps.crw.codereadyqe.com/v3/plugins/` URl  to get all plugins.
che plugin registry server returns:
[code]
Then che-theia use `self` field value to get plugin `meta.yaml` file:
URL: `https://plugin-registry-aleks-crw2-operatorhub-tls.apps.crw.codereadyqe.com/v3/plu

[2019-11-14 08:14] RomanNikitenko commented on #15183
I think it can be caused by https://github.com/eclipse-theia/theia/pull/6255
I created the corresponding issue for `tasks.json` file.
Please see more details [here](https://github.com/eclipse-theia/theia/issues/6542)

[2019-11-14 08:53] sleshchenko commented on #15186
@rhopp `/system/stop?shutdown=true` is a right call to do. But there might be difficulty in cleaning K8s/OS resources by Che Server without user token... It needs to be investigated carefully.
If the che-operator is able to provide `cluster-admin` k8s/os token - then it might work but I guess some changes should be done on the Che Server side.

[2019-11-14 08:56] vzhukovskii commented on #14987
Fixed with https://github.com/eclipse/che/issues/13390

[2019-11-14 08:56] #14987 closed

[2019-11-14 09:32] azatsarynnyy opened #15190 "Upgrade Kubernetes Che plugin with Helm 3 support"
### Is your task related to a problem? Please describe.

To enable Helm 3 support in Kubernetes Tooling Che plugin we need to upgrade its dependencies to:
- Helm 3 https://github.com/helm/helm/releases/tag/v3.0.0
- Kubernetes Tools VS Code extension v. 1.0.7 with Helm 3 support https://github.com/Azure/vscode-kubernetes-tools/releases/tag/1.0.7

### Describe the solution you'd like

### Describe a

[2019-11-14 09:42] mmorhun commented on #14343
Also it would be useful to be able to configure env variables for Che editors as well. This way we could easily alter some editor configuration from devfile without requirement to override meta.yaml.

[2019-11-14 09:43] #15106 closed

[2019-11-14 09:47] mmorhun commented on #14970
Is there any plans to add support of described above features for Che editor? (Just faced a need to set an environment variable for Che Theia, but it is not possible without changing its meta.yaml).

[2019-11-14 09:48] tsmaeder opened #15191 "[docs] Cannot find Che configuration options"
In https://www.eclipse.org/che/docs/che-7/advanced-configuration-options/, the doc describes a process for setting "advanced configuration options". However, there is no list of all possible options with proper values and what their effect is.

[2019-11-14 09:52] tsmaeder commented on #15191
If the list is somewhere else, we need to add a link to that section.

[2019-11-14 10:04] tsmaeder opened #15192 "Wrong example for che custom properties"
In this doc: https://www.eclipse.org/che/docs/che-7/advanced-configuration-options/, the following example
[code]
is wrong: the correct syntax has double quotes around the number, as in `"2048"`

![image](https://user-images.githubusercontent.com/13163770/68847019-39255900-06ce-11ea-824d-7b46bce836f0.png)

[2019-11-14 10:05] tsmaeder commented on #15192
Also, the error message is very verbose and incorrect: `5000` is totally an integer.

[2019-11-14 10:05] l0rd commented on #15138
I have raised this issue as P1 because there are use cases where Che worksapces are not usable at all if we enforce hard security constraints as running pods as arbitrary users.

[2019-11-14 10:06] skabashnyuk opened #15193 "Some icons on plugin view panel are not rendered correctly"
### Is your task related to a problem? Please describe.
Some icons on plugin view panel are not rendered correctly
![Знімок екрана  о 10 13 02](https://user-images.githubusercontent.com/1614429/68847258-a6d18500-06ce-11ea-926f-d904feec4c2c.png)

### Describe the solution you'd like
icons rendered correctly.

### Describe alternatives you've considered
n/a
### Additional context
n/a

[2019-11-14 10:08] ibuziuk commented on #15192
PR sent  - https://github.com/eclipse/che-docs/pull/914

[2019-11-14 11:02] ibuziuk commented on #15192
It is, the error message says `body must be of type string`. I think we can close the issue. docs are update - https://www.eclipse.org/che/docs/che-7/advanced-configuration-options/

[2019-11-14 11:03] #15192 closed

[2019-11-14 11:05] mmorhun commented on #14883
All missing object on UI are supposed to be retrieved via webview mechanism.
At the moment all webview resources paths are absolute. Firstly I tried to change all paths to be relative and it worked for all the use-cases I've tested, but when I created PR in Eclipse Theia repo it turned out that such approach has pitfalls in some cases and has been tried (and then reverted) before.
Also there is [P

[2019-11-14 11:55] skabashnyuk commented on #14883
How do you see that?

[2019-11-14 12:13] mmorhun commented on #14883
@skabashnyuk there is a [small doc](https://github.com/eclipse-theia/theia/pull/6465/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR17) in the PR.

[2019-11-14 12:19] #15089 closed

[2019-11-14 12:28] skabashnyuk commented on #15189
merged workaround to master and 7.3.x https://github.com/eclipse/che-plugin-registry/pull/296

[2019-11-14 12:28] #15189 closed

[2019-11-14 12:31] l0rd commented on #15173
Set as a blocker because this issue affects our Happy Path PR check

[2019-11-14 12:31] l0rd commented on #15183
Set as a blocker because this issue affects our Happy Path PR check

[2019-11-14 12:38] skabashnyuk commented on #14883
So how THEIA_WEBVIEW_EXTERNAL_ENDPOINT will look like in devfile on plugin.yaml?

[2019-11-14 12:41] mmorhun commented on #14883
For now the only way is to edit meta.yaml of Che Theia.
When I tested it, I set `THEIA_WEBVIEW_EXTERNAL_ENDPOINT` to `http://192.168.99.103.nip.io` (which is the 'single host')

[2019-11-14 13:02] evidolob commented on #15107
We need https://github.com/eclipse/che/pull/15194 for 7.3.2

[2019-11-14 13:42] AndrienkoAleksandr opened #15196 "Cors issue"
### Describe the bug
List stacks on is empty on the tab `ready to go stack` for minikube multiuser. In logs - CORS issue.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Open che-user dashboard.
2. Select tab `ready to go-stack`

### Expected behavior
 - Tab with `ready to go stack` should display stack list.

### Logs:
https://gist.github.com

[2019-11-14 13:43] vitaliy-guliy opened #15197 "Don't show two product logo on start"
### Describe the bug

Two product logo are displayed in Welcome page on start.
The bug does not depend on environment and deploy method.
The problem is that on remote Che styles for welcome page are loaded with a little delay.
This delay is normal behavior, but we need to handle it.
The best solution here is does not show product logo at all until styles has been loaded.

![Screenshot from 2019-11

[2019-11-14 13:44] skabashnyuk commented on #15196
can you show the response from ```http://devfile-registry-che.192.168.99.100.nip.io/devfiles/index.json```
are you sure it's not a service unavailable page from OpenShift?

[2019-11-14 13:47] AndrienkoAleksandr commented on #15196
@skabashnyuk, yes seems page is not available.

[2019-11-14 14:03] #15196 closed

[2019-11-14 14:31] vitaliy-guliy commented on #15100
Connected with https://github.com/eclipse/che/issues/15197

[2019-11-14 14:32] renedlog commented on #13334
/remove-lifecycle stale

[2019-11-14 14:32] #13334 closed

[2019-11-14 14:34] musienko-maxim commented on #15173
Checked on minikube infra manually the bug is fixed

[2019-11-14 14:34] #15173 closed

[2019-11-14 15:06] ibuziuk commented on #15111
I believe we can close this one

[2019-11-14 15:06] #15111 closed

[2019-11-14 15:17] sparkoo commented on #15136
## Grafana
grafana-operator has `GrafanaDashboard` CRD (https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md). We will create `GrafanaDashboard` in che namespace and let grafana-operator discover it. The dashboard will contain full dashboard json (https://github.com/eclipse/che/blob/master/deploy/openshift/templates/monitoring/grafana-dashboards.yaml).
There is an

[2019-11-14 15:18] rhopp commented on #15187
The same problem happens much sooner, when installing with TLS with self-signed certificate - While extracting the certificate, operator creates temporary route, but this route is not accessible:
[code]

[2019-11-14 15:26] sparkoo commented on #15136
Summary/Proposal
====

So here's the summary and proposal of the solution

Update CheServer CRD with following options:
* `cheMonitoring` # bool - enables monitoring endpoint of che server
* `externalMonitoring` # bool - use external prometheus and grafana or deploy our own (prometheus-operator, grafana-operator)
* `cheTracing` # bool - enable tracing on che server
* `externalTracing` # bool - use

[2019-11-14 15:38] sleshchenko commented on #15187
@rhopp It may be a fix for the issue you mentioned https://github.com/eclipse/che-operator/pull/66/commits/db15bdb770dac7171f2cfb41451fc737bc4fb5c8 but I'm not sure

[2019-11-14 15:45] benoitf commented on #15163
yes I kind of disagree. think that tgz is an internal format.

Windows users are using mostly .exe or install commands so I'm unsure providing .zip would be better.

We could provide .exe installers as oclif may generate them

[2019-11-14 16:02] benoitf commented on #15161
it's far better with man installed ^^

[code]

well just kidding we need as well `git-doc` package

[2019-11-14 16:02] vitaliy-guliy commented on #15006
Everything's merged. Must work now.

[2019-11-14 16:02] #15006 closed

[2019-11-14 16:10] benoitf commented on #15162
This issue is related to che.openshift.io PVC type and it's already reported at https://github.com/redhat-developer/rh-che/issues/1047

Closing here upstream as with other PVC type it's working (OpenShift/Kubernetes, etc) so it's not related directly to Eclipse Che
Also as part of Che "performance/fast startup" there are other issues with like rsyncing project data as alternative as well (mixing e

[2019-11-14 16:10] #15162 closed

[2019-11-14 16:37] l0rd commented on #14970
@mmorhun good point

[2019-11-14 16:40] l0rd commented on #13709
Please when start working on this issue take into consideration that we should add CPU limits, CPU request and memory request for che plugins and editors.

[2019-11-14 17:11] AndrienkoAleksandr commented on #13442
@slemeur I worked on reproducing this issue and I see - issue is reproducible on the Firefox **67**, but is not reproducible since Firefox **68.0.1**. Do we have any strategy about minimal Firefox version support? I mean when we confirm that we are going to fix some bug, because it is reproducible for some supported Firefox version, if it is reproducible for older version we apply recommendation f

[2019-11-14 17:15] AndrienkoAleksandr commented on #14015
I lived some comment about minimal supported Firefox version https://github.com/eclipse/che/issues/13442#issuecomment-553986167

[2019-11-14 17:27] ibuziuk commented on #15006
@vitaliy-guliy was it cherry-picked to 7.3.x?

[2019-11-14 17:30] ibuziuk commented on #15107
@evidolob @l0rd Plugin installation fails from che-theia workspace · Issue #15006 · is closed but was it cherry-picked on 7.3.x ?

[2019-11-14 17:56] l0rd commented on #15107
@ibuziuk the fix required a commit on eclipse/che side https://github.com/eclipse/che/pull/15180. Not sure you tested with that commit as well.

[2019-11-14 18:00] ibuziuk commented on #15107
Dashboard restart is cherry-picked - https://github.com/eclipse/che/pull/15194
Just want to make sure that all critical fixes are also backported to 7.3.x

[2019-11-14 19:16] rhopp commented on #15187
I've been able to succesfully start che-server using k8s internal dns name of the keycloak service (in my case `CHE_KEYCLOAK_AUTH__SERVER__URL: 'http://keycloak.rhopp-air-gap-crw.svc:8080/auth'`)

But then (as expected) dashboard wasn't able to load (with typical message `Authorization token is missed`), because my browser couldn't resolve that URL.

[2019-11-14 19:17] amisevsk commented on #13442
I think as long as things work on the latest stable version of Firefox that's commonly available, it's fine. What's concerning is that we don't know what changed between firefox 67 and 68 that fixed this -- we don't link to a bug that explains the issue. Is Che doing something wrong and it just happens to work with a new Firefox, or was it a legitimate Firefox bug that caused the css loading issue

[2019-11-14 19:21] amisevsk commented on #15162
To add, there's an epic that I think covers this one that @l0rd opened a few days ago: https://github.com/eclipse/che/issues/15174. I agree that this isn't a Che issue and is more a limitation of the underlying storage system being used. Ideally Che has a compatibility matrix for which storage drivers have limitations.

[2019-11-14 20:23] amisevsk commented on #14330
@davidwindell I'm very sorry for leaving unattended for so long -- I got caught up in some other issues. To be honest, this is behaviour I've not encountered when using Kubernetes. I suspect the issue is caused by using [hostPath volumes](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath), as the docs warn

There's probably a way to get non-root Che to work with hostPath volumes, but t

[2019-11-14 20:31] amisevsk commented on #14330
@davidwindell If you are still interested in poking at this one (I understand if you're not or don't have time) could you re-try the [manual broker startup](https://github.com/eclipse/che/issues/14330#issuecomment-525343605) with updated pvc-test.yaml:

[code]

This is more similar to what the broker actually runs as, so it might make the issue clearer (afaik user 1724 should be able to write `/pl

[2019-11-14 20:34] davidfestal commented on #15187
@rhopp @tomgeorge Would it be possible to check with OpenShift teams whether it is expected that typical airgaped OpenShift 4.2 installations would *not allow PODs to access external routes* ?
That seems quite a very hard restriction that would probably make Che fial anyway.

[2019-11-14 20:44] amisevsk commented on #13709
It's not implemented currently but I agree with @sleshchenko that it wouldn't be terribly difficult (apart from adding those fields where necessary). My only concern would be that it may be possible to shoot yourself in the foot since memory and cpu limit can interact (e.g. two workspace pods requesting 2Gi memory and 10000m CPU won't be able to be provisioned on a node due to CPU availability), a

[2019-11-14 20:53] amisevsk commented on #15191
Ideally it would be nice to have an automatic conversion from `che.properties` and `multiuser.properties`, as they already have some documentation attached (though it could be improved).

[2019-11-14 21:52] ironcladlou commented on #15187
By default, on AWS, GCP, and Azure, if cluster DNS zone configuration was provided to the OpenShift installer, OpenShift will manage wildcard DNS records for ingress in the configured zones (assuming ingress is being exposed by a LoadBalancer Service, which is the default on those platforms.)

On other platforms, or if cluster DNS zone configuration is omitted, wildcard DNS records for ingress are

[2019-11-14 22:49] l0rd commented on #13709
@amisevsk that's not about making it mandatory to set the CPU limits but about having the possibility to do it.

You are right when you say that currently everything works fine on OSO. In the last 2 years we have designed the OpenShift infra so that it worked fine on OSO. But that's a peculiar OpenShift cluster and the admission controller you are mentioning (along with the storage backend etc...)

[2019-11-14 23:04] tomgeorge commented on #15187
Thanks to @ironcladlou for looking into this with me.  The issue appears to be that the traffic is rejected by the LB or when on the way back to the node.  We should look at the way this cluster was configured in QE and see if it matches the installation procedure in https://docs.openshift.com/container-platform/4.2/installing/installing_restricted_networks/installing-restricted-networks-aws.html

[2019-11-15 05:17] tomgeorge commented on #15131
@davidfestal is this OK to be closed?

[2019-11-15 07:25] davidfestal commented on #15131
I think so

[2019-11-15 08:36] tolusha commented on #15188
I've tried couples of time but wan't able to reproduce.
Google Chrome | 78.0.3904.97 (Official Build) (64-bit)

[2019-11-15 08:43] tsmaeder commented on #15193
P2, as this is purely visual.

[2019-11-15 08:45] tsmaeder commented on #15197
It's purely cosmetic, but since it's the first thing a use sees when opening a workpspace, I'm giving this one a P1.

[2019-11-15 08:49] #15104 closed

[2019-11-15 08:55] davidfestal commented on #15152
Changing to blocker since it had been added by @l0rd into 7.3.2 tasks.
Anyway it's fixed already on the operator `crw-2.0` branch.

[2019-11-15 09:19] rhopp commented on #15187
Response from @Jianlin Liu, who has knowledge of how the cluster is configured:
[code]

[2019-11-15 09:19] tolusha commented on #15191
As @amisevsk mentioned, properties and documentation can be find here:
https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/multiuser.properties
https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties

[2019-11-15 09:19] tsmaeder commented on #15161
While we're at it, can we get the auto-complete for git branches working? That would be awesome.

[2019-11-15 09:20] benoitf commented on #15161
@tsmaeder please file another issue

[2019-11-15 09:27] tsmaeder commented on #15183
@musienko-maxim can we get the relevant logs, please?

[2019-11-15 09:45] tsmaeder commented on #15191
@tolusha this information needs to in the doc or it needs to be pointed to in the doc.

[2019-11-15 10:56] sleshchenko commented on #14260
should be fixed https://github.com/minishift/minishift/pull/3333

[2019-11-15 10:56] #14260 closed

[2019-11-15 13:10] ibuziuk commented on #15182
Draft PR - https://github.com/redhat-developer/rh-che/pull/1696

[2019-11-15 13:39] DStatWriter opened #15199 "[Doc] Che7 - Prepared Explorer for Endevor Docs for open sourcing"
PR contains re-formatted and prepared docs relating to Open Sourcing of Explorer for Endevor

This supports the re-purposing of Explorer for Endevor from proprietary code to open sourced che extension.

Docs serve as user guide

[2019-11-15 13:49] #15131 closed

[2019-11-15 14:10] mmorhun opened #15200 "Found text match in Search panel is not displayed at all if its length doesn't fit panel size"
### Describe the bug
When use full text search in `Search` panel, the result is disappeared if the text match cannot be fully displayed because of panel size. It appears again when resize the panel to the size when whole search phrase could be displayed.

### Steps to reproduce

1. Open a text file, select and copy a line.
2. Open `Search` panel (usually on left panel) and paste the copied line
3.

[2019-11-15 14:25] tolusha commented on #15200
Should it be the issue in https://github.com/eclipse-theia/theia repo?

[2019-11-15 14:50] ironcladlou commented on #15187
If I understand the setup correctly, if you really want to use Routes on an internal subnet (i.e. routes can be accessed _only within the private subnet_), with OpenShift 4.2 you can try replacing the default ingresscontroller with an internally-scoped variant that provisions the LB on the cluster's private subnet, e.g.

[code]

(See [these Kubernetes docs](https://kubernetes.io/docs/concepts/serv

[2019-11-15 14:53] dmytro-ndp opened #15202 ""Forbidden!Configured service account doesn't have access" error when open workspace in TLS mode"
### Describe the bug
In Multiuser Eclipse Che of 7.3.2 version it was impossible to open workspace on OCP 3.11:

![Eclipse Che _ wksp-tmjg - Google Chrome_065](https://user-images.githubusercontent.com/1197777/68951588-13c84600-07c7-11ea-853b-2939e5b597d4.png)

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.3.2 RC , 7.3.1

It wasn't reproduced with Eclipse Che 7.5.0-SNAPSHOT

### St

[2019-11-15 15:00] tolusha commented on #15202
duplicates https://github.com/eclipse/che/issues/15159 ?

[2019-11-15 15:00] mmorhun commented on #15200
@tolusha yes, you are right. I tested Eclipse Theia with Firefox and there everything works as expected.

[2019-11-15 15:01] #15200 closed

[2019-11-15 15:01] ibuziuk commented on #15202
@dmytro-ndp could you confirm that this is a regression in comparrison with 7.3.1 ?

[2019-11-15 15:01] sleshchenko commented on #15202
@tolusha I believe it's not.

@dmytro-ndp Could you confirm that you deployed Che without OpenShift OAuth configured?

[2019-11-15 15:24] dmytro-ndp commented on #15202
@ibuziuk: yes, I checked it twice that it was deployed without OpenShift OAuth configured.

[2019-11-15 15:27] davidfestal commented on #15202
@dmytro-ndp if you already installed Che in another namespace before doing this test, without properly using `chectl server:delete` to remove it, you might meet a situation were you'll miss Che cluster admin rights

[2019-11-15 15:56] davidfestal commented on #15152
Closing since it was fixed by PR https://github.com/eclipse/che-operator/pull/122, (also cherry picked on `master`) whose squashed commit will be present on the 7.3.2 upcoming release.

[2019-11-15 15:56] #15152 closed

[2019-11-15 16:51] ibuziuk commented on #15187
@rhopp @jianlinliu could you please clarify what is the expected & recommended OCP installation setup/config in the airgap mode regarding DNS / LB? If I understand correctly we face this issue since the dns resolution of routes on the QA cluster is happening in public internet and the only way to communicate is using sevicename + port combo. What I do not understand is how come OCP in the `airgap`

[2019-11-15 17:06] dmytro-ndp commented on #15202
Well, there was `oc delete project` command used.
I tried `chectl server:delete` and encountered another problem tried to Eclipse Che later:
[code]

[2019-11-15 17:22] dmytro-ndp commented on #15202
The problem has been reproduced on OCP 4.2 as well.

[2019-11-15 18:30] amisevsk opened #15204 "Non-localhost plugin sidecar brokering will fail with modern plugins"
### Describe the bug
The plugin broker supports a flag `--use-localhost-in-plugin-urls`, which is designed to allow running plugins in separate pods from Theia (if set to false). However, the code that does this only handles plugins that do not have additional endpoints defined:
- The plugin broker does not validate that there are no endpoints defined, and instead [blindly adds an endpoint for The

[2019-11-15 19:40] tomgeorge commented on #15187
This document is the best thing that we have for airgap/restricted network installations: https://docs.openshift.com/container-platform/4.2/installing/installing_restricted_networks/installing-restricted-networks-aws.html

The issue is not actually the DNS resolution but rather that there is no route for traffic to exit the cluster and return through the ELB.  After looking at the templates in htt

[2019-11-15 21:07] rhopp commented on #15187
Latest info from my side:
I'm not very sure about all the underlying networking/solutions... But as Jianlin said they are using proxy, I've tried to deploy CRW 2.0 with proxy configured and it works (server succesfully started & dashboard was loaded - keycloak redirection was working).
I wasn't able to try workspace startup and I don't have time to do that now - this will have to wait for monday.

[2019-11-15 21:56] monaka commented on #14956
@benoitf  @sagargrsi  It looks there is no CAA record settings in the document.
refs: https://community.letsencrypt.org/t/acme-caa-validationmethods-support/63125

[2019-11-15 22:05] monaka commented on #14956
For example. CAA record on `pizzafactory.jp` that is hosting PizzaFactory/Camino Che based PaaS.
The backend is by AzureDNS + AKS.

[code]

[2019-11-17 00:33] l0rd commented on #14398
@vinokurig I have been testing this and managed to get file permission `0600` for the key files. I have found out that when you specify `fsGroup` the secret file permissions get overridden.  So the trick consist simply in not specifying `fsGroup` at all.

I suppose that in Che we are forced to specify the `fsGroup` if we are running the pod as non root user (not sure about that though). But we do

[2019-11-18 04:19] kellyhyomin opened #15209 "[doc] Document support of the private registries"
## Summary
- che version : 7.3.0
- runtime : kubernetes
- installer : helm
I uncommented the registry part in values.yaml file.
I got registry-pull-secret but it couldn't pull the image in private docker registry.

![image](https://user-images.githubusercontent.com/29850624/69023892-c71d7e80-0a03-11ea-81e8-530026ba29b1.png)

![image](https://user-images.githubusercontent.com/29850624/69024407-f897

[2019-11-18 05:52] sparkoo opened #15210 "[che-operator] - enable che-server monitoring endpoint"
### Is your enhancement related to a problem? Please describe.
Task of this epic https://github.com/eclipse/che/issues/15046
To support collecting metrics, we need to make it possible to enable che-server metrics endpoint with che-operator.

### Describe the solution you'd like
Metrics endpoint is configured on che-server with `CHE_METRICS_ENABLED` env variable. To configure it from che-operator,

[2019-11-18 05:57] sparkoo opened #15211 "[che-operator] - create ServiceMonitor and GrafanaDashboard when CRDs available and monitoring enabled"
### Is your enhancement related to a problem? Please describe.
Task of this epic https://github.com/eclipse/che/issues/15046
prometheus-operator and grafana-operator helps configure prometheus/grafana with CR objects. To support this setup, we need to create these objects so operators can discover them.
Prometheus operator uses ServiceMonitor CRD - https://github.com/coreos/prometheus-operator/blo

[2019-11-18 06:00] sparkoo opened #15212 "[che-operator] - install Prometheus CR"
### Is your enhancement related to a problem? Please describe.
Task of this epic https://github.com/eclipse/che/issues/15046
To support monitoring of Che with Prometheus, we can instantiate the Prometheus with `Prometheus` CR managed by `prometheus-operator`.

### Describe the solution you'd like
Update `CheServer` CRD with:
[code]

This is applicable only if `metrics.enable: true`.
If `metrics.pr

[2019-11-18 06:07] sparkoo opened #15213 "[che-operator] - enable che-server tracing"
### Is your enhancement related to a problem? Please describe.
Task of this epic https://github.com/eclipse/che/issues/15046
To support tracing, we need to make it possible to enable and configure tracing of che server from che-operator.

### Describe the solution you'd like
On che-server, tracing is configured with several options https://www.eclipse.org/che/docs/che-7/tracing-che/. The minimal v

[2019-11-18 06:24] sparkoo opened #15214 "[che-operator] install Jaeger CR"
### Is your enhancement related to a problem? Please describe.
Task of this epic https://github.com/eclipse/che/issues/15046
To support tracing with self manager Jaeger, we need che-operator to be able to install Jaeger.

### Describe the solution you'd like
Update `CheCluster` CRD with:
[code]
If `true` and `Jaeger` CRD is defined in the cluster, create `Jaeger` CR:
[code]

### Additional context

[2019-11-18 06:37] sparkoo opened #15215 "Jaeger persistent storage"
### Is your enhancement related to a problem? Please describe.
When installing Jaeger as described here https://github.com/eclipse/che/issues/15214, the In-memory storage is used. We probably would need to somehow persist the data to prevent data loss.

### Describe the solution you'd like
Collect requirements, investigate options of persistence https://www.jaegertracing.io/docs/1.6/deployment/#st

[2019-11-18 06:42] sparkoo commented on #15046
Overall analysis of monitoring/tracing is summarized in this comment https://github.com/eclipse/che/issues/15136#issuecomment-553937561 I've created several issues and updated description of this epic with proposed implementation steps.

[2019-11-18 07:35] skabashnyuk commented on #15209
@kellyhyomin thank you for this report.
AFAIK the single way how to set up credentials to private docker registry - with help of  che's administration page. Did you try this way?

[2019-11-18 07:39] tolusha opened #15216 "Use a maven sample for the maven stack"
### Is your enhancement related to a problem? Please describe.
We use the java sample [1] with a Grandle build-system by default for the java-maven stack [2].
It confuses and leads to such quesitons [3]

[1] https://github.com/che-samples/console-java-simple
[2] https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-maven/devfile.yaml
[3] https://stackoverflow.com/questions/5886

[2019-11-18 07:56] ibuziuk commented on #15209
@rkratky I can not find the docs related to the private registry setup. is it going to be backported?

[2019-11-18 07:59] ibuziuk commented on #15209
@kellyhyomin you should be able to setup it via the UD:

![registry](https://user-images.githubusercontent.com/1461122/69034519-b3612080-09e1-11ea-9af6-0f860e315aba.gif)

[2019-11-18 08:16] themr0c opened #15217 "Backport Che 6 documentation bits that are still relevant"
Che 6 documentation has been unpublished (#14971).

Now it's time to backport the parts that are still relevant to Che 7.

Please help identify the documentation from  Che 6 that is still relevant to Che 7:

- [x] Document support of the private registries #15209
- [x] Stop Workspace settings documentation #15074
- [x] [docs] Cannot find Che configuration options #15191
- [x] PVCs strategy in Che

[2019-11-18 08:17] kellyhyomin commented on #15209
@skabashnyuk  @ibuziuk
Thank you for reply.
I already know how to do it on the administration page you gave me.
I was wondering if it is possible to set private registry in https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/values.yaml file.
Because I want to make certain people use images in company's private docker registry.

[2019-11-18 08:20] kellyhyomin commented on #15209
@skabashnyuk @ibuziuk
Thank you for reply.
I already know how to do it on the administration page you gave me.
I was wondering if it is possible to set private registry in https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/values.yaml file.
Because I want to make certain people use images in company's private docker registry.

[2019-11-18 08:40] ibuziuk commented on #15209
no, I believe there is no such feature. @kellyhyomin so, you would like to create some secrets with private registry info + credentials and then refer to it from the deployment via env var e.g `CHE_PRIVATE_REGISTRY_ADDRESS`?

[2019-11-18 09:06] kellyhyomin commented on #15209
@ibuziuk
yes. What I want is the same as what you said.
I know the env you provided are CHE_DOCKER_REGISTRY_AUTH_REGISTRY1_URL, CHE_DOCKER_REGISTRY_AUTH_REGISTRY1_USERNAME and CHE_DOCKER_REGISTRY_AUTH_REGISTRY1_PASSWORD but those settings don't work.

[2019-11-18 09:13] ibuziuk commented on #15209
@kellyhyomin can you please create a feature request for it? Maybe you will also be interested in contributing ;-)

[2019-11-18 09:31] #14912 closed

[2019-11-18 09:31] RomanNikitenko commented on #15185
@FlorianLudwig
is it some vs code extension on your screenshot?
could you share the reference for it, if so

thanks in advance!

[2019-11-18 09:33] #13522 closed

[2019-11-18 10:03] AndrienkoAleksandr commented on #13442
Issue progress update:

For such kind errors:
[code]
 I created pr https://github.com/eclipse/che-theia/pull/551 . Also I found that font exception could spawn side effect: not all che-theia icons is loading, especially for  project tree view.

[2019-11-18 10:17] skabashnyuk commented on #15136
@sparko that is a great summary/proposal.
I would like to add a few adjustments to make it more generic

## General look and feel
[code]
Important parts
 1. Your are able to enable or disable the whole tracing or monitoring in a single field
[code]
2.  Jaeger java client https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-core  has to be configured on che master side
[code]
3.

[2019-11-18 10:40] tolusha commented on #15114
TODO:
- https://github.com/eclipse-theia/theia/issues/6534
- https://github.com/eclipse-theia/theia/issues/6534

[2019-11-18 10:47] vinokurig commented on #14398
@lord Do you mean that we need to have an ability not to specify `fsGroup` ?

[2019-11-18 11:16] sparkoo commented on #15136
yes, this is really good, very generic approach.
Just few issues/questions I can see after 1st quick gothrough:
 - does `serviceMonitor.enable` make sense? Isn't just simply 'create CR if defined' enough ? What if I set `enable: false` and CR defined?
 - properties like `ServiceMonitor` or `GrafanaDashboard` will have to be an array as it must be possible to create more of them.
 - 'In case if CRD

[2019-11-18 11:35] mmorhun commented on #15200
Reported to upstream: https://github.com/eclipse-theia/theia/issues/6569

[2019-11-18 11:42] skabashnyuk commented on #15136
Interesting POV.  I must admit I have some doubts about the default value for `*.cr.enable`. I was thinking to make it equal `true` by default. The basic idea here is to be able to turn off something that is not needed/inappropriate in a given environment. Can we say that if some cr config is omitted - then it's enabled/wanted by default? But you can turn it off with  *.cr.enable` = `false`

+1

O

[2019-11-18 12:02] Mikolaj98p opened #15219 "Error 404 on download page"
## Summary
Hello.
My question is about error 404 on download page.
How can I host Eclipse Che on my own server or how can I setup on CentOS?
Thanks.

[2019-11-18 12:43] tolusha commented on #14759
Where does it caution come from? I don't see anything suspicions https://www.npmjs.com/package/@theia/vscode-builtin-git

[2019-11-18 12:54] tsmaeder commented on #14759
I seem to remember that one of the dependencies of the git extensions is LGPL, but i don't remember the details. I think @vparfonov would know the details.

[2019-11-18 13:43] tolusha commented on #15219
You can install Eclips Che using chectl [1] on minishift [2] or minikube [3] environment

[1] https://github.com/che-incubator/chectl
[2] https://docs.okd.io/latest/minishift/getting-started/installing.html
[3] https://kubernetes.io/docs/tasks/tools/install-minikube/

[2019-11-18 13:59] #13688 closed

[2019-11-18 14:25] SkorikSergey opened #15221 "'Workspace Cap' and 'Workspace RAM Cap' organization restrictions don't work"
### Describe the bug
`Workspace Cap` and `Workspace RAM Cap` organization restrictions don't work

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Create an organization.
2. Open **Settings** tab on the organization details page and set up `Workspace Cap` (maximum number of workspaces for the organization) and `Workspace RAM Cap` (maximum RAM o

[2019-11-18 14:27] skabashnyuk commented on #15221
I think it's duplicate https://github.com/eclipse/che/issues/11424

[2019-11-18 14:27] NM4 commented on #15043
@amisevsk  @sleshchenko @davidfestal

May be the readiness check depends on that all content are available ?

I Reconfigured Che server and che workspaces to use an entreprise proxy ( for testing) The problem was the same, but when I provide an internet access to the client machine, the machine where I have my web browser that I use to access Che,  in this case, I got access to Theia editor!

So m

[2019-11-18 14:30] #15221 closed

[2019-11-18 14:52] sparkoo commented on #15136
Can you please closer specify what you mean by this?

You can have also more Prometheus instances, so I guess we should make all arrays?

I'm wondering where to set the boundary between generic and simplistic solution. If we do it too generic, what value do we bring instead of let admins to provide their own stack?
Also if you look to for example devfile registry: `devfileRegistryImage`, `devfileR

[2019-11-18 15:52] amisevsk opened #15222 "Update year in license headers of files for 2019"
### Is your task related to a problem? Please describe.
As 2019 draws to a close, we should probably [update the year in our license headers](https://github.com/eclipse/che-parent/blob/master/pom.xml#L84).

[2019-11-18 16:19] amisevsk commented on #15114
Shouldn't `"preLaunchTask": "quarkus:dev",` be `"preLaunchTask": "mvn quarkus:dev",`?

[2019-11-18 16:43] dmytro-ndp opened #15223 "Adapt E2E Happy path tests to changes in Git flow"
### Describe the solution you'd like
There is [PR to set default git clone directory to '/projects'](https://github.com/eclipse/che-theia/pull/549), and it requires fixup of E2E Happy path tests.

[2019-11-18 16:53] sparkoo commented on #15136
#### Programatically install an operator from operator hub
Nice OpenShift documentation is here: https://docs.openshift.com/container-platform/4.2/operators/olm-adding-operators-to-cluster.html#olm-installing-operator-from-operatorhub-using-cli_olm-adding-operators-to-a-cluster
All operators in OpenShift 4.2 cluster are in namespace `openshift-marketplace` and can be listed with `oc get packageman

[2019-11-18 18:47] ibuziuk commented on #15202
@dmytro-ndp could you please try with the 7.3.2 version of `chectl` - https://github.com/che-incubator/chectl/releases

[2019-11-18 18:49] ibuziuk commented on #15204
@amisevsk I suspect this also affects 7.3.1 / 7.3.2 right ?

[2019-11-18 18:52] ibuziuk commented on #15219
My question is about error 404 on download page.

@Mikolaj98p could you please clarify which URL do you mean?

[2019-11-18 18:54] nickboldt commented on #15079
Aren't we making a distinction between "disconnected environment" (offline) and "restricted environment" (air gap) ?

The former is not supported in CRW 2 (yet). The latter should work (with some setup required, eg., prepulling container images to an internal registry).

[2019-11-18 19:00] ibuziuk commented on #15222
@skabashnyuk @vparfonov could you please clarify who is normally doing the year update thingy across the repos ?

[2019-11-18 19:29] rhopp commented on #15202
I've just deployed Che  using chectl 7.3.2 on OCP 4.2.4
`./chectl/bin/chectl server:start -a operator -p openshift --che-operator-cr-yaml=custom-resource.yaml -n rhopp-che732`
where `custom-resource.yaml` is from the original post from Dmytro.

Workspace started fine for me (I've tried the Java-maven one)

[2019-11-18 21:05] amisevsk commented on #15204
@ibuziuk At the end of the day, no release of Che is affected, since the config setting (`use-localhost-in-plugin-urls`) is awlway

[2019-11-18 21:22] skabashnyuk commented on #15222
it can be anybody

[2019-11-19 03:04] monaka commented on #13319
@davidwindell Thank you for heads up. I moved it out of draft just now.

[2019-11-19 04:59] l0rd commented on #14398
@vinokurig I think that in general we should not apply `fsGroup` and `runAsUser` if the user do not ask it specifically. And we should probably support `runAsGroup` as well. What do you think?

[2019-11-19 05:07] rbkaspr opened #15224 "Multiple Broken Documentation Links"
### Is your task related to a problem? Please describe.
Multiple documentation links in the README link back to 404'd pages on the Eclipse website. This includes documentation for running Che on your own K8s cluster.

### Describe the solution you'd like
Documentation should either be restored on the Eclipse website or else hosted elsewhere and the link in the README should be updated with their p

[2019-11-19 05:17] kellyhyomin commented on #15168
@skabashnyuk

I solved this issue.
I have updated the prometheus and grafana chart versions as shown in the screenshot below to use grafana and prometheus in kubernetes 1.16.2.

deploy/kubernetes/helm/che/requirements.yaml
prometheus version ^7.4.5 to ^9.3.1
![image](https://user-images.githubusercontent.com/29850624/69118301-47acaf80-0ad6-11ea-85e1-fbfdc33664eb.png)
grafana version ^1.19.0 to ^4.

[2019-11-19 05:49] nickboldt commented on #15052
We also need this so that we can test production-ready bits (which reference registry.redhat.io) from behind registry.stage.redhat.io or quay.io.

Otherwise all automated QE tests for CRW will require building a **custom plugin registry** to point at reg.s.rh.com or quay.io to resolve the theia, theia endpoint, and machine exec containers. Or they'll fail because theia, theia endpoint, and machine

[2019-11-19 06:58] svor commented on #15114
@amisevsk `quarkus:dev` is task's name, the command is `mvn quarkus:dev`. Into debug configuration we have to put the name.

[2019-11-19 07:41] skabashnyuk commented on #15168
@kellyhyomin thank you for this report. Can you offer a pr?

[2019-11-19 07:46] cbos opened #15225 "Deployment via Chectl fails when running from wrong directory on Windows"
[code]

When I change my working directory to: C:\ProgramData\chectl\chectl\ it is working fine
[code]
So it looks like the lookup of 'templates\kubernetes\helm\che\tiller-rbac.yaml' is done relative to the start of the command, rather then installation of Chectl.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Runtime
   - [ ] kubernetes (include output of `kubect

[2019-11-19 08:06] kellyhyomin commented on #15168
@skabashnyuk  yes i'll.

[2019-11-19 08:19] ibuziuk commented on #15006
verified on on prod-preview running against 7.3.2 and the functionality works just fine \o/

[2019-11-19 08:19] azatsarynnyy opened #15226 "Upgrade OpenShift Che plugin with the extension v.1.0.2"
### Is your task related to a problem? Please describe.

Upgrade OpenShift Che plugin with OpenShift Connector VS Code extension v.1.0.2.
It provides a new command and several bugfixes.
See https://github.com/redhat-developer/vscode-openshift-tools/releases/tag/v0.1.2
Also, need to check whether a new command works well in Che.

### Describe the solution you'd like

### Describe alternatives you'v

[2019-11-19 08:21] metlos commented on #14908
#### Progress report

We've spent time mostly on refactoring my original draft, making some substantial simplifications and clarification of the logic involved in namespace creation. All of the proposed changes have now been implemented (under #15129) and the only outstanding thing on that issue is to make the testsuite pass again.

After that, we have to add the query parameter on the workspace c

[2019-11-19 08:26] ibuziuk commented on #15169
@rhopp @dmytro-ndp could you please verify (this affects CRW 2.0)

[2019-11-19 08:58] #15100 closed

[2019-11-19 08:59] #15197 closed

[2019-11-19 09:00] azatsarynnyy commented on #15035
`> buildah bud` with `ignore_chown_errors=false` in `storage.conf`

`
* "docker.io/library/node:8": Error committing the finished image: error adding layer with blob "sha256:9a0b0ce99936ce4861d44ce1f193e881e5b40b5bf1847627061205b092fa7f1d": Error processing tar file(exit status 1): there might not be enough IDs available in the namespace (requested 0:42 for /etc/gshadow): lchown /etc/gshadow: inva

[2019-11-19 09:09] skabashnyuk commented on #15169
With(prefered) and without OAuth enabled, please.

[2019-11-19 09:21] sunix commented on #14627
shouldn't it be an option ? if a team is using che in a public cloud and would like to have registry private ?

[2019-11-19 09:33] vinokurig commented on #14398
@l0rd
Thank you for your researches, I've found that we can unset `SecurityContext` parameters by setting `NULL` to them in the CHE configmap.
@davidwindell
As a workaround you can set
[code]
and the key files will have real `600` permissions. Could you please test it?

[2019-11-19 09:36] sleshchenko commented on #14627
@sunix I would distinct two issues here:
1. Che Server token must not be sent to plugin/devfile registries.
2. Add an ability to configure plugin/devfile registries as secure (should we use keycloak token for that or another one - it's implementation details). It may seem easy to solve but if we take into account that users may want to use different registries (some maybe not secured by the same K

[2019-11-19 10:42] dmytro-ndp commented on #15202
Looks like that problem caused by wrong version of **chectl:next** and operator image which were used.
So, is closing the issue as being not reproduced with proper installers.

[2019-11-19 10:42] #15202 closed

[2019-11-19 11:49] #14654 closed

[2019-11-19 12:32] FlorianLudwig commented on #15185
@RomanNikitenko I used https://che.openshift.io/ and used an example/template there.  I don't know if they have some special extensions there by default.

I updated the description with steps how to reproduce the issue.

[2019-11-19 12:41] FlorianLudwig opened #15228 "UX: Unclear error message: See more in "Output"."
### Is your enhancement related to a problem? Please describe.
While reproducing steps of #15185 it didn't work at all to run my code:

![image](https://user-images.githubusercontent.com/432263/69147172-acb1d680-0ad1-11ea-920c-8448dd28c500.png)

The message `See more in "Output"` is not helpful. What output? Where is "output"?

### Describe the solution you'd like

ideas:

 * Include details direc

[2019-11-19 13:05] FlorianLudwig opened #15229 "Che REST APIs link 404"
# steps to reproduce

 * open page: https://www.eclipse.org/che/extend/
 * Scroll down
 * click "Che REST APIs"

Additionally all links in the footer under "Extend" are dead as well.

[2019-11-19 13:10] AndrienkoAleksandr commented on #13442
Issue progress update:
I created pr to fix one more exception from webview: https://github.com/eclipse-theia/theia/pull/6581
After merge both pr's che-theia log in the firefox should be clean.

[2019-11-19 13:44] AndrienkoAleksandr commented on #13442
Related pr from upsteam theia:
https://github.com/eclipse-theia/theia/pull/6465

[2019-11-19 13:46] RomanNikitenko commented on #15185
@FlorianLudwig
Sorry, I asked you about the solution you'd like.

You provided this gif
![UX-che](https://user-images.githubusercontent.com/432263/68787064-21ec5a00-0641-11ea-900b-8329c1be1b8e.gif)

and I thought that you used some vs code extension for it.

[2019-11-19 14:42] FlorianLudwig commented on #15185
@RomanNikitenko that was done using gimp ;)

[2019-11-19 15:09] dmytro-ndp opened #15230 "[che-theia] build of che-theia is failing in master branch"
### Describe the bug
Build of **che-theia** is failing in master branch:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-master-check-E2E-Happy-path-tests-against-K8S/698/console
Command to builds: `build.sh --skip-tests --dockerfile:Dockerfile.alpine`

Build log:

https fetch failed: Get https://honnef.co/go/tools?go-get=1: x509: certificate is valid for *.netli

[2019-11-19 15:22] skabashnyuk opened #15231 "Multiple threads blocked in org.jgroups.protocols.Locking$ClientLock.lock(Locking.java:970)"
### Describe the bug
Multiple threads blocked in org.jgroups.protocols.Locking$ClientLock.lock(Locking.java:970)
[code]
[code]
[code]
This issue caused the suspension of the process of workspace idling.

### Che version
 - 7.3.1
### Steps to reproduce

Uknown

### Expected behavior
no traffic jam
### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [X] Openshift (include outp

[2019-11-19 15:37] tolusha commented on #15230
@dmytro-ndp
I can't reproduce it on the master branch
[code]

[2019-11-19 16:18] tolusha commented on #15230
The build is green https://ci.codenvycorp.com/job/che-theia-next/

[2019-11-19 16:31] dsutherland1492 commented on #332
Can this be revisted, this inhibits development

[2019-11-19 17:07] beaumorley commented on #15175
I believe the best option would be some kind of global setting that is tied to the account. The implementation I have seen that I like the best is what Cloud 9 is doing (see attached). However, the Cloud 9 setting as at the environment level (create the workspace first). I would consider having it at at the account level of the UI so the setting is applicable to everything inside and outside the w

[2019-11-19 19:25] nickboldt commented on #14709
So did anyone open a theia issue for this then? Closing an issue as "wrong tracker" is not helpful. :(

[2019-11-19 19:27] benoitf commented on #14709
It's already tracked in theia

[2019-11-19 19:27] benoitf commented on #14709
BTW it's won't fix as it's not an issue

[2019-11-19 19:29] nickboldt commented on #14709
I'm confused. it's tracked in theia but it's NOT an issue? So it's a problem but also not a problem? :D

anyway opened https://github.com/eclipse-theia/theia/issues/6584 since it's still happening in 7.3.2 (was 7.2.0).

[2019-11-19 19:30] nickboldt opened #15232 "missing/incorrect peer dependencies when building theia extensions"
### Is your enhancement related to a problem? Please describe.

CRW 2.0 Theia builds currently complain about missing/incorrect peer dependencies. Presumably the same is true upstream in Che 7.3.2.

[code]
-- https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/CRW_CI/view/Pipelines/job/crw-theia_master/403/parsed_console/

### Describe the solution you'd like

Fix the `packag

[2019-11-19 20:54] RomanNikitenko commented on #15230
I faced with the same issue today at building images locally
![ci_error](https://user-images.githubusercontent.com/5676062/69185517-97fc2f80-0b1f-11ea-8552-36f65f6e8292.png)

[2019-11-19 21:07] amisevsk commented on #15052
PR submitted for downstream: https://github.com/redhat-developer/codeready-workspaces/pull/199

Before including this sort of thing upstream I'd prefer we plan it out more, because in the general case overriding these images is going to be fraught with caveats (the reason we moved to the theia remote runtime binary init container was to avoid issues when theia and sidecar versions didn't match).

[2019-11-19 22:48] amisevsk commented on #15114
@svor Ah apologies, I misunderstood.

[2019-11-19 23:10] gee4vee opened #15233 "Che with a local Eclipse IDE"
So this is reported to be possible in the feature descriptions of Eclipse Che, but I can't seem to find any docs. Specifically, I'd like to continue using traditional Eclipse desktop IDE with Che workspaces. Also, to be able to use VS Code in the same fashion would be a plus.

[2019-11-19 23:21] monaka commented on #14879
On the online approach, https://github.com/eclipse/che-plugin-broker/pull/63 may provide some helps. In addition, the download phase can be done in parallel.

And it may be effective pre-loading docker images to nodes by DaemonSet.

[2019-11-20 04:52] kellyhyomin opened #15234 "Environment variable support of the private registries in k8s"
### Is your enhancement related to a problem? Please describe.

#15209
For now, if I use a private docker registry image when creating a workspace, I can only set the secret on the administration page.
This approach is difficult when several people use a stack containing private docker registry images.
### Describe the solution you'd like

I would like to create some secrets with private docker re

[2019-11-20 06:13] l0rd commented on #15234
@kellyhyomin I need more information to triage this issue. There are 2 distinct use cases in Che where you need to setup a secret to with a private registry details.

1) When a user starts a Che workspace and the images of the workspace are in a private registry. In this case a user has to configure the private registry details in the dashboard. This is not an admin task but a user task. Every use

[2019-11-20 06:26] l0rd commented on #15209
If I understand correctly @kellyhyomin you are able deploy Che using images from a private registry. And you expect that the secret `values.yaml` is used when a user is starting a workspace.

Deploying Che and starting a workspace are usually done by different users. The first by an admin that is responsible to deploy/maintain the Che server in a Kubernetes cluster. The second by a developer that

[2019-11-20 06:29] l0rd commented on #15233
@gee4vee can you add a link/reference of where it is said that it is possible to use Che with local Eclipse IDE? As far as I know that's not possible and there is this issue https://github.com/eclipse/che/issues/15016 that mention that but we are not ready to start working on it yet.

[2019-11-20 06:33] l0rd commented on #15232
@evidolob @benoitf are those warning in upstream build of che-theia as well?

[2019-11-20 06:51] l0rd commented on #15225
@cbos thanks for reporting this. @benoitf do you know if that's an error that we have always had or is it a regression?

[2019-11-20 06:59] kameshsampath opened #15235 "Using chectl with helm 3"
When I try to use chectl with helm 3 , it fails with an error

I understood from @l0rd  that Helm 3 does not use `tiller`

### Che version
- 7.4.0

### Steps to reproduce

1. Install latest helm from https://helm.sh/
2. Install latest chectl (chectl/7.3.2 linux-x64 node-v10.17.0)
3. Run `chectl server:start --cheimage=eclipse/che-server:7.4.0 --platform=minikube`

### Expected behavior

Che server

[2019-11-20 07:05] l0rd commented on #15228
Thanks @FlorianLudwig for reporting this. I think "Output" refers to the task output (@RomanNikitenko can correct me if I am wrong). Do you something suspicious in the the command output? If we rephrase it "Task output" would that help?

[2019-11-20 07:08] l0rd commented on #15229
cc @rkratky @themr0c

[2019-11-20 07:13] benoitf commented on #15225
I think it may be an error we always had.

[2019-11-20 07:29] benoitf commented on #15232
Yes, and basically I would avoid to have 500 issues created by Nick for these warnings.
It's an automate warning, not an error. Thus it doesn't mean that there is a problem as some tools may lead to invalid report as well.

[2019-11-20 07:30] benoitf commented on #15232
if it becomes an error, in any case it would be solved.
But it can't becomes an error right now as we pinned down the dependencies through yarn.lock file

[2019-11-20 07:30] #15232 closed

[2019-11-20 07:46] l0rd commented on #15224
@sunix can you have a look?

[2019-11-20 08:23] sunix commented on #15224
yes

[2019-11-20 08:26] Ohrimenko1988 commented on #15166
Outdated

[2019-11-20 08:26] #15166 closed

[2019-11-20 08:38] #15230 closed

[2019-11-20 08:42] sunix opened #15237 "doc: update che7 doc referencing the old workspace definition"
### Is your task related to a problem? Please describe.
In many places, the documentation is outdated and is talking about the old workspace definition. For instance: https://www.eclipse.org/che/docs/che-7/publishing-che-theia-plug-ins/#adding-a-plug-in-by-configuring-a-workspace_publishing-che-theia-plug-ins

### Describe the solution you'd like
Update with devfile.

[2019-11-20 09:18] metlos opened #15238 "The links to factories on Che homepage don't work anymore"
### Describe the bug
Clicking on any of the workspace links on the Che homepage gives an error.

### Che version
 - [ ] latest
 - [ ] nightly
 - [x] other: che.openshift.io as of 20th Nov 2019

### Steps to reproduce

1. Navigate to https://www.eclipse.org/che/
1. Click on one of the links in the "Start working with Che" section, e.g. https://che.openshift.io/f?id=factoryqn54y270f4eh4d00 for the V

[2019-11-20 09:18] ibuziuk commented on #15182
PRs sent:
- https://github.com/openshiftio/saas-openshiftio/pull/1352
- https://github.com/openshiftio/saas-openshiftio/pull/1353
- https://github.com/openshiftio/saas-openshiftio/pull/1354

[2019-11-20 09:35] benoitf commented on #15230
Its fixed in https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/573/console

[2019-11-20 09:39] tsmaeder commented on #14871
@thisHermit missed the first part of your question, though. The extension _should_ work, mostly. That said, there are parts of the VS Code API theia does not implement yet (or not in exactly the same way), so you'll need to test, I'm afraid.
Also, the fact that the plugin runs on a separate container with a separate files system can break features that make the assumption that the extension and th

[2019-11-20 09:44] tsmaeder opened #15239 "Usability: Allow to Edit Workspace Commands"
In the context of adjusting the self-hosting devfiles to my concrete needs, I'd like to adjust the devfile commands, for example to use different directories.
Currently, I have to stop the workspace, change the command and restart the workspace for each change (which can be tedious especially if my changes don't immediately work)

I would propose a way to edit the commands from within the IDE. We

[2019-11-20 09:44] tsmaeder commented on #15239
Related: https://github.com/eclipse/che/issues/13989

[2019-11-20 09:45] FlorianLudwig commented on #15228
@l0rd do I get this right: the error is that the terminal couldn't be connected - which means I would not see the task output and the advice is to look at the task output?

[2019-11-20 10:05] ibuziuk opened #15240 "Integration tests for workspace idling"
### Is your task related to a problem? Please describe.
Workspace idling is the crucial functionality for Hosted Che and currently, there are no Integration tests for it.

### Describe the solution you'd like
The scenario is the following:
- Che server is deployed with `CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT` set to 1 minute
- Workspace is started
- After 1 minute being in the `RUNNING` state workspace

[2019-11-20 10:11] rhopp commented on #15240
Seems like we already have this in place. https://ci.codenvycorp.com/view/qa-rc/job/che-integration-tests-ocp-rc/32/testReport/org.eclipse.che.selenium.workspaces/CheckStoppingWsByTimeoutTest/
@SkorikSergey Can you confirm this? Or is the test testing something else?

[2019-11-20 10:12] RomanNikitenko commented on #15228
I think this notification was provided within https://github.com/eclipse/che/issues/13980
So, user should open `View=>Output` for more details, not task output.
@akurinnoy please correct me if I'm wrong

[2019-11-20 10:17] ibuziuk commented on #15240
@rhopp @Katka92 if this is in place we need to enable it for Hosted Che PR verification / periodic tests

[2019-11-20 10:24] evidolob opened #15241 "IDE2-2019-12-17 (Sprint: 176)"
## Availability
Who | available | x0.6
-- | -- | -- |
@evidolob | 15 | 5 |
@sunix  | 15 | 7 |
@AndrienkoAleksandr  | 15 | 9 |
@vitaliy-guliy  | 15 | 9 |
@mmorhun  | 15 | 9 |
@olexii4   | 15 | 9 |
@akurinnoy   | 5 | 3 |
**Total** | **85** | **51** |

### Sprint Goals:
1. Che doc
2. Techical depts
3. Dogfooding
4. Firefox Support

## 1. Che doc
- [x] doc: update che7 doc referencing the old workspac

[2019-11-20 10:32] #15179 closed

[2019-11-20 10:39] akurinnoy commented on #15228
@RomanNikitenko you're right,
this message refers to `Output` view where you also should pick `remote-terminal` channel in top right corner of panel. User can find there at least an error stack trace in case of remote terminal couldn't be connected.

[2019-11-20 10:46] mmorhun commented on #12957
I think we may close this issue as `Save` button was added to workspace configuration page in https://github.com/eclipse/che/pull/14913

[2019-11-20 10:46] #12957 closed

[2019-11-20 10:50] AndrienkoAleksandr opened #15242 "Terminal change title feature should be configurable"
### Is your enhancement related to a problem? Please describe.
Terminal support change title feature - when shell send new terminal title, but it tear down container name in the terminal title tab, and user can be confised terminal was opened for which one container.

### Describe the solution you'd like
Terminal change title feature should be configurable and we should have ability to turn off it

[2019-11-20 10:52] AndrienkoAleksandr opened #15243 "Refactoring: clean up che-machine-exec model"
### Is your enhancement related to a problem? Please describe.
che-machine-exec model should define only model types, but currently we have in this package business logic also.

### Describe the solution you'd like
Refactor code.

[2019-11-20 10:53] benoitf commented on #14569
closing as it was not reproduced

[2019-11-20 10:53] #14569 closed

[2019-11-20 10:54] AndrienkoAleksandr commented on #14887
Done.

[2019-11-20 10:54] #14887 closed

[2019-11-20 10:55] benoitf commented on #15243
is it more a technical debt kind issue ?

[2019-11-20 10:56] AndrienkoAleksandr commented on #14860
We clean up release cycle of the che-machine-exec and for now we use only images from quay.io registry and Centos CI. @ibuziuk knows about release cycle che-machine-exec more.

[2019-11-20 10:59] AndrienkoAleksandr commented on #13731
It was implemented by ide team.

[2019-11-20 10:59] #13731 closed

[2019-11-20 11:00] AndrienkoAleksandr commented on #15243
Yes, it is

[2019-11-20 11:05] benoitf commented on #15239
@tsmaeder devfile commands are transformed into tasks and you can edit tasks ?

[2019-11-20 11:15] musienko-maxim commented on #15183
@tsmaeder Sorry for huge delaying i forgot track this issue was very busy with CRW as mentioned  you can obrain the logs from the job:
`https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/573/artifact/logs-and-configs/workspace-logs/vscode-javai5u-container.log/*view*/`
If it is not be enough please ping me i will t

[2019-11-20 11:21] ibuziuk commented on #15238
PR sent - https://github.com/eclipse/che-website/pull/30

[2019-11-20 11:25] ibuziuk opened #15244 "Implement "getting started" devfiles test suite -"
### Is your task related to a problem? Please describe.
Need to add test suite with integration tests for "getting-started' devfiles - https://www.eclipse.org/che/getting-started/cloud/

Getting started devfiles - https://github.com/redhat-developer/devfile/tree/master/getting-started

![image](https://user-images.githubusercontent.com/1461122/63963151-b01a6080-ca94-11e9-8d0c-d5bf5b12b092.png)

[2019-11-20 11:30] ScrewTSW commented on #15244
@ibuziuk Shouldn't this issue be in `redhat-developer/rh-che`?
As far as I know, there are no "getting started" devfiles or factories for upstream che

[2019-11-20 11:31] ibuziuk commented on #15244
No, this is part of the website, so let's track it upstream

[2019-11-20 12:26] tsmaeder commented on #15183
Ok, there is no code completion at all for both launch.json nor tasks.json. I just tested this in a workspace using typescript (che nightly). This is definitely not specific to Java or any other language.
There is nothing in browser or workspace logs that seems in any way relevant to the problem. It just looks like no code completion is set up for launch.json.
@tolusha you're worked with launch.js

[2019-11-20 12:28] tsmaeder commented on #15239
@benoitf
1. will that be persisted in the devfile?
2. That link is not obvious.

[2019-11-20 12:31] gee4vee commented on #15233
https://www.eclipse.org/che/features/#any-ide

[2019-11-20 12:35] skabashnyuk commented on #15222
Duplicated https://github.com/eclipse/che/issues/14531

[2019-11-20 12:35] #15222 closed

[2019-11-20 12:38] DStatWriter opened #15246 "[Doc] Che 7 Add sidebar for Explorer for Endevor"
Adds sidebar entries linked to relevant docs for Explorer for Endevor.

Issue being resolved means that users will be able to find relevant E4E doc.

[2019-11-20 12:41] tolusha commented on #15183
@musienko-maxim @dmytro-ndp
Could you confirm that it works in local Theia?

[2019-11-20 12:48] skabashnyuk opened #15248 "PSQLException: ERROR: insert or update on table "che_workspace_activity" violates foreign key constraint "ws_activity_workspace_id""
### Describe the bug
Exception noticed in Hosted Che logs
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [X] other: 7.3

### Steps to reproduce

unknown

### Expected behavior
no PSQLException in the logs
### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift (include output of `oc version`)
   - [ ] minikube (include output of `minikube version` and `ku

[2019-11-20 12:55] mmorhun opened #15249 "Remove legacy workspace config code from Che Theia"
Now some components of Che-Theia still have code which handles old Che 6 workspace config format. That code is unused and outdated for Che 7. We should clean it up.

[2019-11-20 12:57] ibuziuk commented on #15238
PR merged. Closing

[2019-11-20 12:57] #15238 closed

[2019-11-20 12:59] evidolob commented on #15097
@vinokurig Can you verify that upstream Theia behaves as you expected? And it's a bug in che-theia.

[2019-11-20 13:03] evidolob commented on #14706
@nickboldt Can we close this? Assuming that you can build generator.

[2019-11-20 13:12] benoitf commented on #15238
thx @ibuziuk

[2019-11-20 13:13] benoitf commented on #15249
related to https://github.com/eclipse/che/issues/15249

[2019-11-20 13:14] benoitf commented on #15249
@mmorhun could you tell what are the difference with https://github.com/eclipse/che/issues/15237 ?

[2019-11-20 13:18] benoitf commented on #15199
Hello, could you please update description so it can be understood by all people, not only by the one who is submitting or work on the issue ?

[2019-11-20 13:21] benoitf commented on #15110
@skabashnyuk liveness issue ?
https://github.com/eclipse/che/blob/e3bc0a0bdab5df5b0da7ed49fc0371ee2e015852/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L158

[2019-11-20 13:29] skabashnyuk commented on #15110
That is by design. We need to know endpoint name to ping that has to be running for any case. In our case, this is cheEditor endpoint name. The predefined list you can find in `che.workspace.server.liveness_probes` variable.
To handle that problem you have two options.
- adjust ` che.workspace.server.liveness_probes` or `CHE_WORKSPACE_SERVER_LIVENESS_PROBES`
- or rename you endpoint name to match

[2019-11-20 13:33] benoitf commented on #15239
@tsmaeder
for 1. no

I think this issue is already handled by wider epic issue: https://github.com/eclipse/che/issues/12709

[2019-11-20 13:35] metlos opened #15250 "Refactor and unify namespace/project handling for k8s and openshift infras"
Currently there is an awful lot of code and testsuite duplication between `KubernetesNamespaceFactory` and `OpenShiftProjectFactory` and `KubernetesNamespace` and `OpenShiftProject` respectively.

We should think about bringing these closer together (including the testsuite). Currently it is very error prone to try updating them and keeping them in sync.

[2019-11-20 13:35] benoitf commented on #15110
@skabashnyuk but code-server is provided by default on che so AFAIK che.properties should be updated according to all editors provided in Eclipse Che like https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/cdr/code-server/2.1523-vsc1.38.1/meta.yaml#L15

[2019-11-20 13:39] skabashnyuk commented on #15110
Yes. Look so. @sr229 @kellyhyomin can you offer a pr?

[2019-11-20 13:45] vinokurig commented on #15097
@evidolob Upstream Theia uses it's own git extension but Che-theia uses built-in vscode git extension. If I disable the native Theia git extension and add the vscode-git-extension it behaves the same. The problem is in the upstream Theia, but I think this issue is relevant to che-theia because it can be reproduced there.

[2019-11-20 13:54] benoitf commented on #15250
is that CRD controller will solve this issue ?

[2019-11-20 14:04] skabashnyuk commented on #15136
I mean that these configurations would be equivalent. In both cases uses expressed the intention to have everything except `alertmanager`
[code]

[code]

Changing the content of CR is an exceptional case when a user wants to override the default behavior and he knows what is he doing.

Yes something like that:
[code]

[2019-11-20 14:09] sunix commented on #15224
I have updated the links. Thanks @rbkaspr

[2019-11-20 14:16] rbkaspr commented on #15224
Looks like a few more are still broken, basically everything in the Using Eclipse Che section

https://github.com/eclipse/che/blob/master/README.md#using-eclipse-che

[2019-11-20 14:20] sunix commented on #15224
you are right, I have missed that ones... thanks

[2019-11-20 14:22] mmorhun commented on #15249
@benoitf they are two different issues. Sorry if it wasn't clear in description, but I meant to make changes in our source code. This issue doesn't suppose to do anything with docs.

[2019-11-20 14:23] musienko-maxim commented on #15183
@tolusha Yes, i've just built  Theia and got something like this:
![Selection_014](https://user-images.githubusercontent.com/1640058/69246820-1acdca80-0bb2-11ea-9121-4639467147d7.png)
![Selection_015](https://user-images.githubusercontent.com/1640058/69246826-1d302480-0bb2-11ea-8a5f-13b53e22665c.png)

[2019-11-20 14:32] mmorhun commented on #13721
The issue is not reproducible with our current images.

[2019-11-20 14:32] #13721 closed

[2019-11-20 15:05] davidfestal commented on #15250
That might still be useful I assume.

[2019-11-20 15:06] benoitf commented on #15241
hi, no room for https://github.com/eclipse/che/issues/15109 ?

[2019-11-20 15:07] tsmaeder commented on #15183
This is a duplicate of https://github.com/eclipse-theia/theia/issues/6542 where the json language server seems broken, probably due to the update of our monaco version.

[2019-11-20 16:01] evidolob commented on #15097
But fix should be done in upstream? Or in che-theia?

[2019-11-20 16:02] ibuziuk commented on #15108
Closing. Fixed on master, 7.3.x and crwctl

[2019-11-20 16:02] #15108 closed

[2019-11-20 16:15] SkorikSergey commented on #15240
Yes. CheckStoppingWsByTimeoutTest selenium test checks workspace stopping after 420000 ms inactivity.

[2019-11-20 16:18] vitaliy-guliy opened #15253 "Workspace is not restarted after installing a plugin"
### Describe the bug

After installing a plugin and restarting the workspace dashboard switches to the Workspace Loader very fast and does not wait until workspace status has been changes from RUNNING to STOPPING.
It leads to opening Workpace Loader page which displays a loader with infinity loop.

### Che version

 - [x] nightly

### Steps to reproduce
Open Theia, install a plugin and click `Relo

[2019-11-20 16:21] ibuziuk commented on #15240
@SkorikSergey could you please clarify as part of which test suite it is running ?

[2019-11-20 16:22] sr229 commented on #15110
I've been meaning to move it to the official images since my images were on testing phase, but officially this should have been fixed by some PRs in the che-plugin-registry already @sachinaraballi

[2019-11-20 16:38] dmytro-ndp commented on #15253
The issue affects CRW 2.0.0.RC3

[2019-11-20 16:44] akurinnoy opened #15256 "Code clean up in User Dashboard"
### Is your task related to a problem? Please describe.

User Dashboard contains components that are not used anymore such as [add-user](https://github.com/eclipse/che/tree/master/dashboard/src/app/admin/user-management/add-user) and [environments](https://github.com/eclipse/che/tree/master/dashboard/src/app/workspaces/workspace-details/environments).

### Describe the solution you'd like

We need

[2019-11-20 16:47] sunix commented on #15224
@rbkaspr should be fine now. Thanks again

[2019-11-20 16:47] #15224 closed

[2019-11-20 17:16] sunix opened #15258 "devfile should allow to set `env` to chePlugin"
### Is your enhancement related to a problem? Please describe.
It is not possible to set env variable to a container of a che plugin

### Describe the solution you'd like
it would be nice if we could have in a devfile something that looks like:

[code]

[2019-11-20 17:26] sunix opened #15259 "Sometimes Che is failing to restart an existing workspace"
### Describe the bug
Sometimes, restarting the workspace is failling with the error:

[code]

refreshing the page works

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [x] Openshift 4.2
   - [ ] minikube (include output of `minikube version` and `ku

[2019-11-20 17:31] ibuziuk commented on #15182
che.openshift.io is on 7.3.2 now. Closing

[2019-11-20 17:31] #15182 closed

[2019-11-20 17:31] ibuziuk commented on #15107
The release has been done. Closing

[2019-11-20 17:31] #15107 closed

[2019-11-20 17:34] benoitf commented on #15258
AFAIK it's a duplicate of https://github.com/eclipse/che/issues/14970

[2019-11-20 17:35] #15258 closed

[2019-11-20 17:37] #10767 closed

[2019-11-20 17:37] #13287 closed

[2019-11-20 17:37] #13298 closed

[2019-11-20 17:37] #13339 closed

[2019-11-20 18:17] sunix opened #15260 "regression: my workspace view tooltip on Che commands is not showing up anymore"
### Describe the bug
The feature describe here https://github.com/eclipse/che-theia/pull/431 was working in 7.2.0 But not working anymore.

### Che version

 - [x] latest

### Steps to reproduce
1. Open a workspace with commands
2. Move the mouse to my workspace view on top of a command
3. a tooltip should show up with the command script but it does not.

[2019-11-20 18:35] sunix opened #15261 "Openshift connector and Che: openshift user should be logged automatically with the Openshift user."
### Is your enhancement related to a problem? Please describe.
Having
- a workspace that use the openshift connector plugin
- a Che server running on Openshift v4.2 and OpenShift oAuth activated

When a user is opening the openshift connector panel, he is connected as his openshift user. and see (without any project)
![Selection_461](https://user-images.githubusercontent.com/650571/69267027-a0f70a

[2019-11-20 18:50] sunix opened #15262 "Support Codicons in Command Palette"
### Describe the bug
When using the openshift connector in Che, in the command palette, we see strange characters in messages like `$(plus) Provide new URL.

![Selection_466](https://user-images.githubusercontent.com/650571/69268163-e74d6900-0bce-11ea-92db-b739e8efa0fb.png)

`$(plus)` should be a plus icon (as we can see in vscode)

![Selection_470](https://user-images.githubusercontent.com/650571

[2019-11-20 21:05] nickboldt commented on #14865
Given QE has signed off on https://issues.jboss.org/browse/CRW-304 and https://issues.jboss.org/browse/CRW-305 as being done, I guess this is done too.

[2019-11-20 21:05] #14865 closed

[2019-11-20 22:20] echyam commented on #15139
Theoretically, Che should know the user who is launching the workspace, so it should be able to substitute that as a variable into the docker run command. Should I assume this isn't possible yet?

[2019-11-20 22:40] sparkoo commented on #15136
I'm ok with that. Once `metrics.enable:true`, then deploy Prometheus and Grafana, connect them together, configure service discovery of Che master and Workspace services, create grafana dashboards as defined here https://github.com/eclipse/che/blob/master/deploy/openshift/templates/monitoring/grafana-dashboards.yaml
I don't think it make sense to bother with alert manager for now, if we're not usi

[2019-11-20 23:27] amisevsk opened #15265 "Workspace init containers are not provisioned with proxy settings"
### Describe the bug
Che does [provision proxy settings on init containers](https://github.com/eclipse/che/blob/6e0ce6d101b337e0d77ffa1b25f5b0bcd621ce06/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/provision/ProxySettingsProvisioner.java#L63-L74). This causes workspaces to fail when Che is installed depending on a proxy, as the init broker is unable

[2019-11-21 01:55] wonjooncho commented on #15110
@skabashnyuk I wonder that If I create a new alternative IDE in che like this [link](https://www.eclipse.org/che/docs/che-7/using-alternative-ides-in-che/), should I use only the endpoint names in this list [wsagent/http, exec-agent/http, terminal, theia, jupyter, dirigible]?
I think there should be an other endpoint name for the alternate IDEs.
WDYT?

[2019-11-21 06:49] vinokurig commented on #15097
The fix should be done in Theia.

I also think so.

[2019-11-21 07:27] mmorhun commented on #14802
Fixed by changing Ports plugin to not to show its dialog if an exposed port has a preview url.

[2019-11-21 07:27] #14802 closed

[2019-11-21 07:28] skabashnyuk commented on #15136
Yes. sure. We can postpone that for the time we will need that. So the minimal config will looks like:
[code]
`+` we have a plan for future how to customise operators and CR
@sparkoo  WDYT?

[2019-11-21 07:45] sparkoo commented on #15136
@skabashnyuk with that, we're not fulfilling monitoring with external stack scenarios. At minimum, we would need `metrics.prometheus.enable` and `metrics.grafana.enable`. I'm kind of ok to skip it for now, but it isn't much of extra work so I'm not sure it's worth it to let it for the future, when we will be somewhere else with our focus.

I'd like to take it in parts. I think that implementation

[2019-11-21 08:04] vparfonov opened #15266 "Move the dashboard and loader to its own github repository"
### Describe the solution you'd like
Move the dashboard and loader  to its own github repository. It allows us decrease build time.

[2019-11-21 08:31] #14854 closed

[2019-11-21 08:36] sleshchenko commented on #15259
If I'm not mistaken - I already saw a similar issue. It happens because previously workspace was not stopped correctly.
To prevent such error - we could do `createOrReplace` instead of just `create` or remove everything (services, configmap, pods) related to starting workspace before the start.

[2019-11-21 08:36] akurinnoy opened #15267 "Use @eclipse-che/api in User Dashboard"
### Is your task related to a problem? Please describe.

The User Dashboard still uses hard coded [che.d.ts](https://github.com/eclipse/che/blob/master/dashboard/src/components/typings/che.d.ts) that is not always up-to-date. But now we have [@eclipse-che/api](https://www.npmjs.com/package/@eclipse-che/api) which provides actual type definitions.

### Describe the solution you'd like

Get rid of [

[2019-11-21 08:42] slemeur commented on #15185
Thanks @FlorianLudwig for the proposal, it's a really good idea.

There are two sub-tasks for this issue:
1. Displaying a small visual indicator about the state of a tasks. For this, I think proposal from @FlorianLudwig is perfect. I would just add that we could also add a tooltip on hover on the tasks output's tab saying the state of the tasks (ex: "{task_name} : RUNNING" or "{task_name} : COMPLE

[2019-11-21 08:51] benoitf commented on #15262
I think it's theia upstream issue with handling octicons

[2019-11-21 08:51] benoitf commented on #15262
https://github.com/eclipse-theia/theia/issues/5412

[2019-11-21 09:15] benoitf commented on #15041
this one is a dupe of https://github.com/eclipse/che/issues/14726

[2019-11-21 09:15] sunix opened #15268 "IDE2 - Documentation tasks"
Tracking Red Hat Che-IDE2 documentation related tasks

- [x] doc: update che7 doc referencing the old workspace definition https://github.com/eclipse/che/issues/15237 (duplicate ? https://github.com/eclipse/che/issues/15249)
- [ ] doc: Fix existing doc to promote che plugins and packaging with vscode extension rather than Theia plugins. https://github.com/eclipse/che/issues/14119
- [x] Improve che

[2019-11-21 09:15] #15041 closed

[2019-11-21 09:17] tsmaeder opened #15269 "Languages Sprint 176"
Nov 27-Dec 18

# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 3 | 2
@tolusha | 14 | 9 | 10
@vrubezhny | 13 | 8.5 | 8.5
@JPinkney | 14 | 9 | 9
@svor | 13 | 8.5 | 8.5

# Planned Issues
- [ ] Java LS "Classpath is incomplete" warning when loading petclinic #13427 2d @tsmaeder
- [ ] Simple LSP test suite for Java #14409 4d @JPinkney
- [ ] Consume VS Code built-in extens

[2019-11-21 09:20] #14640 closed

[2019-11-21 09:28] benoitf commented on #14228
VS Code generator is also already in Theia image: https://github.com/eclipse/che-theia/blob/master/dockerfiles/theia/Dockerfile#L146

[2019-11-21 09:57] sunix opened #15270 "Openshift connector and Che: the extension is not keeping the state after workspace restart."
### Describe the bug
When using the openshift connector, the state is lost after restart.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace with the openshift connector plugin + a nodejs project
2. Login to a remote openshift cluster from the openshift connector panel
3. Create some project / component to the nodejs project, pu

[2019-11-21 10:13] SkorikSergey commented on #15240
**CheckStoppingWsByTimeoutTest** is running  in [CheSuite.xml](https://github.com/eclipse/che/blob/master/selenium/che-selenium-test/src/test/resources/suites/CheSuite.xml) tests suite. And CHE_WORKSPACE_AGENT_DEV_INACTIVE__STOP__TIMEOUT__MS properties sets to 420000.

[2019-11-21 10:18] sunix opened #15271 "Openshift connector and Che: the openshift connector should detect projects with .odo folder already created."
### Describe the bug
When I create a component with the openshift connector, it is suggesting which project i should use. But I cannot see the one I have previously created with the connector or the one I have created from the odo cli.
When I try to reuse a existing project with .odo folder, the connector do not allow it.

The workaround is to remove the .odo folder and recreate the component

###

[2019-11-21 10:18] benoitf opened #15272 "Use of extension packs used for all default stacks"
### Description
When using VS Code (or VS Code online) and when I'm working on a Java project the default java pack is proposed https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack

It includes vscode-java and the debugger but also a lot of other tools like the java test runner, dependency viewer, maven scaffolding, etc.

This is also true for different technologies
https:/

[2019-11-21 10:39] sunix opened #15273 "Openshift connector and Che: not possible to have 2 components connected to 2 projects in the same workspace"
### Describe the bug
With the openshift connector, trying to create 2 components linked to 2 projects in the same workspace. Openshift connector is trying to open a new workspace (window) for each component. but somehow, Che is not handling that situation well: some views are broken and the user may want to stay in a single window.

[2019-11-21 10:43] #15146 closed

[2019-11-21 11:40] skabashnyuk commented on #15110
If you don't want to use already defined names you have to adjust che.workspace.server.liveness_probes or CHE_WORKSPACE_SERVER_LIVENESS_PROBES. We may add some neutral or generic names like `ide-server` to defaults if you want.

[2019-11-21 12:03] DStatWriter opened #15275 "[Docs] Che7 - Che4z install guide improved"
Expanded install guide, especially advice of what should make up the command and how this should be formatted.

[2019-11-21 13:28] sleshchenko opened #15276 "Incorrect highlighting of devfile yaml with multilines string by dashboard"
### Describe the bug
Incorrect highlighting of devfile yaml with multilines string by dashboard.

Note `env` field is highlighted in the same way as `referenceContent` value, but in fact, it's not a part of `referenceContent` value but a root field of component object. On the right hand side - you can see the right highlighting.

![Screenshot_20191121_144637](https://user-images.githubusercontent.

[2019-11-21 14:22] ibuziuk commented on #15133
@davidfestal what is out current plan with this issue? I suppose it would be docs update, right?

[2019-11-21 14:36] sparkoo commented on #15136
## Proposal v2

Here is the 3phase plan, further splitted into several steps, that I think would make sense to follow. Each step is building block for next one, but still adds value and make sense on its own.

### Phase 1
**Goal**: make it possible to monitor Che master and workspaces with external and installed Prometheus & Grafana
1. enable metrics to be able to monitor with external stack
[code

[2019-11-21 15:23] tsmaeder commented on #15261
Not sure I understand this one correctly: What I understand is this:
1. When opening the connector panel, the cluster that Che is running on is displayed per default
2. Your expectation is that the user is already logged into that cluster as the same user he uses to log into Che?

[2019-11-21 15:26] tsmaeder commented on #15262
Unless this is important for release planning, we should not duplicate theia issues. Closing as duplicate.

[2019-11-21 15:30] amisevsk commented on #15265
PRs open: https://github.com/eclipse/che/pull/15263, https://github.com/eclipse/che/pull/15264 (7.3.x branch)

[2019-11-21 15:33] tsmaeder commented on #15261
@sunix this seems upstream behaviour, right?

[2019-11-21 15:39] tsmaeder commented on #15270
@sunix are you using persistent storage or ephemeral? Is the state preserved when you use the extension in VS Code?

[2019-11-21 15:46] tsmaeder commented on #15272
This is a good idea, but we don't have the notion of "extension packs" for Che plugins. This needs some technical thought.
Also, this sounds largish; should it be included in the roadmap? https://github.com/eclipse/che/wiki/Roadmap

[2019-11-21 15:50] benoitf commented on #15272
AFAIK it's largish as it's an epic

[2019-11-21 15:52] tsmaeder commented on #15272
Since the implementation of this is unclear, not sure which team to assign this to. @benoitf  @l0rd  this needs some discussion first.

[2019-11-21 15:56] vparfonov opened #15277 "Create instant feedback when a task is clicked without waiting for the task to actually spawn server-side."
### Is your enhancement related to a problem? Please describe.
The delay between "the user clicks on the task" and "the output terminal is getting shown". The user doesn't really know if the action (clicking on the task) has been taken into account. When the connectivity is not great, this lead to very inconvenient UX.

### Describe the solution you'd like

We should look at how we can first open

[2019-11-21 15:58] vparfonov opened #15278 "IDE-2019-12-17 (Sprint: 176)"
### Sprint goals

1. VS Code plugins
2. UX Improvement
3. Technical debts
4. Bugs

### Sprint details:

1. VS Code plugins
- [x] Upgrade OpenShift Che plugin with the extension v.1.0.2 #15226
- [ ] Upgrade Kubernetes Che plugin with Helm 3 support #15190
- [ ] [k8s plugin] buildah push command doesn't work #15035
- [ ] Improve kubeconfig injection with chectl  #14877
- [ ] Openshift connector and

[2019-11-21 16:47] sunix commented on #15270
Persistent storage. Yes it works on VS Code

[2019-11-21 16:56] sunix commented on #15261
yes

not an upstream issue.

[2019-11-21 17:09] davidfestal opened #15279 "Enable chectl to install Che through OLM when appropriate"
### Is your enhancement related to a problem? Please describe.

Currently, `chectl` allows installing, updating or deleting Che on an OpenShift 4.2 cluster. But it still uses the raw yaml method (deploy the operator, roles, service account etc ... through yaml files) instead of using the OLM (OperatorHub)-compatible method (by subscription to the OLM package channel.).

More than that, trying to u

[2019-11-21 17:20] davidfestal commented on #15133
Oh, I fixed it last week. I assumed I linked the PR to the Jira issue, but missed this issue.
I think it was https://github.com/eclipse/che-operator/pull/120

[2019-11-21 17:23] davidwindell commented on #14398
@vinokurig thank you very much, I can confirm that setting FS__GROUP to `NULL` allows the SSH key to work :)

[2019-11-21 17:23] #14398 closed

[2019-11-21 17:33] davidfestal commented on #14742
I'm also a bit worried about the fact that, in the current state of the Che operator, successfully enabling TLS required correctly setting the related `selfsignedcerts` field. And this can be a risky thing, since it has to be consistent with the status of the Openshift router certificate, else it will fail with non-obvious errors.

So providing a TLS-enabled default that will work in all cases is

[2019-11-21 18:08] nickboldt opened #15280 ""chectl server:delete" doesn't remove openshift project itself"
# Describe the bug

`chectl server:delete` (and `crwctl server:delete`) doesn't remove openshift project itself. As a result, you have to manually run `oc delete checluster codeready -n ${OPENSHIFT_PROJECT}; oc delete project ${OPENSHIFT_PROJECT} &` if you want to reuse the same project name for a redeployment.

Yet according to the inline help:

[code]

Two problems here:

a) start does more than

[2019-11-21 18:14] davidfestal commented on #14843
So I assume it's more about creating a Custom Resource than creating a Custom Resource Definition.

[2019-11-21 22:33] nickboldt commented on #14706
out of date.

[2019-11-21 22:33] #14706 closed

[2019-11-21 22:35] nickboldt commented on #15232
![image](https://user-images.githubusercontent.com/227597/69382520-3fdf3d80-0c85-11ea-93d9-5c51f01a2fdf.png)

:P fine I won't try to make upstream builds better and less noisy. :P

[2019-11-22 01:28] kellyhyomin commented on #15110
@skabashnyuk @wonjooncho
I added the 'ide-server' you told me in the configmap.yaml file and restarted che.
#### **`che/deploy/kubernetes/helm/che/templates/configmap.yaml`**
[code]

my new alternative IDE meta.yaml
[code]
I specified ide-server as the endpoint name but I also faced a 503 error.
There is no 503 error when changing the endpoint name to 'theia' you provide.
I wonder if other setting

[2019-11-22 07:06] skabashnyuk commented on #15110
@kellyhyomin  can you provide a devfile that I can test your setup?

[2019-11-22 07:18] tolusha commented on #15280
/cc @sleshchenko

[2019-11-22 07:38] evidolob opened #15281 "Use Che Bot to provide factory link to PR in che-plugin-registry"
Now che-bot provide factory link for PR in che-theia:
<img width="690" alt="Screenshot 2019-11-22 at 09 35 31" src="https://user-images.githubusercontent.com/929743/69406769-87a8a800-0d0b-11ea-9a24-44d04f86ebbf.png">
I would be very nice if we have same for PR in che-plugin-registry, to have ability to test modifications in  plugin `meta.yaml` more easy.

[2019-11-22 07:39] evidolob commented on #15281
cc @benoitf @slemeur

[2019-11-22 08:07] mmorhun opened #15283 "Make Che Theia webviews work in Che"
There is a [PR](https://github.com/eclipse-theia/theia/pull/6465) in Eclipse Theia which reworks completely webview mechanism.

Some plugins are using webviews (like the Che-Theia welcome page, dependency analytics plugin and many others) and they will be broken (webview content will be empty) once the PR is merged.

According to the new model each webview will have a separate host (usually subdom

[2019-11-22 08:22] apupier commented on #14843
I don't think so.
From what I understand, on th setup of Camel K instance, you need to install several Custom Resource Definition.
The custom resource are created when we are deploying a Camel K integration, which means when I'm in my workspace and developing an integration.

In the devfile, what we want is to provide the Camel K instance so that users can deploy a Camel K integration during devel

[2019-11-22 08:23] tsmaeder commented on #15276
@sleshchenko please don't make me play "spot the difference". What is incorrect about the highlighting? Also, is this not about formatting?
Also, this the "old" editor, right? Not the new one based on monaco?

[2019-11-22 08:24] tsmaeder commented on #15273
Upstream issue?

[2019-11-22 08:32] tolusha commented on #15277
it sounds like a Theia issue

[2019-11-22 09:08] skabashnyuk commented on #15283
Could you please also check that this feature also works on single-host mode.

[2019-11-22 09:10] olexii4 commented on #15015
cannot reproduce

[2019-11-22 09:10] #15015 closed

[2019-11-22 09:13] davidfestal commented on #14843
Could you provide a concrete example ?

[2019-11-22 09:23] apupier commented on #14843
not sure which example you are looking for, but let's try :-)

to install Camel K, you need to call the Kamel cli "kamel install". https://github.com/apache/camel-k#installation
it ends up with several custom resource definitions created:
- builds
- camelcatalogs
- integrationkits
- integrationplatforms
- integrations
![Screenshot from 2019-11-22 10-22-01](https://user-images.githubusercontent.com

[2019-11-22 09:56] sunix commented on #15273
@tsmaeder this is a high level user issue, the assignee who would take it would analyse a create upstream issue if needed.

[2019-11-22 10:02] mmorhun commented on #15283
I will try. But last time I had issues with deploying single-host mode, so @skabashnyuk could you please provide precise steps how I can deploy Che multiuser with TLS (self signed cert is ok) single-host instance. Let's suppose that the first step is `minikube delete`. Thanks.

[2019-11-22 11:06] dmytro-ndp opened #15284 "E2E Happy path tests failed on build of test project step"
### Describe the bug
E2E Happy path tests failed because test project didn't build successfully:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Single-Che-PR-check-E2E-Happy-path-tests-against-k8s-on-codenvy-slave9/1226/console
![screenshot-Build_application](https://user-images.githubusercontent.com/1197777/69420518-82f1ed00-0d27-11ea-9187-c38b

[2019-11-22 11:06] vzhukovskii commented on #14911
@rguskov there is an additional command in command palette, where you can upload a private key. See demo in following PR: https://github.com/eclipse/che-theia/pull/547

[2019-11-22 11:06] #14911 closed

[2019-11-22 11:06] vparfonov opened #15285 "[che-operator] - enable support git clone for repositories with self-signed SSL certs"
### Is your enhancement related to a problem? Please describe.
In #15218 was introduced ability support git operations for self signed SSL certificates.
For now, we need to provide ability setup this feature via che-operator.

[2019-11-22 13:34] sparkoo commented on #15136
Content-Type: text/x-zim-wiki
Wiki-Format: zim 0.4
Creation-Date: 2019-11-22T14:02:18+01:00

====== proposal v3 ======
Created Friday 22 November 2019

## Proposal v3

Update of previous proposal after todays team call. Main idea of this update is that We don't want to install other operators, because then we will have to support them.

### Phase 1
**Goal**: make it possible to monitor Che master

[2019-11-22 14:11] vzhukovs opened #15286 "Provide referenceContent for the cheEditor type in yaml configuration"
### Is your enhancement related to a problem? Please describe.
It would be nice to have an ability to setup `referenceContent` to configure meta yaml for the cheEditor type. At this moment, there is only `reference` property, that consumes url of the meta.yaml, which describes configuration for the che editor.

Test devfile used for the workspace creation: [workspace.yaml](https://github.com/vzhuk

[2019-11-22 14:38] nickboldt commented on #14927
*cough* @slemeur any thoughts on this, a sprint later? */cough*

[2019-11-22 14:39] metlos opened #15287 "MySQL TCK might hang"
### Is your task related to a problem? Please describe.
On my local machine, the MySQL TCK hangs.

### Describe the solution you'd like
The detection made by the docker maven plugin for "readiness" of the image seems to be the culprit.

Currently, it is configured as:
[code]
while the log message appears in the output of my running container and the docker maven plugin correctly catches the messag

[2019-11-22 14:43] #15248 closed

[2019-11-22 14:51] davidwindell commented on #14330
Thanks @amisevsk, I'm going to try and use an EBS volume and will report back in a few days.

[2019-11-22 15:11] sleshchenko commented on #15280
`oc delete checluster codeready -n ${OPENSHIFT_PROJECT}` o_O
chectl, crwctl has the code that delete CheCluster CR https://github.com/che-incubator/chectl/blob/89a144420dbe0943ec3b5c09765d9fa3b851a43d/src/tasks/installers/operator.ts#L362
if CR is not deleted after `server:delete` -n ${OPENSHIFT_PROJECT} then it's a dedicated issue, please register it @nickboldt

Also, I believe if namespace exist

[2019-11-22 15:19] sleshchenko commented on #15276
It's not about formatting bit about highlighting. I added a bit text description into PR description

It works incorrectly also on github and atom in some cases(when referenceContent is a first field), but for Che this problem is even more "critical" since Dashboard (or maybe Che Server) sorts fields in way that highlighting is kind of always is broken.

Sorry, I really don't know. It's a editor t

[2019-11-22 15:23] DStatWriter opened #15288 "[Doc] Che7 - Che4z Release Notes Update"
Che4z Release Notes Update

Update includes:
COBOL Language support 0.8.3
Explorer for Endevor
Zowe CLI and Explorer

[2019-11-22 15:41] tsmaeder commented on #15276
@JPinkney has a PR open, but he's away this week.

[2019-11-22 15:41] tolusha commented on #15288
/cc @rkratky

[2019-11-22 16:19] johnmcollier opened #15289 "Setting `CHE_INFRA_KUBERNETES_WORKSPACE__START__TIMEOUT__MIN` does not work"
### Describe the bug

I have a Che devfile that downloads a relatively large VS Code extension from http://download.eclipse.org/. I'm finding that it takes long enough to cause the workspace startup to occasionally timeout. I saw that there is a `CHE_INFRA_KUBERNETES_WORKSPACE__START__TIMEOUT__MIN` property and I set that in the `cheCustomProperties` field in the CheCluster yaml. However, I'm stil

[2019-11-22 16:25] sunix commented on #15258
actually duplicate of https://github.com/eclipse/che/issues/14343

[2019-11-22 18:41] skabashnyuk commented on #15289
Hello @johnmcollier . thank you for this report.  Can you take a look in che-master container and ensure that exactly value is set for `CHE_INFRA_KUBERNETES_WORKSPACE__START__TIMEOUT__MIN` with `env|grep CHE_INFRA_KUBERNETES_WORKSPACE__START__TIMEOUT__MIN`.  Because default is 8 minutes https://github.com/eclipse/che/blob/e3bc0a0bdab5df5b0da7ed49fc0371ee2e015852/assembly/assembly-wsmaster-war/src/

[2019-11-22 19:47] johnmcollier commented on #15289
@skabashnyuk Thanks for replying!

It returns the proper value for me, which tells me it's at least being set properly by the operator when I install Che.

I looked through Che.properties further and found another property, this time for the plugin broker: `che.workspace.plugin_broker.wait_timeout_min`
https://github.com/eclipse/che/blob/e3bc0a0bdab5df5b0da7ed49fc0371ee2e015852/assembly/assembly-w

[2019-11-22 22:22] johnmcollier opened #15290 "Can't access Che if installed with `tlsSupport: true` and `selfSignedCert: true`"
### Describe the bug

I tried installing Che with HTTPS (using my OpenShift cluster's self-signed certs) with the operator by setting `tlsSupport: true` and `selfSignedCert: true`.

The doc [Deploying Che with HTTPS mode](https://www.eclipse.org/che/docs/pages/che-7/installation-guide/proc_deploying-che-with-https-mode.html) only has placeholder text so I wasn't sure if anything else is needed.

A

[2019-11-23 06:35] tolusha commented on #15290
/cc @sleshchenko

[2019-11-24 13:23] dmytro-ndp commented on #15284
The issue wasn't reproduced locally.

[2019-11-24 21:30] dmytro-ndp opened #15291 "Run E2E Happy path tests before pushing 'eclipse/che-theia:next' image to DockerHub"
### Is your task related to a problem? Please describe.
Codenvy CI builds **eclipse/che-theia:next** nightly and from time to time it produces buggy bits, for example: https://github.com/eclipse/che/issues/15179, https://github.com/eclipse/che/issues/15183

### Describe the solution you'd like
We need to execute E2E Happy path tests against **eclipse/che-theia:next** bits before pushing them to Do

[2019-11-25 07:02] monaka opened #15293 "cache_images.sh will be failed in case the registry have multiple icons."
### Describe the bug

`cache_images.sh` will be failed when  `meta.yaml` by third party was added.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Add new `meta.yaml` with `icon:` not pointing `https://www.eclipse.org/che/images/logo-eclipseche.svg`
2. Build image.

The build failure of my forked devfile-registry.
https://dev.azure.com/pizzaf

[2019-11-25 07:53] sleshchenko commented on #15290
@johnmcollier Hello, browser by default forbid request anything from hosts with self-signed-certificates, when you open Dashboard first - browser denies requesting keycloak host A.
When you open keycloak host directly, browser notifies you that self-signed-certificate is used and asks if you want to trust it. And you must add an exclusion for every host - Che, Keycloack, Plugin Registry, Devfile R

[2019-11-25 07:59] tsmaeder commented on #15283
@mmorhun is it correct to assume that extensions that work in VS Code will work with the new code in Theia? Do we know the places we need to fix in che-theia? How can we tell when our code is broken?

[2019-11-25 08:02] tsmaeder commented on #15285
Why only the operator? We have other ways to install che, right?

[2019-11-25 08:16] mmorhun commented on #15283
@tsmaeder yes VSCode extensions with webview should work in Eclipse Theia in case of using localhost (Otherwise https is required see [this comment](https://github.com/eclipse-theia/theia/pull/6465#issuecomment-557494879)).
As for now, when new image of Che Theia will be built by our CI, all webviews won't work (For example, welcome page is not displayed).
@AndrienkoAleksandr and I are investigati

[2019-11-25 08:28] mmorhun commented on #15283
For now we are going to set `THEIA_WEBVIEW_EXTERNAL_ENDPOINT` to the current Che Theia route to have it work as it worked before (no security, though).
Then, to improve security, we'll try to use another route for all webviews (so Theia and all webviews will be separated, but no separation between webviews).

[2019-11-25 08:28] benoitf commented on #15283
We might stick to an upstream commit before rewrite of webview support if it takes more than one day to handle problem.

[2019-11-25 08:46] tsmaeder commented on #15283
Note that we need that reworked welcome support for Quarkus tooling: https://github.com/eclipse/che/issues/15113. So working around is ok for the moment, but we'll need a solution in the near future.

[2019-11-25 08:55] vparfonov commented on #15285
@tsmaeder for Helm chart docs already in PR https://github.com/eclipse/che-docs/pull/936

[2019-11-25 08:56] vitaliy-guliy commented on #15169
At the moment we ask the dashboard to restart the workpsace, which is working fine.
There are two PRs to che 7.3.x and che-theia 7.3.2 solving the problem.
https://github.com/eclipse/che/pull/15194
https://github.com/eclipse/che-theia/pull/542

[2019-11-25 08:56] #15169 closed

[2019-11-25 09:03] vparfonov opened #15294 "Move Che release job from Codenvy CI to the CentOS CI"
### Is your task related to a problem? Please describe.
Codenvy CI not support well at the moment, so we need to move to other toll.

[2019-11-25 09:15] skabashnyuk commented on #15294
- Have you considered Github Actions?
- Does CentOS CI mean Eclipse CI https://ci.eclipse.org/che/?
- What are the level of publicity of it? Is there a way for non-RedHat Eclipse Che committer to release something?

[2019-11-25 09:20] vparfonov commented on #15294
No, CentOS CI means https://ci.centos.org/, like it done for che-machine-exec

For sure, it will be not public

[2019-11-25 09:34] benoitf commented on #15294
Using Eclipse CI will allow any Eclipse Che committer to trigger jobs.

[2019-11-25 09:37] slemeur commented on #14927
LTS for NodeJS: https://nodejs.org/en/about/releases/

I'm +1 to remove it.

[2019-11-25 09:51] sleshchenko opened #15295 "Self-signed certificate mode does not work"
### Describe the bug
Self-signed certificate mode does not work.

Che Server pod crashed with the following error message
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Deploy nightly Che with self-signed tls, `chectl server:start --platform=openshift --installer=operator --tls --self-signed-cert`

### Expected behavior
Che is successf

[2019-11-25 09:53] #14763 closed

[2019-11-25 10:02] Katka92 commented on #15240
Thank you @SkorikSergey for information. I see it is part of Java test suite, which is not used on Hosted Che. I would go rather for reimplementing this test to a typescript test suite and use that on downstream easily then adopting the upstream Java tests just for this one simple test.
cc @ibuziuk @rhopp

[2019-11-25 10:08] mshaposhnik commented on #15231
So the problem still under invertigation, there was several updates of production with and without `view` role applied to service account. When role is disabled, it seems there is no problems with workspaces idling and thread locks, but replication didn't work.
We're also set up the same version and granted `view` role on prod-preview, tried with diagnostic tool and everything seems went fine, rep

[2019-11-25 10:12] slemeur commented on #13395
/remove-lifecycle stale

[2019-11-25 10:21] tsmaeder commented on #15272
Removed from language backlog, not clear this falls into our responsibilities.

[2019-11-25 10:22] tsmaeder commented on #15118
We need a solution for how to mix and match jdt.ls extensions in the same container before we can merge this.

[2019-11-25 10:27] l0rd commented on #15183
This issue is considered a blocker because it makes the PR check fail. The JSON lang server not working is an issue but not a blocker.

To address the PR check problem @musienko-maxim we can editing the `launch.json` at all. The debug config can be setup in the devfile like we do it [here](https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml#L54). That'

[2019-11-25 10:31] benoitf commented on #15272
@tsmaeder it's your responsability

It's only about adding more default plug-ins for default stack languages.

[2019-11-25 10:33] tsmaeder commented on #14857
I don't think setting up settings.xml in the dev machine container's `/home/user/.m2` is supported from the devfile right now. You can put a file in .m2 by hand, but you'll have to declare .m2 as a persistent volume in the dev container, or you'll lose it at restart. Of course,  you can always set up your own container to use as the dev machine.
We're already handling the special case of adding re

[2019-11-25 10:38] tsmaeder commented on #15272
@benoitf that's not what the title says.

[2019-11-25 10:40] benoitf commented on #15272
In Eclipse Che, right now if I select Java, java-debug vsix is also brought.
So ChePlugin can bring more than one vsix at a time (which is what an extension pack is doing)

so I could have a ChePlugin with the exact same list of vsix (minor the one that are not free) for a given language

so it's just a matter of bringing more plug-ins to have same experience than on VS Code or Vs Code Online

[2019-11-25 10:44] slemeur commented on #15278
Thanks @vparfonov 👍

On the VSCode OpenShift and K8S plugin, I'd prefer that we prioritize more bugs and UX issues. There is this epic that has been created which list a certain set of tasks:
https://github.com/eclipse/che/issues/14900
It would be nice if you could take the epic and start decomposing all the sub-tasks. (including the one you are currently working on).
This way, we'll have a main e

[2019-11-25 10:47] slemeur commented on #15295
What is the version(s) concerned by this bug?

[2019-11-25 11:00] tsmaeder commented on #15272
@benoitf no, if I have two extension packs (let's say "Quarkus" and "Spring Boot"), I'll end up with multiple copies of jdt.ls. So this is not simply a matter of adding more VS Code extensions to the Che plugins. If the user installs two of them, stuff is going to break. Having a "extension pack" mechanism is much more involved and is unlikely to even involve the "languages" team.

[2019-11-25 11:02] benoitf commented on #15272
@tsmaeder if you don't provide extension as separate plug-in it doesn't reproduce your problem.
And AFAIK quarkus is not included in the Java extension pack

[2019-11-25 11:44] #15295 closed

[2019-11-25 11:49] rhopp opened #15297 "Add debug action to devfile used in Happy Path tests"
### Is your task related to a problem? Please describe.
Happy Path test is currently adding launch/debug configuration by directly editing `launch.json` file.
We should modify the devfile to add that configuration directly (so no further edition of `launch.json` file is needed in the running workspace).

### Describe the solution you'd like
Here is example of how this can be achieved: https://gith

[2019-11-25 11:50] rhopp commented on #15183
I've created https://github.com/eclipse/che/issues/15297 to unblock PR check tests (I've set it as Blocker severity, so we can lower the severity of this one to P1)

[2019-11-25 12:02] tsmaeder commented on #15183
FYI: @tolusha has provided an updated fix for the issue. With a bit of luck, we can merge the fix later toda.

[2019-11-25 12:06] tsmaeder commented on #14871
This is another extension that needs to be run together with jdt.ls. We really need a solution for mix-and-match jdt.ls extensions before we proceed here.

[2019-11-25 12:07] #14855 closed

[2019-11-25 12:10] tsmaeder commented on #14282
@musienko-maxim ping?

[2019-11-25 12:11] tsmaeder commented on #14245
PR has been merged.

[2019-11-25 12:11] #14245 closed

[2019-11-25 12:15] l0rd commented on #14742
@sleshchenko yes we should support self signed certs of course. That may be tricky but we have already lost a lot of time because we are not testing with TLS enabled locally. We should automate as much as we can and guide user to accept the self signed certs.

@davidfestal it should not be "risky" otherwise users that enable TLS will always "risk" to have problems. We want to make TLS the default

[2019-11-25 12:22] sleshchenko opened #15298 "Dashboard messages should be more accurate when self-signed cert issue happens"
### Describe the bug
When Che is deployed with self-signed certificate and the corresponding CA is not imported to browser - the only way to understand why Che fails to load in browser - use Developer Tools and analyze failed requests.
So, Dashboard messages should be more accurate when self-signed cert issue happens

### Che version

 - [x] latest
 - [x] nightly
 - [ ] other: please specify

###

[2019-11-25 12:26] sparkoo opened #15299 "[che-operator] - install Grafana CR"
### Is your enhancement related to a problem? Please describe.
To support monitoring of Che with Prometheus and Grafana, we must instantiate the Grafana with Grafana CR managed by grafana-operator.

### Describe the solution you'd like
Update CheServer CRD with:
[code]

This is applicable only if metrics.enable: true.
If metrics.grafana.enable:true and Grafana CRD is defined in the cluster, create

[2019-11-25 12:29] tsmaeder commented on #13926
MAVEN_CONFIG seems to be used in the entry point of the maven image (https://github.com/carlossg/docker-maven#packaging-a-local-repository-with-the-image). Can we be sure that setting the env var to the empty string is not going to break that support?

[2019-11-25 12:31] metlos opened #15300 "Support workspace namespace configuration in che-operator"
### Is your enhancement related to a problem? Please describe.
Che server can be configured to use custom namespaces used for workspace deployment but che-operator currently hardcodes such configuration to the same namespace the che server is deployed to.

This wasn't configurable before because Che server didn't support safely changing this configuration without damaging the existing workspaces (

[2019-11-25 12:31] tsmaeder commented on #13926
Also, doing this from a devfile will not fix the problem when folks are importing their own projects using .mvnw.
No, this needs to be fixed on the image level. Can we override the entrypoint to unset the env var?

[2019-11-25 12:33] sleshchenko opened #15301 "[TLS] Document using self-signed TLS mode in Che"
### Is your task related to a problem? Please describe.
From time to time users complains about issues that they faced actually because of documentation lack.
It's needed to write documentation that would contain:
1. Basic information about self-signed certificates.
2. Instructions how to deploy Che with self-signed TLS mode enabled:
  - K8s and helm chart
  - K8s/OS and operator as an installer
3

[2019-11-25 12:36] sleshchenko commented on #14954
@sultanmunaver did you solve faced issues or some help is still needed?

[2019-11-25 12:54] sparkoo opened #15302 "[che-operator] when metrics enabled, create and configure full monitoring stack by default"
### Is your enhancement related to a problem? Please describe.
After we're able to create full monitoring stack from che-operator, we should make it the default.

### Describe the solution you'd like
If the global monitoring flag is enabled `metrics.enable: true`, install full monitoring stack. This would mean to set these defaults:
[code]

This should ensure that setting `metrics.enable: true` is

[2019-11-25 12:55] #14902 closed

[2019-11-25 12:56] #15284 closed

[2019-11-25 12:56] #14941 closed

[2019-11-25 13:12] DStatWriter opened #15303 "[Doc] Che7 - Copybook fuctionality added to COBOL Language Support"
Several Doc edit and additions to support introduction of Copybook functionality in COBOL Language Support

[2019-11-25 13:14] sultanmunaver commented on #14954
We fixed it dude , thank you

On Mon, 25 Nov 2019 at 6:06 PM, Sergii Leshchenko <notifications@github.com>
wrote:

--
SultanM
*Microsoft / Aws / Azure Consultant*

*Azure Devops Specialist*AWS Certified Solutions Architect
Microsoft Azure Cloud Technologies
Microservices /Devops Engineering

[2019-11-25 13:17] benoitf commented on #15272
I think we should separate issue
This issue/epic is about having one plug-in that is enabling multiple plug-ins at a time (same container)

Not trying to solve the issue about enabling 4 different plug-ins and make them work with the same container or by sharing a common folder for jdt.ls

Or not trying to solve plug-in collision.

Just to have same default tools than VS Code online that enable by

[2019-11-25 13:17] vparfonov commented on #15278
Thanks, for review we will take a look on those issues

[2019-11-25 13:35] lautou commented on #14859
I don't know if it is related or not. I get this issue in 7.4.0 (was already the case in 7.3.0):
My workspace appears as not running in Eclipse Che console although workspace pods are runnings.
![image](https://user-images.githubusercontent.com/8274134/69544281-aa4af300-0f8f-11ea-96ed-56a078f92f9f.png)
![image](https://user-images.githubusercontent.com/8274134/69544450-06ae1280-0f90-11ea-88bb-7a3e

[2019-11-25 13:38] tsmaeder commented on #13672
Time to revive this one.

[2019-11-25 13:40] tsmaeder commented on #13672
VS Code built-ins are now available from npm. Check whether html-language-features is alread in there or how to consume it from npm.

[2019-11-25 13:40] lautou commented on #14859
Please finds the logs as attachment.
[Eclipse_Che_Logs.zip](https://github.com/eclipse/che/files/3886846/Eclipse_Che_Logs.zip)

[2019-11-25 13:49] benoitf commented on #15272
I will create specific issues for Languages Team ans list them in  the epic

[2019-11-25 13:52] sleshchenko commented on #14954
Closing this issue, feel free to reopen it or register a new one if you same any issue with Che.

[2019-11-25 13:52] #14954 closed

[2019-11-25 14:01] sparkoo commented on #15137
We're not going to install 3rd party operators, because we don't want to support them. Instead of that, we're going to create only CRs for the operators. We leave prometheus/grafana-operator installation and management to admins. These operators then will be able to use CRs created by our operator.
Because this approach is handled in several tasks (see the description https://github.com/eclipse/ch

[2019-11-25 14:01] #15137 closed

[2019-11-25 14:05] svor commented on #13906
fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-11-25 14:05] #13906 closed

[2019-11-25 14:05] svor commented on #13907
fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-11-25 14:05] #13907 closed

[2019-11-25 14:05] svor commented on #13908
fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-11-25 14:05] #13908 closed

[2019-11-25 14:06] svor commented on #13910
fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-11-25 14:06] #13910 closed

[2019-11-25 14:08] svor commented on #13739
fixed by https://github.com/eclipse/che-plugin-registry/pull/199

[2019-11-25 14:08] #13739 closed

[2019-11-25 14:08] #13892 closed

[2019-11-25 14:11] ibuziuk commented on #15090
@amisevsk can we close this one?

[2019-11-25 14:21] skabashnyuk opened #15304 "Revise Organization/Resources functionality"
### Is your task related to a problem? Please describe.

Organization and Resource API originally was targetting on Docker infrastructure.
In Che 7 era that is targetting K8S based infrastructures, such capabilities can't be fully implementing. For example, that's not possible to
create a workspace in (some) organization namespace and simply just add and remove users.

### Describe the solution yo

[2019-11-25 14:21] skabashnyuk commented on #15304
CC @l0rd @davidfestal @slemeur

[2019-11-25 14:31] nickboldt commented on #14927
(Edit: added EOL date for Node 8 to Stevan't comment above.)

[2019-11-25 14:31] skabashnyuk opened #15305 "Provide information about available/used resources for the user's namespace"
### Is your task related to a problem? Please describe.

Now when we have the ability to provide a list of namespaces available for the user to create a workspace, it would be nice
to provide also information about available/used resources for the user's namespace.

### Describe the solution you'd like
Namespace API should provide information about available/used resources
 - CPU
 - Memory
 - PV

[2019-11-25 14:55] tolusha commented on #15183
@benoitf
The corresponding PR has been merged

[2019-11-25 14:57] skabashnyuk opened #15306 "Provide an ability to override CPU limits of plugin/editor containers in devfile"
### Is your task related to a problem? Please describe.

As part of this task https://github.com/eclipse/che/issues/13709 we are going to introduce
the ability to specify CPU limits as well on the plugin containers. We also think that it would
be useful for users to have the ability to override these values too because the requirement
for different types of projects can very.

### Describe the sol

[2019-11-25 15:08] benoitf commented on #15183
@tolusha nothing to do for che-theia as it's using master branch of theia so code is there once it's merged upstream.

but we might face now the issues about webviews

[2019-11-25 15:23] slemeur commented on #15262
@tsmaeder An end-user, has no idea what theia is. If he is using Che, he is using Che and will report issue here. The fact that there is a issue on a component that is used in Che is "internal". Here you are forcing a user to track an issue on another repository, while the user will have no idea of when this will be fixed in Che.

[2019-11-25 15:23] slemeur commented on #15262
Once the issue upstream will be fixed and integrated in Che, this is an actual issue for Che and as such, should not be closed.
thanks.

[2019-11-25 15:30] #13473 closed

[2019-11-25 15:32] MichalMaler commented on #14364
Solved by merging this PR
https://github.com/eclipse/che-docs/pull/929

[2019-11-25 15:38] #14364 closed

[2019-11-25 15:52] sleshchenko opened #15307 "Document possible issues with unrecoverable events on OpenShift < 4.2"
### Is your task related to a problem? Please describe.
More info can be found here https://github.com/eclipse/che/issues/14670
Short summary: on `OpenShift lower than 4.2` + `WaitForFirstConsumer Storage Class Mode` we faced issues that workspace failed to start because of the unrecoverable event `FailedScheduling`. It's needed to document such an issue with unrecoverable events on OpenShift < 4.

[2019-11-25 16:00] tomgeorge opened #15308 "Document the reachability of routes/ingress hostnames from inside the cluster"
### Is your enhancement related to a problem? Please describe.

As part of the research on https://github.com/eclipse/che/issues/15187 we discovered that traffic from inside the cluster must be able to reach Ingress/Route hostnames.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2019-11-25 16:05] tolusha commented on #15183
@benoitf
How is it related to PR?

[2019-11-25 16:08] benoitf commented on #15183
@tolusha because all PR reviews were red

If you need a fresh image of che-theia, it just needs a new commit or a re-spin of the build

[2019-11-25 16:10] johnmcollier commented on #15289
This worked, closing out. Thanks!

[2019-11-25 16:10] #15289 closed

[2019-11-25 16:14] ibuziuk opened #15309 "Prometheus metrics with number of the ephemeral / non-ephemeral and obsolete (Che 6) workspaces"
### Is your task related to a problem? Please describe.
Need to provide prometheus metrics for the number of ephemeral / non-ephemeral and obsolete (Che 6) workspaces.
Relevant SQL queries:

- ephemeral;

`SELECT Count(*) FROM devfile_attributes WHERE name = 'persistVolumes' AND value = 'false';
`
- non-ephemeral

`SELECT Count(*) from devfile LEFT JOIN devfile_attributes ON id = devfile_id WHERE

[2019-11-25 16:14] ibuziuk commented on #15309
@skabashnyuk FYI

[2019-11-25 17:35] metlos opened #15310 "Helm chart always deploys nightly versions of devfile and plugin registries"
### Describe the bug
Helm chart obtained from the `7.3.2` tag correctly deploys the `7.3.2` image of the che server, but the it deploys nightly versions of devfile and plugin registry.

### Che version
latest

### Steps to reproduce
1. `cd <CHE_CLONE_DIR>`
1. `git checkout 7.3.2`
1. `helm upgrade --install che --namespace che --set global.ingressDomain=$(minikube ip).nip.io deploy/kubernetes/helm/

[2019-11-25 17:59] l0rd commented on #14662
Creating a CRD requires cluster wide privileges and I think we should process that in a different way compared to the creation of namespaced resourced. An idea would be to add the option `chectl server:start --create-crd-only` and use the following workflow:

1. when the CRD already exist we should skip creating it
2. if the CRD doesn't exist we should check if user has the right privileges to cre

[2019-11-25 18:09] ibuziuk commented on #15293
@amisevsk could you please take a look and comment?

[2019-11-25 18:12] ibuziuk commented on #15297
@rhopp why this is considered to be a blocker?

[2019-11-25 18:32] rhopp commented on #15297
@ibuziuk TL;DR version - Happy Path test is failing and this is to workaround the problem (and after discussion with @l0rd it's preferred way anyway). Anything that breaks Happy Path should be considered as blocker and should have top priority for fixing.

Longer version:
Current implementaition of Happy Path is using LS capabilities to populate `launch.json` with debug config. This is broken righ

[2019-11-25 18:46] johnmcollier commented on #15290
@sleshchenko Thanks! With #15298 and #15301 open, I'll close this issue out

[2019-11-25 18:46] #15290 closed

[2019-11-25 19:58] tomgeorge commented on #14662
They are not, I had to apply the roles listed above.  If I disable `--os-oauth` then a regular user can install Che after the `che-minimal` role is applied.

[2019-11-26 04:35] lautou opened #15312 "A workpace-related k8s resources(pods, services, ...) are not removed after inactivity timeout"
### Describe the bug

### Che version

 - [X] latest
 - [ ] nightly
 - [X] other: 7.3.0, 7.4.0

### Steps to reproduce

1. Create a new OpenShift project: eclipse-che
2. Install Eclipse Che operator using OperatorHub:
    - Install Mode: A specific namespace on the cluster: eclipse-che
    - Update Channel: stable
    - Approval Strategy: Automatic
3. Create a Che Cluster: eclipse-che
4. Log into

[2019-11-26 07:30] skabashnyuk opened #15313 "[POC] TLS by default"
### Is your task related to a problem? Please describe.

There are several concerns raised here in comments https://github.com/eclipse/che/issues/14742 and we think
that during implementation we may identify quite a lot of corner cases.

### Describe the solution you'd like
The goal of this task is:
 -  to start the implementation of the task "TLS by default".
 - Identify as much as possible conne

[2019-11-26 07:31] mshaposhnik commented on #15176
I think we can close the issue since there is nothing much to do - we're added property which will prevent connection errors when jgroups cluster node is just starting and not yet able to accept connections. And some small amount of errors on node shutdown is seems to be not an issue.

[2019-11-26 07:31] #15176 closed

[2019-11-26 07:44] skabashnyuk commented on #15259
@l0rd @davidfestal are you ok  with @sleshchenko proposal https://github.com/eclipse/che/issues/15259#issuecomment-556977394 ?

[2019-11-26 08:00] skabashnyuk commented on #15312
@lautou can you please provide more information about Openshift you are using and the way how did you install and setup Che?

[2019-11-26 08:27] slemeur opened #15314 "Update vert.x default sample"
### Is your task related to a problem? Please describe.
The sample project is based on an older version version of Vert.x that likely has several CVEs, but most importantly it is essentially a Spring application with Vert.x inside with many wrong usages: blocking operations because of Spring Data, raw HTTP dispatch rather than using a router, etc.

### Describe the solution you'd like
Replace the

[2019-11-26 08:30] #15183 closed

[2019-11-26 08:44] RomanNikitenko commented on #13984
I added schema for `che` tasks within https://github.com/eclipse/che-theia/pull/550
Now content assistant should work for `che` tasks

[2019-11-26 08:44] #13984 closed

[2019-11-26 08:45] tsmaeder commented on #15314
According to @slemeur we have a better example in CRW. It uses this repo: https://github.com/openshiftio-vertx-boosters/vertx-http-booster
We can take over that example, but make sure we don't have any dependencies on Red Hat products.

[2019-11-26 08:45] tsmaeder commented on #15314
The new sample should replace the Java-Web-Vertx sample, as far as I'm concerned.

[2019-11-26 08:47] lautou commented on #15312
Openshift 4.2 on AWS.
I installed it through operator.

[2019-11-26 08:50] #15121 closed

[2019-11-26 09:10] sleshchenko commented on #15305
duplicates https://github.com/eclipse/che/issues/13504

[2019-11-26 09:10] #15305 closed

[2019-11-26 09:33] dmytro-ndp commented on #15297
Looks like the issue https://github.com/eclipse/che/issues/15183 has been fixed https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/K8S/job/Single-Che-master-check-E2E-Happy-path-tests-against-k8s/3398/

[2019-11-26 09:35] #15042 closed

[2019-11-26 09:57] #14627 closed

[2019-11-26 10:24] azatsarynnyy commented on #15261
OpenShift Connector plugin is connected to a cluster as Che service account. ATM I don't see how we can connect plugin automatically as OpenShift user.

Improving a kubeconfig injection with chectl could make the UX is a bit better. See https://github.com/eclipse/che/issues/14877

[2019-11-26 10:31] dmytro-ndp commented on #15297
Happy path tests are unstable on reading config from json:
https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-pr-tests/view/K8S/job/Che-Theia-PR-check-E2E-Happy-path-tests-against-K8S__reserved/593/consoleFull
[code]
![screenshot-Open_debug_configuration_file](https://user-images.githubusercontent.com/1197777/69621807-71bb2000-1048-11ea-8fc3-19057bd712a6.png)

[2019-11-26 10:32] azatsarynnyy commented on #15273
@sunix could you please describe in detail what are the steps to reproduce the described bug.

I've been able to successfully create two components linked to two different projects.
See it in my last demo https://www.youtube.com/watch?v=kjVBLqTNvRA

[2019-11-26 10:35] azatsarynnyy commented on #15270
It's because of kubeconfig isn't persisted between workspace restarts. Should be fixed by https://github.com/eclipse/che/issues/14877

[2019-11-26 10:38] azatsarynnyy commented on #15278
one more https://github.com/eclipse/che/issues/15262

[2019-11-26 10:39] apupier opened #15316 "Unreadable black on black text for 404 when accessing missing logs of Kubernetes"
### Describe the bug

black text on black background in some cases

workaround: use the light theme

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace with Kubernetes extension available
2. Access log of a pod which is unreachable (don't know in which cases it happens exactly :-()
3. The loaded page is a 404 Not Found with bla

[2019-11-26 10:48] rkratky commented on #14967
@DStatWriter, could you please file more descriptive issues, so that they can be reviewed by other members of the team, too? A good start would be to use the templates prepared at https://github.com/eclipse/che/issues/new/choose

[2019-11-26 10:50] azatsarynnyy commented on #15271
As I remember, it's an upstream issue. @sunix could you check in VS Code, please?

[2019-11-26 11:05] dmytro-ndp opened #15317 "Editor tabs are not restored after refreshing browser tab"
### Describe the bug
The selenium tests fails because **Editor** tabs are not restored after refreshing browser tab.
![screencast-che-eclipse-che 10 33 177 124 nip io-2019 11 26-13_58_51](https://user-images.githubusercontent.com/7760565/69630219-74704200-1055-11ea-95e0-e39a37550387.gif)

- ProjectStateAfterRefreshTest.checkRestoreStateOfProjectAfterRefreshTest failure on nightly build
https://ci.

[2019-11-26 12:03] SkorikSergey commented on #15317
The selenium tests fails because
![screencast-che-eclipse-che 10 33 177 124 nip io-2019 11 26-13_58_51](https://user-images.githubusercontent.com/7760565/69630219-74704200-1055-11ea-95e0-e39a37550387.gif)
Editor files tabs are not restored after refreshing browser tab.

[2019-11-26 12:33] apupier commented on #15316
there is the sameeisseu when the Che welcome page is returning a 404

[2019-11-26 12:35] apupier opened #15318 ""404 Not found" for welcome page"
### Describe the bug

### Che version

 - [x] latest Che-Theia@8f867f2 using Theia@98ac397 Built 11/26/2019, 9:40:08 AM
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace (tried with a custom one and with java-maven)

workaround: refresh browser

### Expected behavior
have the correct welcome page since the beginning

### Runtime
   - [ ] kubernetes (include

[2019-11-26 12:41] apupier opened #15319 "Sometimes cannot restart a workspace with NPE in KubernetesDeployments$CreateWatcher.eventReceived and KubernetesInternalRuntime.storeStartingMachine"
### Describe the bug
on second start, the workspace fails to start with `Error: Failed to run the workspace: "An exception occurred."`

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Start a workspace (java-maven fo rinstance)
2. Wait that the workspace has started
3. Stop the workspace
4. Try to open again the workspace

### Expected behavio

[2019-11-26 12:44] apupier commented on #15319
in che-host, there is this erro rin log:

[code]

[2019-11-26 12:45] apupier commented on #15319
also:

[code]

[2019-11-26 12:47] lautou commented on #14859
Finally i found the root cause : #15312

[2019-11-26 13:03] rhopp opened #15320 "Do not consume eclipse-theia without any quality gate"
### Is your task related to a problem? Please describe.
Currently, che-theia:next (build from che-theia master branch) is being build nightly with lastest bits from https://github.com/eclipse-theia/theia without any checking, that changes in upstream eclipse-theia are working with other Che components.
This approach is not good, as it often breaks development (nightly) version of Che.
This approac