[2018-10-10 10:15] azatsarynnyy commented on #11166
closed by https://github.com/eclipse/che/pull/11567

[2018-10-10 10:15] #11166 closed

[2018-10-10 10:44] artaleks9 opened #11574 "Upload private SSH key to VCS does not work on the multi-user assembly"
### Description
_When I try to upload a private ssh key to VCS on the multi-user (docker/ocp) assembly, I get unexpected error._

**Reproduction Steps:**
* Open the IDE and select _Preferences_ in the menu command
* Choose the _VCS_ and click on the _Upload Key_ button
* In the form select the host _'github.com'_ and upload the private key from local system
* Click on the _'Upload'_ button

**Expe

[2018-10-10 11:07] SharkJ commented on #11527
@eivantsov I guess you mean it is not required to set permission since it is single user. WHat I want to do now is to make a custom stack permanent. For this, I need to edit stacks.json and set `CHE_PREDEFINED_STACKS_RELOADONSTART=true` in `che.env`.
Now where I get confused is, can I input my new stack into stacks.json without cloning and editing the che repo? Can I add my stack into stacks.json

[2018-10-10 11:13] azatsarynnyy commented on #10927
closed by https://github.com/eclipse/che/pull/11566

[2018-10-10 11:13] #10927 closed

[2018-10-10 11:29] eivantsov commented on #11527
After a POST request it will be persisted in a DB. And as long as you don't flush it, it will be there

[2018-10-10 11:37] garagatyi commented on #11265
1. I would say yes. At least for the time being.
2. I would guess the protocol. We use colon character to separate version, adding protocol would complicate the format.

[2018-10-10 12:17] benoitf commented on #9894
fixed in 6.13.0

[2018-10-10 12:17] #9894 closed

[2018-10-10 12:45] #5443 closed

[2018-10-10 12:54] #10617 closed

[2018-10-10 13:07] skabashnyuk commented on #11549
Before we start use-case grouping I would like to have an agreement on some technical aspects.

I would say all stories can be divided into such categories.

- we have Devfile content
- we have an HTTP link to Devfile
- Devfile is under vcs. (This use case has the biggest effect on technical solution)

Next, we have two ways to have a working workspace from Devfile.
1. Get content of Devfile, tran

[2018-10-10 13:12] dkuleshov commented on #11571
@sleshchenko No, actually I have no idea when such may happen. The use case is not clear for me, what do you mean by saying "if there any active client"?

[2018-10-10 13:14] skabashnyuk commented on #11453
In my experiments I have two issues for now.
[code]
1. In che-plugin.yaml I need to be able to define endpoint that will be transformed to the server with name "wsagent/http" "wsagent/ws". I can't do that since the name is required to be valid K8s name
2. To be able to load IDE  I need to have an url to load in such format http://route-to-gwt-ide/{namespace}/{workspacename}

@garagatyi @sleshchenk

[2018-10-10 13:22] dmytro-ndp opened #11578 "Check code assistance when verifying workspaces created from stacks in E2E selenium tests"
### Description
We have package of E2E selenium tests **org.eclipse.che.selenium.stack** which verify creation of workspace from stacks in Eclipse Che Dashboard.

We need to verify if user can edit project source files having code assistance inside the workspaces, in addition to building and running the project.

[2018-10-10 13:38] slemeur commented on #11578
what do you mean by a "non-default" stacks? there could be a lot different ones.

[2018-10-10 13:42] dmytro-ndp commented on #11578
I mean stacks which we can see at the "_New Workspace_" page:
![new-workspace-page](https://user-images.githubusercontent.com/1197777/46740438-805f4000-ccab-11e8-884d-da1983e76d23.png)

[2018-10-10 13:49] slemeur commented on #11578
Yes all the stacks in this list are the default stacks that we are shipping with Che.

I thought you meant the stacks that users are building themselves.

[2018-10-10 14:01] dkuleshov commented on #11282
The upper unit test is incorrect.

1.
[code]

`watchedFile.getPath()` returns `java.lang.String` and `path` is of type `java.nio.file.Path`. Looking into `java.lang.String#equals` we see
[code]
that initial line will always result in **`false`**.

2.
[code]

I see that under normal conditions `org.eclipse.che.api.watcher.server.impl.FileWatcherService#register` expects to receive directory path ho

[2018-10-10 14:16] dmytro-ndp commented on #11578
In that case I should fix issue title and description.
So, what do you think about adding automatic verification of code assistance to stack-related E2E tests?

[2018-10-10 14:28] slemeur commented on #11578
Yes, users are expecting to pick a stack and get the code intellisense capabilities enable and working for the technologies the stacks are covering.
So it should be tested, yes.

[2018-10-10 14:54] amisevsk commented on #11505
@sleshchenko Sorry about the delay, I got distracted with other things.

I think supporting Deployment / DeploymentConfig shouldn't much trouble at all, depending on what we're expecting implementation-wise. Currently, the internal representation for workspaces is based off pods *until* we hit `KubernetesDeployments`, which wraps the Pod in a Deployment. So, if we want to support Deployment and De

[2018-10-10 14:57] #11547 closed

[2018-10-10 15:34] l0rd commented on #11265
1. agree with @garagatyi
2. I don't know how easy would be guessing the protocol. I would rather add it explicitly.

[2018-10-10 16:40] dmytro-ndp opened #11581 "Add automated tests to check renaming of resource files in Eclipse Che"
### Description
Eclipse Che does not have E2E selenium tests which check renaming of project resource files.
Add the tests to check this feature on regular base.

Related issue: #10962

[2018-10-10 18:02] skabashnyuk opened #11582 "OpenShift Container Platform 3.11"
### Description
The goal of this task is to provide support and migrate all internal development to OCP 3.11.
This release is based on OKD 3.11, and it uses Kubernetes 1.11

Cool staff
- PROMETHEUS CLUSTER MONITORING https://docs.openshift.com/container-platform/3.11/release_notes/ocp_3_11_release_notes.html#ocp-311-prometheus
 - Operators  https://docs.openshift.com/container-platform/3.11/releas

[2018-10-10 20:37] l0rd commented on #11555
The problem of using volumes to share the meta.yaml among pods is that it doesn't work in ephemeral mode. In ephemeral mode we use EmptyDir volumes and these are not shared between 2 pods. Look at [this issue](https://github.com/eclipse/che/issues/11554) with the plugin broker volume.

Currently ephemeral mode looks like the best way to run Che on public OpenShift/Kube clusters like OSO. That's wh

[2018-10-10 21:00] l0rd commented on #11146
@garagatyi with @benoitf corrections looks good to me.

Just one thing: why do we need to mount the `/plugins/` volume in the endpoints containers? Can't we just include the `.theia` file in the container image?

[2018-10-10 21:19] l0rd commented on #11146
@benoitf another concern I have is how the broker is supposed to know what is the sidecar docker image (step 3.)? In the `meta.yaml` there will be only an URL to a `.theia` file.

[2018-10-11 02:46] SharkJ commented on #11527
I tried the below configuration in the /swagger/#!/stack/createStack:

[code]
But in the response body I get a 500 and "message": "Internal Server Error occurred, error time: 2018-10-11 02:43:26".

[2018-10-11 03:02] lf1029698952 commented on #11107
Thanks for your reply
It does websocket connection to che server problem, In my mutil-host, workspace will create five ingress, **I must resolve these ingress host to my elb.** and my workspace successful running.
![image](https://user-images.githubusercontent.com/11751263/46777892-e0092a00-cd43-11e8-8ffd-b008f427a7b9.png)
but, I encountered the same problem with @ramene ,
![image](https://user-im

[2018-10-11 03:45] SharkJ commented on #11527
@eivantsov @skabashnyuk It worked when I removed the content inside `"links":[]`. Still, my end goal of persisting the stack hasn't been achieved. When I restart Docker, the stack no longer exists.

[2018-10-11 04:03] #11552 closed

[2018-10-11 04:46] eivantsov commented on #11582
I think we should wait for Origin release which is not yet there https://github.com/openshift/origin/releases

[2018-10-11 04:52] eivantsov commented on #11538
Definitely connectivity issue. How did you start your cluster? `oc cluster up`?

Is firewalld running? If so, can you stop it, restart docker and Origin? Also, you may want to add exceptions to firewalld. This is how it looks like on my machine:

[code]

[2018-10-11 06:01] SharkJ commented on #11527
@eivantsov @skabashnyuk I created a stack using Swagger. But when I restarted my PC, it was no longer existing.
I followed this `https://www.eclipse.org/che/docs/stacks.html#community-supported-stacks` and added a `mydsl-stack.json` file to `\che\instance\data\templates` Still I do not get a different outcome.
Could you kindly help me to understand what I can do to have my stack permanently existi

[2018-10-11 06:11] skabashnyuk commented on #11582
@eivantsov good point.

[2018-10-11 06:47] #11279 closed

[2018-10-11 06:58] lf1029698952 commented on #11107
Thanks very much, I have solved this problem.
when I change mutil-host to single-host, the Ingress only one domain, and I resolved it to my elb, and websocket connection successful.
I think mutil-host many ingress domain, the problem is in nginx ingress forward.

[2018-10-11 07:09] tsmaeder opened #11583 "LanguageServiceUtils uses Fixed /projects prefix"
org.eclipse.che.api.languageserver.LanguageServiceUtils uses a fixed prefix for converting between workspace-relative paths and file uri's. This class is central when communicating with language servers, so pretty much everything is broken if the workspace root is not at /projects.

[2018-10-11 07:17] eivantsov commented on #11527
Templates are sample apps not stacks.

Having added a stack using Swagger it should be in a database. And database is persisted. As long as you do not reset your Docker for Windows your stack should be there.

[2018-10-11 07:29] sunix opened #11584 "Chrome / Firefox / Safari / Edge Browser extension"
### Description
With this extension you could register your Che instances you are using:
- localhost
- local-minishift
- che.openshift.io
- private che or code ready workspaces

che.openshift.io would be registered by default
when navigating to a che instance, the extension would suggest to register it automatically

Registered instances would be used when navigating or viewing any factory config

[2018-10-11 07:31] Ohrimenko1988 commented on #11564
Done https://github.com/eclipse/che/pull/11565

[2018-10-11 07:31] #11564 closed

[2018-10-11 07:49] slemeur commented on #11584
@sunix: https://chrome.google.com/webstore/detail/che-on-openshiftio-cloud/fkkgabogjbijdhfbbmdllhoobpeenbjo/related

cc @jeffmaury

[2018-10-11 07:54] jeffmaury commented on #11584
Mine is limited to che.openshift.io

[2018-10-11 08:16] tsmaeder commented on #11282
Duplicate of https://github.com/eclipse/che/issues/10794

[2018-10-11 08:16] #11282 closed

[2018-10-11 08:20] SharkJ commented on #11527
@eivantsov Here's what I did.
I went to `http://localhost:8080/swagger/#!/stack/createStack`, and entered the below code into "body" under "Parameters" section: -

[code]

Then I hit the `"Try it out!"` button, and got a code of 201. Then I browsed for localhost and saw my stack in the list of stacks in eclipse che. I closed all windows and restarted my COMPUTER. Once I logged in again, I waited t

[2018-10-11 09:05] jakgsl commented on #8569
Is this issue being looked at in the near future? Our team is having a few problems with the built in IDE; and for some projects we need a fully fledged local IDE so sync is essential for us. We could have a look at fixing it as it's a blocking issue for us, it seems it could be a quite simple fix as it was already fixed for list workspaces?

[2018-10-11 09:07] jakgsl commented on #9477
Also having semi-regular full lock ups of the IDE, requiring tab closure and re-opening.

[2018-10-11 09:11] mmorhun commented on #11461
### For frontend plugin:

To debug frontend plugin switch to hosted instance tab in browser and open Developer Tools by pressing `F12` or `Ctrl+Shift+I`. After this you should see something like this (all screenshots here is for Google Chrome, but the flow is similar for other browsers):
![chrome-open-dev-console](https://user-images.githubusercontent.com/15607393/46793343-26638680-cd4e-11e8-9a8e-

[2018-10-11 09:29] benoitf commented on #11146
@l0rd
about

We said that we supported  usecase of plug-ins outside of the image first, so it needs to be accessible in some ways

@garagatyi used the approach in che-plugin.yaml

[code]

[2018-10-11 09:32] rkondre opened #11587 "Unable to create workspace"
### Description
Newly configured the Eclipse/Che and while trying to create the new work space from UI, getting the error like below.

**Error: Failed to run the workspace: "Error response from docker API, status: 500, message: error while creating mount source path '/home/user/eclipse-che/lib/linux_amd64/exec': mkdir /home/user: permission denied**

In my Environment "/home" is not authorized to

[2018-10-11 09:37] olexii4 commented on #11562
It should be fixed with  https://github.com/eclipse/che/pull/11569

[2018-10-11 09:53] sleshchenko opened #11589 "Move recovering of Runtimes from @PostConstruct phase"
### Description
Now recovering of Runtimes is performing in a method that is called during @PostConstruct phase. And it leads to an issue with Che Server start time growing with increasing workspaces number that should be recovered. And Che Server may not start up in time because of liveness probe timeout.

It is needed to move recovering of Runtimes from @PostConstruct phase.
As a simple solution

[2018-10-11 10:20] davidwindell commented on #8569
@jakgsl you might be interested in our https://github.com/outeredge/che-sync tool - our team of 5 uses it for all our projects

[2018-10-11 11:07] #11012 closed

[2018-10-11 11:10] SkorikSergey opened #11591 "Unexpected fail of ResolveDependencyAfterRecreateProjectTest selenium test"
### Description
We have unexpected fail of **ResolveDependencyAfterRecreateProjectTest** selenium test. Sometimes the test  fails when trying to open test project. We should clarify reason and fix it.

**Failed selenium test:** ResolveDependencyAfterRecreateProjectTest

**Report with reproduced problem:**
[code]

**Screenshot:**
![org eclipse che selenium miscellaneous resolvedependencyafterrecrea

[2018-10-11 11:11] skabashnyuk commented on #11562
Thanks, @olexii4 . We are improving error message from our side.

[2018-10-11 11:21] garagatyi commented on #11547
You are absolutely correct. I missed that the default sidecar limit is too low. I'll provide a fix in RhChe

[2018-10-11 11:30] jakgsl commented on #8569
@davidwindell That looks great, I did see it earlier but preferred to use built in Che functionality where possible. Can I ask why you made that instead of using, improving or fixing the sync functionality within Che?

I do find it a bit odd Che sync seems to have been broken for 8+ months when the issue seems fairly simple to fix (from looking at other issues), it's local IDE selling point is men

[2018-10-11 12:10] #10659 closed

[2018-10-11 12:11] #10732 closed

[2018-10-11 13:43] lhein commented on #11538
Eugene, that did the trick for me. Thank you for the pointers.

[2018-10-11 13:44] #11538 closed

[2018-10-11 14:41] l0rd opened #11600 "Workspace attributes should use plugin IDs rather than plugin name"
### Description

In Che 7 workspaces plugins memory setting can be set in the workspace attributes using the following syntax: `sidecar.<plugin name>.memory_limit": "300Mi"`.

But `<plugin name>` can have spaces. We should use `<plugin id>` instead.

[2018-10-11 14:42] l0rd commented on #11547
@garagatyi  #11600

[2018-10-11 15:32] Ohrimenko1988 commented on #11545
Done https://github.com/eclipse/che/pull/11595

[2018-10-11 15:32] #11545 closed

[2018-10-11 15:53] mjb6z9 commented on #8825
There doesn't seem to be any documentation that shows how to use something like Nginx proxy for SSL when running a docker host. A guide for how to do this in the documentation would be ideal.

[2018-10-11 15:58] eivantsov commented on #11587
That's probably legacy code since this mount isn't actually required

[2018-10-11 16:38] mstavares commented on #11269
@eivantsov  @vparfonov @vzhukovskii any news?

[2018-10-11 20:43] doreplado commented on #9348
Was there any workaround for this or can you just not use compose based recipes at this point?

[2018-10-11 22:55] jgroom33 commented on #9348
Don't use compose recipes

[2018-10-12 02:20] SharkJ commented on #11527
Could anyone kindly tell me what must have gone wrong?

[2018-10-12 06:41] garagatyi opened #11601 "Transaction rollback exception in JSON_RPC subsystem"
### Description
We got next exception:
<details>

[code]
</details>
@skabashnyuk suggested that we have a bug in the reusage of transactions in the JSON_RPC initiated threads.

Aditional details: https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/8746/

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-12 06:57] Ohrimenko1988 opened #11604 "Adapt the "TheiaBuildPluginTest" selenium test to the new terminal tab titles"
### Description
We have unexpected fail of "TheiaBuildPluginTest" selenium test. It looks like a template of the tab title was changed. We should adapt existed test to the new behavior.

**Log**
[code]

**Screenshot**
![ffff](https://user-images.githubusercontent.com/22724619/46852900-3d18e480-ce05-11e8-9a12-a43a02568672.png)

[2018-10-12 07:03] mkuznyetsov opened #11605 "EclipseLink error when attempting to set factory name with one from existing factory"
### Description

### Reproduction Steps
Create factory in dashboard and set name for it to "test"
Create another factory, and try to change it's name to "test"

A long eclipse exception will occur in notification
![screenshot from 2018-10-12 09-56-13](https://user-images.githubusercontent.com/5712744/46853133-ef50ac00-ce05-11e8-81e4-84ce17999ed0.png)

Fedora 27, Eclipse Che-13.0-SNAPSHOT

**Diagno

[2018-10-12 07:10] #11553 closed

[2018-10-12 07:34] skabashnyuk commented on #11555
There is no ideal solution at this moment. We would like to take into account the technical difficulties and limitations that introduced by using PV. That is why for Workshop we would like to develop a set of "oc" command that will allow.
 - Start some server in user namespace to host plugin metadata and plugin content
 - Copy metadata and plugin content from user workspace to this servers.
 - Met

[2018-10-12 07:47] garagatyi opened #11606 "Add an ability to disable discover-ability of a plugin endpoint"
### Description
We use server discovery to be able to provide a seamless pluggability for Che 7 sidecars. On k8s/OS infras it is based on k8s Service. Which mean that Che plugin endpoint name has to be a valid k8s Service name. Since Che plugin endpoint names are allowed to include characters not allowed in k8s Service name we can't create a k8s Service for such Che plugin endpoint.
Since it is ne

[2018-10-12 07:48] garagatyi commented on #11453
@skabashnyuk @sleshchenko I created an issue with the description on how to tackle the first issue [link](https://github.com/eclipse/che/issues/11606).

[2018-10-12 08:02] liubin10 commented on #11548
Hello,@skabashnyuk
Sorry, the log file is too large.
There are some error below that I picked up from log.Hope these can help you.

2018-10-12 15:28:33,572[equestProcessor]  [DEBUG] [.e.c.a.c.j.c.RequestDispatcher 41]   - Dispatching request: org.eclipse.che.api.core.jsonrpc.commons.JsonRpcRequest@5c84f551, endpoint: 1619938822<-:->master-websocket-endpoint
2018-10-12 15:28:33,572[equestProcessor]

[2018-10-12 09:20] tsmaeder commented on #11568
I suspect that the command you're using is trying to use some classpath related code?

[2018-10-12 09:38] #11591 closed

[2018-10-12 10:00] rkondre commented on #11587
OK. Do you have any recommendations to resolve this issue?

[2018-10-12 10:27] eivantsov commented on #11587
@rkondre no solutions at the moment. But I will take a look if we can remove that code

[2018-10-12 10:29] rkondre commented on #11587
Let me know your available time, if required we can have a quick webex for few mins.

[2018-10-12 10:40] mshaposhnik commented on #11265
Done in https://github.com/eclipse/che/pull/11588

[2018-10-12 10:40] #11265 closed

[2018-10-12 10:44] skabashnyuk commented on #10914
[consoleText.2.txt](https://github.com/eclipse/che/files/2472731/consoleText.2.txt)

[2018-10-12 11:33] Ohrimenko1988 opened #11609 "[ JDT-LS ] Rework selenium tests in the "preferences", "autocomplete", "projectexplorer", "dependencies", "editor" packages for adopting to branch changes"
### Description
We have failed selenium tests in the "5730_java_ls_poc" branch in the  "preferences", "autocomplete", "projectexplorer", "dependencies", "editor"  packages. We should investigate reasons of the fails and resolve they.

**Report with reproduced problem**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-jdt-ls-multiuser-ocp/33/Selenium_20tests_20report/

[2018-10-12 12:03] #11562 closed

[2018-10-12 12:18] Ohrimenko1988 commented on #11604
Done https://github.com/eclipse/che/pull/11607

[2018-10-12 12:18] #11604 closed

[2018-10-12 12:30] #9990 closed

[2018-10-12 14:20] sleshchenko commented on #11601
In this particular case, we have such log because `rollbackOnly` is missing for `Transactional` annotation on https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/multiuser/api/che-multiuser-api-permission/src/main/java/org/eclipse/che/multiuser/api/permission/server/jpa/AbstractJpaPermissionsDao.java#L61 and the same time Database exception is rethrown as `ServerException`

[2018-10-12 15:20] #11558 closed

[2018-10-12 16:09] sunix commented on #11584
Yes my proposal is for users who love Che factories and intensively use Che factories everyday. A problem these users are facing is that they do not want to restrict their usage of Che to a single instance. They want to use Che either in their local minishift, or che.openshift.io or their on prem CodeReady Workspace instances depends on the context but would like to be able to instantiate his or o

[2018-10-12 18:08] mstavares opened #11614 "Workspace Handlers"
Hi,

I would like to use these two handlers:

WorkspaceRunningEvent.Handler, WorkspaceStoppedEvent.Handler

`import com.google.web.bindery.event.shared.EventBus;
import org.eclipse.che.api.fs.server.FsManager;
import org.eclipse.che.ide.api.notification.NotificationManager;
import org.eclipse.che.ide.api.workspace.event.WorkspaceRunningEvent;
import org.eclipse.che.ide.api.workspace.event.Workspac

[2018-10-12 19:57] charlesrichard commented on #8761
Is this going anywhere?

[2018-10-13 11:31] skabashnyuk commented on #11614
Hello, @mstavares .
Can you describe what do you want to do? and what exact issue do you have?

[2018-10-13 20:09] mstavares commented on #11614
Hi @skabashnyuk,

I would like to be noticed when a concrete workspace is running or stops. I would like to open a server socket while it's running and shut it down when the workspace stops.

That's why I would like to be notified using these two methods.

Thanks,

[2018-10-14 08:41] garagatyi commented on #10644
@skabashnyuk I added an entry:
Meta files must contain field type for Che to be able to recognize what broker to use with it eclipse/che-plugin-registry#41
Would your team be able to pick it up ASAP?

As far as I understand your team will also address: Add an ability to disable discover-ability of a plugin endpoint #11606
Am I correct? (I added an explanation for to make it an easyfix)

[2018-10-14 11:35] garagatyi commented on #11505
@amisevsk the idea is to grab all the information about the deployment, not just pods info that we do at the moment

[2018-10-14 12:16] LahiruT94 opened #11615 ""Error response from docker API, status: 500, message: error while creating mount source path '/home/user/eclipse-che/lib/linux_amd64/exec': mkdir /home/user: permission denied"
### Description
Followed the documentation of EclipseChe to build sample Ide and server [extension](https://www.eclipse.org/che/docs/che-in-che-quickstart.html#run-eclipse-che) but it gives this when setting up the workspace.

![screenshot from 2018-10-14 17-39-22](https://user-images.githubusercontent.com/34393074/46916426-6178ea80-cfd8-11e8-8f29-44b395f33df6.png)

**Error: Failed to run the work

[2018-10-14 20:52] magick93 opened #11616 "minikube and websockets error"
### Description
I'm testing Che on minikube, and so far am impressed by the ux and feature set.

However, I'm unable to make much progress due to a websocket connection error.

### Reproduction Steps
Install che using instructions on https://www.eclipse.org/che/docs/kubernetes-single-user.html

**OS and version:**

Using minikube on Ubuntu 18.04.

minikube version: v0.30.0

## Logs

[code]

## Dia

[2018-10-14 20:55] skabashnyuk commented on #10644
Commented in issue. Please take a look. https://github.com/eclipse/che-plugin-registry/issues/41#issuecomment-429660805

[2018-10-15 01:29] amisevsk commented on #5967
I've lost detailed notes about implementing workspaces as DeploymentConfigs instead of Deployments, but I did leave a comment with a few issues encountered [here](https://github.com/eclipse/che/pull/10021#issuecomment-396719844).

Using DCs instead of Deployments means using OpenShiftClient internally instead of KubernetesClient, which has caused us issues at various times in the past. It could al

[2018-10-15 01:33] amisevsk commented on #11505
@garagatyi Right. I'm thinking mostly about how it looks internally to Che -- does the entire flow down to KubernetesDeployments also support Deployments as objects now, or is the relevant info from the Deployment pulled out and the control flow down to KubernetesDeployments remain unchanged? If it's the former I don't see a lot of trouble implementing it, if it's the latter, I'm not so sure.

[2018-10-15 04:53] garagatyi commented on #11505
It is the latter. And yes, this is not an easy task.

[2018-10-15 04:56] garagatyi commented on #5967
We might need to redesign some stuff to achieve this. But it is one of the original goals of Workspace.Next to support different formats in their original format without just pulling out some of the data and ignore everything else. This is really important for a real case  scenarios where user don't adapt their application definition to be able to use it in Che.

[2018-10-15 05:05] LahiruT94 opened #11618 "Eclipse"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-15 05:09] #11618 closed

[2018-10-15 10:00] rkondre commented on #11587
In entrypoint.sh file and in docker files we have the path(/home/user) configured. That's why we are getting the error like this. For more information check in github files.

https://github.com/eclipse/che

[2018-10-15 10:08] #11606 closed

[2018-10-15 10:35] eivantsov commented on #11587
@rkondre good observation but it is a path inside a Che server container which starts file. The problem is that /home/user mount happens when a workspace container is created. And I suspect that's truly unnecessary code.

[2018-10-15 10:37] rkondre commented on #11587
Yes.. I am getting that error while creating a new workspace from UI only.. Unable to create a workspace.

[2018-10-15 14:29] BarryDrez opened #11620 "keycloak-template.yaml Invokes command that causes Keycloak to use H2"
### Description
Attempting to create and start a pod for Keycloak within OpenShift for multi-user che.  Using the file: che/deploy/openshift/templates/multi/keycloak-template.yaml.

The file invokes the command: /scripts/kc_realm_user.sh.  When tracing through the steps of the command, we can see that the standalone.xml file for Keycloak is never modified and defaults to allow Keycloak to use the

[2018-10-15 14:53] RaymanNg opened #11621 "Need help for server side plugin debug"
### Description

I have read the document [Development Workflow](https://github.com/eclipse/che/wiki/Development-Workflow), but I still can't debug server side plugin(for example, che-plugin-java-debugger-server). I attach the che server successfully, but it just won't stop at breakpoints I add.

### Reproduction Steps

What I did:
1.Modify the che.env
CHE_DEBUG_SUSPEND=true
CHE_DEBUG_PORT=8000
CH

[2018-10-15 21:06] buggtb commented on #10945
Yeah sad times, its just about usable but makes my eyes bleed. Hopefully that merge works.

[2018-10-16 05:13] eivantsov commented on #11616
@magick93 `10.0.2.15` is your minikube ip?

[2018-10-16 05:16] eivantsov commented on #11615
@LahiruT94 on Windows, it's perhaps OOM. How much ram does your Docker VM have?

On Ubuntu, this is a known issue. I think https://github.com/eclipse/che/issues/11587 and https://github.com/eclipse/che/issues/10473  describe the same problem.

[2018-10-16 06:06] eivantsov commented on #11621
@RaymanNg you need to debug ws-agent.

Start Che workspace, thenm run `docker ps`. You will see a container with exposed ports. Port 4403 is the port you need, and it is published to a random port from the ephemeral range. Grab that port and use it instead of 8000

[2018-10-16 06:40] RaymanNg commented on #11621
@eivantsov Thank you. I can now debug the plugin

[2018-10-16 06:40] #11621 closed

[2018-10-16 07:29] benoitf commented on #11555
is that this feature will be available on che.openshift.io on Tuesday next week ?

[2018-10-16 07:58] skabashnyuk commented on #11555
Yes. We are trying to do that. @mshaposhnik is working on it.

[2018-10-16 08:02] eivantsov commented on #11616
@magick93 i recommend using helm to deploy Che. We're going to deprecate single user installation method.

[2018-10-16 08:10] benoitf commented on #11555
ok thanks for the feedback

[2018-10-16 08:12] garagatyi opened #11622 "Release 6.12.2 version of Che"
### Description
It contains plenty of needed fixes.

[2018-10-16 09:18] eivantsov commented on #11615
@LahiruT94 you will need at least 5-6GB

[2018-10-16 09:35] Ohrimenko1988 opened #11624 "Icons don't display in the terminal output in the "Che 7 Preview" stack"
**Note! Reproduced only on CI**
### Reproduction Steps
 - Run "Che 7 Preview" stack
 - Open "ws/dev" terminal
 - Perform command:
[code]
 - Open "ws/theia-ide" terminal
 - Perform commands:
[code]
 - Pay attention to the terminal output

**Expected behavior:**
![ddd](https://user-images.githubusercontent.com/22724619/47006874-981d4500-d13f-11e8-9d72-d246f5bf6211.png)

**Observed behavior:**
![rrrr

[2018-10-16 09:41] Ohrimenko1988 opened #11625 "Add catching of the known bug (#11624) to the "TheiaBuildPluginTest" selenium test"
### Description
We have known bug which described in the issue (#11624). According to this bug the "TheiaBuildPluginTest" selenium test fails on the CI. We should add catching the bug (#11624) on the "TheiaBuildPluginTest" selenium test.

[2018-10-16 11:01] #10584 closed

[2018-10-16 11:15] tgrall commented on #7860
If this is not working why not hiding this option until it works?

[2018-10-16 11:42] #11513 closed

[2018-10-16 11:50] Ohrimenko1988 commented on #11625
Done https://github.com/eclipse/che/pull/11628

[2018-10-16 11:50] #11625 closed

[2018-10-16 13:18] mjshashank opened #11631 "Modifying test files doesn't trigger compilation automatically when tests are run"
### Description

Working on a java project in Che, if I make changes to test files and then trigger the test suite using the keyboard shortcut `ctrl + alt + z`, the tests still fail since auto-compilation doesn't happen. I am required to manually re-compile using something like `mvn compile` and then run the tests to see my changes take affect.

This seems like a deviation from the desktop Eclipse

[2018-10-16 13:34] #10989 closed

[2018-10-16 13:59] sunix opened #11632 "Che Factory plugin: update README"
### Description
The Che-theia factory extension is/will be converted as a plug-in. README file of the project is to be updated and covers how to setup, checkout, make local changes and contribute to the plug-in.

[2018-10-16 14:13] mshaposhnik commented on #11555
To make `oc cp`, we need a folder to be already present. To run `oc exec mkdir ....` seems we need chmod the `/var/www/html/plugins` in the image

[2018-10-16 14:46] mkuznyetsov commented on #11605
ci-test

[2018-10-16 16:45] geiseri opened #11634 "Support more modern version of Java"
### Description

I am trying to use Ubuntu bionic for development dependencies of my project, but it doesn't ship with a version of Java older than 11.

### Reproduction Steps

Change base ubuntu installation from 16.04 to 18.04.  It cannot find `openjdk-8-jdk-headless`

If you manually change the docker to use `openjdk-11-jdk-headless` the actual agent install fails at runtime.

**OS and version:

[2018-10-16 16:48] geiseri commented on #11634
Added copy of the docker project.  It is a hacked version of the upstream ubuntu 16.04 version.

[stack-base.zip](https://github.com/eclipse/che/files/2484110/stack-base.zip)

[2018-10-16 17:01] geiseri commented on #11634
This seemed to work around the issue: https://linuxconfig.org/how-to-install-java-on-ubuntu-18-04-bionic-beaver-linux#h8-1-1-java-version-8

[2018-10-16 17:30] eivantsov commented on #11634
@geiseri building a custom image with Ubuntu 18 and openjdk 1.8 will solve the problem. In the long term, when workspace agent isn't required, the problem will solve itself.

[2018-10-16 18:25] garrablanca opened #11635 "What is the configuration of AWS Load Balancer to work with Eclipse Che ?"
Hi guys, I have installed Eclipse Che in an instance of EC2 and I have put it after a load balancer, the point is that when I try to reach it I simply can not open it.

The configuration of the EC2 instance is basically an installation of Eclipse Che in Docker over Linux.

When I publish directly the EC2 instance in the subdomain in "Routte 53" setting aside the load balancer, I can see Eclipse Ch

[2018-10-16 18:41] #11634 closed

[2018-10-16 18:51] garagatyi commented on #7860
We can hide it. But not sure which part should do that. API can avoid returning is, but I'm not sure we need this behavior. The client can skip it. Or client can ask for only supported ones from the API.
On the other hand, stacks might not make sense in Che 7, so we can avoid investing in that.

[2018-10-16 18:53] garagatyi commented on #11555
As far as I remember k8s services are isolated in per-namepsace. So it might be expected that you can't access a service from another namespace.

[2018-10-16 20:18] BarryDrez commented on #11620
There is something strange when I create a pod from the image: jboss/keycloak-openshift:3.4.3.Final and run the command:
/usr/bin/start-keycloak.sh -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.strategy=IGNORE_EXISTING -Dkeycloak.migration.dir=/opt/jboss/keycloak/realms/ -Djboss.bind.address=0.0.0.0
I get the error:
java.lang.IllegalStateException: Direc

[2018-10-16 21:12] #11364 closed

[2018-10-17 03:17] SharkJ opened #11636 "Implementing language built by ANTLR4 to Eclipse Che as a sidecar"
I have successfully been able to create a Xtext-based language sidecar for Eclipse Che with lots of help from the Che and Xtext communities. Now I have a requirement to build a similar sidecar, but this time with ANTLR4. Since ANTLR4 is quite different from Xtext I believe the approach used for Xtext will not work with ANTLR4. From what I've learnt, I have the idea that, unlike Xtext,  ANTLR4 does

[2018-10-17 05:39] LahiruT94 opened #11637 "The desired archetype does not exist (org.eclipse.che.archetype:plugin-wizard-archetype:6.12.0)"
### Description
 In order to create a custom assembly, it tried to use the Archetype generator. But it keeps giving me this error.
This is for the latest relaese 6.12.1

![archetype1](https://user-images.githubusercontent.com/34393074/47064239-42f33900-d1fc-11e8-87a4-27c1c849f1b6.PNG)

I changed the cli versio to an older relase but, it keeps giving me the same error.

![archetype2](https://user-i

[2018-10-17 05:57] skabashnyuk commented on #11637
Archetypes are deprecated since 6.x try to use generated samples https://github.com/che-samples/

[2018-10-17 06:10] LahiruT94 commented on #11637
Thanks

[2018-10-17 06:10] #11637 closed

[2018-10-17 06:27] #10982 closed

[2018-10-17 06:42] #11406 closed

[2018-10-17 06:44] #11589 closed

[2018-10-17 06:49] evidolob opened #11638 "IDE2-2018-11-13 (Sprint: 157)"
### Sprint Goals:
1. Fix execs bugs on Openshift
2. Extend Plugin API with Che API
3. Finalize APIs: WebView, Languages
4. Polish Theia development flow
5. Convert extensions to plugins

##  1. Fix execs bugs on Openshift
- [x] che-machine-exec(Kubernetes infra) after few hours get connection refused https://github.com/eclipse/che-machine-exec/issues/9
- [x] Terminal on close connection doesn't re

[2018-10-17 06:51] garagatyi commented on #11635
@skabashnyuk you might be interested in this issue. Seems somewhat related to the Auth subsystem

[2018-10-17 07:29] palvarezcordoba opened #11639 "YAML autocompletion with schema don't work properly"
### Description
Yaml autocompletion does not work properly.
I have the following schema: [https://gist.githubusercontent.com/palvarezcordoba/664adf83a36ec40d09f587df0f421345/raw/b3f5070d5f8f0a819cdb3a6c6d29829388900399/wimax.json](https://gist.githubusercontent.com/palvarezcordoba/664adf83a36ec40d09f587df0f421345/raw/b3f5070d5f8f0a819cdb3a6c6d29829388900399/wimax.json)
If I write "ap" (note that t

[2018-10-17 07:35] vparfonov opened #11640 "IDE-2018-11-13 (Sprint: 157)"
### Issues

#### Theia goals
- [ ] Add Theia Plugin APIs to support VS Code Kubernetes Tooling #10574
- [ ] [plug-in] API for register a filesystem provider theia-ide/theia#2861
- [x] [plug-in][languages] Register a code lens provider https://github.com/theia-ide/theia/issues/3199
- [ ] [plug-in][languages] Register a document symbol provider https://github.com/theia-ide/theia/issues/3200
- [x] [p

[2018-10-17 08:08] sleshchenko opened #11642 "Add an ability to add plugin from custom plugin registry from Dashboard"
### Description
There is an implemented ability to configure plugins from custom registry https://github.com/eclipse/che/issues/11265
But now user has to edit Workspace Config JSON manually
![screenshot_20181017_110311](https://user-images.githubusercontent.com/5887312/47071629-abdab100-d1fc-11e8-85d3-fb2289ef02f1.png)
It would be nice to Add an ability to add plugin from custom plugin registry fr

[2018-10-17 08:08] sleshchenko commented on #11642
@l0rd Do you think we need this issue for EclipseCon workshop or editing workspace config JSON would be good enough?

[2018-10-17 08:13] riuvshin commented on #11622
Done

[2018-10-17 08:13] #11622 closed

[2018-10-17 08:19] sleshchenko opened #11643 "Dashboard does not show more than 30 workspaces"
### Description
Dashboard does not show more than 30 workspaces.

### Reproduction Steps
1. Create more than 30 workspaces.
2. Open Dashboard.
Expected: Dashboard provides paging for fetching all of the user's workspaces.
Actual: Dashboard shows only first 30 workspaces.
![screenshot_20181017_111706](https://user-images.githubusercontent.com/5887312/47072277-66b77e80-d1fe-11e8-87e0-532fbacd0160.pn

[2018-10-17 08:26] LahiruT94 opened #11645 "Building che-plugin-wizard (sample)"
### Description
I cloned the repo from GIT and Build it with no errors and ran it. Che started without a problem. But how to check the wizard plugin is working or not?

### Reproduction Steps
1. Cloned https://github.com/che-samples/che-plugin-wizard.git
2. checkout tag 6.12.0
2. mvn clean install the repository
3. Run command:
docker run -it --rm -v D:\che-plugin-wizard:/repo -v D:\BackupPluginWi

[2018-10-17 08:48] mstavares commented on #11614
@skabashnyuk any news?

[2018-10-17 09:33] skabashnyuk commented on #11614
Do you want to adjust some reaction in GWT IDE? Or what?

Where IDE, dashboard, etc?

Socket where, ws-master, agent?

Can you formulate some concrete question? Do you have some issues with the code? Is working, not working, not compiling? Error, traces? It would be nice if you can follow github issue template more precise.

[2018-10-17 09:36] skabashnyuk commented on #11645
why do you think this command should work?

[2018-10-17 09:38] skabashnyuk commented on #11645
let me take a look for a correct one

[2018-10-17 09:42] skabashnyuk commented on #11645
Plese take a look https://www.eclipse.org/che/docs/build-reqs.html#build-in-docker

[2018-10-17 10:04] skabashnyuk commented on #11645
try
[code]
Also take a look https://www.eclipse.org/che/docs/assemblies.html#custom-assemblies

[2018-10-17 10:59] vparfonov commented on #11614
Hi, @mstavares, looks like we already have it https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/event/WorkspaceJsonRpcMessenger.java#L25

[2018-10-17 11:05] rkondre commented on #11587
Could you please let me know, your available time? if you have some free time, we will connect in webex.

[2018-10-17 11:30] mstavares commented on #11614
Hi @skabashnyuk,

Ok sorry about that, I will try to be more precise.
What I want to do is to find a way to receive files externally and store them in a project which is attached to a workspace. My first clue was to do it through a web service. I have open this issue but I still don't know if I'm able to do it with a web service or not https://github.com/eclipse/che/issues/11269.

Then I have trie

[2018-10-17 12:00] l0rd commented on #10574
@vparfonov @slemeur I added the list of commands to support first:
- apply
- get
- describe
- follow
- logs
- follow events

[2018-10-17 12:09] clacetera commented on #11054
Hi @eivantsov  did you any news or info about how tu successfully check syntax highligh  ?

there is an official documentation how what it's implemented in eclipse che ?

[2018-10-17 12:43] mshaposhnik commented on #11555
With light modification in registry dockerfile (add chmod for plugins folder), i was able to hot-deploy the plugin yaml.
Sequence:
1. Login (as above)
2. Create service (as above)
3. Create route `oc create route edge --service=che-plugin-registry`
4. Get route path `oc get route`
5. Get pod name `oc get pod`
5. Create subfolder for plugin `oc exec che-plugin-registry-1-qqzzs  -- mkdir -p /var/www

[2018-10-17 13:05] l0rd commented on #11642
workspace config JSON should be enough

[2018-10-17 13:32] artaleks9 opened #11648 "Wrong behavior in the editor when perform git pull after delete files"
### Description

**Reproduction Steps:**
* Open the  IDE and import a project (e.g. https://github.com/artaleks9/Spoon-Knife.git)
* Expand the project and open in the editor all five files
* Go to GitHub side and delete three files from the _plan-files_ folder
* Go to back the IDE and perform git pull

**Expected behavior:**
* the editor should be updated
* all tabs of the deleted files should dis

[2018-10-17 13:38] artaleks9 opened #11649 "Add the 'try-catch' to the 'GitPullTest' selenium test"
### Description
* Need to add the _try-catch_ expression to the selenium test, related to known issue
* Related selenium test: _GitPullTest_
* Related the known issue: #11648

[2018-10-17 13:47] sunix opened #11650 "Che-theia in Che-theia workflow for Theia and Che plug-in API contributors"
### Description
The goal of this issue is to describe to workflow of a daily Che-theia developer when writting an Theia plug-in API or anything that would be used from a Theia plug-in.
For instance, writting the che-theia-factory plug-in required some changes on Theia ide as well as required the che-theia app to be run as self hosted instance (including the task ext, etc ...)

### The flow
1. User

[2018-10-17 14:13] #6157 closed

[2018-10-17 15:40] amisevsk opened #11653 "Ephemeral workspaces have unique volumes for each container in a pod"
### Description
Ephemeral workspaces that consist of multiple containers (e.g. Che 7 workspaces) are created with one emptyDir volume per mount point per container. This prevents sharing storage between containers in a Pod.

### Reproduction Steps
1. Create Che 7 workspace
2. Modify workspace to be ephemeral: add `"persistVolumes": "false",` to attributes
3. Start workspace

*expected*: workspace

[2018-10-17 15:43] amisevsk commented on #11554
From a brief look at this yesterday, one issue that has to be addressed before anything else is https://github.com/eclipse/che/issues/11653.

Apart from that, it seems like the task of getting the plugin broker to work with ephemeral workspaces will be rather difficult; since the broker runs separate from the workspace pod, it's impossible to share storage between the two at the moment. After disc

[2018-10-17 16:28] roobkit opened #11654 "Failed to start che container waiting for Keycloak openID configuration"
### Description
I've to install multi-user docker version of  eclipse che in a vhost `192.168.100.34/24` behind a proxy in `192.168.100.1/24` but Keycloak container don't start while waiting for openid conf.

### Reproduction Steps
I use [docker guide](https://www.eclipse.org/che/docs/docker-multi-user.html) with `CHE_HOST=192.168.0.34` and `--fast` flag . Installation never ends.

**OS and versio

[2018-10-17 20:26] garagatyi opened #11655 "Avoid parsing each JSON_RPC message several times"
### Description
On receiving of each JSON_RPC message we parse it [here](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/core/che-core-api-core/src/main/java/org/eclipse/che/api/core/jsonrpc/commons/JsonRpcMessageReceiver.java#L65) to check whether it is a valid JSON and [here](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/core/che-core-a

[2018-10-17 22:05] amisevsk commented on #11554
Opened PR #11657 to address #11653.

[2018-10-18 04:11] LahiruT94 commented on #11645
Build it using the command and gives me an exception,

![ide-server](https://user-images.githubusercontent.com/34393074/47130891-6b8d3880-d2b9-11e8-80e1-3be6fb6c77c9.PNG)

Can you please look into this.

I thought it is correct because of [this](https://github.com/eclipse/che/issues/9587#issuecomment-389743174).

[2018-10-18 06:18] artaleks9 commented on #11223
We have the bug in the product (see #11648), so the issue is closed.

[2018-10-18 06:18] #11223 closed

[2018-10-18 07:16] musienko-maxim opened #11659 "Adapt tests after merging JDT.LS branch in master"
### Description
We should reworks and adapt some tests according new behavior after merging JDTLS.
I have next regression in the packages which i check:
* TestAnnotationsTest
* RenameVirtualMethodsTest
* TypeScriptEditingTest
* RefactoringFeatureTest

[2018-10-18 08:28] Ohrimenko1988 opened #11660 "[ JDT LS ] External libraries list doesn't change after editing dependencies in the "pom.xml" file"
**Related test:**
 - TransitiveDependencyTest

### Reproduction Steps
 - Run default "Java" stack with default "spring" project
 - Wait for the end of the language server starting
 - In the created workspace open "pom.xml" file
 - Open "External Libraries" folder
 - In the opened "pom.xml" file delete dependency ( from 21 to 25 line):
[code]
 - Pay attention that list of the external libraries has

[2018-10-18 11:31] l0rd opened #11662 "Warning when starting the Che Plugin Broker"
### Description

When starting a Che7 stack on che.openshift.io the following message is shown in the openshift events:

[code]

[2018-10-18 12:06] SkorikSergey opened #11663 "Adapt selenium tests after merging JDT.LS branch in master"
### Description
We should reworks and adapt next selenium tests according new behavior after merging **JDTLS** branch:
- ImplementationBaseOperationsTest
- CreateWorkspaceFromCentosWildFlySwarmStackTest
- CreateWorkspaceFromEclipseVertxStackTest
- CreateWorkspaceFromSpringBootStackTest

[2018-10-18 12:32] sleshchenko opened #11664 "Unable to open secure server with cookiesAuthEnabled if server has https protocol"
### Description
Unable to open secure server with cookiesAuthEnabled if a server has https protocol.

### Reproduction Steps
1. Login to [prod-preview](https://che.prod-preview.openshift.io/dashboard/) instance.
2. Create a workspace with Che Theia Editor Activated.
3. Try to start workspace.
**Expected**: Workspace is started.
**Actual**: JwtProxy sends wrong redirect to `loader.htlm` with redire

[2018-10-18 12:32] artaleks9 opened #11665 "Delete the try-catch from the"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-18 12:32] #11665 closed

[2018-10-18 13:01] artaleks9 opened #11666 "Delete the try-catch from the 'checkFindReferencesFeature()' in the 'GolangFileEditingTest'"
### Description
* Delete the _try-catch_ expression from the _checkFindReferencesFeature()_ test method in the _GolangFileEditingTest_ according to resolve the known issue
* Related known issue: #10698

[2018-10-18 13:24] tsmaeder opened #11667 "Update lsp4j to 0.5.0"
We currently rely on lsp4j 0.5.0.M1. Since then, they have published 0.5.0 proper. We need to update before the next release of Che.

[2018-10-18 13:46] artaleks9 opened #11668 "Adapt selenium tests after merging JDT.LS branch in master"
### Description
* We should reworks and adapt next selenium tests according new behavior after merging JDTLS branch:
  - RunPlainJavaProjectTest
  - MoveItemsTest
  - FailMoveItemTest
  - CodeAssistAfterMoveItemTest
  - RenamePackageTest

[2018-10-18 14:13] doreplado commented on #9348
I was able to work around this by editing /home/user/eclipse-che/tomcat/webapps/api/WEB-INF/classes/che/che.properties in the Che container.

For whatever reason, when using the docker install, modifying the che.env doesn't interpolate the values into the application classes properties.

[2018-10-18 14:19] #10794 closed

[2018-10-18 14:31] #10698 closed

[2018-10-19 03:29] LahiruT94 opened #11675 "Failed to execute goal net.ltgt.gwt.maven:gwt-maven-plugin:1.0-rc-8:compile (default) on project assembly-ide-war: GWT exited with status 137"
### Description
When building the custom plugin-wizard (sample) it gives this error.

### Reproduction Steps
1. Cloned the che-plugin-wizard
2. Checkout 6.12.0
3. Run command:
`docker run -ti -v C:/Maven:/home/user/.m2 -v D:/che-plugin-wizard:/projects eclipse/che-dev:nightly sh -c "mvn clean install"`

**OS and version:**
Windows 10 and IntellijIDEA 2018.2.5

**Diagnostics:**
![memory](https://us

[2018-10-19 04:38] SharkJ commented on #11415
I was going through[ this tutorial,](https://tomassetti.me/language-server-dot-visual-studio/)  and had a question whether a similar approach is possible in eclipse or eclipse che. The tutorial is about building a language server and client for an Antlr4 based language (Dot), extending Visual Studio. Is it possible to do using LS-sidecars, and how do I do it?

[2018-10-19 06:18] skabashnyuk commented on #11645
@LahiruT94 more logs, please. Is this original master of https://github.com/che-samples/che-plugin-wizard.git or you custom fork?

[2018-10-19 07:15] Ohrimenko1988 opened #11676 "Create methods for getting and waiting selected text in the editor"
### Description
In our "selenium" module we don't have a method which checks selected text in the editor (like on screenshot):
![ffff](https://user-images.githubusercontent.com/22724619/47202978-89c16a00-d387-11e8-9994-169815486580.png)
and also we don't have a method which waits until the specified text is selected. This leads to unexpected fail because we can't explicitly wait described events.

[2018-10-19 08:29] vkuznyetsov opened #11677 "QE-2018-11-13 (Sprint: 157)"
### Sprint goals
- Remain only stable tests in E2E test suit, move flaky tests to a separate suit
- Adapt E2E tests for changes caused by jdt.ls branch merge.

### Issues tied to objectives
- [x] Create Selenium test covered "start Theia in hosted mode and test the plugin" #11400 2sp
- [x] Adapt tests after merging JDT.LS branch in master #11659 3sp
- [x] Exclude constantly/randomly failing seleni

[2018-10-19 09:16] Ohrimenko1988 commented on #11609
Done https://github.com/eclipse/che/pull/11673

[2018-10-19 09:16] #11609 closed

[2018-10-19 11:03] skabashnyuk opened #11679 "Platform-2018-11-13 (Sprint: 157)"
### Features related to Devfile
- [x] Setup Devfile implementation plan fro Phase 1 | https://github.com/eclipse/che/issues/11719 | 5

### Features related to  Opentracing support for k8s / OpenShift infrastructures in Che
- [x] Implementation plan for Opentracing support for k8s / OpenShift infrastructures in Che | https://github.com/eclipse/che/issues/11720 | 5
### Technical debts and bugs

- [x

[2018-10-19 11:16] skabashnyuk commented on #9691
can't reproduce on latest selenium tests.

[2018-10-19 11:16] #9691 closed

[2018-10-19 11:42] skabashnyuk opened #11682 "Add env var for enabling wsagent debug in the docs"
### Description
Add information about env var for enabling wsagent debug in the docs
Related PR https://github.com/eclipse/che/pull/11475

[2018-10-19 12:06] tsmaeder opened #11683 "Zip Import Broken for Some Zips"
I crated a zip file from a selenium test sample project and uploaded it to a known location.
Importing the zip file failed because the first zip entry was not a file directly inside the root folder, but had a longer path /foo/bar/zoz/Main.java.
The problem is that intermediate directories are not created before creating a file output stream for the file.
This throws a "FileNotFoundException" for t

[2018-10-19 13:42] #11666 closed

[2018-10-19 13:43] #11649 closed

[2018-10-19 14:49] dmytro-ndp opened #11688 "Exclude constantly/randomly failing selenium tests from execution"
We have two kinds of selenium test failures on CI which don't allow to obtain 100% successful regression test result:
- known random/permanent failures described by separate GitHub issue;
- unknown random failures which require more time than usual for investigation.

To simplify regression recognition we will treat such tests as "_been under repair_" and exclude them from test execution.

Next me

[2018-10-19 15:03] mstavares commented on #11614
Hi @skabashnyuk and @vparfonov,

Unfortunately I faced the same issue that I have already reported on #11269.
I would like to provide a web service in order to receive and store files inside of concrete project.

In order to provide this web service I would like to have FsManager class available or AppContext in my webservice.

I don't know why but in both cases I always have the same behavior.

E

[2018-10-19 20:11] garagatyi opened #11690 "Allow running Che 7 Workspace with development tooling but without recipe"
### Description
There are cases when running Che 7 workspace without a recipe makes sense. For example development of Theia plugins doesn't require any containers in a workspace recipe.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-21 12:06] benoitf commented on #11642
@sleshchenko what is an example of `Workspace Config JSON manually` ?

[2018-10-21 16:59] l0rd commented on #11642
@benoitf this worked for me:

[code]

[2018-10-21 17:03] sleshchenko commented on #11642
Just small note, if Custom Che Registry is deployed in the same project where workspace is run then service name could be used instead of Route host, like `http://che-plugin-registry/plugins/formatter-plugin:0.0.1` .

[2018-10-22 05:03] LahiruT94 commented on #11645
Yes it is the original master.

![editedlog](https://user-images.githubusercontent.com/34393074/47278320-a22ec000-d5e5-11e8-8436-dee2f0518043.png)

This is the most part of the log. Its too long.

[2018-10-22 07:29] #11663 closed

[2018-10-22 07:57] apupier opened #11692 "Allow usage of "global" npm install"
### Description

I'm using Che 7 image on che.openshift.io.
it would be convenient to be able to install npm commands globally to have them available on CLI just after.

Currently, there is this error:

[code]

it seems that there are 2 possibilities to configure npm in a way that you don't get this error: https://docs.npmjs.com/getting-started/fixing-npm-permissions

### Reproduction Steps

**OS

[2018-10-22 08:34] mshaposhnik commented on #11555
So appropriate script was added into dev-toolign image, under path `/home/user/publish.sh`. It accepts plugin name and version as parameters. Script installs an local degistry and performs deploy of plugin binary on it. Currenlty only `.tar.gz` binaries are supported.
Short demo is at: https://www.youtube.com/watch?v=-EoFKr9sLkg

[2018-10-22 09:34] artaleks9 commented on #2299
Still actual in 6.13.0

[2018-10-22 09:43] Ohrimenko1988 opened #11693 "Unexpected fail of "TheiaBuildPluginTest", "AutocompleteFeaturesInEditorTest", "DeletePackageWithOpenedFilesTabTest", "ContextMenuEditorTest", "JavaDocPopupTest" selenium tests"
### Description
We have unexpected fail of "TheiaBuildPluginTest", "AutocompleteFeaturesInEditorTest", "DeletePackageWithOpenedFilesTabTest", "ContextMenuEditorTest", "JavaDocPopupTest"  selenium tests. We should investigate a reasons and fix they.

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/401/Selenium_20tests_20r

[2018-10-22 09:45] Ohrimenko1988 opened #11694 "test"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-22 12:29] azatsarynnyy commented on #11398
fixed by https://github.com/eclipse/che/pull/11672

[2018-10-22 12:29] #11398 closed

[2018-10-22 12:34] JavaJoeS commented on #11587
Are there any work arounds for this issue?

[2018-10-22 12:45] mshaposhnik commented on #11242
So it might be like:
GET `/api/metrics?metric_type=total_accounts`
GET `/api/metrics?metric_type=total_workspaces`
GET `/api/metrics?metric_type=average_workspaces`
with the JSON output  in form:
[code]

[2018-10-22 13:03] aditya-konarde commented on #11242
@fche fyi^

[2018-10-22 13:05] aditya-konarde commented on #11242
Best if we use a prometheus-style format: https://github.com/prometheus/docs/blob/master/content/docs/instrumenting/exposition_formats.md#text-format-example

[2018-10-22 13:14] fche commented on #11242
suggest a prometheus-exporter plain-text format instead (or in addition) please

[2018-10-22 13:16] fche commented on #11242
As Aditya said: Best if we use a prometheus-style format:
https://github.com/prometheus/docs/blob/master/content/docs/instrumenting/exposit
ion_formats.md#text-format-example

[2018-10-22 13:17] fche commented on #11242
(sorry for the repeat comments here - github is dropping them for some reason?!?!?!!)

[2018-10-22 13:38] Ohrimenko1988 opened #11697 "The editor tab closes after performing refactor/move action in the editor by context menu"
**Note:**
 - Actual for openshift assembly
 - This bug is randomly reproduced
 - Related test "ContextMenuEditorTest"

### Reproduction Steps
 - Start default "Java" stack with default "spring" project
 - In the started workspace go to the "org.eclipse.che.examples" package and create "Test1" java class
 - Open the "Test1" java class
 - In the opened editor open context menu and click on  "Refacto

[2018-10-22 14:00] #11694 closed

[2018-10-22 14:05] apupier opened #11699 "Provide Camel yeoman generator in Camel Stack"
### Description

Camel is providing a yeoman generator https://github.com/camel-tooling/generator-camel-project https://www.npmjs.com/package/generator-camel-project

it would be nice to have it available by default.

With Che 7, there is a yeoman plugin which is looking for installed npm. So seems that needed tasks are:
- ensure Camel stack compatible with Che 7
- ensure yeoman server/plugin is a

[2018-10-22 14:08] Ohrimenko1988 commented on #11694
Issue was created for checking GitHub  availability

[2018-10-22 15:21] amisevsk commented on #11653
PR: https://github.com/eclipse/che/pull/11657

[2018-10-22 16:35] artaleks9 opened #11701 "Wrong behavior of the code assist after move item"
### Description

**Reproduction Steps:**
* Open the  IDE and import a project (e.g. https://github.com/artaleks9/web-java-spring.git)
* Expand the project and open in the editor _GreetingController.java_
* Type in the editor _"A5 a = new A5();"_
* Call the code assist and press _Enter_
* Move the _A5.java_ from the _r_ to the _p1_ package
* Delete the import declaration
* Set the cursor on the _"A

[2018-10-23 03:33] #11636 closed

[2018-10-23 06:37] skabashnyuk opened #11703 "che-dockerfiles-theia module fails regularly on CI"
### Description
I saw this fail a lot of time also I've heard many times complains from developers.
[code]

### Reproduction Steps
<details><summary>Log</summary>

[INFO] --- maven-antrun-plugin:1.8:run (build-image) @ che-dashboard-war ---
[INFO] Executing tasks

main:
     [exec] Sending build context to Docker daemon  6.726MB
     [exec] Step 1/8 : FROM node:8.10.0
     [exec]  ---> 41a1f5b8110

[2018-10-23 07:13] apupier commented on #10574
It would be nice to cover the use case of Camel Language Server.
The VS Code plugin is here https://github.com/camel-tooling/camel-lsp-client-vscode
The Server code is here https://github.com/camel-tooling/camel-language-server

I'm not sure how to know all the API/commands that are used.

On Language Server side, we can see the "activated" features here https://github.com/camel-tooling/camel-lang

[2018-10-23 07:17] slemeur commented on #10574
Hi @apupier.
Are you asking to prioritize the different plugin APIs that you might need for the Camel Language Server?
Or do you have a particular use case related to a Camel with Kubernetes that you'd like to see covered?

[2018-10-23 07:39] slemeur commented on #10574
ok :)
That's why I asked. This issue is related to the work needed to support the VSCode Kubernetes plugin in Che.
Do you mind creating a separate issue for your requirement?

[2018-10-23 07:44] tsmaeder commented on #10784
I've looked at this scenario, and this seems to be a problem with timouts in the rename operation. The rename in this case takes a couple of seconds on my rather fast machine. I have hit one case where the rename ran into a timeout.
In my opinion, the correct (long term) solution is to offer cancel on those operations. in the short term, we should increase the timeout.

[2018-10-23 07:50] apupier opened #11705 "Add Theia Plugin APIs to support VS Code Camel Tooling"
It would be nice to cover the use case of Camel Language Server https://marketplace.visualstudio.com/items?itemName=camel-tooling.vscode-apache-camel
The VS Code plugin is here https://github.com/camel-tooling/camel-lsp-client-vscode
The Server code is here https://github.com/camel-tooling/camel-language-server

I'm not sure how to know all the API/commands that are used.

On Language Server side,

[2018-10-23 07:52] apupier commented on #10574
oups sorry, I thought it was a top level issue for all VS code plugins. my bad.

here it is https://github.com/eclipse/che/issues/11705

[2018-10-23 08:01] 781227k opened #11706 "Che extension Deployment"
### Description

I start building a custom IDE based on eclipse-che by using core plugins for ide and server side. And finally added some extensions to that. I am able to run the second instance of IDE within Eclipse-che.

I was wondering how can I build and deploy my own custom ide, locally or in a virtual machine using docker.

[2018-10-23 09:21] schwichti opened #11707 "Feature request: Wizard for creating Xtext/Java backend plugins"
Hi,

I have a command line tool written in Xtext that I would like to expose as a Eclipse Che backend plugin.
For this purpose, it would be nice to have a wizard that creates an Xtext (or Java) plugin skeleton.

A Java plugin skeleton would be sufficient for my needs as I could copy the *.java source files transcompiled from the *.xtext sources into the backend-plugin manually.

[2018-10-23 09:39] rkondre commented on #11587
No work around provided by product owner yet..

[2018-10-23 11:58] Ohrimenko1988 commented on #11693
Done https://github.com/eclipse/che/pull/11700

[2018-10-23 11:58] #11693 closed

[2018-10-23 13:20] riuvshin opened #11709 "Release CHE 6.13.0"
Release CHE 6.13.0

[2018-10-23 13:33] #11381 closed

[2018-10-23 14:34] artaleks9 opened #11713 "Wrong behavior when rename a root package name"
### Description
**Reproduction Steps:**
* Open the  IDE and import a project (e.g. https://github.com/artaleks9/rename-package.git)
* Expand the project and rename root packages names:
  - (e.g. the _'mine.pack'_ to the _'main.pack'_)
  - (e.g. the _'test.r'_ to the _'dev.r'_)

**Expected behavior:**
* the old root package name should disappear from the project tree

**Observed behavior:**
* the o

[2018-10-23 15:23] KOSSOKO opened #11714 "How to get all workpaces info created by users ?"
Hi all,
     We are trying to show contents created by our scientists inside their workspaces in our platform. Che is included inside this platform thanks to an Iframe.
      As an admin, I want to get all of workspaces created by the user using the api workspaces/get, but I get just mine. Is it possible to do that ?
     Thanks in advance

[2018-10-23 19:12] ibuziuk commented on #11476
@garagatyi @l0rd I have created an issue for supporting non-volume dependent sidecars as separate pods in rh-che [1]. Do you happen to have some ideas about other potential sub-tasks that we could add to the next sprint related to this epic ?

[1] https://github.com/redhat-developer/rh-che/issues/1005

[2018-10-23 19:19] eivantsov commented on #11692
@apupier even if the directory where global npms are stored is accessible for an arbitrary user in a container, once restarted all the modules are gone, unless this dir is a volume mount.

It is not a Che but rather OpenShift limitation

[2018-10-23 20:49] ibuziuk commented on #11664
unassigning David since platform team is going to work on finalizing https://github.com/eclipse/che-jwtproxy/pull/9

[2018-10-24 06:07] skabashnyuk commented on #11714
@KOSSOKO take a look on method ``` GET /workspace/namespace/{namesapcename}```  ```  @Path("/namespace/{namespace:.*}")``` . Also make sure you admin is che admin, see ```che.system.admin_name``` in configuration.

[2018-10-24 06:08] skabashnyuk commented on #11706
@781227k to make sure we are talking about the same thing: your mean gwt based IDE? Right?

[2018-10-24 06:10] skabashnyuk commented on #11675
@mkuznyetsov  can you take a look?

[2018-10-24 06:12] skabashnyuk commented on #11654
@mshaposhnik can you take a look?

[2018-10-24 06:14] skabashnyuk commented on #4362
@slemeur should we close this issue because of this https://github.com/eclipse/che/issues/11549?

[2018-10-24 06:18] skabashnyuk commented on #5483
may be related to this https://github.com/eclipse/che/issues/10288

[2018-10-24 06:50] #11668 closed

[2018-10-24 06:55] #11555 closed

[2018-10-24 07:01] Ohrimenko1988 opened #11716 "Unexpected fails of "CheckBasicFunctionalityInCommandsExplorerTest", "CheckOnValidAndInvalidPackageNameTest" and "CheckShowHideHiddenFilesTest" selenium tests"
### Description
We have unexpected fail of "CheckBasicFunctionalityInCommandsExplorerTest", "CheckOnValidAndInvalidPackageNameTest" and "CheckShowHideHiddenFilesTest" selenium tests. We should investigate reasons and resolve they.

**Report with reproduced problems:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/404/Selenium_20tests_20report/

[2018-10-24 08:07] #8010 closed

[2018-10-24 08:07] KOSSOKO commented on #11714
@skabashnyuk thanks for your answer. Sorry but I didn't totally understand. For example, when I do this request using swagger as admin `http://ipadresse:8088/api/workspace/namespace/kosted` I got

About `@Path("/namespace/{namespace:.*}")`, you meant that I have to set the namespace by .* ? I tried, but got the error 404 not found

[2018-10-24 08:37] DougTidwell opened #11717 "Create workspace - Add project - git URL never adds the project"
### Description
Using the web UI to create a new workspace, it's impossible to add a project via a git URL.

### Reproduction Steps
1. Open the New workspace page.
1. Select a stack and scroll down to Add or Import Project.
1. Paste in the URL of a git repo.
1. Click the Add button. A green check mark appears in the entry field next to the URL, but the project is never added to the workspace. [NB:

[2018-10-24 08:48] KOSSOKO commented on #11714
@skabashnyuk thanks I understand well. I discover also after looking in the che database that the namespace is the username of a user.
The problem now is when I run my request outside swagger context, in the java code of my back end, I got the error

How could I generate a token or disable this security? All of my system (Che, Liferay, my back end) are in a protected zone, behind the bastion, so I

[2018-10-24 08:59] skabashnyuk commented on #11714
you can use this property to setup che admin
[code]
and this page to get info about how to get token
https://www.eclipse.org/che/docs/authentication.html#obtaining-token-from-keycloak

[2018-10-24 09:05] DougTidwell commented on #11717
Update: Also fails on Firefox on Fedora Server 28 and in Edge and Chrome on Windows 10.

[2018-10-24 09:16] KOSSOKO commented on #11714
@skabashnyuk thanks a lot

[2018-10-24 09:34] 781227k commented on #11706
Yes, based your sample https://github.com/che-samples/che-ide-server-extension

I've added a few more gwt ui-extensions such as custom editor and added some behavior to the editor with server extensions.
 I can build and run customized assembly within Eclipse che using the commands; Deploy IDE / Deploy Workspace Agent.

But I was wondering how exactly can I build the custom ide outside of eclipse-

[2018-10-24 10:47] #11380 closed

[2018-10-24 11:06] dkuleshov commented on #10032
Seems like after jdt.ls branch is merged there are some inconsistencies in related pull request, I see some changes to text document service and language server configuration, probably in some other places too. So we will first need to resolve conflicts, revise the pull request and adapt the solution to newly introduced changes.

[2018-10-24 11:22] skabashnyuk opened #11719 "Setup Devfile implementation plan fro Phase 1"
### Description
The goal of this task is to dive into the task https://github.com/eclipse/che/issues/11549 and provide some implementation plan for the first iteration.

[2018-10-24 11:26] skabashnyuk opened #11720 "Implementation plan for Opentracing support for k8s / OpenShift infrastructures in Che"
### Description
The goal of this task is dive into the problem and provide some implementation plan

Related epic https://github.com/eclipse/che/issues/10288

[2018-10-24 11:28] skabashnyuk opened #11721 "Che samples docs"
### Description
Each sample https://github.com/che-samples/ should contain :
- How to build
- How to run section

[2018-10-24 11:44] #11601 closed

[2018-10-24 12:13] mkuznyetsov commented on #11645
@LahiruT94 can you please try build it once again, only configure your Docker to use at least 3GB of RAM?
Build fails on a module that does GWT compilation, which takes up a lot of memory and may be crashing because of low RAM limit

[2018-10-24 13:05] #10117 closed

[2018-10-24 13:40] artaleks9 commented on #11574
Upload private SSH key to VCS works well.

[2018-10-24 13:40] #11574 closed

[2018-10-24 13:52] mkuznyetsov commented on #11675
Hi, as I commented in other issue, try building again, with setting Docker to use 3GB or more RAM.
https://github.com/eclipse/che/issues/11645#issuecomment-432630606

[2018-10-24 15:09] KOSSOKO commented on #11714
@skabashnyuk where could I find this `che.system.admin_name=admin` variable ?

And if I understand well, to allow the admin profile to get all users metadata, I have to setup che.system.admin_name to admin ?

In my code, with all information you gave to me, I have for each user to send a request. But, the problem is that I can't have the password. If I can use the profile admin with the password a

[2018-10-24 16:00] l0rd commented on #11476
@ibuziuk the goal of these 2 issues is to run containers in distinct pods. But besides that they are not related (e.g one is a subtask of the other). Let me clarify:
- this issue is about taking advantage of eventual RWX PVs
- https://github.com/redhat-developer/rh-che/issues/1005 is about containers that don't need persistence and can be run in a distinct POD

As mentioned in a call we had today

[2018-10-24 18:31] riuvshin commented on #11709
Done

[2018-10-24 18:31] #11709 closed

[2018-10-25 05:00] LahiruT94 commented on #11645
Yes, thank you it worked. (build succeeded).

But I could not figure out how to run it using the che-dev nightly build.

Run command that i used:
`docker run -it --rm -v D:/che-samples/che-ide-server-extension:/repo -v D:\che-samples\che-ide-server-extension-data:/data -v D:/che-samples/che-ide-server-extension/assembly:/assembly -v /var/run/docker.sock:/var/run/docker.sock eclipse/che-dev:nightly

[2018-10-25 06:00] LahiruT94 commented on #11645
Okay, i figured it out. Have to provide the assembly path inside the target.

[code]

[2018-10-25 06:00] #11645 closed

[2018-10-25 06:37] Ohrimenko1988 commented on #11716
Done https://github.com/eclipse/che/pull/11723

[2018-10-25 06:37] #11716 closed

[2018-10-25 07:08] Ohrimenko1988 opened #11728 "Unexpected fails of "TheiaBuildPluginTest", "JavaDocPopupTest", "CheckAutocompleteFeaturesInTheTestFolderTest", "ContextMenuEditorTest" selenium tests"
### Description
Unexpected fails of "TheiaBuildPluginTest", "JavaDocPopupTest", "CheckAutocompleteFeaturesInTheTestFolderTest", "ContextMenuEditorTest" selenium tests. We should investigate reasons and fix them.

**Report with reproduced problems:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/405/Selenium_20tests_20report/

[2018-10-25 07:10] AndrienkoAleksandr commented on #11703
Seems it's infrastructure issue.

[2018-10-25 07:29] #11451 closed

[2018-10-25 07:39] artaleks9 opened #11729 "Investigate failing the 'checkRenameParameters15()' from the 'RenameParametersTest' on CI"
### Description
* Sometimes the method _checkRenameParameters15()_ from the selenium test _RenameParametersTest_ is failed
* Need to find the reason and fix it or create an issue on a bug

**Che version**: 6.14.0

**See the report:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/405/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.

[2018-10-25 07:50] artaleks9 opened #11730 "Investigate failing the 'checkFindProjectSymbolFeature() from the 'GolangFileEditingTest' on CI"
### Description
* Sometimes the method _checkFindProjectSymbolFeature()_ from the selenium test _GolangFileEditingTest_ is failed when run on the CI with a '_StaleElementReferenceException_'
* Need to find the reason and fix it

**Che version**: 6.14.0

**See the report:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/405/Selenium_20tests_20report/failsa

[2018-10-25 08:07] artaleks9 opened #11731 "Investigate failing some test methods from the 'RenamePackageTest' on CI"
### Description
* Sometimes some test methods from the selenium test _RenamePackageTest_ are failed
* The _'Rename Package'_ form is not closed after click on the OK button
* Need to find the reason and fix it or create an issue on a bug

**Che version**: 6.14.0

**See the report:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/405/Selenium_20tests_20rep

[2018-10-25 09:02] #10699 closed

[2018-10-25 09:05] SkorikSergey opened #11732 "Update selenium tests from languageservers package"
### Description
We need to update selenium tests from **languageservers** package according to resolved https://github.com/eclipse/che/issues/10117 and https://github.com/eclipse/che/issues/10699 issues (**Hover** and **SingnatureHelp** features).

[2018-10-25 09:31] tsmaeder commented on #11660
I cannot reproduce this one. Works for me every time :-(

[2018-10-25 09:34] tsmaeder commented on #11516
Ok, problem here is that the problem is initially created as "blank" and then updated to "plain java". We need to generate .classpath and .project files when we detect the type change (if necessary) for jdt.ls to pick up the project as a "Eclipse project".

[2018-10-25 09:51] tsmaeder opened #11733 "Languages Sprint 157 (K-2)"
# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 6 | 4 | 5d
@tolusha | 10 | 6 | 5d
@svor | 11 | 7 | 2d
@vrubezhny | 9d | 6d | 7d
@JPinkney | 3d | 2d | 3d

# Candidate issues
- [ ] The plain java project is not detected after importing from github #11516 (3d) @tsmaeder
- [ ] Provide Plugin API for contributing Debug Adapters https://github.com/theia-ide/theia/issues/29

[2018-10-25 10:00] tsmaeder commented on #11514
I see two approaches to fixing this:
1. pick up some change notification in jdt.ls (if available)
2. hook some listener on save and update the tab in the same way we do it when opening the editor.

[2018-10-25 10:00] tsmaeder commented on #11503
@Ohrimenko1988 can you verify and close, please?

[2018-10-25 10:04] tsmaeder commented on #11487
@SkorikSergey could you verify and close, please?

[2018-10-25 13:43] Ohrimenko1988 opened #11735 "Java Documentation doesn't open in the editor by key combination ("Ctrl" + "q")"
**Reproducing:**
 - reproduced only on OCP assembly

**Related test:**
 - CheckAutocompleteFeaturesInTheTestFolderTest

### Reproduction Steps
 - Run "java" default stack with default "spring" project
 - In the started workspace open the "GreetingController.java" file
 - Place cursor on the middle of the "String" word
 - Press "Ctrl" + "q" key combination
 - Pay attention that documentation doesn'

[2018-10-25 14:31] SkorikSergey commented on #11487
Fixed.

[2018-10-25 14:31] #11487 closed

[2018-10-25 14:40] Ohrimenko1988 commented on #11503
The bug is fixed.

[2018-10-25 14:40] #11503 closed

[2018-10-25 14:52] Ohrimenko1988 commented on #11660
Sorry, it still reproduced.
The easiest way to reproduce is run docker image:
[code]
And perform "Reproduction steps" which described in this issue.

[2018-10-25 17:34] #11379 closed

[2018-10-25 20:41] nickboldt opened #11740 "Deprecations, DoS warnings, incompatibilities, incorrect/unmet peers: Che Dashboard build is very unstable"
### Description

Running a quick build of the Che Dashboard locally, I found these 65 warnings & 2 infos when running Yarn:

[code]

All of those should be fixed up so that the build is less likely to break suddenly if some dependency disappears.

### Reproduction Steps

[code]

[2018-10-25 22:00] dmytro-ndp commented on #11688
Probably we should find the way to [rerun flaky tests](https://www.softwaretestingmaterial.com/run-failed-test-cases-using-testng/) without damage Selenium test report on Jenkins.

[2018-10-26 06:12] #10515 closed

[2018-10-26 06:15] #11145 closed

[2018-10-26 06:36] #10914 closed

[2018-10-26 06:41] skabashnyuk commented on #11479
@l0rd @sleshchenko @garagatyi what if we remove duplicated fields from che-plugin.yaml
[code]
do you see any reason to keep it where?

[2018-10-26 06:41] mshaposhnik commented on #11664
Added workspround fix in https://github.com/eclipse/che-jwtproxy/commit/951bfa8be198ec3551f5d3fbb1162982b9158488
Now i'm able to run workspaces with jwtproxy on prod.

[2018-10-26 07:15] Ohrimenko1988 opened #11741 "Unexpected fails of "AutocompleteProposalJavaDocTest", "ShowHintsCommandTest", "DownloadProjectTest", "CheckRestoringSplitEditorTest" selenium tests"
### Description
We have unexpected fails of "AutocompleteProposalJavaDocTest", "ShowHintsCommandTest", "DownloadProjectTest", "CheckRestoringSplitEditorTest" selenium tests. We should investigate reasons and resolve they.

**Report with reproduced problems:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/406/Selenium_20tests_20report/

[2018-10-26 07:41] mkuznyetsov commented on #11721
Added README to following che assembly samples:
https://github.com/che-samples/che-plugin-json/pull/21
https://github.com/che-samples/che-ide-extension/pull/23
https://github.com/che-samples/che-ide-server-extension/pull/23
https://github.com/che-samples/che-plugin-menu/pull/18
https://github.com/che-samples/che-plugin-embedjs/pull/18
https://github.com/che-samples/che-plugin-wizard/pull/19

[2018-10-26 07:41] #11721 closed

[2018-10-26 07:45] skabashnyuk commented on #11453
Done in https://github.com/eclipse/che-plugin-registry/pull/47

[2018-10-26 07:45] #11453 closed

[2018-10-26 07:47] #9383 closed

[2018-10-26 07:49] skabashnyuk commented on #8075
is this up to date?

[2018-10-26 07:58] Ohrimenko1988 commented on #8468
No longer reproducing

[2018-10-26 07:58] #8468 closed

[2018-10-26 08:04] #11502 closed

[2018-10-26 08:06] tsmaeder commented on #11735
This works for me on local docker. The fact that it's on ocp should really not make any difference on whether a keybinding works. Does hover work in the same place? Otherwise, I'll need to have more info to analyze this.

[2018-10-26 08:16] #11431 closed

[2018-10-26 08:18] tsmaeder commented on #10480
I suspect this has been fixed by updating lsp4j to 5.0

[2018-10-26 08:32] Ohrimenko1988 opened #11743 "Sometimes javadoc doesn't display in the javadoc popup"
**Note:**
 - Random reproduced bug
 - Reproduced after merge "jdt ls"

**Related test:**
 - AutocompleteProposalJavaDocTest

### Reproduction Steps
 - Run default "Java" stack with default "spring" object
 - In the started workspace open the "GreetingController.java" file
 - Replace all existed code by:
[code]
 - Place cursor to the "46:10" position (just after "con" word)
 - Press the  "Ctrl" + "

[2018-10-26 08:34] riuvshin commented on #11182
I thin this can be closed

[2018-10-26 08:38] l0rd commented on #11479
@sleshchenko @skabashnyuk yes I think we should do something. But I would not remove all these fields. And the reason is that we may want to deliver the plugins even without a registry (e.g. drag and drop or via a direct URL to the tar.gz or theia). Even if we haven't planned those scenario yet, coupling too much the registry and the plugins doesn't look like a good choice.

That said we could kee

[2018-10-26 08:43] #11495 closed

[2018-10-26 09:30] RomanNikitenko opened #11744 "Process tree node lose selection"
### Description
Process tree node lose selection when close some not active process tab
### Reproduction Steps
![selection_process_tree](https://user-images.githubusercontent.com/5676062/47557979-bdb60580-d91a-11e8-8cf2-4d34c7c9e38b.gif)

**OS and version:**
Che 6.14.0 ; Chrome 68 ; Ubuntu 18.04.1

[2018-10-26 09:30] tsmaeder commented on #9441
This issue has been superseded by the effort of running theia plugins in containers: we can just reuse the langauge plugins for theia and run them as a sidecar. Also, should solve the problem of running multiple LS instances if the plugin desires to to so.

[2018-10-26 09:30] #9441 closed

[2018-10-26 09:44] RomanNikitenko opened #11746 "Stop process button is displayed at closing another tab"
### Description
Process is stopped but stop process button is displayed when close not active tab

### Reproduction Steps
![stop_process](https://user-images.githubusercontent.com/5676062/47558888-d0c9d500-d91c-11e8-8353-a8220d350383.gif)

**OS and version:**
Che 6.14.0 ; Chrome 68 ; Ubuntu 18.04.1

[2018-10-26 11:37] Ohrimenko1988 opened #11747 "Hints do not display after press "Ctrl" + "p" keys combination when cursor placed between arguments brackets in the method"
**Notes**
 - Permanent reproduced bug
 - Reproduced after merge "jdt ls"

**Related test:**
 - ShowHintsCommandTest

### Reproduction Steps
 - Run default "Java" stack with default "spring" project
 - In the opened workspace open the "GreetingController.java" file
 - In the opened file place cursor to 21-th line
 - Type next code:
[code]
 - Place cursor between brackets
 - Press "Ctrl" + "p" keys

[2018-10-26 11:58] tsmaeder commented on #11660
This seems to have been broken by https://github.com/eclipse/che/pull/11515/files We're sending workspace paths to language servers, which is wrong. Fixing...please stand by.

[2018-10-26 12:20] Ohrimenko1988 commented on #11735
I didn't find any errors in the logs. So probably you should just reproduce it. This bug reproduces only on openshift assembly (As I wrote in description)

[2018-10-26 12:28] #11732 closed

[2018-10-26 12:43] tsmaeder opened #11749 "Che "upgrade" talks about Codenvy"
When I ran che upgrade from 6.12.0->6.13.0, I saw the following message in the console:

```INFO: (che backup): Saving codenvy data...```

Probably want to get ride of that.

[2018-10-26 12:44] RomanNikitenko opened #11750 "Useless call of Terminal resize at closing"
### Description
Call resize of Terminal on closing cause NPE
### Reproduction Steps
![terminal_error](https://user-images.githubusercontent.com/5676062/47566991-fc0cee00-d935-11e8-8261-36fa40af676f.gif)

**OS and version:**
Che 6.14.0 ; Chrome 68 ; Ubuntu 18.04.1

[2018-10-26 13:12] tsmaeder commented on #11660
Sorry about not seeing this...I guess I was running old code from before I rebased on master with the LS filewatcher changes :-(

[2018-10-26 13:20] Ohrimenko1988 commented on #11660
It is ok. If you have any questions or you need some clarification, you may ask me at any time here or in "Mattermost" (@iokhrimenko)

[2018-10-26 13:49] Ohrimenko1988 commented on #11741
Done https://github.com/eclipse/che/pull/11751

[2018-10-26 13:49] #11741 closed

[2018-10-26 13:52] #9720 closed

[2018-10-26 13:56] benoitf commented on #9720
note that then the plug-in needs to be embedded instead of the extension
like https://github.com/eclipse/che/pull/11718

[2018-10-26 14:13] #7556 closed

[2018-10-26 14:30] artaleks9 opened #11754 "Rename package does not work in the certain case"
### Description
**Reproduction Steps:**
* Open the  IDE and import a project (e.g. https://github.com/artaleks9/packages-rename-test.git)
* Expand the project and rename the package _'my'_ to _'your'_
* After that try to rename the new package _'your'_ to another name

**Expected behavior:**
* the _'Rename Package'_ form should be closed
* the package should be renamed

**Observed behavior:**
* th

[2018-10-26 15:14] artaleks9 opened #11757 "Delete the 'try-catch' from the 'ImportAndValidateEclipseCheProjectTest'"
### Description
* Delete the _'try-catch'_ expression from the selenium test _ImportAndValidateEclipseCheProjectTest_ related to resolve the issues
* Add the _'try-catch'_ expression to the selenium test _ImportAndValidateEclipseCheProjectTest_ according to the new known issue
* Update the test according to new behavior after merge the JDT.LS
* Related known issues:
#11145
#10515
#11537

[2018-10-26 15:19] #11706 closed

[2018-10-26 15:57] 781227k opened #11759 "Custom stack with custom assembly"
Hello,

I want to have a custom stack for a custom CHE assembly.

I have checked the previous issues and I see there was a little bit of confusion on that case,  you also mention for a new mechanism in order to manage the stacks here #5287

What is the best approach to customizing stacks in the customized the assembly
thanks in advance.

[2018-10-26 17:38] djimenezgarcia opened #11760 "Autocomplete feature does not work in java editor"
### Working on a java  project the autocomplete feature does not work in version 6.13.0
After eclipse-che upgrade from 6.12.0 to 6.13.0 autocomplete (ctrl-space) feature seems to stop working.

### Reproduction Steps
Just open a java class or inteface,  try typing crtl+space to autocomplete some class or interface name, or a java language token like "try". Editor does nothing.

**OS and version:**

[2018-10-26 22:19] roobkit commented on #11654
@mshaposhnik I'm still with the problem. I'll be able to try this monday. Thanks!

[2018-10-27 11:11] #11730 closed

[2018-10-27 18:45] roobkit commented on #11654
@mshaposhnik In this case the installation ends with error

In my case I need multiport mode because the machine don't have permanent internet access (intranet enviroment).

che log returns 35 errors like this:

**Other test on Multiport mode**
I tested connection from che docker container and works fine too

[code]

Thanks!

[2018-10-27 22:09] #11749 closed

[2018-10-27 22:47] l0rd commented on #11349
@skabashnyuk @sleshchenko is there any chance to work on this issue in current sprint?

[2018-10-29 07:38] eivantsov commented on #11654
Maybe you need to configure proxy for ws-master? I mean JAVA_OPTS for Che contrainer

[2018-10-29 08:31] Ohrimenko1988 commented on #11660
Fixed

[2018-10-29 08:31] #11660 closed

[2018-10-29 09:06] olexii4 opened #11763 "Implement a terminal widget to the dashboard"
When we try to add a new machine it is useful to have a possibility to test connection with a terminal widget.

[2018-10-29 09:44] evidolob commented on #11240
The problem should be fixed by https://github.com/eclipse/che/issues/11306

[2018-10-29 11:01] #11072 closed

[2018-10-29 11:06] sunix opened #11764 "Che-theia: hosted mode, user should be able to use / exclude some plugins to be used in hosted mode"
### Description
The goal is to find a mechanism for developers who wants to work on existing default che-theia plugins: for instance factory-plugin. Hosted mode include by default factory-plugin, but running the customized hosted factory plugin.
Hosted theia should be as closed as possible but do not include default factory plugin include customized factory plugin

[2018-10-29 12:07] #11682 closed

[2018-10-29 16:10] #11664 closed

[2018-10-29 16:29] artaleks9 opened #11769 "Wrong behavior of the diff git compare form when edit file"
### Description
**Reproduction Steps:**
* Open the  IDE with default project (e.g. _web-java-spring_)
* Open the java file and change in the editor
* Open the diff git compare form and change file
* Close the diff git compare form by click on the _'Close'_ button

**Expected behavior:**
* should be appeared the _'ask dialog'_ form to accept save changes

**Observed behavior:**
* the _'ask dialog'_

[2018-10-30 04:20] SharkJ opened #11772 "ANTLR4 Parser for Eclipse Che"
Hi,
Does Eclipse Che support ANTLR4? Is it possible to implement a parser (created using ANTLR4) in Eclipse Che?
I've been trying for so long to implement such a parser to Che. I just wanted to know whether it's possible so that I could move on to Xtext. Please let me know whether ANTLR4 is supported in Che.
Thanks in advance!

[2018-10-30 07:00] eivantsov commented on #11760
@djimenezgarcia does it happen to a particular project? If so, can you share it?

[2018-10-30 07:50] gibbon-cn commented on #11290
Will Che support mounting named volumes or bind mount in the comming versions?

[2018-10-30 08:03] sunix opened #11773 "Che-theia loader undefined"
### Description
When opening (a starting) a stopped workspace, Che is showing the loader with the error 'undefined'

![eclipse che che7-theia-dev - google chrome_162](https://user-images.githubusercontent.com/650571/47704067-a6309280-dc22-11e8-8d23-c977266f4a24.png)

### Reproduction Steps
- Create a new workspace with the che7 stack
- click 'open'
- the error appears within the loader

**OS and v

[2018-10-30 08:05] eivantsov commented on #11290
There are no such plans

[2018-10-30 08:17] SkorikSergey commented on #10852
Not reproduced in CHE 6.14.0-SNAPSHOT.

[2018-10-30 08:17] #10852 closed

[2018-10-30 08:37] delchev opened #11774 "CORS header(s) to be added"
### Description
I would like to run my WebIDE in Che 7 (dev) - Eclipse Dirigible. I have prepared the necessary descriptors, publish them, configure the workspace and it runs successfully. The issue is that Dirigible WebIDE requires access to the top level page objects e.g. window, to communicate between the components served via iframes.

Ref: https://enable-cors.org/

### Reproduction Steps
The

[2018-10-30 08:40] apupier opened #11775 "Add Theia Plugin APIs to support VS Code XML Tooling"
### Description

Che is not providing XML support currently; it would be nice to reuse the VS Code xml work https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml

### Reproduction Steps
 currently it is failing with:

[code]

the corresponding code is:
[code]

Line 74 is the JSON.parse

**OS and version:**

**Diagnostics:**

[2018-10-30 08:50] #11729 closed

[2018-10-30 08:51] apupier commented on #11775
seems to be a Theia issue so reported https://github.com/theia-ide/theia/issues/3317

[2018-10-30 09:09] djimenezgarcia commented on #11760
It happens in every java project in my workspace. All of my projects use **Maven**.  Workspace type is  named **dev-machine** with image **eclipse/ubuntu_jdk8** with RAM 3GB.

I can share one of my java project but I think it won´t be useful.

One particular thing I have notice is that workspace actions take time to execute. For example, when I execute a "maven package" command, it takes 10 second

[2018-10-30 09:13] skabashnyuk commented on #11774
can you share your workspace config?

[2018-10-30 09:19] dickerpulli commented on #11760
@djimenezgarcia Why do you closed this issue? Have you found a solution?

[2018-10-30 09:20] #11731 closed

[2018-10-30 10:14] Ohrimenko1988 commented on #11760
Sorry, I can't reproduce this bug. Can you provide your's steps to reproduce?
Please review my screencast:
![rrrr](https://user-images.githubusercontent.com/22724619/47711139-2b28a580-dc3d-11e8-9e6b-9f9cf10f2bb6.gif)

I have run default "java" stack with default "spring" project

[2018-10-30 10:40] dickerpulli commented on #11760
I solved my issue. The problem with my workspace was that "Java language server" was not active in workspace settings "Workspace installers".

[2018-10-30 10:44] apupier commented on #11760
if the "java Language Server" is not active there should not be the exception anyway

[2018-10-30 11:20] dickerpulli commented on #11760
After deactivating "Java language server" the exceptions @djimenezgarcia mentioned occuring again. Maybe you can reproduce this in your workspace.

[2018-10-30 11:20] djimenezgarcia commented on #11760
**dockerpulli** was alright. Issue is solved setting "Java language server" state to on. I do not remember having changed that. Maybe changed on upgrade?

[2018-10-30 11:21] dickerpulli commented on #11760
I also havn't deactivated it by hand.

[2018-10-30 11:51] skabashnyuk opened #11777 "Update documentation about xSystem roles"
### Description
This section https://www.eclipse.org/che/docs/permissions.html#system-permissions should be updated with such information.
 - Describe methods that user with this role can do.
 - Describe how users can obtain xSystem role.

[2018-10-30 11:58] apupier commented on #11760
have you upgraded the Che instance or created a new one?
before 6.13, there was no Java servers, Java was always activated. Since 6.13, it becomes a server, so explicit activation is required. In case of an upgrade, it means that all previous will miss Java compared to previous workspace. unless something has been done in the migration? //cc @tsmaeder

[2018-10-30 12:14] mshaposhnik commented on #10408
Here is example output of Che7 workspace startup:
<details>
  <summary>Logs</summary>
2018-10-30 12:07:36,112[nio-8080-exec-2]  [INFO ] [o.e.c.a.w.s.WorkspaceRuntimes 322]   - Starting workspace 'admin/wksp-fibm' with id 'workspacebj642zwlxnogzj3d' by user 'admin'
--
  | 2018-10-30 12:07:36,950[aceSharedPool-2]  [DEBUG] [.k.w.SidecarToolingProvisioner 61]   - Started sidecar tooling provisioning w

[2018-10-30 12:14] djimenezgarcia commented on #11760
I upgraded from 6.12.2. So it was my fault not to know this was needed.

[2018-10-30 13:40] slemeur commented on #11774
cc @slemeur

[2018-10-30 14:04] SkorikSergey opened #11779 "Unexpected fail of selenium tests from 'refactor.types' package"
### Description
We have unexpected fail of selenium tests from "**refactor.types**" package. The tests sometimes fail because a class tab in the **Editor** unexpectedly closes after this class renaming. We should clarify reason and fix it.

**Failed selenium test:** GenericsTest, RenameTypeTest, TestAnnotationTest, TestEnumerationsTest.

**Log:**
[code]
**Browser logs:**
https://ci.codenvycorp.com

[2018-10-30 15:23] SkorikSergey opened #11780 "Unexpected fail of FindUsagesBaseOperationTest selenium test"
### Description
We have unexpected fail of **FindUsagesBaseOperationTest** selenium test. The test sometimes fails after selecting item in **Find Usage** panel by **ENTER** key. We should clarify reason and fix it.

**Failed selenium test:** FindUsagesBaseOperationTest.

**Log:**
[code]

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiu

[2018-10-30 15:24] jburleson opened #11781 "Openshift 3.10 pod has unbound PersistentVolumeClaims (GlusterFS)"
Eclipse Che: Nightly (currently 6.14.0 -- pulled this morning)
OKD/Openshift 3.10
Dynamic Storage Provisioning with GlusterFS
GlusterFS storage class is set as default.

When creating a workspace, the workspace always fails the first time with:

"Unrecoverable event occurred: 'FailedScheduling', 'pod has unbound PersistentVolumeClaims (repeated 3 times)'"

If I wait for about 5-10 seconds and then

[2018-10-30 16:12] slemeur commented on #6261
Yes indeed

[2018-10-30 16:12] #6261 closed

[2018-10-30 19:36] AndrienkoAleksandr commented on #11703
Should be fixed.

[2018-10-30 19:36] #11703 closed

[2018-10-31 03:18] #11653 closed

[2018-10-31 07:49] eivantsov commented on #11781
@jburleson timeout should be 3-5 mins. Or do you say that workspace start is terminated after the first such event, but pvc gets eventually bound after a few attempts?

[2018-10-31 07:56] #11757 closed

[2018-10-31 08:32] Ohrimenko1988 commented on #11728
Done https://github.com/eclipse/che/pull/11736

[2018-10-31 08:32] #11728 closed

[2018-10-31 09:00] jburleson commented on #11781
The workspace start terminates within the first 20 seconds. From the error message it indicates that it try to bind the PVC three times. I can check the workspace in the Openshift console and the PVCs are created and bound just not quick enough for the workspace startup.

Here is what I am doing.

1) Create workspace
2) Start workspace
3) Workspace stops within 20 seconds with failure: "Unrecovera

[2018-10-31 09:00] l0rd commented on #11774
cc @ashumilova @evidolob

[2018-10-31 09:06] eivantsov commented on #11781
@amisevsk @ibuziuk  do we terminate workspace start immediately after an unrecoverable event is caught?

[2018-10-31 09:08] eivantsov commented on #11772
@SharkJ it depends on what exactly you are trying to achieve. Can you elaborate?

[2018-10-31 09:17] l0rd opened #11788 "Minimal set of dashboard improvements for Che 7"
### Description

Here is a small list of desiderata for Che 7 regarding the dashboard:

- [ ] Plugins list should be visible only if a Che 7 stack has been selected
- [ ] A user should be able to set less than 500 MB for a runtime memory limit
- [ ] Che 7 stacks should not appear when running on Docker infrastructure
- [ ] Configuration should be saved automatically (remove SAVE button)
- [ ] When

[2018-10-31 09:19] skabashnyuk commented on #11774
Have some issues to reproduce this on OpenShift
![11 18 40](https://user-images.githubusercontent.com/1614429/47778121-cfbeec00-dcfe-11e8-9584-6e79ee14ae0c.png)

[2018-10-31 09:35] l0rd opened #11789 "Minimal set of Theia terminal improvements for Che 7"
### Description

Here is a small list of desiderata for Che 7 regarding the terminal:

- [x] The command name should be "Open Terminal in specific container" instead of "Open new multi-machine terminal"
- [x] ~~Add a new "Open Terminal" command that should automatically pick the first container among the ones created by the user without prompting for a choice~~ Add as many "Open Terminal" commands

[2018-10-31 09:38] skabashnyuk commented on #11774
As far as I can see all images starting from root https://github.com/eclipse/dirigible/tree/master/releng

[2018-10-31 10:08] benoitf commented on #11789
Some of them are duplicated of
https://github.com/eclipse/che-theia-terminal-extension/issues/15
https://github.com/eclipse/che-machine-exec/issues/7

[2018-10-31 10:08] l0rd opened #11790 "Customize Theia "Getting Started""
### Description

When che-theia is loaded it currently has no file opened and no "Getting started" page is shown in the editor panel:

![image](https://user-images.githubusercontent.com/606959/47780991-eebc7e80-dcfc-11e8-902a-bb2d75e5e101.png)

We should show and customize the upstream "Theia Getting Started extension" (https://github.com/theia-ide/theia/pull/3149) with a Che logo.

[2018-10-31 10:08] l0rd commented on #11790
cc @slemeur

[2018-10-31 10:11] mmorhun commented on #11788
@l0rd I disagree with the point that we should start workspace after creation. It might be useful to change some configuration and only then start it. At least we should leave the ability to not to start it.
Also we have limitation for number of workspaces which run simultaneously and if a user creates a new workspace it might not start due to the settings which will look not so good, like error o

[2018-10-31 10:13] l0rd commented on #11788
@mmorhun I agree we should leave the ability not to start it right away. But the default should be to start it!

[2018-10-31 10:14] benoitf commented on #11790
it's kind of duplicate of https://github.com/theia-ide/theia/pull/3149

[2018-10-31 10:15] AndrienkoAleksandr commented on #11789
@l0rd why do we need move commands "Open terminal" to the View menu? View menu stores list "layouts"(panels). Layout it's a bigger UI scope than terminal widget. Terminal widget located on the bottom panel. So moving this command brakes this logical structure. As for me File menu is better place.

[2018-10-31 10:17] l0rd commented on #11789
Thank you @benoitf I added the link for the /etc/passwd one. For https://github.com/eclipse/che-theia-terminal-extension/issues/15: I am not sure that's the same. What I would like is that, even if there are many machines (aka containers), we automatically select the one that makes more sense (the first dev container).

[2018-10-31 10:18] benoitf commented on #11789
It may be disruptive that in upstream Theia, Terminal is in another menu

[2018-10-31 10:18] mmorhun commented on #11788
@l0rd as about saving of workspace config: we cannot save invalid one, AFAIK. And if a user is in process of editing it might cause problems. To me we shouldn't show errors/success on editing (it is obvious, IMO), but on attempt to save. The problem is that we cannot predict when user finish the editing. And we should notify a user if config is invalid and what is wrong when editing is done.
So fa

[2018-10-31 10:19] benoitf commented on #11789
@l0rd may replace "first container" by "container specified by the user" (not picking up one of the tooling container)

[2018-10-31 10:20] l0rd commented on #11789
@AndrienkoAleksandr that's a feedback from eclipsecon. People could not find the terminal because they looked for the terminal where they usually find it for vscode:

![image](https://user-images.githubusercontent.com/606959/47781798-e5ccac80-dcfe-11e8-9e17-90b1aae3d89c.png)

[2018-10-31 10:22] l0rd commented on #11789
You are right. This is more clear. But there is the case where the user has specified multiple containers. So maybe "the first container among the ones specified by the user"?

[2018-10-31 10:23] delchev commented on #11774
Sorry! I was pushed it manually yesterday for my tests. No it is fixed via https://github.com/eclipse/dirigible/issues/361 and updated https://hub.docker.com/r/dirigiblelabs/dirigible-anonymous/tags/ by the CI

Just start again your test workspace. Initially it will give an error that the application is not available, but after a few seconds (Dirigible's bootstrap time) you can reload the iframe a

[2018-10-31 10:38] l0rd commented on #11788
@mmorhun what you are saying doesn't make and it looks like you haven't tried to edit a workspace since a long time :-) Try to edit the json config of a workspace, and tell me if the syntax checking is done when you are typing or when you press Save:
![image](https://user-images.githubusercontent.com/606959/47782552-c5055680-dd00-11e8-85ad-cad7b6e7f184.png)

[2018-10-31 10:55] l0rd commented on #11790
Thank you @benoitf I have changed the issue to customize it for Che then...

[2018-10-31 10:57] l0rd commented on #11790
@slemeur for now the customization is as simple as "add a Che logo". Please add your input.

[2018-10-31 11:09] mmorhun commented on #11788
@l0rd no, I have used the editor during last few days a lot :) . I more talking about ways to improve and not about how current config editor works.
As about the error message, well, for some cases it might be useful, for example in case of copy/pasting config parts, I missed it, but while a user types it might be annoying (I do know that when I type parameter name I miss the value for now). But o

[2018-10-31 11:10] mmorhun commented on #11788
@l0rd and yes, thanks for feedbacks ;)

[2018-10-31 11:12] artaleks9 opened #11791 "Go to line does not work properly in the 'diff git compare' form"
### Description
**Reproduction Steps:**
* Open the  IDE with default project (e.g. _web-java-spring_)
* Open the java file and change in the editor
* Open the _'diff git compare'_ form and select the left part
* Open _'Go to Line"_ (Ctrl + l) and try to use it

**Expected behavior:**
* should be go to expected line and active cursor

**Observed behavior:**
* the cursor is not set to expected place

[2018-10-31 11:14] l0rd commented on #11788
@mmorhun I agree that current syntax checking/formatting can be annoying but I consider of higher priority the removal of the "SAVE" button.

[2018-10-31 11:18] #2299 closed

[2018-10-31 11:19] ashumilova commented on #11788
I have few questions:
1. "Che 7 stack" - how we differ it from others? can we check attributes (editor or plugins) are set as indicator?

2. When workspace is created not from Che7 stack and we edit it - can we still leave "plugins" , cause it's made in a way to allow to switch to Che7 model without errors (installers will be removed and user notified about that). Here the idea was to promote swit

[2018-10-31 11:30] delchev commented on #11774
this is my workspace config:

[code]

[2018-10-31 11:34] ashumilova commented on #11788
About removing "SAVE". I understand about the point to autosave, but with current layouts do not really have idea how to make it consistent. Let me explain. This layout appears each time we do any edits with any object:
![screenshot from 2018-10-31 13-23-01](https://user-images.githubusercontent.com/1611939/47785067-3ef10c00-dd10-11e8-8aad-50fa436c06b2.png)
but in case of workspace it has addition

[2018-10-31 11:59] ashumilova commented on #11788
BTW, what button on workspace creation you meant:
- in right upper corner
or
- at the bottom on the page
![screenshot from 2018-10-31 13-43-30](https://user-images.githubusercontent.com/1611939/47786023-1cacbd80-dd13-11e8-92ae-3536fe0447dc.png)

Based on your idea to start workspace by default but still have way to change it, and avoid popup (as I understood):
![screenshot from 2018-10-31 13-46-06

[2018-10-31 12:04] benoitf commented on #11788
about

maybe it could be more generic. Testing on Kubernetes we see some stacks that are not working as well due to openshift recipe, etc. So it should display only `compliant` stacks

[2018-10-31 12:17] skabashnyuk commented on #11774
@delchev I was able to reproduce this issue. Can you clarify what will happen when we enable cors? I mean what Eclipse Dirigible are going to do with the parent frame?

[2018-10-31 12:32] riuvshin commented on #11466
job is created https://ci.codenvycorp.com/view/release/job/release-che-ls-jdt/

[2018-10-31 12:32] #11466 closed

[2018-10-31 12:39] tsmaeder commented on #11468
I don't really understand what the deliverable is here. Can you explain? Also a LS in the form of a VSCode plugin should be able to run as a VSCode plugin unchanged, no? Nothing to do.

[2018-10-31 12:43] benoitf commented on #10408
maybe the workspace id should be written first
[code]
instead of
[code]

IMHO it's easier to read

[2018-10-31 13:03] eivantsov commented on #10524
The problem here seems to have been caused by the fact that project sources aren't in `${GOPATH}/src`. It is possible to define `GOPATH` to point to `/projects` and create a project in `src`. However, `bin/ pkg/ src/` will be treated like projects and displayed in project explorer as such.

[2018-10-31 13:21] garagatyi opened #11793 "Create docs on how to prepare Che installation to showcase Che 7 and other stuff in a case when internet is completely down"
### Description
Che is using the internet for downloading docker images heavily. In some environments, such as conference booth or a talk/workshop internet connection is completely down and we struggle to show at least something on our laptops.
We should have a plan B that would not require usage of internet connection if everything is pre-pulled.
Some features might not work (e.g. git clone) but

[2018-10-31 13:22] amisevsk commented on #11781
@eivantsov Yes I believe any unrecoverable event causes the workspace start to be immediately cancelled.

[2018-10-31 13:36] l0rd commented on #11468
My understanding is that there wouldn't be anything to do if we supported  LS in the form of VSCode plugins only (we could use VS Code language client). But we want to support LS in the form of Theia plugin too. So we need a library that handles that second case transparently.

@benoitf am I right? Do you want to add something to that issue description?

[2018-10-31 14:16] delchev commented on #11774
@skabashnyuk , we would like to to use window.postMessage() and window.addEventListener() https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage for cross-iframe communication. To be able to do so, we need permissions for the top level page. In a standalone Dirigible we load the message-hub.js script in the top level page itself, that's why it works even on OpenShift as a standalone a

[2018-10-31 14:23] tsmaeder commented on #11468
@l0rd @benoitf I think there is nothing preventing us from using vscode-language-client in a Theia plugin. After all it's just binding code for hooking up a remote process to the vscode language support plugin api (like "registerReferencesProvider".

[2018-10-31 14:34] benoitf commented on #11468
@l0rd you're correct. The idea is to map what is required for LSP on top of Theia API. It could reuse some part of vscode langage client but it shouldn't use any of `vscode` namespace.
This namespace is not owned by US and may change at any time.

besides the vscode namespace is only provided to VSCode extensions, in a theia plugin you never see any "vscode namespace"
so I think description for th

[2018-10-31 14:43] RomanNikitenko commented on #11643
Looks like duplicated https://github.com/eclipse/che/issues/9752

[2018-10-31 14:47] l0rd commented on #11788
@ashumilova

That's an excellent question and I was wondering the same thing. Checking `editor` attribute is a good idea but I don't have a strong opinion: that's an implementation detail.

That's fine.

I mean Open in IDE. I think that's what users want to do 99% of the times: select the stack, select the project and Open in IDE (not editing).

I don't want to go through a full refactoring/review

[2018-10-31 14:55] l0rd commented on #11788
@benoitf I think that's already the case no?

[2018-10-31 15:09] benoitf commented on #11788
@l0rd ok maybe it's the Che7 stack then that is not working as expected due to the broker adding openshift recipes dynamically when we're on K8s

[2018-10-31 15:17] l0rd commented on #11788
@benoitf that's weird. I have tested Che 7 stacks (merged yesterday in master) and they worked perfectly on kubernetes for me.

[2018-10-31 15:22] benoitf commented on #11788
@l0rd I used 6.13.0 it might explain

[2018-10-31 15:38] slemeur commented on #11790
OK, adding the logo sounds enough for me in term of "branding".

Other questions:
- What recent workspace will show in the context of Che? I think it should show the latest used workspaces.
- I think the getting started should also have a "New..." section which allow the developer to quickly create a new file, a new project or import from github or a repository.
- I would also love that we remind

[2018-10-31 16:59] l0rd commented on #11793
@garagatyi that's useful. Once we have the documentation we should also have an e2e that verifies that we don't break it. Not sure we can fit it in K train or in a team backlog. It could be a task for the next (lucky :-)) member of the team that will speak at a conference.

Something I believe is missing from your list are npm/maven/git servers. That something that we usually need during a demo.

[2018-10-31 20:11] Bassinator opened #11796 "Unable to access workspace generated private key from container"
### Description
I want to build a multi machine Workspace/Factroy. I want to be able to connect password less from the dev-machine to any container in the workspace. Public key is correctly injected into ~/.ssh/authorized_keys. But private key can not be found in the container.

I want to be able to Inject the generated private key automatically with a post_build script into the dev_machine?

Manu

[2018-11-01 02:32] SharkJ commented on #11772
I have a .g4 file for a custom language from which I can generate the necessary lexer, parser etc. I want to implement this language into Eclipse Che, so that when I enter a statement/expression, the editor identifies it. I know this requires language server support. However, I couldn't find a way to implement a language server for ANTLR4 grammar that could be implemented to Eclipse Che. Can you l

[2018-11-01 07:18] skabashnyuk commented on #11772
@SharkJ I think there is no bridge between ANTLR4 grammar for a random language and language server implementation.

[2018-11-01 08:04] Ohrimenko1988 opened #11797 "Create selenium test for checking of the "Che 7 Preview" stack creation"
### Description
Create selenium test for covering next case:
 - Run "Che 7 Preview" stack
 - Check that workspace is started and IDE is opened

[2018-11-01 08:05] SharkJ commented on #11772
Then, what should be the correct procedure I must follow if I want to implement a DSL made using ANTLR4+Java into Eclipse Che? Could you kindly let me know?

[2018-11-01 08:42] garagatyi commented on #11525
@olexii4 I believe you've fixed this issue. Can you close it if so?

[2018-11-01 08:48] mmorhun opened #11798 "Display clear message in workspace loader if memory limit is exceeded"
### Description
When try to start a workspace which require more RAM than allowed by infrastructure settings it will fail with unclear error like this:
![che-displayed-error](https://user-images.githubusercontent.com/15607393/47841681-1aa23780-ddc3-11e8-9568-efeee8d636ec.jpg)
Which says nothing to user. But if check events in openshift web console it clearly says what the problem is:
![osio-event-

[2018-11-01 09:00] SharkJ commented on #11772
If I'm to extend the JDT.LS support (which I believe is easier to implement than creating my own Java LS), what is the process to follow to implement it as a sidecar to che?

Does the above mean that there is no possible way to connect my ANTLR4 grammar into the Java LS support using the parser, lexer, etc. generated by it? Does one have to create his own text highlighting, code completion etc. if

[2018-11-01 09:02] Ohrimenko1988 commented on #11400
Done https://github.com/eclipse/che/pull/11783

[2018-11-01 09:02] #11400 closed

[2018-11-01 09:11] skabashnyuk commented on #11772
@tsmaeder @tolusha can you help here? This topic becomes out of my expertize.

[2018-11-01 09:16] garagatyi commented on #11793
Added `npm/maven/git` to the description

[2018-11-01 09:29] garagatyi commented on #9858
It seems outdated because of devfile issue. Should we close it?

[2018-11-01 09:29] garagatyi commented on #9740
@sleshchenko I think you've addressed this issue already.

[2018-11-01 09:36] garagatyi commented on #8517
Should be fixed already. Closing as fixed. Feel free to reopen

[2018-11-01 09:36] #8517 closed

[2018-11-01 09:38] sleshchenko commented on #7046
@garagatyi We still haven't rework `RuntimeStatusEvent` to `RuntimeEvent` and haven't introduced `MachineEvent`. So, I don't think we can close this issue.

[2018-11-01 09:39] garagatyi commented on #7464
Won't be addressed in Che6 and in Che7 we won't have installers. Closing.

[2018-11-01 09:39] #7464 closed

[2018-11-01 09:39] garagatyi commented on #7361
It works on OS/K8s. Closing as fixed.

[2018-11-01 09:39] #7361 closed

[2018-11-01 09:40] garagatyi commented on #7361
And feel free to reopen

[2018-11-01 09:42] sleshchenko commented on #9740
@garagatyi No, I haven't. Actually, I implemented components that will get rid of hanging workspaces but this issue is more about fixing a case when workspace become hanging. I think it may be fixed by using of distributed messaging service.

[2018-11-01 09:46] garagatyi commented on #10916
@eivantsov we have an [issue](https://github.com/eclipse/che/issues/11582) for OS 3.11. Does it make sense to close this one?

[2018-11-01 09:46] garagatyi commented on #11447
@sleshchenko Should be fixed now, right?

[2018-11-01 09:47] eivantsov commented on #10916
Yeah, I think we can skip 3.10

[2018-11-01 09:47] sleshchenko commented on #10408
@benoitf I like your proposal. It would be easier to read if we would have one structure for debug logs at least for Infrastructures -> `Subject` (workspace id, machine name (optional), server name (optional)): `Action` (what happened)

[2018-11-01 09:47] garagatyi commented on #11391
@ibuziuk ping

[2018-11-01 09:51] garagatyi commented on #10998
@davidfestal is this issue still actual?

[2018-11-01 09:52] sleshchenko commented on #11447
@garagatyi Need to recheck. I think that the described scenario is not handled.

[2018-11-01 09:53] garagatyi commented on #9728
@eivantsov @l0rd is this issue still actual?

[2018-11-01 09:53] dshakey commented on #11615
any  update on this bug? we having the same issue

DOCKER] e5b263a2921a: Extracting 267B/267B
[DOCKER] e5b263a2921a: Extracting 267B/267B
[DOCKER] e5b263a2921a: Pull complete
[DOCKER] ac798989fa78: Extracting 98.3kB/9.175MB
[DOCKER] ac798989fa78: Extracting 1.966MB/9.175MB
[DOCKER] ac798989fa78: Extracting 3.637MB/9.175MB
[DOCKER] ac798989fa78: Extracting 5.8MB/9.175MB
[DOCKER] ac798989fa78: Extra

[2018-11-01 09:55] garagatyi commented on #8134
Closing since we found a solution with userland proxy.

[2018-11-01 09:55] #8134 closed

[2018-11-01 09:55] mshaposhnik commented on #10408
It is require to rewrite also existing errors/warns/debugs to be similar and avoid mess in the logs.

[2018-11-01 09:55] garagatyi commented on #7351
@eivantsov can we close this issue?

[2018-11-01 09:56] garagatyi commented on #5960
@amisevsk is this issue still actual?

[2018-11-01 09:58] eivantsov commented on #7351
I haven't seen this for quite a while.

[2018-11-01 09:58] #7351 closed

[2018-11-01 09:59] sleshchenko commented on #10408
`errors/warns` -> It would be nice to rework but is not really required.
`debugs` -> I don't think that we have many debug log during runtime start, so cool to do it now if we all agree with proposed format

[2018-11-01 10:00] mmorhun opened #11801 "Include sidecars memory into total memory of workspace on dashboard"
### Description
When a Che 7 workspace is created, dashboard shows RAM consuming only for added by user machines and doesn't include sidecars (IDEs, plugins) in total sum. In such case dashboard shows needed RAM for workspace not correctly.
More specific example: user's container needs 1Gb of RAM (and this is shown), but actual consuming is, for example, 3Gb (2Gb is needed for sidecars).

### Repr

[2018-11-01 10:01] garagatyi opened #11802 "Do not hardcode IDE servers names on Che master"
### Description
We track servers with specific names and show status in the API. We should reconsider this approach to be able to adopt other IDEs and not fail workspace when some server appears to have the same name as a hardcoded one but has different API

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-01 10:40] #10916 closed

[2018-11-01 10:57] skabashnyuk commented on #11774
@delchev I've talked with @vitaliy-guliy . And we have such question.
Is this code https://github.com/eclipse/dirigible/blob/master/ide/ui/ide-core/src/main/resources/ide-core/ui/message-hub.js#L34
and Eclipse Dirigible itself expect that parent iframe can be loaded from another host?

Because this error looks that they are not expected.
![12 51 38](https://user-images.githubusercontent.com/161442

[2018-11-01 11:01] garagatyi opened #11803 "Meta files must contain field `type` for Che to be able to recognize what broker to use with it"
### Description
See https://github.com/eclipse/che-plugin-registry/issues/41

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-01 11:10] jburleson commented on #11781
Would it be possible to increase the wait time for the pvc to bind? Once the workspace creation starts the pvc does continue the bind process after the error message. That is why I can wait 5-10 seconds and then retry without any issues. By that time the claim has bound and the creation process completes.

[2018-11-01 11:41] skabashnyuk commented on #11802
is this the same issue https://github.com/eclipse/che/issues/10273?

[2018-11-01 12:16] Ohrimenko1988 commented on #11797
Done https://github.com/eclipse/che/pull/11800

[2018-11-01 12:16] #11797 closed

[2018-11-01 12:21] skabashnyuk commented on #11714
@KOSSOKO We updating our documentation regarding systemAdmin role
It should help you.  https://github.com/eclipse/che-docs/pull/549/files

[2018-11-01 12:43] #10979 closed

[2018-11-01 12:53] amisevsk commented on #11781
@jburleson I think the issue is that OpenShift is creating the failed to mount event, and Che is set to treat that as an unrecoverable error. I'm not sure if there's an option on OpenShift to change the timeout for the failed scheduling event.

What you could try is changing which OpenShift events are viewed as unrecoverable: there's a [che property](https://github.com/eclipse/che/blob/80c36d225b7

[2018-11-01 12:56] amisevsk commented on #5960
@garagatyi I don't think so -- I forgot that I had even created this issue. This all should be fixed with the SPI implementation (which is almost old at this point)

[2018-11-01 12:56] #5960 closed

[2018-11-01 12:59] AndrienkoAleksandr commented on #11789
@lord

What does mean "specified" by the user? Where is place to specified

Seems for now we can't implement this enhancement. Because we doesn't mark with help api containers like "tooling" or "user". So we can't even filter user containers among of others.

[2018-11-01 13:02] amisevsk commented on #11447
My thinking for this issue was originally that if a workspace can't be recovered for whatever reason, it should be stopped. As it stands (and I haven't tested since recovery was made async to startup), I think failed-to-recover workspaces stay in the DB as running, which can cause inconsistency.

[2018-11-01 13:04] AndrienkoAleksandr opened #11804 "Apply ability filter user containers from among others"
### Description
In the Che 7 Workspace Model, a user is able to define a list of own "containers" and apply Che Plugins "tooling containers". Then all containers(machines) are available in `Workspace#getRuntime#getMachines` but it is not possible to identify which of containers are user-defined.
It makes sense to have an ability to identify where container comes from User Recipe or Che Plugin sinc

[2018-11-01 13:05] amisevsk commented on #11391
@eivantsov I believe this issue was created to cover an edge case in ephemeral workspaces, and so is not yet fixed (at least not by #11343).

[2018-11-01 13:30] garagatyi commented on #11804
Well, sometimes it makes sense to execute command or have a terminal into tolling containers too! For example into Theia container

[2018-11-01 13:30] sleshchenko commented on #10521
There is an issue for marking tooling machines with a special attribute https://github.com/eclipse/che/issues/11804

[2018-11-01 14:16] garagatyi commented on #11447
@sleshchenko  But for the new runs of workspaces we would have them cleaned up from the DB after a timeout, right?

[2018-11-01 14:17] garagatyi commented on #11802
Yeah, I think it is a duplicate. Closing it.

[2018-11-01 14:17] #11802 closed

[2018-11-01 14:29] garagatyi opened #11806 "Do not add workspace logs volume in Che 7 workspaces"
### Description
Here is an example of volumes usage by a Che workpsace borrowed from [this](https://github.com/eclipse/che/pull/11786) PR:
![image](https://user-images.githubusercontent.com/1851863/47857653-df1f6180-ddf2-11e8-870c-2f909f93c0ee.png)
We use a single volume (or multiple volumes with the unique volumes provisioning strategy) to save logs of some agents.
But in Che7 workspaces produce

[2018-11-01 14:48] amisevsk commented on #11781
@jburleson I'm not entirely certain on this, but in my experience OpenShift will issue events even if the process is ongoing. It is likely a non-critical event that OpenShift tried to bind the PVC, but it is not ready, so it will retry in a little while. I consistently see similar behaviour if e.g. I'm trying to use an image that hasn't been pushed to a registry yet.

This might just be an issue i

[2018-11-01 14:54] sleshchenko commented on #11447
@garagatyi Not for this case when an error happens during Runtime recovering.

[2018-11-01 14:57] sleshchenko commented on #11804
@garagatyi Yeah, I agree. Let me clarify that Client would be able not just filter machines, but like order them (like first user-defined and then tooling) or display some labels near machine names to make it clear where it comes from.

[2018-11-01 15:15] jburleson commented on #11781
@amisevsk Gotcha. I was not sure either. This is the first OpenShift cluster I have deployed so I am still learning about it.

I will close this issue.

Thanks for your patients.

[2018-11-01 15:15] #11781 closed

[2018-11-01 15:33] amisevsk commented on #11781
@jburleson no worries, I'm happy to help! Did env var help solve your problem?

[2018-11-01 16:09] jburleson commented on #11781
@amisevsk Yes, removing FailedScheduling from the list does allow the workspace creation to complete.

[code]

I am talking with some of the other faculty who will be using this and we are considering leaving it the FailedScheduling off. With it off, the students would not have to do anything but if we add it back then they will always have to click on retry. While it does mean that other failures

[2018-11-01 17:06] tsmaeder commented on #11772
@SharkJ Che uses Language Server Protocol in order to implement things like code assist, go to definition, etc. So if you want to add support for a new language (whether trough a parser generated by Antlr or any other way), you need to need a language server. In order to implement a language server, you need to have code that can answer the requests LSP specifies, like: "in Text file foo.mylang, l

[2018-11-01 17:07] tsmaeder commented on #11772
To me, it's still not clear what features you want to enable in the editor. Syntax highlighting? Code completion?

[2018-11-01 21:03] bryantson opened #11807 "Get Started Webpage Has Incorrect Spelling"
### Description

Eclipse Che's Getting Started page has the incorrect spelling:
https://www.eclipse.org/che/getting-started/

It should "che.openshift.io"

kind/docs level/beginner

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-01 21:16] garagatyi commented on #11807
Thanks for spotting that!

@eivantsov do you happen to know who has access to fix that?

[2018-11-01 23:06] Rijul5 opened #11808 "[Information] Multi-user Eclipse Che"
Hello Team,
I am using Ubuntu OS and fulfill all the requirements which are needed to run eclipse in multi user mode. However, I am unable to open Che instance on another machine.

My host machine is successfully able to launch eclipse che(multi-user) after disabling the Ubuntu firewall (using http://132.206.42.73:8080/dashboard)

But If I use the same http://132.206.42.73:8080/dashboard on anothe

[2018-11-02 07:15] skabashnyuk commented on #11808
Can you try this way
https://www.eclipse.org/che/docs/docker-multi-user.html#run-syntax
? Please make sure you are able to ping EXTERNAL_IP from remote computer

[2018-11-02 07:18] skabashnyuk commented on #11796
@Bassinator can you try the same use case at che.openshift.io?
https://codenvy.io has quite an old Che version I doubt that we can change anything there.

[2018-11-02 07:19] skabashnyuk commented on #11775
@ashumilova @evidolob can you help here?

[2018-11-02 07:30] skabashnyuk commented on #11635
@garrablanca hi.
It would help if you can provide the log from che-master and from browser console.
Also, I'm not sure about what was the concrete value of CHE_HOST you used.

[2018-11-02 07:36] apupier commented on #11699
to have the Camel Genrator based on yeoman preconfigured so that users can use _yo camel-project_ in their che Workspace from command-line and when using Theia from the yeoman integration in palette

[2018-11-02 07:56] tsmaeder commented on #11468
Well, if I understand correctly, we're passing the theia API as the vscode api to VSCode plugins, so if they are not compatibly, we would crash?
My approach currently is to create our own 'vscode.ts' module that contains enough vscode API to make the vscode language server lib work.

[2018-11-02 08:17] SharkJ commented on #11772
Thank You! It became a little clear to me the path that I should follow. I want to implement the basic developer support provided by the editor. To start with I'm trying to find out the way to implement syntax highlighting and code completion.

[2018-11-02 08:47] Ohrimenko1988 opened #11810 "Unexpected fail of "TheiaBuildPluginTest" and "Che7PreviewStackStartTest" selenium tests"
### Description
We have unexpected fail of "TheiaBuildPluginTest" and "Che7PreviewStackStartTest" selenium tests. It looks that something went wrong with a method which checks notifications textx. We should investigate and resolve this problem.

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/414/Selenium_20tests_20repor

[2018-11-02 09:11] ashumilova commented on #11740
Considering for the next sprint

[2018-11-02 09:15] ashumilova commented on #11717
@DougTidwell Did you click on Add button on project popover layout? This may be the cause of that warning.

[2018-11-02 10:04] #10881 closed

[2018-11-02 10:13] sunix commented on #11499
From my experience, building theia (running `yarn`) + running a theia instance (+ Typescript LS) in the same container requires at least 3 GB.
It is hard to tell, it would be good to have a kind of widget that shows the memory usage inside a workspace ... if memory counts, we have to provide tools for users to know what is wrong in his workspace.

[2018-11-02 10:30] benoitf commented on #10408
BTW here you're already adding tons of debug message so these one should be at least fixed
https://github.com/eclipse/che/pull/11787/files

[2018-11-02 10:32] skabashnyuk commented on #10408
@benoitf @sleshchenko is this blocker requirement or nice to have for https://github.com/eclipse/che/pull/11787 please clarify your POV.

[2018-11-02 10:44] benoitf commented on #10408
IMHO it's related to UX, so code owners are up to decide if UX is part of the requirements or not.
My POV is that we're using more time to discuss it than to move in the code workspaceID at the beginning instead at the end.

[2018-11-02 10:44] AndrienkoAleksandr commented on #11789
Upstream related pull request:
https://github.com/theia-ide/theia/pull/3359

[2018-11-02 11:21] AndrienkoAleksandr commented on #11789
@lord @benoitf about

I think It should not be there.
Yes, vscode has command "Terminal", image from @lord:

![image](https://user-images.githubusercontent.com/606959/47781798-e5ccac80-dcfe-11e8-9e17-90b1aae3d89c.png)

 **But this command has another behavior.** This command works with bottom panel and sections of this panel. Bottom panel inside vscode has Sections:
- Terminal
- Output
- Problems

[2018-11-02 11:57] l0rd commented on #11789
@AndrienkoAleksandr the View menu item is an upstream problem and is tracked/discussed [here]( https://github.com/theia-ide/theia/issues/3356). As said there I don't have a strong opinion (i.e. I won't spend hours discussing that)

On the other end the second point (automatically pick the first container among the ones created by the user) is really important. Since there is no better option now p

[2018-11-02 12:05] dmytro-ndp opened #11811 "Setup CI QA jobs to run E2E tests without excluding known permanent failures and rerun "flaky" tests"
### Description
After we merge PR https://github.com/eclipse/che/pull/11689 with master, E2E tests, which fail because of known permanent failure, will not be executed by default.

1. To run it we need to have separate job on CI equals to https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/, but with additional parameter `--include-tests-under-repair` of run t

[2018-11-02 12:15] #10408 closed

[2018-11-02 12:33] ScrewTSW opened #11812 "Document che-master <-> workspace communication and API"
### Description
Exact documentation of the che-master API , enpoints and what parameters they take,
JSON-RPC communication and methods are missing.
There are some tidbits about what protocol is being used, but no specific information. (https://www.eclipse.org/che/docs/json-rpc.html)

This agenda is also being pushed by @garagatyi , the proper documentation would be really helpful for people who do

[2018-11-02 12:39] #11811 closed

[2018-11-02 13:01] olexii4 commented on #11525
Yes. I have fixed this issue.
https://github.com/eclipse/che/pull/11528

[2018-11-02 13:01] #11525 closed

[2018-11-02 14:35] Ohrimenko1988 commented on #11810
Done https://github.com/eclipse/che/pull/11813

[2018-11-02 14:35] #11810 closed

[2018-11-02 14:51] delchev commented on #11774
Thanks a lot @skabashnyuk and @vitaliy-guliy for the quick investigation! We with @shturec tried to dynamically resolve the 'top' dirigible's window in our code. The fix was provided with: https://github.com/eclipse/dirigible/issues/362 and https://github.com/eclipse/dirigible/issues/363 and it works just fine:
![dirigible_in_che](https://user-images.githubusercontent.com/6852373/47922178-1e1ae900

[2018-11-02 14:51] #11774 closed

[2018-11-02 15:01] skabashnyuk commented on #11774
Cool.
@delchev  Can you let us know:
- when a new image will be available?
- are you going to submit dirigible editor https://github.com/eclipse/che-plugin-registry

[2018-11-02 15:19] tsmaeder commented on #11468
But I think, the whole thing is much more simple, actually. In Theia, language server back end and front end contributions are already separate, so Theia know how to hook up the messages from a language server to the UI (code completion, etc.). So all we need is a plugin API for running a language server and hooking up the appropriate streams. I guess we'd have to set up some tunneling over the pl

[2018-11-02 16:01] benoitf commented on #11468
if library is not complex, then yes it can be added to the plugin's API and it will be much more easier then to write LSP for theia.(no external dependency)

BTW I think we really need a LSP example for theia like https://github.com/Microsoft/vscode-extension-samples/tree/master/lsp-sample

[2018-11-02 16:19] garagatyi opened #11814 "Allow Che 7 editor meta point to yaml file instead of archive with that yaml file"
### Description
Meta for Che editor in Che 7 now uses URL to tar.gz archive with the che-plugin.yaml. Since editors usually don't bring any binaries with the che-plugin.yaml it makes sense to support this yaml directly in the URL.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-02 17:49] delchev commented on #11774
Thanks @skabashnyuk !
For completeness the pull request for https://github.com/eclipse/che-plugin-registry is https://github.com/eclipse/che-plugin-registry/pull/54
and the new image built by CI at:
https://hub.docker.com/r/dirigiblelabs/dirigible-anonymous/tags/

[2018-11-03 11:04] ryanrdetzel commented on #2481
So disappointed this doesn't work. I setup Che and got it running just to find out I can't really use it with the ipad. :-(  It does't feel like a hard problem, maybe I'll dive in a take a look.

[2018-11-03 16:14] Rijul5 commented on #11808
@skabashnyuk - Thank you for your response.

Yes, I used the above link only and I am able to ping EXTERNAL_IP from the remote computer. But still not able to run Che on the remote computer.

![ping](https://user-images.githubusercontent.com/32622151/47954495-f4b29980-df60-11e8-8ff6-91afaf450312.png)

I am new to networking so I installed wireframe on both systems and tried to analyze. As per my u

[2018-11-03 16:40] Rijul5 commented on #10795
@eivantsov
Hello, in reference to this issue, I am able to create a Docker image and then replacing the image in this [stack](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L53), I am unable to load the image when running this stack in a new workspace. I am getting the below error:
![image](https://user-images.githubusercontent.com/32622151/479547

[2018-11-03 17:31] #11688 closed

[2018-11-03 17:57] Bassinator commented on #11796
Thx. Is codenvy no longer supported?
On openshift enabling the ssh installer does not work (see [#8848).

[2018-11-03 18:00] Bassinator opened #11817 "Authorization token is missed error after login on Safari Version 12.0 (14606.1.36.1.9)"
### Description
When I want to start che.openshift.io i get en error on Safari:

Authorization token is missed
Click here to reload page.

On Chrome it is working

### Reproduction Steps
macOs Mojave
Safari Version 12.0 (14606.1.36.1.9)

[2018-11-03 19:30] garagatyi opened #11818 "Allow to specify Che 7 plugin or editor meta.yaml with a link"
### Description
Now we allow adding Che 7 plugin or editor with a custom registry.
Knowing how files are structured in the che plugin registry it is possible to host meta.yaml file in a GitHub repo which is way more convenient than hosting own plugin registry. For example for the development purposes.
We can improve this approach by allowing a direct link to a file without placing it in a specific

[2018-11-03 19:35] garagatyi opened #11819 "Allow adding Che 7 plugins and editors from a custom registry on UD"
### Description
PR #11588 brought an ability to use the custom registry for Che 7 plugins.
To leverage that user has to add it in a RAW workspace config on UD since UD doesn't support this feature directly.
It would be awesome to have a direct support of it on the UD.
BTW we have another issue to add support of specifying meta.yaml URL without a need for a custom registry. Would be cool to have UD

[2018-11-04 01:49] loadtheaccumulator commented on #11817
**Failure reproduces on:**
MacOS High Sierra 10.13.6 (17G2307)
Safari Version 11.1.2 (13605.3.8)
Logged in w/ Red Hat Developer ID
Reloading page via link, as instructed in message, does not resolve the issue.
Also attempted in a new Private browser window.
Developer console screenshot attached...
<img width="1440" alt="screen shot 2018-11-03 at 8 12 03 pm" src="https://user-images.githubuserconte

[2018-11-04 02:05] loadtheaccumulator opened #11821 "Website getting started page SaaS section major typo"
### Description
SaaS section of Getting Started page of main Che website (https://www.eclipse.org/che/getting-started/) reads "Self-service Che workspaces hosted at che.openshit.io"

This should read "Self-service Che workspaces hosted at **che.openshift.io**"
<img width="553" alt="screen shot 2018-11-03 at 8 44 14 pm" src="https://user-images.githubusercontent.com/4137594/47959187-f4d78700-dfaa-1

[2018-11-04 02:59] monaka opened #11822 "Can't build Che by che-dev:nightly."
### Description

I failed to build Che by che-dev:nightly.

### Reproduction Steps

[code]

**OS and version:**

Independent.

**Diagnostics:**

[code]

[2018-11-04 21:41] roobkit commented on #11654
@eivantsov I removed proxy settings from docker ( I only need it for download images ) and the issue persist. (also in Debian stretch)

Aparently keycloack server works fine.

I use `--fast` to force docker error DNS menssage (although the proxy works fine and pull images). Can this affect?

Thanks!

[2018-11-05 05:17] #11772 closed

[2018-11-05 07:43] skabashnyuk commented on #11808
[code]
?

[2018-11-05 07:46] sleshchenko commented on #11819
Does not this issue duplicate https://github.com/eclipse/che/issues/11642 ?

[2018-11-05 07:51] #11675 closed

[2018-11-05 07:53] l0rd commented on #11499
@sunix I have come to your same conclusions. I could work fine with 4GB of RAM. Less than that can provoke OOM exceptions in workspace containers. Closing this issue for now.

A memory consumption dashboard is a nice plugin idea ;-)

[2018-11-05 07:53] #11499 closed

[2018-11-05 08:15] garagatyi commented on #11819
Absolutely

[2018-11-05 08:15] #11819 closed

[2018-11-05 08:25] garagatyi opened #11824 "Che 7 plugins can be used with any editor even though they are not compatible"
### Description
Now neither API nor UD respects the fact that not all the Che 7 plugins are compatible with all the editors in a registry.
We had thoughts on how to specify the compatibility requirements but we haven't managed to implement it yet.
For this issue we need to:
- support it on API level
- add docs on how to configure it properly
Followups:
- add support of it on UD
- add verification

[2018-11-05 08:33] slemeur commented on #10408
@mshaposhnik : why the issue has been closed while the discussion was providing feedbacks? Is there  a new issues created related to those feedbacks? In this case, it would be nice to cross reference them in this issue.

[2018-11-05 08:43] mshaposhnik commented on #10408
@slemeur with c/owners we agrreed that for now pr satisfies issue requirements.
If we will see the need to change logging format/depth/etc we will create separate one.

[2018-11-05 08:47] Ohrimenko1988 opened #11826 "The "Open in IDE" button overlapped on the "New Workspace" page after adding project"
### Reproduction Steps
 - Open dashboard and go to "New Workspace" page
 - Select default "Java" stack
 - Click on "Add or Import Project" button
 - In the opened form click on "web-java-spring" checkbox and enable it
 - Click on "Add" button
 - After project added click on   ![ttt](https://user-images.githubusercontent.com/22724619/47987218-aaa7f000-e0e7-11e8-8940-79c08abd20da.png)   button
 - Pa

[2018-11-05 08:59] benoitf opened #11827 "[broker] Theia plug-in broker should not rely on plugin's name"
### Description
Theia plug-in broker is using plugin's name for workspace convention, etc
https://github.com/eclipse/che-plugin-registry/blob/master/plugins/org.eclipse.che.samples.container-fortune/0.0.1/meta.yaml

Then we need to have short name in the meta.yaml

The name is and should be only display name so it should not be mandatory to have a name less than 20 characters and without spaces.

[2018-11-05 10:11] #4940 closed

[2018-11-05 10:27] RomanNikitenko opened #11828 "Useless error message at rename java file"
### Description
Error message "Can not read property 'a' of null" is displayed at rename java file when Java language server is turned off.
### Reproduction Steps
![rename_error](https://user-images.githubusercontent.com/5676062/47992647-15602800-e0f6-11e8-82eb-ff6981e88778.gif)

**OS and version:**
Che 6.14.0 ; Chrome 68 ; Ubuntu 18.04.1

[2018-11-05 10:33] vinokurig commented on #10735
@l0rd I'll check it today

[2018-11-05 11:44] elPerro72 opened #11830 "groovy support"
Hi, are there plans to support groovy so autocomplete can be used? Would be great if it becomes part of a java stack.

Thanks in advance,

Raymond

[2018-11-05 12:36] l0rd commented on #10735
Thank you @vinokurig !

[2018-11-05 12:44] curran commented on #11807
Hilarious.

[2018-11-05 12:50] eivantsov commented on #11807
Fixed

[2018-11-05 12:50] #11807 closed

[2018-11-05 13:08] sleshchenko opened #11831 "Multi-user Che on Kubernetes doesn't work"
### Description
Multi-user Che on Kubernetes doesn't work.

Postgresql image failed to start with the following error:
[code]
It is related to https://github.com/eclipse/che/pull/9343
### Reproduction Steps
1. Deploy Mulit-user Che on Kubernetes.
Expected: Che is deployed and available.
Actual: Che is not deployed because of failing Postgresql start.

**OS and version:**

**Diagnostics:**

[2018-11-05 13:18] garagatyi commented on #8991
@artaleks9 is this still actual?

[2018-11-05 13:50] BarryDrez commented on #11620
@eivantsov Can I please get an update on this?

[2018-11-05 13:59] mshaposhnik opened #11832 "Implementation of local part of devfile feature"
Implement local part of devfile feature (not related to remote repository fetching via git URL etc) which includes:
- model files  (jackson-annotated)
- REST endpoints (create workspace from yaml, export workspace into yaml),
- converters of devfile to/from workspace config
- devfile valitator, validation exceptions;
etc...

[code]
Example of yaml functionality
[code]

[2018-11-05 13:59] mshaposhnik commented on #11719
Phase 1 issue https://github.com/eclipse/che/issues/11832

[2018-11-05 14:04] eivantsov commented on #11620
There's a PR in works https://github.com/eclipse/che/pull/11761

[2018-11-05 14:06] BarryDrez commented on #11620
Thank you

[2018-11-05 14:09] mshaposhnik opened #11833 "Plan and POC implementation of remote part of devfile feature"
Implement remote part of devfile feature which includes:

- Synchronous REST endpoint which consumes github repository URL or direct URL to devfile content and returns resolved workspace config or created workspace

[2018-11-05 14:11] mshaposhnik commented on #11719
Phase 2 issue https://github.com/eclipse/che/issues/11833

[2018-11-05 14:50] benoitf commented on #11832
hello, do we already have complete examples of the new model ?

[2018-11-05 14:51] mshaposhnik commented on #11832
@benoitf https://github.com/eclipse/che/issues/11719#issuecomment-433389404

[2018-11-05 15:03] benoitf opened #11837 "[factory plug-in] Duplicates of clone operation"
### Description
When using a factory, I received a clone failure as it seems two clones operations are triggered
- one for the missing project in /projects directory
- one for the import flow of factory where it clones the projects.
![factory-import](https://user-images.githubusercontent.com/436777/48005650-3cc5ed80-e114-11e8-80ac-d8a888f981ea.gif)

### Reproduction Steps
https://che.openshift.io/

[2018-11-05 15:09] benoitf opened #11838 "[factory plug-in] Annoying popup "clone projects""
### Description
Each time I open a workspace, I got a popup about "Git projects cloned"
but I'm just reopening an existing workspace, project is already there

I also receive this notification even when there is no project defined in my workspace.

![image](https://user-images.githubusercontent.com/436777/48005988-18b6dc00-e115-11e8-8b29-384ae26c4d4e.png)

### Reproduction Steps

Create a workspac

[2018-11-05 20:00] gorkem commented on #11817
@davidfestal can you triage this one ?

[2018-11-06 03:14] gnoejuan opened #11841 "Clarification on stopping Che using Che CLI"
### Description

Assumptions:

- Keycloak default `Admin` user. Password `admin`. Email `admin@admin.com`
- che user `Che` given `uma_authorization`, `user`, and `offline_access` roles in Keycloak. Password `chepass`. Email `che@che.com`

Quickly looking over the Keycloak [Admin CLI](https://www.keycloak.org/docs/3.3/server_admin/topics/admin-cli.html), the three flags required appear to be `--use

[2018-11-06 03:26] SharkJ opened #11842 "Adding Syntax Highlighting to Xtext DSL in Eclipse Che"
I have created a simple 'Hello World' DSL using Xtext with the following grammar: -

[code]
When I create it as an Eclipse plugin and run as an Eclipse Application, everything works fine; syntax highlighting, auto completion works fine. However, when I create it as a Gradle build with Fat Jar, and implement the Fat jar into Eclipse Che as a sidecar (by pushing a dockerfile with the fat jar embedde

[2018-11-06 06:39] monaka opened #11843 "`che.limits` properties are not ignored on the multiuser environment."
### Description

`che.limits` properties are ignored on the multiuser environment.
 I've not checked on the another env.

### Reproduction Steps

1. Spawn `che-server` with multiuser settings
2. Call `https://{che-server}/api/resource/:id`

**OS and version:**

Eclipse Che 6.14.0-SNAPSHOT / nightly build.

**Diagnostics:**

The part of `deployment/che`.

[code]

The body of `https://{che-server}/a

[2018-11-06 07:14] garagatyi commented on #11719
@skabashnyuk I have some question. Would you be willing to elaborate?
- some REST methods produce JSON and some YAML. Is it a typo or design?
- theia-ide is editor, not plugin. Are you suppose that we won't differentiate them in the dev file model?
- in the tool object, there is a definition field that encapsulates che plugin. Are there any other fields or this is some wrapper needed for some part

[2018-11-06 07:15] skabashnyuk commented on #11843
Is this statement correct?

[2018-11-06 07:18] monaka commented on #11843
incorrect... edited.

[2018-11-06 07:32] artaleks9 commented on #8991
I think, it is not already actual.
I close the issue.

[2018-11-06 07:32] #8991 closed

[2018-11-06 07:45] mshaposhnik commented on #11719
I expect tools to be be like:
[code]

[2018-11-06 07:46] SkorikSergey commented on #10523
Not reproduced in CHE-6.14.0 SNAPSHOT.

[2018-11-06 07:46] #10523 closed

[2018-11-06 07:47] skabashnyuk commented on #11719
By design.
DevFile->Workspace produces json
Workspace -> Devfile produces yaml

I guesses you right. Copy/past from. https://github.com/l0rd/devfile/blob/master/petclinic.yaml @l0rd can you confirm?

This use case postponed to next iteration for simplification. Now we considering that tool = 1 container.

Proposals?

[2018-11-06 08:41] sleshchenko commented on #11843
From what I see env variables names have typo: `workspace` -> `workspaces`. See names in [DefaultUserResourcesProvider](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/multiuser/personal-account/src/main/java/org/eclipse/che/multiuser/api/account/personal/DefaultUserResourcesProvider.java#L38.)
`CHE_LIMITS_USER_WORKSPACE_COUNT`, `CHE_LIMITS_USER_WORKSPACE_RUN_COUNT`, `

[2018-11-06 08:45] tsmaeder commented on #11468
To me, the simplest thing to do here is to make the back-end extension point usable as a plugin:
[code]

For that, we'd have to provide:
[code]
However, one problem I see is that we have to tunnel the "IConnection" we get from the start method through the plugin API connection.

[2018-11-06 08:46] sleshchenko commented on #11843
@monaka Feel free to reopen issue if changing the corresponding env var does not influence Resource API

[2018-11-06 08:46] #11843 closed

[2018-11-06 08:59] monaka commented on #11831
I've already succeeded to deploy Che into Azure AKS. I'll send some more patches for Helm charts after merged PR #11761 #11820 #11835 .

[2018-11-06 09:05] skabashnyuk commented on #11720
I was able to setup POC of tracing with Jaeger in
https://github.com/eclipse/che/compare/master...che10288

![10 53 09](https://user-images.githubusercontent.com/1614429/48053577-b52fbb80-e1b3-11e8-88f4-d5674fb3ec09.png)

It uses https://github.com/opentracing-contrib/java-web-servlet-filter
for http traces. JDBC traces implementation is very dirty for now and added here
https://github.com/eclipse

[2018-11-06 09:18] garagatyi commented on #11719
just `commands

[2018-11-06 09:18] garagatyi commented on #11719
@skabashnyuk tnx for the explanation

[2018-11-06 09:21] #11719 closed, assigned to nobody

[2018-11-06 10:13] skabashnyuk commented on #11720
I want to do some cleanup in che10288 and prepare PR to merge this POC in master. Tracing would be optional and disabled by default

[2018-11-06 12:47] sleshchenko commented on #11832
@mshaposhnik I think it makes sense to duplicate plan what should be done in PR description or at least specify the comment in the description. Otherwise, DoD of the issue is not clear enough.

[2018-11-06 13:45] skabashnyuk commented on #11832
@mshaposhnik fixed

[2018-11-06 14:19] gorkem opened #11846 "New Workspace from Kubernetes"
Implement a new UI flow for creating Che 7 workspaces from kubernetes resources. This should work similar to a factory but since it requires UI selections it can not be a proper factory.

The resources that will be part of the workspace should be selected either from a kubernetes manifest, a live kubernetes cluster. This service should be flexible enough so that some or all of the information can

[2018-11-06 16:14] eivantsov opened #11848 "Slow pvc binding: Che workspace fails to start because of pod has unbound PersistentVolumeClaims"
### Description

When Che is deployed to an OpenShift cluster that is rather slow (namely pvc binding), the initial workspace start fails with an error:

[code]

![image](https://user-images.githubusercontent.com/5337267/48077149-67d13f80-e1ef-11e8-9b40-02bc50c6bf7a.png)

It happens because pvcs are in pending state.

![image](https://user-images.githubusercontent.com/5337267/48077129-5b4ce700-e1e

[2018-11-06 18:53] davidfestal commented on #11817
I've had a look into this one, helped by @benoitf since I don't have any Mac here to test correctly myself.

Though I still have to further check some points to confirm, it seems to me that it isn't related the end-2-end flow (RhChe-side) or to the authentication itself, since the Keycloak authentication step is correctly performed according to the logs . It seems more like a language incompatibil

[2018-11-06 21:36] garrablanca commented on #11635
@skabashnyuk hi. oh thank you for reply and my apologizes for the delay of this response, well, I'm obfuscating the name of the domain ( **subdomain.domain.com** ) because I'm not allowed to share the exact name, but you can consider it is any name you can imagine that match this mask subdomain.domain.com could be like ide.mysite.com, of course this domain name is configured in the Route 53 and po

[2018-11-06 23:14] monaka commented on #11843
@sleshchenko @skabashnyuk Thanks for your response. I see I have two mistakes. Not `USER_WORKSPACE` but `USER_WORKSPACES`. And the unit of `TIMEOUT` is millisecond, not second. I checked work fine after fixing them.

[2018-11-06 23:35] monaka commented on #11843
BTW, are some documents incorrect?  "[minutes](https://github.com/eclipse/che-docs/blame/50e4a878189b93a9eb5fd81716b14baaa02f1832/src/main/pages/user-management/resource-management.adoc#L76)" should be `millisecond`.
And I couldn't find any code for "[By default, this value is set to 3600000 (1 hour)](https://github.com/eclipse/che-docs/blame/master/src/main/pages/setup-docker/docker-config.adoc#L

[2018-11-07 00:03] vparfonov opened #11852 "IDE-2018-12-04 (Sprint: 158)"
### Issues

#### Theia goals
- [ ] Add Theia Plugin APIs to support VS Code Kubernetes Tooling #10574
- [ ] [Theia][Plugin]Rework Task extension to Task plugin #11458
  - [x] [plug-in][tasks] Register a task provider https://github.com/theia-ide/theia/issues/3503
- [ ] [plug-in] API for register a filesystem provider theia-ide/theia#2861
- [x] [plug-in][languages] Register a document symbol provid

[2018-11-07 00:12] #6321 closed

[2018-11-07 03:05] monaka opened #11853 "workspace won't stop when idle.timeout = 1"
### Description

The value of CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT is [converted from millisecond to minutes](https://github.com/eclipse/che/blob/b8576d956ccbb0e5999d73d4a13dbe01d6a5728f/multiuser/personal-account/src/main/java/org/eclipse/che/multiuser/api/account/personal/DefaultUserResourcesProvider.java#L50).
So small timeout values will be converted to 0.
At the same time, 'timeout == 0' means [

[2018-11-07 06:05] LahiruT94 commented on #11615
@dshakey how much ram do you have?

[2018-11-07 06:34] LahiruT94 opened #11854 "Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.0.1:analyze-only (analyze) on project plugin-spell-ls: Dependency problems found"
### Description

I want to create a plugin to run the installer module.

![plugin](https://user-images.githubusercontent.com/34393074/48114225-3c4c6480-e284-11e8-9069-557f8325fe57.PNG)

[SpellingModule.txt](https://github.com/eclipse/che/files/2556270/SpellingModule.txt)
[SpellingLanguageServerConfig.txt](https://github.com/eclipse/che/files/2556271/SpellingLanguageServerConfig.txt)

When i build

[2018-11-07 06:39] dshakey commented on #11615
64gb of ram on the host

[2018-11-07 07:09] skabashnyuk commented on #11843
From what I can see from https://github.com/eclipse/che/search?q=che.limits.workspace.idle.timeout&unscoped_q=che.limits.workspace.idle.timeout @monaka  you are right. @sleshchenko can you confirm?

[2018-11-07 07:12] eivantsov commented on #11854
Can you share detailed maven build output?

[2018-11-07 07:13] skabashnyuk commented on #11853
1 millisecond or 1 minute is kind of interesting from the scientific point of view. I would say all values less than 5 minutes should mean that idling is disabled.

[2018-11-07 07:16] eivantsov commented on #11841
Is your Che user an admin user? https://github.com/eclipse/che/blob/master/dockerfiles/init/manifests/che.env#L578

[2018-11-07 07:18] skabashnyuk commented on #11635
@garrablanca is there any reason that you think this is a Eclipse Che issues and not Amazon misconfiguration? I  think that you have misconfigured your Ec2 instance or Route 53.

[2018-11-07 08:03] LahiruT94 commented on #11854
[Log.txt](https://github.com/eclipse/che/files/2556520/Log.txt)
Maven build output

[2018-11-07 08:07] sleshchenko commented on #11843
You're right, "minutes" should be milliseconds. Thanks for creating a corresponding PR.

Good catch. It is an outdated comment and `-1` is set by default.
https://github.com/eclipse/che/blob/534a961e844049d5b4b84dd694176175eb367c97/dockerfiles/init/manifests/che.env#L668
It would be kind from your side to fix this part of doc as well or I can do it.

[2018-11-07 08:17] sleshchenko commented on #11853
@monaka Thanks for reporting it.

I agree that 1 millisecond timeout is not a case and I see two issues here:
1. `CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT` configuration env var is not self-explained and it is not clear that value should be set in milliseconds.
2. Che Server might throw configuration exception if a value is not big enough. Also, there might be check that configurated value will work corr

[2018-11-07 08:32] eivantsov commented on #11841
What does cli.log say? Bad credentials?

[2018-11-07 08:33] gnoejuan commented on #11841
`^[[32mINFO:^[[39m (che action/graceful-stop): Authenticating as admin on "192.168.1.19:5050".
^[[31mERROR:^[[39m (che action/graceful-stop): {"error":"invalid_grant","error_description":"Invalid user credentials"}
ERROR: Error during graceful stop - see /che/cli.log. (hint: --skip:graceful bypasses workspace stop)`

Yes

[2018-11-07 08:34] eivantsov commented on #11841
But you can login into use with admin:password?

[2018-11-07 08:35] gnoejuan commented on #11841
That is correct.

[2018-11-07 08:48] benoitf commented on #11468
few questions:
- in which namespace would it be ? (of theia)
- a lot of existing register methods are with pattern `registerSomethingProvider`. Is the meaning of contribution and provider are the same ? if so, maybe it should be a Provider as well
- return type of start is void, should it provide something else, like a disposable object, a promise ?
- LanguageContribution needs to be defined in th

[2018-11-07 08:54] mshaposhnik commented on #11832
Current Che7 command configuration is:
[code]
The good point that we can now specify the machine name on which the command will be run.
So as far as understand, devfile command with two nested tool commands like:
[code]
should be mapped into workspace config as two different commands, with machine names somehow mapped from the `tool` field and command extracted from the command line.  How to resol

[2018-11-07 09:15] SharkJ commented on #11842
Hi,
Is there a way to implement syntax highlighting support for the new file type of my DSL? Since Che is using Orion Editor's support for Syntax colouring, could you please tell me how I should implement the function that I require. Though I found similar issues when I searched a solution for this, there was no clear method provided to implement it.
Your help is greatly appreciated.
Thanks!

[2018-11-07 09:36] l0rd commented on #10574
For `apply` command we need https://github.com/theia-ide/theia/pull/2979 to be merged upstream

[2018-11-07 10:10] sleshchenko opened #11855 "Add selenium test for checking secure servers powered by JwtProxy"
### Description
Selenium tests don't show any regression against Pull Request for upgrading fabri8c client version to 4.1.0 https://github.com/eclipse/che/pull/11768 but it contained changes that broke down JwtProxy secure servers on Kubernetes Infrastructure. So, `ci-test` tests Che Server with OpenShift infrastructure and in this particular case, special selenium test for checking secure servers

[2018-11-07 10:41] ibuziuk opened #11856 "Sometimes jdt.ls is failed to initialize on che.openshift.io"
### Description
Sometimes jdt.ls is failed to initialize on che.openshift.io
Original issue - https://github.com/openshiftio/openshift.io/issues/4507

### Reproduction Steps
Steps to reproduce:
- create & start workspace via UD (user dashboard) based on `vertx` stack with `vertx-health-check-booster`
- Once workspace is started there are error logs in the `dev-machine` console:

[code]

- ERROR: o

[2018-11-07 10:43] ibuziuk commented on #11856
@tsmaeder @fbricon your input might be really valuable

[2018-11-07 12:07] sleshchenko commented on #11832
Why do not do tool as optional parameter, which could mean that user should choose machine (tool) where command should be run?

[2018-11-07 13:46] evidolob opened #11858 "Theia is not showing git status annotations in the project explorer. Nor unstaged files in Git panel on OSIO"
### Description
Git status is failing. Annotations on the project explorer do not appear. Unstaged modified files are not poping up in the git panel.
[code]
### Reproduction Steps

1. Clone any project from git repo.
2. Make any modification on any file
3. Open `Git` left panel
4. Click on refresh button on that panel

- The file is supposed to appear in the panel as a modified file
- Annotations

[2018-11-07 14:37] garagatyi commented on #11832
I wasn't involved into the discussion of the devfile functionality previously. Now I'm trying to understand how it should work and how to implement what is described here and don't understand that.
I discussed this devfile concept with @sleshchenko and it seems we are on the same page in not understanding how it would work :-)
Could we have a call with discussion of this or the idea is settled?
In

[2018-11-07 14:47] sleshchenko commented on #11848
I also faced the same issue on local `minikube` instance.

[2018-11-07 15:13] ibuziuk opened #11860 "Need to release 6.13.1 with PVC cleanup fix & fix for improving IDE startup time"
PR https://github.com/eclipse/che/pull/11859

cherry-picking commits:
9560a43 #11794
b5da3f8 #11840

[2018-11-07 15:43] sunix commented on #11858
Could you describe the problem from the user perspective (what is expected, what is happening) ?

[2018-11-07 15:53] dmytro-ndp opened #11862 "E2E tests being run in one thread show concurrent execution"
### Description
There are two tests, `Che7PreviewStackStartTest` and `TheiaBuildPluginTest`, which interfere each other being started in one thread mode. [For example](https://ci.codenvycorp.com/job/che-pullrequests-test-ocp/1144/consoleText):
[code]
![org eclipse che selenium theia theiabuildplugintest prepare_time-1541596550287-millis](https://user-images.githubusercontent.com/1197777/48142591-b

[2018-11-07 16:38] l0rd commented on #11719
Answering @garagatyi comments

I think that at the time of the devfile definition we had not made a distinction between plugins and editors or that the distinction was blurry. I am ok to have:
[code]

Anyway `devfile` wasn't designed to describe a Che workspaces but to define a development environment that could be used by any dev tool (not only graphical IDE). That's why it's all about generic `t

[2018-11-07 17:18] l0rd commented on #11832
@mshaposhnik @skabashnyuk given the feedbacks I would like to do some changes in the `Devfile` specification:

1) use `cheEditor` instead of `chePlugin` for editors:
[code]
2) change `toolsCommands` to `tools`:

[code]

3) use `id` instead of `name` for `chePlugins` and `cheEditors` and should have the format `${publisher-id}/${plugin-id}:${version}` with respect to the plugin naming proposal http

[2018-11-07 18:05] l0rd commented on #11832
@garagatyi I somehow missed your (quite long and difficult to miss :-)) comment.

Anyway I like your changes for the model. I will reflect them in https://github.com/l0rd/devfile/ and ask your review from @skabashnyuk and @mshaposhnik for approval. I will also look at moving the devfile repository in the redhat-developer organisation.

For your concerns at the beginning of your comment:
- **plugin

[2018-11-07 18:44] garrablanca commented on #11635
@skabashnyuk well, when I tried the configuration with the Route 53 domain to direct work with the EC2 Instance, then works perfectly fine, the problem is when I configure the **Load Balancer** in between, and that's the goal here, to work with the Load Balancer.
I wonder if someone have been configured Eclipse Che like this in AWS.

[2018-11-07 18:48] manithree opened #11863 "Trying to make Java 10 dev workspace - ws-agent failed"
### Description
I'm trying to set up a Java 10 development environment.  I followed the instructions here:
https://www.eclipse.org/che/docs/docker-config.html#using-docker-in-workspaces

I copied the Java Stack and modified the json to use my docker image (the same one we use for CodeBuild, except with 'CMD ["tail", "-f", "/dev/null"]' added), but I can't start a workspace based on that stack.

##

[2018-11-08 00:57] gorkem commented on #11856
I also see this, it almost feels like it will recover if there was a way to clean the project and reimport.

[2018-11-08 01:05] gorkem commented on #9291
I am not sure if we need to track the status of each machine @slemeur WDYT? However as a first step, can we add a status indicator on the status bar of the Theia if the workspace is running or not. Also if workspace is not running we could present a command on the status bar to start the workspace.
Ideally we can replace the current 'Offline' status item that appears when Theia looses connection t

[2018-11-08 01:12] gorkem commented on #11838
Also there is no indication that a clone operation has started. Can we add some sort of progress indicator to cloning?

[2018-11-08 03:37] monaka commented on #11853
@skabashnyuk I agree that it should be rejected small timeout values. In addition, it's better to show a warning/error message to logs.

In my case, I believed the unit of `CHE_LIMITS_WORKSPACE_IDLE_TIMEOUT` is `minute`.
Similar cases won't be reproduced since the doc was [fixed](https://github.com/eclipse/che-docs/pull/564)

[2018-11-08 03:51] monaka commented on #11843
@sleshchenko

I think the default value is `0` since ...

At the first, `CHE_LIMIT_WORKSPACE_IDLE_TIMEOUT` will be converted the property `che.limit.workspace.idle.timeout`.
Second, the injected variable by `@Named(che.limited.workspace.idle.timeout)` has 0 as the default value.

[2018-11-08 06:30] SharkJ commented on #11842
Thanks! Is there a way to implement this configuration in a LS sidecar so that it won't be necessary to rebuild che?

[2018-11-08 06:51] #11349 closed

[2018-11-08 06:53] sleshchenko commented on #11349
@AndrienkoAleksandr Could you please update `README.md` file in `che-exec-terminal` plugin since this issue is closed and `Terminal` and `Exec` should work fine on both of listed helm chart configurations https://github.com/ws-skeleton/che-machine-exec.

[2018-11-08 07:04] #4362 closed

[2018-11-08 07:42] ashumilova opened #11864 "IDE2-2018-12-04 (Sprint: 158)"
### Sprint Goals:
0. Team F2F
1. Extend Plugin API with Che API
2. Introduce Che Theia terminal as plugin
3. Introduce Theia Machine Plugin
4. Pull request plugin for Che's Theia
5. Finalize APIs: Languages
6. Testing framework for Plugin API
7. Che Theia in Che Theia

## 1. Extend Plugin API with Che API
- [ ] Add new "che" namespace to Plugin API to have dedicated APIs https://github.com/eclipse

[2018-11-08 07:44] AndrienkoAleksandr commented on #11349
@sleshchenko thanks, I will update README.md file.

[2018-11-08 07:58] #11831 closed

[2018-11-08 08:04] garagatyi commented on #11719
Sergii and I were suggesting `actions.items`:
[code]

[2018-11-08 08:13] garagatyi commented on #11832
@l0rd let me explain our concerns about plugin brokering.
Devfile supposes someone would write there which command can be executed with which tool. Some che plugins would not bring sidecars, some of them would, some would bring a couple of them probably. And only plugin brokering process knows which plugins bring what amount of sidecars (0, 1, 2).
So, it is not clear who and how would write this d

[2018-11-08 08:14] garagatyi commented on #11832
To summarize: the biggest concern, probably, is how this dev file would be written and used by an end user.

[2018-11-08 08:20] SharkJ opened #11865 "Errors in Executing Commands in che-ide-server-extension Plugin"
I was trying to extend Che using the che-server-ide-extension plugin with the 'Che' stack to try out a syntax colouring extension for my new DSL. I was following the Che-doc and at [this point](https://www.eclipse.org/che/docs/che-in-che-quickstart.html#build-a-deploy-your-extension) where I was executing the commands Traefik Start, Tomcat8-IDE Start, Deploy IDE and Deploy Workspace Agent as direc

[2018-11-08 08:22] mshaposhnik opened #11866 "Make it possible to specify path for command execution in its configuration"
### Description
To make command execution more flexible and compatible with new `devfile` feature, it is proposed to add possibility to specify the path inside machine where the command should be executed.
It can be passed through the `workingDir` attribute of the command.
Example:
[code]

[2018-11-08 08:40] garagatyi commented on #11866
In Che 7 use-case machine name is controlled by a plugin author and Che master code. So, it is subject to change without user awareness. And if this happens a command would not work.

[2018-11-08 08:56] ashumilova opened #11867 "Include existing GitHub plugin in Che Theia IDE"
There is VSCode extension for GitHub integration  - https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github, the idea is to make it work with Che Theia and publish it on plugin registry.

[2018-11-08 09:09] garagatyi commented on #11864
@ashumilova @evidolob I would remove `Include sidecars memory into total memory of workspace on dashboard #11801` from the sprint. For now, it is not possible to implement that on UD side. This would require some architectural changes in the workspace bootstrapping to provide that from server side, whereas it is next to impossible to do that on UD.

[2018-11-08 09:10] ashumilova commented on #11864
@garagatyi Thank you for notifying.

[2018-11-08 10:34] benoitf commented on #11867
hello, why should it be inside the theia image ?

[2018-11-08 10:42] benoitf commented on #11838
@gorkem plug-in can't use progress indicator for now
PR providing that is on hold https://github.com/theia-ide/theia/pull/2979

[2018-11-08 10:54] apupier opened #11869 "Errors in log when importing fuse-financial-cicd project"
### Description
tried with Che 6 nightly
imported https://github.com/jbossdemocentral/fuse-financial-cicd

led to these errors in dev-machine log

![image](https://user-images.githubusercontent.com/1105127/48194335-032bf700-e34d-11e8-8a87-3a6839adb843.png)

### Reproduction Steps

- create Workspace using java stack
- click on "import project..."
- use https://github.com/jbossdemocentral/fuse-fina

[2018-11-08 12:02] sunix commented on #11837
OK I could not reproduce the error but there is definitely an issue with timing: workspace clone should be run after factories actions.
I suspect things to happen asynchronously :(

[2018-11-08 13:08] #11858 closed

[2018-11-08 13:48] sleshchenko commented on #10358
@garagatyi @AndrienkoAleksandr Isn't it already implemented?

[2018-11-08 13:51] sleshchenko commented on #9128
@garagatyi Can we close it since [Che docs](https://www.eclipse.org/che/docs/) points to Che 6 documentation?

[2018-11-08 13:51] #10875 closed

[2018-11-08 13:54] sleshchenko commented on #7066
@garagatyi Can it be removed since you merge a PR where probes is removed is `--debug` option is specified https://github.com/eclipse/che/pull/11409?

[2018-11-08 14:11] #9128 closed

[2018-11-08 14:13] #7066 closed

[2018-11-08 14:17] Ohrimenko1988 opened #11871 "Get rid of boilerplate code in the "Menu" selenium page object"
We have a lot of the boilerplate code in the "Menu" selenium page object. We should rework it with "SeleniumWebDriverHelper" class.
For example:
**current:**
[code]

**after rework:**
[code]
Besides methods "clickOnMenuItem" and "isMenuItemVisible" will be used in simplifying of another methods.

[2018-11-08 15:22] apupier commented on #10262
Can someone with rights can add the 6.14.0 milestone to this issue please?

[2018-11-08 15:22] #10262 closed

[2018-11-08 15:22] apupier commented on #10262
and maybe change label from question to "enhancement" or something like that

[2018-11-08 15:25] garagatyi opened #11872 "Change Che master Java from JRE to JDK"
### Description
Now we use JRE and it doesn't provide tools to analyze the weird behavior of JVM: jps, jstack, etc.
JDK has these tools and would be valuable in the image.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-08 15:37] sleshchenko commented on #11833
I've described my proposal how Workspaces with Devfiles may be designed https://docs.google.com/document/d/1MjTdrJNwZH5rAIdw5lyjgK360Rp14zbeSTy0DzsSA4w/edit?usp=sharing
This document is not completed but review and comments are welcome even on this stage.

[2018-11-08 16:05] OonjuoO opened #11876 "eclipse che multiuser mode -- unexpected character <"
Hello,

I am trying to deploy eclipse che on kubernetes cluster using the helm chart.

The **database and keycloak** is successfully up, without problem. I can access the **keycloak UI** using the following address:
keycloak-default.bcmtdeb.dyn.nesc.net/auth

But the che is not up, the log from the **che pod** indicates error like this:
[code]

The openid configuration could be reached when I tryi

[2018-11-08 17:01] #11862 closed

[2018-11-08 17:30] l0rd commented on #11832
@garagatyi if I understand correctly you are worried about users that add command for tools that are not sidecars. I would not worry about that for now:
1. 90% of the time users will create commands that target their runtime container rather then a plugin
2. In 10% of the cases where the user will want to target a local theia plugins (not a sidecar) the command will be run in the theia container (

[2018-11-08 17:42] l0rd commented on #11832
@mshaposhnik @skabashnyuk @benoitf @garagatyi I have opened this PR to change the spec https://github.com/l0rd/devfile/pull/1/commits. Please have a look.

The petclinic example has become:

[code]

Once the PR is merged I will move the repository to redhat-developer.

@mshaposhnik something that you may do as part of this issue is to create a [json-schema](http://json-schema.org/) for the devfile

[2018-11-08 19:41] skabashnyuk commented on #11872
-1 - IP issues to do that I think.
AFAIK there was a concrete reason why Eclipse IP team asked  @TylerJewell  to do that.

[2018-11-08 19:42] skabashnyuk commented on #11872
AFAIK it's not an issue for osio since che-master repackaged there with JDK

[2018-11-08 19:47] skabashnyuk commented on #11876
can you query http://keycloak-default.bcmtdeb.dyn.nesc.net/auth/realms/che/.well-known/openid-configuration from che-server pod?

[2018-11-08 20:41] slemeur opened #11877 "Add an Ansible Stack"
### Description
Ansible Stack with YAML, Ansible-Review, Ansible-Lint

[2018-11-08 20:52] OonjuoO commented on #11876
@skabashnyuk
You mean I try to curl this address in che-server pod?

[root@g01-c-01 ~]$ # kubectl exec -it che-5dfbfdc95b-5kx84 sh

/ # curl http://keycloak-default.bcmtdeb.dyn.nesc.net/auth/realms/che/.well-known/openid-configuration
<html>
<head><title>308 Permanent Redirect</title></head>
<body bgcolor="white">
<center><h1>308 Permanent Redirect</h1></center>
<hr><center>nginx</center>
</body>

[2018-11-09 04:12] SharkJ commented on #11842
@cdietrich Can you please tell me whether this is the correct process: -
1 - Clone the che-ide-extension-master
2 - add the new language config file (as in the example you've given above) into the plugins directory
3 - Build che-ide-extension-master

Is there something that I should add?

[2018-11-09 06:11] SharkJ opened #11879 "Could not create local repository at /home/user/.m2/repository -> [Help 1] org.apache.maven.repository.LocalRepositoryNotAccessibleException: Could not create local repository at /home/user/.m2/repository"
I am trying to add a new plugin to the che ide extension. I downloaded the repo from [here](https://github.com/che-samples/che-ide-server-extension), made changes and tried to build it in the command prompt by executing the below command: -

docker run -ti -v ~/.m2:/home/user/.m2 -v D:/che-samples/che-ide-server-extension:/projects eclipse/che-dev:nightly sh -c "mvn clean install -e -X"

This is t

[2018-11-09 06:16] SharkJ commented on #11879
When I run the below command, I get another error: -

docker run -ti -v C:/Maven:/home/user/.m2 -v D:/che-samples/che-ide-server-extension:/projects eclipse/che-dev:nightly sh -c "mvn fmt:format -e"

Error: -
[code]

[2018-11-09 06:51] garagatyi commented on #11872
@skabashnyuk do you mean that we had issues with the Oracle JDK or Open JDK?

[2018-11-09 06:52] skabashnyuk commented on #11879
Try this way
[code]

[2018-11-09 07:07] skabashnyuk commented on #11872
Afaik both. @riuvshin maybe you remember some details?

[2018-11-09 07:16] garagatyi commented on #11833
I think a good way to iterate faster. @l0rd FYI

[2018-11-09 08:08] apupier opened #11880 "When selecting several folder and try to convert to "Project", only the one right-clicked is converted"
### Description
When several folder are selected and right-click on them I would expect to have all of them considered for the action

### Reproduction Steps
- have several folders
- select several tof them (with ctrl+click for instance)
- right-click on one of them
- "Convert to project"
--> only the the folder below cursor at the right-click moment is converted

**OS and version:**
Che 6.13.1

*

[2018-11-09 08:11] SkorikSergey commented on #11880
Similar issue - https://github.com/eclipse/che/issues/2913.

[2018-11-09 08:19] apupier commented on #11880
closing as duplicated

[2018-11-09 08:19] #11880 closed

[2018-11-09 08:45] OonjuoO commented on #9929
@eivantsov  @skabashnyuk
To use keycloak of our own, we need to modify the keycloak_auth_url and adding appropriate che realm and che-public client inside keycloak.
But is it compulsory that our own keycloak needs to use the same database(postgresql) as eclipse che?
what if eclipse che use the postgresql from it's package, but I want our own keycloak to use another database(like mariadb)?
The use

[2018-11-09 08:56] apupier opened #11881 "Support copy of text from terminal via classical shortcut 'Ctrl+C'"
### Description
the text which is in terminal/output views cannot be copied. it would be nice to be able to copy it. It will ease issue reporting for instance

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-11-09 09:09] OonjuoO commented on #11876
@skabashnyuk
Hi, to curl this address inside the che pod

/ # curl -ks https://keycloak-default.bcmtdeb.dyn.nesc.net/auth/realms/che/.well-known/openid-configuration
{"issuer":"https://keycloak-default.bcmtdeb.dyn.nesc.net/auth/realms/che","authorization_endpoint":"https://keycloak-default.bcmtdeb.dyn.nesc.net/auth/realms/che/protocol/openid-connect/auth","token_endpoint":"https://keycloak-default

[2018-11-09 09:10] OonjuoO commented on #9929
Thanks

[2018-11-09 09:19] skabashnyuk commented on #11876
I was expecting output from ```curl -v http://.....``` to make sure you have correct headers in the response. However, I see where it's going. I think the reason is that code that looking for openid configuration doesn't follow redirects. Since it's permanent like http->https can you configure Eclipse Che to use destination url?

[2018-11-09 09:34] tsmaeder opened #11882 "Clean up dependencies on che-ls-jdt API in languageserver plugin"
Currently, the che-plugin-languageserver-ide depends on jdt.ls.extension.api. We should clean up this dependency and more Java-specific stuff to the java plugins.

[2018-11-09 09:38] tsmaeder opened #11883 "Move jdt.ls data dir to /projects"
We could simplify workspace configuration if we move the jdt.ls data directory to /projects/.che. We would have to check that anything in .che is ignored by the IDE.
Since the /projects directory is already mounted as a persistent volume, this might help in the case of OSIO.

[2018-11-09 09:41] ktdjun opened #11884 "About SSO using login authentication of Eclipse Che"
Using Eclipse Che's login authentication, launched on Che's Workspace
I would like to apply single sign-on to access applications.

I made the following correspondence to the application I am creating.

  1. In the application's source code, define the following script.
[code]
  2. Set the following parameters in keycloak.json.
[code]

With the above settings, single sign-on could be realized, but

[2018-11-09 09:45] skabashnyuk commented on #11884
Che version?

[2018-11-09 09:48] ktdjun commented on #11884
@skabashnyuk
I'm sorry,
The Eclipse Che version uses 6.8.0.

[2018-11-09 10:03] skabashnyuk commented on #11884
Please upgrade to 6.13 or above. I think https://github.com/eclipse/che/pull/11090 this may help you.

[2018-11-09 10:06] Katka92 opened #11885 "Change setting of openshift creds in tests"
### Description
It is not clear that openshift credentials like OPENSHIFT_USERNAME and OPENSHIFT_PASSWORD need to be set as envitonment variables.
While ADMIN and TESTUSER credentials are set via VM parameters (e.g. -Dche.testuser.username), it would be nice to have this option for openshift credentials as well.

[2018-11-09 10:21] jpkrohling commented on #10288
If there's anything you need regarding Jaeger, let me know.

[2018-11-09 10:43] OonjuoO commented on #11876
@skabashnyuk
The reason for this redirect is that I set up ssl-redirect in keycloak's ingress.yaml file, It‘s okay now, from the log of eclipse che, there is no problem to access the openid configuration.

But I have a problem loading the multiuser dashboard. When I access the elipse che UI, I am using admin/admin by default to access this, but the dashboard is always loading, not showing up. Coul

[2018-11-09 11:07] skabashnyuk commented on #11876
can you provide some logs, traces, screenshots?

[2018-11-09 11:54] skabashnyuk opened #11887 "Platform-2018-12-04 (Sprint: 158)"
### Features related to Devfile

- [ ] Implementation of local part of devfile feature | https://github.com/eclipse/che/issues/11832 | 8
- [x] Describe DevFile model via Json Scheme | https://github.com/eclipse/che/issues/11904 | 8
- [x]  Commands API for Workspace.Next | https://github.com/eclipse/che/issues/9546 | 13

### Features related to  Opentracing support for k8s / OpenShift infrastructur

[2018-11-09 11:58] #11457 closed

[2018-11-09 12:03] OonjuoO commented on #11876
@skabashnyuk
Here is the log from che-server:

Using embedded assembly...
Listening for transport dt_socket at address: 8000
2018-11-09 10:27:38,322[main]             [INFO ] [o.a.c.s.VersionLoggerListener 89]    - Server version:        Apache Tomcat/8.5.23
2018-11-09 10:27:38,326[main]             [INFO ] [o.a.c.s.VersionLoggerListener 91]    - Server built:          Sep 28 2017 10:30:11 UTC
201

[2018-11-09 12:20] skabashnyuk commented on #11876
So we ok or not?

[2018-11-09 12:29] OonjuoO commented on #11876
@skabashnyuk

As the dashboard is not showing up,  I am not sure where the problem comes from, is this because keycloak is not connecting to postgresql used by eclipse che instead used the mariadb?? Or coming from eclipse che itself??

[2018-11-09 12:37] skabashnyuk commented on #11876
can you share chrome dev tools console errors? Network errors.

[2018-11-09 12:41] l0rd commented on #11833
@garagatyi @sleshchenko not sure you have seen it but we had already started such discussion [here](https://github.com/eclipse/che/issues/11549)

[2018-11-09 12:53] Ohrimenko1988 commented on #11871
Done https://github.com/eclipse/che/pull/11874

[2018-11-09 12:53] #11871 closed

[2018-11-09 12:56] ibuziuk commented on #11242
[code]
Those metrics are really interesting and nice to have, but they will not really help from maintaining perspective. IMO, the most important metric that we could currently get is list of workspaces that are running more than X minutes (with info about user / namespace). I believe it should be the first usage metric exposed via Che Server API

[2018-11-09 12:57] OonjuoO commented on #11876
@skabashnyuk

Here is the devtools console output

<img width="769" alt="capture" src="https://user-images.githubusercontent.com/16017096/48263703-51152d80-e427-11e8-8375-1a6489ac2e2b.PNG">

[2018-11-09 13:13] OonjuoO commented on #11876
@skabashnyuk

The devtools shows a little bit different errors with Chrome and Firefox
Here is the screenshot from firefox

<img width="958" alt="capture" src="https://user-images.githubusercontent.com/16017096/48264394-a3574e00-e429-11e8-9b0e-d3e08f93750e.PNG">

[2018-11-09 16:47] riuvshin commented on #11872
I do not remember details but OpenJDK was the problem. (OracleJDK we are not even discussing here)
I think you are looking for proper JVM monitoring instead of doing manual analysis on prod inside a pod/container.

[2018-11-09 19:55] garrablanca commented on #11635
Hi guys,
Ok this is what I found out so far...
First every time you start the Eclipse Che service, it runs a bunch of checks to ensure everything is going smooth and it's available for the rest of the services to start, and it's here when we start having some issues since the **Load Balancer** only exposes ports 80, 8080 and 5050 (_because that's the way we configure it_) and also has a dependency

[2018-11-09 20:12] skabashnyuk commented on #11635
I would say you should look at OpenShift/Kubernetes infrastructure. Docker infrastructure is not scalable at all. It doesnt make sense to investigate it compatibility with AWS load balancer

[2018-11-10 03:43] timfreund opened #11891 "Python project syntax error (python 2.x vs 3.x)"
### Description

Che ships with a Python stack that includes Python 3.5.1 and pip 8.1.1, but the default Python content for new projects uses the Python 2.x print statement.

### Reproduction Steps

1. Install Che (I have installed via docker and from source)
2. Create a new Python workspace from the Quick Start list
3. Create a new Python project within the workspace.
4. Open main.py
5. Notice th

[2018-11-10 07:12] garagatyi commented on #11872
Now there is no way to analyze upstream Che thread dump or heap at all. Having proper monitoring is great but we are not yet and I'm not sure when we would be there (at least being able to do what JDK tools do).

[2018-11-10 08:39] eivantsov commented on #11891
Merged. @timfreund thanks

[2018-11-10 08:39] #11891 closed

[2018-11-11 00:18] monaka commented on #11853
I close this issue as #11878 was merged. Thanks for your powerful works.

[2018-11-11 00:18] #11853 closed

[2018-11-11 02:02] monaka opened #11893 "Uncaught (in promise) DOMException: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state."
### Description

It should not be uncaught expception.

### Reproduction Steps

Open new workspace.
But it may be caused by timing issues.

**OS and version:**

ChromeOS Version 70.0.3538.76 (Official Build) (64-bit)

Che nightly build.

**Diagnostics:**

[code]

[2018-11-11 14:45] skabashnyuk commented on #11872
why don't you run Che with custom che server image?

[2018-11-11 15:17] garagatyi commented on #11872
Because I never know beforehand when Che would get a weird state that worth investigation

[2018-11-11 17:02] skabashnyuk commented on #11872
doubt that we have a way to fix this

[2018-11-11 20:13] kevinherron commented on #11817
Also not working in Safari on iOS 12.1.

[2018-11-12 02:53] SharkJ commented on #11879
@skabashnyuk Thank you! I guess that is the correct command. But another error message is causing the command to run smoothly. I'll post the output below.

[code]

I do have a pom.xml file in my /projects directory. What is the cause for this error?

[2018-11-12 08:06] SharkJ commented on #11879
This is the output now,

[code]

I do not understand why it is saying there's no POM. I didn't do any modifications to the directory and the pom files are all there.

[2018-11-12 08:19] garagatyi opened #11895 "Make Che 7 plugins brokers cleanup non-conflicting"
### Description
In Che 7 brokering phase only one of the brokers cleans up existing plugins. But it might not be used in a workspace when plugins of a type supported by that broker are not enabled.
Also, another broker might start creating files before that broker starts cleaning them up and their actions would conflict.
We need to come up with another approach that would both cleanup plugins file

[2018-11-12 08:39] OonjuoO commented on #11876
@skabashnyuk

As you can see from the devtools of Chrome, the error is **401** unauthorized, the **websocket** is trying to connect with token, but I guess the **token** is not the right one?? Also this token should not come from **keycloak**, this should be automatically retrieved from somewhere when the che is up?

So I am wondering where this ws things is getting this token? And why should come

[2018-11-12 08:42] Ohrimenko1988 opened #11896 "Cover by selenium test the canceling refactor functionality"
### Description
We have improvement of the refactor feature. Please take a look PR with description:
https://github.com/eclipse/che/pull/11886
We should cover this changes by selenium test.

[2018-11-12 08:51] SharkJ commented on #11879
I again followed the exact commands that you've given. Yet, I get the same error over and over again.  Can it be something wrong with the settings of my computer? I have changed the file permissions for the directories to have write permission.

[2018-11-12 08:55] benoitf commented on #11879
@SharkJ do you have enabled the sharing of `D:/che-samples/che-ide-server-extension`  on File Sharing settings of your Docker Desktop for windows

[2018-11-12 09:18] SharkJ commented on #11879
@benoitf I have enabled sharing of the C and D drives, if you are meaning in such terms. Is there another way to enable sharing in Docker?

![docker](https://user-images.githubusercontent.com/23653853/48337817-06472000-e68a-11e8-8b93-f974e42cec44.png)

[2018-11-12 09:41] Ohrimenko1988 opened #11897 "Unexpected fail of "TheiaBuildPluginTest" selenium test"
### Description
We have unexpected fail of "TheiaBuildPluginTest" selenium test. It looks like something went wrong with a method which checks of suggestion popup displaying. We should investigate and resolve this problem.
**Log:**
[code]

**Report with a reproduced problem:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/425/Selenium_20tests_20report/

[2018-11-12 09:42] ktdjun commented on #11884
@skabashnyuk
Thank you for your response.

I will try it with Eclipse Che 6.13 or higher. I will also confirm the description in # 11090.
For now, I will close the issue.

[2018-11-12 10:40] dkuleshov commented on #10524
Yeah, seems like golang language server delegates renaming to `gorename` tool which conforms to golang project structure ideology which in turn does not align with such in eclipse che. At the moment there is no possibility to separately configure the tool to use custom project path, while in the other hand it is also not possible to change eclipse che workspace file system structure the way the to

[2018-11-12 10:52] #10480 closed

[2018-11-12 10:58] SharkJ commented on #4399
Hi @chetanladdha, could you please explain how you achieved enabling custom syntax highlighting for your Xtext DSL?

[2018-11-12 11:06] tsmaeder opened #11900 "Code Documentation Standards for Theia Code"
Right now, we have widely varyging standards for documenting our code in the Theia repository. A _lot_ of code, in particular in the plugins area is undocumented. This makes it hard for people to understand and contribute to this code.
The goal would be to gather input from stakeholders and to define a minimum standard on what must be documented and how.

it is an open question whether this standa

[2018-11-12 11:18] skabashnyuk commented on #11876
@OonjuoO this is how it configured https://www.eclipse.org/che/docs/authentication.html#openid

[2018-11-12 11:18] #10524 closed

[2018-11-12 11:20] skabashnyuk commented on #11876
Can you also share che version and che startup command and changed parameters in configuration.

[2018-11-12 11:42] skabashnyuk opened #11902 "Upgrade depenendecies"
### Description
To avoid security vulnerabilities I would like to upgrade such libraries
[code]

Reference https://github.com/eclipse/che-parent/pull/78

[2018-11-12 11:59] tsmaeder commented on #11869
@apupier is this reproducible?

[2018-11-12 12:05] tsmaeder opened #11903 "Languages Sprint 158 (K-3)"
# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 8 | 5 | 8
@tolusha | 12 | 7 | 7
@svor | 15 | 9  | 9
@vrubezhny | 14  | 8  | 8
@JPinkney | 3d | 2d | 3d

# Candidate issues
- [ ] The plain java project is not detected after importing from github #11516 (3d) @tsmaeder
- [ ] Provide Plugin API for contributing Debug Adapters https://github.com/theia-ide/theia/issues/2990

[2018-11-12 12:33] tsmaeder commented on #11468
@benoitf my suggestion is a conceptual one, not literal. Changes are left as an exercise to the reader.

[2018-11-12 12:34] sleshchenko opened #11904 "Create a JSON-schema for the Devfile"
### Description
Create a JSON-schema for the Devfile.
It's a well-known standard for defining data formats. It will help with the discussion and allows to generate doc and API source code too.

[2018-11-12 12:38] sleshchenko commented on #11832
@l0rd @skabashnyuk @mshaposhnik
FYI I've created a separate issue for creating JSON-schema for Devfile https://github.com/eclipse/che/issues/11904

[2018-11-12 12:50] Ohrimenko1988 commented on #11897
Done https://github.com/eclipse/che/pull/11899

[2018-11-12 12:50] #11897 closed

[2018-11-12 12:55] sleshchenko opened #11906 "An ability to specify Kubernetes/OpenShift List as tool in Devfile"
### Description
To start quicker it was decided to start with Devfile that will contain editor and plugins only.
But it is needed to add an ability to specify workspace environment in Devfile.
This issue is about changing Devfile model to be able to handle Kubernetes/OpenShift tool.
<details>
<summary>
# An example of Devfile with Kubernetes/OpenShift tool specified
</summary>

[code]
</details>

[2018-11-12 13:01] dkuleshov opened #11907 "Fix rename operation availability for golang language server"
According to this issue https://github.com/eclipse/che/issues/10524 currently we are unable to provide a proper fix for golang rename operation, so probably it would be okay to disable the rename operation for golang language server until the solution is found.

FYI @dmytro-ndp

[2018-11-12 13:03] #10784 closed

[2018-11-12 13:04] #11754 closed

[2018-11-12 13:06] OonjuoO commented on #11876
@skabashnyuk

I am using the officially published helm chart to install eclipse che on kubernetes, but the helm chart is pulled around 2 months, not the latest one.  What I change, is only the keycloak authurl to our own keycloak(created the same che and che-public client, also admin/admin user).

I tried to get the token using:
curl --data "grant_type=password&client_id=che-public&username=admin&

[2018-11-12 13:15] OonjuoO commented on #11876
@skabashnyuk

I tried change the che server image to 6.13.0, but go similar error
Token validation failed: Error during the retrieval of the public key during JWT token validation

[2018-11-12 13:20] apupier commented on #11869
@tsmaeder I tried 2 times and it occured 2 times

[2018-11-12 13:36] garagatyi commented on #9546
I'm OK with either way because I don't have strong opinion on that at the moment.

[2018-11-12 13:36] garagatyi commented on #9546
Feel free to use this issue for the scope you are tackling.

[2018-11-12 13:56] l0rd commented on #11904
@sleshchenko I have moved devfile to https://github.com/redhat-developer/devfile

[2018-11-12 14:27] dmytro-ndp opened #11910 "Aggregate results of re-running E2E flaky tests in the single Selenium tests report"
### Description
Current test reports are confusing because they show a couple passed tests from rerun and couple failed. For example, [here](https://ci.codenvycorp.com/view/pr-builds/job/che-pullrequests-test-ocp/1145/Selenium_20tests_20report/) we had 1 test failed from 624, but report had actually shown 1 test failed from 20 re-run tests, which was confusing.

We need to aggregate Selenium test

[2018-11-12 14:49] Ohrimenko1988 opened #11911 "Get rid of redundant methods in the "SeleniumWebDriverHelper" class"
### Description
We have redundant methods which became with changes from "jdt ls" branch. For example:
[code]
this methods leads to "StaleElementReferenceException" and "ElementNotFound" exceptions.
The "SeleniumWebDriverHelper" class already has existed method
"String SeleniumWEbDriverHelper#waitVisibilityAndGetText(WebElement webElement, int timeout)"
which created with using experience of avoid

[2018-11-12 14:51] apupier opened #11912 "Provide warning/errors when two projects with same artifactid are present in the same workspace"
### Description

I imported https://github.com/RedHatWorkshops/dayinthelife-integration/tree/master/projects using a Che java stack using Che 6.13.1 (was reported to me also with 6.9) using this commit https://github.com/RedHatWorkshops/dayinthelife-integration/commit/82919e47354aea6833b22d9b58caedf14ad22640

the module is recognized as a Maven project, the java folder seems to be recognized
there