[2022-02-03 16:06] amisevsk commented on #21114
Oddly, I'm able to reproduce it fairly consistently with the Go sample, but not the Python one. I'm looking into it.

[2022-02-03 16:34] olexii4 opened #21121 "Workspace status failed after conversion"
### Describe the bug

Workspace status failed after conversion if you try to convert workspaces that were created from these samples:

 - [quarkus](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/quarkus/devfile.yaml)
 - [java-gradle](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/java-gradle/devfile.yaml)
 - [dotnet](https://raw.g

[2022-02-03 16:44] benoitf commented on #21121
I think you should provide .yaml/gist files of the devfiles in addition to the screenshot

[2022-02-03 16:45] benoitf commented on #21120
I think you should provide .yaml/gist files of the devfiles in addition to the screenshot

[2022-02-03 17:05] #21088 closed

[2022-02-03 17:47] azatsarynnyy commented on #19626
The solution was implemented within the https://github.com/che-incubator/jetbrains-editor-images/pull/78

[2022-02-03 17:47] #19626 closed

[2022-02-03 18:09] azatsarynnyy opened #21122 "Disable the built-in telemetry reporter in Che-Code"
### Is your enhancement related to a problem? Please describe

The built-in telemetry reporter is enabled by default in Che-Code:

![image](https://user-images.githubusercontent.com/1636395/152402212-2d5bffe3-16f7-4ef3-8e84-f7b5a140d35a.png)

This may be unacceptable for some users.

### Describe the solution you'd like

Need to make it disabled out of the box.

### Describe alternatives you've co

[2022-02-03 18:42] l0rd commented on #20861
@azatsarynnyy thanks. I have updated the title and the[ release notes](https://github.com/eclipse/che/releases/tag/7.43.0).

[2022-02-03 18:53] l0rd commented on #21063
I think it's ok but what image is used if it's not UDI?

[2022-02-03 20:36] jvaidyan commented on #21112
@tolusha
Looks like the cert manager pods are failing with Img pull error

8m11s       Normal    Pulling          pod/cert-manager-webhook-7c9588c76-j7j6d      Pulling image "quay.io/jetstack/cert-manager-webhook:v1.5.3"
8m11s       Warning   Failed           pod/cert-manager-webhook-7c9588c76-j7j6d      Failed to pull image "quay.io/jetstack/cert-manager-webhook:v1.5.3": rpc error: code = Unknown

[2022-02-03 23:01] devstudio-release commented on #20884
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2711

[2022-02-03 23:02] devstudio-release commented on #20861
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2712

[2022-02-03 23:02] devstudio-release commented on #20831
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2713

[2022-02-03 23:02] devstudio-release commented on #20622
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2714

[2022-02-04 00:03] barrygear commented on #20984
I've been having this issue with clusters created in AWS EKS. Verified that the Dex installation is correct. It creates the namespace with the user name but then fails while checking for the Secret. I've given ClusterAdmin to all forms of claims from Dex and its clearly not using any of them. aws eks 1.21, dex 2.30.0, che 7.43.0, using che operator, and dev-workspace.

[2022-02-04 04:33] gazarenkov commented on #12215
I believe this one is not actual anymore. Feel free to reopen otherwise.

[2022-02-04 04:33] #12215 closed

[2022-02-04 04:40] gazarenkov commented on #14639
@amisevsk @skabashnyuk still actual or can be closed?

[2022-02-04 04:42] gazarenkov commented on #14939
@metlos @skabashnyuk still actual or can be closed?

[2022-02-04 04:48] gazarenkov commented on #15021
Does not look like che-server's issue anymore. Removing related labels and P1 priority.

[2022-02-04 04:54] gazarenkov commented on #15348
@l0rd Is it still related to che-server ?

[2022-02-04 05:00] gazarenkov commented on #15532
@amisevsk still actual?

[2022-02-04 05:11] gazarenkov commented on #17032
@skabashnyuk still actual?

[2022-02-04 05:23] gazarenkov commented on #21037
@jegithubpro Would you mind to switch to the newer version?
There are no chance to have this issue fixed for 7.18
Feel free to reopen if you can see it on the newer.

[2022-02-04 05:23] #21037 closed

[2022-02-04 05:37] gazarenkov commented on #19258
@flacatus @skabashnyuk is it still actual?

[2022-02-04 05:49] gazarenkov commented on #19367
@skabashnyuk is it an actual che-server related issue?

[2022-02-04 06:17] #21087 closed

[2022-02-04 06:47] tolusha commented on #21112
That's strange. Could you pull that image from your localhost ?

[2022-02-04 07:01] tolusha commented on #20941
WON'T FIX
Backup/Restore is flaky and doesn't works with DevWorkspace
Decommissioned by https://github.com/eclipse/che/issues/21006

[2022-02-04 07:01] #20941 closed

[2022-02-04 07:02] tolusha commented on #20940
WON'T FIX
Backup/Restore is flaky and doesn't works with DevWorkspace
Decommissioned by https://github.com/eclipse/che/issues/21006

[2022-02-04 07:02] #20940 closed

[2022-02-04 07:02] tolusha commented on #20836
WON'T FIX
Backup/Restore is flaky and doesn't works with DevWorkspace
Decommissioned by https://github.com/eclipse/che/issues/21006

[2022-02-04 07:02] #20836 closed

[2022-02-04 07:02] tolusha commented on #20851
WON'T FIX
Backup/Restore is flaky and doesn't works with DevWorkspace
Decommissioned by https://github.com/eclipse/che/issues/21006

[2022-02-04 07:02] #20851 closed

[2022-02-04 07:43] benoitf commented on #21067
closing as new library has been integrated.

[2022-02-04 07:43] #21067 closed

[2022-02-04 07:51] sunix commented on #15021
@gazarenkov the fact that it should be assigned to another team shouldn't change the priority of a feature.

[2022-02-04 08:05] ibuziuk commented on #21063
It is theia.
Workspace pod would only contain theia, exec and gateway containers for those 2.2 samples

[2022-02-04 08:22] l0rd commented on #21063
Oh ok, that's fine I think although at some point we want to run Theia on the dev container too. I don't know if we have an issue for that. cc @benoitf @azatsarynnyy

[2022-02-04 08:34] tolusha commented on #21106
Will be fixed by https://github.com/che-incubator/chectl/pull/2007/files

BTW. You have some extra steps to deploy Eclipse Che + DW

It is not needed. chectl does it itself. Make sure you use next version of chectl (chectl update next)

You can omit it. DevWorkspace is enabled by default

That's strange. Why do you need to deploy Eclipse Che in `openshift-operators` namespace?
If you omit it, then

[2022-02-04 08:37] benoitf commented on #21063
the devfile samples have `tools` container
the one in 4.8/4.9 had https://github.com/devfile-samples/devfile-sample-code-with-quarkus/blob/501e68462dbda71f5bf242879d7cd6ebdfbd8adc/devfile.yaml#L31-L41

[2022-02-04 08:39] benoitf commented on #21063
so I wanted to know how the check was done ?
from openshift console or trying directly from current state of https://registry.devfile.io/viewer ?

[2022-02-04 08:56] skabashnyuk commented on #14639
Closing since these metrics are no longer relevant for devworkspaces.

[2022-02-04 08:56] #14639 closed

[2022-02-04 08:56] skabashnyuk commented on #14939
No longer relevant for devworkspaces.

[2022-02-04 08:56] #14939 closed

[2022-02-04 08:58] #17032 closed

[2022-02-04 08:59] skabashnyuk commented on #19367
No longer relevant for devworkspaces.

[2022-02-04 08:59] #19367 closed

[2022-02-04 08:59] skabashnyuk commented on #19720
Not possible to fix in general and is not relevant for devworkspaces.

[2022-02-04 08:59] #19720 closed

[2022-02-04 09:00] skabashnyuk commented on #19877
Not relevant for devworkspaces.

[2022-02-04 09:00] #19877 closed

[2022-02-04 09:02] skabashnyuk commented on #20310
@amisevsk do you know if for devworkspace it's possible to configure image pull secrets?

[2022-02-04 09:06] skabashnyuk commented on #20499
The general recommendation is to use OAuth for private repositories access.

[2022-02-04 09:06] #20499 closed

[2022-02-04 09:10] benoitf commented on #14939
could you explain why it's not relevant for DevWorkspaces ?
AFAIk postgreSQL database is still there

[2022-02-04 09:16] skabashnyuk commented on #20781
Closing since https://github.com/eclipse-che/che-operator/pull/1200 merged.

[2022-02-04 09:16] #20781 closed

[2022-02-04 09:19] skabashnyuk commented on #20991
Blocked by this https://github.com/fabric8io/kubernetes-client/issues/3582 .

[2022-02-04 09:27] tolusha commented on #21001
It is possible to easily update chectl to a specific version to deploy a corresponding version of Eclipse Che.
(For linux)
1. Download chectl
[code]
2. Update to chectl from a local repository
`chectl update --from-local` and select a desired version

Having this I believe when can drop `--version` flag to simplify codebase

[2022-02-04 09:27] tolusha commented on #21001
/cc @l0rd

[2022-02-04 09:35] skabashnyuk commented on #18068
The general direction is to use k8s objects, I don't think it makes sense to improve the User preferences API.

[2022-02-04 09:35] #18068 closed

[2022-02-04 09:36] KOSSOKO opened #21123 "Update all workspaces ingress"
### Summary

Hello we use che 7.18.0 and we integrated Jupyter for our scientists.
We noticed that the Jupyter has by default a limitation for upload. When we drag and drop or use upload button, we can't upload more than 20Ko.

To correct it, the solution founded is to add in the ingress file the nginx property `nginx.ingress.kubernetes.io/proxy-body-size: 8m`...

When i update the che and plugin-

[2022-02-04 09:41] skabashnyuk commented on #19027
@ibuziuk is it makes sense to keep this issue open? Do you have any plans for it?

[2022-02-04 09:42] skabashnyuk commented on #19225
Looks like it is already fixed. If you think it is still up to data - please let us know.

[2022-02-04 09:42] #19225 closed

[2022-02-04 09:43] skabashnyuk commented on #19258
can't reproduce.

[2022-02-04 09:43] #19258 closed

[2022-02-04 09:45] skabashnyuk commented on #19550
won't fix.

[2022-02-04 09:45] #19550 closed

[2022-02-04 09:47] skabashnyuk commented on #20131
no way to fix it for che7 workspaces. Not relevant for devworkspaces.

[2022-02-04 09:47] #20131 closed

[2022-02-04 09:49] skabashnyuk commented on #20240
Fixed for operator https://github.com/eclipse-che/che-operator/pull/1301

[2022-02-04 09:49] #20240 closed

[2022-02-04 09:54] skabashnyuk commented on #20334
Works for me devworkspace mode.

[2022-02-04 09:54] #20334 closed

[2022-02-04 10:00] ibuziuk commented on #21063
Well, I used the factory link against the dogfooding instance with 2.2 samples for verification e.g. #https://github.com/nodeshift-starters/devfile-sample

https://registry.devfile.io/viewer/devfiles/Community+java-quarkus

@benoitf my understanding was that this issue is about 2.2 devfiles with `kubernetes` and `image` componets available on https://registry.devfile.io/viewer as samples

![image]

[2022-02-04 10:03] skabashnyuk commented on #20572
Duplicated https://github.com/eclipse/che/issues/21014  fixed in https://github.com/eclipse-che/che-server/pull/243

[2022-02-04 10:03] #20572 closed

[2022-02-04 10:06] #20613 closed, assigned to nobody

[2022-02-04 10:07] skabashnyuk commented on #20789
can't reproduce.

[2022-02-04 10:07] #20789 closed

[2022-02-04 10:08] skabashnyuk commented on #20936
Closing. I don't think we need an epic for that.

[2022-02-04 10:08] #20936 closed

[2022-02-04 10:09] skabashnyuk commented on #20937
Closing. I think it is better to set up this data explicitly.

[2022-02-04 10:09] skabashnyuk commented on #20938
Closing. I think it is better to set up this data explicitly.

[2022-02-04 10:11] skabashnyuk commented on #21015
fixed in https://github.com/eclipse-che/che-server/pull/245

[2022-02-04 10:11] #21015 closed

[2022-02-04 10:22] ibuziuk commented on #21063
@benoitf ok, I think I got what you mean - `2.2` sample devfile is referring [1]  `2.0` devfile as parent https://registry.devfile.io/devfiles/nodejs and it is expected to be resolved correctly - https://registry.devfile.io/devfiles/nodejs

I'm not sure if we ever verified this flow cc: @olexii4 @akurinnoy

@benoitf @l0rd is it in general supported flow to have a 2.0 parent for 2.2 devfile? how sh

[2022-02-04 10:29] l0rd commented on #15348
@gazarenkov I don't think so. I think that's more dashboard now cc @ibuziuk @skabashnyuk

[2022-02-04 10:33] l0rd commented on #21063
I don't think that's a bug, the spec allows that, but it would be better to update the parents versions yes.

[2022-02-04 10:54] l0rd commented on #21001
@tolusha does the `--version` work for 7.42 and above (devworkspace based versions)? Or even `--version 7.42` doesn't work?

[2022-02-04 10:57] ibuziuk commented on #21098
@amisevsk thank you for the investigation, it looks like UD ignores `parent` atm. Could you please clarify if the DevWorksapce Operator currently supports parent ref by id e.g.

kind: DevWorkspace
apiVersion: workspace.devfile.io/v1alpha2
metadata:
  name: devfile-parent-test
spec:
  template:
    projects:
      - name:
      ...
    parent:
      id: nodejs
      registryUrl: "https://registry.d

[2022-02-04 10:58] martinelli-francesco commented on #21097
Just installed the 7.43.0 and unfortunately the issue persists.
In the following the http requests sequence:
![immagine](https://user-images.githubusercontent.com/73704422/152517427-17799116-e027-4ca6-a4a0-ff0105cfbd53.png)

As you can see the external OIDC sign out redirect is missing as already described.

[2022-02-04 11:52] azatsarynnyy commented on #20500
added
- https://github.com/eclipse/che/issues/21122

[2022-02-04 11:55] azatsarynnyy commented on #20591
added
- https://github.com/eclipse/che/issues/21116
- https://github.com/eclipse/che/issues/21100
- https://github.com/eclipse/che/issues/21110

[2022-02-04 12:48] skabashnyuk commented on #14939
It makes sense to remove it. not to fix it.

[2022-02-04 13:04] nils-mosbach commented on #21085
@benoitf  While digging a little deeper it seems that che-code devworkspace-handler works as expected and removes the `runtime-description` from the devworkspace-template before passing to the dashboard-backend.

![image](https://user-images.githubusercontent.com/15126675/152531270-87fc6239-f8f8-481b-b58e-85b6e6d31628.png)

after the command is executed, devworkspace template is the same on kubern

[2022-02-04 13:04] #20996 closed

[2022-02-04 13:10] ibuziuk commented on #21098
Looks like it is failing currently with

[code]

basically, DWO controller tries to resolve

[code]

as  https://registry.devfile.io/nodejs whereas the actual link is https://registry.devfile.io/devfiles/nodejs

[2022-02-04 13:20] benoitf commented on #21085
thanks for the heads up

On the first startup of the workspace, is that DevWorkspaceTemplate contains the che-code-runtime-description or not ?

maybe devWorkspaceHandler cleanup some entries but it's not the one that is sent to the DevWorkspace Operator

so on the first startup, DevWorkspaceTemplate should be without "che-code-runtime-description" (the handler should have remove the entry and add

[2022-02-04 13:23] jvaidyan commented on #21112
Yes, able to pull those images in localhost

On Fri, Feb 4, 2022 at 1:47 AM Anatolii Bazko ***@***.***>
wrote:

--
Regards
Jacob Vaidyan

[2022-02-04 13:29] tolusha commented on #21001
To  support `--version 7.42.0`, I need to keep some code related to backup/restore, which has been removed here https://github.com/che-incubator/chectl/pull/1996
So, answer is No now.

If we decide to support it, then I will need to keep codebase related to different versions of CheCluster  (https://github.com/eclipse/che/issues/20758), which I would like to avoid

[2022-02-04 13:36] ibuziuk commented on #21063
@l0rd another thing that looks inconsistent is the parent reference.

[code]

DevWorkspace controller tries to resolve it to https://registry.devfile.io/nodejs which is 404.
The correct link is https://registry.devfile.io/devfiles/nodejs

IMO, `registryUrl` defined in 2.2 samples should be `https://registry.devfile.io/devfile` which would be more straightforward and compatible with DWO. We can han

[2022-02-04 13:41] svor commented on #20800
Works on https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/ instance

![screenshot-che-dogfooding apps che-dev x6e0 p1 openshiftapps com-2022 02 04-11_11_48](https://user-images.githubusercontent.com/1271546/152538447-66b604d8-6dee-484d-b10c-f38f34e048a2.png)

[2022-02-04 13:41] #20800 closed

[2022-02-04 13:59] skabashnyuk commented on #21123
Try experement with `CHE_INFRA_KUBERNETES_INGRESS_ANNOTATIONS__JSON`  see more https://www.eclipse.org/che/docs/che-7/installation-guide/advanced-configuration-options-for-the-che-server-component/

[2022-02-04 14:04] azatsarynnyy opened #21124 "Disable the built-in data sharing in Che-IDEA"
### Is your enhancement related to a problem? Please describe

Each time the user starts Che-IDEA, she has to accept/reject the `Data Sharing`:

![image](https://user-images.githubusercontent.com/1636395/152538966-9cdef54a-e167-41ab-82c1-de5a8bac26b8.png)

It's a redundant step that can be omitted.

### Describe the solution you'd like

Avoid asking the user about the data sharing - disable it.

#

[2022-02-04 14:04] azatsarynnyy commented on #21124
fixed by https://github.com/che-incubator/jetbrains-editor-images/pull/81

[2022-02-04 14:04] #21124 closed

[2022-02-04 14:14] nils-mosbach commented on #21085
The first startup is fine. As long as che-dashboard is not restarted, everything keeps working.

The issue is caused in the editor update routine of the dashboard:

https://github.com/eclipse-che/che-dashboard/blob/f9c2a7c087871c6095b033729c51729f779f252c/packages/dashboard-frontend/src/services/bootstrap/index.ts#L190-L212
[code]

This will override all template files by their default settings as

[2022-02-04 14:17] #21116 closed

[2022-02-04 14:18] benoitf commented on #21085
ok I think this logic was added to handle "automatic updates" of the DevWorkspace templates when upgrading to a newer che version.

[2022-02-04 14:18] KOSSOKO commented on #21123
Hello @skabashnyuk we use helm to deploy our che. I don't really know where to put the key you mentioned above.

[2022-02-04 14:39] #20787 closed

[2022-02-04 14:44] amisevsk commented on #15532
This issue can probably be closed; once DWO is used as default detecting failure events will be the job of DWO, not Che server.

[2022-02-04 14:44] #15532 closed

[2022-02-04 14:44] amisevsk commented on #15532
If a similar problem arises, a new issue should be created in github.com/devfile/devworkspace-operator.

[2022-02-04 14:48] amisevsk commented on #21106
The reason I was installing the DWO catalogsource/operator was because I wanted to run my own development version of DWO to debug something (I change the CSV, etc. after the fact and scale down the DWO deployment so that I can debug). Thanks for the advice, though -- I was mostly just using a chectl command from my shell history :). Deploying everything in `openshift-operators` is mostly to make i

[2022-02-04 14:51] amisevsk commented on #20310
For DevWorksapce Operator, the flow we have in place is documented [here](https://github.com/devfile/devworkspace-operator/blob/main/docs/additional-configuration.md#adding-image-pull-secrets-to-workspaces). However, I haven't tested it thoroughly very recently.

What DWO does with such a secret is as described by @sparkoo -- we add it to the workspace serviceaccount.

[2022-02-04 14:57] wbondarchuk opened #21125 "Problems with Certificates on Minikube Eclipse Che"
### Summary

I installed Eclipse Che using Minikube
chectl server:deploy --platform minikube --installer operator
Everything seemed to be good but when I click on the link I get error 503.
I received the certificate and added it to the browser using the command
chectl cacert:export —destination=/home/vladimir/Downloads
Eclipse Che self-signed CA certificate is exported to /home/vladimir/Downloads/

[2022-02-04 14:59] amisevsk commented on #19027
IMO this issue can be closed. What we talk about with "phases of workspace start" is completely different under DWO (and there should be at least some info immediately in that case).

[2022-02-04 15:04] #21106 closed

[2022-02-04 15:48] ibuziuk commented on #21063
@amisevsk probably we will need to support `/devfiles` path in DWO - https://github.com/johnmcollier/registry-docs/blob/main/registry-REST-API.adoc#gets-registry-stack-devfile
this is a personal rep with docs, but is linked from https://devfile.io/getting-started#Technology_and_Tools_Builders+Getting_Started

[2022-02-04 16:03] nils-mosbach commented on #21067
@benoitf Tried with `main` branch and issue still exists.

Problem is that checks are handled in che-dashboard.
https://github.com/eclipse-che/che-dashboard/blob/f9c2a7c087871c6095b033729c51729f779f252c/packages/dashboard-frontend/src/services/devfileApi/typeguards.ts#L26-L28

Previously che-dashboard generated a name if `generateName` was given.  Not sure why this was limited to older devfiles.

[2022-02-04 16:19] l0rd commented on #21001
Ok I agree with you.

Instead of removing `--version`, can we keep it but return an error and print the message with the "workaround" or pointing to the doc if someone specify it?

[2022-02-04 16:57] amisevsk commented on #21098
DWO supports the same reference types as it does for plugins (registry + ID, URI, and DWT within the cluster).

However, the devfile/api specification is not explicit in how `registryURL` should be handled. For safety, the DevWorkspace Operator defaulted to using `url := <registryURL>/<id>`, as allows using `id` with anything that looks like a registry. It seems like the expected format in the lin

[2022-02-04 17:35] l0rd commented on #15021
@sunix now, from the workspace, you should have always access to the k8s API and with a command like the following one you should be able to get the external hostname:

[code]

[2022-02-04 18:23] amisevsk commented on #21063
There's the doc I was looking for :)

https://github.com/devfile/devworkspace-operator/pull/770

I agree that it makes more sense to have the registryUrl just be `https://registry.devfile.io/devfiles` but if this is the expected convention then we can accomodate it.

[2022-02-05 13:35] tsadigovAgmail commented on #21076
no luck
I am trying to set up a k8s cluster to try there

[2022-02-05 23:04] dmytro-ndp commented on #21125
Issue has been reproduced in https://github.com/eclipse-che/che-plugin-registry/actions/runs/1800124531:
[Eclipse Che logs (rhel).zip](https://github.com/eclipse/che/files/8009086/Eclipse.Che.logs.rhel.zip)
[Happy path test report (rhel).zip](https://github.com/eclipse/che/files/8009087/Happy.path.test.report.rhel.zip)

https://user-images.githubusercontent.com/1197777/152661888-e3c30762-dbae-487d

[2022-02-05 23:12] dmytro-ndp commented on #20986
@l0rd: Happy path tests on ubuntu minikube had failed [1] because Eclipse Che Next main page returned `503 Service Temporarily Unavailable` error [2].

@tolusha: could you take a look, please?

[1] https://github.com/eclipse-che/che-plugin-registry/actions/runs/1800124531
[2] #21125

[2022-02-05 23:58] dmytro-ndp opened #21126 "Empty page and "Unauthorized! Configured service account doesn't have access" server error after login to Che on minikube as Dex user"
### Describe the bug

Empty page and "Unauthorized! Configured service account doesn't have access" server error when try to login to Eclipse Che on minikube as "che@eclipse.org", "user1@che" Dex users.

### Che version

next (development version)

### Steps to reproduce

1. Install minikube v1.25.1
2. Execute `minikube start --vm-driver=docker --addons=ingress --cpus 2 --memory 6500`
3. Create ec

[2022-02-06 06:55] #19027 closed

[2022-02-06 06:56] #20310 closed

[2022-02-06 08:04] benoitf commented on #20986
@dmytro-ndp did you try with other minikube versions ? ( More recent
https://github.com/eclipse-che/che-plugin-registry/blob/main/.github/workflows/happy-path.yaml#L85

Also you may try to use the 'stable' channel of chectl to continue your investigation ( tmp workaround)

[2022-02-06 11:11] dmytro-ndp opened #21127 "Adapt GitHub action in Che-Theia repo to run PR check Happy path tests against DevWorkspace"
### Is your task related to a problem? Please describe

There is [PR check Happy path test GitHub action](https://github.com/eclipse-che/che-theia/blob/main/.github/workflows/happy-path-tests.yaml), which is using minikube to deploy Eclipse Che.

We need to be updated them to run DevWorkspace Happy path tests, after switch to DevWorkspace.

In particular, there should be devfile v2 used to run the

[2022-02-06 11:53] dmytro-ndp opened #21128 "'namespaces "eclipse-che" not found' error of "chectl server:deploy" command on minikube v1.25.1"
### Describe the bug

`chectl server:deploy` command failed on minikube **v1.25.1** when try to create ServiceAccount "che-operator":
https://github.com/eclipse-che/che-plugin-registry/runs/5083084894
[code]

### Che version

next (development version)

### Steps to reproduce

1. Install minikube v1.25.1
2. Execute `minikube start --vm-driver=docker --addons=ingress --cpus 2 --memory 6500`
3. Down

[2022-02-06 12:03] dmytro-ndp commented on #20986
@benoitf: thanks for the tips!

#21125 issue has been reproduced with Eclipse Che Stable (7.43.0), deployed by [chectl 7.43.0](https://github.com/che-incubator/chectl/releases/download/7.43.0/chectl-linux-x64.tar.gz): https://github.com/eclipse-che/che-plugin-registry/runs/5083149233?check_suite_focus=true

There were other errors in latest minikube version v1.25.1:
- #21126
- #21128

[2022-02-06 13:07] sunix commented on #15021
@l0rd ok, still, having it in env variables would be nice.

[2022-02-06 13:53] wbondarchuk commented on #20986
I installed version 1.21.0, but it didn't solve the 503 error problem(https://github.com/eclipse/che/issues/21125)

[2022-02-07 06:32] skabashnyuk commented on #21123
That is an environment variable of che server.

[2022-02-07 08:43] tolusha commented on #21125
@dmytro-ndp
I haven't tried minikube v1.21.1 but I am prety sure it should work with v.23.2 and  1.24.0

[2022-02-07 09:01] #21110 closed

[2022-02-07 09:56] KOSSOKO commented on #21123
Hello @skabashnyuk, I found where to add the env variable `CHE_INFRA_KUBERNETES_INGRESS_ANNOTATIONS__JSON: '{"nginx.ingress.kubernetes.io/proxy-body-size":"256m"}'` but when i update the config map of che with `kc edit cinfigmap -n che -o yaml` to add this property, new workspaces are created without the property.

Is there any way to patch the che ? We use che 7.18, with helm for deployment.

[2022-02-07 10:26] ibuziuk commented on #21114
I still have this problem with ` spec.template.spec.initContainers[0].volumeMounts[0].name: Not found: "projects"` against `python-hello-world` getting started

[2022-02-07 10:32] KOSSOKO commented on #21123
Ok, I just edit the config map, delete the che pod and it works.
Thanks

[2022-02-07 10:32] #21123 closed

[2022-02-07 10:32] l0rd commented on #21114
I have it against any getting started

[2022-02-07 10:38] ibuziuk commented on #21114
setting the blocker priority for 7.44

[2022-02-07 10:54] dmytro-ndp commented on #21069
The issue is reproduced in CRW 2.15.0 based on Eclipse Che 7.42.x:
![Screenshot from 2022-02-07 12-54-09](https://user-images.githubusercontent.com/1197777/152774952-79dc0407-ad43-4248-a42e-7c7032fd6cab.png)

[2022-02-07 10:57] #20688 closed

[2022-02-07 11:04] #20686 closed

[2022-02-07 11:16] #21100 closed

[2022-02-07 11:17] olexii4 commented on #21120
@benoitf I have added links to the issue description:
- [apache-camel-k](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/apache-camel-k/devfile.yaml)
- [che4z](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/che4z/devfile.yaml)
- [rust](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/rust/devfile.yam

[2022-02-07 11:21] azatsarynnyy opened #21129 "Filter the containers list when opening a terminal in Che-Code"
### Is your enhancement related to a problem? Please describe

When the user tries to open a terminal to a container, she is asked to choose it from the list:
![image](https://user-images.githubusercontent.com/1636395/152778215-5534392c-a6eb-415f-9024-da01f93ae4c0.png)

Some of these containers are useless in this list.
This was one of the most confusing UX issues for the Che-Theia users. So, it m

[2022-02-07 11:32] olexii4 commented on #21121
@benoitf I have added links to the issue description:

 - [quarkus](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/quarkus/devfile.yaml)
 - [java-gradle](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/java-gradle/devfile.yaml)
 - [dotnet](https://raw.githubusercontent.com/eclipse-che/che-devfile-registry/main/devfiles/dotnet/devfi

[2022-02-07 11:35] azatsarynnyy opened #21130 "Provide a way to navigate to Che Dashboard from Che-Code"
### Is your enhancement related to a problem? Please describe

When the user has opened Che-Code editor and has closed the page with Che Dashboard it may require several extra steps to navigate to the Dashboard.
It can be much simpler if Che-Code provides a command to navigate to Che Dashboard.

### Describe the solution you'd like

Add the `Go to Dashboard` command to Che-Code.
It would be really

[2022-02-07 11:41] azatsarynnyy opened #21131 "Hide the `Tweet Feedback` button in Che-Code"
### Is your enhancement related to a problem? Please describe

There's a `Tweet Feedback` button in Che-Code bottom panel:

![image](https://user-images.githubusercontent.com/1636395/152781175-b38f457c-c31f-437f-8ec0-2a2e4133d7ae.png)

It's not relevant in Che/CRW context.

### Describe the solution you'd like

Need to disable it by default or permanently:

![image](https://user-images.githubuserc

[2022-02-07 11:49] azatsarynnyy opened #21132 "Che-Code's `Ports` panel doesn't have a label"
### Is your enhancement related to a problem? Please describe

The panel contributed by [the Che-Ports extension](https://github.com/che-incubator/che-code/tree/main/code/extensions/che-port) to Che-Code doesn't have a label:

![Peek 2022-02-07 13-45](https://user-images.githubusercontent.com/1636395/152782343-3e2ba0cc-8b6b-4a55-a3b2-8157a476012c.gif)

### Describe the solution you'd like

Add a l

[2022-02-07 11:57] vitaliy-guliy commented on #21079
List of samples to be updated

- [ ] apache-camel-k https://github.com/che-samples/apache-camel-k/tree/devfilev2
- [ ] apache-camel-springboot https://github.com/benoitf/fuse-rest-http-booster/tree/devfilev2
- [ ] bash https://github.com/che-samples/bash/tree/devfilev2
- [ ] che4z
- [ ] cpp https://github.com/che-samples/cpp-hello-world/tree/devfilev2
- [ ] dotnet-asp.net https://github.com/che-sa

[2022-02-07 12:01] benoitf commented on #21131
hello, why should we disable it ?

[2022-02-07 12:07] benoitf commented on #21130
the command is there but not displayed (enabled) due to https://github.com/eclipse/che/issues/21102

[2022-02-07 12:27] dmytro-ndp commented on #20986
Che stable/next Installation has failed on minikube v1.20.0:
https://github.com/eclipse-che/che-plugin-registry/runs/5092423006?check_suite_focus=true
[code]

[2022-02-07 14:05] azatsarynnyy opened #21133 "Che-Code should open a terminal with the `PROJECT_SOURCE` as a current working directory"
### Is your enhancement related to a problem? Please describe

When the user opens a terminal, in Che-Code, it uses `PROJECTS_ROOT` as a current working directory:

![image](https://user-images.githubusercontent.com/1636395/152801618-864a1a51-f930-4981-b397-97150fc3455b.png)

It's not convenient as each time one needs to go to the actual project sources folder in order to execute a command on the

[2022-02-07 14:15] azatsarynnyy commented on #21130
The command should be enabled automatically once `CHE_DASHBOARD_URL` is present.

Thanks @benoitf for the link!

[2022-02-07 14:15] azatsarynnyy commented on #21130
depends on https://github.com/eclipse/che/issues/21102

[2022-02-07 14:20] azatsarynnyy commented on #21131
A counter-question: why do we need it in the Che/CRW context?

[2022-02-07 14:23] benoitf commented on #21131
I would say that we keep what is in VS Code (try to not diverge) and let people tweet about using Che

[2022-02-07 14:26] benoitf commented on #21131
I think that the "Request a missing feature" is already redirecting to che github tracker
https://github.com/che-incubator/che-code/blob/main/code/product.json#L101

[2022-02-07 14:50] olexii4 commented on #21019
I am not able to reproduce this using the next images on minikube.

[2022-02-07 14:50] #21019 closed

[2022-02-07 14:50] olexii4 commented on #21055
I am not able to reproduce this using the next images on minikube too.

[2022-02-07 14:55] amisevsk commented on #21114
I looked into this a bit last week but it seems to be inconsistent (perhaps the cluster and its load/size are involved?). I can't reproduce it in testing environments, nor when I try to attach debugging.

[2022-02-07 15:33] #21131 closed, assigned to nobody

[2022-02-07 15:44] amisevsk opened #21134 "Failed banner is not cleared from dashboard when DevWorkspace is restarted"
### Describe the bug

When a DevWorkspace fails to start, the dashboard shows a banner with the failure reason. However, when you click "restart" in that banner, the "Workspace failed to start" message is not cleared, making it seem like the restart has _also_ failed, even if the DevWorkspace is starting normally.

### Che version

next (development version)

### Steps to reproduce

1. Start a wor

[2022-02-07 15:51] Divine1 opened #21135 "unable to find the following volume mounts in devfile volume components - facing issue with values in devfile"
### Summary

Receiving below error when cloning `devfile` from this [repository](https://github.com/Divine1/demonodejs.git)
[code]
![image](https://user-images.githubusercontent.com/10482177/152820565-87249e3f-1ba8-4df4-96b1-4e96beabfe6d.png)

below is the `devfile` code

[code]

i have made some changes that are incorrect in the `devfile`. But i'm not sure how to figure out the solution for this

[2022-02-07 15:54] Divine1 commented on #21083
@amisevsk  thank you for the response. i'm able to update eclipse-che server to the latest version.

i'm facing some issues, i will create a new issue.
Have a great day

[2022-02-07 15:54] #21083 closed

[2022-02-07 16:11] RomanNikitenko commented on #21034
The main steps which could help to reduce `Dependabot` alerts are:
- upgrade `che-theia` to the latest `theia` version
- upgrade `lerna` version (at the moment using `lerna` version >= 3 causes problems related building `che-theia` assembly)
- upgrade some versions in `theia/plugin-packager` (please see the corresponding info in the comment above) to upgrade transitive dependencies to non-vulnerab

[2022-02-07 16:18] #21077 closed

[2022-02-07 17:28] Divine1 opened #21136 "how to replace the `dex` login interface with my `organization sso` login interface in `eclipse-che`?"
### Summary

i have installed below `chectl` version
![image](https://user-images.githubusercontent.com/10482177/152839434-b16d9dc5-badc-4d21-87b5-61fef14c7590.png)

i have installed `eclipse-che` on minikube cluster.
below are the namespaces currently available in my  minikube cluster
![image](https://user-images.githubusercontent.com/10482177/152839500-987524ce-c94f-4c28-ae73-06ba2fc2a379.png)

[2022-02-07 18:00] svor commented on #21136
@tolusha could you help with that?

[2022-02-07 19:24] azatsarynnyy opened #21137 "Provide a way to navigate to Che Dashboard from Che-IDEA"
### Is your enhancement related to a problem? Please describe

When the user has opened Che-IDEA editor and has closed the page with Che Dashboard it may require several extra steps to navigate to the Dashboard.
It can be much simpler if Che-IDEA provides a way to navigate to Che Dashboard.

### Describe the solution you'd like

Add the `Go to Dashboard` action to Che-IDEA.
It would be really conv

[2022-02-07 20:26] amisevsk opened #21138 "Initial DevWorkspace created by dashboard has no components defined"
### Describe the bug

When creating a DevWorkspace on the cluster, the dashboard appears to first create an empty DevWorkspace object with projects but no components, e.g.
[code]

It then quickly updates the DevWorkspace with components/the editor plugin. However, if this does not occur fast enough, the DevWorkspace may hit https://github.com/devfile/devworkspace-operator/issues/772 and fail to st

[2022-02-07 20:33] amisevsk commented on #21114
Figured this one out after some live-debugging in the dogfooding cluster:

* The Dashboard initially creates empty DevWorkspaces with just the project defined (https://github.com/eclipse/che/issues/21138) -- not an issue per se but causes this issue to manifest
* The Dashboard then immediately updates this DevWorkspace with components/the default editor/etc.
* However, if the Dashboard takes too l

[2022-02-07 20:44] nils-mosbach commented on #21085
@benoitf I'm happy to submit a PR that skips updates in case of vscode and intellij idea (sidecarless). What do you think?

I would add a check, somewhere in here, where templates that have changed are identified: https://github.com/eclipse-che/che-dashboard/blob/f9c2a7c087871c6095b033729c51729f779f252c/packages/dashboard-frontend/src/services/workspace-client/devworkspace/devWorkspaceClient.ts#L9

[2022-02-07 21:06] azatsarynnyy opened #21139 "Che-IDEA should support a target container when running a Devfile Command"
### Is your enhancement related to a problem? Please describe

Currently, Che-IDEA supports running a Devfile Command by translating it into IDEA's Run Configuration.
See https://github.com/eclipse/che/issues/21029

When the user starts a workspace from a typical Devfile with a database,
(e.g.: https://github.com/che-samples/java-spring-petclinic/blob/devfilev2/devfile.yaml)
he/she needs to run a

[2022-02-07 21:19] azatsarynnyy opened #21140 "Che-IDEA should support opening a terminal into a sidecar container"
### Is your enhancement related to a problem? Please describe

When the user starts a workspace from a typical Devfile with a database,
(e.g.: https://github.com/che-samples/java-spring-petclinic/blob/devfilev2/devfile.yaml)
he/she needs to open a terminal into more than one container.

But Che-IDEA supports a terminal for the editor's container only.
So, there's no way to execute a command in a D

[2022-02-07 21:21] tsadigovAgmail commented on #21076
@tolusha  the documents have different page for  each --platform. But I can not find any documentation for --platform=k8s. Where can I look for it?

[2022-02-07 22:14] azatsarynnyy opened #21141 "Che-IDEA should provide a preview URL for a running application"
### Is your enhancement related to a problem? Please describe

When the user runs their application inside a container, it's not possible to get the URL to preview the running app.

### Describe the solution you'd like

Implement a plugin that:
- detects an application is running and listening on a port
- provides the URL to preview a running app

See how it's implemented in [Che-Theia Ports Plug-

[2022-02-08 02:39] Divine1 commented on #21135
@svor

i have updated the `devfile.yaml` as per your suggestion. but still i receive below error.

this is the git repository (https://github.com/Divine1/demonodejs.git) containing my `devfile.yaml` which i used for this testing

![image](https://user-images.githubusercontent.com/10482177/152907444-7089307a-cc97-4193-97c2-8f4878fc4e4c.png)

below is the content of the `devfile.yaml` which throws t

[2022-02-08 06:38] akurinnoy commented on #21097
@ibuziuk that's possible, but then we need somehow to let the dashboard know which authentication is used, so it could navigate to a correct endpoint.

@martinelli-francesco are you able to configure the OIDC you use to change the endpoint to `/oauth/sign_out`? If so then logout will work correctly.

[2022-02-08 08:03] azatsarynnyy opened #21142 "Clean-up Che-Server-related code in Che-Theia"
### Is your task related to a problem? Please describe

Once Che gets rid of the Che-Server engine and the DevWorkspace engine is a single one,
there is a lot of dead code left in Che-Theia.

### Describe the solution you'd like

Clean up all the Che-Server-related code in the Che-Theia codebase.

Start with reviewing the following places:
- https://github.com/eclipse-che/che-theia/tree/main/exten

[2022-02-08 08:33] martinelli-francesco commented on #21097
I am using auth0 and in auth0 the logout endpoint is not configurable: https://auth0.com/docs/api/authentication#logout

[2022-02-08 08:44] svor commented on #21135
@Divine1 I've just created a workspace from https://github.com/Divine1/demonodejs.git

![screenshot-che-dogfooding apps che-dev x6e0 p1 openshiftapps com-2022 02 08-10_41_07](https://user-images.githubusercontent.com/1271546/152949764-0de24427-7c3f-4dbb-9322-926c92ac6290.png)

Could you try to remove old workspace and create it again

[2022-02-08 09:18] Divine1 commented on #21135
@svor  it's working fine now

is there any documentation where i can learn about how to create devfile with `schemaVersion: 2.1.0` ?
Currently i have this [doc link](https://devfile.io/docs/devfile/2.1.0/user-guide/api-reference.html) . if there are any other doc links, please let me know.

[2022-02-08 09:28] svor commented on #21135
@Divine1 it's a correct link. Also you can find some useful information in [Migrating to devfile v2](https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html) section

[2022-02-08 09:52] #21135 closed

[2022-02-08 10:38] ibuziuk commented on #21097
@skabashnyuk could you please take a look and advise how the auth config should be retrieved on the UD?
Basically, my understanding is that `/oauth/sign_out` is currently hardcoded on the UD end. We could technically re-try the call with `/oauth2/sign_out` if `/oauth/sign_out` return 404, but this looks like a workaround.

[2022-02-08 10:40] RomanNikitenko commented on #21034
Within current issue I reduced number of the `Dependabot` alerts from 82 to 12.
In the comment above I described steps which can help to improve the current state, so additional efforts are required.

My propose is - close the current issue and come back to the `Dependabot` alerts when we:
- provide alignment to the latest upstream version
- resolve some problems related to building `che-theia` as

[2022-02-08 10:55] martinelli-francesco commented on #21097
`/oauth/sign_out` is correct but is missing the `rd` parameter.
So, what I expect is that the logout button should redirect to `/oauth/sign_out?rd=<my_oidc_signout_page>` instead of  `/oauth/sign_out` only.
<my_oidc_signout_page> is a configuration that depends on the configured OIDC so it should be a configuration provided by the user in the same way of client_id, OIDC_URL, ...
The OIDC configura

[2022-02-08 11:10] ibuziuk commented on #21097
@martinelli-francesco ok, so the only thing that is missing is the `rd=` parameter. Would you be interested in contributing this functionality to the project?

[2022-02-08 11:32] olexii4 commented on #21138
@amisevsk Currently, the dashboard does the following steps:
1.  Create a new workspace without ```components```.
2. Create a new template with ```ownerReferences```.
3. Update created workspace(add all ```components```).
The main idea was to get the devworkspace uid and assign it as owner reference to devworkspaceTemplate.

We can, probably, change the sequence of steps to this one:
1. Create a n

[2022-02-08 11:48] #21031 closed

[2022-02-08 11:52] azatsarynnyy commented on #21034
@RomanNikitenko yes, sure. Let's close it and will use it for reference in further work.

[2022-02-08 11:52] #21034 closed

[2022-02-08 12:03] debovema commented on #21125
After increasing the allocated memory I succeeded to reach the dex UI and I'm able to log in. However the dashboard does not load:
![image](https://user-images.githubusercontent.com/8082252/152983379-9db06778-d32b-4513-9bc6-9d497ab8bdc9.png)

[2022-02-08 12:08] debovema commented on #21036
Really looking forward to seeing this documentation :+1:
Btw was there some announcements about these architecture breaking changes somewhere ?
I am a bit confused as it seems to complicate the local installations.

[2022-02-08 12:23] ibuziuk commented on #18587
@sunix please take a look at https://github.com/che-incubator/quarkus-api-example that we are going to use in the upcoming blog post. Contributions are most welcome - https://github.com/che-incubator/quarkus-api-example

[2022-02-08 12:32] Divine1 commented on #21136
@tolusha kindly help me out

[2022-02-08 13:29] debovema commented on #21126
I'm able to reproduce using ```minikube start --addons=ingress --vm=true --memory=16384 --cpus=4```for minikube initialization.

[2022-02-08 13:53] sparkoo commented on #21036
I'm not sure, it goes together with movement to devworkspaces, because we couldn't use old auth model.

[2022-02-08 14:03] ibuziuk commented on #21114
@amisevsk thanks for the investigation but still can reproduce it with python devfiles against dogfooding :man_shrugging:

[2022-02-08 14:24] amisevsk commented on #21114
@ibuziuk the dogfooding cluster was still running DWO from commit [`b8cae02b`](https://github.com/devfile/devworkspace-operator/commit/b8cae02bebcd53bad555dcadfb6dc84d7db5f278), it looks like new images aren't being pulled automatically in the `next` index. Should be fixed now.

[2022-02-08 14:37] amisevsk commented on #21138
Either approach makes sense, so whatever makes is easier on the dashboard is fine -- it's ultimately a bug in the DevWorkspace Operator, so this one can be closed as "works as expected".

The current flow makes sense to me, I just wanted to confirm there wasn't a subtle bug lurking in the dashboard somewhere.

[2022-02-08 14:37] #21138 closed

[2022-02-08 14:43] ibuziuk commented on #21063
The `parent` is now processed on both UD and DW end, however, starting the 2.2 nodejs sample is failing with `Container runtime has state CrashLoopBackOff` for the runtime container:

- Node.js

Some problems with `registry.access.redhat.com/ubi8/nodejs-14:latest`

![image](https://user-images.githubusercontent.com/1461122/153005036-5bef6a1e-e582-4a0b-a9d1-e3e77b5e6a55.png)

2.0 devfile is also fa

[2022-02-08 15:46] martinelli-francesco commented on #21097
Unfortunately I don't have much experience in go language. What I can suggest is the high level implementation:
- Add the configuration OIDC_END_SESSION_ENDPOINT to the dashboard container
- if it has no value -> the logout behaves like today
- if it has a value, the logout button should redirect to /oauth/sign_out?rd={OIDC_END_SESSION_ENDPOINT}

[2022-02-08 16:29] benoitf commented on #21085
@nils-mosbach yes it may work to skip other editors for now

[2022-02-08 17:09] ibuziuk commented on #21103
@l0rd updated deprecated note PR - https://github.com/eclipse-che/che-dashboard/pull/457

[2022-02-08 18:15] cmille62 opened #21143 "Unable to Load Dashboard Page"
### Describe the bug

Che Dashboard crashes due to errors on the front end.

Che Dashboard redirects to keycloak, logs user in, and redirects back to che daskboard, here the user's token (/api/token) is valid and the user's (api/user) is also populated properly. These are the logs in the front end:

`
client.f26467f483f9ac419981.js:1 Skip keycloak settings field:  che.oidc.auth_server_url
client.f

[2022-02-08 18:17] amisevsk commented on #21114
PR https://github.com/devfile/devworkspace-operator/pull/774 should both ensure a new, up-to-date `next` image is pushed and also prevent this issue from happening going forward.

[2022-02-08 20:53] RomanNikitenko commented on #21143
I'm not sure about using `keycloak` with `7.42` version of Che.
Could someone clarify it.
maybe @tolusha...

[2022-02-08 22:00] azatsarynnyy opened #21144 "Che-Code, Che-IDEA feature gap (compared to Che-Theia)"
This is a quick feature gap analysis to identify what's missing in Che-Code/Che-IDEA compared to Che-Theia.

:warning: What is not a goal of this analysis?
It's not intended to achieve complete feature parity between Che-Theia and Che-Code/Che-IDEA.

The main goal of this analysis is to identify the minimum set of base functionality that must be supported by Che-Code and Che-IDEA in order to satis

[2022-02-09 00:31] dkwon17 opened #21145 "Native build command fails for devworkspace Quarkus Che sample"
### Describe the bug

The `package-native` command does not work for the devfile v2 Quarkus quick start Che sample project, because the [tools container](https://github.com/che-samples/quarkus-quickstarts/blob/743501d86e6e7b262029fbddbc141a77d541be5e/devfile.yaml#L5) does not have GraalVM installed.

#### Workaround
It can be installed by running `sdk install java 20.3.5.r11-grl && gu install nati

[2022-02-09 00:34] #19839 closed

[2022-02-09 00:34] #20267 closed

[2022-02-09 01:33] cmille62 commented on #21143
Okay -- Is there a version I should be using to utilize `keycloak`? Thanks!

[2022-02-09 07:15] RomanNikitenko commented on #20817
After some changes in upstream the expected file name is `tsconfig.json`(so, `compile.tsconfig.mst.json`and `compile.tsconfig.json` are incorrect names).
But we should check the actual behaviour as I think it's already fixed within https://github.com/eclipse-che/che-theia/pull/1238

[2022-02-09 07:26] benitonfdo commented on #20613
I am still facing this issue. I am not sure how to reopen this issue.

[2022-02-09 09:47] ibuziuk commented on #21114
Thanks, works like a charm
Can not reproduce the issue against dogfooding anymore. Closing

[2022-02-09 09:47] #21114 closed

[2022-02-09 09:52] ibuziuk commented on #21145
Just for the context, we are using the same image for the https://github.com/che-incubator/quarkus-api-example that we are going to use in the PR review blog post, and want to show case all quarkus capabilities including native builds. This issue is also related to https://github.com/eclipse/che/issues/18587

[2022-02-09 10:17] l0rd commented on #21063
@ibuziuk thank you. These are bugs that should be reported to github.com/devfile/api, I would suggest to list them as subtasks of https://github.com/devfile/api/issues/681. I had try to list some of the problems [here](https://github.com/devfile/api/issues/681#issuecomment-972594175).

[2022-02-09 10:20] amol-m-deshpande opened #21146 "chectl server:deploy --platform docker-desktop is failing with exitCode: 137"
### Describe the bug

As per the documentation, I installed docker desktop with kubernates, chectl, kubectl

When I execute the following command
`chectl server:deploy --platform docker-desktop
`

I get the following error

[code]

I have allocated enough memory for the docker desktop and have also set the proper context with  kubectl config use-context docker-desktop,  I am unable to find what's

[2022-02-09 11:14] vinokurig opened #21147 "Kubeconfig is not injected to any container"
### Describe the bug

Since https://github.com/eclipse-che/che-dashboard/pull/431 is merged, it is expected that `~/.kube/config` file is present in all containers, but now the file is missed.

### Che version

next (development version)

### Steps to reproduce

1. Start a workspace.
2. Search for `~/.kube/config` file.
See: the file is not present in the user directory:
![screenshot-che-eclipse-c

[2022-02-09 12:17] olexii4 commented on #21147
BTW: I can reproduce it with  '{che-server}/dashboard/api/swagger' on che-dogfooding instance.
![2022-02-09_14_08_40](https://user-images.githubusercontent.com/6310786/153198938-5ec015ab-7385-49b2-9d3c-b26d533523ba.png)

[2022-02-09 13:35] martinelli-francesco opened #21148 "Overriding devfile values using factory parameters"
### Summary

I would like to customize my devfile in creating a workspace using a query string parameter, but it seems that with DevWorkspace it doesn't work. I tried following the guide at https://www.eclipse.org/che/docs/che-7/end-user-guide/creating-a-workspace-from-remote-devfile/#overriding-devfile-values- using-factory-parameters_che and change the name or generateName in the same way as the

[2022-02-09 15:35] l0rd opened #21149 "New Che website - first iteration"
### Is your enhancement related to a problem? Please describe

@benoitf has created a draft of a [new website](https://tmp-ws-ch.surge.sh/) (source code https://github.com/benoitf/eclipse-che-website) that would replace the existing one that is outdated. In this issue we list the few things that need to be addressed before the new website can go live.

<img width="846" alt="image" src="https://use

[2022-02-09 16:39] metlos commented on #21126
I can't reproduce with minikube 1.23.2. Maybe this has something to do with Kubernetes version?

[2022-02-09 16:49] ibuziuk commented on #21098
thanks, folks, for the investigation
I believe the issue can be closed now since the following PRs have been merged:
- https://github.com/eclipse-che/che-dashboard/pull/453
- https://github.com/devfile/devworkspace-operator/pull/770

[2022-02-09 16:49] ibuziuk commented on #21098
Closing. feel free to reopen if needed

[2022-02-09 16:49] #21098 closed

[2022-02-09 17:04] dmytro-ndp commented on #21126
@metlos: yep, it could be minikube version specific, for v1.25.1

@debovema: could you, please, write minikube version you reproduced the issue on?

[2022-02-09 17:28] metlos commented on #21126
reproduced on minikube 1.25.1. weird...

[2022-02-09 18:51] azatsarynnyy opened #21150 "Update Che-Theia images to use Node.js 14"
### Is your task related to a problem? Please describe

Currently, Che-Theia runtime images are based on `node:12.20.1-alpine3.12` and `registry.access.redhat.com/ubi8/nodejs-12:1-104`.
Node.js 12 will reach EOL on 2022-04-30.

### Describe the solution you'd like

Need to upgrade Che-Theia runtime images to use Node.js 16 - the latest LTS release.

### Describe alternatives you've considered

_No

[2022-02-09 19:33] amisevsk commented on #21038
I've built `quay.io/amisevsk/devworkspace-controller:che-compatibility` to include changes from both https://github.com/devfile/devworkspace-operator/pull/777 and https://github.com/devfile/devworkspace-operator/pull/747. To test if the two PRs will allow automatic PVC reuse from Che:
1. Create a devfile v1 workspace that uses `claim-che-workspace`, make changes to files in workspace, etc.
2. Stop

[2022-02-09 19:47] nickboldt commented on #21055
I'm getting this error trying to load the che-docs devfile from this fork:

https://github.com/eclipse-che/che-docs/tree/fix-devfile-v2-import

![image](https://user-images.githubusercontent.com/227597/153278525-c82c7efd-f13b-4bf1-97c0-848f3e4f4211.png)

[2022-02-09 20:55] #21055 closed

[2022-02-09 21:36] nils-mosbach commented on #21143
If you're running devworkspace mode, which I think is the default in Che 7.42 Kubernetes api Server requires to validate against Keycloak. We had similar issues with Che 7.42.

Since documentation is quite limited on the Kubernetes side I summarized what worked in our case. Maybe that helps.

https://github.com/eclipse/che/issues/21049#issuecomment-1022108499

At least in native auth mode keycloak

[2022-02-09 23:27] amisevsk commented on #21055
To clarify with Nick's issue -- after conversion for some reason the dashboard was not adding an editor, and so the DevWorkspace on the cluster did not get a `mainUrl` set (there was no container with endpoints).

[2022-02-10 03:25] Divine1 commented on #21136
@svor @tolusha
please share with me if any details or docs are available on this? :)

[2022-02-10 07:12] azatsarynnyy opened #21151 "Don't use built-in VS Code logic for reopening last opened workspace"
### Describe the bug

Che-Code tries to reopen the last opened folder despite it was opened in another Che Workspace.

The root cause of the problem is that Che-Code stores the last opened folder in the browser's local storage, see `workspaces.lastOpened` key.

The UX is really confusing. See the attached screenshot.

### Che version

next (development version)

### Steps to reproduce

1. Create t

[2022-02-10 08:35] benoitf commented on #21148
Hello @martinelli-francesco, let's reopen https://github.com/eclipse/che/issues/18950

[2022-02-10 08:35] #21148 closed

[2022-02-10 08:35] benoitf commented on #18950
reopening as a user is asking support for that
https://github.com/eclipse/che/issues/21148

[2022-02-10 08:37] benoitf commented on #21146
@amol-m-deshpande could you please check the kubernetes context that is set
(or clicking on the whale in tray icon and checking Kubernetes context is set to 'docker-desktop')

[2022-02-10 09:17] svor commented on #21136
@Divine1 I see that it's possible to customize Dex https://dexidp.io/docs/templates/
maybe @sparkoo could provide some details how to do that in Che

[2022-02-10 09:31] Divine1 commented on #21136
should i have to update the `dex` `configmap` with `gitlab` connector as it is mentioned [here](https://dexidp.io/docs/connectors/gitlab/)?

![image](https://user-images.githubusercontent.com/10482177/153378188-ceb2b34a-8504-46cd-8eb1-7a76247ab9b5.png)

![image](https://user-images.githubusercontent.com/10482177/153378300-1daf5b38-23bc-40a4-9077-a65d22be5318.png)

[2022-02-10 09:56] tolusha commented on #21126
Duplicates
https://github.com/eclipse/che/issues/20984

[2022-02-10 09:56] #21126 closed

[2022-02-10 09:57] tolusha commented on #21128
Duplicates
https://github.com/eclipse/che/issues/20984

[2022-02-10 10:41] vitaliy-guliy opened #21152 "Scala sample hangs when trying to be launched"
### Describe the bug

It's possible to build the scala sample, but when trying to launch it, the sample hangs and does nothing.
When clicking on the corresponding endpoint, it says, that application is not available.

![Screenshot from 2022-02-10 12-17-36](https://user-images.githubusercontent.com/1655894/153389409-e553a4b2-cc5f-4cd1-8094-c7e8a0fe01ba.png)

![Screenshot from 2022-02-10 12-17-51](h

[2022-02-10 10:43] #21079 closed

[2022-02-10 10:49] tolusha commented on #21146
@amol-m-deshpande
Could you run `chectl server:logs` and attach logs?

[2022-02-10 11:42] tolusha commented on #21076
There is no difference between `--platform k8s` and `--platform minkube` in term of depoying Eclipse Che.
The only difference are preflight checks:
* https://github.com/che-incubator/chectl/blob/main/src/tasks/platforms/minikube.ts#L27
* https://github.com/che-incubator/chectl/blob/main/src/tasks/platforms/k8s.ts#L27

[2022-02-10 11:48] tolusha commented on #21076
Which issue did you have with this config https://github.com/eclipse/che/issues/21076#issuecomment-1028001242?

[2022-02-10 15:59] nils-mosbach commented on #21078
Renaming this since it happens consistently if `devworkspace operator` implementation in `che-operator` tries to handle a second public endpoint/ ingress.

[2022-02-10 16:39] ibuziuk opened #21153 "Add `controller.devfile.io/devworkspace_id_override` annotation with workspace ID during the devfile v1 -> v2 convertion"
### Is your task related to a problem? Please describe

In order to preserve the workspace sources mounted in the `claim-che-workspace` PVC, during the v1 -> v2 convertion
resulting DevWorkspace should contain the `controller.devfile.io/devworkspace_id_override` with the original workspace id value

### Describe the solution you'd like

Let's assume there is a devfile v1 workspace with `workspacej

[2022-02-10 22:20] sparkoo commented on #21136
I've never did that, sorry. Please try to follow dex documentation

[2022-02-10 22:20] amisevsk commented on #21078
Created DWO issue for `next` catalog rollouts since I realized I hadn't done that yet: https://github.com/devfile/devworkspace-operator/issues/779

[2022-02-10 23:01] devstudio-release commented on #21098
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2747

[2022-02-10 23:02] devstudio-release commented on #20638
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2748

[2022-02-11 08:46] nils-mosbach commented on #21078
That's good news. Upgraded devworkspace-controller to latest `next` tag. Issue seems to be resolved. Thanks a lot!

Currently `che-operator:next` pulls `devworkspace-controller:v0.12.3`. Any plans releasing `v0.12.4` in the next week or two? Would be nice if that change makes it to the next stable version of che.

Anyway: I really like where this is going. Startup time, devfile 2 api and the whole

[2022-02-11 08:46] #21078 closed

[2022-02-11 08:55] apupier opened #21155 "Upgrade VS Code extension Language Support for Apache Camel to version 0.1.5"
### Is your enhancement related to a problem? Please describe

New version is available.
Notably, it is now a repeatable (maybe even reproducible) build.

### Describe the solution you'd like

use newer version in registry

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-11 09:45] nils-mosbach opened #21156 "Support of multiple running workspaces in async storage mode?"
### Summary

Not all cloud providers support RWX volumes. Async mode could be a nice workaround but is currently limited to one running workspace at a time.

I guess rsync and ssh shouldn't have issues if executed on seperated folders.
Any plans changing this, or is this a technical limitation?

### Relevant information

_No response_

[2022-02-11 10:24] Divine1 commented on #21136
@sparkoo @svor @tolusha

i followed this documentation. i'm able to view my `gitlab sso login screen` instead of `dex login screen`. the sso authentication is successful, the but redirection back to the `dex - eclipse-che website` shows below error

![image](https://user-images.githubusercontent.com/10482177/153574785-77bb4644-182f-41fa-93fd-3e3d4b1fce27.png)

below is the redirect url i have conf

[2022-02-11 10:31] martinelli-francesco commented on #18950
Also [this issue](https://github.com/eclipse/che/issues/20137) referes to the same issue.

[2022-02-11 11:48] Divine1 commented on #21136
@sparkoo thank you for the response. i have updated the redirect url to `https://dex.192.168.49.2.nip.io/callback`

now i get `the requested scope is invalid, unknown or malformed` error message as shown below

![image](https://user-images.githubusercontent.com/10482177/153585964-0c593c62-c45e-4643-bd16-743c10d0d804.png)

i have added below scopes in my gitlab application
![image](https://user-ima

[2022-02-11 12:28] apupier opened #21157 "Upgrade VS Code xml to 0.18.3"
### Is your task related to a problem? Please describe

several new releases are available of VS Code xml compared to the 0.17 which is use din plugin registry. https://github.com/eclipse-che/che-plugin-registry/blob/01641f47635374ff1ff4b1df7fc983bf6856622e/che-theia-plugins.yaml#L504
It contains several security fixes

https://marketplace.visualstudio.com/items/redhat.vscode-xml/changelog

### De

[2022-02-11 12:34] apupier opened #21158 "Upgrade VS Code Yaml to 1.4.0"
### Is your enhancement related to a problem? Please describe

new version is available.

The 0.14.0 is currently used, which is more than a year old https://github.com/redhat-developer/vscode-yaml/releases/tag/0.14.0

high chance that it contains security fixes
https://github.com/redhat-developer/vscode-yaml/blob/main/CHANGELOG.md

### Describe the solution you'd like

use latest version of VS Co

[2022-02-11 15:16] dkwon17 opened #21159 "Devfile v2 command label not displayed in Che-theia workspace view"
### Describe the bug

When a command is defined in a v2 devfile like so:
[code]

The label: `Start Development mode (Hot reload + debug)` is not displayed in the Workspace view. The command's id (`startdev`) is being displayed instead:
![image](https://user-images.githubusercontent.com/83611742/153615337-ed50e803-6b3e-4b37-a5b7-fad0eebe097b.png)

### Che version

next (development version)

### St

[2022-02-11 15:40] amisevsk commented on #21078
I'm glad it's resolved for you, this is the sort of bug I never want to ship!

Ah apologies, I think I really confused myself in explaining this :smile:. The bug you were hitting actually does not impact the DevWorkspace Operator directly, and instead impacts other operators that use DWO as a library (the Che Operator in this case). The way Che creates ingresses and services for a DevWorkspace is

[2022-02-11 15:53] Divine1 commented on #21136
@sparkoo
The above `requested scope is invalid` issue is resolved now.

in my `gitlab -> applications` `read_user` scope was missing. Now the `gitlab -sso` integration with `dex` works fine.
![image](https://user-images.githubusercontent.com/10482177/153623501-f00338b0-b59d-496f-bca9-aaed05c09588.png)

[2022-02-11 15:56] #21136 closed

[2022-02-11 16:19] nils-mosbach commented on #21078
No worries, happens to the best of us :).

Haven’t seen the cherry pick. Runs like s charm now, thanks a lot.

[2022-02-11 17:25] gidduhome commented on #21049
@nils-mosbach May I know how did you configure kubernetis with OIDC provider?  I mean, which yaml file needs to be modified? I'm not able to narrown down to which piece thru Rancher.

[2022-02-11 17:31] nils-mosbach commented on #21049
Rancher does not deploy the api server as a Kubernetes resource. That’s why the official Kubernetes documentation doesn’t work.

for rancher: when you edit your Cluster there’s an option to switch to yaml mode. That of course only works with rancher provisioned clusters.

In other cases that needs to be set in the api-server/kube-System namespace as described by the K8s docs.

[2022-02-11 17:36] gidduhome opened #21160 "Eclipse che 7.43.0 is always failing to deploy with k8s as platform"
### Summary

Hi,
I'm trying to install eclipse-che 7.43.0 on kubernetes cluster. This is always failing with error that ` Kubernetes API Server needs to be configured with OIDC provider`. This is the same even if I use `--skip-oidc-provider-check` otpion.

`Error: API server is not configured with OIDC Identity Provider, see details https://kubernetes.io/docs/reference/access-authn-authz/authentic

[2022-02-11 17:44] virtuakazib opened #21161 "How should Eclipse Che instances installed on K8s via Operator Hub upgrade past 7.39.2?"
### Summary

As of version 7.40, Eclipse Che is no longer releasing updates through Operator Hub for Kubernetes clusters.  So for current Eclipse Che instances installed on Kubernetes through Operator Hub, what is the best way to upgrade Eclipse Che past 7.39.2?

### Relevant information

_No response_

[2022-02-12 00:32] #18462 closed

[2022-02-12 09:38] dmytro-ndp commented on #19652
/remove-lifecycle stale

[2022-02-12 13:02] amol-m-deshpande commented on #21146
@benoitf  Yes, the context is set to docker-desktop
@tolusha Here are the logs
[code]

[2022-02-14 00:29] #20128 closed

[2022-02-14 07:10] #21155 closed

[2022-02-14 07:25] tolusha commented on #21036
@gidduhome
You can try to deploy [Dex](https://dexidp.io/docs/kubernetes/) on you k8s platform manually.

[2022-02-14 08:00] tolusha commented on #21146
@amol-m-deshpande
That's che-operator pod logs. Everything is fine here.

I would like to check che-serer pod logs (the one which is failed to start)

[2022-02-14 08:38] svor commented on #18856
/remove-lifecycle stale

[2022-02-14 08:45] svor commented on #18510
Build Status references to GitHub action

[2022-02-14 08:45] #18510 closed

[2022-02-14 08:58] svor commented on #18853
It seems the problem was fixed:

![screencast-che-dogfooding apps che-dev x6e0 p1 openshiftapps com-2022 02 14-10_56_22](https://user-images.githubusercontent.com/1271546/153831900-e8a88e10-0693-44b5-b6dd-e34d5d9c8d37.gif)

[2022-02-14 08:58] #18853 closed

[2022-02-14 09:43] sparkoo commented on #18950
@benoitf I think this one should be closed in favor of https://github.com/eclipse/che/issues/20137. They are same feature requests with different implementation proposals. With current architecture, it does not make sense for che-server to to this job. wdyt?

[2022-02-14 09:51] tolusha commented on #21160
Eclipse Che requires OIDC Identity Provider configured on the k8s cluster since 7.42.0

See similar issues:
https://github.com/eclipse/che/issues/21136
https://github.com/eclipse/che/issues/21049

Doc:
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server
https://dexidp.io/docs/kubernetes/

[2022-02-14 09:58] tolusha commented on #21161
@virtuakazib

I can suggest the following way (needs to be carefully checked):
* uninstall operator from the operatorhub
* create operator deployment https://github.com/eclipse-che/che-operator/blob/7.39.2/config/manager/manager.yaml
* install chectl 7.41.2 https://github.com/che-incubator/chectl/releases/tag/7.41.2
* run `chectl server:update`

NOTE:  You can't update to 7.42.0 and higher version

[2022-02-14 10:36] csa-nathan opened #21163 "Eclipse Che - Create New Workspace Issue from Che Dashboard"
### Summary

Have successfully installed eclipse Che in AKS cluster and running without any errors.

Chectl version 7.40.0 and able to access Che Dashboard, Keycloak, devfile-registry, plugin-registry URLs.

Have logged in to eclipse Dashboard and trying to create workspace form the already defined samples.

On creation of new workspace by user, in the log it says
Pulling image "quay.io/eclipse/ch

[2022-02-14 11:27] #20909 closed

[2022-02-14 11:54] csa-nathan commented on #21163
![image](https://user-images.githubusercontent.com/99651183/153859693-cf87fc2d-4dfe-4f9a-8334-ad3eeb3f562c.png)

[2022-02-14 11:55] csa-nathan commented on #21163
For better understanding of the issue, sharing the screen grab of the error that gets displayed.

[2022-02-14 12:01] l0rd opened #21164 "I am not able to start an ephemeral workspace"
### Describe the bug

I have tried setting attribute at the root of the devfile as mentioned in the DevWorkspace documentation

[code]

I have also tried to set “Temporary storage” on from the Dashboard.

In both cases PVC are attached to the workspace pod:

<img width="1416" alt="image" src="https://user-images.githubusercontent.com/606959/153860496-12085de9-d337-467a-ae4f-18d92a7078c3.png">

###

[2022-02-14 12:01] l0rd commented on #21164
cc @ibuziuk

[2022-02-14 12:04] svor opened #21165 "[devworkspace-handler] As a user I want to run a custom che-plugin by setting it into .che/che-theia-plugins.yaml file"
### Is your task related to a problem? Please describe

For now, if I want to test some custom plugin, I need to generate all in one DevWorkspace with the custom plugin-registry link and then apply it into the cluster. We don't have an easy way to run a custom che-plugin in che, I mean the plugin which isn't provided by the default plugin registry.

### Describe the solution you'd like

It'd be ni

[2022-02-14 14:23] amol-m-deshpande commented on #21146
@tolusha
Please check this

[code]

[2022-02-14 15:27] gidduhome commented on #21160
Hello @tolusha  thank you for response.
I understood that OIDC provider is required for Eclipse-Che. Incase of minikube, it was provided as default DEX installation.
Do you have any plans to do same with K8 for later releases? OR is it expected that we need to configure it K8 explicitly always?
Atleast, now I don't even have access to go back to previous versions, as chectl is not allowing it.

[2022-02-14 17:45] gidduhome commented on #21049
@nils-mosbach Thank you!! Let me play around and see.

[2022-02-14 19:06] l0rd opened #21166 "Issue when a CheCluster CR doesn't have devworkspace.enabled=true"
### Describe the bug

After subscribing to next channels of Che and DevWorkspace I have applied the following CheCluster CR (note that there is no `devWorkspace` section):

[code]

Che and the DevWorkspace Operator are deployed successfully but when I try to start a workspace it fails after timeout.

This is the error message in the dashboard (see screenshot below):

[code]

Here is the error mess

[2022-02-14 19:13] amisevsk commented on #21166
If DevWorkspace is not enabled on the CheCluster, I believe Che will [not start](https://github.com/eclipse-che/che-operator/blob/f451dad61ca463834fad4372763055b440357178/main.go#L282-L303) the `che` routing controller, which would result in this occurring if a DevWorkspace that uses the `che` routingClass is created.

[2022-02-15 00:31] #20228 closed

[2022-02-15 00:31] #20263 closed

[2022-02-15 00:31] #20276 closed

[2022-02-15 07:32] tolusha commented on #21166
I got the problem.
There are still some code with logic depending on `devworkspace.enable` field.

[2022-02-15 11:06] amol-m-deshpande commented on #21146
@tolusha
Please check this logs
[code]

[2022-02-15 11:27] slieer commented on #20984
**lsb_release -a**
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.3 LTS
Release:	20.04
Codename:	focal

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.3", GitCommit:"816c97ab8cff8a1c72eccca1026f7820e93e0d25", GitTreeState:"clean", BuildDate:"2022-01-25T21:25:17Z", GoVersion:"go1.17.6", Compiler:"gc", Platform:"linux/amd64"}

[2022-02-15 11:33] tolusha commented on #21163
Hello. @csa-nathan

1. Try to patch checluster CR to enable debug logging
[code]
2. wait until che-server pod is restatred and try to create a workspace again
3. grab and attach che-server pod logs
[code]

[2022-02-15 12:12] csa-nathan commented on #21163
Hello Tolusha,

Thanks for the help extended.

I have enabled the log as per your directions.

Once the error occurs, it removes the namespace admin-che which has 5 containers and that's the final details i get in the log as below.

jQ2MTY0MiwiaWF0IjoxNjQ0OTI1NjQyLCJpc3MiOiJodHRwczovL2VjbGlwc2VpZGUtZWNsaXBzZWNoZXJlc291ci1lNDhiMDUtMjE2ZWUwOWYuaGNwLmNlbnRyYWxpbmRpYS5hem1rOHMuaW8iLCJrdWJlcm5ldGVzLmlv

[2022-02-15 13:19] dmytro-ndp commented on #21069
The issue is more important than P2, because it's a real pain to understand what has happened when there is completely empty page displayed without any error messages.

The issue has been faced on minikube, e.g. https://github.com/eclipse/che/issues/20984#issuecomment-1040161733

[2022-02-15 13:26] ibuziuk commented on #21069
changed the priority to P1 + added the `next/sprint` label

[2022-02-15 13:37] csa-nathan commented on #21163
Complete Log of Che Server Attached for your reference. Sorry, Its a huge log....
[EclipseCheErrorLog-150220221750.txt](https://github.com/eclipse/che/files/8069510/EclipseCheErrorLog-150220221750.txt)

[2022-02-15 14:03] sunix opened #21167 "devfile 2 convertor is generating invalid components"
### Describe the bug

devfile 2 convertor is generating invalid components

### Che version

next (development version)

### Steps to reproduce

1. create a workspace from https://github.com/eclipse/jkube
![Selection_614](https://user-images.githubusercontent.com/650571/154076335-8b354b4e-6dd5-4c83-b263-bfec4976e413.png)

2. it cannot start with the errors
[code]
![Selection_616](https://user-imag

[2022-02-15 14:06] ibuziuk commented on #21167
@benoitf could you please take a look?

[2022-02-15 14:16] csa-nathan commented on #21163
The URLs for Terminal and theia are dynamic ( new pods get created) and trying to check whether its active.   When I installed Eclipse Che, i created A record for Keycloak, dev-file-registry, plugin-registry and for che-eclipse-che.ide. Only then the URLs started working.

But for these dynamic URLs, as there are no entries, it fails. I could sense the problem.  I have installed the Eclipse Che an

[2022-02-15 15:09] #21001 closed

[2022-02-15 20:21] gazarenkov opened #21168 "Che Server resignation"
**WHAT**: Remove Che Server component

**WHY**: The main functionality of Che Sever is already moved to the DevWorkspace engine and it is not rational and risky (from supportability standpoint) to keep it more than needed. Indeed:
- there is quite a big codebase for support for (already) small functionality
- it is probably the only component which uses Java technology (supportability risk)
- it i

[2022-02-16 07:01] csa-nathan commented on #21163
Hello Tolusha,

Thanks for the help extended.

I have enabled the log as per your directions.

Once the error occurs, it removes the namespace admin-che which has 5 containers and that's the final details i get in the log as below.

jQ2MTY0MiwiaWF0IjoxNjQ0OTI1NjQyLCJpc3MiOiJodHRwczovL2VjbGlwc2VpZGUtZWNsaXBzZWNoZXJlc291ci1lNDhiMDUtMjE2ZWUwOWYuaGNwLmNlbnRyYWxpbmRpYS5hem1rOHMuaW8iLCJrdWJlcm5ldGVzLmlv

[2022-02-16 07:06] csa-nathan commented on #21163
The URLs for terminal and theia in the error log are dynamic in terms of sub-domain ( new pod with multiple containers get created during workspace creation) and trying to check whether its active. When I installed Eclipse Che, i created "A" record for Keycloak, dev-file-registry, plugin-registry and for che-eclipse-che.ide with my domain registrar. Only then the URLs started working.

But for the

[2022-02-16 07:27] vinokurig commented on #20340
/remove-lifecycle stale

[2022-02-16 07:30] tolusha commented on #21161
That's architectical changes. We switched to the new workspace engine.
Some doc https://www.eclipse.org/che/docs/che-7/administration-guide/architecture-overview-with-devworkspace/

There is a migration guide, but not published yet.
https://github.com/eclipse-che/che-docs/pull/2159

[2022-02-16 08:55] amol-m-deshpande commented on #21146
[code]

[2022-02-16 09:39] sunix commented on #21159
same here :/
![Selection_620](https://user-images.githubusercontent.com/650571/154237288-57576840-0274-4f03-b2e1-b745b36134df.png)

[2022-02-16 10:17] tolusha commented on #21166
Fixed by https://github.com/eclipse-che/che-operator/pull/1321
`devworkspace.enable` will be ignored.
It is supposed to be `true` anytime.

[2022-02-16 10:17] #21166 closed

[2022-02-16 11:03] csa-nathan commented on #21163
{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"pods \"workspaceioyfowrq20uehi3b.go-cli-c7c75476c-55tf5\" is forbidden: User \"system:serviceaccount:eclipse-che:che\" cannot get resource \"pods/log\" in API group \"\" in the namespace \"admin-che\"","reason":"Forbidden","details":{"name":"workspaceioyfowrq20uehi3b.go-cli-c7c75476c-55tf5","kind":"pods"},"code":403}

T

[2022-02-16 12:32] tolusha commented on #21163
To be honest 7.40.0 is quite old version of Eclipse Che.
I don't have any capacity to dig into the problem.
Could you try the latest 7.43.0 ?

[2022-02-16 12:44] tolusha commented on #21146
I got the problem.
OIDC identity provider is required since 7.42.0 version

See similar issues:
https://github.com/eclipse/che/issues/21136
https://github.com/eclipse/che/issues/21049

Doc:
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server
https://dexidp.io/docs/kubernetes/

[2022-02-16 12:49] csa-nathan commented on #21163
I started with 7.42 and had difficulty in the installation, especially on the OIDC Provider, Keycloak.  Not installing by default, which was clearly highlighted in one of the post.  Have to install it and then configure it, which is again a new thing for me.

I then moved to 7.41 version, which installs Keycloak by default. I started this activity in the first week of Jan and since 7.41 got releas

[2022-02-16 12:55] nils-mosbach commented on #21085
Solved by PR. Closing.

[2022-02-16 12:55] #21085 closed

[2022-02-16 15:41] virtuakazib commented on #21161
Thank you.

[2022-02-16 15:41] #21161 closed

[2022-02-16 15:50] csa-nathan commented on #21163
Hello Tolusha,

Should I take 7.41.2 version signed off by yourself and try it out?  Will Keycloak get installed by default in this version?

Spent too much time on version 7.42.0 for Keycloak and found the default installation got removed.

Should I enable devWorkspace to true or leave it to default false?

With Thanks,
Nathan CSA

[2022-02-16 16:20] csa-nathan commented on #21163
Should I take 7.41.2 version signed off by yourself and try it out? Will Keycloak get installed by default in this version?

Spent too much time on version 7.42.0 for Keycloak and found the default installation got removed.

Should I enable devWorkspace to true or leave it to default false?

With Thanks,
Nathan CSA

[2022-02-16 16:21] csa-nathan commented on #21163
Hello Tolusha,

Should I take 7.41.2 version signed off by yourself and try it out? Will Keycloak get installed by default in this version?

Spent too much time on version 7.42.0 for Keycloak and found the default installation got removed.

Should I enable devWorkspace to true or leave it to default false?

With Thanks,
Nathan CSA

[2022-02-16 17:11] amisevsk opened #21171 "Default user cluster roles do not grant view or edit permissions in Kubernetes"
### Describe the bug

When provisioning a user + user namespace for workspaces on Kubernetes, Che by default attaches no clusterRoles to the new user. This means that although a user is created, they are unable to perform any actions in the cluster.

### Che version

next (development version)

### Steps to reproduce

1. Install Che in Kubernetes
2. Log in as new user and check permissions in the

[2022-02-16 18:10] csa-nathan commented on #21163
I tried 7.41.2 and its the same error. The websocket gets closed in between. Its something to do with CheClusterRoles.

All versions starting from 7.40.0 to 7.41.2 have the same error.

Its quite frustrating. From version 7.42, OIDC Provider has been removed.   Installing Keycloak is another challenge. Initially i tried with 7.42 and could not succeed.

Kindly somebody let me know one version that

[2022-02-16 19:21] nickboldt opened #21172 "Update to latest vscode-quarkus and vscode-microprofile vsix extensions in Che (and CRW)"
### Is your task related to a problem? Please describe

In [CRW-2662](https://issues.redhat.com/browse/CRW-2662), publishing to download.jboss.org is going to stop being possible.

Therefore we need to move the build process where possible to push to openvsx or GH releases, and use those new URLs in Che and CRW plugin/devfile registies/sample projects.

### Describe the solution you'd like

@rgrun

[2022-02-16 19:35] nickboldt opened #21173 "Track workspace startups by devfile version and opening style"
### Is your enhancement related to a problem? Please describe

I'd like to collect metrics about workspace startups, so we can safely know when to drop support for v1, then later to see how many v2.2 workspaces are being opened.

### Describe the solution you'd like

Data to collect:
* devfile spec (v1, v2.1, v2.2)
* devfile open strategy (initial load from factory URL, initial load from Quick Add

[2022-02-16 20:54] gidduhome commented on #21036
Thanks @tolusha. For me, I have keycloak configured. But while trying to integrate KeyCloak with APIServer as OIDC provider, got struck. Still, trying to figureout which yaml file which parameter to be added/edited.

[2022-02-16 21:02] dmytro-ndp commented on #21127
@benoitf: the issue is re-assigned to you so that you are creator of https://github.com/eclipse-che/che-theia/blob/main/.github/workflows/happy-path-tests.yaml and so should have enough knowledge to fix it.

[2022-02-16 22:10] dmytro-ndp opened #21174 "Create GitHub actions to run DW Happy path tests nightly, on pull request and on push into eclipse/che repo"
### Is your task related to a problem? Please describe

We need a replacement of CRW Jenkins to run Eclipse Che nightly tests and PR check tests in eclipse/che repo.

### Describe the solution you'd like

Create GitHub actions to run DW Happy path tests nightly, on pull request and on push into eclipse/che repo.

### Describe alternatives you've considered

_No response_

### Additional context

_

[2022-02-16 22:35] dmytro-ndp commented on #20838
I am closing the issue as rejected, because it's not possible to use CRW Jenkins after chectl stopped supporting minikube run with driver 'none' mode (https://github.com/eclipse/che/issues/20969).

[2022-02-16 22:35] #20838 closed

[2022-02-16 22:50] dmytro-ndp commented on #20986
@l0rd, @benoitf: "503 Server error" has been reproduced with minikube v1.24.0 in GitHub action with Eclipse Che stable and next:
- https://github.com/eclipse-che/che-plugin-registry/runs/5220869436?check_suite_focus=true
- https://github.com/eclipse-che/che-plugin-registry/runs/5220869501?check_suite_focus=true

I will try workaround described in https://github.com/eclipse/che/issues/21125#issueco

[2022-02-17 06:54] iam-veeramalla commented on #16835
Just to update here ... This is now posible.
@l0rd

[2022-02-17 07:04] l0rd commented on #16835
@iam-veeramalla this is possible since Che v7.42. If you are testing on CRW it will be possible starting with CRW 2.16.

[2022-02-17 07:08] iam-veeramalla commented on #16835
I am not using CRW. I was waiting for Keycloak to support this feature, I saw previously that you were also waiting for this feature like me.

I just thought of updating that it's possible now but looks like you guys already knew it :)

[2022-02-17 09:01] tolusha commented on #20984
We have to wait minikube v1.26.0 to test.
Multiple issues which prevent deployment Eclipse Che on minikube v1.25.x

https://github.com/kubernetes/minikube/issues/13543
https://github.com/kubernetes/minikube/issues/13552
https://github.com/kubernetes/minikube/issues/13519
https://github.com/kubernetes/minikube/issues/13503
https://github.com/kubernetes/minikube/issues/13625

[2022-02-17 09:40] amol-m-deshpande commented on #20984
@tolusha
I have been trying the eclipse che on minikube.
Installation is done
[code]
When I go to http://192.168.49.2.nip.io/dashboard/ on chrome, nothing is loading up
 for minikube version: 1.24.0 and Eclipse Che Version: next

[2022-02-17 09:47] tolusha commented on #20984
yes, v1.24.0 works fine.
The issue with v1.25.x

[2022-02-17 10:23] amol-m-deshpande commented on #20984
@tolusha For minikube v1.24.0, the output shows deploy has completed successfully, but when I go to this https://192.168.49.2.nip.io/dashboard/
The dashboard doesn't load up

[2022-02-17 10:59] dmytro-ndp opened #21175 "Get rid of outdated keycloak references in Eclipse Che E2E typescript tests"
### Is your task related to a problem? Please describe

There is code in E2E typescript tests of Eclipse Che, which is getting auth token from keycloak.

After keycloak had been removed from Eclipse Che 7.40, E2E tests are failing on getting auth token step:

####  getting keycloak token to then set 'Preferences' to `never` value:
[code]
#### getting keycloak token to stop and delete workspace thr

[2022-02-17 12:15] tolusha commented on #20984
hmm. It works fine on my side
 Pls check che serverlogs
 `kubectl logs deploy/che -n eclipse-che` any stacktraces ?

[2022-02-17 12:49] svor commented on #21063
@ibuziuk
The main problem is that the commands don't have `workingDir` attribute or it has a wrong value. I've created two issues:
- https://github.com/devfile/api/issues/777
- https://github.com/devfile/api/issues/778

[2022-02-17 12:53] amol-m-deshpande commented on #20984
@tolusha here are the logs
[code]

[2022-02-17 13:39] l0rd commented on #16835
Oh sorry, I didn't know about Keycloak. What we did is that we removed it as a dependency.

[2022-02-17 13:50] akurinnoy commented on #20724
@max-cx if the question is still relevant: yes

[2022-02-17 15:13] l0rd opened #21176 "Automatically configure an OIDC provider on major public clouds (AWS, Azure, GCP)"
### Is your enhancement related to a problem? Please describe

Previous to Che v7.42, Che deployment included Keyloak on any platform.

With v7.42 we switched to use Kubernetes for authorization (a Che user is a Kubernetes user) but users [have to manually configure their Kubernetes cluster to use an OIDC provider (except for minikube and OpenShift)](https://github.com/eclipse/che/issues/21036#iss

[2022-02-17 15:56] makambalaji opened #21178 "TSLint rules needs to be updated as per the latest configuration"
### Is your task related to a problem? Please describe

Below warnings are displaying
[code]

### Describe the solution you'd like

Modify the tslint.json file and tsconfig file

[code]
noImplicitReturns updated as false, to avoid return statements for async()

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-17 18:05] csa-nathan opened #21181 "UnknownHost Exception. Che Server not able to access User Workspace URL"
### Summary

How to fix  Service Account system:serviceaccount:eclipse-che:che cannot get resource pods/log in API group "" in the namespace admin-che?

Getting the following error:

{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"pods \"workspaceioyfowrq20uehi3b.che-plugin-broker\" is forbidden: User \"system:serviceaccount:eclipse-che:che\" cannot get resource \"po

[2022-02-17 19:32] nickboldt commented on #21181
Please provide more details about...
* che version
* cluster version/details
* any of the other fields in https://github.com/eclipse/che/issues/new?assignees=&labels=kind%2Fbug&template=bug_report.yml that seem like they might help diagnose the problem or make it reproduceable

[2022-02-17 23:07] devstudio-release commented on #21155
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2770

[2022-02-17 23:08] devstudio-release commented on #21085
sync'd to Red Hat JIRA https://issues.redhat.com/browse/CRW-2771

[2022-02-18 03:18] csa-nathan commented on #21181
Hello Nick,

Error I get is not only in che-plugin-broker, but also for the pod...

Che Version : 7.41.0  ( Tried 7.40.0, 7.41.2 & 7.41.1 as well. Getting the same issue)
Cluster version:  AKS 1.21.7
Additional Information:

In lot of places in the Che Server log,  apart from the error initially posted in this issue, could find similar error for the pod as shown below ( For Go, it creates 5 contai

[2022-02-18 11:23] amol-m-deshpande commented on #21125
@debovema I followed the above steps, I can see the dex login.
I used a couple of creds from the output
[code]
username: che@eclipse.org
password: admin
**or**
username: user1@che
password: password
I get 500 internal server.
Did I miss any step?

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/97450729/154673451-58e11d4c-8f08-4463-a40b-69fc74e28adc.png">

[2022-02-19 00:34] #19696 closed

[2022-02-19 00:34] #20259 closed

[2022-02-19 11:00] debovema commented on #20282
@l0rd @benoitf : is it possible to add a working example for such a scenario with DevWorkspace ?
I have the same use case as @JonasHelming and I find it hard to gather the prerequisites for a custom Theia-based image to behave like a Che-Theia image.

[2022-02-19 18:09] l0rd opened #21182 "Gateway improvements suggestions"
### Is your enhancement related to a problem? Please describe

1. After idling there is no way to restart the workspace from the IDE: refreshing returns 503
2. Every workspace pod includes a gateway (traefik). It blocks access from other namespaces to the workspace endpoints. But it also consume resources and increase startup time.
3. Workspaces main URLs are long: port and endpoint could be remov

[2022-02-19 18:11] l0rd opened #21183 "Database dependency removal"
### Is your enhancement related to a problem? Please describe

Postgres is still a Che pre-requisite but it could be easily removed (it’s used only to persist users ids).
Removing the database would make the che-server a stateless application.

### Describe the solution you'd like

Use a ConfigMap to store users data.

[2022-02-19 18:14] l0rd opened #21184 "Che ignores my devfile.yaml and che-editor.yaml updates (because che-server URLFetcher sometimes caches its results)"
### Is your enhancement related to a problem? Please describe

I’m always frustrated when…Che uses the old version of a `devfile.yaml`, not the one I have modified a few seconds ago on github.com.

That can be reproduced starting a workspace from a GitHub repository, pushing a `devfile.yaml` change, deleting the existing workspace and starting a new one **with the same exact factory URL and within

[2022-02-20 00:37] #13835 closed

[2022-02-20 00:37] #15652 closed

[2022-02-20 00:37] #15696 closed

[2022-02-20 00:37] #17653 closed

[2022-02-20 00:37] #18111 closed

[2022-02-20 00:37] #18447 closed

[2022-02-20 00:37] #18897 closed

[2022-02-20 00:37] #18928 closed

[2022-02-20 00:37] #18966 closed

[2022-02-20 00:37] #19549 closed

[2022-02-20 00:37] #19738 closed

[2022-02-20 00:37] #19796 closed

[2022-02-20 00:37] #20033 closed

[2022-02-20 00:37] #20112 closed

[2022-02-20 00:37] #20222 closed

[2022-02-20 00:37] #20225 closed

[2022-02-20 00:37] #20262 closed

[2022-02-20 00:37] #20292 closed

[2022-02-20 08:33] l0rd commented on #15652
This is fixed by https://github.com/devfile/devworkspace-operator/pull/544

[2022-02-20 09:20] l0rd opened #21185 "Persistent Volume strategies: add “per workspace”"
### Is your enhancement related to a problem? Please describe

The only possible PVC strategy is “common”. But that doesn’t allow users to run more than one workspace at a time

### Describe the solution you'd like

We should support another PV strategy: per workspace. This strategy associates a new PV to every new workspace

### Describe alternatives you've considered

_No response_

### Addition

[2022-02-20 09:27] l0rd opened #21186 "Support Devfile v2 outer loop components of type `image` and `kubernetes`"
### Is your enhancement related to a problem? Please describe

Che currently ignores these component types although they are used in registry.devfile.io samples.

👉 Note that this issue is only about the “outer loop” implementation of these components. Outer loop means that the components are created after a workspace start-up to test in a prod like deployment. There is a [separate issue for inner

[2022-02-20 10:59] l0rd opened #21187 "Starting workspaces from a Dockerfile"
### Is your enhancement related to a problem? Please describe

If a developer wants to use a custom image from a Dockerfile he has to 1) pre-build it 2) push it to a registry 3) update the devfile to reference the just published image. This is bad UX.

### Describe the solution you'd like

- https://github.com/devfile/devworkspace-operator/issues/1036
- If needed, Eclipse Che Dashboard should repl

[2022-02-20 11:05] l0rd opened #21188 "Add `project` in DevWorkspace CRD spec and deprecate `projects` from the devfile spec"
### Is your enhancement related to a problem? Please describe

We are removing `projects` from the Devfile spec and leave only `starterProjects` ([issue](https://github.com/devfile/api/issues/679)). The reasons:
- when a Devfile lives in a git repo, close to the project source code, `projects` can (and should) be omitted
- when a Devfile lives outside a git repo, far from the project source code,

[2022-02-20 14:12] l0rd opened #21189 "Resolve Devfiles from private GH/BB/Gitlab repos even if Che OAuth App is not configured"
### Is your enhancement related to a problem? Please describe

Sometimes the user that deploys Che doesn’t have admin privileges on the GH/BB/Gitlab service: he cannot setup an OAuth application for Che.

In this scenario, if the Devfile is in a private git repositories, a developer is not able to start a workspace. Even if the git credentials of the developer have been setup (a secret exist in it

[2022-02-20 20:48] l0rd commented on #20785
Closing this issue. The only remaining problem is n.3 related to Theia but considered that our main attention is currently on VS Code and JetBrains we should not address it now.

[2022-02-20 20:49] #20785 closed

[2022-02-21 08:22] tolusha opened #21190 "Che Deploy Sprint #215"
#### Timeframe
Feb 23 - Mar 15

#### Team
| GitHub account  |
| ------------- |
| @tolusha |

#### Holidays / events
| Days  | |
| ------------- | ------------- |

#### CRW releases
CRW 2.11 is based on Eclipse Che 7.34.x
CRW 2.12 is based on Eclipse Che 7.36.x
CRW 2.13 is based on Eclipse Che 7.38.x
CRW 2.14 is based on Eclipse Che 7.40.x
CRW 2.15 is based on Eclipse Che 7.42.x
CRW 2.16 is based

[2022-02-21 09:28] ibuziuk commented on #21181
@tolusha @skabashnyuk could you please take a look?

[2022-02-21 09:55] SkorikSergey commented on #20985
After update tests work well on our OCP 4.9 cluster but fail on openshift-ci because settings.json is empty.
![screenshot-Wait_until_project_is_imported](https://user-images.githubusercontent.com/7760565/154931286-9ca7b1ca-782c-4f4e-bbc6-92176e9cce31.png)

[2022-02-21 09:57] SkorikSergey commented on #20985
I checked it today on OCP 4.9(from cluster-bot) and it has `{}` content as expected.

[2022-02-21 10:18] ibuziuk commented on #21171
@skabashnyuk would be great if the platform team prioritize this bug on k8s. Basically, the user is missing the `edit` rights in the namespace on k8s

[2022-02-21 10:33] csa-nathan commented on #21181
The issue is being discussed in https://mattermost.eclipse.org/eclipse/channels/eclipse-che channel and have shared the logs, yaml files...

[2022-02-21 10:36] tolusha commented on #21160
@gidduhome
We do have plans [1]
[1] https://github.com/eclipse/che/issues/21176

[2022-02-21 11:45] #21153 closed

[2022-02-21 11:50] celalsahin opened #21191 "Eclipse-che workspace(s) restarts randomly(?)"
### Summary

We have an eclipse-che (7.39.2) installed on EKS (v1.21.5-eks-bc4871b).
On our productive instance developers face random restarts of their workspaces while they are actively working on the tab. Restart of the workspace results in "the default project and branch are loaded into the tab." & in lower left you can see that default project of the workspace is shown although you have been

[2022-02-21 12:27] #21121 closed

[2022-02-21 12:27] #21167 closed

[2022-02-21 12:49] #20953 closed

[2022-02-21 13:28] azatsarynnyy opened #21193 "Editors Sprint 215"
Timeframe: February 23 - March 15

## Sprint goals
- Start work on productizing Che-Code for CRW
- Add support for Devfile commands to Che-Code
- Adapt Che-Code for dogfooding

## Sprint tasks
#### CRW
- [ ] Productize Che-Code as optional editor in CRW [CRW#2744](https://issues.redhat.com/browse/CRW-2744)
- [ ] Update CRW-IDEA with the latest upstream changes [CRW#2736](https://issues.redhat.com/

[2022-02-21 13:42] skabashnyuk commented on #21171
I'm not sure about this issue. It doesn't look like a bug. Because I don't remember we need such a Roles before. If you are sure that roles have to be there just create a pr and change the defaults of the property https://github.com/eclipse-che/che-server/blob/470e5b86be8f31f19ae29a3d48bd3e8af73521bd/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L344-L345.

BTW

[2022-02-21 13:54] SkorikSergey opened #21194 "Fix che-dashboard PR checker"
### Is your task related to a problem? Please describe

Che-dashboard PR checker fails with "/tmp/e2e/tests/plugins/VscodeYamlPlugin.spec.ts[37, 7]: 'yamlSchema' is declared but its value is never read." error on npm run lint side. We need to fix it.

[2022-02-21 13:55] ibuziuk commented on #21171
well, `edit` and `view` are the default user-facing cluster roles - https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles

it is really strange why this works on OpenShift but not on Kubernetes from the provisioning perspective.

[2022-02-21 13:59] SkorikSergey opened #21195 "Update OCP version in che-plugin-registry PR-checker to 4.9"
### Is your task related to a problem? Please describe

`v7-plugins-test-pr-check ` PR-checker in che-plugin-registry uses OCP v.4.7. We need to update it to OCP 4.9.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-21 14:04] #21194 closed

[2022-02-21 15:01] svor commented on #21191
@celalsahin could you please provide logs when the restart is happening: https://www.eclipse.org/che/docs/che-7/administration-guide/collecting-logs-using-chectl/

[2022-02-21 15:07] skabashnyuk commented on #21181
For some reason this code
https://github.com/eclipse-che/che-server/blob/470e5b86be8f31f19ae29a3d48bd3e8af73521bd/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/HttpConnectionServerChecker.java#L89

return IoException with supper wired message `server4f0gdeio-jwtproxy-server-4402.ide.banyanpro.uk`
Which gives absolutely no information about the error. Looks l

[2022-02-21 15:10] svor opened #21196 "Plugins Sprint 215"
## Sprint 215 (23 February - 15 March)

### Blockers

### Epics

### CRW
* [ ] Apply UDIs for all devfiles v2 and plugins [CRW-2688](https://issues.redhat.com/browse/CRW-2688) @svor
* [ ] Cleanup openshift-connector plugin by removing openshift-auth [CRW-2640](https://issues.redhat.com/browse/CRW-2640) @vinokurig
* [ ] The Openshift Connector plugin doesn't display the list of available imagestrea

[2022-02-21 15:27] celalsahin commented on #21191
Thanks a lot for the quick feedback!

1 - Please see attached workspace pod logs, right when the restart is happening (so you have an alignment/timestamp when checking other logs): (around 15:18:24 UTC) [workspace_pod_logs.txt](https://github.com/eclipse/che/files/8110371/workspace_pod_logs.txt)
2 - Please find the logs as requested also from eclipse-che namespace:
[eclipse_che_namespace_logs.tar.

[2022-02-21 15:51] skabashnyuk commented on #21181
The reason was in UnknownHostException.

[2022-02-21 15:53] svor commented on #21191
@celalsahin one more question: have you tried to upgrade Che? 7.39.2 version is a bit outdated

[2022-02-21 16:34] ibuziuk opened #21197 "Gradle devfile v1 -> v2 convertion is failing 1 error occurred: * duplicate key: gradle"
### Describe the bug

v1 devfile convertion fails with `Danger alert:1 error occurred: * duplicate key: gradle`
[code]

### Che version

7.42@latest

### Steps to reproduce

Try to convert devfile using User Dashboard

### Expected behavior

devfile is converted without errors

### Runtime

OpenShift

### Screenshots

![image](https://user-images.githubusercontent.com/1461122/154995175-09f07bd2-f5

[2022-02-21 16:38] ibuziuk opened #21198 "quarkus devfile v1 -> v2 convertion failure - 2 errors occurred: * devfile contains multiple endpoint entries with same name: hello-greeting-endpoint * devfile contains multiple containers with same TargetPort: 8080"
### Describe the bug

Original devfile

[code]

### Che version

7.42@latest

### Steps to reproduce

try to convert the quarkus  devfile v1 to devfile v2
ERROR: 2 errors occurred: * devfile contains multiple endpoint entries with same name: hello-greeting-endpoint * devfile contains multiple containers with same TargetPort: 8080

### Expected behavior

the conversion works without issues

### Run

[2022-02-21 17:00] benoitf commented on #21198
it's a dup of https://github.com/eclipse/che/issues/21167 and https://github.com/eclipse/che/issues/21121
it's fixed by https://github.com/eclipse-che/che-dashboard/pull/465 / che 7.44

[2022-02-21 17:01] benoitf commented on #21197
it's a dup of https://github.com/eclipse/che/issues/21167 and https://github.com/eclipse/che/issues/21121
it's fixed by https://github.com/eclipse-che/che-dashboard/pull/465 / che 7.44

[2022-02-21 17:01] #21197 closed

[2022-02-21 17:01] #21198 closed

[2022-02-21 17:04] ibuziuk commented on #21197
@benoitf probably dogfooding was not yet updated with the fixes.
Should we also close - https://github.com/eclipse/che/issues/21120 ?

[2022-02-21 17:06] ibuziuk commented on #21005
The current plan discussed on the Cabal call is to provide FAQ / Known issues to https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html

[2022-02-21 17:40] benoitf commented on #21197
For #21120 there are still 2 issues not related to devfile converter library. It's when you don't have any 'user container' in your devfile.

[2022-02-21 17:55] Divine1 opened #21199 "redirectURI error while creating workspace with `devfile.yaml` hosted within gitlabOrganization account using SSO"
### Summary

i have installed `eclipse-che` in `minikube` cluster.

`chectl version`
![image](https://user-images.githubusercontent.com/10482177/155004218-f4a5955a-80cb-448d-a57b-4f9da720294d.png)

When i clone a `devfile.yaml` present inside my organization's repository, i receive `The redirect URI included is not valid` error
![image](https://user-images.githubusercontent.com/10482177/155359961-

[2022-02-22 00:32] #19427 closed

[2022-02-22 00:32] #20331 closed

[2022-02-22 06:11] makambalaji commented on #21175
1. **Oauth_proxy and JSESSIONID** cookies are used as request headers in all api's instead of the bearer token.
2. How to retrieve this cookies -> Login to the application from Eclipse Che UI and fetch the cookie details from the api : {eclipse_che_url}/api/user
3. Re-use it in all other api's

[2022-02-22 07:42] #21094 closed

[2022-02-22 08:57] tolusha commented on #21171
@amisevsk
Could you clarify the problme you have?
Which action? Any errors?

[2022-02-22 08:57] csa-nathan commented on #21181
How to resolve this issue?

![image](https://user-images.githubusercontent.com/99651183/155097487-c1fcd439-e7fa-4467-ace8-50b962961fd5.png)

[2022-02-22 09:22] ibuziuk opened #21200 "Controller Sprint 215"
This issue collects work items of the Controller Team for Sprint 215 (February 23 - March 16).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (March 16)

The previous sprint https://github.com/eclipse/che/issues/21091

## Sprint goals
- [ ] Backport all important critical features and fixes to 7.44 / CRW 2.16 (DevWorkspace engine enabled by default)
-

[2022-02-22 09:36] SkorikSergey opened #21201 "[Typescript] Set preferences correctly when settings.json file doesn't have content"
### Is your task related to a problem? Please describe

We are using `setPreferenceUsingUI` function in our tests to set preferences by UI(open settings.json file and change content). It works well when settings.json file has any content. But without content it tries to parse empty string.

### Describe the solution you'd like

We can to add `{}` to settings.json if it is empty.

### Describe alte

[2022-02-22 09:47] ibuziuk commented on #21103
Closing the issue since we have 2 separate tickets for docs and the conversion enhancements:
- https://github.com/eclipse/che/issues/21005
- https://github.com/eclipse/che/issues/21120

[2022-02-22 09:47] #21103 closed

[2022-02-22 09:55] #21201 closed

[2022-02-22 09:55] makambalaji opened #21203 "Investigating Alternative solutions for Authorization as replacement for "KeyCloak""
### Is your task related to a problem? Please describe

After removing keycloak references, To re-use the existing api's. Need to identify alternative solution.

### Describe the solution you'd like

- Oauth_proxy and JSESSIONID cookies are used as request headers in all api's instead of the bearer token.
- How to retrieve this cookies -> Login to the application from Eclipse Che UI and fetch the

[2022-02-22 10:44] svor commented on #21043
fixed by https://github.com/eclipse-che/che-dashboard/pull/446

[2022-02-22 10:44] #21043 closed

[2022-02-22 14:50] nickboldt commented on #17454
I believe all Che repos have moved to a main branch. Closing this but if anyone finds more examples to fix, please reopen and link them here.

[2022-02-22 14:50] #17454 closed

[2022-02-22 14:52] nickboldt commented on #17602
Marking this resolved as things got merged and no one has commented since Sep 2021.

[2022-02-22 14:52] #17602 closed

[2022-02-22 15:30] ibuziuk opened #21205 "Airgap verification of the latest Eclipse Che with DevWorkspace engine enabled"
We need to make sure that Eclipse Che functions correctly in an air-gapped cluster and document any issues or additional requirements that are needed. DWO standalone has been verified already as part of https://github.com/devfile/devworkspace-operator/issues/668

[2022-02-22 15:30] ibuziuk commented on #21205
@ScrewTSW @musienko-maxim FYI

[2022-02-22 15:42] amisevsk commented on #21171
Pre-devfile v2, Che used its own serviceaccount to perform all actions on the cluster. With Devfile v2, the responsibility for creating resources is shifted to the dashboard, which uses the user's token in place of its own for various tasks.

On OpenShift, when a user runs `oc new-project amisevsk-che`, the new project comes with rolebindings to the `view` and `edit` clusterroles in order to allow

[2022-02-22 15:50] svor opened #21206 "[che-code] Add che-github-auth extension into che-code"
### Is your task related to a problem? Please describe

Che-Code should support GitHub auth flow and have an ability to get a GitHub token.

### Describe the solution you'd like

Add a new **che-github-auth** extension into che-code and transfer all functionality which we have in [che-theia](https://github.com/eclipse-che/che-theia/tree/main/plugins/github-auth-plugin)

[2022-02-22 16:02] svor opened #21207 "[che-code] Add che-resource-monitor extension into che-code"
### Is your task related to a problem? Please describe

Currently Che-Code doesn't have a mechanism to monitor resources of the workspace, we need to provide the same functionality which we have in Che-Theia.

### Describe the solution you'd like

Create **che-resource-monitor** extension in Che-Code, it could be transferred from [Che-Theia plugin](https://github.com/eclipse-che/che-theia/tree/mai

[2022-02-22 18:07] gidduhome commented on #21160
Thank you @tolusha

[2022-02-23 00:00] csa-nathan commented on #21181
It was an issue with the Domain Registrar end and now able to create the workspace for user..  Thanks to @skabashnyuk (https://github.com/skabashnyuk) for helping to identify it as an UnknownHostException..

[2022-02-23 00:00] #21181 closed, assigned to nobody

[2022-02-23 00:37] #20252 closed

[2022-02-23 00:37] #20330 closed

[2022-02-23 04:39] csa-nathan commented on #21163
Identified the problem with the Ingress Entry and now able to access the Che Dashboard. Working in 7.40.0 and 7.41.0 versions. All the versions has the same problem.  Closing it as resolved.

[2022-02-23 04:39] #21163 closed

[2022-02-23 05:07] Divine1 commented on #21199
@azatsarynnyy  please help me out on this.

[2022-02-23 05:38] azatsarynnyy commented on #21199
I'm not sure if this is a Dashboard or Che-Server functionality.
cc @ibuziuk @skabashnyuk

[2022-02-23 08:08] tolusha commented on #21181
@csa-nathan
Thank you for letting us know about solution.

[2022-02-23 08:25] SkorikSergey commented on #20985
Done

[2022-02-23 08:25] #20985 closed

[2022-02-23 09:25] vinokurig commented on #21147
I still can't see the `~/.kube/config` file in Che deployed on minikube.

[2022-02-23 09:34] ibuziuk commented on #21186
from the architectural point of view, I would like to avoid adding more complexity to the dashboard and making it the "glue" / pre-processing component without which some of the DevWorkspace flows would not work (like in this particular case with the `apply:component:` commands)

[2022-02-23 09:46] ibuziuk opened #21208 "Workspace is started automatically after the convertion to devfile v2 and still has the warning"
### Describe the bug

Workspace is started automatically after the convertion to devfile v2 and still has the warning

### Che version

7.42@latest

### Steps to reproduce

See https://youtu.be/o18BWt4447Y?t=130

### Expected behavior

- Workspace is not started automatically after conversion
- Once the converted workspace is started there is no deprecated warning anymore

### Runtime

OpenShift

[2022-02-23 09:53] vzhukovs opened #21209 "Che-IDEA is not expanded when modality dialogs appeared after moving code from patch to plugin"
### Describe the bug

There is a bug, when modality dialogs are appeared, the code which is responsible for IDE frame expand may receive ClassCastException.

### Che version

next (development version)

### Steps to reproduce

Open workspace with IntelliJ IDEA editor.

### Expected behavior

IDE frame should be expanded to full web screen.

### Runtime

other (please specify in additional context)

[2022-02-23 10:18] svor opened #21210 "[plugin-registry] Adapt nightly E2E tests on OS CI"
### Is your task related to a problem? Please describe

For now nightly tests of che-plugins-registry fail on OS CI https://prow.ci.openshift.org/?repo=eclipse-che%2Fche-plugin-registry

### Describe the solution you'd like

All plugins tests should be adapted to run with DevWorkspace.

[2022-02-23 10:27] SkorikSergey commented on #21210
We still need to adapt next tests:
- InstallPluginUsingUI
- JavaPlugin
- PhpPlugin
- PythonPlugin
- VscodeKubernetesPlugin
- VscodeShellcheckPlugin
- VscodeValePlugin
- VscodeXmlPlugin
- GitHubPullRequestPlugin

[2022-02-23 10:57] #21093 closed

[2022-02-23 11:41] azatsarynnyy opened #21211 "Che-IDEA dogfooding devfile"
### Is your task related to a problem? Please describe

Currently, there's [an empty devfile](https://github.com/che-incubator/jetbrains-editor-images/blob/main/devfile.yaml) in the Che-IDEA repository. It doesn't allow Che-IDEA development in Che.

### Describe the solution you'd like

Need to make a devfile that would enable Che-IDEA development in Che.
A devfile should provide a development con

[2022-02-23 12:00] rkratky commented on #21005
@ibuziuk, that's a bug (since yesterday's republication), and we're working on fixing it.

[2022-02-23 12:27] celalsahin commented on #21191
Sorry for the late reply - I will get back as soon as I do the update, as this is a productive instance & the pre-requisite is:
"Shut down all workspaces"
from [1] it might take some time to test, arrange the downtime etc.
[1]https://www.eclipse.org/che/docs/che-7/installation-guide/upgrading-che-using-the-cli-management-tool/

[2022-02-23 12:35] azatsarynnyy opened #21212 "Che-IDEA should display a component's endpoint URL"
### Is your task related to a problem? Please describe

When there's an endpoint declared in a devfile there's no way to open it from Che-IDEA UI.

Try, for example, the [`java-spring-petclinic` devfile](https://github.com/che-samples/java-spring-petclinic/blob/f904dc6a5901b2c43fd0c1ecabac2a52914d8d31/devfile.yaml#L10). It's not possible to preview the running application.

### Describe the soluti

[2022-02-23 13:05] #21209 closed

[2022-02-23 13:06] ibuziuk commented on #21147
@vinokurig for minikube see https://github.com/eclipse/che/issues/21171 feel free to comment in this issue

[2022-02-23 13:06] #21147 closed

[2022-02-23 13:23] #21091 closed

[2022-02-23 13:56] csa-nathan opened #21213 "Integrate My Web application with Eclipse Che IDE"
### Summary

Have a multi-user web application. Want to integrate Eclipse Che IDE running in Azure (Version 7.41.0) from web application.

On click of a link / button from my web application, it should (without asking for login credentials, maybe the credentials can be passed while invoking) invoke the Eclipse Che with a pre-defined workspace from Git Repo URL...

How to achieve it?

As Eclipse Ch

[2022-02-23 14:01] rkratky commented on #21005
@ibuziuk, the bug is fixed: https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2/

(Note that URL does no have '.html' at the end.)

[2022-02-23 14:08] csa-nathan commented on #20761
Try and remove the Che Dashboard Ingress Path from /dashboard/ to just /dashboard.  It should work.

[2022-02-23 14:09] csa-nathan commented on #20761
Try and remove the Che Dashboard Ingress Path from /dashboard/ to just /dashboard

 It should work.

[2022-02-23 15:06] #21082 closed

[2022-02-23 15:07] #21038 closed

[2022-02-23 15:41] csa-nathan opened #21214 "Eclipse Che Server 7.41.0 - How to Customize Che Dashboard Login & Workspace Templates"
### Summary

Using Che 7.41.0 Version in AKS with Keycloak OIDC authenticating user into the  Eclipse Che Dashboard / Server IDE.

Logging in as admin user.  Getting the same UI in Dashboard as normal user.

![Che-Dashboard](https://user-images.githubusercontent.com/99651183/155351545-9c7e59a1-323e-461a-963b-7c36349134c2.png)

How to address the following ?

1. Its allowing the same user to login

[2022-02-23 15:51] #21117 closed

[2022-02-23 15:57] azatsarynnyy opened #21215 "Che-Code dogfooding flow requires fixes"
### Is your task related to a problem? Please describe

There's a [devfile](https://github.com/che-incubator/che-code/blob/main/devfile.yaml) for running Che-Code in Che, but it is not adapted for dogfooding.
1. When running `yarn watch` command, the process is killed with the error `Visual Studio Code is unable to watch for file changes in this large workspace`.
2. When running `yarn build` comma

[2022-02-23 16:11] Divine1 commented on #21199
@azatsarynnyy  @ibuziuk  @skabashnyuk

i was able to fix the issue by trial and error method.

as i have mentioned in my question, i suspected that the`redirect_uri` is causing the problem. So i added the `redirectUri` in the `gitlab application profile` (screenshot posted below)

[code]

i noticed only just now that multiple `redirectUri's`   can be added for a single `gitlab application profile`

[2022-02-23 19:22] azatsarynnyy commented on #21199
Hello @Divine1
I'm glad you were able to solve your problem.
Here's the list of Eclipse Che components
https://github.com/eclipse/che/blob/main/CONTRIBUTING.md#other-che-repositories
I believe, it should be up to date.

[2022-02-23 19:22] #21199 closed

[2022-02-24 00:41] Divine1 commented on #21199
@azatsarynnyy  the solution works for now. but I'm not sure that is the correct solution . I will create new request if i face any further issues

Thank you. Have a great day

[2022-02-24 08:43] martinelli-francesco opened #21216 "APIs to manage workspaces (DevWorkspace operator)"
### Summary

I'd like to create a custom dashboard and use RESTful APIs to list/create/stop/delete workspaces.
I took a look at the APIs in swagger https://<che_host>/swagger/ and found some APIs that should be what I'm looking for. For example:
- GET /workspaces
- DELETE /workspace/{id}
- POST /workspace/devfile

I tried calling the first one (using the swagger button "Try it out") but the result

[2022-02-24 09:17] Divine1 opened #21217 "what is the password for the sudo user in the workspace terminal?"
### Summary

After launching [a project](https://github.com/spring-projects/spring-petclinic.git) in my workspace, i clicked `tools` -> `New terminal`

The `terminal` appeared in the editor. i wanted to explore more by logging in as `root`. But i'm not aware of the `password`. Please let me know how to login as `root` user here. What is the `default password`?

![image](https://user-images.githubu

[2022-02-24 14:36] ibuziuk commented on #21063
The current state with the 2.2 samples on workspaces.openshift.com (conversion from 2.2 to 1)

- Python [1]
- Node.js [2]
- Quarkus [3]
- Spring Boot [4]

Workspaces are started, the projects are cloned, no pre-defined commands are available (the parent devfiles are not processed, hence the containers with runtimes are not available)

[1] https://workspaces.openshift.com/#https://github.com/devfil

[2022-02-24 15:04] Divine1 opened #21218 "dev-workspace doesnot detect `devfile.yaml` present inside branches other than master or main branch"
### Summary

below is the message i receive when i place my `devfile.yaml` within a branch other than `main` or `master`.
Kindly let me know how to fix this issue?

![image](https://user-images.githubusercontent.com/10482177/155549245-c36846a0-a309-4384-9315-8786741e9c30.png)

below is my `devfile.yaml`
[code]

i looked into the devfile [documentation](https://devfile.io/docs/devfile/2.1.0/user-gu

[2022-02-25 15:54] nickboldt commented on #21175
Downgrading from Blocker so that the Che 7.44 release can proceed. Feel free to re-escalate next week.

[2022-02-26 10:00] csa-nathan commented on #15967
Hello Lee,

Were you successful in integrating your web application with eclipse che using REST API?

After getting the Keycloak Access Token, I get an 401 error.

<!doctype html><html lang="en"><head><title>HTTP Status 401 – Unauthorized</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;} h2 {font-siz

[2022-02-28 00:36] #20275 closed

[2022-02-28 00:36] #20339 closed

[2022-02-28 00:36] #20359 closed

[2022-02-28 10:34] ibuziuk commented on #21217
Hello, Eclipse Che workspace is a set of containers running as a pod on the kubernetes infrastructure.
In general, containers running as root is a significant security risk + containers are supposed to be immutable, and installing anything inside the container is not recommended since after the restart all the packages will vanish. What is more some of the infrastructures do not support sudo and w

[2022-02-28 12:53] Hadsch opened #21219 "How to retrive all workspace logs (which are shown in the dashboard) with kubectl (or a log-shipper like elastic-filebeat)"
## Summary
When using Filebeat (part of the Elastic Stack) to collect all log data, the logs that are displayed in the Che dashboard when starting a workspace are not collected!

Where can I find them (Which (init)POD should show these logs)?

## Detail
If you switch to the logs tab in the che-dashboard when starting a workspace, the following output is displayed:

![grafik](https://user-images.gi

[2022-02-28 14:21] ibuziuk commented on #21218
Please, take a look at the dedicated blog bost https://che.eclipseprojects.io/2021/12/20/@florent.benoit-authoring-a-url-to-start-a-workspace.html

[code]

[2022-02-28 15:43] Divine1 opened #21220 "unable to view tcp endpoint URL generated from `devfile.yaml` spec spawned from the workspace"
### Summary

i'm not able to view the url of the tcp endpoint generated from `devfile.yaml` spec. Unable to copy it as well. i have no idea what my tcp endpoint is. How do i find what the tcp endpoint is?

But i'm able to view / copy the `http` endpoint.
![image](https://user-images.githubusercontent.com/10482177/156011569-023d808c-baab-4784-9cbc-89d7fd51c442.png)

Currently i have installed `ecli

[2022-02-28 15:47] Divine1 commented on #21217
@ibuziuk thank you for the details. i have no usecase that will require sudo. i was just exploring the terminal in `eclipse-che`.

have a great day

[2022-02-28 16:09] #21218 closed

[2022-02-28 16:50] Divine1 opened #21222 "error while accessing public endpoints with both http protocol and ws protocol spawned from workspace"
### Summary

My application exposes a webinterface accessible via `http protocol`. Couple of features in this application is accessible via `http protocol`, and remaining features in this application requires websocket `ws, wss` protocol.

What am i doing with `eclipse-che`?

Below `devfile.yaml` is used to create the workspace and clone my application into the workspace.  As per the details in my

[2022-02-28 17:13] nickboldt opened #21223 "Theia 7.44.0 build failed to compile"
### Describe the bug

[code]

-- https://github.com/eclipse-che/che-theia/runs/5362752467?check_suite_focus=true

### Che version

7.44.0

### Steps to reproduce

1. https://github.com/eclipse-che/che-theia/actions/workflows/release.yml
2. GHA fails
3. see log

### Expected behavior

1. https://github.com/eclipse-che/che-theia/actions/workflows/release.yml
2. GHA passes
3. branch created; new imag

[2022-02-28 17:22] nickboldt commented on #21223
Failure could be related to https://github.com/eclipse-che/che-theia/commit/7124cd944c1901f055eedeeff56285a3ddeb0768#annotation_2860286957 cc: [RomanNikitenko](https://github.com/eclipse-che/che-theia/commits?author=RomanNikitenko)

[2022-02-28 17:29] benoitf commented on #21223
It's related to https://github.com/eclipse-che/che-theia/blob/main/plugins/github-auth-plugin/package.json#L20

[2022-02-28 18:16] nickboldt commented on #21223
Fix pushed to 7.44.x branch and build triggered in https://github.com/eclipse-che/che-theia/actions/runs/1911874689 while we wait for the above PR to get checked and merged

[2022-02-28 20:24] nickboldt commented on #21223
aaaaand it failed again.

{code}
Error: [compile] src/github-auth-plugin.ts(19,55): error TS2769: No overload matches this call.
[compile]   Overload 1 of 3, '(provider: AuthenticationProvider): Disposable', gave the following error.
[compile]     Argument of type '{ id: string; label: string; supportsMultipleAccounts: false; onDidChangeSessions: theia.Event<theia.AuthenticationProviderAuthenticat

[2022-02-28 21:27] nils-mosbach opened #21224 "Devworkspace Operator keeps changing public ports"
### Describe the bug

If creating a devworkspace from a devfile that has more than 3 public endpoints ingress hostnames keep changing for quite a while.

![ingress-che](https://user-images.githubusercontent.com/15126675/156060344-b0d0cc76-dcd2-42c9-8264-f49098684fde.gif)

This will cause endpoints displayed by checode/theia to point to the wrong service. It seems that after a while this is stopped

[2022-02-28 21:44] nils-mosbach commented on #21213
Workspaces are defined by devfiles that are part of the projects. Have you tried using factory links? That actually starts a workspace and displays the IDE when its ready. We've placed "open in che" links in our git projects.

`https://my-local-che.dev/#https://github.com/..../repo.git`

So every project can have its own devfile.yaml. If all of these sources are part of one project I would prepare

[2022-03-01 00:37] #19838 closed

[2022-03-01 00:37] #20341 closed

[2022-03-01 00:37] #20364 closed

[2022-03-01 07:42] benoitf commented on #21223
2 PRs: https://github.com/eclipse-che/che-theia/pull/1326 and https://github.com/eclipse-che/che-theia/pull/1327 (one for main branch and the other one for 7.44.x)

[2022-03-01 10:40] wbondarchuk opened #21225 "Installing Che on Google Cloud Platform"
### Summary

Hello, I'm installing Che on gcp. I got to the point Installing cert-manager on Kubernetes and ran into a problem on the 5th point. I don't understand what and where I need to check. The screenshot is not clear. (attached is a screenshot from the guide and my GCP). After skipping point 5, I went further and got errors (in the attached file). Before that, there were no problems. What i

[2022-03-01 10:42] wbondarchuk commented on #21225
[gcplogs.docx](https://github.com/eclipse/che/files/8160891/gcplogs.docx)

[2022-03-01 12:34] #21223 closed

[2022-03-01 12:37] nickboldt commented on #21223
Running release against 7.44.x branch: https://github.com/eclipse-che/che-theia/actions/runs/1916188785
Running next build against main branch: https://github.com/eclipse-che/che-theia/actions/runs/1916184094

[2022-03-01 13:06] nickboldt commented on #21223
both builds are green! thanks for the assist, @benoitf !

[2022-03-01 15:04] celalsahin opened #21226 "eclipse-che update 7.39.2 --> 7.43.0 fails with "Unsupported operation: it is not possible to update current Che installation to new version with enabled 'devWorkspace' engine.""
### Summary

I setup a fresh eclipse-che instance using:

chectl.cmd server:deploy --installer=operator --platform=k8s --version=7.39.2 --domain=XXX --telemetry=off --postgres-pvc-storage-class-name=YYY

Following that, I update my chectl, e.g.:

chectl: Updating CLI from 7.39.2 to 7.43.0... done
chectl: Updating CLI... done

Next trying to update to latest fails with:

PS C:\Users\tr1s4323> chect

[2022-03-01 16:46] disaster37 commented on #21160
Same issue here. I doesn't found a good doc that explain all step to successfully deploy eclipse che with chectl on k8s plateform, maybee with Google Openid or github Oauth.

[2022-03-01 20:31] amisevsk commented on #21164
For clarity, it appears that the issue is that the `attributes` field in the devfile is being dropped somewhere in the dashboard. I'm unable to add attributes to existing workspaces either.

[2022-03-01 20:40] amisevsk commented on #21105
We can support this via an attribute in the DevWorkspace Operator, or by adding the relevant field to the DevWorkspace CRD -- which is preferable here?

It would be very straightforward to define e.g. `controller.devfile.io/runtimeClassName` as an attribute and propagate that to the pod created for that workspace. This also has the benefit of not adding more explicit fields to the DevWorkspace API

[2022-03-02 12:15] rbaumgar opened #21227 "CRW: workspaces does not come up for some users"
### Summary

After uninstall/install of CRW
some users can work (developer), some does not work (demo)
the browser shows: POST https://<CRW_URL>/api/kubernetes/namespace/provision , 504, Gateway Time-out
the log show: [WARN ] [o.e.c.w.i.o.p.OpenShiftProject 258]  - Trying to get namespace 'demo-codeready', but failed because the lack of permissions.

### Relevant information

OpenShift 4.9.21
CRW:

[2022-03-02 12:19] l0rd commented on #21105
I want to let the developers to choose if the workspace will run in a Kata container or not. In other words, on the same OpenShift cluster, a developer can:
- specify the factory URL parameter `runtime-class-name=kata` and the workspace will be started using kata containers
- omit the factory URL parameter `runtime-class-name` and the workspace will be started using a regular Pod.

So if the attri

[2022-03-02 20:52] nickboldt opened #21228 "On reload of workspace, nuissance warnings appear"
### Is your enhancement related to a problem? Please describe

0. open CRW dashboard
1. Create Workspace > Import from Git
2. paste in your GH project URL - note: project must contain a v2 devfile.
3. click Create & Open
4. wait as workspace loads
6. _accept the security question about trusting the GH repo (that you explicitly asked for when creating the workspace!)_
7. accept question restarting

[2022-03-03 05:11] Divine1 commented on #20979
i think this issue occured to me due to my slow internet. i didnot make any changes to fix this issues.

[2022-03-03 06:05] anshumaanyadav-neudesic opened #21229 "Unable to use external keycloak with Eclipse che"
### Summary

I am trying the run eclipse-che with external Keycloak. I have created a custom-resource with externalIdentityProvider set to true, and when I deploy using chectl the identityProviderURL does not changes and remains the same dex.dex:5556

I am deploying che on minikube 1.24 on windows with Hyper-V as driver and the external keycloak is running in a separate docker container.

Please l

[2022-03-03 13:01] EnergieZ commented on #21160
Same problem for me, don't found any easy solution for K8S on docker desktop (windows), and will have the same problem when going to production with managed K8S on OVH.

Che need to have an embeded solution, or enough documentation to do it :)

[2022-03-03 13:22] Hadsch commented on #21219
This are the PODs which are running:

[code]

I would expect it in the "operator" or in the "server" (che-68d87d68b9-b882r ), but I just can't find it.
Are those logs stored internally in a differnt location so that `kubectl logs ....` does not output it?

[2022-03-03 13:34] mmack opened #21230 "Kubernetes without access to the Apiserver"
### Summary

I'm using managed kubernetes from vultr.com. They do not allow me to change settings on the apiserver, so i'm not able to set k8s up like described by this user: https://github.com/eclipse/che/issues/21049#issuecomment-1022108499 (btw i can't find that setup step anywhere in the docs)

So, is it even possible to install Che then ?

### Relevant information

https://www.vultr.com/kuber

[2022-03-03 15:36] celalsahin commented on #21226
Doing updates step by step I found the exact version error comes from 7.41.2 --> 7.42.0

<details>
  <summary>Output of update</summary>

[code]
</details>

[2022-03-03 16:12] nils-mosbach opened #21231 "Private GitLab repositories: OAuth2 flow fails in devworkspace mode (without Keycloak)"
### Describe the bug

Trying to start workspaces from private GitLab repo fails with the following message:

![image](https://user-images.githubusercontent.com/15126675/156597077-37edd53e-e4dc-4cd6-bf5a-9a3b3786cc72.png)

It seems that the token that was passed by GitLab isn't used`.

As expected authentication is triggered after `https://che.company.dev/api/factory/resolver/` fails. Following the

[2022-03-03 16:12] disaster37 opened #21232 "Not install cert-manager with chectl when it is already installed outside of che"
### Describe the bug

When we deploy fresh eclipse che 7.43 / 7.44, it no more working because of it try to install cert-manager.
In fact, cert-manager is already deployed outside of eclipse che. So it detect thar is been already depployed (it look CRD), but after that if wait forever that is running on che namespace.

### Che version

7.44@latest

### Steps to reproduce

1. Deploy cert-manager fr

[2022-03-04 06:00] anshumaanyadav-neudesic commented on #21229
I have manually update the CRD with the following:

[code]

And the pod is up...but as soon as I try to access the che-server, Dex Login shows up.

[2022-03-04 08:37] nils-mosbach commented on #21073
Have you checked if oidc claim is the same on kube-api-proxy and che-server? That's what caused the issue in our case.
Kubernetes uses `sub`, Che server uses `name` by default. Please note that Che persists user information in the Database. That's what tricked me.

See here: https://github.com/eclipse/che/issues/21049#issuecomment-1022103182

[2022-03-04 08:44] nils-mosbach commented on #21229
If using devworkspace-mode oauth params differ slightly from the previous documentation. `identityProviderRealm` is ignored since its part of `identityProviderURL`. `identityProviderClientId` is ignored as well. We had to use `oAuthClientName` and `oAuthSecret` instead. That acually worked with keycloak.

Set `CHE_OIDC_USERNAME__CLAIM` to the setting kube-api-proxy is using.

[code]

See: https://

[2022-03-04 13:36] cristian-radu commented on #21176
Could you please support custom OIDC provider configuration as well?

We deployed Eclipse Che over 1 year ago now, when Keycloack was the authentication provider being used. We chose to deploy an external instance of Keycloack that we manage ourselves and we have tied it to other components of our platform as well.

 Since the Eclipse Che Helm charts have been deprecated, we are migrating to manag

[2022-03-04 18:08] amisevsk commented on #21227
If this issue is for CRW, please open a Jira issue here: https://issues.redhat.com/projects/CRW

A few questions:
* Does the installation have DevWorkspaces support enabled?
* Can the user (seems to be named `demo`) perform actions in the `demo-codeready` namespace? I.e. are they included in the `admin` role in that namespace?

[2022-03-05 00:37] #20342 closed

[2022-03-05 00:37] #20378 closed

[2022-03-05 11:09] NexZhu opened #21233 "che-operator calling devworkspace webhook even if devWorkspace.enable is set to false"
### Describe the bug

I tried to create a che instance with the following CRD yaml:
[code]

Then there's an error about devworkspace webhook even if I set `devWorkspace.enable` to false

che-operator log:
[code]

### Che version

7.44@latest

### Steps to reproduce

1. Install `che-operator` on Kubernetes
2. `kubectl -f checluster.yml` with the above YAML

### Expected behavior

Install Che succes

[2022-03-05 13:08] lingenhag opened #21234 "Build arm64 version of che-operator image to deploy Che on Apple Silicon M1"
### Describe the bug

Tried to install eclipse-che on a MacBookPro with M1. Got this

Cause: Error: Failed to download image, reason: ErrImagePull, message: rpc error: code = Unknown desc = no matching manifest for linux/arm64/v8 in the manifest

I guess the image is also working on amd64 mode. How can I force the script to download the image anyway ?

### Che version

7.44@latest

### Steps to re

[2022-03-07 00:35] #19547 closed

[2022-03-07 00:35] #20286 closed

[2022-03-07 05:21] tsadigovAgmail opened #21235 "custom plugin registry url"
### Describe the bug

Can not install any plugin from custom registry because generated url for yaml is wrong. Initial registry url is prepended which breaks the url.

Unable to install plugin 'xyz/54.3.0/latest'. Request installPlugin failed with message: Unable to get http://plugin-registry.eclipse-che.svc:8080/v3/plugins/http://my.plugin.registry:8080/v3/plugins/xyz/54.3.0/latest/che-theia-plug

[2022-03-07 07:51] Divine1 opened #21236 "how to `volumeMount` on a `hostPath` in `eclipse-che` ?"
### Summary

When i create a simple pod with a kubernetes cluster, i will have the flexibility to add `volumeMounts` that points to a `hostPath` in `pod.yaml` file

incase of the below `pod.yaml` file , if there are any files generated and stored within `/app/ntemp`, those files will be available in my localComputer's `hostPath: /Users/divine/Documents/minikubehostvolume`

below is the `pod.yaml`

[2022-03-07 09:52] ibuziuk commented on #20724
Fixed in the https://github.com/eclipse-che/che-operator/pull/1330
The configuration has been enabled on the dogfooding instance:
![warning](https://user-images.githubusercontent.com/1461122/157008206-ebe9c3be-751b-4233-bae3-e597a8b3bda1.gif)

[2022-03-07 09:52] #20724 closed

[2022-03-07 10:00] l0rd commented on #21176
@cristian-radu custom OIDC providers, including Keycloak, should be supported. Can you please help us with more details about what are the problems with current OAuth2 proxy configuration? How could we make it work with Keycloak?

[2022-03-07 12:32] rbaumgar commented on #21227
@amisevsk
- DevWorkspaces is not enabled.
- yes, user demo is admin of NS demo-codeready. And the NS is created by CRW, SA: system:serviceaccount:openshift-workspaces:che

[code]

[2022-03-07 13:03] rbaumgar commented on #21227
CRW-2800

[2022-03-07 15:17] l0rd commented on #21227
Closing this GH issue. Continuing on CRW isue tracker https://issues.redhat.com/browse/CRW-2800

[2022-03-07 15:17] #21227 closed

[2022-03-07 16:27] tsadigovAgmail commented on #21076
I tried with next 2 versions of chectl and with different driver=docker for minikube, it works like a charm. I will not go over trying other parameter options.
Great job.

[2022-03-07 16:27] #21076 closed

[2022-03-07 19:23] nickboldt commented on #19543
Note that this is a regression from pre-DW versions of Che, as I can still rename my workspaces as I edit my devfile in 2.15. Alas with 2.16, that'll break and I expect we'll get some user feedback about it :(

[2022-03-08 00:34] #17608 closed

[2022-03-08 00:34] #18702 closed

[2022-03-08 00:34] #18716 closed

[2022-03-08 00:34] #18953 closed

[2022-03-08 00:34] #19065 closed

[2022-03-08 00:34] #19107 closed

[2022-03-08 00:34] #20089 closed

[2022-03-08 03:33] anshumaanyadav-neudesic commented on #21229
Hi @nils-mosbach , Thanks for sharing the custom-resource.
But this does not work for me. I am still seeing the dex login page and I cannot login using the user from keycloak.

[2022-03-08 10:38] l0rd commented on #21150
We are going to use nodejs 14 because some VS Code extensions may be not compatible with nodejs 16

[2022-03-08 11:24] ibuziuk opened #21237 "Update che-dashboard to Node.js 14 or 16 LTS"
### Is your task related to a problem? Please describe

Node.js 12 will reach EOL on 2022-04-30.

[2022-03-08 14:31] l0rd commented on #21237
You may have already considered that but current [nodejs LTS is v16](https://nodejs.org/en/) so, if it doesn't require extra effort, we should update to that version.

[2022-03-08 16:27] nickboldt commented on #19543
An easy workaround for "I can't open the same devfile multiple times" eg., in order to make changes to one and compare to another (perhaps  to see if my devfile will compile with BOTH JDK 8 and 11 in separate workspaces from the same devfile source):
append `?new` on the factory URL:

https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/#https://github.com/che-samples/java-spring-petclini

[2022-03-08 16:36] disaster37 commented on #21160
Hi,

I have read the source cli code to look how it control that the ODIC is enabled.
It search api-server pod on kube-system namespace to look if oidc parameter is set.

If you are on managed k8s, you haven't access on this namespace (hidden for client), so it failed.
You need to set `--skip-oidc-provider-check`

[2022-03-08 17:18] EnergieZ commented on #21160
Hello,
I am on a managed K8S, but i have access to kube-system namespace.
Their is no "api-server" pods.
Here is the available pods :

![image](https://user-images.githubusercontent.com/1869463/157290658-ce9f3555-d126-487f-8e6d-6cf5feccc615.png)

Maybe this check is not a good solution.
Any way, I will use `--skip-oidc-provider-check`
Thank you for your help

[2022-03-08 17:26] l0rd commented on #21235
@tsadigovAgmail thanks for raising this issue and for perseverance. I need some more informations:

How have you done that? What UI? The IDE UI? I am asking because I would add the new registry through the CheCluster customCheProperty `CHE_WORKSPACE_PLUGIN__REGISTRY__URL` or in the git repository `.che/che-theia-plugins.yaml`.

[2022-03-08 17:55] l0rd commented on #21234
We are [not building arm64](https://github.com/eclipse-che/che-operator/blob/main/make-release.sh#L30) that explains why it doesn't run natively on M1 Silicon. I don't know how to force minikube (or docker) to use `amd64`.

[2022-03-08 18:17] #21233 closed

[2022-03-08 18:29] l0rd commented on #21234
@lingenhag have you considered signing up to [Che mailing list](https://accounts.eclipse.org/mailing-list/che-dev) or joining [Che weekly community call](https://github.com/eclipse/che/wiki/Che-Dev-Meetings) to help us improving the project?

[2022-03-08 18:29] l0rd commented on #21235
@lingenhag have you considered signing up to [Che mailing list](https://accounts.eclipse.org/mailing-list/che-dev) or joining [Che weekly community call](https://github.com/eclipse/che/wiki/Che-Dev-Meetings) to help us improving the project?

[2022-03-08 22:45] dkwon17 opened #21238 "Latest Devworkspace status in the Dashboard's edit view not in sync with sidebar"
### Describe the bug

On a Che installation with the DevWorkspace engine, the devworkspace status (ex. `RUNNING`, `STARTING` etc.) in the Dashboard's edit view is not in sync with the status in the sidebar.

### Che version

next (development version)

### Steps to reproduce

1. In the dashboard, click on the three dots beside an existing devworkspace, and press 'Edit':
<img width="362" alt="image

[2022-03-09 00:35] #20409 closed

[2022-03-09 05:49] #21175 closed

[2022-03-09 05:50] #21178 closed

[2022-03-09 09:42] EnergieZ opened #21239 "chetctl deploy on K8S : PostgreSQL pod bootstrap : Starting failed"
### Describe the bug

On a fresh kubernetes (managed by OVH, version 1.22.2-2), chectl failed to deploy.
Keycloax is installed with succes and works fine.
OIDC is well configured as well.

[code]

### Che version

7.44@latest

### Steps to reproduce

1. launch this command : `chectl server:deploy --domain=mydomain.com --platform=k8s --skip-oidc-provider-check` (skip-oidc-provider-check because of

[2022-03-09 10:20] mmorhun commented on #19255
Is the issue fixed?

[2022-03-09 10:34] SkorikSergey opened #21240 "[Typescript] `npm run tsc` command fails with `Cannot find name 'yamlSchema'` error"
### Describe the bug

`npm run tsc` command fails with `Cannot find name 'yamlSchema'` error after changes from https://github.com/eclipse/che/pull/21179 PR.

### Che version

7.44@latest

### Runtime

OpenShift

### Screenshots

![Selection_069](https://user-images.githubusercontent.com/7760565/157424603-9df5130d-883e-4a3a-ab12-c524bee83eb1.png)

### Installation method

chectl/next

### Environm

[2022-03-09 10:41] SkorikSergey opened #21241 "Adapt typescript factories test to be run against Eclipse Che with DW enabled by default"
### Is your task related to a problem? Please describe

Adapt typescript factories test to be run against Eclipse Che with DW enabled by default.

We need to update only DirectUrlFactoryWithRootFolderTest and DirectUrlFactoryWithSpecificBranchTest tests.
DirectUrlFactoryWithKeepDirectoryTest checks feature that doesn't exit for now. It will be removed from test suite.

### Describe alternatives yo

[2022-03-09 10:54] EnergieZ commented on #21239
For information tried with stable and next channel of chectl : same problem

[2022-03-09 12:24] l0rd commented on #21236
@Divine1 thanks for this queston, this is a very valid scenario.

We should avoid specifying an hostpath in a devfile as it would make the devfile not portable (it works for you because `/Users/divine/Documents/minikubehostvolume` existing folder in your host, but it doesn't work for me) and I would have some concern from a secuirty point of view.

Our approach for anything related to user specifi

[2022-03-09 14:08] Divine1 commented on #21236
thank you @l0rd for the response

In which namespace should i create the `PersistentVolumeClaim` ?
the scope of `PersistentVolume` is the entire cluster , so i need not worry about namespaces while creating `PersistentVolume` , right?

i have below namespaces in my k8s minikube cluster
![image](https://user-images.githubusercontent.com/10482177/157456197-defcf280-1b09-4bc8-bb33-da9182a5cdad.png)

[2022-03-09 14:21] l0rd commented on #21236
The PVC should be in the namespace where your user workspaces are created. Assuming you are using kubeadmin the namespace is `admin-che`.

[2022-03-09 14:29] Divine1 commented on #21236
@l0rd

in my usecase, there will be bunch of users who will login and use the `eclipse-che` setup. in this case, a new namespace will be created for each user.  How to create the PVC for each user who is loggedIn in this scenario?

**My requirement**
i will be having a PV with couple of files which can be viewed/modified any loggedin users.

[2022-03-09 14:39] l0rd commented on #21239
@EnergieZ thank you for your feedback. This looks like a duplicate of https://github.com/eclipse/che/issues/21095 and is related to Kubernetes clusters running on OVH. I am going to close this issue as duplicate but let's continue the discussion on [here](https://github.com/eclipse/che/issues/21095). Also don't hesitate to reach us through [Che mailing list](https://accounts.eclipse.org/mailing-li

[2022-03-09 14:39] #21239 closed

[2022-03-09 14:43] EnergieZ commented on #21095
Hi @snoopfab ,

I'm facing the same problem with K8S by OVH.
Did you found a solution ?

Tried sevral things without succes :(

[2022-03-09 14:55] l0rd commented on #21095
For reference here is @EnergieZ [similar issue](https://github.com/eclipse/che/issues/21239). We do not have access to OVH Kubernetes clusters so it's hard for us to investigate. One workaround I would suggest would be to deploy Postgres as a standalone application and configure Che to use the external Postgres (related documentation: [CheCluster database configuration fields](https://www.eclipse.

[2022-03-09 15:42] EnergieZ commented on #21095
Solution has been found !

delete the sorage class objet : csi-cinder-high-speed

recreate it with this :
[code]

Note the extra `fsType: ext4`, wich solve the problem !

[2022-03-09 15:55] zeibura opened #21243 "Eclipse Che4z deprecation"
The Che4z basic and premium stacks are now deprecated and no longer supported. The mainframe extension package is now only offered on VS Code.

The individual open source plug-ins from the package (i.e. [COBOL Language Support](https://github.com/eclipse/che-che4z-lsp-for-cobol/), [HLASM Language Support](https://github.com/eclipse/che-che4z-lsp-for-hlasm) and [Explorer for Endevor](https://github

[2022-03-09 17:01] ibuziuk commented on #20090
@dkwon17 going to close the issue since the initial plugin is contributed to the https://github.com/che-incubator/devworkspace-telemetry-woopra-plugin

Documentation is tracked as part of the https://github.com/che-incubator/devworkspace-telemetry-woopra-plugin

[2022-03-09 17:37] l0rd commented on #21095
@EnergieZ great! Closing this issue. What was original StorageClass `fsType` that was causing problem?

[2022-03-09 17:37] #21095 closed

[2022-03-09 17:42] l0rd commented on #21243
You need to [open a ticket ](https://gitlab.eclipse.org/eclipsefdn/helpdesk/) for that.

[2022-03-09 17:45] l0rd commented on #21243
@zeibura if you can and want provide them, it would be interesting to know the reasons for this decision.

[2022-03-09 18:04] l0rd commented on #21231
Related to https://github.com/eclipse/che/issues/20583

[2022-03-09 18:09] l0rd commented on #21236
Che doesn't do that but you can have a user on-boarding procedure that consist of:
1. pre-create the namespaces ([doc link](https://www.eclipse.org/che/docs/che-7/installation-guide/configuring-namespace-strategies/#pre-creating-namespace))
2. add the PVC

[2022-03-09 18:28] Divine1 commented on #21236
@l0rd  thank you for the detail

Please let me know where can i  find the full details of the configuration?  only a portion of the configuration is available in the [doc link](https://www.eclipse.org/che/docs/che-7/installation-guide/configuring-namespace-strategies/#pre-creating-namespace) . Kindly share the full configuration detail if you could.

Within which namespace should i apply the confi

[2022-03-09 18:36] l0rd commented on #21236
You should create [a new Kubernetes namespace](https://kubernetes.io/docs/tasks/administer-cluster/namespaces/#creating-a-new-namespace) and add the `metadata.labels` and `metadata.annotations` as mentioned in the documentation.

[2022-03-09 18:58] Divine1 commented on #21236
@l0rd thank you for the detail

i have another doubt on this topic.

in mycase, i have configured my organization's sso as loginProvider on `dex`. So whenever an user gets loggedIn into `eclipse-che` ,  new namespace gets auto-created as it is shown in the below screenshot , the namespace `divine-chelladurai-che-uik8qu` was auto-created during login.
![image](https://user-images.githubusercontent.

[2022-03-09 20:26] amisevsk opened #21244 "Che-Theia with DevWorkspaces sometimes overwrites the DevWorkspace in-cluster object"
### Describe the bug

Theia sometimes applies the contents of `$DEVWORKSPACE_FLATTENED_DEVFILE` to the cluster, overwriting the cluster object with its flattened equivalent. This breaks the connection between the workspace and any plugins defined in DevWorkspaceTemplates.

This has the further issue that it's harder to e.g. change the editor in the DevWorkspace as the contents of e.g. the Theia pl

[2022-03-09 22:33] dkwon17 opened #21245 "Devworkspace's spec.template.attributes field disappears when terminating due to timeout"
### Describe the bug

The devworkspace's `spec.template.attributes` field is disappearing after the devworkspace terminates due to inactivity.

### Che version

next (development version)

### Steps to reproduce

1. Create a devworkspace with this factory link: `che-url/#https://github.com/che-samples/golang-example/tree/devfilev2`
2. Add the following in to the `spec.template.attributes` field of

[2022-03-10 04:39] #21240 closed

[2022-03-10 07:56] #21134 closed

[2022-03-10 07:58] ibuziuk commented on #21134
fixed in https://github.com/eclipse-che/che-dashboard/pull/471

[2022-03-10 08:24] NexZhu commented on #21233
@l0rd Thanks for the clarification, however it feels unclear to me from the docs avialable how to enable the DevWorkspace support. What I've done is install Che Operator from the ArtifactHub:
[code]
Do I need to manually `make install` Dev Workspace Operator from: `https://github.com/devfile/devworkspace-operator`, or will it be installed by Che Operator?

[2022-03-10 08:30] l0rd commented on #21236
@Divine1 I would say that you should use the gitlab username. Maybe @sparkoo knows?

[2022-03-10 08:34] zeibura commented on #21243
Thanks. We are going to hold off on deleting the doc page and the repo until everything else is done - I can make that PR to che/docs myself.

[2022-03-10 08:58] Divine1 commented on #21236
@l0rd

below is my gitlab profile details. i have integrated gitlab sso with `dex` in my `eclipse-che` cluster setup. in this case what will the `username` that has to be specified in `che.eclipse.org/username: <username> `  to `pre-create` a namespace ? in my case,  is it `dchelladurai` ?

![image](https://user-images.githubusercontent.com/10482177/157625871-c630c1c4-9ac9-45df-89d9-e51aea51bced.p

[2022-03-10 09:34] l0rd commented on #21233
No, you should not manually `make install`. When installing Che, `devworkspace.enabled` should be set to `true`. If it's not, that's a bug. I will try to reproduce it. Anyway, to solve your problem, I would suggest to either:
- Keep your current installation and manually `kubectl edit checluster eclipse-che` to set `enabled: true`
- Re-install Che from scratch but using chectl rather than helm

[2022-03-10 10:06] SkorikSergey opened #21246 "[Typescript] DevWorkspaceHappyPath typescript test should use correct repo for workspace creation"
### Describe the bug

After [PR-21180](https://github.com/eclipse/che/pull/21180) changes **DevWorkspaceHappyPath** test use not correct repo for workspace creation by factory.
It expected to use https://github.com/che-samples/java-spring-petclinic/tree/devfilev2 repo that is usually set as part of **TS_SELENIUM_DEVWORKSPACE_URL** const.

Test result log - https://gcsweb-ci.apps.ci.l2s4.p1.openshi

[2022-03-10 13:57] #21246 closed

[2022-03-10 14:47] akurinnoy commented on #20707
I can't reproduce this issue either on the minikube or the dogfooding cluster. I believe it was fixed in one of the previous pull requests.

<details>
<summary>Screencast</summary>

https://user-images.githubusercontent.com/16220722/157685524-591a752d-b072-4f03-9101-f133730bba0d.mov

</details>

[2022-03-10 14:47] #20707 closed, assigned to akurinnoy

[2022-03-10 16:15] martinelli-francesco opened #21249 "Unable to replace the dashboard image"
### Summary

Hi, I'm trying to customize the dashboard but the POD won't start.

I have installed Eclipse Che 7.44 via chectl (stable channel) on Minikube and have tested that everything works.
So I cloned the dashboard repository (https://github.com/eclipse-che/che-dashboard), moved to the 7.44 tag, built the image (docker image build . -f build/dockerfiles/Dockerfile -t ...), pushed it and set t

[2022-03-10 21:45] nickboldt opened #21250 "remove node-debug and node-debug2; replace with latest js-debug"
### Is your task related to a problem? Please describe

If I'm not mistaken  node-debug and node-debug2 are EOL and have been replaced with *ms-vscode/js-debug*, the latest of which is 1.66.0

https://open-vsx.org/extension/ms-vscode/node-debug (marked deprecated)
https://open-vsx.org/extension/ms-vscode/node-debug2 (marked deprecated)

https://open-vsx.org/extension/ms-vscode/js-debug/1.66.0 (lat

[2022-03-11 08:10] celalsahin opened #21251 "Installing version 7.42+ with external Keycloak instance"
### Summary

I would like to install/configure eclipse-che with an external keycloak instance

### Relevant information

Install instructions for EKS: https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-aws/ does not work anymore for 7.42+.

I found this comment https://github.com/eclipse/che/issues/21041#issuecomment-1016108794 - if I understand it correctly "you must have

[2022-03-11 11:08] Sovenique opened #21252 "Exposure of Eclipse-Che"
### Summary

We want to expose a test eclipse-che deployment on a corpo VM, so it can be accessed from our browsers through our corpo network. It's being deployed via `minikube` and `chectl`.

Steps to recreate:
 - Minikube version: v1.25.2
 - Kubectl version: v1.23.4
 - Chectl vesrion: 0.0.20220216

References: https://www.eclipse.org/che/docs/che-7/installation-guide/installing-che-on-minikube/

[2022-03-11 12:27] EnergieZ commented on #21095
Their was no fsType specified, and I don't see any information about the default configuration :/

[2022-03-11 12:37] akurinnoy commented on #20491
This issue has been already fixed.

<details>
<summary>Screencast</summary>

https://user-images.githubusercontent.com/16220722/157867989-53f1edba-d825-4394-8a93-f0f1ad63cf26.mov

</details>

[2022-03-11 12:37] #20491 closed

[2022-03-11 13:00] SkorikSergey commented on #14717
This feature works well on Eclipse Che 7.44.0.

[2022-03-11 13:00] #14717 closed

[2022-03-11 13:00] #21241 closed

[2022-03-11 13:40] max-cx opened #21253 "Including GitHub CLI and GLab as defaults that are CLI alternatives to GH/GL exenstions for IDEs"
### Is your task related to a problem? Please describe

Possible use cases:
(a) covering an unlimited number of IDEs that do not have any GH/GL extensions
(b) the lightweight editors Vim and Nano can be included for terminal-only use

### Describe the solution you'd like

I suggest adding these two CLI tools as defaults someplace like the UDI to have them as defaults in a workspace as a parallel o

[2022-03-11 13:44] max-cx commented on #20799
Please consider adding here the following issue (adding GH and GL CLI tools) as a sub-task: https://github.com/eclipse/che/issues/21253 .

[2022-03-11 13:50] nickboldt commented on #21250
Updates to remove node-debug and node-debug2, then update to latest js-debug 1.66.0:

https://github.com/eclipse-che/che-plugin-registry/pull/1228
https://github.com/eclipse-che/che-plugin-registry/pull/1229
https://github.com/redhat-developer/devspaces/pull/703
https://github.com/redhat-developer/devspaces/pull/704

[2022-03-11 14:11] ibuziuk opened #21254 "Sprint 216"
This issue collects work items of the Eclipse Che Team for Sprint 216 (March 16 - April 5).
:notebook: Please note that this is a tentative plan until sprint planning has been conducted (March 16)

The previous sprint https://github.com/eclipse/che/issues/21200

## Sprint goals
- [ ] 2.15.3 CRW release
    - Backport https://github.com/eclipse/che/issues/20724 to `7.42.x`
        - https://github.

[2022-03-11 14:42] Divine1 commented on #21236
@sparkoo @l0rd  please help me out on this

[2022-03-11 14:58] l0rd commented on #21253
Note that GitHub CLI is already part of the [universal developer image](https://github.com/devfile/developer-images/#developer-base-image) so this issue should be for GLab only.

[2022-03-11 14:58] ibuziuk commented on #21063
Developer Sandbox clusters have been updated to the latest 4.10.3
the state of the 2.2 samples for CRW 2.15.2  https://github.com/eclipse/che/issues/21063#issuecomment-1049923247
Workspaces are started without errors but proper development is not possible

[2022-03-11 17:43] olexii4 commented on #19255
This issue is not fixed yet.

[2022-03-12 00:33] #20396 closed, assigned to nobody

[2022-03-12 14:58] nickboldt commented on #21250
2 PRs to remove node-debug(2) merged. Waiting on approval for the update to latest js-debug.

[2022-03-13 00:34] #19175 closed

[2022-03-13 00:34] #20109 closed

[2022-03-13 15:01] #21190 closed

[2022-03-14 00:38] #15973 closed

[2022-03-14 00:38] #18473 closed

[2022-03-14 00:38] #18661 closed

[2022-03-14 00:38] #20176 closed

[2022-03-14 00:38] #20343 closed

[2022-03-14 00:38] #20428 closed

[2022-03-14 08:53] makambalaji opened #21255 "Remove IFrame element in Test code"
### Is your task related to a problem? Please describe

iframe elements are not available any more in Eclipse che editor, This elements should be removed for optimizing the code
![image](https://user-images.githubusercontent.com/61005404/158137483-9cb2ee62-9125-4fae-b350-f09262ec0b9c.png)

### Describe the solution you'd like

Remove the iframe component from the automation testing code and replac

[2022-03-14 11:10] Ryder05 opened #21256 "Local Che server inaccessible after successful start in minikube"
### Describe the bug

After starting che using "chectl server:start" it would start successfully, but the url provided by the output, does not resolve in the browser.

### Che version

next (development version)

### Steps to reproduce

1.  chectl server:start --platform minikube --installer=helm
2. chectl server:deploy --platform minikube
3.  chectl server:start

### Expected behavior

I see the

[2022-03-14 11:24] l0rd commented on #18671
/remove-lifecycle stale

[2022-03-14 11:30] Divine1 commented on #21236
@sparkoo thank you for this detail.

I have 1 more doubt. In my scenario, when I login into eclipse che using my gitlab Eclipse che by default creates this namespace `divine-chelladurai-che-uik8qu` .

[2022-03-14 11:48] Divine1 commented on #21236
@sparkoo

 thank you for this detail.

I have 1 more doubt. In my scenario, when I login into eclipse che using my gitlab sso , Eclipse che by default creates this namespace `divine-chelladurai-che-uik8qu` .  I can see additional characters added along with username. So, i just wanted to verify once more whether If i precreate my namespace using my username `divine-chelladurai` , will it work with

[2022-03-14 13:02] sparkoo commented on #21236
@Divine1 that's a good question and as I'm thinking about it, maybe I was wrong in my previous comment. We're adding the random part because of possible conflicts when we're modifying the username. So there would be same possible conflict if you use `divine-chelladurai` in the annotation. Looking at the code, you might need to use original value in the annotation (`Divine Chelladurai`), but I'm no

[2022-03-14 14:51] celalsahin opened #21257 "Is it possible to configure custom annotations for che/workspace pods?"
### Summary

I would like to be able to setup eclipse-che in a way that when it spins up any pod, it will be annotated with a custom tag,
e.g.
"cluster-autoscaler.kubernetes.io/safe-to-evict": false.

Idea is to avoid EKS autoscaler to avoid evicting workspace/che pods hence not causing restarts/downtime for developers actively working.

### Relevant information

_No response_

[2022-03-14 16:21] dkwon17 commented on #20090
@l0rd , yes, we don't need to backport anything.

[2022-03-14 20:39] nickboldt commented on #21254
Do we have existing issues for "minimal admin guide, install guide, and end user guides for 3.0" ? @ffloreth If not we need those and I can help w/ vetting content, once we have working 3.x/3.0 builds

[2022-03-15 00:35] #19206 closed

[2022-03-15 03:31] arunthomastechversant opened #21258 "Need to use keycloak in che deployment"
### Summary

Hi Team,

When I use che deployment in my previous system, I'm able to deploy everything fine as well as keycloak. But unfortunately Now I'm facing issue or not able to deploy as it did last time.

I have been using keycloak as my OIDC and working on the user creation and user management via api. But after updating chectl, when I do the deployment keycloak is not deployed. instead of

[2022-03-15 07:55] benoitf opened #21259 "devfile of eclipse-che website is not working on workspaces.openshift.com"
### Describe the bug

When starting the workspace there is an error

### Che version

next (development version)

### Steps to reproduce

click on https://workspaces.openshift.com/#https://github.com/eclipse/che-website

### Expected behavior

it should work

### Runtime

other (please specify in additional context)

### Screenshots

_No response_

### Installation method

other (please specify in

[2022-03-15 08:27] tolusha commented on #21256
It seems Eclipse Che has been deployed already when minikube is started up.
`Warning: Eclipse Che has been already deployed. Use server:start command to start a stopped Eclipse Che instance.`
So, I suggest to redeploy it.
1. `chectl server:delete --delete-namespace -y`
2. `chectl server:deploy ...`

[2022-03-15 08:30] tolusha commented on #21128
Works well with minikube v1.25.2

[2022-03-15 08:30] #21128 closed

[2022-03-15 08:34] tolusha commented on #21252
This may help you https://github.com/eclipse/che/issues/19404#issuecomment-807687234
@gattytto has some expirience with that

[2022-03-15 08:43] tolusha commented on #21257
@celalsahin
We have this [1] and this [2]. Does it solve your issue?
[1] https://github.com/eclipse-che/che-operator/blob/main/config/crd/bases/org_v1_che_crd.yaml#L1027
[2] https://github.com/eclipse-che/che-operator/blob/main/config/crd/bases/org_v1_che_crd.yaml#L1033

[2022-03-15 08:45] #21150 closed

[2022-03-15 08:50] Hadsch commented on #19461
@sparkoo: Thanks for sharing this info.

I think, these performance considerations should be mentioned here https://www.eclipse.org/che/docs/che-7/installation-guide/configuring-workspace-exposure-strategies/#default-host-workspace-exposure-strategy_che
or here https://www.eclipse.org/che/docs/che-7/end-user-guide/troubleshooting-slow-workspaces/!

[2022-03-15 08:53] tolusha commented on #21226
This is an expected behaviour because 7.42.0 is not backward compatible with the previous versions.

[2022-03-15 09:07] Ryder05 commented on #21256
[code]

Same problem

[2022-03-15 09:08] cristian-radu commented on #21176
@l0rd My issue was around the fact that the oauth2-proxy checks for the presence of the `email_verified` claim by default. In my case, the Keycloak users are federated from LDAP so it does not make too much sense to me to add this claim, but I did it anyway. So now I have Keycloak sending `email_verified = true` which resolved my issue without changing the proxy configuration.

However, I still th

[2022-03-15 09:16] celalsahin commented on #21226
Thanks for the clarification!

[2022-03-15 09:16] #21226 closed

[2022-03-15 09:53] ibuziuk commented on #20820
The issue can be closed once https://github.com/eclipse-che/che-docs/pull/2231 is merged

[2022-03-15 09:54] cristian-radu commented on #21049
I ran into this same issue with Che 7.43 deployed via the che-operator 7.43 onto a GKE cluster with a separate Keycloak instance that I manage myself.

In case someone finds this helpful, here are the steps I took to finally get a working installation.

On GKE (probably EKS and AKS too) you cannot just change Kubernetes API server settings since this is being managed by the cloud provider.

1. I h

[2022-03-15 10:13] cristian-radu opened #21260 "che-dashboard configurable Kubernetes endpoint"
### Is your enhancement related to a problem? Please describe

It is not possible to run Eclipse Che 7.43 on GKE due to OIDC being required and no way to configure a different Kubernetes master endpoint.

https://github.com/eclipse/che/issues/21049#issuecomment-1067776895

### Describe the solution you'd like

I would like the option to be able to configure the Kubernetes master endpoint for the c

[2022-03-15 10:27] dmytro-ndp opened #21261 ""Init Container project-clone has state CrashLoopBackOff" error when start "Java Spring Boot" workspace in Che dogfooding instance"
### Describe the bug

Dashboard showed "**Init Container project-clone has state CrashLoopBackOff**" error when start "_Java Spring Boot_" workspace in Che dogfooding instance https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/dashboard :
[code]
![Screenshot from 2022-03-15 12-16-54](https://user-images.githubusercontent.com/1197777/158357481-1ea0cf01-a576-470b-aa0b-0fb0bc97bb33.png)

#

[2022-03-15 10:27] cristian-radu opened #21262 "che-operator 7.43 devworkspace mode fails with reconciler errors"
### Describe the bug

The operator fails to create a cluster with devworkspace mode enabled.

Scrubbed log:

2022-03-01T15:34:17.192Z        INFO    Binary info     {"Go version": "go1.16.12"}
2022-03-01T15:34:17.192Z        INFO    Binary info     {"OS": "linux", "Arch": "amd64"}
2022-03-01T15:34:17.192Z        INFO    Address         {"Metrics": ":60000"}
2022-03-01T15:34:17.192Z        INFO

[2022-03-15 12:57] EnergieZ opened #21263 "OVH - Internal Server Error occurred on Che pod with user from identity provider"
### Describe the bug

I'm having a strange behavior with eclise che, when triing to login throw identity provider.

When login with the initial user in keycloak (so no external identity provider), all seems to be ok : dashboard show ups, and i can launch some dev spaces.

When logging with gitlab (throw keycloak), at the fist time I need to complete some informations : username, email, ect...
That

[2022-03-15 13:24] themr0c opened #21264 "Identify and deliver minimal administration guide, installation guide, and user guide to migrate to che-docs master branch"
### Is your task related to a problem? Please describe

In the che-docs `master` branch, we started a fresh documentation for Che using the Devworkspace engine only.

### Describe the solution you'd like

We need to migrate docs from the che-docs `master` branch that are still relevant.

### Describe alternatives you've considered

Blog posts are not covering everything https://github.com/eclipse-

[2022-03-15 13:24] themr0c commented on #21254
A initial draft for this issue: https://github.com/eclipse/che/issues/21264

[2022-03-15 14:09] nickboldt commented on #21264
`customizing registries` ... that section is SOOO outdated/broken

`backup-restore` can be ripped out, that's not supported w/ DW

`minikube` stuff not relevant to downstream

`differences-in-how-che-theia-webview-works-on-a-single-host-mode-comparing-to-a-multi-host-mode` didn't we drop support for one of those modes? @l0rd ?

`authoring-devfiles-version-1` - likely remove this as we don't want t

[2022-03-15 14:25] nickboldt opened #21265 "Update to latest js-debug plugin"
### Is your task related to a problem? Please describe

Latest js-debug in che plugin reg is  https://open-vsx.org/api/ms-vscode/js-debug/1.52.2/file/ms-vscode.js-debug-1.52.2.vsix

but the latest one in open-vsx is 1.66.0 (as of 2022-03-15).

So we should use the latest.

### Describe the solution you'd like

Verify if these updates wil work / break something:

https://github.com/eclipse-che/che-

[2022-03-15 15:40] nickboldt commented on #21254
Another item to include https://issues.redhat.com/browse/CRW-2787 (test conversion to v2)

[2022-03-15 16:14] sparkoo commented on #21263
I don't understand the repro steps. Keycloak is no longer part of Che deployment. For custom OIDC provider, you need to setup Kubernetes and Che to same OIDC https://github.com/eclipse/che/issues/21049#issuecomment-1022108499 or https://github.com/eclipse/che/issues/21049#issuecomment-1067776895

[2022-03-15 16:40] EnergieZ commented on #21263
I know keycloax isn't part of eclipse che any more.
I have install it, and configure oidc on K8S api.

The first user I have created on keycloax works well.

I've tried to create a second user, with out and identity provider : same problem with this new user.

My guess is that their is a problem on the oidc part. What does eclipse che exacly need ?
I can see on K8S that each new user has his own :

[2022-03-15 17:14] #21200 closed

[2022-03-15 18:47] RickJWagner commented on #21264
Re: AWS support:  Yes, we support on AWS (outside of ROSA).
We also test/develop/replicate in this environment (via cluster-bot).

[2022-03-15 19:42] nickboldt opened #21266 "[UX] When devfile startup fails, provide actual useful logs to help with debugging"
### Is your enhancement related to a problem? Please describe

0. log in to https://che-dogfooding.apps.che-dev.x6e0.p1.openshiftapps.com/
1. load a devfile from https://raw.githubusercontent.com/crw-samples/fuse-rest-http-booster/devfilev2/devfile.yaml
3. stop workspace load
4. make changes to devfile to test it out (before having to commit to a repo)
5. attempt to load - but if you make a mistak

[2022-03-15 19:53] nickboldt commented on #21266
Dug thru console logs while the pod was loading and found:
[code]

[2022-03-15 20:13] nickboldt opened #21267 "Using Che UDI image throws errors w/ hosted-plugin"
### Describe the bug

Not sure if this is a real problem or another "oh, that's just Typescript doing Typescript things" but here's what I'm seeing when I try to use the che UDI image [0] to load this devfile [1].

[code]

### Che version

next (development version)

### Steps to reproduce

1. Log in to https://console-openshift-console.apps.che-dev.x6e0.p1.openshiftapps.com/ using app-sre-github

[2022-03-16 00:37] #18866 closed

[2022-03-16 00:37] #20447 closed

[2022-03-16 00:59] phaumer commented on #20477
/remove-lifecycle stale

[2022-03-16 02:46] nickboldt commented on #21264
To help map the blog posts to the future Guides, I've added a *Guides* column to the list of blogs. https://github.com/eclipse-che/blog/issues/19#issuecomment-1068674569 It is subject to interpretation / edit by various owners/stakeholders. WDYT @themr0c @l0rd ?

[2022-03-16 04:30] thenrich opened #21268 "Setting devWorkspace controllerImage has no effect for airgapped environment"
### Describe the bug

Setting the following in the checluster CRD has no effect:

[code]

The default devWorkspace controller image is still used.

### Che version

7.44@latest

### Steps to reproduce

1. Deploy Che with `chectl server:deploy -a operator -b my.domain.org -p k8s --skip-oidc-provider-check --che-operator-cr-patch-yaml=che-cr-patch.yaml --che-operator-image=custom-operator-image`

ch

[2022-03-16 08:09] ibuziuk commented on #21261
@dmytro-ndp seems to work just fine for me, could you provide some logs / openshift events?

[2022-03-16 08:15] Hadsch commented on #21219
I figured it out.

Those logs which are shown in the che-dashboard are `kubernetes events`. At least those messages which appear after the message `All plugin metadata has been successfully processed`.

Therefore I'm closing this ticket now.

[2022-03-16 08:15] #21219 closed

[2022-03-16 09:15] tolusha commented on #21268
Here is a fix overriding controller image https://github.com/eclipse-che/che-operator/pull/1341
Regarding others devworkspace image, I would recommend to patch DW deployment.
Maybe @amisevsk can shed light if DWO can work in an air gapped environment.

[2022-03-16 10:00] themr0c opened #21270 "Administration guide: remove content for unavailable features on instances with devworkspace, in the master branch"
### Is your task related to a problem? Please describe

Administration guide to document only instances with devworkspace.

### Describe the solution you'd like

Administration guide: remove content for unavailable features on instances with devworkspace, in the `master` branch.

Here is the current list of the admin guide articles.
In **bold** the ones to remove: those that to eventually resume h

[2022-03-16 10:26] thenrich commented on #21268
Thanks @tolusha. I had to make several other changes to get `kube-rbac-proxy` and the `RELATED_IMAGE`s to work as well -- see https://github.com/eclipse-che/che-operator/pull/1342/files

[2022-03-16 10:44] makambalaji commented on #21255
Issue fixed

[2022-03-16 10:44] #21255 closed

[2022-03-16 10:50] makambalaji commented on #20914
Fixed the Python and Java plugin test cases as part of the pr: https://github.com/eclipse/che/pull/21269

[2022-03-16 11:59] tolusha commented on #21268
@thenrich
Thank you! Could you open that PR against main branch?

[2022-03-16 12:59] themr0c opened #21271 "Installation guide: remove content for unavailable features on instances with devworkspace, in the master branch"
### Is your task related to a problem? Please describe

Installation guide to document only instances with devworkspace.

### Describe the solution you'd like

Installation guide: remove content for unavailable features on instances with devworkspace, in the `master` branch.

Here is the current list of the install guide articles.
In **bold** the ones to remove: those that to eventually resume hav

[2022-03-16 13:00] themr0c opened #21272 "Minimal hosted-che guide for the che-docs main branch"
### Is your task related to a problem? Please describe

Minimal hosted-che guide for the che-docs main branch

### Describe the solution you'd like

#### Hosted che

* [ ] hosted-che
  * [ ] try-in-web-ide-github-action.Installation Guide

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-16 13:19] dmytro-ndp commented on #21261
@ibuziuk : I wasn't able to restart workspace:
![Screenshot from 2022-03-16 10-35-12](https://user-images.githubusercontent.com/1197777/158598687-26f2ad07-d778-4354-a0fc-f61038ec3ff2.png)

At the same time new `Java Spring Boot` workspace has started successfully.

[2022-03-16 13:33] themr0c opened #21273 "User guide: remove content for unavailable features on instances with devworkspace, in the master branch"
### Is your task related to a problem? Please describe

User guide to document only instances with devworkspace.

### Describe the solution you'd like

User guide: remove content for unavailable features on instances with devworkspace, in the `master` branch.

Here is the current list of the user guide articles.
In **bold** the ones to remove: those that to eventually resume have the **[TEMP]** su

[2022-03-16 14:15] ibuziuk commented on #21261
O_O @amisevsk have you seen smth. like that before ^

[2022-03-16 17:55] amisevsk commented on #21261
I haven't directly, but the FailedMount error looks to be a cluster hiccup -- DWO/Che does nothing to manage the `kube-api-access-xxxxx` volume so if it's failing to mount I assume the cluster hit some block somewhere.

I've tested the devfile in our dogfooding cluster and the workspace started without issue.

Also, in the future, to debug issues like `Init Container project-clone has state CrashL

[2022-03-16 19:28] nils-mosbach commented on #21231
Looking at the OAuth flow, what should be the preferred outcome?

Is Che Server responsible for creating the users git credentials secret?

[2022-03-16 21:14] l0rd opened #21275 "Remove references to jwtproxy and plugin-broker GitHub repositories"
### Is your task related to a problem? Please describe

Although [JWT Proxy](https://github.com/eclipse/che-jwtproxy) and the [plugin broker](https://github.com/eclipse/che-plugin-broker) are not used anymore since Che 7.42 (i.e. the switch to DevWorkspace Operator) they cannot be archived as they are still referenced in Che Operator CSV and tagged at every release by the build process.

### Descr

[2022-03-17 03:01] tsadigovAgmail commented on #21235
back on this again
@l0rd  yes I would love to join, not sure how I can be of any help

By UI I mean this
![plugin registry](https://user-images.githubusercontent.com/1032344/158727821-e4aef3e2-1f6a-4f8d-aaca-f1d9b2926c69.png)

[2022-03-17 03:09] tsadigovAgmail commented on #21235
back on this again
@l0rd  yes I would love to join, not sure how I can be of any help

By UI I mean this
![plugin registry](https://user-images.githubusercontent.com/1032344/158728040-bbd29c5c-b858-4db4-a854-106be91356b6.png)

I cloned the standard registry, just 1 plugin being added
I can access its files from url

Che/Theia also shows all standard plugins + the one I added
I am pretty convinced

[2022-03-17 08:27] EnergieZ commented on #21263
Hi,

Do you have any update about this problem ? Do you need any more informations ?

[2022-03-17 08:38] makambalaji opened #21277 "Add pageobject methods to create the workspace using git repo url"
### Is your task related to a problem? Please describe

To create the workspace with git repo url, pageobject methods are not available.

### Describe the solution you'd like

Create pageobject methods to create and open workspace using git repo url.

Related to downstream issue: https://issues.redhat.com/browse/CRW-2575

### Describe alternatives you've considered

_No response_

### Additional c

[2022-03-17 08:53] ibuziuk commented on #21005
@rkratky https://devfile.io/docs/devfile/2.1.0/user-guide/migrating-to-devfile-v2.html still 404 :man_shrugging:

[2022-03-17 09:42] l0rd commented on #21235
This is probably a bug in Che Theia (cc @benoitf) but there are at least 2 alternative ways to specify an alternative plugin registry:

1. Using [CheCluster customCheProperty](https://www.eclipse.org/che/docs/che-7/installation-guide/advanced-configuration-options-for-the-che-server-component/) `CHE_WORKSPACE_PLUGIN__REGISTRY__URL`:

[code]

2. in your git repository `.che/che-theia-plugins.yaml`:

[2022-03-17 10:03] l0rd commented on #21231
Correct. The secret is then used in the workspace for cloning the repository.
The che-server is also responsible for grabbing the devfile.yaml from the private Git repository and passing it to the dashaboard that will use it to create the workspace definition (the DevWorkspace).

[2022-03-17 10:38] cristian-radu opened #21278 "che-operator should propagate trusted CA certs to the che-dashboard"
### Describe the bug

The che-dashboard as deployed by the che-operator 7.43.0 does not trust the CA certificates defined in the `che-trust` ConfigMap.

It is not possible for a user to make this change themselves (without forking the dashboard) since the operator will overwrite any changes that are made to the che-dashboard Deployment object.

The che-dashboard needs to trust the certificate on t

[2022-03-17 11:14] SkorikSergey opened #21279 "E2E tests: TypescriptPlugin test fails on test workspace removing step (prow.ci)"
### Describe the bug

**TypescriptPlugin** fails on test workspace removing step(prow.ci). There is page tab with `Bad Gateway` error instead of Che Dashboard.
Test result example - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/eclipse-che_che-plugin-registry/1233/pull-ci-eclipse-che-che-plugin-registry-main-v7-plugins-test-pr-check/1504354319275659264.

### Che version

7.44@l

[2022-03-17 13:05] apupier opened #21280 "Provide VS Code Debug Adapter for Apache Camel in plugin registry"
### Is your enhancement related to a problem? Please describe

A new VS Code extension is available to work with Apache Camel project.

https://open-vsx.org/extension/redhat/vscode-debug-adapter-apache-camel

### Describe the solution you'd like

Have the new extension available in Che registry

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-17 14:37] miboettc commented on #19843
Are there any updates regarding this issue? Meanwhile the current python plugin version (2020.7.94776) is almost two years old and since then there have been > 20 releases of the plugin.

[2022-03-17 15:47] Ryder05 commented on #21263
Hello, I need to deplot eclipse che on a  full managed k8s cluster from OVH, I deployed keycloak in the"kube-system" namespace, then i added a realm and client called kubernetes  but when i try to deploy it says "API server is not configured with OIDC Identity Provider"

[2022-03-17 16:01] EnergieZ commented on #21263
you have to configure it from OVH panel :
![image](https://user-images.githubusercontent.com/1869463/158841520-d8bf0e35-72b2-4f09-9920-74b32c982993.png)

then use chectl with option "--bypass-oidc-check" (don't remeber th e exact name) to deploy the server.
Note that you must install keycloax before.
You have an OVH tuto here : https://docs.ovh.com/gb/en/kubernetes/installing-keycloak/

[2022-03-17 21:35] nickboldt commented on #21275
Downstream https://issues.redhat.com/browse/CRW-2830

[2022-03-18 07:35] EnergieZ commented on #21263
@sparkoo how can I help to solve this bug ?

[2022-03-18 10:29] #21122 closed

[2022-03-18 10:32] benoitf commented on #21151
fixed

[2022-03-18 10:32] #21151 closed

[2022-03-18 11:22] #21132 closed

[2022-03-18 11:42] Ryder05 commented on #21095
thnx buddy i'v been searching for a solution to this pb for almost 2 days

[2022-03-18 11:48] Ryder05 opened #21282 "How configure keycloak as externel OIDC provider for Eclipse Che"
### Summary

I am trying to deploy Eclipse che on an Ovh managed cluster, since keycloak is deployed by che operator I need to do the job manually.
when i tap
`chectl server:deploy --domain=oc-perf.eu --platform=k8s -n cheche --che-operator-cr-patch-yaml=checluster.yml ` raises
the deloyments fails
[code]
I will be gratueful if someone can give me the steps to configure my cluster with keycloak.

[2022-03-18 12:21] #21279 closed

[2022-03-18 17:15] l0rd opened #21283 "Administration guide: update content for devworkspace, in the master branch"
### Is your task related to a problem? Please describe

Administration guide to document only instances with devworkspace.

### Describe the solution you'd like

Administration guide: update content for features on instances with devworkspace, in the `master` branch.

Here is the current list of the admin guide articles with in **bold** the ones to update:

* [ ] architecutre-overview
  * [ ] **ar

[2022-03-18 17:25] l0rd opened #21284 "Installation guide: update content for devworkspace, in the master branch"
### Is your task related to a problem? Please describe

Installation guide to document only instances with devworkspace.

https://www.eclipse.org/che/docs/next/administration-guide/installing-che/

### Describe the solution you'd like

Installation guide: remove content for unavailable features on instances with devworkspace, in the `master` branch.

Here is the current list of the install guide a

[2022-03-18 17:33] l0rd opened #21285 "User guide: update content for devworkspace, in the master branch"
### Is your task related to a problem? Please describe

User guide to document only instances with devworkspace.

### Describe the solution you'd like

New User Guide outline:

* [x] **[Starting a Che workspace](https://github.com/eclipse/che/issues/21293)** @max-cx
* [x] **[Selecting an IDE](https://github.com/eclipse/che/issues/21295)** @nickboldt
* [x] **[Adding a VS Code extension](https://git

[2022-03-18 19:00] amisevsk commented on #21282
Hi @Ryder05, thanks for opening this issue. Which version of `chectl` are you using, and which version of Che are you attempting to deploy?

I'm not familiar with OVH and the services they offer, so I may be of limited help.

It seems that the keycloak pod is not able to start on the cluster. Are you able to provide any events or logs from the keycloak pod?
[code]

Note also that keycloak is no lo

[2022-03-18 19:10] amisevsk commented on #21266
The reason there's no context shown is because the dashboard is just forwarding the error message from the DevWorkspace Operator.

For issues like CrashLoopBackoff, the DevWorkspace Operator provides the `controller.devfile.io/debug-start: "true"` annotation, which can be applied to the DevWorkspace in order to not remove the pod when it enters CrashLoopBackoff. From here, it's possible to view po

[2022-03-18 19:44] amisevsk commented on #21278
Hi @cristian-radu, thanks for reporting this issue. I have some initial questions:

* Could you clarify how you have installed Che in your cluster (e.g. via `chectl server:deploy <...>`, etc.).
* Is this issue present if you use the current Che release (7.45.0)?
* In regards to

    where are you seeing this error? Could you share a screenshot?

I've marked this issue as a P1 for now as propagatin

[2022-03-18 20:44] cristian-radu commented on #21278
Hi @amisevsk, I think this issue was only specific to my environment. Sorry. I have resolved it now.

I installed the che-operator and devworkspace-operator using kustomize.

[2022-03-18 20:44] #21278 closed

[2022-03-19 00:48] guydog28 commented on #15080
/remove-lifecycle stale

[2022-03-20 00:36] #20465 closed

[2022-03-21 09:42] #21102 closed

[2022-03-21 11:03] nils-mosbach commented on #21231
Issue seems to be resolved in todays `che-server:next` image. The only difference I can see is an upgrade from java `11.0.14.0.9` to `11.0.14.1+1`. There was some minor work on the HttpClient in this release (https://bugs.openjdk.java.net/browse/JDK-8218546). Maybe that solved it, not sure.

`git-credentials-secret-***` and `devworkspace-merged-git-credentials` are now created. Cloning private pro

[2022-03-21 11:03] #21231 closed

[2022-03-21 11:03] zeibura commented on #21243
Closing this as the decision to completely remove Che4z is being reconsidered.

[2022-03-21 11:03] #21243 closed

[2022-03-21 11:26] l0rd opened #21286 "Contributor guide and extensions: remove content for unavailable features on instances with devworkspace, in the master branch"
### Is your enhancement related to a problem? Please describe

We struggle to maintain contributor guide and extensions documentation. Those guides are not updated and considered that our involvement in the development of the IDEs themselves has switch to support vanilla IDEs (VS Code and IntelliJ) our capacity to maitain those Theia related doc is even less.

### Describe the solution you'd like

[2022-03-21 11:27] l0rd commented on #21264
Created a new issue for contributing and extensions https://github.com/eclipse/che/issues/21286. Cleaned up the description.

[2022-03-21 12:52] nickboldt commented on #21285
Engineering ownership: blog post authors / Mario + David K + Florent (@ 50%)

[2022-03-21 12:52] nickboldt commented on #21283
Engineering ownership: controller team / Ilya + Angel

[2022-03-21 12:52] nickboldt commented on #21272
Engineering ownership: controller team / Ilya + Angel

[2022-03-21 14:16] Ryder05 opened #21287 "Eclipse Che Server pod bootstrap failed to start pod."
### Summary

Hello,
I am trying to deploy Che on K8s  using chectl.
After the deployment stops the che pod starts running and i can't resume deploying because the server already deployed !
i am using chectl/7.45.0

[code]

### Relevant information

checluster.yml file

[code]

keycloak.yml file

[code]

error.log file

[code]

[code]

[2022-03-21 14:49] #21287 closed

[2022-03-21 14:57] Ryder05 opened #21288 "404 page not found when i open the dashboard after successfully deplying Che"
### Describe the bug

after successfully deploying Eclipse Che, when I open the dashboard URL, nothing happens expect a blank page with 404 page not found .

### Che version

7.44@latest

### Steps to reproduce

1. chectl server:deploy --domain=osama.oc-perf.eu --platform=k8s  --che-operator-cr-patch-yaml=checluster.yml  --skip-oidc-provider-check --che-operator-image=quay.io/eclipse/che-operator:

[2022-03-21 15:22] Ryder05 commented on #21288
ingress.yml file

[code]

[2022-03-21 15:58] pmkovar commented on #21270
Cloned in Jira: https://issues.redhat.com/browse/RHDEVDOCS-3880

[2022-03-21 15:58] pmkovar commented on #21271
Cloned in Jira: https://issues.redhat.com/browse/RHDEVDOCS-3881

[2022-03-21 15:59] pmkovar commented on #21273
Cloned in Jira: https://issues.redhat.com/browse/RHDEVDOCS-3882

[2022-03-21 15:59] pmkovar commented on #21283
Cloned in Jira: https://issues.redhat.com/browse/RHDEVDOCS-3883

[2022-03-21 16:00] pmkovar commented on #21285
Cloned in Jira: https://issues.redhat.com/browse/RHDEVDOCS-3885

[2022-03-21 16:14] max-cx commented on #21285
The _url params_ in **Selecting an IDE** are also covered by my PR https://github.com/eclipse-che/che-docs/pull/2227.

[2022-03-21 16:30] #21282 closed

[2022-03-21 16:38] Ryder05 commented on #21288
I manually deployed keycloak using the keycloak.yml file.

[2022-03-21 18:46] nils-mosbach commented on #21224
I was able to reproduce this with only two public endpoints as well. It seems to settle down after a couple of seconds, but the editor port extension still catches one of the invalid states and therefore points to the wrong service. Specially on Che-Code which loads quite fast.

Reloading the editor at least fixes wrong endpoint-service-mappings.

[2022-03-21 23:20] Ryder005 opened #21289 "Eclipse Che Dashboard is not showing with error OPTIONS request to "/api/" failed, reason: "500 "."
### Describe the bug

Ffter successfully deploying Eclipse Che, when I open the dashboard URL and after logging in, An error shows up saying OPTIONS request to "/api/" failed, reason: "500 ".

### Che version

7.44@latest

### Steps to reproduce

1.chectl server:deploy --domain=osama.oc-perf.eu --platform=k8s  --che-operator-cr-patch-yaml=checluster.yml  --skip-oidc-provider-check --che-operator-i

[2022-03-22 00:37] #20426 closed

[2022-03-22 08:14] #21270 closed

[2022-03-22 08:15] #21271 closed

[2022-03-22 08:50] ScrewTSW commented on #21205
This was verified using DWO 0.13 and Che 7.45 on OCP 4.9
Deployment worked as expected, only issue I encountered was starting a workspace, and that was probably because of mirrorring. I'm missing some images required for workspace start

[code]

I consider this a successful test of the issue at hand.

[2022-03-22 08:50] #21205 closed

[2022-03-22 11:44] ibuziuk commented on #21272
PR sent - https://github.com/eclipse-che/che-docs/pull/2236

[2022-03-22 13:00] olexii4 opened #21290 "DevfileV1 to DevfileV2 converter loses storageType"
### Describe the bug

DevfileV1 to DevfileV2 converter loses storageType

### Che version

7.44@latest

### Steps to reproduce

1. Deploy Eclipse-Che with devworkspaces
2. Create a new workspace from the [DevfileV1](https://gist.githubusercontent.com/olexii4/254a21559b71f991285f44eeda6cec96/raw/82659cce2d730cc15836077c18274e30a21f7d56/apache-camel-k.yaml)
[code]
3. Open the 'Devfile' for created w

[2022-03-22 13:12] #21273 closed

[2022-03-22 13:18] nils-mosbach opened #21291 "Periodically refresh git OAuth2-tokens for GitLab and Bitbucket (expiration 2h)"
### Summary

Configuring OAuth2 (e.g. GitLab) for accessing private projects is straight forward as described by:
https://www.eclipse.org/che/docs/che-7/administration-guide/configuring-authorization/#configuring-gitlab-oauth2-with-devworkspace-engine_che

The token is stored in a Kubernetes secret and is mounted to the dev-container. That OAuth2 token is then passed to the git credential store. W

[2022-03-22 14:09] mshaposhnik commented on #21291
Hi Nils, right now the tokens are validated only during workspace startup, and didn't refreshed during runtime.
Can you please check is simple WS restart helps (without manual secrets deletion). It should work.
BTW it's kinda strange configuraion, as OAuth tokens generally supposed to be long-lived.

[2022-03-22 15:16] #21286 closed

[2022-03-22 15:39] dkwon17 commented on #21289
Hello @Ryder005 , I haven't tried deploying Keyloak with Che and DevWorkspace engine myself, but maybe these comments can be useful:

* https://github.com/eclipse/che/issues/21049#issuecomment-1022108499
* https://github.com/eclipse/che/issues/21049#issuecomment-1067776895

 cc @sparkoo

[2022-03-22 16:32] nils-mosbach commented on #21291
Generally you're right. GitLabs Access Tokens are quite "short-living". Most applications we have integrated with, use something from a couple of days to months, but still require tokens to get refreshed as well.

GitLab allows creating tokens that don't expire, but that's deprecated.

![image](https://user-images.githubusercontent.com/15126675/159521053-a046bdad-4619-4239-bd36-d1318e500edc.png)

[2022-03-22 23:48] Ryder05 commented on #21289
![MicrosoftTeams-image](https://user-images.githubusercontent.com/59898800/159594993-302fc6a4-600a-4333-b5cb-6574b0dd1915.png)

Deploying che on kubernetes is so buggy for me
Another errors has showed up !

[2022-03-23 00:42] #20478 closed

[2022-03-23 05:50] tianlinzx opened #21292 "How to integrate Opensumi opensource by alibaba ?"
### Summary

How to integrate Opensumi opensource by alibaba ?
https://github.com/opensumi/core

### Relevant information

_No response_

[2022-03-23 07:28] dmytro-ndp commented on #20108
/remove-lifecycle stale

[2022-03-23 09:38] benoitf commented on #21292
Hello @tianlinzx

If you're talking about "integrating the IDE" you should add an editor there https://github.com/eclipse-che/che-plugin-registry/blob/main/che-editors.yaml

It'll require a OCI image available and declaring ports/volumes etc

[2022-03-23 11:27] l0rd commented on #21243
@zeibura let us know if you want to have a discussion around the roadmap and the future of Che and Che4z

[2022-03-23 11:58] nils-mosbach commented on #21291
@mshaposhnik Simply restarting a workspace does not fix it. It looks like the authentication procedure is skipped in this case.

Starting a new workspace works. This seems to update the token.

[2022-03-23 13:40] #21290 closed

[2022-03-23 14:35] l0rd opened #21293 "User guide - Start a Che workspace"
### Is your enhancement related to a problem? Please describe

User Guide needs to be updated ([global issue](https://github.com/eclipse/che/issues/21285)). This issue is about the creation of a new "Getting Started" section.

### Describe the solution you'd like

We should explain how a user should use Che to start a workspace and clone his github/gitlab/bitbucket git repository ([using a Che URL

[2022-03-23 14:37] #20820 closed

[2022-03-23 14:38] Hadsch opened #21294 "Documentation: serverExposureStrategy missing performance impacts"
At least on kubernetes, the setting `serverExposureStrategy` has a huge impact on the startup time of a workspace.

Here you can see a comparison (credits to @sparkoo):
https://www.youtube.com/watch?v=Fhzt8DiBajU
Link to the comment: https://github.com/eclipse/che/issues/19461#issuecomment-810808710

| Option | Startup-Time |
| ------- | ------------- |
| single-host, type 'gateway' | 17 sec |
| m

[2022-03-23 14:44] l0rd opened #21295 "User guide - Select a workspace IDE"
### Is your enhancement related to a problem? Please describe

User Guide needs to be updated ([global issue](https://github.com/eclipse/che/issues/21285)). This issue is about the creation of a new "Select a workspace IDE" section.

### Describe the solution you'd like

We should mention that current IDEs are Eclipse Theia (the default one), Open source VS Code and JetBrains IntelliJ and PyCharm.

[2022-03-23 14:57] l0rd opened #21296 "User guide - Adding a VS Code extension"
### Is your enhancement related to a problem? Please describe

User Guide needs to be updated ([global issue](https://github.com/eclipse/che/issues/21285)). This issue is about the creation of a new "Add a VS Code extension" section.

### Describe the solution you'd like

This is specific to Che Theia and, of course, VS Code

We should warn that Che Theia VS Code extension support has some flaws a

[2022-03-23 15:08] l0rd opened #21297 "User guide - Customizing workspaces' containers (and other components)"
### Is your enhancement related to a problem? Please describe

User Guide needs to be updated ([global issue](https://github.com/eclipse/che/issues/21285)). This issue is about the creation of a new "Customizing workspaces' containers (and other components)" section.

### Describe the solution you'd like

We should explain what a Devfile is, how Che uses it (we recommed to version it in git) and l

[2022-03-23 15:18] l0rd opened #21298 "User guide - Git credentials and Git settings"
### Is your enhancement related to a problem? Please describe

User Guide needs to be updated ([global issue](https://github.com/eclipse/che/issues/21285)). This issue is about the creation of a new "Git credentials and Git settings" section.

### Describe the solution you'd like

Get content from former "user guide / using developer workspaces / mounting a secret as a file ..." and also from "Aut

[2022-03-23 16:01] l0rd opened #21299 "User guide - Mounting volumes, secrets, and configmaps"
### Is your enhancement related to a problem? Please describe

User Guide needs to be updated ([global issue](https://github.com/eclipse/che/issues/21285)). This issue is about the creation of a new "Mounting volumes, secrets and configmap" section.

### Describe the solution you'd like

This is about getting the content from:
- former user guide / using developer workspaces / mounting a secret as