[2019-07-11 21:43] l0rd commented on #13820
### CRD based implementation proposal:

**Che discovery**
A new kind of CRD will be deployed: the `DevWorkspace` CRD (devfile based)
DevConsole discovers if Che is deployed on the cluster If the `DevWorkspace` API is available

**Workspace provisioning**
DevConsole creates a new `DevWorkspace` CR
The `DevWorkspace`creation event triggers the che-operator
che-operator generates a factory URL [1]
ch

[2019-07-11 21:53] l0rd commented on #13817
What do you mean?

[2019-07-12 00:06] tolusha commented on #13816
@tsmaeder

correct

That's arguable. Sidecar container doesn't know anything about other containers.

No, I wasn't able.

[2019-07-12 01:30] tolusha commented on #13816
So, It is possible establish a remote debug session.
At least I can do it in VS Code and Theia IDE, but with Che Theia I got:
- Uncaught (in promise) Error: It is not possible to provide debug adapter executable for 'python'. (version: next)
- Uncaught (in promise) Error: Unknown method $activateByEvent on actor PluginManagerExt (version: 7.0.0-rc-3.0)

[2019-07-12 01:54] tolusha commented on #13529
@sparkoo

c# and ASP.NET reference to the same project. Is it done by mistake? Because we already have the devfile for `dotnet-web-simple` [1]

c# | https://github.com/che-samples/dotnet-web-simple.git | PR
-- | -- | --
ASP.NET | https://github.com/che-samples/dotnet-web-simple.git | @tolusha

[1] https://github.com/eclipse/che-devfile-registry/blob/ab/fixPythonStack/devfiles/dotnet/devfile.yaml

[2019-07-12 02:58] monaka opened #13821 "[Helm] warnings on booting keycloak"
### Description

This is not critical but I suspect it is one of the reason that causes #10300,  #13791.

### Reproduction Steps

0. Deploy Keycloak with Helm
0. Watch log by `kubecl logs`

**OS and version:**

the HEAD of the master branch.

**Diagnostics:**

[code]

[2019-07-12 03:14] yuqaf1989 opened #13822 "[nightly] multi user deploy failed : Caused by: java.lang.RuntimeException: java.net.BindException: no port available in range [7800 .. 7850]"
### Description
Deploy eclipse/che:nightly via k8s , statement of postgresql and keycloak is ok, but che failed to start, error info blow:

It seames that the container can not bind a port from 7800 to 7850, and can not retrieve configurations from auth/realms/che/.well-known/openid-configuration.
tried to `curl  -i auth/realms/che/.well-known/openid-configuration` outside the container , get  `40

[2019-07-12 03:36] monaka commented on #13749
I close this as eclipse/che-theia#315 was merged.

[2019-07-12 03:36] #13749 closed

[2019-07-12 03:46] monaka commented on #13821
It may be too strict to tag `kind/bug` for just warning messages.
But it is related on the `POSTGRESS_PORT` issue. So I tagged it.

[2019-07-12 04:15] ghatwala commented on #13256
@slemeur @l0rd  - Any thoughts on adding - "Power" support for your official CI - https://ci.codenvycorp.com/computer/  ?

[2019-07-12 06:55] tolusha commented on #13599
Plugin side-car container is being restarted.

![Screenshot from 2019-07-12 09-49-33](https://user-images.githubusercontent.com/1640675/61108388-d7888000-a48a-11e9-95ad-ba01d9aa1069.png)

[code]

[2019-07-12 06:58] tolusha commented on #13599
[code]

[2019-07-12 07:03] tolusha commented on #13599
devfile:
https://github.com/eclipse/che-devfile-registry/blob/ab/asp.net/devfiles/python-django/devfile.yaml#L1

[2019-07-12 07:06] akurinnoy commented on #13584
@tsmaeder hello,
che-server: 7.0.0-rc-4.0-SNAPSHOT
theia: Che-Theia@5dfc5c8 using Theia@5dfc5c8 Built 7/11/2019, 8:32:33 AM

[2019-07-12 07:16] sparkoo opened #13823 "Go sample `permission denied` issues with dependencies"
### Description
There are issues with current Go devfile sample https://github.com/eclipse/che-devfile-registry/tree/master/devfiles/go. This is the sample project: https://github.com/golang/example. We have tasks just for its `outyet` part, which works ok. However, there are many other Go files with main functions. Problematic ones are those with 3rd party dependencies, like this one https://gith

[2019-07-12 07:18] sparkoo commented on #13803
@tsmaeder yep, #13823

[2019-07-12 07:24] sparkoo commented on #13823
When we fix this one, the realworld sample will probably also work and we could reconsider to include also that one into 7.0.0.

[2019-07-12 07:30] sunix opened #13824 "chectl devfile:generate could show the command that have been used in the generated file"
### Description
`chectl devfile:generate` generates a devfile. But it could be useful for the user to know how it has been generated originally. For instance:
[code]
generates
[code]
but could generates
[code]

[2019-07-12 07:50] vitaliy-guliy commented on #13747
Fixed. It must work now.

[2019-07-12 07:51] vitaliy-guliy commented on #13669
Fixed

[2019-07-12 07:51] #13669 closed

[2019-07-12 07:57] #13796 closed

[2019-07-12 07:59] tsmaeder commented on #13599
@tolusha

1. are you sure this is the some issue you encountered earlier? Just asking because the log looks slightly different.
2. Is this reproducible 100%?
3. What platform are you running on and how do y create & run the workspace?

[2019-07-12 08:23] evidolob commented on #13584
It can be related to https://github.com/eclipse/che/issues/13454, we have adopted images to openshift with this PR: https://github.com/eclipse/che-devfile-registry/pull/24
@tsmaeder Are you using that adopted images for your devfile?

[2019-07-12 08:40] tolusha commented on #13599
1. The error is the same
`Error: spawn /tmp/vscode-unpacked/ms-python.python.latest.wtisvokzlk.ms-python-release.vsix/extension/languageServer.0.3.20/Microsoft.Python.LanguageServer ENOENT`
2. Yes
3. minishift v1.34.0+f5db7cb

[2019-07-12 08:43] svkr2k commented on #13690
@tsmaeder , thank you for your question.
I was able to open http://che-che.<ipaddr>.nip.io and see the che dashboard.
In the dashboard, i selected a stack from the list and clicked on Create workspace button to create the workspace.

Hope this helps. Thank you for looking into this. I would really be happy if i get a solution for the issue.

[2019-07-12 08:50] apupier opened #13826 "Empty Warning displayed"
### Description

![image](https://user-images.githubusercontent.com/1105127/61115435-bf1c6380-a492-11e9-8609-092686284ccd.png)

### Reproduction Steps

don't know. it often appears with my local installation with chectl, operator, minikube, Hyper-V and windows 10

**OS and version:**
 7.0.0.rc-4.0-SNAPSHOT

**Diagnostics:**

[2019-07-12 08:59] tsmaeder commented on #13599
How did you use the devfile? Chectl?

[2019-07-12 09:11] evidolob commented on #13620
It seems after https://github.com/eclipse/che-theia/pull/315 and https://github.com/theia-ide/theia/pull/5695 problem was solved(I test it on che.openshift.io, and now it's work).
@sunix Can you verify?

[2019-07-12 09:15] tsmaeder commented on #13584
I don't use a devfile, I use what's in the dashboard of che-server:nightly.

[2019-07-12 09:20] tsmaeder commented on #13816
$activateByEvent is related to activation events being implemented in theia master. It's not in the
theia che-7.0.0 branch.

If we don't have a workaround, we need to escalate.

[2019-07-12 09:30] tolusha commented on #13599
I created workspace using swagger API

[2019-07-12 09:30] skabashnyuk commented on #13690
@svkr2k just to clarify your environment. Are you running Che locally with minikube or on AWS?

[2019-07-12 09:32] tolusha commented on #13816
We need the latest Theia version

[2019-07-12 09:40] vzhukovskii commented on #13390
@slemeur, we can't assign hotkey to switch display machine list, due to following flow. Hotkey assigns to specific command, command then executes code. With new terminal item this is easy to implement. There is a boolean flag which just switch displaying of elements. But with machine list for the exec commands its a bit tricky. Tricky in that way, that we first call run task menu item, task list m

[2019-07-12 09:49] sunix commented on #13620
This is great, I will give a try. Thanks!

[2019-07-12 09:50] dmytro-ndp opened #13827 "Decouple Java selenium E2E tests from GWT-code"
### Description
There is a plan to remove GWT-related code from Che https://github.com/eclipse/che/pull/13788, and [Java E2E selenium tests](https://github.com/eclipse/che/tree/master/selenium) should be aligned with this changes:

- [x] **step 1**: fix build of Java E2E selenium tests: there are outdated dependencies:
* org.eclipse.che.plugin:**che-plugin-github-shared**
* org.eclipse.che.plugin:

[2019-07-12 10:01] l0rd opened #13828 "chectl workspace:start fails for multi-user Che"
### Description

The command `workspace:start` doesn't  have a parameter `--access-token=access-token` (`server:stop` already accepts this parameter).

Hence when trying to start a workspace using chectl on multi-user Che we get an error `E_CHE_API_UNAUTHORIZED`

### Reproduction Steps

[code]

[2019-07-12 10:04] l0rd commented on #13828
This is a step of the happy path test so I consider that it should be fixed for che 7.0.0 cc @rhopp

[2019-07-12 11:21] evidolob commented on #13584
I test java-maven stack, and I can open terminal in `maven` container, and any other containers except `che-machine-exec`. So issue in that exceptions?  But they do not block the work, I think for them we need to have another issue.

[2019-07-12 11:27] svor commented on #13781
[theia-omnisharp](https://github.com/redhat-developer/omnisharp-theia-plugin/releases/tag/v0.0.3) and [theia-netcoredbg](https://github.com/redhat-developer/netcoredbg-theia-plugin/releases/tag/v0.0.2) were realized with `activationEvents` information.

[2019-07-12 11:27] #13781 closed

[2019-07-12 11:29] evidolob opened #13830 "Uncaught error after terminal widget creation"
### Description
After creating new terminal I got error in browser console:
[code]
**But in rest terminal widget works normally**
### Reproduction Steps
Just create new terminal and open browser console

**OS and version:**
7.0.0-rc-4.0-SNAPSHOT

**Diagnostics:**

[2019-07-12 11:30] evidolob commented on #13584
I create issue for that `resize` error - https://github.com/eclipse/che/issues/13830

[2019-07-12 11:34] sunix commented on #13620
@evidolob it works great. Have these PR also been cherry picked on 7.0.0 branch ?

[2019-07-12 11:35] tsmaeder commented on #13584
Strangely...when I create the java-maven stack, it pulls che-theia:next. I'm using che-server:nightly and just redeployed che on my minishift.

[2019-07-12 11:36] tsmaeder commented on #13584
Also, the java-maven stack does not check out any projects for me.

[2019-07-12 11:57] Katka92 opened #13832 "[Regression] Apache Camel devfile not starting on Hosted Che"
### Description
When starting Che 7 workspace based on `Apache Camel based on Spring Boot`, the workspace is not started saying `Error: Failed to run the workspace: "Unrecoverable event occurred: 'FailedCreate', 'Error creating: pods "workspacevd196kj996eb1v7b.maven-85dcd48884-55sdr" is forbidden: [maximum cpu usage per Pod is 6, but limit is 6424m., maximum memory usage per Pod is 3Gi, but limit

[2019-07-12 12:03] tsmaeder commented on #13584
Just did a video chat with @evidolob and we could confirm that it happens for me, but not for him. Possible differences:

1. He has a Mac, I run Fedora
2. His way of installing Che seems to be different: he reassigned the key for the che registry url, I don't even have that setting neither in the deployment env nor in the config map.

I switched to using the minishift add-on to install becuase the

[2019-07-12 12:17] ibuziuk commented on #13832
cc: @tsmaeder it looks like apache camel requires more than 3 GB of RAM, will it be possible to meet 3 GB requirement for this devfile

@l0rd @slemeur in general in order to have all the devfiles supported on che.openshift.io we need to make 3 GB of RAM as a limitation for all the devfiles in the registry

[2019-07-12 12:20] rhopp commented on #13832
@l0rd @slemeur So far I've put milestone 7.1 to this, as this is not working only on che.openshift.io (due to memory limits). If you think otherwise, feel free to change this.
btw. Do we **need** this devfile for che 7.0 GA? That may be the simplest and safest solution.

[2019-07-12 12:21] evidolob commented on #13620
No, to get it for 7.0.0 we need to change Theia version, we decided to do that on next release(on sprint end)

[2019-07-12 12:55] nickboldt commented on #13584
Using minishift 1.34.0 (and its included mini-che addon), you will still have the wrong registry URL, but the workaround once deployed is easy:

[code]

More details / steps: https://divby0.blogspot.com/2019/06/deploying-che-7-to-minishift-with-chectl.html

I've also posted on that blog how to get the list of images that Che pulls as part of deployment so you can verify if it's pulling latest or n

[2019-07-12 12:55] vitaliy-guliy opened #13834 "Persist installed VS Code extensions"
### Description

VS Code extensions that have been installed by Che Plugins panel must be present/working after restarting the workspace.

VS Code extension is not deployed to Theia while installing. The Plugins panel
offers the user to restart the workspace to apply the changes. This is done intentionally to have the same behavior for VS Code extensions as we have when installing a plugin from pl

[2019-07-12 13:02] skabashnyuk commented on #13822
Depends on duplicate https://github.com/eclipse/che/issues/13625
The cause of the issue is that che master is not able to get data from Keycloak instance.

[2019-07-12 13:03] #13648 closed

[2019-07-12 13:12] rhopp commented on #13822
I'm closing this issue as duplicate.
@yuqaf1989 Could you please look at the issue Sergii linked here and if you don't agree it's a duplicate, feel free to reopen this one. Thanks!

[2019-07-12 13:12] #13822 closed

[2019-07-12 13:13] yuqaf1989 commented on #13822
@skabashnyuk  thx

[2019-07-12 13:22] #13525 closed

[2019-07-12 13:36] sunix commented on #13834
We should find a way to persist that in the devfile.

[2019-07-12 13:44] tsmaeder commented on #13584
@nickboldt strangely, my plugins are working just fine, it's just that I can't open a terminal into them.

[2019-07-12 13:50] rhopp commented on #13823
After discussing with @sparkoo I believe this should be dealt with in Che 7 Endgame.
Mainly because of two reasons:
1) Adding ANY external dependency will result in user not being able to develop in this workspace.
2) The repository cloned by default in this go devfile contains multiple examples, of which some of them contains external dependencies.  (if user would try them, he will get these erro

[2019-07-12 13:50] tsmaeder opened #13835 "Investigate Native-Compiling jdt.ls"
I'd like to know how to native compile (using Graal VM) jdt.ls including the Microsoft debug extension. How does memory-consumption and performance change in the native-compiled version? How can we run it with those two VS Code extensions?

[2019-07-12 13:55] rhopp commented on #13826
@apupier Could you please provide more info, like browser console logs, server logs, ... next time this happens?

[2019-07-12 14:10] rhopp commented on #13828
So far we are debugging/fine tuning happy path on singleuser instance, but yeah... this should be added.

[2019-07-12 14:13] vitaliy-guliy commented on #13834
I see two options here:
 - one is to describe the extension in the devfile like you commented in the [PR](https://github.com/eclipse/che-plugin-registry/pull/180)
[code]

- another one is to be able to inline content of the plugin meta.yaml in the devfile something like following
[code]

For me the first one is preferred

[2019-07-12 14:23] rhopp commented on #13830
As this is not affecting any behavior, I'm setting severity/P2 and 7.x milestone.

[2019-07-12 14:57] l0rd commented on #13634
Based on the PR discussion https://github.com/eclipse/che/pull/13645#issuecomment-510093281 I would +1 to set milestone 7.0.0 and merge the PR
@nickboldt @tsmaeder @rhopp @slemeur

[2019-07-12 15:18] ibuziuk commented on #13813
PRs for the second checkbox have been sent and merged `Update che-devfile-registry-periodic CentOS CI job to build the devfile registry image (centos only) and tag it as nightly` :
- https://github.com/eclipse/che-devfile-registry/pull/35
- https://github.com/openshiftio/openshiftio-cico-jobs/pull/1037

The nightly job has been created https://ci.centos.org/job/devtools-che-devfile-registry-nightl

[2019-07-12 15:18] rhopp commented on #13834
If I understand this correctly, we have 3 options for Che 7.0

1) Do nothing - user will lose all installed plugin with every restart of workspace, if he installed them using Che Plugins panel in Theia. User will still be able to "persistently" install plugins using dashboard & restarting workspace.
2) Persist installed (by plugins panel in Theia) plugins on volume - This is currently implemented

[2019-07-12 15:25] rhopp commented on #13835
This one is definitely endgame issue - assigning team/pm (@slemeur) for correct prioritization.

[2019-07-12 15:40] rhopp commented on #13821
@skabashnyuk I've assigned team/platform for analysis and severity estimation. If you think somebody else should take care of this, please tag them.

I've tried this using operator and keycloak image I built today from https://github.com/eclipse/che/pull/13798 and I don't see these warning in keycloak pod logs., even though I'm using the "old" variable names:
![image](https://user-images.githubuse

[2019-07-12 15:47] rhopp commented on #13584
I've tried this today with latest che-theia image - Terminals are being opened with the exception of `che-machine-exec` terminal.
I'm running Fedora 30, Chrome 75.0.3770.100

[2019-07-12 15:52] ibuziuk commented on #13813
we have the first `nighly` image now \o/ https://quay.io/repository/eclipse/che-devfile-registry?tab=tags

I have sent PR for making the job really "nightly" since previously it was executed every 30 mins for testing purposes - https://github.com/openshiftio/openshiftio-cico-jobs/pull/1039

Once this one is merged I believe we can safely close the issue

[2019-07-12 15:58] rhopp commented on #13599
I've just tried to create&use workspace created by the devfile @tolusha provided on 7.0.0-rc-4.0-SNAPSHOT (on minikube)
I've had no problems... Workspace started fine, code completion works... python container is not restarting at all:
[code]

@tolusha Could you try it on minikube/k8s? I can try this on Monday on openshift, so we will at least know if it's infra related.

Putting status info-neede

[2019-07-12 15:59] sunix opened #13836 "Have a nice looking page in the default che plugin registry"
### Is your enhancement related to a problem? Please describe.
When landing to the plugin registry https://che-plugin-registry.openshift.io/, the page being shown is the README file in plain text.

![Selection_338](https://user-images.githubusercontent.com/650571/61141446-e9d7dd80-a4cd-11e9-991d-18ea476ab783.png)

### Describe the solution you'd like
It would be nice to show a nice looking page (w

[2019-07-12 16:20] ibuziuk opened #13837 "Need to periodically build `arbitrary-users-patch` images as part of the nightly che-devfile-registry ci job"
a nightly CI for devfile registry has been created as part of https://github.com/eclipse/che/issues/13813
https://ci.centos.org/job/devtools-che-devfile-registry-nightly/

Need to extend this CI to build and push not only `che-devfile-registry`, but also all patched language runtime images from https://github.com/ibuziuk/che-devfile-registry/tree/che-13813/arbitrary-users-patch which should also b

[2019-07-12 16:20] ibuziuk commented on #13837
@amisevsk hope you will be able to take a look at this one once you back
@l0rd please consider adding this issue to the Che 7 GA end game plan

[2019-07-12 16:21] ibuziuk commented on #13813
have also create a separate issue for nighly builds of `arbitrary-users-patch` images https://github.com/eclipse/che/issues/13837

[2019-07-12 16:23] SDAdham opened #13838 "Pods are not initializing for Che and keycloak kubernetes"
### Describe the bug

keycloak and che are not initializing, they keep in the following stat:
[code]
In the meanwhile, if I am deploying a single-user che on the very same kubernetes environment, it works perfectly!!

### Che version

 - [X] latest
 - [X] nightly
 - [X] other: please specify
`6.19.0`, `6.19.2`, `7.0.0-rc-3.x`, `6.19.5`

### Steps to reproduce

[code]

### Expected behavior

Pods s

[2019-07-12 16:34] dmytro-ndp opened #13840 "Che is not accessible after being started by chectl on Kubernetes"
### Describe the bug
Chectl didn't enable **ingress** addon on Kubernetes besides there was `Enable minikube ingress addon [completed]` in output, and it made Che inaccessible by _Che Server URL_.

### Chectl version
https://github.com/che-incubator/chectl/releases/latest/download/chectl-linux

### Steps to reproduce
1. Install Kubernetes using minikube from scratch:
[code]
2. Start Che using chec

[2019-07-12 17:14] SDAdham commented on #13625
Could this issue >> https://github.com/eclipse/che/issues/13838 related to this one here?

[2019-07-12 17:15] SDAdham commented on #13838
not sure if https://github.com/eclipse/che/issues/13625 is related to this one, title sounds the same but the outcome and issue details look different? Not sure

[2019-07-12 17:15] nickboldt commented on #13634
+1, added to che7GA and milestone 7.0.0.

[2019-07-12 17:45] makandre commented on #13634
Thank you!

[2019-07-12 18:22] rhopp commented on #13840
I've just quickly tried this with minikube with kvm2 driver and "plain" `chectl server:start`. Ingress addon was enabled without any problems:
<details>
<summary>Console output:</summary>

<p>

╭─rhopp@localhost ~
╰─$ minikube start
😄  minikube v1.1.1 on linux (amd64)
🔥  Creating kvm2 VM (CPUs=4, Memory=14336MB, Disk=20000MB) ...
🐳  Configuring environment for Kubernetes v1.14.3 on Docker 18.09.6

[2019-07-12 18:42] benoitf commented on #13840
yes on my computer I don't reproduce as well

could you retry by cleaning up $HOME/.minikube folder before starting minikube

[2019-07-12 18:51] dmytro-ndp commented on #13840
There was no such an error with `minikube start` command without additional arguments on OpenStack. It might be something specific for `--vm-driver=none` option of kubernetes.

[2019-07-12 18:56] dmytro-ndp commented on #13840
I would also notice that `chectl server:start` finished successfully despite ingress addon enabling had failed, and Che wasn't accessible. IMHO, chectl ought to fail in that case.

[2019-07-12 19:13] rhopp commented on #13838
I think I was able to reproduce this issue.

Could you please take a look at logs of the init containers? Like this:
`kubectl logs <keycloak_pod_name> -n <namespace> -c <container_name>`

So in my case it was:
[code]
which seems pretty wrong....
I've reproduced this on minikube 1.2.0 (k8s 1.15).
@skabashnyuk Something to take a look at?

[2019-07-12 19:38] andy316x commented on #13690
I experience this issue if running in multi-user mode, interestingly if I deploy Che in single-user mode Theia loads successfully, however it is then not able to create terminals. I am also using Che in AWS.

[2019-07-12 19:38] andy316x commented on #13435
I experience this issue if running in multi-user mode, interestingly if I deploy Che in single-user mode Theia loads successfully, however it is then not able to create terminals. I am also using Che in AWS.

[2019-07-12 20:33] benoitf commented on #13690
@andy316x with which browser for terminals ? There is an issue with firefox

[2019-07-12 22:09] dneary opened #13855 "After running command, preview link does not show website"
After running the command, I get a message that an application is listening on port 80, and asking if I would like to redirect so that I can access it. I clicked yes, and after a few seconds, the link showed https://routeflsy1t2z-dneary-che.b542.starter-us-east-2a.openshiftapps.com/ - an Apache index with /che-website and /che in it. I clicked on /che and saw a preview of the website. I was expect

[2019-07-12 22:52] monaka commented on #13821
@rhopp I'm no idea why it isn't reproduced on your environment. At least `POSTGRES_` style is obsolete. https://github.com/jboss-dockerfiles/keycloak/blob/master/server/README.md#database

[2019-07-12 23:27] monaka commented on #13821
@rhopp And one more issue. It looks `POSTGRES_PORT` on your container is `5432`, but it may be set to `tcp://{host}:5432` on multi-node K8s. It will be showstopper.

[2019-07-13 01:44] SDAdham commented on #13838
Yes, I see the same as you:
[code]

[2019-07-13 02:31] SDAdham commented on #13838
btw @rhopp, this is not only for the keycloak container, but I can imagine it would happening with the Che container as well. Reason I believe this is because I tried to setup che & postgres containers only using `global.cheDedicatedKeycloak=false,customOidcProvider=<oidc-url>,cheKeycloakClientId=<oidc_clientId>,customOidcUsernameClaim=<user_name_claim>` from https://www.eclipse.org/che/docs/che-6

[2019-07-13 02:46] SDAdham commented on #13838
Updated description with the `6.19.5` as I also tested against it and yet the issue is still happening.

[2019-07-13 05:19] yuqaf1989 opened #13841 "[no port available in range [7800 .. 7850]]che-server deploy error"
when I try to deploy che 7 on k8s via helm command: `helm upgrade --install che-multi --namespace eclipse -f ./values/default-host.yaml --set global.ingressDomain=che-eclipse.my-nginx-nginx-ingress-controller.default.svc.cluster.local ./`. Deployment of keycloak and postgres are OK, but che-server can not startup, I found the error blow, It seems that jgroup can not bind port to ipv6 address.

##

[2019-07-13 09:49] tsmaeder commented on #13823
So the issue is that "/go" is first in the gopath in the devfile and go language tools are downloading dependencies there?

[2019-07-13 11:20] wgbeckmann commented on #12701
Yes, I'm havin the same issue.
I wantet to upgrade from 6.7.0 to 6.19.0 with the issue descriped above.
So I recoverd to 6.7.0 startet to upgrade from Version to Version. On the step 6.15.0 to 6.16.0 the issue come back. So I stuck at 6.15.

We have a lot of Projects in Eclipse Che and are porting new Projects. But I need a hint for upgrading Eclipse Che!

[2019-07-14 07:13] sparkoo commented on #13823
@tsmaeder that's my theory. However, I don't know how to patch and deploy Go plugin locally so I haven't test it in Che.

[2019-07-14 07:35] wgbeckmann commented on #13493
The solution is:
Since 6.16.0 it is a must that the url you start eclipse che is the same url as configured in che.env (CHE_HOST)

In my case the CHE_HOST had an IP, but I always started it with the host-name ....

[2019-07-14 07:35] #13493 closed

[2019-07-14 07:39] wgbeckmann commented on #12701
qurben gave me the right direction:

You have to change the CHE_HOST setting in the che.env file.
In my case in the enf-file it was an IP but I started che always with the Server-Name.
After fixing that issue I was able to update to 6.15.0 and at least to 6.19.0

[2019-07-14 16:59] RomanNikitenko opened #13842 "NPE when a devfile command references theia"
Hello!
I had two components in my devFile and a lot of commands. I used minikube and chectl to start workspace from the devfile. My workspace was stuck every time and I couldn't understand what's the problem with my devfile.
![workspace_fail](https://user-images.githubusercontent.com/5676062/61186559-98675400-a66f-11e9-8b3b-e9a78f13695c.gif)

The problem was solved when I replaced the value of the

[2019-07-14 17:00] andy316x commented on #13690
@benoitf I am using Chrome so not sure if that is the problem

[2019-07-14 17:47] RomanNikitenko opened #13843 "dashboard: incorrect handling of Enter button at workspace removing"
### Describe the bug
I tried to use Enter button to confirm removing of a workspace from dashboard.
The workspace was removed but two additional dialogs are came up to ask me to confirm workspace removing. Then two messages informed me that `undefined has been removed`
### Steps to reproduce
1. Select a workspace on dashboard
2. Click `Delete` button
3. You can see confirmation dialog:
![remove_wo

[2019-07-14 18:44] RomanNikitenko commented on #13799
I tested the case for https://github.com/eclipse/che-theia/pull/295 and can not reproduced it. So I think the cause of the problem described [here](https://github.com/eclipse/che/issues/13799#issuecomment-509945862) is correct.

@tolusha could you try to reproduce it:
- using image rnikitenko/che-theia:7.0.0-task-fix
or
- using component in your devfile
[code]
The image contains:
- 0.8.0 theia ver

[2019-07-15 05:04] hjbbjh opened #13844 "Failed to start Kubernetes runtime of workspace. Cause: Server 'theia' not available"
- che log:
[code]
- theia log:
[code]
Received SIGTERM

[2019-07-15 05:07] hjbbjh commented on #13844
After successfully deploying Multiuser Che,Attempting to create and run a new workspace with the "java maven" stack fails

[2019-07-15 05:07] hjbbjh commented on #13844
che 7.0.0

[2019-07-15 06:21] skabashnyuk commented on #13842
@sleshchenko @metlos thoughts?

[2019-07-15 06:22] #13800 closed

[2019-07-15 06:33] evidolob commented on #13584
@rhopp That on purpose, `che-machine-exec` is protected, we don't want to let user create terminal to it. User can kill `machine-exec` process and can loose all opened terminals, and he cannot create new.

[2019-07-15 06:54] sparkoo commented on #13792
maybe @ashumilova is using this API for her dashboard work

[2019-07-15 07:02] skabashnyuk commented on #13844
Hell @hjbbjh
How did you install Che? What is your k8s environment?

[2019-07-15 07:03] skabashnyuk commented on #13841
are there any other exceptions in the log?

[2019-07-15 07:05] ashumilova commented on #13793
Reworked that part. In this [PR](https://github.com/eclipse/che/pull/13825) samples.json is not used at all. Samples page displays projects defined in devfile as well. On workspace details page - adding project widget will not have samples tab - only git and github.

[2019-07-15 07:20] vitaliy-guliy commented on #13834
@rhopp We are talking about only VS Code extensions that has been installed by typing a command into the text field. Any other plugins that have been installed by Che Plugins panel by clicking a button are persisted and will not be lost with restarting the workspace.

[2019-07-15 07:30] yuqaf1989 commented on #13841
keycloak looks OK. I can login keycloak via /auth . And there were  no other logs from keycloak while deploying che.  I also set log level to DEBUG, but error logs are same.

[2019-07-15 07:31] skabashnyuk commented on #13841
can you provide logs from Che-master?

[2019-07-15 07:31] tolusha commented on #13799
@RomanNikitenko
With you image provided I can't run any tasks at all event without refreshing the browser.
The good news is that I can't reproduce this issue anymore with `7.0.0-rc-3.0` version of Che Theia.

[2019-07-15 07:35] hjbbjh commented on #13844
installation via : ` helm upgrade --install che --namespace eclipse -f ./values/default-host.yaml --set global.ingressDomain=che-eclipse.my-nginx.default.svc.cluster.local ./`
k8s version: ` v1.15.0`
os version : ` 7.6.1810`

[2019-07-15 07:41] skabashnyuk commented on #13844
Can you be more specific with Che version?  We have 7.0.0-rc-4.0-SNAPSHOT in master at this moment.

[2019-07-15 07:46] hjbbjh commented on #13844
che-7.0.0-RC-1.0.tar.gz

[2019-07-15 07:53] sunix commented on #13621
For this issue we had 2 root causes:
- Deleting a project would remove it from the devfile as well, but that was broken. Fixed by https://github.com/eclipse/che-theia/pull/334 and https://github.com/eclipse/che-theia/pull/340
- Deleting a project can not get rid of somefile that are being used by a language server. The language server seems to be still `holding` the files. @tsmaeder could your tea

[2019-07-15 07:57] olexii4 commented on #13621
@tsmaeder  @slemeur
The original issue has two problems.  One is a synchronization of the existing projects(fixed in PRs).
The other is a result of a language server work.  And we can still reproduce it
https://youtu.be/voqsE7LCVlA

@tsmaeder Is it a normal behavior of LS(language server)? WDYT?

@slemeur  Could we close this issue as a fixed one?

[2019-07-15 08:05] RomanNikitenko commented on #13799
@tolusha
I test it using the devfile:
[code]
![che_version](https://user-images.githubusercontent.com/5676062/61202445-31d64a80-a6f0-11e9-9136-b0a693d967fe.png)

Could you provide `Help` => `About` screenshot for your assembly?
Could you provide the way how did you test it?

[2019-07-15 08:06] tsmaeder commented on #13584
@rhopp so it's not a fedora vs. Mac issue. Still happens on my machine 100% of the time, though. Spot the difference!

[2019-07-15 08:08] tsmaeder commented on #13621
@olexii4 yes, when a build is running, for example, class files are produced, this is normal behaviour.

[2019-07-15 08:15] yuqaf1989 commented on #13841
I can't access into che-master(http 503), the state of che pod is `Readiness probe failed: HTTP probe failed with statuscode: 500`

[2019-07-15 08:18] tsmaeder commented on #13621
Btw: I can reproduce the behaviour with VS Code: the /bin folder remains after I delete the project from the file explorer. Repeating the delete gets rid of the project eventually.

[2019-07-15 08:20] vparfonov opened #13845 "IDE-2019-07-23 (Sprint: 169)"
### Sprint goals

1. Include existing GitHub PullRequest  plugin in Che Theia IDE
2. Allow Che 7 Git + SSH Flow #13494
3. Bug fix

### Sprint details:
**_Che 7.0.0 Endgame Plan #13637_**

#### 1. Include existing GitHub PullRequest plugin in Che Theia IDE (#11867)
- [x] [plug-in] VS Code Git extensions https://github.com/theia-ide/theia/issues/4266
- [ ] POC: Extend pull request flow to add Factor

[2019-07-15 08:20] tsmaeder commented on #13835
@rhopp of course it's not a Che 7 task.

[2019-07-15 08:30] tsmaeder commented on #13621
Strike that...the project is back again.

[2019-07-15 08:36] sleshchenko commented on #13671
It may be related somehow to https://github.com/eclipse/che/issues/13688

[2019-07-15 08:52] hjbbjh commented on #13844
Is it because there's a timeout？Start image eclipse/che-theia:7.0.0-rc-3.0  up unsuccessfully。

It feels like theia hasn't been fully started yet。

[2019-07-15 09:15] l0rd commented on #13827
How much work is required by "rewrite Dashboard tests which use GWT-editor to check changes in Dashboard."? It's more than half a day can we postpone it after GA?

[2019-07-15 09:22] l0rd commented on #13823
Can this be worked out by @amisevsk and @ibuziuk in the context of https://github.com/eclipse/che/issues/13454?

[2019-07-15 10:38] rhopp commented on #13827
I was thinking in this issue just in scope of Che 7 release - basically making the code "compilable" (that's why the che7GA target). I don't care much about the old tests and if something can be saved from existing tests with minimal amount of work, it should be done as part of different issue. I'll edit the description of this one and create another one for possible followup work.
Sorry for the c

[2019-07-15 10:41] rhopp commented on #13827
Thinking again about this... For Che7GA, disabling whole `selenium` module should be enough (which is already done as part of https://github.com/eclipse/che/pull/13788) and this issue can be left as is, but postpone it post-GA.

[2019-07-15 10:42] tolusha commented on #13799
It seems I can't run tasks from the `My workspace` panel.

[2019-07-15 10:48] RomanNikitenko commented on #13799
@tolusha thank you, I'll check

[2019-07-15 11:24] synax commented on #13844
Im experiencing the exact same issue. I'm using eclipse/che-theia:7.0.0-rc-3.0. I'm using the following config:

`
CHE_HOST=che.cnative.io
CHE_PORT=5080
CHE_CORS_ENABLED=true
CHE_DEBUG_SERVER=true
CHE_INFRASTRUCTURE_ACTIVE=kubernetes
CHE_INFRA_KUBERNETES_INGRESS_ANNOTATIONS__JSON={"kubernetes.io/ingress.class": "nginx", "nginx.ingress.kubernetes.io/rewrite-target": "/","nginx.ingress.kubernetes.io

[2019-07-15 11:27] dmytro-ndp commented on #13827
@rhopp: if we disable Java selenium e2e tests, we will stop testing IDE Dashboard on regular basis.

[2019-07-15 11:34] synax commented on #13844
This is the Devfile I'm using:

`metadata:
  name: portal-dev
components:
  - id: ms-vscode/go/latest
    memoryLimit: 512Mi
    type: chePlugin
  - mountSources: true
    command:
      - sleep
    args:
      - infinity
    memoryLimit: 512Mi
    type: dockerimage
    image: 'golang:1.12.4-stretch'
    env:
      - value: '/go:/projects'
        name: GOPATH
      - value: /tmp/.cache
        na

[2019-07-15 11:44] dmytro-ndp commented on #13827
We can clean up and enable Java selenium tests, but disable particular tests which we are going to re-write. It's about several days of work, IMHO.

[2019-07-15 11:53] tsmaeder commented on #13823
@l0rd I asked @tolusha to have a look and analyze what a fix should look like. Usually, the folder /go should not be writeable, right? That would require sudo (which we don't want).
Question is: since we "own" the container, should we make /go writeable or do we need another workaround?

[2019-07-15 11:58] #13625 closed

[2019-07-15 12:00] sleshchenko commented on #13842
@RomanNikitenko

It should work and I see no reason why we should deny it.

I debug a workspace start with your Devfile and the reason of failing is NPE
![Screenshot_20190715_144120](https://user-images.githubusercontent.com/5887312/61214525-c781d200-a710-11e9-9948-c8a5bdfa5556.png)

The actual cause is hidden here https://github.com/eclipse/che/blob/f601f1652795048641001387c1ef13192f38a224/wsmast

[2019-07-15 12:03] rhopp commented on #13827
Right now I'm most interested in amount of test-cases which would work without any refactoring (after the build-time dependencies are removed).

[2019-07-15 12:09] skabashnyuk commented on #13842
@rhopp @l0rd wdyt is it 7.0.0 or 7.1?

[2019-07-15 12:10] skabashnyuk commented on #13842
Fix look like not very complex

[2019-07-15 12:15] #10409 closed

[2019-07-15 12:15] metlos commented on #10409
Fixed by https://github.com/eclipse/che/pull/13443.

[2019-07-15 12:27] sleshchenko opened #13846 "Workspace loader does not show that workspace failed to start if it happens too fast"
### Describe the bug
Workspace loader does not show that workspace failed to start if it happens too fast.

### Che version

 - [ ] latest
 - [x] nightly (7.0.0-rc-4.0-SNAPSHOT)
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior
Workspace loader report that workspace failed to start and there is no Loader anymore.

### Runtime
   - [ ] kubernetes (include output of `kubect

[2019-07-15 12:28] svor commented on #13427
@tsmaeder @snjeza
I've tested it on the next way:

1. Create an empty workspace in minishift
2. Import 2 projects into the workspace
3. Click `Now` on the windoe with text: `A new file was added. Do you want to import projects?`

Verdict: After some time all projects were detected and imported but there  was no information about the process of importing and it was hard to understand that jdt.ls wa

[2019-07-15 12:30] sleshchenko commented on #13842
I've created a separate issue for Workspace Loader since it has to show an error message that workspace failed to start https://github.com/eclipse/che/issues/13846

[2019-07-15 12:49] skabashnyuk commented on #13631
@AndrienkoAleksandr there is an issue in a devfile that you've provided.
[code]
the fix is quite simple

[code]

[2019-07-15 13:08] l0rd commented on #13823
I think we have a few options (in order of preference):

1) Use `${HOME}/go` instead of `/go`
2) Mount folder `/go`
3) `chmod /go` as we do [for /etc/passwd](https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/Dockerfile#L4)

[2019-07-15 13:09] skabashnyuk opened #13847 "Platform-2019-08-13 (Sprint: 170)"
### Description

- [x] Admin guide for user authentication and authorization | https://github.com/eclipse/che/issues/13668 | 3
- [x] `Annotation key is too long` error when starting workspace, created from devfile | https://github.com/eclipse/che/issues/13303 | 2
- [x] **PR ready** StackService decommissioning | https://github.com/eclipse/che/issues/13459 | 5
- [x] Unable to create workspace if UR

[2019-07-15 13:12] #13524 closed

[2019-07-15 13:12] #13343 closed

[2019-07-15 13:35] tsmaeder commented on #13621
Btw: if we move to mounting projects as workspace roots, we can solve this one by first removing the workspace root and then deleting the project.

[2019-07-15 13:40] sparkoo commented on #13529
@l0rd @tolusha user experience in ASP.NET sample (in PR now https://github.com/eclipse/che-devfile-registry/pull/32) is not good. See my comments https://github.com/eclipse/che-devfile-registry/pull/32#issuecomment-510815810 and https://github.com/eclipse/che-devfile-registry/pull/32#issuecomment-511318510. It's probably caused by #13739 as @svor mentioned.
I would suggest to either fix #13739 or

[2019-07-15 13:46] sunix opened #13848 "Improve che docs devfile section"
Improve this part:
https://www.eclipse.org/che/docs/che-7/using-developer-environments-workspaces.html#making-a-workspace-portable-using-a-devfile_using-developer-environments-workspaces

- [ ] First section [how to use instantiate a workspace from a devfile](https://www.eclipse.org/che/docs/che-7/using-developer-environments-workspaces.html#starting-a-workspace-with-a-devfile_making-a-workspace-p

[2019-07-15 13:54] l0rd opened #13849 "Document how to analyse Theia support for a given VS Code extension"
We are currently tracking [VS Code and Theia compability with regards to the support of the VS Code extension APIs](https://github.com/che-incubator/vscode-theia-comparator/).

It would be nice to help users to understand if a VS Code extension is expected to run properly in Theia (because the API it calls are already implemented in Theia) or if, in the contrary it may behave incorrectly (because

[2019-07-15 14:05] tsmaeder commented on #13739
@svor does omnisharp support multiroot workspaces?

[2019-07-15 14:05] skabashnyuk commented on #13633
@sparkoo I would suggest the following plan.
 - [ ] get familiar with the project https://github.com/che-incubator/chectl and its code structure.
 - [ ] figure out how to make changes in che Helm chart https://github.com/eclipse/che/tree/master/deploy/kubernetes/helm/che and apply it with chectl
 - [ ] Add che-plugin-registry pod definition and public route
 - [ ] Add che-devfile-registry pod defi

[2019-07-15 14:17] benoitf commented on #13801
fixed now

[2019-07-15 14:17] #13801 closed

[2019-07-15 14:31] l0rd commented on #13498
@musienko-maxim should we close this issue?

[2019-07-15 14:34] SDAdham commented on #13838
@skabashnyuk
I'm not expert in Kubernetes pods creation and deployments, however, I did some diggings, and here what I came up with:

- https://github.com/eclipse/che/blob/772ad38414edef85137040a852640ac490cb0233/deploy/kubernetes/helm/che/templates/deployment.yaml#L33
[code]
- I can imagine that since it's failing for `wait-for-postgres`, it would fail for `wait-for-keycloak` container https://gi

[2019-07-15 14:47] svor commented on #13739
@tsmaeder I'm not sure about full functionality but code completion, hovers, diagnostics work well

[2019-07-15 14:48] SDAdham commented on #13838
@skabashnyuk tried this image gempesaw/curl-jq from https://hub.docker.com/r/gempesaw/curl-jq
Here is the output:
[code]
And now it's pulling the image `eclipse/che-keycloak:nightly`, can you please advise if the image is good to go?

[2019-07-15 14:52] skabashnyuk commented on #13838
```eclipse/che-keycloak:nightly``` - should be ready at midnight I think.
Can you try https://github.com/che-incubator/chectl to install che?

[2019-07-15 14:58] SDAdham commented on #13838
@skabashnyuk sure, I could try, i'll let you know what happened, btw keycloak is deployed now, i'm waiting for che, shall I cancel testing this change?

[2019-07-15 15:02] benoitf commented on #13840
@dmytro-ndp is it possible to get access to this environment ?

[2019-07-15 15:24] benoitf opened #13852 "Allow to easily grab JWT token from UI (dashboard, theia, etc.)"
### Is your enhancement related to a problem? Please describe.
Sometimes I need to get my user token / JWT token and I open developer mode console to get the token. But it should be another simple way to do that like clicking on a button from the dashboard or the IDE

### Describe the solution you'd like
It could be like in openshift console (copy login button)

### Describe alternatives you've co

[2019-07-15 15:26] amisevsk commented on #13586
@slemeur I agree, adding a dash would be helpful. IIRC the random chars were added by Alex G to avoid name collisions.

WDYT about opening a new issue and leaving it to normal 7.0.0 triage?

[2019-07-15 15:48] amisevsk commented on #13823
I don't know that this issue has a convenient solution; Go has issues with developing outside of `${GOPATH}` (e.g. when I'm working on che-plugin-broker, the code is checked out to `${GOPATH}/src/github.com/eclipse/che-plugin-broker`).

Go 1.11 adds "preliminary" support [1] for modules and 1.12 improves this [2] in preparation for it being a default in 1.13 later this year. This would resolve our

[2019-07-15 15:52] sunix commented on #13671
What was the goal of keepDir in Che6 ? is this still accurate with che-theia ?
As far as I remember, keepdir was used because we had that 'project' model where 1 git project had to be 1 che project. I am not sure this is still relevant in che-theia: would be useful for the end user in real projects. ... but for samples and demos?
What is the value for the users ?

[2019-07-15 15:55] sunix commented on #13835
I don't know how jdt.ls is packaged but I don't think it will be possible to natively compile a OSGi app.

[2019-07-15 16:02] sunix commented on #13834
@vitaliy-guliy ok at the moment we are installing vscode ext in the theia-ide container but keep in mind that we will eventually allow the user to choose a container where the vscode-ext will run.
If we could optimize the work to have both of them it would be worth it IMHO.

[2019-07-15 16:09] sunix commented on #13435
@andy316x I am closing this issue as it looks duplicate of https://github.com/eclipse/che/issues/13690 and we have more information on it.

[2019-07-15 16:09] #13435 closed

[2019-07-15 16:28] sunix commented on #13390
@l0rd @vzhukovskii @vparfonov this is not part of the endgame anymore right ?

[2019-07-15 17:25] l0rd commented on #13620
@evidolob what does "change Theia version" mean? Move to next stable version of Theia?
And "do that on next release(on sprint end)" means that you want to move to next Theia version right before the release of Che 7?

[2019-07-15 17:43] sunix commented on #13620
to me this is not fixed as long as it doesn't work on 7.0.0.
I tried to use che-theia on che.openshift.io with that https://che.openshift.io/f?url=https://gist.githubusercontent.com/sunix/ee40b10e313b847143505d121d81348d/raw/2714a1ae971404d1635355545a1d96786102f163/devfile.yaml
and it seems that the issue is still here
(devfile: https://gist.github.com/sunix/ee40b10e313b847143505d121d81348d#file-d

[2019-07-15 18:46] sunix opened #13853 "Mark task/che commands as terminated in the tab"
### Is your enhancement related to a problem? Please describe.
When running a che command, the output is displayed inside a terminal tab. This is good. But when the command is terminated, there is a popup saying that task #x has exited but it is very hard to know that a specific che commands terminal tab is actually terminated

### Describe the solution you'd like
It would be nice to add mark some

[2019-07-15 20:01] nickboldt commented on #13846
Assuming the workaround is "refresh browser tab" this is non blocking. Assuming to 7.1.0

[2019-07-15 20:07] nickboldt commented on #13848
Relates to https://github.com/eclipse/che-docs/pull/737/files#diff-218593e58ca8c250a191fb0efa4f72a2R27 - new file will be src/main/pages/che-7/hands-on-guidance/proc_configuring-a-che-workspace-using-a-devfile.adoc

[2019-07-15 20:18] nickboldt commented on #13841
The officially supported way to deploy che is with chectl. Can you try that instead of using raw helm commands?

https://github.com/che-incubator/chectl#chectl-serverstart

[2019-07-15 20:22] nickboldt commented on #13813
Assuming this is part of https://github.com/eclipse/che/issues/13557 this is a requirement for 7.0.0

[2019-07-15 20:29] nickboldt commented on #13849
I'm guessing this isn't urgent for 7.0 or 7.1, but might be nice for 7.2?

[2019-07-15 20:34] nickboldt commented on #13848
If you provide some info about how to use `devfile:generate`, I might be able to flesh out my doc (linked above) to provide an example of the chectl devfile generator.

Docs in chectl repo seem pretty sparse. Can we only include one plugin in the generated devfile? One language? One project repo?

https://github.com/che-incubator/chectl#chectl-devfilegenerate

[2019-07-15 20:41] nickboldt commented on #13843
How did you install Che? What version are you running?
I've never seen this with Che 7 RC3 on minishift. Is it possible that calling your workspace `che/che` instead of something like `wksp-java` confused some back end process?

[2019-07-15 20:47] nickboldt commented on #13842
Based on triage doc https://docs.google.com/document/d/1heR9ysCHCPxcoyQbI2er7QeMAKk2LEecjTFQayL65mA/edit# I would surmise that if this is a P1, it's for 7.1. If it's a blocker, it's for 7.0.

[2019-07-16 00:08] snjeza commented on #13427
@svor I see the Java LS progress messages ( Importing Maven Projects, Building workspace ...) when testing in VS Code or theia. Will check in minishift.

[2019-07-16 00:26] tolusha commented on #13599
@rhopp
It works on minikube.

[2019-07-16 00:44] tolusha commented on #13823
Wrong permissions for `/go/pkg` folder.
Easily can be fixed by patching the corresponding docker file for go plugin [1]
[code]

[1] https://github.com/eclipse/che-theia/blob/master/dockerfiles/remote-plugin-go-1.10.7/Dockerfile#L45

[2019-07-16 02:08] tolusha commented on #13823
I've just check the PR [1] and it works fine.
Here is the devfile [2] which uses go plugin [3] with updated docker image

[1] https://github.com/eclipse/che-theia/pull/348
[2] https://github.com/tolusha/devfiles-registry/blob/master/devfiles/go/devfile.yaml#L15
[3] https://github.com/tolusha/plugins-registry/blob/master/plugins/tolusha/go/0.11.0/meta.yaml#L15

[2019-07-16 03:12] SDAdham commented on #13838
@skabashnyuk : I tested the `chectl` and here is the output:
[code]

[2019-07-16 03:15] hjbbjh commented on #13844
![图片](https://user-images.githubusercontent.com/18327687/61263259-ce651f00-a7ba-11e9-9568-3d16ec5d9845.png)
table：che_k8s_server url field have a null host

[2019-07-16 03:29] SDAdham commented on #13838
How can I downgrade helm to `2.13`?

[2019-07-16 03:32] SDAdham commented on #13838
I am using snap for helm client and i'm not sure if it supports downgrading and i'm not sure if it's the client only issue or both client and server?

[2019-07-16 03:35] SDAdham commented on #13838
hmm, but it's also actually right, there are no che releases? Isn't that what it supposed to check?

[2019-07-16 03:38] svkr2k commented on #13690
@skabashnyuk ,

I'm, running che on AWS in single-user mode and using any of the already available stack/devfile from the dashboard.

(Kindly note that when i run che in locally in ubuntu or windows PC, it works fine.)

[2019-07-16 05:27] tolusha commented on #13835
@tsmaeder
Just to be on the same page. There are sources for jdt.ls [1] and for java-debugger [2]. The idea is to use `s2i` tool to provide the same image as is used for the Che Plugin, right?

[1] https://github.com/redhat-developer/vscode-java
[2] https://github.com/Microsoft/vscode-java-debug
[3] https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/java/0.46.0/meta.yaml#

[2019-07-16 06:18] skabashnyuk commented on #13838
@l0rd @benoitf @davidfestal have you seen that issue with helm && chectl before. Can you assist?

[2019-07-16 06:25] skabashnyuk commented on #13690
@svkr2k I have no AWS EC2 environment available to test. Can you try to install che with https://github.com/che-incubator/chectl ?

[2019-07-16 06:33] akurinnoy commented on #13846
I suppose this is the same issue as https://github.com/eclipse/che/issues/13209 ([pull request](https://github.com/eclipse/che/pull/13804))

[2019-07-16 07:24] tsmaeder commented on #13835
@tolusha no, I just want to know if we can take the OSGI application that is jdt.ls and native-compile it with a fixed set of extension bundles. No containers involved.

[2019-07-16 07:24] tsmaeder commented on #13835
Well, we'll never know until we try :-)

[2019-07-16 07:27] skabashnyuk commented on #13671
@sunix I believe that idea is quite simple and not related to che-theia or GWT idea.
The goal is to store multiple subprojects in the same git repository but have an ability to checkout only part of it. It was very frequently asked by companies providing some courses and demos.  Do you think this use case is invalid and we should abandon it?

[2019-07-16 07:37] vitaliy-guliy commented on #13834
@sunix yes, we allow the user to do everything he want by enabling the editing of devfiles. Installing of plugins to any container using Che Plugins panel is another [issue](https://github.com/eclipse/che/issues/13756)

[2019-07-16 07:38] sleshchenko commented on #13846
@akurinnoy You're right. Thanks for sharing.

Closing issue since it duplicates https://github.com/eclipse/che/issues/13209

[2019-07-16 07:38] #13846 closed

[2019-07-16 07:42] synax commented on #13844
I tried to start the eclipse/che-theia:7.0.0-rc-3.0 image locally, I get the exact same log as if I start it within a workspace.  the last line in the log is always:

[code]

Is it possible to test an older version of the editor ? I've checked https://che-plugin-registry.openshift.io/v3/plugins/eclipse/che-theia/ but RC-2.0 is not there anymore. Do you have older versions of the plugin registry st

[2019-07-16 07:45] slemeur commented on #13621
@tsmaeder: What do you think it the expected behavior by the end-user?

[2019-07-16 07:50] vzhukovskii commented on #13390
@sunix this issue is not mentioned in endgame plan

[2019-07-16 07:51] monaka commented on #13821
For now, I close this issue as warnings won't be shown in the normal deployment. I'll create the another issue after reproducing `POSTGRES_PORT` issue.

[2019-07-16 07:51] #13821 closed

[2019-07-16 07:52] evidolob commented on #13782
che-theia 7.0.0 branch builded on each commit.
After this pull https://github.com/eclipse/che-theia/pull/347
che-theia docker image has `7.0.0-rc-4.0-SNAPSHOT` version

[2019-07-16 07:54] benoitf commented on #13782
should it be `7.0.0-next` to match the other kind of master version which is `next` ?

[2019-07-16 07:54] skabashnyuk commented on #13844
@synax can you try to install che with https://github.com/che-incubator/chectl and try again?

[2019-07-16 07:54] hjbbjh commented on #13844
what is the url field of the table che_k8s_server when you start workspace？

[2019-07-16 07:56] RomanNikitenko commented on #13843
Hello!
I use  `minikube v1.0.0 on linux (amd64)`, `7.0.0-rc-4.0-SNAPSHOT`

I can reproduce it for workspace that I create using stacks from dashboard.

I don't think that is the cause of the issue.
Did you try to use `Enter` button (not mouse click) to confirm a workspace removing?

Please see the video: https://youtu.be/ucCQCSoFYSc

[2019-07-16 07:56] evidolob commented on #13782
It can be, but I want to alight che-theai image version with Che version

[2019-07-16 07:56] slemeur commented on #13390
@vzhukovskii : How the issue is related to hotkeys? I think you are mis-interpreting the description.

Also, I'd like to understand why this issue has been added to the sprint, while it's not part of the endgame and we have a busy list of other issues to address...
cc @vparfonov @l0rd

[2019-07-16 07:58] skabashnyuk commented on #13844
That is an url of the running server inside of you workspace. Null in url means that something went wrong. I assume some variables or some components may not be set correctly. Can you try to install che with https://github.com/che-incubator/chectl

[2019-07-16 07:58] hjbbjh commented on #13844
Can you explain my problem about the null host of the server url please? Is it normal?

[2019-07-16 07:59] skabashnyuk commented on #13844
I can't explain it. That is not a normal situation.

[2019-07-16 08:00] l0rd commented on #13848
@nickboldt yes `devfile:generate` is limited, there wasn't a PM requirement for that and it's kind of a MVP. If it's considered useful we will improve it: https://github.com/che-incubator/chectl/issues/100

[2019-07-16 08:02] yuqaf1989 commented on #13844
@skabashnyuk  would be something wrong with rbac ? I just read the source code , It seems che will use this url to check whether theia service is available.

[2019-07-16 08:02] skabashnyuk commented on #13844
could be. https://github.com/che-incubator/chectl should handle that.

[2019-07-16 08:03] vzhukovskii commented on #13390
_and use a similar mechanism than for opening a terminal_

In opening terminal when user opens machine picker he can see only user runtimes and after pressing the hotkey, he can observe all containers. So I've tried to align the same mechanism and for the task execution part.

It's not a problem to update the behavior. Should we display the only user's runtimes and not display plugin containers?

[2019-07-16 08:04] vinokurig opened #13854 "Can not start /debug hosted plugin in the dev container"
### Describe the bug

Can not start /debug hosted plugin in the dev container

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start a workspace from [dev-file](https://github.com/sunix/devfiles/blob/master/che-in-che/che-theia.devfile.yaml)
2. Open dev container's terminal `ctrl + ~` => `che-dev`
3. Execute `cd /projects/theia && che:theia ini

[2019-07-16 08:05] l0rd commented on #13842
I would say that's `7.0.0` only if it affects some commands of the devfiles in the devfile registry. Otherwise I agree with @nickboldt triage.

[2019-07-16 08:06] l0rd commented on #13842
And I have changed the title of this issue because if was really a bad one.

[2019-07-16 08:07] synax commented on #13844
in my case the query:

[code]
outputs this:

[code]

[2019-07-16 08:10] synax commented on #13844
I'm using Kustomize for my deployment. I've converted the RC-3.0 helm chart using ```helm convert```, what is the difference between chectl and the helm chart? is chectl the preferred way to install che?

[2019-07-16 08:11] benoitf commented on #13782
but che version images are 'nightly' (there is no SNAPSHOT in all other che images)

[2019-07-16 08:14] svkr2k commented on #13690
Hi @skabashnyuk , to clarify further: I'm running Che on AWS "with minikube".

[2019-07-16 08:14] apupier commented on #13855
I transferred the issue to the main repository (using the [new Github functionality](https://help.github.com/en/articles/transferring-an-issue-to-another-repository) available at the bottom left)

[2019-07-16 08:15] evidolob commented on #13782
OK, so version should be `7.0.0-nightly` ?

[2019-07-16 08:15] hjbbjh commented on #13844
but chectl dependent on minikube，it used for local development and testing, not for production。

[2019-07-16 08:17] hjbbjh commented on #13844
@synax why your url field of table che_k8s_server have no host？

[2019-07-16 08:19] slemeur commented on #13703
@skabashnyuk : I think this has slip from the che 7 duties during too long. One reason is probably it was not in your backlog so you forgot and now we raise that back at a time that is not appropriated. So please, make sure the issue is in your team backlog. The discussion and the clarification (if needed) should be happening in the issue.

[2019-07-16 08:19] benoitf commented on #13782
if you name it `nightly` but it's built at each commit there is something wrong, this is why it ended it up with `next`

`latest` and `next` are

[2019-07-16 08:27] synax commented on #13844
I've uploaded my kustomization for reference https://github.com/synax-io/echlipse-che-kustomization

[2019-07-16 08:28] evidolob commented on #13782
@benoitf It seems your comment not full, can you  write what version you think would be better?

[2019-07-16 08:29] synax commented on #13844
@hjbbjh che creates ingresses for each of the services. So the traffic is then forwarded to the svcs and  the pods. I guess you have a different config than I do. If you use the Kustomization I've posted, you should have the same behavior.

[2019-07-16 08:32] #13678 closed

[2019-07-16 08:33] benoitf commented on #13844
@skabashnyuk but chectl dependent on minikube，it used for local development and testing, not for production。

chectl is also working with openshift, k8s, etc

[2019-07-16 08:39] svkr2k commented on #13690
Hi all,
I have a question regarding the above issue:
While creating a workspace from dashboard, will the che-host try to communicate with workspace container using .nip.io url?

[2019-07-16 08:40] l0rd commented on #13838
@SDAdham what version of chectl are you using? This looks related to https://github.com/che-incubator/chectl/issues/18 that has been fixed a couple of weeks ago.

If that doesn't work plese copy/paste the output of `helm list --all --debug` here.

And as a workaround, if you are ok to delete your local Che instance and all its data:

[code]

[2019-07-16 08:41] artaleks9 commented on #13579
Now this functionality is removed from the dashboard, so the issue is closed.
Related PR: https://github.com/eclipse/che/pull/13825

[2019-07-16 08:41] #13579 closed

[2019-07-16 08:43] hjbbjh commented on #13844
@benoitf in https://github.com/che-incubator/chectl，i can see this sentence：Currently chectl requires minikube and helm to be locally installed ，and in https://www.eclipse.org/che/docs/che-7/che-quick-starts.html，i can see this sentence：-p, --platform=platform              [default: minikube] Type of Kubernetes platform. Valid values are "minikube", "minishift", "docker4mac", "ocp", "oso".

[2019-07-16 08:43] slemeur commented on #12971
Switching the milestone to 7.0.0 as this is a must have.

[2019-07-16 08:46] benoitf commented on #13782
@evidolob

`7.0.0-nightly` if it is built every night
`7.0.0-next` if it is built at each commit

Now, it means that plugin-registry is updated a lot so if you're able to give a word to 7.0.0 it may be better.

For example some products have channels like `edge`, `stable`, `testing`, `unstable`, etc

so you could say:
`next` is from master branch
`testing`or another keyword is from the master bran

[2019-07-16 08:47] evidolob commented on #13782
OK, it would be `7.0.0-next` I'm going to create PR

[2019-07-16 08:49] l0rd commented on #13844
@hjbbjh yeah the README file hasn't been updated.

[2019-07-16 08:51] artaleks9 opened #13856 "Fix selenium tests after last dashboard changes"
### Description
_After the last changes on the dashboard, there needs to adapt the E2E selenium tests which check some functionality from it._

**OS and version:**
Che 7.0.0-rc-4.0-SNAPSHOT

**Additional information:**
* Related PR: https://github.com/eclipse/che/pull/13825
* Related selenium test: _CreateAndDeleteProjectsTest_, _CreateWorkspaceTest_

[2019-07-16 08:55] sleshchenko commented on #13817
@sunix See https://docs.openshift.com/container-platform/3.5/rest_api/kubernetes_v1.html
![Screenshot_20190716_115027](https://user-images.githubusercontent.com/5887312/61280058-eab78a80-a7bf-11e9-9bce-72a60bdd789e.png)
If you want to define command only but not entrypoint - you should define `args` only.

From Che perspective - docs can be improved. As far as I see now even Json Spec Page does no

[2019-07-16 09:18] slemeur commented on #13547
Can we consider this issue closed since https://github.com/eclipse/che-plugin-registry/pull/181 has been merged?

cc @svor and @tsmaeder

[2019-07-16 09:23] skabashnyuk commented on #9728
@l0rd Is this issue still relevant?

[2019-07-16 09:23] hjbbjh commented on #13844
@l0rd how can i replace the file of the directory deploy/kubernetes/helm/che?

[2019-07-16 09:27] skabashnyuk commented on #13690
@svkr2k can you try the way to install che how @l0rd suggested here? https://github.com/eclipse/che/issues/13838#issuecomment-511723339

[2019-07-16 09:31] sunix commented on #13848
hello nick,
- so yes at the moment we cannot include multiple kind of object. See https://github.com/eclipse/che/issues/13785.
- and yes it is not very clear how to use it

So in real life, it really depends on what i want to achieve but it is so convenient not having to go to the devfile documentation to see how to include source code.

1. I want to create a devfile for a project or I know I will

[2019-07-16 09:32] slemeur commented on #13620
ping @evidolob

[2019-07-16 09:50] sunix commented on #13817
ok thanks
so according to https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes, to do what i would expect i have just to provide `args` without `command`

[2019-07-16 09:50] slemeur opened #13857 "SSH plugin doesn't show if the generation has been successful or not"
### Describe the bug
The SSH plugin is not show the generate key.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Command palette and generate key pair
2. Select first option "VCS"
3. See the message asking if we want to view the SSH key. Click "View"

Result-> nothing happens

### Expected behavior
User should be prompt a message that the ss

[2019-07-16 09:51] slemeur commented on #13857
cc @vparfonov

[2019-07-16 09:53] SDAdham commented on #13838
@l0rd I am using the latest version of chectl https://github.com/che-incubator/chectl/releases (freshly installed today)

I don't have any che installed cuz I can't install it at all in the first place and even though all installations are usually failing, I run `chectl server:delete` all the time to confirm nothing is installed

Here is the output of `helm list`
[code]

[2019-07-16 09:53] slemeur commented on #12728
@rhopp : Is the scope for Che 7 GA been covered? so we can check that from the end game plan and move forward?

[2019-07-16 09:56] vparfonov commented on #13782
So in this case 'latest' will be the same for each Che backend for 7.0.0-rc-4.0 and for 7.0.0 and probably won't work in some cases.

[2019-07-16 10:05] benoitf commented on #13782
@vparfonov for tagged versions we replace aliases by the real versions so latest inside 7.0.0 will still have 7.0.0 everywhere ( a tag is a fixed name)
but SNAPSHOT, nightlies, etc, all are for development purpose.

if you use che latest at some point you'll get 7.0.0-RC4 and then 7.0.0 but you'll never have a mix.

if you use 'latest' then you've the latest stable version of che, latest stable ve

[2019-07-16 10:11] rhopp commented on #13852
Instead of exposing token in UI, I think it would be better, if our cli tools could operate with user/pass authentication.
That way, token would be needed only for direct API calls, which should be reserved for even more advanced users (devs, automated testing, ...)

[2019-07-16 10:27] benoitf commented on #13852
@rhopp there are a lot of users with oAuth so you'll open a browser from the CLI ?

[2019-07-16 10:39] synax commented on #13844
Ok, so I see it creates a service:
[code]
Which seems to have all endpoints available:

[code]

but there is no ingress for port `3100` created. It seems like this is the only one missing. The theia container states it is listening on `3100`.

[code]

[2019-07-16 10:45] sparkoo commented on #13793
ok. I'm closing this one as `samples.json` is not used anymore.

[2019-07-16 10:45] #13793 closed

[2019-07-16 11:13] sunix opened #13859 "plugin eclipse/che-theia/latest is not using the right definition"
### Describe the bug
[eclipse/che-theia/latest/meta.yaml](https://github.com/eclipse/che-plugin-registry/blob/c9138fe8be2980897873bd0caf3c341ff78ea45d/v3/plugins/eclipse/che-theia/latest/meta.yaml)

and

[eclipse/che-theia/7.0.0-rc-3.0/meta.yaml](https://github.com/eclipse/che-plugin-registry/blob/c9138fe8be2980897873bd0caf3c341ff78ea45d/v3/plugins/eclipse/che-theia/7.0.0-rc-3.0/meta.yaml)

are di

[2019-07-16 11:27] SDAdham commented on #13838
New update: After downloading another release of today `chectl/0.0.2-68f8872 linux-x64 node-v10.4.1` as this is tested now but I am getting a different error:
[code]

[2019-07-16 11:30] slemeur commented on #13634
@makandre : As the PR been merged, is this issue solved?

[2019-07-16 11:32] synax commented on #13844
As far as I understand, the readiness checker https://github.com/eclipse/che/blob/7.0.0-rc-3.x/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/hc/ServersChecker.java just attempts to reach each server for a particular machine.

so in my example, the checker iterates thru all `server_name` `urls` where `machine_name` is `theia-ideqt5`.

[code]

[code]

The error m

[2019-07-16 11:37] sunix commented on #13854
Could you describe what you are expecting ? It is hard to understand your steps and what you are trying to do. Why are you openning 2 tabs ?

[2019-07-16 11:42] sleshchenko commented on #13817
@sunix Should this issue be closed or reformulated to improve docs?

[2019-07-16 11:43] slemeur commented on #13783
Hi @davidfestal - can we mark this issue as solved, as the PR been merged?

[2019-07-16 11:46] synax commented on #13844
Here the config of the jwtproxy

[code]

I've checked the upstream service and it exists. But now we are back to the theia pod not starting up properly.

[2019-07-16 11:47] SDAdham commented on #13838
Alright, been able to past that stage after installing the certificate, however it seems that `chectl` command is putting us back to the main issue again, so no progress and no differences it made:
[code]

-----
Details:
Running chectl command fails with this:
![image](https://user-images.githubusercontent.com/11182824/61291916-30517300-a813-11e9-86e3-9b1d81def334.png)
Checking on logs for the con

[2019-07-16 11:48] SDAdham commented on #13838
@l0rd @skabashnyuk no progress at all, we're back to the original issue

[2019-07-16 11:52] sunix commented on #13835
Few tips: https://quarkus.io/guides/writing-native-applications-tips

[2019-07-16 11:56] rhopp opened #13860 "Workspace created by `/api/devfile` endpoint doesn't show containers in "My Workspace" panel"
### Describe the bug
Creating workspace using `/api/devfile`  endpoint results in errorneous workspace -> no containers are shown in "My Workspace" panel:
![image](https://user-images.githubusercontent.com/1215011/61292046-7df8bc00-a7d0-11e9-8dd9-fe28ed641d0f.png)

Starting the same workspace using `/api/workspace/devfile` works fine, but this endpoint is marked as deprecated in favor of `/api/dev

[2019-07-16 12:01] sleshchenko commented on #13860
@rhopp

Should not it be vice versa https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/devfile/DevfileService.java#L101 ?

[2019-07-16 12:02] davidfestal commented on #13783
Yes, I think so.

[2019-07-16 12:02] #13783 closed

[2019-07-16 12:07] vinokurig commented on #13854
I want to debug existed che-theia plugin e.g. ssh plugin, so I start clean theia in a dev container and then run the plugin from that instance

[2019-07-16 12:11] tsmaeder commented on #13823
@tolusha any particular reason you're not proposing a PR with 2) and 3)?

[2019-07-16 12:16] rhopp commented on #13860
@sleshchenko Yeah... you are right... I got confused by the message in /workspace/devfile:
`This method is in beta phase. It's strongly recommended to use POST /devfile instead to get a workspace from Devfile. Workspaces created with this method are not stable yet.`
After reading this I considered this endpoint as "deprecated" (even though it's clearly stating it's "beta and might be unstable" - I

[2019-07-16 12:19] SDAdham commented on #13838
According to @benoitf : it seems that it could be related to k8s version `1.15`

[2019-07-16 12:20] tolusha commented on #13823
@tsmaeder I don't understand what you mean.

[2019-07-16 12:21] sleshchenko commented on #13860
@rhopp If it's true

Then this issue for IDE2 team to fix machines tab. Is it?

Also, I tried to reproduce it on my side with `swagger` and found another issue, it's impossible to create a workspace and error message is so strange. I'm registering a new issue for that.

[2019-07-16 12:33] tsmaeder commented on #13823
Who is going to fix the devfile and plugin to use the new image?

[2019-07-16 12:33] hjbbjh commented on #13844
Try to deploy it via `chectl` again, now I got errors blow:
![图片](https://user-images.githubusercontent.com/18327687/61294675-ee233400-a808-11e9-9670-e5d0b1d479ce.png)
![图片](https://user-images.githubusercontent.com/18327687/61294692-f54a4200-a808-11e9-8637-41d266bd0226.png)
![图片](https://user-images.githubusercontent.com/18327687/61294701-fa0ef600-a808-11e9-85a1-119a83b54fdc.png)

[2019-07-16 12:34] sleshchenko opened #13861 "Unable to create workspace if URL reference is used for component"
### Describe the bug
Unable to create workspace if URL reference is used for component.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

Two alternative ways:
1. Try to create a workspace with swagger with the following Devfile

<details>

<summary>https://raw.githubusercontent.com/eclipse/che/master/e2e/files/happy-path/containers-happy-path.yam

[2019-07-16 12:34] tolusha commented on #13823
Nobody, the fix will be in the next build of go sidecar container.

[2019-07-16 12:44] jmatsushita opened #13862 "Add postload actions in devfile"
Reposting https://github.com/redhat-developer/devfile/issues/33

Hi there,

I'm trying to run a post startup macro in che, in order to reconfigure multiple containers with the route urls assigned by https://che.openshift.io (7.0.0-RC-1.1)

In order to avoid user intervention I was hoping to use something like Chefile's workspace.postload.actions[1].script. Is this something that could be part of d

[2019-07-16 12:51] sparkoo opened #13863 "Retest and unify all devfiles with samples"
### Is your task related to a problem? Please describe.
We have ~20 devfiles with samples and it is the first thing that new user will probably try and see in Che, thus user experience here is critical. Along the way of creating these devfiles, several issues were created and fixed (#13796, #13823, #13592, and probably more). These might cause new issues in already merged devfiles.

### Describe t

[2019-07-16 12:51] sparkoo commented on #13529
status update:
### java-spring-web & java-vertx & java-mysql
merged https://github.com/eclipse/che-devfile-registry/pull/18
### ASP.NET
in review https://github.com/eclipse/che-devfile-registry/pull/32. IMHO very bad user experience at this state. See my previous comment and PR itself.
### Go
New issue with `GOPATH` permissions #13823. There is a fix (https://github.com/eclipse/che-theia/pull/348)

[2019-07-16 12:52] rhopp opened #13864 "Happy Path test sometimes fail on "Validation of debug functionality""
Stacktrace:
[code]

Example of failed build: https://ci.codenvycorp.com/view/qa-experimental/job/experimental-che-integration-tests-mini/406/console

Sadly, no screenshot was archived (I don't know why)

[2019-07-16 12:56] synax commented on #13844
@hjbbjh  I think there is something wrong with your ENV config. Try to use my kustomization values.

[2019-07-16 13:04] rhopp opened #13865 "Happy Path test is sometimes failing on "Error highlighting" step"
It seems, that the test was not able to type the text, which should trigger the error highlight.

Stacktrace:
[code]

Example run of such failure: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/CHE-7-Happy-Path-Tests/343/

Screenshot:
![image](https://user-images.githubusercontent.com/1215011/61296682-e2b91400-a7da-11e9-9b2f-d96f50ec7348.png)

[2019-07-16 13:18] vinokurig opened #13866 "Improve SSH plugin to be able to execute git commands via ssh"
### Is your enhancement related to a problem? Please describe.

Currently SSH plugin stores ssh keys only in the user preferences. The keys are not visible for Git in the theia's container.
### Describe the solution you'd like

Need to store SSH private keys as files in the `~/.ssh` directory and manage them with the help of [config](https://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-

[2019-07-16 13:23] sunix commented on #13855
@dneary it should be fixed now with https://github.com/eclipse/che-website/commit/e717f4b236abf0c79e53485bc9c58fc466bddf92

[2019-07-16 13:23] #13855 closed

[2019-07-16 13:32] makandre commented on #13634
Hi @slemeur, for my usage I'm packaging a custom assembly where I change the `che.workspace.devfile_registry_url` value to point to my repo with the `index.json`

So I have been using `7.0.0-RC-3.0-SNAPSHOT` as the base che assembly, however it doesn't appear to contain the fix yet.  Am I using the right version?  Is there another version I should be using which contains the fix?  Thanks.

[2019-07-16 13:32] skabashnyuk opened #13867 "Deprecate and remove /api/devfile method"
### Is your task related to a problem? Please describe.
This is an outdated method to create a workspace. The correct one is ```/api/workspace/devfile```
And some users might be confused when using it.  Like this onehttps://github.com/eclipse/che/issues/13860

### Describe the solution you'd like

We should.
- Deprecate it with some good message first.
- Remove DevfileService completely

### Descr

[2019-07-16 13:32] skabashnyuk commented on #13867
CC @rhopp @l0rd

[2019-07-16 13:34] sleshchenko commented on #13861
Probably, it's my Che installation issue because it's not reproducible on Radim and Mykhailo installations.
I restart my minishift without any Che installation modifications and now I'm able to create a workspace with swagger but with factory I got another error message
![Screenshot_20190716_163205](https://user-images.githubusercontent.com/5887312/61298788-84466280-a7e7-11e9-91eb-9e166c6ca049.png

[2019-07-16 13:41] skabashnyuk commented on #13703
@slemeur or @l0rd can you clarify me what issue I have to create. The scope of that task for me is unclear.

[2019-07-16 13:59] sleshchenko commented on #13861
Both cases are reproducible for me on OCP 3.9

[2019-07-16 13:59] skabashnyuk opened #13869 "Analyze how https is working on k8s and OpenShift"
### Is your task related to a problem? Please describe.
The goal of this task is to test how https is working on k8s and different flavors of OpenShift.

[2019-07-16 14:04] skabashnyuk commented on #13838
@SDAdham at this moment on clean k8s with ```chectl server:start --installer=helm --multiuser --platform=k8s --tls --self-signed-cert``` command you have an issue with postgresql at this moment. Am I right?

[2019-07-16 14:37] sunix commented on #13834
Let's drop this one, i don't see how that could be useful if we have https://github.com/eclipse/che/issues/13756 ( <==> Radim's 3. ?)  it would be loosing time implementing something that would be not used anymore after https://github.com/eclipse/che/issues/13756.

[2019-07-16 14:37] SDAdham commented on #13838
@skabashnyuk yes, that's correct.

[2019-07-16 14:38] skabashnyuk commented on #13838
can you try the same without ```--tls --self-signed-cert``` ?

[2019-07-16 14:41] SDAdham commented on #13838
@skabashnyuk I can do that, but I don't really think that that's going to make any difference as the whole problem is that, this step is going further away from the actual problem.

Please refer to this comment https://github.com/eclipse/che/issues/13838#issuecomment-511428333

[2019-07-16 14:41] sunix commented on #13854
why `open workspace` ?

[2019-07-16 14:42] sunix commented on #13854
i don't understand why you mix hosted mode and execution of commands to run a dev theia ....

[2019-07-16 14:44] sunix commented on #13854
FYI now the devfile is in che-theia/devfiles. See https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md

[2019-07-16 14:45] vitaliy-guliy commented on #13584
Terminal does not work on `minishift`
To reproduce I don't use some special stuff, just start `minishift` and then deploy Che using che-ctrl.
[code]
Having running Che I created a workspace from `NodeJS Express Web Application` stack, started it and tried to open a terminal.

Tested on Linux Mint 18.3 Sylvia

[2019-07-16 14:50] skabashnyuk commented on #13838
do you have internet available for you k8s cluster? I see no other reasons why init container command might fail.

[2019-07-16 14:52] benoitf commented on #13838
issue on keycloak is due to the latest changes on keycloak image and in helm templates

init container is trying to install curl and jq and receive
[code]
so further commands are not working

I didn't have these as I was using cached helm templates with latest image

[2019-07-16 14:58] vinokurig commented on #13854
To not to edit path to the plugin when starting hosted instance

Could you please explain your question

[2019-07-16 15:00] SDAdham commented on #13838
Thanks @benoitf , So this explains why the issue is rising but it wasn't seen? And is that still related to k8s `1.15`?

[2019-07-16 15:01] SDAdham commented on #13838
also, i'm not sure how can I see:
[code]

[2019-07-16 15:19] SDAdham commented on #13838
@skabashnyuk I tried your suggestion and no difference like I mentioned.

@benoitf I did try to see if I have the same issue that would be matching the issue you pointed out but turns out no:
[code]

[2019-07-16 15:21] benoitf opened #13870 "keycloak image init containers shouldn't do post-install stuff"
### Describe the bug
che-keycloak wait-for-postgres init container is doing
[code]
and with limited set of permissions it is not working, but in any case, image should have the binaries, not downloading them

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

[code]

[code]

reported through
https://github.com/eclipse/che/issues/13838

### Expected

[2019-07-16 15:24] l0rd commented on #13867
I am ok to add to 7.0.0 but please wait tomorrow approval of others issue "curators" before merging the related PR.

[2019-07-16 15:29] sunix commented on #13854
maybe you shouldn't use hosted mode ...

[2019-07-16 15:32] amisevsk commented on #13862
Hi Jun,

As far as I know, this is something that is being discussed for after the Che 7 release (but I cannot find the issue I'm thinking of at the moment). It's currently not possible in the version running on che.openshift.io, sadly.

Could you be more precise in the post startup configuration you are trying to do?

[2019-07-16 15:39] benoitf commented on #13838
@SDAdham
could you edit helm/che/custom-charts/che-keycloak/templates/deployment.yaml

and use
[code]

as a workaround (it's using a jq/curl image and not install it at runtime)

[2019-07-16 15:41] l0rd commented on #13838
@benoitf it looks like we can split this issue in 2:
- privileges issue in the keycloak init container: https://github.com/eclipse/che/issues/13870
- documentation: how to configure the cert-manager

[2019-07-16 15:42] benoitf commented on #13838
@l0rd yes but cert-manager doc is documented in the "remote install of che"
I will probably add an extra check in chectl if tls is enabled (like checking if che-tls secret is there as well)

[2019-07-16 15:43] l0rd commented on #13838
Makes sense

[2019-07-16 15:46] synax commented on #13844
Ok, after a bit more testing... I'm not sure if this is actually related to che-theia. I've changed the editor to Eclipse GWT IDE and the behavior is very similar. The only difference is that I actually see an error message during the listener registration.

[code]

could this issue be related to some issue with the jwtproxy and the keycloak config? is there a way to get more detailed info from th

[2019-07-16 15:47] SDAdham commented on #13838
@benoitf As per this comment: https://github.com/eclipse/che/issues/13838#issuecomment-511428333 and this comment: https://github.com/eclipse/che/issues/13838#issuecomment-511433978
I did update the yamls, yes it's a different image other than what you mentioned, even though it worked, but one thing I noticed, updating the yamls doesn't take effect, I had to update the image in the runtime, can yo

[2019-07-16 15:49] slemeur commented on #13867
Can the issue say which will be the replacement API?

[2019-07-16 15:50] sunix commented on #13817
I think we should, in most of our devfile samples (i don't know if this is the case or not) where we provide a dockerimage with a `sleep infinitly` or `tail -f /dev/null`, override CMD and not ENTRYPOINT so for instance:

[code]
I have provided an improvement in chectl: https://github.com/che-incubator/chectl/pull/222

[2019-07-16 15:51] benoitf commented on #13838
@SDAdham drop the helm cache
$ helm  delete che --purge

[2019-07-16 15:52] SDAdham commented on #13838
How can I drop the helm cache? I always use this >> `$ helm delete che --purge` but it doesn't really make any difference for helm not to use the old image still?

[2019-07-16 15:56] sunix commented on #13671
In my opinion this was needed only because we couldn't set a 'type' for a subfolder of a che6 project.
But if you could find back real companies projects or courses or demos, we could figure out why this is important.

[2019-07-16 15:57] l0rd commented on #13584
If you are using an old version of minishift you may be using an old version of the minishift-addon and that may explain why you cannot do exec commands.

And anyway, even in latest minishift, the addon is not the latest one. Can you test deploying Che using the operator (with latest chectl release)?

[2019-07-16 15:58] benoitf commented on #13869
FYI on GCP and EC2

Google Cloud Platform k8s version: "v1.12.8-gke.10"

### with multi-user/tls let's encrypt certificates:
workspace is starting fine but after I start a workspace I have the error in dashboard:
Error: Workspace doesn't have a server which matches with URL: https://<hostname>/?uid=939264
when trying to open the workspace (che-theia)

### And without multi-user = single-user
Serve

[2019-07-16 16:03] slemeur commented on #13634
Thanks for your answer @makandre !
The fix has been merged yesterday, so you should pull the latest snapshot of RC 3.
How and where are you deploying Che?

[2019-07-16 16:04] svkr2k commented on #13690
@skabashnyuk , sure, i shall try that : https://github.com/eclipse/che/issues/13838#issuecomment-511723339

Also, please note that in AWS EC2 instance, i start minikube using the following:
`--vm-driver=none`

[2019-07-16 16:05] benoitf commented on #13870
Using in helm/che/custom-charts/che-keycloak/templates/deployment.yaml

[code]

che-postgres is having the same commands so probably need to update the init container as well even if permissions are ok

was ok (no apk install command and use of another image than alpine)
but well it's not kind of an official image :-)

[2019-07-16 16:19] svkr2k commented on #13690
Thank you very much for providing inputs.

when i tried chectl server:start as shown in the above link:
`~$ sudo chectl server:start --installer=helm --multiuser --platform=k8s --tls --self-signed-cert --domain=10.9.2.247.nip.io --cheimage=eclipse/che-server:7.0.0-rc-3.0
sudo: unable to resolve host ip-10-9-2-247
  ✔ ✈️  Kubernetes preflight checklist
    ✔ Verify if kubectl is installed
    ✔ Ver

[2019-07-16 16:23] bfitzpat opened #13871 "Issues running chectl on windows"
Trying to run che locally using chectl on windows and hitting a funky error.

My kubernetes instance is running:

minikube config set memory 8000
minikube config set disk-size 50g
minikube config set cpus 4
minikube start

And when I do
chectl server:start -a operator  --k8spodwaittimeout=900000
I get...

[code]

Minikube version 1.1.1
Chectl version chectl-v0.0.2-b508feb-win32-x64.tar.gz https://

[2019-07-16 16:23] slemeur commented on #13694
cc @vparfonov

[2019-07-16 17:15] skabashnyuk commented on #13867
@l0rd @slemeur ok

[2019-07-16 17:19] skabashnyuk commented on #13671
@slemeur @l0rd can you confirm that this is a useless feature. If yes I'll close this issue.

[2019-07-16 18:36] makandre commented on #13634
I just built again with `7.0.0-RC-3.0-SNAPSHOT` but it still does not have the fix

[2019-07-16 19:55] bfitzpat commented on #13871
I got a little further after deleting the .minikube folder. But it's still not finishing.

[code]

[2019-07-16 19:55] bfitzpat commented on #13871
Is there a way for me to extend the pod timeout for keycloak?

[2019-07-16 20:13] benoitf commented on #13690
$ kubectl create namespace cert-manager
$ kubectl label namespace cert-manager certmanager.k8s.io/disable-validation=true
$ kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v0.8.1/cert-manager.yaml --validate=false

[2019-07-16 20:16] l0rd commented on #13871
@bfitzpat how have you been able to fix the first problem? (`Error: ENOENT: no such file or directory, lstat 'C:\Users\brianf\templates\che-operator'`)

Your second problem looks something we have already tracked https://github.com/eclipse/che/issues/13870. To verify it you should retrieve the log of `wait-for-postgres` init container.

[2019-07-16 20:38] l0rd commented on #13866
Setting milestone 7.0.0 as this is a subtask of the part of https://github.com/eclipse/che/issues/13494 that it's already in the endgame.

[2019-07-16 20:45] bfitzpat commented on #13871
@l0rd I did two things. First, I deleted my /user/[me]/.minikube directory and I backed off from version 1.2.0 of minikube back to 1.1.1, then I ran it again and got the results you saw above.

I'll take another look at the wait-for-postgres container when I get back to this tomorrow.

[2019-07-16 20:46] bfitzpat commented on #13871
I also created this script:
[code]

I'm wondering about the KUBERNETES_VERSION at the top and if I should bump it to 1.15.0 as is the default now for minikube?

[2019-07-16 20:56] l0rd commented on #13871
@bfitzpat It should work with both v1.15 and v1.12 so whatever you prefer. And it should work with minikube 1.2.0 as well.

What is weird is that, after you have deleted folder .minikube, you get `Create Namespace (che)...It already exist.`. As if you are not re-starting from scratch. And something that looks like a chectl problem is solved by deleting the `.minikube` folder. Any chance that you h

[2019-07-16 21:01] bfitzpat commented on #13871
Here's the general flow of how this went...

* Originally I used the full https://github.com/che-incubator/chectl/releases/download/20190716105045/chectl-v0.0.2-68f8872-win32-x64.tar.gz but I had issues when I unzipped it where the symlinks weren't created correctly by 7zip.
* @apupier suggested I drop to https://github.com/che-incubator/chectl/releases/download/20190716105045/chectl-win.exe and t

[2019-07-16 21:01] bfitzpat commented on #13871
I also probably rebooted in there somewhere, which may have played a part. I was trying everything I could think of to get it working a bit more...

[2019-07-16 21:32] l0rd commented on #13863
This issue doesn't look like a "new issue" but rather as a subtask of  https://github.com/eclipse/che/issues/13529 that you would like to include in 7.0.0. Is it correct @sparkoo?

[2019-07-16 21:47] l0rd commented on #13861
@sleshchenko @skabashnyuk that looks like a blocker more than a P1 if it has an impact on the happy path test right?

And it's not clear if it works if, instead of using an URL reference for the component definition, we use a file reference or a file content.

Flagging it as `status/info-needed` for now but if that's confirmed (it impacts the happy path scenario and if happens on any devfile using

[2019-07-16 22:02] l0rd commented on #13859
It looks to me that
- `next`: che-theia latest commit
- `latest`: che-theia latest stable version
- `x.y.z`: che-theia specific stable version

So yes I think you are right @sunix. The fix here should to update `eclipse/che-theia/latest` to match `clipse/che-theia/7.0.0-rc-3.0`? That's something that may be addressed in https://github.com/eclipse/che-plugin-registry/pull/183.

cc @benoitf @evidolo

[2019-07-16 22:04] l0rd commented on #13860
I looks like this issue is a duplicate of #13867 so flagging it as such. If that's the case please close one of these 2 issues.

[2019-07-16 22:10] l0rd commented on #13856
Looks like a 7.0.0 as part of https://github.com/eclipse/che/issues/13665

[2019-07-16 22:23] l0rd commented on #13854
@sunix the doc to setup the Theia Plugin environment for development are [here](https://github.com/eclipse/che-theia/blob/master/CONTRIBUTING.md#devfile-for-contributing-to-theia-or-che-theia-extensions-or-che-plugins) right?

[2019-07-16 22:37] bryantson opened #13872 "Running "chectl server:start" on Centos machine returns "Error: Cannot find module '/usr/local/bin/chectl/lib/commands/server/start'""
I downloaded "chectl-v0.0.2-68f8872-linux-x64.tar.gz", untarred it, and move to the PATH. Running the following command:

```chectl server:start```

returns the following error:
[code]
However, the chectl directory does not contain any "lib" folder but only node_modules, templates, bin, and other executable and script ifles.

[2019-07-16 22:54] l0rd commented on #13844
@slemeur clearing the milestone for now. The issue is still under investigation. Not sure if we are able to reproduce, if it's a duplicate etc...

@skabashnyuk please have a look at latest @hjbbjh and @synax tests results

[2019-07-17 01:06] yuqaf1989 commented on #13844
we've changed two part of helm chart
1、  values.yaml: `serverStrategy: default-host` using default host network mode
2、requirements.yaml:
[code]
because In China we can not connect to google service directory, we use aliyun instead

[2019-07-17 01:23] svkr2k commented on #13690
Greetings, @benoitf . Thank you !

Here are the steps i followed:
[code]
Here are the other errors that i could see:
[code]

[2019-07-17 01:30] yuqaf1989 commented on #13844
Try to deploy via chectl (we've changed chectl source code to prevent updating requirements.yaml),found errors below:

[code]

but che pod is working, we can access to dashboard, bug when we try to start a work space, the same error `Server 'theia' not available` occured again.

[2019-07-17 01:48] yuqaf1989 commented on #13841
Try to deploy via chectl again , the same error occured again.
chectl info below:
[code]

[2019-07-17 03:43] monaka commented on #13743
I tried to reproduce this with my che-theia from the master branch. It seems this has already fixed.
I close this.

[2019-07-17 03:43] #13743 closed

[2019-07-17 03:50] monaka commented on #13704
@benoitf I presume this is a bug. AFAIK, no `rollingParams` available on K8s. I googled and I got it is available on Openshift.

[2019-07-17 05:18] yuqaf1989 commented on #13844
thx all @skabashnyuk @l0rd  @synax  We try to redeploy che base on `multi-host` mode again, and now theia serivce is OK.  we have change the flowing configs:
1、coredns configmap add：
[code]

It seems that something wrong with `default-host` mode, and it maybe not a same problem to @synax 's problem.

[2019-07-17 05:36] sparkoo commented on #13863
@l0rd I thought of it as a follow-up task. But might be a subtask as well.
I'd like to include this to 7.0.0 as I believe user experience here is critical. However, I'd like to hear yours and others opinion, whether it is really needed to do.

[2019-07-17 05:49] rhopp commented on #13860
Yep... In the end it's the duplicate. Closing this one.

[2019-07-17 05:49] #13860 closed

[2019-07-17 06:37] monaka opened #13873 "configmaps "sshconfigmap" already exists."
### Describe the bug

I try to spin up two workspaces on the same wsmaster.
I got an error same as the title of this issue.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

0. Spin up your workspace.
1. Spin up your another workspace.

### Expected behavior

Two workspaces run.

### Runtime
   - [x] kubernetes (include output of `kubectl version`

[2019-07-17 06:44] sleshchenko commented on #13873
cc @vparfonov

[2019-07-17 07:22] sleshchenko commented on #13869
**OCP 3.9 run on docker**
Che Server with tls enabled works fine. I deployed Multi-User Che with `ocp.sh`:
[code]
**Minishift v1.34.1**
Failed to deploy Che Server with tls enabled because of DNS alternative names issue on minishift.
Che Server failed with the following error:
![Screenshot_20190717_092608](https://user-images.githubusercontent.com/5887312/61355161-6f67de80-a87c-11e9-92db-10d8eae4b

[2019-07-17 07:35] skabashnyuk commented on #13838
@SDAdham I'm going to ask @mkuznyetsov to handle this task. The plan is to create an alpine based image under eclipse org that we can use as init container.
CC @vparfonov

[2019-07-17 07:36] vinokurig commented on #13854
@sunix

How to debug the plugin? it is not clear from the documentation

[2019-07-17 07:48] sunix commented on #13854
yes it is here, but I personnally never had to debug and always find a way to reproduce things and testing things with unit tests.
However it could be worth it to add that part in the doc.

[2019-07-17 08:02] monaka opened #13874 "Preconfigure git user information from Che user's profile/preferences"
### Is your enhancement related to a problem? Please describe.

When the user is performing a `git commit` through a terminal on a container or through the vscode extension, email and name are not configured.
At the moment, the user has to run these commands on the right git containers each time a new workspace is started.

[code]

### Describe the solution you'd like

If it was resolved in Che-th

[2019-07-17 08:02] slemeur opened #13875 "Button to go back to dashboard in factory screen does not work"
### Describe the bug
It is not possible to click on the button "Back to dashboard" when starting a workspace from a devfile. The loading screen seems broken

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Start from devfile http://che-che.192.168.99.108.nip.io/f?url=https://github.com/sunix/che-quarkus-demo
2. Wait for the failure
3. Once you

[2019-07-17 08:33] monaka commented on #13869
AFAIK, there are several way to support https on K8s/Ingress. It's hard to support all of them, IMO.
It may be a realistic approach to expect their TLS key has already deployed as their `secret` object by hand.

[2019-07-17 08:35] RomanNikitenko opened #13876 "Terminal widget is not displayed for theia tasks"
### Describe the bug
Terminal widget works well for che tasks, but it is not displayed for theia tasks, so user can not see output for tasks with `shell` type, for example.

### Che version
 - [ ] latest
 - [ ] nightly
 - [x] other: 7.0.0-rc-4.0-SNAPSHOT

### Steps to reproduce
1. Create workspace using any stack from dashboard
2. Create `tasks.json` file in `/projects/.theia` directory
3. Add the

[2019-07-17 08:40] ashumilova commented on #13676
@nickboldt was this fixed by merging this PR - https://github.com/eclipse/che/pull/13825
can we close this one as well?

[2019-07-17 08:52] evidolob commented on #13782
I think we can close this issue, `che-theia:7.0.0-next` is updated on each commit in che-theia 7.0.0 branch, so we don't need to have `nightly` image.

[2019-07-17 08:55] SkorikSergey commented on #13629
Jenkins job for starting HappyPath test on OKD - https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Che7-pr-happy-path-test-OKD/.

[2019-07-17 08:55] #13629 closed

[2019-07-17 08:56] mshaposhnik commented on #13861
Cannot reproduce yet. WS are created OK both via factory or swagger. AM i missing something ?

[2019-07-17 08:56] #13782 closed

[2019-07-17 09:27] artaleks9 opened #13878 "Create automated UI test for install Eclipse Che by using OperatorHub UI"
### Description
_Add automated UI test for using the OperatorHub UI to install Eclipse Che on OCP 4.x_

**Test scenario:**
- Log into OCP 4.x console
- Subscribe Eclipse Che operator by using OperatorHub UI
- Create new Eclipse Che cluster
- Verify that Eclipse Che is ready to use
- Log into Eclipse Che
- Verify start workspace is success

**Environment of install Che:** OCP 4.x/by OperatorHub UI

[2019-07-17 09:48] skabashnyuk commented on #11620
@l0rd @slemeur  can you triage this issue, I think it might be important to fix for 7.0. WDYT?

[2019-07-17 10:25] SDAdham commented on #13838
@skabashnyuk looks about good plan, ill be around if any help needed, id prefer to wait for chectl as this is the most prefered/supported way to go as im looking forward for a production server

[2019-07-17 10:38] davidwindell commented on #13838
Here we are using Rancher 2 where chectl isn't useful for us, we can just launch the Helm chart via the GUI so it would be good to see chectl not made a required element where bugs like this are fixed (which I'm sure will be the case, just wanted to highlight that there are users out there deploying on K8s in different ways).

[2019-07-17 10:43] #13828 closed

[2019-07-17 10:54] l0rd commented on #13873
@slemeur I am tagging it as 7.0.0 because it looks like a blocker

[2019-07-17 10:57] vitaliy-guliy commented on #13584
I cannot deploy Che with the latest version of chectl `20190716105045`.
I get different errors when trying to deploy with operator
[code]

and when deploy with helm

[code]

Yesterday I played a lot and got the same problem. I was able to deploy minishift only with chectl `20190712093149`

[2019-07-17 11:21] sunix opened #13880 "Git user email and name not configured."
### Describe the bug
When the user is performing a `git commit` through a terminal on a container or through the vscode extension, email and name are not configured.
At the moment, the user has to run these commands on the right git containers each time a new workspace is started.

[code]
Few ideas for fixing it:
1. Retrieve defaults one from the che user api.
2. Store name/email in preferences.
3

[2019-07-17 12:15] SDAdham commented on #13838
@davidwindell i do agree but setting a standard is the best way to move, this way u know whats coming for u but if u do something then ur on ur own, thats why consistency always succeeds.

I already solved the issue by a different image, and i can go with this. But i prefer to stick to the solution to this issue.

Deploying with helm was a way for me to go with initially but since chectl is workin

[2019-07-17 12:15] slemeur commented on #13874
Hi @monaka ! Thanks for raising this issue.
@sunix also raised the same concern here: https://github.com/eclipse/che/issues/13880. I'm going to close the issue https://github.com/eclipse/che/issues/13880 and add the information from the issue in this enhancement request.

[2019-07-17 12:19] slemeur commented on #13880
Closing this issue in favor of #13874.
(Content of this issue merged with #13874)

[2019-07-17 12:19] #13880 closed

[2019-07-17 12:26] slemeur commented on #11620
Before adding it to the scope, I think it's important to review this issue and check if this is still accurate. The deployment on openshift is now handle through the operator.
I'm labelling it for platform team.

[2019-07-17 12:26] skabashnyuk commented on #11620
@mkuznyetsov could you take a look?

[2019-07-17 12:31] slemeur commented on #13874
This sounds like a must have IMO and I can understand why it was labelled as a bug in #13880.
Unfortunately, I don't think we can afford for 7.0 GA but most probably in 7.1

[2019-07-17 12:38] vitaliy-guliy opened #13881 "Cannot deploy Che on minishift using operator"
### Describe the bug
It's impossible to me to deploy Che on `minishift` using operator

The first I start `minishift` with 4cpus, 10GB RAM and 20GB disk space
[code]

Then I downloaded the latest version of chectl and tried to deploy Che using operator
[code]
Chectl failed with the following error
[code]

I want to pay attention that the latest version of chectl (20190716105045) does not deploy Ch

[2019-07-17 12:38] vitaliy-guliy commented on #13584
Link with https://github.com/eclipse/che/issues/13881

[2019-07-17 12:39] skabashnyuk commented on #13704
afaik our helm has no devfile registry definition and we are going to solve that here https://github.com/eclipse/che/issues/13633. @monaka am I miss something?

[2019-07-17 12:44] benoitf commented on #13881
for minishift you've to do what is said in the error message

[code]

so do
`oc login -u system:admin`

and restart chectl command with operator

[2019-07-17 12:45] benoitf commented on #13872
ok, for now use as workaround the chectl-linux binary from releases page

[2019-07-17 12:48] skabashnyuk commented on #13694
@artaleks9 can you update the issue with the information about the environment that was used?

[2019-07-17 12:50] skabashnyuk commented on #13694
@ashumilova can you remind me what service dashboard is using to get a token? is this something from Che master side or it's communicating with Github directly?

[2019-07-17 12:58] #13873 closed

[2019-07-17 13:15] vitaliy-guliy commented on #13881
The first case is working fine when I do `oc login -u system:admin`
I suppose when the parameter `--installer=operator` is specified, the chectl should login to os automatically.

[2019-07-17 13:15] bfitzpat commented on #13871
@apupier found this option in the documentation - https://github.com/che-incubator/chectl/blame/master/README.md#L210 - so I will give that a shot maybe with...

` chectl server:start -a operator --k8spodwaittimeout=100000 --k8podreadytimeout=200000`

Will let you know

[2019-07-17 13:26] nickboldt commented on #13867
+100 to remove old API `/api/devfile` and replace with `/api/workspace/devfile` in 7.0.0.GA release.

But if this was introduced **NEW** in 7.0, you should be able to just remove it entirely without the need to deprecate, since anything 7.0.0.[pre-GA] is not supported and subject to change, even in a for-real RC.

If it isn't removed before 7.0.0.GA, **THEN** you would have to deprecate it in 7.1

[2019-07-17 13:32] nickboldt commented on #13869
@sleshchenko If you're going to test OCP, please use 3.11.

OCP 3.9 is not supported for use with CRW 1.x, and no planned support for CRW 2, so it follows logically that 3.9 is also not supported for Che 7. :)

[2019-07-17 13:34] SDAdham commented on #13838
@skabashnyuk @nickboldt : can we add this issue to the mile stone of V7.0, I'm not sure if we should release 7.0 with issues in deployment?

[2019-07-17 13:42] bfitzpat commented on #13871
That did not work.

[code]

[2019-07-17 13:44] apupier commented on #13871
there is a typo, missing the 's':

`--k8podreadytimeout`

`--k8spodreadytimeout`

[2019-07-17 13:46] bfitzpat commented on #13871
even with --k8spodreadytimeout I see
[code]

[2019-07-17 13:49] sunix commented on #13859
@vparfonov @l0rd so has been merged and the problem is still here
https://github.com/eclipse/che-plugin-registry/blob/649e6ce378d13d93e662887e473b13e144349ee9/v3/plugins/eclipse/che-theia/latest/meta.yaml
and
https://github.com/eclipse/che-plugin-registry/blob/649e6ce378d13d93e662887e473b13e144349ee9/v3/plugins/eclipse/che-theia/7.0.0-rc-3.0/meta.yaml

should be identical

[2019-07-17 13:50] apupier commented on #13871
seems you rminikube instance, or at least the che namespace inminikube is in a bad state.
You can try to delete the che namespace

`kubectl delete namespaces che`

then relaunch

`chectl server:start -a operator --k8spodwaittimeout=100000 --k8spodreadytimeout=200000`

[2019-07-17 13:54] RomanNikitenko commented on #13799
@tolusha
I created the PR for `7.0.0` branch of che-theia project and provided `How to test` section.
Could you check your cases/devfiles?

Thanks in advance!

[2019-07-17 14:31] makandre commented on #13634
Will there be `7.0.0-RC-4.0` images?

[2019-07-17 14:42] amisevsk commented on #13634
I believe we are currently on `7.0.0-rc-4.0-SNAPSHOT`, rc-3.0 was released a few weeks ago and is not taking current commits (I think @slemeur mistyped)

However, if *all* you are doing to modify the assembly is setting `che.workspace.devfile_registry_url`, this can be done in the current `eclipse/che-server:nightly` image by setting the environment variable

`CHE_WORKSPACE_DEVFILE__REGISTRY__URL`

[2019-07-17 14:47] l0rd commented on #13838
@SDAdham actually #13870 is already in 7.0.0. If you are ok we should close this issue in favor of the #13870

@davidwindell `chectl server:start --installer helm` is just a `helm update` wrapper that does some pre-flight checks and automated configuration based on the platform you are deploying Che. **If something can be fixed at helm chart level we will fix it at that level**. I agree with you:

[2019-07-17 14:55] amisevsk commented on #13859
Also from the `./scripts/setup_latest_dirs.sh` script:

[code]
Double checking these there are a few small differences from `latest` (e.g. `vscode-kubernetes-tools` does not specify a memory limit in `latest`); the script may also be slightly out of date in how it does comparison.

[2019-07-17 14:57] amisevsk commented on #13859
(Most of these inconsistencies are due to `firstPublicationDate` not matching.

[2019-07-17 15:01] SDAdham commented on #13838
@l0rd, if nothing is needed from my side. Please feel free to close this one. Ill track the other issue on when its resolved

[2019-07-17 15:05] amisevsk commented on #13817
@sunix that approach assumes the underlying command is something like bash, I would say this approach is not good in general -- some containers start different entrypoints (e.g. node) by default.

Che should work without worrying about what the entrypoint of the container is.

[2019-07-17 15:13] tobespc commented on #13634
we have tested the master branch and can see it in there ok

[2019-07-17 15:33] svkr2k commented on #13690
Hi @benoitf , @skabashnyuk .
I believe that the urls used for communicating with the containers could be based on .nip.io.
As an alternative, could you kindly send me a link to the documentation or steps to setup che to use domain name based urls instead of <ip addredd>.nip.io ?
Something similar to "http://che-che.myapp.mydomain.com"?
Kindly let me know how to setup like that, so that i can test

[2019-07-17 15:45] sunix commented on #13859
would symbolic links work with the registry ?

[2019-07-17 15:49] bfitzpat commented on #13871
Attempted deleting namespaces. Also delete is part of the script I run. No difference.

[2019-07-17 15:49] amisevsk commented on #13813
Relevant PR: https://github.com/eclipse/che-devfile-registry/pull/38

[2019-07-17 15:49] amisevsk commented on #13454
PR patching all currently used images (except for one based off alpine): https://github.com/eclipse/che-devfile-registry/pull/38

[2019-07-17 16:07] l0rd commented on #13859
@sunix we have discussed with @vparfonov about this earlier today. You are right and we have updated the release procedure with a new step to fix this problem. But that's really not a big deal: who is using `che-theia:latest`?.

[2019-07-17 16:10] nickboldt opened #13886 "[docs] Document All fields of the CheCluster CR in che-docs and CRD"
### Is your task related to a problem? Please describe.

Update - https://github.com/eclipse/che/issues/13886#issuecomment-534171945

Today, there is no clear example of the CR file required to do a full deployment override of the 6 images in Che 7, eg., for a customer air gap scenario where they can't see quay/RHCC/dockerhub.

Images to be overridden in the custom resource are:

* cheImage
* post

[2019-07-17 16:11] l0rd commented on #13838
Closing in favor of #13870 that has a clear description of the main issue that has been reported here. Thank you @SDAdham and see you on the other side :-)

[2019-07-17 16:11] #13838 closed

[2019-07-17 16:13] l0rd commented on #13870
This issue is a cleaned up version of #13838
cc @SDAdham

[2019-07-17 16:24] l0rd commented on #13871
minikube failing to start, not much we can do about that. As @apupier suggested `minikube delete && rm -rf ~/.minikube && rm -rf ~/.kube`

[2019-07-17 16:54] makandre commented on #13634
@amisevsk Thanks for the clarification.  I'm able to verify it works now.

[2019-07-17 16:54] #13634 closed

[2019-07-17 17:15] dneary commented on #13855
Verified, thanks.

[2019-07-17 18:22] sunix commented on #13859
Well I use that one on che.openshift.io to test the stable release and not having to change the version at each release.

[2019-07-17 18:38] slemeur commented on #13872
As there is a workaround, I labelling it as 7.1.0 issue

[2019-07-17 18:46] benoitf commented on #13881
@vitaliy-guliy the cli is assuming you're correctly logged on all platforms

[2019-07-17 18:51] amisevsk commented on #13859
@sunix regarding symbolic links:

I tried that initially in implementing latest versions, but it comes with a few issues (most notable of which is that it results in the `latest` version being shown twice since there are two metas with that version).

There is more discussion in the original PR: https://github.com/eclipse/che-plugin-registry/pull/143

[2019-07-17 18:53] amisevsk commented on #13634
@makandre No problem, happy to help! There's a little more information in an (old, but still valid) doc: https://www.eclipse.org/che/docs/che-6/properties.html#properties-and-environment-variables

[2019-07-17 19:01] keithchong commented on #13710
Hi @skabashnyuk , I looked at https://github.com/eclipse/che/issues/12447 and https://github.com/eclipse/che-plugin-registry/  and both help.  I noticed that the VS Code extension is run (I believe by default) in the che-theia container.    How do you set it up so that the extension is run in a different container?   The reason for this is that I'd like to customize the container because the VS Co

[2019-07-17 19:24] bfitzpat commented on #13871
even trying on Fedora, I'm running into issues...

[code]

[2019-07-17 19:46] bfitzpat commented on #13871
It's very consistent on Fedora, failing at PostgreSQL pod startup.

[2019-07-18 06:08] benoitf opened #13888 "Deprecate deploy_che.sh in favor of chectl / operatorhub"
### Is your task related to a problem? Please describe.
There is a `deploy_che.sh` script used to deploy che before chectl CLI was added.
Now that there are operatorhub and `chectl` this script should be deprecated and removed

### Describe the solution you'd like
- Gather all usage of `deploy_che.sh` script and
 - check if `chectl` is allowing the same kind of options
- create issues if it's not

[2019-07-18 06:11] benoitf opened #13889 "Embed minishift addon into chectl"
### Is your task related to a problem? Please describe.
There is always a chicken/egg problem with the minishift addon
Che is updated then some templates are updated into minishift (for the addon) but we need to wait a release of minishift
For example one month ago registry URL has been updated to v3 but only a couple of days ago a new maintenance release of minishift has been released

### Descri

[2019-07-18 06:19] skabashnyuk commented on #13888
@benoitf  wdyt can we extend this task to all content of https://github.com/eclipse/che/tree/master/deploy/openshift ? I believe that chectl + che-operator is the replace of this folder.

[2019-07-18 06:22] benoitf commented on #13888
@skabashnyuk yes IMHO it includes the whole folder

[2019-07-18 06:33] slemeur commented on #13634
Excellent! Thanks @amisevsk for following-up !

[2019-07-18 06:52] #13856 closed

[2019-07-18 07:08] skabashnyuk commented on #13888
@rhopp @vparfonov  can you please check if these scripts/yamls are used in CI/CD or tests.
@davidfestal wdyt should we create any issue to implement some functionality that exists in /deploy/openshift but not exists in che-operator. For example, now it's including tracing/monitoring but afaik there is no such functionality in che-operator.

[2019-07-18 07:10] skabashnyuk commented on #13867
I thought that this pr would be part of RC next week and in a next GA we will remove this API at all.

[2019-07-18 07:11] vitaliy-guliy commented on #13584
Cannot reproduce after updating minishift from 1.34.0 to 1.34.1 with updating add-ons.

[2019-07-18 07:13] skabashnyuk commented on #13690
@svkr2k I believe that this is ```-b``` parameter of chectl  https://www.eclipse.org/che/docs/che-7/che-quick-starts.html

[2019-07-18 07:15] SDAdham commented on #13870
thanks @l0rd

[2019-07-18 07:15] skabashnyuk commented on #13690
@benoitf when you made your test on AWS did you use minikube aswell?

[2019-07-18 07:18] ashumilova commented on #13694
@skabashnyuk  It uses our API method `/api/oauth/token?oauth_provider=github`

[2019-07-18 07:20] vitaliy-guliy commented on #13881
@benoitf this is not mentioned in the chectl documentation and at the first glance it looks like a bug.

[2019-07-18 07:21] sparkoo commented on #13557
From @metlos's experiments, 16MB is minimum to run registry without performance drop. I've set `memoryLimit: 32Mi`and `memoryRequests: 16Mi` in #13890.

[2019-07-18 07:33] skabashnyuk commented on #13687
@tsmaeder  I think this is a task more about the ability to create a workspace with REST API call from devfile where version is not 1.0.0 .

[2019-07-18 07:55] tsmaeder commented on #13823
@sparkoo So can we consider this one fixed now?

[2019-07-18 07:56] evidolob opened #13891 "IDE2-2019-08-13 (Sprint: 170)"
### Sprint Goals:
1. GA bug fix
2. Testing Che 7 GA

**Che 7.0.0 Endgame Plan** #13637
## 1. GA bug fix
- [x] machine-exec endpoint is not secure https://github.com/eclipse/che/issues/13970
- [x] che:theia init should have an option to use local sources instead of cloning the che-theia repo https://github.com/eclipse/che/issues/13738
- [ ] Browser freezes on Theia IDE opening #14039
- [x] Adapt "S

[2019-07-18 07:58] tsmaeder commented on #13823
[Create automated UI test for install Eclipse Che by using OperatorHub UI](https://github.com/eclipse/che/issues/13878)

Would I delay 7.0.0 for this? No I would not!

[2019-07-18 07:59] l0rd commented on #13584
@vitaliy-guliy with the operator the message say that you don't have enough privileges and propose a workaround:

[2019-07-18 08:01] sparkoo commented on #13823
@tsmaeder I wasn't able to verify the fix yet. All che-theia containers I've tried still have the bug. Current default is `eclipse/che-theia/7.0.0-next` https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/che.properties#L657, which is still failing for me.

[2019-07-18 08:28] metlos commented on #13794
Could you explain why as a user you would like to have 2 workspaces with the same project?

[2019-07-18 08:32] metlos commented on #13794
Not true. It was working for factories, not workspace creation per se. The *beta* endpoint for devfile adopted the approach of the factory but later we realized our mistake and adopted the approach of workspace. You could never create 2 workspaces with the same name.

I am more than open to change that logic again once someone proposes an important usecase where creating 2 workspaces from a single

[2019-07-18 08:36] skabashnyuk commented on #12680
Setting p1 since I think it will improve a bit our security model

[2019-07-18 08:47] RomanNikitenko commented on #13667
OK for me to do in 2 steps.

But what field we should use instead of `machineName`?
`component`? `containerName`?
@l0rd @slemeur @skabashnyuk

[2019-07-18 08:51] svor opened #13892 "Multiple issues with omnisharp plugin"
### Describe the bug

While trying to dogfood Che I found multiple issues with the omnisharp plugin[1]. The workspace was created via Devfile[2].

### Problems:
- [x] [Rename symbol doesn't work](https://github.com/eclipse/che/issues/13906)
- [x] [ Format Document doesn't work](https://github.com/eclipse/che/issues/13907)
- [x] [Markdowns are not displayed in the editor](https://github.com/eclipse

[2019-07-18 08:55] sleshchenko commented on #13792
I believe `project-template API` should be deprecated and removed in flavor of Devfile Registry.
I believe there should be some issue for Dashboard not to use it anymore.

[2019-07-18 09:01] vinokurig commented on #13522
Is it really important to generate key on che-theia side rather than ws-master, if we steel need to store the keys in the ws-master db?

[2019-07-18 09:09] benoitf commented on #13794
@metlos I could work on different tasks like two different issues to fix, then I will use the same devfile and implement feature1 in workspace1, feature2 in workspace2
I think it's a basic scenario to work on the same project I don't know how you are working else

[2019-07-18 09:14] rhopp commented on #13794
I was thinking in the same lines as @benoitf. It's not "unavoidable", as @metlos requested, but it's big timesaver (no need to checkout&rebuild different branches... Just work in different "browser windows")

[2019-07-18 10:03] sunix commented on #13794
@metlos This one of the greatest thing with che: you can work on the same project on different workspaces. The usecase is about creating a workspace each time you start to work on a new task.
1 workspace for 1 task gives you the ability to easily switch from 1 task to another and solve the task/context switching hell: for instance waiting for feedback from a PR, don't have to deal with branches an

[2019-07-18 10:05] SkorikSergey opened #13893 "Unable to delete worskpace from Organization workspaces list, workspace name is missed"
### Reproduction Steps
1. Create an organization
2. Create a new workspace for this organization
3. Open Organization workspaces list(see screencast №1)

**Expected behavior:**
Created workspace exists is workspaces list and can be deleted

**Observed behavior:**
Workspace name in list is missed(see screencast 1) and there is ```Cannot read property 'environments' of undefined``` error in browser

[2019-07-18 10:34] l0rd commented on #13494
We have discussed that the current behavior of the SSH plugin should be changed.

1. There should be 2 generate commands: `SSH: generate key pair...` and `SSH: generate key pair for particular host...`
2. `SSH: generate key pair for particular host...` works as the currently implemented in https://github.com/eclipse/che-theia/pull/352/files
3. `SSH: generate key pair...` instead would add a key fo

[2019-07-18 10:42] rhopp opened #13894 "Default location for "git clone" should be /projects"
### Is your enhancement related to a problem? Please describe.
Everytime  user runs "Git: clone" command, he is prompted for location where to clone the project. The problem is, that the default location in this dialog is everytime $HOME (`/home/theia`), which is most probably not the location the user want's to clone the repo to.

### Describe the solution you'd like
Having `/projects/` as defaul

[2019-07-18 11:14] ashumilova commented on #13792
We recently removed usage of this service on dashboard, so can be deprecated.

[2019-07-18 11:25] mshaposhnik commented on #13870
any proposals for image name? besides obvious `che-init`?

[2019-07-18 11:28] benoitf commented on #13870
`che-wait-for-postgres`

[2019-07-18 11:44] mshaposhnik commented on #13870
it is used in waiting for both KK and postgres. So need more universal one.

[2019-07-18 11:49] tsmaeder commented on #13881
Can we fix the doc, please? Takes 2 minutes for someone who is familiar with the code.

[2019-07-18 11:54] slemeur opened #13896 "Add C++ Support to Che 7"
### Is your enhancement related to a problem? Please describe.
This issue is to add the support of C++:
- Stack
- Language Server
- Debugger

[2019-07-18 11:55] benoitf commented on #13870
`che-wait-endpoint` ?

[2019-07-18 11:58] SDAdham commented on #13870
Btw, u might want to also consider for wait-for-keycloak container, there are 3 containers in total that needs the change

[2019-07-18 11:58] SDAdham commented on #13870
2 of them in yamls, the third one i dont know where it is and i can only change it in runtime, my best guess, its not yaml file

[2019-07-18 11:59] slemeur opened #13897 "Automate tests for LSP and DAP Support in Che"
### Is your enhancement related to a problem? Please describe.
Provide automation testing for the Language Servers and Debug Adapters we package with Che.

[2019-07-18 12:00] SDAdham commented on #13870
I tried ur suggested image @benoitf and it works like a charm on my side

[2019-07-18 12:04] slemeur opened #13898 "Document how LSP and DAP are working in Che"
We should have documentation explaining the different capabilities from the LSP and DAP that are supported (or not, or behaving differently) when running within Che.

Some capabilities might not be behaving properly or not yet completely supported. In this case, we should document that to the end-user.

[2019-07-18 12:15] apupier opened #13899 "Mark not yet supported chectl commands as such in Readme documentation"
### Is your enhancement related to a problem? Please describe.

I read the documentation and found a command to "update", I was thinking that it is exactly what i'm searching for at this moment!
Unfortunately, I hit an error when trying it:
`"Warning: Not implemented yet"`

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2019-07-18 12:16] vitaliy-guliy commented on #13881
I still have strange output when deploying Che on minishift using helm, but Che become working

[code]

[2019-07-18 12:20] benoitf commented on #13899
I think it's working if you're using the distribution and not the single binary ?

[2019-07-18 12:25] benoitf commented on #13881
@vitaliy-guliy in that case there is a bug, chectl should report an error that minishift/helm is not possible

@tsmaeder AFAIK it's a question issue, not a doc task so please create a new issue

[2019-07-18 12:40] rhopp opened #13902 "Workspaces created from dashboard (devfile) do not respect clonePath"
# Describe the bug
Currently, devfile for GO available from devfile registry has clonePath defined (to clone under `$GOPATH/src/github.com/golang/example`) - https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/go/devfile.yaml#L11. This is required for proper functioning of the example (and default tasks).

Creating workspace from this devfile using API results in correct workspace

[2019-07-18 12:56] skabashnyuk opened #13903 "Project-template API decomissioning"
### Is your task related to a problem? Please describe.
Based on the discussion here https://github.com/eclipse/che/issues/13792.
It turns out that we are no longer using this api anymore.  In general, the replacement of
the project-templates is the devfile registry, where templates come within devfile.

### Describe the solution you'd like
remove project -template api and template.json.

### Desc

[2019-07-18 12:57] sparkoo commented on #13792
issue #13903 to remove the API was created. Closing this one.

[2019-07-18 12:57] #13792 closed

[2019-07-18 12:59] tsmaeder commented on #13741
So which container are the tasks executed in and which container would you expect them to be executed in?

[2019-07-18 13:25] apupier commented on #13871
Can you check the logs of the nodes/pods for Che and Postgres?

for instance by using VS Code with Kubernetes extension:
![image](https://user-images.githubusercontent.com/1105127/61460764-b7b3f900-a96f-11e9-973e-3dafe90b5998.png)

[2019-07-18 13:38] mkuznyetsov commented on #11620
yes, on Operator it works with correct database, although it uses different keycloak image and it's entrypoint

[2019-07-18 13:44] skabashnyuk commented on #13694
@ashumilova As I can see GitHub token is cached in LocalStorage.
![Знімок екрана  о 15 41 40](https://user-images.githubusercontent.com/1614429/61462281-a4565d00-a972-11e9-89d1-118f0a72068a.png)
From your POV how this usecase should be handled?

[2019-07-18 13:44] apupier opened #13904 ""Your registry is invalid" when trying to change to "Visual Studio Code plugins""
### Describe the bug

cannot use Visual Studio Code registry

in Che theia log:
[code]

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

- start a workspace
- View -> Che plugins
- click on the 3 dots and Change registry
- Choose "Visual Studio Code plugins"
-->
![image](https://user-images.githubusercontent.com/1105127/61462386-d9fb4600-a972-11e9

[2019-07-18 13:47] skabashnyuk commented on #13694
BTW any manipulation of user with github link to his kyecloak account will not be visible until this item exists in cache I think.

[2019-07-18 13:48] sunix opened #13905 "Dashboard: Sort workspaces by last used"
### Is your enhancement related to a problem? Please describe.
The problem is when we have a lot of workspaces, we just want to get the very latest ones used.

### Describe the solution you'd like
have in the workspace view of the dashboard, a column 'last started time' or 'last used' something like that and be able to sort by clicking on it.

[2019-07-18 13:49] skabashnyuk commented on #11620
@slemeur so, basically this issue is linked to the installation way that is no longer relevant.

[2019-07-18 13:56] tsmaeder commented on #13889
If minishift is end-of-life, why have a minishift addon at all? Also, the operator works for minishift, so again, why not just kill the addon?

[2019-07-18 14:00] tsmaeder commented on #13892
@svor to me, these look like errors in the language server, correct?

[2019-07-18 14:03] tsmaeder commented on #13893
@SkorikSergey can you open and use the workspace?

[2019-07-18 14:06] tsmaeder commented on #13894
This kind of sucks, but in the end, it's an inconvenience. Also, we're expecting the users to add projects to their devfiles, right?

[2019-07-18 14:07] benoitf commented on #13889
it's because for now operator is not providing single-user mode (while minishift addon is providing it)

[2019-07-18 14:08] tsmaeder commented on #13897
@slemeur not sure what you expect here.

[2019-07-18 14:12] svor commented on #13892
@tsmaeder I don't think so. In vscode extension all these features work fine, this extension uses the same language server as we do

[2019-07-18 14:13] tsmaeder commented on #13899
what's the distribution? Also: why would that contain different capabilities than the binary?

[2019-07-18 14:13] tsmaeder commented on #13899
IMO, "not yet implemented" should not appear in a release. But not a critical issue.

[2019-07-18 14:15] tsmaeder commented on #13902
Marking 7.0 examples are supposed to work.

[2019-07-18 14:18] tsmaeder commented on #13903
@skabashnyuk Could you explain why this needs to be in 7.0.0?

[2019-07-18 14:20] tsmaeder commented on #13904
@apupier Che version?

[2019-07-18 14:23] apupier commented on #13904
Che-Theia@4ef1d89 using Theia@4ef1d89

[2019-07-18 14:24] SkorikSergey commented on #13893
Yes, workspace works as expected. This issue reproduces only on Organization worskpaces list.

[2019-07-18 14:26] svor opened #13906 "[omnisharp-plugin] Rename symbol doesn't work"
### Describe the bug

Rename symbol feature doesn't work in [omnisharp-plugin](https://github.com/redhat-developer/omnisharp-theia-plugin). After trying to rename some symbol I see an error in  the browser console:
<details>
<summary>Exception</summary>

[code]
</details>

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
You can follow steps in the

[2019-07-18 14:28] amisevsk commented on #13889
Another concern is if we have a copy of the addon in chectl, there could be confusion in *which* minishift addon is being used. Is it possible for chectl to check for an addon update or something?

[2019-07-18 14:29] svor opened #13907 "[omnisharp-plugin] Format Document doesn't work"
### Describe the bug

Format Document feature doesn't work in [omnisharp-plugin](https://github.com/redhat-developer/omnisharp-theia-plugin). After trying to format some document from the editor I see an info message in  the browser console:
<details>
<summary>Message</summary>

[code]
</details>

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce
Yo

[2019-07-18 14:30] tsmaeder commented on #13904
Treating this as 7.0 unless we don't care about this feature.

[2019-07-18 14:31] benoitf commented on #13889
@amisevsk hi, could you be more explicit of what you expect on the confusion

[2019-07-18 14:33] l0rd commented on #13889
@amisevsk we would not duplicate the code but just reference the code that's in the minishift repository

[2019-07-18 14:34] l0rd commented on #13889
Basically @tsmaeder this issue is to avoid that https://github.com/eclipse/che/issues/13584 happens again.

[2019-07-18 14:37] svor opened #13908 "[omnisharp-plugin] Markdowns are not displayed in the editor"
### Describe the bug

Markdowns are not displayed in the editor for C# files.  And if move the cursor to the place where an icon should be I see next error in the browser console:
<details>
<summary>Exception</summary>

[code]
</details>

omnisharp plug-in, which provides the functionality of omnisharp language server is here https://github.com/redhat-developer/omnisharp-theia-plugin

### Che vers

[2019-07-18 14:42] vitaliy-guliy opened #13909 "Remove all workspace-related command from Theia File menu"
Theia File menu has items to open and close the workspace. But the workspace in Theia is something else that workspace in Che. In Theia it's a directory with projects.
Che works with predefined `/projects` directory which is never changed.
In that case it makes no sense to have Theia workspace related commands in file menu.
We can always load Theia and open `/projects` directory.

![workspace](htt

[2019-07-18 14:48] skabashnyuk commented on #13903
It can be removed any time after.

[2019-07-18 14:48] svor opened #13910 "[omnisharp-plugin] Code lenses with references are not clickable"
### Describe the bug

The number of references are displayed as code lenses in the editor but they are not clickable.  `Find All References` feature works fine.

The issue is about [omnisharp plug-in]( https://github.com/redhat-developer/omnisharp-theia-plugin ), which provides the functionality of omnisharp language server.

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please speci

[2019-07-18 14:51] nickboldt commented on #13676
Yes, this is no longer a problem using this version of che-server:

[code]

[2019-07-18 14:51] #13676 closed

[2019-07-18 14:59] benoitf opened #13911 "Move to assemblies of che-ctl instead of single-binary"
### Is your task related to a problem? Please describe.
chectl was distributed at first with a single binary.
for self-update mechanism, oclif framework is providing the feature on top of 'oclif assemblies'

These assemblies are now distributed in release section of chectl.

The single binary distribution of chectl should be removed and only the 'oclif packaging' should be distributed as it provid

[2019-07-18 15:07] RomanNikitenko commented on #13799
According to the https://github.com/eclipse/che-theia/pull/355#issuecomment-512634672 should be fixed by https://github.com/eclipse/che-theia/pull/355, so I'm closing the issue.

[2019-07-18 15:07] #13799 closed

[2019-07-18 15:09] akurinnoy opened #13912 "Workspace isn't accessible right after installing a plugin"
### Describe the bug

After installing a plugin listed in "Che plugin" panel I tried to restart the workspace by click on the popup and confirming that in dialog window. Instead of the workspace-loader page I got server error.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Click on "View" and then click on "Che Plugins"
2. In "Che Plugins" p

[2019-07-18 15:53] l0rd commented on #11620
@mkuznyetsov @skabashnyuk so we close right?

[2019-07-18 16:00] sunix opened #13913 "plugin panel: Plugin view shouldn't show all the version of the plugin"
### Is your enhancement related to a problem? Please describe.
The plugin panel displays too many items and user usually will not be interested to install a old version of a plugin so why showing them ?

In the bellow example, we are showing 3 version of che-omnisharp-plugin ... user would never know the difference between all of them and would just take latest.

![Selection_345](https://user-imag

[2019-07-18 16:02] l0rd commented on #13870
@mshaposhnik @benoitf other naming ideas:`che-bootstrap-watcher` / `che-endpoint-watcher`?

[2019-07-18 16:43] l0rd commented on #13816
Why aren't we defining the launch config in the devfile as described [here](https://github.com/eclipse/che/issues/13057#issuecomment-489999146).

@metlos and @RomanNikitenko have worked on handling that (transforming a che command in a vscode launch or task config). We should use that right?

[2019-07-18 16:51] l0rd commented on #13816
Oh that's already in [Che documentation as well](https://www.eclipse.org/che/docs/che-7/using-developer-environments-workspaces.html#editor-specific-commands).

[2019-07-18 18:14] bfitzpat commented on #13871
My keycloak log looks like this:
[code]

[2019-07-18 18:17] bfitzpat commented on #13871
Postgres pod actually fired up and ran ok this time.

Wondering if it's a memory issue. I'm waiting on some additional memory to arrive to expand my Fedora box now from 8 gigs to 16 gigs

[2019-07-18 20:19] l0rd opened #13915 "Improve che-plugin-registry CI"
### Description

This issue is identical to #13813 but plugin-registry side. Subtasks are:

- [x] Update `devtools-che-plugin-registry-master` CentOS CI job to push rhel images to `quay.io/openshiftio` and centos images to `quay.io/eclipse` (PR: https://github.com/eclipse/che-plugin-registry/pull/184)
- [x] Create a `devtools-che-plugin-registry-nightly` CentOS CI job to build the plugin registry

[2019-07-18 20:22] dmg3 commented on #9823
@mechevarria I'm having the same issue/error message shown here when I try to sync or ssh into a workspace.  Did you ever find a resolution to this issue?  I'm on ubuntu 14.04 LTS and che 6.19.0
The command I run to sync is:
docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v /home/asg/chedata:/data -v /home/asg/chetest:/sync eclipse/che:6.19.0 sync wksp-z0t4

[2019-07-19 01:48] hjbbjh commented on #13844
@skabashnyuk @l0rd  why default-host not work？Users must use our DNS Service in the multi-host mode，i want to avoid it，i want to deploy in default-host mode。

[2019-07-19 03:08] monaka commented on #13874
`/etc/gitconfig` is a placeholder for all users (see [the official book](https://git-scm.com/book/en/v2/Getting-Started-First-Time-Git-Setup)).
This will be a reasonable place since ssh private keys are mounted under `/etc/ssh`.

[2019-07-19 03:31] monaka opened #13916 "[multiuser] Signup with thin scopes for GitHub."
### Is your enhancement related to a problem? Please describe.

Currently, user must accept to give scopes `repo,user,write:public_key` to Che.
IMO, this is too strong (or risky) for entry users who don't use full functions.

### Describe the solution you'd like

The bast is to enable no scope on their signup/login. (`read:user`, `read:email` may be safe.)

And Che asks adding more scope permissio

[2019-07-19 04:53] tolusha commented on #13835
For testing purpose I used osgi-mave-example [1] based on Apache Felix [2]. Despite the fact that dynamic class loading / unloading is not supposed [3] I tried to pack all classes in a single resulted file using ` -H:ReflectionConfigurationFiles` property [4].

Here is the script to prepare Reflection configuration file. It is supposed to be run in `bundle` folder.
<details><summary>Cooking reflec

[2019-07-19 05:19] tolusha commented on #13816
@l0rd
Cool, make sense. I haven't noticed this feature

[2019-07-19 05:41] monaka opened #13917 "[Keycloak] The body of the email-verification was broken."
### Describe the bug

The body of the mail from Keycloak was broken.

### Che version

 - [x] nightly

### Steps to reproduce

0. Registrer your account on Keycloak.
0. Read the confirmation mail from Keycloak.
0. You'll got a broken HTML mail.

### Expected behavior

A valid HTML mail arrival.

### Runtime
   - [x] kubernetes (include output of `kubectl version`)

[code]

### Screenshots

![Scree

[2019-07-19 05:46] monaka commented on #13917
The similar issue to https://github.com/keycloak/keycloak/pull/4988 ?

[2019-07-19 05:47] skabashnyuk commented on #13916
@monaka do you know what kind of auth/authorization is required to call ```PATCH /authorizations/:authorization_id``` ?

[2019-07-19 05:48] tsmaeder commented on #13889
I see this as a maintenance issue. AFAIC, I would welcome less variants of our installer.

[2019-07-19 05:51] skabashnyuk commented on #11620
+0
Maybe it supposes to happen at the same time with https://github.com/eclipse/che/issues/13888

[2019-07-19 05:58] tsmaeder opened #13918 "che-theia/contributing.md does not explain branches"
Contributing.md does no explain how to work with branches, for example, do I have to put my branch into https://github.com/eclipse/che-theia/blob/master/che-theia-init-sources.yml?

[2019-07-19 06:12] tolusha commented on #13816
I am working on workaround and I will prepare a PR soon.

[2019-07-19 06:21] monaka commented on #13916
@skabashnyuk I checked [the official document](You can only access this API via Basic Authentication using your username and password, not tokens.) and ...

Hmm, my approach won't fit to Che.
But I believe there will be the another way because GitPod did.
After I approved more scopes, GitHub send me the mail like this.

![Screenshot 2019-07-19 at 15 19 51](https://user-images.githubusercontent.com

[2019-07-19 06:22] evidolob commented on #13750
It looks like we don't configure express application and don't follow `BackendApplicationContribution` Theia contribution. Theia has [REST service for plugin resources ](https://github.com/theia-ide/theia/blob/1dc36a02855681f0c0cc11916551dddc26ac703f/packages/plugin-ext/src/hosted/node/plugin-reader.ts#L45) but in `theia-remout` we not initialize it.

[2019-07-19 06:42] monaka commented on #13916
I inspected Gitpod in shallow. It looks just calling `https://github.com/login/oauth/authorize` with newly required scopes, `redirect_url`, and some more parameters.

[2019-07-19 07:00] #13392 closed

[2019-07-19 07:03] vitaliy-guliy commented on #13904
This registry was not working from the start and is added only for [demo](https://youtu.be/2_GPZb1_Hew?t=221). It demonstrated a way how we could connect to the vscode marketplace to get a list of available vscode extensions.
I will remove it, it's few lines of code.
Sorry guys for confusing.

[2019-07-19 07:08] RomanNikitenko commented on #13754
The behavior was improved https://github.com/eclipse/che-theia/pull/355: so the existed configs in config file have higher priority than the configurations from devfile. User can add new configurations to config file or edit existed ones - the changes are stored to config file. We have another issue about the sync of configurations form config file with configs from devfile.
So I'm closing the iss

[2019-07-19 07:08] #13754 closed

[2019-07-19 07:15] skabashnyuk commented on #13703
Changing to 8.x since it requires fundamental changes in API because of the notion of the machine is the base of workspace runtime object.  There is no clear way how to make that without the breaking changes.

[2019-07-19 07:29] l0rd commented on #13889
That means that we release the installer for single user on minishift with the kind of problems that you faced on the issue above. Who ever uses an old version of minishift will be impacted.

@tsmaeder the fix is a 2 hours fix and avoids long hours of frustration for a minishift users (you should know the kind of frustration). And that's a temporary solution until we implement the right solution h

[2019-07-19 07:44] mkuznyetsov opened #13919 "Keycloak uses H2 database in Che on Helm Kubernetes deployment"
### Describe the bug
Currently Multiuser Che, deployed via Helm charts, will be using H2 database, and ignore the database configuration provided in the chart (which should make it to use PostgreSQL DB).
We should look into our entrypoint to see the fix for that
https://github.com/eclipse/che/blob/331a63cd06be6df3501118e6150c42e0de85db82/dockerfiles/keycloak/kc_realm_user.sh#L39
### Che version

[2019-07-19 07:49] mkuznyetsov commented on #13919
CC @monaka @l0rd

[2019-07-19 07:51] sleshchenko commented on #13869
@benoitf Thanks for sharing issues you faced and helping me a lot to get my own GCP installation and deploy Eclipse Che there. I faced the same issues and figure out that it caused by `single-host` server strategy (that is the default when --tls is specified during deploying) but not TLS enabled.
More about `single-host` issue see https://github.com/eclipse/che/issues/12971#issuecomment-513128699.

[2019-07-19 07:57] skabashnyuk commented on #13919
@l0rd @slemeur since this issue was already met by Che users and since it's quite hard to migrate h2 to postgresql database afterwise. I think it makes sense to include this task in 7.0 release plan.  wdyt?

[2019-07-19 07:57] sleshchenko commented on #13844
Here is a brief explanation of why `single-host` and `default-host` does not work https://github.com/eclipse/che/issues/12971#issuecomment-513128699
Maybe the errors described in this issue are caused by other issues, but I believe that there is described root cause and possible solutions for it that should be investigated more.

[2019-07-19 07:58] akurinnoy commented on #13912
@rhopp workspace works well if you refresh the page.

I made a mistake - pointed wrong version of Che. I got the bug on nightly version. Description is updated.

[2019-07-19 08:05] sunix commented on #13621
@tsmaeder If you plan to fix that, could to explain what is your plan ?

This is the responsibility of the language server: files are being deleted and it has to kill the running process.

[2019-07-19 08:28] benoitf opened #13920 "[che-operator] missing argument in build_deploy_local.sh"
### Is your enhancement related to a problem? Please describe.
Executing `build_deploy_local.sh` result in errors like namespace `''` not found
it's because this script is expecting a parameter but there is no check on that parameter (if given or not) and there is no default

### Describe the solution you'd like
Report error if parameter is missing or assume a default value
Also if we provide a na

[2019-07-19 08:28] rhopp commented on #13852
That's something that came to my mind after pressing send on my comment. TBH I don't know what would be best... It just doesn't make much sense to me. Let's say I want to start workspace from devfile (I have the URL to the devfile for example). I need to open browser, go to che UI (dahboard), copy token and then go to terminal to use the token. To me it seems much better to create the workspace di

[2019-07-19 08:40] sunix commented on #13620
works will now with `eclipse/che-theia/7.0.0-next`
tested with https://che.openshift.io/f?url=https://gist.githubusercontent.com/sunix/ee40b10e313b847143505d121d81348d/raw/4ee7f796aca539350293e1a8a119299a2d84ad10/devfile.yaml

[2019-07-19 08:40] #13620 closed

[2019-07-19 08:47] skabashnyuk commented on #13529
@tolusha what is your plan on https://github.com/eclipse/che-devfile-registry/pull/32 ?

[2019-07-19 08:48] apupier opened #13921 "Upgrade VS Code Camel plugin in registry to version 0.0.16"
https://marketplace.visualstudio.com/items?itemName=redhat.vscode-apache-camel

the publisher has changed from camel-tooling to redhat, and so the id.

so I guess https://github.com/eclipse/che-plugin-registry/blame/master/README.md#L78-L80 needs to be used

[code]

[2019-07-19 08:52] apupier opened #13922 "Provide VS Code AtlasMap extension in Che plugin registry"
- requires Java in the container, need to use Java 8 as Java 11 is not supported yet https://github.com/atlasmap/atlasmap/issues/1127
- needs to test that the extension is working in Che, specificity which might require specific care: Java, VS Code webview, use of specific plugin folder data, use of specific port 8585, export of adm file

https://marketplace.visualstudio.com/items?itemName=redhat.

[2019-07-19 08:54] sunix commented on #13902
created workspace from dashboard, how does the devfile finally looks like (in `workspaces` section > `<your workspace>` > `Devfile` tab)   looks like ?

[2019-07-19 09:12] slemeur commented on #13667
Let's be consistent with the devfile formalism please.
https://redhat-developer.github.io/devfile/devfile#components

[2019-07-19 09:18] skabashnyuk commented on #13667
@slemeur as I remember yesterday on a meeting with you and @l0rd we decided to use "containerName" . The motivation was a workspace panel that is referencing to containers.

[2019-07-19 09:51] tolusha commented on #13529
@skabashnyuk No

[2019-07-19 09:54] slemeur commented on #13897
Linking to: https://github.com/eclipse/che/issues/13892 as it's a good illustration of why we need automated tests

[2019-07-19 10:11] ashumilova commented on #13902
it's missing, so it's the problem of workspace creation. Theia processes the clonePath well.

[2019-07-19 11:05] akurinnoy opened #13924 "Potential security vulnerabilities in Dashboard and Workspace-loader"
Github alerts for security issues in some of dependencies in Dashboard and Workspace-loader. We need to bump up versions of those dependencies.

Recommendations:

- Upgrade handlebars to version 4.0.14 or later (high severity)
- Upgrade lodash to version 4.17.13 or later (high severity)
- Upgrade angular to version 1.6.0 or later (moderate severity)

[2019-07-19 11:36] tolusha opened #13925 "Dashboard doesn't respect referenceContent attribute"
### Describe the bug
Dashboard removes `referenceContent` attribute of the commands.

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create any workspace
2. Select `Devfile` tab in workspace configuration
3. Try to add a command that contains `referenceContent`
[code]
4. Once workspace is updated `referenceContent` disappears:
[code]

### Exp

[2019-07-19 11:51] tsmaeder commented on #13889
If it's a trivial and safe change I don't object.

[2019-07-19 12:00] tsmaeder commented on #13584
After deploying with '-p operator' and from the latest chectl (as of today), I can open terminals in Chrome. I would, however not close this issue but would propose that we improve feedback to the user when something like this goes wrong. I'm pretty sure some command fails when we lack the role or priviledges. Maybe even a preflight-check page in the Che UI?

[2019-07-19 12:10] l0rd commented on #12971
cc @davidfestal

[2019-07-19 12:11] apupier commented on #13922
- export of adm file is broken:
![image](https://user-images.githubusercontent.com/1105127/61533417-2440fd80-aa2d-11e9-91ae-650dddb23a75.png)
`Refused to display 'http://localhost:8585/#' in a frame because it set 'X-Frame-Options' to 'deny'.`
- ugly "-1%" when starting the server (I guess it is not specific to Atlasmap)
![image](https://user-images.githubusercontent.com/1105127/61533544-7eda5980-

[2019-07-19 12:11] benoitf commented on #12971
it's every resources

you can ask `/w/h/a/t/e/v/e/r` it will redirect to `/`

`cdn.js` is listed just because it's the first resource loaded

[2019-07-19 12:13] nickboldt commented on #13889
If there's time for this to be done for 7.0, sure. But since minishift is now updated to 1.34.1 with the fixes we requested last month, and since we're in code freeze for 7.0, there should really be no more urgent fixes for the minishift che add on at this point. So... I guess what I'm saying is this COULD be a 7.0.0 milestone target, but I'd mark it P3 behind more urgent stuff.

[2019-07-19 12:15] slemeur opened #13926 "Importing spring/pet-clinic in the default java-maven stack does not behave properly"
### Describe the bug
Importing spring/pet-clinic in the default java-maven stack does not behave properly
It is not possible to build the project properly, it is not possible to run the project.

The error reported is:
[code]

### Che version

 - [x] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create a workspace from the java-maven stack
2. Open a terminal and do

[2019-07-19 12:17] apupier commented on #13922
several of these issues are nto specific to Che but can be reproduced in Theia https://github.com/theia-ide/theia/issues/5007

[2019-07-19 12:21] benoitf commented on #13889
issue is there if ppl are still using their previous versions of minishift.

[2019-07-19 12:29] skabashnyuk commented on #13459
marked as 7.1.0 since it's not critical for GA

[2019-07-19 12:30] l0rd commented on #13739
That's similar to https://github.com/eclipse/che/issues/13427

Should we consider that for 7.0.0? @tsmaeder @slemeur @rhopp @nickboldt

[2019-07-19 12:31] l0rd commented on #13919
@skabashnyuk +1

[2019-07-19 12:33] sparkoo commented on #13529
status update (@l0rd @skabashnyuk):
### ASP.NET
PR open https://github.com/eclipse/che-devfile-registry/pull/32. However, there is issue with Omnisharp plugin (https://github.com/eclipse/che/issues/13739) and without this fix, I vote to not include the ASP.NET sample to 7.0.0. This issue also affects C#.NET sample!
I would suggest to include #13739 into 7.0.0 and then merge ASP.NET XOR remove C#.N

[2019-07-19 12:35] sparkoo commented on #13823
@tolusha I've just tried with `eclipse/che-theia/7.0.0-next` and the issue is still there. Could you please take a look?

[2019-07-19 12:39] l0rd commented on #13703
@skabashnyuk that means not working on it since 8.x will eventually be Workspace CRD based.

[2019-07-19 13:04] sparkoo opened #13927 "helm charts - ingress.class could be extracted to variable (refactoring)"
### Is your task related to a problem? Please describe.
`nginx` is used repeatedly as a value for `ingress.class` in helm. This could be extracted to variable.
examples:
https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/custom-charts/che-jaeger/templates/ingress.yaml#L18
https://github.com/eclipse/che/blob/master/deploy/kubernetes/helm/che/custom-charts/che-keycloak/templates/i

[2019-07-19 13:05] vitaliy-guliy opened #13928 "Network issues on minishift"
### Describe the bug

I have problems with Che running on minishift.
The first one is that Che Plugins panel become not working again. I played with it a lot. It looks like Theia cannot read a plugin list from the plugin registry by some reasons.
Then I tried to build Theia in dev container from souces.
Yarn command failed with an error explaining me that the error is related to network connectivi

[2019-07-19 13:06] vitaliy-guliy commented on #13881
Link with https://github.com/eclipse/che/issues/13928

[2019-07-19 13:18] rhopp commented on #13909
+1 for removing "workspace" references from Theia.

[2019-07-19 13:22] rhopp commented on #13911
Is this about https://oclif.io/docs/releasing.html#autoupdater? This does seem like nice feature, but I would vote for postponing this post GA.

[2019-07-19 13:25] rhopp commented on #13912
Even the workaround is pretty simple (F5), this looks like a nasty bug. I would vote for fixing this in GA.

[2019-07-19 13:29] rhopp commented on #13913
Do we really need multiple versions of plugins? If those plugins provide different functionality, we could separate them (as it is right now with java... we have plugins for different versions of java for example).
WDYT about this issue @slemeur @l0rd ?

[2019-07-19 13:32] benoitf commented on #13911
yes it is (in fact the assemblies are there since one month) and update site as well

[2019-07-19 13:36] rhopp commented on #13916
@skabashnyuk Do you think we should trigger something like this for GA? To me it seems like nice enhancement, but I'm not sure we add another enhancement into GA.
Maring this one as sev2 & Che 7.1 milestone for now.

[2019-07-19 13:42] skabashnyuk commented on #13916
No, because we need to figure out if that possible at all. I mean manipulation of token scopes on Kyecloak side.

[2019-07-19 14:07] #13866 closed

[2019-07-19 14:21] rhopp commented on #13917
@monaka Do you think this bug is important enought to be prioritized into Che 7 GA release?
cc @slemeur

[2019-07-19 14:22] rhopp commented on #13918
Agree having dev process not documented properly is big bummer, but this is not blocking Che 7 GA release.

[2019-07-19 14:24] rhopp commented on #13920
As this is about local dev script and it shouldn't affect Che7, I'm setting milestone 7.1.

[2019-07-19 14:27] rhopp commented on #13921
@apupier Is there any functionality change? Will the original plugin (published by camel-tooling) disappear? I'm trying to understand if we need change before Che 7 GA or not.

[2019-07-19 14:29] rhopp commented on #13922
I would vote for not including this issue in Che 7 GA, as we are pretty close to release and this seems to have lot of problems. Setting 7.1 milestone.

[2019-07-19 14:45] artaleks9 opened #13929 "Create Jenkins job to automate installation Che by using OperatorHub UI on OCP 4.x"
### Description
_Create the Jenkins job to automate and checking installation Eclipse Che by using the OperatorHub UI on OCP 4.x_

The related known iisue: https://github.com/eclipse/che/issues/13878
The related job: https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/Eclipse-Che7-install-by-operatorhub/

**Environment of install Che:** OCP 4.x | by OperatorHub UI

[2019-07-19 14:46] rhopp commented on #13910
Triaging the issue the same as it's parent issue. If you think this issue should be triaged for Che 7 GA, speak up ;-)

[2019-07-19 14:46] rhopp commented on #13908
Triaging the issue the same as it's parent issue. If you think this issue should be triaged for Che 7 GA, speak up ;-)

[2019-07-19 14:46] rhopp commented on #13907
Triaging the issue the same as it's parent issue. If you think this issue should be triaged for Che 7 GA, speak up ;-)

[2019-07-19 14:55] benoitf opened #13930 "[operator] Provide checluster template with default values"
### Is your enhancement related to a problem? Please describe.
If you go on https://operatorhub.io/operator/eclipse-che and click on `Yaml Example` there is a small subset of what can be changed but for example you may have no idea about what the default images are
For example there is

```identityProviderImage: ''```
but you don't know what will be used so it will be nice if it's in the default v

[2019-07-19 14:58] benoitf opened #13931 "[operator] nightly version of che-operator should use nightly for other components as default"
### Is your enhancement related to a problem? Please describe.
When using `eclipse/che-operator:nightly` image, it's deploying che by using right now eclipse/che-server 7.0.0-RC2.0

### Describe the solution you'd like
I would say that using `che-operator:7.0.0-RC2.0` deploys as default che 7.0.0-RC2.0 but `eclipse/che-operator:nightly` should deploy `che-server`, `che-keycloak`, `che-postgres`, `

[2019-07-19 15:01] rhopp commented on #13926
@tsmaeder Could your team take a look on this for initial investigation/estimation/triage?

[2019-07-19 15:07] rhopp commented on #13928
I cannot reproduce this with minishift v1.34.1+c2ff9cb and Che-Theia@4ef1d89 using Theia@4ef1d89.
Could you share the devfile you are using for your workspace?

[2019-07-19 15:09] rhopp commented on #13929
How does this differ form https://github.com/eclipse/che/issues/13878?

[2019-07-19 15:15] benoitf commented on #13909
I think at F2F it was discussed that for example `close workspace` should be `stop workspace` instead

[2019-07-19 15:23] benoitf opened #13932 "[operator] update instructions on how to install Eclipse Che on kubernetes by reading operatorhub.io website"
### Is your enhancement related to a problem? Please describe.
It's quite hard now to install Eclipse Che on top of Kubernetes by looking at https://operatorhub.io/operator/eclipse-che

For example it talks about a "Create New" button which is only in Openshift view of operatorhub, etc

### Describe the solution you'd like
Refresh the instructions displayed to the user for kubernetes

### Describe

[2019-07-19 15:26] benoitf opened #13933 "[chectl] update contributing guide for instructions about conventional commits"
### Is your task related to a problem? Please describe.
[Conventional commits](https://www.conventionalcommits.org/) are used in chectl and there is a PR check but there is no clear documentation in README

### Describe the solution you'd like
Provides documentation about Conventional Commits in
- [x] README
- [x] Pull Request template

### Describe alternatives you've considered

### Additional c

[2019-07-19 15:35] benoitf opened #13934 "[operator] remove workspaces when che cluster is removed"
### Is your enhancement related to a problem? Please describe.
When a che cluster is removed, the workspace pods are still running.

[code]

### Describe the solution you'd like
I would expect that pods of this `checluster` are also removed
but workspace pods are still there. postgres, keycloak and che containers have been removed
[code]

### Describe alternatives you've considered

### Additional

[2019-07-19 15:46] benoitf opened #13935 "[operator] tls support on kubernetes / ACME"
### Is your enhancement related to a problem? Please describe.
`k8s.tlsSecretName` is a flag to provide a TLS Secret but if for example I specify a ACME secret

[code]

and I have [cert-manager](https://github.com/jetstack/cert-manager) installed there is no automatic creation of certificates.

### Describe the solution you'd like
Usage of let's encrypt wildcard certificates so it's automatically

[2019-07-19 16:06] benoitf commented on #13881
[code]

Hello, in fact in this case it didn't used helm but minishift addon.

We need to probably display the installer/platform used in traces

[2019-07-19 16:44] amisevsk opened #13936 "Devfiles in registry should not hard-code project name (when appropriate)"
### Is your task related to a problem? Please describe.
All of the currently deployed devfiles in the registry hard-code their project's path, e.g.
[code]
This means that if a user adds any project to their workspace, the commands do not work (see #13594)

### Describe the solution you'd like
Commands should be improved (where it is applicable) to use `${current.project.path}`

For some devfiles t

[2019-07-19 16:44] amisevsk commented on #13594
@slemeur Aside from #13636, can we confirm that this issue is still actual?

Checking the current `eclipse-che/nightly-centos` image with https://che-devfile-registry.prod-preview.openshift.io/ as the devfile registry gives a functional Python workspace (with the `python-hello-world` project). The other project (console-python) appears to not be available in the default UI.

As it stands, I've cre

[2019-07-19 18:42] amisevsk commented on #13837
Closing as nightly images are available (there are still a few devfiles that need testing and updating)

[2019-07-19 18:42] #13837 closed

[2019-07-19 18:43] amisevsk commented on #13813
Closing as I believe all components are complete. Please reopen if necessary.

[2019-07-19 18:43] #13813 closed

[2019-07-19 19:35] dmg3 opened #13937 "Che sync failing with fatal error"
## Summary
The Che sync command is failing with message "Fatal error occurred".  The last thing it says before the failure is "read: Connection reset by peer"
## Relevant information
I'm running Ubuntu 14.04 LTS on Virtual box
Che 6.19.0
Docker version 18.06.1-ce, build e68fc7a
The workspace I'm using is the Java default stack with SSH installer enabled

Che server start command:
`docker run -it -

[2019-07-19 20:09] gorkem commented on #13694
@ashumilova shouldn't logout clear all the LocalStorage?

[2019-07-20 01:17] tolusha commented on #13823
@sparkoo
I confused you. It is needed to check with the latest image for sidecar container which is `eclipse/che-remote-plugin-go-1.10.7` [1]

[1] https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/ms-vscode/go/latest/meta.yaml#L15

I've just checked and permissions are set correctly. Could you confirm pls?

[2019-07-20 01:47] amisevsk opened #13938 "Java-MySQL devfile built app does not work"
### Describe the bug
The current `java-mysql` devfile and sample project build and run successfully, but on attempting to do any database operations in the app, an exception is thrown:
[code]

### Che version

 - [ ] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce

1. Create workspace: `[che-url]/#/load-factory?url=https://raw.githubusercontent.com/eclipse/che-devfile-re

[2019-07-20 04:58] monaka commented on #13917
The viewpoint of functionality, this is not critical. Users who want to registration can click the link (or at least can copy/paste it to their web browser).

IMO, it's not blocker and just better to apply if someone could make patches before Che 7 GA release.

[2019-07-20 05:06] monaka commented on #13916
I agree. It's enough to be realized on 7.1.0 or later.

[2019-07-20 05:26] monaka commented on #13919
For new users, this issue will be fixed by the part of PR #11761 (un-merged).
(I didn't notice as I applied #11761 equivalent to my environment and am running Che with Postgres)

And as @skabashnyuk said, the migration way will be required by current users.

[2019-07-20 05:36] monaka commented on #13919
I added the patch from #11761 into PR #13791.

[2019-07-20 17:01] gorkem commented on #13566
@l0rd @slemeur Can you please prioritize this.

[2019-07-20 17:12] gorkem opened #13939 "Replace devfile editor with monaco and YAML LSP"
When editing a devfile on the dashboard there is not content assist.
### Describe the solution you'd like
Use the monaco editor with embedded YAML LSP instead of current editor and provide the JSON Schema for devfiles to provide content assist. See [this example](https://github.com/gorkem/yaml-server-browser-example).

/cc @JPinkney

[2019-07-20 20:27] amisevsk commented on #13566
FWIW I think @jpinkney has already put a bit of work into this on the side.

[2019-07-20 22:44] JPinkney commented on #13566
Yeah, I've got it to the point where it only needs a day or two of work to finish before making a PR

[2019-07-21 14:53] skabashnyuk opened #13940 "Chectl add new platform - CodeReady Containers"
### Is your enhancement related to a problem? Please describe.
I want to use ```chectl``` with CodeReady Containers to run Che on OpenShift 4.x locally

### Describe the solution you'd like
value  ```crc``` for ```platform``` paramter.

### Describe alternatives you've considered
[code]
### Additional context
[code]

[2019-07-21 17:09] RomanNikitenko commented on #13741
Tasks provided by remote plugins are executed in theia-ide container. I expect that they should be executed in a plugin container.

[2019-07-21 20:05] benoitf opened #13941 "[helm] deployment url of che"
### Is your enhancement related to a problem? Please describe.
When I deploy che using helm, it's using multi-host server strategy, but at the end I have URL with
`https://che-che.my-domain.com`

### Describe the solution you'd like
I would expect to have che deployed by default without this double `che-che` but more like
`https://che.my-domain.com`

### Describe alternatives you've considered

##

[2019-07-22 00:53] tolusha commented on #13599
@rhopp
I've started experiencing this issue on minikube too.

[2019-07-22 02:58] JPinkney commented on #13566
I've just opened a PR for this. Here's a quick demo: https://www.youtube.com/watch?v=WkrbTsrjuBk

[2019-07-22 05:58] benoitf commented on #13940
@skabashnyuk do you have given the parameter `--domain=yourdomain.com` for openshift installation as specified in the error ?

[2019-07-22 06:14] skabashnyuk commented on #13940
@benoitf no. I expect that it will ask me the same things as it asking for minishift. Do you think it should be different?

[2019-07-22 06:19] benoitf commented on #13940
@skabashnyuk yes on minishift there is `$ minishift ip` command but on OpenShift instances there is no such tool/command.

`minikube` and `minikube` have these kind of helpers that `oc` or `kubectl` haven't

[2019-07-22 06:24] skabashnyuk commented on #13940
Ok. So what should I put in ```--domain=yourdomain.com``` parameter?

[2019-07-22 06:29] benoitf commented on #13940
@skabashnyuk it depends on kubernetes/openshift installation. It's how you can reach it

here an extract of the remote che doc:
[code]

[2019-07-22 06:37] skabashnyuk commented on #13940
@benoitf `crc` has the same ```ip``` commands as `minishift` have.

[code]
WDYT can we reuse it to not to ask user additional questions and provide better UX?

[2019-07-22 06:38] rhopp commented on #13909
@benoitf Couldn't we do this in two steps? For GA, just remove these entries and for some future release bring them back with reimplemented functionality?

[2019-07-22 06:48] tsmaeder commented on #13909
I'm doing this as part of changing to using projects workspace roots. See my message to che-dev 2 weeks ago. Propose to close this as a duplicate.

[2019-07-22 06:51] sparkoo commented on #13823
@tolusha ok, how could I test it?

[2019-07-22 06:52] tsmaeder commented on #13925
What is "referenceContent" used for?

[2019-07-22 06:57] evidolob commented on #13584
I agree with @tsmaeder about check, but it sounds like improvement and not fit to this blocker issue.
So @tsmaeder could you create separate issue for terminal availability check?

[2019-07-22 06:59] tolusha commented on #13823
1. Stop `go` workspace
2 `minishift ssh`
3 `docker pull docker.io/eclipse/che-remote-plugin-go-1.10.7:7.0.0-next`
4. Start `go` workspace

[2019-07-22 07:01] tolusha commented on #13925
It allows to specify launch configuration
https://www.eclipse.org/che/docs/che-7/using-developer-environments-workspaces.html#editor-specific-commands

[2019-07-22 07:11] tsmaeder commented on #13816
The issue is still there, even if we have a workaound.

[2019-07-22 07:11] tsmaeder commented on #13816
Retargeting to 7.1.0

[2019-07-22 07:15] ashumilova commented on #13694
It's whether not storing token in local storage(trying session storage), that is shared between user sessions, or adding additional data to differ user tokens. Not sure logout could be tracked in all use cases (expiration for example).

[2019-07-22 07:24] benoitf commented on #13940
yes, I was only saying that you can use for now `openshift`as workaround for now and then provides 192.168.64.16.nip.io with `domain` flag.

[2019-07-22 07:30] artaleks9 commented on #13929
The https://github.com/eclipse/che/issues/13878 is  about e2e test which covers the installation Eclipse Che from OperatorHub UI on OCP 4.x.. And this issue about the job on Jenkins which performs and checks this and includes this e2e test as part of process.

[2019-07-22 07:44] skabashnyuk commented on #13940
will try.

[2019-07-22 07:50] vitaliy-guliy commented on #13928
@rhopp it's in the description

[2019-07-22 07:51] benoitf commented on #13940
@skabashnyuk BTW AFAIK `crc` is only available within Red Hat (the system bundle is not yet public)

[2019-07-22 07:52] skabashnyuk commented on #13940
That is temporary I guess.

[2019-07-22 07:53] vitaliy-guliy commented on #13881
The same error for minikube

![Screenshot from 2019-07-22 09-51-44](https://user-images.githubusercontent.com/1655894/61615505-77ea5b80-ac66-11e9-8fec-8ae472a15e36.png)

[2019-07-22 08:06] l0rd commented on #13816
@tolusha @tsmaeder can one of you describe the workaround here to help those that have the same issue?

[2019-07-22 08:08] benoitf commented on #13881
@vitaliy-guliy what is the `chectl` binary version that you're using ?

[2019-07-22 08:08] benoitf commented on #13881
@vitaliy-guliy could you download the latest ?

[2019-07-22 08:10] vitaliy-guliy commented on #13881
At friday I tested it on the latest `clectl`.

[2019-07-22 08:22] aditya-konarde commented on #13270
/cc @skryzhny can you please provide some feedback on the metrics and provide suggestions here?

Beyond the classic USE and RED metrics, we can look at some application specific metrics other than the current ones that either:
- Provide business insights to someone running Eclipse Che (number of workspaces, number of users, number of signups)
- Provide feedback into development (Workspace start ti

[2019-07-22 08:27] l0rd commented on #13566
This is a big improvement for the UX. I am only worried about regressions but if @ashumilova and @rhopp are ok +1 to add it to 7.0.0.

And this issue is similar to https://github.com/eclipse/che/issues/13913

[2019-07-22 08:46] RomanNikitenko opened #13944 "A project defined in devfile is not cloned"
### Describe the bug
The bug is relevant to master branch assembly:
- theia version: https://github.com/theia-ide/theia/commit/3587c23
- che-theia version: https://github.com/eclipse/che-theia/commit/582b1c5

I start workspace from devfile and define in the devfile:
[code]
But the project is not present when workspace is started

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.0.0-rc

[2019-07-22 08:48] l0rd commented on #13918
@evidolob @benoitf @sunix it looks like that, to do a build of che-theia PR check we need to:

1. checkout the branch locally
2. change the value of `checkoutTo` with the name of the PR branch
3. commit the change in 2 and push it to the remote repo

This looks weird? Do you confirm?

[2019-07-22 08:55] benoitf commented on #13918
@l0rd there is a pending PR https://github.com/ws-skeleton/che-theia-generator/pull/26

[2019-07-22 08:56] benoitf commented on #13918
and related issue is https://github.com/eclipse/che/issues/13738

[2019-07-22 08:59] vinokurig commented on #13944
The SSH plugin doesn't work as well, I can see the **ERROR**:
[code]
Probably the bug is caused by the latest changes in theia upstream

[2019-07-22 09:26] vitaliy-guliy commented on #13904
Fixed

[2019-07-22 09:26] #13904 closed

[2019-07-22 09:31] vitaliy-guliy commented on #13912
I have the same issue in Che on minikube

![Screenshot from 2019-07-22 11-27-20](https://user-images.githubusercontent.com/1655894/61621784-dbc75100-ac73-11e9-9944-3d6ec8e9d05d.png)

It looks something has changed on the backend. Now before refreshing the page plugin manager should wait a bit until workspace has been stopped completely.

Devfile I am using to create a workspace

[code]

[2019-07-22 09:47] vinokurig commented on #13857
Was fixed by https://github.com/eclipse/che-theia/pull/352 and https://github.com/eclipse/che-theia/pull/360

[2019-07-22 09:47] #13857 closed

[2019-07-22 09:48] vitaliy-guliy commented on #13912
Sometimes I get 404
![Screenshot from 2019-07-22 11-47-27](https://user-images.githubusercontent.com/1655894/61623269-95272600-ac76-11e9-8440-ea050687972c.png)

[2019-07-22 09:57] AndrienkoAleksandr commented on #9752
I faced with this issue too.

[2019-07-22 10:03] #10588 closed

[2019-07-22 10:18] l0rd opened #13945 "Add previewURL support in Devfile format"
### Is your enhancement related to a problem? Please describe.

Extend current devfile spec to be allow users to specify a previewURL for a given command

### Describe the solution you'd like

[code]
## Implementation
 - [x] MVP as beta feature. Server side implementation https://github.com/eclipse/che/issues/14893
 - [x] Validate devfile with schema with matching apiVersion  https://github.com/ec

[2019-07-22 10:59] svor commented on #13599
I've tested python-django on minishift and everything works fine on my side

[2019-07-22 11:16] ibuziuk commented on #13454
@amisevsk is there some issue with patching  'alpine' based community images or it is just not yet done?

[2019-07-22 11:21] mmorhun commented on #13578
@svor thank you. Indeed, when I've added memory to the container both extensions are working.

[2019-07-22 11:22] sleshchenko commented on #13869
I got success in deploying Che (both Single-user and Multi-user) on Kubernetes cluster powered by GCP (Google Cloud Platform). Here are the summarized issues I faced:
1. Without modification of Helm Chart user gets issues related to `single-host` strategy that is configured by default in helm chart with tls enabled.
2. If helm chart is updated with `multi-host` server strategy, then the user gets

[2019-07-22 11:22] svor commented on #13926
The problem is that `[maven-wrapper](https://github.com/takari/maven-wrapper)` which provides executed `mvnw` and [maven docker image](https://hub.docker.com/_/maven/)  use the same name of environment variable **MAVEN_CONFIG**. This variable is set in [devfile](https://github.com/eclipse/che-devfile-registry/blob/15bd742c4dcadbcd59f323fbd2d62eaf8832655d/devfiles/java-maven/devfile.yaml#L22) with

[2019-07-22 11:23] mmorhun commented on #13578
The problem was in memory configuration, so we may close this one.

[2019-07-22 11:23] #13578 closed

[2019-07-22 11:29] l0rd commented on #13926
@svor it was necessary when we were not patching the images. It may be useless now but we need to check.

[2019-07-22 11:46] tsmaeder commented on #13926
@svor what do you mean "they use the same environment variable"? Are you saying that the mvnw script is picking up the value from the env var or that it is overriding the variable? In what way is this causing the build to fail?

[2019-07-22 11:53] #13915 closed

[2019-07-22 12:06] svor commented on #13926
@tsmaeder mvnw is picking up the value:
[code]
And the value which was set in devfile `/home/user/.m2` isn't valid for this executable command

[2019-07-22 12:07] svor commented on #13926
Here is the similar problem: https://github.com/takari/maven-wrapper/issues/128

[2019-07-22 12:11] mshaposhnik commented on #13870
CI job is set, image is built and seems to be working OK now.

[2019-07-22 12:11] #13870 closed

[2019-07-22 12:17] l0rd commented on #13909
@tsmaeder duplicate of #13427 ?

[2019-07-22 12:19] #13703 closed

[2019-07-22 12:23] vitaliy-guliy commented on #13881
I checked twice using the latest `chectl`.

![Screenshot from 2019-07-22 14-09-40](https://user-images.githubusercontent.com/1655894/61631998-1806ab80-ac8c-11e9-8818-2a44e839db57.png)

[2019-07-22 12:32] #13902 closed

[2019-07-22 12:34] l0rd commented on #13936
@amisevsk note that we agreed with @ashumilova that if a user select a different project the commands should be dropped as well.

In other words, even if we do not hardcode the project path, there are good chances that the sample commands don't work for arbitrary users projects.

And the annoying issue with the macro `${current.project.path}` is that it works only if the user select the project in

[2019-07-22 12:47] tsmaeder commented on #13926
Seems to be well known issue: https://issues.jenkins-ci.org/browse/JENKINS-47890

[2019-07-22 13:08] amisevsk commented on #13926
@svor is correct on the underlying issue; the problem is that the Spring sample project we use is *incompatible* with e.g. the community maven image (which has `MAVEN_CONFIG` set whether or not we set it outselves (`$MAVEN_CONFIG=/root.m2`)

Should be fixed in https://github.com/eclipse/che-devfile-registry/pull/42, which moves away from using `mvn-wrapper` in default commands. This PR also moves

[2019-07-22 13:11] ibuziuk opened #13949 "Add a chectl server:start flag to specify if using external registries"
### Describe the solution you'd like

Currently a user cannot specify external registries when starting Che using chectl. This issue is to address that.

Related to `Che registries (plugin+devfile) should be part of Che deployment` #13557

[2019-07-22 13:12] benoitf commented on #13949
https://github.com/che-incubator/chectl/pull/228 ?

[2019-07-22 13:12] olexii4 opened #13950 "CHE 7 workspaces are disappeared after filtering"
### Describe the bug

There is an empty workspace list after any trying with CHE 7 workspace filtering.
### Che version

7.0.0-rc-4.0-SNAPSHOT

### Steps to reproduce
1. Create several CHE7  workspaces.
2. Open " workspaces"
3. Try "search"

https://youtu.be/fERyEEk5dD8

### Screenshots

![Screenshot from 2019-07-22 16-01-58](https://user-images.githubusercontent.com/6310786/61634837-e6491100-ac9a

[2019-07-22 13:15] amisevsk commented on #13454
@ibuziuk There is, but sadly the discussion is split over 4-5 PRs/issues.

The alpine image does not ship with `bash` installed, so the current patch *breaks* the image (sets default login shell for `user` to `/bin/bash`. The three options for fixing this are
- Treat the angular devfile as a special case in patching (use `/bin/sh` instead of `bash`)
- Switch the angular devfile to use the debian-b

[2019-07-22 13:19] ibuziuk opened #13951 "Need to setup CI for che operator nightly builds"
Nightly and release images should be pushed to quay  https://quay.io/repository/eclipse/che-operator via the centos ci nightly template - https://github.com/openshiftio/openshiftio-cico-jobs/blob/master/devtools-ci-index.yaml#L2113-L21

Related to https://github.com/eclipse/che/issues/13780

[2019-07-22 13:21] ibuziuk commented on #13780
@dneary I believe we can close this one and have a CI for che-operator as part of the separate issue https://github.com/eclipse/che/issues/13951

[2019-07-22 13:29] skabashnyuk opened #13952 "Tutorial: How to setup multiuser Eclipse Che with TLS enabled on GCP running on K8s"
### Is your task related to a problem? Please describe.
Follow up of https://github.com/eclipse/che/issues/13869#issuecomment-513751078 (comment)
It would be nice to write a tutorial ( similar to this https://www.digitalocean.com/community/tutorials/how-to-install-wordpress-with-lemp-nginx-mariadb-and-php-on-debian-10
for example) that describes how to set up multiuser Eclipse Che with TLS enabled

[2019-07-22 13:31] ibuziuk opened #13953 "Need to release registries (devfile + plugin) automatically via dedicated centos ci job"
The idea is to have a dedicated release branch in registries (devfile + plugin)  and setup CI so that after pushing to this branch image with the correct tag e.g. `7.0.0-rc-4.0` would be pushed to the dedicated repository of the https://quay.io/organization/eclipse

The release branch could contain a  `VERSION` / `RELEASE` file which would contain a dedicated version of the registry which would be

[2019-07-22 13:31] davidfestal commented on #13780
@ibuziuk sure.

[2019-07-22 13:32] skabashnyuk opened #13954 "Tutorial: How to setup multiuser Eclipse Che with TLS enabled on AWS running on K8s"
### Is your task related to a problem? Please describe.

It would be nice to write a tutorial ( similar to this https://www.digitalocean.com/community/tutorials/how-to-install-wordpress-with-lemp-nginx-mariadb-and-php-on-debian-10
for example) that describes how to set up multiuser Eclipse Che with TLS enabled on AWS running on K8s

### Additional context
https://github.com/eclipse/che/issues/1395

[2019-07-22 13:33] slemeur commented on #13881
have you tried to cleanup before. like `chectl server:delete` ?

[2019-07-22 13:40] benoitf commented on #13952
isn't it the goal of https://docs.google.com/document/d/1BAnjIZgBLjkUu_7RG9EgSDMQ1MbzWRbC0yVqfU18IcM/edit ?

[2019-07-22 13:44] Ohrimenko1988 opened #13955 "Fix possible future problem with language server initialization check"
### Is your enhancement related to a problem? Please describe.

Changes which was applied with PR https://github.com/eclipse/che/pull/13851 may lead to possible problems in the future. For example, if language server has not been initialized the ```        await ide.waitStatusBarTextAbsence('Starting Java Language Server', 360000);	``` will be passed and the test will be failed in another place.

[2019-07-22 13:44] benoitf commented on #13954
https://docs.google.com/document/d/1BAnjIZgBLjkUu_7RG9EgSDMQ1MbzWRbC0yVqfU18IcM/edit#heading=h.6kx51b7l0tjm ?

[2019-07-22 13:47] RomanNikitenko opened #13956 "The My Workspace actions works incorrectly"
### Describe the bug
The bug is relevant to master branch assembly:
- theia version: https://github.com/theia-ide/theia/commit/3587c23
- che-theia version: https://github.com/eclipse/che-theia/commit/582b1c5

The `My Workspace` panel actions works incorrectly
Please see the video: https://youtu.be/14PZ3ARjZBc

### Che version

 - [ ] latest
 - [ ] nightly
 - [x] other: 7.0.0-rc-4.0-SNAPSHOT

### S

[2019-07-22 13:54] skabashnyuk commented on #13952
@benoitf good question. I don't know.

[2019-07-22 13:54] olexii4 opened #13958 "All UD searches are using only one column for filtering"
### Is your enhancement related to a problem? Please describe.

All UD searches are using only one column for filtering. It is not obvious for the user.
[code]

### Describe the solution you'd like

It will be more comfortable to have several important or all columns for filtering.

[2019-07-22 13:54] vitaliy-guliy commented on #13881
@slemeur yes. I deleted the whole machine.
[code]

[2019-07-22 13:55] #13954 closed

[2019-07-22 13:55] vinokurig opened #13959 "Sync changes to local git config with user Che git config"
### Describe the bug

Git commit command requires committer name and email in the git config. Each time when the workspace restarts, git  commit asks for committer name and email, even if it was set before restart.
### Che version

 - [x] latest
 - [x] nightly
 - [ ] other: please specify

### Steps to reproduce
1. Set Git committer name and email:
[code]
2. Perform git commit from terminal or fro

[2019-07-22 14:04] tsmaeder commented on #13926
@amisevsk I was under the impression that setting MAVEN_CONFIG is a workaround for not having a proper home directory. But as I understand it, we patch the image to have a home dir. Why not just remove the MAVEN_CONFIG declaration?

[2019-07-22 14:17] l0rd commented on #13594
Closing it because we are not using `sample.json` anymore and this issue should be solved now.

[2019-07-22 14:17] #13594 closed

[2019-07-22 14:22] #13780 closed

[2019-07-22 15:09] nickboldt commented on #13739
I'd say this is OK for 7.1 or later as long as it's fixed by Sept 25.

[2019-07-22 15:09] ibuziuk commented on #13953
@l0rd I have not added processing of the `latest` tag as part of this issue since currently, it is not clear what exactly the `latest` is. Basically, if we have `7.1.0` and bug fix `7.0.1` which one should be treated as latest? (I suppose we could technically tag only major releases as `latest` while bug-fix releases would be only version tagged).

[2019-07-22 15:15] skabashnyuk commented on #13928
can't reproduce with ```minishift v1.33.0+ba29431``` driver ```hyperkit```  and ```chectl/0.0.2-3f36ffa darwin-x64 node-v10.4.1```

[2019-07-22 15:17] mmorhun commented on #13734
I think it is still actual. For example, sometimes I want to disable ports plugin to avoid notification for known servers. But I cannot do it as for now.

[2019-07-22 15:32] ibuziuk opened #13960 "Need to make sure that `arbitrary-users-patch` images work on OpenShift v4"
We have to do `arbitrary-users-patch` [1] of the community images been supported on OpenShift. During the discussion on https://github.com/openshift/origin/issues/23369 it appeared to be that `CRI-O now has support for adding the entry of the user to the /etc/password if it does not exists in /etc/passwd.` Assuming that CRI-O is the default contianer engine for OpenShift v4 we need to verify that

[2019-07-22 15:34] amisevsk commented on #13926
@tsmaeder Because the way the community maven image is set up is to use `MAVEN_CONFIG`, with a default to `/root/.m2` [1]. I'll try again, as perhaps in our overriding of the entrypoint this is avoided, but from what I've seen it is necessary.

[1] - https://github.com/carlossg/docker-maven#packaging-a-local-repository-with-the-image

[2019-07-22 16:28] dneary commented on #13855
Thanks @benoitf - the template may have been new, I did not see it.

[2019-07-22 16:28] ibuziuk commented on #13454
@l0rd are you, in general, ok to switch the alpine images to debian in the devfile registry for Che 7 GA and do the arbitary user patch the same way as it is currently done for all the other images?

[2019-07-22 16:52] l0rd commented on #13937
@benoitf any idea of what's going wrong here? @dmg3 is using v6.19 and the CLI should still be working there right?

@dmg3 we are releasing a new version of Che and dropping the CLI and Docker support. We may implement something similar to che sync in the future but I am afraid we are not going to fix `che sync` for version 6.19.

[2019-07-22 17:25] amisevsk commented on #13454
@ibuziuk, speaking of split discussion: https://github.com/eclipse/che-devfile-registry/pull/38#issuecomment-513729389

I'll open a PR to use a more convenient base image.

[2019-07-22 17:30] nickboldt commented on #13714
We've seen this in downstream CRW 1.2 too. And it's not just the identity provider (Keycloak/SSO) image but also the postgres db that remains on the image:tag of the initial deployment.

WORKAROUND is to patch the deployment, as we do here:

https://github.com/redhat-developer/codeready-workspaces-deprecated/blob/6.19.x/operator-installer/migrate_1.1_to_1.2.sh#L280-L306

But a better solution woul

[2019-07-22 17:31] l0rd commented on #13944
@RomanNikitenko this is not Che 7 issue but related to che-theia:next I am correct?

[2019-07-22 17:47] l0rd commented on #13941
@skabashnyuk why is that P1? What are the impact for users? And is that related somehow with https://github.com/eclipse/che/pull/13946?

[2019-07-22 17:52] l0rd commented on #13952
@benoitf @skabashnyuk if you don't mind I would close this issue as duplicate since we have already the item in the endgame (doc section).

[2019-07-22 17:55] gorkem commented on #10720
Seems to be fixed

[2019-07-22 17:55] #10720 closed

[2019-07-22 17:58] dmg3 commented on #13937
Ok, makes sense, thanks for the info!

[2019-07-22 18:00] l0rd commented on #13953
I would say that in your example latest is `7.1.0`. But a patch release may be `latest` as well. For instance if we release a `7.1.1` (before releasing `7.2.0`) we should tag it as latest.

Anyway since this looks like a complicated problem I would take care of it in a second step after Che 7 GA: we can add the tag manually for the time being.

[2019-07-22 18:00] skabashnyuk commented on #13952
Ok

пн, 22 лип. 2019, 19:52 користувач Mario Loriedo <notifications@github.com>
пише:

[2019-07-22 18:07] l0rd commented on #13956
@RomanNikitenko that's related to theia:next, not Che 7 right?

[2019-07-22 18:14] l0rd commented on #13959
@vinokurig this looks like a duplicate of https://github.com/eclipse/che/issues/13874. Please re-open if you think that's not the case.

[2019-07-22 18:27] l0rd commented on #13930
I think we can close this issue because it's fixed by https://github.com/eclipse/che-operator/pull/53

[2019-07-22 18:27] l0rd commented on #13930
cc @davidfestal

[2019-07-22 18:36] #13933 closed

[2019-07-22 18:41] l0rd commented on #13931
That should be fixed by https://github.com/eclipse/che-operator/pull/53 as well.

[2019-07-22 18:46] davidfestal commented on #13930
Well, it's not really fixed by eclipse/che-operator#53. This PR only did this for the nightly channel (of the preview packages), and additionaly, comments will not be kept in these examples that show up in the OperatorHub, since thy are defined as embeded json in the OLM CSV files.

What we should probably do anyway is:
- Generate a CRD (the definition) with an OpenApi schema, so that, at least fo

[2019-07-22 19:26] #13952 closed

[2019-07-22 19:30] RomanNikitenko commented on #13956
yes, the issue is related to che-theia:next

[2019-07-22 19:31] l0rd commented on #13956
Ok thanks. Set milestone to 7.1

[2019-07-22 19:32] RomanNikitenko commented on #13944
you are right, the issue is related to che-theia:next

[2019-07-22 19:33] sbose78 commented on #13820
Third option proposed by @davidfestal :

1. Che operator would dump che server URLs in a specific `configmap` ( called `che-public-config`) in a specific namespace ( called `che-public` ) .
2. Console user should be able to read that. Based on that URLs read, the workspace redirection URL would be created. ( @davidfestal , for a Git project, how would be the devfile look like? )

I see the followi

[2019-07-22 19:35] l0rd commented on #13454
Yes we should not use images that don't have bash

[2019-07-22 19:38] sbose78 commented on #13820
I am not a fan of the third approach,
- because it makes console handle details of how the Che workspace URL is to be constructed. That means, changes in Che would need changes in Console code.
- Using an intermediate `configmap` to pass on URL info isn't something that has been done before and I feel uncomfortable with the approach. I feel there are too many moving parts with this.

[2019-07-22 20:54] ibuziuk commented on #13960
@rhopp should help us with the OpenShift v4 access

[2019-07-22 23:57] tolusha commented on #13823
I see, now it is problem with `/go/pkg/linux_amd64` directory.

[code]

[2019-07-23 01:07] tolusha commented on #13823
I've introduced PRs to fix the problem.

[2019-07-23 06:12] sparkoo commented on #13823
yes, works now. thanks.

[2019-07-23 06:12] #13823 closed

[2019-07-23 06:14] #13944 closed

[2019-07-23 06:25] slemeur commented on #13917
I think this should be landing in 7.1.0 cc @l0rd

[2019-07-23 06:31] slemeur commented on #13913
It needs to be consistent with https://github.com/eclipse/che/pull/13942

[2019-07-23 06:32] svor commented on #13599
I tried to reproduce it again and I got this problem twice. I'd say it is still actual problem.
https://youtu.be/dcd5Q0q9nf4

[2019-07-23 06:50] slemeur commented on #13710
ping @skabashnyuk

[2019-07-23 07:09] skabashnyuk commented on #13710
@keithchong This issues is missing some context. To be able to reproduce it can you add some information according to the latest "bugs" template

### Describe the bug

### Che version

 - [ ] latest
 - [ ] nightly
 - [ ] other: please specify

### Steps to reproduce

### Expected behavior

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [ ] Openshift (include output of `

[2019-07-23 07:10] slemeur commented on #13710
cc @l0rd

[2019-07-23 07:11] sunix commented on #13734
@mmorhun could you create an issue describing the flow that is wrong from the end user perspective ? Describe what is wrong with the notifications, in which use case, etc ...
The problem with the current issue is that it may be only one solution for a problem. Maybe we could fix it in another way. Describing the problem would also help us to prioritize.
Thanks.

[2019-07-23 07:15] tobespc opened #13961 "Allow multiple devfile registries to be added to che"
### Is your enhancement related to a problem? Please describe.
At the moment, the dashboard references a single location from where it gets it devfiles from.  In our case, we would like to add additional devfile registries so that we can can deploy che with the blessed set and also our additional set.

### Describe the solution you'd like
In che.properties, the current implementation sets

[code]

[2019-07-23 07:27] tsmaeder commented on #13547
Yes we can!

[2019-07-23 07:27] #13547 closed

[2019-07-23 07:30] skabashnyuk commented on #13917
We can handle that.

[2019-07-23 07:38] tsmaeder opened #13962 "Welcome page opens every time I start my workspace"
### Describe the bug
Every time I restart my workspace, the welcome page is opened. My expectation is that this would only happen when I open the workspace for the first time. Once I've closed the welcome page, I want it to stay closed.

### Che version

 - [ ] latest
 - [x ] nightly
 - [ ] other: please specify

### Runtime
   - [x] minishift (include output of `minishift version` and `oc version

[2019-07-23 07:41] AndrienkoAleksandr commented on #13121
Fixed by https://github.com/eclipse/che-theia/pull/223

[2019-07-23 07:41] #13121 closed

[2019-07-23 07:42] skabashnyuk commented on #12971
@geiseri your original bug related to Che7 workspaces or Che6. Can you clarify the scope of your request? As far as I can see single-host more for Che7(Theia based) workspace never worked before.

[2019-07-23 07:42] vitaliy-guliy commented on #13928
`curl` and `wget` cannot resolve host name
![Screenshot from 2019-07-23 09-40-59](https://user-images.githubusercontent.com/1655894/61692496-0ece1b00-ad2e-11e9-810d-0273df3b49e8.png)

[2019-07-23 07:44] sleshchenko commented on #13941
Also, it makes sense to improve URLs of plugin and devfile registries
![Screenshot_20190722_155617](https://user-images.githubusercontent.com/5887312/61692686-c5ce9480-ad36-11e9-854c-e0dec7a82393.png)

[2019-07-23 07:44] tsmaeder commented on #13599
So it's real: this looks like some timing issue to me: we need to do some debugging when it happens: maybe dig into the code that runs the language server? https://docs.google.com/document/d/1puk0xDWJPaVz8VeKIMmr9EhL-rMnCE-yvxezXjPV1Hs/edit#heading=h.ylbuelxcww6d does not seem to offer many options for python LS.

[2019-07-23 07:49] skabashnyuk commented on #13941
Better to ask @benoitf .

[2019-07-23 07:52] benoitf commented on #13941
Hello, it's a nice to have but I can live with ugly/not user-friendly URLs
I agree with @sleshchenko
Maybe more P2 but it looks like it can be an easy fix

[2019-07-23 07:53] vitaliy-guliy commented on #13747
Still is not working on `minishift` due to network issues https://github.com/eclipse/che/issues/13928

[2019-07-23 07:58] benoitf commented on #13962
is it related to https://github.com/eclipse/che-theia/pull/168 ?

[2019-07-23 08:04] tsmaeder commented on #13926
I've seen that we moved away from the maven comunity image and use a centos one in some instances. What's the right way to go, @amisevsk ?

[2019-07-23 08:11] vkuznyetsov opened #13963 "QE-2019-08-13 (Sprint: 170)"
### Sprint goals

### Issues tied to objectives
- [x] Create Jenkins job to automate installation Che by using OperatorHub UI on OCP 4.x #13929 3sp
- [x]  Create automated UI test for install Eclipse Che by using OperatorHub UI #13878 5sp

### Unplanned
- [x] Create Jenkins job for checking custom PRs for che-theia repo #13810
- [x] Fix the #13865 issue (Happy Path test is sometimes failing on "Er

[2019-07-23 08:13] #13633 closed

[2019-07-23 08:34] sunix commented on #13587
@l0rd @slemeur @tsmaeder @rhopp @nickboldt could we priotize that one ?

[2019-07-23 08:39] #13520 closed

[2019-07-23 08:48] l0rd opened #13964 "Fix samples endpoint issues"
### Is your enhancement related to a problem? Please describe

For some of the samples projects in the devfile registry, the preview URL proposed by Theia port plugin is not the correct application URL. Even if the workspace sample starts properly users won't be able to open the application in the preview panel. That's definitely a bad UX.

### Describe the solution you'd like

The short term solu

[2019-07-23 08:55] apupier opened #13965 "[minor]Not language/machine dependent keybinding information for quick fix"
### Describe the bug

tooltip is indicating that to "Show fixes", we can use Ctrl+ .
On my machine it is Ctrl + ;

### Che version

 - [X] latest
 - [ ] nightly
 - [ ] other: please specify

Che-Theia@4ef1d89 using Theia@4ef1d89

### Steps to reproduce

### Expected behavior
Have tooltip mentioning the correct keybinding

### Runtime
   - [ ] kubernetes (include output of `kubectl version`)
   - [

[2019-07-23 08:57] l0rd commented on #13529
I believe that the remaining problems are:

- The samples endpoints problems: https://github.com/eclipse/che/issues/13964
- Language servers not picking up new projects ([Java](https://github.com/eclipse/che/issues/13427) and [C# ](https://github.com/eclipse/che/issues/13739))

And we have dedicated issues for them. So I would close this issue @sparkoo is it ok for you?