[2018-09-12 21:15] obeyler opened #11193 "Helm chart should use README.md and not readme.md"
### Description
Helm chart should use README.md and not readme.md as describe into helm specification.
If it's stay in lower case tools like kubeapps or monocular won't be able to show description of the charts

### Reproduction Steps
Add the chart to a repository such as chartmuseum or artifactory and use kubeapps tools to see that the description is lacking.
![image](https://user-images.githubus

[2018-09-13 02:28] LahiruT94 opened #11194 "You volume mounted ':/repo', did not detect a valid eclipse Che source Repo"
<!---
WARN: Bound 'eclipse/che' to 'eclipse/che:6.10.0'
INFO: (che cli): /repo mounted - using assembly and manifests from your local repository
INFO: Welcome to Eclipse Che!
INFO:
INFO: You volume mounted ':/repo', but we did not detect a valid Eclipse Che source repo.
INFO:
INFO: Volume mounting ':/repo' activates dev mode, using assembly and CLI files from Eclipse Che repo.
INFO:
INFO: Please c

[2018-09-13 02:44] #11194 closed

[2018-09-13 02:46] LahiruT94 opened #11195 "You volume mounted ':/repo', did not detect a valid eclipse Che source Repo"
**Description**
WARN: Bound 'eclipse/che' to 'eclipse/che:6.10.0'
INFO: (che cli): /repo mounted - using assembly and manifests from your local repository
INFO: Welcome to Eclipse Che!
INFO:
INFO: You volume mounted ':/repo', but we did not detect a valid Eclipse Che source repo.
INFO:
INFO: Volume mounting ':/repo' activates dev mode, using assembly and CLI files from Eclipse Che repo.
INFO:
INFO

[2018-09-13 05:48] hsgwd opened #11196 "How to control display order of plugins in "Run" menu?"
I'm developing several Eclipse Che plugins that are started via "Run" manu in the menu bar .
Each plugin is extended BaseAction and created with specified name like blow.

[code]

Each plugin is registered in ActionManager by following code.

[code]

As a result of that, my plugins are displayed in "Run" menu but the display order of plugins is not as I expected.
One plugin is displayed in the mid

[2018-09-13 06:41] sleshchenko opened #11197 "Deployment is not cleaned up if a workspace start fails because of pod creation timeout"
### Description
Deployment is not cleaned up if a workspace start fails because of pod creation timeout.

I faced an issue when a workspace is failed to start
![screenshot_20180913_092901](https://user-images.githubusercontent.com/5887312/45470780-b30f2a80-b737-11e8-8c67-b9e29762083a.png)

But workspace deployment is not cleaned up
![screenshot_20180913_092914](https://user-images.githubuserconten

[2018-09-13 07:14] SkorikSergey opened #11198 "Update "ClangFileEditingTest" selenium test according to language servers test plan"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  Clang language server:
- format selected code
- code comment
- rename
- signature help

[2018-09-13 07:26] eivantsov commented on #11195
@LahiruT94 if D drive mounted into your Docker VM?

[2018-09-13 07:30] eivantsov commented on #11154
@sathibault you will need to build your custom assembly for that and either create a new module with stacks and exclude existing one or edit https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json, rebuild the module, then wsmaster and assembly main.

[2018-09-13 07:31] eivantsov commented on #11158
Yes, you first build custom binaries and then an image with those binaries

[2018-09-13 07:39] garagatyi commented on #11197
@amisevsk FYI

[2018-09-13 08:14] dmytro-ndp commented on #8806
Has been fixed by #10257.

[2018-09-13 08:14] #8806 closed

[2018-09-13 08:32] lf1029698952 commented on #11107
workspace cant start still exist, How should we solve this problem?

[2018-09-13 08:43] eivantsov commented on #10945
@KOSSOKO what is your OS?

[2018-09-13 09:09] dmytro-ndp opened #11200 "Read test workspace logs despite its status in case of start workspace failure"
### Description
Selenium tests haven't read workspace logs if workspace has STOPPED status. But there is some cases when it's possible and could be helpful like [here](https://ci.codenvycorp.com/view/qa/job/che-integration-tests-jdt-ls-docker/ws/selenium/che-selenium-test/target/site/screenshots/org.eclipse.che.selenium.dashboard.workspaces.details.WorkspaceDetailsComposeTest.startWorkspaceAndChec

[2018-09-13 09:13] Ohrimenko1988 opened #11201 "Create selenium page object for working with assistant features"
### Description
We have next assistant features which not covered by selenium tests:
 - Go To Symbol (Ctrl + F12)
 - Find Project Symbol (Alt + N)
 - Find Definition (F4)
 - Find References (Alt + F7)
 - Refactoring

For using this features in tests we should create a page object which will cover all neccessary points of this features.

![screenshot from 2018-09-13 12-11-29](https://user-images.gi

[2018-09-13 09:19] musienko-maxim opened #11202 "Add checking Find definition feature for C# language server"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-13 09:30] garagatyi commented on #11069
@eivantsov Am I correct that publishing logs into a workspace start output would be enough to tackle this issue?

[2018-09-13 09:32] sleshchenko commented on #11069
@garagatyi Could you clarify what do you mean publishing logs into a workspace start output?

[2018-09-13 09:33] fErten commented on #11026
@eivantsov @vzhukovskii Can you please tell me where the logs are stored?

[2018-09-13 09:34] eivantsov commented on #11107
Keycloak definitely does not look healthy

[code]

And you increase this limit on a host?

Also, can you try to deploy a single user flavor of Che?

[2018-09-13 09:35] sleshchenko commented on #11069
I can propose to print all Che Plugin Broker pod into Che Servers logs (at debug or error level) when plugin broking failed (pod failed or FAILED broker status received). I believe it should be enough to determine the cause of failing in most cases.

[2018-09-13 09:37] eivantsov commented on #11026
@fErten it's in the workspace container at `/home/user/che/ws-agent/logs...`

[2018-09-13 09:38] eivantsov commented on #11193
Fixed. Thanks @obeyler

[2018-09-13 09:38] #11193 closed

[2018-09-13 09:38] eivantsov commented on #11196
@vparfonov can you help here?

[2018-09-13 09:38] dmytro-ndp opened #11204 "Browser window didn't close automatically in factory related E2E selenium tests"
### Description
There are Eclipse Che factory related E2E selenium tests like [CheckFactoryWithSparseCheckoutTest](https://github.com/eclipse/che/blob/master/selenium/che-selenium-test/src/test/java/org/eclipse/che/selenium/factory/CheckFactoryWithSparseCheckoutTest.java) which don't close web driver and leave opened browser window after execution.

We need to fix such tests to close browser windo

[2018-09-13 09:39] vzhukovskii commented on #11026
And it would be better to see if something appears in browser console.

[2018-09-13 09:40] #10738 closed

[2018-09-13 09:52] azatsarynnyy commented on #11196
Hi @hsgwd,
Action API provides the [Constraints class](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/ide/che-core-ide-api/src/main/java/org/eclipse/che/ide/api/constraints/Constraints.java) to define an action's position in an action group.
See the example of its usage [here](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/plugins/plugin-

[2018-09-13 09:52] sleshchenko commented on #11031
@l0rd Could you please confirm that you are OK with naming containers in workspaces as `{PLUGIN_NAME}` + `-` + `{CONTAINER_NAME}`?
But then we have to limit possible characters for plugins and their containers names
I think here is describe naming convention https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

[2018-09-13 09:53] lf1029698952 commented on #11107
yes, my kubernetes cluster in private region, doesn't exsits elb, so I expose 9000 port by NodePort, and my domain name use bind hosts file instead of dns.
so I suspect it is caused by port number or dns resolve.
my che server logs:
[code]

[2018-09-13 09:57] LahiruT94 commented on #11195
Yes it is. I mounted it and it gave me this error
![6 11](https://user-images.githubusercontent.com/34393074/45481548-7825ea80-b769-11e8-9c9e-5c12e50f3fbf.PNG)

[2018-09-13 10:06] garagatyi commented on #11069
I mean logs (events) that workspace loader app shows on a workspace start

[2018-09-13 10:07] garagatyi commented on #11069
It would help in development but would be almost useless for the OSIO case when user can't see Che master logs and Ops team can't provide that for all the interested sides in case it is needed.

[2018-09-13 10:38] LahiruT94 commented on #11195
![loca](https://user-images.githubusercontent.com/34393074/45483625-18324280-b76f-11e8-8432-1402dfd65bc8.PNG)

Is this how i should add it? It didnt work

[2018-09-13 10:38] LahiruT94 commented on #11195
![run](https://user-images.githubusercontent.com/34393074/45483663-3bf58880-b76f-11e8-8aae-841055105ff8.PNG)

Is this how i should add it? it didnt work

[2018-09-13 10:41] sleshchenko commented on #11069
I agree.

Actually, it shows Pod events and installers logs which are machine related and we don't have any event to be published as workspace log that is not machine related. So, we should introduce some new one or find another way how to deliver them to clients.

@eivantsov If you are OK to publish plugin broker output to client somehow but not really store them at Che Server side, if yes please

[2018-09-13 10:42] eivantsov commented on #11195
Append it after start

[2018-09-13 10:57] artaleks9 opened #11206 "Selenium: Create the method to set the 'Contribute' property in 'true' when the test start"
### Description
* We have several selenium tests which check working or state of the PR panel
* That the tests would be independent from each other and of the state of the _Contribute_ property (especially for single mode ) we need to do next:
  - before the start test to check if there is the _Contribute_ property
  - if it is exist, need to set this property in 'true'
 * So we need to create the

[2018-09-13 11:08] l0rd commented on #11047
@garagatyi Che QA team. We should be able to test master.

[2018-09-13 11:08] sleshchenko commented on #11107
Error messages are strange. Maybe workspace is failed because of error while parsing timestamp, but the event looks just fine. @ibuziuk Maybe you have an idea what is wrong with it?
BTW I've added logging original exception along with the event, it would be much clear what is wrong with a timestamp after merging my next PR.

[2018-09-13 11:13] #10708 closed

[2018-09-13 11:32] #10836 closed

[2018-09-13 12:01] kostiamol opened #11208 "Automate helm chart deployment to k8s"
Now in order to add custom che projects right away after installation I execute:
`kubectl cp custom-samples.json che-8467596d54-7c2hg:/data/templates`
And in order to add a new stack I send HTTP request. But the problem in multi-user mode is that every day I should add an adequate token and session id.

Is there any way to eliminate manual command execution? Should I create post-install hook for t

[2018-09-13 12:29] SkorikSergey commented on #10151
It looks like that main reason is opening ```Program.cs``` file  before language server is fully initialized. When we are trying to open this file we have 30 sec for the language server to initialize and after that file will be opened in the **Editor**. But, mostly, this timeout is too short for initializing and the file will be opened in the **Editor** when the language server not started yet. So

[2018-09-13 12:44] eivantsov commented on #11069
@sleshchenko just having output on client may work - better than nothing

[2018-09-13 12:52] artaleks9 opened #11209 "Update "GolangFileEditingTest" selenium test according to language servers test plan"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  **GoLang** language server:
- code comment
- rename
- find references
- signature help
- go to symbol
- find project symbol

[2018-09-13 13:02] RomanNikitenko commented on #9916
Fixed by https://github.com/eclipse/che/pull/10997

[2018-09-13 13:02] #9916 closed

[2018-09-13 13:03] #11187 closed

[2018-09-13 13:04] #11179 closed

[2018-09-13 13:09] RomanNikitenko commented on #9244
depends on https://github.com/theia-ide/theia/issues/2783

[2018-09-13 13:39] #11204 closed

[2018-09-13 14:52] vinokurig opened #11214 "Wrong token is set when requesting profile from Keycloak service in ws-agent"
### Description

Request from ws-agent to `PrfileService` fails because the request  to Keycloak service is signed with machine token.

### Reproduction Steps

Make a request to `PrfileService` from ws-agent:
[code]
**Actual**: Exception is caught:
 `Failed access: http://172.17.0.1:5050/auth/realms/che/protocol/openid-connect/userinfo?token, method: GET, response code: 401, message: {"error":"inv

[2018-09-13 14:54] vinokurig commented on #11214
Is needed for #10909

[2018-09-13 19:46] garagatyi commented on #7860
In case someone wants to contribute it here are a couple of tips:
Here is an example of a converter that converts one environment into another https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/environment/convert/DockerImageEnvironmentConverter.java
This is a very simple one, a converter of compose would be more

[2018-09-14 07:29] vinokurig commented on #10909
Blocked by issue above

[2018-09-14 08:09] skabashnyuk commented on #11192
@BarryDrez I've discussed this topic with @mshaposhnik . And he asked to identify fields in a model that has conflicts with MySQL. With that data, he can help with migrations.

[2018-09-14 08:26] gazarenkov commented on #10909
@vinokurig to make sure - it will take default value (if empty) from user/email but it can be filled manually (as it is) as well, correct?

[2018-09-14 08:45] gazarenkov commented on #11214
@vinokurig Why do you need that?
Is not it easier to set it from IDE? (it knows the profile)

[2018-09-14 08:50] #11110 closed

[2018-09-14 08:55] vinokurig commented on #11214
@gazarenkov You are right, I'll do in that way.

[2018-09-14 09:01] kalzi commented on #10945
Same Issue Observed in 6.11.0 too.. ENV: Windows 10, Chrome and Firefox Stable Releases

[2018-09-14 09:02] vinokurig commented on #10909
@gazarenkov sure, user will be able to change it in the preferences

[2018-09-14 09:11] kostiamol commented on #9632
@eivantsov It's not good to execute manually `kubectl cp custom-samples.json che-8467596d54-7c2hg:/data/templates` each time after deployment. Is there any way to do it automatically?

[2018-09-14 09:17] eivantsov commented on #9632
@kostiamol there's no automation other than building own custom Che assembly

[2018-09-14 09:46] SkorikSergey commented on #9753
Fixed.

[2018-09-14 09:46] #9753 closed

[2018-09-14 09:54] Ohrimenko1988 opened #11217 "Get rid of legacy code in the "Consoles" selenium page object"
### Description
A lot of legacy code is present in the "Consoles" selenium page object. For example:
[code]
We should rework this page object by using of "SeleniumWebDriverHelper" and another utilities which were created for code simplifying. For example after updating:
[code]

[2018-09-14 11:40] SkorikSergey opened #11218 "Cover the "Python" language server functionality by selenium test"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  **Python** language server:
format selected code
- code comment
- rename
- hover
- find references
- signature help
- go to symbol

[2018-09-14 11:40] SkorikSergey opened #11219 "Cover the "JSON" language server functionality by selenium test"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  **JSON** language server:
- autocomplete
- go to symbol
- hover

[2018-09-14 11:40] SkorikSergey opened #11220 "Cover the "TypeScript" language server functionality by selenium test"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  **TypeScript** language server:
- format
- code comment
- rename
- find references
- signature help
- go to symbol

[2018-09-14 11:40] SkorikSergey opened #11221 "Cover the "Yaml" language server functionality by selenium test"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  **Yaml** language server:
- go to symbol

[2018-09-14 11:40] SkorikSergey opened #11222 "Cover the "Apache Camel" language server functionality by selenium test"
### Description
According to updated language servers test plan ( https://github.com/eclipse/che/wiki/Test-plan-for-checking-Language-servers) we need to add selenium tests for the next features of  **Apache Camel** language server:
- go to symbol

[2018-09-14 11:51] garagatyi commented on #11097
@skabashnyuk @l0rd @benoitf I'm going to add a field `memory-limit` to the `Container` object of the plugin from the WS.NEXT model. It will support `kubernetes` notion of memory limits, such as: E, P, T, G, M, K, Ei, Pi, Ti, Gi, Mi, Ki - 10Gi, 300Ki.
If you have ideas what can be implemented in a better way, please, comment.

[2018-09-14 13:07] gazarenkov commented on #10894
P1, seems like really quick fix

[2018-09-14 13:14] artaleks9 opened #11223 "Investigate the failing selenium test 'GitPullTest' on CI job"
### Description
* In the last time the selenium test _GitPullTest_ is failed when run on the CI job via the _'stale element reference'_
* Need to find the solution for it and fix

**See the report:**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-master-ocp/432/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.gitGitPullTest

[2018-09-14 13:17] eivantsov commented on #10865
@SkorikSergey I cannot reproduce. Can you check it once again?

[2018-09-14 13:37] gazarenkov commented on #10609
P1 since looks like a quick fix

[2018-09-14 13:47] tsmaeder commented on #10699
There is no code in the signature help provider that hard codes any particular trigger character. Most likely, the php language server does not provide "(" as a trigger character. That be a problem with the PHP language server outside of our control.

[2018-09-14 13:50] tsmaeder commented on #10523
Does this work for other language servers (not Java, because that does not use the same code)

[2018-09-14 14:02] BarryDrez commented on #11192
@skabashnyuk The only field that EclipseLink has a problem with is the values column in projectattribute_values.

[2018-09-14 14:03] vparfonov commented on #10979
normal behavior if re-run not finished command

[2018-09-14 14:03] BarryDrez commented on #11192
As far as table creation and modification goes, dealing with MySQL can be done in the SQL scripts using the framework you have indicated.

[2018-09-14 14:14] SkorikSergey commented on #10523
This works on **Clang** and **TypeScript** language servers.
Not works **Golang** language server - https://github.com/eclipse/che/issues/10524.

[2018-09-14 14:17] SkorikSergey commented on #10699
![selection_126](https://user-images.githubusercontent.com/7760565/45555356-4718e900-b841-11e8-9a78-48c8e1e3690c.png)

[2018-09-14 14:29] musienko-maxim opened #11226 "Add ability do not skip tests after fails in test class with prioritize test methods"
### Description
In some specific usecases we should continue performing testing after fails. We need add possibility this to selenium tests.

[2018-09-14 14:32] artaleks9 opened #11227 "Investigate the failing selenium test 'ImportWizardFormTest' on CI job"
### Description
* In the last time the selenium test _ImportWizardFormTest_ is failed when run on the CI job via the _'StaleElementReferenceException'_
* Need to find the solution for it and fix

**See the report:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-ocp/398/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.gitImportWizardFormTest

[2018-09-14 14:42] SkorikSergey commented on #10865
For now I cannot reproduce this issue.

[2018-09-14 19:23] AndrienkoAleksandr opened #11229 "Verbaccio logs mixes with theia build image output"
### Description
Verbaccio logs mixes with Theia build image output, because we detach this process. So  sometimes it's not easy to find why build image fail.

[2018-09-14 19:31] benoitf commented on #11229
It's an enhancement, no ?

[2018-09-14 19:32] AndrienkoAleksandr commented on #11229
yes

[2018-09-15 08:11] #10360 closed

[2018-09-15 08:32] vparfonov commented on #9856
out of date

[2018-09-15 08:32] #9856 closed

[2018-09-15 08:33] #9847 closed

[2018-09-15 08:35] vparfonov commented on #9829
not actual

[2018-09-15 08:35] #9829 closed

[2018-09-15 08:40] #9581 closed

[2018-09-15 08:41] #9519 closed

[2018-09-15 08:45] vparfonov commented on #8975
done

[2018-09-15 08:45] #8975 closed

[2018-09-15 08:55] vparfonov commented on #7786
not actual any more

[2018-09-15 08:55] #7786 closed

[2018-09-15 08:58] vparfonov commented on #7468
not actual any more

[2018-09-15 08:58] #7468 closed

[2018-09-15 08:59] vparfonov commented on #6842
out of date

[2018-09-15 09:27] dmytro-ndp commented on #10944
That wasn't an error of CI.

[2018-09-15 09:27] #10944 closed

[2018-09-15 12:21] dmytro-ndp opened #11234 "'qa-slave-3' is constantly failing when build Eclipse Che because of docker error"
### Description
There is a lot of builds on CI failed with the same error when building Eclipse Che on slave `qa-slave-3`:
- https://ci.codenvycorp.com/job/che-pullrequests-test-ocp/789/consoleText
- https://ci.codenvycorp.com/job/che-pullrequests-test-ocp/794/consoleText
- https://ci.codenvycorp.com/job/che-pullrequests-test-ocp/801/consoleText
- https://ci.codenvycorp.com/job/che-pullrequests-te

[2018-09-16 07:07] tareqhs commented on #6756
@skabashnyuk I've went over all the feature that Everrest supports, async is still in the source code

[2018-09-16 07:07] tareqhs commented on #6756
@skabashnyuk I've went over all the features that Everrest supports, async is still in the source code

[2018-09-16 22:10] #11234 closed

[2018-09-16 22:17] #11168 closed

[2018-09-16 22:32] riuvshin commented on #5973
is this still actual?

[2018-09-16 22:34] riuvshin commented on #9235
yes, I think the problem is still there.

[2018-09-17 02:39] LahiruT94 commented on #11195
This error is giving because the mounted data volume directory is not empty.  When i directed it to the immediate directory it worked.

docker run -it --rm -v /eclipse/che:/repo -v /eclipse/che/assembly/assembly-main/target/eclipse-che-6.11.0:/data -v /var/run/docker.sock:/var/run/docker.sock eclipse/che start --skip:scripts

![closed](https://user-images.githubusercontent.com/34393074/45604340-04

[2018-09-17 02:39] #11195 closed

[2018-09-17 06:47] eivantsov commented on #10945
@abhinavprateek can you reproduce the issue with 6.9.0?

[2018-09-17 06:59] kostiamol commented on #11208
@eivantsov But I still need to execute 2 commands manually.
I tried to change this init container:
[code]
to
[code]
and event this one:
[code]
to
[code]

But it dosn't work.

[2018-09-17 07:00] AndrienkoAleksandr opened #11235 "Create side cars for che-theia-terminal-extension and che-theia-task-extension"
### Description
For workspace-next we need create side-cars for c
https://github.com/eclipse/che-theia-terminal-extension and https://github.com/eclipse/che-theia-terminal-extension

[2018-09-17 07:22] AndrienkoAleksandr opened #13772 "Don't restore terminal if machine is not available."
Don't restore terminal if machine exec is not available, or create new one. It can be reproducible after stop workspace and start again.

[2018-09-17 07:37] carusyte commented on #4021
It seems to be port 32768 by the way.

[2018-09-17 07:55] SkorikSergey commented on #5973
Issue updated according to CHE version 6.12.0-SNAPSHOT.

[2018-09-17 07:57] artaleks9 commented on #10012
13.08.2018
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/357/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.gitImportWizardFormTest

[2018-09-17 08:16] Ohrimenko1988 commented on #11201
Done

[2018-09-17 08:16] #11201 closed

[2018-09-17 09:16] apupier opened #11236 "Include Apache Camel stack"
### Description
currently here https://github.com/che-samples/community-stacks/tree/master/apache-camel

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-17 09:26] apupier opened #11238 "Update code of conduct which is mentioning to contact info@codenvy.com"
### Description

https://github.com/eclipse/che/blame/master/CODE_OF_CONDUCT.md#L38
Codenvy has been bought for several months now. Is the mail address still active?
By which one should it be replaced?

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-17 09:48] apupier commented on #11236
work started here https://github.com/apupier/che/tree/11236-IncludeCamelStack (but cannot build Che locally for now so cannot test it at all)

[2018-09-17 09:49] abhinavprateek commented on #10945
Unable to downgrade the CLI version. Couldn't find any documentation to do
it. Can you please guide?

On Mon, Sep 17, 2018 at 12:17 PM Eugene Ivantsov <notifications@github.com>
wrote:

[2018-09-17 09:56] eivantsov commented on #10945
@abhinavprateek you may start Che with a different local data folder and use 6.9.0 tag for eclipse/che image

[2018-09-17 09:59] sunix opened #11240 "Che Theia - CORS issue when Theia IDE client side browser trying to reach Che master"
### Description
It happens that in some cluster configuration, Che Theia IDE is not located in the same location and when we are trying to reach Che master API from the browser, we encounter CORS issue like

[code]

[2018-09-17 10:02] sunix commented on #11240
I see 2 ways of fixing it:
- somehow allow as origin all the possible cluster public url that a che master could have. That would be done dynamically according to Che configuration
- create a dedicated proxy in Theia node side for all our Che API.

[2018-09-17 10:36] #11226 closed

[2018-09-17 10:37] artaleks9 opened #11241 "Remake the 'waitAndClick()' method from the 'SeleniumWebDriverHelper' according to the 'StaleElementReferenceException'"
### Description
* Sometimes selenium tests are failed (especially when they run on the CI) by the '_StaleElementReferenceException_'
* We need to remake the method _waitAndClick()_ in the _SeleniumWebDriverHelper_ to handle correctly  this exception and avoid fail the tests
* Also we need to remake two methods in the _Project Explorer_:
  - _waitAndSelectItem()_
  - _openItemByPath()_

using the h

[2018-09-17 10:41] skabashnyuk commented on #11192
@BarryDrez fyi https://github.com/eclipse/che/pull/11237

[2018-09-17 10:42] skabashnyuk commented on #6756
Yes. However, Che is not supposed to use it.

[2018-09-17 11:01] sunix commented on #11240
@l0rd GWT app was hosted by che master

[2018-09-17 11:10] KOSSOKO commented on #10945
@eivantsov, please, could I know if this issue will be corrected soon or I have to downgrade my che version ? Thanks

[2018-09-17 11:18] skabashnyuk commented on #11240
@sunix would it help if we enable CORS for factories?

[2018-09-17 11:26] eivantsov commented on #10945
@KOSSOKO the thing is that I have hard time reproducing it on my Fedora machine.

[2018-09-17 11:33] aditya-konarde opened #11242 "RFE: Expose usage metrics via Che Server API"
### Description
As an engineer working on a maintaining a hosted Eclipse Che Server, I would like to have access to metrics on the the number of provisioned Che accounts on the Server. Currently, this can be obtained with queries to the backing database. The request here is to expose these metrics via a metrics endpoint, so that they can be consumed directly by a monitoring system.

The metrics I

[2018-09-17 12:09] sunix commented on #11240
@skabashnyuk yes and no
Factory is not the only component trying to reach CHE_API_EXTERNAL:
- https://github.com/eclipse/che-theia-machines-plugin/blob/master/theia-machines-extension/src/browser/che-workspace-client-service.ts#L22
-  https://github.com/eclipse/che-theia-task-plugin/blob/master/che-theia-task-extension/src/browser/che-api-external-endpoint-provider.ts#L26
- https://github.com/ecli

[2018-09-17 12:31] sathibault commented on #10945
Version 6.9.0 does not have this issue for me.  I used browser inspection to compare the terminal windows between the working 6.9.0 version and the non-working 6.10.0 version and found that terminal windows in version 6.10.0 are rendered using a canvas object and 6.9.0 is using html dom elements.

We have downgraded to 6.9.0 but that version loads really slowly compared to 6.10.0, so I hope to be

[2018-09-17 12:47] apupier opened #11244 "broken links in devloment workflow to CLI complete reference"
### Description
https://github.com/eclipse/che/wiki/Development-Workflow#build-and-run

if clicking on th elink "here" directing to https://www.eclipse.org/che/docs/setup/cli/index.html , there is a 404

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-17 12:55] #10818 closed

[2018-09-17 13:11] #11229 closed

[2018-09-17 13:11] AndrienkoAleksandr commented on #11240
Maybe we should create common component and reuse it https://github.com/eclipse/che/issues/11072

[2018-09-17 13:14] benoitf commented on #11240
I would say that if extensions were plug-ins, then they would call APIs from server-side and then it won't hit CORS.

So if extension is still mandatory, they should use a server-side service.
I'm not sure it is interesting to have a proxy service as extensions should not be used

[2018-09-17 13:17] sunix commented on #11240
@benoitf thanks so maybe we could start moving factory extension to a plugin. It has to be done sooner or later anyway.

[2018-09-17 13:18] ashumilova commented on #11240
@sunix do we know which APIs are missing to convert factory extension to plugin?

[2018-09-17 13:59] sunix opened #11249 "Convert Che-theia factory extension to plugin"
### Description
Convert https://github.com/eclipse/che-theia-factory-extension to plugin:
Related to https://github.com/eclipse/che/issues/11050
Is required by https://github.com/eclipse/che/issues/11240

To convert, we need the following to be done from a plugin:
- Retrieve the url query string to get the factory id
- Execute a given task
- Open a file
- Some UI entry point for notifications
- gi

[2018-09-17 15:11] artaleks9 commented on #11227
I agree, we see in the report:
`</div> is not clickable at point (130, 71).`, but this is consequence.

But I would like to note to the important detail: before that we get the _StaleElementReferenceException_ in the _try/catch_ block:
[code]

On my opinion - this  is a main reason.
I think we need to handle correctly the _StaleElementReferenceException_, and it will allow to avoid failed tests.

[2018-09-17 15:29] dmytro-ndp commented on #11227
I see, thank you for explanation.

[2018-09-17 15:31] artaleks9 opened #11250 "Correct the 'doRenamingByLanguageServerField()' method in the 'CodenvyEditor'"
### Description
* Need to replace the _setText()_ on the setValue() inside the _doRenamingByLanguageServerField()_ method for correct working
* Related selenium tests: _CSharpClassRenamingTest_

[2018-09-17 17:55] AndrienkoAleksandr opened #11252 "Theia image contains both terminal extensions: @theia/terminal and che-theia-terminal-extension"
### Description
Theia image contains both terminal extensions: @theia/terminal and che-theia-terminal-extension. We removed @theia/terminal from package.json, but it still exists, because it was applied like transitive dependency via another extensions. We need override contributions from this extension to fix this issue.

[2018-09-17 18:05] AndrienkoAleksandr commented on #10945
I stable reproduced this issue on the virtual machine. I will take a look.

[2018-09-17 20:10] rafaellago commented on #476
I would like to know if there is some news about this.

[2018-09-18 06:05] #11250 closed

[2018-09-18 06:41] AndrienkoAleksandr opened #13771 "Don't display list machine if workspace has only one machine"
Don't display list machine if workspace has only one machine. Open terminal for  this machine by default.

[2018-09-18 07:40] tsmaeder commented on #11241
Do we understand why the stale element references occur?

[2018-09-18 07:50] Ohrimenko1988 commented on #11241
@tsmaeder The reason is - UI has been updated and web element reference is obsolete. So we are working on fixing this. You may see PR https://github.com/eclipse/che/pull/11246 which fixes this problem.

[2018-09-18 08:44] garagatyi commented on #5908
Closing the issue since it is already implemented.

[2018-09-18 08:44] #5908 closed

[2018-09-18 09:02] garagatyi commented on #5907
Closing the issue. Feel free to reopen if it is still actual.

[2018-09-18 09:02] #5907 closed

[2018-09-18 09:03] garagatyi commented on #7318
This issue was implemented a long time ago. Closing.

[2018-09-18 09:03] #7318 closed

[2018-09-18 09:52] l0rd opened #11255 "Setup a CI job to build che-plugin-broker"
### Description

We currently use docker hub automated build to release `eclipse/che-plugin-broker` images. The problem is that it only tag images with `latest` and we would like to a tag corresponding to the git commit hash.

To solve that we would like to setup a CI job that is triggered at every commit in https://github.com/eclipse/che-plugin-broker master branch, builds the docker image and ta

[2018-09-18 09:54] riuvshin commented on #11255
once we will have this should I disable automated build?

[2018-09-18 10:35] SkorikSergey opened #11256 "Unexpected fail of selenium tests from dashboard package"
### Description
We have unexpected fail of **NewWorkspacePageTest** and **CreateWorkspaceFromJavaTheiaDockerStackTest** selenium tests. The tests  fail when trying to work with the **Theia IDE on docker** stack. We should clarify reason and fix it.

**Failed selenium test:** NewWorkspaces, CreateWorkspaceFromJavaTheiaDockerStackTest

**Report with reproduced problem:**
https://ci.codenvycorp.com/v

[2018-09-18 11:12] tsmaeder commented on #11241
I understand the meaning of stale references. But do we understand why the references change when we expect them not to? That is the interesting questions, IMO.

[2018-09-18 11:30] riuvshin commented on #11255
on our ci we don;t have recent docker with builder feature needed here https://github.com/eclipse/che-plugin-broker/blob/master/Dockerfile#L13
So I will need to update docker

[2018-09-18 11:41] mshaposhnik opened #11257 "Calls to unexisting workspaces during ci tests"
### Description
During CI tests, there is a lot of stacktraces indicating unexisting workspaces tried to be accessed (using machine token).
By adding debug output, it is confirmed that requests are made by `WorkspaceProjectSynchronizer` class, which is wsagent - side class. Logically, if workspace is stopped and removed, there must be no more agent classes belonging to it. Need futher investigatio

[2018-09-18 11:44] mshaposhnik commented on #11257
[che-server-pod.log](https://github.com/eclipse/che/files/2392490/che-server-pod.log)

[2018-09-18 11:44] musienko-maxim opened #11258 "Go to symbol feature do not show items with enabled C# language server"
### Reproduction Steps
- Create a workspace based on .Net stack
- Create `dotnet-web-simple` project from IDE wizard
- Wait message about successfully initialization of the language server and appearance `bin` and `obj` folders
- Launch Assistant -> Go To Symbol
**Expected result:** The widget should show the file structure (namespace, methods, class)
**Actual result:** The widget is empty
**Addit

[2018-09-18 12:13] riuvshin commented on #11255
done
https://hub.docker.com/r/eclipse/che-plugin-broker/tags/
https://ci.codenvycorp.com/job/che-plugin-broker-build-deploy/

[2018-09-18 12:13] #11255 closed

[2018-09-18 12:16] garagatyi opened #11259 "Do not allow the start of a workspace that has both installers and WS.NEXT plugins"
### Description
Che 6 and Che 7 workspace have a different design and should not be mixed. We need to throw an error when a user tries to start a workspace with such a configuration.
We can also do this on workspace creation and editing, so we would not have a broken WS config stored.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-18 12:27] jonahgraham opened #11260 "Theia sidecar on Kubernetes?"
### Description
Does Che support Theia on Kubernetes? If so, how?

### Reproduction Steps

If I start a Che cluster following instructions on https://www.eclipse.org/che/docs/kubernetes-multi-user.html and then try to create a workspace based on _Theia IDE on docker_ I get the following error:

[2018-09-18 12:39] garagatyi commented on #11260
We do not support compose recipes on Kubernetes infra. You'll need to use a kubernetes recipe based stack.

[2018-09-18 12:48] jonahgraham commented on #11260
Thanks, can you point me at one for Theia as it doesn't appear that there are any in the default stacks shipped with Che?

[2018-09-18 14:01] jonahgraham commented on #11260
OK, I think the problem is that yesterday's commit (https://github.com/eclipse/che/commit/8189276d9e2ab17f1bb3647b60#diff-be4e3a94b98c39160862773dcffad022R62) changed the _Theia IDE on docker_ from a dockerimage to a docker compose. I am trying out putting in my own stack with the version from before commit 8189276d.

[2018-09-18 14:12] tsmaeder commented on #11258
This seems to be a failure in the language server implementation. The format of the parameters to the "documentSymbol" call has not changed recently and it works with other language server. Likely not our bug.

[2018-09-18 14:14] garagatyi opened #11265 "Add an ability to use a custom registry for WS.NEXT plugins"
### Description
In some cases, usage of Che plugin registry configured for the whole Che is not convenient.
An example is a development of a Che plugin - a user might not want to contribute to the official registry repo until the plugin is finished, but still wants to try it out for the development purposes.
We can allow setting registry identifier before plugin id in the workspace config and a pl

[2018-09-18 14:36] ghost opened #11266 "User Dashboard: Filter stacks by infrastructure"
### Description

Since Che supports 3 infrastructures, they do not support each other's recipe types. The proposal is to mark stacks that have unsupported recipe type as `not supported on current infra`. Example: mark compose stacks as unsupported on OpenShift and K8S

[2018-09-18 14:50] sunix opened #11267 "Che + theia: Theia IDE do not send any activity events to wsmaster"
### Description
When using Theia in Che and having `CHE_WORKSPACE_AGENT_DEV_INACTIVE__STOP__TIMEOUT__MS` being set, workspace is killed after that time even if there is some activity in Che Theia IDE.

### Reproduction Steps
In http://che.openshift.io, create a workspace using a theia stack for instance https://che.openshift.io/dashboard/#/factory/factorywj3405v4cnxdjmln. After 15 minutes, even if

[2018-09-18 15:00] AndrienkoAleksandr commented on #10278
Duplicated to https://github.com/eclipse/che-theia-terminal-extension/issues/3 and fixed by https://github.com/eclipse/che-theia-terminal-extension/pull/9

[2018-09-18 15:00] #10278 closed

[2018-09-18 15:01] sunix commented on #11267
maybe should reuse https://github.com/eclipse/che/blob/master/ide/che-core-ide-app/src/main/resources/org/eclipse/che/public/activity.js client side

[2018-09-18 15:02] AndrienkoAleksandr commented on #8553
Duplicated to https://github.com/eclipse/che/issues/9074

[2018-09-18 15:02] #8553 closed

[2018-09-18 15:08] Ohrimenko1988 commented on #11180
Done https://github.com/eclipse/che/pull/11263

[2018-09-18 15:08] #11180 closed

[2018-09-18 15:26] mstavares opened #11269 "Send data to a project through web service"
### Description

Hi,

Is it possible to perform any kind of data persistence through ws?
I'm currently using your che-serverservice sample and if I import FsManager dependencies I'm not able to run che. It freezes before the docker be launched.

In order to do that, I have just injected the FsManager component in my ws contructor like this:

`  @Inject
  public MyService(FsManager fsManager) {

[2018-09-18 15:29] #11200 closed

[2018-09-18 15:56] mstavares commented on #11269
More info:

This is what I see on my terminal:

`ERROR: (che start): Timeout waiting for server. Run "docker logs che" to inspect.`

Then:

`Exception sending context initialized event to listener instance of class [org.eclipse.che.inject.CheBootstrap]
com.google.inject.CreationException: Unable to create injector, see the following errors:

1) No implementation for org.eclipse.che.api.fs.server.F

[2018-09-18 16:07] KOSSOKO opened #11270 "Create a global stack in che"
Hi everybody,
    with my team, we are developing a platform for scientists and we use eclipse che to provide them a development tool. So I created a stack based on a docker image with all plugins they needed. By they can't see this stack in their when they log in.

How could I declare my stack in order to make it visible among the default stacks present in che ?
Thanks

[2018-09-18 18:32] nickboldt commented on #10881
Pull request to optionally remove the dashboard from root pom reactor, and from assembly-main:

https://github.com/eclipse/che/pull/11271

[2018-09-18 20:09] l0rd commented on #11242
@aditya-konarde I am afraid we don't have such a concept of a "super user" or "admin" in Che but @skabashnyuk may provide more details.

[2018-09-18 21:15] l0rd commented on #11255
👍 thank you @riuvshin

[2018-09-18 21:39] amisevsk commented on #11112
@skabashnyuk It's not in the current sprint but we could talk to @ibuziuk about including it if it's blocking others. Has a CQ been created?

[2018-09-19 05:08] eivantsov commented on #11270
@KOSSOKO though there's no UI for that, you can still give your global stack the right permissions

[2018-09-19 05:10] eivantsov commented on #11269
@vparfonov or @vzhukovskii may know

[2018-09-19 06:30] osmankibar commented on #11075
Hello again,

When I reviewed OIDCKeycloak.js, I saw that the keycloak needs refresh token.

https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/keycloak/OIDCKeycloak.js#L402

Is that why implicit flow was preferred instead of code flow ?

According to the OIDCKeycloak.js, refresh token must be jwt format. I th

[2018-09-19 07:20] tsmaeder opened #11273 "Some Java-Related Test Don't Wait for jdt.ls Startup"
A number of selenium test in the jdt.ls branch don't wait for the Java language server to have finished startup processing. The can lead to calls to jdt.ls that fail with a timeout.

[2018-09-19 07:27] SkorikSergey commented on #11256
Fixed by https://github.com/eclipse/che/pull/11262.

[2018-09-19 07:27] #11256 closed

[2018-09-19 07:32] #10909 closed

[2018-09-19 07:33] lf1029698952 commented on #11107
![image](https://user-images.githubusercontent.com/11751263/45737703-1e1d9d00-bc21-11e8-8e3b-65d46a5d4f88.png)
and che logs with many session error:
[code]
it looks wesocket connection error?

[2018-09-19 07:38] lf1029698952 commented on #11107
workspace pod:
[code]

[2018-09-19 07:40] Ohrimenko1988 commented on #11241
Done https://github.com/eclipse/che/pull/11246

[2018-09-19 07:40] #11241 closed

[2018-09-19 07:41] artaleks9 commented on #10012
_19.09.2018_
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-ocp/403/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.gitImportWizardFormTest

[2018-09-19 07:45] eivantsov commented on #11107
@lf1029698952

What's the URL you use to access Che?

http://keycloak-eclipse.zhubajie.la or http://keycloak-eclipse.zhubajie.la:9000?

If it is the latter, update your configmap.

[2018-09-19 07:50] eivantsov commented on #11244
Fixed

[2018-09-19 07:50] #11244 closed

[2018-09-19 08:02] tsmaeder opened #11275 "Timeout on Refactorings in Selenium Tests"
Some tests on the jdt.ls branch fail because a refactoring action has timed out, for example RenamePackageTest#checkTest8(), for instance. The screenshot shows that a timeout has occured on the rename. Manually performing the rename takes about 3 seconds on my well speced machine, so it is believeable that this would take over 10 seconds when running 3 tests in parallel on the qa-slaves. The solut

[2018-09-19 08:06] Ohrimenko1988 opened #11276 "Unexpected fail of "CheckWorkingWithTabsByUsingContextMenuTest" selenium test"
### Description
We have unexpected fail of "CheckWorkingWithTabsByUsingContextMenuTest" selenium test. It looks like something went wrong with method which checks editor tab appears. We should investigate and resolve this problem.

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/364/Selenium_20tests_20report/

**Log:**
[code]

*

[2018-09-19 08:07] lf1029698952 commented on #11107
I have add haproxy as elb to proxy 9000 port, so my url is http://keycloak-eclipse.zhubajie.la

[2018-09-19 08:09] eivantsov commented on #11107
But in your configmap you have two kinds of URL

[2018-09-19 08:16] dmytro-ndp commented on #11275
Constant TestTimeoutsConstants.ELEMENT_TIMEOUT_SEC = 20 seconds would be enough, IMHO.

[2018-09-19 08:28] garagatyi commented on #11112
I don't think it is a blocker for the eclipse con epic

[2018-09-19 08:34] david-martin commented on #10909
Thanks @vinokurig

[2018-09-19 08:43] AndrienkoAleksandr opened #11279 "Check compatibility che-theia-terminal-extension to the "plugin-api" and fix if something is not working"
### Description
Check compatibility che-theia-terminal-extension to the "plugin-api" and fix if something is not working

[2018-09-19 08:49] lf1029698952 commented on #11107
sorry, I have updated my env configmap, latest env configmap:
[code]
and che-eclipse.zhubajie.la、keycloak-eclipse.zhubajie.la are resolved to my elb ip

[2018-09-19 09:09] ibuziuk commented on #11112
@sleshchenko are you ok if we postpone this task till the next sprint ?

[2018-09-19 09:16] eivantsov commented on #11107
Since workspace container is created and bootstrapper is curled and it runs.. can you check bootstrapper logs once again with this new correct configmap?

[2018-09-19 09:50] Ohrimenko1988 opened #11281 "Update usecases in "PhpAssistantFeaturesTest" for catching known bugs #10117 #10698"
### Description
We have the "PhpAssistantFeaturesTest" selenium test which doesn't catch bugs #10117 #10698 but it should. We have to update existing "hoverShouldBeDisplayedWithExpectedText" and "findReferenceNodeShouldBeDisplayed" use cases for catching this bugs.

[2018-09-19 10:03] lf1029698952 commented on #11107
thanks.
I use "kubectl logs 'workspace pod'", there is nothing output.
and exec workspace pod:
[code]
kubectl get event -n eclipse:
[code]
and chrome console output:

[code]

[2018-09-19 10:11] KOSSOKO commented on #11270
@eivantsov thanks for your answer. I'm trying to follow the instructions under the link  but i face difficulties to connect to eclipse che with my Keycloak admin account  (username admin and password admin). I decided to get a token using curl with the command curl    `--data "grant_type=password&client_id=cb07ed3daz58-edddd50-4addd6e-be17-fcf49dff8b242&username=admin&password=admin"   http://10.2

[2018-09-19 10:52] Ohrimenko1988 commented on #11276
Done https://github.com/eclipse/che/pull/11277

[2018-09-19 11:20] eivantsov commented on #11270
@KOSSOKO it should be your Che user admin. It is admin by default but perhaps you have changed password?

[2018-09-19 11:37] eivantsov commented on #11107
@lf1029698952 bootstrapper definitely fails to start but I have no idea why - the log is pretty weird.

[2018-09-19 11:43] skabashnyuk commented on #11242
@aditya-konarde @l0rd we do have a concept of "super user" or "admin". We call it user with "manageSystem" permission.

Small remark. If Che is connected to Keycloak or other OIDC provider it will mean a number of users who at least once used Che.

ok

We might need pagination here.

I'll try to make a prototype of json so we can make sure we are talking about the same thing.

[2018-09-19 11:46] KOSSOKO commented on #11270
@eivantsov thanks a lot. Indeed, the password was modified by my colleague. Thanks

[2018-09-19 11:48] skabashnyuk commented on #11255
@l0rd why do we need hashed images?

[2018-09-19 11:54] SkorikSergey commented on #5084
Cannot reproduce in CHE 6.12.0-SNAPSHOT.

[2018-09-19 11:54] #5084 closed

[2018-09-19 12:04] tsmaeder opened #11282 "File Watching by PathMatcher is Broken"
I have noticed that we send no "didChangeWatchedFile" notifications to language servers anymore. A bit of analysis has led me to believe that this facility is generally broken:

File watching by PathMatcher is based on the fact that FileWatcherByPathMatcher gets notifications from the FileTreeWalker about directory and file creations and deletions. It then does a FileWatcherByPathValue#watch() on

[2018-09-19 12:05] tsmaeder commented on #11282
[code]

[2018-09-19 12:07] tsmaeder commented on #10794
I suepect this is caused by https://github.com/eclipse/che/issues/11282

[2018-09-19 12:39] tsmaeder commented on #10794
Maybe we should register with the FileTreeWalker directly instead of using the native file watcher service. Being informed late of changes is a normal occurrence in IDEs. Also, for example registering for all *.java files for jdt.ls may very well overload the native file watcher service on Linux.

[2018-09-19 12:41] sunix commented on #11267
will we have CORS issue with that as well ?

[2018-09-19 12:44] skabashnyuk commented on #11267
@sunix can you consolidate all API on master on which you need CORS and create an issue for that?

[2018-09-19 12:46] #11270 closed

[2018-09-19 13:06] ibuziuk commented on #11197
@sleshchenko @amisevsk guys, what is the workaround for this issue (manual removal of the deployment) ?

[2018-09-19 13:09] dkuleshov commented on #10794
Actually `FileWatcherManager` which is used in `LanguageServerFileWatcher` was initially designed to get near real time responses from file system and it is not expected to track great amounts of files (because of the limitations of inotify linux kernel subsystem).

But in your case if you're saying that latency is not an issue, we obviously should use `FileTreeWalker` which is exactly designed to

[2018-09-19 13:16] apupier opened #11284 "Avoid progress reporting blocked at 100% for several minutes when importing big project"
### Description
I tried to import Che in Che.
it took several minutes and the progress reporting was saying "100%" after several seconds.

![image](https://user-images.githubusercontent.com/1105127/45755452-c2521480-bc1e-11e8-8a21-ea355662e924.png)

it would be nice to have a smoother progress reporting and avoid to be blocked at 100% for several minutes

### Reproduction Steps

**OS and version:*

[2018-09-19 14:12] apupier opened #11285 "Support ANSI color for Maven console output"
### Description

since Maven 3.5.0, Maven console output is providing ANSI color by default: https://issues.apache.org/jira/browse/MNG-3507

the current console in Che doesn't support it which leads to strange values displayed: "[1m--- [0;32"

![image](https://user-images.githubusercontent.com/1105127/45758816-cbdf7a80-bc26-11e8-89eb-5afe1048d4e3.png)

### Reproduction Steps

**OS and version:**

[2018-09-19 15:55] rbaumgar opened #11286 "dashboard does not show the recent workspaces in the correct order"
### Description
after stopping a my workspace I do not see the workspace at the top of the dashboard

### Reproduction Steps
I made the CHE workshop at bit.ly/che-workshop.
After finishing the work I stopped the workspace and returned to the dashboard. But I did not find the newly created workspace (pet-store) under the list of recent workspaces.
I had already 7 workspaces before I started the wor

[2018-09-19 21:05] amisevsk commented on #11124
@benoitf Could you confirm that this issue still exists on current master? I just tried to start a workspace with plugins, with the `che-plugin-registry` deployment scaled to zero, and I got the error message
[code]
This is with current latest images, on minishift and the dev-cluster.

[2018-09-19 22:05] l0rd commented on #11255
@skabashnyuk we need to tag images (with the hash) to be able to pull and use them even when a newer version has been pushed to the docker hub. Previously, at every commit to master, the old image was replaced by a new one. There was no way to pull and use the old one anymore (it's like if we were using a SNAPSHOT version).

[2018-09-20 02:26] lf1029698952 commented on #11107
Thanks for your answer, I will change a cluster and reinstall.

[2018-09-20 04:05] nicaiseeric commented on #8712
@fengshaun i'm running into the same concerns, did you succeed to run chethrough tomcat ? if yes could please share your hints?

[2018-09-20 05:05] benoitf commented on #11124
issue was when registry is not even deployed and that master has not the URL provided as well

[2018-09-20 06:05] ibuziuk commented on #10903
@skabashnyuk @sleshchenko @mshaposhnik guys, after update on prod to 6.11.0 we have an enormous number of this logs kibabana (more than 105 000 thousand of entries and this figure keeps growing - the common number of log entries in kibana for this pod is 125 000). Any ideas how this might affect che-server functionality ? (not sure if it is related somehow but che-server pod has been restarted 4 t

[2018-09-20 07:32] garagatyi commented on #11124
@amisevsk I think the case is when registry env var is set to NULL - then we completely ignore WS.NEXT config in a workspace.

[2018-09-20 07:37] mshaposhnik commented on #10903
@ibuziuk we're already merged the fix which will catch such kind of errors and produce more lightweight exception.  But the reason of such behavior is still not fully clean. We see that some ws-agent code is still running afters the WS itself is deleted. Investigation issue is https://github.com/eclipse/che/issues/11257

[2018-09-20 07:42] dmytro-ndp opened #11287 "Build of docker image eclipse/che-mount:nightly failed"
### Description
Building of Docker Image eclipse/che-mount:nightly is failing because next command:

returned a non-zero code: 2
[code]

This error blocks nightly build of Eclipse Che images here https://ci.codenvycorp.com/view/qa/job/all-che-docker-images-nightly

[2018-09-20 07:58] Ohrimenko1988 commented on #11276
Still actual.
Report with a reproduced problem:
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/364/Selenium_20tests_20report/

[2018-09-20 08:20] #11287 closed

[2018-09-20 08:53] gibbon-cn opened #11290 "Error occured when creating workspace with volumes"
Error occured when creating workspace with volumes

First in localhost:

    docker create -v /dbdata --name dbstore ubuntu /bin/true

Then a workspace is created with config for machine

    {
        "dev-machine": {
            "attributes": {
                "memoryLimitBytes": "2147483648"
            },
            "env": {},
            "installers": [
                "org.eclipse.che.ws-ag

[2018-09-20 08:54] #11158 closed

[2018-09-20 10:09] slemeur commented on #10881
What is the status of this work? cc @ashumilova and @olexii4

[2018-09-20 13:02] giangiangian commented on #10473
I have the same issue; I am in an environment with more than 100 machines, and I need each one of them to host a single user docker instance of Eclipse Che. The /home/ directory, however, is an NFS mount, and therefore I am unable to start a workspace container for the same exact reason (and, anyway, I don't think it would be a good idea to share the same directory on 100+ different instances of C

[2018-09-20 13:13] #11198 closed

[2018-09-20 14:37] vkuznyetsov opened #11295 "Setup QA process for CHE with Theia onboard."
### This is an epic issue about setting QA process for CHE with Theia functionality.

- [ ] Setup infrastructure on CI for nightly running Selenium test suit on CHE with Theia.
- [x] Define use cases we need to cover with automatic tests for CHE with Theia. #12170
- [ ] Create a test plan for covering CHE with Theia functionality.
- [ ] Create a test suit for testing CHE with Theia.

[2018-09-20 15:15] amisevsk commented on #11197
@ibuziuk That is the only way to resolve it pre-PR #11253

Closing since #11253 is merged.

[2018-09-20 15:15] #11197 closed

[2018-09-20 16:09] l0rd commented on #11260
@garagatyi I don't get your answer. There are [3](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L79) [stacks](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L165) [to run theia](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L213). Why these are

[2018-09-20 16:35] ibuziuk opened #11297 "Need to release 6.11.1 version with hot-fixes"
PR fix changes that should be included in the release are - https://github.com/eclipse/che/pull/11292

[2018-09-20 17:18] eivantsov commented on #11290
@gibbon-cn Che does not support mounting named volumes or bind mount.

You can declare a volume per machine, and Che will create it

[2018-09-20 17:44] riuvshin commented on #11297
Done

[2018-09-20 17:44] #11297 closed

[2018-09-20 18:00] nicaiseeric commented on #8712
@fengshaun i'm running into the same concerns, did you succeed to run che through tomcat ? if yes could please share your hints?

[2018-09-20 19:02] ramene commented on #11107
@lf1029698952 I've been fighting with a similar issue deploying against k8s - I'm running into the same issues with websockets and learned it ties back to the ELB.  It's interesting you're still running into the issues after implementing HAProxy as I had the same idea.

A good thread to follow with respect to the websockets is: https://github.com/eclipse/che/issues/10300 and make note of this comm

[2018-09-21 02:30] gibbon-cn commented on #11290
"declare a volume per machine", How to do that?

[2018-09-21 03:54] SharkJ opened #11299 "How to add a brand new language to Eclipse Che"
I'm quite new to Eclipse Che, and I've been trying to find a way to add new language support to it. How exactly do I add a completely new language to Eclipse Che so that it is possible to develop programs in Che using my language?

[2018-09-21 04:57] eivantsov commented on #11290
https://www.eclipse.org/che/docs/volumes.html

[2018-09-21 06:35] LahiruT94 opened #11300 "LanguageServerLauncherTemplate cannot resolve."
### Description
Developing a plugin with LanguageServerLauncherTemplate. And the imports are not working

![meaeder](https://user-images.githubusercontent.com/34393074/45863866-9a38f180-bd95-11e8-8440-f7fa81986e23.png)

**OS and version:**    Windows 10

**Diagnostics:**
I'm trying to follow up the EclipseChe conf 2018 language server build. Above are the sources for the plugin

[2018-09-21 07:40] Ohrimenko1988 commented on #11276
The bug has not been reproduced in the fresh report:
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/367/Selenium_20tests_20report/

[2018-09-21 07:40] #11276 closed

[2018-09-21 08:04] mshaposhnik commented on #10995
This is because reading of stacks requires permissions.  So when checking premissions, there is no difference between `No permission for given stack` and `No given stack`. Need to find idea how to workaronud this.

[2018-09-21 08:31] Ohrimenko1988 opened #11302 "Unexpected fail of "CheckRestoringSplitEditorTest" selenium test"
### Description
We have unexpected fail of "CheckRestoringSplitEditorTest" selenium test. It looks like something went wrong with a method which sets the cursor to specified position. We should investigate and resolve this problem.

**Log:**
[code]
**Screenshot:**
![rrr](https://user-images.githubusercontent.com/22724619/45869661-b5096700-bd91-11e8-9342-0878c9930d73.png)

**Report with reproduced

[2018-09-21 08:59] csp05 opened #11303 "Expected BEGIN_ARRAY but was BEGIN_OBJECT at line 1 column 11 path $links"

[2018-09-21 08:59] #11303 closed

[2018-09-21 09:02] artaleks9 commented on #10012
_21.09.2018_
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/367/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.gitImportWizardFormTest

[2018-09-21 09:08] garagatyi commented on #11295
@vkuznyetsov the first case that I can suggest (and the most important in any case) is that Theia gets opened from UD when WS.NEXT workspace with Theia editor is started. The same should be true for a factory. Here are 2 cases which are pretty clear to me. If they are not clear to QA team they can comment here to get more info from me. Since this stuff is important, I believe, there is no need to

[2018-09-21 09:39] lf1029698952 commented on #11107
@ramene Thanks for your replay,
![image](https://user-images.githubusercontent.com/11751263/45873318-b6a05280-bdc4-11e8-87ff-a8f267510596.png)
[code]
It looks websocket authentication issue, I modify web origins URL "*", but no solution.

[2018-09-21 09:54] dmytro-ndp opened #11304 "Adapt OpenShift-related E2E test workspace templates to use JDT LS"
### Description
There are [openshift-related test workspace templates](https://github.com/eclipse/che/tree/512329915d8ff4f29c937b99c40c3ca4f3170b39/selenium/che-selenium-test/src/test/resources/templates/workspace/openshift) which should be adapted to use JDT LS as well as [docker-related ones](https://github.com/eclipse/che/tree/512329915d8ff4f29c937b99c40c3ca4f3170b39/selenium/che-selenium-test/

[2018-09-21 10:05] l0rd commented on #11260
@garagatyi but @jonahgraham asked if it was possible to "add a new stack for Theia that just works in Kube" https://github.com/eclipse/che/issues/11260#issuecomment-422406298

#11266 is an excellent idea

[2018-09-21 10:14] eivantsov commented on #11290
Try it without previously creating a volume with such a name on the host

[2018-09-21 10:20] eivantsov commented on #11300
@LahiruT94 which doc or blog post do you follow?

[2018-09-21 10:51] LahiruT94 commented on #11300
https://github.com/tsmaeder/che-ls-spellcheck this is the git repo for the demonstration @tsmaeder  used in Checonf 2018.

Its in the part 6 of the conf creating a language server. (https://www.youtube.com/watch?v=UvNs03baIrQ&t=3138s)

[2018-09-21 10:52] tsmaeder commented on #11304
We'll need to add jdt.ls as a language server wherever java is used.

[2018-09-21 11:04] tsmaeder opened #11305 "TextDocumentService uses Eclipse text support"
TextDocumentService in wsagent uses Eclipse text classes (Document, Position, etc.). However, these classes are not available anymore in the jdt.ls branch (we want to get rid of eclipse libraries).
We needt to replace the corresponding code with our own implementation.

[2018-09-21 11:11] ashumilova opened #11306 "Add new "che" namespace to Plugin API to have dedicated APIs"
The Che specific namespace for Plugin API is needed to bring the ability for plugins to interact with Che specific objects (workspace, factory, machine, commands etc).
The Che plugin APIs should be provided by separate extension, that will extend the existing plugin system, and will be included in Che+Theia image by default.
For now the needed APIs are the following:
- [x] workspaces
- [x] factori

[2018-09-21 11:17] slemeur commented on #11295
@vkuznyetsov : thanks for creating the epic.

+1 with @garagatyi : you should work with the engineers to get the understanding of what are the most important pieces which can be tested now (and automated). And then, you also have all the use cases from the previous IDE that you should be covering too.

[2018-09-21 11:33] es13b1018 opened #11308 "Concept of ProjectTypes and FileTypes in Next Gen Che -Theia IDE?"
Hi,

I have extended the Eclipse Che ide (GWT) to have custom ProjectTypes and FileTypes. I want to know if there is going to be anything like that in the Next Gen Che -Theia IDE. Will there be something like Create JAVA project, etc. Any insight on this will help.

Also, is there any documentation as of now regarding extending Theia in Che?

Thanks

[2018-09-21 12:04] eivantsov commented on #11308
@es13b1018 there are no project types as such. You will be able to create factories though and factory extension in Theia will import a project.

[2018-09-21 12:57] benoitf commented on #11146
FYI I've updated issue description

[2018-09-21 13:07] #11304 closed

[2018-09-21 13:10] #11219 closed

[2018-09-21 13:11] garagatyi commented on #11260
@jonahgraham you can copy stack of Openshift and change recipe type field to "kubernetes". It would work.
@l0rd After merging my PR we would be able to use k8s stack for both k8s and OS infras

[2018-09-21 14:57] benoitf commented on #11306
I think it should more "extend" than "patch" the existing plugin system

[2018-09-21 15:05] musienko-maxim commented on #10699
So as we've just clarified this feature works as well with Ctrl+P key.  And we should implement this in our tests. But this one also is invoked by `((` and `,` symbols. And this may be bring potential conflicts. We have to think how it should work together.
Also after invocation of `(` symbol we have unexpected exceptions in the dev-machine console under `TypeScript` LS. So, we are going to check

[2018-09-21 17:10] AffectedArc07 opened #11316 "Fails to connect to WS (browser and server)"
### Description
I am trying to run the docker image on VMware PhotonOS, container optimised Linux distro designed to run in ESXI easily. When I run the command to start up the image, I am told that the (browser => ws) and (server => ws) connections are not ok.

Command log:
[code]

### Reproduction Steps
Make a PhotonOS VM on ESXI 6.5 out of this image:
http://dl.bintray.com/vmware/photon/2.0/GA/o

[2018-09-23 08:42] artaleks9 commented on #11227
The last reports on the master CI show,  that the test does not have any failed test methods related to the _'StaleElementReferenceException'_

[2018-09-23 08:42] #11227 closed

[2018-09-23 09:01] artaleks9 opened #11317 "Investigate the failing selenium test 'GitChangeMarkersTest' on CI job"
### Description
* In the last time the selenium test _GitChangeMarkersTest_ is failed when run on the CI job via the _'stale element reference'_: _element is not attached to the page document_
* Need to find the solution for it and fix

**See the report:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-ocp/407/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.sele

[2018-09-24 05:52] eivantsov commented on #11316
@AffectedArc07 you need to make sure the ephemeral port range isn't filtered.

[2018-09-24 06:52] #10903 closed

[2018-09-24 06:52] mshaposhnik commented on #10903
We fixed the DB ex, for futher investigations there is https://github.com/eclipse/che/issues/11257

[2018-09-24 07:12] Ohrimenko1988 opened #11319 "Unexpected fail of "InheritClassTest" selenium test"
### Description
We have unexpected fail of "InheritClassTest" selenium test. It looks like something went wrong with method which checks markers appear. We have to investigate and resolve this problem.

**Log:**
[code]

**Screenshot:**
![erwrw](https://user-images.githubusercontent.com/22724619/45940508-2d666700-bfe2-11e8-913c-f12b93f49e06.png)

**Report with reproduced problem:**
https://ci.coden

[2018-09-24 07:29] #9871 closed

[2018-09-24 07:29] #9979 closed

[2018-09-24 07:49] musienko-maxim opened #11320 "Investigate and fix problem with running E2E tests on K8S infrastructure"
### Description
We have last 12 run on CI with failed status. The reason error like: `error: release che failed: roles.rbac.authorization.k8s.io "exec" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["pods/exec"], APIGroups:[""], Verbs:["create"]}] user=&{system:serviceaccount:kube-system:tiller 3555748f-bfcd-11e8-8ddd-02426ee598ca [system:serviceaccounts system:serviceacco

[2018-09-24 08:54] tsmaeder commented on #10698
Note that this is a display bug only, double-clicking the result correctly jumps to the location of the reference.
The problem here seems to be the LSP positions are 0-based, so for display we would have to add 1, because the displayed line numbers start at 1.

[2018-09-24 08:56] tsmaeder commented on #10698
I've updated the title from "returns" to "displays" to better reflect the fact that this is display bug.

[2018-09-24 09:11] l0rd commented on #11146
@benoitf what about using labels on containers instead of environment variables to let Theia discover its plugin?

[2018-09-24 09:50] benoitf commented on #11146
@l0rd discussion is open. I thought it is easier to grab env variables than having access to labels when you're inside the container.

[2018-09-24 09:52] vparfonov commented on #10012
ok, @artaleks9 thanks for adding information looks like. Do you have manual steps how to reproduce it?

[2018-09-24 12:18] musienko-maxim opened #11324 "[Language server] The hoverProvider for TypeScript language server does not work"
### Reproduction Steps
* Create a workspace based on `node js` stack with enabled TypeScript LS
* Create the `typescript-greeter project` from the IDE Wizard
* Open the `greeter.ts` file and make sure that LS has been initialized properly.
* Hover cursor on `Greeter`
**Expected result:** The hover pop up should display message like `class Greeter`
**Actual result:** There is nothing happens
**Addi

[2018-09-24 12:39] Ohrimenko1988 commented on #11218
Done https://github.com/eclipse/che/pull/11293

[2018-09-24 12:39] #11218 closed

[2018-09-24 12:42] garagatyi opened #11326 "Explore Che master memory consumption with the grow of load from requests/WS starts"
### Description
When the amount of WS starts/requests to Che master grows memory consumption of tomcat process grows too and for managing Che on an enterprise scale an operator would want to know how much memory does it need to serve N users or N workspaces in parallel.

[2018-09-24 12:54] skabashnyuk commented on #11326
@garagatyi are you sure you are looking on correct config .
What about this line https://github.com/redhat-developer/rh-che/blob/master/openshift/rh-che.config.yaml#L36?

[2018-09-24 12:57] garagatyi commented on #11326
Yes, it was changed today only.

[2018-09-24 13:01] vkuznyetsov opened #11327 "Create Selenium test covered Theia stack"
Cover next steps with Selenium tests

1. Open Che Dashboard
2. Select the “Workspace Next Hello World example on OpenShift” Stack
3. Create the workspace and Open in IDE
4. Verify if WS created successfuly
5. Open a terminal in Theia container
6. Git clone a sample Theia plugin and build it

[2018-09-24 13:03] tsmaeder opened #11328 "Don't fail when waiting for jdt.ls console messages"
There is a suspicion that we have cases where the jdt.ls startup messages ("started", "workspace updated") are missed because the ide is starting too slowly and the message have been written before the IDE is showing the "workspace machine" console window.
Not failing the tests when we time out waiting for the would be more reliable. Writing out a message to the log would still allow to identify t

[2018-09-24 13:15] tsmaeder commented on #11324
Does this work with other langauge servers?

[2018-09-24 13:29] tsmaeder commented on #11324
The duplicated content is a know issue, I doubt it has any bearing on this problem.

[2018-09-24 14:35] AffectedArc07 commented on #11316
Ok, Apolgoies for being new to this. Would I make sure its not blocked in my router, or is there something in OS to configure. And is there any way at all to check if the ports are unblocked/open/whatever.

Again, apologies, I am very new to this.

[2018-09-24 14:36] SkorikSergey commented on #11171
We need to rework "FindUsages" selenium page object to use "SeleniumWebDriverHelper" class. It can fix instability.

[2018-09-24 14:38] clacetera commented on #11054
@eivantsov  do you have any suggestion to make highlight works ?

I made some experiment but all seems to le be considering that in LS-Sidecar highlight is not suppoerted.

How i can investigate more ?

[2018-09-24 14:50] AndrienkoAleksandr opened #11330 "Stack "Java Theia on OpenShift" fail on the openshift.io, cause: memory limit"
### Description
Stack "Java Theia on OpenShift" fail on the openshift.io, cause: memory limit.

[2018-09-24 21:37] vparfonov commented on #9864
not actual

[2018-09-24 21:37] #9864 closed

[2018-09-24 21:38] vparfonov commented on #9866
@slemeur can we close it?

[2018-09-24 21:42] vparfonov commented on #6321
@slemeur Is this still actual ?

[2018-09-24 23:03] chintanp opened #11335 "Terminal and project not loading in Eclipse Che in Amazon EC2"
### Description
I followed the Che installation process as described here: https://www.eclipse.org/che/docs/quick-start.html and added a security group to expose the port 8080 and 32700+ on my EC2 instance on my local machines IP address so that che server can be accessed from this machine (As described here: https://stackoverflow.com/questions/35121115/how-do-i-get-eclipse-che-running-on-amazon-e

[2018-09-25 03:10] gibbon-cn commented on #11290
In the doc:

I created volume in two workspaces, with the same name 'vol1'. However, Che created two volumes with different names:

![](http://ww1.sinaimg.cn/large/006R7Jbbly1fvlm0vo0k9j30sr04xq35.jpg)

![](http://ww1.sinaimg.cn/large/006R7Jbbly1fvlm1ik4fyj30nx04zgls.jpg)

[2018-09-25 06:07] carusyte commented on #1289
Same attempt from my point. Is it able to support (n)devMember/(1)workspace with gitlab at this time?

[2018-09-25 06:27] slemeur commented on #6321
Yes.

[2018-09-25 06:47] Ohrimenko1988 commented on #11319
Done https://github.com/eclipse/che/pull/11325

[2018-09-25 06:47] #11319 closed

[2018-09-25 06:48] Ohrimenko1988 commented on #11302
Done https://github.com/eclipse/che/pull/11322

[2018-09-25 06:48] #11302 closed

[2018-09-25 07:42] skabashnyuk commented on #11326
I would say this is expected behavior with such small XMX.

[2018-09-25 07:59] apupier opened #11338 "Che in Che deployed on Docker: OOM can happen if host VM has not enough memory compared to requested for Che workspace"
### Description

### Reproduction Steps
- create a workspace using Che stack
- import eclipse che
- use command: "Deploy workspace agent"

**OS and version:**
Che 6.11.1
docker
windows 10

**Diagnostics:**

the preview url is giving a 404

end of log:
[code]

[2018-09-25 08:02] apupier opened #11339 "Clean compilation warnings"
### Description
there is a lot of compilation warning which makes it harder to detect real issues in log

### Reproduction Steps

**OS and version:**

master

**Diagnostics:**
for instance:

[code]

[2018-09-25 08:12] Ohrimenko1988 opened #11340 "Theia terminal is terminated after executing "yarn" command"
### Reproduction Steps
 - Open dashboard and launch "Theia workspace next hello world" stack
![stack](https://user-images.githubusercontent.com/22724619/46000313-daa7b080-c0b0-11e8-902c-ce08feaed0d2.png)

 - In the opened workspace click on "File|" -> "Open New Terminal" items in the top menu
 - In the opened terminal execute the next command: ```git clone https://github.com/ws-skeleton/che-dummy-

[2018-09-25 08:34] apupier opened #11341 "Avoid long "Loading..." without details when trying to navigate in a relatively big projects"
### Description
I imported Che in Che.
Every time I try to navigate in the project tree, I have to wait several seconds with a "Loading..." before continuing. it is breaking my development flow

![image](https://user-images.githubusercontent.com/1105127/46002500-88fe2680-c0ae-11e8-8946-9f7b24003e44.png)

### Reproduction Steps

**OS and version:**
Che 3.11.1 in Docker on Windows 10

**Diagnostics:

[2018-09-25 08:43] apupier commented on #11341
in browser console log, I have this error:

PUT http://localhost:32775/api/project/che 500
_app-0.js:17760 ERROR (org.eclipse.che.plugin.pullrequest.client.ContributionMixinProvider): Failed to apply mixin to project: che. Cause: Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.7.0.v20170811-d680af5): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.h2.jdb

[2018-09-25 08:54] apupier opened #11342 "Error logged when a Preview URL is not available"
### Description
preview URl doesn't make always sense and so it happens that none are provided.
In this case, there is an error logged in browser console:
"Uncaught (in promise) Error: Preview URL is not available"

### Reproduction Steps
- create workspace with Che stack
- import che in che
- launch "build" command

**OS and version:**

**Diagnostics:**

[2018-09-25 08:54] sleshchenko commented on #11112
@ibuziuk Yes, I'm OK.

[2018-09-25 09:14] #11273 closed

[2018-09-25 09:14] #11275 closed

[2018-09-25 09:14] #11305 closed

[2018-09-25 09:15] #10983 closed

[2018-09-25 09:16] #10479 closed

[2018-09-25 09:47] #11209 closed

[2018-09-25 10:58] #10780 closed

[2018-09-25 11:02] ashumilova opened #11345 "IDE2-2018-10-23 (Sprint: 156)"
### Sprint Goals:
1. Make execs work on Openshift
2. EclipseCon Europe Workshop
3. WebView API
4. Languages Plugin API
5. Tree View API
6. Documentation

##  1. Make execs work on Openshift
- [ ] Check compatibility che-theia-terminal-extension to the "plugin-api" and fix if something is not working https://github.com/eclipse/che/issues/11279

##  2. Tree View API
- [ ] [plug-in] Add Tree View and

[2018-09-25 11:33] SkorikSergey commented on #11221
Merged.

[2018-09-25 11:33] #11221 closed

[2018-09-25 11:38] garagatyi commented on #11326
Isn't lack of Xmx lead to Java OOM exception? In our case, it was Linux OOM as far as I understand.

[2018-09-25 12:24] SkorikSergey opened #11346 "Rework "FileStructure" selenium page object by "SeleniumWebDriverHelper" class"
### Description
We need to rework **"FileStructure"** selenium page object by "**SeleniumWebDriverHelper**" class. It increase stability of selenium tests that work with **File Structure** feature(FileStructureNodesTest, FileStructureCodeEditorTest).

[2018-09-25 13:31] sleshchenko commented on #11320
It is related to the following PR which adds creating of exec role https://github.com/eclipse/che/pull/11178. I've tested it on the latest `minikube`, used instructions in README.md to setting up Minikube and Che there and it worked just well.
Need to test it why it doesn't work on CI with https://github.com/riuvshin/k8s_dind/blob/master/k8s.sh

[2018-09-25 13:41] riuvshin commented on #11182
Before release please make sure that you will have a way to pull tags of `eclipse.jdt.ls` artifacts from somewhere, because what I see for now you pulling SNAPSHOTS from CI job workspace...

[2018-09-25 13:54] benoitf commented on #11045
already merged

[2018-09-25 13:54] #11045 closed

[2018-09-25 13:55] benoitf commented on #6769
won't fix

[2018-09-25 13:55] #6769 closed

[2018-09-25 14:06] skabashnyuk commented on #11326
@garagatyi I'm not sure that you expect from upstream Che? Do you know how to reproduce this issue or something that can identify the root of this issue?

[2018-09-25 14:12] sleshchenko opened #11349 "Make Kubernetes infrastructure create a special service account for workspaces"
### Description
If Kubernetes infrastructure creates a namespace for workspace then special service account (with `view` and `exec` rights) should be created there, otherwise, Tasks and Exec sidecars will fail because of permissions leaks. The same is done for OpenShift infrastructure https://github.com/eclipse/che/pull/11199

It depends on upgrading fabric8-kubernetes-client version to v.4.0.4 #1

[2018-09-25 14:16] sleshchenko commented on #10991
It is fully implemented for OpenShift infrastructure.
For Kubernetes infrastructure: helm chart is updated to create the needed service account for workspaces if the workspaces namespace is configured. If workspaces namespace is not configured (each workspace is created in a new namespace) then Kubernetes infrastructure has to create the needed service account too. It was not implemented because o

[2018-09-25 14:16] #10991 closed

[2018-09-25 14:19] skabashnyuk commented on #11326
Right now me and @ibuziuk investigating logs on rh-che. and this issue has a perfect sense for me https://github.com/redhat-developer/rh-che/issues/898. But until the time when we see real usecase on upstream Che  I see no value on this issue. Especially with custom JVM config with such low Xmx.

[2018-09-25 14:32] ibuziuk opened #11350 "Need to support ephemeral workspaces via `persistVolumes` attribute"
Currently, there are 2 PVC strategies [1] that can be used on k8s / openshift infrastructures. However, currently it is not possible to create  `ephemeral` workspace (with no PVC attached). Having this option would allow to workaround infrastructure issue with slow PVC mount and improve FS performance.
The idea is to have `persistVolumes` attribute and in case the value is set to `false`, regardle

[2018-09-25 19:05] AffectedArc07 commented on #11316
Found the issue, PhotonOS does wierd port filtering crap. I am running bare ubuntu now, and it works great. Thanks.

[2018-09-25 19:06] #11316 closed

[2018-09-25 19:39] amisevsk commented on #11095
Closing as https://github.com/eclipse/che-plugin-broker/pull/7 is merged.

[2018-09-25 19:39] #11095 closed

[2018-09-26 06:04] svenefftinge commented on #10325
That should be encapsulated and supported by the LS. I.e. allowing multiple LSP sessions and internally reusing caching where possible.

[2018-09-26 06:35] skabashnyuk opened #11352 "Setup default plugin registry url"
### Description
To be able to use ws.next features out of the box we would like to setup default plugin registry url to https://che-plugin-registry.openshift.io/

[2018-09-26 07:10] #11222 closed

[2018-09-26 07:28] apupier commented on #11236
Apache stack added
![image](https://user-images.githubusercontent.com/1105127/46064035-8d8a1400-c16e-11e8-8186-af47abbcfe8d.png)

![image](https://user-images.githubusercontent.com/1105127/46064039-8f53d780-c16e-11e8-9d6d-3cbb4cb5f547.png)

[2018-09-26 07:28] #11236 closed

[2018-09-26 07:29] apupier opened #11353 "Provide a sample to Apache Camel stack"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-26 08:58] sunix opened #11356 "Che-Theia: Test task (che commands) with a factory on che.openshift.io and workspace.next config"
### Description
Following https://github.com/eclipse/che/issues/11279
Maybe using the flow https://github.com/eclipse/che-theia-factory-extension/blob/6f37e985df0fa237865ff024d71c86ad47f35a9a/README.md but on che.openshift.io and then adapting it for workspace next

[2018-09-26 09:06] Ohrimenko1988 commented on #11327
This task blocked by issue: https://github.com/eclipse/che/issues/11340

[2018-09-26 09:15] musienko-maxim commented on #11324
Yes, this problem is reproduced for TypeScript LS only

[2018-09-26 10:11] l0rd commented on #11340
@Ohrimenko1988 can you please provide the memory limit for the theia container?

![image](https://user-images.githubusercontent.com/606959/46073488-507d4c00-c185-11e8-80a5-56be53f5acda.png)

[2018-09-26 10:39] tsmaeder opened #11359 "Renamed Open Files Are Closed"
We have intermittent failures in Selenium tests when refactoring classes and then checking that the class is open in an editor (for example, in TestEnumerationsTest). The suspected reason for this is that the class EditorFileStatusNotificationOperation is closing the editor because it gets the "delete" notification from a rename or move and closes the editor before ApplyWorkspaceEditAction is able

[2018-09-26 10:45] geiseri commented on #11299
I was looking at: https://www.eclipse.org/che/docs/language-servers.html#adding-a-language-server-config as a start.  I am currently using the LS sidecar approach.

[2018-09-26 10:58] garagatyi commented on #11326
@skabashnyuk I removed info about our OOM case since it is indeed not related to the topic. The idea is to explore overall memory consumption to properly operate Che on an enterprise-level cluster.

[2018-09-26 11:01] #11352 closed

[2018-09-26 11:09] mshaposhnik commented on #11120
Is that this|(https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/wsplugins/brokerphases/WaitBrokerResult.java#L44) timeout meant?

[2018-09-26 11:20] tsmaeder opened #11361 "DebugExternalClassTest does not wait for jdt.ls"
DebugExternalClassTest fails in the jdt.ls branch. The screenshot indicates that the macro ```${current.project.path}``` evaluates to and empty string. I noticed that the test does not wait for jdt.ls to process the project being debugged. We should do this to make sure this is not the cause.

[2018-09-26 11:32] Ohrimenko1988 commented on #11340
@l0rd Please, take a look:
![eeee](https://user-images.githubusercontent.com/22724619/46076980-e9b55e00-c197-11e8-95c9-f7813605db01.png)

But I supose that problem is solved because I got expected output after try of bug reproduce.
![rrrtrtrtr](https://user-images.githubusercontent.com/22724619/46077046-2bde9f80-c198-11e8-9c03-c6ccc871c6ca.png)

[2018-09-26 11:38] l0rd commented on #11340
Cool. Yes that was a memory problem. We had a few PRs that addressed that in the last days. I think we can close this issue now.

[2018-09-26 11:40] SharkJ opened #11363 "Che build failure: JsonBasedLanguageServer Deprecated"
I was trying to build eclipse che after modifying it to include a new language server (mydsl) after following a somewhat old tutorial. However, I added the required files accordingly and after so much debugging, I'm getting this error saying that this particular JsonBasedLanguageServer is deprecated, etc. Can anyone tell me what I can do to complete my build and produce the intended output?

This

[2018-09-26 11:42] #11340 closed

[2018-09-26 11:46] SharkJ commented on #11299
Was it successful? I'm quite confused by the explanations in the sidecar approach explained in che docs.

[2018-09-26 11:59] sleshchenko commented on #11120
@mshaposhnik Yes, it's there.

[2018-09-26 12:16] garagatyi opened #11364 "Clean up workspace hanging in the starting state when Che master forcefully restarts during the workspace start"
### Description
Now if Che master restarts when a workspace is starting we might have a situation when the workspace doesn't work and hangs in a starting state.
Next trial of that WS start would clean it up, but we can improve it by automatically clean up of such workspaces.

Related to https://github.com/redhat-developer/rh-che/issues/899, https://github.com/redhat-developer/rh-che/issues/898
###

[2018-09-26 13:02] #11220 closed

[2018-09-26 13:29] SkorikSergey commented on #11162
All selenium tests from **languageserver** package were updated according to the test plan.

[2018-09-26 13:29] #11162 closed

[2018-09-26 15:50] l0rd commented on #11327
Now even step 3 ("Start Theia in hosted mode works"). Could you please add to the following test to the list:

7. Start Theia in Hosted mode and Run the plugin in the Development Host

[2018-09-26 15:58] musienko-maxim commented on #11141
So we can represent Create new project wizard on next decomposition map:
![g6573](https://user-images.githubusercontent.com/1640058/46092680-15e3d580-c1be-11e8-8162-44fac8d1a448.png)

[2018-09-26 16:41] musienko-maxim commented on #11141
As we see - we have 22 functional units. So, we have 7 uncovered units and 2 which covered in half. In this way common sum of uncovered units 7+0.5+0.5=8
For calculation common coverage we get very simple formula:
100-(22/100*8)=98.24%
`The Create new project wizard widget` is covered 98.24%

[2018-09-26 16:58] dmytro-ndp commented on #11206
Setting 'Git Contribute' preference to default value after/before the test execution would not be enough, so that tests could intersect each other being executed in parallel.

[2018-09-26 20:32] bdube commented on #8920
I also use the vi keybindings and find that some of my frequently used bindings are not implemented (or maybe can't be implemented for other reasons). Where are the keybindings implemented?

[2018-09-26 20:39] dneary commented on #10644
I would like to add a few more topics that we need to get done - I do not have permissions to edit the ticket.

1. We will have 2 Chromebooks on the Che stand, with wired internet, to do demos and to show Che. We can give these Chromebooks away at the end of the week, and I would like to have a challenge - have people complete a small coding challenge on che.openshift.io to enter a draw, and then

[2018-09-27 06:52] SharkJ opened #11372 "Ls-Sidecars Build Failure - java.lang.RuntimeException: wsagent server doesn't exist"
I followed the Ls-Sidecars instructions provided in che docs. However, when I open the workspace built using the new stack, I get an error saying IDE initialization failed: java.lang.RuntimeException: wsagent server doesn't exist.

![untitled](https://user-images.githubusercontent.com/23653853/46127944-c0580900-c24f-11e8-9e4e-9b954ffcd1ae.png)

Please, If anyone could help here, it'll be highly ap

[2018-09-27 07:17] #11120 closed

[2018-09-27 07:18] eivantsov commented on #11372
@SharkJ you need to enable Workspace API engine for your machine. You can do that in Dashboard, Workspaces view > Installers

[2018-09-27 07:48] garagatyi commented on #11097
Closing as fixed

[2018-09-27 07:48] #11097 closed

[2018-09-27 07:57] artaleks9 opened #11373 "Investigate the failing selenium test 'RenamePackageSpringTest' on CI job"
### Description
* In the last time the selenium test _RenamePackageSpringTest_ is failed when run on the CI job via the _'NoSuchElementException'_: _no such element: Unable to locate element_
* Need to find the solution for it and fix

**Che version**: 6.12.0

**See the report:**
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-docker/362/Selenium_20tests_20report/fail

[2018-09-27 08:08] SharkJ commented on #11372
It is already enabled along with Exec and Terminal.

[2018-09-27 08:10] eivantsov commented on #11372
Share your workspace config

[2018-09-27 08:10] SharkJ commented on #11372
{
  "commands": [],
  "environments": {
    "default": {
      "recipe": {
        "contentType": "application/x-yaml",
        "type": "compose",
        "content": "services:\n dev-machine:\n  image: eclipse/ubuntu_jdk8\n  mem_limit: 2147483648\n  depends_on:\n   - gols\n gols:\n  image: eivantsov/go-lang\n  mem_limit: 1073741824\n"
      },
      "machines": {
        "gols": {
          "env":

[2018-09-27 08:15] eivantsov commented on #11372
ws-agent installer should be in dev-machine

[2018-09-27 08:18] skabashnyuk opened #11374 "KeycloakAuthenticationFilter and MachineTokenAccessFilter binding customization"
### Description
In this place https://github.com/eclipse/che/pull/11370#issuecomment-424984870 we met situation when developers of custom Che assembly are struggling with zero ability to customize binding of
KeycloakAuthenticationFilter and MachineTokenAccessFilter. The goal of this issue is to provide a better way to configure this filters.

[2018-09-27 08:19] SharkJ commented on #11372
It works fine now! Thank You for helping!

[2018-09-27 08:29] SharkJ commented on #11372
![image](https://user-images.githubusercontent.com/23653853/46133172-80981e00-c25d-11e8-8b52-6d656c5498ed.png)

![image](https://user-images.githubusercontent.com/23653853/46133192-8b52b300-c25d-11e8-9f31-1ab2c78c05e6.png)

![image](https://user-images.githubusercontent.com/23653853/46133206-9279c100-c25d-11e8-9780-c8b12c1040d4.png)

Some of the messages I'm getting

[2018-09-27 09:39] #11141 closed

[2018-09-27 09:47] AndrienkoAleksandr opened #11376 "Move all plugin samples to official repository"
### Description
It would be nice to move all  plugin samples from  https://github.com/theia-demo-plugins/theia-frontend-plugin/tree/master/src to the official repository https://github.com/eclipse/che-theia-samples

[2018-09-27 10:02] RomanNikitenko commented on #8920
@bdube
We use Orion editor with built-in vi keybindings support, you can try it here https://orionhub.org

[2018-09-27 11:14] SharkJ commented on #11372
The error was due to Terminal not being activated while running the workspace.  The issue is solved by activating Terminal Installer in the machines.

[2018-09-27 11:14] #11372 closed

[2018-09-27 11:21] skabashnyuk commented on #10945
I have the same issue on
macOS 10.13.6
Chrome  69.0.3497.100

[2018-09-27 11:57] #10586 closed

[2018-09-27 12:02] vparfonov opened #11379 "IDE-2018-10-23 (Sprint: 156)"
### Issues

#### Theia goals
- [ ] Add Theia Plugin APIs to support VS Code Kubernetes Tooling #10574

#### Che goals

- [ ] [Language server] Content of language server hover feature is duplicated #10117
- [x] Import project from CHE config feature looks outdated #10864
- [ ] [Language server] Signature Help feature doesn't work with "(" character #10699
- [x] [Language server] Find References fe

[2018-09-27 12:07] skabashnyuk opened #11380 "Platform-2018-10-23 (Sprint: 156)"
### Features related to ws.next
- [x] Improve naming for wsnext tooling containers | https://github.com/eclipse/che/issues/11031 | 8
- [x] Walking skeleton pulling strategies | https://github.com/eclipse/che/issues/11017 | 5
- [x] Workspace.Next: Propagate logs from broker pod to ws-master | https://github.com/eclipse/che/issues/11069 | 3

### New features
 -  [ ] RFE: Expose usage metrics via Che

[2018-09-27 12:07] benoitf commented on #11345
is
`Replace git clone with a command that generates a hello world plugin scaffold (task that executes the yarn and command that calls that task)`
to integrate https://github.com/eclipse/theia-yeoman-plugin ?

[2018-09-27 12:22] vkuznyetsov opened #11381 "QE-2018-10-23 (Sprint: 156)"
### Sprint goals
- Improvement and stabilization of existing E2E selenium tests of Eclipse Che, creation of new tests and test plans.

### Issues tied to objectives
- [ ] Create Selenium test covered "start Theia in hosted mode and test the plugin" #11400 2sp
- [ ] Get rid of legacy code in the "Consoles" selenium page object #11217 3sp
- [x] Cover creation stacks from recipe by selenium test #114

[2018-09-27 12:41] garagatyi opened #11382 "Set sidecar and broker memory request"
### Description
We set memory limits for Che plugin broker and WS.NEXT sidecars, but we do not set a memory request.
When the memory limit is pretty low and a default memory request on an infra is bigger deployment of broker/sidecars fails.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-27 12:48] garagatyi opened #11383 "An Editor swapping example ( with Jupyter for example demo and blog post should be enough)"
### Description
We need to create a demo of swapping different IDEs in Che 7 workspace for the EclipseCon talk.
We can also do a blog post about that.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-27 13:30] skabashnyuk opened #11384 "Exposing metrics via HTTP for Prometheus consumption"
### Description
Setup process for exposing JMX Beans via HTTP for Prometheus consumption
See more https://github.com/prometheus/jmx_exporter

[2018-09-27 14:45] Ohrimenko1988 opened #11387 "Create method for obtaining text from "Theia" terminal"
### Description
For now we have a workaround method for the obtaining text from "Theia" terminal by "copy/paste":
[code]

This is not really true way and this method should be displayed on something like this: https://github.com/eclipse/che/blob/c22d609d6bc320034dc295e1252498211a83aeb1/ide/che-core-ide-app/src/main/java/org/eclipse/che/ide/processes/panel/ProcessesPanelPresenter.java#L1497-L1527

[2018-09-27 15:12] #11070 closed

[2018-09-27 15:12] #11068 closed

[2018-09-27 16:16] ibuziuk commented on #11350
PR merged - https://github.com/eclipse/che/pull/11343
Need to provide relevant doc PR

[2018-09-27 16:26] sunix opened #11390 "Che Theia: che-theia packaging and default theia packaging should be as close as possible"
### Description
ATM https://github.com/eclipse/che/blob/master/dockerfiles/theia/src/package.json and https://github.com/theia-ide/theia/blob/master/examples/browser/package.json are very different.
We are missing a lot of default theia features in the Che-theia image.
If possible, che-theia should contain all the default theia extensions + che specific ones

[2018-09-27 16:38] ibuziuk opened #11391 "PVC cleanup is never performed for the ephemeral workspaces"
### Description
https://github.com/eclipse/che/issues/11350 brings support of the ephemeral workspaces via `persistVolumes` attribute. Since the `persistVolumes`attribute is mutable (i.e. workspace can be started  with bound volume and then later `persistVolumes` could be added to the config), when ephemeral workspace is deleted no PVC cleanup will be performed.

### Reproduction Steps
- create wo

[2018-09-27 21:37] bdube commented on #8920
I found this [vi.js](https://github.com/eclipse/orion.client/blob/master/bundles/org.eclipse.orion.client.editor/web/orion/editor/vi.js) for Orion. Is that also the keybinding implementation used in Che?

[2018-09-27 22:34] tsmaeder opened #11393 "Fix Wait Conditions for LS Startup"
In many language server related tests, readiness of the language server is checked by looking for the string "Finished language servers initialization, file path '<path to a file being opened>'" in the console output. However, in the jdt.ls branch we changed this log statement to be debug level, since Java support triggers this code path very often. Instead, we should check for ""Initialized langu

[2018-09-28 06:44] #11317 closed

[2018-09-28 07:03] artaleks9 commented on #11373
* This issue should be resolved by PR https://github.com/eclipse/che/pull/11375/files, which fixes the same problem in the _ProjectExplorer_ by rework the _waitAndSelectItem()_ method.
* In this case is used the special method _waitNoExceptions()_ from the _SeleniumWebDriverHelper_.

[2018-09-28 07:33] artaleks9 opened #11396 "Investigate failing the 'checkFindProjectSymbolFeature() from the 'GolangFileEditingTest' on CI"
### Description
* Sometimes the method _checkFindProjectSymbolFeature()_ from the selenium test _GolangFileEditingTest_ is failed
* Need to find the reason and fix it

**Che version**: 6.12.0

**See the report:**
 https://ci.codenvycorp.com/view/qa/job/che-integration-tests-master-docker/423/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.languageserverGolangFileEditingTest

[2018-09-28 08:07] Ohrimenko1988 opened #11397 "Unexpected fail of "UploadIntoProjectTest" selenium test"
### Description
We have unexpected fail of "UploadIntoProjectTest" selenium test. It looks like that something went wrong with a method which checks editor text appears. We have to investigate and resolve this problem.

**Log:**
[code]

**Screenshot**
![fff](https://user-images.githubusercontent.com/22724619/46196023-96b1e700-c30e-11e8-81ca-ea1b6b3ce519.png)

**Report with reproduced problem**
htt

[2018-09-28 08:32] slemeur opened #11398 "Editor behaves improperly when in debug mode"
### Description
See the recording
![problem-editor](https://user-images.githubusercontent.com/1636769/46197315-beeb1700-c309-11e8-8f53-bb4d74966bd6.gif)

It automatically jump to the line above.
There are also a lot of formatting issue

### Reproduction Steps

**OS and version:**
che.openshift.io

**Diagnostics:**

[2018-09-28 09:31] Ohrimenko1988 opened #11400 "Create Selenium test covered "start Theia in hosted mode and test the plugin""
### Description
Cover next steps with Selenium tests:
 - do all steps which described in issue: https://github.com/eclipse/che/issues/11327
 - open command palette by "CTRL+ SHIFT + P ";
 - select folder projects/che-dummy-plugin/ui as Hosted Plugin Path:
 - click “Open” to start the new IDE instance in a new browser tab
 - in root window open the command palette, type “Hello” and select the “Hell

[2018-09-28 09:37] benoitf commented on #11400
FYI there are E2E tests for theia there
https://github.com/eclipse/che/tree/master/dockerfiles/theia/e2e/cypress/integration/theia

[2018-09-28 09:48] sleshchenko commented on #11364
There is one more similar issue for `STOPPING` workspaces. Locally it may be reproduced in the following way:
1. Create a workspace.
2. Start a workspace.
3. Set up debug breakpoint at the following line https://github.com/eclipse/che/blob/174e1aea9b5fc68815da7e7a485b6ff51b38ba15/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceRuntimes.java#L324
4. Go to

[2018-09-28 10:05] Ohrimenko1988 commented on #11400
@benoitf Of course you are right. But we have very urgent requirement for creating and tracking this functionality. And the simplest way is creating of the selenium test and run it in common scope on the existing infrastructure. Thank you for attention. We are definitely should figure out how to work with "Cyprus".

[2018-09-28 10:19] garagatyi commented on #11364
This is a nice way to reproduce the problem easily. With this approach we can also reproduce the bug when Che gets killed on a workspace start.

[2018-09-28 11:00] garagatyi commented on #11364
@skabashnyuk @ibuziuk FYI
We should consider taking this issue in the next sprint of either team

[2018-09-28 11:03] garagatyi opened #11401 "Ask a user to remove installers from a workspace when they enables WS.NEXT editor or plugin"
### Description
Now we can enable WS.NEXT editor and plugins from UD. And we even have UI for that on the creation of a  workspace. But this UI allows a user to enable WS.NEXT plugins without disabling Che 6 installers.
[This](https://github.com/eclipse/che/pull/11392) PR would prevent the start of such a workspace and that would mean that UD would create invalid WS from UI.
It would be a way bett

[2018-09-28 11:03] garagatyi commented on #11401
@ashumilova FYI

[2018-09-28 11:10] garagatyi commented on #11364
@skabashnyuk looks you are approaching the end of your team backlog for the EclipseCon epic. So, maybe you would have capacity to take it.

[2018-09-28 11:40] sleshchenko commented on #11069
I've investigated possible ways how to publish PluginBroker logs to a client and on meeting with @garagatyi we decided which way should be implemented.
So, I'm going to do the following changes:
Workspace API:
1. Rename `MachineLogEvent` to `RuntimeLogEvent`, and makes `machineName` field there optional. It will allow publishing log to a client which may be machine related or machine independent (

[2018-09-28 12:34] #11281 closed

[2018-09-28 12:35] ibuziuk commented on #11350
doc PR has been sent - https://github.com/eclipse/che-docs/pull/499

[2018-09-28 12:36] Ohrimenko1988 commented on #11397
Done https://github.com/eclipse/che/pull/11399

[2018-09-28 12:36] #11397 closed

[2018-09-28 13:33] dwhiteOteemo opened #11403 "Cannot install che on Openshift Origin. Keycloak fails to deploy: "openshift-identity-provider""
### Description
Attempting to deploy multiuser che on Openshift Origin but the deployment fails on keycloak. Get the following error:

Error syncing pod, skipping: failed to "StartContainer" for "che" with RunContainerError: "GenerateRunContainerOptions: secrets \"openshift-identity-provider\" not found"

Followed the instructions and launched the deployment with "deploy_che.sh --multiuser" but no

[2018-09-28 14:34] gazarenkov opened #11406 "Add permanently displayed message when IDE lost connection to ws-agent"
The problem is when ws-agent is down by some reason (OOM or so) IDE react displaying notification, disabling files menu, clearing project tree etc. But if user miss notification there is nothing telling him that IDE is not normally functioning (off-line in fact)

[2018-09-28 14:51] slemeur commented on #11406
+1

[2018-09-28 15:09] eivantsov commented on #11403
@dwhiteOteemo can you make sure that in your template the following env is set to optional? https://github.com/eclipse/che/blob/master/deploy/openshift/templates/multi/keycloak-template.yaml#L64

[2018-09-28 17:52] garagatyi opened #11408 "Disable liveness and readiness probes in Che deployment when deploy_che.sh is called with --debug option"
### Description
`deploy_che.sh` script has an option: `--debug`. This option allows debugging Che master by setting needed ports, k8s services, Che env var, etc.
But when I do actually debug Che I hit a point of time when Che master gets restarted by k8s/OS because it doesn't respond to liveness/readiness probes for quite a long time. This is especially painful when I dig into some very hard and u

[2018-09-28 17:52] garagatyi commented on #11408
@riuvshin @eivantsov @skabashnyuk @sleshchenko WDYT?

[2018-09-28 18:58] garagatyi commented on #11408
Looks like oc has it in docs:
[code]

[2018-09-28 19:18] dwhiteOteemo commented on #11403
Thanks. I ended up setting

export SETUP_OCP_OAUTH=true
export KEYCLOAK_USER=admin
export KEYCLOAK_PASSWORD=admin

And that got me past the keycloak issue.  Apart from the above, what other env variables do I need for multiuser on openshift? Couldn't really tell from the install guide. Pretty sure all my problems are based on not having the right vars.

OAuth client ID=
OAuth client secret=

[2018-09-30 11:21] garagatyi opened #11411 "Respect unrecoverable event that occurs when Pod spec is considered invalid by a k8s cluster"
### Description
Respect unrecoverable event that occurs when Pod spec is considered invalid by a k8s cluster.
Here is an example of an event that occurs in such situation:
<details>

[code]
</details>

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-09-30 13:14] slemeur opened #11412 "Weird font in terminal"
### Description

<img width="1777" alt="screen shot 2018-09-28 at 09 39 46" src="https://user-images.githubusercontent.com/1636769/46257977-7ecf9400-c4c3-11e8-86f8-d7d8fb787a76.png">

The font in the terminal looks weird.
I'm on Mac and was using chrome v69

**OS and version:**

**Diagnostics:**
che.openshift.io

[2018-09-30 13:15] slemeur commented on #11412
@vparfonov : This should be an easy fix right?

linking to: https://github.com/redhat-developer/rh-che/issues/935

[2018-09-30 14:02] piratos commented on #476
Was wondering the same but because of another need, I have a project that uses docker within the code base and as the provider is already a docker container that pushes me into a docker-on-docker hell ...

[2018-09-30 17:02] rkratky commented on #11093
Oops, I forgot to update this issue. This has been fixed in https://github.com/eclipse/che-docs/pull/493

[2018-10-01 03:43] #11259 closed

[2018-10-01 04:53] SharkJ opened #11415 "Implementing a new language by LS-Sidecars in Eclipse Che"
I'm currently following the LS-Sidecar implementation in the Eclipse Che document. However, I have come across a question on how to use a dockerfile for a language that I created by myself. If my language is in a Git repo, how do I access it by a dockerfile when implementing the sidecar? If anybody can answer, it will be much appreciated.

[2018-10-01 05:27] eivantsov commented on #11391
@ibuziuk can this be closed since the PR is merged?

[2018-10-01 05:29] eivantsov commented on #11299
@SharkJ you need to create own Docker image with a language server running inside it and listening on a port. After that, create a workspace with a custom recipe and declared server.

[2018-10-01 05:31] eivantsov commented on #11363
@SharkJ perhaps the tutorial you are following is indeed not up to date.

There are links to existing LS configs in docs https://www.eclipse.org/che/docs/language-servers.html#adding-a-language-server-config

[2018-10-01 05:37] eivantsov commented on #11339
@vparfonov may know

[2018-10-01 05:38] SharkJ commented on #11415
This is the sample Dockerfile given in the Eclipse Che doc.

# inherit an image with node.js and npm - runtime requirements for TypeScript LS
FROM eclipse/node

# install socat
RUN sudo apt-get install socat -y && \
    sudo npm install -g typescript@2.5.3 typescript-language-server@0.1.4

# run socat that listens on port 4417 with exec command that starts LS
CMD socat TCP4-LISTEN:4417,reuseaddr,f

[2018-10-01 05:56] eivantsov commented on #11415
@SharkJ say, you have built your language server locally, and the binary name is `myls`. Your Dockerfile will look like

[code]

[2018-10-01 05:57] SharkJ commented on #11299
What I'm confused about is how to run my language server in a docker image. I'm very new to Che and Docker and I can't seem to find the answer. How do I include the Language server in the Docker image? My language server is not currently available in the internet. How do I either use it from the local directory or by adding it to github?

This question is linked with issue #11415

[2018-10-01 05:58] eivantsov commented on #11338
@apupier how much RAM does your Docker VM have?

[2018-10-01 06:01] eivantsov commented on #11328
Closing the issue since the PR is merged. Feel free to reopen though

[2018-10-01 06:01] #11328 closed

[2018-10-01 06:03] eivantsov commented on #11341
@apupier I think it happens when you expand sub modules, and the IDE is resolving them.

[2018-10-01 06:04] eivantsov commented on #11359
Closing as fixed.

[2018-10-01 06:04] #11359 closed

[2018-10-01 06:05] apupier commented on #11338
it had default values. I just checked and it is 2G which seems far too low for the 7G indicated for the workspace. But how is it possible to allocate 7G workspace when the host vm has only 2G?

[2018-10-01 06:07] eivantsov commented on #11338
Che does not check available memory.

[2018-10-01 06:09] SharkJ commented on #11415
Do I still have to include the "FROM eclipse/node" entrypoint in the dockerfile?
And "RUN sudo apt-get install socat -y && \ sudo npm install -g typescript@2.5.3 typescript-language-server@0.1.4" is no longer needed, am I correct?

[2018-10-01 06:16] apupier commented on #11341
@eivantsov label is "kind/question". What is the question?

[2018-10-01 06:17] eivantsov commented on #11341
@apupier would you qualify this as a bug?

[2018-10-01 06:19] eivantsov commented on #11415
@SharkJ well, if your language server supports listening on tpc socket, you do not need `socat`. As to base image, in the example above I used eclipse/node since Typerscript language server needs nodejs and npm. You can use whatever base image makes sense for your particular language server.

[2018-10-01 06:20] apupier commented on #11341
it depends on your quality requirements on User Experience.
More than 10 seconds freeze between each click on a node of the tree seems a bug for me.
It can be considered as an enhancement request too (functionally it is working)

[2018-10-01 06:27] eivantsov commented on #10829
@sathibault I failed to reproduce on a Linux machine. I suspect this is a bug related to Win fs mount into a Docker VM:

![image](https://user-images.githubusercontent.com/5337267/46272973-34e6bc80-c55c-11e8-803b-8676e1f4871f.png)

And I do not think the tutorial in docs has been verified to work on Windows.

[2018-10-01 06:30] SharkJ commented on #11415
Thank you very much! I think I understand now.

[2018-10-01 06:30] eivantsov commented on #11284
@apupier what do you suggest? Close the import wizard and let a user edit files while the project is being cloned?

[2018-10-01 06:31] #11408 closed

[2018-10-01 06:32] eivantsov commented on #11238
@slemeur may know

[2018-10-01 06:34] apupier commented on #11284
if it i possible to start working, yes.
But I guess if it is still blocked, it is not completely possible, and in this case, i would suggest to improve the progress reporting and have it continuing reporting progress instead of being blocked at 100%

[2018-10-01 06:43] apupier commented on #11338
seems that it would be great; it would avoid to have OOM.

[2018-10-01 06:45] eivantsov commented on #11341
@apupier btw, I cannot reproduce it on linux. Also, your screenshot says that project isn't configured as a maven project.

This is how Che looks for me:

![image](https://user-images.githubusercontent.com/5337267/46273565-ba6b6c00-c55e-11e8-9d1a-a61c7d629f87.png)

In your case, modules aren't recognized as Maven modules.

[2018-10-01 06:55] eivantsov commented on #11338
@apupier when on OpenShift the infrastructure does it for you:

![image](https://user-images.githubusercontent.com/5337267/46273906-18e51a00-c560-11e8-9c9d-80801b89fad4.png)

[2018-10-01 06:57] mstavares commented on #11269
Hi @eivantsov @vparfonov  and @vzhukovskii

Any news about this?

Thanks,

[2018-10-01 07:13] Ohrimenko1988 opened #11416 "Unexpected fail of "TheiaBuildPluginTest" selenium test"
### Description
We have unexpected fail of "TheiaBuildPluginTest" selenium test. It looks like something went wrong with a method which checks the editor tab appearance. We should investigate and resolve this problem.

**Log:**
[code]
**Screenshot:**
![retret](https://user-images.githubusercontent.com/22724619/46274564-914cda80-c562-11e8-9967-20dcc52e58f7.png)

**Report with a reproduced problem:*

[2018-10-01 07:28] tsmaeder opened #11417 "Selenium Tests Rely on Sort Order in "Document Symbols" Widget"
there are a bunch of failures in the language server tests (both master and jdt.ls) in "checkGoToSymbolFeature()"
I think in this case, the tests are wrong: the use org.eclipse.che.selenium.pageobject.AssistantFindPanel.clickOnActionNodeWithTextContains(String), which selects all node containing the string in question.
This selects the first item, which is not something we should check for: the so

[2018-10-01 07:41] artaleks9 commented on #11223
* The problem with a _'stale element reference'_ was resolved by the PR (#11389), but now we have another failure: _'Expected condition failed: waiting for element to no longer be visible'_.
* So need to continue investigate, find reason and fix it.
* See the report:
https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/377/Selenium_20tests_20report/failsafe-report.html

[2018-10-01 08:06] SkorikSergey commented on #11171
Not reproduced.

[2018-10-01 08:06] #11171 closed

[2018-10-01 08:10] apupier commented on #6925
Red Hat has provided a [client for vs code](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml)  using a newly [written xml language server](https://github.com/angelozerr/lsp4xml) .
using the Language Servers should provide compatibility with Camel La,nguage Server as-is.

(both language servers are working fine together in VS Code for information)

[2018-10-01 08:11] SkorikSergey opened #11419 "Unexpected fail of CreateWorkspaceFromNodeStackTest selenium test"
### Description
We have unexpected fail of **CreateWorkspaceFromNodeStackTest** selenium test. The test sometimes fails because "web-nodejs-simple:run" processes tab is not active after refreshing web page . We should clarify reason and fix it.

**Failed selenium test:** CreateWorkspaceFromNodeStackTest

**Log:**
[code]

**Report with reproduced problem:**
https://ci.codenvycorp.com/view/qa/job/ch

[2018-10-01 08:51] garagatyi opened #11420 "Graceful fail of sidecar terminal when service account is not permissive enough to do everything needed"
### Description
When k8s service account doesn't have needed permissions terminal view of sidecar terminal just hangs with no error.
But I see an error in the browser console:
<details>

[code]
</details>

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-01 09:14] dmytro-ndp commented on #11417
@tsmaeder: could you, please, add the link to the failed test results on CI?

[2018-10-01 11:27] dwhiteOteemo commented on #11403
Thanks, I found the problem. We we're using 3.6 of Openshift Origin. When I switched to 3.10 everything worked.

[2018-10-01 11:27] #11403 closed

[2018-10-01 12:31] #10950 closed

[2018-10-01 13:22] garagatyi opened #11424 "Workspace RAM limit doesn't work with sidecar-based workspaces"
### Description
We have a limit of RAM for a workspace/user in Che. Unfortunately, with sidecar-based workspaces, it doesn't work because sidecar-based memory consumption can be evaluated on a start of a workspace only and we do not have code that would check memory needed for the workspace at this stage.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-01 13:52] tsmaeder commented on #11424
I don't understand how this is a problem. Could you explain for the unwashed masses?

[2018-10-01 13:52] mmorhun commented on #11267
Done.
Activity checker is added as Theia extension.
Requests to workspace master are performed from backend.
Both frontend and backend are optimized to send minimal amount of requests.

[2018-10-01 13:52] #11267 closed

[2018-10-01 14:15] sleshchenko commented on #10273
@garagatyi
The title says about containers health checks while the description contains an information that `right now we use hardcoded health checks` and actually we don't have any health checks for containers but we have for Che Servers(ws-agent, terminal, exec).
So, could you please clarify whether we should:
1. Introduce health checks for plugins containers;
2. Introduce health checks for plug

[2018-10-01 14:26] #11346 closed, assigned to SkorikSergey

[2018-10-01 15:06] sleshchenko commented on #11383
There is merged a PR with sample `jupyter` editor https://github.com/eclipse/che-plugin-registry/pull/39
But Workspace Loader is not able to load `Jupyter Editor` correctly just after workspace start and it is needed to refresh a browser page after workspace start
![jupyter-editor](https://user-images.githubusercontent.com/5887312/46295598-253d9700-c5a1-11e8-9694-ae7065024f62.gif)
I think it works

[2018-10-01 17:39] garagatyi commented on #11424
When we run Che with a limit for a workspace RAM consumption set to 3GB anybody can create and run a workspace with a sidecar with 30GB of RAM.
We don't check how much memory sidecars consume, so this feature of Che doesn't work in that case.
On OSIO we also have limits on the OS side, so it wouldn't be possible to misuse service, but in case Che starts workspaces on a cluster that doesn't control

[2018-10-01 18:13] garagatyi opened #11428 "K8s/OS infras should ensure that all the container it creates have proper memory request and limit"
### Description
We set memory limit and request in [MemoryAttributeProvisioner](https://github.com/eclipse/che/blob/70f25dbebcc0a4262254c98a4e1b93e7b650c504/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/spi/environment/MemoryAttributeProvisioner.java#L40) but it is used only on the creation of a workspace environment, such as [here](https://github.com/eclipse/c

[2018-10-01 18:39] garagatyi commented on #10273
I think we need to add container health checks. We couldn't do that in Che 6 because each container could have several apps because of installers. In Che 7 we should put 1 app per container, so container liveness checks would be enough. Apart from that, we would be able to reuse existing functionality of k8s/OS/Docker.
In any case, since WS.NEXT flow is not implemented for docker we should add liv

[2018-10-01 18:49] garagatyi commented on #11382
yes

[2018-10-01 20:52] marechal-p opened #11429 "[che-cli] "We could not resolve DockerHub using DNS""
### Description

Trying to run che with che-cli and docker in single user mode, but I have to skip network checks with `--fast`, else it won't run.

### Reproduction Steps
Following the documentation, but maybe it is my environment that has a problem.

**OS and version:**    Ubuntu 16.04

**Diagnostics:**

[code]

[code]

[code]

[2018-10-02 04:28] SharkJ commented on #11415
I created a simple LS using this tutorial
http://www.eclipse.org/Xtext/documentation/102_domainmodelwalkthrough.html

I have 5 folders in this server directory that I created.
org.example.domainmodel
org.example.domainmodel.ide
org.example.domainmodel.tests
org.example.domainmodel.ui
org.example.domainmodel.ui.tests

Which bin directory should I use out of these five folders? I explored some exist

[2018-10-02 05:59] eivantsov commented on #11429
@marechal-p the CLI checks connection from within a container. Do you have any connectivity issues when running commands that will need connection to remote repos?

[2018-10-02 06:14] #11396 closed

[2018-10-02 06:51] Ohrimenko1988 commented on #11416
Still actual https://ci.codenvycorp.com/view/qa/job/che-integration-tests-multiuser-master-ocp/378/Selenium_20tests_20report/

[2018-10-02 07:28] skabashnyuk commented on #11383
done in https://github.com/eclipse/che-plugin-registry/pull/39

[2018-10-02 07:28] #11383 closed

[2018-10-02 07:44] tsmaeder opened #11431 "Open and Select Broken in jdt.ls Branch"
Chasing down some selenium test failures, I found out that all open with range calls in OpenFileInEditorHelper are broken by this PR: https://github.com/eclipse/che/pull/8641/files.
Going to reenable selection of ranges and run all selenium test to check for failures

[2018-10-02 08:41] riuvshin opened #11433 "Release CHE 6.12.0"
Release CHE 6.12.0

[2018-10-02 09:27] SharkJ commented on #11415
I created a dockerfile including my language server, and now I'm getting this error.

![untitled](https://user-images.githubusercontent.com/23653853/46340429-039ce800-c653-11e8-8d94-c6b3409aa535.png)

What might be the cause? think something's wrong with the path specified.

[2018-10-02 10:09] tsmaeder opened #11435 "Selenium Tests for "References" (for Example) Should Check for Selection, not Position"
Many selenium tests for language features like "find references" use the current location in the editor to check that a reference has been opened in the editor. Instead, we should check that the match has been selected in the editor.
I understand that there is currently no way to check for this from Selenium, we need to build this into the gwt ide (Javascript functions to access the Editor selecti

[2018-10-02 10:35] diddledan commented on #6824
The fixes in #7584 and #7608 missed the same behaviour on the description field of the stack edit screen. For clarification, when changing the description of a stack the last character is stripped off when saved.

[2018-10-02 10:49] mshaposhnik commented on #11192
@BarryDrez FYI we merged everything in master

[2018-10-02 10:52] mshaposhnik commented on #11374
Done for machine auth, will create separate issue for Keykloak Auth

[2018-10-02 10:52] #11374 closed

[2018-10-02 11:07] BarryDrez commented on #11192
Thank you @mshaposhnik.  I am going to install and try it.

[2018-10-02 11:10] mshaposhnik opened #11437 "Add possibility to skip Keycloak authentication for particular endpoints"
### Description
Currently, we're using  Keycloak authentication for all endpoints, except the few ones excluded in
authentication filter mapping regexps.  There is no possiblity for the downstream projects to change that mapping, and they must use very inconvenient and potentially dangerous solutions like this:
https://github.com/redhat-developer/rh-che/blob/9dcbb29450c5c5a423f7bd7cae771efff81a689

[2018-10-02 11:10] ibuziuk commented on #11350
All PR's have been merged. Closing

[2018-10-02 11:10] #11350 closed

[2018-10-02 11:32] #10865 closed

[2018-10-02 11:38] skabashnyuk commented on #11257
not reproduced on last CI build

[2018-10-02 11:39] sleshchenko commented on #11257
It is fixed by https://github.com/eclipse/che/pull/11253

[2018-10-02 12:16] tsmaeder opened #11438 "Languages Sprint 156 (K-1)"
# Availability
Who | available | x0.6 | planned
-- | -- | -- | --|
@tsmaeder | 7d  |  4d | 4d
@tolusha | 8d | 5d | 5d
@svor | 8d | 5d | 5d
@vrubezhny | 13d | 8d | 10d

@tsmaeder @tolusha have to prep eclipse-con talk

# Candidate issues
- [x] Make a release of che-ls-jdt https://github.com/eclipse/che/issues/11182 (1d) (@tsmaeder)
- [ ] Provide Plugin API for contributing Debug Adapters https://gi

[2018-10-02 14:33] sleshchenko commented on #9943
@liyanliang1994
1. There is a created issue to improve Che Server and doesn't wait for load balancer IP if it is not needed https://github.com/eclipse/che/issues/10767. When it will be fixed it will be possible to use ingress backend that doesn't update ingress status if single-host or multi-host server strategy is configured.
2. @eivantsov Could you please add a small note somewhere in our docume

[2018-10-02 14:47] sleshchenko commented on #9691
I think it should be fixed by https://github.com/eclipse/che/commit/689e123f28bdb3ebd2575b133ad4c40a18686ff8#diff-ff922581aa816d78fb5e17a72a1c9b3bR53 because previously there was the wrong check whether a namespace is predefined. But it is needed to check if it is actually fixed.

[2018-10-02 16:26] l0rd opened #11442 "Theia Terminal plugin: add missing API and implement the Plugin"
In Che 7 model, terminal connection logic may differ from upstream theia one:
- Theia is connecting directly to a host
- Che is connecting through a remote container exec

The goal of this issue is to be able to provide the logic through an extension point in Che. Che extension point would override the one defined in Theia.

List of missing Theia API to implement:
- [ ] Upstream changes: #12609

[2018-10-02 16:28] l0rd opened #11443 "Theia Machine Plugin: add missing API and implement the plugin"
List of missing Theia API to implement:

- [x] TreeView API
- [x] [Rendering hyperlinks in the Tree](https://github.com/theia-ide/theia/issues/3304)
- [ ] [Run a command with predefined ID when click on hyperlink in the Tree View](https://github.com/theia-ide/theia/issues/3491)

Features:
- [ ] have a view that shows machine/service and URL
   - [ ] be able to click on URL (rendered in Tree node)

[2018-10-02 16:30] l0rd opened #11444 "Theia Factory Plugin: add missing API and implement the plugin"
List of missing Theia API to implement:

- [ ]
- [ ]

[2018-10-02 17:30] amisevsk commented on #10117
C# as well. In the `ps -ax` output for the workspace I see
[code]

[2018-10-02 19:11] amisevsk opened #11445 "Runtimes recovery process stops on first error"
### Description
In [`WorkspaceRuntimes#recover()`](https://github.com/eclipse/che/blob/ab70c1485604c98ec5ba96faa57ce20c69f5f4ff/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceRuntimes.java#L528), the loop over infra identities is inside the try block. If any exception occurs, an error will be logged and the method will return. This means that the recove

[2018-10-02 21:05] amisevsk opened #11447 "Workspaces that fail recovery on startup can be broken completely"
### Description
When the Che server fails to recover a workspace on startup, it does nothing to clean up its database. As a result, the entry for that workspace stays in the relevant tables and prevents that workspace from being started again. A not-useful error is logged to the console when the user tries to start such a workspace:
[code]
and a message `Runtime is already started` is displayed to

[2018-10-03 03:10] SharkJ opened #11450 "“Plugin with id 'org.xtext.xtend' not found.” Error"
was building a language server following this tutorial https://www.eclipse.org/community/eclipse_newsletter/2017/may/article5.php

But, when I tried to build the shadowJar, I kept getting this error:

Below is my build.gradle file of the parent script
[code]

[2018-10-03 06:15] #11382 closed

[2018-10-03 06:43] Ohrimenko1988 commented on #11416
The reason is detected. The "DEPLOY_CHE_PLUGIN_REGISTRY=true" variable should be exported in the CI job configuration.

[2018-10-03 07:01] garagatyi commented on #11445
good catch!

[2018-10-03 07:49] l0rd commented on #10227
Multi tab is not supported in Theia. This is a Theia limitation. Closing this issue.

[2018-10-03 07:49] #10227 closed

[2018-10-03 08:16] SkorikSergey opened #11451 "Cover creation stacks from recipe by selenium test"
### Description
We need to cover customers stacks creation from recipe on **Dashboard** by selenium test:
- update Dashboard test plan (https://docs.google.com/document/d/1HbU9rzto8wT-6CFE8GFPi3BEW60suVmSmxDkomqbxwQ/edit?pli=1#heading=h.xa9oyfdrgazw) with test use cases that cover stacks creation from next recipes - **COMPOSE**, **DOCKERIMAGE**, **DOCKERFILE**, **OPENSHIFT**, **KUBERNETES**;
- cre

[2018-10-03 08:43] garagatyi opened #11452 "Make Che workspace servers consume one k8s service per-pod rather than per-container"
### Description
Now our servers exposer code creates a k8s service for each Che workspace container. We can optimize that and use single k8s service per pod instead.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-03 08:45] sleshchenko opened #11453 "Create Che Plugin with GWT IDE and Workspace Agent"
### Description
It would be nice to have an ability to enable GWT IDE using Che Plugins functionality. To make it possible it is needed to create Che Plugin with GWT IDE and Workspace Agent as different servers.

I assume it requires new maven project that will package `IDE` and `wsagent` wars into separate tomcat that will be started in docker image.

[2018-10-03 08:52] eivantsov commented on #11450
@SharkJ i think this is the wrong place to ask. Have you tried some of Theia repos?

[2018-10-03 08:52] #11450 closed

[2018-10-03 09:15] #11124 closed

[2018-10-03 09:28] ashumilova commented on #11345
@benoitf yes, we wanted to include theia-yoman-plugin to plugin registry and create workspace from stack that includes it.

[2018-10-03 09:58] skabashnyuk commented on #5443
Regular oom noticed at some production environments.
I saw
[code]
825 threads like this.

[2018-10-03 10:10] skabashnyuk commented on #5443
proposal

[code]

[2018-10-03 10:52] dmytro-ndp opened #11455 "Update version of selenium chrome-node in E2E selenium tests to 3.141.59-dubnium"
### Description
We need to update selenium chrome node to [3.141.59-dubnium](https://github.com/SeleniumHQ/docker-selenium/releases/tag/3.141.59-dubnium) version to execute selenium tests on _Google Chrome_ of fresh version 71.0.3578.98.

[2018-10-03 11:48] vparfonov opened #11457 "[Theia][Plugin]Rework GitHub extension to GitHub plugin"
The existing https://github.com/eclipse/che-theia-github-plugin is developed based on the existing extensibility model in Theia IDE. But as far as new plugin model is on it's way and will be used in Che as the main one - there is need to rework GitHub extension to GitHub plugin.

[2018-10-03 12:01] vparfonov opened #11458 "[Theia][Plugin]Rework Task extension to Task plugin"
The existing https://github.com/eclipse/che-theia-task-plugin is developed based on the existing extensibility model in Theia IDE. But as far as new plugin model is on it's way and will be used in Che as the main one - there is need to rework Task extension to Task plugin.

P.S.: add subtask here if need

Missing Theia Plugin APIs to implement:
- [x] `tasks.registerTaskProvider` https://github.com

[2018-10-03 12:12] garagatyi opened #11459 "Move output endpoint from Che master container to a separate one"
### Description
When we were designing Che 6 we added an [endpoint](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/spi/RuntimeContext.java#L70) for pushing different kinds of output from a workspace.
It was supposed that we can move this out of the Che master for the scalability reasons

[2018-10-03 12:12] garagatyi commented on #11459
@skabashnyuk @sleshchenko FYI

[2018-10-03 12:22] ashumilova opened #11460 "[workshop] Implement a sample code formatter plugin"
There should be a sample plugin, that shows how Languages Formatter APIs work. The plugin could use existing formatter for Javascript and Css files.
There should also be the description of steps, how user could add formatter to the new plugin and how it should be used.

[2018-10-03 12:27] garagatyi commented on #5443
As we discussed f2f usage of the queue of 1000 tasks is not the best approach since ann the JSON_RPC messages can involve sync execution of some code that can take an unknown amount of time. Which leads to a situation when the queue would make some task delayed for dozens of minutes which is not acceptable in some cases. But the PR you have provided fixes this issue.

[2018-10-03 12:31] ashumilova opened #11461 "Add how to debug plugin section to FAQ wiki page"
Add the steps to the [wiki page](https://github.com/eclipse/che/wiki/Technical-FAQ) How to debug Theia plugins in Che. It should contain both for front-end and back-end plugins sections. The front-end ones could be debugged with the help of browser tools. And back-end ones - could be possible as the result of the following [task](https://github.com/theia-ide/theia/issues/3062).

[2018-10-03 12:46] ashumilova opened #11462 "[workshop] Create sample plugin that shows editor API usage"
The sample plugin will handle the "TODO" comments in opened text editor and will colorize those keywords. Thus, this way editor events usage and setDecorations API will be demonstrated.

[2018-10-03 12:55] riuvshin opened #11463 "Run pre release testing from release branch instead of running tests against tag."
due to some technical limitations, we used to run tests against master branch which was eq to release branch. This is error-prone process which sometimes does not work if due to some reasons tests are not started on same revision.

Proposal is:
1) create release branch
2) build and create RC images from release branch
3) push RC images to dockerhub
4) run QA tests against RC images
5) start actual

[2018-10-03 13:32] BarryDrez commented on #11192
@mshaposhnik, @skabashnyuk - I have added a dependency for mysql-support to our assembly-wsmaster-war project and built.  I created a db in mysql and started our custom assembly using the proper JDBC properties (pointing to my MySQL database).  I started che, and the tables were successfully created.  I created some organizations, then I created a workspace that uses an organization.  So far, ever

[2018-10-03 13:49] skabashnyuk commented on #11192
- [ ] invite users to your organization

[2018-10-03 13:52] BarryDrez commented on #11192
@skabashnyuk Yes, I should have mentioned that I did invite users to the organizations.

[2018-10-03 13:52] #10992 closed

[2018-10-03 14:01] tsmaeder opened #11466 "Make a mvn Release Job for che-ls-jdt"
We need a job that releases che-ls-jdt to the sonatype nexus

[2018-10-03 14:16] BarryDrez commented on #11192
Tested with MySQL 8.0.12.  Unless you have anything else that you would like for me to try in the IDE, I will test with MySQL 5.7.

[2018-10-03 14:50] le0777 opened #11467 "How to change font of the terminal in CHE GUI?"
### Description

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-03 15:11] skabashnyuk commented on #11192
ок

[2018-10-03 15:17] l0rd opened #11468 "LSP client wrapper for Theia"
### Description

This issue is about implementing a wrapper (in the form of a npm library) that allows using [VSCode language client](https://www.npmjs.com/package/vscode-languageclient) to support both Theia and VSCode language servers.

The Theia library will be published on npmjs registry

How it works:

**For a LS in the form of a VScode extension**
--> call `vscode-language-client`
--> call `

[2018-10-03 16:15] l0rd opened #11469 "Kubernetes Operator for Che deployment"
### Description

Implement an Operator for che-server deployment.  The shopping list:

- [x] Should be able to create che-host route
- [x] Should be able to create che SA rolebinding
- [x] Support single-user Che with default parameters
- [x] Support multi-user Che with default parameters
- [x] Parameters:
  - [x] Support external Keycloak and Postgre
  - [x] Support with/without HTTPS
- [x] Suppo

[2018-10-03 16:46] l0rd opened #11470 "Support for a JIB powered stack"
### Description

Analyse how a Java stack that uses [JIB for building](https://github.com/GoogleContainerTools/jib/) works with Che and in particular on OpenShift.

[2018-10-03 19:53] amisevsk commented on #11445
Closing as PR is merged.

[2018-10-03 19:53] #11445 closed

[2018-10-04 03:54] SharkJ commented on #11415
Is the binary file a .bat file?

[2018-10-04 06:00] LahiruT94 opened #11471 "EclipseChe doesnt start with a custom installer."
### Description
I followed the guidelines of the EclipseChe documentation on building a custom installer. [Link](https://www.eclipse.org/che/docs/custom-installers.html).

After building it when I ran eclipse che it gives this error
![cannotrun](https://user-images.githubusercontent.com/34393074/46455234-b55d2580-c7c7-11e8-8565-1ffa00ed6aa9.PNG)

### Reproduction Steps
1.Cloned the source from git

[2018-10-04 07:26] Ohrimenko1988 opened #11472 "[ JDT LS ] Can't move java class to the package which placed in the same directory"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
  - Run default java stack with default spring project
 - Create any lava class in "org.eclipse.che.examples" package
 - Create new package in the "org.eclipse.che.examples"
 - Click on the created java class
 - Run "Assistant" -> "Refactoring" -> "Move" command
 - In the opened "Move it

[2018-10-04 08:06] l0rd commented on #11047
The following 2 issues were created by QA team:

https://github.com/eclipse/che/issues/11327
https://github.com/eclipse/che/issues/11400

@vkuznyetsov @Ohrimenko1988 is the test you created for #11327 already included in the list of tests run every nightl?

[2018-10-04 08:25] l0rd opened #11473 "Add Che to Cloud catalogs"
### Description

Add Che to the the following Cloud applications catalogs:

- [ ] [Kubernetes Chart Repo](https://github.com/helm/charts)
- [ ] [GCP marketplace](https://cloud.google.com/marketplace/)

[2018-10-04 08:39] SharkJ opened #11474 "Che LS-Sidecar Initializing Error: Broken Pipe"
I built a language server sidecar made using XText and set it up in Eclipse Che as mentioned in the che document. Now, when I create a file with the file extension of my new LS, a Language Server starts to initialize. However, after some time, a timeout error occurs and the following error is displayed:

![broken pipe](https://user-images.githubusercontent.com/23653853/46462386-f4e33c00-c7de-11e8-

[2018-10-04 08:49] #11083 closed

[2018-10-04 09:01] ashumilova commented on #10779
[Retrospective document](https://docs.google.com/drawings/d/1zanT_J5LjSxMtuOQUX8dUySle8xokV50EIHimC3lPFU/edit)

[2018-10-04 09:01] #10779 closed

[2018-10-04 09:19] SharkJ commented on #11474
Is it possible to add an Xtext LS as a sidecar in Eclipse Che?

[2018-10-04 09:20] ashumilova commented on #11401
we took to the current sprint

[2018-10-04 09:21] #11067 closed

[2018-10-04 09:36] AndrienkoAleksandr commented on #11235
Awaiting on passing CQ's and merge kubernetes/openshift che-machine-exec implementation to the Eclipse repo.

[2018-10-04 09:39] #10314 closed

[2018-10-04 10:00] #9870 closed

[2018-10-04 10:03] #9839 closed

[2018-10-04 10:13] sleshchenko commented on #11471
@LahiruT94 Che Server failed to start. Che Servers Logs could help to find a cause. Could you please provide an output of `docker logs -f che`?

[2018-10-04 11:02] l0rd opened #11476 "Support running Che 7 plugins and runtime in separate pods"
### Description

Currently in Kube and OpenShift infrastructure all Che 7 plugins, editors and runtime are spawned in one unique fat pod:

![image](https://user-images.githubusercontent.com/606959/46469406-8fd61900-c7d3-11e8-913c-33130d5e26fb.png)

This was a limitation that we had to live with because all containers needed access to the same Persistent Volume and we needed to support RWO Persiste

[2018-10-04 11:13] garagatyi commented on #11476
We can separate sidecars that do not declare the dependency on the projects' volume even now!
Apart from that, we can implement different strategies of volume content syncing. RWX is not supported everywhere, but we can add also use sync sidecar to emulate it.
I would start from separating non-volume dependent sidecars to separate pods.

[2018-10-04 11:15] artaleks9 opened #11478 "[ JDT LS ] Unexpected files when add into git index"
### Description
**Reproduction Steps:**
* Run default java stack with default _web-java-spring_ project
* Select the project
* Perform git status using git menu commands
* Add to index

**Expected behavior:**
* only expected files should be added to index

**Observed behavior:**
* unexpected files are added to index

**Che version**: JDT LS assembly Che 6.12.0
**OS and version:** Fedora 28
**Che i

[2018-10-04 11:27] sleshchenko opened #11479 "Revise model of meta.yaml and che-plugin.yaml"
### Description
Now we have the following model for `meta.yaml` (plugin registry):
[code]
and for `che-plugin.yaml` (packaged into archive):
[code]

So, they have duplicated fields. It is reasonable to revise models of these files and choose one place for fields which are duplicated, and document which fields are optional and which mandatory.

Ideally, it would be nice to have validation of `meta.

[2018-10-04 11:58] Ohrimenko1988 opened #11481 "[ JDT LS ] The progress of language server resolving doesn't displayed in the bottom status bar"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

**```Description:```**
Do not meet expectations according to this issue:
https://github.com/eclipse/che/issues/8412
![screenshot from 2018-10-04 15-02-13](https://user-images.githubusercontent.com/22724619/46472659-8d30ef00-c7e6-11e8-8765-e36c6847b58c.png)

### Reproduction Steps
 - Deploy JDT LS assembly
 - S

[2018-10-04 12:30] Ohrimenko1988 opened #11482 "[ JDT LS ] Error highlighting doesn't work in the pom.xml file after typing unexisted artifact"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
 - Run default "Java" stack with default "spring" project
 - Wait until workspace is started
 - Open "pom.xml" file
 - In the 16-th row change
```<groupId>javax.servlet</groupId>```
to
```<groupId>unexisted-group-id</groupId>```
 - Pay attention to error marker which displayed in the 1-s

[2018-10-04 12:47] dkuleshov opened #11484 "Make WsAgentURLProvider warning messages more informative"
In `WsAgentURLProvider` we have:
[code]
Express exception message as a warning probably not enough so instead we should use error here.  Beside that we must pass cause of exception to `RuntimeException` constructor as well to be more informative.

[2018-10-04 12:57] dkuleshov commented on #10948
Should be fixed by https://github.com/eclipse/che/pull/11483

[2018-10-04 12:58] tsmaeder opened #11486 "Volumes Are not Writeable by Container User"
This is in the jdt.ls branch.

1. Create a centos-blank workspace
2. Add a volume to the configuration, for example /homer/user/foobar
3. Open the workspace.
4. In the terminal, cd to ~/foobar
5. enter the command "touch foobar.txt".
6. Observe: you get "permission denied"

[2018-10-04 12:58] dkuleshov commented on #10937
Should be fixed by https://github.com/eclipse/che/pull/11483 please recheck after it is merged.

[2018-10-04 12:59] dkuleshov commented on #10936
Should be fixed by https://github.com/eclipse/che/pull/11483 please recheck after it is merged.

[2018-10-04 12:59] dkuleshov commented on #10935
Should be fixed by https://github.com/eclipse/che/pull/11483 please recheck after it is merged.

[2018-10-04 12:59] dkuleshov commented on #10932
Should be fixed by https://github.com/eclipse/che/pull/11483 please recheck after it is merged.

[2018-10-04 13:04] SkorikSergey opened #11487 "[ JDT LS ] Code Formatter category not exists in Preferences form"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
1. Create and start workspace from **Java** stack with **web-java-spring** project.
2. Wait for **Java** language server initialized.
3. Open **Preferences** form by menu **Profile** -> **Preferences**.

**Expected behavior:**
**Code Formatter** category exists at the top of **Preference

[2018-10-04 13:21] l0rd opened #11488 "Add Theia Plugin APIs to support VS Code OpenShift Tooling"
### Description

When the work to add [the necessery Theia Plugin APIs to support vscode Kubernetes tooling](https://github.com/eclipse/che/issues/10574) is completed we should analyse what needs to be done to support [vscode OpenShift tooling](https://github.com/redhat-developer/vscode-openshift-tools) too.

[2018-10-04 13:55] Ohrimenko1988 opened #11490 "[ JDT LS ] The "Navigate File Form" has difference if compare with upstream"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
 - Run default "Java" stack with default "Spring" project
 - Open "GreetingController.java" file
 - Type in the class body
[code]
 - Press "Ctrl" + "F12"
 - In the opened form press "Ctrl" + "F12" once more
 - Pay attention to icons

**Expected behavior:**
![docker](https://user-images.g

[2018-10-04 15:07] Ohrimenko1988 opened #11493 "[ JDT LS ] Dependencies do not resolve after fixing an errors in the "pom.xml" file"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
 - Start default "Java" stack with default "Spring" project
 - Open "GreetingController.java" file
 - Pay attention that any errors are not displayed
 - Open "pom.xml" file
 - Make some error in "pom.xml" file and wait for error marker
 - Click on "GreetingController" editor tab
 - Pay a

[2018-10-04 15:26] nickboldt opened #11495 "mysql-support cannot be resolved when -Pintegration profile not enabled, so MYSQL Tck Tests can't be built"
### Description

I build Che like this:

[code]
but

[code]

because not building with the `-Pintegration` profile. So this:

[code]
(and probably others too) cannot resolved in [che/multiuser/integration-tests/che-multiuser-mysql-tck/pom.xml:95](https://github.com/eclipse/che/blob/master/multiuser/integration-tests/che-multiuser-mysql-tck/pom.xml#L95)

Why? Because that artifact is only built whe

[2018-10-04 15:47] sleshchenko commented on #10833
I believe users won't see this error message from `wsagent` anymore. @luhuimm If you still have any issues with workspace starting feel free to reopen issue or create a new one.

[2018-10-04 15:47] #10833 closed

[2018-10-04 15:52] mstavares commented on #11269
Hi guys,

Any news?

Thanks,

[2018-10-04 18:13] #11069 closed

[2018-10-04 18:45] AndrienkoAleksandr opened #11496 "che-machine-exec filter doesn't work(Regresion) on the Openshift/Kubernetes with activated auth"
### Description
che-machine-exec filter doesn't work(Regresion) on the Openshift/Kubernetes with activate auth, fail with error:
"unexpected exception! Filter found more than one pods for workspace"

[2018-10-05 00:47] fpmJamesReeves commented on #11447
Is it possible to correct this issue?  If not then it possible to recover my code?

I run Eclipse Che through my browser so after I login I go to my workspaces.  The workspace shows "Stopped" but when I try to run it I get the message "Failed runtime is already started".  If I try to Open the workspace i just get the Loading screen and it never loads.

I have searched but was not able to find any

[2018-10-05 02:44] amisevsk commented on #11447
@fpmJamesReeves It is recoverable, but not in a very user-friendly way at the moment. Basically what you need to do is remove the workspace deployment through the OpenShift console directly.

How are you running Che at the moment -- is it local or through e.g. openshift.io?

[2018-10-05 02:48] LahiruT94 commented on #11471
![cli-error](https://user-images.githubusercontent.com/34393074/46513596-f7917000-c876-11e8-838b-18e85be40a53.png)

After some time same, its the same error keeps cycling

[2018-10-05 04:32] amisevsk commented on #10833
@luhuimm I've had similar issues due to ad blockers and the like in my browser. If you are still having this issue could you try disabling any adblock / similar plugins and reload the workspace?

@eivantsov FYI (I think it was privacy badger that was causing my issue)

[2018-10-05 07:43] eivantsov commented on #11467
@le0777 it is not currently possible. Closing as won't fix.

[2018-10-05 07:43] #11467 closed

[2018-10-05 07:52] Ohrimenko1988 opened #11497 "Unexpected fail of "MacrosCommandsEditorTest" selenium test"
### Description
We have unexpected fail of "MacrosCommandsEditorTest" selenium test. It looks like something went wrong with a method which checks a list of the macros proposals. We should investigate and resolve this problem.

**Log:**
[code]

**Screenshot**
![qqq](https://user-images.githubusercontent.com/22724619/46522877-ad1aee00-c88c-11e8-97d9-3a43ac0967db.png)

**Report with reproduced probl

[2018-10-05 07:54] eivantsov commented on #11486
@tsmaeder what OpenShift version and cluster type? I cannot reproduce with Origin 3.9 running locally

[2018-10-05 07:58] eivantsov commented on #11474
@SharkJ shouldn't your exec be `java -jar dsl-language-server-ls.jar`

[2018-10-05 08:07] sunix commented on #11496
Could you describe what the error you have ?

[2018-10-05 08:16] tsmaeder commented on #11486
It's a docker limitation that non-existing dirs for persisten volumes are created as root.

[2018-10-05 08:16] #11486 closed

[2018-10-05 08:18] Ohrimenko1988 commented on #11497
Done https://github.com/eclipse/che/pull/11498

[2018-10-05 08:18] #11497 closed

[2018-10-05 08:19] l0rd opened #11499 "Find out the minimum memory requirements to run a Che 7 workspace"
### Description

To be able to use a Che 7 preview workspace with minishift today we are suggesting to start minishift with 8GB of memory:

[code]

Theia sidecar needs 2GB: currently it runs both jdt LS and ts LS (besides Theia itself), wsmaster needs ~1GB. And then we need to consider a runtime and eventual plugins. Would that fit in 4GB? 6GB?

@benoitf @evidolob @ashumilova @sunix any suggestion

[2018-10-05 08:28] Sixosable opened #11500 "[Docker-CLI] Subdomain & SSL Possibilities"
### Description
I've been trying to Eclipse Che on an actual Domain and enable SSL so it would be able to be used as a nice actual secure Cloud IDE for my team.
However, there is little to no documentation on making Docker run Eclipse Che on a subdomain, let alone running it with SSL / HTTPS Support.
All references to do basically refer to OpenShift.

I was wondering how one would be able to use a

[2018-10-05 08:44] l0rd opened #11502 "Create a Che 7 preview stack and remove the Workspace.next one"
### Description

![image](https://user-images.githubusercontent.com/606959/46525243-59f46b80-c88b-11e8-8d3e-979b6ffb4e03.png)

These stacks were created for the walking skeleton and should be replaced by a new stack "Che 7 Preview" with Theia editor only (that currently comes with java and typescript support).

[2018-10-05 09:02] riuvshin commented on #11495
release 6.12.0 failed with same issue.

[2018-10-05 09:04] AndrienkoAleksandr commented on #11496
@sunix I add error to the description.

[2018-10-05 09:34] #10864 closed

[2018-10-05 09:37] SharkJ commented on #11474
Yes it is!  I had to install jdk as well to run it. It is working now! Thank you so much! 👍 👍 👍

[2018-10-05 09:38] Ohrimenko1988 opened #11503 "[ JDT LS ] Show argument hints functionality doesn't display "No documentation found" in the case with absence "javadoc""
### Reproduction Steps
 - Run default "Java" stack with default "Spring" project
 - In the started workspace open "GreetingController.java" file
 - Create next java class in the "org.eclipse.che.examples" package:
[code]
 - Go to "GreetingController" editor tab
 - Set cursor to 21-th row and type next text:
[code]
 - Place cursor between "b()" brackets
 - Press "Ctrl" + "P" buttons
 - In the opene

[2018-10-05 09:45] sleshchenko opened #11504 "Support Template object in OpenShift recipe"
### Description
Ideally, it would be nice to be able to create a workspace from origin user's application recipe.
Now we support only `KubernetesList` which is quite flexible BUT a usage of `Template` is a more common way to deploy user's application.
So, if a user uses `Template` for his application then he has to rewrite it in `KubernetesList` way to be able to run a workspace with it.

It would

[2018-10-05 09:49] #11474 closed

[2018-10-05 10:19] sleshchenko opened #11505 "Support Deployment object in Kubernetes/OpenShift recipe"
### Description
A common way for deploying an application on Kubernetes/OpenShift is using of `Deployment`/`DeploymentConfig` while we allow a user to specify only bare Pods.

It should not be difficult to implement supporting of `Deployment` in K8s/OS recipe since we convert bare Pods from recipe to Deployments objects.

As for `DeploymentConfig`, it should be investigated whether we can convert

[2018-10-05 10:33] gazarenkov commented on #11504
Definitely +1, thanks @sleshchenko

Talking about supporting existed configuration I would say it is more "must have" than "nice to" feature since it looks like Kubernetes List is quite a rare case of describing deployment in real life.

[2018-10-05 10:45] dmytro-ndp opened #11506 "Store logs of test workspaces which are created during the E2E test scenario execution"
### Description
E2E selenium tests stores only injecting test workspace logs after the test failed.
But there are the [tests](https://ci.codenvycorp.com/view/qa-experimental/job/experimental-che-integration-tests-multiuser-master-ocp/172/Selenium_20tests_20report/) which create test workspace from Eclipse Che Dashboard during execution. We need to store their logs as well.

[2018-10-05 10:53] sleshchenko opened #11507 "Support ConfigMap object in Kubernetes/OpenShift recipe"
### Description
A using of `ConfigMap` is a very common way to store application configuration. But Eclipse Che ignores ConfigMaps which are specified in Kubernetes/OpenShift recipe which leads to workspace start failing if there is any Pod which references it.
It is needed to support `ConfigMap` object in Kubernetes/OpenShift recipe.
The only one issue that should be decided - should we create `C

[2018-10-05 10:57] sleshchenko opened #11508 "Support Secret object in Kubernetes/OpenShift recipe"
### Description

A using of Secret is a very common way to store application credentials. But Eclipse Che ignores Secrets which are specified in Kubernetes/OpenShift recipe which leads to workspace start failing if there is any Pod/ConfigMap which references it.
It is needed to support `Secret` object in Kubernetes/OpenShift recipe.
The only one issue that should be decided - should we create Secr

[2018-10-05 10:58] sleshchenko commented on #11504
The following issues are also about supporting real application description in Kubernetes/OpenShift format:
- [ ] Support Deployment object in Kubernetes/OpenShift recipe https://github.com/eclipse/che/issues/11505
- [ ] Support Deployment object in OpenShift recipe https://github.com/eclipse/che/issues/5967
- [ ] Support ConfigMap object in Kubernetes/OpenShift recipe https://github.com/eclipse/c

[2018-10-05 11:20] sleshchenko opened #11509 "Validate `meta.yaml` and `che-plugin.yaml` files during validating of PR in Che Plugin Registry"
### Description
We don't have any validation of `meta.yaml` and `che-plugin.yaml`.

It is needed to validate `meta.yaml` files in Che Plugin Registry during validation of PR to ensure that made changes are correct.

`che-plugin.yaml` is located in an archive that should be located by url which is specified in `meta.yaml`#url.  It is needed to discuss and decide whether we should try to download th

[2018-10-05 11:27] garagatyi commented on #11428
Fixed

[2018-10-05 11:27] #11428 closed

[2018-10-05 11:28] #11299 closed

[2018-10-05 11:28] SharkJ commented on #11363
Yeah, it must be an outdated source.

[2018-10-05 11:28] #11363 closed

[2018-10-05 11:32] musienko-maxim opened #11511 "[JDT LS] Cannot launch tests after git importing of maven project"
### Reproduction Steps
* Import maven project into IDE: https://github.com/Tarrantella/EclipseCheTestRepo-2eiob.git
* Set the project as maven
* Wait resolving dependencies and initialization of LS.
* Expand tree to `/EclipseCheTestRepo-2eiob/src/test/java/org/eclipse/che/examples` path
* Select for example `org.eclipse.che.examples` package
* Invoke context menu. Run Test -> Run TestNG Test
**Exp

[2018-10-05 11:36] garagatyi commented on #5967
@sleshchenko just to be on the same page: OS also supports pure deployment objects

[2018-10-05 12:06] garagatyi opened #11512 "Make UD don't show workspace memory consumption for sidecar-based workspace"
### Description
When workspace uses WS.NEXT model with sidecars UD can't figure out overall memory consumption by the workspace.
So showing it on UD doesn't make sense and can be misleading. I suggest hiding it for the time being, at least until we have a way to figure it out.

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-05 12:06] garagatyi commented on #11512
@evidolob @slemeur @l0rd

[2018-10-05 12:14] SkorikSergey opened #11513 "[ JDT LS ] Implementation form is missed"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
1. Create and start workspace from **Java** stack with **web-java-spring** project.
2. Wait for **Java** language server initialized.
3. Open **GreetingController.java** class.
4. Move cursor position to 9:23.
5. From **Assistant** menu select **Implementation(s)**.

**Expected behavior:

[2018-10-05 12:45] SkorikSergey opened #11514 "[ JDT LS ] Editor tab name is not correct after changing 'artifactId' in 'pom.xml' file"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
1. Create and start workspace from **Java** stack with **web-java-spring** project.
2. Wait for **Java** language server initialized.
3. Open "pom.xml" file.
4. Change **artifactId** to "**jdtls-web-java-spring**".

**Expected behavior:**
Editor tab name changed from "**web-java-spring**

[2018-10-05 12:56] sleshchenko commented on #11031
I believe it should be fixed by https://github.com/eclipse/che/pull/11465

[2018-10-05 12:56] #11031 closed

[2018-10-05 13:22] musienko-maxim opened #11516 "[JDT LS] The plain java project is not detected after importing from github"
### Reproduction Steps:
* Clone plain java project from github: https://github.com/Tarrantella/java-plain-project.git
* Select in the Project configuration `Java`. Click `Next` btn.
**Expected result:**  The Source Folder should be detected automatically.  The project should be detected as Plain java.
**OS and version:**  OpenShift multiuser, JDT LS assembly, Che 6.12.0 ; Chrome 68; Fedora 28;
**A

[2018-10-05 14:19] musienko-maxim commented on #11511
Looks like in this case i did not wait for resolving dependencies. After full resolving all works as well.

[2018-10-05 14:19] #11511 closed

[2018-10-05 14:21] BarryDrez commented on #11192
Tested with MySQL 5.7.23.  Tck tests single-user and multi-user run successfully.
 Everything looks good.  As done for 8.0.12, I created a db in mysql and started our custom assembly using the proper JDBC properties (pointing to my MySQL database). I started che, and the tables were successfully created. I created some organizations, then I created a workspace that uses an organization. Everything

[2018-10-05 14:51] SkorikSergey opened #11520 "[ JDT LS ] Progress line of 'Progress Monitor' widget always shows current process as completed"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
1. Create and start workspace from **Java** stack with **web-java-spring** project.
2. Wait for appearance maven plugin progressor (in the right bottom corner).
3. Click on the progressor and wait opening **Progress Monitor** widget.

**Expected behavior:**
Progress line display progress

[2018-10-05 15:07] fpmJamesReeves commented on #11447
openshift.io through my browser: https://che.openshift.io/dashboard/#/

[2018-10-05 15:18] skabashnyuk commented on #11192
How did you add jdbc driver?

[2018-10-05 15:56] BarryDrez commented on #11192
We have the jar file in our Maven repository.  Then, in my custom assembly, I include it in assembly.xml within assembly-main.  I have it as a dependency pom.xml files in assembly-main, assembly-wsmaster-war and our top level parent project within our custom assembly.

[2018-10-05 16:18] amisevsk commented on #11447
@fpmJamesReeves I'm looking into a solution for you; sorry for the inconvenience.

[2018-10-05 16:19] eivantsov commented on #11500
@Sixosable SSL isn't supported for Che on Docker.

[2018-10-05 18:04] gazarenkov commented on #11504
@sleshchenko I would also say effective recipe (the one applied to Runtime) should contain all the objects from original configuration.
I.e. recipe processing may add/(may be some)modify BUT not remove anything even if it does not "understand" it.

[2018-10-05 18:59] Siranix opened #11521 "[Eclipse Che] Default PHP Stack & It's MySQL"
### Description
These seems to be an issue when trying to start the MySQL Server in the PHP Default stack.

### Reproduction Steps
Start a workspace with the default PHP stack. Run:
`sudo service mysql status` -> You can see that it's stopped
`sudo service mysql start` -> You can see that it won't start
`sudo service mysql status` -> You can see that it's still not running

**OS and version:**
Ubu

[2018-10-05 20:16] Sixosable commented on #11500
@eivantsov Thank you very much. Closing this issue, thanks for the clear and fast answer.

[2018-10-05 20:16] #11500 closed

[2018-10-06 05:12] tsmaeder commented on #5443
Open J9 has variable stack size. Perhaps we should give it another good look?

[2018-10-06 16:37] skabashnyuk commented on #5443
@tsmaeder  For agent->jt.ls topic I see no value to do that in long-term because of Theia(or maybe I don't know something and JSON/RPC is used somewhere outside of ws-agent). For ws-master, I prefer to invest in something like this https://github.com/eclipse/che/issues/11459. Migration to Open J9 quite a big story without no BV.

[2018-10-06 21:14] garagatyi commented on #11459
It looks like clients do not use links they were supposed to use to get logs from Che master. Instead of that, they construct websocket link themselves and use it. The link they construct happens to be correct for now just because of the behavior of JSON_RPC that a client can connect to any link and use any JSON_RPC method.
The correct way of getting logs is to get the link with [name](https://git

[2018-10-07 10:34] celevra commented on #10945
same here on 6.12

[2018-10-08 06:52] Ohrimenko1988 commented on #11416
The new reason of fail. It looks like something went wrong with method which waits "New Dialog" form appears.

**Log**
[code]

**Report with reproduced problem**
https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-ocp/383/Selenium_20tests_20report/

**Screenshot**
![qwe](https://user-images.githubusercontent.com/22724619/46595198-eac38500-cadf-11e8-97f2-51b594cbb1

[2018-10-08 07:49] RomanNikitenko commented on #11406
I investigated the issue and as far as I can see we have the following use cases:
- ws agent is stopped and some files are opened
we show warning message during a few seconds only to inform user why we switch files to read-only mode
![warning](https://user-images.githubusercontent.com/5676062/46596370-041b0000-cae5-11e8-808e-1c125526fd63.png)
 and permanently displayed notification with propositio

[2018-10-08 08:02] slemeur commented on #11406
sounds good to me.
thanks @RomanNikitenko

[2018-10-08 08:09] garagatyi opened #11525 "Publish UD sources as maven artifact again"
### Description
This commit https://github.com/eclipse/che/commit/29818c2c0c44b8c1b2de553e1b6da1ec1f62ea41#diff-1995988aac5df423beab26da739d1c0bL71 removes publishing of UD sources as maven artifact. I believe that it was done unintentionally, so should be reverted (only publishing sources, not the whole commit).

### Reproduction Steps

**OS and version:**

**Diagnostics:**

[2018-10-08 08:10] garagatyi commented on #11525
@evidolob @olexii4 FYI

[2018-10-08 08:12] Ohrimenko1988 commented on #11416
Done https://github.com/eclipse/che/pull/11523

[2018-10-08 08:12] #11416 closed

[2018-10-08 08:51] garagatyi opened #11526 "UD and workspace-loader should subscribe to output on a specific endpoint provided by Workspace API"
### Description
Workspace API provides a specific [endpoint](https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceLinksGenerator.java#L90) for clients.
For the time being, we have it equal to the main Che master websocket endpoint, but it is possible to move it to another service.
Un

[2018-10-08 08:51] garagatyi commented on #11526
See https://github.com/eclipse/che/issues/11459#issuecomment-427606805

[2018-10-08 08:53] SharkJ opened #11527 "Persisting Custom Stacks in Eclipse Che"
How do I make a custom stack to exist permanently in Eclipse che. I have an LS-sidecar stack that I have to remake every time I restart Che. How do I make it permanent so that it will be in the list of stacks just like Java, .NET, Android etc. ?

[2018-10-08 09:02] tsmaeder commented on #11472
We're not getting change notifications: https://github.com/eclipse/che/issues/10794

[2018-10-08 09:04] tsmaeder commented on #11481
Yes, this is the expected behaviour: jdt.ls does not send progress messages for startup, it sends status messages, which are not expected to be progress.

[2018-10-08 09:19] #11373 closed

[2018-10-08 09:35] gazarenkov commented on #11406
This message is fine
Generalizing of what you said: make sure IDE is in-sync with ws-agent state and behaves accordingly.

[2018-10-08 09:41] tsmaeder commented on #11493
We never get a notification from jdt.ls for the GreetingController file. Looks like a jdt.ls problem

[2018-10-08 09:44] tsmaeder commented on #11482
This happens in VSCode, as well. jdt.ls issue, then.

[2018-10-08 09:44] tsmaeder commented on #11493
Yup. Confirmed in vscode.

[2018-10-08 09:47] tsmaeder commented on #11490
Yes, the rendering and sorting is slightly different. I think the rendering is better, because you can't override based on return type, so that info is useless here.
Need to check why the icon is "private"

[2018-10-08 09:48] garagatyi commented on #11459
I experimented with it a bit. Here are the changes in Che plugin broker to use a separate endpoint for the output https://github.com/eclipse/che-plugin-broker/compare/logsEndpoint?expand=1
Here are basic changes in Che https://github.com/eclipse/che/compare/master...garagatyi:outputPropagator?expand=1. But we stream some logs directly from Che master [here](https://github.com/eclipse/che/compare/m

[2018-10-08 09:59] tsmaeder commented on #11490
I can confirm that the visiblity is indeed ignored. This is actually a LSP problem: https://github.com/Microsoft/language-server-protocol/issues/98

We can fix this for the file structure window, though, since it uses a custom command.

[2018-10-08 11:05] sleshchenko commented on #11504
@gazarenkov

Makes sense but I'm not sure that it is possible to create a resource trough K8s/OS Fabric8 client or Rest API resource if you don't understand it.
I've checked that OpenShift Web UI parses and creates objects one by one, like pods, then service, etc.
So, I think there is no way to create an object if client doesn't know what it is going to create, client should call the corresponding

[2018-10-08 11:15] tsmaeder commented on #11516
jdt.ls supports eclipse projects, maven and gradle. Can you fix this with an "update project configuration" and using "simple java" type?

[2018-10-08 11:22] skabashnyuk opened #11529 "Create 6.12.1 bugfix release"
### Description
It would be nice to have  bugfix release with
 - Disable debug mode for wsagent by default https://github.com/eclipse/che/pull/11475
 - Limit pool size used to process Json/rpc requests https://github.com/eclipse/che/pull/11456

[2018-10-08 11:29] gazarenkov commented on #11504
@sleshchenko
I see what you mean but in this case our implementation has to be aware of all the objects (including alpha and beta readiness).
I doubt primitive set of basic Kubernetes/OS object is enough for real app development.
So, I am afraid the choice is:
- support all of them, including upstream
- care about subset of them important for Che and let others just pass through

[2018-10-08 11:32] sleshchenko commented on #11509
Since Che Server has service discovery functionality (the corresponding PR https://github.com/eclipse/che/pull/10528), Che Server creates services with names which come from Endpoint names. So, it is also needed to guarantee that endpoints names are K8s/OS name compatible https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names (the same validation which we should perform for

[2018-10-08 11:41] sleshchenko opened #11530 "Support Route object in OpenShift recipe"
### Description
An application on OpenShift usually has at least one Route to make application accessible outside from cluster.
Now Che Server ignores Routes in the original recipe and requires a user to declare Che Machine for container and Che Server inside it for exposing container port. But it is not really needed and it would be better from UX perspective to respect Routes object from the rec

[2018-10-08 12:31] tsmaeder commented on #11478
These files are normal: jdt.ls runs an eclipse workspace and these files are the metadata. Like .vscode.

[2018-10-08 12:33] #11496 closed

[2018-10-08 13:29] tsmaeder commented on #11513
The idea here is to show "no implementations" when there could be implementations, but none are found, but show nothing if now symbol is at the location in question that _can_ have implementations.

[2018-10-08 13:36] riuvshin commented on #11529
Done

[2018-10-08 13:36] #11529 closed

[2018-10-08 14:22] musienko-maxim opened #11537 "[JDT LS] Maven submodules and packages are not recognized in the Che project after importing"
### Reproduction Steps
1) Create workspace based on Eclipse Che stack.
2) Set next env. variables: `CHE_WORKSPACE_JDT_LS_HEAP_OPTIONS = -Xmx4G -Xms2G`,
`CHE_WORKSPACE_WSAGENT__JAVA__OPTIONS = -Xmx2G`
3) Import CHE project  into workspace and build all maven modules (we can use console maven)
4) Stop the workspace and run again. Wait full init. language server and importing all dependencies.
5) Exp

[2018-10-08 14:26] lhein opened #11538 "Unable to create/start workspace: Host unreachable"
### Description & Reproduction Steps
I create a workspace using the "Workspace Next Hello World example on OpenShift" quickstart. When prompted I select "Open in IDE". In the following screen I can see a red error message.

![bildschirmfoto von 2018-10-08 16-17-15](https://user-images.githubusercontent.com/435853/46614757-eebec980-cb16-11e8-84f3-b52b709a4d77.png)

When trying the same with a Blank

[2018-10-08 15:46] l0rd commented on #11538
@lhein please provide some more details:

1. What version of Che are you using? The version number should be at the bottom of the Che dashboard.
2. What version of docker (output of `docker version`) and  OpenShift (output of `oc version`)
3. Is che-plugin-registry running (output of `oc get pods`)
4. Can you check if your OpenShift DNS is working properly? For example can you:
[code]

[2018-10-08 15:53] andav51 opened #11539 "Building Che using the instructions in Development Workflow results in failed build"
### Description
I've followed the steps outlined in the [Development Workflow](https://github.com/eclipse/che/wiki/Development-Workflow) to build Che in my local environment. After following the instructions, I can checkout the `6.12.0` tag and build everything successfully. However, when I try to build the `master` and `6.12.x` branches I get a build failure with the following error:

```Non-reso

[2018-10-08 16:42] lhein commented on #11538
1.
Eclipse Che directly from MASTER ->  6.13.0-SNAPSHOT

2.
[code]

3.
[code]

4.
[code]

[2018-10-08 16:44] eivantsov commented on #11539
@andav51 https://github.com/eclipse/che/blob/master/pom.xml#L20 this is current snapshot version. Can you pull changes and give it a try again?

[2018-10-08 17:01] l0rd commented on #11538
Thank you @lhein

Everything looks fine except the nslookup. Could you check that your firewall is configured properly to run openshift: https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#linux

[2018-10-08 17:03] andav51 commented on #11539
@eivantsov I pulled the latest but getting similar error. See below:

[code]

[2018-10-08 17:19] eivantsov commented on #11539
@andav51 you seem to have declared a repo in Maven's settings.xml that does not support downloading snapshots.

https://oss.sonatype.org/content/repositories/snapshots/org/eclipse/che/depmgt/maven-depmgt-pom/6.13.0-SNAPSHOT as you can see snapshot artifacts are available

Perhaps, you local settings.xml overrides https://github.com/eclipse/che/blob/master/pom.xml#L2007

[2018-10-08 17:46] ElectroGamez opened #11541 "Help with apache2 proxy to che server"
### Description
Hello,
I am hosting a Che server (Debian 9.4.0) with Docker in multi user mode. The service itself runs perfect, my only problem is that is can only run locally. When I try to port forward the service, and use my apache2 server as a proxy. I get the error "Authorization token is missed, Click here to reload the page".

I tried opening port 5050 and changing the url of the token ip

[2018-10-08 18:49] tsmaeder commented on #11503
The browser console shows a NPE.

[2018-10-08 19:22] andav51 commented on #11539
@eivantsov Yup, you're right. It was a configuration error on my end. Once I resolved, build works fine. Thanks for the help.

[2018-10-08 19:22] #11539 closed

[2018-10-09 04:35] amisevsk commented on #11447
@fpmJamesReeves Could you try accessing the workspace now? che.openshift.io moved to Che 6.12 earlier today and it fixed an [issue](https://github.com/eclipse/che/issues/11445) around workspace startup and it *may* have solved your problem.

[2018-10-09 05:56] SharkJ commented on #11527
Building Che assemblies seems like a deprecated approach now. So what is the correct approach to customize che? I tried building the assembly after adding a new stack into stacks.json file in "che-core-ide-stacks -> target -> classes" path. However, the new stack was not added into che. Is it something wrong in the way I did it, or is this approach no longer works?

[2018-10-09 06:15] skabashnyuk commented on #11527
Hello @SharkJ . Stack database populated only once on the first start. So maybe you have already initialized stack database. That is why they are not loaded.

[2018-10-09 06:17] LahiruT94 opened #11544 "Failed to run the workspace: "Installation 'org.eclipse.che.ws-agent' failed, script exit code is 126""
### Failed to run the workspace
I followed the documentation for building an IDE extension for EclipseChe. [Link](https://www.eclipse.org/che/docs/ide-extensions-gwt.html#extension-points)

Using the example custom repository given, I build the EclipseChe 6.12.0.
![126-first](https://user-images.githubusercontent.com/34393074/46649543-19f8f580-cbb7-11e8-8275-c9157fb3470c.PNG)

After I created the

[2018-10-09 06:36] eivantsov commented on #11541
@ElectroGamez I recommend running Che multi user with a single port policy. This way, you do not need Apache in front. Che CLI will start Traefik container that will execute routing tasks.

[2018-10-09 06:49] Ohrimenko1988 opened #11545 "Adapt the "TheiaBuildPluginTest" selenium test to changes in the top menu"
### Description
We have unexpected fail of  "TheiaBuildPluginTest" selenium test. It looks like that items in the top menu was changed and don't match with expected. We should resolve this problem.

**Log:**
[code]

**Screenshot:**
![wwww](https://user-images.githubusercontent.com/22724619/46651388-7c96c500-cba8-11e8-8374-e06e005933d8.png)

**Report with reproduced problem:**
https://ci.codenvycor

[2018-10-09 07:12] lhein commented on #11538
I followed the steps to configure the firewall as I know I did not do that before but sadly I still have the same issue and nslookup still tells me the same.

[2018-10-09 07:53] musienko-maxim commented on #11516
I've tried this after updating project configuration as 'simple java' the problem still actual

[2018-10-09 08:01] mmorhun commented on #11462
Done.
The plugin is here: https://github.com/eclipse/che-theia-samples/pull/10

[2018-10-09 08:01] #11462 closed

[2018-10-09 08:19] sleshchenko commented on #11364
I'm working on the following solution: new Che Server after successful recovering of STARTING|STOPPING K8s/OS runtime will track its status and if status doesn't become RUNNING|STOPPED after a timeout, Che Server will interrupt start or clean up STOPPING workspace resources.

[2018-10-09 08:21] tsmaeder opened #11546 "Stopped Workspace Browser produces 20% CPU Load"
When I stop a workspace, chromium still consumes 20% CPU load on my 8-core machine. Closing the browser drops the load to ~2-3%. My expectation would be that a stopped workspace produces negligable load.
1. Open a workspace java-default workspace with spring web example project
2. From the workspace menu, select stop
3. Wait until the workapce has stopped
4. Open your favourite performances tool a

[2018-10-09 08:27] garagatyi commented on #11546
Might be caused by a constant reconnection to websockets

[2018-10-09 08:34] l0rd opened #11547 "Error to create jwtproxy sidecar on OSIO"
### Description

Looks like the sidecar `resources.requests` is > to memory limit. When starting a Che 7 preview workspace on che.openshift.io I have the following error in the OpenShift events:

[code]

### Reproduction Steps

- Add a Che 7 stack on osio (using this [raw config](https://gist.github.com/l0rd/2ff9391d9cabbc861d9e7e9102efcaf3))
- Start a workspace based on that stack
- Look at the e

[2018-10-09 08:35] liubin10 opened #11548 "Starting 30 workspaces concurrentyly,sometime one or two workspace can not start up"
### Description

Hi
When I start 30 workspaces concurrently through testing tool, sometimes one or two workspaces can not start up.
And If I raise to 100 starting, the che server will broken down and restart.
So Whether Che can not operate high concurrently ?

[2018-10-09 08:39] slemeur opened #11549 "Support Devfile format to generate a workspace"
# Goal
Today we have two kind of recipes to bootstrap a cloud developer workspace and make it portable: [Chefile](https://www.eclipse.org/che/docs/chefile.html) and [Factories](https://www.eclipse.org/che/docs/factories-getting-started.html#try-a-factory).

Over the last few month, we've been also iterating on the definition of a `devfile` format which defines the different tools needed to develop

[2018-10-09 08:41] slemeur commented on #11549
Related to #4362

[2018-10-09 08:42] garagatyi commented on #11547
Weird. I thought that I had fixed this issue in [this](https://github.com/eclipse/che/commit/46c74a92e7f73a696c59357e397c4064509f0b33) commit which is in 6.12

[2018-10-09 08:43] azatsarynnyy commented on #10609
added validation in https://github.com/eclipse/che/pull/11535

[2018-10-09 08:43] #10609 closed

[2018-10-09 08:44] garagatyi commented on #11547
But yeah, looks like I missed one of the places.

[2018-10-09 08:55] azatsarynnyy commented on #10609
A previously created command, with a not valid name, can be deleted by editing workspace configuration in the dashboard.

[2018-10-09 08:55] benoitf commented on #11438
Hello, how is overlapping https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug  / https://github.com/Microsoft/vscode-java-debug with

- Contribute Java Debug Adapter theia-ide/theia#3059
- Add MS Debug Adapter as a jdt.ls Extension theia-ide/theia#3058

[2018-10-09 08:59] eivantsov commented on #11544
@LahiruT94 I think that it's Windows that somehow messes file permissions. However, I do not have any suggestions on how to fix it.

[2018-10-09 09:15] tsmaeder commented on #11514
This is a know limitation.

[2018-10-09 09:21] SharkJ opened #11552 ""Unsupported notifiction method: textDocument/semanticHighlighting" in Eclipse Che"
I built a custom language server and implemented it as a sidecar in Eclipse che. It is working fine now and detects the grammar as they are. However, the code I type is only displayed as normal text, and does not get highlighted as they should. In the dev-machine terminal, I get the following error instead, every time I type something: -

[WARN ] [o.e.l.j.s.GenericEndpoint 137] -Unsupported notifi

[2018-10-09 09:22] artaleks9 opened #11553 "Investigate the failing selenium test 'PushingChangesTest' on CI job"
### Description
* Sometimes selenium test _PushingChangesTest_ (the _forcePushTest()_ test method)  is failed when run on the CI job via the _'stale element reference'_
* Need to find the solution for it and fix

**See the report:**

https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-master-ocp/423/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.selenium.gitPushing

[2018-10-09 09:22] l0rd opened #11554 "Che plugin broker should support ephemeral mode"
### Description

It is now possible to configure workspace to run in ephemeral mode (i.e. PVs will be of type `EmptyDir`) setting `persistVolumes` attribute to false.

[code]

But Che 7 plugin brokers are still started with PVCs (`broker-config-volume` and `claim-che-workspace`). Can we fix that?

[2018-10-09 09:29] skabashnyuk opened #11555 "Define plugin testing process"
### Description
The issue is we need to provide a place to host meta.yaml and plugin.tar.gz that is under development.

Proposed process.

Define http-server plugin as a sidecar. Define volume /project to this sidecar.
From Environment variable we will configre a root folder to serve for example HTTP_SERVE_FOLDER=web.
During plugin development, a user will have to put his meta.yaml and plugin.tar.

[2018-10-09 09:31] musienko-maxim opened #11557 "Create test for checking display notification with proposition to restart ws agent"
### Description
After implementing new functionality which was described in the issue: https://github.com/eclipse/che/pull/11524 we should check it.

[2018-10-09 09:31] skabashnyuk commented on #10644
added to the list of the Platform team tasks
- [ ] Define plugin testing process https://github.com/eclipse/che/issues/11555
- [ ] Add an ability to use a custom registry for WS.NEXT plugins https://github.com/eclipse/che/issues/11265

[2018-10-09 09:36] artaleks9 opened #11558 "Investigate the failing selenium test 'ImportWizardFormTest' on CI job"
### Description
* Sometimes selenium test _ImportWizardFormTest_ (it may be different test methods)  is failed when run on the CI job from the _'stale element reference'_
* Need to find the solution for it and fix

**See the report:**

https://ci.codenvycorp.com/view/qa-nightly/job/che-integration-tests-multiuser-master-docker/374/Selenium_20tests_20report/failsafe-report.html#org.eclipse.che.sele

[2018-10-09 09:39] garagatyi commented on #11555
Looks good

[2018-10-09 09:41] l0rd commented on #11555
@skabashnyuk
- When you say `Define http-server plugin as a sidecar` you mean `Add a che-plugin-server as a workspace plugin`? Or `Add an http-server as a workspace plugin`?
- `Define volume /project` you mean `Mount folder /projects as a volume`?

[2018-10-09 09:43] garagatyi commented on #11547
@l0rd can you try to add workspace config attribute `che.server.secure_exposer=default` and check whether workspace would start?

[2018-10-09 09:44] l0rd commented on #11555
The problem with having an http-server or che-plugin-registry in a workspace is that it won't work if we need to restart the workspace. It should be a separate pod.

[2018-10-09 09:47] garagatyi commented on #11554
@l0rd Since broker is running in a pod separate from workspace pods how would we deliver plugins into the workspace? Looks like we would need to redesign the flow to achieve this. WDYT?

[2018-10-09 09:47] skabashnyuk commented on #11555
Not sure I understand  a difference. I meant https://www.npmjs.com/package/http-server as a server-side Che-plugin

yes

What for? I think if it's not related to workspace it's closer to prod mode then dev.

[2018-10-09 09:48] AndrienkoAleksandr opened #11559 "[Regression] Unable to start hosted plugin instance for Theia"
### Description
yarn run v1.10.1 error An unexpected error occurred: "EACCES: permission denied, open '/home/theia/.npmrc'". info If you think this is a bug, please open a bug report with the information provided in "/home/theia/yarn-error.log". info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

### Reproduction Steps
1. Import some plugin.
2. "Ctrl + Shift + P"

[2018-10-09 09:49] garagatyi commented on #11555
I forgot my own argument) Mario is correct! Since broker is working before workspace is up we can not use registry as part of the workspace.

[2018-10-09 09:59] l0rd commented on #11549
Some thoughts:

- I think that stories 1. and 4. are related (it's about a new API), and 2. and 3. are related as well (about the client that call these API, the user dashboard). I think that 1. and 4. are prerequisites and should be handled with higher priority. And probably 2. and 3. will be implemented by a different team. Maybe we should split them in 2 different epics?

- What it's expected i

[2018-10-09 09:59] benoitf commented on #11559
sorry for the error.
Fixed by https://github.com/eclipse/che/pull/11531

[2018-10-09 10:04] skabashnyuk commented on #11555
@l0rd @garagatyi

Restart is not a problem since all data will be saved on the /project volume.
Or may be you want to consider availability of the data when workspace are STOPPED?

[2018-10-09 10:10] skabashnyuk commented on #11555
Small addition after a talk with @garagatyi . I thought that the newly developed plugin will be tested as part of a separate workspace. Where in workspace configuration we will define a reference to resources served by http-server sidecar of the first workspace.

[2018-10-09 10:28] l0rd commented on #11554
@garagatyi yes. That's what I am worried about. But in the new theia-plugin-broker we should not need to deliver plugins anymore don't we?

[2018-10-09 10:29] l0rd commented on #11504
Related to https://github.com/eclipse/che/issues/11476

We can't support templates until we are able to split runtimes in separate pods.

[2018-10-09 10:32] #11390 closed

[2018-10-09 10:36] #11559 closed

[2018-10-09 10:49] l0rd commented on #11547
You mean `"che.server.secure_exposer": "default"`? Yes it worked

[2018-10-09 10:53] garagatyi commented on #11547
So, it is a workaround for the time being. I created a proper fix upstream and we will be able to deliver it as a bug fix version later

[2018-10-09 10:55] garagatyi commented on #11504
I don't understand why separation of the runtime is a concern. I think that we can embed sidecars into the user's app.

[2018-10-09 10:55] garagatyi commented on #11504
But separating it would be definitely easier, so it might not make sense to just spend time on that at the moment

[2018-10-09 10:58] garagatyi commented on #11555
If we put a meta.yaml file to the plugins or projects volume we can implement fetching the stuff from it in the broker.

[2018-10-09 10:59] garagatyi commented on #11554
Actually, we need it. Theia reads metadata from the plugins `package.json` files.

[2018-10-09 11:00] garagatyi commented on #11554
@benoitf could you comment whether I am correct.

[2018-10-09 11:00] l0rd commented on #11504
Yes sorry you are right. We can support Templates. But we definitely can't support Controllers as DeploymentConfig, Job and StatefulSet that you usually find in a Template.

[2018-10-09 11:15] l0rd commented on #11555
I would avoid using volumes among pods as much as possible for the well known problems we have on real clusters.

- The tar.gz can be copied with `oc cp` from the dev container to the httpd server container
- meta.yaml data can be provided as a configmap to the plugin-registry deployment config and restarted: when the `che-plugin-registry` starts it looks at the environment variables and if it fou

[2018-10-09 11:20] mshaposhnik commented on #11017
Done in https://github.com/eclipse/che/pull/11536

[2018-10-09 11:20] #11017 closed

[2018-10-09 11:30] gazarenkov commented on #11504
From my side - convenient way of tools injecting is out of scope.
Simply adding/removing side-containers looks acceptable if I can use in my Workspace env exactly the same deployment (recipe) as supposed to be in staging/prod.
For the time it is not the case and IMO it is blocker for real life development.

As a side comment - yes, "side-pods" looks more attractive than "side-containers" but IMHO

[2018-10-09 12:26] skabashnyuk opened #11562 "Weird error during creating a factory from workspaces made from ws.next stacks"
### Description
Weird error during creating a factory from workspaces made from ws.next stacks
### Reproduction Steps
1. Create workspace from  ws.next stacks
![2018-10-09 15 23 38](https://user-images.githubusercontent.com/1614429/46669240-8e439100-cbd7-11e8-8b20-0e5a5c900ee3.png)
2. Add some project to this workspace.
3. Try to create a workspace.
![2018-10-09 15 11 05](https://user-images.githu

[2018-10-09 12:31] tsmaeder opened #11563 "Che-in-Che Stack cannot build Che"
I created a workspace based on the che-in-che stack in Che 6. I imported che from github and invoked "mvn clean install" on the root dir.
The build failed in tests becuase the tests use both "ping" and "docker", both of which are not installed in the workspace.

[2018-10-09 12:31] amiramw commented on #9441
@tsmaeder
On Theia do you plan to have a dedicated LSP agent to communicate with the client? (which was done by the workspace agent)

[2018-10-09 12:45] Ohrimenko1988 opened #11564 "Unexpected fail of "AutocompleteFeaturesInEditorTest" selenium test"
### Description
We have unexpected fail of "AutocompleteFeaturesInEditorTest" selenium test. It looks like something went wrong with a method which clicks on item in the "Project Explorer". We should investigate and resolve this problem.

**Log:**
[code]

**Screenshot:**
![qwqr](https://user-images.githubusercontent.com/22724619/46670220-45d9a280-cbda-11e8-8d9a-7aedfde1c779.png)

**Report with rep

[2018-10-09 12:54] garagatyi commented on #11562
I think it is related to the absence of a project in your factory.

[2018-10-09 13:38] #11484 closed

[2018-10-09 13:40] skabashnyuk commented on #11562
@garagatyi  project config exists.

[2018-10-09 13:41] #10962 closed

[2018-10-09 13:41] #10937 closed

[2018-10-09 13:41] #10936 closed

[2018-10-09 13:42] #10935 closed

[2018-10-09 13:42] #10932 closed

[2018-10-09 13:42] #10948 closed

[2018-10-09 14:19] SkorikSergey opened #11568 "[ JDT LS ] Unexpected delay before a command starting"
**Note**
The bug is actual for this assembly:
https://github.com/eclipse/che/pull/10863

### Reproduction Steps
1. Create workspace from **Java** stack with **web-java-spring** project.
2. Disable **Java language server** and start this workspace.
3. Wait for the **IDE** is ready to work.
4. Start any command.

**Expected behavior:**
A new tab with command name appeared in the **Processes** tab. C

[2018-10-09 14:34] fpmJamesReeves commented on #11447
I was able to finally get into my workspace.  Initially it would not load and get the errors below.  I was able to stop the workspace but could not get it to start again BUT I was able to "Open" it and it brought up my workspace with no problems.

After I got my workspace up I immediately download all the source code.  I do plan on connecting it to Github soon.

Thank you so much for your assistan

[2018-10-09 17:08] ElectroGamez commented on #11541
Got it fixed, did a fresh install and opened port 32768. Just tried the single port mode, Did not really work, not sure why. But I will deal with that later. Thanks.

[2018-10-09 17:08] #11541 closed

[2018-10-09 18:36] #11433 closed

[2018-10-09 21:54] amisevsk commented on #11447
@fpmJamesReeves I'm so glad you were able to recover your code.

The failed loading and having to restart it is somewhat expected -- what happened behind the scenes is that Che cleaned up the old OpenShift resources and then recreated them when you restarted. Not ideal but like so many things, it just needed to be turned off and on again :).

[2018-10-10 02:43] lf1029698952 commented on #11107
@eivantsov Hello, I find che-server access log have many websocket 401 code, How to config keycloak in mutil-user? Thanks very much.
![image](https://user-images.githubusercontent.com/11751263/46709893-58a2b480-cc78-11e8-91e2-b563ea01d161.png)

[2018-10-10 03:04] SharkJ commented on #11527
Is there any way to persist a stack instead of adding it to the assembly?

[2018-10-10 05:55] skabashnyuk commented on #11527
@SharkJ yes https://www.eclipse.org/che/docs/stacks.html#stack-sharing-and-system-stacks

[2018-10-10 06:19] sleshchenko commented on #11107
@lf1029698952 This error means that wsagent tomcat failed to start of it is unavailable for Che Server. Could you check workspace agents logs in `/workspace_logs/ws-agent/logs/catalina.log`?

[2018-10-10 06:35] skabashnyuk commented on #11527
Let me know if its working/not working for you. AFAIK @eivantsov checked this functionality when he edited this document

[2018-10-10 06:56] skabashnyuk commented on #11555
I think we need to make a step back and talk about prerequisites.
1. Do we want to have a generic workflow or just something quick and dirty just to see how it works?
2. Do we want to have something similar for OpenShift, kubernetes, docker?
3. Do we want to have this process limited to only one workspace or we can use two. I think
   might be some corner cases then developing and testing in the s

[2018-10-10 06:59] sleshchenko opened #11571 "A lot of `Closing unidentified session` warnings after Che Deployment Rollout"
### Description
There is a lot of `Closing unidentified session` warnings after Che Deployment Rollout if there is an active client (browser tab with Che Server).
If this warning is meaningful then need to investigate or fix an issue, otherwise, such information should be logged with debug logging level.

### Reproduction Steps
1. Deploy Che on OpenShift.
2. Log in Che, create a workspace and star

[2018-10-10 07:03] eivantsov commented on #11107
@sleshchenko that's exec agent but it does not matter.

@lf1029698952 do you see ingresses created when a workspace starts? There's some sort of a connectivity issue I think. If all processes start ok in a workspace (you may exec into ws pod and run ps ax there) it's Che master that cannot verify an agent is up. Make sure ingresses can bereached from within pods

[2018-10-10 07:19] mshaposhnik commented on #11265
@garagatyi @l0rd
A few questions appeared during issue analysis:
 - Should we consider duplicate and reject plugins with same id + version but different registry?
-  Sholud we expect a specified registry protocol (http/https) or  try to recognize it ?

[2018-10-10 07:21] sleshchenko commented on #11571
@dkuleshov Maybe you know what it happens?

[2018-10-10 07:47] sleshchenko opened #11572 "Display installers logs when a workspace is starting"
### Description
Now, we don't see any output during bootstrapping phase and if start failed because `server` is not available it requires few more actions to get installers logs and check if something failed or there are some networking issues.

It makes sense to display installers logs when a workspace is starting.
Installers logs are kind of low level logs, and it makes sense not to show them by

[2018-10-10 08:34] tsmaeder commented on #11537
Looks like this is a performance issue: we are trying to get the list of maven projects after we have imported the project. This fails with a timeout because jdt.ls is busy handling "didChangeWatchedFiles" message.

[2018-10-10 08:47] SharkJ commented on #11527
I do not find the permission tab in swagger. What do you think the reason must be? I ran the browser as administrator, but it made no difference.

[2018-10-10 08:54] SharkJ commented on #11527
The other thing I do not understand is the location where I should change the che.env file. Do I need to clone the che repo and rebuild it after I change the che.env file, or can I do it without cloning the che repo at all?

[2018-10-10 09:10] eivantsov commented on #11527
@SharkJ it's in your local directory that you mounted into `:/data` when starting Che.

[2018-10-10 09:20] #10551 closed

[2018-10-10 09:20] #9903 closed

[2018-10-10 09:30] SharkJ commented on #11527
@eivantsov Once I changed che.env, I need to restart che with the same `:/data ` path, am I correct?

[2018-10-10 09:56] garagatyi commented on #11146
@l0rd @benoitf To be on the same page I would want to sync on the expectations for the current stage.
We decided:
1. Use 1 sidecar container for 1 remote plugin
2. Get plugin info from meta.yaml in the plugin registry
3. Get sidecar info (dockerimage, etc) from tar.gz archive of the plugin. Link to the archive should be in meta.yaml.
4. Theia broker should
   - Unpack archive
   - Copy it to plugi

[2018-10-10 09:57] SharkJ commented on #11527
![permission](https://user-images.githubusercontent.com/23653853/46728618-d7abe300-cca0-11e8-8a19-a9133ce3bc6a.png)
 This is what I get when I try to access "/swagger/#!/permissions" as stated in "https://www.eclipse.org/che/docs/stacks.html#stack-sharing-and-system-stacks".
Why don't I get the permissions tab?

[2018-10-10 09:58] eivantsov commented on #11527
@SharkJ is it single user Che?

[2018-10-10 09:59] SharkJ commented on #11527
@eivantsov Yes it is. Is that the reason?

[2018-10-10 10:01] benoitf commented on #11146
I thought that we decided that broker was working directly with .theia file (no .tgz archive) and info coming from package.json inside the .theia file. (.theia file is a zip file)

about 4. when we discussed we agreed on
broker:
 - download all theia plugins, unpack them in /plugins/<folder-name-plugin1>, /plugins/<folder-name-plugin2>
- assign some ports like 10000, 10001, 10002 for every theia e